<div class="<%#= tab %>">
	<div class="table-responsive">
		<h5>API: https://quickcard.herokuapp.com/api/wallets/virtual_debit_charge</h5>
		<%= form_tag submit_vt_api_admins_merchant_apis_path(tab:params[:tab]), class: "form" do |form|%>
		<%= hidden_field_tag 'api','base_url/api/wallets/virtual_debit_charge'%>
		<!-- <div class="form-group"> -->
			<%#= label_tag 'Auth Token',"Auth Token", for: "auth_token_field" %>
			<%#= hidden_field_tag 'auth_token',"", class: "form-control",id: "sign_up_auth_token_field"%>
		<!-- </div> -->
		<div class="form-group">
			<%= label_tag 'Amount',"Amount", for: "amount_field" %>
			<%= number_field_tag 'amount',"", class: "form-control",id: "amount_field"%>
		</div>
		<div class="form-group">
			<%= label_tag 'Bank',"Bank", for: "bank_field" %>
			<%= text_field_tag 'bank',"", class: "form-control",id: "bank_field"%>
		</div>
		<!--<div class="form-group">-->
			<!--<%#= label_tag 'Wallet Id',"Wallet Id", for: "wallet_id_field" %>-->
			<!--<%#= number_field_tag 'wallet_id',"", class: "form-control",id: "wallet_id_field"%>-->
		<!--</div>-->
		<div class="form-group">
			<%= label_tag 'Tip',"Tip", for: "tip_field" %>
			<%= number_field_tag 'tip',"", class: "form-control",id: "tip_field"%>
		</div>
		<div class="form-group">
			<%= label_tag 'Last 4',"Last 4", for: "last4_field" %>
			<%= number_field_tag 'last4',"", class: "form-control",id: "last4_field"%>
		</div>
		<div class="form-group">
			<%= label_tag 'Terminal Id',"Terminal Id", for: "terminal_id_field" %>
			<%= text_field_tag 'terminal_id',"", class: "form-control",id: "terminal_id_field"%>
		</div>
		<div class="form-group">
			<%= label_tag 'Transaction Number',"Transaction Number", for: "transaction_number_field" %>
			<%= text_field_tag 'transaction_number',"", class: "form-control",id: "transaction_number_field"%>
		</div>
		<div class="form-group">
			<%= submit_tag 'Submit', class: "btn btn-default"%>
		</div>
		<% end %>
		<br>
		<% if params[:amount].present? and params[:bank].present? and params[:tip].present? and params[:last4].present? and params[:terminal_id].present? and params[:transaction_number].present?  %>
		<hr>
		<h5>Your Requested Parameters:</h5>
		<p>Amount: <%= params[:amount] %> </p>
		<p>Bank: <%= params[:bank] %> </p>
		<!--<p>Wallet Id: <%#= params[:wallet_id] %> </p>-->
		<p>Tip: <%= params[:tip] %> </p>
		<p>Last 4: <%= params[:last4] %> </p>
		<p>Terminal Id: <%= params[:terminal_id] %> </p>
		<p>Transaction Number: <%= params[:transaction_number] %> </p>
		<% end %>
		<br>
		<hr>
		<h5>Your Response</h5>
		<% if params[:response_data].present? %>
			<p><%= params[:response_data] %></p>
		<% end %>
	</div>
</div>