<div class="table-responsive">
  <%= form_tag submit_vt_api_admins_merchant_apis_path, class: "form" do |form|%>
      <div class="form-group">
        <%= label_tag 'Client ID',"Client ID", for: "client_id_field" %>
        <%= text_field_tag 'client_id',@app_config.client_id, class: "form-control",id: "client_id_field"%>
      </div>
      <div class="form-group">
        <%= label_tag 'Client Secret',"Client Secret", for: "client_secret_field" %>
        <%= text_field_tag 'client_secret',@app_config.client_secret, class: "form-control",id: "client_secret_field"%>
      </div>
      <div class="form-group">
        <%= submit_tag 'Save', class: "btn btn-default"%>
      </div>
  <% end %>
  <br>
  <hr>
</div>