<div class="<%#= tab %>">
	<div class="table-responsive">
		<h5>API: https://quickcard.herokuapp.com/api/registrations/virtual_terminal_transaction</h5>
		<%= form_tag submit_vt_api_admins_merchant_apis_path(tab:params[:tab]), class: "form" do |form|%>
		<%= hidden_field_tag 'api','base_url/api/registrations/virtual_terminal_transaction'%>
		<!-- <div class="form-group"> -->
			<%#= label_tag 'Auth Token',"Auth Token", for: "auth_token_field" %>
			<%#= hidden_field_tag 'auth_token',"", class: "form-control",id: "sign_up_auth_token_field"%>
		<!-- </div> -->
        <div class="form-group">
          <%= label_tag 'Amount',"Amount", for: "amount_field" %>
          <%= number_field_tag 'amount',"", class: "form-control",id: "amount_field"%>
        </div>
        <div class="form-group">
          <%= label_tag 'Card Number',"Card Number", for: "card_number_field" %>
          <%= text_field_tag 'card_number',"", class: "form-control",id: "card_number_field"%>
        </div>
        <div class="form-group">
          <%= label_tag 'Card CVV',"Card CVV", for: "zip_code_field" %>
          <%= text_field_tag 'card_cvv',"", class: "form-control",id: "card_cvv_field"%>
        </div>
        <div class="form-group">
          <%= label_tag 'Card Holder Name',"Card Holder Name", for: "card_name_field" %>
          <%= text_field_tag 'card_holder_name',"", class: "form-control",id: "card_holder_name_field"%>
        </div>
        <div class="form-group">
          <%= label_tag 'Card Exp Date',"Card Exp Date", for: "exp_date_field" %>
          <%= text_field_tag 'card_exp_date',"", class: "form-control",id: "exp_date_field"%>
        </div>
        <div class="form-group">
          <%= submit_tag 'Submit', class: "btn btn-default"%>
        </div>
    <% end %>
    <br>
    <% if params[:card_number].present? and params[:card_exp_date].present? and params[:card_cvv].present? and params[:card_holder_name].present? and params[:amount].present? %>
        <hr>
        <h5>Your Requested Parameters:</h5>
        <p>Amount: <%= params[:amount] %> </p>
        <p>Card Number: <%= params[:card_number] %> </p>
        <!--<p>Wallet Id: <%#= params[:wallet_id] %> </p>-->
        <p>Card Holder Name: <%= params[:card_holder_name] %> </p>
        <p>Card CVV: <%= params[:card_cvv] %> </p>
        <p>Card Exp Date: <%= params[:card_exp_date] %> </p>
    <% end %>
    <br>
    <hr>
    <h5>Your Response</h5>
    <% if params[:response_data].present? %>
        <p><%= params[:response_data] %></p>
    <% end %>
  </div>
</div>