.modal-dialog{
    width: 90% !important;
}

.panel-title-div{
    font-size: 18px;
    font-weight: bold;
}
.clickable{
    cursor: pointer;
}

.panel-heading span {
    margin-top: -20px;
    font-size: 15px;
}
.color-parrot-amount{
    color: chartreuse;
}
.mergin-left-10{
    margin-left: 10px;
}
.margin-right-10{
    margin-right: 10px;
}
.height-300{
    height: 300px;
    overflow: auto;
}
.padding-left-10-perc{
    padding-left: 10%;
}
.font_size_34px{
    font-size: 34px;
}
.color-light-black{
    color: grey;
}

.no-disposition:before {
    border-bottom: 3px solid #abb2b6;
    content: '';
    left: -4px;
    position: absolute;
    top: 12px;
    transform: rotate(135deg);
    width: 36px;
}

.cr-p-manual-review{
    color: #4f5f6f;
    background-color: white;
    border: 2px solid #4f5f6f;
}

.cr-expired-review{
    background-color: grey;
    color: white;
    border: 2px solid grey;
}
.status_btn{
    width: 4% !important;
    height: 4% !important;
}
.panel-heading{
    color: black !important;
    background: #c7c4be !important;
    border-color: transparent !important;
    height: 40px;
}
.panel-body{
    background: #f9f9f8;
}
td{
    font-size: 14px;
    line-height: 2 !important;
}

.m-index-st-17{
    /*color: darkgray;*/
    /*text-align: center;*/
    display: block;
}

.padding-t-b-20-px-minfraud{
    padding-top: 20px;
    padding-bottom: 20px;
}
.padding-l-r-4-minfraud{
    padding-left:4%;
    padding-right:4%;
}
.m-index-st-18{
    background: white;
}

.modal-dialog-minfraud{
    max-width: 1100px;
    margin: 30px auto;

}
.modal-header{
    background-color: #7867a7 !important;
    color: #ffffff;
}

.risk-status-section{
    /*border: 2px solid darkgrey;*/
    border-radius: 5px;
    min-width: 100%;
    /*min-height: 150px;*/
}

.risk-score-ip-section{
    font-weight:bold;
    font-size:13px;
}

.risk-score-section{
    background-color: white;
    border: 2px solid darkgrey;
    border-radius: 5px;
    min-width: 100%;
    /*min-height: 150px;*/
}

/*====================*/
/*status section start*/
/*====================*/
.cr-red{
    color:white;
    background-color: red;
    border: 1px solid red;
}

.cr-green{
    color:white;
    background-color: lawngreen;
    border: 1px solid lawngreen;
}

.mr-red{
    color:white;
    background-color: red;
    border: 1px solid red;
}

.mr-green{
    color:white;
    background-color: lawngreen;
    border: 1px solid lawngreen;
}

.risk-evaluation{
    border-radius: 4px;
    /*padding:10px;*/
    font-size:15px;
    font-weight:800;
}

.a-green{
    color:white;
    background-color: lawngreen;
    padding: 5px 9px;
    border: 1px solid lawngreen;
}

.r-red{
    color:white;
    background-color: red;
    padding: 5px 9px;
    border: 1px solid red;
}
.status-text{
    padding: 5px 15px !important;
    text-align: center !important;
}

.no-disposition{
    position: relative;
    padding: 5px 12px;
    border: 2px solid #abb2b6;
}

.no-disposition:before {
    border-bottom: 3px solid #abb2b6;
    content: '';
    left: -4px;
    position: absolute;
    top: 12px;
    transform: rotate(135deg);
    width: 36px;
}

.cr-p-manual-review{
    color: #4f5f6f;
    background-color: white;
    border: 2px solid #4f5f6f;
}

.cr-expired-review{
    background-color: grey;
    color: white;
    border: 2px solid grey;
}

/*===================*/
/*status section end*/
/*===================*/

.bold-minfraud{
    font-weight: bold;
}

/*========================*/
/*paneling styles start*/
/*========================*/
[data-toggle="collapse"] .fa:before {
    content: "\f139";
}

[data-toggle="collapse"].collapsed .fa:before {
    content: "\f13a";
}
.card-body{
    padding: 0;
    background: #f9f9f8;
}
.card .card-header{
    background: #c7c4be;
    min-height:35px;
}
.card-header:first-child{
    border-radius: 0px;
}

.width-40{
    width:50% !important;
}

.width-10{
    width:10% !important;
}

/*========================*/
/*paneling styles end*/
/*========================*/
.modal-dialog-minfraud{
    max-width: 90%;
}
.transaction_section{
    border-radius:15px;
    background: #f9f9f8;
}

.fa-check-circle{
    font-size: 25px !important;
    color: rgb(126, 211, 33);
}

.fa-exclamation-triangle{
    color: #f59223;
    font-size: 25px !important;
}
.status_btn{
    width: 4% !important;
    height: 4% !important;
}
.margin-left-order-22{
    margin-left: 28%;
}
.margin-left-order-10{
    margin-left: 10%;
}
.margin-left-order-15{
    margin-left: 14%;
}
.order-detail-padding{
    padding-bottom: 2%;
}
.width-inherit{
    width: inherit;
}
.color-parrot-amount{
    color: chartreuse;
}
.mt-5{
    margin-top: 5%;
}
.mt-1{
    margin-top: 1%;
}

.popover.popover-top, .popover.bs-tether-element-attached-bottom{
    min-width: 500px !important;
    left: -3% !important;
}