.modal-open {
    padding-top: 0px !important;
}

/*table{*/
/*    width: 100%!important;*/
/*    clear: both;*/
/*    margin: 0;*/
/*    border-collapse: collapse;*/
/*    table-layout: fixed;*/
/*    word-wrap:break-word;*/
/*}*/
.dataTables_wrapper .dataTables_paginate {
    padding : 10px;
}
.dataTables_wrapper .dataTables_paginate .paginate_button {
    padding : 0px;
    margin-left: 0px;
    display: inline;
    border: 0px;
}
.dataTables_wrapper .dataTables_paginate .paginate_button:hover {
    border: 0px;
}
#datatable-keytable{
    width: 100% !important;
}
/*#1more-transactions{*/
/*    float: right;*/
/*    padding: 10px;*/
/*    margin-right: 10px;*/
/*    margin-top: -100px;*/
/*    border-radius: 5px;*/
/*}*/
div.table-responsive>div.dataTables_wrapper>div.row{
    margin: 0;
    margin-top: 20px;
    margin-bottom: 20px;
}
.col-md-7{
    margin-right: 1px;
}
.capital{
    text-transform: capitalize;
}
.ms-choice{
    border: 0 !important;
    outline: none !important;
}
.users_tabs > li > a {
    border: none;
    outline: none;
    padding: 10px 16px;
    background-color: lightgrey;
    cursor: pointer;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.users_tabs > li > a:hover {
    background-color: #8171ae;
    color: white;
}
.users_tabs > li.active > a, .users_tabs > li.active > a:focus {
    background: #1c165c;
    color: white;
}
@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px) {
    .dropdown-menu{
        left: -107px;
    }
}
.dropdown-menu > li > a {
    background-color: whitesmoke;
    color: #000000 !important;
    background-image: none;
}
.dropdown-menu > li > a:hover {
    background-color: #7867a7;
    background-image: none;
}
.daterangepicker.ltr.show-calendar.opensright{
    width: max-content !important;
}


/*============================*/
/*moving inline styles start*/
/*============================*/
.top-30-px-shared{
    top:30px;
}

.padding-left-0-px-shared{
    padding-left: 0px !important;
}

.margin-left-3-px-shared{
    margin-left: 3px !important;
}

.padding-top-7-px-shared{
    padding-top: 7px !important;
}

.margin-top-5-px-shared{
    margin-top:5px !important;
}

.margin-top-10-px-shared{
    margin-top:10px !important;
}
.margin-top-15-px-shared{
    margin-top:15px !important;
}

.margin-bottom-n-16-px-shared{
    margin-bottom: -16px !important;
    margin-left: 0px !important;
}

.margin-bottom-30-px-shared{
    margin-bottom: 30px !important;
}

.font-size-20-px-shared{
    font-size: 20px !important;
}
.font-weight-bold-shared{
    font-weight: bold !important;
}

.font-size-16-px-shared{
    font-size: 16px !important;
}

.refund-text-area-shared{
    display: none;font-size: 14px;
}
.transaction-admin-form-shared{
    border: 1px solid lightgray !important;
}

.float-left-shared{
    float: left !important;
}

.refund-modal-dialog-shared{
    z-index: 99999999999 !important; overflow-y:auto;
}

.refund-confirmation-dialog-shared{
    z-index: 2147483647 !important;
}
.width-500-px-shared{
    width:500px !important;
}

.height-overflow-x-shared{
    height: auto;overflow-x: hidden;
}

.refund-modal-content-shared{
    width: 500px !important; height: 0%; overflow-x: hidden;
}

.background-color-424242-shared{
    background-color: #424242;
}
.background-color-whitesmoke-shared{
    background-color: whitesmoke !important;
}

.background-color-red-shared{
    background-color: red !important;
}

.color-ffffff-shared{
    color: #ffffff;
}

.refund-modal-body-shared{
    background-color: whitesmoke;margin-bottom: -16px; padding: 0px !important; padding-left: 10px !important;
}

.partial-error-shared{
    padding-left: 10px;padding-right: 10px;display: none;
}

.fa-info-circle-shared{
    font-size: 13px;text-align: center;font-weight: bold;
}

.pagination-hidden-style-shared{

}
/*============================*/
/*moving inline styles end*/
/*============================*/