.bg-primary1{
    color: #fff !important;
    background-color: #0275d8 !important;
}

.width-500-px-admin-export-modal{
    width:500px !important;
}

.float-left-admin-export-modal{
    float:left !important;
}

.display-none-admin-export-modal{
    display:none;
}
.background-whitesmoke-admin-export-modal{
    background-color: whitesmoke;
}

.admin-styles-export_modal{
    padding: 15px !important;
}

.margin-bottom-n-16-px-admin-export-modal{
    margin-bottom: -16px;
}

.font-size-16-admin-export-modal{
    font-size:16px;
}

.font-size-13-admin-export-modal{
    font-size:13px;
}

.color-red-admin-export-modal{
    color:red;
}

.margin-top-5-px-admin-export-modal{
    margin-top:5px;
}

.fa-info-circle-p-admin-export-modal{
    color: red;text-align: left;font-weight: bold;
}

.export-print-admin-export-modal{
    text-align: center;font-weight: 700;
}