
<div class="no-padding col-md-12">
  <!--  <div class="col-md-6">-->
  <div class="no-padding col-md-6">
    <label for="email_address"><span class="darkred">*</span><span class="purple"> Email Address</span></label>
    <%= email_field_tag :email_address, location_email, placeholder: "Enter Email Address", class: "form-control" %>
  </div>
  <div class="col-md-6">
    <label for="amount"><span class="darkred">*</span><span> Amount </span></label>
    <%= number_field_tag :amount,nil, placeholder: "Amount", class: "form-control", :step => 0.01 , required: true %>
  </div>
  <!--  </div>-->
</div>
<br/>
<div class="no-padding col-md-12">
  <div class="col-md-6">
    <label class="no-padding"><span>Account Type</span></label>
    <%= select_tag("bank_account_type",
                   options_for_select(Location.bank_account_types.keys.map {|a| [a.humanize, a]}, bank_account_type),
                   class:"form-control",
                   :include_blank=> "Choose"
        )%>
  </div>
  <div class="col-md-6">
    <label for="bank_routing"><span class="darkred">*</span><span> Routing Number</span></label>
    <%= text_field_tag :bank_routing,bank_routing, placeholder: "Enter Account Number", class: "form-control" %>
    <p id="routing-error" class="open-error" ></p>
    <div id="success-div" class="alert alert-success" role="alert"> </div>
  </div>
</div>
<div class="col-md-12">
  <div class="col-md-6">
    <label for="account_number"><span class="darkred">*</span><span> Account Number</span></label>
    <%= text_field_tag :bank_account,bank_account, placeholder: "Enter Account Number",type:"password", class: "form-control password-field", id:"", autocomplete: 'off' %>
    <span toggle=".password-field" class="fa fa-fw fa-eye field-icon my-password"></span>
  </div>
  <div class="col-md-6">
    <label for="confirm_account_number"><span class="darkred">*</span><span>Confirm Account Number</span></label>
    <%= text_field_tag :confirm_bank_account,bank_account, placeholder: "Enter Account Number",id: "myInput",type:"password", class: "form-control password-field", autocomplete: 'off' %>
  </div>
</div>
<br>
<div class="no-padding col-md-12">

  <div class="col-md-6">
    <label for="description"><span> Description</span><span class="darkred"> *</span></label>
    <%= text_area_tag :description, nil, placeholder: "Enter Description Here", class: "form-control" %>
  </div>
</div>

<script>
    $(document).ready(function () {
        $('#amount').keypress(function(event) {
            if ((event.which != 46 || $(this).val().indexOf('.') != -1)&&(event.which < 48 || event.which > 57)) {
                if((event.which != 46 || $(this).val().indexOf('.') != -1)){
                }
                event.preventDefault();
            }
            if(this.value.indexOf(".")>-1 && (this.value.split('.')[1].length > 1))		{
                event.preventDefault();
            }
        });
    });
    $('#bank_routing').blur(function(){
        var routing_number=$(this).val();
        get_bank_by_routing_number(routing_number, "<%= admins_get_bank_by_routing_number_ach_path %>");
    });
    $(document).ready(function () {
        $('input#myInput').bind('copy paste', function (e) {
            e.preventDefault();
        });
        $(".my-password").click(function() {
            $(this).toggleClass("fa-eye fa-eye-slash");
            var input = $($(this).attr("toggle"));
            if (input.attr("type") == "password") {
                input.attr("type", "text");
            } else {
                input.attr("type", "password");
            }
        });
    });
</script>