<%= select_tag( "location_id",
                options_for_select(@locations.map{|loc| [loc.business_name, loc.id]}),
                class: "form-control",
                data: {
                        remote: true,
                        url: admins_instant_pay_location_data_path
                },include_blank: "Choose location"
    ) %>