
<div class="row card-box">
  <div class="box-header">

    <div class="col-md-12"></div>
    <p id="batches_p">Push to Card Batches</p>
    <div class="pull-right" id="batches_div" >

      <div id="batches_div1" class="pull-right">
        <div id="batches_div2">
          <label class="switch"> Push to Card
            <%= check_box_tag 'boolValueDebit', true, @debit_deposit.boolValue %>
            <span class="slider round" id="batches_span"></span>
          </label>
        </div>
      </div>


    </div>
  </div>
  <div class="card-box-internal">
    <div class="card sameheight-item items" data-exclude="xs,sm,lg">
      <section class="example">
        <div class="">
          <div class="table-responsive">
            <table id="batch_table" class="table table-striped table-bordered center-text" cellspacing="0" cellpadding="0">
              <thead>
              <tr class="header-row text-center">

                <th>Date</th>
                <th>Total Req.</th>
                <th>Funding Amount</th>
                <th>Fees</th>
                <th>Total</th>
                <th>Status</th>
                <th width="130px"></th>
              </tr>
              </thead>
              <tbody>
              <% @ach_batches.each do |batch_key,batch_value| %>
                  <tr>
                    <!--                <td><input type="checkbox" name="vehicle1" value="Bike"></td>-->
                    <td class="timeUtc"><%= batch_key.strftime("%m-%d-%Y")%></td>
                    <td><%= batch_value.count %></td>
                    <% total_funding_amount = batch_value.map{|a| a.actual_amount if a.pending? }.compact.inject(0){|sum,x| sum + x } %>
                    <td>$ <%= number_with_precision(total_funding_amount.to_f, :precision => 2, delimiter: ',') %></td>
                    <td>$ <%= number_with_precision(0, :precision => 2, delimiter: ',') %></td>
                    <% total_amount = batch_value.map{|a| a.amount }.compact.inject(0){|sum,x| sum + x } %>

                    <td>$ <%= number_with_precision(total_amount.to_f, :precision => 2, delimiter: ',') %></td>
                    <td><% status = check_batch_status(batch_value) %>
                    <% if status == "Complete" %>
                        <span class="badge badge-success" id="complete_status"><%= status %></span>
                    <% else %>
                        <span class="badge badge-info" id="complete_status1"><%= status %></span>
                    <% end %>
                    <td>
                      <% ids = batch_value.map {|a| a.id } %>
                      <%= link_to("View", admins_instant_pay_index_path(ach_ids: ids,batch_date: batch_key) , :class => "btn btn-default view_btn") %>
                    </td>
                  </tr>
              <% end %>
              </tbody>
            </table>
          </div>
          <div class="col-md-12">
            <div class="row">
              <div class="col-md-4"></div>
              <div class="col-md-8">
                <div class="text-right">
                  <%#= paginate @ach_batches , :theme => 'twitter-bootstrap-3', :pagination_class => "pagination-small pagination-centered pull-right padd"%>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>
  </div>
</div>
<section id="achSection"></section>

<script>
    $(document).ready(function () {
        $('#batch_table').DataTable( {
            // "bPaginate": true,
            order: [ [ 0, 'desc' ]],
            columnDefs: [ { orderable: false, targets: [2,1,3,4,5,6] } ]
        } );
    });


    $('#boolValueDebit').change(function () {
        swal({
            title: "Are you sure?",
            type: "warning",
            showCancelButton: true,
            closeOnConfirm: false,
            closeOnCancel: true
        }).then((isConfirm) => {
            var msg = $(this).is(':checked') == true ? 'enabled!' : 'disabled!';
        if (isConfirm.value === true) {
            $.ajax({
                url: "<%= app_configs_path %>",
                type: 'POST',
                data: { id: '<%= @debit_deposit.id %>', key: '<%= @debit_deposit.key %>', boolValue: $(this).checked },
                success: function(data) {
                    swal("Updated!", "Instant Payments are successfully " + msg, "success");
                },
                error: function(error){
                    console.error('Update Deposits Issue Error: ', error);
                    swal("Cancelled", "An unexpected error occured :)", "error");
                }
            });
        } else {
            $(this).prop("checked", !$(this).is(':checked'));
        }
    });
    });


</script>