$('#cover-spin').fadeOut("slow");
$('.instant_pay_data_table').html('').html('<%= escape_javascript render partial: 'admins/instant_pay/data_table', locals: {:achs => @all_achs} %>');
$('#paginator').html('').html('<%= escape_javascript(paginate(@all_achs, :remote => true, :theme => 'twitter-bootstrap-3', :pagination_class => "pagination-small pagination-centered pull-right padd").to_s) %>');
$(".padd").on("click", function () {
    $("#cover-spin").show();
})
    var sort_type = "";
    var create_sort = $("#create_at_sort_value").val();
    if (create_sort !== "") {
        create_sort = create_sort.split("_");
        sort_type = create_sort[1];
        $("#create_at_sort").removeClass();
        $("#create_at_sort").addClass(create_sort);
    }
    if (sort_type === "") {
        sort_type = 'desc'
    }
    $('#ach_table').DataTable({
        "bPaginate": false,
        "searching": false,
        "bInfo": false,
        order: [[2, sort_type]],
        columnDefs: [{orderable: false, targets: [0, 1, 3, 4, 5, 6, 7, 8]}]
    });

$(".padd").on("click", function () {
    $("#cover-spin").show();
});
$(document).ready(function () {
    // Ach Export Start
    var checkedAch = [];
    var unCheckedAch = [];
    checkedAch = $("#p2c_ids").val();
    unCheckedAch = $("#unchecked_ach").val();
    checkedAch = checkedAch.split(",");
    unCheckedAch = unCheckedAch.split(",");
    var page = "<%= params[:page] %>";
    var isAllCheck = $('#all_check').val();
    if(page > 1) {
        if (isAllCheck === "true") {
            $('#all-check').hide()
        }
    }
    if(isAllCheck === "true"){
        $('.all').prop("checked", true);
        $('#all-check').prop("checked", true)
    }else{
        $('.all').prop("checked", false);
    }

    $('.all').on('click', function () {
        var isChecked = $(this).prop("checked");
        var status = $(this).data("status")
        var targetValue = $(this).val();
        if(isChecked){
            checkedAch.push(targetValue)
            unCheckedAch = unCheckedAch.filter(val => !$(this).val().includes(val));
        }
        else{
            unCheckedAch.push(targetValue);
            checkedAch = checkedAch.filter(val => !$(this).val().includes(val));
        }
        if(checkedAch[0] === ""){
            checkedAch.shift();
        }
        if(unCheckedAch[0] === ""){
            unCheckedAch.shift();
        }
        $("#p2c_ids").val(checkedAch)
        $("#unchecked_ach").val(unCheckedAch)
    });
    for(var i = 0; i < unCheckedAch.length; i++){
        $("#checkbox_animated_"+unCheckedAch[i]).prop("checked", false)
    }
    checkedAch = filterVal(checkedAch);
    for(var i = 0; i < checkedAch.length; i++){
        if($("#p2c_status").val() === "PAID"){
            if($("#checkbox_animated_"+checkedAch[i]).data("status") === "PENDING" ){
                $("#checkbox_animated_"+checkedAch[i]).prop("checked", true)
            } else{
                $("#checkbox_animated_"+checkedAch[i]).prop("checked", false)
            }
        } else{
            $("#checkbox_animated_"+checkedAch[i]).prop("checked", true)
        }
    }

    // Ach Export End

    var lt= $('.timeUtc').each(function (i,v) {
        var gmtDateTime = moment.utc(v.innerText,'YYYY-MM-DD HH:mm:ss');
        var local = moment(gmtDateTime).local().format('MM/DD/YYYY hh:mm:ss A');
        v.innerText = local
    });

    function filterVal(val_array){
        checkedAch = []
        checkedAch = val_array.filter(function(elem, index, self) {
            return index === self.indexOf(elem);
        });
        return checkedAch;
    }
});