
<div class="row card-box">
  <div class="box-header">
    <div class="row" id="index-div">
    </div>
    <div class="col-md-12"></div>
    <p id="p2c_heading">Push to Card Transactions</p>
    <div id="p2c_div" class="pull-right">
      <div id="p2c_div1">
        <label id="p2c_label" class="switch"> Under Review
          <% a = @all_achs.pluck(:under_review).uniq %>
          <% val = a.count == 1 && a.try(:first) == true ? true : false %>
          <%= check_box_tag 'boolValue', val, val %>
          <span class="slider round" id="span_p2c"></span>
          <input type="hidden" id="achs_ids" value="<%= params[:ach_ids].present? ? params[:ach_ids] : '' %>">
        </label>
      </div>
    </div>
  </div>
  <div class="card-box-internal">
    <div class="card sameheight-item items" data-exclude="xs,sm,lg">
      <section class="example">
        <div class="batch-info">
          <div class="well col-md-6">
            <table>
              <tr>
                <td colspan="0">
                  <h6 class="text-left">Batch Release Date</h6>
                </td>
                <td>
                  <h6 id="batch_date" class="text-left"><%= params[:batch_date].to_date.strftime("%m/%d/%Y") %></h6>
                </td>
                <td colspan="1">
                  <h6 class="text-left">Batch P2C ID</h6>
                </td>
                <td colspan="2">
                  <h6 class="text-left"><%= params[:batch_p2c_id] %></h6>
                </td>
              </tr>
              <tr>
                <td colspan="0">
                  <h6 class="text-left">Original Batch Amt</h6>
                </td>
                <td>
                  <h6 class="text-left">$<%=number_with_precision(@original_batch_amount, precision: 2, delimiter: ',') %></h6>
                </td>
                <td colspan="0">
                  <h6 class="text-left">Total Requests</h6>
                </td>
                <td>
                  <h6 class="text-left"><%= @all_achs.total_count %></h6>
                </td>
                <td colspan="0">
                  <h6 class="text-left">Total Paid by Wire</h6>
                </td>
                <td>
                  <h6 class="text-left"><%= @paid_by_wire_achs %></h6>
                </td>
              </tr>
              <tr>
                <td colspan="0">
                  <h6 class="text-left">Total Pending Amt</h6>
                </td>
                <td>
                  <h6 class="text-left">$<%=number_with_precision(@total_pending_amount, precision: 2, delimiter: ',') %></h6>
                </td>
                <td colspan="0">
                  <h6 class="text-left">Total Pending</h6>
                </td>
                <td>
                  <h6 class="text-left"><%= @pending_achs %></h6>
                </td>
                <td colspan="0">
                  <h6 class="text-left">Total Failed</h6>
                </td>
                <td>
                  <h6 class="text-left"><%= @failed_achs %></h6>
                </td>
              </tr>
              <tr>
                <td colspan="0">
                  <h6 class="text-left">Total Processed Amt</h6>
                </td>
                <td>
                  <h6 class="text-left">$<%=number_with_precision( @total_process_achs, precision: 2, delimiter: ',') %></h6>
                </td>
                <td colspan="0">
                  <h6 class="text-left">Total Paid</h6>
                </td>
                <td>
                  <h6 class="text-left"><%= @paid_achs %></h6>
                </td>
                <td colspan="0">
                  <h6 class="text-left">Total Void(s)</h6>
                </td>
                <td>
                  <h6 class="text-left"><%= @all_achs.where(status: "VOID").total_count %></h6>
                </td>
              </tr>
            </table>
          </div>
          <div class="col-md-2">
            <%=	form_tag admins_instant_pay_bulk_status_change_path, method: :get do %>
              <label for="ach_gateway_id">Select Push to Card Bank</label>
              <%= select_tag( "ach_gateway_id",
                              options_for_select([[ "Checkbook", "checkbook_io"]]),
                              class: "form-control",
                              include_blank: "Choose Bank"
                  ) %>
              <label for="check_status" id="check_status_label">Status</label>
              <%= select_tag( "p2c_status",
                              # options_for_select([["In Process", "IN_PROCESS"],["Void", "VOID"],["Paid by wire", "PAID_WIRE"],["Paid", "PAID"],["Failed", "FAILED"]]),
                              options_for_select([["Paid", "PAID"],["Paid by wire", "PAID_WIRE"],["Failed", "FAILED"],["Void", "VOID"]]),
                              class: "form-control",
                              include_blank: "Choose Status",
                              ) %>
              </div>
              <div class="col-md-4">
                <div class="row">
                  <div class="col-md-6"></div>

                    <div class="col-md-3 pull-right">
                      <input type="hidden" name="ids" id="p2c_ids">
                      <%= submit_tag "Submit", class: 'btn btn-success pull-right submit_btn', data: {ach_gateway_id: "ach_gateway_id", confirm: 'Your confirm message' },disabled:true %>
                    </div>
                <div class="col-md-3 p2c-export">
                  <div id="export_btn_p2c">
                    <% if params[:batch_search_params].present? %>
                      <% from_batch_search = {} %>
                      <% from_batch_search[:option] = params[:batch_search_params][:option] %>
                      <% from_batch_search[:find_by] = params[:batch_search_params][:find_by] %>
                    <% end %>
                    <%= link_to "Export",admins_instant_pay_index_path(format: :csv, filter: params[:filter],batch_p2c_id: params[:batch_p2c_id] ,batch_date: params[:batch_date], batch_search_params: from_batch_search), class:"btn btn-primary pull-right" %>
                  </div>
              </div>
              </div>
              </div>
             <% end %>
            <input type="hidden" id="ach_list" value="<%= @ach_ids %>">
            <input type="hidden" name="unchecked" id="unchecked_ach">
            <input type="hidden" name="all_check" id="all_check" value="">
            <input type="hidden" id="pc_ids" value="<%= @ach_ids.to_json %>">
            <div class="col-md-12">
              <div class="col-sm-6 col-md-6">
                <div class="dataTables_length">
                <span class="float-left">
                  <a id="back_anchor" href="<%= admins_total_funds_path %>" class="btn btn-sm">Back</a>
                </span>
                  <div class="col-md-6 ">
                    <span id="show_9">Show</span>
                    <span class="float-left">
                              <%= form_tag admins_instant_pay_index_path(), method: :get  do  %>
                                   <%= select_tag "filter", options_for_select(@filters.map{|v|[v]}, selected: params[:filter].present? ? params[:filter] : "10"),
                                                  :prompt => false,
                                                  :required => true,
                                                  # data: {:remote => true},
                                                  class: "form-control form-control-sm withdraw-filter"
                                   %>
                        <span id="filter_input">
                                    <input type="hidden" name="batch_p2c_id" id="batch_p2c_id" value="<%= params[:batch_p2c_id] %>">
                                    <input type="hidden" name="all_checks" id="all_checks_hidden" value="on">
                                    <input type="hidden" name="paid_checks" id="paid_checks_hidden" value="<%= params[:paid_checks].present? ? params[:paid_checks] : '' %>">
                                    <input type="hidden" name="unpaid_checks" id="unpaid_checks_hidden" value="<%= params[:unpaid_checks].present? ? params[:unpaid_checks] : '' %>">
                                    <input type="hidden" name="void_checks" id="void_checks_hidden" value="<%= params[:void_checks].present? ? params[:void_checks] : '' %>">
                                    <input type="hidden" name="inprogress_checks" id="inprogress_checks_hidden" value="<%= params[:inprogress_checks].present? ? params[:inprogress_checks] : '' %>">
                                    <input type="hidden" name="printed_checks" id="printed_checks_hidden" value="<%= params[:printed_checks].present? ? params[:printed_checks] : '' %>">
                                    <input type="hidden" name="pending_checks" id="pending_checks_hidden" value="<%= params[:pending_checks].present? ? params[:pending_checks] : '' %>">
                                    <input type="hidden" name="paid_wire_checks" id="paid_wire_hidden" value="<%= params[:paid_wire_checks].present? ? params[:paid_wire_checks] : '' %>">
                                    <input type="hidden" name="from_filter" value="true">
                                    <input type="hidden" name="batch_date" id="batch_date" value="<%= params[:batch_date] %>">
                                    <input type="hidden" name="q" value="<%= params[:q].try(:[],"name_or_send_via_or_recipient_cont") %>" id="q_hidden">
                                    <input type="hidden" name="batch_search_params" value="<%= params[:batch_search_params].to_json %>">
                                 </span>
                              <% end %>
	                          </span>
                    <span id="entries_9">Entries</span>
                  </div>
                </div>
              </div>
              <div class="col-sm-6 col-md-6">
                <input type="text" class="form-control pull-right" value="<%= params[:q].try(:[],"name_or_send_via_or_recipient_cont") %>" id="search" placeholder="Search">
              </div>
            </div>
            <div class="instant_pay_data_table">
              <%= render partial: 'admins/instant_pay/data_table', :locals => { :achs => @all_achs }%>
            </div>
        </div>
      </section>
    </div>
  </div>
</div>
<section id="achSection"></section>
<section id="checkSection"></section>
<input type="hidden" id="create_at_sort_value">
<input type="hidden" id="unselected_p2c">
<input type="hidden" id="p2c_ids_with_status" value="<%= @ach_ids_status.to_json %>">
<div id="confirmationDialog" class="modal fade confirmationDialog" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="col-md-12">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Message</h4>
        </div>
        <div class="modal-body">
          <p id="p2c_note">Your selection contains a mix of statuses to change.
            Please modify your selection or click submit if this is acceptable.</p>
        </div>
        <div class="modal-footer">
          <button id="btn-style" type="button" class="btn btn-default" data-dismiss="modal">OK</button>
        </div>
      </div>
    </div>
  </div>
</div>

