$("#balance").text("<%= j number_with_precision(@balance, precision:2, :delimiter => ',') %>");
$("#account_fields").html("").html("<%= j render(partial: 'account_fields', locals: {bank_account_type: @location.bank_account_type, bank_account: @bank_account, bank_routing: @location.bank_routing, location_email: @location.email }) %>");
<% if @location.bank_routing.present? %>
var routing_number= "<%= @location.bank_routing %>"
get_bank_by_routing_number(routing_number, "<%= admins_get_bank_by_routing_number_ach_path %>");
<% end%>