<%= stylesheet_link_tag 'v2/merchant/login_base' %>
<%= stylesheet_link_tag 'v2/merchant/login' %>
<div  class="m--skin- m-header--fixed m-header--fixed-mobile m-aside-left--enabled m-aside-left--skin-dark m-aside-left--offcanvas m-footer--push m-aside--offcanvas-default"  >
  <!-- begin:: Page -->
  <div class="background_image">
    <div class="container-fluid full-height" id="remove--hieght">
      <div class="row">
        <div class="right-side-ipad col-md-6 pull-left">
          <div class="m-grid m-grid--hor m-grid--root m-page">
            <div class="m-login m-login--signin" >
              <div class="m-login__wrapper-1 m-portlet-full-height">
                <div class="m-login__wrapper-1-1">
                  <div class="m-login__contanier">
                    <div class="m-login__content">
                      <div class="m-login__logo">
                        <center>
                          <%= image_tag "v2/login/login_new_logo.svg" , class: "new_logo_design" %>
                          <%#= image_tag "v2/login/Qc_logo" , class: "z_cart_logo" %>
                        </center>

                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="left-side-ipad-forgot  col-md-6 pull-right pr-0" id="remove--hieght-1">
          <div class="m-grid m-grid--hor m-grid--root m-page">
            <div class="m-grid__item m-grid__item--fluid m-grid m-grid--hor m-login m-login--signin m-login--2 m-login-2--skin-1" id="m_login">
              <div class="row mr-0 ml-0">
                <div class="col-xl-2 col-lg-2 col-md-2 col-sm-12 col-xs-12"></div>
                <div class="col-xl-9 col-lg-9 col-md-9 col-sm-12 col-xs-12">
                  <div class="m-grid__item m-grid__item--fluid m-login__wrapper">
                    <div class="m-login__container hieght-75">
                      <div class="m-login__logo">
                        <center>
                          <%= image_tag "v2/login/quickcard_Logo.svg" , class: "desktop_logo" %>
                        </center>
                      </div>
                      <div class="m-login__signin">
                        <div class="m-login__head">
                          <p class="m-login__title">
                            <span>Welcome back!</span>
                            <br>
                            <br class="br1">
                            Please enter your email and password
                            <br class="br1">
                            to access your Dashboard
                          </p>
                        </div>

                        <center>
                          <%= form_for(:user, as: :user, url: password_path(:user), html: { method: :post ,class: "m-login__form m-form"}) do |f| %>
                            <input type="hidden" id="role" name="role" value="merchant">
                            <div id="alert-message"><%= render :partial => 'shared/login_flash' %></div>
                            <div class="form-group m-form__group">
                              <label class="label_text pull-left">Email</label>
                              <%= f.email_field :email, autofocus: true , id:"username" ,class:"form-control m-input email-input", placeholder: 'Your Registered Email' , required: true %>
                              <span class="email-login-error login-error" id="email-error" style="display: block;">Please enter email</span>
                            </div>
                            <div class="m-login__form-action">
                              <%= f.submit "Send me instructions" , class:"btn btn-focus m-btn m-btn--pill m-btn--custom m-btn--air  m-login__btn m-login__btn--primary btn-forgot", id:'m_login_signin_submit'%>
                            </div>
                          <%end%>
                        </center>

                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-xl-1 col-lg-1 col-md-1 col-sm-12 col-xs-12"></div>
              </div>
            </div>
          </div>
          <div class="m-grid m-grid--hor m-grid--root m-page">
            <div>
              <div class="row col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12 bottom-power-by-gbox">
                <div class="col-xl-2 col-lg-2 col-md-2 col-sm-12 col-xs-12"></div>
                <div class="col-xl-9 col-lg-9 col-md-9 col-sm-12 col-xs-12">
                  <center>
                    <div class="term-div">

                      <p class="powerd_by">Powered by <%= image_tag "v2/merchant/Greenbox_Logo.svg" %></p>
                    </div>
                  </center>
                </div>
                <div class="col-xl-1 col-lg-1 col-md-1 col-sm-12 col-xs-12"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>



<%= javascript_include_tag 'v2/merchant/login.js' %>