
<%= stylesheet_link_tag asset_path("admins/shared/admin_transactions"), media: 'all', 'data-turbolinks-track' => 'reload' %>
<div class="title-block">
  <div class="row">
    <div class="col-md-6">
      <h1 class="title">
        Error Messages
      </h1>
    </div>
    <div class="col-md-6">
      <!-- right side button add here-->
      <a href="#new_errorMessage_modal" class="btn pull-right btn-primary ml-4 mr-4 " data-toggle="modal"><span class="btn-exported-text"><span>New Error</span></span></a>
    </div>
  </div>
</div>
<div>
</div>
<div class="header-block pull-right">
<!--  <a data-toggle="modal" id="export_class" data-trans="<%#= params[:trans].present? ? params[:trans] : "success" %>" data-type="admin" data-wallet="<%#= Wallet.qc_support.first.try(:id) %>" data-total-count="1" class="exportModalDialog pull-right" href="#exportModalDialog"><button type="button" class="btn btn-sm blue_btn"><i class="fa fa-file"></i> Export</button></a>-->
  <a href="#search" data-toggle="collapse" href="#search" aria-expanded="false" aria-controls="search" class="btn btn-outline-secondary btn-sm"><i class="icon-magnifier icons"></i> Search</a>
</div>
<!-- Search Form -->
<%=form_tag error_message_index_path, method: :get, class:'search_transactions',  autocomplete: "off" do  %>
  <div class="col-sm-12 transaction-admin-form-shared bg-white">
    <div class="col-sm-12">
      <div class="collapse mb-3" id="search">
        <div class="card card-body">
          <div class="row margin-top-10-px-shared">
            <div class="col-md-12 margin-top-15-px-shared">
              <div class="form-group col-md-4">
                <label for="id">Error Code</label>
                <input type="text" name="query[error_code]" id="error_code" class="form-control" placeholder="Error Code"  value="<%= params[:query].present? ? params[:query]["error_code"] : "" %>" />
              </div>
              <div class="form-group col-md-4">
                <label for="id">Error Message</label>
                <input type="text" name="query[error_message]" id="error_message" class="form-control" placeholder="Error Message"  value="<%= params[:query].present? ? params[:query]["error_message"] : "" %>"  />
              </div>

            </div>
            <div class="col-md-12 text-right">
              <button type="submit" class="btn btn-success btn-sm search_button">Search</button>
              <input type="hidden" name="tx_filter" id="tx_filter" value="<%= params[:tx_filter].present? ? params[:tx_filter] : "" %>"  />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end  %>

<section class="example">

<div class="">
  <div class="row margin-top-15-px-shared margin-left-3-px-shared">
<!--    <div class="col-sm-6 col-md-6">-->
<!--      <div class="dataTables_length">-->
<!--        <div class="col-md-6 top-30-px-shared">-->
<!--          <span class="padding-top-7-px-shared float-left-shared">Show</span>-->
<!--          <span class="float-left-shared">-->
                  <%#= form_tag transactions_admins_path(trans: params["trans"]), method: :get, id: "tx_form"  do  %>
<!--                     <%#= select_tag "tx_filter", options_for_select(@filters.map{|v|[v]}, selected: params[:tx_filter].present? ? params[:tx_filter] : "10"),-->
<!--                                    :prompt => false,-->
<!--                                    :required => true,-->
<!--                                    class: "form-control form-control-sm",-->
<!--                                    data: {confirm: "Are you sure ?"}-->
                     %>
<!                    <input type="hidden" name="trans" value="<%#= params[:trans].present? ? params[:trans] : "success" %>"  />-->
                    <%# if params[:query].present? %>
<!--                <input type="hidden" name="query[amount]" value="<%#= params[:query]["error_message"] if  params[:query]["error_message"].present? %>"  />-->
<!--                <input type="hidden" name="query[amount]" value="<%#= params[:query]["error_message"] if  params[:query]["error_message"].present? %>"  />-->
            <%# end %>
                  <%# end %>
<!--        </span>-->
<!--          <span class="float-left-shared padding-top-7-px-shared">Entries</span>-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->
    <div class="col-sm-6 col-md-6">
      <div class="col-md-12 margin-top-15-px-shared">
      </div>
    </div>
  </div>
<!--Table -->
  <table id="datatable-keytable-transactions" class="table table-striped table-bordered table-hover mergin-top-50px" cellspacing="0" cellpadding="0">
    <thead class="tr-head">
    <tr class="tr-head">
      <th width="120">Error Code</th>
      <th width="500">Error Message</th>
      <th width="500">Error Reason</th>
      <th width="500">Error Description</th>
    </tr>
    </thead>
    <tbody id="tbody">
    <%	if @error_messages.present? %>
      <% @error_messages.each do |error| %>
        <tr>
          <td class="sorted">
            <%= error.error_code %>
          </td>
          <td class="sorted">
            <%= error.error_message %>
          </td>
          <td class="sorted">
            <%= error.error_reason %>
          </td>
          <td class="sorted">
            <%= error.error_description %>
          </td>
        </tr>
      <% end %>
    <% end %>
    </tbody>
  </table>

<!-- NEW ERROR CODE MODAL -->
<div class="modal fade" id="new_errorMessage_modal" tabindex="-1" role="dialog" aria-labelledby="modal-label-69" aria-hidden="true">
  <div class="modal-dialog modal-sm">
    <div class="modal-content greenbox_user-content">
      <%= form_tag(error_message_index_path,{:method => :post, :class => "form form-group", :id => "new_error_message", autocomplete: "false"}) do %>
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h6 id="modal-label-69">New Error</h6>
        </div>
        <div class="">
          <!--  Modal Body  -->
          <div class="col-md-12">
            <div class="row">
              <div class="col-md-12">
                <div class="row">
                  <div class="col-md-6">
                    <div class="form-group">
                      <label for="code"><b>Error Code:</b></label>
                      <input type="text" class="form-control input-lg auto_off" id="error_code_1" name="error[error_code]" value="<%#= @greenbox_user.present? ? @greenbox_user.first_name : "" %>" required>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-12">
                <div class="form-group">
                  <label for="message"><b>Error Message:</b></label>
                  <input type="text" class="form-control input-lg auto_off" id="error_message" name="error[error_message]" value="<%#= @greenbox_user.present? ? @greenbox_user.last_name : "" %>" required>
                </div>
              </div>
              <div class="col-md-12">
                <div class="form-group">
                  <label for="reason"><b>Error Reason:</b></label>
                  <input type="text" class="form-control input-lg auto_off" id="error_reason" name="error[error_reason]" value="" <%#= "required" if @greenbox_user.blank? %> required>
                </div>
              </div>
              <div class="col-md-12">
                <div class="form-group">
                  <label for="message"><b>Error Description:</b></label>
                  <input type="text-area" class="form-control input-lg auto_off" id="error_description" name="error[error_description]" value="<%#= @greenbox_user.present? ? @greenbox_user.last_name : "" %>" required>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary btn-sm pull-left" data-dismiss="modal">Cancel</button>
          <%= submit_tag "Save", class:'btn btn-primary btn-sm pull-right submit_button' %>
        </div>
      <% end %>
    </div>
  </div>
</div>

</div>
</section>
<section id="transaction_modal"></section>