<%= stylesheet_link_tag 'v2/merchant/settings' %>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/multiple-select/1.2.0/multiple-select.css">
<div class="modal fade" id="addNewEmployeeModal" class="confirmuserpermissionModal" tabindex="-1" role="dialog" aria-labelledby="orderModelLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <% if params[:action] == 'new' %>
        <div class="modal-header" >
          <p class="modal-header-text">Add New Employee</p>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">

          </button>
        </div>
        <div class="modal-body">
          <%= simple_form_for @user  , url: v2_merchant_settings_path , html:{ class: "add_new_employee_form auctionform", id: "employee-new", data:{toggle: "validator" }, method: :post}  do |f| %>
            <!--<form method="post" action="">-->
            <div class="row">
              <div class="col-lg-12">
                <div class="row">
                  <div class="col-lg-1"></div>
                  <div class="col-lg-10">
                    <div class="form-group m-form__group">
                      <label class="pl-2" for="employee_name">
                        First Name
                        <!--                       First Name-->
                      </label>
                      <input type="hidden" id="form_type" value="false">
                      <%=f.text_field :first_name, id:'employee_name', class: 'form-control m-emp-input m-input',placeholder:'Employee First name'  %>
                      <%= f.input :merchant_id, :as => :hidden, :input_html => { :value => "#{current_user.id}" } %>
                      <%#= f.input :password, :as => :hidden, :input_html => { :value => "#{"#{rand(1..10)}a#{Devise.friendly_token.first(8)}A"}" } %>
                      <input type="hidden" id="user_id" value="<%= f.object.id.present? ? f.object.id : '' %>">
                      <!--<input type="text" class="form-control m-emp-input m-input" id="employee_name" aria-describedby="emailHelp" placeholder="Employee name">-->
                    </div>
                  </div>
                  <div class="col-lg-1"></div>
                </div>
                <div class="row">
                  <div class="col-lg-1"></div>
                  <div class="col-lg-10">
                    <div class="form-group m-form__group">
                      <label class="pl-2" for="last_name">
                        Last Name
                      </label>
                      <%=f.text_field :last_name,id:'last_name', class: 'form-control m-emp-input m-input',placeholder:'Employee last name'  %>
                      <!--<input type="text" class="form-control m-emp-input m-input" id="last_name" aria-describedby="emailHelp" placeholder="Employee last name">-->
                    </div>
                  </div>
                  <div class="col-lg-1"></div>
                </div>
                <div class="row">
                  <div class="col-lg-1"></div>
                  <div class="col-lg-10">
                    <div class="form-group m-form__group">
                      <label class="pl-2" for="email">
                        Email
                      </label>
                      <%=f.text_field :email, :input_html => { autocomplete: 'new-password'},id:'email', class: 'form-control m-emp-input m-input',placeholder:'employee@company.com'  %>
                      <!--<input type="text" class="form-control m-emp-input m-input" id="email" aria-describedby="emailHelp" placeholder="employee@company.com">-->
                      <span id="error_email" class="red-color"></span>
                    </div>
                  </div>
                  <div class="col-lg-1"></div>
                </div>
                <div class="row">
                  <div class="col-lg-1"></div>
                  <div class="col-lg-10">
                    <div class="form-group m-form__group">
                      <label class="pl-2" for="email">
                        Password
                      </label>
                      <div class="m-input-icon m-input-icon--right">
                        <%= f.password_field :password , id:"user_password" ,class:"form-control m-input f-new user_password", placeholder: 'Your Password', autocomplete:"new-password" %>
<!--                        <input type="password" class="form-control m-input f-new" name="user[password]" placeholder="Password" id="user_password" autocomplete="new-password">-->
                      </div>
                    </div>
                    <div class="col-md-12">
                      <div class="strength st_human">
                        <div class="figure" id="strength_human"></div>
                      </div>
                      <div id='tooltips'>
                        <div class="tip"></div>
                        <p class="pwd-suggestion-title">Your password must have at least:</p>
                        <div class="password-suggesstions">
                          <div class="invalid"><i class="fa fa-times" aria-hidden="true" id="8_characters"></i></div>
                          <span class="pwd-suggestion-message">8 Characters</span>
                        </div>

                        <div class="password-suggesstions">
                          <div class="invalid"><i class="fa fa-times" aria-hidden="true" id="1_number"></i></div>
                          <span class="pwd-suggestion-message">1 Number</span>
                        </div>
                        <div class="password-suggesstions">
                          <div class="invalid"><i class="fa fa-times" aria-hidden="true" id="upcase"></i></div>
                          <span class="pwd-suggestion-message">1 Uppercase Letter (A-Z)</span>
                        </div>

                        <div class="password-suggesstions">
                          <div class="invalid"><i class="fa fa-times" aria-hidden="true" id="downcase"></i></div>
                          <span class="pwd-suggestion-message">1 Lowerrcase Letter (a-z)</span>
                        </div>

                      </div>
                    </div>
                    <div class="form-group m-form__group">
                      <label class="pl-2" for="email">
                        Password Confirmation
                      </label>
                      <div class="m-input-icon m-input-icon--right">
<!--                        <input type="password" class="form-control m-input focus" name="user[password_confirmation]" placeholder="Confirm Password" id="user_password_confirmation">-->
                        <%= f.password_field :password_confirmation,class:"form-control m-input focus", data:{match: "#password_edit_field","match-error" => "Password Mismatch"}, placeholder: 'Your Password Confirmation', id: "user_password_confirmation" %>
                      </div>
                      <div id="error" class="text-danger p_error"></div>
                    </div>
                  </div>
                  <div class="col-lg-1"></div>
                </div>

                <div class="row">
                  <div class="col-lg-1"></div>
                  <div class="col-lg-10">
                    <div class="form-group m-form__group">
                      <label class="pl-2" for="phone_number">
                        Phone #
                      </label>
                      <%=f.number_field :phone_number, class: 'form-control m-emp-input m-input',id:'phone_number', maxlength:"13",placeholder:'(000) 000-0000'%>
                      <input type="hidden" id="user_phone_code" name="phone_code">
                      <span class="error-message" id="phone-error"></span>
                      <span id="error_phone"></span>
                      <!--<input type="text" class="form-control m-emp-input m-input" id="phone_number" aria-describedby="emailHelp" placeholder="(000) 000-0000">-->
                    </div>
                  </div>
                  <div class="col-lg-1"></div>
                </div>
                <div class="row">
                  <div class="col-lg-1"></div>
                  <div class="col-lg-10">
                    <div class="row">
                      <div class="col-lg-6">
                        <div class="mb-4">
                          <label class="label--account pl-2">Permission</label>
                          <div class="button-group btn-group-width">
                            <button type="button" class="btn btn--drop btn-permission--drop rotate--icon" data-toggle="dropdown">
                              <span class="permission-dropdown select-permission-title truncated">Select Permission</span> <%= image_tag "v2/merchant/icons/down-b.svg", class:'pull-right select-permission-title margin--3 rotate'%>
                            </button>
                            <ul class="dropdown-menu permission-dropdown--menu dropdown--menu overflow permission_select dropdown-menu--pad" >
                              <input type="hidden" name="user[permission_id]" id="permission_ids">
                              <% @permission.try(:each) do |permission| %>
                                <li>
                                  <a  data-value="<%= permission.name%>" class="permission-title select_notice obj-message-create" tabIndex="-1" data-id="<%= permission.id%>">
                                    <div class="row position-1x">
                                      <div class="col-md-10">
                                        <%= permission.name == "Regular (VT Only)" ? "Regular (VT Only)" : permission.name.try(:titleize).truncate(20) %>
                                      </div>
<!--                                      <div class="col-md-2 my-auto">-->
                                        <%#= image_tag "v2/merchant/icons/remove_black_eye.svg",'data-id':permission.id, id:'perm12', class:'pull-right eye-permission rotate settings'%>
<!--                                        <span></span>-->
<!--                                      </div>-->
                                    </div>
                                  </a>
                                </li>
                              <% end  %>
                            </ul>
                          </div>
                          <div id="permission-error-placement"></div>
                          <div class="m--space-10"></div>
                        </div>
                      </div>
                      <div class="col-lg-6">
                        <div class="mb-4">
                          <label class="label--account pl-2">Location</label>
                          <div class="button-group">
                            <button type="button" class="btn btn--drop btn-permission--drop truncate" data-toggle="dropdown" id="locs_show_selected">
                              <span class="select-permission-title truncated">Select Location</span> <%= image_tag "v2/merchant/icons/down-b.svg", class:'pull-right select-permission-title margin--3 rotate'%>
                            </button>
                            <ul class="dropdown-menu dropdown--menu" id="locs_dropdown">
                              <li>
                                <a data-value="all"  tabIndex="-1">
                                  <label >
                                    Select All
                                  </label>
                                </a>
                              </li>
                              <% locations = @user.wallets.pluck(:id) if @user.present? %>
                              <% @wallets.each do |wallet| %>
                                <li id="locs_dropdown_loop">
                                  <a data-value="<%= wallet.business_name %>" tabIndex="-1">
                                    <label class="m-checkbox m-checkbox--state-brand " for="<%= wallet.id %>">
                                      <input type="checkbox" class="locs_checkboxes" value="<%= wallet.id %>" id="<%wallet.id %>" <%= locations.present? ? locations.include?(wallet.wallets.primary.first.try(:id))? "checked" : "" : ""  %> name="user[wallets][]">
                                      <%= wallet.business_name.truncate(20) %>
                                      <span class="verify_checkbox"></span>
                                    </label>
                                  </a>
                                </li>
                              <% end  %>
                            </ul>
                          </div>
                          <div id="location-error-placement"></div>
                          <%#= select_tag 'query[type][]', options_for_select(@wallets.map{|v|[v[:business_name],v[:id]]}, params[:query].try(:[], "type").present? ? params[:query]["type"].kind_of?(Array) ? params[:query]["type"] : JSON.parse(params[:query]["type"])  : ""),class: "form-control m-bootstrap-select m-bootstrap-select--pill m_selectpicker reason-dd-1", multiple: true  %>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-1"></div>
                </div>
                <div class="row">
                  <div class="col-lg-1"></div>
                  <div class="col-lg-10">
                    <div id="show-notice" class="notice-div mb-4" >
                      <div class="row">
                        <div class="col-lg-12">
                          <div class="row">
                            <div class="col-lg-1">
                              <%= image_tag "v2/merchant/icons/alert_icon.svg", class: 'pl-3 pt-2' %>
                            </div>
                            <div class="col-lg-10">
                              <p class="notice-text pl-2 pt-2">Important note</p>
                            </div>
                          </div>
                          <div class="row">
                            <div class="col-lg-12">
                              <p class="pl-3 mb-1 important_notice">Admin (Full Access) selected!
                              </p>
                              <p class="pl-3 mb-1 important_notice">This User Permission will allow all</p>
                              <p class="pl-3 mb-1 important_notice">administrative account changes.</p>
                              <p class="pl-3 mb-1 important_notice"> For more information please see detail</p>
                              <p class="pl-3  important_notice">under Business Settings  <%= image_tag "v2/merchant/icons/path.svg"%>  User Permission.</p>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-1"></div>
                </div>
                <div class="row">
                  <div class="col-lg-12">
                    <div class="text-center mb-4">
                      <button id="submit_btn" class="add_employe_btn add_btn submit-confirmation add-employee-processing">Add Employee</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          <% end %>
          <!--</form>-->
        </div>
      <% else %>
        <div class="modal-header" >
          <p class="modal-header-text">Edit Employee</p>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">

          </button>
        </div>
        <div class="modal-body">
          <%= form_for @sub_merchant  ,  url:{action: 'update', controller: 'v2/merchant/settings'} ,method: :put, html:{class: "add_new_employee_form auctionform", id: "employee-edit", data:{toggle: "validator" }}   do |f| %>
            <!--<form method="post" action="">-->
            <div class="row">
              <div class="col-lg-12">
                <div class="row">
                  <div class="col-lg-1"></div>
                  <div class="col-lg-10">
                    <div class="form-group m-form__group">
                      <label class="pl-2" for="employee_name">
                        First Name
                      </label>
                      <input type="hidden" id="form_type" value="true">
                      <input type="hidden" id="user_id" value="<%= f.object.id.present? ? f.object.id : '' %>">
                      <%= f.hidden_field :merchant_id, :input_html => { :value => "#{current_user.id}" } %>
                      <%=f.text_field :first_name, required: true, value: f.object.name.present? ? f.object.name : f.object.name, :input_html => { autocomplete: 'new-password'},id:'employee_name', class: 'form-control m-emp-input m-input',placeholder:'Employee First name'  %>
                      <%#= f.input :password, :as => :hidden, :input_html => { :value => "#{"#{rand(1..10)}a#{Devise.friendly_token.first(8)}A"}" } %>
                      <!--<input type="text" class="form-control m-emp-input m-input" id="employee_name" aria-describedby="emailHelp" placeholder="Employee name">-->
                    </div>
                  </div>
                  <div class="col-lg-1"></div>
                </div>
                <div class="row">
                  <div class="col-lg-1"></div>
                  <div class="col-lg-10">
                    <div class="form-group m-form__group">
                      <label class="pl-2" for="last_name">
                        Last Name
                      </label>
                      <%=f.text_field :last_name,id:'last_name', class: 'form-control m-emp-input m-input',placeholder:'Employee last name'  %>
                      <!--<input type="text" class="form-control m-emp-input m-input" id="last_name" aria-describedby="emailHelp" placeholder="Employee last name">-->
                    </div>
                  </div>
                  <div class="col-lg-1"></div>
                </div>
                <div class="row">
                  <div class="col-lg-1"></div>
                  <div class="col-lg-10">
                    <div class="form-group m-form__group">
                      <label class="pl-2" for="email">
                        Email
                      </label>
                      <%=f.text_field :email , required: true, :input_html => { autocomplete: 'new-password'},id:'email', class: 'form-control m-emp-input m-input',placeholder:'employee@company.com'  %>
                      <!--<input type="text" class="form-control m-emp-input m-input" id="email" aria-describedby="emailHelp" placeholder="employee@company.com">-->
                      <span id="error_email" class="red-color"></span>
                      <span id="error_email" class="red-color"></span>
                    </div>
                    <div class="form-group m-form__group">
                      <label class="pl-2" for="email">
                        Password
                      </label>
                      <div class="m-input-icon m-input-icon--right">
                        <%= f.password_field :password,autocomplete:"new-password" , id:"user_password" ,class:"form-control m-input user_password", placeholder: 'Your Password' %>
<!--                        <input type="password" class="form-control m-input" name="user[password]" placeholder="Password" id="user_password" autocomplete="new-password">-->
                      </div>
                    </div>
                    <div class="col-md-12">
                      <div id='tooltips'>
                        <div class="tip"></div>
                        <p class="pwd-suggestion-title">Your password must have at least:</p>
                        <div class="password-suggesstions">
                          <div class="invalid"><i class="fa fa-times" aria-hidden="true" id="8_characters"></i></div>
                          <span class="pwd-suggestion-message">8 Characters</span>
                        </div>

                        <div class="password-suggesstions">
                          <div class="invalid"><i class="fa fa-times" aria-hidden="true" id="1_number"></i></div>
                          <span class="pwd-suggestion-message">1 Number</span>
                        </div>
                        <div class="password-suggesstions">
                          <div class="invalid"><i class="fa fa-times" aria-hidden="true" id="upcase"></i></div>
                          <span class="pwd-suggestion-message">1 Uppercase Letter (A-Z)</span>
                        </div>

                        <div class="password-suggesstions">
                          <div class="invalid"><i class="fa fa-times" aria-hidden="true" id="downcase"></i></div>
                          <span class="pwd-suggestion-message">1 Lowerrcase Letter (a-z)</span>
                        </div>

                      </div>
                    </div>
                    <div class="form-group m-form__group">
                      <label class="pl-2" for="email">
                        Password Confirmation
                      </label>
                      <div class="m-input-icon m-input-icon--right">
<!--                        <input type="password" class="form-control m-input" name="user[password_confirmation]" placeholder="Confirm Password" id="user_password_confirmation">-->
                        <%= f.password_field :password_confirmation,class:"form-control m-input", data:{match: "#password_edit_field","match-error" => "Password Mismatch"}, placeholder: 'Your Password Confirmation', id: "user_password_confirmation" %>
                      </div>
                      <div id="error" class="text-danger p_error"></div>
                    </div>
                  </div>
                  <div class="col-lg-1"></div>
                </div>
                <div class="row">
                  <div class="col-lg-1"></div>
                  <div class="col-lg-10">
                    <div class="form-group m-form__group">
                      <label class="pl-2" for="phone_number">
                        Phone #
                      </label>
                      <%=f.text_field :phone_number , required:true, class: 'form-control m-emp-input m-input',id:'phone_number', maxlength:"13",placeholder:'(000) 000-0000',value: "+#{@sub_merchant.phone_number}" %>
                      <input type="hidden" id="user_phone_code" name="phone_code">
                      <span class=" error-message " id="phone-error"></span>
                      <span id="error_phone"></span>
                    </div>
                  </div>
                  <div class="col-lg-1"></div>
                </div>
                <div class="row">
                  <div class="col-lg-1"></div>
                  <div class="col-lg-10">
                    <div class="row">
                      <div class="col-lg-6">
                        <div class="mb-4">
                          <label class="label--account pl-2">Permission</label>
                          <div class="button-group btn-group-width">
                            <button type="button" class="btn btn--drop btn-permission--drop rotate--icon" data-toggle="dropdown">
                              <span class="permission-dropdown select-permission-title truncated"><%= permission_format.try(:truncate, 15) %></span> <%= image_tag "v2/merchant/icons/down-b.svg", class:'pull-right margin--3 rotate select-permission-title'%>
                            </button>
                            <ul class="dropdown-menu permission-dropdown--menu dropdown--menu permission_select dropdown-menu--pad" >
                              <input type="hidden" name="user[permission_id]" id="permission_ids" value="<%= @sub_merchant.permission_id %>">
                              <% if @permission.present? %>
                                <% @permission.try(:each) do |permission| %>
                                  <li>
                                    <a data-value="<%= permission.name%>" class="permission-title obj-message-create" tabIndex="-1" data-id="<%= permission.id%>">
                                      <%= permission.name == "Regular (VT Only)" ? "Regular (VT Only)" : permission.name.try(:titleize).truncate(20) %>
                                      <span></span>
                                    </a>
                                  </li>
                                <% end  %>
                              <% end  %>
                            </ul>
                          </div>
                          <div id="edit-permission-error-placement"></div>
                          <div class="m--space-10"></div>
                        </div>
                      </div>
                      <div class="col-lg-6">
                        <div class="mb-4">
                          <label class="label--account pl-2">Location</label>
                          <div class="button-group location-drop-width">
                            <button type="button" class="btn btn--drop btn-permission--drop" data-toggle="dropdown" id="locs_show_selected">
                              <span class="select-permission-title truncated"><%= location_name.truncate(18) %></span> <%= image_tag "v2/merchant/icons/down-b.svg", class:'pull-right select-permission-title margin--3'%>
                            </button>
                            <ul class="dropdown-menu dropdown--menu" id="locs_dropdown">
                              <li>
                                <a data-value="all"  tabIndex="-1">
                                  <label >
                                    Select All
                                  </label>
                                </a>
                              </li>
                              <% locations = @sub_merchant.wallets.pluck(:id) if @sub_merchant.present? %>
                              <% @wallets.each do |wallet| %>
                                <li>
                                  <a data-value="<%= wallet.business_name %>" tabIndex="-1">
                                    <label class="m-checkbox m-checkbox--state-brand " for="<%= wallet.id %>">
                                      <input type="checkbox" class="locs_checkboxes" value="<%= wallet.id %>" name="user[wallets][]" <%= locations.present? ? locations.include?(wallet.wallets.primary.first.try(:id))? "checked" : "" : ""  %>>
                                      <%= wallet.business_name.truncate(20) %>
                                      <span class="verify_checkbox"></span>
                                    </label>
                                  </a>
                                </li>
                              <% end  %>
                            </ul>
                          </div>
                          <div id="edit-location-error-placement"></div>

                          <%#= select_tag 'query[type][]', options_for_select(@wallets.map{|v|[v[:business_name],v[:id]]}, params[:query].try(:[], "type").present? ? params[:query]["type"].kind_of?(Array) ? params[:query]["type"] : JSON.parse(params[:query]["type"])  : ""),class: "form-control m-bootstrap-select m-bootstrap-select--pill m_selectpicker reason-dd-1", multiple: true  %>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-1"></div>
                </div>
                <div class="row">
                  <div class="col-lg-1"></div>
                  <div class="col-lg-10">
                    <div id="show-notice-edit" class="notice-div-edit mb-4">
                      <div class="row">
                        <div class="col-lg-12">
                          <div class="row">
                            <div class="col-lg-1">
                              <%= image_tag "v2/merchant/icons/alert_icon.svg", class: 'pl-3 pt-2' %>
                            </div>
                            <div class="col-lg-10">
                              <p class="notice-text pl-2 pt-2">Important note</p>
                            </div>
                          </div>
                          <div class="row">
                            <div class="col-lg-8">
                              <p class="pl-3 important_notice">Admin (Full Access) selected! This User Permission will allow all administrative account changes.
                                For more information please see detail under Settings <%= image_tag "v2/merchant/icons/path.svg"%>  User Permission.</p>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-1"></div>
                </div>
                <div class="row">
                  <div class="col-lg-12">
                    <div class="text-center mb-4">
                      <button type="button" class="add_employe_btn submit-confirmation" id="edit-employee">Save Changes</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          <% end %>
          <!--</form>-->
        </div>
      <% end %>
    </div>
  </div>
</div>
<section id="permission_modal"></section>
<%= javascript_include_tag "v2/merchant/add_employee" %>
