<div class="modal fade" id="adminFullAccessModal" class="admin_full_access_Modal" tabindex="-1" role="dialog" aria-labelledby="orderModelLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header" >
        <p class="modal-header-text">Admin Full Access</p>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">

        </button>
      </div>
      <div class="modal-body pl-5">
        <form method="post" action="">
          <div class="row">
            <div class="col-lg-12 col-md-12">
              <div class="all_permissions mt-4">
                <div class="row">
                  <div class="col-lg-10">
                    <div class="row">
                      <div class="col-lg-7">
                        <p class="normal-text">Accounts</p>
                        <div class="form-group m-form__group">
                          <label class="m-checkbox m-checkbox--state-brand ">
                            <input type="checkbox">
                            Wallets (View Transactions)
                            <span class="verify_checkbox"></span>
                          </label>
                        </div>
                        <div class="form-group m-form__group">
                          <label class="m-checkbox m-checkbox--state-brand ">
                            <input type="checkbox">
                            Refunds
                            <span class="verify_checkbox"></span>
                          </label>
                        </div>
                        <div class="form-group m-form__group">
                          <label class="m-checkbox m-checkbox--state-brand ">
                            <input type="checkbox">
                            Transfer
                            <span class="verify_checkbox"></span>
                          </label>
                        </div>
                      </div>
                      <div class="col-lg-5">
                        <p class="normal-text">POS</p>
                        <div class="form-group m-form__group">
                          <label class="m-checkbox m-checkbox--state-brand ">
                            <input type="checkbox">
                            B2B (Wallet to Wallet)
                            <span class="verify_checkbox"></span>
                          </label>
                        </div>
                        <div class="form-group m-form__group">
                          <label class="m-checkbox m-checkbox--state-brand ">
                            <input type="checkbox">
                            Virtual Terminal
                            <span class="verify_checkbox"></span>
                          </label>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-1"></div>
                </div>
                <div class="row">
                  <div class="col-lg-10">
                    <div class="row">
                      <div class="col-lg-7">
                        <p class="normal-text">Funding Schedule</p>
                        <div class="form-group m-form__group">
                          <label class="m-checkbox m-checkbox--state-brand ">
                            <input type="checkbox">
                            Funding Schedule
                            <span class="verify_checkbox"></span>
                          </label>
                        </div>
                        <p class="normal-text">Users</p>
                        <div class="form-group m-form__group">
                          <label class="m-checkbox m-checkbox--state-brand ">
                            <input type="checkbox">
                            View Only
                            <span class="verify_checkbox"></span>
                          </label>
                        </div>
                        <div class="form-group m-form__group">
                          <label class="m-checkbox m-checkbox--state-brand ">
                            <input type="checkbox">
                            Edit
                            <span class="verify_checkbox"></span>
                          </label>
                        </div>
                        <div class="form-group m-form__group">
                          <label class="m-checkbox m-checkbox--state-brand ">
                            <input type="checkbox">
                            Add New User
                            <span class="verify_checkbox"></span>
                          </label>
                        </div>
                      </div>
                      <div class="col-lg-5">
                        <p class="normal-text">Withdrawal</p>
                        <div class="form-group m-form__group">
                          <label class="m-checkbox m-checkbox--state-brand ">
                            <input type="checkbox">
                            E-Checks
                            <span class="verify_checkbox"></span>
                          </label>
                        </div>
                        <div class="form-group m-form__group">
                          <label class="m-checkbox m-checkbox--state-brand ">
                            <input type="checkbox">
                            Push To Card
                            <span class="verify_checkbox"></span>
                          </label>
                        </div>
                        <div class="form-group m-form__group">
                          <label class="m-checkbox m-checkbox--state-brand ">
                            <input type="checkbox">
                            ACH
                            <span class="verify_checkbox"></span>
                          </label>
                        </div>
                        <div class="form-group m-form__group">
                          <label class="m-checkbox m-checkbox--state-brand ">
                            <input type="checkbox">
                            E-Gift Cards
                            <span class="verify_checkbox"></span>
                          </label>
                        </div>
                        <p class="normal-text">API Keys</p>
                        <div class="form-group m-form__group">
                          <label class="m-checkbox m-checkbox--state-brand ">
                            <input type="checkbox">
                            API Keys
                            <span class="verify_checkbox"></span>
                          </label>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-1"></div>
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>