<div class="modal fade" id="editEmployeeModal" class="confirmuserpermissionModal" tabindex="-1" role="dialog" aria-labelledby="orderModelLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header" >
        <p class="modal-header-text">Edit Employee</p>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">

        </button>
      </div>
      <div class="modal-body">
        <form method="post" action="">
          <div class="row">
            <div class="col-lg-12">
              <div class="row">
                <div class="col-lg-1"></div>
                <div class="col-lg-10">
                  <div class="form-group m-form__group">
                    <label class="pl-2" for="employee_name">
                      Name
                    </label>
                    <input type="text" class="form-control m-emp-input m-input" id="employee_name" aria-describedby="emailHelp" placeholder="Employee name">
                  </div>
                </div>
                <div class="col-lg-1"></div>
              </div>
              <div class="row">
                <div class="col-lg-1"></div>
                <div class="col-lg-10">
                  <div class="form-group m-form__group">
                    <label class="pl-2" for="last_name">
                      Last Name
                    </label>
                    <input type="text" class="form-control m-emp-input m-input" id="last_name" aria-describedby="emailHelp" placeholder="Employee last name">
                  </div>
                </div>
                <div class="col-lg-1"></div>
              </div>
              <div class="row">
                <div class="col-lg-1"></div>
                <div class="col-lg-10">
                  <div class="form-group m-form__group">
                    <label class="pl-2" for="email">
                      Email
                    </label>
                    <input type="text" class="form-control m-emp-input m-input" id="email" aria-describedby="emailHelp" placeholder="employee@company.com">
                  </div>
                </div>
                <div class="col-lg-1"></div>
              </div>
              <div class="row">
                <div class="col-lg-1"></div>
                <div class="col-lg-10">
                  <div class="form-group m-form__group">
                    <label class="pl-2" for="phone_number">
                      Phone #
                    </label>
                    <input type="text" class="form-control m-emp-input m-input" id="phone_number" aria-describedby="emailHelp" placeholder="(000) 000-0000">
                  </div>
                </div>
                <div class="col-lg-1"></div>
              </div>
              <div class="row">
                <div class="col-lg-1"></div>
                <div class="col-lg-10">
                  <div class="row">
                    <div class="col-lg-6">
                      <div class="mb-4">
                        <label class="label--account pl-2">Permission</label>
                        <select class="form-control m-bootstrap-select m-bootstrap-select--pill permission_dropdown m_selectpicker">
                          <option>
                            Select Permission
                          </option>
                          <option >
                            Admin (Full Access)
                          </option>
                          <option>
                            Regular (VT Only)
                          </option>
                          <option>
                            Accounting Team
                          </option>
                        </select>
                        <div class="m--space-10"></div>
                      </div>
                    </div>
                    <div class="col-lg-6">
                      <div class="mb-4">
                        <label class="label--account pl-2">Location</label>
                        <div class="button-group">
                          <button type="button" class="btn btn--drop " data-toggle="dropdown">
                            Select Location <%= image_tag "v2/merchant/icons/down-b.svg", class:'pull-right margin--3'%>
                          </button>
                          <ul class="dropdown-menu dropdown--menu" >
                            <li>
                              <a href="#"  tabIndex="-1">
                                <label >
                                  Select all
                                </label>
                              </a>
                            </li>
                            <li>
                              <a href="#" data-value="Sales Processed" tabIndex="-1">
                                <label class="m-checkbox m-checkbox--state-brand ">
                                  <input type="checkbox">
                                  Wallet 01
                                  <span class="verify_checkbox"></span>
                                </label>
                              </a>
                            </li>
                            <li>
                              <a href="#" data-value="Invoice Processed" tabIndex="-1">
                                <label class="m-checkbox m-checkbox--state-brand ">
                                  <input type="checkbox">
                                  Wallet 02
                                  <span class="verify_checkbox"></span>
                                </label>
                              </a>
                            </li>
                            <li>
                              <a href="#" data-value="Average per Transaction" tabIndex="-1">
                                <label class="m-checkbox m-checkbox--state-brand ">
                                  <input type="checkbox">
                                  Wallet 03
                                  <span class="verify_checkbox"></span>
                                </label>
                              </a>
                            </li>
                          </ul>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="col-lg-1"></div>
              </div>
              <div class="row">
                <div class="col-lg-1"></div>
                <div class="col-lg-10">
                  <div class="notice-div mb-4">
                    <div class="row">
                      <div class="col-lg-12">
                        <div class="row">
                          <div class="col-lg-1">
                            <%= image_tag "v2/merchant/icons/alert_icon.svg", class: 'pl-3 pt-2' %>
                          </div>
                          <div class="col-lg-10">
                            <p class="notice-text pl-2 pt-2">Important note</p>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-lg-8">
                            <p class="pl-3 important_notice">Admin (Full Access) selected! This User Permission will allow all administrative account changes.
                              For more information please see detail under Settings <%= image_tag "v2/merchant/icons/path.svg"%>  User Permission.</p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-lg-1"></div>
              </div>
              <div class="row">
                <div class="col-lg-12">
                  <div class="text-center mb-4">
                    <button class="add_employe_btn">Save Changes</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>