
<div class="m-content">
  <div class="row">
    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-xs-12">
      <div class="page-title mb-4">
        Employee List
      </div>
    </div>
    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-xs-12">
      <div class="mb-4 pull-right">
        <a href="#" class="btn activity_log_btn text-center  pull-right m-btn m-btn--icon pull-left mr-3">
              <span class="pl-3 activity_log_text">
                <span>
                  Activity Log
                </span>
                 <i class="fa fa_activity_log">
                  <%#= image_tag "v2/merchant/permission/activity_log.svg" %>
                </i>
              </span>
        </a>
        <a href="/profile/new" class="btn btn-default btn-preview-invoice">Add New Employee</a>
      </div>
    </div>
  </div>
  <div class="m-portlet m-portlet--mobile m-portal_datatable">
    <div class="m-portlet__body" id="employee_list">
      <!--begin: Datatable -->
      <%= render partial: "v2/merchant/shared/profile_datatable",locals: {variable:@sub_merchants} %>
    </div>
  </div>
</div>
<%= javascript_include_tag "v2/merchant/profiles" %>
<!-- END EXAMPLE TABLE PORTLET-->
