<div class="m-content m-content_space">
  <% if flash.present? %>
    <% @flash_profile = true %>
    <div class="profile-subheader">
      <div id="alert-message" class="">
        <div class="row">
          <div class="col-md-1">
            <%= image_tag "v2/profile/key_icon.svg",class:'profile-key-icon-class'%>
          </div>
          <div class="col-md-9 offer-declined-responsive-text ml-3">
            <% flash.each do |key, value| %>
              <p class="alert-text"><%= value %></p>
            <% end %>
          </div>
          <%= image_tag "v2/close-btn.svg", class: 'counter_alert pull-right cursor-pointer' , id: "close_flash"%>
        </div>
      </div>
    </div>
  <%end %>
    <div class="page-title margin-top-title">
      My Profile
    </div>
  <div class="mirchant_profile_section mt-4">
    <div class="row">
      <div class="col-lg-12">
        <div class="mirchant_profile">
          <div class="row">
            <div class="col-lg-3 col-md-3">
              <div class="row">
                <div class="col-lg-3"></div>
                <div class="col-xs-9 col-lg-9 col-md-9 col-sm-9 col-xs-12">
                  <div class="profile">
                    <div class="profile-image">
                      <p class="text-center profile-name-slug"><%= first_letter_name %></p>
                    </div>
                  </div>
<!--                    <p class="profile-name"><%#= current_user.name%></p>-->
                    <p class="user-account-id account-id-main-profiile mt-4">Account ID: <%= set_profile_id(current_user)  %></p>
                    <% if current_user.merchant? %>
                      <% if current_user.oauth_apps.present? && current_user.oauth_apps.first.is_block %>
                        <p class="pl-5">
                          <%= image_tag "v2/merchant/icons/inactive-red.svg" , alt: '' %>
                          <span class="ml-2 inactive-text"> Inactive </span>
                        </p>
                      <% else %>
                        <p class="active-pad">
                          <%= image_tag "v2/merchant/icons/green_dott.svg" , alt: '' %>
                          <span class="ml-2 active-text"> Active </span>
                        </p>
                      <% end %>
                    <% else %>
                      <% if current_user.archived && current_user.is_block %>
                        <p class="pl-5">
                          <%= image_tag "v2/merchant/icons/inactive-red.svg" , alt: '' %>
                          <span class="ml-2 inactive-text"> Inactive </span>
                        </p>
                      <% else %>
                        <p class="pl-5">
                          <%= image_tag "v2/merchant/icons/green_dott.svg" , alt: '' %>
                          <span class="ml-2 active-text"> Active </span>
                        </p>
                      <% end %>
                    <% end %>
                </div>
                <div class="col-lg-1"></div>
              </div>
            </div>
            <div class="col-lg-9 col-md-9">
              <form method="post"  action="/v2/merchant/profiles/update_profile_email_number" id="merchant_profile">
                <input type="hidden" id="user_id" value="<%= current_user.present? ? current_user.id : '' %>">
                <div class="row">
                  <% if current_user.merchant_id.nil? %>
                      <% corporate_user = current_user.name %>
                      <% owner_label = "Owner’s Name" %>
                      <% owner_name = current_user.try(:owners).try(:first).try(:name) %>
                    <%else%>
                      <% main_user = User.find_by_id(current_user.merchant_id) %>
                      <% corporate_user = main_user.name %>
                      <% owner_label = "User's Name" %>
                      <% owner_name = current_user.name + " " + current_user.last_name %>
                  <%end%>
                  <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="form-group m-form__group">
                      <label for="corporate_name">
                        Corporate Name
                      </label>
                      <input type="text" class="form-control m-input mdp-input" id="corporate_name" aria-describedby="emailHelp" placeholder="Greenbox POS" value="<%= corporate_user %>" readonly>
                    </div>
                  </div>
                  <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="form-group m-form__group">
                      <label for="owners_name">
                        <%= owner_label %>
                      </label>
                      <input type="text" class="form-control m-input mdp-input" id="owners_name" aria-describedby="emailHelp" placeholder="Dan Nisann" value="<%= owner_name  %>" readonly>
                    </div>
                  </div>
                  <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="form-group m-form__group">
                      <label for="user_email">
                        Login Email
                      </label>
                      <input name="mechant_email" type="text" class="form-control m-input mdp-input bg-white-profile" id="user_email"  email="true" aria-describedby="emailHelp" placeholder="dannisann@greenboxpos.com" value="<%= current_user.email%>" >
                      <span id="error_email" class="red-color"></span>
                      <span id="error_email" class="red-color"></span>
                    </div>
                  </div>
                  <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="form-group m-form__group">
                      <label for="user_phone_number">
                        Phone #
                      </label>
                      <input class="form-control m-input mdp-input bg-white-profile" id="phone_number" maxlength="14" placeholder="1 (123) 1234 12345" size="13" type="text" name="user[phone_number]" value="+<%= number_to_phone(current_user.phone_number, area_code: true)%>">
                      <span class="phone-error red-color" id="phone-error"></span>
                      <span id="error_phone"></span>
                      <input type="hidden" name="user[phone_number_to_save]" id="phone_number_to_save">
                    </div>
                  </div>
                  <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="form-group m-form__group">
                      <label class="password">
                        Password
                      </label>
                      <div class="m-input-icon m-input-icon--right">
                        <input type="password" class="form-control m-input password-input mdp-input" readonly value="12345678"  placeholder="12345678">
                        <p id="" class="change_password-text" data-toggle="modal" data-id="first_send" data-target="#verifyPasswordMethodModel">Change Password</p>
                        <p id="set_pass" class="change_password-text send_pin" data-toggle="modal" data-target="#profileModel"></p>
                        <input type="hidden" id="send_code_type" value="text">
                      </div>
                    </div>
                  </div>

                  <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <label class="m-checkbox m-checkbox--state-brand ">
                      <input type="checkbox" id="2SV" <%= current_user.two_step_verification ? 'checked' : '' %> >
                      Two step verification
                      <span class="verify_checkbox"></span>
                    </label>
                  </div>
                  <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <button class="profile-update-btn btn" id="save_update-btn" >Save Updates</button>
                  </div>
                </div>
              </form>
            </div>

          </div>
        </div>
      </div>
    </div>
    <%= render partial: "v2/shared/create_password" , :locals => {:path => update_pin_v2_merchant_profiles_path }%>
    <!--  confirm modal-->
    <%= render partial: "v2/shared/confirm_password" %>
    <!--  verify password modal-->
    <%= render partial: "v2/shared/verify_password", :locals => {:path => update_pin_v2_merchant_profiles_path } %>
    <!--  verify password method(email or phone) modal-->
    <%= render partial: "v2/shared/verify_password_method", :locals => {:path => update_pin_v2_merchant_profiles_path } %>
  </div>
</div>
<!-- END: Subheader -->
<%= javascript_include_tag "v2/merchant/profiles" %>