 <div class="title-block">
    <h1 class="title text-capitalize pull-left" >
      Merchant Apis
    </h1>

  </div>

  <section class="section">
    <div class="row">
        <div class="card sameheight-item items" data-exclude="xs,sm,lg">
          <div class="card-header bordered">
            <div class="header-block">
              <h3 class="title text-capitalize pull-left">All Merchant Apis</h3>

            </div>
          </div>

          <section class="example">
            <div class="card-body">
              <div class="col-md-12 bg_ffff">
                <div class="row padd_20">
                    <div class="col-md-12">
                      <ul class="nav nav-tabs border_bottom_0">
                        <li class="<%= params[:tab] == 'client_cred' ? 'active' : (not params[:tab].present?) ? 'active' : '' %>"><a href="<%= admins_merchant_apis_path(tab:'client_cred')%>">Client Credentials</a></li>
                        <!-- <li class="<%#= params[:tab] == 'auth_token' ? 'active' : '' %>"><a href="<%#= admins_merchant_apis_path(tab:'auth_token')%>">Auth Token</a></li> -->
                        <li class="<%= params[:tab] == 'sign_up_registration' ? 'active' : '' %>"><a href="<%= admins_merchant_apis_path(tab:'sign_up_registration')%>">Sign Up</a></li>
                        <li class="<%= params[:tab] == 'requesting_code' ? 'active' : '' %>"><a href="<%= admins_merchant_apis_path(tab:'requesting_code')%>">Request Code</a></li>
                        <li class="<%= params[:tab] == 'approving_request' ? 'active' : '' %>"><a href="<%= admins_merchant_apis_path(tab:'approving_request')%>">Approving Request</a></li>
                        <li class="<%= params[:tab] == 'fund_account' ? 'active' : '' %>"><a href="<%= admins_merchant_apis_path(tab:'fund_account')%>">Add Card</a></li>
                        <!-- <li class="<%#= params[:tab] == 'fluid_transaction' ? 'active' : '' %>"><a href="<%#= admins_merchant_apis_path(tab:'fluid_transaction')%>">Fluid Transaction</a></li> -->
                        <!-- <li class="<%#= params[:tab] == 'fluid_refund' ? 'active' : '' %>"><a href="<%#= admins_merchant_apis_path(tab:'fluid_refund')%>">Fluid Refund</a></li> -->
                      </ul>
                    </div>
                  </div>
                  <div class="col-md-12 margin_bot_top">
                    <div class="tab-content" >
                      <div id="menu1" class="<%= params[:tab]=='client_cred' ? 'tab-pane fade in active' : (not params[:tab].present?) ? 'tab-pane fade in active' : 'tab-pane fade' %>">
                        <%= render partial: '/admins/merchant_apis/api_tabs/client_cred', locals:{app_config:@app_config}%>
                      </div>
                      <!-- <div id="menu2" class="<%#= params[:tab]=='auth_token' ? 'tab-pane fade in active' : (not params[:tab].present?) ? 'tab-pane fade in active' : 'tab-pane fade' %>"> -->
                        <%#= render partial: '/admins/merchant_apis/api_tabs/wallet_detail', locals:{}%>
                      <!-- </div> -->
                      <div id="menu3" class="<%= params[:tab]=='sign_up_registration' ? 'tab-pane fade in active' : 'tab-pane fade' %>">
                        <%= render partial: '/admins/merchant_apis/api_tabs/sign_up_registration', locals:{}%>
                      </div>
                      <div id="menu4" class="<%= params[:tab]=='requesting_code' ? 'tab-pane fade in active' : 'tab-pane fade' %>">
                        <%= render partial: '/admins/merchant_apis/api_tabs/requesting_code', locals:{}%>
                      </div>
                      <div id="menu5" class="<%= params[:tab]=='approving_request' ? 'tab-pane fade in active' : 'tab-pane fade' %>">
                        <%= render partial: '/admins/merchant_apis/api_tabs/approving_request', locals:{}%>
                      </div>
                      <div id="menu6" class="<%= params[:tab]=='fund_account' ? 'tab-pane fade in active' : 'tab-pane fade' %>">
                        <%= render partial: '/admins/merchant_apis/api_tabs/fund_account', locals:{}%>
                      </div>
<!--                       <div id="menu7" class="<%#= params[:tab]=='fluid_transaction' ? 'tab-pane fade in active' : 'tab-pane fade' %>">
                        <%#= render partial: '/admins/merchant_apis/api_tabs/fluid_transaction', locals:{}%>
                      </div>
                      <div id="menu8" class="<%#= params[:tab]=='fluid_refund' ? 'tab-pane fade in active' : 'tab-pane fade' %>">
                        <%#= render partial: '/admins/merchant_apis/api_tabs/fluid_refund', locals:{}%>
                      </div> -->
                    </div>
                  </div>
              </div>
            </div>
          </section>
        </div>
    </div>
  </section>

  <script>
      var lt= $('.timeUtc').each(function (i,v) {
          var gmtDateTime = moment.utc(v.innerText,'YYYY-MM-DD HH:mm:ss');
//           var gmtDateTime = moment.utc(v.innerText).toDate();
          var local = moment(gmtDateTime).local().format('MM/DD/YYYY hh:mm:ss A');
          v.innerText = local
      });

  </script>




