
<div class="title-block">
  <h1 class="title text-capitalize pull-left" >
    Virtual Terminal Apis
  </h1>

</div>

<section class="section">
  <div class="row">
    <div class="card sameheight-item items" data-exclude="xs,sm,lg">
      <div class="card-header bordered">
        <div class="header-block">
          <h3 class="title text-capitalize pull-left">Apis</h3>

        </div>
      </div>

      <section class="example">
        <div class="card-body">
          <div class="col-md-12 bg_ffff">
            <div class="row padd_20">
              <div class="col-md-12">
                <ul class="nav nav-tabs vtnav border_bottom_0">
                  <li class="<%= params[:tab] == 'merchant_info' ? 'active' : (not params[:tab].present?) ? 'active' : '' %>"><a href="<%= vt_api_admins_merchant_apis_path(tab:'merchant_info')%>">Merchant Credentials</a></li>
                  <li class="<%= params[:tab] == 'sign_up_registration' ? 'active' : '' %>"><a href="<%= vt_api_admins_merchant_apis_path(tab:'sign_up_registration')%>">Sign Up</a></li>
                  <li class="<%= params[:tab] == 'existing_user' ? 'active' : '' %>"><a href="<%= vt_api_admins_merchant_apis_path(tab:'existing_user')%>">Existing User</a></li>
                  <li class="<%= params[:tab] == 'vt_transaction' ? 'active' : '' %>"><a href="<%= vt_api_admins_merchant_apis_path(tab:'vt_transaction')%>">VT Transaction</a></li>
                  <li class="<%= params[:tab] == 'debit' ? 'active' : '' %>"><a href="<%= vt_api_admins_merchant_apis_path(tab:'debit')%>">Debit</a></li>
                  <li class="<%= params[:tab] == 'refund' ? 'active' : '' %>"><a href="<%= vt_api_admins_merchant_apis_path(tab:'refund')%>">Refund</a></li>
                </ul>
              </div>
            </div>
            <div class="col-md-12 margin_bot_top">
              <div class="tab-content" >
                <div id="menu1" class="<%= params[:tab]=='merchant_info' ? 'tab-pane fade in active' : (not params[:tab].present?) ? 'tab-pane fade in active' : 'tab-pane fade' %>">
                  <%= render partial: '/admins/merchant_apis/vt_tabs/merchant_info', locals:{app_config:@app_config}%>
                </div>
                <div id="menu3" class="<%= params[:tab]=='sign_up_registration' ? 'tab-pane fade in active' : 'tab-pane fade' %>">
                  <%= render partial: '/admins/merchant_apis/vt_tabs/sign_up_registration', locals:{}%>
                </div>
                <div id="menu4" class="<%= params[:tab]=='existing_user' ? 'tab-pane fade in active' : 'tab-pane fade' %>">
                  <%= render partial: '/admins/merchant_apis/vt_tabs/existing_user', locals:{}%>
                </div>
                <div id="menu5" class="<%= params[:tab]=='vt_transaction' ? 'tab-pane fade in active' : 'tab-pane fade' %>">
                  <%= render partial: '/admins/merchant_apis/vt_tabs/vt_transaction', locals:{}%>
                </div>
                <div id="menu6" class="<%= params[:tab]=='debit' ? 'tab-pane fade in active' : 'tab-pane fade' %>">
                  <%= render partial: '/admins/merchant_apis/vt_tabs/debit', locals:{}%>
                </div>
                <div id="menu7" class="<%= params[:tab]=='refund' ? 'tab-pane fade in active' : 'tab-pane fade' %>">
                  <%= render partial: '/admins/merchant_apis/vt_tabs/refund', locals:{}%>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>
  </div>
</section>

<script>
    var lt= $('.timeUtc').each(function (i,v) {
        var gmtDateTime = moment.utc(v.innerText,'YYYY-MM-DD HH:mm:ss');
//           var gmtDateTime = moment.utc(v.innerText).toDate();
        var local = moment(gmtDateTime).local().format('MM/DD/YYYY hh:mm:ss A');
        v.innerText = local
    });

</script>




