<div class="modal fade myModal" role="dialog">
  <div class="modal-dialog form-group">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <% if @admins_ach_gateway.gateway_type=='ach' %>
          <h4 class="modal-title">Edit ACH Gateway </h4>
        <% elsif @admins_ach_gateway.gateway_type == 'check' %>
          <h4 class="modal-title">Edit Check Gateway </h4>
        <% else %>
          <h4 class="modal-title">Edit Push to Card Gateway</h4>
        <% end %>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="card-header bordered">
            <div class="header-block">
              <%= render partial: 'form', :locals => {:f => @admins_ach_gateway, :url => admins_ach_gateway_path } %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>