<%= simple_form_for(@admins_ach_gateway , url: url ) do |f| %>
  <input type="hidden" name="gateway_type" value="<%= @admins_ach_gateway.try(:id).present? ? @admins_ach_gateway.try(:gateway_type) : params[:gateway_type] %>">
  <div class="form-inputs">
    <%= f.input :bank_name, label: "Bank" %>
    <p id="bank_name_error" class="color-red-ach" ></p>
    <%= f.input :descriptor, label: "Descriptor" %>
    <p id="descriptor_error" class="color-red-ach" ></p>
    <input type="hidden" id="type" value="<%= @admins_ach_gateway.try(:id).present? ? @admins_ach_gateway.try(:gateway_type) : params[:gateway_type] %>">
    <input type="hidden" id="gateway_id" value="<%= @admins_ach_gateway.present? ? @admins_ach_gateway.try(:id) :  '' %>">
    <div class="row">
      <div class="col-md-9">
        <div class="row">
          <div class="col-md-4">
            <h3 class="margin-bottom-20px-ach"><u>Bank Fee</u></h3>
          </div>
          <div class="col-md-4">
            <%= f.input :bank_fee_percent,label: false, wrapper: :vertical_input_group , hint: "" do %>
                <span class="input-group-addon"><i>%</i></span>
                <%= f.input_field  :bank_fee_percent, value: number_with_precision(f.object.bank_fee_percent, precision: 2) , class: "form-control fee_fields"%>
            <% end %>
          </div>
          <div class="col-md-4">
            <%= f.input :bank_fee_dollar,label: false, wrapper: :vertical_input_group , hint: "" do %>
              <span class="input-group-addon"><i>$</i></span>
              <%= f.input_field  :bank_fee_dollar, value: number_with_precision(f.object.bank_fee_dollar, precision: 2), class: "form-control fee_fields"%>
            <% end %>
          </div>
          <div class="col-md-4">
            <h3 class="margin-bottom-20px-ach"><u>Transaction Limit</u></h3>
          </div>
          <div class="col-md-4">
            <%= f.input :transaction_limit,label: false, wrapper: :vertical_input_group , hint: "" do %>
              <span class="input-group-addon"><i>$</i></span>
              <%= f.input_field  :transaction_limit, value: number_with_precision(f.object.transaction_limit, precision: 2) , class: "form-control fee_fields"%>
            <% end %>
          </div>
          <div class="col-md-12">
              <div class="col-md-4 ">
                <h3 class="margin-bottom-20px-ach"><u><%= gateway_type %> Processing Type</u></h3>
              </div>

              <div class="col-md-4">
                <%= f.select "ach_type", options_for_select(AchGateway.ach_types.keys.map{|a| [a.humanize, a]}, @admins_ach_gateway.ach_type), { include_blank: "Choose #{gateway_type} Type"}, class: "form-control"%>
              </div>
          </div>

          <div class="col-md-12">
            <% required_cols = ENV["EXPORT_OPTIONS"] %>
            <% selected_values_hash = {}  %>
            <% selected_keys = []  %>
            <% if f.object.export_col.present? %>
              <% selected_values_array = f.object.export_col.map{|a| {a["key"] => a["value"]} } %>
              <% selected_values_array.each do|a| %>
                <% selected_values_hash[a.keys.first] = a.values.first %>
              <% end %>
              <% selected_keys = f.object.export_col.map{|a| a["checked"].present? } %>
            <% end %>
            <% required_cols.split(",").each_with_index do |column,index| %>
                <div class="col-md-12 margin-bottom-3px-ach">
                  <div class="col-md-4">
                    <label class="container">
                      <%if column == "checkId" %>
                        <%= column = "Check_ID" %>
                      <%else %>
                        <%= column.try(:capitalize) %>
                      <%end %>
                      <input type="checkbox" class="form-control" name="gateway[<%= index %>][checked]" <%= 'checked=checked' if selected_keys[index]  %> >
                      <span class="checkmark"></span>
                    </label>
                  </div>
                  <div class="col-md-5">
                    <input type="text" class="form-control" value="<%= selected_values_hash[column]  %>" name="gateway[<%= index %>][value]">
                    <input type="hidden" value="<%= column %>" name="gateway[<%= index %>][key]">
                  </div>
                </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="form-actions pull-right margin-top-20px-ach">
          <% if params[:type].present? && params[:type] == "push_to_card" %>
            <%= f.button :submit, "Update P2C Gateway",id: 'submit_btn' %>
          <% elsif params[:gateway_type].present? && params[:gateway_type] == "push_to_card" %>
            <%= f.button :submit, "Create P2C Gateway",id: 'submit_btn' %>
          <% elsif params[:type].present? && params[:type] == "check" %>
            <%= f.button :submit, "Update Check Gateway",id: 'submit_btn' %>
          <% elsif params[:gateway_type].present? && params[:gateway_type] == "check" %>
            <%= f.button :submit, "Create Check Gateway",id: 'submit_btn' %>
          <% else %>
            <%= f.button :submit, id: 'submit_btn' %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
<% end %>

