$("#edit_modal").html("<%= j render(partial: 'edit') %>");
$('#cover-spin').hide(0);
$(".myModal").modal();
//..........................edit/_form.html.erb....................../

$('.fee_fields').bind('keyup change', function(){
    this.value = this.value.replace(/[^0-9\.]/g,'');
});
$('#submit_btn').attr('disabled','disabled');

$('.form-control').on('keyup change', function () {
    if($('#gateway_id').val()!="" || $('#gateway_id').val()!=undefined )
    {
        $("#submit_btn").prop('disabled', false);
    }
});
<!--    $("#ach_gateway_ach_type").on('change', function () {-->
<!--        var gateway_type = $(this).val();-->
<!--        alert(gateway_type)-->
<!--        if(($("#ach_gateway_ach_type").val().toLowerCase() === '')){-->
<!--            $("#submit_btn").prop('disabled', true);-->
<!--            alert(<%#= gateway_type %>+" Gateway type cannot be Empty!");-->
<!--        } else{-->
<!--            $("#submit_btn").prop('disabled', false);-->
<!--        }-->
<!--    });-->
<%# if @admins_ach_gateway.try(:id).blank? %>
var globalTimeout = null;
$('#ach_gateway_bank_name').on('keyup change', function () {
    // if (globalTimeout != null) {
    //     clearTimeout(globalTimeout);
    // }
    // globalTimeout = setTimeout(function () {
    //     globalTimeout = null;
    var type = $('#type').val();
    var name = $('#ach_gateway_bank_name').val();
    if (name.length >= 3) {
        var gat_id = $('#gateway_id').val();
        $.ajax({
            url: '<%= check_gateway_existance_admins_ach_gateways_path %>',
            type: 'GET',
            data: {type: type, name: name, gateway_id: gat_id},
            success: function (result) {
                $('#bank_name_error').text('Bank already exist!');
                $('#submit_btn').attr('disabled', 'disabled');
            },
            error: function (result) {
                $('#bank_name_error').text('');
                if ($("#descriptor_error").text() == '') {
                    $('#submit_btn').prop('disabled', false);
                }
            }
        });
    }
    // }, 1500);
});

$('#ach_gateway_descriptor').on('keyup change', function () {
    // if (globalTimeout != null) {
    //     clearTimeout(globalTimeout);
    // }
    // globalTimeout = setTimeout(function () {
    //     globalTimeout = null;
    var type = $('#type').val();
    var descriptor = $('#ach_gateway_descriptor').val();
    if (descriptor.length >= 3){
        var gat_id = $('#gateway_id').val();
        $.ajax({
            url: '<%= check_gateway_existance_admins_ach_gateways_path %>',
            type: 'GET',
            data: {type: type, descriptor: descriptor, gateway_id: gat_id},
            success: function (result) {
                $('#descriptor_error').text('Descriptor already exist!');
                $('#submit_btn').attr('disabled', 'disabled');
            },
            error: function (result) {
                $('#descriptor_error').text('');
                if ($("#bank_name_error").text() == '') {
                    $('#submit_btn').prop('disabled', false);
                }
            }
        });
    }
    // }, 300);
});