
<section class="in"></section>
<div class="sidebar-overlay" id="sidebar-overlay"></div>
<div class="title-block">
  <div class="col-md-6">
    <h1 class="title">ACH Gateways</h1>
  </div>
  <div class="col-md-6">
    <%=link_to 'Archived ACH Gateways ',archived_ach_gateways_admins_ach_gateways_path,  class: "btn btn-warning btn-sm pull-right" %>
  </div>
</div>
<section class="section">
  <div class="row">
    <div class="col-md-12">
      <div class="card sameheight-item items" data-exclude="xs,sm,lg">
        <div class="card-header bordered">
          <div class="col-md-8 mb-2">
            <div class="header-block">
              <h3 class="title">List ACH Gateways</h3>
            </div>
          </div>
          <div class="col-md-4 mb-2 text-right">
            <%= link_to 'New ACH Gateway', new_admins_ach_gateway_path(gateway_type: "ach"),class: "btn btn-outline-secondary btn-sm btn-primary", remote: :true %>
            <!--            <button class="btn btn-outline-secondary btn-sm btn-primary new_gateway"  data-toggle="modal" data-target=".myModal text-capitalize">New ACH Gateway </button>-->
          </div>
        </div>


        <section class="example">
          <div class="">
            <div class="">
              <div class="table-responsive">
                <table id="keytable" class="table table-striped table-bordered table-hover" >
                  <thead>
                  <tr>
                    <th>ID</th>
                    <th>ACH Bank Name</th>
                    <th>Descriptor</th>
                    <th>Status</th>
                    <th>Action</th>
                  </tr>
                  </thead>

                  <tbody>
                  <% @admins_ach_gateways.each do |admins_ach_gateway| %>
                    <tr>
                      <td><%= admins_ach_gateway.id %></td>
                      <td><%= admins_ach_gateway.bank_name %></td>
                      <td><%= admins_ach_gateway.descriptor %></td>
                      <td class="text_center_td_ach_gateway">
                        <% klass = admins_ach_gateway.inactive? ? ["btn-danger", "Active"] : ["btn-success","InActive"] %>
                        <%= link_to admins_ach_gateway.status, block_ach_gateways_admins_ach_gateways_path(admins_ach_gateway),class: "#{klass.first} btn btn-sm ach_active_inactive_button active_inactive", data: { confirm: "Are you sure you want to #{klass.second}?", disable_with: "<i class='fa fa-refresh fa-spin'> </i> Loading..." }%>
                      </td>
                        <td>
                          <div class="dropdown">
                            <a href="#" class="drop_down_button_archived_ach" type="button" data-toggle="dropdown">●●●
                            </a>
                            <ul class="dropdown-menu drop_down_menu_archived_ach">
                              <li class="ach_gate_click"><%= link_to 'Edit', edit_admins_ach_gateway_path(admins_ach_gateway),class: "btn btn-sm", remote: :true %></li>
                              <li><%= link_to 'Archive', archive_ach_gateway_admins_ach_gateways_path(admins_ach_gateway),class: "btn btn-sm", data: { confirm: 'Are you sure?' } %></li>
                            </ul>
                          </div>
                        </td>
                        </tr>
                  <% end %>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </section>
      </div>
    </div>
  </div>
</section>
<!--<section><%#= render partial: 'admins/payment_gateways/new' %></section>-->
<section id="edit_modal"></section>
<div id="cover-spin"></div>
