<p id="notice"><%= notice %></p>
<p>
  <strong>Bank name:</strong>
  <%= @admins_ach_gateway.bank_name %>
</p>

<p>
  <strong>Descriptor:</strong>
  <%= @admins_ach_gateway.descriptor %>
</p>

<p>
  <strong>Status:</strong>
  <%= @admins_ach_gateway.status %>
</p>

<p>
  <strong>Archive:</strong>
  <%= @admins_ach_gateway.archive %>
</p>

<p>
  <strong>Bank fee percent:</strong>
  <%= @admins_ach_gateway.bank_fee_percent %>
</p>

<p>
  <strong>Bank fee dollar:</strong>
  <%= @admins_ach_gateway.bank_fee_dollar %>
</p>
<p>
  <strong>Transaction Limit:</strong>
  <%= @admins_ach_gateway.transaction_limit %>
</p>

<!--<%#= link_to 'Edit', edit_admins_ach_gateway_path(@admins_ach_gateway) %> |-->
<%#= link_to 'Back', admins_ach_gateways_path %>
