<%# Link showing page number
  - available local variables
    page:          a page object for "this" page
    url:           url to this page
    current_page:  a page object for the currently displayed page
    total_pages:   total number of pages
    per_page:      number of items to fetch per page
    remote:        data-remote
-%>
<!--<span class="page<%#= ' current' if page.current? %>">-->
<%#= link_to_unless page.current?, page, url, {remote: remote, rel: page.rel} %>
<!--</span>-->



<% if page.current? %>
  <li class="paginate_button page-item disabled mr-1 active">
    <%= content_tag :a, page, remote: remote, rel: (page.next? ? 'next' : (page.prev? ? 'prev' : nil)), class: "page-link  " %>
  </li>
<% else %>
  <li class="paginate_button page-item mr-1">
    <%= link_to_unless page.current?, page, url, remote: remote, rel: page.rel, class: "page-link" %>
  </li>

<% end %>