<%# The container tag
  - available local variables
    current_page:  a page object for the currently displayed page
    total_pages:   total number of pages
    per_page:      number of items to fetch per page
    remote:        data-remote
    paginator:     the paginator that renders the pagination tags inside
-%>
<%#= paginator.render do -%>
<!--  <nav class="pagination" role="navigation" aria-label="pager">-->
    <%#= first_page_tag unless current_page.first? %>
    <%#= prev_page_tag unless current_page.first? %>
    <%# each_page do |page| -%>
      <%# if page.display_tag? -%>
        <%#= page_tag page %>
      <%# elsif !page.was_truncated? -%>
        <%#= gap_tag %>
      <%# end -%>
    <%# end -%>
    <%# unless current_page.out_of_range? %>
      <%#= next_page_tag unless current_page.last? %>
      <%#= last_page_tag unless current_page.last? %>
    <%# end %>
<!--  </nav>-->
<%# end -%>


      <%= paginator.render do -%>
      <!-- <div class="col-md-8 col-lg-8 col-xs-12 "> -->
        <div class="dataTables_paginate paging_simple_numbers pull-right" id="m_table_1_paginate">
          <ul class="pagination">
            <%= first_page_tag unless current_page.first? %>
            <%= prev_page_tag unless current_page.first? %>
            <% each_page do |page| -%>
            <% if page.display_tag? -%>
            <%= page_tag page %>
            <% elsif !page.was_truncated? -%>
            <%= gap_tag %>
            <% end -%>
            <% end -%>
            <% unless current_page.out_of_range? %>
            <%= next_page_tag unless current_page.last? %>
            <%= last_page_tag unless current_page.last? %>
            <% end %>

          </ul>
        </div>
      <!-- </div> -->
      <% end -%>
