<%# Link to the "Previous" page
  - available local variables
    url:           url to the previous page
    current_page:  a page object for the currently displayed page
    total_pages:   total number of pages
    per_page:      number of items to fetch per page
    remote:        data-remote
-%>
<!--<span class="prev">-->
  <%#= link_to_unless current_page.first?, t('views.pagination.previous').html_safe, url, rel: 'prev', remote: remote %>
<!--</span>-->

<li class="paginate_button page-item previous mr-1 back_next" id="m_table_1_previous">
  <%= link_to_unless current_page.first?, "Back" , url, rel: 'prev', remote: remote, class: "page-link" %>
<!--  <a href="#" aria-controls="m_table_1" data-dt-idx="0" tabindex="0" class="page-link">-->
    <%#= image_tag "v2/merchant/datatable/back.svg" %>
<!--    Back-->
<!--  </a>-->
</li>