<%= f.fields_for :profile do |profile| %>
    <div class="row">
      <div class="col-md-12">
        <div class="row">
          <div class="form-group col-md-6">
            <%= profile.label :company_name, "Company Name", class: 'control-label' %>
            <%= profile.text_field :company_name, class: "form-control input-lg", :size => "48",  placeholder: 'Company Name', value: @affiliate_program.present? ? @affiliate_program.profile.present? ? @affiliate_program.profile.company_name : '' : '' || @affiliate_program.company_name %>
            <div class="help-block with-errors"></div>
          </div>
          <div class="col-md-1"></div>
          <div class="form-group col-md-5">
            <%= profile.label :tax_id, "Tax ID", class: 'control-label' %>
            <%= profile.text_field :tax_id, id: 'tx', class: "form-control input-lg", :size => "48", placeholder: 'Tax ID', value: @affiliate_program.present? ? @affiliate_program.profile.present? ? @affiliate_program.profile.tax_id : '' : '' %>
            <div id='tx-error' class="help-block with-errors"></div>
            <div id="tx-error" class="has-error"></div>
          </div>
        </div>
      </div>
      <div class="col-md-12">
        <div class="row">
          <div class="form-group col-md-3 no-space-break">
			<%= f.label :year_business, "Years in Business", class: 'control-label' %>
            <%= select_tag 'user[years_in_business][year]', options_for_select((0..100), @affiliate_program.present? ? @affiliate_program.profile.present? ? @affiliate_program.profile.years_in_business.present? ?  @affiliate_program.profile.years_in_business.split("-").first : '' : '' : '') , include_blank: 'Years',class: 'form-control input-lg ', required: true %>
            </div>
            <div class="form-group col-md-3 no-space-break">
              <%= f.label :month_business, "Months in Business", class: 'control-label' %>
              <%= select_tag 'user[years_in_business][month]', options_for_select((0..12), @affiliate_program.present? ? @affiliate_program.profile.present? ? @affiliate_program.profile.years_in_business.present? ?  @affiliate_program.profile.years_in_business.split('-').last : '' : '' :'' ), include_blank: 'Month' , class: 'form-control input-lg ',  required: true %>
            </div> 
            <div class="help-block with-errors"></div>
          <div class="col-md-1"></div>
          <div class="form-group col-md-5 ssn-adjust">
            <%= profile.label :ein, "SSN", class: 'control-label' %>
            <%= profile.text_field :ein, id: 'ssn', class: "form-control input-lg", :size => "48", placeholder: 'SSN', value: @affiliate_program.present? ? @affiliate_program.profile.present? ? @affiliate_program.profile.ein : '' : '' %>
            <div class="help-block with-errors"></div>
          </div>
        </div>
      </div>
      <div class="col-md-12">
        <div class="row">
          <div class="form-group col-md-6">
            <%= profile.label :street_address, "Address", class: 'control-label' %>
            <%= profile.text_field :street_address, :size => "48", class: "form-control input-lg", placeholder: 'Address', value: @affiliate_program.present? ? @affiliate_program.profile.present? ? @affiliate_program.profile.street_address : '' : '' %>
            <div class="help-block with-errors"></div>
          </div>

          <div class="col-md-1"></div>
          <div class="form-group col-md-5">
            <%= profile.label :city, "City", class: 'control-label' %>
            <%= profile.text_field :city, :size => "48", class: "form-control input-lg",  placeholder: 'City', value: @affiliate_program.present? ? @affiliate_program.profile.present? ? @affiliate_program.profile.city : '' : '' %>
            <div class="help-block with-errors"></div>
          </div>
        </div>
      </div>
      <%
        if @affiliate_program.present? && @affiliate_program.profile.try(:country).present?
          if @affiliate_program.profile.country == ("United State") || @affiliate_program.profile.country== "US"
            @affiliate_program.profile.country = ("United States")
          else
            @affiliate_program.profile.country = @affiliate_program.profile.country
          end
          if @affiliate_program.profile.country == ("United States")
            country_code = "us"
          else
            country   = ISO3166::Country.find_country_by_name(@affiliate_program.profile.try(:country))
            country_code = country.alpha2
          end
          @states = CS.states(country_code)
        else
          country_code = "us"
          @states = CS.states(country_code)
        end
      %>
      <div class="col-md-12">
        <div class="row">
          <div class="form-group col-md-3">
            <%= f.label :country, "Country" %><br/>
            <%= select_tag 'user[profile_attributes][country]', options_for_select(COUNTRIES, :selected => @affiliate_program.try(:profile).try(:country).present? ? @affiliate_program.profile.country : "United States"), include_blank: 'Select Country', class: 'form-control input-lg admins_country_field', id: 'ACF', required: 'required' %>
          </div>
          <div class="form-group col-md-3">
            <%= f.label :state, "State" %><br />
            <%= select_tag 'user[profile_attributes][state]', options_for_select(@states, :selected => @affiliate_program.try(:profile).try(:state).present? ? @affiliate_program.profile.state : ""), include_blank: 'Select State' , class: 'form-control input-lg admins_states_field', required: 'required' %>
          </div>
          <div class="col-md-1"></div>
          <div class="form-group col-md-5">
            <%= f.label :zip_code, "Zip Code", class: 'control-label' %>
            <%= profile.text_field :zip_code, :size => "48", class: "form-control input-lg",  placeholder: 'Zip Code', value: @affiliate_program.present? ? @affiliate_program.profile.present? ? @affiliate_program.profile.zip_code : '' : '' %>
            <div class="help-block with-errors"></div>
          </div>
        </div>
      </div>
    <%end%>
  	<div class="col-md-12">
	    <div class="row">
	      <div class="form-group col-md-6">
	        <%= f.label :name, "Contact Name", class: 'control-label', id: 'full_name' %>
	        <%= f.text_field :name, :size => "48", class: "form-control input-lg", required: true, placeholder: 'Full Name', value: @affiliate_program.present? ? @affiliate_program.name.present? ? @affiliate_program.name : '' : '' %>
	        <div class="help-block with-errors"></div>
	      </div>
	      <div class="col-md-1"></div>
	      <div class="form-group col-md-5">
	        <%= f.label :phone_number, "Contact Phone Number", id: 'phone_number_label_field' %>
	        <%= f.text_field :phone_number, id: "phone_number",pattern: "^[0-9]{1,}$", :maxlength => 12, class: " form-control shadow-sm adjust-popup-fields icon-input txtOwner input-lg phone_width100 padding_lef_for_num autocomplete_off", value: @affiliate_program.present? ? @affiliate_program.phone_number.present? ?   '+' + @affiliate_program.phone_number : '' : '' %>
	        <%= hidden_field_tag "phone_code" %>
	        <div id="phone_msg" class="with-errors"></div>
	      </div>
	    </div>
    </div>
    <div class="col-md-12">
        <div class="row">
          <div class="form-group col-md-6">
            <%= f.label :email, 'Contact Email Address', id: 'email_label_field' %>
            <%= f.email_field :email, class: "form-control input-lg", :size => "48", required: true, placeholder: 'Contact Email Address', value: @affiliate_program.present? ? @affiliate_program.email.present? ? @affiliate_program.email : '' : '' %>
            <div class="help-block with-errors"></div>
            
          </div>
             <div class="col-md-1"></div>
                       <div class="form-group col-md-3">
            <%= f.label :admin_user_id, "Admin User" %><br/>
            <%= select_tag 'user[admin_user_id]', options_for_select(User.admin_user.all.map{|admin_user| [admin_user.name , admin_user.id]}, :selected => @affiliate_program.try(:admin_user_id).present? ? @affiliate_program.admin_user_id : (params[:admin_user].present? ? params[:admin_user] : "")), include_blank: 'Select Admin User', class: 'form-control input-lg ', required: 'required' %>
          </div>
       <!--    <div class="form-group col-md-5">
          	<%= f.submit %>
          </div> -->
      	</div>
    </div>

    <% if @affiliate_program.present? &&  !@affiliate_program.new_record? %>
          <div class="col-md-12">
            <div class="row">
              <div class="form-group col-md-6">
                <%= f.label :password, class: 'control-label', id: 'password_label_edit_field' %>
                <%= f.password_field :password, class: "form-control input-lg", :size => "48", autocomplete: "off" %>
                <div class="help-block with-errors"></div>
              </div>
              <div class="col-md-1"></div>
              <div class="form-group col-md-5">
                <%= f.label :password_confirmation, class: 'control-label', id: 'password_confirmation_label_edit_field' %>
                <%= f.password_field :password_confirmation, class: "form-control input-lg", :size => "48", autocomplete: "off", data: {match: "#password_edit_field", "match-error" => "Password Mismatch"} %>
                <div class="help-block with-errors" id="pass_error"></div>
              </div>
            </div>
          </div>
          <div class="col-md-12">
            <div class="row">
              <div class="col-md-5 strength display-none-affiliate">
                <div class="figure" id="strength_human"></div>
              </div>
            </div>
          </div>
        <% end %>



    <div class="col-md-12 mb-5">
     <%= f.submit 'Save User' , class: "af-onclick-create btn butt-color pull-right button-radius btnSaves phone_class btnSave1"%>
    </div>

</div>