
<div class="col-md-12 card">
  <% if params[:format].present? %>
        <%= link_to "x", profile_isos_path(params[:format]), class: 'btn btn-sm c_btn'  %>
  <%else %>
        <%= link_to "x", users_path(user: "affiliate_programs"), class: 'btn btn-sm c_btn'  %>
  <%end %>
  <%if params[:count].present? && params[:count].to_i==2
    else %>

    <h1 class="text-center blu-color margin-top-1-5-em-affiliate">Create New Affiliate</h1>

    <!-- <h3 class="margin-left-2-em-affiliate" >Add Affiliate Info</h3> -->

   <div class="row">
     <div class="col-md-12">
       <div class="row">
         <div class="col-md-1"></div>
         <div class="col-md-10 margin-left-6-affiliate">
           <table width="100%">
             <thead>
             <tr>
               <th class="width-25-affiliate">
                 <a href="<%= wizard_path(:affiliate_program_signup , user_data_id: params[:user_data_id]) %>" class="fa-stack fa-lg margin-left-14-affiliate" id="a_1">
                   <i class="fa fa-circle fa-stack-2x blu-color"></i>
                   <i class="fa fa-stack-1x fa-inverse">1</i>
                 </a>
                 <hr>
               </th>
               <th class="width-25-affiliate">

                 <a href="<%= wizard_path(:bank_account , user_data_id: params[:user_data_id]) %>" class="fa-stack fa-lg margin-left-8-affiliate" id="a_2">
                   <i class="fa fa-circle fa-stack-2x grey-color"></i>
                   <i class="fa fa-stack-1x fa-inverse">2</i>
                 </a>
                 <hr>
               </th>
               <!-- <th class="width-25-affiliate">
                 <a href="<%# wizard_path(:affiliate_program_documentation , user_data_id: params[:user_data_id]) %>" class="fa-stack fa-lg margin-left-9-affiliate" id="a_3">
                   <i class="fa fa-circle fa-stack-2x grey-color"></i>
                   <i class="fa fa-stack-1x fa-inverse">3</i>
                 </a>
                 <hr class="display-none-affiliate">
               </th> -->
             </tr>
             </thead>
             <tbody>
             <tr>
               <td><strong>Affiliate Information</strong></td>
               <td><strong>Bank Accounts</strong></td>
               <!-- <td><strong>Documentation</strong></td> -->
             </tr>
             </tbody>
           </table>
         </div>
       </div>
     </div>
   </div>
  <% end %>
  <br/>
  <%=simple_form_for  @affiliate , url: wizard_path , method: :put, html:{id: :affiliate_program_form, multipart: true} do |f| %>
    <div class="container-margin">
      <%if params[:count].to_i==2 %>
        <div class="margin-top-5-rem-affiliate"></div>
      <% end %>
      <input type="hidden" name="user_data_id" value="<%= params[:user_data_id] if params[:user_data_id].present? %>">
      <%=yield f%>
      <div class="col-md-12">
        <div class="bottom-padding margin-bottom-5-affiliate">
          <div class="col-md-12">
          <%if params[:affiliate_program_id].present? %>
            <%if params[:format].present? %>
              <%= link_to 'Back',profile_isos_path(params[:format],user_data_id: params[:user_data_id]),class: 'btn button-color pull-left button-radius af-onclick' %>
            <% else %>
              <%= link_to 'Back',users_path(admin_user: params[:admin_user],user: "affiliate_programs",user_data_id: params[:user_data_id]),class: 'btn button-color pull-left button-radius af-onclick' %>
            <% end %>
              <% unless current_user.support_mtrac? %>
                <%=f.submit 'Save',class: 'btn butt-color pull-right button-radius phone_class af-onclick',id: 'submit_button' %>
              <% end %>
          <% else %>
            <%if @step==:affiliate_program_documentation || @step==:affiliate_program_signup %>
              <%= link_to 'Cancel',users_path(admin_user: params[:admin_user],user: "affiliate_programs"),class: 'btn button-color pull-left button-radius af-onclick' %>
            <%else%>

              <%= link_to 'Back', previous_wizard_path(user_data_id: params[:user_data_id])  ,class: 'btn button-color pull-left button-radius af-onclick' %>
            <% end %>
            <%if @step==:bank_account %>
              <%=f.submit 'Create Affiliate',class: 'btn butt-color pull-right button-radius af-onclick-create' %>
            <%else%>
              <%=f.submit 'Next',class: 'btn butt-color pull-right button-radius phone_class af-onclick-create',id: 'submit_button' %>
            <% end %>
          <% end %>
        </div>
        </div>
      </div>
    </div>
  <% end %>
</div>
<div id="cover-spin"></div>

<%=render partial: 'admins/iso_agent_affiliate_style' %>