<%=render layout: 'new' do %>
  <input type="hidden"  name="user[affiliate_program_id]"  value='<%=params[:affiliate_program_id] if params[:affiliate_program_id].present? %>'/>
  <input type="hidden"  name="user[format]"  value='<%= params[:format] if params[:format].present? %>'/>
  <!--  ------To Getting Form Work------>
  <% user=@affiliate %>
  <!--  ------end---------->
  <h3 class="header-color">Bank Account</h3><br>
    <div class="col-md-12 card">
    <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="row">
              <div class="form-group col-md-6">
                <label>Bank Account Type</label>
                <%= select_tag 'user[system_fee][bank_account_type]', options_for_select(Location.bank_account_types.keys.map {|a| [a.humanize, a]}, user.system_fee.try(:[], 'bank_account_type')), include_blank: "Choose", class: "form-control input-lg" %>
              </div>
            </div>
          </div>
          <div class="col-md-12">
            <div class="row">
              <div class="form-group col-md-6">
                <div class="input-icon icon_inside_input_field">
                  <label>Name on Bank Account</label>
                  <input class="system_fee form-control input-lg" type="text" name="user[system_fee][bank_account_name]" value='<%= user.system_fee.try(:[], 'bank_account_name') %>'/>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-12">
            <div class="row">
              <div class="form-group col-md-6">
                <div class="input-icon icon_inside_input_field">
                  <label>Bank Routing#</label>
                  <input class="system_fee form-control buyrate_fields input-lg" type="text" id='' name="user[system_fee][bank_routing]" minlength="9" maxlength="9" data-validate="false" value="<%= user.system_fee.try(:[], 'bank_routing').present? ? user.system_fee.try(:[], 'bank_routing') : '' %>"/>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-12">
            <div class="row">
              <div class="form-group col-md-6">
                <div class="input-icon icon_inside_input_field">
                  <label>Bank Account#</label>
                  <input class="form-control buyrate_fields input-lg" type="text" id="password-field" name="user[system_fee][bank_account]" minlength="3" maxlength="24" value='<%= user.system_fee.try(:[], 'bank_account') %>'/>
                  <!--<a id="transfer_new" class="btn btn-success color_white" data-toggle="modal" data-target="#transfer_money">New Transfer</a>-->
                 <!--  <span toggle="#password-field" class="fa fa-fw fa-eye field-icon my-password"></span> -->
                </div>
              </div>
            </div>
          </div>

                    <%# if user.wallets.present? %>
            <% wallet_id = user.wallets.primary.first.id if user.wallets.present? %>
            <% img_url=Image.where(location_id: wallet_id).first if wallet_id .present? %>
            <div class="col-md-12">
                <div class="row">
                  <% if img_url.present? %>
                    <div class="form-group col-md-6 <%=img_url.present? ? '': "display_none" %>" id="img_up">
                      <label class="width_max" for="email">Void Check</label>
                      <div class="col-md-3 img-margin">
                        <%= image_tag img_url.add_image.url, :alt => 'product_image' %>
                      </div>
                      <div class="col-md-3 button-margin">
                        <div class="col-md-12">
                          <%= link_to '', img_url.add_image.url, download: img_url.add_image,target: '_blank', class: 'fa fa-download' %>
                        </div>
                        <div class="col-md-12">
                          <%= link_to '','#',id: 'delete_image_button',data:{ image_id: user.wallets.primary.first.id },class: 'fa fa-close' %>
                        </div>
                      </div>
                    </div>
                  <% end %>
                  <div class="form-group col-md-6 <%=img_url.present? ? "display_none" : '' %>" id="choose_img" >
                    <label class="width_max margin_top_10px" for="email">Proof of Bank Account</label>
                      <input type="hidden" name="image[usage_id]" value="<%= params[:user_data_id] %>">
                      <input type="hidden" name="image[location_id]" value="<%= params[:user_data_id]  %>">
                    <input type="file" name="image[add_image]" class="choose_img width_35per_imp" id="image_store">
                    <div class="col-md-3"></div>
                  </div>
                </div>
              </div>
          <%#end%>


        </div>

   </div>
  </div>
<% end %>

<%= javascript_include_tag 'admins/affiliate_programs.js' %>