<div class="col-md-12 card mb-7">
	<div class="buyrate-row">
	    <h3 id="buyrate-info-heading" class="header-color">Affiliate Information</h3><br>
	    <div class="col-md-1"></div>
	    <div class="col-md-10" id="buyrate-user-fields-container">
	      	<%= form_for @affiliate_program  , url: admins_affiliate_program_path(@affiliate_program.id)  , method: :patch , html: {id: "affiliate_program_form"} do |f|%>
	      		<%= f.hidden_field :user_id , value: @affiliate_program.id %>
	      		<%= render partial: "form" , locals: {f: f} %>
			<% end %>
	    </div>
	</div>
</div>