<div class="row">
    <div class="card sameheight-item items" data-exclude="xs,sm,lg">
		<div class="card-header bordered">
			<div class="header-block">
			  <h3 class="title text-capitalize pull-left">All Admin Users</h3>
			</div>
			<div class="header-block pull-right">
			  <%= link_to 'New Affiliate Program User', new_admins_affiliate_program_path , class:'btn btn-primary' %>
			</div>
		</div>
		<section class="example">
		  <div class="">
		    <div class="">
		      <div class="table-responsive" id="table-overflow">
		        <table id="<%=params[:user]%>-datatable" class="table table-striped table-bordered table-hover" >
		          <thead>
		          <tr>
		            <th>ID</th>
		            <th>Contact Name</th>
		            <% if ["isos", "agents", "affiliate"].include? (params[:user]) %>
		              <th>Company Name</th>
		            <% end %>
		            <th>Email</th>
		            <th>Phone</th>
		            <th>Actions</th>
		          </tr>
		          </thead>
		          <tbody>
		          <% if @affiliate_programs.present? %>
		              <% @affiliate_programs.each do |user| %>
		                  <tr>
		                    <td><%= user.id %></td>
		                    <td><%= user.name || "#{user.first_name} #{user.last_name}" %></td>
		                    <td><%= user.email %></td>
		                    <td><%= user.phone_number %></td>
		           
		                    <td>
		                      <div class="dropdown">
		                        <a href="#" class="dropdown-style" type="button" data-toggle="dropdown" >●●●
		                        </a>
		                        <ul class="dropdown-menu white-background">
		                         <li class="show-cover-spin"><%= link_to("Edit", edit_admins_affiliate_program_path(user.id) ) %></li>
		                        </ul>
		                      </div>
		                    </td>
		                  </tr>
		              <% end %>
		          <% end %>
		          </tbody>
		        </table>
		      </div>
		    </div>
		  </div>
		</section>
	<div id="cover-spin"></div>
	</div>
</div>
