<div class="col-md-12 card mb-7">
	<div class="buyrate-row">
	    <h3 id="buyrate-info-heading" class="header-color">Affiliate Program Information</h3><br>
	    <div class="col-md-1"></div>
	    <div class="col-md-10" id="buyrate-user-fields-container">
	      	<%= form_for @affiliate_program  , url: admins_affiliate_programs_path(@affiliate_program)  , method: :post , html: {id: "affiliate_program_form"} do |f|%>
				<%= render partial: "form" , locals: {f: f} %>
	         <% end %>
	     </div>
	</div>
</div>