
.container {
  width: fit-content;
  display: inline-block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 10px;
  cursor: pointer;
  font-size: 14px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 22px;
  width: 23px;
  background-color: #eee;
}
.container:hover input ~ .checkmark {
  background-color: #ccc;
}
.container input:checked ~ .checkmark {
  background-color: #2196F3;
}
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}
.container input:checked ~ .checkmark:after {
  display: block;
}
.container .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 2px 2px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
h3{
  font-size: 1.4rem !important;
}
.verify_status {
  padding: 2px !important;
  border-radius: 10%;
}
table{
  margin: 0 auto;
  width: 100%;
  clear: both;
  border-collapse: collapse;
  table-layout: fixed;
  word-wrap:break-word;
}
.dataTables_wrapper .dataTables_paginate {
  padding : 10px;
}
.dataTables_wrapper .dataTables_paginate .paginate_button {
  padding : 0px;
  margin-left: 0px;
  display: inline;
  border: 0px;
}
.dataTables_wrapper .dataTables_processing {
  position: absolute;
  top: 30%;
  left: 50%;
  width: 30%;
  height: 40px;
  margin-left: -20%;
  margin-top: -25px;
  padding-top: 20px;
  text-align: center;
  font-size: 1.2em;
  background: yellow;
}
.dataTables_wrapper .dataTables_paginate .paginate_button:hover {
  border: 0px;
}
div.table-responsive>div.dataTables_wrapper>div.row{
  margin: 0;
  margin-top: 20px;
  margin-bottom: 20px;
}

.dropdown-menu {
  left: 0%;
}

@media only screen
and (min-device-width: 768px)
and (max-device-width: 1024px)
and (orientation: landscape) {
  .dropdown-menu {
    left: -107px;
  }
}

@media only screen
and (min-device-width: 768px)
and (max-device-width: 1024px)
and (orientation: portrait) {
  .dropdown-menu {
    left: -107px;
  }
}

.dropdown-menu > li > a {
  background-color: whitesmoke;
  color: #000000;
  background-image: none;
}

.dropdown-menu > li > a:hover {
  background-color: #7867a7;
  background-image: none;
}


/*============================*/
/*moving inline styles start*/
/*============================*/

/*_form.html.erb*/

.color-red-ach{
     color:red !important;
}
.margin-bottom-20px-ach{
    margin-bottom: 20px !important;
}
.margin-top-20px-ach{
    margin-top: 20px !important;
}
.margin-bottom-3px-ach{
    margin-bottom: 3px !important;
}

/*archived_ach_gateways.html.erb  & archived_check_gateway.html.erb*/

.drop_down_button_archived_ach{
    color: darkgray !important;
    text-align: center !important;
    display: block !important;
}
.drop_down_menu_archived_ach{
    background: white !important;
}

/*check.html.erb*/

.text_center_td_ach_gateway{
    text-align: center !important;
}
.ach_active_inactive_button {
    width: 100px !important;
    font-weight: 700 !important;
}

/*============================*/
/*moving inline styles end*/
/*============================*/
