#user_email{
  background-color: white;
}
.phone-length-1{
    padding-left: 3.9rem !important;
}

.phone-length-2{
    padding-left: 4.3rem !important;
}

.phone-length-3{
    padding-left: 4.8rem !important;
}

.phone-length-4{
    padding-left: 5.2rem !important;
}
.display-none{
    display: none;
}
hr {
  border-style: solid;
  color: #e0e0e0;
  background-color: #e0e0e0;
  width: 75%;
  margin-left: 5.5rem;
  margin-right: 01rem;
  margin-top: -1rem;
}

.hr {
  border-style: solid;
  color: #e0e0e0;
  background-color: #e0e0e0;
  width: 85%;
  margin-left: 01rem;
  margin-right: 01rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.bullet-label {
  display: list-item;
  list-style-type: disc;
  list-style-position: inside;
  font-size: 26px;
  color: deepskyblue;
  margin-top: -11px;
}

.inline {
  display: inline-flex;
}

.same-line {
  display: flex;
}

.left-margin {
  margin-left: 8rem;
}

.top-margin {
  margin-top: 20%;
}

.card {
  border-radius: 10px;
}

.blu-color {
  color: #1f1667;
}
.grey-color {
  color: #9d9d9d;
}
.green-clr {
    color: green;
}

.button-color {
  background-color: #333333;
  color: white !important;
}

.butt-color {
  background-color: #1f1667;
  color: white !important;
}

.button-radius {
  border-radius: 5px;
  margin-left: 25px;
}

.header-color {
  color: #00a7d0;
  margin-left: -2rem;
}

.container-margin {
  padding: 0% 5%;
}

/*    Spinner Code*/

#cover-spin {
  position: fixed;
  width: 100%;
  left: 0;right: 0;top: 0;bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 9999;
  display: none;
}
#cover-spin1 {
  position: fixed;
  width: 100%;
  left: 0;right: 0;top: 0;bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 9999;
  display: none;
}

@-webkit-keyframes spin {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#cover-spin::after {
  content: '';
  display: block;
  position: absolute;
  left: 48%;
  top: 40%;
  width: 40px;
  height: 40px;
  border-style: solid;
  border-color: black;
  border-top-color: transparent;
  border-width: 4px;
  border-radius: 50%;
  -webkit-animation: spin .8s linear infinite;
  animation: spin .8s linear infinite;
}
#cover-spin1::after {
  content: '';
  display: block;
  position: absolute;
  left: 48%;
  top: 40%;
  width: 40px;
  height: 40px;
  border-style: solid;
  border-color: black;
  border-top-color: transparent;
  border-width: 4px;
  border-radius: 50%;
  -webkit-animation: spin .8s linear infinite;
  animation: spin .8s linear infinite;
}

/*    End of Spinner Code*/

.content-padding {
  padding-left: 6%;
}

.bottom-padding {
  padding-bottom: 5% !important;
  padding-right: 10%;
  padding-top: 5%;
}
.c_btn{
  float: right;
  font-size: 1.5rem;
  line-height: 1;
  color: black;
  background: white;
  border: white;
  margin-top: 2%;
  margin-right: 1%;
  opacity: 1;
}
.has-error {
  color: #FF4444;
  font-size: 13px;
  font-weight: normal;
}
.ui-autocomplete {
  max-height: 100px;
  overflow-y: auto;
  overflow-x: hidden;
}

* html .ui-autocomplete {
  height: 100px;
}

.ui-autocomplete-category {
  font-weight: bold;
  padding: .2em .4em;
  margin: .8em 0 .2em;
  line-height: 1.5;
}

.rate-margin {
  margin-left: 45.5rem;
  margin-top: -4.0rem;
}

.text-width {
  width: 8.3rem;
}

.text-margin {
  margin-top: -3rem;
  margin-left: 9rem;
}
::-webkit-file-upload-button {
  background: white;
  padding: 0.7em;
}
span.has-error {
  color: red;
}

.fa-font {
  font-size: 1.1rem;
}

.h5 {
  font-size: 1.2rem;
}

.col-md-8 .row .col-md-12 img {
  width: 25%;
  height: 25%;
  padding-bottom: 1%;
}

.arrange {
  display: inline-grid;
}

.panel-default > .panel-heading {
  color: #333333;
  border-radius: 25px;
  background-color: #f5f5f5;
  /* border-color: #dddddd; */
}
label {
  margin-bottom: 1rem;
}

.left_margin {
  margin-left: 3rem;
}

.intl-tel-input .selected-flag .iti-arrow{
  left: 30px;
}
.intl-tel-input.separate-dial-code .selected-flag {
  width: 43px;
}

.intl-tel-input {
  display: block;
}
.intl-tel-input.separate-dial-code .selected-dial-code{
  display: table-cell;
  padding-left: 7px;
  position: absolute;
  left: 40px;
  height: 100%;
  padding-top: 30%;
}
.progress {
  display: none;
  width: 450px;
}
table{
  margin: 0 auto;
  width: 100%;
  clear: both;
  border-collapse: collapse;
  table-layout: fixed;
  word-wrap:break-word;
}
.dataTables_wrapper .dataTables_paginate {
  padding : 10px;
}
.dataTables_wrapper .dataTables_paginate .paginate_button {
  padding : 0px;
  margin-left: 0px;
  display: inline;
  border: 0px;
}
.dataTables_wrapper .dataTables_paginate .paginate_button:hover {
  border: 0px;
}
.hr_sys{
    width: 81% !important;
    float: left;
    margin-top: 0rem !important;
    margin-bottom: 1rem !important;
}
.hr_split{
    width: 97% !important;
    float: left;
    margin-top: 0rem !important;
    margin-bottom: 1rem !important;
}
.hr_sys_doc{
    margin-top: 1rem !important;
    margin-bottom: 1rem !important;
    float: left;
}

/*============================*/
/*moving inline styles start*/
/*============================*/

/*_new.html.erb*/

.margin-top-1-5-em-affiliate{
    margin-top:1.5em !important;
}

.margin-top-5-rem-affiliate{
    margin-top:5rem !important;
}

.margin-left-2-em-affiliate{
    margin-left: 2em !important;
}
.margin-left-6-affiliate{
    margin-left: 6% !important;
}
.margin-left-14-affiliate{
    margin-left: 14% !important;
}
.margin-left-11-affiliate{
    margin-left: 11% !important;
}
.margin-left-8-affiliate{
    margin-left: 8% !important;
}
.margin-left-9-affiliate{
    margin-left: 9% !important;
}
.margin-bottom-5-affiliate{
    margin-bottom: 5% !important;
}

.margin-bottom-1-px-affiliate{
    margin-bottom: 1px !important;
}

.width-25-affiliate{
    width:25% !important;
}

.display-none-affiliate{
    display:none;
}

.width-97-affiliate{
    width:97% !important;
}
.widith-100-affiliate{
    width:100% !important;
}

/*edit.html.erb*/

.tos_acceptance_affiliate_h6{
    margin-top: 10px !important;
    margin-right: 25px !important;
}

.color-green-affiliate{
    color: green !important;
}

.color-red-affiliate{
    color: red !important;
}

/*index.html.erb*/

.affiliate-title-h1{
    float: left !important;
    margin-right: 20px !important;
}

.section-card-widget-success-agent{
    padding: 4px !important;
    background-color: blue !important;
    padding-top: 8px !important;
    padding-bottom: 8px !important;
    text-align: center !important;
}


/*============================*/
/*moving inline styles end*/
/*============================*/

.red-clr{
    color: red;
}
#length, #one_number, #upper_case, #lower_case{
    margin-right: 10px;
}
.padding-right-2-percent{
    padding-right: 2%;
}
.no-space-break{
    white-space:nowrap;
    text-overflow:ellipsis;
}