
.icon_inside_input_field {
  position: relative;
}
.icon_inside_input_field > i {
  position: absolute;
  display: block;
  transform: translate(0, -50%);
  top: 50%;
  pointer-events: none;
  width: 25px;
  text-align: center;
  font-weight: bold;
  font-size: 16px;
}
.icon_inside_input_field > input {
  padding-left: 25px;
  padding-right: 0;
}
.bank-opt>form>span>label {
    padding-right: 21px;
  width:auto !important;
}
input[type="radio"] {
  margin-right: 5px !important;
}
/*span{*/
/*  margin-right: 20px !important;*/
/*}*/
thead > tr > th {
  text-align: center !important;
}
thead > tr > th {
  text-align: center !important;
}

#gatetable .form-control{
  width: auto;
}

.active_div{
    background-color: #1eb71eed;
    padding: 10px 20px;
    border-radius: 13px;
    color: white;
}
.inactive_div{
    background-color: #b71e1eed;
    padding: 10px 20px;
    border-radius: 13px;
    color: white;
}

/*============================*/
/*moving inline styles start*/
/*============================*/

/*_atm.html.erb*/

.margin-bottom-7-px-app-config{
    margin-bottom: 7px !important;
}

.text-align-right-app-config{
    text-align:right !important;
}

/*_datatable.html.erb*/

.text-align-center-app-config{
    text-align: center !important;
}

.datatable-thead-app-config{
    color: white !important;
    background-color: #00000099 ;
    text-align: center !important;
}

.background-00000099-app-config{
    background-color: #00000099;
}

/*_merchant_list.html.erb*/
.merchant_list_app-config{
    width: 41rem !important;
    margin-top: -4% !important;
}

.color-red-app-config{
    color:red !important;
}
.color-green-app-config{
    color:green !important;
}

/*_merchant_modal.html.erb*/

.modal-header-merchant-modal-app-config{
    background-color: #8171AE !important;
    color: white !important;
    padding-top: 25px !important;
    padding-bottom: 20px !important;
}

.padding-0-app-config{
    padding:0 !important;
}

.modal-close-button-app-config{
    opacity: 1 !important;
    color: white !important;
}

.display-none-app-config{
    display:none !important;
}

.margin-top-11-px-app-config{
    margin-top: 11px !important;
}
.margin-top-35-px-app-config{
    margin-top: 35px !important;
}

.margin-top-12-px-app-config{
    margin-top: 12px !important;
}

/*_show_config_log_detail.html.erb*/

.modal-content-app-config{
    margin-left: 18% !important;
    margin-right: 18% !important;
}

.modal-revert-button-app-config{
    background-color: lightcoral !important;
    color: white !important;
}

/*index.html.erb*/

.width-100-app-config{
    width: 100% !important;
}


/*merchant_app_config.html.erb*/

.merchant-app-config-container-fluid{
    background-color: #dbe6ef !important;
    padding-bottom: 10px !important;
    padding-top: 10px !important;
    display: none;
}

.enable-disable-h5-app-config{
    padding-bottom: 10px !important;
}

.font-size-14-px-app-config{
    font-size: 14px !important;
}

.slider-round-on-app-config{
    margin-top: 8px !important;
    margin-left: 5px !important;
    color: white !important;
}
.slider-round-off-app-config{
    margin-top: 8px !important;
    margin-left: 7px !important;
}

.system-config-card-header-div{
    margin-top: 30px !important;
    margin-bottom: 30px !important;
}

/*show.html.erb*/

.collapse_card_body{
    background-color: transparent !important;
}

.show-container-fluid-app-config{
    background-color: white !important;
    padding-bottom: 15px !important;
    padding-top: 15px !important;
}
.bank-div-app-config{
    display:none;
    margin-top: 11px !important;
    border-top: 1px solid #8080806b !important;
}

.margin-top-5-px-app-config{
    margin-top: 5px;
}
.ad-verifications-st-1{
    padding-right: .9375rem;
    padding-left: .9375rem;
    margin-right: auto;
    margin-left: auto;
}
.buttons_a{
    border: none;
    outline: none;
    padding: 10px 16px;
    background-color: lightgrey;
    cursor: pointer;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.buttons_active{
    border: none;
    outline: none;
    padding: 10px 16px;
    background-color:#1c165c !important;
    cursor: pointer;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    color: white !important;
}
.buttons_a:hover {
    background-color: white;
}
#paginator{
    margin-right: 21px;
    padding-bottom: 34px;
    margin-top: -10px;
}
.app-config-data-table{
    overflow-x: hidden !important;
}
.showing_records{
    margin-left: 20px;
}
.top-30-px-shared1{
    top: 30px;
}
#srch-term {
    margin-top: 30px;
    width: 220px;
    font-family: FontAwesome;
}
/*============================*/
/*moving inline styles end*/
/*============================*/
