
.dataTables_wrapper .dataTables_paginate {
  padding : 10px;
}
.dataTables_wrapper .dataTables_paginate .paginate_button {
  padding : 0px;
  margin-left: 0px;
  display: inline;
  border: 0px;
}
.dataTables_wrapper .dataTables_paginate .paginate_button:hover {
  border: 0px;
}
#datatable-keytable_info{
  display:none;
}
#datatable-keytable{
  width: 100% !important;
}
.users_tabs > li{
  width: 210px;
}
.users_tabs > li > a {
  border: none;
  outline: none;
  padding: 10px 16px;
  background-color: lightgrey;
  cursor: pointer;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.users_tabs > li > a:hover {
  background-color: #8171ae;
  color: white;
}
.users_tabs > li.active > a, .users_tabs > li.active > a:focus {
  background: #1c165c;
  color: white;
}
.search-export{
  padding-right: 5%;
  padding-left: 5%;
  padding-top: 2%;
}
.padd{
  margin: 15px 15px 20px 0px;
}
.search-btn{
  margin-left: 5%;
  margin-bottom: 1%;
}
.users_tabs > li {
  width: 206px !important;
}
.cases_blue_box{
  width: 13%;
}
table {
  margin: 0 auto;
  width: 100%;
  clear: both;
  border-collapse: collapse;
  table-layout: fixed;
  word-wrap: break-word;
}

.dataTables_wrapper .dataTables_paginate {
  padding: 10px;
}

.dataTables_wrapper .dataTables_paginate .paginate_button {
  padding: 0px;
  margin-left: 0px;
  display: inline;
  border: 0px;
}

.dataTables_wrapper .dataTables_paginate .paginate_button:hover {
  border: 0px;
}

div.table-responsive > div.dataTables_wrapper > div.row {
  margin: 0;
  margin-top: 20px;
  margin-bottom: 20px;
}

#cc_report li a {
  background-color: #fff;
  color: #000;
}

/*============================*/
/*moving inline styles start*/
/*============================*/

.margin-left-16-px-blocked-cards{
    margin-left: 16px !important;
}
.margin-left-5-px-blocked-cards{
    margin-left: 5px !important;
}
.margin-left-175-px-blocked-cards{
    margin-left: 175px !important;
}

.margin-top-10-px-blocked-cards{
    margin-top: 10px !important;
}
.margin-top-15-px-blocked-cards{
    margin-top: 15px !important;
}
.margin-top-20-px-blocked-cards{
    margin-top: 20px !important;
}

.border-bottom-0-blocked-cards{
    border-bottom: 0px !important;
}
.import-card-body-blocked-cards{
    margin-top: 20px !important;
    margin-bottom: 40px !important;
}

.text-align-center-blocked-cards{
    text-align: center !important;
}

.font-size-20-blocked-cards{
    font-size: 20px !important;
}

.cases_data_table_blocked_cards{
    border-top: 1px solid lightgrey !important;
}

.display-none-blocked-cards{
    display:none;
}

.block_card_margin_top{
    margin-top: 15px;
}
.padding-top-7-px-block_card{
    padding-top: 7px;
}
.float-left-block_card{
    float: left;
    padding-right: 4px;
}
.block_card_margin_bot{
    margin-bottom: 15px;
}
.import_button{
    background-color: blue;
    border: none;
    padding: 5px
}
.import_card_button{
    font-size: 0.8rem;
    color: #000;
    padding: 3px 20px;
    font-weight: normal;
    width: 105px;
    border: none;
}
.import_right{
    float: right;
}
.drop_menu_block{
    min-width: 116px !important;
    margin-top: -5px;
    background: white;
}
.remove_btn{
    list-style-type: none;
}
#sample_download_btn{
    font-size: 0.8rem;
    width: 105px;
    margin-left: 5px;
}
.margin_left_dropdown{
    margin-left: 190%;
}
.margin_right_remove{
    margin-right: 13%;
    background-color: #CC0000;
    border-color: #CC0000;
    color: white;
}
#div_import{
    max-width: 600px !important;
}
#sample_download_btn_modal{
    font-size: 0.8rem;
    width: auto;
    margin-left: 5px;
}
#import_modal_header{
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
}
.choose_file_modal{
    padding-top: 7px;
}
.import_card_modal{
    padding-top: 25px;
    padding-bottom: 40px;
}
.import_btn_modal{
    text-align: center;
}
.padding_left_imported{
    padding-left: 5px;
    border: none;
}
.padding_left_imported:hover {background-color: #008CBA;color: white;}
.import_card_button:hover {background-color: #008CBA;color: white;}

.remove_btn_table{
    background-color: #CC0000;
    border-color: #CC0000;
    color: white;
}
.dataTables_length{
    text-transform: capitalize;
}
#before_download_note{
    font-size: 1rem;
}
.margin-top-35px{
    margin-top: -35px;
}
#after_download_note{
    font-size: 1rem;
}
/*============================*/
/*moving inline styles end*/
/*============================*/