
.dataTables_wrapper .dataTables_paginate {
  padding : 10px;
}
.dataTables_wrapper .dataTables_paginate .paginate_button {
  padding : 0px;
  margin-left: 0px;
  display: inline;
  border: 0px;
}
.dataTables_wrapper .dataTables_paginate .paginate_button:hover {
  border: 0px;
}
#datatable-keytable_info{
  display:none;
}
#datatable-keytable{
  width: 100% !important;
}
#1more-transactions{
  float: right;
  padding: 10px;
  margin-right: 10px;
  margin-top: -100px;
  border-radius: 5px;
}
div.table-responsive>div.dataTables_wrapper>div.row{
  margin: 0;
  margin-top: 20px;
  margin-bottom: 20px;
}
#datatable-keytable_next{

}
.col-md-7{
  margin-right: 1px;
}
.capital{
  text-transform: capitalize;
}
.ms-choice{
  border: 0 !important;
  outline: none !important;
}

/*============================*/
/*moving inline styles start*/
/*============================*/
.width-500-px-block-transaction{
    width: 500px !important;
}

.float-left-block-transaction{
    float:left !important;
}

.modal-body-block-transaction{
    background-color: whitesmoke !important;
    margin-bottom: -16px !important;
}
.whitesmoke-background{
    background-color: whitesmoke !important;
}

.display-none-block-transaction{
    display:none;
}

.margin-bottom-n-16-px-block-transaction{
    margin-bottom: -16px !important;
}

.font-size-16-block-transaction{
    font-size: 16px !important;
}

/*index.html.erb*/

.all-transaction-index-block-transaction{
    margin-top: 15px !important;
    margin-left: 3px !important;
}

.top-30-px-block-transaction{
    top: 30px !important;
}

.span-1-index-block-transaction{
    float: left;padding-top: 7px
}

.margin-top-15-px-block-transaction{
    margin-top:15px !important;
}

.margin-left-24-px-block-transaction{
    margin-left: 24px !important;
}
.margin-right-12-px-block-transaction{
    margin-right: 12px !important;
}

.page-count-block-transaction{
    text-align: center !important;
    margin-right: 139px !important;
    margin-bottom: 30px !important;
}

.page-navigation-example-block-tranaction{
    position: absolute !important;
    right: 20px !important;
    bottom: 20px !important;
}
/*============================*/
/*moving inline styles end*/
/*============================*/
