/*// Place all the styles related to the admins/BuyRate controller here.*/
/*// They will automatically be included in application.css.*/
/*// You can use Sass (SCSS) here: http://sass-lang.com/*/

/*============================*/
/*moving inline styles start*/
/*============================*/

/*_new.html.erb*/

.modal-header-buy-rate{
    background: #7867a7 !important;
    color: white !important;
}

.buttom-modal-header-buy-rate{
    color: white !important;
    opacity: 1 !important;
}

.padding-bottom-0-buy-rate{
    padding-bottom: 0 !important;
}
.padding-top-5-buy-rate{
    padding-top: 5px !important;
}

.padding-10-buy-rate{
    padding: 10px !important;
}

.padding-0-buy-rate{
    padding: 0px !important;
}

.program-name-buy-rate{
    color: black;padding-left: 10px;float: left !important;
}
/*============================*/
/*moving inline styles end*/
/*============================*/