.row-padding-zero {
  padding-left: 0;
}
/*.btn-secondary{*/
  /*background-color: blue !important;*/
  /*color:white !important;*/
/*}*/
th{
  width:37px
}
.all-checkbox{
  width: 0.0039px;
}
.view_check_details{
  float: left;
  margin-left: 9px;
}
.ui-autocomplete-category li {
  font-weight: bold;
  padding: .2em .4em;
  margin: .8em 0 .2em;
  line-height: 1.5;
  z-index: -1 ;
}
ul.ui-autocomplete {
  z-index: 1100;
}
.abc {
  background:url(https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.2/themes/smoothness/images/ui-anim_basic_16x16.gif) no-repeat right center
}
.data_col{
  padding: 0px !important;
}
.font-weight-bold{
  font-weight: 600;
}
.col-name{
  font-weight: bold;
  font-size: 20px;
}
textarea {
  padding: 0;
}
.dropdown-menu{
  left: -50%;
}
.dropdown-menu > li > a {
  background-color: whitesmoke;
  color: #000000;
  background-image: none;
}
.dropdown-menu > li > a:hover {
  background-color: #7867a7;
  background-image: none;
}
#cover-spin {
  position:fixed;
  width:100%;
  left:0;right:0;top:0;bottom:0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index:9999;
  display:none;
}

@-webkit-keyframes spin {
  from {-webkit-transform:rotate(0deg);}
  to {-webkit-transform:rotate(360deg);}
}

@keyframes spin {
  from {transform:rotate(0deg);}
  to {transform:rotate(360deg);}
}

#cover-spin::after {
  content:'';
  display:block;
  position:absolute;
  left:48%;top:40%;
  width:40px;height:40px;
  border-style:solid;
  border-color:black;
  border-top-color:transparent;
  border-width: 4px;
  border-radius:50%;
  -webkit-animation: spin .8s linear infinite;
  animation: spin .8s linear infinite;
}
input:checked + .slider {
  background-color: red;
}
.card-box{
  background: white !important;
  border-radius: 5px;
  -moz-box-shadow: 0 0 3px #000000;
  -webkit-box-shadow: 0 0 3px #000000;
  box-shadow: 0 0 3px #000000;
  padding-left: 10px;
  padding-right: 10px;
}
.batch-info h6{
  padding: 0px 7px;
}
.card-box-internal{
  padding: 10px 10px 50px 10px;
}
.card-box2{
  background: white !important;
  border-radius: 4px;
  box-shadow: 0 0 0.5px #000000;
  padding-left: 10px;
  padding-right: 10px;
}
.box-header {
  padding: 10px;
  border-bottom: 0.5px solid #7867a7;
  position: relative;
}
.box-header:after {
  position: absolute;
  left: 5%;
  right: 0;
  bottom: -0.5px;
  border-bottom: 0.5px solid gainsboro;
  content: '';
}

table{
  clear: both;
  border-collapse: collapse;
  table-layout: fixed;
  word-wrap:break-word;
}
tr > th{
  text-align: center;
}
tr > td{
  text-align: center;
}

.dataTables_wrapper .dataTables_paginate {
  padding : 10px;
}

.dataTables_wrapper .dataTables_paginate .paginate_button {
  padding : 0px;
  margin-left: 0px;
  display: inline;
  border: 0px;
}

.dataTables_wrapper .dataTables_paginate .paginate_button:hover {
  border: 0px;
}

div.table-responsive>div.dataTables_wrapper>div.row{
  margin: 0;
  margin-top: 20px;
  margin-bottom: 20px;
}
.row-line{
  line-height: 0px;
}
.header-row{
  background: #000000b8;
  color: white;
}
@media only screen and (max-width: 1400px) {
  #export_btn_checks{
    padding-right: 40px;
  }
}
.card-box{
  background: white !important;
  border-radius: 5px;
  -moz-box-shadow: 0 0 3px #000000;
  -webkit-box-shadow: 0 0 3px #000000;
  box-shadow: 0 0 3px #000000;
  padding-left: 10px;
  padding-right: 10px;
}
.card-box-internal{
  padding: 50px 10px;
}
.box-header {
  padding: 10px;
  border-bottom: 0.5px solid #7867a7;
  position: relative;
}
.box-header:after {
  position: absolute;
  left: 5%;
  right: 0;
  bottom: -0.5px;
  border-bottom: 0.5px solid gainsboro;
  content: '';
}
.header-row{
  background: #000000b8;
  /*color: white;*/
}
.center-text{
  text-align: center;
}
tr > th{
  text-align: center;
}
tr > td{
  text-align: center;
}
.row-padding-zero{
  padding: 0px;
}


/*============================*/
/*moving inline styles start*/
/*============================*/
.width-500-px-checks{
    width:500px !important;
}
.width-5-px-checks{
    width:5px !important;
}

.float-left-checks{
    float: left !important;
}

.batch-checks-back-button{
    width: 80px; background-color: #8a8484; font-weight: bold; color: white;
}

.float-right-margin-right-20-checks{
    float: right;
    margin-right: 20px;
}
.float-left-margin-right-20-checks{
    float: left;
    margin-right: 20px;
}

.width-230-margin-right-10-checks{
    width: 230px;
    margin-right: 10px
}

.card-widget-success-checks{
    padding: 4px; background-color: blue; padding-top: 8px;padding-bottom: 8px; text-align: center;
}

.display-none-checks{
    display: none;
}
.modal-body-checks{
    background-color: whitesmoke !important;
    margin-bottom: -16px !important;
}

.whitesmoke-background-checks{
    background-color: whitesmoke !important;
}

.lightgray-background-checks{
    background-color: lightgray !important;
}

.ffffff-background-checks{
    background-color: #FFFFFF !important;
}
.white-color-checks{
    color: white !important;
}

.lightblue-background-checks{
    background-color: lightblue !important;
}
.background-FFA500-checks{
    background-color: #FFA500 !important;
}
.background-blue-checks{
    background-color: blue !important;
}
.background-grey-checks{
    background-color: grey !important;
}

.margin-bottom-n-16-px-checks{
    margin-bottom: -16px !important;
}

.width-13-checks{
    width:13px !important;
}
.width-95-checks{
    width:95px !important;
}
.width-55-checks{
    width:55px !important;
}
.width-109-checks{
    width:109px !important;
}
.width-67-checks{
    width:67.0039px !important;
}
.width-47-checks{
    width:47px !important;
}
.width-45-checks{
    width:45px !important;
}
.width-63-checks{
    width:63px !important;
}
.width-52-checks{
    width:52px !important;
}
.width-100-checks{
    width:100px !important;
}
.width-80-checks{
    width:80px !important;
}
.width-85-checks{
    width:85px !important;
}

.width-78-checks{
    width:78px !important;
}
.width-71-checks{
    width:71px !important;
}

.width-150-px-checks{
    width:150px !important;
}
.width-100per-checks{
    width:100% !important;
}

.width-15per-checks{
    width: 15% !important;
}

.background-green-padding-9-checks{
    background-color: green !important;
    padding: 9px !important;
}
.background-lightcoral-padding-9-checks{
    background-color: lightcoral !important;
    padding: 9px !important;
}
.background-red-padding-9-checks{
    padding: 9px !important;
    background-color: red !important;
}
.background-blue-width-71-checks{
    background-color: blue !important;
    width: 71px !important;
}
.background-grey-width-71-checks{
    background-color: grey !important;
    width: 71px !important;
}
.padding-9-px-checks{
    padding: 9px !important;
}

.data-modal-class-checks{
    font-size: 1.0rem !important;
    margin-left: 10px !important;
}

.modal-fade-dialog-checks{
    width: 450px;
    margin: 0 auto;
}

.approve_check{
    font-size:24px !important;
    margin-left: 5px !important;
    color:green !important;
}

.margin-left-16-px-checks{
    margin-left: 16px !important;
}

.text-center-background-3a4651{
    text-align: center;background-color: #3a4651;
}

.margin-auto-font-size-22-checks{
    margin: auto !important;
    font-size: 22px !important;
}

.margin-top-2-checks{
    margin-top: 2px !important;
}
.margin-top-20-checks{
    margin-top: 20px !important;
}
.margin-top-35-checks{
    margin-top: 35px !important;
}

.padding-20-font-17-checks{
    padding: 20px !important;
    font-size: 17px !important;
}

.padding-10-background-5cb85c-checks{
    padding: 10px !important;
    background: #5cb85c !important;
}

.padding-10-background-17a2b8-checks{
    padding: 10px !important;
    background-color: #17a2b8 !important;
}

.margin-bottom-50-padding-0{
    margin-bottom: 50px; padding: 0px;
}

.font-size-17-color-black-checks{
    font-size: 17px; color: black;
}
.color-black-checks{
    color:black;
}

.color-red-checks{
    color:red;
}

.margin-left-17-px-checks{
    margin-left:17px !important;
}

.open-error{
    color: darkred;display: none
}

.check-img{
    position:relative;bottom:30px;float:right;right:10px;display:none
}

.success-div-checks{
    margin-top: 5px !important;background-color: #dff0d8 !important;border-color: #d0e9c6 !important;color: #3c763d !important;display: none
}


.modal-content-checks{
    margin: 0% 0%; border: 3px solid #3a4651;
}

.color-blue-font-size-15{
    color:blue;
    font-size:15px;
}

.font-1-2-rem-color-black-checks{
    font-size: 1.2rem;color: black;
}

.cursor-pointer-checks{
    cursor: pointer !important;
}

.show-check-status-checks{
    height: 100px;background: #3A4651;margin-top: 20px
}

.margin-top-40-color-white{
    margin-top: 40px;
    color: white;
}

.alert-now-checks{
    font-weight: bold;
    color: #5db761;
    text-align: center;
}

.padding-right-3-top-10-px-checks{
    padding-right: 3%;padding-top: 10px;
}
.padding-right-3-top-13-px-checks{
    padding-right: 3%;padding-top: 13px;
}

.float-right-margin-diff-1-checks{
    float: right;margin: 5px 30px 0px 0px;
}

.switch-checks{
    float: left; padding-top:7px; width:100px; font-size: 14px
}
.batch-checks-show-button{
    float: left;padding-top: 7px;padding-right: 5px
}
.batch-checks-entries-button{
    float: left; padding-top: 7px;;padding-left: 5px
}

.slider-round-checks{
    margin-left: 105px; width: 60%
}

.checks-transaction-checks{
    font-size: 20px;
    font-weight: 600;
    display: inline;
}

.padding-r-20-margin-r-20-padding-top-7-px{
    padding-right: 20px;margin-right: 20px;padding-top: 7px;
}

.display-inline-margin-r-20-px-checks{
    display: inline;margin-right: 20px;
}

.margin-right-5-px-checks{
    margin-right: 5px !important;
}

.margin-top-10-px-checks{
    margin-top: 10px !important;
}
.margin-top-15-px-checks{
    margin-top: 15px !important;
}
.margin-top-28-px-checks{
    margin-top: 28px !important;
}

.text-align-right-checks{
    text-align:right !important;
}
.text-align-left-checks{
    text-align:left !important;
}

.margin-left-20-px-font-weight-600-checks{
    margin-left  : 20px;
    font-weight: 600;
}

.padding-10-10-checks{
    padding: 10px 10px !important;
}

.padding-0-top-40-checks{
    padding: 0px;top: 40px;
}
.phone-div{
    border: 1px solid lightgrey;border-radius: 10px;margin-top: 40px;
}
.btn-width{
    width: 100% !important;
}
.no-display{
    display:none!important;
}
.email_transfer_style{
    margin-top: 20px;
    border: 1px solid lightgrey;
    border-radius: 10px;
}
.margin-top-10{
    margin-top: 10px;
}
.tango-logs-font{
    padding-left: 0;
}
.tango-logs-block{
    padding-bottom: 2%;
}

.padding-10-px-ach{
    padding:10px !important;
}

.badge {
    display: inline-block;
    padding: 0.5em 0.5em;
    font-size: 75%;
    font-weight: 700;
    line-height: 1;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: 0.25rem;
}
.badge-info {
    color: #fff;
    background-color: green !important;
}
.badge-info_void {
    color: #fff;
    background-color: red !important;
}
.badge-info_paid_wire {
    color: #fff;
    background-color:blue !important;
}
.badge-info_pending {
    color: #fff;
    background-color:grey !important;
}
.badge-info_failed {
    color: #fff;
    background-color:red !important;
}
.modal-content-checks{
    width: 1020px;
}
/*============================*/
/*moving inline styles end*/
/*============================*/