
.active_div{
  background-color: #1eb71eed;
  padding: 10px 20px;
  border-radius: 13px;
  color: white;
}
.inactive_div{
  background-color: #b71e1eed;
  padding: 10px 20px;
  border-radius: 13px;
  color: white;
}
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {display:none;}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.zero-padding{
  padding: 0 !important;
}


/* The container */
.radio-label {
  display: inline-block;
  //position: relative;
  //padding-left: 35px;
  //margin-bottom: 12px;
  cursor: pointer;
  padding: 4px 0 0 26px !important;
  width: 300px;
  //font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default radio button */
.radio-label input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

/* Create a custom radio button */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  border: 1px solid;
  background-color: #eeeeee08;
  border-radius: 2%;
}

/* On mouse-over, add a grey background color */
.radio-label:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the radio button is checked, add a blue background */
.radio-label input:checked ~ .checkmark {
  background-color: #2196F3;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the indicator (dot/circle) when checked */
.radio-label input:checked ~ .checkmark:after {
  display: block;
}

/* Style the indicator (dot/circle) */
.radio-label .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

body {
  box-sizing: border-box;
}
.capitalize{
  text-transform: capitalize;
}
#adminModal.modal.fade .modal-dialog {
  width: 85%;
}
#adminModal .modal-body {
  position: relative;
  //padding: 15px 30px 15px 30px;
  margin: 0px 15px 0px 15px;
  color: black;
}
#adminModal .modal-body .custm-icon {
  margin: 15px 0px;
  position: relative;
  display: inline-block;
  font-family: 'Glyphicons Halflings';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.ok-circle {
  font-size: 14px;
}
.fa-check-circle{
  color: #50ae54;
}
.rpad {
  padding-right: 100px !important;
}
.bold {
  font-weight: 600;
}
.details{
  font-size: 14px;
  color: black;
}
.blue-color{
  color: #1c75e4 !important;
}
.font {
  font-size: 12px;
}
.size{
  font-size: 14px;
}
.bg {
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  border-top-left-radius: 40px;
  border-bottom-left-radius: 40px;
  margin-left: 16px;
  background: #e3e3e3;
  padding: 10px;
}
.xs {
  margin-left: 38px;
  width: 63%;
}
.bg2 {
  border-top-right-radius: 40px;
  border-bottom-right-radius: 40px;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
  background: #e3e3e3;
  padding: 10px;
}

.modal-dialog {
  max-width: 100% !important;
}
.modal {
}
.checkbox-animated {
  position: relative;
  margin-top: 0px;
  margin-bottom: 0px;
  background: white;
  padding: 20px 30px;
  color: black;
}
.checkbox-animated input[type=checkbox] {
  display: none;
}
.checkbox-animated input[type=checkbox]:disabled ~ label .box {
  border-color: #777;
  background-color: #E6E6E6;
}
.checkbox-animated input[type=checkbox]:disabled ~ label .check {
  border-color: #777;
}
.checkbox-animated input[type=checkbox]:checked ~ label .box {
  opacity: 0;
  -webkit-transform: scale(0) rotate(-180deg);
  -moz-transform: scale(0) rotate(-180deg);
  transform: scale(0) rotate(-180deg);
}
.checkbox-animated input[type=checkbox]:checked ~ label .check {
  opacity: 1;
  -webkit-transform: scale(1) rotate(45deg);
  -moz-transform: scale(1) rotate(45deg);
  transform: scale(1) rotate(45deg);
}
.checkbox-animated label {
  cursor: pointer;
  font-weight: normal;
  margin-bottom: 0;
  font-size: 16px;
}
.checkbox-animated label span {
  display: block;
  position: absolute;
  left: 3px;
  -webkit-transition-duration: 0.3s;
  -moz-transition-duration: 0.3s;
  transition-duration: 0.3s;
  top: 22px;
}
.checkbox-animated label .box {
  border: 2px solid black;
  height: 18px;
  width: 18px;
  z-index: 888;
  -webkit-transition-delay: 0.2s;
  -moz-transition-delay: 0.2s;
  transition-delay: 0.2s;
}
.checkbox-animated label .check {
  top: 18px;
  left: 6px;
  width: 12px;
  height: 20px;
  border: 2px solid black;
  border-top: none;
  border-left: none;
  opacity: 0;
  z-index: 888;
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  transform: rotate(180deg);
  -webkit-transition-delay: 0.3s;
  -moz-transition-delay: 0.3s;
  transition-delay: 0.3s;
}
.center {
  position: absolute;
  display: inline-block;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
/** Custom Select **/
.custom-select-wrapper {
  position: relative;
  display: inline-block;
  user-select: none;
}
.custom-select-wrapper select {
  display: none;
}
.custom-select {
  position: relative;
  display: inline-block;
}
.custom-select-trigger {
  position: relative;
  display: block;
  width: 130px;
  padding: 0 84px 0 22px;
  font-size: 22px;
  font-weight: 300;
  color: #fff;
  line-height: 60px;
  background: #5c9cd8;
  border-radius: 4px;
  cursor: pointer;
}
.custom-select-trigger:after {
  position: absolute;
  display: block;
  content: '';
  width: 10px;
  height: 10px;
  top: 50%;
  right: 25px;
  margin-top: -3px;
  border-bottom: 1px solid #fff;
  border-right: 1px solid #fff;
  transform: rotate(45deg) translateY(-50%);
  transition: all .4s ease-in-out;
  transform-origin: 50% 0;
}
.custom-select.opened .custom-select-trigger:after {
  margin-top: 3px;
  transform: rotate(-135deg) translateY(-50%);
}
.custom-options {
  position: absolute;
  display: block;
  top: 100%;
  left: 0;
  right: 0;
  min-width: 100%;
  margin: 15px 0;
  border: 1px solid #b5b5b5;
  border-radius: 4px;
  box-sizing: border-box;
  box-shadow: 0 2px 1px rgba(0,0,0,.07);
  background: #fff;
  transition: all .4s ease-in-out;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transform: translateY(-15px);
}
.custom-select.opened .custom-options {
  opacity: 1;
  visibility: visible;
  pointer-events: all;
  transform: translateY(0);
}
.custom-options:before {
  position: absolute;
  display: block;
  content: '';
  bottom: 100%;
  right: 25px;
  width: 7px;
  height: 7px;
  margin-bottom: -4px;
  border-top: 1px solid #b5b5b5;
  border-left: 1px solid #b5b5b5;
  background: #fff;
  transform: rotate(45deg);
  transition: all .4s ease-in-out;
}
.option-hover:before {
  background: #f9f9f9;
}
.custom-option {
  position: relative;
  display: block;
  padding: 0 22px;
  border-bottom: 1px solid #b5b5b5;
  font-size: 18px;
  font-weight: 600;
  color: #b5b5b5;
  line-height: 47px;
  cursor: pointer;
  transition: all .4s ease-in-out;
}
.custom-option:first-of-type {
  border-radius: 4px 4px 0 0;
}
.custom-option:last-of-type {
  border-bottom: 0;
  border-radius: 0 0 4px 4px;
}
.custom-option:hover, .custom-option.selection {
  background: #f9f9f9;
}
ul.pagination .page-item.active .page-link {
  z-index: 1;
  color: #fff;
  background-color: #8171AE !important;
  border-color: #8171AE !important;
}
a.custom-a {
  background: #8171AE;
  color: white;
  padding: 15px 45px;
  text-decoration: none;
  transition: all 0.3s;
  font-size: 16px;
}
a.custom-a:hover {
}
.C-modal-content {
  border-radius: 0px;
  height: 90vh;
}
.C-modal-content .modal-header {
  border-radius: 0px;
}
.modal-dialog {
  width: 60% !important;
}
.config .btn-primary {
  color: #000000 !important;
  background-color: #ffffff !important;
  border-color: #d7dde4 !important;
}
.config .btn-primary:hover{
  color: #ffffff;
  background-color: #d7dde4 !important;
  border-color: #d7dde4 !important;
}
button.cus-b {
  width: 450px;
  padding-top: 1rem;
  padding-bottom: 1rem;
  text-align: left;
  font-size: 16px;
  border-radius: 24px;
}
span.pl-6 {
  float: right;
}
ul.pagination.m-0 {
  margin-top: 15px;
  margin-bottom: 15px;
}

@media (min-width: 320px) and (max-width: 425px) {
  button.cus-b {
    width: 290px;
  }
  .modal-dialog {
    width: 94% !important;
  }
  .C-modal-content {
    border-radius: 0px;
    height: 658px;
  }
  .card {
    max-width: 100%;
  }
}

@media (min-width: 768px) {
  .C-modal-content {
    border-radius: 0px;
    height: 114vh;
  }
  .card {
    max-width: 100% !important;
  }
}
@media (min-width: 1440px){
  .C-modal-content {
    border-radius: 0px;
    height: 94vh;
  }
}
@media (min-width: 2048px){
  .C-modal-content {
    border-radius: 0px;
    height: 52vh;
  }}


@media (min-width: 320px) and (max-width: 425px) {
  .bg {
    border-top-right-radius: 40px;
    border-bottom-right-radius: 40px;
    border-top-left-radius: 40px;
    border-bottom-left-radius: 40px;
    margin: 0px 10%;
    background: #e3e3e3;
    padding: 10px;
    max-width: 80%;
  }
  .bg2 {
    border-top-right-radius: 40px;
    border-bottom-right-radius: 40px;
    border-top-left-radius: 40px;
    border-bottom-left-radius: 40px;
    background: #e3e3e3;
    padding: 10px;
    max-width: 80%;
    margin: 10px 10% 0px;
  }
  #adminModal.modal.fade .modal-dialog {
    width: 95%;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .xs {
    margin-left: 0px;
    width: 100%;
  }
}

@media (min-width: 1440px) {
  .lg-pad {
    margin-bottom: 24px !important;
  }
  #adminModal.modal-body {
    position: relative;
    margin: 0px 15px 0px 17px;
  }
}

@media (min-width: 2048px) {
  .lg4k {
    margin: 10px 0px 83px !important;
  }
  #adminModal.modal-body {
    position: relative;
    margin: 0px 0px 0px 35px;
  }
}

.fa-info-circle {
    font-size: 2rem !important;
}