.dropdown-menu > li > a {
    background-color: whitesmoke;
    color: #000000 !important;
    background-image: none;
}
.dropdown-menu > li > a:hover {
    background-color: #7867a7;
    background-image: none;
}
.dispute_tabs{
    padding-top: 10px;
}
.dispute_tabs > li > a {
    border: none;
    outline: none;
    padding: 10px 16px;
    background-color: lightgrey;
    cursor: pointer;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.dispute_tabs > li > a:hover {
    background-color: #8171ae;
    color: white;
}
.dispute_tabs > li.active > a, .dispute_tabs > li.active > a:focus {
    background: #1c165c;
    color: white;
}