// Place all the styles related to the admins/error_message controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.mergin-top-50px{
  margin-top: 50px;
}
.bg-white{
  background: white;
}