table {
  margin: 0 auto;
  width: 100%;
  clear: both;
  border-collapse: collapse;
  table-layout: fixed;
  word-wrap: break-word;
}

.dataTables_wrapper .dataTables_paginate {
  padding: 10px;
}

.dataTables_wrapper .dataTables_paginate .paginate_button {
  padding: 0px;
  margin-left: 0px;
  display: inline;
  border: 0px;
}

.dataTables_wrapper .dataTables_paginate .paginate_button:hover {
  border: 0px;
}

div.table-responsive > div.dataTables_wrapper > div.row {
  margin: 0;
  margin-top: 20px;
  margin-bottom: 20px;
}
#more-transactions{
  float: right;
  padding: 10px;
  margin-right: 10px;
  margin-top: -100px;
  border-radius: 5px;
}
#datatable-keytable_next{

}
.col-md-7{
  margin-right: 1px;
}


/*============================*/
/*moving inline styles start*/
/*============================*/

.float-left-padding-right-15-px-gifts{
    float: left;
    padding-right: 15px;
}

.card-widget-default-gifts{
    background-color: blue;
    color: white;
}

.card-widget-success-gifts{
    padding: 4px; padding-top: 8px;padding-bottom: 8px; text-align: center;
}

.margin-50-margin-top-80-px-gifts{
    margin:50px;
    margin-top: 80px;
}

.margin-top-100-px-gifts{
    margin-top: 100px !important;
}


/*============================*/
/*moving inline styles end*/
/*============================*/
