
.dropdown-menu{
  left: -50%;
}

@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px)
and (orientation : landscape) {
  .dropdown-menu{
    left: -107px;
  }
}

/* iPads (portrait) ----------- */
@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px)
and (orientation: portrait) {
  .dropdown-menu{
    left: -107px;
  }
}

.dropdown-menu > li > a {
  background-color: whitesmoke;
  color: #000000;
background-image: none;
}
.dropdown-menu > li > a:hover {
  background-color: #7867a7;
  background-image: none;
}

#cover-spin {
  position:fixed;
  width:100%;
  left:0;right:0;top:0;bottom:0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index:9999;
  display:none;
}

@-webkit-keyframes spin {
  from {-webkit-transform:rotate(0deg);}
  to {-webkit-transform:rotate(360deg);}
}

@keyframes spin {
  from {transform:rotate(0deg);}
  to {transform:rotate(360deg);}
}

#cover-spin::after {
  content:'';
  display:block;
  position:absolute;
  left:48%;top:40%;
  width:40px;height:40px;
  border-style:solid;
  border-color:black;
  border-top-color:transparent;
  border-width: 4px;
  border-radius:50%;
  -webkit-animation: spin .8s linear infinite;
  animation: spin .8s linear infinite;
}


/*============================*/
/*moving inline styles start*/
/*============================*/

.admin-merchant-cirle-form-hold-money {
    border: 1px solid lightgray; background-color: white;
}

.margin-top-10-px-hold-money{
    margin-top: 10px;
}
.margin-top-15-px-hold-money{
    margin-top: 15px;
}
.margin-top-20-px-auto-hold-money{
    margin: 20px auto;
}
.margin-top-30-px-hold-money{
    margin-top: 30px;
}

.text-align-center-hold-money{
    text-align:center !important;
}

.padding-bottom-50-px-hold-money{
    padding-bottom:50px;
}
.no-entries-hold-money{
    text-align: center; background-color: #2b542c; padding-bottom: 5px; padding-top: 5px; color: white;
}

.cursor-pointer-hold-money{
    cursor: pointer !important;
}

.partial-refunded-hold-money{
    background-color: red;border-radius: 14px; color: white;
}
.refunded-hold-money{
    width: 131px;border-radius: 14px; background-color: red; color: white;
}

.success-hold-money{
    width: 131px;border-radius: 14px;
}

.width-10-hold-money{
    width: 10%;
}
/*============================*/
/*moving inline styles end*/
/*============================*/
.fade{
    opacity: 1;
}
.trans_modal {
    margin-right: 4px;
    margin-top: 205px;
}
.modal.fade:not(.in).right .trans_modal {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}
.modal-body {
//.overflow: hidden;
}
.modal.right.fade .trans_modal {
    right: -320px;
    -webkit-transition: opacity 0.3s linear, right 0.3s ease-out;
    -moz-transition: opacity 0.3s linear, right 0.3s ease-out;
    -o-transition: opacity 0.3s linear, right 0.3s ease-out;
    transition: opacity 0.3s linear, right 0.3s ease-out;
}
.modal.fade .trans_modal {
    -webkit-transform: translate(0, -25%);
    -ms-transform: translate(0, -25%);
    -o-transform: translate(0, -25%);
    transform: translate(0, -25%);
    -webkit-transition: -webkit-transform 0.3s ease-out;
    -o-transition: -o-transform 0.3s ease-out;
    transition: transform 0.3s ease-out;
}
.modal.in .trans_modal {
    -webkit-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    transform: translate(0, 0);
}
.modal.left .trans_modal, .modal.right .trans_modal {
    position: fixed;
    margin: auto;
    width: 450px;
    height: 100%;
    -webkit-transform: translate3d(0%, 0, 0);
    -ms-transform: translate3d(0%, 0, 0);
    -o-transform: translate3d(0%, 0, 0);
    transform: translate3d(0%, 0, 0);
}
.fade.in {
    -webkit-transition: opacity 0.50s linear !important;
    -o-transition: opacity 0.50s linear !important;
    -webkit-transition: opacity 0.50s linear !important;
    -o-transition: opacity 0.50s linear !important;
}
.fade {
    -webkit-transition: opacity 0.15s linear;
    -o-transition: opacity 0.15s linear;
    transition: opacity 0.15s linear;
}
.modal.right .trans_modal {
    /*position: fixed;*/
    margin: auto;
    width: 320px;
    height: 100%;
    -webkit-transform: translate3d(0%, 0, 0);
    -ms-transform: translate3d(0%, 0, 0);
    -o-transform: translate3d(0%, 0, 0);
    transform: translate3d(0%, 0, 0);
}
.modal.right.fade.in .trans_modal {
    right: 0;
}
#modal_lg{
    width: 50% !important;
    margin-right: 0 !important;
    margin-top: 0 !important;
}
#modal-id{
    overflow-y: scroll; overflow-x: hidden;
}
#modal_height{
    height: 100%;
}