
.field-icon {
  float: right;
  margin-left: -25px;
  margin-top: -25px;
  position: relative;
  z-index: 2;
}
.card-box{
  background: white !important;
  border-radius: 5px;
  -moz-box-shadow: 0 0 3px #000000;
  -webkit-box-shadow: 0 0 3px #000000;
  box-shadow: 0 0 3px #000000;
  padding-left: 10px;
  padding-right: 10px;
}
.card-box-internal{
  padding: 50px;
}
.box-header {
  padding: 10px;
  border-bottom: 0.5px solid #7867a7;
  position: relative;
}
.box-header:after {
  position: absolute;
  left: 5%;
  right: 0;
  bottom: -0.5px;
  border-bottom: 0.5px solid gainsboro;
  content: '';
}
.header-row{
  background: #000000b8;
  color: white;
}
.center-text{
  text-align: center;
}
tr > th{
  text-align: center;
}
tr > td{
  text-align: center;
}
.badge {
  display: inline-block;
  padding: 0.5em 0.5em;
  font-size: 75%;
  font-weight: 700;
  line-height: 1;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: 0.25rem;
}
.badge-info {
  color: #fff;
  background-color: #17a2b8;
}
input:checked + .slider {
  background-color: red;
}
.card-box{
  background: white !important;
  border-radius: 5px;
  -moz-box-shadow: 0 0 3px #000000;
  -webkit-box-shadow: 0 0 3px #000000;
  box-shadow: 0 0 3px #000000;
  padding-left: 10px;
  padding-right: 10px;
}
.batch-info h6{
  padding: 0px 7px;
}
.card-box-internal{
  padding: 20px;
}
.box-header {
  padding: 10px;
  border-bottom: 0.5px solid #7867a7;
  position: relative;
}
.box-header:after {
  position: absolute;
  left: 5%;
  right: 0;
  bottom: -0.5px;
  border-bottom: 0.5px solid gainsboro;
  content: '';
}
.header-row{
  background: #000000b8;
  color: white;
}
.center-text{
  text-align: center;
}
tr > th{
  text-align: center;
}
tr > td{
  text-align: center;
}
.badge {
  display: inline-block;
  padding: 0.5em 0.5em;
  font-size: 75%;
  font-weight: 700;
  line-height: 1;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: 0.25rem;
}
.badge-info {
  color: #fff;
  background-color: #17a2b8;
}
@media only screen and (max-width: 1500px) {
  #export_btn_p2c{
    padding-right: 30px;
  }
}
#search{
    width: 230px;
    margin-right: 10px
}
#show_9{
    float: left;padding-top: 7px;padding-right: 5px;
}
#back_anchor{
    width: 80px; background-color: #8a8484; font-weight: bold; color: white;
}
.float-left{
    float: left !important;
}
#span_p2c{
    margin-left: 105px; width: 60%;
}
#entries_9{
    float: left; padding-top: 7px;padding-left: 5px;
}
#p2c_div{
    float: right;margin: 5px 30px 0px 0px;
}
#p2c_div1{
    width: 150px;
}
#p2c_label{
    float: left; padding-top:7px; width:100px; font-size: 14px;
}
#p2c_heading{
    font-size: 20px;font-weight: 600;display: inline;
}
.paid_status{
    background-color:green;padding: 9px;
}
.unpaid_status{
    background-color: lightcoral;padding: 9px;
}
.cancel_status{
    background-color: lightgray;padding: 9px;
}
.in_process_status{
    background-color: #FFA500;padding: 9px;
}
.pad_status{
    padding: 9px;
}
#td_width{
    width: 150px;
}
#calendar_i{
    font-size: 1.0rem;margin-left: 10px;
}
.modelId{
    width: 450px;margin: 0 auto;
}
.status_design{
    padding: 9px; width: 71px;
}
#pending_status{
    padding: 9px; width: 71px; background-color: grey;
}
.status_design{
    padding: 9px; width: 71px;
}
#paid_wire_status{
    background-color: blue;padding: 9px; width: 71px;
}
#void_status{
    padding: 9px;background-color: red;
}
#index-div{
    padding-right: 3%;padding-top: 10px;
}
.btn-width{
    width: 100% !important;
}
.no-display{
    display:none!important;
}
.email_transfer_style{
    margin-top: 20px;
    border: 1px solid lightgrey;
    border-radius: 10px;
}
.margin-top-10{
    margin-top: 30px;
}
.show-check-status-checks{
    height: 100px;background: #3A4651;margin-top: 20px;
    color: white;
}
.tango-logs-block{
    padding-bottom: 2%;
}
.padding-10-px-ach{
    padding:10px !important;
}

.badge {
    display: inline-block;
    padding: 0.5em 0.5em;
    font-size: 75%;
    font-weight: 700;
    line-height: 1;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: 0.25rem;
}
.badge-info {
    color: #fff;
    background-color: green !important;
}
.badge-info_void {
    color: #fff;
    background-color: red !important;
}
.badge-info_paid_wire {
    color: #fff;
    background-color:blue !important;
}
.badge-info_pending {
    color: #fff;
    background-color:grey !important;
}
.badge-info_failed {
    color: #fff;
    background-color:red !important;
}