.bank_approve{
margin-top: 35px !important;
}
.field-icon {
  float: right;
  margin-left: -25px;
  margin-top: -25px;
  position: relative;
  z-index: 2;
}
.chose_button{
    display: none;
}
.edit_icon{
    position: absolute;
    z-index: 2;
    left: 32%;
    top: 20%;
}
.modal-width{
  width: 90%;
  margin-left: auto;
}
.fa-2x{
  /*margin-left: 3%;*/
  font-size: 20px;
    margin-left: 30px;
}
@media only screen and (max-width: 1500px) {
  #image_space{
    margin-left: 5%;
  }
}
.container {
  width: 100%;
  /*padding-right: 15px;*/
  /*padding-left: 15px;*/
  margin-right: auto;
  margin-left: auto;
  max-width: 100%;
}
.top-box{
  width: 100%;
}
.pull-left{
  float: left;
}
.row{
  /*display: flex;*/
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}
.col-md-12 {
  flex: 0 0 100%;
  max-width: 100%;
}
.pull-left-fild{
  max-width: 25%;
  flex: 0 0 25%;
  position: relative;
  padding-right: 15px;
  padding-left: 15px;
}

.dba-filds{
  width: 100%;
  flex: 0 0 100%;
  padding-right: 15px;
  padding-left: 15px;
}
.col, .col-1, .col-10, .col-11, .col-12, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-auto, .col-lg, .col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-auto, .col-md, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-auto, .col-sm, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-auto, .col-xl, .col-xl-1, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-auto {
  position: relative;
  /*width: 100%;*/
  padding-right: 15px;
  padding-left: 15px;
}
*, ::after, ::before {
  box-sizing: border-box;
}
.heading-2 {
  font-size: 18px;
  font-weight: bold;
}
.dba-filds{
  border-radius: 5px;
  border: 1px solid;
  height:30px;
}
p{
  line-height: 1px;
  margin-top:12px;
}
.card-box{
  background: white !important;
  border-radius: 5px;
  -moz-box-shadow: 0 0 3px #000000;
  -webkit-box-shadow: 0 0 3px #000000;
  box-shadow: 0 0 3px #000000;
  padding-left: 10px;
  padding-right: 10px;
}
.card-box-internal{
  padding: 50px 10px;
}
.box-header {
  padding: 10px;
  border-bottom: 0.5px solid #7867a7;
  position: relative;
}
.box-header:after {
  position: absolute;
  left: 5%;
  right: 0;
  bottom: -0.5px;
  border-bottom: 0.5px solid gainsboro;
  content: '';
}
.header-row{
  background: #000000b8;
  color: white;
}
.center-text{
  text-align: center;
}
tr > th{
  text-align: center;
}
tr > td{
  text-align: center;
}
.badge {
  display: inline-block;
  padding: 0.5em 0.5em;
  font-size: 75%;
  font-weight: 700;
  line-height: 1;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: 0.25rem;
}
.badge-info {
  color: #fff;
  background-color: #17a2b8;
}
.users_tabs > li > a {
  border: none;
  outline: none;
  padding: 10px 16px;
  background-color: lightgrey;
  cursor: pointer;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.users_tabs > li > a:hover {
  background-color: #8171ae;
  color: white;
}
.users_tabs > li.active > a, .users_tabs > li.active > a:focus {
  background: #1c165c;
  color: white;
}
input:checked + .slider {
  background-color: red;
}
.card-box{
  background: white !important;
  border-radius: 5px;
  -moz-box-shadow: 0 0 3px #000000;
  -webkit-box-shadow: 0 0 3px #000000;
  box-shadow: 0 0 3px #000000;
  padding-left: 10px;
  padding-right: 10px;
}
.card-box-internal{
  padding: 20px;
}
.box-header {
  padding: 11px;
  border-bottom: 0.5px solid #7867a7;
  position: relative;
}
.box-header:after {
  position: absolute;
  left: 5%;
  right: 0;
  bottom: -0.5px;
  border-bottom: 0.5px solid gainsboro;
  content: '';
}
.header-row{
  background: #000000b8;
  color: white;
}
.center-text{
  text-align: center;
}
tr > th{
  text-align: center;
}
tr > td{
  text-align: center;
}
.badge {
  display: inline-block;
  padding: 0.5em 0.5em;
  font-size: 75%;
  font-weight: 700;
  line-height: 1;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: 0.25rem;
}
.badge-info {
  color: #fff;
  background-color: green !important;
}
a[disabled="disabled"] {
  pointer-events: none;
}
.badge-info_void {
  color: #fff;
  background-color: red !important;
}
.badge-info_paid_wire {
  color: #fff;
  background-color:blue !important;
}
.badge-info_pending {
  color: #fff;
  background-color:grey !important;
}
.badge-info_failed {
  color: #fff;
  background-color:red !important;
}
.status_change_btn{
  display: none;
  float: right;
}
.batch-info h6{
  padding: 0px 7px;
}
.modal-dialog {
  max-width: 800px !important;
}
.export_btn{
  background-color: #8171AE;
  color: white;
}
@media only screen and (max-width: 1400px) {
  #export_btn_ach{
    padding-right: 40px;
  }
}

/*============================*/
/*moving inline styles start*/
/*============================*/

.text-align-center-ach{
    text-align:center!important;
}
.text-align-right-ach{
    text-align:right!important;
}
.text-align-left-ach{
    text-align:left!important;
}

.float-left-ach{
    float:left !important;
}

.color-darkred-ach{
    color: darkred;
}
.color-black-ach{
    color: black;
}
.color-purple-ach{
    color: purple;
}

.display-none-ach{
    display:none;
}
.div33{
    max-width: 100px;
    max-height: 100px;
}
.success-div-ach{
    margin-top: 5px !important;
    background-color: #dff0d8 !important;
    border-color: #d0e9c6 !important;
    color: #3c763d !important;
    display: none;
}

.width-7-ach{
    width:7%;
}
.width-15-ach{
    width: 15%;
}

.width-29-ach{
    width:29%;
}

.width-100-ach{
    width:100%;
}

.width-100-px-ach{
    width: 100px;
}

.width-150-px-ach{
    width: 150px;
}
.padding-left-41-px-ach{
    padding-left:41px;
}

.padding-left-0-px-ach{
    padding-left:0px;
}

.padding-10-px-ach{
    padding:10px !important;
}

.padding-0-4-px-ach{
    padding:0px 4px !important;
}
.padding-0-px-ach{
    padding:0px !important;
}

.padding-right-3-top-10-px-ach{
    padding-right: 3%;padding-top: 10px;
}

.margin-top-2-px-ach{
    margin-top: 2px !important;
}

.margin-top-10-px-ach{
    margin-top: 10px !important;
}

.margin-top-15-px-ach{
    margin-top: 10px !important;
}

.margin-top-28-px-ach{
    margin-top: 28px !important;
}

.margin-right-18-px-ach{
    margin-top: 18px !important;
}

.margin-top-4-ach{
    margin-top: 4% !important;
}

.margin-top-bottom-20px-ach{
    margin-top: -20px;margin-bottom: 20px;
}
.margin-top-23-bottom-16-px-ach{
    margin-top: 23px;margin-bottom: 16px;
}

.margin-left-30-ach{
    margin-left: 30px !important;
}

.margin-left-20-px-font-weight-600-ach{
    margin-left: 20px;
    font-weight: 600;
}

.margin-bottom-5-ach{
    margin-bottom: 5% !important;
}
.background-color-3a4651-ach{
    background-color: #3a4651 !important;
}

.background-color-lightgreen-ach{
    background-color: lightgreen !important;
}

.modal-fade-ach{
    width: 450px;
    margin: 0 auto;
}

.edit-account-ach{
    margin: auto;
    font-size: 22px;
}

.fa-calender-modal-ach{
    font-size: 1.0rem;
    margin-left: 10px
}

.bank-account-eye-span-ach{
    position: relative;top: -25px;left: 93%;cursor:pointer;
}

.product-image-ach{
    width:130px;height:100px;margin-top:30px;
}

.cursor-pointer-ach{
    cursor: pointer !important;
}

.procced-alert-ach{
    font-weight: bold; color: #5db761; text-align: center
}

.ach-request-container-ach{
    background-color: white; padding: 50px;
}

.ach-transaction-p-ach{
    font-size: 20px;font-weight: 600;display: inline
}

.date-div-ach{
    padding-right: 20px;margin-right: 20px;padding-top: 7px
}

.float-right-margin-diff-1-ach{
    float: right;margin: -4px 30px 0px 0px;
}

.under-review-switch-ach{
    float: left; padding-top:7px; width:100px; font-size: 14px
}

.slider-round-ach{
    margin-left: 105px; width: 60%
}

.instant-ach-back-button-ach{
    width: 80px;
    background-color: #8a8484;
    font-weight: bold;
    color: white !important;
}

.instant-ach-show-button-ach{
    float: left;padding-top: 7px;padding-right: 5px;
}

.entries-ach{
    float: left; padding-top: 7px;padding-left: 5px;
}

.search-ach{
    width: 230px; margin-right: 10px;
}
.notice-custom-ach{
    font-size: 17px; color: black;
}
.btn-width{
    width: 100% !important;
}
.no-display{
    display:none!important;
}
.email_transfer_style{
    margin-top: 20px;
    border: 1px solid lightgrey;
    border-radius: 10px;
    width: 38%;
}
.margin-top-10{
    margin-top: 30px;
}
.show-check-status-checks{
    height: 100px;background: #3A4651;margin-top: 20px;
    color: white;
}

.background-green{
    background: green !important;
}
.btn-border{
    border:1px solid red;
}
.color-red{
    color: red;
}
.tango-logs-font{
    padding-right: 0;
}
.tango-logs-block{
    padding-bottom: 2%;
}
/*============================*/
/*moving inline styles end*/
/*============================*/
 .red
 {
     color: red;
 }
.modal-content-checks{
    width: 950px;
}