
table{
  margin: 0 auto;
  width: 100%;
  clear: both;
  border-collapse: collapse;
  table-layout: fixed;
  word-wrap:break-word;
}
.dataTables_wrapper .dataTables_paginate {
  padding : 10px;
}
.dataTables_wrapper .dataTables_paginate .paginate_button {
  padding : 0px;
  margin-left: 0px;
  display: inline;
  border: 0px;
}
.dataTables_wrapper .dataTables_paginate .paginate_button:hover {
  border: 0px;
}
div.table-responsive>div.dataTables_wrapper>div.row{
  margin: 0;
  margin-top: 20px;
  margin-bottom: 20px;
}
.taab{
  width: 100%;
  border: 1px solid lightgray;
}
.nav_title{
  font-size: 18px;
  font-weight: normal;
}

.hover_class>li>a:hover,
.hover_class>li>a:focus {
  background-color: #8171AE !important;
  color: white;
}
.paid_status{
    background-color:green;padding: 9px;
}
.unpaid_status{
    background-color: lightcoral;padding: 9px;
}
.cancel_status{
    background-color: lightgray;padding: 9px;
}
.in_process_status{
    background-color: #FFA500;padding: 9px;
}
.pad_status{
    padding: 9px;
}
#show-div{
    margin-left: 18%; margin-right: 18%;
}
#div-index{
    padding: 0px;
}
#div-index1{
    background-color: #FFFFFF;
}
#div-index2{
    padding: 10px 10px;
}
.data_invoice{
    margin-top: 20px; margin-bottom: 40px;
}
.darkred{
    color: darkred;
}
#routing-error{
    color: darkred;display: none;
}
#success-div{
    margin-top: 5px !important;background-color: #dff0d8 !important;border-color: #d0e9c6 !important;color: #3c763d !important;display: none;
}
.purple{
    color: purple;
}
.status_design{
    padding: 9px; width: 71px;
}
#paid_wire_status{
    background-color: blue;padding: 9px; width: 71px;
}
#pending_status{
    padding: 9px; width: 71px; background-color: grey;
}
#progress_status{
    padding: 9px; width: 78px;
}
#void_status{
    padding: 9px;background-color: red;
}
#td_width{
    width: 150px;
}
#checks_button{
    margin-left: 20px;
}
#calendar_i{
    font-size: 1.0rem;margin-left: 10px;
}
.modelId{
    width: 450px;margin: 0 auto;
}
#alert-now{
    font-weight: bold; color: #5db761; text-align: center;
}
#batches_p{
    font-size: 20px;font-weight: 600;display: inline;
}
#batches_div{
    padding-right: 20px;margin-right: 20px;padding-top: 7px;
}
#batches_div1{
    float: right;margin-right: 20px;
}
#batches_div2{
    width: 150px; margin-bottom: 5px;
}
.switch{
    float: left; width:100px; font-size: larger;
}
#batches_span{
    margin-left: 100px; width: 60%;
}
#complete_status{
    padding: 10px; background: #5cb85c;
}
#complete_status1{
    padding: 10px;
}
#view_btn{
    color: black;
}
#index-div{
    padding-right: 3%;padding-top: 10px;
}
#p2c_heading{
    font-size: 20px;font-weight: 600;display: inline;
}
#p2c_div{
    float: right;margin: 5px 30px 0px 0px;
}
#p2c_div1{
    width: 150px;
}
#p2c_label{
    float: left; padding-top:7px; width:100px; font-size: 14px;
}
#span_p2c{
    margin-left: 105px; width: 60%;
}
#check_status_label{
    margin-top: 10px;
}
#submit_btn{
    margin-left  : 20px; font-weight: 600;
}
#back_anchor{
    width: 80px; background-color: #8a8484; font-weight: bold; color: white;
}
#show_9{
    float: left;padding-top: 7px;padding-right: 5px;
}
#entries_9{
    float: left; padding-top: 7px;padding-left: 5px;
}
#search{
    width: 230px; margin-right: 10px;
}
#btn-style{
    width: 15%;
}
#p2c_note{
    font-size: 17px; color: black;
}