.commission-error-st{
    width:20%;
    text-align:right;
    border:none;
    border-right:none;
}
.commission-error-st-1{
     width:20%;
     border:none;
     border-left:none;
}
.comm-head-st{
    text-align:center;
}
.ui-autocomplete {
  max-height: 100px;
  overflow-y: auto;
  overflow-x: hidden;
}
* html .ui-autocomplete {
  height: 100px;
}
.ui-autocomplete-category {
  font-weight: bold;
  padding: .2em .4em;
  margin: .8em 0 .2em;
  line-height: 1.5;
}
table > input{
  padding: 5px;
  text-align: center;
}
.me{
  border: 1px solid lightgray;
  border-radius: 5px;
    margin-top: 20px;
}
.margin-top{
  margin-top: 0.6rem;
  margin-bottom: 4rem;
}
#commission-body td{
  border:2px solid #222c31d6;
}
#commission-head th{
  border:2px solid #222c31d6;
}
.dollar_commission .has-error{
  display: block;
  position: absolute;
  left: 7%;
  margin-top: -4px;
}
.dollar_commission .error-span{
  color: #FF4444 ;
}
span.error-span{
  color: #FF4444;
}
.error-span{
    color: red !important;
}
#apply-error {
  top: -24px !important;
  left: 12px !important;
  position: absolute !important;
}
.sales_level_min{
  pointer-events:none !important;
}
.infinity{
  pointer-events:none !important;
}
table > input {
  padding: 5px;
  text-align: center;
}

.me {
  border: 1px solid lightgray;
  border-radius: 5px;
}

.margin-top {
  margin-top: 0.6rem;
  margin-bottom: 4rem;
}

#commission-body1 td {
  border: 2px solid #222c31d6;
}

#commission-head1 th {
  border: 2px solid #222c31d6;
}

.dollar_commission1 .has-error {
  display: block;
  position: absolute;
  left: 7%;
  margin-top: -4px;
}

.dollar_commission1 .error-span {
  color: #FF4444;
}

span.error-span {
  color: #FF4444;
}
#apply1-error {
  top: -24px !important;
  left: 12px !important;
  position: absolute !important;
}
.sales_level_min1{
  pointer-events:none !important;
}
.infinity{
  pointer-events:none !important;
}
#user_email{
  background-color: white;
}
hr{
  border-style:solid;
  color: #e0e0e0;
  background-color: #e0e0e0;
  width: 75%;
  margin-left: 5rem;
  /*margin-right: 01rem;*/
  margin-top: -1rem;
}
.hr{
  border-style:solid;
  color: #e0e0e0;
  background-color: #e0e0e0;
  width: 70%;
  margin-left:01rem;
  margin-right: 01rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.bullet-label {
  display: list-item;
  list-style-type: disc;
  list-style-position: inside;
  font-size: 26px;
  color: deepskyblue;
  margin-top: -11px;
}
.inline{
  display: inline-flex;
}
.same-line{
  display: flex;
}
.left-margin {
  margin-left: 8rem;
}
.top-margin {
  margin-top: 20%;
}
.card{
  border-radius: 10px;
}
.blu-color{
  color: #1f1667;
}
.grey-color{
  color: #9d9d9d;
}
.button-color{
  background-color: #333333;
  color: white !important;
}
.butt-color{
  background-color: #1f1667 ;
  color: white !important;
}
.button-radius{
  border-radius: 5px;
  margin-left: 25px;
}
.header-color{
  color: #00a7d0;
  margin-left: -2rem;
}
.container-margin{
  padding: 0% 5%;
}
/*    Spinner Code*/
#cover-spin {
  position:fixed;
  width:100%;
  left:0;right:0;top:0;bottom:0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index:9999;
  display:none;
}
@-webkit-keyframes spin {
  from {-webkit-transform:rotate(0deg);}
  to {-webkit-transform:rotate(360deg);}
}
@keyframes spin {
  from {transform:rotate(0deg);}
  to {transform:rotate(360deg);}
}
#cover-spin::after {
  content:'';
  display:block;
  position:absolute;
  left:48%;top:40%;
  width:40px;height:40px;
  border-style:solid;
  border-color:black;
  border-top-color:transparent;
  border-width: 4px;
  border-radius:50%;
  -webkit-animation: spin .8s linear infinite;
  animation: spin .8s linear infinite;
}

#cover-spin1 {
  position: fixed;
  width: 100%;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 9999;
  display: none;
}

@-webkit-keyframes spin {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.c_btn{
  float: right;
  font-size: 1.5rem;
  line-height: 1;
  color: black;
  background: white;
  border: white;
  margin-top: 2%;
  margin-right: 1%;
  opacity: 1;
}
#cover-spin1::after {
  content: '';
  display: block;
  position: absolute;
  left: 48%;
  top: 40%;
  width: 40px;
  height: 40px;
  border-style: solid;
  border-color: black;
  border-top-color: transparent;
  border-width: 4px;
  border-radius: 50%;
  -webkit-animation: spin .8s linear infinite;
  animation: spin .8s linear infinite;
}

/*    End of Spinner Code*/

.content-padding{
  padding-left: 6%;
}

.bottom-padding {
  padding-bottom: 5% !important;
  padding-right: 10%;
  padding-top: 5%;
}
.has-error{
  color: #FF4444;
}
.ui-autocomplete {
  max-height: 100px;
  overflow-y: auto;
  overflow-x: hidden;
}

* html .ui-autocomplete {
  height: 100px;
}

.ui-autocomplete-category {
  font-weight: bold;
  padding: .2em .4em;
  margin: .8em 0 .2em;
  line-height: 1.5;
}

.rate-margin {
  margin-left: 45.5rem;
  margin-top: -4.0rem;
}

.text-width {
  width: 8.3rem;
}

.text-margin {
  margin-top: -3rem;
  margin-left: 9rem;
}

.checkmark{
  border-radius: 50%;
}
.hr{
  border-style: solid !important;
  color: #e0e0e0 !important;
  background-color: #e0e0e0 !important;
  width: 85%;
  margin-left: 01rem !important;
  margin-right: 01rem !important;
  margin-top: 0rem !important;
  margin-bottom: 2rem !important;
}
::-webkit-file-upload-button {
  background: white;
  padding: 0.7em;
}
span.has-error {
  color: red;
}
.fa-font{
  font-size: 1.1rem;
}
.h5{
  font-size: 1.2rem;
}
.col-md-8 .row .col-md-12 img{
  width: 25%;
  height: 25%;
  padding-bottom: 1%;
}

.arrange{
  display: inline-grid;
}
.panel-default > .panel-heading {
  color: #333333;
  border-radius: 25px;
  background-color: #f5f5f5;
  /* border-color: #dddddd; */
}
.hr_doc{
  margin-top: 0rem !important;
}

.left_margin{
  margin-left: 3rem;
}
.intl-tel-input .selected-flag .iti-arrow{
  left: 30px;
}
.intl-tel-input.separate-dial-code .selected-flag {
  width: 43px;
}
.intl-tel-input {
  display: block;
}
.intl-tel-input.separate-dial-code .selected-dial-code{
  display: table-cell;
  padding-left: 7px;
  position: absolute;
  left: 40px;
  height: 100%;
  padding-top: 30%;
}
/*table{*/
/*  margin: 0 auto;*/
/*  width: 100%;*/
/*  clear: both;*/
/*  border-collapse: collapse;*/
/*  table-layout: fixed;*/
/*  word-wrap:break-word;*/
/*}*/
.dataTables_wrapper .dataTables_paginate {
  padding : 10px;
}
.dataTables_wrapper .dataTables_paginate .paginate_button {
  padding : 0px;
  margin-left: 0px;
  display: inline;
  border: 0px;
}
.dataTables_wrapper .dataTables_paginate .paginate_button:hover {
  border: 0px;
}
.hr_doc{
  margin-top: 0rem !important;
}
.form-group.has-error .control-label{
    color: #FF4444 !important;
}
.split_padding_0{
 /*use other places too*/
    padding: 0px;
}
.split_label_css{
/* use other places too*/
    font-weight: bold;
    color:black;
    float: left
}
.div_padding_left{
    padding-left: 10px;
}
.div_padding_22{
    padding-left: 22px;
}
.add_baked_css{
    margin-top: 10%;
    padding-left: 0px !important;
}
.div_padding_17{
    padding: 17px;
}
.div_padding_10{
    padding: 10px;
}
.split_label1_css{
    font-weight: bold;
    color:black;
    margin-left: 25px;
    float: left
}
.baked_margin_bottom{
    margin-bottom: 14px;
}
.baked_margin_left{
    margin-left: 15px;
}
#details_switch{
    display:block;
    margin-left:20px
}
.baked_on{
    margin-top: 8px;
    margin-left: 5px;
    color: white;
}
.baked_off{
    margin-top: 8px;
    margin-right: 7px;
}
.baked_label{
    margin-left: 8px;
    position: relative;
    top: -1.2rem;
}
.super_detail_css{
    border-radius: 10px;
    border:1px solid lightgrey;
}
.commission_tier_in{
    width: 7.5rem;
 }
.tier_apply{
    margin-left: 10px;
}
.tier_table{
    color: red
}
.tier_thead{
    background-color: lightgray;
}
.display-none{
    display: none;
}
.display-inline{
    display: inline;
}
.commission_iso{
    width:32%;
    text-align: right;
    border:none;
    border-right:none;
}
.commission_merchant{
    width:32%;
    border:none;
    border-left:none;
}
.commission_th{
    text-align: center;
}
.commission_iso1{
    width:20%;
    text-align: right;
    border:none;
    border-right:none;
}
.commission_merchant1{
    width:30%;
    border:none;
    border-left:none;
}
.margin-topp{
    margin-top:1.5em;
}
.add_iso_h3{
    margin-left: 2em;
}
.div_margin_left_6{
    margin-left: 6%;
}
.margin_left_9{
    margin-left: 9%;
}
.margin_left_6{
    margin-left: 6%
}
.th_width_25{
    width: 25%
}
.margin_left_3{
    margin-left: 3%;
}
.margin_left_10{
    margin-left: 10%;
}
.margin_top_5{
    margin-top: 5rem;
}
.margin_btm_5{
    margin-bottom: 5%;
}
.c_tier{
    padding-top: 10%;
    padding-bottom: 10%;
    background: deeppink;
    color: white;
}
.total_com_css{
    padding-top: 10%;
    padding-bottom: 10%;
    background: darkorange;
    color: white;
}
.total_trans_css{
    padding-top: 10%;
    padding-bottom: 10%;
    background: grey;
    color: white;
}
.padding_left_20{
    padding-left: 20px;
}
.total_merchant_css{
    padding-top: 10%;
    padding-bottom: 10%;
}
.total_bonus_css{
    padding-top: 10%;
    padding-bottom: 10%;
}
.tos_accept{
    margin-top: 10px;
    margin-right: 25px;
}
.tos_green{
    color: green;
}
.tos_red{
    color: red;
}
.e_iso{
    margin-bottom: 1px !important;
    /*use other places too*/
}
.iso_h1{
    float: left;
    margin-right: 20px;
}
.t_isos{
    padding: 4px;
    background-color: blue;
    padding-top: 8px;
    padding-bottom: 8px;
    text-align: center;
}
.padding_11{
    padding: 11px !important;
}
.hr_width_81{
    width: 100%;
}
.hr_width_97{
    width: 97%;
}
.switch_form{
    margin-left: 15px
}
.super_css{
    border-radius: 10px;
    border: 1px solid lightgrey;
    display: block;
}
.remove_baked_users{
    padding: 0px !important;
}
.phone_width100{
    padding-left: 3.9rem!important;
    width:100%;
}
.padding_lef_for_num{
    padding-left: 3.9rem!important;
}
.margin_topp{
    margin-top: 1.5em;
}

.pl49px{
    padding-left: 49px;
}
#length, #one_number, #upper_case, #lower_case{
    margin-right: 10px;
}
.phone-length-1{
    padding-left: 3.9rem !important;
}

.phone-length-2{
    padding-left: 4.39rem !important;
}

.phone-length-3{
    padding-left: 4.9rem !important;
}

.phone-length-4{
    padding-left: 5.3rem !important;
}
.green-clr{
    color: green;
}
.red-clr{
    color: red;
}
.lightblue-clr{
    color: #00a7d0;
}
.padding-right-2{
    padding-right: 2%;
}
.text-align-center{
    text-align:center;
}
.commission-iso{
    width:20%;
    text-align:right;
    border:none;
    border-right:none;
}
.commission-merchant{
    width:20%;
    border:none;
    border-left:none;
}

.padding_zero
{
    padding: 0px;
}
.email_transfer_style{
    border: 1px solid lightgrey;
    border-radius: 10px;
}
.margin_top_10px{
    margin-top: 10px;
}
.width_max{
    width: 100%;
}
.align_center{
    text-align:center;
}
.remove_baked_css{
    margin-top: 10%;padding-left: 10px;
}
#amount_limit_error{
    color:red;
}
.margin0{
    margin-left: 0% !important;
    margin-right: 0% !important;
}
#retireWallet_form{
    width: 53%;
    margin-left: 32%;
}
#info-text1{
    color: red;
    margin-left: -20px;
}
#balanceField_id{
    background-color: transparent;
}

.margin-top {
    margin-top: 20px;
}

.margin-top-0 {
    margin-top: 0!important;
}

#settinglink a {
    color: white;
}

#settinglink a:hover {
    color: white;
}
.error_class{
color: red;
}
.iso_radio_button1{
    display: none;
}
.iso_radio_button{
    display: block;
}
.show-calendar
{
    width : 550px !important;
}
.disable_link
{
    pointer-events:none;
}
.error-text
{
    color: red;
}
.max-width-field
{
    min-width: 211px !important;
    line-height: 2 !important;
}
.pointer-none {
    pointer-events: none;
    color: #ffffff;
    background-color: #7974a7 !important;
    border-color: #7c6f9e !important;
}
.no-space-break{
    white-space:nowrap;
    text-overflow:ellipsis;
}
.ssn-adjust{
    margin-top: -9px !important;
}
.display-block{
    display: block !important;
}

.padding_right_zero
{
    padding-left: 0px !important;
}
.padding_left_zero
{
    padding-left: 0px !important;
}
.left-padding{
     padding-left: 0px !important;
}
.split_label_css_1
{
    padding-left: 25px !important;
    font-weight: bold;
    color:black;
    float: left
}
.split_label_css_2
{
    padding-left: 10px !important;
    font-weight: bold;
    color:black;
    float: left
}
.padding_right_zero_diff{
    padding-left: 10px !important;
}
.ui-tooltip{
    padding: 8px !important;
    position: relative !important;
    z-index: 9999 !important;
    max-width: 300px !important;
    word-break: break-all !important;
}
.no-padding
{
    margin-bottom: 0px !important;
}
