// Place all the styles related to the admins/load_balancers controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.padding015px{padding: 0px 15px;}
.search_gateway_field{
  width: 50%;
  display: inline;
  margin-left: 3%;
}
.underlinee{font-weight: 700 !important;
text-decoration: underline}
.gateway_checkboxes{margin-left: 0.5rem !important;}
.remove_gateway_checkboxes{margin-left: 0.5rem !important;}
.color-red{color: red}
.color-black{color: black !important;}
.select2-container{width: 58% !important;}
.form-control{color: black !important;}
.dropdown-menu{top: 60% !important; left: -100px; border: 1px solid lightgray}
.cursor_pointer{cursor: pointer}
.close_rule_form{margin-right: 10px}
.ms-choice{
  width: 0 !important;
  height: 0 !important;
  border: 0px solid transparent !important;
}
.ms-drop input[type="checkbox"]{
  margin-right: 13px !important;
}
.mr-1{
  margin-right: 1rem;
}
.ms-drop label{
  cursor: pointer !important;
}
.rules_boxes{
  width: 100%;
  padding: 12px 12px;
  border-radius: 4px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.16);
  border: solid 1px #ccc7cd;
  background-color: #ffffff
}
div.scroll-rule{
  height: 520px;
  overflow: auto;
  padding-left: 10px;
  padding-top: 10px;
}

.on
{
  display: none;
}

.on
{
  color: white;
  position: absolute;
  transform: translate(-50%,-50%);
  top: 50%;
  left: 35%;
  font-size: 12px;
  font-family: Verdana, sans-serif;
}
.off
{
  color: white;
  position: absolute;
  transform: translate(-50%,-50%);
  top: 50%;
  left: 65%;
  font-size: 12px;
  font-family: Verdana, sans-serif;
}
.switch {
  position: relative;
  display: inline-block;
  width: 90px;
  height: 34px;
}

.switch input {display:none;}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ca2222;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2ab934;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(55px);
  -ms-transform: translateX(55px);
  transform: translateX(55px);
}
input:checked + .slider .on
{display: block;}

input:checked + .slider .off
{display: none;}



.hash-num{
  font-family: 'Open Sans', sans-serif;
  font-size: 24px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.38;
  letter-spacing: -0.24px;
  text-align: left;
  color: #6d6298;

}
.edit-btn-b {

  background-color: #6d6298;
}
.Edit-btn {

  font-family: 'Open Sans', sans-serif;
  font-size: 8px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.38;
  letter-spacing: normal;
  text-align: center;
  color: #ffffff;
}
.hash-body{
  width: 100%;
  border-radius: 4px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.16);
  border: solid 1px #ccc7cd;
  background-color: #ffffff;
  padding: 15px 15px;
  margin-bottom: 20px;
}
.btn-bellow{
  margin-bottom: 33px;
}
.Created-by {
  font-family: 'Open Sans', sans-serif;
  font-size: 12px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.42;
  letter-spacing: normal;
  text-align: left;
  color: #716e75;

  margin-top: 7px;
  padding-right: 12px;
  margin-left: 15px;
}
.dis-flex{
  display: flex;
}
.rotate-every{
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.38;
  letter-spacing: normal;
  text-align: left;
  color: #4b4956;
}
.rotate-blue{
  font-weight: bold;
  color: #6d6298;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.38;
  letter-spacing: normal;
  text-align: left;
}
.three-dot-align{
  padding-left: 12px;
  margin-top: 6px;
}


table{
  margin: 0 auto;
  width: 100%;
  clear: both;
  border-collapse: collapse;
  table-layout: fixed;
  word-wrap:break-word;
}
.admin-body{
  background-color: #efeaf0;
  /*padding: 24px;*/
  padding: 17px 0px;
  margin: 1rem 0em;
}
.path-body{
  display: flex;
  background-color: #efeaf0;
  padding: 12px;
  /*padding: 17px 0px;*/
  margin: 1rem 0em;
  width: 201px;
  height: 40px;
}
.admin-w-h{
  height: 652px;
}
.config-w{
  width: 206px;
  border-bottom: 4px solid rgba(75, 73, 86, 0.5);
}
.width206px{
  width: 206px;
}
.active_header{
  border-bottom: 4px solid #6d6298;
}
.inactive_header{
  border-bottom: 4px solid rgba(75, 73, 86, 0.5);
}
.group-hr{
  max-width: 740px;
  border: solid 1px #d2d0db;
  /*border: solid 1px #adadad;*/
  margin-top: 24px;
}
.g-name{
  height: 18px;
  font-family: 'Open Sans',sans-serif;
  font-size: 13px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.38;
  letter-spacing: -0.13px;
  text-align: left;
  color: #4b4956;
}
.group-name{
  /*width: 480px;
  outline: auto;
  margin-bottom: 20px*/
  width: 100%;
  height: 34px;
  border-radius: 2px;
  border: solid 1px #ccc7cd;
  background-color: #efeaf0;
}
.group-btn{
  width: 257px;
  height: 32px !important;
  border: solid 1px #ccc9d0;
  background-color: #ffffff;
  margin-left: 16px;
}
.group-heading{
  width: 161px;
  height: 22px;
  font-family: 'Open Sans',sans-serif;
  font-size: 16px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.38;
  letter-spacing: -0.16px;
  text-align: left;
  color: #4b4956;
}
.test-block{
  height: 33px;
  font-family: 'Open Sans',sans-serif;
  font-size: 24px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.38;
  letter-spacing: normal;
  text-align: left;
  color: #6d6298;
}
div.m-scrollable{
  height: 394px;
  overflow: auto;
  border-radius: 2px;
  border: solid 1px #ccc7cd;
  padding-left: 10px;
  padding-top: 10px;
}
.chk-box{
  width: 30px;
}
.des-heading{
  height: 17px;
  font-family: 'Open Sans',sans-serif;
  font-size: 12px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.42;
  letter-spacing: normal;
  text-align: left;
  color: #716e75;
  padding: 7px 8px;
}
.des-btn{
  background-color: #589351;
  margin-top: 14px;
}
.remove-btn{
  background-color: #cfc9d3;
  margin-top: 14px;
}
.next-btn{
  background-color: #6d6298;
  margin-top: 10px;
}
.path-tab{
  height: 19px;
  font-family: 'Open Sans',sans-serif;
  font-size: 14px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.36;
  letter-spacing: normal;
  text-align: left;
  color: #6d6298;
  margin-left: 9px;
}
.Automation-Rules {
  height: 19px;
  font-family: 'Open Sans',sans-serif;
  font-size: 14px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.36;
  letter-spacing: normal;
  text-align: left;
  color: rgba(75, 73, 86, 0.5);
  margin-left: 9px;
}
.New-Group {
  height: 24px;
  font-family: 'Open Sans',sans-serif;
  font-size: 18px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.33;
  letter-spacing: -0.18px;
  text-align: left;
  color: #4b4956;
}
.Select--Descriptors {
  height: 19px;
  font-family: 'Open Sans',sans-serif;
  font-size: 14px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.36;
  letter-spacing: -0.14px;
  text-align: left;
  color: #4b4956;
}
.search-for{
  height: 17px;
  font-family: 'Open Sans',sans-serif;
  font-size: 12px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.42;
  letter-spacing: normal;
  text-align: left;
  color: #716e75;
}
.select-margin{
  margin-top: 18px;
  margin-bottom: 9px;
}
.Daily-Limit {
  height: 17px;
  font-family: 'Open Sans',sans-serif;
  font-size: 12px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.42;
  letter-spacing: normal;
  text-align: left;
  color: #716e75;
}
.des-select{
  width: 52%;
  height: 32px;
  border: solid 1px #ccc9d0;
  background-color: #ffffff;
  margin-left: 16px;
}
.Elavon {
  height: 19px;
  font-family: 'Open Sans',sans-serif;
  font-size: 14px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.36;
  letter-spacing: -0.14px;
  text-align: left;
  color: #716e75;
  margin-left: 5px;
  margin-bottom: 8px;
}
.esq-hboutique {
  height: 17px;
  font-family: 'Open Sans',sans-serif;
  font-size: 12px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.42;
  letter-spacing: normal;
  text-align: left;
  color: #716e75;
  padding: 7px 8px;
}
.amount-doller{
  height: 17px;
  font-family: 'Open Sans',sans-serif;
  font-size: 12px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.42;
  letter-spacing: normal;
  text-align: left;
  color: #716e75;
  padding: 7px 8px;
}
.odd-tr{
  background-color: #edeaf1 !important;
}
.even-tr{
  background-color: #e7e4eb !important;
}
.sel-margin{
  margin-top: 6px !important;
}
.descriptors-text {
  font-family: 'Open Sans',sans-serif;
  font-size: 12px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.42;
  letter-spacing: normal;
  text-align: center;
  color: #ffffff;
}
.remove-descriptors {

  font-family: 'Open Sans',sans-serif;
  font-size: 12px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.42;
  letter-spacing: normal;
  text-align: center;
  color: #4b4956;
}
.Next-Step {

  font-family: 'Open Sans',sans-serif;
  font-size: 12px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.42;
  letter-spacing: normal;
  color: #ffffff;
}
.sec-circle{
  width: 24px;
  height: 24px;
  background-color: #ffffff;
  border-radius: 50%;
}
.sec-no{
  font-family: 'Open Sans',sans-serif;
  font-size: 14px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.36;
  letter-spacing: normal;
  text-align: center;
  color: #6d6298;
}
.border-group{
  border-bottom: 4px solid #6d6298;
}
.plus-box{
  cursor: pointer;
  width: 12px;
  height: 12px;
  border-radius: 2px;
  border: solid 1px #b8b3b9;
  background-image: linear-gradient(to bottom, #e1e1e1, #d3ced4);
  margin-top: 4px;
}
.box-border{
  border-radius: 2px;
  margin-left: 9px;
}
.for-box{
  display: flex;
}
.duplicate_descriptor {
  color: red;
}
.table-box-8{
  margin-left: 8px;
}
.border-box{
  border-left: solid 1px #ccc7cd;
  margin-left: 6px;
}
.items-align{
  margin-top: 5px;
}
.plus-sign{
  margin-top: -4px;
  text-align: center;
}
.margin_bottom_100{
  margin-bottom: 100px;
}

/*         Load Balancer_2 css               */
.auto-body{
  width: 100%;
  padding: 5px 0px;
  border-radius: 4px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.16);
  border: solid 1px #ccc7cd;
  background-color: #ffffff;
  float: left;
  margin-bottom: 20px;
}
.Automation-Rules-prgh {
  height: 19px;
  font-family: 'Open Sans',sans-serif;
  font-size: 14px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.36;
  letter-spacing: -0.14px;
  text-align: left;
  color: #4b4956;
}
.rules-yet {
  height: 22px;
  font-family: 'Open Sans',sans-serif;
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.38;
  letter-spacing: -0.16px;
  text-align: left;
  color: #4b4956;
}
.hr-hor{
  width: 2px;
  height: 513px;
  background-color: #cfccd3;
}
.tranc-processors {

  font-family: 'Open Sans',sans-serif;
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.38;
  letter-spacing: normal;
  text-align: left;
  color: #4b4956;
}
.Automation-prgh {
  font-family: 'Open Sans',sans-serif;
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.38;
  letter-spacing: -0.16px;
  text-align: left;
  color: #716e75;
}
.blue-color{
  font-family: 'Open Sans',sans-serif;
  font-size: 16px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.38;
  letter-spacing: normal;
  text-align: left;
  color: #6d6298;
}
.underline{
  height: 2px;
  border-bottom: solid 1px #ccc7cd;
}
.Add-Rule {
  font-family: 'Open Sans',sans-serif;
  font-size: 12px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.42;
  letter-spacing: normal;
  text-align: center;
  color: #ffffff;
}
.blue-btn{
  background-color: #6d6298;
}
.logo-align{
  margin-top: 12px;
  margin-bottom: 12px;
}
.btn-align{
  margin-top: 33px;
}
.body-align{
  margin-bottom: 4%;
}
.green-border{
  border-bottom: 4px solid #55d477 ;
}
.green-circle{
  width: 24px;
  height: 23px;
  background-color: #55d477;
  border-radius: 50%;
}
.green-num{
  font-family: 'Open Sans',sans-serif;
  font-size: 14px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.36;
  letter-spacing: normal;
  text-align: center;
  color: #ffffff;
}
.Previous-Step {
  font-family: 'Open Sans',sans-serif;
  font-size: 12px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.42;
  letter-spacing: normal;
  text-align: center;
  color: #ffffff;
}
.btn-left{
  margin-left: 16px;
}
.btn-align2{
  margin-top: -10px;
}

/*       END  Load Balancer_2 css               */

/*         Load Balancer_3 css               */
.smile-hr{
  height: 1px;
  background-color: #e5e3ee;
  margin-top: 5px;
}
.smile-rule {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.38;
  letter-spacing: -0.16px;
  text-align: left;
  color: #716e75;
  margin-top: 3px;
}
.four-text{
  font-family: 'Open Sans', sans-serif;
  font-size: 20px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 2.5;
  letter-spacing: normal;
  text-align: left;
  color: #4b4956;
  margin-top: -5px;
  padding-right: 10px;
}
.select-amount{
  width: 25%;
  height: 35px;
  border-radius: 2px;
  border: solid 1px #ccc7cd;
  background: #ffffff;
  margin-right: 10px;
}
.sel-place{
  font-family: 'Open Sans', sans-serif;
  font-size: 12px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.42;
  letter-spacing: -0.12px;
  text-align: left;
  color: #716e75;
}
.sel-num{
  width: 25%;
  height: 35px;
  border-radius: 2px;
  border: solid 1px #ccc7cd;
}
.-Number {
  font-family: 'Open Sans', sans-serif;
  font-size: 12px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.42;
  letter-spacing: -0.12px;
  text-align: left;
  color: rgba(75, 73, 86, 0.5);
}
.-Descriptors {
  font-family: 'Open Sans', sans-serif;
  font-size: 12px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.42;
  letter-spacing: -0.12px;
  text-align: left;
  color: rgba(75, 73, 86, 0.5);
  padding-left: 10px;
}
.sel-des {
  width: 56%;
  height: 35px;
  border-radius: 2px;
  border: solid 1px #ccc7cd;
}
.blue-rule{
  width: 206px;
  border-bottom: 4px solid #6d6298;
}
.blue-rule-text{
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.36;
  letter-spacing: normal;
  text-align: left;
  color: #6d6298;
  margin-left: 9px;
}
/*       END  Load Balancer_3 css               */
/*         Load Balancer_index css               */
.table-body{
  width: 100%;
  height: 340px;
  background-color: #efeaf0;
  padding: 12px;
}
.table-border{
  border: solid 2px #e55252;
}
.test-heading{
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.38;
  letter-spacing: -0.16px;
  text-align: left;
  color: #4b4956;
  margin-top: 9px;
}
.Today-Volume {
  font-family: 'Open Sans', sans-serif;
  font-size: 12px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 0.1;
  letter-spacing: normal;
  text-align: left;
  color: #716e75;
}
.red-num{
  font-family: 'Open Sans', sans-serif;
  font-size: 24px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.2;
  letter-spacing: normal;
  text-align: left;
  color: #e55252;
}
.grey-num{
  font-family: 'Open Sans', sans-serif;
  font-size: 24px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.2;
  letter-spacing: normal;
  text-align: left;
  color: #716e75;
}
.yellow-num{
  font-family: 'Open Sans', sans-serif;
  font-size: 24px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.2;
  letter-spacing: normal;
  text-align: left;
  color: #ffb914;
}
div.t-scrollable {
  height: 235px;
  overflow: auto;
}

.red-per{
  font-family: 'Open Sans', sans-serif;
  font-size: 12px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.42;
  letter-spacing: normal;
  text-align: right;
  color: #e55252;
}
.green-per{
  font-family: 'Open Sans', sans-serif;
  font-size: 12px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.42;
  letter-spacing: normal;
  text-align: right;
  color: #55d477;
}
.yellow-per{
  font-family: 'Open Sans', sans-serif;
  font-size: 12px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.42;
  letter-spacing: normal;
  text-align: right;
  //color: #ffb914;
}
.t-num{
  font-family: 'Open Sans', sans-serif;
  font-size: 12px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.42;
  letter-spacing: normal;
  text-align: left;
  color: #716e75;
  padding: 0px 8px;
  padding-right: 35px;
}
.hr-12{
  height: 1px;
  background-color: #e5e3ee;
}
.table-align{
  margin-bottom: 30px;
}
.-Show {
  font-family: 'Open Sans', sans-serif;
  font-size: 12px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.42;
  letter-spacing: normal;
  text-align: left;
  color: #716e75;
  margin-top: 2px;
  margin-bottom: 25px;
}
.select-search{
  width: 10%;
  height: 24px;
  border-radius: 2px;
  border: solid 1px #cfccd3;
  background-color: #edeaf1;
}
.select-num{
  font-family: 'Open Sans', sans-serif;
  font-size: 12px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.42;
  letter-spacing: normal;
  text-align: left;
  color: #716e75;
}
.marg-r{
  margin-right: 10px;
  /* margin-left: 0px; */
  margin-left: -10px;
}
.marg-l{
  margin-left: 10px;
}
.-search{
  width: 27%;
  height: 32px;
  border: solid 1px #ccc9d0;
  background-color: #ffffff;
}
.Search-text {
  font-family: 'Open Sans', sans-serif;
  font-size: 12px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.42;
  letter-spacing: normal;
  text-align: left;
  color: #716e75;
  padding-left: 10px;
}
/*       END  Load Balancer_index css               */

.admin-hide{
  display: none;
}

.admin-show{
  display: block;
}

/*         Load Balancer_index css               */
.table-body{
  width: 100%;
  height: 340px;
  background-color: #efeaf0;
  padding: 12px;
}
.table-border{
  border: solid 2px #e55252;
}
.test-heading{
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.38;
  letter-spacing: -0.16px;
  text-align: left;
  color: #4b4956;
  margin-top: 9px;
}
.Today-Volume {
  font-family: 'Open Sans', sans-serif;
  font-size: 12px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 0.1;
  letter-spacing: normal;
  text-align: left;
  color: #716e75;
}
.red-num{
  font-family: 'Open Sans', sans-serif;
  font-size: 24px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.2;
  letter-spacing: normal;
  text-align: left;
  color: #e55252;
}
.grey-num{
  font-family: 'Open Sans', sans-serif;
  font-size: 24px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.2;
  letter-spacing: normal;
  text-align: left;
  color: #716e75;
}
.green-num{
  font-family: 'Open Sans', sans-serif;
  font-size: 24px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.2;
  letter-spacing: normal;
  text-align: left;
  color: green;
}
.yellow-num{
  font-family: 'Open Sans', sans-serif;
  font-size: 24px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.2;
  letter-spacing: normal;
  text-align: left;
  color: #ffb914;
}
div.t-scrollable {
  height: 235px;
  overflow: auto;
}

.red-per{
  font-family: 'Open Sans', sans-serif;
  font-size: 12px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.42;
  letter-spacing: normal;
  text-align: right;
  color: #e55252;
}
.green-per{
  font-family: 'Open Sans', sans-serif;
  font-size: 12px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.42;
  letter-spacing: normal;
  text-align: right;
  color: #55d477;
}
.t-num{
  font-family: 'Open Sans', sans-serif;
  font-size: 12px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.42;
  letter-spacing: normal;
  text-align: left;
  color: #716e75;
  padding: 0px 8px;
  padding-right: 35px;
}
.hr-12{
  height: 1px;
  background-color: #e5e3ee;
}
.table-align{
  margin-bottom: 30px;
}
.-Show {
  font-family: 'Open Sans', sans-serif;
  font-size: 12px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.42;
  letter-spacing: normal;
  text-align: left;
  color: #716e75;
  margin-top: 2px;
  margin-bottom: 25px;
}
.select-search{
  width: 10%;
  height: 24px;
  border-radius: 2px;
  border: solid 1px #cfccd3;
  background-color: #edeaf1;
}
.select-num{
  font-family: 'Open Sans', sans-serif;
  font-size: 12px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.42;
  letter-spacing: normal;
  text-align: left;
  color: #716e75;
}
.marg-r{
  margin-right: 10px;
  /* margin-left: 0px; */
  margin-left: -10px;
}
.marg-l{
  margin-left: 10px;
}
.-search{
  width: 27%;
  height: 32px;
  border: solid 1px #ccc9d0;
  background-color: #ffffff;
}
.Search-text {
  font-family: 'Open Sans', sans-serif;
  font-size: 12px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.42;
  letter-spacing: normal;
  text-align: left;
  color: #716e75;
  padding-left: 10px;
}
/*       END  Load Balancer_index css               */
.rule-btn{
  background-color: #6d6298;
}
.Add-Rule-text {
  font-family: 'Open Sans', sans-serif;
  font-size: 12px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.42;
  letter-spacing: normal;
  text-align: center;
  color: #ffffff;
}
div.over-text{
  width: 100%;
  overflow: auto;
}
.margin-top-12-px-load_balancer-config{
  margin-top: 12px !important;
}
.load_balancer-config-data-table{
  overflow-x: hidden !important;
}
.load_balancer-div-app-config{
  display:none;
  margin-top: 11px !important;
  border-top: 1px solid #8080806b !important;
}
.collapse_card_body{
  background-color: transparent !important;
}
.datatable-thead-app-config th{
    color: white !important;
    background-color: #00000099 ;
    text-align: center !important;
}
#paginator{
  margin-right: 21px;
  padding-bottom: 34px;
  margin-top: -10px;
}
.app-config-data-table{
  overflow-x: hidden !important;
}
.showing_records{
  margin-left: 20px;
}
.text-align-center-load-balancer-config{
  text-align: center !important;
}
.filter-gate{
  margin-bottom: 50px;
}
.buttons_active{
  border: none;
  outline: none;
  padding: 10px 16px;
  background-color:#1c165c !important;
  cursor: pointer;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  color: white !important;
}