.hello_tab > li {
    font-size: 15px;font-weight: 700;
}
.hello_tab > li > a, .hello_tab > li > a:hover, .hello_tab > li > a:focus{
    border:0px;padding-bottom: 6px;background-color: transparent;color: black;
}
.hello_tab > li.active > a, .hello_tab > li.active > a:hover, .hello_tab > li.active > a:focus{
    border:0px;border-bottom: 1px solid blue;padding-bottom: 6px;color: black;
}
.dropdown-menu{
  left: -50%;
}
.selected_tab{
  display: none;
}
.dropdown-menu > li > a {
  background-color: whitesmoke;
  color: #000000 !important;
background-image: none;
}
.dropdown-menu > li > a:hover {
  background-color: #7867a7;
  background-image: none;
}
.users_tabs > li > a {
  border: none;
  outline: none;
  padding: 10px 16px;
  background-color: lightgrey;
  cursor: pointer;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.users_tabs > li > a:hover {
  background-color: #8171ae;
  color: white;
}
.users_tabs > li.active > a, .users_tabs > li.active > a:focus {
  background: #1c165c;
  color: white;
}
.form-group.row{
  margin-top: 2%;
}
.form-label{
  text-align: right;
}
hr{
  border-bottom: 1px solid #cccccc;
  width: 100%;
  margin-top: 2%;
  margin-bottom: 2%;
}
.m-input-icon {
  position: relative;
  padding: 0;
  width: 100%;
}
.m-input-icon.m-input-icon--left .form-control1 {
  padding-left: 2.8rem;
  margin-bottom: 2%;
}
.form-control1, .form-control1[readonly] {
  border-color: #ebedf2;
  color: #575962;
}
.form-control1 {
  display: block;
  width: 100%;
  padding: .65rem 1rem;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: .25rem;
  transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.m-input-icon>.m-input-icon__icon.m-input-icon__icon--left {
  left: 0;
}
.m-input-icon>.m-input-icon__icon {
  position: absolute;
  height: 100%;
  display: inline-block;
  text-align: center;
  top: 20%;
  width: 3.2rem;
}
.m-input-icon>.m-input-icon__icon>span {
  display: table;
  height: 100%;
  width: 100%;
}
.m-input-icon>.m-input-icon__icon>span>i {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  line-height: 0;
}
.m-input-icon .m-input-icon__icon i {
  color: #a4a2bb;
}
.title_span{
  font-weight: 700;
}
#label{
  width: 100%;
  padding: 0px !important;
}
.edit_icon{
    position: absolute;
    z-index: 2;
    left: 32%;
    top: 20%;
}
.modal-width{
  width: 90%;
  margin-left: auto;
}
.fa-2x{
  /*margin-left: 3%;*/
  font-size: 20px;
}
@media only screen and (max-width: 1500px) {
  #image_space{
    margin-left: 5%;
  }
}
.ui-autocomplete {
  max-height: 100px;
  overflow-y: auto;
  /* prevent horizontal scrollbar */
  overflow-x: hidden;
}
/* IE 6 doesn't support max-height
 * we use height instead, but this forces the menu to always be this tall
 */
* html .ui-autocomplete {
  height: 100px;
}
.ui-autocomplete-category {
  font-weight: bold;
  padding: .2em .4em;
  margin: .8em 0 .2em;
  line-height: 1.5;
}
.error-msg{
  color: #FF0000;
}
#user_1_percent_error{
  color: red;
}
#ez_percent_error{
  color: red;
}
#net_super_company_percent_error{
  color: red;
}
#super_company_percent_error{
  color: red;
}
#super_company_dollar_error{
    color: red;
}
.percent_error{
  color: red;
}
.notification_modal{
  width: 35%;
  margin-left: 32%;
}
.custom_form{
  padding: 0px 30px !important;
}
#warning_showing_span{
  padding: 0px 31px;
  color: red;
}
#location_category_form_title_field-error{
  float: right;
  width: 72%;
  color: red;
  padding-top: 5%;
}
.notification_modal{
  width: 35%;
  margin-left: 32%;
}
.custom_form{
  padding: 0px 30px !important;
}
#warning_showing_span{
  padding: 0px 31px;
  color: red;
}
#location_ecomm_form_title_field-error{
  float: right;
  width: 58%;
  color: red;
  padding-top: 5%;
}
.dropdown-menu {
  left: -50%;
}

@media only screen
and (min-device-width: 768px)
and (max-device-width: 1024px)
and (orientation: landscape) {
  .dropdown-menu {
    left: -107px;
  }
}

/* iPads (portrait) ----------- */
@media only screen
and (min-device-width: 768px)
and (max-device-width: 1024px)
and (orientation: portrait) {
  .dropdown-menu {
    left: -107px;
  }
}

.dropdown-menu > li > a {
  background-color: whitesmoke;
  color: #000000;
background-image: none;
}

.dropdown-menu > li > a:hover {
  background-color: #7867a7;
  background-image: none;
}

#cover-spin {
  position: fixed;
  width: 100%;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 9999;
  display: none;
}

@-webkit-keyframes spin {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#cover-spin::after {
  content: '';
  display: block;
  position: absolute;
  left: 48%;
  top: 40%;
  width: 40px;
  height: 40px;
  border-style: solid;
  border-color: black;
  border-top-color: transparent;
  border-width: 4px;
  border-radius: 50%;
  -webkit-animation: spin .8s linear infinite;
  animation: spin .8s linear infinite;
}
#salesButton {
  position: relative;
}
#salesButton input[type="checkbox"] {
  position: relative;
  width: 5%;
  height: 15px;
  right: -10%;
  bottom: 29px;
  clear: both !important;
  margin-top: 4%;
}
#apiButton {
  position: relative;
}
#apiButton input[type="checkbox"] {
  position: relative;
  width: 6%;
  height: 15px;
  right: -10%;
  bottom: 28px;
  clear: both;
  margin-top: 4%;
}
.ui-autocomplete {
  max-height: 100px;
  overflow-y: auto;
  overflow-x: hidden;
}
* html .ui-autocomplete {
  height: 100px;
}
.ui-autocomplete-category {
  font-weight: bold;
  padding: .2em .4em;
  margin: .8em 0 .2em;
  line-height: 1.5;
}
.field-icon {
  float: right;
  margin-left: -25px;
  margin-top: 15px;
  position: relative;
  z-index: 2;
}
#over_high_perc{
  top: 50% !important;
}
#DBA_error{
  color:red;
}
.modal-width{
  width: 90%;
  margin-left: auto;
}
.dataTables_wrapper .dataTables_paginate {
  padding : 10px;
}
.dataTables_wrapper .dataTables_paginate .paginate_button {
  padding : 0px;
  margin-left: 0px;
  display: inline;
  border: 0px;
}
.dataTables_wrapper .dataTables_paginate .paginate_button:hover {
  border: 0px;
}
/*#datatable-keytable_info{*/
/*  display:none;*/
/*}*/
/*#datatable-keytable_paginate{*/
/*margin-right: -373px;*/
/*margin-top: -46px;*/
/*}*/
#datatable-keytable{
  width: 100% !important;
}
#1more-transactions{
  float: right;
  padding: 10px;
  margin-right: 10px;
  margin-top: -100px;
  border-radius: 5px;
}
div.table-responsive>div.dataTables_wrapper>div.row{
  margin: 0;
  margin-top: 20px;
  margin-bottom: 20px;
}
#datatable-keytable_wall{
  width: 100% !important;
}
/*//.col-md-7{*/
/*//  margin-right: 1px;*/
/*//}*/
.capital{
  text-transform: capitalize;
}
.ms-choice{
  border: 0 !important;
  outline: none !important;
}
.user_name{
  font-size: 20px;
  font-weight: 600;
  color:black;
}
#datatable-keytable_wall_filter{
  float: right;
}
#datatable-keytable_filter{
  float: right;
}
.user_detail{
  font-size: 15px;
  font-weight: 600;
  color:black;
}
.btn-active{
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  margin: 8px 0px;
  padding: 3px 38px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 5px;
  border: 1px solid blue;
}
.btn-inactive{
  background-color:#fd0101ad;
}
.btn-information_submit{
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 3px 38px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 5px;
  border: 1px solid blue;
  float: right;
  font-weight: 600;
}
.side_block{
  padding: 10px;
  height: 100px;
  background-color: #fdbe0e;
  box-shadow: 0px 0px 4px 1px rgba(0, 0, 0, .5);
}
.box_left_number{
  font-size: 37px;
  font-weight: 600;
  float: left;
  margin:10px;
}
#customer_signature-error{
  color: red;
}
.box_right_symbol{
  float: right;
  color: white;
  opacity: 0.5;
  font-size: 50px;
}
.custom_program{
  float: right;
  width: 100%;
  border-radius: 20px;
}
#bank_detail_bank_account_type-error{
  margin-bottom: -19px;
}
.custom_program_bar{
  background-color: #c3792d;
}
.green_box{
  border:1px solid green; border-radius: 10px; padding:15px 0px; margin:0px 0px 0px 20px;width: 28.7%;
}
.box_text_data{
  font-size: 20px; color: black;margin: 0px;
}
.green_box_base_line{
  width: 88%;height: 1px;background-color: green;margin:0px 17px;
}
.blue_box{
  border:1px solid blue; border-radius: 10px; padding:15px 0px; margin:0px 0px 0px 20px;width: 28.7%;
}
.blue_box_base_line{
  width: 88%;height: 1px;background-color: blue;margin:0px 17px;
}
.red_box{
  border:1px solid red; border-radius: 10px; padding:15px 0px; margin:0px 0px 0px 20px;width: 28.7%;
}
.red_box_base_line{
  width: 88%;height: 1px;background-color: red;margin:0px 17px;
}
.main_information_form{
  padding: 0px 32px;
}
.label-yellow{
  background-color: #f9be0d;
}
.device_logo{
  padding:8px 0px;
}
.menu_carded{
  padding: 20px 0px 10px 0px;
}
.progress {
  position: relative;
}

.progress span {
  position: absolute;
  display: block;
  width: 100%;
  color: black;
}

#wallTrans1{
  width: 39%;
}

#wallTarns2{
  padding: 0px;
}


#wallTrans3{
  padding: 19px 0px 0px 0px;
}

#wallTrans4{}

#wallTrans5{}

#wallTrans6{
  padding:20px;
}

#wallTrans7 {
  border-bottom: 0px
}

#wallTrans8{
  margin-top: 10px; 
  margin-left: 3px;
}

#wallTrans9{
  position: absolute; 
  top: 30px;
}

#wallTrans10{
  float: left;
  padding-top: 7px
}

#wallTrans11{
  float: left;
}

#wallTrans12{
  display: none;
}

#wallTrans13{
  float: left; 
  padding-top: 7px;
}

#wallTrans14{
  display: none
}

#wallTrans15{
  width: 500px !important;
}

#wallTrans16{
  width: 500px !important;
}

#wallTrans17{
  background-color: #3a4651;
  color: #ffffff
}

#wallTrans18{
  float: left;
}

#wallTrans19{
  background-color: whitesmoke
}


#wallTrans21{
  font-size: 16px;
}

#wallTrans22{
  display: none;
  font-size: 14px;
}

#wallTrans23{
  background-color: whitesmoke;margin-bottom: 8px; margin-top: 5px;
}

#wallTrans24{
  text-align: center;font-size: 13px;text-align: center;font-weight: bold;

}

#wallTrans25{
  margin-left: 24px
}

#wallTrans26{
  text-align: center;margin-right: 139px;margin-bottom: 30px;
}


#wallTrans27{
  position: absolute; right: 20px;bottom: 20px; 
}


#wallTrans28{
  margin-top: 10px;
}


#wallTrans29{
  float: left;
}


#wallTrans30{
  float: right;
}

#show1{
  margin-bottom: 1px;
}


#new1{
  float: left; margin-right: 20px;
}

#new2{
  text-align: center; color: red; 
}

#index1{
  padding-left: 10px
}

#index2{
  font-weight: bold; font-size: 20px
}

#index3{
  padding-right: 0px;
}

#index4{
  border: 1px solid lightgray;
}

#index5{
  margin-top: 10px;
}

#index6{
  margin-top: 15px;
}

#index7{
  margin-top: 30px;
}

#index8{
  padding:0px;
  height:23px
}

#index9{
  text-align: center;
}

#index10{
  text-align: center;
}

#index11{

}

#index12{
  margin-left: 16px
}


#editid1{
  padding: 0px;
}

#editid2{
  float: left; margin-right: 20px;
}

#editid3{
  margin-top: -27px; padding-bottom: 0px !important;
}

#editid5{
 padding-top: 0px;
}

#duplicateid1{
  padding: 0px
}

#duplicateid2{
  float: left; margin-right: 20px;
}

#error{
  text-align: center; color: red; 
}


#blocktrans1{
  margin-top: 15px; margin-left: 3px;
}

#blocktrans2{
  margin-top: 15px;
}

#blocktrans3{
  margin-left: 24px
}

#blocktrans4{
  text-align: center;margin-right: 139px;margin-bottom: 30px;
}

#blocktrans5{
  position: absolute; right: 20px;bottom: 20px;
}

#verifyModalid1{
  width: 500px !important;
}

#verifyModalid2{
  width: 500px !important;
}

#verifyModalid3{
  background-color: #3a4651;color: #ffffff
}

#verifyModalid4{
  float: left
}

#verifyModalid5{
  background-color: whitesmoke;
}


#verifyModalid7{
  font-size: 16px;color:#3a4651;
}

#verifyModalid8{
  font-size: 16px;color:#3a4651;
}


#verifyModalid10{
  width: 100%
}

#verifyModalid11{
  text-align: center;
  margin-right: 75px;
}






#div1
{
    margin-bottom: 25px;
}
#bottom-border
{
    border-bottom: 1px solid lightgray;
}
.div0
{
    font-size: 15px;
}
.div2
{
    padding: 10px;
}
#div3
{
    padding: 17px;
}
#div4
{
    margin-top: 6%;padding-left: 10px;
}
.div5
{
    padding: 0px;
    padding-right: 22px;
}
#div6
{
    padding-left: 10px;
}
.div7
{
    font-weight: bold;
    color:black;
    margin-left: 25px;
    float: left;
}
#div8
{
    padding-left: 22px;
}
#div9
{
    padding-right: 0px;
    padding-left: 8px;
    padding-right: 5px;
}
#div10
{
    float: left;
}
#div11
{
    margin-top: -5px;
}
.div12
{
    display:block;
}
#div13
{
    margin-top: 8px;
    margin-left: 5px;
    color: white;
}
.user_style{
  background-color: white;
}
#div14
{
    margin-top: 8px;
    margin-right: 7px;
}
#div16
{
    border: 1px solid lightgray;
}
.dispensary_style_section{
  padding: 10px !important;
}
.div17
{
    margin-top: 3%;
}
.div18
{
    margin-top: 15%;
}
.div20
{
    margin-top: 1%;
}
.div21
{
    margin-top: 15%;
}
#div22
{
    background: lightgray; text-align: center;
}
#div23
{
    margin-left: 4px;
}
#div24
{
    background: lightgray;
    text-align: center;
    margin-top: 1rem;
}
.div25
{
    text-align: center;
}
#div26
{
    text-align: center;
    background-color: #3a4651;
}
#div27
{
    width: 100%;
}
#div28
{
    margin: auto;font-size: 22px;
}
#div29
{
    margin-top: 2px !important;
}
#div30
{
    position: relative;top: -25px;left: 93%;cursor:pointer;
}
#div31
{
    margin-top: -20px;margin-bottom: 20px;
}
#div32
{
    margin-left: 30px;
}
#div34 {
    margin-top: 2%;
    padding-left: 45px;
    padding-right: 0px;
    margin-right: -3%;
}
#div35 {
    padding-left: 51px;
}
#div36 {
    padding-left: 73px;
}
.div33
{
    width:130px;height:100px;margin-top:30px;
}
.div34
{
    cursor: pointer;
}
.div35
{
    margin-top: 30px;
}
.div36
{
    width:80px;height:50px;margin-top:30px;
}
.div37
{
    margin-top: 23px;margin-bottom: 16px;
}
.div38
{
    width: 100%;
    margin-top: -37px;
    margin-bottom: -13px;
    margin-left: -20px;
}
.div39
{
    width: 29%;
}
.div40
{
    visibility: hidden;
    color: red;
    margin-top: 10px;
}
.div41
{
    margin-top: -24px;
}
.div42
{
    width: 97%;margin-top: 5px;
}
.div43
{
    padding-left: 10px;
}
.div44
{
    font-weight: bold;color:black;margin-left: 25px;float: left;
}
.div45
{
    padding-left: 34px;
}
.div46
{
    padding-right: 0px;
}
.div47
{
    padding: 17px;
}
.div48
{
    margin-top: 6%;padding-left: 10px;
}
.div49
{
    padding-left: 22px;
}
.div50
{
    padding-left: 0px;
}
.div51
{
    visibility: hidden; color: red;margin-top: 10px;
}
.div52
{
    width: 97%;margin-top: 5px;
}
.div53
{
    margin-top: 37px;
}
.div54
{
    padding: 21px;
}
.div55
{
    margin-left: 18px;
}
.div56
{
    margin-top: 30px!important;
}
.div57
{
    margin-left: 15px;
}
.div58
{
    display:block;
}
.div59
{
    margin-top: 8px;margin-left: 5px;color: white;
}
.div60
{
    margin-top: 8px;margin-right: 7px;
}
.div61
{
    margin-top: 8px;margin-left: 8px;
}
.div62
{
    padding: 10px;display: none;
}
.div63
{
    visibility: hidden;
}
.div64
{
    width: 97%;margin-top: 5px;
}
.div65
{
    width: 90% !important;
}
.div66
{
    background: #7867a7; color: white;
}
.div67
{
    color: white; opacity: 1;
}
.div68
{
    text-align: center;
}
.div69
{
    width: 40%; padding-left:0;
}
.div70
{
    background: #7867a7; color: white;
}
.div71
{
    margin-top: -4% !important;
}
.div72
{
    margin-top: 23px;margin-left: 16px;margin-bottom: 16px;
}
.div73
{
    width: 100%;margin-top: -37px;margin-bottom: -13px;margin-left: -20px;
}
.div74
{
    width: 29%;
}
.div75
{
    width: 94% !important; padding: 4px;
}
.div76
{
    color: white;
}
.div77
{
    color: darkgray;text-align: center;display: block;
}
.div78
{
    background: white;
}
.div79
{
    width: 500px !important;
}
.div80
{
    background-color: #3a4651;color: #ffffff;
}
.div81
{
    float: left;
}
.div82
{
    background-color: whitesmoke;
}
.div83
{
    font-size: 16px;color:#3a4651;
}
.div84
{
    width: 100%;
}
.div85
{
    text-align: center;margin-right: 75px;
}
/*.div86*/
/*{*/
/*    margin-bottom: -30px;*/
/*}*/
.div87
{
    position: relative; left: 17%;
}
.div88
{
    position:relative;
    top: -18px;
}
.div89
{
    position: relative; left: 17%; width: 50%;
}
.div90
{
    position:relative; top: -30px;
}
.div901{
    position:relative; top: -37px;
}
.div91
{
    position: relative; left: 17%; width: 60% !important;
}
.div92
{
    position:relative; top: -15px;
}
.div93
{
    width: 34.67% !important;
}
.div94
{
    margin-left: 15px;
}
.div95
{
    padding: 10px;display: none;
}
.div96
{
    visibility: hidden; color: red;margin-top: 10px;
}
.div97
{
    width: 97%;margin-top: 5px;
}
.div98
{
    padding-left: 10px;
}
.div99
{
    padding-left: 22px;
}
.div100
{
    text-align: center;background-color: #3a4651;
}
.div101
{
    width: 100%;
}
.div102
{
    margin: auto;font-size: 22px;
}
.div103
{
    margin-top: 2px !important;
}
.div104
{
    margin-top: 23px;margin-left: 16px;margin-bottom: 16px;
}
.div105
{
    width: 100%;margin-top: -37px;margin-bottom: -13px;margin-left: -20px;
}
.div106
{
    width: 29%;
}
.div107
{
    width: 94% !important; padding: 4px;
}
.div108
{
    padding: 0px;
}
.div109
{
    margin-top: 2%;padding-left: 3px;
}
.div110
{
    padding:0px 6px;
}
.div111
{
    padding: 0px !important;
}
.div112
{
    margin-top: 2%;padding-left: 3px;
}
.div113
{
    margin-top: 2%;padding-left: 10px;
}
.div114
{
    float: left; margin-right: 20px;
}
.div115
{
    text-align: center; color: red;
}
.div116
{
    margin-top: 15px; margin-left: 3px;
}
.div117
{
    margin-top: 15px;
}
.div118
{
    padding-left:10px !important;
}
.div119
{
    margin-left: 24px;
}
.div120{
    text-align: center;margin-right: 139px;margin-bottom: 30px;
}
.div121
{
    position: absolute; right: 20px;bottom: 20px;
}


/* ------------ Below code is from locations/_stylesheet.html.erb ------------------*/

*,
*:after,
*:before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}
.clearfix:after {
    clear: both;
}
h1 {
    color: #000000;
    text-align: center;
}
.location-title {
    color: #4f5f6f;
    float: left;
}
.cursor_default{
    cursor: default;
}
a {
    color: #000000;
    text-decoration: none;
    outline: none;
}
/*Fun begins*/
.tab_container {
    width: 100%;
    margin: 0 auto;
    position: relative;
}
.tab-input{
    clear: both;
    padding-top: 10px;
    display: none;
}
.locations-tab{
    clear: both;
    padding-top: 10px;
    display: none;
}
.no-padding{
    padding: 0px !important;
    width: auto !important
}
/*label {*/
/*    font-weight: 700;*/
/*    font-size: 11px;*/
/*    display: block;*/
/*    float: left;*/
/*    !*width: 20%;*!*/
/*    padding: 1.5em;*/
/*    color: #757575;*/
/*    cursor: pointer;*/
/*    text-decoration: none;*/
/*    !*text-align: center;*!*/
/*    !*background: #f0f0f0;*!*/
/*}*/
.label_location_search{
    font-weight: 600 !important;
    font-size: 0.8rem !important;
    display: block;
    width: 20%;
    padding: 0px !important;
    color: #757575;
    cursor: pointer;
    text-decoration: none;
}
#tab1:checked ~ #content1,
#tab2:checked ~ #content2,
#tab3:checked ~ #content3,
#tab4:checked ~ #content4,
#tab5:checked ~ #content5,
#tab6:checked ~ #content6,
#tab7:checked ~ #content7,
#tab8:checked ~ #content8{
    display: block;
    padding: 12px;
    background: #fff;
    color: #999;
    border-bottom: 2px solid #f0f0f0;
}
.percent{
    padding-left: 25px !important;
}
.two_decimal{
    padding-left: 25px !important;
}
.tab_container .tab-content p,
.tab_container .tab-content h3 {
    -webkit-animation: fadeInScale 0.7s ease-in-out;
    -moz-animation: fadeInScale 0.7s ease-in-out;
    animation: fadeInScale 0.7s ease-in-out;
}
.tab_container .tab-content h3  {
    text-align: center;
}
.tab_container [id^="tab"]:checked + label {
    background: #fff;
    box-shadow: inset 0 3px #0CE;
}
.tab_container [id^="tab"]:checked + label .fa {
    color: #0CE;
}
label .fa {
    font-size: 1.3em;
    margin: 0 0.4em 0 0;
}
/*Media query*/
@media only screen and (max-width: 930px) {
    label span {
        font-size: 14px;
    }
    label .fa {
        font-size: 14px;
    }
}
@media only screen and (max-width: 768px) {
    label span {
        display: none;
    }
    label .fa {
        font-size: 16px;
    }
    .tab_container {
        width: 98%;
    }
}
/*Content Animation*/
@keyframes fadeInScale {
    0% {
        transform: scale(0.9);
        opacity: 0;
    }
    100% {
        transform: scale(1);
        opacity: 1;
    }
}

.title-block{
    padding-bottom: 15px;
    margin-bottom: 30px;
    border-bottom: 1px solid #d7dde4;
}
#add_ecom_btn{
    padding:0px 15px;
}
/*#sales_id{*/
/*    margin-left: 50%;*/
/*}*/
.padding_0{
    padding: 0px
}
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
    bottom: -20px;
}
#dispensary_switch{
    display:block;
}
#dispensary_debit_switch {
    display: block;
}
.black-color{
    color:black!important;
}
.custom_width {
    width: 57%;
    background-color: white !important;
    height: 100%;
    min-height: 65px;
}
#ach_flag_text{
    display: none;
}

.ach-flag-text-height{
    height: 100px !important;
    width: 260px !important;
}
.ms-parent{
    height: 35px;
}
.location_label1
{
    width: 8.5% !important;
    padding-top: 5px !important;
}
.c_btn{
    float: right;
    font-size: 1.5rem;
    line-height: 1;
    color: black;
    background: white;
    border: white;
    margin-top: -2%;
    margin-right: 1%;
    opacity: 1;
}
.intl-tel-input.separate-dial-code .selected-dial-code{
    display: table-cell;
    padding-left: 1px;
    position: absolute;
    left: 40px;
    height: 100%;
    padding-top: 13%;
    color: #55595c;
}
.intl-tel-input.selected-flag .iti-arrow{
    left: 30px;
  margin-top: -1px;
}
.intl-tel-input.separate-dial-code .selected-flag {
    width: 43px;
  padding-top: 2px;
    margin-top: 0px;
}
.intl-tel-input {
    display: block;
}
.selected-flag{
    /*margin-top: 11px;*/
}
.phone-length-1{
  padding-top: 8px;
    padding-left: 3.9rem !important;
}

/*!* Chrome, Safari, Edge, Opera *!*/
/*#location_hold_in_rear_days {*/
/*    -webkit-appearance: none;*/
/*    margin: 0;*/
/*}*/

/*!* Firefox *!*/
/*#location_hold_in_rear_days {*/
/*    -moz-appearance:textfield;*/
/*}*/

.input-group > input::-webkit-outer-spin-button,
.input-group > input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
.input-group > input[type=number] {
    -moz-appearance:textfield;
}
.daterangepicker.ltr.show-calendar.opensright{
    width: max-content !important;
}

.phone-length-2{
    padding-left: 4.1rem !important;
}

.phone-length-3{
    padding-left: 4.4rem !important;
}

.phone-length-4{
    padding-left: 5.2rem !important;
}
.intl-tel-input .flag-container {
    position: absolute;
    /*top: 15px;*/
    bottom: 0;
    height: 100%;
    right: 0;
    padding: 1px;
}
.phone-error
{
    color:red;
}
.cs-phone-error
{
    color:red;
}
.pointer-none {
    pointer-events: none;
    color: #ffffff;
    background-color: #8b82a4 !important;
    border-color: #7c6f9e !important;
}
.new_div47
{
    padding: 28px;
    padding-bottom: 15px;
    padding-top: 10px;
}
.new_div5
{
    padding: 0px;
    padding-top: 6px;
}
.form-group1
{
    padding: 0px;
    padding-left: 3px;
    padding-right: 25px;
}
.form-group2
{
    padding: 0px;
    padding-right: 15px;
    padding-left: 4px;
}
.sub-fields
{
    padding-right: 1px;
}
.form-group3
{
    padding-right: 11px;
    padding-left: 14px;
}
.form-group4
{
    padding-left: 17px;
    padding-right: 14px;
}
.main-field
{
    padding: 0px;
    padding-right: 10px;
    padding-left: 7px !important;
}
.ui-front1
{
    padding: 0px;
    padding-left: 14px !important;
    padding-right: 14px !important;
}
.ui-front2
{
    padding: 0px;
    padding-right: 12px !important;
    padding-left: 16px !important;
}
.form-group5
{
    padding-right: 11px;
    padding-left: 16px;
}
.form-group6
{
    padding-left: 18px;
    padding-right: 12px;
}
.minus-button
{
    padding: 0px;
    padding-left: 7px !important;
}
.align-fields
{
    padding-left: 7px !important;
}
.sub-fields-1
{
    padding-left: 10px !important;
}
.sub-fields-2
{
    padding-right: 17px !important;
}
.sub-fields-3
{
    padding-left: 13px !important;
}
.sub-fields1
{
    padding-left: 7px !important;
}
.main-fields-2
{
    padding-right: 16px !important;
}
.sub-fields-00{
    padding-left: 10px !important;
}
.sub-fields-01
{
    padding-right: 17px !important;
}
.sub-fields-02
{
    padding-left: 13px !important;
    padding-right: 17px !important;
}
.sub-fields-03
{
    padding-left: 13px !important;
}
.h_and_w{
  width: 200px;
  height: 120px;
}
.img-preview img {
  /*width: 30%;*/
  height: 125px;
  padding-left: 1%;}

.display-none{
    display: none;
}
.display-block{
    display: block;
}

.download-img{
  height: 30px !important;
}
.img-preview{
  float: right;

}
::-webkit-file-upload-button {
  background: white;
  padding: 0.7em;
}
.bullet-label{
  display: list-item;
  list-style-type: disc;
  list-style-position: inside;
  font-size: 30px;
  color: #565656;
  opacity: 0.4;
  margin-top: -12px;
}
.span-color{
  color: #0b1115 !important;
}
.top-padding{
  margin-top: 18px !important;
}
.top-padding_title{
  margin-top: 35px !important;
}
.margin-top{
  margin-top: -14px;
  margin-bottom: 8px;
}
.image_have{
  width: 140px;
}
.selected-file{
  color: #3d3d3d;
}
.check-box-paddings{
    padding-left: 67%;
    padding-top: 65%;
}
.padding-1em{
    color: #757575;
    font-size: 11px;
    font-weight: 700;
    margin-left: -4%;
    margin-top: 1%;
    /*padding: 1em !important;*/
}
.bottom-none{
    bottom: 0 !important;
}
span.span_dollar_sign {
    float: left;
    margin-top: 6px;
    margin-left: 15px;
}
.top-tnx{
    top: 10px;
}
#rtpHookDiv{
  padding: 0px !important;
}