
.data_col {
  padding: 0px !important;
}
.font-weight-bold {
  font-weight: 600;
}
.stepwizard {
  display: table;
  width: 100%;
  position: relative;
  margin-top: 40px;
}

.stepwizard p {
  margin-top: 10px;
}

.stepwizard-row {
  display: table-row;
}

.stepwizard-row:before {
  top: 14px;
  bottom: 0;
  position: absolute;
  content: " ";
  width: 100%;
  height: 1px;
  background-color: #ccc;
  z-order: 0;
}

.stepwizard-step {
  display: table-cell;
  text-align: center;
  position: relative;
}

.stepwizard-step .btn.disabled {
  opacity: 1 !important;
  filter: alpha(opacity=100) !important;
}

.btn-circle {
  width: 30px;
  height: 30px;
  text-align: center;
  padding: 6px 0;
  font-size: 12px;
  line-height: 1.428571429;
  border-radius: 15px;
}


.tooltipster-content {
  font-family: Verdana, sans-serif;
  color: white;
  font-size: 13px;
  line-height: 16px;
  padding: 8px 10px;
}

.form-control {
  margin: 5px 0;
}
.dropdown-menu {
  left: -50%;
}

@media only screen
and (min-device-width: 768px)
and (max-device-width: 1024px)
and (orientation: landscape) {
  .dropdown-menu {
    left: -107px;
  }
}

/* iPads (portrait) ----------- */
@media only screen
and (min-device-width: 768px)
and (max-device-width: 1024px)
and (orientation: portrait) {
  .dropdown-menu {
    left: -107px;
  }
}

.dropdown-menu > li > a {
  background-color: whitesmoke;
  color: #000000;
  background-image: none;
}

.dropdown-menu > li > a:hover {
  background-color: #7867a7;
  background-image: none;
}

#cover-spin {
  position: fixed;
  width: 100%;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 9999;
  display: none;
}

@-webkit-keyframes spin {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#cover-spin::after {
  content: '';
  display: block;
  position: absolute;
  left: 48%;
  top: 40%;
  width: 40px;
  height: 40px;
  border-style: solid;
  border-color: black;
  border-top-color: transparent;
  border-width: 4px;
  border-radius: 50%;
  -webkit-animation: spin .8s linear infinite;
  animation: spin .8s linear infinite;
}

.users_tabs > li > a {
  border: none;
  outline: none;
  padding: 10px 16px;
  background-color: lightgrey;
  cursor: pointer;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.users_tabs > li > a:hover {
  background-color: #8171ae;
  color: white;
}

.users_tabs > li.active > a, .users_tabs > li.active > a:focus {
  background: #1c165c;
  color: white;
}
/*============================*/
/*moving inline styles start*/
/*============================*/

.margin-to-20-bottom-20-m-b-apis{
    margin-top: 20px;
    margin-bottom: 20px;
}

.line-height-0-m-b-apis{
    line-height: 0px;
}

.height-100-m-b-apis{
    height: 100% !important;
}

.margin-top-30-px-m-b-apis{
    margin-top: 30px !important;
}

.margin-left-16-px-m-b-apis{
    margin-left: 16px !important;

}
.background-white-m-b-apis{
    background: white !important;
}

dropdown-dots-m-b-apis{
    color: darkgray !important;
    text-align: center !important;
    display: block !important;
}
/*============================*/
/*moving inline styles end*/
/*============================*/