.user_slug{
    font-family: 'Open Sans','sans-serif';
    font-size: 1em !important;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.38;
    letter-spacing: normal;
    text-align: center;
    color: #ffa701;
    margin-top: 20%;
}

.active-users .company_name{
    position: relative;
    top: 15px;
    font-family:'Open Sans','sans-serif';
    font-size: 1em !important;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.38;
    letter-spacing: normal;
    text-align: left;
    color: #ffa701;
}

.company_name .time{
    position: absolute;
    right:1.5em;
    font-family:'Open Sans','sans-serif';
    font-size: 1em !important;
    /*font-size: 14px;*/
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.43;
    letter-spacing: normal;
    text-align: left;
    color: rgba(0, 0, 0, 0.3);
}
.active-users .order-id{
    position: relative;
    top: 7px;
    font-family:'Open Sans','sans-serif';
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.43;
    letter-spacing: normal;
    text-align: left;
    color: rgba(0, 0, 0, 0.3);
}

.active-users .mess_description{
    font-family:'Open Sans','sans-serif';
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 2.14;
    letter-spacing: normal;
    text-align: left;
    color: rgba(0, 0, 0, 0.3);
}

.inactive-users .company_name{
    position: relative;
    top: 15px;
    font-family:'Open Sans','sans-serif';
    font-size: 1em !important;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.38;
    letter-spacing: normal;
    text-align: left;
    color: rgba(0, 0, 0, 0.3);
}

.inactive-users .order-id{
    position: relative;
    top: 7px;
    font-family:'Open Sans','sans-serif';
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.43;
    letter-spacing: normal;
    text-align: left;
    color: rgba(0, 0, 0, 0.3);
}

.inactive-users .mess_description{
    font-family:'Open Sans','sans-serif';
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 2.14;
    letter-spacing: normal;
    text-align: left;
    color: rgba(0, 0, 0, 0.3);
}

.user-photo{
    position: relative;
    top:1.2em;
    height: 50px;
    width: 50px;
    border-radius: 50%;
}

.search {
    position: relative;
    margin: 0 auto ;
    text-align: center;
}
.search input {
    text-indent: 30px;
    font-family:  FontAwesome, sans-serif;
}

.inbox-header{
    min-height: 70px;
    border-radius: 8px;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
    background-color: #ffffff;
}

.chat-header{
    text-align: center;
    min-height: 500px;
    border-radius: 8px;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
    background-color: #f7f7f7;
}

.company_name{
    position: relative;
    top: 25px;
    font-family:'Open Sans','sans-serif';
    font-size: 1em !important;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.38;
    letter-spacing: normal;
    text-align: left;
    color: #ffa701;
}

.inbox-header .order-id{
    font-family:'Open Sans','sans-serif';
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.43;
    letter-spacing: normal;
    text-align: right!important;
    color: rgba(0, 0, 0, 0.3);
    position: relative;
    top: 27px;
}

#inbox-messages{
    min-height: 430px;
    max-height: 430px;
    overflow-y: auto;
    overflow-x: hidden;
    margin-top: 2px;
    border-radius: 8px;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
    background-color:#f7f7f7;
}
.available-time{
    font-family:'Open Sans','sans-serif';
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.43;
    letter-spacing: normal;
    text-align: center;
    color: rgba(0, 0, 0, 0.3);
}

.inbox-footer{
    min-height: 88px;
    border-bottom-right-radius: 8px;
    /*border-bottom-left-radius: 8px;*/
    box-shadow: -2px 2px 2px 0 rgba(0, 0, 0, 0.05);
    background-color:#ffffff;
    position: absolute;
    bottom: 0;
}

#footer-searchbar{
    padding: .8rem;
    width: 100%;
    border-radius: 24px;
    border: solid 2px #efefef;
    background-color:#ffffff;
    position: relative;
    top: 1.4rem;
}

#footer-searchbar:focus{
    outline: none;
}

.inbox-footer .send-btn{
    position: absolute;
    bottom: 2.5rem;
}

.inbox-footer ::placeholder {
    font-family:'Open Sans','sans-serif';
    font-size: 1em !important;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.38;
    padding-left: 1em;
    letter-spacing: 0.26px;
    text-align: left;
    color: rgba(0, 0, 0, 0.3);
}
.inbox-footer .find-attatch{
    float: right;
    position: relative;
    bottom: 1.8em;
}

.chatboxin {
    box-sizing: border-box;
    border: 1px solid rgba(208, 208, 208, 1);
    border-radius: 5px;
    padding: 5px 15px;
}

.chat-sender.msg {
    --webkit-clip-path: polygon(12px 0, 100% 0, 100% 100%, 0 100%, 12px 70%);
    clip-path: polygon(12px 0, 100% 0, 100% 100%, 0 100%, 12px 70%);
    width: 80%;
    padding: 9px 9px;
    padding-left: 21px;
    background-color: #fffdf0;
    box-sizing: border-box;
    margin-left: -9px;

    font-family:'Open Sans','sans-serif';
    font-size: 1em !important;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.25;
    letter-spacing: normal;
    text-align: left;
    color: #454545;
}

.chatmsg {
    margin-top: 5px;
}

.chat-sender {
    display: inline-block;
    vertical-align: top;
}

.chat-container {
    margin-top: 15px;
    margin-bottom: 3em;
    margin-left: 8px;
    animation: fadein 2s;
    -moz-animation: fadein 2s;
    /* Firefox */
    -webkit-animation: fadein 2s;
    /* Safari and Chrome */
    -o-animation: fadein 2s;
    /* Opera */
}

.respond-chat-container {
    margin-top: 15px;
    margin-bottom: 3em;
    text-align: center;
    animation: fadein 2s;
    -moz-animation: fadein 2s;
    /* Firefox */
    -webkit-animation: fadein 2s;
    /* Safari and Chrome */
    -o-animation: fadein 2s;
    /* Opera */
}

.chat-respond.msg {
    --webkit-clip-path: polygon(12px 0, 100% 0, 100% 100%, 0 100%, 12px 70%);
    clip-path: polygon(12px 0, 100% 0, 100% 100%, 0 100%, 12px 70%);
    padding: 9px 9px;
    padding-left: 21px;
    background-color: #ffffff;
    box-sizing: border-box;
    /* width: calc(100% - 53px);*/
    margin-right: -9px;
    transform: scale(-1, 1);
    -moz-transform: scale(-1, 1);
    -webkit-transform: scale(-1, 1);
    -o-transform: scale(-1, 1);
    -ms-transform: scale(-1, 1);

    font-family:'Open Sans','sans-serif';
    font-size: 1em !important;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.25;
    letter-spacing: normal;
    text-align: left;
    color: #454545;
}

.chat-respond.msg strong {
    color: #F48806;
}

.chat-respond {
    display: inline-block;
    vertical-align: top;
}

.flippd {
    width: 100%;
    transform: scale(-1, 1);
    -moz-transform: scale(-1, 1);
    -webkit-transform: scale(-1, 1);
    -o-transform: scale(-1, 1);
    -ms-transform: scale(-1, 1);
}

#inbox-messages .chat-sender-messages{
    width: 50%;
    /*float: left;*/
}

#inbox-messages .chat-respond-messages{
    /*margin-top: 6.5rem;*/
    width: 50%;
    /*float: right;*/
}

.status{
    position: relative;
    top:35px;
    left:27rem;
    font-family:'Open Sans','sans-serif';
    font-size: 0.75em !important;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 2.5;
    letter-spacing: normal;
    color: #969696;
}

.chat-sender-messages .sending-date{
    text-align: right;
    margin-right: 7.0em;
    font-family: 'SourceSansPro',sans-serif;
    font-size: 0.75em !important;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 2.5;
    letter-spacing: normal;
    color: #959595;
}
.no-more{
    border: 1px solid red;
    border-radius: 20px;
    background-color: tomato;
    color: darkred;
}
.chat-respond{
    float: right;
    position: relative;
    right: 18px;
}
.badge-pill{
    padding:4px 7px !important;
    font-family: 'Open Sans','sans-serif';
    font-size: 14px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    letter-spacing: normal;
    text-align: left;
    color:#ffa701;
}

.badge-warning{
    background-color: #ffd95a!important;
}

/*.active{*/
/*    padding: 0.2rem;*/
/*    position: absolute;*/
/*    top: 1.1rem;*/
/*    left: 4.0rem;*/
/*    background-color: #35bab6;*/
/*    border-radius: 50%;*/
/*}*/

.mess_description .bold-mess-description{
    font-family: 'Open Sans','sans-serif';
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 2.14;
    letter-spacing: normal;
    text-align: left;
    color: #454545;
}

#inbox-sidebar::-webkit-scrollbar{
    width: 10px;
}

/* Handle */
#inbox-sidebar::-webkit-scrollbar-thumb{
    background: #BBBBBB;
    border-radius: 5px;
    opacity: .8;
    height: 120px;
}

.r_aside_left_minimize_toggle{
    display: none!important;
}
.heading-style{
    display: inline-block;
    padding: 7px 25px 7px 0;
    font-family: 'Open Sans','sans-serif';
    font-size: 2rem !important;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.11;
    letter-spacing: normal;
    color: var(--black-70);
    top: 40%;
    position: inherit;
}
#drop-zone > input
{
    display: none;
}

#drop-zone img
{
    cursor: pointer;
}
.file_div{
    width: 40% !important;
    padding: 0 !important;
    margin: 0 !important;
}
.dropdown-menu > li > a {
    background-color: whitesmoke;
    color: #000000 !important;
    background-image: none;
}
.dropdown-menu > li > a:hover {
    background-color: #7867a7;
    background-image: none;
}
/* dispute-tabs start*/
.dispute_tabs{
    padding-top: 10px;
}
.dispute_tabs > li > a {
    border: none;
    outline: none;
    padding: 10px 16px;
    background-color: lightgrey;
    cursor: pointer;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.dispute_tabs > li > a:hover {
    background-color: #8171ae;
    color: white;
}
.dispute_tabs > li.active > a, .dispute_tabs > li.active > a:focus {
    background: #1c165c;
    color: white;
}
/* dispute-tabs end*/