table{
  margin: 0 auto;
  width: 100%;
  clear: both;
  border-collapse: collapse;
  table-layout: fixed;
  word-wrap:break-word;
}
.dataTables_wrapper .dataTables_paginate {
  padding : 10px;
}
.dataTables_wrapper .dataTables_paginate .paginate_button {
  padding : 0px;
  margin-left: 0px;
  display: inline;
  border: 0px;
}
.dataTables_wrapper .dataTables_paginate .paginate_button:hover {
  border: 0px;
}
div.table-responsive>div.dataTables_wrapper>div.row{
  margin: 0;
  margin-top: 20px;
  margin-bottom: 20px;
}

#cc_report li a {
  background-color: #fff;
  color: #000;
}

/*============================*/
/*moving inline styles start*/
/*============================*/

.width-500-px-order-bank{
    width: 500px !important;
}

.float-left-order-bank{
    float: left !important;
}

.text-align-center-order-bank{
    text-align: center !important;
}
.display-none-order-bank{
    display: none ;
}

.margin-top-10-px-order-bank{
    margin-top: 10px;
}
.margin-left-175-px-order-bank{
    margin-left:175px;
}

.margin-top-20-px-bttom-40-px{
    margin-top: 20px; margin-bottom: 40px;
}
.bg-smoke-margin-bottom-n-20{
    background-color: whitesmoke;
    margin-bottom: -16px;
}

.bg-smoke-order-bank{
    background-color: whitesmoke !important;
}

.section-border-order-bank{
    border: 1px solid lightgray;
}

.dropdown-toggle-order-bank{
    background-color: blue; border: none;
}

.detailed-submit-button{
    font-size: 0.8rem;color: #000;padding: 3px 20px;font-weight: normal;
}
/*============================*/
/*moving inline styles end*/
/*============================*/

.select2-container {
    width: 221px !important;
}