
.btn_back{
  background-color: grey !important;
  color: white !important;
  margin-left: 17px
}

.field{
  display: flex;
  justify-content: center;
  margin-top: 5px;
}
.field_label{
  margin: 10px;
  flex: 1;
}
.actions{
  flex: 1.5;
  padding-top: 5px;
  display: flex;
}

.title-block{
  margin-bottom: 14px;
}

.btn{
  border-radius: 3px;
}

/*============================*/
/*moving inline styles start*/
/*============================*/
.margin_10px{
    margin: 10px;
}
.margin_left_8px{
    margin-left: 8px;
}
.padding_left_25px{
    padding-left: 25px;
}
.margin_top_7px{
    margin-top: 7px;
}
/*============================*/
/*moving inline styles end*/
/*============================*/
