#cover-spin {
    position:fixed;
    width:100%;
    left:0;right:0;top:0;bottom:0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index:9999;
    display:none;
}

@-webkit-keyframes spin {
    from {-webkit-transform:rotate(0deg);}
    to {-webkit-transform:rotate(360deg);}
}
@keyframes spin {
    from {transform:rotate(0deg);}
    to {transform:rotate(360deg);}
}

#cover-spin::after {
    content:'';
    display:block;
    position:absolute;
    left:48%;top:40%;
    width:40px;height:40px;
    border-style:solid;
    border-color:black;
    border-top-color:transparent;
    border-width: 4px;
    border-radius:50%;
    -webkit-animation: spin .8s linear infinite;
    animation: spin .8s linear infinite;
}

.cursor1{
    cursor: pointer;
}
#decline1{
    background-color: red;padding: 9px;width: 71px;
}
#approved1{
    background-color: #6ac36a;padding: 9px;width: 71px;
}
.visa1{
    width: 30px;height: 17px;
}
.mastercard1{
    width: 30px;height: 18px;
}
.american_express1{
    width: 27px;height: 17px;
}
.discover{
    width: 30px;height: 20px;
}
#card_info{
    padding: 10px 15px 0 15px;
}
#visa1{
    width: 65px;
}
#partner1{
    width: 65px;
}
.none{
    display: none;
}
.show{
    margin-left: 16px;
}
a {
    cursor: pointer;
}
.wallet_link_aff{
    color: blue !important;
    margin-left: 7px;
}
.wallet_link_iso{
    color: blue !important;
    margin-left: 32px;
}
.wallet_link_agent{
    color: blue !important;
    margin-left: 18px;
}
.wallet_link_gbox{
    color: blue !important;
    margin-left: 20px;
}
#notifications_section{
    word-wrap: break-word
}
.eye_class{
    border: 1px solid white;
    padding: 0px 10px;
    border-radius: 4px;
}
.case_number_class{
    width: 50%;
    color:black;
}
.position_eye_class{
    padding: 0px 46px;
    color: white !important;
}
.inner_content{
    padding: 0px;
    /* border: 1px solid black; */
    margin: 0px 5px;
    width: 100%;
}
.inner_content_header{
    /*background-color: grey;*/
    /*text-align: center;*/
    /*color: white;*/
    /*padding: 5px;*/
}
.inner_content_body{

}
.inner_content_body_left{
    width: 60%;
    border-right: 1px solid cornflowerblue;
}
.inner_content_body_right{
    width: 40%;
}
.inner_content_body_table{
    padding: 10px;
    width: 100%;
}
.inner_content_body_table_transaction{
    /*padding: 10px;*/
    width: 100%;
}
.table_text_field_transaction{
    margin: 2px 0px;
    width: 100%;
    border: none;
    border-bottom: 1px solid grey;
}
.table_header{
    font-size: 17px;
    font-weight: 600;
}
.table_header_notification{
    padding:0px 0px 10px 50px;
}
.table_text_field{
    border:1px solid black;
    width:49%;
}
.table_text_field_area_code{
    width: 18%
}
.font_under_line {
    padding:0% 0% 0% 35%;
    text-decoration: underline;
}
.merchant_name{
    float: left;
    width: 45%;
}
.gateway_name{
    float: left;
    width: 45%;
}
.reason_selection{
    padding: 0px;
}
.reason_selection_add{
    padding: 8px 18px;
    margin: 0px;
    width: 10%;
}
.note_notification_add{
    border: 1px solid #cccccc;
    border-radius: 5px;
    width: 92% !important;
    padding: 9px 30px;
}
.table_header_notification_second_nest{
    padding: 0% 0% 0% 20%;
}
#dispute_case_submit_button{
    display: none;
}
.well{
    margin-bottom: 0px !important;
    border: 0px !important;
    -webkit-box-shadow: inset 0 0px 0px rgba(0, 0, 0, 0.05);
}
.modal-body{
    padding: 0px !important;
    color:black;
}
.margin{
    margin: 0px;
}
.wallet_link{
    color: #0275d8 !important;
}
.row{
    margin-right: 0!important;
}
#modal_dialog{
    width: 50% !important;
}
#modal_header{
    ackground: #424242; color: white; width: 100%; padding-left: 20px; padding-right: 20px;
}
#modal_title{
    float: left;
}
.total_amount{
    float:right;padding-right: 0px;
}
#col_md_12{
    background-color: #d8d8d8; color: white; padding:0px; height: 42px;
}
#col_xs_12{
    height: 42px;padding-right: 0px;
}
#col_sm_6{
    color: #827a7a; font-size: 19px;padding: 5px;
}
#colmd12{
    padding-right: 5px;padding-left: 37px; padding-top: 10px;
}
#ddt_row{
    box-shadow: 0px 1px 3px 1px #dbdbdb;border-radius: 5px; padding: 15px;padding-top: 10px; padding-left: 0px;
}
#colmd-12{
    padding: 10px;
}
.customer_info{
    text-decoration: underline; font-weight: bold; color:black; padding-left: 14px;
}
.name1{
    font-weight: 600; color: black;
}
.phone_number1{
    font-weight: 600;color: black;
}
.email{
    font-weight: 600; color: black;
}
.emailsend{
    color: #0275d8 !important;
}
.walletid{
    font-weight: 600; color: black;
}
.carddetails{
    text-decoration: underline; font-weight: bold; color:black; padding-left: 14px;
}
.gateway{
    font-weight: 600; color: black;
}
.cardnumber{
    font-weight: 600; color: black;
}
.expiredate{
    font-weight: 600; color: black;
}
.type1{
    font-weight: 600; color: black;
}
#green{
    color: green;
}
#cm12{
    padding-right: 5px;padding-left: 37px;
}
#row12{
    box-shadow: 0px 1px 3px 1px #dbdbdb;border-radius: 5px; margin-top: 10px; padding: 15px;padding-top: 10px; padding-left: 0px;
}
.type2{
    font-weight: 600; color: greenyellow;
}
#row12a{
    box-shadow: 0px 1px 3px 1px #dbdbdb;border-radius: 5px; margin-top: 10px; padding: 15px; padding-left: 0px;
}
#margin6{
    padding-left: 8px;
}
#margin12{
    padding-left: 0px !important;
}
#row12b{
    box-shadow: 0px 1px 3px 1px #dbdbdb;border-radius: 5px; margin-top: 10px; padding: 15px;padding-top: 10px; padding-bottom: 20px; padding-left: 0px;
}
.decline-reason{
    text-decoration: underline; font-weight: bold; color:black; padding-left: 26px;
}
#margin24{
    padding-left: 24px;
}
#red{
    color: red;
}
.grey{
     color: grey !important;
}
#modaldialog{
    width: 90% !important;
}
#modalheader{
    background: #424242; color: white;
}
#buttonclose{
    color: white; opacity: 1;
}
#center1{
    text-align: center;
}
#boxshadow{
    box-shadow: 0px 1px 3px 1px #dbdbdb;border-radius: 5px;
}
#figure{
    margin-top: 20px;
}
#fees{
    display: block; margin: 10px 0px;
}
#fee_row{
    background-color: #50ae55; color: white;
}
#fee_left{
    margin: 15px 0px;
}
#bolddetails{
    margin-top: 15px; margin-bottom: 15px;
}
#col68{
    text-align: right;margin-top: 10px;
}
#okcircle{
    color: #50ae55;color: black;
}
.hd{
    margin: 0px;
}
#col6{
    padding: 10px 0px 0px 0px;
}
#black{
    color:black;
}
.hr{
    margin-top: 0px;
}
#colbg12{
    border-radius: 40px; margin-bottom: 30px;
}
#dispute{
    padding: 8px 21px;margin-bottom: 20px;border-radius: 5px;
}
.bg-primary1{
    color: #fff !important;
    background-color: #0275d8 !important;
}
#modaldialog_a{
    width: 500px !important;
}
#none{
    display: none;
}
#modalbody{
    background-color: whitesmoke;margin-bottom: -16px;
}
#card_1{
    background-color: whitesmoke;
}
#rowc{
    margin-bottom: -16px;
}
.daterange1{
    font-size: 16px;
}
#colid12{
    background-color: whitesmoke; margin-top: 5px;
}
.paragraph{
    color: red;text-align: left;font-size: 13px;font-weight: bold;
}
#align{
    text-align: center;font-weight: 700;
}
#exportheading{
    color: red; text-align: center; font-weight: bold;
}
#person{
    display: block; margin: auto; max-width: 17%;
}
#right{
    text-align: right;
}
#col-old{
    box-shadow: 0px 1px 3px 1px #dbdbdb;border-radius: 1px 1px 5px 5px;
}
#colmdold{
    background-color: #50ae55; color: white; padding: 11px;
}
#colsm68{
    text-align: right;margin-top: 14px;
}
#color{
    color: #50ae55;
}
#hidden{
    visibility: hidden;
}
#float_right{
    float: right;
}
.field-icon {
    float: right;
    margin-left: -25px;
    margin-top: -25px;
    position: relative;
    z-index: 2;
}

.void-check{
    width: 100%;margin-top: 10px;margin-left: 7px;
}
#col-md-4{
    margin-top: -15px;
}
#colmd4{
    margin-top: 5px;
}
.product_image{
    width:80px;height:40px;margin-top:20px;
}
.voidcheck{
    width: 100%; margin-top: 10px;
}
#file1{
    width: 100% !important; padding: 4px;
}
#void-100{
    width: 100%;
}
#void-padding{
    margin-bottom: 15px;
}
#modaltext{
    background-color: #3a4651;color: #ffffff;
}
.verify{
    text-align: center;margin-right: 75px;
}
#carddefault{
    border:1px solid rgb(239, 239, 239);
}
#title1{
    font-size:1rem;
}
.fa-attachment{
    margin-top: -40px;
    margin-right: 9px;
    font-size: 22px;
    -ms-transform: rotate(-100deg);
    -webkit-transform: rotate(-100deg);
    transform: rotate(-136deg);
    color: #4bcf7a;
}

.ui-autocomplete {
    max-height: 100px;
    overflow-y: auto;
    z-index: 111111;
    overflow-x: hidden;
    cursor: default;
}
.ui-autocomplete-loading {
    background:url(http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.2/themes/smoothness/images/ui-anim_basic_16x16.gif) no-repeat right center
}
#dropdown_menu{
    min-width: 100px!important;
}
/* IE 6 doesn't support max-height
 * we use height instead, but this forces the menu to always be this tall
 */
* html .ui-autocomplete {
    height: 100px;
}
.ui-autocomplete-category {
    font-weight: bold;
    padding: .2em .4em;
    margin: .8em 0 .2em;
    line-height: 1.5;
}
.data_col{
    padding: 0px !important;
}
.verify_status {
    border-radius: 7%;
}

table{
    margin: 0 auto;
    width: 100%;
    clear: both;
    border-collapse: collapse;
    table-layout: fixed;
    word-wrap:break-word;
}

.status_class { padding:8px; margin-right:4px; font-size: 15px }
.icon-btn { padding: 1px 15px 3px 10px; border-radius:50px;}
.dataTables_wrapper .dataTables_paginate {
    padding : 10px;
}

.dataTables_wrapper .dataTables_paginate .paginate_button {
    padding : 0px;
    margin-left: 0px;
    display: inline;
    border: 0px;
}
.dataTables_wrapper .dataTables_paginate .paginate_button:hover {
    border: 0px;
}
#datatable-keytable{
    width: 100% !important;
}
#1more-transactions{
    float: right;
    padding: 10px;
    margin-right: 10px;
    margin-top: -100px;
    border-radius: 5px;
}
.col-md-7{
    margin-right: 1px;
}
div.table-responsive>div.dataTables_wrapper>div.row{
    margin: 0;
    margin-top: 20px;
    margin-bottom: 20px;
}

.users_tabs > li > a {
    border: none;
    outline: none;
    padding: 10px 16px;
    background-color: lightgrey;
    cursor: pointer;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.users_tabs > li > a:hover {
    background-color: #8171ae;
    color: white;
}

.users_tabs > li.active > a, .users_tabs > li.active > a:focus {
    background: #1c165c;
    color: white;
}

@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px){
    .dropdown-menu{
        left: -107px;
    }
}

.dropdown-menu > li > a {
    background-color: whitesmoke;
    color: #000000 !important;
background-image: none;
}
.dropdown-menu > li > a:hover {
    background-color: #7867a7;
    background-image: none;
}
.users_tabs > li{
    width: 132px;
}
#tabs .nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
    color: #0062cc;
    background-color: transparent;
    border-color: transparent transparent #f3f3f3;
    border-bottom: 3px solid !important;
    font-size: 16px;
    font-weight: bold;
}
.nav-link {
    border: 1px solid transparent;
    border-top-left-radius: .25rem;
    border-top-right-radius: .25rem;
    color: #0062cc;
    font-size: 16px;
    font-weight: 600;
}
::-webkit-file-upload-button {
    background: white;
    padding: 0.7em;
}
#choose_img .col-md-3 img{
    width: 100%;
    margin-left: 300%;
    margin-top: -4rem;
}
#img_up .col-md-3 img{
    width: 100%;
    margin-top: -25%;
}
.card {
    border-radius: 10px;
}
h1{
    margin: 4% 0;
}
.container{
    /*margin-bottom:*/
}
.bottom-padding {
    padding-bottom: 5% !important;
    padding-right: 10%;
    float: right;
    padding-top: 5%;
}
.button-radius {
    border-radius: 5px;
    margin-left: 25px;
}
.button-color {
    background-color: #333333;
    color: white;
}
.butt-color {
    background-color: #1f1667;
    color: white;
}
.fa{
    font-size: 1.1rem;
}
.fa-close{
    margin-top: 30%;
}
.img-margin{
    position: absolute;
    left: 40%;
}
.button-margin{
    margin-top: -4%;
    left: 62%;
}
.error{
    color:red;
}

.m-name{
    /*margin: 2%;*/
    font-size: 20px;
}
.m-id{
    /*margin-left: 4%;*/
    font-family: monospace;
}
/*.m-ida{*/
/*  margin-left: 4%;*/
/*}*/
.fa-2x{
    font-size: 1.5em!important;
}
.toggle{
    height: 30px!important;
}
.toggle.btn {
    min-height: 30px !important;
}
.toggle-group > label{
    font-size: 13px!important;
}
.tags{
    background: #999;
    min-width: 60px;
    border-radius: 10px;
    text-align: center;
    padding: 0 9px;
    color: white;
}
.fadein, .fadeout {
    opacity: 0;
    -moz-transition: opacity 0.4s ease-in-out;
    -o-transition: opacity 0.4s ease-in-out;
    -webkit-transition: opacity 0.4s ease-in-out;
    transition: opacity 0.4s ease-in-out;
}
.fadein {
    opacity: 1;
}
.dba_location{
    cursor: pointer;
}
.collapse{
    cursor: default;
}
.button_info{
    background-color: #567280;color: white;height: 70px;border-radius: 10px;
}
.lock_btn{
    margin-top: 5px;float: right;
}
.button_info_text{
    text-align: -webkit-center;padding-top: 25px; font-weight: 600;font-size: 14px;
}
.highcharts-credits{
    display: none;
}
.p_tag_count{
    float: right;
}
.user_div{
    padding-right: 0px;
}
.h_tag_user{
    font-size:12px;float: left;font-weight: 600;
}
span.toggle-handle.btn.btn-default{
    border-radius: 15px;
    padding: 0px 27px;
}
div.toggle.btn.btn-success{
    border-radius: 15px;
    width: 85px;
}
div.toggle.btn.btn-danger.off{
    border-radius: 15px;
    width: 85px;
}
.toggle-on.btn {
    padding-right: 24px;
    padding-left: 0px;
    padding-top: 4px;
}
.toggle-off.btn {
    padding-left: 30px;
    padding-top: 4px;
}
#container{
    margin-left: -21%;
}
rect{
    fill: none;
}
#cursor-disable {
    cursor: not-allowed;
}
.modal-open {
    padding-top: 0px !important;
}
.capital{
    text-transform: capitalize;
}
.ms-choice{
    border: 0 !important;
    outline: none !important;
}

/* Start    Wallet_details.html.erb main_style_tag*/

.table-borderless td, .table-borderless th {
    line-height: 2 !important;
}
.transaction_table td, .transaction_table th{
    border: none !important;
    line-height: 1 !important;
}
#first_row td{
    border: none !important;
}
p{
    margin: 0px;
}
.wallets_btn{
    background: #575656;
    color: white;
    border-radius: 10px;
}
.image_folder{
    margin: auto;width: 175px;opacity: 0.1;
}
.box-style{
    border-radius: 4px;
    background-color: white;
    height: 320px;
}
tfoot>tr>td.push-right{
    padding-left: 85%;
}
.popover{
    max-width:600px;
}

.tx_id{
    position: absolute;
    top: 133px;
    /*background-color: gray;*/
    color: rgb(255, 255, 255);
    padding-top: 0px;
    padding-bottom: 22px;
    text-align: justify;
    font-size: 12px;
    padding-left: 10px !important;
    padding-right: 10px !important;
    display: block;
    z-index: 23;
    margin-left: -74px;
    width: 61%;
    height: 35%;
    font-size: 14px;
    /*background-color: rgba(214, 193, 193, 0.5);*/
    /* opacity: 1; */
    visibility: visible;
    transform: scale(1.1);
    transition: visibility 0s linear 0.25s, opacity 0.25s 0s, transform 0.25s;
}
@media (min-width: 1250px) and (max-width: 1300px) {
    .decs-text{
        width: 144% !important;
    }
    .decs-head{
        width: 144% !important;
    }
}
@media (min-width: 1300px) and (max-width: 1700px) {
    .decs-text{
        width: 137% !important;
    }
    .decs-head{
        width: 137% !important;
    }
}
@media (min-width: 1700px) and (max-width: 2000px) {
    .decs-text{
        width: 133% !important;
    }
    .decs-head{
        width: 133% !important;
    }
}
@media (min-width: 2000px) and (max-width: 2650px) {
    .decs-text{
        width: 130% !important;
    }
    .decs-head{
        width: 130% !important;
    }
}
@media (min-width: 2650px) and (max-width: 4000px) {
    .decs-text{
        width: 127% !important;
    }
    .decs-head{
        width: 127% !important;
    }
}
@media (min-width: 2650px) and (max-width: 4092px) {
    .decs-text{
        width: 125% !important;
    }
    .decs-head{
        width: 125% !important;
    }
}

/* END     Wallet_details.html.erb main_style_tag*/
/*============================*/
/*moving inline styles start*/
/*============================*/
.z_index{
    z-index: 2147483647;
}
.top_30px{
    top: 30px;
}
.width_max{
    width: 100%;
}
.width_97_perc{
    width: 97%;
}
.width_500px_imp{
    width: 500px !important;
}
.width_35per_imp{
    width: 35% !important;
}
.min_height_405px{
    min-height: 405px;
}
.height_320px{
    height: 320px;
}
.height_405px{
    height: 405px;
}
.height_135px{
    height: 135px;
}
.align_center{
    text-align: center;
}
.padding_zero{
    padding: 0px;
}
.padding_top_zero{
    padding-top: 0px;
}
.padding_left_zero{
    padding-left: 0px;
}
.padding_left_17px{
    padding-left: 17px;
}
.padding_top_7px{
    padding-top: 7px
}
.padding_top_8px{
    padding-top: 8px;
}
.margin_top_point7rem{
    margin-top: -0.7rem;
}
.margin_top_2_perc{
    margin-top:2%;
}
.margin_top_5px{
    margin-top: 5px;
}
.margin_top_10px{
    margin-top:10px;
}
.margin_top_13px{
    margin-top: 13px;
}
.margin_top_14px{
    margin-right: 14px;
}
.margin_top_15px{
    margin-top: 15px;
}
.margin_top_18px{
    margin-top: 18px;
}
.margin_top_20px{
    margin-top: 20px;
}
.margin_top_25px{
    margin-top: 25px;
}
.margin_top_30px{
    margin-top: 30px;
}
.margin_top_40px{
    margin-top: 40px;
}
.margin_top_45px{
    margin-top: 45px;
}
.margin_bottom_neg_16px{
    margin-bottom: -16px;
}
.margin_bottom_30px{
    margin-bottom: 30px;
}
.margin_left_3px{
    margin-left: 3px;
}
.margin_left_4px{
    margin-left: 4px;
}
.margin_left_5px{
    margin-left: 5px;
}
.margin_left_10px{
    margin-left: 10px;
}
.margin_right_5px{
    margin-right: 5px;
}
.margin_right_139px{
    margin-right: 139px;
}
.margin_100px_zero{
    margin: 100px 0px
}
.float_left{
    float: left;
}
.float_right{
    float:right;
}
.font_size_x_large{
    font-size: x-large;
}
.font_size_12px{
    font-size: 12px;
}
.font_size_13px{
    font-size: 13px;
}
.font_size_14px{
    font-size: 14px;
}
.font_size_16px{
    font-size: 16px;
}
.font_size_30px{
    font-size: 30px;
}
.font_weight_bold{
    font-weight: bold;
}
.font_weight_600{
    font-weight: 600;
}
.display_none{
    display: none;
}
.color_black_imp{
    color:black!important;
}
.color_white{
    color: white;
}
.color_green{
    color: green;
}
.color_red{
    color: red;
}
.bg_color_red{
    background-color: red;
}
.bg_color_white{
    background-color: white;
}
.bg_color_whitesmoke{
    background-color: whitesmoke;
}
.border_bottom_none_imp{
    border-bottom: none !important;
}
.border_lightgray{
    border: 1px solid lightgray
}
.nav_bar_aggent_aff{
    width: 100%;
    border-bottom: 1px solid lightgray;
}
.user_count{
    height: 80px;
    padding: 0px;
    margin-top: 12px;

}
.active_user{
    border-left: 14px solid #43A547;
    height: 80px;
    padding: 0px;
    border-radius: 4px;
    background-color: lightgray;
}
.agent_count{
    border-left: 14px solid #3748AC;
    height: 80px;
    padding: 0px;
    border-radius: 4px;
    background-color: lightgray;
}
.affiliate_count{
    border-left: 14px solid #F18505;
    height: 80px;
    padding: 0px;
    border-radius: 4px;
    background-color: lightgray;
}
.agent_affiliate_table_top_div{
    border-radius: 4px;
    margin-top:40px;
    margin-bottom: 100px;
    background-color: white;
}
.total_agent_text{
    text-align: left;
    font-weight: 600;
    margin-left: 4px;

}
.total_affilate_text{
    text-align: left;
    font-size: 30px;
    margin-left: 4px;

}
.count_text_tag{
    text-align: left;
    font-size: 30px;
    margin-left: 4px;
}
.email_label{
    border: 1px solid lightgrey;
    border-radius: 10px;
}
.wallet_error_color{
    color: Darkred;
    display: none;
}
.margin_top_2px_imp{
    margin-top: 2px !important;
}
.modal_header_text{
    text-align: center;
    background-color: #3a4651;
}
.modal_title_text{
    margin: auto;
    font-size: 22px;
}
.background_clolor_active_button{
    background: #43A547;
}
.color_for_pending_btn{
    background: #009FF2;
    color: white;
}
.color_for_inactive{
    background: #F23A30;
    color: white;
}
.color_for_inactive_aggent{
    background: darkred;
    color: white;
}
.color_for_view_btn{
    background: #565656;
    color: white;
}
.modal_content_unlock{
    margin:0% 20%;
    border: 3px solid #3a4651;
}
.verify_header_tag{
    background-color: #3a4651;
    color: #ffffff;
}
.verify_yourself{
    text-align: center;
    margin-right: 75px;
}
.pending_merchant{
    border-left: 14px solid #009FF2;
    height: 80px;
    padding: 0px;
    border-radius: 4px;
    background-color: lightgray;
}
.merchant_inactive_users{
    border-left: 14px solid #F23A30;
    height: 80px;
    padding: 0px;
    border-radius: 4px;
    background-color: lightgray;
}
.profile_section{
    min-height: 320px;
    background-color: white;
    height:auto !important;
}
.off_button_profile{
    border-radius: 20px;
    height: 27px;
    padding: 0 10px;
}
.off_button_span_left{
    font-size: 12px;
    margin-right: 20px;
}
.right_border_profile{
    padding:0px;
    margin-top: 40px;
    border-right: 1px solid lightgray;
}
.last_withdraw_text{
    text-align: center;
    font-size:12px;
    font-weight: 600;
}
.border_right{
    border-right: 1px solid lightgray;
}
.edit_label_div{
    padding: 0px;
    margin: 80px 0px;
}
.dba_location_div{
    padding: 0px;
    border: 1px solid lightgray;
    border-left: 8px solid black;
    background: #f9f9f9;
}
.commission_sale_main_div{
    background-color: lightgray;
    height: 80px;
    border-radius: 4px;
}
.risk_level_div{
    border-left: 14px solid blueviolet;
    height: 80px;
    padding: 0px;
    border-radius: 4px;
    background-color: lightgray;
}
.bank_account_main{
    margin-top: 20px;
    margin-bottom:50px;
    padding-left: 0px;
}
.modal_content_specific_wallet{
    width: 500px !important;
    height: 24%;
    overflow-x: hidden;
}
.modal_body_specific_wallet{
    background-color: whitesmoke;
    margin-bottom: -16px;
    padding: 0px !important;
    padding-left: 10px !important;
}
.main_modal_refund_payment{
    z-index: 99999999999;
    overflow-y:auto;
}
.modal_content_refund_paymnet{
    width: 500px !important;
    height: 56%;
    overflow-x: hidden;
}
.partial_error_span{
    padding-left: 10px;
    padding-right: 10px;
    display: none;
}

.bussiness_location_name{
    border-radius: 4px;
    background-color: white;
}
.description_text{
    background-color: #f7f7f7;
    color: black;
    font-weight: bold;
    padding-left: 6px;
    padding-top: 4px;
    height: 18%;
}
.description_text_view{
    height:150px;
    padding: 7px;
    overflow: scroll;
    background-color: white;
    color: grey!important;
    border: 1px solid #ebebeb;
}
.back_button_wallet{
    width: 130px;
    border-radius: 5px;
    background: #575656;
}
/*============================*/
/*moving inline styles end*/
/*============================*/


