.label-margin{
    margin-top: 3px;
    margin-left: -15px;
}
.wallet_export_status{
    text-align: center;
    font-weight: bold;
}
.padding_left_30px{
    padding-left: 30px;
}
.margin_left_252 {
    margin-left: -252px;
}
.select2-container{
    width: 100% !important;
}
.padding-top-7-px-merchant{
    padding-top: 7px;
}
.merchant_radio_label{
    margin-left: -14px;
    margin-top: 3px;
}
.merchant_checkmark{
    margin-top: 8px;
    height: 18px;
    width: 18px;
}
.top-15-px-merchant{
    top: -15px;
}
.merchant_cat_margin{
    margin-top: -27px;
    margin-left: -13px;
}
.entries_bg_color{
    background-color: white;
    padding-top: 33px;
}
.margin_left_wallet{
    margin-left: -160px;
}
.tableFixHead_withdraw, .tableFixHead_withdraw_new { overflow-y: auto; height: 200px; }
.tableFixHead_withdraw th { position: sticky; top: 0; background-color: #F8F8F8}
.tableFixHead_withdraw_new th { position: sticky; top: 0; background-color: #ffffff}
 .run-report-withdraw{
     margin-top: 54px;
     margin-left: -36px;
 }
 .export-withdraw{
     margin-left: 110px;
     margin-top: -36px;
 }
.checkmark1{
    margin-top: 8px;
    height: 18px;
    width: 18px;
}
.radio-label .checkmark:after{
    left: 6px !important;
    top: 2px !important;
}
@media screen and (min-width: 768px){
    .col-md-6.db_class{
        width: 30% !important;
    }
    .col-md-4.gateway_class{
        width: 21% !important;
    }
    .form-group.col-md-6.input-list{
        width: 70% !important;
    }
    .cat_col{
        padding: 0 !important;
        width: 63% !important;
    }
}
.ms-parent{
    width: 100% !important;
}
.select2-search__field{
    width: 100% !important;
}
.ms-choice{
    width: 0 !important;
    height: 0 !important;
    border: 0px solid transparent !important;
}
.ms-drop.bottom{
    margin-left: -12px;
}
 input[type='checkbox'] {
     margin-top: 0px;
     margin-right: 3px;
 }

.ui-autocomplete {
    max-height: 100px;
    overflow-y: auto;
    z-index: 111111;
    overflow-x: hidden;
    cursor: default;
}
.ui-autocomplete-loading {
    background:url(http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.2/themes/smoothness/images/ui-anim_basic_16x16.gif) no-repeat right center
}
#dropdown_menu{
    min-width: 100px!important;
}
/* IE 6 doesn't support max-height
 * we use height instead, but this forces the menu to always be this tall
 */
* html .ui-autocomplete {
    height: 100px;
}
.ui-autocomplete-category {
    font-weight: bold;
    padding: .2em .4em;
    margin: .8em 0 .2em;
    line-height: 1.5;
}
.padd{
    margin-right: 5px !important;
    padding-bottom: 4px !important;
}


.csv_button{
    margin-top: 13px !important;
}

div.dt-buttons {
    position: relative;
    float: right;
}

#cover-spin {
    position:fixed;
    width:100%;
    left:0;right:0;top:0;bottom:0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index:9999;
    display:none;
}

@-webkit-keyframes spin {
    from {-webkit-transform:rotate(0deg);}
    to {-webkit-transform:rotate(360deg);}
}

@keyframes spin {
    from {transform:rotate(0deg);}
    to {transform:rotate(360deg);}
}

#cover-spin::after {
    content:'';
    display:block;
    position:absolute;
    left:48%;top:40%;
    width:40px;height:40px;
    border-style:solid;
    border-color:black;
    border-top-color:transparent;
    border-width: 4px;
    border-radius:50%;
    -webkit-animation: spin .8s linear infinite;
    animation: spin .8s linear infinite;
}

table{
    margin: 0 auto;
    width: 100%;
    clear: both;
    border-collapse: collapse;
    table-layout: fixed;
    word-wrap:break-word;
}
.dataTables_wrapper .dataTables_paginate {
    padding : 10px;
}
.dataTables_wrapper .dataTables_paginate .paginate_button {
    padding : 0px;
    margin-left: 0px;
    display: inline;
    border: 0px;
}
.dataTables_wrapper .dataTables_processing {
    position: absolute;
    top: 30%;
    left: 50%;
    width: 30%;
    height: 40px;
    margin-left: -20%;
    margin-top: -25px;
    padding-top: 20px;
    text-align: center;
    font-size: 1.2em;
    background: yellow;
}
.dataTables_wrapper .dataTables_paginate .paginate_button:hover {
    border: 0px;
}
div.table-responsive>div.dataTables_wrapper>div.row{
    margin: 0;
    margin-top: 20px;
    margin-bottom: 20px;
}

/*============================*/
/*moving inline styles start*/
/*============================*/
.display-none{
    display: none;
}
.color_red{
    color: red;
}
.display_color_red{
    display: none;
    color:red;
}
.width_40_perc{
    width: 40% !important;
}
.width_60_perc{
    width: 60% !important;
}
.bg_color_reports{
    background-color: whitesmoke;
}
.align_center{
    text-align: center;
}
.align_right{
    text-align: right;
}
.margin_10px{
    margin:10px;
}
.margin_top_10px{
    margin-top: 10px;
}
.margin_top_15px{
    margin-top: 15px;
    margin-left: -40px;
}
.margin_top_27px{
    margin-top: 27px;
}
.margin_not_top_27px{
    margin-top: -27px;
}
.margin_top_50px{
    margin-top: 50px;
}
.margin_top52px{
    margin-top: 52px;
}

.margin_top38px{
    margin-top: 38px;
}

.margin_left_16px{
    margin-left: 16px;
}
.margin_left_175px{
    margin-left:175px;
}
.width_500px_imp{
    width: 500px !important;
}
.padding_zero{
    padding: 0px;
}
.padding_right_zero{
    padding-right: 0;
}
.float-left{
    float: left;
}
.modal_body_report_new{
    background-color: whitesmoke;
    margin-bottom: -16px;
}
.email_button_reports{
    margin-left: 90px;
    margin-top: 17px;
    background-color: #ffffff;
    border-radius: 8px;
}
.audit_reports_text{
    float: left;
    margin-right: 20px;
    font-size: 30px;
}
.run_report_audit{
    border: 1px solid lightgray;
    background-color: white;
}
.export_tab_submit{
    margin-top: -74px;
    margin-right: 332px;
}
.fee_categories{
    padding-right: 0px;
    margin-right: -104px;
}
.export_submit_fee_details{
    margin-top: -65px;
    margin-right: 44px;
}
.sales_export_submit{
    position: absolute;
    left: 36%;
    bottom: 9%;
}
.withdraw_report_button{
    background-color: blue;
    border: none;
    padding: 5px
}
.export_report_button{
    margin-left: 30px;
    margin-top: 55px;
}
.withdraw_detailed_summery{
    font-size: 0.8rem;
    color: #000;
    padding: 3px 20px;
    font-weight: normal;
}
/*============================*/
/*moving inline styles end*/
/*============================*/


.data-align
{
    margin-top: 30px;
}
.date-width{
    width: 100px;
}
.check_width{
    max-width: 375%;
}
.check_margin_left{
    margin-left: -4px;
}
.check_margin_left_1{
    margin-left: 10px;
}
.padding_left_5px{
    padding-left: 5px;
}
.padding_right_5px{
    padding-right: 5px;
}
.merchant_error,.error{
    color: red;
}
.withdrawal_dropdown{
    min-width: 92%;
    height: 250%;
    padding-top: 8px;
}
.detail_report_submit{
    width: 89px;
}
.export_button{
    margin-left: 68px;
    margin-top: -18px;
}
.withdrawal_export_dropdown{
    min-width: 106%;
    height: 250%;
    padding-top: 8px;
}
.wd_export_btn{
    font-size: 0.8rem !important;
    width: 100px;
    height: 32px;
}
.withdraw-label-margin{
    margin-top: 28px;
    margin-left: -15px;
}
.withdraw-checkmark1{
    margin-top: 32px;
    height: 18px;
    width: 18px;
}
.m-index-st-19{
    margin-left: 16px;
}
.multi-hide{
    display: none;
}
.field-width{
    width:302px;
}
.margin_left_30px{
    margin-left: 30px;
}
.margin_left_7px{
    margin-left: 7px;
}
.margin_left_22px{
    margin-left: 22px;
}
.margin_left_10px{
    margin-left: 10px;
}