.icon_inside_input_field {
  position: relative;
}
.icon_inside_input_field > i {
  position: absolute;
  display: block;
  transform: translate(0, -50%);
  top: 50%;
  pointer-events: none;
  width: 25px;
  text-align: center;
  font-weight: bold;
  font-size: 16px;
}
.icon_inside_input_field > input {
  padding-left: 55px;
  padding-right: 0;
}
/*============================*/
/*moving inline styles start*/
/*============================*/
.balance_tag{
    padding: 4px;
    padding-top: 8px;
    padding-bottom: 8px;
    text-align: center;
}
.align_right{
    text-align:right;
}
/*============================*/
/*moving inline styles end*/
/*============================*/
