.container {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 10px;
  cursor: pointer;
  font-size: 14px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 22px;
  width: 23px;
  background-color: #eee;
}
.container:hover input ~ .checkmark {
  background-color: #ccc;
}
.container input:checked ~ .checkmark {
  background-color: #2196F3;
}
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}
.container input:checked ~ .checkmark:after {
  display: block;
}
.container .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 2px 2px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
#client_id, #client_auth, #client_sign{
  margin-top: 10px;
}
#payment_gateway_misc_fee_dollars{
  width: 62px;
}
#payment_gateway_misc_fee{
  width: 62px;
}
.notification_modal{
  width: 35%;
  margin-left: 30%;
}
.custom_form{
  padding: 0px 30px !important;
}
#warning_showing_span{
  padding: 0px 31px;
  color: red;
}
.verify_status {
  padding: 2px !important;
  border-radius: 10%;
}
.form-control{
    height: 40px;
}
table{
  margin: 0 auto;
  width: 100% !important;
  clear: both;
  border-collapse: collapse;
  table-layout: fixed;
  word-wrap:break-word;
}
.dataTables_wrapper .dataTables_paginate {
  padding : 10px;
}
.dataTables_wrapper .dataTables_paginate .paginate_button {
  padding : 0px;
  margin-left: 0px;
  display: inline;
  border: 0px;
}
.dataTables_wrapper .dataTables_processing {
  position: absolute;
  top: 30%;
  left: 50%;
  width: 30%;
  height: 40px;
  margin-left: -20%;
  margin-top: -25px;
  padding-top: 20px;
  text-align: center;
  font-size: 1.2em;
  background: yellow;
}
.dataTables_wrapper .dataTables_paginate .paginate_button:hover {
  border: 0px;
}
div.table-responsive>div.dataTables_wrapper>div.row{
  margin: 0;
  margin-top: 20px;
  margin-bottom: 20px;
}
.dropdown-menu > li > a:hover {
  background-color: #7867a7;
  background-image: none;
}

.dropdown-menu > li > a {
  background-color: whitesmoke;
  color: #000000;
 background-image: none;
}
.verify_status {
  padding: 2px !important;
  border-radius: 10%;
}
.active_inactive{
  border-radius: 12px;
}
table{
  margin: 0 auto;
  width: 100%;
  clear: both;
  border-collapse: collapse;
  table-layout: fixed;
  word-wrap:break-word;
}
.dataTables_wrapper .dataTables_paginate {
  padding : 10px;
}
.dataTables_wrapper .dataTables_paginate .paginate_button {
  padding : 0px;
  margin-left: 0px;
  display: inline;
  border: 0px;
}
.dataTables_wrapper .dataTables_processing {
  position: absolute;
  top: 30%;
  left: 50%;
  width: 30%;
  height: 40px;
  margin-left: -20%;
  margin-top: -25px;
  padding-top: 20px;
  text-align: center;
  font-size: 1.2em;
  background: yellow;
}
.dataTables_wrapper .dataTables_paginate .paginate_button:hover {
  border: 0px;
}
div.table-responsive>div.dataTables_wrapper>div.row{
  margin: 0;
  margin-top: 20px;
  margin-bottom: 20px;
}
.dropdown-menu{
  left: -50%;
}
@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px)
and (orientation : landscape) {
  .dropdown-menu{
    left: -107px;
  }
}
@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px)
and (orientation: portrait) {
  .dropdown-menu{
    left: -107px;
  }
}
.dropdown-menu > li > a {
  background-color: whitesmoke;
  color: #000000;
background-image: none;
}
.dropdown-menu > li > a:hover {
  background-color: #7867a7;
  background-image: none;
}
#cover-spin {
  position:fixed;
  width:100%;
  left:0;right:0;top:0;bottom:0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index:9999;
  display:none;
}
@-webkit-keyframes spin {
  from {-webkit-transform:rotate(0deg);}
  to {-webkit-transform:rotate(360deg);}
}
@keyframes spin {
  from {transform:rotate(0deg);}
  to {transform:rotate(360deg);}
}
#cover-spin::after {
  content:'';
  display:block;
  position:absolute;
  left:48%;top:40%;
  width:40px;height:40px;
  border-style:solid;
  border-color:black;
  border-top-color:transparent;
  border-width: 4px;
  border-radius:50%;
  -webkit-animation: spin .8s linear infinite;
  animation: spin .8s linear infinite;
}
.form-group.row{
  margin-top: 2%;
}
.form-label{
  text-align: right;
}
hr{
  border-bottom: 1px solid #cccccc;
  width: 100%;
  margin-top: 2%;
  margin-bottom: 2%;
}

.m-input-icon {
  position: relative;
  padding: 0;
  width: 100%;
}

.m-input-icon.m-input-icon--left .form-control {
  padding-left: 2.8rem;
  margin-bottom: 2%;
}
.form-control, .form-control[readonly] {
  border-color: #ebedf2;
  color: #575962;
}
.form-control {
  display: block;
  width: 100%;
  padding: .65rem 1rem;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: .25rem;
  transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.m-input-icon>.m-input-icon__icon.m-input-icon__icon--left {
  left: 0;
}

.m-input-icon>.m-input-icon__icon {
  position: absolute;
  height: 100%;
  display: inline-block;
  text-align: center;
  top: 20%;
  width: 3.2rem;
}
.m-input-icon>.m-input-icon__icon>span {
  display: table;
  height: 100%;
  width: 100%;
}
.m-input-icon>.m-input-icon__icon>span>i {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  line-height: 0;
}

.m-input-icon .m-input-icon__icon i {
  color: #a4a2bb;
}
.para_class{
  background: lightgray;
  text-align: center;
  margin-bottom: 1rem;
  margin-top: 1rem;
}
.btn.btn-success{
  /*width: 20rem;*/
  border-radius: 0rem;
}
.section{
  background: white !important;
  border-radius: 5px;
  -moz-box-shadow: 0 0 3px #000000;
  -webkit-box-shadow: 0 0 3px #000000;
  box-shadow: 0 0 3px #000000;
  padding-left: 10px;
  padding-right: 10px;
}
.borderedBottom{
  padding: 10px;
  border-bottom: 0.5px solid #7867a7 !important;
  position: relative;
  padding-left: 0px
}
.title{
  font-size: 20px;
  font-weight: 600;
  display: inline;
}
.title_span{
  font-weight: 700;
}
.flag-btn::before,
.flag-btn::after {
  border: none;
  content: none;
}
.flag-btn{
  border: none;
  background: transparent;
}
/*.dropdown-menu {*/
/*  left: 17%;*/
/*  top: 33px;*/
/*  min-width: 70px;*/
/*  max-width: 70px;*/
/*  height: 29px;*/
/*}*/
.flag-btn::before,
.flag-btn::after {
  border: none;
  content: none;
}
.flag-btn{
  border: none;
  background: transparent;
}
/*.dropdown-menu {*/
/*  left: 17%;*/
/*  top: 33px;*/
/*  min-width: 70px;*/
/*  max-width: 70px;*/
/*  height: 29px;*/
/*}*/
.btn.btn-default:hover {
  border-radius: 7px;

}
.fa.fa-flag:hover{
  border-radius: 7px;
}
.fa.fa-flag:active{
  border-radius: 7px;
}
.li-data{
  border: 1px solid #b8bfc7;
}
.btn-default:active, .btn-default.active, .open > .dropdown-toggle.btn-default {
  background-color: transparent;
}
.taab{
  width: 100%;
  border: 1px solid lightgray;
}
.nav_title{
  font-size: 18px;
  font-weight: normal;
}
.hover_class>li>a:hover,
.hover_class>li>a:focus {
  background-color: #8171AE !important;
  color: white;
}
.mylabel {
    position: relative;
    top: -10px;
    left: 30%;
    font-weight: bold;
    cursor: default;
}

/*============================*/
/*moving inline styles start*/
/*============================*/
.modal_header_notification{
    background: #424242;
    color: white;
}
background_for_coversipin{
    background-color: #f5f5f5;
}
.background_white{
    background: white;
}
.float-left{
    float: left;
}
.close_button_notification{
    color: white;
    opacity: 1;
}
.align_center{
    text-align: center;
}
.width_90_percent{
    width: 90% !important;
}
.width_150px{
    width: 150px;
}
.width_186px{
    width: 186px;
}
.color_red{
    color: red
}
.padding_zero{
    padding: 0px;
}
.margin_bottom_15px{
    margin-bottom: 15px;
}
.margin_bottom_20px{
    margin-bottom: 20px;
}
.margin_top_1perc{
    margin-top: 1%;
}
.margin_top_3perc{
    margin-top: 3%;
}
.margin_top_15perc{
    margin-top: 15%
}
.margin_top_20px{
    margin-top: 20px;
}
.margin_top_25px{
    margin-top:25px;
}
.margin_left_zero{
    margin-left: 0px;
}
.margin_left_4px{
    margin-left: 4px;
}
.slot_margin_left{
    margin-left: 5px !important;
}

.payment_gateway_id_padding{
    padding:0px 15px;
}
.vertical_type_label{
    padding-bottom: 10px;
    padding-left: 0px;
}
.dropdown_btn{
    color: darkgray;
    text-align: center;
    display: block;
}
.status_index_slot_gateway{
    width: 100px;
    font-weight: 700;
}
.submit_slot_management{
    margin-bottom: 4%;
    margin-top: 4%;
    text-align: center;
}
.over_message_slot_management{
    background: lightgray;
    text-align: center
}
.under_message_slot_management{
    background: lightgray;
    text-align: center;
    margin-top: 1rem;
}
/*============================*/
/*moving inline styles end*/
/*============================*/
