.fa-attachment{
  margin-top: -40px;
  margin-right: 9px;
  font-size: 22px;
  -ms-transform: rotate(-100deg);
  -webkit-transform: rotate(-100deg);
  transform: rotate(-136deg);
  color: #4bcf7a;
}
.card-block{
  word-break: break-word;
}
.taab{
    width: 100%;
    border: 1px solid lightgray;
}
.nav_title{
    font-size: 18px;
    font-weight: normal;
}
.hover_class>li>a:hover,
.hover_class>li>a:focus {
    background-color: #8171AE !important;
    color: white;
}
.fa_class{
    color:#199b3e;padding-top: 15px
}
.fa_delete{
    color:#9167a7;padding-top: 15px
}
.comment_name{
    border:1px solid rgb(239, 239, 239)
}
.title_font{
    font-size:1rem
}
.msg{
    color:#3c8dbc
}
.atachment{
    padding-left: 40px
}
.bgborder{
    border:1px solid rgb(239, 239, 239)
}
.bgcolor{
    background-color: #4caf50;float: left;margin:4px;
}
.custom_pad{
    float: left;margin:4px;
}
.redcolor{
    color:red;
}
.bgwhite{
    background: whitesmoke;
}
.bluecolor{
    color: blue;font-size: 20px
}
.font-size{
    font-size: 20px
}
.margin-class{
    margin-left: 16px
}
.pdbottom{
    padding-bottom: 21px;
}
.bgboder_color{
    border: 1px solid #9c9898;height: 35px; border-radius: 7px;
}
.dropdown-bg{
    background: white;margin-left: -16px; border: 1px;
}
.lidata{
    background: white; border: 1px solid #b8bfc7;
}
.greyborder{
    background: white;border-top: 1px solid lightgray
}
.bluefont{
color:blue;
}
.greycolor{
    color: lightgray;font-size: 20px
}
.custompad{
    padding: 10px 10px;
}
.filter_pad{
    padding: 0px;top: 45px;
}
.filter_label{
    float: left;padding-top: 7px;padding-right: 5px
}
.enteries{
    padding-top: 7px;
    padding-left: 5px
}
.search_field{
    width: 230px; margin-right: 10px
}
.tickets_tabl{
    padding: 0px; margin-top: 40px; margin-bottom: 40px;
}
.brder-radius{
    border-radius: 0px;
}
.tech{
    margin: 0px 22px 0px 28px
}

table{
    background-color: white!important;
}