
.ui-autocomplete {
    max-height: 100px;
    overflow-y: auto;
    z-index: 111111;
    overflow-x: hidden;
    cursor: default;
}
.ui-menu-item-wrapper{
    max-width: none;
}
@media screen and (max-width: 1853px) {
    .ui-menu-item-wrapper{
        margin-bottom: 0px !important;
        max-width: none;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
    .ui-autocomplete{
        max-width: 514px;
    }
}
@media screen and (max-width: 1685px) {
    .ui-menu-item-wrapper{
        margin-bottom: 0px !important;
        max-width: none;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;

    }
    .ui-autocomplete{
        max-width: 465px;
    }
}
@media screen and (max-width: 1482px) {
    .ui-menu-item-wrapper{
        margin-bottom: 0px !important;
        max-width: none;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
    .ui-autocomplete{
        max-width: 404px;
    }
}
@media  screen and (max-width: 1366px) {
    .ui-menu-item-wrapper{
        margin-bottom: 0px !important;
        max-width: none;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
    .ui-autocomplete{
        max-width: 370px;
    }
}
.ui-autocomplete-loading {
  background:url(https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.2/themes/smoothness/images/ui-anim_basic_16x16.gif) no-repeat right center
}
#dropdown_menu{
  min-width: 100px!important;
}
/* IE 6 doesn't support max-height
 * we use height instead, but this forces the menu to always be this tall
 */
* html .ui-autocomplete {
  height: 100px;
}
.ui-autocomplete-category {
  font-weight: bold;
  padding: .2em .4em;
  margin: .8em 0 .2em;
  line-height: 1.5;
}
.padd{
  margin-right: 5px !important;
  padding-bottom: 4px !important;
}
.daterangepicker.drp-calendar.right {
  padding-left: 0px !important;
}
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0;
}


/*============================*/
/*moving inline styles start*/
/*============================*/
.color-white{
    color: black;
}
.color-black{
    color:black;
}
.color-details{
    background-color: lightgray;
    color: black;
}
.float_right{
    float:right;
}
.display-none{
    display: none;
}
.width_max{
    width: 100%;
}
.width_97{
    width: 97%;
}
.margin_top_10px{
    margin-top: 10px;
}
.margin_top_15px{
    margin-top: 15px;
}
.margin_left_16px{
    margin-left: 16px;
}
.account_transfer_text{
    float: left;
    margin-right: 20px;
}
.padding_zero{
    padding: 0px;
}
.padding_left_40px{
    padding-left: 40px;
}
.border_style{
    border: 1px solid lightgray
}
.drop_down_button{
    background-color: transparent;
    color: black;
}
.align_center{
    text-align:center;
}
.padding_zero_imp{
    padding: 0px !important
}
.modal_header_style{
    text-align: center;
    background-color: #3a4651;
}
.modal_title_style{
    margin: auto;
    font-size: 22px;
}
.margin_top_2px{
    margin-top: 2px !important;
}
#from_wallet_error, #to_wallet_error{
    color: red;
}
.form_main_div_style{
    padding: 0px;
    margin-top:10px;
}
.email_transfer_style{
    border: 1px solid lightgrey;
    border-radius: 10px;
}
.close_modal_dialog{
    background: white;
    width: 600px !important;
    margin: 30px auto;
}
.card_main_div{
    padding: 20px;
    font-size: 17px;
}
.del_transfer_text{
    padding-left: 30px;
    font-size: 19px;
    padding-top: 10px;
}
.display-block{
    display: block;
}
.transfer-from{
    margin-bottom: 2%;
}
/*============================*/
/*moving inline styles end*/
/*============================*/
.pointer-none {
    pointer-events: none;
}
.red
{
    color: red;
    display: block !important;
}

.ui-autocomplete {
    position: relative;
}