
.font{
  font-size: 14px;
}
.bold {
  font-weight: 600;
}
#tx_id{
  position: absolute;
  top: -40px;
  /*background-color: gray;*/
  color: rgb(255, 255, 255);
  padding-top: 0px;
  padding-bottom: 22px;
  text-align: justify;
  font-size: 12px;
  padding-left: 10px !important;
  padding-right: 10px !important;
  display: block;
  z-index: 23;
  margin-left: -74px;
  width: 118%;
  height: 35%;
  /*background-color: rgba(214, 193, 193, 0.5);*/
  /* opacity: 1; */
  visibility: visible;
  transform: scale(1.1);
  transition: visibility 0s linear 0.25s, opacity 0.25s 0s, transform 0.25s;
}
.bg-primary{
  background-color: #424242 !important;
}
.modal-header {
  /*display: -ms-flexbox;*/
  /*display: flex;*/
  /*-ms-flex-align: start;*/
  /*align-items: flex-start;*/
  /*-ms-flex-pack: justify;*/
  /*justify-content: space-between;*/
  /*padding: 15px;*/
  /*border-bottom: 1px solid #e9ecef;*/
  /*!*border-top-left-radius: 0.3rem;*!*/
  /*!*border-top-right-radius: 0.3rem;*!*/
}
.modal-header .close {
  padding: 15px;
  margin: -15px -15px -15px auto;
}
#row_changes {
  position: relative;
  margin: 0px 15px 0px 15px;
  color: black;
}
#trans{
  padding-left: 14px;
}
.activity {
  text-align: center;
  background-color: #e3e3e3;
  padding: 10px;
  border-radius: 40px;
  margin-bottom: 5px;
}
.cdate {
  padding-top: 7px !important;
}

.font{
  font-size: 14px;
}
.bold {
  font-weight: 600;
}
#tx_id{
  position: absolute;
  top: -40px;
  /*background-color: gray;*/
  color: rgb(255, 255, 255);
  padding-top: 0px;
  padding-bottom: 22px;
  text-align: justify;
  font-size: 12px;
  padding-left: 10px !important;
  padding-right: 10px !important;
  display: block;
  z-index: 23;
  margin-left: -74px;
  width: 118%;
  height: 35%;
  /*background-color: rgba(214, 193, 193, 0.5);*/
  /* opacity: 1; */
  visibility: visible;
  transform: scale(1.1);
  transition: visibility 0s linear 0.25s, opacity 0.25s 0s, transform 0.25s;
}
.bg-primary{
  background-color: #424242 !important;
}
.modal-header .close {
  padding: 15px;
  margin: -15px -15px -15px auto;
}

#trans{
  padding-left: 14px;
}
.activity {
  text-align: center;
  background-color: #e3e3e3;
  padding: 10px;
  border-radius: 40px;
  margin-bottom: 5px;
}
.cdate {
  padding-top: 7px !important;
}
.dropdown-menu{
  left: -50%;
}
.dropdown-menu > li > a {
  background-color: whitesmoke;
  color: #000000 !important;
background-image: none;
}
.dropdown-menu > li > a:hover {
  background-color: #7867a7;
  background-image: none;
}
.users_tabs > li > a {
  border: none;
  outline: none;
  padding: 10px 16px;
  background-color: lightgrey;
  cursor: pointer;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.users_tabs > li > a:hover {
  background-color: #8171ae;
  color: white;
}
.users_tabs > li.active > a, .users_tabs > li.active > a:focus {
  background: #1c165c;
  color: white;
}

.blink {
  animation: blink-animation 1s steps(5, start) infinite;
  -webkit-animation: blink-animation 1s steps(5, start) infinite;
}

.ExpColUI{
    color: #0275d8!important;
}

@keyframes blink-animation {
  to {
    visibility: hidden;
  }
}

@-webkit-keyframes blink-animation {
  to {
    visibility: hidden;
  }
}

