.dataTables_wrapper .dataTables_processing {
  position: absolute;
  top: 30%;
  left: 50%;
  width: 30%;
  height: 40px;
  margin-left: -20%;
  margin-top: -25px;
  padding-top: 20px;
  text-align: center;
  font-size: 1.2em;
  background:none;
}
.edit_btn_user{width: 82%}
.red-color{color: red}
.iti-arrow{display: none !important;}
.greenbox_user-content{margin-left: 17%;margin-right: 17%}
.separate-dial-code{width: 100% !important}
.modal-footer{border-top: 0px !important;}
.padding-zero{padding: 0px !important;}
.margin-right-10px{margin-right: 10px}
.m-index-st-20{
    width: 60%;
    background-color:red;
    border-color:red;
}
.m-index-st-21{
    width: 60%;
    background-color:#77BA41 !important;
    border-color:#77BA41 !important;
}
.m-index-st-13{
    color: darkgray;
    text-align: center;
    display: block;
}
#table-overflow{
  overflow-x: inherit  !important;
}
#cover-spin {
  position:fixed;
  width:100%;
  left:0;right:0;top:0;bottom:0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index:9999;
  display:none;
}
@-webkit-keyframes spin {
  from {-webkit-transform:rotate(0deg);}
  to {-webkit-transform:rotate(360deg);}
}
@keyframes spin {
  from {transform:rotate(0deg);}
  to {transform:rotate(360deg);}
}
#cover-spin::after {
  content:'';
  display:block;
  position:absolute;
  left:48%;top:40%;
  width:40px;height:40px;
  border-style:solid;
  border-color:black;
  border-top-color:transparent;
  border-width: 4px;
  border-radius:50%;
  -webkit-animation: spin .8s linear infinite;
  animation: spin .8s linear infinite;
}
/*table{*/
/*  margin: 0 auto;*/
/*  width: 100%;*/
/*  clear: both;*/
/*  border-collapse: collapse;*/
/*  table-layout: fixed;*/
/*  word-wrap:break-word;*/
/*}*/
/*.dataTables_wrapper .dataTables_paginate {*/
/*  padding : 10px;*/
/*}*/
/*.dataTables_wrapper .dataTables_paginate .paginate_button {*/
/*  padding : 0px;*/
/*  margin-left: 0px;*/
/*  display: inline;*/
/*  border: 0px;*/
/*}*/
/*.dataTables_wrapper .dataTables_paginate .paginate_button:hover {*/
/*  border: 0px;*/
/*}*/
/*div.table-responsive>div.dataTables_wrapper>div.row{*/
/*  margin: 0;*/
/*  margin-top: 20px;*/
/*  margin-bottom: 20px;*/
/*}*/
.verify_status {
  padding: 2px !important;
  border-radius: 10%;
}
table{
  margin: 0;
  width: 100%!important;
  clear: both;
  border-collapse: collapse;
  table-layout: fixed;
  word-wrap:break-word;
}
.dataTables_wrapper .dataTables_paginate {
  padding : 10px;
}
.dataTables_wrapper .dataTables_paginate .paginate_button {
  padding : 0px;
  margin-left: 0px;
  display: inline;
  border: 0px;
}
.dataTables_wrapper .dataTables_processing {
  position: absolute;
  top: 30%;
  left: 50%;
  width: 30%;
  height: 40px;
  margin-left: -20%;
  margin-top: -25px;
  padding-top: 20px;
  text-align: center;
  font-size: 1.2em;
  background: yellow;
}
.dataTables_wrapper .dataTables_paginate .paginate_button:hover {
  border: 0px;
}
div.table-responsive>div.dataTables_wrapper>div.row{
  margin: 0;
  margin-top: 20px;
  margin-bottom: 20px;
}
.users_tabs > li > a {
  border: none;
  outline: none;
  padding: 10px 16px;
  background-color: lightgrey;
  cursor: pointer;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.users_tabs > li > a:hover {
  background-color: #8171ae;
  color: white;
}
.users_tabs > li.active > a, .users_tabs > li.active > a:focus {
  background: #1c165c;
  color: white;
}
@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px)
and (orientation: portrait)  {
  .dropdown-menu{
    left: -107px;
  }
}
.dropdown-menu > li > a {
  background-color: whitesmoke;
  color: #000000 !important;
background-image: none;
}
.dropdown-menu > li > a:hover {
  background-color: #7867a7;
  background-image: none;
}
.users_tabs > li{
  width: 132px;
}
.add-on .input-group-btn > .btn {
  border-left-width:0;left:-2px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}
/* stop the glowing blue shadow */
.add-on .search_input_field:focus , .add-on .search_input_field:hover {
  box-shadow:none;
  -webkit-box-shadow:none;
  border-color:#cccccc;
  border-right: 0px;
}
.add-on{
  margin-top: 10px;
}
#srch-term{
  width: 170px;
  font-family: FontAwesome;
}
.users_tabs > li > a {
  text-align: center;
}
.user_name{
    font-size: 20px;
    font-weight: 600;
    color:black;
}
.user_detail{
    font-size: 15px;
    font-weight: 600;
    color:black;
}
.btn-active{
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    margin: 8px 0px;
    padding: 3px 38px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid blue;
}
.btn-inactive{
    background-color:#fd0101ad;
}
.side_block{
    padding: 10px;
    height: 100px;
    background-color: #fdbe0e;
    box-shadow: 0px 0px 4px 1px rgba(0, 0, 0, .5);
}
.box_left_number{
    font-size: 37px;
    font-weight: 600;
    float: left;
    margin:10px;
}
.box_right_symbol{
    float: right;
    color: white;
    opacity: 0.5;
    font-size: 50px;
}
.custom_program{
    float: right;
    width: 100%;
    border-radius: 20px;
}
.custom_program_bar{
    background-color: #c3792d;
}
.green_box{
    border:1px solid green; border-radius: 10px; padding:15px 0px; margin:0px 0px 0px 20px;width: 28.7%;
}
.box_text_data{
    font-size: 20px; color: black;margin: 0px;
}
.green_box_base_line{
    width: 88%;height: 1px;background-color: green;margin:0px 17px;
}
.blue_box{
    border:1px solid blue; border-radius: 10px; padding:15px 0px; margin:0px 0px 0px 20px;width: 28.7%;
}
.blue_box_base_line{
    width: 88%;height: 1px;background-color: blue;margin:0px 17px;
}
.red_box{
    border:1px solid red; border-radius: 10px; padding:15px 0px; margin:0px 0px 0px 20px;width: 28.7%;
}
.red_box_base_line{
    width: 88%;height: 1px;background-color: red;margin:0px 17px;
}
.distinct > li {
  font-size: 15px;font-weight: 700;
}
.distinct > li > a, .distinct > li > a:hover, .distinct > li > a:focus{
  border:0px;padding-bottom: 6px;background-color: transparent;color: black;
}
.distinct > li.active > a, .distinct > li.active > a:hover, .distinct > li.active > a:focus{
  border:0px;border-bottom: 1px solid blue;padding-bottom: 6px;color: black;
}
.main_information_form{
    padding: 0px 32px;
}
.label-yellow{
    background-color: #f9be0d;
}
.device_logo{
    padding:8px 0px;
}
.menu_carded{
    padding: 20px 0px 10px 0px;
}
.progress {
    position: relative;
}

.progress span {
    position: absolute;
    display: block;
    width: 100%;
    color: black;
}
.ms-choice{
    border: 0 !important;
    outline: none !important;
}

.ms-drop input[type="checkbox"]{
    margin-top: -1px;
    margin-right: 15px;
}
/*.users_tabs > li{*/
/*  width: 132px;*/
/*}*/
/*#srch-term{*/
/*    margin-top: 30px;*/
/*    width: 220px;*/
/*    font-family: FontAwesome;*/
/*}*/
.users_tabs > li > a {
    border: none;
    outline: none;
    padding: 10px 16px;
    background-color: lightgrey;
    cursor: pointer;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.users_tabs > li > a:hover {
    background-color: #8171ae;
    color: white;
}
.users_tabs > li.active > a, .users_tabs > li.active > a:focus {
    background: #1c165c;
    color: white;
}
@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px)
and (orientation: portrait)  {
    .dropdown-menu{
        left: -107px;
    }
}
.dropdown-menu > li > a {
    background-color: whitesmoke;
    color: #000000 !important;
    background-image: none;
}
.dropdown-menu > li > a:hover {
    background-color: #7867a7;
    background-image: none;
}
#row_changes {
    position: relative;
    margin: 0px 15px 0px 15px;
    color: black;
}
.btn-information_submit{
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 3px 38px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid blue;
    float: right;
    font-weight: 600;
}


/*============================*/
/*moving inline styles start*/
/*============================*/



.dropdown-style{
    color: darkgray;
    text-align: center;
    display: block;
}
.no-wallet{
    display: block;
    text-align: center;
    line-height: 25px
}
.white-background{
    background: white;
}
.text-align-center{
    text-align: center;
}
.margin_16px{
    margin-left: 16px;
}
.margin-bottom-1px-imp{
    margin-bottom: 1px !important;
}
.margin-top-10px{
    margin-top: 10px;
}
.margin-top-15px{
    margin-top: 15px;
}
.top-30px{
    top: 30px;
}
.margin-top-30px{
    margin-top: 30px
}
 .width-max{
     width: 100%;
 }
 .width-185px{
     width: 185px !important;
 }
 .margin-18px{
     margin-left: 18%;
     margin-right: 18%
 }
 .zero-padding-retire-balance{
     padding: 0px !important;
 }
 .padding-left-zero{
     padding-left: 0px !important;
 }
 .float-left{
     float: left;
 }
 .active-style{
     font-weight: bold;
     font-size: 20px;
     text-align: center;
 }
 .user-tabs-style{
     font-weight: bold;
     font-size: 20px;
 }
 .border-archived-users{
     border: 1px solid lightgray;
 }
 .retire-all{
     margin-top: 5px;
     margin-bottom: 20px
 }
 .zero-padding-display-none{
     padding: 0px;
     display: none;
 }
 .display-none{
     display:none;
 }
 .phone-number-verification-retire-balance{
     border: 1px solid lightgrey;
     border-radius: 10px;
 }
 .archived-user-show{
     float: left;
     padding-top: 7px;
     padding-right: 5px;
 }
 .archived-user-entries{
     float: left;
     padding-top: 7px;
     padding-left: 5px;
 }
 .archive-user-advance{
     height: 34px;
     border-left: 0px;
     color:grey;
     padding-top: 10px;
     font-size: 11px;
 }
 .pagination_margin{
     margin: -15px 20px 20px 0px;
 }
/*============================*/
/*moving inline styles end*/
/*============================*/

.C-B{
    border: 1px solid lightgray;
    border-radius: 10px;
}

.pad15{
    padding: 15px;
}

.disflex {
    display: flex;
    justify-content: space-around;
}
.padding_zero
{
    padding: 0px;
}
.email_transfer_style{
    border: 1px solid lightgrey;
    border-radius: 10px;
}
.margin_top_10px{
    margin-top: 10px;
}
.width_max{
    width: 100%;
}
.align_center {
    text-align: center;
}
#amount_limit_error
{
    color: red;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
.ms-parent{
    height: 35px;
}
.black-color{
    color:black!important;
}
.custom_width{
    width: 57%;
    background-color: white!important;
    height: 100%;
    min-height: 65px;
}
.bg-white
{
    background-color: white;
}
#balanceField_id:-webkit-autofill , #balanceField_id:focus:-webkit-autofill
{
    -webkit-box-shadow: 0 0 0px 1000px white inset;
}
.daterangepicker.ltr.show-calendar.opensright{
    width: max-content !important;
}


