<div class="modal fade" id="add_tracker" tabindex="-1" role="dialog" aria-labelledby="modal-label-69" aria-hidden="true">
  <div class="modal-dialog add_dialog">
    <div class="modal-content modal_content_tracker">
      <div class="modal-header t_header">
        <h6 id="modal-label-69" class="header_heading pull-left">Tracker code</h6>
        <button type="button" class="pull-right close" data-dismiss="modal" aria-hidden="true">&times;</button>
      </div>
      <% if @tracker.tracker_code.present? || @tracker.tracking_transaction.minfraud_result.try(:qc_action) == TypesEnumLib::RiskType::PendingReview  || @tracker.cancel? %>
        <div class="card tracker_set">
          <div class="col-md-8">
            <div class="form-group">
              <% if @tracker.tracking_transaction.minfraud_result.try(:qc_action) == TypesEnumLib::RiskType::PendingReview  %>
                <label class="control-label margin_top_10px text-danger"><span><%= I18n.t('maxmind.do_manual_review') %></span></label>
              <% elsif @tracker.cancel? %>
                <label class="control-label margin_top_10px text-danger"><span><%= I18n.t('maxmind.canceled_order') %></span></label>
              <% elsif @tracker.failure? %>
                <label class="control-label margin_top_10px text-danger"><span><%= I18n.t('maxmind.failed_order') %></span></label>
              <% else %>
                <label class="control-label margin_top_10px"><span>Tracker code</span></label>
              <% end %>
              <input type="text" name="track_cod"  id="track_code" readonly class="form-control" value="<%= @tracker.tracker_code %>"/>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary btn-sm pull-left" data-dismiss="modal">Close</button>
        </div>
      <% else %>
        <%= form_tag(set_tracker_orders_path(tracker_id: @tracker.id,wallet_id: params[:wallet_id]), method: :post, class:"", data:{confirm: "Are you sure ?"}) do %>
          <div class="modal-body">
            <div class="row">
              <div class="col-md-12">
                <div class="card">
                  <div class="col-md-8">
                    <div class="form-group">
                      <label class="control-label margin_top_10px"><span>Enter Tracker code</span></label>
                      <input type="text" name="track_cod"  id="track_code" class="form-control" placeholder="EZ4000000004"  value="<%# params[:query].present? ? params[:query]["name"] : "" %>"/>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <input type="submit" class="btn btn-success btn-sm sbmt_tracker" value="Submit">
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
</div>