<div class="row margin-10">
  <% t.audits.each do |audit| %>
    <%user_info = audit.user_id.present? ? get_user_info(audit.user) : nil %>
    <div class="row">
      <div class="col-md-6">
        <span><b>Activity Time:</b></span>
        <span class="modaltime"> <%= audit.created_at %></span>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <span><b>Name:</b></span>
        <span> <%= user_info.present? ? user_info[:name] : "--" %></span>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <span><b>User Email:</b></span>
        <span> <%= user_info.present? ? user_info[:email] : "--" %></span>
      </div>
    </div>
  <%end %>
</div>
