<div class="row margin-10">
    <div class="row">
      <div class="col-md-6">
        <span><b>Ship Date:</b></span>
        <% if tracker.shipment_date.present? %>
        <span class="modaltime">
          <%= tracker.shipment_date %>
        </span>
        <% else %>
        <span> -- </span>
        <% end %>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <span><b>Delivery Date:</b></span>
        <% if tracker.delivered_date.present? %>
          <span class="modaltime"> <%= tracker.delivered_date %></span>
        <% else %>
        <span> -- </span>
        <% end %>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <span><b>Courier:</b></span>
        <span> <%= tracker.carrier %></span>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <span><b>Shipping Address:</b></span>
        <span>
          <%if t.shipping_address.present? %>
            <%= "#{t.shipping_address.try(:street)}, #{t.shipping_address.try(:city)}, #{t.shipping_address.try(:state)} #{t.shipping_address.try(:zip)} #{t.shipping_address.try(:country)}" %>
          <% else %>
            "--"
          <% end %>
        </span>
      </div>
    </div>
</div>
