<%= stylesheet_link_tag asset_path("admins/transactions/local_transactions_style"), media: 'all', 'data-turbolinks-track' => 'reload' %>

<div id="modal_id" class="modal fade right modal_main" role="dialog" >
  <div class="modal-dialog width_50_percent">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header text-left bg-primary text-white">
        <div class="row">
          <div class="col-md-6 col-xs-12">
            <h4 class="modal-title capitalize text-left float-left">
              <!--          <i class="fa fa-money"></i>-->
              <span class="ml-2">Transaction Details</span></h4>
          </div>
          <div class="col-md-6 col-xs-12">
            <h4 class="modal-title float-right">Total Amount: <%= t.tags["type"].present? && t.tags["type"]=='manual_retire'? '-' :'' %><%= number_to_currency(number_with_precision(SequenceLib.dollars(t.amount_in_cents), precision: 2)) %></h4>
          </div>
        </div>
      </div>
      <div class="modal-body padding_zero_imp" id="row_changes">
        <div class="row transaction_main_type">
          <div class="col-xs-12 col-lg-12 height_42_zero_padding">
            <div class="col-sm-6 col-lg-6 transaction_main_type_text">
              <%= show_local_type(t) %>
            </div>

            <div class="col-sm-6 col-lg-6 padding_right_zero">
              <% if t.tags["previous_issue"].present? %>
                  <% if t.tags["previous_issue"]["transaction_id"].present? || t.tags["previous_issue"]["fluid_transaction_id"].present? %>
                      <% if t.sub_type.present? && t.sub_type == "sale_issue" || t.sub_type == "sale_issue_api" || t.sub_type == "tip_vt_transaction_&_debit" || t.sub_type == "debit_charge" %>
                      <% elsif t.sub_type.nil? %>
                      <% else %>
                          <% if t.status=="refunded"%>
                              <button type="button" class="btn btn-sm btn-success refund_button_disable" disabled>Refunded</button>
                          <% else %>
                              <a data-toggle="modal" data-transaction="<%= @trx.to_json %>" class="refundModalDialog refund_button" href="#refundModalDialog"><button type="button" class="btn btn-sm refund_button_text" id="refund">Refund</button></a>
                          <% end %>
                      <% end %>
                  <% end %>
              <% elsif t.tags["type"].present? %>
                  <% if t.tags["type"] == "sale" %>
                      <% if t.sub_type.present? %>
                          <% if t.sub_type == "sale_issue" || t.sub_type == "sale_issue_api" || t.sub_type == "tip_vt_transaction_&_debit" || t.sub_type == "debit_charge" %>
                          <% else %>
                              <% if refund_status_check(t.id, t.tags.try(:[],'refund_details').try(:[],'parent_transaction_id') )%>
                                  <button type="button" class="btn btn-sm btn-success refund_button_disable" disabled>Refunded</button>
                              <% else %>
                                  <a data-toggle="modal" data-transaction="<%= @trx.to_json %>" class="refundModalDialog refund_button" href="#refundModalDialog"><button type="button" id="refund" class="btn btn-sm refund_button_text">Refund</button></a>
                              <% end %>
                          <% end %>
                      <% end %>
                  <% end %>
              <% end %>
              <%# if t.main_type.downcase == "sale" && t.tags.try(:[],'type').downcase != "sale"%>
              <%#= link_to "Dispute", dispute_case_admins_disputes_path(transaction: t.id,requested_path:"admin_transactions"),remote: true, class: "btn pull-right lg-pad dispute_button", id: "dispute_btn"%>
              <%# end %>
              <% if @trx.present? %>
                  <% if t.tags["type"] == "sale" && t.main_type != "Sale Issue" %>
                      <%= link_to "Dispute", dispute_case_admins_disputes_path(transaction: @trx.id,main_transaction_id:@seq_id,requested_path:"admin_transactions"),remote: true, class: "btn pull-right lg-pad dispute_button",onclick: "$('#cover-spin').show(0)", id: "dispute_btn"%>
                  <% end %>
              <% end %>
            </div>
          </div>
        </div>
        <!--headers end-->
        <% if t.main_type=='cbk_hold' || t.main_type=='cbk_won' || t.main_type=='retrievel_fee' || t.main_type=='cbk_lost' || t.main_type=='CBK Lost Retire' || t.main_type=='cbk_fee'  %>
            <% @dispute_trans =DisputeCase.includes(:charge_transaction).find_by(case_number: t.tags.try(:[],"dispute_case").try(:[],"case_number")) %>
            <% @main_transaction = @dispute_trans.charge_transaction %>
            <% wallet = Wallet.find_by(id: @dispute_trans.try(:charge_transaction).try(:receiver_wallet_id)) if @dispute_trans.try(:charge_transaction).present? %>
            <% location = Location.find_by(id: wallet.location_id) if wallet.present? && wallet.location_id.present? %>
            <% @cbk_fee = location.try(:fees).try(:buy_rate).try(:first).try(:charge_back_fee) if location.present? %>
        <% else %>
            <% @dispute_trans =nil %>
        <% end %>
        <div class="card border_shodow_none">
          <div class="card-body transaction_card_body">

            <% #= for ACH Deposit -> Send Check -> Void Check -> Giftcard Purchase -> Bulk Check %>
            <% if t.main_type=='ACH Deposit' || t.main_type=='Send Check' || t.main_type=='Void Check' || t.main_type=='ACH' || t.main_type=='Giftcard Purchase' || t.main_type == "Bulk Check"    %>
                <div class="row transaction_details_box">
                  <span class="fee_span_text" id="trans"> Transaction Information</span>
                  <br>
                  <%= render partial: 'admins/detail_partials/local_transaction_info', locals: { t: t, dispute: @dispute_trans } %>
                </div> Transaction Information
                <div class="row transaction_details_box">
                  <span class="fee_span_text" id="trans"> Merchant Information</span>
                  <br>
                  <%= render partial: 'admins/detail_partials/local_merchant_info', locals: { t: t } %>
                </div>

                <div class="row transaction_details_box">
                  <span class="fee_span_text" id="trans"> FEES</span>
                  <br>
                  <%= render partial: 'admins/detail_partials/local_fee_details', locals: { t: t } %>
                </div>

            <% elsif t.main_type=='Virtual Terminal' || t.tags["type"]=='sale'%>
                <div class="row transaction_details_box">
                  <div class="form-group col-md-6">
                    <span class="fee_span_text">Customer Information</span>
                    <br>
                    <%= render partial: 'admins/detail_partials/local_customer_info', locals: { t: t } %>
                  </div>
                  <div class="form-group col-md-6">
                    <div class="margin_top_5px">
                      <span class="fee_span_text">Credit Card Information</span>
                      <br>
                    </div>
                    <%= render partial: 'admins/detail_partials/local_credit_card_info', locals: { t: t, dispute: @dispute_trans } %>
                  </div>
                </div>

                <div class="row transaction_details_box">
                  <span class="fee_span_text" id="trans">Transaction Details</span>
                  <br>
                  <%= render partial: 'admins/detail_partials/local_transaction_info',locals: { t: t, dispute: @dispute_trans } %>
                </div>
                <div class="row transaction_details_box">
                  <span class="fee_span_text" id="trans">FEES</span>
                  <br>
                  <%= render partial: 'admins/detail_partials/local_fee_details', locals: { t: t } %>
                </div>

                <% if t.main_type != "Sale Issue"%>
                    <!-- removing merchant detail for sale issue -->
                    <div class="row transaction_details_box">
                      <span class="fee_span_text" id="trans">Merchant Details</span>
                      <br>
                      <%= render partial: 'admins/detail_partials/local_merchant_info', locals: { t: t } %>
                    </div>
                <% end %>
              <%elsif t.tags["type"]=='refund' || t.tags["type"]=='refund_bank'  %>
              <div class="row transaction_details_box">
                <div class="form-group col-md-6">
                  <span class="fee_span_text">Customer Information</span>
                  <br>
                  <%= render partial: 'admins/detail_partials/local_customer_info', locals: { t: t } %>
                </div>
                <div class="form-group col-md-6">
                  <div class="margin_top_5px">
                    <span class="fee_span_text">Credit Card Information</span>
                    <br>
                  </div>
                  <%= render partial: 'admins/detail_partials/local_credit_card_info', locals: { t: t, dispute: @dispute_trans } %>
                </div>
              </div>

              <div class="row transaction_details_box">
                <span class="fee_span_text" id="trans">Transaction Details</span>
                <br>
                <%= render partial: 'admins/detail_partials/local_transaction_info',locals: { t: t, dispute: @dispute_trans } %>
              </div>
              <div class="row transaction_details_box">
                <span class="fee_span_text" id="trans">FEES</span>
                <br>
                <%= render partial: 'admins/detail_partials/local_fee_details', locals: { t: t } %>
              </div>

              <% if t.tags["type"]!='refund_bank'%>
                <div class="row transaction_details_box">
                  <span class="fee_span_text" id="trans">Merchant Details</span>
                  <br>
                  <%= render partial: 'admins/detail_partials/local_merchant_info', locals: { t: t } %>
                </div>
              <% end %>

            <% #= For CBK  %>
            <% elsif t.main_type=='cbk_hold' || t.main_type=='cbk_won' || t.main_type=='retrievel_fee' || t.main_type=='cbk_lost' || t.main_type=='CBK Lost Retire' || t.main_type=='cbk_fee'  %>
                <div class="row transaction_details_box">
                  <div class="form-group col-md-6">
                    <%= render partial: 'admins/detail_partials/local_dispute_info', locals: {t: t, dispute: @dispute_trans}  %>
                  </div>
                  <div class="form-group col-md-6">
                    <div class="margin_top_5px">
                      <span class="fee_span_text">Credit Card Information</span>
                      <br>
                    </div>
                    <%= render partial: 'admins/detail_partials/local_credit_card_info', locals: { t: t, dispute: @dispute_trans } %>
                  </div>
                </div>

                <div class="row transaction_details_box">
                  <span class="fee_span_text" id="trans">Transaction Details</span>
                  <br>
                  <%= render partial: 'admins/detail_partials/local_transaction_info', locals: { t: t, dispute: @dispute_trans } %>
                </div>
                <div class="row transaction_details_box">
                  <%= render partial: 'admins/detail_partials/local_merchant_and_customer', locals: { t: t, dispute: @dispute_trans } %>
                </div>

          <% #= B2B Transfer  %>
          <% elsif t.main_type=='B2B Transfer' || t.tags["type"]=='b2b_transfer' %>
                <div class="row transaction_details_box">
                  <div class="form-group col-md-6">
                    <span class="fee_span_text">Merchant Information - Sender</span>
                    <br>
                    <%= render partial: 'admins/detail_partials/local_customer_info', locals: { t: t } %>
                  </div>
                  <div class="form-group col-md-6">
                    <%= render partial: 'admins/detail_partials/local_reciever_merchant', locals: { t: t } %>
                  </div>
                </div>
                <div class="row transaction_details_box">
                  <span class="fee_span_text">Transaction Details</span>
                  <br>
                  <%= render partial: 'admins/detail_partials/local_transaction_info',locals: { t: t, dispute: @dispute_trans } %>
                </div>
                <div class="row transaction_details_box">
                  <span class="fee_span_text" id="trans">FEES</span>
                  <br>
                  <%= render partial: 'admins/detail_partials/local_fee_details', locals: { t: t } %>
                </div>
            <% end %>

            <% if (@type.present? and not @type.nil? and @type == 'approve_request') || t.tags["refund_details"].present? || @events.present? || (@activity.present? and not @activity.nil?) || (@trx.present? && @trx.refund_log.present?) || t.main_type=='Payed Tip' || t.main_type=='cbk_hold' || t.main_type=='cbk_won' || t.main_type=='retrievel_fee' || t.main_type=='cbk_lost' || t.main_type=='CBK Lost Retire' || t.main_type=='cbk_fee' || t.main_type=='B2B Transfer' %>
                <% if t.main_type=='cbk_hold' || t.main_type=='cbk_won' || t.main_type=='retrievel_fee' || t.main_type=='cbk_lost' || t.main_type=='CBK Lost Retire' || t.main_type=='cbk_fee'  %>
                    <div class="row" id="no-error" >
                    <div class="col-xs-12 col-lg-12 transaction_details_error_5x">
                <% else %>
                    <div class="row" id="no-error" >
                    <div class="col-xs-12 col-lg-12 transaction_details_error_10x">
                <% end %>
                <div class="row">
                  <% if (@type.present? and not @type.nil? and @type == 'approve_request') || t.tags["refund_details"].present? || @events.present? || (@activity.present? and not @activity.nil?) || (@trx.present? && @trx.refund_log.present?) || t.main_type=='Payed Tip' || t.main_type=='cbk_hold' || t.main_type=='cbk_won' || t.main_type=='retrievel_fee' || t.main_type=='cbk_lost' || t.main_type=='CBK Lost Retire' || t.main_type=='cbk_fee' || t.main_type=='B2B Transfer' %>
                      <span class="activity_log_text"> Activity Log</span>
                  <% end %>
                  <% if @type.present? and not @type.nil? and @type == 'approve_request' %>
                      <div class="row">
                        <div class="col-lg-12">
                          <div class="col-lg-4">
                            <span class="modalTime cdate float-left"><%=@timestamp.nil? ? 'N/A' : @timestamp %></span>
                          </div>
                          <div class="col-lg-7">
                            <div class="activity"><%=@merchant.nil? ? 'N/A' : @merchant %> $ <%=@amount.nil? ? 'N/A' : @amount %> Amount Desposited
                            </div>
                          </div>
                        </div>
                      </div>
                  <% end %>

                <% if t.tags["refund_details"].present? %>
                  <div class="row">
                    <div class="col-lg-12">
                      <% if t.tags["type"] == "refund" %>
                        <% if t.receiver.blank? %>
                          <div class="col-lg-4">
                            <span class="modalTime cdate float-left"><%= t.timestamp  %></span>
                          </div>
                          <div class="col-lg-7"><div class="activity"><%= t.sender.nil? ? " " : t.sender.name %>  made a transaction of <%= @list.nil? ? number_with_precision(@amount, precision: 2) : number_with_precision(@list["previous_issue"]["issue_amount"], precision: 2)%>

                                  </div>
                                  </div>
                              <% else %>
                                  <div class="col-lg-4">
                                    <span class="modalTime cdate float-left"><%= t.timestamp  %></span>
                                  </div>
                                  <div class="col-lg-7">
                                    <div class="activity">
                                      <%= t.receiver.nil? ? " " : t.receiver.name %> made a transaction of $<%= @list.nil? ? number_with_precision(@amount, precision: 2) : number_with_precision(@list["previous_issue"]["issue_amount"], precision: 2)%>
                                    </div>
                                  </div>

                                  <div class="col-lg-4">
                                    <span class="modalTime cdate float-left"><%= t.timestamp  %></span>
                                  </div>
                                  <div class="col-lg-7">
                                    <div class="activity">  $<%= t.amount %> was refunded back to <%= t.receiver.nil? ? " " : t.receiver.name %>
                                    </div>
                                  </div>

                              <% end %>
                              </div>
                          <% elsif t.tags["type"] == "refund_bank" %>
                              <div class="col-lg-12" >
                                <div class="row">
                                  <div class="col-lg-12">
                                    <div class="col-lg-4"><span class="modalTime float-left"><%= t.created_at  %></span>
                                    </div>
                                    <div class="col-lg-7">
                                      <div class="activity"><%= t.sender.nil? ? " " : t.sender.name %> made a transaction of $<%= !t.tags.nil? ? number_with_precision(@amount, precision: 2) : number_with_precision(t.tags["previous_issue"].try(:[],"issue_amount"), precision: 2) %>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                                <div class="row">
                                  <div class="col-lg-12">
                                    <div class="col-lg-4">
                                      <span class="modalTime float-left"><%= t.timestamp  %></span>
                                    </div>
                                    <div class="col-lg-7">
                                      <div class="activity">$<%= number_with_precision(t.amount,precision: 2) %> was refunded back to <%= t.sender.nil? ? " " : t.sender.name %>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                          <% end %>
                          </div>
                  <% end %>
                  <% if @events.present? %>
                      <div class="row">
                        <div class="col-lg-12">
                          <div class="row">
                            <% @events.try(:each) do |event| %>
                                <div class="col-lg-12">
                                  <div class="row">
                                    <div class="col-lg-4">
                                      <span class="modalTime cdate float-left"><%= event.try(:created_at) %></span>
                                    </div>
                                    <div class="col-lg-7">

                                      <div class="activity">  <%= event.try(:message) %>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                            <% end %>
                          </div>
                        </div>
                      </div>

                  <% end %>
                  <% if (@activity.present? and not @activity.nil?) || (@trx.present? && @trx.refund_log.present?) %>
                      <% if @activity.present? %>
                          <div class="row">
                            <div class="col-lg-12">
                              <% if t.tags.try(:[],'api_type') == "credit" || @type == "Sale Issue" %>
                                  <div class="row">
                                    <div class="col-lg-4">
                                      <span class="modalTime cdate float-left"><%= t.created_at  %></span>
                                    </div>
                                    <% destination = User.find_by(id: t.receiver_id) %>
                                    <div class="col-lg-7" ><div class="activity"><%= destination.nil? ? "" : destination.try(:name) %> made a transaction of $<%= @amount %></div></div>
                                  </div>
                              <% else %>
                                  <div class="row">
                                    <div class="col-lg-4">
                                      <span class="modalTime cdate" ><%= t.created_at  %></span>
                                    </div>
                                    <div class="col-lg-7" >
                                      <% source = User.find_by(id: t.sender_id) %>
                                      <div class="activity"><%= source.nil? ? "" : source.try(:name) %> made a transaction of $<%= @amount %>
                                      </div>
                                    </div>
                                  </div>
                              <% end %>
                            </div>
                          </div>
                      <% end %>
                      <% if @trx.present? && @trx.refund_log.present? %>
                          <div class="row">
                            <% refund_detail = JSON.parse(@trx.refund_log) %>
                            <% amount = 0 %>
                            <% if refund_detail.kind_of?(Array) %>
                                <% refund_detail.each do |refund| %>
                                    <div class="col-lg-12">
                                      <% if amount > 0 %>
                                          <div class="row">
                                            <div class="col-lg-4">
                                              <span class="modalTime cdate"><%= DateTime.parse(refund["date"]).strftime("%Y-%m-%d %H:%M:%S") %> </span>
                                            </div>
                                            <div class="col-lg-7">
                                              <div class="activity"><%= number_to_currency(number_with_precision((refund["amount"]), precision: 2))  %> has been refunded
                                              </div>
                                            </div>
                                          </div>
                                      <% else %>
                                          <div class="row">
                                            <div class="col-lg-4">
                                              <span class="modalTime cdate"><%= DateTime.parse(refund["date"]).strftime("%Y-%m-%d %H:%M:%S") %></span>
                                            </div>
                                            <div class="col-lg-7">
                                              <div class="activity"> <%= number_to_currency(number_with_precision((refund["amount"]), precision: 2)) %> has been refunded
                                              </div>
                                            </div>
                                          </div>
                                      <% end %>
                                    </div>
                                    <% amount = refund["amount"] %>
                                <% end %>
                            <% else %>
                                <div class="col-lg-12" >
                                  <div class="row">
                                    <div class="col-lg-4">
                                      <span class="modalTime cdate"><%= DateTime.parse(refund_detail["date"]).strftime("%Y-%m-%d %H:%M:%S") %> </span>
                                    </div>
                                    <div class="col-lg-7" >
                                      <div class="activity">
                                        <%= number_to_currency(number_with_precision((refund_detail["amount"]), precision: 2))  %> has been refunded
                                      </div>
                                    </div>
                                  </div>
                                </div>
                            <% end %>
                          </div>
                      <% end %>
                  <% end %>
                </div>
                <% if t[:type]=='Payed Tip' %>
                    <div class="row">
                      <div class="col-lg-12">
                        <div class="col-lg-4">
                          <span class="modalTime cdate float_left_padding_left_zero"><%= t.timestamp %></span>
                        </div>
                        <div class="col-lg-7">
                          <div class="activity"><%= t.sender.name %> (<%= t.sender.ref_no %>) paid tip to <%= t.receiver.name %> (<%= t.receiver.ref_no %>)
                          </div>
                        </div>
                      </div>
                    </div>
                <% elsif t.main_type=='cbk_hold' || t.main_type=='cbk_won' || t.main_type=='cbk_lost' || t.main_type=='CBK Lost Retire' %>
                    <div class="row">
                      <% if t.main_type=='cbk_lost' %>
                          <div class="col-lg-12">
                            <div class="col-lg-4">
                              <span class="modalTime cdate float_left_padding_left_zero"><%= t.created_at %></span>
                            </div>
                            <div class="col-lg-7">
                              <div class="activity">CBK Wallet paid <%= number_to_currency(number_with_precision(t.amount, precision: 2)) %> to Wallet 2</div>
                            </div>
                          </div>
                      <% elsif t.main_type=='cbk_lost' || t.main_type=='CBK Lost Retire' %>
                          <div class="col-lg-12">
                            <div class="col-lg-4">
                              <span class="modalTime cdate float_left_padding_left_zero"><%= t.created_at %></span>
                            </div>
                            <div class="col-lg-7">
                              <div class="activity">Wallet 2 retired <%= number_to_currency(number_with_precision(t.amount, precision: 2)) %></div>
                            </div>
                          </div>
                      <% end %>
                      <% unless t.main_type=='CBK Lost Retire'%>
                          <div class="col-lg-12">
                            <div class="col-lg-4">
                              <span class="modalTimeUtc cdate float_left_padding_left_zero"><%= t.created_at %></span>
                            </div>
                            <div class="col-lg-7">
                              <% if t.main_type=='cbk_hold' || t.main_type=='cbk_won' || t.main_type=='cbk_lost' %>
                                  <div class="activity"><%= @main_transaction.try(:receiver).try(:name).try(:titleize) %> (<%= @main_transaction.try(:receiver).try(:ref_no) %>) paid <%= number_to_currency(number_with_precision(t.amount, precision: 2)) %> to CBK Wallet</div>
                              <% end %>
                            </div>
                          </div>
                          <div class="col-md-12">
                            <div class="col-lg-4">
                              <span class="modalTimeUtc cdate float_left_padding_left_zero"><%= t.created_at %></span>
                            </div>
                            <div class="col-lg-7">
                              <% if t.main_type=='cbk_hold' ||  t.main_type=='cbk_won' ||  t.main_type=='cbk_lost' %>
                                  <div class="activity"><%= @main_transaction.try(:receiver).try(:name).try(:titleize) %> (<%= @main_transaction.try(:receiver).try(:ref_no) %>) paid <%= number_to_currency(number_with_precision(@cbk_fee, precision: 2)) %> Chargeback Fee to Wallet 3</div>
                              <% end %>
                            </div>
                          </div>
                      <% end %>
                      <% if t.main_type=='cbk_won' %>
                          <div class="col-md-12">
                            <div class="col-lg-4">
                              <span class="modalTimeUtc cdate float_left_padding_left_zero"><%= t.created_at %></span>
                            </div>
                            <div class="col-lg-7">
                              <div class="activity">CBK Wallet paid <%= number_to_currency(number_with_precision(t.amount, precision: 2)) %> to <%= @main_transaction.try(:receiver).try(:name).try(:titleize) %> (<%= @main_transaction.try(:receiver).try(:ref_no) %>)
                              </div>
                            </div>
                          </div>
                      <% end %>
                <% elsif t.main_type=='cbk_fee' %>
                    <div class="col-md-12">
                      <div class="col-lg-4">
                        <span class="modalTimeUtc cdate float_left_padding_left_zero"><%= t.created_at %></span>
                      </div>
                      <div class="col-lg-7">
                        <div class="activity"><%= @main_transaction.try(:receiver).try(:name).try(:titleize) %> (<%= @main_transaction.try(:receiver).try(:ref_no) %>) paid <%= number_to_currency(number_with_precision(@cbk_fee, precision: 2)) %> Chargeback Fee to Wallet 3</div>
                      </div>
                    </div>
                    <div class="col-md-12">
                      <div class="col-lg-4">
                        <span class="modalTimeUtc cdate float_left_padding_left_zero"><%= t.created_at %></span>
                      </div>
                      <div class="col-lg-7">
                        <% iso_info =  t.tags.try(:[],"fee_perc").try(:[],"iso") %>
                        <div class="activity">Wallet 3 paid <%= number_to_currency(number_with_precision(iso_info.try(:[],"amount")), precision: 2) %> to <%= iso_info.try(:[],"name").blank? ? "ISO" : iso_info.try(:[],"name")  %></div>
                      </div>
                    </div>
                    <div class="col-md-12">
                      <div class="col-lg-4">
                        <span class="modalTimeUtc cdate float_left_padding_left_zero"><%= t.created_at %></span>
                      </div>
                      <div class="col-lg-7">
                        <% gbox_info =  t.tags.try(:[],"fee_perc").try(:[],"gbox") %>
                        <div class="activity">Wallet 3 paid <%= number_to_currency(number_with_precision(gbox_info.try(:[],"amount"), precision: 2)) %> to Wallet 2</div>
                      </div>
                    </div>
                <% elsif t.tags["type"]=='b2b_transfer' %>
                    <div class="col-md-12 padding_left_zero">
                      <div class="col-lg-4">
                        <span class="modalTime cdate float_left_padding_left_zero"><%= t.timestamp %></span>
                      </div>
                      <div class="col-lg-7">
                        <div class="activity width_363px"><%= t.try(:sender).name.titleize %> Transferred <%= number_to_currency(number_with_precision(t.amount, precision: 2)) %> to <%= t.try(:receiver).name.titleize %>
                        </div>
                      </div>
                    </div>
                <% end %>
                </div>
                </div>
                </div>
                </div>
            <% end %>
            </div>
          </div>
          </div>
        </div>
      </div>
    </div>
  </div>

