<%= stylesheet_link_tag asset_path("admins/transactions/local_transactions_style"), media: 'all', 'data-turbolinks-track' => 'reload' %>


<div class="title-block">
  <h1 class="title text-capitalize">All ACH Transactions</h1>
</div>
<section class="section">
    <div class="row">
      <div class="col-md-12">
        <div class="card sameheight-item items" data-exclude="xs,sm,lg">
          <div class="card-header bordered">
            <div class="header-block">
              <h3 class="title text-capitalize">All ACH Transactions</h3>
            </div>
          </div>
          <section class="example">
            <div class="">
              <div class="table-responsive">
                <table id="transactions-datatable" class="table table-striped table-bordered table-hover" cellspacing="0" cellpadding="0">
                  <thead>
                  <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Status</th>
                    <th>Card #</th>
                    <th>Card Type</th>
                    <th>Approval Code</th>
                    <th>Amount</th>
                    <th>Time</th>
                  </tr>
                  </thead>
                  <tbody>
                  </tbody>
                </table>
              </div>
            </div>
          </section>
        </div>
      </div>
    </div>
</section>
