$("#cover-spin").fadeOut("slow");
<% if params[:trans] == "decline" %>
$("#custom_modal").html("<%= j render partial: '/admins/shared/detail_decline_transaction', locals: { :d => @trx, :transaction_info => @transaction_info, :l => @location,:m => @merchant,:u => @user } %>");
$("#DetailDeclineModal").modal();
<% else %>
$("#custom_modal").html("<%= j render partial: 'local_transaction_details', locals: { :t => @transaction,:db_t => @db_transaction,:users=>@users, dispute: @dispute_case } %>");
$("#modal_id").modal();
<% end %>
//..............local_transaction_info.html.erb.................//
$('[data-toggle="popover"]').popover({container: 'body'});

$('body').on('click', function (e) {
    $('[data-toggle="popover"]').each(function () {
        //the 'is' for buttons that trigger popups
        //the 'has' for icons within a button that triggers a popup
        if (!$(this).is(e.target) && $(this).has(e.target).length === 0 && $('.popover').has(e.target).length === 0) {
            $(this).popover('hide');
        }
    });
});
$( "#tx_idd" ).click(function() {
    // $('#welcome').show()
    $('#tx_id').toggle();
});
    //................................local_cheks............transaction_info...erb
    $('[data-toggle="popover"]').popover({container: 'body'});
    $( "#tx_idd" ).click(function() {
        // $('#welcome').show()
        $('#tx_id').toggle();
    });

    var lt = $('.modalTime').each(function (i, v) {
        var gmtDateTime = moment.utc(v.innerText, 'YYYY-MM-DD HH:mm:ss');
        var local = moment(gmtDateTime).local().format('MM-DD-YYYY hh:mm:ss A');
        v.innerText = local
    });