<%= stylesheet_link_tag 'customers/login_base' %>
<div  class="m--skin- m-header--fixed m-header--fixed-mobile m-aside-left--enabled m-aside-left--skin-dark m-aside-left--offcanvas m-footer--push m-aside--offcanvas-default"  >
<!-- begin:: Page -->
	<div class="background_image">
	    <div class="container-fluid">
	        <div class="row">
	            <div class="col-md-6 pull-left">
	                <div class="m-grid m-grid--hor m-grid--root m-page">
	                    <div class="m-login m-login--signin" >
	                        <div class="m-login__wrapper-1 m-portlet-full-height">
	                            <div class="m-login__wrapper-1-1">
	                                <div class="m-login__contanier">
	                                    <div class="m-login__content">
	                                        <div class="m-login__logo">
	                                            <center>
	                                                <%= image_tag "customers/images/Zcart_Logo_Symbol.svg" , class: "z_cart_logo" %>
	                                            </center>

	                                        </div>
	                                    </div>
	                                </div>
	                            </div>
	                        </div>
	                    </div>
	                </div>
	            </div>
	            <div class="col-md-6 pull-right pr-0">
	                <div class="m-grid m-grid--hor m-grid--root m-page">
	                    <div class="m-grid__item m-grid__item--fluid m-grid m-grid--hor m-login m-login--signin m-login--2 m-login-2--skin-1" id="m_login">
	                        <div class="row mr-0 ml-0">
	                            <div class="col-xl-2 col-lg-2 col-md-2 col-sm-12 col-xs-12"></div>
	                            <div class="col-xl-9 col-lg-9 col-md-9 col-sm-12 col-xs-12">
	                                <div class="m-grid__item m-grid__item--fluid m-login__wrapper">
	                                    <div class="m-login__container">
	                                        <div class="m-login__logo">
	                                            <center>
	                                                <%= image_tag "customers/images/Zcart_Logo_Horizontal_Login.svg" , class: "desktop_logo" %>
		                                			<%= image_tag "customers/images/Zcart_Logo_Symbol_White.svg" , class: "mobile_logo" %>
	                                            </center>
	                                        </div>
	                                        <div class="m-login__signin">
	                                            <div class="m-login__head">
	                                                <p class="m-login__title">
	                                                    <span>Welcome back!</span>
	                                                    <br>
	                                                    <br class="br1">
	                                                    Please enter your email and password
	                                                    <br class="br1">
	                                                    to access your Dashboard
	                                                </p>
	                                            </div>

	                                            <center>
	                                  				<%= form_for(resource, as: resource_name, url: session_path(resource_name),html: {class:"m-login__form m-form"}) do |f|  %>
						                            	<input type="hidden" id="role" name="role" value="customer">
						                                <div class="form-group m-form__group">
						                                     <label class="label_text pull-left">Phone</label>
						                                    <%# f.number_field :login,class: "form-control m-input mobile_logo"  %>
						                                    <%# f.number_field :phone_number,class: "form-control m-input email-input",required: true, :maxlength => 11  %>
						                                    <%= f.number_field :login,class: "form-control m-input email-input",required: true, :maxlength => 11  %>
						                                </div>
						                                <div class="form-group m-form__group">
						                                    <label class="label_text pull-left">
	                                                            Password
	                                                        </label>
						                                     <%= f.password_field :password, class:'form-control m-input m-password-input m-login-password m-login__form-input--last pass',id:'password' %>

						                                    <span class="login-eye">
						                                    	<%= image_tag "customers/images/login/login-eye.svg" %>
						                                    </span>
	                                                        <span class="login-open-eye">
	                                                        	<%= image_tag "customers/images/login/login-open-eye.svg" %>
	                                                        </span>
	                                                        <span class="password-login-error login-error" id="password-error">Please enter password</span>
	                                                        <input type="hidden" name="pass" class="hidpassw"/>
						                                
						                                </div>
						                                <div class="form-group m-form__group">
													        <%= recaptcha_tags %>
													    </div>
						                                <div class="m-login__form-action">
						                                     <%= f.submit "Login" , class: "btn btn-login btn-focus m-btn m-btn--pill m-btn--custom m-btn--air  m-login__btn m-login__btn--primary", id:'m_login_signin_submit'%>
						                                </div>
						                                <div class="row m-login__form-sub">
						                                    <div class="col m--align-right m-login__form-right">
						                                        <a class="m-link" href=<%= new_user_password_path(role: params[:role]) %>>
						                                            Forgot Password?
						                                        </a>
						                                    </div>
						                                </div>
						                           	<%end%>
	                                            </center>

	                                        </div>
	                                    </div>
	                                </div>
	                                <center>
	                                    <div class="term-div">
	                                        <p class="term_service mb-5">
	                                            <a id="terms_and_services">
	                                                Terms of Service
	                                            </a>
	                                        </p>
	                                         <p class="powerd_by">Powered by <%= image_tag "customers/images/Greenbox_Logo.svg" %></p>
	                                    </div>
	                                </center>
	                            </div>
	                            <div class="col-xl-1 col-lg-1 col-md-1 col-sm-12 col-xs-12"></div>
	                        </div>
	                    </div>
	                </div>
	            </div>
	        </div>
	    </div>
	</div>

	<!--Terms And Services-->
	<%= render 'customers/terms_and_services' %>
</div>



<%= javascript_include_tag 'customers/login.js' %>