<% if @locations.present? && @user.merchant? %>
  <%= select_tag( "location_id",
                  options_for_select(@locations.map{|loc| [loc.business_name, loc.id]}),
                  class: "form-control",
                  data: {
                      remote: true,
                      url: merchant_instant_ach_location_data_path(type: "instant_ach")
                  },include_blank: "Choose location",
                  :required => true
      ) %>
<% else %>
  <%= select_tag( "location_id",
                  options_for_select([[@user.try(:wallets).try(:first).try(:name), @user.try(:wallets).try(:first).try(:id)]]),
                  class: "form-control",
                  data: {
                      remote: true,
                      url: merchant_instant_ach_location_data_path(type: "instant_ach")
                  },include_blank: "Choose wallet",
                  :required => true
      ) %>
<% end %>
