
<% access = merchant_allowed %>
<% if access[:ach] %>
  <% @header_modal = "Blocked"  %>
  <% @body_modal = 'Currently this function is Inactivated for your account. Please contact Administrator.'  %>
  <%= render :partial => 'merchant/instant_ach/notify_modal', :locals => {:header => @header_modal, :body => @body_modal } %>
<% else %>
  <% if @user.merchant_id.present?%>
    <%  mp_ach_status= @user.get_merchant_ach_status %>
    <% if mp_ach_status == "initial" %>
      <%= render :partial => 'merchant/instant_ach/request_from'%>
    <% elsif mp_ach_status == 'pending' %>
      <% @header_modal = "Under Review" %>
      <% @body_modal = 'Dear Customer, your bank account information is still under review and will be updated as soon as possible.' %>
      <%= render :partial => 'merchant/instant_ach/notify_modal', :locals => {:header => @header_modal, :body => @body_modal} %>
    <% elsif mp_ach_status == "complete" %>
      <%= render :partial => 'merchant/instant_ach/new_form'%>
    <% else %>
      <%= render :partial => 'merchant/instant_ach/old_form'%>
    <% end %>
  <%else %>

    <% if @user.initial? %>
      <%= render :partial => 'merchant/instant_ach/request_from'%>
    <% elsif @user.pending? %>
      <% @header_modal = "Under Review" %>
      <% @body_modal = 'Dear Customer, your bank account information is still under review and will be updated as soon as possible.' %>
      <%= render :partial => 'merchant/instant_ach/notify_modal', :locals => {:header => @header_modal, :body => @body_modal} %>
    <% elsif @user.complete? %>
      <%= render :partial => 'merchant/instant_ach/new_form'%>
    <% else %>
      <%= render :partial => 'merchant/instant_ach/old_form'%>
    <% end %>
  <%end %>
<% end %>
<div class="modal show fade confirmationDialog"  tabindex="-1"  role="dialog" id="confirm_send_ach">
  <div class="modal-dialog form-group">
    <div class="modal-content content-abs">
      <div class="modal-header text-left bg-primary text-white">
        <h4 class="modal-title">
          <i class="fa fa-money"></i><span class="ml-2">Are you sure?</span>
        </h4>
        <button type="button" class="close" id="close_btn" data-dismiss="modal">&times;</button>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="card-header bordered">
            <div class="card-body">
              <p>
                Are you sure you want to send $<span id="ach-confirm-amount"></span> to <span id="ach-receiver-name"></span> via ACH ?
              </p>
            </div>
            <div class="card-footer">
              <button type="button" id="close-button2" data-dismiss="modal" class="modal-padding btn btn-default btn-md">Cancel</button>
<!--               <button type="button" id="submit-button2"  class=" modal-padding btn btn-info btn-md pull-right" onclick="submit_ach(); return false;">Confirm & Send </button> -->
              <button type="button" id="btn_confirm"  class=" modal-padding btn btn-info btn-md pull-right sub_btn instant_ach_sumit">Confirm & Send </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!--<script src="http://malsup.github.com/jquery.form.js"></script>-->
<%= javascript_include_tag "merchant/withdraw/new_ach_check.js" %>
