
  <br>
  <div class="row">
      <div class="form-group col-md-6">
        <label for="location_id"><span class="account_fields">*</span><span class="send_from">Choose <% if @user.merchant? %>Location <% else %> Wallet <% end %></span></label>
        <span class="font-weight-bold text-success pull-right">Balance: $<span id="balance"><%= number_with_precision(0, precision:2, :delimiter => ',')%></span></span>
        <div class="form-group" id="locations">
          <%= render partial: 'location_dropdown' %>
        </div>
      </div>
      <div class="form-group col-md-6">
        <div class="form-group">
          <label for="bank_name"><span class="account_fields">*</span><span>Name on Bank Account</span></label>
          <%= text_field_tag :bank_name, "", placeholder: "Enter Name on Bank Account", class: "form-control"%>
        </div>
      </div>
  </div>
<div class="row">
    <%= render partial: 'account_fields', locals: {bank_account_type: nil, bank_account: nil, bank_routing: nil, location_email: nil } %>
</div>

<script>
    $(document).ready(function () {
        $("#merchant_id").select2({
            width: '100%'
        });
        $('#merchant_id').on("change", function(e) {
            $.ajax({
                'url' : '<%= admins_selected_locations_path %>',
                'type' : 'GET',
                'data-type': "js",
                'data' : {
                    'merchant_id' : this.value
                },
                'success' : function(data) {
                },
                'error' : function(request,error){
                }
            });
        });
    });

</script>