
<div class="modal show fade modal-padding  "  tabindex="-1"  role="dialog" id="new_check">
  <div class="modal-dialog form-group" id="div_02" >
    <div class="modal-content">
      <div class="modal-header text-white">
        <div class="col-md-12">
          <h4 class="heading5">
            <span class="modal-title bg-primary" id="modal-title3"><%= current_user.name %></span>
            <button type="button" class="close" data-dismiss="modal" >&times;</button>
          </h4>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="card-header bordered" id="card_header2">
          </div>
          <div class="col-md-12">
            <span id="note_4">Please Note: We need your banking information in order to process your withdraw request. Please complete details below and allow 24-48 hours for us to verify banking details.</span>
          </div>

          <div class="card-body col-md-12">
            <div class="col-md-12">
              <div class="row">
                <div class="col-md-12">
                  <input type="hidden" id="loc_count" value="<%= @locations.count if @locations.present? %>" name="loc_count" >
                  <%= form_tag merchant_request_instant_ach_path,method: :post, data:{confirm: t('merchant.disputes.rusure')} , multipart: true, class:'form-group' do  %>
                    <% @locations.each_with_index do |l,i| %>
                      <div class="col-md-12" id="div_03">
                        <% if @user.present? && @user.merchant? %>
                            <label><b><%= l.business_name.try(:capitalize) %> (w-<%= l.wallets.try(:primary).try(:first).try(:id) %>)</b></label>
                        <% else %>
                            <label><b><%= l.name.try(:capitalize) %> (w-<%= l.id %>)</b></label>
                        <% end %>
                      </div>
                      <div class="row">
                        <span id="bol">
                          <label for="bank" id="label">Name on Bank Account:</label>
                          <% if @user.present? && @user.merchant? %>
                          <input type="hidden"name="query[<%= i %>][wallet_id]" value="<%= l.wallets.try(:primary).try(:first).try(:id) %>">
                          <input type="hidden"name="query[<%= i %>][location_id]" value="<%= l.id %>">
                          <input type="hidden"name="query[<%= i %>][dba_name]" value="<%= l.business_name.try(:capitalize) %>">
                          <% end %>
                          <input type="text" class="form-control" id="bank" name="query[<%= i %>][bank_name]" minlength="3" required onkeyup="return isLetter(event);">
                        </span>
                        <span id="bol">
                          <label for="a_number" id="label">Account Number:</label>
                          <input type="text" class="form-control account-number" id="a_number<%= i %>" name="query[<%= i %>][bank_account]" onkeypress="return isNumber(event);" minlength="3" maxlength="24"  required onfocusout="validate_bank('<%= i %>')">
                          <span id="acc_no<%= i %>" class="request_fields"></span>
                        </span>
                        <span id="bol">
                          <label for="r_number" id="label">Routing Number:</label>
                          <input type="text" class="form-control account-number" id="r_number<%= i %>" name="query[<%= i %>][bank_routing]" onkeypress="return isNumber(event);" minlength="9" maxlength="9"  required onfocusout="validate_rout('<%= i %>')">
                       <span id="r_no<%= i %>" class="request_fields"></span>
                        </span>
                        <span id="bol">
                          <label for="type" id="label">Bank Account Type:</label>
                          <%= select_tag("query[#{i}][type]", options_for_select(Location.bank_account_types.keys.map {|a| [a.humanize, a]}), class: "form-control") %>
                        </span>

                        <span id="bol">
                          <label for="r_number" id="label">Upload Void Check</label>
                          <input type="file" name="image[<%= i %>][image][add_image]" class='form-control img_store' id="image_store_<%= l.id %>" accept="image/*" required onchange="save_image('<%= l.id %>')" >
                          <!--onchange="save_image('<%#= l.id %>')"-->
                          <input type="hidden" value="<%= l.id %>" name="image[<%= i %>][image][location_id]" class='form-control'>
                          <input type="hidden" value="<%= l.id %>" name="image[<%= i %>][image][usage_id]" class='form-control'>
                          <span id="img_<%= i %>" class="request_fields"></span>
                        </span>
                      </div>
                    <% end %>
                    <%= submit_tag "Submit" , class:"btn btn-primary btn-block", id:'ach_req_form'%>
                  <% end %>
                </div>
<!--                <div class="col-md-3">-->
                  <%# @locations.each_with_index do |l, i| %>
<!--                    <div class="col-md-12">-->
<!--                      <div class="col-md-12" style="padding: 0px; margin-top: 60px">-->
<!--                        <label for="email" style="width: 100%;">Upload Void Check</label>-->
                        <%#= form_for Image.new, url: upload_docs_images_path, method: :post, html: {id: "image_form_class_#{l.id}", class: "image_form_class_#{l.id}", multipart: true} do |img| %>
                          <%#= img.hidden_field :usage_id, :value => l.id, id:"usage_id_#{l.id}" %>
                          <%#= img.hidden_field :location_id, :value => l.id, id:"location_id_#{l.id}" %>
<!--                          <input type="file" name="image[add_image]" class='form-control' style="width: 100% !important; padding: 4px" id="image_store_<%#= l.id %>" onchange="save_image('<%#= l.id %>')">-->
                        <%# end %>
<!--                      </div>-->
<!--                    </div>-->
                  <%# end %>
<!--                </div>-->
              </div>
            </div>
          </div>
          <div class="card-footer" id="card_footer4">
            <button class="btn btn-primary" id="test_submit">Submit</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!--<script src="http://malsup.github.com/jquery.form.js"></script>-->
<script>
//     $("#test_submit").attr("disabled", true);
    function isLetter(e){
        if (e.target.value.match(/[^a-zA-Z ]/g)) {
            e.target.value = e.target.value.replace(/[^a-zA-Z ]/g, '');
        }
    }
    function isNumber(e){
        e = e || window.event;
        var charCode = e.which ? e.which : e.keyCode;
        return /\d/.test(String.fromCharCode(charCode));
    }
    function validate_bank(id){
        id=id

        a_no=$('#a_number' +id).val()
        if (a_no=='' || a_no=='undefined'){
            $('#acc_no'+id).text('Please fill the field')
        }
        else if (a_no.length < 3){
            $('#acc_no'+id).text('Please Enter atleast 3 digit')
        }
        else if (a_no.length > 24){
            $('#acc_no'+id).text('Please Enter less than 24 digit')
        }
        else{
            $('#acc_no'+id).text('')
        }
    }
    function validate_rout(id){
        id=id
        r_no=$('#r_number'+id).val()
        if (r_no=='' || r_no=='undefined'){
            $('#r_no'+id).text('Please fill the field')
        }
        else if (r_no.length < 9){
            $('#r_no'+id).text('Please Enter atleast 9 digit')
        }
        else{
            $('#r_no'+id).text('')
        }
    }
    $img_count = [];
    $total_count = <%= @locations.count %>
    function save_image(id){
        var file = $('#image_store_'+id)[0];
        if (file.value == "") {
            alert('Please select a file to upload')
            $("#test_submit").attr("disabled", true);
        } else {
//            $("#test_submit").attr("disabled", false);
            $('#image_upload').val(id);
            var form = $('#image_form_class_'+id);
            var file_size = parseFloat((file.files[0].size / 1024) / 1024).toFixed(2);
            var ext = file.value.split('.').pop().toLowerCase();
            if ($.inArray(ext, ['png', 'jpg', 'jpeg']) == -1) {
                alert("Only 'Png', 'Jpeg', 'JPG' allowed");
                $('#image_store_'+id).val('')
            } else {
                if (file_size <= 10) {
                    // if (!$img_count.includes(id)){
                    //     $img_count.push(id);
                    //     if($img_count.length == $total_count){
                    //         $("#test_submit").attr("disabled", false);
                    //     }
                    // }
//                    form.ajaxSubmit({
//                        dataType: 'json',
//                        error: function (result) {
//                        },
//                        complete: function (data, XMLHttpRequest, textStatus, response, result) {
//                        }
//                    });
                } else {
                    alert('Please select a file less than 10MB')
                    //  file.value == ""
                     $('#image_store_'+id).val('');
                }
            }
        }
    }

</script>