<% sequence_down = AppConfig.try(:sequence_down).try(:first) %>
<% if (sequence_down.present? && sequence_down.boolValue == true) || (ENV['SEQUENCE_DOWN'].present? && ENV['SEQUENCE_DOWN'] == "true") %>
  <%= render 'shared/maintenance_modal', locals: {title: 'System Maintenance', body: 'We apologize for the inconvenience, however this feature is not available at this time as we are having issues with our Blockchain'} %>
<% elsif @user.block_ach %>
  <%= render 'shared/maintenance_modal', locals: {title: 'Disabled Withdraw', body: 'We apologize for the inconvenience, but this feature is currently  unavailable at this time. Please email Support@gareenboxpos.com for all your inquiries. Thank you!'} %>
<% else %>
  <%= render 'shared/maintenance_modal', locals: {title: 'Merchant is Blocked', body: 'We apologize for the inconvenience, however this feature is not available at this time as Merchant is Inactive.'} %>
<% end %>
<%= stylesheet_link_tag "merchant/transactions", media: 'all', 'data-turbolinks-track' => 'reload' %>
<div class="box">
  <div class="box-header with-border">
    <div class="col-md-12">
      <div class="row">
        <div class="col-md-6">
          <h3 class="box-title"> ACH Transactions </h3>
        </div>
        <div class="col-md-6">
          <% if (sequence_down.present? && sequence_down.boolValue == true) || (ENV['SEQUENCE_DOWN'].present? && ENV['SEQUENCE_DOWN'] == "true") %>
            <button type="button" data-toggle="modal" data-target="#maintenance-modal"  class=" modal-padding btn btn-success btn-sm text-right new_ach" >New ACH</button>
          <% else %>
          <% if @achIssueEnabled && !@user.block_ach %>
              <%= link_to 'New ACH', "#" ,class: 'btn btn-success btn-sm send_check show-dynamic-modal',data: { :"modal_selector" => "#new_check", "modal_container_selector" => "#achSection", method: "GET", "url_path" =>  merchant_instant_ach_new_path }, remote: true , style: "float:right; margin-right: 22px;" %>
          <% else %>
               <button type="button" data-toggle="modal" data-target="#maintenance-modal"  class=" modal-padding btn btn-success btn-sm text-right new_ach">New ACH</button>
          <% end %>
          <% end %>
          <button  data-toggle="modal" id="export_class" href="#exportModalDialog" class="btn btn-sm btn-success pull-right"><i class="fa fa-file"></i> Export</button>
        </div>
      </div>
    </div>
  </div>
  <div class="modal fade" tabindex="-1" role="dialog" id="issue-ach_modal-notice">
    <div class="modal-dialog form-group">
      <div class="modal-content">
        <div id="div_05" class="modal-header text-left bg-primary text-white">
          <h4 class="modal-title"><i class="fa fa-money"></i><span> Merchant is Blocked </span></h4>
          <button type="button" class="close" id="close_btn" data-dismiss="modal">&times;</button>
        </div>
        <div class="row">
          <div class="col-md-12">
            <div class="card-header bordered">
              <div class="card-body">
                <h6>
                  We apologize for the inconvenience, however this feature is not available at this time as Merchant is
                  Inactive.
                </h6>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="box-body">
    <div class="row">
      <div class="col-md-12">
        <span id="show_3">Show</span>
          <span id="form_3">
                <%= form_tag merchant_instant_ach_index_path, method: :get, id:'instant_ach_filter' do  %>
                   <%= select_tag "filter", options_for_select(@filters.map{|v|[v]}, selected: params[:filter].present? ? params[:filter] : "10"),
                    :prompt => false,
                    :required => true,
                    class: "form-control form-control-sm",
                    data: {confirm: "Are you sure ?"}
                   %>
                <% end %>
                
              </span>
          <span id="entries_3">Entries</span>
      </div>
      <div class="col-md-12"></div>
    </div>
    <div class="">
      <div class='table-responsive'>
        <table class="table table-striped" id="hello">
          <thead>
          <tr class="header-row" >
            <th>ACH ID</th>
            <th>Creation Date</th>
            <th>Name on Bank Account</th>
            <th>Email</th>
            <th>Account last 4</th>
            <th>ACH Amount</th>
            <th>Fee</th>
            <th>Total Amount</th>
            <% if current_user.merchant? %>
                <th>DBA Name</th>
              <% end %>
            <th>Status</th>
            <th>Details</th>
          </tr>
          </thead>
          <tbody>
          <% if !@achs.empty? %>
          <% @achs.each do |ach| %>
            <tr>
              <% if current_user.merchant? %>
              <% wallet = Wallet.find_by(id: ach.wallet_id)  %>
              <% dba_name = wallet.location.try(:business_name) if wallet.present? %>
                <% end %>
              <td><%= ach.id %></td>
              <% if cookies[:timezone].present? %>
                <td ><%= ach.created_at.in_time_zone(cookies[:timezone]).strftime("%m-%d-%Y %I:%M:%S %p")%></td>
              <%else %>
                <td class="timeUtc"><%= ach.created_at.strftime("%m-%d-%Y %I:%M:%S %p")%></td>
              <% end %>
              <td><%= ach.try(:name) %></td>
              <td><%= ach.recipient %></td>
              <td><%= ach.account_number.present? ? ach.try(:account_number): "-"%></td>
              <td>$<%= number_with_precision(ach.actual_amount, precision: 2, delimiter: ',') %></td>
              <% if current_user.merchant? %>
                <td>$<%= number_with_precision(ach.check_fee.to_f + ach.fee_perc.to_f, precision: 2, delimiter: ',') %></td>
              <% else %>
                <td>$<%= number_with_precision(ach.check_fee.to_f + ach.fee_perc.to_f, precision: 2, delimiter: ',') %></td>
              <% end %>
              <td>$<%= number_with_precision(ach.amount, precision: 2, delimiter: ',') %></td>
              <% if current_user.merchant? %>
              <td><%= dba_name %></td>
              <% end %>
              <td id="status_ach">
               <% status=ach_status(ach.status) %>
                <% if status=="PAID" || status=="paid" %>
                  <span class="badge badge-info paid_status"><%= status %></span>
                <% elsif status=="VOID" || status== "void" %>
                  <span class="badge badge-info_void void_status"><%= status %></span>
                <% elsif status=="PAID_WIRE" || status=="paid_wire" %>
                  <span  class="badge badge-info_paid_wire paid_wire_status"><%= status %></span>
                <% elsif status=="IN_PROCESS" %>
                  <span  class="badge in_process_show_status in_process_status"><%= status %></span>
                <% elsif status=="PENDING" || status=="pending" %>
                  <span  class="badge badge-info_pending pending_status"><%= status %></span>
                <% elsif status=="FAILED" || status=="failed" %>
                  <span  class="badge badge-info_failed failed_status"><%= status %></span>
                <% else %>
                  <span  class="badge badge-info_failed else_status"><%= status %></span>
                <% end %>
              </td>
              <td>
                <div class="row">
                <div class="detail-btn">
                  <%=link_to '<button class="btn btn-sm btn-primary  view_check_details"><i class="fa fa-eye"></i></button>'.html_safe, merchant_check_path(ach.id) ,remote: true %>
                </div>

                <div class="col-md-7" id="div_06">
                  <% if @user.role == "merchant" || @user.role=='iso' || @user.role=='affiliate' || @user.role=='agent'  %>
                    <% if ach.status == "UNPAID" || ach.status == "PENDING"  %>
                      <% if (sequence_down.present? && sequence_down.boolValue == true) || (ENV['SEQUENCE_DOWN'].present? && ENV['SEQUENCE_DOWN'] == "true") %>
                        <a class="btn btn-sm btn-danger" data-toggle="modal" data-target="#maintenance-modal" id="anchor">Void</a>
                      <% else %>
                          <% if ach.under_review? %>
                                  <a class="btn btn-sm btn-danger ach_under_review show-cover-spin" data-toggle="modal" href="#" data-id="<%= ach.id %>">Void</a>
                          <% else %>
                              <a class="btn btn-sm btn-danger ach_void_function show-cover-spin" data-toggle="modal" href="#"  data-id="<%= ach.id %>" >Void</a>
                          <% end %>
                      <% end %>
                    <%  end %>
                  <% end %>
                </div>
                </div>
              </td>

            </tr>
            <% end %>
          <% else %>
            <tr id="table_row1"><td colspan="11"><h3 id="heading_03">No Entries Yet!</h3></td></tr>
          <%	 end  %>
          </tbody>
        </table>
        <span id="showing_01">Showing <%=@achs.try(:size)%> of <%=@achs.total_count %> records</span>
        <%= paginate @achs, :theme => 'twitter-bootstrap-3', :pagination_class => "pagination-small pagination-centered pull-right padd"%>
      </div>
      <!-- <div class="card-footer"  id="new_request_footer"> 
        <div class="row">
          <div class="col-md-2 text-left">
            <small>Total <b><%#=@achs == nil ? 0 : @achs.count %></b></small>
          </div>
          <div class="col-md-10 ">
          </div>
        </div>
      </div> -->
    </div>
  </div>
</div>
<%= form_tag merchant_check_path(1), method: :put,id:"void_form"  do  %>
    <input type="hidden" name="status" value="VOID">
    <input type="hidden" name="id" value="" id="ach_id">

  <%= render :partial=> 'merchant/checks/void',locals: {data: "ACH"} %>

<% end %>

<%= render :partial=> 'merchant/checks/under_review' %>

<%= render partial: 'merchant/transactions/export_modal' %>
<section id="achSection"></section>
<section id="detailSection"></section>
<div id="cover-spin"></div>
