<div class="modal fade" id="exportModalDialog">
  <div class="modal-dialog width-500-px-checks">
    <div class="modal-content width-500-px-checks">
      <!-- Modal Header -->
      <div class="modal-header text-left bg-primary text-white">
        <h4 class="modal-title"><span class="ml-2 display-none-checks" id="transaction_heading_2"></span> <span class="ml-2" id="transaction_heading">Checks Details</span></h4>
        <button type="button" class="close" data-dismiss="modal" id="export_close1">×</button>
      </div>
      <!-- Modal body -->
      <div class="modal-body modal-body-checks">
        <div class="card whitesmoke-background-checks">
          <div class="card-body">
            <div id="body_1">
              <div class="row margin-bottom-n-16-px-checks">
                <div class="form-group col-md-8">
                  <h5>Total Pending Checks : <span id="total_checks_count"><%= @checks.count %></span></h5>
                </div>
              </div>
            </div>
            <div class="col-md-12">
              <div class="checks-status"><b>Press start for updating!</b></div>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer whitesmoke-background-checks" id="modalFooter">
        <button class="btn btn-default" id="close2" data-dismiss="modal">Cancel</button>
        <button class="btn btn-success done_btn" id="done_btn" >Start</button>
      </div>
    </div>
  </div>
</div>

<script>
  var main_job_count = 0;
  var modal_closed = false;
  var start_processing = false;

    $('#exportModalDialog').on('hidden.bs.modal', function () {
        if(start_processing){
            $("#refresh").addClass("fa-spin");
            $(".refresh_a_tag").css('pointer-events','none').css('cursor', 'default');
            $("#text").html('').html(' Processing');
        }
        modal_closed = true;
    });
  $('#close2').hide();
//  $('#done_btn').show();
//  checks = parseInt($('#total_checks_count').html());
//  if(checks > 0) {
      $('.done_btn').on('click', function () {
          $('.done_btn').html('').html('<i class="fa fa-refresh fa-spin"></i> Processing').attr("disabled","disabled");
          start_processing = true;
          $('.checks-status').html('').html('<b> Please wait checks are updating...</b>');
          $.ajax({
              url: '<%= admins_checks_refreshing_check_path %>',
              type: 'GET',
              success: function(data) {
                  $('.done_btn').html('').html('<i class="fa fa-check"></i> Processed').attr("disabled","disabled");
                  setTimeout(function(){
                      window.location.href = '<%= admins_checks_path %>';
                  }, 3000);
//                  ids = data.ids;
//                  if (ids.length > 0) {
//                    repeating(ids);
//                  }
              },
              error: function(data){
                  $('.done_btn').html('').html('<i class="fa fa-times"></i> Try again').attr("disabled","disabled").css("background-color","darkred");
                  setTimeout(function(){
                      window.location.href = '<%= admins_checks_path %>';
                  }, 3000);
              }
          });
      });

      function repeating(job_ids) {
          main_job_count = job_ids.length;
          count = 0;
          exec_interval = true;
          interval = setInterval(function() {
              if(exec_interval){
                  $.ajax({
                      url: '<%= admins_checks_remaining_check_path %>',
                      type: 'GET',
                      data: {job_id: job_ids[count]},
                      success: function (data) {
                          // if (data.status == 'completed') {
                              job_ids.shift();
                              remaining_check = main_job_count - job_ids.length;
                              $('#proceed').html('').html(remaining_check);
                              console.log("hello");
                              if (count == job_ids.length) {
                                  exec_interval = false;
                                  setTimeout(function(){
                                      window.location.href = '<%= admins_checks_path %>';
                                  }, 3000);
                              }
                              if (modal_closed){
                                  $("#text").html('').html(' Processing ('+ remaining_check +'/'+ main_job_count +')');
                              }

//                           } else {
// //                              when not completed
//                           }
                      },
                      error: function (data) {
                      }
                  });
              }
          }, 100);
      }
</script>