

<div class="modal fade"  tabindex="-1"  role="dialog" id="send_check">
  <div class="modal-dialog modal-lg form-group">
    <div class="modal-content">
      <div class="modal-header text-white text-center-background-3a4651">
        <div class="width-100per-checks">
          <span class="modal-title margin-auto-font-size-22-checks"><i class="fa fa-money"></i><span> Send Check</span></span>
          <button type="button" class="close margin-top-2-checks" data-dismiss="modal">&times;</button>
        </div>
      </div>
      <div class="card padding-20-font-17-checks">
        <div class="card-body">
          <div class="row">
              <section id="errormessage"></section>
              <div id="no-wallet-check"></div>
              <%= form_tag admins_checks_create_check_path,name: "checkform",id: "checkform", method: :post do   %>
                <input type="hidden" name="sender_email" id="sender_email">
                <input type="hidden" name="sender_id" id="sender_id">
                <div class="form-group col-md-12">
                  <label class="no-padding"><span>Search User</span></label>
                  <input type="text" name="query[name]" class="form-control" value="" id="companyInput" autocomplete="off">
                </div>
                <div class="form-group col-md-12">

                  <select class="form-control wallet_id" id="wallet_data" name="wallet_id">
                  </select>
                  <div class="abc" id="abc">     <em class="color-red-checks" >Loading wallets</em></div>
                  <div class="font-weight-bold text-success pull-right"><span id="balance_wallet"></span></div>
                    </div>
                <div class="form-group col-md-12">
                  <label class="control-label" for="name1">Name</label>
                  <input type="text" name="name1" id="sname" class="form-control" required>
                </div>
                <div class="form-group col-md-12">
                  <label>Email</label>

                  <input type="email" name="recipient" id="recipient"  class="form-control" required>
                </div>
                <div class="form-group col-md-12">
                  <label>Amount</label>
                  <input type="number" name="amount" class="form-control" id="amount" min="0.001" required>
                  <br><span class="color-red-checks" class="amount_error"></span>
                  <div id="fee_deduct" class=""></div>
                </div>

                <div class="form-group col-md-12">
                  <label>Description</label>
                  <textarea class="form-control" rows="5" id="description" name="description" required></textarea>

                </div>
              <div>
                <button id="deposit_btn" class="margin-left-17-px-checks btn btn-primary btn-sm" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample" >
                  Direct Deposit
                </button>
                <div class="collapse" id="collapseExample">
                  <div class="card card-body">
                    <div id="dd_deposit_div">
                      <p>Enter your recipient's banking information only if you know it. This method is optional and you can send a Digital Check instead if you only know your recipient's email address.</p>
                      <%#= simple_form_for  @direct_deposit  , url: direct_deposit_merchant_checks_path, method: :post  do  %>
                      <input type="hidden" name="direct_deposit" value="0" id="dd_deposit">
                      <label class="label">Account Type</label>
                      <%= select_tag 'check[account_type]', options_for_select([['CHECKING','CHECKING'],['SAVINGS','SAVINGS'],['BUSINESS','BUSINESS']]),{class: 'form-control'}%>
                      <div class="form-group">
                        <label>Routing Number </label>
                        <input type="number" class="form-control" name="check[routing_number]" id="routing_number"/>
                        <p id="routing-error" class="open-error" ></p>
                        <%= image_tag 'checked.png',id:'check-img',class: "check-img" %>
                        <div id="success-div" class="alert alert-success success-div-checks" role="alert"> </div>
                      </div>
                      <div class="row ">
                        <div class="col-md-6 account-number">
                          <label>Account number</label>
                          <input type="number" class="form-control account_class" name="check[account_number]" id="account_number" />
                        </div>
                        <div class="col-md-6">
                          <label>Confirm account</label>
                          <input type="number" class="form-control account_class" name="check[confirm_account_number]"  id="confirm_account_number" />
                        </div>
                      </div>
                      <div id="error-account" class="open-error"></div>
                      <div id="error" class="open-error"></div>
                    </div>
                  </div>
                </div>
              <div class="col-md-12 center-text" >

              <button id="sub_btn" type="submit"  class="form-control btn-primary">Send</button>
              </div>
                <div id="error-account" class="open-error"></div>
                <div id="error" class="open-error"></div>
              <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>


<script>
    validateUserForm('check')
    var config = window.config = {};
    $( "#sub_btn" ).click(function() {
        if ($("#checkform").valid()){
            $('#cover-spin').show(0)
        }

    });
    $( function() {
        $.widget("custom.catcomplete", $.ui.autocomplete, {
            _create: function () {
                this._super();
                this.widget().menu("option", "items", "> :not(.ui-autocomplete-category)");
            },
            _renderMenu: function (ul, items) {
                var that = this,
                    currentCategory = "";
                $.each(items, function (index, item) {
                    var li;
                    if (item.category != currentCategory) {
                        ul.append("<li  class='ui-autocomplete-category'>" + item.category + "</li>");
                        currentCategory = item.category;
                    }
                    li = that._renderItemData(ul, item);
                    if (item.category) {
                        li.attr("aria-label", item.category + " : " + item.label);
                    }
                });
            }
        });
    });
    $.ui.autocomplete.filter = function (array, term) {
        var matcher = new RegExp("^" + $.ui.autocomplete.escapeRegex(term));
        return $.grep(array, function (value) {
            return matcher.test(value.label || value.value || value);
        });
    };
    $(document).on('keyup','#companyInput',(function () {
            var all_keyword = $(this).val();
            var id = '#'+$(this).attr('id');
            var user = '#companyInput';
            if(all_keyword != ''){
                getAllUsers(all_keyword,id,user)
            }
        })
    );
    function getAllUsers(all_keyword,id,user){
        $(id).catcomplete({
            minLength: 1,
            source: function (request, response) {
                $.ajax({
                    url: "<%= admins_checks_getUsers_path %>",
                    type: "GET",
                    data: {query: all_keyword},
                    success: function (data) {
                        if (data.users!=""){
                            response(data.users);
                        }
                        else{
                            response('')
                        }
                    },
                    error: function (data) {
                        response('')
                    }
                });
            },
            select: function(e, ui) {
                // Mantain Response In Categories
                if(ui.item.category=="Merchants"){
                    event.preventDefault();
                    $(this).val(ui.item.label)
                    getUser(ui.item.id);
                }

                else if(ui.item.category=="Isos"){
                    event.preventDefault();
                    $(this).val(ui.item.label)
                    getUser(ui.item.id);

                }else if(ui.item.category=="Agents"){
                    event.preventDefault();
                    $(this).val(ui.item.label)
                    getUser(ui.item.id);
                }else if(ui.item.category=="Affiliates"){
                    event.preventDefault();
                    $(this).val(ui.item.label)
                    getUser(ui.item.id);
                }
            }
        })
            ._renderItem = function (ul, item) {
            return $("<li></li>")
                .data("item.autocomplete", item);
        };
    }
    var wallet_list = [];
    function getUser(merchant_id){
        $('#abc').show();
        $('#wallet_data').hide();
        $.ajax({
            url: "<%= admins_checks_getUsers_path %>",
            type: "GET",
            data: {merchant_id: merchant_id},
            success: function (data) {
                $('#abc').hide();
                if (data!=""){
                    wallet_list = data.list;
                    $('#wallet_empty').hide()
                    $('#wallet_data').show()
                    $('#sender_email').val(data.sender_email)
                    $('#sender_id').val(merchant_id)
                    $('#wallet_data').html('');
                    $('#wallet_data')
                        .append($("<option></option>")
                            .attr("value",'')
                            .text('Select Wallet'));
                    for (let i =0 ;i < data.list.length;i++){
                        $('#wallet_data')
                            .append($("<option></option>")
                                .attr("value",data.list[i].wallet_id)
                                .text(data.list[i].wallet_name));
                        $('#balance_wallet').text(data.list[i].balance)

                    }
                    // $('#wallet_data').val(data.list)

                }else{
                    alert('no')
                }
            },
            error: function (data) {

            }
        });
    }
    var deposit_open=false;
    $('.spnr').fadeOut('slow');


    $(document).ready(function () {
        $('#wallet_empty').show();
        $('#wallet_data').hide();


        $('#account_number').on('blur', function () {

            if($('input[id="account_number"]').hasClass('error')){
                $('input[id="account_number"]').after('<p id="account_p" style="color: darkred">Must be 9 to 13 digit</p>');
                $('#close-btn1').prop('disabled',true);
            }
            if($('#account_number').val().length < 9 || $('#account_number').val().length > 13 ){
                $('#close-btn1').prop('disabled',true);
                return false;
            }
            var routing_number=$('#routing_number').val();
            var account_number=$(this).val();
            if(account_number==routing_number){
                $('#close-btn1').prop('disabled',true);
                $('.account_class').val('');
                $('#error-account').html('').append('<div style="color: darkred">Account Number Must Be Different From Routing Number</div>')
            }else{
                var open_error=$('.open-error').text();
                var error=$('.error').text();
                if(error=='' && open_error==''){
                    $('#close-btn1').prop('disabled',false);
                }
                $('#error-account').html('');
            }
        });
        $('#account_number').on('focus', function () {
            if($('input[id="account_number"]').hasClass('error')){
                $('#account_p').remove();
            }
        });
        $('#confirm_account_number').on('blur', function () {
            if($('input[id="confirm_account_number"]').hasClass('error')){
                $('input[id="confirm_account_number"]').after('<p id="account_p_c" style="color: darkred">Must be Same</p>');
                $('#close-btn1').prop('disabled',true);
            }
            if($('#confirm_account_number').val().length < 9 || $('#account_number').val().length > 13 ){
                $('#close-btn1').prop('disabled',true);
                return false;
            }
            var routing_number=$('#routing_number').val();
            var account_number=$(this).val();
            if(account_number==routing_number){
                $('#close-btn1').prop('disabled',true);
                $('.account_class').val('');
                $('#error-account').html('').append('<div style="color: darkred">Account Number Must Be Different From Routing Number</div>')
            }else{
                var open_error=$('.open-error').text();
                var error=$('.error').text();
                if(error=='' && open_error==''){
                    $('#close-btn1').prop('disabled',false);
                }
                $('#error-account').html('');
            }
        });
        $('#confirm_account_number').on('focus', function () {
            if($('input[id="confirm_account_number"]').hasClass('error')){
                $('#account_p_c').remove();
            }
        });
        $('#routing_number').on('focus', function () {
            if($('input[id="routing_number"]').hasClass('error')){
                $('#routing_number_p').remove();
            }
        });


        if($("#wallet_id").val() == ""){
            $("#balance_wallet").text("");
        }
    });





    $(document).ready(function () {
        $('#balance_wallet').hide();
        $('#close-button').click( function (e) {});
    });

    $(document).ready(function () {
//          if($('#wallet_id > option').length == 1){
        status = $('#wallet_id > option').attr("data-lstatus");
        if(status == "true"){
            $("#errormessage").css("display","block").html("").html('<div class="alert alert-danger" role="alert"><a href="#" data-dismiss="alert" class="close"></a> <strong>$[BLOCKED_LOCATION]</strong></div>');
        }else{
            $("#errormessage").css('display','none').html('');
        }
//          }
    });
    $("#wallet_data").on("change", function () {
        if($("#wallet_data").val() == ""){
            $("#balance_wallet").text("");
        }
        else{
            $("#balance_wallet").show();
            for (let i = 0;i < wallet_list.length; i ++){
                if(parseInt(this.value) == wallet_list[i].wallet_id){
                    $("#balance_wallet").text('Balance: $'+wallet_list[i].balance);
                    $("#balance_wallet").val(wallet_list[i].wallet_id);
                }
            }
        }


    });
    $(document).on('blur', '#check_amount', function () {
        var dd=$('#dd_deposit').val();
        var name=$('#check_name').val();
        var amount=$('#check_amount').val();
        if ((dd == null || dd == '') || ( name == null || name == '') || (amount == null || amount == '')){
            $('#deposit_btn').css("display","none");
        }else {
            $('#ammout_to_send').html('<span class="font-weight-bold text-success">'+parseFloat(amount).toFixed( 2 )+'</span>');
            $('#recipient_ammount').html('<span class="font-weight-bold text-success">'+name+'</span>');
            $('#deposit_btn').removeAttr('style');
        }
    });

    $(document).on('keyup', '#confirm_account_number',function () {
        if ($('#account_number').val() == $('#confirm_account_number').val() ){
            $('#error').html('');
            $('#dd_deposit').val('1');
        }else{
            $('#error').html('').append('<p style="color: darkred">Account Number mismatched</p>')
        }
    });

    $(document).on('click','#close-btn1',function (e) {
        e.preventDefault();
    });
    $(document).ready(function () {
        $('#abc').hide()
//    $('.submit_check').attr('disabled', true);
        $('#close-btn1').attr('disabled', true);
        var emailReg = /^([\w-\.]+@([\w-]+\.)+[\w-]{2,4})?$/;

        $('.name_field').bind('keyup change', function(){
            if(($(this).val().length != 0) && (emailReg.test( $('.recipient_field').val() )) && ($('.recipient_field').val().length != 0 ) && ($('.decription_field').val().length != 0) && ($('.amount_field').val().length != 0) ){
                $('#close-btn1').attr('disabled', false);
            }else{
                $('#close-btn1').attr('disabled', true);
            }
        });
        $('.recipient_field').bind('keyup change', function(){
            if((emailReg.test( this.value ))  && ($('.recipient_field').val().length != 0 )  && ($('.decription_field').val().length != 0) && ($('.amount_field').val().length != 0) && ($('.name_field').val().length != 0) ){
                $('#close-btn1').attr('disabled', false);
            }else{
                $('#close-btn1').attr('disabled', true);
            }
        });
        $('.amount_field').bind('keyup change', function(){
            if(($(this).val().length != 0)  && ($('.recipient_field').val().length != 0 )  && ($('.decription_field').val().length != 0) && (emailReg.test( $('.recipient_field').val() )) && ($('.name_field').val().length != 0) ){
                $('#close-btn1').attr('disabled', false);
            }else{
                $('#close-btn1').attr('disabled', true);
            }
        });
        $('.decription_field').bind('keyup change', function(){
            if(($(this).val().length != 0)  && ($('.recipient_field').val().length != 0 )  && (emailReg.test( $('.recipient_field').val() )) && ($('.amount_field').val().length != 0) && ($('.name_field').val().length != 0)){
                $('#close-btn1').attr('disabled', false);
            }else{
                $('#close-btn1').attr('disabled', true);
            }
        });
    });
    $(document).ready(function () {
        $('#new_check').submit(function () {
            $('.spnr').fadeIn();
        });
    });

    $(document).on('click','#close-button4',function () {
        $('#new_invoices').removeClass('fade');
        $('#new_invoices').modal('hide');
        $('#new_invoices').addClass('fade');
    });

    $(document).on('click','.close',function () {
        $('.modal').removeClass('fade');
        $('.modal').modal('hide');
        $('.modal').addClass('fade');
    });

    $(document).on('keyup','#check_amount', function () {

        if (this.length != "") {
            var wallet = $('#wallet_id').val();
            $.ajax({
                url: "<%= get_fee_sum_merchant_checks_path %>",
                method: 'get',
                data: {amount: this.value, wallet: wallet, type: 0},
                success: function (result) {
                    if (result.fee_sum != 0) {
                        $("#fee_deduct").html('').append('Amount + Fee= $ ' + result.fee_sum.toFixed(2) + '');
                    } else {
                        $('#fee_deduct').html('');
                    }
                }
            });
        } else {
            $('#fee_deduct').html('');
        }
    });


    $(".abs").click(function () {

        var name=$('#check_name').val();
        var amount=$('#check_amount').val();
        // amount = $('#check_amount').val(parseFloat(amount).toFixed(2));
        if($("#wallet_id").val() == ""){
            $("#no-wallet-check").text("");
            $("#no-wallet-check").append("<div class='alert alert-danger'><p style='font-size: 16px; text-align: center;'> Please select a wallet</p></div>");

        }else{

            $('.hello2').modal({
                show: true
            });

            amount = parseFloat(amount).toFixed(2);
            $("#send-amount-12").text("");
            $("#rec-name-12").text("");
            $("#send-amount-12").text(amount);
            $("#rec-name-12").text(name);

        }
    });

    $('.account_class').on("cut copy paste",function(e) {
        e.preventDefault();
    });
    //$('.account_class').blur(function(){
    //    var routing_number=$('#routing_number').val();
    //    var account_number=$(this).val();
    //    if(routing_number==account_number){
    //        $('#close-btn1').prop('disabled',true);
    //        $('.account_class').val('');
    //        $('#error-account').html('').append('<p style="color: darkred">Account Number Must Be Different From Routing Number</p>')
    //    }else{
    //        var open_error=$('.open-error').text();
    //        var error=$('.error').text();
    //        if(error=='' && open_error==''){
    //            $('#close-btn1').prop('disabled',false);
    //        }
    //        $('#error-account').html('');
    //    }
    //});
    $('.close').click(function () {
        $('.close')
    });
    $('#deposit_btn').click(function () {
        var error=$('.error').text();
        if(deposit_open){
            deposit_open=false;
            if(error==""){
                $('#close-btn1').prop('disabled',false);
            }else{
                $('#close-btn1').prop('disabled',true);
            }
        }else{
            var open_error=$('.open-error').text();
            if(error=='' && open_error==''){
                $('#close-btn1').prop('disabled',false);
            }else{
                $('#close-btn1').prop('disabled',true);
            }
            deposit_open=true;
        }
    });
    $('#routing_number').blur(function(){
        $('#check-img').hide();
        $('#success-div').hide();
        $('#routing-error').text('').hide();
        if($(this).val().length<9){
            $('#close-btn1').prop('disabled',true);
            $(this).parent().removeClass('has-success').addClass('has-error');
            $('#routing-error').text('Must be 9 digit').show();
            return;
        }
        var routing_number=$(this).val();
        if(routing_number!=""){
            $.ajax({
                url: "<%= admins_checks_get_bank_by_routing_number_path %>",
                method: 'post',
                data: {routing_number: routing_number},
                success: function (result) {
                    var bank_name=result.response;
                    if(bank_name!=""){
                        var error=$('.error').text();
                        var error_open=$('.open-error').text();
                        if(error=="" && error_open==""){
                            $('#close-btn1').prop('disabled',false);
                        }
                        $('#routing-error').text('').hide();
                        $('#success-div').text(result.response);
                        $('#check-img').show();
                        $('#routing_number').parent().removeClass('has-error').addClass('has-success');
                        $('#success-div').show();
                    }else{
                        $('#close-btn1').prop('disabled',true);
                        $('#routing-error').text('Cannot Find Bank With The Routing Number').show();
                        $('#success-div').text('');
                        $('#check-img').hide();
                        $('#routing_number').parent().removeClass('has-success').addClass('has-error');
                        $('#success-div').hide();
                    }
                },
                error: function(){
                    $('#close-btn1').prop('disabled',true);
                    $('#routing-error').text('Cannot Find Bank With The Routing Number').show();
                    $('#success-div').text('');
                    $('#check-img').hide();
                    $('#routing_number').parent().removeClass('has-success').addClass('has-error');
                    $('#success-div').hide();
                }
            });
        }
    });

    $( "#amount" ).focusout(function(event) {
        if (this.length != ""&& event.keyCode != 8&& event.keyCode != 9&& event.keyCode != 253 ) {
            var wallet = $('#balance_wallet').val();
            $.ajax({
                url: "<%= admins_checks_get_fee_sum_path %>",
                method: 'get',
                data: {amount: this.value, wallet: wallet, type: 0},
                success: function (result) {
                    balance = $('#balance_wallet').text();
                    balance= balance.replace('Balance: $','')
                    balance=$.trim(balance);
                    var balance = parseFloat(balance);
                    if (result.fee_sum != 0 && result.fee_total != 0) {
                        var total = parseFloat(result.fee_total.toFixed(2))+ parseFloat(result.fee_sum.toFixed(2));
                        $("#fee_deduct").html('').append('Amount= $ ' + result.fee_sum.toFixed(2) + ' ');
                        $("#fee_deduct").append('<span style="padding-left: 20px;padding-right: 40px;">Fee= $ ' + result.fee_total.toFixed(2) + '</span>');
                        $("#fee_deduct").append('Total= $ ' + total.toFixed(2) + '');
                    }else if(result.fee_sum != 0 && result.fee_total == 0){
                        $("#fee_deduct").html('').append('Amount = $' + result.fee_sum.toFixed(2) + '');
                        var total = parseFloat(result.fee_sum.toFixed(2));
                    }
                    else if(result.fee_sum == 0 && result.fee_total != 0){
                        $("#fee_deduct").html('').append('Fee = $' + result.fee_total.toFixed(2) + '');
                        var total = parseFloat(result.fee_total.toFixed(2));
                    }
                    else {
                        $('#fee_deduct').html('');
                    }
                    if (total <= balance) {
                        amount_validated = 1;
                        $('.amount_error').html('');
                        $( "#amount" ).css({"color":"","border":""});
                    }else{
                        amount_validated = 2;
                        $( "#amount" ).css({"color":"red","border":"1px solid red"});
                        $('.amount_error').html('').append('Insufficient Funds in Available Balance')
                    }
                }
            });
        } else {
            $('#fee_deduct').html('');
        }
    });
</script>