
<section class="section" id="checkSection"></section>
<div class="sidebar-overlay" id="sidebar-overlay"></div>

<div class="row card-box">
  <div class="box-header">
    <div class="row padding-right-3-top-13-px-checks">
    </div>
    <div class="col-md-12"></div>
    <p class="checks-transaction-checks">Check Transactions</p>
    <div class="float-right-margin-diff-1-checks" class="pull-right">
      <div class="width-150-px-checks">
        <label class="switch switch-checks"> Under Review
          <% a = @checks.pluck(:under_review).uniq if @checks.present? %>
          <% val = a.try(:count) == 1 && a.try(:first) == true ? true : false %>
          <%= check_box_tag 'boolValue', val, val %>
          <span class="slider round slider-round-checks"></span>
          <input type="hidden" id="achs_ids" value="<%= @check_ids.present? ? @check_ids : '' %>">
        </label>
      </div>
    </div>
  </div>
  <div class="card-box-internal">
    <div class="col-md-12 ffffff-background-checks">
      <div class="col-md-12 padding-10-10-checks">
        <%= form_tag admins_checks_export_checks_path, method: :post  do  %>
            <input type="checkbox" name="all_checks[]" id="all_checks" class="checks_12" <%= 'checked' if params[:all_checks] == "on" %>> All Checks &nbsp;
            <input type="checkbox" name="paid_checks[]" id="paid_checks" class="checks_12" <%= 'checked' if params[:paid_checks] == "on" %>> Paid Checks &nbsp;
            <input type="checkbox" name="unpaid_checks[]" id="unpaid_checks" class="checks_12" <%= 'checked' if params[:unpaid_checks] == "on" %>> Unpaid Checks &nbsp;
            <input type="checkbox" name="void_checks[]" id="void_checks" class="checks_12" <%= 'checked' if params[:void_checks] == "on" %>> Void Checks &nbsp;
            <input type="checkbox" name="inprogress_checks[]" id="inprogress_checks" class="checks_12" <%= 'checked' if params[:inprogress_checks] == "on" %>> In Progress Checks &nbsp;
            <input type="checkbox" name="printed_checks[]" id="printed_checks" class="checks_12" <%= 'checked' if params[:printed_checks] == "on" %>> Printed Checks
            <input type="checkbox" name="pending_checks[]" id="pending_checks" class="checks_12" <%= 'checked' if params[:pending_checks] == "on" %>> Pending Checks &nbsp;
            <input type="checkbox" name="paid_wire_checks[]" id="paid_wire" class="checks_12" <%= 'checked' if params[:paid_wire] == "on" %>> Paid by Wire &nbsp;
            <input type="checkbox" name="failed_checks[]" id="failed" class="checks_12" <%= 'checked' if params[:failed] == "on" %>> Failed
            <input type="hidden" name="search_params" id="search_params_id">
        <% end %>
      </div>
        <div class="row" >
          <div class="col-md-12">
            <div class="well col-md-6">
              <div class="batch-info">
                <table>
                  <tr>
                    <td colspan="0">
                      <h6 class="text-align-left-checks">Batch Release Date</h6>
                    </td>
                    <td>
                      <h6 id="batch_date" class="text-align-left-checks"><%= params[:batch_date].to_date.strftime("%m/%d/%Y") %></h6>
                    </td>
                    <td colspan="1">
                      <h6 class="text-align-left-checks">Batch Checks ID</h6>
                    </td>
                    <td colspan="2">
                      <h6 id="batch_date" class="text-align-left-checks"><%= params[:batch_checks_id] %></h6>
                    </td>
                  </tr>
                  <tr>
                    <td colspan="0">
                      <h6 class="text-align-left-checks">Original Batch Amt</h6>
                    </td>
                    <td>
                      <h6 class="text-align-left-checks">$<%=number_with_precision(@total_withdraw, precision: 2, delimiter: ',') %></h6>
                    </td>
                    <td colspan="0">
                      <h6 class="text-align-left-checks">Total Requests</h6>
                    </td>
                    <td>
                      <h6 id="total_requests" class="text-align-left-checks"><%= @checks.total_count %></h6>
                    </td>
                    <td colspan="0">
                      <h6 class="text-align-left-checks">Total Paid by Wire</h6>
                    </td>
                    <td>
                      <h6 class="text-align-left-checks"><%= @paid_by_wire_achs %></h6>
                    </td>
                  </tr>
                  <tr>
                    <td colspan="0">
                      <h6 class="text-align-left-checks">Total Pending Amt</h6>
                    </td>
                    <td>
                      <h6 class="text-align-left-checks">$<%=number_with_precision(@total_pending_amount, precision: 2, delimiter: ',') %></h6>
                    </td>
                    <td colspan="0">
                      <h6 class="text-align-left-checks">Total Pending</h6>
                    </td>
                    <td>
                      <h6 class="text-align-left-checks"><%= @pending_achs %></h6>
                    </td>
                    <td colspan="0">
                      <h6 class="text-align-left-checks">Total Failed</h6>
                    </td>
                    <td>
                      <h6 class="text-align-left-checks"><%= @failed_achs %></h6>
                    </td>
                  </tr>
                  <tr>
                    <td colspan="0">
                      <h6 class="text-align-left-checks">Total Processed Amt</h6>
                    </td>
                    <td>
                      <h6 class="text-align-left-checks">$<%=number_with_precision( @total_process_achs, precision: 2, delimiter: ',') %></h6>
                    </td>
                    <td colspan="0">
                      <h6 class="text-align-left-checks">Total Paid</h6>
                    </td>
                    <td>
                      <h6 class="text-align-left-checks"><%= @paid_achs %></h6>
                    </td>
                    <td colspan="0">
                      <h6 class="text-align-left-checks">Total Void(s)</h6>
                    </td>
                    <td>
                      <h6 class="text-align-left-checks"><%= @void_requests %></h6>
                    </td>
                  </tr>
                </table>
              </div>
            </div>
            <div class="col-md-2">
                 <%=	form_tag admins_bulk_status_change_path, method: :get do %>
                   <label for="ach_gateway_id">Select Check Bank</label>
                   <%= select_tag( "ach_gateway_id",
                                   options_for_select([["Checkbook", "checkbook_io"]]),
                                   class: "form-control",
                                   include_blank: "Choose Bank",
                                   ) %>

                   <label for="check_status" class="margin-top-10-px-checks">Status</label>
                   <%= select_tag( "check_status",
                                   options_for_select([["Paid", "PAID"],["Paid by wire", "PAID_WIRE"],["Failed", "FAILED"],["Void", "VOID"],["In Process", "IN_PROCESS"]]),
                                   class: "form-control",
                                   include_blank: "Choose Status",
                                   ) %>

                 <input type="hidden" name="all_check" id="all_check" value="">
                 <input type="hidden" name="unchecked" id="unchecked_ids">
            </div>
          <div class="col-md-3">
            <div id="export_btn_checks">
              <% if params[:q].present?
                   q = params[:q]
                 else
                   q = ""
                 end
              %>
              <% if params[:q].present? %>
                <% params[:q].permit! %>
              <% end %>
              <%= link_to "Export",admins_batch_checks_path(format: :csv, all_checks: params[:all_checks],paid_checks: params[:paid_checks], unpaid_checks: params[:unpaid_checks],void_checks: params[:void_checks],inprogress_checks: params[:inprogress_checks],printed_checks: params[:printed_checks],pending_checks: params[:pending_checks],paid_wire_checks: params[:paid_wire_checks], from_filter: params[:from_filter], filter: params[:filter], q: q, batch_date: params[:batch_date]), class:"btn btn-primary pull-right" %>
            </div>
          </div>
          <div class="col-md-1">
              <input type="hidden" name="ids" id="checks_ids">
              <%= submit_tag "Submit", class: 'btn btn-success pull-right submit_btn margin-left-20-px-font-weight-600-checks', data: {ach_gateway_id: "ach_gateway_id", confirm: 'Your confirm message' },disabled:true %>
          </div>
          </div>
          </div>
        <% end %>

          <div class="col-md-12 padding-0-top-40-checks">
            <div class="col-sm-6 col-md-6">
              <div class="dataTables_length">
                <span class="float-left-checks">
                  <a href="<%= admins_total_funds_path %>" class="btn btn-sm batch-checks-back-button">Back</a>
                </span>
                <div class="col-md-6 ">
                  <span class="batch-checks-show-button">Show</span>
                  <span class="float-left-checks">
                              <%= form_tag admins_batch_checks_path(), id: 'f-form', method: :get  do  %>
                                   <%= select_tag "filter", options_for_select(@filters.map{|v|[v]}, selected: params[:filter].present? ? params[:filter] : "10"),
                                                  :prompt => false,
                                                  :required => true,
                                                  # data: {:remote => true},
                                                  class: "form-control form-control-sm",
                                                  id: "batch_filter"

                                   %>
                        <span id="filter_input">
                                    <input type="hidden" name="all_checks" id="all_checks_hidden" value="on">
                                    <input type="hidden" name="paid_checks" id="paid_checks_hidden" value="<%= params[:paid_checks].present? ? params[:paid_checks] : '' %>">
                                    <input type="hidden" name="unpaid_checks" id="unpaid_checks_hidden" value="<%= params[:unpaid_checks].present? ? params[:unpaid_checks] : '' %>">
                                    <input type="hidden" name="void_checks" id="void_checks_hidden" value="<%= params[:void_checks].present? ? params[:void_checks] : '' %>">
                                    <input type="hidden" name="inprogress_checks" id="inprogress_checks_hidden" value="<%= params[:inprogress_checks].present? ? params[:inprogress_checks] : '' %>">
                                    <input type="hidden" name="printed_checks" id="printed_checks_hidden" value="<%= params[:printed_checks].present? ? params[:printed_checks] : '' %>">
                                    <input type="hidden" name="pending_checks" id="pending_checks_hidden" value="<%= params[:pending_checks].present? ? params[:pending_checks] : '' %>">
                                    <input type="hidden" name="paid_wire_checks" id="paid_wire_hidden" value="<%= params[:paid_wire_checks].present? ? params[:paid_wire_checks] : '' %>">
                                    <input type="hidden" name="failed" id="failed_hidden" value="<%= params[:failed].present? ? params[:failed] : '' %>">
                                    <input type="hidden" name="from_filter" value="true">
                                    <input type="hidden" name="batch_date" id="batch_date" value="<%= params[:batch_date] %>">
                                    <input type="hidden" name="batch_checks_id" id="batch_checks_id" value="<%= params[:batch_checks_id] %>">
                                    <input type="hidden" name="q" value="<%= params[:q].try(:[],"name_or_send_via_or_recipient_cont") %>" id="q_hidden">
                                    <input type="hidden" name="batch_search_params" value="<%= params[:batch_search_params].present?  ? params[:batch_search_params].to_json : '' %>">
                                 </span>
                              <% end %>
	                          </span>
                  <span class="batch-checks-entries-button">Entries</span>
                </div>
              </div>
            </div>
            <div class="col-sm-6 col-md-6">
              <input type="text" class="form-control pull-right width-230-margin-right-10-checks" value="<%= params[:q].try(:[],"name_or_send_via_or_recipient_or_user_name_cont") %>" id="search" placeholder="Search">
            </div>
          </div>
        </div>
    </div>
    <div class="margin-bottom-50-padding-0">
      <div id="check_data_12">
        <%= render 'admins/checks/data_table'%>
      </div>
    </div>
  </div>
</div>
<div id="confirmationDialog" class="modal fade confirmationDialog" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="col-md-12">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Message</h4>
        </div>
        <div class="modal-body">
          <p class="font-size-17-color-black-checks">Your selection contains a mix of statuses to change.
            Please modify your selection or click submit if this is acceptable.</p>
        </div>
        <div class="modal-footer">
          <button class="width-15per-checks" type="button" class="btn btn-default" data-dismiss="modal">OK</button>
        </div>
      </div>
    </div>
  </div>
</div>
<div id="cover-spin"></div>