$('#cover-spin').fadeOut("slow");
$('#check_data_12').empty();
$('#check_data_12').append("<%= j render(:partial => '/admins/checks/data_table')%>")
$("#export_btn_checks").html('').html('<%= link_to "Export",admins_batch_checks_path(format: :csv, all_checks: params[:all_checks],paid_checks: params[:paid_checks], unpaid_checks: params[:unpaid_checks],void_checks: params[:void_checks],inprogress_checks: params[:inprogress_checks],printed_checks: params[:printed_checks],pending_checks: params[:pending_checks],paid_wire_checks: params[:paid_wire_checks], from_filter: params[:from_filter], filter: params[:filter], q: params[:q_value], batch_date: params[:batch_date], check_ids: @all_checks.pluck(:id)),id: "export_btn", class:"btn btn-primary pull-right" %>');
$(".padd").on("click", function () {
    $("#cover-spin").show();
})

<% if params[:q].present? %>
<% if params[:q][:name_or_send_via_or_recipient_cont].present? %>
$('#q_hidden').val('<%= params[:q][:name_or_send_via_or_recipient_cont] %>');
<% end %>
<% end %>

<%if params[:batch_date].present? %>
  $('#batch_date_input').val('<%= params[:batch_date]%>');
<% end %>

<% if params[:all_checks].present? %>
  $('#all_checks').prop('checked',true);
  $('#all_checks_hidden').val('on');
<% else %>
  $('#all_checks_hidden').val('');
<% end %>

<% if params[:paid_checks].present? %>
  $('#paid_checks').prop('checked',true);
  $('#paid_checks_hidden').val('on');
<% else %>
  $('#paid_checks_hidden').val('');
<% end %>

<% if params[:unpaid_checks].present?%>
  $('#unpaid_checks').prop('checked',true);
  $('#unpaid_checks_hidden').val('on');
<% else %>
  $('#unpaid_checks_hidden').val('');
<% end %>

<% if !params[:void_checks].nil?%>
  $('#void_checks').prop('checked',true);
  $('#void_checks_hidden').val('on');
<% else %>
  $('#void_checks_hidden').val('');
<% end %>

<% if !params[:inprogress_checks].nil?%>
  $('#inprogress_checks').prop('checked',true);
  $('#inprogress_checks_hidden').val('on');
<% else %>
  $('#inprogress_checks_hidden').val('');
<% end %>

<% if !params[:printed_checks].nil?%>
  $('#printed_checks').prop('checked',true);
  $('#printed_checks_hidden').val('on');
<% else %>
  $('#printed_checks_hidden').val('');
<% end %>

<% if !params[:pending_checks].nil?%>
  $('#pending_checks').prop('checked',true);
  $('#pending_checks_hidden').val('on');
<% else %>
  $('#pending_checks_hidden').val('');
<% end %>

<% if !params[:paid_wire].nil?%>
  $('#paid_wire').prop('checked',true);
  $('#paid_wire_hidden').val('on');
<% else %>
  $('#paid_wire_hidden').val('');
<% end %>

<% if params[:failed].present?%>
  $('#failed').prop('checked',true);
  $('#failed_hidden').val('on');
<% else %>
  $('#failed_hidden').val('');
<% end %>
//---------------------------data_table.html.erb................//
$('.padd').css('margin-top','-10px').css('margin-bottom', '10px').css('margin-right', '10px');
$('#datatable-keytable_checks').DataTable({
    // responsive: true,
    "sScrollX": false,
    "sscrollX": false,
    "order": [[ 0, "desc" ]],
    "columnDefs": [{ "orderable": false, "targets": 9 }],
    "bFilter": false,
    "bInfo": false,
    "bPaginate": false,
    "searching": false
//        "buttons": [
//            {extend: 'csv', text: '<i class="fa fa-file"></i> Export', className: 'btn pull-right'}
//        ],
//        dom: "<'row'<'col-sm-2'l><'col-sm-10'<'col-sm-11'f><'col-sm-1 row-padding-zero'B>>>" +
//            "<'row'<'col-sm-12'tr>>" +
//            "<'row'<'col-sm-5'i><'col-sm-7'p>>",
});
$(".padd").on("click", function () {
    $("#cover-spin").show();
})
var lt= $('.timeUtc').each(function (i,v) {
    var gmtDateTime = moment.utc(v.innerText,'YYYY-MM-DD HH:mm:ss');
    var local = moment(gmtDateTime).local().format('MM-DD-YYYY hh:mm:ss A');
    v.innerText = local
});
console.log("sdsdsd");
var checkedAch = [];
var unCheckedAch = [];
checkedAch = $("#checks_ids").val();
unCheckedAch = $("#unchecked_ids").val();
checkedAch = checkedAch.split(",");
unCheckedAch = unCheckedAch.split(",");
var page = "<%= params[:page] %>";
console.log(page);
var isAllCheck = $('#all_check').val();
console.log(isAllCheck);
if (page > 1) {
    if (isAllCheck === "true") {
        $('#all-check').hide()
    }
}
if (isAllCheck === "true") {
    $('.all').prop("checked", true);
    $('#all-check').prop("checked", true)
    // $("input:checkbox:checked").each(function(){
    //     if($(this).val() !== "on"){
    //         checkedAch.push($(this).val());
    //     }
    // });
    // $("#checks_ids").val(checkedAch)
} else {
    $('.all').prop("checked", false);
}

$('.all').on('click', function () {
    var isChecked = $(this).prop("checked");
    var status = $(this).data("status")
    console.log(status)
    var targetValue = $(this).val();
    if(isChecked){
        checkedAch.push(targetValue)
        unCheckedAch = filterVal(checkedAch);;
    }
    else{
        unCheckedAch.push(targetValue);
        checkedAch = filterVal(checkedAch);;
    }
    if(checkedAch[0] === ""){
        checkedAch.shift();
    }
    if(unCheckedAch[0] === ""){
        unCheckedAch.shift();
    }
    console.log(checkedAch)
    console.log(unCheckedAch)
    $("#ach_ids").val(checkedAch)
    $("#unchecked_ach").val(unCheckedAch)
});

for(var i = 0; i < unCheckedAch.length; i++){
    $("#checkbox_animated_"+unCheckedAch[i]).prop("checked", false)
}
checkedAch = filterVal(checkedAch);
for(var i = 0; i < checkedAch.length; i++){
    $("#checkbox_animated_"+checkedAch[i]).prop("checked", true)
}

$(document).on('click','.view_check_details',function (e) {
    $(".date-modal-class").css("pointer-events", "none");
})
function filterVal(val_array){
    checkedAch = []
    checkedAch = val_array.filter(function(elem, index, self) {
        return index === self.indexOf(elem);
    });
    return checkedAch;
}