
<section id="counter"></section>
<div class="row card-box">
  <div class="box-header">
    <div class="row padding-right-3-top-10-px-checks">
      <%= link_to '<button class="btn btn-default pull-right a-tag"><i class="fa fa-refresh" id="refresh"></i><span id="text"> Refresh</span></button>'.html_safe, admins_checks_refresh_status_path, class: "refresh_a_tag", remote: :true %>
      <div class="pull-right float-right-margin-diff-1-checks">
            <div class="width-150-px-checks">
              <label class="switch switch-checks"> Send Checks
                <%= check_box_tag 'boolValue', true, @issue_checks.boolValue %>
                <span class="slider round slider-round-checks"></span>
              </label>
            </div>
        </div>
    </div>
    <div class="col-md-12"></div>
    <p class="checks-transaction-checks">Check Transactions</p>
    <div class="pull-right padding-r-20-margin-r-20-padding-top-7-px">
      <p class="display-inline-margin-r-20-px-checks"><%= Date.today %></p>
      <span><span class="margin-right-5-px-checks">|</span><i class="fa fa-calendar"></i></span>
    </div>
  </div>
  <div class="card-box-internal">
    <section class="example">
      <div class="">
        <div>
          <%= form_tag admins_check_batches_path, method: :get, class:'search_ach_batches' do %>
            <%= hidden_field_tag "category", params[:category] %>
            <div class="" id="search1">
              <div class="row">
                <div class="col-md-12">
                  <h5>Search Check Batches</h5>
                </div>

                <div class="col-md-12 margin-top-15-px-checks">
                  <div class="form-group col-md-4">
                    <label for="id">Search</label>
                    <input type="text" name="query[find_by]" value="<%= params[:query]["find_by"] if params[:query].present? %>" id="token" class="form-control" placeholder=""  />
                  </div>
                  <div class="form-group col-md-4">
                    <label>Search By</label>
                    <% if params[:query].present? %>
                      <% query_option_custom = params[:query]['option'] %>
                    <% else %>
                      <% query_option_custom = "id" %>
                    <% end %>
                    <%= select_tag 'query[option]', options_for_select({"Check Id" => "id", "Check Number" => "check_number", "Name" => "name", "Location Name" => "business_name", "Recipient" => "recipient", "Amount" => "actual_amount"},query_option_custom ), class: "form-control" %>
                  </div>
                  <div class="col-md-2 margin-top-28-px-checks" >
                    <%#= submit_tag "Search" %>
                    <button type="submit" class="btn btn-success btn-sm search_button"> Search </button>
                  </div>
                </div>
              </div>

            </div>
          <% end  %>
        </div>
        <div class="table-responsive">
          <table id="batch_table" class="table table-striped table-bordered center-text" cellspacing="0" cellpadding="0">
            <thead>
            <tr class="header-row center-text white-color-checks">
              <th>Funding Date</th>
              <th>Total request</th>
              <th>Funding Amount</th>
              <th>Fees</th>
              <th>Total</th>
              <th>Status</th>
              <th>Action</th>
            </tr>
            </thead>
            <tbody>
            <% @check_batches.each do |batch_key,batch_value| %>
                <tr>
                  <td class="timeUtc"><%= batch_key.strftime("%m-%d-%Y")%></td>
                  <td><%= batch_value.count %></td>
                  <% total_funding_amount = batch_value.map{|a| a.actual_amount if a.pending?}.compact.inject(0){|sum,x| sum + x } %>
                  <% total_funding_fee_amount = batch_value.map{|a|  a.check_fee.to_f + a.fee_perc.to_f }.compact.inject(0){|sum,x| sum + x } %>

                  <td>$ <%= number_with_precision(total_funding_amount.to_f, :precision => 2, delimiter: ',') %></td>
                  <td>$ <%= number_with_precision(total_funding_fee_amount, :precision => 2, delimiter: ',') %></td>
                  <% total_amount = batch_value.map{|a| a.amount }.compact.inject(0){|sum,x| sum + x } %>

                  <td>$ <%= number_with_precision(total_amount.to_f, :precision => 2, delimiter: ',') %></td>
                  <td><% status = check_batch_status(batch_value) %>
                    <% if status == "Complete" %>
                        <span class="badge badge-success padding-10-background-5cb85c-checks"><%= status %></span>
                    <% else %>
                        <span class="badge badge-info padding-10-background-17a2b8-checks"><%= status %></span>
                    <% end %>
                  </td>
                  <td>
                    <% ids = batch_value.map {|a| a.id } %>
                    <%= link_to("View", admins_batch_checks_path(check_ids: ids,batch_date: batch_key) , :class => "btn btn-default color-black-checks") %>
                  </td>
                </tr>
            <% end %>
            </tbody>
          </table>
        </div>
        <div class="col-md-12">
          <div class="row">
            <div class="col-md-4"></div>
            <div class="col-md-8">
              <div class="text-align-right-checks">
                <%#= paginate @check_batches, :theme => 'twitter-bootstrap-3', :pagination_class => "pagination-small pagination-centered pull-right padd"%>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</div>

<script>
    $('#batch_table').DataTable( {
        // "bPaginate": true,
        searching: false,
        "buttons": [
            {extend: 'csv', text: '<i class="fa fa-file"></i> Export', className: 'btn pull-right'}
        ],
        dom: "<'row'<'col-sm-2'l><'col-sm-10'<'col-sm-11'f><' row-padding-zero pull-right'B>>>" +
            "<'row'<'col-sm-12'tr>>" +
            "<'row'<'col-sm-5'i><'col-sm-7'p>>",
//        order: [ [ 0, 'desc' ]],
        ordering: false,
        columnDefs: [ { orderable: false, targets: [2,1,3,4,5,6] } ]
    } );

    // $(document).ready(function () {
    //     var lt= $('.timeUtc').each(function (i,v) {
    //         var local = moment(v.innerText).local().format('MM-DD-YYYY');
    //         v.innerText = local
    //     });
    // });

    $('#boolValue').change(function () {
        swal({
            title: "Are you sure?",
            type: "warning",
            showCancelButton: true,
            closeOnConfirm: false,
            closeOnCancel: true
        }).then((isConfirm) => {
            var msg = $(this).is(':checked') == true ? 'enabled!' : 'disabled!';
        if (isConfirm.value === true) {
            $.ajax({
                url: "<%= app_configs_path %>",
                type: 'POST',
                data: { id: '<%= @issue_checks.id %>', key: '<%= @issue_checks.key %>', boolValue: $(this).checked },
                success: function(data) {
                    swal("Updated!", "Send Checks are successfully " + msg, "success");
                },
                error: function(error){
                    console.error('Update Check Issue Error: ', error);
                    swal("Cancelled", "An unexpected error occured :)", "error");
                }
            });
        } else {
            $(this).prop("checked", !$(this).is(':checked'));
        }
    });
    });
</script>
