$("#checkSection").html('').html("<%= j render partial: '/admins/checks/show', locals: {:check => @check, :user => @user, :parent_merchant => @parent_merchant} %>");
<% if @check.ach? %>
$(".admin_check_title").html("ACH")
<% elsif @check.instant_ach? %>
$(".admin_check_title").html("ACH")
<% end %>
$("#checkModal").modal();

$('.date-modal-class').css("pointer-events", "visible");
$(document).ready(function() {
    /* Activating Best In Place */
    $(".best_in_place").best_in_place();


$(".status-menu").change(function(){
    <%# if check.instant_ach? || check. %>
    var status='<%= @check.status %>'
    if($(this).children("option:selected").val()=='PAID' && status=='VOID'){
        $('#charge_menu').show();
    }
    else if($(this).children("option:selected").val()=='paid_wire' && status=='VOID'){
        $('#charge_menu').show();
    }
    else{
        $('#issue_menu').hide();
        $('#charge_menu').hide();
    }
    <%# end %>
});

$(".show-status").on('click', function () {
    // $('#status_tab').show();
    $("#status_tab").toggle();
});
$('#status_tab').hide();
$('#issue_menu').hide();
$('#charge_menu').hide();

$(".phone_number_div").hide();
$(".pincode_div").hide();
$(".final_div").hide();
$(".error-phone").hide();
$(".error-pincode").hide();
$('.void_submit_button').hide();
$('#alert-now').hide();
$(".void_button").on("click", function () {
    // $(".details").hide();
    $(".phone_number_div").show();
    $(".void_button").hide();
    $("#modal-label-69").html('').html('Verification');
});

$("#phone_number_button").on('click', function () {
    var phone_number=$('#phone_number').val();
    var invoice_id=$('#check_id').val();
    var status_selected=$('.status_selected').val();
    if(phone_number.length > 0) {
        $.ajax({
            url: "<%=verify_phone_number_admins_invoices_path %>",
            method: 'get',
            data: {phone_number: phone_number, invoice_id: invoice_id, identity: "i_am_check",status_selected: status_selected},
            success: function () {
                $('#phone_number_button').html('Verified').removeClass('btn-primary').addClass('btn-success');
                setTimeout(function () {
                    $('#phone_number').css('display', 'none').fadeOut("slow");
                    $('.phone_number_div').hide();
                    $('.pincode_div').show();
                    $("#modal-label-69").html('').html('Enter Pin Code You Recieved');
                }, 1000);
            }, error: function (result) {
                $('#phone_number_button').html('UnAuthorized').removeClass('btn-primary').addClass('btn-danger');
                setTimeout(function () {
                    $('#phone_number_button').html('Submit').removeClass('btn-danger').addClass('btn-primary');
                }, 1500);
                $(".error-phone").show();
            }
        });
    }
});

$("#pincode_button").on('click', function () {
    var pincode=$('#pincode').val();
    var invoice_id=$('#check_id').val();
    if(pincode.length > 0) {
        $.ajax({
            url: "<%= verify_phone_number_admins_invoices_path %>",
            method: 'get',
            data: {pincode: pincode, invoice_id: invoice_id},
            success: function () {
                setTimeout(function () {
                    $('#pincode_button').val('Verified').removeClass('btn-primary').addClass('btn-success').attr("disabled",true);
                    $('.void_submit_button').show();
                    $('#alert-now').show();
                }, 1000);
                $('.void_submit_button').attr("type","submit");
            }, error: function (result) {
                $('#pincode_button').html('UnAuthorized').removeClass('btn-primary').addClass('btn-danger');
                setTimeout(function () {
                    $('#pincode_button').html('Submit').removeClass('btn-danger').addClass('btn-primary');
                }, 1500);
                $(".error-pincode").show();
                $("#pincode_button").attr("disabled", false);
            }
        });
    }
});

function submitpincode(){
    $("#pincode_button").attr("disabled", true);
}


    if ($(".show-status").text() == "PAID" ||  $(".show-status").text() == "PAID_WIRE" || $(".show-status").text() == "Paid by Wire"){
        $(".note-to-customer-box").hide();
        $(".note-to-internal-box").hide();
    }else{
        if ($(".show-status").text() == "IN_PROCESS" || $(".show-status").text() == "IN_PROGRESS" || $(".show-status").text() == "PENDING" ){
            $(".note-to-customer-box").hide();
        }
    }

    // $(".note-to-customer-box").hide();

    $(".status_selected").on('change',function() {
        if($(this).val() === "FAILED" || $(this).val() === "VOID"){
            if ($(".show-status").text() == "PAID" ||  $(".show-status").text() == "PAID_WIRE" || $(".show-status").text() == "Paid by Wire" ){
                $(".note-to-customer-box").show();
                $(".note-to-internal-box").show();
            }else{
                $(".note-to-customer-box").show()
            }
        }else{
            if ($(".show-status").text() == "PAID" ||  $(".show-status").text() == "PAID_WIRE" || $(".show-status").text() == "Paid by Wire"){
                $(".note-to-customer-box").hide();
                $(".note-to-internal-box").hide();
            }else{
                $(".note-to-customer-box").hide()
            }
        }
    });

    $('form input').keydown(function (e) {
        return e.keyCode != 13
    });
    $('#password_btn').on('click',function () {
        var password = $('#password').val();
        $.ajax({
            url: "<%= verify_user_merchant_transactions_path %>",
            method: 'get',
            data: {password: password},
            success:function(data){
                //                $("#password_btn").css("background","green").text('').text("Verified");
                $("#info-text").text('');
                setTimeout(function(){
                    // $('#password').attr("disabled","disabled");
                    //                    $('#verifymodal').fadeOut("slow");
                    $('#verify_btn').hide();
                    $('#password_btn').hide();
                    $('#send').show();
                    $('.void_submit_button').show();
                    $('#alert-now').show();
                    $('.void_submit_button').attr("type","submit");
                    $(".phone_number_div").fadeOut("slow");
                    //                    $('.void_submit_button').attr("type","submit");
                }, 1000);
                $('.void_submit_button').attr("type","submit");
            },
            error: function(data){
                $('.void_submit_button').hide();
                $("#password_btn").css("border","1px solid red");
                $("#info-text").text('').css("color","red").text('Please try again!');
            }
        });
    });
    $('#verifymodal').on('hidden.bs.modal', function () {
        $('#send').hide();
        $('#password_btn').show();
        $('#password').val('')
        // do something…
    })
});