<div class="modal fade" id="ach_detail" class="confirmuserpermissionModal" tabindex="-1" role="dialog" aria-labelledby="orderModelLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header" >
        <p class="ach_heading">Details</p>
        <button type="button" class="close mt-2" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true"><%= image_tag "v2/merchant/icons/close_modal.svg" %></span>
        </button>
      </div>
      <div class="modal-body">
        <div class="account-transfer-confirm">
          <form onsubmit="return false">
            <div class="row mt-4">
              <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-xs-12">
                <div class="brown no-radius">
                  <div class="small">
                    Account
                  </div>
                  <div class="name" id="account_name">

                  </div>
                </div>
                <div class="simple no-radius">
                  <div class="small">
                    Recipient
                  </div>
                  <div class="sub_name name" id="recipient">

                  </div>
                </div>
                <div class="brown no-radius">
                  <div id="ach_id" class="small">
                    Number
                  </div>
                  <div class="name" id=account_number>

                  </div>
                </div>
                <div class="simple no-radius">
                  <div class="small">
                    Status
                  </div>
                  <div class="sub_name name" id="tango_detail">

                  </div>
                </div>
                <div class="brown no-radius">
                  <div class="small">
                    Memo
                  </div>
                  <div class="name acc-dec" id="tango_memo">

                  </div>
                </div>
              </div>

              <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-xs-12">
                <div class="right-box">
                  <div class="title">
                    Accounts
                  </div>
                  <hr class="hr mt-3">
                  <div class="brown">
                    <div class="label">
                      <span class="ach_amount">ACH Amount</span>
                      <span class="price pull-right" id="tango_amount">
                      $0.00
                    </span>
                    </div>
                  </div>
                  <div class="simple">
                    <div class="label">
                      Fee
                      <span class="price pull-right" id="tango_fee">
                       $0.00
                      </span>
                    </div>
                  </div>
                  <hr class="hr mt-3">
                  <div class="brown">
                    <div class="label">
                      Total Amount
                      <span class="price pull-right" id="tango_t_amount">
                      $0.00
                    </span>
                    </div>
                  </div>
                </div>
              </div>

               <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 mt-4">
                <center>
                  <%# if @user_permission.try(:ach_void) %>
                  <a id="void_modal" href="#" class="btn btn_ach_void" data-dismiss="modal" data-toggle="modal" data-target="#ach_void_modal" aria-label="Close">Void</a>
                    <%# end %>
                    <a href="#" class="btn btn_ach_close ml-3" data-dismiss="modal" aria-label="Close">Close</a>
                </center>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
