<!-- begin::Quick Sidebar -->
<div id="m_quick_sidebar" class="side-scrollbar m-quick-sidebar m-quick-sidebar--tabbed m-quick-sidebar--skin-light">
  <div class="m-quick-sidebar__content m--hide" id="shop_mobile">
    <div class="tab-content-profile">
      <div class="tab-content-box" >
      </div>
      <div class="user-profile">
        <div class="user-profile-info mt-3">
            <span class="m-topbar__userpic user-name-side-bas">
              <%= first_letter_name %>
            </span>
          <% if current_user.affiliate_program? %>
            <% if current_user.profile.present? %>
              <% corporate_user =  current_user.profile.company_name.present? ? current_user.profile.company_name : 'n/a'%>
            <% else %>
              <% corporate_user = current_user.company_name.present? ? current_user.company_name : '--'%>
            <% end %>
            <h4 class="user-name tip_style"><span><%= corporate_user %></span><%= corporate_user.truncate(18)  %></h4>
          <%else%>
            <h4 class="user-name tip_style"><span><%= current_user.try(:name) %></span><%= current_user.try(:name).truncate(18)  %></h4>
          <%end%>
          <p class="user-account-id mt-1">Account ID: <%= set_profile_id(current_user)  %></p>
            <% if current_user.archived && current_user.is_block %>
              <p>
                <%= image_tag "v2/merchant/icons/inactive-red.svg" , alt: '' %>
                <span class="ml-2 inactive-text"> Inactive </span>
              </p>
            <% else %>
              <p>
                <%= image_tag "v2/merchant/icons/green_dott.svg" , alt: '' %>
                <span class="ml-2 active-text"> Active </span>
              </p>
            <% end %>

          <!--          <p>-->
          <%#= image_tag "v2/merchant/icons/cancel_dot.svg" , alt: '' %>
          <!--            <span class="ml-2 cancelled-text"> Cancelled </span>-->
          <!--          </p>-->

          <!--          <p>-->
          <%#= image_tag "v2/merchant/icons/terminated_dot.svg" , alt: '' %>
          <!--            <span class="ml-2 terminated-text"> Terminated </span>-->
          <!--          </p>-->
        </div>
        <div class="bg-profile mt-4">
          <a href="/v2/partner/profiles" class="profileSection">
            <div class="bg-orange">
              <%= image_tag "v2/profile/my_profile.svg"  , class:"my-profile-icon" %>
            </div>
            <span class="my-profile">My Profile</span>
          </a>
        </div>
        <div class="profile-botton-section">
          <hr>
          <ul class="help">
            <li><a href="#">About us</a></li>
<!--            <li><a href="<%#=faq_v2_merchant_profiles_path %>">FAQ</a></li>-->
            <li><a href="<%= privacy_policy_v2_partner_profiles_path %>">Privacy policy</a></li>
            <li><a href="<%= tos_v2_partner_profiles_path %>">Terms of services</a></li>
          </ul>
          <hr>
          <div class="bg-logout">
            <% if user_signed_in? %>
              <a data-dismiss="modal" aria-label="Close" data-toggle='modal' data-target='#ConfirmLogOutModel'>
                <%= image_tag('v2/profile/log_out.svg' , :alt => "log_out", :class => "logout__icon")%>
              </a>
            <% end %>
          </div>
          <% if user_signed_in? %>
            <a class="btn btn-sml logout-btn" data-dismiss="modal" aria-label="Close" data-toggle='modal' data-target='#ConfirmLogOutModel' >Logout</a>
          <% end %>
          <p class="version-number">QuickCard <%= QuickCard::APP_VERSION %></p>
        </div>
      </div>

    </div>
  </div>
</div>
<%= render partial: "v2/merchant/shared/confirm_logout" %>