<div class="cookie-overlay">
  <center class="cookie-center">
    <div class="cookie-body">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="row">
          <div class="col-lg-2">
            <%= image_tag 'v2/merchant/icons/cookies.svg', class:'ml-4 mt-4'%>
          </div>
          <div class="col-lg-9">
            <div class="coockie-p mt-1">
              About our Cookies Policy
            </div>
            <div class="cookie-flex mt-2">
              <div class="cookie-linkp">
                Please note that we only collect cookies that are related to the time zone for transactions that are processed on our platform.
                These are essential cookies for our system records and will not be shared with any unauthorized persons or entity.
              </div>
              <!--<div class="agree-pad">
                <a  class="btn btn-default btn-preview-invoice btn__preview cookie-btn I-Agree ">I Agree</a>
              </div>-->
            </div>
          </div>
          <div class="col-lg-1">
            <button type="button" class="close1" id="partnercookiesbtn" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
        </div>
      </div>
    </div>
  </center>
</div>

