<div class="modal fade" id="GeneralErrorMsgModal" class="confirmuserpermissionModal" tabindex="-1" role="dialog" aria-labelledby="orderModelLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header" >
        <p class="modal-header-text">Error</p>
      </div>
      <div class="modal-body">
        <center>
          <div class="whoops">
            Whoops!
            <br>
            <span class="wrong-here">Something went wrong here!</span>
          </div>
          <div class="following-text mt-5">
            Please contact GreenBox Support and use the following error code:
          </div>
          <div class="error-body mt-4">
            <div class="ERROR-3003">
              <div class="error-code">[Error]</div>
              <p id="error_body" class="error-box"></p>
            </div>
          </div>
          <hr class="error-hr">
          <div class="contact--info">
            Greenbox POS Contact Info
          </div>
          <div class="row mt-3">
            <div class="col-xl-2 col-lg-2 col-md-2 col-sm-2 col-xs-12">
              <div class="right-phone">
                <%= image_tag "v2/merchant/icons/phone.svg", class:'phone-icon'%>
              </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 col-xs-12">
              <p class="Merchant-Support">Merchant Support</p>
              <p class="copy-text">619-631-4838 <%= image_tag "v2/merchant/icons/copy.svg", class:''%></p>
            </div>
            <div class="col-xl-2 col-lg-2 col-md-2 col-sm-2 col-xs-12">
              <div class="clock-align">
                <%= image_tag "v2/merchant/icons/clock.svg", class:''%>
              </div>
            </div>
            <div class="col-xl-5 col-lg-5 col-md-5 col-sm-5 col-xs-12">
              <div>
                <p class="Available-from">Available from</p>
                <p class="time-error">9am - 5pm PST, Monday - Friday</p>
              </div>
            </div>
          </div>
          <hr class="error-hr">
          <a  class="btn btn-default btn-preview-invoice btn__preview close-btn" data-dismiss="modal">Close</a>
        </center>
      </div>
    </div>
  </div>
</div>
