<div class="modal fade" id="exportProcessingModal" class="createuserpermissionModal" tabindex="-1" role="dialog" aria-labelledby="orderModelLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header" >
        <p class="modal-header-text"><%= title || "Export E-checks" %></p>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">

        </button>
      </div>
      <div class="modal-body pl-5">
        <div class="text-center processing-data-part" id="processing_export">
          <p class="simple-36-bold-text mb-5">Processing data for<br>
            report export.</p>
          <p class="simple-16-bold-text mb-0">You will be notified via email once the report is ready.
          </p>
          <p  class="simple-16-bold-text mb-0">The report will be available for download in your QuickCard</p>
          <p  class="simple-16-bold-text mb-0">account portal under the “Exports” menu.</p>
        </div>
        <div class="text-center processing-data-part hide_image" id="pending_export">
          <p class="simple-36-bold-text mb-5">Please Wait!<br>
          </p>
          <p class="simple-16-bold-text mb-0">Your previous Exports are being processed!
          </p>
        </div>
        <div class="text-center mb-4">
          <a href="#" class="btn btn-default export-processing-close" data-dismiss="modal">Close</a>
        </div>
      </div>
    </div>
  </div>
</div>
