<div class="modal fade" id="echeckModal" class="createuserpermissionModal" tabindex="-1" role="dialog" aria-labelledby="orderModelLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header" >
        <p class="modal-header-text"><%= title %></p>
        <button type="button" class="close mt-2 mr-1" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true"><%= image_tag "v2/merchant/icons/close_modal.svg" %></span>
        </button>
      </div>
      <div class="modal-body pl-5" id="myID">
        <div>
          <p class="simple-20-bold-text-dark pl-2">Select Export Date Range:</p>
        </div>
        <div class='input-group pull-right date-range-dd rotate--icon' id='daterangepicker_export_bulk'>
          <input type='text' class="form-control m-input" readonly  placeholder="Select date range"/>
          <input type="hidden" id="type" value="<%= type %>">
          <input type="hidden" name="checkboxes" id="checkboxes">
          <input type="hidden" id="date_start" value="<%= (Date.today - 30).strftime("%m/%d/%Y") %>">
          <input type="hidden" id="date_end" value="<%= Date.today.strftime("%m/%d/%Y") %>" >
          <div class="input-group-append">
              <span class="input-group-text">
                <%= image_tag "v2/merchant/icons/down-b.svg", class:'rotate',id:'img--remove'%>
              </span>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-12 col-md-12">
            <div class="text-center mt-5 dataranger-buttons">
              <a href="#" class="btn btn-default gift-card-back-btn mr-2" data-dismiss="modal">Cancel</a>
              <% case type %>
              <% when TypesEnumLib::WorkerType::SendCheck, TypesEnumLib::WorkerType::InstantACH, TypesEnumLib::WorkerType::InstantPAY, TypesEnumLib::WorkerType::BulkCheck %>
                <a class="btn btn-default giftcard-confirm-btn" data-dismiss="modal" data-toggle="modal"  id="export_button">Confirm</a>
              <% when TypesEnumLib::WorkerType::Transactions %>
                <a data-type="transactions"  data-subtype="<%= params[:type].present? ? params[:type] : params[:type] %>" class="btn btn-default giftcard-confirm-btn" data-dismiss="modal" data-toggle="modal" data-target="#exportProcessingModal" id="search_export">Confirm</a>
              <% when TypesEnumLib::WorkerType::RserveReleaseExport, TypesEnumLib::WorkerType::HoldRearExport, TypesEnumLib::WorkerType::MerchantDispute %>
                  <a data-type="<%= type%>" data-wallet_id="<%= @wallet.try(:id) %>" data-subtype="<%= params[:type].present? ? params[:type] : "success" %>" data-batch-id="<%= @hold_in_rear.try(:id) %>" class="btn btn-default giftcard-confirm-btn" data-dismiss="modal" data-toggle="modal" id="search_export">Confirm</a>
              <% when TypesEnumLib::WorkerType::PermissionExport %>
                <a class="btn btn-default giftcard-confirm-btn" data-dismiss="modal" data-toggle="modal" id="export_button">Confirm</a>
              <% else %>
                  <a data-type="transactions" data-wallet_id="<%= @wallet.try(:id) || params[:wallet_id] %>" data-subtype="<%= params[:type].present? ? params[:type] : "success" %>" data-batch-id="<%= @hold_in_rear.try(:id) %>" class="btn btn-default giftcard-confirm-btn" data-dismiss="modal" data-toggle="modal" id="export_button">Confirm</a>
             <% end %>


            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<%= render partial: "v2/partner/shared/export_processing" , locals: {title: title} %>
<%#= javascript_include_tag 'v2/merchant/bootstrap-daterangepicker' %>
<%= javascript_include_tag 'v2/partner/daterangerpicker' %>
<%= javascript_include_tag 'v2/partner/export_modal' %>