
<%= render partial: 'v2/partner/shared/datatable_search',locals: {filter_path: v2_partner_exports_path,search_id: ""} %>
<div class=" mt-4 m-bt">
    <table  class="table table-striped table-bordered table-hover table-checkable listing_datatable new_message dataTable no-footer chargeback_datatable table_line_height">
      <!--<table class="table table-striped- table-bordered table-hover table-checkable listing_datatable new_message" id="m_table_1">-->
      <thead>
      <tr>
        <th>
          ID
        </th>
        <th>
          Report Name
        </th>
        <th>
          Start Date
        </th>
        <th>
          End Date
        </th>
        <th>
          Created Date
        </th>
        <th>

        </th>
        <th>
          <center>
            <%= render partial: "v2/partner/shared/datatable_status" %>
          </center>
        </th>
      </tr>
      </thead>
      <% if @files.present? %>
      <tbody class="table-striped">
      <% @files.each do |file| %>
        <tr class="charge_back_hover">
          <td>
            <%= file.id %>
          </td>
          <td>
            <%= file.name.present? ? file.name : file.report_type.try(:humanize)  %>
          </td>
          <td>
            <%= file.first_date.present? ? file.first_date.strftime("%m-%d-%Y") : "-" %>
          </td>
          <td>
            <%= file.second_date.present? ? file.second_date.strftime("%m-%d-%Y") : "-" %>
          </td>
          <td >
            <%= file.created_at.in_time_zone("Pacific Time (US & Canada)").strftime("%m-%d-%Y %I:%M:%S %p") %>
          </td>
          <td>
            <center>
              <% if file.file_id.present? && file.status == "completed" %>
                <% unless file.read %>
                  <div class="new ml-4">NEW</div>
                <% end %>
                <% file_id = file.file_id.is_a?(Hash) ? file.try(:file_id).try(:[],"id") : file.file_id %>
                <a href="/v2/partner/exports/export_download?id=<%= file_id %>&report_id=<%= file.id %>" data-status="<%= file.read %>" id="a_new_<%= file.id %>" class="report_count" >
                  <%= image_tag "v2/merchant/datatable/download_icon.svg" %>
                </a>
                <input type="hidden" id="file_id_input" value="<%= file.id %>>">
              <% elsif file.status == "pending" %>
                <%= image_tag "v2/merchant/datatable/export_loader.svg" %>
              <% else %>
                <span>No Transactions</span>
              <% end %>
            </center>
          </td>
          <td>
            <center>
              <% if file.status == "completed" %>
                <span class="badge paid">COMPLETED</span>
              <% elsif file.status == "pending" %>
                <span class="badge pending">IN PROGRESS</span>
              <% else %>
                <span class="badge failed">FAILED</span>
              <% end %>
            </center>
          </td>
        </tr>
      <% end %>
      <% else %>
        <tr class="bg-color-white">
          <td colspan="8">
          <div class="col-xl-12 bg-w ">
            <center  class="m-5 p-7">
              <%= image_tag "v2/merchant/datatable/no_data.svg" %>
              <p class="No-data-available mt-4 mr-4">No data available</p>
          </center>
        </div>
        </td>
      </tr>
      <% end %>
      </tbody>
    </table>
</div>
<%= render partial: "v2/partner/shared/datatable_pagination",locals: {variable: @files} %>