<%= stylesheet_link_tag asset_path("main-shared-custom"), media: 'all', 'data-turbolinks-track' => 'reload' %>

<div class="modal fade" tabindex="-1" role="dialog" id="maintenance-modal">
  <div class="modal-dialog form-group">
    <div class="modal-content">
      <div class="modal-header text-left bg-primary text-white modal-header-shared">
        <h4 class="modal-title">
          <i class="fa fa-money"></i>
          <span>
            <%= locals[:title].present? ? locals[:title] : 'System Maintenance' %>
            <%#= local_assigns[:title] %>
          </span>
        </h4>
        <button type="button" class="close" id="close_btn" data-dismiss="modal">&times;</button>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="card-header bordered">
            <div class="card-body">
              <h6>
                <% if locals[:body].present? %>
                  <%= locals[:body] %>
                <% else %>
                  We apologize for the inconvenience, however this feature is not available at this time as maintenance is
                  required to upgrade and improve this feature. You will receive an email confirming resumption of this
                  service upon completion. Note that we have now added the ACH option for you to withdraw your funds.
                <% end %>
              </h6>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>