
<%#= render partial: "shared/datatable_search" %>
<div class="tab-content">
  <div class="tab-pane active" id="m_tabs_9_1" role="tabpanel">
    <div class="successfull">
      <!--      <div class="row mt-5">-->
      <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
          <div class="filter-form" id="successfullFilter">
            <%= form_tag v2_partner_transactions_path, method: :get, class:'search_transactions', autocomplete: "off"  do  |f| %>
              <a href="#" id="hide">
                <%= image_tag "v2/merchant/icons/close_small.svg", class: 'pull-right' %>
              </a>
              <div class="row">
                <div class="col-lg-4">
                  <div class="form-group m-form__group">
                    <label class="transaction_type" for="exampleInputEmail1">
                      Transaction/QuickCard ID
                    </label>
                    <input type="text" name="query[block_id]" id="block_id" class="form-control m-input m-input--square" placeholder="000000"  value="<%= params[:query].present? ? params[:query]["block_id"] : "" %>"   />
                  </div>
                </div>
                <div class="col-lg-4">
                  <div class="form-group m-form__group">
                    <label class="transaction_type" for="exampleInputEmail1">
                      Date
                    </label>
                    <div class="m-input-icon m-input-icon--left">
                      <div class="input-group" id="m_daterangepicker_2_success">
                        <input type='hidden' value="date" id="detail-value"/>
                        <input type='text' name="query[date]" class="form-control m-input" value="<%= params[:query].present? ? params[:query]["date"] : "" %>"  placeholder="MM-DD-YYYY"/>
                        <input type="hidden" name="query[offset]" value="<%=params[:query].present? && params[:query]['offset'].present? ? params[:query]['offset'] : Time.now.in_time_zone(cookies[:timezone]).strftime("%z")%>"  />
                        <div class="input-group-append">
                              <span class="input-group-text">
                                <%= image_tag "v2/merchant/icons/down-b.svg", class:'rotate',id:'img--remove'%>
                              </span>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-lg-4">
                  <div class="form-group m-form__group">
                    <label class="transaction_type" for="orderStatus">
                      Transaction Type
                    </label>
                    <%#= select_tag 'query[type][]', options_for_select(@types.map{|v|[v[:view],v[:value]]}, params[:query].present? ? params[:query]["type"] : ""),class: "form-control m-filter-bootstrap-select m-bootstrap-select--pill  m_selectpicker reason-dd-1 ", multiple: true  %>
                    <div class="mb-4">
                      <div class="button-group">
                        <button type="button" class="btn btn--drop list-items-hide truncate" data-toggle="dropdown" id="locs_show_selected1">
                          <% view = [] %>
                          <% @types.each do |types|  %>
                            <%  view_data = params[:query][:type].include?(types.values.first)?  types.values.last  :  "" if params[:query].try(:[], "type").present?  %>
                            <% view = view.push(view_data)  if view_data.present? %>
                          <% end %>
                          <span class="select-permission-title"><%= params[:query].try(:[], "type").present? ? view.join(", ") : "Select Transaction Type" %></span> <%= image_tag "v2/merchant/icons/down-b.svg", class:'pull-right select-permission-title drop-logo-items rotate'%>
                        </button>
                        <ul class="dropdown-menu dropdown--menu drop-with-items drop-list-w" id="locs_dropdown1">
                          <% @types.each do |types| %>
                            <li>
                              <a data-value="<%= types.values.last %>" tabIndex="-1">
                                <label class="m-checkbox m-checkbox--state-brand " for="<%= types.values.last %>">
                                  <input type="checkbox" class="locs_checkboxes" value="<%= types.values.first %>" name="query[type][]" <%=  params[:query][:type].include?(types.values.first)? "checked" :  "" if params[:query].try(:[], "type").present? %> >
                                  <%= types.values.last %>
                                  <span class="verify_checkbox"></span>
                                </label>
                              </a>
                            </li>
                          <% end  %>
                        </ul>
                      </div>
                    </div>

                  </div>
                </div>
                <div class="col-lg-4">
                  <div class="form-group m-form__group">
                    <% if params[:type] == "personal_transaction" %>
                      <label class="transaction_type" for="exampleInputEmail1">
                        Sender
                      </label>
                      <input type="text" id="sender_name" name="query[sender_name]" class="form-control m-input m-input--square"  placeholder="Name" value="<%= params[:query].present? ? params[:query]["sender_name"] : "" %>">
                    <% else %>
                      <label class="transaction_type" for="exampleInputEmail1">
                        Merchant Name
                      </label>
                      <input type="text" id="name" name="query[name]" class="form-control m-input m-input--square"  placeholder="Name" value="<%= params[:query].present? ? params[:query]["name"] : "" %>">
                  <% end %>
                  </div>
                </div>
                <div class="col-lg-4">
                  <div class="form-group _tip_transactions_datatable.htmlm-form__group">
                    <% if params[:type] == "personal_transaction" %>
                      <label class="transaction_type" for="exampleInputEmail1">
                        Receiver
                      </label>
                      <input type="text" name="query[Receiver_name]" class="form-control m-input m-input--square"  placeholder="Name" value="<%= params[:query].present? ? params[:query]["Receiver_name"] : "" %>">
                    <% else %>
                      <label class="transaction_type" for="exampleInputEmail1">
                        DBA Name
                      </label>
                      <input type="text" id="dba_name" name="query[dba_name]" class="form-control m-input m-input--square"  placeholder="Name" value="<%= params[:query].present? ? params[:query]["dba_name"] : "" %>">
                  <% end %>

                  </div>
                </div>
                <div class="col-lg-4">
                  <div class="form-group m-form__group">
                    <label for="transection_amount" class="transaction_type">Transaction Amount</label>
                    <div class="input-icon icon_inside_input_field">
                      <i class="addon-margin">$</i>
                      <input type='text' name="query[amount]"  value="<%= params[:query].present? ? params[:query][:amount] : ""  %>"  id="amount" class="form-control amount_field"  placeholder="0.0" step="0.01" />
                    </div>
                  </div>
                </div>
                <% if params[:type] == "commission" %>
                  <div class="col-lg-4">
                    <div class="form-group m-form__group">
                      <label class="transaction_type" for="orderStatus">
                        Merchant Transaction Type
                      </label>
                      <%#= select_tag 'query[type][]', options_for_select(@types.map{|v|[v[:view],v[:value]]}, params[:query].present? ? params[:query]["type"] : ""),class: "form-control m-filter-bootstrap-select m-bootstrap-select--pill  m_selectpicker reason-dd-1 ", multiple: true  %>
                      <div class="mb-4">
                        <div class="button-group">
                          <button type="button" class="btn btn--drop list-items-hide type1 truncate" data-toggle="dropdown" id="locs_show_selected2">
                            <% view = [] %>
                            <% @types1.each do |types|  %>
                              <%  view_data = params[:query][:type1].include?(types.values.first)?  types.values.last  :  "" if params[:query].try(:[], "type1").present?  %>
                              <% view = view.push(view_data)  if view_data.present? %>
                            <% end %>
                            <span class="select-permission-title"><%= params[:query].try(:[], "type1").present? ? view.join(", ") : "Select Transaction Type" %></span> <%= image_tag "v2/merchant/icons/down-b.svg", class:'pull-right select-permission-title drop-logo-items rotate'%>
                          </button>
                          <ul class="dropdown-menu dropdown--menu drop-with-items drop-list-w z_index_dropdown" id="locs_dropdown2">
                            <% @types1.each do |types| %>
                              <li>
                                <a data-value="<%= types.values.last %>" tabIndex="-1">
                                  <label class="m-checkbox m-checkbox--state-brand " for="<%= types.values.last %>">
                                    <input type="checkbox" class="locs_checkboxes2" value="<%= types.values.first %>" name="query[type1][]" <%=  params[:query][:type1].include?(types.values.first)? "checked" :  "" if params[:query].try(:[], "type1").present? %> >
                                    <%= types.values.last %>
                                    <span class="verify_checkbox"></span>
                                  </label>
                                </a>
                              </li>
                            <% end  %>
                          </ul>
                        </div>
                      </div>

                    </div>
                  </div>
                  <div class="col-lg-4">
                    <div class="form-group _tip_transactions_datatable.htmlm-form__group">
                        <label class="transaction_type" for="exampleInputEmail1">
                          Receiver
                        </label>
                        <input type="text" name="query[Receiver_name]" class="form-control m-input m-input--square"  placeholder="Name" value="<%= params[:query].present? ? params[:query]["Receiver_name"] : "" %>">
                    </div>
                  </div>
                <% end %>

              </div>
              <input type="hidden" name="type" value="<%= params[:type] %>" >
              <% if params[:query].present? %>
                <input type="hidden" id="type1" name="type1" value="<%= params[:query][:type1]   %>">
              <%end %>
              <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12">
                  <button type="submit" class="btn btn-search_table_head pull-right">
                    <span>
                      <span>
                        Search
                      </span>
                      <%= image_tag "v2/merchant/datatable/search_icon.svg" %>
                    </span>
                  </button>
                </div>
              </div>
            <%end%>
          </div>
        </div>
      </div>
      <div class="row">
        <%= render partial: "v2/merchant/shared/page_filters",locals: {filter_path: v2_partner_transactions_path(type: params[:type]) } %>
        <% if !current_user.affiliate_program? %>
          <div class="col-md-6 col-sm-12">
            <a href="#" class="btn btn-search_table_head pull-right" id="searchfilter">
              <span>
                <span>
                  Search
                </span>
                <%= image_tag "v2/merchant/datatable/search_icon.svg",class:"ml-2 search-image"%>
              </span>
            </a>
          </div>
        <%end%>
      </div>
      <% if params[:type] == "commission" %>
        <% if  @user.affiliate_program? %>
          <%= render partial: "v2/partner/transactions/afp_commission_transaction_datatable" %>
        <%else%>
          <%= render partial: "v2/partner/transactions/commission_transaction_datatable" %>
        <%end%>
      <% elsif params[:type] == "personal_transaction" %>
        <%= render partial: "v2/partner/transactions/personal_transaction_datatable" %>
      <% end %>
    </div>
  </div>
</div>
<% @type = params[:type]  %>
<%= render partial: "v2/merchant/shared/datatable_pagination" , locals: {variable: @transactions}  %>
<%= javascript_include_tag 'v2/merchant/bootstrap-daterangepicker' %>