<% ach = AppConfig.try(:ach).try(:first) %>
<% p2c = AppConfig.try(:p2c).try(:first) %>
<% check = AppConfig.try(:checks).try(:first) %>
<% giftcard = AppConfig.try(:giftcard).try(:first) %>

<div id="m_aside_left" class="m-grid__item	m-aside-left  m-aside-left--skin-dark  side_bar_menue">
  <!-- BEGIN: Aside Menu -->
  <div id="m_ver_menu" class="m-aside-menu  m-aside-menu--skin-dark m-aside-menu--submenu-skin-dark "
       m-menu-vertical="1" m-menu-scrollable="0" m-menu-dropdown-timeout="500">
    <div class="fixed_side_bar">
      <div class="m-stack__item m-brand fixed_side mt-0">
        <div>
          <a href="/" class="m-menu__link p-0">
            <div class="logo" > <%= image_tag "v2/merchant/Logo.svg" , class: "Logo"%> </div>
            <div class="logo-1" >  <%= image_tag "v2/merchant/Logo_new.svg", class: "Logo-1"%> </div>
          </a>
        </div>
        <ul class="m-menu__nav  m-menu__nav--dropdown-submenu-arrow " id="scrollbar--side">
          <!--          <li class="m-menu__item p-0" aria-haspopup="true">-->

          <!--          </li>-->
          <!--          start accounts tab -->
          <li class="m-menu__item single--li">
            <a href="/v2/partner/accounts" class="m-menu__link">
              <i class="m-menu__link-icon">
                <% img_ac = ["/accounts","/transactions"].any? {|h| request.path.include?(h) } ? "y" : "b" %>
                <%= image_tag "v2/merchant/icons/Accounts-#{img_ac}.svg", class:"sidebar-icons n-expand"%><!-- b for grey and y for  -->
                <%= image_tag "v2/merchant/icons/Accounts-#{img_ac}-e.svg", class:"sidebar-icons expand"%>
              </i>
              <span class="m-menu__link-title">
                  <span class="m-menu__link-wrap">
                      <span class="m-menu__link-text">
                          Accounts
                      </span>
                  </span>
              </span>
            </a>
          </li>
          <% if (ach.present? && ach.boolValue == false) && (p2c.present? && p2c.boolValue == false) && (check.present? && check.boolValue == false) && (giftcard.present? && giftcard.boolValue == false)  %>
          <% else %>
            <li class="m-menu__item m-menu__item--submenu <%= ["/instant_ach", "/push_to_card","/checks","/bulkcheck", "/giftcards"].any? {|h| request.path.include?(h) } ? "m-menu__item--active m-menu__item--open" : "" %>">
              <a href="javascript:;" class="m-menu__link m-menu__toggle">
                <i class="m-menu__link-icon">
                  <% img_wi = ["/instant_ach", "/push_to_card","/checks","/bulk_checks", "/giftcards"].any? {|h| request.path.include?(h) } ? "y" : "b" %>
                  <%= image_tag "v2/merchant/icons/Withdraw-#{img_wi}.svg", class:"sidebar-icons n-expand"%>
                  <%= image_tag "v2/merchant/icons/Withdraw-#{img_wi}-e.svg", class:"sidebar-icons expand"%>
                </i>
                <span class="m-menu__link-text m-menu__link-title">
                    Withdraw
                  </span>
                <i class="m-menu__ver-arrow la la-angle-right"></i>
              </a>
              <% if ["/instant_ach", "/push_to_card","/checks","/bulk_checks", "/giftcards"].any? {|h| request.path.include?(h) } %>
                <div class="active-line"></div>
              <% end %>
              <div class="m-menu__submenu " m-hidden-height="160">
                <span class="m-menu__arrow"></span>
                <ul class="m-menu__subnav">
                  <% if (ach.present? && ach.boolValue == true)  %>
                    <li class="m-menu__item <%= request.path.include?("/instant_ach") ? "m-menu__item--active" : "" %>"  aria-haspopup="true">
                      <a href="<%= v2_partner_instant_ach_index_path %>" class="m-menu__link">
                        <i class="m-menu__link-bullet m-menu__link-bullet--dot">
                          <span></span>
                        </i>
                        <span class="m-menu__link-text">
                          ACH
                        </span>
                      </a>
                    </li>
                  <% end %>
                  <% if (p2c.present? && p2c.boolValue == true)  %>

                    <li class="m-menu__item <%= request.path.include?("/v2/partner/push_to_card") ? "m-menu__item--active" : "" %>" >
                      <a href="<%= v2_partner_push_to_card_index_path  %>" class="m-menu__link ">
                        <i class="m-menu__link-bullet m-menu__link-bullet--dot">
                          <span></span>
                        </i>
                        <span class="m-menu__link-text">
                          P2C
                        </span>
                      </a>
                    </li>
                  <% end %>
                  <% if check.try(:boolValue) %>
                    <li class="m-menu__item <%= request.path.include?("/v2/partner/checks") || request.path.include?("/v2/partner/bulk_checks") ? "m-menu__item--active" : "" %>" aria-haspopup="true">
                      <a href="<%= v2_partner_checks_path %>" class="m-menu__link ">
                        <i class="m-menu__link-bullet m-menu__link-bullet--dot">
                          <span></span>
                        </i>
                        <span class="m-menu__link-text">
                          E-Checks
                        </span>
                      </a>
                    </li>
                  <% end %>
                  <% if (giftcard.present? && giftcard.boolValue == true)  %>

                    <li class="m-menu__item <%= request.path.include?("/giftcards") ? "m-menu__item--active" : "" %>" aria-haspopup="true">
                      <a href="<%= v2_partner_giftcards_path %>" class="m-menu__link ">
                        <i class="m-menu__link-bullet m-menu__link-bullet--dot">
                          <span></span>
                        </i>
                        <span class="m-menu__link-text">
                          Gift Card
                        </span>
                      </a>
                    </li>
                  <% end %>
                </ul>
              </div>
            </li>
          <% end %>

          <% if !current_user.affiliate_program? %>
            <li class="m-menu__item single--li">
              <a href="/v2/partner/invoices/payee" class="m-menu__link ">
                <i class="m-menu__link-icon">
                  <% img_inv = ["/payee", "/recurring_billing"].any? {|h| request.path.include?(h) } ? "y" : "b" %>
                  <%= image_tag "v2/merchant/icons/Invoice-#{img_inv}.svg", class:"sidebar-icons n-expand"%>
                  <%= image_tag "v2/merchant/icons/Invoice-#{img_inv}-e.svg", class:"sidebar-icons expand"%>
                </i>
                <span class="m-menu__link-title">
                    <span class="m-menu__link-wrap">
                        <span class="m-menu__link-text">
                            Invoices
                        </span>
                    </span>
                </span>

              </a>
            </li>
          <%end%>




          <li class="m-menu__item single--li">
            <a href="/v2/partner/exports" class="m-menu__link ">
              <i class="m-menu__link-icon">
                <% img_exp = request.path.include?("/exports") ? "y" : "b" %>
                <%= image_tag "v2/merchant/icons/Exports-#{img_exp}.svg", class:"sidebar-icons n-expand"%>
                <%= image_tag "v2/merchant/icons/Exports-#{img_exp}-e.svg", class:"sidebar-icons expand"%>
              </i>
              <span class="m-menu__link-title">
                  <span class="m-menu__link-wrap">
                      <span class="m-menu__link-text">
                         Exports
                      </span>
                  </span>
              </span>
            </a>
          </li>

          <% if !current_user.affiliate_program? %>

            <li class="m-menu__item m-menu__item--submenu  <%= ["/plugins","/business_settings","/employee_listing", "/permissions", "/fee_structure"].any? {|h| request.path.include?(h) } ? "m-menu__item--active m-menu__item--open" : "" %>">
              <a href="javascript:;" class="m-menu__link m-menu__toggle">
                <i class="m-menu__link-icon">
                  <% img_bus = ["/plugins","/business_settings","/employee_listing", "/permissions", "/fee_structure"].any? {|h| request.path.include?(h) } ? "y" : "b" %>
                  <%= image_tag "v2/merchant/icons/Business-Settings-#{img_bus}.svg", class:"sidebar-icons n-expand"%>
                  <%= image_tag "v2/merchant/icons/Business-Settings-#{img_bus}-e.svg", class:"sidebar-icons expand"%>
                </i>
                <span class="m-menu__link-text m-menu__link-title">
  										Business Settings
  									</span>
                <i class="m-menu__ver-arrow la la-angle-right"></i>
              </a>
              <% if ["/plugins","/employee_listing","/business_settings", "/permissions","/fee_structure"].any? {|h| request.path.include?(h) } %>
                <div class="active-line"></div>
              <% end %>
              <div class="m-menu__submenu " m-hidden-height="160">
                <span class="m-menu__arrow"></span>
                <ul class="m-menu__subnav">
                  <li class="m-menu__item <%= request.path == "/v2/partner/fee_structure" ? "m-menu__item--active" : "" %>" aria-haspopup="true">
                    <a href="/v2/partner/fee_structure" class="m-menu__link ">
                      <i class="m-menu__link-bullet m-menu__link-bullet--dot">
                        <span></span>
                      </i>
                      <span class="m-menu__link-text">
            						Fee Structure
            					</span>
                    </a>
                  </li>
                </ul>
              </div>
            </li>
          <%end%>


          <li class="m-menu__item single--li margin--bottom" >
            <a href="/v2/partner/accounts/get_help" class="m-menu__link ">
              <i class="m-menu__link-icon">
                <% img_get = request.path.include?("/get_help") ? "y" : "b" %>
                <%= image_tag "v2/merchant/icons/GetHelp-#{img_get}.svg", class:"sidebar-icons n-expand"%>
                <%= image_tag "v2/merchant/icons/GetHelp-#{img_get}-e.svg", class:"sidebar-icons expand"%>
              </i>
              <span class="m-menu__link-title">
                  <span class="m-menu__link-wrap">
                      <span class="m-menu__link-text">
                         Get Help
                      </span>
                  </span>
              </span>
            </a>
          </li>
        </ul>
        <div class="last--li" id="last--li">
          <a href="javascript:;" class="m-menu__link p-0">
            <div class="BotMenu" id="BotMenu1"><%= image_tag "v2/merchant/BotMenu.svg", class:"img_position_arrange" %></div>
            <div class="BotMenu" id="BotMenu2"><%= image_tag "v2/merchant/BotMenu-1.svg" %></div>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
