
<%#= render partial: "shared/datatable_search" %>
<div class="tab-content">
  <div class="tab-pane active" id="m_tabs_9_1" role="tabpanel">
    <div class="successfull">
      <!--      <div class="row mt-5">-->
      <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
          <div class="filter-form" id="successfullFilter">
            <form action="" method="post" class="">
              <a href="#" id="hide">
                <%= image_tag "v2/merchant/icons/close_small.svg", class: 'pull-right' %>
              </a>
              <div class="row">
                <div class="col-lg-4">
                  <div class="form-group m-form__group">
                    <label class="transaction_type" for="orderStatus">
                      Transaction Type
                    </label>
                    <select class="form-control m-filter-bootstrap-select m-bootstrap-select--pill  m_selectpicker reason-dd-1 " id="orderStatus"   title="ACH">
                      <option>ACH</option>
                      <option>Account Transfer</option>
                      <option>B2B Transfer</option>
                      <option>CBK Dispute Accepted</option>
                      <option>CBK Fee</option>
                      <option>CBK Hold</option>
                      <option>CBK Lost</option>
                      <option>CBK Won</option>
                      <option>Credit Card</option>
                      <option>eCommerce</option>
                      <option>Giftcard Purchase</option>
                      <option>Misc Fee</option>
                      <option>Monthly Fee</option>
                      <option>PIN Debit</option>
                      <option>Push to Card</option>
                      <option>Refund</option>
                      <option>Reserve Money Return</option>
                      <option>Retrieval Fee</option>
                      <option>Send Check</option>
                      <option>Subscription Fee</option>
                      <option>Virtual Terminal</option>
                      <option>Void ACH</option>
                      <option>Void Check</option>
                      <option>Void P2C</option>
                      <option>Failed Check</option>
                      <option>Failed ACH</option>
                      <option>Failed Push To Card</option>
                      <option>3DS</option>
                    </select>
                  </div>
                </div>
                <div class="col-lg-4">
                  <div class="form-group m-form__group">
                    <label class="transaction_type" for="exampleInputEmail1">
                      Transaction ID
                    </label>
                    <input type="text" class="form-control m-input m-input--square" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="000000">
                  </div>
                </div>
                <div class="col-lg-4">
                  <div class="form-group m-form__group">
                    <label for="transection_amount" class="transaction_type">Transaction Amount</label>
                    <div class="input-icon icon_inside_input_field">
                      <i class="addon-margin">$</i>
                      <input type="number" id="transection_amount" value="0.0" name="product[0][amount]" class="form-control pull-left product_amount m-input" required>
                    </div>
                  </div>
                </div>
                <div class="col-lg-4">
                  <div class="form-group m-form__group">
                    <label class="transaction_type" for="exampleInputEmail1">
                      Sender Name
                    </label>
                    <input type="text" class="form-control m-input m-input--square" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Name">
                  </div>
                </div>
                <div class="col-lg-4">
                  <div class="form-group _tip_transactions_datatable.htmlm-form__group">
                    <label class="transaction_type" for="exampleInputEmail1">
                      Sender Email
                    </label>
                    <input type="email" class="form-control m-input m-input--square" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="user@email.com">
                  </div>
                </div>
                <div class="col-lg-4">
                  <div class="form-group m-form__group">
                    <label class="transaction_type" for="exampleInputEmail1">
                      Sender Phone Number
                    </label>
                    <input type="text" class="form-control m-input m-input--square" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="000 0000 0000">
                  </div>
                </div>
                <div class="col-lg-4">
                  <div class="form-group m-form__group">
                    <label class="transaction_type" for="exampleInputEmail1">
                      Date
                    </label>
                    <div class="m-input-icon m-input-icon--left">
                      <div class="input-group" id="m_daterangepicker_2_success">
                        <input type='hidden' value="date" id="detail-value"/>
                        <input type="text" class="form-control m-input" readonly="" placeholder="MM-DD-YYYY">
                        <div class="input-group-append">
                                <span class="input-group-text">
                                  <%= image_tag "v2/merchant/icons/down-b.svg", class:'rotate',id:'img--remove'%>
                                </span>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-lg-4">
                  <div class="row">
                    <div class="col-lg-6 col-md-6">
                      <div class="form-group m-form__group">
                        <label class="transaction_type" for="orderStatus">
                          Start Time
                        </label>
                        <select class="form-control  m-time-bootstrap-select m-bootstrap-select m-bootstrap-select--pill  m_selectpicker reason-dd-1 " id="orderStatus"   title="12:00 am">
                          <option>12:00 am</option>
                          <option>01:00 am</option>
                          <option>02:00 am</option>
                          <option>03:00 am</option>
                          <option>04:00 am</option>
                          <option>05:00 am</option>
                          <option>06:00 am</option>
                          <option>07:00 am</option>
                          <option>08:00 am</option>
                          <option>09:00 am</option>
                          <option>10:00 am</option>
                          <option>11:00 am</option>
                          <option>12:00 pm</option>
                          <option>01:00 pm</option>
                          <option>02:00 pm</option>
                          <option>03:00 pm</option>
                          <option>04:00 pm</option>
                          <option>05:00 pm</option>
                          <option>06:00 pm</option>
                          <option>07:00 pm</option>
                          <option>08:00 pm</option>
                          <option>09:00 pm</option>
                          <option>10:00 pm</option>
                          <option>11:00 pm</option>
                        </select>
                      </div>
                    </div>

                    <div class="col-lg-6 col-md-6">
                      <div class="form-group m-form__group">
                        <label class="transaction_type" for="orderStatus">
                          End Time
                        </label>
                        <select class="form-control  m-time-bootstrap-select m-bootstrap-select m-bootstrap-select--pill  m_selectpicker reason-dd-1 " id="orderStatus"   title="12:00 am">
                          <option>12:00 am</option>
                          <option>01:00 am</option>
                          <option>02:00 am</option>
                          <option>03:00 am</option>
                          <option>04:00 am</option>
                          <option>05:00 am</option>
                          <option>06:00 am</option>
                          <option>07:00 am</option>
                          <option>08:00 am</option>
                          <option>09:00 am</option>
                          <option>10:00 am</option>
                          <option>11:00 am</option>
                          <option>12:00 pm</option>
                          <option>01:00 pm</option>
                          <option>02:00 pm</option>
                          <option>03:00 pm</option>
                          <option>04:00 pm</option>
                          <option>05:00 pm</option>
                          <option>06:00 pm</option>
                          <option>07:00 pm</option>
                          <option>08:00 pm</option>
                          <option>09:00 pm</option>
                          <option>10:00 pm</option>
                          <option>11:00 pm</option>
                        </select>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-lg-4">
                  <div class="row">
                    <div class="col-lg-6 col-md-6">
                      <div class="form-group m-form__group">
                        <label class="transaction_type" for="exampleInputEmail1">
                          Last 4
                        </label>
                        <input type="text" class="form-control m-input m-input--square" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="0000">
                      </div>
                    </div>
                    <div class="col-lg-6 col-md-6">
                      <div class="form-group m-form__group">
                        <label class="transaction_type" for="exampleInputEmail1">
                          First 6
                        </label>
                        <input type="text" class="form-control m-input m-input--square" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="000000">
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <!--        <div class="row">-->
              <!--          <div class="col-lg-4">-->
              <!--            <div class="row">-->
              <!--              <div class="col-lg-5 col-md-5 col-xs-12">-->
              <!--                <a href="javascript:;" class="btn btn-cancel-search" id="hide">-->
              <!--                  Cancel-->
              <!--                </a>-->
              <!--              </div>-->
              <!--            </div>-->
              <!--          </div>-->
              <!--        </div>-->
              <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12">
                  <a href="#" class="btn btn-search_table_head pull-right">
                    <span>
                      <span>
                        Search
                      </span>
                      <%= image_tag "v2/merchant/datatable/search_icon.svg",class:"ml-2 search-image"%>
                    </span>
                  </a>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6 col-sm-12">
          <div class="select_number mb-0">
      <span class="mt-3 mr-2">
        Show
      </span>
            <select class="form-control m-bootstrap-select m-bootstrap-select--pill m_selectpicker pagination_dropdown">
              <option>
                10
              </option>
              <option>
                25
              </option>
              <option>
                50
              </option>
              <option>
                100
              </option>
            </select>
            <div class="m--space-10"></div>
            <span class="mt-3 ml-2">
        Entries
      </span>
          </div>
        </div>
        <div class="col-md-6 col-sm-12">
          <a href="#" class="btn btn-search_table_head pull-right" id="searchfilter">
            <span>
              <span>
                Search
              </span>
              <%= image_tag "v2/merchant/datatable/search_icon.svg",class:"ml-2 search-image"%>
            </span>
          </a>
        </div>
      </div>
      <table class="table table-striped- table-bordered table-hover table-checkable listing_datatable" id="m_table_1">
        <thead>
        <tr>
          <th class="risk_eval_heading">
            Txn ID
          </th>
          <th>
            Date / Time
          </th>
          <th>
            Merchant
          </th>
          <th>
            DBA
          </th>
          <th>
            Type
          </th>
          <th>
            <center>
              Transaction<br>
              Amount
            </center>
          </th>
          <th>
            <center>
              Commission
            </center>
          </th>
          <th>
            Reciever
          </th>
        </tr>
        </thead>
        <tbody>

        <% if @transactions.size > 0  %>
          <% @transactions.each do |t| %>
              <% if @user.role.present? && @user.role == 'user' %>
                <% if t.status == 'pending' %>
                  <tr data-url= "<%= local_transaction_details_transactions_path(transaction: t.id,trans: "decline") %>" class="local_user_transaction show-cover-spin show-dynamic-modal local-u-txn-st-1"  data-modal_selector="#DetailDeclineModal" data-modal_container_selector="#decline_transaction_modal" data-method = "POST">
                <% elsif t.status == 'refunded' %>
                  <tr data-url= "<%= local_transaction_details_transactions_path(transaction: t.id,trans: "refund") %>" class="local_user_transaction show-cover-spin show-dynamic-modal local-u-txn-st-2"  >
                <% else %>
                  <tr data-url= "<%= local_transaction_details_transactions_path(transaction: t.id,trans: "user",user_id: @user.id) %>" class="local_user_transaction show-cover-spin show-dynamic-modal local-u-txn-st-3" data-modal_selector="#modal_id" data-modal_container_selector="#custom_modal" data-method = "POST">
                <% end %>
                <td><%= t.seq_transaction_id.present? ? t.seq_transaction_id[0..5] : t.id %></td>
              <% elsif @user.role.present? && @user.role == 'merchant' && @wallet.wallet_type == "reserve" %>
                <tr data-url= "<%= local_transaction_details_transactions_path(transaction: t.id,trans: "merchant_reserve",user_id: @user.try(:id), wallet: @wallet.id) %>" class="local_user_transaction show-dynamic-modal show-cover-spin local-u-txn-st-4" data-modal_selector="#modal_id" data-modal_container_selector="#custom_modal" data-method = "POST" >
                  <td><%= t.try(:sequence_id).present? ? t.sequence_id[0..5] : t.id %></td>
              <% elsif @user.role.present? && @user.role == 'merchant' %>
                <tr data-url= "<%= local_transaction_details_transactions_path(transaction: t.id,trans: "merchant",user_id: @user.try(:id)) %>" class="local_user_transaction show-dynamic-modal show-cover-spin local-u-txn-st-4" data-modal_selector="#modal_id" data-modal_container_selector="#custom_modal" data-method = "POST" >
                  <td><%= t.try(:sequence_id).present? ? t.sequence_id[0..5] : t.id %></td>
              <% else %>
                <tr data-url= "<%= local_transaction_details_transactions_path(transaction: t.id,trans: "iso_agent_aff",user_id: @user.try(:id)) %>" class="local_user_transaction show-cover-spin show-dynamic-modal local-u-txn-st-4" data-modal_selector="#modal_id" data-modal_container_selector="#custom_modal" data-method = "POST" >
                  <td><%= t.try(:sequence_id).present? ? t.sequence_id[0..5] : t.id %></td>
              <% end %>
              <td class="timeUtc-user"><%= t.timestamp.present? ? t.timestamp.strftime("%m-%d-%Y %H:%M:%S %z") : t.created_at.strftime("%m-%d-%Y %H:%M:%S %z") %></td>
                <td><%= t[:tags]["merchant"]["name"].present? ? t[:tags]["merchant"]["name"] : "--" %></td>
                <td><%= t.location_dba_name || t.tags.try(:[], "location").try(:[], "business_name") || "--" %></td>
                <% tx_type = main_type_format(show_iso_local_type(t) || "---") %>
              <td>
                <% if t.main_type == "Subscription fee" %>
                  <%= show_iso_local_type(t) %>
                <% elsif t.main_type == "Service Fee" %>
                  Monthly Fee
                <% else %>
                  <% txn_type = main_type_format(t.main_type) %>
                  <%if txn_type == "Push to Card" %>
                    <%= t.action == "retire"? "Push To Card Deposit" : "Push To Card" %>
                  <%elsif txn_type == "Send Check" %>
                    <%= t.action == "retire"? "Check Deposit" : "Send Check" %>
                  <%else %>
                    <%= txn_type %>
                  <% end %>
                <% end %>
              </td>
              <% if (t.main_amount.to_f.present? && t.net_fee.to_f.present? && t.sub_type == "ACH Deposit_fee") %>
                <% tx_amount = t.main_amount.to_f + t.net_fee.to_f %>
              <% else %>
                <% tx_amount = t.main_amount.to_f > 0 ? t.main_amount.to_f : cents_to_dollars(t.amount_in_cents) %>
              <% end %>
              <td><%= number_with_precision(number_to_currency(tx_amount.to_f), precision: 2) %></td>
                <%# total_amount = t.seq_parent_id.present? ? get_transaction_amount_from_main_transaction(t.seq_parent_id) : t.main_amount.to_f %>
                <!--For search purpost we are showing main amount from block transaction-->

                <td>
                  <% if params[:wallet_id].present? %>
                    <% user = Wallet.find_by(id: params[:wallet_id]).try(:users).try(:first) %>
                  <% else %>
                    <% user = @user %>
                  <% end %>
                  <% if ["Send Check", "ACH Deposit", "Instant Pay"].include? t.main_type %>
                    --
                  <% elsif user.try(:id) == t.receiver_id %>
                    <span class="local-u-txn-st-5"><strong>+$<%= cents_to_dollars(t.amount_in_cents) %></strong></span>
                  <% else %>
                    <span class="local-u-txn-st-6"><strong>-$<%= cents_to_dollars(t.amount_in_cents) %></strong></span>
                  <% end %>
                </td>
                <td>
                  <% if t.try(:receiver_name).present? %>
                    <%= change_wallets_name(t.receiver_name.truncate(24) || t.try(:receiver).try(:name).truncate(24) || t.receiver_wallet.try(:users).try(:first).try(:name).truncate(24) || t.receiver_wallet.try(:name).truncate(24) || "---" ) %>
                  <% else %>
                    <%= change_wallets_name(t.receiver_name || t.try(:receiver).try(:name) || t.receiver_wallet.try(:users).try(:first).try(:name) || t.receiver_wallet.try(:name) || "" ) %>
                  <% end %>
                </td>
        <%# else %>
            <%# @transactions = @transactions %>
        <%# end %>
          <% end %>
        <% end %>
        </tbody>
<!--        <tbody>-->
<!--        <tr class='odd'>-->
<!--          <td>-->
            <%#= params[:query].present? ? params[:query]["block_id"] : "" %>
<!--          </td>-->
<!--          <td class="partner-td">-->
<!--            01-07-2020-->
<!--            14:35:06-->
<!--          </td>-->
<!--          <td class="partner-td">-->
<!--            Pac & G-->
<!--          </td>-->
<!--          <td class="partner-td">-->
<!--            Pac & G-->
<!--          </td>-->
<!--          <td class="partner-td">-->
<!--            Sale issue-->
<!--          </td>-->
<!--          <td class="partner-rg pr-5">-->
<!--            $1000.00-->
<!--          </td>-->
<!--          <td class="partner-rg pr-5">-->
<!--            $100.00-->
<!--          </td>-->
<!--          <td class="partner-td">-->
<!--            Brad Pitt-->
<!--          </td>-->
<!--        </tr>-->
<!--        <tr class='even'>-->
<!--          <td>-->
<!--            134224-->
<!--          </td>-->
<!--          <td class="partner-td">-->
<!--            01-07-2020-->
<!--            14:35:06-->
<!--          </td>-->
<!--          <td class="partner-td">-->
<!--            Pac & G-->
<!--          </td>-->
<!--          <td class="partner-td">-->
<!--            Pac & G-->
<!--          </td>-->
<!--          <td class="partner-td">-->
<!--            Sale issue-->
<!--          </td>-->
<!--          <td class="partner-rg pr-5">-->
<!--            $1000.00-->
<!--          </td>-->
<!--          <td class="partner-rg pr-5">-->
<!--            $100.00-->
<!--          </td>-->
<!--          <td class="partner-td">-->
<!--            Brad Pitt-->
<!--          </td>-->
          <!--    <td>-->
          <!--      <a href="#" data-skin="dark" data-toggle="m-tooltip" data-placement="top" title="" data-toggle="modal" data-target="#deleteEmployeeModal" data-original-title="Delete" class="cutom_tootltip pull-right">-->
          <%#= image_tag "merchant/datatable/delete-24px.svg", class: "pull-right","data-toggle"=>"modal","data-target"=>"#deleteEmployeeModal"%>
          <!--      </a>-->
          <!--      <a href="#" data-skin="dark" data-toggle="m-tooltip" data-placement="top" title="" data-original-title="Edit" class="cutom_tootltip pull-right">-->
          <%#= image_tag "merchant/datatable/create-24px.svg", class: "pull-right","data-toggle"=>"modal","data-target"=>"#editEmployeeModal"%>
          <!--      </a>-->
          <!--    </td>-->
<!--        </tr>-->
<!--        <tr class='odd'>-->
<!--          <td>-->
<!--            134224-->
<!--          </td>-->
<!--          <td class="partner-td">-->
<!--            01-07-2020-->
<!--            14:35:06-->
<!--          </td>-->
<!--          <td class="partner-td">-->
<!--            Pac & G-->
<!--          </td>-->
<!--          <td class="partner-td">-->
<!--            Pac & G-->
<!--          </td>-->
<!--          <td class="partner-td">-->
<!--            Sale issue-->
<!--          </td>-->
<!--          <td class="partner-rg pr-5">-->
<!--            $100,00.00-->
<!--          </td>-->
<!--          <td class="partner-rg pr-5">-->
<!--            $100.00-->
<!--          </td>-->
<!--          <td class="partner-td">-->
<!--            Brad Pitt-->
<!--          </td>-->
          <!--    <td>-->
          <!--      <a href="#" data-skin="dark" data-toggle="m-tooltip" data-placement="top" title="" data-toggle="modal" data-target="#deleteEmployeeModal" data-original-title="Delete" class="cutom_tootltip pull-right">-->
          <%#= image_tag "merchant/datatable/delete-24px.svg", class: "pull-right","data-toggle"=>"modal","data-target"=>"#deleteEmployeeModal"%>
          <!--      </a>-->
          <!--      <a href="#" data-skin="dark" data-toggle="m-tooltip" data-placement="top" title="" data-original-title="Edit" class="cutom_tootltip pull-right">-->
          <%#= image_tag "merchant/datatable/create-24px.svg", class: "pull-right","data-toggle"=>"modal","data-target"=>"#editEmployeeModal"%>
          <!--      </a>-->
          <!--    </td>-->
<!--        </tr>-->
<!--        <tr class='even'>-->
<!--          <td>-->
<!--            134224-->
<!--          </td>-->
<!--          <td class="partner-td">-->
<!--            01-07-2020-->
<!--            14:35:06-->
<!--          </td>-->
<!--          <td class="partner-td">-->
<!--            Pac & G-->
<!--          </td>-->
<!--          <td class="partner-td">-->
<!--            Pac & G-->
<!--          </td>-->
<!--          <td class="partner-td">-->
<!--            Sale issue-->
<!--          </td>-->
<!--          <td class="partner-rg pr-5">-->
<!--            $1000.00-->
<!--          </td>-->
<!--          <td class="partner-rg pr-5">-->
<!--            $100.00-->
<!--          </td>-->
<!--          <td class="partner-td">-->
<!--            Brad Pitt-->
<!--          </td>-->
          <!--    <td>-->
          <!--      <a href="#" data-skin="dark" data-toggle="m-tooltip" data-placement="top" title="" data-toggle="modal" data-target="#deleteEmployeeModal" data-original-title="Delete" class="cutom_tootltip pull-right">-->
          <%#= image_tag "merchant/datatable/delete-24px.svg", class: "pull-right","data-toggle"=>"modal","data-target"=>"#deleteEmployeeModal"%>
          <!--      </a>-->
          <!--      <a href="#" data-skin="dark" data-toggle="m-tooltip" data-placement="top" title="" data-original-title="Edit" class="cutom_tootltip pull-right">-->
          <%#= image_tag "merchant/datatable/create-24px.svg", class: "pull-right","data-toggle"=>"modal","data-target"=>"#editEmployeeModal"%>
          <!--      </a>-->
          <!--    </td>-->
<!--        </tr>-->
<!--        <tr class='odd'>-->
<!--          <td>-->
<!--            134224-->
<!--          </td>-->
<!--          <td class="partner-td">-->
<!--            01-07-2020-->
<!--            14:35:06-->
<!--          </td>-->
<!--          <td class="partner-td">-->
<!--            Pac & G-->
<!--          </td>-->
<!--          <td class="partner-td">-->
<!--            Pac & G-->
<!--          </td>-->
<!--          <td class="partner-td">-->
<!--            Sale issue-->
<!--          </td>-->
<!--          <td class="partner-rg pr-5">-->
<!--            $1000.00-->
<!--          </td>-->
<!--          <td class="partner-rg pr-5">-->
<!--            $100,00.00-->
<!--          </td>-->
<!--          <td class="partner-td">-->
<!--            Brad Pitt-->
<!--          </td>-->
          <!--    <td>-->
          <!--      <a href="#" data-skin="dark" data-toggle="m-tooltip" data-placement="top" title="" data-toggle="modal" data-target="#deleteEmployeeModal" data-original-title="Delete" class="cutom_tootltip pull-right">-->
          <%#= image_tag "merchant/datatable/delete-24px.svg", class: "pull-right","data-toggle"=>"modal","data-target"=>"#deleteEmployeeModal"%>
          <!--      </a>-->
          <!--      <a href="#" data-skin="dark" data-toggle="m-tooltip" data-placement="top" title="" data-original-title="Edit" class="cutom_tootltip pull-right">-->
          <%#= image_tag "merchant/datatable/create-24px.svg", class: "pull-right","data-toggle"=>"modal","data-target"=>"#editEmployeeModal"%>
          <!--      </a>-->
          <!--    </td>-->
<!--        </tr>-->
<!--        <tr class='even'>-->
<!--          <td>-->
<!--            134224-->
<!--          </td>-->
<!--          <td class="partner-td">-->
<!--            01-07-2020-->
<!--            14:35:06-->
<!--          </td>-->
<!--          <td class="partner-td">-->
<!--            Pac & G-->
<!--          </td>-->
<!--          <td class="partner-td">-->
<!--            Pac & G-->
<!--          </td>-->
<!--          <td class="partner-td">-->
<!--            Sale issue-->
<!--          </td>-->
<!--          <td class="partner-rg pr-5">-->
<!--            $100,00.00-->
<!--          </td>-->
<!--          <td class="partner-rg pr-5">-->
<!--            $100.00-->
<!--          </td>-->
<!--          <td class="partner-td">-->
<!--            Brad Pitt-->
<!--          </td>-->
<!--        </tr>-->
<!--        </tbody>-->
      </table>
    </div>
  </div>
  <div class="tab-pane" id="m_tabs_9_2" role="tabpanel">
    <div class="decline">
      <div class="row">
        <!--      <div class="row mt-5">-->
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
          <div class="filter-form" id="declinedFilterForm">
            <form action="" method="post" class="">
              <a href="#" id="hide_declin_form">
                <%= image_tag "v2/merchant/icons/close_small.svg", class: 'pull-right' %>
              </a>
              <div class="row">
                <div class="col-lg-4">
                  <div class="form-group m-form__group">
                    <label class="transaction_type" for="orderStatus">
                      Transaction Type
                    </label>
                    <select class="form-control m-filter-bootstrap-select m-bootstrap-select--pill  m_selectpicker reason-dd-1 " id="orderStatus"   title="ACH">
                      <option>ACH</option>
                      <option>Account Transfer</option>
                      <option>B2B Transfer</option>
                      <option>CBK Dispute Accepted</option>
                      <option>CBK Fee</option>
                      <option>CBK Hold</option>
                      <option>CBK Lost</option>
                      <option>CBK Won</option>
                      <option>Credit Card</option>
                      <option>eCommerce</option>
                      <option>Giftcard Purchase</option>
                      <option>Misc Fee</option>
                      <option>Monthly Fee</option>
                      <option>PIN Debit</option>
                      <option>Push to Card</option>
                      <option>Refund</option>
                      <option>Reserve Money Return</option>
                      <option>Retrieval Fee</option>
                      <option>Send Check</option>
                      <option>Subscription Fee</option>
                      <option>Virtual Terminal</option>
                      <option>Void ACH</option>
                      <option>Void Check</option>
                      <option>Void P2C</option>
                      <option>Failed Check</option>
                      <option>Failed ACH</option>
                      <option>Failed Push To Card</option>
                      <option>3DS</option>
                    </select>
                  </div>
                </div>
                <div class="col-lg-4">
                  <div class="form-group m-form__group">
                    <label class="transaction_type" for="exampleInputEmail1">
                      Transaction ID
                    </label>
                    <input type="text" class="form-control m-input m-input--square" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="000000">
                  </div>
                </div>
                <div class="col-lg-4">
                  <div class="form-group m-form__group">
                    <label for="transection_amount" class="transaction_type">Transaction Amount</label>
                    <div class="input-icon icon_inside_input_field">
                      <i class="addon-margin">$</i>
                      <input type="number" id="transection_amount" value="0.0" name="product[0][amount]" class="with-90-percent form-control pull-left text-align-center product_amount m-input" required>
                    </div>
                  </div>
                </div>
                <div class="col-lg-4">
                  <div class="form-group m-form__group">
                    <label class="transaction_type" for="exampleInputEmail1">
                      Sender Name
                    </label>
                    <input type="text" class="form-control m-input m-input--square" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Name">
                  </div>
                </div>
                <div class="col-lg-4">
                  <div class="form-group _tip_transactions_datatable.htmlm-form__group">
                    <label class="transaction_type" for="exampleInputEmail1">
                      Sender Email
                    </label>
                    <input type="email" class="form-control m-input m-input--square" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="user@email.com">
                  </div>
                </div>
                <div class="col-lg-4">
                  <div class="form-group m-form__group">
                    <label class="transaction_type" for="exampleInputEmail1">
                      Sender Phone Number
                    </label>
                    <input type="text" class="form-control m-input m-input--square" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="000 0000 0000">
                  </div>
                </div>
                <div class="col-lg-4">
                  <div class="form-group m-form__group">
                    <label class="transaction_type" for="exampleInputEmail1">
                      Date
                    </label>
                    <div class="m-input-icon m-input-icon--left">
                      <div class="input-group" id="m_daterangepicker_2_decline">
                        <input type='hidden' value="date" id="detail-value"/>
                        <input type="text" class="form-control m-input" readonly="" placeholder="MM-DD-YYYY">
                        <div class="input-group-append">
                                <span class="input-group-text">
                                  <%= image_tag "v2/merchant/icons/down-b.svg", class:'rotate',id:'img--remove'%>
                                </span>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-lg-4">
                  <div class="row">
                    <div class="col-lg-6 col-md-6">
                      <div class="form-group m-form__group">
                        <label class="transaction_type" for="orderStatus">
                          Start Time
                        </label>
                        <select class="form-control  m-time-bootstrap-select m-bootstrap-select m-bootstrap-select--pill  m_selectpicker reason-dd-1 " id="orderStatus"   title="12:00 am">
                          <option>12:00 am</option>
                          <option>01:00 am</option>
                          <option>02:00 am</option>
                          <option>03:00 am</option>
                          <option>04:00 am</option>
                          <option>05:00 am</option>
                          <option>06:00 am</option>
                          <option>07:00 am</option>
                          <option>08:00 am</option>
                          <option>09:00 am</option>
                          <option>10:00 am</option>
                          <option>11:00 am</option>
                          <option>12:00 pm</option>
                          <option>01:00 pm</option>
                          <option>02:00 pm</option>
                          <option>03:00 pm</option>
                          <option>04:00 pm</option>
                          <option>05:00 pm</option>
                          <option>06:00 pm</option>
                          <option>07:00 pm</option>
                          <option>08:00 pm</option>
                          <option>09:00 pm</option>
                          <option>10:00 pm</option>
                          <option>11:00 pm</option>
                        </select>
                      </div>
                    </div>

                    <div class="col-lg-6 col-md-6">
                      <div class="form-group m-form__group">
                        <label class="transaction_type" for="orderStatus">
                          End Time
                        </label>
                        <select class="form-control  m-time-bootstrap-select m-bootstrap-select m-bootstrap-select--pill  m_selectpicker reason-dd-1 " id="orderStatus"   title="12:00 am">
                          <option>12:00 am</option>
                          <option>01:00 am</option>
                          <option>02:00 am</option>
                          <option>03:00 am</option>
                          <option>04:00 am</option>
                          <option>05:00 am</option>
                          <option>06:00 am</option>
                          <option>07:00 am</option>
                          <option>08:00 am</option>
                          <option>09:00 am</option>
                          <option>10:00 am</option>
                          <option>11:00 am</option>
                          <option>12:00 pm</option>
                          <option>01:00 pm</option>
                          <option>02:00 pm</option>
                          <option>03:00 pm</option>
                          <option>04:00 pm</option>
                          <option>05:00 pm</option>
                          <option>06:00 pm</option>
                          <option>07:00 pm</option>
                          <option>08:00 pm</option>
                          <option>09:00 pm</option>
                          <option>10:00 pm</option>
                          <option>11:00 pm</option>
                        </select>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-lg-4">
                  <div class="row">
                    <div class="col-lg-6 col-md-6">
                      <div class="form-group m-form__group">
                        <label class="transaction_type" for="exampleInputEmail1">
                          Last 4
                        </label>
                        <input type="text" class="form-control m-input m-input--square" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="0000">
                      </div>
                    </div>
                    <div class="col-lg-6 col-md-6">
                      <div class="form-group m-form__group">
                        <label class="transaction_type" for="exampleInputEmail1">
                          First 6
                        </label>
                        <input type="text" class="form-control m-input m-input--square" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="000000">
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <!--        <div class="row">-->
              <!--          <div class="col-lg-4">-->
              <!--            <div class="row">-->
              <!--              <div class="col-lg-5 col-md-5 col-xs-12">-->
              <!--                <a href="javascript:;" class="btn btn-cancel-search" id="hide">-->
              <!--                  Cancel-->
              <!--                </a>-->
              <!--              </div>-->
              <!--            </div>-->
              <!--          </div>-->
              <!--        </div>-->
              <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12">
                  <a href="#" class="btn btn-search_table_head pull-right">
                    <span>
                      <span>
                        Search
                      </span>
                      <%= image_tag "v2/merchant/datatable/search_icon.svg",class:"ml-2 search-image"%>
                    </span>
                  </a>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6 col-sm-12">
          <div class="select_number mb-0">
      <span class="mt-3 mr-2">
        Show
      </span>
            <select class="form-control m-bootstrap-select m-bootstrap-select--pill m_selectpicker pagination_dropdown">
              <option>
                10
              </option>
              <option>
                25
              </option>
              <option>
                50
              </option>
              <option>
                100
              </option>
            </select>
            <div class="m--space-10"></div>
            <span class="mt-3 ml-2">
        Entries
      </span>
          </div>
        </div>
        <div class="col-md-6 col-sm-12">
          <a href="#" class="btn btn-search_table_head pull-right" id="declinedSearchFilter">
            <span>
              <span>
                Search
              </span>
              <%= image_tag "v2/merchant/datatable/search_icon.svg",class:"ml-2 search-image"%>
            </span>
          </a>
        </div>
      </div>
      <table class="table table-striped- table-bordered table-hover table-checkable listing_datatable" id="m_table_2">
        <thead>
        <tr>
          <th>
            Txn ID
          </th>
          <th>
            Date / Time
          </th>
          <th>
            Sender
          </th>
          <th>
            Receiver
          </th>
          <th>
            Type
          </th>
          <th class="pr-3">

            Total
            Amount

          </th>
        </tr>
        </thead>
        <tbody>
        <% if @transactions.size > 0  %>
          <% @transactions.each do |t| %>
            <% if @user.role.present? && @user.role == 'user' %>
              <% if t.status == 'pending' %>
                <tr data-url= "<%= local_transaction_details_transactions_path(transaction: t.id,trans: "decline") %>" class="local_user_transaction show-cover-spin show-dynamic-modal local-u-txn-st-1"  data-modal_selector="#DetailDeclineModal" data-modal_container_selector="#decline_transaction_modal" data-method = "POST">
              <% elsif t.status == 'refunded' %>
                <tr data-url= "<%= local_transaction_details_transactions_path(transaction: t.id,trans: "refund") %>" class="local_user_transaction show-cover-spin show-dynamic-modal local-u-txn-st-2"  >
              <% else %>
                <tr data-url= "<%= local_transaction_details_transactions_path(transaction: t.id,trans: "user",user_id: @user.id) %>" class="local_user_transaction show-cover-spin show-dynamic-modal local-u-txn-st-3" data-modal_selector="#modal_id" data-modal_container_selector="#custom_modal" data-method = "POST">
              <% end %>
              <td><%= t.seq_transaction_id.present? ? t.seq_transaction_id[0..5] : t.id %></td>
            <% elsif @user.role.present? && @user.role == 'merchant' && @wallet.wallet_type == "reserve" %>
              <tr data-url= "<%= local_transaction_details_transactions_path(transaction: t.id,trans: "merchant_reserve",user_id: @user.try(:id), wallet: @wallet.id) %>" class="local_user_transaction show-dynamic-modal show-cover-spin local-u-txn-st-4" data-modal_selector="#modal_id" data-modal_container_selector="#custom_modal" data-method = "POST" >
                <td><%= t.try(:sequence_id).present? ? t.sequence_id[0..5] : t.id %></td>
            <% elsif @user.role.present? && @user.role == 'merchant' %>
              <tr data-url= "<%= local_transaction_details_transactions_path(transaction: t.id,trans: "merchant",user_id: @user.try(:id)) %>" class="local_user_transaction show-dynamic-modal show-cover-spin local-u-txn-st-4" data-modal_selector="#modal_id" data-modal_container_selector="#custom_modal" data-method = "POST" >
                <td><%= t.try(:sequence_id).present? ? t.sequence_id[0..5] : t.id %></td>
            <% else %>
              <tr data-url= "<%= local_transaction_details_transactions_path(transaction: t.id,trans: "iso_agent_aff",user_id: @user.try(:id)) %>" class="local_user_transaction show-cover-spin show-dynamic-modal local-u-txn-st-4" data-modal_selector="#modal_id" data-modal_container_selector="#custom_modal" data-method = "POST" >
                <td><%= t.try(:sequence_id).present? ? t.sequence_id[0..5] : t.id %></td>
            <% end %>
            <td class="timeUtc-user"><%= t.timestamp.present? ? t.timestamp.strftime("%m-%d-%Y %H:%M:%S %z") : t.created_at.strftime("%m-%d-%Y %H:%M:%S %z") %></td>
            <td><%= t[:tags]["merchant"]["name"].present? ? t[:tags]["merchant"]["name"] : "--" %></td>
            <td>
              <% if t.try(:receiver_name).present? %>
                <%= change_wallets_name(t.receiver_name.truncate(24) || t.try(:receiver).try(:name).truncate(24) || t.receiver_wallet.try(:users).try(:first).try(:name).truncate(24) || t.receiver_wallet.try(:name).truncate(24) || "---" ) %>
              <% else %>
                <%= change_wallets_name(t.receiver_name || t.try(:receiver).try(:name) || t.receiver_wallet.try(:users).try(:first).try(:name) || t.receiver_wallet.try(:name) || "" ) %>
              <% end %>
            </td>
            <% tx_type = main_type_format(show_iso_local_type(t) || "---") %>
            <td>
              <% if t.main_type == "Subscription fee" %>
                <%= show_iso_local_type(t) %>
              <% elsif t.main_type == "Service Fee" %>
                Monthly Fee
              <% else %>
                <% txn_type = main_type_format(t.main_type) %>
                <%if txn_type == "Push to Card" %>
                  <%= t.action == "retire"? "Push To Card Deposit" : "Push To Card" %>
                <%elsif txn_type == "Send Check" %>
                  <%= t.action == "retire"? "Check Deposit" : "Send Check" %>
                <%else %>
                  <%= txn_type %>
                <% end %>
              <% end %>
            </td>
            <% if (t.main_amount.to_f.present? && t.net_fee.to_f.present? && t.sub_type == "ACH Deposit_fee") %>
              <% tx_amount = t.main_amount.to_f + t.net_fee.to_f %>
            <% else %>
              <% tx_amount = t.main_amount.to_f > 0 ? t.main_amount.to_f : cents_to_dollars(t.amount_in_cents) %>
            <% end %>
            <td><%= number_with_precision(number_to_currency(tx_amount.to_f), precision: 2) %></td>
          <% end %>
        <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
<%= render partial: "v2/partner/shared/datatable_pagination" %>
<%= javascript_include_tag 'v2/merchant/bootstrap-daterangepicker' %>