<div class="m-content mt-5">
  <input type="hidden" id="total_amount" value="<%= @request.total_amount %>">
  <input type="hidden" id="invoice_id" value="<%= @request.id %>">
  <div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 mb-4">
      <div class="merchant_invoices_bg">
        <center>
          <%= image_tag "v2/merchant/Logo-1.svg", class: 'mt-5'%>
          <div class="merchant_name mt-4">
            <p><%= @sender.name %></p>
          </div>
        </center>
      </div>
    </div>
  </div>
  <div class="m-portlet m-portlet--mobile m-portal_datatable">
    <div class="m-portlet__body">
      <div class="pay_with mb-4">
        <p>Pay with Quickcard</p>
      </div>
      <div class="row">
        <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
          <div class="selection_box">
            <!--            <form action="" method="post" class="">-->
            <!--              <div class="row">-->
            <!--                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">-->

            <!--                </div>-->
            <!--                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">-->
            <!--                  <div class="row mt-4">-->
            <!--                    <div class="col-xl-7 col-lg-7 col-md-7  col-sm-12 col-xs-12 padding-0-right">-->
            <!--                      <div class="invoices_box">-->
            <!--                        <div class="placeholder">Balance</div>-->
            <!--                      </div>-->
            <!--                    </div>-->
            <!--                    <div class="col-xl-5 col-lg-5 col-md-5 col-sm-12 col-xs-12 padding-0-left">-->
            <!--                      <div class="invoices_box_2">-->
            <!--                        <div class="price">$32,543.00</div>-->
            <!--                      </div>-->
            <!--                    </div>-->
            <!--                  </div>-->
            <!--                </div>-->
            <!--                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 mt-3">-->
            <!--                  <div class="form-group m-form__group">-->
            <!--                    <label class="transaction_type" for="orderStatus">-->
            <!--                      Enter memo-->
            <!--                    </label>-->
            <!--                    <textarea class="form-control m-input m-invoice-textarea" id="exampleTextarea"></textarea>-->
            <!--                  </div>-->
            <!--                </div>-->

            <!--                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">-->
            <!--                  <hr class="merchant_hr">-->
            <!--                </div>-->
            <!--                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 mt-3">-->

            <!--                </div>-->
            <!--              </div>-->
            <!--            </form>-->
            <div class="row">
              <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                <div>
                  <p class="product_heading">Description</p>
                </div>
                <div class="product_listing_transaction mt-4">
                  <% @products.each do |p| %>
                    <div class="row mb-3">
                      <div class="col-lg-7 col-md-7 col-sm-7 col-xs-12">
                        <div class="product_numbers pull-left">
                          <p><%= p.quantity %>x</p>
                        </div>
                        <div class="product_name ml-5 pl-3">
                          <p><%= p.description %></p>
                        </div>
                      </div>
                      <div class="col-lg-5 col-md-5 col-sm-5 col-xs-12">
                        <div class="product_price">
                          <p>
                            $ <%= number_with_precision(p.amount, precision: 2) %> /ea.
                          </p>
                        </div>
                      </div>
                    </div>
                  <% end %>
                </div>
              </div>
              <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                <div class="product_lissting_transaction mt-5">
                  <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                      <div class="sub_total_name">Sub Total</div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                      <div class="sub_total_value">$ <%= number_with_precision(@request.amount, precision: 2) %></div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                      <div class="sub_total_name">Shipping & Handling</div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                      <div class="sub_total_value">$ <%= number_with_precision(@request.shipping_handling_fee, precision: 2) %></div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                      <div class="sub_total_name">Discount</div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                      <div class="sub_total_value">$ <%= number_with_precision(@request.discount_method == "dollar" ? @request.discount : (@request.discount.to_f / 100) * @request.amount.to_f, precision: 2)  %></div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                      <div class="sub_total_name">Tax (<%= number_with_precision(@request.tax, precision: 2) %>%)</div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                      <div class="sub_total_value">$ <%= number_with_precision((@request.tax.to_f / 100) * @request.amount.to_f, precision: 2)  %></div>
                    </div>
                  </div>
                  <!--                  <div class="row">-->
                  <!--                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">-->
                  <!--                      <div class="sub_total_name">Fee</div>-->
                  <!--                    </div>-->
                  <!--                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">-->
                  <!--                      <div class="sub_total_value">$ 19.00</div>-->
                  <!--                    </div>-->
                  <!--                  </div>-->
                  <hr class="transaction_hr">
                  <div class="row mt-5">
                    <div class="col-xl-8 col-lg-8 col-md-8 col-sm-12 col-xs-12 padding-0-right">
                      <div class="left-total-fund">
                        <div class="total_amount">Total Amount</div>
                      </div>
                    </div>
                    <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 col-xs-12 padding-0-left">
                      <div class="right-total-fund">
                        <div class="price_transaction">$<%= number_with_precision(@request.total_amount, precision: 2) %></div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <hr class="transaction_hr">
            <div class="row">
              <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="last_text">
                  <p>If you have any questions, contact <%= @location.present? ? @location.business_name : @sender.name  %> at <span><%= @location.present? ? @location.email : @sender.email  %></span> or call <span><%= @location.present? ? @location.cs_number : @sender.phone_number  %></span>.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
          <div class="product_box">
            <div class="row">
              <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="select_box_height">
                  <form class="" action="">
                    <div class="form-group m-form__group">
                      <label class="transaction_type" for="orderStatus">
                        Select Account
                      </label>
                      <select class="form-control m-bootstrap-select m-bootstrap-select--pill  m_selectpicker reason-dd-1" id="from_wallet" name="from_wallet" title="Select an Account" required>
                        <%= @list.each_with_index do |w, i| %>
                          <% if @list.size != 1 %>
                            <option value="<%= w[:wallet_id] %>" data-balance="<%= number_with_precision(w[:balance], precision: 2, delimiter: ',') %>" data-amount="<%= w[:balance] %>" data-lstatus="<%= w[:location_status] %>"><%= w[:wallet_name] %></option>
                          <% else %>
                            <option value="<%= w[:wallet_id] %>" data-balance="<%= number_with_precision(w[:balance], precision: 2, delimiter: ',') %>" data-amount="<%= w[:balance] %>" data-lstatus="<%= w[:location_status] %>" id="one_wallet"><%= w[:wallet_name] %></option>
                          <% end %>
                        <% end %>
                      </select>
                    </div>
                  </form>
                </div>
                <div class="row margin-top-60px">
                  <div class="col-xl-7 col-lg-7 col-md-7  col-sm-12 col-xs-12 padding-0-right">
                    <div class="invoices_box">
                      <div class="placeholder">Available Balance</div>
                    </div>
                  </div>
                  <div class="col-xl-5 col-lg-5 col-md-5 col-sm-12 col-xs-12 padding-0-left">
                    <div class="invoices_box_2">
                      <div class="price">$<span id="balance">0.00</span></div>
                    </div>
                  </div>
                </div>
                <div class="row margin-top-60px">
                  <div class="col-xl-7 col-lg-7 col-md-7  col-sm-12 col-xs-12 padding-0-right">
                    <div class="invoices_box">
                      <div class="placeholder">Remaining Balance</div>
                    </div>
                  </div>
                  <div class="col-xl-5 col-lg-5 col-md-5 col-sm-12 col-xs-12 padding-0-left">
                    <div class="invoices_box_2">
                      <div class="price"><span id="rem_balance">0.00</span></div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 margin-top-60px">
                <center>
                  <button class="btn btn_quick_card" id="pay_with_quickcard" type="button" aria-label="Close" disabled>
                    Pay with Quickcard
                  </button>
                </center>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<%= render partial: 'v2/merchant/invoices/partials/pay_zcard_confirm' %>
<%= render partial: 'v2/merchant/invoices/partials/pay_zcard_error' %>
<%= render partial: 'v2/merchant/invoices/partials/pay_zcard_success' %>
<%= javascript_include_tag 'v2/merchant/invoices' %>