<div class="m-subheader">
  <div class="d-flex align-items-center">
    <div class="mr-auto">
      <ul class="m-subheader__breadcrumbs m-nav m-nav--inline set-path">
        <li class="m-nav__item">
          <a href="#" class="m-nav__link">
            <span class="my-order-nav">
                Invoices
            </span>
          </a>
        </li>
        <li class="m-nav__separator">
          <%= image_tag "v2/merchant/icons/angle.svg"%>
        </li>
        <li class="m-nav__item">
          <a href="<%= payee_v2_merchant_invoices_path %>" class="m-nav__link">
              <span class="my-order-nav">
                  Invoice List
              </span>

          </a>
        </li>
        <li class="m-nav__separator">
          <%= image_tag "v2/merchant/icons/angle.svg"%>
        </li>
        <li class="m-nav__item">
          <a href="#" class="m-nav__link">
              <span class="order-active">
                <% if @view_only && params[:type] != "resend" %>
                View Invoice
                <% elsif @request.present? %>
                  <% if params[:type].present? && params[:type] == "resend" %>
                    Resend Invoice
                  <% elsif params[:type].present? && params[:type] == "reopen" %>
                    Reopen Invoice
                  <% end %>
                <% else %>
                Create New Invoice
                <% end %>
              </span>
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>

<div class="m-content">
  <div class="page-title">
    <%= @request.present? ? @view_only && params[:type] != "resend" ? "View Invoice" : "Edit Invoice" : "Create New Invoice" %>
  </div>
  <div class="row">
    <div class="col-lg-9 invoice-section mt-5">
      <div class="row">
        <div class="col-lg-6 col-md-6 col-xs-12">
          <p class="pull-left mt-2 customer-info-text">Customer Info</p>
        </div>
        <div class="col-lg-6 col-md-6 col-xs-12 ">
          <a class="cursor-pointer btn pdf_preview_btn  pull-right m-btn m-btn--icon open_pdf_modal" data-type="preview_pdf">
            <span>
              <i class="fa">
                <%= image_tag "v2/merchant/invoice/001-invoice.svg", class: 'invoice_pdf_icon' %>
              </i>
              <span class="preview-pdf-text">
                Preview PDF
              </span>
            </span>
          </a>
        </div>
      </div>
      <hr class="h-line">
      <%= form_tag recurring_billing_post_v2_merchant_invoices_path,id:'invoice_form', autocomplete: "new-password", method: :POST do %>
        <div class="row">
          <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
            <div class="form-group m-form__group">
              <label for="invoices">Invoice #</label>
              <input type="hidden" id="temp_b_state">
              <input type="hidden" id="temp_s_state">
              <input type="hidden" name="type" value="<%= params[:type] %>">
              <input type="hidden" name="existing_user" id="existing_user" value="<%= @receiver.present? ? "true" : "" %>">
              <input type="hidden" name="name" id="name" value="<%= @receiver.present? ? @receiver.name : "Customer" %>" >
              <input type="hidden" value="<%= current_user.name %>" id="merchant_name">
              <input type="hidden" name="verified_user_id" id="verified_user_id" value="<%= @receiver.present? ? @receiver.id : "" %>">
              <input type="hidden" name="request_id" value="<%= @request.present? ? @request.id : "" %>">
              <input type="hidden" name="filter" value="<%= params[:filter].present? ? params[:filter] : 10 %>">
              <input type="text" class="form-control invoice-input m-input" id="invoice_id" value="<%= @request.present? ? @request.invoice_number : @invoice_number %>" name="invoice_id" placeholder="ID12345" required <%= "readonly" if @request.present? %> readonly>
            </div>
          </div>
          <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
            <div class="form-group m-form__group">
              <label for="customer_name">
                Customer Name
              </label>
              <br>
              <%#= text_field_tag 'abcde', "", class: "form-control invoice-input m-input", id:"search_customer",autocomplete: 'new-password', required: true%>
              <input class="form-control invoice-input m-input" name="customer_name" value="<%= @receiver.present? ? @receiver.name : "" %>" id="customer_name" autocomplete="new-password" required <%= "readonly" if @view_only || params[:type] == "reopen" %>>
              <%#= select_tag("customer_name",
                             options_for_select(@users.map {|user| [user.name, user.id]}, @receiver.try(:id)),
                             class: "form-control invoice-input m-input",
                             include_blank: "Choose Customer"
                  ) %>
            </div>
          </div>
          <!--          <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">-->
          <!--            <div class="form-group m-form__group">-->
          <!--              <label for="customer_address">-->
          <!--                Customer Address-->
          <!--              </label>-->
          <!--              <input type="text" class="form-control invoice-input m-input" id="address" name="address" placeholder="123, Nowhere USA" value="<%#= @receiver.try(:address) %>" autocomplete="new-password" required <%#= "readonly" if @view_only %>>-->
          <!--            </div>-->
          <!--          </div>-->
          <!--          <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">-->
          <!--            <div class="form-group m-form__group">-->
          <!--              <label for="city">-->
          <!--                City-->
          <!--              </label>-->
          <!--              <input type="text" class="form-control invoice-input m-input" id="city" name="city" placeholder="San Diego" value="<%#= @receiver.try(:city) %>" autocomplete="new-password" required <%#= "readonly" if @view_only %>>-->
          <!--            </div>-->
          <!--          </div>-->
          <!--          <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">-->
          <!--            <div class="form-group m-form__group">-->
          <!--              <label for="state">-->
          <!--                State-->
          <!--              </label>-->
          <!--              <input type="text" class="form-control invoice-input m-input" id="state" name="state" placeholder="California" value="<%#= @receiver.try(:state) %>" autocomplete="new-password" required <%#= "readonly" if @view_only %>>-->
          <!--            </div>-->
          <!--          </div>-->
          <!--          <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">-->
          <!--            <div class="form-group m-form__group">-->
          <!--              <label for="zip_code">-->
          <!--                Zip Code-->
          <!--              </label>-->
          <!--              <input type="text" class="form-control invoice-input m-input quantity_reg" id="zip_code" name="zip_code" aria-describedby="emailHelp" value="<%#= @receiver.try(:zip_code) %>" autocomplete="new-password" placeholder="92108" required <%#= "readonly" if @view_only %>>-->
          <!--            </div>-->
          <!--          </div>-->
          <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
            <div class="form-group m-form__group">
              <label for="email">
                Email
              </label>
              <input type="email" class="form-control email1 invoice-input m-input" id="email" name="email" aria-describedby="emailHelp" value="<%= @receiver.try(:email) %>" placeholder="dan.nusinovich@email.com" autocomplete="new-password" required <%= "readonly" if @view_only %>>
            </div>
          </div>
          <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
            <div class="form-group m-form__group" id="phone_parent">
              <label for="phone_number">
                Phone Number
              </label>
              <input type="text" class="form-control invoice-input m-input quantity_reg" id="phone_number" name="phone_number" value="<%= @receiver.try(:phone_number) %>" aria-describedby="emailHelp" autocomplete="new-password" placeholder="18552011613" required <%= "readonly" if @view_only %>>
              <input type="hidden" name="phone_code" id="phone_code">
            </div>
            <span class="error-message" id="phone-error"></span>
          </div>
          <div class="searched_dropdown"></div>
          <div class="col-md-12 address_section">
            <%= render partial: 'v2/merchant/shared/addresses', :locals => {:billing => @billing, :shipping => @shipping} %>
          </div>

          <div class="Product-Info">
            Product Info
          </div>
          <hr class="h-line">

          <div class="col-md-12" id="product_section">
            <%= render partial: 'v2/merchant/invoices/partials/product_section_invoice_form', :locals => {:products => @products} %>
          </div>


          <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12"></div>

          <div class="col-md-12" id="calculation_section">
            <div class="row">
              <%= render partial: 'v2/merchant/invoices/partials/calculation_section_invoice_form', :locals => {:request => @request} %>
            </div>
          </div>

          <div class="invoice-c-3 col-lg-12 col-md-12 col-sm-12">
            <div class="row">
              <div class="col-lg-6 col-md-6 col-sm-6">
                <div class="form-group m-form__group invoice-account-field">
                  <label for="templates">
                    Select Account For Deposit
                  </label>
                  <% if @view_only %>
                    <%= select_tag "wallet_id", options_for_select(@list.map {|w| [w[:wallet_name], w[:wallet_id], data: {'location_status': w[:location_status]}]}, @request.try(:wallet_id)), {:class => "form-control invoice-input m-bootstrap-select m-bootstrap-template-select m-bootstrap-select--pill m_selectpicker", required: true,  disabled: true} %>
                    <input type="hidden" name="wallet_id" value="<%= @request.try(:wallet_id) %>">
                  <% else %>
                    <%= select_tag "wallet_id", options_for_select(@list.map {|w| [w[:wallet_name], w[:wallet_id], data: {'location_status': w[:location_status]}]}, @request.try(:wallet_id)), {:class => "form-control invoice-input m-bootstrap-select m-bootstrap-template-select m-bootstrap-select--pill m_selectpicker", required: true,include_blank: "Select an Account"  } %>
                  <% end %>
                  <p class="ml-2 red-color" id="location_error"></p>
                  <% @list.each do |w| %>
                    <input type="hidden" id="<%= w[:wallet_id] %>_name" value="<%= w[:name] %>">
                    <input type="hidden" id="<%= w[:wallet_id] %>_email" value="<%= w[:email] %>">
                    <input type="hidden" id="<%= w[:wallet_id] %>_phone_number" value="<%= w[:cs_number] %>">
                  <% end %>
                  <div class="m--space-10"></div>
                </div>
              </div>
            </div>
          </div>
          <div class="invoice-c-3 col-lg-12 col-md-12 col-sm-12">
            <div class="row">
              <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-xs-12">
                <label class="label--account">Date to Send Invoice</label>
                <div class="input-group date">
                  <% if params[:view].present? %>
                    <input type="text" name="schedule_date" class="form-control invoice-input input--amount schedule_date" readonly id="datee_to_send_invoices" value="<%= @request.present? ? @request.schedule_date.present? ? @request.schedule_date.strftime("%m/%d/%Y") : "": "" %>" required/>
                  <% else %>
                    <input type="text" name="schedule_date" class="form-control invoice-input input--amount schedule_date" readonly id="date_to_send_invoices" value="<%= @request.present? ? @request.schedule_date.present? ? @request.schedule_date.strftime("%m/%d/%Y") : "": "" %>" required/>
                  <% end %>
                  <div class="input-group-append send--date">
                              <span class="input-group-text p-0">
                                <%= image_tag "v2/merchant/icons/Funding-Schedule-b.svg", class: "calender_image" %>
                              </span>
                  </div>
                </div>
              </div>
              <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-xs-12">
                <label class="label--account" for="due_date_for_invoices">Due Date for Invoice</label>
                <div class="input-group date">
                  <% if params[:view].present? %>
                    <input type="text" name="due_date" class="form-control invoice-input input--amount due_date" id="duee_date_for_invoices" readonly value="<%= @request.present? ? @request.due_date.present? ? @request.due_date.strftime("%m/%d/%Y") : "" : "" %>" required/>
                  <% else %>
                    <input type="text" name="due_date" class="form-control invoice-input input--amount due_date" id="due_date_for_invoices" readonly value="<%= @request.present? ? @request.due_date.present? ? @request.due_date.strftime("%m/%d/%Y") : "" : "" %>" required/>
                  <% end %>
                  <div class="input-group-append due--date">
                    <span class="input-group-text p-0">
                      <%= image_tag "v2/merchant/icons/Funding-Schedule-b.svg", class: "calender_image" %>
                    </span>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-12 mt-3">
            <div>
              <p class="memo-text"><strong>Memo</strong> (this will appear on the invoice):</p>
            </div>
            <div class="form-group m-form__group">
              <textarea class="form-control m-input m-invoice-textarea" name="memo" id="invoice_memo" <%= "readonly" if params[:view].present? %> required><%= @request.try(:description) %></textarea>
              <span class="chr-limit-custom-3 pull-right remaining_char">500 characters remaining</span>
            </div>
          </div>
          <div class="col-lg-11">
            <div class="subtotal-text">
              <p>Payment Options</p>
            </div>
            <div>
              <div class="form-group m-form__group">
                <label class="m-checkbox m-checkbox--state-brand ">
                  <input type="checkbox" class="payment_option_checkboxes" id="payment_option_quickcard" data-title="Pay with<br>Quickcard" data-src="https://quickard.s3-us-west-2.amazonaws.com/QuickCard_logo_vertical.png" name="payment_option[quickcard]" <%= @request.blank? ? "checked" : @request.try(:payment_option).try(:[],"quickcard") ? "checked" : "" %>  <%= "disabled" if params['view'].present? %>>
                  Quickcard
                  <span class="verify_checkbox"></span>
                </label>
              </div>
              <div class="form-group m-form__group">
                <label class="m-checkbox m-checkbox--state-brand ">
                  <input type="checkbox" class="payment_option_checkboxes" id="payment_option_ach" data-title="Pay with RTP" data-src="https://quickard.s3-us-west-2.amazonaws.com/001-payment.png" name="payment_option[ach]" <%= "checked" if @request.try(:payment_option).try(:[],"ach") %> <%= "disabled" if params['view'].present? %>>
                  RTP
                  <span class="verify_checkbox"></span>
                </label>
              </div>
              <!--              <div class="form-group m-form__group">-->
              <!--                <label class="m-checkbox m-checkbox--state-brand ">-->
              <!--                  <input type="checkbox" class="payment_option_checkboxes" id="payment_option_ach" data-title="ACH" data-src="https://quickard.s3-us-west-2.amazonaws.com/001-payment.png" name="payment_option[ach]" <%#= "checked" if @request.try(:payment_option).try(:[],"ach") %>>-->
              <!--                  <input type="hidden" class="payment_option_checkboxes" id="payment_option_ach" data-title="ACH" data-src="https://quickard.s3-us-west-2.amazonaws.com/001-payment.png" name="payment_option[ach]" <%#= "checked" if @request.try(:payment_option).try(:[],"ach") %>>-->
              <!--                  ACH-->
              <!--                  <span class="verify_checkbox"></span>-->
              <!--                </label>-->
              <!--              </div>-->
              <label class="m-checkbox m-checkbox--state-brand ">
                <input type="checkbox" class="payment_option_checkboxes" id="payment_option_card" data-title="Credit or debit<br>Card" data-src="https://quickard.s3-us-west-2.amazonaws.com/surface1.png" name="payment_option[card]" <%= "checked" if @request.try(:payment_option).try(:[],"card") %> <%= "disabled" if params['view'].present? %>>
                Credit/Debit
                <span class="verify_checkbox"></span>
              </label>
            </div>
          </div>
          <hr class="h-line">
          <div class="col-xl-5 col-lg-5 col-md-5 col-sm-5 col-xs-12"></div>
          <div class="col-xl-7 col-lg-7 col-md-7 col-sm-7 col-xs-12">
            <p class="pull-left form-error red-color mt-3"></p>
            <div class="pull-right">
              <% if @view_only   %>
                <% if  @request.present? && ( @request.status == "cancel" || @request.status == "approved" ) %>
                  <button class="btn btn-default btn-invoice-cancel btn__invoice cursor-not-allowed" disabled>Cancel</button>
                <% else %>
                  <a class="btn btn-default btn-invoice-cancel btn__invoice cancel_invoice_in_progress" data-id=<%= @request.try(:id) %> data-number=<%= @request.try(:invoice_number) %>>Cancel</a>
                <% end %>
              <% elsif @request.present? %>
                <a class="btn btn-default btn-invoice-cancel btn__invoice cancel_invoice" data-id=<%= @request.try(:id) %> data-number=<%= @request.try(:invoice_number) %>>Cancel</a>
              <% else %>
                <%#= link_to 'Cancel', payee_v2_merchant_invoices_path, class: "btn btn-default btn-invoice-cancel btn__invoice", data: {confirm: "Warning Unsaved Data, Are you sure?"} %>
                <%= link_to 'Cancel', "#", class: "btn btn-default btn-invoice-cancel btn__invoice cancel_invoices" %>
              <% end %>
              <% if  @request.present? && @request.status == "cancel" %>
                <button type="button" class="btn btn-default btn-preview-invoice btn__preview cursor-not-allowed" disabled>Preview Invoice</button>
              <% else %>
                <button type="button" class="btn btn-default btn-preview-invoice btn__preview open_pdf_modal"  data-type="preview_invoice">Preview Invoice</button>
              <% end %>
            </div>
          </div>
        </div>
        <%= render partial: 'v2/merchant/invoices/partials/email_preview' %>
      <% end %>
    </div>
    <div class="col-lg-3"></div>
  </div>
</div>

<%= render partial: 'v2/merchant/invoices/partials/cancel_invoice' %>
<%= javascript_include_tag 'v2/merchant/bootstrap-datepicker', 'data-turbolinks-track': 'reload' %>
<%= javascript_include_tag 'v2/merchant/invoices' %>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
