<!DOCTYPE html>
<html lang="en"
      class="wf-poppins-n4-active wf-poppins-n5-active wf-roboto-n5-active wf-poppins-n6-active wf-poppins-n3-active wf-roboto-n3-active wf-roboto-n4-active wf-roboto-n6-active wf-roboto-n7-active wf-poppins-n7-active wf-active">
<!-- begin::Head -->
<head>
  <meta charset="utf-8">
  <title>
    QuickCard
  </title>
  <%= action_cable_meta_tag %>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

<!--  <script src="https://cdnjs.cloudflare.com/ajax/libs/validate.js/0.12.0/validate.min.js"></script>-->
  <%= stylesheet_link_tag 'v2/merchant/coreBase' %>
  <%= stylesheet_link_tag 'v2/merchant/customized' %>
  <%# stylesheet_link_tag "#{params[:controller]}" %>
  <%= stylesheet_link_tag 'v2/partner/partner_wallet_custom1' %>
  <%= javascript_include_tag 'v2/merchant/vendors_bundle' %>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/multiple-select/1.2.0/multiple-select.css">
</head>

<body id="body--aa" class="m-page--fluid m--skin- m-content--skin-light2 m-header--fixed m-header--fixed-mobile m-aside-left--enabled m-aside-left--skin-dark m-aside-left--offcanvas m-footer--push m-aside--offcanvas-default m-aside-left--minimize m-brand--minimize">
<% if current_user.affiliate_program? && current_user.tos_checking == false %>
  <%= yield %>
<%else%>
<div class="container-fluid login-bg <%= "display_none" if cookies[:loader] != 1 %>"><%= render partial: 'v2/merchant/shared/loader' %></div>
<div class="m-grid m-grid--hor m-grid--root m-page <%= "display_none" if cookies[:loader] == 1 %>">
    <%= render partial: 'v2/partner/shared/header' %>
    <!--  <div class="m-grid__item m-grid__item--fluid m-grid m-grid--ver-desktop m-grid--desktop m-body">-->
    <%#= render partial: 'v2/merchant/shared/sidebar' %>
    <!--    <div class="m-grid__item m-grid__item--fluid m-wrapper content_boday">-->
    <!--      <div class="m-content">-->
    <%#= render "v2/merchant/shared/flash" %>
    <%#= yield %>
    <!--      </div>-->
    <!--    </div>-->
    <!--  </div>-->

    <div class="m-grid__item m-grid__item--fluid m-grid m-grid--ver-desktop m-grid--desktop m-body">
      <%= render partial: 'v2/partner/shared/sidebar' %>
      <div class="m-grid__item m-grid__item--fluid m-wrapper content_boday">
        <%= render "v2/merchant/shared/flash" %>
        <%= yield %>
      </div>
    </div>
    <%= render partial: 'v2/merchant/shared/footer' %>
  </div>  
<%end%>
<%= render partial: 'v2/partner/shared/asidebar' %>
<div id="activityLogs" class="activit-box"><%= image_tag 'v2/merchant/loader.svg', class: 'loader-activity' %></div>
<% if current_user.present? && current_user.cookies_accept == false %>
  <%= render partial: 'v2/partner/shared/cookies' %>
<% end %>

<%= javascript_include_tag 'v2/merchant/base.js' %>
<%= javascript_include_tag 'v2/merchant/scripts_bundle' %>
<%= javascript_include_tag 'v2/partner/partner_custom' %>
<script src="https://cdnjs.cloudflare.com/ajax/libs/multiple-select/1.2.0/multiple-select.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/validate.js/0.12.0/validate.min.js"></script>
</body>
</html>
