<% if fee_fields.object.is_baked_iso %>
  <% unless fee_fields.object.splits.blank? %>
    <% @splits =  JSON.parse(fee_fields.object.splits) %>
      <% if @splits["splits"].present? %>
        <% @splits["splits"].each do|key,value| %>
          <% if key.present? %>
              <% if value.present? %>
                <div class="col-md-12  details_of_<%=count%>">
                  <div class="row div_padding_10">
                    <div class="col-md-12 div_padding_17">
                      <div class="form-group col-md-4">
                        <div class="row">
                          <div class="col-md-1 add_baked_css">
                            <span>
                            <% if key == "0" %>
                                <a id="add_baked_users" class='col-md-12 split_padding_0 add_baked_users<%= count %>' data-count="<%= count %>"><i class="fa fa-plus-circle fa-2x"></i></a>
                            <% else %>
                                <a id="<%=count%>-<%= key%>" class="col-md-12 split_padding_0 remove_baked_users"><i class="fa fa-minus-circle fa-2x"></i></a>
                            <% end %>
                            </span>
                          </div>
                          <div class="col-md-11">
                            <label class="no-padding"><span>Select User 1</span></label>
                            <% user_1 = rand(1..333) %>
                            <input type="text" class="form-control for_super_users name_field  input-field first-user" id="user_<%= count%><%=key%><%=user_1%>" name="user[fees_attributes][<%= count %>][splits][splits][<%=key%>][user_1][name]"  value="<%= value["user_1"].present? ? value["user_1"]["name"].present? ? value["user_1"]["name"] : '' : ''  %>" autocomplete="off">
                            <input type="hidden" id="user_<%= count%><%=key%><%=user_1%>Hidden"  name="user[fees_attributes][<%= count %>][splits][splits][<%=key%>][user_1][user]" value="<%= value["user_1"].present? ? value["user_1"]["user"].present? ? value["user_1"]["user"] : '' : ''  %>" class="form-control">
                            <div id="user_<%= count%><%=key%><%=user_1%>_error" class="error_class"></div>
                          </div>
                        </div>
                      </div>
                      <div class="form-group col-md-4">
                        <% user_2 = rand(333..666) %>
                        <label class="no-padding"><span>Select User 2</span></label>
                        <input type="text" class="form-control for_super_users name_field  input-field"  id="user_<%= count%><%=key%><%=user_2%>" name="user[fees_attributes][<%= count %>][splits][splits][<%=key%>][user_2][name]" value="<%= value["user_2"].present? ? value["user_2"]["name"].present? ? value["user_2"]["name"] : '' : ''  %>" autocomplete="off">
                        <input type="hidden" id="user_<%= count%><%=key%><%=user_2%>Hidden"  name="user[fees_attributes][<%= count %>][splits][splits][<%=key%>][user_2][user]" value="<%= value["user_2"].present? ? value["user_2"]["user"].present? ? value["user_2"]["user"] : '' : ''  %>" class="form-control">
                        <div id="user_<%= count%><%=key%><%=user_2%>_error" class="error_class"></div>
                      </div>
                      <div class="form-group col-md-4">
                        <% user_3 = rand(666..999) %>
                        <label class="no-padding"><span>Select User 3</span></label>
                        <input type="text" class="form-control for_super_users name_field  input-field"  id="user_<%= count%><%=key%><%=user_3%>" name="user[fees_attributes][<%= count %>][splits][splits][<%=key%>][user_3][name]" value="<%= value["user_3"].present? ? value["user_3"]["name"].present? ? value["user_3"]["name"] : '' : ''  %>" autocomplete="off">
                        <input type="hidden" id="user_<%= count%><%=key%><%=user_3%>Hidden" name="user[fees_attributes][<%= count %>][splits][splits][<%=key%>][user_3][user]" value="<%= value["user_3"].present? ? value["user_3"]["user"].present? ? value["user_3"]["user"] : '' : ''  %>" class="form-control">
                        <div id="user_<%= count%><%=key%><%=user_3%>_error" class="error_class"></div>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-12 div_padding_left">
                    <div class="col-md-4">
                      <div class="row">
                        <div class="col-md-1"></div>
                        <div class="col-md-11 split_padding_0">
                          <div class="col-md-6 split_padding_0">
                            <p class="split_label1_css">% Split </p>
                          </div>
                          <div class="col-md-6 split_padding_0">
                            <p class="split_label1_css">$ Split </p>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-2 split_padding_0">
                      <p class="split_label1_css">% Split </p>
                    </div>
                    <div class="col-md-2 split_padding_0">
                      <p class="split_label1_css">$ Split </p>
                    </div>
                    <div class="col-md-2 split_padding_0">
                      <p class="split_label1_css">% Split </p>
                    </div>
                    <div class="col-md-2 split_padding_0">
                      <p class="split_label1_css">$ Split </p>
                    </div>
                  </div>
                  <div class="col-md-12 div_padding_22">
                    <div class="col-md-4">
                      <div class="row">
                        <div class="col-md-1"></div>
                        <div class="col-md-11">
                          <div class="col-md-6 form-group padding_left_zero">
                            <input type="number" id="percent_user_<%= count%><%=key%><%=user_1%>" name="user[fees_attributes][<%= count %>][splits][splits][<%= key%>][user_1][percent]" class="form-control sub-field user_<%= count%><%=key%><%=user_1%>_percent" value="<%= value["user_1"].present? ? value["user_1"]["percent"].present? ? value["user_1"]["percent"] : "" : ""  %>" placeholder="0.00" step="any">
                          </div>
                          <div class="col-md-6 form-group padding_right_zero">
                            <input type="number" id="dollar_user_<%= count%><%=key%><%=user_1%>" name="user[fees_attributes][<%= count %>][splits][splits][<%= key%>][user_1][dollar]" class="form-control sub-field user_<%= count%><%=key%><%=user_1%>_dollar" value="<%= value["user_1"].present? ? value["user_1"]["dollar"].present? ? value["user_1"]["dollar"] : "" : ""  %>" placeholder="0.00" step="any">
                          </div>
                          <div id="user_<%= count%><%=key%><%=user_1%>_percent_error" class="percent_error error_class"></div>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-4">
                      <div class="row">
                        <div class="col-md-1"></div>
                        <div class="col-md-11">
                          <div class="col-md-6 form-group padding_left_zero">
                            <input type="number" id="percent_user_<%= count%><%=key%><%=user_2%>" name="user[fees_attributes][<%= count %>][splits][splits][<%= key%>][user_2][percent]" class="form-control sub-field user_<%= count%><%=key%><%=user_2%>_percent" value="<%= value["user_2"].present? ? value["user_2"]["percent"].present? ? value["user_2"]["percent"] : "" : ""  %>" placeholder="0.00" step="any">
                          </div>
                          <div class="col-md-6 form-group padding_right_zero">
                            <input type="number" id="dollar_user_<%= count%><%=key%><%=user_2%>" name="user[fees_attributes][<%= count %>][splits][splits][<%= key%>][user_2][dollar]" class="form-control sub-field user_<%= count%><%=key%><%=user_2%>_dollar" value="<%= value["user_2"].present? ? value["user_2"]["dollar"].present? ? value["user_2"]["dollar"] : "" : ""  %>" placeholder="0.00" step="any">
                          </div>
                          <div id="user_<%= count%><%=key%><%=user_2%>_percent_error" class="percent_error error_class"></div>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-4">
                      <div class="row">
                        <div class="col-md-1"></div>
                        <div class="col-md-11">
                          <div class="col-md-6 form-group padding_left_zero">
                            <input type="number" id="percent_user_<%= count%><%=key%><%=user_3%>" name="user[fees_attributes][<%= count %>][splits][splits][<%= key%>][user_3][percent]" class="form-control sub-field user_<%= count%><%=key%><%=user_3%>_percent" value="<%= value["user_3"].present? ? value["user_3"]["percent"].present? ? value["user_3"]["percent"] : "" : ""  %>" placeholder="0.00" step="any">
                          </div>
                          <div class="col-md-6 form-group padding_right_zero">
                            <input type="number" id="dollar_user_<%= count%><%=key%><%=user_3%>" name="user[fees_attributes][<%= count %>][splits][splits][<%= key%>][user_3][dollar]" class="form-control sub-field user_<%= count%><%=key%><%=user_3%>_dollar" value="<%= value["user_3"].present? ? value["user_3"]["dollar"].present? ? value["user_3"]["dollar"] : "" : ""  %>" placeholder="0.00" step="any">
                          </div>
                          <div id="user_<%= count%><%=key%><%=user_3%>_percent_error" class="percent_error error_class"></div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              <% end %>
        <% end %>
      <% end %>
    <% end %>
  <% end %>
<% end %>