 <!-- Modal -->
  <div class="modal fade editModal" role="dialog">
    <div class="modal-dialog form-group">

      <!-- Modal content-->
      <div class="modal-content">

        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Edit ISO</h4>
        </div>
          <%= form_for @iso, url: {controller: "admins/isos", action: "update"} do |f| %>
            <div class="row">
              <div class="col-md-12">
                <div class="card-header bordered">
                  <div class="header-block">

                    <div class="">
                      <div class="col-xs-12">
                        <div class="col-md-12">
                          <div class="form-group">
                            <%= f.hidden_field :id, :id=>'iso_hidden_field',value:@iso.id %>
                            <%= f.hidden_field :id, :id=>'iso_hidden_current_email',value:@iso.email %>
                            <%= f.hidden_field :id, :id=>'iso_hidden_current_phone_no',value:@iso.phone_number %>
                          </div>
                          <div class="form-group">
                            <%= f.label :first_name %><br />
                            <%= f.text_field :first_name , id:"first_name" ,class:"form-control",required: true%>
                          </div>

                          <div class="form-group">
                            <%= f.label :last_name %><br />
                            <%= f.text_field :last_name , id:"last_name" ,class:"form-control",required: true%>
                          </div>

                          <div class="form-group">
                            <%= f.label :phone_number, id:'phone_number_label_field1'%><br />
                            <%= f.number_field :phone_number ,class:"form-control",:onChange=>"validate_phone_edit_number1();",id: 'phone_number_field1' ,required: true%>
                          </div>

                          <div class="form-group">
                            <%= f.label :email , id:'email_label_field1'%><br />
                            <%= f.text_field :email ,class:"form-control",:onChange=>"validate_company_edit_email1();",id: 'email_field1' ,required: true%>
                          </div>

                          <div class="form-group">
                            <%= f.label :password, "Password" %><br />
                            <%= f.password_field :password, id:"password1" ,class:"form-control"%>
                          </div>
                          <div class="form-group">
                            <%= f.label :password_confirmation, "Confirm Password", id:'password_field1'  %><br />
                            <%= f.password_field :password_confirmation, id:"password_confirmation1" ,class:"form-control"%>
                          </div>
                        </div>
                      </div>
                    </div>
                    <%= f.submit "Submit", class:"btn btn-success " , id: 'submit_edit_button1' %>
                  <% end %>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
  </div>

 <%= javascript_include_tag 'admins/isos.js' %>
