
<div class="box">
  <h4 class="header-color">Commission</h4>
    <div class="row">
      <div class="form-inline margin-top">
        <div class="col-md-2">
          <label class="h6">Commission Tiers: </label>
        </div>
        <div class="col-md-6">
          <input type="number" min="1" class="form-control number_only commission_tier_in apply" name="apply" required>
          <a class="tier_apply apply" href="#" id='add-col'>Apply</a><br>
          <span id="commission_tier_error" class="error-text"></span>
        </div>
      </div>

    </div>
    <div class="row">
      <div class="col-md-12 error-1 tier_table"></div>
      <div class="col-md-12">
        <div class="table-responsive">
          <table class="table table-bordered table-hovered table-condensed" id="commissionTable">
            <thead class="tier_thead" id='commission-head'>
            <th></th>
            <% if commission.present? && commission["commission"].present? %>
              <% last_tier = commission["commission"].length %>
              <input type="hidden" id="last_tier" value="<%=last_tier %>">
              <% for i in (1...commission["commission"].length + 1) %>
                <th> <%= TypesEnumLib::CommissionType::TierName %> <%= i %></th>
              <% end %>
            <% end %>
            </thead>
            <tbody id="commission-body">
            <tr>
              <td><strong>Sales Level</strong></td>
              <% if commission.present? && commission["commission"].present? %>
                <% for i in (1...commission["commission"].length + 1) %>
                  <td class="max-width-field">
                    <div class="row">
                      <div class="col-md-6">
                        <input class="sales_level_min amount_field form-control" type="text" id="sales_level_min_<%= i %>" name="user[fees_attributes][0][commission][commission][tier<%= i %>][sales_level_min]" value='<%= commission["commission"]["tier#{i}"]["sales_level_min"] %>' readonly/>
                      </div>
                      <div class="col-md-6">
                        <% if i == commission["commission"].length %>
                          <input class="sales_level_max form-control amount_field pull-right infinity" type="text" id="sales_level_max_<%= i %>" name="user[fees_attributes][0][commission][commission][tier<%= i %>][sales_level_max]" value='' placeholder="infinity" readonly />
                        <% else %>
                          <input class="sales_level_max form-control amount_field pull-right" type="text" id="sales_level_max_<%= i %>" name="user[fees_attributes][0][commission][commission][tier<%= i %>][sales_level_max]" value='<%= commission["commission"]["tier#{i}"]["sales_level_max"] %>'/>
                        <% end %>
                      </div>
                    </div>
                    <p class="text-center error-span display-none sales_level_max_<%= i %>"></p>
                  </td>
                <% end %>
              <% end %>
            </tr>
            <tr class="dollar_commission">
              <td><strong>Commission split</strong></td>
              <% if commission.present? && commission["commission"].present? %>
                <% for i in (1...commission["commission"].length + 1) %>
                  <td>
                    <div class="row">
                      <div class="col-md-3"></div>
                      <div class="col-md-8 me text-center">
                        <input  class="commission_iso number_only"  maxlength="3" type="text" id="commission_iso_<%= i %>" name="user[fees_attributes][0][commission][commission][tier<%= i %>][commission_iso]" value='<%= commission["commission"]["tier#{i}"]["commission_iso"] %>' required="true"/>
                        <span class="commission_slash">/</span>
                        <input class="commission_merchant number_only"  maxlength="3" type="text" id="commission_merchant_<%= i %>" name="user[fees_attributes][0][commission][commission][tier<%= i %>][commission_merchant]" value='<%= commission["commission"]["tier#{i}"]["commission_merchant"] %>' required="true"/>
                      </div>
                      <div class="col-md-3"></div>
                    </div>
                    <p class="text-center error-span display-none commission_merchant_<%= i %>">Percentage Must
                      be equal to 100</p>
                  </td>
                <% end %>
              <% end %>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <!--<div id="add-btn-div">-->
      <!--<span>Active: <input type="checkbox" name="is_active" value="1" checked></span>-->
      <!--<br>-->
      <!--<input  type="submit" name="submit" value="Add" class="btn btn-primary" id="action-form-submit" disabled>-->
    <!--</div>-->
</div>

<%# javascript_include_tag 'admins/isos.js' %>
