
<div class="col-md-12" id="buyrate-container">
  <div class="row buyrate-row">
    <h5 id="buyrate-info-heading">ISO Information</h5>
    <br>
    <div class="col-md-8" id="buyrate-user-fields-container">
      <div class="form-group">
        * <%= f.label :company_name,class: 'control-label' %><br />
        <%= f.text_field :company_name , class:"form-control",required: true%>
        <div class="help-block with-errors"></div>
      </div>
      <div class="form-group">
        * <%= f.label :first_name,class: 'control-label' %><br />
        <%= f.text_field :first_name , class:"form-control",required: true%>
        <div class="help-block with-errors"></div>
      </div>
      <div class="form-group">
        * <%= f.label :last_name,class: 'control-label' %><br />
        <%= f.text_field :last_name , class:"form-control",required: true%>
        <div class="help-block with-errors"></div>
      </div>
      <div class="form-group">
        * <%= f.label :email , id:'email_label_field'%><br />
        <%= f.email_field :email, class:"form-control", required: true, readonly: "", onfocus: "this.removeAttribute('readonly');"%>
        <div class="help-block with-errors"></div>
      </div>
      <div class="form-group">
        * <%= f.label :phone_number, id:'phone_number_label_field'%><br />
        <%= f.number_field :phone_number,pattern: "^[0-9]{1,}$",class:"form-control",required: true%>
        <div class="help-block with-errors"></div>
      </div>
      <% if !@iso.new_record? %>
        <div class="form-group">
          <%= f.label :password,class: 'control-label', id:'password_label_edit_field' %><br />
          <%= f.password_field :password,class:"form-control" %>
          <div class="help-block with-errors"></div>
        </div>
        <div class="form-group">
          <%= f.label :password_confirmation,class: 'control-label',id:'password_confirmation_label_edit_field' %><br />
          <%= f.password_field :password_confirmation,class:"form-control", data:{match: "#password_edit_field","match-error" => "Password Mismatch"} %>
          <div class="help-block with-errors"></div>
        </div>
      <% end %>

      <%= render partial: 'admins/shared/system_fee', :locals => {:f => f, system_fee_fields_title: "ISO Fee", user: @iso } %>
    </div>
    <div class="col-md-4"></div>
  </div>
  <!-- Buy Rate Partial-->
  <div class="row buyrate-row">
    <div class="col-md-12" id="buy-rate-full-partial">
      <%= render partial: 'iso_buyrate', :locals => {:f => f } %>
    </div>
  </div>

  <div class="col-md-12" id="buyrate-save-btn-div">
    <%#= f.submit "Save ISO", class:"btn btn-success " %>
    <button type="submit" class="btn btn-success" id="submit_edit_button">Save ISO</button>
  </div>
</div>

<%= javascript_include_tag 'admins/isos.js' %>
