<style>
  .ui-autocomplete {
    max-height: 100px;
    overflow-y: auto;
    overflow-x: hidden;
  }
  * html .ui-autocomplete {
    height: 100px;
  }
  .ui-autocomplete-category {
    font-weight: bold;
    padding: .2em .4em;
    margin: .8em 0 .2em;
    line-height: 1.5;
  }
</style>
<h5 id="buyrate-text">Buy Rate</h5>
<br>
<div class="form-group" id="buyrate-fields-div">
  <%#= fee_fields.radio_button :risk, 'High Risk','high', :checked => true %>
  <%#= fee_fields.radio_button :risk, 'Low Risk','low' %>
  <!--<input type="radio" name="risk" value="high" checked="checked"/><label>High Risk</label>-->
  <!--<input type="radio" name="risk" value="low"  /><label>Low Risk</label>-->
  <div class="buyrate-bar">
    <button type="button" class="btn btn-primary" id="high-risk-tab-button">High Risk</button>
    <button type="button" class="btn btn-default" id="low-risk-tab-button">Low Risk</button>
  </div>
</div>
<!-- 0 = high risk
     1 = low risk  -->
<div class="buyrate-tab-container risk">
  <% count=0 %>

  <%= f.simple_fields_for :fees,@fees do |fee_fields| %>
    <%# if count==1 ##this is move in super_details_edit.js.erb
         display="none"
       end %>
    <% if !@iso.new_record? && @iso.fees[count].commission.present? %>
      <%= fee_fields.hidden_field :id %>
    <% end %>
    <%= fee_fields.hidden_field :risk, :value=>'high' if count==0%>
    <%= fee_fields.hidden_field :risk, :value=>'low' if count==1 %>
    <div class="row buyrate-row" id="container<%=count%>">
      <div class="row">
        <div class="col-md-7" id="buyrate-labels-container">
          <div class="col-md-12 zero-padding">
            <div class="form-group col-md-4">
              <label>Transaction Fee - Mobile App</label>
            </div>
            <div class="form-group col-md-4">
              <div class="input-icon icon_inside_input_field">
                <i>%</i>
                <%= fee_fields.input :transaction_fee_app ,label: false, input_html: {class:"form-control buyrate_fields percentage_validation" , :onclick => 'this.select();',  value: fee_fields.object.transaction_fee_app || 0.0, step: :any}%>
              </div>
            </div>
            <div class="form-group col-md-4">
              <div class="input-icon icon_inside_input_field">
                <i>$</i>
                <%= fee_fields.input :transaction_fee_app_dollar ,label: false, input_html: {class:"form-control buyrate_fields" , :onclick => 'this.select();', value: fee_fields.object.transaction_fee_app_dollar || 0.0, step: :any}%>
              </div>
            </div>
          </div>
          <div class="col-md-12 zero-padding">
            <div class="form-group col-md-4">
              <label>Transaction Fee - Debit Card</label>
            </div>
            <div class="form-group col-md-4">
              <div class="input-icon icon_inside_input_field">
                <i>%</i>
                <%= fee_fields.input :transaction_fee_dcard ,label: false, input_html: {class:"form-control buyrate_fields percentage_validation" , :onclick => 'this.select();',  value: fee_fields.object.transaction_fee_dcard || 0.0, step: :any}%>
              </div>
            </div>
            <div class="form-group col-md-4">
              <div class="input-icon icon_inside_input_field">
                <i>$</i>
                <%= fee_fields.input :transaction_fee_dcard_dollar ,label: false, input_html: {class:"form-control buyrate_fields", :onclick => 'this.select();' , value: fee_fields.object.transaction_fee_dcard_dollar || 0.0, step: :any}%>
              </div>
            </div>
          </div>
          <div class="col-md-12 zero-padding">
            <div class="form-group col-md-4">
              <label>Transaction Fee - Credit Card</label>
            </div>
            <div class="form-group col-md-4">
              <div class="input-icon icon_inside_input_field">
                <i>%</i>
                <%= fee_fields.input :transaction_fee_ccard ,label: false, input_html: {class:"form-control buyrate_fields percentage_validation" , :onclick => 'this.select();', value: fee_fields.object.transaction_fee_ccard || 0.0, step: :any}%>
              </div>
            </div>
            <div class="form-group col-md-4">
              <div class="input-icon icon_inside_input_field">
                <i>$</i>
                <%= fee_fields.input :transaction_fee_ccard_dollar ,label: false, input_html: {class:"form-control buyrate_fields" , :onclick => 'this.select();', value: fee_fields.object.transaction_fee_ccard_dollar || 0.0, step: :any}%>
              </div>
            </div>
          </div>
          <div class="col-md-12 zero-padding">
            <div class="form-group col-md-4">
              <label>Invoice - Credit Card</label>
            </div>
            <div class="form-group col-md-4">
              <div class="input-icon icon_inside_input_field">
                <i>%</i>
                <%= fee_fields.input :invoice_card_fee_perc, label: false, input_html: {class: "form-control buyrate_fields percentage_validation", :onclick => 'this.select();', value: fee_fields.object.invoice_card_fee_perc || 0.0, step: :any} %>
              </div>
            </div>
            <div class="form-group col-md-4">
              <div class="input-icon icon_inside_input_field">
                <i>$</i>
                <%= fee_fields.input :invoice_card_fee, label: false, input_html: {class: "form-control buyrate_fields", :onclick => 'this.select();', value: fee_fields.object.invoice_card_fee || 0.0, step: :any} %>
              </div>
            </div>
          </div>
          <div class="col-md-12 zero-padding">
            <div class="form-group col-md-4">
              <label>Invoice - QC</label>
            </div>
            <div class="form-group col-md-4">
              <div class="input-icon icon_inside_input_field">
                <i>%</i>
                <%= fee_fields.input :b2b_fee ,label: false, input_html: {class:"form-control buyrate_fields percentage_validation" , :onclick => 'this.select();', value: fee_fields.object.b2b_fee || 0.0, step: :any}%>
              </div>
            </div>
          </div>
          <div class="col-md-12 zero-padding">
            <div class="form-group col-md-4">
              <label>Gift Card fee Buy Rate</label>
            </div>
            <div class="form-group col-md-4">
              <div class="input-icon icon_inside_input_field">
                <i>$</i>
                <%= fee_fields.input :giftcard_fee ,label: false, input_html: {class:"form-control buyrate_fields" , :onclick => 'this.select();', value: fee_fields.object.giftcard_fee || 0.0, step: :any}%>
              </div>
            </div>
          </div>
          <div class="col-md-12 zero-padding">
            <div class="form-group col-md-4">
              <label>Send Check Buy Rate</label>
            </div>
            <div class="form-group col-md-4">
              <div class="input-icon icon_inside_input_field">
                <i>%</i>
                <%= fee_fields.input :redeem_fee ,label: false, input_html: {class:"form-control buyrate_fields percentage_validation" , :onclick => 'this.select();', value: fee_fields.object.redeem_fee || 0.0, step: :any}%>
              </div>
            </div>
            <div class="form-group col-md-4">
              <div class="input-icon icon_inside_input_field">
                <i>$</i>
                <%= fee_fields.input :send_check ,label: false, input_html: {class:"form-control buyrate_fields" , :onclick => 'this.select();', value: fee_fields.object.send_check || 0.0, step: :any}%>
              </div>
            </div>
          </div>

          <div class="col-md-12 zero-padding">
            <div class="form-group col-md-4">
              <label>Push to Card Buy Rate</label>
            </div>
            <div class="form-group col-md-4">
              <div class="input-icon icon_inside_input_field">
                <i>%</i>
                <%= fee_fields.input :dc_deposit_fee ,label: false, input_html: {class:"form-control buyrate_fields percentage_validation" , :onclick => 'this.select();', value: fee_fields.object.dc_deposit_fee || 0.0, step: :any}%>
              </div>
            </div>
            <div class="form-group col-md-4">
              <div class="input-icon icon_inside_input_field">
                <i>$</i>
                <%= fee_fields.input :dc_deposit_fee_dollar ,label: false, input_html: {class:"form-control buyrate_fields" , :onclick => 'this.select();', value: fee_fields.object.dc_deposit_fee_dollar || 0.0, step: :any}%>
              </div>
            </div>
          </div>

          <div class="col-md-12 zero-padding">
            <div class="form-group col-md-4">
              <label>ACH buy rate</label>
            </div>
            <div class="form-group col-md-4">
              <div class="input-icon icon_inside_input_field">
                <i>%</i>
                <%= fee_fields.input :ach_fee ,label: false, input_html: {class:"form-control buyrate_fields percentage_validation" , :onclick => 'this.select();', value: fee_fields.object.ach_fee || 0.0, step: :any}%>
              </div>
            </div>
            <div class="form-group col-md-4">
              <div class="input-icon icon_inside_input_field">
                <i>$</i>
                <%= fee_fields.input :ach_fee_dollar ,label: false, input_html: {class:"form-control buyrate_fields" , :onclick => 'this.select();', value: fee_fields.object.ach_fee_dollar || 0.0, step: :any}%>
              </div>
            </div>
          </div>
          <div class="col-md-12 zero-padding">
            <div class="form-group col-md-4">
              <label>Add Money by check buy rate</label>
            </div>
            <div class="form-group col-md-4">
              <div class="input-icon icon_inside_input_field">
                <i>%</i>
                <%= fee_fields.input :redeem_check ,label: false, input_html: {class:"form-control buyrate_fields percentage_validation" , :onclick => 'this.select();', value: fee_fields.object.redeem_check || 0.0, step: :any}%>
              </div>
            </div>
            <div class="form-group col-md-4">
              <div class="input-icon icon_inside_input_field">
                <i>$</i>
                <%= fee_fields.input :add_money_check ,label: false, input_html: {class:"form-control buyrate_fields" , :onclick => 'this.select();', value: fee_fields.object.add_money_check || 0.0, step: :any}%>
              </div>
            </div>
          </div>
<!--          <div class="col-md-12 zero-padding">-->
<!--            <div class="form-group col-md-4">-->
<!--              <label>PIN Debit Refund Fee</label>-->
<!--            </div>-->
<!--            <div class="form-group col-md-4">-->
<!--              <div class="input-icon icon_inside_input_field">-->
<!--                <i>%</i>-->
                <%#= fee_fields.input :qr_refund_percentage, label: false, input_html: {class: "form-control buyrate_fields", :onclick => 'this.select();', value: fee_fields.object.qr_refund_percentage || 0.0, step: :any} %>
<!--              </div>-->
<!--            </div>-->
<!--            <div class="form-group col-md-4">-->
<!--              <div class="input-icon icon_inside_input_field">-->
<!--                <i>$</i>-->
                <%#= fee_fields.input :qr_refund, label: false, input_html: {class: "form-control buyrate_fields", :onclick => 'this.select();', value: fee_fields.object.qr_refund || 0.0, step: :any} %>
<!--              </div>-->
<!--            </div>-->
<!--          </div>-->
          <div class="col-md-12 zero-padding">
            <div class="form-group col-md-4">
              <label>Chargeback Fee</label>
            </div>
            <div class="form-group col-md-4">
              <div class="input-icon icon_inside_input_field">
                <i>$</i>
                <%= fee_fields.input :charge_back_fee ,label: false, input_html: {class:"form-control buyrate_fields" , :onclick => 'this.select();', value: fee_fields.object.charge_back_fee || 0.0, step: :any}%>
              </div>
            </div>
          </div>
          <div class="col-md-12 zero-padding">
            <div class="form-group col-md-4">
              <label>Retrieval Fee</label>
            </div>
            <div class="form-group col-md-4">
              <div class="input-icon icon_inside_input_field">
                <i>$</i>
                <%= fee_fields.input :retrievel_fee ,label: false, input_html: {class:"form-control buyrate_fields" , :onclick => 'this.select();', value: fee_fields.object.retrievel_fee || 0.0, step: :any}%>
              </div>
            </div>
          </div>
          <div class="col-md-12 zero-padding">
            <div class="form-group col-md-4">
              <label>Refund Fee</label>
            </div>
            <div class="form-group col-md-4">
              <div class="input-icon icon_inside_input_field">
                <i>$</i>
                <%= fee_fields.input :refund_fee ,label: false, input_html: {class:"form-control buyrate_fields" , :onclick => 'this.select();', value: fee_fields.object.refund_fee || 0.0, step: :any}%>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-5" id="buyrate-labels-container">
          <div class="col-md-12 zero-padding">
            <div class="form-group col-md-5">
              <label>Monthly Fee</label>
            </div>
            <div class="form-group col-md-6">
              <div class="input-icon icon_inside_input_field">
                <i>$</i>
                <%= fee_fields.input :service ,label: false, input_html: {class:"form-control buyrate_fields" , :onclick => 'this.select();',  value: fee_fields.object.service || 0.0, step: :any}%>
              </div>
            </div>
          </div>
          <div class="col-md-12 zero-padding">
            <div class="form-group col-md-5">
              <label>Monthly Subscription Fee</label>
            </div>
            <div class="form-group col-md-6">
              <div class="input-icon icon_inside_input_field">
                <i>$</i>
                <%= fee_fields.input :statement ,label: false, input_html: {class:"form-control buyrate_fields" , :onclick => 'this.select();',  value: fee_fields.object.statement || 0.0, step: :any}%>
              </div>
            </div>
          </div>
          <div class="col-md-12 zero-padding">
            <div class="form-group col-md-5">
              <label>Monthly Miscellaneous Fee</label>
            </div>
            <div class="form-group col-md-6">
              <div class="input-icon icon_inside_input_field">
                <i>$</i>
                <%= fee_fields.input :misc ,label: false, input_html: {class:"form-control buyrate_fields" , :onclick => 'this.select();',  value: fee_fields.object.misc || 0.0, step: :any}%>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="col-md-4">
            <div class="form-group">
              <label class="switch">
                <input type="hidden" id="is_baked<%= count%>" value="<%= fee_fields.object.is_baked_iso %>">
                <%= fee_fields.check_box :is_baked_iso, { id: "details_switch", class: "super_detailss#{count}"}%>
                <span class="slider round">
              <div class="pull-left baked_on">
                ON
              </div>
              <div class="pull-right baked_off">
                OFF
              </div>
            </span>
              </label>
              <label class="no-padding baked_label">Baked Profit Split</label>
            </div>
          </div>
          <div class="col-md-6">
            <div class="col-md-4">
              <label class="radio-label">GBox
                <% if fee_fields.object.splits.present? && JSON.parse(fee_fields.object.splits)["share_split"] == "gbox" %>
                  <input type="radio" name="user[fees_attributes][<%= count %>][splits][share_split]" value="gbox" id="gbox_radio" checked >
                <% else %>
                  <input type="radio" name="user[fees_attributes][<%= count %>][splits][share_split]" value="gbox" id="gbox_radio" >
                <% end %>
                <span class="checkmark"></span>
              </label>
            </div>
            <div class="col-md-6">
              <label class="radio-label">ISO on File
                <% if fee_fields.object.splits.present? && JSON.parse(fee_fields.object.splits)["share_split"] == "iso" %>
                  <input type="radio" name="user[fees_attributes][<%= count %>][splits][share_split]" value="iso" id="iso_radio" checked >
                <% else %>
                  <input type="radio" name="user[fees_attributes][<%= count %>][splits][share_split]" value="iso" id="iso_radio" >
                <% end %>
                <span class="checkmark"></span>
              </label>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-12 super_detail_css super_details<%=count%>" id="super_detailss<%=count%>">
        <% if params["action"] == "edit"  %>
          <% if fee_fields.object.is_baked_iso %>
            <%= render partial: 'admins/isos/edit_super_user_details', :locals => {:count => count,:fee_fields => fee_fields}  %>
          <% else %>
            <%= render partial: 'admins/isos/add_super_user_details', :locals => {:count => count,:fee_fields => fee_fields}  %>
          <% end %>
        <% elsif params["action"] == "new" %>
          <%= render partial: 'admins/isos/add_super_user_details', :locals => {:count => count,:fee_fields => fee_fields}  %>
        <% end %>
      </div>
    </div>


    <!--Commission Partial-->
    <div class="col-md-12 buyrate-row" id="commission<%=count%>">
      <%= render partial: "iso_buyrate_commission_#{count}", :locals => {:commission => !@iso.new_record? && @fees[count].commission.present? ? JSON.parse(@fees[count].commission) : ''} %>
    </div>
    <% count=count+1 %>
  <% end %>
</div>

<%= javascript_include_tag 'admins/isos.js' %>
<%= render partial: "super_details_edit.js.erb" %>