<div class="col-md-12 card">
  <% if params[:format].present? %>
      <%= link_to "x", profile_isos_path(params[:format]), class: 'btn btn-sm c_btn'  %>
  <%else %>
      <%= link_to "x", users_path(user: "isos"), class: 'btn btn-sm c_btn'  %>
  <% end %>
  <%if params[:count].present? && params[:count].to_i==2
    else %>

    <h1 class="text-center blu-color margin_topp">Create New ISO</h1>

    <h3 class="add_iso_h3" >Add ISO Info</h3>
    <div class="row">
      <div class="col-md-12">
        <div class="row">
          <div class="col-md-1"></div>
            <div class="col-md-10 div_margin_left_6">
            <table width="100%">
              <thead>
              <tr>
                <th class="width_">
                  <a href="<%=wizard_path(:iso_signup,user_data_id: params[:user_data_id]) %>" class="fa-stack fa-lg margin_left_9" id="a_1">
                    <i class="fa fa-circle fa-stack-2x blu-color"></i>
                    <i class="fa fa-stack-1x fa-inverse">1</i>
                  </a>
                  <hr>
                </th>
                <th class="th_width_25">
                  <a href="<%= wizard_path(:iso_buyrate,user_data_id: params[:user_data_id]) %>" class="fa-stack fa-lg margin_left_6" id="a_2">
                    <i class="fa fa-circle fa-stack-2x grey-color"></i>
                    <i class="fa fa-stack-1x fa-inverse">2</i>
                  </a>
                  <hr>
                </th>
                <th class="th_width_25">
                  <a href="<%=wizard_path(:system_fee,user_data_id: params[:user_data_id]) %>" class="fa-stack fa-lg margin_left_3" id="a_3" >
                    <i class="fa fa-circle fa-stack-2x grey-color"></i>
                    <i class="fa fa-stack-1x fa-inverse">3</i>
                  </a>
                  <hr>
                </th>
                <th class="th_width_25">
                  <a href="<%=wizard_path(:iso_documentation,user_data_id: params[:user_data_id]) %>" class="fa-stack fa-lg margin_left_10" id="a_4">
                    <i class="fa fa-circle fa-stack-2x grey-color"></i>
                    <i class="fa fa-stack-1x fa-inverse">4</i>
                  </a>
                  <hr class="display-none">
                </th>
              </tr>
              </thead>
              <tbody>
              <tr>
                <td><label>ISO Information</label></td>
                <td><label>ISO Buy Rate</label></td>
                <td><label>ISO Fees</label></td>
                <td><label>Documentation</label></td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  <% end %>
  <br/>
  <%=simple_form_for  @iso  , url: wizard_path , method: :put, html:{id: :isoform, multipart: true} do |f| %>
    <div class="container-margin">
      <%if params[:count].to_i==2 %>
        <div class="margin_top_5"></div>
      <% end %>
      <input type="hidden" name="user_data_id" value="<%=params[:user_data_id] if params[:user_data_id].present? %>">
      <%= yield f %>
      <div class="col-md-12">
        <div class="bottom-padding margin_btm_5">
      <div class="col-md-12">

          <%if params[:iso_id].present? %>
            <%if params[:format].present? %>
              <%= link_to 'Back',profile_isos_path(params[:format]),class: 'btn button-color pull-left button-radius show-cover-spin'%>
            <% else %>
              <%= link_to 'Back',users_path(user: "isos"),class: 'btn button-color pull-left button-radius show-cover-spin'%>
            <% end %>
            <% unless current_user.support_mtrac? %>
            <%=f.submit 'Save',class: 'btn butt-color pull-right button-radius phone_class btnSaves buyrate_btn_save buyrate_btn show-cover-spin', id: "save_btn"%>
          <% end %>
          <% else %>
            <%if @step==:iso_documentation || @step==:iso_signup %>
              <%= link_to 'Cancel',users_path(user: "isos"),class: 'btn button-color pull-left button-radius show-cover-spin'%>
            <%else%>
              <%= link_to 'Back', previous_wizard_path(user_data_id: params[:user_data_id]),class: 'btn button-color pull-left button-radius show-cover-spin'%>
            <% end %>
            <%if @step==:iso_documentation %>
              <%=f.submit 'Create ISO',class: 'btn butt-color pull-right button-radius show-cover-spin' , id: 'create_iso'%>
            <% elsif @step == :iso_buyrate %>
              <%=f.submit 'Next',class: 'btn butt-color pull-right button-radius btnSaves phone_class btnSave1 buyrate_btn', id: "submit_btn"%>
            <%else%>
              <%=f.submit 'Next',class: 'btn butt-color pull-right button-radius btnSaves phone_class btnSave1', id: "submit_btn"%>
            <% end %>
          <% end %>
        </div>
      </div>
      </div>
    </div>
  <% end %>
</div>
<div id="cover-spin1"></div>
<input type="hidden" id="iso_present" value="<%= @iso.present? ? true : false %>">
<input type="hidden" id="iso_new_record" value="<%= @iso.try(:new_record?) ? true : false %>">
<input type="hidden" id="agent_present" value="<%= @agent.present? ? true : false %>">
<input type="hidden" id="agent_new_record" value="<%= @agent.try(:new_record?) ? true : false %>">
<input type="hidden" id="affiliate_present" value="<%= @affiliate.present? ? true : false %>">
<input type="hidden" id="affiliate_new_record" value="<%= @affiliate.try(:new_record?) ? true : false %>">


