<!--$(".buyrate-row").attr("display","block");-->
<!--$("#commission").attr("display","block");-->

<%# if count==1 %>
<!--$(".buyrate-row").attr("display","none");-->
<!--$("#commission").attr("display","none");-->
<%# end %>