
<%=render layout: 'new' do |f| %>

  <h3 class="header-color">Documentations</h3><br>
  <%=f.hidden_field :iso_id,id:'user_form_id',value:params[:iso_id] if params[:iso_id].present? %>
  <%=f.hidden_field :format,value:params[:format] if params[:format].present? %>
  <%=f.fields_for :documentation, Documentation.new do |f| %>
    <div class="row">
      <div class="col-md-12">
        <div class="form-group col-md-1">
          <div class="row">
            <label class="h5">ISO's ID</label>
          </div>
        </div>
        <div class="col-md-3">
          <%=f.file_field(:user_image, multiple: true,class: 'btn input-file',  accept:".doc,.rtf,.xlsx,.docx,application/msword,application/vnd.openxmlformats-officedocument.wordprocessingml.document,image/x-png,image/gif,image/jpeg,application/pdf",  onchange: "validateFiles(this);", data: { max_file_size: 10.megabytes}) %>
        </div>
        <div class="col-md-8 user_documentation_user_image">
          <div class="row">
            <div class="col-md-12">
              <% if @images.present? %>
                <% @images.each do |image| %>
                  <% if image.image_type == Documentation.types[:user_image] %>
                    <% if ['image/jpeg','image/jpg','image/png','image/gif'].include?(image.document_content_type) %>
                      <%= image_tag image.document.url(:medium), class:image.id %>
                    <% else %>
                      <a href="<%= image.document.url %>" class="<%=image.id %>"><%= image.document_file_name %></a>
                    <% end %>
                    <span class="arrange">
                      <%= link_to '','https:'+image.document.url,class: 'fa fa-download panel-heading', download:image.document, target: '_blank' %>
                      <%= link_to '','',id: image.id,class: 'fa fa-trash fa-font panel-heading',onclick: "$('#cover-spin').show(0);"%>
                    </span>
                  <% end %>
                <% end %>
              <% end %>
            </div>
          </div>
        </div>
        <div class="help-block with-errors"></div>
      </div>
    </div>
    <hr class="hr hr_doc">
    <div class="row">
      <div class="col-md-12">
        <div class="form-group col-md-1">
          <div class="row">
            <label class="h5">W-9 Form</label>
          </div>
        </div>
        <div class="col-md-3">
          <%=f.file_field(:w9_form_image, multiple: true,class: 'btn input-file',  accept:".doc,.rtf,.xlsx,.docx,application/msword,application/vnd.openxmlformats-officedocument.wordprocessingml.document,image/x-png,image/gif,image/jpeg,application/pdf",  onchange: "validateFiles(this);", data: { max_file_size: 10.megabytes}) %>
        </div>
        <div class="col-md-8 user_documentation_w9_form_image">
          <div class="row">
            <div class="col-md-12">
              <% if @images.present? %>
                <% @images.each do |image| %>
                  <% if image.image_type == Documentation.types[:w9_form_image] %>
                    <% if ['image/jpeg', 'image/jpg', 'image/png', 'image/gif'].include?(image.document_content_type) %>
                      <%= image_tag image.document.url(:medium), class:image.id %>
                    <% else %>
                      <a href="<%= image.document.url %>" class="<%=image.id %>" ><%= image.document_file_name %></a>
                    <% end %>
                    <span class="arrange">
                      <%= link_to '','https:'+image.document.url,class: 'fa fa-download panel-heading', download:image.document, target: '_blank' %>
                      <%= link_to '','',id: image.id,class: 'fa fa-trash fa-font panel-heading', onclick: "$('#cover-spin').show(0);"%>
                    </span>
                  <% end %>
                <% end %>
              <% end %>
            </div>
          </div>
        </div>
        <div class="help-block with-errors" ></div>
      </div>
    </div>
    <hr class="hr hr_doc">
    <div class="row">
      <div class="col-md-12">
        <div class="form-group col-md-1">
          <div class="row">
            <label class="h5">Schedule A</label>
          </div>
        </div>
        <div class="col-md-3">
          <%=f.file_field(:schedule_a_image, multiple: true,class: 'btn input-file' ,  accept:".doc,.rtf,.xlsx,.docx,application/msword,application/vnd.openxmlformats-officedocument.wordprocessingml.document,image/x-png,image/gif,image/jpeg,application/pdf",  onchange: "validateFiles(this);", data: { max_file_size: 10.megabytes}) %>
        </div>
        <div class="col-md-8 user_documentation_schedule_a_image">
          <div class="row">
            <div class="col-md-12">
              <% if @images.present? %>
                <% @images.each do |image| %>
                  <% if image.image_type == Documentation.types[:schedule_a_image] %>
                    <% if ['image/jpeg', 'image/jpg', 'image/png', 'image/gif'].include?(image.document_content_type) %>
                      <%= image_tag image.document.url(:medium),class: image.id %>
                    <% else %>
                      <a href="<%= image.document.url %>" class="<%=image.id %>"><%= image.document_file_name %></a>
                    <% end %>
                    <span class="arrange">
                      <%= link_to '','https:'+image.document.url,class: 'fa fa-download panel-heading', download: image.document, target: '_blank' %>
                      <%= link_to '', '',id: image.id, class: 'fa fa-trash fa-font panel-heading', onclick: "$('#cover-spin').show(0);" %>
                    </span>
                  <% end %>
                <% end %>
              <% end %>
            </div>
          </div>
        </div>
        <div class="help-block with-errors"></div>
      </div>
    </div>
    <hr class="hr hr_doc">
    <div class="row">
      <div class="col-md-12">
        <div class="form-group col-md-1">
          <div class="row">
            <label class="h5">Misc. Document</label>
          </div>
        </div>
        <div class="col-md-3">
          <%=f.file_field(:misc_document_img, multiple: true,class: 'btn input-file' ,  accept:".doc,.rtf,.xlsx,.docx,application/msword,application/vnd.openxmlformats-officedocument.wordprocessingml.document,image/x-png,image/gif,image/jpeg,application/pdf",  onchange: "validateFiles(this);", data: { max_file_size: 10.megabytes}) %>
        </div>
        <div class="col-md-8 user_documentation_misc_document_img">
          <div class="row">
            <div class="col-md-12">
              <% if @images.present? %>
                  <% @images.each do |image| %>
                      <% if image.image_type == Documentation.types[:misc_document_img] %>
                          <% if ['image/jpeg', 'image/jpg', 'image/png', 'image/gif'].include?(image.document_content_type) %>
                              <%= image_tag image.document.url(:medium), class:image.id %>
                          <% else %>
                              <a href="<%= image.document.url %>" class="<%=image.id %>" ><%= image.document_file_name %></a>
                          <% end %>
                          <span class="arrange">
                  <%= link_to '','https:'+image.document.url,class: 'fa fa-download panel-heading', download:image.document, target: '_blank' %>
                            <%= link_to '','',id: image.id,class: 'fa fa-trash fa-font panel-heading', onclick: "$('#cover-spin').show(0);"%>
                </span>
                      <% end %>
                  <% end %>
              <% end %>
            </div>
          </div>
        </div>
        <div class="help-block with-errors" ></div>
      </div>
    </div>
  <% end %>
<% end %>


<%#= javascript_include_tag 'admins/isos.js' %>
