<%=render layout: 'new' do |f| %>
  <div class="buyrate-row">
    <h3 id="buyrate-info-heading" class="header-color">ISO Information</h3><br>
    <div class="col-md-1"></div>
    <div class="col-md-10" id="buyrate-user-fields-container">
      <%=f.hidden_field :iso_id,id:'user_form_id',value: params[:iso_id] if params[:iso_id].present? %>
      <%=f.hidden_field :format,value: params[:format] if params[:format].present? %>
      <%=f.simple_fields_for :profile, Profile.new do |f| %>
        <div class="row">
          <div class="col-md-12">
            <div class="row">
              <div class="form-group col-md-6">
                <%= f.label :company_name, "Company Name", class: 'control-label' %>
                <%= f.text_field :company_name, class: "form-control input-lg", :size => "48",  placeholder: 'Company Name', value: @iso.present? ? @iso.profile.present? ? @iso.profile.company_name : '' : '' || @iso.company_name %>
                <div class="help-block with-errors"></div>
              </div>
              <div class="col-md-1"></div>
              <div class="form-group col-md-5">
                <%= f.label :tax_id, "Tax ID", class: 'control-label' %>
                <%= f.text_field :tax_id, id: 'tx', class: "form-control input-lg", :size => "48", placeholder: 'Tax ID', value: @iso.present? ? @iso.profile.present? ? @iso.profile.tax_id : '' : '' %>
                <div id='tx-error' class="help-block with-errors"></div>
                <div id="tx-error" class="has-error"></div>
              </div>
            </div>
          </div>
          <div class="col-md-12">
            <div class="row">
              <div class="form-group col-md-3 no-space-break">
                <%= f.label :year_business, "Years in Business", class: 'control-label' %>
                <%= select_tag 'user[years_in_business][year]', options_for_select((0..100), @iso.present? ? @iso.profile.present? ? @iso.profile.years_in_business.present? ?  @iso.profile.years_in_business.split("-").first : '' : '' : '') , include_blank: 'Years',class: 'form-control input-lg ', required: true %>
                </div>
                <div class="form-group col-md-3 no-space-break">
                  <%= f.label :month_business, "Months in Business", class: 'control-label' %>
                  <%= select_tag 'user[years_in_business][month]', options_for_select((0..12), @iso.present? ? @iso.profile.present? ? @iso.profile.years_in_business.present? ?  @iso.profile.years_in_business.split('-').last : '' : '' :'' ), include_blank: 'Month' , class: 'form-control input-lg ',  required: true %>
                </div>
                <div class="help-block with-errors"></div>
              <div class="col-md-1"></div>
              <div class="form-group col-md-5 ssn-adjust">
                <%= f.label :ein, "SSN", class: 'control-label' %>
                <%= f.text_field :ein, id: 'ssn', class: "form-control input-lg", :size => "48", placeholder: 'SSN', value: @iso.present? ? @iso.profile.present? ? @iso.profile.ein : '' : '' %>
                <div class="help-block with-errors"></div>
              </div>
            </div>
          </div>
          <div class="col-md-12">
            <div class="row">
              <div class="form-group col-md-6">
                <%= f.label :street_address, "Address", class: 'control-label' %>
                <%= f.text_field :street_address, :size => "48", class: "form-control input-lg", placeholder: 'Address', value: @iso.present? ? @iso.profile.present? ? @iso.profile.street_address : '' : '' %>
                <div class="help-block with-errors"></div>
              </div>

              <div class="col-md-1"></div>
              <div class="form-group col-md-5">
                <%= f.label :city, "City", class: 'control-label' %>
                <%= f.text_field :city, :size => "48", class: "form-control input-lg",  placeholder: 'City', value: @iso.present? ? @iso.profile.present? ? @iso.profile.city : '' : '' %>
                <div class="help-block with-errors"></div>
              </div>
            </div>
          </div>
          <%
            if @iso.present? && @iso.profile.try(:country).present?
              if @iso.profile.country == ("United State") || @iso.profile.country== "US"
                @iso.profile.country = ("United States")
              else
                @iso.profile.country = @iso.profile.country
              end
              if @iso.profile.country == ("United States")
                country_code = "us"
              else
                country   = ISO3166::Country.find_country_by_name(@iso.profile.try(:country))
                country_code = country.present? ? country.try(:alpha2): ""
              end
              @states = country_code.present? ? CS.states(country_code) : ""
            else
              country_code = "us"
              @states = CS.states(country_code)
            end
          %>
          <div class="col-md-12">
            <div class="row">
              <div class="form-group col-md-3">
                <%= f.label :country, "Country" %><br/>
                <%= select_tag 'user[profile_attributes][country]', options_for_select(COUNTRIES, :selected => @iso.try(:profile).try(:country).present? ? @iso.profile.country : "United States"), include_blank: 'Select Country', class: 'form-control input-lg admins_country_field', id: 'ACF', required: 'required' %>
              </div>
              <div class="form-group col-md-3">
                <%= f.label :state, "State" %><br />
                <%= select_tag 'user[profile_attributes][state]', options_for_select(@states, :selected => @iso.try(:profile).try(:state).present? ? @iso.profile.state : ""), include_blank: 'Select State' , class: 'form-control input-lg admins_states_field', required: 'required' %>
              </div>
              <div class="col-md-1"></div>
              <div class="form-group col-md-5">
                <%= f.label :zip_code, "Zip Code", class: 'control-label' %>
                <%= f.text_field :zip_code, :size => "48", class: "form-control input-lg",  placeholder: 'Zip Code', value: @iso.present? ? @iso.profile.present? ? @iso.profile.zip_code : '' : '' %>
                <div class="help-block with-errors"></div>
              </div>
            </div>
          </div>
      <% end %>
      <div class="col-md-12">
        <div class="row">
          <div class="form-group col-md-6">
            <%= f.label :name, "Contact Name", class: 'control-label', id: 'full_name' %>
            <%= f.text_field :name, :size => "48", class: "form-control input-lg", required: true, placeholder: 'Full Name', value: @iso.present? ? @iso.name.present? ? @iso.name : '' : '' %>
            <div class="help-block with-errors"></div>
          </div>
          <div class="col-md-1"></div>
          <div class="form-group col-md-5">
            <%= f.label :phone_number, "Contact Phone Number", id: 'phone_number_label_field' %>
            <%= f.text_field :phone_number, id: "phone_number",pattern: "^[0-9]{1,}$", :maxlength => 12, class: " form-control shadow-sm adjust-popup-fields icon-input txtOwner input-lg phone_width100 padding_lef_for_num autocomplete_off", value: @iso.present? ? @iso.phone_number.present? ? '+' + @iso.phone_number : '' : '' %>
            <%= hidden_field_tag "phone_code" %>
            <div id="phone_msg" class="with-errors"></div>
          </div>
        </div>
      </div>
      <div class="col-md-12">
        <div class="row">
          <div class="form-group col-md-6">
            <%= f.label :email, 'Contact Email Address', id: 'email_label_field' %>
            <%= f.email_field :email, class: "form-control input-lg", :size => "48", required: true, placeholder: 'Contact Email Address', value: @iso.present? ? @iso.email.present? ? @iso.email : '' : '' %>
            <div class="help-block with-errors"></div>
          </div>
        </div>
      </div>
      <% if @iso.present? && !@iso.new_record? %>
        <div class="col-md-12">
          <div class="row">
            <div class="form-group col-md-6">
              <%= f.label :password, class: 'control-label', id: 'password_label_edit_field' %>
              <%= f.password_field :password, class: "form-control input-lg", :size => "48", autocomplete: "off"%>
              <div class="help-block with-errors"></div>
            </div>
            <div class="col-md-1"></div>
            <div class="form-group col-md-5">
              <%= f.label :password_confirmation, class: 'control-label', id: 'password_confirmation_label_edit_field' %>
              <%= f.password_field :password_confirmation, class: "form-control input-lg", :size => "48", autocomplete: "off", data: {match: "#password_edit_field", "match-error" => "Password Mismatch"} %>
              <div class="help-block with-errors" id="pass_error"></div>
            </div>
          </div>
        </div>
        <div class="col-md-12">
          <div class="row">
            <div class="col-md-5 strength display-none">
              <div class="figure" id="strength_human"></div>
            </div>
          </div>
        </div>
      <% end %>
      </div>
    </div>
  </div>
<% end %>