<% num = @count*3+1 %>
<% user_array = ["<div class='form-group col-md-4'><div class='row'><div class='col-md-1 remove_baked_css'><span><a id='remove_baked_usersIIIIII' class='col-md-12 remove_baked_users' style='padding: 0px;'><i class='fa fa-minus-circle fa-2x'></i></a></span></div><div class='col-md-11'><label class='no-padding'><span>Select User 1</span></label><input type='text' class='form-control name_field for_super_users input-field first-user' required= 'true' id='user_#{@risk}XXXXXX' name='user[fees_attributes][#{@risk}][splits][splits][OOOOOO][user_1][name]' autocomplete='off'><input type='hidden' id='user_#{@risk}XXXXXXHidden' name='user[fees_attributes][#{@risk}][splits][splits][OOOOOO][user_1][user]' class='form-control'> <div id='user_#{@risk}XXXXXX_error' class='error_class'></div></div></div></div>","<div class='form-group col-md-4'><label class='no-padding'><span>Select User 2</span></label><input type='text' class='form-control name_field for_super_users input-field' id='user_#{@risk}XXXXXX' name='user[fees_attributes][#{@risk}][splits][splits][OOOOOO][user_2][name]' autocomplete='off'><input type='hidden' id='user_#{@risk}XXXXXXHidden' name='user[fees_attributes][#{@risk}][splits][splits][OOOOOO][user_2][user]' class='form-control'> <div id='user_#{@risk}XXXXXX_error' class='error_class'></div></div>","<div class='form-group col-md-4'><label class='no-padding'><span>Select User 3</span></label><input type='text' class='form-control name_field for_super_users input-field ' id='user_#{@risk}XXXXXX' name='user[fees_attributes][#{@risk}][splits][splits][OOOOOO][user_3][name]' autocomplete='off'><input type='hidden' id='user_#{@risk}XXXXXXHidden' name='user[fees_attributes][#{@risk}][splits][splits][OOOOOO][user_3][user]' class='form-control'><div id='user_#{@risk}XXXXXX_error' class='error_class'></div></div>"] %>
<% user_array.each_with_index do |a,i|  %>
<% co = i + num  %>
<% b = a.gsub("XXXXXX","#{co}") %> // input id
<% c = b.gsub("OOOOOO","#{@count}")  %> // input name
<% e = c.gsub("remove_baked_usersIIIIII","#{num}_#{@count}_#{rand(1..99)}") %> // remove button id
<% user_array[i] = e %>
<% end %>

<% split_array = ["<div class='col-md-4'><div class='row'><div class='col-md-1'></div><div class='col-md-11'><div class='col-md-6 form-group' style='padding-left: 0px'><input type='text' id='percent_user_#{@risk}XXXXXX' name='user[fees_attributes][#{ @risk }][splits][splits][OOOOOO][user_1][percent]' placeholder='0.00' class='form-control sub-field percentage_validation buyrate_fields user_#{@risk}XXXXXX_percent' step='any'></div><div class='col-md-6 form-group' style='padding-right: 0px'><input type='text' id='dollar_user_#{@risk}XXXXXX' name='user[fees_attributes][#{ @risk }][splits][splits][OOOOOO][user_1][dollar]' placeholder='0.00' class='form-control sub-field amount_field user_#{@risk}XXXXXX_dollar' step='any'></div><div id='user_#{@risk}XXXXXX_percent_error' class='percent_error  error_class'></div></div></div> </div>","<div class='form-group col-md-2'><input type='text' id='percent_user_#{@risk}XXXXXX' name='user[fees_attributes][#{ @risk }][splits][splits][OOOOOO][user_2][percent]' class='form-control sub-field percentage_validation buyrate_fields user_#{@risk}XXXXXX_percent' placeholder='0.00' step='any'><div id='user_#{@risk}XXXXXX_percent_error' class='percent_error  error_class'></div></div><div class='form-group col-md-2'><input type='text' id='dollar_user_#{@risk}XXXXXX' name='user[fees_attributes][#{ @risk }][splits][splits][OOOOOO][user_2][dollar]' class='form-control sub-field amount_field user_#{@risk}XXXXXX_dollar' placeholder='0.00' step='any'></div>","<div class='form-group col-md-2'><input type='text' id = 'percent_user_#{@risk}XXXXXX' name='user[fees_attributes][#{ @risk }][splits][splits][OOOOOO][user_3][percent]' class='form-control sub-field percentage_validation buyrate_fields user_#{@risk}XXXXXX_percent' placeholder='0.00' step='any'><div id='user_#{@risk}XXXXXX_percent_error' class='percent_error  error_class'></div></div><div class='form-group col-md-2'><input type='text' id ='dollar_user_#{@risk}XXXXXX' name='user[fees_attributes][#{ @risk }][splits][splits][OOOOOO][user_3][dollar]' class='form-control sub-field amount_field user_#{@risk}XXXXXX_dollar' placeholder='0' step='any'></div>"] %>
<% split_array.each_with_index do |a,i|  %>
<% co = i + num  %>
<% b = a.gsub("XXXXXX","#{co}") %>
<% b = b.gsub("OOOOOO","#{@count}")  %>
<% split_array[i] = b %>
<% end %>

baked_section = "<div class='col-md-12 details_of_<%=@risk%>'><div class='row' style='padding: 10px;'><div class='col-md-12' style='padding: 17px'>" + htmlDecode('<%= user_array.first %>')+ '' + htmlDecode('<%= user_array.second %>') +''+ htmlDecode('<%= user_array.third %>')+"</div></div>" +
    "<div class='col-md-12' style='padding-left: 10px'><div class='col-md-12'><div class='col-md-4'><div class='row'><div class='col-md-1'></div><div class='col-md-11' style='padding: 0px'><div class='col-md-6' style='padding: 0px'><p class='split_label1_css'>% Split </p></div><div class='col-md-6' style='padding: 0px;'><p class='split_label1_css'>$ Split </p></div></div></div></div><div class='col-md-2' style='padding: 0px'><p class='split_label1_css'>% Split </p></div><div class='col-md-2' style='padding: 0px;'><p class='split_label1_css'>$ Split </p></div><div class='col-md-2' style='padding: 0px'><p class='split_label1_css'>% Split </p></div><div class='col-md-2' style='padding: 0px;'><p class='split_label1_css'>$ Split </p></div></div></div>" +
    "<div class='col-md-12' style='padding-left: 22px;'>"+ htmlDecode('<%= split_array.first %>') + '' + htmlDecode('<%= split_array.second %>') + '' + htmlDecode('<%= split_array.third %>') +'</div></div>';
$(".super_details<%=@risk%>").append(baked_section);

function htmlDecode(input){ // transalating &lt to <
    var e = document.createElement('div');
    e.innerHTML = input;
    return e.childNodes[0].nodeValue;
}

$(document).ready(function () {
    $(".amount_field").inputmask('Regex', {regex: "^[0-9,]{1,99}(\\.\\d{1,2})?$"});
    $("#cvv").inputmask('Regex', {regex: "^[0-9]+$"});
   // $(".name_field").inputmask('Regex', {regex:"^[a-zA-Z0-9. ]*$" });
    $(".buyrate_fields").on('input', function() {
        this.value = this.value.match(/\d{0,12}(\.\d{0,2})?/)[0];
    });
    $(".percentage_validation").inputFilter(function (value) {
        return /^\d*(\.\d{0,2})?$/.test(value) && (value === "" || parseFloat(value) <= 100);
    });
});
//$('.sub-field').on('keyup',function(){
//    var field_name = $(this).attr('id').split('_');
//    if ($(this).val() != "")
//    {
//        $('.buyrate_btn').prop('disabled',false);
//        if (field_name[0] == 'percent')
//        {
//            $(this).parent().next().next().text('');
//        }
//        else {
//            $(this).parent().next().text('');
//        }
//    }
//});
$('.input-field').on('keyup',function(e){
    if ($(this).val() == ""){
        $('.buyrate_btn').prop('disabled',false);
        $(this).next().next().text('');
    }
    if ($(this).val() != ""){
        $(this).next().next().text('Please select an existing user');
        $(this).next().next().addClass('red');
        $('.buyrate_btn').prop('disabled','disabled');
        e.preventDefault();
    }
});