

/*============================*/
/*moving inline styles start*/
/*============================*/

.modal_main{
    overflow-y: scroll;
    overflow-x: hidden;
}
.color_red{
    color: red;
}
.width_50_percent{
    width: 50% !important;
}
.width_363px{
    width: 363px;
}
.float-left{
    float: left;
}
.float_left_padding_left_zero{
    float:left;
    padding-left: 0px !important;
}
.float-right{
    float: right;
}
.margin_left_16px{
    margin-left: 16px;
}
.margin_top_5px{
    margin-top: 5px;
}
.margin_top_12px{
    margin-top: 12px;
}
.margin_top_30px{
    margin-top: 30px;
}
.padding_left_zero{
    padding-left: 0px;
}
.padding_zero_imp{
    padding: 0 !important;
}
.padding_right_zero{
    padding-right: 0;
}
.transaction_main_type{
    background-color: #d8d8d8;
    color: white;
    padding:0px;
    height: 42px;
}
.transaction_main_type_text{
    color: #827a7a;
    font-size: 19px;
    padding: 5px;
}
.height_42_zero_padding{
    height: 42px;
    padding-right: 0px;
}
.transaction_details_error_5x{
    box-shadow: 0px 1px 3px 1px #dbdbdb;
    border-radius: 5px;
    padding: 20px;
    margin-top: 5px;
}
.transaction_details_error_10x{
    box-shadow: 0px 1px 3px 1px #dbdbdb;
    border-radius: 5px;
    padding: 20px;
    margin-top: 10px;
}
.transaction_details_box{
    box-shadow: 0px 1px 3px 1px #dbdbdb;
    border-radius: 5px;
    padding: 20px;
    margin-top: 12px;
}
.fee_span_text{
    text-decoration: underline;
    font-weight: bold;
    color:black;
}
.gift_card_detail_text{
    text-decoration: underline;
    font-weight: bold;
    color:black;
    padding-left: 14px;
}
.activity_log_text{
    text-decoration: underline;
    font-weight: bold;
    color:black;
    padding-left: 27px;
}
.status_button{
    padding: 8px;
    border-radius: 5px;
    float: right;
    color:white;
    width: 94px;
}

.refund_button{
    float: right;
    padding: 5px;
    padding-top: 0px !important;
}
.refund_button_text{
    padding: 8px;
    border-radius: 5px;
    background-color:red;
    color:white;
    width: 94px;
}
.refund_button_disable{
    padding: 8px;
    border-radius: 5px;
    float: right;
    color:white;
    width: 94px;
}
.dispute_button{
    border-radius: 5px;
    background-color:#464671;
    color:white;
}
.dispute_link_button{
    border-radius: 5px;
    background-color:#464671;
    color:white;
    margin-right: 8px;
}
.border_shodow_none{
    border: none;
    box-shadow: none;
}
.transaction_card_body{
    padding-left: 6px;
    padding-right: 6px;
}
.qr-card-row {
    box-shadow: 0px 1px 3px 1px #dbdbdb;
    border-radius: 5px;
    padding: 20px;
    margin-top: 12px;
}
.qr-card-span {
    text-decoration: underline;
    font-weight: bold;
    color:black;
}
/*============================*/
/*moving inline styles end*/
/*============================*/

/*maxmind Activity_logs*/
.margin-10{
    margin: 10px;
}

.refund_failed_button_text{
    padding: 8px;
    border-radius: 5px;
    background-color: red;
    color: white;
}

.cdate {
    padding-top: 7px !important;
    padding-left: 27px !important;
}
.activity {
    text-align: center;
    background-color: #e3e3e3;
    padding: 10px;
    border-radius: 40px;
    margin-bottom: 5px;
}
.modal_content_unlock{
    height: 50% !important;
    overflow-y: initial !important;
    margin-left: 39% !important;
    margin-top: 3% !important;
    margin-right: 0% !important;
    margin-bottom: 0% !important;
}
.block_text{
    margin-left: 21%;
    color: red;
    cursor: pointer;
}