.menu_butt {
    width: 100%;
}
.dropdown-menu {
    left: -120px;
}
.menu_butt:hover, .menu_butt:focus {
    background-color: #7867a7;
    text-decoration: none;
}
#add_tracker {
    -webkit-tap-highlight-color: transparent;
    font-size: 0.8rem;
    line-height: 1.5;
    font-family: 'Open Sans', sans-serif;
    color: #4f5f6f;
    box-sizing: inherit;
    transition: opacity .15s linear;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1050;
    outline: 0;
    opacity: 1;
    overflow-x: hidden;
    overflow-y: auto;
    display: block;
}
.add_dialog {
    font-size: 1rem;
    line-height: 1.5;
    color: #212529;
    text-align: left;
    font-weight: 400;
    box-sizing: border-box;
    position: relative;
    pointer-events: none;
    max-width: 500px;
    margin: 30px auto;
    overflow-y: initial !important;
    transition: transform 0.3s ease-out, -webkit-transform 0.3s ease-out;
    transform: translate(0, -25%);
    width: 60%;
}
.modal_content_tracker {
    line-height: 1.5;
    color: #212529;
    text-align: left;

    font-weight: 400;
    box-sizing: border-box;
    position: relative;
    display: flex;
    flex-direction: column;
    pointer-events: auto;
    background-color: #fff;
    background-clip: padding-box;
    outline: 0;
    border-radius: 0;
    border: 0;
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.125);
    margin-top: 25%;
    max-width: 50%;
    left: 25%;
}
.tracker_set{
    margin: 3% 2%;
}
.t_header {
    font-size: 0.8rem;
    line-height: 1.5;
    border-bottom: 1px solid #e5e5e5;
    padding: 15px;
    background-color: #3a4651;
    color: #ffffff;
}
.table{
    table-layout: auto !important;
}