<div class="form-group">
  <%= f.hidden_field :id, :id=>'company_hidden_field',value:@company.users.last.id %>
  <%= f.hidden_field :id, :id=>'company_hidden_field2',value:@company.id , class: 'company_hidden_field1'%>
</div>

<div class="form-group">
  <%= f.label 'Company Name'%>
  <%= f.text_field :name,error: 'Username is mandatory, please specify one',class: 'form-control' %>
</div>

<div class="form-group">
  <%= f.label 'Email', id:'company_email_label_edit_field'%>
  <%= f.text_field :company_email, error: 'Email is mandatory, please specify one',class: 'form-control',id: 'company_email_edit_field' , required: true %>
</div>
<div class="form-group">
  <%= f.input :category, label: 'Category'%>
</div>
<div class="form-group">
  <%= f.label 'Phone number', id:'phone_number_label_edit_field'%>
  <%= f.text_field :phone_number, class: 'form-control',id: 'phone_number_edit_field', required: true %>
</div>
<div class="form-group">
  <%= f.label :password, "Password" %><br />
  <%= f.password_field :password, id:"password" ,class:"form-control"%>
</div>
<div class="strength">
  <div class="figure" id="strength_human"></div>
</div>
<div class="form-group">
  <%= f.label :password_confirmation, "Confirm Password" ,id: "password_field"%><br />
  <%= f.password_field :password_confirmation, id:"password_confirmation" ,class:"form-control"%>
</div>
<div class="modal-footer">
  <%= f.submit  "Submit", class: 'btn btn-primary', id: 'submit_edit_button'%>
</div>

<script>
  var email = $('#company_email_edit_field').val();
  var phone = $('#phone_number_edit_field').val();

    $('#password_confirmation').keyup(function() {
        var pass = $('#password').val();
        var repass = $('#password_confirmation').val();
        if (pass != repass) {
            $('#password_field').replaceWith("<label id='password_field' class='string optional' for='company_Phone number'>Confirm Password <span style='color:red'> Passwords do not match. Try again.</span></label>")
            $('#submit_edit_button').prop('disabled', true);
        }
        else {
            $('#password_field').replaceWith("<label id='password_field' class='string optional' for='company_Phone number'>Confirm Password</label>")
            if(($("#company_email_label_edit_field").text() == "Email") && ($("#phone_number_label_edit_field").text() == "Phone number")){
                $('#submit_edit_button').prop('disabled', false);
            }
        }
    });
  $("#password").focusin(function () {
      $('.strength').css('display', "block");
  });
  $("#password").focusout(function () {
      $('.strength').css('display', "none");
  });

  $("#password").on("keyup", function() {
      var password = $(this).val();
      $("#strength_human").html('').append('<li class="list-group-item"><input style="margin-right: 10px;" id="length" disabled="true" type="checkbox">8-20 characters long</li><li class="list-group-item"><input style="margin-right: 10px;" id="one_number"  disabled="true"  type="checkbox">one number</li><li class="list-group-item"><input style="margin-right: 10px;" id="upper_case" disabled="true" type="checkbox">one uppercase letter (A-Z)</li><li class="list-group-item"><input style="margin-right: 10px;" id="lower_case" disabled="true"  type="checkbox">one lowercase letter (a-z)</li>')
      if (password.length >= 8 && password.length <=20){
          $('#length').attr('checked',true);
      }else{
          $('#length').attr('checked',false);
      }
      if (/[0-9]/.test(password)){
          $('#one_number').attr('checked',true);
      }
      else{
          $('#one_number').attr('checked',false);
      }
      if (/[A-Z]/.test(password)){
          $('#upper_case').attr('checked',true);
      }
      else{
          $('#upper_case').attr('checked',false);
      }
      if (/[a-z]/.test(password)){
          $('#lower_case').attr('checked',true);
      }
      else{
          $('#lower_case').attr('checked',false);
      }
  });
  $('#submit_edit_button').on("click",function(event) {
      if($('#password').val() != "") {
          var re = /(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,20}/;
          if (!re.test($('#password').val())) {
              $('#password_Error').html('');
              $('#password').after('<div id= "password_Error" style="color: red"> password validation requires capital letter, small letter, length (8-20) and a number </div>')
              return false;
          }
      }
  });

</script>
