 <!-- Modal -->
  <div class="modal fade editModal" role="dialog">
    <div class="modal-dialog form-group">

      <!-- ModGreenBox POS	al content-->
      <div class="modal-content">

        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Edit Company</h4>
        </div>
        <%= simple_form_for @company , url: {controller: "admins/companies", action: "update"}, html: {id: 'company1form'} do |f| %>
            <div class="row">
              <div class="col-md-12">
                <div class="card-header bordered">
                  <div class="header-block" id="main_div_2">

                  <%= render partial: 'admins/companies/edit_company', :locals=> {:f=>f}%>

        <% end %>
        </div>
        </div>
        </div>
        </div>
        </div>
      </div>
    </div>
  </div>
 <script>
   $("#cover-spin").fadeOut("slow");
     $(document).ready(function(){
         validateCompanyForm('company1form');
     });
 </script>

