
<section class="section">
<%#= will_paginate @users %>
  <div class="row">
    <div class="col-md-12">
      <div class="card sameheight-item items" data-exclude="xs,sm,lg">
        <div class="card-header bordered ">
          <div class="col-md-6 nopadding">
          <div class="header-block">
            <h3 class="title">Export Accounts</h3>
            </div>
          </div>
          <div class="col-md-6">
            <%=	 link_to "Export to CSV", export_export_accounts_path(format: "csv"), class: "btn btn-sm btn-primary pull-right" %>
          </div>
        </div>

        <section class="example">
          <div class="">
            <div class="table-responsive">
              <table id="keytable" class="table table-striped table-bordered table-hover" >
                <thead>
                <tr>
                  <th>Name</th>
                  <th>Email</th>
                  <th>Phone Number</th>
                  <th>Amount</th>
                </tr>
                </thead>

                <tbody>
                <% @users.each do |u| %>

                    <tr>
                      <td><%= u[:name] %></td>
                      <td><%= u[:email] %></td>
                      <td><%= u[:phone_number] %></td>
                      <td><%= u[:amount] %></td>
                    </tr>
                <%end%>

                </tbody>
              </table>
            </div>
          </div>
        </section>
      </div>
    </div>
  </div>
</section>


<script type="text/javascript">
    $('#keytable').DataTable({
        "responsive": true,
        "sScrollX": false,
        "searching": true,
        "order": [[ 0, "desc" ]]
    });

</script>

