$("#name_<%= @check.id%>").text("");
$("#lname_<%= @check.id%>").text("");
$("#phone_<%= @check.id%>").text("");
$("#email_<%= @check.id%>").text("");
$("#amount_<%= @check.id%>").text("");
$("#rouc_<%= @check.id%>").text("");
$("#acc_<%= @check.id%>").text("");
$("#check_info_<%= @check.id%>").text("");
$("#check-<%= @check.id%>").text("");

$("#name_<%= @check.id%>").text("<%= @check.name%>");
$("#lname_<%= @check.id%>").text("<%= @check.last_name%>");
$("#phone_<%= @check.id%>").text("<%= @check.phone%>");
$("#email_<%= @check.id%>").text("<%= @check.email%>");
$("#amount_<%= @check.id%>").text("$ <%= number_with_precision(@check.amount, precision: 2, :delimiter => ',')%>");
$("#rout_<%= @check.id%>").text("<%= @check.routing_number%>");
$("#acc_<%= @check.id%>").text("<%= @check.account_number%>");
//$("#check_info_<%#= @check.id%>").append('<a data-toggle="modal" data-name="<%#= @check.name %>" data-lname="<%= @check.last_name %>" data-phone="<%= @check.phone %>" data-email="<%= @check.email %>" data-amount="<%= @check.amount %>" data-routing="<%= @check.routing_number %>" data-account="<%= @check.account_number %>" data-confirmacc="<%= @check.confirm_account %>" data-cid="<%= @check.id %>" data-target="#updateModalDialog" class="updateModalDialog" id="updateModalDialog_<%= @check.id%>"><button type="button" class="btn btn-primary btn-sm update-button12">Edit</button></a>');
$("#check_info_<%= @check.id%>").append('<%= link_to 'Edit',update_check_form_merchant_checks_path(checid: @check.id) ,class: 'btn btn-primary btn-sm updateModalDialog', remote: true , style: "", id: "updateModalDialog_#{@check.id}" %>');
$("#check-<%= @check.id%>").append("<b style='color: blue;'>Ready</b>");

<% selected_wallet_data = @list.select{ |v| v[:wallet_id] == @wallet_id.to_i}%>
$("#from_wallet").text("").append('<%= @list.each do |w| %> <option value="<%= w[:wallet_id] %>" <%= w[:wallet_id] == @wallet_id.to_i ? 'selected' : '' %>  data-balance="<%= number_with_precision(w[:balance], precision: 2, :delimiter => ',') %>" data-fee="<%= w[:fee]%>" data-total="<%= number_with_precision(@total_amount + w[:fee].to_f , precision: 2, :delimiter => ',')%>"><%= w[:wallet_name] %></option><% end %>');
$("#balance").text("").text("<%=number_with_precision(selected_wallet_data.first[:balance], precision: 2, :delimiter => ',')%>");
$("#feex").text("").text("<%= number_with_precision(selected_wallet_data.first[:fee], precision: 2, :delimiter => ',')%>");
$("#t_amount").text("").text("<%= number_with_precision(@total_amount + @list.first[:fee].to_f, precision: 2, :delimiter => ',') %>");
$("#t_checks_amount_12").text("").text(parseFloat(<%= @total_amount%>).toFixed(2));
//$("#updateModalDialog").modal("toggle");
//$('#show_bulks_45').html('').html("<%#= j render partial: 'merchant/checks/bulk_checks_partial'%>");
var wallet_bal = parseFloat($("#balance").text().replace(/,/g, ""));
var check_bal = parseFloat($("#t_amount").text().replace(/,/g, ""));

if(wallet_bal < check_bal){
    document.getElementById("send_bulk").disabled = true;
}
else if($('#from_wallet').val() == ""){
    document.getElementById("send_bulk").disabled = true;
    $("#feex").text("");
    $("#t_amount").text("");
    $("#balance").text("");
}
else{
    document.getElementById("send_bulk").disabled = false;
}