<% if @status != "Success" && @status != "Ready"%>
$("#check_id_<%= @check.id%>").text("");
$("#check-<%= @check.id %>").text("");
$("#check_id_<%= @check.id%>").append('<a data-toggle="modal"data-routing="<%= @check.routing_number %>"data-account="<%= @check.account_number %>"data-confirmacc="<%= @check.confirm_account %>"data-cid="<%= @check.id %>"data-target="#resendModalDialog"class="resendModalDialog"><button type="button" class="btn btn-primary btn-sm resend-button12">Resend</button></a>');
$("#check-<%= @check.id %>").append("<b style='color: red;'><%= @check.status %></b>");
<% else %>
$("#check_id_<%= @check.id%>").text("");
$("#check-<%= @check.id %>").text("");
$("#check_id_<%= @check.id%>").append('<%= link_to '<button class="btn btn-sm btn-primary  view_check_details detail_check"><i class="fa fa-eye"></i></button>'.html_safe, bulk_check_detail_merchant_check_path(@check) ,remote: true, id: "detail_check" %>');
$("#remove1_<%= @check.id%>").text("");
$("#check-<%= @check.id %>").append("<b style='color: green;'><%= @check.status %></b>");
<% end %>
$('#rout_<%= @check.id%>').text("");
$('#acc_<%= @check.id%>').text("");
$('#rout_<%= @check.id%>').append('<%= @check.routing_number%>');
$('#acc_<%= @check.id%>').append('<%= @check.account_number%>');