<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Invoice</title>
  <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <style type="text/css">
    .parent-div{
      margin:0 10%;
    }
    .main-div {
      display: flex;
      width: 100%;
    }

    .main-div-image {
      display: flex;
      width: 100%;
    }

    .company-info {
      width: 50%;
      float: left;
    }

    .invoice-detail {
      width: 50%;
      float: right;
    }

    .bill-main-div {
      display: flex;
      width: 100%
    }

    .bill_details {
      width: 50%;
      float: left;
    }

    .discription-main-div {
      width: 100%;
    }
    /*Table Styling*/

    #customers {
      font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
      border-collapse: collapse;
      width: 100%;
    }

    #customers td,
    #customers th {
      border: 1px solid #ddd;
      padding: 8px;
    }

    #customers tr:nth-child(even) {
      background-color: #f2f2f2;
    }

    #customers tr:hover {
      background-color: #ddd;
    }

    #customers th {
      padding-top: 12px;
      padding-bottom: 12px;
      text-align: left;
      background-color: #5867dd;
      color: white;
    }

    .total-main-div {
      display: flex;
      width: 100%;
    }

    .custom_hr{
      margin-top: 15px !important;
      border-bottom: 2px solid;
      border-top: 0;
      border-left: 0;
      border-right: 0;
      width: 100%;
    }

    input{
      height: 25px;
      width: 40%;
      text-align: right;
    }

    .total_price{
      font-weight: 800;
      margin-top: -20px;
    }

    .inputWithIcon input[type=text]{
      padding-left: 40px;
    }

    .inputWithIcon{
      position: relative;
    }

    .inputWithIcon i{
      position: absolute;
      left: 150px;
      top:-10px;
    }

    #invoice-table input{
      text-align: center;
    }


  </style>
</head>

<body>

<div class="parent-div">
  <% if logo.present? %>
    <div class="main-div-image">
      <%= wicked_pdf_image_tag logo.add_image.url, style: "position: relative; width: 80px;height: 80px;" %>
    </div>
  <% end %>
  <div class="main-div">
    <div class="company-info">
      <h2 style="color: gray;"><%= merchant.present? ? merchant.try(:company).try(:name) : ''%></h2>
      <% if merchant.present?  %>
        <p><%= merchant.try(:address) %></p>
        <p><%= merchant.try(:profile).try(:city) %>,
          <%= merchant.try(:profile).try(:state) %>,
          <%= merchant.try(:profile).try(:zip_code) %></p>
        <p>Phone:<%= merchant.try(:phone_number) %></p>
        <p><%= merchant.try(:address) %></p>
        <p>website:<%= merchant.present? ? merchant.try(:company).try(:company_email) : ''%></p>
      <% end %>
    </div>
    <div class="invoice-detail">

      <table style="float:right;" id="invoice-table">
        <tr>
          <th colspan="2" ><h1 style="color: gray;">INVOICE </h1></th>
        </tr>
        <tr>
          <td style="text-align: right;">Date</td>
          <td style="text-align: left;" ><input type="text" readonly value="<%= request.created_at.present? ? request.created_at.try(:strftime, "%Y/%m/%d ") : DateTime.now.try(:strftime, "%Y/%m/%d ")%>" style="width:150px;" name=""></td>
        </tr>
        <tr>
          <td style="text-align: right;">Invoice #</td>
          <td style="text-align: left;"><input type="text" readonly value="<%= request.invoice_number%>"  style="width:150px;margin-top: -50px;" name=""></td>
        </tr>
        <tr>
          <td style="text-align: right;">Customer Id</td>
          <td style="text-align: left;"><input type="text" readonly value="<%= request.reciever_id%>" style="width:150px;margin-top: -50px;" name=""></td>
        </tr>
        <tr>
          <td style="text-align: right;">Due Date</td>
          <td style="text-align: left;"><input type="text" readonly value="<%= request.created_at.present? ? request.created_at.try(:strftime, "%Y/%m/%d ") : DateTime.now.try(:strftime, "%Y/%m/%d ")%>" style="width:150px;margin-top: -50px;" name=""></td>
        </tr>


      </table>
    </div>

  </div>


  <div class="bill-main-div" style="float: left;">
    <div class="bill_details">
      <h2 style="background-color: #5867dd;width: 40%;color: #fff;">Bill To</h2>
      <p><%= user.name %></p>
      <p><%= user.name %></p>
      <p><%= user.address %></p>
      <p><%= user.city %>,<%= user.state %>,<%= user.zip_code%></p>
      <p><%= user.phone_number%></p>
    </div>
    <div style="width: 50%;float: right;">

    </div>
  </div>

  <div class="discription-main-div">
    <table id="customers">

      <tr>
        <th style="width:30%">Description</th>
        <th style="width: 10%">Unit Price</th>
        <th style="width: 10%">QTY</th>
        <th style="width: 10%">TAXED</th>
        <th style="width: 10%">Amount</th>
      </tr>
      <% products.each do |p| %>
        <tr>
          <td><%= p.description  %></td>
          <td><%=number_with_precision(p.amount, precision: 2) %></td>
          <td><%= p.quantity  %></td>
          <td><%= request.tax_method.present? && request.tax_method=='dollar' ? number_with_precision(number_to_currency(request.tax, precision: 2)) : number_with_precision(number_to_percentage(request.tax, precision: 2))  %>
          </td>
          <td><%=number_with_precision(p.total_amount, precision: 2) %></td>
        </tr>
      <% end %>
      <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>

    </table>
  </div>
  <div class="total-div" style="width: 30%;display: flex; float: right">

    <div style="width: 40%;"></div>
    <div style="width: 100%;">
      <p style="text-align: left;"><span>Subtotal</span> <span style="margin-right: 40px;float: right; "><%=number_with_precision(request.amount, precision: 2) %></span></p>
      <p style="text-align: left;">Taxable <span style="margin-right: 40px;float: right; "><%=number_with_precision(request.tax, precision: 2) %></span></p>
      <span style="text-align: left;">Tax rate</span>
      <input type="text" style="margin-right: 40px;float: right;margin-top: -5px;" readonly  value="<%=number_with_precision(request.tax, precision: 2) %>" name="">
      <p style="text-align: left;">Discount <span style="margin-right: 40px;float: right;"><%=number_with_precision(request.discount, precision: 2) %></span></p>
      <span style="text-align: left;">Fee other</span>
      <input type="text" style="float: right;margin-right: 40px;" readonly  value="<%=number_with_precision(request.fee, precision: 2) %>" name="">
      <hr class="custom_hr" >
      <span style="text-align: left;">Total</span>
      <div class="inputWithIcon">
        <input type="text" style="float: right;margin-right: 40px;"  readonly class="total_price valid" value="<%=number_with_precision(request.total_amount, precision: 2) %>" name="">
        <i class="fa fa-usd" aria-hidden="true" style="margin-left: 20px"></i>
      </div>
    </div>

  </div>

  <div class="total-main-div">
    <div class="instruction-div" style="width: 60%;float: left;border-style: solid ;border-width:0px 1px 1px 1px;margin-top: 8%;">
      <p style="padding: 10px;background-color:#5867dd;color:#fff;margin-top: 0px;">Instruction</p>
      <ol start="1">
        <li>Total payment due to 30 days</li>
        <li>Please include the invoice number on check</li>
      </ol>
    </div>

  </div>

  <div class="footer-main-div" style="width: 100%; margin-top: 37%;">

    <p style="text-align: center;">If you have any Question about this invoice, please contact</p>
    <p style="text-align: center;">[Name, Phone #, Email]</p>
    <p style="text-align: center;">Thank you for your Business</p>
  </div>
</div>
</body>

</html>