<!DOCTYPE html>
<html
  lang="en"
  xmlns="http://www.w3.org/1999/xhtml"
  xmlns:v="urn:schemas-microsoft-com:vml"
  xmlns:o="urn:schemas-microsoft-com:office:office"
>
<head>
  <meta charset="utf-8" />
  <!-- utf-8 works for most cases -->
  <meta name="viewport" content="width=device-width" />
  <!-- Forcing initial-scale shouldn't be necessary -->
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <!-- Use the latest (edge) version of IE rendering engine -->
  <meta name="x-apple-disable-message-reformatting" />
  <!-- Disable auto-scale in iOS 10 Mail entirely -->
  <title>Email - Green Box</title>
  <!-- The title tag shows in email notifications, like Android 4.4. -->
  <link
    href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800&display=swap"
    rel="stylesheet"
    />
  <style>
    html,
    body {
      margin: 0 auto !important;
      padding: 0 !important;
      height: 100% !important;
      width: 100% !important;
    }
    * {
      -ms-text-size-adjust: 100%;
      -webkit-text-size-adjust: 100%;
    }
  </style>
</head>
<body
  width="100%"
  style="margin: 0; padding: 0 !important; background-color: #f4f4f4;"
>
<div
  style="
  background-color: #f4f4f4;
      width: 100%;
      font-family: Arial, Helvetica, sans-serif;
  "
>
  <table style=" width: 100%; max-width: 610px; margin: 0 auto; padding-top:
      15px; border: 0; background-color: #f4f4f4;"
         cellspacing="0"
         cellpadding="0" >
    <tr>
      <td>
        <div
          style="text-align: center; width: 100%;"
        >
          <img
            src="https://quickcard.s3-us-west-2.amazonaws.com/header_quickcard_logo_email.png"
            alt="QuickCard"
            style="padding: 0px 0;"
            />
        </div>
      </td>
    </tr>
    <tr>
      <td style="height: 20px;"></td>
    </tr>
    <tr>
      <td>
        <img
          style="display: block;"
          src="https://quickcard.s3-us-west-2.amazonaws.com/whitebox_top.png"
          alt=""
          />
      </td>
    </tr>
    <tr>
      <td>
        <table
          cellspacing="0"
          cellpadding="0"
          style="
          background: url('https://quickcard.s3-us-west-2.amazonaws.com/whitebox_middle.png');
              padding: 0 30px;
              border: 0;
          "
        >
          <tr
            style="
            font-size: 16px;
                font-weight: normal;
                font-stretch: normal;
                font-style: normal;
                line-height: 1.38;
                letter-spacing: 0.26px;
                color: #777777 !important;
                font-family: 'Open Sans', sans-serif;
            "
          >
            <td>
              <h1
                style="
                font-size: 20px;
                    font-weight: bold;
                    font-stretch: normal;
                    font-style: normal;
                    line-height: 1.38;
                    letter-spacing: 0.38px;
                    color: #777777 !important;
                    margin-top: 0;
                    font-family: 'Open Sans', sans-serif;
                "
              >
                Hello <%= @user.name %>!
              </h1>
              <% if @status === "IN_PROGRESS" || @status === "IN_PROCESS" %>
                <p style="color: #777777 !important;">
                  This email is to confirm that the following ACH has been processed to your bank account. Please confirm receipt of this deposit with your bank but note that posting cut-off times are bank dependent and the actual date of fund availability may vary.
                </p>
              <% elsif @status === "FAILED" %>
                <p style="color: #777777 !important;">
                  Unfortunately, we were not able to process your ACH transaction due to an issue with the information provided. Please review all ACH details for accuracy:                        </p>
              <% elsif @status === "VOID" %>
                <p style="color: #777777 !important;">
                  Your ACH withdrawal has been voided. Please review our accounting memo below for details:
                </p>
              <% elsif @status === "PAID" %>
                <p style="color: #777777 !important;">
                  This email is to confirm that the following ACH transaction was processed to your bank account. Please confirm receipt of this deposit with your bank but note that posting cut-off times are bank dependent and the actual date of fund availability may vary.
                </p>
              <% end %>
            </td>
          </tr>
          <tr>
            <td>
              <hr style="border: 0; border-bottom: solid 1px #e2e2e2;" />
            </td>
          </tr>
          <tr>
            <td>
              <table
                cellspacing="0"
                cellpadding="0"
                style="
                width: 100%;
                    border: 0;
                    font-family: 'Open Sans', sans-serif;
                "
              >
                <tr>
                  <td colspan="2">
                    <h3
                      style="
                      font-family: 'Open Sans', sans-serif;
                          text-align: center;
                          font-size: 24px;
                          color: #4c4c4c;
                          margin: 10px 0;
                          width: 100%;
                      "
                    >
                      Transaction Overview
                    </h3>
                  </td>
                </tr>
                <tr>
                  <td style="font-size: 14px; color: #4c4c4c; padding: 10px 0">
                    <p style="margin: 0;">
                      <strong>Transaction Type</strong>
                    </p>
                    <% if @status === "FAILED" %>
                      <p style="margin: 0;">Failed ACH</p>
                    <% elsif @status === "IN_PROGRESS" || @status === "IN_PROCESS" %>
                      <p style="margin: 0;">ACH</p>
                    <% elsif @status === "VOID" %>
                      <p style="margin: 0;">Void ACH</p>
                    <% else %>
                      <p style="margin: 0;">Paid ACH</p>
                    <% end %>
                  </td>
                  <td style="vertical-align: middle;">
                    <% if @status === "FAILED" %>
                      <img
                        style="display: block; float: right;"
                        src="https://quickcard.s3-us-west-2.amazonaws.com/failed_button_email.png"
                        alt="failed"
                        />
                    <% elsif @status === "IN_PROGRESS" || @status === "IN_PROCESS" %>
                      <img
                        style="display: block; float: right;"
                        src="https://quickard.s3-us-west-2.amazonaws.com/in_process.png"
                        alt="in progress"
                        />
                    <% elsif @status === "VOID" %>
                      <img
                        style="display: block; float: right;"
                        src="https://quickcard.s3-us-west-2.amazonaws.com/void_button_email.png"
                        alt="void"
                        />
                    <% else %>
                      <img
                        style="display: block; float: right;"
                        src="https://quickcard.s3-us-west-2.amazonaws.com/paid_button_email.png"
                        alt="paid"
                        />
                    <% end %>
                  </td>
                </tr>
                <% if @status == "VOID" || @status == "FAILED" %>
                  <tr>
                    <td
                      style="font-size: 14px; color: #4c4c4c; padding: 10px 0;"
                    >
                      <p style="margin: 0;"><strong>Remarks</strong></p>
                      <p style="margin: 0;"><%= @customer_note %></p>
                    </td>
                  </tr>
                <% end %>
              </table>
                <tr>
                  <td>
                    <hr style="border: 0; border-bottom: solid 1px #e2e2e2;" />
                  </td>
                </tr>
          <tr>
            <td>
              <table
                cellspacing="0"
                cellpadding="0"
                style="
            width: 100%;
                border: 0;
                font-family: 'Open Sans', sans-serif;
            "
              >
                <tr>
                  <td
                    style="font-size: 14px; color: #4c4c4c; padding: 10px 0; font-family: 'Open Sans', sans-serif;"
                  >
                    <p style="margin: 0;"><strong>Account Name</strong></p>
                    <p style="margin: 0;"><%= @name %></p>
                  </td>
                  <td
                    style="font-size: 14px; color: #4c4c4c; padding: 10px 0; font-family: 'Open Sans', sans-serif;"
                  >
                    <p style="margin: 0; text-align: right;">
                      <strong>Account ID</strong>
                    </p>
                    <p style="margin: 0; text-align: right;"><%= @user.id %></p>
                  </td>
                </tr>
                <tr>
                  <td
                    style="font-size: 14px; color: #4c4c4c; padding: 10px 0; font-family: 'Open Sans', sans-serif;"
                  >
                    <p style="margin: 0;">
                      <strong>Creation Date / Time</strong>
                    </p>
                    <p style="margin: 0;"><%= @date %></p>
                  </td>
                  <td
                    style="font-size: 14px; color: #4c4c4c; padding: 10px 0;"
                  >
                    <p style="margin: 0; text-align: right;"><strong>ACH ID</strong></p>
                    <p style="margin: 0; text-align: right;"><%= @tango_id %></p>
                  </td>
                </tr>
              </table>
            </td>
          </tr>
          <tr>
            <td>
              <hr style=" border: 0; border-bottom: solid 1px #e2e2e2;" />
            </td>
          </tr>
          <tr>
            <td>
              <table
                cellspacing="0"
                cellpadding="0"
                style="
                width: 100%;
                    border: 0;
                    padding: 10px 0;
                    font-family: 'Open Sans', sans-serif;
                "
              >
                <tr>
                  <td>
                    <h4 style="font-size: 16px; color: #adadad; margin: 0;">
                      Payment Information
                    </h4>
                  </td>
                </tr>
                <tr>
                  <td
                    style="font-size: 16px; color: #4c4c4c; padding: 10px 0;"
                  >
                    <p style="margin: 0;">
                      <strong>Total Amount</strong>
                    </p>
                  </td>
                  <td
                    style="font-size: 16px; color: #4c4c4c; padding: 10px 0; font-family: 'Open Sans', sans-serif;"
                  >
                    <p style="margin: 0; text-align: right;">
                      <strong>$<%= number_with_precision(@amount,:precision => 2, :delimiter => ',') %></strong>
                    </p>
                  </td>
                </tr>
                <tr>
                  <td
                    style="font-size: 14px; color: #4c4c4c; padding: 10px 0; font-family: 'Open Sans', sans-serif;"
                  >
                    <p style="margin: 0;">
                      <strong>Name on Bank Account</strong>
                    </p>
                    <p style="margin: 0;">
                      <%= @bank_account_name %>
                    </p>
                  </td>
                </tr>
                <tr>
                  <td
                    style="font-size: 14px; color: #4c4c4c; padding: 10px 0; font-family: 'Open Sans', sans-serif;"
                  >
                    <p style="margin: 0;">
                      <strong>Routing Number</strong>
                    </p>
                    <p style="margin: 0;">
                      <%= @routing_number %>
                    </p>
                  </td>
                  <td
                    style="font-size: 14px; color: #4c4c4c; padding: 10px 0; font-family: 'Open Sans', sans-serif;"
                  >
                    <p style="margin: 0; text-align: right;"><strong>Account last 4</strong></p>
                    <p style="margin: 0; text-align: right;"><%= @account_number %></p>
                  </td>
                </tr>
                <tr>
                  <td
                    style="font-size: 14px; color: #4c4c4c; padding: 10px 0; font-family: 'Open Sans', sans-serif;"
                  >
                    <p style="margin: 0;">
                      <strong>Recipient Email</strong>
                    </p>
                    <a href="mailto:<%= @recipient %>" style="margin: 0; color: #35bab6;">
                      <%= @recipient %>
                    </a>
                  </td>
                </tr>
              </table>
            </td>
          </tr>
          <tr>
            <td>
              <hr style="border: 0; border-bottom: solid 1px #e2e2e2;" />
            </td>
          </tr>
          <tr>
            <td style="font-size: 14px; color: #4c4c4c; padding: 20px 0; font-family: 'Open Sans', sans-serif;">
              <p style="margin: 0;"><strong>Memo</strong></p>
              <p style="margin: 0;">
                <%= @description %>
              </p>
            </td>
          </tr>
          <tr>
            <td>
              <hr style="border: 0; border-bottom: solid 1px #e2e2e2;" />
            </td>
          </tr>
          <tr>
            <td style="font-size: 16px; color: #777777; padding: 10px 0; font-family: 'Open Sans', sans-serif;">
              <p>Please do not hesitate to contact us should you have any questions or concerns.</p>
              <p>Sincerely,</p>
              <p><strong>QuickCard Support Team</strong></p>
            </td>
          </tr>
          <tr>
            <td>
              <hr style="border: 0; border-bottom: solid 1px #e2e2e2;" />
            </td>
          </tr>
          <tr>
            <td
              style="
              font-family: 'Open Sans', sans-serif;
                  font-size: 16px;
                  font-weight: 600;
                  font-stretch: normal;
                  font-style: normal;
                  line-height: 1.88;
                  letter-spacing: normal;
                  text-align: center;
                  color: #4c4c4c;
                  margin-top: 1rem !important;
              "
            >
              <p style="text-align: center;">QuickCard Contact Info</p>
            </td>
          </tr>
          <tr>
            <td style="text-align: center; width: 100%; font-family: 'Open Sans', sans-serif; font-size: 16px;">
              <p
                style="
                color: #777777;
                    margin: 0;
                "
              >
                Contact Support
              </p>
              <div style="display: inline-block;">
                <img
                  src="https://quickard.s3-us-west-2.amazonaws.com/phone.png"
                  alt=""
                  style="float: left; width: 26px;"
                  />
                <strong style="color: #4c4c4c; padding-top: 3px; display: inline-block;">619-333-4227</strong>
              </div>
            </td>
          </tr>
          <tr>
            <td style="text-align: center; width: 100%; font-family: 'Open Sans', sans-serif; font-size: 16px;">
              <p
                style="
                color: #777777;
                    margin:14px 0 0 0;
                "
              >
                Email Support
              </p>
              <div style="display: inline-block;">
                <img
                  src="https://quickard.s3-us-west-2.amazonaws.com/email.png"
                  alt=""
                  style="float: left; width: 26px;"
                  />
                <strong style="color: #4c4c4c; padding-top: 1px; display: inline-block;">
                  <a style="color: #35bab6; font-weight: 600;white-space: nowrap;" href="mailto:support@quickcard.me">support@quickcard.me</a>
                </strong>
              </div>
            </td>
          </tr>
        </table>
      </td>
    </tr>
    <tr>
      <td>
        <img
          src="https://quickcard.s3-us-west-2.amazonaws.com/whitebox_bottom.png"
          alt=""
          />
      </td>
    </tr>
    <tr>
      <td style="padding: 0px 0; text-align: center;">
        <img
          src="https://quickcard.s3-us-west-2.amazonaws.com/powered.png"
          alt="Powered by GreenBox"
          />
      </td>
    </tr>
    <tr>
      <td style="padding: 0 30px 10px 30px;">
        <p
          style="
          font-family: 'Open Sans', sans-serif;
              font-size: 12px;
              font-weight: normal;
              font-stretch: normal;
              font-style: normal;
              color: #4c4c4c;
              margin: 0;
          "
        >
          The contents of this message, together with any attachments, are
          intended only for the use of the individual(s) or entity to which
          they are addressed and may contain information that is confidential
          or proprietary. If you are not the intended recipient, you are
          hereby notified that any dissemination, distribution, or copying of
          this message, or any attachment, is strictly prohibited. If you have
          received this message in error, please advise the sender by return
          email and delete this message, along with any attachments, from your
          computer. Thank you.
        </p>
      </td>
    </tr>
    <tr style="height: 20px;">
      <td></td>
    </tr>
  </table>
</div>
</body>
</html>