<!DOCTYPE html>
<html>
  <head>
    <title>Email - Green Box</title>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1" name="viewport" />
    <style type="text/css">
      .container {
        width: 100%;
        padding-right: 15px;
        padding-left: 15px;
        margin-right: auto;
        margin-left: auto;
      }
      .top-box{
        width: 100%;
      }
      .pull-left{
        float: left;
      }
      .row{
        /*display: flex;*/
        flex-wrap: wrap;
        margin-right: -15px;
        margin-left: -15px;
      }
      .col-md-12 {
        flex: 0 0 100%;
        max-width: 100%;
      }
      .pull-left-fild{
        max-width: 25%;
        flex: 0 0 25%;
        position: relative;
        padding-right: 15px;
        padding-left: 15px;
      }

      .dba-filds{
        width: 100%;
        flex: 0 0 100%;
        padding-right: 15px;
        padding-left: 15px;
      }
      .col, .col-1, .col-10, .col-11, .col-12, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-auto, .col-lg, .col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-auto, .col-md, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-auto, .col-sm, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-auto, .col-xl, .col-xl-1, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-auto {
        position: relative;
        /*width: 100%;*/
        padding-right: 15px;
        padding-left: 15px;
      }
      *, ::after, ::before {
        box-sizing: border-box;
      }
      .heading-2 {
        font-size: 18px;
        font-weight: bold;
      }
      .dba-filds{
        border-radius: 5px;
        border: 1px solid;
        height:30px;
      }
        p{
          line-height: 1px;
        }
    </style>
  </head>
  <body id="email-template">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h3> Begin Forward Message: </h3>
      </div>
      <div class="top-box">
        <span><b>From:</b>Quickcard<a href="support@quickcard.me">support@quickcard.me</a></span><br>
        <span><b>Subject: ACH Request from <%= @user.name.try(:capitalize) %> (<%=@user.merchant? ? 'M' : @user.iso? ? 'ISO' : @user.agent? ? 'A' : 'AF' %>-<%= @user.id %>) -Quickard</b></span><br>
        <span class="timeUtc"><b>Date:</b><%= Time.now.to_formatted_s(:long_ordinal)%></span><br>
        <span><b>To:</b><a href="alyse@greenboxpos.com">alyse@greenboxpos.com</a></span><br><br>
        <span style="font-size: 18px;">Dear GreenBox POS team,</span><br>
        <span style="font-size: 18px;"><%= @user.name.try(:capitalize) %> <%=@user.merchant? ? 'M' : @user.iso? ? 'ISO' : @user.agent? ? 'A' : 'AF' %>-<%= @user.id %> Complete the ACH form.</span><br>
        <span style="font-size: 18px;">Please review and approve the account</span><br><br>
        <a style="text-decoration: underline;font-size: 18px;" href="<%= @urls %>">Approve Request</a>
        <br><br><br><br><br><br>
        <span style="font-size: 18px;">Thank You,</span><br>
        <span style="font-size: 18px;"  >GreenBox POS Dev Team</span>
      </div>
      <div>
      </div>
    </div>
  </div>
  </body>
</html>
<script>
    $(document).ready(function () {
        var lt= $('.timeUtc-user').each(function (i,v) {
            // var gmtDateTime =  moment(v.innerText.replace('UTC', '')).utc().format('MM-DD-YYYY HH:mm:ss')
            var gmtDateTime = moment.utc(v.innerText,'YYYY-MM-DD HH:mm:ss');
//           var gmtDateTime = moment.utc(v.innerText).toDate();
            var local = moment(gmtDateTime).local().format('YYYY-MM-DD hh:mm:ss A');
            v.innerText = local

        });
    });
</script>
