<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
<h1>Welcome to Quick Card, <%= @user.name %></h1>
<p>
  <%= @body %>
</p>
<p>Thanks for using @quickcard and have a great day!</p>
</body>
</html>