<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:v="urn:schemas-microsoft-com:vml" xmlns:o="urn:schemas-microsoft-com:office:office">
<head>
  <meta charset="utf-8"> <!-- utf-8 works for most cases -->
  <meta name="viewport" content="width=device-width"> <!-- Forcing initial-scale shouldn't be necessary -->
  <meta http-equiv="X-UA-Compatible" content="IE=edge"> <!-- Use the latest (edge) version of IE rendering engine -->
  <meta name="x-apple-disable-message-reformatting">  <!-- Disable auto-scale in iOS 10 Mail entirely -->
  <title>Email - Green Box</title> <!-- The title tag shows in email notifications, like Android 4.4. -->

  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800&display=swap" rel="stylesheet">

  <!-- CSS Reset : BEGIN -->
  <style>
    html,
    body {
      margin: 0 auto !important;
      padding: 0 !important;
      height: 100% !important;
      width: 100% !important;
      background: #f1f1f1;
    }

    /* What it does: Stops email clients resizing small text. */
    * {
      -ms-text-size-adjust: 100%;
      -webkit-text-size-adjust: 100%;
    }

    /* What it does: Centers email on Android 4.4 */
    div[style*="margin: 16px 0"] {
      margin: 0 !important;
    }

    /* What it does: Stops Outlook from adding extra spacing to tables. */
    table,
    td {
      mso-table-lspace: 0pt !important;
      mso-table-rspace: 0pt !important;
    }

    /* What it does: Fixes webkit padding issue. */
    table {
      border-spacing: 0 !important;
      border-collapse: collapse !important;
      table-layout: fixed !important;
      margin: 0 auto !important;
    }

    /* What it does: Uses a better rendering method when resizing images in IE. */
    img {
      -ms-interpolation-mode:bicubic;
    }

    /* What it does: Prevents Windows 10 Mail from underlining links despite inline CSS. Styles for underlined links should be inline. */
    a {
      text-decoration: none;
    }

    /* What it does: A work-around for email clients meddling in triggered links. */
    *[x-apple-data-detectors],  /* iOS */
    .unstyle-auto-detected-links *,
    .aBn {
      border-bottom: 0 !important;
      cursor: default !important;
      color: inherit !important;
      text-decoration: none !important;
      font-size: inherit !important;
      font-family: inherit !important;
      font-weight: inherit !important;
      line-height: inherit !important;
    }

    /* What it does: Prevents Gmail from displaying a download button on large, non-linked images. */
    .a6S {
      display: none !important;
      opacity: 0.01 !important;
    }

    /* What it does: Prevents Gmail from changing the text color in conversation threads. */
    .im {
      color: inherit !important;
    }

    /* If the above doesn't work, add a .g-img class to any image in question. */
    img.g-img + div {
      display: none !important;
    }

    /* What it does: Removes right gutter in Gmail iOS app: https://github.com/TedGoas/Cerberus/issues/89  */
    /* Create one of these media queries for each additional viewport size you'd like to fix */

    /* iPhone 4, 4S, 5, 5S, 5C, and 5SE */
    @media only screen and (min-device-width: 320px) and (max-device-width: 374px) {
      u ~ div .email-container {
        min-width: 320px !important;
      }
    }
    /* iPhone 6, 6S, 7, 8, and X */
    @media only screen and (min-device-width: 375px) and (max-device-width: 413px) {
      u ~ div .email-container {
        min-width: 375px !important;
      }
    }
    /* iPhone 6+, 7+, and 8+ */
    @media only screen and (min-device-width: 414px) {
      u ~ div .email-container {
        min-width: 414px !important;
      }
    }

  </style>

  <!-- CSS Reset : END -->

  <!-- Progressive Enhancements : BEGIN -->
  <style>

    .primary{
      background: #0d0cb5;
    }
    .bg_light{
      background: #fafafa;
    }
    .bg_black{
      background: #000000;
    }
    .bg_dark{
      background: rgba(0,0,0,.8);
    }
    /*.email-section{*/
    /*  padding:1.5em;*/
    /*}*/

    /*BUTTON*/
    .btn{
      padding: 5px 15px;
      display: inline-block;
    }
    .btn.btn-primary{
      border-radius: 5px;
      background: #0d0cb5;
      color: #ffffff;
    }
    .btn.btn-white{
      border-radius: 5px;
      background: #ffffff;
      color: #000000;
    }
    .btn.btn-white-outline{
      border-radius: 5px;
      background: transparent;
      border: 1px solid #fff;
      color: #fff;
    }

    h1,h2,h3,h4,h5,h6{
      font-family: 'Open Sans', sans-serif;
      color: #000000;
      margin-top: 0;
    }

    body{
      font-family: 'Open Sans', sans-serif;
      font-weight: 400;
      font-size: 15px;
      line-height: 1.8;
      color: rgba(0,0,0,.4);
    }

    a{
      color: #0d0cb5;
    }

    table{
    }

    .navigation{
      padding: 0;
    }
    .navigation li{
      list-style: none;
      display: inline-block;;
      margin-left: 5px;
      font-size: 13px;
      font-weight: 500;
    }
    .navigation li a{
      color: rgba(0,0,0,.4);
    }

    /*HERO*/
    .hero{
      position: relative;
      z-index: 0;
    }

    .hero .icon{
    }
    .hero .icon a{
      display: block;
      width: 60px;
      margin: 0 auto;
    }
    .hero .text{
      color: rgba(255,255,255,.8);
    }
    .hero .text h2{
      font-size: 30px;
      font-weight: bold;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.37;
      letter-spacing: 0.48px;
      text-align: center;
      color: #4c4c4c;
    }
    .hero .text h4{
      font-size: 16px;
      font-weight: bold;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.25;
      letter-spacing: normal;
      text-align: center;
      color: rgba(0, 0, 0, 0.7);
    }
    .hero .text h5{
      font-size: 16px;
      font-weight: normal;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.25;
      letter-spacing: normal;
      text-align: center;
      color: rgba(0, 0, 0, 0.7);
    }


    /*HEADING SECTION*/
    .heading-section h2{
      font-size: 20px;
      font-weight: bold;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.38;
      letter-spacing: 0.38px;
      color: #777777;
      padding-top: 4%;
    }
    .heading-section p{
      font-size: 16px;
      font-weight: normal;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.38;
      letter-spacing: 0.26px;
      color: #777777;
      padding-top: 3%;
      padding-bottom: 3%;
    }
    .services{
      width: 188px;
      height: 184px;
      border-radius: 8px;
      box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
      background-color: #ffffff;
      float: left;
      margin: 1%;
    }
    .services p{
      font-size: 16px;
      font-weight: bold;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.38;
      letter-spacing: normal;
      text-align: center;
      color: #4c4c4c;
    }
    .images{
      margin-top: 15%;
    }

    /*COUNTER*/
    .counter{
      width: 100%;
      position: relative;
      z-index: 0;
    }
    .counter .overlay{
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      content: '';
      width: 100%;
      background: #000000;
      z-index: -1;
      opacity: .3;
    }
    .counter-text{
      text-align: center;
    }
    .counter-text .num{
      display: block;
      color: #ffffff;
      font-size: 34px;
      font-weight: 700;
    }
    .counter-text .name{
      display: block;
      color: rgba(255,255,255,.9);
      font-size: 13px;
    }
    .discription_section{
      border-radius: 8px;
      box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
      background-color: #ffffff;
      padding: 2%;
    }
    .description_heading{
      font-size: 14px;
      font-weight: bold;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.36;
      letter-spacing: normal;
      text-align: left;
      color: #777777;
      width: 13%;
      padding-bottom: 2%;
      padding-top: 2%;
    }
    .serv_heading{
      font-size: 14px;
      font-weight: bold;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.36;
      letter-spacing: normal;
      text-align: left;
      color: #777777;
      width: 36%;
      padding-bottom: 2%;
      padding-top: 2%;
    }
    .description_qty{
      font-size: 14px;
      font-weight: bold;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.36;
      letter-spacing: normal;
      text-align: right;
      color: #777777;
    }
    .hr{
      border-bottom: 1px solid rgba(0, 0, 0, 0.2);
      border-radius: 8px;
    }
    .simple_text{
      font-size: 14px;
      font-weight: normal;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.36;
      letter-spacing: normal;
      text-align: left;
      color: #777777;
      padding-bottom: 2%;
      padding-top: 2%;
    }
    .simple_text_qty{
      font-size: 14px;
      font-weight: normal;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.36;
      letter-spacing: normal;
      text-align: right;
      color: #777777;
      padding-bottom: 2%;
      padding-top: 2%;
    }
    .pdf_button{
      width: 81px;
      height: 32px;
      border-radius: 24px;
      box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
      border: solid 2px #ffd95a;
      background-color: #ffffff;
      font-size: 14px;
      font-weight: normal;
      font-stretch: normal;
      font-style: normal;
      line-height: 2.14;
      letter-spacing: normal;
      text-align: left;
      color: #4c4c4c;
    }
    .pdf_image{
      padding-top: 8%;
      padding-left: 25%;
    }
    .footer_text{
      font-size: 14px;
      font-weight: normal;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.36;
      letter-spacing: 0.22px;
      text-align: center;
      color: #777777;
    }
    .footer_text span{
      color: #35bab6;
      text-decoration: underline;
    }
    .power_by{
      font-family: 'Source Sans Pro',Sans-Serif;
      font-size: 16px;
      font-weight: normal;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.88;
      letter-spacing: normal;
      text-align: center;
      color: rgba(0, 0, 0, 0.5);
    }
    .simple_text_due{
      width: 60px;
      height: 19px;
      font-family: 'Open Sans', sans-serif;
      font-size: 14px;
      font-weight: bold;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.36;
      letter-spacing: normal;
      text-align: right;
      color: #777777;
    }
    .Descriptor_Name {
      height: 22px;
      font-family: 'Open Sans', sans-serif;
      font-size: 16px;
      font-weight: bold;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.38;
      letter-spacing: 0.26px;
      text-align: center;
      color: #777777;
      padding-top: 6px;
    }
    .high-light{
      font-weight: bold;
    }
    .link-color{
      color: #35bab6;
    }
  </style>
</head>

<body width="100%" style="margin: 0; padding: 0 !important; mso-line-height-rule: exactly; background-color: #222222;">
<center style="width: 100%; background-image: linear-gradient(to bottom, #f7f7f7, #e2e2e2);">
  <div style="display: none; font-size: 1px;max-height: 0px; max-width: 0px; opacity: 0; overflow: hidden; mso-hide: all; font-family: sans-serif;">
    &zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;
  </div>
  <div style="max-width: 600px; margin: 0 auto;" class="email-container">
    <!-- BEGIN BODY -->
    <table align="center" role="presentation" cellspacing="0" cellpadding="0" border="0" width="100%" style="margin: auto;">
      <tr>
        <td valign="middle" class="hero bg_white" style="background-image: url('https://quickard.s3-us-west-2.amazonaws.com/marchent_name_mail+(1).png'); height: 120px;">
          <div class="overlay"></div>
          <table role="presentation" cellspacing="0" cellpadding="0" border="0" width="100%">
            <tr>
              <td>
                <div class="text" style="padding: 0 3em; text-align: center;padding-top: 20px;">
                  <h2><%= image_tag ('https://quickard.s3-us-west-2.amazonaws.com/Camada+2.png')%></h2>
                </div>
              </td>
            </tr>
          </table>
        </td>
      </tr><!-- end tr -->
      <tr>
        <td class="bg_white">
          <table role="presentation" cellspacing="0" cellpadding="0" border="0" width="100%">
            <tr>
              <td class="bg_white email-section">
                <div style="    display: flex;
                    flex-wrap: wrap;
                    border-radius: 8px;
                    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
                    background-color: #ffffff;
                    margin-top: 24px;">
                  <div class="heading-section" style="padding: 0 30px;">
                    <h2>Hello <%= @dba_name %>!
                    </h2>
                    <p style=" font-family: 'Open Sans', sans-serif;
                        font-size: 16px;
                        font-weight: normal;
                        font-stretch: normal;
                        font-style: normal;
                        color: #4c4c4c;">
                      Unfortunately, your QuickCard account <%= @account_id %> has an insufficient balance for a chargeback in the amount of $<%= @amount %>. Here is your Chargeback Case# <%= @case_no %>.                   <br><br>
                      Please upload sufficient funds to your account to reconcile this chargeback. We will try every (24) hours to deduct from your account the necessary funds to resolve this case.
                    <br><br>
                      Thank you for your prompt attention to this request.
                      <br><br>
                      Sincerely,
                      <br><br>
                      QuickCard Support Team
                    </p>
                    <hr>
                    <div>
                      <div style="
                      font-family: 'Open Sans', sans-serif;
                          font-size: 16px;
                          font-weight: 600;
                          font-stretch: normal;
                          font-style: normal;
                          line-height: 1.88;
                          letter-spacing: normal;
                          text-align: center;
                          color: #4c4c4c;
                          margin-top: 1rem !important;">
                        QuickCard Contact Info
                      </div>
                      <div class="row mt-3" style="display: flex;
                          flex-wrap: wrap;
                          margin-right: -15px;
                          margin-left: -15px;">
                        <div class="col-xl-2 col-lg-2 col-md-2 col-sm-2 col-xs-12">
                          <div class="right-phone" style="    margin-left: 50px;
                              margin-top: 20px;">
                            <%= image_tag ("https://quickard.s3-us-west-2.amazonaws.com/phone.png")%>
                          </div>
                        </div>
                        <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 col-xs-12">
                          <p style=" font-family: 'Open Sans', sans-serif;
                              font-size: 16px;
                              font-weight: normal;
                              font-stretch: normal;
                              font-style: normal;
                              line-height: 1.69;
                              letter-spacing: normal;
                              text-align: left;
                              color: #4c4c4c;
                              padding-top: 7px !important">Contact Support <br>
                            <span style=" font-family: 'Open Sans', sans-serif;
                                font-size: 16px;
                                font-weight: bold;
                                font-stretch: normal;
                                font-style: normal;
                                line-height: 1.25;
                                letter-spacing: normal;
                                text-align: left;
                                color: #4c4c4c;
                                margin-top: -22px !important;">619-333-4227</span>
                          </p>

                        </div>
                        <div class="col-xl-2 col-lg-2 col-md-2 col-sm-2 col-xs-12">
                          <div style="object-fit: contain;  margin-left: 10px;
                              margin-top: 20px;">
                            <%= image_tag ("https://quickard.s3-us-west-2.amazonaws.com/clock.png")%>
                          </div>
                        </div>
                        <div class="col-xl-5 col-lg-5 col-md-5 col-sm-5 col-xs-12">
                          <div>
                            <p style=" font-family: 'Open Sans', sans-serif;
                                font-size: 16px;
                                font-weight: normal;
                                font-stretch: normal;
                                font-style: normal;
                                line-height: 1.69;
                                letter-spacing: normal;
                                text-align: left;
                                color: #4c4c4c;">Available from <br>
                              <span style=" font-family: 'Open Sans', sans-serif;
                                  font-size: 16px;
                                  font-weight: bold;
                                  font-stretch: normal;
                                  font-style: normal;
                                  line-height: 1.25;
                                  letter-spacing: normal;
                                  text-align: left;
                                  color: #4c4c4c;
                                  margin-top: -29px !important;">9am - 5pm PST, Monday - Friday</span>
                            </p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </td>
            </tr><!-- end: tr -->
          </table>
          <div class="" style="padding: 0 30px;">
            <center>
              <p class="power_by" style="margin-top: -17px;">
                Powered by <%= image_tag ("https://quickard.s3-us-west-2.amazonaws.com/logo_mail+(1).png")%>
              </p>
            </center>
            <p style=" font-family: 'Open Sans', sans-serif;
                font-size: 12px;
                font-weight: normal;
                font-stretch: normal;
                font-style: normal;
                color: #4c4c4c;">
              The contents of this message, together with any attachments, are intended only for the use of the individual(s) or entity to which they are addressed and may contain information that is confidential or proprietary. If you are not the intended recipient, you are hereby notified that any dissemination, distribution, or copying of this message, or any attachment, is strictly prohibited. If you have received this message in error, please advise the sender by return email and delete this message, along with any attachments, from your computer. Thank you.
            </p>
          </div>
        </td>
      </tr><!-- end:tr -->
      <!-- 1 Column Text + Button : END -->
    </table>
  </div>
</center>
</body>
</html>
