<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:v="urn:schemas-microsoft-com:vml" xmlns:o="urn:schemas-microsoft-com:office:office">
<head>
  <meta charset="utf-8"> <!-- utf-8 works for most cases -->
  <meta name="viewport" content="width=device-width"> <!-- Forcing initial-scale shouldn't be necessary -->
  <meta http-equiv="X-UA-Compatible" content="IE=edge"> <!-- Use the latest (edge) version of IE rendering engine -->
  <meta name="x-apple-disable-message-reformatting">  <!-- Disable auto-scale in iOS 10 Mail entirely -->
  <title>Email - Green Box</title> <!-- The title tag shows in email notifications, like Android 4.4. -->

  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800&display=swap" rel="stylesheet">

  <!-- CSS Reset : BEGIN -->
  <style>
    html,
    body {
      margin: 0 auto !important;
      padding: 0 !important;
      height: 100% !important;
      width: 100% !important;
      background: #f1f1f1;
    }

    /* What it does: Stops email clients resizing small text. */
    * {
      -ms-text-size-adjust: 100%;
      -webkit-text-size-adjust: 100%;
    }

    /* What it does: Centers email on Android 4.4 */
    div[style*="margin: 16px 0"] {
      margin: 0 !important;
    }

    /* What it does: Stops Outlook from adding extra spacing to tables. */
    table,
    td {
      mso-table-lspace: 0pt !important;
      mso-table-rspace: 0pt !important;
    }

    /* What it does: Fixes webkit padding issue. */
    table {
      border-spacing: 0 !important;
      border-collapse: collapse !important;
      table-layout: fixed !important;
      margin: 0 auto !important;
    }

    /* What it does: Uses a better rendering method when resizing images in IE. */
    img {
      -ms-interpolation-mode:bicubic;
    }

    /* What it does: Prevents Windows 10 Mail from underlining links despite inline CSS. Styles for underlined links should be inline. */
    a {
      text-decoration: none;
    }

    /* What it does: A work-around for email clients meddling in triggered links. */
    *[x-apple-data-detectors],  /* iOS */
    .unstyle-auto-detected-links *,
    .aBn {
      border-bottom: 0 !important;
      cursor: default !important;
      color: inherit !important;
      text-decoration: none !important;
      font-size: inherit !important;
      font-family: inherit !important;
      font-weight: inherit !important;
      line-height: inherit !important;
    }

    /* What it does: Prevents Gmail from displaying a download button on large, non-linked images. */
    .a6S {
      display: none !important;
      opacity: 0.01 !important;
    }

    /* What it does: Prevents Gmail from changing the text color in conversation threads. */
    .im {
      color: inherit !important;
    }

    /* If the above doesn't work, add a .g-img class to any image in question. */
    img.g-img + div {
      display: none !important;
    }

    /* What it does: Removes right gutter in Gmail iOS app: https://github.com/TedGoas/Cerberus/issues/89  */
    /* Create one of these media queries for each additional viewport size you'd like to fix */

    /* iPhone 4, 4S, 5, 5S, 5C, and 5SE */
    @media only screen and (min-device-width: 320px) and (max-device-width: 374px) {
      u ~ div .email-container {
        min-width: 320px !important;
      }
    }
    /* iPhone 6, 6S, 7, 8, and X */
    @media only screen and (min-device-width: 375px) and (max-device-width: 413px) {
      u ~ div .email-container {
        min-width: 375px !important;
      }
    }
    /* iPhone 6+, 7+, and 8+ */
    @media only screen and (min-device-width: 414px) {
      u ~ div .email-container {
        min-width: 414px !important;
      }
    }

  </style>

  <!-- CSS Reset : END -->

  <!-- Progressive Enhancements : BEGIN -->
  <style>

    .primary{
      background: #0d0cb5;
    }
    .bg_light{
      background: #fafafa;
    }
    .bg_black{
      background: #000000;
    }
    .bg_dark{
      background: rgba(0,0,0,.8);
    }
    /*.email-section{*/
    /*  padding:1.5em;*/
    /*}*/

    /*BUTTON*/
    .btn{
      padding: 5px 15px;
      display: inline-block;
    }
    .btn.btn-primary{
      border-radius: 5px;
      background: #0d0cb5;
      color: #ffffff;
    }
    .btn.btn-white{
      border-radius: 5px;
      background: #ffffff;
      color: #000000;
    }
    .btn.btn-white-outline{
      border-radius: 5px;
      background: transparent;
      border: 1px solid #fff;
      color: #fff;
    }

    h1,h2,h3,h4,h5,h6{
      font-family: 'Open Sans', sans-serif;
      color: #000000;
      margin-top: 0;
    }

    body{
      font-family: 'Open Sans', sans-serif;
      font-weight: 400;
      font-size: 15px;
      line-height: 1.8;
      color: rgba(0,0,0,.4);
    }

    a{
      color: #0d0cb5;
    }

    table{
    }

    .navigation{
      padding: 0;
    }
    .navigation li{
      list-style: none;
      display: inline-block;;
      margin-left: 5px;
      font-size: 13px;
      font-weight: 500;
    }
    .navigation li a{
      color: rgba(0,0,0,.4);
    }

    /*HERO*/
    .hero{
      position: relative;
      z-index: 0;
    }

    .hero .icon{
    }
    .hero .icon a{
      display: block;
      width: 60px;
      margin: 0 auto;
    }
    .hero .text{
      color: rgba(255,255,255,.8);
    }
    .hero .text h2{
      font-size: 30px;
      font-weight: bold;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.37;
      letter-spacing: 0.48px;
      text-align: center;
      color: #4c4c4c;
    }
    .hero .text h4{
      font-size: 16px;
      font-weight: bold;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.25;
      letter-spacing: normal;
      text-align: center;
      color: rgba(0, 0, 0, 0.7);
    }
    .hero .text h5{
      font-size: 16px;
      font-weight: normal;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.25;
      letter-spacing: normal;
      text-align: center;
      color: rgba(0, 0, 0, 0.7);
    }


    /*HEADING SECTION*/
    .heading-section h2{
      font-size: 24px;
      font-weight: bold;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.38;
      letter-spacing: 0.38px;
      text-align: center;
      color: #777777;
      padding-top: 4%;
    }
    .heading-section p{
      font-size: 16px;
      font-weight: normal;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.38;
      letter-spacing: 0.26px;
      text-align: center;
      color: #777777;
      padding-top: 3%;
      padding-bottom: 3%;
    }
    .services{
      width: 188px;
      height: 184px;
      border-radius: 8px;
      box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
      background-color: #ffffff;
      float: left;
      margin: 1%;
    }
    .services p{
      font-size: 16px;
      font-weight: bold;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.38;
      letter-spacing: normal;
      text-align: center;
      color: #4c4c4c;
    }
    .images{
      margin-top: 15%;
    }

    /*COUNTER*/
    .counter{
      width: 100%;
      position: relative;
      z-index: 0;
    }
    .counter .overlay{
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      content: '';
      width: 100%;
      background: #000000;
      z-index: -1;
      opacity: .3;
    }
    .counter-text{
      text-align: center;
    }
    .counter-text .num{
      display: block;
      color: #ffffff;
      font-size: 34px;
      font-weight: 700;
    }
    .counter-text .name{
      display: block;
      color: rgba(255,255,255,.9);
      font-size: 13px;
    }
    .discription_section{
      border-radius: 8px;
      box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
      background-color: #ffffff;
      padding: 2%;
    }
    .description_heading{
      font-size: 14px;
      font-weight: bold;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.36;
      letter-spacing: normal;
      text-align: left;
      color: #777777;
      width: 45%;
      padding-bottom: 2%;
      padding-top: 2%;
    }
    .description_qty{
      font-size: 14px;
      font-weight: bold;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.36;
      letter-spacing: normal;
      text-align: right;
      color: #777777;
    }
    .hr{
      border-bottom: 1px solid rgba(0, 0, 0, 0.2);
      border-radius: 8px;
    }
    .simple_text{
      font-size: 14px;
      font-weight: normal;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.36;
      letter-spacing: normal;
      text-align: left;
      color: #777777;
      padding-bottom: 2%;
      padding-top: 2%;
    }
    .simple_text_qty{
      font-size: 14px;
      font-weight: normal;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.36;
      letter-spacing: normal;
      text-align: right;
      color: #777777;
      padding-bottom: 2%;
      padding-top: 2%;
    }
    .pdf_button{
      width: 81px;
      height: 32px;
      border-radius: 24px;
      box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
      border: solid 2px #ffd95a;
      background-color: #ffffff;
      font-size: 14px;
      font-weight: normal;
      font-stretch: normal;
      font-style: normal;
      line-height: 2.14;
      letter-spacing: normal;
      text-align: left;
      color: #4c4c4c;
    }
    .pdf_image{
      padding-top: 8%;
      padding-left: 25%;
    }
    .footer_text{
      font-size: 14px;
      font-weight: normal;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.36;
      letter-spacing: 0.22px;
      text-align: center;
      color: #777777;
    }
    .footer_text span{
      color: #35bab6;
      text-decoration: underline;
    }
    .power_by{
      font-family: 'Source Sans Pro',Sans-Serif;
      font-size: 16px;
      font-weight: normal;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.88;
      letter-spacing: normal;
      text-align: center;
      color: rgba(0, 0, 0, 0.5);
    }
  </style>
</head>

<body width="100%" style="margin: 0; padding: 0 !important; mso-line-height-rule: exactly;">
<center style="width: 100%; background-image: linear-gradient(to bottom, #f7f7f7, #e2e2e2);">
  <div style="display: none; font-size: 1px;max-height: 0px; max-width: 0px; opacity: 0; overflow: hidden; mso-hide: all; font-family: sans-serif;">
    &zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;
  </div>
  <div style="max-width: 600px; margin: 0 auto;" class="email-container">
    <!-- BEGIN BODY -->
    <table align="center" role="presentation" cellspacing="0" cellpadding="0" border="0" width="100%" style="margin: auto;">
      <tr>
        <td valign="middle" class="hero bg_white" style="background-image: url(<%=asset_url('v2/merchant/invoice/marchent_name_mail.svg') %>); height: 120px;">
          <div class="overlay"></div>
          <table>
            <tr>
              <td>
                <div class="text" style="padding: 0 3em; text-align: center;color: rgba(255,255,255,.8);">
                  <h1 style="font-size: 26px;
                      font-weight: bold;
                      font-stretch: normal;
                      font-style: normal;
                      line-height: 1.38;
                      letter-spacing: 0.38px;
                      text-align: center;
                      color: #777777 !important;
                      padding-top: 4%;">
                    <%= @merchant.name %>
                  </h1>
                </div>
              </td>
            </tr>
          </table>
        </td>
      </tr><!-- end tr -->
      <tr>
        <td class="bg_white">
          <table role="presentation" cellspacing="0" cellpadding="0" border="0" width="100%">
            <tr>
              <td class="bg_white email-section">
                <div class="TXN_ID" style="text-align: center; padding: 0 30px;
                    font-family: 'Source Sans Pro',Sans-Serif;
                    font-size: 24px;
                    font-weight: bold;
                    font-stretch: normal;
                    font-style: normal;
                    line-height: 1.25;
                    letter-spacing: normal;
                    text-align: center;
                    color: rgba(0, 0, 0, 0.7);
                    padding-top: 4% !important;">
                  <h3 style="color: black !important;" >Hello <%= @user.name %>
                  </h3>
                  <p class="TXN_ID1" style="font-family: 'Source Sans Pro',Sans-Serif;
                      font-size: 16px;
                      font-weight: normal;
                      font-stretch: normal;
                      font-style: normal;
                      line-height: 1.25;
                      letter-spacing: normal;
                      text-align: center;
                      color: rgba(0, 0, 0, 0.7);">Here is your invoice number <br>
                  </p>
                  <p class="TXN_ID2" style="font-family: 'Source Sans Pro',Sans-Serif;
                      font-size: 16px;
                      font-weight: bold;
                      font-stretch: normal;
                      font-style: normal;
                      line-height: 1.25;
                      letter-spacing: normal;
                      text-align: center;
                      color: rgba(0, 0, 0, 0.7);
                      margin-top: -13px;"><%= @request.invoice_number %></p>
                </div>
              </td>
            </tr>
            <tr>
              <td class="bg_white email-section" style="padding-bottom: 2rem">
                <div class="heading-section" style="text-align: center; padding: 0 30px;">
                  <h2>$<%= number_with_precision(@request.total_amount, precision: 2) %> USD due <%= @request.due_date.strftime("%b %d, %Y") %></h2>
                  <p>Choose how you'd like to pay.</p>
                </div>
                <table role="presentation" border="0" cellpadding="0" cellspacing="10" width="100%">
                  <tr>
                    <td valign="top" class="services" style="margin-left: 106px">
                      <% if @active_option["quickcard"] %>
                        <center>
                          <%= image_tag 'https://quickard.s3-us-west-2.amazonaws.com/QuickCard_logo_vertical.png', class: 'images' %>
                          <p>
                            Pay with
                            Quickcard
                          </p>
                        </center>
                        <% @active_option["quickcard"] = false %>
                      <% elsif @active_option["ach"] %>
                        <center>
                          <%= image_tag "https://quickard.s3-us-west-2.amazonaws.com/001-payment.png", class: 'images' %>
                          <p>
                            Pay with RTP
                          </p>
                        </center>
                        <% @active_option["ach"] = false %>
                      <% else %>
                        <center>
                          <%= image_tag "https://quickard.s3-us-west-2.amazonaws.com/surface1.png", class: 'images' %>
                          <p>
                            Credit or debit
                            Card
                          </p>
                        </center>
                        <% @active_option["card"] = false %>
                      <% end %>
                    </td>
                    <td valign="top" class="services">
                      <% if @active_option["quickcard"] %>
                        <center>
                          <%= image_tag 'https://quickard.s3-us-west-2.amazonaws.com/QuickCard_logo_vertical.png', class: 'images' %>
                          <p>
                            Pay with
                            Quickcard
                          </p>
                        </center>
                        <% @quickcard_url = "#" %>
                      <% elsif @active_option["ach"] %>
                        <center>
                          <%= image_tag "https://quickard.s3-us-west-2.amazonaws.com/001-payment.png", class: 'images' %>
                          <p>
                            Pay with RTP
                          </p>
                        </center>
                        <% @ach_url = "#" %>
                      <% else %>
                        <center>
                          <%= image_tag "https://quickard.s3-us-west-2.amazonaws.com/surface1.png", class: 'images' %>
                          <p>
                            Credit or debit
                            Card
                          </p>
                        </center>
                        <% @card_url = "#" %>
                      <% end %>
                    </td>
                  </tr>
                </table>
              </td>
            </tr><!-- end: tr -->
            <tr>
              <td class="discription_section" style="width: 100%;">
                <table role="presentation" border="0" cellpadding="0" cellspacing="0" width="100%">
                  <tr class="hr">
                    <td style="font-family: 'Open Sans',sans-serif;
                        font-size: 14px;
                        font-weight: bold;
                        font-stretch: normal;
                        font-style: normal;
                        line-height: 1.36;
                        letter-spacing: normal;
                        text-align: left;
                        color: #777777;
                        padding-bottom: 2%">
                      Billing Info
                    </td>
                    <td></td>
                  </tr>
                  <tr>
                    <td style="font-family: 'Open Sans',sans-serif;
                        font-size: 14px;
                        font-weight: normal;
                        font-stretch: normal;
                        font-style: normal;
                        line-height: 1.36;
                        letter-spacing: normal;
                        text-align: left;
                        color: #777777;
                        padding-bottom: 2%;
                        padding-top: 2%">
                      Customer Address
                    </td>
                    <td style="font-family: 'Open Sans',sans-serif;
                        font-size: 14px;
                        font-weight: normal;
                        font-stretch: normal;
                        font-style: normal;
                        line-height: 1.36;
                        letter-spacing: normal;
                        text-align: right;
                        color: #777777;
                        padding-bottom: 2%;
                        padding-top: 2%">
                      <%= @billing.try(:street) %>
                    </td>
                  </tr>
                  <tr>
                    <td style="font-family: 'Open Sans',sans-serif;
                        font-size: 14px;
                        font-weight: normal;
                        font-stretch: normal;
                        font-style: normal;
                        line-height: 1.36;
                        letter-spacing: normal;
                        text-align: left;
                        color: #777777;
                        padding-bottom: 2%;">
                      Ste./Apt.
                    </td>
                    <td style="font-family: 'Open Sans',sans-serif;
                        font-size: 14px;
                        font-weight: normal;
                        font-stretch: normal;
                        font-style: normal;
                        line-height: 1.36;
                        letter-spacing: normal;
                        text-align: right;
                        color: #777777;
                        padding-bottom: 2%;">
                      <%= @billing.try(:suit) %>
                    </td>
                  </tr>
                  <tr>
                    <td style="font-family: 'Open Sans',sans-serif;
                        font-size: 14px;
                        font-weight: normal;
                        font-stretch: normal;
                        font-style: normal;
                        line-height: 1.36;
                        letter-spacing: normal;
                        text-align: left;
                        color: #777777;
                        padding-bottom: 2%;">
                      City
                    </td>
                    <td style="font-family: 'Open Sans',sans-serif;
                        font-size: 14px;
                        font-weight: normal;
                        font-stretch: normal;
                        font-style: normal;
                        line-height: 1.36;
                        letter-spacing: normal;
                        text-align: right;
                        color: #777777;
                        padding-bottom: 2%;">
                      <%= @billing.try(:city) %>
                    </td>
                  </tr>
                  <tr>
                    <td style="font-family: 'Open Sans',sans-serif;
                        font-size: 14px;
                        font-weight: normal;
                        font-stretch: normal;
                        font-style: normal;
                        line-height: 1.36;
                        letter-spacing: normal;
                        text-align: left;
                        color: #777777;
                        padding-bottom: 2%;">
                      State
                    </td>
                    <td style="font-family: 'Open Sans',sans-serif;
                        font-size: 14px;
                        font-weight: normal;
                        font-stretch: normal;
                        font-style: normal;
                        line-height: 1.36;
                        letter-spacing: normal;
                        text-align: right;
                        color: #777777;
                        padding-bottom: 2%;">
                      <% b_states = CS.states(@billing.try(:country)).try(:with_indifferent_access) %>
                      <%= b_states[@billing.try(:state)] %>
                    </td>
                  </tr>
                  <tr>
                    <td style="font-family: 'Open Sans',sans-serif;
                        font-size: 14px;
                        font-weight: normal;
                        font-stretch: normal;
                        font-style: normal;
                        line-height: 1.36;
                        letter-spacing: normal;
                        text-align: left;
                        color: #777777;
                        padding-bottom: 2%;">
                      Zipcode
                    </td>
                    <td style="font-family: 'Open Sans',sans-serif;
                        font-size: 14px;
                        font-weight: normal;
                        font-stretch: normal;
                        font-style: normal;
                        line-height: 1.36;
                        letter-spacing: normal;
                        text-align: right;
                        color: #777777;
                        padding-bottom: 2%;">
                      <%= @billing.try(:zip) %>
                    </td>
                  </tr>
                  <tr>
                    <td style="font-family: 'Open Sans',sans-serif;
                        font-size: 14px;
                        font-weight: normal;
                        font-stretch: normal;
                        font-style: normal;
                        line-height: 1.36;
                        letter-spacing: normal;
                        text-align: left;
                        color: #777777;
                        padding-bottom: 2%;">
                      Country
                    </td>
                    <td style="font-family: 'Open Sans',sans-serif;
                        font-size: 14px;
                        font-weight: normal;
                        font-stretch: normal;
                        font-style: normal;
                        line-height: 1.36;
                        letter-spacing: normal;
                        text-align: right;
                        color: #777777;
                        padding-bottom: 2%;">
                      <%= Address.get_country_name(@billing.try(:country)) %>
                    </td>
                  </tr>
                </table>
                <table role="presentation" border="0" cellpadding="0" cellspacing="0" width="100%">
                  <tr class="hr">
                    <td style="font-family: 'Open Sans',sans-serif;
                        font-size: 14px;
                        font-weight: bold;
                        font-stretch: normal;
                        font-style: normal;
                        line-height: 1.36;
                        letter-spacing: normal;
                        text-align: left;
                        color: #777777;
                        padding-bottom: 2%">
                      Shipping Info
                    </td>
                    <td></td>
                  </tr>
                  <tr>
                    <td style="font-family: 'Open Sans',sans-serif;
                        font-size: 14px;
                        font-weight: normal;
                        font-stretch: normal;
                        font-style: normal;
                        line-height: 1.36;
                        letter-spacing: normal;
                        text-align: left;
                        color: #777777;
                        padding-bottom: 2%;
                        padding-top: 2%">
                      Customer Address
                    </td>
                    <td style="font-family: 'Open Sans',sans-serif;
                        font-size: 14px;
                        font-weight: normal;
                        font-stretch: normal;
                        font-style: normal;
                        line-height: 1.36;
                        letter-spacing: normal;
                        text-align: right;
                        color: #777777;
                        padding-bottom: 2%;
                        padding-top: 2%">
                      <%= @shipping.try(:street) %>
                    </td>
                  </tr>
                  <tr>
                    <td style="font-family: 'Open Sans',sans-serif;
                        font-size: 14px;
                        font-weight: normal;
                        font-stretch: normal;
                        font-style: normal;
                        line-height: 1.36;
                        letter-spacing: normal;
                        text-align: left;
                        color: #777777;
                        padding-bottom: 2%;">
                      Ste./Apt.
                    </td>
                    <td style="font-family: 'Open Sans',sans-serif;
                        font-size: 14px;
                        font-weight: normal;
                        font-stretch: normal;
                        font-style: normal;
                        line-height: 1.36;
                        letter-spacing: normal;
                        text-align: right;
                        color: #777777;
                        padding-bottom: 2%;">
                      <%= @shipping.try(:suit) %>
                    </td>
                  </tr>
                  <tr>
                    <td style="font-family: 'Open Sans',sans-serif;
                        font-size: 14px;
                        font-weight: normal;
                        font-stretch: normal;
                        font-style: normal;
                        line-height: 1.36;
                        letter-spacing: normal;
                        text-align: left;
                        color: #777777;
                        padding-bottom: 2%;">
                      City
                    </td>
                    <td style="font-family: 'Open Sans',sans-serif;
                        font-size: 14px;
                        font-weight: normal;
                        font-stretch: normal;
                        font-style: normal;
                        line-height: 1.36;
                        letter-spacing: normal;
                        text-align: right;
                        color: #777777;
                        padding-bottom: 2%;">
                      <%= @shipping.try(:city) %>
                    </td>
                  </tr>
                  <tr>
                    <td style="font-family: 'Open Sans',sans-serif;
                        font-size: 14px;
                        font-weight: normal;
                        font-stretch: normal;
                        font-style: normal;
                        line-height: 1.36;
                        letter-spacing: normal;
                        text-align: left;
                        color: #777777;
                        padding-bottom: 2%;">
                      State
                    </td>
                    <td style="font-family: 'Open Sans',sans-serif;
                        font-size: 14px;
                        font-weight: normal;
                        font-stretch: normal;
                        font-style: normal;
                        line-height: 1.36;
                        letter-spacing: normal;
                        text-align: right;
                        color: #777777;
                        padding-bottom: 2%;">
                      <% s_states = CS.states(@shipping.try(:country)).try(:with_indifferent_access) %>
                      <%= s_states[@shipping.try(:state)] %>
                    </td>
                  </tr>
                  <tr>
                    <td style="font-family: 'Open Sans',sans-serif;
                        font-size: 14px;
                        font-weight: normal;
                        font-stretch: normal;
                        font-style: normal;
                        line-height: 1.36;
                        letter-spacing: normal;
                        text-align: left;
                        color: #777777;
                        padding-bottom: 2%;">
                      Zipcode
                    </td>
                    <td style="font-family: 'Open Sans',sans-serif;
                        font-size: 14px;
                        font-weight: normal;
                        font-stretch: normal;
                        font-style: normal;
                        line-height: 1.36;
                        letter-spacing: normal;
                        text-align: right;
                        color: #777777;
                        padding-bottom: 2%;">
                      <%= @shipping.try(:zip) %>
                    </td>
                  </tr>
                  <tr>
                    <td style="font-family: 'Open Sans',sans-serif;
                        font-size: 14px;
                        font-weight: normal;
                        font-stretch: normal;
                        font-style: normal;
                        line-height: 1.36;
                        letter-spacing: normal;
                        text-align: left;
                        color: #777777;
                        padding-bottom: 2%;">
                      Country
                    </td>
                    <td style="font-family: 'Open Sans',sans-serif;
                        font-size: 14px;
                        font-weight: normal;
                        font-stretch: normal;
                        font-style: normal;
                        line-height: 1.36;
                        letter-spacing: normal;
                        text-align: right;
                        color: #777777;
                        padding-bottom: 2%;">
                      <%= Address.get_country_name(@shipping.try(:country)) %>
                    </td>
                  </tr>
                </table>
                <table role="presentation" border="0" cellpadding="0" cellspacing="0" width="100%">
                  <tr class="hr">
                    <td style="font-family: 'Open Sans',sans-serif;
                        font-size: 14px;
                        font-weight: bold;
                        font-stretch: normal;
                        font-style: normal;
                        line-height: 1.36;
                        letter-spacing: normal;
                        text-align: left;
                        color: #777777;
                        padding-bottom: 2%">
                      MEMO
                    </td>
                    <td></td>
                  </tr>
                </table>
                <table role="presentation" border="0" cellpadding="0" cellspacing="0" width="100%">
                  <tr style="font-family: 'Open Sans',sans-serif;
                      font-size: 14px;
                      font-weight: normal;
                      font-stretch: normal;
                      font-style: normal;
                      line-height: 1.36;
                      letter-spacing: normal;
                      text-align: left;
                      color: #777777;
                      padding-bottom: 3%;
                      padding-top: 3%">
                    <%= @request.try(:description) %>
                  </tr>
                </table>
              </td>
            </tr>
            <tr>
              <td class="discription_section" style="width: 100%;">
                <table role="presentation" border="0" cellpadding="0" cellspacing="0" width="100%">
                  <tr class="hr">
                    <td class="description_heading">
                      DESCRIPTION
                    </td>
                    <td class="description_qty">
                      QTY
                    </td>
                    <td class="description_qty">
                      PRICE
                    </td>
                    <td class="description_qty">
                      TOTAL
                    </td>
                  </tr>
                  <% @products.each do |p| %>
                    <tr class="hr">
                      <td class="simple_text">
                        <%= p.name %>
                      </td>
                      <td class="simple_text_qty">
                        <%= p.quantity %>
                      </td>
                      <td class="simple_text_qty">
                        $<%= number_with_precision(p.amount, precision: 2) %>
                      </td>
                      <td class="simple_text_qty">
                        $<%= number_with_precision(p.total_amount, precision: 2) %>
                      </td>
                    </tr>
                  <% end %>
                  <tr>
                    <td class="simple_text">
                    </td>
                    <td class="simple_text_qty">

                    </td>
                    <td class="simple_text_qty">
                      Subtotal
                    </td>
                    <td class="simple_text_qty">
                      $<%= number_with_precision(@request.amount, precision: 2) %>
                    </td>
                  </tr>
                  <tr>
                    <td class="simple_text">

                    </td>
                    <td class="simple_text_qty">

                    </td>
                    <td class="simple_text_qty">
                      Discount(<%= @request.discount_method == "dollar" ? "$" : "%" %><%= number_with_precision(@request.discount, precision: 2) %>)
                    </td>
                    <td class="simple_text_qty">
                      $<%= number_with_precision(@request.discount_method == "dollar" ? @request.discount : (@request.discount.to_f / 100) * @request.amount.to_f, precision: 2)  %>
                    </td>
                  </tr>
                  <tr>
                    <td class="simple_text">

                    </td>
                    <td class="simple_text_qty">

                    </td>
                    <td class="simple_text_qty">
                      Tax (<%= number_with_precision(@request.tax, precision: 2) %>%)
                    </td>
                    <td class="simple_text_qty">
<!--                      $<%#= number_with_precision((@request.tax.to_f / 100) * @request.amount.to_f, precision: 2)  %>-->
                      $<%= number_with_precision(@taxes, precision: 2)  %>
                    </td>
                  </tr>
                  <!--                  <tr>-->
                  <!--                    <td class="simple_text">-->

                  <!--                    </td>-->
                  <!--                    <td class="simple_text_qty">-->

                  <!--                    </td>-->
                  <!--                    <td class="simple_text_qty">-->
                  <!--                      Fee (<%#= @request.fee_method == "dollar" ? "$" : "%" %><%= number_with_precision(@request.fee, precision: 2) %>)-->
                  <!--                    </td>-->
                  <!--                    <td class="simple_text_qty">-->
                  <!--                      $<%#= number_with_precision(@request.fee_method == "dollar" ? @request.fee : (@request.fee.to_f / 100) * @request.amount.to_f, precision: 2)  %>-->
                  <!--                    </td>-->
                  <!--                  </tr>-->
                  <tr>
                    <td class="simple_text">

                    </td>
                    <td class="simple_text_qty">

                    </td>
                    <td class="simple_text_qty">
                      Shipping & Handling
                    </td>
                    <td class="simple_text_qty">
                      $<%= number_with_precision(@request.shipping_handling_method == "dollar" ? @request.shipping_handling_fee : (@request.shipping_handling_fee.to_f / 100) * @request.amount.to_f, precision: 2) %>
                    </td>
                  </tr>
                  <tr class="hr">
                    <td class="simple_text">

                    </td>
                    <td class="simple_text_qty">

                    </td>
                    <td class="simple_text_qty">
                      Amount due
                    </td>
                    <td class="simple_text_qty">
                      $<%= number_with_precision(@request.total_amount.to_f, precision: 2)  %>
                    </td>
                  </tr>
                </table>
                <table role="presentation" border="0" cellpadding="0" cellspacing="0" width="100%">
                  <tr>
                    <td
                      style="
                      font-family: 'Open Sans', sans-serif;
                          font-size: 16px;
                          font-weight: 600;
                          font-stretch: normal;
                          font-style: normal;
                          line-height: 1.88;
                          letter-spacing: normal;
                          text-align: center;
                          color: #4c4c4c;
                          margin-top: 1rem !important;
                      "
                    >
                      <p style="display: block; margin: 0; padding: 10px 0;"><%= @request.try(:sender).try(:merchant?) ? @location.business_name : @request.try(:sender).try(:name) %> Contact Info</p>
                    </td>
                  </tr>
                  <tr>
                    <td style="text-align: center; width: 100%; font-family: 'Open Sans', sans-serif; font-size: 16px;">
                      <p
                        style="
                        color: #777777;
                            margin: 0;
                        "
                      >
                        Contact Support
                      </p>
                      <div style="display: inline-block;">
                        <img
                          src="https://quickard.s3-us-west-2.amazonaws.com/phone.png"
                          alt=""
                          style="float: left; width: 26px;"
                          />
                        <strong style="color: #4c4c4c; padding-top: 3px; display: inline-block;"><%= @request.try(:sender).try(:merchant?) ? @location.cs_number : @request.try(:sender).try(:phone_number) %></strong>
                      </div>
                    </td>
                  </tr>
                  <tr>
                    <td style="text-align: center; width: 100%; font-family: 'Open Sans', sans-serif; font-size: 16px;">
                      <p
                        style="
                        color: #777777;
                            margin:14px 0 0 0;
                        "
                      >
                        Email Support
                      </p>
                      <div style="display: inline-block;">
                        <img
                          src="https://quickard.s3-us-west-2.amazonaws.com/email.png"
                          alt=""
                          style="float: left; width: 26px;"
                          />
                        <strong style="color: #4c4c4c; padding-top: 1px; display: inline-block;">
                          <a style="color: #35bab6; font-weight: 600;white-space: nowrap;" href="mailto:<%= @request.try(:sender).try(:merchant?) ? @location.email : @request.try(:sender).try(:email) %>"><%= @request.try(:sender).try(:merchant?) ? @location.email : @request.try(:sender).try(:email) %></a>
                        </strong>
                      </div>
                    </td>
                  </tr>
                </table>
              </td>
            </tr><!-- end: tr -->
          </table>
          <div class="" style="text-align: center; padding: 0 30px;">
            <center>
              <table role="presentation" border="0" cellpadding="0" cellspacing="0" width="100%">
                <tr>
                  <td>
                    <p class="power_by" style="font-family: 'Source Sans Pro',Sans-Serif;
                        font-size: 16px;
                        font-weight: normal;
                        font-stretch: normal;
                        font-style: normal;
                        line-height: 1.88;
                        letter-spacing: normal;
                        text-align: right;
                        color: rgba(0, 0, 0, 0.5);">
                      Powered by
                    </p>
                  </td>
                  <td><%= image_tag "https://quickard.s3-us-west-2.amazonaws.com/QC_new_logo.png", class: '', style: 'margin-left: 2%;margin-top: 4%' %>
                  </td>
                </tr>
              </table>
            </center>
          </div>
        </td>
      </tr><!-- end:tr -->
      <!-- 1 Column Text + Button : END -->
    </table>
  </div>
</center>
</body>
</html>