<!DOCTYPE html>
<html
  lang="en"
  xmlns="http://www.w3.org/1999/xhtml"
  xmlns:v="urn:schemas-microsoft-com:vml"
  xmlns:o="urn:schemas-microsoft-com:office:office"
>
<head>
  <meta charset="utf-8" />
  <!-- utf-8 works for most cases -->
  <meta name="viewport" content="width=device-width" />
  <!-- Forcing initial-scale shouldn't be necessary -->
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <!-- Use the latest (edge) version of IE rendering engine -->
  <meta name="x-apple-disable-message-reformatting" />
  <!-- Disable auto-scale in iOS 10 Mail entirely -->
  <title>Email - Green Box</title>
  <!-- The title tag shows in email notifications, like Android 4.4. -->

  <link
    href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800&display=swap"
    rel="stylesheet"
    />

  <style>
      html,
      body {
          margin: 0 auto !important;
          padding: 0 !important;
          height: 100% !important;
          width: 100% !important;
      }
      * {
          -ms-text-size-adjust: 100%;
          -webkit-text-size-adjust: 100%;
      }
  </style>
</head>

<body
  width="100%"
  style="margin: 0; padding: 0 !important; background-color: #f4f4f4;"
>
<div style="background-color: #f4f4f4; width: 100%;">
  <table
    style="
    width: 100%;
        max-width: 610px;
        margin: 0 auto;
        padding-top: 15px;
        border: 0;
        background-color: #f4f4f4;
        font-family: Arial, Helvetica, sans-serif;
    "
    cellspacing="0"
    cellpadding="0"
  >
    <tr>
      <td>
        <div
          style="
          background-image: url('https://quickcard.s3-us-west-2.amazonaws.com/header_yellow_email_big.png');
              background-repeat: no-repeat;
              text-align: center;
              width: 100%;
              height: 160px;
              max-height: 160px;
          "
        >
          <h1
            style="
            font-size: 30px;
                font-weight: 700;
                color: #4c4c4c;
                font-family: 'Open Sans', sans-serif;
                padding: 58px 0;
                margin: 0;
                text-align: center;
            "
          >
            <%= @merchant.name %>
          </h1>
        </div>
      </td>
    </tr>
    <tr>
      <td style="padding: 15px 15%; text-align: center;">
        <h1
          style="
          font-size: 24px;
              font-weight: bold;
              font-stretch: normal;
              font-style: normal;
              line-height: 1;
              letter-spacing: normal;
              text-align: center;
              color: #4c4c4c;
              font-family: 'Open Sans', sans-serif;
          "
        >
          Hello <%= @user.name %>
        </h1>
        <p
          style="
          font-size: 16px;
              text-align: center;
              color: #4c4c4c !important;
              line-height: 1.38;
              letter-spacing: 0.26px;
              margin: 0;
              font-family: 'Open Sans', sans-serif;
          "
        >
          <span style="color: #4c4c4c !important;">Here is your invoice number </span><br />
          <strong style="color: #4c4c4c !important;"><%= @request.invoice_number %></strong>
        </p>
        <h2
          style="
          font-size: 24px;
              font-weight: bold;
              text-align: center;
              color: #777777;
              font-family: 'Open Sans', sans-serif;
              margin: 24px 0 5px 0;
          "
        >
          $<%= number_with_precision(@request.total_amount, precision: 2) %> USD due <%= @request.due_date.strftime("%b %d, %Y") %>
        </h2>
        <p
          style="
          font-size: 16px;
              color: #777777 !important;
              text-align: center;
              font-family: 'Open Sans', sans-serif;
              margin: 30px 0 20px 0;
          "
        >
          Please click on the desired payment method below
        </p>
        <div class="links" style="display: flex; justify-content: center;">
          <% if @quickcard_url != "#" %>
            <%= link_to @quickcard_url do %>
              <a href="<%= @quickcard_url %>" style="border: 0; display: block; padding-top: 10px; padding-left: 25px;"
              ><img
                src="https://quickcard.s3-us-west-2.amazonaws.com/qc_whitebox_logo.png"
                alt="Play with Quickcard"
                /></a>
            <% end %>
            <% @quickcard_url = "#" %>
          <% elsif @ach_url != "#" %>
            <%= link_to @ach_url do %>
              <a href="<%= @ach_url %>" style="border: 0; display: block; padding-top: 10px; padding-left: 29%;"
              ><img
                src="https://quickcard.s3-us-west-2.amazonaws.com/pay_with_rtp.png"
                alt="Play with RTP"
                /></a>
            <% end %>
            <% @ach_url = "#" %>
          <% else %>
            <%= link_to @card_url do %>
              <a href="<%= @card_url %>" style="border: 0; display: block; padding-top: 10px;">
                <img
                  src="https://quickard.s3-us-west-2.amazonaws.com/credit_debit_whitebox_icon.png"
                  alt="Pay debit or credit"
                  />
              </a>
            <% end %>
            <% @card_url = "#" %>
          <% end %>
          <% if @quickcard_url != "#" %>
            <%= link_to @quickcard_url do %>
              <a href="<%= @quickcard_url %>" style="border: 0; display: block; padding-top: 10px;"
              ><img
                src="https://quickcard.s3-us-west-2.amazonaws.com/qc_whitebox_logo.png"
                alt="Play with Quickcard"
                /></a>
            <% end %>
            <% @quickcard_url = "#" %>
          <% elsif @ach_url != "#" %>
            <%= link_to @ach_url do %>
              <a href="<%= @ach_url %>" style="border: 0; display: block; padding-top: 10px;"
              ><img
                src="https://quickcard.s3-us-west-2.amazonaws.com/pay_with_rtp.png"
                alt="Play with RTP"
                /></a>
            <% end %>
            <% @ach_url = "#" %>
        <% else %>
            <%= link_to @card_url do %>
              <a href="<%= @card_url %>" style="border: 0; display: block; padding-top: 10px;">
                <img
                  src="https://quickard.s3-us-west-2.amazonaws.com/credit_debit_whitebox_icon.png"
                  alt="Pay debit or credit"
                  />
              </a>
            <% end %>
            <% @card_url = "#" %>
          <% end %>
        </div>
      </td>
    </tr>
    <tr>
      <td>
        <img
          style="display: block;"
          src="https://quickcard.s3-us-west-2.amazonaws.com/whitebox_top.png"
          alt=""
          />
      </td>
    </tr>
    <tr>
      <td>
        <table
          cellspacing="0"
          cellpadding="0"
          style="
          background-color: #fff;
              background-image: url('https://quickcard.s3-us-west-2.amazonaws.com/whitebox_middle.png');
              padding: 0 30px;
              border: 0;
              width: 100%;
          "
        >
          <tr
            style="
            font-size: 14px;
                font-family: 'Open Sans', sans-serif;
                color: #777777;
            "
          >
            <td
              colspan="2"
              style="
              border-bottom: 1px solid #e2e2e2;
                  padding-bottom: 5px;
                  font-weight: 700;
                  text-transform: uppercase;
              "
            >
              Customer Info
            </td>
          </tr>
          <tr
            style="
            font-size: 14px;
                font-family: 'Open Sans', sans-serif;
                color: #777777;
            "
          >
            <td style="width: 50%; padding: 5px 0;">Customer Name</td>
            <td style="width: 50%; text-align: right;"><%= @user.try(:name) %></td>
          </tr>
          <tr
            style="
            font-size: 14px;
                font-family: 'Open Sans', sans-serif;
                color: #777777;
            "
          >
            <td style="width: 50%; padding: 5px 0;">Phone #</td>
            <td style="width: 50%; text-align: right;"><%= @user.try(:phone_number) %></td>
          </tr>
          <tr
            style="
            font-size: 14px;
                font-family: 'Open Sans', sans-serif;
                color: #777777;
            "
          >
            <td style="width: 50%; padding: 5px 0;">Email</td>
            <td style="width: 50%; text-align: right;">
              <a href="mailto:customer@email.com" style="color: #35bab6;"
              ><%= @user.try(:email) %></a
              >
            </td>
          </tr>
          <tr
            style="
            font-size: 14px;
                font-family: 'Open Sans', sans-serif;
                color: #777777;
            "
          >
            <td
              colspan="2"
              style="
              border-bottom: 1px solid #e2e2e2;
                  padding-top: 20px;
                  padding-bottom: 5px;
                  font-weight: 700;
                  text-transform: uppercase;
              "
            >
              Billing Info
            </td>
          </tr>
          <tr
            style="
            font-size: 14px;
                font-family: 'Open Sans', sans-serif;
                color: #777777;
            "
          >
            <td style="width: 50%; padding: 5px 0;">Customer Address</td>
            <td style="width: 50%; text-align: right;"><%= @billing.try(:street) %></td>
          </tr>
          <tr
            style="
            font-size: 14px;
                font-family: 'Open Sans', sans-serif;
                color: #777777;
            "
          >
            <td style="width: 50%; padding: 5px 0;">Ste./Apt.#</td>
            <td style="width: 50%; text-align: right;"><%= @billing.try(:suit) %></td>
          </tr>
          <tr
            style="
            font-size: 14px;
                font-family: 'Open Sans', sans-serif;
                color: #777777;
            "
          >
            <td style="width: 50%; padding: 5px 0;">City</td>
            <td style="width: 50%; text-align: right;"> <%= @billing.try(:city) %></td>
          </tr>
          <tr
            style="
            font-size: 14px;
                font-family: 'Open Sans', sans-serif;
                color: #777777;
            "
          >
            <td style="width: 50%; padding: 5px 0;">State</td>
            <td style="width: 50%; text-align: right;"><% b_states = CS.states(@billing.try(:country)).try(:with_indifferent_access) %>
              <%= b_states[@billing.try(:state)] %></td>
          </tr>
          <tr
            style="
            font-size: 14px;
                font-family: 'Open Sans', sans-serif;
                color: #777777;
            "
          >
            <td style="width: 50%; padding: 5px 0;">Zip Code</td>
            <td style="width: 50%; text-align: right;"> <%= @billing.try(:zip) %></td>
          </tr>
          <tr
            style="
            font-size: 14px;
                font-family: 'Open Sans', sans-serif;
                color: #777777;
            "
          >
            <td style="width: 50%; padding: 5px 0;">Country</td>
            <td style="width: 50%; text-align: right;">
              <%= Address.get_country_name(@billing.try(:country)) %>
            </td>
          </tr>

          <tr
            style="
            font-size: 14px;
                font-family: 'Open Sans', sans-serif;
                color: #777777;
            "
          >
            <td
              colspan="2"
              style="
              border-bottom: 1px solid #e2e2e2;
                  padding-top: 20px;
                  padding-bottom: 5px;
                  font-weight: 700;
                  text-transform: uppercase;
              "
            >
              Shipping Info
            </td>
          </tr>
          <tr
            style="
            font-size: 14px;
                font-family: 'Open Sans', sans-serif;
                color: #777777;
            "
          >
            <td style="width: 50%; padding: 5px 0;">Customer Address</td>
            <td style="width: 50%; text-align: right;">  <%= @shipping.try(:street) %></td>
          </tr>
          <tr
            style="
            font-size: 14px;
                font-family: 'Open Sans', sans-serif;
                color: #777777;
            "
          >
            <td style="width: 50%; padding: 5px 0;">Ste./Apt.#</td>
            <td style="width: 50%; text-align: right;"> <%= @shipping.try(:suit) %></td>
          </tr>
          <tr
            style="
            font-size: 14px;
                font-family: 'Open Sans', sans-serif;
                color: #777777;
            "
          >
            <td style="width: 50%; padding: 5px 0;">City</td>
            <td style="width: 50%; text-align: right;"><%= @shipping.try(:city) %></td>
          </tr>
          <tr
            style="
            font-size: 14px;
                font-family: 'Open Sans', sans-serif;
                color: #777777;
            "
          >
            <td style="width: 50%; padding: 5px 0;">State</td>
            <td style="width: 50%; text-align: right;"><% s_states = CS.states(@shipping.try(:country)).try(:with_indifferent_access) %>
              <%= s_states[@shipping.try(:state)] %></td>
          </tr>
          <tr
            style="
            font-size: 14px;
                font-family: 'Open Sans', sans-serif;
                color: #777777;
            "
          >
            <td style="width: 50%; padding: 5px 0;">Zip Code</td>
            <td style="width: 50%; text-align: right;"> <%= @shipping.try(:zip) %></td>
          </tr>
          <tr
            style="
            font-size: 14px;
                font-family: 'Open Sans', sans-serif;
                color: #777777;
            "
          >
            <td style="width: 50%; padding: 5px 0;">Country</td>
            <td style="width: 50%; text-align: right;">
              <%= Address.get_country_name(@shipping.try(:country)) %>
            </td>
          </tr>

          <tr
            style="
            font-size: 14px;
                font-family: 'Open Sans', sans-serif;
                color: #777777;
            "
          >
            <td
              colspan="2"
              style="
              border-bottom: 1px solid #e2e2e2;
                  padding-bottom: 5px;
                  font-weight: 700;
                  text-transform: uppercase;
                  padding-top: 20px;
              "
            >
              MEMO
            </td>
          </tr>
          <tr
            style="
            font-size: 14px;
                font-family: 'Open Sans', sans-serif;
                color: #777777;
            "
          >
            <td colspan="2" style="padding: 5px 0;"> <%= @request.try(:description) %></td>
          </tr>

          <tr>
            <td colspan="2" style="padding-top: 20px;">
              <table
                cellspacing="0"
                cellpadding="0"
                style="border: 0; width: 100%;"
              >
                <thead>
                <tr
                  style="
                  font-size: 14px;
                      color: #777777;
                      text-align: left;
                      font-weight: 700;
                  "
                >
                  <th
                    style="
                    border-bottom: 1px solid #e2e2e2;
                        padding-bottom: 5px;
                    "
                  >
                    DESCRIPTION
                  </th>
                  <th
                    style="
                    border-bottom: 1px solid #e2e2e2;
                        padding-bottom: 5px;
                    "
                  >
                    QTY
                  </th>
                  <th
                    style="
                    border-bottom: 1px solid #e2e2e2;
                        padding-bottom: 5px;
                        text-align: right;
                    "
                  >
                    PRICE
                  </th>
                  <th
                    style="
                    border-bottom: 1px solid #e2e2e2;
                        padding-bottom: 5px;
                        text-align: right;
                    "
                  >
                    TOTAL
                  </th>
                </tr>
                </thead>
                <% @products.each do |p| %>
                  <tr
                    style="
                    font-size: 14px;
                        font-family: 'Open Sans', sans-serif;
                        color: #777777;
                    "
                  >
                    <td
                      style="
                      padding: 14px 1px;
                          border-bottom: 1px solid #e2e2e2;
                      "
                    >
                      <%= p.name %>
                    </td>
                    <td
                      style="
                      padding: 14px 1px;
                          border-bottom: 1px solid #e2e2e2;
                      "
                    >
                      <%= p.quantity %>
                    </td>
                    <td
                      style="
                      text-align: right;
                          border-bottom: 1px solid #e2e2e2;
                      "
                    >
                      $<%= number_with_precision(p.amount, precision: 2) %>
                    </td>
                    <td
                      style="
                      text-align: right;
                          border-bottom: 1px solid #e2e2e2;
                      "
                    >
                      $<%= number_with_precision(p.total_amount, precision: 2) %>
                    </td>
                  </tr>
                <% end %>
                <tr
                  style="
                  font-size: 14px;
                      font-family: 'Open Sans', sans-serif;
                      color: #777777;
                  "
                >
                  <td colspan="2" style="padding: 5px 1px;">
                    <a href="<%= @download_url %>" target="_blank"
                    ><img
                      src="https://quickcard.s3-us-west-2.amazonaws.com/bt_dowload_pdf.png"
                      alt="Download Pdf"
                      /></a>
                  </td>
                  <td style="text-align: right;">
                    Subtotal
                  </td>
                  <td style="text-align: right;">$<%= number_with_precision(@request.amount, precision: 2) %></td>
                </tr>
                <tr
                  style="
                  font-size: 14px;
                      font-family: 'Open Sans', sans-serif;
                      color: #777777;
                  "
                >
                  <td colspan="2"></td>
                  <td style="text-align: right; padding: 0px 1px;">
                    Shipping & Handling
                  </td>
                  <td style="text-align: right;">$<%= number_with_precision(@request.shipping_handling_method == "dollar" ? @request.shipping_handling_fee : (@request.shipping_handling_fee.to_f / 100) * @request.amount.to_f, precision: 2) %>
                  </td>
                </tr>
                <tr
                  style="
                  font-size: 14px;
                      font-family: 'Open Sans', sans-serif;
                      color: #777777;
                  "
                >
                  <td colspan="2"></td>
                  <td
                    style="text-align: right; padding: 14px 1px 10px 1px;"
                  >
                    Discount(<%= @request.discount_method == "dollar" ? "$" : "%" %><%= number_with_precision(@request.discount, precision: 2) %>)
                  </td>
                  <td style="text-align: right;">$<%= number_with_precision(@request.discount_method == "dollar" ? @request.discount : (@request.discount.to_f / 100) * @request.amount.to_f, precision: 2)  %>
                    0</td>
                </tr>
                <tr
                  style="
                  font-size: 14px;
                      font-family: 'Open Sans', sans-serif;
                      color: #777777;
                  "
                >
                  <td colspan="2"></td>
                  <td style="text-align: right; padding: 6px 1px;">
                    Tax (%<%= number_with_precision(@request.tax, precision: 2) %>)
                  </td>
                  <td style="text-align: right;"> $<%= number_with_precision((@request.tax.to_f / 100) * @request.amount.to_f, precision: 2)  %></td>
                </tr>
                <tr
                  style="
                  font-size: 14px;
                      font-family: 'Open Sans', sans-serif;
                      color: #777777;
                  "
                >
                  <td colspan="2"></td>
                  <td style="text-align: right; padding: 6px 1px;">
                    Total Amount
                  </td>
                  <td style="text-align: right; font-weight: 700;">
                    $<%= number_with_precision(@request.total_amount.to_f, precision: 2)  %>
                  </td>
                </tr>
              </table>
            </td>
          </tr>
          <tr>
            <td colspan="2">
              <hr style="border: 0; border-bottom: solid 1px #e2e2e2;" />
            </td>
          </tr>
          <% business_name =  @location.present? ? @location.business_name : @merchant.name %>
          <% email = @location.present? ? @location.email : @merchant.email %>
          <% phone_number = @location.present? ? @location.phone_number : @merchant.phone_number %>
          <tr>
            <td
              colspan="2"
              style="
              font-family: 'Open Sans', sans-serif;
                  font-size: 16px;
                  font-weight: 600;
                  font-stretch: normal;
                  font-style: normal;
                  line-height: 1.88;
                  letter-spacing: normal;
                  text-align: center;
                  color: #4c4c4c;
                  margin-top: 1rem !important;
              "
            >
              <p style="display: block; margin: 0; padding: 10px 0;">
                <%= business_name %> Contact Info
              </p>
            </td>
          </tr>
          <tr>
            <td
              colspan="2"
              style="
              text-align: center;
                  width: 100%;
                  font-family: 'Open Sans', sans-serif;
                  font-size: 16px;
              "
            >
              <p style="color: #777777; margin: 0;">
                Contact Support
              </p>
              <div style="display: inline-block;">
                <img
                  src="https://quickard.s3-us-west-2.amazonaws.com/phone.png"
                  alt=""
                  style="float: left; width: 26px;"
                  />
                <strong
                  style="
                  color: #4c4c4c;
                      padding-top: 3px;
                      display: inline-block;
                  "
                ><%= phone_number %></strong
                >
              </div>
            </td>
          </tr>
          <tr>
            <td
              colspan="2"
              style="
              text-align: center;
                  width: 100%;
                  font-family: 'Open Sans', sans-serif;
                  font-size: 16px;
              "
            >
              <p style="color: #777777; margin: 14px 0 0 0;">
                Email Support
              </p>
              <div style="display: inline-block;">
                <img
                  src="https://quickard.s3-us-west-2.amazonaws.com/email.png"
                  alt=""
                  style="float: left; width: 26px;"
                  />
                <strong
                  style="
                  color: #4c4c4c;
                      padding-top: 1px;
                      display: inline-block;
                  "
                >
                  <a
                    style="
                    color: #35bab6;
                        font-weight: 600;
                        white-space: nowrap;
                    "
                    href="<%= email %>"
                  ><%= email %></a
                  >
                </strong>
              </div>
            </td>
          </tr>
        </table>
      </td>
    </tr>
    <tr>
      <td>
        <img
          src="https://quickcard.s3-us-west-2.amazonaws.com/whitebox_bottom.png"
          alt=""
          />
      </td>
    </tr>
    <tr>
      <td style="padding: 0px 0; text-align: center;">
        <img
          src="https://quickcard.s3-us-west-2.amazonaws.com/powered.png"
          alt="Powered by GreenBox"
          />
      </td>
    </tr>
    <tr>
      <td style="padding: 0 30px 10px 30px;">
        <p
          style="
          font-family: 'Open Sans', sans-serif;
              font-size: 12px;
              font-weight: normal;
              font-stretch: normal;
              font-style: normal;
              color: #4c4c4c;
              margin: 0;
          "
        >
          The contents of this message, together with any attachments, are
          intended only for the use of the individual(s) or entity to which
          they are addressed and may contain information that is
          confidential or proprietary. If you are not the intended
          recipient, you are hereby notified that any dissemination,
          distribution, or copying of this message, or any attachment, is
          strictly prohibited. If you have received this message in error,
          please advise the sender by return email and delete this message,
          along with any attachments, from your computer. Thank you.
        </p>
      </td>
    </tr>
    <tr style="height: 20px;">
      <td></td>
    </tr>
  </table>
</div>
</body>
</html>