<!DOCTYPE html>
<html>
<head>
  <title>Email - Green Box</title>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1" name="viewport" />

  <style type="text/css">
    body{
      background-color: #fff;
      margin: 0; padding: 0;
    }
    .bg-gray{
      background-color: #fff !important;
    }
    section{
      background-color: #fff;
    }
    #email-template{
      font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
      color: #3c3c3c;
      font-size: 1rem;
      font-weight: normal;
    }
    #email-template .main-heading{
      color: #333 !important;
      font-size: 1.5rem !important;
      font-weight: bold;

    }
    #email-template .green-text{
      color: #01642d !important;
    }
    #email-template .submain-heading{
      color: #3c3c3c;
      font-size: 1rem;
      font-weight: normal;
      font-style: italic;
    }
    #email-template .mt-nav-1{
      margin-top: -1rem;
    }
    #email-template .mb-nav-0{
      margin-bottom: 0rem;
      line-height: 1.74rem;
    }
    #email-template header{
      height: 200px;
    }
    .overflow-hidden{
      overflow: hidden !important;
    }
    #pentagon {
      width: 30%;
      box-sizing: content-box;
      border-width: 200px 30px 0px 0px;
      border-style: solid;
      border-color: #004b21 transparent;
      margin-left: -3%;
      float: left;
    }
    #pentagon-right {
      width: 90%;
      box-sizing: content-box;
      border-width: 0px 0px 180px 30px;
      border-style: solid;
      border-color: #01642d transparent;
      margin-right: -3%;
      float: right;
      /*position: absolute;*/
      margin-left: -100%;
    }
    .header-heading{
      color: #fff !important;
      font-weight: normal !important;
      font-size: 1.8rem !important;
      /*position: absolute;*/
      /*margin-top: -12rem;*/
      background-image: url(http://54.185.13.30/qcdesign/img/email_header_bg.png);
      background-repeat: no-repeat;
      background-size: cover;
      padding-bottom: 7%;
    }
    .heading-font{
      color: #fff !important;
      font-weight: normal !important;
      font-size: 1.8rem !important;
    }
    .heading-font-head{
      color: #fff !important;
      font-weight: normal !important;
      font-size: 2.0rem !important;
    }
    .mt-25{
      margin-top: 3.5rem;
    }
    .align-right{
      text-align: right !important;
    }
    .margin-left-15{
      margin-left: 15% !important;
    }
    .padding-right-15{
      padding-right: 2% !important;
    }
    .padding-top-2{
      padding-top: 2% !important;
    }
    .padding-left-15{
      padding-left: 10% !important;
    }
    .padding-top-15{
      padding-top: 15% !important;
    }
    .padding-top-15{
      padding-top: 1% !important;
    }
    .padding-bottom-15{
      padding-bottom: 1% !important;
    }
    .padding-top-10{
      padding-top: 5% !important;
    }
    .bottom-logo{
      font-size: 1.7rem !important;
      text-decoration: underline !important;
      font-weight: bolder !important;
    }
    @media (max-width: 850px) {
      .padding-left-15{
        padding-left: 15% !important;
      }
    }
    @media (max-width: 767px) {
      #pentagon-right {
        margin-right: -5% !important;
      }
      .heading-font {
        font-size: 1.5rem !important;
      }
      .heading-font-head {
        font-size: 1.7rem !important;
      }
      .padding-left-15 {
        padding-left: 28% !important;
      }
    }
    @media (max-width: 738px){
      .padding-left-15 {
        padding-left: 17% !important;
      }
    }
    @media (max-width: 731px) {
      .padding-left-15{
        padding-left: 15% !important;
      }
      .heading-font {
        font-size: 1.5rem !important;
      }
      .heading-font-head {
        font-size: 1.7rem !important;
      }
    }

    @media (max-width: 650px) {
      #pentagon-right {
        margin-right: -5% !important;
      }
      .heading-font {
        font-size: 1.2rem !important;
      }
      .heading-font-head {
        font-size: 1.4rem !important;
      }
      .padding-left-15 {
        padding-left: 18% !important;
      }
    }

    @media (max-width: 600px) {
      #pentagon-right {
        margin-right: -5% !important;
      }
      .heading-font {
        font-size: 1.2rem !important;
      }
      .heading-font-head {
        font-size: 1.4rem !important;
      }
      .padding-left-15 {
        padding-left: 29% !important;
      }
    }

    @media (max-width: 568px){
      .padding-left-15 {
        padding-left: 20% !important;
      }
      .heading-font {
        font-size: 0.8rem !important;
      }
      .heading-font-head {
        font-size: 1.0rem !important;
      }
    }
    @media (max-width: 420px){
      .padding-left-15 {
        padding-left: 28% !important;
      }
    }
    @media (max-width: 380px){
      .padding-left-15 {
        padding-left: 30% !important;
      }
    }
    @media (max-width: 368px){
      .padding-left-15 {
        padding-left: 35% !important;
      }
    }
    tr.border_bottom td {
      border-bottom:1px solid darkgray;
    }
    #main_bar{
      color: grey;
    }
    #main_value{
      color: green;
      font-size: 30px;
      font-weight: 600;
      margin: 0px;
      padding: 0px;
    }

  </style>
</head>
<body id="email-template">
<div class="container" style="margin: 20px 10%">
  <table border="0" cellpadding="0" cellspacing="0" width="100%">
    <tr>
      <td>
        <div style="background-image: url(http://54.185.13.30/qcdesign/img/email_header_bg_px.png) !important; background-repeat:repeat-x;">
          <div style="background-image: url(http://54.185.13.30/qcdesign/img/email_header_bg_sub.png) !important; background-repeat: no-repeat;">
            <div class="w-100 align-left heading-font padding-left-15 padding-top-2 padding-bottom-15"></div>
          </div>
        </div>
        <div email_header_bg_bottom_shadow.png style="background-image: url(http://54.185.13.30/qcdesign/img/email_header_bg_bottom_shadow.png) !important; background-repeat:repeat-x;">
          <div style="background-image: url(http://54.185.13.30/qcdesign/img/email_header_bg_bottom.png) !important; height: 23px;background-repeat: no-repeat;"></div>
        </div>
      </td>
    </tr>
    <tr>
      <td style="padding-left: 15px; padding-right: 15px;">
        <div class="col-lg-12" style="color: black !important;">
          <div class="col-lg-12" style="padding: 20px">
            <div class="col-lg-12" style="padding: 10px; text-align: center">
              <h2 style="color: orangered"></h2>
            </div>
            <div class="col-lg-12" style="margin-top: 20px;margin-bottom: 40px; font-size: 20px;">
              <p class="text-center" style="font-size: 20px">Dear <%= @user_name %></p>

            </div>
            <p></p>
            <hr>
            <p></p>

            <div class="col-lg-12" style="margin-top: 30px">
              <p style="margin-top: -10px; font-size: 20px">You are receiving this email because you used our Z-Cart payment platform for an order placed with <%= @web_site %> for Order ID <%= @order_id %>.</p>
              <p style="margin-top: -10px; font-size: 20px">Unfortunately, your order has not yet shipped which may impact an on time delivery to its final destination.  We have contacted the merchant and requested they expedite shipment processing of your order and provide an update on the expected delivery date if different than original date.</p>
              <p style="margin-top: -10px; font-size: 20px">You can click on the “My Portal” button below to view, manage, and track your order.  This portal will also allow you to open a support ticket chat and communicate directly with the merchant with any questions or concerns regarding your order.  </p>
              <p style="margin-top: -10px; font-size: 20px"><%= link_to "My Portal",new_user_session_url(role: "customer") %></p>
              <p style="margin-top: -10px; font-size: 20px">We will closely monitor the status of your order and do everything possible to ensure the merchant fulfills your order ASAP.  Should the order not arrive by the promised delivery date, you have the option to cancel the order for a full refund by accessing your account in “My Portal”.</p>
              <p style="margin-top: -10px; font-size: 20px">For your convenience, below is the merchant contact info:</p>
              <p style="margin-top: -10px; font-size: 20px">Merchant: <%= @web_site %></p>
              <p style="margin-top: -10px; font-size: 20px">Phone No: <%= @support_number %></p>
              <p style="margin-top: -10px; font-size: 20px">Email: <%= @email %></p>
              <p style="margin-top: -10px; font-size: 20px">Your Z-Cart Support Team </p>

            </div>
            <div class="col-lg-12" style="margin-top: 20px;margin-bottom: 20px; background: #F6F7F8; border-radius: 15px;padding: 25px; font-size: 10px;">
              Your Satisfaction is our top priority.We are available to assist you Mon - Fri from 9 am till 5 pm (PST).
              Call: [<%= @support_number %> or Email: <%= @email %>]
            </div>

          </div>
        </div>
        <div class="col-lg-2 bg-gray"></div>
        <div class="col-md-12">
          <h5 style="text-align: center;color: orangered;margin-top: 50px;">
            <!--Powerder by Greenbox-->
          </h5>
        </div>
      </td>
    </tr>
  </table>
</div>
</body>
</html>