<!--<!DOCTYPE html>-->
<!--<html>-->
<!--<head>-->
<!--  <title>Email - Green Box</title>-->
<!--  <meta charset="utf-8">-->
<!--  <meta content="width=device-width, initial-scale=1" name="viewport" />-->

<!--  <style type="text/css">-->
<!--    body{-->
<!--      background-color: #fff;-->
<!--      margin: 0; padding: 0;-->
<!--    }-->
<!--    .bg-gray{-->
<!--      background-color: #fff !important;-->
<!--    }-->
<!--    section{-->
<!--      background-color: #fff;-->
<!--    }-->
<!--    #email-template{-->
<!--      font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";-->
<!--      color: #3c3c3c;-->
<!--      font-size: 1rem;-->
<!--      font-weight: normal;-->
<!--    }-->
<!--    #email-template .main-heading{-->
<!--      color: #333 !important;-->
<!--      font-size: 1.5rem !important;-->
<!--      font-weight: bold;-->

<!--    }-->
<!--    #email-template .green-text{-->
<!--      color: #01642d !important;-->
<!--    }-->
<!--    #email-template .submain-heading{-->
<!--      color: #3c3c3c;-->
<!--      font-size: 1rem;-->
<!--      font-weight: normal;-->
<!--      font-style: italic;-->
<!--    }-->
<!--    #email-template .mt-nav-1{-->
<!--      margin-top: -1rem;-->
<!--    }-->
<!--    #email-template .mb-nav-0{-->
<!--      margin-bottom: 0rem;-->
<!--      line-height: 1.74rem;-->
<!--    }-->
<!--    #email-template header{-->
<!--      height: 200px;-->
<!--    }-->
<!--    .overflow-hidden{-->
<!--      overflow: hidden !important;-->
<!--    }-->
<!--    #pentagon {-->
<!--      width: 30%;-->
<!--      box-sizing: content-box;-->
<!--      border-width: 200px 30px 0px 0px;-->
<!--      border-style: solid;-->
<!--      border-color: #004b21 transparent;-->
<!--      margin-left: -3%;-->
<!--      float: left;-->
<!--    }-->
<!--    #pentagon-right {-->
<!--      width: 90%;-->
<!--      box-sizing: content-box;-->
<!--      border-width: 0px 0px 180px 30px;-->
<!--      border-style: solid;-->
<!--      border-color: #01642d transparent;-->
<!--      margin-right: -3%;-->
<!--      float: right;-->
<!--      /*position: absolute;*/-->
<!--      margin-left: -100%;-->
<!--    }-->
<!--    .header-heading{-->
<!--      color: #fff !important;-->
<!--      font-weight: normal !important;-->
<!--      font-size: 1.8rem !important;-->
<!--      /*position: absolute;*/-->
<!--      /*margin-top: -12rem;*/-->
<!--      background-image: url(http://54.185.13.30/qcdesign/img/email_header_bg.png);-->
<!--      background-repeat: no-repeat;-->
<!--      background-size: cover;-->
<!--      padding-bottom: 7%;-->
<!--    }-->
<!--    .heading-font{-->
<!--      color: #fff !important;-->
<!--      font-weight: normal !important;-->
<!--      font-size: 1.8rem !important;-->
<!--    }-->
<!--    .heading-font-head{-->
<!--      color: #fff !important;-->
<!--      font-weight: normal !important;-->
<!--      font-size: 2.0rem !important;-->
<!--    }-->
<!--    .mt-25{-->
<!--      margin-top: 3.5rem;-->
<!--    }-->
<!--    .align-right{-->
<!--      text-align: right !important;-->
<!--    }-->
<!--    .margin-left-15{-->
<!--      margin-left: 15% !important;-->
<!--    }-->
<!--    .padding-right-15{-->
<!--      padding-right: 2% !important;-->
<!--    }-->
<!--    .padding-top-2{-->
<!--      padding-top: 2% !important;-->
<!--    }-->
<!--    .padding-left-15{-->
<!--      padding-left: 10% !important;-->
<!--    }-->
<!--    .padding-top-15{-->
<!--      padding-top: 15% !important;-->
<!--    }-->
<!--    .padding-top-15{-->
<!--      padding-top: 1% !important;-->
<!--    }-->
<!--    .padding-bottom-15{-->
<!--      padding-bottom: 1% !important;-->
<!--    }-->
<!--    .padding-top-10{-->
<!--      padding-top: 5% !important;-->
<!--    }-->
<!--    .bottom-logo{-->
<!--      font-size: 1.7rem !important;-->
<!--      text-decoration: underline !important;-->
<!--      font-weight: bolder !important;-->
<!--    }-->
<!--    @media (max-width: 850px) {-->
<!--      .padding-left-15{-->
<!--        padding-left: 15% !important;-->
<!--      }-->
<!--    }-->
<!--    @media (max-width: 767px) {-->
<!--      #pentagon-right {-->
<!--        margin-right: -5% !important;-->
<!--      }-->
<!--      .heading-font {-->
<!--        font-size: 1.5rem !important;-->
<!--      }-->
<!--      .heading-font-head {-->
<!--        font-size: 1.7rem !important;-->
<!--      }-->
<!--      .padding-left-15 {-->
<!--        padding-left: 28% !important;-->
<!--      }-->
<!--    }-->
<!--    @media (max-width: 738px){-->
<!--      .padding-left-15 {-->
<!--        padding-left: 17% !important;-->
<!--      }-->
<!--    }-->
<!--    @media (max-width: 731px) {-->
<!--      .padding-left-15{-->
<!--        padding-left: 15% !important;-->
<!--      }-->
<!--      .heading-font {-->
<!--        font-size: 1.5rem !important;-->
<!--      }-->
<!--      .heading-font-head {-->
<!--        font-size: 1.7rem !important;-->
<!--      }-->
<!--    }-->

<!--    @media (max-width: 650px) {-->
<!--      #pentagon-right {-->
<!--        margin-right: -5% !important;-->
<!--      }-->
<!--      .heading-font {-->
<!--        font-size: 1.2rem !important;-->
<!--      }-->
<!--      .heading-font-head {-->
<!--        font-size: 1.4rem !important;-->
<!--      }-->
<!--      .padding-left-15 {-->
<!--        padding-left: 18% !important;-->
<!--      }-->
<!--    }-->

<!--    @media (max-width: 600px) {-->
<!--      #pentagon-right {-->
<!--        margin-right: -5% !important;-->
<!--      }-->
<!--      .heading-font {-->
<!--        font-size: 1.2rem !important;-->
<!--      }-->
<!--      .heading-font-head {-->
<!--        font-size: 1.4rem !important;-->
<!--      }-->
<!--      .padding-left-15 {-->
<!--        padding-left: 29% !important;-->
<!--      }-->
<!--    }-->

<!--    @media (max-width: 568px){-->
<!--      .padding-left-15 {-->
<!--        padding-left: 20% !important;-->
<!--      }-->
<!--      .heading-font {-->
<!--        font-size: 0.8rem !important;-->
<!--      }-->
<!--      .heading-font-head {-->
<!--        font-size: 1.0rem !important;-->
<!--      }-->
<!--    }-->
<!--    @media (max-width: 420px){-->
<!--      .padding-left-15 {-->
<!--        padding-left: 28% !important;-->
<!--      }-->
<!--    }-->
<!--    @media (max-width: 380px){-->
<!--      .padding-left-15 {-->
<!--        padding-left: 30% !important;-->
<!--      }-->
<!--    }-->
<!--    @media (max-width: 368px){-->
<!--      .padding-left-15 {-->
<!--        padding-left: 35% !important;-->
<!--      }-->
<!--    }-->
<!--    tr.border_bottom td {-->
<!--      border-bottom:1px solid darkgray;-->
<!--    }-->
<!--    #main_bar{-->
<!--      color: grey;-->
<!--    }-->
<!--    #main_value{-->
<!--      color: green;-->
<!--      font-size: 30px;-->
<!--      font-weight: 600;-->
<!--      margin: 0px;-->
<!--      padding: 0px;-->
<!--    }-->

<!--  </style>-->
<!--</head>-->
<!--<body id="email-template">-->
<!--<div class="container" style="margin: 20px 10%">-->
<!--  <table border="0" cellpadding="0" cellspacing="0" width="100%">-->
<!--    <tr>-->
<!--      <td>-->
<!--        <div style="background-image: url(http://54.185.13.30/qcdesign/img/email_header_bg_px.png) !important; background-repeat:repeat-x;">-->
<!--          <div style="background-image: url(http://54.185.13.30/qcdesign/img/email_header_bg_sub.png) !important; background-repeat: no-repeat;">-->
<!--            <div class="w-100 align-left heading-font padding-left-15 padding-top-2 padding-bottom-15"></div>-->
<!--          </div>-->
<!--        </div>-->
<!--        <div email_header_bg_bottom_shadow.png style="background-image: url(http://54.185.13.30/qcdesign/img/email_header_bg_bottom_shadow.png) !important; background-repeat:repeat-x;">-->
<!--          <div style="background-image: url(http://54.185.13.30/qcdesign/img/email_header_bg_bottom.png) !important; height: 23px;background-repeat: no-repeat;"></div>-->
<!--        </div>-->
<!--      </td>-->
<!--    </tr>-->
<!--    <tr>-->
<!--      <td style="padding-left: 15px; padding-right: 15px;">-->
<!--        <div class="col-lg-12" style="color: black !important;">-->
<!--          <div class="col-lg-12" style="padding: 20px">-->
<!--            <div class="col-lg-12" style="padding: 10px; text-align: center">-->
<!--              <h2 style="color: orangered"></h2>-->
<!--            </div>-->
<!--            <div class="col-lg-12" style="margin-top: 20px;margin-bottom: 40px; font-size: 20px;">-->
<!--              <p class="text-center" style="font-size: 20px">Dear <%#= @merchant_name %>,</p>-->

<!--            </div>-->
<!--            <p></p>-->
<!--            <hr>-->
<!--            <p></p>-->

<!--            <div class="col-lg-12" style="margin-top: 30px">-->
<!--              <p style="margin-top: -10px; font-size: 20px"><u>This below refund request requires your immediate attention:</u></p>-->
<!--              <hr>-->
<!--              <p style="margin-top: -10px; font-size: 20px">Case ID: <%#= @dispute.id %></p>-->
<!--              <p style="margin-top: -10px; font-size: 20px">Customer Name: <%#= @customer_name %></p>-->
<!--              <p style="margin-top: -10px; font-size: 20px">Refund Amount: <%#= @refund_amount %></p>-->
<!--              <p style="margin-top: -10px; font-size: 20px">Order Date: <%#= "#{@order_date.strftime("%d/%m/%Y at %I:%M%p")}"%></p>-->
<!--              <p style="margin-top: -10px; font-size: 20px">Reason: <%#= @reason %></p>-->

<!--              <p style="margin-top: -10px; font-size: 20px">Click <a href="<%#= @url %>">here</a> to log in to your merchant portal to take action on this customer refund request.  Please note you have (5) days from the date of this email notice to respond to this refund request.</p>-->
<!--              <p style="margin-top: -10px; font-size: 20px">If you fail to respond to this request within (5) days, a full refund of the requested amount will automatically be issued back to the customer.</p>-->
              <!--              <p class="text-center"><%#= link_to "My Portal" %></p>-->
<!--              <p style="margin-top: -10px; font-size: 20px;">Thank you for your prompt attention to this request. </p>-->
<!--              <p style="margin-top: -10px; font-size: 20px;">Sincerely,</p>-->
<!--              <p style="margin-top: -10px; font-size: 20px;">QuickCard Support</p>-->
<!--            </div>-->
<!--            <div class="col-lg-12" style="margin-top: 20px;margin-bottom: 20px; background: #F6F7F8; border-radius: 15px;padding: 25px; font-size: 10px;">-->
<!--              Your satisfaction is a top priority.We are available to assist you Mon - Fri from 9 am till 5 pm (PST).-->
<!--              Call: (619) 631-4838 or Email: <a href="support@greenboxpos.com" style="color: blue;">support@greenboxpos.com</a>-->
<!--            </div>-->

<!--          </div>-->
<!--        </div>-->
<!--        <div class="col-lg-2 bg-gray"></div>-->
<!--        <div class="col-md-12">-->
<!--          <h5 style="text-align: center;color: orangered;margin-top: 50px;">-->
            <!--Powerder by Greenbox-->
<!--          </h5>-->
<!--        </div>-->
<!--      </td>-->
<!--    </tr>-->
<!--  </table>-->
<!--</div>-->
<!--</body>-->
<!--</html>-->



<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:v="urn:schemas-microsoft-com:vml" xmlns:o="urn:schemas-microsoft-com:office:office">
<head>
  <meta charset="utf-8"> <!-- utf-8 works for most cases -->
  <meta name="viewport" content="width=device-width"> <!-- Forcing initial-scale shouldn't be necessary -->
  <meta http-equiv="X-UA-Compatible" content="IE=edge"> <!-- Use the latest (edge) version of IE rendering engine -->
  <meta name="x-apple-disable-message-reformatting">  <!-- Disable auto-scale in iOS 10 Mail entirely -->
  <title>Email - Green Box</title> <!-- The title tag shows in email notifications, like Android 4.4. -->

  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800&display=swap" rel="stylesheet">

  <!-- CSS Reset : BEGIN -->
  <style>
    html,
    body {
      margin: 0 auto !important;
      padding: 0 !important;
      height: 100% !important;
      width: 100% !important;
      background: #f1f1f1;
    }

    /* What it does: Stops email clients resizing small text. */
    * {
      -ms-text-size-adjust: 100%;
      -webkit-text-size-adjust: 100%;
    }

    /* What it does: Centers email on Android 4.4 */
    div[style*="margin: 16px 0"] {
      margin: 0 !important;
    }

    /* What it does: Stops Outlook from adding extra spacing to tables. */
    table,
    td {
      mso-table-lspace: 0pt !important;
      mso-table-rspace: 0pt !important;
    }

    /* What it does: Fixes webkit padding issue. */
    table {
      border-spacing: 0 !important;
      border-collapse: collapse !important;
      table-layout: fixed !important;
      margin: 0 auto !important;
    }

    /* What it does: Uses a better rendering method when resizing images in IE. */
    img {
      -ms-interpolation-mode:bicubic;
    }

    /* What it does: Prevents Windows 10 Mail from underlining links despite inline CSS. Styles for underlined links should be inline. */
    a {
      text-decoration: none;
    }

    /* What it does: A work-around for email clients meddling in triggered links. */
    *[x-apple-data-detectors],  /* iOS */
    .unstyle-auto-detected-links *,
    .aBn {
      border-bottom: 0 !important;
      cursor: default !important;
      color: inherit !important;
      text-decoration: none !important;
      font-size: inherit !important;
      font-family: inherit !important;
      font-weight: inherit !important;
      line-height: inherit !important;
    }

    /* What it does: Prevents Gmail from displaying a download button on large, non-linked images. */
    .a6S {
      display: none !important;
      opacity: 0.01 !important;
    }

    /* What it does: Prevents Gmail from changing the text color in conversation threads. */
    .im {
      color: inherit !important;
    }

    /* If the above doesn't work, add a .g-img class to any image in question. */
    img.g-img + div {
      display: none !important;
    }

    /* What it does: Removes right gutter in Gmail iOS app: https://github.com/TedGoas/Cerberus/issues/89  */
    /* Create one of these media queries for each additional viewport size you'd like to fix */

    /* iPhone 4, 4S, 5, 5S, 5C, and 5SE */
    @media only screen and (min-device-width: 320px) and (max-device-width: 374px) {
      u ~ div .email-container {
        min-width: 320px !important;
      }
    }
    /* iPhone 6, 6S, 7, 8, and X */
    @media only screen and (min-device-width: 375px) and (max-device-width: 413px) {
      u ~ div .email-container {
        min-width: 375px !important;
      }
    }
    /* iPhone 6+, 7+, and 8+ */
    @media only screen and (min-device-width: 414px) {
      u ~ div .email-container {
        min-width: 414px !important;
      }
    }

  </style>

  <!-- CSS Reset : END -->

  <!-- Progressive Enhancements : BEGIN -->
  <style>

    .primary{
      background: #0d0cb5;
    }
    .bg_light{
      background: #fafafa;
    }
    .bg_black{
      background: #000000;
    }
    .bg_dark{
      background: rgba(0,0,0,.8);
    }
    /*.email-section{*/
    /*  padding:1.5em;*/
    /*}*/

    /*BUTTON*/
    .btn{
      padding: 5px 15px;
      display: inline-block;
    }
    .btn.btn-primary{
      border-radius: 5px;
      background: #0d0cb5;
      color: #ffffff;
    }
    .btn.btn-white{
      border-radius: 5px;
      background: #ffffff;
      color: #000000;
    }
    .btn.btn-white-outline{
      border-radius: 5px;
      background: transparent;
      border: 1px solid #fff;
      color: #fff;
    }

    h1,h2,h3,h4,h5,h6{
      font-family: 'Open Sans', sans-serif;
      color: #000000;
      margin-top: 0;
    }

    body{
      font-family: 'Open Sans', sans-serif;
      font-weight: 400;
      font-size: 15px;
      line-height: 1.8;
      color: rgba(0,0,0,.4);
    }

    a{
      color: #0d0cb5;
    }

    table{
    }

    .navigation{
      padding: 0;
    }
    .navigation li{
      list-style: none;
      display: inline-block;;
      margin-left: 5px;
      font-size: 13px;
      font-weight: 500;
    }
    .navigation li a{
      color: rgba(0,0,0,.4);
    }

    /*HERO*/
    .hero{
      position: relative;
      z-index: 0;
    }

    .hero .icon{
    }
    .hero .icon a{
      display: block;
      width: 60px;
      margin: 0 auto;
    }
    .hero .text{
      color: rgba(255,255,255,.8);
    }
    .hero .text h2{
      font-size: 30px;
      font-weight: bold;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.37;
      letter-spacing: 0.48px;
      text-align: center;
      color: #4c4c4c;
    }
    .hero .text h4{
      font-size: 16px;
      font-weight: bold;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.25;
      letter-spacing: normal;
      text-align: center;
      color: rgba(0, 0, 0, 0.7);
    }
    .hero .text h5{
      font-size: 16px;
      font-weight: normal;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.25;
      letter-spacing: normal;
      text-align: center;
      color: rgba(0, 0, 0, 0.7);
    }


    /*HEADING SECTION*/
    .heading-section h2{
      font-size: 20px;
      font-weight: bold;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.38;
      letter-spacing: 0.38px;
      color: #777777;
      padding-top: 4%;
    }
    .heading-section p{
      font-size: 16px;
      font-weight: normal;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.38;
      letter-spacing: 0.26px;
      color: #777777;
      padding-top: 3%;
      padding-bottom: 3%;
    }
    .services{
      width: 188px;
      height: 184px;
      border-radius: 8px;
      box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
      background-color: #ffffff;
      float: left;
      margin: 1%;
    }
    .services p{
      font-size: 16px;
      font-weight: bold;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.38;
      letter-spacing: normal;
      text-align: center;
      color: #4c4c4c;
    }
    .images{
      margin-top: 15%;
    }

    /*COUNTER*/
    .counter{
      width: 100%;
      position: relative;
      z-index: 0;
    }
    .counter .overlay{
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      content: '';
      width: 100%;
      background: #000000;
      z-index: -1;
      opacity: .3;
    }
    .counter-text{
      text-align: center;
    }
    .counter-text .num{
      display: block;
      color: #ffffff;
      font-size: 34px;
      font-weight: 700;
    }
    .counter-text .name{
      display: block;
      color: rgba(255,255,255,.9);
      font-size: 13px;
    }
    .discription_section{
      border-radius: 8px;
      box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
      background-color: #ffffff;
      padding: 2%;
    }
    .description_heading{
      font-size: 14px;
      font-weight: bold;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.36;
      letter-spacing: normal;
      text-align: left;
      color: #777777;
      width: 13%;
      padding-bottom: 2%;
      padding-top: 2%;
    }
    .serv_heading{
      font-size: 14px;
      font-weight: bold;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.36;
      letter-spacing: normal;
      text-align: left;
      color: #777777;
      width: 36%;
      padding-bottom: 2%;
      padding-top: 2%;
    }
    .description_qty{
      font-size: 14px;
      font-weight: bold;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.36;
      letter-spacing: normal;
      text-align: right;
      color: #777777;
    }
    .hr{
      border-bottom: 1px solid rgba(0, 0, 0, 0.2);
      border-radius: 8px;
    }
    .simple_text{
      font-size: 14px;
      font-weight: normal;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.36;
      letter-spacing: normal;
      text-align: left;
      color: #777777;
      padding-bottom: 2%;
      padding-top: 2%;
    }
    .simple_text_qty{
      font-size: 14px;
      font-weight: normal;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.36;
      letter-spacing: normal;
      text-align: right;
      color: #777777;
      padding-bottom: 2%;
      padding-top: 2%;
    }
    .pdf_button{
      width: 81px;
      height: 32px;
      border-radius: 24px;
      box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
      border: solid 2px #ffd95a;
      background-color: #ffffff;
      font-size: 14px;
      font-weight: normal;
      font-stretch: normal;
      font-style: normal;
      line-height: 2.14;
      letter-spacing: normal;
      text-align: left;
      color: #4c4c4c;
    }
    .pdf_image{
      padding-top: 8%;
      padding-left: 25%;
    }
    .footer_text{
      font-size: 14px;
      font-weight: normal;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.36;
      letter-spacing: 0.22px;
      text-align: center;
      color: #777777;
    }
    .footer_text span{
      color: #35bab6;
      text-decoration: underline;
    }
    .power_by{
      font-family: 'Source Sans Pro',Sans-Serif;
      font-size: 16px;
      font-weight: normal;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.88;
      letter-spacing: normal;
      text-align: center;
      color: rgba(0, 0, 0, 0.5);
    }
    .simple_text_due{
      width: 60px;
      height: 19px;
      font-family: 'Open Sans', sans-serif;
      font-size: 14px;
      font-weight: bold;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.36;
      letter-spacing: normal;
      text-align: right;
      color: #777777;
    }
    .Descriptor_Name {
      height: 22px;
      font-family: 'Open Sans', sans-serif;
      font-size: 16px;
      font-weight: bold;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.38;
      letter-spacing: 0.26px;
      text-align: center;
      color: #777777;
      padding-top: 6px;
    }
    .high-light{
      font-weight: bold;
    }
    .link-color{
      color: #35bab6;
    }
    .btn-review{
      width: 240px;
      height: 48px;
      border-radius: 24px;
      box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
      border: solid 2px #ffd95a;
      background-color: #ffd95a;
    }
    .btn-p{
      width: 240px;
      font-family: 'Open Sans', sans-serif;
      font-size: 16px;
      font-weight: 600;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.38;
      letter-spacing: 0.26px;
      text-align: center;
      color: #4c4c4c;
    }
  </style>
</head>

<body width="100%" style="margin: 0; padding: 0 !important; mso-line-height-rule: exactly; background-color: #222222;">
<center style="width: 100%; background-image: linear-gradient(to bottom, #f7f7f7, #e2e2e2);">
  <div style="display: none; font-size: 1px;max-height: 0px; max-width: 0px; opacity: 0; overflow: hidden; mso-hide: all; font-family: sans-serif;">
    &zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;
  </div>
  <div style="max-width: 600px; margin: 0 auto;" class="email-container">
    <!-- BEGIN BODY -->
    <table align="center" role="presentation" cellspacing="0" cellpadding="0" border="0" width="100%" style="margin: auto;">
      <tr>
        <td valign="middle" class="hero bg_light" style="background-image: url('https://quickard.s3-us-west-2.amazonaws.com/marchent_name_mail+(1).png');  height: 120px;">
          <div class="overlay"></div>
          <table>
            <tr>
              <td>
                <div class="text" style="padding: 0 3em; text-align: center;padding-top: 20px;">
                  <h2><%= image_tag ('https://quickard.s3-us-west-2.amazonaws.com/logoQCW+(1).png')%></h2>
                </div>
              </td>
            </tr>
          </table>
        </td>
      </tr><!-- end tr -->
      <tr>
        <td class="bg_light">
          <table role="presentation" cellspacing="0" cellpadding="0" border="0" width="100%">
            <tr>
              <td class="bg_light email-section" style="padding-bottom: 2rem">
                <div class="heading-section" style="padding: 0 30px;">
                  <h2>Dear <%= @merchant_name %>,</h2>
                  <br>
                  <p style="margin-top: -10px; font-size: 20px"><u>This below refund request requires your immediate attention:</u></p>
                  <p style="margin-top: -10px; font-size: 20px">Case ID: <%= @dispute.id %></p>
                  <p style="margin-top: -10px; font-size: 20px">Customer Name: <%= @customer_name %></p>
                  <p style="margin-top: -10px; font-size: 20px">Refund Amount: <%= @refund_amount %></p>
                  <p style="margin-top: -10px; font-size: 20px">Order Date: <%= "#{@order_date.strftime("%d/%m/%Y at %I:%M%p")}"%></p>
                  <p style="margin-top: -10px; font-size: 20px">Reason: <%= @reason %></p>
                  <br>
                  <p style="margin-top: -10px; font-size: 20px">Click <a href="<%= @url %>">here</a> to log in to your merchant portal to take action on this customer refund request.  Please note you have (5) days from the date of this email notice to respond to this refund request.</p>
                  <p style="margin-top: -10px; font-size: 20px">If you fail to respond to this request within (5) days, a full refund of the requested amount will automatically be issued back to the customer.</p>
                  <p style="margin-top: -10px; font-size: 20px;">Thank you for your prompt attention to this request. </p>
                  <br><br>
                  Sincerely,
                  <br><br>
                  QuickCard Support
                </div>
              </td>
            </tr><!-- end: tr -->
          </table>
          <div class="" style="text-align: center; padding: 0 30px;">
            <center>
              <p class="footer_text" style="margin-bottom: 0">Your satisfaction is a top priority. We are available to assist you Mon - Fri from 9 am till 5 pm (PT).<br>
                Call: (619) 631-4838 or Email: support@greenboxpos.com</p>
              <p class="power_by">
                Powered by <%= image_tag ("https://quickard.s3-us-west-2.amazonaws.com/logo_mail+(1).png")%>
              </p>
            </center>
          </div>
        </td>
      </tr><!-- end:tr -->
      <!-- 1 Column Text + Button : END -->
    </table>
  </div>
</center>
</body>
</html>
