<% if @reserve.present? %>
    Reserve funds for $<%= number_with_precision(@amount.to_f,precision: 2, :delimiter => ',') %>was released today.
<% else %>
    Hold in arrear funds for $<%= number_with_precision(@amount.to_f,precision: 2, :delimiter => ',') %> was released today.
<% end %>
