<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
<h1><mark><strong><%= @user.name %></strong></mark>  has reached out for the following problem:</h1>
<p>
  <strong>Description:</strong> <%= @ticket.message %>
</p>
<p>
  <strong>Device Type:</strong> <%= @ticket.device_type %>
</p>
<p>
  <strong>Email:</strong> <%= @user.email %>
</p>
<p>
  <strong>Phone:</strong> <%= @user.phone_number %>
</p>
<p>
  <strong>Time:</strong> <%= @ticket.created_at %>
</p>
</body>
</html>