<!DOCTYPE html>
<html
  lang="en"
  xmlns="http://www.w3.org/1999/xhtml"
  xmlns:v="urn:schemas-microsoft-com:vml"
  xmlns:o="urn:schemas-microsoft-com:office:office"
>
<head>
  <meta charset="utf-8" />
  <!-- utf-8 works for most cases -->
  <meta name="viewport" content="width=device-width" />
  <!-- Forcing initial-scale shouldn't be necessary -->
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <!-- Use the latest (edge) version of IE rendering engine -->
  <meta name="x-apple-disable-message-reformatting" />
  <!-- Disable auto-scale in iOS 10 Mail entirely -->
  <title>Email - Green Box</title>
  <!-- The title tag shows in email notifications, like Android 4.4. -->

  <link
    href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800&display=swap"
    rel="stylesheet"
    />

  <style>
      html,
      body {
          margin: 0 auto !important;
          padding: 0 !important;
          height: 100% !important;
          width: 100% !important;
      }
      * {
          -ms-text-size-adjust: 100%;
          -webkit-text-size-adjust: 100%;
      }
  </style>
</head>

<body
  width="100%"
  style="margin: 0; padding: 0 !important; background-color: #f4f4f4;"
>
<div style="background-color: #f4f4f4; width: 100%;">
  <table
    style="
    width: 100%;
        max-width: 610px;
        margin: 0 auto;
        padding-top: 15px;
        border: 0;
        background-color: #f4f4f4;"
  cellspacing="0"
  cellpadding="0"
  >
  <tr>
    <td>
      <div
        style="text-align: center; width: 100%;"
      >
        <img
          src="https://quickcard.s3-us-west-2.amazonaws.com/header_quickcard_logo_email.png"
          alt="QuickCard"
          style="padding: 0px 0;"
          />
      </div>
    </td>
  </tr>
  <tr>
    <td style="height: 20px;"></td>
  </tr>
  <tr>
    <td>
      <img style="display: block; width: 100%;" src="https://quickcard.s3-us-west-2.amazonaws.com/whitebox_top.png" alt="" />
    </td>
  </tr>
  <tr>
    <td>
      <div
        style="
        padding: 0 30px;
            background-image: url('https://quickcard.s3-us-west-2.amazonaws.com/whitebox_middle.png');
            overflow: hidden;
        "
      >
        <table
          cellspacing="0"
          cellpadding="0"
          style="
          background-color: #fff;
              border: 0;
              width: 100%;
          "
        >
          <tr
            style="
            font-size: 16px;
                font-weight: normal;
                font-stretch: normal;
                font-style: normal;
                line-height: 1.38;
                letter-spacing: 0.26px;
                color: #777777 !important;
                font-family: 'Open Sans', sans-serif;
            "
          >
            <td>
              <h1
                style="
                font-size: 20px;
                    font-weight: bold;
                    font-stretch: normal;
                    font-style: normal;
                    line-height: 1.38;
                    letter-spacing: 0.38px;
                    color: #777777 !important;
                    margin-top: 0;
                    font-family: 'Open Sans', sans-serif;
                "
              >
                Dear QuickCard User,
              </h1>
              <p style="color: #777777 !important;">
                You are receiving this email because a Two-Step verification code is required to access your QuickCard portal. The below verification code will be valid for only (30) minutes.
              </p>
              <p style="color: #777777 !important;">
              <center style=" font-family: 'Open Sans', sans-serif;
                  font-size: 16px;
                  font-weight: normal;
                  font-stretch: normal;
                  font-style: normal;
                  color: #4c4c4c;"><%= @random_code %></center><br>
              </p>
              <p style="color: #777777 !important;">
                If you did not request verification code, it is possible that someone else is trying to access your account. Do not forward this code to anyone that is not authorized to access your account. Please contact our support team should you have any questions or concerns.
              </p>
              <p style="color: #777777 !important;">Sincerely,</p>
              <p style="color: #777777 !important;">QuickCard Support Team</p>
            </td>
          </tr>
          <tr>
            <td>
              <hr style="border: 0; border-bottom: solid 1px #e2e2e2;" />
            </td>
          </tr>
          <tr>
            <td
              style="
              font-family: 'Open Sans', sans-serif;
                  font-size: 16px;
                  font-weight: 600;
                  font-stretch: normal;
                  font-style: normal;
                  line-height: 1.88;
                  letter-spacing: normal;
                  text-align: center;
                  color: #4c4c4c;
                  margin-top: 1rem !important;
              "
            >
              <p style="display: block; margin: 0; padding: 10px 0;">QuickCard Contact Info</p>
            </td>
          </tr>
          <tr>
            <td style="text-align: center; width: 100%; font-family: 'Open Sans', sans-serif; font-size: 16px;">
              <p
                style="
                color: #777777;
                    margin: 0;
                "
              >
                Contact Support
              </p>
              <div style="display: inline-block;">
                <img
                  src="https://quickard.s3-us-west-2.amazonaws.com/phone.png"
                  alt=""
                  style="float: left; width: 26px;"
                  />
                <strong style="color: #4c4c4c; padding-top: 3px; display: inline-block;">619-333-4227</strong>
              </div>
            </td>
          </tr>
          <tr>
            <td style="text-align: center; width: 100%; font-family: 'Open Sans', sans-serif; font-size: 16px;">
              <p
                style="
                color: #777777;
                    margin:14px 0 0 0;
                "
              >
                Email Support
              </p>
              <div style="display: inline-block;">
                <img
                  src="https://quickard.s3-us-west-2.amazonaws.com/email.png"
                  alt=""
                  style="float: left; width: 26px;"
                  />
                <strong style="color: #4c4c4c; padding-top: 1px; display: inline-block;">
                  <a style="color: #35bab6; font-weight: 600;white-space: nowrap;" href="mailto:support@quickcard.me">support@quickcard.me</a>
                </strong>
              </div>
            </td>
          </tr>
        </table>
      </div>
    </td>
  </tr>
  <tr>
    <td>
      <img src="https://quickcard.s3-us-west-2.amazonaws.com/whitebox_bottom.png" alt="" />
    </td>
  </tr>
  <tr>
    <td style="padding: 0px 0; text-align: center;">
      <img src="https://quickcard.s3-us-west-2.amazonaws.com/powered.png" alt="Powered by GreenBox" />
    </td>
  </tr>
  <tr>
    <td style="padding: 0 30px 10px 30px;">
      <p
        style="
        font-family: 'Open Sans', sans-serif;
            font-size: 12px;
            font-weight: normal;
            font-stretch: normal;
            font-style: normal;
            color: #4c4c4c;
            margin: 0;
        "
      >
        The contents of this message, together with any attachments, are
        intended only for the use of the individual(s) or entity to which
        they are addressed and may contain information that is confidential
        or proprietary. If you are not the intended recipient, you are
        hereby notified that any dissemination, distribution, or copying of
        this message, or any attachment, is strictly prohibited. If you have
        received this message in error, please advise the sender by return
        email and delete this message, along with any attachments, from your
        computer. Thank you.
      </p>
    </td>
  </tr>
  <tr style="height: 20px;">
    <td></td>
  </tr>
  </table>
</div>
</body>
</html>