<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
<h1>Welcome to Quick Card, <%= @user.name %></h1>
<p>
  You have successfully signed up to <%= @url %>
  your username is: <%= @user.email %>.<br>
  your password is: <%= @password %>.<br>
</p>
<p>
  To login to the site, just follow this link: <%= @url %>.
</p>
<p>Thanks for joining and have a great day!</p>
</body>
</html>