<%= stylesheet_link_tag asset_path("admins/reports_details/reports_details_styles"), media: 'all', 'data-turbolinks-track' => 'reload' %>
<div class=".table-hover">
  <table id="datatable-keytable_sale" class="table table-striped table-bordered" cellspacing="0" cellpadding="0">
    <thead>
    <tr>
      <th>Case Number</th>
      <th>Customer Name</th>
      <th>Merchant Id</th>
      <th>Merchant Name</th>
      <th>DBA Name</th>
      <th>DBA Category</th>
      <th>Received Date</th>
      <th>Created Date</th>
      <th>CBK Amount</th>
      <th>Due Date</th>
      <th>Description</th>
      <th>Original Transaction Date</th>
      <th>Original TXN Amount</th>
      <th>Original TXN Id</th>
      <th>Bank Descriptor</th>
      <th>Status</th>
      <th>Card Brand</th>
    </tr>
    </thead>
    <tbody id="users">
    <% disputes_data.try(:each) do |chargeback| %>
      <tr>
        <td><%= chargeback[:case_number] %></td>
        <td><%= chargeback[:customer_name] %></td>
        <td><%= chargeback[:merchant_id] %></td>
        <td><%= chargeback[:merchant_name] %></td>
        <td><%= chargeback[:dba_name] %></td>
        <td><%= chargeback[:dba_category] %></td>
        <td><%= chargeback[:received_date] %></td>
        <td><%= chargeback[:created_at] %></td>
        <td><%= chargeback[:cbk_amount] %></td>
        <td><%= chargeback[:due_date] %></td>
        <td><%= chargeback[:reason] %></td>
        <td><%= chargeback[:transaction_time] %></td>
        <td><%= chargeback[:tx_amount] %></td>
        <td><%= chargeback[:tx_id] %></td>
        <td><%= chargeback[:descriptor] %></td>
        <td><%= chargeback[:status] %></td>
        <td><%= chargeback[:brand] %></td>
      </tr>
    <% end %>
    </tbody>
  </table>
  <span class="m-index-st-19">Showing <%= @disputes.try(:count) %> of <%= @disputes.try(:total_count) %> records</span>
</div>
<%= javascript_include_tag 'admins/admin_reports' %>
