<%= stylesheet_link_tag asset_path("admins/reports_details/reports_details_styles"), media: 'all', 'data-turbolinks-track' => 'reload' %>
<div class=".table-hover">
  <table id="datatable-keytable_cbk" class="table table-striped table-bordered" cellspacing="0" cellpadding="0">
    <thead>
    <tr>
      <% params.try(:each) do |params| %>
        <% if params == "Cbk perc" %>
          <th>CBK %</th>
        <% elsif params == "Dba name" %>
          <th>DBA Name</th>
        <% elsif params == "Cbk volume" %>
          <th>CBK Volume</th>
        <% elsif params == "Cbk won" %>
          <th>CBK Won</th>
        <% elsif params == "Cbk lost" %>
          <th>CBK Lost</th>
        <% elsif params == "Cbk lost amount" %>
          <th>CBK Lost Amount</th>
        <% elsif params == "Cbk won amount" %>
          <th>CBK Won Amount</th>
        <% else %>
          <th><%= params %></th>
        <% end %>
      <% end %>
    </tr>
    </thead>
    <tbody id="users">
    <% chargebacks.try(:each) do |chargeback| %>
      <% chargeback = chargeback.second.reject{|k,v| !params.include?(k.to_s.humanize(keep_id_suffix: true))} %>
      <tr>
        <% chargeback.each do |key, value| %>
          <td><%= value %></td>
        <% end %>
      </tr>
    <% end %>
    </tbody>
  </table>
</div>
<%= javascript_include_tag 'admins/admin_reports' %>
