<%= stylesheet_link_tag asset_path("admins/reports_details/reports_details_styles"), media: 'all', 'data-turbolinks-track' => 'reload' %>
<div class="row">
  <div class="col-md-12">
    <div class="">
      <div class="table-responsive">
        <table id="datatable-keytable_cbk" class="table table-striped table-bordered" cellspacing="0" cellpadding="0">
          <thead>
          <tr>
            <th class="all">Date Range</th>
            <th>Gateway Name</th>
            <th>Descriptor</th>
            <th>Total Approved Vol</th>
            <th>Total Approved TXN</th>
            <th>Avg per TXN</th>
            <th>Total Decline Vol</th>
            <th>Total Decline TXN</th>
            <th>Decline %</th>
            <th>Total Refund Vol</th>
            <th>Total Refund</th>
            <th>Refund %</th>
            <th>Total CBK</th>
            <th>CBK %</th>
          </tr>
          </thead>
          <tbody>
          <% if details.present? %>
            <% details.each do |g| %>
              <tr>
                <td><%= g[:date_range] %></td>
                <td><%= g[:name] %></td>
                <td><%= g[:descriptor] %></td>
                <td><%= number_with_precision(number_to_currency(g[:total_approved].to_f), precision: 2)  %></td>
                <td><%= g[:total_approved_count] %></td>
                <td><%= number_with_precision(number_to_currency(g[:avg_per_txn].to_f), precision: 2)  %></td>
                <td><%= number_with_precision(number_to_currency(g[:decline_vol].to_f), precision: 2) %></td>
                <td><%= g[:total_decline] %></td>
                <td><%= number_with_precision(g[:decline_perc], precision: 2) %>%</td>
                <td><%= number_with_precision(number_to_currency(g[:refund_vol].to_f), precision: 2) %></td>
                <td><%= g[:total_refund] %></td>
                <td><%= number_with_precision(g[:refund_perc].to_f, precision: 2) %>%</td>
                <td><%= g[:total_cbk] %></td>
                <td><%= number_with_precision(g[:cbk_percent].to_f  || 0, precision: 2) %>%</td>
              </tr>
            <% end %>
          <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
<%= javascript_include_tag 'admins/admin_reports' %>