<%= stylesheet_link_tag asset_path("admins/reports_details/reports_details_styles"), media: 'all', 'data-turbolinks-track' => 'reload' %>
<div class="row">
  <div class="col-md-12">
    <div class="table-responsive withdraw_table">
    <table id="datatable-keytable_sale" class="table table-striped table-bordered table-hover tableFixHead_withdraw_new" cellspacing="0" cellpadding="0">
    <thead>
    <tr>
      <th class="all">Block ID</th>
      <th class="date-width">Timestamp</th>
      <th>Type</th>
      <th>Descriptor</th>
      <th>Sender Name</th>
      <th>Receiver Name</th>
      <th>Total Amount</th>
      <th>TXN Amount</th>
      <th>Privacy Fee</th>
      <th>Tip</th>
      <th>Fee</th>
      <th>Net Amount</th>
      <th>Reserve Amount</th>
      <th>GBOX Fee</th>
      <th>GBOX Baked Split</th>
      <th>ISO Fee</th>
      <th>ISO Baked Split</th>
      <th>Agent Fee</th>
      <th>Affiliate Fee</th>
    </tr>
    </thead>
    <tbody id="users">
    <% sales.try(:each) do |sale| %>
      <tr>
        <td><%= sale.seq_transaction_id.first(6) %></td>
        <td class="timeUtc-user"><%= sale.timestamp.to_datetime.strftime("%Y-%m-%d %H:%M:%S %p") %></td>
        <td><%= sale.main_type %></td>
        <td><%= sale.payment_gateway.try(:name) %></td>
        <td><%= sale.sender_name %></td>
        <td><%= sale.receiver_name %></td>
        <td><%= number_with_precision(number_to_currency(sale.total_amount.to_f), precision: 2) %></td>
        <td><%= number_with_precision(number_to_currency(sale.amount.to_f), precision: 2) %></td>
        <td><%= number_with_precision(number_to_currency(sale.privacy_fee.to_f), precision: 2) %></td>
        <td><%= number_with_precision(number_to_currency(sale.tip.to_f), precision: 2) %></td>
        <td><%= number_with_precision(number_to_currency(sale.fee.to_f), precision: 2) %></td>
        <td><%= number_with_precision(number_to_currency(sale.net_amount.to_f), precision: 2) %></td>
        <td><%= number_with_precision(number_to_currency(sale.reserve_money.to_f), precision: 2) %></td>
        <td><%= number_with_precision(number_to_currency(sale.gbox_fee.to_f), precision: 2) %></td>
        <td><%= number_with_precision(number_to_currency(baked_gbox_fee(sale.tags.try(:[], "fee_perc").try(:[], "super_users_details"), qc_wallet.try(:id))), precision: 2) %></td>
        <td><%= number_with_precision(number_to_currency(sale.iso_fee.to_f), precision: 2) %></td>
        <td><%= number_with_precision(number_to_currency(baked_iso_fee(sale.tags.try(:[], "fee_perc").try(:[], "super_users_details"), sale.tags.try(:[], "fee_perc").try(:[], "iso").try(:[],"wallet"))), precision: 2) %></td>
        <td><%= number_with_precision(number_to_currency(sale.agent_fee.to_f), precision: 2) %></td>
        <td><%= number_with_precision(number_to_currency(sale.affiliate_fee.to_f), precision: 2) %></td>
      </tr>
    <% end %>
    </tbody>
  </table>
    <div class="col-md-12">
      <div class="row margin_10px">
        <div class="col-md-4 padding_zero"><span class="margin_left_16px">Showing <%= @sales.try(:size)%> of <%= @sales.total_count %> records</span></div>
        <div class="col-md-8">
          <div class="align_right" id="paginator">
            <%= paginate @sales, :remote => true, :theme => 'twitter-bootstrap-3', :pagination_class => "pagination-small pagination-centered pull-right padd"%>
          </div>
        </div>
      </div>
    </div>
    </div>
  </div>
</div>
<%= javascript_include_tag 'admins/admin_reports' %>