<%= stylesheet_link_tag asset_path("admins/reports_details/reports_details_styles"), media: 'all', 'data-turbolinks-track' => 'reload' %>
<div class="table-hover">
  <table id="datatable-keytable_cbk" class="table table-striped table-bordered" cellspacing="0" cellpadding="0">
    <thead>
    <tr>
      <th>Date</th>
      <th>MID</th>
      <th>DBA Name</th>
      <th>Main Wallet Funds</th>
      <th>Reserve Wallet Funds</th>
      <th>Tip Wallet Balance</th>
      <th>Total Amount</th>
    </tr>
    </thead>
    <tbody id="users">
    <% if details.present? %>
      <% details.try(:each) do |t| %>
        <tr>
          <td><%= Date.today.strftime("%m/%d/%Y") %></td>
          <td><%= t[:m_id] %></td>          
          <td><%= t[:dba_name] %></td>
          <td><%= number_with_precision(number_to_currency(t[:main_wallet_funds].to_f), precision: 2) %></td>
          <td><%= number_with_precision(number_to_currency(t[:reserve_wallet_funds].to_f), precision: 2) %></td>
          <td><%= number_with_precision(number_to_currency(t[:tip_balance].to_f), precision: 2) %></td>
          <td><%= number_with_precision(number_to_currency(t[:total].to_f), precision: 2) %></td>
        </tr>
      <% end %>
    <% end %>
    </tbody>
  </table>
</div>
<%# if @locations.present? %>
  <%#= paginate @locations, :theme => 'twitter-bootstrap-3',:remote => true, :pagination_class => "pagination-small pagination-centered pull-right padd"%>
<%# end %>
<%= javascript_include_tag 'admins/admin_reports' %>