<%= stylesheet_link_tag asset_path("admins/reports_details/reports_details_styles"), media: 'all', 'data-turbolinks-track' => 'reload' %>
<div class="row">
  <div class="col-md-12">
    <div class="">
      <div class="table-responsive withdraw_table">
        <table id="datatable-keytable" class="table table-striped table-bordered tableFixHead_withdraw_new" cellspacing="0" cellpadding="0">
          <% if @run_report_type == "summary_report" %>
            <thead>
            <tr>
              <th>Date</th>
              <th>CBD</th>
              <th>Other</th>
              <th>ACH International</th>
              <th>Dispensary</th>
              <th>Push To Card</th>
              <th>Checks</th>
              <th>Total</th>
            </tr>
            </thead>
            <tbody>
            <% if details.present? %>
              <% details.each do |g| %>
                <tr>
                <% if g["Date"] == "Total" %>
                    <td><%= g["Date"] %></td>
                <% else %>
                    <td><%= g["Date"].strftime("%D") %></td>
                <% end %>
                  <td><%= g["cbd_total"] %></td>
                  <td><%= g["other_ach"] %></td>
                  <td><%= g["ach_international"] %></td>
                  <td><%= g["dispensary_total"] %></td>
                  <td><%= g["instant_pay"] %></td>
                  <td><%= g["checks_total"] %></td>
                  <td><%= g["row_total"] %></td>
                </tr>
              <% end %>
            <% end %>
            </tbody>
          <% else %>
            <thead>
            <col width="120">
            <col width="90">
            <col width="120">
            <col width="100">
            <col width="90">
            <col width="120">
            <col width="80">
            <col width="120">
            <col width="120">
            <col width="150">
            <col width="90">
            <col width="110">
            <col width="80">
            <col width="110">
            <col width="90">
            <col width="80">
            <col width="90">
            <col width="90">
            <col width="120">
            <col width="80">
            <tr>
              <th>Merchant</th>
              <th>User ID</th>
              <th>DBA Name</th>
              <th>Category</th>
              <th>Wallet ID</th>
              <th>Withdrawal ID</th>
              <th>Type</th>
              <th>Withdrawal Category</th>
              <th>Bank</th>
              <th>Created Date</th>
              <th>Completed Date</th>
              <th>Status</th>
              <th>Total Amount</th>
              <th>Fee</th>
              <th>Amount Sent</th>
              <th>GBox Fee</th>
              <th>ISO Fee</th>
              <th>Agent Fee</th>
              <th>Affiliate Fee</th>
              <th>Notes</th>
            </tr>
            </thead>
            <tbody>
            <% if details.present? %>
              <% details.each do |g| %>
                <tr>
                  <td><%= g[:merchant] %></td>
                  <td><%= g[:user_id] %></td>
                  <td><%= g[:DBA_name] %></td>
                  <td><%= g[:Category] %></td>
                  <td><%= g[:wallet_id] %></td>
                  <td><%= g[:tango_id] %></td>
                  <td><%= g[:type] %></td>
                  <td><%= g[:withdrawal_category] %></td>
                  <td><%= g[:bank] %></td>
                  <td><%= g[:created_date] %></td>
                  <td><%= g[:completed_date] %></td>
                  <td><%= g[:total].present? ? g[:total] : g[:status] %></td>
                  <td><%= g[:total_amount] %></td>
                  <td><%= g[:fee] %></td>
                  <td><%= g[:amount_sent] %></td>
                  <td><%= g[:gbox_fee] %></td>
                  <td><%= g[:iso_fee] %></td>
                  <td><%= g[:agent_fee] %></td>
                  <td><%= g[:aff_fee] %></td>
                  <td><%= g[:notes] %></td>
                </tr>
              <% end %>
            <% end %>
            </tbody>
        <% end %>
        </table>
      </div>
    </div>
  </div>
  <div class="col-md-12">
    <div class="row margin_10px">
      <div class="col-md-4 padding_zero"><span class="margin_left_16px">Showing <%=@txn.try(:size)%> of <%=@txn.total_count %> records</span></div>
      <div class="col-md-8">
        <div class="align_right" id="paginator">
          <%= paginate @txn, :remote => true, :theme => 'twitter-bootstrap-3', :pagination_class => "pagination-small pagination-centered pull-right padd"%>
        </div>
      </div>
    </div>
  </div>
</div>