<%= render partial: "admins/reports/spinner" %>
<script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />
<div class="sidebar-overlay" id="sidebar-overlay"></div>
<div class="title-block">
  <h1 class="title text-capitalize audit_reports_text">
    Chargeback Reports
  </h1>
</div>
<section class="section">
  <div class="row">
    <div class="card sameheight-item items" data-exclude="xs,sm,lg">
      <div class="card-header bordered">
        <div class="header-block">
          <h3 class="title text-capitalize pull-left">All Chargeback Reports</h3>
        </div>
        <div class="header-block pull-right">
          <div class="col-md-12 padding_right_zero">
            <%#= link_to '<button type="button" class="btn btn-primary pull-right" > Saved Reports</button>'.html_safe, old_reports_admins_reports_path(status: "charge_back") %>
          </div>
        </div>
      </div>
      <div class="col-md-12 run_report_audit">
        <div id="export">

            <div id="location_error display_color_red"></div>
            <div class="row margin_top_10px">
              <%= form_tag generate_report_admins_reports_path, method: :post, remote: true do %>
                <%= hidden_field_tag "query[type]", "cbk_detail" %>
              <div class="form-group col-md-3">
                <label for="id">Date</label>
                <input type="text" name="query[date]" id="date" class="form-control" autocomplete="off" value=""/>
              </div>
              <div class="form-group col-md-1 submit_btn margin_top_27px">
                  <%= submit_tag 'Run Report', class: "btn btn-sm btn-primary report_submit_cb" %>
              </div>
              <%end%>
              <%= form_tag run_report_admins_reports_path, method: :get, remote: true, id: "report_form" do %>
                <div class="col-md-2 margin_top_27px">
                  <%= hidden_field_tag "query[type]", "cbk_detail", id: "hidden_type" %>
                  <%= hidden_field_tag "query[date]", params[:query].try(:[], "date") || "",id: "hidden_date" %>
                  <%= submit_tag 'Export', class: "btn btn-sm btn-success run_report "%>
                </div>
              <% end %>
            </div>

        </div>
      </div>
      <div class="col-sm-6 col-md-12 entries_bg_color">
        <div class="dataTables_length">
          <div class="col-md-6 top-15-px-merchant">
            <span class="padding-top-7-px-merchant float-left-shared padding_right_5px">Show</span>
            <span class="float-left-shared">
                                <%= select_tag "tx_filter", options_for_select(@filters.map{|v|[v]}, selected: params[:tx_filter].present? ? params[:tx_filter] : "10"),
                                               :prompt => false,
                                               :required => true,
                                               class: "form-control form-control-sm sale-report-filter",
                                               data: {confirm: "Are you sure ?"}
                                %>
              <input type="hidden" name="from_filter" id="from_filter" value="true" />
                  </span>
            <span class="float-left-shared padding-top-7-px-merchant padding_left_5px">Entries</span>
          </div>
        </div>
      </div>

      <section id="report_table">
      </section>
    </div>
  </div>
  <div id="paginator"></div>
</section>
<div id="cover-spin"></div>
<%= javascript_include_tag "admins/location_select" %>
