<%= render partial: "admins/reports/spinner" %>
<script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />

<div class="sidebar-overlay" id="sidebar-overlay"></div>
<div class="title-block">
  <h1 class="title text-capitalize audit_reports_text">
    Gateway Summary Report
  </h1>
</div>

<section class="section">
  <div class="row">
    <div class="card sameheight-item items" data-exclude="xs,sm,lg">
      <div class="card-header bordered">
        <div class="header-block">
          <h3 class="title text-capitalize pull-left">All Gateway Reports</h3>
        </div>
        <div class="header-block pull-right">
          <div class="col-md-12 padding_right_zero">
            <%#= link_to '<button type="button" class="btn btn-primary pull-right" > Saved Reports</button>'.html_safe, old_reports_admins_reports_path(status: "gateway") %>
          </div>
        </div>
      </div>
      <div class="col-sm-12 run_report_audit">
        <div class="col-sm-12">
          <div >
            <div class="card card-body">
              <div class="row">
                <div class="col-md-9">
                  <%= form_tag generate_report_admins_reports_path, method: :post, remote: true do %>
                      <%= hidden_field_tag "query[type]", "gateway" %>
                      <div class="row margin_top_10px">
<!--                        <div class="col-md-12 margin_top_15px">-->
                          <div class="form-group col-md-2 db_class margin_top_27px">
                            <label class="radio-label">Not 0
                              <input type="checkbox" name="query[not_0]" class="merchant_not0_radio" value="" id="dba_radio_not0" >
                              <span class="checkmark"></span>
                            </label>
                          </div>
                          <div class="form-group col-md-4">
                            <label for="id">Date</label>
                            <input type="text" name="query[date]" id="date" class="form-control" autocomplete="off"  required/>
                          </div>
                          <div class="form-group col-md-4 margin_top_27px">
                            <select name="query[gateway][]" id="query_dba_name_" multiple>
                              <option value="all">ALL Gateways</option>
                              <% PaymentGateway.main_gateways.eager_load(:descriptor).order(name: :asc).each do |gateway| %>
                                <option value="<%= gateway.id %>"><%= gateway.descriptor.present? ? "(#{gateway.descriptor.name}) - #{gateway.name}" : gateway.name %></option>
                              <% end %>
                            </select>
                            <%#= select_tag "query[gateway][]", options_for_select(PaymentGateway.all.order(name: :asc).map{|v| [v.name,v.key] }, selected: params[:query].try(:[],"gateway") ), class: 'form-control gateway', required: true, multiple: true%>
                          </div>
                          <div class="form-group col-md-2">
                            <div class="form-group col-md-12">
                              <%= submit_tag 'Run Report', class: "btn btn-sm btn-primary margin_top_27px audit_gate_click"%>
                            </div>
                          </div>
                        </div>
<!--                      </div>-->
                  <% end %>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <section id="report_table">
      </section>
    </div>
  </div>
</section>

<div id="cover-spin"></div>
<%= javascript_include_tag "admins/location_select" %>
