$('#cover-spin').fadeOut("slow");
<% if @type == "chargeback" %>
  $("#report_table").html("<%= j render(partial: 'admins/reports/cbk_table', locals: { chargebacks: @chargebacks, params: @params }) %>")
<% elsif @type == "sale" %>
  <% if @error.present? %>
    $("#error").html("<%= @error %>")
  <% else %>
    $("#error").html('')
    $("#report_table").html("<%= j render(partial: 'admins/reports/sale_table', locals: { sales: @sales, qc_wallet: @qc_wallet, offset: @offset}) %>")
  <% if @sales.present? %>
    $('#paginator').html('<%= escape_javascript(paginate(@sales, :theme => 'twitter-bootstrap-3', remote: true, :pagination_class => "pagination-small pagination-centered pull-right padd").to_s) %>');
  <% end %>
  <% end %>
<% elsif @type == "gateway" %>
  $("#report_table").html("<%= j render(partial: 'admins/reports/gateway_table', locals: { details: @details}) %>")
<% elsif @type == "merchant" %>
  $("#report_table").html("<%= j render(partial: 'admins/reports/merchant_table', locals: { transactions: @transactions}) %>")
  $("#cover-spin").fadeOut();
<% elsif @type == "wallet" %>
  $("#report_table").html("<%= j render(partial: 'admins/reports/wallet_table', locals: { details: @details}) %>")
<% elsif @type == "iso_summary" %>
  $("#report_table").html("<%= j render(partial: 'admins/reports/iso_summary_table', locals: { details: @details}) %>")
<% elsif @type == "refund" %>
  $("#report_table").html("<%= j render(partial: 'admins/reports/refund_table', locals: { details: @details, date_range: @date}) %>")
<% elsif @type == "fee_detail" %>
  $("#report_table").html("<%= j render(partial: 'admins/reports/fee_detail_table', locals: { details: @details}) %>")
  $("#paginator").html("").html('<%= escape_javascript(paginate(@txn, :theme => 'twitter-bootstrap-3', remote: true, :pagination_class => "pagination-small pagination-centered pull-right padd").to_s) %>');
<% elsif @type == "fee_summary" %>
$("#report_table").html("<%= j render(partial: 'admins/reports/fee_summary_table', locals: { details: @details, date_range: @date}) %>")
<% elsif @type == "withdrawal" %>
  $("#report_table").html("<%= j render(partial: 'admins/reports/withdrawal_table', locals: { details: @details}) %>")
  $("#paginator").html("").html('<%= escape_javascript(paginate(@txn, :theme => 'twitter-bootstrap-3', remote: true, :pagination_class => "pagination-small pagination-centered pull-right padd").to_s) %>');
<% elsif @type == "iso_profit_split" %>
$("#report_table").html("<%= j render(partial: 'admins/reports/iso_profit_split_table', locals: { details: @details}) %>")
<% elsif @type == "affiliate_program" %>
$("#report_table").html("<%= j render(partial: 'admins/reports/affiliate_program_table', locals: { transactions: @transactions}) %>")
<% elsif @type == "cbk_detail" %>
$("#report_table").html("<%= j render(partial: 'admins/reports/cbk_detail_table', locals: { disputes_data: @disputes_data,disputes: @disputes}) %>")
<% if @disputes.present? %>
$('#paginator').html('<%= escape_javascript(paginate(@disputes, :theme => 'twitter-bootstrap-3', remote: true, :pagination_class => "pagination-small pagination-centered pull-right padd").to_s) %>');
<% end %>
<% end %>

$('#datatable-keytable_merchant').DataTable({
    responsive:false,
    "bLengthChange": false,
    "searching": false,
    "ordering": true,
    "bPaginate": false,
//    "sScrollX": false,
//    "scrollX": false,
    'sorting': true,
    "paging": false,
    "bInfo" : false,
    "columnDefs": [
        { "orderable": false, "targets": 0 },
    ],
    "order": [[ 0, "desc" ]]
});
