<%= render partial: "admins/reports/spinner" %>
<script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />
<div class="sidebar-overlay" id="sidebar-overlay"></div>
<div class="title-block">
  <h1 class="title text-capitalize audit_reports_text">
    Merchant Reports
  </h1>
</div>

<section class="section">
  <div class="row">
    <div class="card sameheight-item items" data-exclude="xs,sm,lg">
      <div class="card-header bordered">
        <div class="header-block">
          <h3 class="title text-capitalize pull-left">All Merchant Reports</h3>
        </div>
        <div class="header-block pull-right">
          <div class="col-md-12 padding_right_zero">
            <%#= link_to '<button type="button" class="btn btn-primary pull-right" > Saved Reports</button>'.html_safe, old_reports_admins_reports_path(status: "merchant") %>
          </div>
        </div>
      </div>
      <div class="col-sm-12 run_report_audit">
        <div class="col-sm-12">
          <div class="mb-3" id="export">
            <div class="card card-body">
              <div class="row">
                <div class="col-md-12">
                  <div class="col-md-11">
                    <%= form_tag generate_report_admins_reports_path, method: :post, remote: true do %>
                      <%= hidden_field_tag "query[type]", "merchant" %>
                      <div class="row margin_top_10px">
                        <div class="col-md-12 margin_top_15px">
                          <div class="form-group col-md-3">
                            <label for="id">Date</label>
                            <input type="text" name="query[date]" id="date" class="form-control" autocomplete="off" value="<%= params[:query].try(:[], "date") %>"  />
                            <span class="merchant_error"></span>
                          </div>
                          <div class="form-group col-md-1 margin_top_27px">
                            <div class="check_margin_left">
                              <label class="radio-label merchant_radio_label check_width">Not 0
                                <input type="checkbox" name="query[not_0]" class="merchant_not0_radio" value="" id="dba_radio_not0" >
                                <span class="checkmark merchant_checkmark"></span>
                              </label>
                            </div>
                          </div>
                          <div class="form-group col-md-1 margin_top_27px">
                            <div class="check_margin_left">
                              <label class="radio-label label-margin">Select All
                                <input type="checkbox" name="query[select_all]" class="merchant_not0_radio merchant_select_all" value="true" id="dba_radio1" >
                                <span class="checkmark checkmark1"></span>
                              </label>
                            </div>
                          </div>
                          <div class="form-group col-md-2 input-list">
                            <label>Status</label>
                            <%= select_tag 'query[status]', options_for_select(@status, selected: params[:query].try(:[],"status")), include_blank: "Select Status", class: "form-control",title:'' %>
                          </div>

                          <div class="form-group col-md-5 margin_top_27px">
                            <div class="form-group col-md-6 merchant_cat_margin">
                              <label>Location</label>
                              <label> Select DBA</label>
                              <select name="query[dba_name][]" id="query_dba_name_" class="location_merchant form-control db_name" prompt="Please Select"   multiple>
                                <option value="all">All Locations</option>
                                <% @locations.each do |location| %>
                                  <% if location.wallets.try(:first).present? %>
                                    <option value="<%= {id: location.wallets.first.id, name: location.business_name, category: location.category.try(:name), is_block: location.is_block, category_id: location.category.try(:id).try(:to_s)}.to_json %>"><%= "(M-#{location.merchant_id}) - "+location.business_name %></option>
                                  <% end %>
                                <% end %>
                              </select>
                              <%#= select_tag 'query[dba_name][]', class: "form-control db_name location_merchant", multiple: true %>
                            </div>
                            <div class="form-group col-md-5 merchant_cat_margin">
                              <label>Category</label>
                              <%= select_tag 'query[category][]', options_for_select(@categories.map{|v|[v[:name],v[:id]]}, selected: params[:query].try(:[],"category")),class: "form-control category_merchant category", multiple: true %>
                            </div>
                            <div class="form-group col-md-1">
                              <%= submit_tag 'Run Report', class: "btn btn-sm btn-primary run_report_merchant audit_gate_click", disabled: true %>
                              <input type="hidden" name="tx_filter" id="tx_filter_merchant" value="<%= params[:tx_filter].present? ? params[:tx_filter] : "" %>" />
                              <input type="hidden" name="query[all_location_name]" class="all_locations" id="all_locations_all" />
                            </div>
                          </div>
                        </div>
                      </div>
                    <% end %>
                  </div>
                  <div class="form-group col-md-1">
                    <%= form_tag run_report_admins_reports_path, method: :get, remote: true, id: "report_form" do %>
                      <%= hidden_field_tag "query[type]", "merchant", id: "hidden_type" %>
                      <%= hidden_field_tag "query[date]", params[:query].try(:[], "date") || "", id: "hidden_date" %>
                      <%= hidden_field_tag "query[select_all]", params[:query].try(:[], "select_all").present? ? "true" : "", id: "hidden_dba_check",class: "merchant_export_all" %>
                      <%= hidden_field_tag "query[not_0]", params[:query].try(:[], "not_0").present? ? "true" : "", id: "hidden_dba_check_not0" %>
                      <%= hidden_field_tag "query[dba_name][]", params[:query].try(:[], "dba_name").to_json || "", id: "hidden_dba_name" %>
                      <%= hidden_field_tag "query[category][]", params[:query].try(:[], "category").to_json || "", id: "hidden_categories_merchant" %>
                      <%= hidden_field_tag "query[status]", params[:query].try(:[], "status").to_json || "", id: "hidden_status_merchant" %>
                      <input type="hidden" name="query[all_location_name]" class="all_locations" id="all_locations_all_export" />
                      <%= hidden_field_tag "offset", "", id: "offset_merchant" %>
                      <%= submit_tag 'Export', class: "btn btn-primary btn-sm btn-link run_report merchant_run_report margin_top52px"%>
                    <% end %>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-md-12 entries_bg_color">
        <div class="dataTables_length">
          <div class="col-md-6 top-15-px-merchant">
            <span class="padding-top-7-px-merchant float-left-shared padding_right_5px">Show</span>
            <span class="float-left-shared">
                 <%= select_tag "tx_filter", options_for_select(@filters.map{|v|[v]}, selected: params[:tx_filter].present? ? params[:tx_filter] : "10"),
                                :prompt => false,
                                :required => true,
                                class: "form-control form-control-sm merchant-report-filter",
                                data: {confirm: "Are you sure ?"}
                 %>
                <%= hidden_field_tag "query[type]", "merchant", id: "hidden_type" %>
                <%= hidden_field_tag "query[date]", params[:query].try(:[], "date") || "", id: "hidden_date" %>
                <%= hidden_field_tag "query[not_0]", params[:query].try(:[], "not_0").present? ? "true" : "", id: "hidden_dba_check_not0" %>
                <%= hidden_field_tag "query[select_all]", params[:query].try(:[], "select_all").present? ? "true" : "", id: "hidden_dba_check_merchant" %>
                <%= hidden_field_tag "query[dba_name][]", params[:query].try(:[], "dba_name")|| "", id: "hidden_dba_name_merchant" %>
                <%= hidden_field_tag "query[category][]", params[:query].try(:[], "category") || "", id: "hidden_categories_merchant_2" %>
                <%= hidden_field_tag "query[status]", params[:query].try(:[], "status").to_json || "", id: "hidden_status_merchant" %>
                <input type="hidden" name="query[all_location_name]" class="all_locations" id="all_locations_all_filter" />
                <input type="hidden" name="from_filter" id="from_filter" value="true" />
            </span>
            <span class="float-left-shared padding-top-7-px-merchant padding_left_5px">Entries</span>
          </div>
        </div>
      </div>
      <section id="report_table">
      </section>
    </div>
  </div>
</section>
<%= render partial: 'admins/reports/new_report_modal', locals: {name: "Merchant Report"}  %>
<div id="cover-spin"></div>

<%= javascript_include_tag "admins/location_select" %>
