<%= render partial: "admins/reports/spinner" %>
<script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />
<div class="sidebar-overlay" id="sidebar-overlay"></div>
<div class="title-block">
  <h1 class="title text-capitalize audit_reports_text">
    Sales Reports
  </h1>
</div>

<section class="section">
  <div class="row">
    <div class="card sameheight-item items" data-exclude="xs,sm,lg">
      <div class="card-header bordered">
        <div class="header-block">
          <h3 class="title text-capitalize pull-left">All Sales Reports</h3>
        </div>
        <div class="header-block pull-right">
          <div class="col-md-12 padding_right_zero">
            <%= link_to '<button type="button" class="btn btn-primary pull-right" > Saved Reports</button>'.html_safe, old_reports_admins_reports_path(status: "sale") %>
          </div>
        </div>
      </div>
      <div class="col-sm-12 run_report_audit">
        <div class="col-sm-12">
          <div class="mb-3" id="export">
            <div class="card card-body">
              <div id="error color_red"></div>
              <%= form_tag generate_report_admins_reports_path, method: :post, remote: true do %>
                <%= hidden_field_tag "query[type]", "sale" %>
                <div class="row margin_top_10px">
                  <div class="form-group col-md-3">
                    <label for="id">Date</label>
                    <input type="text" name="query[date]" id="date" class="form-control" autocomplete="off" value=""/>
                  </div>
                  <div class="form-group col-md-9 margin_top_20px">
                    <div class="form-group col-md-5">
                    <label for="id">Select Location</label>
                      <select name="query[dba_name][]" id="query_dba_name_" multiple>
                        <option value="all">All Locations</option>
                        <% @locations.each do |location| %>
                          <option value="<%= {id: location.wallets.primary.first.try(:id), name: location.business_name}.to_json %>"><%= "(M-#{location.merchant_id}) - "+location.business_name %></option>
                        <% end %>
                      </select>                    
                    </div>
                    <div class="form-group col-md-5">
                      <label for="type">Type</label>
                      <%= select_tag 'query[types][]', options_for_select(@types.map{|v| [ v[:view],v[:value]]}, selected: params[:query].try(:[],"types")),class: "form-control type1", multiple: true %>
                    </div>
                  </div>
                </div>
                <div class="row margin_top_10px">
                  <div class="form-group col-md-3">
                    <label for="id">Category</label>
                    <%= select_tag 'query[categories][]', options_for_select(@categories.map {|v| [v[:name], v[:id]]}, selected: params[:query].try(:[], "categories")), class: "form-control categories", multiple: true %>
                  </div>
                  <div class="form-group col-md-3 margin_top_27px">
                    <div class="row">
                      <div class="col-md-6">
                        <%= submit_tag 'Run Report', class: "btn btn-sm btn-primary audit_gate_click" %>
                      </div>
                      <div class="col-md-6"></div>
                      <div class="col-md-3 "> </div>
                      <div class="col-md-3"></div>
                    </div>
                  </div>
                </div>
              <% end %>

                  <%= form_tag run_report_admins_reports_path, method: :get, remote: true, id: "report_form" do %>
                <div class="row">
                  <div class="col-md-3"></div>
                  <div class="col-md-3 ">
                    <div class="row"></div>
                    <div class="col-md-6"></div>
                    <div class="col-md-6 export_button">
                      <%= hidden_field_tag "query[type]", "sale", id: "hidden_type" %>
                    <%= hidden_field_tag "query[date]", params[:query].try(:[], "date") || "",id: "hidden_date" %>
                    <%= hidden_field_tag "query[dba_name][]", params[:query].try(:[], "dba_name").to_json || "", id: "hidden_dba_name" %>
                    <%= hidden_field_tag "query[types][]", params[:query].try(:[], "types").to_json || "", id: "hidden_types" %>
                    <%= hidden_field_tag "query[categories][]", params[:query].try(:[], "categories").to_json || "", id: "hidden_categories" %>
                    <%= submit_tag 'Export', class: "btn btn-sm btn-success run_report sales_export_submit"%>
                    </div></div>
                  <div class="col-md-3 "> </div>
                  <div class="col-md-3"></div>
                </div>
                  <% end %>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-6 col-md-12 entries_bg_color">
          <div class="dataTables_length">
            <div class="col-md-6 top-15-px-merchant">
              <span class="padding-top-7-px-merchant float-left-shared padding_right_5px">Show</span>
                <span class="float-left-shared">
                                <%= select_tag "tx_filter", options_for_select(@filters.map{|v|[v]}, selected: params[:tx_filter].present? ? params[:tx_filter] : "10"),
                                                :prompt => false,
                                                :required => true,
                                                class: "form-control form-control-sm sale-report-filter",
                                                data: {confirm: "Are you sure ?"}
                                %>
                  <input type="hidden" name="from_filter" id="from_filter" value="true" />
                  </span>
              <span class="float-left-shared padding-top-7-px-merchant padding_left_5px">Entries</span>
            </div>
          </div>
        </div>


      <section id="report_table">
      </section>
      </div>


    </div>
  </div>
  <div id="paginator"></div>
</section>
<!--<section id="paginator">-->

<!--</section>-->
<%= render partial: 'admins/reports/new_report_modal', locals: {name: "Sale Report"}  %>
<div id="cover-spin"></div>
<%= javascript_include_tag "admins/location_select" %>
