<%= render partial: "admins/reports/spinner" %>
<script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />
<div class="sidebar-overlay" id="sidebar-overlay"></div>
<div class="title-block">
  <h1 class="title text-capitalize audit_reports_text">
    Terminal ID Reports
  </h1>
</div>

<section class="section">
  <div class="row">
    <div class="card sameheight-item items" data-exclude="xs,sm,lg">
      <div class="card-header bordered">
        <div class="header-block">
          <h3 class="title text-capitalize pull-left"></h3>
        </div>
        <div class="header-block pull-right">
          <div class="col-md-12 padding_right_zero">
            <%#= link_to '<button type="button" class="btn btn-primary pull-right" > Saved Reports</button>'.html_safe, old_reports_admins_reports_path(status: "wallet") %>
          </div>
        </div>
      </div>
      <div class="col-sm-12 run_report_audit">
        <div class="col-sm-12">
          <div class="mb-3" id="export">
            <div class="card card-body">
              <%= form_tag generate_report_admins_reports_path, method: :post, autocomplete: "off", remote: true do %>
                <div class="row margin_top_10px">
                  <div class="col-md-12 margin_top_15px">
                    <%= hidden_field_tag "query[type]", "terminal_id" %>
                    <div class="form-group col-md-5 margin_top_27px">
                      <div class="col-md-3 db_class">
                        <label class="radio-label">Select All
                          <input type="checkbox" name="query[select_all]" value="true" id="dba_radio" >
                          <span class="checkmark"></span>
                        </label>
                      </div>
                      <div class="form-group col-md-9">
                        <%= select_tag 'query[dba_name][]', class: "form-control db_name", multiple: true %>
                      </div>
                    </div>
                    <div class="form-group col-md-4">
                      <label for="id">Date</label>
                      <%= text_field_tag 'query[date]','', class: "form-control", id: "date" %>
<!--                      <input type="text" name="query[date]" id="date" class="form-control" autocomplete="off"  required/>-->
                    </div>
                    <div class="form-group col-md-3">
                      <%= submit_tag 'Export', class: "btn btn-sm btn-primary run_report margin_top_27px"%>
                    </div>
                  </div>
                </div>
              <% end %>
            </div>
          </div>
        </div>
      </div>

      <section id="report_table">

      </section>
    </div>
  </div>
</section>
<%= render partial: 'admins/reports/new_report_modal', locals: {name: "Terminal ID Report"}  %>
<div id="cover-spin"></div>

<%= javascript_include_tag "admins/location_select" %>
