<%= render partial: "admins/reports/spinner" %>
<script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />
<div class="sidebar-overlay" id="sidebar-overlay"></div>
<div class="title-block">
  <h1 class="title text-capitalize audit_reports_text">
    Wallet Reports
  </h1>
</div>

<section class="section">
  <div class="row">
    <div class="card sameheight-item items" data-exclude="xs,sm,lg">
      <div class="card-header bordered">
        <div class="header-block">
          <h3 class="title text-capitalize pull-left">All Wallet Reports</h3>
        </div>
        <div class="header-block pull-right">
          <div class="col-md-12 padding_right_zero">
            <%#= link_to '<button type="button" class="btn btn-primary pull-right" > Saved Reports</button>'.html_safe, old_reports_admins_reports_path(status: "wallet") %>
          </div>
        </div>
      </div>
      <div class="col-sm-12 run_report_audit">
        <div class="col-sm-12">
          <div class="mb-3" id="export">
            <div class="card card-body">
              <div class="row">
                <div class="col-md-12">
                  <div class="col-md-11">
              <%= 
                  form_tag generate_report_admins_reports_path, method: :post, remote: true do %>
                <div class="row margin_top_10px">
                  <div class="col-md-12 margin_top_15px">
                      <%= hidden_field_tag "query[type]", "wallet" %>
                      <%= hidden_field_tag "tx_filter", params[:tx_filter] %>
                    <div class="form-group col-md-5">
                      <div class="col-md-4 db_class margin_top_27px">
                        <label class="radio-label">Not 0
                          <input type="checkbox" name="query[not_0]" class="merchant_not0_radio" value="" id="dba_radio_not0" >
                          <span class="checkmark"></span>
                        </label>
                      </div>
                      <div class="form-group col-md-8">
                        <label> Select DBA</label>
                        <select name="query[dba_name][]" id="query_dba_name_" multiple>
                          <option value="all">All Locations</option>
                          <% @locations.each do |location| %>
                            <option value="<%= {id: location.id, name: location.business_name}.to_json %>"><%= "(M-#{location.merchant_id}) - "+location.business_name %></option>
                          <% end %>
                        </select>
                      </div>
                    </div>
                    <div class="form-group col-md-4">
                        <label>Select Partner</label>
                      <select name="query[partner_name][]" id="query_partner_name_" multiple>
                        <option value="all">All Partners</option>
                        <% @users.each do |location| %>
                          <option value="<%= {id: location.id, name: location.name}.to_json %>"><%= "(#{set_ref_no(location)}) - "+location.name %></option>
                        <% end %>
                      </select>
                    </div>
                    <div class="form-group col-md-3">
                      <%= submit_tag 'Run Report', class: "btn btn-sm btn-primary margin_top_27px audit_gate_click" %>
                    </div>
                  </div>
                </div>
              <% end %>
                  </div>
<!--                  <div class="form-group col-md-1">-->
                    <%#= form_tag run_report_admins_reports_path, method: :get, remote: true, id: "report_form" do %>
                      <%#= hidden_field_tag "query[type]", "wallet", id: "hidden_type" %>
                      <%#= hidden_field_tag "query[not_0]",params[:query].try(:[], "not_0").present? ? "true" : "", id: "hidden_dba_check_not0" %>
                      <%#= hidden_field_tag "query[dba_name][]", params[:query].try(:[], "dba_name").to_json || "", id: "hidden_dba_name" %>
                      <%#= hidden_field_tag "query[partner_name][]", params[:query].try(:[], "partner_name").to_json || "", id: "hidden_partner_name_wallet" %>
                      <%#= submit_tag 'Export', class: "btn btn-sm btn-primary run_report margin_top52px margin_left_wallet export_wallet_report" %>
                    <%# end %>
<!--                  </div>-->
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
<!--      <div class="col-sm-6 col-md-12 entries_bg_color">-->
<!--        <div class="dataTables_length">-->
<!--          <div class="col-md-6 top-15-px-merchant">-->
<!--            <span class="padding-top-7-px-merchant float-left-shared padding_right_5px">Show</span>-->
<!--              <span class="float-left-shared">-->
<!--                              <%#= select_tag "tx_filter", options_for_select(@filters.map{|v|[v]}, selected: params[:tx_filter].present? ? params[:tx_filter] : "10"),-->
<!--                                              :prompt => false,-->
<!--                                              :required => true,-->
<!--                                              class: "form-control form-control-sm wallet-report-filter",-->
<!--                                              data: {confirm: "Are you sure ?"}-->
                              %>
         <input type="hidden" name="from_filter" id="from_filter" value="true" />-->
<!--                </span>-->
<!--            <span class="float-left-shared padding-top-7-px-merchant padding_left_5px">Entries</span>-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->

      <section id="report_table">

      </section>
    </div>
  </div>
</section>
<%= render partial: 'admins/reports/new_report_modal', locals: {name: "Wallet Report"}  %>
<div id="cover-spin"></div>

<%= javascript_include_tag "admins/location_select" %>
