<%= render partial: "admins/reports/spinner" %>
<script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />
<div class="sidebar-overlay" id="sidebar-overlay"></div>
<div class="title-block">
  <h1 class="title text-capitalize audit_reports_text">
    Withdrawal Report
  </h1>
</div>

<section class="section">
  <div class="row">
    <div class="card sameheight-item items" data-exclude="xs,sm,lg">
      <div class="card-header bordered">
        <div class="header-block">
          <h3 class="title text-capitalize pull-left">All Withdrawal Reports</h3>
        </div>
        <div class="header-block pull-right">
          <div class="col-md-12 padding_right_zero">
            <%#= link_to '<button type="button" class="btn btn-primary pull-right" > Saved Reports</button>'.html_safe, old_reports_admins_reports_path(status: "merchant") %>
          </div>
        </div>
      </div>
      <div class="col-sm-12 run_report_audit">
        <div class="col-sm-12">
          <div class="mb-3" id="export">
            <div class="card card-body">
              <div class="row">
                <div class="col-md-12">
                  <%= form_tag generate_report_admins_reports_path, method: :post, remote: true do %>
                  <div class="col-md-10">
                      <%= hidden_field_tag "query[type]", "withdrawal" %>
                      <div class="row margin_top_10px">
                        <div class="col-md-12 margin_top_15px">
                          <div class="form-group col-md-3">
                            <div class="col-md-12 input-list">
                              <label>Withdrawal Type</label>
                              <%= select_tag 'query[fee_categories][]', options_for_select(@categories.map{|v|[v[:view],v[:value]]}, selected: params[:query].try(:[],"category")),class: "form-control type withdrawal_types", multiple: true %>
                            </div>
                          </div>
                          <div class="form-group col-md-3">
                            <div class="col-md-12 input-list">
                              <label>Status Type</label>
                              <%= select_tag 'query[status_types][]', options_for_select(@types.map{|v|[v[:view],v[:value]]}, selected: params[:query].try(:[],"status_types")),class: "form-control type", multiple: true %>
                            </div>
                          </div>
                          <div class="form-group col-md-3">
                            <div class="col-md-12 input-list">
                              <label>Withdrawal Categories</label>
                              <%= select_tag 'query[ach_category][]', options_for_select(@ach_category.map{|v|[v[:view],v[:value]]}, selected: params[:query].try(:[],"ach_category")),class: "form-control category withdrawal_categories", multiple: true %>
                            </div>
                          </div>
                          <div class="form-group col-md-3">
                            <label for="id">Batch Date</label>
                            <input type="text" name="query[date]" id="date" class="form-control wd-date withdraw_date" autocomplete="off" value="<%= params[:query].try(:[], "date") %>"  />
                          </div>
                          <div class="form-group col-md-6 margin_top_27px">

                            <div class="form-group col-md-6">
                              <label for="id">Select Location</label>
                              <%= select_tag 'query[dba_name][]', "", class: "form-control db_name dba_name_search", multiple: true %>
                            </div>
                            <div class="col-md-3 db_class">
                              <label class="radio-label withdraw-label-margin">Select All
                                <input type="checkbox" name="query[select_all]" class="withdraw-dba-radio" value="true" id="dba_radio1" >
                                <span class="checkmark withdraw-checkmark1"></span>
                              </label>
                            </div>

                            <!--                        <div class="col-md-2">-->
                            <%#= submit_tag 'Run Report', class: "btn btn-sm btn-primary",onclick: "$('#cover-spin').show(0)" %>
                            <!--                        </div>-->
                          </div>
                        </div>
                      </div>

                  </div>
                    <div class="col-md-1 run-report-withdraw">
                      <div class="row">
                        <div class="dropdown">
                          <button class="btn btn-sm btn-primary dropdown-toggle withdraw_report_button" type="button" data-toggle="dropdown">
                            Run Report
                          </button>
                          <ul class="dropdown-menu withdrawal_dropdown" id="cc_report">
                            <li class="align_center">
                              <%= submit_tag 'Detail', id:"run_report",class: "btn btn-sm btn-primary audit_gate_click withdraw-submit-btn detail_report_submit" %>
                              <input type="hidden" name="detail_report" id="detail_report_withdrawal" value="" />
                            </li>
                            <li class="align_center">
                              <%= submit_tag 'Summary', id:"run_report",class: "btn btn-sm btn-primary audit_gate_click withdraw-submit-btn summary_report_submit" %>
                              <input type="hidden" name="summary_report" id="summary_report_withdrawal" value="" />
                            </li>
                          </ul>
                        </div>
                      </div>
                    </div>
                    <input type="hidden" name="tx_filter" id="tx_filter_withdrawal" value="" />
                    <% end %>

                  <div class="col-md-1 export_report_button">
                    <div class="row">
                      <div class="dropdown">
                        <button class="btn btn-sm btn-primary dropdown-toggle withdraw_report_button" type="button" data-toggle="dropdown">Export
                          Report
                        </button>
                        <ul class="dropdown-menu withdrawal_export_dropdown" id="cc_report">
                          <li class="align_center">
                            <%= form_tag run_report_admins_reports_path, method: :get, remote: true, id: "report_form" do %>
                              <%= hidden_field_tag "query[type]", "withdrawal", id: "hidden_wd__type" %>
                              <%= hidden_field_tag "query[sub_type]", "detail_withdrawal", id: "hidden_sub_type" %>
                              <%= hidden_field_tag "query[date]", params[:query].try(:[], "date") || "", id: "hidden_wd_date1" %>
                              <%= hidden_field_tag "query[select_all]", params[:query].try(:[], "select_all").present? ? "true" : "", id: "hidden_wd_dba_check" %>
                              <%= hidden_field_tag "query[dba_name][]", params[:query].try(:[], "dba_name").to_json || "", id: "hidden_dba_name1" %>
                              <%= hidden_field_tag "query[fee_categories][]", params[:query].try(:[], "fee_categories").to_json || "", id: "hidden_wd_categories1" %>
                              <%= hidden_field_tag "query[status_types][]", params[:query].try(:[], "status_types").to_json || "", id: "hidden_wd_status_types1" %>
                              <%= hidden_field_tag "query[ach_category][]", params[:query].try(:[], "ach_category").to_json || "", id: "hidden_wd_ach_category1" %>
                              <%= submit_tag 'Export', id:"export", class: "btn btn-sm btn-primary run_report wd_export_btn withdraw_detailed_summery export-btn" , :disabled => true%>
                            <% end %>
                          </li>
                          <li class="align_center">
                            <%= form_tag run_report_admins_reports_path, method: :get, remote: true, id: "report_form" do %>
                              <%= hidden_field_tag "query[type]", "withdrawal", id: "hidden_type" %>
                              <%= hidden_field_tag "query[sub_type]", "summary_withdrawal", id: "hidden_sub_type" %>
                              <%= hidden_field_tag "query[date]", params[:query].try(:[], "date") || "", id: "hidden_sm_date1" %>
                              <%= hidden_field_tag "query[select_all]", params[:query].try(:[], "select_all").present? ? "true" : "", id: "hidden_sm_dba_check" %>
                              <%= hidden_field_tag "query[dba_name][]", params[:query].try(:[], "dba_name").to_json || "", id: "hidden_sm_dba_name" %>
                              <%= hidden_field_tag "query[fee_categories][]", params[:query].try(:[], "fee_categories").to_json || "", id: "hidden_sm_categories1" %>
                              <%= hidden_field_tag "query[status_types][]", params[:query].try(:[], "status_types").to_json || "", id: "hidden_sm_status_types1" %>
                              <%= hidden_field_tag "query[ach_category][]", params[:query].try(:[], "ach_category").to_json || "", id: "hidden_sm_ach_category1" %>
                              <%= submit_tag 'Summary', id:"summary", class: "btn btn-sm btn-primary run_report wd_export_btn withdraw_detailed_summery summary-btn" , :disabled => true%>
                            <% end %>
                          </li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-md-12 entries_bg_color">
        <div class="dataTables_length">
          <div class="col-md-6 top-15-px-merchant">
            <span class="padding-top-7-px-merchant float-left-shared padding_right_5px">Show</span>
              <span class="float-left-shared">
                               <%= select_tag "tx_filter", options_for_select(@filters.map{|v|[v]}, selected: params[:tx_filter].present? ? params[:tx_filter] : "10"),
                                              :prompt => false,
                                              :required => true,
                                              class: "form-control form-control-sm withdrawal-report-filter",
                                              data: {confirm: "Are you sure ?"}
                               %>
                <input type="hidden" name="from_filter" id="from_filter" value="true" />
                </span>
            <span class="float-left-shared padding-top-7-px-merchant padding_left_5px">Entries</span>
          </div>
        </div>
      </div>
      <section id="report_table">
      </section>
    </div>
  </div>
</section>
<%= render partial: 'admins/reports/new_report_modal', locals: {name: "Withdrawal Report"}  %>
<div id="cover-spin"></div>

<%= javascript_include_tag "admins/location_select" %>
