<section class="section">
<div class="card-header bordered">
  <div class="header-block">
    <h3 class="title">All Checks</h3>
  </div>

  </div>
  <input type="hidden" name="tx_filter" id="tx_filter" value="<%= params[:tx_filter_checks].present? ? params[:tx_filter_checks] : "" %>"  />
  <div class="row" >
    <div class="col-sm-6 col-md-12">
      <div class="dataTables_length">
        <div class="col-md-12 check-sent-st-1">
          <span class="check-sent-st-2">Show</span>
          <span class="check-sent-st-3">
                    <%= form_tag call_from, method: :get, id: "filter_form_checks"  do  %>
                           <%= select_tag "tx_filter_checks", options_for_select(@filters.map{|v|[v]}, selected: params[:tx_filter_checks].present? ? params[:tx_filter_checks] : "10"),
                                          :prompt => false,
                                          :required => true,
                                          :onchange => 'this.form.submit();',
                                          class: "form-control form-control-sm",
                                          data: {confirm: "Are you sure ?"}
                           %>
              <%= select_tag "tab", options_for_select(selected: "menu_5"),class: "check-sent-st-4"
              %>
                        <% end %>
                    </span>
          <span class="check-sent-st-5">Entries</span>
        </div>
      </div>
    </div>
    <div class="col-sm-6 col-md-6">
    </div>
  </div>
  <!--<div class="header-block pull-right">-->
  <!--<button type="button" data-toggle="modal" data-target="#search" class="btn btn-warning btn-sm"><i class="icon-magnifier icons"></i> Search</button>-->
  <!--</div>-->
</div>
<section class="example">
<div class='table-responsive'>
  <table id="datatable-keytable" class="table table-striped table-bordered table-hover check-sent-st-6">
    <thead>
    <tr>
      <th>Id</th>
      <th>Number</th>
      <th>Recipient</th>
      <th>Amount</th>
      <th>Status</th>
      <th>Name</th>
      <th>Creation Date</th>

    </tr>
    </thead>
    <tbody>
    <%	 if !@checks.empty? %>
      <%	@checks.each do |c|  %>
        <tr>
          <td><%=c.id	  %></td>
          <% if c.ach? %>
            <td><%= c.checkId.blank? ? "-" : ach_check_number(c.checkId) %></td>
          <% else %>
            <td><%= c.number.blank? ? "-" : c.number %></td>
          <% end %>
          <!--                      <td><%#= c.number.blank? ? "-" : c.number %></td>-->
          <td><%=c.recipient%></td>
          <td>$ <%= number_with_precision(c.actual_amount.to_f, :precision => 2, delimiter: ',') %></td>
          <td>
            <% if c.status == "PAID" %>
              <span class="badge badge-info check-sent-st-7"><%=	c.status %></span>
            <% elsif c.status == "UNPAID" %>
              <span class="badge badge-info check-sent-st-8"><%=	c.status %></span>
            <% elsif c.status == "VOID" %>
              <span class="badge btn-danger check-sent-st-9"><%=	c.status %></span>
            <% elsif c.status == "IN_PROCESS" || c.status == "captured" %>
              <span class="badge btn-warning check-sent-st-10"><%=	ach_status(c.status) %></span>
            <% elsif c.status == "IN_PROGRESS" %>
              <span class="badge btn-warning check-sent-st-11"><%=	ach_status(c.status) %></span>
            <% elsif c.status == "PAID_WIRE" %>
              <span class="badge badge-info check-sent-st-12">Paid by Wire</span>
            <% elsif c.status == "PENDING"%>
              <span class="badge btn-info check-sent-st-13"><%=	c.status  %></span>
            <% elsif c.status == "FAILED" %>
              <span class="badge btn-danger check-sent-st-14"><%=	c.status  %></span>
            <% elsif c.status == "COMPLETE" %>
              <span class="badge btn-success check-sent-st-15"><%=	c.status  %></span>
            <% else %>
              <span class="badge badge-info check-sent-st-16"><%=	c.status  %></span>
            <% end %>




<!--            <span class="badge badge-info"><%#=	ach_status(c.status)  %></span></td>-->
          </td>
          <td><%=	c. name  %></td>
          <td class="timeUtc-user"><%=	c.created_at.strftime("%m-%d-%Y %I:%M:%S %p")%></td>

        </tr>
      <%	 end  %>
    <% else %>
      <tr><td colspan="8"><h3 class="check-sent-st-17">No Entries Yet!</h3></td></tr>
    <%	 end  %>
    </tbody>
  </table>
</div>
</section>
<div class="card-footer text-right" id="new_request_footer">
  <div class="row">
    <div class="col-md-2 text-left">
      <small>
        Showing <%=@checks.try(:size)%> of <%=@checks.total_count %> records</small>
    </div>
    <div class="col-md-10 ">
      <%= paginate @checks, :theme => 'twitter-bootstrap-3', :pagination_class => "pagination-small pagination-centered pull-right"%>
    </div>
  </div>
</div>
</section>
<script type="text/javascript">


    // $(document).ready(function () {
    //     var lt= $('.timeUtc').each(function (i,v) {
    //         var gmtDateTime = moment.utc(v.innerText,'YYYY-MM-DD HH:mm:ss');
    //         var local = moment(gmtDateTime).local().format('MM-DD-YYYY');
    //         v.innerText = local
    //     });
    // });
</script>