
    
    <!--<div class="well well-sm">-->
<div class="cover"></div>
      <div class="card" data-exclude="xs,sm,lg">
        <div class="card-header bordered">
          <div class="header-block">
            <h3 class="title">All Cases</h3>
          </div>
          <!--<div class="header-block pull-right">-->
          <!--<button type="button" data-toggle="modal" data-target="#search" class="btn btn-warning btn-sm"><i class="icon-magnifier icons"></i> Search</button>-->
          <!--</div>-->
        </div>
        <p hidden id="as" class="as" ><%= @next %></p>
        <section class="example">
          <div class="">
            <div class="row ad-m-txn-st-3">
              <div class="col-sm-12 col-md-6 ad-m-txn-st-4">
                <div class="dataTables_length">
                  <div class="col-md-6 ad-m-txn-st-5">
                    <span class="ad-m-txn-st-6">Show</span>
                    <span class="ad-m-txn-st-7">
                        <%= form_tag path, method: :get, id:'user_dispute'  do  %>
                          <input type="hidden" name='tab' value="<%= params[:tab] %>" >
                          <input type="hidden" name='user_id' value="<%= params[:user_id] %>" >
                           <%= select_tag "tx_filter1", options_for_select(@filters.map{|v|[v]}, selected: params[:tx_filter1].present? ? params[:tx_filter1] : "10"),
                                          :prompt => false,
                                          :required => true,
                                          class: "form-control tx_filter form-control-sm",
                                          data: {confirm: "Are you sure ?"}
                           %>
                     <% end %>
                    </span>
                    <span class="ad-m-txn-st-21">Entries</span>
                  </div>
                </div>
              </div>
            </div>
            <div class="table-responsive">
              <table id="datatable-keytable-disputes" class="table table-striped table-bordered table-hover" cellspacing="0" cellpadding="0">
                <thead>
                  <tr>
                    <th>Case Number</th>
                    <th>Dispute Type</th>
                    <th>Received Date</th>
                    <th>Due Date</th>
                    <th>Amount</th>
                    <th>Last 4</th>
                    <th>Status</th>
                    <th>Action</th>
                  </tr>
                </thead>
                <tbody id="tbody">
                  <% @total_disputes.try(:each) do |dispute_case| %>
                    <tr>
                      <td><%= dispute_case.try(:case_number) %></td>
                      <td><%= dispute_case.try(:dispute_type).humanize.titleize %></td>
                      <% if dispute_case.recieved_date.nil? %>
                        <td>NA</td>
                      <% else %>
                          <td class="disputetimeUtc"><%= dispute_case.try(:recieved_date).strftime("%m-%d-%Y") %></td>
                      <% end %>
                      <% if dispute_case.due_date.nil? %>
                          <td>NA</td>
                      <% else %>
                          <td class="disputetimeUtc"><%= dispute_case.try(:due_date).strftime("%m-%d-%Y") %></td>
                      <% end %>
                      <td>$<%= number_with_precision(dispute_case.try(:amount),precision: 2) %></td>
                      <td><%= dispute_case.try(:card_number) %></td>
                      <td class="dis-txn-st-1">
                        <% if dispute_case.try(:status)=='won_reversed' %>
                            <span class="badge badge-success dis-txn-st-2">Won/Reversed</span>
                        <% elsif dispute_case.try(:status)=='sent_pending' %>
                            <span class="badge badge-primary dis-txn-st-3">Sent/Pending</span>
                        <% elsif dispute_case.try(:status)=='lost' %>
                            <span class="badge badge-danger dis-txn-st-4">Lost</span>
                        <% end %>
                      </td>
                      <td>
                        <%#= link_to '<i class="fa fa-pencil fa-lg dis-txn-st-5"></i>'.html_safe, dispute_case_admins_disputes_path(id: dispute_case.id), class: 'pen_btn modal-container-selector',remote: true %>
                        <%= link_to('<i class="fa fa-pencil fa-lg dis-txn-st-5 "></i>'.html_safe, "#",  class:"show-dynamic-modal pen_btn show-cover-spin custom-cover", remote: true, "data-modal_container_selector" => "#dispute_case_modals", "data-modal_selector" => "#disputeCaseModal", "data-url" => dispute_case_admins_disputes_path(id: dispute_case.id), "data-method" => "GET") %>
                      </td>
                    </tr>
                  <% end %>
                </tbody>
              </table>
            </div>
            <div class="card-footer text-right" >
              <div class="row">
                <div class="col-md-12">
                  <% if @total_disputes.present? %>
                    <p class="pull-left ad-mm-txn-st-8" id="total_entries">Showing <%= @total_disputes.present? ? @total_disputes.try(:count) : 0 %> of <%= @total_disputes.try(:total_count) %></p>
                    <p class="ad-mm-txn-st-9" id="page-count">Page <%= params[:page].present? ? params[:page] : 1 %></p>
                    <div class="ad-mm-txn-st-10" id="next_button">
                      <%= paginate @total_disputes, :theme => 'twitter-bootstrap-3', :pagination_class => "pagination-small pagination-centered pull-right" %>
                    </div>
                  <% end %>
                </div>
              </div>
            </div>
          </div>
          <div id="cover-spin"></div>
        </section>
      </div>

    <!--</div>-->
<section id="dispute_case_modal"></section>
<section id="dispute_case_delete_modal"></section>









