<%= stylesheet_link_tag asset_path("admins/wallets_partials_details/wallets_partials_details"), media: 'all', 'data-turbolinks-track' => 'reload' %>
<table id="datatable-keytable" class="table table-striped table-bordered table-hover width_max" cellspacing="0" cellpadding="0">
  <thead>
  <tr>
    <th>Txn ID</th>
    <th>Date/Time</th>
    <% if @iso_agent_aff %>
      <th>Transaction Type</th>
      <th>Sender Name</th>
      <th>DBA Name</th>
      <th>Merchant Txn Type</th>
      <th>Total Tx Amount</th>
      <th>Commission</th>
      <th>Receiver Name</th>
    <% else %>
      <th>Sender Name</th>
      <th>Receiver Name</th>
      <th>Type</th>
      <th>Status</th>
      <th>Descriptor</th>
      <th>C.C #</th>
      <th>Total Tx Amount</th>
    <% end %>
  </tr>
  </thead>
  <tbody id="tbody">
  <% if transactions.present?  %>
    <% transactions.each do |t| %>
      <% if @user.present? && @user.user? %>
        <% if t.status == 'pending' %>
          <tr data-url= "<%= local_transaction_details_transactions_path(transaction: t.id,trans: "decline") %>" class="local_user_transaction show-cover-spin show-dynamic-modal local-u-txn-st-1"  data-modal_selector="#DetailDeclineModal" data-modal_container_selector="#decline_transaction_modal" data-method = "POST">
        <% elsif t.status == 'refunded' %>
          <tr data-url= "<%= local_transaction_details_transactions_path(transaction: t.id,trans: "refund") %>" class="local_user_transaction show-cover-spin show-dynamic-modal local-u-txn-st-2"  data-modal_selector="#modal_id"data-modal_container_selector="#custom_modal" data-method = "POST"  >
        <% else %>
          <tr data-url= "<%= local_transaction_details_transactions_path(transaction: t.id,trans: "user",user_id: @user.id) %>" class="local_user_transaction show-cover-spin show-dynamic-modal local-u-txn-st-3" data-modal_selector="#modal_id" data-modal_container_selector="#custom_modal" data-method = "POST">
        <% end %>
        <td><%= t.seq_transaction_id.present? ? t.seq_transaction_id[0..5] : t.id %></td>
      <% elsif @user.present? && @user.merchant? && @wallet.reserve? %>
        <tr data-url= "<%= local_transaction_details_transactions_path(transaction: t.id,trans: "merchant_reserve",user_id: @user.try(:id), wallet: @wallet.id) %>" class="local_user_transaction show-dynamic-modal show-cover-spin local-u-txn-st-4" data-modal_selector="#modal_id" data-modal_container_selector="#custom_modal" data-method = "POST" >
          <td><%= t.try(:sequence_id).present? ? t.sequence_id[0..5] : t.id %></td>
      <% elsif @user.present? && @user.merchant? %>
        <tr data-url= "<%= local_transaction_details_transactions_path(transaction: t.id,trans: "merchant",user_id: @user.try(:id)) %>" class="local_user_transaction show-dynamic-modal show-cover-spin local-u-txn-st-4" data-modal_selector="#modal_id" data-modal_container_selector="#custom_modal" data-method = "POST" >
          <td><%= t.try(:sequence_id).present? ? t.sequence_id[0..5] : t.id %></td>
      <% else %>
        <tr data-url= "<%= local_transaction_details_transactions_path(transaction: t.id,trans: "iso_agent_aff",user_id: @user.try(:id)) %>" class="local_user_transaction show-cover-spin show-dynamic-modal local-u-txn-st-4" data-modal_selector="#modal_id" data-modal_container_selector="#custom_modal" data-method = "POST" >

          <td><%= t.try(:sequence_id).present? ? t.sequence_id[0..5] : t.id %></td>
      <% end %>
      <td class="timeUtc-user"><%= t.timestamp.present? ? t.timestamp.strftime("%m-%d-%Y %H:%M:%S %z") : t.created_at.strftime("%m-%d-%Y %H:%M:%S %z") %></td>
      <% if @iso_agent_aff %>
        <td>
          <% if t.main_type == "Subscription fee" %>
            <%= show_iso_local_type(t) %>
          <% elsif t.main_type == "Service Fee" %>
            Monthly Fee
          <% else %>
            <% txn_type = main_type_format(t.main_type) %>
            <%if txn_type == "Push to Card" %>
              <%= t.action == "retire"? "Push To Card Deposit" : "Push To Card" %>
            <%elsif txn_type == "Send Check" %>
              <%= t.action == "retire"? "Check Deposit" : "Send Check" %>
            <%else %>
              <%= txn_type %>
            <% end %>
          <% end %>
        </td>
        <td><%= change_wallets_name(t.sender_name || t.tags.try(:[], "merchant").try(:[], "name").try(:truncate, 24) || "--") %></td>
        <td><%= t.location_dba_name || t.tags.try(:[], "location").try(:[], "business_name") || "--" %></td>
        <% tx_type = main_type_format(show_iso_local_type(t) || "---") %>
        <td>
          <%#= tx_type == "Instant Pay" ? "Push to Card" : tx_type.downcase == "ach deposit" ? "ACH Deposit" : tx_type %>
          <% if tx_type == "Push To Card" %>
            <%= t.action == "retire" ? "Push to Card Deposit" : "Push to Card" %>
          <% elsif tx_type == "Send Check" %>
            <%= t.action == "retire" ? "Check Deposit" : "Send Check" %>
          <% elsif  tx_type == "B2B Transfer" && (t.sub_type == "invoice" || t.tx_sub_type == "invoice")  %>
            Invoice - QC
          <% elsif  tx_type == "Qcp Secure" && (t.sub_type == "QCP Secure_fee" || t.tx_sub_type == "QCP Secure_fee")  %>
            QCP Secure
          <% elsif  tx_type == "Invoice   Credit Card" && (t.sub_type == "Invoice - Credit Card_fee" || t.tx_sub_type == "Invoice - Credit Card_fee")  %>
            Invoice - Credit Card
          <% elsif  tx_type == "Invoice   Debit Card" && (t.sub_type == "Invoice - Debit Card_fee" || t.tx_sub_type == "Invoice - Debit Card_fee")  %>
            Invoice - Debit Card
          <% else %>
            <%= tx_type.downcase == "ach deposit" ? "ACH Deposit" : tx_type %>
          <%end %>
        </td>
        <!--For search purpost we are showing main amount from block transaction-->
        <% if t.main_amount.to_f.present? && t.net_fee.to_f.present? && t.sub_type == "ACH Deposit_fee" %>
          <% tx_amount = t.main_amount.to_f + t.net_fee.to_f %>
        <% else %>
          <% tx_amount = t.main_amount.to_f > 0 ? t.main_amount.to_f : cents_to_dollars(t.amount_in_cents) %>
        <% end %>
        <td><%= number_with_precision(number_to_currency(tx_amount.to_f), precision: 2) %></td>
        <td>
            <% user = @user %>
          <% if ["Send Check", "ACH Deposit", "Instant Pay"].include? t.main_type %>
            --
          <% elsif user.try(:id) == t.receiver_id %>
            <span class="local-u-txn-st-5"><strong>+$<%= cents_to_dollars(t.amount_in_cents) %></strong></span>
          <% else %>
            <span class="local-u-txn-st-6"><strong>-$<%= cents_to_dollars(t.amount_in_cents) %></strong></span>
          <% end %>
        </td>
        <td>
            <%= change_wallets_name(t.receiver_name.try(:truncate, 24) || "---" ) %>
        </td>
      <% else %>
          <td><%= change_wallets_name(t.sender_name.try(:truncate, 24)  || "--") %></td>
          <td>
            <% if t.try(:main_type) == TypesEnumLib::TransactionType::RefundFailed %>
              <%= t.receiver_wallet_id.present? ? t.receiver_wallet.try(:name) : "--" %>
            <% else %>
            <%= change_wallets_name(t.receiver_name.try(:truncate, 24) || "--") %>
            <% end %></td>
        <td>
          <% if  t.main_type == "B2B Transfer" && t.sub_type == "invoice"  %>
            Invoice - QC
          <% else%>
            <%= main_type_format(t.main_type == "Instant Pay" ? "Push to Card" : t.main_type == "Service Fee" ? "Monthly Fee" : t.main_type) %>
          <% end %>
        </td>
        <% if t.status == 'approved' %>
          <td><span class="badge badge-info local-u-txn-st-7">Approved</span></td>
        <% elsif t.status == 'refunded' %>
          <td><span class="badge badge-info local-u-txn-st-8">Refunded &#8617;</span>
          </td>
        <% elsif t.status == 'pending' %>
          <td><span class="badge badge-info local-u-txn-st-9">Declined</span></td>
        <% else %>
          <td><%= t.try(:status) || "--" %></td>
        <% end %>
        <td>
          <% if t.main_type == "Reserve money deposit"  %>
              Quickcard
          <% else %>
              <%= t.try(:tags).try(:[],"descriptor").present? ? t.try(:tags).try(:[],"descriptor") : t.try(:tags).try(:[],"source").present? ? t.try(:tags).try(:[],"source") :  "--" %>
          <% end %>
        </td>
        <% if t.first6.present? || t.last4.present? %>
          <td> <%= "#{t.first6}****#{t.last4}" %>
            <% if t.tags.present? && t.tags["card"].present? && t.tags["card"]["brand"].present? %>
              <% brand = t.tags["card"]["brand"].try(:downcase) %>
            <% else %>
              <% brand = t.card.try(:[], 'brand').try(:downcase) %>
            <% end %>
            <% if brand.present? %>
              <% if brand == 'visa' %>
                <%= image_tag("Visa1.png", :alt => "rss feed", class: "local-u-txn-st-10") %>
              <% elsif brand == 'mastercard' %>
                <%= image_tag("mastercard1.png", :alt => "rss feed", class: "local-u-txn-st-11") %>
              <% elsif brand == 'amex' %>
                <%= image_tag("american_expres1.png", :alt => "rss feed", class: "local-u-txn-st-12") %>
              <% elsif brand == 'discover' %>
                <%= image_tag("discover.jpg", :alt => "rss feed", class: "local-u-txn-st-13") %>
              <% end %>
            <% end %>
          </td>
        <% elsif t.main_type == 'refund' || t.main_type == 'refund_bank' %>
          <% card = t.card %>
          <% card_details = Transaction.find_by(seq_transaction_id: t.tags.try(:[], 'refund_details').try(:[], 'parent_transaction_id')) if t.tags.try(:[], 'refund_details').try(:[], 'parent_transaction_id').present? && card.blank? %>
          <% if card.present? %>
            <td> <%= card.try(:first6) %>****
              <%= card.try(:last4) %>
              <% if card.present? && card.try(:brand).try(:downcase) == 'visa' %>
                <%= image_tag("Visa1.png", :alt => "rss feed", class: "local-u-txn-st-14") %>
              <% elsif card.present? && card.try(:brand).try(:downcase) == 'mastercard' %>
                <%= image_tag("mastercard1.png", :alt => "rss feed", class: "local-u-txn-st-15") %>
              <% elsif card.present? && card.try(:brand).try(:downcase) == 'amex' %>
                <%= image_tag("american_expres1.png", :alt => "rss feed", class: "local-u-txn-st-16") %>
              <% elsif card.present? && card.try(:brand).try(:downcase) == 'discover' %>
                <%= image_tag("discover.jpg", :alt => "rss feed", class: "local-u-txn-st-17") %>
              <% end %>
            </td>
          <% elsif card_details.present? %>
            <td> <%= card_details[:tags].try(:[], 'previous_issue').try(:[], 'tags').try(:[], 'card').try(:[], 'first6') %>
              ****
              <%= card_details[:tags].try(:[], 'previous_issue').try(:[], 'tags').try(:[], 'card').try(:[], 'last4') %>
              <% if card_details.card.present? && card_details.card.try(:[], 'brand').try(:downcase) == 'visa' %>
                <%= image_tag("Visa1.png", :alt => "rss feed", class: "local-u-txn-st-18") %>
              <% elsif card_details.card.present? && card_details.card.try(:[], 'brand').try(:downcase) == 'mastercard' %>
                <%= image_tag("mastercard1.png", :alt => "rss feed", class: "local-u-txn-st-19") %>
              <% elsif card_details.card.present? && card_details.card.try(:[], 'brand').try(:downcase) == 'amex' %>
                <%= image_tag("american_expres1.png", :alt => "rss feed", class: "local-u-txn-st-20") %>
              <% elsif card_details.card.present? && card_details.card.try(:[], 'brand').try(:downcase) == 'discover' %>
                <%= image_tag("discover.jpg", :alt => "rss feed", class: "local-u-txn-st-21") %>
              <% end %>
            </td>
          <% else %>
            <td>---</td>
          <% end %>
        <% else %>
          <td>---</td>
        <% end %>
        <td>
          <% if t.main_type == 'cbk_hold' || t.main_type == 'cbk_won' || t.main_type == TypesEnumLib::TransactionType::CbkWon || t.main_type == 'retrievel_fee' || t.main_type == 'cbk_lost' || t.main_type == 'CBK Lost Retire' || t.main_type == 'cbk_fee' || t.main_type == 'cbk_dispute_accepted'  %>
            <%= t.action.present? && (t.action == 'retire' || t.action == 'withdraw' || t.main_type == TypesEnumLib::TransactionType::CbkWon) ? '-' : '' %>  <%= number_with_precision(number_to_currency(t.try(:amount).present? ? t.try(:amount).try(:to_f) : t.try(:amount_in_cents).try(:to_f) / 100), precision: 2) %>
          <% else %>
            <% if (t.main_type == 'Void Check' || t.main_type == 'Void ACH') && (t.action != 'retire') %>
              +<%= number_with_precision(number_to_currency(t.try(:total_amount).present? ? t.try(:amount).try(:to_f) : t.try(:amount_in_cents).try(:to_f) / 100), precision: 2) %>
            <% elsif t.sender_wallet_id == @wallet.id %>
               -<%= number_with_precision(number_to_currency(t.try(:total_amount).present? ? t.try(:total_amount).try(:to_f) : t.try(:amount_in_cents).try(:to_f) / 100), precision: 2) %>
            <% else %>
              <%= number_with_precision(number_to_currency(t.try(:total_amount).present? ? t.try(:total_amount).try(:to_f) : t.try(:amount_in_cents).try(:to_f) / 100), precision: 2) %>
            <% end %>
          <% end %>
        </td>
      <% end %>
    <% end %>
  <% end %>
  </tbody>
</table>
<div id="cover-spin"></div>
<%= javascript_include_tag "admins/locations/wallet_transactions.js" %>