<section class="section">
  <div class="card-header bordered">
    <div class="header-block">
      <h3 class="title">All P2C</h3>
    </div>

  </div>
  <input type="hidden" name="tx_filter" id="tx_filter" value="<%= params[:tx_filter_p2c].present? ? params[:tx_filter_p2c] : "" %>"  />
  <div class="row" >
    <div class="col-sm-6 col-md-12">
      <div class="dataTables_length">
        <div class="col-md-12 p2c-sent-st-1">
          <span class="p2c-sent-st-2">Show</span>
          <span class="p2c-sent-st-3">
                    <%= form_tag call_from, method: :get, id: "filter_form_p2c"  do  %>
                           <%= select_tag "tx_filter_p2c", options_for_select(@filters.map{|v|[v]}, selected: params[:tx_filter_p2c].present? ? params[:tx_filter_p2c] : "10"),
                                          :prompt => false,
                                          :required => true,
                                          class: "form-control form-control-sm",
                                          data: {confirm: "Are you sure ?"}
                           %>
              <%= select_tag "tab", options_for_select(selected: "menu_7"),class: "p2c-sent-st-4"
              %>
                        <% end %>
                    </span>
          <span class="p2c-sent-st-5">Entries</span>
        </div>
      </div>
    </div>
    <div class="col-sm-6 col-md-6">
    </div>
  </div>
  <!--<div class="header-block pull-right">-->
  <!--<button type="button" data-toggle="modal" data-target="#search" class="btn btn-warning btn-sm"><i class="icon-magnifier icons"></i> Search</button>-->
  <!--</div>-->
  </div>
  <section class="example">
    <div class='table-responsive'>
      <table id="datatable-keytable" class="table table-striped table-bordered table-hover p2c-sent-st-6">
        <thead>
        <tr>
          <th>Id</th>
          <th>Number</th>
          <th>Recipient</th>
          <th>Amount</th>
          <th>Status</th>
          <th>Name</th>
          <th>Creation Date</th>

        </tr>
        </thead>
        <tbody>
        <% if !@p2c.try(:empty?) && @p2c.present? %>
          <%	@p2c.each do |c|  %>
            <tr>
              <td><%=c.id	  %></td>
              <% if c.instant_pay? %>

                <td><%= c.checkId.blank? ? "-" : ach_check_number(c.checkId) %></td>
              <% else %>
                <td><%= c.number.blank? ? "-" : c.number %></td>
              <% end %>
              <!--                      <td><%#= c.number.blank? ? "-" : c.number %></td>-->
              <td><%=c.recipient%></td>
              <td>$ <%= number_with_precision(c.actual_amount.to_f, :precision => 2, delimiter: ',') %></td>

              <td>
                <% if ach_status(c.status)=="PAID" || ach_status(c.status)=="paid" %>
                  <span class="badge badge-info p2c-sent-st-7"><%= ach_status(c.status) %></span>
                <% elsif ach_status(c.status)=="VOID" || ach_status(c.status)== "void" %>
                  <span class="badge badge-info_void p2c-sent-st-8"><%= ach_status(c.status) %></span>
                <% elsif ach_status(c.status)=="PAID_WIRE" ||ach_status(c.status)=="paid_wire" %>
                  <span  class="badge badge-info_paid_wire p2c-sent-st-9"><%= ach_status(c.status) %></span>
                <% elsif ach_status(c.status)=="IN_PROCESS" %>
                  <span  class="badge btn-warning p2c-sent-st-10"><%= ach_status(c.status) %></span>
                <% elsif ach_status(c.status)=="PENDING" ||ach_status(c.status)=="pending" %>
                  <span  class="badge badge-info_pending p2c-sent-st-11"><%= ach_status(c.status) %></span>
                <% elsif ach_status(c.status)=="FAILED" ||ach_status(c.status)=="failed" %>
                  <span  class="badge badge-info_failed p2c-sent-st-12"><%= ach_status(c.status) %></span>
                <% end %>

              </td>
              <td><%=	c. name  %></td>
              <td class="timeUtc-user"><%=	c.created_at.strftime("%m-%d-%Y %I:%M:%S %p")%></td>

            </tr>
          <%	 end  %>
        <% else %>
          <tr><td colspan="8"><h3 class="p2c-sent-st-13">No Entries Yet !</h3></td></tr>
        <%	 end  %>
        </tbody>
      </table>
    </div>
  </section>
  <div class="card-footer text-right" id="new_request_footer">
    <div class="row">
      <div class="col-md-2 text-left">
        <small>
          Showing <%if @p2c.present? %>
                    <%=@p2c.try(:size)%> of <%=@p2c.total_count %> records</small>
                  <%end %>
      </div>
      <div class="col-md-10 ">
        <%if @p2c.present? %>
          <%= paginate @p2c, :theme => 'twitter-bootstrap-3', :pagination_class => "pagination-small pagination-centered pull-right"%>
        <%end %>
      </div>
    </div>
  </div>
</section>

