<table id="datatable-keytable" class="table table-striped table-bordered table-hover" cellspacing="0" cellpadding="0">
  <thead>
  <tr>
    <th>ID</th>
    <th>Date/Time<button id="click_to_return" class="user-txn-st"></button></th>
    <th>Type</th>
    <th>Merchant Name</th>
    <th>DBA Name</th>
    <th>Transaction Type</th>
    <th>Total Amount</th>
    <th>Commission</th>
    <th>Receiver</th>
  </tr>
  </thead>
  <tbody id="tbody">
  <% transactions.try(:each) do |tx| %>
    <tr>
      <td class="sorted">
        <%= tx[:id].first(6) %>
      </td>
      <td class="timeUtc-user"><% if tx[:timestamp].is_a?(String) %>
          <%= tx[:timestamp].to_datetime.utc.strftime("%Y-%m-%d %H:%M:%S %z") %>
        <% else %>
          <%= tx[:timestamp].strftime("%Y-%m-%d %H:%M:%S %z") %>
        <% end %>
      </td>
      <td><%= tx[:type] %></td>
      <td><%= tx[:merchant].present? ? tx[:merchant] : "---" %></td>
<!--      <td><%#= tx[:merchant].present? ? tx[:merchant]["name"] : "---" %></td>-->
      <td><%= tx[:location].present? ? tx[:location]["business_name"] : "---" %></td>
      <td><%= tx[:transaction_type] %></td>
      <td>
        <%= number_to_currency(tx[:transaction_amount]) %>
      </td>
      <td>
        <%= number_to_currency(get_admin_commission(tx[:amount_updated], tx[:fee_without_hold_money], tx[:type])) %>
      </td>
      <td><%= tx[:destination_name] %></td>
    </tr>
  <% end %>
  </tbody>
</table>
<script>
    var table = $('#datatable-keytable').DataTable({
        responsive:false,
        "sScrollX": true,
        "searching": true,
        "bLengthChange": true,
        "bPaginate": false,
        "columnDefs": [
            { "orderable": false, "targets": 7 }

        ],
        "order": [[ 1, "desc" ]]
    });
    $(document).ready(function () {
        var lt= $('.timeUtc-user').each(function (i,v) {
            // var gmtDateTime =  moment(v.innerText.replace('UTC', '')).utc().format('MM-DD-YYYY HH:mm:ss')
            var gmtDateTime = moment.utc(v.innerText,'YYYY-MM-DD HH:mm:ss');
//           var gmtDateTime = moment.utc(v.innerText).toDate();
            var local = moment(gmtDateTime).local().format('YYYY-MM-DD hh:mm:ss A');
            v.innerText = local

        });
    });
</script>