<%=form_tag user_transactions_path, method: :get, class:'search_transactions',  autocomplete: "off" do  %>
  <div class="col-sm-12 ad-user-txn-st-16">
    <div class="col-sm-12">
      <div class="collapse mb-3" id="search">
        <div class="card card-body">
          <div class="row ad-user-txn-st-17">
            <% if @iso_agent_aff %>
              <div class="col-md-12 ad-user-txn-st-18">
                <input type="hidden" name="q[wallet_id]" value="<%= @wallet.try(:id) %>">
                <div class="form-group col-md-4">
                  <label for="id">Txn ID</label>
                  <input type="text" name="q[id]" id="txn_id" class="form-control name" placeholder="Id"  value="<%= params[:q].present? ? params[:q]["id"] : "" %>" />
                </div>
                <div class="form-group col-md-4 ui-front" id="date_parent">
                  <label for="id">Date</label>
                  <input type="text" name="q[timestamp]" id="timestamp" class="datepicker form-control date" placeholder=" Date"  value="<%= params[:q].present? ? params[:q][:timestamp] : "" %>" />
                </div>
                <% if @types.present? %>
                  <div class="form-group col-md-4">
                    <label for="id">Type</label>
                    <%=	select_tag 'q[type][]', options_for_select(@types.try(:map){|v|[v[:view],v[:value]]}, params[:q].present? ? params[:q]["type"] : ""),class: "form-control ad-user-txn-st-19", multiple: true  %>
                    <!--                          <input type="text" name="q[main_type]" id="receive" class="form-control" placeholder="Type"  value="<%#= params[:q].present? ? params[:q]["main_type"].humanize.capitalize : "" %>"  />-->
                  </div>
                <% end %>

              </div>
              <div class="col-md-12 ad-user-txn-st-20">
                <div class="form-group col-md-4">
                  <label for="id">Sender Name</label>
                  <input type="text" name="q[sender_name]" id="merchant_name" class="form-control name" placeholder="Sender Name" value="<%= params[:q].present? ? params[:q]["sender_name"] : "" %>"/>
                </div>
                <div class="form-group col-md-4">
                  <label for="id">DBA Name</label>
                  <input type="text" name="q[business_name]"  id="business_name" class="form-control name" placeholder="DBA Name" value="<%= params[:q].present? ? params[:q]["business_name"] : "" %>"  />
                </div>
                <div class="form-group col-md-4">
                  <label for="id">Receiver Name</label>
                  <input type="text" name="q[receiver_name]"  id="receiver_name" class="form-control name" placeholder="Receiver Name" value="<%= params[:q].present? ? params[:q]["receiver_name"] : "" %>"  />
                </div>
              </div>
              <div class="col-md-12 ad-user-txn-st-21">
                <% if @merchants_txn_type.present? || @types.present? %>
                  <div class="form-group col-md-4">
                    <label for="id">Merchant Txn type</label>
                    <% if @wallet.check_escrow? || @user.qc? %>
                      <%=	select_tag 'q[merchant_type][]', options_for_select(@merchants_txn_type.map{|v|[v[:view],v[:value]]}, params[:q].present? ? params[:q]["merchant_type"] : ""),class: "form-control ad-user-txn-st-19", multiple: true  %>
                    <% else %>
                      <%=	select_tag 'q[merchant_type][]', options_for_select(@types.map{|v|[v[:view],v[:value]]}, params[:q].present? ? params[:q]["merchant_type"] : ""),class: "form-control ad-user-txn-st-19", multiple: true  %>
                    <% end %>
                  </div>
                <% end %>
                <div class="form-group col-md-4">
                  <label for="id">Transaction Amount</label>
                  <input type="text" name="q[amount]" id="amount" class="form-control amount_field" placeholder="Amount" value="<%= params[:q].present? ? params[:q]["amount"] : "" %>"/>
                </div>
                <div class="form-group col-md-4">
                  <label for="id">Commission</label>
                  <input type="text" name="q[commission]"   class="form-control amount_field" placeholder="commission" value="<%= params[:q].present? ? params[:q]["commission"] : "" %>"  />
                </div>
              </div>
            <% else %>
              <div class="col-md-12 ad-user-txn-st-18">
                <input type="hidden" name="q[wallet_id]" value="<%= @wallet.try(:id) %>">
                <div class="form-group col-md-4">
                  <label for="id">Txn ID</label>
                  <input type="text" name="q[id]" id="txn_id" class="form-control name" placeholder="Id"  value="<%= params[:q].present? ? params[:q]["id"] : "" %>" />
                </div>
                <div class="form-group col-md-4" id="date_parent">
                  <label for="id">Date</label>
                  <input type="text" name="q[timestamp]" id="timestamp" class="datepicker form-control date" placeholder=" Date"  value="<%= params[:q].present? ? params[:q][:timestamp] : "" %>" />
                </div>
                <div class="form-group col-md-4">
                  <label for="id">Type</label>
                  <%=	select_tag 'q[type][]', options_for_select(@types.map{|v|[v[:view],v[:value]]}, params[:q].present? ? params[:q]["type"] : ""),class: "form-control ad-user-txn-st-19", multiple: true  %>
                  <!--                          <input type="text" name="q[main_type]" id="receive" class="form-control" placeholder="Type"  value="<%#= params[:q].present? ? params[:q]["main_type"].humanize.capitalize : "" %>"  />-->
                </div>

              </div>
              <div class="col-md-12 ad-user-txn-st-20">
                <div class="form-group col-md-4">
                  <label for="id">Sender Name</label>
                  <input type="text" name="q[sender_name]" id="merchant_name" class="form-control name" placeholder="Sender Name" value="<%= params[:q].present? ? params[:q]["sender_name"] : "" %>"/>
                </div>
                <div class="form-group col-md-4">
                  <label for="id">Receiver Name</label>
                  <input type="text" name="q[receiver_name]"  id="business_name" class="form-control name" placeholder="Receiver Name" value="<%= params[:q].present? ? params[:q]["receiver_name"] : "" %>"  />
                </div>
                <div class="form-group col-md-4">
                  <label for="id">Descriptor</label>
                  <%= select_tag 'q[gateway][]', options_for_select(@gateways.map {|v| [v[:view].camelcase, v[:value]]}.sort, params[:q].present? ? params[:q]["gateway"] : ""), class: "form-control", multiple: true %>
                </div>
              </div>
              <div class="col-md-12 ad-user-txn-st-21">
                <div class="form-group col-md-4">
                  <label for="id">Amount</label>
                  <input type="text" name="q[amount]" id="amount" class="form-control amount_field" placeholder="Amount" value="<%= params[:q].present? ? params[:q]["amount"] : "" %>"/>
                </div>
                <div class="form-group col-md-4">
                  <label for="id">First 6</label>
                  <input type="text" name="q[first6]"  id="first6" class="form-control card_number" placeholder="First6" value="<%= params[:q].present? ? params[:q]["first6"] : "" %>"  />
                </div>
                <div class="form-group col-md-4">
                  <label for="id">Last 4</label>
                  <input type="text" name="q[last4]"  id="last4" class="form-control card_number" placeholder="Last4" value="<%= params[:q].present? ? params[:q]["last4"] : "" %>"  />
                </div>
              </div>
            <% end %>
            <div class="col-md-12 text-right">
              <input type="hidden" name="trans" value="<%= params[:trans]  if  params[:trans].present? %>"  />
              <input type="hidden" name="tab" value="<%= params[:tab]  if  params[:tab].present? %>"  />
              <input type="hidden" name="offset" value="<%= params[:offset].present? ? params[:offset] : cookies[:timezone].present? ? Time.now.in_time_zone(cookies[:timezone]).strftime("%:z") : Time.now.in_time_zone(TIMEZONE).strftime("%:z")%>"  />
              <button type="submit" class="btn btn-success btn-sm search_button ad-user-txn-st-22">Search</button>
              <input type="hidden" name="tx_filter" id="tx_filter" value="<%= params[:tx_filter].present? ? params[:tx_filter] : "" %>"  />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end  %>