<section class="example">
    <div class="table-responsive">

      <table id="datatable-keytable-bank-verification" class="table table-striped table-bordered table-hover" cellspacing="0" cellpadding="0">
        <thead>
        <tr>
          <%if params[:req] == "banks" %>
            <th class="ver-table-st-1">User ID</th>
            <th >Request By</th>
            <th class='request-date'>Request Date</th>
            <th class='request-date'>Approved Date</th>
            <th>Email</th>
          <%else %>
            <th>MID</th>
            <th>Corporate Name</th>
            <th>Email</th>
            <th>Total Accounts</th>
            <th>Created At</th>
            <th>Approved At</th>
            <th>Approved By</th>
          <%end %>
          <th>Status</th>
          <% if params[:req] != "approved" %>
          <th>Actions</th>
          <% end %>
        </tr>
        </thead>
        <tbody>
        <% if reqs.present? %>
            <% reqs.each do |user| %>
                <tr>
                  <%if params[:req] == "banks" %>
                    <%if user.merchant? %>
                      <%if user.merchant_id.present? %>
                        <td>M-<%= user.merchant_id %></td>
                      <%else %>
                        <td>M-<%= user.id %></td>
                      <%end %>
                    <%elsif user.iso? %>
                      <td>ISO-<%= user.id %></td>
                    <%elsif user.agent? %>
                      <td>A-<%= user.id %></td>
                    <%elsif user.affiliate? %>
                      <td>AF-<%= user.id %></td>
                    <%else%>
                      <td><%= user.id %></td>
                    <%end %>
                    <td><%= user.name.present? ? user.name.truncate(23) : '--' %></td>
                        <% if user.ach_bank_request_date.present?%>
                          <td class="utc"><%=  user.ach_bank_request_date.to_datetime.strftime("%Y-%m-%d %H:%M:%S %z")  %></td>
                        <% else %>
                          <td class="ver-table-st-3"><%= "--" %></td>
                        <% end %>
                        <% if user.approve_date.present?%>
                          <td class="utc"><%=  user.approve_date.to_datetime.strftime("%Y-%m-%d %H:%M:%S %z")  %></td>
                        <% else %>
                            <td class="ver-table-st-4"><%= "--" %></td>
                        <% end %>
                    <td><%= user.email %></td>
                  <%else %>
                    <td><%= user.present? ? user.id : '--' %></td>
                    <td><%= user.name.present? ? user.name.truncate(23) : '--' %></td>
                    <td><%= user.email %></td>
                    <td class="ver-table-st-4"> <%= user.get_locations.present? ? user.get_locations.count : "--" %></td>
                    <%if user.created_at.present? %>
                    <td class="utc"><%= user.created_at.present? ? user.created_at : '--' %></td>
                    <% else %>
                      <td class="ver-table-st-4"><%= "--" %></td>
                    <% end %>
                    <% if user.approve_date.present? %>
                    <td class="utc"><%= user.approve_date %></td>
                    <% else %>
                      <td class="ver-table-st-4"><%= "--" %></td>
                    <% end %>
                    <% if user.approved_by.present? %>
                      <% user_id = user.approved_by %>
                    <td ><%=  User.find(user_id).name  %></td>
                    <% else %>
                      <td class="ver-table-st-4"><%= "--" %></td>
                    <% end %>
                  <%end %>
                  <% if params[:req]=='banks' %>
                  <td>
                    <% if user.merchant_ach_status == 'complete'  %>
                        <button class="btn btn-success btn-sm verify_status"><i class='fa fa-check'> Approved</i></button>
                    <% elsif user.merchant_ach_status == 'pending'  %>
                        <button class="btn btn-default btn-sm verify_status ver-table-st-5"> Pending</button>
                    <% end %>
                  </td>
                      <% else %>
                      <td>
                        <% if user.is_block == false  %>
                            <button class="btn btn-success btn-sm verify_status"><i class='fa fa-check'> Approved</i></button>
                        <% elsif user.is_block == true  %>
                            <button class="btn btn-default btn-sm verify_status ver-table-st-6"> Pending</button>
                        <% end %>
                      </td>
                      <% end %>

                  <% if params[:req] != "approved" &&  params[:req] != "banks"%>
                  <td>
                    <% if user.is_block == false  %>
                        <button class="btn btn-default btn-sm" disabled>Approved</button>
                    <% elsif user.is_block == true  %>
                      <button type="button" class="btn btn-default btn-sm" id="approve-merchant-status" data-user_id="<%= user.id %>" >Approve</button>
                        <%#= link_to("Approve", data:{user_id: user.id},class: 'btn btn-default btn-sm', id: "approve-merchant-status") %>
                        <%#= link_to("Approve",approve_status_admins_path(user.id) ,:data => {:confirm => 'Are you sure you want to verify?'},class: 'btn btn-default btn-sm') %>
                      <%#= link_to("Approve",verification_admins_path(id: user.id) , remote: true ,:data => {:toggle => 'modal', :id => user.id},class: 'btn btn-default btn-sm') %>
                    <% end %>
                  </td>

                  <% elsif params[:req]=='banks' %>
                      <td>
                        <% if user.merchant_ach_status == 'complete'  %>
                            <button class="btn btn-default btn-sm" disabled>Approved</button>
                        <% elsif user.merchant_ach_status == 'pending'  %>
                          <!-- <div class="row">
                            <div class="col-md-6">
                              <%#= link_to("Review",admins_approve_ach_request_path(id:user.id) ,class: 'btn btn-primary btn-sm') %>
                            </div>
                            <div class="col-md-6">
                              <%#= link_to("Disapprove",admins_disapprove_ach_request_path(id: user.id) , remote: true ,:data => {:confirm => 'Are you sure you want to Disapprove this?'}, class: 'btn btn-danger btn-sm') %>
                            </div>
                          </div> -->
                        <%# end %>
                            <%= link_to("Review",admins_approve_ach_request_path(id:user.id) ,class: 'btn btn-primary btn-sm review_btn') %>
                        <%  end %>
                      </td>
                  <% end %>
                </tr>
            <% end %>
        <% end %>
        </tbody>
      </table>
      <span class="ver-table-st-7">Showing <%=@reqs.try(:count)%> of <%=@reqs.try(:total_count) %> records</span>
      <%= paginate @reqs, :theme => 'twitter-bootstrap-3', :pagination_class => "pagination-small pagination-centered pull-right padd" %>
    </div>

</section>