
<section id="dispute_case_modals"></section>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/multiple-select/1.2.0/multiple-select.css">
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/multiple-select/1.2.0/multiple-select.js"></script>
<% if @wallet %>
  <div class="title-block ad-user-txn-st-1">
    <h1 class="title"><%= @wallet.name %> Transactions</h1>
  </div>
  <div class="well well-sm">
    <div class="row">
      <div class="col-md-5 col-sm-3">
        <div class="col-md-6 col-sm-2 ad-user-txn-st-2">
          <div class="user_name"><%= @user.name %></div>
          <div class="user_detail"><%= "Date Start: #{@wallet.created_at.strftime('%m/%d/%Y')}" %></div>
          <div class="user_detail"><%= "User ID: #{@user.ref_no || @user.id}" %></div>
          <div class="user_detail"><%= "Wallet ID: #{@wallet.id}" %></div>
        </div>
        <div class="col-md-6 col-sm-3 ad-user-txn-st-3">
          <span class="<%= @user.is_block == true ? 'btn-active btn-inactive' : 'btn-active' %>"><%= @user.is_block == true ? 'InActive' : 'Active' %></span>
        </div>
        <div class="col-md-12 col-sm-6">
          <% if @user.user? %>
            <span class="device_logo"><%=@user.source%></span>
          <% end %>
        </div>
      </div>
      <% if (params[:tab] == 'menu_1' || params[:tab] == 'menu_2' || !params[:tab].present?) && (@user.merchant?) %>
          <div class="col-md-7 col-sm-3 black-color side_block custom_width">
            <div class="row">
              <div class="col-md-6">
                <span class="user_detail">Total Funds in Account:</span>
                <%= number_with_precision(number_to_currency(@wallet_balance), precision: 2, delimiter: ',') %>
              </div>
              <div class="col-md-6">
                <span class="user_detail">Today's Funds Release:</span>
                <%= @today_release.present? ?  number_with_precision(number_to_currency(@today_release), precision: 2, delimiter: ',') : '$0.00' %>
              </div>
            </div>
            <% if !@wallet.tip? %>
            <div class="row">
              <div class="col-md-6">
                <% if @wallet.primary? || @wallet.reserve? %>
                    <span class="user_detail">Today's Funds Release:</span>
                    <%= number_with_precision(number_to_currency(@today_release), precision: 2, delimiter: ',') %>
                <% elsif @wallet.tip? %>
                    <span class="user_detail">Total Processed:</span>
                    <%= @wallet_balance.present? ? number_with_precision(number_to_currency(@wallet_balance), precision: 2, delimiter: ',') : '$0.00' %>
                <% end %>
              </div>
              <div class="col-md-6">
                <span class="user_detail">Tomorrow's Funds Release:</span>
                <%= @tomorrow_release.present? ? number_with_precision(number_to_currency(@tomorrow_release), precision: 2, delimiter: ',') : '$0.00' %>
              </div>
            </div>
            <% if !@wallet.reserve? %>
            <div class="row">
              <div class="col-md-6">
                <span class="user_detail">Available Funds to Withdraw:</span>
                <%= @withdraw_amount.present? ? number_with_precision(number_to_currency(@withdraw_amount), precision: 2, delimiter: ',') : '$0.00' %>
              </div>
              <div class="col-md-6">
                <span class="user_detail">Total Processed:</span>
                <%= @processed_amount.present? ? number_with_precision(number_to_currency(@processed_amount), precision: 2, delimiter: ',') : '$0.00' %>
              </div>
            </div>
            <% end %>
             <% end %>
          </div>
      <% elsif params[:tab]=='menu_5' || params[:tab] == 'menu_6' || params[:tab] == 'menu_7' %>
          <div class="col-md-7 col-sm-3 black-color side_block custom_width">
            <div class="row">
              <!--<div class="col-md-12">-->
              <div class="col-md-4">
                <span class="user_detail">Total Withdraws:</span>
                <%= @total_withdraw.present? ?  number_with_precision(number_to_currency(@total_withdraw), precision: 2, delimiter: ',') : '$0.00' %>
              </div>
              <div class="col-md-4">
                <span class="user_detail">Total Requests:</span>
                <%= @total_checks.present? ? @total_checks : '0' %>
              </div>
              <div class="col-md-4">
                <span class="user_detail">Total Paid by Wire:</span>
                <%= @paid_by_wire_check.present? ? @paid_by_wire_check : '0' %>
              </div>
              <!--</div>-->
            </div>
            <div class="row">
              <div class="col-md-4">
                <span class="user_detail">Total Fees:</span>
                <%= @total_fee.present? ? number_with_precision(number_to_currency(@total_fee), precision: 2, delimiter: ',') : '$0.00' %>
              </div>
              <div class="col-md-4">
                <span class="user_detail">Total Pending:</span>
                <%= @pending_check.present? ? @pending_check : '0' %>
              </div>
              <div class="col-md-4">
                <span class="user_detail">Total Failed:</span>
                <%= @failed_check.present? ? @failed_check : '0' %>
              </div>
            </div>
            <div class="row">
              <div class="col-md-4">
                <span class="user_detail">Total Pending Amt:</span>
                <%= @total_pending_amount.present? ? number_with_precision(number_to_currency(@total_pending_amount), precision: 2, delimiter: ',') : '$0.00' %>
              </div>
              <div class="col-md-4">
                <span class="user_detail">Total Paid:</span>
                <%= @paid_check.present? ? @paid_check : '0' %>
              </div>
              <div class="col-md-4">
                <span class="user_detail">Total Void:</span>
                <%= @void_check.present? ? @void_check : '0' %>
              </div>
            </div>
            <div class="row">
              <div class="col-md-4">
                <span class="user_detail">Total Processed Amt:</span>
                <%= @total_process_achs.present? ?  number_with_precision(number_to_currency(@total_process_achs), precision: 2, delimiter: ',') : '$0.00' %>
              </div>
            </div>
          </div>

      <% else %>
          <div class="col-md-6 col-sm-3 ">
            <div class="col-md-10 side_block">
              <span class="box_left_number">
                            <%= number_with_precision(@wallet_balance,:precision => 2, :delimiter => ',') %>
              </span>
              <span class="box_right_symbol">
            USD
            </span>
            </div>
          </div>
      <% end %>
    </div>
    <div class="row ad-user-txn-st-14">
      <div class="col-md-12">
        <ul class="nav nav-tabs distinct ad-user-txn-st-15">
          <% if not @iamlocation.present? %>
            <li class="<%= params[:tab] == 'menu_1' ? 'active' : (not params[:tab].present?) ? 'active' : '' %>"><a href="<%= user_transactions_path(user_id:params[:user_id],tab:'menu_1')%>">Main Information</a></li>
            <li class="<%= params[:tab] == 'menu_2' ? 'active' : '' %>"><a href="<%= user_transactions_path(user_id:params[:user_id],tab:'menu_2')%>">Transactions</a></li>
            <li class="<%= params[:tab] == 'menu_8' ? 'active' : '' %>"><a href="<%= user_transactions_path(user_id:params[:user_id],tab:'menu_8')%>">Shipments</a></li>
            <li class="<%= params[:tab] == 'menu_3' ? 'active' : '' %>"><a href="<%= user_transactions_path(user_id:params[:user_id],tab:'menu_3')%>">Tickets</a></li>
            <li class="<%= params[:tab] == 'menu_4' ? 'active' : '' %>"><a href="<%= user_transactions_path(user_id:params[:user_id],tab:'menu_4')%>">Disputes</a></li>
            <% dispute_path= user_transactions_path(user_id:params[:user_id],tab:'menu_4')%>
            <% if @user.role.present? && @user.role!='user' %>
            <li class="<%= params[:tab] == 'menu_5' ? 'active' : '' %>"><a href="<%= user_transactions_path(user_id:params[:user_id],tab:'menu_5')%>">Checks</a></li>
              <li class="<%= params[:tab] == 'menu_6' ? 'active' : '' %>"><a href="<%= user_transactions_path(user_id:params[:user_id],tab:'menu_6')%>">ACH</a></li>
            <% end %>
          <% else %>
            <li class="<%= params[:tab] == 'menu_1' ? 'active' : (not params[:tab].present?) ? 'active' : '' %>"><a href="<%= wallet_transactions_locations_path(user_id:params[:user_id],tab:'menu_1')%>">Main Information</a></li>
            <li class="<%= params[:tab] == 'menu_2' ? 'active' : '' %>"><a href="<%= wallet_transactions_locations_path(user_id:params[:user_id],tab:'menu_2')%>">Transactions</a></li>
            <li class="<%= params[:tab] == 'menu_3' ? 'active' : '' %>"><a href="<%= wallet_transactions_locations_path(user_id:params[:user_id],tab:'menu_3')%>">Tickets</a></li>
            <li class="<%= params[:tab] == 'menu_4' ? 'active' : '' %>"><a href="<%= wallet_transactions_locations_path(user_id:params[:user_id],tab:'menu_4')%>">Disputes</a></li>
            <% dispute_path= wallet_transactions_locations_path(user_id:params[:user_id],tab:'menu_4')%>
          <% end %>
        </ul>
      </div>
    </div>
    <div class="tab-content">
      <div id="menu1" class="<%= params[:tab]=='menu_1' ? 'tab-pane fade in active' : (not params[:tab].present?) ? 'tab-pane fade in active' : 'tab-pane fade' %>">
        <div class="card sameheight-item items" data-exclude="xs,sm,lg">
          <div class="bordered main_information_form">
            <% if not @iamlocation.present? %>
              <%= render "admins/wallets_partials/users_wallet_info" %>
            <% else %>
              <%= render "admins/wallets_partials/location_wallet_info" %>
            <% end %>
          </div>
        </div>
      </div>
      <div id="menu2" class="<%= params[:tab]=='menu_2' ? 'tab-pane fade in active' : 'tab-pane fade' %>">
        <div class="card sameheight-item items" data-exclude="xs,sm,lg">
          <div class="card-header bordered">
            <div class="header-block">
              <h3 class="title">All Transactions</h3>
            </div>
            <div class="header-block pull-right">
              <a href="#search" data-toggle="collapse" aria-expanded="false" aria-controls="search" class="btn btn-outline-secondary btn-sm"><i class="icon-magnifier icons"></i> Search</a>
              <% unless current_user.support_mtrac? %>
              <a data-toggle="modal" id="export_class" data-type="admin_users" data-send_via="<%= @user.role %>" data-wallet="<%= @wallet.id %>" data-admin_user_id="<%= params[:user_id] %>" class="exportModalDialog pull-right" href="#exportModalDialog"><button type="button" class="btn btn-sm blue_btn"><i class="fa fa-file"></i> Export</button></a>
              <% end %>
            </div>
          </div>
          <%= render partial: "admins/users_search"  %>

          <section class="example">
            <div class="">
              <div class="row ad-m-user-txn-st-1">
                <div class="dataTables_length">
                  <div class="col-md-12">
                    <div class="col-md-6 ad-m-user-txn-st-2">
                      <span class="ad-m-user-txn-st-3">Show </span>
                      <span class="ad-m-user-txn-st-4">
                      <% if not @iamlocation.present? %>
                        <%= form_tag user_transactions_path(tab:params[:tab]), method: :get , id:'user_transaction_table' do  %>
                           <%= select_tag "tx_filter", options_for_select(@filters.map{|v|[v]}, selected: params[:tx_filter].present? ? params[:tx_filter] : "10"),
                                          :prompt => false,
                                          :required => true,
                                          class: "form-control form-control-sm",
                                          data: {confirm: "Are you sure ?"}
                           %>
                            <%= select_tag "tab", options_for_select(selected: "menu_2"),class: "ad-m-user-txn-st-5" %>
                            <% if params[:q].present? %>
                              <input type="hidden" name="q[id]" value="<%= params[:q].present? ? params[:q]["id"] : "" %>"  />
                              <input type="hidden" name="q[timestamp]"  value="<%= params[:q].present? ? params[:q]["timestamp"] : "" %>"   />
                              <input type="hidden" name="q[type]" value="<%= params[:q][:type]  if  params[:q][:type].present?%>"  />
                              <input type="hidden" name="q[merchant_type]" value="<%= params[:q][:merchant_type]  if  params[:q][:merchant_type].present?%>"  />
                              <input type="hidden" name="q[sender_name]" value="<%= params[:q].present? ? params[:q]["sender_name"] : "" %>"  />
                              <input type="hidden" name="q[receiver_name]" value="<%= params[:q].present? ? params[:q]["receiver_name"] : "" %>"  />
                              <input type="hidden" name="q[location_dba__name]" value="<%= params[:q].present? ? params[:q]["location_dba__name"] : "" %>"  />
                              <input type="hidden" name="q[gateway]" value="<%= params[:q][:gateway]  if  params[:q][:gateway].present?%>"  />
                              <input type="hidden" name="q[amount]" value="<%= params[:q].present? ? params[:q]["amount"] : "" %>"  />
                              <input type="hidden" name="q[card_number]" value="<%= params[:q].present? ? params[:q]["card_number"] : "" %>"  />
                              <input type="hidden" name="q[last4]" value="<%= params[:q].present? ? params[:q]["last4"] : "" %>"  />
                              <input type="hidden" name="q[first6]" value="<%= params[:q].present? ? params[:q]["first6"] : "" %>"  />
                              <input type="hidden" name="q[commission]" value="<%= params[:q].present? ? params[:q]["commission"] : "" %>"  />
                            <% end%>
                        <% end %>
                      <% else %>
                        <%= render "admins/wallets_partials/location_search_filter" %>
                      <% end %>
                    </span>
                      <span class="ad-m-user-txn-st-6">Entries</span>
                    </div>
                  </div>
                </div>
              </div>
              <div class="table-responsive" id="admin_table">
                <%= render partial: 'admins/local_user_transactions_table' ,:locals =>  {:transactions => @transactions} %>
              </div>
              <div class="modal fade right ad-m-user-txn-st-7" id="refundModalDialog">
                <div class="modal-dialog modal-sm ad-m-user-txn-st-8">
                  <div class="modal-content1 refund-modal-content-shared">
                    <!-- Modal Header -->
                    <div class="modal-header text-left ad-m-user-txn-st-10 New_Modal_Header">
                      <h4 class="modal-title ad-m-user-txn-st-11"><span class="ml-2">Refund payment</span></h4>
                      <button type="button" class="close" data-dismiss="modal">×</button>
                    </div>
                    <!-- Modal body -->
                    <div class="modal-body ad-m-user-txn-st-12">
                      <div class="card ad-m-user-txn-st-13">
                        <div class="card-body">
                          <div class="row leftPad ad-m-user-txn-st-14">
                            <div class="form-group col-md-8">
                              <label class="ad-m-user-txn-st-15" for="partialamount">Amount <i class="fa fa-info-circle" aria-hidden="true" title='The amount showing reflects the total transaction amount. For "Partial Refund" please adjust the amount to the amount you would like to refund.'>
                              </i></label>
                              <div class="input-group">
                                <span class="input-group-addon"><b>$</b></span>
                                <input type="text" id="partialamount" class="form-control number" placeholder="0.00" %>
                              </div>
                              <div class="pull-right">
                                <span>Amount + Fee + Tip = $ </span> <span  class="refund_fee"></span>
                              </div>
                              <div class="row col-md-12">
                                <span class="alert-danger ad-m-user-txn-st-16" id="partial_error"></span>
                              </div>
                            </div>
                            <div class="form-group col-md-8">
                              <label class="ad-m-user-txn-st-17" for="reason">Reason</label>
                              <select class="form-control" id="reason_select">
                                <option value="0">Select a reason</option>
                                <option value="1">Duplicate</option>
                                <option value="2">Fraudulent</option>
                                <option value="3">Requested by customer</option>
                                <option value="4">Other</option>
                              </select>
                              <br>
                              <textarea placeholder="Add a reason for this refund..." id="reason_detail" class="form-control ad-m-user-txn-st-18" rows="5"></textarea>
                            </div>
                          </div>
                          <div class="col-md-12 ad-m-user-txn-st-19">
                            <p class="ad-m-user-txn-st-20"><b><i class="fa fa-info-circle"></i> Refunds take 1-5 days to appear on a customer's statement.</b></p>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="modal-footer ad-m-user-txn-st-21" id="refundModalFooter">
                      <button class="btn btn-default" data-dismiss="modal">Cancel</button>
                      <a data-toggle="modal" class="refundConfirmationDialog" href="#refundConfirmationDialog"><button class="ad-m-user-txn-st-22 btn refund_btn" disabled>Refund</button></a>
                    </div>
                  </div>
                </div>
              </div>
              <!--Confirmation Refund Modal-->
              <div class="modal fade right ad-m-user-txn-st-23" id="refundConfirmationDialog">
                <div class="modal-dialog ad-m-user-txn-st-24">
                  <div class="modal-content ad-m-user-txn-st-25">
                    <!-- Modal Header -->
                    <div class="modal-header text-left text-white">
                      <h4 class="modal-title ad-m-user-txn-st-26"><span class="ml-2">Are you sure?</span></h4>
                      <button type="button" class="close" data-dismiss="modal">×</button>
                    </div>
                    <!-- Modal body -->
                    <div class="modal-body ad-m-user-txn-st-27">
                      <div class="card ad-m-user-txn-st-28">
                        <div class="card-body">
                          <div class="row ad-m-user-txn-st-29">
                            <div class="col-md-12">Are you sure you want to refund $ <span id="confirm_refund_amount"></span> to <span id="refund_user"></span>?</div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="modal-footer ad-m-user-txn-st-30" id="refundModalFooter">
                      <button class="btn btn-default" data-dismiss="modal">Cancel</button>
                      <a id="footerConfirmLink" class="btn btn-info confirm-refund" href="">Confirm & Send</a>
                    </div>
                  </div>
                </div>
              </div>
              <div class="card-footer text-right ad-m-user-txn-st-31">
                <div class="row">
                  <div class="col-md-12">
                    <span class="ad-m-user-txn-st-32">Showing <%= @transactions.count if @transactions.present? %> of <%= @transactions.total_count if @transactions.present? %> records</span>
                    <% if @transactions.present? %>
                        <%= paginate @transactions, :theme => 'twitter-bootstrap-3', :pagination_class => "pagination-small pagination-centered pull-right"%>
                    <% end %>
                  </div>
<!--                  <div class="col-md-1 text-left">-->
<!--                    <small><%# @transactions.count %></small>-->
<!--                  </div>-->
                </div>
              </div>
            </div>
          </section>
          <!--<a href="#" id="more-transactions" class="text-center" data-val="<%#
        --= @next %>">Show more</a>-->
        </div>
      </div>
      <div id="menu8" class="<%= params[:tab]=='menu_8' ? 'tab-pane fade in active' : 'tab-pane fade' %>">
        <div class="card sameheight-item items" data-exclude="xs,sm,lg">
          <%= render :partial => 'admins/shipment_order_tracker_txn_table', :locals => {:call_from => user_transactions_path} if params[:tab]=='menu_8' %>
        </div>
      </div>
      <div id="menu3" class="<%= params[:tab]=='menu_3' ? 'tab-pane fade in active' : 'tab-pane fade' %>">
        <div class="card sameheight-item items" data-exclude="xs,sm,lg">
          <div class="card-header bordered">
            <div class="header-block">
              <h3 class="title">All Tickets</h3>
            </div>
            <!--<div class="header-block pull-right">-->
            <!--<button type="button" data-toggle="modal" data-target="#search" class="btn btn-warning btn-sm"><i class="icon-magnifier icons"></i> Search</button>-->
            <!--</div>-->
          </div>
          <section class="example">
            <div class="">
              <div class="table-responsive">
                <table id="datatable-keytable-ticket" class="table table-striped table-bordered table-hover" cellspacing="0" cellpadding="0">
                  <thead>
                  <tr>
                    <th>Code</th>
                    <th>Create date</th>
                    <th>Username</th>
                    <th>Title</th>
                    <th>Status</th>
                    <th>Actions</th>
                  </tr>
                  </thead>
                  <tbody id="tbody">
                  <% @tickets.each do |ticket| %>
                    <tr>
                      <td class="sorted"><%= ticket[:id] %></td>
                      <td><%= ticket[:created_at].localtime.strftime('%Y-%m-%d %I-%M-%S') %></td>
                      <td><%= "#{ticket.user.name} #{ticket.user.last_name}" %></td>
                      <td><%= ticket.title %></td>
                      <td>
                        <% if ticket.status == "untreated" %>
                          <span class="label label-yellow">Untreated</span>
                        <% elsif ticket.status == "closed" %>
                          <span class="label label-danger">Closed</span>
                        <% elsif ticket.status == "processed" %>
                          <span class="label label-success">Processed</span>
                        <%end %>
                      </td>
                      <td><%= link_to '<button class="btn btn-sm btn-primary"><i class="fa fa-eye"></i></button>'.html_safe, ticket_details_users_path(ticket_id: ticket[:id],user_id:params[:user_id],path_to:'admin_user') ,remote: true %></td>
                    </tr>
                  <% end %>
                  </tbody>
                </table>
              </div>
            </div>
            <div class="row">
              <div class="col-md-4">
                <% if not @iamlocation.present? %>
                  <a href="<%= user_transactions_path(tab:params[:tab],page_ticket:@page_ticket-1 ) %>" id="more-tickets" class="ad-m-user-txn-st-33">Show Previous</a>
                <% else %>
                  <a href="<%= wallet_transactions_locations_path(tab:params[:tab],page_ticket:@page_ticket-1 ) %>" id="more-tickets" class="ad-m-user-txn-st-34">Show Previous</a>
                <% end %>
              </div>
              <div class="col-md-4 text-center">
                <%= "page - #{@page_ticket}" %>
              </div>
              <div class="col-md-4">
                <% if not @iamlocation.present? %>
                  <a href="<%= user_transactions_path(tab:params[:tab],page_ticket:@page_ticket+1 ) %>" id="more-tickets" class="ad-m-user-txn-st-35">Show Next</a>
                <% else %>
                  <a href="<%= wallet_transactions_locations_path(tab:params[:tab],page_ticket:@page_ticket+1 ) %>" id="more-tickets" class="ad-m-user-txn-st-36">Show Next</a>
                <% end %>
              </div>
            </div>
          </section>
        </div>
      </div>
      <div id="menu4" class="<%= params[:tab]=='menu_4' ? 'tab-pane fade in active' : 'tab-pane fade' %>">
        <div class="card sameheight-item items" data-exclude="xs,sm,lg">
          <%= render partial: "admins/dispute_transactions", locals: {path: dispute_path} %>
          <!--<div class="header-block pull-right">-->
          <!--<button type="button" data-toggle="modal" data-target="#search" class="btn btn-warning btn-sm"><i class="icon-magnifier icons"></i> Search</button>-->
          <!--</div>-->
        </div>
      </div>
      <div id="menu5" class="<%= params[:tab]=='menu_5' ? 'tab-pane fade in active' : 'tab-pane fade' %>">
        <div class="card sameheight-item items" data-exclude="xs,sm,lg">
          <%#= render "admins/checks_sent", :locals =>  {:call_from => 'user_transactions_path' } if params[:tab]=='menu_5' %>
          <%= render :partial => 'admins/checks_sent', :locals => {:call_from => user_transactions_path} if params[:tab]=='menu_5' %>
        </div>
      </div>
      <div id="menu6" class="<%= params[:tab]=='menu_6' ? 'tab-pane fade in active' : 'tab-pane fade' %>">
        <div class="card sameheight-item items" data-exclude="xs,sm,lg">
          <%= render :partial => 'admins/ach_sent', :locals => {:call_from => user_transactions_path} if params[:tab]=='menu_6' %>
        </div>
      </div>
    </div>
  </div>
<% end %>
<!-- <section class="section">
  <div class="row">
    <div class="col-md-12">

    </div>
  </div>
</section> -->
<!-- The export Modal starts -->
<%= render partial: 'admins/shared/export_modal' %>
<!-- The export Modal ends -->
<section id="transaction_modal"></section>
<section id="custom_modal"></section>
<section id="tracker_modal"></section>
<section id="tracking_detail_modal"></section>
<section id="ticket_modal"></section>
<section id="decline_transaction_modal"></section>