<% if ["all","pending","approved","banks"].include? (params[:req]) %>
$(".tab_data_details").html("").append("<%= j render partial: 'admins/verification_table', :locals => {reqs: @reqs }%>");
$(".ver-table-st-1").css('width','2%');
$(".request-date").css('width','4%');
$(".ver-table-st-2").css('width','6%');
<% elsif params[:user] == "companies" %>
$(".tab_data_details").html("").append("<%= j render partial: 'admins/users/companies', :locals => {companies: @companies } %>");
<% else %>
$(".tab_data_details").html("").append("<%= j render partial: 'admins/users/users', :locals => {users: @users }%>");
<% end %>

<% if params[:user].present? %>
$(".padd").css("margin","-15px 20px 20px 0px");
$('#<%=params[:user]%>-datatable').DataTable({
    "responsive": true,
    "sScrollX": false,
    "sSearch": false,
    "ordering": true,
    "searching": false,
    "bLengthChange": false,
    "bPaginate": false,
    "bInfo": false
});
<% end %>
var table = $('#datatable-keytable-bank-verification').DataTable({
    "responsive": true,
    "sScrollX": false,
    "sSearch": false,
    "ordering": true,
    "searching": false,
    "bLengthChange": false,
    "bPaginate": false,
    "bInfo": false,
    "order": [[ 0, "desc" ]]
});

window.onload = $('.utc').each(function (i, v) {
    var gmtDateTime = moment.utc(v.innerText, 'YYYY-MM-DD HH:mm:ss');
    var local = moment(gmtDateTime).local().format('MM-DD-YYYY hh:mm:ss A');
    v.innerText = local
});