
<% if @ach_batches.present? %>
  <% @ach_batches.each do |batch_key, batch_value| %>
    <h5 class="row">Batch date <span class=""><%= batch_key.strftime("%m/%d/%Y") %></span></h5>
  <% grouped_batch = batch_value.group_by(&:order_type) %>
  <%
    wallets = []
    check_ids = []
    ach_ids = []
    instant_ach_ids = []
    checks_funding_amount = 0
    checks_total_amount = 0
    checks_complete_count = 0
    checks_in_process_count = 0
    checks_pending_count = 0
    checks_paid_by_wire_count = 0
    checks_failed_count = 0
    checks_void_count = 0
    ach_funding_amount = 0
    ach_total_amount = 0
    ach_complete_count = 0
    ach_in_process_count = 0
    ach_pending_count = 0
    ach_paid_by_wire_count = 0
    ach_failed_count = 0
    ach_void_count = 0
    instant_pay_funding_amount = 0
    instant_pay_total_amount = 0
    instant_pay_complete_count = 0
    instant_pay_in_process_count = 0
    instant_pay_pending_count = 0
    instant_pay_paid_by_wire_count = 0
    instant_pay_failed_count = 0
    instant_pay_void_count = 0
    dispensary_wallets = []
    dispensary_achs = []
    cbd_wallets = []
    cbd_achs = []
    ach_cbd_ids = []
    ach_dispensary_ids = []
    ach_cbd_funding_amount = 0
    ach_cbd_total_amount = 0
    ach_cbd_complete_count = 0
    ach_cbd_in_process_count = 0
    ach_cbd_pending_count = 0
    ach_cbd_paid_by_wire_count = 0
    ach_cbd_failed_count = 0
    ach_cbd_void_count = 0
    ach_dispensary_funding_amount = 0
    ach_dispensary_total_amount = 0
    ach_dispensary_complete_count = 0
    ach_dispensary_in_process_count = 0
    ach_dispensary_pending_count = 0
    ach_dispensary_paid_by_wire_count = 0
    ach_dispensary_failed_count = 0
    ach_dispensary_void_count = 0

    ach_international_wallets = []
    international_achs = []
    international_achs_ids = []
    international_achs_funding_amount = 0
    international_ach_total_amount = 0
    international_ach_complete_count = 0
    international_ach_in_process_count = 0
    international_ach_pending_count = 0
    international_ach_failed_count = 0
    international_ach_void_count = 0
    international_ach_paid_by_wire_count = 0

    affiliate_programs_achs = []
    affiliate_programs_achs_ids = []
    affiliate_programs_achs_funding_amount = 0
    affiliate_programs_achs_total_amount = 0
    affiliate_programs_achs_complete_count = 0
    affiliate_programs_achs_in_process_count = 0
    affiliate_programs_achs_pending_count = 0
    affiliate_programs_achs_failed_count = 0
    affiliate_programs_achs_void_count = 0
    affiliate_programs_achs_paid_by_wire_count = 0


    affiliate_programs_p2c = []
    affiliate_programs_p2c_ids = []
    affiliate_programs_p2c_funding_amount = 0
    affiliate_programs_p2c_total_amount = 0
    affiliate_programs_p2c_complete_count = 0
    affiliate_programs_p2c_in_process_count = 0
    affiliate_programs_p2c_pending_count = 0
    affiliate_programs_p2c_failed_count = 0
    affiliate_programs_p2c_void_count = 0
    affiliate_programs_p2c_paid_by_wire_count = 0

  %>
  <% grouped_batch.each do |nested_batch_key, nested_batch_value| %>
      <%
        if nested_batch_key == "check"
          check_ids = nested_batch_value.map{|c| c.id }
          checks_funding_amount = nested_batch_value.map{|c| c.actual_amount if c.pending? }.compact.inject(0){|sum,x| sum + x }
          checks_total_amount = nested_batch_value.map{|c| c.actual_amount }.compact.inject(0){|sum,x| sum + x }
          checks_complete_count = nested_batch_value.select{ |c| c.status.downcase == "complete" || c.status.downcase == "paid" }.count
          checks_in_process_count = nested_batch_value.select{ |c| c.status.downcase == "in_process" || c.status.downcase == "in_progress" || c.status.downcase == "unpaid" }.count
          checks_pending_count = nested_batch_value.select{ |c| c.status.downcase == "pending" }.count
          checks_failed_count = nested_batch_value.select{ |c| c.status.downcase == "failed" }.count
          checks_void_count = nested_batch_value.select{ |c| c.status.downcase == "void" }.count
          checks_paid_by_wire_count = nested_batch_value.select{ |c| c.status.downcase == "paid_wire" }.count
        elsif nested_batch_key == "instant_ach"
          dispensary_wallets = Wallet.dispensary_wallets
          dispensary_achs = nested_batch_value.select{|c| dispensary_wallets.include?(c.wallet_id) && !c.ach_international && !c.ach_afp}
          ach_dispensary_ids = dispensary_achs.map{|c| c.id }
          ach_dispensary_funding_amount = dispensary_achs.map{|c| c.actual_amount if c.pending? }.compact.inject(0){|sum,x| sum + x }
          ach_dispensary_total_amount = dispensary_achs.map{|c| c.actual_amount }.compact.inject(0){|sum,x| sum + x }
          ach_dispensary_complete_count = dispensary_achs.select{ |c| c.status.downcase == "complete" || c.status.downcase == "paid" }.count
          ach_dispensary_in_process_count = dispensary_achs.select{ |c| c.status.downcase == "in_process" || c.status.downcase == "in_progress" }.count
          ach_dispensary_pending_count = dispensary_achs.select{ |c| c.status.downcase == "pending" }.count
          ach_dispensary_failed_count = dispensary_achs.select{ |c| c.status.downcase == "failed" }.count
          ach_dispensary_void_count = dispensary_achs.select{ |c| c.status.downcase == "void" }.count
          ach_dispensary_paid_by_wire_count = dispensary_achs.select{ |c| c.status.downcase == "paid_wire" }.count

          cbd_wallets = Wallet.cbd_wallets
          cbd_achs = nested_batch_value.select{|c| cbd_wallets.include?(c.wallet_id) && !c.ach_international && !c.ach_afp}
          ach_cbd_ids = cbd_achs.map{|c| c.id }
          ach_cbd_funding_amount = cbd_achs.map{|c| c.actual_amount if c.pending? }.compact.inject(0){|sum,x| sum + x }
          ach_cbd_total_amount = cbd_achs.map{|c| c.actual_amount }.compact.inject(0){|sum,x| sum + x }
          ach_cbd_complete_count = cbd_achs.select{ |c| c.status.downcase == "complete" || c.status.downcase == "paid" }.count
          ach_cbd_in_process_count = cbd_achs.select{ |c| c.status.downcase == "in_process" || c.status.downcase == "in_progress" }.count
          ach_cbd_pending_count = cbd_achs.select{ |c| c.status.downcase == "pending" }.count
          ach_cbd_failed_count = cbd_achs.select{ |c| c.status.downcase == "failed" }.count
          ach_cbd_void_count = cbd_achs.select{ |c| c.status.downcase == "void" }.count
          ach_cbd_paid_by_wire_count = cbd_achs.select{ |c| c.status.downcase == "paid_wire" }.count

          international_achs = nested_batch_value.select{|c| c.try(:ach_international)}
          international_achs_ids = international_achs.map{|c| c.id }
          international_achs_funding_amount = international_achs.map{|c| c.actual_amount if c.pending? }.compact.inject(0){|sum,x| sum + x }
          international_ach_total_amount = international_achs.map{|c| c.actual_amount }.compact.inject(0){|sum,x| sum + x }
          international_ach_complete_count = international_achs.select{ |c| c.status.downcase == "complete" || c.status.downcase == "paid" }.count
          international_ach_in_process_count = international_achs.select{ |c| c.status.downcase == "in_process" || c.status.downcase == "in_progress" }.count
          international_ach_pending_count = international_achs.select{ |c| c.status.downcase == "pending" }.count
          international_ach_failed_count = international_achs.select{ |c| c.status.downcase == "failed" }.count
          international_ach_void_count = international_achs.select{ |c| c.status.downcase == "void" }.count
          international_ach_paid_by_wire_count = international_achs.select{ |c| c.status.downcase == "paid_wire" }.count


          affiliate_programs_achs = nested_batch_value.select{|c| c.try(:ach_afp)}
          affiliate_programs_achs_ids = affiliate_programs_achs.map{|c| c.id }
          affiliate_programs_achs_funding_amount = affiliate_programs_achs.map{|c| c.actual_amount if c.pending? }.compact.inject(0){|sum,x| sum + x }
          affiliate_programs_achs_total_amount = affiliate_programs_achs.map{|c| c.actual_amount }.compact.inject(0){|sum,x| sum + x }
          affiliate_programs_achs_complete_count = affiliate_programs_achs.select{ |c| c.status.downcase == "complete" || c.status.downcase == "paid" }.count
          affiliate_programs_achs_in_process_count = affiliate_programs_achs.select{ |c| c.status.downcase == "in_process" || c.status.downcase == "in_progress" }.count
          affiliate_programs_achs_pending_count = affiliate_programs_achs.select{ |c| c.status.downcase == "pending" }.count
          affiliate_programs_achs_failed_count = affiliate_programs_achs.select{ |c| c.status.downcase == "failed" }.count
          affiliate_programs_achs_void_count = affiliate_programs_achs.select{ |c| c.status.downcase == "void" }.count
          affiliate_programs_achs_paid_by_wire_count = affiliate_programs_achs.select{ |c| c.status.downcase == "paid_wire" }.count

          unless params[:q].present? && (params[:q][:category] == "DI" || params[:q][:category] == "CB" || params[:q][:category] == "AI")
            wallets = dispensary_wallets + cbd_wallets
            non_dispensary_achs = nested_batch_value.select{|c| !wallets.include?(c.wallet_id) && !c.try(:ach_international) && !c.ach_afp}
            instant_ach_ids = non_dispensary_achs.map{|c| c.id }
            ach_funding_amount = non_dispensary_achs.map{|c| c.actual_amount if c.pending? }.compact.inject(0){|sum,x| sum + x }
            ach_total_amount = non_dispensary_achs.map{|c| c.actual_amount }.compact.inject(0){|sum,x| sum + x }
            ach_complete_count = non_dispensary_achs.select{ |c| c.status.downcase == "complete" || c.status.downcase == "paid" }.count
            ach_in_process_count = non_dispensary_achs.select{ |c| c.status.downcase == "in_process" || c.status.downcase == "in_progress" }.count
            ach_pending_count = non_dispensary_achs.select{ |c| c.status.downcase == "pending" }.count
            ach_failed_count = non_dispensary_achs.select{ |c| c.status.downcase == "failed" }.count
            ach_void_count = non_dispensary_achs.select{ |c| c.status.downcase == "void" }.count
            ach_paid_by_wire_count = non_dispensary_achs.select{ |c| c.status.downcase == "paid_wire" }.count
          end
        elsif nested_batch_key == "instant_pay"
          non_p2c_afp = nested_batch_value.select{|c| !c.try(:ach_afp) }
          ach_ids = non_p2c_afp.map{|c| [c.id, c.status] }
          instant_pay_funding_amount = non_p2c_afp.map{|c| c.actual_amount if c.pending? }.compact.inject(0){|sum,x| sum + x }
          instant_pay_total_amount = non_p2c_afp.map{|c| c.actual_amount }.compact.inject(0){|sum,x| sum + x }
          instant_pay_complete_count = non_p2c_afp.select{ |c| c.status.downcase == "complete"  || c.status.downcase == "paid" }.count
          instant_pay_in_process_count = non_p2c_afp.select{ |c| c.status.downcase == "in_process" || c.status.downcase == "in_progress" }.count
          instant_pay_pending_count = non_p2c_afp.select{ |c| c.status.downcase == "pending" }.count
          instant_pay_failed_count = non_p2c_afp.select{ |c| c.status.downcase == "failed" }.count
          instant_pay_void_count = non_p2c_afp.select{ |c| c.status.downcase == "void" }.count
          instant_pay_paid_by_wire_count = non_p2c_afp.select{ |c| c.status.downcase == "paid_wire" }.count


          affiliate_programs_p2c = nested_batch_value.select{|c| c.try(:ach_afp) }
          affiliate_programs_p2c_ids = affiliate_programs_p2c.map{|c| [c.id, c.status] }
          affiliate_programs_p2c_funding_amount = affiliate_programs_p2c.map{|c| c.actual_amount if c.pending? }.compact.inject(0){|sum,x| sum + x }
          affiliate_programs_p2c_total_amount = affiliate_programs_p2c.map{|c| c.actual_amount }.compact.inject(0){|sum,x| sum + x }
          affiliate_programs_p2c_complete_count = affiliate_programs_p2c.select{ |c| c.status.downcase == "complete"  || c.status.downcase == "paid" }.count
          affiliate_programs_p2c_in_process_count = affiliate_programs_p2c.select{ |c| c.status.downcase == "in_process" || c.status.downcase == "in_progress" }.count
          affiliate_programs_p2c_pending_count = affiliate_programs_p2c.select{ |c| c.status.downcase == "pending" }.count
          affiliate_programs_p2c_failed_count = affiliate_programs_p2c.select{ |c| c.status.downcase == "failed" }.count
          affiliate_programs_p2c_void_count = affiliate_programs_p2c.select{ |c| c.status.downcase == "void" }.count
          affiliate_programs_p2c_paid_by_wire_count = affiliate_programs_p2c.select{ |c| c.status.downcase == "paid_wire" }.count


        end
      %>
  <% end %>
  <section class="section">
    <div class="row">
      <div class="card sameheight-item items" data-exclude="xs,sm,lg">
        <section class="example">
          <div class="">
            <div class="table-responsive">
              <table id="transfers_table" class="table table-striped table-bordered text-center" cellspacing="0" cellpadding="0">
                <thead>
                <tr class="tableHead text-center">
                  <th>Transfer Funds</th>
                  <th>Total Funding Amt</th>
                  <th>Total Batch Amt</th>
                  <th>Paid</th>
                  <th>Paid Wire</th>
                  <th>Pending</th>
                  <th>In-Process</th>
                  <th>Failed</th>
                  <th>Voids</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                  <% if ach_cbd_ids.present? %>
                    <% if params[:q].present? %>
                    <th><%= link_to "ACH CBD", admins_instant_ach_index_path(batch_date: batch_key, batch_ach_id: "CB-#{batch_key.to_datetime.to_i}", batch_search_params: params[:q].to_json), class: "link-color" %></th>
                    <% else %>
                      <th><%= link_to "ACH CBD", admins_instant_ach_index_path(batch_date: batch_key, batch_ach_id: "CB-#{batch_key.to_datetime.to_i}"), class: "link-color" %></th>
                    <% end %>
                  <% else %>
                    <th class=""><%= "ACH CBD" %></th>
                  <% end %>
                  <td><%= number_with_precision(number_to_currency(ach_cbd_funding_amount), precision: 2) %></td>
                  <td><%= number_with_precision(number_to_currency(ach_cbd_total_amount), precision: 2) %></td>
                  <td><%= ach_cbd_complete_count %></td>
                  <td><%= ach_cbd_paid_by_wire_count %></td>
                  <td><%= ach_cbd_pending_count %></td>
                  <td><%= ach_cbd_in_process_count %></td>
                  <td><%= ach_cbd_failed_count %></td>
                  <td><%= ach_cbd_void_count %></td>
                </tr>
                <tr>
                  <% if ach_dispensary_ids.present? %>
                    <% if params[:q].present? %>
                    <th><%= link_to "ACH Dispensary", admins_instant_ach_index_path(batch_date: batch_key, batch_ach_id: "DI-#{batch_key.to_datetime.to_i}", batch_search_params: params[:q].to_json), class: "link-color" %></th>
                    <% else %>
                      <th><%= link_to "ACH Dispensary", admins_instant_ach_index_path(batch_date: batch_key, batch_ach_id: "DI-#{batch_key.to_datetime.to_i}"), class: "link-color" %></th>
                    <% end %>
                  <% else %>
                    <th class=""><%= "ACH Dispensary" %></th>
                  <% end %>
                  <td><%= number_with_precision(number_to_currency(ach_dispensary_funding_amount), precision: 2) %></td>
                  <td><%= number_with_precision(number_to_currency(ach_dispensary_total_amount), precision: 2) %></td>
                  <td><%= ach_dispensary_complete_count %></td>
                  <td><%= ach_dispensary_paid_by_wire_count %></td>
                  <td><%= ach_dispensary_pending_count %></td>
                  <td><%= ach_dispensary_in_process_count %></td>
                  <td><%= ach_dispensary_failed_count %></td>
                  <td><%= ach_dispensary_void_count %></td>
                </tr>
                <tr>
                  <% if international_achs_ids.present? %>
                    <% if params[:q].present? %>
                      <th><%= link_to "ACH International", admins_instant_ach_index_path(batch_date: batch_key, batch_ach_id: "AI-#{batch_key.to_datetime.to_i}", batch_search_params: params[:q].to_json), class: "link-color" %></th>
                    <% else %>
                      <th><%= link_to "ACH International", admins_instant_ach_index_path(batch_date: batch_key, batch_ach_id: "AI-#{batch_key.to_datetime.to_i}"), class: "link-color" %></th>
                    <% end %>
                  <% else %>
                    <th class=""><%= "ACH International" %></th>
                  <% end %>
                  <td><%= number_with_precision(number_to_currency(international_achs_funding_amount), precision: 2) %></td>
                  <td><%= number_with_precision(number_to_currency(international_ach_total_amount), precision: 2) %></td>
                  <td><%= international_ach_complete_count %></td>
                  <td><%= international_ach_paid_by_wire_count %></td>
                  <td><%= international_ach_pending_count %></td>
                  <td><%= international_ach_in_process_count %></td>
                  <td><%= international_ach_failed_count %></td>
                  <td><%= international_ach_void_count %></td>
                </tr>
                <tr>
                  <% if instant_ach_ids.present? %>
                    <% if params[:q].present? %>
                      <th><%= link_to "ACH Other", admins_instant_ach_index_path(batch_date: batch_key, batch_ach_id: "OT-#{batch_key.to_datetime.to_i}", batch_search_params: params[:q].to_json), class: "link-color" %></th>
                    <% else %>
                      <th><%= link_to "ACH Other", admins_instant_ach_index_path(batch_date: batch_key, batch_ach_id: "OT-#{batch_key.to_datetime.to_i}"), class: "link-color" %></th>
                    <% end %>
                  <% else %>
                    <th class=""><%= "ACH Other" %></th>
                  <% end %>
                  <td><%= number_with_precision(number_to_currency(ach_funding_amount), precision: 2) %></td>
                  <td><%= number_with_precision(number_to_currency(ach_total_amount), precision: 2) %></td>
                  <td><%= ach_complete_count %></td>
                  <td><%= ach_paid_by_wire_count %></td>
                  <td><%= ach_pending_count %></td>
                  <td><%= ach_in_process_count %></td>
                  <td><%= ach_failed_count %></td>
                  <td><%= ach_void_count %></td>
                </tr>

                <tr>
                  <% if affiliate_programs_achs_ids.present? %>
                    <% if params[:q].present? %>
                      <th><%= link_to "ACH AFP", admins_instant_ach_index_path(batch_date: batch_key, batch_ach_id: "AFP-#{batch_key.to_datetime.to_i}", batch_search_params: params[:q].to_json), class: "link-color" %></th>
                    <% else %>
                      <th><%= link_to "ACH AFP", admins_instant_ach_index_path(batch_date: batch_key, batch_ach_id: "AFP-#{batch_key.to_datetime.to_i}"), class: "link-color" %></th>
                    <% end %>
                  <% else %>
                    <th class=""><%= "ACH AFP" %></th>
                  <% end %>
                  <td><%= number_with_precision(number_to_currency(affiliate_programs_achs_funding_amount), precision: 2) %></td>
                  <td><%= number_with_precision(number_to_currency(affiliate_programs_achs_total_amount), precision: 2) %></td>
                  <td><%= affiliate_programs_achs_complete_count %></td>
                  <td><%= affiliate_programs_achs_paid_by_wire_count %></td>
                  <td><%= affiliate_programs_achs_pending_count %></td>
                  <td><%= affiliate_programs_achs_in_process_count %></td>
                  <td><%= affiliate_programs_achs_failed_count %></td>
                  <td><%= affiliate_programs_achs_void_count %></td>
                </tr>



                <tr>
                  <% if check_ids.present? %>
                    <% if params[:q].present? %>
                      <th><%= link_to "Checks", admins_batch_checks_path(batch_date: batch_key,batch_checks_id: "Checks-#{batch_key.to_datetime.to_i}", batch_search_params: params[:q].to_json), class: 'link-color' %></th>
                    <% else %>
                      <th><%= link_to "Checks", admins_batch_checks_path(batch_date: batch_key,batch_checks_id: "Checks-#{batch_key.to_datetime.to_i}"), class: 'link-color' %></th>
                    <% end %>
                  <% else %>
                    <th  class=""><%= "Checks" %></th>
                  <% end %>

                  <td><%= number_with_precision(number_to_currency(checks_funding_amount), precision: 2) %></td>
                  <td><%= number_with_precision(number_to_currency(checks_total_amount), precision: 2) %></td>
                  <td><%= checks_complete_count %></td>
                  <td><%= checks_paid_by_wire_count %></td>
                  <td><%= checks_pending_count %></td>
                  <td><%= checks_in_process_count %></td>
                  <td><%= checks_failed_count %></td>
                  <td><%= checks_void_count %></td>
                </tr>
                <tr>
                  <% if ach_ids.present? %>
                    <% if params[:q].present? %>
                      <th><%= link_to "Push to Card", admins_instant_pay_index_path(batch_date: batch_key, batch_p2c_id: "P2C-#{batch_key.to_datetime.to_i}", batch_search_params: params[:q].to_json), class: 'link-color' %></th>
                    <% else %>
                      <th><%= link_to "Push to Card", admins_instant_pay_index_path(batch_date: batch_key, batch_p2c_id: "P2C-#{batch_key.to_datetime.to_i}"), class: 'link-color' %></th>
                    <% end %>
                  <% else %>
                    <th><%= "Push to Card" %></th>
                  <% end %>
                  <td><%= number_with_precision(number_to_currency(instant_pay_funding_amount), precision: 2) %></td>
                  <td><%= number_with_precision(number_to_currency(instant_pay_total_amount), precision: 2) %></td>
                  <td><%= instant_pay_complete_count %></td>
                  <td><%= instant_pay_paid_by_wire_count %></td>
                  <td><%= instant_pay_pending_count %></td>
                  <td><%= instant_pay_in_process_count %></td>
                  <td><%= instant_pay_failed_count %></td>
                  <td><%= instant_pay_void_count %></td>
                </tr>

                <tr>
                  <% if affiliate_programs_p2c_ids.present? %>
                    <% if params[:q].present? %>
                      <th><%= link_to "P2C AFP", admins_instant_pay_index_path(batch_date: batch_key, batch_p2c_id: "AFP-#{batch_key.to_datetime.to_i}", batch_search_params: params[:q].to_json), class: 'link-color' %></th>
                    <% else %>
                      <th><%= link_to "P2C AFP", admins_instant_pay_index_path(batch_date: batch_key, batch_p2c_id: "AFP-#{batch_key.to_datetime.to_i}"), class: 'link-color' %></th>
                    <% end %>
                  <% else %>
                    <th><%= "P2C AFP" %></th>
                  <% end %>
                  <td><%= number_with_precision(number_to_currency(affiliate_programs_p2c_funding_amount), precision: 2) %></td>
                  <td><%= number_with_precision(number_to_currency(affiliate_programs_p2c_total_amount), precision: 2) %></td>
                  <td><%= affiliate_programs_p2c_complete_count %></td>
                  <td><%= affiliate_programs_p2c_paid_by_wire_count %></td>
                  <td><%= affiliate_programs_p2c_pending_count %></td>
                  <td><%= affiliate_programs_p2c_in_process_count %></td>
                  <td><%= affiliate_programs_p2c_failed_count %></td>
                  <td><%= affiliate_programs_p2c_void_count %></td>
                </tr>



                <tr>
                  <th>Total</th>
                  <th><%= number_with_precision(number_to_currency(ach_funding_amount + checks_funding_amount + instant_pay_funding_amount + ach_cbd_funding_amount + ach_dispensary_funding_amount + international_achs_funding_amount + affiliate_programs_achs_funding_amount + affiliate_programs_p2c_funding_amount), precision: 2) %></th>
                  <th><%= number_with_precision(number_to_currency(ach_total_amount + checks_total_amount + instant_pay_total_amount + ach_cbd_total_amount + ach_dispensary_total_amount + international_ach_total_amount + affiliate_programs_achs_total_amount + affiliate_programs_p2c_total_amount), precision: 2) %></th>
                  <th><%= ach_complete_count + checks_complete_count + instant_pay_complete_count + ach_cbd_complete_count + ach_dispensary_complete_count + international_ach_complete_count + affiliate_programs_achs_complete_count + affiliate_programs_p2c_complete_count%></th>
                  <th><%= ach_paid_by_wire_count + checks_paid_by_wire_count + instant_pay_paid_by_wire_count + ach_cbd_paid_by_wire_count + ach_dispensary_paid_by_wire_count + international_ach_paid_by_wire_count + affiliate_programs_achs_paid_by_wire_count + affiliate_programs_p2c_paid_by_wire_count%></th>
                  <th><%= ach_pending_count + checks_pending_count + instant_pay_pending_count + ach_cbd_pending_count + ach_dispensary_pending_count + international_ach_pending_count + affiliate_programs_achs_pending_count + affiliate_programs_p2c_pending_count%></th>
                  <th><%= ach_in_process_count + checks_in_process_count + instant_pay_in_process_count + ach_cbd_in_process_count + ach_dispensary_in_process_count + international_ach_in_process_count + affiliate_programs_achs_in_process_count + affiliate_programs_p2c_in_process_count %></th>
                  <th><%= ach_failed_count + checks_failed_count + instant_pay_failed_count + ach_cbd_failed_count + ach_dispensary_failed_count + international_ach_failed_count  + affiliate_programs_achs_failed_count + affiliate_programs_p2c_failed_count%></th>
                  <th><%= ach_void_count + checks_void_count + instant_pay_void_count + ach_cbd_void_count + ach_dispensary_void_count + international_ach_void_count + affiliate_programs_achs_void_count + affiliate_programs_p2c_void_count%></th>
                </tr>
                </tbody>
              </table>
            </div>
          </div>
        </section>
      </div>
    </div>
  </section>
<% end %>
  <%= paginate @ach_batches, :theme => 'twitter-bootstrap-3', :pagination_class => "pagination-small pagination-centered pull-right padd" %>
<% else %>
  <h5 class="row">Batch date <%= @batch_date %></h5>
  <section class="section">
    <div class="row">
      <div class="card sameheight-item items" data-exclude="xs,sm,lg">
        <section class="example">
          <div class="">
            <div class="table-responsive">
              <table id="transfers_table" class="table table-striped table-bordered text-center" cellspacing="0" cellpadding="0">
                <thead>
                <tr class="tableHead text-center">
                  <th>Transfer Funds</th>
                  <th>Total Funding Amt</th>
                  <th>Total Batch Amt</th>
                  <th>Paid</th>
                  <th>Paid Wire</th>
                  <th>Pending</th>
                  <th>In-Progress</th>
                  <th>Failed</th>
                  <th>Voids</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                  <td>ACH</td>
                  <td><%= number_with_precision(number_to_currency(0), precision: 2) %></td>
                  <td><%= number_with_precision(number_to_currency(0), precision: 2) %></td>
                  <td>0</td>
                  <td>0</td>
                  <td>0</td>
                  <td>0</td>
                  <td>0</td>
                  <td>0</td>
                </tr>
                <tr>
                  <td>Checks</td>
                  <td><%= number_with_precision(number_to_currency(0), precision: 2) %></td>
                  <td><%= number_with_precision(number_to_currency(0), precision: 2) %></td>
                  <td>0</td>
                  <td>0</td>
                  <td>0</td>
                  <td>0</td>
                  <td>0</td>
                  <td>0</td>
                </tr>
                <tr>
                  <td>Push to Card</td>
                  <td><%= number_with_precision(number_to_currency(0), precision: 2) %></td>
                  <td><%= number_with_precision(number_to_currency(0), precision: 2) %></td>
                  <td>0</td>
                  <td>0</td>
                  <td>0</td>
                  <td>0</td>
                  <td>0</td>
                  <td>0</td>
                </tr>
                <tr>
                  <td>Total</td>
                  <td><%= number_with_precision(number_to_currency(0), precision: 2) %></td>
                  <td><%= number_with_precision(number_to_currency(0), precision: 2) %></td>
                  <td>0</td>
                  <td>0</td>
                  <td>0</td>
                  <td>0</td>
                  <td>0</td>
                  <td>0</td>
                </tr>
                </tbody>
              </table>
            </div>
          </div>
        </section>
      </div>
    </div>
  </section>
<% end %>