<div class="modal fade" id="newP2CModal"  tabindex="-1" role="dialog" aria-labelledby="orderModelLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header" >
        <p class="my-modal-header ">New P2C</p>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <%= render partial: "v2/merchant/shared/waiting_loader_withdraw" %>
        <%= simple_form_for @check , url: '/v2/merchant/push_to_card' ,method: :post, html:{ class: "check_form", id: "new_p2c", autocomplete: "off" } do |f|  %>
          <!--          <div class="row">-->
          <input class="form-control hidden" value="<%= current_user.email %>" type="hidden" name="check[sender]" id="check_sender">
          <input class="form-control hidden" value="<%= current_user.id %>" type="hidden" name="check[sender_id]" id="check_sender_id">
          <input type="hidden" id="pushlimit">
          <input type="hidden" id="pushlimittype">
          <input type="hidden" id="pushtotalcount">
          <input type="hidden" id="fee_dollar">
          <input type="hidden" id="fee_perc">
          <div class="col-lg-12">
            <section id="errormessage"></section>
            <div class="form-group m-form__group">
              <label for="fromAccount">
                Select Account
              </label>
              <div class="row">
                <div class="col-lg-6">
                  <% if @locations.present? && @user.merchant? %>
                    <%= select_tag( "location_id",
                                    options_for_select(@locations.map{|loc| [loc.business_name, loc.id]}, @locations.count == 1 ? @locations.first.try(:id) : nil),
                                    class: "form-control m-time-bootstrap-select m-bootstrap-select m-bootstrap-select--pill m_selectpicker reason-dd-1",
                                    data: {
                                        # remote: true,
                                        url: debit_card_deposit_form_v2_merchant_push_to_card_index_path(type: "push_to_card"),
                                        loc_count: @locations.count
                                    },include_blank: "Choose location"
                        ) %>
                  <% elsif @wallets %>
                    <%= select_tag( "location_id",
                                    options_for_select(@wallets.map{|loc| [loc.name, loc.id]}),
                                    class: "form-control m-time-bootstrap-select m-bootstrap-select m-bootstrap-select--pill m_selectpicker reason-dd-1",
                                    data: {
                                        # remote: true,
                                        url: debit_card_deposit_form_v2_merchant_push_to_card_index_path(type: "push_to_card")
                                    },include_blank: "Choose wallet"
                        ) %>
                  <% end %>
                  <span id="account_error" class="p_error text-danger"></span>
                  <div id="error-body error_bdy"></div>
                </div>
                <div class="col-lg-6">
                  <div class="account-balance">
                    Balance
                    <b class="pull-right font-weight-bold">
                      $<span id="balance">0.00</span>
                    </b>
                  </div>
                </div>
              </div>
            </div>
            <div class="container">
              <div class="row mt-3">
                <div class="form-group col-lg-6">
                  <label for="enterAccount">
                    Enter Recipient Email
                  </label>
                  <%= f.input_field :recipient,  class: "form-control m-input m-input--air m-input--pil" ,pattern: "[^@]+@[^@]+\.[a-zA-Z]{2,6}", data:{error: t('merchant.checks.recipient_email')},maxlength:45, placeholder: 'Recipient Email' %>
                  <span id="e-mail_error" class="p_error text-danger"></span>
                </div>

              </div>
              <div class="row mt-3 ">
                <div class="form-group col-lg-6">
                  <label for="enterAccount">
                    Enter Amount
                  </label>
                  <div class="input-icon icon_inside_input_field">
                    <span>$</span>
                    <%= f.text_field :amount, class: "form-control currency_format two_decimal less_than_zero revoke-paste", placeholder: '0.00', autocomplete: "new-password"%>
                    <!--                    <input type="number" id="amount_0" value="00.00" name="product[0][amount]" class="with-90-percent form-control pull-left text-align-center product_amount m-input" placeholder="10.00" required="">-->
                  </div>
                  <span id="amount_error" class="p_error text-danger"></span>
                  <span class="amount_limit_errors" id="amount_limit_errors"></span>
                  <span class="amount_limit_error" id="amount_limit_error"></span>
                  <span class="less_zero"></span>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-12 mt-5 f-color-777777">
                  <div class="simple-text" id="fee_div"><span id="amount">Amount: $00.00</span> &nbsp;&nbsp; <span id="fee">Fee: $00.00</span> &nbsp;&nbsp;
                    <span class="total style-1" id="total">Total: $00.00</span></div>
                </div>
              </div>
            </div>

            <div class="form-group mt-3 mb-3">
              <label for="exampleTextarea" class="mini-padding">
                Enter Memo
              </label>



              <%= f.text_area :description, class: "form-control m-input m-input--air memo_height",rows: "3" ,maxlength:"200",size: "200", placeholder: "Memo"%>
              <span id="desc_error" class="p_error text-danger"></span>
            </div>
              <div class="row" id="card_holder">
                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-xs-12">
                  <label for="enterAccount">
                    Card Holder Name
                    <!--                  Pay to the Order of-->
                  </label>
                  <%= f.input_field  :name , class: "form-control m-input m-input--air m-input--pill only_letters card_holder_before check_name ", maxlength: '50', placeholder: 'Name'%>
                  <span id="name_error" class="p_error text-danger error_spam_before"></span>
                </div>
              </div>

              <% if @debit_cards.present? %>

                <div class="row">
                  <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-xs-12 mt-2">
                    <div id="card_dropdown">
                      <label for="fromAccount">
                        Select Debit Card
                      </label>
                      <div class="button-group">
                        <input type="hidden" data-card="-- Select a card --" name="check[check_id]" id="banks" value="">

                        <button type="button" class="btn select_card  rotate--icon" data-toggle="dropdown">
                          <%= image_tag "v2/merchant/icons/visa_PNG30.jpg" %>
                          <span class="permission-dropdown p2c_card_dd">
                       -- Select a card --
                      </span> <%= image_tag "v2/merchant/icons/down-b.svg", class: 'pull-right margin--3 rotate' %>
                        </button>
                        <ul class="dropdown-menu dropdown--menu permission-dropdown--menu dropdown-menu--pad p2c_select drop-down">
                          <li>
                            <a href="#" data-card="" data-value="" id="default" class="permission-title card_number_image" tabIndex="-1">
                              <span class="p2c_card_dd"> -- Select a card -- </span>
                              <span></span>
                            </a>
                          </li>
                          <% @debit_cards.each do |c| %>
                            <li>
                              <a href="#" data-card="•••• •••• •••• <%= "#{c.last4}" %>" data-value="<%= c.id %>" class="permission-title card_number_image" tabIndex="-1">
                                <%= image_tag "v2/merchant/icons/visa_PNG30.jpg" %> <span class="p2c_card_dd">•••• •••• •••• <%= "#{c.last4}" %></span> <%= image_tag "v2/merchant/icons/trash_icon.svg",class:"trash_icon",:"data-card_id" => c.id %>
                                <span></span>
                              </a>
                            </li>
                          <% end %>
                        </ul>
                      </div>
                      <span id="bank_select_error" class="p_error text-danger"></span>
                      <span id="errorss_new1"></span>
                    </div>
                  </div>
                  <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-xs-12">
                    <div class="form-group m-form__group mt-5">
                      <label class="m-debit-checkbox m-checkbox m-checkbox--state-brand ">
                        <input type="checkbox" id="add_new_card_check">
                        Add New Debit Card
                        <span class="verify_checkbox"></span>
                      </label>
                    </div>
                  </div>
                </div>
                <div id="Add_new_div_fields" class="display-none">
                  <div class="row">
                    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-xs-12">
                      <label for="enterAccount">
                        Card Holder Name
                        <!--                                          Pay to the Order of-->
                      </label>
                      <%= f.input_field  :name , class: "form-control m-input m-input--air m-input--pill only_letters card_holder_after check_name", maxlength: '50', placeholder: 'Name'%>
                      <span id="name_error" class="p_error text-danger error_spam_after"></span>
                    </div>
                    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-xs-12">
                      <label for="enterAccount">
                        Enter Zip Code
                      </label>
                      <input id="zip_code" type="text" name="check[zip_code]" class="form-control m-input m-input--air m-input--pill only_numbers" maxlength="12" placeholder="000 0000">
                      <span id="zip_error" class="p_error text-danger"></span>
                    </div>
                  </div>
                  <div class="row mt-3">
                    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-xs-12">
                      <label for="enterAccount" class="credit_card_images mb-0">
                        <div class="pull-left mt-2">
                          Enter Card Number
                        </div>
                        <%= image_tag 'v2/merchant/icons/visa.svg',id: "c_logo", class: 'pull-right' %>
                      </label>
                      <!--                      <input type="text" class="form-control m-input m-input--air m-input--pill" placeholder="•••• •••• •••• ••••" name="check[card_number]" id="card_number" maxlength="16" minlength="13"   >-->
                      <input  id="cardNo" class="form-control card_no secure" data-card_status="false"  type="tel" maxlength="19" placeholder="•••• •••• •••• 3454">
                      <input  name="check[card_number]" type="hidden" name="cardNoSafe" id="cardNoSafe" value="" style="display:none;">
                      <span id="errorss_new"></span>
                      <span id="errorss"> </span>
                      <span id="card_error" class="p_error text-danger"></span>
                    </div>
<!--                    <div class="col-lg-6">-->
<!--                      <div class="row">-->
                        <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 col-xs-3">
                          <label for="enterAccount" class="mb-3">
                            Expiry Date
                          </label>
                          <input type="text" name="check[expiry_date]" id="exp_date_debit" class="form-control m-input m-input--air m-input--pill" placeholder="MM/YY">
                          <span id="exp_error" class="p_error text-danger padding-0"></span>
                        </div>
                        <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 col-xs-3">
                          <label for="enterAccount" class="mb-3"> CVC</label>
                          <span data-container="body" id="pop_up_image" data-toggle="popover" data-placement="top" title="" data-img='<%= image_tag 'v2/merchant/icons/CVV_icon.svg' %>'>
                      <%= image_tag 'v2/merchant/icons/info_icon.svg', class:'ml-2'%>
                    </span>
                          <input name="check[cvv]" id="cvv" type="password" maxlength="4" class="form-control only_numbers" placeholder="•••">
                          <span id="cvv_error" class="p_error text-danger padding-0"></span>
                          <!--                      <input type="text" class="form-control m-input m-input--air m-input--pill" placeholder="•••">-->
                        </div>
<!--                      </div>-->
<!--                    </div>-->
                  </div>
                  <div class="row mt-3">
                    <div class="col-lg-6 mt-5">
                      <label class="m-checkbox m-r-checkbox">
                        <input type="checkbox" class="checkbox_2 Caminho-4835" name="save_card" id="save_card">
                        <p class="Add-New-Debit-Card font-style">
                          Save card for future use
                        </p>
                        <span></span>
                      </label>
                    </div>
                  </div>
                </div>
              <% else %>
                <!--              after checked-->
                <div id="">
                  <div class="row">
                    <div class="col-lg-6">
                      <label for="enterAccount" class="credit_card_images mb-0">
                        <div class="pull-left mt-2">
                          Enter Card Number
                        </div>
                        <%= image_tag 'v2/merchant/icons/visa_card.jpg',id: "c_logo", class: 'pull-right' %>
                      </label>
                      <!--                      <input type="text" class="form-control m-input m-input--air m-input--pill" placeholder="•••• •••• •••• ••••" name="check[card_number]" id="card_number" maxlength="16" minlength="13"   >-->
                      <input id="cardNo" class="form-control card_no secure" minlength="19" type="tel" maxlength="19" placeholder="•••• •••• •••• 3454">
                      <input name="check[card_number]" type="hidden" name="cardNoSafe" id="cardNoSafe" value="" style="display:none;">
                      <span id="card_error" class="p_error text-danger"></span>
                      <span id="errorss_new"> </span>
                      <span id="errorss"> </span>
                    </div>

                    <div class="col-lg-6">
                      <div class="row">
                        <div class="col-lg-5">
                          <label for="enterAccount" class="mb-3">
                            Expiry Date
                          </label>
                          <input type="text" name="check[expiry_date]" id="exp_date_debit" class="form-control m-input m-input--air m-input--pill" placeholder="MM/YY">
                          <span id="exp_error" class="p_error text-danger"></span>
                        </div>
                        <div class="col-lg-1"></div>
                        <div class="form-group col-lg-5">
                          <label for="enterAccount" class="mb-3">CVC   </label>
                          <span data-container="body" id="pop_up_image" data-toggle="popover" data-placement="top" title="" data-img='<%= image_tag 'v2/merchant/icons/CVV_icon.svg' %>'>
                       <%= image_tag 'v2/merchant/icons/info_icon.svg', class:'ml-2'%>
                       </span>
                          <input name="check[cvv]" id="cvv" type="password" maxlength="4" class="form-control only_numbers" placeholder="•••">
                          <span id="cvv_error" class="p_error text-danger"></span>
                          <!--                      <input type="text" class="form-control m-input m-input--air m-input--pill" placeholder="•••">-->
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="row mt-3">
                    <div class="form-group col-lg-6">
                      <label for="enterAccount">
                        Enter Zip Code
                      </label>
                      <input id="zip_code" name="check[zip_code]" type="text" class="form-control m-input m-input--air m-input--pill only_numbers" maxlength="12">
                      <span id="zip_error" class="p_error text-danger"></span>
                    </div>

                    <div class="col-lg-6 mt-5">
                      <label class="m-checkbox m-r-checkbox">
                        <input type="checkbox" class="checkbox_2 Caminho-4835" name="save_card" id="save_card">
                        <p class="Add-New-Debit-Card font-style">
                          Save card for future use
                        </p>
                        <span></span>
                      </label>
                    </div>
                  </div>
                </div>
              <% end %>

          </div>
          <div class="col-lg-12 text-center">
            <div class="confirm-modal-btn">
              <%#= f.submit "Create", class: 'btn btn-default btn_confirm' %>
              <!--data-dismiss="modal" data-toggle="modal" data-target="#ConfimP2cModal"-->
              <button href="" class="con btn btn-default btn_confirm confirm_btn" >Submit</button>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
<%= render partial: "confirm_p2c_modal" %>
<%= javascript_include_tag 'v2/merchant/push_to_card' %>
