<div class="modal fade" id="p2c_detail" class="confirmuserpermissionModal" tabindex="-1" role="dialog" aria-labelledby="orderModelLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header" >
        <p class="ach_heading">P2C Details</p>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">

        </button>
      </div>
      <div class="modal-body">
        <div class="account-transfer-confirm">
          <form onsubmit="return false">
            <div class="row mt-4">
              <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-xs-12">
                <div class="brown no-radius">
                  <div class="small">
                    Account
                  </div>
                  <div class="name">
                    <% wallet = Wallet.find_by(id: @check.wallet_id) %>
                    <% account = wallet.location.try(:business_name) if wallet.present? %>
                    <%= account %>
                  </div>
                </div>
                <div class="simple no-radius">
                  <div class="small">
                    Recipient
                  </div>
                  <div class="name">
                    <%= @check.name %>
                  </div>
                </div>
                <div class="brown no-radius">
                  <div class="small">
                    Number
                  </div>
                  <div class="name">
                    <%= @check.try(:id) %>
                  </div>
                </div>
                <div class="simple no-radius">
                  <div class="small">
                    Status
                  </div>
                  <div class="name">
                    <%= @check.status %>
                  </div>
                </div>
                <div class="brown no-radius">
                  <div class="small">
                    Memo
                  </div>
                  <div class="name acc-dec">
                    <%= @check.try(:description) %>
                  </div>
                </div>
              </div>

              <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-xs-12">
                <div class="right-box">
                  <div class="title">
                    Accounts
                  </div>
                  <hr class="hr mt-3">
                  <div class="brown">
                    <div class="label">
                      P2C Amount
                      <span class="price pull-right">
                      $<%= number_with_precision(@check.actual_amount, precision: 2, delimiter: ',') %>
                    </span>
                    </div>
                  </div>
                  <div class="simple">
                    <div class="label">
                      Fee
                      <span class="price pull-right">
                       $<%= number_with_precision(@check.amount - @check.actual_amount, precision: 2, delimiter: ',') %>
                      </span>
                    </div>
                  </div>
                  <hr class="hr mt-3">
                  <div class="brown">
                    <div class="label">
                      Total Amount
                      <span class="price pull-right">
                      $<%= number_with_precision(@check.amount, precision: 2, delimiter: ',') %>
                    </span>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 mt-4">
                <center>
                  <% if @user.role == "merchant" || @user.role=='iso' || @user.role=='affiliate' || @user.role=='agent'  %>
                    <% if @check.status == "UNPAID" || @check.status == "PENDING" || @check.status == "IN_PROCESS"%>
                      <% if @user_permission.try(:ach_void) %>
                        <% if @check.under_review? %>
                          <a id="void_modal" href="#" class="btn btn_ach_void" data-void_id="<%= @check.id %>" data-dismiss="modal" data-toggle="modal" data-target="#p2c_void_modal" aria-label="Close">Void</a>
                        <% else %>
                        <a id="void_modal" href="#" class="btn btn_ach_void" data-void_id="<%= @check.id %>" data-dismiss="modal" data-toggle="modal" data-target="#p2c_void_modal" aria-label="Close">Void</a>
                      <% end %>
                      <% end %>
                    <%  end %>
                  <% end %>
                  <a href="#" class="btn btn_ach_close" data-dismiss="modal" aria-label="Close">Close</a>
                </center>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
