<!--//////////////////////////////////////////////////////////-->
<!--<div class="dropdown">-->
<!--  <button class="btn-status text-center" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" data-flip="false">-->
<!--    <i class="flaticon-interface-2 icon_charge_back"></i>-->
<!--    <span class="">Status</span>-->
<!--  </button>-->
  <%#= simple_form_for :search, url: '/v2/merchant/push_to_card', method: "GET", html: { class: 'form-inline' , id: "filter_form"} do |f| %>
<!--    <div class="dropdown-menu status_drop_down_new down-status" aria-labelledby="dropdownMenuButton">-->
<!--      <p class="refund-dropdown-heading">Select Status</p>-->
<!--      <div class="">-->
<!--        <label class="m-checkbox m-r-checkbox mb-0 pl-3 m-checkbox_chargeback">-->
          <%# all =  params["search"].try(:[],:all) == "1" ||  params["search"].try(:select) {|k,v| v=="1"}.try(:keys).try(:count) == 4 %>
          <%# all = params["search"].try(:[],:all) == "1" %>

          <%#= f.check_box :all ,class:"checkbox_2 payee_checkbox" , checked: all%>
          <%#= f.check_box :all ,class:"checkbox_2 payee_checkbox", checked: all %>
<!--          <p class="status_text ml-3">All</p>-->
<!--          <span></span>-->
<!--        </label>-->
<!--      </div>-->
<!--      <div class="">-->
<!--        <label class="m-checkbox m-r-checkbox mb-0 pl-3 m-checkbox_chargeback">-->
          <%# paid = params["search"].try(:[],:paid) == "1" %>
          <%#= f.check_box :paid ,class:"payee_checkbox", checked: paid  %>
<!--          <p class="status_text ml-3">Paid</p>-->
<!--          <span></span>-->
<!--        </label>-->
<!--      </div>-->
<!--      <div class="">-->
<!--        <label class="m-checkbox m-r-checkbox mb-0 pl-3 m-checkbox_chargeback">-->
          <%# pending =  params["search"].try(:[],:pending)  == "1" %>
          <%#= f.check_box :pending ,class:"payee_checkbox", checked: pending %>
<!--          <p class="status_text ml-3">Pending</p>-->
<!--          <span></span>-->
<!--        </label>-->
<!--      </div>-->
<!--      <div class="">-->
<!--        <label class="m-checkbox m-r-checkbox mb-0 pl-3 m-checkbox_chargeback">-->
          <%# void =  params["search"].try(:[],:void)  == "1" %>
          <%#= f.check_box :void ,class:"payee_checkbox", checked: void %>
<!--          <p class="status_text ml-3">Void</p>-->
<!--          <span></span>-->
<!--        </label>-->
<!--      </div>-->
<!--      <div class="">-->
<!--        <label class="m-checkbox m-r-checkbox mb-0 pl-3 m-checkbox_chargeback">-->
          <%# paid_wire =  params["search"].try(:[],:paid_wire)  == "1" %>
          <%#= f.check_box :paid_wire,class:"payee_checkbox", checked: paid_wire %>
<!--          <p class="status_text ml-3">Paid by Wire</p>-->
<!--          <span></span>-->
<!--        </label>-->
<!--      </div>-->
<!--      <div class="">-->
<!--        <label class="m-checkbox m-r-checkbox mb-0 pl-3 m-checkbox_chargeback">-->
          <%# failed =  params["search"].try(:[],:failed)  == "1" %>
          <%#= f.check_box :failed,class:"payee_checkbox", checked: failed %>
<!--          <p class="status_text ml-3">Failed</p>-->
<!--          <span></span>-->
<!--        </label>-->
<!--      </div>-->
<!--    </div>-->
  <%#end%>
<!--</div>-->

<!--begin: Dropdown-->
<div class="m-dropdown m-dropdown--inline m-dropdown--arrow m-dropdown--align-left m-dropdown--align-push" m-dropdown-toggle="click" aria-expanded="true">
  <button  class="btn-status text-center m-portlet__nav-link m-dropdown__toggle btn m-btn m-btn--link" id="dropdownMenuButton" type="button">
    <i class="flaticon-interface-2 icon_charge_back"></i>
    <span class="">Status</span>
  </button>
  <%= simple_form_for :search, url: '/v2/merchant/push_to_card', method: "GET", html: { class: 'form-inline' , id: "filter_form"} do |f| %>
  <div class="m-dropdown__wrapper status_new_dropdown">
    <span class="m-dropdown__arrow m-dropdown__arrow--left m-dropdown__arrow--adjust"></span>
    <div class="m-dropdown__inner">
      <div class="m-dropdown__body">
        <div class="m-dropdown__content">
          <p class="refund-dropdown-heading">Select Status</p>
          <div class="">
            <label class="m-checkbox m-r-checkbox mb-0 pl-3 ml-0 mr-0">
              <% all = params["search"].try(:[],:all) == "1" %>
              <%= f.check_box :all ,class:"checkbox_2 payee_checkbox" , checked: all%>
              <p class="status_text ml-3">All</p>
              <span class="datatable_status_filter"></span>
            </label>
          </div>
          <div class="">
            <label class="m-checkbox m-r-checkbox mb-0 pl-3 ml-0 mr-0">
              <% paid = params["search"].try(:[],:paid) == "1" %>
              <%= f.check_box :paid ,class:"payee_checkbox", checked: paid  %>
              <p class="status_text ml-3">Paid</p>
              <span></span>
            </label>
          </div>
          <div class="">
            <label class="m-checkbox m-r-checkbox mb-0 pl-3 ml-0 mr-0">
              <% pending =  params["search"].try(:[],:pending)  == "1" %>
              <%= f.check_box :pending ,class:"payee_checkbox", checked: pending %>
              <p class="status_text ml-3">Pending</p>
              <span></span>
            </label>
          </div>
          <div class="">
            <label class="m-checkbox m-r-checkbox mb-0 pl-3 ml-0 mr-0">
              <% void =  params["search"].try(:[],:void)  == "1" %>
              <%= f.check_box :void ,class:"payee_checkbox", checked: void %>
              <p class="status_text  ml-3">Void</p>
              <span></span>
            </label>
          </div>
          <div class="">
            <label class="m-checkbox m-r-checkbox mb-0 pl-3 ml-0 mr-0">
              <% paid_wire =  params["search"].try(:[],:paid_wire)  == "1" %>
              <%= f.check_box :paid_wire,class:"payee_checkbox", checked: paid_wire %>
              <p class="status_text ml-3">Paid by Wire</p>
              <span></span>
            </label>
          </div>
          <div class="">
            <label class="m-checkbox m-r-checkbox mb-0 pl-3 ml-0 mr-0">
              <% failed =  params["search"].try(:[],:failed)  == "1" %>
              <%= f.check_box :failed,class:"payee_checkbox", checked: failed %>
              <p class="status_text ml-3">Failed</p>
              <span></span>
            </label>
          </div>
        </div>
      </div>
    </div>
  </div>
  <%end%>
</div>
<!--end: Dropdown-->