<%= stylesheet_link_tag "v2/partner/profiles" %>
<div class="m-subheader">
  <div class="d-flex align-items-center">
    <div class="mr-auto">
      <ul class="m-subheader__breadcrumbs m-nav m-nav--inline set-path">
        <li class="m-nav__item">
          <a href="#" class="m-nav__link">
            <span class="my-order-nav">
                Profile
            </span>
          </a>
        </li>
        <li class="m-nav__separator">
          <%= image_tag "v2/merchant/profile/angle.svg"%>
        </li>
        <li class="m-nav__item">
          <a href="#" class="m-nav__link">
              <span class="order-active">
                Privacy Policy
              </span>
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>
​
<div class="m-content">
  <div class="row">
    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-xs-12">
      <div class="page-title mb-4">
        Privacy Policy
      </div>
    </div>
    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-xs-12">
      <div class="mb-4 pull-right">
      </div>
    </div>
  </div>
  ​
  <div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
      <div class="faq-page">
        <div class="row">
          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="m-portlet__body">
              <h2 class="text-center"><b>QuickCard Privacy Notice</b></h2>
              <div class="col-md-12 mt-4rem"><h3><b>Effective Date:</b> June 22, 2020</h3></div>
              <div class="col-md-12 mt-2rem"><h4>This <b>Privacy Notice</b> describes the types of personal information we collect through our payment platform, and various third parties in order to provide our blockchain payment processing platform that enable merchants to conduct their business. </h4></div>
              <div class="col-md-12 mt-12rem"><h4><b>QuickCard respects your privacy. We do not sell your personal information to marketers or unaffiliated third parties.</b> We share your personal information with our trusted partners, as discussed below. </h4></div>
              <div class="col-md-12 mt-12rem"><h4>This notice was written to comply with the California Consumer Privacy Act of 2018 (CCPA) and any terms defined in the CCPA have the same meaning when used in this notice. </h4></div>
              <h2 class="text-center"><u>Information We Collect</u></h2>

              <div class="col-md-12 mt-2rem"><h4>Our platform, through transactions you conduct with our merchants, collects information that identifies, relates to, describes, references, is capable of being associated with, or could reasonably be linked, directly or indirectly, with a particular consumer or device (<b>"personal information or personal data"</b>).
                We discuss the personal information collected by QuickCard's platform within the last twelve (12) months in more detail below. </h4></div>
              <div class="col-md-12 mt-12rem"><h4>The personal information we collect from you relates to an identified or identifiable individual (an “identifier”), and is typically
                collected because you supplied it us to complete a transaction or engage in a contractual relationship with us. These types of identifiers include: </h4></div>
              <div class="col-md-12">
                <ul class="List_items_decoration">
                  <li><h4>Your name or alias, signature, Social Security number, address (postal and/or email), telephone number, driver's license or state identification card number, employment, bank account number, credit card number, debit card number, or any other financial information supplied to us by you or with your express written consent, IP address, account name, merchant ID, or other</h4></li>
                </ul>
              </div>
              <div class="col-md-12 mt-12rem"><h4>Personal information does <b>not</b> include: </h4></div>

              <div class="col-md-12">
                <ul class="List_items_decoration">
                  <li><h4>Publicly available information from government records.</h4></li>
                  <li><h4>Deidentified or aggregated consumer information.</h4></li>
                  <li><h4>Information excluded from the CCPA's scope, like:</h4>
                    <ul class="List_items_decoration">
                      <li><h4>health or medical information covered by the Health Insurance Portability and Accountability Act of 1996 (HIPAA) and the California Confidentiality of Medical Information Act (CMIA) or clinical trial data;</h4></li>
                      <li><h4>personal information covered by certain sector-specific privacy laws, including the Fair Credit Reporting Act (FRCA), the Gramm-Leach-Bliley Act (GLBA) or California Financial Information Privacy Act (FIPA), and the Driver's Privacy Protection Act of 1994.</h4></li>
                    </ul>
                  </li>
                </ul>
              </div>
              <div class="col-md-12 mt-12rem"><h4>QuickCard obtains the categories of personal information listed above from the following categories of sources: </h4></div>
              <div class="col-md-12">
                <ul class="List_items_decoration">
                  <li><h4><b><u>Directly from you.</u></b> For example, from forms you complete or products and services you purchase.</h4></li>
                  <li><h4><b><u>Indirectly from you.</u></b> For example, from your actions on our platform or when purchasing from a merchant that uses our services.</h4></li>
                </ul>
              </div>

              <h2 class="col-md-12 mt-2rem"><u>Personal Information Collected Directly From You:</u></h2>
              <div class="col-md-12 mt-12rem"><h4>The personal information we collect from you relates to an identified or identifiable individual, and is typically collected because you supplied it to complete a transaction. As discussed above, these types of identifiers include: </h4></div>
              <div class="col-md-12">
                <ul class="List_items_decoration">
                  <li><h4>Information you’ve directly supplied to us (by way of an application to register for an account, or to submit an inquiry to our customer service), such as</h4>
                  <ul class="List_items_decoration_circle">
                    <li><h4>Your full name;</h4></li>
                    <li><h4>Your email address or other online identifier, or account name.</h4></li>
                  </ul>
                  </li>
                  <li><h4>If you’ve applied for a merchant account with us, we also collect certain financial information about you, pursuant to the information and permissions supplied by way of your application and processing agreement. We also collected any other information you’ve supplied in your application packet, such as a birthdate, postal address, business address, social security number, tax ID or Employer Identification Number (EIN), phone number, signature, driver’s license or other state identification card information. </h4></li>
                  <li><h4>When, as a customer, you conduct transactions through a merchant using our platform we collect information sufficient to complete the payment and detect and guard against fraudulent activity. Information needed to complete the transaction may include your name, purchase amount, tokenized card data (i.e., card number used, with certain information obscured through our proprietary security methods), time of purchase, date of purchase, the merchant you made a purchase from, and the type of card used. When we conduct certain fraud monitoring activities, we and our fraud prevention partners collect and assess this information to ensure the authenticity of transactions and detect and prevent against fraudulent identifiers. </h4></li>
                </ul>
              </div>

              <h2 class="col-md-12 mt-2rem"><u>Personal Information Collected Indirectly From You:</u></h2>
              <div class="col-md-12 mt-12rem">
                <h4>We collect certain information using cookies and other technology to ensure proper functionality and reduce fraud. This data includes: </h4></div>
              <div class="col-md-12">
                <ul class="List_items_decoration">
                  <li><h4>Browser and device data such as IP address, browser and operating system information. </h4></li>
                  <li><h4>Usage data. </h4></li>
                </ul>
              </div>

              <h2 class="text-center mt-2rem"><u>Use of Personal Information</u></h2>

              <div class="col-md-12 mt-2rem">
                <h4>We may use, or disclose the personal information we collect for one or more of the following purposes: </h4></div>
              <div class="col-md-12">
                <ul class="List_items_decoration">
                  <li><h4>To fulfill or meet the reason you provided the information. For example, if you share your name and contact information to request that we contact you about a certain issue, we will use that personal information to respond to your inquiry. If you provide your personal information to purchase a product or service, we will use that information to process your payment and facilitate your transaction with a merchant.</h4></li>
                  <li><h4>To provide support, and improve / develop our products and services.</h4></li>
                  <li><h4>To create, maintain, customize, and secure your account with us.</h4></li>
                  <li><h4>To process your requests, purchases, transactions, and payments and prevent transactional fraud.</h4></li>
                  <li><h4>To provide you with support and to respond to your inquiries, including to investigate and address your concerns and monitor and improve our responses.</h4></li>
                  <li><h4>To help maintain the safety, security, and integrity of our products and services, databases and other technology assets, and business.</h4></li>
                  <li><h4>To respond or comply with any writ of attachment, lien, levy, subpoena, warrant, or other legal order that we believe to be valid. We are not responsible for any direct or indirect losses you may incur as a result of our response to such request. </h4></li>
                  <li><h4>As described to you when collecting your personal information or as otherwise set forth in the CCPA.</h4></li>
                </ul>
              </div>

              <h3 class="text-center mt-2rem"><b>QuickCard will not collect additional categories of personal information or use the personal information we collected for materially different, unrelated, or incompatible purposes without providing you advance notice.</b></h3>

              <h2 class="text-center mt-2rem"><u>Sharing Personal Information</u></h2>
              <div class="col-md-12 mt-2rem">
                <h4>QuickCard may disclose your personal information to a third party for a business purpose, such as fraud monitoring or completing a transaction. When we disclose personal information for a business purpose, we enter a contract that describes the purpose and requires the recipient to both keep that personal information confidential and not use it for any purpose except performing the contract. We do not sell your personal information and we require that the third parties and vendors we engage with do the same. </h4></div>
              <div class="col-md-12">
                <h4>We share your personal information with the following categories of third parties:</h4></div>
              <div class="col-md-12">
                <ul class="List_items_decoration">
                  <li><h4>Service providers.</h4></li>
                  <li><h4>Data aggregators – such as fraud monitoring services and companies that use this information to verify the authenticity and security of your transactions and personal data.</h4></li>
                </ul>
              </div>
              <h3 class="col-md-12 mt-2rem"><b><i>Disclosures of Personal Information for a Business Purpose</i></b></h3>
              <div class="col-md-12 mt-2rem">
                <h4>In the preceding twelve (12) months, Company has disclosed the following personal information for a business purpose (terms used below are as defined in the CCPA):</h4></div>
              <div class="col-md-12">
                <ul class="List_items_decoration">
                  <li><h4>Identifiers, Personal information categories listed in the California Customer Records statute (Cal. Civ. Code § 1798.80(e)), Commercial information, Internet or other similar network activity, Geolocation data, Professional or employment-related information, Inferences drawn from other personal information (used for fraud monitoring and prevent activities)</h4></li>
                </ul>
              </div>

              <div class="col-md-12">
                <h4>We disclose your personal information for a business purpose to the following categories of third parties: </h4></div>
              <div class="col-md-12">
                <ul class="List_items_decoration">
                  <li><h4>Service providers.</h4></li>
                </ul>
              </div>

              <h2 class="text-center mt-2rem"><u>Your Rights and Choices </u></h2>
              <div class="col-md-12 mt-2rem">
                <h4>The CCPA provides consumers (California residents) with specific rights regarding their personal information. This section describes your CCPA rights and explains how to exercise those rights.</h4></div>
              <h3 class="col-md-12 mt-2rem"><b><i>Access to Specific Information and Data Portability RightsAccess to Specific Information and Data Portability Rights</i></b></h3>
              <div class="col-md-12">
                <h4>You have the right to request that QuickCard disclose certain information to you about our collection and use of your personal information over the past 12 months. Once we receive and confirm your verifiable consumer request, we will disclose to you: </h4></div>
              <div class="col-md-12">
                <ul class="List_items_decoration">
                  <li><h4>The nature and purpose of such disclosure (i.e., for a business purpose).</h4></li>
                  <li><h4>The categories of personal information we collected about you.</h4></li>
                  <li><h4>The categories of sources for the personal information we collected about you.</h4></li>
                  <li><h4>Our business or commercial purpose for collecting or selling that personal information.</h4></li>
                  <li><h4>The categories of third parties with whom we share that personal information.</h4></li>
                  <li><h4>The specific pieces of personal information we collected about you (also called a data portability request).</h4></li>
                </ul>
              </div>

              <div class="col-md-12">
                <h4>You have the right to request that QuickCard delete any of your personal information that we
                  collected from you and retained, subject to certain exceptions. Once we receive and confirm your
                  verifiable consumer request, we will delete (and direct our service providers to delete) your personal
                  information from our records, unless an exception applies. </h4></div>
              <div class="col-md-12">
                <h4>We may deny your deletion request if retaining the information is necessary for us or our service provider(s) to: </h4></div>
              <div class="col-md-12">
                <ul class="List_items_decoration_decimal">
                  <li><h4>Complete the transaction for which we collected the personal information, provide a good or service that you requested, take actions reasonably anticipated within the context of our ongoing business relationship with you, or otherwise perform our contract with you.</h4></li>
                  <li><h4>Detect security incidents, protect against malicious, deceptive, fraudulent, or illegal activity, or prosecute those responsible for such activities.</h4></li>
                  <li><h4>Debug products to identify and repair errors that impair existing intended functionality.</h4></li>
                  <li><h4>Exercise free speech, ensure the right of another consumer to exercise their free speech rights, or exercise another right provided for by law.</h4>
                  </li>
                  <li><h4>Comply with the California Electronic Communications Privacy Act (Cal. Penal Code § 1546 et. seq.).</h4></li>
                  <li><h4>Engage in public or peer-reviewed scientific, historical, or statistical research in the public interest that adheres to all other applicable ethics and privacy laws, when the information's deletion may likely render impossible or seriously impair the research's achievement, if you previously provided informed consent.</h4></li>
                  <li><h4>Enable solely internal uses that are reasonably aligned with consumer expectations based on your relationship with us.</h4></li>
                  <li><h4>Comply with a legal obligation.</h4></li>
                  <li><h4>Make other internal and lawful uses of that information that are compatible with the context in which you provided it.</h4></li>
                </ul>
              </div>

              <h3 class="col-md-12 mt-2rem"><b><i>Exercising Access, Data Portability, and Deletion Rights</i></b></h3>
              <div class="col-md-12 mt-2rem">
                <h4>To exercise the access, data portability, and deletion rights described above, please submit a verifiable consumer request to us by either:</h4></div>
              <div class="col-md-12">
                <ul class="List_items_decoration">
                  <li><h4>Submitting a request to privacy@quickcard.me</h4></li>
                </ul>
              </div>

              <div class="col-md-12">
                <h4>Only you, or someone legally authorized to act on your behalf, may make a verifiable consumer
                  request related to your personal information. You may also make a verifiable consumer request on
                  behalf of your minor child.</h4></div>
              <div class="col-md-12">
                <h4>You may only make a verifiable consumer request for access or data portability twice within a 12-month period. The verifiable consumer request must:</h4></div>
              <div class="col-md-12">
                <ul class="List_items_decoration">
                  <li><h4>Provide sufficient information that allows us to reasonably verify you are the person about whom we collected personal information or an authorized representative.</h4></li>
                  <li><h4>Describe your request with sufficient detail that allows us to properly understand, evaluate, and respond to it.</h4></li>
                </ul>
              </div>

              <div class="col-md-12">
                <h4>We cannot respond to your request or provide you with personal information if we cannot verify your identity or authority to make the request and confirm the personal information relates to you. </h4></div>
              <div class="col-md-12">
                <h4>Making a verifiable consumer request does not require you to create an account with us. However, we do consider requests made through your password protected account sufficiently verified when the request relates to personal information associated with that specific account. We will only use personal information provided in a verifiable consumer request to verify the requestor's identity or authority to make the request. </h4>
              </div>

              <h3 class="col-md-12 mt-2rem"><b><i>Response Timing and Format</i></b></h3>
              <div class="col-md-12 mt-2rem">
                <h4>We will work hard to respond to a verifiable consumer request within thirty (30) days of its receipt and verification. If we require more time (up to 60 days), we will inform you of the reason and extension period in writing.</h4></div>

              <div class="col-md-12">
                <h4>If you have an account with us, we will deliver our written response to that account. If you do not have an account with us, we will deliver our written response by mail or electronically, at your option. </h4>
              </div>

              <div class="col-md-12">
                <h4>Any disclosures we provide will only cover the 12-month period preceding the verifiable consumer request's receipt. The response we provide will also explain the reasons we cannot comply with a request, if applicable. For data portability requests, we will select a format to provide your personal information that is readily useable and should allow you to transmit the information from one entity to another entity without hindrance, as the particular case may require. </h4>
              </div>

              <div class="col-md-12">
                <h4>We do not charge a fee to process or respond to your verifiable consumer request unless it is excessive, repetitive, or manifestly unfounded. If we determine that the request warrants a fee, we will tell you why we made that decision and provide you with a cost estimate before completing your request and incurring charges.</h4>
              </div>

              <h2 class="text-center mt-2rem"><u>Non-Discrimination </u></h2>
              <div class="col-md-12 mt-2rem">
                <h4>We will not discriminate against you for exercising any of your CCPA rights. Unless permitted by the CCPA, we will not:</h4>
              </div>
              <div class="col-md-12">
                <ul class="List_items_decoration">
                  <li><h4>Deny you goods or services.</h4></li>
                  <li><h4>Charge you different prices or rates for goods or services, including through granting discounts or other benefits, or imposing penalties.</h4></li>
                  <li><h4>Provide you a different level or quality of goods or services.</h4></li>
                  <li><h4>Suggest that you may receive a different price or rate for goods or services or a different level or quality of goods or services.</h4>
                  </li>
                </ul>
              </div>

              <h2 class="text-center mt-2rem"><u>Other California Privacy Rights</u></h2>
              <div class="col-md-12 mt-2rem">
                <h4>California's "Shine the Light" law (Civil Code Section § 1798.83) permits users of our Website that are California residents to request certain information regarding our disclosure of personal information to third parties for their direct marketing purposes. To make such a request, please send an email to privacy@quickcard.me or write us at:</h4>
              </div>
              <div class="col-md-12">
                <ul class="">
                  <p><h4>QuickCard </h4></p>
                  <p><h4>8880 Rio San Diego Drive, Suite 102</h4></p>
                  <p><h4>San Diego, California 92108</h4></p>
                </ul>
              </div>

              <h2 class="text-center mt-2rem"><u>Changes to Our Privacy Notice</u></h2>
              <div class="col-md-12 mt-2rem">
                <h4>QuickCard reserves the right to amend this privacy notice at our discretion and at any time. When we make changes to this privacy notice, we will post the updated notice on the Website and update the notice's effective date. <b>Your continued use of our services or website following the posting of changes constitutes your acceptance of such changes.</b></h4>
              </div>

              <h2 class="text-center mt-2rem"><u>Contact Information</u></h2>
              <div class="col-md-12 mt-2rem">
                <h4>If you have any questions or comments about this notice, the ways in which QuickCard collects and uses your information described herein, your choices and rights regarding such use, or wish to exercise your rights under California law, please do not hesitate to contact us at:</h4>
              </div>
              <div class="col-md-12">
                <ul class="">
                  <p><h4>QuickCard </h4></p>
                  <p><h4>8880 Rio San Diego Drive, Suite 102</h4></p>
                  <p><h4>San Diego, California 92108</h4></p>
                </ul>
              </div>
              <div class="col-md-12 mt-2rem">
                <h4>Our services are not directed to individuals under the age of thirteen (13), and we request that they not provide any personal data or information through our website, platform or services.</h4>
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>