<div class="row admin-hide rules_boxes" id="block_card_for_processed_count_new">
  <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <div class="row">
      <div class="col-xl-1 col-lg-1 col-md-1 col-sm-1 col-xs-12">
        <%= image_tag("sent.svg", :alt => "rss feed", class: '') %>
      </div>
      <div class="col-xl-11 col-lg-11 col-md-11 col-sm-11 col-xs-12">
        <p class="smile-rule">Automation rule</p>
      </div>
    </div>
  </div>
  <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <hr class="smile-hr">
  </div>
  <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <form action="" method="post">
      <div class="for-box">
        <label for="four-text" class="four-text">
          If a C.C # been process
        </label>
        <input type="text" class="form-control sel-num -Number rules_count" id="block_card_for_processed_count_count" placeholder="Number">
        <label for="four-text" class="four-text">
          time/s on
        </label>
      </div>
      <div class="for-box">
        <label for="four-text" class="four-text">
          the same group block him for
        </label>
      </div>
      <div class="for-box">
        <input type="text" class="form-control sel-num -Number no_of_hours" id="block_card_for_processed_count_no_of_hours" placeholder="Hour/s">
        <label for="four-text" class="four-text">
          hour/s
        </label>
      </div>
    </form>
  </div>
  <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <button type="button" class="btn btn-sm btn-primary pull-right add_rule_form" data-type="block_card_for_processed_count" id="add_rule_to_group_block_card_for_processed_count">
      Add Rule to group
    </button>
    <button type="button" data-type="block_card_for_processed_count" class="close_rule_form btn btn-sm btn-warning pull-right">
      Close
    </button>
    <p class="pull-left color-red rules_error">Please fill all fields</p>
  </div>
</div>