<div class="row admin-hide rules_boxes" id="decline_on_cc_country_new">
  <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <div class="row">
      <div class="col-xl-1 col-lg-1 col-md-1 col-sm-1 col-xs-12">
        <%= image_tag("sent.svg", :alt => "rss feed", class: '') %>
      </div>
      <div class="col-xl-11 col-lg-11 col-md-11 col-sm-11 col-xs-12">
        <p class="smile-rule">Automation rule</p>
      </div>
    </div>
  </div>
  <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <hr class="smile-hr">
  </div>
  <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <form action="" method="post">
      <div class="for-box">
        <label for="four-text" class="four-text">
          If Credit card country
        </label>
        <select class="form-control select-amount sel-place" id="decline_on_cc_country_operator">
        </select>
      </div>
      <div class="for-box">
        <%= country_select("country", {}, {  }, {name: 'country', id: 'decline_on_cc_country_country', class: 'form-control select_decline_on_cc_country sel-place', multiple: true })%>
      </div>
      <div class="for-box">
        <label for="four-text" class="four-text">
          Decline the transaction.
        </label>
      </div>
    </form>
  </div>
  <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <button type="button" class="btn btn-sm btn-primary pull-right add_rule_form" data-type="decline_on_cc_country" id="add_rule_to_group_decline_on_cc_country">
      Add Rule to group
    </button>
    <button type="button" data-type="decline_on_cc_country" class="close_rule_form btn btn-sm btn-warning pull-right">
      Close
    </button>
    <p class="pull-left color-red rules_error">Please fill all fields</p>
  </div>
</div>