<div class="row admin-hide rules_boxes" id="processor_decline_percent_new">
  <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <div class="row">
      <div class="col-xl-1 col-lg-1 col-md-1 col-sm-1 col-xs-12">
        <%= image_tag("sent.svg", :alt => "rss feed", class: '') %>
      </div>
      <div class="col-xl-11 col-lg-11 col-md-11 col-sm-11 col-xs-12">
        <p class="smile-rule">Automation rule</p>
      </div>
    </div>
  </div>
  <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <hr class="smile-hr">
  </div>
  <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <form action="" method="post">
      <div class="for-box">
        <label for="four-text" class="four-text">
          If a processor decline % is
        </label>
        <select class="form-control select-amount sel-place" id="processor_decline_percent_operator">
        </select>
        <input type="text" class="form-control sel-num -Number valid_percent" id="processor_decline_percent_percentage" placeholder="%">
      </div>
      <div class="for-box">
        <label for="four-text" class="four-text">
          % in
        </label>
        <input type="text" class="form-control sel-num -Number no_of_hours" placeholder=" Number" id="processor_decline_percent_no_of_hours">
        <div class="for-box">
          <p class="four-text">hour/s send alert to Slack.</p>
        </div>
      </div>
    </form>
  </div>
  <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <button type="button" class="btn btn-sm btn-primary pull-right add_rule_form" data-type="processor_decline_percent" id="add_rule_to_group_processor_decline_percent">
      Add Rule to group
    </button>
    <button type="button" data-type="processor_decline_percent" class="close_rule_form btn btn-sm btn-warning pull-right">
      Close
    </button>
    <p class="pull-left color-red rules_error">Please fill all fields</p>
  </div>
</div>