<div class="row admin-hide rules_boxes" id="rotate_processor_on_cc_brand_new">
  <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <div class="row">
      <div class="col-xl-1 col-lg-1 col-md-1 col-sm-1 col-xs-12">
        <%= image_tag("sent.svg", :alt => "rss feed", class: '') %>
      </div>
      <div class="col-xl-11 col-lg-11 col-md-11 col-sm-11 col-xs-12">
        <p class="smile-rule">Automation rule</p>
      </div>
    </div>
  </div>
  <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <hr class="smile-hr">
  </div>
  <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <form action="" method="post">
      <div class="for-box">
        <label for="four-text" class="four-text">
          If Credit Card Brand
        </label>
        <select class="form-control select-amount sel-place" id="rotate_processor_on_cc_brand_operator">
        </select>
        <%= select_tag "rotate_processor_on_cc_brand_card_brand", options_for_select(Card.new.card_brands.map {|v| [v.try(:titleize)]}),
                       class: "form-control sel-place -Number select-amount", id: "rotate_processor_on_cc_brand_card_brand"
        %>
      </div>
      <div class="for-box">
        <label for="four-text" class="four-text">
          send transaction to
        </label>
        <select class="form-control select_amount_cc_descriptor sel-place" id="rotate_processor_on_cc_brand_descriptor" multiple="true">
        </select>
      </div>
      <div class="for-box">
        <label for="four-text" class="four-text">
          and rotate every
        </label>
        <input type="number" class="form-control sel-num -Number rules_count" placeholder=" Number" id="rotate_processor_on_cc_brand_count">
        <label for="four-text" class="four-text table-box-8">
          transaction/s
        </label>
      </div>
      <div class="for-box">
        <p class="four-text">between processor/s</p>
      </div>
    </form>
  </div>
  <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <button type="button" class="btn btn-sm btn-primary pull-right add_rule_form" data-type="rotate_processor_on_cc_brand" id="add_rule_to_group_rotate_processor_on_cc_brand">
      Add Rule to group
    </button>
    <button type="button" data-type="rotate_processor_on_cc_brand" class="close_rule_form btn btn-sm btn-warning pull-right">
      Close
    </button>
    <p class="pull-left color-red rules_error">Please fill all fields</p>
  </div>
</div>