<center>
  <div id="pw-alert-message">
    <div class="row">
      <div class="col-md-1">
        <%= image_tag "v2/merchant/icons/lock.svg", class: 'mt-4 ml-3' %>
      </div>
      <div class="col-md-9 offer-declined-responsive-text ml-3">
        <p class="alert-text">Your password has been changed successfully</p>
      </div>
      <div class="col-lg-1 col-md-1">
        <div class="mt-3 pull-right small-close">
          <%= image_tag "v2/merchant/icons/close_small.svg", class: 'counter_alert close_pwd_toast cross_align pull-right' %>
        </div>
      </div>
    </div>
  </div>
  <div class="simple-36-bold-text-4c4c4c ready-message mt-5">
    <p class="text-center">We're making everything ready</p>
    <p class="text-center get-started-text">for you to get started..</p>
  </div>

  <div class="main-content">
    <div class="change-password-text text--center">
      <p>Please change your Password</p>
    </div>
    <form>
      <div class="row">
        <div class="col-lg-2"></div>
        <div class="col-lg-8">
          <div class="form-group m-form__group text-left pb-0">
            <label for="corporate_name">
              Old Password
            </label>
            <div class="m-input-icon m-input-icon--right">
              <input type="password" class="form-control m-old-welcome-password mp-input" aria-describedby="emailHelp" autocomplete="new-password">
              <span class="m-input-icon__icon m-input-icon__icon--right">
                <span class="">
                   <%= image_tag "merchant/icon/login-eye.svg", class: 'margin-17-40 login-old-password-open-eye ' %>

                </span>
                 <span class="">
                  <%= image_tag "merchant/icon/login-open-eye.svg", class: 'margin-17-40 login-old-password-eye position--eye hide' %>
                </span>
              </span>
            </div>
              <input type="hidden" name="m-old-welcome-password" class="hide_old_welcome_password"/>
            <p id="invalid_old_password" class="text-danger"></p>
          </div>
          <div class="form-group m-form__group  text-left">
            <label for="corporate_name">
              New Password
            </label>
            <input type="password"  class="form-control m-new-welcome-password mp-input " aria-describedby="emailHelp">
            <input type="hidden" name="m-new-welcome-password" class="hide_new_welcome_password"/>
             <input type="hidden" value="partner" id="user_type">
            <div id='tooltips'>
              <div class="tip"></div>
              <p class="pwd-suggestion-title">Your password must have at least:</p>
              <div class="password-suggesstions">
                <div class="invalid"><i class="fa fa-times tos" aria-hidden="true" id="8_characters"></i></div>
                <span class="pwd-suggestion-message">8 Characters</span>
              </div>

              <div class="password-suggesstions">
                <div class="invalid"><i class="fa fa-times tos" aria-hidden="true" id="1_number"></i></div>
                <span class="pwd-suggestion-message">1 Number</span>
              </div>
              <div class="password-suggesstions">
                <div class="invalid"><i class="fa fa-times tos" aria-hidden="true" id="upcase"></i></div>
                <span class="pwd-suggestion-message">1 Uppercase Letter (A-Z)</span>
              </div>

              <div class="password-suggesstions">
                <div class="invalid"><i class="fa fa-times tos" aria-hidden="true" id="downcase"></i></div>
                <span class="pwd-suggestion-message">1 Lowerrcase Letter (a-z)</span>
              </div>

            </div>
          </div>
          <div class="form-group m-form__group  text-left">
            <label for="corporate_name">
              Confirm New Password
            </label>
            <input type="password"  class="form-control m-confirm-welcome-password mp-input " id="corporate_name" aria-describedby="emailHelp">
            <input type="hidden" name="m-confirm-welcome-password" class="hide_confirm_welcome_password"/>
            <span class="error ml-3 password_mismatch_error"></span>
          </div>
          <div class="form-group m-form__group ">
            <div class="text--center">
              <button class="btn btn-default login-welcome-change-password-button change_password_tos" disabled>Change Password</button>
            </div>
          </div>

        </div>
        <div class="col-lg-2"></div>
      </div>
    </form>

  </div>
</center>
