<div class="mt-4">
  <%= image_tag "v2/merchant/icons/welcome_logo.svg" %>
  <div class="welcome-quickqard-text mt-3">
    <p>Welcome to QuickCard, follow these <br> 3 simple steps to get started</p>
  </div>

  <div class="mt-5">
    <button class="btn btn-default data-wizard-ok-button" data-wizard-action="next">Ok</button>
  </div>
</div>