<%= form_tag user_submit_user_main_information_path(user_id:params[:wallet_id],path_to:'location_wallet'),method: :put do %>
    <%#= form.hidden_field_tag :id, :value => "1" %>
    <input type="hidden" class="form-control" name="location_id" value="<%= @location.id %>">
    <div class="row">
      <div class="col-md-4">
        <div class="form-group">
          <label>First Name</label>
          <input type="text" name="first_name" class="form-control" value="<%= @location.first_name.present? ? @location.first_name : ""  %>">
        </div>
      </div>
      <div class="col-md-4">
        <div class="form-group">
          <label>Last Name</label>
          <input type="text" name="last_name" class="form-control" value="<%= @location.last_name.present? ? @location.last_name : ""  %>">
        </div>
      </div>
      <div class="col-md-4">
        <div class="form-group">
          <label>Phone</label>
          <input type="text" name="phone" class="form-control" value="<%= @location.phone_number.present? ? @location.phone_number : ""  %>">
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
        <div class="form-group">
          <label>Email</label>
          <input type="email" name="email" class="form-control" value="<%= @location.email.present? ? @location.email : ""  %>">
        </div>
      </div>
      <div class="col-md-4">
        <div class="form-group">
          <!--<label></label>-->
          <%= label_tag 'Language'%>
          <%= text_field_tag 'Language','English',class: 'form-control', :disabled=>true%>
        </div>
      </div>
      <div class="col-md-4">
        <div class="form-group">
          <label>Status</label>
          <%#= form.label :is_block,'Status'%>
          <select class="form-control is_block" id="is_block" name="is_block">
            <% if @location.is_block %>
                <option value="true" selected>InActive</option>
                <option value="false">Active</option>
            <% else %>
                <option value="true">InActive</option>
                <option value="false" selected>Active</option>
            <% end %>
          </select>
          <%#= select_tag :is_block,options_for_select({ "Active" => false, "InActive" => true}),{},{class: 'form-control'} %>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
      </div>
      <div class="col-md-4">
      </div>
      <div class="col-md-4">
        <% unless current_user.support_mtrac? %>
        <%= submit_tag  "Save", class: 'btn btn-information_submit', id: 'submit_button'%>
        <% end %>
      </div>
    </div>
<% end %>