<%= form_tag wallet_transactions_locations_path(@wallet.slug), method: :get ,id:'location_serach_form' do  %>
    <%= select_tag "tx_filter", options_for_select(@filters.map{|v|[v]}, selected: params[:tx_filter].present? ? params[:tx_filter] : "10"),
                   :prompt => false,
                   :required => true,
                   class: "form-control tx_filter form-control-sm",
                   data: {confirm: "Are you sure ?"}
    %>
    <%= select_tag "tab", options_for_select(selected: "menu_2"), class: "selected_tab" %>
  <% if params[:query].present? %>
    <input type="hidden" name="query[type]" value="<%= params[:query].present? ? params[:query]["type"] : "" %>"  />
    <input type="hidden" name="query[sender]" value="<%= params[:query].present? ? params[:query]["sender"] : "" %>"  />
    <input type="hidden" name="query[receiver]" value="<%= params[:query].present? ? params[:query]["receiver"] : "" %>"  />
    <input type="hidden" name="query[amount]" value="<%= params[:query].present? ? params[:query]["amount"] : "" %>"  />
    <input type="hidden" name="query[date]" value="<%= params[:query].present? ? params[:query]["date"] : "" %>"  />
    <input type="hidden" name="query[block_id]" value="<%= params[:query].present? ? params[:query]["block_id"] : "" %>"  />
    <input type="hidden" name="query[gateway]" value="<%= params[:query].present? ? params[:query]["gateway"]: "" %>"  />
    <input type="hidden" name="query[time1]" value="<%= params[:query].present? ? params[:query]["time1"]: "" %>"  />
    <input type="hidden" name="query[time2]" value="<%= params[:query].present? ? params[:query]["time2"]: "" %>"  />
    <input type="hidden" name="query[last4]" value="<%= params[:query].present? ? params[:query]["last4"]: "" %>"  />
    <input type="hidden" name="query[sender_id]" value="<%= params[:query].present? ? params[:query]["sender_id"]: "" %>"  />
    <input type="hidden" name="query[receiver_id]" value="<%= params[:query].present? ? params[:query]["receiver_id"]: "" %>"  />
    <input type="hidden" name="query[offset]" value="<%= params[:offset].present? ? params[:offset] : Time.now.in_time_zone(cookies[:timezone]).strftime("%z")%>"  />
   <input type="hidden" name="query[first6]" value="<%= params[:query].present? ? params[:query]["first6"] : "" %>"  />
  <% end%>
<% end %>