<%= form_tag user_submit_user_main_information_path(user_id:params[:user_id],path_to:'admin_user'),method: :put do %>
    <%#= form.hidden_field_tag :id, :value => "1" %>
    <input type="hidden" class="form-control" name="location_id" value="<%= @location.present? ? @location.id : "" %>">
    <div class="row">
      <div class="col-md-4">
        <div class="form-group">
          <label>First Name</label>
          <% if @location.try(:first_name).nil? %>
              <input type="text" name="first_name" class="form-control" value="<%= @location.present? ? @location.name : ""  %>" required>
          <% else %>
              <input type="text" name="first_name" class="form-control" value="<%= @location.present? ? @location.first_name : ""  %>" required>
          <% end %>
        </div>
      </div>
      <input type="hidden" name="i_am_location" class="form-control i_am_location" value="<%= @i_am_location.present? ? @i_am_location : ""  %>">
      <div class="col-md-4">
        <div class="form-group">
          <label>Last Name</label>
          <input type="text" name="last_name" class="form-control" value="<%= @location.present? ? @location.last_name : ""  %>" required>
        </div>
      </div>
      <div class="col-md-4">
        <div class="form-group">
          <label id="phone_number_label_field1">Phone</label>
          <input type="text" name="phone" id="phone_number_field1" onblur="validate_phone_edit_number()" class="form-control" value="<%= @location.present? ? @location.phone_number : ""  %>" required>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
        <div class="form-group">
          <label id="email_label_field1" >Email</label>
          <input type="email" name="email" onblur="validate_edit_email()" id="email_field1" class="form-control" value="<%= @location.present? ? @location.email : ""  %>" required>
        </div>
      </div>
      <div class="col-md-4">
        <div class="form-group">
          <!--<label></label>-->
          <%= label_tag 'Language'%>
          <%= text_field_tag 'Language','English',class: 'form-control', :disabled=>true%>
        </div>
      </div>
      <div class="col-md-4">
        <div class="form-group">
          <label>Status</label>
          <%#= form.label :is_block,'Status'%>
          <select class="form-control is_block" id="is_block" name="is_block">
            <% if @location.present? %>
                <% if @location.is_block %>
                    <option value="true" selected>InActive</option>
                    <option value="false">Active</option>
                <% else %>
                    <option value="true">InActive</option>
                    <option value="false" selected>Active</option>
                <% end %>
            <% else %>
                <option value=""></option>
            <% end %>
          </select>
          <%#= select_tag :is_block,options_for_select({ "Active" => false, "InActive" => true}),{},{class: 'form-control'} %>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
      </div>
      <div class="col-md-4">
      </div>
      <div class="col-md-4">
        <% unless current_user.support_mtrac? %>
        <%= submit_tag  "Save", class: 'btn btn-information_submit', id: 'submit_button'%>
        <% end %>
      </div>
    </div>
<% end %>