
<div class="row all_rules admin-shie" id="automation_rules">

  <% LoadBalancerRule.new.rules.each do |a| %>
    <% if a[:rule_type] == "automation" %>
      <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-xs-12">
        <div class="auto-body ">
          <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <%= image_tag("sent.svg", :alt => "rss feed", class: 'logo-align') %>
          </div>
          <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <p class="tranc-processors">
              <%= a[:text].html_safe %>
            </p>
          </div>
          <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div>
              <button type="button" id="<%= a[:identifier] %>" class="add_rule_btn btn btn-sm btn-primary pull-right rule-btn Add-Rule-text" data-type="<%= a[:identifier] %>">
                Add Rule to group
              </button>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  <% end %>
</div>

<!--  controller call-->
<%= render partial: 'admins/load_balancers/partials/rules/rotate_processor' %>
<%= render partial: 'admins/load_balancers/partials/rules/rotate_processor_with_amount' %>
<%= render partial: 'admins/load_balancers/partials/rules/rotate_processor_with_cc' %>
<%= render partial: 'admins/load_balancers/partials/rules/block_card_for_decline_count' %>
<%= render partial: 'admins/load_balancers/partials/rules/block_processor_daily_volume' %>
<%= render partial: 'admins/load_balancers/partials/rules/block_card_for_processed_count' %>
<%= render partial: 'admins/load_balancers/partials/rules/decline_on_cc_country' %>
<%= render partial: 'admins/load_balancers/partials/rules/block_card_for_reason' %>
<%= render partial: 'admins/load_balancers/partials/rules/rotate_processor_on_cc_brand' %>

