<div class="row filter-gate">
  <div class="col-sm-6 col-md-6">
    <div class="col-md-6 ad-verifications-st-3">
    <div class="dataTables_length">
        <span class="ad-verifications-st-4">Show</span>
        <span class="ad-verifications-st-5">
			<%= form_tag admins_load_balancer_path(:req => params[:req], :others => params[:others]), method: :get, id: 'verification_gate_filter'  do  %>
				<%= select_tag "filter", options_for_select(@filters.map{|v|[v]}, selected: params[:filter].present? ? params[:filter] : "10"),
											:prompt => false,
											:required => true,
											class: "form-control form-control-sm",
											data: {confirm: "Are you sure ?"}
				%>
				<input type="hidden" id="filter_input" value="<%= params[:filter] %>"  />
				<input type="hidden" name="req" value="<%= params[:req].present? ? params[:req] : "all" %>"  />
				<input type="hidden" name="others" value="<%= params[:others].present? ? params[:others] : "all" %>"  />
				<input type="hidden" name="q" id="q" value="<%= params[:q].present? ? params[:q] : "" %>"  />
			<% end %>
		</span>
        <span class="ad-verifications-st-6">Entries</span>
      </div>
    </div>
  </div>
</div>
<table id="gatetable" class="table table-bordered table-striped text-align-center-load-balancer-config">
  <thead class="datatable-thead-app-config">
		<th><a href="#"  id="check_all" ><input type="checkbox" id="all-check"></a></th>
		<th>Merchant Name</th>
		<th>DBA Name</th>
		<th>Load Balancer Name</th>
  </thead>
	<tbody>
		<% @locations.each do |location| %>
			<tr>
				<td>
					<input id="checkbox_animated_<%= location.id %>" class="all" type="checkbox" value="<%= location.id %>" >
					<label for="checkbox_animated_<%= location.id %>"> <span class="check"></span> <span class="box"></span>  </label>
				</td>
					<td><%= location.merchant.try(:name) %></td>
				<td><%= location.business_name %></td>
				<td>
					<%= select_tag("load_balancer_id", options_for_select(LoadBalancer.all.map{ |key| [key.name, key.id]}, location.load_balancer_id),include_blank: "Select", class:"form-control",
													data: {
															remote: true,
															url: update_load_balancer_admins_load_balancers_path(locations: [location.id])
													})
					%>
				</td>
			</tr>
		<% end %>
	</tbody>
</table>
<input type="hidden" id="page_param_input" value="<%= params[:page] %>">
<div class="row">
  <div class="col-sm-6">
    <div class="showing_records">
    Showing <%= params[:filter].present? ? params[:filter] : "10" %> of <%= @active_locations %> records
    </div>
  </div>
  <div class="col-sm-6">
    <div id="paginator">
      <%= paginate @locations, remote:true, :theme => 'twitter-bootstrap-3', :pagination_class => "pagination-small pagination-centered pull-right padd" %>
    </div>
  </div>
</div>
