<div class="row all_rules admin-hide" id="notification_rules">

  <% LoadBalancerRule.new.rules.each do |a| %>
    <% if a[:rule_type] == "notification" %>
      <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-xs-12">
        <div class="auto-body ">
          <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <%= image_tag("sent.svg", :alt => "rss feed", class: 'logo-align') %>
          </div>
          <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <p class="tranc-processors">
              <%= a[:text].html_safe %>
            </p>
          </div>
          <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div>
              <button type="button" id="<%= a[:identifier] %>" class="add_rule_btn btn btn-sm btn-primary pull-right rule-btn Add-Rule-text" data-type="<%= a[:identifier] %>">
                Add Rule to group
              </button>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  <% end %>
</div>

<%= render partial: 'admins/load_balancers/partials/rules/processor_daily_volume' %>
<%= render partial: 'admins/load_balancers/partials/rules/processor_monthly_volume' %>
<%= render partial: 'admins/load_balancers/partials/rules/group_daily_volume' %>
<%= render partial: 'admins/load_balancers/partials/rules/group_monthly_volume' %>
<%= render partial: 'admins/load_balancers/partials/rules/processor_decline_percent' %>
<%= render partial: 'admins/load_balancers/partials/rules/processor_decline_times' %>
