<div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-xs-12 payment_gateways_section_b">
  <div class="admin-body admin-w-h">
    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
      <p class="group-heading">Group Summary</p>
    </div>
    <hr class="group-hr">
    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
      <div class="row">
        <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 col-xs-12">
          <label class="Daily-Limit">Group Name</label><br>
          <div class="over-text">
            <p class="test-block group_name"><%= @load_balancer.try(:name) %></p>
          </div>
        </div>
        <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 col-xs-12">
          <label class="Daily-Limit">Daily Limit</label><br>
          <p class="test-block group_daily">$<%= number_with_precision(@load_balancer.try(:payment_gateways)&.try(:pluck,:daily_limit)&.sum(&:to_f).to_f, precision: 2, delimiter: ',') %></p>
        </div>
        <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 col-xs-12">
          <label class="Daily-Limit">Monthy Limit</label><br>
          <p class="test-block group_monthly">$<%= number_with_precision(@load_balancer.try(:payment_gateways)&.try(:pluck,:monthly_limit)&.sum(&:to_f).to_f, precision: 2, delimiter: ',') %></p>
        </div>
        <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 col-xs-12">
          <label class="Daily-Limit">Descriptors</label><br>
          <p class="test-block group_descriptor"><%= @load_balancer_gateway_ids.try(:count) %></p>
        </div>
      </div>
    </div>
    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
      <div class="select-margin sel-margin">
        <label class="Select--Descriptors">Select Decriptors </label>
        <input type="text" class="form-control search_gateway_field" placeholder="Search for a MID" data-type="selected_gateways_tables">
      </div>
    </div>
    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
      <div class="m-scrollable selected_gateways_div" data-scrollable="true" data-max-height="200">
        <div class="m-portlet m-portlet--full-height">
          <div class="m-portlet__body">
            <div class="m-accordion m-accordion--default" id="m_accordion_2" role="tablist">
              <% if @load_balancer.present? %>
                <% busy_gateways = @load_balancer.load_balancer_rules.pluck(:descriptor).compact.join(',').split(',') %>
                <% @load_balancer.payment_gateways.group_by{|l| l.descriptor_id}.each do|k,v| %>
                  <% descriptor = Descriptor.find(k) %>
                  <div class="m-accordion__item" id="remove_payment_group_<%= descriptor.name.delete(' ') %>">
                    <div class="m-accordion__item-head collapsed active for-box" role="tab" id="m_accordion_1_item_1_head" data-toggle="collapse" href="#m_accordion_a<%= k %>_item_1_body" aria-expanded="false">
                          <span class="m-accordion__item-icon">
                            <i class="fa flaticon-user-ok"></i>
                          </span>
                      <div class="plus-box">
                        <div class="plus-sign">+</div>
                      </div>
                      <span class="Elavon"><%= descriptor.name %></span>
                      <span class="m-accordion__item-mode"></span>
                    </div>
                    <div class="m-accordion__item-body collapse border-box" id="m_accordion_a<%= k %>_item_1_body" role="tabpanel" aria-labelledby="m_accordion_1_item_1_head" data-parent="#m_accordion_1">
                      <div class="m-accordion__item-content box-border">
                        <table class="selected_gateways_tables table-striped table-bordered" cellspacing="0" cellpadding="0">
                          <thead class="tr-head">
                          <tr class="tr-head odd-tr">
                            <th class="chk-box"></th>
                            <th class="des-heading">Descriptors</th>
                            <th class="des-heading">High Ticket</th>
                            <th class="des-heading">Daily Limit</th>
                            <th class="des-heading">Monthly Limit</th>
                          </tr>
                          </thead>
                          <tbody id="tbody_<%= descriptor.name.delete(' ') %>">
                          <% v.sort_by!{ |m| m[:key].try(:downcase) }.each do |gateway| %>
                            <tr class="cursor_point even-tr" id="tr_gateway_added_<%= gateway.id %>">
                              <td class="sorted">
                                <% rules_attached = 0
                                if busy_gateways.map(&:to_i).include?(gateway.id)
                                  busy_gateways.each{|a| rules_attached+=1 if gateway.id == a.to_i}
                                end
                                %>
                                <input type="checkbox" class="remove_gateway_checkboxes" id="gateway_checkboxes_<%= gateway.id %>" data-gateway_id="<%= gateway.id %>" data-gateway_descriptor="<%= gateway.name %>" data-gateway_daily="<%= gateway.daily_limit.to_f %>" data-gateway_monthly="<%= gateway.monthly_limit.to_f %>" data-gateway_ticket="<%= gateway.high_ticket.to_f %>" data-gateway_group="<%= descriptor.name %>" data-rule_id="<%= rules_attached %>" data-rule_status="inactive">
                              </td>
                              <td class="esq-hboutique">
                                <%= gateway.name %>
                              </td>
                              <td class="amount-doller">
                                $<%= number_with_precision(gateway.high_ticket.to_f, precision: 2, delimiter: ',') %>
                              </td>
                              <td class="amount-doller">
                                $<%= number_with_precision(gateway.daily_limit.to_f, precision: 2, delimiter: ',') %>
                              </td>
                              <td class="amount-doller">
                                $<%= number_with_precision(gateway.monthly_limit.to_f, precision: 2, delimiter: ',') %>
                              </td>
                            </tr>
                          <% end %>
                          </tbody>
                        </table>
                      </div>
                    </div>
                  </div>
                <% end %>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
      <div class="row">
        <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 col-xs-12 margin---30">
          <div class="pull-left">
            <button type="button" class="btn btn-default remove-btn remove-descriptors" id="remove-descriptor" disabled> << Remove Descriptors </button>
          </div>
        </div>
        <div class="col-xl-9 col-lg-9 col-md-9 col-sm-9 col-xs-12"></div>
      </div>
    </div>
  </div>
</div>