<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
  <p class="group-heading">Automation Rules</p>
</div>
<hr class="group-hr">
<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
  <div class="body-align"></div>
</div>
<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
  <div class="row">
    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 col-xs-12">
      <div class="row">
        <div class="col-xl-10 col-lg-10 col-md-10 col-sm-10 col-xs-12">
          <p class="Automation-prgh cursor_pointer rule_types underlinee" data-status="active" data-type="automation" id="automation_tab">Automation</p>
          <p class="Automation-prgh cursor_pointer rule_types" data-status="inactive" data-type="notification" id="notification_tab">Notification</p>
        </div>
        <div class="col-xl-2 col-lg-2 col-md-2 col-sm-2 col-xs-12">
          <hr class="hr-hor items-align">
        </div>
      </div>
    </div>
    <div class="col-xl-9 col-lg-9 col-md-9 col-sm-9 col-xs-12 scroll-rule">
      <%= render partial: "admins/load_balancers/partials/automation_rules" %>
      <%= render partial: "admins/load_balancers/partials/notification_rules" %>
    </div>

  </div>
</div>