<%= form_tag admins_load_balancers_path, method: :post  do  %>
<div class="row admin-hide bilala">
  <input type="hidden" id="checked_gateway_ids" name="selected_gateway" value="<%= @load_balancer.try(:payment_gateways).try(:pluck,:id)&.join(',') %>">
  <input type="hidden" id="load_balancer_name" name="load_balancer_name" value="<%= @load_balancer.try(:name) %>">>
  <input type="hidden" id="deleted_rules_ids" name="deleted_rules_ids">
  <input type="hidden" name="load_balancer_id" value="<%= @load_balancer.try(:id) %>">
  <input type="hidden" id="operator_rotate_processor_with_amount" value="<%= @rules.try(:[], "rotate_processor_with_amount").try(:pluck,:operator)&.join(',') %>">>
  <input type="hidden" id="operator_decline_on_cc_country" value="<%= @rules.try(:[], "decline_on_cc_country").try(:pluck,:operator)&.join(',') %>">>
  <input type="hidden" id="operator_rotate_processor_on_cc_brand" value="<%= @rules.try(:[], "rotate_processor_on_cc_brand").try(:pluck,:operator)&.join(',') %>">>
  <input type="hidden" id="operator_rotate_processor_on_cc_brand" value="<%= @rules.try(:[], "rotate_processor_on_cc_brand").try(:pluck,:operator)&.join(',') %>">>
  <input type="hidden" id="operator_processor_decline_percent" value="<%= @rules.try(:[], "processor_decline_percent").try(:pluck,:operator)&.join(',') %>">>

  <div class="rotate_processor">
    <% @rules.try(:[],"rotate_processor")&.each_with_index do|rule,index| %>
      <div class="col-md-12 rotate_processor_hidden rotate_processor_hidden_<%= index %>">
        <input type="hidden" name="rotate_processor[<%= index %>][id]" value="<%= rule.id %>">
        <input type="hidden" name="rotate_processor[<%= index %>][count]" value="<%= rule.count %>">
        <input type="hidden" name="rotate_processor[<%= index %>][identifier]" value="rotate_processor">
        <input type="hidden" id="rotate_processor_<%= index %>_status" name="rotate_processor[<%= index %>][status]" value="<%= rule.active? ? "active" : "inactive" %>">
        <input type="hidden" name="rotate_processor[<%= index %>][rule_type]" value="automation">
      </div>
    <% end %>
  </div>
  <div class="rotate_processor_with_amount">
    <% @rules.try(:[], "rotate_processor_with_amount")&.each_with_index do |rule, index| %>
      <div class="col-md-12 rotate_processor_with_amount_hidden rotate_processor_with_amount_hidden_<%= index %>">
        <input type="hidden" name="rotate_processor_with_amount[<%= index %>][id]" value="<%= rule.id %>">
        <input type="hidden" name="rotate_processor_with_amount[<%= index %>][count]" value="<%= rule.count %>">
        <input type="hidden" name="rotate_processor_with_amount[<%= index %>][operator]" value="<%= rule.operator %>">
        <input type="hidden" name="rotate_processor_with_amount[<%= index %>][amount]" value="<%= rule.amount %>">
        <input type="hidden" name="rotate_processor_with_amount[<%= index %>][descriptor]" value="<%= rule.payment_gateways.pluck(:id).join(',') %>">
        <input type="hidden" name="rotate_processor_with_amount[<%= index %>][identifier]" value="rotate_processor_with_amount">
        <input type="hidden" id="rotate_processor_with_amount_<%= index %>_status" name="rotate_processor_with_amount[<%= index %>][status]" value="<%= rule.active? ? "active" : "inactive" %>">
        <input type="hidden" name="rotate_processor_with_amount[<%= index %>][rule_type]" value="automation">
      </div>
    <% end %>
  </div>
  <div class="rotate_processor_with_cc">
    <% @rules.try(:[], "rotate_processor_with_cc")&.each_with_index do |rule, index| %>
      <div class="col-md-12 rotate_processor_with_cc_hidden rotate_processor_with_cc_hidden_<%= index %>">
        <input type="hidden" name="rotate_processor_with_cc[<%= index %>][id]" value="<%= rule.id %>">
        <input type="hidden" name="rotate_processor_with_cc[<%= index %>][count]" value="<%= rule.count %>">
        <input type="hidden" name="rotate_processor_with_cc[<%= index %>][identifier]" value="rotate_processor_with_cc">
        <input type="hidden" id="rotate_processor_with_cc_<%= index %>_status" name="rotate_processor_with_cc[<%= index %>][status]" value="<%= rule.active? ? "active" : "inactive" %>">
        <input type="hidden" name="rotate_processor_with_cc[<%= index %>][rule_type]" value="automation">
      </div>
    <% end %>
  </div>
  <div class="block_card_for_decline_count">
    <% @rules.try(:[], "block_card_for_decline_count")&.each_with_index do |rule, index| %>
      <div class="col-md-12 block_card_for_decline_count_hidden block_card_for_decline_count_hidden_<%= index %>">
        <input type="hidden" name="block_card_for_decline_count[<%= index %>][id]" value="<%= rule.id %>">
        <input type="hidden" name="block_card_for_decline_count[<%= index %>][count]" value="<%= rule.count %>">
        <input type="hidden" name="block_card_for_decline_count[<%= index %>][no_of_hours]" value="<%= rule.no_of_hours %>">
        <input type="hidden" name="block_card_for_decline_count[<%= index %>][identifier]" value="block_card_for_decline_count">
        <input type="hidden" id="block_card_for_decline_count_<%= index %>_status" name="block_card_for_decline_count[<%= index %>][status]" value="<%= rule.active? ? "active" : "inactive" %>">
        <input type="hidden" name="block_card_for_decline_count[<%= index %>][rule_type]" value="automation">
      </div>
    <% end %>
  </div>
  <div class="processor_daily_volume">
    <% @rules.try(:[], "processor_daily_volume")&.each_with_index do |rule, index| %>
      <div class="col-md-12 processor_daily_volume_hidden processor_daily_volume_hidden_<%= index %>">
        <input type="hidden" name="processor_daily_volume[<%= index %>][id]" value="<%= rule.id %>">
        <input type="hidden" name="processor_daily_volume[<%= index %>][percentage]" value="<%= rule.percentage %>">
        <input type="hidden" name="processor_daily_volume[<%= index %>][identifier]" value="processor_daily_volume">
        <input type="hidden" id="processor_daily_volume_<%= index %>_status" name="processor_daily_volume[<%= index %>][status]" value="<%= rule.active? ? "active" : "inactive" %>">
        <input type="hidden" name="processor_daily_volume[<%= index %>][rule_type]" value="notification">
      </div>
    <% end %>
  </div>
  <div class="processor_monthly_volume">
    <% @rules.try(:[], "processor_monthly_volume")&.each_with_index do |rule, index| %>
      <div class="col-md-12 processor_monthly_volume_hidden processor_monthly_volume_hidden_<%= index %>">
        <input type="hidden" name="processor_monthly_volume[<%= index %>][id]" value="<%= rule.id %>">
        <input type="hidden" name="processor_monthly_volume[<%= index %>][percentage]" value="<%= rule.percentage %>">
        <input type="hidden" name="processor_monthly_volume[<%= index %>][identifier]" value="processor_monthly_volume">
        <input type="hidden" id="processor_monthly_volume_<%= index %>_status" name="processor_monthly_volume[<%= index %>][status]" value="<%= rule.active? ? "active" : "inactive" %>">
        <input type="hidden" name="processor_monthly_volume[<%= index %>][rule_type]" value="notification">
      </div>
    <% end %>
  </div>
  <div class="group_daily_volume">
    <% @rules.try(:[], "group_daily_volume")&.each_with_index do |rule, index| %>
      <div class="col-md-12 group_daily_volume_hidden group_daily_volume_hidden_<%= index %>">
        <input type="hidden" name="group_daily_volume[<%= index %>][id]" value="<%= rule.id %>">
        <input type="hidden" name="group_daily_volume[<%= index %>][percentage]" value="<%= rule.percentage %>">
        <input type="hidden" name="group_daily_volume[<%= index %>][identifier]" value="group_daily_volume">
        <input type="hidden" id="group_daily_volume_<%= index %>_status" name="group_daily_volume[<%= index %>][status]" value="<%= rule.active? ? "active" : "inactive" %>">
        <input type="hidden" name="group_daily_volume[<%= index %>][rule_type]" value="notification">
      </div>
    <% end %>
  </div>
  <div class="group_monthly_volume">
    <% @rules.try(:[], "group_monthly_volume")&.each_with_index do |rule, index| %>
      <div class="col-md-12 group_monthly_volume_hidden group_monthly_volume_hidden_<%= index %>">
        <input type="hidden" name="group_monthly_volume[<%= index %>][id]" value="<%= rule.id %>">
        <input type="hidden" name="group_monthly_volume[<%= index %>][percentage]" value="<%= rule.percentage %>">
        <input type="hidden" name="group_monthly_volume[<%= index %>][identifier]" value="group_monthly_volume">
        <input type="hidden" id="group_monthly_volume_<%= index %>_status" name="group_monthly_volume[<%= index %>][status]" value="<%= rule.active? ? "active" : "inactive" %>">
        <input type="hidden" name="group_monthly_volume[<%= index %>][rule_type]" value="notification">
      </div>
    <% end %>
  </div>
  <div class="block_processor_daily_volume">
    <% @rules.try(:[], "block_processor_daily_volume")&.each_with_index do |rule, index| %>
      <div class="col-md-12 block_processor_daily_volume_hidden block_processor_daily_volume_hidden_<%= index %>">
        <input type="hidden" name="block_processor_daily_volume[<%= index %>][id]" value="<%= rule.id %>">
        <input type="hidden" name="block_processor_daily_volume[<%= index %>][percentage]" value="<%= rule.percentage %>">
        <input type="hidden" name="block_processor_daily_volume[<%= index %>][identifier]" value="block_processor_daily_volume">
        <input type="hidden" id="block_processor_daily_volume_<%= index %>_status" name="block_processor_daily_volume[<%= index %>][status]" value="<%= rule.active? ? "active" : "inactive" %>">
        <input type="hidden" name="block_processor_daily_volume[<%= index %>][rule_type]" value="automation">
      </div>
    <% end %>
  </div>
  <div class="block_processor_cbk_percent"></div>
  <div class="processor_decline_percent">
    <% @rules.try(:[], "processor_decline_percent")&.each_with_index do |rule, index| %>
      <div class="col-md-12 processor_decline_percent_hidden processor_decline_percent_hidden_<%= index %>">
        <input type="hidden" name="processor_decline_percent[<%= index %>][id]" value="<%= rule.id %>">
        <input type="hidden" name="processor_decline_percent[<%= index %>][percentage]" value="<%= rule.percentage %>">
        <input type="hidden" name="processor_decline_percent[<%= index %>][operator]" value="<%= rule.operator %>">
        <input type="hidden" name="processor_decline_percent[<%= index %>][no_of_hours]" value="<%= rule.no_of_hours %>">
        <input type="hidden" name="processor_decline_percent[<%= index %>][identifier]" value="processor_decline_percent">
        <input type="hidden" id="processor_decline_percent_<%= index %>_status" name="processor_decline_percent[<%= index %>][status]" value="<%= rule.active? ? "active" : "inactive" %>">
        <input type="hidden" name="processor_decline_percent[<%= index %>][rule_type]" value="notification">
      </div>
    <% end %>
  </div>
  <div class="processor_decline_times">
    <% @rules.try(:[], "processor_decline_times")&.each_with_index do |rule, index| %>
      <div class="col-md-12 processor_decline_times_hidden processor_decline_times_hidden_<%= index %>">
        <input type="hidden" name="processor_decline_times[<%= index %>][id]" value="<%= rule.id %>">
        <input type="hidden" name="processor_decline_times[<%= index %>][count]" value="<%= rule.count %>">
        <input type="hidden" name="processor_decline_times[<%= index %>][identifier]" value="processor_decline_times">
        <input type="hidden" id="processor_decline_times_<%= index %>_status" name="processor_decline_times[<%= index %>][status]" value="<%= rule.active? ? "active" : "inactive" %>">
        <input type="hidden" name="processor_decline_times[<%= index %>][rule_type]" value="notification">
      </div>
    <% end %>
  </div>
  <div class="move_group_on_cc_country"></div>
  <div class="decline_on_cc_country">
    <% @rules.try(:[], "decline_on_cc_country")&.each_with_index do |rule, index| %>
      <div class="col-md-12 decline_on_cc_country_hidden decline_on_cc_country_hidden_<%= index %>">
        <input type="hidden" name="decline_on_cc_country[<%= index %>][id]" value="<%= rule.id %>">
        <input type="hidden" name="decline_on_cc_country[<%= index %>][operator]" value="<%= rule.operator %>">
        <input type="hidden" name="decline_on_cc_country[<%= index %>][country]" value="<%= rule.country %>">
        <input type="hidden" name="decline_on_cc_country[<%= index %>][identifier]" value="decline_on_cc_country">
        <input type="hidden" id="decline_on_cc_country_<%= index %>_status" name="decline_on_cc_country[<%= index %>][status]" value="<%= rule.active? ? "active" : "inactive" %>">
        <input type="hidden" name="decline_on_cc_country[<%= index %>][rule_type]" value="automation">
      </div>
    <% end %>
  </div>
  <div class="move_group_on_cc_brand"></div>
  <div class="rotate_processor_on_cc_brand">
    <% @rules.try(:[], "rotate_processor_on_cc_brand")&.each_with_index do |rule, index| %>
      <div class="col-md-12 rotate_processor_on_cc_brand_hidden rotate_processor_on_cc_brand_hidden_<%= index %>">
        <input type="hidden" name="rotate_processor_on_cc_brand[<%= index %>][id]" value="<%= rule.id %>">
        <input type="hidden" name="rotate_processor_on_cc_brand[<%= index %>][count]" value="<%= rule.count %>">
        <input type="hidden" name="rotate_processor_on_cc_brand[<%= index %>][operator]" value="<%= rule.operator %>">
        <input type="hidden" name="rotate_processor_on_cc_brand[<%= index %>][card_brand]" value="<%= rule.card_brand %>">
        <input type="hidden" name="rotate_processor_on_cc_brand[<%= index %>][descriptor]" value="<%= rule.payment_gateways.pluck(:id).join(',') %>">
        <input type="hidden" name="rotate_processor_on_cc_brand[<%= index %>][identifier]" value="rotate_processor_on_cc_brand">
        <input type="hidden" id="rotate_processor_on_cc_brand_<%= index %>_status" name="rotate_processor_on_cc_brand[<%= index %>][status]" value="<%= rule.active? ? "active" : "inactive" %>">
        <input type="hidden" name="rotate_processor_on_cc_brand[<%= index %>][rule_type]" value="automation">
      </div>
    <% end %>
  </div>
  <div class="block_card_for_reason">
    <% @rules.try(:[], "block_card_for_reason")&.each_with_index do |rule, index| %>
      <div class="col-md-12 block_card_for_reason_hidden block_card_for_reason_hidden_<%= index %>">
        <input type="hidden" name="block_card_for_reason[<%= index %>][id]" value="<%= rule.id %>">
        <input type="hidden" name="block_card_for_reason[<%= index %>][decline_reason]" value="<%= rule.decline_reason %>">
        <input type="hidden" name="block_card_for_reason[<%= index %>][no_of_hours]" value="<%= rule.no_of_hours %>">
        <input type="hidden" name="block_card_for_reason[<%= index %>][identifier]" value="block_card_for_reason">
        <input type="hidden" id="block_card_for_reason_<%= index %>_status" name="block_card_for_reason[<%= index %>][status]" value="<%= rule.active? ? "active" : "inactive" %>">
        <input type="hidden" name="block_card_for_reason[<%= index %>][rule_type]" value="automation">
      </div>
    <% end %>
  </div>
  <div class="block_card_for_processed_count">
    <% @rules.try(:[], "block_card_for_processed_count")&.each_with_index do |rule, index| %>
      <div class="col-md-12 block_card_for_processed_count_hidden block_card_for_processed_count_hidden_<%= index %>">
        <input type="hidden" name="block_card_for_processed_count[<%= index %>][id]" value="<%= rule.id %>">
        <input type="hidden" name="block_card_for_processed_count[<%= index %>][count]" value="<%= rule.count %>">
        <input type="hidden" name="block_card_for_processed_count[<%= index %>][no_of_hours]" value="<%= rule.no_of_hours %>">
        <input type="hidden" name="block_card_for_processed_count[<%= index %>][identifier]" value="block_card_for_processed_count">
        <input type="hidden" id="block_card_for_processed_count_<%= index %>_status" name="block_card_for_processed_count[<%= index %>][status]" value="<%= rule.active? ? "active" : "inactive" %>">
        <input type="hidden" name="block_card_for_processed_count[<%= index %>][rule_type]" value="automation">
      </div>
    <% end %>
  </div>
</div>
  <button id="backStep" type="button" class="btn btn-primary next-btn Next-Step admin-hide mr-1">Back</button>
  <% button_text = @load_balancer.present? ? 'Update' : 'Create' %>
  <%= submit_tag button_text, class: "btn btn-primary pull-right next-btn Next-Step admin-hide", id: "create_group"%>
<% end %>