<div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-xs-12 load_balancer_rules_section_b admin-hide">
  <div class="admin-body admin-w-h">
    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
      <p class="group-heading">Group Summary</p>
    </div>
    <hr class="group-hr">
    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
      <div class="row">
        <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 col-xs-12">
          <label class="Daily-Limit">Group Name</label><br>
          <p class="test-block group_name"><%= @load_balancer.try(:name) %></p>
        </div>
        <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 col-xs-12">
          <label class="Daily-Limit">Daily Limit</label><br>
          <p class="test-block group_daily">$<%= number_with_precision(@load_balancer.try(:payment_gateways)&.try(:pluck,:daily_limit)&.sum(&:to_f).to_f, precision: 2, delimiter: ',') %></p>
        </div>
        <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 col-xs-12">
          <label class="Daily-Limit">Monthy Limit</label><br>
          <p class="test-block group_monthly" >$<%= number_with_precision(@load_balancer.try(:payment_gateways)&.try(:pluck,:monthly_limit)&.sum(&:to_f).to_f, precision: 2, delimiter: ',') %></p>
        </div>
        <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 col-xs-12">
          <label class="Daily-Limit">Descriptors</label><br>
          <p class="test-block group_descriptor"><%= @load_balancer_gateway_ids.try(:count) %></p>
        </div>
      </div>
    </div>
    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
      <div class="select-margin sel-margin">
        <label class="Select--Descriptors">Automation Rules </label>
      </div>
    </div>
    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
      <div class="m-scrollable selected_gateways_div" data-scrollable="true" data-max-height="200">
        <div class="m-portlet m-portlet--full-height">
          <div class="m-portlet__body">
            <div class="m-accordion m-accordion--default" id="m_accordion_3" role="tablist">
              <% if @load_balancer.present? %>
                <% @rules = @load_balancer.load_balancer_rules.group_by{|l| l.identifier} %>
                <% @rules.each do |identifier,rules| %>
                  <% rules.each_with_index do|rule,index| %>
                    <% rule_gateway_ids = rule.payment_gateways.pluck(:id) %>
                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12 <%= identifier %>_rule_box_<%= index %>">
                      <div class="row">
                        <!-- <div class="col-xl-1 col-lg-1 col-md-1 col-sm-1 col-xs-12">\n' +
                             <center>
                               <button type="button" class="edit-btn-b Edit-btn btn-bellow">\n' +
                                 Edit
                               </button>
                               <p class="hash-num">#1</p>
                             </center>
                           </div>-->

                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
                          <div class="hash-body">
                            <div class="row">
                              <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <div class="row padding015px">
                                  <div class="pull-left">
                                    <img alt="rss feed" class="" src="https://quickard.s3-us-west-2.amazonaws.com/sent.svg">
                                  </div>
                                  <div class="pull-right">
                                    <div class="dis-flex">
                                      <p class="Created-by">Created by <%= current_user.name %></p>
                                      <div class="pull-right">
                                        <div class="form-group margin-bottom-0-payment-gateway">
                                          <label class="switch">
                                            <input type="checkbox" data-type="<%= identifier %>" data-id="<%= index %>" data-gateway_ids="<%= rule_gateway_ids.join(',') %>" name="" class="active_inactive_rule display-block-margin-left-20-px-p-g" <%= "checked" if rule.active? %>>
                                            <div class="slider round">
                                              <span class="on">Active</span><span class="off">Inactive</span></div>
                                          </label>
                                        </div>
                                      </div>
                                      <div class="dropdown three-dot-align" id="dropdownid">
                                        <a href="#" class="m-index-st-17" type="button" data-toggle="dropdown">●●●
                                        </a>
                                        <ul class="dropdown-menu m-index-st-18 table-responsive">
                                          <li class="text-center cursor_pointer edit_rule" data-type="<%= identifier %>" data-id="<%= index %>" data-gateway_ids="<%= rule_gateway_ids.join(',') %>" >
                                            <a class="btn btn-sm btn-info">Edit</a>
                                          </li>
                                          <li class="text-center cursor_pointer delete_rule" data-type="<%= identifier %>" data-id="<%= index %>" data-rule_id="<%= rule.id %>" data-edit="true" data-gateway_ids="<%= rule_gateway_ids.join(',') %>">
                                            <a class="btn btn-sm btn-warning">Delete</a>
                                          </li>
                                        </ul>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                              <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12" id="rule_box_<%= identifier %>_<%= index %>">
                                <%= rule.get_rule_message.html_safe %>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  <% end %>
                <% end %>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>