<div class="modal fade" id="profileModel"  tabindex="-1" role="dialog" aria-labelledby="orderModelLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header" >
        <p class="change-password-modal-text">Change Password</p>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <%= form_tag(path, id:"pass-form", method: :post) do %>

            <!--<form method="post" action="">-->
            <div class="row">
              <div class="col-lg-12">
                <div class="row">
                  <div class="col-lg-3"></div>
                  <div class="col-lg-8">
                    <div class="form-group m-form__group">
                      <label class="modal_label ml-2">
                        Enter new password
                      </label>
                      <div class="m-input-icon m-input-icon--right">
                        <input type="password" autocomplete="off" class="form-control m-input user_password_profile" name="password" placeholder="Password" id="user_password">
                        <span class="m-input-icon__icon m-input-icon__icon--right">
													<span>
														<i class="la">
                              <%= image_tag "v2/login/login-eye.svg",class:'m_password_show',id:'password_show' %>
                              <%= image_tag "v2/login/login-open-eye.svg", class: 'hide_image ml-3 m_password_show', id: 'new_password_show' %>
                            </i>
													</span>
												</span>
                      </div>
                      <span id="pass-error" class="text-danger p_error"></span>
                    </div>
                    <div class="col-md-12">
                      <div id='tooltips'>
                        <div class="tip"></div>
                        <p class="pwd-suggestion-title">Your password must have at least:</p>
                        <div class="password-suggesstions">
                          <div class="invalid"><i class="fa fa-times invalid-time" aria-hidden="true" id="8_characters"></i></div>
                          <span class="pwd-suggestion-message">8 Characters</span>
                        </div>

                        <div class="password-suggesstions">
                          <div class="invalid"><i class="fa fa-times invalid-time" aria-hidden="true" id="1_number"></i></div>
                          <span class="pwd-suggestion-message">1 Number</span>
                        </div>
                        <div class="password-suggesstions">
                          <div class="invalid"><i class="fa fa-times invalid-time" aria-hidden="true" id="upcase"></i></div>
                          <span class="pwd-suggestion-message">1 Uppercase Letter (A-Z)</span>
                        </div>

                        <div class="password-suggesstions">
                          <div class="invalid"><i class="fa fa-times invalid-time" aria-hidden="true" id="downcase"></i></div>
                          <span class="pwd-suggestion-message">1 Lowerrcase Letter (a-z)</span>
                        </div>

                      </div>
                    </div>
                    <div class="form-group m-form__group">
                      <label class="modal_label ml-2" for="exampleInputEmail1">
                        Confirm new password
                      </label>
                      <div class="m-input-icon m-input-icon--right">
                        <input type="password" class="form-control m-input" name="confirm_password" placeholder="Confirm Password" id="user_password_confirmation">
                        <span class="m-input-icon__icon m-input-icon__icon--right">
													<span>
														<i class="la ">
                              <%= image_tag "v2/login/login-eye.svg" ,class:'confirm_show',id:'confirm_show' %>
                              <%= image_tag "v2/login/login-open-eye.svg", class: 'hide_image ml-3  confirm_show', id: 'confirm_password_show' %>
                            </i>
													</span>
												</span>
                      </div>
                      <div id="error" class="text-danger p_error"></div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-lg-12 text-center">
                <div class="form-group m-form__group modal_btn">
                  <div class="row">
                    <div class="col-lg-12 text-center">
                      <a href=""  class="btn btn-default btn_cancel close_class" data-dismiss="modal" data-toggle="modal" data-target="#verifyPasswordModel">Cancel</a>
                      <!--                    <span id="change_pass" class="btn btn-default btn_active ml-4" data-dismiss="modal" data-toggle="modal" data-target="#confirmProfileModal">Change Passoword</span>-->
                      <button id="create_pass" class="btn btn-default btn_confirm ml-4" >Confirm</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
        <% end %>
        <!--</form>-->
      </div>
    </div>
  </div>
</div>