<div class="modal fade" id="verifyPasswordMethodModel" class="confirmProfileModal" tabindex="-1" role="dialog" aria-labelledby="orderModelLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header" >
        <p class="change-password-modal-text">Change Password Verification</p>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <!--<form method="post" action="">-->
        <%= form_tag(path, method: :post) do %>
            <div class="row">
              <div class="col-lg-12">
                <center>
                  <p class="verify-method-text">Help us to protect your account access <br>
                    with our two-step verification</p>
                </center>

                <div class="row">
                  <div class="col-lg-3"></div>
                  <div class="col-lg-8 ml-3">
                    <div class="col-lg-8">
                      <center>
                        <p class="verify-method-text">How would you like to get your code?</p>
                      </center>
                    </div>
                    <div class="form-group m-form__group">
                      <select class="form-control send_code_option m-time-bootstrap-select m-bootstrap-select m-bootstrap-select--pill  m_selectpicker phone-pass-field"   title="Text  (***) ***-**<%= @user.try(:phone_number).last(2) %>">
                        <option value="text">
                          Text  (***) ***-**<%= @user.try(:phone_number).last(2) %>
                        </option>
                        <option value="email">
                          Email   ********<%= @user.email.partition('@').last %>
                        </option>
                      </select>
                    </div>
                    <!--<p class="error-pincode text-bold p_error text-danger"></p>-->
                    <!--<p class="valid-pincode text-bold p_error text-danger"></p>-->
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-12 text-center">
              <div class="confirm-modal-btn">
                <a href="" class="btn btn-default btn_cancel close_class" data-dismiss="modal">Cancel</a>
                <span id="" class="btn btn-default btn_confirm send_btn_code ml-4 send_pin" data-toggle="modal" data-id="first_send">Confirm</span>
                <p id="show_pin_code_modal" class="change_password-text" data-toggle="modal" data-target="#verifyPasswordModel"></p>
              </div>
            </div>
            </div>
        <% end %>
        <!--</form>-->
        </div>
  </div>
</div>
</div>