<div class="m-subheader">
  <div class="d-flex align-items-center">
    <div class="mr-auto">
      <ul class="m-subheader__breadcrumbs m-nav m-nav--inline set-path">
        <li class="m-nav__item">
          <a href="#" class="m-nav__link">
            <span class="my-order-nav">
                Business Settings
            </span>
          </a>
        </li>
        <li class="m-nav__separator">
          <%= image_tag "v2/merchant/icons/angle.svg"%>
        </li>
        <li class="m-nav__item">
          <a href="<%= v2_merchant_plugins_path %>" class="m-nav__link">
              <span class="order-active">
                Plugins
              </span>
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>
<div class="m-content">
  <div class="page-title mb-4">
	Plugins
	</div>
  <div class="plugin-section">
    <div class="row">
      <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="pull-left">
          <p class=" plugin-name">Plugin Name</p>
        </div>

      </div>
        <% @plugins.each_with_index do |plugin,index| %>
        	<% transperent_class = index.odd? ? "transparent-plugins" : "plugins" %>
	      <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12 <%= transperent_class %>">
	        <p class="pull-left plugin-name-text"><%= plugin.name%></p>
            <%= link_to plugin.file.url, class:"btn btn-default withdraw-btn plugin-download pull-right"  do%>
              Download File
            <% end %>
	      </div>
	    <%end%>
    </div>
	</div>
</div>