<div class="modal fade modal-position" id="ArchiveModal" tabindex="-1" role="dialog" aria-labelledby="orderModelLabel" aria-hidden="true">
  <div class="archive-body">
    <button type="button" class="close pull-right color-black" data-dismiss="modal">&times;</button>
    <center>
      <div class="archive-text">
        Are you sure you want <br>to <span id="change_s"></span> this MID?
      </div>
      <div class="btn-margin">
        <a class="archive-no-btn no-text" data-dismiss="modal">No</a>
      </div>
      <div>
        <a href="#" class="archive-yes-btn Yes-text">Yes</a>
      </div>
    </center>
  </div>
</div>