<% gateways.each_with_index do |gateway,index| %>
  <tr class="<%= index.even? ? "even-td" : "odd-td" %>">
    <td class="des-td">
      <%= gateway.name %>
    </td>
    <td class="amount-td">
      <%= number_to_currency(gateway.daily_limit.to_f, precision: 2)  %>
    </td>
    <td class="amount-td">
      <%= number_to_currency(gateway.daily_volume_achived.to_f, precision: 2)  %>
    </td>
    <td class="back-td">
      <p class="amount-white">
        <%= number_to_currency(gateway.daily_limit.to_f - gateway.daily_volume_achived.to_f, precision: 2) %>
      </p>
    </td>
    <td class="amount-td">
      <%= number_to_currency(gateway.monthly_limit.to_f, precision: 2) %>
    </td>
    <td class="amount-td">
      <%= number_to_currency(gateway.monthly_volume_achived.to_f, precision: 2)  %>
    </td>
    <td class="back-td">
      <p class="amount-white">
        <%= number_to_currency(gateway.monthly_limit.to_f - gateway.monthly_volume_achived.to_f, precision: 2) %>
      </p>
    </td>
    <td class="value-td">
      <% if gateway.total_transaction_count.to_i > 0 %>
        <%= number_to_percentage((gateway.total_cbk_count.to_f / gateway.total_transaction_count.to_f) * 100,precision: 2) %>
      <% else %>
      0%
      <% end %>
    </td>
    <td class="value-td">
      <%= gateway.total_cbk_count.to_i %>
    </td>
    <td class="value-td">
      <% total_merchants = gateway.assigned_mids.count %>
      <% if total_merchants > 0 %>
        <%= link_to total_merchants, locations_path(payment_gateway_id: gateway.id, from_specific_gateway: true), :class => 'color-1A2FEB-payment-gateway' %>
    <% else %>
        <%= total_merchants %>
      <% end %>
    </td>
    <td>
      <div class="dropdown show" id="dropdownid">
        <% if gateway.active? %>
          <% status = "status-drop" %>
        <% elsif gateway.in_active? %>
          <% status = "yellow-st" %>
        <% elsif gateway.terminated? %>
          <% status = "red-st" %>
        <% elsif gateway.archived? %>
          <% status = "grey-st" %>
        <% end %>
        <a href="#" class="btn btn-primary btn-sm status-drop <%= status %>" type="button" data-toggle="dropdown" aria-expanded="true"><%= gateway.status.humanize.capitalize %>
        </a>
        <ul class="dropdown-menu" style="background: white; text-align: center;left: -14%;">
          <% unless gateway.active?  %>
            <li><a class="btn btn-primary btn-sm change_state status-drop Active-st" type="button" data-current_state="<%= gateway.status.humanize.capitalize %>" data-change_state="Active" data-href="<%= archive_gateway_admins_payment_gateways_path(id: gateway, status: "active") %>">Active</a></li>
          <% end %>
          <% unless gateway.in_active?  %>
            <li><a class="btn btn-primary btn-sm change_state yellow-st Active-st" type="button" data-current_state="<%= gateway.status.humanize.capitalize %>" data-change_state="In active" data-href="<%= archive_gateway_admins_payment_gateways_path(id: gateway, status: "in_active") %>">In Active</a></li>
          <% end %>
          <% unless gateway.terminated? %>
            <li><a class="btn btn-primary btn-sm change_state red-st Active-st" type="button" data-current_state="<%= gateway.status.humanize.capitalize %>" data-change_state="Terminate" data-href="<%= archive_gateway_admins_payment_gateways_path(id: gateway, status: "terminated") %>">Terminate</a></li>
          <% end %>
          <% unless gateway.archived? %>
            <li><a class="btn btn-primary btn-sm change_state grey-st Active-st" type="button" data-current_state="<%= gateway.status.humanize.capitalize %>" data-change_state="Archive" data-href="<%= archive_gateway_admins_payment_gateways_path(id: gateway, status: "archived") %>">Archive</a></li>
          <% end %>
        </ul>
      </div>
    </td>
    <td class="Edit-td">
      <%= link_to "<span class='fa fa-pencil'> Edit</span>".html_safe, edit_admins_payment_gateway_path(gateway),remote: :true %>
    </td>
  </tr>
<% end %>