<div class="avoid-pad">
  <table class=" table-striped table-bordered table-hover dataTable datable_gateway" >
    <thead>
    <tr>
      <th class="Descriptors-tb">Descriptors</th>
      <th class="Descriptors-tb">Daily Limit</th>
      <th class="Descriptors-tb">Processed Today</th>
      <th class="Descriptors-tb">Daily CAP Available</th>
      <th class="Descriptors-tb">Monthly Limit</th>
      <th class="Descriptors-tb">Processed MTD</th>
      <th class="Descriptors-tb">Mo. CAP Avaliable</th>
      <th class="Descriptors-tb">CBK %</th>
      <th class="Descriptors-tb">Total CBK TRX</th>
      <th class="Descriptors-tb">Total Merchant Assigned</th>
      <th class="Descriptors-tb">Status</th>
      <th class="Descriptors-tb">Action</th>
    </tr>
    </thead>
    <tbody class="">
    <% if descriptor.payment_gateways.present? %>
      <% if params[:type] == "archived" %>
      <%= render partial: "admins/payment_gateways/partials/gateways_table", locals: {gateways: descriptor.payment_gateways.main_gateways.archived_gateways.order(key: :asc)} %>
      <% else %>
      <%= render partial: "admins/payment_gateways/partials/gateways_table", locals: {gateways: descriptor.payment_gateways.main_gateways.active_gateways.order(key: :asc)} %>
      <% end %>
      <%#= render partial: "admins/payment_gateways/partials/gateways_table", locals: {gateways: descriptor.payment_gateways.order(key: :asc)} %>
      <%# if @search_gateways.present? %>
        <%#= render partial: "admins/payment_gateways/partials/gateways_table", locals: {gateways: @search_gateways[descriptor.id]} %>
      <%# else %>
        <%# if params[:type] == "archived" %>
          <%#= render partial: "admins/payment_gateways/partials/gateways_table", locals: {gateways: descriptor.payment_gateways.main_gateways.archived_gateways} %>
        <%# else %>
          <%#= render partial: "admins/payment_gateways/partials/gateways_table", locals: {gateways: descriptor.payment_gateways.main_gateways.active_gateways} %>
        <%# end %>
      <%# end %>
    <% else %>

    <% end %>
    <tfoot>
    <tr class="footer-color">
      <th class="footer-Total">Total</th>
      <th class="footer-value">$<%= number_with_precision(descriptor.payment_gateways.pluck(:daily_limit).compact.sum, precision: 2, delimiter: ',') %></th>
      <th class="footer-value">$<%= number_with_precision(descriptor.payment_gateways.pluck(:daily_volume_achived).compact.sum, precision: 2, delimiter: ',') %></th>
      <th class="footer-value back-td">$<%= number_with_precision(descriptor.payment_gateways.pluck(:daily_limit).compact.sum - descriptor.payment_gateways.pluck(:daily_volume_achived).compact.sum, precision: 2, delimiter: ',') %></th>
      <th class="footer-value">$<%= number_with_precision(descriptor.payment_gateways.pluck(:monthly_limit).compact.sum, precision: 2, delimiter: ',') %></th>
      <th class="footer-value">$<%= number_with_precision(descriptor.payment_gateways.pluck(:monthly_volume_achived).compact.sum, precision: 2, delimiter: ',') %></th>
      <th class="footer-value back-td">$<%= number_with_precision(descriptor.payment_gateways.pluck(:monthly_limit).compact.sum - descriptor.payment_gateways.pluck(:monthly_volume_achived).compact.sum, precision: 2, delimiter: ',') %></th>
      <th class="footer-value">
        <% total_tx_count = descriptor.payment_gateways.pluck(:total_transaction_count).compact.sum %>
        <% if total_tx_count > 0 %>
          <%= number_to_percentage((descriptor.payment_gateways.pluck(:total_cbk_count).compact.sum / total_tx_count) * 100,precision: 2, delimiter: ',') %>
        <% else %>
        0%
        <% end %>
      </th>
      <th class="footer-value"><%= descriptor.payment_gateways.pluck(:total_cbk_count).compact.sum %></th>
      <th class="footer-value"></th>
      <th class="last_foot_th"></th>
      <th class="last_foot_th"></th>
    </tr>
    </tfoot>
  </table>
</div>