<div class="modal fade" id="VirtualTerminalSuccessModal" class="confirmuserpermissionModal" tabindex="-1" role="dialog" aria-labelledby="orderModelLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <div class="account-transfer-success">
          <div class="title first--text">
            Your Transaction<br>
            is being processed..
          </div>
          <div class="title last--text">
            <p class="Transaction-Successfull">Transaction Successfull!</p>
            <br>
            <p class="loader-state">
              Please note that your order payment using <span id="vt_card_brand"></span> ending in<br>
              <span id="vt_card_last4"></span> will appear on your card statement as:
            </p>
            <p class="descriptor-name">
              [Descriptor Name]
            </p>
          </div>
          <div class="progress1 working" >
            <%= image_tag "v2/merchant/icons/Grupo 4783.svg", class:"loader-image"%>
            <svg class="progress-circle" width="143px" height="143px" xmlns="http://www.w3.org/2000/svg">

              <circle class="progress-circle-back" stroke-linecap="round"
                      cx="70.5" cy="71" r="69"></circle>
              <circle class="progress-circle-prog p2c"
                      cx="71.5" cy="71" r="69" stroke-linecap="round"></circle>
            </svg>

          </div>
          <div class="success--image">
            <div class="hand-circle text--center">
              <%= image_tag "v2/merchant/icons/hand_card.svg", class:"hand-image"%>
            </div>
            <div class="row mt-3 mb-4">
              <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12 text--center">
                <div class="mt-4 text--center">
                  <a href="#" id="reload" class="btn btn-default btn-preview-invoice ok--btn_vt v-loader-btn" aria-label="Close"  >Back to Virtual Terminal</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>