<div class="modal fade" id="VirtualTerminalErrorModal" class="confirmuserpermissionModal" tabindex="-1" role="dialog" aria-labelledby="orderModelLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <div class="account-transfer-success">
          <div class="title">
            <p class="Transaction-Successfull">Your transaction was declined</p>

            <p class="loader-state_error">
              Please contact your card holder.
            </p>
          </div>
          <div class="hand-circle Back-circle">
            <%= image_tag 'v2/merchant/icons/cross.svg', class: 'cross-logo' %>
          </div>
            <div class="row mt-3 mb-4">
              <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12 text--center">
                <div class="mt-4 text--center">
                  <button class="btn btn-default btn-preview-invoice ok--btn" aria-label="Close" data-dismiss="modal" >Ok</button>
                </div>
              </div>
            </div>
        </div>
      </div>
    </div>
  </div>
</div>