<% if @customer_dispute.status == "pending" && (@dispute_requests_last.try(:status) == "approved" || @dispute_requests_last.try(:status) == "declined" || @pending_counter_offer.present? ) %>
  <div class="formi">
    <%# @customer_dispute.dispute_requests.where(user_id: current_user.id).each do |req| %>
    <% if @dispute_requests_last.status == "approved" && @return_to_sender.blank? %>
      <%= link_to "Refund", merchant_customer_dispute_dispute_request_path(@dispute_requests_last, customer_dispute_id: @customer_dispute.id, status: "offer_accept"), class: "btn btn-primary btn-sm", method:"PUT" %>
    <% elsif @pending_counter_offer.present? %>
      <%#= link_to "Accept", merchant_customer_dispute_dispute_request_path(@dispute_requests_last, customer_dispute_id: @customer_dispute.id, status: "offer_accept"), class: "btn btn-primary btn-sm", method:"PUT" %>
      <%#= link_to "Reject", merchant_customer_dispute_dispute_request_path(@dispute_requests_last, customer_dispute_id: @customer_dispute.id, status: "decline_request"), class: "btn btn-primary btn-sm", method:"PUT" %>
      <div class="accordion" id="accordionExample">
        <div class="card">
          <div class="card-header" id="headingOne">
            <h2 class="mb-0">
              <button class="btn btn-link collapse_link collapsed" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                Accept request
              </button>
            </h2>
          </div>

          <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
            <div class="card-body">
              <div class="card inner-card">
                <div class="card-body">
                  <h6 class="card-title">Are you sure you want to accept this customer's offer?</h6>
                  <hr>
                  <p class="card-text">Accepting a customer's refund request will transfer balence equal to the amount to the stated in this case. The funds will be available to the customer in 2 to 5 days</p>
                  <%= form_tag merchant_customer_dispute_dispute_request_path(@dispute_requests_last,customer_dispute_id: @customer_dispute.id), method: :put do %>
                    <input type='hidden' name="status" value="offer_accept" />
                    <button type="submit" class="btn btn-success btn-sm">Accept</button>
                    <button class="btn btn-success btn-sm">Cancel</button>
                  <% end %>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="card">
          <div class="card-header" id="headingTwo">
            <h2 class="mb-0">
              <button class="btn btn-link collapse_link collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                Decline Request
              </button>
            </h2>
          </div>
          <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
            <div class="card-body">
              <div class="card inner-card">
                <div class="card-body">
                  <h6 class="card-title">Are you sure you want to decline this customer's offer?</h6>
                  <hr>
                  <p class="card-text">Before declining a customer refund request, you must first provide a fair explaination to your reply.</p>

                  <%= form_tag merchant_customer_dispute_dispute_request_path(@dispute_requests_last,customer_dispute_id: @customer_dispute.id), method: :put do %>
                    <input type='hidden' name="status" value="decline_request" />
                    <div class="form-group">
                      <!--                                    <div class="form-group">-->
                      <%#= label_tag :amount%>
                      <%#= number_field_tag :amount, class: "form-control" %>
                      <!--                                    </div>-->
                      <div class="form-group">
                        <%= label_tag :message %>
                        <%= text_area_tag :message,nil, maxlength:"62",size: "4", class: "form-control" %>
                      </div>
                    </div>
                    <button type="submit" class="btn btn-success btn-sm">Accept</button>
                    <button class="btn btn-success btn-sm">Cancel</button>
                  <% end %>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="card">
          <div class="card-header" id="headingThree">
            <h2 class="mb-0">
              <button class="btn btn-link collapse_link collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                Final offer
              </button>
            </h2>
          </div>
          <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
            <div class="card-body">
              <div class="card inner-card">
                <div class="card-body">
                  <h6 class="card-title">Are you sure you want to refund partially and fulfill order?</h6>
                  <hr>
                  <p class="card-text">Use this options if you want to refund a customer for a specific amount but still want them to receive their order. This Option may solve situations such as when a customer wants to cancel a single product in an order. </p>
                  <div class="callout">
                    <h4>Imprtant Note</h4>
                    Use this options if you want to refund a customer for a specific amount but still want them to receive their order. This Option may solve situations such as when a customer wants to cancel a single product in an order.
                    Use this options if you want to refund a customer for a specific amount but still want them to receive their order. This Option may solve situations such as when a customer wants to cancel a single product in an order.
                  </div>
                  <%= form_tag new_merchant_customer_dispute_dispute_request_path(customer_dispute_id: @customer_dispute.id), method: :get do %>
                    <input type='hidden' name="status" value="merchant_final_offer" />
                    <div class="form-group">
                      <%= label_tag :amount%>
                      <%= number_field_tag :amount, id: "refund_amount", class: "form-control" %>
                    </div>
                    <div class="form-group">
                      <%= label_tag :message %>
                      <%= text_area_tag :message,nil, maxlength:"62",size: "4", class: "form-control" %>
                    </div>
                    <button type="submit" class="btn btn-success btn-sm">Accept</button>
                    <button class="btn btn-success btn-sm">Cancel</button>
                  <% end %>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    <% elsif @dispute_requests_last.status == "declined" %>

      <div class="accordion" id="accordionExample">
        <!--                      full refund-->
        <div class="card">
          <div class="card-header" id="headingOne">
            <h2 class="mb-0">
              <button class="btn btn-link collapse_link collapsed" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                Full Refund
              </button>
            </h2>
          </div>

          <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
            <div class="card-body">
              <div class="card inner-card">
                <div class="card-body">
                  <h6 class="card-title">Are you sure you want to accept this customer's offer?</h6>
                  <hr>
                  <p class="card-text">Accepting a customer's refund request will transfer balence equal to the amount to the stated in this case. The funds will be available to the customer in X days</p>
                  <%= form_tag merchant_customer_dispute_dispute_request_path(@dispute_requests_last,customer_dispute_id: @customer_dispute.id), method: :put do %>
                    <input type='hidden' name="status" value="save refund" />
                    <button type="submit" class="btn btn-success btn-sm">Accept</button>
                    <button class="btn btn-success btn-sm">Cancel</button>
                  <% end %>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!--                      return the product-->
        <div class="card">
          <div class="card-header" id="headingThree">
            <h2 class="mb-0">
              <button class="btn btn-link collapse_link collapsed" type="button" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                Return Product back
              </button>
            </h2>
          </div>
          <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordionExample">
            <div class="card-body">
              <div class="card inner-card">
                <div class="card-body">
                  <h6 class="card-title">Are you sure you want to ask the customer to return the item?</h6>
                  <hr>
                  <div class="callout">
                    <h4>Imprtant Note</h4>
                    Choosing this option will send a printable label to the customer so that they can ship the product back to your location. They will also be refunded the full amount of the transaction. We will notify you when the item is successfully posted.
                  </div>
                  <%= form_tag merchant_customer_dispute_dispute_request_return_product_path(@dispute_requests_last,customer_dispute_id: @customer_dispute.id), method: :get do %>
                    <input type='hidden' name="tracker_id" value="<%= @tracker.id %>" />
                    <button type="submit" class="btn btn-success btn-sm">Accept</button>
                    <button class="btn btn-success btn-sm">Cancel</button>
                  <% end %>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!--                      Final offer-->
        <% if @final_merchant_offer.blank? && @merchant_offer.status == "declined" %>
          <div class="card">
            <div class="card-header" id="headingThree">
              <h2 class="mb-0">
                <button class="btn btn-link collapse_link collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                  Final offer
                </button>
              </h2>
            </div>
            <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
              <div class="card-body">
                <div class="card inner-card">
                  <div class="card-body">
                    <h6 class="card-title">Are you sure you want to refund partially and fulfill order?</h6>
                    <hr>
                    <p class="card-text">Use this options if you want to refund a customer for a specific amount but still want them to receive their order. This Option may solve situations such as when a customer wants to cancel a single product in an order. </p>
                    <div class="callout">
                      <h4>Imprtant Note</h4>
                      Use this options if you want to refund a customer for a specific amount but still want them to receive their order. This Option may solve situations such as when a customer wants to cancel a single product in an order.
                      Use this options if you want to refund a customer for a specific amount but still want them to receive their order. This Option may solve situations such as when a customer wants to cancel a single product in an order.
                    </div>
                    <%= form_tag new_merchant_customer_dispute_dispute_request_path(customer_dispute_id: @customer_dispute.id), method: :get do %>
                      <input type='hidden' name="status" value="merchant_final_offer" />
                      <div class="form-group">
                        <%= label_tag :amount%>
                        <%= number_field_tag :amount, id: "refund_amount", class: "form-control" %>
                      </div>
                      <div class="form-group">
                        <%= label_tag :message %>
                        <%= text_area_tag :message,nil, maxlength:"62",size: "4", class: "form-control" %>
                      </div>
                      <button type="submit" class="btn btn-success btn-sm">Accept</button>
                      <button class="btn btn-success btn-sm">Cancel</button>
                    <% end %>
                  </div>
                </div>
              </div>
            </div>
          </div>
        <% end %>
      </div>

    <% end %>

    <br>
    <br>
  </div>

<% end %>

<div class="row">
  <% if @dispute_requests_last.present? && @dispute_requests_last.status == "pending" && @dispute_requests_last.title != "Merchant's Offer" && @dispute_requests_last.title != "Return to sender" && @pending_counter_offer.blank? %>
    <% if @customer_dispute.dispute_transaction.tracker.status == "delivered" %>
      <div class="col-md-12">
        <h4>Choose Your Reply:</h4>
        <div class="accordion" id="accordionExample">
          <div class="card">
            <div class="card-header" id="headingOne">
              <h2 class="mb-0">
                <button class="btn btn-link collapse_link collapsed" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                  Accept request
                </button>
              </h2>
            </div>

            <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
              <div class="card-body">
                <div class="card inner-card">
                  <div class="card-body">
                    <h6 class="card-title">Are you sure you want to accept this customer's offer?</h6>
                    <hr>
                    <p class="card-text">Accepting a customer's refund request will transfer balence equal to the amount to the stated in this case. The funds will be available to the customer in 2 to 5 days</p>
                    <%= form_tag merchant_customer_dispute_dispute_request_path(@dispute_requests_last,customer_dispute_id: @customer_dispute.id), method: :put do %>
                      <input type='hidden' name="status" value="refunded" />
                      <button type="submit" class="btn btn-success btn-sm">Accept</button>
                      <button class="btn btn-success btn-sm">Cancel</button>
                    <% end %>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="card">
            <div class="card-header" id="headingTwo">
              <h2 class="mb-0">
                <button class="btn btn-link collapse_link collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                  Decline Request
                </button>
              </h2>
            </div>
            <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
              <div class="card-body">
                <div class="card inner-card">
                  <div class="card-body">
                    <h6 class="card-title">Are you sure you want to decline this customer's offer?</h6>
                    <hr>
                    <p class="card-text">Before declining a customer refund request, you must first provide a fair explaination to your reply.</p>

                    <%= form_tag merchant_customer_dispute_dispute_request_path(@dispute_requests_last,customer_dispute_id: @customer_dispute.id), method: :put do %>
                      <input type='hidden' name="status" value="decline_request" />
                      <div class="form-group">
                        <!--                                    <div class="form-group">-->
                        <%#= label_tag :amount%>
                        <%#= number_field_tag :amount, class: "form-control" %>
                        <!--                                    </div>-->
                        <div class="form-group">
                          <%= label_tag :message %>
                          <%= text_area_tag :message,nil, maxlength:"62",size: "4", class: "form-control" %>
                        </div>
                      </div>
                      <button type="submit" class="btn btn-success btn-sm">Accept</button>
                      <button class="btn btn-success btn-sm">Cancel</button>
                    <% end %>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="card">
            <div class="card-header" id="headingThree">
              <h2 class="mb-0">
                <button class="btn btn-link collapse_link collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                  Save the sale
                </button>
              </h2>
            </div>
            <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
              <div class="card-body">
                <div class="card inner-card">
                  <div class="card-body">
                    <h6 class="card-title">Are you sure you want to refund partially and fulfill order?</h6>
                    <hr>
                    <p class="card-text">Use this options if you want to refund a customer for a specific amount but still want them to receive their order. This Option may solve situations such as when a customer wants to cancel a single product in an order. </p>
                    <div class="callout">
                      <h4>Imprtant Note</h4>
                      Use this options if you want to refund a customer for a specific amount but still want them to receive their order. This Option may solve situations such as when a customer wants to cancel a single product in an order.
                      Use this options if you want to refund a customer for a specific amount but still want them to receive their order. This Option may solve situations such as when a customer wants to cancel a single product in an order.
                    </div>
                    <%= form_tag new_merchant_customer_dispute_dispute_request_path(customer_dispute_id: @customer_dispute.id), method: :get do %>
                      <input type='hidden' name="status" value="merchant_offer" />
                      <div class="form-group">
                        <%= label_tag :amount%>
                        <%= number_field_tag :amount, id: "refund_amount", class: "form-control" %>
                      </div>
                      <div class="form-group">
                        <%= label_tag :message %>
                        <%= text_area_tag :message,nil, maxlength:"62",size: "4", class: "form-control" %>
                      </div>
                      <button type="submit" class="btn btn-success btn-sm">Accept</button>
                      <button class="btn btn-success btn-sm">Cancel</button>
                    <% end %>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="card">
            <div class="card-header" id="headingThree">
              <h2 class="mb-0">
                <button class="btn btn-link collapse_link collapsed" type="button" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                  Ask to return
                </button>
              </h2>
            </div>
            <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordionExample">
              <div class="card-body">
                <div class="card inner-card">
                  <div class="card-body">
                    <h6 class="card-title">Are you sure you want to ask the customer to return the item?</h6>
                    <hr>
                    <div class="callout">
                      <h4>Imprtant Note</h4>
                      Choosing this option will send a printable label to the customer so that they can ship the product back to your location. They will also be refunded the full amount of the transaction. We will notify you when the item is successfully posted.
                    </div>

                    <%= form_tag merchant_customer_dispute_dispute_request_return_product_path(@dispute_requests_last,customer_dispute_id: @customer_dispute.id), method: :get do %>
                      <input type='hidden' name="tracker_id" value="<%= @tracker.id %>" />
                      <button type="submit" class="btn btn-success btn-sm">Ask to return item</button>
                      <button class="btn btn-success btn-sm">Cancel</button>
                    <% end %>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    <% else %>
      <!--              <div class="col-md-12">-->
      <%#= link_to "Full Refund and Cancel Order", merchant_customer_dispute_dispute_request_path(@dispute_requests_last, customer_dispute_id: @customer_dispute.id, status: "full_refund"), method:"PUT" %>
      <!--              </div>-->
      <!--              <div class="col-md-12">-->
      <%#= link_to "Partial Refund", "", data: {toggle: "collapse", target:"#demo3"} %>
      <!--              </div>-->
      <!--              <div class="col-md-6 collapse in" id="demo3">-->
      <%#= render partial: "form" %>
      <!--              </div>-->
      <div class="col-md-12">
        <h4>Choose Your Reply:</h4>
        <div class="accordion" id="accordionExample">
          <div class="card">
            <div class="card-header" id="headingOne">
              <h2 class="mb-0">
                <button class="btn btn-link collapse_link collapsed" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                  Full refund and cancel order
                </button>
              </h2>
            </div>

            <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
              <div class="card-body">
                <div class="card inner-card">
                  <div class="card-body">
                    <h6 class="card-title">Are you sure you want to full refund and cancel order?</h6>
                    <hr>
                    <p class="card-text">Use this option if you want to cancel the order and refund the fulll amount of this transaction back to the customer.</p>
                    <div class="callout">
                      <h4>Imprtant Note</h4>
                      Even after you decline a refund request from a customer, they can still contact you to discuss about this case. If that happens, we suggest you come to an amicable resolution.
                    </div>
                    <%= form_tag merchant_customer_dispute_dispute_request_path(@dispute_requests_last,customer_dispute_id: @customer_dispute.id), method: :put do %>
                      <input type='hidden' name="status" value="full_refund" />
                      <button type="submit" class="btn btn-success btn-sm">Accept</button>
                      <button class="btn btn-success btn-sm">Cancel</button>
                    <% end %>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="card">
            <div class="card-header" id="headingTwo">
              <h2 class="mb-0">
                <button class="btn btn-link collapse_link collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                  Partial refund and cancel order
                </button>
              </h2>
            </div>
            <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
              <div class="card-body">
                <div class="card inner-card">
                  <div class="card-body">
                    <h6 class="card-title">Are you sure you want to refund partially and cancel order?</h6>
                    <hr>
                    <p class="card-text">Use this option if you want to cancel the order but still charge the customer a specific amount for whatever reason you feel necessary.</p>
                    <div class="callout">
                      <h4>Imprtant Note</h4>
                      Choosing this option will only refund the customer amount you specify on the "Partial refund amount" field. It will also cancel the order completely, marking the case as closed. It may take 2 to 5 days for this to be reflected on the customer's credit card statement.
                    </div>
                    <%= form_tag merchant_customer_dispute_dispute_request_path(@dispute_requests_last,customer_dispute_id: @customer_dispute.id), method: :put do %>
                      <input type='hidden' name="status" value="partial_cancel_order" />
                      <div class="form-group">
                        <div class="form-group">
                          <%= label_tag :amount, "Partial refund amount"%>
                          <%= number_field_tag :amount, placeholder:"insert amount",class: "form-control"%>
                        </div>
                      </div>
                      <button type="submit" class="btn btn-success btn-sm">Accept</button>
                      <button class="btn btn-success btn-sm">Cancel</button>
                    <% end %>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="card">
            <div class="card-header" id="headingThree">
              <h2 class="mb-0">
                <button class="btn btn-link collapse_link collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                  Partial refund and fullfill order
                </button>
              </h2>
            </div>
            <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
              <div class="card-body">
                <div class="card inner-card">
                  <div class="card-body">
                    <h6 class="card-title">Are you sure you want to refund partially and fulfill order?</h6>
                    <hr>
                    <p class="card-text">Use this options if you want to refund a customer for a specific amount but still want them to receive their order. This Option may solve situations such as when a customer wants to cancel a single product in an order. </p>
                    <div class="callout">
                      <h4>Imprtant Note</h4>
                      Choosing this option will only refund the customer amount you specify on the "partial refund amount" field. it will also cancel the order completey, marking the case as closed. It may take 2 to 5 days for this to be reflected on the customer's credit card statement.
                    </div>
                    <%= form_tag merchant_customer_dispute_dispute_request_path(@dispute_requests_last,customer_dispute_id: @customer_dispute.id), method: :put do %>
                      <input type='hidden' name="status" value="partial_fulfill_order" />
                      <div class="form-group">
                        <%= label_tag :amount, "Partial refund amount"%>
                        <%= number_field_tag :amount, class: "form-control" %>
                      </div>
                      <!--                              <div class="form-group">-->
                      <%#= label_tag :message %>
                      <%#= text_area_tag :message,nil, maxlength:"62",size: "4", class: "form-control" %>
                      <!--                              </div>-->
                      <button type="submit" class="btn btn-success btn-sm">Accept</button>
                      <button class="btn btn-success btn-sm">Cancel</button>
                    <% end %>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="card">
            <div class="card-header" id="headingThree">
              <h2 class="mb-0">
                <button class="btn btn-link collapse_link collapsed" type="button" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                  Dismiss based on mutual agreement
                </button>
              </h2>
            </div>
            <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordionExample">
              <div class="card-body">
                <div class="card inner-card">
                  <div class="card-body">
                    <div class="callout">
                      <h4>Imprtant Note</h4>
                      If you choose this option, you may came to an agreement with the customer that is not listed on the reasons available. The case will be closeed and marked as dismissed.
                    </div>

                    <%= form_tag merchant_customer_dispute_dispute_request_path(@dispute_requests_last,customer_dispute_id: @customer_dispute.id), method: :put do %>
                      <input type='hidden' name="status" value="dismissed_mutual_agreement" />
                      <button type="submit" class="btn btn-success btn-sm">Accept</button>
                      <button class="btn btn-success btn-sm">Cancel</button>
                    <% end %>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  <% end %>
</div>