<div class="modal show fade modal-fixed-footer" id="customer-dispute-detail" tabindex="-1" role="dialog" aria-labelledby="permission_modalLabel">
  <div class="modal-dialog width-90">
    <div class="modal-header text-left bg-primary text-white">
      <h4 class="modal-title"><i class="fa fa-money"></i><span class="ml-2">Details</span></h4>
      <button type="button" class="close" data-dismiss="modal" id="close_btn1">&times;</button>
    </div>
    <div class="modal-content container-fluid">

        <div clas="row">
          <div class="col-md-8 float-left">
              <div class="col-md-12">
                <h3>Case Opened</h3>
                <p class="case_open_date">
                  <%= "#{@customer_dispute.updated_at.strftime("%d/%m/%Y at %I:%M%p")}"%>
                </p>
              </div>

              <br/>

              <div class="col-md-12">
                <div class="row">

                  <div class="col-md-4">
                    <span>Case No</span>
                    <h4><%= @customer_dispute.id %></h4>
                  </div>
                  <div class="col-md-4">
                    <span>Order ID</span>
                    <h4><%= @transaction.order_id %></h4>
                  </div>
                  <div class="col-md-4">
                    <span>Amount Requested</span>
                    <h4><%= number_to_currency(@customer_dispute.amount) %></h4>
                  </div>
                </div>
              </div>
            <% if @customer_dispute.description.present? %>
              <div class="col-md-12">
                <p>
                  <%= @customer_dispute.description %>
                </p>
              </div>
            <% end %>
            <% if @customer_dispute.evidences.present? %>
              <div class="col-md-12">
                <p class="attachment_heading">
                  Attachments
                </p>
                <% @customer_dispute.evidences.each do |evidence| %>
                  <div class="attment_doc_box mb-2">
                    <%= image_tag "customers/images/refund/doc-file.svg" %>
                    <span class="Filedocdocx">
                      <%= link_to evidence.document_file_name, 'https:' + evidence.document.url, class: 'panel-heading', download: evidence.document, target: '_blank' %>
                    </span>
                  </div>
                <%end%>

              </div>
            <%end%>
            <div class="col-md-12 response">
              <div class="refund_case">
                <% if @merchant_offer.present?  %>
                  <div class="col-md-12">
                    <p class="case_accepted mt-5 mb-0">
                      Save the sale submitted
                    </p>
                    <p class="case_open_date">
                      <%= "#{@merchant_offer.updated_at.strftime("%d/%m/%Y at %I:%M%p")}"%>
                    </p>
                  </div>
                  <div class="col-md-12">
                    <p class="refund_heading">
                      Amount offered
                    </p>
                    <p class="refund_body">
                      $<%= number_with_precision(@merchant_offer.amount,precision: 2)%>
                    </p>
                  </div>
                  <div class="col-md-12">
                    <p class="refund_heading">
                      Merchant’s response
                    </p>
                    <p class="refund_body">
                      <%= @merchant_offer.message %>
                    </p>
                  </div>


                  <% if @merchant_offer.status == "declined" %>
                    <div class="col-md-12">
                      <p class="declined_store mt-5 mb-0">
                        Save the sale declined
                      </p>
                      <p class="case_open_date">
                        <%= "#{@merchant_offer.updated_at.strftime("%d/%m/%Y at %I:%M%p")}"%>
                      </p>
                    </div>
                    <div class="col-md-12">
                      <p class="refund_heading">
                        Amount decline
                      </p>
                      <p class="refund_body">
                        $<%= number_with_precision(@merchant_offer.amount,precision: 2)%>
                      </p>
                    </div>
                  <% end %>
                  <% if @customer_offer.present? %>
                    <div class="col-md-12">
                      <p class="case_accepted mt-5 mb-0">
                        Counteroffer recieved
                      </p>
                      <p class="case_open_date">
                        <%= "#{@customer_offer.updated_at.strftime("%d/%m/%Y at %I:%M%p")}"%>
                      </p>
                    </div>
                    <div class="col-md-12">
                      <p class="refund_heading">
                        Amount <offered></offered>
                      </p>
                      <p class="refund_body">
                        $<%= number_with_precision(@customer_offer.amount,precision: 2)%>
                      </p>
                    </div>
                  <% end %>
                  <% if @final_merchant_offer.present? %>
                    <div class="col-md-12">
                      <p class="case_accepted mt-5 mb-0">
                        Final save the sale submitted
                      </p>
                      <p class="case_open_date">
                        <%= "#{@final_merchant_offer.updated_at.strftime("%d/%m/%Y at %I:%M%p")}"%>
                      </p>
                    </div>
                    <div class="col-md-12">
                      <p class="refund_heading">
                        Amount offered
                      </p>
                      <p class="refund_body">
                        $<%= number_with_precision(@final_merchant_offer.amount,precision: 2)%>
                      </p>
                    </div>
                    <div class="col-md-12">
                      <p class="refund_heading">
                        Merchant’s response
                      </p>
                      <p class="refund_body">
                        <%= @final_merchant_offer.message %>
                      </p>
                    </div>
                  <% end %>
                  <% if (@merchant_offer.present? && @merchant_offer.status == "pending" )|| (@final_merchant_offer.present? && @final_merchant_offer.status == "pending" )%>
                    <p class="case_heading mb-0">
                      Waiting for customer's response.
                    </p>
                    <p class="case_open_date">
                      <%= "#{@dispute_requests_last.created_at.strftime("%d/%m/%Y at %I:%M%p")}"%>
                    </p>
                  <% end %>
                  <% if @merchant_offer.status == "declined" && @customer_dispute.status == "approved" && @final_merchant_offer.blank? && @customer_offer.blank? %>
                    <div class="col-md-12">
                      <p class="refund_heading">
                        Amount Refunded
                      </p>
                      <p class="refund_body">
                        $<%= number_with_precision(@customer_dispute.amount,precision: 2)%>
                      </p>
                    </div>
                    <div class="col-md-12">
                      <p class="refund_heading">
                        Description*
                      </p>
                      <p class="refund_body">
                        <%= I18n.t('customers.request.refund_statement') %>
                      </p>
                    </div>
                    <br>
                    <p class="case_heading mb-0">
                      Case Closed
                    </p>
                    <p class="case_open_date">
                      <%= "#{@customer_dispute.updated_at.strftime("%d/%m/%Y at %I:%M%p")}"%>
                    </p>
                  <% end %>
                  <% if @final_merchant_offer.present? &&  @final_merchant_offer.status == "declined" && @customer_dispute.status == "approved" %>
                    <div class="col-md-12">
                      <p class="refund_heading">
                        Amount Refunded
                      </p>
                      <p class="refund_body">
                        $<%= number_with_precision(@customer_dispute.amount,precision: 2)%>
                      </p>
                    </div>
                    <div class="col-md-12">
                      <p class="refund_heading">
                        Description*
                      </p>
                      <p class="refund_body">
                        <%= I18n.t('customers.request.refund_statement') %>
                      </p>
                    </div>
                    <br>
                    <p class="case_heading mb-0">
                      Case Closed
                    </p>
                    <p class="case_open_date">
                      <%= "#{@customer_dispute.updated_at.strftime("%d/%m/%Y at %I:%M%p")}"%>
                    </p>
                  <% end %>
                  <% if @merchant_offer.status == "approved" || (@final_merchant_offer.present? && @final_merchant_offer.status == "approved")%>
                    <div class="col-md-12">
                      <p class="case_accepted mt-5 mb-0">
                        save the sale accept by customer
                      </p>
                    </div>
                    <div class="col-md-12">
                      <p class="refund_heading">
                        Amount accepted
                      </p>
                      <p class="refund_body">
                        $<%= number_with_precision(@dispute_requests_last.amount,precision: 2)%>
                      </p>
                    </div>
                  <% end %>

                  <% if (@merchant_offer.status == "approved" || (@final_merchant_offer.present? && @final_merchant_offer.status == "approved") || (@customer_offer.present? && @customer_offer.status == "approved"))&& @customer_dispute.status == "approved"%>
                    <div class="col-md-12">
                      <p class="refund_heading">
                        Amount Refunded
                      </p>
                      <p class="refund_body">
                        $<%= number_with_precision(@dispute_requests_last.amount,precision: 2)%>
                      </p>
                    </div>
                    <div class="col-md-12">
                      <p class="refund_heading">
                        Description*
                      </p>
                      <p class="refund_body">
                        <%= I18n.t('customers.request.cancel_statement') %>
                      </p>
                    </div>
                    <br>
                    <p class="case_heading mb-0">
                      Case Closed
                    </p>
                    <p class="case_open_date">
                      <%= "#{@dispute_requests_last.updated_at.strftime("%d/%m/%Y at %I:%M%p")}"%>
                    </p>
                  <% end %>
                  <% if @final_merchant_offer.present? && @final_merchant_offer.status == "declined" %>
                    <div class="col-md-12">
                      <p class="declined_store mt-5 mb-0">
                        Final Save the sale declined
                      </p>
                      <p class="case_open_date">
                        <%= "#{@final_merchant_offer.updated_at.strftime("%d/%m/%Y at %I:%M%p")}"%>
                      </p>
                    </div>
                    <div class="col-md-12">
                      <p class="refund_heading">
                        Amount decline
                      </p>
                      <p class="refund_body">
                        $<%= number_with_precision(@final_merchant_offer.amount,precision: 2)%>
                      </p>
                    </div>
                  <% end %>
                <% end %>
                <% if @return_to_sender.present? %>
                  <div class="col-md-12">
                    <p class="case_accepted mt-5 mb-0">
                      Return to sender request submitted
                    </p>
                    <p class="case_open_date">
                      <%= "#{@return_to_sender.updated_at.strftime("%d/%m/%Y at %I:%M%p")}"%>
                    </p>
                  </div>
                  <div class="callout">
                    <h4>Important Note</h4>
                    We have sent a printable label and instruction to the customer for them to properly post and return the product back to your location. We will notify you when the item is successfully posted.
                  </div>
                  <% if @return_to_sender.status == "approved" %>
                    <div class="col-md-12">
                      <p class="case_accepted mt-5 mb-0">
                        Shipping in process
                      </p>
                      <p class="case_open_date">
                        <%= "#{@return_to_sender.updated_at.strftime("%d/%m/%Y at %I:%M%p")}"%>
                      </p>
                    </div>
                    <div class="callout">
                      <h4>Important Note</h4>
                      The customer is in the process of returning the item. We will inform you when the shipping is posted. If there are no updates, we suggest that you contact the customer.
                    </div>
                    <div class="col-md-12">
                      <% @tracker.return_tracking_details&.each do |obj| %>
                        <% if obj["message"] == "Picked Up" %>
                          <p class="case_accepted case_heading mb-0">
                            Item in transit
                          </p>
                          <p class="case_open_date">
                            <%= "#{obj["datetime"].to_date.strftime("%d/%m/%Y at %I:%M%p")}"%>
                          </p>
                          <p class="refund_heading">
                            Description
                          </p>
                          <p class="refund_body">
                            The item has been picked up by carrier and is being prepared for delivery. We will inform you when the shipping is out for delviery.
                          </p>
                          <p class="refund_heading">
                            Tracking number
                          </p>
                          <p class="refund_body">
                            <%= "09090dkfj234kjsdf9"%>
                          </p>
                          <p class="refund_heading">
                            Estimate arrival
                          </p>
                          <p class="refund_body">
                            <%= "99/99/999"%>
                          </p>
                          <div class="callout">
                            <h4>Important Note</h4>
                            Now that the item has been shipped, the customer will be refunded the amount agreed between both parties. If the item doesn't arrive, please contact carrier for support.
                          </div>
                          <% elsif obj["message"] == "Out For Delivery" %>
                          <p class="case_accepted case_heading mb-0">
                            Item out for delivery
                          </p>
                          <p class="case_open_date">
                            <%= "#{obj["datetime"].to_date.strftime("%d/%m/%Y at %I:%M%p")}"%>
                          </p>
                          <p class="refund_heading">
                            Description
                          </p>
                          <p class="refund_body">
                            The item is now being handled by carrier and is out for delivery. We will inform you when the shipping arrives.
                          </p>
                          <p class="refund_heading">
                            Tracking number
                          </p>
                          <p class="refund_body">
                            <%= "09090dkfj234kjsdf9"%>
                          </p>
                          <p class="refund_heading">
                            Estimate arrival
                          </p>
                          <p class="refund_body">
                            <%= "99/99/999"%>
                          </p>
                          <% elsif obj["message"] == "Delivered" %>
                          <p class="case_accepted case_heading mb-0">
                            Item delivered
                          </p>
                          <p class="case_open_date">
                            <%= "#{obj["datetime"].to_date.strftime("%d/%m/%Y at %I:%M%p")}"%>
                          </p>
                          <p class="refund_heading">
                            Description
                          </p>
                          <p class="refund_body">
                            The item has been delivered by carrier.
                          </p>
                          <p class="refund_heading">
                            Tracking number
                          </p>
                          <p class="refund_body">
                            <%= "09090dkfj234kjsdf9"%>
                          </p>
                          <p class="refund_heading">
                            Delivered on
                          </p>
                          <p class="refund_body">
                            <%= "99/99/999"%>
                          </p>
                        <% end %>
                      <% end %>
                    </div>
                    <% if @tracker.try(:[],:return_tracking_details).try(:last).try(:[],"status") == "delivered"  %>
                      <p class="case_heading mb-0">
                        Case Closed
                      </p>
                      <p class="case_open_date">
                        <%= "#{@tracker.return_tracking_details.last["datetime"].to_date.strftime("%d/%m/%Y at %I:%M%p")}"%>
                      </p>
                    <% end %>
                  <% else %>
                    <p class="case_heading mb-0">
                      Waiting for customer's response.
                    </p>
                    <p class="case_open_date">
                      <%= "#{@return_to_sender.created_at.strftime("%d/%m/%Y at %I:%M%p")}"%>
                    </p>
                  <% end %>
                <% end %>
                <% if @customer_dispute.status == "declined" && @dispute_requests_last.status == "declined" %>
                  <div class="col-md-12">
                    <p class="declined_store mt-5 mb-0">
                      Declined by the Store
                    </p>
                    <p class="case_open_date">
                      <%= "#{@dispute_requests_last.updated_at.strftime("%d/%m/%Y at %I:%M%p")}"%>
                    </p>
                  </div>
                  <div class="col-md-12">
                    <p class="refund_heading">
                      Merchant’s response
                    </p>
                    <p class="refund_body">
                      <%= @dispute_requests_last.message %>
                    </p>
                    <div class="callout">
                      <h4>Important Note</h4>
                      <%= I18n.t('customers.request.note_merchant') %>
                    </div>
                  </div>

                  <p class="case_heading mb-0">
                    Case Closed
                  </p>
                  <p class="case_open_date">
                    <%= "#{@dispute_requests_last.updated_at.strftime("%d/%m/%Y at %I:%M%p")}"%>
                  </p>
                <% end %>
                <% if @customer_dispute.status == "approved" && @dispute_requests_last.status == "refunded" %>
<!--                  on deliver and accept case 1-->
                  <p class="case_accepted mt-5 mb-0">
                    Accepted by the Store
                  </p>
                  <p class="case_open_date">
                    <%= "#{@dispute_requests_last.updated_at.strftime("%d/%m/%Y at %I:%M%p")}"%>
                  </p>
                  <p class="refund_heading">
                    Amount Refunded
                  </p>
                  <p class="refund_body">
                    <%= number_to_currency(@dispute_requests_last.amount) %>
                  </p>
                  <p class="refund_heading">
                    Description
                  </p>
                  <p class="refund_body">
                    You accepted the customer's refund request. Balance will be transfered in X days from this date
                  </p>
                  <div class="col-md-12 mt-5">
                  <p class="case_heading mb-0">
                    Refunded
                  </p>
                  <p class="case_open_date">
                    <%= "#{@dispute_requests_last.updated_at.strftime("%d/%m/%Y at %I:%M%p")}"%>
                  </p>
                  </div>
                  <div class="col-md-12">
                    <p class="refund_heading">
                      Amount Refunded
                    </p>
                    <p class="refund_body">
                      $<%= number_with_precision(@dispute_requests_last.amount,precision: 2)%>
                    </p>
                  </div>
                  <div class="col-md-12">
                    <p class="refund_heading">
                      Description*
                    </p>
                    <p class="refund_body">
                      <%# I18n.t('customers.request.cancel_statement') %>
                      The amount for this transaction has been successfully refunded. Please allow 2-5 business days for the refund to reflect on your customer's card statement.
                    </p>
                  </div>
                  <br>
                  <p class="case_heading mb-0">
                    Case Closed
                  </p>
                  <p class="case_open_date">
                    <%= "#{@dispute_requests_last.updated_at.strftime("%d/%m/%Y at %I:%M%p")}"%>
                  </p>
                <% end %>
              </div>
              <div class="cancel_case">
              <% if @dispute_requests_last.status == "mutual_agreement" %>
                  <p class="case_heading mb-0">
                    <%= I18n.t('customers.request.agreement') %>
                  </p>
                  <p class="case_open_date">
                    <%= "#{@dispute_requests_last.updated_at.strftime("%d/%m/%Y at %I:%M%p")}"%>
                  </p>
                  <p class="refund_heading">
                    Description
                  </p>
                  <p class="refund_body">
                    [Merchant's Description]
                  </p>
                  <br>
                  <p class="case_heading mb-0">
                    Case Closed
                  </p>
                  <p class="case_open_date">
                    <%= "#{@dispute_requests_last.updated_at.strftime("%d/%m/%Y at %I:%M%p")}"%>
                  </p>
                <%elsif  @dispute_requests_last.status == "full_refund" %>
                  <p class="case_heading mb-0">
                    <%= I18n.t('customers.request.full_refund') %>
                  </p>
                  <p class="case_open_date">
                    <%= "#{@dispute_requests_last.updated_at.strftime("%d/%m/%Y at %I:%M%p")}"%>
                  </p>
                  <p class="refund_heading">
                    Amount Refunded
                  </p>
                  <p class="refund_body">
                    <%= number_to_currency(@dispute_requests_last.amount) %>
                  </p>
                  <p class="refund_heading">
                    Description
                  </p>
                  <p class="refund_body">
                    The amount for this transaction has been successfully refunded.Please allow 2-5 business days for the refund to reflect on your customers's card statement
                  </p>
                  <br>
                  <p class="case_heading mb-0">
                    Case Closed
                  </p>
                  <p class="case_open_date">
                    <%= "#{@dispute_requests_last.updated_at.strftime("%d/%m/%Y at %I:%M%p")}"%>
                  </p>

                  <% elsif @dispute_requests_last.status == "partial_cancel_order" %>
                    <p class="case_heading mb-0">
                      <%= I18n.t('customers.request.partial_refund_cancel') %>
                    </p>
                    <p class="case_open_date">
                      <%= "#{@dispute_requests_last.updated_at.strftime("%d/%m/%Y at %I:%M%p")}"%>
                    </p>
                    <p class="refund_heading">
                      Amount Refunded
                    </p>
                    <p class="refund_body">
                      <%= number_to_currency(@customer_dispute.refund_amount) %>
                    </p>
                    <p class="refund_heading">
                      Description
                    </p>
                    <p class="refund_body">
                      This is confirmation that the merchant has agreed to refund and your order has been cancelled.Please allow 2-5 business days for the refund to reflect on your card statement.
                    </p>
                    <br>
                    <p class="case_heading mb-0">
                      Case Closed
                    </p>
                    <p class="case_open_date">
                      <%= "#{@dispute_requests_last.updated_at.strftime("%d/%m/%Y at %I:%M%p")}"%>
                    </p>
                    <% elsif @dispute_requests_last.status == "partial_send_order" %>
                      <p class="case_heading mb-0">
                        <%= I18n.t('customers.request.partial_refund_ship') %>
                      </p>
                      <p class="case_open_date">
                        <%= "#{@dispute_requests_last.updated_at.strftime("%d/%m/%Y at %I:%M%p")}"%>
                      </p>
                      <p class="refund_heading">
                        Amount Refunded
                      </p>
                      <p class="refund_body">
                        <%= number_to_currency(@customer_dispute.refund_amount) %>
                      </p>
                      <p class="refund_heading">
                        Description
                      </p>
                      <p class="refund_body">
                        This is confirmation that the merchant has agreed to refund  and still fulfilled your order.Please allow 2-5 business days for the refund to reflect on your card statement.
                      </p>
                      <br>
                      <p class="case_heading mb-0">
                        Case Closed
                      </p>
                      <p class="case_open_date">
                        <%= "#{@dispute_requests_last.updated_at.strftime("%d/%m/%Y at %I:%M%p")}"%>
                      </p>
                <%end%>
              </div>
            </div>
            <%= render 'merchant/customer_disputes/form'  %>
          </div>
          <div class="col-md-4 float-right">
            <div class="row order_review_box">
              <div class="col-md-12">
                <p class="order_review_box_heading">
                  Order review
                </p>
                <div class="custom_hr"></div>
              </div>
              <div class="col-md-12">
                <div class="row">
                  <div class="col-md-8">
                    <p class="date_heading">
                      Date
                    </p>
                    <p class="date_value">
                      <%= "#{@transaction.created_at.strftime("%d/%m/%Y at %I:%M%p")}"%>
                    </p>
                  </div>
                  <div class="col-md-4">
                    <p class="date_heading">
                      Order ID
                    </p>
                    <p class="date_value">
                      <%= @transaction.order_id %>
                    </p>
                  </div>
                  <div class="custom_hr"></div>
                  <div class="col-md-12">
                    <p class="date_heading">
                      Customer Name
                    </p>
                    <p class="date_value">
                      <%= @customer.name %>
                    </p>
                  </div>
                  <div class="col-md-12">
                    <p class="date_heading">
                      Email
                    </p>
                    <p class="date_value">
                      <%= @customer.email %>
                    </p>
                  </div>
                  <div class="col-md-12">
                    <p class="date_heading">
                      Phone #
                    </p>
                    <p class="date_value">
                      <%= @customer.phone_number %>
                    </p>
                    <div class="custom_hr"></div>
                  </div>
                  <div class="col-md-12">
                    <p class="date_heading">
                      Payment Method
                    </p>
                    <p class="date_value">
                      <%= image_tag "customers/images/pre_transit/mastercard.svg" %>
                      •••• <%= @transaction.last4 %>
                    </p>
                    <div class="custom_hr"></div>
                  </div>
                  <div class="col-md-12">
                    <div class="row">
                      <div class="col-md-5">
                        <p class="grand_total">
                          Grand Total
                        </p>
                      </div>
                      <div class="col-md-7">
                        <p class="grand_total_value">
                          <span>$</span> <%= number_with_precision(@transaction.total_amount, precision: 2) %>
                        </p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
<!--      <div class="" data-toggle="collapse" data-target="#demo3" aria-expanded="true" >-->
<!--        <h1>Collapsible Group Item #1 <i class="fa" aria-hidden="true"></i></h1>-->
<!--      </div>-->
        </div>
      </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>