<h3>Return Product: Rates</h3>




<section  id="service_type">
  <div class="row">
    <div class="col-md-3">
      <label><b>Select a Service Type</b></label>
    </div>
    <div class="col-md-9">
      <div class="row">
        <div class="col-md-8">
          <div class="row">
            <table class="table table-striped">
              <thead>
              <tr class="table-header">
                <th></th>
                <th>Package Type</th>
                <th>Expected Delivery</th>
                <th>Shipping Price</th>
              </tr>
              </thead>
              <tbody id="rates_body">
              <%= form_tag merchant_customer_dispute_dispute_request_generate_label_path(dispute_request_id: params[:dispute_request_id],customer_dispute_id: params[:customer_dispute_id]), method: :get do %>
                <input type="hidden" class="shipping_carrier" name="shipment_id" value="<%= @rates.last.shipment_id %>">
                <input type="hidden" class="shipping_carrier" name="tracker_id" value="<%= params[:tracker_id] %>">
                <% @rates.each do |rate| %>
                  <tr>
                    <td><input type="radio" class="shipping_carrier" name="rate_id" value="<%= rate.id %>"></td>
                    <td><%= rate.service %></td>
                    <td><%= rate.est_delivery_days %></td>
                    <td><%= rate.rate %></td>
                  </tr>
                <% end %>
                <tr>
                  <td colspan="4"><button type="submit" class="btn btn-success btn-sm">Submit</button></td>
                </tr>
              <% end %>
              </tbody>
            </table>
          </div>
        </div>
      </div>

    </div>
  </div>
</section>