/* The Modal (background) */

.jsModal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 5%; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: #3d3d3d; /* Fallback color */
    /*background-color: rgba(0,0,0,0.4); !* Black w/ opacity *!*/
}

/* Modal Content */
.jsModalContent {
    background-color: #f3f3f3;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 50%;
    border-radius: 7px;
}

/* The Close Button */
.jsModalClose {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.jsModalClose:hover,
.jsModalClose:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}
.modal-title{
    font-family: "Source Sans Pro",'sans-serif';
    font-size: 20px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 2;
    letter-spacing: normal;
    text-align: left;
    color: #ffbb01;
}
.edit_info_text{
    font-family: "Source Sans Pro",'sans-serif';
    font-size: 40px;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.2;
    letter-spacing: 0.64px;
    text-align: center;
    color: #454545;
    margin-top: 15%;
}
.btn-yes{
    border-radius: 25px;
    border: solid 1px #ffbb01;
    background-color: #ffffff;
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 2%;
    padding-bottom: 2%;
    font-family: "Source Sans Pro",'sans-serif';
    font-size: 18px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.28;
    letter-spacing: 0.72px;
    text-align: center;
    color: #616161;
    margin-left: -10%;
    margin-right: 10%;
}
.btn-no{
    border-radius: 25px;
    border: solid 1px #ffbb01;
    background-color: #ffbb01;
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 2%;
    padding-bottom: 2%;
    font-family: "Source Sans Pro",'sans-serif';
    font-size: 18px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.28;
    letter-spacing: 0.72px;
    text-align: center;
    color: #616161;
}
.buttons{
    padding-left: 35%;
    padding-top: 5%;
    margin-bottom: 20%;
}
.modal-footer{
    margin-top: 5%;
}
.footer_power_by{
    margin-left: 37%;
}
.step_heading{
    width: 70%;
    font-family: "Source Sans Pro",'sans-serif';
    font-size: 40px;
    font-weight: 200;
    font-stretch: normal;
    font-style: normal;
    line-height: 1;
    letter-spacing: 0.64px;
    text-align: left;
    color: #454545;
}
.incress_drecress{
    width: 30%;
    /*margin-left: 20%;*/
    /*padding-top: 2%;*/
}
.font_size_buttons {
    background-color: transparent;
    border: transparent;
    font-family: "Source Sans Pro",'sans-serif';
    font-size: 18px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.78;
    letter-spacing: normal;
    text-align: right;
    color: #454545;
    float: right;
    margin-top: 2%;
}
button:focus { outline: none; }

.btn_term_condition {
    display: table;
    margin:0 auto;
    border-radius: 25px;
    border: solid 1px #ffbb01;
    padding: 1% 8%;
    text-align: center;
    font-family: "Source Sans Pro",'sans-serif';
    font-size: 18px;
    font-weight: 900;
    letter-spacing: 0;
    color: #454545;
    opacity: 1;
    /*margin-left: 36%;*/
    background-color: #F0CB00;
}
.product_detail_responsive{
    padding: 5% 0px;
    width: 100%;

}
.step {
    margin: 5% 0px 2% 0px;
    display: block;
}
.modal-hr{
    opacity: .2;
}
.para_terms_condition {
    text-align: left;
    font-family: "Source Sans Pro",'sans-serif';
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0;
    color: #454545;
    opacity: 1;
    height: 200px;
    padding-right: 2.5%;
    overflow: auto;
    margin-left: 2%;
    margin-right: 2%;
}
.para_terms_condition::-webkit-scrollbar{
    width: 10px;
}
.para_terms_condition::-webkit-scrollbar-thumb{
    background: #BBBBBB;
    border-radius: 5px;
    opacity: .8;
}
.para_terms_condition::-webkit-scrollbar-thumb:hover{
    background: #BBBBBB;
    opacity:1;
    cursor: pointer;
}