<div class="form-group">
  <%=f.input :name , class: 'form-control', :label => 'First Name'  %>
</div>
<%= f.input :merchant_id, :as => :hidden, :input_html => { :value => "#{current_user.id}" } %>

<div class="form-group">
  <%=f.input :last_name , class: 'form-control', :label => 'Last Name' , :place_holder => 'last_name' %>
</div>
<div class="form-group">
  <%=f.input :email , class: 'form-control', :label => 'Email'  %>
</div>
<div class="form-group">
  <%=	f.input :password, class: 'form-control', :label =>  'Password' %>
</div>
<div class="form-group">
  <%= f.input :password_confirmation, class: 'form-control', :label => 'Confirm Password' %>
</div>
<p id="confiurm_error"></p>
<div class="form-group">
  <%=f.input :phone_number , class: 'form-control', :label => 'Phone Number'  %>
</div>
<div class="text-md-left font-weight-bold underlined">Location Access</div>
<div class="row">
  <% wallets.each do |wallet| %>
      <div class="col-md-6">
        <div class="form-group">
          <input name="user[wallets][]" type="checkbox" id="wallet_<%=wallet.id%>" value="<%=wallet.id%>">
          <label for="wallet_<%=wallet.id%>"><%= wallet.business_name %></label>
        </div>
      </div>
  <% end  %>
</div>
<div class="form-group">
  <%= f.input :retail_sales, as: :boolean, class: "form-control", label: 'Authorize to create retails only.'%>
</div>



