<tr>
  <td><%= user.id %></td>
  <td><%= user.try(:first_name) %></td>
  <td><%= user.last_name.nil? ? "N/A" : user.last_name %></td>
  <td><%= user.try(:permission).try(:name) %></td>
  <td><%= user.email %></td>
  <td><%= user.phone_number %></td>
  <!--<td><= link_to 'show', article_path(article) %></td>-->
  <% if @user_permission.try(:user_edit) %>
    <td>
      <% if @user_permission.admin? || @user_permission.user_edit %>
        <%= link_to '<i class="fa fa-edit edit_new_employee"></i>'.html_safe, edit_merchant_setting_path(user.id), data: {disable_with: "<i class='fa fa-spinner fa-spin'></i>"}, remote: true %>
        &nbsp<%= link_to '<i class="fa fa-trash"></i>'.html_safe, merchant_setting_path(user.id), method: :delete, data: {confirm: 'Are you sure?'} %>
      <% end %>
    </td>
  <% end %>

</tr>