<div class="dropdown">
    <button class="btn-status text-center" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      <i class="flaticon-interface-2 icon_charge_back"></i>
      <span class="">Status</span>
    </button>
     <%= simple_form_for :search, url: '/v2/partner/checks', method: "GET", html: { class: 'form-inline' , id: "filter_form"} do |f| %>
    <div class="dropdown-menu status_drop_down_new" aria-labelledby="dropdownMenuButton">
      <p class="refund-dropdown-heading">Select Case Status</p>
      <div class="">
        <label class="m-checkbox m-r-checkbox mb-0 pl-3 m-checkbox_chargeback">
          <input type="checkbox" class="checkbox_2 payee_checkbox" id="search_all" name="search[all]" value="1" <%= "checked"  if params["search"].try(:[],:all) == "1" %>>
          <p class="status_text ml-3">All</p>
          <span></span>
        </label>
      </div>
      <div class="">
        <label class="m-checkbox m-r-checkbox mb-0 pl-3 m-checkbox_chargeback">
         <input type="checkbox" class="payee_checkbox" id="paid" name="search[paid]" value="1" <%= "checked" if  params["search"].try(:[],:paid) == "1" %>>
          <p class="status_text ml-3">Paid</p>
          <span></span>
        </label>
      </div>
      <div class="">
        <label class="m-checkbox m-r-checkbox mb-0 pl-3 m-checkbox_chargeback">
       <input type="checkbox" class="payee_checkbox" id="pending" name="search[pending]" value="1" <%= "checked" if  params["search"].try(:[],:pending)  == "1" %>>
          <p class="status_text ml-3">Pending</p>
          <span></span>
        </label>
      </div>
      <div class="">
        <label class="m-checkbox m-r-checkbox mb-0 pl-3 m-checkbox_chargeback">
         <input type="checkbox" class="payee_checkbox" id="failed" name="search[failed]" value="1" <%= "checked" if params["search"].try(:[],:failed)  == "1" %>>
          <p class="status_text  ml-3">Failed</p>
          <span></span>
        </label>
      </div>
      <div class="">
        <label class="m-checkbox m-r-checkbox mb-0 pl-3 m-checkbox_chargeback">
         <input type="checkbox" class="payee_checkbox" id="search[void]"  name="search[void]" value="1" <%= "checked" if params["search"].try(:[],:void)  == "1" %>>
          <p class="status_text ml-3">Void</p>
          <span></span>
        </label>
      </div>
      <div class="">
           <label class="m-checkbox m-r-checkbox mb-0 pl-3 m-checkbox_chargeback">
         <input type="checkbox" class="payee_checkbox" id="search[in_process]"  name="search[in_process]" value="1" <%= "checked" if params["search"].try(:[],:in_process)  == "1" %>>
          <p class="status_text ml-3">In Process</p>
          <span></span>
        </label>
      </div>
      <div class="">
        <label class="m-checkbox m-r-checkbox mb-0 pl-3 m-checkbox_chargeback">
         <input type="checkbox" class="payee_checkbox" id="search[paid_wire]"  name="search[paid_wire]" value="1" <%= "checked" if params["search"].try(:[],:paid_wire)  == "1" %>>
          <p class="status_text ml-3">Paid by Wire</p>
          <span></span>
        </label>
      </div>
            <div class="">
        <label class="m-checkbox m-r-checkbox mb-0 pl-3 m-checkbox_chargeback">
         <input type="checkbox" class="payee_checkbox" id="search[unpaid]"  name="search[unpaid]" value="1" <%= "checked" if params["search"].try(:[],:unpaid)  == "1" %>>
          <p class="status_text ml-3">Unpaid</p>
          <span></span>
        </label>
      </div>
    </div>
    <%end%>
</div>