<div class="row">
  <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6 col-xs-12 margin--top-10">
    <div class="row">
      <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 col-xs-3">
        <div class="icon-div unpaid-width">
          <%= image_tag "v2/merchant/icons/earnings.svg"%>
        </div>
      </div>
      <div class="col-xl-9 col-lg-9 col-md-9 col-sm-9 col-xs-9 padding-0-left total-ach-set">
        <div class="small_chargeback">Total Paid</div>
        <div id="total_paid" class="price_chargeback">$<%= @total_paid %></div>
      </div>
    </div>
  </div>

  <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6 col-xs-12 margin--top-10">
    <div class="row">
      <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 col-xs-3">
        <div class="icon-div unpaid-width">
          <%= image_tag "v2/merchant/icons/processingfee.svg"%>
        </div>
      </div>
      <div class="col-xl-9 col-lg-9 col-md-9 col-sm-9 col-xs-9 padding-0-left total-ach-set">
        <div class="small_chargeback">Total Pending</div>
        <div id="total_pending" class="price_chargeback">$<%= @total_pending %></div>
      </div>
    </div>
  </div>

  <div class="col-xl-2 col-lg-2 col-md-2 col-sm-6 col-xs-12 margin--top-10 ach-echeck">
    <div class="row">
      <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 col-xs-3">
        <div class="icon-div unpaid-width">
          <%= image_tag "v2/merchant/icons/unpaid_money.svg"%>
        </div>
      </div>
      <div class="col-xl-9 col-lg-9 col-md-9 col-sm-9 col-xs-9 padding-0-left unpaid-padding">
        <div class="small_chargeback">Total Unpaid</div>
        <div id="total_unpaid" class="price_chargeback">$<%= @total_unpaid %></div>
      </div>
    </div>
  </div>


  <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6 col-xs-12 margin--top-10">
    <div class="row">
      <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 col-xs-3">
        <div class="icon-div unpaid-width">
          <%= image_tag "v2/merchant/icons/paid_wire.svg" %>
        </div>
      </div>
      <div class="col-xl-9 col-lg-9 col-md-9 col-sm-9 col-xs-9 padding-0-left total-ach-set">
        <div class="small_chargeback">Total Paid by Wire</div>
        <div  id="total_paid_wire"  class="price_chargeback">$<%= @total_paid_wire %></div>
      </div>
    </div>
  </div>


  <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6 col-xs-12 margin--top-10">
    <div class="row">
      <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 col-xs-3">
        <div class="icon-div unpaid-width">
          <%= image_tag "v2/merchant/icons/expensis.svg"%>
        </div>
      </div>
      <div class="col-xl-9 col-lg-9 col-md-9 col-sm-9 col-xs-9 padding-0-left total-ach-set">
        <div class="small_chargeback">Total Void</div>
        <div id="total_void" class="price_chargeback">$<%= @total_void %></div>
      </div>
    </div>
  </div>

 <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6 col-xs-12 margin--top-10">
    <div class="row">
      <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 col-xs-3">
        <div class="icon-div unpaid-width">
          <%= image_tag "v2/merchant/icons/money.svg"%>
        </div>
      </div>
     <div class="col-xl-9 col-lg-9 col-md-9 col-sm-9 col-xs-9 padding-0-left total-ach-set">
        <div class="small_chargeback">Total Failed</div>
        <div id="total_failed" class="price_chargeback">$<%= @total_failed %></div>
      </div>
    </div>
  </div>
</div>