<!--- <nav class="navbar navbar-inverse navbar-static-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
        <a class="navbar-brand" href="/">
          <img class="img-responsive" src="/assets/logo-white.png" alt="Quickcard">
        </a>
    </div>
    <div id="navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        <li class="active"><a href="<%#= root_path %>">Home</a></li>
        <li class=""><a href="<%#= features_path %>">Features</a></li>
        <li class=""><a href="<%#= merchants_path %>">Merchant</a></li>
        <li class=""><a href="<%#= protects_path %>">Purchase protection</a></li>
        <li class=""><a href="<%#= helps_path %>">Help</a></li>
        <li class=""><a href="<%#= new_contact_path %>">Support</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li></li>
        <%# if !current_user %>
          <%#= link_to  new_user_session_path,class:'btn btn-danger navbar-btn' do  %>
            Login<i class='icon-logout icons'></i>
          <%# end %>
          <%#= link_to  new_user_registration_path,  class:'btn btn-danger navbar-btn' do  %>
            Sign up<i class='icon-logout icons'></i>
          <%# end %>
        <%# else %>
          <%#= button_to  destroy_user_session_path, :method => :delete, class:'btn btn-danger navbar-btn' do  %>
            Logout<i class='icon-logout icons'></i>
          <%# end %>
        <%# end %>
      </ul>
    </div>
  </div>
</nav> --->
