/*_check_trans_info.html.erb*/

.transaction-detail-details-modal{
    text-decoration: underline;
    font-weight: bold;
    color:black;
    padding-left: 14px;
}

.transaction-id-details-modal{
    width: 100%;
    background-color: #f7f7f7;
    color: black;
    font-weight: bold;
    padding-left: 6px;
}

.transaction-gift-details-modal{
    text-decoration: underline;
    font-weight: bold;
    color:black;
}

.text-center-details-modal{
    text-align: center;
}

.transaction-id-1-details-modal{
    width: 100%;
    background-color: white;
    color: black;
    border: 1px solid #ebebeb;
    padding-left: 3px;
}

.margin-left-15-px-details-modal{
    margin-left:15px !important;
}
.margin-top-15-px-details-modal{
    margin-top:15px !important;
}
.margin-top-12-px-details-modal{
    margin-top:12px !important;
}

.margin-top-n-16-px-details-modal{
    margin-top: -16px !important;
}

.margin-top-0-details-modal{
    margin-top: 0px !important;
}

.width-140-px-details-modal{
    width:140px;
}

.width-100-details-modal{
    width:100%;
}

.width-30-height-17-px-details-modal{
    width: 30px !important;
    height: 17px !important;
}

.width-30-height-18-px-details-modal{
    width: 30px !important;
    height: 18px !important;
}

.width-27-height-17-px-details-modal{
    width: 27px !important;
    height: 17px !important;
}
.width-30-height-20-px-details-modal{
    width: 30px !important;
    height: 20px !important;
}

.display-none-details-modal{
    display:none;
}

.color-0a9e4b-details-modal{
    color: #0a9e4b;
}

.color-maroon-details-modal{
    color:maroon;
}
.color-red-details-modal{
    color:red;
}
.color-green-details-modal{
    color:green;
}

.padding-top-11-px-details-modal{
    padding-top: 11px !important;
}

.padding-left-0-details-modal{
    padding-left: 0px !important;
}
.padding-left-28-details-modal{
    padding-left: 28px !important;
}

.popover{
    max-width:600px;
}

.tableFixHead    { overflow-y: auto; height: 200px; }
.tableFixHead th { position: sticky; top: 0; }

/* Just common table stuff. Really. */
table  { border-collapse: collapse; width: 100%; }
th, td { padding: 8px 16px; }
th     { background:#eee; }
/*_local_credit_card_info.html.erb*/

.popover{
    left: -30px !important;
}
.ui-tooltip{
    padding: 8px !important;
    position: relative !important;
    z-index: 9999 !important;
    max-width: 300px !important;
    word-break: break-all !important;
}
.space_remove{
    margin-left: -7px;
}
.margin-top-8-px-details-modal{
    margin-top:8px !important;
}