<div class="row dispensary_style_section" id="dispensary_credit_section">
  <div class="col-md-12" style="padding: 17px">
    <div class="col-md-12">
      <div class="form-group col-md-4">
        <div class="row">
          <div class="col-md-11 ui-front">
            <label class="no-padding cursor_default"><span>ISO On File</span></label>
<!--            <input type="text" class=" user-1 form-control input-field" value="" id="user_1" name="profit_splits[splits][0][user_1][name]" autocomplete="off" onkeyup=for_super_users("user_1") required="true">-->
            <input type="hidden" id="user_1_<%= type %>_Hidden" value="<%= @iso.nil? ? '' : @iso.id %>" name="profit_splits[splits][dispensary_<%= type %>_split][user_1][wallet]" class="form-control" required="true">
            <input type="hidden" id="user_1_<%= type %>_Hidden_name" value="<%= @iso.nil? ? '' : @iso.name %>" name="profit_splits[splits][dispensary_<%= type %>_split][user_1][name]" class="form-control" required="true">
            <div id="user_1_error"></div>
          </div>
        </div>
      </div>
      <div class="form-group col-md-4 ui-front">
        <% user = User.where(id: ENV['MTRAC_ISO_ID']).last %>
        <label class="no-padding cursor_default"><span>Select User 1</span></label>
        <input type="text" class="form-control input-field" value="<%= "(ISO-#{user.try(:id)}) - #{user.try(:company_name).try(:capitalize)}" %>" id="user_2<%= type %>" name="profit_splits[splits][dispensary_<%= type %>_split][user_2][name]" autocomplete="off" onkeyup=for_super_users("user_2<%= type %>")>
        <input type="hidden" id="user_2<%= type %>Hidden" value="<%= user.id %>" name="profit_splits[splits][dispensary_<%= type %>_split][user_2][wallet]" class="form-control">
        <div id="user_2_error"></div>
      </div>
      <div class="form-group col-md-4 ui-front">
        <label class="no-padding cursor_default"><span>Select User 2</span></label>
        <input type="text" class="form-control input-field" value="" id="user_3<%= type %>" name="profit_splits[splits][dispensary_<%= type %>_split][user_3][name]" autocomplete="off" onkeyup=for_super_users("user_3<%= type %>")>
        <input type="hidden" id="user_3<%= type %>Hidden" value="" name="profit_splits[splits][dispensary_<%= type %>_split][user_3][wallet]" class="form-control">
        <div id="user_3_error"></div>
      </div>
    </div>
  </div>
  <div class="col-md-12" style="padding-left: 10px">
    <div class="col-md-12">
      <div class="col-md-4">
        <div class="row">
          <div class="col-md-11" style="padding: 0px">
            <div class="col-md-6" style="padding: 0px">
              <p style="font-weight: bold;color:black;margin-left: 25px;float: left">% Split </p>
            </div>
            <div class="col-md-6" style="padding: 0px;">
              <p style="font-weight: bold;color:black;margin-left: 25px;float: left">$ Split </p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-2" style="padding: 0px">
        <p style="font-weight: bold;color:black;margin-left: 25px;float: left">% Split </p>
      </div>
      <div class="col-md-2" style="padding: 0px;">
        <p style="font-weight: bold;color:black;margin-left: 25px;float: left">$ Split </p>
      </div>
      <div class="col-md-2" style="padding: 0px">
        <p style="font-weight: bold;color:black;margin-left: 25px;float: left">% Split </p>
      </div>
      <div class="col-md-2" style="padding: 0px;">
        <p style="font-weight: bold;color:black;margin-left: 25px;float: left">$ Split </p>
      </div>
    </div>
  </div>
  <div class="col-md-12" style="padding-left: 22px;">
    <div class="col-md-12">
      <div class="col-md-4">
        <div class="row">
          <div class="col-md-11">
            <div class="col-md-6 form-group" style="padding-left: 0px">
              <div>
              <input type="text" name="profit_splits[splits][dispensary_<%= type %>_split][user_1][percent]" onclick = "this.select();" class="form-control split" id="user_1_percent" value="0" required="true" placeholder="0" step="any">
              </div>
              <div id="user_1_percent_error" class="percent_error"></div>
            </div>
            <div class="col-md-6 form-group" style="padding-right: 0px">
              <input type="text" name="profit_splits[splits][dispensary_<%= type %>_split][user_1][dollar]" onclick = "this.select();" class="form-control split"  value="0.25" step="any">
            </div>
          </div>
        </div>
      </div>
      <div class="form-group col-md-2">
        <div>
        <input type="text" name="profit_splits[splits][dispensary_<%= type %>_split][user_2][percent]" onclick = "this.select();" class="form-control split user_percent" value="0" id="user_2_percent" placeholder="0" step="any">
      </div>
        <div id="user_2_percent_error" class="percent_error"></div>
      </div>
      <div class="form-group col-md-2">
        <input type="text" name="profit_splits[splits][dispensary_<%= type %>_split][user_2][dollar]" onclick = "this.select();" class="form-control split" value="0.06" step="any">
      </div>
      <div class="form-group col-md-2">
        <div>
        <input type="text" name="profit_splits[splits][dispensary_<%= type %>_split][user_3][percent]" onclick = "this.select();" class="form-control split user_percent" value="0" id="user_3_percent" placeholder="0" step="any">
      </div>
        <div id="user_3_percent_error" class="percent_error"></div>
      </div>
      <div class="form-group col-md-2">
        <input type="text" name="profit_splits[splits][dispensary_<%= type %>_split][user_3][dollar]" onclick = "this.select();" class="form-control split" value="0" step="any">
      </div>
    </div>
  </div>
</div>
<script>
    $(".split").inputmask('Regex', {regex: "^[0-9]{1,99}(\\.\\d{1,2})?$"});
</script>