<div class="row">
  <div class="col-md-6">

      <h5 class="no-padding cursor_default">Credit Card Settings</h5>
    <hr>

    <div class="form-group"><%= f.label :risk, "Risk", class: "no-padding cursor_default" %><br />
      <%= f.select :risk, options_for_select(Location.risks.map { |key, value| [key.humanize, value] }, f.object.risk.present? ? Location.risks[f.object.risk] : Location.risks[:high]),{include_blank: "Select Risk"} , {autofocus: false, id:"risk", class:"form-control"}%>
    </div>
    <div class="form-group"><%= f.label :primary_gateway_id, "Bank Name", class: "no-padding cursor_default" %><br />
      <%= f.select :primary_gateway_id, options_for_select(PaymentGateway.eager_load(:descriptor).main_gateways.active_gateways.order(name: :asc).map{ |key| [key.descriptor.present? ? "(#{key.descriptor.name}) - #{key.name}" : key.name, key.id]}, f.object.primary_gateway_id),{include_blank: "Select Bank"} , {autofocus: false, id:"primary_bank", class:"form-control"}%>
    </div>
    <div class="form-group"><%= f.label :secondary_gateway_id, "Secondary Bank Name", class: "no-padding cursor_default" %><br />
      <%= f.select :secondary_gateway_id, options_for_select(PaymentGateway.eager_load(:descriptor).main_gateways.active_gateways.order(name: :asc).map{ |key| [key.descriptor.present? ? "(#{key.descriptor.name}) - #{key.name}" : key.name, key.id]}, f.object.secondary_gateway_id),{include_blank: "Select Bank"} , {autofocus: false, id:"secondary_bank", class:"form-control"}%>
    </div>
    <div class="form-group"><%= f.label :ternary_gateway_id, "Third Bank Name", class: "no-padding cursor_default" %><br />
      <%= f.select :ternary_gateway_id, options_for_select(PaymentGateway.eager_load(:descriptor).main_gateways.active_gateways.order(name: :asc).map{ |key| [key.descriptor.present? ? "(#{key.descriptor.name}) - #{key.name}" : key.name, key.id]}, f.object.ternary_gateway_id),{include_blank: "Select Bank"} , {autofocus: false, id:"ternary_bank", class:"form-control"}%>
    </div>
  </div>

  <div class="col-md-6">
    <div class="row">
      <div class="col-md-12">
        <h5 class="no-padding cursor_default">Debit Settings</h5>
        <hr>
        <div class="col-md-12 under_line">
          <h5 class="no-padding cursor_default" id="div10">Slots Limit</h5>
          <div class="col-md-3" id="div11">
            <div class="col-md-12">
              <div class="form-group">
                <label class="switch bottom-none">
                  <%= f.check_box :is_slot, class:"div12" %>
                  <!-- <input type="checkbox" checked> -->
                  <span class="slider round">
                  <div class="pull-left" id="div13">
                    ON
                  </div>
                  <div class="pull-right" id="div14">
                    OFF
                  </div>
                </span>
                </label>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div id="locationisslot" class="row div15">
        <div class="col-md-12">
          <div class="col-md-12">
            <div class="col-md-12" id="div16">
              <div class="row">
                <div class="col-md-12 div17">
                  <div class="col-md-2">
                    <label id="label" class="div18">
                      Attempt 1 <% if params[:action] == "edit"%><%= link_to "<span class='fa fa-refresh'></span>".html_safe, reset_slot_setting_admins_slot_gateways_path(key: "slot_over",attempt: "1",location_id: @location.try(:id)), data: { confirm: 'Are you sure?' }, title: "Reset Attempts" %><% end %>
                    </label>
                  </div>
                  <div class="col-md-10">
                    <div class="row">
                      <% size = 100 / @slot_gateway.try(:count) if @slot_gateway.try(:count).to_i > 0 %>
                      <input id="gateway_size" type="hidden" value="<%= size.to_i %>">
                      <% @slot_gateway.each_with_index do |p, i| %>
                        <% slotover1 = {} %>
                        <% slotover1 = @slot_over["#{p.id}"] if @slot_over.present? %>
                        <div id="div19">
                          <div class="col-md-12">
                            <div class="m-input-icon m-input-icon--left">
                              <label id="label"><%= p.slot_name %>  <span class="title_span" title="Slot Attempts">(<%= slotover1.present? ? slotover1.try(:[], "total_count1") : 0 %>)</span></label>
                              <input type="hidden" value="<%= slotover1.present? ? slotover1.try(:[], "count1").present? ? slotover1.try(:[], "count1") : 0 : 0 %>" name="query[over][<%= i %>][<%= p.id %>][count1]">
                              <input type="hidden" value="<%= slotover1.present? ? slotover1.try(:[], "total_count1").present? ? slotover1.try(:[], "total_count1") : 0 : 0 %>" name="query[over][<%= i %>][<%= p.id %>][total_count1]">
                              <input type="number" value="<%= slotover1.present? ? slotover1.try(:[], "value1") : 0 %>" class="form-control form-control1 perc_attempt1_over  m-input percent_function" id="attempt1_over_<%= i %>" name="query[over][<%= i %>][<%= p.id %>][value1]" data="<%= i  %>" >
                              <span class="m-input-icon__icon m-input-icon__icon--left"><span><i class="fa fa-percent"></i></span></span>
                            </div>
                          </div>
                        </div>
                      <% end %>
                    </div>
                  </div>
                </div>
                <div class="col-md-12 div20">
                  <div class="col-md-2">
                    <label id="label" class="div21">
                      Attempt 2 <% if params[:action] == "edit"%><%= link_to "<span class='fa fa-refresh'></span>".html_safe, reset_slot_setting_admins_slot_gateways_path(key: "slot_over",attempt: "2",location_id: @location.try(:id)), data: { confirm: 'Are you sure?' }, title: "Reset Attempts" %><% end %>
                    </label>
                  </div>
                  <div class="col-md-10">
                    <div class="row">
                      <% @slot_gateway.each_with_index do |p, i| %>
                        <% slotover2 = {} %>
                        <% slotover2 = @slot_over["#{p.id}"] if @slot_over.present? %>
                        <div id="div19">
                          <div class="col-md-12">
                            <div class="m-input-icon m-input-icon--left">
                              <label id="label"><%= p.slot_name %>  <spanv title="Slot Attempts">(<%= slotover2.present? ? slotover2.try(:[], "total_count2") : 0 %>)</spanv></label>
                              <input type="hidden" value="<%= slotover2.present? ? slotover2.try(:[], "count2").present? ? slotover2.try(:[], "count2") : 0 : 0 %>" name="query[over][<%= i %>][<%= p.id %>][count2]">
                              <input type="hidden" value="<%= slotover2.present? ? slotover2.try(:[], "total_count2").present? ? slotover2.try(:[], "total_count2") : 0 : 0 %>" name="query[over][<%= i %>][<%= p.id %>][total_count2]">
                              <input type="number" value="<%= slotover2.present? ? slotover2.try(:[], "value2") : 0 %>" class="form-control form-control1 perc_attempt2_over percent_function2" id="attempt2_over_<%= i %>" data="<%= i %>" name="query[over][<%= i %>][<%= p.id %>][value2]"  >
                              <span class="m-input-icon__icon m-input-icon__icon--left">
                            <span><i class="fa fa-percent"></i></span></span>
                            </div>
                          </div>
                        </div>
                      <% end %>
                    </div>
                  </div>
                </div>

                <div class="col-md-12 div17">
                  <div class="col-md-2 col-md-offset-5">
                    <p id="div22"  title="Over setting will execute if Amount is greater!">Over
                      <span class="fa fa-arrow-up div23"></span></p>
                    <input type="text" class="form-control attempt_amount div25" value="<%= @slot_amount.present? ? @slot_amount : 0 %>" name="query[amount]" id="attemptamount"  title="Amonut">
                    <p id="div24" title="Under setting will execute if Amount is less!">Under
                      <span class="fa fa-arrow-down div23"></span></p>
                  </div>
                </div>

                <div class="col-md-12 div17" >
                  <div class="col-md-2">
                    <label id="label" class="div18">
                      Attempt 1 <% if params[:action] == "edit"%><%= link_to "<span class='fa fa-refresh'></span>".html_safe, reset_slot_setting_admins_slot_gateways_path(key: "slot_under", attempt: "1",location_id: @location.try(:id)), data: {confirm: 'Are you sure?'}, title: "Reset Attempts" %><% end %>
                    </label>
                  </div>
                  <div class="col-md-10">
                    <div class="row">
                      <% @slot_gateway.each_with_index do |p, i| %>
                        <% slotunder1 = {} %>
                        <% slotunder1 = @slot_under["#{p.id}"] if @slot_under.present? %>
                        <div id="div19">
                          <div class="col-md-12">
                            <div class="m-input-icon m-input-icon--left">
                              <label id="label"><%= p.slot_name %>
                                <span class="title_span" title="Slot Attempts">(<%= slotunder1.present? ? slotunder1.try(:[], "total_count1") : 0 %>)</span></label>
                              <input type="hidden" value="<%= slotunder1.present? ? slotunder1.try(:[], "count1").present? ? slotunder1.try(:[], "count1") : 0 : 0 %>" name="query[under][<%= i %>][<%= p.id %>][count1]">
                              <input type="hidden" value="<%= slotunder1.present? ? slotunder1.try(:[], "total_count1").present? ? slotunder1.try(:[], "total_count1") : 0 : 0 %>" name="query[under][<%= i %>][<%= p.id %>][total_count1]">
                              <input type="number" value="<%= slotunder1.present? ? slotunder1.try(:[], "value1") : 0 %>" class="form-control form-control1 perc_attempt1_under under_function" id="attempt1_under_<%= i %>" name="query[under][<%= i %>][<%= p.id %>][value1]" data="<%= i  %>" >
                              <span class="m-input-icon__icon m-input-icon__icon--left">
                                      <span><i class="fa fa-percent"></i></span></span>
                            </div>
                          </div>
                        </div>
                      <% end %>
                    </div>
                  </div>
                </div>
                <div class="col-md-12 div20">
                  <div class="col-md-2">
                    <label id="label" class="div21">
                      Attempt 2 <% if params[:action] == "edit"%><%= link_to "<span class='fa fa-refresh'></span>".html_safe, reset_slot_setting_admins_slot_gateways_path(key: "slot_under", attempt: "2",location_id: @location.try(:id)), data: {confirm: 'Are you sure?'}, title: "Reset Attempts" %><% end %>
                    </label>
                  </div>
                  <div class="col-md-10">
                    <div class="row">

                      <% @slot_gateway.each_with_index do |p, i| %>
                        <% slotunder2 = {} %>
                        <% slotunder2 = @slot_under["#{p.id}"] if @slot_under.present? %>
                        <div id="div19">
                          <div class="col-md-12">
                            <div class="m-input-icon m-input-icon--left">
                              <label id="label"><%= p.slot_name %>
                                <span class="title_span" title="Slot Attempts">(<%= slotunder2.present? ? slotunder2.try(:[], "total_count2") : 0 %>)</span></label>
                              <input type="hidden" value="<%= slotunder2.present? ? slotunder2.try(:[], "count2").present? ? slotunder2.try(:[], "count2") : 0 : 0 %>" name="query[under][<%= i %>][<%= p.id %>][count2]">
                              <input type="hidden" value="<%= slotunder2.present? ? slotunder2.try(:[], "total_count2").present? ? slotunder2.try(:[], "total_count2") : 0 : 0 %>" name="query[under][<%= i %>][<%= p.id %>][total_count2]">
                              <input type="number" value="<%= slotunder2.present? ? slotunder2.try(:[], "value2") : 0 %>" class="form-control form-control1 perc_attempt2_under under_function2" id="attempt2_under_<%= i %>" name="query[under][<%= i %>][<%= p.id %>][value2]" data="<%= i  %>" >
                              <span class="m-input-icon__icon m-input-icon__icon--left">
                                      <span><i class="fa fa-percent"></i></span></span>
                            </div>
                          </div>
                        </div>
                      <% end %>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
