<%= stylesheet_link_tag "admins/locations.css", media: 'all', 'data-turbolinks-track' => 'reload' %>



<div class="sidebar-overlay" id="sidebar-overlay"></div>
<div class="title-block">
  <div class="row">
    <div class="col-md-6" id="duplicateid1" >
      <h1 class="title text-capitalize" id="duplicateid2">
        Duplicate Location
      </h1>
    </div>
    <div class="col-md-6">
      <% unless @duplicated %>
          <%= link_to '<button class="btn btn-sm btn-primary pull-right">Duplicate</button>'.html_safe, edit_location_path(id: @location.slug,duplicated: "true") ,data:{confirm: "Are you sure you want to duplicate?"} %>
      <% else %>
          <button class="btn btn-sm btn-success pull-right" disabled>Duplication Form</button>
      <% end %>
    </div>
  </div>
</div>
<span id="error">
</span>
<section class="section">
  <div class="row">
    <div class="card sameheight-item items" data-exclude="xs,sm,lg">
      <%=	simple_form_for @location ,url: duplication_locations_path,html: {id: 'locationform'}, method: :post do |l| %>
          <input type="hidden" name="location_id" id="location_id" value="<%= @location.try(:id) %>">
        <input type="hidden" id="user_id" value="<%= @user.id %>">
        <input type="hidden" id="duplicate_loc" value="true">
          <input type="hidden" name="location[merchant_id]" value="<%= @user.id %>">
          <div class="tab_container">
            <input id="tab1" type="radio" name="tabs" checked class="tab-input">
            <label for="tab1" class="location_label"><i class="fa fa-user"></i><span>Profile Info</span></label>

            <input id="tab2" type="radio" name="tabs" class="tab-input">
            <label for="tab2" class="location_label"><i class="fa fa-file"></i><span>ISO & Agent Setup</span></label>

            <input id="tab3" type="radio" name="tabs" class="tab-input">
            <label for="tab3" class="location_label"><i class="fa fa-money"></i><span>Location Buy Rate</span></label>

            <input id="tab4" type="radio" name="tabs" class="tab-input">
            <label for="tab4" class="location_label"><i class="fa fa-money"></i><span>Bank Accounts</span></label>

            <input id="tab5" type="radio" name="tabs" class="tab-input">
            <label for="tab5" class="location_label"><i class="fa fa-university"></i><span>Gateway Setup</span></label>

            <input id="tab7" type="radio" name="tabs" class="tab-input">
            <label for="tab7" class="location_label"><i class="fa fa-money"></i><span>Account Limit</span></label>

            <input id="tab6" type="radio" name="tabs" class="tab-input">
            <label for="tab6" class="location_label"><i class="fa fa-connectdevelop"></i><span>Portal Settings</span></label>

            <input id="tab8" type="radio" name="tabs" class="tab-input">
            <label for="tab8" class="location_label"><i class="fa fa-money"></i><span>Documentation</span></label>

            <label class='location_label1'><%= link_to "x", locations_path, class: 'btn btn-sm c_btn'  %></label>

            <section id="content1" class="tab-content locations-tab">
              <%= render partial: 'admins/locations/profile' ,:locals =>  {:f => l, :u=> @user}%>
            </section>

            <section id="content2" class="tab-content locations-tab">
              <%= render partial: 'admins/locations/iso_and_agent' ,:locals =>  {:f => l, :u => @user}%>
            </section>

            <section id="content3" class="tab-content locations-tab">
              <%= render partial: 'admins/locations/fee', locals: {:f => l, :u => @user}	  %>
            </section>

            <section id="content4" class="tab-content locations-tab">
              <%= render partial: 'admins/locations/location_wallets' ,locals: {:f => l, :u => @user} %>
            </section>

            <section id="content5" class="tab-content locations-tab">
              <p> <%= render partial: 'admins/locations/banking_setup', locals: {:f => l, :u => @user}	  %> </p>
            </section>

            <section id="content7" class="tab-content locations-tab">
              <p> <%= render partial: 'admins/locations/account_limits', locals: {:f => l, :u => @user} %> </p>
            </section>

            <section id="content6" class="tab-content locations-tab">
              <p> <%= render partial: 'admins/locations/locations_settings', locals: {:f => l, :u => @user} %> </p>
            </section>
            <section id="content8" class="tab-content locations-tab">
              <%= l.fields_for :documentation, Documentation.new do |form| %>
                <p> <%= render partial: 'admins/locations/edit_documentation', locals: {:f => form} %> </p>
              <% end %>
            </section>
          </div>
          <div class="text-center">
            <button type="submit" name="commit" value="Save" id="location-btn" class="btn btn-primary btn-lg">Save</button>
          </div>
            <%#= l.submit "Save", class: "btn btn-primary" %>
      <% end %>
    </div>
  </div>
</section>
