<% if @location.profit_split_detail.present? %>

  <% all_splits =  JSON(@location.profit_split_detail) if @location.profit_split_detail.kind_of? String %>
  <% if all_splits["splits"]["ez_merchant"].present? %>
    <% all_splits["splits"]["ez_merchant"].each do|key,value| %>
      <% unless key.length > 2 %>
        <% if value.present? %>
          <div class="row div2"  id="ez_merchant_on">
            <div class="row">
              <div class="col-md-12 div3">
                <div class="col-md-12">
                  <div class="form-group col-md-12">
                    <div class="row">
                      <div class="col-md-4 ui-front">
                        <label class="no-padding cursor_default"><span>Merchant</span></label>
                        <input type="hidden" id="ez_location_id" value="<%= @location.try(:id) %>">
                        <input type="text" class="ez_merchant_remove form-control ez_merchant_function" value="<%= value["ez_merchant_1"].present? ? value["ez_merchant_1"]["name"].present? ? value["ez_merchant_1"]["name"] : '' : ''  %>" id="ez_merchant_<%=key%>" name="profit_splits[splits][ez_merchant][<%= key %>][ez_merchant_1][name]" autocomplete="off"  required="true">
                        <!--<input type="text" class="form-control" value="<%#= ez.last.user.name  %>" id="ez_merchant_<%#=key%>" name="profit_splits[splits][ez_merchant][<%#= key %>][ez_merchant_1][name]" autocomplete="off" onkeyup=for_ez_merchant("ez_merchant_<%#=key%>","<%#= key%>")>-->
                        <input type="hidden" id="ez_merchant_<%=key%>Hidden" value="<%= value["ez_merchant_1"].present? ? value["ez_merchant_1"]["name"].present? ? value["ez_merchant_1"]["name"] : '' : ''  %>" name="profit_splits[splits][ez_merchant][<%= key%>][ez_merchant_1][name]" class="form-control edit-ez-hidden">
                        <input type="hidden" name="key" value="<%= key %>" id="key">
                        <div id=<%= 'ez_merchant_'+key+'_error'%> ></div>
                        <input type="hidden" id="ez_merchant_<%=key%>Hidden" value="<%= value["ez_merchant_1"].present? ? value["ez_merchant_1"]["name"].present? ? value["ez_merchant_1"]["name"] : '' : ''    %>" name="profit_splits[splits][ez_merchant][<%= key%>][ez_merchant_1][name]" class="form-control edit-ez-hidden">
                        <p id="ezspanError<%= key %>" class="div40" ></p>


                      </div>
                      <div class="col-md-4 ui-front" id="ezLocationDiv<%= key %>">
                          <label class="no-padding cursor_default" required="true"><span>Location</span></label>
                          <select id="ezLocationText<%= key %>" class="form-control ezLocationText div42"></select>
                          <div id=<%= 'ezLocationText'+key+'_error'%> ></div>
                      </div>
                     <!-- <div class="col-md-1">
                        <label class="radio-label">
                          <% if value["ez_merchant_1"].present? && (value["ez_merchant_1"].try(:[], "attach").present? && value["ez_merchant_1"]["attach"] == "true" ) %>
                            <input type="checkbox" name="profit_splits[splits][ez_merchant][<%= key %>][ez_merchant_1][attach]" value="true" id="attach_radio" checked >
                          <% else %>
                            <input type="checkbox" name="profit_splits[splits][ez_merchant][<%= key %>][ez_merchant_1][attach]" value="true" id="attach_radio" >
                          <% end %>
                          <span class="checkmark"></span>
                        </label>
                      </div> -->
                    </div>
                  </div>
                </div>
              </div>
             <!-- <div class="col-md-12 div43" >
                  <div class="col-md-4">
                    <div class="row">
                      <div class="col-md-8">
                        <div class="col-md-6 div5" >
                          <p class="div44">% Split </p>
                        </div>
                        <div class="col-md-6 div5">
                          <p class="div44">$ Split </p>
                        </div>
                      </div>
                    </div>
                  </div>
              </div>
              <div class="col-md-12" class="div45">
                  <div class="col-md-4">
                    <div class="row">
                      <div class="col-md-8">
                        <div class="col-md-6 form-group div5">
                          <div>
                          <input type="text" name="profit_splits[splits][ez_merchant][<%= key%>][ez_merchant_1][percent]" id="ez_percent"  class="location_select form-control percent" value="<%= value["ez_merchant_1"].present? ? value["ez_merchant_1"]["percent"].present? ? value["ez_merchant_1"]["percent"] : "" : ""  %>" required="true" placeholder="0"  step="any">
                        </div>
                        <div id="ez_percent_error"></div>
                        </div>
                        <div class="col-md-6 form-group" class="div46">
                          <input type="text" name="profit_splits[splits][ez_merchant][<%= key%>][ez_merchant_1][dollar]" id="ez_dollar" class="location_select form-control two_decimal" value="<%= value["ez_merchant_1"].present? ? value["ez_merchant_1"]["dollar"].present? ? value["ez_merchant_1"]["dollar"] : 0 : 0  %>" step="any">
                        </div>
                      </div>
                    </div>
                  </div>
              </div>-->
            </div>
          </div>
        <% end %>
      <% end %>
    <% end %>
  <% end %>
<% end %>

