<div class="row div2"  id="ez_merchant_on">
  <div class="col-md-12 div47">
    <div class="col-md-12">
      <div class="form-group col-md-12">
        <div class="row">
          <div class="col-md-4 div41">
            <label class="no-padding cursor_default"><span>Merchant</span></label>
            <input type="text" class="ez_merchant_1 form-control" value="" id="ez_merchant_1" name="profit_splits[splits][ez_merchant][0][ez_merchant_1][name]" autocomplete="off" required="true">
            <input type="hidden" id="ez_merchant_1Hidden" value="" name="profit_splits[splits][ez_merchant][0][ez_merchant_1][wallet]" class="form-control" required="true">
            <div id="ez_merchant_1_error" class="ez_merchant_error"></div>
            <p id="ezspanError0"  class="div51"></p>
          </div>
          <div class="col-md-4 div41" id="ezLocationDiv0">
            <label class="no-padding cursor_default"><span>Location</span></label>
            <select id="ezLocationText0" class="form-control ezLocationText" class="div52"></select>
            <div id=<%= 'ezLocationText0_error'%> ></div>
          </div>
          <!--<div class="col-md-1" >
            <label class="radio-label">
                <input type="checkbox" name="profit_splits[share_split]" value="" id="attach_radio" >
              <span class="checkmark"></span>
            </label>
          </div>-->
        </div>
      </div>
    </div>
  </div>
  <!--<div class="col-md-12 div43">
      <div class="col-md-4">
        <div class="row">
          <div class="col-md-8" >
            <div class="col-md-6 div5">
              <p class="div44" >% Split </p>
            </div>
            <div class="col-md-6 div5" >
              <p class="div44">$ Split </p>
            </div>
          </div>
        </div>
      </div>
  </div>
  <div class="col-md-12 div45" >
      <div class="col-md-4">
        <div class="row">
          <div class="col-md-8">
            <div class="col-md-6 form-group div50">
              <div>
              <input type="text" name="profit_splits[splits][ez_merchant][0][ez_merchant_1][percent]" id="ez_percent" class="location_select form-control percent" placeholder="0" required="true" step="any">
            </div>
              <div id="ez_percent_error"></div>
            </div>
            <div class="col-md-6 form-group div46">
              <input type="text" name="profit_splits[splits][ez_merchant][0][ez_merchant_1][dollar]"  id="ez_dollar" class=" location_select form-control two_decimal" value="0" step="any">
            </div>
          </div>
        </div>
      </div>
  </div>-->
</div>