<%= stylesheet_link_tag "admins/locations.css", media: 'all', 'data-turbolinks-track' => 'reload' %>

<% if params[:action] == "edit" %>
  <%= f.simple_fields_for(@fee_source) do |fee| %>
    <%= fee.input :id, as: :hidden %>
    <div class="row">
      <div class="form-group col-md-6">
        <h5 class="no-padding cursor_default">Location Buy Rate</h5>
        <hr>
        <div class="col-md-6 form-group">
          <label class="no-padding cursor_default">Transaction Fee - Mobile App</label>
          <label class="no-padding pull-right cursor_default">$</label>
        </div>
        <div class="col-md-6 form-group">
          <div class="row">
            <div class="col-md-5">
              <div class="row">
                <div class="col-md-12">
                  <%= fee.input :transaction_fee_app_dollar, label: false, input_html: {class: "two_decimal location_select", value: number_with_precision(fee.object.transaction_fee_app_dollar, precision: 2) || 0.00, step: :any} %>
                </div>
              </div>
            </div>
            <div class="col-md-7">
              <div class="row">
                <label class="no-padding cursor_default">%</label>
                <div class="col-md-8">
                  <%= fee.input :transaction_fee_app, label: false, input_html: {class: "percent",  value: number_with_precision(fee.object.transaction_fee_app, precision: 2) || 0.00, step: :any} %>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6 form-group">
          <label class="no-padding cursor_default">Transaction Fee - Debit Card</label>
          <label class="no-padding pull-right cursor_default">$</label>
        </div>
        <div class="col-md-6 form-group">
          <div class="row">
            <div class="col-md-5">
              <div class="row">
                <div class="col-md-12">
                  <%= fee.input :transaction_fee_dcard_dollar, label: false, input_html: {class: "two_decimal location_select",  value: number_with_precision(fee.object.transaction_fee_dcard_dollar, precision: 2) || 0.00, step: :any} %>
                </div>
              </div>
            </div>
            <div class="col-md-7">
              <div class="row">
                <label class="no-padding cursor_default">%</label>
                <div class="col-md-8">
                  <%= fee.input :transaction_fee_dcard, label: false, input_html: {class: "percent location_select",  value: number_with_precision(fee.object.transaction_fee_dcard, precision: 2) || 0.00, step: :any} %>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6 form-group">
          <label class="no-padding cursor_default">Transaction Fee - Credit Card</label>
          <label class="no-padding cursor_default pull-right">$</label>
        </div>
        <div class="col-md-6 form-group">
          <div class="row">
            <div class="col-md-5">
              <div class="row">
                <div class="col-md-12">
                  <%= fee.input :transaction_fee_ccard_dollar, label: false, input_html: {class: "two_decimal location_select", value: number_with_precision(fee.object.transaction_fee_ccard_dollar, precision: 2) || 0.00, step: :any} %>
                </div>
              </div>
            </div>
            <div class="col-md-7">
              <div class="row">
                <label class="no-padding cursor_default">%</label>
                <div class="col-md-8">
                  <%= fee.input :transaction_fee_ccard, label: false, input_html: {class: "percent location_select",  value: number_with_precision(fee.object.transaction_fee_ccard, precision: 2) || 0.00, step: :any} %>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6 form-group">
          <label class="no-padding cursor_default">Invoice - Credit Card</label>
          <label class="no-padding cursor_default pull-right">$</label>
        </div>
        <div class="col-md-6 form-group">
          <div class="row">
            <div class="col-md-5">
              <div class="row">
                <div class="col-md-12">
                  <%= fee.input :invoice_card_fee, label: false, input_html: {class: "two_decimal location_select", value: number_with_precision(fee.object.invoice_card_fee, precision: 2) || 0.00, step: :any} %>
                </div>
              </div>
            </div>
            <div class="col-md-7">
              <div class="row">
                <label class="no-padding cursor_default">%</label>
                <div class="col-md-8">
                  <%= fee.input :invoice_card_fee_perc, label: false, input_html: {class: "percent location_select", value: number_with_precision(fee.object.invoice_card_fee_perc, precision: 2) || 0.00, step: :any} %>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6 form-group">
          <label class="no-padding cursor_default">Invoice - Debit Card</label>
          <label class="no-padding cursor_default pull-right">$</label>
        </div>
        <div class="col-md-6 form-group">
          <div class="row">
            <div class="col-md-5">
              <div class="row">
                <div class="col-md-12">
                  <%= fee.input :invoice_debit_card_fee, label: false, input_html: {class: "two_decimal location_select", value: number_with_precision(fee.object.invoice_debit_card_fee, precision: 2) || 0.00, step: :any} %>
                </div>
              </div>
            </div>
            <div class="col-md-7">
              <div class="row">
                <label class="no-padding cursor_default">%</label>
                <div class="col-md-8">
                  <%= fee.input :invoice_debit_card_fee_perc, label: false, input_html: {class: "percent location_select", value: number_with_precision(fee.object.invoice_debit_card_fee_perc, precision: 2) || 0.00, step: :any} %>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6 form-group">
          <label class="no-padding cursor_default">Invoice - RTP</label>
          <label class="no-padding cursor_default pull-right">$</label>
        </div>
        <div class="col-md-6 form-group">
          <div class="row">
            <div class="col-md-5">
              <div class="row">
                <div class="col-md-12">
                  <%= fee.input :invoice_rtp_fee, label: false, input_html: {class: "two_decimal location_select", value: number_with_precision(fee.object.invoice_rtp_fee, precision: 2) || 0.00, step: :any} %>
                </div>
              </div>
            </div>
            <div class="col-md-7">
              <div class="row">
                <label class="no-padding cursor_default">%</label>
                <div class="col-md-8">
                  <%= fee.input :invoice_rtp_fee_perc, label: false, input_html: {class: "percent location_select", value: number_with_precision(fee.object.invoice_rtp_fee_perc, precision: 2) || 0.00, step: :any} %>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6 form-group">
          <label class="no-padding cursor_default">Invoice - QC</label>
          <label class="no-padding cursor_default pull-right">$</label>
        </div>
        <div class="col-md-6 form-group">
          <div class="row">
            <div class="col-md-5">
              <div class="row">
                <div class="col-md-12">
                  <%= fee.input :b2b_fee_dollar, label: false, input_html: {class: "two_decimal location_select", value: number_with_precision(fee.object.b2b_fee_dollar, precision: 2) || 0.00, step: :any} %>
                </div>
              </div>
            </div>
            <div class="col-md-7">
              <div class="row">
                <label class="no-padding cursor_default">%</label>
                <div class="col-md-8">
                  <%= fee.input :b2b_fee, label: false, input_html: {class: "percent location_select",  value: number_with_precision(fee.object.b2b_fee, precision: 2) || 0.00, step: :any} %>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6 form-group">
          <label class="no-padding cursor_default">RTP</label>
          <label class="no-padding cursor_default pull-right">$</label>
        </div>
        <div class="col-md-6 form-group">
          <div class="row">
            <div class="col-md-5">
              <div class="row">
                <div class="col-md-12">
                  <%= fee.input :rtp_fee, label: false, input_html: {class: "two_decimal location_select", value: number_with_precision(fee.object.rtp_fee, precision: 2) || 0.00, step: :any} %>
                </div>
              </div>
            </div>
            <div class="col-md-7">
              <div class="row">
                <label class="no-padding cursor_default">%</label>
                <div class="col-md-8">
                  <%= fee.input :rtp_fee_perc, label: false, input_html: {class: "percent location_select", value: number_with_precision(fee.object.rtp_fee_perc, precision: 2) || 0.00, step: :any} %>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-6 form-group">
          <label class="no-padding cursor_default">Gift Card Fee</label>
          <label class="no-padding cursor_default pull-right">$</label>
        </div>
        <div class="col-md-6 form-group ">
          <div class="row">
            <div class="col-md-10">
              <%= fee.input :giftcard_fee, label: false, input_html: {class: "two_decimal location_select",  value: number_with_precision(fee.object.giftcard_fee, precision: 2) || 0.00, step: :any} %>
            </div>
          </div>
        </div>
        <div class="col-md-6 form-group">
          <label class="no-padding cursor_default">Send Checks</label>
          <label class="no-padding pull-right cursor_default">$</label>
        </div>
        <div class="col-md-6 form-group">
          <div class="row">
            <div class="col-md-5">
              <div class="row">
                <div class="col-md-12">
                  <%= fee.input :send_check, label: false, input_html: {class: "two_decimal location_select",  value: number_with_precision(fee.object.send_check, precision: 2) || 0.00, step: :any} %>
                </div>
              </div>
            </div>
            <div class="col-md-7">
              <div class="row">
                <label class="no-padding cursor_default">%</label>
                <div class="col-md-8">
                  <%= fee.input :redeem_fee, label: false, input_html: {class: "percent location_select",  value: number_with_precision(fee.object.redeem_fee, precision: 2) || 0.00, step: :any} %>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6 form-group">
          <label class="no-padding cursor_default">Failed Check Fee</label>
          <label class="no-padding pull-right cursor_default">$</label>
        </div>
        <div class="col-md-6 form-group">
          <div class="row">
            <div class="col-md-10">
              <%= fee.input :failed_check_fee, as: :string, label: false, input_html: {class: "two_decimal location_select", value: number_with_precision(fee.object.failed_check_fee, precision: 2) || 0.00, step: :any} %>
            </div>
          </div>
        </div>
        <div class="col-md-6 form-group">
          <label class="no-padding cursor_default">ACH</label>
          <label class="no-padding pull-right cursor_default">$</label>
        </div>
        <div class="col-md-6 form-group">
          <div class="row">
            <div class="col-md-5">
              <div class="row">
                <div class="col-md-12">
                  <%= fee.input :ach_fee_dollar, as: :string ,label: false, input_html: {class: "two_decimal", value: fee.object.ach_fee_dollar || 0, step: :any} %>
                </div>
              </div>
            </div>
            <div class="col-md-7">
              <div class="row">
                <label class="no-padding cursor_default">%</label>
                <div class="col-md-8">
                  <%= fee.input :ach_fee,as: :string, label: false, input_html: {class: "percent", value: fee.object.ach_fee || 0, step: :any} %>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-1">
              <div class="form-check">
                <input type="checkbox" class="form-check-input js-switch primary" name="ach_international" id="ach_international" value="true">
                <input type="hidden" id="ach_international_hidden"  value="<%= @location.ach_international if @location.present? %>">
              </div>
            </div>
            <div class="col-md-6">
              <p class="form-check-label padding-1em" for="ach_international">International</p>
            </div>
          </div>
        </div>
        <div class="col-md-6 form-group">
          <label class="no-padding cursor_default">Failed ACH Fee</label>
          <label class="no-padding pull-right cursor_default">$</label>
        </div>
        <div class="col-md-6 form-group">
          <div class="row">
            <div class="col-md-10">
              <%= fee.input :failed_ach_fee, as: :string, label: false, input_html: {class: "two_decimal location_select", value: number_with_precision(fee.object.failed_ach_fee, precision: 2) || 0.00, step: :any} %>
            </div>
          </div>
        </div>

        <!------------------------Refund Fee-------------------->
        <div class="col-md-6 form-group">
          <label class="no-padding cursor_default">Push to Card Fee</label>
          <label class="no-padding pull-right cursor_default">$</label>
        </div>
        <div class="col-md-6 form-group">
          <div class="row">
            <div class="col-md-5">
              <div class="row">
                <div class="col-md-12">
                  <%= fee.input :dc_deposit_fee_dollar,as: :string, label: false, input_html: {class: "two_decimal location_select",  value: number_with_precision(fee.object.dc_deposit_fee_dollar, precision: 2) || 0.00, step: :any} %>
                </div>
              </div>
            </div>
            <div class="col-md-7">
              <div class="row">
                <label class="no-padding cursor_default">%</label>
                <div class="col-md-8">
                  <%= fee.input :dc_deposit_fee,as: :string, label: false, input_html: {class: "percent location_select",  value: number_with_precision(fee.object.dc_deposit_fee, precision: 2) || 0.00, step: :any} %>
                </div>
              </div>
            </div>
          </div>
        </div>
<!--        <div class="col-md-6 form-group">-->
<!--          <label class="no-padding cursor_default">Failed Push to Card Fee</label>-->
<!--          <label class="no-padding pull-right cursor_default">$</label>-->
<!--        </div>-->
<!--        <div class="col-md-6 form-group">-->
<!--          <div class="row">-->
<!--            <div class="col-md-10">-->
              <%#= fee.input :failed_push_to_card_fee, as: :string, label: false, input_html: {class: "two_decimal location_select", value: number_with_precision(fee.object.failed_push_to_card_fee, precision: 2) || 0.00, step: :any} %>
<!--            </div>-->
<!--          </div>-->
<!--        </div>-->
        <!------------------------Refund Fee End-------------------->
        <div class="col-md-6 form-group">
          <label class="no-padding cursor_default">Add Money By Check</label>
          <label class="no-padding pull-right cursor_default">$</label>
        </div>
        <div class="col-md-6 form-group ">
          <div class="row">
            <div class="col-md-5 form-group">
              <div class="row">
                <div class="col-md-12">
                  <%= fee.input :add_money_check, label: false, input_html: {class: "two_decimal location_select",  value: number_with_precision(fee.object.add_money_check, precision: 2) || 0.00, step: :any} %>
                </div>
              </div>
            </div>
            <div class="col-md-7">
              <div class="row">
                <label class="no-padding cursor_default">%</label>
                <div class="col-md-8">
                  <%= fee.input :redeem_check, label: false, input_html: {class: "percent location_select",  value: number_with_precision(fee.object.redeem_check, precision: 2) || 0.00, step: :any} %>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-6 form-group">
          <label class="no-padding cursor_default">Reserve Money</label>
          <label class="no-padding cursor_default pull-right">%</label>
        </div>
        <div class="col-md-6 form-group">
          <div class="row">
            <div class="col-md-5">
              <div class="row">
                <div class="col-md-12">
                  <%= fee.input :reserve_fee,as: :string, label: false, input_html: {class: "percent location_select",  value: number_with_precision(fee.object.reserve_fee, precision: 2) || 0.00, step: :any} %>
                </div>
              </div>
            </div>
            <div class="col-md-7">
              <div class="row">
                <label class="no-padding cursor_default">days</label>
                <div class="col-md-8">
                  <%= fee.input :days,as: :string, label: false, input_html: {class: "whole_number", value: fee.object.days || 0, step: :any} %>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-6 form-group">
          <label class="no-padding cursor_default">Chargeback Fee</label>
          <label class="no-padding pull-right cursor_default">$</label>
        </div>
        <div class="col-md-6 form-group">
          <div class="row">
            <div class="col-md-10">
              <%= fee.input :charge_back_fee,as: :string, label: false, input_html: {class: "two_decimal location_select",  value: number_with_precision(fee.object.charge_back_fee, precision: 2) || 0.00, step: :any} %>
            </div>
          </div>
        </div>

        <div class="col-md-6 form-group">
          <label class="no-padding cursor_default">Retrieval Fee</label>
          <label class="no-padding cursor_default pull-right">$</label>
        </div>
        <div class="col-md-6 form-group">
          <div class="row">
            <div class="col-md-10">
              <%= fee.input :retrievel_fee,as: :string, label: false, input_html: {class: "two_decimal location_select",  value: number_with_precision(fee.object.retrievel_fee, precision: 2) || 0.00, step: :any} %>
            </div>
          </div>
        </div>

        <!------------------------Refund Fee-------------------->
        <div class="col-md-6 form-group">
          <label class="no-padding cursor_default">Refund Fee</label>
          <label class="no-padding pull-right cursor_default">$</label>
        </div>
        <div class="col-md-6 form-group">
          <div class="row">
            <div class="col-md-10">
              <%= fee.input :refund_fee,as: :string, label: false, input_html: {class: "two_decimal location_select",  value: number_with_precision(fee.object.refund_fee, precision: 2) || 0.00, step: :any} %>
            </div>
          </div>
        </div>

        <!------------------------Tracking Fee-------------------->
        <div class="col-md-6 form-group">
          <label class="no-padding cursor_default">Tracking Fee</label>
          <label class="no-padding pull-right cursor_default">$</label>
        </div>
        <div class="col-md-6 form-group">
          <div class="row">
            <div class="col-md-10">
              <%= fee.input :tracking_fee,as: :string, label: false, input_html: {class: "two_decimal location_select",  value: number_with_precision(fee.object.tracking_fee, precision: 2) || 0.00, step: :any} %>
            </div>
          </div>
        </div>

        <!------------------------Generate Label Fee-------------------->
        <div class="col-md-6 form-group">
          <label class="no-padding cursor_default">Generate Label Fee</label>
          <label class="no-padding pull-right cursor_default">$</label>
        </div>
        <div class="col-md-6 form-group">
          <div class="row">
            <div class="col-md-10">
              <%= fee.input :generate_label_fee,as: :string, label: false, input_html: {class: "two_decimal location_select",  value: number_with_precision(fee.object.generate_label_fee, precision: 2) || 0.00, step: :any} %>
            </div>
          </div>
        </div>
<!--        <div class="col-md-6 form-group">-->
<!--          <label class="no-padding cursor_default">Load Wallet Credit Fee</label>-->
<!--          <label class="no-padding pull-right cursor_default">$</label>-->
<!--        </div>-->
<!--        <div class="col-md-6 form-group">-->
<!--          <div class="row">-->
<!--            <div class="col-md-5">-->
<!--              <div class="row">-->
<!--                <div class="col-md-12">-->
                  <%#= fee.input :load_fee_credit, label: false, input_html: {class: "buyrate_fields two_decimal", :onclick => 'this.select();', value: number_with_precision(fee.object.load_fee_credit, precision: 2) || 0.00, step: :any} %>
<!--                </div>-->
<!--              </div>-->
<!--            </div>-->
<!--            <div class="col-md-7">-->
<!--              <div class="row">-->
<!--                <label class="no-padding cursor_default">%</label>-->
<!--                <div class="col-md-8">-->
                  <%#= fee.input :load_fee_percent_credit, label: false, input_html: {class: "buyrate_fields two_decimal", :onclick => 'this.select();', value: number_with_precision(fee.object.load_fee_percent_credit, precision: 2) || 0.00, step: :any} %>
<!--                </div>-->
<!--              </div>-->
<!--            </div>-->
<!--          </div>-->
<!--        </div>-->

<!--        <div class="col-md-6 form-group">-->
<!--          <label class="no-padding cursor_default">Load Wallet Debit Fee</label>-->
<!--          <label class="no-padding pull-right cursor_default">$</label>-->
<!--        </div>-->
<!--        <div class="col-md-6 form-group">-->
<!--          <div class="row">-->
<!--            <div class="col-md-5">-->
<!--              <div class="row">-->
<!--                <div class="col-md-12">-->
                  <%#= fee.input :load_fee_debit, label: false, input_html: {class: "buyrate_fields two_decimal", :onclick => 'this.select();', value: number_with_precision(fee.object.load_fee_debit, precision: 2) || 0.00, step: :any} %>
<!--                </div>-->
<!--              </div>-->
<!--            </div>-->
<!--            <div class="col-md-7">-->
<!--              <div class="row">-->
<!--                <label class="no-padding cursor_default">%</label>-->
<!--                <div class="col-md-8">-->
                  <%#= fee.input :load_fee_percent_debit, label: false, input_html: {class: "buyrate_fields two_decimal", :onclick => 'this.select();', value: number_with_precision(fee.object.load_fee_percent_debit, precision: 2) || 0.00, step: :any} %>
<!--                </div>-->
<!--              </div>-->
<!--            </div>-->
<!--          </div>-->
<!--        </div>-->

<!--        <div class="col-md-6 form-group">-->
<!--          <label class="no-padding cursor_default">PIN Debit Refund Fee</label>-->
<!--          <label class="no-padding pull-right cursor_default">$</label>-->
<!--        </div>-->
<!--        <div class="col-md-6 form-group">-->
<!--          <div class="row">-->
<!--            <div class="col-md-5">-->
<!--              <div class="row">-->
<!--                <div class="col-md-12">-->
                  <%#= fee.input :qr_refund, label: false, input_html: {class: "buyrate_fields two_decimal", :onclick => 'this.select();', value: number_with_precision(fee.object.qr_refund, precision: 2) || 0.00, step: :any} %>
<!--                </div>-->
<!--              </div>-->
<!--            </div>-->
<!--            <div class="col-md-7">-->
<!--              <div class="row">-->
<!--                <label class="no-padding cursor_default">%</label>-->
<!--                <div class="col-md-8">-->
                  <%#= fee.input :qr_refund_percentage, label: false, input_html: {class: "buyrate_fields two_decimal", :onclick => 'this.select();', value: number_with_precision(fee.object.qr_refund_percentage, precision: 2) || 0.00, step: :any} %>
<!--                </div>-->
<!--              </div>-->
<!--            </div>-->
<!--          </div>-->
<!--        </div>-->

<!--        <div class="col-md-6 form-group">-->
<!--          <label class="no-padding cursor_default">Debit Unredeem Fee</label>-->
<!--          <label class="no-padding pull-right cursor_default">$</label>-->
<!--        </div>-->
<!--        <div class="col-md-6 form-group">-->
<!--          <div class="row">-->
<!--            <div class="col-md-5">-->
<!--              <div class="row">-->
<!--                <div class="col-md-12">-->
                  <%#= fee.input :debit_unredeemed_fee, as: :string, label: false, input_html: {class: "two_decimal", :onclick => 'this.select();', value: number_with_precision(fee.object.debit_unredeemed_fee, precision: 2) || 0.00, step: :any} %>
<!--                </div>-->
<!--              </div>-->
<!--            </div>-->
<!--            <div class="col-md-7">-->
<!--              <div class="row">-->
<!--                <label class="no-padding cursor_default">%</label>-->
<!--                <div class="col-md-8">-->
                  <%#= fee.input :debit_unredeemed_perc_fee, as: :string, label: false, input_html: {class: "two_decimal", :onclick => 'this.select();', value: number_with_precision(fee.object.debit_unredeemed_perc_fee, precision: 2) || 0.00, step: :any} %>
<!--                </div>-->
<!--              </div>-->
<!--            </div>-->
<!--          </div>-->
<!--        </div>-->
<!--        <div class="col-md-6 form-group">-->
<!--          <label class="no-padding cursor_default">Credit Unredeem Fee</label>-->
<!--          <label class="no-padding pull-right cursor_default">$</label>-->
<!--        </div>-->
<!--        <div class="col-md-6 form-group">-->
<!--          <div class="row">-->
<!--            <div class="col-md-5">-->
<!--              <div class="row">-->
<!--                <div class="col-md-12">-->
                  <%#= fee.input :credit_unredeemed_fee, as: :string, label: false, input_html: {class: "two_decimal", :onclick => 'this.select();', value: number_with_precision(fee.object.credit_unredeemed_fee, precision: 2) || 0.00, step: :any} %>
<!--                </div>-->
<!--              </div>-->
<!--            </div>-->
<!--            <div class="col-md-7">-->
<!--              <div class="row">-->
<!--                <label class="no-padding cursor_default">%</label>-->
<!--                <div class="col-md-8">-->
                  <%#= fee.input :credit_unredeemed_perc_fee, as: :string, label: false, input_html: {class: "two_decimal", :onclick => 'this.select();', value: number_with_precision(fee.object.credit_unredeemed_perc_fee, precision: 2) || 0.00, step: :any} %>
<!--                </div>-->
<!--              </div>-->
<!--            </div>-->
<!--          </div>-->
<!--        </div>-->


      </div>
      <div class="form-group col-md-6">
        <hr class="div53">
        <div class="col-md-6 form-group">
          <label class="no-padding cursor_default">Monthly Fee</label>
          <label class="no-padding pull-right cursor_default">$</label>
        </div>
        <div class="col-md-6 form-group">
          <div class="row">
            <div class="col-md-5">
              <div class="row">
                <div class="col-md-12">
                  <%= fee.input :service,as: :string, label: false, input_html: {class: "two_decimal location_select",  value: number_with_precision(fee.object.service, precision: 2) || 0.00, step: :any, min: 0} %>
                </div>
              </div>
            </div>
            <div class="col-md-7">
              <% value = fee.object.service_date.present? ? fee.object.service_date.strftime('%m/%d/%Y') : "" %>
              <%= fee.input :service_date, as: :string, label: false, input_html: {class: "form-control location_fee_datepicker", value: value, autocomplete: "off"} %>
            </div>
          </div>
        </div>
        <div class="col-md-6 form-group">
          <label class="no-padding cursor_default">Monthly Subscription Fee</label>
          <label class="no-padding pull-right cursor_default">$</label>
        </div>
        <div class="col-md-6 form-group">
          <div class="row">
            <div class="col-md-5">
              <div class="row">
                <div class="col-md-12">
                  <%= fee.input :statement,as: :string, label: false, input_html: {class: "two_decimal location_select",  value: number_with_precision(fee.object.statement, precision: 2) || 0, step: :any, min: 0} %>
                </div>
              </div>
            </div>
            <div class="col-md-7">
              <% value = fee.object.statement_date.present? ? fee.object.statement_date.strftime('%m/%d/%Y') : "" %>
              <%= fee.input :statement_date, as: :string, label: false, input_html: {class: "form-control location_fee_datepicker", value: value, autocomplete: "off"} %>
            </div>
          </div>
        </div>
        <div class="col-md-6 form-group">
          <label class="no-padding cursor_default">Monthly Miscellaneous Fee</label>
          <label class="no-padding pull-right cursor_default">$</label>
        </div>
        <div class="col-md-6 form-group">
          <div class="row">
            <div class="col-md-5">
              <div class="row">
                <div class="col-md-12">
                  <%= fee.input :misc,as: :string, label: false, input_html: {class: "two_decimal location_select",  value: number_with_precision(fee.object.misc, precision: 2) || 0, step: :any, min: 0} %>
                </div>
              </div>
            </div>
            <div class="col-md-7">
              <% value = fee.object.misc_date.present? ? fee.object.misc_date.strftime('%m/%d/%Y') : "" %>
              <%= fee.input :misc_date, as: :string, label: false, input_html: {class: "form-control location_fee_datepicker", value: value, autocomplete: "off"} %>
            </div>
          </div>
        </div>


      </div>
      <!--end Merchant fee sections-->
    </div>
  <% end %>
<% else %>
  <!----------------------------------------------ADD NEW LOCATION STARTS--------------------------------------->


  <div class="row">
    <div class="form-group  col-md-6">
      <h5 class="no-padding cursor_default">Merchant Buy Rate</h5>
      <hr>
      <!----------------------------------LEFT MAIN FEE TABS ----------------------------------------------->
      <!---------------CUSTOMER FEE TAB--------------->
<!--      <div class="col-md-6 form-group div15">-->
<!--        <label class="no-padding cursor_default">Receiving From Customer Fee</label>-->
<!--        <label class="no-padding cursor_default pull-right">$</label>-->
<!--      </div>-->
      <%#= fee.hidden_field :fee_status, id: "customer_fee_new", value: 1 %>
<!--      <div class="col-md-6 form-group div15">-->
<!--        <div class="row">-->
<!--          <div class="col-md-5">-->
<!--            <div class="row">-->
<!--              <div class="col-md-12">-->
                <%# fee.input :customer_fee_dollar, label: false, input_html: {class: "buyrate_fields two_decimal location_select",  value: 0.00, step: :any} %>
<!--              </div>-->
<!--            </div>-->
<!--          </div>-->
<!--          <div class="col-md-7">-->
<!--            <div class="row">-->
<!--              <label class="no-padding cursor_default">%</label>-->
<!--              <div class="col-md-8">-->
                <%# fee.input :customer_fee, label: false, input_html: {class: "buyrate_fields percent location_select",  value: 0.00, step: :any} %>
<!--              </div>-->
<!--            </div>-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->
      <!---------------TRANSACTION FEE Mobile TAB--------------->
      <div class="col-md-6 form-group">
        <label class="no-padding cursor_default">Transaction Fee - Mobile App</label>
        <label class="no-padding pull-right cursor_default">$</label>
      </div>
      <div class="col-md-6 form-group">
        <div class="row">
          <div class="col-md-5">
            <div class="row">
              <div class="col-md-12">
                <%= fee.input :transaction_fee_app_dollar, label: false, input_html: {class: "two_decimal location_select", value: 0.00, step: :any} %>
              </div>
            </div>
          </div>
          <div class="col-md-7">
            <div class="row">
              <label class="no-padding cursor_default">%</label>
              <div class="col-md-8">
                <%= fee.input :transaction_fee_app, label: false, input_html: {class: "percent location_select",  value: 0.00, step: :any} %>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!---------------TRANSACTION FEE DEBIT CARD TAB--------------->
      <div class="col-md-6 form-group">
        <label class="no-padding cursor_default">Transaction Fee - Debit Card</label>
        <label class="no-padding pull-right cursor_default">$</label>
      </div>
      <div class="col-md-6 form-group">
        <div class="row">
          <div class="col-md-5">
            <div class="row">
              <div class="col-md-12">
                <%= fee.input :transaction_fee_dcard_dollar, label: false, input_html: {class: "two_decimal location_select",  value: 0.00, step: :any} %>
              </div>
            </div>
          </div>
          <div class="col-md-7">
            <div class="row">
              <label class="no-padding cursor_default">%</label>
              <div class="col-md-8">
                <%= fee.input :transaction_fee_dcard, label: false, input_html: {class: "percent location_select",  value: 0.00, step: :any} %>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!---------------TRANSACTION FEE CREDIT CARD TAB--------------->
      <div class="col-md-6 form-group">
        <label class="no-padding cursor_default">Transaction Fee - Credit Card</label>
        <label class="no-padding pull-right cursor_default ">$</label>
      </div>
      <div class="col-md-6 form-group">
        <div class="row">
          <div class="col-md-5">
            <div class="row">
              <div class="col-md-12">
                <%= fee.input :transaction_fee_ccard_dollar, label: false, input_html: {class: "two_decimal location_select", value: 0.00, step: :any} %>
              </div>
            </div>
          </div>
          <div class="col-md-7">
            <div class="row">
              <label class="no-padding cursor_default">%</label>
              <div class="col-md-8">
                <%= fee.input :transaction_fee_ccard, label: false, input_html: {class: "percent  location_select", value: 0.00, step: :any} %>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-6 form-group">
        <label class="no-padding cursor_default">Invoice - Credit Card</label>
        <label class="no-padding pull-right cursor_default ">$</label>
      </div>
      <div class="col-md-6 form-group">
        <div class="row">
          <div class="col-md-5">
            <div class="row">
              <div class="col-md-12">
                <%= fee.input :invoice_card_fee, label: false, input_html: {class: "two_decimal location_select", value: 0.00, step: :any} %>
              </div>
            </div>
          </div>
          <div class="col-md-7">
            <div class="row">
              <label class="no-padding cursor_default">%</label>
              <div class="col-md-8">
                <%= fee.input :invoice_card_fee_perc, label: false, input_html: {class: "percent  location_select", value: 0.00, step: :any} %>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-6 form-group">
        <label class="no-padding cursor_default">Invoice - Debit Card</label>
        <label class="no-padding pull-right cursor_default ">$</label>
      </div>
      <div class="col-md-6 form-group">
        <div class="row">
          <div class="col-md-5">
            <div class="row">
              <div class="col-md-12">
                <%= fee.input :invoice_debit_card_fee, label: false, input_html: {class: "two_decimal location_select", value: 0.00, step: :any} %>
              </div>
            </div>
          </div>
          <div class="col-md-7">
            <div class="row">
              <label class="no-padding cursor_default">%</label>
              <div class="col-md-8">
                <%= fee.input :invoice_debit_card_fee_perc, label: false, input_html: {class: "percent  location_select", value: 0.00, step: :any} %>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-6 form-group">
        <label class="no-padding cursor_default">Invoice - RTP</label>
        <label class="no-padding pull-right cursor_default ">$</label>
      </div>
      <div class="col-md-6 form-group">
        <div class="row">
          <div class="col-md-5">
            <div class="row">
              <div class="col-md-12">
                <%= fee.input :invoice_rtp_fee, label: false, input_html: {class: "two_decimal location_select", value: 0.00, step: :any} %>
              </div>
            </div>
          </div>
          <div class="col-md-7">
            <div class="row">
              <label class="no-padding cursor_default">%</label>
              <div class="col-md-8">
                <%= fee.input :invoice_rtp_fee_perc, label: false, input_html: {class: "percent  location_select", value: 0.00, step: :any} %>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!---------------B2B FEE TAB--------------->
      <div class="col-md-6 form-group">
        <label class="no-padding cursor_default">Invoice - QC </label>
        <label class="no-padding pull-right cursor_default ">$</label>
      </div>
      <div class="col-md-6 form-group">
        <div class="row">
          <div class="col-md-5">
            <div class="row">
              <div class="col-md-12">
                <%= fee.input :b2b_fee_dollar, label: false, input_html: {class: "two_decimal location_select", value: 0.00, step: :any} %>
              </div>
            </div>
          </div>
          <div class="col-md-7">
            <div class="row">
              <label class="no-padding cursor_default">%</label>
              <div class="col-md-8">
                <%= fee.input :b2b_fee, label: false, input_html: {class: "percent  location_select", value: 0.00, step: :any} %>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-6 form-group">
        <label class="no-padding cursor_default">RTP</label>
        <label class="no-padding pull-right cursor_default ">$</label>
      </div>
      <div class="col-md-6 form-group">
        <div class="row">
          <div class="col-md-5">
            <div class="row">
              <div class="col-md-12">
                <%= fee.input :rtp_fee, label: false, input_html: {class: "two_decimal location_select", value: 0.00, step: :any} %>
              </div>
            </div>
          </div>
          <div class="col-md-7">
            <div class="row">
              <label class="no-padding cursor_default">%</label>
              <div class="col-md-8">
                <%= fee.input :rtp_fee_perc, label: false, input_html: {class: "percent  location_select", value: 0.00, step: :any} %>
              </div>
            </div>
          </div>
        </div>
      </div>


      <!---------------GIFT CARD FEE TAB--------------->
      <div class="col-md-6 form-group">
        <label class="no-padding cursor_default">Gift Card Fee</label>
        <label class="no-padding pull-right cursor_default">$</label>
      </div>
      <div class="col-md-6 form-group ">
        <div class="row">
          <div class="col-md-10">
            <%= fee.input :giftcard_fee, label: false, input_html: {class: "two_decimal  location_select", value: 0.00, step: :any} %>
          </div>
        </div>
      </div>
      <!---------------SEND CHECKS TAB--------------->
      <div class="col-md-6 form-group">
        <label class="no-padding cursor_default">Send Checks</label>
        <label class="no-padding pull-right cursor_default">$</label>
      </div>
      <div class="col-md-6 form-group">
        <div class="row">
          <div class="col-md-5">
            <div class="row">
              <div class="col-md-12">
                <%= fee.input :send_check, label: false, input_html: {class: "two_decimal  location_select", value: 0.00, step: :any} %>
              </div>
            </div>
          </div>
          <div class="col-md-7">
            <div class="row">
              <label class="no-padding cursor_default">%</label>
              <div class="col-md-8">
                <%= fee.input :redeem_fee, label: false, input_html: {class: "percent  location_select", value: 0.00, step: :any} %>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6 form-group">
        <label class="no-padding cursor_default">Failed Check Fee</label>
        <label class="no-padding pull-right cursor_default">$</label>
      </div>
      <div class="col-md-6 form-group">
        <div class="row">
          <div class="col-md-10">
            <%= fee.input :failed_check_fee, as: :string, label: false, input_html: {class: "two_decimal location_select", value: 0.00, step: :any} %>
          </div>
        </div>
      </div>

      <!---------------ACH TAB--------------->
      <div class="col-md-6 form-group">
        <label class="no-padding cursor_default">ACH</label>
        <label class="no-padding pull-right cursor_default">$</label>
      </div>
      <div class="col-md-6 form-group">
        <div class="row">
          <div class="col-md-5">
            <div class="row">
              <div class="col-md-12">
                <%= fee.input :ach_fee_dollar,as: :string,label: false, input_html: {class: "two_decimal", value: 0.00, step: :any} %>
              </div>
            </div>
          </div>
          <div class="col-md-7">
            <div class="row">
              <label class="no-padding cursor_default">%</label>
              <div class="col-md-8">
                <%= fee.input :ach_fee,as: :string, label: false, input_html: {class: "percent", value: 0, step: :any} %>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-1">
            <div class="form-check">
              <input type="checkbox" class="form-check-input js-switch primary" name="ach_international" id="ach_international" value="true">
            </div>
          </div>
          <div class="col-md-6">
            <p class="form-check-label padding-1em" for="ach_international">International</p>
          </div>
        </div>
      </div>
      <div class="col-md-6 form-group">
        <label class="no-padding cursor_default">Failed ACH Fee</label>
        <label class="no-padding pull-right cursor_default">$</label>
      </div>
      <div class="col-md-6 form-group">
        <div class="row">
          <div class="col-md-10">
            <%= fee.input :failed_ach_fee, as: :string, label: false, input_html: {class: "two_decimal location_select", value: 0.00, step: :any} %>
          </div>
        </div>
      </div>

      <!---------------ADD MONEY BY CHECK TAB--------------->
      <div class="col-md-6 form-group">
        <label class="no-padding cursor_default">Add Money By Check</label>
        <label class="no-padding pull-right cursor_default">$</label>
      </div>
      <div class="col-md-6 form-group ">
        <div class="row">
          <div class="col-md-5 form-group">
            <div class="row">
              <div class="col-md-12">
                <%= fee.input :add_money_check, label: false, input_html: {class: "two_decimal  location_select", value: 0.00, step: :any} %>
              </div>
            </div>
          </div>
          <div class="col-md-7">
            <div class="row">
              <label class="no-padding cursor_default">%</label>
              <div class="col-md-8">
                <%= fee.input :redeem_check, label: false, input_html: {class: "percent  location_select", value: 0.00, step: :any} %>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!---------------Debit Card Deposit--------------->
      <div class="col-md-6 form-group">
        <label class="no-padding cursor_default">Push to Card Fee</label>
        <label class="no-padding pull-right cursor_default">$</label>
      </div>
      <div class="col-md-6 form-group">
        <div class="row">
          <div class="col-md-5">
            <div class="row">
              <div class="col-md-12">
                <%= fee.input :dc_deposit_fee_dollar,as: :string, label: false, input_html: {class: "two_decimal", value: 0, step: :any} %>
              </div>
            </div>
          </div>
          <div class="col-md-7">
            <div class="row">
              <label class="no-padding cursor_default">%</label>
              <div class="col-md-8">
                <%= fee.input :dc_deposit_fee,as: :string, label: false, input_html: {class: "percent", value: 0, step: :any} %>
              </div>
            </div>
          </div>
        </div>
      </div>


      <!---------------RESERVE MONEY TAB--------------->
      <div class="col-md-6 form-group">
        <label class="no-padding cursor_default">Reserve Money</label>
        <label class="no-padding pull-right cursor_default">%</label>
      </div>
      <div class="col-md-6 form-group">
        <div class="row">
          <div class="col-md-5">
            <div class="row">
              <div class="col-md-12">
                <%= fee.input :reserve_fee,as: :string, label: false, input_html: {class: "two_decimal  location_select", value: 0.00, step: :any} %>
              </div>
            </div>
          </div>
          <div class="col-md-7">
            <div class="row">
              <label class="no-padding cursor_default">days</label>
              <div class="col-md-8">
                <%= fee.input :days,as: :string, label: false, input_html: {class: "whole_number  location_select", value: 0} %>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-6 form-group">
        <label class="no-padding cursor_default">Chargeback Fee</label>
        <label class="no-padding pull-right cursor_default">$</label>
      </div>
      <div class="col-md-6 form-group">
        <div class="row">
          <div class="col-md-10">
            <%= fee.input :charge_back_fee,as: :string, label: false, input_html: {class: "two_decimal  location_select", value: 0.00, step: :any} %>
          </div>
        </div>
      </div>

      <div class="col-md-6 form-group">
        <label class="no-padding cursor_default">Retrieval Fee</label>
        <label class="no-padding pull-right cursor_default">$</label>
      </div>
      <div class="col-md-6 form-group">
        <div class="row">
          <div class="col-md-10">
            <%= fee.input :retrievel_fee,as: :string, label: false, input_html: {class: "two_decimal  location_select", value: 0.00, step: :any} %>
          </div>
        </div>
      </div>

      <!------------------------Refund Fee-------------------->
      <div class="col-md-6 form-group">
        <label class="no-padding cursor_default">Refund Fee</label>
        <label class="no-padding pull-right cursor_default">$</label>
      </div>
      <div class="col-md-6 form-group">
        <div class="row">
          <div class="col-md-10">
            <%= fee.input :refund_fee,as: :string, label: false, input_html: {class: "two_decimal  location_select", value: 0.00, step: :any} %>
          </div>
        </div>
      </div>
      <div class="col-md-6 form-group">
        <label class="no-padding cursor_default">Tracking Fee</label>
        <label class="no-padding pull-right cursor_default">$</label>
      </div>
      <div class="col-md-6 form-group">
        <div class="row">
          <div class="col-md-10">
            <%= fee.input :tracking_fee, as: :string, label: false, input_html: {class: "two_decimal  location_select", value: 0.00, step: :any} %>
          </div>
        </div>
      </div>
      <div class="col-md-6 form-group">
        <label class="no-padding cursor_default">Generate Label Fee</label>
        <label class="no-padding pull-right cursor_default">$</label>
      </div>
      <div class="col-md-6 form-group">
        <div class="row">
          <div class="col-md-10">
            <%= fee.input :generate_label_fee, as: :string, label: false, input_html: {class: "two_decimal  location_select", value: 0.00, step: :any} %>
          </div>
        </div>
      </div>


<!--      <div class="col-md-6 form-group">-->
<!--        <label class="no-padding cursor_default">Load Wallet Credit Fee</label>-->
<!--        <label class="no-padding pull-right cursor_default">$</label>-->
<!--      </div>-->
<!--      <div class="col-md-6 form-group">-->
<!--        <div class="row">-->
<!--          <div class="col-md-5">-->
<!--            <div class="row">-->
<!--              <div class="col-md-12">-->
                <%#= fee.input :load_fee_credit, label: false, input_html: {class: "buyrate_fields two_decimal", value: 0, step: :any} %>
<!--              </div>-->
<!--            </div>-->
<!--          </div>-->
<!--          <div class="col-md-7">-->
<!--            <div class="row">-->
<!--              <label class="no-padding cursor_default">%</label>-->
<!--              <div class="col-md-8">-->
                <%#= fee.input :load_fee_percent_credit, label: false, input_html: {class: "buyrate_fields percent", value: 0, step: :any} %>
<!--              </div>-->
<!--            </div>-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->


<!--      <div class="col-md-6 form-group">-->
<!--        <label class="no-padding cursor_default">Load Wallet Debit Fee</label>-->
<!--        <label class="no-padding pull-right cursor_default">$</label>-->
<!--      </div>-->
<!--      <div class="col-md-6 form-group">-->
<!--        <div class="row">-->
<!--          <div class="col-md-5">-->
<!--            <div class="row">-->
<!--              <div class="col-md-12">-->
                <%#= fee.input :load_fee_debit, label: false, input_html: {class: "buyrate_fields two_decimal", value: 0, step: :any} %>
<!--              </div>-->
<!--            </div>-->
<!--          </div>-->
<!--          <div class="col-md-7">-->
<!--            <div class="row">-->
<!--              <label class="no-padding cursor_default">%</label>-->
<!--              <div class="col-md-8">-->
                <%#= fee.input :load_fee_percent_debit, label: false, input_html: {class: "buyrate_fields percent", value: 0, step: :any} %>
<!--              </div>-->
<!--            </div>-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->



<!--      <div class="col-md-6 form-group">-->
<!--        <label class="no-padding cursor_default">PIN Debit Refund Fee</label>-->
<!--        <label class="no-padding pull-right cursor_default">$</label>-->
<!--      </div>-->
<!--      <div class="col-md-6 form-group">-->
<!--        <div class="row">-->
<!--          <div class="col-md-5">-->
<!--            <div class="row">-->
<!--              <div class="col-md-12">-->
                <%#= fee.input :qr_refund, label: false, input_html: {class: "buyrate_fields two_decimal", value: 0, step: :any} %>
<!--              </div>-->
<!--            </div>-->
<!--          </div>-->
<!--          <div class="col-md-7">-->
<!--            <div class="row">-->
<!--              <label class="no-padding cursor_default">%</label>-->
<!--              <div class="col-md-8">-->
                <%#= fee.input :qr_refund_percentage, label: false, input_html: {class: "buyrate_fields percent", value: 0, step: :any} %>
<!--              </div>-->
<!--            </div>-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->

<!--      <div class="col-md-6 form-group">-->
<!--        <label class="no-padding cursor_default">Debit Unredeem Fee</label>-->
<!--        <label class="no-padding pull-right cursor_default">$</label>-->
<!--      </div>-->
<!--      <div class="col-md-6 form-group">-->
<!--        <div class="row">-->
<!--          <div class="col-md-5">-->
<!--            <div class="row">-->
<!--              <div class="col-md-12">-->
                <%#= fee.input :debit_unredeemed_fee, as: :string, label: false, input_html: {class: "two_decimal", :onclick => 'this.select();', value: 0.00, step: :any} %>
<!--              </div>-->
<!--            </div>-->
<!--          </div>-->
<!--          <div class="col-md-7">-->
<!--            <div class="row">-->
<!--              <label class="no-padding cursor_default">%</label>-->
<!--              <div class="col-md-8">-->
                <%#= fee.input :debit_unredeemed_perc_fee, as: :string, label: false, input_html: {class: "two_decimal", :onclick => 'this.select();', value: 0.00, step: :any} %>
<!--              </div>-->
<!--            </div>-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->

<!--      <div class="col-md-6 form-group">-->
<!--        <label class="no-padding cursor_default">Credit Unredeem Fee</label>-->
<!--        <label class="no-padding pull-right cursor_default">$</label>-->
<!--      </div>-->
<!--      <div class="col-md-6 form-group">-->
<!--        <div class="row">-->
<!--          <div class="col-md-5">-->
<!--            <div class="row">-->
<!--              <div class="col-md-12">-->
                <%#= fee.input :credit_unredeemed_fee, as: :string, label: false, input_html: {class: "two_decimal", :onclick => 'this.select();', value: 0.00, step: :any} %>
<!--              </div>-->
<!--            </div>-->
<!--          </div>-->
<!--          <div class="col-md-7">-->
<!--            <div class="row">-->
<!--              <label class="no-padding cursor_default">%</label>-->
<!--              <div class="col-md-8">-->
                <%#= fee.input :credit_unredeemed_fee, as: :string, label: false, input_html: {class: "two_decimal", :onclick => 'this.select();', value: 0.00, step: :any} %>
<!--              </div>-->
<!--            </div>-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->
    </div>
    <div class="form-group col-md-6">
      <hr class="div53">
      <div class="col-md-6 form-group">
        <label class="no-padding cursor_default">Monthly Fee</label>
        <label class="no-padding pull-right cursor_default">$</label>
      </div>
      <div class="col-md-6 form-group">
        <div class="row">
          <div class="col-md-5">
            <div class="row">
              <div class="col-md-12">
                <%= fee.input :service,as: :string, label: false, input_html: {class: "two_decimal  location_select", value: 0.00, step: :any} %>
              </div>
            </div>
          </div>
          <div class="col-md-7">
            <% value = fee.object.service_date.present? ? fee.object.service_date.strftime('%m/%d/%Y') : "" %>
            <%= fee.input :service_date, as: :string, label: false, input_html: {class: "form-control location_fee_datepicker", value: value, autocomplete: "off"} %>
          </div>
        </div>
      </div>
      <div class="col-md-6 form-group">
        <label class="no-padding cursor_default">Monthly Subscription Fee</label>
        <label class="no-padding pull-right cursor_default">$</label>
      </div>
      <div class="col-md-6 form-group">
        <div class="row">
          <div class="col-md-5">
            <div class="row">
              <div class="col-md-12">
                <%= fee.input :statement,as: :string, label: false, input_html: {class: "two_decimal  location_select", value: 0.00, step: :any} %>
              </div>
            </div>
          </div>
          <div class="col-md-7">
            <% value = fee.object.statement_date.present? ? fee.object.statement_date.strftime('%m/%d/%Y') : "" %>
            <%= fee.input :statement_date, as: :string, label: false, input_html: {class: "form-control location_fee_datepicker", value: value, autocomplete: "off"} %>
          </div>
        </div>
      </div>
      <div class="col-md-6 form-group">
        <label class="no-padding cursor_default">Monthly Miscellaneous Fee</label>
        <label class="no-padding pull-right cursor_default">$</label>
      </div>
      <div class="col-md-6 form-group">
        <div class="row">
          <div class="col-md-5">
            <div class="row">
              <div class="col-md-12">
                <%= fee.input :misc, label: false, input_html: {class: "two_decimal  location_select", value: 0.00, step: :any} %>
              </div>
            </div>
          </div>
          <div class="col-md-7">
            <% value = fee.object.misc_date.present? ? fee.object.misc_date.strftime('%m/%d/%Y') : "" %>
            <%= fee.input :misc_date, as: :string, readonly: "readonly", label: false, input_html: {class: "form-control location_fee_datepicker", value: value, autocomplete: "off"} %>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>
<%= javascript_include_tag "admins/locations/fee.js" %>
