<div class="modal fade" id="gatewayModal" role="dialog">
  <div class="modal-dialog form-group">
  <!--&lt;!&ndash; Modal content&ndash;&gt;-->
    <div class="modal-content">
      <div class="modal-header">
<button type="button" class="close" data-dismiss="modal">&times;</button>
<h4 class="modal-title">Gateway Setup</h4>
</div>
          <%= form_for location , url: update_gateway_locations_path, method: :post  do |f| %>
        <div class="row div54" >
          <div class="col-md-12">
            <%= f.hidden_field :id, value: f.object.id %>
                <div class="col-md-12">
                  <div class="form-group"><%= f.label :primary_gateway_id, "Bank Name", class: "no-padding cursor_default" %><br />
                    <%= f.select :primary_gateway_id, options_for_select(PaymentGateway.eager_load(:descriptor).main_gateways.active_gateways.order(name: :asc).map{ |key| [key.descriptor.present? ? "(#{key.descriptor.name}) - #{key.name}" : key.name, key.id]}, f.object.primary_gateway_id),{include_blank: "Select Bank"} , {autofocus: false, id:"username", class:"form-control" }%>
                  </div>
                  <div class="form-group"><%= f.label :secondary_gateway_id, "Secondary Bank Name", class: "no-padding cursor_default" %><br />
                    <%= f.select :secondary_gateway_id, options_for_select(PaymentGateway.eager_load(:descriptor).main_gateways.active_gateways.order(name: :asc).map{ |key| [key.descriptor.present? ? "(#{key.descriptor.name}) - #{key.name}" : key.name, key.id]}, f.object.secondary_gateway_id),{include_blank: "Select Bank"} , {autofocus: false, id:"username", class:"form-control" }%>
                  </div>
                  <div class="form-group"><%= f.label :ternary_gateway_id, "Third Bank Name", class: "no-padding cursor_default" %><br />
                    <%= f.select :ternary_gateway_id, options_for_select(PaymentGateway.eager_load(:descriptor).main_gateways.active_gateways.order(name: :asc).map{ |key| [key.descriptor.present? ? "(#{key.descriptor.name}) - #{key.name}" : key.name, key.id]}, f.object.ternary_gateway_id),{include_blank: "Select Bank"} , {autofocus: false, id:"username", class:"form-control" }%>
                  </div>
                </div>
            </div>
          <%= f.submit "Update Gateway", class:"btn btn-success ", class:"div55" %>
        </div>
        <% end %>
    </div>
  </div>
</div>
