
<div class="row">
<div class="col-md-12" id="profit_splits_off_section">
  <div class="col-md-4 ui-front">
    <div class="form-group">
      <label class="no-padding cursor_default"><span>Select ISO Company</span></label>
      <% iso_name = "(ISO-#{@iso.try(:id)}) - #{@iso.try(:company_name).try(:capitalize)}" %>
      <input type="text" name="[iso][name]" class="form-control iso_function" value="<%= @iso.nil? ? '' : iso_name || @iso.try(:name) %>" id="isos" placeholder="Select ISO" required autocomplete="new_password" >
      <input type="hidden" id="isosHidden" value="<%= @iso.nil? ? '' : @iso.id %>" name="user[ids][]" class="form-control">
      <div id="isos_error"></div>
    </div>

  </div>
  <div class="col-md-4 ui-front">
    <div class="form-group">
      <label class="no-padding cursor_default"><span>Select Agent</span></label>
      <%if @agent.try(:company_name).present? && @agent.try(:company_name) != "n/a" %>
        <% agent_name = "(A-#{@agent.try(:id)}) - #{@agent.try(:company_name).try(:capitalize)}" %>
      <%else %>
        <% agent_name = "(A-#{@agent.try(:id)}) - #{@agent.try(:name).try(:capitalize)}" %>
      <%end %>
      <input type="text" name="[agent][name]" class="form-control agent_function" value="<%= @agent.nil? ? '' : agent_name ||  @agnet.try(:name) %>" id="agents" placeholder="Select Agent" autocomplete="off" >
      <input type="hidden" id="agentsHidden" value="<%= @agent.nil? ? '' : @agent.id %>" name="user[ids][]" class="form-control"  placeholder="Select ISO">
      <div id="agents_error"></div>
    </div>

  </div>
  <div class="col-md-4 ui-front">
    <div class="form-group cursor_default">
      <label class="no-padding cursor_default"><span>Select Affiliate</span></label>
      <%if @affiliate.try(:company_name).present? && @affiliate.try(:company_name) != "n/a" %>
        <% aff_name = "(AF-#{@affiliate.try(:id)}) - #{@affiliate.try(:company_name).try(:capitalize)}" %>
      <%else %>
        <% aff_name = "(AF-#{@affiliate.try(:id)}) - #{@affiliate.try(:name).try(:capitalize)}" %>
      <%end %>
      <input type="text" name="[aff][name]" class="form-control affiliate_function" value="<%= @affiliate.nil? ? '' : aff_name ||  @affiliate.try(:name) %>" id="affiliates" placeholder="Select Affiliate" autocomplete="off">
      <input type="hidden" id="affiliatesHidden" value="<%= @affiliate.nil? ? '' : @affiliate.id %>" name="user[ids][]" class="form-control">
      <div id="affiliates_error"></div>
      <%#= select_tag "user[ids][]", options_for_select(User.affiliate.collect {|v| [v.name, v.id]}, selected: @affiliate.nil? ? 0 : @affiliate.id),{include_blank:'Select Affiliate', class: 'form-control'} %>
    </div>

  </div>
</div>
  <div class="row">
    <div class="col-md-6 div56" >
      <div class="col-md-5">
        <div class="form-group div57" >
          <label class="switch">
            <%= f.check_box :baked_iso, { class:"div58",id: "baked_iso_switch"} %>
            <span class="slider round">
              <div class="pull-left div59">
                ON
              </div>
              <div class="pull-right div60">
                OFF
              </div>
            </span>
          </label>
          <label class="no-padding cursor_default div61 ">Baked Profit Split</label>
        </div>
      </div>
    <div id="baked_check">
      <div class="col-md-6 div15" id="baked_check">
        <div class="col-md-3">
          <label class="radio-label">GBox
            <% if @profit_detail.present? && @profit_detail["share_split"] == "gbox" %>
              <input type="radio" name="profit_splits[share_split]" value="gbox" id="gbox_radio" class="baked_switch_checked" checked >
            <% else %>
              <input type="radio" name="profit_splits[share_split]" value="gbox" id="gbox_radio" class="baked_switch_checked" >
            <% end %>
            <span class="checkmark"></span>
          </label>
        </div>
        <div class="col-md-6">
          <label class="radio-label">ISO on File
            <% if @profit_detail.present? && @profit_detail["share_split"] == "iso" %>
              <input type="radio" name="profit_splits[share_split]" value="iso" id="iso_radio" checked class="baked_switch_checked" >
            <% else %>
              <input type="radio" name="profit_splits[share_split]" value="iso" id="iso_radio" class="baked_switch_checked" >
            <% end %>
            <span class="checkmark"></span>
          </label>
        </div>
      </div>
    </div>
  </div>
  </div>

  <div id="baked_section">
    <% if params[:action]=="edit" && @location.baked_iso == true %>
        <% if @location.profit_split_detail.present? %>
            <%=	 render partial: 'admins/locations/edit_super_user_iso_and_agent' %>
        <% else %>
            <%=	 render partial: 'admins/locations/add_super_user_iso_and_agent' %>
        <% end %>
    <% else  %>
       <%= render partial: 'admins/locations/add_super_user_iso_and_agent' %>
    <% end %>
  </div>
  <div class="row">
    <div class="col-md-6">
      <div class="col-md-5" >
        <div class="form-group div57" >
          <label class="switch">
            <%= f.check_box :profit_split, { class:"div58" ,id: "profit_split_switch"} %>
            <span class="slider round">
              <div class="pull-left div59" >
                ON
              </div>
              <div class="pull-right div60" >
                OFF
              </div>
            </span>
          </label>
          <label class="no-padding cursor_default div61" >Profit Split</label>
        </div>
      </div>
    <div id="profit_check">
      <div class="col-md-6 div15" id="profit_check">
        <div class="col-md-4">
          <label class="radio-label">GBox
            <% if @profit_detail.present? && @profit_detail["splits"]["profit_split"].present? && @profit_detail["splits"]["profit_split"]["from"] == "gbox" %>
              <input type="radio" name="profit_splits[splits][profit_split][from]" checked value="gbox" id="gbox_company_radio" class="profit_split_gbox_checked">
            <% else %>
              <input type="radio" name="profit_splits[splits][profit_split][from]" value="gbox" id="gbox_company_radio" class="profit_split_gbox_checked">
            <% end %>
            <span class="checkmark"></span>
          </label>
        </div>
        <div class="col-md-6">
          <label class="radio-label">ISO on File
            <% if @profit_detail.present? && @profit_detail["splits"]["profit_split"].present? && @profit_detail["splits"]["profit_split"]["from"] == "iso" %>
              <input type="radio" name="profit_splits[splits][profit_split][from]" value="iso" checked id="iso_company_radio" class="profit_split_gbox_checked">
            <% else %>
              <input type="radio" name="profit_splits[splits][profit_split][from]" value="iso" id="iso_company_radio" class="profit_split_gbox_checked">
            <% end %>
            <span class="checkmark"></span>
          </label>
        </div>
      </div>
    </div>
    </div>
    <div class="col-md-6"></div>
  </div>
  <div class="row div62" id="profit_splits_on_section">
    <% if params[:action]=="edit" && @location.profit_split == true %>
      <% if @location.profit_split_detail.present? %>
        <%=	 render partial: 'admins/locations/edit_profit_split', locals: {f: f} %>
      <% else %>
        <%=	 render partial: 'admins/locations/profit_split', locals: {f: f} %>
      <% end %>
    <% else  %>
      <%= render partial: 'admins/locations/profit_split', locals: {f: f} %>
    <% end %>
    <%#= render partial: 'admins/locations/profit_split', locals: {f: f} %>
  </div>
  <%=	render partial: 'admins/locations/net_profit_split', :locals => {:f => f} %>
<!--  <div class="row">-->
<!--    <div class="col-md-6">-->
<!--      <div class="col-md-5">-->
<!--        <div class="form-group div57" >-->
<!--          <label class="switch">-->
            <%#= f.check_box :sub_merchant_split, { class:"div58" ,id: "ez_merchant_switch"} %>
<!--            <span class="slider round">-->
<!--              <div class="pull-left div59">-->
<!--                ON-->
<!--              </div>-->
<!--              <div class="pull-right div60" >-->
<!--                OFF-->
<!--              </div>-->
<!--            </span>-->
<!--          </label>-->
<!--            <label class="no-padding cursor_default div61">Assigned Location</label>-->
<!--          <div class="col-md-2 tooltip">-->
<!--            <i class='fa fa-info-circle' aria-hidden='true' id="tool_tip"></i>-->
<!--            <span class="tooltiptext assigned_location_name">Enabling this button will have functionality for Location to View, Refund, Transactions, and Exports of another Location!</span>-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->
<!--    <div class="col-md-6"></div>-->
<!--  </div>-->
<!--  <div id="ez_section">-->
    <%# if params[:action]=="edit" && @location.sub_merchant_split == true %>
      <%# if @location.profit_split_detail.present? %>
        <%#=	 render partial: 'admins/locations/edit_ez_merchant' %>
      <%# else %>
        <%#=	 render partial: 'admins/locations/ez_merchant' %>
      <%# end %>
    <%# else  %>
      <%#= render partial: 'admins/locations/ez_merchant' %>
    <%# end %>
<!--  </div>-->
</div>
<%= javascript_include_tag "admins/locations/iso_agent.js" %>