<script type="text/javascript" charset="utf-8">
  <% if params[:action]=="edit" %>
  <% if @location.profit_split %>
  $('#profit_splits_on_section').show();
  $('#profit_check').show();
  <% else %>
  $('#profit_splits_on_section').hide();
  $('#profit_check').hide();
  <% end %>
  <% if @location.baked_iso %>
  $('#baked_section').show();
  $('#baked_check').show();
  <% else %>
  $('#baked_section').hide();
  $('#baked_check').hide();
  <% end %>
  <% if @location.sub_merchant_split %>
  $("#ez_section").show();
  <% else %>
  $("#ez_section").hide();
  <% end %>
  <% else %>
  $('#baked_section').hide();
  $("#ez_section").hide();
  <% end %>

  <% if params[:action]=="edit" && @location.profit_split == true %>
  <% if @location.profit_split_detail.present? %>
  <% split_detail=JSON.parse(@location.profit_split_detail)
        split_detail["splits"].each do |key, array| %>
  <% key_name = key.tr("0-9", "") %>
  <% key_name = '' if key == "net" %>
  <% unless key_name.blank? || array["wallet"].blank? %>
  <% if key_name.include?('merchant') %>
  <% wallets = Location.find_by_id(array["wallet"]).try(:merchant_primary_locations) %>
  $('#super_company_percent').attr('name', "profit_splits[splits][<%=key_name+array['wallet']%>][percent]");
    $('#super_company_percent').val('<%= array["percent"] %>');
  $('#companyInput').attr('name', 'profit_splits[splits][<%=key_name+array['wallet']%>][name]');
  $('#companyInputHidden').attr('name', 'profit_splits[splits][<%=key_name+array["wallet"]%>][wallet]');
    $('#companyInput').val('<%= array['name']%>');
  $('#iso_company_radio').attr('name', "profit_splits[splits][<%= key_name+array['wallet'] %>][from]");
  $('#gbox_company_radio').attr('name', "profit_splits[splits][<%= key_name+array['wallet'] %>][from]");
  <% if array["from"].present? && array["from"] == "gbox" %>
  $("#gbox_company_radio").attr("checked", "checked");
  <% elsif array["from"].present? && array["from"] == "iso" %>
  $("#iso_company_radio").attr("checked", "checked");
  <% end %>
    $('#companyInputHidden').val('<%= array['wallet'] %>');

  <% if wallets.present? %>
  $('#locationDiv').css('visibility', 'visible');
  $('#locationText').css('visibility', 'visible');
  var option = new Option("Choose Location", "");
  $(option).html("Choose Location");
  $('#locationText').attr('name', "profit_splits[splits][<%=key_name+array['wallet']%>][wallet]");
  $("#locationText").append(option);
  <% wallets.each do |wallet|%>
  var option = new Option("<%= wallet.name%>", "<%= wallet.location.id%>");
    $(option).html("<%= wallet.name%>");
  $("#locationText").append(option);
  <% end %>
  $('#locationText option[value=<%= array["wallet"]%>]').prop("selected", "selected");
  <% end %>
  <% else %>
  $('#super_company_percent').attr('name', "profit_splits[splits][<%=key_name+array['wallet'].to_s %>][percent]");
    $('#super_company_percent').val('<%= array["percent"] %>');
  $('#companyInput').attr('name', 'profit_splits[splits][<%=key_name+array['wallet'].to_s %>][name]');
  $('#companyInputHidden').attr('name', 'profit_splits[splits][<%=key_name+array['wallet'].to_s %>][wallet]');
    $('#companyInput').val('<%= array['name']%>');
  $('#iso_company_radio').attr('name', "profit_splits[splits][<%= key_name+array['wallet'].to_s %>][from]");
  $('#gbox_company_radio').attr('name', "profit_splits[splits][<%= key_name+array['wallet'].to_s %>][from]");
  <% if array["from"] == "gbox" %>
  $("#gbox_company_radio").attr("checked", "checked");
  <% elsif array["from"] == "iso" %>
  $("#iso_company_radio").attr("checked", "checked");
  <% end %>
    $('#companyInputHidden').val('<%= array['wallet'] %>');
  <% end %>
  <% end %>
  <% end %>
  <% end %>
  <% end %>

  <% if params[:action]=="edit" && @location.baked_iso == true %>
  <% if @location.profit_split_detail.present? %>
  <% if @location.profit_split_detail["share_split"].present? %>
  <% split_detail=JSON.parse(@location.profit_split_detail) %>
  <% if split_detail["share_split"] == "gbox" %>
  $("#gbox_radio").attr("checked", "checked");
  <% elsif split_detail["share_split"] == "iso" %>
  $("#iso_radio").attr("checked", "checked");
  <% end %>
  <% end %>
  <% end %>
  <% end %>

  <% if @location.present? && @location.baked_iso == true %>
  $("#baked_iso_switch").attr("checked", "checked");
  <% end %>
  <% if @location.present? && @location.sub_merchant_split == true %>
  $("#sub_merchant_split_switch").attr("checked", "checked");
  <% end %>
  <% if @location.present? && @location.net_profit_split == true %>
  $("#net_profit_split_switch").attr("checked", "checked");
  <% end %>
  <% if @location.present? && @location.profit_split == true %>
  $("#profit_split_switch").attr("checked", "checked");
  <% end %>
</script>