<!--<div class="row">-->
<%# if f.object.processing_type.blank? || current_user.admin? %>
<%# disable_cus = false %>
<%# else %>
<%# disable_cus = true %>
<%# end %>
<!--    <div class="col-md-3">-->
<!--      <div class="col-md-12">-->
<!--        <div class="form-group">-->
<!--          <label for="processing_type" class="no-padding cursor_default" >Processing Type</label>-->
<%#= f.select :processing_type, options_for_select(Location.processing_types.map { |key, value| [value, key] }, f.object.processing_type.present? ? f.object.processing_type : ""),{include_blank: "Select Processing Type"} , {:disabled => disable_cus, autofocus: false, id:"p_type", class:"form-control"}%>
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->
<%# end %>
<!--</div>-->
<div class="row">
  <div class="col-md-3">
    <div class="col-md-12">
      <div class="form-group">
        <label class="switch">
          <%= f.check_box :block_withdrawal, { class:"div58" } %>
          <!-- <input type="checkbox" checked> -->
          <span class="slider round">
            <div class="pull-left div59" >
              ON
            </div>
            <div class="pull-right div60" >
              OFF
            </div>
          </span>
        </label>
        <label class="no-padding cursor_default div61" >Disable Check</label>
      </div>
    </div>
  </div>

  <div class="col-md-3">
    <div class="col-md-12">
      <div class="form-group">
        <label class="switch">
          <%= f.check_box :block_ach, { class:"div58" } %>
          <!-- <input type="checkbox" checked> -->
          <span class="slider round">
            <div class="pull-left div59">
              ON
            </div>
            <div class="pull-right div60">
              OFF
            </div>
          </span>
        </label>
        <label class="no-padding cursor_default div61">Disable ACH</label>
      </div>
    </div>
  </div>


  <div class="col-md-3">
    <div class="col-md-12">
      <div class="form-group">
        <label class="switch">
          <%= f.check_box :push_to_card, { class:"div12" } %>
          <!-- <input type="checkbox" checked> -->
          <span class="slider round">
            <div class="pull-left div59" >
              ON
            </div>
            <div class="pull-right div60" >
              OFF
            </div>
          </span>
        </label>
        <label class="no-padding cursor_default div61">Disable Push to Card</label>
      </div>
    </div>
  </div>

  <div class="col-md-3">
    <div class="col-md-12">
      <div class="form-group">
        <label class="switch">
          <%= f.check_box :block_giftcard, { class:"div12" } %>
          <!-- <input type="checkbox" checked> -->
          <span class="slider round">
            <div class="pull-left div59">
              ON
            </div>
            <div class="pull-right div60" >
              OFF
            </div>
          </span>
        </label>
        <label class="no-padding cursor_default div61" >Disable Gift Card</label>
      </div>
    </div>
  </div>

</div>

<div class="row">
  <div class="col-md-3">
    <div class="col-md-12">
      <div class="form-group">
        <label class="switch">
          <%= f.check_box :block_ip, { class:"div12" } %>
          <span class="slider round">
          <div class="pull-left div59">
            ON
          </div>
          <div class="pull-right div60" >
            OFF
          </div>
        </span>
        </label>
        <label class="no-padding cursor_default div61">Block IP</label>
      </div>
    </div>
  </div>

  <div class="col-md-3">
    <div class="col-md-12">
      <div class="form-group">
        <label class="switch">
          <%= f.check_box :email_receipt, { class:"div12"} %>
          <!-- <input type="checkbox" checked> -->
          <span class="slider round">
          <div class="pull-left div59" >
            ON
          </div>
          <div class="pull-right div60" >
            OFF
          </div>
        </span>
        </label>
        <label class="no-padding cursor_default div61" >Email Receipts</label>
      </div>
    </div>
  </div>

  <div class="col-md-3">
    <div class="col-md-12">
      <div class="form-group">
        <label class="switch">
          <%= f.check_box :sms_receipt, { class:"div12" } %>
          <!-- <input type="checkbox" checked> -->
          <span class="slider round">
            <div class="pull-left div59" >
              ON
            </div>
            <div class="pull-right div60" >
              OFF
            </div>
          </span>
        </label>
        <label class="no-padding cursor_default div61" >Text Message Receipts</label>
      </div>
    </div>
  </div>
  <div class="col-md-3">
    <div class="col-md-12">
      <div class="form-group">
        <label class="switch">
          <%= f.check_box :eaze_reporting, {class: "div12"} %>
          <span class="slider round">
            <div class="pull-left div59">
              ON
            </div>
            <div class="pull-right div60">
              OFF
            </div>
          </span>
        </label>
        <label class="no-padding cursor_default div61">Eaze Reporting</label>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-3">
    <div class="col-md-12">
      <div class="form-group">
        <label class="switch" id="salesSlider">
          <%= f.check_box :disable_sales_transaction, { class:"div12" } %>
          <span class="slider round">
            <div class="pull-left div59">
              ON
            </div>
            <div class="pull-right div60" >
              OFF
            </div>
          </span>
        </label>
        <label class="no-padding cursor_default div61" >Disable Sales Transactions</label>
        <div id="disable-sales-check-error"></div>
      </div>
    </div>
    <div id="salesButton">
      <div class="col-md-12 div86">
        <div class="row" >
          <label class="div89 top-tnx" for="" >Sale</label>
          <%= f.check_box :sales, {  class: "form-control div12",id: "sales_id"} %>
        </div>
        <div class="row div88" >
          <label class="div89 mb-0 top-tnx" for="" >Virtual Terminal</label>
          <%= f.check_box :virtual_terminal, {  class: "form-control div12",id: "vt_id"} %>
        </div>
        <div class="row div901" >
          <label class="div89 top-tnx" for="" >Close Batch</label>
          <%= f.check_box :close_batch, {class: "form-control div12",id: "batch_id"} %>
        </div>
      </div>
    </div>
  </div>

  <div class="col-md-3">
    <div class="col-md-12">
      <div class="form-group">
        <label class="switch" id="apiSlider">
          <%= f.check_box :block_api, { class:"div12"} %>
          <!-- <input type="checkbox" checked> -->
          <span class="slider round">
            <div class="pull-left div59" >
              ON
            </div>
            <div class="pull-right div60" >
              OFF
            </div>
          </span>
        </label>
        <label class="no-padding cursor_default div61" >Disable API Transactions</label>
        <div id="disable-api-check-error"></div>
      </div>
      <div id="apiButton">
        <div class="col-md-12">
          <div class="row">
            <label class="div91 top-tnx" for="">Virtual Transactions</label>
            <%= f.check_box :virtual_transaction_api, {  class: "form-control div12",id: "vt_api"} %>
          </div>
          <div class="row div92" >
            <label class="div91 top-tnx" for="" >Credit Api</label>
            <%= f.check_box :virtual_terminal_transaction_api, { class: "form-control div12",id: "vtt_api"} %>
          </div>
          <div class="row div90" >
            <label class="div91 top-tnx" for="" >Debit Api</label>
            <%= f.check_box :virtual_debit_api, { class: "form-control div12",id: "vd_api"} %>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="col-md-3" id="">
    <div class="col-md-12">
      <div class="form-group hold_in_r">
        <label class="switch" id="holdInRearSlider">
          <%= f.check_box :hold_in_rear, { class:"div12" } %>
          <span class="slider round">
          <div class="pull-left div59" >
            ON
          </div>
          <div class="pull-right div60">
            OFF
          </div>
        </span>
        </label>
        <label class="no-padding cursor_default div61" >Hold In Arrear</label>
      </div>
    </div>
    <div id="hirDays" class="col-md-12">
      <div class="form-group col-md-8">
        <%= f.input :hold_in_rear_days,label: false, wrapper: :vertical_input_group , hint: "" do %>
          <span class="input-group-addon"><i>days</i></span>
          <%= f.input_field  :hold_in_rear_days , {min: '2' , class: "form-control"} %>
        <% end %>
      </div>
    </div>
  </div>

  <div class="col-md-3" id="">
    <div class="col-md-12">
      <div class="form-group hold_in_r">
        <label class="switch" id="rtpHookSlider">
        <input type="checkbox" class="div12" name="location_rtp_hook" id="rtp_hook_checkbox" <%= "checked" if f.object.rtp_hook.present? %>>
          <span class="slider round">
          <div class="pull-left div59" >
            ON
          </div>
          <div class="pull-right div60">
            OFF
          </div>
        </span>
        </label>
        <label class="no-padding cursor_default div61" >RTP Hook</label>
      </div>
    </div>
    <div id="rtpHookDiv" class="col-md-12">
      <div class="form-group col-md-8">
        <%= f.url_field :rtp_hook, id:"rtp_hook_field", class:"form-control website_text_field",pattern: "https?://.+", autocomplete: 'on' %>
      </div>
    </div>
  </div>

  <!--  <div class="col-md-3" id="hold_on_delivery_custom">-->
  <!--    <div class="col-md-12">-->
  <!--      <div class="form-group on_hold_pd">-->
  <!--        <label class="switch" id="holdPendingDeliverySlider">-->
  <%#= f.check_box :on_hold_pending_delivery, { class:"div12" } %>
  <!--          <span class="slider round">-->
  <!--          <div class="pull-left div59" >-->
  <!--            ON-->
  <!--          </div>-->
  <!--          <div class="pull-right div60">-->
  <!--            OFF-->
  <!--          </div>-->
  <!--        </span>-->
  <!--        </label>-->
  <!--        <label class="no-padding cursor_default div61" >On Hold Pending Delivery</label>-->
  <!--      </div>-->
  <!--    </div>-->
  <!--    <div id="ohpdDays" class="col-md-12">-->
  <!--      <div class="form-group col-md-8">-->
  <%#= f.input :on_hold_pending_delivery_days,label: false, wrapper: :vertical_input_group , hint: "" do %>
  <!--          <span  class="fa fa-info-circle" data-toggle="tooltip" data-html="true" title="Max days to ship order"></span>-->

  <!--           <span class="input-group-addon"><i>Days</i></span>-->
  <%#= f.input_field  :on_hold_pending_delivery_days , {min: '2' , class: "form-control"} %>
  <%# end %>
  <!--      </div>-->
  <!--    </div>-->
  <!--  </div>-->

</div>
<div class="row">
  <div class="col-md-3">
    <div class="col-md-12">
      <div class="form-group">
        <label class="switch" id="ach_flag">
          <%= f.check_box :ach_flag, {class: "div12"} %>
          <span class="slider round">
          <div class="pull-left div59">
            ON
          </div>
          <div class="pull-right div60">
            OFF
          </div>
        </span>
        </label>
        <label class="no-padding cursor_default div61">Withdraw Flag</label>
      </div>
    </div>
    <div class="col-md-12">
      <div class="form-group col-md-8 " id="ach_flag_text">
        <%= f.input_field :ach_flag_text, as: :text, class: "form-control ach-flag-text-height", maxlength: 140 %></div>
    </div>
  </div>

  <div class="col-md-3">
    <div class="col-md-12">
      <div class="form-group">
        <label class="switch">
          <%= f.check_box :standalone, { class:"div12" } %>
          <span class="slider round">
          <div class="pull-left div59" >
            ON
          </div>
          <div class="pull-right div60" >
            OFF
          </div>
        </span>
        </label>
        <label class="no-padding cursor_default div61" >Standalone Mode</label>
      </div>
    </div>
    <div id="standalonetype" class="row div15 <%= f.object.standalone ? "display-block" : "display-none" %>">
      <div class="col-md-12">
        <div class="col-md-12">
          <%= f.select :standalone_type, Location.standalone_types.values, {:include_blank => false}, {class: "form-control"} %>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-3">
    <div class="col-md-12">
      <div class="form-group">
        <label class="switch">
          <%= f.check_box :vip_card, {class: "div12"} %>
          <span class="slider round">
              <div class="pull-left div59">
                ON
              </div>
              <div class="pull-right div60">
                OFF
              </div>
            </span>
        </label>
        <label class="no-padding cursor_default div61">VIP Cards</label>
      </div>
    </div>
  </div>
  <div class="col-md-3">
    <div class="col-md-12">
      <div class="form-group">
        <label class="switch">
          <%= f.check_box :apply_load_balancer, {class: "div12"} %>
          <span class="slider round">
            <div class="pull-left div59">
              ON
            </div>
            <div class="pull-right div60">
              OFF
            </div>
          </span>
        </label>
        <label class="no-padding cursor_default div61">Load Balancer</label>
      </div>
    </div>
    <div id="apply_load_balancer" class="row div15 <%= f.object.apply_load_balancer ? "display-block" : "display-none" %>">
      <div class="col-md-12">
        <div class="col-md-12">
          <%= f.select :load_balancer_id, LoadBalancer.all.map{|l|[l.name, l.id]}, {:include_blank => false}, {class: "form-control"} %>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-3">
    <div class="col-md-12">
      <div class="form-group">
        <label class="switch">
          <%= f.check_box :transaction_limit, {class: "div12"} %>
          <span class="slider round">
              <div class="pull-left div59">
                ON
              </div>
              <div class="pull-right div60">
                OFF
              </div>
            </span>
        </label>
        <label class="no-padding cursor_default div61">Transaction Amount Allowed</label>
      </div>
    </div>
  </div>

  <div id="tran_amount_limit" class="form-group col-md-12" >
    <% if @location.transaction_limit_offset.present? %>
      <% @location.transaction_limit_offset.each_with_index do |tran_limit , i| %>
        <div class="col-md-12 amount_limit_div form-group" >
          <span class="span_dollar_sign">$</span>
          <div class="col-md-3" >
            <%= f.text_field :transaction_limit_offset, class:"form-control two_decimal" , value:  number_with_precision(tran_limit,precision: 2) , name: "location[transaction_limit_offset][]" , step: :any , required: true , min: 0.1 %>
          </div>
          <% btn_class =  i == 0 ? "add_amount_btn" : "remove_amount_btn" %>
          <% i_btn_class =  i == 0 ? "fa-plus-circle" : "fa-minus-circle" %>
          <div class="col-md-1 ">
            <a class="col-md-12 div108 <%= btn_class %>" ><i class="fa <%= i_btn_class %> fa-2x"></i></a>
          </div>
        </div>
      <%end%>
    <%else%>
      <div class="col-md-12 amount_limit_div form-group" >
        <span class="span_dollar_sign">$</span>
        <div class="col-md-3 " >
          <%= f.text_field :transaction_limit_offset, class:"form-control two_decimal" ,name: "location[transaction_limit_offset][]" , step: :any , value: 0.00 , min: 0.1 , required: true %>
        </div>
        <div class="col-md-1 ">
          <a class="col-md-12 div108 add_amount_btn" ><i class="fa fa-plus-circle fa-2x"></i></a>
        </div>
      </div>
    <%end%>
  </div>

</div>
<%= javascript_include_tag "admins/locations/locations_settings.js"%>
