
<div class="sidebar-overlay"></div>
<div class="title-block">
  <div class="col-md-12">
    <% if (params[:action] == "new") || (params[:duplicated].present?) || @location.bank_details.count <1  %>
      <%= f.simple_fields_for :bank do |form| %>
        <div id="new_bank1"></div>
        <div id="edit_bank"></div>
        <section class="section">
          <div class="row">
            <!--  high ticket to void check was in profile info -->

            <div class="col-md-6">
              <div class="form-group">
                <label class="no-padding"><span>Bank Account Type</span></label>
                <%= form.select :bank_account_type, options_for_select(Location.bank_account_types.keys.map { |a| [a.humanize, a] }) , {:include_blank => "Choose"}, {required: true,class: "form-control", id: "bank_detail_bank_account_type1"} %>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label class="no-padding"><span>Name On Bank Account</span></label>
                <%= form.text_field :bank_name, id: "bank-nmae1", class: "form-control", autocomplete: 'new-password' , required: true%>
              </div>
            </div>
          </div>
<div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label class="no-padding cursor_default"><span>Bank Routing #</span></label>
                <%= form.text_field :routing_no, id: "bank-routing1", class: "form-control", autocomplete: 'off' , required: true%>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label class="no-padding cursor_default"><span>Bank Account #</span></label>
                <%= form.text_field :account_no, id: "password-field1", class: "form-control", autocomplete: 'new-password' , required: true%>
                <span class="show_account" class="fa fa-fw fa-eye field-icon my-password1 div71"></span>
              </div>
            </div>
</div>
          <div class="row">
            <div class="col-md-6 div72">
              <div id="choose_img">
                <label for="image"  class="div73">Void
                  Check</label>
                <%#= form.file_field :image %>
                <%= form.file_field 'image', class: 'file', id: 'customer_signature', class:"div74",
                                    accept:"image/x-png,image/gif,image/png,image/jpeg,image/bmp,application/pdf ,.jpeg,.jpg,.pdf,.png",
                                    data: { max_file_size: 10.megabytes} ,required: true %>

                <!-- <input type="file" name="image[add_image]" class='form-control' class="div75" id="image_store">-->
              </div>
            </div>

          </div>
        </section>
      <% end %>
      <!--  x-x-x-x-x-x-x-x-x-x-x-x-->
    <% else %>
      <% if @location.bank_details.count > 0 and !params[:duplicated].present? %>
        <% unless current_user.support_mtrac? %>
          <%= link_to "Add New Account", location_new_bank_path(@location.id), data: {toggle: "modal", target: "#new_bank_modal"}, remote: true, class: "btn btn-success pull-right" %>
        <% end %>
        <% end %>
          <!--    <a id="new_acc_btn" href="<%#= location_new_bank_path(@location.id) %>" class="btn btn-success pull-right" data-toggle="modal" data-target="#new_account_modal" class="div76">Add New Account</a>-->
        </div>
      </div>
      <div id="new_bank1"></div>
      <div id="edit_bank"></div>
      <section class="section">
        <div class="row">
          <div class="col-md-12">

            <div class="table-responsive">
              <table id="datatable-keytable-bank" class="table table-striped table-bordered table-hover" cellspacing="0" cellpadding="0">
                <thead>
                <tr>
                  <th>Banking Account Type</th>
                  <th>Name On Bank Account</th>
                  <th>Bank Routing #</th>
                  <th>Bank Account #</th>
                  <th>Void Check Image</th>
                  <% unless current_user.support_mtrac? %>
                  <th>Settings</th>
                  <% end %>

                </tr>
                </thead>
                <tbody>
                <% @location.bank_details.each do |b| %>
                  <tr>
                    <td><%= b[:bank_account_type] %></td>
                    <td><%= b[:bank_name] %></td>
                    <td><%= b[:routing_no] %></td>
                    <td id="acc_<%= b.id %>" data-status="false">
                      <%=  "*****#{(AESCrypt.decrypt("#{@location.id}-#{ENV['ACCOUNT_ENCRYPTOR']}", b.account_no)).try(:last, 4)}" if b.account_no.present? %>
<!--                      <span onclick="myFunc(<%#= b.id %>)" id="eye_<%#= b.id %>" class="fa fa-fw fa-eye field-icon my-password"></span>-->
                    </td>
                    <td>
                      <% if b.try(:image).present? %>
                        <%= link_to "View", b.try(:image).try(:add_image).try(:url), target: "_blank",class: "blue-color" %>
                      <% else %>
                        NO Image
                      <% end %>
                    </td>
                  <% unless current_user.support_mtrac? %>
                  <td>
                      <div class="dropup" id="dropdownid">
                        <a href="#" class="div77" type="button" data-toggle="dropdown">●●●
                        </a>
                        <ul class="dropdown-menu div78">
                          <li class="location_cover_span div68"><%= link_to "Edit", location_edit_bank_path(@location.id, b[:id]), data: {toggle: "modal", target: "#new_account_modal"}, remote: true %></li>
                          <li class="div68"><%= link_to "Delete", location_delete_bank_path(@location.id, b[:id]), data: {confirm: "Are you sure?"} %></li>
                        </ul>
                      </div>
                    </td>
                  <% end %>
                  </tr>
                <% end %>
                <%# end %>
                <%# end%>

                </tbody>
              </table>
            </div>

            <!--      remove buttons -=============================================================================-->


          </div>
        </div>
      </section>
      <div class="modal fade" id="admin_confirm">
      <div class="modal-dialog modal-sm div79">
        <div class="modal-content div79" >
          <!-- Modal Header -->
          <div class="modal-header text-left div80">
            <h4 class="modal-title div81"><span class="ml-2">Verify</span></h4>
            <button type="button" class="close" data-dismiss="modal">×</button>
          </div>
          <!-- Modal body -->
          <div class="modal-body div82">
            <div class="div82">
              <div class="card-body">
                <div class="row">
                  <div class="form-group col-md-offset-2 col-md-8">
                    <span class="div83" for="reason" >Email</span>
                    <br>
                    <input type="email" name="pass" value="<%= current_user.email %>" class="form-control" disabled>
                  </div>
                  <div class="form-group col-md-offset-2 col-md-8">
                    <span class="div83" for="reason">Password</span>
                    <br>
                    <input type="password" value="" id="password" class="form-control">
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="modal-footer div82" id="" >
            <div class=" col-md-offset-2 col-md-8">
              <div class="form-group">
                <a class="btn btn-primary btn-sm div84" id="password_btn">Verify</a>
                <br>
                <span class="div85" id="info-text" >Please verify yourself!</span>

              </div>
            </div>
            <br>
          </div>
        </div>
      </div>
      </div>

      <!--------------------Transfer Money Modal-------------------->

      <!--------------------Close Modal-------------------->
<% end %>
<%= javascript_include_tag 'admins/locations/location_wallets.js' %>
<!--<script type="application/javascript" src="<%#= asset_path 'admins/locations/location_wallets.js' %>"></script>-->
<!--<script type="text/javascript">-->
<!--        $(document).ready(function () {-->
<!--            var bank_type = $('#bank_detail_bank_account_type1').val();-->
<!--            if(bank_type == '')-->
<!--            {-->
<!--                $('#bank-routing1').attr('disabled',true);-->
<!--                $('#password-field1').attr('disabled',true);-->
<!--                $('#bank-nmae1').attr('disabled',true);-->
<!--            }-->
<!--            $('#bank_detail_bank_account_type1').on('change',function () {-->
<!--                if($(this).val() != '')-->
<!--                {-->
<!--                    $('#bank-routing1').attr('disabled',false);-->
<!--                    $('#password-field1').attr('disabled',false);-->
<!--                    $('#bank-nmae1').attr('disabled',false);-->
<!--                } else-->
<!--                {-->
<!--                    $('#bank-routing1').attr('disabled',true);-->
<!--                    $('#password-field1').attr('disabled',true);-->
<!--                    $('#bank-nmae1').attr('disabled',true);-->
<!--                }-->

<!--            });-->
<!--        });-->


<!--        $("#admin_confirm").on("hidden.bs.modal", function(){-->
<!--            $('#password').val("");-->
<!--            $("#password_btn").css("border", "0px  black");-->
<!--            $("#info-text").text('');-->
<!--        });-->
<!--        function myFunc(num) {-->
<!--            var location_id = '<%#= @location.id %>';-->
<!--            var status = $("#acc_" + num).attr("data-status");-->
<!--            if (status == "false") {-->
<!--                $('#admin_confirm').modal('show')-->
<!--                $("#password_btn").button().click(function() {-->
<!--                    var password = $("#password").val();-->
<!--                    $.ajax({-->
<!--                        url: "/admins/locations/" + location_id + "/d_account_no",-->
<!--                        method: 'get',-->
<!--                        dataType: 'json',-->
<!--                        data: {bank_id: num, password: password},-->
<!--                        success: function (result) {-->
<!--                            $("#acc_" + num).attr("data-status", "true");-->
<!--                            $("#acc_" + num).html('').html(result.acc_number + " <span  onclick='myFunc(" + num + ")' id='eye_" + num + "' class='fa fa-fw fa-eye-slash field-icon my-password'></span>");-->

<!--                            $('#admin_confirm').modal('hide');-->
<!--                            $('#password').val("");-->
<!--                            $("#password_btn").css("background", "#7867a7").text('').text("Verify");-->
<!--                        },-->
<!--                        error: function () {-->

<!--                            $("#password_btn").css("border", "1px solid red");-->
<!--                            $("#info-text").text('').css("color", "red").text('Please try again!');-->
<!--                        }-->
<!--                    });-->
<!--                });-->
<!--            } else {-->
<!--                $("#acc_" + num).html('').html("xxxxxxxxxxx <span  onclick='myFunc(" + num + ")' id='eye_" + num + "' class='fa fa-fw fa-eye field-icon my-password'></span>");-->
<!--                $("#acc_" + num).attr("data-status", "false");-->
<!--            }-->
<!--        }-->
<!--        // $('#password_btn').on('click',function () {-->
<!--        //     verifyAdmin();-->
<!--        // });-->
<!--        function verifyAdmdin() {-->
<!--            var password = $('#password').val();-->
<!--            $.ajax({-->
<!--                url: "<%#= verify_admin_password_admins_buy_rate_index_path %>",-->
<!--                method: 'get',-->
<!--                data: {password: password},-->
<!--                success: function (data) {-->
<!--                    $("#password_btn").css("background", "green").text('').text("Verified");-->
<!--                    $("#info-text").text('');-->
<!--                    setTimeout(function () {-->
<!--                        var x = $("#password-field")-->
<!--                        if (x.attr('type') === "password") {-->
<!--                            x.attr('type', 'text')-->
<!--                        }-->
<!--//                    $('#password').attr("disabled","disabled");-->
<!--                        $('#admin_confirm').modal('hide');-->
<!--//                    $('#admin_confirm').removeClass('show').removeClass('in').attr('style','display:none')-->
<!--//                    $('#verification_btn').hide();-->
<!--//                    $('#submit_transfer_btn').show();-->
<!--                        $('#password').val("");-->
<!--                        $("#password_btn").css("background", "#7867a7").text('').text("Verify");-->
<!--                    }, 1000);-->
<!--                },-->
<!--                error: function (data) {-->
<!--                    $("#password_btn").css("border", "1px solid red");-->
<!--                    $("#info-text").text('').css("color", "red").text('Please try again!');-->
<!--                }-->
<!--            });-->
<!--        }-->
<!--        // function showAccount() {-->
<!--        //     var x = $("#password-field1")-->
<!--        //     if (x.attr('type') === "password") {-->
<!--        //         x.attr('type','text')-->
<!--        //     } else {-->
<!--        //         x.attr('type','password')-->
<!--        //     }-->
<!--        // }-->
<!--        $('INPUT[type="file"]').change(function () {-->
<!--            if((this.files[0].size)/1024 > 6000) {-->
<!--                alert("Please check upload image not over 5MB");-->
<!--                this.value = '';-->
<!--            }-->

<!--        });-->
<!--    </script>-->
