
<div id="myModalPlatform" class="modal notification_modal fade ecom_modal" role="dialog">
  <div class="modal-dialog div65" >
    <div class="modal-content">
      <div class="modal-header div66">
        <button type="button" class="close div67" data-dismiss="modal" id="close_modal_button">&times;</button>
        <h4 class="modal-title capitalize div68" >Add New E-comm Platform</h4>
      </div>
      <div class="modal-body">
        <div class="row">
          <%= form_for @ecom_platform,url:create_ecom_platform_locations_path,method: :post,remote: true,html:{class: "form custom_form",id:"location_ecomm_form"} do |form|%>
            <div class="form-group">
              <%= form.label :title, "New E-comm Platform", class:"div69"%>
              <%= form.text_field :name,class:"form-control",id:"location_ecomm_form_title_field" , maxlength: 45 %>
            </div>
            <%= form.submit "Add E-comm Platform",class: "btn btn-success",id:"location_ecomm_form_submit" %>
<!--            <span id="warning_showing_span"></span>-->
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
<!--<script>-->
<!--    $(document).ready(function () {-->

<!--        $('#location_ecomm_form').validate({ // initialize the plugin-->
<!--            rules: {-->
<!--                "ecomm_platform[name]": {-->
<!--                    required: true-->
<!--                }-->
<!--            }-->
<!--        });-->

<!--    });-->
<!--</script>-->
<!--<script>-->
<!--    $('#close_modal_button').click(function(){-->
<!--        setTimeout(function(){-->
<!--            $(document.body).addClass( 'modal-open' );-->
<!--        }, 500);-->
<!--    });-->
<!--    $('#location_ecomm_form_title_field').keypress(function(){-->
<!--        if(this.value=="" || this.value==null){-->
<!--            $('#warning_showing_span').text("Fill Up Your Fields!");-->
<!--        }else{-->
<!--            $('#warning_showing_span').text("");-->
<!--        }-->
<!--    });-->
<!--    $('#location_ecomm_form').submit(function(e){-->
<!--        e.preventDefault();-->
<!--        $.ajax({-->
<!--            url: "<%#=create_ecom_platform_locations_path%>",-->
<!--            type: 'POST',-->
<!--            data: {name:$('#location_ecomm_form_title_field').val()},-->
<!--            success: function(result){-->
<!--                if(result.message){-->
<!--                    $('#warning_showing_span').text(result.message);-->
<!--                }else{-->
<!--                    $('#ecomm_platform_id').append($('<option></option>').attr('value',result.id).text(result.name));-->
<!--                    $('#myModalPlatform').modal('toggle');-->
<!--                    setTimeout(function(){-->
<!--                        $(document.body).addClass( 'modal-open' );-->
<!--                    }, 500);-->
<!--                }-->
<!--            }});-->
<!--        // $('#dispute_reason_form')-->
<!--        // $.each(selectValues, function(key, value) {-->
<!--        //      $('#mySelect')-->
<!--        //          .append($("<option></option>").attr("value",key).text(value));-->
<!--    });-->
<!--</script>-->
