
<div class="row">
  <div class="col-md-6">
    <div class="col-md-5 div93">
      <div class="form-group div94">
        <label class="switch">
          <%= f.check_box :net_profit_split, { class:"div12" ,id: "net_profit_split_switch"} %>
          <span class="slider round">
            <div class="pull-left div59" >
              ON
            </div>
            <div class="pull-right div60" >
              OFF
            </div>
          </span>
        </label>
        <label class="no-padding cursor_default div61" >Net Profit Split</label>
      </div>
    </div>
    <div id="net_check">
    <div class="col-md-6" id="net_check">
      <div class="col-md-4">
        <label class="radio-label">GBox
          <input type="radio" class="net_gbox" name="profit_splits[splits][net][super_company][from]" value="gbox" id="net_gbox_company_radio" >
          <span class="checkmark"></span>
        </label>
      </div>
    </div>
    </div>
  </div>
  <div class="col-md-6"></div>
</div>
<div class="row div95" id="net_profit_splits_on_section">
  <div class="col-md-12 div47" >
    <div class="form-group col-md-4 ui-front">
      <label class="no-padding cursor_default"><span>Select Company</span></label>
      <input type="text" class="form-control" value="" id="netCompanyInput" autocomplete="off" name="profit_splits[splits][net][super_company][name]" >
      <input type="hidden" id="netCompanyInputHidden" value="" name="profit_splits[splits][net][super_company][wallet]" class="form-control" >
      <div id="netCompanyInput_error"></div>
      <p class="div96" id="spanError"></p>
    </div>
    <div class="form-group col-md-4">
      <div class="div63" id="netLocationDiv" >
        <label class="no-padding cursor_default"><span>Select Location</span></label>
        <select id="netLocationText" class="form-control netLocationText div97"></select>
      </div>
      <div id='netLocationText_error'></div>
    </div>
  </div>
  <!---------------Dynamic Fields----------------->
  <div class="col-md-8 div98" >
    <div class="col-md-8 div98" >
      <p class="div44">% Split </p>
    </div>
  </div>
  <div class="col-md-8 div99">
    <div class="form-group col-md-2" >
      <div>
      <input type="text" name="profit_splits[splits][net][super_company][percent]"  id="net_super_company_percent" class="location_select form-control col-xs-2 percent" placeholder="0" required="true" step="any">
    </div>
    <div id="net_super_company_percent_error"></div>
    </div>
  </div>
</div>