
<!--------------------Transfer Money Modal-------------------->
<div class="modal fade modal-width" tabindex="-1" role="dialog" id="location_new_bank_modal">
  <div class="modal-dialog modal-lg form-group">
    <div class="modal-content">
      <div class="modal-header text-white div100" >
        <div class="div101" >
          <span class="modal-title div102"><i class="fa fa-money"></i><span>New Account</span></span>
          <button type="button" class="close div103" data-dismiss="modal">&times;</button>
        </div>
      </div>
      <%= simple_form_for @bank, :url => location_create_bank_path(@location.id), multipart: true, remote: true do |form| %>
        <div class="row" id="transafer_class">
          <div class="col-md-12">
            <div class="card-header bordered">
              <div class="card-body">

                <div class="col-md-6">
                  <div class="form-group">
                    <label class="no-padding"><span>Bank Account Type</span></label>
                    <%= form.select :bank_account_type, options_for_select(Location.bank_account_types.keys.map { |a| [a.humanize, a] }, form.object.bank_account_type), {:include_blank => "Choose"}, {:required => true,class: "form-control"}  %>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <label class="no-padding"><span>Name On Bank Account</span></label>
                    <%= form.text_field :bank_name, id: "bank-nmae", class: "form-control", autocomplete: 'new-password', required: true %>
                  </div>
                </div>


                <div class="col-md-6">
                  <div class="form-group">
                    <label class="no-padding cursor_default"><span>Bank Routing #</span></label>
                    <%= form.text_field :routing_no, id: "bank-routing", class: "form-control", autocomplete: 'off', required: true %>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <label class="no-padding cursor_default"><span>Bank Account #</span></label>
                    <%= form.text_field :account_no, type: "text", id: "password-field", class: "form-control", autocomplete: 'new-password' , required: true%>
                  </div>
                </div>

                <!--                 void check-->

                <div class="col-md-12 div104" >
                  <div id="choose_img">
                    <label class="div105" for="image">Void
                      Check</label>
                    <%#= form.file_field :image %>
                    <%= form.file_field 'image', class: 'file', id: 'customer_signature', class:"div106",
                                        accept:"image/x-png,image/gif,image/jpeg,image/bmp,application/pdf",
                                        data: { max_file_size: 10.megabytes}, required: true%>

                    <!-- <input type="file" name="image[add_image]" class='form-control' class:"div107" id="image_store">-->
                  </div>
                </div>


                <!--                remove buttons END-->

              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <div class="col-md-12 div68">
            <%= form.submit "Add Account", class: "btn btn-primary ", id: "submit_new_bank_acc" %>
          </div>
        </div>

      <% end %>
    </div>
  </div>
</div><%= javascript_include_tag 'admins/locations/banking_setup.js' %>
<!--------------------Close Modal-------------------->

<!--<script>-->
<!--    $("#submit_bank_ac3c").on("click", function () {-->
<!--        $.ajax({-->
<!--            url: "<%= location_create_bank_path %>",-->
<!--            method: 'post',-->
<!--            dataType: 'json',-->
<!--            data: {},-->
<!--            success: function (result) {-->
<!--            }-->
<!--        });-->
<!--    });-->
<!--    $(document).ready(function () {-->

<!--        if($('#bank_detail_bank_account_type').val()=='')-->
<!--        {-->
<!--            $('#bank-routing').attr('disabled',true);-->
<!--            $('#password-field').attr('disabled',true);-->
<!--            $('#bank-nmae').attr('disabled',true);-->
<!--        }-->
<!--        $('#bank_detail_bank_account_type').on('change',function () {-->
<!--            if($(this).val()!='')-->
<!--            {-->
<!--                $('#bank-routing').attr('disabled',false);-->
<!--                $('#password-field').attr('disabled',false);-->
<!--                $('#bank-nmae').attr('disabled',false);-->
<!--            }-->
<!--            else-->
<!--            {-->
<!--                $('#bank-routing').attr('disabled',true);-->
<!--                $('#password-field').attr('disabled',true);-->
<!--                $('#bank-nmae').attr('disabled',true);-->

<!--            }-->

<!--        });-->
<!--        $("#tax_id").mask("00-00000000");-->
<!--    });-->
<!--    $('INPUT[type="file"]').change(function () {-->
<!--        if((this.files[0].size)/1024 > 10000) {-->
<!--            alert("Please check upload image not over 10MB");-->
<!--            this.value = '';-->
<!--        }-->

<!--    });-->
<!--</script>-->
