<div class="col-md-12 div47">
  <!---------------Select Company Box----------->
  <div class="form-group col-md-1" id="div34">
    <span><a id="add_profit_users" class="col-md-12 div5"><i class="fa fa-plus-circle fa-2x"></i></a></span>
  </div>
  <div class="form-group col-md-4 ui-front div50 count_div">
    <label class="no-padding cursor_default"><span>Select Company</span></label>
    <input type="text" class="form-control" value="" id="companyInput_0" autocomplete="new_password" name="profit_splits[splits][profit_split][0][name]" required="true">
    <input type="hidden" id="companyInput_0Hidden" value="" name="profit_splits[splits][profit_split][0][wallet]" class="form-control" required="true">
    <input type="hidden" id="companyrole_0Hidden" value="" name="profit_splits[splits][profit_split][0][role]" class="form-control" required="true">
    <div id="companyInput_error_0"></div>
  </div>
  <div class="form-group col-md-4">
    <div  class="div63" id="locationDiv1">
      <label class="no-padding cursor_default"><span>Select Location</span></label>
      <select id="locationText1" class="form-control locationText div64"></select>
    </div>
    <div id='locationText_error'></div>
  </div>
</div>
<!---------------Dynamic Fields----------------->
<div class="col-md-12" id="div35">
  <div class="col-md-4">
    <div class="row">
      <div class="col-md-8" >
        <div class="col-md-6 div5">
          <p class="div44" >% Split </p>
        </div>
        <div class="col-md-6 div43" >
          <p class="div44">$ Split </p>
        </div>
      </div>
    </div>
  </div>
</div>
<!--------------------For Edit Form------------------------------------>
<!--------------------For New Form------------------------------------->
<div class="col-md-12" id="div36">
  <div class="col-md-4">
    <div class="row">
      <div class="col-md-8">
        <div class="col-md-6 form-group div50">
          <div>
            <input type="text" name="profit_splits[splits][profit_split][0][percent]"  id="super_company_percent_0" class="location_select form-control col-xs-2 dollar percent" placeholder="0" step="any">
          </div>
          <div id="super_company_percent_error_0" class="percent_error"></div>
        </div>
        <div class="col-md-6 form-group div46">
          <input type="text" name="profit_splits[splits][profit_split][0][dollar]" id="super_company_dollar_0" class="location_select dollar form-control col-xs-2 percent" placeholder="0" step="any">
        </div>
        <div id="super_company_dollar_error_0" class="dollar_error"></div>
      </div>
    </div>
  </div>
</div>