
<div class="row">
  <div class='col-md-6'>
    <h5 class="no-padding cursor_default">Profile Info</h5>
    <hr>
    <div class="form-group">
      <%= f.label :business_name, "DBA Name" ,class: "no-padding cursor_default" %>
      <%= f.text_field :business_name , id:"business_name", class:"form-control", required: true %>
      <span id="DBA_error"></span>
    </div>
    <div class="row">
      <div class="col-md-6">
        <div class="form-group">
          <%= f.label :first_name, "Location Contact Name" ,class: "no-padding cursor_default" %>
          <%= f.text_field :first_name , id:"first_name", class:"form-control"%>
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <%= f.label :email ,class: "no-padding cursor_default" %>
          <%= f.email_field :email , id:"email", class:"form-control"%>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <div class="form-group">
          <%= f.label :customer_phone_number, "Contact Phone Number" ,id:'phone-heading',class: "no-padding cursor_default" %>
          <%= f.text_field :phone_number , id:"phone_number_cor", class:"form-control phone_number", value:f.object.phone_number.present? ? "+#{f.object.phone_number}" : '' %>
          <input type="hidden" name="location[phone_code]" id="phone_code_cor">
          <span class="phone-error" id="phone_error"></span>
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <%= f.label "Customer service phone number" ,class: "no-padding cursor_default" %>
          <%= f.text_field :cs_number , id:"location_cs_number", class:"form-control cs_number", value: f.object.cs_number.present? ? "+#{f.object.cs_number}" : '' %>
          <input type="hidden" name="location[cs_phone_code]" id="cs_phone_code">
          <span class="cs-phone-error" id="cs-phone_error"></span>
        </div>
      </div>

    </div>

    <div class="row">
      <div class="col-md-6">
        <div class="form-group">
          <%= f.label :address ,class: "no-padding cursor_default" %>
          <%= f.text_field :address , id:"address", class:"form-control"%>
        </div>
      </div>
      <% if @location.present? && @location.country.present?
           if @location.country == ("United State") || @location.country == "US"
             @location.country = ("United States")
           else
             @location.country = @location.country
           end
           if @location.country == ("United States")
             country_code = "us"
           else
             country   = ISO3166::Country.find_country_by_name(@location.try(:country))
             country_code = country.present? ? country.try(:alpha2) : ""
           end
           @states = country_code.present? ? CS.states(country_code) : ""
         else
           country_code = "us"
           @states = CS.states(country_code)
         end %>
      <div class="">
        <div class="form-group col-md-3">
          <%= f.label :country, class: "no-padding" %>
          <%= f.select :country, options_for_select(COUNTRIES, :selected => @location.country ? @location.try(:country) : 'United States'), {include_blank: "Select Country"}, required: 'required', class: "form-control admins_country_field", placeholder: "Country" %>
        </div>
        <div class="form-group col-md-3">
          <%= f.label :state, class: "no-padding" %>
          <%= f.select :state, options_for_select(@states, :selected => get_state(@location.try(:state))), {include_blank: "Select State"}, required: 'required', class: "form-control admins_states_field_loc", placeholder: "State" %>
       </div>
      </div>
    </div>


    <div class="row">
      <div class="div108">
<!--        <div class="col-md-6">-->
<!--          <div class="form-group">-->
            <%#= f.label :state ,class: "no-padding" %>
            <%#= f.select :state ,options_for_select(CS.states(:us),:selected =>get_state(@location.try(:state))),{}, id:"state", class:"form-control", placeholder:"State" %>
<!--          </div>-->
<!--        </div>-->
        <div class="">
          <div class="form-group col-md-3">
            <%= f.label :city, class: "no-padding cursor_default" %>
            <%= f.text_field :city, id: "city", class: "form-control" %>
          </div>
          <div class="form-group col-md-3">
            <%= f.label :zip ,class: "no-padding" %>
            <%= f.text_field :zip , id:"zip", class:"form-control"%>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <%= f.label :business_type ,class: "no-padding cursor_default" %>
          <%= f.text_field :business_type , id:"business_type", class:"form-control", autocomplete: 'on'%>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-6">
        <div class="form-group">
          <%= f.label "TaxID" ,class: "no-padding cursor_default" %>
          <%= f.text_field :tax_id , id:"tax_id", class:"form-control"%>
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <%=	 f.label :category,class: "no-padding cursor_default"  %>
          <div class="col-md-12 div108" >
            <div class="col-md-11 div108" >
              <% if f.object.category_id.blank? %>
                <%= collection_select :category, :id, @categories, :id, :name, {:include_blank => 'Select Category', selected:f.object.category}, {:name => 'location[category_id]', :class => 'form-control'} %>
              <% else %>
                <%= collection_select :category, :id, @categories, :id, :name, {:include_blank => 'Select Category', selected:f.object.category_id}, {:name => 'location[category_id]', :class => 'form-control'} %>
              <% end %>
            </div>
            <div class="col-md-1 div109 show-cover-spin">
              <% unless current_user.support_mtrac? %>
                <%= link_to '<i class="fa fa-plus-circle fa-2x show-cover-spin"></i>'.html_safe,location_add_category_locations_path,remote: true, class:"div110 show-cover-spin"%>
              <% end %>
            </div>
          </div>
        </div>
      </div>
      <!--      <div class="col-md-6">-->
      <!--        <div class="form-group">-->
      <%#= f.label "TaxID" ,class: "no-padding cursor_default" %>
      <%#= f.text_field :tax_id , id:"tax_id", class:"form-control", maxlength: 11%>
      <!--        </div>-->
      <!--      </div>-->
    </div>

    <div class="row">
      <div class="col-md-6">
        <div id="platform-append">
          <% if @location.ecom_platform.nil?%>
            <%= f.label"e-Comm Platform" ,class: "no-padding cursor_default" %>
            <div class="form-group col-md-12 div111" >
              <div class="col-md-11 div108">
                <% if f.object.ecomm_platform.nil? %>
                  <%= collection_select :ecomm_platform, :id, @ecom_platforms, :id, :name, {:include_blank => 'Select E-comm Platform'}, {:name => 'location[ecomm_platform_id]', :class => 'form-control'} %>
                <% else %>
                  <%= collection_select :ecomm_platform, :id, @ecom_platforms, :id, :name, {:include_blank => 'Select E-comm Platform', :selected => f.object.ecomm_platform.id}, {:name => 'location[ecomm_platform_id]', :class => 'form-control'} %>
                <% end %>
              </div>
              <div class="col-md-1 div112 show-cover-spin">
                <% unless current_user.support_mtrac? %>
                <%= link_to '<i class="fa fa-plus-circle fa-2x show-cover-spin"></i>'.html_safe,location_add_ecom_platform_locations_path,remote: true, id: "add_ecom_btn", class:"show-cover-spin"%>
                <% end %>
              </div>
            </div>
          <% elsif @location.ecom_platform == "null" %>
            <%= f.label"e-Comm Platform" ,class: "no-padding cursor_default" %>
            <div class="form-group col-md-12 div111" >
              <div class="col-md-11 div108">
                <% if f.object.ecomm_platform.nil? %>
                  <%= collection_select :ecomm_platform, :id, @ecom_platforms, :id, :name, {:include_blank => 'Select E-comm Platform'}, {:name => 'location[ecomm_platform_id]', :class => 'form-control'} %>
                <% else %>
                  <%= collection_select :ecomm_platform, :id, @ecom_platforms, :id, :name, {:include_blank => 'Select E-comm Platform', :selected => f.object.ecomm_platform.id}, {:name => 'location[ecomm_platform_id]', :class => 'form-control'} %>
                <% end %>
              </div>
              <div class="col-md-3 div113 show-cover-spin"  style="margin-top: 2%;padding-left: 10px">
                <% unless current_user.support_mtrac? %>
                  <a id="platform_btn" class='col-md-12 show-cover-spin' style="padding: 0px;"><i class="fa fa-plus-circle fa-2x show-cover-spin"></i></a>
                <% end %>
              </div>
            </div>
          <% else %>
            <%= f.label"e-Comm Platform" ,class: "no-padding cursor_default" %>
            <div class="form-group col-md-12" style="padding: 0px !important;">
              <div class="col-md-11" style="padding: 0px">
                <% if f.object.ecomm_platform.nil? %>
                  <%= collection_select :ecomm_platform, :id, @ecom_platforms, :id, :name, {:include_blank => 'Select E-comm Platform'}, {:name => 'location[ecomm_platform_id]', :class => 'form-control'} %>
                <% else %>
                  <%= collection_select :ecomm_platform, :id, @ecom_platforms, :id, :name, {:include_blank => 'Select E-comm Platform', :selected => f.object.ecomm_platform.id}, {:name => 'location[ecomm_platform_id]', :class => 'form-control'} %>
                <% end %>
              </div>
              <div class="col-md-1"  style="margin-top: 2%;padding-left: 3px">
                <%= link_to '<i class="fa fa-plus-circle fa-2x"></i>'.html_safe,location_add_ecom_platform_locations_path,remote: true,style: "padding:0px 6px;"%>
              </div>
            </div>
            <%# urls = valid_json?(@location.ecom_platform) ? JSON.parse(@location.ecom_platform) : [@location.ecom_platform] %>
            <%#= f.label"e-Comm Platform", class: "no-padding cursor_default" %>
            <%# urls.each.with_index do |web,i|%>
            <!--              <div class="form-group col-md-12" style="padding: 0px !important;">-->
            <!--                <div class="col-md-11" style="padding: 0px">-->
            <%# if f.object.ecomm_platform.nil? %>
            <%#= collection_select :ecomm_platform, :id, @ecom_platforms, :id, :name, {:include_blank => 'Select E-comm Platform'}, {:name => 'location[ecomm_platform_id]', :class => 'form-control'} %>
            <%# else %>
            <%#= collection_select :ecomm_platform, :id, @ecom_platforms, :id, :name, {:include_blank => 'Select E-comm Platform', :selected => f.object.ecomm_platform.id}, {:name => 'location[ecomm_platform_id]', :class => 'form-control'} %>
            <%# end %>
            <!--                </div>-->
            <%# if i != 0 %>
            <!--                  <div class="col-md-1"  style="margin-top: 2%;padding-left: 10px">-->
            <%#= link_to '<i class="fa fa-plus"></i>'.html_safe,location_add_ecom_platform_locations_path,remote: true,style: "padding:0px 15px;"%>
            <!--                  </div>-->
            <%# else %>
            <!--                  <div class="col-md-1"  style="margin-top: 2%;padding-left: 10px">-->
            <%#= link_to '<i class="fa fa-plus"></i>'.html_safe,location_add_ecom_platform_locations_path,remote: true,style: "padding:0px 15px;"%>
            <!--                  </div>-->
            <%# end %>
            <!--              </div>-->
            <%# end %>
          <% end %>
        </div>
      </div>
      <div class="col-md-6">
        <div id="url-append">
          <% if @location.web_site.nil?%>
            <%= f.label"Web Site http://" ,class: "no-padding cursor_default" %>
            <div class="form-group col-md-12 div111" >
              <div class="col-md-11 div108" >
                <%= f.url_field :web_site, id:"web_site", name: "location[web_site][]", class:"form-control website_text_field",pattern: "https?://.+", required: true, autocomplete: 'on' %>
              </div>
              <div class="col-md-1 div113">
                <% unless current_user.support_mtrac? %>
                  <a id="j_btn" class='col-md-12 div108' ><i class="fa fa-plus-circle fa-2x"></i></a>
                <% end %>
              </div>
            </div>
          <% elsif @location.web_site == "null" %>
            <%= f.label"Web Site http://" ,class: "no-padding cursor_default" %>
            <div class="form-group col-md-12 div111" >
              <div class="col-md-11 div108" >
                <%= f.url_field :web_site, id:"web_site", name: "location[web_site][]", class:"form-control website_text_field",pattern: "https?://.+", required: true, autocomplete: 'on' %>
              </div>
              <div class="col-md-1 div113" >
                <% unless current_user.support_mtrac? %>
                  <a id="j_btn" class='col-md-12 div108' ><i class="fa fa-plus-circle fa-2x"></i></a>
                <% end %>
              </div>
            </div>
          <% else %>
            <% urls = valid_json?(@location.web_site) ? JSON.parse(@location.web_site) : [@location.web_site] %>
            <%= f.label"Web Site http://", class: "no-padding cursor_default" %>
            <% urls.each.with_index do |web,i|%>
              <div class="form-group col-md-12 div108" >
                <div class="col-md-11 div108">
                  <%= f.url_field :web_site, :value => web, id:"web_site", name: "location[web_site][]", class:"form-control website_text_field" ,pattern: "https?://.+", required: true, autocomplete: 'on' %>
                </div>
                <% if i != 0 %>
                  <div class="col-md-1 div113" >
                    <a class="website_remove_field"><i class="fa fa-minus-circle fa-2x"></i></a>
                  </div>
                <% else %>
                  <div class="col-md-1 div113" >
                    <% unless current_user.support_mtrac? %>
                      <a id="j_btn" class='col-md-12 div108'><i class="fa fa-plus-circle fa-2x"></i></a>
                    <% end %>
                  </div>
                <% end %>
              </div>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>

  </div>

  <!--Monthly Chargeback and Refund Data-->
  <div class="col-md-6">


    <%	 if params[:action]=="edit" %>
      <h5 class="no-padding cursor_default">Monthly Chargeback and Refund Data</h5>
      <hr>
      <%= f.simple_fields_for(@fee_source) do |fee| %>
        <div class="col-md-6 form-group">
          <label class="no-padding cursor_default">Chargeback %</label>
          <label class="no-padding pull-right cursor_default">%</label>
        </div>
        <div class="col-md-6 form-group">
          <div class="row">
            <div class="col-md-5">
              <div class="row">
                <div class="col-md-12">
                  <%= fee.input :charge_back_percent, label: false, input_html: {class:"buyrate_fields percent percentage_validation div118" , value: number_with_precision(fee.object.charge_back_percent, precision: 2) || 0, min: 0} %>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-6 form-group">
          <label class="no-padding cursor_default">Chargeback Count</label>
        </div>
        <div class="col-md-6 form-group">
          <div class="row">
            <div class="col-md-5">
              <div class="row">
                <div class="col-md-12">
                  <%= fee.input :charge_back_count, label: false, input_html: {:class =>"fee_no_function" , value: fee.object.charge_back_count || 0 , min: 0} %>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-6 form-group">
          <label class="no-padding cursor_default">Refund %</label>
          <label class="no-padding pull-right cursor_default">%</label>
        </div>
        <div class="col-md-6 form-group">
          <div class="row">
            <div class="col-md-5">
              <div class="row">
                <div class="col-md-12">
                  <%= fee.input :refund_percent, label: false, input_html: {class:"buyrate_fields percent percentage_validation div118" , value: number_with_precision(fee.object.refund_percent || 0, precision: 2), min: 0} %>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-6 form-group">
          <label class="no-padding cursor_default">Refund Count</label>
        </div>
        <div class="col-md-6 form-group">
          <div class="row">
            <div class="col-md-5">
              <div class="row">
                <div class="col-md-12">
                  <%= fee.input :refund_count, label: false, input_html: { :class => "fee_no_function" , value: fee.object.refund_count || 0,  min: 0} %>
                </div>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    <% else %>
      <!--    =x=x=x=x=x=x=x=x=x=x=x=x=x-->
      <h5 class="no-padding cursor_default">Monthly Chargeback and Refund Data</h5>
      <hr>

      <div class="col-md-6 form-group">
        <label class="no-padding cursor_default">Chargeback %</label>
        <label class="no-padding pull-right cursor_default">%</label>
      </div>
      <div class="col-md-6 form-group">
        <div class="row">
          <div class="col-md-5">
            <div class="row">
              <div class="col-md-12">
                <%= fee.input :charge_back_percent, label: false, input_html: {class:"buyrate_fields percent percentage_validation location_select div118", value: number_with_precision( 0, precision: 2), step: :any, min: 0} %>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-6 form-group">
        <label class="no-padding cursor_default">Chargeback Count</label>
      </div>
      <div class="col-md-6 form-group">
        <div class="row">
          <div class="col-md-5">
            <div class="row">
              <div class="col-md-12">
                <%= fee.input :charge_back_count, label: false, input_html: { :class => "fee_no_function" , value: 0 , min: 0} %>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-6 form-group">
        <label class="no-padding cursor_default">Refund %</label>
        <label class="no-padding pull-right cursor_default">%</label>
      </div>
      <div class="col-md-6 form-group">
        <div class="row">
          <div class="col-md-5">
            <div class="row">
              <div class="col-md-12">
                <%= fee.input :refund_percent, label: false, input_html: {class:"buyrate_fields percent location_select percentage_validation div118" ,   value:  number_with_precision( 0, precision: 2), step: :any, min: 0} %>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-6 form-group">
        <label class="no-padding cursor_default">Refund Count</label>
      </div>
      <div class="col-md-6 form-group">
        <div class="row">
          <div class="col-md-5">
            <div class="row">
              <div class="col-md-12">
                <%= fee.input :refund_count,id:"location_fee_refund_count", label: false, input_html: {:class => "fee_no_function" , value: 0, min: 0} %>
              </div>
            </div>
          </div>
        </div>
      </div>
    <% end %>

  </div>
  <!--Monthly Chargeback and Refund Data END EDIT-->

</div>
<div id="add_new_category"></div>
<div id="add_new_ecomplatform"></div>
<%= javascript_include_tag 'admins/locations/profile.js' %>