<div class="title-block">
  <div class="col-md-6">
    <h1 class="title location-title" >Locations</h1>
  </div>
  <div class="col-md-6">
    <% if params[:user_id].present? && !current_user.support_mtrac? %>
      <%=link_to 'New Location',{:controller => "admins/locations", :action => "new", :user => params[:user_id] } ,  class: "btn btn-primary pull-right" %>
    <% end %>
  </div>
</div>
<div class="container-fluid" id="index1">
  <ul class="nav nav-tabs users_tabs" id="index2">
    <li class=""><a href="<%= merchants_path %>">Merchants</a></li>
    <li class="active"><a href="<%= locations_path %>">Locations</a></li>
    <li class=""><a href="<%= merchants_path(sub_merchant: 'true') %>">Merchant Users</a></li>
  </ul>
</div>

<div class="well well-sm">
  <div class="sidebar-overlay" id="sidebar-overlay"></div>
  <!--<div class="row">-->
  <!--<div class="col-md-12">-->
  <!--<div class="text-center cases_merchant_box">-->
  <!--<p class="cases_box_text_data">Total Merchants</p>-->
  <!--<p class="cases_box_text_data"><b><%#= params[:user_id].present? ? 1 : User.merchant.where(:merchant_id => nil).count  %></b></p>-->
  <!--</div>-->
  <!--<div class="text-center cases_merchant_box">-->
  <!--<p class="cases_box_text_data">Total Locations</p>-->
  <!--<p class="cases_box_text_data"><b><%#= @locations.count %></b></p>-->
  <!--</div>-->
  <!--</div>-->
  <!--</div>-->
  <div class="card" data-exclude="xs,sm,lg">
    <div class="card-header bordered">
      <div class="header-block">
        <h3 class="title text-capitalize pull-left">All Locations</h3>
      </div>
      <div class="header-block pull-right" id="index3">
        <div class="col-md-4">
          <% unless params[:user_id].present? %>
            <a href="#search" data-toggle="collapse" href="#search" aria-expanded="false" aria-controls="search" class="btn btn-outline-secondary btn-sm pull-right"><i class="icon-magnifier icons"></i> Search</a>
          <% end %>
        </div>
        <div class="col-md-2">

          <% unless current_user.support_mtrac? %>
            <% if params[:query].present? %>
              <a data-toggle="modal" id="export_class" data-type="location_export" data-merchant_location="<%= params[:user_id] %>" data-search-types="<%= params[:query].to_json %>" class="exportReport" href="#exportModalDialog">
                <button type="button" class="btn blue_btn btn-sm"> Export</button>
              </a>
            <% else %>
              <a data-toggle="modal" id="export_class" data-type="location_export" data-merchant_location="<%= params[:user_id] %>" class="exportReport" href="#exportModalDialog">
                <button type="button" class="btn blue_btn btn-sm"> Export</button>
              </a>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
    <% @location_export = true %>
    <%= render partial: 'admins/shared/export_modal' %>
      <% unless params[:user_id].present? %>
        <%= form_tag locations_path,method: :get, class:'search_transactions' do %>
          <div class="col-sm-12" id="index4">
            <div class="col-sm-12">
              <div class="collapse mb-3" id="search">
                <div class="card card-body">
                  <div class="row" id="index5">
                    <div class="col-md-12">
                      <h5>Search Locations</h5>
                    </div>
                    <div class="col-md-12" id="index6">
                      <div class="form-group col-md-4">
                        <input type="hidden" name="filter" value="<%= params[:filter] %>"  />
                        <label class="label_location_search" for="id">Search</label>
                        <input type="text" name="query[find_by]" value="<%= params[:query]["find_by"] if params[:query].present? %>" id="token" class="form-control" placeholder=""  />
                      </div>
                      <div class="form-group col-md-4">
                        <label class="label_location_search">Search By</label>
                        <% if params[:query].present? %>
                          <% query_option_custom = params[:query]['option'] %>
                        <% else %>
                          <% query_option_custom = "business_name" %>
                        <% end %>
                        <%= select_tag 'query[option]', options_for_select({"Category" => "category", "DBA Name" => "business_name","DBA URL"=>"web_site","E-Commerce Platform" => "token","Location City" => "city","Location Key" => "location_secure_token","Location State" => "state","Main Wallet Id"=>"main_wallet_id","Merchant Email" => "merchant_email","Merchant Id" => "merchant_id","Merchant Name" => "merchant_name" },query_option_custom ), class: "form-control" %>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-12 text-right">
                    <button type="submit" class="btn btn-success btn-sm search_button"> Search </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
 
      <% end  %>
    <% end %>
    <div class="row" >
      <div class="col-sm-6 col-md-6">
        <div class="dataTables_length">
          <div class="col-md-6 ad-verifications-st-3 ad-verifications-st-as">
            <span class="ad-verifications-st-4">Show</span>
            <span class="ad-verifications-st-5">
              <%= form_tag locations_path(), method: :get, id: 'location_filter'  do  %>
                 <%= select_tag "filter", options_for_select(@filters.map{|v|[v]}, selected: params[:filter].present? ? params[:filter] : "10"),
                                :prompt => false,
                                :required => true,
                                class: "form-control form-control-sm location_filter",
                                data: {confirm: "Are you sure ?"}
                 %>
                <% if params[:user_id].present? %>
                    <input type="hidden" name="user_id" value="<%= params[:user_id] %>" />
                <% end %>
                <% if params[:query].present? %>
                    <input type="hidden" name="query[find_by]" value="<%= params[:query].present? ? params[:query]["find_by"] : "" %>" />
                    <input type="hidden" name="query[option]" value="<%= params[:query].present? ? params[:query]["option"] : "" %>" />
                <% end %>
              <% end %>
            </span>
            <span class="ad-verifications-st-6">Entries</span>
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-md-6">
        <!--        <div class="col-md-12">-->
        <!--          <input type="text" class="form-control pull-right search_input_field" value="<%#= params[:q]%>" placeholder=" &#xf002; Search&hellip;" name="search" id="srch-term">-->
        <!--        </div>-->
      </div>
    </div>

    <div class="card-body">
      <section class="example" id="index7" >
        <div class="">
          <div class="table-responsive">
            <table id="datatable-keytable-locations" class="table table-striped table-bordered table-hover" cellspacing="0" cellpadding="0">
              <thead>
              <tr>
                <%# if params[:user_id].nil? %>
                  <th class="all">Merchant ID</th>
                  <th >Merchant Name</th>
                  <th >DBA Name</th>
                  <th>Main Wallet ID</th>
                  <th >Merchant Email</th>
                  <th >E-Commerce Platform</th>
                <%# else %>
<!--                  <th > ID</th>-->
<!--                  <th > Business</th>-->
<!--                  <th> Email</th>-->
<!--                  <th>Web Site</th>-->
                <%# end %>
                <th >Category</th>
                <th >Action</th>
              </tr>
              </thead>
              <tbody>
              <% unless @locationss.blank?%>
                <% @locationss.each do |l| %>
                  <tr>
                    <%# if params[:user_id].nil? %>
                      <td><%= l.try(:merchant).try(:id) %></td>
                      <td><%= l.try(:merchant).try(:name).present? ? l.try(:merchant).try(:name).truncate(45) : '--' %></td>
                      <td><%= l.try(:business_name) %></td>
                      <td><%= l.try(:wallets).try(:first).try(:id)%></td>
                      <td><%= l.try(:merchant).try(:email) %></td>
                      <td><%= l.ecomm_platform.blank? ? ' ' : l.try(:ecomm_platform).try(:name).truncate(45) %></td>
                    <!--                      <td>-->
                        <%# if l.ecom_platform.present? %>
                          <%# unless JSON(l.ecom_platform).first.blank? %>
<!--                            <table>-->
                              <%#  JSON(l.ecom_platform).each do |e| %>
<!--                                <tr style="background: none !important;"><td style="border:none !important;"><%#=  e %></td></tr>-->
                              <%# end %>
<!--                            </table>-->
                          <%# end %>
                        <%# end %>
<!--                      </td>-->
                    <td><%= l.category.blank? ? ' ' : l.try(:category).try(:name).truncate(45) %></td>
                    <td><%= link_to('Wallets',l, class: 'btn btn-sm btn-success') %>
                      <%= link_to('Edit',edit_location_path(l),class: 'btn btn-sm btn-info') %>
                      <%#= link_to('Update Token',update_location_locations_path(l.id),class: 'btn btn-sm btn-warning', data: { method: "get", confirm: "Are you sure you want to update token?" }) %>
                      <% unless current_user.support_mtrac? %>
                        <%= link_to('Gateway',get_gateways_location_path(l.id),class: 'btn btn-sm btn-primary', remote: true) %>
                        <%= select_tag('is_block', options_for_select([["block", true], ["unblocked", false]], selected: l.is_block),
                                       include_blank: false,
                                       class: 'form-control',
                                       id: 'status index8',
                                       data: {
                                           remote: true,
                                           url: location_in_valid_location_path(l.id),
                                           method: 'post',
                                           confirm: 'Are you sure?'
                                       })
                        %>
                      <% end %>
                    </td>
                  </tr>
                <% end %>
              <% else %>
                <% if params[:user_id].present? %>
                  <tr><td colspan="8" id="index9" >No Location Exist.</td></tr>
                <% else %>
                  <tr><td colspan="6" id="index10" >No Location Exist.</td></tr>
                <% end %>
              <% end %>

              </tbody>
            </table>
            <span id="index11">Showing <%=@locationss.try(:count)%> of <%=@locationss.total_count %> records</span>
            <%= paginate @locationss, :theme => 'twitter-bootstrap-3', :pagination_class => "pagination-small pagination-centered pull-right padd" %>
          </div>
        </div>
      </section>
    </div>
  </div>
</div>
<section id="location_gateways"></section>
<div id="cover-spin"></div>




