$('#add_new_ecomplatform').html("<%= j render partial: 'location_add_ecom_platform' %>")
$('#myModalPlatform').modal();
$(document).ready(function () {

    $('#location_ecomm_form').validate({ // initialize the plugin
        rules: {
            "ecomm_platform[name]": {
                required: true
            }
        }
    });

    $('#close_modal_button').click(function(){
        setTimeout(function(){
            $(document.body).addClass( 'modal-open' );
        }, 500);
    });
    $('#location_ecomm_form_title_field').keypress(function(){
        if(this.value=="" || this.value==null){
            $('#warning_showing_span').text("Fill Up Your Fields!");
        }else{
            $('#warning_showing_span').text("");
        }
    });
    $('#location_ecomm_form').submit(function(e){
        e.preventDefault();
        $.ajax({
            url: "<%=create_ecom_platform_locations_path%>",
            type: 'POST',
            data: {name:$('#location_ecomm_form_title_field').val()},
            success: function(result){
                if(result.message){
                    $('#warning_showing_span').text(result.message);
                }else{
                    $('#ecomm_platform_id').append($('<option></option>').attr('value',result.id).text(result.name));
                    $('#myModalPlatform').modal('toggle');
                    setTimeout(function(){
                        $(document.body).addClass( 'modal-open' );
                    }, 500);
                }
            }});
        // $('#dispute_reason_form')
        // $.each(selectValues, function(key, value) {
        //      $('#mySelect')
        //          .append($("<option></option>").attr("value",key).text(value));
    });
})
$('#cover-spin').fadeOut();