$('#add_new_category').html("<%= j render partial: 'location_add_category' %>")
$('#myModal').modal();
$(document).ready(function () {

    $('#dispute_reason_form').validate({ // initialize the plugin
        rules: {
            "category[name]": {
                required: true
            }
        }
    });

    $('#close_modal_button').click(function(){
        setTimeout(function(){
            $(document.body).addClass( 'modal-open' );
        }, 500);
    });
    $('#location_category_form_title_field').keypress(function(){
        if(this.value=="" || this.value==null){
            $('#warning_showing_span').text("Fill Up Your Fields!");
        }else{
            $('#warning_showing_span').text("");
        }
    });
    $( "#dispute_reason_form" ).submit(function( event ) {
        event.preventDefault();
        create_category()
    });

    function create_category(){
        $.ajax({
            url: "<%=create_category_locations_path%>",
            type: 'POST',
            data: {name:$('#location_category_form_title_field').val()},
            success: function(result){
                if(result.message){
                    $('#warning_showing_span').text(result.message);
                }else{
                    $('#category_id').append($('<option></option>').attr('value',result.id).text(result.name));
                    $('#myModal').modal('toggle');
                    setTimeout(function(){
                        $(document.body).addClass( 'modal-open' );
                    }, 500);
                }
            }});
    }
});
$('#cover-spin').fadeOut();