
<%= stylesheet_link_tag "admins/locations.css", media: 'all', 'data-turbolinks-track' => 'reload' %>

<div class="sidebar-overlay" id="sidebar-overlay"></div>
<div class="title-block">
  <h1 class="title text-capitalize" id="new1">
    New Locations
  </h1>
</div>
<span id="error">
</span>
    <section class="section">
            <div class="row">
              <div class="card sameheight-item items" data-exclude="xs,sm,lg">
                <%=	simple_form_for @location ,url: locations_path,html: {id: 'locationform',autocomplete: 'off', onsubmit:"disableButton('locationform','location-btn')"}, method: :post do |l| %>
                    <%= l.hidden_field :merchant_id, :value => @user.id ,id:'user_id'%>
                  <div class="tab_container location_tabs">
                      <input id="tab1" type="radio" name="tabs" checked class="tab-input">
                      <label for="tab1" class="location_label"><i class="fa fa-user"></i><span>Profile Info</span></label>

                      <input id="tab2" type="radio" name="tabs" class="tab-input">
                      <label for="tab2" class="location_label"><i class="fa fa-file"></i><span>ISO & Agent Setup</span></label>

                      <input id="tab3" type="radio" name="tabs" class="tab-input">
                      <label for="tab3" class="location_label"><i class="fa fa-money"></i><span>Location Buy Rate</span></label>

                      <input id="tab4" type="radio" name="tabs" class="tab-input">
                      <label for="tab4" class="location_label"><i class="fa fa-money"></i><span>Bank Accounts</span></label>

                      <input id="tab5" type="radio" name="tabs" class="tab-input">
                      <label for="tab5" class="location_label"><i class="fa fa-university"></i><span>Gateway Setup</span></label>

                      <input id="tab6" type="radio" name="tabs" class="tab-input">
                      <label for="tab6" class="location_label"><i class="fa fa-money"></i><span>Account Limit</span></label>

                      <input id="tab7" type="radio" name="tabs" class="tab-input">
                      <label for="tab7" class="location_label"><i class="fa fa-connectdevelop"></i><span>Portal Settings</span></label>

                      <input id="tab8" type="radio" name="tabs" class="tab-input">
                      <label for="tab8" class="location_label"><i class="fa fa-connectdevelop"></i><span>Documentation</span></label>
                      <%= l.simple_fields_for :fees  do |fee| %>
                        <section id="content1" class="tab-content locations-tab">
                          <%= render partial: 'admins/locations/profile' ,:locals =>  {:f => l, :u => @user, :fee => fee}%>
                        </section>

                        <section id="content2" class="tab-content locations-tab">
                          <%= render partial: 'admins/locations/iso_and_agent' ,:locals =>  {:f => l, :u => @user}%>
                        </section>

                        <section id="content3" class="tab-content locations-tab">
                          <%= render partial: 'admins/locations/fee', locals: {:f => l, :u => @user, :fee => fee}	  %>
                        </section>

                        <section id="content4" class="tab-content locations-tab">
                          <%= render partial: 'admins/locations/location_wallets' ,:locals => {:f => l,user: @user} %>
                        </section>

                        <section id="content5" class="tab-content locations-tab">
                          <p> <%= render partial: 'admins/locations/banking_setup', locals: {:f => l, :u => @user}	  %> </p>
                        </section>

                        <section id="content6" class="tab-content locations-tab">
                          <p> <%= render partial: 'admins/locations/account_limits', locals: {:f => l, :u => @user} %> </p>
                        </section>

                        <section id="content7" class="tab-content locations-tab">
                          <p> <%= render partial: 'admins/locations/locations_settings', locals: {:f => l, :u => @user} %> </p>
                        </section>
                      <section id="content8" class="tab-content locations-tab">
                        <%= l.fields_for :documentation, Documentation.new do |form| %>
                          <p> <%= render partial: 'admins/locations/edit_documentation', locals: {:f => form} %> </p>

                        <% end %>
                      </section>
                      <% end %>
                    </div>
                  <div class="text-center">
                    <button type="submit" name="commit" value="Save" id="location-btn" class="btn btn-primary btn-lg">Save</button>
                  </div>
                    <%#= l.submit "Save",id:"location-btn", class: "btn btn-primary" %>
                <% end %>
              </div>
            </div>
          </section>
<section>
</section>
<section id="editMerchant"></section>
<%#= javascript_include_tag 'admins/locations.js' %>