<% num = @profit_count*1+1 %>
<% user_array = ["<div class='form-group col-md-1' id='div34'> <span><a id='remove_profit_users' class='col-md-12 div5'><i class='fa fa-minus-circle fa-2x'></i></a></span> </div><div class='form-group col-md-4 ui-front div50 count_div'> <label class='no-padding cursor_default'><span>Select Company</span></label> <input type='text' class='form-control next-profit-users' value='' id='XXXXXX' autocomplete='new_password' name='profit_splits[splits][profit_split][OOOOOO][name]' required='true' onkeyup=for_profit_users('XXXXXX','YYYY')><input type='hidden' id='companyroleHidden' value='' name='profit_splits[splits][profit_split][OOOOOO][role]' class='form-control' required='true'> <input type='hidden' id='companyInputHidden' value='' name='profit_splits[splits][profit_split][OOOOOO][wallet]' class='form-control' required='true'> <div id='companyInput_error_XXXXXX'></div> </div> <div class='form-group col-md-4'> <div class='div63' id='locationDiv'> <label class='no-padding cursor_default'><span>Select Location</span></label> <select id='locationText' class='form-control locationText div64'></select> </div> <div id='locationText_error'></div> </div>"] %>
<% user_array.each_with_index do |a,i|  %>
  <% b = a.gsub("XXXXXX","companyInput_#{num}") %>
  <% b = b.gsub("YYYY", "#{num}") %>
  <% b = b.gsub("OOOOOO","#{num}")  %>
  <% b = b.gsub("companyInputHidden","companyInput_#{num}Hidden")  %>
  <% b = b.gsub("companyroleHidden","companyrole_#{num}Hidden")  %>
  <% b = b.gsub("locationDiv", "locationDiv#{num}") %>
  <% b = b.gsub("locationText", "locationText#{num}") %>
  <% b = b.gsub("locationText_error", "locationText_error#{num}") %>
  <% user_array[i] = b %>
<% end %> // setting id for users
<% split_array = "<div class='col-md-12' id='div36'> <div class='col-md-4'> <div class='row'> <div class='col-md-8'> <div class='col-md-6 form-group div50'> <div> <input type='number' name='profit_splits[splits][profit_split][OOOOOO][percent]' id='super_company_percent_OOOOOO' class='location_select form-control dollar col-xs-2 percent' placeholder='0' step='any'> </div> <div id='super_company_percent_error_OOOOOO' class='percent_error'></div> </div> <div class='col-md-6 form-group div46'> <input type='number' name='profit_splits[splits][profit_split][OOOOOO][dollar]' id='super_company_dollar_OOOOOO' class='location_select dollar form-control col-xs-2 dollar percent' placeholder='0' step='any'> </div> <div id='super_company_dollar_error_OOOOOO' class='dollar_error'></div> </div> </div> </div></div>" %>
<% split_array = split_array.gsub("OOOOOO","#{num}")  %> // setting id for users

profit_section = '<div class="col-md-12 div47">'+ htmlDecode('<%= user_array.first %>')+ '</div>' +
    '<div class="col-md-12" id="div35">\n' +
    '                  <div class="col-md-4">\n' +
    '                    <div class="row">\n' +
    '                      <div class="col-md-8">\n' +
    '                        <div class="col-md-6 div5">\n' +
    '                          <p class="div44" >% Split </p>\n' +
    '                        </div>\n' +
    '                        <div class="col-md-6 div43">\n' +
    '                          <p class="div44">$ Split </p>\n' +
    '                        </div>\n' +
    '                      </div>\n' +
    '                    </div>\n' +
    '                  </div>\n' +
    '              </div>' + htmlDecode('<%= split_array %>');

$("#profit_splits_on_section").append(profit_section);

function htmlDecode(input){ // transalating &lt to <
    var e = document.createElement('div');
    e.innerHTML = input;
    return e.childNodes[0].nodeValue;
}