// we are keeping this file in case they want to add multiple submerchants we can use this file
<% num = @ez_count*1+1 %>
<% user_array = ["<div class='form-group col-md-12'><div class='row'><div class='col-md-4 ui-front'><input type='text' class='form-control' value='' id='XXXXXX' name='profit_splits[splits][ez_merchant][OOOOOO][ez_merchant_1][name]' autocomplete='off' onkeyup=for_ez_merchant('XXXXXX','YYYY')><input type='hidden' id='XXXXXXHidden' value='' name='profit_splits[splits][ez_merchant][OOOOOO][ez_merchant_1][name]' class='form-control'><p id='ezspanError00000'  style='visibility: hidden; color: red;margin-top: 10px'></p></div><div class='col-md-4' id='ezLocationDiv' style='margin-top: -24px;'><label class='no-padding cursor_default'><span>Select Location</span></label><select id='ezLocationText' class='form-control ezLocationText' style='width: 97%;margin-top: 5px;'></select></div><div class='col-md-1'><label class='radio-label'><input type='checkbox' name='profit_splits[splits][ez_merchant][OOOOOO][ez_merchant_1]' value='true' id='attach_radio' ><span class='checkmark'></span></label><span><a id='remove_ez_merchants' class='col-md-12' style='margin-left: 30px;margin-top: -14px'><i class='fa fa-minus-circle fa-2x'></i></a></span></div></div></div>"] %>
<% user_array.each_with_index do |a,i|  %>
  <% co = i + num %>
  <% b = a.gsub("XXXXXX","ez_merchant_#{@ez_count}") %>
  <% b = b.gsub("YYYY", "#{@ez_count}") %>
  <% b = b.gsub("OOOOOO","#{@ez_count}")  %>
  <% b = b.gsub("ezLocationDiv", "ezLocationDiv#{@ez_count}") %>
  <% b = b.gsub("ezLocationText", "ezLocationText#{@ez_count}") %>
  <% b = b.gsub("ezspanError00000", "ezspanError#{@ez_count}") %>
  <% user_array[i] = b %>
<% end %> // setting id for users
<% split_array = "<div class='col-md-4'><div class='row'><div class='col-md-8'><div class='col-md-6 form-group' style='padding-left:0;' ><input type='number' name='profit_splits[splits][ez_merchant][OOOOOO][ez_merchant_1][percent]' class='form-control' value='0' step='any'></div><div class='col-md-6 form-group' style='padding-right:0;'><input type='number' name='profit_splits[splits][ez_merchant][OOOOOO][ez_merchant_1][dollar]' class='form-control' value='0' step='any'></div></div></div></div>" %>
<% split_array = split_array.gsub("OOOOOO","#{@ez_count}")  %> // setting id for users

ez_section = '<div class="row" id="ez_merchant_on"><div class="col-md-12" style="padding: 17px"><div class="col-md-12">'+ htmlDecode('<%= user_array.first %>')+ '</div>' +
    '</div><div class="col-md-12" style="padding-left: 10px">\n' +
    '                  <div class="col-md-4">\n' +
    '                    <div class="row">\n' +
    '                      <div class="col-md-8">\n' +
    '                        <div class="col-md-6" style="padding: 0px">\n' +
    '                          <p style="font-weight: bold;color:black;margin-left: 25px;float: left">% Split </p>\n' +
    '                        </div>\n' +
    '                        <div class="col-md-6" style="padding: 0px;">\n' +
    '                          <p style="font-weight: bold;color:black;margin-left: 25px;float: left">$ Split </p>\n' +
    '                        </div>\n' +
    '                      </div>\n' +
    '                    </div>\n' +
    '                  </div>\n' +
    '              </div>' +
    '<div class="col-md-12" style="padding-left:35px">'+ htmlDecode('<%= split_array %>') + '</div></div></div>';

$("#ez_section").append(ez_section);

function htmlDecode(input){ // transalating &lt to <
    var e = document.createElement('div');
    e.innerHTML = input;
    return e.childNodes[0].nodeValue;
}