<% num = @count*3+1 %>
<% user_array = ["<div class='form-group col-md-4'><div class='row'><div class='col-md-1' style='margin-top: 6%;padding-left: 10px'><span><a id='remove_baked_users' class='col-md-12 '><i class='fa fa-minus-circle fa-2x new_div5'></i></a></span></div><div class='col-md-11 ui-front'><label class='no-padding cursor_default'><span>Select User #{@count*3-2}</span></label><input type='text' class='autocomplete_off next-baked-users form-control input-field XXXXXX first-user user_style' value='' id='XXXXXX' name=' profit_splits[splits][OOOOOO][user_1][name]' onkeyup=for_super_users('XXXXXX')><input type='hidden' id='XXXXXXHidden' value='' name='profit_splits[splits][OOOOOO][user_1][wallet]' class='form-control'><div id='XXXXXX_error'></div></div></div></div>","<div class='form-group col-md-4 ui-front'><label class='no-padding cursor_default user_style'><span>Select User #{@count*3-1}</span></label><input type='text' class='autocomplete_off next-baked-users form-control input-field' value='' id='XXXXXX' name='profit_splits[splits][OOOOOO][user_2][name]'  onkeyup=for_super_users('XXXXXX')><input type='hidden' id='XXXXXXHidden' value='' name='profit_splits[splits][OOOOOO][user_2][wallet]' class='form-control'><div id='XXXXXX_error'></div></div>","<div class='form-group col-md-4 ui-front'><label class='no-padding cursor_default'><span>Select User #{@count*3-0}</span></label><input type='text'  class='user_style autocomplete_off next-baked-users form-control input-field' value='' id='XXXXXX' name='profit_splits[splits][OOOOOO][user_3][name]' onkeyup=for_super_users('XXXXXX') ><input type='hidden' id='XXXXXXHidden' value='' name='profit_splits[splits][OOOOOO][user_3][wallet]' class='form-control'><div id='XXXXXX_error'></div></div>"] %>
<% user_array.each_with_index do |a,i|  %>
  <% co = i + num  %>
  <% b = a.gsub("XXXXXX","user_#{co}") %>
  <% b = b.gsub("OOOOOO","#{@count}")  %>
  <% user_array[i] = b %>
<% end %> // setting id for users
<% split_array = "<div class='col-md-4'><div class='row'><div class='col-md-1'></div><div class='col-md-11'><div class='col-md-6 form-group' style='padding-left: 0px'><div><input type='number' name='profit_splits[splits][OOOOOO][user_1][percent]' class='form-control user_percent' id='XXXXXX' value='' placeholder='0' required='true' step='any'></div><div id='XXXXXX_error' class='percent_error'></div></div><div class='col-md-6 form-group' style='padding-right: 0px'><input type='number' name='profit_splits[splits][OOOOOO][user_1][dollar]' class='form-control' value='0' step='any'></div></div></div></div>","<div class='form-group col-md-2'><div><input type='number' name='profit_splits[splits][OOOOOO][user_2][percent]' id='XXXXXX' class='form-control user_percent' value='' placeholder='0' step='any'></div><div id='XXXXXX_error' class='percent_error'></div></div><div class='form-group col-md-2'><input type='number' name='profit_splits[splits][OOOOOO][user_2][dollar]' class='form-control' value='0' step='any'></div>","<div class='form-group col-md-2'><div><input type='number' name='profit_splits[splits][OOOOOO][user_3][percent]' id='XXXXXX' class='form-control user_percent' value='' placeholder='0' step='any'></div><div id='XXXXXX_error' class='percent_error'></div></div><div class='form-group col-md-2'><input type='number' name='profit_splits[splits][OOOOOO][user_3][dollar]' class='form-control' value='0' step='any'></div>" %>
<% split_array.each_with_index do |a,i|  %>
<% co = i + num  %>
<% b = a.gsub("XXXXXX","user_#{co}_percent") %>
<% b = b.gsub("OOOOOO","#{@count}")  %>
<% split_array[i] = b %>
<% end %> // setting id for users

$('.autocomplete_off').prop('autocomplete', '<%= [*('A'..'Z')].sample(8).join %>');
baked_section = '<div class="row" style="padding: 10px" id="baked_iso_on_section"><div class="col-md-12" style="padding: 25px"><div class="col-md-12">'+ htmlDecode('<%= user_array.first %>')+ '' + htmlDecode('<%= user_array.second %>') +''+ htmlDecode('<%= user_array.third %>')+'</div><div class="col-md-1"  style="margin-top: 2%;padding-left: 10px"></div>' +
    '</div><div class="col-md-12" style="padding-left: 10px"><div class="col-md-12"><div class="col-md-4"><div class="row"><div class="col-md-1"></div><div class="col-md-11" style="padding: 0px"><div class="col-md-6" style="padding: 0px"><p style="font-weight: bold;color:black;margin-left: 25px;float: left">% Split </p></div><div class="col-md-6" style="padding: 0px;"><p style="font-weight: bold;color:black;margin-left: 25px;float: left">$ Split </p></div></div></div></div><div class="col-md-2" style="padding: 0px"><p style="font-weight: bold;color:black;margin-left: 25px;float: left">% Split </p></div><div class="col-md-2" style="padding: 0px;"><p style="font-weight: bold;color:black;margin-left: 25px;float: left">$ Split </p></div><div class="col-md-2" style="padding: 0px"><p style="font-weight: bold;color:black;margin-left: 25px;float: left">% Split </p></div><div class="col-md-2" style="padding: 0px;"><p style="font-weight: bold;color:black;margin-left: 25px;float: left">$ Split </p></div></div></div><div class="col-md-12" style="padding-left: 22px;">' +
    '<div class="col-md-12">'+ htmlDecode('<%= split_array.first %>')+''+ htmlDecode('<%= split_array.second %>')+''+ htmlDecode('<%= split_array.third %>')+ '</div></div></div>';
$("#baked_section").append(baked_section);

function htmlDecode(input){ // transalating &lt to <
    var e = document.createElement('div');
    e.innerHTML = input;
    return e.childNodes[0].nodeValue;
}
