
  <div class="title-block">
    <h1 class="title">
     Email Templates 
     </h1>
  </div>
  <section class="section">
    <%= simple_form_for @et , url: email_template_path(@et) do |f| %>
    <div class="row">
      <div class="col-md-12">
        <div class="card sameheight-item items" data-exclude="xs,sm,lg">
          <div class="card-header bordered">
            <div class="header-block">
              <h3 class="title"><%= @et.title %></h3>
            </div>
          </div>
          <div class="card-block">

            <div class="row">
              <div class="form-group col-sm-12">
                <label></label>
                <span class="required">*</span>
                  <%= f.cktext_area :body, label: 'Body',input_html: {class: 'form-control underlined'} %>
              </div>
            </div>

          </div>
          <div class="card-footer text-right">
            <a class="btn btn-secondary btn-sm" href="<%= root_path %>">Cancel</a>
             <%= f.submit "UPDATE", class: 'btn btn-primary btn-sm' %>
          </div>
        </div>
      </div>
    </div>
    <% end %>              
</section>