
<div class="sidebar-overlay" id="sidebar-overlay"></div>
  <div class="title-block">
    <h1 class="title text-capitalize pull-left" >
      Email templates
    </h1>
    
  </div>
  
  <section class="section">
    <div class="row">
        <div class="card sameheight-item items" data-exclude="xs,sm,lg">
          <div class="card-header bordered">
            <div class="header-block">
              <h3 class="title text-capitalize pull-left">All Tempaltes</h3>
             
            </div>
          </div>

          <section class="example">
            <div class="">
              <div class="table-responsive">
                <table id="datatable-keytable" class="table table-striped table-bordered" cellspacing="0" cellpadding="0">

                  <thead>
                  <tr>
                    <th class="all">Title</th>
                    <th class="all">Action</th>
                  </tr>
                  </thead>

                  <tbody>
                    <% @email_templates.each do |et| %>
                      <tr>
                        <td><%= et.title %></td>
                        <td><%= link_to edit_email_template_path(et), class: 'btn btn-down btn-primary ma'  do %>
                               <i class="icon-eye icons"></i>
                          <% end %>
                        </td>
                      </tr>
                    <% end %>
                  </tbody>
                </table>
              </div>
            </div>
          </section>
        </div>
    </div>
  </section>


<script type="text/javascript">
$(document).ready(function(){
    $('#datatable-keytable').DataTable({
       responsive: true,
        "sScrollX": false,
        "sscrollX": false,
        "order": [[ 0, "desc" ]]
    });
});
   
</script>