<div id="buyRateModal" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header modal-header-buy-rate" >
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title capitalize">New Program</h4>
      </div>
      <div class="modal-body">
                <!----------------------------------------------ADD NEW FEE STARTS--------------------------------------->
            <%= simple_form_for @fee ,url: @path , data:{toggle: 'validator'}, method: @fee.new_record? ? :post : :put do |fee| %>
              <div class="well well-sm padding-bottom-0-buy-rate">
                <div class="row">
                  <div class="row">
                    <div class="form-group col-md-12 padding-top-5-buy-rate">
                      <label class="program-name-buy-rate">Program Name : </label>
                      <div class="col-md-6">
                        <%= fee.input :name, label: false ,required: true%>
                      </div>
                      <div class="col-md-6"></div>
                      <div class="col-md-12 padding-0-buy-rate">
                        <hr>
                      </div>
                    </div>
                    <div class="form-group  col-md-9">
                      <!----------------------------------LEFT MAIN FEE TABS ----------------------------------------------->
                      <!---------------CUSTOMER FEE TAB--------------->
                      <!---------------TRANSACTION FEE Mobile TAB--------------->
                      <div class="col-md-6 form-group">
                        <label class="no-padding">Transaction Fee - Mobile App</label>
                        <label class="no-padding pull-right">$</label>
                      </div>
                      <div class="col-md-6 form-group">
                        <div class="row">
                          <div class="col-md-5">
                            <div class="row">
                              <div class="col-md-12">
                                <%= fee.input :transaction_fee_app_dollar, label: false, input_html: { value: @fee.new_record? ? 0 : @fee.transaction_fee_app_dollar} %>
                              </div>
                            </div>
                          </div>
                          <div class="col-md-7">
                            <div class="row">
                              <label class="no-padding">%</label>
                              <div class="col-md-8">
                                <%= fee.input :transaction_fee_app, label: false, input_html: { value: @fee.new_record? ? 0 : @fee.transaction_fee_app} %>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <!---------------TRANSACTION FEE DEBIT CARD TAB--------------->
                      <div class="col-md-6 form-group">
                        <label class="no-padding">Transaction Fee - Debit Card</label>
                        <label class="no-padding pull-right">$</label>
                      </div>
                      <div class="col-md-6 form-group">
                        <div class="row">
                          <div class="col-md-5">
                            <div class="row">
                              <div class="col-md-12">
                                <%= fee.input :transaction_fee_dcard_dollar, label: false, input_html: { value: @fee.new_record? ? 0 : @fee.transaction_fee_dcard_dollar} %>
                              </div>
                            </div>
                          </div>
                          <div class="col-md-7">
                            <div class="row">
                              <label class="no-padding">%</label>
                              <div class="col-md-8">
                                <%= fee.input :transaction_fee_dcard, label: false, input_html: { value: @fee.new_record? ? 0 : @fee.transaction_fee_dcard} %>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <!---------------TRANSACTION FEE CREDIT CARD TAB--------------->
                      <div class="col-md-6 form-group">
                        <label class="no-padding">Transaction Fee - Credit Card</label>
                        <label class="no-padding pull-right">$</label>
                      </div>
                      <div class="col-md-6 form-group">
                        <div class="row">
                          <div class="col-md-5">
                            <div class="row">
                              <div class="col-md-12">
                                <%= fee.input :transaction_fee_ccard_dollar, label: false, input_html: { value: @fee.new_record? ? 0 : @fee.transaction_fee_ccard_dollar} %>
                              </div>
                            </div>
                          </div>
                          <div class="col-md-7">
                            <div class="row">
                              <label class="no-padding">%</label>
                              <div class="col-md-8">
                                <%= fee.input :transaction_fee_ccard, label: false, input_html: { value: @fee.new_record? ? 0 : @fee.transaction_fee_ccard} %>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <!---------------B2B FEE TAB--------------->
                      <div class="col-md-6 form-group">
                        <label class="no-padding">B2B Fee (Within the network)</label>
                        <label class="no-padding pull-right">%</label>
                      </div>
                      <div class="col-md-6 form-group ">
                        <div class="row">
                          <div class="col-md-10">
                            <%= fee.input :b2b_fee, label: false, input_html: { value: @fee.new_record? ? 0 : @fee.b2b_fee} %>
                          </div>
                        </div>
                      </div>
                      <!---------------GIFT CARD FEE TAB--------------->
                      <div class="col-md-6 form-group">
                        <label class="no-padding">Gift Card Fee</label>
                        <label class="no-padding pull-right">$</label>
                      </div>
                      <div class="col-md-6 form-group ">
                        <div class="row">
                              <div class="col-md-10">
                                <%= fee.input :giftcard_fee, label: false, input_html: { value: @fee.new_record? ? 0 : @fee.giftcard_fee} %>
                              </div>
                            </div>
                      </div>
                      <!---------------SEND CHECKS TAB--------------->
                      <div class="col-md-6 form-group">
                        <label class="no-padding">Send Checks</label>
                        <label class="no-padding pull-right">$</label>
                      </div>
                      <div class="col-md-6 form-group">
                        <div class="row">
                          <div class="col-md-5">
                            <div class="row">
                              <div class="col-md-12">
                                <%= fee.input :send_check, label: false, input_html: { value: @fee.new_record? ? 0 : @fee.send_check} %>
                              </div>
                            </div>
                          </div>
                          <div class="col-md-7">
                            <div class="row">
                              <label class="no-padding">%</label>
                              <div class="col-md-8">
                                <%= fee.input :redeem_fee, label: false, input_html: { value: @fee.new_record? ? 0 : @fee.redeem_fee} %>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <!---------------ADD MONEY BY CHECK TAB--------------->
                      <div class="col-md-6 form-group">
                        <label class="no-padding">Add Money By Check</label>
                        <label class="no-padding pull-right">$</label>
                      </div>
                      <div class="col-md-6 form-group ">
                        <div class="row">
                          <div class="col-md-5 form-group">
                            <div class="row">
                              <div class="col-md-12">
                                <%= fee.input :add_money_check, label: false, input_html: { value: @fee.new_record? ? 0 : @fee.add_money_check} %>
                              </div>
                            </div>
                          </div>
                          <div class="col-md-7">
                            <div class="row">
                              <label class="no-padding">%</label>
                              <div class="col-md-8">
                                <%= fee.input :redeem_check, label: false, input_html: { value: @fee.new_record? ? 0 : @fee.redeem_check} %>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="col-md-6 form-group">
                        <label class="no-padding">Chargeback Fee</label>
                        <label class="no-padding pull-right">$</label>
                      </div>
                      <div class="col-md-6 form-group">
                        <div class="row">
                          <div class="col-md-10">
                            <%= fee.input :charge_back_fee, label: false, input_html: { value: @fee.new_record? ? 0 : @fee.charge_back_fee} %>
                          </div>
                        </div>
                      </div>
                      <div class="col-md-6 form-group">
                        <label class="no-padding">Retrieval Fee</label>
                        <label class="no-padding pull-right">$</label>
                      </div>
                      <div class="col-md-6 form-group">
                        <div class="row">
                          <div class="col-md-10">
                            <%= fee.input :retrievel_fee, label: false, input_html: { value: @fee.new_record? ? 0 : @fee.retrievel_fee} %>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12">
                  <%= fee.submit "Save", class: "btn btn-primary pull-right"  %>
                  <!--<button type="submit" class="btn btn-primary">Save</button>-->
                </div>
              </div>
            <% end %>
      </div>
    </div>
  </div>
</div>