<div class="title-block">
  <div class="row">
    <div class="col-md-6">
      <h1 class="title text-capitalize">Buy Rate Programs</h1>
    </div>
    <div class="col-md-6">
      <%= link_to  new_admins_buy_rate_path(), remote: true do  %>
          <button type="button" class="btn btn-primary pull-right"> Add New </button>
      <% end %>
    </div>
  </div>
</div>
<section id="buyrate_modal"></section>
<div class="container-fluid">
  <div class="row">
    <div class="col-xs-12 col-lg-10 config">
      <% @programs.each do |program| %>
          <%= link_to edit_admins_buy_rate_path(program), remote: true do  %>
              <button type="button" class="btn btn-primary cus-b"> <%= program.name %> <span class="pull-right" >Total Merchants: <%= count_merchants(program) %></span></button>
          <% end %>
      <% end %>
    </div>
  </div>
</div>
