<div class="">
  <div class="table-responsive">
    <table id="datatable-keytable_invoice" class="table table-striped table-bordered" cellspacing="0" cellpadding="0">
      <thead>
      <tr>
        <th>Id</th>
        <th>Check Number</th>
        <th>User ID</th>
        <th>Name</th>
        <th>Recipient</th>
        <th>Amount</th>
        <th>Creation Date</th>
        <th>Status</th>
        <th>Details</th>
      </tr>
      </thead>
      <tbody>
      <% if !@invoices.nil?%>
      <% @invoices.each do |c| %>
          <tr>
            <td><%=c.id	  %></td>
            <td><%=c.number	  %></td>
            <td><%=c.user_id	  %></td>
            <td><%=	c. name  %></td>
            <td><%=c.recipient	  %></td>
            <td><%= number_with_precision(number_to_currency(c.amount.to_f), precision: 2)%></td>
            <td class="timeUtc"><%=	c.created_at.strftime("%m/%d/%Y %H:%M:%S %p")%></td>
            <td>
            <% if c.status == "PAID" %>
                <span class="badge badge-info paid_status"><%=	c.status  %></span>
            <% elsif c.status == "UNPAID" %>
                <span class="badge badge-info unpaid_status"><%=	c.status  %></span>
            <% elsif c.status == "CANCELED" || c.status == "CANCELlED" %>
                <span class="badge badge-info cancel_status"><%=	c.status  %></span>
            <% elsif c.status == "IN_PROCESS" %>
                <span class="badge badge-info in_process_status"><%=	c.status  %></span>
            <% else%>
                <span class="badge badge-info pad_status"><%=	c.status  %></span>
            <% end %>
              </td>
            <td><%=link_to '<button class="btn btn-sm btn-primary  view_check_details"><i class="fa fa-eye"></i></button>'.html_safe, admins_invoice_path(c.id) ,remote: true %></td>
            <!--# <a href="#detailModal" class="btn btn-primary btn-sm" remote = "true" ><i class="fa fa-eye"></i></a></td>-->
          </tr>
      <% end %>

          <%end%>
      </tbody>
    </table>
  </div>
</div>
