<div class="modal fade" id="detailModal" tabindex="-1" role="dialog" aria-labelledby="modal-label-69" aria-hidden="true">
  <div class="modal-dialog modal-sm">
      <div class="modal-content" id="show-div">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h6 id="modal-label-69">Invoices Details</h6>
          </div>
            <div class="modal-body">
              <div class="details">
                    <!--<img src="<%#= check.catalog_image %>" class="" width="100%" height="280px;">-->
                    <div class="row">
                      <div class="col-md-4">  <label class="control-label font-weight-bold ">Name:</label></div>
                      <div class="col-md-8"> <%=	 check.name %></div>
                    </div>
                    <div class="row">
                      <div class="col-md-4"> <label class="control-label  font-weight-bold " >Recipient:</label></div>
                      <div class="col-md-8">   <%=	check.recipient  %></div>
                    </div>
                    <div class="row">
                      <div class="col-md-4"> <label class="control-label  font-weight-bold" >Amount:</label></div>
                      <div class="col-md-8"> <%= number_with_precision(number_to_currency(check.amount.to_f), precision: 2)%></div>
                    </div>
                    <div class="row">
                      <div class="col-md-4"><label class="control-label font-weight-bold">Number:</label></div>
                      <div class="col-md-8"> <%=	 check.number %></div>
                    </div>
                    <div class="row">
                      <div class="col-md-4"><label class="control-label font-weight-bold">Status:</label></div>
                      <div class="col-md-8">
                        <% if check.status == "PAID" %>
                            <span class="badge badge-info paid_status"><%=	check.status  %></span>
                        <% elsif check.status == "UNPAID" %>
                            <span class="badge badge-info unpaid_status"><%=	check.status  %></span>
                        <% elsif check.status == "CANCELED" %>
                            <span class="badge badge-info cancel_status"><%=	check.status  %></span>
                        <% elsif check.status == "IN_PROCESS" %>
                            <span class="badge badge-info in_process_status"><%=	check.status  %></span>
                        <% else%>
                            <span class="badge badge-info pad_status"><%=	check.status  %></span>
                        <% end %>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-4"><label class="control-label font-weight-bold">Description:</label></div>
                      <div class="col-md-8"><%=	check.description %></div>
                    </div>
              </div>


              <div class="phone_number_div">
                <div class="row">
                  <%#= form_tag verify_phone_number_admins_invoices_path , class: 'phone_number_form' do %>
                      <div class="col-md-12">
                        <div class="col-md-12">
                          <div class="card">
                              <div class="col-md-2"></div>
                              <div class="col-md-8">
                                <div class="form-group" >
                                  <label for="phone_number">Phone Number</label>
                                  <input type="text" name="phone_number" class="form-control" id="phone_number" required/>
                                  <p class="error-phone text-bold text-danger"><b>Wrong Phone Number</b></p>
                                </div>
                                <input type="hidden" class="form-control" value="<%= check.id %>" id="invoice_id"/>
                                <input type="submit"class="btn btn-primary btn-sm btn-block" id="phone_number_button" value="Submit"/>
                              </div>
                              <div class="col-md-2"></div>
                          </div>
                        </div>
                      </div>
                  <%# end %>
                </div>
              </div>


              <div class="pincode_div">
                <div class="row">
                  <%#= form_tag verify_phone_number_admins_invoices_path , class: 'phone_number_form' do %>
                  <div class="col-md-12">
                    <div class="col-md-12">
                      <div class="card">
                        <div class="col-md-3"></div>
                        <div class="col-md-6">
                          <div class="form-group" >
                            <label for="phone_number">Enter Pin Code</label>
                            <input type="text" name="pincode" class="form-control" id="pincode" required/>
                            <p class="error-pincode text-bold text-danger"><b>Wrong Pincode</b></p>
                          </div>
                          <input type="hidden" class="form-control" value="<%= check.id %>" id="invoice_id"/>
                          <input type="submit"class="btn btn-primary btn-sm btn-block" id="pincode_button" value="Submit"/>
                        </div>
                        <div class="col-md-3"></div>
                      </div>
                    </div>
                  </div>
                  <%# end %>
                </div>
              </div>


            </div>

          <div class="modal-footer">
            <button type="button" class="btn btn-secondary btn-sm pull-left" data-dismiss="modal">Close</button>
            <% if check.status == "UNPAID" %>
                <button type="button" class="btn btn-secondary btn-sm pull-right pay_button">Pay?</button>
            <%#=link_to '<button class="btn btn-secondary btn-sm pull-right">Pay?</button>'.html_safe, pay_invoice_admins_invoices_path(check.id) ,:data => { :confirm => 'Are you sure you want to pay?'} %>
          <% end %>
           </div>
      </div>
  </div>
</div>
