
<div class="col-md-12 cards_gateways">
  <h5 class="margin-bottom-15-payment-gateway"><u>Card Selection</u></h5>
  <div class='row'>
    <div class="col-md-6">
      <label class="container">
        <input type="checkbox" name="card_selection[amex_credit]" <%= 'checked=checked' if @payment_gateway.card_selection["amex_credit"] == "on" %>>
        <span class="checkmark"></span>
      </label>
      <span class="mylabel">AMEX</span>
    </div>
    <div class="col-md-6">
      <label class="container">
        <input type="checkbox" name="card_selection[mastercard_credit]" <%= 'checked=checked' if @payment_gateway.card_selection["mastercard_credit"] == "on" %>>
        <span class="checkmark"></span>
      </label>
      <span class="mylabel">MC Credit</span>
    </div>
  </div>
  <div class='row'>
    <div class="col-md-6">
      <label class="container">
        <input type="checkbox" name="card_selection[visa_credit]" <%= 'checked=checked' if @payment_gateway.card_selection["visa_credit"] == "on" %>>
        <span class="checkmark"></span>
      </label>
      <span class="mylabel">Visa Credit</span>
    </div>
    <div class="col-md-6">
      <label class="container">
        <input type="checkbox" name="card_selection[discover_credit]" <%= 'checked=checked' if @payment_gateway.card_selection["discover_credit"] == "on" %>>
        <span class="checkmark"></span>
      </label>
      <span class="mylabel">Discover</span>
    </div>

  </div>
  <div class='row'>
    <div class="col-md-6">
      <label class="container">
        <input type="checkbox" name="card_selection[mastercard_debit]" <%= 'checked=checked' if @payment_gateway.card_selection["mastercard_debit"] == "on" %>>
        <span class="checkmark"></span>
      </label>
      <span class="mylabel">MC Debit</span>
    </div>
    <div class="col-md-6">
      <label class="container">
        <input type="checkbox" name="card_selection[visa_debit]"  <%= 'checked=checked' if @payment_gateway.card_selection["visa_debit"] == "on" %>>
        <span class="checkmark"></span>
      </label>
      <span class="mylabel">Visa Debit</span>
    </div>
  </div>
  <div class='row'>
    <div class="col-md-6">
      <label class="container">
        <input type="checkbox" name="card_selection[jcb_credit]" <%= 'checked=checked' if @payment_gateway.card_selection["jcb_credit"] == "on" %>>
        <span class="checkmark"></span>
      </label>
      <span class="mylabel">JCB</span>
    </div>
    <div class="col-md-6">
      <label class="container">
        <%= f.check_box :virtual_tx, value: @payment_gateway.virtual_tx %>
        <!--        <input type="checkbox" name="payment_gateway[virtual_tx]" <%#= 'checked=checked' if @payment_gateway.virtual_tx == true %>>-->
        <span class="checkmark"></span>
      </label>
      <span class="mylabel">AVS Mandatory</span>
    </div>
  </div>
</div>