<%#= simple_nested_form_for(f, url: url) do |f| %>

<!--  <div class="form-inputs">-->
    <%#= f.input :name, label: "Name", required: true %>
<!--    <div class="row">-->
<!--      <div class="col-md-12">-->
<!--        <div class="form-actions pull-right" style="margin-top: 20px">-->
          <%#= f.button :submit, "Create Gateway",class: 'btn btn-success' %>
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->
<%# end %>

<%= form_tag create_descriptor_admins_payment_gateways_path, id: 'model-form' do -%>
  <input type="text" class="form-control" value="<%= @descriptor.name %>" name="descriptor[name]" required>
  <input type="hidden" value="<%= @descriptor.id %>" name="descriptor[id]">
  <input type="submit" value="Save Gateway" class='btn btn-success mt-1' >
<% end %>