<link href="https://gitcdn.github.io/bootstrap-toggle/2.2.2/css/bootstrap-toggle.min.css" rel="stylesheet">
<script src="https://gitcdn.github.io/bootstrap-toggle/2.2.2/js/bootstrap-toggle.min.js"></script>
<div class="modal fade editModal" role="dialog">
  <div class="modal-dialog form-group">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Edit Gateway</h4>
      </div>
      <div class="row">
        <div class="col-md-12 margin-diff-1-payment-gateway">
          <%=link_to 'Archive',archive_gateway_admins_payment_gateways_path(@payment_gateway, status: "archived") ,  class: "btn btn-warning btn-sm pull-right" %>
        </div>
        <div class="col-md-12">
          <div class="card-header bordered">
            <div class="header-block">
              <%= simple_nested_form_for(@payment_gateway, url: admins_payment_gateway_path) do |f| %>

                <div class="form-inputs">
                  <%= f.label :type, "Bank" %>
                  <input type="text" value="<%= @payment_gateway.type.try(:humanize).try(:titleize) %>" class="form-control" disabled>
                  <%#= f.label :key, "Gateway" %>
                  <%# if @old.present? %>
                    <%#= f.select :key, Descriptor.all.map{|v| [v.name.humanize, v.id]}, {prompt: "Select gateway"}, {class: "form-control"}  %>
                  <%# else %>
<!--                    <input type="text" value="<%#= @payment_gateway.key %>" class="form-control" disabled>-->
                  <%# end %>
                  <% if params[:old].present? %>
                    <%= f.label :name, "Gateway" %>
                    <%= f.select :descriptor_id, Descriptor.all.map{|v| [v.name.humanize, v.id]}, {prompt: "Select gateway"}, {class: "form-control", required: true}  %>
                    <input type="hidden" value="<%= @payment_gateway.key %>" name="payment_gateway[key]" id="payment_gateway_key">
                  <% else %>
                    <input type="hidden" value="<%= @payment_gateway.descriptor_id %>" name="payment_gateway[descriptor_id]">
                    <%= f.label :name, "Gateway" %>
                    <input type="text" value="<%= @payment_gateway.key %>" name="payment_gateway[key]" class="form-control" disabled>
                  <% end %>
                  <%= f.label :name, "Descriptor" %>
                  <input type="text" value="<%= @payment_gateway.name %>" name="payment_gateway[name]" class="form-control" id="payment_gateway_name">
                  <%#= f.input :key, label: "Descriptor" %>
                  <% if @payment_gateway.stripe? %>
                    <%= f.input :client_secret %>
                    <%= f.input :client_id, label: "Client ID" %>
                  <% elsif @payment_gateway.fluid_pay? %>
                    <%= f.input :processor_id, label: "Processor Id" %>
                    <%= f.input :client_secret %>
                  <% elsif @payment_gateway.converge? %>
                    <%= f.input :client_secret, label: "Converge Pin" %>
                    <%= f.input :client_id, label: "Converge Merchant ID" %>
                    <%= f.input :authentication_id, label: "Converge User ID" %>
                  <% elsif @payment_gateway.i_can_pay? || @payment_gateway.payment_technologies? %>
                    <%= f.input :client_secret, label: "Secret Key" %>
                    <%= f.input :client_id, label: "Auth Password" %>
                    <%= f.input :authentication_id, label: "Authentication ID" %>
                    <%= f.input :signature_maker,label: "Signature Maker" %>
                  <% elsif @payment_gateway.bolt_pay? %>
                    <%= f.label :client_secret,"Merchant Token" %>
                    <%= f.input :client_secret, label: false %>
                    <%= f.label :client_id,"API Key" %>
                    <%= f.input :client_id, label: false %>
                  <% elsif @payment_gateway.total_pay? %>
                      <%= f.label :client_id,"API Key" %>
                      <%= f.input :client_id, label: false %>
                  <% elsif @payment_gateway.knox_payments? %>
                      <%= f.label :client_secret,"API Secret" %>
                      <%= f.input :client_secret, label: false %>
                      <%= f.label :client_id,"API Key" %>
                      <%= f.input :client_id, label: false %>
                  <%elsif @payment_gateway.mentom_pay? %>
                    <%= f.input :authentication_id, label: "Authentication ID" %>
                  <% end %>
                  <div class="col-md-12">
                    <div class="form-group pull-left">
                      <label class="switch">
                        <%= f.check_box :is_block, {:checked => !@payment_gateway.is_block}, "0","1"  %>
                        <div class="slider round"><span class="on">Active</span><span class="off">Inactive</span></div>
                      </label>
                    </div>
                    <div class="form-group">
                      <label class="switch pull-left margin-20">
                        <%= f.check_box :enable_refund, {:checked => @payment_gateway.enable_refund}, "1","0"  %>
                        <div class="slider round"><span class="on refund_on">On</span><span class="off">Off</span></div>
                      </label>
                      <label class="no-padding cursor_default refund_on ">Refund</label>
                    </div>
                  </div>

                  <br>
                  <h3 class="margin-bottom-20-payment-gateway"><u>Bank Fee</u></h3>
                  <% if @payment_gateway.ficer? %>
                    <button type="button" class="btn btn-sm btn-primary pull-right margin-bottom-20-payment-gateway" id="merchant_fee" >Merchant Fee</button>
                  <% end %>
                  <ul class="nav nav-tabs">
                    <li id="midbuyliedit" class="active" >
                      <a href="#midbuyrateedit" id="midbuyrate_anchor_edit"  >MID Buy Rate</a>
                    </li>
                    <li id="midlimitliedit">
                      <a href="#midlimitedit" id="midlimit_anchor_edit">MID Limits</a>
                    </li>
                  </ul>
                  <br>
                  <div class="tab-content">
                    <div class="tab-pane active" id="midbuyrateedit">
                      <div class="row">
                        <div class="col-md-12">
                          <div class="row">
                            <div class="col-md-4">
                              <%= f.label :per_transaction_fee, 'Per Transaction Fee' %>
                              <%= f.input :transaction_fee, label: false, wrapper: :vertical_input_group , hint: "" do %>
                                <span class="input-group-addon"><i>$</i></span>
                                <%= f.input_field  :transaction_fee , value: number_with_precision(f.object.transaction_fee, precision: 2), class: "form-control fee_fields"%>
                              <% end %>
                            </div>
                            <div class="col-md-4">
                              <%= f.label :charge_back_fee, 'Chargeback Fee' %>
                              <%= f.input :charge_back_fee, label: false, wrapper: :vertical_input_group , hint: "" do %>
                                <span class="input-group-addon"><i>$</i></span>
                                <%= f.input_field  :charge_back_fee , value: number_with_precision(f.object.charge_back_fee, precision: 2), class: "form-control fee_fields"%>
                              <% end %>
                            </div>
                            <div class="col-md-4">
                              <%= f.label :retrieval_fee, 'Retrieval Fee' %>
                              <%= f.input :retrieval_fee, label: false, wrapper: :vertical_input_group , hint: "" do %>
                                <span class="input-group-addon"><i>$</i></span>
                                <%= f.input_field  :retrieval_fee , value: number_with_precision(f.object.retrieval_fee, precision: 2), class: "form-control fee_fields"%>
                              <% end %>
                            </div>
                          </div>
                          <div class="row">
                            <div class="col-md-4">
                              <%= f.label :monthly_service_fee, 'Monthly Service Fee' %>
                              <%= f.input :monthly_service_fee,label: false, wrapper: :vertical_input_group , hint: "" do %>
                                <span class="input-group-addon"><i>$</i></span>
                                <%= f.input_field  :monthly_service_fee , value: number_with_precision(f.object.monthly_service_fee, precision: 2), class: "form-control fee_fields"%>
                              <% end %>
                            </div>
                            <div class="col-md-4">
                              <%= f.label :street, 'MDR Fee' %>
                              <%= f.input :per_transaction_fee,label: false, wrapper: :vertical_input_group , hint: "" do %>
                                <span class="input-group-addon"><i>$</i></span>
                                <%= f.input_field  :per_transaction_fee, value: number_with_precision(f.object.per_transaction_fee, precision: 2) , class: "form-control fee_fields"%>
                              <% end %>
                            </div>
                            <div class="col-md-4">
                              <div class="form-group">
                                <label class="control-label">Misc. Fee
                                  <span>
                                      <%= f.link_to_add '<i class="fa fa-plus"></i>'.html_safe, :misc_fees, :data => {:target => "#misc_form_edit"} %>
                                    </span>
                                </label>
                                <div id="misc_form_edit">
                                  <%= f.simple_fields_for :misc_fees, :wrapper => false do |misc| %>
                                    <div class="fields">
                                      <div class="col-md-12">
                                        <div class="row">
                                          <div class="input-group">
                                              <span class="input-group-addon">
                                                <%= misc.link_to_remove '<i class="fa fa-minus"></i>'.html_safe %>
                                              </span>
                                            <%= misc.input_field :name,label: false,class: "form-control"%>
                                          </div>
                                        </div>
                                        <div class="row margin-top-10-payment-gateway">
                                          <div class="col-md-6">
                                            <div class="row">
                                              <div class="col-md-2">
                                                <input type='checkbox' onclick="onClickHandler(this)">
                                              </div>
                                              <div class="col-md-10">
                                                <div class="input-group">
                                                  <span class="input-group-addon"><i>%</i></span>
                                                  <%= misc.input_field  :percentage_fee , value: number_with_precision(misc.object.percentage_fee, precision: 2), class: "form-control fee_fields"%>
                                                </div>
                                              </div>
                                            </div>
                                          </div>
                                          <%= misc.hidden_field :misc_type, value: "mid" %>
                                          <div class="col-md-6">
                                            <div class="row">
                                              <div class="col-md-2">
                                                <input type='checkbox' onclick="onClickHandler(this)">
                                              </div>
                                              <div class="col-md-10">
                                                <div class="input-group">
                                                  <span class="input-group-addon"><i>$</i></span>
                                                  <%= misc.input_field  :dollar_fee,:size=>1, value: number_with_precision(misc.object.dollar_fee, precision: 2) ,class: "form-control fee_fields"%>
                                                </div>
                                              </div>
                                            </div>
                                          </div>
                                        </div>
                                      </div>
                                    </div>
                                  <% end %>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="tab-pane" id="midlimitedit" display='none'>
                      <div class="row">
                        <div class="col-md-12">
                          <div class="row">
                            <div class="col-md-3">
                              <%= f.label :reserve_money, "Reserve"%>
                              <div class="input-group">
                                <span class="input-group-addon"><i>%</i></span>
                                <%= f.input_field  :reserve_money , value: number_with_precision(f.object.reserve_money, precision: 2), label: false, class: "form-control fee_fields"%>
                              </div>
                            </div>
                            <div class="col-md-3">
                              <%= f.label :monthly_limit, "Monthly Limit"%>
                              <div class="input-group">
                                <span class="input-group-addon"><i>$</i></span>
                                <%= f.input_field  :monthly_limit , value: number_with_precision(f.object.monthly_limit, precision: 2), label: false, class: "form-control fee_fields"%>
                              </div>
                            </div>
                            <div class="col-md-3">
                              <%= f.label :daily_limit, "Daily Limit"%>
                              <div class="input-group">
                                <span class="input-group-addon"><i>$</i></span>
                                <%= f.input_field  :daily_limit , value: number_with_precision(f.object.daily_limit, precision: 2), label: false, class: "form-control fee_fields"%>
                              </div>
                            </div>
                            <div class="col-md-3">
                              <%= f.label :cbk_max_percent, "CBK Maximum(%)"%>
                              <div class="input-group">
                                <span class="input-group-addon"><i>%</i></span>
                                <%= f.input_field  :cbk_max_percent , value: number_with_precision(f.object.cbk_max_percent, precision: 2), label: false, class: "form-control fee_fields"%>
                              </div>
                            </div>
                          </div>
                          <div class="row">
                            <div class="col-md-3">
                              <%= f.label :cbk_max_count, "CBK Maximum count"%>
                              <div class="input-group">
                                <%= f.input_field  :cbk_max_count , label: false, class: "form-control"%>
                              </div>
                            </div>
                            <div class="col-md-3">
                              <%= f.label :average_ticket, "Average Ticket"%>
                              <div class="input-group">
                                <span class="input-group-addon"><i>$</i></span>
                                <%= f.input_field  :average_ticket , value: number_with_precision(f.object.average_ticket, precision: 2), label: false, class: "form-control fee_fields"%>
                              </div>
                            </div>
                            <div class="col-md-3">
                              <%= f.label :high_ticket, "High Ticket"%>
                              <div class="input-group">
                                <span class="input-group-addon"><i>$</i></span>
                                <%= f.input_field  :high_ticket , value: number_with_precision(f.object.high_ticket, precision: 2), label: false, class: "form-control fee_fields"%>
                              </div>
                            </div>

                            <div class="col-md-3">
                              <label class="control-label">Transaction Type
                                <span>
                                    <%= f.link_to_add '<i class="fa fa-plus"></i>'.html_safe, :transaction_types, :data => {:target => "#transaction_types_edit"} %>
                                  </span>
                              </label>
                              <div id="transaction_types_edit">
                                <%= f.simple_fields_for :transaction_types, :wrapper => false do |tt| %>
                                  <div class="fields">
                                    <div class="row">
                                      <div class="input-group">
                                          <span class="input-group-addon">
                                            <%= tt.link_to_remove '<i class="fa fa-minus" id= "plus_id"></i>'.html_safe %>
                                          </span>
                                        <%= tt.input_field :name,label: false,class: "form-control"%>
                                      </div>
                                    </div>
                                  </div>
                                <% end %>
                              </div>
                            </div>
                          </div>
                          <!-- <div class="row">
                              <div class="col-md-4">
                                <%#= f.input :account_processing_limit, wrapper: :vertical_input_group , hint: "" do %>
                                    <span class="input-group-addon"><i>$</i></span>
                                    <%#= f.input_field  :account_processing_limit , class: "form-control fee_fields"%>
                                <%# end %>
                              </div>
                            </div> -->
                          <div class="row">
                            <div class="col-md-4">
                              <label class="control-label">Vertical Type
                                <span>
                                    <%= f.link_to_add '<i class="fa fa-plus"></i>'.html_safe, :vertical_types, :data => {:target => "#vertical_types_edit"} %>
                                  </span>
                              </label>
                              <div id="vertical_types_edit">
                                <%= f.simple_fields_for :vertical_types, :wrapper => false do |vt| %>
                                  <div class="fields">
                                    <div class="row">
                                      <div class="input-group">
                                          <span class="input-group-addon">
                                            <%= vt.link_to_remove '<i class="fa fa-minus" id= "plus_id"></i>'.html_safe %>
                                          </span>
                                        <%= vt.input_field :title,label: false,class: "form-control"%>
                                      </div>
                                    </div>
                                  </div>
                                <% end %>
                              </div>
                            </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <br>

                <div class="row">
                  <div class="col-md-12">
                    <div class="col-md-9 card-section-partial-div-payment-gateway">
                      <%= render partial: 'admins/payment_gateways/card_selection', locals: {f: f} %>
                    </div>
                    <div class="col-md-3">
                      <div class="form-actions pull-right margin-top-20-px-payment-gateway">
                        <%= f.button :submit, class: 'btn btn-success', id: 'submit_gateway' %>
                      </div>
                    </div>
                  </div>
                </div>
                </div>
                <%= render partial: 'admins/payment_gateways/merchant_fees', locals: {f: f} %>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<section id="ajamahimere">

</section>
