<%= simple_nested_form_for(f, url: url) do |f| %>

  <div class="form-inputs">
    <%= f.label :type, "Bank" %>
    <%= f.select :type, PaymentGateway.types.except(:slot).keys.map {|type| [type.try(:humanize).try(:titleize),type]}, {prompt: "Select Bank"}, {class: "form-control", required: true} %>
    <%= f.label :name, "Gateway" %>
    <%= f.select :descriptor_id, Descriptor.all.map{|v| [v.name.humanize, v.id]}, {prompt: "Select gateway"}, {class: "form-control", required: true}  %>
    <input type="hidden" name="payment_gateway[key]" id="payment_gateway_key" value="">
    <%= f.input :name, label: "Descriptor",id: "gateway_name", required: true %>
    <div class="duplicate_descriptor"></div>
    <%= f.input :processor_id, label: "Processor Id" %>
    <%= f.input :client_secret %>
    <%= f.input :client_id %>
    <%= f.input :authentication_id %>
    <%= f.input :signature_maker %>

    <h3 class="margin-top-20-px-payment-gateway"><u>Bank Fee</u></h3>
<!--    <a data-toggle="modal" data-backdrop="static" class="merchantFeeModalDialog pull-right" id="merchant_fee" href="#merchantFee" style="margin-bottom: 20px; display: none;" >-->
      <button type="button" class="btn btn-sm btn-primary pull-right margin-top-20-px-payment-gateway display-none-payment-gateway" id="merchant_fee" >Merchant Fee</button>
    <ul class="nav nav-tabs">
      <li id="midbuyli" class="active" >
        <a href="#midbuyrate" id="midbuyrate_anchor"  >MID Buy Rate</a>
      </li>
      <li id="midlimitli">
        <a href="#midlimit" id="midlimit_anchor">MID Limits</a>
      </li>
    </ul>
    <br>
    
    <div class="tab-content">
      <div class="tab-pane active" id="midbuyrate">
        <div class="row">
          <div class="col-md-12">
            <div class="row">
              <div class="col-md-4">
                <%= f.label :per_transaction_fee, 'Per Transaction Fee' %>
                <%= f.input :transaction_fee, label: false, wrapper: :vertical_input_group , hint: "" do %>
                    <span class="input-group-addon"><i>$</i></span>
                    <%= f.input_field  :transaction_fee , value: number_with_precision(f.object.transaction_fee, precision: 2), class: "form-control fee_fields"%>
                <% end %>
              </div>
              <div class="col-md-4">
                <%= f.label :charge_back_fee, 'Chargeback Fee' %>
                <%= f.input :charge_back_fee, label: false, wrapper: :vertical_input_group , hint: "" do %>
                    <span class="input-group-addon"><i>$</i></span>
                    <%= f.input_field  :charge_back_fee , value: number_with_precision(f.object.charge_back_fee, precision: 2), class: "form-control fee_fields"%>
                <% end %>
              </div>
              <div class="col-md-4">
                <%= f.label :retrieval_fee, 'Retrieval Fee' %>
                <%= f.input :retrieval_fee, label: false, wrapper: :vertical_input_group , hint: "" do %>
                    <span class="input-group-addon"><i>$</i></span>
                    <%= f.input_field  :retrieval_fee , value: number_with_precision(f.object.retrieval_fee, precision: 2), class: "form-control fee_fields"%>
                <% end %>
              </div>
            </div>
            <div class="row">
              <div class="col-md-4">
                <%= f.label :monthly_service_fee, 'Monthly Service Fee' %>
                <%= f.input :monthly_service_fee, label: false, wrapper: :vertical_input_group , hint: "" do %>
                    <span class="input-group-addon"><i>$</i></span>
                    <%= f.input_field  :monthly_service_fee , value: number_with_precision(f.object.monthly_service_fee, precision: 2), class: "form-control fee_fields"%>
                <% end %>
              </div>
              <div class="col-md-4">
                <%= f.label :street, 'MDR Fee' %>
                <%= f.input :per_transaction_fee, label: false, wrapper: :vertical_input_group , hint: "" do %>
                    <span class="input-group-addon"><i>$</i></span>
                    <%= f.input_field  :per_transaction_fee , class: "form-control fee_fields"%>
                <% end %>
              </div>
              <div class="col-md-4">
                <div class="form-group">
                  <label class="control-label">Misc. Fee
                    <span>
                      <%= f.link_to_add '<i class="fa fa-plus"></i>'.html_safe, :misc_fees, :data => {:target => "#misc_form"} %>
                    </span>
                  </label>
                  <div id="misc_form">
                    <%= f.simple_fields_for :misc_fees, :wrapper => false do |mf| %>
                      <div class="fields">
                        <div class="col-md-12">
                          <div class="row"> 
                            <div class="input-group">
                              <span class="input-group-addon">
                                <%= mf.link_to_remove '<i class="fa fa-minus" id= "plus_id"></i>'.html_safe %>
                              </span>
                              <%= mf.input_field :name,label: false,class: "form-control"%>
                            </div>
                          </div>
                          <div class="row margin-top-10-payment-gateway">
                            <div class="col-md-6">
                              <div class="row">
                                <div class="col-md-2">
                                  <input type='checkbox' onclick="onClickHandler(this)">  
                                </div>
                                <div class="col-md-10">
                                  <div class="input-group">
                                    <span class="input-group-addon"><i>%</i></span>
                                    <%= mf.input_field  :percentage_fee , class: "form-control fee_fields"%>
                                  </div>
                                </div>
                              </div>
                            </div>
                            <%= mf.hidden_field :misc_type, value: "mid" %>
                            <div class="col-md-6">
                              <div class="row">
                                <div class="col-md-2">
                                  <input type='checkbox' onclick="onClickHandler(this)">  
                                </div>
                                <div class="col-md-10">
                                  <div class="input-group">
                                    <span class="input-group-addon"><i>$</i></span>
                                    <%= mf.input_field  :dollar_fee,:size=>1 ,class: "form-control fee_fields"%>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    <% end %>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="tab-pane" id="midlimit" display='none'>
        <div class="row">
          <div class="col-md-12">
            <div class="row">
              <div class="col-md-3">
                <%= f.label :reserve_money, "Reserve"%>
                <div class="input-group">
                  <span class="input-group-addon"><i>%</i></span>
                  <%= f.input_field  :reserve_money , label: false, class: "form-control fee_fields"%>
                </div>
              </div>
              <div class="col-md-3">
                <%= f.label :monthly_limit, "Monthly Limit"%>
                <div class="input-group">
                  <span class="input-group-addon"><i>$</i></span>
                  <%= f.input_field  :monthly_limit , label: false, class: "form-control fee_fields"%>
                </div>
              </div>
              <div class="col-md-3">
                <%= f.label :daily_limit, "Daily Limit"%>
                <div class="input-group">
                  <span class="input-group-addon"><i>$</i></span>
                  <%= f.input_field  :daily_limit , label: false, class: "form-control fee_fields"%>
                </div>
              </div>
              <div class="col-md-3">
                <%= f.label :cbk_max_percent, "CBK Maximum(%)"%>
                <div class="input-group">
                  <span class="input-group-addon"><i>%</i></span>
                  <%= f.input_field  :cbk_max_percent , label: false, class: "form-control fee_fields"%>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-3">
                <%= f.label :cbk_max_count, "CBK Maximum count"%>
                <div class="input-group">
                  <%= f.input_field  :cbk_max_count , label: false, class: "form-control"%>
                </div>
              </div>
              <div class="col-md-3">
                <%= f.label :average_ticket, "Average Ticket"%>
                <div class="input-group">
                  <span class="input-group-addon"><i>$</i></span>
                  <%= f.input_field  :average_ticket , label: false, class: "form-control fee_fields"%>
                </div>
              </div>
              <div class="col-md-3">
                <%= f.label :high_ticket, "High Ticket"%>
                <div class="input-group">
                  <span class="input-group-addon"><i>$</i></span>
                  <%= f.input_field  :high_ticket , label: false, class: "form-control fee_fields"%>
                </div>
              </div>

              <div class="col-md-3">
                <label class="control-label">Transaction Type
                  <span>
                    <%= f.link_to_add '<i class="fa fa-plus"></i>'.html_safe, :transaction_types, :data => {:target => "#transaction_types_create"} %>
                  </span>
                </label>
                <div id="transaction_types_create">
                  <%= f.simple_fields_for :transaction_types, :wrapper => false do |tt| %>
                    <div class="fields">
                      <div class="row"> 
                        <div class="input-group">
                          <span class="input-group-addon">
                            <%= tt.link_to_remove '<i class="fa fa-minus" id= "plus_id"></i>'.html_safe %>
                          </span>
                          <%= tt.input_field :name,label: false,class: "form-control"%>
                        </div>
                      </div>
                    </div>
                  <% end %>
                </div>
              </div>
              <!-- <div class="col-md-4">
                <%#= f.input :reserve_money, wrapper: :vertical_input_group , hint: "" do %>
                    <span class="input-group-addon"><i>%</i></span>
                    <%#= f.input_field  :reserve_money , class: "form-control fee_fields"%>
                <%# end %>
              </div>

              <div class="col-md-4">
                <%#= f.input :account_processing_limit, wrapper: :vertical_input_group , hint: "" do %>
                    <span class="input-group-addon"><i>$</i></span>
                    <%#= f.input_field  :account_processing_limit , class: "form-control fee_fields"%>
                <%# end %>
              </div> -->
            </div>
            <div class="row">
              <div class="col-md-4">
                <label class="control-label">Vertical Type
                  <span>
                    <%= f.link_to_add '<i class="fa fa-plus"></i>'.html_safe, :vertical_types, :data => {:target => "#vertical_types_create"} %>
                  </span>
                </label>
                <div id="vertical_types_create">
                  <%= f.simple_fields_for :vertical_types, :wrapper => false do |vt| %>
                    <div class="fields">
                      <div class="row"> 
                        <div class="input-group">
                          <span class="input-group-addon">
                            <%= vt.link_to_remove '<i class="fa fa-minus" id= "plus_id"></i>'.html_safe %>
                          </span>
                          <%= vt.input_field :title,label: false,class: "form-control"%>
                        </div>
                      </div>
                    </div>
                  <% end %>
                </div>
                <%#= f.input :vertical_type_id, wrapper: :vertical_input_group , hint: "" do %>
                    <!-- <span class="input-group-addon"><%#= link_to '<i class="fa fa-plus" id= "plus_id"></i>'.html_safe,getverticaltype_admins_payment_gateways_path(@payment_gateway.id),remote: true,style: "padding:0px 15px;"%></span> -->
                    <%#= f.select :vertical_type_id,options_from_collection_for_select(VerticalType.all,:id,:title,@payment_gateway.vertical_type_id),{:include_blank => "Select Vertical Type"},{style: "width: 183px;" ,class: "form-control",id:"table_text_field_transaction_dispute_edit"}%>
                <%# end %>
              </div>
              <!-- <div class="col-md-4">
                <%#= f.input :reserve_money_days, wrapper: :vertical_input_group , hint: "" do %>
                    <span class="input-group-addon"><i>days</i></span>
                    <%#= f.input_field  :reserve_money_days , class: "form-control fee_fields"%>
                <%# end %>
              </div> -->
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <br>
    <div class="row">
      <div class="col-md-12">
        <div class="col-md-9 card-section-partial-div-payment-gateway">
          <%= render partial: 'admins/payment_gateways/card_selection', locals: {f: f} %>
        </div>
        <div class="col-md-3">
        <div class="form-actions pull-right margin-top-20-px-payment-gateway">
          <%= f.button :submit,class: 'btn btn-success', id: 'submit_gateway' %>
        </div>
        </div>
      </div>
    </div>

  </div>
  <%= render partial: 'admins/payment_gateways/merchant_fees', locals: {f: f} %>
<% end %>
<section id="ajamahimere2">

</section>
