
<div class="modal fade merchantFeeModalDialog width-120-margin-left-n-10-payment-gateway" id="merchantFee" role="dialog">
  <div class="modal-dialog form-group width-100-payment-gateway">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="closed pull-right">&times;</button>
        <h4 class="modal-title">Merchant Fee</h4>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="card-header bordered">
            <div class="header-block">
              <%= f.simple_fields_for :fee do |fee| %>
                <div class="row">
                  <div class="form-group  col-md-6">
                    <h5 class="no-padding cursor_default">Merchant Buy Rate</h5>
                    <hr>
                    <!----------------------------------LEFT MAIN FEE TABS ----------------------------------------------->
                    <!---------------TRANSACTION FEE Mobile TAB--------------->
                    <div class="col-md-6 form-group">
                      <label class="no-padding cursor_default">Tx Fee - Mobile App</label>
                      <label class="no-padding pull-right cursor_default">$</label>
                    </div>
                    <div class="col-md-6 form-group">
                      <div class="row">
                        <div class="col-md-5">
                          <div class="row">
                            <div class="col-md-12">
                              <%= fee.input :transaction_fee_app_dollar, label: false, input_html: {class:"buyrate_fields" , :onclick => 'this.select();' , value: fee.object.try(:transaction_fee_app_dollar) || 0.00, step: :any} %>
                            </div>
                          </div>
                        </div>
                        <div class="col-md-7">
                          <div class="row">
                            <label class="no-padding cursor_default">%</label>
                            <div class="col-md-8">
                              <%= fee.input :transaction_fee_app, label: false, input_html: {class:"buyrate_fields" , :onclick => 'this.select();' , value: fee.object.try(:transaction_fee_app) || 0.00, step: :any} %>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <!---------------TRANSACTION FEE DEBIT CARD TAB--------------->
                    <div class="col-md-6 form-group">
                      <label class="no-padding cursor_default">Tx Fee - Debit Card</label>
                      <label class="no-padding pull-right cursor_default">$</label>
                    </div>
                    <div class="col-md-6 form-group">
                      <div class="row">
                        <div class="col-md-5">
                          <div class="row">
                            <div class="col-md-12">
                              <%= fee.input :transaction_fee_dcard_dollar, label: false, input_html: {class:"buyrate_fields" , :onclick => 'this.select();' , value: fee.object.try(:transaction_fee_dcard_dollar) || 0.00, step: :any} %>
                            </div>
                          </div>
                        </div>
                        <div class="col-md-7">
                          <div class="row">
                            <label class="no-padding cursor_default">%</label>
                            <div class="col-md-8">
                              <%= fee.input :transaction_fee_dcard, label: false, input_html: {class:"buyrate_fields" , :onclick => 'this.select();' ,  value: fee.object.try(:transaction_fee_dcard) || 0.00, step: :any} %>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <!---------------TRANSACTION FEE CREDIT CARD TAB--------------->
                    <div class="col-md-6 form-group">
                      <label class="no-padding cursor_default">Tx Fee - Credit Card</label>
                      <label class="no-padding pull-right cursor_default ">$</label>
                    </div>
                    <div class="col-md-6 form-group">
                      <div class="row">
                        <div class="col-md-5">
                          <div class="row">
                            <div class="col-md-12">
                              <%= fee.input :transaction_fee_ccard_dollar, label: false, input_html: {class:"buyrate_fields" , :onclick => 'this.select();' , value: fee.object.try(:transaction_fee_ccard_dollar) || 0.00, step: :any} %>
                            </div>
                          </div>
                        </div>
                        <div class="col-md-7">
                          <div class="row">
                            <label class="no-padding cursor_default">%</label>
                            <div class="col-md-8">
                              <%= fee.input :transaction_fee_ccard, label: false, input_html: {class:"buyrate_fields" , :onclick => 'this.select();' , value: fee.object.try(:transaction_fee_ccard) || 0.00, step: :any} %>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <!---------------B2B FEE TAB--------------->
                    <div class="col-md-6 form-group">
                      <label class="no-padding cursor_default">B2B Fee (Within the network)</label>
                      <label class="no-padding pull-right cursor_default">%</label>
                    </div>
                    <div class="col-md-6 form-group ">
                      <div class="row">
                        <div class="col-md-10">
                          <%= fee.input :b2b_fee, label: false, input_html: {class:"buyrate_fields"  , :onclick => 'this.select();', value: fee.object.try(:b2b_fee) || 0.00, step: :any} %>
                        </div>
                      </div>
                    </div>

                    <!---------------GIFT CARD FEE TAB--------------->
                    <div class="col-md-6 form-group">
                      <label class="no-padding cursor_default">Gift Card Fee</label>
                      <label class="no-padding pull-right cursor_default">$</label>
                    </div>
                    <div class="col-md-6 form-group ">
                      <div class="row">
                        <div class="col-md-10">
                          <%= fee.input :giftcard_fee, label: false, input_html: {class:"buyrate_fields"  , :onclick => 'this.select();', value: fee.object.try(:giftcard_fee) || 0.00, step: :any} %>
                        </div>
                      </div>
                    </div>
                    <!---------------SEND CHECKS TAB--------------->
                    <div class="col-md-6 form-group">
                      <label class="no-padding cursor_default">Send Checks</label>
                      <label class="no-padding pull-right cursor_default">$</label>
                    </div>
                    <div class="col-md-6 form-group">
                      <div class="row">
                        <div class="col-md-5">
                          <div class="row">
                            <div class="col-md-12">
                              <%= fee.input :send_check, label: false, input_html: {class:"buyrate_fields"  , :onclick => 'this.select();', value: fee.object.try(:send_check) || 0.00, step: :any} %>
                            </div>
                          </div>
                        </div>
                        <div class="col-md-7">
                          <div class="row">
                            <label class="no-padding cursor_default">%</label>
                            <div class="col-md-8">
                              <%= fee.input :redeem_fee, label: false, input_html: {class:"buyrate_fields"  , :onclick => 'this.select();', value: fee.object.try(:redeem_fee) || 0.00, step: :any} %>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>

                    <!---------------ACH TAB--------------->
                    <div class="col-md-6 form-group">
                      <label class="no-padding cursor_default">ACH</label>
                      <label class="no-padding pull-right cursor_default">$</label>
                    </div>
                    <div class="col-md-6 form-group">
                      <div class="row">
                        <div class="col-md-5">
                          <div class="row">
                            <div class="col-md-12">
                              <%= fee.input :ach_fee_dollar, label: false, input_html: {class:"buyrate_fields" , value: fee.object.try(:ach_fee_dollar) || 0, step: :any} %>
                            </div>
                          </div>
                        </div>
                        <div class="col-md-7">
                          <div class="row">
                            <label class="no-padding cursor_default">%</label>
                            <div class="col-md-8">
                              <%= fee.input :ach_fee, label: false, input_html: {class:"buyrate_fields" , value: fee.object.try(:ach_fee) || 0, step: :any} %>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>

                    <!---------------ADD MONEY BY CHECK TAB--------------->
                    <div class="col-md-6 form-group">
                      <label class="no-padding cursor_default">Add Money By Check</label>
                      <label class="no-padding pull-right cursor_default">$</label>
                    </div>
                    <div class="col-md-6 form-group ">
                      <div class="row">
                        <div class="col-md-5 form-group">
                          <div class="row">
                            <div class="col-md-12">
                              <%= fee.input :add_money_check, label: false, input_html: {class:"buyrate_fields"  , :onclick => 'this.select();', value: fee.object.try(:add_money_check) || 0.00, step: :any} %>
                            </div>
                          </div>
                        </div>
                        <div class="col-md-7">
                          <div class="row">
                            <label class="no-padding cursor_default">%</label>
                            <div class="col-md-8">
                              <%= fee.input :redeem_check, label: false, input_html: {class:"buyrate_fields"  , :onclick => 'this.select();', value: fee.object.try(:redeem_check) || 0.00, step: :any} %>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>

                    <!---------------Debit Card Deposit--------------->
                    <div class="col-md-6 form-group">
                      <label class="no-padding cursor_default">Instant Pay</label>
                      <label class="no-padding pull-right cursor_default">$</label>
                    </div>
                    <div class="col-md-6 form-group">
                      <div class="row">
                        <div class="col-md-5">
                          <div class="row">
                            <div class="col-md-12">
                              <%= fee.input :dc_deposit_fee_dollar, label: false, input_html: {class:"buyrate_fields" , value: fee.object.try(:dc_deposit_fee_dollar) || 0, step: :any} %>
                            </div>
                          </div>
                        </div>
                        <div class="col-md-7">
                          <div class="row">
                            <label class="no-padding cursor_default">%</label>
                            <div class="col-md-8">
                              <%= fee.input :dc_deposit_fee, label: false, input_html: {class:"buyrate_fields" , value: fee.object.try(:dc_deposit_fee) || 0, step: :any} %>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>

                    <!---------------RESERVE MONEY TAB--------------->
                    <div class="col-md-6 form-group">
                      <label class="no-padding cursor_default">Reserve Money</label>
                      <label class="no-padding pull-right cursor_default">%</label>
                    </div>
                    <div class="col-md-6 form-group">
                      <div class="row">
                        <div class="col-md-5">
                          <div class="row">
                            <div class="col-md-12">
                              <%= fee.input :reserve_fee, label: false, input_html: {class:"buyrate_fields"  , :onclick => 'this.select();', value: fee.object.try(:reserve_fee) || 0.00, step: :any} %>
                            </div>
                          </div>
                        </div>
                        <div class="col-md-7">
                          <div class="row">
                            <label class="no-padding cursor_default">days</label>
                            <div class="col-md-8">
                              <%= fee.input :days, label: false, input_html: {class:"buyrate_fields"  , :onclick => 'this.select();', value: fee.object.try(:days) || 0, step: :any} %>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>

                    <div class="col-md-6 form-group">
                      <label class="no-padding cursor_default">Chargeback Fee</label>
                      <label class="no-padding pull-right cursor_default">$</label>
                    </div>
                    <div class="col-md-6 form-group">
                      <div class="row">
                        <div class="col-md-10">
                          <%= fee.input :charge_back_fee, label: false, input_html: {class:"buyrate_fields"  , :onclick => 'this.select();', value: fee.object.try(:charge_back_fee) || 0.00, step: :any} %>
                        </div>
                      </div>
                    </div>

                    <div class="col-md-6 form-group">
                      <label class="no-padding cursor_default">Retrieval Fee</label>
                      <label class="no-padding pull-right cursor_default">$</label>
                    </div>
                    <div class="col-md-6 form-group">
                      <div class="row">
                        <div class="col-md-10">
                          <%= fee.input :retrievel_fee, label: false, input_html: {class:"buyrate_fields"  , :onclick => 'this.select();', value: fee.object.try(:retrievel_fee) || 0.00, step: :any} %>
                        </div>
                      </div>
                    </div>

                    <!------------------------Refund Fee-------------------->
                    <div class="col-md-6 form-group">
                      <label class="no-padding cursor_default">Refund Fee</label>
                      <label class="no-padding pull-right cursor_default">$</label>
                    </div>
                    <div class="col-md-6 form-group">
                      <div class="row">
                        <div class="col-md-10">
                          <%= fee.input :refund_fee, label: false, input_html: {class:"buyrate_fields" , :onclick => 'this.select();' , value: fee.object.try(:refund_fee) || 0.00, step: :any} %>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="form-group col-md-6">
                    <hr class="margin-top-37-px-payment-gateway">
                    <div class="col-md-6 form-group">
                      <label class="no-padding cursor_default">Monthly Fee</label>
                      <label class="no-padding pull-right cursor_default">$</label>
                    </div>
                    <div class="col-md-6 form-group">
                      <div class="row">
                        <div class="col-md-5">
                          <div class="row">
                            <div class="col-md-12">
                              <%= fee.input :service, label: false, input_html: {class:"buyrate_fields"  , :onclick => 'this.select();', value: fee.object.try(:service) || 0.00, step: :any} %>
                            </div>
                          </div>
                        </div>
                        <div class="col-md-7">
                          <% value =  fee.object.try(:service_date).present? ? fee.object.service_date.strftime('%m/%d/%Y') : "" %>
                          <%= fee.input :service_date, as: :string, label: false, input_html: {class:"form-control datepicker", value: value, autocomplete: "off" } %>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-6 form-group">
                      <label class="no-padding cursor_default">Monthly Subscription Fee</label>
                      <label class="no-padding pull-right cursor_default">$</label>
                    </div>
                    <div class="col-md-6 form-group">
                      <div class="row">
                        <div class="col-md-5">
                          <div class="row">
                            <div class="col-md-12">
                              <%= fee.input :statement, label: false, input_html: {class:"buyrate_fields"  , :onclick => 'this.select();', value: fee.object.try(:statement) || 0.00, step: :any} %>
                            </div>
                          </div>
                        </div>
                        <div class="col-md-7">
                          <% value =  fee.object.try(:statement_date).present? ? fee.object.statement_date.strftime('%m/%d/%Y') : "" %>
                          <%= fee.input :statement_date, as: :string, label: false, input_html: {class:"form-control datepicker", value: value , autocomplete: "off" } %>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-6 form-group">
                      <label class="no-padding cursor_default">Monthly Miscellaneous Fee</label>
                      <label class="no-padding pull-right cursor_default">$</label>
                    </div>
                    <div class="col-md-6 form-group">
                      <div class="row">
                        <div class="col-md-5">
                          <div class="row">
                            <div class="col-md-12">
                              <%= fee.input :misc, label: false, input_html: {class:"buyrate_fields"  , :onclick => 'this.select();', value: fee.object.try(:misc) || 0.00, step: :any} %>
                            </div>
                          </div>
                        </div>
                        <div class="col-md-7">
                          <% value =  fee.object.try(:misc_date).present? ? fee.object.misc_date.strftime('%m/%d/%Y') : "" %>
                          <%= fee.input :misc_date, as: :string, label: false, input_html: {class:"form-control datepicker", value: value , autocomplete: "off" } %>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-12 trip-merchant-fee-payment-gateway">
                      <h5><u>Trip Merchant Fees</u></h5>
                    </div>
                    <div class="col-md-6 form-group">
                      <label class="no-padding cursor_default">Visa Master Card Fee</label>
                      <label class="no-padding pull-right cursor_default">$</label>
                    </div>
                    <div class="col-md-6 form-group">
                      <div class="row">
                        <div class="col-md-12">
                          <div class="row">
                            <div class="col-md-12">
                              <%= fee.input :vmcardrate, label: false, input_html: {class:"buyrate_fields"  , :onclick => 'this.select();', value: fee.object.try(:vmcardrate) || 0.00, step: :any} %>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>

                    <div class="col-md-6 form-group">
                      <label class="no-padding cursor_default">Dis Tx Fee</label>
                      <label class="no-padding pull-right cursor_default">$</label>
                    </div>
                    <div class="col-md-6 form-group">
                      <div class="row">
                        <div class="col-md-12">
                          <div class="row">
                            <div class="col-md-12">
                              <%= fee.input :distransfee, label: false, input_html: {class: "buyrate_fields", :onclick => 'this.select();', value: fee.object.try(:distransfee) || 0.00, step: :any} %>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>

                    <div class="col-md-6 form-group">
                      <label class="no-padding cursor_default">Amex Fee</label>
                      <label class="no-padding pull-right cursor_default">$</label>
                    </div>
                    <div class="col-md-6 form-group">
                      <div class="row">
                        <div class="col-md-12">
                          <div class="row">
                            <div class="col-md-12">
                              <%= fee.input :amexrate, label: false, input_html: {class: "buyrate_fields", :onclick => 'this.select();', value: fee.object.try(:amexrate) || 0.00, step: :any} %>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>

                    <div class="col-md-6 form-group">
                      <label class="no-padding cursor_default">Amex Tx Fee</label>
                      <label class="no-padding pull-right cursor_default">$</label>
                    </div>
                    <div class="col-md-6 form-group">
                      <div class="row">
                        <div class="col-md-12">
                          <div class="row">
                            <div class="col-md-12">
                              <%= fee.input :amextransfee, label: false, input_html: {class: "buyrate_fields", :onclick => 'this.select();', value: fee.object.try(:amextransfee) || 0.00, step: :any} %>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>

                    <div class="col-md-6 form-group">
                      <label class="no-padding cursor_default">Monthly Gateway Fee</label>
                      <label class="no-padding pull-right cursor_default">$</label>
                    </div>
                    <div class="col-md-6 form-group">
                      <div class="row">
                        <div class="col-md-12">
                          <div class="row">
                            <div class="col-md-12">
                              <%= fee.input :monthlygatewayfee, label: false, input_html: {class: "buyrate_fields", :onclick => 'this.select();', value: fee.object.try(:monthlygatewayfee) || 0.00, step: :any} %>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>

                    <div class="col-md-6 form-group">
                      <label class="no-padding cursor_default">Annual CC Sales Vol</label>
                      <label class="no-padding pull-right cursor_default">$</label>
                    </div>
                    <div class="col-md-6 form-group">
                      <div class="row">
                        <div class="col-md-12">
                          <div class="row">
                            <div class="col-md-12">
                              <%= fee.input :annualccsalesvol, label: false, input_html: {class: "buyrate_fields", :onclick => 'this.select();', value: fee.object.try(:annualccsalesvol) || 0.00, step: :any} %>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>

                  </div>
                </div>
                <div class="row">
                  <div class="col-md-6 form-group"></div>
                  <div class="col-md-6 form-group">
                    <button type="button" class="closed-btn pull-right btn btn-lg btn-success">Save Fee</button>
                  </div>
                </div>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>