<!-- New -->
<div class="modal fade myModal" role="dialog">
  <div class="modal-dialog form-group">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">New Gateway</h4>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="card-header bordered">
            <div class="header-block">
              <%= render partial: 'admins/payment_gateways/form', :locals => {:f => @payment_gateway, :url => admins_payment_gateways_path } %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>