$("#edit_modal").html("<%= j render(partial: 'edit') %>");
$(".editModal").modal({backdrop: 'static', keyboard: false});
$(".cards_gateways").hide();
//...............................payment_gateways/edit.html.erb..................
$("#merchant_fee").on('click',function () {
    $('.merchantFeeModalDialog').modal('toggle');
});
$(".close").on('click', function () {
    $('.modal').remove();
    $('.modal-backdrop').remove();
    $('body').removeClass( "modal-open" );
});
$('#payment_gateway_monthly_limit, #payment_gateway_daily_limit, #payment_gateway_average_ticket, #payment_gateway_high_ticket,#payment_gateway_charge_back_fee,#payment_gateway_retrieval_fee,#payment_gateway_monthly_service_fee,#payment_gateway_per_transaction_fee').on('keyup',function (e) {
    var num = $(this).val().split('.')[1];
    if(!isNaN(num) && num.length > 2){
        e.preventDefault();
        $(this).val(parseFloat($(this).val()).toFixed(2));
    }

});
function onClickHandler(data){
    if ($(data).is(':checked')){
        $(data).parent().next().find('input').attr('disabled',true)
    }else{
        $(data).parent().next().find('input').attr('disabled',false)
    }
}

$('.form-control.fee_fields').on('keyup',function (e) {
    var input =$(this).parent().find('span.input-group-addon i').text();
    if (input==='$'){
        var id=$(this).attr('id');
        if($(this).val().split('.')[1].length>2){
            e.preventDefault();
            var text_value = $(this).val();
            text_value = parseFloat(text_value).toFixed(2);
            $(this).val(text_value);
        }
    }
});
$('#cover-spin').fadeOut("slow");
var fewSeconds = 2;
$('#plus_id').click(function(){
    // Ajax request
    var btn = $(this);
    btn.prop('disabled', true);
    setTimeout(function(){
        btn.prop('disabled', false);
    }, fewSeconds*1000);
});
$('.fee_fields').bind('keyup change', function(){
    this.value = this.value.replace(/[^0-9\.]/g,'');
});

$("#midlimit_anchor_edit").click(function(e){
    $("#midbuyrateedit").hide();
    $('#midlimitedit').show();
    $(".cards_gateways").show();
    $("#submit_gateway").addClass('submit_gateway');
    $("#midlimitliedit").attr('class', 'active');
    $("#midbuyliedit").attr('class', '');
});
$("#midbuyrate_anchor_edit").click(function(e){
    $('#midlimitedit').hide();
    $("#midbuyrateedit").show();
    $(".cards_gateways").hide();
    $("#submit_gateway").removeClass('submit_gateway');
    $("#midlimitliedit").attr('class', '');
    $("#midbuyliedit").attr('class', 'active');
});
//........................................................merchant_fees.html.erb...........//



$(".closed, .closed-btn").on('click', function () {
    $("#merchantFee").modal('hide');
    $("#merchantFee").removeClass('show');
    $('#merchantFee.modal.fade.in').removeClass('modal fade in ');
    $('.modal-backdrop.fade.show').remove();
});
$(document).on('.closed.hidden.bs.modal', function (e) {
    $('.modal').remove();
    $('.modal-backdrop').remove();
    $('body').removeClass( "modal-open" );
});
$(document).on('.closed-btn.hidden.bs.modal', function (e) {
    //for save fee button
    $('.modal').remove();
    $('.modal-backdrop').remove();
    $('body').removeClass( "modal-open" );
});

    $('.datepicker').datepicker({
        dateFormat: 'mm/dd/yy',
        minDate: new Date(),
    });
$(document).on('change','.gateway_status',function () {
    if($('.gateway_status').parent().hasClass('btn-danger')){
        $('.gateway_status').parent().removeClass('btn-danger').removeClass('off');
        $('.gateway_status').parent().addClass('btn-success');
    }else if($('.gateway_status').parent().hasClass('btn-success')) {
        $('.gateway_status').parent().removeClass('btn-success');
        $('.gateway_status').parent().addClass('btn-danger').addClass('off');
    }
});