<section class="in"></section>
<section id="new_modal"></section>
<section id="edit_modal"></section>
<section class="section">
  <div class="row">
    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
      <div class="row">
        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-xs-12">
          <p class="pull-left Payment-Gateways">Payment Gateways</p>
          <%= form_tag "/admins/payment_gateways", method: :get, id: 'model-form' do -%>
            <input type="text" class="form-control payment-gateway-input_search" value="<%= params[:search] %>" placeholder="Search MID/Gateway" name="search" id="srch-term" onchange="$('#model-form').submit();">
            <input type="hidden" class="" value="<%= params[:type] %>" name="type">
          <% end %>
        </div>
        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-xs-12">
          <% if params[:type] == "archived" %>
            <%= link_to 'Active Gateways', admins_payment_gateways_path, class: "ml-05 btn btn-outline-secondary btn-sm btn-success new_gateway pull-right" %>
          <% else %>
            <% if PaymentGateway.main_gateways.active_gateways.where(descriptor_id: nil).count > 0 %>
              <%= link_to 'Descriptors', old_gateways_admins_payment_gateways_path, class: "ml-05 btn btn-outline-secondary btn-sm btn-success new_gateway pull-right" %>
            <% end %>
            <%= link_to 'Archived', admins_payment_gateways_path(type: "archived"), class: "ml-05 btn btn-outline-secondary btn-sm btn-default new_gateway pull-right" %>
            <%= link_to 'Create New Gateway', new_descriptor_admins_payment_gateways_path, remote: :true, class: "ml-05 btn btn-outline-secondary btn-sm btn-primary new_gateway pull-right" %>
            <%= link_to 'Create New MID', new_admins_payment_gateway_path, remote: :true, class: "btn btn-outline-secondary btn-sm btn-primary new_gateway pull-right" %>
          <% end %>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <% if params[:type] == "archived" %>
            <hr class="hr-12">
            <p class="pull-left payment_gateway_text">Archived Gateways</p>
          <% end %>
        </div>
      </div>
    </div>
  </div>

  <div class="">
    <% @descriptors.each.with_index(1) do |descriptor,index| %>
      <div class="table-color">
        <div class="row">
          <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <p class="pull-left Elavon-tb"><%= descriptor.name %></p>
            <% if descriptor.payment_gateways.blank? %>
              <p class="pull-left Elavon-tb">&nbsp&nbsp <%= link_to "<span class='fa fa-edit'>Edit</span>".html_safe, new_descriptor_admins_payment_gateways_path(id: descriptor.id), remote: :true, class: "" %></p>
            <% end %>
            <div class="pull-right">
              <div class="form-group margin-bottom-0-payment-gateway">
                <% if params[:type] != "archived" %>
                  <label class="switch">
                    <% if descriptor.active %>
                      <input type="checkbox" id="archive_descriptor" data-id="<%= descriptor.id %>" name="" class="archive_descriptor display-block-margin-left-20-px-p-g" checked data-message="Are you sure you want <br>to Archive this Payment Gateway?">
                    <% else %>
                      <input type="checkbox" id="archive_descriptor" data-id="<%= descriptor.id %>" name="" class="archive_descriptor display-block-margin-left-20-px-p-g">
                    <% end %>
                    <div class="slider round"><span class="on">Active</span><span class="off">Inactive</span></div>
                  </label>
                <% end %>
              </div>
            </div>
          </div>

          <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <% if descriptor.payment_gateways.present? %>
              <%= render partial: "admins/payment_gateways/partials/thead", locals: {descriptor: descriptor, index: index} %>
            <% end %>
            <%# if @search_gateways.present? %>
              <%# if @search_gateways[descriptor.id].present? %>
                <%#= render partial: "admins/payment_gateways/partials/thead", locals: {descriptor: descriptor, index: index} %>
              <%# end %>
            <%# else %>
              <%# if params[:type] == "archived" %>
                <%# if descriptor.payment_gateways.main_gateways.archived_gateways.present? %>
                  <%#= render partial: "admins/payment_gateways/partials/thead", locals: {descriptor: descriptor, index: index} %>
                <%# end %>
              <%# else %>
                <%# if descriptor.payment_gateways.main_gateways.active_gateways.present? %>
                  <%#= render partial: "admins/payment_gateways/partials/thead", locals: {descriptor: descriptor, index: index} %>
                <%# end %>
              <%# end %>
            <%# end %>
          </div>
        </div>
      </div>
    <% end %>
  </div>

  <div class="col-md-12 ">
    <%= paginate @descriptors, :theme => 'twitter-bootstrap-3', :pagination_class => "pagination-small pagination-centered pull-right padd" %>
  </div>
</section>
<div id="cover-spin"></div>
<%= render partial: "admins/payment_gateways/partials/alert_modal"  %>