$("#new_modal").html("<%= j render(partial: 'new') %>");
$(".myModal").modal();
$('.payment_gateway_client_secret').hide();
$('.payment_gateway_client_id').hide();
$('.payment_gateway_authentication_id').hide();
$('.payment_gateway_signature_maker').hide();
$('.payment_gateway_processor_id').hide();
$(".cards_gateways").hide();
//....................payment_gateways/new.html..............//
$(".close").on('click', function () {
    $('.modal').remove();
    $('.modal-backdrop').remove();
    $('body').removeClass( "modal-open" );
});

$(document).ready(function () {
    $('.myModal').modal({backdrop: 'static', keyboard: false})
})

//...................................payment_gateways/_form.html........//
$(document).ready(function () {
    $(document).on('click', "#merchant_fee", function (e) {
        $('.merchantFeeModalDialog').modal('toggle');
    });
    $(document).on('keyup', '#payment_gateway_monthly_limit, #payment_gateway_daily_limit, #payment_gateway_average_ticket, #payment_gateway_high_ticket,#payment_gateway_charge_back_fee,#payment_gateway_retrieval_fee,#payment_gateway_monthly_service_fee,#payment_gateway_per_transaction_fee', function (e) {
        var num = $(this).val().split('.')[1];
        if(!isNaN(num) && num.length > 2){
            e.preventDefault();
            $(this).val(parseFloat($(this).val()).toFixed(2));
        }

    });
    function onClickHandler(data){
        if ($(data).is(':checked')){
            $(data).parent().next().find('input').attr('disabled',true)
        }else{
            $(data).parent().next().find('input').attr('disabled',false)
        }

    }

    var fewSeconds = 2;
    $(document).on('click', "#plus_id", function (e) {
        var btn = $(this);
        btn.prop('disabled', true);
        setTimeout(function(){
            btn.prop('disabled', false);
        }, fewSeconds*1000);
    });
    $(document).on('keyup change', ".fee_fields", function (e) {
        this.value = this.value.replace(/[^0-9\.]/g,'');
    });

    $(document).on('click', "#midlimit_anchor", function (e) {
        $("#midbuyrate").hide();
        $('#midlimit').show();
        $(".cards_gateways").show();
        $("#submit_gateway").addClass('submit_gateway');
        $("#midlimitli").attr('class', 'active');
        $("#midbuyli").attr('class', '');
    });
    $(document).on('click', "#midbuyrate_anchor", function(e){
        $('#midlimit').hide();
        $("#midbuyrate").show();
        $(".cards_gateways").hide();
        $("#submit_gateway").removeClass('submit_gateway');
        $("#midlimitli").attr('class', '');
        $("#midbuyli").attr('class', 'active');
    });

    $(document).on('change', '#payment_gateway_type', function () {
        if($(this).val()== "stripe"){
            $("label[for='payment_gateway_client_id']").text('').text('Client ID');
            $("label[for='payment_gateway_client_secret']").text('').text('Client Secret');
            $("label[for='payment_gateway_authentication_id']").text('').text('Authentication');
            $('.payment_gateway_client_secret').show();
            $('.payment_gateway_client_id').show();
            $('.payment_gateway_authentication_id').hide();
            $('.payment_gateway_signature_maker').hide();
            $('.payment_gateway_processor_id').hide();
            $("#merchant_fee").hide();
        }else if($(this).val()== "converge") {
            $("label[for='payment_gateway_client_id']").text('').text('Converge Merchant ID');
            $("label[for='payment_gateway_client_secret']").text('').text('Converge Pin');
            $("label[for='payment_gateway_authentication_id']").text('').text('Converge User ID');
            $('.payment_gateway_client_secret').show();
            $('.payment_gateway_client_id').show();
            $('.payment_gateway_authentication_id').show();
            $('.payment_gateway_signature_maker').hide();
            $('.payment_gateway_processor_id').hide();
            $("#merchant_fee").hide();
        }else if($(this).val()== "fluid_pay") {
            $("label[for='payment_gateway_client_id']").text('').text('Client ID');
            $("label[for='payment_gateway_client_secret']").text('').text('Client Secret');
            $("label[for='payment_gateway_authentication_id']").text('').text('Authentication');
            $('.payment_gateway_client_secret').show();
            $('.payment_gateway_processor_id').show();
            $('.payment_gateway_client_id').hide();
            $('.payment_gateway_authentication_id').hide();
            $('.payment_gateway_signature_maker').hide();
            $("#merchant_fee").hide();
        }else if($(this).val()== "i_can_pay" || $(this).val() == "payment_technologies") {
            $("label[for='payment_gateway_client_id']").text('').text('Auth Password');
            $("label[for='payment_gateway_client_secret']").text('').text('Secret Key');
            $("label[for='payment_gateway_authentication_id']").text('').text('Authentication ID');
            $("label[for='payment_gateway_signature_maker']").text('').text('Signature Maker');
            $('.payment_gateway_client_secret').show();
            $('.payment_gateway_client_id').show();
            $('.payment_gateway_authentication_id').show();
            $('.payment_gateway_signature_maker').show();
            $('.payment_gateway_processor_id').hide();
            $("#merchant_fee").hide();
        }else if($(this).val()== "bolt_pay") {
            $("label[for='payment_gateway_client_secret']").text('').text('Merchant Token');
            $("label[for='payment_gateway_client_id']").text('').text('API Key');
            $('.payment_gateway_client_secret').show();
            $('.payment_gateway_client_id').show();
            $('.payment_gateway_authentication_id').hide();
            $('.payment_gateway_signature_maker').hide();
            $('.payment_gateway_processor_id').show();
            $("#merchant_fee").hide();
        }else if ($(this).val() == "ficer") {
            $("#merchant_fee").show();
            $('.payment_gateway_client_secret').hide();
            $('.payment_gateway_client_id').hide();
            $('.payment_gateway_authentication_id').hide();
            $('.payment_gateway_signature_maker').hide();
            $('.payment_gateway_processor_id').hide();

        }
        else if ($(this).val() == "knox_payments") {
            $("label[for='payment_gateway_client_id']").text('').text('API Key');
            $("label[for='payment_gateway_client_secret']").text('').text('API Secret');
            $("label[for='payment_gateway_authentication_id']").text('').text('Authentication');
            $('.payment_gateway_client_secret').show();
            $('.payment_gateway_client_id').show();
            $('.payment_gateway_authentication_id').hide();
            $('.payment_gateway_signature_maker').hide();
            $('.payment_gateway_processor_id').hide();
            $("#merchant_fee").hide();
        }
        else if($(this).val()== "total_pay") {
            $("label[for='payment_gateway_client_id']").text('').text('API Key');
            $("label[for='payment_gateway_authentication_id']").text('').text('Authentication');
            $('.payment_gateway_client_id').show();
            $('.payment_gateway_authentication_id').hide();
            $('.payment_gateway_signature_maker').hide();
            $('.payment_gateway_processor_id').hide();
            $("#merchant_fee").hide();
        }
        else if($(this).val()== "mentom_pay") {
            $("label[for='payment_gateway_client_id']").text('').text('API Key');
            $("label[for='payment_gateway_authentication_id']").text('').text('Authentication');
            $('.payment_gateway_client_id').hide();
            $('.payment_gateway_authentication_id').show();
            $('.payment_gateway_signature_maker').hide();
            $('.payment_gateway_processor_id').hide();
            $("#merchant_fee").hide();
        }
        else{
            $('.payment_gateway_client_secret').hide();
            $('.payment_gateway_client_id').hide();
            $('.payment_gateway_authentication_id').hide();
            $('.payment_gateway_signature_maker').hide();
            $('.payment_gateway_processor_id').hide();
            $("#merchant_fee").hide();
        }
    });
    //................payment_gateways/merchant_fees.html.erb......................//

    $(document).on('click', ".closed, .closed-btn", function () {
        $("#merchantFee").modal('hide');
        $("#merchantFee").removeClass('show');
        $('#merchantFee.modal.fade.in').removeClass('modal fade in ');
        $('.modal-backdrop.fade.show').remove();
    });
    $(document).on('.closed.hidden.bs.modal', function (e) {
        $('.modal').remove();
        $('.modal-backdrop').remove();
        $('body').removeClass( "modal-open" );
    });
    $(document).on('.closed-btn.hidden.bs.modal', function (e) {
        //for save fee button
        $('.modal').remove();
        $('.modal-backdrop').remove();
        $('body').removeClass( "modal-open" );
    });
    $('.datepicker').datepicker({
        dateFormat: 'mm/dd/yy',
        minDate: new Date(),
    });

});

