
<div class="title-block">
  <div class="col-md-6">
    <h1 class="title" >Payment Gateway</h1>
  </div>
  <div class="col-md-6">
  </div>
</div>

<div class="well well-sm">
  <div class="sidebar-overlay" id="sidebar-overlay"></div>

  <div class="card" data-exclude="xs,sm,lg">

    <div class="card-body">
      <section class="example" style="margin-top: 30px">
        <div class="">
          <div class="table-responsive">
            <table id="datatable-keytable" class="table table-striped table-bordered" cellspacing="0" cellpadding="0">
              <thead>
              <tr>
                <th>Id</th>
                <th class="all">Descriptor</th>
                <th >Gateway</th>
                <th >Action</th>
              </tr>
              </thead>
              <tbody>
              <% unless @payment_gateways.blank?%>
                <% @payment_gateways.each do |l| %>
                  <tr>
                    <td><%= l.id %></td>
                    <td><%= l.name %></td>
                    <td><%= l.key %></td>
                    <td>
                      <%= link_to 'Edit', edit_admins_payment_gateway_path(id: l, old: true),remote: :true %>
                    </td>
                  </tr>
                <% end %>
              <% else %>
              <% end %>

              </tbody>
            </table>
            <span style="margin-left: 16px">Showing <%=@payment_gateways.try(:count)%> of <%=@payment_gateways.total_count %> records</span>
            <%= paginate @payment_gateways, :theme => 'twitter-bootstrap-3', :pagination_class => "pagination-small pagination-centered pull-right padd" %>
          </div>
        </div>
      </section>
    </div>
  </div>
</div>
<div id="cover-spin"></div>
<section id="edit_modal"></section>




