<div class="modal fade" id="confirmationChargebackModel"  tabindex="-1" role="dialog" aria-labelledby="orderModelLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header" >
        <p class="change-password-modal-text">Confirmation</p>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <!--<form method="post" action="#">-->
          <div class="row">
            <div class="col-lg-12">
              <div class="text-center validate-text-div">
                <p class="simple-36-bold-text">Please validate your information</p>
              </div>
              <div class="row">
                <div class="col-lg-3"></div>
                <div class="col-lg-8">

                  <div class="form-group m-form__group">
                    <label class="modal_label ml-2">
                      Email
                    </label>
                    <div class="m-input-icon m-input-icon--right">
                      <input type="email" class="form-control m-input" placeholder="Insert email">
                    </div>
                  </div>
                  <div class="form-group m-form__group">
                    <label class="modal_label ml-2" for="exampleInputEmail1">
                     Password
                    </label>
                    <div class="m-input-icon m-input-icon--right">
                      <input type="password" class="form-control m-input" id="password" placeholder="Insert password">
                    </div>
                    <span id="info-text"></span>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-12 text-center <%= @chargebacks.sent_pending? && !@chargebacks.evidence.present? ? 'display_class' : 'display_none'%>">
              <div class="form-group m-form__group modal_btn">
                <div class="row">
                  <div class="col-lg-12 text-center">
                    <a href="" class="btn btn-default btn_cancel" data-dismiss="modal">Cancel</a>
                    <!--<a href="" class="btn btn-default accept_chargeback btn_active ml-4" data-dismiss="modal" data-toggle="modal" data-target="#verifyPasswordModel">Submit</a>-->

                    <button href="" class="btn btn-default accept_chargebacks btn_active ml-4" >Submit</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        <!--</form>-->
      </div>
    </div>
  </div>
</div>