<div class="m-content m-content_space">
  <div class="row">
    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
      <div class="m-subheader__title ach-heading-custom flex-line flex-between mb-24">
        Chargebacks
        <div class="actions-header">
          <%# if @user.present? && @user.merchant_id.present? && @user_permission.try(:export_chargeback) %>
              <button type="button" class="btn m-btn--pill btn-secondary ml-4 mr-4 export_bulk export-btn" data-toggle="modal" data-target="#echeckModal">
                Export
              </button>
          <%# end %>
          <button type="button" class="btn m-btn--pill btn-secondary activity_log__btn slide-toggle slide-toggle-open" data-type="chargebacks">
            <span >Activity Log </span><%= image_tag "v2/activity_log/noun_clock_1698764.svg", class: "timer-width-18 " %>
          </button>
          <div class='input-group pull-right rotate--icon ml-3' id='e-checks'>
            <input type='text' class="form-control m-input" readonly  placeholder="Month to Date"/>
            <input type='hidden' value="date" id="detail-value"/>
            <div class="input-group-append">
													<span class="input-group-text">
														<%= image_tag "v2/merchant/icons/down-b.svg", class:'rotate',id:'img--remove'%>
													</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="m-portlet m-portlet--mobile m-portal_datatable" id="chargeback_parent_div">
    <div class="m-portlet__body" >
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 charge_back_widget mb-4 pb-0">
        <div class="row">
          <div class="col-xl-3  col-lg-2 col-md-2 col-sm-6 col-xs-12 margin--top-10">
            <div class="row mt-2">
              <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 col-xs-3">
                <div class="icon-div">

                  <%= image_tag "v2/merchant/icons/earnings.svg"%>
                </div>
              </div>
              <% dispute=@chargebacks.values.flatten %>
              <% case_received= dispute.try(:count) %>
              <% sent_pending = dispute.select{|i| i.status=='sent_pending'} %>
              <% won_case = dispute.select{|i| i.status=='won_reversed'} %>
              <% lost = dispute.select{|i| i.status=='lost'} %>
              <div class="col-xl-9 col-lg-9 col-md-9 col-sm-9 col-xs-9 padding-0-left">

                <div class="small_chargeback">Cases Received
                  <span data-container="body" data-toggle="popoverpr" data-placement="top" title="" data-p="">
                  <%= image_tag 'v2/merchant/icons/info_icon.svg', class:'ml-2'%>
                </span>
                </div>
                <div class="price_chargeback case_recieved"><%= case_received %></div>
              </div>
            </div>
          </div>
          <div class="col-xl-3  col-lg-2 col-md-2 col-sm-6 col-xs-12 margin--top-10">
            <div class="row mt-2">
              <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 col-xs-3">
                <div class="icon-div">
                  <%#= image_tag "merchant/icons/earnings.svg"%>
                  <%= image_tag "v2/merchant/icons/processingfee.svg"%>
                </div>
              </div>
              <div class="col-xl-9 col-lg-9 col-md-9 col-sm-9 col-xs-9 padding-0-left">
                <div class="small_chargeback">Cases Pending
                  <span data-container="body" data-toggle="popoverpp" data-placement="top" title="" data-p="">
                  <%= image_tag 'v2/merchant/icons/info_icon.svg', class:'ml-2'%>
                </span>
                </div>
                <div class="price_chargeback case_pending"><%= sent_pending.try(:count) %></div>
              </div>
            </div>
          </div>
          <div class="col-xl-2  col-lg-2 position-right-22 col-md-2 col-sm-6 col-xs-12 margin--top-10">
            <div class="row mt-2">
              <div class="col-xl-4 col-lg-4 col-md-4 col-sm-3 col-xs-3">
                <div class="icon-div">
                  <%#= image_tag "merchant/icons/processingfee.svg"%>
                  <%= image_tag "v2/merchant/icons/reembolso_chargbacks.svg"%>
                </div>
              </div>
              <div class="col-xl-8 col-lg-8 col-md-9 col-sm-9 col-xs-9 padding-0-left">
                <div class="small_chargeback">
                  Cases Won
                  <span data-container="body" data-toggle="popoverpw" data-placement="top" title="" data-p="">
                  <%= image_tag 'v2/merchant/icons/info_icon.svg', class:'ml-2'%>
                </span>
                </div>
                <div class="price_chargeback case_won"><%= won_case.try(:count) %></div>
              </div>
            </div>
          </div>
          <div class="col-xl-2  col-lg-2 col-md-2 col-sm-6 col-xs-12 margin--top-10">
            <div class="row mt-2">
              <div class="col-xl-4 col-lg-4 col-md-4 col-sm-3 col-xs-3">
                <div class="icon-div">
                  <%= image_tag "v2/merchant/icons/processingfee.svg"%>
                </div>
              </div>
              <div class="col-xl-8 col-lg-8 col-md-8 col-sm-9 col-xs-9 padding-0-left">
                <div class="small_chargeback">
                  Cases Lost
                  <span data-container="body" data-toggle="popoverpl" data-placement="top" title="" data-p="">
                  <%= image_tag 'v2/merchant/icons/info_icon.svg', class:'ml-2'%>
                </span>
                </div>
                <div class="price_chargeback case_lost"><%= lost.try(:count) %></div>
              </div>
            </div>
          </div>
          <div class="col-xl-2  col-lg-2 col-md-2 col-sm-6 col-xs-12 margin--top-10">
            <div class="row mt-2">
              <div class="col-xl-4 col-lg-4 col-md-3 col-sm-3 col-xs-3">
                <div class="icon-div">
                  <%= image_tag "v2/merchant/icons/expensis.svg"%>
                </div>
              </div>
              <div class="col-xl-8 col-lg-8 col-md-8 col-sm-9 col-xs-9 padding-0-left">
                <div class="small_chargeback">
                  Chargeback %
                  <span data-container="body" data-toggle="popoverpc" data-placement="top" title="" data-p="">
                  <%= image_tag 'v2/merchant/icons/info_icon.svg', class:'ml-2'%>
                </span>
                </div>
                <div class="price_chargeback case_perc"><%= @cbk_percentage %>%</div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!--begin: Datatable -->
      <input type="hidden" id="url_path" name="url_path" value="true">
      <input type="hidden" id="user_id" name="user_id" value="<%= current_user.id %>">
      <input type="hidden" id="total_chargeback" name="total_chargeback" value="true">

      <%= render partial: "v2/merchant/shared/datatable_search",locals: {filter_path: request.path, search_id: 'chargeback_search', id:'id'} %>

      <div class="table-data">
        <%= render partial: "v2/merchant/shared/merchant_chargebacks" %>
      </div>
      <%#= render partial: "v2/merchant/shared/datatable_pagination",locals:{variable:@chargebacks} %>

    </div>
  </div>
  <!-- END EXAMPLE TABLE PORTLET-->
</div>

<%#= render partial: 'export_dateRange' %>
<%#= render partial: 'export_processing' %>
<%= render partial: 'v2/merchant/shared/export_modal', locals: {title: "Export Chargebacks", type: TypesEnumLib::WorkerType::MerchantLocationDispute} %>

<%= javascript_include_tag 'v2/merchant/bootstrap-daterangepicker' %>
<%= javascript_include_tag 'v2/merchant/chargebacks' %>
