<div class="row">
  <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <table>
      <thead>
      <tr class="giftcard-headings">
        <th></th>
        <th>UTID</th>
        <th>Name</th>
        <th>Creation Date </th>
        <th>Name on Bank Account</th>
        <th>Currency</th>
        <th class="t-r">Amount</th>
        <th><center>
          <div class="m-dropdown m-dropdown--inline m-dropdown--arrow m-dropdown--align-right " m-dropdown-toggle="click" aria-expanded="true">
            <a href="#" class="m-portlet__nav-link m-dropdown__toggle btn m-btn m-btn--link btn_status">
              <i class="flaticon-interface-2"></i>
              <span class="filter-text">Status</span>
            </a>
          </div>
        </center>
        </th>
      </tr>
      </thead>
      <tbody id="giftcard_body">
      </tbody>
    </table>
  </div>
</div>
<div class="row">
  <div class="col-xl-8 col-lg-8 col-md-8 col-sm-12 col-xs-12"></div>
  <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6 col-xs-6 pull-right">
    <%= link_to 'View More', v2_partner_giftcards_path, class: "view-more pull-right" %>
  </div>
</div>