<div class="row">
  <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12 table-div-check">
<!--  <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12 table table-responsive">-->
    <table>
      <thead>
      <tr>
        <th>Check ID</th>
        <th>Check Number</th>
        <th>Creation Date</th>
        <!--<th>Account</th>-->
        <th>Name on Check </th>
        <th>Email</th>
        <th class="t-r">Check Amount</th>
        <th class="t-r">Fee</th>
        <th class="t-r">Total Amount</th>
        <th>
          <center>
            <%= render partial: "v2/merchant/accounts/status_datatable", locals: {key: "check"} %>
          </center>
        </th>
      </tr>
      </thead>
      <tbody id="check_body">

      </tbody>
    </table>
  </div>
</div>
<div class="row">
  <div class="col-xl-8 col-lg-8 col-md-8 col-sm-12 col-xs-12"></div>
  <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6 col-xs-6 pull-right view-more-btn-check">
    <%= link_to 'View More', v2_partner_checks_path , class: "view-more pull-right" %>
  </div>
</div>
<div class="no-data-div-check">
  <tr class="no-data-tr">
    <td colspan="8">
      <div class="col-xl-12 ">
        <center  class="m-5 p-5">
          <%= image_tag "v2/merchant/datatable/no_data.svg" %>
          <p class="No-data-available mt-4 mr-4">No data available</p>
        </center>
      </div>
    </td>
  </tr>
</div>