<div class="row">
<!--  <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12 table table-responsive">-->
  <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12 table-div-ach">
    <table>
      <thead>
      <tr>
        <th>
          ACH ID
        </th>
        <th>
          Creation Date
        </th>
        <th>
          Name on Bank Account
        </th>
        <th>
          Account Last 4
        </th>
        <th class="t-r">
          ACH Amount
        </th>
        <th class="t-r">
          Fee
        </th>
        <th class="t-r">
          Total Amount
        </th>
        <th>
          <center>
            <%= render partial: "v2/merchant/accounts/status_datatable", locals: {key: "ach"} %>
          </center>
        </th>
      </tr>
      </thead>
      <tbody id="ach_body">
        <%= render partial: "v2/partner/accounts/ach_body" if @user.affiliate_program? %>
      </tbody>
    </table>
  </div>
</div>
<div class="row">
  <div class="col-xl-8 col-lg-8 col-md-8 col-sm-12 col-xs-12"></div>
  <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6 col-xs-6 pull-right view-more-btn-ach">
    <%= link_to 'View More', v2_partner_instant_ach_index_path, class: "view-more pull-right" %>
  </div>
</div>
<div class="no-data-div-ach">
  <tr class="no-data-tr">
    <td colspan="8">
      <div class="col-xl-12 ">
        <center  class="m-5 p-5">
          <%= image_tag "v2/merchant/datatable/no_data.svg" %>
          <p class="No-data-available mt-4 mr-4">No data available</p>
        </center>
      </div>
    </td>
  </tr>
</div>
