<% ach = AppConfig.try(:ach).try(:first) %>
<% p2c = AppConfig.try(:p2c).try(:first) %>
<% check = AppConfig.try(:checks).try(:first) %>
<% giftcard = AppConfig.try(:giftcard).try(:first) %>

<div class="modal fade" id="WithdrawModal" class="confirmuserpermissionModal" tabindex="-1" role="dialog" aria-labelledby="orderModelLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content modal-width">
      <div class="modal-header" >
        <p class="modal-header-text" id="withdraw_heading">New ACH</p>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">

        </button>
      </div>
      <div class="modal-body pl-7">
        <div class="row">
          <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="loc-account-box-3 ">
              <ul class="nav nav-tabs  m-tabs-line m-tabs-line--2x m-tabs-line--success head-tab" role="tablist">
                <li class="nav-item m-tabs__item list--items">
                  <a class="nav-link m-tabs__link active show text--set link-tab" data-toggle="tab" id="tab_7_1" href="#m_tabs_7_1" role="tab" aria-selected="true">
                    ACH
                  </a>
                </li>
                <li class="nav-item m-tabs__item list--items">
                  <a class="nav-link m-tabs__link text--set link-tab" data-toggle="tab" id="tab_7_2" href="#m_tabs_7_2" role="tab" aria-selected="false">
                    P2C
                  </a>
                </li>
                <li class="nav-item m-tabs__item list--items">
                  <a class="nav-link m-tabs__link text--set link-tab" data-toggle="tab" id="tab_7_3" href="#m_tabs_7_3" role="tab" aria-selected="false">
                    E-Check
                  </a>
                </li>
                <li class="nav-item m-tabs__item list--items">
                  <a class="nav-link m-tabs__link text--set link-tab" data-toggle="tab"  data-wallet="<%= @wallet.id %>" id="tab_7_4" href="#m_tabs_7_4" role="tab" aria-selected="false">
                    Gift Card
                  </a>
                </li>
              </ul>
              <div class="tab-content withdraws-tab">
                <div class="tab-pane active" id="m_tabs_7_1" role="tabpanel">
                  <% if (ach.present? && ach.boolValue == false)  %>
                    <p class="m-5 p-5 text-center font-weight-bold">ACH is blocked.</p>
                  <% else %>
                    <div class="ach_tab account-transfer">
                      <%= render partial: 'v2/partner/accounts/ach_form', locals: {balance: balance} %>
                    </div>
                    <div id="achConfrim">
                      <%= render partial: 'v2/partner/accounts/withdraw_ach_confirm' %>
                    </div>
                  <% end %>
                </div>

                <div class="tab-pane" id="m_tabs_7_2" role="tabpanel">
                  <% if (p2c.present? && p2c.boolValue == false)  %>
                    <p class="m-5 p-5 text-center font-weight-bold">P2C is blocked.</p>
                  <% else %>
                    <div class="p2c_tab account-transfer">
                      <%= render partial: 'v2/partner/accounts/p2c_form', locals: {balance: balance} %>
                    </div>
                    <div id="p2cConfirm">
                      <%= render partial: 'v2/partner/accounts/withdraw_p2c_confirm' %>
                    </div>
                  <% end %>
                </div>
                <div class="tab-pane" id="m_tabs_7_3" role="tabpanel">
                  <% if (check.present? && check.boolValue == false)  %>
                    <p class="m-5 p-5 text-center font-weight-bold">E-Check is blocked.</p>
                  <% else %>
                    <div class="check_tab account-transfer">
                      <%= render partial: 'v2/partner/accounts/check_form', locals: {balance: balance} %>
                    </div>
                    <div id="echeckConfrim">
                      <%= render partial: 'v2/partner/accounts/echeck_confirm_modal' %>
                    </div>
                  <% end %>
                </div>
                <!--                Tab four Start-->
                <div class="tab-pane" id="m_tabs_7_4" role="tabpanel">
                  <% if (giftcard.present? && giftcard.boolValue == false)  %>
                    <p class="m-5 p-5 text-center font-weight-bold">Giftcard is blocked.</p>
                  <% else %>
                    <div id="giftCard">
                      <div class="account-transfer" id="buy_giftcard">
                        <%= image_tag 'v2/login/QCLogoAnimation.gif', class: 'loader',id:"loaderhehe" %>
                      </div>
                    </div>
                    <div id="giftBuy">
                      <%= image_tag 'v2/login/QCLogoAnimation.gif', class: 'loader',id:"loaderhehe1" %>
                    </div>
                    <div id="giftConfirm" >
                      <div class="modal-bodyg pl-7">
                        <div>
                          <p class="simple-20-bold-text-dark margin-32">Confirm your information</p>
                        </div>
                        <div class="row mt-5">
                          <div class="col-lg-6 col-md-6">
                            <div class="row">
                              <div class="col-lg-12">
                                <div class="account-gift">
                                  <div>
                                    <p class="account-text mb-0">Account</p>
                                    <p class="account-name-text mb-0" id="gc_account"></p>
                                  </div>
                                </div>
                              </div>
                            </div>
                            <div class="row mt-2">
                              <div class="col-lg-12 col-md-12">
                                <div>
                                  <p class="account-text mb-0 padding--20 ">Recipient email</p>
                                  <p class="account-name-text mb-0 padding--20" id="gc_email"></p>
                                </div>
                              </div>
                            </div>
                            <div class="row mt-2">
                              <div class="col-lg-12 col-md-12">
                                <div class="account-gift">
                                  <div>
                                    <p class="account-text mb-0">Gift Card Type</p>
                                    <p class="account-name-text" id="gc_name_confirm"></p>
                                    <img src="" alt="" id="gc_image_confirm">
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="col-lg-6 col-md-6">
                            <div class="row">
                              <div class="col-lg-12">
                                <div class="giftcard-amount">
                                  <div>
                                    <p class="amount-text">Amount</p>
                                  </div>
                                  <hr class="invoice-h-line">
                                  <div class="row">
                                    <div class="col-lg-6 col-md-6">
                                      <div>
                                        <p class="giftcard-paragraph-text">Available Balance</p>
                                      </div>
                                    </div>
                                    <div class="col-lg-6 col-md-6">
                                      <div class="pull-right">
                                        <p class="giftcard-amount-price" id="avail_balance_gc"><%= number_to_currency(number_with_precision(balance, precision: 2, delimiter: ',')) %></p>
                                      </div>
                                    </div>
                                  </div>
                                  <div class="row bg-amount mt-2">
                                    <div class="col-lg-6 col-md-6">
                                      <div class="mt-3">
                                        <p class="giftcard-paragraph-text">Gift Card Amount</p>
                                      </div>
                                    </div>
                                    <div class="col-lg-6 col-md-6">
                                      <div class="pull-right mt-3">
                                        <p class="giftcard-amount-price" id="giftcard_amount"></p>
                                      </div>
                                    </div>
                                  </div>
                                  <div class="row mt-2">
                                    <div class="col-lg-6 col-md-6">
                                      <div>
                                        <p class="giftcard-paragraph-text">Fee</p>
                                      </div>
                                    </div>
                                    <div class="col-lg-6 col-md-6">
                                      <div class="pull-right">
                                        <p class="giftcard-amount-price" id="fee_amount_gc">$<%= number_with_precision(current_user.system_fee["giftcard_fee"].to_f, precision: 2, delimieter: ',')%></p>
                                      </div>
                                    </div>
                                  </div>
                                  <div class="row bg-amount mt-2">
                                    <div class="col-lg-6 col-md-6">
                                      <div class="mt-3">
                                        <p class="giftcard-paragraph-text">Total Amount</p>
                                      </div>
                                    </div>
                                    <div class="col-lg-6 col-md-6">
                                      <div class="pull-right mt-3">
                                        <p class="giftcard-amount-price" id="total_amount_gc"></p>
                                      </div>
                                    </div>
                                  </div>
                                  <hr class="h-line">
                                  <div class="row bg-remaining mt-4">
                                    <div class="col-lg-6 col-md-6">
                                      <div class="mt-3">
                                        <p class="giftcard-paragraph-text">Remaining Balance</p>
                                      </div>
                                    </div>
                                    <div class="col-lg-6 col-md-6">
                                      <div class="pull-right mt-3">
                                        <p class="giftcard-amount-price" id="remaining_balance"></p>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>

                        <div class="row">
                          <div class="col-lg-12 col-md-12">
                            <div class="text-center mt-5">
                              <a href="#" class="btn btn-default gift-card-back-btn mr-2 " id="gc_back">Back</a>
                              <a href="#" class="btn btn-default success-giftCard-call giftcard-confirm-btn " id="submit_giftcard" data-dismiss="modal" data-toggle="modal" data-target="#SuccessGiftAccountTransferModal">Confirm</a>
                            </div>
                          </div>

                        </div>

                      </div>
                    </div>
                  <% end %>
                </div>
                <!--                  Tab four End-->
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<%= render partial: "v2/partner/accounts/gift_card_success" %>
<%#= javascript_include_tag 'v2/merchant/giftcard' %>
