<%= form_tag create_ach_v2_partner_accounts_path, method: :post, id: "ach_form", remote: true do %>
    <% hidden_field_tag :wallet_id, @wallet.id %>
  <div class="row">
    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-xs-12">
      <div>
        <label class="label--account">Send From Account</label>
        <%= select_tag( "wallet_id",
                        options_for_select([[@wallet.name, @wallet.id]], selected: @wallet.id),
                        class: "form-control partner-dropdown m-time-bootstrap-select m-bootstrap-select m-bootstrap-select--pill  m_selectpicker reason-dd-1",
                        required: true
            ) %>
        <div class="m--space-10"></div>
      </div>
    </div>
    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-xs-12">
      <div>
        <label class="label--account"></label>
        <div class="balance">
          Balance
          <span class="price pull-right ach_account_balance">
                               <%= number_to_currency(number_with_precision(balance, precision: 2, delimiter: ',')) %>
                            </span>
        </div>
        <div class="m--space-10"></div>
      </div>
    </div>
  </div>
  <div class="row mt-4">
    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-xs-12">
      <label class="label--account">Select Bank Account</label>
      <div id="bank-div">

        <% if current_user.affiliate_program? && current_user.admin_user_id.present? %>
          <% admin_user = User.find(current_user.admin_user_id) %>
          <%  user_system_fee = current_user['system_fee'] %>
          <% current_user['system_fee'] = admin_user.system_fee if admin_user.present? && admin_user.try(:system_fee) != "{}" %>
          <%  current_user.system_fee["bank_account"] =  user_system_fee["bank_account"] %>
          <% current_user.system_fee["bank_routing"] =  user_system_fee["bank_routing"] %>
          <% current_user.system_fee["bank_account_name"] =  user_system_fee["bank_account_name"] %>
          <% current_user.system_fee["bank_account_type"] =  user_system_fee["bank_account_type"] %>
        <%end%>

        <% if current_user['system_fee']['bank_account'].present? %>
          <% d_account = AESCrypt.decrypt("#{current_user.id}-#{ENV['ACCOUNT_ENCRYPTOR']}",current_user['system_fee']['bank_account'])
             d_account = "****#{d_account.last(4)}" if d_account.present? %>
          <%= select_tag("bank_id",
                         options_for_select([[d_account, @wallet.id]], @wallet.id),
                         class: "form-control partner-dropdown m-time-bootstrap-select m-bootstrap-select m-bootstrap-select--pill  m_selectpicker reason-dd-1",
                         required:true,
                         ) %>
          <input type="hidden" id="bank_account_name" name="bank_id">
        <% else %>
          <select id="bank_id" class="form-control   m-time-bootstrap-select m-bootstrap-select m-bootstrap-select--pill  m_selectpicker reason-dd-1 " title="No Bank Accounts" required>
            <option value="">No Bank Accounts</option>
          </select>
        <% end %>
      </div>
    </div>
    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-xs-12">
      <div class="form-group m-form__group">
        <% fees = current_user["system_fee"] %>
        <label for="transection_amount" class="label--account">Enter Amount</label>
        <input type="hidden" id="achlimit" value="<%= fees.try(:[], "ach_limit").to_f %>">
        <input type="hidden" id="achlimittype" value="<%= fees.try(:[], "ach_limit_type") %>">
        <input type="hidden" id="achtotalcount">
        <input type="hidden" id="fee_dollar" value="<%= fees.try(:[], "ach_dollar").to_f %>">
        <input type="hidden" id="fee_perc" value="<%= fees.try(:[], "ach_percent").to_f %>">
        <div class="input-icon icon_inside_input_field">
          <span>$</span>
          <%= number_field_tag 'amount','', id: "amount", class: " form-control pull-left input--amount  m-input revoke-paste", placeholder: "00.00",step:  "0.01",min: "1", autocomplete: 'new-password', required: true %>
        </div>
      </div>
      <div class="simple-text mt-4 ach_amount_details display_none"><span>Amount: <span id="ach_amount">$0.00</span></span>   &nbsp;&nbsp;  Fee: <span id="ach_fee">$0.00</span>  &nbsp;&nbsp;   <span class="total">Total: <span id="ach_total">$0.00</span></span>  </div>
      <div class="display_none red-color" id="ach_error"></div>
    </div>
  </div>

  <div class="row mt-4">

    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
      <div>
        <label class="label--account">Enter Memo</label>
        <%= text_area_tag 'ach_memo','', class: "form-control input--box input--memo box-memo" %>
      </div>
    </div>
  </div>
  <div class="row mt-4">
    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12 text--center">
      <button class="btn btn--transfer transfer-money btn--redius" type="button"  id = 'ach_submit'>Submit</button>
    </div>
  </div>
<% end %>