  <div class="row">
    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12" id="agent-perfo">
      <div class="loc-account-box-2" >
        <div class="row">
          <div class="col-xl-7 col-lg-7 col-md-7 col-sm-7 col-xs-7">
            <div class=" simple-24-bold-rgba mt-3">
              <%= current_user.agent? ? 'Affiliate' : 'Agent'%> Performance
            </div> 
          </div>
          <div class="col-xl-5 col-lg-5 col-md-5 col-sm-5 col-xs-5">
            <div class="row pull-right">
              <div>
                <div class="m-input-icon m-input-icon--left">
                <input type="text" class="form-control ml-3 m-input p-m-input search_input_datatable" id="agent_search" placeholder="Search for a <%= current_user.agent? ? 'Affiliate' : 'Agent' %>">
                <span class="m-input-icon__icon m-input-icon__icon--left">
                  <span>
                    <%= image_tag "v2/merchant/datatable/search.svg", class:'win-img ml-3'%>
                  </span>
                </span>
              </div>
              </div>

               <div class="pad-sep" id='agent_search_div'>
                <div class='input-group p-input-group pull-right rotate--icon search-d-width' id='agent_performance'>
                  <input type='text' class="form-control m-input calander_text search-width-t Select--Period" id="calander_text" readonly  placeholder="Select Period"/>
                  <input type='hidden' value="date" id="detail-value"/>
                  <div class="input-group-append ">
                            <span class="input-group-text drop-logo">
                              <%= image_tag "v2/merchant/icons/down-b.svg", class:'rotate',id:'img--remove'%>
                            </span>
                  </div>
                </div>
              </div>
            </div>
          </div>

        </div>
        <hr class="hr">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 agent_performances" id="agent_performances">
          <div class="m-dropdown__inner" id="scrollbar">
            <%= image_tag 'v2/login/QCLogoAnimation.gif', class: 'loader_2',id:"loader_2" %>
          </div>
          <%= render partial: 'v2/partner/accounts/agent_list' %>

        </div>
      </div>
    </div>
  </div>
