<div class="m-portlet__body agent_list_data">
  <ul class="nav nav-pills" role="tablist" id="agent_list">
    <input type="hidden" id="hidden_wallet_id" value="<%= @agents.try(:first).try(:wallets).try(:first).try(:id)%>">
    <% if @agents.present? %>
    <% @agents.each_with_index do |user,i| %>
        <li class="nav-item agent_data" data-id="<%= user.try(:wallets).try(:first).try(:id) %>">
          <a class="nav-link tab_text <%= @agents.try(:first).try(:id)==user.try(:id) ? 'active' : ''%> <%= i.present? && i.even? ? 'even' : 'odd'%> m_tabs_3_2" data-toggle="tab" href="#m_tabs_3_6<%=user.id%>">
            <div><%= user.try(:name) %></div>
            <div class="row">
              <div class="col-lg-6">
                <div class="pull-left p-simple-14-normal-text">
                  MID
                </div>
              </div>
              <div class="col-lg-6">
                <div class="pull-right p-simple-14-normal-text">
                  <%= user.try(:id) %>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-lg-7">
                <div class="pull-left margin-top-20 p-simple-14-normal-text">
                  Activation date
                </div>
              </div>
              <div class="col-lg-5">
                <div class="pull-right margin-top-20 p-simple-14-normal-text">
                  <%= user.try(:created_at).present? ? user.try(:created_at).strftime('%m/%d/%y') : 'N/A' %>
                </div>
              </div>
            </div>
          </a>
        </li>
    <% end %>
    <% else %>
        <li class="nav-item agent_data" data-id="">
          <a class="nav-link tab_text active odd m_tabs_3_2" data-toggle="tab" href="#m_tabs_3_6">
            <div>No Data</div>
            <div class="row">
              <div class="col-lg-6">
                <div class="pull-left p-simple-14-normal-text">
                  MID
                </div>
              </div>
              <div class="col-lg-6">
                <div class="pull-right p-simple-14-normal-text">
                  <%#= user.try(:id) %>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-lg-7">
                <div class="pull-left margin-top-20 p-simple-14-normal-text">
                  Activation date
                </div>
              </div>
              <div class="col-lg-5">
                <div class="pull-right margin-top-20 p-simple-14-normal-text">
                  <%#= user.try(:created_at).present? ? user.try(:created_at).strftime('%d/%m/%y') : 'N/A' %>
                </div>
              </div>
            </div>
          </a>
        </li>

  <% end %>


  </ul>
  <div class="tab-content pu">
    <% if @agents.present? %>
    <% @agents.each do |user| %>
        <div class="tab-pane <%= @agents.try(:first).try(:id)==user.try(:id) ? 'active' : ''%> " id="m_tabs_3_6<%=user.id%>" role="tabpanel">
          <div class="row">
            <div class="col-lg-1 pad_5">
              <div class="p_v2"></div>
            </div>
            <div class="col-lg-11 pl-0 pr-0">
              <div class="row margin--top-15 " id="sortable">
                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-xs-12 draggable sale_processed">
                  <div class="p-graph-box">
                    <div class="row">
                      <div class="col-xl-12 col-lg-12 col-md-12 col-sm-9 col-xs-12">
                        <div class="small-top simple-16-bold-adadad">
                          Processing Volume <span data-container="body" data-toggle="popover" data-placement="top" title="Total sales amount from merchant that are assigned to the selected Agent." data-img="">
                                <%= image_tag "v2/merchant/icons/imfo.svg", class: 'down-img'%></span>
                        </div>
                        <div class="price">
                          $ <span class="net_processing<%= user.try(:wallets).try(:first).try(:id)%>">0</span> <%= image_tag "v2/merchant/icons/down.svg", class: 'down-img'%>
                        </div>
                        <div class="small-bottom simple-16-normal-adadad">
                          <span class="transactions_count<%= user.try(:wallets).try(:first).try(:id)%>">0 </span> Transactions
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div class="m-widget26__chart">
                          <!--<canvas id="m_chart_quick_stats_4_today"></canvas>-->
                          <div id="m_chart_quick_stats_4_today<%= user.try(:wallets).try(:first).try(:id)%>"></div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-xs-12 draggable invoice_processed">
                  <div class="p-graph-box">
                    <div class="row">
                      <div class="col-xl-12 col-lg-12 col-md-12 col-sm-9 col-xs-12">
                        <div class="small-top simple-16-bold-adadad">
                          Net Earnings <span data-container="body" data-toggle="popover" data-placement="top" title="Total Processing Volume less than any commission paid to Affilliate(s)." data-img="">
                                <%= image_tag "v2/merchant/icons/imfo.svg", class: 'down-img'%></span>
                        </div>
                        <div class="price">
                          $ <span class="net_earning<%= user.try(:wallets).try(:first).try(:id)%>">0</span> <%= image_tag "v2/merchant/icons/down.svg", class: 'down-img'%>
                        </div>
                        <div class="small-bottom simple-16-normal-adadad">
                          <span class="transactions_count<%= user.try(:wallets).try(:first).try(:id)%>">0 </span> Transactions
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div class="m-widget26__chart">
                          <div id="m_chart_quick_stats_4_today_net<%= user.try(:wallets).try(:first).try(:id)%>"></div>

                          <!--<canvas id="m_chart_quick_stats_4_1"></canvas>-->
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-xs-12 draggable margin--top-15  avg_txn">
                  <div class="p-graph-box">
                    <div class="row">
                      <div class="col-xl-12 col-lg-12 col-md-12 col-sm-9 col-xs-12">
                        <div class="small-top simple-16-bold-adadad">
                          Merchant Portfolio <span data-container="body" data-toggle="popover" data-placement="top" title="Number of merchants assigned to selected Agent." data-img="">
                                <%= image_tag "v2/merchant/icons/imfo.svg", class: 'down-img'%></span>
                        </div>
                        <div class="price">
                           <span class="merchant_total<%= user.try(:wallets).try(:first).try(:id)%>">0</span>  <%= image_tag "v2/merchant/icons/down.svg", class: 'down-img'%>
                        </div>
                        <div class="margin--top-35"> </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div class="m-widget26__chart">
                          <!--<canvas id="m_chart_quick_stats_4_2"></canvas>-->
                          <div id="m_chart_quick_stats_4_merchant<%= user.try(:wallets).try(:first).try(:id)%>"></div>

                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
    <% end %>
    <% else %>
        <div class="tab-pane active " id="m_tabs_3_6" role="tabpanel">
          <div class="row">
            <div class="col-lg-1">
              <div class="p_v2"></div>
            </div>
            <div class="col-lg-11 pl-0 pr-0">
              <div class="row margin--top-15 " id="sortable">
                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-xs-12 draggable sale_processed">
                  <div class="p-graph-box">
                    <div class="row">
                      <div class="col-xl-12 col-lg-12 col-md-12 col-sm-9 col-xs-12">
                        <div class="small-top simple-16-bold-adadad">
                          Processing Volume <span data-container="body" data-toggle="popover" data-placement="top" title="Total sales amount from merchant that are assigned to the selected Agent." data-img="">
                                <%= image_tag "v2/merchant/icons/imfo.svg", class: 'down-img'%></span>
                        </div>
                        <div class="price">
                          $ <span class="net_processing<%#= user.try(:wallets).try(:first).try(:id)%>">0</span> <%= image_tag "v2/merchant/icons/down.svg", class: 'down-img'%>
                        </div>
                        <div class="small-bottom simple-16-normal-adadad">
                          <span class="transactions_count<%#= user.try(:wallets).try(:first).try(:id)%>">0 </span> Transactions
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div class="m-widget26__chart">
                          <!--<canvas id="m_chart_quick_stats_4_today"></canvas>-->
                          <div id="m_chart_quick_stats_4_today<%#= user.try(:wallets).try(:first).try(:id)%>"></div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-xs-12 draggable invoice_processed">
                  <div class="p-graph-box">
                    <div class="row">
                      <div class="col-xl-12 col-lg-12 col-md-12 col-sm-9 col-xs-12">
                        <div class="small-top simple-16-bold-adadad">
                          Net Earnings <span data-container="body" data-toggle="popover" data-placement="top" title="Total Processing Volume less than any commission paid to Affilliate(s)." data-img="">
                                <%= image_tag "v2/merchant/icons/imfo.svg", class: 'down-img'%></span>
                        </div>
                        <div class="price">
                          $ <span class="net_earning<%#= user.try(:wallets).try(:first).try(:id)%>">0</span> <%= image_tag "v2/merchant/icons/down.svg", class: 'down-img'%>
                        </div>
                        <div class="small-bottom simple-16-normal-adadad">
                          <span class="transactions_count<%#= user.try(:wallets).try(:first).try(:id)%>">0 </span> Transactions
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div class="m-widget26__chart">
                          <div id="m_chart_quick_stats_4_today_net<%#= user.try(:wallets).try(:first).try(:id)%>"></div>

                          <!--<canvas id="m_chart_quick_stats_4_1"></canvas>-->
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-xs-12 draggable margin--top-15  avg_txn">
                  <div class="p-graph-box">
                    <div class="row">
                      <div class="col-xl-12 col-lg-12 col-md-12 col-sm-9 col-xs-12">
                        <div class="small-top simple-16-bold-adadad">
                          Merchant Portfolio <span data-container="body" data-toggle="popover" data-placement="top" title="Number of merchants assigned to selected Agent." data-img="">
                                <%= image_tag "v2/merchant/icons/imfo.svg", class: 'down-img'%></span>
                        </div>
                        <div class="price">
                          <span class="merchant_total<%#= user.try(:wallets).try(:first).try(:id)%>">0</span>  <%= image_tag "v2/merchant/icons/down.svg", class: 'down-img'%>
                        </div>
                        <div class="margin--top-35"> </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div class="m-widget26__chart">
                          <!--<canvas id="m_chart_quick_stats_4_2"></canvas>-->
                          <div id="m_chart_quick_stats_4_merchant<%#= user.try(:wallets).try(:first).try(:id)%>"></div>

                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

  <% end %>
  </div>
</div>
