
<div class="row">
  <% fees = current_user["system_fee"] %>
  <div class="row" id="search_div">
    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
      <form id="search_form_shared_account">
        <div class="m-form__group">
          <div class="m-input-icon m-input-icon--left m-input-icon_datatable">
            <input type="text" name="gc_search" id="gc_search" class="form-control m-input search_input_datatable" placeholder="Search">
            <span class="m-input-icon__icon m-input-icon__icon--left">
                              <span>
                                <%= image_tag 'v2/merchant/datatable/search.svg', class: 'win-img' %>
                              </span>
                            </span>
          </div>
        </div>
      </form>
    </div>
  </div>

  <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <table class="table-width" id="gc_table">
      <thead>
      <tr>
        <th class="image-set">Image</th>
        <th class="brand-name">Brand Name</th>
        <th class="amount-card">Amount</th>
        <th class="action-set">Action</th>
      </tr>
      </thead>
      <tbody class="table-striped">
      <% @giftcards.try(:each_with_index) do |giftcard,index|%>
        <% giftcard[:items].each do |item|%>
          <tr class="<%= index.odd? ? '' : 'tr-shade' %>">
            <td class="brand-icon">
              <img src="<%= giftcard[:image_urls][:images]%>" alt="" width="117px" height="73px">
            </td>
            <td class="brand-name"><%= giftcard[:brand_name]%></td>
            <td class="amount-card"><%= number_to_currency(item.face_value) if item.face_value.present? %>
              <% if item.max_value.present? && item.min_value.present? %>
                <%= number_to_currency(item.min_value) %> ~ <%= number_to_currency(item.max_value)%>
              <%end%>
            </td>
            <td class="td-r text--center">
              <div class="pull-right btn-inside">
                <a class="btn btn-default btn-invoice-cancel btn--wf btn-width" id="GiftBuybtn" data-path="<%= giftcard_show_v2_partner_accounts_path(id: item.utid, fee: fees.try(:[], "giftcard_fee").to_f) %>">Buy</a>
<!--                              <a  class="btn btn-default btn-invoice-cancel btn--wf btn-width" id = 'GiftBuybtn'>Buy</a>-->
              </div>
            </td>
          </tr>
        <% end %>
      <% end %>
      </tbody>
    </table>
  </div>
</div>
<!--              Pagination-->
