<%= form_tag create_check_v2_partner_accounts_path, method: :post, id: "check_form", remote: true do %>
  <% hidden_field_tag :wallet_id, @wallet.id %>
  <div class="row">
    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-xs-12">
      <div>
        <label class="label--account">Select Account</label>
        <%= select_tag( "wallet_id",
                        options_for_select([[@wallet.name, @wallet.id]], selected: @wallet.id),
                        class: "form-control partner-dropdown m-time-bootstrap-select m-bootstrap-select m-bootstrap-select--pill  m_selectpicker reason-dd-1",
                        required: true
            ) %>
        <div class="m--space-10"></div>
      </div>
    </div>
    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-xs-12">
      <div>
        <label class="label--account"></label>
        <div class="balance">
          Balance
          <span class="price pull-right check_account_balance">
                              <%= number_to_currency(number_with_precision(balance, precision: 2, delimiter: ',')) %>
                            </span>
        </div>
        <div class="m--space-10"></div>
      </div>
    </div>
  </div>
  <div class="row mt-4">
    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-xs-12">
      <label class="label--account">Enter Recipient Email</label>
      <%= email_field_tag 'email', '', class: "form-control", id: "check_email", placeholder: "user@email.com" %>
    </div>
    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-xs-12">
      <label class="label--account">Pay to the Order of</label>
      <%= text_field_tag 'name', '', class: "form-control input--amount", id: "check_name", placeholder: "Name" %>
    </div>
  </div>
  <div class="row mt-4">
    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-xs-12">
      <div class="form-group m-form__group">

        <% if current_user.affiliate_program? && current_user.admin_user_id.present? %>
          <% admin_user = User.find(@user.admin_user_id) %>
          <% fees = admin_user.system_fee %>
        <%else%>
          <% fees = current_user["system_fee"] %>
        <%end%>

       
        <input type="hidden" id="checklimit" value="<%= fees.try(:[], "check_limit").to_f %>">
        <input type="hidden" id="checklimittype" value="<%= fees.try(:[], "check_limit_type") %>">
        <input type="hidden" id="checktotalcount">
        <input type="hidden" id="check_fee_dollar" value="<%= fees.try(:[], "send_check").to_f %>">
        <input type="hidden" id="check_fee_perc" value="<%= fees.try(:[], "redeem_fee").to_f %>">
        <label for="transection_amount" class="label--account">Enter Amount</label>
        <div class="input-icon icon_inside_input_field">
          <span>$</span>
          <%= number_field_tag 'amount', '', class: "form-control pull-left input--amount m-input revoke-paste", id: "check_amount", step: 'any', placeholder: "00.00",min: "1" , required: true %>
        </div>
      </div>
    </div>
    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-xs-12 middle">
      <div id="check_error" class="mt-4 display_none red-color"></div>
      <div class="simple-text mt-4 check_amount_details display_none"><span>Amount: <span id="amount_check">$0.00</span></span>   &nbsp;&nbsp;  Fee: <span id="check_fee">$0.00</span>  &nbsp;&nbsp;   <span class="total">Total: <span id="check_total">$0.00</span></span>  </div>
    </div>
  </div>

  <div class="row mt-4">
    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
      <div>
        <label class="label--account">Enter Memo</label>
        <%= text_area_tag "memo", '', class: "form-control input--box input--memo box-memo", id: "check_memo" %>
      </div>
    </div>
  </div>

  <!--<div class="row mt-4">-->
    <!--<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">-->
      <!--<div class="echecks_modal">-->
        <!--<div class="row">-->
          <!--<div class="col-lg-1 col-md-1 col-sm-1 pr-0 pl-0">-->
            <!--<center>-->
              <!--<%#= image_tag "v2/merchant/icons/denger_alert.svg"%>-->
            <!--</center>-->
          <!--</div>-->
          <!--<div class="col-lg-11 col-md-11 col-sm-11 pl-0">-->
            <!--<p class="important_note_echecks">-->
                                  <!--<span>-->
                                    <!--Important Note-->
                                  <!--</span>-->
              <!--<br>-->
              <!--Any check transactions submitted after 1:50 PM (PST) will be processed on the next business day.-->
            <!--</p>-->
          <!--</div>-->
        <!--</div>-->
      <!--</div>-->
    <!--</div>-->
  <!--</div>-->


  <div class="row mt-4">
    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12 text--center">
      <button class="btn btn--transfer transfer-money btn--redius check-btn btn-text" type="button" id = 'check_submit'>Send Check via Email</button>
    </div>
  </div>
<% end %>