<div class="m-portlet__body merchant_list_data">
  <ul class="nav nav-pills" role="tablist" id="myTable">
    <input type="hidden" id="hidden_merchant_id" value="<%= @merchant_wallet.try(:first).try(:wallets).try(:primary).try(:first).try(:id)%>">
<% if  @merchant_wallet.present? %>
    <% @merchant_wallet.each_with_index do |user,i| %>
        <li class="nav-item merchant_data"  data-id="<%= user.try(:wallets).try(:primary).try(:first).try(:id) %>">
          <a class="nav-link merchant_nav <%= @merchant_wallet.try(:first).try(:id)==user.try(:id) ? 'active' : ''%> tab_text <%= i.present? && i.even? ? 'even' : 'odd'%> m_tabs_3_1 <%= user.try(:id) %>" data-toggle="tab" href="#m_tabs_3_1<%=user.id%>" id="<%=user.id%>">
            <div><%= user.try(:business_name) %></div>
            <div class="row">
              <div class="col-lg-6">
                <div class="pull-left p-simple-14-normal-text">
                  MID
                </div>
              </div>
              <div class="col-lg-6">
                <div class="pull-right p-simple-14-normal-text">
                  <%= user.try(:id) %>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-lg-7">
                <div class="pull-left margin-top-20 p-simple-14-normal-text">
                  Activation date
                </div>
              </div>
              <div class="col-lg-5">
                <div class="pull-right margin-top-20 p-simple-14-normal-text">
                  <%= user.try(:created_at).present? ? user.try(:created_at).strftime('%m/%d/%y') : 'N/A' %>
                </div>
              </div>
            </div>
          </a>
        </li>
    <% end %>
 <% else %>
        <li class="nav-item merchant_data">
          <a class="nav-link merchant_nav active tab_text even m_tabs_3_1"  data-toggle="tab" href="#m_tabs_3_1" >
            <div>No Data</div>
            <div class="row">
              <div class="col-lg-6">
                <div class="pull-left p-simple-14-normal-text">
                  MID
                </div>
              </div>
              <div class="col-lg-6">
                <div class="pull-right p-simple-14-normal-text">
                  <%#= user.try(:location).try(:id) %>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-lg-7">
                <div class="pull-left margin-top-20 p-simple-14-normal-text">
                  Activation date
                </div>
              </div>
              <div class="col-lg-5">
                <div class="pull-right margin-top-20 p-simple-14-normal-text">
                  <%#= user.try(:created_at).present? ? user.try(:created_at).strftime('%d/%m/%y') : 'N/A' %>
                </div>
              </div>
            </div>
          </a>
        </li>

  <% end %>
  </ul>
  <div class="tab-content pu">
    <% if  @merchant_wallet.present? %>
    <% @merchant_wallet.each do |user| %>
        <div class="tab-pane <%= @merchant_wallet.try(:first).try(:id)==user.try(:id) ? 'active' : ''%>" id="m_tabs_3_1<%=user.id%>" role="tabpanel">
          <div class="row">
            <div class="col-lg-1 pad_5">
              <div class="p_v1"></div>
            </div>
            <div class="col-lg-11 pl-0 pr-0">
              <div class="row margin--top-15 " id="sortable">
                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-xs-12 draggable sale_processed">
                  <div class="p-graph-box">
                    <div class="row">
                      <div class="col-xl-12 col-lg-12 col-md-12 col-sm-9 col-xs-12">
                        <div class="small-top simple-16-bold-adadad">
                          Processing Volume<span data-container="body" data-toggle="popover" data-placement="top" title="Total amount for merchant approved sales transactions." data-img="">
                                                    <%= image_tag "v2/merchant/icons/imfo.svg", class: 'down-img'%></span>
                        </div>
                        <div class="price">
                          $ <span class="net_processing<%= user.try(:wallets).try(:primary).try(:first).try(:id)%>">0</span>  <%= image_tag "v2/merchant/icons/down.svg", class: 'down-img'%>
                        </div>
                        <div class="small-bottom simple-16-normal-adadad">
                          <span class="transactions_count<%= user.try(:wallets).try(:primary).try(:first).try(:id)%>">0 </span> Transactions
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div class="m-widget26__chart">
                          <!--<canvas id="m_chart_quick_stats_4"></canvas>-->
                          <div id="m_chart_quick_stats_44_merchant<%= user.try(:wallets).try(:primary).try(:first).try(:id)%>"></div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-xs-12 draggable invoice_processed">
                  <div class="p-graph-box">
                    <div class="row">
                      <div class="col-xl-12 col-lg-12 col-md-12 col-sm-9 col-xs-12">
                        <div class="small-top simple-16-bold-adadad">
                          Commission Profit <span data-container="body" data-toggle="popover" data-placement="top" title="Total amount for commissions earned from a merchant." data-img="">
                                                    <%= image_tag "v2/merchant/icons/imfo.svg", class: 'down-img'%> </span>
                        </div>
                        <div class="price">
                          $ <span class="iso_commission_sum<%= user.try(:wallets).try(:primary).try(:first).try(:id)%>">0</span>  <%= image_tag "v2/merchant/icons/down.svg", class: 'down-img'%>
                        </div>
                        <div class="small-bottom simple-16-normal-adadad">
                          <span class="transactions_count<%= user.try(:wallets).try(:primary).try(:first).try(:id)%>">0</span> Transactions
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div class="m-widget26__chart">
                          <!--<canvas id="m_chart_quick_stats_4_1"></canvas>-->
                          <div id="m_chart_quick_stats_44_commission<%= user.try(:wallets).try(:primary).try(:first).try(:id)%>"></div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-xs-12 draggable margin--top-15  avg_txn">
                  <div class="p-graph-box">
                    <div class="row">
                      <div class="col-xl-12 col-lg-12 col-md-12 col-sm-9 col-xs-12">
                        <div class="small-top simple-16-bold-adadad">
                          Commission Split <span data-container="body" data-toggle="popover" data-placement="top" title="Total commission amount paid out to agent(s)." data-img="">
                                                    <%= image_tag "v2/merchant/icons/imfo.svg", class: 'down-img'%> </span>
                        </div>
                        <div class="price">
                          $ <span class="iso_split_sum<%= user.try(:wallets).try(:primary).try(:first).try(:id)%>">0</span>  <%= image_tag "v2/merchant/icons/down.svg", class: 'down-img'%>
                        </div>
                        <div class="margin--top-35"> </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div class="m-widget26__chart">
                          <!--<canvas id="m_chart_quick_stats_4_2"></canvas>-->
                          <div id="m_chart_quick_stats_44_commission_split<%= user.try(:wallets).try(:primary).try(:first).try(:id)%>"></div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-xs-12 draggable margin--top-15  cbk_perc">
                  <div class="p-graph-box">
                    <div class="row">
                      <div class="col-xl-12 col-lg-12 col-md-12 col-sm-9 col-xs-12">
                        <div class="small-top simple-16-bold-adadad">
                          Net Earnings <span data-container="body" data-toggle="popover" data-placement="top" title="Net Earnings equal Commission Profit less Commissions Split." data-img="">
                                                    <%= image_tag "v2/merchant/icons/imfo.svg", class: 'down-img'%> </span>
                        </div>
                        <div class="price">
                          $ <span class="net_earning<%= user.try(:wallets).try(:primary).try(:first).try(:id)%>">0</span>  <%= image_tag "v2/merchant/icons/down.svg", class: 'down-img'%>
                        </div>
                        <div class="small-bottom simple-16-normal-adadad">
                          <span class="transactions_count<%= user.try(:wallets).try(:primary).try(:first).try(:id)%>">0 </span> Transactions
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div class="m-widget26__chart">
                          <!--<canvas id="m_chart_quick_stats_4_3"></canvas>-->
                          <div id="m_chart_quick_stats_44_net<%= user.try(:wallets).try(:primary).try(:first).try(:id)%>"></div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
    <% end %>
 <% else %>
        <div class="tab-pane active" id="m_tabs_3_1" role="tabpanel">
          <div class="row">
            <div class="col-lg-1">
              <div class="p_v1"></div>
            </div>
            <div class="col-lg-11 pl-0 pr-0">
              <div class="row margin--top-15 " id="sortable">
                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-xs-12 draggable sale_processed">
                  <div class="p-graph-box">
                    <div class="row">
                      <div class="col-xl-12 col-lg-12 col-md-12 col-sm-9 col-xs-12">
                        <div class="small-top simple-16-bold-adadad">
                          Processing Volume<span data-container="body" data-toggle="popover" data-placement="top" title="Total amount for merchant approved sales transactions." data-img="">
                                                    <%= image_tag "v2/merchant/icons/imfo.svg", class: 'down-img'%></span>
                        </div>
                        <div class="price">
                          $ <span class="net_processing<%#= user.try(:id)%>">0</span>  <%= image_tag "v2/merchant/icons/down.svg", class: 'down-img'%>
                        </div>
                        <div class="small-bottom simple-16-normal-adadad">
                          <span class="transactions_count<%#= user.try(:id)%>">0</span> Transactions
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div class="m-widget26__chart">
                          <!--<canvas id="m_chart_quick_stats_4"></canvas>-->
                          <div id="m_chart_quick_stats_44_merchant<%#= user.try(:id)%>"></div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-xs-12 draggable invoice_processed">
                  <div class="p-graph-box">
                    <div class="row">
                      <div class="col-xl-12 col-lg-12 col-md-12 col-sm-9 col-xs-12">
                        <div class="small-top simple-16-bold-adadad">
                          Commission Profit <span data-container="body" data-toggle="popover" data-placement="top" title="Total amount for commissions earned from a merchant." data-img="">
                                                    <%= image_tag "v2/merchant/icons/imfo.svg", class: 'down-img'%> </span>
                        </div>
                        <div class="price">
                          $ <span class="iso_commission_sum<%#= user.try(:id)%>">0</span>  <%= image_tag "v2/merchant/icons/down.svg", class: 'down-img'%>
                        </div>
                        <div class="small-bottom simple-16-normal-adadad">
                          <span class="transactions_count<%#= user.try(:id)%>">0</span> Transactions
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div class="m-widget26__chart">
                          <!--<canvas id="m_chart_quick_stats_4_1"></canvas>-->
                          <div id="m_chart_quick_stats_44_commission<%#= user.try(:id)%>"></div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-xs-12 draggable margin--top-15  avg_txn">
                  <div class="p-graph-box">
                    <div class="row">
                      <div class="col-xl-12 col-lg-12 col-md-12 col-sm-9 col-xs-12">
                        <div class="small-top simple-16-bold-adadad">
                          Commission Split <span data-container="body" data-toggle="popover" data-placement="top" title="Total commission amount paid out to agent(s)." data-img="">
                                                    <%= image_tag "v2/merchant/icons/imfo.svg", class: 'down-img'%> </span>
                        </div>
                        <div class="price">
                          $ <span class="iso_split_sum<%#= user.try(:id)%>">0</span>  <%= image_tag "v2/merchant/icons/down.svg", class: 'down-img'%>
                        </div>
                        <div class="margin--top-35"> </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div class="m-widget26__chart">
                          <!--<canvas id="m_chart_quick_stats_4_2"></canvas>-->
                          <div id="m_chart_quick_stats_44_commission_split<%#= user.try(:id)%>"></div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-xs-12 draggable margin--top-15  cbk_perc">
                  <div class="p-graph-box">
                    <div class="row">
                      <div class="col-xl-12 col-lg-12 col-md-12 col-sm-9 col-xs-12">
                        <div class="small-top simple-16-bold-adadad">
                          Net Earnings <span data-container="body" data-toggle="popover" data-placement="top" title="Net Earnings equal Commission Profit less Commissions Split." data-img="">
                                                    <%= image_tag "v2/merchant/icons/imfo.svg", class: 'down-img'%> </span>
                        </div>
                        <div class="price">
                          $ <span class="net_earning<%#= user.try(:id)%>">0</span>  <%= image_tag "v2/merchant/icons/down.svg", class: 'down-img'%>
                        </div>
                        <div class="small-bottom simple-16-normal-adadad">
                          <span class="transactions_count<%#= user.try(:id)%>">0</span> Transactions
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div class="m-widget26__chart">
                          <!--<canvas id="m_chart_quick_stats_4_3"></canvas>-->
                          <div id="m_chart_quick_stats_44_net<%#= user.try(:id)%>"></div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

  <% end %>
  </div>
</div>
