<% if @p2cs.present? %>
  <% @p2cs.try(:each_with_index) do |p2c, index| %>
    <% if p2c.status == "VOID" %>
      <% css_class = "p2c-tr-void" %>
    <% elsif p2c.status == "PENDING" %>
      <% css_class = "p2c-tr-pending" %>
    <% elsif p2c.status == "IN_PROGRESS" || p2c.status == "IN_PROCESS" %>
      <% css_class = "p2c-tr-in_process" %>
    <% elsif p2c.status == "FAILED" %>
      <% css_class = "p2c-tr-failed" %>
    <% elsif p2c.status == "UNPAID" %>
      <% css_class = "p2c-tr-unpaid" %>
    <% elsif p2c.status == "PAID" %>
      <% css_class = "p2c-tr-paid" %>
    <% elsif p2c.status == "PAID_WIRE" %>
      <% css_class = "p2c-paid_by_wire" %>
    <% end %>
    <tr class="<%= index.odd? ? 'odd' : 'even' %> <%= css_class %> p2c-show-all">
      <td>
        <%= p2c.id %>
      </td>
      <% if cookies[:timezone].present? %>
        <td><%= p2c.created_at.in_time_zone(cookies[:timezone]).strftime("%m-%d-%Y %I:%M:%S %p")%></td>
      <%else %>
        <td class="timeUtc"><%= p2c.created_at.strftime("%m-%d-%Y %H:%M:%S")%></td>
      <% end %>
      <!--<td>
        <%#= p2c.wallet.location.try(:business_name) %>
      </td>-->
      <td>
        <%= p2c.name %>
      </td>
      <td><%= p2c.recipient %></td>
      <td class="last-right"><%= p2c.last4 %></td>
      <td class="t-r">
        <%= number_with_precision(number_to_currency(p2c.actual_amount),precision: 2, delimiter: ',') %>
      </td>
      <td class="t-r">
        <%= number_with_precision(number_to_currency(p2c.amount.to_f - p2c.actual_amount.to_f),precision: 2, delimiter: ',') %>
      </td>
      <td class="t-r">
        <%= number_with_precision(number_to_currency(p2c.amount),precision: 2, delimiter: ',') %>
      </td>
      <td>
        <center>
          <% if p2c.status == "PENDING" %>
            <span class="badge pending">PENDING</span>
          <% elsif p2c.status == "VOID" %>
            <span class="badge past_due">VOID</span>
          <% elsif p2c.status == "PAID" %>
            <span class="badge paid">PAID</span>
          <% elsif p2c.status == "FAILED" %>
            <span class="badge canceled">FAILED</span>
          <% end %>
        </center>
      </td>
    </tr>
  <% end %>
<% else %>
  <tr>
    <td colspan="10">
      <div class="col-xl-12 ">
        <center  class="m-5 p-5">
          <%= image_tag "v2/merchant/datatable/no_data.svg" %>
          <p class="No-data-available mt-4 mr-4">No data available</p>
        </center>
      </div>
    </td>
  </tr>
<% end %>