<div class="modal-body">
  <div class="account-transfer-confirm">
    <div class="row mb-5">
      <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="text echk-margin">
          Confirm your information
        </div>
      </div>
    </div>
    <form onsubmit="return false">
      <div class="row mt-4">
        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-xs-12">
          <div class="brown no-radius">
            <div class="small">
              Account
            </div>
            <div class="name" id="ach_account_name">
            </div>
          </div>
          <div class="simple no-radius">
            <div class="small">
              Bank Account
            </div>
            <div class="name" id="ach_account_number">
            </div>
          </div>
          <div class="brown no-radius">
            <div class="small">
              Description
            </div>
            <div class="name" id="ach_memo_confirm">
            </div>
          </div>
        </div>

        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-xs-12">
          <div class="right-box">
            <div class="title">
              Accounts
            </div>
            <hr class="hr mt-3">
            <div class="simple">
              <div class="label-ach">
                Available Balance
                <span class="price pull-right" id="ach_available_balance">
                      </span>
              </div>
            </div>
            <div class="brown">
              <div class="label-ach">
                ACH Amount
                <span class="price pull-right" id="ach_amount_transfer">
                      </span>
              </div>
            </div>
            <div class="simple">
              <div class="label-ach">
                Fee
                <span class="price pull-right" id="ach_fee_confirm">
                      </span>
              </div>
            </div>
            <div class="brown">
              <div class="label-ach">
                Total Amount
                <span class="price pull-right" id="ach_total_amount_confirm">
                    </span>
              </div>
            </div>
            <hr class="hr mt-3">
            <div class="brown blc-border border-right">
              <div class="label-blnc">
                Remaining Balance
                <span class="price pull-right" id="ach_remain_balance">
                    </span>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="row mt-3 mb-4">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12 text--center">
          <div class="mt-4 text--center">
            <a href="#" class="btn activity_log_btn text--center  m-btn m-btn--icon mr-3 back"  id = 'achbackbtn'>
              Back
            </a>
            <a href="#" class="btn btn-default btn-preview-invoice ach-confirm-btn success-ach-call" data-dismiss="modal" aria-label="Close"  id="ach_form_confirm" data-backdrop="static" data-toggle='modal' data-target='#SuccessAchModal'>Confirm</a>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
