<div class="m-subheader">
  <div class="d-flex align-items-center">
    <div class="mr-auto">
      <ul class="m-subheader__breadcrumbs m-nav m-nav--inline set-path">
        <li class="m-nav__item">
          <a href="<%= v2_partner_accounts_path %>" class="m-nav__link">
            <span class="my-order-nav">
             Account Overview
            </span>
          </a>
        </li>
        <li class="m-nav__separator">
          <%= image_tag "v2/merchant/icons/angle.svg"%>
        </li>
        <li class="m-nav__item">
          <a href="#" class="m-nav__link">
              <span class="order-active">
                Account Transactions
              </span>
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>

<div class="m-content">
  <div class="row">
    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-xs-12">
      <div class="page-title mb-4">
        Batch Transactions
      </div>
    </div>
    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-xs-12">
      <div class="pull-right">
      <!--   <button type="button" class="btn m-btn--pill btn-secondary ml-4 export-ach-btn export-btn" data-toggle="modal" data-target="#exportDateRange">
          Export
        </button> -->
        <% if params[:query].present? %>
          <a id="search_export" href="#exportProcessingModal" class="btn m-btn--pill btn-secondary ml-4 mr-4 export_bulk export-btn" data-toggle="modal" data-type="batch_transactions" data-wallet_id="<%= params[:wallet_id] %>" data-search-type="<%= params[:query].try(:[], "type") %>" data-subtype="<%= params[:type].present? ? params[:type] : "success" %>" data-search-block-id="<%= params[:query][:block_id] %>" data-search-date="<%= params[:query][:date] %>" data-search-first6="<%= params[:query][:first6] %>" data-search-last4="<%= params[:query][:last4] %>" data-search-phone="<%= params[:query][:phone_number] %>" data-search-time2="<%= params[:query][:time2] %>" data-search-time1="<%= params[:query][:time1] %>" data-search-email="<%= params[:query][:email] %>" data-search-amount="<%= params[:query][:amount] %>" data-search-name="<%= params[:query][:name] %>" data-batch-date="<%= params[:batch_date] %>" data-sender-name="<%= params[:query][:sender_name] %>" data-sender-email="<%= params[:query][:sender_email] %>" data-phone="<%= params[:query][:sender_phone_number] %>" data-search-dba_name="<%= params[:query][:dba_name]  %>" data-search-type1="<%= params[:query][:type1]  %>" data-search-offset="<%= params[:query][:offset].present? ? params[:query][:offset]: Time.now.in_time_zone(cookies[:timezone]).strftime("%:z") %>"><span class="btn-exported-text"><span>Export</span></span></a>
        <% else %>
          <a href="#exportProcessingModal" id="batch_export" data-sub_type="<%= params[:type] %>" data-wallet_id="<%= params[:wallet_id] %>" data-date="<%= params[:batch_date] %>" class="btn m-btn--pill btn-secondary ml-4 mr-4 export_bulk export-btn" data-toggle="modal"><span class="btn-exported-text"><span>Export</span></span></a>
        <% end %>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12">
       <ul class="nav nav-tabs  m-tabs-line m-tabs-line--2x m-tabs-line--success" role="tablist">
        <li class="nav-item m-tabs__item list--items">
          <%= link_to "Commission",batch_transactions_v2_partner_accounts_path(type: "commission",batch_date: params[:batch_date], wallet_id: params[:wallet_id], offset: Time.now.in_time_zone(cookies[:timezone]).strftime("%z")) ,class: "nav-link #{params["type"] == "commission" ? "active show" : "" }  m-tabs__link text--set"  %>
        </li>
        <li class="nav-item m-tabs__item list--items">
          <%= link_to "Personal Transactions",batch_transactions_v2_partner_accounts_path(type: "personal_transaction",batch_date: params[:batch_date], wallet_id: params[:wallet_id], offset: Time.now.in_time_zone(cookies[:timezone]).strftime("%z")) ,class: "nav-link #{params["type"] == "personal_transaction" ? "active show" : "" } m-tabs__link text--set"  %>
        </li>
      </ul>



    </div>
  </div>
  <div class="m-portlet m-portlet--mobile m-portal_datatable">
    <div class="m-portlet__body">
      <%= render partial: "v2/partner/accounts/partner_batch_transaction" %>
    </div>
  </div>
</div>
<%= render partial: "v2/partner/shared/export_modal",locals: {title: "Export Transactions",type: "batch_transactions"} %>

<%= javascript_include_tag 'v2/partner/transactions' %>

<%#= render partial: 'accounts_export_daterange' %>
<%#= render partial: 'export_processing' %>