<%= stylesheet_link_tag 'v2/merchant/apexcharts' %>
<%= stylesheet_link_tag 'v2/partner/accounts' %>
<% ach = AppConfig.try(:ach).try(:first) %>
<% p2c = AppConfig.try(:p2c).try(:first) %>
<% check = AppConfig.try(:checks).try(:first) %>
<% giftcard = AppConfig.try(:giftcard).try(:first) %>

<div class="m-subheader">
  <div class="mt-5">
    <p class="simple-36-normal-text">Account Overview</p>
  </div>
</div>

<div class="m-content">
  <div class="row">
    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
      <div class="loc-account-box loc-account-left-box-dimens partner_wallet">
        <div class="row">
          <a href="<%= v2_partner_transactions_path(type: "commission") %>" class="col-lg-10 col-md-10 col-sm-12 col-xs-12 detail_partener">
            <div class="row">
              <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-xs-12 padding-0-right">
                <div class="p-left-total-fund">
                  <div class=" simple-24-bold-text-dark">Total Funds in Account</div>
                  <div class="view_more_text pl-3 mt-1 ">view more</div>
                </div>
              </div>
              <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-xs-12 padding-0-left">
                <div class="brown">
                  <% balance = SequenceLib.balance(@wallet.id) %>
                  <div class="price p-total-price total-price pull-right"><%= number_to_currency(number_with_precision(balance.to_f, precision: 2, delimiter: ',')) %></div>
                </div>
              </div>
            </div>
          </a>
          <div class="col-xl-2 col-lg-2 col-md-2 col-sm-2 col-xs-12 padding-0-left">
            <div class="m--pull-right mt-2 mr-2">
              <a  class="btn btn-invoice-cancel btn--wf account_data" data-toggle='modal' data-target = '#WithdrawModal'>Withdraw</a>
              <!--              <a href="#" class="btn btn-default p-withdraw-btn">Withdraw</a>-->
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <% if !current_user.affiliate_program? %>
    <div class="row">
      <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12" id="daily-batch">
        <div class="loc-account-box-2" >
          <div class="row">
            <div class="col-xl-10 col-lg-10 col-md-10 col-sm-12 col-xs-12">
              <div class="title">
                Daily Batch
              </div>
            </div>
            <div class="col-xl-2 col-lg-2 col-md-2 col-sm-12 col-xs-12">
              <div class='input-group p-input-group pull-right rotate--icon search-d-width' id='daily_partner_batch'>
                <input type="hidden" name="wallet_id" value="<%= @wallet.id %>" id="hidden_wallet">
                <input type='text' class="form-control m-input search-width-t Select--Period day-btn-partner" readonly  placeholder="Select Period"/>
                <input type='hidden' value="date" id="detail-value"/>
                <div class="input-group-append day-btn-partner">
                  <span class="input-group-text drop-logo">
                    <%= image_tag "v2/merchant/icons/down-b.svg", class:'rotate',id:'img--remove'%>
                  </span>
                </div>
              </div>
            </div>
          </div>
          <hr class="hr">
          <input type="hidden" id="start_date_export">
          <input type="hidden" id="end_date_export">
          <div id="sales_batch">
            <%= render partial: 'v2/partner/accounts/sales_batch' %>
          </div>
        </div>
      </div>
    </div>
  <%end%>
  <% merchant=AppConfig.iso_performance.try(:last) if current_user.iso?  %>
  <% merchant=AppConfig.agent_performance.try(:last) if current_user.agent? %>
  <% merchant=AppConfig.affiliate_performance.try(:last) if current_user.affiliate? %>
  <% if merchant.try(:boolValue).present? %>
    <%= render partial: 'v2/partner/accounts/merchant_performance' %>
  <% end %>
  <% unless current_user.affiliate? %>
    <% agent=AppConfig.iso_agent_performance.try(:last)  if current_user.iso?%>
    <% agent=AppConfig.agent_affiliate_performance.try(:last) if current_user.agent?%>
    <% if agent.try(:boolValue).present? %>
      <%= render partial: 'v2/partner/accounts/agent_performance' %>
    <% end %>
  <% end %>
  <% if (ach.present? && ach.boolValue == false) && (p2c.present? && p2c.boolValue == false) && (check.present? && check.boolValue == false) && (giftcard.present? && giftcard.boolValue == false)  %>
  <% else %>
    <div class="row" id="scroll-to">
      <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="loc-account-box-2 loc-account-box-3">
          <div class="row">
            <div class="col-xl-10 col-lg-10 col-md-10 col-sm-12 col-xs-12">
              <div class="title">
                Withdrawals
              </div>
            </div>
          </div>
          <hr class="hr">
          <ul class="nav nav-tabs  m-tabs-line m-tabs-line--2x m-tabs-line--success mt-4" role="tablist">
            <% if (ach.present? && ach.boolValue == true)  %>
              <li class="nav-item m-tabs__item">
                <a class="nav-link m-tabs__link active show" data-toggle="tab" href="#m_tabs_6_1_w" role="tab" aria-selected="false">
                  ACH
                </a>
              </li>
            <% end %>
            <% if (p2c.present? && p2c.boolValue == true)  %>
              <li class="nav-item m-tabs__item">
                <a class="nav-link m-tabs__link " id="get_p2c" data-toggle="tab" href="#m_tabs_6_2_w" role="tab" aria-selected="false">
                  Push to Card
                </a>
              </li>
            <% end %>
            <% if (check.present? && check.boolValue == true)  %>
              <li class="nav-item m-tabs__item">
                <a class="nav-link m-tabs__link"  id="get_check" data-toggle="tab" href="#m_tabs_6_3_w" role="tab" aria-selected="true">
                  E-Check
                </a>
              </li>
            <% end %>
            <% if (giftcard.present? && giftcard.boolValue == true)  %>
              <li class="nav-item m-tabs__item">
                <a class="nav-link m-tabs__link "  id="get_giftcard" data-toggle="tab" href="#m_tabs_6_4_w" role="tab" aria-selected="false">
                  Gift Card
                </a>
              </li>
            <% end %>
          </ul>
          <div class="tab-content">
            <% if (ach.present? && ach.boolValue == true)  %>
              <div class="tab-pane active" id="m_tabs_6_1_w" role="tabpanel">
                <%= render partial: 'v2/partner/accounts/account_detail_ach' %>
              </div>
            <% end %>
            <% if (p2c.present? && p2c.boolValue == true)  %>
              <div class="tab-pane" id="m_tabs_6_2_w" role="tabpanel">
                <%= render partial: 'v2/partner/accounts/account_detail_p2c' %>
              </div>
            <% end %>
            <% if (check.present? && check.boolValue == true)  %>
              <div class="tab-pane" id="m_tabs_6_3_w" role="tabpanel">
                <%= render partial: 'v2/partner/accounts/account_detail_checks' %>
              </div>
            <% end %>
            <% if (giftcard.present? && giftcard.boolValue == true)  %>
              <div class="tab-pane" id="m_tabs_6_4_w" role="tabpanel">
                <%= render partial: 'v2/partner/accounts/account_detail_gift_card' %>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  <% end %>

</div>
<%= render partial: "v2/partner/shared/export_modal", locals: {title: "Export Batches", type: "sales_batches"} %>
<%= render partial: 'v2/partner/accounts/account_withdraw_modal', locals: {balance: balance.to_f} %>
<%= render partial: "v2/merchant/accounts/account_detail_export_daterange" %>
<%= render partial: 'v2/partner/accounts/withdraw_ach_success' %>
<%= render partial: 'v2/partner/accounts/withdraw_p2c_success' %>
<%= render partial: 'v2/partner/accounts/echeck_success_modal' %>
<%= render partial: 'v2/partner/shared/general_error_msg_accounts' %>
<%= javascript_include_tag 'v2/merchant/dashboard' %>
<%= javascript_include_tag 'v2/merchant/bootstrap-datepicker' %>
<%= javascript_include_tag 'v2/partner/account' %>
<%= javascript_include_tag 'v2/merchant/apexcharts.min' %>
<!--<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>-->