<div class="m-subheader ">
    <div class="d-flex align-items-center">
        <div class="mr-auto">
            <ul class="m-subheader__breadcrumbs m-nav m-nav--inline">
                <li class="m-nav__item">
                    <a class="m-nav__link" href=<%= customers_orders_path %> >
                        <span class="my-order-nav">
                            My Orders
                        </span>
                    </a>
                </li>
                <li class="m-nav__separator">
                    <%= image_tag "customers/images/pre_transit/chevron.svg" %>
                </li>
                <li class="m-nav__item">
                    <a href="#" class="m-nav__link">
                        <span class="order-active">
                            Order Details
                        </span>
                    </a>
                </li>
            </ul>
            <h3 class="m-subheader__title ">
                Order Details
            </h3>
        </div>
    </div>
</div>
<div class="m-content">
    <div class="row">
        <div class="col-lg-12">
            <div class="m-portlet product_lists">
                <div class="m-portlet__body">
                    <div class="tab-content">
                        <div class="order-details">
                            <div class="row">
                                <div class="col-md-12 first_section">
                                    <div class="row">
                                        <p class="order_detail_price">
                                            $<%= number_with_precision(@order.total_amount, precision: 2) %>
                                        </p>
                                        <p class="order_detail_id">
                                            Order ID <span><%= @order.order_id %></span>
                                        </p>
                                    </div>
                                </div>
                                <div class="col-md-12 order_progress">
                                    <div class="row">
                                        <div class="form-group m-form__group">
                                            <p class="cancel_text">
                                                <% if @tracker.status == "return_to_sender" || (@tracker.status == "delivered" && (@order.status == "refunded" || @order.status == "complete") ) %>
                                                    Refunded
                                                <%elsif @tracker.status == "cancel" %>
                                                        Canceled
                                                <%else%>
                                                     <%= @tracker.status.split('_').map(&:capitalize).join(' ') %>
                                                <%end%>
                                            </p>
                                        </div>
                                         <% if @tracker.status == "return_to_sender" || (@tracker.status == "delivered" && (@order.status == "refunded" || @order.status == "complete") )%>
                                            <div class="row refunded">
                                                <div class="col-md-6 progess_sections">
                                                    <div class="m-separator m-separator--dashed m-separator--lg success success-responsive">

                                                       <%= image_tag "customers/images/notification/Ticket.svg" , class: "succes-image-middle" %>
                                                    </div>
                                                </div>
                                                <div class="col-md-6 progess_sections">
                                                    <div class="m-separator m-separator--dashed m-separator--lg success success-responsive-2">
                                                       <%= image_tag "customers/images/notification/refund_arrows.svg" , class: "succes-image-middle" %>
                                                    </div>
                                                </div>
                                            </div>
                                        <%else%>
                                            <div class="m-separator m-separator--dashed m-separator--lg">
                                                <% progress_class = @tracker.status == "delivered" ? "" : "progress m-progress--sm" %>
                                                <div class="<%= progress_class %> ">
                                                    <div class="progress-bar m--bg-primary prograss_bar <%= @tracker.status %>" role="progressbar"  aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                                                </div>
                                                <% if @tracker.status == "delivered"  %>
                                                    <%= image_tag "customers/images/notification/Ticket.svg" , class: "succes-image" %>
                                                <%elsif @tracker.status == "cancel" %>
                                                    <%= image_tag "customers/images/Cross.svg",class: "cross_image" %>
                                                <%else%>
                                                    <%= image_tag "customers/images/ionic-md-home.svg",class: "home_image" %>
                                                <%end%>
                                            </div>
                                        <%end%>
                                         <% if @tracker.status == "return_to_sender" || (@tracker.status == "delivered" && (@order.status == "refunded" || @order.status == "complete") )%>
                                              <div class="form-group m-form__group responsive-group">
                                                    <div class="row">
                                                        <div class="col-md-4 col-4-respon">
                                                            <p class="order-date">
                                                                Ordered
                                                            </p>
                                                            <p class="date_order">
                                                                <%= @tracker.created_at.strftime("%d/%m/%Y") %>
                                                            </p>
                                                        </div>
                                                        <div class="col-md-4 col-4-respon">
                                                            <p class="deliver-date">
                                                                Delivered
                                                            </p>
                                                            <p class="date_order-deliver">
                                                                <%= @tracker.try(:[],:tracking_details).try(:last).try(:[],'datetime').try(:to_date).try(:strftime,"%d/%m/%Y") %>
                                                            </p>
                                                        </div>
                                                        <div class="col-md-4 col-4-respon">
                                                            <p class="order-date-cancel">
                                                                Refunded <span class="on_respon">on</span>
                                                            </p>
                                                            <p class="date_order-cancel">
                                                               <%= @order.updated_at.strftime("%d/%m/%Y") %>
                                                            </p>
                                                        </div>
                                                    </div>
                                                </div>
                                        <%else%>
                                            <div class="form-group m-form__group">
                                                <div class="row">
                                                    <div class="col-md-6 date_responsive">
                                                        <p class="order-date">
                                                            Ordered
                                                        </p>
                                                        <p class="date_order">
                                                           <%= @tracker.created_at.strftime("%d/%m/%Y") %>
                                                        </p>
                                                    </div>
                                                    <div class="col-md-6 date_responsive">
                                                        <%if @tracker.status == "cancel" %>
                                                            <p class="order-date-cancel">
                                                                Canceled on
                                                            </p>
                                                            <p class="date_order-cancel">
                                                                <%= @tracker.updated_at.strftime("%d/%m/%Y") %>
                                                            </p>
                                                        <%else%>
                                                            <p class="order-date-cancel">
                                                                <%= @tracker.status.capitalize %> on
                                                            </p>
                                                            <p class="date_order-cancel">
                                                                <%= @tracker.try(:[],:tracking_details).try(:last).try(:[],'datetime').try(:to_date).try(:strftime,"%d/%m/%Y") %>
                                                            </p>
                                                        <%end%>
                                                    </div>
                                                </div>
                                            </div>
                                        <%end%>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="row">
                                        <p class="shipped">Shipped</p>
                                        <p class="address">
                                            <%= @order.shipping_address.country %>,<%= @order.shipping_address.city %>,<%= @order.shipping_address.state %>
                                        </p>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="row">
                                        <% if @tracker.status == "new_order" %>
                                            <% if @order.customer_dispute.blank? %>
                                                <a  class="btn btn-default btn-cancel-order"  href=<%= new_customers_dispute_path(order_id: @order.id)%>>
                                                    Cancel order
                                                </a>
                                            <%end%>
                                        <%elsif @tracker.status != "return_to_sender" %>
                                            <% if @tracker.status == "delivered" %>
                                                <% if @order.customer_dispute.blank? && @tracker.easypost_id.present? %>
                                                    <a class="btn btn-default btn-cancel-order" href=<%= new_customers_dispute_path(order_id: @order.id)%> >
                                                        Request Refund
                                                    </a>
                                                <%end%>
                                            <%elsif @tracker.status != "cancel" %>
                                                <a href="#" class="btn btn-default btn-cancel-order" data-toggle="modal" data-target="#refundOrderModel">
                                                    Request Refund
                                                </a>
                                            <%end%>
                                        <%end%>
                                        <a href="#" class="btn btn-default btn-track-order">
                                            Track order
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <h3 class="heading_product">
                            Product Info
                        </h3>
                        <div class="order-details order-detail-responsive">
                            <div class="row">
                                <div class="col-md-12 first_section">
                                    <% @order.products.each do |product| %>
                                        <div class="row trnsit-list">
                                            <div class="col-md-9 col-xs-12">
                                                <div class="row">
                                                    <div class="col-md-1 col-xs-3">
                                                        <p class="Rectangle-1811">
                                                            <span><%= product.quantity %>x</span>
                                                        </p>
                                                    </div>
                                                    <div class="col-md-11 col-xs-9">
                                                        <span class="long_product">
                                                            <%= product.name %>
                                                        </span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-3 col-xs-12">
                                                <p class="amount-transit new_order_transit_amount">
                                                     $<%= number_with_precision(product.amount, precision: 2) %> /ea
                                                </p>
                                            </div>
                                        </div>
                                    <%end%>
                                </div>
                                <div class="col-md-12 order_progress">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <p class="shipping_info_transit">
                                                Shipping & Handling
                                            </p>
                                        </div>
                                        <div class="col-md-6">
                                            <p class="shipping_amount-tans">
                                                $ 0.00
                                            </p>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <p class="shipping_info_transit">
                                                Taxes
                                            </p>
                                        </div>
                                        <div class="col-md-6">
                                            <p class="shipping_amount-tans">
                                                $ <%= number_with_precision(@order.tax, precision: 2) %>
                                            </p>
                                        </div>
                                    </div>
                                    <div class="row grand-bill-trans">
                                        <div class="col-md-6">
                                            <p class="shipping_info_transit">
                                                Grand Total
                                            </p>
                                        </div>
                                        <div class="col-md-6">
                                            <p class="grand-total">
                                                <span>$</span><%= number_with_precision(@order.total_amount, precision: 2) %> 
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <h3 class="heading_product">
                                    Payment Info
                                </h3>
                                <div class="order-details payemt_store_height">
                                    <div class="row">
                                        <div class="col-md-1 col-xs-1">
                                            <%= image_tag "customers/images/pre_transit/note-pad.svg" %>
                                        </div>
                                        <div class="col-md-11  col-xs-10">
                                            <p class="Billing-Address">
                                                Billing Address
                                            </p>
                                            <p class="Billing-Address-trans">
                                                <%= @order.billing_address.country %>,<%= @order.billing_address.city %>,<%= @order.billing_address.state %>
                                            </p>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-1 col-xs-1">
                                            <%= image_tag "customers/images/pre_transit/wallet.svg" %>
                                        </div>
                                        <div class="col-md-11 col-xs-10">
                                            <p class="Billing-Address">
                                                Payment Method
                                            </p>
                                            <p class="Billing-Address-trans">
                                                <%= image_tag "customers/images/pre_transit/mastercard.svg" %> •••• <%= @order.last4 %>
                                            </p>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-1 col-xs-1">
                                            <%= image_tag "customers/images/pre_transit/key.svg" %>
                                        </div>
                                        <div class="col-md-10 col-xs-9">
                                            <p class="Billing-Address">
                                                Transaction ID
                                            </p>
                                            <p class="Billing-Address-trans">
                                                <%= truncate(@order.seq_transaction_id,length: 27) %>
                                            </p>
                                        </div>
                                        <div class="col-md-1 col-xs-1">
                                            <%= image_tag "customers/images/pre_transit/copy_and_past.svg" , class: "copy_past" %>

                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <h3 class="heading_product">
                                    Store Info
                                </h3>
                                <div class="order-details payemt_store_height">
                                    <div class="row">
                                        <div class="col-md-1 col-xs-1">
                                           <%= image_tag "customers/images/pre_transit/building.svg" %>
                                        </div>
                                        <div class="col-md-10 col-xs-9">
                                            <p class="Billing-Address">
                                                Merchant Name
                                            </p>
                                            <p class="Billing-Address-trans">
                                                <%= @merchant.name %>
                                            </p>
                                        </div>
                                        <div class="col-md-1 col-xs-1">
                                           <%= image_tag "customers/images/pre_transit/copy_and_past.svg" , class: "copy_past" %>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-1 col-xs-1">
                                            <!-- <img src="assets/img/pre_transit/land_line.svg"> -->
                                             <%= image_tag "customers/images/pre_transit/land_line.svg"%>
                                        </div>
                                        <div class="col-md-10 col-xs-9">
                                            <p class="Billing-Address">
                                                Customer Support
                                            </p>
                                            <p class="Billing-Address-trans">
                                                <%= @merchant.phone_number %>
                                            </p>
                                        </div>
                                        <div class="col-md-1 col-xs-1">
                                           <%= image_tag "customers/images/pre_transit/copy_and_past.svg" , class: "copy_past" %>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-1 col-xs-1">
                                            <%= image_tag "customers/images/pre_transit/envalep.svg" %>
                                        </div>
                                        <div class="col-md-10 col-xs-9">
                                            <p class="Billing-Address">
                                                Email
                                            </p>
                                            <p class="Billing-Address-trans">
                                                <%= @merchant.email %>
                                            </p>
                                        </div>
                                        <div class="col-md-1 col-xs-1">
                                            <%= image_tag "customers/images/pre_transit/copy_and_past.svg" , class: "copy_past" %>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-1 col-xs-1">
                                            <%= image_tag "customers/images/pre_transit/arrow.svg" %>
                                        </div>
                                        <div class="col-md-10 col-xs-9">
                                            <p class="Billing-Address">
                                                Website
                                            </p>
                                            <p class="Billing-Address-trans">
                                                <%= JSON.parse(@merchant.my_locations.try(:first).try(:web_site)).last %>
                                            </p>
                                        </div>
                                        <div class="col-md-1 col-xs-1">
                                            <%= image_tag "customers/images/pre_transit/copy_and_past.svg" , class: "copy_past" %>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12">
                                         <center>
                                          <%= link_to "Start a Chat" ,new_customers_message_path(actor_id: current_user.id,recipient_id: @merchant.id,transaction_id: @order.id),class: "btn btn-default btn-start-chat" %>
<!--                                            <a href="#" class="btn btn-default btn-start-messages">-->
<!--                                                Start a messages-->
<!--                                            </a>-->
                                        </center>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--end::Portlet-->
        </div>
    </div>
</div>

<div class="modal fade" id="cancelOrderModel" tabindex="-1" role="dialog" aria-labelledby="cancelOrderModelLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header" >
                <%= image_tag "customers/images/pre_transit/order.svg" ,id: "order_icon" ,alt: "order icons"%>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <h2 class="cancel_order">Cancel Order?</h2>
            </div>
            <div class="modal-footer">
                <a href="#" class="btn  btn-cancel-upload" data-dismiss="modal">
                    No
                </a>
                <a  class="btn  btn-cancel-yes-upload" id="place-order" href=<%= new_customers_dispute_path(order_id: @order.id) %>>
                    <span class="cancer-yes-text">Yes</span>
                </a>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="refundOrderModel" tabindex="-1" role="dialog" aria-labelledby="refundOrderModelLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header" >
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <center>
                    <%= image_tag "customers/images/pre_transit/request_refund.svg" %>
                    <p class="refund_text_heading">
                        Please wait for your request
                    </p>
                    <p class="refund_text_para">
                        Order is in transit. Delivery must be made before processing request.
                        <br>
                        Contact merchant for any questions or concerns.
                    </p>
                </center>
                <hr class="modal_hr">
                <div class="row">
                    <div class="col-md-12">
                        <p class="merchant_heading">
                            Merchant’s Contact Info
                        </p>
                    </div>
                    <div class="col-md-5">
                        <%= image_tag "customers/images/pre_transit/land_line.svg" , class: "merchant_image" %>
                        <p class="phone_number">Phone</p>
                        <p class="phone_number_digit"><%= @user.phone_number %><a href="#"><%= image_tag "customers/images/pre_transit/copy_and_past.svg" , class: "ml-5" %></a></p>
                    </div>
                    <div class="col-md-7">
                        <%= image_tag "customers/images/pre_transit/envalep.svg" , class: "pull-left mr-4" %>
                        <p class="phone_number">Email</p>
                        <p class="phone_number_digit"><%= @user.email %>  <a href="#"> <%= image_tag "customers/images/pre_transit/copy_and_past.svg" , class: "ml-5" %></a></p>
                    </div>
                </div>
                <hr class="modal_hr">
                <div class="mb-4">
                    <center>
                        <a href="#" class="btn btn-close-delivery" data-dismiss="modal">
                            <span class="close-text">Close</span>
                        </a>
                    </center>
                </div>
            </div>
        </div>
    </div>
</div>