<div class="modal fade" id="confirmuserpermissionModal" class="confirmuserpermissionModal" tabindex="-1" role="dialog" aria-labelledby="orderModelLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <% action_name = params["action"] == "edit" ? "update" : "create" %>
    <div class="modal-content">
      <div class="modal-header" >
        <p class="modal-header-text"><%= action_name.capitalize %> User Permission</p>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">

        </button>
      </div>
      <div class="modal-body">
        <form method="post" action="">
          <div class="row">
            <div class="col-lg-12 text-center">
              <div class="permission_modal_body">
                <%= image_tag "v2/merchant/permission/create_modal_1.svg" %>
                <p class="confirm-text mt-4">Are you sure you want<br>
                  to <%= action_name %> this User Permission?</p>
              </div>
            </div>
            <div class="col-lg-1"></div>
            <div class="col-lg-10">
              <hr class="permission-h-line">
            </div>
            <div class="col-lg-1"></div>
            <div class="col-lg-12 text-center">
              <div class="confirm-modal-btn">

                <!-- <a href="" class="btn btn-default btn_cancel" data-dismiss="modal">No</a> -->

                <a href="#" class="btn btn-default btn_cancel" data-dismiss="modal" aria-label="Close" data-toggle='modal' data-target = '#createuserpermissionModal'>
                    No
                  </a>

                <!-- <a href="" class="btn btn-default btn_cancel" data-dismiss="modal" data-target="#createuserpermissionModal">No</a> -->
                 <!-- <button type="button" class="btn btn-default" data-dismiss="modal">No</button> -->
                <button class="btn btn-default btn_confirm ml-4" id="confirm_permission">Yes</button>
              </div>

            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>