<div class="modal fade confirmuserpermissionModal" id="deleteuserpermissionModal" tabindex="-1" role="dialog" aria-labelledby="orderModelLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg permission_modal_width" role="document">
    <div class="modal-content">
      <div class="modal-header" >
        <p class="modal-header-text">Delete Permission Settings</p>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">

        </button>
      </div>
      <div class="modal-body">
        <form method="post" action="">
          <div class="row">
            <div class="col-lg-12 text-center">
              <div class="permission_modal_body">
                <%= image_tag "v2/merchant/permission/create_modal_1.svg" %>
                <p class="confirm-text mt-4">Are you sure you want to<br>
                  delete this Permission Settings?</p>
              </div>

            </div>
            <div class="col-lg-1"></div>
            <div class="col-lg-10">
              <hr class="permission-h-line">
            </div>
            <div class="col-lg-1"></div>
            <div class="col-lg-12 text-center">
              <div class="confirm-modal-btn">
                <a href="" class="btn btn-default btn_cancel" data-dismiss="modal">No</a>
                <%= link_to  "Yes", "#", method: :delete , class: "btn btn-default btn_confirm ml-4 delete_permission" %>

                <%# link_to  "Yes", class: "btn btn-default btn_confirm ml-4" %>

                <!-- <a href="#" class="btn btn-default btn_confirm ml-4 delete_permission" data-dismiss="modal" >Yes</a> -->
               
<!-- 
                <button id="delete_permission"  class = "btn btn-default btn_confirm ml-4 delete_permiss">Yes</button> -->
                <!-- <a href="" class="btn btn-default btn_confirm ml-4" data-dismiss="modal" data-toggle="modal" data-target="#createuserpermissionModal">Yes</a> -->
              </div>

            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>