<div class="modal show fade modal-fixed-footer" id="createuserpermissionModal" class="createuserpermissionModal1" tabindex="-1" role="dialog" aria-labelledby="orderModelLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg width-modal-permission" role="document">
    <div class="modal-content">
      <div class="modal-header" >
        <% heading_action = params["action"] == "new" ? "Create User Permission" : "Update User Permission" %>
        <p class="modal-header-text"><%= heading_action %></p>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">

        </button>
      </div>
      <div class="modal-body pl-0">
        <% url = params["action"] == "new" ? "/v2/merchant/permission" : "/v2/merchant/permission/#{params[:id]}" %>
        <%= simple_form_for @permission,url: url, html: {class: 'permission_form'} do |f| %>
          <%# if !@permission.try(:name).present?  %>
          <div class="row">
            <div class="col-lg-12 col-md-12">
              <div class="row">
                <div class="col-lg-1"></div>
                <div class="col-lg-10">
                  <div class="form-group m-form__group mt-4">
                    <label class="permission-name-text ml-2" for="permission_name">
                      Permission Name
                    </label>
                    <%= f.text_field :name, class: "form-control create_permission_search_input m-input", :size => "48", :maxlength=>"50" ,required: true, placeholder: 'Permission Name' %>
                  </div>
                </div>
                <div class="col-lg-1"></div>
              </div>
              <div class="all_permissions">
                <div class="row">
                  <div class="col-lg-1"></div>
                  <div class="col-lg-11">
                    <div class="form-group m-form__group">
                      <label class="m-checkbox m-checkbox--state-brand select_all_permissions_cb">
                        <!-- <input type="checkbox" class="select_all_permissions"> -->
                        <%= f.check_box :all, class: "checkbox-u select_all_permissions",id: 'select_all',checked: @permission.admin? ? true : false, disabled: @permission.admin? || @permission.regular? %>
                        Select All
                        <span class="verify_checkbox"></span>
                      </label>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-lg-1"></div>
                  <div class="col-lg-10">
                    <div id="error_message">Select at least one permission</div>
                    <div class="row">
                      <!-- Accounts Section-->
                      <div class="col-lg-6">
                        <div class="form-group m-form__group mb-2">
                          <label class="m-checkbox m-checkbox--state-brand ">
                            <%= f.check_box :account_list, class: "checkbox-u",id: 'account_list', checked: @permission.try(:account_list), disabled: @permission.admin? || @permission.regular? %>
                            Accounts
                            <span class="verify_checkbox"></span>
                          </label>
                        </div>
                        <div class="yellow-bar ml-1 pl-3">
                          <div class="form-group m-form__group">
                            <label class="m-checkbox m-checkbox--state-brand ">
                              <%= f.check_box :view_accounts, class: "checkbox-u account_item", checked: @permission.try(:view_accounts), disabled: @permission.admin? || @permission.regular? %>
                              View Accounts
                              <span class="verify_checkbox"></span>
                            </label>
                            <span data-container="body" data-toggle="popoverp" data-placement="top" title="" data-p="">
                                  <%= image_tag 'v2/merchant/icons/info_icon.svg', class: 'ml-2' %>
                                </span>
                          </div>
                          <div class="form-group m-form__group">
                            <label class="m-checkbox m-checkbox--state-brand ">
                              <%= f.check_box :refund, class: "checkbox-u account_item", checked: @permission.try(:refund), disabled: @permission.admin? || @permission.regular? %>
                              Refunds
                              <span class="verify_checkbox"></span>
                            </label>
                          </div>
                          <div class="form-group m-form__group">
                            <label class="m-checkbox m-checkbox--state-brand ">
                              <%= f.check_box :account_transfer, class: "checkbox-u account_item", checked: @permission.try(:account_transfer), disabled: @permission.admin? || @permission.regular? %>
                              Account Transfer
                              <span class="verify_checkbox"></span>
                            </label>
                          </div>
                          <div class="form-group m-form__group">
                            <label class="m-checkbox m-checkbox--state-brand ">
                              <%= f.check_box :tip_transfer, class: "checkbox-u account_item", checked: @permission.try(:tip_transfer), disabled: @permission.admin? || @permission.regular? %>
                              Tip Transfer
                              <span class="verify_checkbox"></span>
                            </label>
                          </div>
                          <div class="form-group m-form__group">
                            <label class="m-checkbox m-checkbox--state-brand ">
                              <%= f.check_box :withdrawal, class: "checkbox-u account_item", checked: @permission.try(:withdrawal), disabled: @permission.admin? || @permission.regular? %>
                              Withdrawal
                              <span class="verify_checkbox"></span>
                            </label>
                            <span data-container="body" data-toggle="popoverp" data-placement="top" title="" data-p="">
                                  <%= image_tag 'v2/merchant/icons/info_icon.svg', class: 'ml-2' %>
                                </span>
                          </div>
                          <div class="form-group m-form__group">
                            <label class="m-checkbox m-checkbox--state-brand ">
                              <%= f.check_box :export_daily_batch, class: "checkbox-u account_item", checked: @permission.try(:export_daily_batch), disabled: @permission.admin? || @permission.regular? %>
                              Export Daily Batch
                              <span class="verify_checkbox"></span>
                            </label>
                          </div>
                          <div class="form-group m-form__group">
                            <label class="m-checkbox m-checkbox--state-brand ">
                              <%= f.check_box :wallet, class: "checkbox-u account_item", checked: @permission.try(:wallet), disabled: @permission.admin? || @permission.regular? %>
                              Wallets (View Transactions)
                              <span class="verify_checkbox"></span>
                            </label>
                          </div>
                          <div class="form-group m-form__group">
                            <label class="m-checkbox m-checkbox--state-brand ">
                              <%= f.check_box :transfer, class: "checkbox-u account_item", checked: @permission.try(:transfer), disabled: @permission.admin? || @permission.regular? %>
                              Transfer
                              <span class="verify_checkbox"></span>
                            </label>
                          </div>
                        </div>
                      </div>
                      <!-- Accounts Section-->

                      <!--Customer, Funding, Virtual, And Exports-->
                      <div class="col-lg-6">
                        <div class="form-group m-form__group mb-2">
                          <label class="m-checkbox m-checkbox--state-brand ">
                            <%= f.check_box :customer_lists, class: "checkbox-u", id: "customer_list", checked: @permission.try(:customer_lists), disabled: @permission.admin? || @permission.regular? %>
                            Customer List
                            <span class="verify_checkbox"></span>
                          </label>
                        </div>
                        <div class="yellow-bar ml-1 pl-3">
                          <div class="form-group m-form__group">
                            <label class="m-checkbox m-checkbox--state-brand ">
                              <%= f.check_box :customer_list, class: "checkbox-u customer_item", id: "customer_item", checked: @permission.try(:customer_list), disabled: @permission.admin? || @permission.regular? %>
                              Customer List
                              <span class="verify_checkbox"></span>
                            </label>
                          </div>
                        </div>
                        <div class="form-group m-form__group mb-2">
                          <label class="m-checkbox m-checkbox--state-brand ">
                            <%= f.check_box :funding_list, class: "checkbox-u", id: "funding_list", checked: @permission.try(:funding_list), disabled: @permission.admin? || @permission.regular? %>
                            Funding Schedule
                            <span class="verify_checkbox"></span>
                          </label>
                        </div>
                        <div class="yellow-bar ml-1 pl-3">
                          <div class="form-group m-form__group">
                            <label class="m-checkbox m-checkbox--state-brand ">
                              <%= f.check_box :funding_schedule, class: "checkbox-u funding_item", checked: @permission.try(:funding_schedule), disabled: @permission.admin? || @permission.regular? %>
                              Funding Schedule
                              <span class="verify_checkbox"></span>
                            </label>
                          </div>
                        </div>
                        <div class="form-group m-form__group mb-2">
                          <label class="m-checkbox m-checkbox--state-brand ">
                            <%= f.check_box :vt_list, class: "checkbox-u", id: "vt_list", checked: @permission.try(:vt_list), disabled: @permission.admin? || @permission.regular? %>
                            Virtual Terminal
                            <span class="verify_checkbox"></span>
                          </label>
                        </div>
                        <div class="yellow-bar ml-1 pl-3">
                          <div class="form-group m-form__group">
                            <label class="m-checkbox m-checkbox--state-brand ">
                              <%= f.check_box :virtual_terminal, class: "checkbox-u vt_item vt-item", checked: @permission.try(:virtual_terminal), disabled: @permission.admin? || @permission.regular? %>
                              Virtual Terminal
                              <span class="verify_checkbox"></span>
                            </label>
                          </div>
                        </div>
                        <div class="form-group m-form__group mb-2">
                          <label class="m-checkbox m-checkbox--state-brand ">
                            <%= f.check_box :export_list, class: "checkbox-u", id: "export_list", checked: @permission.try(:export_list), disabled: @permission.admin? || @permission.regular? %>
                            Exports
                            <span class="verify_checkbox"></span>
                          </label>
                        </div>
                        <div class="yellow-bar ml-1 pl-3">
                          <div class="form-group m-form__group">
                            <label class="m-checkbox m-checkbox--state-brand ">
                              <%= f.check_box :export_list, class: "checkbox-u export_item", checked: @permission.try(:export_list), disabled: @permission.admin? || @permission.regular? %>
                              Exports List
                              <span class="verify_checkbox"></span>
                            </label>
                          </div>
                        </div>
                      </div>
                      <!--Customer, Funding, Virtual, And Exports-->

                      <!-- Withdrawal-->
                      <div class="col-lg-6">
                        <div class="form-group m-form__group mb-2">
                          <label class="m-checkbox m-checkbox--state-brand ">
                            <%= f.check_box :withdrawal_list, class: "checkbox-u", id: "withdrawal_list", checked: @permission.try(:withdrawal_list), disabled: @permission.admin? || @permission.regular? %>
                            Withdrawal
                            <span class="verify_checkbox"></span>
                          </label>
                        </div>
                        <div class="yellow-bar ml-1 pl-3">
                          <div class="form-group m-form__group mb-1">
                            <label class="m-checkbox m-checkbox--state-brand ">
                              <%= f.check_box :check, class: "checkbox-u withdrawal_item", id: "check_list", checked: @permission.try(:check), disabled: @permission.admin? || @permission.regular? %>
                              E-Checks
                              <span class="verify_checkbox"></span>
                            </label>
                          </div>
                          <div class="yellow-bar ml-1 pl-3">
                            <div class="form-group m-form__group m-checkbox-inline">
                              <label class="m-checkbox m-checkbox--state-brand ">
                                <%= f.check_box :check_view_only, class: "checkbox-u withdrawal_item check_item", checked: @permission.try(:check_view_only), disabled: @permission.admin? || @permission.regular? %>
                                View
                                <span class="verify_checkbox"></span>
                              </label>
                              <label class="m-checkbox m-checkbox--state-brand ">
                                <%= f.check_box :check_void, class: "checkbox-u withdrawal_item check_item", checked: @permission.try(:check_void), disabled: @permission.admin? || @permission.regular? || true %>
                                Void
                                <span class="verify_checkbox"></span>
                              </label>
                              <label class="m-checkbox m-checkbox--state-brand ">
                                <%= f.check_box :check_add, class: "checkbox-u withdrawal_item check_item", checked: @permission.try(:check_add), disabled: @permission.admin? || @permission.regular? %>
                                Create New
                                <span class="verify_checkbox"></span>
                              </label>
                            </div>
                          </div>
                          <div class="form-group m-form__group mb-1">
                            <label class="m-checkbox m-checkbox--state-brand ">
                              <%= f.check_box :push_to_card, class: "checkbox-u withdrawal_item",id: "push_to_card_list", checked: @permission.try(:push_to_card), disabled: @permission.admin? || @permission.regular? %>
                              Push To Card
                              <span class="verify_checkbox"></span>
                            </label>
                          </div>
                          <div class="yellow-bar ml-1 pl-3">
                            <div class="form-group m-form__group m-checkbox-inline">
                              <label class="m-checkbox m-checkbox--state-brand ">
                                <%= f.check_box :push_to_card_view_only, class: "checkbox-u withdrawal_item push_to_card_item", checked: @permission.try(:push_to_card_view_only), disabled: @permission.admin? || @permission.regular? %>
                                View
                                <span class="verify_checkbox"></span>
                              </label>
                              <label class="m-checkbox m-checkbox--state-brand ">
                                <%= f.check_box :push_to_card_void, class: "checkbox-u withdrawal_item push_to_card_item", checked: @permission.try(:push_to_card_void), disabled: @permission.admin? || @permission.regular?  || true %>
                                Void
                                <span class="verify_checkbox"></span>
                              </label>
                              <label class="m-checkbox m-checkbox--state-brand ">
                                <%= f.check_box :push_to_card_add, class: "checkbox-u withdrawal_item push_to_card_item", checked: @permission.try(:push_to_card_add), disabled: @permission.admin? || @permission.regular? %>
                                Create New
                                <span class="verify_checkbox"></span>
                              </label>
                            </div>
                          </div>
                          <div class="form-group m-form__group mb-1">
                            <label class="m-checkbox m-checkbox--state-brand ">
                              <%= f.check_box :ach, class: "checkbox-u withdrawal_item", id: "ach_list", checked: @permission.try(:ach), disabled: @permission.admin? || @permission.regular? %>
                              ACH
                              <span class="verify_checkbox"></span>
                            </label>
                          </div>
                          <div class="yellow-bar ml-1 pl-3">
                            <div class="form-group m-form__group m-checkbox-inline">
                              <label class="m-checkbox m-checkbox--state-brand ">
                                <%= f.check_box :ach_view_only, class: "checkbox-u withdrawal_item ach_item", checked: @permission.try(:ach_view_only), disabled: @permission.admin? || @permission.regular? %>
                                View
                                <span class="verify_checkbox"></span>
                              </label>
                              <label class="m-checkbox m-checkbox--state-brand ">
                                <%= f.check_box :ach_void, class: "checkbox-u withdrawal_item ach_item", checked: @permission.try(:ach_void), disabled: @permission.admin? || @permission.regular? || true %>
                                Void
                                <span class="verify_checkbox"></span>
                              </label>
                              <label class="m-checkbox m-checkbox--state-brand ">
                                <%= f.check_box :ach_add, class: "checkbox-u withdrawal_item ach_item", checked: @permission.try(:ach_add), disabled: @permission.admin? || @permission.regular? %>
                                Create New
                                <span class="verify_checkbox"></span>
                              </label>
                            </div>

                          </div>
                          <div class="form-group m-form__group mb-1">
                            <label class="m-checkbox m-checkbox--state-brand ">
                              <%= f.check_box :gift_card, class: "checkbox-u withdrawal_item", id: "gift_card_list", checked: @permission.try(:gift_card), disabled: @permission.admin? || @permission.regular? %>
                              E-Gift Cards
                              <span class="verify_checkbox"></span>
                            </label>
                          </div>
                          <div class="yellow-bar ml-1 pl-3">
                            <div class="form-group m-form__group m-checkbox-inline">
                              <label class="m-checkbox m-checkbox--state-brand ">
                                <%= f.check_box :gift_card_view_only, class: "checkbox-u withdrawal_item gift_card_item", checked: @permission.try(:gift_card_view_only), disabled: @permission.admin? || @permission.regular? %>
                                View
                                <span class="verify_checkbox"></span>
                              </label>
                              <label class="m-checkbox m-checkbox--state-brand ">
                                <%= f.check_box :gift_card_void, class: "checkbox-u withdrawal_item gift_card_item", checked: @permission.try(:gift_card_void), disabled: @permission.admin? || @permission.regular? %>
                                Void
                                <span class="verify_checkbox"></span>
                              </label>
                              <label class="m-checkbox m-checkbox--state-brand ">
                                <%= f.check_box :gift_card_add, class: "checkbox-u withdrawal_item gift_card_item", checked: @permission.try(:gift_card_add), disabled: @permission.admin? || @permission.regular? %>
                                Create New
                                <span class="verify_checkbox"></span>
                              </label>
                            </div>
                          </div>
                        </div>
                        <!--                       <p class="normal-text">Redeem QR Code</p>-->
                        <!--                       <div class="form-group m-form__group">-->
                        <!--                         <label class="m-checkbox m-checkbox--state-brand ">-->
                        <%#= f.check_box :qr_scan, class: "checkbox-u", checked: @permission.try(:qr_scan), disabled: @permission.admin? || @permission.regular? %>
                        <!--                           Scan-->
                        <!--                           <span class="verify_checkbox"></span>-->
                        <!--                         </label>-->
                        <!--                       </div>-->
                        <!--                                 <div class="form-group m-form__group">-->
                        <!--                         <label class="m-checkbox m-checkbox--state-brand ">-->
                        <%#= f.check_box :qr_view_only, class: "checkbox-u", checked: @permission.try(:qr_view_only), disabled: @permission.admin? || @permission.regular? %>
                        <!--                           View Only-->
                        <!--                           <span class="verify_checkbox"></span>-->
                        <!--                         </label>-->
                        <!--                       </div>-->
                        <!--                                 <div class="form-group m-form__group">-->
                        <!--                         <label class="m-checkbox m-checkbox--state-brand ">-->
                        <%#= f.check_box :qr_redeem, class: "checkbox-u", checked: @permission.try(:qr_redeem), disabled: @permission.admin? || @permission.regular? %>
                        <!--                           Redeem-->
                        <!--                           <span class="verify_checkbox"></span>-->
                        <!--                         </label>-->
                        <!--                       </div>-->
                        <!--Charge back section-->

                        <div class="form-group m-form__group mb-2">
                          <label class="m-checkbox m-checkbox--state-brand ">
                            <%= f.check_box :chargeback_list, class: "checkbox-u", id: "chargeback_list", checked: @permission.try(:chargeback_list), disabled: @permission.admin? || @permission.regular? %>
                            Charge Backs
                            <span class="verify_checkbox"></span>
                          </label>
                        </div>
                        <div class="yellow-bar ml-1 pl-3">
                          <div class="form-group m-form__group">
                            <label class="m-checkbox m-checkbox--state-brand ">
                              <%= f.check_box :view_chargeback_cases, class: "checkbox-u chargeback_item", checked: @permission.try(:view_chargeback_cases), disabled: @permission.admin? || @permission.regular? %>
                              View Chargeback Cases
                              <span class="verify_checkbox"></span>
                            </label>
                          </div>
                          <div class="form-group m-form__group">
                            <label class="m-checkbox m-checkbox--state-brand ">
                              <%= f.check_box :fight_chargeback, class: "checkbox-u chargeback_item", checked: @permission.try(:fight_chargeback), disabled: @permission.admin? || @permission.regular? %>
                              Fight Chargeback
                              <span class="verify_checkbox"></span>
                            </label>
                          </div>
                          <div class="form-group m-form__group">
                            <label class="m-checkbox m-checkbox--state-brand ">
                              <%= f.check_box :accept_chargeback, class: "checkbox-u chargeback_item", checked: @permission.try(:accept_chargeback), disabled: @permission.admin? || @permission.regular? %>
                              Accept Chargeback
                              <span class="verify_checkbox"></span>
                            </label>
                          </div>
                        </div>
                        <!--Charge back section-->

                        <!-- Invoice Section-->
                        <div class="form-group m-form__group mb-2">
                          <label class="m-checkbox m-checkbox--state-brand ">
                            <%= f.check_box :invoice_list, class: "checkbox-u", id: "invoice_list", checked: @permission.try(:invoice_list), disabled: @permission.admin? || @permission.regular? %>
                            Invoices
                            <span class="verify_checkbox"></span>
                          </label>
                        </div>
                        <div class="yellow-bar ml-1 pl-3">
                          <div class="form-group m-form__group">
                            <label class="m-checkbox m-checkbox--state-brand ">
                              <%= f.check_box :view_invoice, class: "checkbox-u invoice_item", checked: @permission.try(:view_invoice), disabled: @permission.admin? || @permission.regular? %>
                              View Invoice List
                              <span class="verify_checkbox"></span>
                            </label>
                          </div>
                          <div class="form-group m-form__group">
                            <label class="m-checkbox m-checkbox--state-brand ">
                              <%= f.check_box :create_invoice, class: "checkbox-u invoice_item", checked: @permission.try(:create_invoice), disabled: @permission.admin? || @permission.regular? %>
                              Create New Invoice
                              <span class="verify_checkbox"></span>
                            </label>
                          </div>
                          <div class="form-group m-form__group">
                            <label class="m-checkbox m-checkbox--state-brand ">
                              <%= f.check_box :cancel_invoice, class: "checkbox-u invoice_item", checked: @permission.try(:cancel_invoice), disabled: @permission.admin? || @permission.regular? %>
                              Cancel Invoice
                              <span class="verify_checkbox"></span>
                            </label>
                          </div>
                        </div>
                        <!-- Invoice Section-->
                      </div>

                      <!-- Withdrawal-->

                      <div class="col-lg-6">
                        <div class="form-group m-form__group mb-2">
                          <label class="m-checkbox m-checkbox--state-brand ">
                            <%= f.check_box :business_list, class: "checkbox-u", id: "business_list", checked: @permission.try(:business_list), disabled: @permission.admin? || @permission.regular? %>
                            Business Settings
                            <span class="verify_checkbox"></span>
                          </label>
                        </div>
                        <div class="yellow-bar ml-1 pl-3">
                          <div class="form-group m-form__group mb-1">
                            <label class="m-checkbox m-checkbox--state-brand ">
                              <%= f.check_box :employee_list, class: "checkbox-u business_item", id: "employee_list", checked: @permission.try(:employee_list), disabled: @permission.admin? || @permission.regular? %>
                              Employee List
                              <span class="verify_checkbox"></span>
                            </label>
                          </div>
                          <div class="yellow-bar ml-1 pl-3">
                            <div class="form-group m-form__group m-checkbox-inline">
                              <label class="m-checkbox m-checkbox--state-brand ">
                                <%= f.check_box :user_view_only, class: "checkbox-u business_item employee_item", checked: @permission.try(:user_view_only), disabled: @permission.admin? || @permission.regular? %>
                                View Only
                                <span class="verify_checkbox"></span>
                              </label>
                              <label class="m-checkbox m-checkbox--state-brand ">
                                <%= f.check_box :user_edit, class: "checkbox-u business_item employee_item", checked: @permission.try(:user_edit), disabled: @permission.admin? || @permission.regular? %>
                                Edit
                                <span class="verify_checkbox"></span>
                              </label>
                              <label class="m-checkbox m-checkbox--state-brand ">
                                <%= f.check_box :user_add, class: "checkbox-u business_item employee_item", checked: @permission.try(:user_add), disabled: @permission.admin? || @permission.regular? %>
                                Add New User
                                <span class="verify_checkbox"></span>
                              </label>
                            </div>
                          </div>
                          <div class="form-group m-form__group mb-1">
                            <label class="m-checkbox m-checkbox--state-brand ">
                              <%= f.check_box :permission_list, class: "checkbox-u business_item", id: "permission_list", checked: @permission.try(:permission_list), disabled: @permission.admin? || @permission.regular? %>
                              Permission List
                              <span class="verify_checkbox"></span>
                            </label>
                          </div>
                          <div class="yellow-bar ml-1 pl-3">
                            <div class="form-group m-form__group m-checkbox-inline">
                              <label class="m-checkbox m-checkbox--state-brand ">
                                <%= f.check_box :permission_view_only, class: "checkbox-u business_item permission_item", checked: @permission.try(:permission_view_only), disabled: @permission.admin? || @permission.regular? %>
                                View Only
                                <span class="verify_checkbox"></span>
                              </label>
                              <label class="m-checkbox m-checkbox--state-brand ">
                                <%= f.check_box :permission_edit, class: "checkbox-u business_item permission_item", checked: @permission.try(:permission_edit), disabled: @permission.admin? || @permission.regular? %>
                                Edit
                                <span class="verify_checkbox"></span>
                              </label>
                              <label class="m-checkbox m-checkbox--state-brand ">
                                <%= f.check_box :permission_add, class: "checkbox-u business_item permission_item", checked: @permission.try(:permission_add), disabled: @permission.admin? || @permission.regular? %>
                                Add New User
                                <span class="verify_checkbox"></span>
                              </label>
                            </div>
                          </div>
                          <div class="form-group m-form__group">
                            <label class="m-checkbox m-checkbox--state-brand ">
                              <%= f.check_box :api_key, class: "checkbox-u business_item", checked: @permission.try(:api_key), disabled: @permission.admin? || @permission.regular? %>
                              Api Keys
                              <span class="verify_checkbox"></span>
                            </label>
                          </div>
                          <div class="form-group m-form__group">
                            <label class="m-checkbox m-checkbox--state-brand ">
                              <%= f.check_box :plugin, class: "checkbox-u business_item", checked: @permission.try(:plugin), disabled: @permission.admin? || @permission.regular? %>
                              Plugins
                              <span class="verify_checkbox"></span>
                            </label>
                          </div>
                          <div class="form-group m-form__group">
                            <label class="m-checkbox m-checkbox--state-brand ">
                              <%= f.check_box :fee_structure, class: "checkbox-u business_item", checked: @permission.try(:fee_structure), disabled: @permission.admin? || @permission.regular? %>
                              Fee Structure
                              <span class="verify_checkbox"></span>
                            </label>
                          </div>
                        </div>
                        <div class="form-group m-form__group mb-2">
                          <label class="m-checkbox m-checkbox--state-brand ">
                            <%= f.check_box :pos_list, class: "checkbox-u", id: "pos_list", checked: @permission.try(:pos_list), disabled: @permission.admin? || @permission.regular? %>
                            POS
                            <span class="verify_checkbox"></span>
                          </label>
                        </div>
                        <div class="yellow-bar ml-1 pl-3">
                          <div class="form-group m-form__group">
                            <label class="m-checkbox m-checkbox--state-brand ">
                              <%= f.check_box :b2b, class: "checkbox-u pos_item", checked: @permission.try(:b2b), disabled: @permission.admin? || @permission.regular? %>
                              B2B (Wallet to Wallet)
                              <span class="verify_checkbox"></span>
                            </label>
                          </div>
                        </div>
                        <!-- Risk Analysis Section-->
                        <div class="form-group m-form__group mb-2">
                          <label class="m-checkbox m-checkbox--state-brand ">
                            <%= f.check_box :risk_list, class: "checkbox-u", id: "risk_list", checked: @permission.try(:risk_list), disabled: @permission.admin? || @permission.regular? %>
                            Risk Analysis
                            <span class="verify_checkbox"></span>
                          </label>
                        </div>
                        <div class="yellow-bar ml-1 pl-3">
                          <div class="form-group m-form__group">
                            <label class="m-checkbox m-checkbox--state-brand ">
                              <%= f.check_box :approve_mr_transaction, class: "checkbox-u risk_item", checked: @permission.try(:approve_mr_transaction), disabled: @permission.admin? || @permission.regular? %>
                              Approved MR Transactions
                              <span class="verify_checkbox"></span>
                            </label>
                          </div>
                          <div class="form-group m-form__group">
                            <label class="m-checkbox m-checkbox--state-brand ">
                              <%= f.check_box :refund_mr_transaction, class: "checkbox-u risk_item", checked: @permission.try(:refund_mr_transaction), disabled: @permission.admin? || @permission.regular? %>
                              Refund MR Transactions
                              <span class="verify_checkbox"></span>
                            </label>
                          </div>
                        </div>
                        <!-- Risk Analysis Section-->
                        <div class="form-group m-form__group mb-2">
                          <label class="m-checkbox m-checkbox--state-brand ">
                            <%= f.check_box :help_list, class: "checkbox-u", id: "help_list", checked: @permission.try(:help_list), disabled: @permission.admin? || @permission.regular? %>
                            Get Help
                            <span class="verify_checkbox"></span>
                          </label>
                        </div>
                        <div class="yellow-bar ml-1 pl-3">
                          <div class="form-group m-form__group">
                            <label class="m-checkbox m-checkbox--state-brand ">
                              <%= f.check_box :help, class: "checkbox-u help_item", checked: @permission.try(:help), disabled: @permission.admin? || @permission.regular? %>
                              Get Help
                              <span class="verify_checkbox"></span>
                            </label>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-1"></div>
                </div>
              </div>
              <div class="row">
                <div class="col-lg-12">
                  <div class="text-center mb-5">
                    <%# if params[:action].present? && params[:action] == "create" || params[:action]  == "update" %>
                    <%# if action.present? && action == "create" || action  == "update" %>
                    <%# f.submit "#{action.try(:capitalize)} Permission",id: 'permission_button',class: 'btn btn-default create_permission_btn' %>
                    <% action = params["action"] == "new" ? "create" : "update" %>
                    <button id="create_permission_btn" class="btn btn-default create_permission_btn" type="button" aria-label="Close" ><%=action.capitalize%> Permission</button>
                    <!-- <button id="create_permission_btn" type="button" class="btn btn-default create_permission_btn" data-toggle="modal"><%=action.capitalize%> Permission</button> -->
                    <%# end %>
                  </div>
                </div>
              </div>
            </div>
          </div>
        <%end%>
      </div>
    </div>
  </div>
</div>
<div id="cover-spin"></div>

<%= render 'confirm_user_permission' %>