<div class="col-lg-12 col-md-12 col-sm-12 table table-responsive charge_back_table mt-4">
  <table  class="pt-0 chargeback_datatable">
    <!--     <table class="table table-striped- table-bordered table-hover table-checkable listing_datatable" id="m_table_1">-->
    <thead>
    <tr>
      <th class="width-25">
        ID
      </th>
      <th>
        Creation Date
      </th>
      <th>

        <%= sort_link(@q, :name, 'User Permissions Types', default_order: :desc) %>
      </th>
      <th class="text-center">
        # of Users Assigned
      </th>
      <th class="text-right">
        Actions
      </th>
    </tr>
    </thead>
    <% if @permissions.present? %>
      <tbody>
      <% @permissions.each_with_index do |p,index| %>
        <% row_class = index.odd? ? "even" : "odd" %>
        <tr class = "<%= row_class %>">
          <td>
            <%=p.id %>
          </td>

          <% if cookies[:timezone].present? || TIMEZONE.present? %>
            <% if cookies[:timezone].present? %>
              <td>
                <% if ((p.name).casecmp("Regular (VT Only)") == 0) || ((p.name).casecmp("admin (Full Access)")== 0) && (current_user.MERCHANT?) %>
                  <%= current_user.created_at.in_time_zone(cookies[:timezone]).strftime("%m-%d-%Y %I:%M:%S %p")%>
                <% else %>
                  <%= p.created_at.in_time_zone(cookies[:timezone]).strftime("%m-%d-%Y %I:%M:%S %p")%>
                <% end %>
              </td>
            <% else %>
              <td>
                <% if ((p.name).casecmp("Regular (VT Only)") == 0) || ((p.name).casecmp("admin (Full Access)")== 0) && (current_user.MERCHANT?) %>
                  <%= current_user.created_at.in_time_zone(TIMEZONE).strftime("%m-%d-%Y %I:%M:%S %p")%>
                <% else %>
                  <%= p.created_at.in_time_zone(TIMEZONE).strftime("%m-%d-%Y %I:%M:%S %p")%>
                <% end %>
              </td>
            <% end %>
          <%else %>
            <td class="timeUtc">
              <% if ((p.name).casecmp("Regular (VT Only)") == 0 ) || ((p.name).casecmp("admin (Full Access)") == 0) && (current_user.MERCHANT?) %>

                <%= current_user.created_at.strftime("%m-%d-%Y %I:%M:%S %p")%>
              <% else %>
                <%= p.created_at.strftime("%m-%d-%Y %I:%M:%S %p")%>
              <% end %>
            </td>
          <% end %>
          <!-- </td> -->
          <td>
            <%=p.name %>
          </td>
          <% user_id = current_user.merchant_id.present? ? current_user.merchant_id : current_user.id %>
          <td>
            <center><%= p.merchant_id.present? ? p.merchant_users_count(p.merchant_id) : p.merchant_users_count(user_id) %></center>
          </td>
          <td>
            <% if p.permission_type == "admin" || p.permission_type == "regular" %>
              <a href="<%= v2_merchant_permission_path(p.id) %>" class="pull-right edit-permission"><%= image_tag("v2/merchant/datatable/remove_red_eye-24px.svg")%></a>&nbsp;
              <!--                <button class="show-dynamic-modal pull-right show-permission"  data-modal_container_selector="#permissionSection" data-modal_selector="#adminAccessModal" data-url= "<%#= v2_merchant_permission_path(p.id) %>" data-method="GET"><%#= image_tag("v2/merchant/datatable/remove_red_eye-24px.svg")%></button>-->
            <% elsif p.permission_type == "accounting_team" %>
              <a href="<%= v2_merchant_permission_path(p.id) %>" class="pull-right edit-permission"><%= image_tag("v2/merchant/datatable/remove_red_eye-24px.svg")%></a>&nbsp;
              <!--              <button class="show-dynamic-modal pull-right show-permission"  data-modal_container_selector="#permissionSection" data-modal_selector="#adminAccessModal" data-url= "<%#= v2_merchant_permission_path(p.id) %>" data-method="GET"><%#= image_tag("v2/merchant/datatable/remove_red_eye-24px.svg")%></button>-->
                <% if @user_permission.try(:permission_edit) %>
                    <button class="show-dynamic-modal pull-right"  id= "permission_delete" data-id=<%= p.id %>><%= image_tag("v2/merchant/datatable/delete-24px.svg")%></button>
                    <a href="<%= edit_v2_merchant_permission_path(p.id) %>" class="pull-right edit-permission"><%= image_tag("v2/merchant/datatable/create-24px.svg")%></a>&nbsp;
                <% end %>
            <% else %>
              <a href="<%= v2_merchant_permission_path(p.id) %>" class="pull-right edit-permission"><%= image_tag("v2/merchant/datatable/remove_red_eye-24px.svg")%></a>&nbsp;
              <!--              <button class="show-dynamic-modal pull-right edit-permission"  data-modal_container_selector="#permissionSection" data-modal_selector="#createuserpermissionModal" data-url= "<%#= edit_v2_merchant_permission_path(p.id) %>" data-method="GET"><%#= image_tag("v2/merchant/datatable/create-24px.svg")%></button>&nbsp;-->
             <% if @user_permission.try(:permission_edit) %>
                    <button class="show-dynamic-modal pull-right"  id= "permission_delete" data-id=<%= p.id %>><%= image_tag("v2/merchant/datatable/delete-24px.svg")%></button>
                    <a href="<%= edit_v2_merchant_permission_path(p.id) %>" class="pull-right edit-permission"><%= image_tag("v2/merchant/datatable/create-24px.svg")%></a>&nbsp;
            <% end %> 
            <% end %>
          </td>
        </tr>
      <%end%>
      <%#else%>
      <!--      <tr class="odd">-->
      <!--        <td>No Data</td>-->
      <!--        <td>No Data</td>-->
      <!--        <td>No Data</td>-->
      <!--        <td><center>No Data</center></td>-->
      <!--        <td class="text-right">No Data</td>-->
      <!--      </tr>-->
      <%#= render :partial => 'v2/merchant/shared/extra_tr', :locals => {tr: 2, td: 5} %>
      <%# end %>
      <%# if @permissions.present? && @permissions.count == 9 %>
      <%#= render :partial => 'v2/merchant/shared/extra_tr', :locals => {tr: 1, td: 5} %>
      <%# elsif @permissions.present? && @permissions.count < 9 %>
      <%#= render :partial => 'v2/merchant/shared/extra_tr', :locals => {tr: 2, td: 5} %>
    <% else %>
      <tr>
        <td colspan="5">
          <div class="col-xl-12 ">
            <center  class="m-5 p-5">
              <%= image_tag "v2/merchant/datatable/no_data.svg" %>
              <p class="No-data-available mt-4 mr-4">No data available</p>
            </center>
          </div>
        </td>
      </tr>
    <% end %>
    </tbody>
  </table>
</div>
<%= render partial: "v2/merchant/shared/datatable_pagination" , locals: {variable: @permissions} %>