<div class="m-subheader">
  <div class="d-flex align-items-center">
    <div class="mr-auto">
      <ul class="m-subheader__breadcrumbs m-nav m-nav--inline set-path">
        <li class="m-nav__item">
          <a href="#" class="m-nav__link">
            <span class="my-order-nav">
                Business Settings
            </span>
          </a>
        </li>
        <li class="m-nav__separator">
          <%= image_tag "merchant/icons/angle.svg"%>
        </li>
        <li class="m-nav__item">
          <a href="#" class="m-nav__link">
            <span class="my-order-nav">
                Permission List
            </span>
          </a>
        </li>
        <li class="m-nav__separator">
          <%= image_tag "merchant/icons/angle.svg"%>
        </li>
        <li class="m-nav__item">
          <a href="#" class="m-nav__link">
              <span class="order-active">
                Edit User Permission
              </span>
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>

<div class="m-content">
  <div class="mb-5 mt-3 ">
    <div class="row">
      <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="page-title mb-4">
          Edit User Permission
        </div>
      </div>
    </div>
  </div>

  <div class="m-portlet m-portlet--mobile m-portal_datatable">
    <div class="m-portlet__body">
      <div class="new_permissions_box">
        <div class="row">
          <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
            <div class="form-group m-form__group mt-4">
              <label class="permission-name-text ml-2" for="permission_name">
                Permission Name
              </label>
              <input type="email" class="form-control create_permission_search_input m-input" id="permission_name" aria-describedby="emailHelp" placeholder="Permission Name">
            </div>
          </div>
          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="form-group m-form__group mt-3">
              <label class="m-checkbox m-checkbox--state-brand permissions_checkbox">
                <input type="checkbox" class="select_all_permissions">
                Select All
                <span class=""></span>
              </label>
            </div>
          </div>
          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="row">
              <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                <ul class="parent_check pl-0">
                  <li>
                    <div class="form-group m-form__group mb-0">
                      <label class="m-checkbox m-checkbox--state-brand permissions_checkbox">
                        <input type="checkbox">
                        Account <%= image_tag "merchant/icons/info_icon.svg", class:'ml-2' %>
                        <span class=""></span>
                      </label>
                    </div>
                    <ul class="nested">
                      <li>
                        <div class="form-group m-form__group pt-3">
                          <label class="m-checkbox m-checkbox--state-brand permissions_checkbox simple_checks">
                            <input type="checkbox">
                            View Accounts
                            <span class=""></span>
                          </label>
                        </div>
                      </li>
                      <li>
                        <div class="form-group m-form__group">
                          <label class="m-checkbox m-checkbox--state-brand permissions_checkbox simple_checks">
                            <input type="checkbox">
                            Refund
                            <span class=""></span>
                          </label>
                        </div>
                      </li>
                      <li>
                        <div class="form-group m-form__group">
                          <label class="m-checkbox m-checkbox--state-brand permissions_checkbox simple_checks">
                            <input type="checkbox">
                            Account Transfer
                            <span class=""></span>
                          </label>
                        </div>
                      </li>
                      <li>
                        <div class="form-group m-form__group">
                          <label class="m-checkbox m-checkbox--state-brand permissions_checkbox simple_checks">
                            <input type="checkbox">
                            Tip Transfer
                            <span class=""></span>
                          </label>
                        </div>
                      </li>
                      <li>
                        <div class="form-group m-form__group">
                          <label class="m-checkbox m-checkbox--state-brand permissions_checkbox simple_checks mb-0">
                            <input type="checkbox">
                            Export Daily Batch
                            <span class=""></span>
                          </label>
                        </div>
                      </li>
                    </ul>
                  </li>
                </ul>
                <ul class="parent_check pl-0 mt-5">
                  <li>
                    <div class="form-group m-form__group mb-0">
                      <label class="m-checkbox m-checkbox--state-brand permissions_checkbox">
                        <input type="checkbox">
                        Withdrawal <%= image_tag "merchant/icons/info_icon.svg", class:'ml-2' %>
                        <span class=""></span>
                      </label>
                    </div>
                    <ul class="nested">
                      <li>
                        <div class="form-group m-form__group pt-3 mb-2">
                          <label class="m-checkbox m-checkbox--state-brand permissions_checkbox simple_checks">
                            <input type="checkbox">
                            E-Checks
                            <span class=""></span>
                          </label>
                        </div>
                        <div class="l_shape"></div>
                        <ul class="sub_check_list">
                          <li>
                            <div class="m-checkbox-inline">
                              <label class="m-checkbox m-checkbox--state-brand permissions_checkbox simple_checks">
                                <input type="checkbox">
                                View
                                <span></span>
                              </label>
                              <label class="m-checkbox m-checkbox--state-brand permissions_checkbox simple_checks">
                                <input type="checkbox">
                                Void
                                <span></span>
                              </label>
                              <label class="m-checkbox m-checkbox--state-brand permissions_checkbox simple_checks">
                                <input type="checkbox">
                                Create New
                                <span></span>
                              </label>
                            </div>
                          </li>
                        </ul>
                      </li>
                      <li>
                        <div class="form-group m-form__group pt-3 mb-2">
                          <label class="m-checkbox m-checkbox--state-brand permissions_checkbox simple_checks">
                            <input type="checkbox">
                            Push to Card
                            <span class=""></span>
                          </label>
                        </div>
                        <div class="l_shape_1"></div>
                        <ul class="sub_check_list">
                          <li>
                            <div class="m-checkbox-inline">
                              <label class="m-checkbox m-checkbox--state-brand permissions_checkbox simple_checks">
                                <input type="checkbox">
                                View
                                <span></span>
                              </label>
                              <label class="m-checkbox m-checkbox--state-brand permissions_checkbox simple_checks">
                                <input type="checkbox">
                                Void
                                <span></span>
                              </label>
                              <label class="m-checkbox m-checkbox--state-brand permissions_checkbox simple_checks">
                                <input type="checkbox">
                                Create New
                                <span></span>
                              </label>
                            </div>
                          </li>
                        </ul>
                      </li>
                      <li>
                        <div class="form-group m-form__group pt-3 mb-2">
                          <label class="m-checkbox m-checkbox--state-brand permissions_checkbox simple_checks">
                            <input type="checkbox">
                            ACH
                            <span class=""></span>
                          </label>
                        </div>
                        <div class="l_shape_2"></div>
                        <ul class="sub_check_list">
                          <li>
                            <div class="m-checkbox-inline">
                              <label class="m-checkbox m-checkbox--state-brand permissions_checkbox simple_checks">
                                <input type="checkbox">
                                View
                                <span></span>
                              </label>
                              <label class="m-checkbox m-checkbox--state-brand permissions_checkbox simple_checks">
                                <input type="checkbox">
                                Void
                                <span></span>
                              </label>
                              <label class="m-checkbox m-checkbox--state-brand permissions_checkbox simple_checks">
                                <input type="checkbox">
                                Create New
                                <span></span>
                              </label>
                            </div>
                          </li>
                        </ul>
                      </li>
                      <li>
                        <div class="form-group m-form__group pt-3 mb-2">
                          <label class="m-checkbox m-checkbox--state-brand permissions_checkbox simple_checks">
                            <input type="checkbox">
                            E-Giftcard
                            <span class=""></span>
                          </label>
                        </div>
                        <div class="l_shape_3"></div>
                        <ul class="sub_check_list">
                          <li>
                            <div class="m-checkbox-inline">
                              <label class="m-checkbox m-checkbox--state-brand permissions_checkbox simple_checks">
                                <input type="checkbox">
                                View
                                <span></span>
                              </label>
                              <label class="m-checkbox m-checkbox--state-brand permissions_checkbox simple_checks">
                                <input type="checkbox">
                                Void
                                <span></span>
                              </label>
                              <label class="m-checkbox m-checkbox--state-brand permissions_checkbox simple_checks">
                                <input type="checkbox">
                                Create New
                                <span></span>
                              </label>
                            </div>
                          </li>
                        </ul>
                      </li>
                    </ul>
                  </li>
                </ul>
                <ul class="parent_check pl-0 mt-5">
                  <li>
                    <div class="form-group m-form__group mb-0">
                      <label class="m-checkbox m-checkbox--state-brand permissions_checkbox">
                        <input type="checkbox">
                        Chargeback <%= image_tag "merchant/icons/info_icon.svg", class:'ml-2' %>
                        <span class=""></span>
                      </label>
                    </div>
                    <ul class="nested">
                      <li>
                        <div class="form-group m-form__group pt-3">
                          <label class="m-checkbox m-checkbox--state-brand permissions_checkbox simple_checks">
                            <input type="checkbox">
                            View Chargeback Cases
                            <span class=""></span>
                          </label>
                        </div>
                      </li>
                      <li>
                        <div class="form-group m-form__group">
                          <label class="m-checkbox m-checkbox--state-brand permissions_checkbox simple_checks">
                            <input type="checkbox">
                            Fight Chargeback
                            <span class=""></span>
                          </label>
                        </div>
                      </li>
                      <li>
                        <div class="form-group m-form__group">
                          <label class="m-checkbox m-checkbox--state-brand permissions_checkbox simple_checks mb-0">
                            <input type="checkbox">
                            Accept Chargeback
                            <span class=""></span>
                          </label>
                        </div>
                      </li>
                    </ul>
                  </li>
                </ul>
                <ul class="parent_check pl-0 mt-5">
                  <li>
                    <div class="form-group m-form__group mb-0">
                      <label class="m-checkbox m-checkbox--state-brand permissions_checkbox">
                        <input type="checkbox">
                        Invoices <%= image_tag "merchant/icons/info_icon.svg", class:'ml-2' %>
                        <span class=""></span>
                      </label>
                    </div>
                    <ul class="nested">
                      <li>
                        <div class="form-group m-form__group pt-3">
                          <label class="m-checkbox m-checkbox--state-brand permissions_checkbox simple_checks">
                            <input type="checkbox">
                            View Invoice List
                            <span class=""></span>
                          </label>
                        </div>
                      </li>
                      <li>
                        <div class="form-group m-form__group">
                          <label class="m-checkbox m-checkbox--state-brand permissions_checkbox simple_checks">
                            <input type="checkbox">
                            Create New Invoice
                            <span class=""></span>
                          </label>
                        </div>
                      </li>
                      <li>
                        <div class="form-group m-form__group">
                          <label class="m-checkbox m-checkbox--state-brand permissions_checkbox simple_checks mb-0">
                            <input type="checkbox">
                            Cancel Invoice
                            <span class=""></span>
                          </label>
                        </div>
                      </li>
                    </ul>
                  </li>
                </ul>
              </div>
              <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                <div class="form-group m-form__group mb-5">
                  <label class="m-checkbox m-checkbox--state-brand ">
                    <input type="checkbox">
                    Customer List <%= image_tag "merchant/icons/info_icon.svg", class:'ml-2' %>
                    <span class="verify_checkbox"></span>
                  </label>
                </div>
                <div class="form-group m-form__group mb-5">
                  <label class="m-checkbox m-checkbox--state-brand ">
                    <input type="checkbox">
                    Virtual Terminal <%= image_tag "merchant/icons/info_icon.svg", class:'ml-2' %>
                    <span class="verify_checkbox"></span>
                  </label>
                </div>
                <div class="form-group m-form__group mb-5">
                  <label class="m-checkbox m-checkbox--state-brand ">
                    <input type="checkbox">
                    Funding Schedule <%= image_tag "merchant/icons/info_icon.svg", class:'ml-2' %>
                    <span class="verify_checkbox"></span>
                  </label>
                </div>
                <ul class="parent_check pl-0">
                  <li>
                    <div class="form-group m-form__group mb-0">
                      <label class="m-checkbox m-checkbox--state-brand permissions_checkbox">
                        <input type="checkbox">
                        Exports <%= image_tag "merchant/icons/info_icon.svg", class:'ml-2' %>
                        <span class=""></span>
                      </label>
                    </div>
                    <ul class="nested">
                      <li>
                        <div class="form-group m-form__group pt-3">
                          <label class="m-checkbox m-checkbox--state-brand permissions_checkbox simple_checks">
                            <input type="checkbox">
                            Accounts
                            <span class=""></span>
                          </label>
                        </div>
                      </li>
                      <li>
                        <div class="form-group m-form__group">
                          <label class="m-checkbox m-checkbox--state-brand permissions_checkbox simple_checks">
                            <input type="checkbox">
                            Withdrawal
                            <span class=""></span>
                          </label>
                        </div>
                      </li>
                      <li>
                        <div class="form-group m-form__group">
                          <label class="m-checkbox m-checkbox--state-brand permissions_checkbox simple_checks">
                            <input type="checkbox">
                            Chargeback
                            <span class=""></span>
                          </label>
                        </div>
                      </li>
                      <li>
                        <div class="form-group m-form__group">
                          <label class="m-checkbox m-checkbox--state-brand permissions_checkbox simple_checks">
                            <input type="checkbox">
                            Invoices
                            <span class=""></span>
                          </label>
                        </div>
                      </li>
                      <li>
                        <div class="form-group m-form__group">
                          <label class="m-checkbox m-checkbox--state-brand permissions_checkbox simple_checks mb-0">
                            <input type="checkbox">
                            Funding Schedule
                            <span class=""></span>
                          </label>
                        </div>
                      </li>
                      <li>
                        <div class="form-group m-form__group">
                          <label class="m-checkbox m-checkbox--state-brand permissions_checkbox simple_checks mb-0">
                            <input type="checkbox">
                            Business Settings
                            <span class=""></span>
                          </label>
                        </div>
                      </li>
                    </ul>
                  </li>
                </ul>
                <ul class="parent_check pl-0 mt-5">
                  <li>
                    <div class="form-group m-form__group mb-0">
                      <label class="m-checkbox m-checkbox--state-brand permissions_checkbox">
                        <input type="checkbox">
                        Business Settings <%= image_tag "merchant/icons/info_icon.svg", class:'ml-2' %>
                        <span class=""></span>
                      </label>
                    </div>
                    <ul class="nested">
                      <li>
                        <div class="form-group m-form__group pt-3 mb-2">
                          <label class="m-checkbox m-checkbox--state-brand permissions_checkbox simple_checks">
                            <input type="checkbox">
                            Employee List
                            <span class=""></span>
                          </label>
                        </div>
                        <div class="l_shape_4"></div>
                        <ul class="sub_check_list">
                          <li>
                            <div class="m-checkbox-inline">
                              <label class="m-checkbox m-checkbox--state-brand permissions_checkbox simple_checks">
                                <input type="checkbox">
                                View
                                <span></span>
                              </label>
                              <label class="m-checkbox m-checkbox--state-brand permissions_checkbox simple_checks">
                                <input type="checkbox">
                                Edit
                                <span></span>
                              </label>
                              <label class="m-checkbox m-checkbox--state-brand permissions_checkbox simple_checks">
                                <input type="checkbox">
                                Create New
                                <span></span>
                              </label>
                            </div>
                          </li>
                        </ul>
                      </li>
                      <li>
                        <div class="form-group m-form__group pt-3 mb-2">
                          <label class="m-checkbox m-checkbox--state-brand permissions_checkbox simple_checks">
                            <input type="checkbox">
                            Permission List
                            <span class=""></span>
                          </label>
                        </div>
                        <div class="l_shape_5"></div>
                        <ul class="sub_check_list">
                          <li>
                            <div class="m-checkbox-inline">
                              <label class="m-checkbox m-checkbox--state-brand permissions_checkbox simple_checks">
                                <input type="checkbox">
                                View
                                <span></span>
                              </label>
                              <label class="m-checkbox m-checkbox--state-brand permissions_checkbox simple_checks">
                                <input type="checkbox">
                                Edit
                                <span></span>
                              </label>
                              <label class="m-checkbox m-checkbox--state-brand permissions_checkbox simple_checks">
                                <input type="checkbox">
                                Create New
                                <span></span>
                              </label>
                            </div>
                          </li>
                        </ul>
                      </li>
                      <li>
                        <div class="form-group m-form__group mt-3">
                          <label class="m-checkbox m-checkbox--state-brand permissions_checkbox simple_checks">
                            <input type="checkbox">
                            API Keys
                            <span class=""></span>
                          </label>
                        </div>
                      </li>
                      <li>
                        <div class="form-group m-form__group mt-3">
                          <label class="m-checkbox m-checkbox--state-brand permissions_checkbox simple_checks">
                            <input type="checkbox">
                            Plugins
                            <span class=""></span>
                          </label>
                        </div>
                      </li>
                      <li>
                        <div class="form-group m-form__group mt-3">
                          <label class="m-checkbox m-checkbox--state-brand permissions_checkbox simple_checks mb-0">
                            <input type="checkbox">
                            Fee Structure
                            <span class=""></span>
                          </label>
                        </div>
                      </li>
                    </ul>
                  </li>
                </ul>
                <ul class="parent_check pl-0 mt-5">
                  <li>
                    <div class="form-group m-form__group mb-0">
                      <label class="m-checkbox m-checkbox--state-brand permissions_checkbox">
                        <input type="checkbox">
                        Risk Analysis <%= image_tag "merchant/icons/info_icon.svg", class:'ml-2' %>
                        <span class=""></span>
                      </label>
                    </div>
                    <ul class="nested">
                      <li>
                        <div class="form-group m-form__group pt-3">
                          <label class="m-checkbox m-checkbox--state-brand permissions_checkbox simple_checks">
                            <input type="checkbox">
                            Approve MR Transactions
                            <span class=""></span>
                          </label>
                        </div>
                      </li>
                      <li>
                        <div class="form-group m-form__group">
                          <label class="m-checkbox m-checkbox--state-brand permissions_checkbox simple_checks mb-0">
                            <input type="checkbox">
                            Refund MR Transactions
                            <span class=""></span>
                          </label>
                        </div>
                      </li>
                    </ul>
                  </li>
                </ul>
                <div class="form-group m-form__group mt-3">
                  <label class="m-checkbox m-checkbox--state-brand ">
                    <input type="checkbox">
                    Get Help <%= image_tag "merchant/icons/info_icon.svg", class:'ml-2' %>
                    <span class="verify_checkbox"></span>
                  </label>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="row">
              <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                <a href="/permissions/create_user_permission" class="btn back_to_permission_list">
                  Back to Permission List
                </a>
              </div>
              <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                <a href="#" class="btn Update_Permission">
                  Update Permission
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>