<%= stylesheet_link_tag "v2/merchant/permission" %>
<%= javascript_include_tag "v2/merchant/permission" %>
<div class="m-subheader">
  <div class="d-flex align-items-center">
    <div class="mr-auto">
      <ul class="m-subheader__breadcrumbs m-nav m-nav--inline set-path">
        <li class="m-nav__item">
          <a href="#" class="m-nav__link">
            <span class="my-order-nav">
                Business Settings
            </span>
          </a>
        </li>
        <li class="m-nav__separator">
          <%= image_tag "v2/merchant/icons/angle.svg"%>
        </li>
        <li class="m-nav__item">
          <a href="<%= v2_merchant_permission_index_path %>" class="m-nav__link">
              <span class="order-active">
                Permission List
              </span>
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>
<div class="m-content">
  <div class="mb-24">
<!--  <div class="mb-5">-->
    <div class="row">
      <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-xs-12">
        <div class="page-title mb-4">
          Permission List
        </div>
      </div>
      <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-xs-12">
        <div class="actions-header flex-end">
<!--        <div class="mb-4 pull-right">-->

          <!--          <button type="button" class="btn btn-default btn-invoice-cancel pull-left btn_transfer_fund export-per-btn" data-toggle="modal" data-target="#echeckModal">-->
          <!--            Export-->
          <!--          </button>-->
          <!--          <a href="#" class="btn activity_log_btn slide-toggle slide-toggle-open text-center  pull-right m-btn m-btn--icon pull-left mr-3 slide-toggle slide-toggle-open" data-type="permissions" id="activity_logs">-->
          <input type="hidden" id="type" value="<%= TypesEnumLib::WorkerType::PermissionExport %>">
          <button id="export_button" type="button" class="loader_exp btn  pull-left btn_transfer_fund m-btn--pill btn-secondary ml-4 mr-4 export_bulk export-btn" data-toggle="modal" data-target="#exportProcessingModal" data-type="<%= TypesEnumLib::WorkerType::PermissionExport %>">
            Export
          </button>
          <!--            <button type="button" class="btn  pull-left btn_transfer_fund m-btn--pill btn-secondary ml-4 mr-4 export_bulk export-btn" data-toggle="modal" data-target="#echeckModal">-->
          <!--            Export-->
          <!--            </button>-->
<!--          <button class="btn activity_log_btn slide-toggle slide-toggle-open text-center  pull-right m-btn m-btn--icon pull-left mr-3 slide-toggle slide-toggle-open" data-type="permissions" id="activity_logs">-->
<!--	          <span class="pl-3 activity_log_text">-->
<!--	            <span>-->
<!--	              Activity Log-->
<!--	            </span>-->
<!--	            <i class="fa fa_activity_log">-->
	              <%#= image_tag "v2/merchant/permission/activity_log.svg" %>
<!--	            </i>-->
<!--	          </span>-->

<!--          </button>-->
          <button type="button" class="btn m-btn--pill btn-secondary activity_log__btn slide-toggle slide-toggle-open" data-type="permissions" id="activity_logs">
            <span >Activity Log </span><%= image_tag "v2/activity_log/noun_clock_1698764.svg", class: "timer-width-18 " %>
          </button>

          <div class='input-group pull-right mt-4' id='m_daterangepicker_6'>
            <input type='text' class="form-control m-input" readonly  placeholder="Today"/>
            <div class="input-group-append">
					<span class="input-group-text">
						<%= image_tag "v2/merchant/icons/down-b.svg"%>
					</span>
            </div>
          </div>
          <% if @user_permission.try(:permission_add) %>
            <a href="<%= new_v2_merchant_permission_path %>" class="btn btn-default  ml-3 btn-preview-invoice show-cover-spin add-new-permission" id="view_detail" >Create User Permissions</a>
          <% end %>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6 col-sm-12">
      <div class="select_number mb-0">
        <div class="mt-3 mr-2">
          Show
        </div>
        <div class="dropdown bootstrap-select form-control m-bootstrap-select m-bootstrap-select--pill m_ pagination_dropdown">
          <%= form_tag v2_merchant_permission_index_path, method: :get, id: 'permission_filter'  do  %>
            <%= select_tag "filter", options_for_select(@filters.map{|v|[v]}, selected: params[:filter].present? ? params[:filter] : "10") ,
                           :prompt => false,
                           :required => true,
                           class: "form-control m-bootstrap-select m-bootstrap-select--pill m_selectpicker pagination_dropdown",
                           data: {confirm: "Are you sure ?"}
            %>
          <% end %>
        </div>
        <div class="m--space-10"></div>
        <span class="mt-3 ml-2">
              Entries
            </span>
      </div>
    </div>

    <div class="col-md-6 col-sm-12">
      <%= form_for :q , url: "/v2/merchant/permission" do |f| %>
        <div class="m-form__group">
          <div class="m-input-icon m-input-icon--left m-input-icon_datatable">
            <%= f.search_field :name_cont , class: "form-control m-input search_input_datatable" , placeholder: "Search"%>
            <span class="m-input-icon__icon m-input-icon__icon--left">
              <span>
                <%= image_tag "v2/merchant/datatable/search.svg", class: 'win-img' %>
              </span>
            </span>

          </div>
        </div>

      <% end %>
    </div>
  </div>
  <div class="m-portlet m-portlet--mobile m-portal_datatable">
    <div class="m-portlet__body">
      <div class="table-data">
        <%= render partial: "permission_datatable" %>
      </div>
    </div>
  </div>



  <!--#######################    Modal Code #############################-->

  <section id="permissionSection" class="permissionSection"></section>
  <!--#####################    end     ################################-->

  <%= render "delete_user_permission" %>
</div>
<%# render "new" %>

<%= javascript_include_tag 'v2/merchant/bootstrap-daterangepicker' %>
<!--#####################    end     ################################-->
<%#= render partial: 'v2/merchant/shared/export_modal', locals: {title: "Export Permission", type: TypesEnumLib::WorkerType::PermissionExport} %>
<%= render partial: "v2/merchant/shared/export_processing" , locals: {title: "Export Permission List"} %>
<%= javascript_include_tag 'v2/merchant/export_modal' %>
