<div class="m-subheader">
  <div class="d-flex align-items-center">
    <% heading_action = @permission.name %>
    <div class="mr-auto">
      <ul class="m-subheader__breadcrumbs m-nav m-nav--inline set-path">
        <li class="m-nav__item">
          <a href="#" class="m-nav__link">
                <span class="my-order-nav">
                    Business Settings
                </span>
          </a>
        </li>
        <li class="m-nav__separator">
          <%= image_tag "v2/merchant/icons/angle.svg"%>
        </li>
        <li class="m-nav__item">
          <a href="<%= v2_merchant_permission_index_path %>"  class="m-nav__link">
                <span class="my-order-nav">
                    Permission List
                </span>
          </a>
        </li>
        <li class="m-nav__separator">
          <%= image_tag "v2/merchant/icons/angle.svg"%>
        </li>
        <li class="m-nav__item">
          <a href="#" class="m-nav__link">
                  <span class="order-active">
                    <%= heading_action %>
                  </span>
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>

<div class="m-content">

  <div class="mb-5 mt-3 ">
    <div class="row">
      <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="page-title">
          <%= heading_action %>
        </div>
      </div>
    </div>
  </div>

  <div class="m-portlet m-portlet--mobile m-portal_datatable">
    <div class="m-portlet__body">
      <div class="new_permissions_box view_user_permission">
        <% url = params["action"] == "new" ? "/v2/merchant/permission" : "/v2/merchant/permission/#{params[:id]}" %>
        <%= simple_form_for @permission, url: url, html: {class: 'permission-form'} do |f| %>
          <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
              <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                  <ul class="parent_check pl-0">
                    <li>
                      <div class="form-group m-form__group mb-0">
                        <label class="m-checkbox m-checkbox--state-brand permissions_checkbox simple_checks_box parent_box <%= @permission.try(:accounts).present? ? "checkbox_4c4c4c" : "grash_checkbox" %>">
                          <input type="checkbox">
                          <%= f.check_box :accounts, class: "account_parent_check_box for_select for_show", checked: @permission.try(:accounts), disabled: @permission.admin? || @permission.regular? || @permission.custom? || @permission.accounting_team? %>
                          Account
                          <span class="<%= @permission.try(:accounts).present? ? "cbx-white" : "" %>"></span>
                        </label>
                        <span data-trigger1="focus"  data-skin="dark" data-toggle="m-popover" data-placement="right"  data-content="<span class='cutom_tootltip'>Checking appropriate box allows user to access account wallets and perform various funding options.</span>" data-html="true">
                          <%= image_tag 'v2/merchant/icons/info_icon.svg', class:'ml-2'%>
                        </span>
                      </div>
                      <ul class="nested">
                        <li>
                          <div class="form-group m-form__group pt-3">
                            <label class="m-checkbox m-checkbox--state-brand permissions_checkbox simple_checks simple_checks_box <%= @permission.try(:view_accounts).present? ? "checkbox_4c4c4c" : "grash_checkbox" %>">
                              <%= f.check_box :view_accounts, data:{class:"account"},class: "account_child_check_box child_box for_select for_show", checked: @permission.try(:view_accounts), disabled: @permission.admin? || @permission.regular? || @permission.custom? || @permission.accounting_team? || @permission.custom? %>
                              View Accounts
                              <span class="<%= @permission.try(:view_accounts).present? ? "cbx-white" : "" %>"></span>
                            </label>
                          </div>
                        </li>
                        <li>
                          <div class="form-group m-form__group">
                            <label class="m-checkbox m-checkbox--state-brand permissions_checkbox simple_checks simple_checks_box <%= @permission.try(:refund).present? ? "checkbox_4c4c4c" : "grash_checkbox" %>">
                              <%= f.check_box :refund, data:{class:"account"}, class: "account_child_check_box child_box for_select for_show", checked: @permission.try(:refund), disabled: @permission.admin? || @permission.regular? || @permission.custom? || @permission.accounting_team? %>
                              Refund
                              <span class="<%= @permission.try(:refund).present? ? "cbx-white" : "" %>"></span>
                            </label>
                          </div>
                        </li>
                        <li>
                          <div class="form-group m-form__group">
                            <label class="m-checkbox m-checkbox--state-brand permissions_checkbox simple_checks simple_checks_box <%= @permission.try(:account_transfer).present? ? "checkbox_4c4c4c" : "grash_checkbox" %>">
                              <%= f.check_box :account_transfer,data:{class:"account"},class: "account_child_check_box child_box for_select for_show", checked: @permission.try(:account_transfer), disabled: @permission.admin? || @permission.regular? || @permission.custom? || @permission.accounting_team? %>
                              Account Transfer
                              <span class="<%= @permission.try(:account_transfer).present? ? "cbx-white" : "" %>"></span>
                            </label>
                          </div>
                        </li>
                        <li>
                          <div class="form-group m-form__group">
                            <label class="m-checkbox m-checkbox--state-brand permissions_checkbox simple_checks simple_checks_box <%= @permission.try(:tip_transfer).present? ? "checkbox_4c4c4c" : "grash_checkbox" %>">
                              <%= f.check_box :tip_transfer, data:{class:"account"},class: "account_child_check_box child_box for_select for_show", checked: @permission.try(:tip_transfer), disabled: @permission.admin? || @permission.regular? || @permission.custom? || @permission.accounting_team? %>
                              Tip Transfer
                              <span class="<%= @permission.try(:tip_transfer).present? ? "cbx-white" : "" %>"></span>
                            </label>
                          </div>
                        </li>
                        <li>
                          <div class="form-group m-form__group">
                            <label class="m-checkbox m-checkbox--state-brand permissions_checkbox simple_checks simple_checks_box mb-0 <%= @permission.try(:export_daily_batch).present? ? "checkbox_4c4c4c" : "grash_checkbox" %>">
                              <%= f.check_box :export_daily_batch, data:{class:"account"},class: "account_child_check_box child_box for_select for_show", checked: @permission.try(:export_daily_batch), disabled: @permission.admin? || @permission.regular? || @permission.custom? || @permission.accounting_team? %>
                              Export Daily Batch
                              <span class="<%= @permission.try(:export_daily_batch).present? ? "cbx-white" : "" %>"></span>
                            </label>
                          </div>
                        </li>
                      </ul>
                    </li>
                  </ul>
                  <ul class="parent_check pl-0 mt-5">
                    <li>
                      <div class="form-group m-form__group mb-0">
                        <label class="m-checkbox m-checkbox--state-brand permissions_checkbox simple_checks_box <%= @permission.try(:withdrawals).present? ? "checkbox_4c4c4c" : "grash_checkbox" %>">
                          <%= f.check_box :withdrawals, class: "withdraw_parent_check_box for_select for_show", checked: @permission.try(:withdrawals), disabled: @permission.admin? || @permission.regular? || @permission.custom? || @permission.accounting_team? %>
                          Withdrawal
                          <span class="<%= @permission.try(:withdrawals).present? ? "cbx-white" : "" %>"></span>
                        </label>
                        <span data-trigger1="focus"  data-skin="dark" data-toggle="m-popover" data-placement="right"  data-content="<span class='cutom_tootltip'>Checking appropriate box allows user to perform account withdraw functions. Use careful consideration for these permissions as they allow user to withdraw funds (Create New) or stop a withdrawal with void option.</span>" data-html="true">
                          <%= image_tag 'v2/merchant/icons/info_icon.svg', class:'ml-2'%>
                        </span>
                      </div>
                      <ul class="nested">
                        <li>
                          <div class="form-group m-form__group pt-3 mb-2">
                            <label class="m-checkbox m-checkbox--state-brand permissions_checkbox simple_checks simple_checks_box <%= @permission.try(:e_checks).present? ? "checkbox_4c4c4c" : "grash_checkbox" %>">
                              <%= f.check_box :e_checks, class:"withdraw_child_check_box child_box check_parent_box sub_parent for_select for_show", data:{id: "check",class:"withdraw"} ,checked: @permission.try(:e_checks), disabled: @permission.admin? || @permission.regular? || @permission.custom? || @permission.accounting_team? %>
                              E-Checks
                              <span class="<%= @permission.try(:e_checks).present? ? "cbx-white" : "" %>"></span>
                            </label>
                          </div>
                          <div class="l_shape"></div>
                          <ul class="sub_check_list">
                            <li>
                              <div class="m-checkbox-inline">
                                <label class="m-checkbox m-checkbox--state-brand permissions_checkbox simple_checks simple_checks_box <%= @permission.try(:check_view_only).present? ? "checkbox_4c4c4c" : "grash_checkbox" %>">
                                  <%= f.check_box :check_view_only, class:"withdraw_child_check_box child_box check_child_box sub_child for_select for_show", data:{id: "check",class:"withdraw"} ,checked: @permission.try(:check_view_only), disabled: @permission.admin? || @permission.regular? || @permission.custom? || @permission.accounting_team? %>
                                  View
                                  <span class="<%= @permission.try(:check_view_only).present? ? "cbx-white" : "" %>"></span>
                                </label>
                                <label class="m-checkbox m-checkbox--state-brand m-checkbox--solid m-checkbox--disabled simple_checks simple_checks_box">
                                  <input type="checkbox" data-class="withdraw"  class="" data-id="check">
                                  Void
                                  <span></span>
                                </label>
                                <label class="m-checkbox m-checkbox--state-brand permissions_checkbox simple_checks simple_checks_box <%= @permission.try(:check_add).present? ? "checkbox_4c4c4c" : "grash_checkbox" %>">
                                  <%= f.check_box :check_add, class:"withdraw_child_check_box child_box check_child_box sub_child for_select for_show", data:{id: "check",class:"withdraw"}, checked: @permission.try(:check_add), disabled: @permission.admin? || @permission.regular? || @permission.custom? || @permission.accounting_team? %>
                                  Create New
                                  <span class="<%= @permission.try(:check_add).present? ? "cbx-white" : "" %>"></span>
                                </label>
                              </div>
                            </li>
                          </ul>
                        </li>
                        <li>
                          <div class="form-group m-form__group pt-3 mb-2">
                            <label class="m-checkbox m-checkbox--state-brand permissions_checkbox simple_checks simple_checks_box <%= @permission.try(:push_to_cards).present? ? "checkbox_4c4c4c" : "grash_checkbox" %>">
                              <%= f.check_box :push_to_cards, class:"withdraw_child_check_box child_box p2c_parent_box sub_parent for_select for_show", data:{id: "p2c",class:"withdraw"} ,checked: @permission.try(:push_to_cards), disabled: @permission.admin? || @permission.regular? || @permission.custom? || @permission.accounting_team? %>
                              Push to Card
                              <span class="<%= @permission.try(:push_to_cards).present? ? "cbx-white" : "" %>"></span>
                            </label>
                          </div>
                          <div class="l_shape_1"></div>
                          <ul class="sub_check_list">
                            <li>
                              <div class="m-checkbox-inline">
                                <label class="m-checkbox m-checkbox--state-brand permissions_checkbox simple_checks simple_checks_box <%= @permission.try(:push_to_card_view_only).present? ? "checkbox_4c4c4c" : "grash_checkbox" %>">
                                  <%= f.check_box :push_to_card_view_only, class:"withdraw_child_check_box child_box p2c_child_box sub_child for_select for_show", data:{id: "p2c",class:"withdraw"}, checked: @permission.try(:push_to_card_view_only), disabled: @permission.admin? || @permission.regular? || @permission.custom? || @permission.accounting_team? %>
                                  View
                                  <span class="<%= @permission.try(:push_to_card_view_only).present? ? "cbx-white" : "" %>"></span>
                                </label>
                                <label class="m-checkbox m-checkbox--state-brand m-checkbox--solid m-checkbox--disabled simple_checks simple_checks_box">
                                  <input type="checkbox" data-class="withdraw" class="" data-id="p2c">
                                  Void
                                  <span></span>
                                </label>
                                <label class="m-checkbox m-checkbox--state-brand permissions_checkbox simple_checks simple_checks_box <%= @permission.try(:push_to_card_add).present? ? "checkbox_4c4c4c" : "grash_checkbox" %>">
                                  <%= f.check_box :push_to_card_add, class:"withdraw_child_check_box child_box p2c_child_box sub_child for_select for_show", data:{id: "p2c" ,class:"withdraw"}, checked: @permission.try(:push_to_card_add), disabled: @permission.admin? || @permission.regular? || @permission.custom? || @permission.accounting_team? %>
                                  Create New
                                  <span  class="<%= @permission.try(:push_to_card_add).present? ? "cbx-white" : "" %>"></span>
                                </label>
                              </div>
                            </li>
                          </ul>
                        </li>
                        <li>
                          <div class="form-group m-form__group pt-3 mb-2">
                            <label class="m-checkbox m-checkbox--state-brand permissions_checkbox simple_checks simple_checks_box <%= @permission.try(:achs).present? ? "checkbox_4c4c4c" : "grash_checkbox" %>">
                              <%= f.check_box :achs, class:"withdraw_child_check_box child_box ach_parent_box sub_parent for_select for_show", data:{id: "ach",class:"withdraw"} ,checked: @permission.try(:achs), disabled: @permission.admin? || @permission.regular? || @permission.custom? || @permission.accounting_team? %>
                              ACH
                              <span class="<%= @permission.try(:achs).present? ? "cbx-white" : "" %>"></span>
                            </label>
                          </div>
                          <div class="l_shape_2"></div>
                          <ul class="sub_check_list">
                            <li>
                              <div class="m-checkbox-inline">
                                <label class="m-checkbox m-checkbox--state-brand permissions_checkbox simple_checks simple_checks_box <%= @permission.try(:ach_view_only).present? ? "checkbox_4c4c4c" : "grash_checkbox" %>">
                                  <%= f.check_box :ach_view_only,data:{id: "ach" ,class:"withdraw"}, class:"withdraw_child_check_box child_box ach_child_box sub_child for_select for_show", checked: @permission.try(:ach_view_only), disabled: @permission.admin? || @permission.regular? || @permission.custom? || @permission.accounting_team? %>
                                  View
                                  <span class="<%= @permission.try(:ach_view_only).present? ? "cbx-white" : "" %>"></span>
                                </label>
                                <label class="m-checkbox m-checkbox--state-brand m-checkbox--solid m-checkbox--disabled simple_checks simple_checks_box">
                                  <input type="checkbox" data-class="withdraw" class="" data-id="ach">
                                  Void
                                  <span></span>
                                </label>
                                <label class="m-checkbox m-checkbox--state-brand permissions_checkbox simple_checks simple_checks_box <%= @permission.try(:ach_add).present? ? "checkbox_4c4c4c" : "grash_checkbox" %>">
                                  <%= f.check_box :ach_add, data:{id: "ach" ,class:"withdraw"}, class:"withdraw_child_check_box child_box ach_child_box sub_child for_select for_show", checked: @permission.try(:ach_add), disabled: @permission.admin? || @permission.regular? || @permission.custom? || @permission.accounting_team? %>
                                  Create New
                                  <span></span>
                                </label>
                              </div>
                            </li>
                          </ul>
                        </li>
                        <li>
                          <div class="form-group m-form__group pt-3 mb-2">
                            <label class="m-checkbox m-checkbox--state-brand permissions_checkbox simple_checks simple_checks_box <%= @permission.try(:giftcards).present? ? "checkbox_4c4c4c" : "grash_checkbox" %>">
                              <%= f.check_box :giftcards, class:"withdraw_child_check_box child_box giftcard_parent_box sub_parent for_select for_show", data:{id: "giftcard",class:"withdraw"} ,checked: @permission.try(:giftcards), disabled: @permission.admin? || @permission.regular? || @permission.custom? || @permission.accounting_team? %>
                              E-Giftcard
                              <span class="<%= @permission.try(:giftcards).present? ? "cbx-white" : "" %>"></span>
                            </label>
                          </div>
                          <div class="l_shape_3"></div>
                          <ul class="sub_check_list">
                            <li>
                              <div class="m-checkbox-inline">
                                <label class="m-checkbox m-checkbox--state-brand permissions_checkbox simple_checks simple_checks_box <%= @permission.try(:gift_card_view_only).present? ? "checkbox_4c4c4c" : "grash_checkbox" %>">
                                  <%= f.check_box :gift_card_view_only, data:{id: "giftcard" ,class:"withdraw"}, class:"withdraw_child_check_box child_box giftcard_child_box sub_child for_select for_show", checked: @permission.try(:gift_card_view_only), disabled: @permission.admin? || @permission.regular? || @permission.custom? || @permission.accounting_team? %>
                                  View
                                  <span class="<%= @permission.try(:gift_card_view_only).present? ? "cbx-white" : "" %>"></span>
                                </label>
                                <label class="m-checkbox m-checkbox--state-brand m-checkbox--solid m-checkbox--disabled simple_checks simple_checks_box">
                                  <input type="checkbox" data-class="withdraw" class="" data-id="giftcard">
                                  Void
                                  <span></span>
                                </label>
                                <label class="m-checkbox m-checkbox--state-brand permissions_checkbox simple_checks simple_checks_box <%= @permission.try(:gift_card_add).present? ? "checkbox_4c4c4c" : "grash_checkbox" %>">
                                  <%= f.check_box :gift_card_add, data:{id: "giftcard" ,class:"withdraw"}, class:"withdraw_child_check_box child_box giftcard_child_box sub_child for_select for_show", checked: @permission.try(:gift_card_add), disabled: @permission.admin? || @permission.regular? || @permission.custom? || @permission.accounting_team? %>
                                  Create New
                                  <span class="<%= @permission.try(:gift_card_add).present? ? "cbx-white" : "" %>"> </span>
                                </label>
                              </div>
                            </li>
                          </ul>
                        </li>
                      </ul>
                    </li>
                  </ul>
                  <ul class="parent_check pl-0 mt-5">
                    <li>
                      <div class="form-group m-form__group mb-0">
                        <label class="m-checkbox m-checkbox--state-brand permissions_checkbox simple_checks_box <%= @permission.try(:chargebacks).present? ? "checkbox_4c4c4c" : "grash_checkbox" %>">
                          <%= f.check_box :chargebacks, class:"chargeback_parent_check_box  for_select for_show", data:{class:"withdraw"} ,checked: @permission.try(:chargebacks), disabled: @permission.admin? || @permission.regular? || @permission.custom? || @permission.accounting_team? %>
                          Chargeback
                          <span class="<%= @permission.try(:chargebacks).present? ? "cbx-white" : "" %>"></span>
                        </label>
                        <span data-trigger1="focus"  data-skin="dark" data-toggle="m-popover" data-placement="right"  data-content="<span class='cutom_tootltip'>Checking appropriate box allows user to access and perform various chargeback options.</span>" data-html="true">
                          <%= image_tag 'v2/merchant/icons/info_icon.svg', class:'ml-2'%>
                        </span>
                      </div>
                      <ul class="nested">
                        <li>
                          <div class="form-group m-form__group pt-3">
                            <label class="m-checkbox m-checkbox--state-brand permissions_checkbox simple_checks simple_checks_box <%= @permission.try(:view_chargeback_cases).present? ? "checkbox_4c4c4c" : "grash_checkbox" %>">
                              <%= f.check_box :view_chargeback_cases, data:{class:"chargeback"}, class: "chargeback_child_check_box child_box for_select for_show", checked: @permission.try(:view_chargeback_cases), disabled: @permission.admin? || @permission.regular? || @permission.custom? || @permission.accounting_team? %>
                              View Chargeback Cases
                              <span class="<%= @permission.try(:view_chargeback_cases).present? ? "cbx-white" : "" %>"></span>
                            </label>
                          </div>
                        </li>
                        <li>
                          <div class="form-group m-form__group">
                            <label class="m-checkbox m-checkbox--state-brand permissions_checkbox simple_checks simple_checks_box <%= @permission.try(:fight_chargeback).present? ? "checkbox_4c4c4c" : "grash_checkbox" %>">
                              <%= f.check_box :fight_chargeback, data:{class:"chargeback"}, class: "chargeback_child_check_box child_box for_select for_show", checked: @permission.try(:fight_chargeback), disabled: @permission.admin? || @permission.regular? || @permission.custom? || @permission.accounting_team? %>
                              Fight Chargeback
                              <span class="<%= @permission.try(:fight_chargeback).present? ? "cbx-white" : "" %>"></span>
                            </label>
                          </div>
                        </li>
                        <li>
                          <div class="form-group m-form__group">
                            <label class="m-checkbox m-checkbox--state-brand permissions_checkbox simple_checks mb-0 simple_checks_box <%= @permission.try(:accept_chargeback).present? ? "checkbox_4c4c4c" : "grash_checkbox" %>">
                              <%= f.check_box :accept_chargeback,data:{class:"chargeback"}, class: "chargeback_child_check_box child_box for_select for_show", checked: @permission.try(:accept_chargeback), disabled: @permission.admin? || @permission.regular? || @permission.custom? || @permission.accounting_team? %>
                              Accept Chargeback
                              <span class="<%= @permission.try(:accept_chargeback).present? ? "cbx-white" : "" %>"></span>
                            </label>
                          </div>
                        </li>
                      </ul>
                    </li>
                  </ul>
                  <ul class="parent_check pl-0 mt-5">
                    <li>
                      <div class="form-group m-form__group mb-0">
                        <label class="m-checkbox m-checkbox--state-brand permissions_checkbox simple_checks_box <%= @permission.try(:invoices).present? ? "checkbox_4c4c4c" : "grash_checkbox" %>">
                          <%= f.check_box :invoices, data:{class: "invoice"},class: "invoice_parent_check_box for_select for_show", checked: @permission.try(:invoices), disabled: @permission.admin? || @permission.regular? || @permission.custom? || @permission.accounting_team? %>
                          Invoices
                          <span class="<%= @permission.try(:invoices).present? ? "cbx-white" : "" %>"></span>
                        </label>
                        <span data-trigger1="focus"  data-skin="dark" data-toggle="m-popover" data-placement="right"  data-content="<span class='cutom_tootltip'>Checking appropriate box allows user to access and perform various invoice options.</span>" data-html="true">
                          <%= image_tag 'v2/merchant/icons/info_icon.svg', class:'ml-2'%>
                        </span>
                      </div>
                      <ul class="nested">
                        <li>
                          <div class="form-group m-form__group pt-3">
                            <label class="m-checkbox m-checkbox--state-brand permissions_checkbox simple_checks simple_checks_box <%= @permission.try(:view_invoice).present? ? "checkbox_4c4c4c" : "grash_checkbox" %>">
                              <%= f.check_box :view_invoice, data:{class: "invoice"},class: "invoice_child_check_box child_box for_select for_show", checked: @permission.try(:view_invoice), disabled: @permission.admin? || @permission.regular? || @permission.custom? || @permission.accounting_team? %>
                              View Invoice List
                              <span class="<%= @permission.try(:view_invoice).present? ? "cbx-white" : "" %>"></span>
                            </label>
                          </div>
                        </li>
                        <li>
                          <div class="form-group m-form__group">
                            <label class="m-checkbox m-checkbox--state-brand permissions_checkbox simple_checks simple_checks_box <%= @permission.try(:create_invoice).present? ? "checkbox_4c4c4c" : "grash_checkbox" %>">
                              <%= f.check_box :create_invoice, data:{class: "invoice"},class: "invoice_child_check_box child_box for_select for_show", checked: @permission.try(:create_invoice), disabled: @permission.admin? || @permission.regular? || @permission.custom? || @permission.accounting_team? %>
                              Create New Invoice
                              <span class="<%= @permission.try(:create_invoice).present? ? "cbx-white" : "" %>"></span>
                            </label>
                          </div>
                        </li>
                        <li>
                          <div class="form-group m-form__group">
                            <label class="m-checkbox m-checkbox--state-brand permissions_checkbox simple_checks simple_checks_box mb-0 <%= @permission.try(:cancel_invoice).present? ? "checkbox_4c4c4c" : "grash_checkbox" %>">
                              <%= f.check_box :cancel_invoice, data:{class: "invoice"},class: "invoice_child_check_box child_box for_select for_show", checked: @permission.try(:cancel_invoice), disabled: @permission.admin? || @permission.regular? || @permission.custom? || @permission.accounting_team? %>
                              Cancel Invoice
                              <span class="<%= @permission.try(:cancel_invoice).present? ? "cbx-white" : "" %>"></span>
                            </label>
                          </div>
                        </li>
                      </ul>
                    </li>
                  </ul>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                  <div class="form-group m-form__group mb-5">
                    <label class="m-checkbox m-checkbox--state-brand <%= @permission.try(:customer_list).present? ? "checkbox_4c4c4c" : "grash_checkbox" %>">
                      <%= f.check_box :customer_list, class: "for_select for_show", checked: @permission.try(:customer_list), disabled: @permission.admin? || @permission.regular? || @permission.custom? || @permission.accounting_team? %>
                      Customer List
                      <span class="verify_checkbox <%= @permission.try(:customer_list).present? ? "cbx-white" : "" %>"></span>
                    </label>
                    <span data-trigger1="focus"  data-skin="dark" data-toggle="m-popover" data-placement="right"  data-content="<span class='cutom_tootltip'>Allows user access to the customer list.</span>" data-html="true">
                      <%= image_tag 'v2/merchant/icons/info_icon.svg', class:'ml-2'%>
                    </span>
                  </div>
                  <div class="form-group m-form__group mb-5">
                    <label class="m-checkbox m-checkbox--state-brand <%= @permission.try(:virtual_terminal).present? ? "checkbox_4c4c4c" : "grash_checkbox" %> ">
                      <%= f.check_box :virtual_terminal, class: "for_select for_show", checked: @permission.try(:virtual_terminal), disabled: @permission.admin? || @permission.regular? || @permission.custom? || @permission.accounting_team? %>
                      Virtual Terminal
                      <span class="verify_checkbox <%= @permission.try(:virtual_terminal).present? ? "cbx-white" : "" %>"></span>
                    </label>
                    <span data-trigger1="focus"  data-skin="dark" data-toggle="m-popover" data-placement="right"  data-content="<span class='cutom_tootltip'>Allows user to create sales transactions using a virtual terminal.</span>" data-html="true">
                      <%= image_tag 'v2/merchant/icons/info_icon.svg', class:'ml-2'%>
                    </span>
                  </div>
                  <div class="form-group m-form__group mb-5">
                    <label class="m-checkbox m-checkbox--state-brand permissions_checkbox checkbox_check simple_checks <%= @permission.try(:funding_schedule).present? ? "checkbox_4c4c4c" : "grash_checkbox" %>">
                      <%= f.check_box :funding_schedule, class: " for_select for_show", checked: @permission.try(:funding_schedule), disabled: @permission.admin? || @permission.regular? || @permission.custom? || @permission.accounting_team? %>
                      Funding Schedule
                      <span class="verify_checkbox <%= @permission.try(:funding_schedule).present? ? "cbx-white" : "" %>"></span>
                    </label>
                    <span data-trigger1="focus"  data-skin="dark" data-toggle="m-popover" data-placement="right"  data-content="<span class='cutom_tootltip'>Allows user to access funding schedule for Hold in Arrear and Reserve funds.</span>" data-html="true">
                      <%= image_tag 'v2/merchant/icons/info_icon.svg', class:'ml-2'%>
                    </span>
                  </div>
                  <ul class="parent_check pl-0">
                    <li>
                      <div class="form-group m-form__group mb-0">
                        <label class="m-checkbox m-checkbox--state-brand permissions_checkbox <%= @permission.try(:exports).present? ? "checkbox_4c4c4c" : "grash_checkbox" %>">
                          <%= f.check_box :exports,class: "export_parent_check_box for_select for_show", checked: @permission.try(:exports), disabled: @permission.admin? || @permission.regular? || @permission.custom? || @permission.accounting_team? %>
                          Exports
                          <span class="<%= @permission.try(:exports).present? ? "cbx-white" : "" %>"></span>
                        </label>
                        <span data-trigger1="focus"  data-skin="dark" data-toggle="m-popover" data-placement="right"  data-content="<span class='cutom_tootltip'>Checking the appropriate box allows user to view, create and export reports for that area.</span>" data-html="true">
                          <%= image_tag 'v2/merchant/icons/info_icon.svg', class:'ml-2'%>
                        </span>
                      </div>
                      <ul class="nested">
                        <li>
                          <div class="form-group m-form__group pt-3">
                            <label class="m-checkbox m-checkbox--state-brand permissions_checkbox checkbox_check simple_checks <%= @permission.try(:export_account).present? ? "checkbox_4c4c4c" : "grash_checkbox" %>">
                              <%= f.check_box :export_account, data:{class:"export"}, class: "export_child_check_box child_box for_select for_show", checked: @permission.try(:export_account), disabled: @permission.admin? || @permission.regular? || @permission.custom? || @permission.accounting_team? %>
                              Accounts
                              <span class="<%= @permission.try(:export_account).present? ? "cbx-white" : "" %>"></span>
                            </label>
                          </div>
                        </li>
                        <li>
                          <div class="form-group m-form__group">
                            <label class="m-checkbox checkbox_check m-checkbox--state-brand permissions_checkbox simple_checks <%= @permission.try(:export_withdrawal).present? ? "checkbox_4c4c4c" : "grash_checkbox" %>">
                              <%= f.check_box :export_withdrawal, data:{class:"export"}, class: "export_child_check_box child_box for_select for_show", checked: @permission.try(:export_withdrawal), disabled: @permission.admin? || @permission.regular? || @permission.custom? || @permission.accounting_team? %>
                              Withdrawal
                              <span class="<%= @permission.try(:export_withdrawal).present? ? "cbx-white" : "" %>"></span>
                            </label>
                          </div>
                        </li>
                        <li>
                          <div class="form-group m-form__group">
                            <label class="m-checkbox checkbox_check m-checkbox--state-brand permissions_checkbox simple_checks <%= @permission.try(:export_chargeback).present? ? "checkbox_4c4c4c" : "grash_checkbox" %>">
                              <%= f.check_box :export_chargeback, data:{class:"export"}, class: "export_child_check_box child_box for_select for_show", checked: @permission.try(:export_chargeback), disabled: @permission.admin? || @permission.regular? || @permission.custom? || @permission.accounting_team? %>
                              Chargeback
                              <span class=""></span>
                            </label>
                          </div>
                        </li>
                        <li>
                          <div class="form-group m-form__group">
                            <label class="m-checkbox checkbox_check m-checkbox--state-brand permissions_checkbox simple_checks <%= @permission.try(:export_invoice).present? ? "checkbox_4c4c4c" : "grash_checkbox" %>">
                              <%= f.check_box :export_invoice, data:{class:"export"}, class: "export_child_check_box child_box for_select for_show", checked: @permission.try(:export_invoice), disabled: @permission.admin? || @permission.regular? || @permission.custom? || @permission.accounting_team? %>
                              Invoices
                              <span class="<%= @permission.try(:export_invoice).present? ? "cbx-white" : "" %>"></span>
                            </label>
                          </div>
                        </li>
                        <li>
                          <div class="form-group m-form__group">
                            <label class="m-checkbox checkbox_check m-checkbox--state-brand permissions_checkbox simple_checks mb-0 <%= @permission.try(:export_funding_schedule).present? ? "checkbox_4c4c4c" : "grash_checkbox" %>">
                              <%= f.check_box :export_funding_schedule, data:{class:"export"}, class: "export_child_check_box child_box for_select for_show", checked: @permission.try(:export_funding_schedule), disabled: @permission.admin? || @permission.regular? || @permission.custom? || @permission.accounting_team? %>
                              Funding Schedule
                              <span class="<%= @permission.try(:export_funding_schedule).present? ? "cbx-white" : "" %>"></span>
                            </label>
                          </div>
                        </li>
                        <li>
                          <div class="form-group m-form__group">
                            <label class="m-checkbox checkbox_check m-checkbox--state-brand  permissions_checkbox simple_checks mb-0 <%= @permission.try(:export_business_settings).present? ? "checkbox_4c4c4c" : "grash_checkbox" %>">
                              <%= f.check_box :export_business_settings, data:{class:"export"}, class: "export_child_check_box child_box for_select for_show", checked: @permission.try(:export_business_settings), disabled: @permission.admin? || @permission.regular? || @permission.custom? || @permission.accounting_team? %>
                              Business Settings
                              <span class="<%= @permission.try(:export_business_settings).present? ? "cbx-white" : "" %>"></span>
                            </label>
                          </div>
                        </li>
                      </ul>
                    </li>
                  </ul>
                  <ul class="parent_check pl-0 mt-5">
                    <li>
                      <div class="form-group m-form__group mb-0">
                        <label class="m-checkbox  m-checkbox--state-brand <%= @permission.try(:business_settings).present? ? "checkbox_4c4c4c" : "grash_checkbox" %> permissions_checkbox">
                          <%= f.check_box :business_settings, class: "bussines_setting_parent_check_box for_select for_show", checked: @permission.try(:business_settings), disabled: @permission.admin? || @permission.regular? || @permission.custom? || @permission.accounting_team? %>
                          Business Settings
                          <span class="<%= @permission.try(:business_settings).present? ? "cbx-white" : "" %>"></span>
                        </label>
                        <span data-trigger1="focus"  data-skin="dark" data-toggle="m-popover" data-placement="right"  data-content="<span class='cutom_tootltip'>Checking the appropriate box allows user access to the various business setting options.</span>" data-html="true">
                          <%= image_tag 'v2/merchant/icons/info_icon.svg', class:'ml-2'%>
                        </span>
                      </div>
                      <ul class="nested">
                        <li>
                          <div class="form-group m-form__group pt-3 mb-2">
                            <label class="m-checkbox m-checkbox--state-brand permissions_checkbox simple_checks_box simple_checks <%= @permission.try(:employee_list).present? ? "checkbox_4c4c4c" : "grash_checkbox" %>">
                              <%= f.check_box :employee_list, data:{id: "employe", class:"bussines_setting"}, class: "bussines_setting_child_check_box child_box employe_parent_box sub_parent for_select for_show", checked: @permission.try(:employee_list), disabled: @permission.admin? || @permission.regular? || @permission.custom? || @permission.accounting_team? %>
                              Employee List
                              <span class="<%= @permission.try(:employee_list).present? ? "cbx-white" : "" %>"></span>
                            </label>
                          </div>
                          <div class="l_shape_4"></div>
                          <ul class="sub_check_list">
                            <li>
                              <div class="m-checkbox-inline">
                                <label class="m-checkbox m-checkbox--state-brand simple_checks_box permissions_checkbox simple_checks <%= @permission.try(:user_view_only).present? ? "checkbox_4c4c4c" : "grash_checkbox" %>">
                                  <%= f.check_box :user_view_only, data:"bussines_setting", class:"bussines_setting_child_check_box child_box employe_child_box sub_child for_select for_show",checked: @permission.try(:user_view_only), disabled: @permission.admin? || @permission.regular? || @permission.custom? || @permission.accounting_team? %>
                                  View
                                  <span class="<%= @permission.try(:user_view_only).present? ? "cbx-white" : "" %>"></span>
                                </label>
                                <label class="m-checkbox m-checkbox--state-brand simple_checks_box permissions_checkbox simple_checks <%= @permission.try(:user_edit).present? ? "checkbox_4c4c4c" : "grash_checkbox" %>">
                                  <%= f.check_box :user_edit, data:{id: "employe",class:"bussines_setting"}, class:"bussines_setting_child_check_box child_box employe_child_box sub_child for_select for_show", checked: @permission.try(:user_edit), disabled: @permission.admin? || @permission.regular? || @permission.custom? || @permission.accounting_team? %>
                                  Edit
                                  <span class="<%= @permission.try(:user_edit).present? ? "cbx-white" : "" %>"></span>
                                </label>
                                <label class="m-checkbox m-checkbox--state-brand simple_checks_box permissions_checkbox simple_checks <%= @permission.try(:user_add).present? ? "checkbox_4c4c4c" : "grash_checkbox" %>">
                                  <%= f.check_box :user_add, data:{id: "employe",class:"bussines_setting"}, class:"bussines_setting_child_check_box child_box employe_child_box sub_child for_select for_show", checked: @permission.try(:user_add), disabled: @permission.admin? || @permission.regular? || @permission.custom? || @permission.accounting_team? %>
                                  Create New
                                  <span class="<%= @permission.try(:user_add).present? ? "cbx-white" : "" %>"></span>
                                </label>
                              </div>
                            </li>
                          </ul>
                        </li>
                        <li>
                          <div class="form-group m-form__group pt-3 mb-2">
                            <label class="m-checkbox m-checkbox--state-brand simple_checks_box permissions_checkbox simple_checks <%= @permission.try(:permission_list).present? ? "checkbox_4c4c4c" : "grash_checkbox" %>">
                              <%= f.check_box :permission_list, data:{id: "permission", class:"bussines_setting"}, class: "bussines_setting_child_check_box child_box permission_parent_box sub_parent for_select for_show", checked: @permission.try(:permission_list), disabled: @permission.admin? || @permission.regular? || @permission.custom? || @permission.accounting_team? %>
                              Permission List
                              <span class="<%= @permission.try(:permission_list).present? ? "cbx-white" : "" %>"></span>
                            </label>
                          </div>
                          <div class="l_shape_5"></div>
                          <ul class="sub_check_list">
                            <li>
                              <div class="m-checkbox-inline">
                                <label class="m-checkbox m-checkbox--state-brand simple_checks_box permissions_checkbox simple_checks <%= @permission.try(:permission_view_only).present? ? "checkbox_4c4c4c" : "grash_checkbox" %>">
                                  <%= f.check_box :permission_view_only, data:{id: "permission",class:"bussines_setting"}, class:"bussines_setting_child_check_box child_box permission_child_box sub_child for_select for_show", checked: @permission.try(:permission_view_only), disabled: @permission.admin? || @permission.regular? || @permission.custom? || @permission.accounting_team? %>
                                  View
                                  <span class="<%= @permission.try(:permission_view_only).present? ? "cbx-white" : "" %>"></span>
                                </label>
                                <label class="m-checkbox simple_checks_box m-checkbox--state-brand permissions_checkbox simple_checks <%= @permission.try(:permission_edit).present? ? "checkbox_4c4c4c" : "grash_checkbox" %>">
                                  <%= f.check_box :permission_edit, data:{id: "permission",class:"bussines_setting"}, class:"bussines_setting_child_check_box child_box permission_child_box sub_child for_select for_show", checked: @permission.try(:permission_edit), disabled: @permission.admin? || @permission.regular? || @permission.custom? || @permission.accounting_team? %>
                                  Edit
                                  <span class="<%= @permission.try(:permission_edit).present? ? "cbx-white" : "" %>"></span>
                                </label>
                                <label class="m-checkbox simple_checks_box m-checkbox--state-brand permissions_checkbox simple_checks <%= @permission.try(:permission_add).present? ? "checkbox_4c4c4c" : "grash_checkbox" %>">
                                  <%= f.check_box :permission_add, data:{id: "permission",class:"bussines_setting"}, class:"bussines_setting_child_check_box child_box permission_child_box sub_child for_select for_show", checked: @permission.try(:permission_add), disabled: @permission.admin? || @permission.regular? || @permission.custom? || @permission.accounting_team? %>
                                  Create New
                                  <span class="<%= @permission.try(:permission_add).present? ? "cbx-white" : "" %>"></span>
                                </label>
                              </div>
                            </li>
                          </ul>
                        </li>
                        <li>
                          <div class="form-group m-form__group mt-3">
                            <label class="m-checkbox simple_checks_box m-checkbox--state-brand permissions_checkbox simple_checks <%= @permission.try(:api_key).present? ? "checkbox_4c4c4c" : "grash_checkbox" %>">
                              <%= f.check_box :api_key,data:{class:"bussines_setting"}, class:"bussines_setting_child_check_box child_box for_select for_show",checked: @permission.try(:api_key), disabled: @permission.admin? || @permission.regular? || @permission.custom? || @permission.accounting_team? %>
                              API Keys
                              <span class="<%= @permission.try(:api_key).present? ? "cbx-white" : "" %>"></span>
                            </label>
                          </div>
                        </li>
                        <li>
                          <div class="form-group m-form__group mt-3">
                            <label class="m-checkbox simple_checks_box m-checkbox--state-brand permissions_checkbox simple_checks <%= @permission.try(:plugin).present? ? "checkbox_4c4c4c" : "grash_checkbox" %>">
                              <%= f.check_box :plugin, data:{class: "bussines_setting"}, class:"bussines_setting_child_check_box child_box for_select for_show", checked: @permission.try(:plugin), disabled: @permission.admin? || @permission.regular? || @permission.custom? || @permission.accounting_team? %>
                              Plugins
                              <span class="<%= @permission.try(:plugin).present? ? "cbx-white" : "" %>"></span>
                            </label>
                          </div>
                        </li>
                        <li>
                          <div class="form-group m-form__group mt-3">
                            <label class="m-checkbox simple_checks_box m-checkbox--state-brand permissions_checkbox simple_checks mb-0 <%= @permission.try(:fee_structure).present? ? "checkbox_4c4c4c" : "grash_checkbox" %>">
                              <%= f.check_box :fee_structure, data:{class: "bussines_setting"}, class:"bussines_setting_child_check_box child_box for_select for_show", checked: @permission.try(:fee_structure), disabled: @permission.admin? || @permission.regular? || @permission.custom? || @permission.accounting_team? %>
                              Fee Structure
                              <span class="<%= @permission.try(:fee_structure).present? ? "cbx-white" : "" %>"></span>
                            </label>
                          </div>
                        </li>
                      </ul>
                    </li>
                  </ul>
                  <ul class="parent_check pl-0 mt-5">
                    <li>
                      <div class="form-group m-form__group mb-0">
                        <label class="m-checkbox m-checkbox--state-brand permissions_checkbox <%= @permission.try(:risk_analysis).present? ? "checkbox_4c4c4c" : "grash_checkbox" %>">
                          <%= f.check_box :risk_analysis, class:"risk_analysis_parent_check_box for_select for_show", checked: @permission.try(:risk_analysis), disabled: @permission.admin? || @permission.regular? || @permission.custom? || @permission.accounting_team? %>
                          Risk Analysis
                          <span class="<%= @permission.try(:risk_analysis).present? ? "cbx-white" : "" %>"></span>
                        </label>
                        <span data-trigger1="focus"  data-skin="dark" data-toggle="m-popover" data-placement="right"  data-content="<span class='cutom_tootltip'>Checking the appropriate box allows user to approve and (or) refund sales transactions that require Manual Review.</span>" data-html="true">
                          <%= image_tag 'v2/merchant/icons/info_icon.svg', class:'ml-2'%>
                        </span>
                      </div>
                      <ul class="nested">
                        <li>
                          <div class="form-group m-form__group pt-3">
                            <label class="m-checkbox simple_checks_box m-checkbox--state-brand permissions_checkbox simple_checks <%= @permission.try(:approve_mr_transaction).present? ? "checkbox_4c4c4c" : "grash_checkbox" %>">
                              <%= f.check_box :approve_mr_transaction, data:{class: "risk_analysis"}, class:"risk_analysis_child_check_box child_box for_select for_show", checked: @permission.try(:approve_mr_transaction), disabled: @permission.admin? || @permission.regular? || @permission.custom? || @permission.accounting_team? %>
                              Approve MR Transactions
                              <span class="<%= @permission.try(:approve_mr_transaction).present? ? "cbx-white" : "" %>"></span>
                            </label>
                          </div>
                        </li>
                        <li>
                          <div class="form-group m-form__group">
                            <label class="m-checkbox simple_checks_box m-checkbox--state-brand permissions_checkbox simple_checks mb-0 <%= @permission.try(:refund_mr_transaction).present? ? "checkbox_4c4c4c" : "grash_checkbox" %>">
                              <%= f.check_box :refund_mr_transaction, data:{class:"risk_analysis"}, class:"risk_analysis_child_check_box child_box for_select for_show",  checked: @permission.try(:refund_mr_transaction), disabled: @permission.admin? || @permission.regular? || @permission.custom? || @permission.accounting_team? %>
                              Refund MR Transactions
                              <span class="<%= @permission.try(:refund_mr_transaction).present? ? "cbx-white" : "" %>"></span>
                            </label>
                          </div>
                        </li>
                      </ul>
                    </li>
                  </ul>
                  <div class="form-group m-form__group mt-3">
                    <label class="m-checkbox m-checkbox--state-brand permissions_checkbox checkbox_check simple_checks <%= @permission.try(:help).present? ? "checkbox_4c4c4c" : "grash_checkbox" %>">
                      <%= f.check_box :help, class: " for_select for_show", checked: @permission.try(:help), disabled: @permission.admin? || @permission.regular? || @permission.custom? || @permission.accounting_team? %>
                      Get Help
                      <span class="verify_checkbox <%= @permission.try(:help).present? ? "cbx-white" : "" %>"></span>
                    </label>
                    <span data-trigger1="focus"  data-skin="dark" data-toggle="m-popover" data-placement="right"  data-content="<span class='cutom_tootltip'>Allows user to access support options that are available for Get Help.</span>" data-html="true">
                      <%= image_tag 'v2/merchant/icons/info_icon.svg', class:'ml-2'%>
                    </span>
                  </div>
                </div>
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                  <a href="<%= v2_merchant_permission_index_path %>" class="btn btn_back_permission">
                    Back to Permission List
                  </a>
                </div>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>