<div class="billing_information_box">
<div class="text-left">
  <p class="simple-20-bold-text-dark">Billing Information</p>
  <hr class="b_hr">
    <%= form_for @billing_address,url: "#", method: :post,html:{id: :billing_form} do |f| %>
    <input autocomplete="off" type="hidden" name="token" id="token" value="<%= params[:token] %>">
    <input autocomplete="off" type="hidden" name="billing[id]" id="billing_id" value="<%= @billing_address.id %>">
    <div class="row">
      <div class="col-lg-6 col-md-6">
        <div class="form-group m-form__group">
          <label class="simple-16-bold-7070770" for="invoices">
            Customer Name
          </label>
          <%= f.text_field :name,class:"form-control b-input m-input",value: @billing_address.name,placeholder: "Jonathan Smithy" %>
<!--          <input type="text" class="form-control b-input m-input"  aria-describedby="emailHelp" placeholder="Jonathan Smithy" value="<%#= @billing_address.name %>">-->
        </div>
      </div>
      <div class="col-lg-6 col-md-6">
        <div class="form-group m-form__group">
          <label class="simple-16-bold-7070770" for="invoices">
            Email
          </label>
          <%= f.text_field :email,class:"form-control b-input m-input",value: @billing_address.email,placeholder: "jonathansmithy@mail.com" %>

<!--          <input type="text" class="form-control b-input m-input"  aria-describedby="emailHelp" placeholder="jonathansmithy@mail.com" value="<%#= @billing_address.email %>">-->
        </div>
      </div>
    </div>
    <div class="mt-25">
      <div class="row">
        <div class="col-lg-4 col-md-4">
          <div class="form-group m-form__group">
            <label class="simple-16-bold-7070770" for="invoices">
              Phone
            </label>
            <input type="text" class="form-control b-input m-input" id="phone_number" name="phone_number" value="+<%= @billing_address.phone_number %>" aria-describedby="emailHelp" autocomplete="new-password" placeholder="18552011613" required>
            <input type="hidden" name="phone_code" id="phone_code">
          </div>
        </div>
        <div class="col-lg-4 col-md-4">
          <div class="form-group m-form__group">
            <label class="simple-16-bold-7070770" for="invoices">
              Address
            </label>
            <%= f.text_field :street,class:"form-control b-input m-input",value: @billing_address.street,placeholder: "Nowhere St" %>
<!--            <input type="text" class="form-control b-input m-input"  aria-describedby="emailHelp" placeholder="Nowhere St." value="<%#= @billing_address.street %>">-->
          </div>
        </div>
        <div class="col-lg-4 col-md-4">
          <div class="form-group m-form__group">
            <label class="simple-16-bold-7070770" for="invoices">
              Ste./Apt.#
            </label>
            <%= f.text_field :suit,class:"form-control b-input m-input",value: @billing_address.suit,placeholder: "1234" %>
<!--            <input type="text" class="form-control b-input m-input"  aria-describedby="emailHelp" placeholder="1234" value="<%#= @billing_address.suit %>">-->
          </div>
        </div>
      </div>
    </div>
    <div class="mt-25">
      <div class="row">
        <div class="col-lg-3 col-md-3">
          <div class="form-group m-form__group">
            <label class="simple-16-bold-7070770" for="invoices">
              City
            </label>
            <%= f.text_field :city,class:"form-control b-input m-input",value: @billing_address.city,placeholder: "San Diego" %>
<!--            <input type="text" class="form-control b-input m-input"  aria-describedby="emailHelp" placeholder="San Diego" value="<%#= @billing_address.city %>">-->
          </div>
        </div>
        <div class="col-lg-3 col-md-3">
          <div class="form-group m-form__group">
            <label class="simple-16-bold-7070770" for="invoices">
              State
            </label>
            <%= select_tag "billing[state]", options_for_select( @billing_states.present? ? @billing_states.map{|k,v| [v,k] } : {}, @billing_address.try(:state)), {:class => 'form-control m-fee-dropdown m-time-bootstrap-select m-bootstrap-select m-bootstrap-select--pill  m_selectpicker reason-dd-1 ', id:"billing_state"} %>
            <!--            <input type="text" class="form-control b-input m-input"  aria-describedby="emailHelp" placeholder="California" value="<%#= @billing_address.state %>">-->
          </div>
        </div>
        <div class="col-lg-3 col-md-3">
          <div class="form-group m-form__group">
            <label class="simple-16-bold-7070770" for="invoices">
              Zip Code
            </label>
            <%= f.text_field :zip,class:"form-control b-input m-input",value: @billing_address.zip,placeholder: "12345" %>
<!--            <input type="text" class="form-control b-input m-input"  aria-describedby="emailHelp" placeholder="12345" value="<%#= @billing_address.zip %>">-->
          </div>
        </div>
        <div class="col-lg-3 col-md-3">
          <div class="form-group m-form__group">
            <label class="simple-16-bold-7070770" for="invoices">
              Country
            </label>
            <%= country_select("country", {}, { include_blank: 'Select a country', selected: @billing_address.try(:country),priority_countries: ["US"] }, {name: 'billing[country]', id: 'b_country', class: 'form-control m-fee-dropdown m-time-bootstrap-select m-bootstrap-select m-bootstrap-select--pill  m_selectpicker reason-dd-1', required: true })%>
            <!--            <input type="text" class="form-control b-input m-input"  aria-escribedby="emailHelp" placeholder="USA" value="<%#= @billing_address.country %>">-->
          </div>
        </div>
      </div>
    </div>
    <div class="pull-right">
<!--      <a href="#" class="btn btn-default data-wizard-next-button" data-wizard-action="next">-->
<!--        Next-->
<!--      </a>-->
      <a href="#" class="btn btn-default data-wizard-next-button <%= params["action"] == "invoice_rtp_checkout" ? "last_step" : "" %>" data-wizard-action="next">
        Next
      </a>
    </div>
<% end %>
</div>
</div>