<div class="billing_information_box">
  <div class="text-left">
    <p class="simple-20-bold-text-dark">Card Information</p>
    <hr class="b_hr">
    <%= form_for @card , method: :post, remote: true, url: payment_transactions_path  do |f| %>
      <input autocomplete="off" type="hidden" name="token" value="<%=params[:token] %>">
      <input autocomplete="off" type="hidden" name="billing_address" id="billing_params">
      <input autocomplete="off" type="hidden" name="shipping_address" id="shipping_params">

      <div class="mt-25">
        <div class="row">
          <div class="col-lg-6 col-md-6">
            <div class="form-group m-form__group">
              <label class="simple-16-bold-7070770" for="Card_number" class="label_checkout">
                Card Number
              </label>
              <input autocomplete="cc-number" name="card_no" id="cardNo" class="form-control card_no revoke-paste" minlength="16" type="tel" maxlength="19">
              <input type="hidden" name="cardNoSafe" id="cardNoSafe" value="">
            </div>
            <div class="form-group m-form__group">
              <label class="simple-16-bold-7070770" for="Card_number">
                Name on Card
              </label>
              <%= f.text_field :name,class:"form-control m-input",id: 'card_name' ,maxlength: 20 %>
            </div>
            <div class="row">
              <div class="col-lg-6">
                <div class="form-group m-form__group">
                  <label class="simple-16-bold-7070770" for="valid_thru">Expiry Date</label>
                  <%= f.text_field :exp_date,class:"form-control  m-input",id: 'card_exp',type: 'tel' , minlength: 5, maxlength: 5,:size => nil, autocomplete:"cc-exp" %>
                </div>
              </div>
              <div class="col-lg-6">
                <div class="form-group m-form__group">
                  <label class="simple-16-bold-7070770" for="invoices">
                    CVV
                    <%= image_tag "v2/merchant/icons/CVV_icon.svg", class:"cvv-icon-img" %>
                    <span class="pull-right cvv-icon" data-container="body" data-placement="top" title="" data-img="" data-original-title="">
                      <img class=" ml-2" src="/assets/v2/merchant/icons/info_icon-405ea7f321b8e6493f84d5b95ac7e8ff1dca71e3de7872e581ba188ccf6240ee.svg">
                    </span>
                  </label>
                  <%= f.password_field :cvv,class:"form-control b-input m-input",id: 'card_cvv' ,placeholder: "", minlength: 3, maxlength: 4 ,:size => nil %>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-6 col-md-6">
            <div class="card_box_1">
              <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                  <img class="logo-chip mt-4 ml-3" src="/assets/v2/merchant/icons/card_chip-a295fd3bdcf6c374ffa9270cd599668a444aa6777fd2bd0e0e581ae53f68f95c.svg">
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                  <img class="logo-card mt-4 pull-right mr-3" src="/assets/v2/merchant/icons/master_card_without_line-a129fba7ea57851dd3c4dba7b7224eda7efcb7476200667b639111f9d987ad63.png">
                </div>
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                  <input id="cardNo1" value="•••• •••• •••• 7894" class="dots cardSecretNumber ml-3 mt-4" tabindex="2" readonly="">
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 mt-5">
                  <p id="CardName" class="user-name credit-user-name ml-3 mt-4">John Doe</p>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 mt-4 top-margin-8">
                  <div id="cardExp" class="date-exp cardExp1 pull-right mr-3 mt-4">
                    06/07
                  </div>
                  <div class="VALID-THRU pull-right mt-4 mr-3">
                    EXPIRY<br>Date
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="pull-left">
        <a href="#" class="btn btn-default data-wizard-back-button" data-wizard-action="next" id="data-wizard-card-button">
          Back
        </a>
      </div>
    <% end %>
  </div>
</div>