<div class="checkout_box_loader img--hide">
  <center>
    <div class="row">
      <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <%= image_tag 'v2/merchant/checkout/logoQC', class:'loader_qc_logo'%>
        <div class="account-transfer-success">
          <div class="text_checkout_loader">
            <div id="text_first" class="">Securing Transaction</div>
            <div id="text_second" class="img--hide">Finalizing Transaction…</div>
            <div id="text_third" class="img--hide">Transaction Successful!</div>
            <div id="text_four" class="img--hide">Your transaction was declined.</div>
          </div>
          <div class="progress1 working" >
            <%= image_tag "v2/merchant/checkout/locked.svg", class:"loader-image locked_image" , id:'locked'%>
            <%= image_tag "v2/merchant/checkout/unlocked.svg", class:"loader-image img--hide", id:'unlocked'%>
            <%= image_tag "v2/merchant/checkout/succes_trans.svg", class:"loader-image img--hide", id:'success'%>
            <svg class="progress-circle" width="230px" height="230px" xmlns="http://www.w3.org/2000/svg">

              <circle class="progress-circle-back" stroke-linecap="round" cx="114" cy="114" r="114"></circle>
              <circle class="progress-circle-prog p2c" cx="115" cy="115" r="112.5" stroke-linecap="round" style="stroke-dasharray: 465, 999;"></circle>
            </svg>

          </div>
          <div class="success--image">
            <p class="note_text_checkout mt-3">
              Please note that your order payment using <span id="card_brand_3ds">[Card Brand]</span> ending in<br><span id="last_4_3ds">[****Last 4]</span> will appear on your card statement as:
            </p>
            <p class="desperate_name">
              <span id="descriptor_3ds">[Descriptor Name]</span>
            </p>
            <div class="hand-circle text--center">
              <%= image_tag "v2/merchant/checkout/succes_trans.svg", class:"last_success_img"%>
            </div>
            <div class="row mt-3 mb-4">
              <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12 text--center">
                <div class="mt-4 text--center">
                  <%= link_to "Continue Shopping", @success_url,class: "btn btn_shopping_back text-height" %>
<!--                  <a href="<%#= @merchant_website_url %>" class="btn btn_shopping_back">Continue Shopping</a>-->
                </div>
              </div>
            </div>
            <div class="website_text img--hide">
              You will be redirected to merchant website <div id="countdown"></div>
              <!--          You will be redirected to merchant website in 10 seconds!-->
            </div>
          </div>
          <%= render partial: "error_portion" %>
        </div>
        <div class="footer_checkout_loader new_class_ui">
          <%= image_tag 'v2/merchant/checkout/power_by_checkout_new.svg', class: 'powered_by_greenbox' %>
        </div>
      </div>
    </div>
  </center>
</div>