<div class="error--image">
  <!--              <p class="transaction_declined mt-3">-->
  <!--                Your transaction was declined.-->
  <!--              </p>-->
  <p class="desperate_name" id="error_message">
    Please contact your card holder.
  </p>
  <div class="text--center">
    <%= image_tag "v2/merchant/checkout/error_message.svg", class:""%>
  </div>
  <div class="row mt-3 mb-4">
    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12 text--center">
      <div class="mt-4 text--center">
        <input type="hidden" id="merchant_website" value="<%= @merchant_website_url %>">
        <%= link_to "Back to Checkout", @success_url_fail,class: "btn btn_shopping_back" %>
<!--        <a href="#" class="btn btn_shopping_back">Back to Checkout</a>-->
      </div>
    </div>
  </div>
  <div class="website_text img--hide">
    You will be redirected to merchant website <div id="countdown"></div>
    <!--          You will be redirected to merchant website in 10 seconds!-->
  </div>
</div>