<div class="billing_information_box">
  <div class="text-left">
    <p class="simple-20-bold-text-dark">Shipping Information</p>
    <hr class="b_hr">
    <%= form_for @shipping_address,url: "#", method: :post,html:{id: :shipping_form} do |f| %>

      <input autocomplete="off" type="hidden" name="shipping[id]" id="shipping_id" value="<%= @shipping_address.id %>">
  <!--      <div class="form-group m-form__group pb-0 pl-2">-->
<!--        <label class="m-checkbox m-checkbox--state-brand simple-16-bold-text-4a4a4a virtual_terminal_cb select_all_permissions_cb">-->
<!--          <input type="checkbox"  class="select_all_permissions">-->
<!--          Same as billing address-->
<!--          <span class="verify_checkbox"></span>-->
<!--        </label>-->
<!--      </div>-->
      <div class="mt-25">
        <div class="row">
          <div class="col-lg-6 col-md-6">
            <div class="form-group m-form__group">
              <label class="simple-16-bold-7070770" for="invoices">
                Address
              </label>
              <%= f.text_field :street,class:"form-control b-input m-input",value: @shipping_address.street,placeholder: "Nowhere St.",id: "shipping_street" %>

<!--              <input type="text" class="form-control b-input m-input"  aria-describedby="emailHelp" placeholder="Nowhere St." value="<%#= @shipping_address.street %>">-->
            </div>
          </div>
          <div class="col-lg-3 col-md-3">
            <div class="form-group m-form__group">
              <label class="simple-16-bold-7070770" for="invoices">
                Ste./Apt.#
              </label>
              <%= f.text_field :suit,class:"form-control b-input m-input",value: @shipping_address.suit,placeholder: "1234",id: "shipping_suit" %>
<!--              <input type="text" class="form-control b-input m-input"  aria-describedby="emailHelp" placeholder="1234" value="<%#= @shipping_address.suit %>">-->
            </div>
          </div>
          <div class="col-lg-3 col-md-3">
            <div class="form-group m-form__group">
              <label class="simple-16-bold-7070770" for="invoices">
                City
              </label>
              <%= f.text_field :city,class:"form-control b-input m-input",value: @shipping_address.city,placeholder: "San Diego",id: "shipping_city" %>
<!--              <input type="text" class="form-control b-input m-input"  aria-describedby="emailHelp" placeholder="San Diego" value="<%#= @shipping_address.city %>">-->
            </div>
          </div>
        </div>
      </div>
      <div class="mt-25">
        <div class="row">
          <div class="col-lg-3 col-md-3">
            <div class="form-group m-form__group">
              <label class="simple-16-bold-7070770" for="invoices">
                State
              </label>
              <%= select_tag "shipping[state]", options_for_select( @shipping_states.present? ? @shipping_states.map{|k,v| [v,k] } : {}, @shipping_address.try(:state)), {:class => 'form-control m-fee-dropdown m-time-bootstrap-select m-bootstrap-select m-bootstrap-select--pill  m_selectpicker reason-dd-1 ', id:"shipping_state"} %>
<!--              <input type="text" class="form-control b-input m-input"  aria-describedby="emailHelp" placeholder="California" value="<%#= @shipping_address.state %>">-->
            </div>
          </div>
          <div class="col-lg-3 col-md-3">
            <div class="form-group m-form__group">
              <label class="simple-16-bold-7070770" for="invoices">
                Zip Code
              </label>
              <%= f.text_field :zip,class:"form-control b-input m-input",value: @shipping_address.zip,placeholder: "12345",id: "shipping_zip" %>
<!--              <input type="text" class="form-control b-input m-input"  aria-describedby="emailHelp" placeholder="12345" value="<%#= @shipping_address.zip %>">-->
            </div>
          </div>
          <div class="col-lg-3 col-md-3">
            <div class="form-group m-form__group">
              <label class="simple-16-bold-7070770" for="invoices">
                Country
              </label>
              <%= country_select("country", {}, { include_blank: 'Select a country', selected: @shipping_address.try(:country),priority_countries: ["US"] }, {name: 'shipping[country]', id: 's_country', class: 'form-control m-fee-dropdown m-time-bootstrap-select m-bootstrap-select m-bootstrap-select--pill  m_selectpicker reason-dd-1 ', required: true })%>
<!--              <input type="text" class="form-control b-input m-input"  aria-describedby="emailHelp" placeholder="USA" value="<%#= @shipping_address.country %>">-->
            </div>
          </div>
        </div>
      </div>
      <div class="pull-left">
        <a href="#" class="btn btn-default data-wizard-back-button" data-wizard-action="next" id="data-wizard-back-button">
          Back
        </a>
      </div>
      <% if params["action"] != "invoice_rtp_checkout" %>
        <div class="pull-right">
          <a href="#" class="btn btn-default data-shipping-wizard-next-button" data-wizard-action="next">
            Next
          </a>
        </div>
      <% end %>
    <% end %>
  </div>
</div>