
<!-- Term of Services Modal-->
<div class="modal fade tos-modal-as" id="m_modal_1" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="pull-right btn-close-modal">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">
          &times;
        </span>
        </button>
      </div>
      <div class="modal-term-service">
        <div class="row">
          <div class="col-lg-12 col-md-12 col-sm-12">
            <div class="heading_term">
              <div class="term_of_service pull-left">
                Terms of Service
              </div>
            </div>
          </div>
          <div class="col-lg-12 col-md-12 col-sm-12">
            <hr class="welcome_hr">
          </div>
          <div class="col-lg-12 col-md-12 col-sm-12">
            <div class="para_term">
                            <span class="font14">Effective Date: <%= "August 24, 2020" %></span>
                            <br>
              <p class="third text-center">Services Agreement</p>
              <!--            <h6 class="p_msg_css">Please review and agree to this revised TOS agreement by scrolling to the bottom of this document. Check the agreement box and submit to gain access to your portal.</h6>-->
              <p>
                This QuickCard Payment Services Agreement, and the agreements, policies, and documents incorporated herein, (this “Agreement”), is entered into by and between QuickCard– (“QuickCard,” “we,” or “our”) and the entity or individual who enters into this Agreement (“Merchant” or “you”). This Agreement sets out the terms and conditions under which you may utilize the QuickCard Payment Services.
              </p>
              <p>
                This Agreement becomes a legally binding contract and is effective as of the earliest date you do any of the following (the “Effective Date”):
              </p>
              <p>
                Create an account on the QuickCard website; Accept this Agreement online; or Begin using the QuickCard Payment Services. You agree to be bound by the terms of your applicable Bank Agreement(s), which are incorporated herein by this reference.
              </p>
              <p><b>PLEASE BE ADVISED THAT THIS AGREEMENT CONTAINS PROVISIONS, INCLUDING AN AGREEMENT TO
                ARBITRATE, THAT GOVERN HOW CLAIMS YOU AND QUICKCARD HAVE AGAINST EACH OTHER ARE
                RESOLVED, WHICH WILL, WITH LIMITED EXCEPTION, REQUIRE THE PARTIES TO SUBMIT CLAIMS THEY
                MAY HAVE AGAINST ONE ANOTHER TO BINDING AND FINAL ARBITRATION. UNDER THE AGREEMENT
                TO ARBITRATE, THE PARTIES WILL (1) ONLY BE PERMITTED TO PURSUE CLAIMS AGAINST EACH OTHER
                ON AN INDIVIDUAL BASIS, NOT AS A PLAINTIFF OR CLASS MEMBER IN ANY CLASS OR REPRESENTATIVE ACTION OR PROCEEDING AND (2) ONLY BE PERMITTED TO SEEK RELIEF (INCLUDING MONETARY, INJUNCTIVE, AND DECLARATORY RELIEF) ON AN INDIVIDUAL BASIS. </b></p>
              <p class="third text-center">Agreement</p>
              <p class="third">Section 1 — QuickCard Payment Services </p>
              <p>
                1.01 “QuickCard Payment Service(s)” means the Payment Processing Services or Gateway Services defined as follows:
              </p>
              <p>
                (a) “Payment Processing Services” means the payment processing services offered by QuickCard which provide merchants with the ability to accept credit cards, debit cards, and other payment methods on a website or mobile application. These services include Gateway Services, a bank-sponsored merchant account, recurring billing functionality, payment card storage, foreign currency acceptance, customer support, other software, APIs and services and technology as described on the QuickCard website.
              </p>
              <p>
                (b) “Gateway Services” means the gateway services offered by QuickCard which provide Merchants with the software and connectivity required to allow real-time secure data transmission for processing of credit and debit card payments on a website or mobile application. The Gateway Services include those additional products and services provided by QuickCard, including but not limited to ACH Services, Check processing, and credit/debit processing Services (“QuickCard Products and Services”). In addition, the Gateway Services include certain payment technology services provided by third parties that are used to facilitate your processing of credit and debit card payments (“Payment Technology Services”). You acknowledge and agree that the Payment Technology Services are provided solely by the relevant third party (and not QuickCard) as set forth in the applicable Payment Technology Services terms (Available at Visa:
                <a href="https://usa.visa.com/dam/VCOM/download/about-visa/visa-rules-public.pdf">https://usa.visa.com/dam/VCOM/download/about-visa/visa-rules-public.pdf;</a>
                MasterCard: <a href="https://www.mastercard.us/en-us/about-mastercard/what-we-do/rules.html">https://www.mastercard.us/en-us/about-mastercard/what-we-do/rules.html;</a>
                American Express: <a href="https://icm.aexp-static.com/Internet/NGMS/US_en/Images/MerchantPolicyOptBlue.pdf">https://icm.aexp-static.com/Internet/NGMS/US_en/Images/MerchantPolicyOptBlue.pdf</a> ),
                and that QuickCard will under no circumstances be responsible or liable for any damages, losses or costs whatsoever suffered or incurred by you resulting from any Payment Technology Services.
              </p>
              <p>You acknowledge that QuickCard uses digital wallet accounts for its Gateway Services. You acknowledge and consent to the use of the digital wallet to deposit, transact, and receive funds and agree to disclose same to any of your customers that transact on using QuickCard Payment Systems. You appoint QuickCard as your limited payment collection agent for the sole purpose of accepting payment on your behalf from your customers for goods or services purchased from you using the Payment Processing Services and, depending on the region, applicable taxes and fees.  You agree that payment by any of your customers to QuickCard constitutes payment made directly to you and fully satisfies the customer’s obligation to you for that payment, and you must fulfill your obligations to the customer as if you had received the payment directly from the user. </p>
              <p class="third">Section 2 — Fees and Taxes</p>
              <p class="third">2.1 Fees</p>
              <p>
                In exchange for us providing you with the QuickCard Payment Services, you agree to pay us the fees, including applicable transaction, multi-currency and chargeback fees, as listed in the fee schedule, set forth in your Merchant application, and incorporated herein by this reference. We reserve the right to revise our fees at any time, subject to a thirty (30) day notice period to you prior to the new fees taking effect. Interest shall accrue at the lower rate of 1.5% per month, or the maximum amount permitted by law, on all overdue amounts. In the event that you have a good faith dispute as to the amounts due, you agree to pay the undisputed amounts. Interest shall not accrue on any disputed amounts so long as you pay such amounts within thirty (30) calendar days after resolution of the dispute.
              </p>
              <p class="third">2.2 Payment of Fees, Payouts, and Right to Set-off </p>
              <p>
                Subject to the terms of this Agreement, QuickCard will send to your Bank Account all amounts due to you from your Transactions, minus any fees, reversals, invalidated Payments, chargebacks, refunds or other amounts that you owe to QuickCard under this Agreement. If the Payout is not sufficient to cover the amounts due, you agree that we may debit your Bank Account for the applicable amounts, and/or set-off the applicable amounts against future Payouts. Upon QuickCard’s request, you agree to provide QuickCard with all necessary bank account routing and related information and grant QuickCard permission to debit amounts due from your Bank Account.
                Payout may be delayed at QuickCard’s sole discretion or as set forth in your Merchant Services Application.
              </p>
              <p class="third">2.3 Taxes</p>
              <p>
                Merchant shall pay, indemnify, and hold QuickCard harmless from (i) any sales, use, excise, import or export, value-added, or similar tax or duty, and any other tax or duty not based on QuickCard’s income, and (ii) all government permit fees, customs fees and similar fees which QuickCard may incur with respect to this Agreement. Such taxes, fees and duties paid by Merchant shall not be considered a part of, a deduction from, or an offset against, payments due to QuickCard hereunder.
              </p>
              <p class="third">Section 3 —Restricted Activities, Representations and Warranties, American Express Card Acceptance</p>
              <p>You agree that you will not:</p>
              <p>
                (a) Breach this Agreement, your Bank Agreement, or any other agreement that you have entered into with us in connection with the QuickCard Payment Services;
              </p>
              <p>
                (b) Violate any federal, state, or local laws, rules, or regulations applicable to your business;
              </p>
              <p>
                (c) Violate any rule, guideline, or bylaw of any of the Associations (the “Association Rules”), as they may
                be amended by the Associations from time to time. Some of the Association Rules are available for Visa,
                Mastercard, American Express, and Discover.
              </p>
              <p>
                (d) Fail to provide us with any information that we reasonably request about you or your business
                activities, or provide us with false, inaccurate or misleading information;
              </p>
              <p>(e) Refuse to cooperate in a legal investigation or audit that may be required by the Associations;</p>
              <p>(f) Integrate or use any of the QuickCard Payment Services without complying with our requirements;</p>
              <p>
                (g) Utilize recurring billing functionality without properly obtaining your customers’ consent to be billed
                in such a manner;
              </p>
              <p>
                (h) Submit any Transaction for processing through the QuickCard Payment Services which does not
                represent a bona fide, permissible Transaction as outlined in this Agreement and in the Association
                Rules, or which inaccurately describes the product or services being sold or the charitable donations
                being made;
              </p>
              <p>
                (i) Process Transactions or receive payments on behalf of any other party, or redirect payments to any
                other party;
              </p>
              <p>
                (j) Display with unequal size or prominence, show preference for, or discriminate against one card brand
                or type over another, including your ru policies for purchases; and
              </p>
              <p>
                (k) Bill or collect from any cardholder for any purchase or payment on the card unless you have the right
                to do so under the Association Rules.
              </p>
              <p class="third"> 3.2 Representations and Warranties by Merchant</p>
              <p>
                Merchant has the full power and authority to execute, deliver and perform this Agreement. This
                Agreement is binding and enforceable against Merchant and no provision requiring Merchant’s
                performance is in conflict with its obligations under any agreement to which Merchant is a party.
                Merchant is duly organized, authorized and in good standing under the laws of the state, region or
                country of its organization and is duly authorized to do business in all other states, regions or countries
                in which Merchant’s business operates.
              </p>
              <p class="third">3.3 Additional Terms for American Express Card Acceptance</p>
              <p>
                a. American Express may use the information obtained in your application at the time of setup to
                screen and/or monitor you in connection with card marketing and administrative purposes.
              </p>
              <p>
                b. You may be converted from this Agreement to a direct card acceptance agreement with American Express if you reach certain monthly sales volumes. Upon conversion, (i) you will be bound by American Express' then-current Card Acceptance Agreement; and (ii) American Express will set your pricing and other fees for American Express Card acceptance.
              </p>
              <p>
                c. By accepting these terms, you agree to receive commercial marketing communications from
                American Express. You may opt out by notifying QuickCard via email at contact@QuickCard.com. If
                you opt out of commercial marketing communications, you will still receive important transactional or
                relationship messages from American Express.
              </p>
              <p>
                d. American Express shall be a third-party beneficiary of this Agreement for purposes of American
                Express Card acceptance. As a third-party beneficiary, American Express shall have the right to enforce
                directly against you the terms of this Agreement as related to American Express Card acceptance. You
                acknowledge and agree that American Express shall have no responsibility of liability with regard to
                QuickCard’s obligations to you under this Agreement.
              </p>
              <p>
                e. American Express may conduct an audit of you at any time, for the purpose of determining
                compliance with the American Express Association Rules.
              </p>
              <p>
                f. You authorize QuickCard to submit transactions to, and receive settlement from, American Express, and to disclose transaction and merchant information to American Express to perform analytics and create reports, and for any other lawful business purposes, including commercial marketing communications purposes and important transactional or relationship communications.
              </p>
              <p>g. Merchant may terminate its acceptance of American Express at any time upon notice.</p>
              <p class="third">Section 4 — Liability for Invalidated Payments and other Liabilities</p>
              <p>You are liable for all claims, expenses, fines and liability we incur arising out of:</p>
              <p>
                (a) A Chargeback, Refund, over-payment, payment error, or other invalid payment you cause (collectively “Invalidated Payment”);
              </p>
              <p>
                (b) Any error, negligence, misconduct or fraud by you, your employees, or someone acting on your
                behalf; and
              </p>
              <p>
                (c) Any losses resulting from your failure to comply with the terms of this Agreement, or your usage of the QuickCard Payment Services. In the event of an Invalidated Payment or other liability, we may deduct the amounts due to QuickCard from your Payouts.
              </p>
              <p class="third">Section 5 — Actions We May Take</p>
              <p class="third">5.1 Credit Report Authorization and Verification of Information</p>
              <p>
                You authorize QuickCard, directly or through third parties, to make any inquiries or take any actions we
                consider necessary to validate your identity, evaluate your creditworthiness, and verify information that
                you have provided to us. You authorize QuickCard to obtain financial and credit information, such as
                pulling your personal credit report, or the credit report for your directors, officers, and principals. By
                completing your application to become a QuickCard customer, you are providing QuickCard with written
                instructions and authorization in accordance with the Fair Credit Reporting Act to obtain such financial
                information or credit reports.
              </p>
              <p>
                In the event that we are unsuccessful in receiving satisfactory information for us to verify your identity
                or determine that you are creditworthy, QuickCard reserves the right to terminate this Agreement with
                immediate notice to you, cease to provide access to the QuickCard Payment Services, and refuse or
                rescind any payment by your customers.
              </p>
              <p class="third">5.2 Actions by QuickCard</p>
              <p>
                If we believe that your Transactions pose an unacceptable level of risk, that you have breached the
                terms of this Agreement, or that your account has been compromised, we may take various actions to
                avoid liability. The actions we may take include, but are not limited to, suspending or limiting your ability
                to use the QuickCard Payment Services, refusing to process any Transaction, reversing a Transaction,
                holding your Payouts, and contacting your customers to verify Transactions and reduce potential fraud
                and disputes. If possible, we will provide you with advance notice of our actions and resolution steps.
                However, advance notice will not be provided if there is an immediate need to take actions such as a
                security threat, potential fraud, or illegal activity.
              </p>
              <p class="third"> 5.3 Reserves</p>
              <p>
                QuickCard, in its sole discretion, may place a Reserve on a portion of your Payouts in the event that we
                believe that there is a high level of risk associated with your business. If we place a reserve on your
                Payouts, we will provide you with notice specifying the terms of the Reserve. The terms may require
                that a certain percentage of your Payouts are held for a certain period of time, that a fixed amount of
                your Payouts are withheld from payout to you, or such other restrictions that QuickCard determines in
                its sole discretion. QuickCard may change the terms of the Reserve at any time by providing you with
                notice of the new terms.
              </p>
              <p>
                QuickCard may hold a Reserve as long as it deems necessary, in its sole discretion, to mitigate any risks
                related to your Transactions. You agree that you will remain liable for all obligations related to your
                Transactions even after the release of any Reserve. In addition, we may require you to keep your Bank
                Account available for any open settlements, Chargebacks and other adjustments.
              </p>
              <p class="third"> 5.4 Security Interest</p>
              <p>
                To secure your performance of this Agreement, you grant to QuickCard a legal claim to the funds held in
                the Reserve. This is known in legal terms as a “lien” on and “security interest” in these amounts.
              </p>
              <p class="third">5.5 Excessive Chargeback fees.</p>
              <p>
                You agree that QuickCard shall be entitled to charge an Excessive Chargeback fee if Chargebacks are over
                1% of the total transactions processed for the preceding calendar month. If at the end of a calendar
                month, your total Chargebacks have exceeded 1% of your total transactions, a Excessive Chargeback fee
                of $99.00 USD will be charged for each Chargeback that is over 1% threshold, the Excessive Chargeback
                Fee will be charged in additional to any other applicable Chargeback fees set forth in your Merchant
                Application Fee Schedule.
              </p>
              <p class="third">5.6 Transaction Laundering</p>
              <p>
                Transaction laundering, using the credentials of another business, providing inaccurate or false information on your merchant application, and/or misrepresentation of goods or products transacted on our systems, are all expressly prohibited. Any of the aforementioned actions could be a violation of State and/or Federal Law. You give your express consent to a transaction laundering fee of $100,000. This fee shall be assessed per prohibited act or transaction. Examples of prohibited acts include but are not limited to: (A) transacting using QuickCard Payment Services on an  another URL not disclosed on your Merchant Services Application; (C) adding, modifying or changing the goods or products sold using your Merchant Account without first notifying QuickCard and obtaining QuickCard’s express consent to the new or modified products or goods; (D) using QuickCard Payment Services in any way violates any Card Brand and or Visa (<a href="https://usa.visa.com/dam/VCOM/download/about-visa/visa-rules-public.pdf">https://usa.visa.com/dam/VCOM/download/about-visa/visa-rules-public.pdf</a> ), MasterCard (<a href="https://www.mastercard.us/content/dam/mccom/global/documents/mastercardrules.pdf">https://www.mastercard.us/content/dam/mccom/global/documents/mastercardrules.pdf</a> ), Amex (<a href="https://icm.aexpstatic.com/Internet/NGMS/US_en/Images/merchantpolicypdfs/US_RefGuide_S.pdf">https://icm.aexpstatic.com/Internet/NGMS/US_en/Images/merchantpolicypdfs/US_RefGuide_S.pdf</a> ), DiscoverCard (<a href="https://www.discoverglobalnetwork.com/en-us/business-resources/fraud-security/pci-rulesregulations/">https://www.discoverglobalnetwork.com/en-us/business-resources/fraud-security/pci-rulesregulations/</a> ) rules ; and/or  (E) transacting using QuickCard Payment Services in violation of any State, Federal, or Local law.
              </p>
              <p class="third"> Section 6 – Account Security, Data, Intellectual Property and Publicity</p>
              <p class="third">6.1 Security of your access</p>
              <p>You agree to:</p>
              <p>
                (a) Not allow anyone else to have or use your password details and to comply with all reasonable
                instructions we may issue regarding account access and security. In the event you share your password
                details, QuickCard will not be liable to you for losses or damages;
              </p>
              <p>
                (b) Keep your personal details up to date. We may be unable to respond to you if you contact us from an
                address, telephone number or email account that is not registered with us; and
              </p>
              <p>
                (c) Take all reasonable steps to protect the security of the personal electronic device through which you
                access the QuickCard Payment Services (including, without limitation, using PIN and/or password
                protected personally configured device functionality to access the QuickCard Payment Services and not
                sharing your device with other people).
              </p>
              <p>
                (d) Ensure that all products, goods, and services you offer to customers meet the terms of this agreement, and the Visa (<a href="https://usa.visa.com/dam/VCOM/download/about-visa/visa-rules-public.pdf">https://usa.visa.com/dam/VCOM/download/about-visa/visa-rules-public.pdf</a> ), MasterCard (<a href="https://www.mastercard.us/content/dam/mccom/global/documents/mastercardrules.pdf">https://www.mastercard.us/content/dam/mccom/global/documents/mastercardrules.pdf</a> ), Amex (<a href="https://icm.aexpstatic.com/Internet/NGMS/US_en/Images/merchantpolicypdfs/US_RefGuide_S.pdf">https://icm.aexpstatic.com/Internet/NGMS/US_en/Images/merchantpolicypdfs/US_RefGuide_S.pdf</a> ), DiscoverCard (<a href="https://www.discoverglobalnetwork.com/en-us/business-resources/fraud-security/pci-rulesregulations/">https://www.discoverglobalnetwork.com/en-us/business-resources/fraud-security/pci-rulesregulations/</a> ) rules.
              </p>
              <p>
                (e) Notify QuickCard and obtain QuickCard’s express written consent to any changes in the products, goods, and services you offer.
              </p>
              <p class="third">6.2 Data Security Compliance</p>
              <p>
                Merchant agrees to comply with applicable data privacy and security requirements under the Payment
                Card Industry Data Security Standard (“Association PCI DSS Requirements”) and any applicable
                Association data security requirements (including those made available by Visa, MasterCard, American
                Express and Discover) with regards to Merchant’s use, access, and storage of certain credit card nonpublic personal information. Additionally, Merchant agrees to comply with its obligations under any
                applicable law or regulation as may be in effect or as may be enacted, adopted or determined regarding
                the confidentiality, use, and disclosure of cardholder information. You must report any Customer Data
                breach or incident to QuickCard and/or the Associations immediately after discovery of the incident. You
                also agree to ensure data quality and that any Customer Data is processed promptly, accurately and
                completely, and complies with the Associations’ technical specifications.
              </p>
              <p class="third">6.3 Ownership of Data</p>
              <p>
                All Customer Data shall be owned by Merchant and Merchant hereby grants QuickCard a perpetual,
                irrevocable, sub-licensable, assignable, worldwide, royalty-free license to use, reproduce, electronically
                distribute, and display Customer Data for the following purposes: (i) providing and improving the
                QuickCard Payment Services, including the collection, processing and useof Customer Data for the
                purposes of QuickCard providing and improvingthe Fraud Protection Tools as part of the QuickCard
                Payment Services; (ii) internal usage, including but not limited to, data analytics and metrics so long as
                such Customer Data has been anonymized and aggregated with other customer data; (iii) complying
                with applicable legal requirements and assisting law enforcement agencies by responding to requests
                for the disclosure of information in accordance with local laws; and (iv) any other purpose for which
                consent has been provided by the Customer. Merchant undertakes to provide all notices and obtain all
                consents necessary for QuickCard’s use of Customer Data set out above.
              </p>
              <p class="third">6.4 Data Protection</p>
              <p>
                Each Party shall comply with its obligations under all applicable data protection laws in respect of the
                Services to be provided under this Agreement. Each Party agrees in respect of any such personal data
                supplied to it by the other Party that it shall: (a) only act on instructions from the other Party regarding
                the processing of such personal data under this Agreement and shall ensure that appropriate technical
                and organizational measures shall be taken against unauthorized or unlawful processing of the personal
                data and against accidental loss or destruction of, or damage to, the personal data; and (b) comply with
                any reasonable request made by the other Party to ensure compliance with the measures contained in
                this Section.
              </p>
              <p class="third">6.5 Software License</p>
              <p>
                QuickCard grants you a revocable, non-exclusive, non-transferable license to use QuickCard’s APIs and
                other software applications (the “Software”) in accordance with the documentation accompanying the
                Software. This license grant includes all updates, upgrades, new versions and replacement software for
                your use in connection with the QuickCard Payment Services. If you do not comply with the
                documentation and any other requirements provided by QuickCard, then you will be liable for all
                resulting damages suffered by you, QuickCard and third parties. Unless otherwise provided by applicable
                law, you agree not to alter, reproduce, adapt, distribute, display, publish, reverse engineer, translate,
                disassemble, decompile or otherwise attempt to create any source code that is derived from the
                Software. Upon expiration or termination of this Agreement, you will immediately cease all use of any
                Software.
              </p>
              <p class="third">6.6 QuickCard Trademark Use</p>
              <p>
                Merhcant shall not use any of QuickCard’s trademarks, logos or other pictures, words or images used to
                identify the QuickCard Payment Services (the “Trademarks”), unless QuickCard has given you its express
                written consent to use the Trademarks. Any usage of the Trademarks by Merchant shall be subject to a
                revocable, non-exclusive, non-transferrable license and used solely in conjunction with the Merchant
                the Merchant agrees that it will not at any time during or after this Agreement assert or claim any
                interest in or do anything that may adversely affect the validity of any Trademark or any other
                trademark, trade name or product designation belonging to or licensed to QuickCard (including, without
                limitation registering or attempting to register any Trademark or any such other trademark, trade name
                or product designation). Upon expiration or termination of this Agreement, you will immediately cease
                all display, advertising and use of all of the Trademarks, including the logos and trademarks of the
                Associations
              </p>
              <p class="third">6.7 Intellectual Property</p>
              <p>
                Other than the express licenses granted by this Agreement, QuickCard grants no right or license by
                implication, estoppel or otherwise to the QuickCard Payment Service or any Intellectual Property Rights
                of QuickCard. Each party shall retain all ownership rights, title, and interest in and to its own products
                and services (including in the case of QuickCard, in the QuickCard Payment Service) and all Intellectual
                Property Rights therein, subject only to the rights and licenses specifically granted herein.
              </p>
              <p class="third">6.8 Publicity</p>
              <p>
                Merchant hereby grants QuickCard permissions to use Merchant’s name and logo in its marketing
                materials including, but not limited to use on QuickCard’s website, in customer listings, in interviews and
                in press releases.
              </p>
              <p class="third">6.9 Confidential Information</p>
              <p>
                The parties acknowledge that in their performance of their duties hereunder either party may
                communicate to the other (or its designees) certain confidential and proprietary information, including
                without limitation information concerning the QuickCard Payment Services and the know how,
                technology, techniques, or business or marketing plans related thereto (collectively, the “Confidential
                Information”) all of which are confidential and proprietary to, and trade secrets of, the disclosing party.
                Confidential Information does not include information that: (i) is public knowledge at the time of
                disclosure by the disclosing party; (ii) becomes public knowledge or known to the receiving party after
                disclosure by the disclosing party other than by breach of the receiving party’s obligations under this
                section or by breach of a third party’s confidentiality obligations; (iii) was known by the receiving party prior to disclosure by the disclosing party other than by breach of a third party’s confidentiality obligations; or (iv) is independently developed by the receiving party. As a condition to the receipt of the
                Confidential Information from the disclosing party, the receiving party shall: (i) not disclose in any
                manner, directly or indirectly, to any third party any portion of the disclosing party’s Confidential
                Information; (ii) not use the disclosing party’s Confidential Information in any fashion except to perform
                its duties hereunder or with the disclosing party’s express prior written consent; (iii) disclose the
                disclosing party’s Confidential Information, in whole or in part, only to employees and agents who need
                to have access thereto for the receiving party’s internal business purposes; (iv) take all necessary steps
                to ensure that its employees and agents are informed of and comply with the confidentiality restrictions
                contained in this Agreement; and (v) take all necessary precautions to protect the confidentiality of the
                Confidential Information received hereunder and exercise at least the same degree of care in
                safeguarding the Confidential Information as it would with its own confidential information, and in no
                event shall apply less than a reasonable standard of care to prevent disclosure.
              </p>
              <p class="third">Section 7 - Indemnification, Limitation of Liability, Disclaimer of Warranties</p>
              <p class="third">7.1 Indemnification</p>
              <p>
                Merchant agrees to indemnify, defend, and hold harmless QuickCard, its parent, affiliates, officers,
                directors, agents, employees and suppliers from and against any lawsuit, claim, liability, loss, penalty or
                other expense (including attorneys’ fees and cost of defense) they may suffer or incur as a result of (i)
                your breach of this Agreement or any other agreement you enter into with QuickCard or its suppliers in
                relation to your use of the QuickCard Payment Services; (ii) your use of the QuickCard Payment Services;
                (iii) your acts or omissions; and/or (iv) your violation of any applicable law, regulation, or Association
                Rules and requirements.
              </p>
              <p class="third">7.02 LIMITATION OF LIABILITY</p>
              <p class="third">
                QUICKCARD SHALL NOT BE LIABLE TO YOU OR A THIRD PARTY FOR ANY CONSEQUENTIAL, INDIRECT,
                SPECIAL, INCIDENTAL, RELIANCE, OR EXEMPLARY DAMAGES ARISING OUT OF OR RELATING TO THIS
                AGREEMENT OR THE QUICKCARD PAYMENT SERVICES, WHETHER FORESEEABLE OR UNFORESEEABLE,
                AND WHETHER BASED ON BREACH OF ANY EXPRESS OR IMPLIED WARRANTY, BREACH OF CONTRACT,
                MISREPRESENTATION, NEGLIGENCE, STRICT LIABILITY IN TORT, OR OTHER CAUSE OF ACTION
                (INCLUDING, BUT NOT LIMITED TO, DAMAGES FOR LOSS OF DATA, GOODWILL, PROFITS,
                INVESTMENTS, USE OF MONEY, OR USE OF FACILITIES; INTERRUPTION IN USE OR AVAILABILITY OF
                DATA; STOPPAGE OF OTHER WORK OR IMPAIRMENT OF OTHER ASSETS; OR LABOR CLAIMS), EVEN IF
                QUICKCARD HAS BEEN ADVISED OF THE POSSIBILITY OF SUCH DAMAGES. UNDER NO CIRCUMSTANCES
                SHALL QUICKCARD’S TOTAL AGGREGATE LIABILITY TO MERCHANT OR ANY THIRD PARTY ARISING OUT
                OF OR RELATED TO THIS AGREEMENT EXCEED THE DIRECT DAMAGES SUFFERED BY SUCH PARTY IN AN
                AMOUNT EQUAL TO THE AMOUNTS PAID OR PAYABLE BY MERCHANT TO QUICKCARD UNDER THIS AGREEMENT DURING THE FIRST TWELVE (12) MONTH PERIOD AFTER THE EFFECTIVE DATE OF THIS AGREEMENT.
              </p>
              <p class="third">7.3 DISCLAIMER OF WARRANTIES</p>
              <p class="third">
                THE QUICKCARD PAYMENT SERVICE IS PROVIDED “AS IS” WITHOUT ANY WARRANTY WHATSOEVER.
                QUICKCARD DISCLAIMS ALL WARRANTIES WHETHER EXPRESS, IMPLIED, OR STATUTORY, TO
                MERCHANT AS TO ANY MATTER WHATSOEVER, INCLUDING ALL IMPLIED WARRANTIES OF
                MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND NON-INFRINGEMENT OF THIRD PARTY
                RIGHTS. NO ORAL OR WRITTEN INFORMATION OR ADVICE GIVEN BY QUICKCARD OR ITS EMPLOYEES OR REPRESENTATIVES SHALL CREATE A WARRANTY OR IN ANY WAY INCREASE THE SCOPE OF QUICKCARD’S OBLIGATIONS.
              </p>
              <p>
                The parties acknowledge that the QuickCard Payment Service is a computer network based service which
                may be subject to outages and delay occurrences. As such, QuickCard does not guarantee continuous or
                uninterrupted access to the QuickCard Payment Services. Merchant further acknowledges that access to
                the QuickCard website or to the QuickCard Payment Services may be restricted for maintenance.
                QuickCard will make reasonable efforts to ensure that Transactions are processed in a timely manner;
                however, QuickCard will not be liable for any interruption, outage, or failure to provide the QuickCard
                Payment Services.
              </p>
              <p class="third">Section 8 - Term and Termination</p>
              <p class="third">8.1 Term and Termination</p>
              <p>
                The term of this Agreement shall commence on the Effective Date and shall continue on until
                terminated as set forth herein. You may terminate this Agreement, without cause, by providing
                QuickCard with notice of your intent to terminate, or by ceasing to use the QuickCard Payment Services.

                QuickCard may terminate this Agreement or suspend services to you if any of the following occurs: (1)
                we are required by the Associations, the acquiring bank, or an order from a regulatory body to cease
                providing services to you; (2) we believe that you have breached this Agreement, or are likely to do so;
                (3) if we determine that your use of the QuickCard Payment Services carries an unacceptable amount of
                risk, including credit or fraud risk; or (4) any other legal, reputational, or risk-based reason exists, in
                QuickCard’s sole discretion. In the event that QuickCard must terminate this Agreement, QuickCard shall
                provide you with written notice as soon as reasonably practicable.
              </p>
              <p>
                After termination by either party as described above, Merchant shall no longer have access to, and shall
                cease all use of the QuickCard Payment Services. Any termination of this Agreement does not relieve
                Merchant of any obligations to pay any fees, costs, penalties, Chargebacks or any other amounts owed
                by you to us as provided under this Agreement, whether accrued prior to or after termination.
              </p>
              <p class="third">Section 9 – General Provisions</p>
              <p class="third">9.1 Independent Contractors</p>
              <p>
                The relationship of QuickCard and Merchant is that of independent contractors. Neither Merchant nor
                any of its employees, consultants, contractors or agents are agents, employees, partners or joint
                ventures of QuickCard, nor do they have any authority to bind QuickCard by contract or otherwise to any
                obligation. None of such parties will represent anything to the contrary, either expressly, implicitly, by
                appearance or otherwise.
              </p>
              <p class="third"> 9.2 Severability</p>
              <p>
                If any provision of this Agreement is held by a court of competent jurisdiction to be invalid, void or
                unenforceable for any reason, the remaining provisions not so declared shall nevertheless continue in
                full force and effect, but shall be construed in a manner so as to effectuate the intent of this Agreement
                as a whole, notwithstanding such stricken provision or provisions.
              </p>
              <p class="third"> 9.3 Waiver</p>
              <p>
                No term or provision of this Agreement shall be deemed waived, and no breach excused, unless such
                waiver or consent shall be in writing and signed by the party claimed to have waived or consented. Any
                consent by any party to, or waiver of, a breach by the other party, whether express or implied, shall not
                constitute a consent to, waiver of, or excuse for any different or subsequent breach.
              </p>
              <p class="third"> 9.4 Assignment</p>
              <p>
                This Agreement will bind and inure to the benefit of each party’s permitted successors and assigns.
                Merchant may not assign this Agreement without the written consent of QuickCard. QuickCard may
                assign this Agreement in its sole discretion without the written consent of Merchant.
              </p>
              <p class="third">9.5 Amendment</p>
              <p>
                We may amend this Agreement at any time by posting a revised version of it on our website under the
                “Legal” section of our website. The revised version will be effective at the time we post it. In addition, if
                the revised version includes a substantial change, we will provide you with 30 days’ prior notice of any
                substantial change by posting notice under the “Policy Updates” section contained in the “Legal” section
                of our website. If you do not agree to the updated terms, you can terminate your Agreement by
                providing us with notice in the manner indicated below in Section 9.09. If you provide us with
                termination notice within 30 days of the date of update, then your current terms and conditions shall
                apply during this notice period.
              </p>
              <p class="third">9.6 Entire Agreement</p>
              <p>
                This Agreement sets forth the entire agreement and understanding of the parties hereto in respect to
                the subject matter contained herein, and supersedes all prior agreements, promises, covenants,
                arrangements, communications, representations or warranties, whether oral or written, by any officer,
                partner, employee or representative of any party hereto. This Agreement shall be binding upon and
                shall inure only to the benefit of the parties hereto and their respective successors and permitted
                assigns. Nothing in this Agreement, express or implied, is intended to confer or shall be deemed to
                confer upon any persons or entities not parties to this Agreement, any rights or remedies under or by
                reason of this Agreement.
              </p>
              <p class="third"> 9.7 Survival</p>
              <p>
                Sections 2 (Fees and Tax), 4 (Liability for Chargebacks, Invalidated Payments and other Liabilities), 5
                (Actions We May Take), 6.08 (Confidential Information), 7 (Indemnification, Limitation of Liability,
                Disclaimer of Warranties), 8 (Term and Termination, Data Portability), 9 (General Provisions), as well as
                any other terms which by their nature should survive, will survive the termination of this Agreement.
              </p>
              <p class="third"> 9.8 Communication; Recording Calls; and Availability of Contractual Documents</p>
              <p>
                You consent to receive autodialed or prerecorded calls and text messages from QuickCard at any
                telephone number that you have provided us or that we have otherwise obtained to (i) notify you
                regarding your account; (ii) collect a debt; (iii) resolve a dispute; (iv) contact you about exclusive offers;
                or (v) as otherwise necessary to service your account or enforce the Agreement. Standard telephone
                minute and text charges may apply.
              </p>
              <p>
                We may share your telephone numbers with our service providers (such as billing or collections
                companies) who we have contracted with to assist us in pursuing our rights or performing our
                obligations under the Agreement, our policies, or any other agreement we may have with you. You
                agree these service providers may also contact you using autodialed or prerecorded calls and text
                messages, only as authorized by us to carry out the purposes we have identified above, and not for their
                own purposes.
              </p>
              <p>
                QuickCard may, without further notice or warning and in its discretion, monitor or record telephone
                conversations you or anyone acting on your behalf has with QuickCard or its agents for quality control
                and training purposes or for its own protection.
              </p>
              <p>
                If you have a question or complaint relating to the QuickCard Payment Services or your Transactions,
                please contact the QuickCard customer support as defined in the “Contact” tab of the QuickCard website.
              </p>
              <p class="third">9.9 Notices, Contracting Entity, Governing Law, and Jurisdiction</p>
              <p>
                a. Contracting Entity. “QuickCard,” “we,” and “our” in this Agreement refer to QuickCard POS, a Nevada
                corporation in the United States whose address is 8880 Rio San Diego Drive, Suite 102, San Diego, CA
                92108.
              </p>
              <p>
                b. Notice to Merchant. Merchant agrees that QuickCard may provide notices and disclosures to
                Merchant by posting them on QuickCard’s website, emailing them to Merchant, or sending them to
                Merchant through postal mail. Notices sent to Merchant by postal mail are considered received by
                Merchant within three (3) Business Days of the date QuickCard sends the notice unless it is returned to
                QuickCard. Disclosures and notices posted on QuickCard’s website or emailed shall be considered to be
                received by you within 24 hours of the time it is posted to our website or emailed to you unless we
                receive notice that the email was not delivered. Furthermore, you understand and agree that if
                QuickCard sends you an email but you do not receive it because your primary email address on file is
                incorrect, out of date, blocked by your service provider, or you are otherwise unable to receive
                electronic communications, QuickCard will be deemed to have provided the communication to you. In
                addition, QuickCard may send Merchant emails, including, but not limited to, those relating to product
                updates, new features and offers and Merchant hereby consents to such email notification. You also
                agree that electronic disclosures and notices have the same meaning and effect as if we had provided
                you with a paper copy.
              </p>
<!--              <p>-->
<!--                c. Notices to QuickCard. Notice to QuickCard shall be considered valid only if sent by postal mail to-->
<!--                QuickCard POS, Attention: Legal Department, 8880 Rio San Diego Drive, Suite 102, San Diego CA 92108.-->
<!--              </p>-->
              <p>
                c. Choice of law and jurisdiction. The laws of the State of Delaware, without regard to principles of
                conflict of laws, will govern this Agreement and any claim or dispute that has arisen or may arise
                between the parties, except as otherwise stated in this Agreement.
              </p>
              <p class="third">9.10 Agreement to Arbitrate</p>
              <p>
                PLEASE READ THIS SECTION CAREFULLY. IT AFFECTS YOUR RIGHTS AND WILL IMPACT HOW CLAIMS YOU AND QUICKCARD HAVE AGAINST EACH OTHER ARE RESOLVED.
              </p>
              <p>
                You and QuickCard agree that any and all disputes or claims that have arisen or may arise between you
                and QuickCard shall be resolved exclusively through final and binding arbitration, rather than in court,
                except that you may assert claims in small claims court, if your claims qualify and so long as the matter
                remains in such court and advances only on an individual (non-class, non-representative) basis. The
                Federal Arbitration Act governs the interpretation and enforcement of this provision.
              </p>
              <p>
                THE PARTIES ALSO AGREE THAT YOU AND QuickCard MAY BRING CLAIMS AGAINST THE OTHER ONLY ON AN INDIVIDUAL BASIS AND NOT AS A PLAINTIFF OR CLASS MEMBER IN ANY PURPORTED CLASS OR REPRESENTATIVE ACTION OR PROCEEDING. UNLESS BOTH YOU AND QuickCard AGREE OTHERWISE, THE ARBITRATOR(S) MAY NOT CONSOLIDATE OR JOIN MORE THAN ONE PERSON’S OR PARTY’S CLAIMS
                AND MAY NOT OTHERWISE PRESIDE OVER ANY FORM OF A CONSOLIDATED, REPRESENTATIVE, OR CLASS PROCEEDING. ALSO, THE ARBITRATOR(S) MAY AWARD RELIEF (INCLUDING MONETARY, INJUNCTIVE, AND DECLARATORY RELIEF) ONLY IN FAVOR OF THE INDIVIDUAL PARTY SEEKING RELIEFAND ONLY TO THE EXTENT NECESSARY TO PROVIDE RELIEF NECESSITATED BY THAT PARTY’S INDIVIDUAL CLAIM(S). ANY RELIEF AWARDED CANNOT AFFECT OTHER QUICKCARD MERCHANTS.
              </p>
              <p>
                The arbitration will be conducted by the Judicial Arbitration & Mediation Services (“JAMS”) pursuant to its Streamlined Arbitration Rules and Procedures, as modified by this Agreement to Arbitrate. Payment of all filing, administration, and arbitrator fees will be governed by the JAMS rules. All issues are for the arbitrator to decide, except that issues relating to arbitrability, or the scope or enforceability of this agreement to Arbitrate, shall be for a court of competent jurisdiction to decide. If a court decides that any part of this Section is invalid or unenforceable, the other parts of this Section shall still apply.
              </p>
              <p>
                The arbitration shall be held in San Diego, California or another mutually agreed upon location. QuickCard may elect to have the arbitration conducted by telephone or based solely on written submissions, which election shall be binding on you and QuickCard subject to the discretion of the arbitrator(s) to require an in-person hearing, if the circumstances warrant. In cases where an in-person hearing is held, you and/or QuickCard may attend by telephone, unless required otherwise by the arbitrator(s).
                The arbitrator(s) will decide the substance of all claims in accordance with the laws of the State of California, including recognized principles of equity, and will honor all claims of privilege recognized by law. The arbitrator(s) shall not be bound by rulings in prior arbitrations involving different merchants, but is/are bound by rulings in prior arbitrations involving the same merchant to the extent required by applicable law. The arbitration award shall be final and binding and judgment on the award rendered by the arbitrator(s) may be entered in any court having jurisdiction thereof.

              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<!-- Privacy Policy Modal-->
<div class="modal fade pp-modal-as" id="privacy_policy" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="pull-right btn-close-modal">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">
          &times;
        </span>
        </button>
      </div>
      <div class="modal-term-service">
        <div class="row">
          <div class="col-lg-12 col-md-12 col-sm-12">
            <div class="heading_term">
              <div class="term_of_service pull-left">
                Privacy Policy
              </div>
            </div>
          </div>
          <div class="col-lg-12 col-md-12 col-sm-12">
            <hr class="welcome_hr">
          </div>
          <div class="col-lg-12 col-md-12 col-sm-12">
            <div class="para_term">
              <span class="first">Quickcard Privacy Policy</span>
              <br>
              <span class="second">Last updated June 10, 2020</span>
              <br>
              <br>
              This <b>Privacy Notice</b> describes the types of personal information we collect through our payment platform, and various third parties in order to provide our blockchain payment processing platform that enable merchants to conduct their business.
              <br>
              <br>
              <b>QuickCard respects your privacy. We do not sell your personal information to marketers or unaffiliated third parties.</b> We share your personal information with our trusted partners, as discussed below.
              <br>
              <br>
              This notice was written to comply with the California Consumer Privacy Act of 2018 (CCPA) and any terms defined in the CCPA have the same meaning when used in this notice.
              <br>
              <br>
              <h4 class="text-center"><u><b>Information We Collect</b></u></h4>
              Our platform, through transactions you conduct with our merchants, collects information that identifies,
              relates to, describes, references, is capable of being associated with, or could reasonably be linked,
              directly or indirectly, with a particular consumer or device (<b>"personal information or personal
              data"</b>).
              We discuss the personal information collected by QuickCard's platform within the last twelve (12) months
              in more detail below.
              <br>
              <br>
              The personal information we collect from you relates to an identified or identifiable individual (an
              “identifier”), and is typically
              collected because you supplied it us to complete a transaction or engage in a contractual relationship
              with us. These types of identifiers include:
              <br>
              <ul class="List_items_decoration">
                <li>Your name or alias, signature, Social Security number, address (postal and/or email), telephone
                  number, driver's license or state identification card number, employment, bank account number, credit
                  card number, debit card number, or any other financial information supplied to us by you or with your
                  express written consent, IP address, account name, merchant ID, or other</li>
              </ul>
              Personal information does <b>not</b> include:
              <br>
              <ul class="List_items_decoration">
                <li>Publicly available information from government records.</li>
                <li>Deidentified or aggregated consumer information.</li>
                <li>Information excluded from the CCPA's scope, like:
                  <ul class="List_items_decoration">
                    <li>health or medical information covered by the Health Insurance Portability and Accountability
                      Act of 1996 (HIPAA) and the California Confidentiality of Medical Information Act (CMIA) or
                      clinical trial data;</li>
                    <li>personal information covered by certain sector-specific privacy laws, including the Fair
                      Credit Reporting Act (FRCA), the Gramm-Leach-Bliley Act (GLBA) or California Financial Information
                      Privacy Act (FIPA), and the Driver's Privacy Protection Act of 1994.</li>
                  </ul>
                </li>
              </ul>
              QuickCard obtains the categories of personal information listed above from the following categories of sources:
              <br>
              <ul class="List_items_decoration">
                <li><b><u>Directly from you.</u></b> For example, from forms you complete or products and services you
                    purchase.</li>
                <li><b><u>Indirectly from you.</u></b> For example, from your actions on our platform or when
                  purchasing from a merchant that uses our services.</li>
              </ul>
              <br>
              <h4 class=""><u><b>Personal Information Collected Directly From You:</b></u></h4>
              The personal information we collect from you relates to an identified or identifiable individual, and is typically collected because you supplied it to complete a transaction. As discussed above, these types of identifiers include:
              <ul class="List_items_decoration">
                <li>Information you’ve directly supplied to us (by way of an application to register for an account,
                  or to submit an inquiry to our customer service), such as
                  <ul class="List_items_decoration_circle">
                    <li>Your full name;</li>
                    <li>Your email address or other online identifier, or account name.</li>
                  </ul>
                </li>
                <li>If you’ve applied for a merchant account with us, we also collect certain financial information
                  about you, pursuant to the information and permissions supplied by way of your application and
                  processing agreement. We also collected any other information you’ve supplied in your application
                  packet, such as a birthdate, postal address, business address, social security number, tax ID or
                  Employer Identification Number (EIN), phone number, signature, driver’s license or other state
                  identification card information. </li>
                <li>When, as a customer, you conduct transactions through a merchant using our platform we collect
                  information sufficient to complete the payment and detect and guard against fraudulent activity.
                  Information needed to complete the transaction may include your name, purchase amount, tokenized card
                  data (i.e., card number used, with certain information obscured through our proprietary security
                  methods), time of purchase, date of purchase, the merchant you made a purchase from, and the type of
                  card used. When we conduct certain fraud monitoring activities, we and our fraud prevention partners
                  collect and assess this information to ensure the authenticity of transactions and detect and prevent
                  against fraudulent identifiers.</li>
              </ul>

              <br>
              <h4 class=""><u><b>Personal Information Collected Indirectly From You:</b></u></h4>
              We collect certain information using cookies and other technology to ensure proper functionality and reduce fraud. This data includes:
              <ul class="List_items_decoration">
                <li>Browser and device data such as IP address, browser and operating system information.</li>
                <li>Usage data.</li>
              </ul>

              <h4 class="text-center"><u><b>Use of Personal Information</b></u></h4>
              We may use, or disclose the personal information we collect for one or more of the following purposes:
              <ul class="List_items_decoration">
                <li>To fulfill or meet the reason you provided the information. For example, if you share your name
                  and contact information to request that we contact you about a certain issue, we will use that
                  personal information to respond to your inquiry. If you provide your personal information to purchase
                  a product or service, we will use that information to process your payment and facilitate your
                  transaction with a merchant.</li>
                <li>To provide support, and improve / develop our products and services.</li>
                <li>To create, maintain, customize, and secure your account with us.</li>
                <li>To process your requests, purchases, transactions, and payments and prevent transactional
                  fraud.</li>
                <li>
                  To provide you with support and to respond to your inquiries, including to investigate and address
                    your concerns and monitor and improve our responses.</li>
                <li>To help maintain the safety, security, and integrity of our products and services, databases and
                  other technology assets, and business.</li>
                <li>To respond or comply with any writ of attachment, lien, levy, subpoena, warrant, or other legal
                  order that we believe to be valid. We are not responsible for any direct or indirect losses you may
                  incur as a result of our response to such request. </li>
                <li>As described to you when collecting your personal information or as otherwise set forth in the
                  CCPA.</li>
              </ul>

              <b>QuickCard will not collect additional categories of personal information or use the personal information we collected for materially different, unrelated, or incompatible purposes without providing you advance notice.</b>
              <br>
              <br>

              <h4 class="text-center"><u><b>Sharing Personal Information</b></u></h4>
              QuickCard may disclose your personal information to a third party for a business purpose, such as fraud monitoring or completing a transaction. When we disclose personal information for a business purpose, we enter a contract that describes the purpose and requires the recipient to both keep that personal information confidential and not use it for any purpose except performing the contract. We do not sell your personal information and we require that the third parties and vendors we engage with do the same.
              <br>
              We share your personal information with the following categories of third parties:
              <br>
              <ul class="List_items_decoration">
                <li>Service providers.</li>
                <li>Data aggregators – such as fraud monitoring services and companies that use this information to
                  verify the authenticity and security of your transactions and personal data.</li>
              </ul>

              <h4 class=""><i><b>Disclosures of Personal Information for a Business Purpose</b></i></h4>
              In the preceding twelve (12) months, Company has disclosed the following personal information for a business purpose (terms used below are as defined in the CCPA):
              <ul class="List_items_decoration">
                <li>Identifiers, Personal information categories listed in the California Customer Records statute (Cal. Civ. Code § 1798.80(e)), Commercial information, Internet or other similar network activity, Geolocation data, Professional or employment-related information, Inferences drawn from other personal information (used for fraud monitoring and prevent activities)</li>
              </ul>
              We disclose your personal information for a business purpose to the following categories of third parties:
              <ul class="List_items_decoration">
                <li>Service providers.</li>
              </ul>
              <h4 class="text-center"><u><b>Your Rights and Choices</b></u></h4>
              The CCPA provides consumers (California residents) with specific rights regarding their personal information. This section describes your CCPA rights and explains how to exercise those rights.
              <h4 class=""><i><b>Access to Specific Information and Data Portability Rights</b></i></h4>
              You have the right to request that QuickCard disclose certain information to you about our collection and use of your personal information over the past 12 months. Once we receive and confirm your verifiable consumer request, we will disclose to you:
              <ul class="List_items_decoration">
                <li>The nature and purpose of such disclosure (i.e., for a business purpose).</li>
                <li>The categories of personal information we collected about you.</li>
                <li>The categories of sources for the personal information we collected about you.</li>
                <li>Our business or commercial purpose for collecting or selling that personal information.</li>
                <li>The categories of third parties with whom we share that personal information.</li>
                <li>
                  The specific pieces of personal information we collected about you (also called a data portability
                    request).</li>
              </ul>
              You have the right to request that QuickCard delete any of your personal information that we collected from you and retained, subject to certain exceptions. Once we receive and confirm your verifiable consumer request, we will delete (and direct our service providers to delete) your personal information from our records, unless an exception applies.
              <br>
              We may deny your deletion request if retaining the information is necessary for us or our service provider(s) to:
              <ul class="List_items_decoration_decimal">
                <li>Complete the transaction for which we collected the personal information, provide a good or
                  service that you requested, take actions reasonably anticipated within the context of our ongoing
                  business relationship with you, or otherwise perform our contract with you.</li>
                <li>
                  Detect security incidents, protect against malicious, deceptive, fraudulent, or illegal activity,
                    or prosecute those responsible for such activities.</li>
                <li>Debug products to identify and repair errors that impair existing intended functionality.</li>
                <li>Exercise free speech, ensure the right of another consumer to exercise their free speech rights,
                  or exercise another right provided for by law.
                </li>
                <li>Comply with the California Electronic Communications Privacy Act (Cal. Penal Code § 1546 et.
                  seq.).</li>
                <li>Engage in public or peer-reviewed scientific, historical, or statistical research in the public
                  interest that adheres to all other applicable ethics and privacy laws, when the information's deletion
                  may likely render impossible or seriously impair the research's achievement, if you previously
                  provided informed consent.</li>
                <li>Enable solely internal uses that are reasonably aligned with consumer expectations based on your
                  relationship with us.</li>
                <li>Comply with a legal obligation.</li>
                <li>Make other internal and lawful uses of that information that are compatible with the context in
                  which you provided it.</li>
              </ul>

              <h4 class=""><i><b>Exercising Access, Data Portability, and Deletion Rights</b></i></h4>
              To exercise the access, data portability, and deletion rights described above, please submit a verifiable consumer request to us by either:
              <ul class="List_items_decoration">
                <li>Submitting a request to privacy@quickcard.me</li>
              </ul>
              Only you, or someone legally authorized to act on your behalf, may make a verifiable consumer
              request related to your personal information. You may also make a verifiable consumer request on
              behalf of your minor child.
              <br>
              You may only make a verifiable consumer request for access or data portability twice within a 12-month period. The verifiable consumer request must:
              <ul class="List_items_decoration">
                <li>Provide sufficient information that allows us to reasonably verify you are the person about whom
                  we collected personal information or an authorized representative.</li>
                <li>Describe your request with sufficient detail that allows us to properly understand, evaluate, and
                    respond to it.</li>
              </ul>
              We cannot respond to your request or provide you with personal information if we cannot verify your identity or authority to make the request and confirm the personal information relates to you.
              <br>
              Making a verifiable consumer request does not require you to create an account with us. However, we do consider requests made through your password protected account sufficiently verified when the request relates to personal information associated with that specific account. We will only use personal information provided in a verifiable consumer request to verify the requestor's identity or authority to make the request.
              <br>
              <br>

              <h4 class=""><i><b>Response Timing and Format</b></i></h4>
              We will work hard to respond to a verifiable consumer request within thirty (30) days of its receipt and verification. If we require more time (up to 60 days), we will inform you of the reason and extension period in writing.
              <br>
              If you have an account with us, we will deliver our written response to that account. If you do not have an account with us, we will deliver our written response by mail or electronically, at your option.
              <br>
              Any disclosures we provide will only cover the 12-month period preceding the verifiable consumer request's receipt. The response we provide will also explain the reasons we cannot comply with a request, if applicable. For data portability requests, we will select a format to provide your personal information that is readily useable and should allow you to transmit the information from one entity to another entity without hindrance, as the particular case may require.
              <br>
              We do not charge a fee to process or respond to your verifiable consumer request unless it is excessive, repetitive, or manifestly unfounded. If we determine that the request warrants a fee, we will tell you why we made that decision and provide you with a cost estimate before completing your request and incurring charges.

              <br>
              <br>
              <h4 class="text-center"><u><b>Non-Discrimination</b></u></h4>
              We will not discriminate against you for exercising any of your CCPA rights. Unless permitted by the CCPA, we will not:
              <ul class="List_items_decoration">
                <li>Deny you goods or services.</li>
                <li>Charge you different prices or rates for goods or services, including through granting discounts
                  or other benefits, or imposing penalties.</li>
                <li>Provide you a different level or quality of goods or services.</li>
                <li>
                  Suggest that you may receive a different price or rate for goods or services or a different level
                    or quality of goods or services.
                </li>
              </ul>
              <br>
              <h4 class="text-center"><u><b>Other California Privacy Rights</b></u></h4>
              California's "Shine the Light" law (Civil Code Section § 1798.83) permits users of our Website that are California residents to request certain information regarding our disclosure of personal information to third parties for their direct marketing purposes. To make such a request, please send an email to privacy@quickcard.me or write us at:
              <ul class="">
                <p>QuickCard</p>
                <p>8880 Rio San Diego Drive, Suite 102</p>
                <p>San Diego, California 92108</p>
              </ul>
              <br>
              <h4 class="text-center"><u><b>Changes to Our Privacy Notice</b></u></h4>
              QuickCard reserves the right to amend this privacy notice at our discretion and at any time. When we make changes to this privacy notice, we will post the updated notice on the Website and update the notice's effective date. <b>Your continued use of our services or website following the posting of changes constitutes your acceptance of such changes.</b>
              <br>
              <br>
              <h4 class="text-center"><u><b>Contact Information</b></u></h4>
              If you have any questions or comments about this notice, the ways in which QuickCard collects and uses your information described herein, your choices and rights regarding such use, or wish to exercise your rights under California law, please do not hesitate to contact us at:
              <ul class="">
                <p>QuickCard </p>
                <p>8880 Rio San Diego Drive, Suite 102</p>
                <p>San Diego, California 92108</p>
              </ul>
              Our services are not directed to individuals under the age of thirteen (13), and we request that they not provide any personal data or information through our website, platform or services.
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>