
<a href="#" id="nav-button">
      <span>
        NAV
        <!--        <img src="images/navbar.png" class="logo" alt="Navbar"/>-->
      </span>
</a>
<div class="toc-wrapper">
  <!--    <img src="admins/checkout/QCLogo.png" id="logo" alt="Logo"/>-->
  <%= image_tag "QCLogo.png",id:"logo" %>
  <div class="lang-selector">
    <a href="#" data-language-name="shell">Curl</a>
    <a href="#" data-language-name="ruby">Ruby</a>
    <a href="#" data-language-name="python">PHP</a>
<!--    <a href="#" data-language-name="javascript">javascript</a>-->
  </div>
  <div class="search">
    <input type="text" class="search" id="input-search" placeholder="Search">
  </div>
  <ul class="search-results"></ul>
  <ul id="toc" class="toc-list-h1">
    <li>
      <a href="#introduction" class="toc-h1 toc-link" data-title="Introduction">Introduction</a>
    </li>
    <li>
      <a href="#authentication" class="toc-h1 toc-link" data-title="Authentication">Authentication</a>
    </li>
    <li>
      <a href="#checkout" class="toc-h1 toc-link" data-title="checkout">Checkout</a>
      <ul class="toc-list-h2">
        <li>
          <a href="#all-query" class="toc-h2 toc-link" data-title="Get All Kittens">All Query Parameters</a>
        </li>
        <!--                <li>-->
        <!--                    <a href="#get-a-specific-kitten" class="toc-h2 toc-link" data-title="Get a Specific Kitten">Get a-->
        <!--                        Specific Kitten</a>-->
        <!--                </li>-->
        <!--                <li>-->
        <!--                    <a href="#delete-a-specific-kitten" class="toc-h2 toc-link" data-title="Delete a Specific Kitten">Delete-->
        <!--                        a Specific Kitten</a>-->
        <!--                </li>-->
      </ul>
    </li>
    <!--        <li>-->
    <!--            <a href="#errors" class="toc-h1 toc-link" data-title="Errors">Errors</a>-->
    <!--        </li>-->
  </ul>
  <!--    <ul class="toc-footer">-->
  <!--        <li><a href='#'>Sign Up for a Developer Key</a></li>-->
  <!--        <li><a href='https://github.com/lord/slate'>Documentation Powered by Slate</a></li>-->
  <!--    </ul>-->
</div>
<div class="page-wrapper">
  <div class="dark-box"></div>
  <div class="content">
    <h1 id='introduction'>Introduction</h1>
    <p>Welcome to the QuickCard API! You can use our API to access Checkout API endpoints,This APIs provide
      programmatic access create transactions via QuickCard 3ds.</p>

    <p>The response is return in one time link that automatically expires after 60 mintues.</p>

    <p>We have language bindings in Ruby, Curl, and PHP! You can view code examples in the dark area to the right,
      and you can switch the programming language of the examples with the tabs in the top right.</p>

    <h1 id='authentication'>Authentication</h1>
    <blockquote>
      <p>To authorize, use this code:</p>
    </blockquote>
    <!--      ruby access code-->
    <pre class="highlight ruby tab-ruby"><code>
require 'net/https'
require 'uri'
require 'json'
def get_access_token()
  uri = URI("<%= ENV["APP_ROOT"] %>/oauth/token/retrieve")
  https = Net::HTTP.new(uri.host, uri.port)
  https.use_ssl = true
  req = Net::HTTP::Post.new(uri.path)
  req.set_form_data({
    'client_id' => 'IDe4be8942267df8f926f33ad3f4bd5dc1d5a51cf3',
    'client_secret' => 'SEec0e619fc0649804750aa79d661057237c381985',
  })
  res = https.request(req)
  return JSON.parse(res.body)
end
puts get_access_token()
</code></pre>
    <!--          ruby access code-->
    <!-- =====================    PHP CODE  access-->
    <pre class="highlight python tab-python"><code data-language="php">
function getAccessToken($client_id, $client_secret, $location_secure_token)
  {
      $param = array(
          'client_id' => $client_id,
          'client_secret' => $client_secret,
          'location_id' => $location_secure_token
      );
      $endpoint = '/oauth/token/retrieve';
      $response = $this->curl($param, $endpoint);
      error_log(print_r($response, true));
      if ($response && $response["access_token"] && $response["payment_gateway"]){
          return $response;
      } else{
          return "Unauthorized";
      }
  }
</code></pre>
    <!-- =====================    PHP CODE access-->
    <!--      curl code access-->
    <pre class="highlight shell tab-shell"><code>
curl --location --request POST
          '<%= ENV["APP_ROOT"] %>/oauth/token/retrieve' \
--header 'Content-Type: multipart/form-data; boundary=206258197910625456272861' \
--form 'client_id=IDe4be8942267df8f926f33ad3f4bd5dc1d5a51cf3' \
--form 'client_secret=SEec0e619fc0649804750aa79d661057237c381985' \
--form 'location_id=/C5oG4qocCMJQg=='
</code></pre>
    <!--      curl code access-->
    <!--        <pre class="highlight javascript tab-javascript"><code><span class="kr">const</span> <span-->
    <!--                class="nx">kittn</span> <span class="o">=</span> <span class="nx">require</span><span class="p">(</span><span-->
    <!--                class="s1">'kittn'</span><span class="p">);</span>-->

    <!--<span class="kd">let</span> <span class="nx">api</span> <span class="o">=</span> <span class="nx">kittn</span><span-->
    <!--                    class="p">.</span><span class="nx">authorize</span><span class="p">(</span><span class="s1">'123xcx123'</span><span-->
    <!--                    class="p">);</span>-->
    <!--</code></pre>-->
    <blockquote>
      <p>Note: This is required to use Checkout API</p>
    </blockquote>

    <p>Checkout expects for the auth_token to be included in all API requests to the server in a header that looks
      like the following:</p>

    <p><code> "access_token": "b36b7333d2fbbe4a0b40333be633383b2a063333",</code></p>

    <p>In order to get your auth_token you have to send a request on this <br><code>http://admin.quickcard.me/oauth/token/retrieve</code>
      with 'client_id' and 'client_secret'.</p>

    <p><code> client_id: "333b7333d2fbbe4a0b40333be63338063333"</br>client_secret:
      "333b17333d2fbbe4a0b40333b338063333"</code></p>

    <aside class="notice">
      You must replace <code>"333b7333d2fbbe4a0b40333be63338063333"</code> with your personal API key.
    </aside>
    <h1 id='checkout'>Checkout</h1>
    <h2 id='all-query'>Checkout 3ds</h2>
    <!--      ruby code  -->
    <pre class="highlight ruby tab-ruby"><code>
require 'net/https'
require 'uri'
require 'json'
def get_checkout_link()
    uri = URI("<%= ENV["APP_ROOT"] %>/api/checkout/get_product_info")
    https = Net::HTTP.new(uri.host, uri.port)
    https.use_ssl = true
    req = Net::HTTP::Post.new(uri.path)
    req.set_form_data({
    'auth_token' => 'b66433455438f1332192c9c4e319169ab35ad576',
        'shipping[name]' => 'Talha Mahmood',
        'shipping[email]' => 'talha@techcreatix.com',
        'shipping[phone_number]' => '923004466823',
        'shipping[street]' => 'street14',
        'shipping[city]' => 'Lahore',
        'shipping[state]' => 'Punjab',
        'shipping[country]' => 'Pakistan',
        'shipping[zip]' => '54000',
        'billing[name]' => 'Talha Mahmood',
        'billing[email]' => 'talha@techcreatix.com',
        'billing[phone_number]' => '923004466823',
        'billing[street]' => 'street14',
        'billing[city]' => 'Lahore',
        'billing[state]' => 'Punjab',
        'billing[country]' => 'Pakistan',
        'billing[zip]' => '54000',
    'products[0][name]' => 'IPhone-11',
    'products[0][description]' => 'Apple IPhone',
    'products[0][amount]' => '1555',
    'products[0][quantity]' => '1',
    'products[0][website_url]' => 'https://your-website.com/',
    'website_url' => 'https://merchant-website-url.com/',
    'success_url' => 'https://success-url.com/',
    'fail_url' => 'https://fail-url.com/',
    'redirect_url' => 'https://fail-url.com/',
    'order_id' => '08',
    'total_amount' => '780',
    'total_tax' => '150',
    'location_id' => 'Om3prICNyfp4HA',
    })
    res = https.request(req)
    return JSON.parse(res.body)
end
puts get_checkout_link()
</code></pre>
    <!--      ruby  code-->
    <!--      php code -->
    <pre class="highlight python tab-python"><code>
<span class="c">// Shipping Details</span>
$params  = 'shipping[name]=JhonAdam';
$params .= '&shipping[email]=Jhonadam@mail.com';
$params .= '&shipping[phone_number]=920000000000';
$params .= '&shipping[street]=4561 Southside Lane';
$params .= '&shipping[city]=Los Angeles';
$params .= '&shipping[state]=US';
$params .= '&shipping[country]=CA';
$params .= '&shipping[zip]=90045';

<span class="c">// Billing Details</span>
$params .= '&billing[name]=JhonAdam';
$params .= '&billing[email]=Jhonadam@mail.com';
$params .= '&billing[phone_number]=920000000000';
$params .= '&billing[street]=920000000000';
$params .= '&billing[city]=4561 Southside Lane';
$params .= '&billing[state]=US';
$params .= '&billing[country]=CA';
$params .= '&billing[zip]=90045';

<span class="c">//Products Details</span>
$params .= '&products[0][name]=IPhone-11';
$params .= '&products[0][description]=Apple IPhone';
$params .= '&products[0][amount]=1555';
$params .= '&products[0][quantity]=1';
$params .= '&products[0][website_url]=https://your-website.com/';

<span class="c">// Total Amount and toat tax</span>
$params .= '&total_amount=1555.00';
$params .= '&total_tax=0';

<span class="c">// Auth Token and order ID</span>
$params .= '&auth_token=f48a32....';
$params .= '&order_id=1';

<span class="c">// Back URLs</span>
$params .= '&website_url=http://52.38.237.136/wordpress';
$params .= '&success_url=https://your-website.com/successPage';
$params .= '&fail_url=https://your-website.com/failurPage';
$params .= '&ampnotify_url=https://your-website.com/notifyPage';
$params .= '&redirect_url=https://your-edit_website.com/editBilling_Shipping';

$endpoint = '/api/checkout/get_product_info?'.$params;

$param = array(
    'location_id' => $location_id
    )
curl($param, $endpoint)
</code></pre>
    <!--      php code-->
    <!--          CURL API CODE-->
    <pre class="highlight shell tab-shell"><code>
curl --location --request POST
          '<%= ENV["APP_ROOT"] %>/api/checkout/get_product_info?
shipping[name]=JhonAdam
&shipping[email]=Jhonadam@mail.com
&shipping[phone_number]=920000000000
&shipping[street]=4561%20Southside%20Lane
&shipping[city]=Los%20Angeles
&shipping[state]=US
&shipping[country]=CA
&shipping[zip]=90045
&billing[name]=JhonAdam
&billing[email]=Jhonadam@mail.com
&billing[phone_number]=920000000000
&billing[street]=4561%20Southside%20Lane
&billing[city]=Los%20Angeles
&billing[state]=US
&billing[country]=CA
&billing[zip]=90045
&products[0][name]=IPhone-11
&products[0][description]=Apple%20IPhone%20
&products[0][amount]=1555
&products[0][quantity]=1
&products[0][website_url]=https://your-website.com/
&total_amount=1555.00
&total_tax=0
&auth_token=f48a32....
&order_id=1
&website_url=http://52.38.237.136/wordpress
&success_url=SuccessURL
&fail_url=FailurURL
&redirect_url=EditURL
&ampnotify_url=NotifyURL' \
--header 'Content-Type: application/x-www-form-urlencoded' \
--data-raw ''
</code></pre>
    <!--      CURL API CODE-->
    <!--        <pre class="highlight javascript tab-javascript"><code><span class="kr">const</span> <span-->
    <!--                class="nx">kittn</span> <span class="o">=</span> <span class="nx">require</span><span class="p">(</span><span-->
    <!--                class="s1">'kittn'</span><span class="p">);</span>-->

    <!--<span class="kd">let</span> <span class="nx">api</span> <span class="o">=</span> <span class="nx">kittn</span><span-->
    <!--                    class="p">.</span><span class="nx">authorize</span><span class="p">(</span><span class="s1">'123xcx123'</span><span-->
    <!--                    class="p">);</span>-->
    <!--<span class="kd">let</span> <span class="nx">kittens</span> <span class="o">=</span> <span class="nx">api</span><span-->
    <!--                    class="p">.</span><span class="nx">kittens</span><span class="p">.</span><span class="nx">get</span><span-->
    <!--                    class="p">();</span>-->
    <!--</code></pre>-->
    <blockquote>
      <p>The above command returns JSON structured like this:</p>
    </blockquote>
    <pre class="highlight json tab-json"><code>
{"redirect_url":"<%= ENV["APP_ROOT"] %>
          /checkout/checkout_new?
          "responseHash",
          "success":true,
          "status":"approved"
          }
</code></pre>
    <p>This endpoint do the transaction.</p>
    <h3 id='http-request'>HTTP Request</h3>
    <p><code>Post http://admin.quickcard.me/api/checkout/get_product_info</code></p>
    <h3 id='query-parameters'>Query Parameters</h3>
    <table>
      <thead>
      <tr>
        <th>Parameter</th>
        <th>Description</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td>auth_token</td>
        <td>The authorization id for this Transaction.</td>
      </tr>
      <tr>
        <td>shipping[name]</td>
        <td>The shipping name associated with this Customer.</td>
      </tr>
      <tr>
        <td>shipping[email]</td>
        <td>
          The email address of this Customer.
        </td>
      </tr>
      <tr>
        <td>shipping[phone_number]</td>
        <td>
          The shipping phone number associated with this Transaction.
        </td>
      </tr>
      <tr>
        <td>shipping[street]</td>
        <td>
          The address associated with this Customer.
        </td>
      </tr>
      <tr>
        <td>shipping[city]</td>
        <td>
          The shipping name of the city in the address associated with this Customer.
        </td>
      </tr>
      <tr>
        <td>shipping[state]</td>
        <td>
          The state associated with this Customer. If in the U.S. this is specified as the 2 character postal
          abbreviation for the state, if outside of the U.S. the full state name.
        </td>
      </tr>
      <tr>
        <td>shipping[country]</td>
        <td>
          The country associated with this Customer. Valid values for this field is the 3-letter ISO code for
          the country.
        </td>
      </tr>
      <tr>
        <td>shipping[zip]</td>
        <td>
          The ZIP code in the address associated with this Customer.
        </td>
      </tr>
      <tr>
        <td>billing[name]</td>
        <td>
          The billing name associated with this Customer.
        </td>
      </tr>
      <tr>
        <td>billing[email]</td>
        <td>
          The email address for billing.
        </td>
      </tr>
      <tr>
        <td>billing[phone_number]</td>
        <td>
          The billing phone number.
        </td>
      </tr>
      <tr>
        <td>billing[street]</td>
        <td>
          The address for billing.
        </td>
      </tr>
      <tr>
        <td>billing[city]</td>
        <td>
          The name of city for billing.
        </td>
      </tr>
      <tr>
        <td>billing[state]</td>
        <td>
          The name of state for billing.
        </td>
      </tr>
      <tr>
        <td>billing[country]</td>
        <td>
          The country name for billing.
        </td>
      </tr>
      <tr>
        <td>billing[zip]</td>
        <td>
          The ZIP code in the address associated with this Customer.
        </td>
      </tr>
      <tr>
        <td>products[0][name]</td>
        <td>
          The name of product.
        </td>
      </tr>
      <tr>
        <td>products[0][description]</td>
        <td>
          Description of the product.
        </td>
      </tr>
      <tr>
        <td>products[0][amount]</td>
        <td>
          The amount of product.
        </td>
      </tr>
      <tr>
        <td>products[0][quantity]</td>
        <td>
          Quantity of product.
        </td>
      </tr>
      <tr>
        <td>products[0][website_url]</td>
        <td>
          A URL of a publicly-accessible webpage for this product.
        </td>
      </tr>
      <tr>
        <td>website_url</td>
        <td>
          Merchant website URL.
        </td>
      </tr>
      <tr>
        <td>success_url</td>
        <td>
          Redirection in case of successful.
        </td>
      </tr>
      <tr>
        <td>fail_url</td>
        <td>
          Redirection in case of failure.
        </td>
      </tr>
      <tr>
        <td>redirect_url</td>
        <td>
          URL for edit billing and shiping information.
        </td>
      </tr>
      <tr>
        <td>order_id</td>
        <td>
          The order id.
        </td>
      </tr>
      <tr>
        <td>total_amount</td>
        <td>
          The total amount, including tax.
        </td>
      </tr>
      <tr>
        <td>total_tax</td>
        <td>
          The amount of the total sum of this Transaction that is made up of tax.
        </td>
      </tr>
      <tr>
        <td>location_id</td>
        <td>
          The Location Key must be provided in request body form-data.
        </td>
      </tr>
      </tbody>
    </table>

    <aside class="notice">
      All these parameters are required.
    </aside>
    <!--        <h2 id='get-a-specific-kitten'>Get a Specific Kitten zair</h2>-->
    <!--        <pre class="highlight ruby tab-ruby"><code><span class="nb">require</span> <span class="s1">'kittn'</span>-->

    <!--<span class="n">api</span> <span class="o">=</span> <span class="no">Kittn</span><span class="o">::</span><span-->
    <!--                    class="no">APIClient</span><span class="p">.</span><span class="nf">authorize!</span><span-->
    <!--                    class="p">(</span><span class="s1">'meowmeowmeow'</span><span class="p">)</span>-->
    <!--<span class="n">api</span><span class="p">.</span><span class="nf">kittens</span><span class="p">.</span><span-->
    <!--                    class="nf">get</span><span class="p">(</span><span class="mi">2</span><span class="p">)</span>-->
    <!--</code></pre>-->
    <!--        <pre class="highlight python tab-python"><code><span class="kn">import</span> <span class="nn">kittn</span>-->

    <!--<span class="n">api</span> <span class="o">=</span> <span class="n">kittn</span><span class="o">.</span><span class="n">authorize</span><span-->
    <!--                    class="p">(</span><span class="s">'meowmeowmeow'</span><span class="p">)</span>-->
    <!--<span class="n">api</span><span class="o">.</span><span class="n">kittens</span><span class="o">.</span><span class="n">get</span><span-->
    <!--                    class="p">(</span><span class="mi">2</span><span class="p">)</span>-->
    <!--</code></pre>-->
    <!--        <pre class="highlight shell tab-shell"><code>curl <span class="s2">"http://example.com/api/kittens/2"</span>-->
    <!--  -H <span class="s2">"Authorization: meowmeowmeow"</span>-->
    <!--</code></pre>-->
    <!--        <pre class="highlight javascript tab-javascript"><code><span class="kr">const</span> <span-->
    <!--                class="nx">kittn</span> <span class="o">=</span> <span class="nx">require</span><span class="p">(</span><span-->
    <!--                class="s1">'kittn'</span><span class="p">);</span>-->

    <!--<span class="kd">let</span> <span class="nx">api</span> <span class="o">=</span> <span class="nx">kittn</span><span-->
    <!--                    class="p">.</span><span class="nx">authorize</span><span class="p">(</span><span class="s1">'meowmeowmeow'</span><span-->
    <!--                    class="p">);</span>-->
    <!--<span class="kd">let</span> <span class="nx">max</span> <span class="o">=</span> <span class="nx">api</span><span-->
    <!--                    class="p">.</span><span class="nx">kittens</span><span class="p">.</span><span class="nx">get</span><span-->
    <!--                    class="p">(</span><span class="mi">2</span><span class="p">);</span>-->
    <!--</code></pre>-->
    <!--        <blockquote>-->
    <!--            <p>The above command returns JSON structured like this:</p>-->
    <!--        </blockquote>-->
    <!--        <pre class="highlight json tab-json"><code><span class="p">{</span><span class="w">-->
    <!--  </span><span class="s2">"id"</span><span class="p">:</span><span class="w"> </span><span class="mi">2</span><span-->
    <!--                class="p">,</span><span class="w">-->
    <!--  </span><span class="s2">"name"</span><span class="p">:</span><span class="w"> </span><span-->
    <!--                class="s2">"Max"</span><span class="p">,</span><span class="w">-->
    <!--  </span><span class="s2">"breed"</span><span class="p">:</span><span class="w"> </span><span-->
    <!--                class="s2">"unknown"</span><span class="p">,</span><span class="w">-->
    <!--  </span><span class="s2">"fluffiness"</span><span class="p">:</span><span class="w"> </span><span-->
    <!--                class="mi">5</span><span class="p">,</span><span class="w">-->
    <!--  </span><span class="s2">"cuteness"</span><span class="p">:</span><span class="w"> </span><span-->
    <!--                class="mi">10</span><span class="w">-->
    <!--</span><span class="p">}</span><span class="w">-->
    <!--</span></code></pre>-->
    <!--        <p>This endpoint retrieves a specific kitten.</p>-->

    <!--        <aside class="warning">Inside HTML code blocks like this one, you can't use Markdown, so use-->
    <!--            <code>&lt;code&gt;</code> blocks to denote code.-->
    <!--        </aside>-->
    <!--        <h3 id='http-request-2'>HTTP Request</h3>-->
    <!--        <p><code>GET http://example.com/kittens/&lt;ID&gt;</code></p>-->
    <!--        <h3 id='url-parameters'>URL Parameters</h3>-->
    <!--        <table>-->
    <!--            <thead>-->
    <!--            <tr>-->
    <!--                <th>Parameter</th>-->
    <!--                <th>Description</th>-->
    <!--            </tr>-->
    <!--            </thead>-->
    <!--            <tbody>-->
    <!--            <tr>-->
    <!--                <td>ID</td>-->
    <!--                <td>The ID of the kitten to retrieve</td>-->
    <!--            </tr>-->
    <!--            </tbody>-->
    <!--        </table>-->
    <!--        <h2 id='delete-a-specific-kitten'>Delete a Specific Kitten</h2>-->
    <!--        <pre class="highlight ruby tab-ruby"><code><span class="nb">require</span> <span class="s1">'kittn'</span>-->

    <!--<span class="n">api</span> <span class="o">=</span> <span class="no">Kittn</span><span class="o">::</span><span-->
    <!--                    class="no">APIClient</span><span class="p">.</span><span class="nf">authorize!</span><span-->
    <!--                    class="p">(</span><span class="s1">'meowmeowmeow'</span><span class="p">)</span>-->
    <!--<span class="n">api</span><span class="p">.</span><span class="nf">kittens</span><span class="p">.</span><span-->
    <!--                    class="nf">delete</span><span class="p">(</span><span class="mi">2</span><span class="p">)</span>-->
    <!--</code></pre>-->
    <!--        <pre class="highlight python tab-python"><code><span class="kn">import</span> <span class="nn">kittn</span>-->

    <!--<span class="n">api</span> <span class="o">=</span> <span class="n">kittn</span><span class="o">.</span><span class="n">authorize</span><span-->
    <!--                    class="p">(</span><span class="s">'meowmeowmeow'</span><span class="p">)</span>-->
    <!--<span class="n">api</span><span class="o">.</span><span class="n">kittens</span><span class="o">.</span><span class="n">delete</span><span-->
    <!--                    class="p">(</span><span class="mi">2</span><span class="p">)</span>-->
    <!--</code></pre>-->
    <!--        <pre class="highlight shell tab-shell"><code>curl <span class="s2">"http://example.com/api/kittens/2"</span>-->
    <!--  -X DELETE-->
    <!--  -H <span class="s2">"Authorization: meowmeowmeow"</span>-->
    <!--</code></pre>-->
    <!--        <pre class="highlight javascript tab-javascript"><code><span class="kr">const</span> <span-->
    <!--                class="nx">kittn</span> <span class="o">=</span> <span class="nx">require</span><span class="p">(</span><span-->
    <!--                class="s1">'kittn'</span><span class="p">);</span>-->

    <!--<span class="kd">let</span> <span class="nx">api</span> <span class="o">=</span> <span class="nx">kittn</span><span-->
    <!--                    class="p">.</span><span class="nx">authorize</span><span class="p">(</span><span class="s1">'meowmeowmeow'</span><span-->
    <!--                    class="p">);</span>-->
    <!--<span class="kd">let</span> <span class="nx">max</span> <span class="o">=</span> <span class="nx">api</span><span-->
    <!--                    class="p">.</span><span class="nx">kittens</span><span class="p">.</span><span-->
    <!--                    class="k">delete</span><span class="p">(</span><span class="mi">2</span><span class="p">);</span>-->
    <!--</code></pre>-->
    <!--        <blockquote>-->
    <!--            <p>The above command returns JSON structured like this:</p>-->
    <!--        </blockquote>-->
    <!--        <pre class="highlight json tab-json"><code><span class="p">{</span><span class="w">-->
    <!--  </span><span class="s2">"id"</span><span class="p">:</span><span class="w"> </span><span class="mi">2</span><span-->
    <!--                class="p">,</span><span class="w">-->
    <!--  </span><span class="s2">"deleted"</span><span class="w"> </span><span class="p">:</span><span class="w"> </span><span-->
    <!--                class="s2">":("</span><span class="w">-->
    <!--</span><span class="p">}</span><span class="w">-->
    <!--</span></code></pre>-->
    <!--        <p>This endpoint deletes a specific kitten.</p>-->
    <!--        <h3 id='http-request-3'>HTTP Request</h3>-->
    <!--        <p><code>DELETE http://example.com/kittens/&lt;ID&gt;</code></p>-->
    <!--        <h3 id='url-parameters-2'>URL Parameters</h3>-->
    <!--        <table>-->
    <!--            <thead>-->
    <!--            <tr>-->
    <!--                <th>Parameter</th>-->
    <!--                <th>Description</th>-->
    <!--            </tr>-->
    <!--            </thead>-->
    <!--            <tbody>-->
    <!--            <tr>-->
    <!--                <td>ID</td>-->
    <!--                <td>The ID of the kitten to delete</td>-->
    <!--            </tr>-->
    <!--            </tbody>-->
    <!--        </table>-->
    <!--        <h1 id='errors'>Errors</h1>-->
    <!--        <aside class="notice">-->
    <!--            All the possible errors-->
    <!--        </aside>-->

    <!--        <p>The checkout API uses the following error codes:</p>-->

    <!--        <table>-->
    <!--            <thead>-->
    <!--            <tr>-->
    <!--                <th>Error Code</th>-->
    <!--                <th>Meaning</th>-->
    <!--            </tr>-->
    <!--            </thead>-->
    <!--            <tbody>-->
    <!--            <tr>-->
    <!--                <td>400</td>-->
    <!--                <td>Bad Request &#45;&#45; Your request is invalid.</td>-->
    <!--            </tr>-->
    <!--            <tr>-->
    <!--                <td>401</td>-->
    <!--                <td>Unauthorized &#45;&#45; Your API key is wrong.</td>-->
    <!--            </tr>-->
    <!--            <tr>-->
    <!--                <td>403</td>-->
    <!--                <td>Forbidden &#45;&#45; The checkout requested is hidden for administrators only.</td>-->
    <!--            </tr>-->
    <!--            <tr>-->
    <!--                <td>404</td>-->
    <!--                <td>Not Found &#45;&#45; The specified checkout could not be found.</td>-->
    <!--            </tr>-->
    <!--            <tr>-->
    <!--                <td>405</td>-->
    <!--                <td>Method Not Allowed &#45;&#45; You tried to access a checkout with an invalid method.</td>-->
    <!--            </tr>-->
    <!--            <tr>-->
    <!--                <td>406</td>-->
    <!--                <td>Not Acceptable &#45;&#45; You requested a format that isn&#39;t json.</td>-->
    <!--            </tr>-->
    <!--            <tr>-->
    <!--                <td>410</td>-->
    <!--                <td>Gone &#45;&#45; The checkout requested has been removed from our servers.</td>-->
    <!--            </tr>-->
    <!--            <tr>-->
    <!--                <td>418</td>-->
    <!--                <td>I&#39;m a teapot.</td>-->
    <!--            </tr>-->
    <!--            <tr>-->
    <!--                <td>500</td>-->
    <!--                <td>Internal Server Error &#45;&#45; We had a problem with our server. Try again later.</td>-->
    <!--            </tr>-->
    <!--            <tr>-->
    <!--                <td>503</td>-->
    <!--                <td>Service Unavailable &#45;&#45; We&#39;re temporarily offline for maintenance. Please try again later.</td>-->
    <!--            </tr>-->
    <!--            </tbody>-->
    <!--        </table>-->

  </div>
  <div class="dark-box">
    <div class="lang-selector">
      <a href="#" data-language-name="shell">Curl</a>
      <a href="#" data-language-name="ruby">Ruby</a>
      <a href="#" data-language-name="python">PHP</a>
      <!--            <a href="#" data-language-name="javascript">javascript</a>-->
    </div>
  </div>
</div>
