<%= stylesheet_link_tag "v2/checkout/checkout1" %>

<center>
  <div class="checkout_box">
    <div class="row">
      <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12 pr-0 mr-0">
        <center>
          <%= image_tag 'v2/merchant/checkout/logoQC.svg', class: 'invoice_checkout_logo' %>
        </center>

        <div class="box1">
          <div class="row mt-4">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 mt-5">
              <div class="text-center">
                <div class="m-wizard m-wizard--2 m-wizard--success" id="m_wizard">
                  <div class="m-portlet__padding-x">
                  </div>
                  <div class="m-wizard__head m-portlet__padding-x">
                    <div class="m-wizard__progress">
                      <div class="progress">
                        <div class="progress-bar" id="wizard-progress-bar" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
                      </div>
                    </div>
                    <div class="m-wizard__nav">
                      <div class="m-wizard__steps">
                        <div class="m-wizard__step m_wizard_form_step_1 m-wizard__step--current" m-wizard-target="m_wizard_form_step_1">
                          <a href="#" class="m-wizard__step-number" data-toggle="m-popover" data-placement="top" data-content="<div class='text-center'><span>Step 1</span><br><span class='pop_term_service'>Billing Information</span></div>" data-html="true" id="welcome_popover">
                            <span>
                              <i class="fa fa-check"></i>
                              <div class="wizard_dot"></div>
                            </span>
                          </a>
                        </div>
                        <div class="m-wizard__step m_wizard_form_step_2" m-wizard-target="m_wizard_form_step_2">
                          <a href="#" class="m-wizard__step-number" data-toggle="m-popover" data-placement="top" data-content="<div class='text-center'><span>Step 2</span><br><span class='pop_term_service'>Shipping Information</span></div>" data-html="true" id="step1_popover">
                            <span>
                             <i class="fa fa-check"></i>
                               <div class="wizard_dot"></div>
                            </span>
                          </a>
                        </div>
                        <div class="m-wizard__step m_wizard_form_step_3" m-wizard-target="m_wizard_form_step_3">
                          <a href="#" class="m-wizard__step-number" data-toggle="m-popover" data-placement="top" data-content="<div class='text-center'><span>Step 3</span><br><span class='pop_term_service'>Card Information</span></div>" data-html="true" id="step2_popover">
                            <span>
                              <i class="fa fa-check"></i>
                               <div class="wizard_dot"></div>
                            </span>
                          </a>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="m-wizard__form">
<!--                    <form class="m-form m-form--label-align-left- m-form--state-" id="m_form">-->
                      <div class="m-portlet__body">
                        <div class="m-wizard__form-step m_wizard_formm_step_1 m-wizard__form-step--current" id="m_wizard_form_step_1">
                          <div class="text--center">
                            <%= render partial: "billing_information" %>
                          </div>
                        </div>
                        <div class="m-wizard__form-step m_wizard_formm_step_2" id="m_wizard_form_step_2">
                          <%= render partial: "shipping_information" %>
                        </div>
                        <div class="m-wizard__form-step m_wizard_formm_step_3" id="m_wizard_form_step_3">
                          <%= render partial: "card_information" %>
                        </div>

                      </div>
                      <div class="m-portlet__foot m-portlet__foot--fit m--margin-top-40">
                        <div class="m-form__actions">
                          <div class="row">
                            <div class="col-lg-12">

                            </div>
                          </div>
                        </div>
                      </div>
<!--                    </form>-->
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="footer_left_image">
            <%= image_tag 'v2/merchant/checkout/footer_image.svg' %>
          </div>
          <div class="footer_box">
            <div class="powerd_by_checkout mt-3">
              Powered by
              <%= image_tag 'v2/green_box_logo.svg', class: 'footer_quickcard' %>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 pl-0 ml-0">
        <div class="box2">
          <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 mb-2">
              <div class="products-heading_checkout">
                Product List
              </div>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 mt-4">
              <div class="products_list_height">
                <% @products.each do |p|%>
                  <div class="row mt-4">
                    <div class="col-lg-2 col-md-2 col-sm-3 col-xs-2">
                      <div class="product_box_checkout"><%= p.quantity %>x</div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                      <div class="product_name_checkout">
                        <%= p.name %>
                      </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-3 col-xs-4">
                      <div class="product_price_checkout">
                        $<%= number_with_precision(p.amount, precision: 2) %> /ea
                      </div>
                    </div>
                  </div>
                <% end %>
              </div>
            </div>
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
              <hr>
            </div>
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
              <div class="row">
                <div class="col-lg-7 col-md-7 col-sm-7 col-xs-7">
                  <div class="Shipping-Handling">Subtotal</div>
                </div>
                <div class="col-lg-5 col-md-5 col-sm-5 col-xs-5">
                  <div class="Shipping-price">$ <%= number_with_precision(@transaction.amount, precision: 2) %></div>
                </div>
              </div>
              <div class="row mt-3">
                <div class="col-lg-7 col-md-7 col-sm-7 col-xs-7">
                  <div class="Shipping-Handling">Shipping & Handling</div>
                </div>
                <div class="col-lg-5 col-md-5 col-sm-5 col-xs-5">
                  <div class="Shipping-price">$  <%= number_with_precision(@transaction.shipping_amount, precision: 2) %></div>
                </div>
              </div>
              <div class="row mt-3">
                <div class="col-lg-7 col-md-7 col-sm-7 col-xs-7">
                  <div class="Shipping-Handling">Discounts</div>
                </div>
                <div class="col-lg-5 col-md-5 col-sm-5 col-xs-5">
                  <div class="Shipping-price">$ <%= number_with_precision(@request.discount_method == "dollar" ? @request.discount : (@request.discount.to_f / 100) * @request.amount.to_f, precision: 2)  %></div>
                </div>
              </div>
              <div class="row mt-3">
                <div class="col-lg-7 col-md-7 col-sm-7 col-xs-7">
                  <div class="Shipping-Handling">Taxes</div>
                </div>
                <div class="col-lg-5 col-md-5 col-sm-5 col-xs-5">
                  <% if @request.apply_tax? %>
                    <% tax_on_SH = (@request.tax.to_f / 100) * @request.shipping_handling_fee.to_f %>
                    <% @taxes = @request.tax_method == "percent" ? ((@request.tax.to_f / 100) * @request.amount.to_f) + tax_on_SH.to_f  : @request.tax %>
                  <% else %>
                    <% @taxes = (@request.tax.to_f / 100) * @request.amount.to_f %>
                  <% end %>
                  <div class="Shipping-price">$ <%= number_with_precision(@taxes, precision: 2)  %></div>
                </div>
              </div>
<!--              <div class="row mt-3">-->
<!--                <div class="col-lg-7 col-md-7 col-sm-7 col-xs-7">-->
<!--                  <div class="Shipping-Handling">Fees</div>-->
<!--                </div>-->
<!--                <div class="col-lg-5 col-md-5 col-sm-5 col-xs-5">-->
<!--                  <div class="Shipping-price">$ <%#= number_with_precision(@request.fee_method == "dollar" ? @request.fee : (@request.fee.to_f / 100) * @request.amount.to_f, precision: 2)  %></div>-->
<!--                </div>-->
<!--              </div>-->
            </div>
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 mt-2">
              <div class="row mt-4">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                  <p class="Grand-Total pull-left">
                    Grand Total
                  </p>
                  <p class="Grand-Price pull-right">
                    $ <%= number_with_precision(@transaction.total_amount, precision: 2) %>
                  </p>
                </div>
<!--                <div class="col-lg-7 col-md-7 col-sm-7 col-xs-7">-->

<!--                </div>-->
              </div>
            </div>
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
              <div class="terms">
                <label class="m-checkbox m-checkbox--state-brand pull-left mb-0">
                  <input type="checkbox" id="term_service" name="term_service" class="m-checkbox m-checkbox--state-brand">
                  <span class="verify_checkbox"></span>
                  <p>
                    I agree with the
                    <a href="#" id="myBtn1" data-toggle="modal" data-target="#m_modal_1">Terms of Service.</a>
                  </p>
                  <!--                  <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#m_modal_1">-->
                  <!--                    Launch Modal-->
                  <!--                  </button>-->
                </label>
                <label class="m-checkbox m-checkbox--state-brand pull-left mb-0">
                  <input type="checkbox" id="privacy" name="privacy" class="m-checkbox m-checkbox--state-brand">
                  <span class="verify_checkbox"></span>
                  <p>
                    I accept the
                    <a href="#" class="terms" id="myBtn2" data-toggle="modal" data-target="#privacy_policy">Privacy
                      Policy.</a>
                  </p>
                </label>
              </div>
              <div class="" id="pay_now">
                <button class="btn btn-pay mt-4 pointer--none" id="submit_b">Pay Now</button>
                <!--                    <button class="btn btn-pay mt-5" id="submit_b" disabled>Pay Now</button>-->
              </div>

            </div>
          </div>
          <div class="footer_responsive">
            <div class="powerd_by_responsive mt-3">
              Powered by
              <%= image_tag 'v2/merchant/checkout/logoQC_footer.svg', class: 'footer_quickcard' %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <%= render partial: "checkout_box_loader" %>
  <%= render partial: 'edit_section' %>
</center>
<%= render partial: 'term_service_modal' %>
<%= javascript_include_tag "v2/checkout/checkout1" %>
