<center>
  <div class="checkout_box">
    <div class="row">
      <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12 pr-0 mr-0">
        <%#= image_tag 'v2/merchant/checkout/logoQC.svg', class: 'checkout_logo' %>
        <div class="box1">
          <div class="row mt-4">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 mt-5">
              <div class="Were-almost-there">
                We're almost there...
              </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 mt-4 col_zindex">
              <p class="shipping_heading">Shipping Information</p>
              <div class="shipping_box">
                <div class="row">
                  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="pull-left">
                      <%= image_tag 'v2/merchant/checkout/alert.svg', class: 'pull-left mr-3'%>
                      <div class=" alert_text ml-5">
                        Before placing your order, please
                        review the information below.
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <hr>
                  </div>
                  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="row">
                      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 mt-2">
                        <p class="Contact-Information">Contact Information</p>
                        <p class="bold_text_checkout">
                          <%= @shipping_address.name %>
                        </p>
                      </div>
                      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 mt-2">
                        <p class="Contact-Information">Email</p>
                        <p class="bold_text_checkout">
                          <%= @shipping_address.email %>
                        </p>
                      </div>
                      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 mt-2">
                        <p class="Contact-Information">Phone</p>
                        <p class="bold_text_checkout">
                          <%= @shipping_address.phone_number %>
                        </p>
                      </div>
                      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 mt-2">
                        <p class="Contact-Information">Shipping Address</p>
                        <p class="bold_text_checkout">
                          <!--                          1234 Nowhere St, San Diego, CA<br>91234, USA-->
                          <%= "#{@shipping_address.street.try(:strip)}, #{@shipping_address.city.try(:strip)}, #{@shipping_address.state.try(:strip)} #{@shipping_address.zip} #{@shipping_address.country} "%>

                        </p>
                      </div>
                      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 mt-2">
                        <p class="Contact-Information">Billing Address</p>
                        <p class="bold_text_checkout">
                          <%= "#{@billing_address.street.try(:strip)}, #{@billing_address.city.try(:strip)}, #{@billing_address.state.try(:strip)} #{@billing_address.zip} #{@billing_address.country} "%>
                        </p>
                      </div>
                      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 mt-4">
                        <button class="btn btn-edit_info_checkout">Edit Information</button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 mt-4">
              <p class="shipping_heading">Credit Card Information</p>
              <div class="card_box">
                <div class="row">
                  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <!--     For image              -->
                    <%= image_tag 'v2/merchant/icons/credit_card.svg', class:'credit-card'%>
                    <%#= image_tag 'v2/merchant/checkout/master3.png', class:'card_svg'%>
                    <%= image_tag '', class:'card_svg credit-logo'%>
                    <input  id="cardNo1" value="•••• •••• •••• 7894" class="dots" tabindex="2" readonly>
                    <div class="card-name">
                      <p id="CardName" class="user-name">
                        John Smith
                      </p>
                    </div>
                    <span id="cardExp" class="date-exp">
                      06/07
                    </span>
                  </div>
                  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <hr class="checkout_hr">
                  </div>

                  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <%= form_for @card , method: :post, remote: true, url: payment_transactions_path  do |f| %>
                      <input autocomplete="off" type="hidden" name="token" value="<%=params[:token] %>">
                      <div class="form-group m-form__group">
                        <label for="Card_number" class="label_checkout">
                          Card Number
                        </label>
                        <input autocomplete="cc-number" name="card_no" pattern="\d+" id="cardNo" class="form-control card_no revoke-paste" minlength="16" maxlength="19" type="tel">
                        <input type="hidden" name="cardNoSafe" id="cardNoSafe" value="">
                      </div>
                      <div class="form-group m-form__group">
                        <label for="Card_number" class="label_checkout">
                          Name on Card
                        </label>
                        <%= f.text_field :name,class:"form-control invoice-input m-input",id: 'card_name' ,maxlength: 20 %>
                        <!--                      <input type="text" class="form-control invoice-input m-input" id="card_name" maxlength="20">-->
                      </div>
                      <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                          <div class="form-group m-form__group">
                            <label for="valid_thru" class="label_checkout">Expiry Date</label>
                            <%= f.text_field :exp_date,class:"form-control invoice-input m-input",id: 'card_exp',type: 'tel' , maxlength: 5,:size => nil, autocomplete:"cc-exp" %>

                            <!--                          <input type="tel" class="form-control invoice-input m-input" id="card_exp" maxlength="5" size="nil" autocomplete="cc-exp">-->
                          </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                          <label class="label_checkout">CVV</label>
                          <span class="pull-left" data-container="body" data-toggle="popover" data-placement="top" title="" data-img="<%= image_path("v2/merchant/icons/CVV_icon.svg") %>">
                              <%= image_tag 'v2/merchant/icons/info_icon.svg', class:  'pull-left ml-2'%>
                            </span>
                          <%= f.password_field :cvv,class:"form-control invoice-input m-input",id: 'card_cvv' ,placeholder: "", minlength: 3, maxlength: 4 ,:size => nil %>
                          <!--                        <input id="card_cvv" type="password" name="price" maxlength="4" placeholder="" class="form-control invoice-input m-input">-->
                        </div>
                      </div>
                      </div>
                      </div>
                      </div>
                      </div>
                      </div>
                      <div class="footer_left_image">
                        <%= image_tag 'v2/merchant/checkout/footer_image.svg' %>
                      </div>
                      <div class="footer_box">
                        <div class="powerd_by_checkout">
                          <!--                          Powered by-->
                          <%= image_tag 'v2/merchant/checkout/power_by_checkout_new.svg', class: 'powered_by_greenbox'%>
                        </div>
                      </div>
                      </div>
                      </div>
                      <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 pl-0 ml-0">
                        <div class="box2">
                          <div class="row">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 mb-2">
                              <div class="products-heading_checkout">
                                Product List
                              </div>
                            </div>
                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 mt-4">
                              <div class="products_list_height">
                                <% @products.each do |p|%>
                                  <div class="row">
                                    <div class="col-lg-2 col-md-2 col-sm-3 col-xs-2">
                                      <div class="product_box_checkout"><%= p.quantity %>x</div>
                                    </div>
                                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                      <div class="product_name_checkout">
                                        <%= p.name %>
                                        <!--                        CBD Oil 300mg  - Mint-->
                                        <!--                        <br>-->
                                        <!--                        Flavorured-->
                                      </div>
                                    </div>
                                    <div class="col-lg-4 col-md-4 col-sm-3 col-xs-4">
                                      <div class="product_price_checkout">
                                        <!--                        $ 19.50 /ea-->
                                        <%# amount = (p.amount * p.quantity) %>
                                        $<%= number_with_precision(p.amount, precision: 2) %> /ea
                                      </div>
                                    </div>
                                  </div>
                                <% end %>
                              </div>
                            </div>
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                              <hr>
                            </div>
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                              <div class="row">
                                <div class="col-lg-7 col-md-7 col-sm-7 col-xs-7">
                                  <div class="Shipping-Handling">Subtotal</div>
                                </div>
                                <div class="col-lg-5 col-md-5 col-sm-5 col-xs-5">
                                  <div class="Shipping-price">$ <%= number_with_precision(@transaction.amount, precision: 2) %></div>
                                </div>
                              </div>
                              <div class="row mt-3">
                                <div class="col-lg-7 col-md-7 col-sm-7 col-xs-7">
                                  <div class="Shipping-Handling">Shipping & Handling</div>
                                </div>
                                <div class="col-lg-5 col-md-5 col-sm-5 col-xs-5">
                                  <div class="Shipping-price">$ <%= number_with_precision(@transaction.shipping_amount, precision: 2) %></div>
                                </div>
                              </div>
                              <div class="row mt-3">
                                <div class="col-lg-7 col-md-7 col-sm-7 col-xs-7">
                                  <div class="Shipping-Handling">Discounts</div>
                                </div>
                                <div class="col-lg-5 col-md-5 col-sm-5 col-xs-5">
                                  <div class="Shipping-price">$ <%= number_with_precision(@transaction.discount.nil? ? 0 : @transaction.discount , precision: 2) %></div>
                                </div>
                              </div>
                              <div class="row mt-3">
                                <div class="col-lg-7 col-md-7 col-sm-7 col-xs-7">
                                  <div class="Shipping-Handling">Taxes</div>
                                </div>
                                <div class="col-lg-5 col-md-5 col-sm-5 col-xs-5">
                                  <div class="Shipping-price">$ <%= number_with_precision(@transaction.tax, precision: 2) %></div>
                                </div>
                              </div>
                              <!--                              <div class="row mt-3">-->
                              <!--                                <div class="col-lg-7 col-md-7 col-sm-7 col-xs-7">-->
                              <!--                                  <div class="Shipping-Handling">Fees</div>-->
                              <!--                                </div>-->
                              <!--                                <div class="col-lg-5 col-md-5 col-sm-5 col-xs-5">-->
                              <!--                                  <div class="Shipping-price">$ <%#= number_with_precision(0, precision: 2) %></div>-->
                              <!--                                </div>-->
                              <!--                              </div>-->
                            </div>
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 mt-2">
                              <div class="row mt-4">
                                <div class="col-lg-5 col-md-5 col-sm-5 col-xs-5">
                                  <div class="Grand-Total">
                                    Grand Total
                                  </div>
                                </div>
                                <div class="col-lg-7 col-md-7 col-sm-7 col-xs-7">
                                  <div class="Grand-Price">
                                    $ <%= number_with_precision(@transaction.total_amount, precision: 2) %>
                                  </div>
                                </div>
                              </div>
                            </div>
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                              <div class="terms">
                                <label class="m-checkbox m-checkbox--state-brand pull-left mb-0">
                                  <input type="checkbox" id="term_service" name="term_service"  class="m-checkbox m-checkbox--state-brand">
                                  <span class="verify_checkbox"></span>
                                  <p>
                                    I agree with the
                                    <a href="#" id="myBtn1" data-toggle="modal" data-target="#m_modal_1">Terms of Service.</a>
                                  </p>
                                  <!--                  <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#m_modal_1">-->
                                  <!--                    Launch Modal-->
                                  <!--                  </button>-->
                                </label>
                                <label class="m-checkbox m-checkbox--state-brand pull-left mb-0">
                                  <input type="checkbox" id="privacy" name="privacy"  class="m-checkbox m-checkbox--state-brand">
                                  <span class="verify_checkbox"></span>
                                  <p>
                                    I accept the
                                    <a href="#" class="terms" id="myBtn2" data-toggle="modal" data-target="#privacy_policy">Privacy Policy.</a>
                                  </p>
                                </label>
                              </div>
                              <div class="" id="pay_now">
                                <button class="btn btn-pay mt-4" id="submit_b">Pay Now</button>
                                <!--                    <button class="btn btn-pay mt-5" id="submit_b" disabled>Pay Now</button>-->
                              </div>
                            </div>
                    <% end %>
                    </div>
                    <div class="footer_responsive">
                      <div class="powerd_by_responsive">
                        <!--                        Powered by-->
                        <%= image_tag 'v2/merchant/checkout/power_by_checkout_new.svg', class: 'powered_by_greenbox'%>

                      </div>
                    </div>
                    </div>
                    </div>
                    </div>
  </div>
  <%= render partial: "checkout_box_loader" %>

  <%= render partial: 'edit_section' %>
</center>
<%= render partial: 'term_service_modal' %>


