<div class="wh-100"> 
  <center>
  <div class="t-checkout_box">
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 pr-0 mr-0">
        <input type="hidden" id="fallback_url" value="<%= @url %>">
        <input type="hidden" id="not_invoice" value="<%= @request.present? ? "false" : "true" %>">
        <input type="hidden" id="status" value="<%= @status %>">
        <center>
          <%= image_tag "v2/merchant/quickcard_m.svg", class:"qc_logo_center"%>
        </center>
        <div class="margin--42">
          <% if @error.present? %>
            <p class="simple-30-text-4c4c4c">Transaction Failed!</p>
          <% elsif params[:action] == "rtp_payment1" && !@success %>
            <p class="simple-30-text-4c4c4c">Transaction Processing!</p>
          <% else %>
            <p class="simple-30-text-4c4c4c">Transaction Successful!</p>
          <% end %>
        </div>

        <% if @error.present? %>
          <div class="text--center">
            <%= image_tag "v2/merchant/checkout/error_message.svg", class: "width-60" %>
          </div>
        <% else %>
          <div class="progress1 t-progress-1  working">
            <%= image_tag "v2/merchant/13-transfer.svg", class: "wd_loader_img wd-transfer" %>
            <svg class="progress-circle t-pogress-circle" width="190px" height="190px" xmlns="http://www.w3.org/2000/svg">
              <circle class="progress-circle-back" stroke-linecap="round"
                      cx="95.5" cy="95" r="92"></circle>
              <circle class="progress-circle-prog t-progress-circle-prog ach rtp_circle <%= params[:action] == "rtp_payment1" && !@success ? "stroke-dasharray-half" : "stroke-dasharray-full" %>"
                      cx="95.5" cy="95" r="92" stroke-linecap="round"></circle>
            </svg>
          </div>
        <% end %>
        <% if @error.present? %>
          <% if @request.present? %>
            <div>
              <p class="text-center mb-0 simple-16-normal-dark-text"><%= @error %></p>
              <p class="text-center mb-0 simple-16-normal-dark-text"><b>Please close your browser to exit.</b></p>
            </div>
          <% else %>
            <div>
              <p class="text-center mb-0 simple-16-normal-dark-text">Please Wait, we are redirecting you </p>
              <p class="text-center mb-0 simple-16-normal-dark-text">back to <span id="api_url"><%= @url.try(:split,'?').try(:first) %></span></p>
              <br>
              <p class="text-center mb-0 simple-16-normal-dark-text">If you are not redirected in the next</p>
              <p class="text-center mb-0 simple-16-normal-dark-text"><span id="counter_sec">10</span> seconds, please
                click <a href="<%= @url %>" id="a_url">here</a></p>
            </div>
          <% end %>
        <% else %>
          <% if @request.present? %>
            <div class="tx_description <%= params[:action] == "rtp_payment1" && !@success ? "img--hide" : "" %>">
              <p class="text-center mb-0 simple-16-normal-dark-text">Your payment to <span id="location_business_name"><%= @location.try(:business_name) || @location_name %></span> has been </p>
              <p class="text-center mb-0 simple-16-normal-dark-text">successfully processed. Please close your browser</p>
              <p class="text-center mb-0 simple-16-normal-dark-text">to exit.</p>
            </div>
          <% else %>
            <div class="tx_description <%= params[:action] == "rtp_payment1" && !@success ? "img--hide" : "" %>">
              <p class="text-center mb-0 simple-16-normal-dark-text">Please Wait, we are redirecting you </p>
              <p class="text-center mb-0 simple-16-normal-dark-text">back to <span id="api_url"><%= @url.try(:split,'?').try(:first) %></span></p>
              <br>
              <p class="text-center mb-0 simple-16-normal-dark-text">If you are not redirected in the next</p>
              <p class="text-center mb-0 simple-16-normal-dark-text"><span id="counter_sec">10</span> seconds, please click <a href="<%= @url %>" id="a_url">here</a></p>
            </div>
          <% end %>
        <% end %>
        <center>
          <p class="power_by-footer">
            Powered by <img src="https://quickard.s3-us-west-2.amazonaws.com/logo_mail+(1).png" alt="">
          </p>
        </center>
      </div>
    </div>
  </div>
  </center>
</div>