<div class="api_new_box">
  <div class="api_checkout_box">
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12">
        <div class="api_amount_box">
          <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-6">
              <%= image_tag 'v2/merchant/checkout/api_amount.svg', class: 'api_amount_img' %>
              <p class="api_due_amount">Your Due Amount is</p>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6">
              <p class="api_bold_amount">$ <%= number_with_precision(@transaction.total_amount, precision: 2)  %></p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-12 col-md-12 col-sm-12">
        <%= form_tag invoice_rtp_request_checkout_index_path , method: :post, remote: true,  class: "new_api_checkout", id: "new_api_checkout" do  %>
          <input type="hidden" name="request_url" value="<%=params[:token] %>">
          <div class="api_billing_info">
            <div class="row">
              <div class="col-lg-6 col-md-6 col-sm-6">
                <p class="billing_info_api_heading">Billing Information</p>
              </div>
              <div class="col-lg-6 col-md-6 col-sm-6">
<!--                <p class="steps_api">Step 1 of 2</p>-->
              </div>
              <div class="col-lg-12 col-md-12 col-sm-12">
                <hr class="api_checkout_hr">
              </div>
              <div class="col-lg-12 col-md-12 col-sm-12">
                <%= image_tag 'v2/merchant/checkout/api_alert.svg', class: "mt-3 mr-3 pull-left" %>
                <p class="alert_text_api">Please verify your information below, and make sure it is all correct.</p>
              </div>
            </div>
            <div class="row mt-4">
              <div class="col-lg-4 col-md-4 col-sm-4">
                <div class="form-group m-form__group">
                  <label class="label_checkout">
                    First Name
                  </label>
                  <input type="hidden" name="billing[id]" value="<%= @billing_address.id %>">
                  <input type="hidden" name="billing[user_id]" value="<%= @billing_address.user_id %>">
                  <input type="text" name="billing[first_name]" class="form-control invoice-input m-input" value="<%= @billing_address.first_name || @billing_address.name %>" required>
                </div>
              </div>
              <div class="col-lg-4 col-md-4 col-sm-4">
                <div class="form-group m-form__group">
                  <label class="label_checkout">
                    Last Name
                  </label>
                  <input type="text" name="billing[last_name]" class="form-control invoice-input m-input" value="<%= @billing_address.last_name || @billing_address.name %>">
                </div>
              </div>
              <div class="col-lg-4 col-md-4 col-sm-4">
                <div class="form-group m-form__group">
                  <label class="label_checkout">
                    Email
                  </label>
                  <input type="email" name="billing[email]" class="form-control invoice-input m-input" value="<%= @billing_address.email %>" required>
                </div>
              </div>
              <div class="col-lg-4 col-md-4 col-sm-4">
                <div class="form-group m-form__group">
                  <label class="label_checkout">
                    Phone
                  </label>
                  <input type="phone" name="billing[phone_number]" class="form-control invoice-input m-input" value="<%= @billing_address.phone_number %>" required>
                </div>
              </div>
              <div class="col-lg-4 col-md-4 col-sm-4">
                <div class="form-group m-form__group">
                  <label class="label_checkout">
                    Address
                  </label>
                  <input type="text" name="billing[street]" class="form-control invoice-input m-input" value="<%= @billing_address.street %>"  required>
                </div>
              </div>
              <div class="col-lg-4 col-md-4 col-sm-4">
                <div class="form-group m-form__group">
                  <label class="label_checkout">
                    Ste./Apt.#
                  </label>
                  <input type="text" name="billing[suit]" class="form-control invoice-input m-input" value="<%= @billing_address.suit %>">
                </div>
              </div>
              <div class="col-lg-3 col-md-3 col-sm-3">
                <div class="form-group m-form__group">
                  <label class="label_checkout">
                    Country
                  </label>
                  <%= country_select("country", {}, { include_blank: 'Select a country', selected: @billing_address.try(:country),priority_countries: ["US"] }, {name: 'billing[country]', id: 'b_country', class: 'form-control invoice-input m-input height-48px', required: true })%>
                  <!--                <input type="text" class="form-control invoice-input m-input" maxlength="20">-->
                </div>
              </div>
              <div class="col-lg-3 col-md-3 col-sm-3">
                <div class="form-group m-form__group">
                  <label class="label_checkout">
                    State
                  </label>
                  <%= select_tag "billing[state]", options_for_select( @billing_states.present? ? @billing_states.map{|k,v| [v,k] } : {}, @billing_address.try(:state)), {:class => 'form-control invoice-input m-input height-48px', id: "b_state", required: true} %>
                  <!--                <input type="text" class="form-control invoice-input m-input" maxlength="20">-->
                </div>
              </div>
              <div class="col-lg-3 col-md-3 col-sm-3">
                <div class="form-group m-form__group">
                  <label class="label_checkout">
                    City
                  </label>
                  <input type="text" name="billing[city]" class="form-control invoice-input m-input" value="<%= @billing_address.city %>" required>
                </div>
              </div>
              <div class="col-lg-3 col-md-3 col-sm-3">
                <div class="form-group m-form__group">
                  <label class="label_checkout">
                    Zip Code
                  </label>
                  <input type="text" name="billing[zip]" class="form-control invoice-input m-input" value="<%= @billing_address.zip %>" required>
                </div>
              </div>
              <div class="col-lg-12 col-md-12 col-sm-12">
                <%= submit_tag "Pay Now", class:"btn btn-rtp-api-submit"  %>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12">
        <div class="footer_left_api_img">
          <%= image_tag 'v2/merchant/checkout/mask_api.svg' %>
        </div>
        <div class="footer_api_box">
          <center>
            <%= image_tag 'v2/merchant/checkout/api_powerd_by.svg', class: 'power_by_api' %>
          </center>
        </div>
      </div>
    </div>
  </div>
  <div class="api_checkout_box_loader img--hide">
    <center>
      <div class="row">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
          <%= image_tag '', class: 'loader_qc_logo' %>
          <div class="account-transfer-success">
            <div class="text_checkout_loader">
              <div id="text_first" class="">Securing transaction</div>
              <div id="text_last" class="img--hide">Please Wait, We're redirecting you.</div>
            </div>
            <div class="progress1 working">
              <%= image_tag "v2/merchant/checkout/locked.svg", class: "api_loader-image locked_image", id: 'locked' %>
              <%= image_tag "v2/merchant/checkout/unlocked.svg", class: "api_loader-image img--hide", id: 'unlocked' %>
              <%= image_tag "v2/merchant/checkout/succes_trans.svg", class: "api_loader-image img--hide", id: 'success' %>
              <svg class="progress-circle" width="230px" height="230px" xmlns="http://www.w3.org/2000/svg">

                <circle class="progress-circle-back" stroke-linecap="round" cx="114" cy="114" r="114"></circle>
                <circle class="progress-circle-prog p2c" cx="115" cy="115" r="112.5" stroke-linecap="round" style="stroke-dasharray: 465, 999;"></circle>
              </svg>

            </div>
            <div class="success--image">
              <p class="note_text_checkout mt-3">

              </p>
              <p class="desperate_name" id="descriptor_3ds">

              </p>
              <div class="hand-circle text--center">
                <%= image_tag "v2/merchant/checkout/succes_trans.svg", class: "last_success_img" %>
              </div>
              <div class="row mt-3 mb-4">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12 text--center">
                  <div class="mt-4 text--center">
                    <%#= link_to "Continue Shopping", @success_url,class: "btn btn_shopping_back" %>
                    <!--                    <a href="#" class="btn btn_shopping_back">Continue Shopping</a>-->
                  </div>
                </div>
              </div>
            </div>
            <div class="error--image">
              <!--              <p class="transaction_declined mt-3">-->
              <!--                Your transaction was declined.-->
              <!--              </p>-->
              <p class="desperate_name">
                Please contact your card holder.
              </p>
              <div class="text--center">
                <%= image_tag "v2/merchant/checkout/error_message.svg", class: "" %>
              </div>
              <div class="row mt-3 mb-4">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12 text--center">
                  <div class="mt-4 text--center">
                    <%= link_to "#{params[:request_id].present? ? "Retry" : "Back to Checkout"}", @fail_url,class: "btn btn_shopping_back" %>
                    <!--                    <a href="#" class="btn btn_shopping_back">Back to Checkout</a>-->
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="api_footer_checkout_loader">
            <!--            Powered by -->
            <%= image_tag 'v2/merchant/checkout/power_by_checkout_new.svg', class: '' %>
          </div>
        </div>
      </div>
    </center>
  </div>
</div>
<section id="hidden_form_rtp" class="img--hide"></section>