


<section id="errormessage"></section>
<div id="no-wallet-check"></div>
<% access = merchant_allowed %>
<% if access[:giftcard] && access[:checks] && access[:ach] %>
  <div class="row">
    <p id="debit_p">
      Currently this function is Inactivated for your account. Please contact Administrator.
    </p>
  </div>
<% else %>

  <%= simple_form_for @check , url: create_debit_card_deposit_merchant_checks_path, html:{ class: "check_form", id: "new_p2c", autocomplete: "off" } do |f|  %>

    <!--, data:{toggle: "validator"}-->
    <%=f.input :sender ,:as => :hidden , input_html: {value: user.email} %>
    <%=f.input :sender_id ,:as => :hidden , input_html: {value: user.id} %>
    <div class="row">
      <div class="form-group col-md-6">
        <label>Choose Account </label>
        <div class="tooltip " >
          <i class='fa fa-info-circle'aria-hidden='true' id="info_circle"></i>
          <span class="tooltiptext"  id="tip_txt">This option will allow you to move funds from your QuickCard account to a debit card that is associated with your bank account</span>
        </div>
        <div class="font-weight-bold text-success pull-right">Balance: $ <span id="balance"></span></div>
        <% if @locations.present? && @user.merchant? %>
          <%= select_tag( "location_id",
                          options_for_select(@locations.map{|loc| [loc.business_name, loc.id]}),
                          class: "form-control",
                          data: {
                              remote: true,
                              url: merchant_instant_ach_location_data_path(type: "push_to_card")
                          },include_blank: "Choose location"
              ) %>
        <% elsif @wallets %>
          <%= select_tag( "location_id",
                          options_for_select(@wallets.map{|loc| [loc.name, loc.id]}),
                          class: "form-control",
                          data: {
                              remote: true,
                              url: merchant_instant_ach_location_data_path(type: "push_to_card")
                          },include_blank: "Choose wallet"
              ) %>
        <% end %>
      </div>
      <div id="error-body error_bdy"></div>


      <div class="form-group check_name_group col-md-6 div_margin_8">
        <%= f.input :name, wrapper: :vertical_input_group,label: "Name on Card",  hint: "" do %>
          <div class="tooltip">  <i class='fa fa-info-circle'aria-hidden='true' id="tool_tip"></i>
            <span class="tooltiptext p2c_name">Enter first and last name on debit card. Please do not use business name!</span>
          </div>
          <span class="input-group-addon"><i class="fa fa-user"></i></span>
          <%= f.input_field  :name , class: "form-control name_field", maxlength: '50', pattern:"^(?=.*([a-z]|[A-Z]))[a-zA-Z0-9. ]*$", placeholder: 'Name'%>
          <%#=f.input_field  :name , required: true, class: "form-control name_field", pattern:"^[^-\s_][A-z ]{1,}$", data:{error: "Recipient Name On Card Required"}, placeholder: 'Name On Card' %>
        <% end %>
      </div>
    </div>
    <div class="row">
      <div class="form-group check_recipient_group col-md-6">
        <%= f.input :recipient,label:"Recipient Email", wrapper: :vertical_input_group, hint: "" do %>
          <span class="input-group-addon"><i class="fa fa-envelope"></i></span>
          <%= f.input_field :recipient,  as: :email,  class: "form-control recipient_field" , data:{error: t('merchant.checks.recipient_email')}, placeholder: 'Recipient' %>
        <% end %>
      </div>
      <input type="hidden" id="pushlimit">
      <input type="hidden" id="pushlimittype">
      <input type="hidden" id="pushtotalcount">
      <input type="hidden" id="fee_dollar">
      <input type="hidden" id="fee_perc">
      <div class="form-group check_amount_group col-md-6">
        <%= f.input :amount,wrapper: :vertical_input_group do %>
          <span class="input-group-addon amount-sign"><b>$</b></span>
          <%= f.text_field  :amount, class: "form-control amount_field" , placeholder: '0.00', autocomplete: "new-password"  %>
        <% end %>
        <span id="fee_deduct" class=""></span>
        <span id="amount_limit_error" ></span>

      </div>
    </div>
    <div class="form-group no-padding check_description_group">
      <%= f.input :description,label:"Description", wrapper: :vertical_input_group do %>
        <span class="input-group-addon"><i class="fa fa-info"></i></span>
        <%= f.input_field :description, maxlength: '32', class: "form-control decription_field" %>
      <% end %>
    </div>



    <% if @debit_cards.present? %>

      <div class="form-group col-md-11" id="banks_div">
        <div class="row" id="cards_field">
        <input type="hidden" id="debit_check" value="available"/>
        <label>Cards</label>
          <div class="col-md-12 banks-div-style" id="banks_div b_div">
            <select  class="form-control" id="banks" class="card_infor" name="check[check_id]" required>
              <option disabled selected value> -- Select a card -- </option>
              <% @debit_cards.each do |c| %>
                <option id="opt" value="<%= c.id %>"><%= "#{c.first6}****#{c.last4}" %></option>
              <% end %>
            </select>
          </div>
          <div class="delete_bt">
            <a class="btn btn-secondary del_abs del_color"   type="button"  id="delete_btn"><i class="fa fa-trash "></i></a>
          </div>
        </div>
        <span id="errorss"></span>
      </div>
      <label id="othr_crd"><input type="checkbox" name="other_card" id="other_card"> Use other card</label>
      <div class="col-md-12" id="append_fields">
        <input type="hidden" id="use_other" />
        <div id="expand" class="other-card-div" >
          <div class="form-group" >
            <label>Card Number </label>
            <div class="tooltip card_nmbr" id="alert">
              <i class="fa fa-info-circle"aria-hidden="true" id="info_circle1"></i>
              <span class="tooltiptext">Must be 16 digits with no special characters. ex: 4917300800000000</span>
            </div>
            <input autocomplete="new-password" type="password" class="form-control card_number_field rem revoke-paste" name="check[card_number]"  id="card_number" maxlength="16" minlength="13" required/>
            <span toggle="#password-field" class="fa fa-fw fa-eye-slash field-icon my-password"></span>
            <div id="loading load_ing" ></div>
            <span id="errorss_new" > </span>
          </div>
          <div class="form-group">
            <label>Expiry Date </label>
            <input autocomplete="off" type="text" class="form-control expiry_date_field revoke-paste"  name="check[expiry_date]" id="exp_date_debit" />
            <span id="expiry_error"></span>
          </div>
          <div class="form-group">
            <label>CVV </label>
            <div class="tooltip" id="cv_v">
              <i class="fa fa-info-circle" aria-hidden="true" id="fa_info">
              </i>
              <span class="tooltiptext">Must be a 3 digit number on the back of your debit card. ex: 234</span>
            </div>
            <input type="text" class="form-control cvv_field" maxlength="4" name="check[cvv]"  id="cvv"/>
          </div>
          <label><input type="checkbox" name="save_card" id="save_card"> Save card</label>
        </div>
      </div>
    <% else %>
      <div class="form-group">
        <label>Card Number </label>
        <div class="tooltip" id="card_nmbr1">
          <i class="fa fa-info-circle" aria-hidden="true" id="fa_info1"></i>
          <span class="tooltiptext">Must be 16 digits with no special characters. ex: 4917300800000000</span>
        </div>
        <input  autocomplete="new-password" type="password" class="form-control card_number_field revoke-paste"  name="check[card_number]" id="card_number" maxlength="16" minlength="13"   required/>
        <span toggle="#password-field" class="fa fa-fw fa-eye-slash field-icon my-password"></span>
        <div id="loading load_ing1" ></div>
        <span id="errorss_new" > </span>
      </div>
      <div class="form-group">
        <label>Expiry Date </label>
        <input autocomplete="off" type="text" class="form-control expiry_date_field revoke-paste"  name="check[expiry_date]" id="exp_date_debit"/>
      </div>
      <div class="form-group">
        <label>CVV </label>
        <div class="tooltip"  id="tol_tp">
          <i class="fa fa-info-circle" aria-hidden="true" id="fa_info2"></i>
          <span class="tooltiptext">Must be a 3 digit number on the back of your debit card. ex: 234</span>
        </div>
        <input type="text" class="form-control cvv_field" maxlength="4" name="check[cvv]" id="cvv"/>
      </div>
      <label><input type="checkbox" name="save_card" id="save_card"> Save card</label>
    <% end %>

    <div class="form-group">
      <label>Zip Code </label>
      <input type="number" class="form-control"  name="check[zip_code]" id="zip_code" class="zip_field"/>
    </div>
    <button id="deposit_btn" class="btn btn-primary btn-sm" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">Optional</button>

    <p id="notify">Note: Any transaction submitted after 1:00PM (PST) will be processed the next business day. It will take approx 2-4 business days for funds to process.</p>

    <button  id="close-btn1" type="button" data-toggle="modal"  class=" abs btn btn-success btn-sm">Submit</button>
    <div class="modal show fade confirm_send_modal"  tabindex="-1"  role="dialog" id="confirm_send">
      <div class="modal-dialog confirm form-group">
            <div class="modal-content content-abs" id="role_m1">
            </div>
          </div>
        </div>
    <div class="modal show fade confirm_send_modal_del"  tabindex="-1"  role="dialog" >
      <div class="modal-dialog confirm form-group">
        <div class="modal-content del_content-abs" id="role_m2">
        </div>
      </div>
    </div>
    <input type="hidden" name="result" id="result">

  <% end %>
<% end %>
<div class="modal show fade hello2"  tabindex="-1"  role="dialog" id="confirm_send">
  <div class="modal-dialog confirm form-group">
    <div class="modal-content content-abs">
      <div class="modal-header text-left bg-primary text-white"> <h4 class="modal-title"><i class="fa fa-money"></i><span class="ml-2">Are you sure?</span></h4> <button type="button" class="close" id="close_btn" data-dismiss="modal">&times;</button> </div> <div class="row"> <div class="col-md-12"> <div class="card-header bordered"> <div class="card-body"> <p>Are you sure you want to send $<span id="send-amount-12"></span> to <span id="rec-name-12"></span></p> </div> <div class="card-footer"> <!--<button type="submit" id="close-button1" data-dismiss="modal" class=" modal-padding btn btn-default btn-md">Back to check</button>--><button type="submit" id="close-button2" data-dismiss="modal" class="modal-padding btn btn-default btn-md  check-btn_cnl">Cancel</button> <button type="submit" id="submit_form",  class=" modal-padding btn btn-info btn-md pull-right submit_check p2c_disabled_function check-btn_cnl">Confirm & Send </button></div></div></div> </div>
    </div>
  </div>
</div>
<%= javascript_include_tag "merchant/withdraw/new_push_to_card.js" %>
