
<% access = merchant_allowed %>
<% if access[:giftcard] && access[:checks] && access[:ach] %>

  <div class="modal show fade modal-padding  "  tabindex="-1"  role="dialog" id="new_check">
    <div class="modal-dialog confirm form-group" id="max_wid">
      <div class="modal-content">
        <div class="modal-header text-white"  id="txt_white">
          <div class="col-md-12">
            <h4 id="align_c">
              <button type="button" class="close" id="btn_x">&times;</button>
            </h4>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <div class="card-header bordered">
              <div class="card-body col-md-12">
                <%#= render partial: 'merchant/checks/new', locals:{user: @user} %>
                <%= render partial: 'merchant/checks/debit_card_form', locals:{user: @user} %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
<% else %>
  <div class="modal show fade modal-padding modal-overflow"  tabindex="-1"  role="dialog" id="new_check">
    <div class="modal-dialog confirm">
      <div class="modal-content">
        <div class="modal-header text-white" id="header_txt_wht">
          <div class="col-md-12">
            <h4 id="h_4">
              <span class="modal-title bg-primary" id="push_to_card">Push to Card</span>
              <button type="button" class="close pull-right" id="p2c_x">&times;</button>
            </h4>

          </div>

        </div>
        <div class="row">
          <div class="col-md-12">
            <div class="card-header bordered">
              <div class="card-body col-md-12">
                <%#= render partial: 'merchant/checks/new', locals:{user: @user} %>
                <%= render partial: 'merchant/checks/debit_card_form', locals:{user: @user} %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>


