
<% access = merchant_allowed %>
<% if access[:giftcard] && access[:checks] && access[:ach] %>
  <div class="modal show fade modal-padding  "  tabindex="-1"  role="dialog" id="new_check">
    <div class="modal-dialog confirm form-group" id="max_wid2">
      <div class="modal-content">
        <div class="modal-header text-white " id="md_white">
          <div class="col-md-12">
            <h4 id="txt_cntr">
              <button type="button" class="close" id="btn_x1">&times;</button>
            </h4>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <div class="card-header bordered bottomPadding">
              <div class="card-body col-md-12 ">
                <%= render partial: 'merchant/checks/newcheckform', locals:{user: @user} %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div> 
<% else %>
  <div class="modal show fade modal-padding new_check"  tabindex="-1"  role="dialog" id="new_check" aria-hidden="true">
    <div class="modal-dialog confirm form-group">
      <div class="modal-content">
        <div class="modal-header text-white" id="modal_hd">
          <div class="col-md-12">
            <h4 id="h4_2">
              <span class="modal-title bg-primary" id="bg_primary"><%= current_user.name %></span>
              <button type="button" class="close" id="btn_x2">&times;</button>
            </h4>

          </div>

        </div>
        <div class="row">
          <div class="col-md-12">
            <div class="card-header bordered bottomPadding">
              <div class="card-body col-md-12">
                <%= render partial: 'merchant/checks/newcheckform', locals:{user: @user} %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>
<%= javascript_include_tag "merchant/withdraw/new_checks"%>
