
<section id="errormessage"></section>
<div id="no-wallet-check"></div>
<%= simple_form_for @check , url: create_check_merchant_checks_path, html:{ class: "check_form"} do |f|  %>
  <!--, data:{toggle: "validator"}-->
  <%=f.input :sender ,:as => :hidden , input_html: {value: user.email} %>
  <%=f.input :sender_id ,:as => :hidden , input_html: {value: user.id} %>

  <div class="row">
    <div class="form-group col-md-6">
      <label class="control-label">Choose Account </label>
      <div class="font-weight-bold text-success pull-right">Balance: $ <span id="balance"></span></div>
      <% if @locations.present? && @user.merchant? %>
        <%= select_tag( "location_id",
                        options_for_select(@locations.map{|loc| [loc.business_name, loc.id]}),
                        class: "form-control",
                        data: {
                            remote: true,
                            url: merchant_instant_ach_location_data_path(type: "check")
                        },include_blank: "Choose location"
            ) %>
      <% elsif @wallets %>
        <%= select_tag( "location_id",
                        options_for_select(@wallets.map{|loc| [loc.name, loc.id]}),
                        class: "form-control",
                        data: {
                            remote: true,
                            url: merchant_instant_ach_location_data_path(type: "check")
                        },include_blank: "Choose wallet"
            ) %>
      <% end %>
    </div>
    <div id="error-body error_body1" ></div>

    <div class="check_name_group col-md-6">
      <%= f.input :name, wrapper: :vertical_input_group,label: "Pay To The Order Of" , hint: "" do %>
        <!--        <span class="input-group-addon"><i class="fa fa-user"></i></span>-->
        <%= f.input_field  :name ,  class: "form-control name_field", pattern:"^[^-\s_][A-z 0-9]{1,}$", data:{error: "Recipient Name Required"}, placeholder: 'Name'%>
      <% end %>
    </div>

  </div>

  <div class="row">
    <div class="check_recipient_group col-md-6">
      <%= f.input :recipient,label:"Recipient Email", wrapper: :vertical_input_group,required: true, hint: "" do %>
        <!--        <span class="input-group-addon"><i class="fa fa-envelope"></i></span>-->
        <%= f.input_field :recipient,  as: :email,  class: "form-control recipient_field" , required: true, data:{error: "Recipient Valid Email Required"}, placeholder: 'Recipient' %>
      <% end %>
    </div>
    <input type="hidden" id="checklimit">
    <input type="hidden" id="checklimittype">
    <input type="hidden" id="checktotalcount">
    <input type="hidden" id="fee_dollar1">
    <input type="hidden" id="fee_perc1">
    <div class="check_amount_group col-md-6">
      <%= f.input :amount, wrapper: :vertical_input_group do %>
        <span class="input-group-addon"><b>$</b></span>
        <%= f.input_field  :amount, step: "0.01", class: "form-control amount_field" , min:"0" , required: true, data:{error: "Amount Required"}, placeholder: '0.00'  %>
      <% end %>

      <span id="amount_error1" class="amount_error"></span>
      <div id="amount_limit_error2" class="amountlimit_error"></div>
      <div id="fee_deduct" class=""></div>
    </div>
  </div>
  <div class="no-padding check_description_group">
    <%= f.input :description,label:"Memo", wrapper: :vertical_input_group do %>
      <span class="input-group-addon"><i class="fa fa-info"></i></span>
      <%= f.input_field :description,maxlength: '32', class: "form-control decription_field" , required: true, data:{error: "Description Required"} %>
    <% end %>
  </div>
  <p id="note_check1"><i>Note: Any check transactions submitted after 1:50 PM (PST) will be processed on the next business day.</i></p>

  <div class="modal show fade hello2"  tabindex="-1"  role="dialog" id="confirm_send">
    <div class="modal-dialog confirm form-group">
      <div class="modal-content content-abs">
        <div class="modal-header text-left bg-primary text-white">
          <h4 class="modal-title" id="model_title1">
            <i class="fa fa-money"></i>
            <span class="ml-2" >Are you sure?</span>
          </h4>
          <button type="button" class="close" id="close_btn" data-dismiss="modal" >&times;</button>
        </div>
        <div class="row">
          <div class="col-md-12">
            <div class="card-header bordered">
              <div class="card-body">
                <p>Are you sure you want to send $<span id="send-amount-12"></span> to <span id="rec-name-12"></span></p>
              </div>
              <div class="card-footer"> <!--<button type="submit" id="close-button1" data-dismiss="modal" class=" modal-padding btn btn-default btn-md">Back to check</button>-->
                <span id="close-button2" class="modal-padding btn btn-default check-btn_cnl btn-md" data-dismiss="modal">Cancel</span>
                <button type="submit" id="submit_form"  class=" modal-padding btn btn-info btn-md pull-right submit_check check-btn_cnl check_disabled_function" >Confirm & Send </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <button  id="close-btn2" type="button" class=" abs modal-padding btn btn-success btn-sm text-right " disabled>Send Check Via Email</button>

<% end %>