<div class="modal fade in show  modal-md"   role="dialog" id="detailModal">
  <div class="modal-dialog form-group">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header text-left bg-primary text-white">
        <h4 class="modal-title"><i class="fa fa-money"></i><span id="checks_detail_title" class="ml-2">Check Details</span></h4>
        <button type="button" class="close" data-dismiss="modal" id="check_details_x">&times;</button>
      </div>
      <div class="row">
        <div class="col-md-12 ">
          <div class="card">
            <div class="card-header bordered">
            <div class="card-body">
                <img src="<%= check.try(:catalog_image) %>" class="img-responsive" width="100%">
              <div class="row">
                <div class="col-md-4">  <label class="control-label font-weight-bold pull-right">Name:</label></div>
                <div class="col-md-8"> <%= check.try(:name) %></div>
              </div>
              <div class="row">
                <div class="col-md-4"> <label class="control-label  font-weight-bold pull-right" >Recipient:</label></div>
                <div class="col-md-8">   <%= check.try(:recipient) %></div>
              </div>
              
              <% if check[:actual_amount].present? %>

              <div class="row">
                <div class="col-md-4"> <label class="control-label  font-weight-bold pull-right" >Amount:</label></div>
                <div class="col-md-8"> $  <%=	number_with_precision(check.try(:actual_amount).to_f, :precision => 2) %></div>
              </div>

              <% else %>

                  <div class="row">
                    <div class="col-md-4"> <label class="control-label  font-weight-bold pull-right" >Amount:</label></div>
                    <div class="col-md-8"> $  <%=	number_with_precision(check.try(:amount).to_f, :precision => 2) %></div>
                  </div>

              <% end %>


              <div class="row">
                <div class="col-md-4"><label class="control-label font-weight-bold pull-right">Number:</label></div>
                <% if check.ach? %>
                  <div class="col-md-8"><%= ach_check_number(check.try(:checkId)) %></div>
                <% else %>
                  <div class="col-md-8"> <%= check.try(:number) %></div>
                <% end %>

              </div>
              <div class="row">
                <div class="col-md-4"><label class="control-label font-weight-bold pull-right">Status:</label></div>
                <div class="col-md-8">
<!--                  <span class="badge-info  "><%#=	 ach_status(check.try(:status)) %></span>-->
                  <% if ach_status(check.try(:status)) == "PAID" %>
                    <span class="badge badge-info show-status paid_status"><%=	ach_status(check.try(:status))  %></span>
                  <% elsif ach_status(check.try(:status)) == "UNPAID" %>
                    <span class="badge badge-info show-status unpaid_status"><%=	ach_status(check.try(:status))  %></span>
                  <% elsif ach_status(check.try(:status)) == "CANCELED" %>
                    <span class="badge badge-info show-status canceled_status"><%=	ach_status(check.try(:status))  %></span>
                  <% elsif ach_status(check.try(:status)) == "IN_PROCESS" || ach_status(check.try(:status)) == "captured" %>
                    <span class="badge badge-info show-status in_process_show_status"><%=	ach_status(check.try(:status))  %></span>
                  <% elsif ach_status(check.try(:status)) == "IN_PROGRESS" %>
                    <span class="badge badge-info show-status in_progress_show_status"><%=	ach_status(check.try(:status))  %></span>
                  <% elsif ach_status(check.try(:status)) == "PAID_WIRE" %>
                    <span class="badge badge-info show-status paid_wire_status">Paid by Wire</span>
                  <% elsif ach_status(check.try(:status)) == "FAILED" %>
                    <span class="badge badge-info show-status failed_status"><%=	ach_status(check.try(:status))  %></span>
                  <% elsif ach_status(check.try(:status)) == "VOID" %>
                    <span class="badge badge-info show-status void_status"><%=	ach_status(check.try(:status))  %></span>
                  <% elsif ach_status(check.try(:status)) == "PENDING"%>
                    <span class="badge badge-info show-status pending_status"><%=	ach_status(check.try(:status))  %></span>
                  <% else%>
                    <span class="badge badge-info show-status else_show_status"><%=	ach_status(check.try(:status))  %></span>
                  <% end %>
                </div>
              </div>
              <div class="row">
                <div class="col-md-4"><label class="control-label font-weight-bold pull-right">Memo:</label></div>
                <div class="col-md-8"><%=	check.try(:description) %></div>
              </div>
            </div>
          </div>
            <div class="card-footer" >
              <button class="btn btn-sm btn-default "  data-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>