
<div class="modal show fade modal-padding"  tabindex="-1"  role="dialog" id="updateModalDialog">
  <div class="modal-dialog modal-md">
    <div class="modal-content">
      <!-- Modal Header -->
      <div class="modal-header text-left bg-primary text-white">
        <h4 class="modal-title"><i class="fa fa-money"></i><span class="ml-2">Edit Check</span></h4>
        <button type="button" class="close" data-dismiss="modal" id="close-123">×</button>
      </div>

      <!-- Modal body -->
      <div class="modal-body">
        <div class="card">
          <div class="card-body">
            <div class="">
              <%= form_tag({controller: "/merchant/checks", action: "update_single_bulk_check"}, :id => "form_1558", method: :post, remote: true) do%>
                  <%= hidden_field_tag "check_id_single", @check.id%>
                  <div class="col-md-12">
                    <label for="name"><strong>First Name </strong></label>
                    <div class="input-group">
                      <span class="input-group-addon"><i class="fa fa-user"></i></span>
                      <%= text_field_tag "name", @check.name, class: "form-control", placeholder: "First Name", required: true%>
                    </div>
                  </div>
                  <div class="col-md-12 for_margin">
                    <label for="name"><strong>Last Name </strong></label>
                    <div class="input-group">
                      <span class="input-group-addon"><i class="fa fa-user"></i></span>
                      <%= text_field_tag "last_name", @check.last_name, class: "form-control", placeholder: "Last Name", required: true%>
                    </div>
                  </div>
                  <div class="col-md-12 for_margin">
                    <label for="name"><strong>Phone Number </strong></label>
                    <div class="input-group">
                      <span class="input-group-addon"><i class="fa fa-phone"></i></span>
                      <%= number_field_tag "phone", @check.phone, class: "form-control", placeholder: "Phone number", required: true%>
                    </div>
                  </div>
                  <div class="col-md-12 for_margin">
                    <label for="name"><strong>Email </strong></label>
                    <div class="input-group">
                      <span class="input-group-addon"><i class="fa fa-envelope"></i></span>
                      <%= text_field_tag "email", @check.email, class: "form-control", email: :true, placeholder: "Eecipient email", required: true%>
                      <%= hidden_field_tag "wallet_id", id: "wallet_id", value: "", class: "form-control"%>

                    </div>
                  </div>
                  <div class="col-md-12 for_margin">
                    <label for="name"><strong>Amount </strong></label>
                    <div class="input-group">
                      <span class="input-group-addon"><i class="fa fa-dollar"></i></span>
                      <%= number_field_tag "amount", number_with_precision(@check.amount,:precision => 2, :delimiter => ','), min:"0", step: "0.01", class: "form-control", placeholder: "0.00", required: true%>
                    </div>
                  </div>
                  <div class="col-md-12 for_margin">
                    <label for="name"><strong>Routing Number </strong></label>
                    <%= number_field_tag "routing_number", @check.routing_number, class: "form-control routing_number_field", placeholder: "Routing number", min:"0"%>
                  </div>
                  <div class="col-md-12">
                    <p id="routing_number_error amount_error1"  ></p>
                  </div>
                  <div class="col-md-12 ">
                    <label for="name"><strong>Account Number </strong></label>
                    <%= number_field_tag "account_number", @check.account_number, class: "form-control account_number_field", placeholder: "Account number", min:"0"%>
                  </div>
                  <div class="col-md-12">
                    <p id="account_number_error amount_error1"></p>
                  </div>
                  <div class="col-md-12">
                    <label for="name"><strong>Confirm Account Number </strong></label>
                    <%= number_field_tag "confirm_account_number", @check.account_number, class: "form-control confirm_account_number_field", placeholder: "Confirm account number", min:"0"%>
                  </div>
                  <div class="col-md-12">
                    <p id="confirm_account_number_error amount_error1" ></p>
                  </div>
                  <div class="col-md-12" id="account_number" >
                      <!--<%#= button_tag "submit", {:class=> "button btn btn-primary btn-sm update_form_button", 'data-dismiss': "modal"}%>-->
                      <%= submit_tag "submit", :class=> "button btn btn-primary btn-sm update_form_button"%>
                  </div>

              <% end %>

            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>

<script type="application/javascript" src="<%= asset_path 'merchant/withdraw/new_bulk_check.js' %>"></script>
