<div class="modal fade" id="modal-id2">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h2 class="modal-title" id="under_review" >Under Review</h2>
      </div>
      <div class="modal-body">
        This withdraw is currently under review and cannot be voided or processed during this time
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>