<div class="modal fade" id="modal-id">
  <div class="modal-dialog" id="modal_dialogue" >
    <div class="modal-content">
      <div class="modal-header" id="modal_header1" >
        <h2 class="modal-title" id="void_data" >Void <%= data %></h2>
      </div>
      <div class="modal-body">
        Are you sure you want to void this <%= data %>? You will not be able to reverse this transaction once you submit Void.
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
        <%# <button name="submitVoid" type="submit" class="btn btn-primary">Void</button> %>
        <%= submit_tag("Void", id: 'void_button', class: "btn btn-primary", data: { disable_with: "Please Wait..." })%>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

