

<%= render 'shared/maintenance_modal', locals: {title: 'System Maintenance', body: 'We apologize for any inconvenience, but this feature is currently unavailable at this time. Please email support@greenboxpos.com for all your inquiries. Thank you!'} %>

<div class="modal fade"  tabindex="-1"  role="dialog" id="bulk_send">
  <div class="modal-dialog form-group">
    <div class="modal-content">
      <div class="modal-header text-left bg-primary text-white">
        <h4 class="modal-title"><i class="fa fa-money"></i><span class="ml-2">Bulk Checks</span></h4>
        <button type="button" class="close" id="close_btn" data-dismiss="modal">&times;</button>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="card-header bordered">
            <div class="card-body">
              <h6>The first line in the downloaded CSV file should remain as it is in the Sample File. Please do not change the order of columns.</h6>
              <a type="button" id="a_btn" class="btn btn-primary" href="<%= ENV['BULK_CHECK_SAMPLE']%>"><span class="fa fa-download"></span> Download Sample File</a>
              <%= form_tag(bulk_checks_merchant_checks_path, method: :POST, multipart: true ) do %>
                <%= file_field_tag :file, accept: '.csv', required: true %>
                <%= submit_tag "Import Checks", id:'submit_button', :class => "btn btn-success btn-sm text-right import_checks",:disabled => true%>
              <% end %>
            </div>
            <!--<div class="card-footer">-->
            <!--&lt;!&ndash;<button type="submit" id="close-button1" data-dismiss="modal" class=" modal-padding btn btn-default btn-md">Back to check</button>&ndash;&gt;-->
            <!--</div>-->
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="box">
  <div class="box-header with-border">
    <div class="col-md-12">
      <div class="row">
        <div class="col-md-6">
          <h3 class="box-title">Bulk Checks</h3>
        </div>
        <div class="col-md-6">
          <% if @checkIssueEnabled %>
              <button  id="close-btn1" type="button" data-toggle="modal" data-target="#bulk_send"  class=" modal-padding btn btn-success btn-sm text-right">Bulk Checks</button>
          <% else %>
              <button type="button" id="bulk_check" data-toggle="modal" data-target="#maintenance-modal"  class=" modal-padding btn btn-success btn-sm text-right">Bulk Checks</button>
          <% end %>
        </div>
      </div>
    </div>
  </div>
  <div class="box-body">
    <div class="">
      <div class="row">
        <section id="detail_invoice_section"></section>
        <div class="col-md-10" id="detail_invoice">
          <nav>
            <div class="nav nav-tabs" id="nav-tab" role="tablist">
              <a class="nav-item nav-link text-center" id="check_tab" href="<%= merchant_checks_path %>" aria-selected="true"><span>Checks</span></a>
              <a class="nav-item nav-link text-center active" id="bulk_check_tab" href="<%= all_bulk_checks_merchant_checks_path %>" aria-selected="false"><span>Bulk Checks</span></a>
            </div>
          </nav>
        </div>
        <div class="col-md-2">
          <a data-toggle="modal" id="export_class" data-type="bulk_check" class="exportModalDialog pull-right" href="#exportModalDialog"><button type="button" class="btn btn-sm btn-success"><i class="fa fa-file"></i> Export</button></a>
        </div>

      </div>
      <!-- <div class="row"> -->
      <!-- <div class="col-md-4 mb-2"> -->
      <!-- <h5>Checks</h5> -->
      <!-- </div> -->
      <!-- <div class="col-md-8 Inbox invoices mb-2 text-right"> -->
      <!--<button id="close-button" data-toggle="modal" data-target="#new_check"  class="btn btn-success btn-sm text-right modal-padding"><i class="fa fa-money"></i>Send Checks</button>-->
      <%#= render :partial=> 'merchant/invoices/invoices_menue'  %>
      <!-- </div> -->
      <!-- </div> -->
      <!-- <div class="card"> -->
      <!-- <div class="card-body"> -->
      <div id="all_bulks-1256">
        <%= render "merchant/checks/all_bulks"%>
      </div>
      <!-- </div> -->
      <div class="card-footer text-right" id="new_request_footer">
        <div class="row">
          <div class="col-md-2 text-left">
            <small>Total <b><%=@bulks == nil ? 0 : @bulks.count %></b></small>
          </div>
          <div class="col-md-10 ">
            <%= paginate @bulks, :theme => 'twitter-bootstrap-3', :pagination_class => "pagination-small pagination-centered pull-right padd"%>
          </div>
        </div>
      </div>
      <!-- </div> -->
    </div>
  </div>
</div>
<!-- The export Modal starts -->
<%= render partial: 'merchant/transactions/export_modal' %>
<!-- The export Modal ends -->
<script type="application/javascript" src="<%= asset_path 'merchant/withdraw/new_checks.js' %>"></script>



