
<div class="box">
  <div class="box-header with-border">
    <div class="col-md-12">
      <div class="row">
        <div class="col-md-6">
          <h3 class="box-title">Bulk Checks</h3>
        </div>
      </div>
    </div>
  </div>
  <div id="process-message"></div>
  <div id="check_process">
  <div class="row" id="class_row">
    <div class="col-md-7">
      <div id="co_style" >
        <h6><b>Total Checks:</b> <span id="t_checks_12"><%= @checks.count%></span></h6>
        <h6><b>Checks Amount:</b> $ <span id="t_checks_amount_12"><%= number_with_precision(@total_amount, precision: 2, :delimiter => ',')%></span> </h6>
        <h6><b>Fee:</b> $ <span id="feex"><%= number_with_precision(@list.first[:fee], precision: 2, :delimiter => ',')%></span></h6>
        <h6><b>Total Amount:</b> $ <span id="t_amount"><%= number_with_precision(@list.first[:fee_and_total], precision: 2, :delimiter => ',') %></span></h6>
      </div>
    </div>
    <div class="col-md-3">
      <div id="co_md">
        <!--<#% if @list.size != 1 %>
        <select class="form-control from_wallet" id="from_wallet" name="from_wallet">
          <option value="">Select your Wallet</option>
          <%#= @list.each do |w| %>
              <option value="<%#= w[:wallet_id] %>" data-balance="<%#= w[:balance] %>" data-fee="<%#= w[:fee]%>" data-total="<%#= @total_amount + w[:fee]%>"><%#= w[:wallet_name] %></option>
          <%# end %>
        </select>

        <%# else %>-->
        <div id="wallets_1243">
            <select class="form-control from_wallet" id="from_wallet" name="from_wallet">
              <%= @list.each do |w| %>
                  <option value="<%= w[:wallet_id] %>" data-balance="<%= w[:balance] %>" data-fee="<%= w[:fee]%>" data-total="<%= w[:fee_and_total] %>"><%= w[:wallet_name] %></option>
              <% end %>
            </select>
        </div>
        <%# end %>
      </div>
      <div  class="wallet_balance"> <b>Balance:</b> &nbsp;&nbsp;$ <span id="balance"><%= number_with_precision(@list.first[:balance],precision: 2)%></span></div>
    </div>
    <div class="col-md-2">
      <div >
        <button type="button" id="send_bulk" class="btn btn-success btn-sm"><i class='icon-plus icons'></i>Send Bulk Checks</button>
      </div>
    </div>
  </div>
  </div>
  <div class="box-body">
    <div class="">
      <div id="align_c"><span id="message-process">Ready</span> ( <span id="processing-1243">0 </span> / <span id="total-1243"><%= @checks.count%></span> )</div>
      <div id="bulk_1243">
        <%= render "merchant/checks/show_bulk_checks"%>
      </div>
      <!-- </div> -->
      <div class="card-footer text-right">
      </div>
      <!-- </div> -->
    </div>
  </div>
  <div id="pop_modal" class="modal fade show" role="dialog" >
    <div class="modal-dialog modal-md" id="modal_md">
      <!-- Modal content-->
      <div class="modal-content panel-success">
        <div class="modal-header bg-primary">
          <h4 class="modal-title" id="check_details1">Bulk checks</h4>
          <!--<button type="button" class="close" data-dismiss="modal" aria-label="Close">-->
            <!--<span aria-hidden="true">&times;</span>-->
          <!--</button>-->
        </div>
        <div class="modal-body">
          <div class="card">
            <div class="card-body">
              <p class="text-success" id="align_c">
                Successfully Sent <span id="processing-12435"> </span> / <span id="total-12435"><%= @checks.count%></span> checks
              </p>
            </div>
            <div class="card-footer">
              <a href="<%= all_bulk_checks_merchant_checks_path %>" class="btn btn-success go-to-bulk btn-sm">Go To Bulk Checks</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div id="all_processed error_bdy"></div>
<input type="hidden" id="instant_id" name="instant_id" value="<%=@inst_id if @inst_id.present? %>">
<script type="application/javascript" src="<%= asset_path 'merchant/withdraw/new_bulk_check.js' %>"></script>

