
<div class="box">
  <div class="box-header with-border">
    <div class="col-md-12">
      <div class="row">
        <div class="col-md-6">
          <h3 class="box-title"><%= @heading %></h3>
        </div>
        <div class="col-md-6">
<!--          <a data-toggle="modal" data-type="add_money" class="exportModalDialog pull-right" href="#exportModalDialog"><button type="button" class="btn btn-sm btn-success"><i class="fa fa-file"></i> Export</button></a>-->
          <%#= link_to 'Send Check',check_form_merchant_checks_path ,class: 'btn btn-success btn-sm send_check', remote: true , style: "float:right;" %>
          <button id="close-button new_invoices" data-toggle="modal" data-target="#new_check"  class="btn btn-success btn-sm text-right" >New Invoice</button>
        </div>
      </div>
    </div>
  </div>
  <div class="box-body">
    <div class="">
      <div class="row">
        <section id="detail_invoice_section"></section>
        <div class="col-md-10" id="invoice_selection1">
<!--          <nav>-->
<!--            <div class="nav nav-tabs" id="nav-tab" role="tablist">-->
<!--              <a class="nav-item nav-link text-center" id="check_tab" href="<%#= merchant_checks_path %>" aria-selected="true"><span>Checks</span></a>-->
<!--              <a class="nav-item nav-link text-center active" id="bulk_check_tab" href="<%#= all_bulk_checks_merchant_checks_path %>" aria-selected="false"><span>Bulk Checks</span></a>-->
<!--            </div>-->
<!--          </nav>-->
        </div>
        <div class="col-md-2">
          <a data-toggle="modal" data-type="add_money" id="export_class export_file_btn" class="exportModalDialog pull-right" href="#exportModalDialog" ><button type="button" class="btn btn-sm btn-success"><i class="fa fa-file"></i> Export</button></a>
        </div>

      </div>
      <!-- <div class="row"> -->
        <!--         <div class="col-md-4 mb-2">
          <h5>Invoice</h5>
        </div> -->
        <!-- <div class="col-md-8 Inbox invoices mb-2 text-right"> -->
          <%#=link_to 'Add Money', new_invoice_merchant_checks_path , class: 'btn btn-sm btn-success'	  %>
          <%#= render :partial=> 'merchant/invoices/invoices_menue'  %>
        <!-- </div> -->
        <!-- </div> -->
        <!-- <div class="card"> -->
          <!-- <div class="card-body"> -->
      <div class='table-responsive'>
        <table class="table table-striped" id="over">
          <thead>
          <tr>
            <th>Id</th>
            <th>Number</th>
            <th>Recipient</th>
            <th>Amount</th>
            <th>Status</th>
            <th>Name</th>
            <th>Date</th>
            <th>Details</th>
          </tr>
          </thead>
          <tbody>
          <%	 if !@invoices.empty? %>
            <%	@invoices.each do |c|  %>
              <tr>
                <td><%=c.id	  %></td>
                <td><%=c.number	  %></td>
                <td><%=c.recipient	  %></td>
                <td>$ <%= number_with_precision(c.amount.to_f , :precision => 2, delimiter: ',')%></td>
                <td><span class="badge badge-info"><%=	c.status  %></span></td>
                <td><%=	c. name  %></td>
                <td class="timeUtc"><%=	c.created_at.strftime("%Y-%m-%d %H:%M:%S %z")%></td>
                <td><%=link_to '<button class="btn btn-sm btn-primary view_check_invoices"><i class="fa fa-eye"></i></button>'.html_safe, merchant_check_path(c.id) ,remote: true %></td>
                <!--# <a href="#detailModal" class="btn btn-primary btn-sm" remote = "true" ><i class="fa fa-eye"></i></a></td>-->
              </tr>
            <%	 end  %>
          <% else %>
            <tr><td colspan="8"><h3 id="h3_1">No Entries Yet!</h3></td></tr>
          <%	 end  %>
          </tbody>
        </table>
      </div>
        <!-- </div> -->
        <div class="card-footer text-right" id="new_request_footer">
          <div class="row">
            <div class="col-md-2 text-left">
              <small>Total <b><%=@invoices == nil ? 0 : @invoices.count %></b></small>
            </div>
            <div class="col-md-10 ">
              <%= paginate @invoices, :theme => 'twitter-bootstrap-3', :pagination_class => "pagination-small pagination-centered pull-right padd"%>
            </div>
          </div>
        </div>
      </div>
      <!-- </div> -->
    <section id="detailSection"></section>
    <div class="modal fade  "  tabindex="-1"  role="dialog" id="new_check">
  <div class="modal-dialog form-group">
    <div class="modal-content">
      <div class="modal-header text-left bg-primary text-white">
        <h4 class="modal-title"><i class="fa fa-money"></i><span class="ml-2">Invoice</span></h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="card-header bordered">
            <div class="card-body">
              <div id="wallet-txt"></div>
              <section id="errormessage"></section>
              <%= simple_form_for @invoice , url: merchant_checks_path , method: :post, id: "money-form", html:{ class: "add_money_form", data:{toggle: "validator" }} do |f|  %>
                  <input type="hidden" value="1" name ="invoice">
                  <%=f.input :sender ,:as => :hidden , input_html: {value: @user.email} %>

                  <div class="form-group input-group">
                    <span class="input-group-addon" id="basic-addon1"><i class="fa fa-google-wallet"></i></span>
                    <%#=	select_tag 'wallet_id', options_for_select(@wallets.map{|v|[v.name,v.id]}),class: "form-control" ,selected: @wallets.map{|v|[v.name,v.id]}.first ,required: true  %>
                    <% if @list.size != 1 %>
                      <select class="form-control wallet_id" id="wallet_id" name="wallet_id">
                        <option value="0">Deposit to</option>
                        <%= @list.each do |w| %>
                            <option value="<%= w[:wallet_id] %>" data-balance="<%= w[:balance] %>" data-lstatus="<%= w[:location_status] %>"><%= w[:wallet_name] %></option>
                        <% end %>
                      </select>
                    <% else %>
                        <select class="form-control wallet_id" id="wallet_id" name="wallet_id">
                          <option value="0">Deposit to</option>
                          <%= @list.each do |w| %>
                              <option value="<%= w[:wallet_id] %>" data-balance="<%= w[:balance] %>" data-lstatus="<%= w[:location_status] %>"><%= w[:wallet_name] %></option>
                          <% end %>
                        </select>
                    <% end %>
                  </div>
                  <span class="font-weight-bold text-success pull-right">Balance: $ <span id="balance_wallet"> <%= number_with_precision(@list.first[:balance], precision:2, :delimiter => ',') %> </span></span>
                  <%= f.input :name,label: "Customer Name",  wrapper: :vertical_input_group,required: true, hint: ""  do %>
                      <span class="input-group-addon"><i class="fa fa-user"></i></span>
                      <%= f.input_field :name, class: "form-control name_field", required: true, pattern:"^[^-\s_][A-z ]{1,}$", data:{error: t('merchant.checks.customer_name')}%>
                  <% end %>
                  <%= f.input :recipient, wrapper: :vertical_input_group,required: true, label: "Customer email " , hint: "" do %>
                      <span class="input-group-addon"><i class="fa fa-envelope"></i></span>
                      <%= f.input_field :recipient, as: :email, class: "form-control recipient_field", required: true, data:{error: t('merchant.checks.customer_email')} %>
                  <% end %>
                  <%= f.input :amount, wrapper: :vertical_input_group,required: true do %>
                      <span class="input-group-addon"><b>$</b></span>
                      <%= f.input_field :amount, as: :integer, step: "0.01", min:"0", class: "form-control amount_field" , required: true, placeholder: "0.00", data:{error: t('merchant.checks.recipient_amount')} %>
                  <% end %>
                  <div id="fee_deduct" class="pull-right"></div><br>
                  <%= f.input :description, wrapper: :vertical_input_group,required: true do %>
                      <span class="input-group-addon"><i class="fa fa-info"></i></span>
                      <%= f.input_field :description, class: "form-control description_field" , required: true, data:{error: t('merchant.checks.recipient_desc')}  %>
                  <% end %>
                  <div class="form-group">
                    <%=	 f.submit "Send Invoice" , class: 'btn btn-sm btn-block btn-info add_money_button', id: "sub_button" %>
                  </div>
              <%	 end  %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
      <!-- The export Modal starts -->
      <%= render partial: 'merchant/transactions/export_modal' %>
      <!-- The export Modal ends -->
    </div>
  </div>
</div>
<script>

    $(document).ready(function () {
        $('#tango_order_amount').keypress(function(event) {

            if ((event.which != 46 || $(this).val().indexOf('.') != -1)&&(event.which < 48 || event.which > 57)) {
                if((event.which != 46 || $(this).val().indexOf('.') != -1)){
                }
                event.preventDefault();
            }
            if(this.value.indexOf(".")>-1 && (this.value.split('.')[1].length > 1))		{
                event.preventDefault();
            }
        });

    });

  $(document).ready(function () {
      $('#sub_button').click(function (e) {
          $('.spnr').fadeIn();
      });
  });
  
    $(document).on('blur', '#new_check', function () {
        var name=$('#tango_order_name').val();
        var email=$('#tango_order_recipient').val();
        var amount=$('#tango_order_amount').val();
        var description=$('#tango_order_description').val();
        if (($('#wallet_id').val()=='')||( name == null || name == '') ||(email == null || email == '')|| (amount == null || amount == '')||(description == null || description == ''))
        {
            $('#sub_button').attr('disabled','disabled');
        }
        else
        {
            $('#sub_button').attr('disabled',false);
        }
    });

    $('#tango_order_description').on("keyup",function () {
       if($(this).val()!="")
       {
           $('#sub_button').attr('disabled',false);
       }
    });

    $(document).ready(function () {
//        if($('#wallet_id > option').length == 1){
            status = $('#wallet_id > option').attr("data-lstatus");
            if(status == "true"){
                $("#errormessage").css("display","block").html("").html('<div class="alert alert-danger" role="alert"><a href="#" data-dismiss="alert" class="close"></a> <strong>$[BLOCKED_LOCATION]</strong></div>');
            }else{
                $("#errormessage").css('display','none').html('');
            }

//        }
          if($("#wallet_id").val() == ""){
              $("#balance_wallet").text("");
          }

    });
    $("#wallet_id").on("change", function () {
        wallet_balance=$(this).children(":selected").data().balance;
        wallet_balance = parseFloat(wallet_balance).toFixed(2);
        wallet_balance = parseFloat(wallet_balance).toLocaleString();
        if($("#wallet_id").val() == ""){
            $("#balance_wallet").text("");
        }
        else{
            $("#balance_wallet").text(wallet_balance);
        }
        status = $(this).children(":selected").data().lstatus;
        if(status == "true"){
            $("#errormessage").css("display","block").html("").html('<div class="alert alert-danger" role="alert"><a href="#" data-dismiss="alert" class="close"></a> <strong>$[BLOCKED_LOCATION]</strong></div>');
        }else{
            $("#errormessage").css('display','none').html('');
        }
    });

    $( ".input-group" ).after( '<div style="color: darkred" class="help-block with-errors"></div>' );
    $('.view_check_invoices').click(function () {
     $('.spnr').fadeIn();
  });


  $(document).ready(function () {
      $('.pagination').find('li').find('a').click(function () {
          $('.spnr').fadeIn();
      });

      var lt= $('.timeUtc').each(function (i,v) {
          var gmtDateTime = moment.utc(v.innerText,'YYYY-MM-DD HH:mm:ss');
          var local = moment(gmtDateTime).local().format('MM-DD-YYYY hh:mm:ss A');
          v.innerText = local

      });
  });
$(document).on('keyup','#tango_order_amount', function () {
    if (this.length != "") {
        var wallet = $('#wallet_id').val();
        $.ajax({
            url: "<%= get_fee_sum_merchant_checks_path %>",
            method: 'get',
            data: {amount: this.value, wallet: wallet, type: 1},
            success: function (result) {
                if (result.fee_sum !=0) {
                    $("#fee_deduct").empty().append('Amount + Fee= $ ' +(parseFloat(result.fee_total.toFixed(2)) + parseFloat(result.fee_sum.toFixed(2))).toFixed(2) + '');
                } else {
                    $('#fee_deduct').empty();
                }
            }
        });
    } else {
        $('#fee_deduct').html('');
    }
});

    $(document).ready(function (e) {
        $('.add_money_button').click(function (e) {
            if ($(this).is('[disabled]')) {
                e.preventDefault();
            }else{

            }
        });
    });

    $('#sub_button').click(function(e){
        if($("#wallet_id").val() == ""){
            $("#wallet-txt").empty().append('<div class="alert alert-danger text-center bg-primary"> <a href="#" data-dismiss="alert" class="close">×</a> <ul> <h6>Please select a wallet</h6> </ul> </div>');
            e.preventDefault();
            return false;
        }
        else{
            $('#money-form').submit();
        }
    });
    $("#new_check").on("hidden.bs.modal", function(){
        $(this).find("input:not([type=submit]),textarea,select").val('');
        $("#fee_deduct").html('');
        $("#balance_wallet").html('0.00');
        $("#wallet_id").val("0");
        $("#tango_order_name").attr("disabled",true);
        $("#tango_order_recipient").attr("disabled",true);
        $("#tango_order_amount").attr("disabled",true);
        $("#tango_order_description").attr("disabled",true);
    });

    $("#new_check").on("shown.bs.modal", function(){
        if($("#wallet_id").children(":selected").val() == 0)
        {
            $("#balance_wallet").html('0.00');
            $("#tango_order_name").attr("disabled",true);
            $("#tango_order_recipient").attr("disabled",true);
            $("#tango_order_amount").attr("disabled",true);
            $("#tango_order_description").attr("disabled",true);
        }
    });
    $("#wallet_id").on("change", function () {
        if($("#wallet_id").children(":selected").val() == 0)
        {
            $("#balance_wallet").html('0.00');
            $("#tango_order_name").attr("disabled",true);
            $("#tango_order_recipient").attr("disabled",true);
            $("#tango_order_amount").attr("disabled",true);
            $("#tango_order_description").attr("disabled",true);
        }
        else
        {
            $("#tango_order_name").attr("disabled",false);
            $("#tango_order_recipient").attr("disabled",false);
            $("#tango_order_amount").attr("disabled",false);
            $("#tango_order_description").attr("disabled",false);
        }
    });

    $('#tango_order_amount').on('keyup',function () {
        if(this.val()=='')
        {
            $('#fee_deduct').hide();
        }
    });
    $("#export_class").on('click', function () {
        var nowDate = new Date();
        var newdate = (nowDate.setDate(nowDate.getDate()));
        var nd = new Date(newdate);
        $("#exportDate").daterangepicker({
            "maxSpan": {
                "days":31
            },
            "startDate": nd,
            "maxDate": nd
        });
    })
</script>
