<div class="col-md-12 theme-showcase" role="main">
  <div class="row">
    <div class="col-md-6 mt-4">
      <h3>New Invoice </h3>
    </div>
    <div class="col-md-12">
      <hr>
    </div>
    <%= render :partial => 'shared/merchant_menu', :locals => {:selected => 'checks', :balance => @balance} %>
    <div class="col-md-9 mt-3">
      <div class="row">
        <div class="col-md-4 mb-2">
          <h5></h5>
        </div>
      </div>
      <div class="col-md-8" id="restrict_user">
        <%= simple_form_for @invoice , url: merchant_checks_path , method: :post do |f|  %>
          <input type="hidden" value="1" name ="invoice">
          <%=f.input :sender ,:as => :hidden , input_html: {value: @user.email} %>
          <div class="form-group input-group">
            <span class="input-group-addon" id="basic-addon1"><i class="fa fa-google-wallet"></i></span>
            <%=select_tag 'wallet_id', options_for_select(@wallets.map{|v|[v.name,v.id]}),class: "form-control", prompt=> "Select Wallet" ,required: true  %>
          </div>

          <%= f.input :name, wrapper: :vertical_input_group, hint: "" do %>
              <span class="input-group-addon"><i class="fa fa-user"></i></span>
              <%= f.input_field :name, class: "form-control", required: true, :input_html => {:onblur => 'rules();'} %>
          <% end %>

          <%= f.input :recipient, wrapper: :vertical_input_group, hint: "" do %>
              <span class="input-group-addon"><i class="fa fa-envelope"></i></span>
              <%= f.input_field :recipient, class: "form-control" , required: true %>
          <% end %>
          <%= f.input :amount, wrapper: :vertical_input_group do %>
              <span class="input-group-addon"><i class="fa fa-money"></i></span>
              <%= f.input_field :amount, class: "form-control" ,step: "0.01", required: true, placeholder: "$0.00" %>
          <% end %>
          <%=	 f.submit "create invoice" , class: 'btn btn-sm btn-block btn-info' %>
            <!--<div class="modal fade  "  tabindex="-1"  role="dialog" id="new_invoices">-->
              <!--<div class="modal-dialog form-group">-->
                <!--<div class="modal-content">-->
                  <!--<div class="modal-header text-left bg-primary text-white">-->
                    <!--<h4 class="modal-title"><i class="fa fa-money"></i><span class="ml-2">(Optional) Direct Deposit</span></h4>-->
                    <!--<button type="button" class="close" data-dismiss="modal">&times;</button>-->
                  <!--</div>-->
                  <!--<div class="row">-->
                    <!--<div class="col-md-12">-->
                      <!--<div class="card-header bordered">-->
                        <!--<div class="card-body">-->
                          <!--<p>-->
                            <!--Enter your recipient's banking information only if you know it. This method is optional and you can send a Digital Check instead if you only know your recipient's email address.-->
                          <!--</p>-->
                          <!--<div class="form-group">-->
                            <!--<label>Routing Number </label>-->
                            <!--<input type="text" class="form-control" name="routing_number"/>-->
                          <!--</div>-->
                          <!--<div class="row">-->
                            <!--<div class="col-md-6">-->
                              <!--<label>Account number</label>-->
                              <!--<input type="text" class="form-control" name="account_number"/>-->
                            <!--</div>-->
                            <!--<div class="col-md-6">-->
                              <!--<label>Confirm account number</label>-->
                              <!--<input type="text" class="form-control" name="confirm_account_number"/>-->
                            <!--</div>-->
                          <!--</div>-->
                        <!--</div>-->
                        <!--<div class="card-footer">-->
                          <!--<button type="submit" id="submit_form" class="btn btn-default btn-md">Back to check</button>-->
                          <!--<button type="submit" id="submit_form" class="btn btn-default btn-md">Cancel</button>-->
                          <!--<button type="submit" id="submit_form" class="btn btn-info btn-md pull-right">Confirm & Send </button>-->
                        <!--</div>-->
                      <!--</div>-->
                    <!--</div>-->
                  <!--</div>-->
                <!--</div>-->
              <!--</div>-->
            <!--</div>-->
            <!--<div class="modal fade  "  tabindex="-1"  role="dialog" id="confirm_send">-->
              <!--<div class="modal-dialog form-group">-->
                <!--<div class="modal-content">-->
                  <!--<div class="modal-header text-left bg-primary text-white">-->
                    <!--<h4 class="modal-title"><i class="fa fa-money"></i><span class="ml-2">Are you sure?</span></h4>-->
                    <!--<button type="button" class="close" data-dismiss="modal">&times;</button>-->
                  <!--</div>-->
                  <!--<div class="row">-->
                    <!--<div class="col-md-12">-->
                      <!--<div class="card-header bordered">-->
                        <!--<div class="card-body">-->
                          <!--<p>Are you sure you want to send $<script>$("#tango_order_amount").val(); </script> to <script>$('#tango_order_recipient').val();</script></p>-->
                        <!--</div>-->
                        <!--<div class="card-footer">-->
                          <!--<button type="submit" id="submit_form" data-dismiss="modal" class="btn btn-default btn-md">Back to check</button>-->
                          <!--<button type="submit" id="submit_form" data-dismiss="modal" class="btn btn-default btn-md">Cancel</button>-->
                          <!--<button type="submit" id="submit_form"  class="btn btn-info btn-md pull-right">Confirm & Send </button>-->
                        <!--</div>-->
                      <!--</div>-->
                    <!--</div>-->
                  <!--</div>-->
                <!--</div>-->
              <!--</div>-->
            <!--</div>-->

      <% end %>
        <!--<button id="close-button" data-toggle="modal" data-target="#new_invoices"  class="btn btn-success btn-sm text-right"><i class="fa fa-money"></i>Create Invoice </button>-->
        <!--<button id="close-button" data-toggle="modal" data-target="#confirm_send"  class="btn btn-success btn-sm text-right">Send Digital Check</button>-->
      </div>
    </div>
  </div>
</div>

<script>
  $(document).ready(function () {
      function rules() {
          var name=document.getElementById('tango_order_name');
          var email=document.getElementById('tango_order_recipient');
          var amount=document.getElementById('tango_order_amount');
          name.onblur(function () {
              if (name == "" || amount== "" || email == "" ){
                  $("#restrict_user").find('button #close-button').attr('disabled', 'disabled');
              }else {
//                $("#restrict_user").find('button').removeAttr('disabled','disabled')
              }
          });
      }
  });
      $('#submit_form').on('click' ,(function () {
              $('#new_tango_form').submit( function () {
                  $(this).submit();
              });
          })
      );

    $('.close-button').click( function (e) {

    });

</script>


