$("#detailSection").html("<%= j render partial: '/merchant/checks/show', locals: {:check => @check} %>");
$('.spnr').fadeOut("slow");
<% if @check.ach? %>
$("#checks_detail_title").html(" ACH Details ")
<% elsif @check.instant_ach? %>
$("#checks_detail_title").html(" ACH Details ")
<% end %>
$("#detailModal").modal();
