<div class="box">
  <div class="box-header with-border">
    <div class="col-md-12">
      <div class="row">
        <div class="col-md-6">
          <h3 class="box-title">Bulk Checks</h3>
        </div>
      </div>
    </div>
  </div>
  <div id="process-message"></div>
  <div id="check_process" >
    <div class="row" id="class_row">
      <div class="col-md-7">
        <div id="co_style">
          <h6><b>Total Checks:</b> <span id="t_checks_12"><%= @checks.count %></span></h6>
          <h6><b>Checks Amount:</b> $ <span id="t_checks_amount_12"><%= number_with_precision(@total_amount, precision: 2)%></span> </h6>
          <h6><b>Fee:</b> $ <span id="feex"><%= number_with_precision(@list.first[:fee], precision: 2)%></span></h6>
          <h6><b>Total Amount:</b> $ <span id="t_amount"><%= number_with_precision(@total_amount + @list.first[:fee].try(:to_f), precision: 2) %></span></h6>
        </div>
      </div>
      <div class="col-md-5">
        <h5><b>Location:</b> <%= @list.first[:wallet_name]%></h5>
      </div>

    </div>
  </div>
  <div class="box-body">
    <div class="">
      <div id="align_c"><span id="message-process"><%= @stat %></span> ( <span id="processing-1243"><%= @in_pending %> </span> / <span id="total-1243"><%= @checks.count%></span> )</div>
      <div id="bulk_1243">
        <%= render "merchant/checks/show_bulk_checks"%>
      </div>
      <!-- </div> -->
      <div class="card-footer text-right">
      </div>
      <!-- </div> -->
    </div>
  </div>
  <div id="pop_modal" class="modal fade show" role="dialog" >
      <div class="modal-dialog modal-md" id="modal_md">
        <!-- Modal content-->
        <div class="modal-content panel-success">
          <div class="modal-header bg-primary">
            <h4 class="modal-title" id="check_details_x">Bulk checks</h4>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <div class="card">
              <div class="card-body">
                <p class="text-success" id="align_c">
                  Successfully Sent <%= @in_pending %> / <%= @checks.count%> checks
                </p>
              </div>
              <div class="card-footer">
                <center><a href="<%= all_bulk_checks_merchant_checks_path %>" class="btn btn-success btn-sm">Go To Bulk Checks</a></center>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
</div>
<script type="application/javascript" src="<%= asset_path 'merchant/withdraw/new_bulk_check.js' %>"></script>


<script>
    var x = setInterval(function(){get_fb();}, 20000);
    function get_fb() {
        var processed = $("#processing-1243").text();
        var total = $("#total-1243").text();
        if(parseInt(processed) == <%= @in_pending %>){
            clearInterval(x);
            $(".resendModalDialog .resend-button12").prop('disabled',false);
            $(".detail_check").prop('disabled',false);
            $(".delete").removeClass('isDisabled');
            $(".view_check_details").prop('disabled',false);
            <% if @inst_id.checks_processed == false %>
            $('#pop_modal').modal('show');
            <% @inst_id.update(checks_processed: true) %>
            <% end %>
        }
        else{
            $.ajax({
                url: "<%= load_updated_checks_merchant_checks_path %>",
                method: 'get',
                data: {bulk_instance_id: <%= params[:id] %>},
            });
        }

    }

</script>


