<%= javascript_include_tag asset_path('score_meter/raphael.min.js'), 'data-turbolinks-track' => 'reload' %>
<%= javascript_include_tag asset_path('score_meter/kuma-gauge-jquery.min.js'), 'data-turbolinks-track' => 'reload' %>


<%= stylesheet_link_tag "admins/maxminds/show", media: 'all', 'data-turbolinks-track' => 'reload' %>
<% insight_parsed = parsing_insight_for_detail(@minfraud_insight) %>
<div class="container-fluid">
  <div class="row">
    <div class="col-md-8">
      <div class="padding-t-b-20-px-minfraud">
        <div class="col-md-12 transaction_section">
          <div class="risk-status-section">
            <div class="row padding-l-r-4-minfraud padding-t-b-20-px-minfraud">
              <div class="text-center pt-3 col-md-2">
                <%= maxmind_minfraud_detail_status(@minfraud_result).html_safe %>
              </div>
              <div class="col-md-6">
                <%= maxmind_minfraud_description(@minfraud_result.qc_action) %>
              </div>
              <div class="col-md-2">
                <div class="risk-score-section">
                  <div class="text-center pt-2 risk-score-ip-section">Risk Score</div>
                  <div class="js-gauge risk-score-guage gauge"></div>
                  <div id="ac-risk-score" class="text-center bold-minfraud"><%= @minfraud_result.risk_score %></div>
                </div>
              </div>
              <div class="col-md-2">
                <div class="risk-score-section">
                  <div class="text-center pt-2 risk-score-ip-section">Ip Risk Score</div>
                  <div class="js-gauge ip-risk-score-guage gauge"></div>
                  <div id="ip-risk-score" class="text-center bold-minfraud"><%= insight_parsed["ip_risk_score"] %></div>
                </div>
              </div>
            </div>
          </div>
          <div class="row">

            <!--                <div class="col-md-6">-->
            <!--                  <span class="bold-minfraud">IP Address</span><br/>-->
            <!--                  -->
            <!--                </div>-->
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="panel-head panel-primary-div">
            <div class="mt-1">
              <h3> minFraud Insights Outputs</h3>
            </div>
            <div class="panel-body-div">
              <!-- 1st Row -->
              <div class="row">
                <!-- IP Address Check  -->
                <div class="col-md-6">
                  <!--  main body of first  table-->
                  <div class="panel panel-primary">
                    <div class="panel-heading">
                      <div class="row">
                        <div class="col-md-6">
                          <span>IP Address Checks</span>
                        </div>
                        <div class="col-md-6">
                          <p class="pull-right"><%= insight_parsed["ip_address_minfraud"] %></p>
                        </div>
                      </div>
                    </div>
                    <div class="panel-body">
                      <table class="table mb-0">
                        <tbody>
                        <tr>
                          <td>High Risk Country</td>
                          <% if insight_parsed["high_risk_country"] %>
                          <td class="width-10"><i class="fa fa-exclamation-triangle"></i></td>
                          <td>YES</td>
                          <% else %>
                            <td class="width-10"><i class="fa fa-check-circle"></i></td>
                            <td>NO</td>
                          <% end %>
                        </tr>
                        <tr>
                          <td>Time Zone</td>
                          <td></td>
                          <td><%= insight_parsed["time_zone"] %></td>
                        </tr>
                        <tr>
                          <td>City</td>
                          <td></td>
                          <td><%= insight_parsed["city"] %></td>
                        </tr>
                        <tr>
                          <td>Country</td>
                          <td></td>
                          <td><%= insight_parsed["country"] %></td>
                        </tr>
                        <tr>
                          <td>User type</td>
                          <td></td>
                          <td><%= insight_parsed["user_type"] %></td>
                        </tr>
                        <tr>
                          <td class="width-40">Local date/time of IP address</td>
                          <td></td>
                          <td class="timeutc" ><%=  insight_parsed["local_date_time"].to_datetime.strftime("%m/%d/%Y %H:%M %p ") %></td>
                        </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
                <!-- Financial Instituation check -->
                <div class="col-md-6">
                  <div class="panel panel-primary">
                    <div class="panel-heading">
                      <span>Financial Institution Checks</span>
                    </div>
                    <div class="panel-body">
                      <div id="demo1" class="collapse show">
                        <table class="table mb-0">
                          <tbody>
                          <tr>
                            <td class="width-40">Name</td>
                            <td class="width-10"></td>
                            <td><%= insight_parsed["credit_card_name"] %></td>
                          </tr>
                          <tr>
                            <td>Name match</td>
                            <td></td>
                            <td><%= insight_parsed["credit_card_name_matches"] %></td>
                          </tr>
                          <tr>
                            <td>Phone</td>
                            <td></td>
                            <td><%= insight_parsed["issuer_phone"] %></td>
                          </tr>
                          <tr>
                            <td>Phone match</td>
                            <td></td>
                            <td><%= insight_parsed["issuer_phone_matches"] %></td>
                          </tr>
                          <tr>
                            <td>IIN country</td>
                            <td></td>
                            <td><%= insight_parsed["iin_country"] %></td>
                          </tr>
                          <tr>
                            <td>IIN country matches billing country</td>
                            <% if insight_parsed["iin_country_matches_billing_country"] %>
                            <td><i class="fa fa-check-circle"></i></td>
                            <td> YES </td>
                            <% else %>
                              <td><i class="fa fa-exclamation-triangle"></i></td>
                              <td> NO </td>
                            <% end %>
                          </tr>
                          <tr>
                            <td>Is prepaid card</td>
                            <% if insight_parsed["is_prepaid_card"] %>
                            <td><i class="fa fa-exclamation-triangle"></i></td>
                            <td>YES</td>
                            <% else %>
                              <td><i class="fa fa-check-circle"></i></td>
                              <td>NO</td>
                            <% end %>

                          </tr>
                          <tr>
                            <td>Is virtual card</td>
                            <% if insight_parsed["is_virtual_card"] %>
                            <td><i class="fa fa-exclamation-triangle"></i></td>
                            <td>YES</td>
                            <% else %>
                              <td><i class="fa fa-check-circle"></i></td>
                              <td>NO</td>
                            <% end %>
                          </tr>
                          <tr>
                            <td>Credit card type</td>
                            <td></td>
                            <td><%= insight_parsed["credit_card_type"] %></td>
                          </tr>
                          <tr>
                            <td>Credit card brand</td>
                            <td></td>
                            <td><%= insight_parsed["credit_card_brand"] %></td>
                          </tr>
                          </tbody>
                        </table>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <!-- Second Row -->
              <div class="row">
                <!--Billing Address Checks -->
                <div class="col-md-6">
                  <div class="panel panel-primary">
                    <div class="panel-heading">
                      <span>Billing Address Checks</span>
                    </div>
                    <div class="panel-body">
                      <div id="demo2" class="collapse show">
                        <table class="table mb-0">
                          <tbody>
                          <tr>
                            <td class="width-40">Billing postal code is in the billing city</td>
                            <% if insight_parsed["billing_postal_address_is_in_billing_city"] %>
                            <td class="width-10"><i class="fa fa-check-circle"></i></td>
                            <td> YES </td>
                            <% else %>
                              <td class="width-10"><i class="fa fa-exclamation-triangle"></i></td>
                              <td> NO </td>
                            <% end %>
                          </tr>
                          <tr>
                            <td>Billing postal code latitude</td>
                            <td></td>
                            <td><%= insight_parsed["billing_postal_code_latitude"] %></td>
                          </tr>
                          <tr>
                            <td>Billing postal code longitude</td>
                            <td></td>
                            <td><%= insight_parsed["billing_postal_code_longitude"] %></td>
                          </tr>
                          <tr>
                            <td>Billing postal code to IP address distance</td>
                            <td></td>
                            <td><%= insight_parsed["billing_postal_code_to_IP_address_distance"] %></td>
                          </tr>
                          <tr>
                            <td>Billing address is in IP country</td>
                            <% if insight_parsed["billing_address_is_in_IP_country"] %>
                            <td><i class="fa fa-check-circle"></i></td>
                            <td>YES</td>
                            <% else %>
                              <td><i class="fa fa-exclamation-triangle"></i></td>
                              <td>NO</td>
                            <% end %>
                          </tr>
                          </tbody>
                        </table>
                      </div>
                    </div>
                  </div>
                </div>
                <!--Shipping Address Checks -->
                <div class="col-md-6">
                  <div class="panel panel-primary">
                    <div class="panel-heading">
                      <span>Shipping Address Checks</span>
                    </div>
                    <div class="panel-body">
                      <div id="demo21" class="collapse show">
                        <table class="table mb-0">
                          <tbody>
                          <tr>
                            <td class="width-40">Shipping postal code is in the shipping city</td>
                            <% if insight_parsed["shipping_postal_code_is_in_the_shipping_city"] %>
                            <td class="width-10"><i class="fa fa-check-circle"></i></td>
                            <td>YES</td>
                            <% else %>
                              <td class="width-10"><i class="fa fa-exclamation-triangle"></i></td>
                              <td>NO</td>
                            <% end %>
                          </tr>
                          <tr>
                            <td>Shipping postal code latitude</td>
                            <td></td>
                            <td><%= insight_parsed["shipping_postal_code_latitude"] %></td>
                          </tr>
                          <tr>
                            <td>Shipping postal code longitude</td>
                            <td></td>
                            <td><%= insight_parsed["shipping_postal_code_longitude"] %></td>
                          </tr>
                          <tr>
                            <td>Shipping postal code to IP address distance</td>
                            <td></td>
                            <td><%= insight_parsed["shipping_postal_code_to_IP_address_distance"] %></td>
                          </tr>
                          <tr>
                            <td>Shipping address is in IP country</td>

                            <% if insight_parsed["shipping_address_is_in_IP_country"] %>
                            <td class="width-10"><i class="fa fa-check-circle"></i></td>
                            <td>YES</td>
                            <% else %>
                              <td class="width-10"><i class="fa fa-exclamation-triangle"></i></td>
                              <td>NO</td>
                            <% end %>
                          </tr>
                          <tr>
                            <td>High risk shipping address</td>
                            <td></td>
                            <td><%= insight_parsed["high_risk_shipping_address"] %></td>
                          </tr>
                          <tr>
                            <td>Shipping address to billing address distance</td>
                            <td></td>
                            <td><%= insight_parsed["shipping_address_distance_to_billing_address"] %></td>
                          </tr>
                          </tbody>
                        </table>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <!-- End of Rows -->
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4 mt-5">
      <h4> Order Details</h4>
      <div class="mt-5">
        <div class="row ">
          <div class="col-md-6"><i class="fa fa-cc-visa font_size_34px" aria-hidden="true"></i></div>
          <div class="col-md-6">XXXX<%= @minfraud_result.main_transaction.last4 %> </div>
        </div>
        <div class="row mergin-left-10">
          <div class="col-md-6"><b>Transaction ID</b></div>

          <div class="col-md-6">
            <% txn_id = @minfraud_result.main_transaction.seq_transaction_id %>
            <a href="#" title="Tx Id" data-toggle="popover" data-placement="bottom"  data-content="<%= txn_id %>"><%= txn_id.first(25) %>...</a>
          </div>
        </div>
        <div class="row mergin-left-10">
          <div class="col-md-6 "><b>Transaction Time</b></div>
          <div class="col-md-6 modaltime"><%=  @minfraud_result.main_transaction.created_at %></div>
        </div>
      </div>

      <div class="row mt-5">
        <div class="col-md-12 height-300">
          <table class="width-inherit table border-bottom">
            <%if @minfraud_result.main_transaction.present? && @minfraud_result.main_transaction.products.present? %>
              <%@minfraud_result.main_transaction.products.each do |p| %>
                <tr>
                  <td class="width-40">
                    <p class="color-light-black">
                      #<%= p.id %>:<span><%= p.name%></span>
                    </p>
                    <b class="color-light-black">Today</b>
                  </td>
                  <td class="width-40"><h5><%=number_with_precision(number_to_currency(p.amount), precision: 2) %></h5></td>
                </tr>
              <% end %>
            <% end %>
          </table>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="row">
            <div class="col-md-6">
              <h6 class="color-light-black">Tax</h6>
            </div>
            <div class="col-md-6">
              <h5 class="color-parrot-amount">
                <%= number_with_precision(number_to_currency(@minfraud_result.main_transaction.tax), precision: 2) %></h5>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <h4 class="color-light-black">Total</h4>
            </div>
            <div class="col-md-6">
              <h3 class="color-parrot-amount">
                <%= number_with_precision(number_to_currency(@minfraud_result.main_transaction.total_amount), precision: 2) %></h3>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>

<%= javascript_include_tag asset_path('admins/maxmind/risk_scores'), 'data-turbolinks-track' => 'reload' %>
<%= javascript_include_tag asset_path('admins/datetime-modal'), 'data-turbolinks-track' => 'reload' %>