<%= stylesheet_link_tag "admins/maxminds/show", media: 'all', 'data-turbolinks-track' => 'reload' %>

<!-- Modal -->
<div class="modal fade maxmind-detail" role="dialog">
  <div class="modal-dialog form-group">

    <!-- Modal content-->
    <div class="modal-content">

      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">MinFraud MaxMind Details</h4>
      </div>
      <div class="row modal-body">

        <%= render :partial => 'minfraud_detail' %>
      </div>
      <div class="modal-footer">

      </div>
    </div>
  </div>
</div>
