<section class="section">
  <div class="row col-md-12">
    <div class="card sameheight-item items" data-exclude="xs,sm,lg">
      <div class="card-header bordered">
        <div class="col-md-8 mb-2">
          <div class="header-block">
            <h3 class="title">Risk Configuration</h3>
          </div>
        </div>
      </div>
      <div class="card-body-risk-config">
        <%= form_tag(admins_maxmind_index_path, method: "post") do %>
          <div class="card card-body form-inline col-md-12">
            <div class="form-group col-md-8">
              <%= label_tag(:high_risk, "High Risk" ,class: "col-md-6" ) %>
              <%= number_field_tag(:high_risk, @high_risk.stringValue ,in: 0..100,step:0.01 ,class: "form-control") %>
            </div>
            <div class="form-group">
              <%= submit_tag("Update", class: "btn btn-success btn-sm search_button") %>
            </div>
          </div>
        <% end %>
        <%= form_tag(admins_maxmind_index_path, method: "post") do %>
          <div class="card card-body form-inline col-md-12">
            <div class="form-group col-md-8">
              <%= label_tag(:moderate_risk, "Moderate Risk",class:"col-md-6") %>
              <%= number_field_tag(:moderate_risk, @moderate_risk.stringValue, in: 0..100,step:0.01 ,class: "form-control") %>
            </div>
            <div class="form-group">
              <%= submit_tag("Update", class: "btn btn-success btn-sm search_button") %>
            </div>
          </div>
        <% end %>
        <%= form_tag(admins_maxmind_index_path, method: "post") do %>
          <div class="card card-body form-inline col-md-12">
            <div class="form-group col-md-8">
              <%= label_tag(:approve_manual_review, "# of Days to Approve MR",class:"col-md-6") %>
              <%= number_field_tag(:approve_manual_review, @approve_manual_review.stringValue, in: 0..100,step:1 ,class: "form-control") %>
            </div>
            <div class="form-group">
              <%= submit_tag("Update", class: "btn btn-success btn-sm search_button") %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</section>