<div class="row" id="ti_row">
  <div class="form-group col-md-6" >
    <span id="transaction_info"> Transaction Information</span>
    <br>
    <div class="row">
      <div class="col-lg-12"><span class="bold font">Total Amount: </span>
        <%= t.action.present? && (t.action=='retire' || t.action=='withdraw') ? '-' : '' %><%= t.tags.try(:[],'type').present? && t.tags.try(:[],'type')=='Manual Retire'? '-' :'' %><%= number_to_currency(number_with_precision(t.try(:total_amount).present? ? t.try(:total_amount) : t.try(:amount_in_cents).try(:to_f)/100, precision: 2)) %>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12"><span class="bold font">Check Amount: </span>
        <%= t.tags.try(:[],'type').present? && t.tags.try(:[],'type')=='Manual Retire'? '-' : t.action.present? && (t.action=='retire' || t.action=='withdraw') ? '-' : ''  %><%= number_to_currency(number_with_precision(t.try(:amount).present? ? t.try(:amount) : t.amount_in_cents.to_f/100, precision: 2)) %>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-12"><span class="bold font">Transaction Fees: </span>
        <%= t.try(:fee).present? ?  number_to_currency(number_with_precision(show_view_fee(t.tags.try(:[],"fee_perc"),t.try(:fee)), precision: 2)) : SequenceLib.cents_to_dollars(t.try(:fee_in_cents).present? ? number_to_currency(number_with_precision(show_view_fee(t.tags.try(:[],"fee_perc"),t.try(:fee_in_cents)), precision: 2)) : "$0.00") %>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12"><span class="bold font">Total Net: </span>
        <%= t.action.present? && (t.action=='retire' || t.action=='withdraw') ? '-' : '' %><%= number_to_currency(number_with_precision(t.try(:net_amount).present? ? t.try(:net_amount) : t.try(:total_net).present? ? t.try(:total_net) : 0 , precision: 2)) %>
      </div>
    </div>
  </div>
  <div class="form-group col-md-6">
    <div class="row">
      <div class="col-lg-12">
        <span class="bold font">Gateway: </span> Checkbook.io
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12">
        <span class="bold font">Tx ID: </span>
        <a href="#" id="tx_idd"  ><%= t.try(:seq_transaction_id).present? ? t.seq_transaction_id.first(30) : t.try(:sequence_id).present? ? t.sequence_id.first(30) : "--" %>...</a>
        <div  id="tx_id">
          <div id="trans_id1">Tx Id</div>
          <div id="trans_id2">
            <%= t.try(:seq_transaction_id).present? ? t.seq_transaction_id : t.try(:sequence_id).present? ? t.sequence_id : "--" %>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12">
        <span class="bold font">Tx Date/Time: </span> <span class="modalTimeUtc">
        <%= t.try(:timestamp).present? ? t.timestamp : t.created_at  %></span>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12"><span class="bold font" id="risk_eval">QC risk evaluation: </span><span id="nor-mal">Normal</span></div>
    </div>
    <div class="row">
      <div class="col-lg-12"><span class="bold font">Transaction IP: </span>
        <%= t.try(:ip) %>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12"><span class="bold font" id="dba_name">DBA Name: </span>
        <%= t.tags.try(:[],'location').try(:[],'business_name').nil? ? "N/A": t.tags.try(:[],'location').try(:[],'business_name') %>
      </div>
    </div>
  </div>
</div>

<%# if pt.present? && pt == "pt" %>
<%# else%>
  <div class="row" id="ti_row2">
    <div class="form-group col-md-6" >
      <span id="check_details0"> Check Details</span>
      <br>
      <div class="row">
        <div class="col-lg-12"><span class="bold font">Created By: </span>
          <span class="ui-tooltip" data-toggle="tooltip" data-placement="top" title= "<%= t.sender.try(:name) %>">
          <%= t.sender.try(:name).truncate(28) %></span>
        </div>
      </div>
      <%# tango_order = t.tango_order %>
      <div class="row">
        <div class="col-lg-12"><span class="bold font">Check#: </span>
          <%= t.try(:tango_order).present? ? t.try(:tango_order).try(:id) : t.tags["send_check_user_info"].try(:[], "check_number") %>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-12"><span class="bold font">Check Amount: </span>
          <%= t.try(:amount).present? ? number_to_currency(number_with_precision(t.try(:amount), precision: 2)) : t.try(:amount_in_cents).present? ? number_to_currency(number_with_precision(t.try(:amount_in_cents).to_f / 100, precision: 2)) : "N/A" %>
        </div>
      </div>

      <div class="row">
        <div class="col-lg-12"><span class="bold font">Name On Account: </span>
          <%= t.try(:tango_order).present? ? t.try(:tango_order).try(:name) : t.tags["send_check_user_info"].try(:[], "name") %>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-12"><span class="bold font">Recipient's Email: </span>
          <%= t.try(:tango_order).present? ? t.try(:tango_order).try(:recipient) : t.tags["send_check_user_info"].try(:[], "check_email") %>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-12"><span class="bold font">Description: </span>
          <%= t.try(:tango_order).present? ? t.try(:tango_order).try(:description) : t.tags["type"] == "bulk_check" ? "Bulk Check" : "Single Check" %>
        </div>
      </div>
    </div>
  </div>
<%# end %>