
<div id="modal_id" class="modal come-from-modal right fade show" role="dialog">
  <div class="modal-dialog modal-lg" >
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header text-left bg-primary text-white">
        <h4 class="modal-title"><i class="fa fa-money"></i><span class="ml-2">Transaction Details</span></h4>
        <button type="button" class="close" data-dismiss="modal" id="close_btn1">&times;</button>
      </div>
      <div class="modal-body">
        <div class="row" id="mb_row">
          <div class="col-xs-12 col-lg-12" id="col_xs_12">
            <div class="col-xs-12 col-lg-12" id="col_sx_12a">
              <div class="row">
                <% if t.main_type == "Instant Pay" %>
                  <div class="col-md-10" id="p2c">Push to Card</div>
                  <% elsif t.main_type == "Service fee" %>
                  <div class="col-md-10" id="monthly_fee">Monthly Fee</div>
                <% else %>
                  <div class="col-md-10" id="main_type"><%= t.main_type %></div>
                  <% end %>
                <div class="col-md-2">
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="" id="none">
          <div class="card-body" id="card_body">
            <div class="row" id="ti_row3">
              <div class="form-group col-md-6" >
                <span id="customer_info"> Customer Information</span>
                <br>
                <% if t.main_type=='Credit Card' || t.main_type == "PIN Debit" || t.main_type == 'B2B Transfer' %>
                  <% t.sender_wallet = t.receiver_wallet %>
                  <% t.sender = t.receiver %>
                <% end %>
                <div class="row">
                  <div class="col-lg-12">
                    <span class="bold font"><%= t.main_type=="Giftcard Purchase" ? "Merchant Name:" : "Name:"%> </span>
                    <% if t.main_type=='Send Check' || t.main_type=='Bulk Check' || t.main_type=='Void Check' %>
                       <span class="ui-tooltip" data-toggle="tooltip" data-placement="right" title= " <%= t.tags.try(:[],'send_check_user_info').present? ? t.tags.try(:[],'send_check_user_info').try(:[],'name') : 'N/A'  %> ">
                         <%= t.tags.try(:[],'send_check_user_info').present? ? t.tags.try(:[],'send_check_user_info').try(:[],'name').truncate(28) : 'N/A'  %></span>
                    <% else %>
                      <span  class="ui-tooltip" data-toggle="tooltip" data-placement="top" title= " <%= t.sender_wallet.present? ? t.sender.name : 'N/A'  %>" >
                      <%= t.sender_wallet.present? ? t.sender.name.truncate(28) : 'N/A'  %> </span>
                    <% end %>
                  </div>
                </div>
                <% if t.present? && t.try(:main_type)=="Giftcard Purchase" %>
                  <div class="row">
                    <div class="col-lg-12">
                      <span class="bold font">Wallet Id: </span><%= t.sender_wallet_id.present? ? link_to("#{t.sender_wallet_id}", user_transactions_path(t.sender_wallet_id), class: "blue-color") : "---" %>
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-lg-12">
                      <span class="bold font">DBA Name: </span><%=t.sender_wallet_id.present? ?  t.tags.try(:[],"location").try(:[],"business_name").nil? ? "N/A": link_to("#{ t.tags["location"]["business_name"]}", user_transactions_path(t.sender_wallet_id.to_i), class: "blue-color") : "---" %>
                    </div>
                  </div>
                <% end %>
                <div class="row">
                  <div class="col-lg-12">
                    <span class="bold font">Phone: </span> <%= t.sender_wallet_id.present? ? t.sender.try(:phone_number) : 'N/A' unless t.main_type=='Send Check' || t.main_type=='Bulk Check'  %>
                  </div>
                </div>
                <div class="row">
                  <div class="col-lg-12">
                    <span class="bold font">Email: </span>
                    <% if t.main_type=='Send Check' || t.main_type=='Bulk Check' || t.main_type=='Void Check' %>
                      <%= t.tags.try(:[],'send_check_user_info').present? ? t.tags.try(:[],'send_check_user_info').try(:[],'check_email') : 'N/A'  %>
                    <% else %>
                      <%= t.sender_wallet_id.present? ? t.sender.try(:email) : 'N/A'  %>
                    <% end %>
                  </div>
                </div>
                <% unless t.present? && t.try(:[],:type)=="Giftcard Purchase" %>
                  <div class="row">
                    <div class="col-lg-12">
                      <span class="bold font">Wallet Id: </span> <%= t.sender_wallet_id unless t.main_type=='Send Check' || t.main_type=='Bulk Check'  %>
                    </div>
                  </div>
                <%end %>
              </div>

              <% if t.present? && t.try(:main_type)=="Giftcard Purchase"%>
                <div class="form-group col-md-6">
                  <span id="gift_card_info"> Gift Card Information</span>
                  <div class="row">
                    <div class="col-lg-12">
                      <span class="bold font">Gateway Type: </span><%= t.main_type %>
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-lg-12">
                      <span class="bold font">Gift Card Brand: </span><%= t.tags.try(:[],"fee_perc").try(:[],"brand_name").present? ? t.tags["fee_perc"]["brand_name"] : 'N/A' %>
                    </div>
                  </div>
                </div>

              <% else %>
                <div class="form-group col-md-6">
                  <span id="credit_card_info"> Credit Card Information</span>
                  <div class="row">
                    <div class="col-lg-12">
                      <span class="bold font">Gateway: </span>
                      <% if t.payment_gateway.present? %>
                        <%= t.payment_gateway.name %>
                      <% elsif t.tags.try(:[],"descriptor").present? %>
                        <%= t.tags.try(:[], "descriptor").present? ? t.tags.try(:[], "descriptor")  : '--'  %>
                      <% elsif t.tags.present? %>
                        <% if t.tags["source"].present?  %>
                          <% desc = PaymentGateway.where("key LIKE ? OR name LIKE ?",t.tags["source"], t.tags["source"]).last %>
                          <%= desc.present? ? desc.name : t.tags["source"] %>
                        <% end %>
                      <% end %>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-lg-12">
                      <span class="bold font">Card Number: </span>
                      <% if t.main_type=='Refund' %>
                        <% card_details=Transaction.find_by(seq_transaction_id: t.tags["refund_details"]["parent_transaction_id"]) if t.tags["refund_details"].present? %>
                        <% if card_details.present? %>
                          <td> <%= card_details[:tags].try(:[],'previous_issue').try(:[],'tags').try(:[],'card').try(:[],'first6') %>******
                            <%=card_details[:tags].try(:[],'previous_issue').try(:[],'tags').try(:[],'card').try(:[],'last4') %> </td>
                        <% else %>
                          <td>---</td>
                        <% end %>
                      <% else %>
                        <% if t.tags.try(:[],'previous_issue').try(:[],'tags').try(:[],'card').try(:[],'first6').present? || t.tags.try(:[],'previous_issue').try(:[],'tags').try(:[],'card').try(:[],'last4').present?%>
                          <%= t.tags.try(:[],'previous_issue').try(:[],'tags').try(:[],'card').try(:[],'first6').present? ? t.tags.try(:[],'previous_issue').try(:[],'tags').try(:[],'card').try(:[],'first6') : ''    %>******
                          <%= t.tags.try(:[],'previous_issue').try(:[],'tags').try(:[],'card').try(:[],'last4').present? ? t.tags.try(:[],'previous_issue').try(:[],'tags').try(:[],'card').try(:[],'last4') : ''    %>
                        <% elsif t.tags.try(:[],'card').present? %>
                          <%= t.tags.try(:[],'card').try(:[],'first6') %>******
                          <%= t.tags.try(:[],'card').try(:[],'last4') %>
                        <% else %>
                          <%= '--' %>
                        <% end %>
                      <% end %>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-lg-12">
                      <span class="bold font">Expiration Date: </span>
                      <% if t.main_type=='Refund' && card_details.present? %>
                        <%= card_details[:tags].try(:[],'previous_issue').try(:[],'tags').try(:[],'card').try(:[],'exp_date') %>
                      <% else %>
                        <%= t.tags.try(:[],'previous_issue').try(:[],'tags').try(:[],'card').try(:[],'exp_date').present? ? t.tags.try(:[],'previous_issue').try(:[],'tags').try(:[],'card').try(:[],'exp_date') : t.tags.try(:[],'card').try(:[],'exp_date').present? ? t.tags.try(:[],'card').try(:[],'exp_date') : ''     %>
                      <% end %>
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-lg-12">
                      <span class="bold font">CVC Check: </span>| Passed <i class="fa fa-check-circle" id="cvc"></i>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-lg-12">
                      <span class="bold font">Type: </span>
                      <% if t.main_type=='Refund' && card_details.present? %>
                        <%= card_details[:tags].try(:[],'previous_issue').try(:[],'tags').try(:[],'card').try(:[],'brand') %>
                      <% else %>
                        <%= t.tags.try(:[],'previous_issue').try(:[],'tags').try(:[],'card').try(:[],'brand').present? ? t.tags.try(:[],'previous_issue').try(:[],'tags').try(:[],'card').try(:[],'brand') : t.tags.try(:[],'card').try(:[],'brand').present? ? t.tags.try(:[],'card').try(:[],'brand') : ''     %>
                      <% end %>
                    </div>
                  </div>
                </div>
              <% end %>
            </div>
            <div class="row" id="ti_row4">
              <div class="form-group col-md-6" >
                <span id="trans_detail"> Transaction Details</span>
                <br>
                <div class="row">
                  <div class="col-lg-12"><span class="bold font">Total Amount: </span>
                    <% if @db_transaction.present? %>
                      $<%= number_with_precision(db_t.total_amount.to_f, :precision => 2, delimiter: ',') %>
                    <% else %>
                      $<%= number_with_precision(SequenceLib.dollars(t.amount_in_cents), :precision => 2, delimiter: ',') %>
                    <% end %>

                  </div>
                </div>
                <div class="row">
                  <div class="col-lg-12"><span class="bold font">Tx Amount: </span><%= number_to_currency(number_with_precision(SequenceLib.dollars(t.tx_amount), precision: 2)) %>
                  </div>
                </div>
                <div class="row">
                  <div class="col-lg-12"><span class="bold font">Privacy Fee: </span><%= t.privacy_fee.present? ?  number_to_currency(number_with_precision(t.privacy_fee, precision: 2)) : "$0.00" %></div>
                </div>
                <div class="row">
                  <div class="col-lg-12"><span class="bold font">Tip: </span>
                    <% if @db_transaction.present? %>
                      <%= number_with_precision(number_to_currency(db_t.tip.to_f), precision: 2) %>
                    <% else %>
                      <%= number_with_precision(number_to_currency(SequenceLib.dollars(t.tip_cents)), precision: 2) %>
                    <% end %>
                  </div>
                </div>
                <div class="row">
                  <div class="col-lg-12"><span class="bold font">Fee: </span>
                    <% if @db_transaction.present? %>
                      <%= number_to_currency(number_with_precision(show_view_fee(t.tags.try(:[],"fee_perc"),SequenceLib.dollars(t.try(:fee_in_cents))), precision: 2)) %>
                    <% else %>
                      <%= number_to_currency(number_with_precision(show_view_fee(t.tags.try(:[],"fee_perc"),SequenceLib.dollars(t.try(:fee_in_cents))), precision: 2)) %>
                    <% end %>
                  </div>
                </div>
                <div class="row">
                  <div class="col-lg-12"><span class="bold font">Net Fee: </span><%= t.try(:net_fee).present? ?  number_to_currency(number_with_precision(show_view_net_fee(t.tags.try(:[],"fee_perc"), t.try(:privacy_fee), SequenceLib.dollars(t.try(:fee_in_cents))), precision: 2)) : "$0.00" %></div>
                </div>
                <div class="row">
                  <div class="col-lg-12"><span class="bold font">Total Net: </span><%= number_to_currency(number_with_precision(show_view_total_net(t.tags.try(:[],"fee_perc"),SequenceLib.dollars(t.try(:amount_in_cents)), SequenceLib.dollars(t.try(:tip_cents)), SequenceLib.dollars(t.try(:hold_money_cents)),SequenceLib.dollars(t.try(:fee_in_cents))) , precision: 2)) %></div>
                </div>
                <div class="row">
                  <div class="col-lg-12"> <span class="bold font">Reserve Money: </span>
                    <% if (current_user.ISO? || current_user.PARTNER? || current_user.AGENT?) && t.tags["type"] == "fee" %>
                      $ 0.00
                    <% else %>
                      <% if t.hold_money_cents.present? %>
                        <% if @db_transaction.present? %>
                          <%= number_with_precision(number_to_currency(db_t.reserve_money), precision: 2) %>
                        <% else %>
                          <%= number_with_precision(number_to_currency(SequenceLib.dollars(t.hold_money_cents)), precision: 2) %>
                        <% end %>
                      <% else  %>
                        $ 0.00
                      <% end  %>
                    <% end  %>
                  </div>
                </div>
              </div>

              <div class="form-group col-md-6">
                <div class="row">
                  <div class="col-lg-12">
                    <span class="bold font">Gateway: </span> Quickcard
                  </div>
                </div>
                <div class="row">
                  <div class="col-lg-12">
                    <span class="bold font">Tx ID: </span>
                    <a href="#" id="tx_idd"  ><%= t.sequence_id.first(30)  %>...</a>
                    <div  id="tx_id">
                      <div id="tx_id1">Tx Id</div>
                      <div id="sequence_id">
                        <%= t.sequence_id  %>
                      </div>
                    </div>

                  </div>

                </div>
                <div class="row">
                  <div class="col-lg-12">
                    <span class="bold font">Tx Date/Time: </span> <span class="modalTimeUtc"><%= t.timestamp  %></span>
                  </div>
                </div>
                <div class="row">
                  <div class="col-lg-12"><span class="bold font" id="qc_risk_eval">QC risk evaluation: </span><span id="normal_risk">Normal</span></div>
                </div>
                <div class="row">
                  <div class="col-lg-12"><span class="bold font">URL Address: </span>  <%= t.tags["ip"].present? ? t.tags["ip"] : "109.173.218.51" %></div>
                </div>
                <div class="row">
                  <div class="col-lg-12"><span class="bold font">Transaction IP: </span>  <%= t.tags["ip"].present? ? t.tags["ip"] : "109.173.218.51" %></div>
                </div>
                <div class="row">
                  <div class="col-lg-12"><span class="bold font" id="dba">DBA Name: </span><%= t.tags.try(:[],'location').try(:[],'business_name').present? ? t.tags.try(:[],'location').try(:[],'business_name') : t.sender_wallet_id.present? ? t.sender_wallet.try(:location).try(:business_name) : '' %></div>
                </div>

                <div class="row">
                  <div class="col-lg-12"><span class="bold font">Clerk ID: </span>  <%= t.try(:clerk_id).present? ? t.try(:clerk_id) : t.tags.try(:[],'sales_info').try(:[],'clerk_id').present? ? t.tags.try(:[],'sales_info').try(:[],'clerk_id') : '' %></div>
                </div>
              </div>
            </div>
            <!--Memo Section-->
            <% memo="" %>
            <% if t.tags["transfer_details"].present? %>
              <% memo= t.tags["transfer_details"]["memo"].present? ? t.tags["transfer_details"]["memo"] : ""  %>
            <% end %>
            <% if t.tags["transefer_details"].present? %>
              <% memo= t.tags["transefer_details"]["memo"].present? ? t.tags["transefer_details"]["memo"] : ""  %>
            <% end %>
            <% if memo!="" %>
              <div class="form-group col-md-6">
                <label><strong>Memo</strong></label>
                <p class="form-control-static"><%= memo %></p>
              </div>
            <% end %>
            <% if @trx.present? && @trx.refund_log.present? || @db_transaction.present? %>
              <div class="row" id="ti_row5">
                <div class="form-group col-md-12">
                  <% if @trx.present? && @trx.refund_log.present? %>
                    <label for="date"><strong>Refunds</strong></label>
                    <div class="col-md-12">
                      <% refund_detail = JSON.parse(@trx.refund_log) %>
                      <% amount = 0 %>
                      <% if refund_detail.kind_of?(Array) %>

                        <% refund_detail.each do |refund| %>
                          <div class="col-sm-12 col-lg-12 bg" id="col_sm_12">
                        <span class="bold font">
                          <% if amount > 0 %>
                              $ <%= number_with_precision(refund["amount"],:precision => 2, :delimiter => ',') %> has been refunded at <span class="modalTimeUtc"><%= DateTime.parse(refund["date"]).strftime("%Y-%m-%d %H:%M:%S") %> </span> with id <span title="<%= refund["sequence_id"]%>"><%= refund["sequence_id"].first(6)...refund["sequence_id"].last(6)  %>  </span>
                          <% else %>
                              $ <%= number_with_precision(refund["amount"],:precision => 2, :delimiter => ',')  %> has been refunded at <span class="modalTimeUtc"><%= DateTime.parse(refund["date"]).strftime("%Y-%m-%d %H:%M:%S") %> </span> with id <span title="<%= refund["sequence_id"]%>"> <%= refund["sequence_id"].first(6)...refund["sequence_id"].last(6)  %></span>
                          <% end %>
                        </span>
                          </div>
                          <% amount = refund["amount"] %>
                        <% end %>
                      <% else %>
                        <div class="col-sm-12 col-lg-12 bg" id="col_sm_12_lg">
                      <span class="bold font">
                        $ <%= number_with_precision(refund_detail["amount"],:precision => 2, :delimiter => ',')  %> has been refunded at <span class="modalTimeUtc"><%= DateTime.parse(refund_detail["date"]).strftime("%Y-%m-%d %H:%M:%S") %> </span> with id <span title="<%= refund_detail["sequence_id"]%>"><%= refund_detail["sequence_id"].first(6)...refund_detail["sequence_id"].last(6)  %></span>  <!--<a href="#" title="<%#= refund_detail["sequence_id"] %>" onclick="copyToClipboard(<%#= refund_detail["sequence_id"] %>)"><i class="fa fa-clipboard"></i></a>-->
                      </span>
                        </div>
                      <% end %>
                    </div>
                  <% end %>
                </div>

                <div class="form-group col-md-12 text-center">
                  <% if @db_transaction.present? %>
                    <% card = @db_transaction.tags.try(:[],"previous_issue").try(:[],"tags").try(:[],"card") %>
                    <div class="col-md-12">
                      <div class="col-sm-12 col-lg-12 bg" id="col_bg">
                        <span class="bold font">
                          <%= t.main_type %> for card <%= card.try(:[],"last4") %> in the amount of $<%= number_with_precision(SequenceLib.dollars(t.amount_in_cents),:precision => 2, :delimiter => ',')  %><br> <b title="<%= @dispute_case.charge_transaction.try(:seq_transaction_id) %>">Transaction ID: </b><%= @dispute_case.charge_transaction.try(:seq_transaction_id).first(6) %> on <span class="modalTimeUtc"><%= @dispute_case.charge_transaction.try(:created_at).strftime("%Y-%m-%d %H:%M:%S") %> </span> </span>
                        </span>
                      </div>
                    </div>
                  <% end %>
                </div>
              </div>
            <% end %>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>

<script>
    $(document).mouseup(function (e)
    {
        var container = $("#tx_id"); // YOUR CONTAINER SELECTOR
        if (!container.is(e.target) // if the target of the click isn't the container...
            && container.has(e.target).length === 0) // ... nor a descendant of the container
        {
            container.hide();
        }
    });
    $( "#tx_idd" ).click(function() {
        // $('#welcome').show()
        $('#tx_id').toggle();
    });
    $(document).ready(function(){
        $(".tip-top").tooltip({placement : 'top'});
    });
    $('#cover-spin').fadeOut("slow");
    $('[data-toggle="popover"]').popover({container: 'body'});
    $(document).ready(function () {
        function copyToClipboard(element) {
            var copyText = element;
            copyText.select();
            document.execCommand("copy");
        }
        $('.datepicker').datepicker({
            format: 'mm-dd-yyyy'
        });
        var lt= $('.modalTimeUtc').each(function (i,v) {
            var gmtDateTime = moment.utc(v.innerText,'YYYY-MM-DD HH:mm:ss');
//           var gmtDateTime = moment.utc(v.innerText).toDate();
            var local = moment(gmtDateTime).local().format('MM-DD-YYYY hh:mm:ss A');
            v.innerText = local
        });
        $(function () {
            $('[data-toggle="tooltip"]').tooltip()
        });
    });
</script>
