<div class="table-responsive">
  <table id="transaction" class="table table-striped">
    <thead>
    <th>ID</th>
    <th>Date/Time</th>
    <th>Type</th>
    <th>Merchant Name</th>
    <th>DBA Name</th>
    <th>Transaction Type</th>
    <th>Transaction Amount</th>
    <th>Commission</th>
    <th>Receiver</th>
    </thead>
    <tbody>
    <% if transactions.size > 0  %>
        <% transactions.each do |t| %>
            <tr>
              <td><%= t[:id][0..5] %></td>
              <td class="timeUtc">
                <% if t[:timestamp].is_a?(String) %>
                  <%= t[:timestamp].to_datetime.utc.strftime("%Y-%m-%d %H:%M:%S %z") %>
                <% else %>
                  <%= t[:timestamp].strftime("%Y-%m-%d %H:%M:%S %z") %>
                <% end %>
              </td>
              <td>
                <%= show_type(t) %>
              </td>
              <td>
                <%= t[:merchant].try(:[], "name") || "---" %>
              </td>
              <td>
                <%= t[:location].try(:[], "business_name") || "---" %>
              </td>
              <td>
                <%= filter_transaction_type(t, @user) %>
              </td>
              <td>
                <%= number_to_currency(t[:merchant_transaction_amount]) %>
              </td>
              <td>
                <%#= number_with_precision(number_to_currency(get_commission(t, @user)), precision: 2) %>
                <% amount_object = get_commission(t, @user) %>
                <span class="<%= amount_object[:css_class] %>">
                  <span id="span">
                      <%= amount_object[:css_class] == "text-danger mr-9" ? "-" : "+" %><%= amount_object[:amount] %>
                    </span>
                  </span>
              </td>
              <td><%= show_destination_name(t) || "---" %></td>
            </tr>
        <% end %>
    <% else %>
        <tr><td colspan="12"><h3 id="no_entry">No Entries Yet!</h3></td></tr>
    <% end %>
    </tbody>
  </table>
</div>

<script>
    var lt= $('.timeUtc').each(function (i,v) {
        var gmtDateTime = moment.utc(v.innerText,'YYYY-MM-DD HH:mm:ss');
        var local = moment(gmtDateTime).local().format('MM-DD-YYYY hh:mm:ss A');
        v.innerText = local
    });
</script>