
<div id="modal_id" class="modal come-from-modal fade right" role="dialog"   >
  <div class="modal-dialog trans_modal modal-lg modal_width" id="modal_lg" >

    <!-- Modal content-->
    <div class="modal-content" id="modal_height">
      <div class="modal-header text-left bg-primary text-white">
        <h4 class="modal-title"><i class="fa fa-money"></i><span class="ml-2">Transaction Details</span></h4>
        <button type="button" class="close" data-dismiss="modal" id="color_white">&times;</button>
      </div>
      <% t = @t
         dispute = @dispute
      %>
      <div class="modal-body">
        <div class="row" id="modal_body_row">
          <div class="col-xs-12 col-lg-12" id="col_12_xl">
            <div class="col-xs-12 col-lg-12" id="col_12_xls">

              <div class="row">
                <% if t.status == "pending" %>
                    <div class="col-md-10" id="status_decline"><%= "Declined" %></div>
                <% else %>
                  <% if t.try(:main_type)=="instant_pay" %>
                    <div class="col-md-10" id="instant">Push to Card</div>
                  <%elsif t.try(:main_type)== "ACH"%>
                    <div class="col-md-10" id="ach">ACH</div>
                  <%else %>
                    <div class="col-md-7" id="els_type">
                      <% if main_type_format(t.main_type) == "Service Fee"%>
                        Monthly Fee
                      <% else %>
                        <%= main_type_format(t.main_type) %>
                      <% end %>
                    </div>
                  <%end %>

                <% end %>
                <div class="col-md-5" id="col_5" >
                  <!-- NEED TO HANDLE THE CASE OF fluid_pay WHERE MULTIPLE REFUNDS FOR SINGLE TRANSACTION IS NOT POSSIBLE -->
                  <!-- CHECK GATEWAY OF EACH Tx AND IF fluid_pay THEN:: {{<%# if t.status == "refunded" || t.refund_log.present?%>}} -->
                  <% if params.present? && params[:trans] != "reserve" %>
                    <% gateway_type = t.payment_gateway.try(:type) || PaymentGateway.find_by(id:t.try(:payment_gateway_id)).try(:type) %>
                    <% if gateway_type.present? && gateway_type.include?("fluid_pay")  %>
                      <% if t.status == "refunded" || t.refund_log.present?%>
                          <!-- fluid_pay IS BLOCKED CURRENTLY. AFTER WE'RE ABLE TO MAKE A TRANSACTION WITH IT, WE NEED TO TEST THIS CASE. -->
                          <button type="button" id="refund_btn" class="btn btn-sm btn-success pull-right" disabled >Refunded</button>
                      <% else %>
                          <% if (t.main_type  == TypesEnumLib::TransactionViewTypes::CreditCard || t.main_type  == TypesEnumLib::TransactionViewTypes::VirtualTerminal || t.main_type  == TypesEnumLib::TransactionType::DebitCard || t.main_type  == TypesEnumLib::TransactionViewTypes::Ecommerce || t.main_type.try(:downcase)  == TypesEnumLib::TransactionViewTypes::QrCreditCard.try(:downcase) || t.main_type.try(:downcase)  == TypesEnumLib::TransactionViewTypes::QrDebitCard.try(:downcase)) && t.status != "pending"  && !params[:from_cbk].present? && @user_permission.try(:refund) %>
                              <a data-toggle="modal" data-transaction="<%=t.to_json%>" class="refundModalDialog" href="#refundModalDialog">
                                <button type="button" class="btn btn-sm pull-right"  id="refund">Refund</button>
                              </a>
                          <% end %>
                      <% end %>
                  <% else %>
                      <% if t.status == "refunded" && !params[:from_cbk].present?%>
                        <button type="button" id="refund_dis" class="btn btn-sm btn-success pull-right" disabled >Refunded</button>
                      <% else %>
                          <% if (t.main_type  == TypesEnumLib::TransactionViewTypes::CreditCard || t.main_type  == TypesEnumLib::TransactionViewTypes::VirtualTerminal || t.main_type  == TypesEnumLib::TransactionType::DebitCard || t.main_type  == TypesEnumLib::TransactionViewTypes::Ecommerce || t.main_type.try(:downcase)  == TypesEnumLib::TransactionViewTypes::QrCreditCard.try(:downcase) || t.main_type.try(:downcase)  == TypesEnumLib::TransactionViewTypes::QrDebitCard.try(:downcase)) && t.status != "pending" && !params[:from_cbk].present? && @user_permission.try(:refund) %>
                              <a data-toggle="modal" data-transaction="<%=t.to_json%>" class="refundModalDialog" href="#refundModalDialog">
                               <% if params[:hold_id].blank?  %>
                                  <button type="button" class="btn btn-sm pull-right hold_money"  id="refund">Refund</button>
                                  <% end %>
                              </a>
                          <% elsif t.main_type=='cbk_hold'%>
                              <% if t.tags.try(:[],'dispute_case').try(:[],'case_number').present? %>
                                  <% dispute_case = DisputeCase.find_by(case_number:t.tags.try(:[],'dispute_case').try(:[],'case_number')) %>
                                  <input type="hidden" id="dispute_id" value="<%= dispute_case.present? ? dispute_case.id : '' %>">
                                  <%# link_to 'Accept Dispute',accept_dispute_merchant_disputes_path(dispute_id:t.tags.try(:[],'dispute_case').try(:[],'case_number')) %>
                                  <div class="col-md-12"  id="btn-id">
                                    <div class="row">
                                    <%# if dispute_case.sent_pending? %>
<!--                                        <div class="col-md-6">-->
<!--                                        <a class="btn btn-default" data-toggle="modal" data-target="#confirm1"  style="float:left; font-size: 13px;color: #000; padding: 1%;margin-top: 2%;margin-bottom: 3%;margin-right: 12px;background-color: white;padding-right: 8px;"><i class="fa fa-check" aria-hidden="true"></i>Accept Dispute</a>-->
<!--                                        </div>-->
                                    <%# end %>
                                    <%# if dispute_case.evidence.present? %>
<!--                                        <div class="col-md-6">-->
                                        <%#= link_to('<i class="fa fa-pencil-square-o" aria-hidden="true"></i> View Evidence'.html_safe,upload_evidence_merchant_disputes_path(id:dispute_case.try(:id),trans_id:dispute_case.try(:[],'transaction_id')), style: 'float:right;padding-left: 18px;', class: 'btn btn-default dispute_btn') %>
<!--                                        </div>-->
                                    <%# else %>
<!--                                        <div class="col-md-6">-->
                                        <%#= link_to('<i class="fa fa-pencil-square-o" aria-hidden="true"></i>Submit Evidence'.html_safe,upload_evidence_merchant_disputes_path(id:dispute_case.try(:id),trans_id:dispute_case.try(:[],'transaction_id')), style: 'float:right; padding-right: 5px;', class: 'btn btn-default dispute_btn') %>
<!--                                        </div>-->
                                    <%# end %>
                                    <!--<a class="btn btn-default" style="float: right; font-size: 13px;color: #000; padding: 1%;margin-top: 2%;margin-bottom: 3%;background-color: white;padding-left: 8px;"><i class="fa fa-check" aria-hidden="true"></i>Accept Dispute</a>-->
                                  </div>
                                  </div>
                              <% end %>
                          <% end %>
                      <% end %>
                  <% end %>
                  <% end %>
                  <!--                    <a data-toggle="modal" data-transaction="" style="float: right; padding:5px; padding-top: 0px !important; " class="refundModalDialog" href="#refundModalDialog"><button type="button" class="btn btn-sm" style="padding: 8px;border-radius: 5px; background-color:red; color:white; width: 94px;" id="refund">Refund</button></a>-->
                </div>
              </div>
            </div>
          </div>
        </div>
        <% sender = t.sender %>
        <% receiver = t.receiver %>
        <div class="card" id="card_none">
          <div class="card-body" id="card_body2">
            <% if t.main_type=='cbk_hold' || t.main_type=='cbk_won' || t.main_type=='retrievel_fee' || t.main_type=='cbk_lost' || t.main_type=='CBK Lost Retire' || t.main_type=='cbk_fee'|| t.main_type=='cbk_dispute_accepted'  %>
              <% if dispute.present? %>
                <%= render partial: 'merchant/transactions/dispute_info', locals: {t: t, dispute: dispute} %>
              <% end %>
            <% end %>
            <% if t.main_type != "Send Check" && t.main_type != "ACH" && t.main_type != "instant_pay" %>
                <div class="row" id="send_row">
                  <div class="form-group col-md-6">
                    <% if t.main_type=="cbk_won" %>
                        <span id="merchant_info_won"> Merchant Information</span>
                        <div class="row">
                          <div class="col-lg-12">
                            <span class="bold font">Name: </span>
                            <%= receiver.present? ? receiver.try(:name) : 'N/A' %>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-lg-12">
                            <span class="bold font">Phone: </span> <%= receiver.present? ? receiver.phone_number : 'N/A'   %>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-lg-12">
                            <span class="bold font">Email: </span>
                            <%= receiver.present? ? receiver.email :  'N/A'  %>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-lg-12">
                            <span class="bold font">Wallet Id: </span>
                            <%= t.receiver_wallet_id.present? ? t.receiver_wallet_id :  'N/A' %>
                          </div>
                        </div>
                    <%else %>
                        <% if t.main_type=="cbk_hold"  || t.main_type=="cbk_fee" || t.main_type == "cbk_lost" || ([TypesEnumLib::TransactionType::TrackingFee.try(:downcase), TypesEnumLib::TransactionType::GenerateLabelFee.try(:downcase)].include? t.main_type.try(:downcase))%>
                            <span id="merchant_info_cbk"> Merchant Information</span>
                        <%else %>
                            <span id="customer_info_cbk"> Customer Information</span>
                        <%end %>
                        <br>
                        <div class="row">
                          <div class="col-lg-12">
                            <span class="bold font">Name: </span>
                            <% if t.main_type=='Send Check' || t.main_type=='Bulk Check' || t.main_type=='Void Check' %>
                               <span class="ui-tooltip" data-toggle="tooltip" data-placement="right" title=" <%= t.tags.try(:[],'send_check_user_info').present? ? t.tags.try(:[],'send_check_user_info').try(:[],'name') : 'N/A'  %> " >
                                <%= t.tags.try(:[],'send_check_user_info').present? ? t.tags.try(:[],'send_check_user_info').try(:[],'name').truncate(28) : 'N/A'  %></span>
                            <% elsif t.main_type == 'refund' %>
                              <span class="ui-tooltip" data-toggle="tooltip" data-placement="right" title=" <%= receiver.present? ? receiver.name : '' %>" >
                                <%# user_info= t.to.present? && t.to.gsub(/[^0-9]/, '').present?  ? Wallet.find(t.to).try('users').try('first') :''%>
                                <%= receiver.present? ? receiver.name.truncate(28) : '' %></span>
                            <% elsif t.main_type == 'Sale Issue' %>
                               <span class="ui-tooltip" data-toggle="tooltip" data-placement="right" title=" <%= receiver.present? ? receiver.name : '' %>">
                                 <%= receiver.present? ? receiver.name.truncate(28) : '' %></span>
                            <% elsif t.main_type == 'cbk_lost' %>
                              <span class="ui-tooltip" data-toggle="tooltip" data-placement="right"  title=" <%= @db_t.try(:receiver).present? ? @db_t.receiver.name : '' %>">
                              <%= @db_t.try(:receiver).present? ? @db_t.receiver.name.truncate(28) : '' %></span>
                            <% else %>
                               <span class="ui-tooltip" data-toggle="tooltip" data-placement="right" title="<%= sender.try(:name).present? ? sender.try(:name) : 'N/A' %>" >
                                 <%# user_info = t.from.present? && t.from.gsub(/[^0-9]/, '').present?  ? Wallet.find(t.from).try('users').try('first') :'' %>
                                <%= sender.try(:name).present? ? sender.try(:name).truncate(28) : 'N/A' %></span>
                            <% end %>
                          </div>
                        </div>
                      <div class="row">
                        <div class="col-lg-12">
                          <span class="bold font">Cardholder Name: </span>
                          <% if t.card.present? %>
                            <%= t.card.name %>
                          <% end %>
                        </div>
                      </div>
                        <div class="row">
                          <div class="col-lg-12">
                            <%if t.main_type=='Send Check' || t.main_type=='Bulk Check' || t.main_type=='Void Check'  %>
                                <span>--</span>
                            <% elsif t.main_type == 'refund' %>
                                <span class="bold font">Phone: </span> <%= receiver.present? ? receiver.phone_number : 'N/A' %>
                            <% elsif t.main_type == 'Sale Issue' %>
                                <span class="bold font">Phone: </span> <%= receiver.present? ? receiver.phone_number : 'N/A' %>
                            <% elsif t.main_type == 'cbk_lost' %>
                              <span class="bold font">Phone: </span> <%= @db_t.try(:receiver).present? ? @db_t.receiver.phone_number : 'N/A' %>
                            <% else %>
                                <span class="bold font">Phone: </span> <%= sender.present? ? sender.phone_number : 'N/A'   %>
                            <%end %>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-lg-12">
                            <span class="bold font">Email: </span>
                            <% if t.main_type=='Send Check' || t.main_type=='Bulk Check' || t.main_type=='Void Check' %>
                                <%= t.tags.try(:[],'send_check_user_info').present? ? t.tags.try(:[],'send_check_user_info').try(:[],'check_email') : 'N/A'  %>
                            <% elsif t.main_type=='refund' %>
                                <%= receiver.present? ? receiver.email : 'N/A'  %>
                            <% elsif t.main_type=='Sale Issue' %>
                                <%= receiver.present? ? receiver.email : 'N/A'  %>
                            <% elsif t.main_type == 'cbk_lost' %>
                              <%= @db_t.try(:receiver).present? ? @db_t.receiver.email : '' %>
                            <% else %>
                                <%= sender.present? ? sender.email : 'N/A'  %>
                            <% end %>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-lg-12">
                            <span class="bold font">Wallet Id: </span>
                            <%if t.main_type=='Send Check' || t.main_type=='Bulk Check' || t.main_type=='Void Check'  %>
                                <span>--</span>
                            <% elsif t.main_type=='refund' %>
                                <%= t.receiver_wallet_id.present? ? t.receiver_wallet_id : 'N/A'  %>
                            <% elsif t.main_type=='Sale Issue' %>
                                <%= t.receiver_wallet_id.present? ? t.receiver_wallet_id : 'N/A'  %>
                            <% elsif t.main_type == 'cbk_lost' %>
                              <%= @db_t.try(:receiver_wallet_id).present? ? @db_t.receiver_wallet_id : '' %>
                            <% else %>
                                <%= t.sender_wallet_id.present? ? t.sender_wallet_id :  'N/A' %>
                            <%end %>
                          </div>
                        </div>
                        <!--                <label for="date"><strong>Date</strong></label>-->
                        <!--                <p class="form-control-static modalTimeUtc"><%#= t[:timestamp].strftime("%Y-%m-%d %H:%M:%S %z") %></p>-->
                    <%end %>
                  </div>

                  <div class="form-group col-md-6">
                    <span id="credit_card"> Credit Card Information</span>
                    <div class="row">
                      <div class="col-lg-12">
                        <span class="bold font">Gateway: </span>
                        <% if t.main_type=='cbk_hold' || t.main_type=='cbk_fee' || t.main_type == "cbk_lost" %>
                            <% card='' %>
                            <% case_no=t.tags.try(:[],'dispute_case').try(:[],'case_number') %>
                            <% dispute=DisputeCase.where(case_number:case_no).first if case_no.present? %>
                            <% cbk_trans=Transaction.where(id:dispute.transaction_id).first if dispute.present? %>
                        <% end %>
                        <% if t.tags.try(:[], 'source').present? %>
                            <% desc = t.payment_gateway %>
                            <%= desc.present? ? desc.name : t.tags.try(:[], 'source') %>
                        <% elsif t.tags.try(:[], "descriptor").present? %>
                            <%= t.tags.try(:[], "descriptor").present? ? t.tags.try(:[], "descriptor") : '--' %>
                        <% end %>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-lg-12">
                        <span class="bold font">Card Number: </span>
                        <% if t.last4.present? && t.first6.present? %>
                            <%= t.try(:first6) %>
                            ******
                            <%= t.try(:last4) %>
                        <% elsif t.tags.try(:[],'refund_details').try(:[],'parent_transaction_id').present? %>
                            <% card_details=Transaction.find_by(seq_transaction_id: t.tags.try(:[],'refund_details').try(:[],'parent_transaction_id')) if t.tags.try(:[],'refund_details').present? %>
                            <% if card_details.present? %>
                                <td> <%= card_details.tags.try(:[],'previous_issue').try(:[],'tags').try(:[],'card').try(:[],'first6') %>******
                                  <%= card_details.tags.try(:[],'previous_issue').try(:[],'tags').try(:[],'card').try(:[],'last4') %> </td>
                            <% else %>
                                <td>---</td>
                            <% end %>
                        <% elsif (t.main_type=='cbk_hold' || t.main_type=='cbk_fee' || t.main_type == "cbk_lost") && cbk_trans.present? %>
                            <% if cbk_trans.tags.try(:[],'previous_issue').try(:[],'tags').try(:[],'card').try(:[],'first6').present? || cbk_trans.tags.try(:[],'previous_issue').try(:[],'tags').try(:[],'card').try(:[],'last4').present?%>
                                <%= cbk_trans.tags.try(:[],'previous_issue').try(:[],'tags').try(:[],'card').try(:[],'first6').present? ? cbk_trans.tags.try(:[],'previous_issue').try(:[],'tags').try(:[],'card').try(:[],'first6') : ''    %>******
                                <%= cbk_trans.tags.try(:[],'previous_issue').try(:[],'tags').try(:[],'card').try(:[],'last4').present? ? cbk_trans.tags.try(:[],'previous_issue').try(:[],'tags').try(:[],'card').try(:[],'last4') : ''    %>
                            <% end %>
                        <% else %>
                            <% if t.tags.try(:[],'previous_issue').try(:[],'tags').try(:[],'card').try(:[],'first6').present? || t.tags.try(:[],'previous_issue').try(:[],'tags').try(:[],'card').try(:[],'last4').present?%>
                                <%= t.tags.try(:[],'previous_issue').try(:[],'tags').try(:[],'card').try(:[],'first6').present? ? t.tags.try(:[],'previous_issue').try(:[],'tags').try(:[],'card').try(:[],'first6') : ''    %>******
                                <%= t.tags.try(:[],'previous_issue').try(:[],'tags').try(:[],'card').try(:[],'last4').present? ? t.tags.try(:[],'previous_issue').try(:[],'tags').try(:[],'card').try(:[],'last4') : ''    %>
                            <% elsif t.tags.try(:[],'card').present? %>
                                <%= t.tags.try(:[],'card').try(:[],'first6') %>******
                                <%= t.tags.try(:[],'card').try(:[],'last4') %>
                            <% elsif t.try(:last4).present?%>
                                <%= t.try(:first6) %>
                                ******
                                <%= t.try(:last4) %>
                            <%else %>
                                <%= '--' %>
                            <% end %>
                        <% end %>
                      </div>
                    </div>

                    <div class="row">
                      <div class="col-lg-12">
                        <span class="bold font">Expiration Date: </span>
                        <% if t.card.present? %>
                            <%= t.card.exp_date || "---" %>
                        <% elsif t.tags.try(:[],'previous_issue').try(:[],'tags').try(:[],'card').try(:[],'exp_date').present? || t.tags.try(:[],'card').present? %>
                            <%= t.tags.try(:[],'previous_issue').try(:[],'tags').try(:[],'card').try(:[],'exp_date').present? ? t.tags.try(:[],'previous_issue').try(:[],'tags').try(:[],'card').try(:[],'exp_date') : t.tags.try(:[],'card').try(:[],'exp_date') %>
                        <% elsif t.tags.try(:[],'refund_details').try(:[],'parent_transaction_id').present? %>
                            <% card_details=Transaction.find_by(seq_transaction_id: t.tags.try(:[],'refund_details').try(:[],'parent_transaction_id')) %>
                            <%= card_details.tags.try(:[],'previous_issue').try(:[],'tags').try(:[],'card').try(:[],'exp_date').present? ? card_details.tags.try(:[],'previous_issue').try(:[],'tags').try(:[],'card').try(:[],'exp_date') : '--' %>
                        <% elsif (t.main_type=='cbk_hold' || t.main_type=='cbk_fee') && cbk_trans.present? %>
                            <%= cbk_trans.tags.try(:[],'previous_issue').try(:[],'tags').try(:[],'card').try(:[],'exp_date').present? ? cbk_trans.tags.try(:[],'previous_issue').try(:[],'tags').try(:[],'card').try(:[],'exp_date') : cbk_trans.tags.try(:[],'card').try(:[],'exp_date').present? ? cbk_trans.tags.try(:[],'card').try(:[],'exp_date') : cbk_trans.card.try(:[],'exp_date').present? ? cbk_trans.card.try(:[],'exp_date') : '--'     %>
                      <% end %>
                      </div>
                    </div>


                    <div class="row">
                      <div class="col-lg-12">
                        <span class="bold font">CVC Check: </span>| Passed <i class="fa fa-check-circle" id="green"></i>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-lg-12">
                        <span class="bold font">Type: </span>
                        <% if t.card.present? %>
                            <%= t.card.brand || "---" %>
                        <% elsif  t.tags.try(:[],'refund_details').try(:[],'parent_transaction_id').present? %>
                            <%= t.tags.try(:[],'previous_issue').try(:[],'tags').try(:[],'card').try(:[],'brand').present? ? t.tags.try(:[],'previous_issue').try(:[],'tags').try(:[],'card').try(:[],'brand') : card_details.tags.try(:[],'card').try(:[],'brand').present? ? card_details.tags.try(:[],'card').try(:[],'brand') : t.card.try(:[],'brand').present? ? t.card.try(:[],'brand') : '--'     %>
                        <% elsif (t.main_type=='cbk_hold' || t.main_type=='cbk_fee' || t.main_type == "cbk_lost") && cbk_trans.present? %>
                            <%= cbk_trans.tags.try(:[],'previous_issue').try(:[],'tags').try(:[],'card').try(:[],'brand').present? ? cbk_trans.tags.try(:[],'previous_issue').try(:[],'tags').try(:[],'card').try(:[],'brand') : cbk_trans.tags.try(:[],'card').try(:[],'brand').present? ? cbk_trans.tags.try(:[],'card').try(:[],'brand') : cbk_trans.card.try(:[],'card_type').present? ? cbk_trans.card.try(:[],'card_type') : '--'     %>
                      <% else %>
                            <%= t.tags.try(:[],'previous_issue').try(:[],'tags').try(:[],'card').try(:[],'brand').present? ? t.tags.try(:[],'previous_issue').try(:[],'tags').try(:[],'card').try(:[],'brand') : t.tags.try(:[],'card').try(:[],'brand').present? ? t.tags.try(:[],'card').try(:[],'brand') : t.card.try(:[],'card_type').present? ? t.card.try(:[],'card_type') : '--'     %>
                        <% end %>
                      </div>
                    </div>
                  </div>
                </div>
            <% end %>
            <% if t.main_type == "Tip transfer" %>
              <% t = Transaction.where(seq_transaction_id: t.tags.try(:[],"sequence_id")).first if t.tags.try(:[],"sequence_id").present? %>
            <% end %>
            <% db_t = @db_t %>
            <% if  t.main_type != "Send Check" && t.main_type != "ACH" && t.main_type != "instant_pay"  %>
                <%= render partial: 'merchant/transactions/non_check_details', locals: {t: t, db_t: db_t} %>
            <% else t.main_type == "Send Check" || t.main_type == "ACH" || t.main_type == "instant_pay" %>
                <%= render partial: 'merchant/transactions/checks_details', locals: {t: t, db_t: db_t} %>
            <% end %>
            <% if t.main_type == "refund_bank" && (t.sub_type == "qr_credit_card" || t.sub_type == "qr_debit_card") %>
              <div class="row" style="box-shadow: 0px 1px 3px 1px #dbdbdb;border-radius: 5px;  padding: 20px;margin-top: 12px;">
                <span style="text-decoration: underline; font-weight: bold; color:black;margin-left: 14px;"> QR Code Info</span>
                <br>
                <%= render partial: 'admins/detail_partials/qr_code_Info', locals: {t: t} %>
              </div>
            <% end %>
            <!--Memo Section-->
            <% memo = "" %>

              <% if t.tags.try(:[],'transfer_details').present? %>
                  <% memo = t.tags.try(:[],'transfer_details').try(:[],'memo').present? ? t.tags.try(:[],'transfer_details').try(:[],'memo'): ""  %>
              <% end %>
              <% if memo.present? %>
<!--                <div class="row" style="box-shadow: 0px 1px 3px 1px #dbdbdb;border-radius: 5px;  margin-top: 1%;">-->
              <div class="row" id="memo_row">
              <div class="form-group col-md-6">
                    <span><strong><u>Memo</u></strong></span>
<!--                    <div class="col-md-6">-->
<!--                      <div class="col-sm-12 col-lg-12 bg" >-->
                        <p class="form-control-static"><%= memo %></p>
                      </div>
                    </div>
<!--                  </div>-->
<!--                </div>-->
<!--                  <div class="form-group col-md-4">-->
<!--                    <label><strong>Memo</strong></label>-->
<!--                    <p class="form-control-static"><= User.where(id: t.to).first.present? ? User.where(id: t.to).first.name : "" %></p>-->
<!--                    <p class="form-control-static"><%#= memo %></p>-->
<!--                  </div>-->
              <% end %>
              <% if t.tags.try(:[],'fee_perc').try(:[],"sub_merchant_detail").present? %>

                <div class="row" id="sub_merchant_row">
                  <div class="form-group col-md-12">
                    <div class="col-md-12">
                      <% t.tags.try(:[],'fee_perc').try(:[],'sub_merchant_detail').each do |detail| %>
                          <% detail = detail.second %>
                          <% if detail['wallet'].present? && detail["percent"].to_f > 0 && detail["dollar"].to_f > 0 %>
                              <div class="col-sm-12 col-lg-12 bg" id="col_wallet">
                            <span class="bold font activi">
                              <%= t.tags["merchant"].try(:[],"name") %> paid <%= detail["name"] %> <%= number_to_currency(number_with_precision(detail["percent"].to_f + detail["dollar"].to_f, precision: 2)) %> amount of dollars
                            </span>
                              </div>
                          <% end %>
                      <% end %>
                    </div>
                  </div>
                </div>
            <% end %>
            <% if t.present? && t.refund_log.present? %>
                <div class="row" id="present_row">
                  <div class="form-group col-md-12">
                    <label for="date" id="date_label">
                      <strong>Refunds</strong></label>
                    <div class="col-md-12">
                      <% refund_detail = JSON.parse(t.refund_log) %>
                      <% amount = 0 %>
                      <% if refund_detail.kind_of?(Array) %>

                          <% refund_detail.each do |refund| %>
                              <div class="col-sm-12 col-lg-12 bg" id="refund_detail">

                                <% if amount > 0 %>
                                    <div class="row">
                                      <div class="col-md-4">
                                        <span class="modalTimeUtc"><%= DateTime.parse(refund["date"]).strftime("%Y-%m-%d %H:%M:%S") %> </span>
                                      </div>
                                      <div class="col-md-8">
                                   <span class="bold font activi">
                                     $ <%= number_with_precision(refund["amount"],:precision => 2, :delimiter => ',') %> has been refunded
                                   </span>
                                      </div>
                                    </div>

                                <% else %>
                                    <div class="row">
                                      <div class="col-md-4">
                                        <span class="modalTimeUtc"><%= DateTime.parse(refund["date"]).strftime("%Y-%m-%d %H:%M:%S") %> </span>
                                      </div>
                                      <div class="col-md-8">
                                  <span class="bold font activi">
                                  $ <%= number_with_precision(refund["amount"],:precision => 2, :delimiter => ',')  %> has been refunded
                                  </span>
                                      </div>
                                    </div>
                                <% end %>
                              </div>
                              <% amount = refund["amount"] %>
                          <% end %>
                      <% else %>
                          <div class="row">
                            <div class="col-sm-12 col-lg-12 bg" id="refund_amount">
                              <div class="row">
                                <div class="col-md-4">
                                  <span class="modalTimeUtc"><%= DateTime.parse(refund_detail["date"]).strftime("%Y-%m-%d %H:%M:%S") %> </span>
                                </div>
                                <div class="col-md-8">
                            <span class="bold font activi">
                            $ <%= number_with_precision(refund_detail["amount"],:precision => 2, :delimiter => ',')  %> has been refunded
                          </span>
                                </div>
                              </div>

                            </div>
                          </div>
                      <% end %>
                    </div>
                  </div>
                </div>
            <% end %>
            <% if db_t.present? %>
                <div class="row" id="db_present">
                  <div class="form-group col-md-12 text-center">
                    <% if db_t.card.present? %>
                        <% card = db_t.card %>
                    <% else %>
                        <% card = db_t.tags.try(:[],"previous_issue").try(:[],"tags").try(:[],"card") %>
                    <% end %>
                    <div class="col-md-12">
                      <div class="col-sm-12 col-lg-12 bg" id="cbk_fee">
                          <span class="bold font">
                            <%= t.main_type=='cbk_fee' ? 'CBK Fee' : t.main_type=='cbk_hold' ? 'CBK Hold' : t.main_type.humanize %> for card <%= card.try(:[],"last4") %> in the amount of $<%= number_with_precision(t.amount,:precision => 2, :delimiter => ',')  %><br> <b title="<%= t.try(:seq_transaction_id) %>">Transaction ID: </b><%= t.try(:seq_transaction_id).first(6) %> on <span class="modalTimeUtc"><%= t.try(:created_at).strftime("%Y-%m-%d %H:%M:%S %z") %> </span> </span>
                      </div>
                    </div>
                  </div>
                </div>
            <% end %>
            <% if t.status=='pending' && (t.main_type!='Send Check' && t.main_type!='Bulk Check' && t.main_type!='Void Check' && t.main_type!='B2B Transfer' && t.main_type != "account_transfer") %>
                <div class="row" id="checks_row">
                  <div class="form-group col-md-12">
                    <span><strong >Decline Reason</strong></span>
                    <div class="col-md-12">
                      <div class="col-sm-12 col-lg-12 bg" >
                        <% a = t.try(:activity_logs).try(:first).try(:respond_with)
                           if a.present? && a.first == "{"
                             a = JSON(a)
                             a = a["message"]
                           end %>
                        <span id="red" class="fa fa-bank"> <span class="bold font"> <%= a ? a : 'Decline From Bank' %></span></span>
                      </div>
                    </div>
                  </div>
                </div>
            <% end %>

            <% if t.present? && t.tracker.present? %>
              <div class="row" id="shipment_row">
                <div class="form-group col-md-12">
                  <%= render partial: 'merchant/shared/shipping_details', locals: { t: t, tracker: t.tracker } %>
                </div>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
<div class="modal fade" id="confirm1" >
  <div class="modal-dialog trans_modal" id="modal_trans">
    <div class="modal-content">
      <div class="modal-header" id="modal_head">
        <h2 class="modal-title" id="white">Accept Dispute</h2>
      </div>
      <div class="modal-body">
        Once Accept is selected, you will automatically lose this dispute and this case will be permanently closed.
        <br>
        Click Accept if you are sure you do not wish to challenge this dispute and accept the related terms for chargebacks.
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default btn-danger" data-toggle="modal" data-target="#verifymodal1" id="white1">Accept</button>
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div>
<div class="modal fade" id="verifymodal1">
  <div class="modal-dialog trans_modal "  id="dialog_trans">
    <div class="modal-content" id="modal_content_trans">
      <!-- Modal Header -->
      <div class="modal-header text-left bg-primary text-white">
        <h4 class="modal-title" id="accept_title"><span class="ml-2">Accept Dispute</span></h4>
        <button type="button" class="close" data-dismiss="modal">×</button>
      </div>
      <!-- Modal body -->
      <div class="modal-body" id="modal_body2">
        <div class="card" id="card_2">
          <div class="card-body">
            <div class="row" id="card_row1">
              <div class="col-md-12" id="row_col">
                <div class="col-md-12">
                  <div class="form-group">
                    <label class="control-label" id="email_label"><span>Email</span></label>
                    <input type="email" value="<%= current_user.email %>" class="form-control" disabled>
                  </div>
                </div>
                <div class="col-md-12">
                  <div class="form-group">
                    <label class="control-label"><span>Password</span></label>
                    <input type="password" value="" id="password1" class="form-control">
                  </div>
                </div>
                <div class="col-md-12">
                  <div class="form-group">
                    <a class="btn btn-primary btn-sm" id="password_btn1">Verify</a>
                    <!--<a class="btn btn-primary btn-sm" id="send" style="width: 100%;display: none;">Confirm / Send</a>-->
                    <%= link_to 'Confirm / Send',accept_dispute_merchant_disputes_path,id:'send1',class:'btn btn-primary btn-sm' %>
                  </div>
                </div>
                <span  id="info-text1">Please verify yourself!</span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer"  id="modal_footer">
        <button class="btn btn-default" data-dismiss="modal">Cancel</button>
      </div>
    </div>
  </div>
</div>
<%= javascript_include_tag 'merchant/modal_date_time.js' %>