<div class="row" id="non_check">
  <div class="form-group col-md-6" >
    <span class="transaction_details"> Transaction Details</span>
    <br>
    <div class="row">
      <div class="col-lg-12"><span class="bold font">Total Amount: </span>
        <% if db_t.present? %>
          <%= t.action.present? && (t.action=='retire' || t.action=='withdraw'|| t.main_type=='cbk_hold') ? '-' : '' %><%= number_to_currency(number_with_precision(db_t.try(:total_amount).present? ? db_t.try(:total_amount) : SequenceLib.dollars(db_t.try(:amount_in_cents).to_f), precision: 2, delimiter: ',')) %>
        <% else %>
          <% if (t.main_type=='Void Check' || t.main_type=='Void ACH') && (t.action!='retire') %>
            +<%= number_to_currency(number_with_precision(t.try(:total_amount).present? ? t.try(:total_amount) : SequenceLib.dollars(t.try(:amount_in_cents).to_f), precision: 2, delimiter: ',')) %>
          <% elsif t.main_type=='refund'  %>
            -<%= number_to_currency(number_with_precision(t.try(:total_amount).present? ? t.try(:total_amount) : SequenceLib.dollars(t.try(:amount_in_cents).to_f), precision: 2, delimiter: ',')) %>
          <% else %>
            <%= t.action.present? && (t.action=='retire' || t.action=='withdraw'  || t.main_type=='cbk_hold') ? '-' : '' %><%= number_to_currency(number_with_precision(t.try(:total_amount).present? ? t.try(:total_amount) : SequenceLib.dollars(t.try(:amount_in_cents).to_f), precision: 2, delimiter: ',')) %>
          <% end %>
        <% end %>
      </div>
    </div>
    <% if [TypesEnumLib::TransactionType::TrackingFee.try(:downcase), TypesEnumLib::TransactionType::GenerateLabelFee.try(:downcase)].include? t.main_type.try(:downcase) %>
      <div class="row">
        <% generate_label = t.tags["previous_issue"].try(:[],"type").try(:first).present? ? true : false %>
        <div class="col-lg-12"><span class="bold font"><%= generate_label ? "Tracking Fee" : "Generate Label Fee" %>: </span>
          <% tracking_fee = generate_label ? (t.total_amount - t.tags["previous_issue"].try(:[],"amount").to_f) : t.total_amount %>
          -<%= number_to_currency(number_with_precision(tracking_fee, precision: 2)) %>
        </div>
      </div>

      <% if generate_label %>
        <div class="row">
          <% generate_label = t.tags["previous_issue"].try(:[], "type").try(:first).present? ? true : false %>
          <div class="col-lg-12">
            <span class="bold font">Generate Label Fee: </span>
            <% generate_fee = t.tags["previous_issue"].try(:[], "amount").to_f %>
            -<%= number_to_currency(number_with_precision(generate_fee, precision: 2)) %>
          </div>
        </div>
      <% end %>
      <div class="row">
        <div class="col-lg-12"><span class="bold font">Net Fee: </span>
          -<%= number_to_currency(number_with_precision(t.try(:total_amount), precision: 2)) %>
        </div>
      </div>
    <% else %>
      <div class="row">
        <div class="col-lg-12"><span class="bold font">Tx Amount: </span>
          <% if (t.main_type == 'Void Check' || t.main_type == 'Void ACH') && (t.action != 'retire') %>
            +<%= number_to_currency(number_with_precision(t.try(:amount).present? ? t.try(:amount) : SequenceLib.dollars(t.try(:tx_amount.to_f)), precision: 2, delimiter: ',')) %>
          <% elsif t.main_type == "cbk_hold" || t.main_type == "cbk_fee" || t.main_type == "cbk_won" || t.main_type == "cbk_lost" %>
            <%= t.action.present? && (t.action == 'retire' || t.action == 'withdraw' || t.main_type == 'cbk_hold') ? '-' : '' %><%= number_to_currency(number_with_precision(db_t.try(:amount).present? ? db_t.try(:amount) : SequenceLib.dollars(db_t.try(:tx_amount)), precision: 2, delimiter: ',')) %>
          <% elsif t.main_type == 'refund' %>
            -<%= number_to_currency(number_with_precision(t.try(:amount).present? ? t.try(:amount) : SequenceLib.dollars(t.try(:tx_amount.to_f)), precision: 2, delimiter: ',')) %>
          <% else %>
            <%= t.action.present? && (t.action == 'retire' || t.action == 'withdraw' || t.main_type == 'cbk_hold') ? '-' : '' %><%= number_to_currency(number_with_precision(t.try(:amount).present? ? t.try(:amount) : SequenceLib.dollars(t.try(:tx_amount)), precision: 2, delimiter: ',')) %>
          <% end %>
        </div>
      </div>

      <div class="row">
        <div class="col-lg-12">
          <% if t.action == "transfer" && (t.main_type == "Qr Debit Card" || t.main_type == "Qr Credit Card") %>
            <span class="bold font">Cash Back: </span>
          <% else %>
            <span class="bold font">Privacy Fee: </span>
          <% end %>
          <% if t.main_type == "cbk_hold" || t.main_type == "cbk_fee" || t.main_type == "cbk_won" || t.main_type == "cbk_lost" %>
            <%= db_t.try(:privacy_fee).present? ? number_to_currency(number_with_precision(db_t.try(:privacy_fee), precision: 2, delimiter: ',')) : "$0.00" %>
          <% else %>
            <%= t.try(:privacy_fee).present? ? number_to_currency(number_with_precision(t.try(:privacy_fee), precision: 2, delimiter: ',')) : "$0.00" %>
          <% end %>
          </div>
          </div>

          <div class="row">
            <div class="col-lg-12"><span class="bold font">Fee: </span>
              <% if t.try(:main_type) == "Sale Issue" %>
                <% if t.tags.try(:[], 'fee').present? %>
                  <%= t.tags.try(:[], 'fee').to_f %>
                <% else %>
                  $0.00
                <% end %>
              <% else %>
                <% if t.main_type == "cbk_hold" || t.main_type == "cbk_fee" || t.main_type == "cbk_won" || t.main_type == "cbk_lost" %>
                  <%= db_t.try(:fee).present? ? number_to_currency(number_with_precision(show_view_fee(db_t.tags.try(:[], "fee_perc"), db_t.try(:fee)), precision: 2)) : SequenceLib.cents_to_dollars(db_t.try(:fee_in_cents).present? ? number_to_currency(number_with_precision(show_view_fee(db_t.tags.try(:[], "fee_perc"), db_t.try(:fee_in_cents)), precision: 2)) : "$0.00") %>
                <% else %>
                  <%= t.try(:fee).present? ? number_to_currency(number_with_precision(show_view_fee(t.tags.try(:[], "fee_perc"), t.try(:fee)), precision: 2)) : SequenceLib.cents_to_dollars(t.try(:fee_in_cents).present? ? number_to_currency(number_with_precision(show_view_fee(t.tags.try(:[], "fee_perc"), t.try(:fee_in_cents)), precision: 2)) : "$0.00") %>
                <% end %>
              <% end %>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-12"><span class="bold font">Net Fee: </span>
              <% if t.try(:main_type) == "Sale Issue" %>
                <% if t.tags.try(:[], 'fee').present? && t.tags.try(:[], 'fee').to_f > 0 %>
                  <%= t.tags.try(:[], 'fee').to_f * -1 %>
                <% else %>
                  $0.00
                <% end %>
              <% else %>
                <% if t.main_type == "cbk_hold" || t.main_type == "cbk_fee" || t.main_type == "cbk_won" || t.main_type == "cbk_lost" %>
                  -<%= db_t.try(:net_fee).present? ? number_to_currency(number_with_precision(show_view_net_fee(db_t.tags.try(:[], "fee_perc"), db_t.try(:privacy_fee), db_t.try(:fee)), precision: 2)) : "$0.00" %>
                <% elsif t.main_type == "account_transfer" %>
                  -<%= t.try(:net_fee).present? ? number_to_currency(number_with_precision(show_view_net_fee(t.tags.try(:[], "fee_perc"), t.try(:privacy_fee), t.try(:fee)), precision: 2)) : "$0.00" %>
                <% else %>
                  <% if t.try(:privacy_fee).to_f > t.try(:fee).to_f %>
                    <%= t.try(:net_fee).present? ? number_to_currency(number_with_precision(show_view_net_fee(t.tags.try(:[], "fee_perc"), t.try(:privacy_fee), t.try(:fee)), precision: 2)) : "$0.00" %>
                  <% else %>
                    -<%= t.try(:net_fee).present? ? number_to_currency(number_with_precision(show_view_net_fee(t.tags.try(:[], "fee_perc"), t.try(:privacy_fee), t.try(:fee)), precision: 2)) : "$0.00" %>
                  <% end %>
                <% end %>
              <% end %>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-12"><span class="bold font">Total Net: </span>
              <% if (t.main_type=='Void Check' || t.main_type=='Void ACH') && (t.action!='retire') %>
                +<%= t.action.present? && (t.action=='retire' || t.action=='withdraw') ? '-' : '' %><%= number_to_currency(number_with_precision(show_view_total_net(t.tags.try(:[],"fee_perc"), t.try(:total_amount) || SequenceLib.dollars(t.try(:amount_in_cents)),t.try(:tip) || SequenceLib.dollars(t.try(:tip_cents)), t.try(:reserve_money) || SequenceLib.dollars(t.try(:hold_money_cents)), t.try(:fee) || SequenceLib.dollars(t.try(:fee_in_cents))) , precision: 2)) %>
              <% elsif t.main_type == "cbk_hold" || t.main_type == "cbk_fee" || t.main_type == "cbk_won" || t.main_type == "cbk_lost" %>
                <% total_net = show_view_total_net(db_t.tags.try(:[],"fee_perc"), db_t.try(:total_amount) || SequenceLib.dollars(db_t.try(:amount_in_cents)),t.try(:tip) || SequenceLib.dollars(db_t.try(:tip_cents)), db_t.try(:reserve_money) || SequenceLib.dollars(db_t.try(:hold_money_cents)), db_t.try(:fee) || SequenceLib.dollars(db_t.try(:fee_in_cents))) %>
                <%= t.action.present? && (t.action=='retire' || t.action=='withdraw' || t.main_type=='cbk_hold' || t.main_type == "cbk_fee") && (total_net.to_f > 0) ? '-' : '' %><%= number_to_currency(number_with_precision(total_net , precision: 2)) %>
              <% elsif t.main_type=='refund' %>
                -<%= t.action.present? && (t.action=='retire' || t.action=='withdraw') ? '-' : '' %><%= number_to_currency(number_with_precision(show_view_total_net(t.tags.try(:[],"fee_perc"), t.try(:total_amount) || SequenceLib.dollars(t.try(:amount_in_cents)),t.try(:tip) || SequenceLib.dollars(t.try(:tip_cents)), t.try(:reserve_money) || SequenceLib.dollars(t.try(:hold_money_cents)), t.try(:fee) || SequenceLib.dollars(t.try(:fee_in_cents))) , precision: 2)) %>
              <% elsif t.main_type=="Qr Debit Card" || t.main_type=="Qr Credit Card"%>
                <%= t.try(:net_amount).present? ?  number_to_currency(number_with_precision(t.try(:net_amount), precision: 2)) : "$0.00" %>
              <% else %>
                <%= t.action.present? && (t.action=='retire' || t.action=='withdraw' ) ? '-' : '' %><%= number_to_currency(number_with_precision(show_view_total_net(t.tags.try(:[],"fee_perc"), t.try(:total_amount) || SequenceLib.dollars(t.try(:amount_in_cents)),t.try(:tip) || SequenceLib.dollars(t.try(:tip_cents)), t.try(:reserve_money) || SequenceLib.dollars(t.try(:hold_money_cents)), t.try(:fee) || SequenceLib.dollars(t.try(:fee_in_cents))) , precision: 2)) %>
              <% end %>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-12"><span class="bold font">Tip: </span>
              <% if t.main_type == "cbk_hold" || t.main_type == "cbk_fee" || t.main_type == "cbk_won" %>
                <%= number_with_precision(number_to_currency(db_t.try(:tip).to_f || SequenceLib.dollars(db_t.try(:tip_cents))), precision: 2) %>
              <% else %>
                <%= number_with_precision(number_to_currency(t.try(:tip).to_f || SequenceLib.dollars(t.try(:tip_cents))), precision: 2) %>
              <% end %>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-12"><span class="bold font">Reserve Money: </span>
              <% if t.main_type == "cbk_hold" || t.main_type == "cbk_fee" || t.main_type == "cbk_won" || t.main_type == "cbk_lost" %>
                <%= db_t.try(:reserve_money).present? ? number_with_precision(number_to_currency(db_t.reserve_money), precision: 2) : db_t.try(:hold_money_cents).present? ? number_with_precision(number_to_currency(SequenceLib.dollars(db_t.hold_money_cents)), precision: 2) : db_t.tags.try(:[], 'fee_perc').present? ? db_t.tags.try(:[], 'fee_perc').try(:[], 'hold_money').nil? && t.tags.try(:[], 'fee_perc').try(:[], 'reserve').nil? ? "$0.00" : number_to_currency(db_t.tags.try(:[], 'fee_perc').try(:[], 'hold_money') || db_t.tags.try(:[], 'fee_perc').try(:[], 'reserve').try(:[], 'amount')) : "$0.00" %>
              <% else %>
                <%= t.try(:reserve_money).present? ? number_with_precision(number_to_currency(t.reserve_money), precision: 2) : t.try(:hold_money_cents).present? ? number_with_precision(number_to_currency(SequenceLib.dollars(t.hold_money_cents)), precision: 2) : t.tags.try(:[], 'fee_perc').present? ? t.tags.try(:[], 'fee_perc').try(:[], 'hold_money').nil? && t.tags.try(:[], 'fee_perc').try(:[], 'reserve').nil? ? "$0.00" : number_to_currency(t.tags.try(:[], 'fee_perc').try(:[], 'hold_money') || t.tags.try(:[], 'fee_perc').try(:[], 'reserve').try(:[], 'amount')) : "$0.00" %>
              <% end %>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-12"><span class="bold font">Discount: </span>
              <% if t.main_type == "cbk_hold" || t.main_type == "cbk_fee" || t.main_type == "cbk_won" || t.main_type == "cbk_lost" %>
                <%= number_with_precision(number_to_currency(db_t.try(:discount).to_f), precision: 2) %>
              <% else %>
                <%= number_with_precision(number_to_currency(t.try(:discount).to_f), precision: 2) %>
              <% end %>
            </div>
          </div>
    <% end %>
    </div>
<div class="form-group col-md-6">
  <div class="row">
    <div class="col-lg-12">
      <span class="bold font">Gateway: </span> Quickcard
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12">
      <span class="bold font">Tx ID: </span>
      <a href="#" id="tx_idd"  ><%= t.try(:seq_transaction_id).present? ? t.seq_transaction_id.first(30) : t.try(:sequence_id).present? ? t.sequence_id.first(30) : "--" %>...</a>
      <div class="none" id="tx_id">
        <div id="tx_id6">Tx Id</div>
        <div id="sequence_id1">
          <%= t.try(:seq_transaction_id).present? ? t.seq_transaction_id : t.try(:sequence_id).present? ? t.sequence_id : "--" %>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12">
      <span class="bold font">Tx Date/Time: </span> <span class="modalTimeUtc">
          <%= t.try(:timestamp).present? ? t.timestamp : t.created_at  %></span>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12"><span class="bold font" id="qc_risk_eval1">QC risk evaluation: </span><span id="normal_risk1">Normal</span></div>
  </div>
  <div class="row">
    <div class="col-lg-12"><span class="bold font">URL Address: </span>
      <%= t.try(:ip) %></div>
  </div>
  <div class="row">
    <div class="col-lg-12"><span class="bold font">Transaction IP: </span>
      <%= t.try(:ip) %></div>
  </div>
  <div class="row">
    <div class="col-lg-12"><span class="bold font">Clerk ID: </span>
      <%= t.try(:clerk_id).present? ? t.try(:clerk_id) : t.tags.try(:[],'sales_info').try(:[],'clerk_id').present? ? t.tags.try(:[],'sales_info').try(:[],'clerk_id') : '' %>
    </div>
    <%#= t.try(:clerk_id).present? ? t.try(:clerk_id) : '' %>
  </div>
  <div class="row">
    <div class="col-lg-12"><span class="bold font" id="dba_name1">DBA Name: </span>
      <%= t.tags.try(:[],'location').try(:[],'business_name').present? ? t.tags.try(:[],'location').try(:[],'business_name')  : ''  %>
    </div>
  </div>
  <% if t.tags.try(:[],"sales_info").try(:[], "terminal_id").present? %>
    <div class="row">
      <div class="col-lg-12">
        <label for="date"><strong>Terminal ID: </strong></label>
        <!--<p class="form-control-static"><= User.where(id: t.to).first.present? ? User.where(id: t.to).first.name : "" %></p>-->
        <span class="form-control-static"><%= t.tags["sales_info"].present? ? t.tags["sales_info"]["terminal_id"] : 'N/A' %></span>
      </div>
    </div>
  <% elsif t.try(:activity_logs).try(:first).try(:[], :params).try(:[], "terminal_id").present? %>
    <div class="row">
      <div class="col-lg-12">
        <label for="date"><strong>Terminal ID: </strong></label>
        <!--<p class="form-control-static"><= User.where(id: t.to).first.present? ? User.where(id: t.to).first.name : "" %></p>-->
        <span class="form-control-static"><%= t.activity_logs.first[:params]["terminal_id"].present? ? t.activity_logs.first[:params]["terminal_id"] : 'N/A' %></span>
      </div>
    </div>
    </div>
  <% end %>
  </div>
  </div>