
<div id="modal_id" class="modal fade right" role="dialog"   >
  <div class="modal-dialog trans_modal modal-lg" id="modal_lg1" >
    
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header text-left bg-primary text-white">
        <h4 class="modal-title"><i class="fa fa-money"></i><span class="ml-2">Transaction Details</span></h4>
        <button type="button" class="close" data-dismiss="modal" id="white2">&times;</button>
      </div>
      <div class="modal-body">
        <div class="row" id="reserve_row">
          <div class="col-xs-12 col-lg-12" id="reserve_12">
            <div class="col-xs-12 col-lg-12" id="reserve_12a">
              <div class="row">
                <% if t.status == "pending" %>
                  <div class="col-md-10" id="reserve_pending"><%= "Declined" %></div>
                <% else %>
                  <% if t.try(:main_type)=="instant_pay" %>
                    <div class="col-md-10" id="reserve_instant">Push to Card</div>
                 <%else %>
                <div class="col-md-10" id="reserve_els"><%= t.main_type.humanize %></div>
                    <% end %>
                  <% end %>
                <div class="col-md-2" >
                 
                  <!--                    <a data-toggle="modal" data-transaction="" style="float: right; padding:5px; padding-top: 0px !important; " class="refundModalDialog" href="#refundModalDialog"><button type="button" class="btn btn-sm" style="padding: 8px;border-radius: 5px; background-color:red; color:white; width: 94px;" id="refund">Refund</button></a>-->
                </div>
              </div>
            </div>
          </div>
        </div>
        <% sender = t.sender %>
        <% receiver = t.receiver %>
        <div class="card" id="border_none">
          <div class="card-body" id="reserve_card_body">
              <% if t.main_type != "Send Check" && t.main_type != "ACH" && t.main_type != "instant_pay" %>
                <div class="row" id="reserve_check">
                  <div class="form-group col-md-6">
                    <% if t.main_type=="cbk_won" %>
                    <span class="reserve_cbk"> Merchant Information</span>
                    <div class="row">
                      <div class="col-lg-12">
                        <span class="bold font">Name: </span>
                        <%= receiver.present? ? receiver.try(:name) : 'N/A' %>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-lg-12">
                        <span class="bold font">Phone: </span> <%= receiver.present? ? receiver.phone_number : 'N/A'   %>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-lg-12">
                        <span class="bold font">Email: </span>
                        <%= receiver.present? ? receiver.email :  'N/A'  %>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-lg-12">
                        <span class="bold font">Wallet Id: </span>
                        <%= t.receiver_wallet_id.present? ? t.receiver_wallet_id :  'N/A' %>
                      </div>
                    </div>
                      <%else %>
                      <% if t.main_type=="cbk_hold"  || t.main_type=="cbk_fee" %>
                        <span class="reserve_cbk"> Merchant Information</span>
                      <%else %>
                        <span class="reserve_cbk"> Customer Information</span>
                      <%end %>
                    <br>
                    <div class="row">
                      <div class="col-lg-12">
                        <span class="bold font">Name: </span>
                        <% if t.main_type=='Send Check' || t.main_type=='Bulk Check' || t.main_type=='Void Check' %>
                            <%= t.tags.try(:[],'send_check_user_info').present? ? t.tags.try(:[],'send_check_user_info').try(:[],'name') : 'N/A'  %>
                        <% elsif t.main_type=='refund' %>
                            <%# user_info= t.to.present? && t.to.gsub(/[^0-9]/, '').present?  ? Wallet.find(t.to).try('users').try('first') :''%>
                            <%= receiver.present? ? receiver.name : ''  %>
                        <% else %>
                            <%# user_info = t.from.present? && t.from.gsub(/[^0-9]/, '').present?  ? Wallet.find(t.from).try('users').try('first') :'' %>
                            <%= sender.try(:name).present? ? sender.try(:name) : 'N/A' %>
                        <% end %>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-lg-12">
                        <%if t.main_type=='Send Check' || t.main_type=='Bulk Check' || t.main_type=='Void Check'  %>
                          <span>--</span>
                        <% elsif t.main_type=='refund' %>
                            <span class="bold font">Phone: </span> <%= receiver.present? ? receiver.phone_number : 'N/A'  %>
                        <% else %>
                          <span class="bold font">Phone: </span> <%= sender.present? ? sender.phone_number : 'N/A'   %>
                        <%end %>
                      </div>
                      </div>
                    <div class="row">
                    <div class="col-lg-12">
                      <span class="bold font">Email: </span>
                      <% if t.main_type=='Send Check' || t.main_type=='Bulk Check' || t.main_type=='Void Check' %>
                        <%= t.tags.try(:[],'send_check_user_info').present? ? t.tags.try(:[],'send_check_user_info').try(:[],'check_email') : 'N/A'  %>
                      <% elsif t.main_type=='refund' %>
                          <%= receiver.present? ? receiver.email : 'N/A'  %>
                      <% else %>
                        <%= sender.present? ? sender.email : 'N/A'  %>
                      <% end %>
                    </div>
                  </div>
                    <div class="row">
                      <div class="col-lg-12">
                        <span class="bold font">Wallet Id: </span>
                        <%if t.main_type=='Send Check' || t.main_type=='Bulk Check' || t.main_type=='Void Check'  %>
                          <span>--</span>
                        <% elsif t.main_type=='refund' %>
                            <%= t.receiver_wallet_id.present? ? t.receiver_wallet_id : 'N/A'  %>
                        <% else %>
                          <%= t.sender_wallet_id.present? ? t.sender_wallet_id :  'N/A' %>
                        <%end %>
                      </div>
                    </div>
                    <!--                <label for="date"><strong>Date</strong></label>-->
                    <!--                <p class="form-control-static modalTimeUtc"><%#= t[:timestamp].strftime("%Y-%m-%d %H:%M:%S %z") %></p>-->
                    <%end %>
                  </div>
                  <div class="form-group col-md-6">
                  <span class="reserve_cbk"> Credit Card Information</span>
                  <div class="row">
                    <div class="col-lg-12">
                      <span class="bold font">Gateway: </span>
                      <%= t.gateway.present? ? t.gateway  : '--'  %>
                    </div>
                  </div>
                  <div class="row">
                  <div class="col-lg-12">
                    <span class="bold font">Card Number: </span>
                    <% if t.last4.present? && t.first6.present? %>
                      <%= t.try(:first6) %>
                      ******
                      <%= t.try(:last4) %>
                    <% else %>
                      <% if pt.present? %>
                        <%= pt.tags.try(:[],'previous_issue').try(:[],'tags').try(:[],'card').try(:[],'first6').present? ? pt.tags.try(:[],'previous_issue').try(:[],'tags').try(:[],'card').try(:[],'first6') : '' %>******
                        <%= pt.tags.try(:[],'previous_issue').try(:[],'tags').try(:[],'card').try(:[],'last4').present? ? pt.tags.try(:[],'previous_issue').try(:[],'tags').try(:[],'card').try(:[],'last4') : '' %>
                      <% end %>
                    <% end %>
                  </div>
                </div>

                  <div class="row">
                    <div class="col-lg-12">
                      <span class="bold font">Expiration Date: </span>
                      <% if t.card.present? %>
                        <%= t.card.exp_date || "---" %>
                      <% else %>
                        <% if pt.present? %>
                          <% if pt.tags.try(:[],'previous_issue').try(:[],'tags').try(:[],'card').try(:[],'exp_date').present? || pt.tags.try(:[],'card').present? %>
                            <%= pt.tags.try(:[],'previous_issue').try(:[],'tags').try(:[],'card').try(:[],'exp_date').present? ? pt.tags.try(:[],'previous_issue').try(:[],'tags').try(:[],'card').try(:[],'exp_date') : pt.tags.try(:[],'card').try(:[],'exp_date') %>
                          <% elsif pt.tags.try(:[],'refund_details').try(:[],'parent_transaction_id').present? %>
                            <% '--' %>
                          <% end %>
                        <% end %>
                      <% end %>
                    </div>
                  </div>


                <div class="row">
                  <div class="col-lg-12">
                    <span class="bold font">CVC Check: </span>| Passed <i class="fa fa-check-circle" id="res_green"></i>
                  </div>
                </div>
                  <div class="row">
                    <div class="col-lg-12">
                      <span class="bold font">Type: </span>
                      <% if pt.present? %>
                        <%= pt[:tags].try(:[],'previous_issue').try(:[],'tags').try(:[],'card').try(:[],'card_type')%>
                      <% end %>
                    </div>
                  </div>
              </div>
                </div>
              <% end %>
              <% if  t.main_type != "Send Check" && t.main_type != "ACH" && t.main_type != "instant_pay"  %>
                <%= render partial: 'merchant/transactions/non_check_details', locals: {t: t, db_t: db_t,pt: "pt"} %>
              <% else t.main_type == "Send Check" || t.main_type == "ACH" || t.main_type == "instant_pay" %>
                <%= render partial: 'merchant/transactions/checks_details', locals: {t: t, db_t: db_t,pt: "pt"} %>
              <% end %>
              <!--Memo Section-->
              <%# memo="" %>
              <%# if t.tags.try(:[],'transfer_details').present? %>
                  <%# memo= t.tags["transfer_details"]["memo"].present? ? t.tags["transfer_details"]["memo"] : ""  %>
              <%# end %>

              <%# if t.tags.try(:[],'transfer_details').present? %>
                  <%# memo= t.tags.try(:[],'transfer_details').try(:[],'memo').present? ? t.tags.try(:[],'transfer_details').try(:[],'memo'): ""  %>
              <%# end %>
              <%# if memo!="" %>
                  <!-- <div class="form-group col-md-4">
                    <label><strong>Memo</strong></label>
                    <p class="form-control-static"><#= User.where(id: t.to).first.present? ? User.where(id: t.to).first.name : "" %></p>
                    <p class="form-control-static"><%#= memo %></p>
                  </div> -->
              <%# end %>
              <%# if t.tags.try(:[],'fee_perc').try(:[],"sub_merchant_detail").present? %>
                <!-- <div class="row" style="box-shadow: 0px 1px 3px 1px #dbdbdb;border-radius: 5px;  padding: 20px;margin-top: 10px;">
                  <div class="form-group col-md-12">
                    <div class="col-md-12">
                      <%# t.tags.try(:[],'fee_perc').try(:[],'sub_merchant_detail').each do |detail| %>
                        <%# detail = detail.second %>
                        <%# if detail['wallet'].present? && detail["percent"].to_f > 0 && detail["dollar"].to_f > 0 %>
                          <div class="col-sm-12 col-lg-12 bg" style="border-radius: 40px; background-color: #D3D3D3;padding: 11px;">
                            <span class="bold font activi">
                              <%#= t.tags["merchant"].try(:[],"name") %> paid <%#= detail["name"] %> <%#= number_to_currency(number_with_precision(detail["percent"].to_f + detail["dollar"].to_f, precision: 2)) %> amount of dollars
                            </span>
                          </div>
                        <%# end %>
                      <%# end %>
                    </div>
                  </div>
                </div> -->
              <%# end %>
              <%# if t.present? && t.refund_log.present? %>
               <!--  <div class="row" style="box-shadow: 0px 1px 3px 1px #dbdbdb;border-radius: 5px; margin-top: 10px;">
                  <div class="form-group col-md-12">
                    <label for="date" style="text-decoration: underline; font-weight: bold; color:black;">
                      <strong>Refunds</strong></label>
                    <div class="col-md-12">
                      <%# refund_detail = JSON.parse(t.refund_log) %>
                      <%# amount = 0 %>
                      <%# if refund_detail.kind_of?(Array) %>

                        <%# refund_detail.each do |refund| %>
                          <div class="col-sm-12 col-lg-12 bg" style="margin-bottom: 4%">

                              <%# if amount > 0 %>
                              <div class="row">
                                <div class="col-md-4">
                                  <span class="modalTimeUtc"><%#= DateTime.parse(refund["date"]).strftime("%Y-%m-%d %H:%M:%S") %> </span>
                                </div>
                                <div class="col-md-8">
                                   <span class="bold font activi">
                                     $ <%#= number_with_precision(refund["amount"],:precision => 2, :delimiter => ',') %> has been refunded
                                   </span>
                                </div>
                              </div>

                              <%# else %>
                                <div class="row">
                                  <div class="col-md-4">
                                    <span class="modalTimeUtc"><%#= DateTime.parse(refund["date"]).strftime("%Y-%m-%d %H:%M:%S") %> </span>
                                  </div>
                                  <div class="col-md-8">
                                  <span class="bold font activi">
                                  $ <%#= number_with_precision(refund["amount"],:precision => 2, :delimiter => ',')  %> has been refunded
                                  </span>
                                  </div>
                                </div>
                              <%# end %>
                          </div>
                          <%# amount = refund["amount"] %>
                        <%# end %>
                      <%# else %>
                        <div class="row">
                          <div class="col-sm-12 col-lg-12 bg" style="border-radius: 40px;">
                            <div class="row">
                              <div class="col-md-4">
                                <span class="modalTimeUtc"><%#= DateTime.parse(refund_detail["date"]).strftime("%Y-%m-%d %H:%M:%S") %> </span>
                              </div>
                              <div class="col-md-8">
                            <span class="bold font activi">
                            $ <%#= number_with_precision(refund_detail["amount"],:precision => 2, :delimiter => ',')  %> has been refunded
                          </span>
                              </div>
                            </div>

                          </div>
                        </div>
                      <%# end %>
                    </div>
                  </div>
                </div> -->
              <%# end %>
              <%# if db_t.present? %>
                  <!-- <div class="row" style="box-shadow: 0px 1px 3px 1px #dbdbdb;border-radius: 5px;  padding: 20px;margin-top: 10px;">
                    <div class="form-group col-md-12 text-center">
                      <%# if db_t.card.present? %>
                        <%# card = db_t.card %>
                      <%# else %>
                        <%# card = db_t.tags.try(:[],"previous_issue").try(:[],"tags").try(:[],"card") %>
                      <%# end %>
                      <div class="col-md-12">
                        <div class="col-sm-12 col-lg-12 bg" style="border-radius: 40px; background-color: #D3D3D3">
                          <span class="bold font">
                            <%#= t.main_type.humanize %> for card <%#= card.try(:[],"last4") %> in the amount of $<%#= number_with_precision(t.amount,:precision => 2, :delimiter => ',')  %><br> <b title="<%#= db_t.try(:seq_transaction_id) %>">Transaction ID: </b><%#= db_t.try(:seq_transaction_id).first(6) %> on <span class="modalTimeUtc"><%#= db_t.try(:created_at).strftime("%Y-%m-%d %H:%M:%S") %> </span> </span>
                        </div>
                      </div>
                    </div>
                  </div> -->
                <%# end %>
              <%# if t.status=='pending' &&(t.main_type!='Send Check' && t.main_type!='Bulk Check' && t.main_type!='Void Check' && t.main_type!='B2B Transfer') %>
                  <!-- <div class="row" style="box-shadow: 0px 1px 3px 1px #dbdbdb;border-radius: 5px;  margin-top: -20px;margin-left: -8px;margin-right: -8px;">
                    <div class="form-group col-md-12">
                      <span><strong >Decline Reason</strong></span>
                      <div class="col-md-12">
                        <div class="col-sm-12 col-lg-12 bg" >
                          <span style="color: red;" class="fa fa-bank">  <span class="bold font">

                            Declined From Bank </span></span>
                        </div>
                      </div>
                    </div>
                  </div> -->
                <%# end %>
              </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>