
<div class="table-responsive">
  <table id="transaction" class="table table-striped">
    <thead>
    <th>Txn ID</th>
    <th class="text-center" id="tx_time">Date/Time</th>
    <th>Sender Name</th>
    <th>Receiver Name</th>
    <th>Type</th>
    <th>Status</th>
    <th>Descriptor</th>
    <th>Credit Card #</th>
    <th>Total Tx Amount</th>
    </thead>
    <tbody>
    <%# k = @page_records + 1  %>
    <% if transactions.size > 0  %>
      <% transactions.each do |t| %>
        <% if @wallet.tip?  %>
          <tr>
        <% else %>
          <tr class="detail_link reserve_pointer show-dynamic-modal" data-url-path= "<%= merchant_transaction_local_details_modal_path(t.id,trans: 'reserve') %>" data-modal_selector="#modal_id" data-modal_container_selector="#custom_modal" data-method = "GET" id="on_click1" >
        <% end %>
          <%# if t[:id].nil? %>
            <%# t = t.transform_keys!(&:to_sym) %>
          <%# end %>
          <td><%= t.sequence_id.present? ? t.sequence_id[0..5] : nil %><%#= t[:id][0..5] %></td>
          <td class="timeUtc">
            <%# if t[:timestamp].is_a?(String) %>
              <%#= t[:timestamp].to_datetime.utc.strftime("%Y-%m-%d %H:%M:%S %z") %>
            <%# else %>
              <%= t.timestamp.present? ? t.timestamp.strftime("%Y-%m-%d %H:%M:%S %z") : t.created_at.strftime("%Y-%m-%d %H:%M:%S %z") %>
            <%# end %>
          </td>
          <td>
            <%#= show_source(t) %>
            <%#= t[:source].present? ? Wallet.find_by(id:t[:source]).users.first.name : '' %>
            <%= t.sender_name.present? ? t.sender_name : t.sender.try(:name).present? ? t.sender.try(:name) :  ''  %>
          </td>
          <td>
            <%#= show_destination(t) %>
            <%#= t[:destination].present? ? Wallet.find_by(id:t[:destination]).users.first.name : t[:reference].try(:[],'send_check_user_info').present? ? t[:reference].try(:[],'send_check_user_info').try(:[],'name') :'' %>
            <%= t.receiver_name.present? ? t.receiver_name : t.receiver.try(:name).present? ? t.receiver.try(:name) :  '' %>
          </td>
          <td>
            <%= show_local_type(t) %>
          </td>
          <td><span class="badge badge-info" id="tx_approved">Approved</span></td>

          <td>
            <%= show_other_descriptor(t) %>
            <%#= t[:gateway] %></td>
          <% if (t.first6.present? || t.last4.present?) && t.main_type != I18n.t("types.TipTransfer") %>
            <td>
            <span class="span_margin_class">
              <%= "****#{t.last4}" %>
            </span>
            </td>
          <% elsif t.parent_id.present? && t.main_type != I18n.t("types.TipTransfer") %>
            <% card_details =BlockTransaction.where(id: t.parent_id).first %>
            <% if card_details.present? %>
              <td>
                <span class="span_margin_class">
                ****<%=card_details[:tags].try(:[],'previous_issue').try(:[],'tags').try(:[],'card').try(:[],'last4') %>
                </span>
              </td>
            <% else %>
              <td><span class="span_margin_class2">---</span></td>
            <% end %>
          <% else %>
            <td><span class="span_margin_class2">---</span></td>
          <% end %>

          <%# if t[:last4].present? %>
            <!-- <td>
              <span style="margin-left: 15%;">
                <%#= "****#{t[:last4]}" %>
              </span>
            </td>
          <%#else %>
            <td><span style="margin-left: 25%;">---</span></td> -->
          <%# end %>
          <%# unless t[:type] =='Refund' || t[:type] =='Refund Bank' %>
            <%# if t[:card].try(:[],'las4').present? || t[:reference].try(:[], "previous_issue").try(:[], "tags").try(:[], "card").try(:[], "last4").present? %>
              <!-- <td style="text-align: center;padding-right: 3%;"> -->
                <!--                    <%#= t[:card].try(:[],'first6').present? ? t[:card]['first6'] : t[:reference].try(:[], "previous_issue").try(:[ ], "tags").try(:[], "card").try(:[], "first6").present? ? t[:reference].try(:[], "previous_issue").try(:[], "tags").try(:[], "card").try(:[], "first6") : '' %>******-->
                <%#= t[:card].try(:[],'last4').present? ? t[:card]['last4'] : t[:reference].try(:[], "previous_issue").try(:[], "tags").try(:[], "card").try(:[], "last4").present? ? t[:reference].try(:[], "previous_issue").try(:[], "tags").try(:[], "card").try(:[], "last4") : '' %>
              <!-- </td> -->

            <%# elsif t[:reference].try(:[],'card').present? %>

              <!-- <td style="text-align: center;padding-right: 3%;"> -->
                <!--                  <%#= t[:reference].try(:[],'card').try(:[],'first6') %>******-->
                <%#= t[:reference].try(:[],'card').try(:[],'last4') %>
              <!-- </td> -->
            <%# else %>
              <!-- <td style="text-align: center;padding-right: 3%;">---</td> -->
            <%# end %>
          <%# else %>
            <%# card_details=Transaction.find_by(seq_transaction_id: t[:reference]["refund_details"]["parent_transaction_id"]) if t[:reference]["refund_details"].present? %>
            <%# if card_details.present? %>
              <!-- <td style="text-align: center;padding-right: 3%;"> -->
                <!--                    <%#= card_details[:tags].try(:[],'previous_issue').try(:[],'tags').try(:[],'card').try(:[],'first6') %>******-->
                <!-- <%#=card_details[:tags].try(:[],'previous_issue').try(:[],'tags').try(:[],'card').try(:[],'last4') %> </td> -->
            <%# else %>
              <!-- <td>---</td> -->
            <%# end %>
          <%# end %>

          <!--              <td>-->
          <%# amount_object = show_total_amount(t, @user) %>
          <!--                <span class="<%#= amount_object[:css_class] %>">-->
          <!--                  <span style="font-weight: bold;">-->
          <%#= amount_object[:css_class] == "text-danger" ? "-" : "+" %><%#= amount_object[:amount] %>
          <!--                    </span>-->
          <!--                  </span>-->
          <!--              </td>-->
          <td id="tx_td">
            <!--------------------------Transfer Logic----------------->
          <% if t.main_type=='cbk_hold' || t.main_type=='cbk_won' || t.main_type=='retrievel_fee' || t.main_type=='cbk_lost' || t.main_type=='CBK Lost Retire' || t.main_type=='cbk_fee'  %>
                <%= number_with_precision(number_to_currency(t.tx_amount.to_f), precision: 2) %>
            <%else%>
                <%# amount_object = show_amount(t, @user) %>
                <% if (t.main_type=='Void Check' || t.main_type=='Void ACH') && (t.action!='retire') %>
                    +<%= number_with_precision(number_to_currency(t.total_net.to_f), precision: 2) %>
                <% elsif t.main_type=='refund' %>
                   -<%= t.total_net > 0 ? number_with_precision(number_to_currency(t.total_net.to_f), precision: 2) : number_with_precision(number_to_currency(t.amount.to_f), precision: 2) %>
                <% else %>
                    <%= t.action.present? && (t.action=='retire' || t.action=='withdraw') ? '-' : '' %><%= t.total_net > 0 ? number_with_precision(number_to_currency(t.total_net.to_f), precision: 2) : number_with_precision(number_to_currency(t.tx_amount.to_f), precision: 2) %>
                <% end %>
            <%end%>
            <%# amount_object = show_amount(t, @user) %>
            <%#= amount_object[:amount] %>
          </td>
          <!--              <td><%#= number_with_precision(number_to_currency(t[:privacy_fee].to_f), precision: 2) %></td>-->
          <!--              <td><%#= number_with_precision(number_to_currency(t[:tip].to_f), precision: 2) %></td>-->
          <!--              <td><%#= show_fee(t, @user) %></td>-->
          <!--              <td><%#= number_with_precision(number_to_currency(t[:net_privacy_fee].to_f), precision: 2) %></td>-->
          <!--              <td><%#= show_net(t, @user) %></td>-->
          <!--              <td><%#= show_reserve(t, @user) %></td>-->
          <!--<td style="width: 20%;"><span class="text-success">$ <%#=number_with_precision(t[:actualAmount].to_f, :precision => 2)  %></span></td>-->
          <!--              <td>-->
          <%#= link_to '<button type="button" id="detail_transaction_modal" class="btn btn-outline-secondary btn-sm details_modal" data-toggle="modal" data-target=".myModal"><i class="icon-eye icons"></i></button>'.html_safe, merchant_transaction_details_modal_path(t[:id]),html: {class: "btn btn-outline-secondary btn-md"}, remote: true %>
          <%# if t[:reference]["previous_issue"].present? %>
          <%# if t[:reference]["previous_issue"]["transaction_id"].present? || t[:reference]["previous_issue"]["fluid_transaction_id"].present? %>
          <%# if refund_status_check(t[:id], t[:parent_id])%>
          <!--                            <button type="button" class="btn btn-sm btn-success" disabled>Refunded</button>-->
          <%# else %>
          <!--                            <a data-toggle="modal" data-transaction="<%#=t.to_json%>" class="refundModalDialog" href="#refundModalDialog"><button type="button" class="btn btn-sm btn-danger"><i class="fa fa-money"></i></button></a>-->
          <%# end %>
          <%# end %>
          <%# elsif t[:reference]["type"].present? %>
          <%# if t[:reference]["type"] == "sale" %>
          <%# if t[:reference]["sub_type"].present? %>
          <%# if t[:reference]["sub_type"] != "sale_issue" || t[:reference]["sub_type"] != "sale_issue_api" || t[:reference]["sub_type"] != "tip_vt_transaction_&_debit" || t[:reference]["sub_type"] != "debit_charge" %>
          <%# if refund_status_check(t[:id], t[:parent_id])%>
          <!--                                    <button type="button" class="btn btn-sm btn-success" disabled>Refunded</button>-->
          <%# else %>
          <!--                                    <a data-toggle="modal" data-transaction="<%#=t.to_json%>" class="refundModalDialog" href="#refundModalDialog"><button type="button" class="btn btn-sm btn-danger"><i class="fa fa-money"></i></button></a>-->
          <%# end %>
          <%# end %>
          <%# end %>
          <%# end %>
          <%# end %>
          <!--              </td>-->
        </tr>
        <%# k = k+1 %>
      <% end %>
    <% else %>
      <tr><td colspan="16"><h3 class="no_entry">No Entries Yet!</h3></td></tr>
    <% end %>
    </tbody>
  </table>
</div>
<div id="cover-spin"></div>
