<%#= javascript_include_tag 'merchant/modal_date_time.js' %>
<div class="box">
  <div class="box-header with-border">
    <div class="col-md-12">
      <div class="row">
        <div class="col-md-6">
          <h3 class="box-title">Exported Files</h3>
        </div>
      </div>
    </div>
  </div>
  <div class="box-body">
    <table class="table table-striped">
      <thead>
      <tr class="table-header">
        <th class="all">ID</th>
        <th>Report Name</th>
        <th>Start Date</th>
        <th>End Date</th>
        <th>Created Date</th>
        <th>Status</th>
        <th class="download_align_left">Download</th>
      </tr>
      </thead>
      <% if @files.count > 0 %>
        <tbody>
          <% @files.each do |file| %>
            <tr>
              <td><%= file.id %></td>
              <td><%= file.name.present? ? file.name : file.report_type.try(:humanize)  %></td>
              <td><%= file.try(:first_date).present? ? file.first_date.to_datetime.new_offset(file.offset.present? ? file.offset : PacificDaylightTimeOffset).strftime("%m-%d-%Y %I:%M:%S %p") : "--" %></td>
              <td><%= file.try(:second_date).present? ? file.second_date.to_datetime.new_offset(file.offset.present? ? file.offset : PacificDaylightTimeOffset).strftime("%m-%d-%Y %I:%M:%S %p") : "--" %></td>
              <td class="timeUtctransactions"><%= file.created_at %></td>
              <td><%= file.status.try(:humanize) %></td>
              <td class="download_align_left">
                <% if file.file_id.present? && file.status == "completed" %>
                  <a href="/merchant/transactions/export_download?id=<%= file.file_id.try(:[], "id") %>&report_id=<%= file.id %>" data-status="<%= file.read %>" id="a_new_<%= file.id %>" class="report_count" ><i class="fa fa-download"></i>
                    Download</a>
                  <input type="hidden" id="file_id_input" value="<%= file.id %>>">
                  <% unless file.read %>
                    <span class="blink" id="new_<%= file.id %>"><b>new</b></span>
                  <% end %>
                <% elsif file.status == "pending" %>
                  <span class="fa fa-spin fa-spinner">  </span> Processing
                <% else %>
                  <span>No Transactions</span>
                <% end %>
              </td>
            </tr>
        <% end %>
        </tbody>
        </table>
      <% else %>
        <tbody>
        <tr>
          <td colspan="7" id="tx_not_forund">Data Not Found</td>
        </tr>
        </tbody>
      <% end %>
      </div>
  <div id="tx_pagination">
    <%= paginate @files, :theme => 'twitter-bootstrap-3', :pagination_class => "pagination-small pagination-centered pull-right padd" %>
  </div>
</div>
<%#= render partial: 'exported_files.js.erb' %>