
<div class="box">
  <div class="box-header with-border">
    <div class="col-md-12">
      <div class="row">
        <div class="col-md-6">
          <h3 class="box-title"><%= @heading %> </h3>
        </div>
        <div class="col-md-6">
          <% if params[:query].present? %>
            <a data-toggle="modal"  id="export_class" data-type="transactions" data-search-date="<%= params[:query][:date] %>" data-search-last4="<%= params[:query][:last4] %>" data-search-phone="<%= params[:query][:phone_number] %>" data-search-email="<%= params[:query][:email] %>" data-search-price="<%= params[:query][:price] %>" data-search-name="<%= params[:query][:name] %>" class="exportReport pull-right" href="#exportModalDialog"><button type="button" class="btn btn-sm btn-success"><i class="fa fa-file"></i> Export</button></a>
          <% else %>
            <a data-toggle="modal" id="export_class" data-type="transactions" class="exportModalDialog pull-right" href="#exportModalDialog"><button type="button" class="btn btn-sm btn-success"><i class="fa fa-file"></i> Export</button></a>
          <% end %>
          <a href="#search" data-toggle="collapse" href="#search" aria-expanded="false" aria-controls="search" class="btn btn-outline-secondary btn-sm" id="tx_search"><i class="icon-magnifier icons"></i> Search</a>
        </div>
      </div>
    </div>
  </div>
  <div class="box-body">
    <div class="">
      <!-- <div class="col-md-12"> -->
      <%= form_tag merchant_transactions_path, method: :get, class:'search_transactions', autocomplete: "off"  do  |f| %>
        <div class="collapse mb-3" id="search">
          <div class="card card-body">
            <div class="row">
              <div class="col-md-12">
                <h5>Search</h5>
              </div>
              <div class="form-group col-md-4">
                <label for="id">Name</label>
                <input type="text" name="query[name]" value="<%= params[:query].present? ? params[:query][:name] : ""  %>" id="name" class="form-control" placeholder="Name"  />
              </div>
              <div class="form-group col-md-4">
                <label for="id">Email</label>
                <input type="email" name="query[email]" value="<%= params[:query].present? ? params[:query][:email] : ""  %>" id="email" class="form-control" placeholder="Email"  />
              </div>

              <div class="col-md-4">
                <label for="id">Phone Number</label>
                <div class="input-group">
                  <input type='tel' min="0" name="query[phone_number]"  value="<%= params[:query].present? ? params[:query][:phone_number] : ""  %>" id="phone" class="form-control"  placeholder="Phone Number" aria-describedby="basic-addon1" />
                </div>
              </div>

              <div class="form-group col-md-4">
                <label for="id">Amount</label>
                <input type='number' name="query[price]"  value="<%= params[:query].present? ? params[:query][:price] : ""  %>"  id="Price" class="form-control"  placeholder="Amount" step="0.01" />
              </div>
              <div class="form-group col-md-4">
                <label for="id">Date</label>
                <input type='text' name="query[date]"  id="id" class="datepicker form-control"  />
              </div>

              <div class="form-group col-md-4">
                <label for="id">Last4</label>
                <input type='number' name="query[last4]"  value="<%= params[:query].present? ? params[:query][:last4] : ""  %>"  id="last4" class="form-control"  placeholder="Last4" />
              </div>
              <div class="col-md-12 text-right">
                <button type="submit" class="btn btn-success btn-sm search_button">Search</button>
              </div>
            </div>
          </div>
        </div>
      <% end %>

      <div class="table-responsive">
        <table id="transaction" class="table table-striped">
          <thead>
          <th>ID</th>
          <th>Type</th>
          <th>Sender</th>
          <th>Receiver</th>
          <th>Date</th>
          <th>Amount</th>
          <th>Tip</th>
          <th>Fee</th>
          <th>Reserve</th>
          <th>Net</th>
          <th>Currency</th>
          <th>Action</th>
          </thead>
          <tbody>
          <% k = @page_records + 1  %>
          <% if @transactions.size > 0  %>
            <% @transactions.each do |t| %>
              <tr>
                <td><%= k %></td>
                <td>
                  <%= show_type(t) %>
                </td>
                <td><%= show_source(t) %></td>
                <td><%= show_destination(t) %></td>
                <td class="timeUtc"><%= t[:timestamp].strftime("%Y-%m-%d %H:%M:%S %z") %></td>
                <td id="index_width">
                  <!--------------------------Transfer Logic----------------->
                  <% amount_object = show_amount(t, @user) %>
                  <span class="<%= amount_object[:css_class] %>">
                    <%= "-" if amount_object[:css_class] == "text-danger pull-left"%>
                    <span id="index_span">
                      <%= amount_object[:amount] %>
                    </span>
                  </span>
                </td>
                <td><%= number_with_precision(number_to_currency(t[:tip].to_f), precision: 2) %></td>
                <td>
                  <%= show_fee(t, @user) %>
                </td>
                <td><%= show_reserve(t, @user) %></td>
                <td><%= show_net(t, @user) %></td>
                <!--<td style="width: 20%;"><span class="text-success">$ <%#=number_with_precision(t[:actualAmount].to_f, :precision => 2)  %></span></td>-->
                <td><span class="text-success">USD</span></td>
                <td>
                  <%= link_to '<button type="button" class="btn btn-outline-secondary btn-sm details_modal" data-toggle="modal" data-target=".myModal"><i class="icon-eye icons"></i></button>'.html_safe, merchant_transaction_details_modal_path(t[:id]),html: {class: "btn btn-outline-secondary btn-md"}, remote: true %>
                  <% if t[:reference]["previous_issue"].present? %>
                    <% if t[:reference]["previous_issue"]["transaction_id"].present? || t[:reference]["previous_issue"]["fluid_transaction_id"].present? %>
                      <% if refund_status_check(t[:id], t[:parent_id])%>
                        <button type="button" class="btn btn-sm btn-success" disabled>Refunded</button>
                      <% else %>
                        <a data-toggle="modal" data-transaction="<%=t.to_json%>" class="refundModalDialog" href="#refundModalDialog"><button type="button" class="btn btn-sm btn-danger"><i class="fa fa-money"></i></button></a>
                      <% end %>
                    <% end %>
                  <% elsif t[:reference]["type"].present? %>
                    <% if t[:reference]["type"] == "sale" %>
                      <% if t[:reference]["sub_type"].present? %>
                        <% if t[:reference]["sub_type"] != "sale_issue" || t[:reference]["sub_type"] != "sale_issue_api" || t[:reference]["sub_type"] != "tip_vt_transaction_&_debit" || t[:reference]["sub_type"] != "debit_charge" %>
                          <% if refund_status_check(t[:id], t[:parent_id])%>
                            <button type="button" class="btn btn-sm btn-success" disabled>Refunded</button>
                          <% else %>
                            <a data-toggle="modal" data-transaction="<%=t.to_json%>" class="refundModalDialog" href="#refundModalDialog"><button type="button" class="btn btn-sm btn-danger"><i class="fa fa-money"></i></button></a>
                          <% end %>
                        <% end %>
                      <% end %>
                    <% end %>
                  <% end %>
                </td>
              </tr>
              <% k = k+1 %>
            <% end %>
          <% else %>
            <tr><td colspan="12"><h3 class="no_entry">No Entries Yet!</h3></td></tr>
          <% end %>
          </tbody>
        </table>
      </div>
      <!-- The refund Modal stars -->
      <div class="modal fade" id="refundModalDialog">
        <div class="modal-dialog" id="modal_dialog2">
          <div class="modal-content" id="modal_content2">
            <!-- Modal Header -->
            <div class="modal-header text-left bg-primary text-white">
              <h4 class="modal-title" id="modal_title3"><span class="ml-2">Refund payment</span></h4>
              <button type="button" class="close" data-dismiss="modal">×</button>
            </div>
            <!-- Modal body -->
            <div class="modal-body" id="modal_body3">
              <div class="card" id="card_body1">
                <div class="card-body">
                  <div class="row" id="card_row2">
                    <div class="form-group col-md-8">
                      <label for="partialamount" id="index_amount">Amount <i class="fa fa-info-circle" aria-hidden="true" title='The amount showing reflects the total transaction amount. For "Partial Refund" please adjust the amount to the amount you would like to refund.'>
                      </i>
                      </label>
                      <div class="input-group">
                        <span class="input-group-addon"><b>$</b></span>
                        <input type="number" id="partialamount" class="form-control amount_height" placeholder="0.00" %>
                      </div>
                      <span class="alert-danger" id="partial_error"></span>
                    </div>
                    <div class="form-group col-md-8">
                      <label for="reason" id="index_reason">Reason</label>
                      <select class="form-control" id="reason_select">
                        <option value="0">Select a reason</option>
                        <option value="1">Duplicate</option>
                        <option value="2">Fraudulent</option>
                        <option value="3">Requested by customer</option>
                        <option value="4">Other</option>
                      </select>
                      <br>
                      <textarea  placeholder="Add a reason for this refund..." id="reason_detail" class="form-control" rows="5"></textarea>
                    </div>
                  </div>
                  <div class="col-md-12" id="index_col_12">
                    <p class="index_style"><b><i class="fa fa-info-circle"></i> Refunds take 1-5 days to appear on a customer's statement.</b></p>
                  </div>
                </div>
              </div>
            </div>
            <div class="modal-footer" id="refundModalFooter" >
              <button class="btn btn-default" data-dismiss="modal">Cancel</button>
              <a id="footerLink" href=""><button class="btn btn-primary refund_btn" disabled>Refund</button></a>
            </div>
          </div>
        </div>
      </div>
      <!-- The refund Modal ends -->
      <!-- The export Modal starts -->
      <%= render partial: 'merchant/transactions/export_modal' %>
      <!-- The export Modal ends -->
    <div class="card-footer text-right">
      <div class="row">
        <div class="col-md-1 text-left">
          <small><% @transactions.count %></small>
        </div>
        <div class="col-md-11 ">
          <%= paginate @transactions, :theme => 'twitter-bootstrap-3', :pagination_class => "pagination-small pagination-centered pull-right padd"%>
        </div>
      </div>
    </div>
      <!-- </div> -->
    </div>
  </div>
</div>
<section id="custom_modal"></section>


