
<div class="box">
  <div class="box-header with-border">
    <div class="col-md-12">
      <div class="row">
        <div class="col-md-6">
          <h3 class="box-title"><%= @heading %> </h3>
        </div>
        <div class="col-md-6">
          <% if params[:query].present? %>
            <a data-toggle="modal" data-type="transactions" id="export_class" data-search-date="<%= params[:query][:date] %>" data-search-last4="<%= params[:query][:last4] %>" data-search-phone="<%= params[:query][:phone_number] %>" data-search-email="<%= params[:query][:email] %>" data-search-price="<%= params[:query][:price] %>" data-search-name="<%= params[:query][:name] %>" class="exportReport pull-right" href="#exportModalDialog"><button type="button" class="btn btn-sm btn-success"><i class="fa fa-file"></i> Export</button></a>
          <% else %>
            <a data-toggle="modal" data-type="transactions" id="export_class" class="exportModalDialog pull-right" href="#exportModalDialog"><button type="button" class="btn btn-sm btn-success"><i class="fa fa-file"></i> Export</button></a>
          <% end %>
          <a href="#search" data-toggle="collapse" id="export_class" href="#search" aria-expanded="false" aria-controls="search" class="btn btn-outline-secondary btn-sm" ><i class="icon-magnifier icons"></i> Search</a>
        </div>
      </div>
    </div>
  </div>
  <div class="box-body">
    <div class="">
      <%= form_tag merchant_transactions_path, method: :get, class:'search_transactions', autocomplete: "off"  do  |f| %>
        <div class="collapse mb-3" id="search">
          <div class="card card-body">
            <div class="row">
              <div class="col-md-12">
                <h5>Search</h5>
              </div>
              <div class="form-group col-md-4">
                <label for="id">Name</label>
                <input type="text" name="query[name]" value="<%= params[:query].present? ? params[:query][:name] : ""  %>" id="name" class="form-control" placeholder="Name"  />
              </div>
              <div class="form-group col-md-4">
                <label for="id">Email</label>
                <input type="email" name="query[email]" value="<%= params[:query].present? ? params[:query][:email] : ""  %>" id="email" class="form-control" placeholder="Email"  />
              </div>

              <div class="col-md-4">
                <label for="id">Phone Number</label>
                <div class="input-group">
                  <input type='tel' min="0" name="query[phone_number]"  value="<%= params[:query].present? ? params[:query][:phone_number] : ""  %>" id="phone" class="form-control"  placeholder="Phone Number" aria-describedby="basic-addon1" />
                </div>
              </div>
              <div class="form-group col-md-4">
                <label for="id">Amount</label>
                <input type='number' name="query[amount]"  value="<%= params[:query].present? ? params[:query][:amount] : ""  %>"  id="amount" class="form-control"  placeholder="Amount" step="0.01" />
              </div>
              <div class="form-group col-md-4">
                <label for="id">Date</label>
                <input type='text' name="query[date]"  id="id" class="datepicker form-control"  />
              </div>

              <div class="form-group col-md-4">
                <label for="id">Last4</label>
                <input type='number' name="query[last4]"  value="<%= params[:query].present? ? params[:query][:last4] : ""  %>"  id="last4" class="form-control"  placeholder="Last4" />
              </div>

              <div class="col-md-12 text-right">
                <button type="submit" class="btn btn-success btn-sm search_button">Search</button>
              </div>
            </div>
          </div>
        </div>
      <% end %>

      <div id="transaction_table">
        <%= render partial: 'merchant/transactions/iso_transactions_table' ,:locals =>  {:transactions => @transactions}%>
      </div>

      <!-- The export Modal starts -->
      <%= render partial: 'merchant/transactions/export_modal' %>
      <!-- The export Modal ends -->
      <div class="card-footer text-right" id="iso_card_footer">
        <div class="row">
          <div class="col-md-12">
            <div id="next_button">
              <%if @transactions.present? %>
              <% unless @last_page  %>
                <%= form_tag(merchant_next_transactions_path, method: :post, remote: :true) do%>
                  <input type="hidden" name="cursor" value="<%= @cursor %>">
                  <input type="hidden" name="page_size" value="<%= @transactions.count %>">
                  <input type="hidden" name="seq_dashboard_transaction" value="<%= @seq_dashboard_transaction.to_json %>">
                  <input type="submit" value="Next" class="btn btn-default pull-right next_transactions">
                  <% end %>
              <% else %>
                <button class="btn btn-default pull-right">End</button>
              <% end %>
                <% end %>
            </div>
            <%#= paginate @transactions, :theme => 'twitter-bootstrap-3', :pagination_class => "pagination-small pagination-centered pull-right padd"%>
          </div>
          <div class="col-md-1 text-left">
            <small><% @transactions.count %></small>
          </div>
        </div>
      </div>
      <!-- </div> -->
    </div>
  </div>
</div>
<section id="custom_modal"></section>
<script>

    $(document).ready(function () {
        $('.pagination').find('li').find('a').click(function () {
            $('.spnr').fadeIn();
        });
        $('.refund_btn').click(function () {
            $('.spnr').fadeIn();
        });
        $(".details_modal").click(function () {
            $(".spnr").fadeIn();
        });
        $('.search_button').attr('disabled', true);

        $('#sender').bind('keyup change', function(){
            this.value = this.value.replace(/[^0-9\.]/g,'');
            if($(this).val().length == 0){
                $('.search_button').attr('disabled', true);
            }else{
                $('.search_button').attr('disabled', false);
            }
        });
        $('#receiver').bind('keyup change', function(){
            this.value = this.value.replace(/[^0-9\.]/g,'');
            if($(this).val().length == 0){
                $('.search_button').attr('disabled', true);
            }else{
                $('.search_button').attr('disabled', false);
            }
        });
        $('#phone').bind('keyup change', function(){
            this.value = this.value.replace(/[^0-9\.]/g,'');
            if($(this).val().length == 0){
                $('.search_button').attr('disabled', true);
            }else{
                $('.search_button').attr('disabled', false);
            }
        });
        $('#Price').bind('keyup change', function(){
            if($(this).val().length == 0){
                $('.search_button').attr('disabled', true);
            }else{
                $('.search_button').attr('disabled', false);
            }
        });
        $('#id').bind('keyup change', function(){
            if($(this).val().length == 0){
                $('.search_button').attr('disabled', true);
            }else{
                $('.search_button').attr('disabled', false);
            }
        });
        $('.search_transactions').submit(function () {
            $('.spnr').fadeIn();
        });
    });
    $(document).ready(function () {
        $('.datepicker').daterangepicker({
            format: 'mm-dd-yyyy'
        });
    });
    $(function() {
        $('.datepicker').val('');
        $('.datepicker').on('cancel.daterangepicker', function(ev, picker) {
            $(this).val('');
        });
    });
    $('#detail_transaction_modal').click(function () {
        $('.spnr').fadeIn();
    });
    $('.next_transactions').click(function () {
        $('.spnr').fadeIn();
    });
    $("#export_class").on('click', function () {
        var nowDate = new Date();
        var newdate = (nowDate.setDate(nowDate.getDate()));
        var nd = new Date(newdate);
        $("#exportDate").daterangepicker({
            "maxSpan": {
                "days":31
            },
            "startDate": nd,
            "maxDate": nd
        });
    })
</script>
