<!--<head>-->
<!--</head>-->

<div class="box">
  <div class="box-header with-border">
    <div class="col-md-12">
      <div class="row">
        <div class="col-md-6">
          <h3 class="box-title"><%= @heading %> </h3>
        </div>
        <div class="col-md-6">
          <% if params[:query].present? %>
            <a data-toggle="modal" id="export_class" data-type="transactions" data-search-date="<%= params[:query][:date] %>" data-search-last4="<%= params[:query][:last4] %>" data-search-phone="<%= params[:query][:phone_number] %>" data-search-email="<%= params[:query][:email] %>" data-search-price="<%= params[:query][:price] %>" data-search-name="<%= params[:query][:name] %>" class="exportReport pull-right" href="#exportModalDialog"><button type="button" class="btn btn-sm btn-success"><i class="fa fa-file"></i> Export</button></a>
          <% else %>
            <a data-toggle="modal" id="export_class" data-type="transactions" class="exportModalDialog pull-right" href="#exportModalDialog"><button type="button" class="btn btn-sm btn-success"><i class="fa fa-file"></i> Export</button></a>
          <% end %>
          <a href="#search" data-toggle="collapse" href="#search" aria-expanded="false" aria-controls="search" class="btn btn-outline-secondary btn-sm" id="list_search"><i class="icon-magnifier icons"></i> Search</a>
        </div>
      </div>
    </div>
  </div>
  <div class="box-body">
    <div class="">
      <%= form_tag merchant_transactions_path, method: :get, class:'search_transactions', autocomplete: "off"  do  |f| %>
          <div class="collapse mb-3" id="search">
            <div class="card card-body">
              <div class="row">
                <div class="col-md-12">
                  <h5>Search</h5>
                </div>
                <div class="form-group col-md-4">
                  <label for="id">C.C. Last4</label>
                  <input type="hidden" name="query[offset]" value="<%=Time.now.in_time_zone(cookies[:timezone]).strftime("%z")%>"  />
                    <input type='number' name="query[last4]"  value="<%= params[:query].present? ? params[:query][:last4] : ""  %>"  id="last4" class="form-control"  placeholder="Last4" />
                </div>
                <div class="form-group col-md-4">
                  <label for="id">Tx Amount</label>
                  <input type='number' name="query[amount]"  value="<%= params[:query].present? ? params[:query][:amount] : ""  %>"  id="amount" class="form-control"  placeholder="Amount" step="0.01" />
                </div>
                <div class="form-group col-md-4">
                  <label for="id">Block Id</label>
                  <!--                  <input type='number' name="query[block_id]"  value="<%#= params[:query].present? ? params[:query][:block_type] : ""  %>"  id="block_type" class="form-control"  placeholder="Block Type" />-->
                  <input type="text" name="query[block_id]" id="block_id" class="form-control" placeholder="Block ID" value="<%= params[:query].present? ? params[:query]["block_id"] : "" %>"  />
                </div>
                <div class="form-group col-md-4">
                  <label for="id">Tx Type</label>
                  <%=    select_tag 'query[type][]', options_for_select(@types.map{|v|[v[:view],v[:value]]}, params[:query].present? ? params[:query]["type"] : ""),class: "form-control", multiple: true  %>
                </div>
                <div class="form-group col-md-4">
                  <label for="id">Customer Name</label>
                  <input type="text" name="query[name]" value="<%= params[:query].present? ? params[:query][:name] : ""  %>" id="name" class="form-control" placeholder="Customer Name"  />
                </div>
                <div class="form-group col-md-4">
                  <label for="id">Customer Email</label>
                  <input type="email" name="query[email]" value="<%= params[:query].present? ? params[:query][:email] : ""  %>" id="email" class="form-control" placeholder="Cusomer Email"  />
                </div>

                <div class="col-md-4">
                  <label for="id">Customer Phone#</label>
                  <div class="input-group">
                    <input type='tel' min="0" name="query[phone_number]"  value="<%= params[:query].present? ? params[:query][:phone_number] : ""  %>" id="phone" class="form-control"  placeholder="Cusmoter Phone#" aria-describedby="basic-addon1" />
                  </div>
                </div>
                <div class="form-group col-md-4">
                  <label for="id">Date</label>
                  <input type='text' name="query[date]"  value="<%= params[:query].present? ? params[:query][:date] : ""  %>" id="id" class="datepicker form-control" />
                </div>
                <div class="form-group col-md-4">
                  <label for="id">Time</label>
                  <div class="row">
                    <div class="col-md-6">
                      <%=	select_tag 'query[time1]', options_for_select(@time_option.map{|v| [ v[:view], v[:value] ]}, selected: params[:query].present? ? params[:query]["time1"] : ""), include_blank: "Start Time",class: "form-control",id: 'list_time1' %>
                    </div>
                    <div class="col-md-6">
                      <%=	select_tag 'query[time2]', options_for_select(@time_option.map{|v| [ v[:view], v[:value] ]}, selected: params[:query].present? ? params[:query]["time2"] : ""), include_blank: "End Time",class: "form-control",id: 'list_time2'  %>
                    </div>
                  </div>
                </div>

              <div class="col-md-12 text-right">
                <button type="submit" class="btn btn-success btn-sm search_button">Search</button>
              </div>
            </div>
          </div>
        </div>
      <% end %>

      <div id="transaction_table">
        <%= render partial: 'merchant/transactions/transactions_table' ,:locals =>  {:transactions => @transactions}%>
      </div>



      <!-- The refund Modal stars -->
      <div class="modal fade" id="refundModalDialog" >
        <div class="modal-dialog" id="modal_dialog3">
          <div class="modal-content" id="modal_content3">
            <!-- Modal Header -->
            <div class="modal-header text-left bg-primary text-white">
              <h4 class="modal-title" id="modal_title4"><span class="ml-2">Refund payment</span></h4>
              <button type="button" class="close" data-dismiss="modal">×</button>
            </div>
            <!-- Modal body -->
            <div class="modal-body" id="modal_body4">
              <div class="card" id="card1">
                <div class="card-body">
                  <div class="row" id="card_row3">
                    <div class="form-group col-md-8">
                      <label for="partialamount" id="list_amount1">Amount <i class="fa fa-info-circle" aria-hidden="true" title='The amount showing reflects the total transaction amount. For "Partial Refund" please adjust the amount to the amount you would like to refund.'>
                      </i>
                      </label>
                      <div class="input-group">
                        <span class="input-group-addon"><b>$</b></span>
                        <input type="text" id="partialamount" class="form-control number" placeholder="0.00" %>
                      </div>
                      <div class="pull-right">
                        <span>Amount + Fee = $ </span> <span  class="refund_fee"></span>
                      </div>
                      <div class="row col-md-12">
                        <span  class="alert-danger" id="partial_error"></span>
                      </div>
                    </div>
                    <div class="form-group col-md-8">
                      <label for="reason" id="list_reason">Reason</label>
                      <select class="form-control" id="reason_select">
                        <option value="0">Select a reason</option>
                        <option value="1">Duplicate</option>
                        <option value="2">Fraudulent</option>
                        <option value="3">Requested by customer</option>
                        <option value="4">Other</option>
                      </select>
                      <br>
                      <textarea  placeholder="Add a reason for this refund..." id="reason_detail" class="form-control" rows="5"></textarea>
                    </div>
                  </div>
                  <div class="col-md-12" id="list_col_12">
                    <p class="index_style"><b><i class="fa fa-info-circle"></i> Refunds take 1-5 days to appear on a customer's statement.</b></p>
                  </div>
                </div>
              </div>
            </div>
            <div class="modal-footer" id="refundModalFooter" >
              <button class="btn btn-default" data-dismiss="modal">Cancel</button>
              <!--              <button class="btn btn-default" id="verification_btn">Verify</button>-->
              <a data-toggle="modal"  class="" href="#verifymodal" id="verify_btn"><button type="button" class="btn btn-sm btn-primary">Refund</button></a>
              <a id="footerLink" href="" class="none"><button class="btn btn-primary refund_btn" disabled>Refund</button></a>
            </div>
          </div>
        </div>
      </div>

      <!--      Verification modal-->
      <div class="modal fade" id="verifymodal">
        <div class="modal-dialog" id="modal_dialog4">
          <div class="modal-content" id="modal_content4">
            <!-- Modal Header -->
            <div class="modal-header text-left bg-primary text-white">
              <h4 class="modal-title" id="modal_title5"><span class="ml-2">Refund payment</span></h4>
              <button type="button" class="close" data-dismiss="modal">×</button>
            </div>
            <!-- Modal body -->
            <div class="modal-body" id="modal_body5">
              <div class="card" id="card2">
                <div class="card-body">
                  <div class="row" id="card_row4">
                    <div class="col-md-12" id="list_card_12">
                      <div class="col-md-12">
                        <div class="form-group">
                          <label class="control-label" id="email_label1"><span>Email</span></label>
                          <input type="email" value="<%= current_user.email %>" class="form-control" disabled>
                        </div>
                      </div>
                      <div class="col-md-12">
                        <div class="form-group">
                          <label class="control-label"><span>Password</span></label>
                          <input type="password" value="" id="password" class="form-control">
                        </div>
                      </div>
                      <div class="col-md-12">
                        <div class="form-group">
                          <a class="btn btn-primary btn-sm" id="password_btn" >Verify</a>
                        </div>
                      </div>
                      <span class="align_center" id="info-text">Please verify yourself!</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="modal-footer"  id="modal_footer1">
              <button class="btn btn-default" data-dismiss="modal">Cancel</button>
            </div>
          </div>
        </div>
      </div>
      <!-- The refund Modal ends -->
      <!-- The export Modal starts -->
      <%= render partial: 'merchant/transactions/export_modal' %>
      <!-- The export Modal ends -->
      <div class="card-footer text-right" id="list_card_footer">
        <div class="row">
          <div class="col-md-12">
            <div id="next_button">
              <% unless @last_page  %>
                <%= form_tag(merchant_next_transactions_path, method: :post, remote: :true) do%>
                  <input type="hidden" name="cursor" value="<%= @cursor %>">
                  <input type="hidden" name="page_size" value="<%= @transactions.count %>">
                  <input type="hidden" name="seq_dashboard_transaction" value="<%= @seq_dashboard_transaction.to_json %>">
                  <input type="submit" value="Next" class="btn btn-default pull-right next_transactions">
                <% end %>
              <% else %>
                <button class="btn btn-default pull-right">End</button>
              <% end %>
            </div>
            <%#= paginate @transactions, :theme => 'twitter-bootstrap-3', :pagination_class => "pagination-small pagination-centered pull-right padd"%>
          </div>
          <div class="col-md-1 text-left">
            <small><% @transactions.count %></small>
          </div>
        </div>
      </div>
      <!-- </div> -->
    </div>
  </div>
</div>
<section id="custom_modal"></section>
<script>
    $(document).ready(function(){

        $('.number').keypress(function(event) {
            var $this = $(this);
            if ((event.which != 46 || $this.val().indexOf('.') != -1) &&
                ((event.which < 48 || event.which > 57) &&
                    (event.which != 0 && event.which != 8))) {
                event.preventDefault();
            }

            var text = $(this).val();
            if ((event.which == 46) && (text.indexOf('.') == -1)) {
                setTimeout(function() {
                    if ($this.val().substring($this.val().indexOf('.')).length > 3) {
                        $this.val($this.val().substring(0, $this.val().indexOf('.') + 3));
                    }
                }, 1);
            }

            if ((text.indexOf('.') != -1) &&
                (text.substring(text.indexOf('.')).length > 2) &&
                (event.which != 0 && event.which != 8) &&
                ($(this)[0].selectionStart >= text.length - 2)) {
                event.preventDefault();
            }
        });

        $('.number').bind("paste", function(e) {
            var text = e.originalEvent.clipboardData.getData('Text');
            if ($.isNumeric(text)) {
                if ((text.substring(text.indexOf('.')).length > 3) && (text.indexOf('.') > -1)) {
                    e.preventDefault();
                    $(this).val(text.substring(0, text.indexOf('.') + 3));
                }
            }
            else {
                e.preventDefault();
            }
        });
    });
</script>
<script>
    var select_reason,reason_detail,transaction_detail,tran_Id,destination,source,refund_fee,total_amount,partial_amt,parent_id,parsed_transaction;
    var check1 = false, check2 = false;
    $(document).on("click", ".refundModalDialog", function () {
        $('#reason_select option[value="0"]').prop("selected",true);
        $('#partialamount').val('');
        $('#reason_detail').val('');
        $('#reason_detail').hide();
        $('.refund_fee').text('0');
        $('.modal-footer a button').prop('disabled',true);
        transaction_detail = JSON.stringify($(this).data('transaction'));
        parsed_transction=JSON.parse(transaction_detail);
        tran_Id = parsed_transction.id;
        parent_id=parsed_transction.parent_id;
        destination=parsed_transction.destination;
        source=parsed_transction.source;
        $.ajax({
            url: '<%= refund_check_merchant_transactions_path %>',
            type: 'GET',
            data: {trans_id: tran_Id}
        });
        $.ajax({
            url: '<%= get_merchant_amount_merchant_transactions_path %>',
            type: 'GET',
            data: {trans_id: tran_Id,parent_id: parent_id,destination: destination,source: source},
            success: function(res){
                if(res.partial_amount==""){
                    $('#partial_error').text("No Transaction Found");
                    $('#partial_error').fadeIn();
                    setTimeout(function(){
                        $('#partial_error').fadeOut()
                    }, 2000);
                }else{
                    $('#partialamount').val(parseFloat(res.partial_amount).toFixed(2));
                    total_amount=parseFloat(res.partial_amount);
                    partial_amt=total_amount;
                    refund_fee=res.fee;
                    var fee=refund_fee+parseFloat(res.partial_amount);
                    $('.refund_fee').text(parseFloat(fee).toFixed(2));
                }
            }
        });
    });
    $('#partialamount').change(function(){
        var amount=$(this).val();
        if(amount<=0){
            $('.modal-footer a button').prop('disabled',true);
            $('.refund_fee').text('0.00');
            return false;
        }
        select_reason=$('#reason_select').val();
        var partial_amount=$('#partialamount').val();
        partial_amt=partial_amount;
        if (partial_amount != "0") {
            $.ajax({
                url: '<%= get_merchant_amount_merchant_transactions_path %>',
                type: 'GET',
                data: {trans_id: tran_Id,destination: destination,source: source}
            })
                .done(function (res) {
                    var partial= res.partial_amount - parseFloat(partial_amount);
                    if (partial < 0){
                        $('#partial_error').text("Amount is greater than amount to refund");
                        $('#partial_error').fadeIn();
                        setTimeout(function(){
                            $('#partial_error').fadeOut()
                        }, 2000);

                        $('.modal-footer a button').prop('disabled',true);
                        check1 = false;
                    }
                    else {
                        $('#partial_error').text("");
                        check1  =true;
                        refund_fee=res.fee;
                        var fee=refund_fee+parseFloat(partial_amount);
                        $('.refund_fee').text(parseFloat(fee).toFixed(2));
                    }
                    if (check1 && check2) {
                        if(select_reason!=0){
                            $('.modal-footer a button').prop('disabled',false);
                        }
                    }
                });
        }
        updateRefundPostLink();
    });

    function updateRefundPostLink() {
        var select_reason=$('#reason_select').val();
        var partial_amount=$('#partialamount').val();
        reason_detail=$("#reason_select option:selected").text();
        if(select_reason==0){
            $('#reason_detail').val('');
            $('#reason_detail').hide();
            $('.modal-footer a button').prop('disabled',true);
            check2 = false;
        }else if(select_reason!=4 && select_reason!=0){
            $('#reason_detail').val('');
            $('#reason_detail').hide();
            $('#footerLink').attr('href',"<%= refund_merchant_transaction_merchant_transactions_path %>"+"?js=js&reason="+select_reason+"&partial_amount="+partial_amount+"&refund="+refund_fee+"&reason_detail="+reason_detail+"&transaction="+encodeURIComponent(transaction_detail));
            if(total_amount>=partial_amt){
                $('.modal-footer a button').prop('disabled',false);
            }
            check2 = true;
        } else{
            $('#reason_detail').show();
            $('.modal-footer a button').prop('disabled',true);
            check2 = false
        }
        if (check1 && check2) {
            $('.modal-footer a button').prop('disabled',false);
        }
    }

    $('#reason_select').change(function() {
        updateRefundPostLink();
    });

    $('#reason_detail').keyup(function () {
        reason_detail=$(this).val();
        var select_reason=$('#reason_select').val();
        var partial_amount=$('#partialamount').val();
        if(reason_detail=='' || reason_detail==null){
            $('#refundModalFooter a button').prop('disabled',true);
        }else{
            $('#footerLink').attr('href',"<%= refund_merchant_transaction_merchant_transactions_path %>"+"?js=js&reason="+select_reason+"&partial_amount="+partial_amount+"&reason_detail="+reason_detail+"&transaction="+encodeURIComponent(transaction_detail));
            if(total_amount>=partial_amount){
                $('#refundModalFooter a button').prop('disabled',false);
            }
        }
    });

    $(document).ready(function () {
        $('.pagination').find('li').find('a').click(function () {
            $('.spnr').fadeIn();
        });
        $('.refund_btn').click(function () {
            $('.spnr').fadeIn();
        });
        $(".details_modal").click(function () {
            $(".spnr").fadeIn();
        });
        // $('.search_button').attr('disabled', true);

        $('#sender').bind('keyup change', function(){
            this.value = this.value.replace(/[^0-9\.]/g,'');
            if($(this).val().length == 0){
                $('.search_button').attr('disabled', true);
            }else{
                $('.search_button').attr('disabled', false);
            }
        });
        $('#receiver').bind('keyup change', function(){
            this.value = this.value.replace(/[^0-9\.]/g,'');
            if($(this).val().length == 0){
                $('.search_button').attr('disabled', true);
            }else{
                $('.search_button').attr('disabled', false);
            }
        });
        $('#phone').bind('keyup change', function(){
            this.value = this.value.replace(/[^0-9\.]/g,'');
            if($(this).val().length == 0){
                $('.search_button').attr('disabled', true);
            }else{
                $('.search_button').attr('disabled', false);
            }
        });
        $('#Price').bind('keyup change', function(){
            if($(this).val().length == 0){
                $('.search_button').attr('disabled', true);
            }else{
                $('.search_button').attr('disabled', false);
            }
        });
        $('#id').bind('keyup change', function(){
            if($(this).val().length == 0){
                $('.search_button').attr('disabled', true);
            }else{
                $('.search_button').attr('disabled', false);
            }
        });
        $('.search_transactions').submit(function () {
            $('.spnr').fadeIn();
        });
    });
    $(document).ready(function () {
        $('.datepicker').daterangepicker({
            format: 'mm-dd-yyyy'
        });
    });
    $(function() {
          // $('input[name="query[date]"]').val('');
        <% if params[:query].present? %>

        <% if params[:query][:date].blank? %>
        $('input[name="query[date]"]').val('');
        <% end %>
        <% else %>
        $('.datepicker').val('');
        <% end %>
        $('.datepicker').on('cancel.daterangepicker', function(ev, picker) {
            $(this).val('');
        });
    });
    $('#detail_transaction_modal').click(function () {
        $('.spnr').fadeIn();
    });
    $('.next_transactions').click(function () {
        $('.spnr').fadeIn();
    });


    $(function() {

        $('#query_type_').multipleSelect({
            placeholder: "Select Type",
            selectAll: false
        });
        $('#query_gateway_').multipleSelect({
            placeholder: "Select Gateway",
            selectAll: false
        });
    });
    $(document).ready(function () {
        $("[type='checkbox']").css("margin-top","-1px").css("margin-right","15px");
    });

//=======
    $('#password_btn').on('click',function () {
        var password = $('#password').val();
        $.ajax({
            url: "<%= verify_user_merchant_transactions_path %>",
            method: 'get',
            data: {password: password},
            success:function(data){
                $("#password_btn").css("background","green").text('').text("Verified");
                $("#info-text").text('');
                setTimeout(function(){
                    // $('#password').attr("disabled","disabled");
                     $('#verifymodal').fadeOut("slow");
                    $('#verify_btn').hide();
                     $('#footerLink').show();
                    $('.modal-backdrop').remove();
                }, 1000);
            },
            error: function(data){
                $("#password_btn").css("border","1px solid red");
                $("#info-text").text('').css("color","red").text('Please try again!');
            }
        });
    });
    $("#refundModalDialog").on('hidden.bs.modal', function () {
        $('#verify_btn').show();
        $('#footerLink').hide();
        $("#password_btn").css("background","#3c8dbc").text('').text("Verify");
    });
    $("#export_class").on('click', function () {
        var nowDate = new Date();
        var newdate = (nowDate.setDate(nowDate.getDate()));
        var nd = new Date(newdate);
        $("#exportDate").daterangepicker({
            "maxSpan": {
                "days":31
            },
            "startDate": nd,
            "maxDate": nd
        });
    })
//>>>>>>> 15a4d827f63025a11ce84e23ac4efa82baf78bff
</script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/multiple-select/1.2.0/multiple-select.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/multiple-select/1.2.0/multiple-select.js"></script>