$('.spnr').fadeIn().delay(1000);
$('.spnr').fadeOut();

<% if @user.iso? || @user.affiliate? || @user.agent? || @user.partner?%>
  $('#transaction_table').html("<%= j render(:partial => '/merchant/transactions/iso_transactions_table', :locals => {:transactions => @transactions})%>");
  <% unless @last_page %>
    <% if @seq_dashboard_transaction.count > 1 %>
      $('#next_button').html('').html('<%= form_tag(merchant_next_transactions_path, method: :post, remote: :true) do%> <input type="hidden" name="cursor" value="<%= @cursor %>"> <input type="hidden" name="page_size" value="<%= @transactions_count %>"> <input type="hidden" name="seq_dashboard_transaction" value="<%= @seq_dashboard_transaction.to_json %>"> <input type="submit" value="Next" class="btn btn-default pull-right next_transactions"> <% end %><%= form_tag(merchant_previous_dashboard_wallet_transactions_path, method: :post, remote: :true) do%> <input type="hidden" name="seq_dashboard_transaction" value="<%= @seq_dashboard_transaction.to_json %>"> <input type="submit" value="Previous" class="btn btn-default pull-right previous_transactions"> <% end %>');
    <% else %>
      $('#next_button').html('').html('<%= form_tag(merchant_next_transactions_path, method: :post, remote: :true) do%> <input type="hidden" name="cursor" value="<%= @cursor %>"> <input type="hidden" name="page_size" value="<%= @transactions_count %>"> <input type="hidden" name="seq_dashboard_transaction" value="<%= @seq_dashboard_transaction.to_json %>"> <input type="submit" value="Next" class="btn btn-default pull-right next_transactions"> <% end %>');
    <% end %>
  <% else %>
    $('#next_button').html('').html('<button class="btn btn-default pull-right">End</button><%= form_tag(merchant_previous_dashboard_wallet_transactions_path, method: :post, remote: :true) do%> <input type="hidden" name="seq_dashboard_transaction" value="<%= @seq_dashboard_transaction.to_json %>"> <input type="submit" value="Previous" class="btn btn-default pull-right previous_transactions"> <% end %>');
  <% end %>
<% else %>
  $('#transaction_table').html("<%= j render(:partial => '/merchant/transactions/transactions_table', :locals => {:transactions => @transactions})%>");
  <% unless @last_page %>
    <% if @seq_dashboard_transaction.count > 1 %>
      $('#next_button').html('').html('<%= form_tag(merchant_next_transactions_path, method: :post, remote: :true) do%> <input type="hidden" name="cursor" value="<%= @cursor %>"> <input type="hidden" name="page_size" value="<%= @transactions_count %>"> <input type="hidden" name="seq_dashboard_transaction" value="<%= @seq_dashboard_transaction.to_json %>"> <input type="submit" value="Next" class="btn btn-default pull-right next_transactions"> <% end %><%= form_tag(merchant_previous_dashboard_wallet_transactions_path, method: :post, remote: :true) do%> <input type="hidden" name="seq_dashboard_transaction" value="<%= @seq_dashboard_transaction.to_json %>"> <input type="submit" value="Previous" class="btn btn-default pull-right previous_transactions"> <% end %>');
    <% else %>
      $('#next_button').html('').html('<%= form_tag(merchant_next_transactions_path, method: :post, remote: :true) do%> <input type="hidden" name="cursor" value="<%= @cursor %>"> <input type="hidden" name="page_size" value="<%= @transactions_count %>"> <input type="hidden" name="seq_dashboard_transaction" value="<%= @seq_dashboard_transaction.to_json %>"> <input type="submit" value="Next" class="btn btn-default pull-right next_transactions"> <% end %>');
    <% end %>
  <% else %>
    $('#next_button').html('').html('<button class="btn btn-default pull-right">End</button><%= form_tag(merchant_previous_dashboard_wallet_transactions_path, method: :post, remote: :true) do%> <input type="hidden" name="seq_dashboard_transaction" value="<%= @seq_dashboard_transaction.to_json %>"> <input type="submit" value="Previous" class="btn btn-default pull-right previous_transactions"> <% end %>');
  <% end %>
<% end %>
