<div class="box">
  <div class="box-header with-border">
    <div class="col-md-12">
      <div class="row">
        <div class="col-md-6">
          <h3 class="box-title"><%= @heading %> </h3>
        </div>
        <div class="col-md-6">
          <% if params[:start_date].present? || params[:end_date].present? %>
            <a data-toggle="modal" data-type="refund" id="export_class" data-refund_end_date="<%= params[:end_date] %>" data-refund_start_date="<%= params[:start_date] %>" class="exportReport pull-right" href="#exportModalDialog"><button type="button" class="btn btn-sm btn-success"><i class="fa fa-file"></i> Export</button></a>
          <% else %>
            <a data-toggle="modal" data-type="refund" id="export_class" class="exportModalDialog pull-right" href="#exportModalDialog"><button type="button" class="btn btn-sm btn-success"><i class="fa fa-file"></i> Export</button></a>
          <% end %>
          <a href="#search" data-toggle="collapse" id="export_class" href="#search" aria-expanded="false" aria-controls="search" class="btn btn-outline-secondary btn-sm" ><i class="icon-magnifier icons"></i> Search</a>
        </div>
      </div>
    </div>
  </div>
  <div class="box-body">
    <div class="">
      <%=form_tag refund_merchant_transactions_path,method: :get, class:'search_transactions'  do  %>
          <div class="collapse mb-3" id="search">
            <div class="card card-body">
              <div class="row">
                <div class="col-md-12">
                  <h5>Search</h5>
                </div>
                <div class="form-group col-md-4">
                  <label for="start_date">START DATE</label>
                  <input type='text' name="start_date" placeholder="Start Date" id="start_date" class="datepicker form-control"  />
                </div>
                <div class="form-group col-md-4">
                  <label for="end_date">END DATE</label>
                  <input type='text' name="end_date" placeholder="End Date"  id="end_date" class="datepicker form-control"  />
                </div>
                <div class="col-md-12 text-right">
                  <button type="submit" class="btn btn-success btn-sm search_button">Search</button>
                </div>
              </div>
            </div>
          </div>
      <% end %>
      <div class="table-responsive">
        <table id="transaction" class="table table-striped">
          <thead>
          <th>Trans ID</th>
          <th>Date - Time</th>
          <th>Refund Amount</th>
          <th>Name</th>
          <th>Last 4</th>
          <th>Action</th>
          </thead>
          <tbody>
          <% if @transactions.size > 0  %>
              <% @transactions.each do |t| %>
              <%
                 reason="NA"
                 if t[:reference]["refund_details"].present?
                   reason=t[:reference]["refund_details"]["reason"].present? ? t[:reference]["refund_details"]["reason"] : "NA"
                 end
                 last4="NA"
                 last4= t[:reference]["last4"] if t[:reference]["last4"].present?
                 if t[:reference]["bank_details"].present? && last4 == "NA"
                  last4= t[:reference]["bank_details"]["last4"].present? ? t[:reference]["bank_details"]["last4"] : "NA"
                 end
                  if t[:reference]["card_type"].present? && last4 == "NA"
                    last4 = t[:reference]["card_type"]["last4"].present? ? t[:reference]["card_type"]["last4"] : "NA"
                  end
                 if t[:reference]["check_number"].present? && last4 == "NA"
                   last4 = t[:reference]["check_number"]["last4"].present? ? t[:reference]["check_number"]["last4"] : "NA"
                 end
                 wallet_amount=0
                 wallet_amount= t[:amount].to_f - cents_to_dollars(t[:reference]["bank_details"]["amount"].to_f).to_f if t[:reference]["bank_details"].present?
                 wallet_amount= t[:amount].to_f if t[:reference]["bank_details"].nil?
              %>
                  <tr>
                    <td><%= t[:id][-4..-1] %></td>
                    <td class="timeUtc"><%= t[:timestamp].strftime("%Y-%m-%d %H:%M:%S %z") %></td>
                    <td><%= number_to_currency(number_with_precision(t[:amount].to_f, :precision => 2, delimiter: ',')) %></td>
                    <td><%= wallet_name(t[:destination])%></td>
                    <td><%= last4 %></td>
                    <td><a data-toggle="modal"
                           data-date="<%= t[:timestamp].strftime("%Y-%m-%d %H:%M:%S %z") %>"
                           data-type="<%= t[:reference]["type"].present? ? t[:reference]["type"] : "NA" %>"
                           data-total_amount="<%= t[:amount].present? ? number_to_currency(t[:amount].to_f) : "$ 0.00" %>"
                           data-bank_amount="<%= t[:reference]["bank_details"].present? ? number_to_currency(cents_to_dollars(t[:reference]["bank_details"]["amount"].to_f)) : "$ 0.00" %>"
                           data-wallet_amount="<%= number_to_currency(wallet_amount) %>"
                           data-sender="<%= t[:source].present? ? t[:source] : "NA" %>"
                           data-receiver="<%= t[:destination].present? ? t[:destination] : "NA" %>"
                           data-reason="<%= reason %>"
                           data-source="<%= t[:reference]["source"].present? ? t[:reference]["source"] : 'NA' %>"
                           class="refundModalDialog" href="#refundModalDialog"><button type="button" class="btn btn-outline-secondary btn-sm details_modal"><i class="icon-eye icons"></i></button></a>
                    </td>
                  </tr>
              <% end %>
          <% else %>
              <tr><td colspan="6"><h3 class="no_entry">No Entries Yet!</h3></td></tr>
          <% end %>
          </tbody>
        </table>
        <!-- The Modal -->
        <div class="modal fade" id="refundModalDialog">
          <div class="modal-dialog modal-lg">
            <div class="modal-content">
              <!-- Modal Header -->
              <div class="modal-header text-left bg-primary text-white">
                <h4 class="modal-title"><i class="fa fa-money"></i><span class="ml-2">Refund Details</span></h4>
                <button type="button" class="close" data-dismiss="modal">×</button>
              </div>

              <!-- Modal body -->
              <div class="modal-body">
                <div class="card">
                  <div class="card-body">
                    <div class="row">
                      <div class="form-group col-md-4">
                        <label for="date"><strong>Date</strong></label>
                        <p id="date" class="form-control-static modalTime"></p>
                      </div>
                      <div class="form-group col-md-4">
                        <label for="type"><strong>Type</strong></label>
                        <p id="type" class="form-control-static"></p>
                      </div>
                      <div class="form-group col-md-4">
                        <label><strong>Status</strong></label>
                        <p class="form-control-static">
                          <span class="badge badge-success"> Approved </span>
                        </p>
                      </div>
                      <div class="form-group col-md-4">
                        <label for="total_amount"><strong>Amount</strong></label>
                        <p id="total_amount" class="form-control-static"></p>
                      </div>
                      <div class="form-group col-md-4">
                        <label for="bank_amount"><strong>Bank Amount</strong></label>
                        <p id="bank_amount" class="form-control-static"></p>
                      </div>
                      <div class="form-group col-md-4">
                        <label><strong>Wallet Amount</strong></label>
                        <p id="wallet_amount" class="form-control-static"></p>
                      </div>
                      <div class="form-group col-md-4">
                        <label for="sender"><strong>Sender</strong></label>
                        <p id="sender" class="form-control-static"></p>
                      </div>
                      <div class="form-group col-md-4">
                        <label><strong>Receiver</strong></label>
                        <p id="receiver" class="form-control-static"></p>
                      </div>
                      <div class="form-group col-md-12">
                        <label><strong>Reason</strong></label>
                        <p id="reason" class="form-control-static"></p>
                      </div>
                    </div>
                  </div>
                </div>

              </div>
            </div>
          </div>
        </div>

        <!-- The export Modal starts -->
        <%= render partial: 'merchant/transactions/export_modal' %>
        <!-- The export Modal ends -->
      </div>
      <div class="card-footer text-right">
        <div class="row">
          <div class="col-md-11 ">
            <%= paginate @transactions, :theme => 'twitter-bootstrap-3', :pagination_class => "pagination-small pagination-centered pull-right padd"%>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<section id="custom_modal"></section>


