$(".spnr").fadeOut("slow");
$("#custom_modal").html("<%= j render partial: '/merchant/transactions/reserve_details', locals: { :t => @transaction ,:db_t => @db_transaction,:pt => @parent_transaction} %>");
$("#modal_id").modal();