<div class="box">
            <div class="box-header with-border">
            <div class="col-md-12">
            <div class="row">
            <div class="col-md-6">
              <h3 class="box-title" id="transfer_box"><%= @heading %></h3>
              </div>
              <div class="col-md-6 text-right">
              </div>
            </div>
            </div>
            </div>
            <div class="box-body">
            <div class="">
      <%=form_tag transfer_amount_merchant_transactions_path , method: :post ,id: 'transfer_form'  do %>
      <!-- <div class="card"> -->
        <!-- <div class="card-body"> -->
          <div class="row">
            <div class="form-group col-md-4">
              <label for="title">Amount transfer</label>
              <input type="number" class="form-control amount" step="0.01" name="amount" placeholder="0.00" required>
            </div>
            <div class="form-group col-md-4">
              <label>From wallet</label>
              <%=select_tag 'from_id', options_from_collection_for_select(@wallets, 'id', 'name'), {:prompt => 'Select Wallet' ,class: 'form-control wallet_change' ,id: 'from_id', required: 'required'} %>
            </div>
            <div class="col-md-4">
              <div class="row" id="transfer_balance"> <b>Balance: &nbsp;</b><b>$ &nbsp;</b><span id="balance"><%=number_with_precision(@balance, precision: 2)%></span></div>
            </div>
            <input type="hidden" name="auth_token" value="<%=current_user.authentication_token %>">
            <input type="hidden" name="to_id" id="to_id" value="">
            <div class="form-group col-md-4 input-group mb-3">
              <span class="input-group-addon">+1</span>
              <input type="number" min="0" id="receiver" name="receiver" class="form-control" placeholder="Recipient's Phone" aria-label="Recipient's username" aria-describedby="basic-addon2" required>
              <!--<div class="input-group-append">-->
                <!--<button class="btn btn-outline-secondary verifyUser" id="" type="button">Verify</button>-->
              <!--</div>-->
            </div>
            <div class="col-md-12">
              <div id="details" class="none"></div>
            </div>
            <div class="form-group col-md-8">
              <label>Note for recipient</label>
              <textarea class="form-control" rows="5" name="message"></textarea>
            </div>

            <div class="col-md-12 text-right">
              <%#= submit_tag "Send Money", :class => 'btn btn-success  verifyUser send_money_button', id: 'send_money_btn' %>
            </div>

          <div class="col-md-8 text-right">
                <%= submit_tag "Send Money", :class => 'btn btn-success verifyUser send_money_button pull-right', id: 'send_money_btn' %>
          </div>
          </div>
        <!-- </div> -->

      <!-- </div> -->
      <% end %>
      </div>
      </div>
      </div>
      
      
<script>

    $(document).ready(function(){
        $('#send_money_btn').prop('disabled','disabled');
        $('.send_money_button').attr('disabled',true);
        $('#verify_recipient_number').attr('disabled',true);

        $('#balance').html('');
        $('#from_id').on('change',function () {
            $.ajax({
                url: '/merchant/base/show_wallet_balance',
                type: 'GET',
                data: {wallet_id: $(this).val()},
                success: function (data) {
                    $("#balance").text(parseFloat(data.balance).toFixed(2));

                },
                error: function (data) {
               }
            });


        });

        var form_submit=false;
        $('#transfer_form').submit( function (event) {
            if(!form_submit){
                event.preventDefault();
                return false;
            }});

        $('#receiver').on('blur',function(e)
        {
            if($('#balance').innerText < 1)
            {
                $("#message").html("").append('<div class="alert alert-warning" role="alert"><a href="#" data-dismiss="alert" class="close">×</a> <strong>Insufficient balance to transfer !</strong></div>');
                e.preventDefault();
                return false;

            }else {
                var phone = $("#receiver").val();
                if(phone.length != 0) {
                    $.ajax({
                        url: '/merchant/base/verify_user',
                        type: 'GET',
                        data: {user_phone: phone},
                        success: function (data) {
                            form_submit = true;
                            $("#message").html("").html('<div class="alert alert-success" role="alert"><a href="#" data-dismiss="alert" class="close">×</a> <strong>Verified!</strong></div>');
                            $("#to_id").val(data.wallet.id);
                            $("#details").css('display', 'block').html("").html("<div class='verify_div'><label><b>Name:</b> <span class='text-success font-weight-bold verify_name'>" + data.user.name + "</span></label></div>");
                            if(($('.amount').val().length != 0) && ($('.wallet_change').val().length != 0 ) ){
                                    $('.send_money_button').attr('disabled',false);
                                }else{
                                    $('.send_money_button').attr('disabled',true);
                                }

                        },
                        error: function (data) {
                            $("#message").html("").empty().html('<div class="alert alert-danger" role="alert"><a href="#" data-dismiss="alert" class="close">×</a> <strong>Not Verified!</strong></div>');
                            $('#send_money_btn').prop('disabled', 'disabled');
                            $("#details").html('');
                            form_submit = false;
                        }
                    });
                }
                else{
                    $("#message").html("");
                    $('#send_money_btn').prop('disabled', 'disabled');
                    $("#details").html('');
                    form_submit = false;
                }

            }
        });
    });
    $('.amount').bind("change keyup", function () {
        var check_verify = false;
        if( $('.verify_div').length ){
            check_verify = true;
        }
        if(($('.amount').val().length != 0) && ($('.wallet_change').val().length != 0 ) && check_verify ){
            $('.send_money_button').attr('disabled',false);
        }else{
            $('.send_money_button').attr('disabled',true);
        }
    });
    $('.wallet_change').bind("change keyup", function () {
        var check_verify = false;
        if( $('.verify_div').length ){
            check_verify = true;
        }
        if(($('.amount').val().length != 0) && ($('.wallet_change').val().length != 0 ) && check_verify ){
            $('.send_money_button').attr('disabled',false);
        }else{
            $('.send_money_button').attr('disabled',true);
        }
    });

</script>