
<div class="row">
  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <center>
      <div class="welcome_faq">
        <div class="row">
          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 mb-2">
            <div class="faq_heading">
              Top 7 most common FAQ - Please read
            </div>
          </div>
          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <hr class="welcome_hr">
          </div>
          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="m-portlet__body">
              <ul class="nav nav-pills" role="tablist">
                <li class="nav-item faq-nav-item">
                  <a class="nav-link active tab_text even m_tabs_3_1" data-toggle="tab" href="#m_tabs_3_1">
                    1. How do I create Permissions?
                  </a>
                </li>
                <li class="nav-item faq-nav-item">
                  <a class="nav-link tab_text odd m_tabs_3_2" data-toggle="tab" href="#m_tabs_3_2">
                    2. How do I create a new User for my account?
                  </a>
                </li>
                <li class="nav-item faq-nav-item">
                  <a class="nav-link tab_text even m_tabs_3_3" data-toggle="tab" href="#m_tabs_3_3">
                    3. How do I view the live (successful, declined, refunded, partially refunded) transactions for my accounts?
                  </a>
                </li>
                <li class="nav-item faq-nav-item">
                  <a class="nav-link tab_text odd m_tabs_3_4" data-toggle="tab" href="#m_tabs_3_4">
                    4. How do I view the monthly statements/running balance/ report for my accounts?
                  </a>
                </li>
                <li class="nav-item faq-nav-item">
                  <a class="nav-link tab_text even m_tabs_3_5" data-toggle="tab" href="#m_tabs_3_5">
                    5. How do I view my withdrawals from my accounts?
                  </a>
                </li>
                <li class="nav-item faq-nav-item">
                  <a class="nav-link tab_text odd m_tabs_3_6" data-toggle="tab" href="#m_tabs_3_6">
                    6. How do I access the Virtual Terminal?
                  </a>
                </li>
                <li class="nav-item faq-nav-item">
                  <a class="nav-link tab_text even m_tabs_3_7" data-toggle="tab" href="#m_tabs_3_7">
                    7. How do I create/send na Invoice?
                  </a>
                </li>
              </ul>
              <div class="tab-content pu">
                <div class="tab-pane active" id="m_tabs_3_1" role="tabpanel">
                  <div class="row">
                    <div class="col-lg-1">
                      <div class="faq_q1_v1"></div>
                    </div>
                    <div class="col-lg-11 col-md-11 col-sm-11">
                      <div class="heading_tab_text">
                        <p>
                          1a. How do I create Permissions?
                        </p>
                      </div>
                      <div class="para_tab_text mb-3">
                        <p>
                          Now that you have access to your account, let’s show you how to create specific accesses for
                          employees within your company. Before we explain how to add a new User, let’s first discuss
                          the permissions that will be associated with them.
                          <br>
                          <br>
                          <span>A permission will allow your users specific accesses within your personal QC account.</span>
                          These permissions can be created for specific departments or as needed. Simply select
                          <span>Business Settings</span><span class="arrow_span"> ></span> <span>Permissions List</span><span class="arrow_span"> > </span><span>Create Permission</span>.
                        </p>
                      </div>
                      <div class="">
                        <%= image_tag "v2/merchant/faq/tab_1_1.png" %>
                        <%= image_tag "v2/merchant/faq/tab_1_2.png", class: "mt-4"%>
                      </div>
                      <div class="para_tab_text mt-3 mb-3">
                        <p>
                          Once you are finished making your selections, name your permission and hit <span>Create
                          Permission</span>, then select <span>Confirm</span>. You can view the new permission in the <span>“Permissions List”</span>.
                        </p>
                      </div>
                      <div class="">
                        <%= image_tag "v2/merchant/faq/tab_1_3.png",class: "width-415"%>
                      </div>
                      <div class="pull-right mt-5">
                        <a href="#" class="btn btn-default btn-faq  m-btn--custom m-btn--icon m_tabs_3_1_next">
															<span>
																<span>
																Next
																</span>
                                <i class="fa fa-angle-right pl-2 pt-1"></i>
															</span>
                        </a>
                        <span  class="btn btn-default btn-faq m-btn--custom m-btn--icon tos_update">
															<span>
																<span>
																Skip
																</span>
                                <i class="fa fa-angle-right pl-2 pt-1"></i>
                                 <i class="fa fa-angle-right pt-1"></i>
															</span>
                        </span>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="tab-pane" id="m_tabs_3_2" role="tabpanel">
                  <div class="row">
                    <div class="col-lg-1">
                      <div class="faq_q2_v1"></div>
                    </div>
                    <div class="col-lg-11 col-md-11 col-sm-11 ">
                      <div class="heading_tab_text">
                        <p>
                          2. How do I create a new User for my account?
                        </p>
                      </div>
                      <div class="para_tab_text mb-3">
                        <p>
                          Now that we have our specific permissions all set up, let’s move on to
                          how to create a new user. Start by selecting Business Settings in the
                          left column <span class="arrow_span">></span> Select
                          <span>Employee List</span> <span class="arrow_span">></span> Select
                          <span>Add New Employee</span> <span class="arrow_span">></span>
                          <span>Fill out required information</span> <span class="arrow_span">>
                        </span> Select <span>the permissions</span> <span class="arrow_span">>
                        </span> Select <span>Add Employee</span>.
                        </p>
                      </div>
                      <div class=" mt-3">
                        <%= image_tag "v2/merchant/faq/tab_2_1.png" %>
                        <%= image_tag "v2/merchant/faq/tab_2_2.png", class: " mt-4"%>
                      </div>
                      <div class=" mt-5">
                        <%= image_tag "v2/merchant/faq/tab_2_3.png" %>
                      </div>
                      <div class="pull-right mt-5">
                        <a  href="#" class="btn btn-default btn-faq  m-btn--custom m-btn--icon m_tabs_3_1_Prev" id ="m_tabs_3_1_Prev">
															<span>
                                <i class="fa fa-angle-left pl-2 pt-1"></i>
																<span>
																Prev
																</span>
															</span>
                        </a>
                        <a  href="#" class="btn btn-default btn-faq  m-btn--custom m-btn--icon m_tabs_3_2_next">
															<span>
																<span>
																Next
																</span>
                                <i class="fa fa-angle-right pl-2 pt-1"></i>
															</span>
                        </a>
                        <span  class="btn btn-default btn-faq m-btn--custom m-btn--icon tos_update">
															<span>
																<span>
																Skip
																</span>
                                <i class="fa fa-angle-right pl-2 pt-1"></i>
                                 <i class="fa fa-angle-right pt-1"></i>
															</span>
                        </span>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="tab-pane" id="m_tabs_3_3" role="tabpanel">
                  <div class="row">
                    <div class="col-lg-1">
                      <div class="faq_q3_v1"></div>
                    </div>
                    <div class="col-lg-11 col-md-11 col-sm-11">
                      <div class="heading_tab_text">
                        <p>
                          3. How do I view the live (successful, declined, refunded, partially refunded)
                          transactions for my accounts?
                        </p>
                      </div>
                      <div class="para_tab_text mb-5">
                        <p>
                          In order to see successful and declined transactions, simply go to the left column in your
                          QuickCard portal. On the very top you will find <span>Accounts</span>. It will give you an overview of all
                          your accounts listed. Go to your main account and click on <span>View details</span> <span class="arrow_span">></span> Select your
                          <span>main account</span> and click on <span>View Transactions</span> <span class="arrow_span">></span> Look for <span>Successful</span> or <span>Declines</span> on the
                          top left of the site. For refunded or partially refunded transactions click on the <span>Status
                          button</span> <span class="arrow_span">></span> <span>Choose the option you are looking for</span>.
                        </p>
                      </div>
                      <div class="">
                        <%= image_tag "v2/merchant/faq/tab_3_1.png", class: "width-415" %>
                      </div>

                      <div class=" mt-5">
                        <%= image_tag "v2/merchant/faq/tab_3_2.png", class: "width-415" %>
                      </div>

                      <div class=" mt-5">
                        <%= image_tag "v2/merchant/faq/tab_3_3.png", class: "width-415"%>
                      </div>

                      <div class=" mt-5">
                        <%= image_tag "v2/merchant/faq/tab_3_4.png", class: "width-415" %>
                      </div>
                      <div class="pull-right mt-5">
                        <a data-toggle="tab" href="#" class="btn btn-default btn-faq  m-btn--custom m-btn--icon m_tabs_3_2_Prev">
															<span>
                                <i class="fa fa-angle-left pl-2 pt-1"></i>
																<span>
																Prev
																</span>
                              </span>
                        </a>
                        <a data-toggle="tab" href="#" class="btn btn-default btn-faq  m-btn--custom m-btn--icon m_tabs_3_3_next">
															<span>
																<span>
																Next
																</span>
                                <i class="fa fa-angle-right pl-2 pt-1"></i>
															</span>
                        </a>
                        <span  class="btn btn-default btn-faq m-btn--custom m-btn--icon tos_update">
															<span>
																<span>
																Skip
																</span>
                                <i class="fa fa-angle-right pl-2 pt-1"></i>
                                 <i class="fa fa-angle-right pt-1"></i>
															</span>
                        </span>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="tab-pane" id="m_tabs_3_4" role="tabpanel">
                  <div class="row">
                    <div class="col-lg-1">
                      <div class="faq_q4_v1"></div>
                    </div>
                    <div class="col-lg-11 col-md-11 col-sm-11">
                      <div class="heading_tab_text">
                        <p>
                          4. How do I view the monthly statements/running balance/report for my accounts?
                        </p>
                      </div>
                      <div class="para_tab_text mb-5">
                        <p>
                          If you would like to have an overview over your monthly statements, please go ahead and
                          select <span>Accounts</span> in the left column <span class="arrow_span">></span> <span>Select the Account</span> you would like to have the
                          statement for <span class="arrow_span">></span> Scroll to the middle of the page to <span>Daily Batch</span> <span class="arrow_span">></span> <span>Select the dropdown</span>
                          menu to the right <span class="arrow_span">></span> <span>Choose your desired time frame</span>.
                        </p>
                      </div>
                      <div class="">
                        <%= image_tag "v2/merchant/faq/tab_4_1.png" %>
                      </div>

                      <div class=" mt-5">
                        <%= image_tag "v2/merchant/faq/tab_4_2.png",class: "width-415"%>
                      </div>
                      <div class="pull-right mt-5">
                        <a data-toggle="tab" href="#" class="btn btn-default btn-faq  m-btn--custom m-btn--icon m_tabs_3_3_Prev">
															<span>
                                  <i class="fa fa-angle-left pl-2 pt-1"></i>
																<span>
																Prev
																</span>
															</span>
                        </a>
                        <a data-toggle="tab" href="#" class="btn btn-default btn-faq  m-btn--custom m-btn--icon m_tabs_3_4_next">
															<span>
																<span>
																Next
																</span>
                                <i class="fa fa-angle-right pl-2 pt-1"></i>
															</span>
                        </a>
                        <span  class="btn btn-default btn-faq m-btn--custom m-btn--icon tos_update">
															<span>
																<span>
																Skip
																</span>
                                <i class="fa fa-angle-right pl-2 pt-1"></i>
                                 <i class="fa fa-angle-right pt-1"></i>
															</span>
                        </span>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="tab-pane" id="m_tabs_3_5" role="tabpanel">
                  <div class="row">
                    <div class="col-lg-1">
                      <div class="faq_q5_v1"></div>
                    </div>
                    <div class="col-lg-11 col-md-11 col-sm-11">
                      <div class="heading_tab_text">
                        <p>
                          5. How do I view my withdrawals from my accounts?
                        </p>
                      </div>
                      <div class="para_tab_text mb-5">
                        <p>
                          If you remember the type of withdrawal you are looking for, go ahead and select
                          <span>Withdraw</span> in the left column <span class="arrow_span">></span> Select the <span>type of withdrawal</span> you would like to view.
                        </p>
                      </div>
                      <div class="mb-5">
                        <%= image_tag "v2/merchant/faq/tab_5_1.png" %>
                      </div>
                      <div class="para_tab_text mb-5">
                        <p>
                          In case you don’t remember the type of withdrawal <span class="arrow_span">></span> <span>Select Accounts</span>
                          in the left column <span class="arrow_span">></span> Select the <span>account the request was made from</span> <span class="arrow_span">></span>
                          <span>Scroll to the bottom</span> to view the withdrawals section and you will be able to find all withdrawals made in the past.
                        </p>
                      </div>
                      <div class="mb-5">
                        <%= image_tag "v2/merchant/faq/tab_5_2.png",class: "width-415"%>
                      </div>
                      <div class="heading_tab_text">
                        <p>
                          How do I create an ACH withdrawal from my accounts?
                        </p>
                      </div>
                      <div class="para_tab_text mb-5">
                        <p>
                          If you wish to create an ACH, go ahead and select <span>Withdraw</span> in the left column <span class="arrow_span">></span> <span>Select ACH</span> <span class="arrow_span">></span>
                          <span>Select New ACH</span> located to the top right in yellow <span class="arrow_span">></span> <span>Fill out the required information</span> (You
                          may have to have your information reviewed for your first request.) > Select <span>Submit</span>.
                        </p>
                      </div>
                      <div class="mb-5">
                        <%= image_tag "v2/merchant/faq/tab_5_1.png" %>
                        <%= image_tag "v2/merchant/faq/tab_5_3.png", class:'mt-4' %>
                      </div>
                      <div class="mb-5">
                        <%= image_tag "v2/merchant/faq/tab_5_4.png",class: "width-415"%>
                      </div>
                      <div class="heading_tab_text">
                        <p>
                          How do I create a Push to Card withdrawal from my accounts?
                        </p>
                      </div>
                      <div class="para_tab_text mb-5">
                        <p>
                          If you wish to create a <span>Push To Card</span>, go ahead and select <span>Withdraw</span> in the left column ->
                          <span>Select Push to Card</span> -> <span>Select New Push to Card</span> located to the top right in yellow -> <span>Fill out
                          the required information</span> (Debit card required, <span>$2,000.00 limit per request</span>) -> <span>Select Submit</span>.
                        </p>
                      </div>
                      <div class="mb-5">
                        <%= image_tag "v2/merchant/faq/tab_5_5.png" %>
                        <%= image_tag "v2/merchant/faq/tab_5_6.png", class:'mt-4' %>
                      </div>
                      <div class="mb-5">
                        <%= image_tag "v2/merchant/faq/tab_5_7.png", class: "width-415"%>
                      </div>
                      <div class="pull-right mt-5">
                        <a data-toggle="tab" href="#" class="btn btn-default btn-faq  m-btn--custom m-btn--icon m_tabs_3_4_Prev">
															<span>
                                <i class="fa fa-angle-left pl-2 pt-1"></i>
																<span>
																Prev
																</span>
															</span>
                        </a>
                        <a href="#" class="btn btn-default btn-faq  m-btn--custom m-btn--icon m_tabs_3_5_next">
															<span>
																<span>
																Next
																</span>
                                <i class="fa fa-angle-right pl-2 pt-1"></i>
															</span>
                        </a>
                        <span  class="btn btn-default btn-faq m-btn--custom m-btn--icon m_tabs_3_5_next">
															<span>
																<span>
																Skip
																</span>
                                <i class="fa fa-angle-right pl-2 pt-1"></i>
                                 <i class="fa fa-angle-right pt-1"></i>
															</span>
                        </span>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="tab-pane" id="m_tabs_3_6" role="tabpanel">
                  <div class="row">
                    <div class="col-lg-1">
                      <div class="faq_q6_v1"></div>
                    </div>
                    <div class="col-lg-11 col-md-11 col-sm-11">
                      <div class="heading_tab_text">
                        <p>
                          6. How do I access the Virtual Terminal?
                        </p>
                      </div>
                      <div class="para_tab_text mb-5">
                        <p>
                          To access your <span>Virtual Terminal</span> which can be used to process transactions from within your
                          QC portal. Simply select <span>Virtual Terminal</span> in the left column <span class="arrow_span">></span> <span>Fill out the required customer
                          information, billing information, product for purchase</span>, and then their <span>card information</span>,
                          hit <span>Submit</span>.
                        </p>
                      </div>
                      <div class="">
                        <%= image_tag "v2/merchant/faq/tab_6_1.png" %>
                      </div>

                      <div class="mt-5">
                        <%= image_tag "v2/merchant/faq/tab_6_2.png", class:"width-415"%>
                      </div>
                      <div class="pull-right mt-5">
                        <a data-toggle="tab" href="#" class="btn btn-default btn-faq  m-btn--custom m-btn--icon m_tabs_3_5_Prev">
															<span>
                                <i class="fa fa-angle-left pl-2 pt-1"></i>
																<span>
																Prev
																</span>
															</span>
                        </a>
                        <a href="#" class="btn btn-default btn-faq  m-btn--custom m-btn--icon m_tabs_3_6_next">
															<span>
																<span>
																Next
																</span>
                                <i class="fa fa-angle-right pl-2 pt-1"></i>
															</span>
                        </a>
                        <span  class="btn btn-default btn-faq m-btn--custom m-btn--icon tos_update">
															<span>
																<span>
																Skip
																</span>
                                <i class="fa fa-angle-right pl-2 pt-1"></i>
                                 <i class="fa fa-angle-right pt-1"></i>
															</span>
                        </span>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="tab-pane" id="m_tabs_3_7" role="tabpanel">
                  <div class="row">
                    <div class="col-lg-1">
                      <div class="faq_q7_v1"></div>
                    </div>
                    <div class="col-lg-11 col-md-11 col-sm-11">
                      <div class="heading_tab_text">
                        <p>
                          7. How do I create/send an Invoice?
                        </p>
                      </div>
                      <div class="para_tab_text mb-5">
                        <p>
                          To create/send an Invoice, you will need to select <span>Invoice</span> in the left column, then select New
                          Invoice. Fill out the <span>required customer information, billing information, shipping
                          information, product information</span>, and last but not least the <span>payment method</span>. Hit the
                          <span>Preview Invoice</span>, review and choose either to <span>save the invoice as a draft, send it</span>, or both!
                        </p>
                      </div>
                      <div class="">
                        <%= image_tag "v2/merchant/faq/tab_7_1.png" %>
                        <%= image_tag "v2/merchant/faq/tab_7_2.png", class:"mt-5" %>
                      </div>

                      <div class="mt-5">
                        <%= image_tag "v2/merchant/faq/tab_7_3.png", class:"width-415"%>
                      </div>
                      <div class="pull-right mt-5">
                        <a data-toggle="tab" href="#" class="btn btn-default btn-faq  m-btn--custom m-btn--icon m_tabs_3_6_Prev">
															<span>
                                <i class="fa fa-angle-left pl-2 pt-1"></i>
																<span>
																Prev
																</span>
															</span>
                        </a>
                        <a href="#" class="btn btn-default btn-faq  m-btn--custom m-btn--icon tos_update">
															<span>
																<span>
																Next
																</span>
                                <i class="fa fa-angle-right pl-2 pt-1"></i>
															</span>
                        </a>
                        <span  class="btn btn-default btn-faq m-btn--custom m-btn--icon tos_update">
															<span>
																<span>
																Skip
																</span>
                                <i class="fa fa-angle-right pl-2 pt-1"></i>
                                 <i class="fa fa-angle-right pt-1"></i>
															</span>
                        </span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </center>
  </div>
</div>