<div class="m-content m-content_space">
  <div class="m-wizard m-wizard--2 m-wizard--success" id="m_wizard">
    <div class="m-portlet__padding-x">
    </div>
    <div class="row">
      <div class="col-lg-3"></div>
      <div class="col-lg-6">
        <div class="m-wizard__head m-portlet__padding-x">
          <div class="m-wizard__progress">
            <div class="progress">
              <div class="progress-bar" id="wizard-progress-bar" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
          </div>
          <div class="m-wizard__nav">
            <div class="m-wizard__steps">
              <div class="m-wizard__step m_wizard_form_step_1 m-wizard__step--current" m-wizard-target="m_wizard_form_step_1">
                <a href="#" class="m-wizard__step-number" data-toggle="m-popover" data-placement="top" data-content="<div class='text-center wel--come'><span class='pop_term_service'>Welcome</span></div>" data-html="true" id="welcome_popover">
                <span>
                  <i class="fa fa-check"></i>
                  <div class="wizard_dot"></div>
                </span>
                </a>
              </div>
              <div class="m-wizard__step m_wizard_form_step_2" m-wizard-target="m_wizard_form_step_2">
                <a href="#" class="m-wizard__step-number" data-toggle="m-popover" data-placement="top" data-content="<div class='text-center'><span>Step 1</span><br><span class='pop_term_service'>Terms of Service</span></div>" data-html="true" id="step1_popover">
                  <span>
                   <i class="fa fa-check"></i>
                     <div class="wizard_dot"></div>
                  </span>
                </a>
              </div>
              <div class="m-wizard__step m_wizard_form_step_3" m-wizard-target="m_wizard_form_step_3">
                <a href="#" class="m-wizard__step-number" data-toggle="m-popover" data-placement="top" data-content="<div class='text-center'><span>Step 2</span><br><span class='pop_term_service'>Password</span></div>" data-html="true" id="step2_popover">
                <span>
                  <i class="fa fa-check"></i>
                   <div class="wizard_dot"></div>
                </span>
                </a>
              </div>
              <div class="m-wizard__step m_wizard_form_step_4" m-wizard-target="m_wizard_form_step_4">
                <a href="#" class="m-wizard__step-number" data-toggle="m-popover" data-placement="top" data-html="true" data-content="<div class='text-center'><span>Step 3</span><br><span class='pop_term_service'>FAQ</span></div>" data-html="true" id="step3_popover">
                <span>
                  <i class="fa fa-check"></i>
                   <div class="wizard_dot"></div>
                </span>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-3"></div>
    </div>

    <div class="m-wizard__form">
      <form class="m-form m-form--label-align-left- m-form--state-" id="m_form">
        <div class="m-portlet__body">
          <div class="m-wizard__form-step m-wizard__form-step--current" id="m_wizard_form_step_1">
            <div class="text--center">
              <div class="row">
                <div class="col-lg-3"></div>
                <div class="col-lg-6">
                  <input type="hidden" id="user_tos" value="<%= !current_user.tos_checking? ? 'true' : 'false'%>">
                  <%= render partial: "v2/merchant/welcome/start_step_welcome" %>
                </div>
                <div class="col-lg-3"></div>
              </div>
            </div>
          </div>
          <div class="m-wizard__form-step m_wizard_form_step_2" id="m_wizard_form_step_2">
            <%= render partial: "v2/merchant/welcome/term_services" %>
          </div>
          <div class="m-wizard__form-step m_wizard_form_step_3" id="m_wizard_form_step_3">
            <%= render partial: "v2/merchant/welcome/change_password" %>
          </div>
          <div class="m-wizard__form-step m_wizard_form_step_4" id="m_wizard_form_step_4">
            <center>
              <%= render partial: "v2/merchant/welcome/step3_welcome" %>
            </center>
          </div>
        </div>
        <div class="m-portlet__foot m-portlet__foot--fit m--margin-top-40">
          <div class="m-form__actions">
            <div class="row">
              <div class="col-lg-12">

              </div>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>

