<p class="New-Group">New Group</p>
<input type="hidden" id="occupied_gateways" value="<%= PaymentGateway.where(load_balancer_id: @load_balancer.try(:id), load_balancer_rule_id: @load_balancer.try(:load_balancer_rules).try(:pluck, :id)).pluck(:id).join(',') %>">
<input type="hidden" id="on_edit_occupied_gateways">
<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
  <div class="row">
    <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 col-xs-12"></div>
    <div class="col-xl-2 col-lg-2 col-md-2 col-sm-2 col-xs-12 margin---30">
      <div class="path-body active_header pull-right" id="g-config">
        <div class="sec-circle">
          <p class="sec-no">1</p>
        </div>
        <p class="path-tab">Group Configuration</p>
      </div>
    </div>
    <div class="col-xl-2 col-lg-2 col-md-2 col-sm-2 col-xs-12 margin---30">
      <div class="path-body width206px inactive_header" id="g-auto">
        <div class="sec-circle">
          <p class="sec-no">2</p>
        </div>
        <p class="Automation-Rules ">Authentication Rules</p>
      </div>
    </div>
    <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 col-xs-12"></div>
  </div>
</div>

<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
  <div class="row">
    <%= render :partial => "admins/load_balancers/partials/payment_gateways_a" %>
    <%= render :partial => "admins/load_balancers/partials/step_2_a" %>
    <%= render :partial => "admins/load_balancers/partials/payment_gateways_b" %>
    <%= render :partial => "admins/load_balancers/partials/step_2_b" %>
  </div>
</div>

<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12 margin_bottom_100">
  <div class="row">
    <div class="col-xl-9 col-lg-9 col-md-9 col-sm-9 col-xs-12"></div>
    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 col-xs-12 margin---30">
      <div class="pull-right">
        <button id="nextStep" type="button" class="btn btn-primary next-btn Next-Step">Next Step</button>
<!--        <a id="nextStep" class="btn btn-primary next-btn Next-Step"></a>-->
        <%= render :partial => "admins/load_balancers/partials/rules_data_to_save" %>
      </div>
    </div>
  </div>
</div>