 <!-- Modal -->
  <div class="modal fade editModal" role="dialog">
    <div class="modal-dialog form-group">

      <!-- Modal content-->
      <div class="modal-content">

        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Edit Partner</h4>
        </div>
          <%= form_for @partner, url: {controller: "admins/partners", action: "update"} do |f| %>
            <div class="row">
              <div class="col-md-12">
                <div class="card-header bordered">
                  <div class="header-block">

                    <div class="">
                      <div class="col-xs-12">
                        <div class="col-md-12">
                          <div class="form-group"><%= f.label :merchant %><br />
                            <%= f.select :merchant_id, options_for_select(User.merchant.collect {|v| [v.name,v.id]},selected: f.object.merchant_id),{} , {autofocus: false, id:"username", class:"form-control" }%>
                          </div>

                          <div class="form-group">
                            <%= f.label :name %><br />
                            <%= f.text_field :name , id:"first_name" ,class:"form-control"%>
                          </div>

                          <div class="form-group">
                            <%= f.label :last_name %><br />
                            <%= f.text_field :last_name , id:"last_name" ,class:"form-control"%>
                          </div>

                          <div class="form-group">
                            <%= f.label :phone_number %><br />
                            <%= f.text_field :phone_number , id:"first_name" ,class:"form-control"%>
                          </div>

                          <div class="form-group">
                            <%= f.label :email %><br />
                            <%= f.text_field :email, id:"user qwname" ,class:"form-control"%>
                          </div>

                          <div class="form-group">
                            <%= f.label :password, "Password" %><br />
                            <%= f.password_field :password, id:"password" ,class:"form-control"%>
                          </div>
                          <div class="form-group">
                            <%= f.label :password_confirmation, "Confirm Password" %><br />
                            <%= f.password_field :password_confirmation, id:"password" ,class:"form-control"%>
                          </div>
                        </div>
                      </div>
                    </div>
                    <%= f.submit "Submit", class:"btn btn-success " %>
                  <% end %>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>


