
    <div class="">
        <div class="col-xs-12">
          <!--<div class="col-md-12 ">-->
            <div class="form-group"><%= f.label :merchant %><br />
              <%= f.select :merchant_id, options_for_select(User.merchant.collect {|v| [v.name,v.id]}),{} , {autofocus: false, id:"username", class:"form-control" }%>
            </div>

            <div class="form-group">
              <%= f.label :name %><br />
              <%= f.text_field :name , id:"name", class:"form-control"%>
            </div>

            <div class="form-group">
              <%= f.label :last_name %><br />
              <%= f.text_field :last_name , id:"name", class:"form-control"%>
            </div>

            <div class="form-group">
              <%= f.label :email %><br />
              <%= f.email_field :email, id:"email", class:"form-control", required: true, email: true %>
            </div>

            <div class="form-group">
              <%= f.label :phone_number %><br />
              <%= f.text_field :phone_number, class:"form-control", required: true %>
            </div>

        </div>
      <%= f.submit "Save Partner", class:"btn btn-success " %>
    </div>

