<div class="sidebar-overlay" id="sidebar-overlay"></div>
<div class="sidebar-overlay" id="sidebar-overlay"></div>
  <div class="title-block">
    <h1 class="title text-capitalize" id="partner_h1">
      Partners
    </h1>
  </div>

  <section class="section">
  <div class="row">
      <div class="col-md-6">
        <div class="card card-widget-success" id="partner_div">
          <div class="card-block">
            <div class="widget-title">Total  Partners</div>
            <div class="result"><h6><%= @partners.count %></h6></div>
          </div>
        </div>
      </div>
      </div>
    <div class="row">
        <div class="card sameheight-item items" data-exclude="xs,sm,lg">
          <div class="card-header bordered">
            <div class="header-block">
              <h3 class="title text-capitalize pull-left">All Partners</h3>
            </div>
            <div class="header-block pull-right">
              <button type="button" class="btn btn-primary pull-right modalwalabutton" data-toggle="modal" data-target=".myModal text-capitalize">New Partner</button>
            </div>
          </div>

          <section class="example">
            <div class="">
              <div class="table-responsive">
                <table id="datatable-keytable" class="table table-striped table-bordered" cellspacing="0" cellpadding="0">
                  <thead>
                  <tr>
                    <th class="all">ID</th>
                    <th >Name</th>
                    <th >Phone Number</th>
                    <th >Action</th>
                  </tr>
                  </thead>
                  <tbody>
                  </tbody>
                </table>
              </div>
            </div>
          </section>
        </div>
      </div>
  </section>
<section>

  <!-- Modal -->
  <div class="modal fade myModal" role="dialog">
    <div class="modal-dialog form-group">
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">New Partner</h4>
        </div>
        <%= simple_form_for @partner , url: partners_path , method: :post  do |f| %>
            <div class="row">
              <div class="col-md-12">
                <div class="card-header bordered">
                  <div class="header-block">
                  <%= render partial: 'admins/partners/partner_signup', :locals => {:f => f } %>
                  </div>
                </div>
              </div>
            </div>
        <% end %>
        </div>
      </div>
    </div>
</section>

<section id="editAgent"></section>

<script type="text/javascript">
$(document).ready(function(){
      $('.modalwalabutton').click(function(){
        $('.myModal').modal();
      });

    $('#datatable-keytable').DataTable({
        "sScrollX": false,
        "scrollX": false,
        "sSearch": true,
        "ordering": true,
        "processing": true,
        "searching": true,
        "serverSide": true
    });

});

</script>
