<section class="section">
  <div class="row">
    <div class="col-md-12">
      <div class="card sameheight-item items" data-exclude="xs,sm,lg">
        <div class="card-header bordered">
          <div class="header-block">
            <div class="col-md-12 bank-opt">
              <h4>Select Bank Option:</h4>
              <%= simple_form_for @stripe_config, :html => {:id => ''} do |f| %>
                  <%= f.collection_radio_buttons :stringValue, [['stripe', 'Stripe'] ,['converge', 'Converge'],['payeezy', 'Payeezy'],['bridge_pay', 'Bridge Pay'],[TypesEnumLib::GatewayType::ICanPay,TypesEnumLib::GatewayType::ICanPay.humanize]], :first, :last %>
                  <%#= f.collection_radio_buttons :boolValue, [[true, 'Stripe'] ,[false, 'Converge']], :first, :last %>
              <input type="hidden" id="stripe_config_id" value="<%= @stripe_config.id %>">
              <% end %>
            </div>
          </div>
        </div>
        <section class="example">
          <div class="">
          </div>
        </section>
      </div>
      <!--<div class="collapse" id="bridgeCollapse">-->
      <!--<div class="card sameheight-item items" data-exclude="xs,sm,lg">-->
      <!--<div class="card-header bordered">-->
      <!--<div class="header-block">-->
      <!--<div class="col-md-12 bank-opt">-->
      <!--<h4>Select Secondary Option:</h4>-->
      <!--<%#= simple_form_for @stripe_config, :html => {:id => ''} do |f| %>-->
      <!--<%#= f.collection_radio_buttons :secondary_option, [['stripe', 'Stripe'] ,['converge', 'Converge'],['payeezy', 'Payeezy']], :first, :last %>-->
      <!--<%# end %>-->
      <!--</div>-->
      <!--</div>-->
      <!--</div>-->
      <!--<section class="example">-->
      <!--<div class="">-->
      <!--</div>-->
      <!--</section>-->
      <!--</div>-->
      <!--</div>-->
    </div>
  </div>
</section>

