<div class="container-fluid row">
  <div class="table-responsive">
    <table id="load_balancer-datatable" class="table table-bordered table-striped text-align-center-app-config">
      <thead class="datatable-thead-app-config">
        <th>Activated Date</th>
        <th>Load Balancer Name</th>
        <th>Total MID's</th>
        <th>Status</th>
        <th></th>
      </thead>
      <tbody>
      <% @load_balancers.each do |load_balancer| %>
        <tr>
          <td><%= load_balancer[:created_at] %></td>
          <td><%= load_balancer[:name] %></td>
          <td><%= load_balancer[:total_mid] %></td>
          <td><span class="<%= get_load_balancer_status(load_balancer[:status])[:color] %>"><%= get_load_balancer_status(load_balancer[:status])[:status] %></span></td>
          <td><%= link_to "View", admins_load_balancer_path(load_balancer[:id]), class: "btn btn-primary background-00000099-app-config"%></td>
        </tr>
      <% end %>
      </tbody>
    </table>
  </div>
</div>
<div class="card-footer text-right margin-bottom-30-px-shared">
  <div class="row">
    <div class="col-md-12">
      <span class="float-left-shared">Showing <%=@load_balancers.try(:count)%> of <%=@load_balancers.total_count %> records</span>
      <%= paginate @load_balancers, :theme => 'twitter-bootstrap-3', :pagination_class => "pagination-small pagination-centered pull-right" %>
    </div>
  </div>
</div>