<section class="section">
  <%= form_tag "/admins/app_configs/fee_update/#{params[:kind]}",method: :post, html: {class: "form-inline"} do |f| %>
      <div class="row">
        <div class="col-md-12">
          <div class="card sameheight-item items" data-exclude="xs,sm,lg">
            <div class="card-header bordered">
              <div class="header-block">
                <h3 class="title">All methods</h3>
              </div>
            </div>
            <div class="card-block">
              <div class="row margin-bottom-7-px-app-config">
                <div class="form-group col-sm-12">
                  <div class="col-sm-6"><label>Withdraws using bank transfer (E-Check) <%#= @role.title.upcase %></label></div>
                  <div class="col-sm-3">$ <%= text_field_tag AppConfig::Fee::MerchantCheckFee %></div>
                </div>
              </div>
              <div class="row margin-bottom-7-px-app-config" >
                <div class="form-group col-sm-12">
                  <div class="col-sm-6"><label>Withdraws using Visa prepaid debit cards</label></div>
                  <div class="col-sm-3">$ <%= text_field_tag AppConfig::Fee::MerchantVisaCardFee %></div>
                </div>
              </div>

              <div class="row margin-bottom-7-px-app-config">
                <div class="form-group col-sm-12">
                  <div class="col-sm-6"><label>Withdraws using PayPal prepaid debit cards</label></div>
                  <div class="col-sm-3">$ <%= text_field_tag AppConfig::Fee::MerchantPaypalCardFee %></div>
                </div>
              </div>

              <div class="row margin-bottom-7-px-app-config">
                <div class="form-group col-sm-12">
                  <div class="col-sm-6"> <label>Withdraws using gift cards</label></div>
                  <div class="col-sm-3">$ <%= text_field_tag AppConfig::Fee::MerchantGiftCardFee %></div>
                </div>
              </div>
              <div class="row margin-bottom-7-px-app-config">
                <div class="form-group col-sm-12">
                  <div class="col-sm-6"> <label>Customer Sending Limits</label></div>
                  <div class="col-sm-3">$ <%#= text_field_tag :user_limit, class: 'form-control' %></div>
                </div>
              </div>
            </div>
            <div class="card-footer text-align-right-app-config">
              <a class="btn btn-secondary btn-sm" href="<%= root_path %>">Cancel</a>
              <%= submit_tag "UPDATE", class: 'btn btn-primary btn-sm' %>
            </div>
          </div>
        </div>
      </div>
  <% end %>
</section>
