
<div class="row">
  <div class="col-md-8">
    <div class="card merchant_list_app-config" id="easyPaginate">
      <ul class="list-group list-group-flush ul_for_merchants" id="ul_for_merchants">
        <% locations.try(:each) do  |location| %>
            <li class="list-group-item" id="box_<%= location.id %>">
              <div class="checkbox-animated">
                <input id="checkbox_animated_<%= location.id %>" class="all" type="checkbox" value="<%= location.id %>" >
                <label for="checkbox_animated_<%= location.id %>"> <span class="check"></span> <span class="box"></span> <%= location.business_name %> </label>
                <% if location.is_block? == true %>
                  <span class="pull-right color-red-app-config">Inactive</span>
                <% else %>
                  <span class="pull-right color-green-app-config">Active</span>
                <% end %>
              </div>
            </li>
        <% end %>
      </ul>
    </div>
  </div>
  <div class="col-md-4">
    <%= form_tag update_payment_gateway_app_configs_path(gateway: gateway.key) do  %>
      <%= hidden_field_tag "locations[]" %>
      <div class="form-group"><%= label_tag :primary_gateway_id, "Bank Name", class: "no-padding" %><br />
        <%= select_tag(:primary_gateway_id, options_for_select(PaymentGateway.main_gateways.active_gateways.map{ |key| [key.name, key.id]}),include_blank: "Select Bank", class:"form-control" )%>
      </div>
      <div class="form-group"><%= label_tag :secondary_gateway_id, "Secondary Bank Name", class: "no-padding" %><br />
        <%= select_tag :secondary_gateway_id, options_for_select(PaymentGateway.main_gateways.active_gateways.map{ |key| [key.name, key.id]}),include_blank: "Select Bank", class:"form-control" %>
      </div>
      <div class="form-group"><%= label_tag :ternary_gateway_id, "Third Bank Name", class: "no-padding" %><br />
        <%= select_tag :ternary_gateway_id, options_for_select(PaymentGateway.main_gateways.active_gateways.map{ |key| [key.name, key.id]}),include_blank: "Select Bank" , class:"form-control" %>
      </div>
      <div class="form-group">
        <%= submit_tag "Update", class: "btn btn-primary btn-sm pull-right", id: "update_gateway" %>
      </div>
    <% end %>
  </div>
</div>
<% render partial: 'merchant_list.js.erb' %>