<div class="modal fade" id="detailModal12" tabindex="-1" role="dialog" aria-labelledby="modal-label-69" aria-hidden="true">
  <div class="modal-dialog modal-sm">
    <div class="modal-content modal-content-app-config">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h6 id="modal-label-69">Batch Details</h6>
      </div>
      <div class="modal-body">
        <div class="user_details">
          <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-3">
              <b>ID</b>
            </div>
            <div class="col-md-3">
              <b>Name</b>
            </div>
            <div class="col-md-5">
              <b>Current Payment Method</b>
            </div>
          </div>
            <% @log_details.each do |log|%>
              <div class="row">
                <div class="col-md-1"></div>
                <div class="col-md-3">
                  <%= log.location.present? ? log.location.id : log.user.ref_no %>
                </div>
                <div class="col-md-3">
                  <%= log.location.present? ?  log.location.business_name : log.user.name %>
                </div>
                <div class="col-md-5">
                  <%= log.location.present? ?  log.location.primary_gateway.try(:key) : log.user.payment_gateway %>
                </div>
              </div>
            <%end%>

        </div>

      </div>

      <div class="modal-footer">
        <a href="<%= revertDetails_app_configs_path(id: @config_log_id) %>" type="button" class="btn btn-secondary btn-sm pull-right revert_button modal-revert-button-app-config" data-confirm="Are you Sure?">Revert</a>
      </div>
    </div>
  </div>
</div>


