
<div class="title-block">
  <div class="row">
    <div class="col-md-6">
      <h1 class="title text-capitalize">KIOSK Configs</h1>
    </div>
  </div>
</div>
<section class="section">
  <div class="row">
    <div class="col-md-12">
      <div class="card sameheight-item items" data-exclude="xs,sm,lg">
        <div class="card-header bordered">
          <div class="header-block">
            <div class="col-md-12 bank-opt">
              <h4>Select Bank Option:</h4>
              <%= simple_form_for @stripe_config, :html => {:id => 'bank_form'} do |f| %>
                  <%#= f.collection_radio_buttons(:stringValue, [['stripe', 'Stripe'] ,['converge', 'Converge'],['payeezy', 'Payeezy'],['bridge_pay', 'Bridge Pay'],['fluid_pay', 'Fluid Pay']], :first, :last) do |b|%>
                  <%= f.collection_radio_buttons(:stringValue, [['stripe', 'Stripe GBox'],  ['stripe_pop', 'Stripe Pop'],  ['stripe_pop_2', 'Stripe Pop 2'],['fluid_pay', 'Fluid Pay']], :first, :last) do |b|%>
                      <%= b.label { b.radio_button + b.text } %>
                      <%#= f.collection_radio_buttons :boolValue, [[true, 'Stripe'] ,[false, 'Converge']], :first, :last %>
                  <% end %>
                <input type="hidden" id="strip_config_id" value="<%= @stripe_config.id  %>">
            <% end %>
            </div>
          </div>
        </div>
        <section class="example">
          <div class="">
          </div>
        </section>
      </div>

    </div>
  </div>
</section>
