<div class="title-block">
  <div class="row">
    <div class="col-md-6">
      <h1 class="title text-capitalize">Load Balancer Configs</h1>
    </div>
  </div>
</div>
<div class="container-fluid padding-left-0-px-shared">
  <ul class="nav nav-tabs users_tabs font-weight-bold-shared font-size-20-px-shared">
    <li class="<%= params[:status] == "active" || params[:status] == "undefined" || params[:status].blank? ? 'active' : ''%>"><a href="#" id="active_gateway" data-url="<%= load_balancer_configs_app_configs_path %>">Active</a></li>
    <li class="<%= params[:status] == "inactive" ? 'active' : ''%>"><a href="#" id="inactive_gateway" data-url="<%= load_balancer_configs_app_configs_path %>">Inactive</a></li>
  </ul>
</div>
<div class="row" >
<div class="col-sm-6 col-md-6">
  <div class="dataTables_length">
    <div class="col-md-6 top-30-px-shared1 margin_bottom_app_config">
      <span class="padding-top-7-px-shared float-left-shared margin_right_7">Show</span>
      <span class="float-left-shared">
        <%= form_tag load_balancer_configs_app_configs_path(status: params["status"]), method: :get, id: "gateway_entries_form"  do  %>
          <%= select_tag "tx_filter", options_for_select(@filters.map{|v|[v]}, selected: params[:tx_filter].present? ? params[:tx_filter] : "10"),
                        :prompt => false,
                        :required => true,
                        class: "form-control form-control-sm",
                        data: {confirm: "Are you sure ?"}
          %>
          <input type="hidden" name="status" value="<%= params[:status].present? ? params[:status] : "active" %>"  />
          <input type="hidden" name="q" id="q" value="<%= params[:q].present? ? params[:q] : "" %>"  />
          <input type="hidden" name="search_input" value="search_input"  />
          <input type="hidden" id="filter_input" value="<%= params[:tx_filter] %>"  />
          <input type="hidden" id="params_req_input" value="<%= params[:status] %>"  />
        <% end %>
      </span>
      <span class="float-left-shared padding-top-7-px-shared margin_left_7">Entries</span>
    </div>
  </div>
</div>
<div class="col-sm-6 col-md-6">
  <div class="col-md-12">
    <input type="text" class="form-control pull-right search_input_field" value="<%= params[:q]%>" placeholder=" &#xf002; Search&hellip;" name="search" data-load-balancer="true" id="srch-term">
  </div>
</div>
<div class="tab_data_details">
  <%= render partial: 'admins/app_configs/load_balancer_configs_table', :locals => { load_balancers: @load_balancers } %>
</div>
