$('.tab_data_details').html('').html('<%= escape_javascript render partial: 'admins/app_configs/merchant_app_configs_table', locals: {payment_gateway: @payment_gateway } %>');


var table = $("#app_config-datatable").DataTable({
    "responsive": true,
    //"sScrollX": false,
    "sSearch": false,
    "bInfo": false,
    "bPaginate": false,
    "searching": false,
    "bLengthChange": false,
    "ordering": true,
    "order": [[ 3,"desc" ]],
    "columnDefs": [
        { "targets":5, "orderable": false }
    ]

});