<div class="title-block">
  <div class="row">
  <h1 class="title text-capitalize">System Configs</h1>
  </div>
</div>
<section class="section">
  <div class="row">
    <div class="col-md-12">
      <div class="card sameheight-item items" data-exclude="xs,sm,lg">
        <div class="card-header bordered">
          <div class="col-md-12 system-config-card-header-div">

            <div class="table-responsive">
              <table id="datatable-keytable" class="table table-striped table-bordered" cellspacing="0" cellpadding="0">
                <thead>
                <tr>
                  <th>Id</th>
                  <th>Total Merchants</th>
                  <th>From</th>
                  <th>To</th>
                  <th>Created at</th>
                  <th>Details</th>
                </tr>
                </thead>
                <tbody>
                <% @merchant_logs.each do |c| %>
                    <tr>
                      <td><%= c.id %></td>
                      <td><%= c.total_merchants %></td>
                      <td><%= c.from %></td>
                      <td><%= c.to %></td>
                      <td class="timeUtc"><%=	c.created_at.strftime("%Y-%m-%d %H:%M:%S %p")%></td>
                      <td><%=link_to '<button class="btn btn-sm btn-primary  view_check_details"><i class="fa fa-eye"></i></button>'.html_safe, merchantDetails_app_configs_path(id: c.id) ,remote: true %></td>
                    </tr>
                <% end %>
                </tbody>
              </table>
            </div>

          </div>
        </div>
        <section class="example">
          <div class="">

          </div>
        </section>
      </div>
    </div>
  </div>
</section>
<section class="section" id="detailSection12"></section>
