<% if @users.present? %>
$('#merchant_list').empty();
$('#merchant_list').html('');
$('#merchant_list').append("<%= j render partial: 'admins/app_configs/merchant_list', :locals => {:users => @users } %>")
<% end %>
