$('.app-config-data-table').html('').html('<%= escape_javascript render partial: 'admins/app_configs/data_table', locals: {:achs => @locations} %>');
$('#paginator').html('').html('<%= escape_javascript(paginate(@locations, :remote => true, :theme => 'twitter-bootstrap-3', :pagination_class => "pagination-small pagination-centered pull-right padd").to_s) %>');


var table = $('#gatetable').DataTable({
    "responsive": true,
    //"sScrollX": false,
    "sSearch": false,
    "bInfo": false,
    "bPaginate": false,
    "searching": false,
    "bLengthChange": false,
    "ordering": true,
    "order": [[ 1,"desc" ]],
    "columnDefs": [
        { "targets": [0,3,4,5,6,7], "orderable": false }
    ]
});