
<div class="title-block">
  <div class="row">
    <div class="col-md-6">
      <h1 class="title text-capitalize">Configuration: <%= @payment_gateway.key %></h1>
      <br/>
<!--      <div>Total Active Locations: <%#= @active_locations %></div>-->
    </div>
    <div class="col-md-6">
      <a class="btn btn-primary pull-right" data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
        Search
      </a>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-lg-6 pull-right">
      <div class="collapse" id="collapseExample">
        <div class="card card-body collapse_card_body" >
          <div class="form-group">
            <%= search_form_for @query, url: app_config_path(id: @payment_gateway.id) do |f| %>
              <%= f.label :merchant_cont, "Merchant Name" %>
              <%= f.search_field :merchant_name_cont, class: "form-control" %>
              <%= f.label :business_name_cont, "DBA Name" %>
              <%= f.search_field :business_name_cont, class: "form-control" %>
              <%= f.label :category_cont, "Category" %>
              <%= f.search_field :category_name_cont, class: "form-control" %>
              <%= f.label :is_block_eq, "Active/Inactive" %>
              <%= f.select(:is_block_eq, [['Active', false], ["Inactive", true]], {include_blank: 'Select Status'}, {class: "form-control"}) %>
              <input type="hidden" id="filter_input" value="<%= params[:filter] %>"  />
              <input type="hidden" name="req" value="<%= params[:req].present? ? params[:req] : "all" %>"  />
              <%= f.submit class: "btn btn-primary btn-sm pull-right margin-top-12-px-app-config", id: "gateway_search"%>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container-fluid row">
  <ul class="nav nav-tabs users_tabs distinct ad-verifications-st-2">
      <li class=""><a class="<%= params[:req] == "all" || !params[:req].present? ? 'buttons_active' : 'buttons_a'%>" href="<%=  app_config_path(req: "all") %>">All</a></li>
      <li class=""><a  class="<%= params[:req] == "active"  ? 'buttons_active' : 'buttons_a'%>" href="<%= app_config_path(req: "active") %>">Active</a></li>
      <li class=""><a class="<%= params[:req] == "inactive"  ? 'buttons_active' : 'buttons_a'%>" href="<%= app_config_path(req: "inactive") %>">Inactive</a></li>
  </ul>
</div>

<div class="container-fluid row">
      <div class=" sameheight-item items" data-exclude="xs,sm,lg">
  <div class="table-responsive app-config-data-table">
    <%= render partial: 'admins/app_configs/data_table', :locals => { :locations => @locations }%>
  </div>
  <input type="hidden" id="is_all_check">
  <input type="hidden" id="un_checked_arr" >
  <input type="hidden" id="checked_arr">
  <input type="hidden" id="all_locations_map" value="<%= @all_locations_map %>">
  <div class="row bank-div-app-config" id="bank_div">
    <div class="col-md-4"></div>
    <div class="col-md-4">
      <%= form_tag update_payment_gateway_app_configs_path(gateway: @payment_gateway.key) do  %>
        <input type="hidden" name="bulk_checked" value="bulk_checked">
        <%= hidden_field_tag "locations[]" %>
        <div class="form-group"><%= label_tag :primary_gateway_id, "Bank Name", class: "no-padding" %><br />
          <%= select_tag(:primary_gateway_id, options_for_select(PaymentGateway.main_gateways.active_gateways.map{ |key| [key.name, key.id]}),include_blank: "Select Bank", class:"form-control" )%>
        </div>
        <div class="form-group"><%= label_tag :secondary_gateway_id, "Secondary Bank Name", class: "no-padding" %><br />
          <%= select_tag :secondary_gateway_id, options_for_select(PaymentGateway.main_gateways.active_gateways.map{ |key| [key.name, key.id]}),include_blank: "Select Bank", class:"form-control" %>
        </div>
        <div class="form-group"><%= label_tag :ternary_gateway_id, "Third Bank Name", class: "no-padding" %><br />
          <%= select_tag :ternary_gateway_id, options_for_select(PaymentGateway.main_gateways.active_gateways.map{ |key| [key.name, key.id]}),include_blank: "Select Bank" , class:"form-control" %>
        </div>
        <div class="form-group">
          <%= submit_tag "Update", class: "btn btn-primary btn-sm pull-right", id: "update_gateway" %>
        </div>
      <% end %>
    </div>
    <div class="col-md-4"></div>
  </div>
</div>
    </div>
<% render partial: 'show.js.erb' %>
