
  <div class="btn-group" role="group" aria-label="Basic example">
    <a id="logs" href="/merchant/settings/logs" class="setting-link btn btn-outline-secondary btn-sm"><i class="icon-lock icons"></i>
      Activity log</a>
    <a id="verification" href="/merchant/settings/verification" class="setting-link btn btn-outline-secondary btn-sm"><i class="icon-user-following icons"></i>
      Verification</a>
    <a id="security" href="/merchant/settings/security" class="setting-link btn btn-outline-secondary btn-sm"><i class="icon-shield icons"></i>
      Security</a>
  </div>


<script>
    $('.setting-link').removeClass('active');
    $('#<%= params[:kind] %>').addClass('active');
</script>