<div class="col-md-9 mt-3">
  <div class="row">
    <div class="col-md-4 mb-2">
      <h5>Account activity history</h5>
    </div>
    <%= render :partial => 'links', :locals => {:selected => 'logs'} %>
  </div>

  <div class="card">
    <div class="card-body">
      <div class="row">
        <div class="col-md-12">
          <table class="table table-hover table-responsive-lg">
            <thead>
            <tr>
              <th scope="col">Code</th>
              <th scope="col">Date</th>
              <th scope="col">Type</th>
              <th scope="col">IP address</th>
            </tr>
            </thead>
            <tbody>
            <tr>
              <td>evn_5aeb1ae323671</td>
              <td>2018-05-03 15:21:23</td>
              <td>
                Login
              </td>
              <td>223.179.204.118</td>
            </tr>

            <tr>
              <td>evn_5aeb156ce0a5d</td>
              <td>2018-05-03 14:58:04</td>
              <td>
                Close ticket
              </td>
              <td>103.26.85.238</td>
            </tr>

            <tr>
              <td>evn_5aeb15636c160</td>
              <td>2018-05-03 14:57:55</td>
              <td>
                Close ticket
              </td>
              <td>103.26.85.238</td>
            </tr>

            <tr>
              <td>evn_5aeb139f57481</td>
              <td>2018-05-03 14:50:23</td>
              <td>
                Login
              </td>
              <td>94.204.109.15</td>
            </tr>

            <tr>
              <td>evn_5aeb1321a9871</td>
              <td>2018-05-03 14:48:17</td>
              <td>
                Login
              </td>
              <td>103.106.101.25</td>
            </tr>

            <tr>
              <td>evn_5aeb0d8b00bad</td>
              <td>2018-05-03 14:24:27</td>
              <td>
                Login
              </td>
              <td>103.26.85.238</td>
            </tr>

            <tr>
              <td>evn_5aeb09060a09d</td>
              <td>2018-05-03 14:05:10</td>
              <td>
                Login
              </td>
              <td>217.99.214.98</td>
            </tr>

            <tr>
              <td>evn_5aeb005518634</td>
              <td>2018-05-03 13:28:05</td>
              <td>
                Login
              </td>
              <td>177.45.102.96</td>
            </tr>

            <tr>
              <td>evn_5aead47aec9ec</td>
              <td>2018-05-03 10:20:58</td>
              <td>
                Login
              </td>
              <td>82.81.136.242</td>
            </tr>

            <tr>
              <td>evn_5aeacd5524671</td>
              <td>2018-05-03 09:50:29</td>
              <td>
                Login
              </td>
              <td>94.155.121.231</td>
            </tr>

            </tbody>
          </table>

        </div>
      </div>
    </div>
    <div class="card-footer text-right">
      <ul class="pagination">
        <li class="active"><span>1</span></li>
        <li>
          <a href="http://wallet.justwallet.io/account/settings/logs?sort=id&dir=desc&limit=10&amp;offset=10" data-ci-pagination-page="2">2</a>
        </li>
        <li>
          <a href="http://wallet.justwallet.io/account/settings/logs?sort=id&dir=desc&limit=10&amp;offset=20" data-ci-pagination-page="3">3</a>
        </li>
        <li>
          <a href="http://wallet.justwallet.io/account/settings/logs?sort=id&dir=desc&limit=10&amp;offset=30" data-ci-pagination-page="4">4</a>
        </li>
        <li>
          <a href="http://wallet.justwallet.io/account/settings/logs?sort=id&dir=desc&limit=10&amp;offset=10" data-ci-pagination-page="2" rel="next"><i class="icon-arrow-right icons"></i></a>
        </li>
        <li>
          <a href="http://wallet.justwallet.io/account/settings/logs?sort=id&dir=desc&limit=10&amp;offset=880" data-ci-pagination-page="89"><i class="icon-arrow-right icons"></i></a>
        </li>
      </ul>
    </div>
  </div>
</div>
