<%= stylesheet_link_tag asset_path("merchant/settings.scss"), media: 'all', 'data-turbolinks-track' => 'reload' %>
<div class="modal show fade"  tabindex="-1"  role="dialog" id="new_admin_merchant">
  <div class="modal-dialog form-group">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header text-left">
        <h4 class="modal-title"><i class="fa fa-edit"></i><span class="ml-2">Edit Profile</span></h4>
        <button type="button" class="close" data-dismiss="modal" id='close_current_user'>&times;</button>
      </div>
      <%= simple_form_for user, url: update_user_merchant_settings_path(id:user.id), class: "add_form" ,autocomplete:'off' ,method: :put   do |f| %>
        <input type="hidden" id="user_id" value="<%= user.id %>">
        <div class="row">
          <div class="col-md-12">
            <div class="card-header bordered">
              <div class="card-body">
                <div class="form-group">
                  <strong id="size"><%= user.ref_no  %></strong>
                </div>
                <div class="form-group">
                  <label> Corporate Name</label>
                  <% if user.merchant_id.present? %>
                    <%  corporate_names = User.where(id: user.merchant_id).first.try(:name)%>
                    <%=  f.input :name , class: 'form-control' ,:label => false,:input_html => { :value => "#{corporate_names}"}, :disabled => true %>
                  <% else %>
                    <%= f.input :name , class: 'form-control' ,:label => false, :disabled => true ,:input_html => { :value => "#{user.company_name.present? ? user.company_name != "n/a" ? user.company_name : user.name : user.name}"}%>
                  <% end %>
                </div>
                <div class="form-group">
                  <% if user.merchant_id.present? %>
                    <% owner_names = user.try(:name) %>
                    <% owner_names1 = user.try(:last_name) %>
                    <%= f.input :owner_name , class: 'form-control', :input_html => { :value => "#{owner_names} #{owner_names1}"} , :label => "User's Name", :disabled => true %>
                  <% elsif user.owners.present?%>
                    <% owner_names = user.owners.present? ? user.owners.try(:first).try(:name) : user.try(:owner_name) %>
                    <%= f.input :owner_name , class: 'form-control', :input_html => { :value => "#{owner_names}"} , :label => "Owner's Name", :disabled => true %>
                  <% else %>
                    <%= f.input :owner_name , class: 'form-control', :input_html => { :value => "#{user.name}"} , :label => "Name", :disabled => true %>
                  <% end %>
                </div>
                <%#= f.input :merchant_id, :as => :hidden, :input_html => { :value => "#{current_user.id}" } %>

                <!--                        <div class="form-group">-->
                <%#=f.input :last_name , class: 'form-control', :label => 'Last Name' , :place_holder => 'last_name', :disabled => true %>
                <!--                        </div>-->
                <div class="form-group">
                  <!--<span id="errorTxt" ></span>-->
                  <!--                          <%#= f.label "Corporate Email", id:'email_label_field' %><br />-->
                  <label id="email_label_field">Login Email</label>
                  <%=f.input :email , :input_html=>{autocomplete:'new-password'}, class: 'form-control activ email_field',id: 'user_email',:label => false %>
                  <span id="error_email"></span>
                </div>
                <div class="form-group">
                  <% if user.merchant_id.present? %>
                    <label id="phone_number_label_field">User's Phone</label>
                  <% else %>
                    <% if user.try(:role) == "agent" || user.try(:role) == "iso" || user.try(:role) == "affiliate" %>
                      <label id="phone_number_label_field">Phone Number</label>
                    <%else %>
                      <label id="phone_number_label_field">Corporate Phone</label>
                    <% end %>
                  <% end %>
                  <%= text_field_tag "user[phone_number]", f.object.phone_number.present? ? "+#{f.object.phone_number}" : "", class: "form-control phone_number_field padding-left-21-perc digit_code", required: true ,maxlength:"13" %>
                  <input type="hidden" id="user_phone_code" name="phone_code">
                  <span class="phone-error red-color" id="phone-error"></span>
                </div>
                <div class="form-group"><span id="message"></span>
                  <%=	f.input :password, :input_html=>{autocomplete:'new-password'} , class: 'form-control', :label =>  'New Password' %>
                </div>
                <div class="strength d_none">
                  <div class="figure" id="strength_human"></div>
                </div>
                <div class="form-group">
                  <label id="confirm_password_label_field">Confirm Password </label>
                  <%= f.input :password_confirmation, class: 'form-control', :label => false %>
                </div>
                <% unless user.try(:merchant_id).present? %>
                <div class="form-group">
                  <label class="switch">
                    <%= f.check_box :two_step_verification, class: 'd_block' %>
                    <span class="slider round"></span>
                  </label>
                </div>
                <div class="form-group twosv">
                  <label><b>2-Step Verification</b></label>
                </div>
                <p id="confiurm_error"></p>
                <% end %>
                <div class="form-group">
                  <%#= f.input :retail_sales, as: :boolean, class: "form-control", label: 'Authorize to create retails only.'%>
                </div>
                <%#= render partial: 'merchant/settings/sub_merchants/new_sub_merchant', :locals => {:f => f , :current_user => current_user} %>
              </div>
              <div class="card card-footer">
                <div class="row">
                  <%= f.submit 'Submit' , class: 'btn btn-success btn-sm btn-block', id: 'update_current_user' %>
                </div>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
<%= javascript_include_tag 'merchant/business_setting/profile_merchant_modal.js' %>