<div class="col-md-9 mt-3">
  <div class="row">
    <div class="col-md-4 mb-2">
      <h5>Security</h5>
    </div>
    <%= render :partial => 'links', :locals => {:selected => 'security'} %>
  </div>

  <div class="card">
    <div class="card-body">
      <div class="tab-content" id="nav-tabContent">
        <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
          <div class="row">
            <div class="col-md-12">
              <fieldset>
                <div class="plan-card-group">
                  <div class="radio-card">
                    <input type="radio" class="planes-radio" name="method" value="1" id="none" checked/>
                    <label for="none" id="radio-label1">
                      <div class="row">
                        <div class="col-md-1 mt-3 mb-3 text-center">
                          <%= image_tag "merchant/icon/no.png", class: 'win-img' %>
                        </div>
                        <div class="col-md-8 mt-12px mb-3">
                          <h5 class="mb-0">
                            No checking </h5>
                          <small class="text-muted">You do not need to enter a token at the time of authorization in
                            your account
                          </small>
                        </div>
                      </div>
                    </label>
                  </div>
                  <div class="radio-card">
                    <input type="radio" class="planes-radio" name="method" value="2" id="google"/>
                    <label for="google" id="radio-label2">
                      <div class="row">
                        <div class="col-md-1 mt-3 mb-3 text-center">
                          <%= image_tag "merchant/icon/qr.png", class: 'win-img' %>
                        </div>
                        <div class="col-md-8 mt-12px mb-3">
                          <h5 class="mb-0">
                            Two-factor authentication </h5>
                          <small class="text-muted">You need to enter a token via mobile application</small>
                        </div>
                        <div class="col-md-3 mt-settings mb-2 text-right">
                          <a id="nav-profile-tab" data-toggle="tab" href="#nav-profile" role="tab" aria-controls="nav-profile" aria-selected="false" class="btn btn-muted"><i class="icon-settings icons text-muted h4"></i></a>
                        </div>
                      </div>
                    </label>
                  </div>
                  <div class="radio-card">
                    <input type="radio" class="planes-radio" name="method" value="3" id="sms"/>
                    <label for="sms" id="radio-label3">
                      <div class="row">
                        <div class="col-md-1 mt-3 mb-3 text-center">
                          <%= image_tag "merchant/icon/sms.png", class: 'win-img' %>
                        </div>
                        <div class="col-md-8 mt-12px mb-3">
                          <h5 class="mb-0">
                            SMS authentication </h5>
                          <small class="text-muted">You need to enter a token via sms message</small>
                        </div>
                      </div>
                    </label>
                  </div>
                  <div class="radio-card">
                    <input type="radio" class="planes-radio" name="method" value="4" id="email"/>
                    <label for="email" id="radio-label4">
                      <div class="row">
                        <div class="col-md-1 mt-3 mb-3 text-center">
                          <%= image_tag "merchant/icon/email.png", class: 'win-img' %>
                        </div>
                        <div class="col-md-8 mt-12px mb-3">
                          <h5 class="mb-0">
                            Email authentication </h5>
                          <small class="text-muted">You need to enter a token via emai message</small>
                        </div>
                      </div>
                    </label>
                  </div>
                </div>
              </fieldset>
            </div>
            <div class="col-md-12 text-right mt-2">
              <button type="submit" class="btn btn-success disabled">Save</button>
            </div>
          </div>

        </div>
        <div class="tab-pane" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">

          <div class="row">
            <div class="col-md-3">
              <img src="https://chart.googleapis.com/chart?chs=200x200&chld=M|0&cht=qr&chl=otpauth%3A%2F%2Ftotp%2FJastWallet%3Fsecret%3DOLZB4CJWTG75V7P7%26issuer%3DJDT" class="w-100">
            </div>
            <div class="col-md-8">
              <div class="form-group">
                <label>Enter OTP from your app</label>
                <input type="text" class="form-control" id="code" name="code" placeholder="123456">
              </div>
            </div>
            <input type="hidden" name="secret" value="OLZB4CJWTG75V7P7">

            <div class="col-md-12 text-right mt-2">
              <a id="nav-home-tab" data-toggle="tab" href="#nav-home" role="tab" aria-controls="nav-home" aria-selected="true" class="btn btn-light">Back</a>
              <button type="submit" class="btn btn-success disabled">Save</button>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>
