
<div class="modal show"  tabindex="-1"  role="dialog" id="new_sub_merchant">
  <div class="modal-dialog form-group">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header text-left header_color">
        <% if params[:action] == 'new' %>
          <h4 class="modal-title"><i class="fa fa-edit"></i><span class="ml-2">New User</span></h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          </div>
          <%= simple_form_for @user  , url: new_sub_merchant_merchant_settings_path , html:{ class: "add_new_employee_form", data:{toggle: "validator" }, method: :post}  do |f| %>
            <div class="row">
              <div class="col-md-12">
                <div class="card-header bordered">
                  <div class="card-body modal-body-height">
                    <div class="form-group">
                      <%=f.input :name , required: true, :input_html => { autocomplete: 'new-password'}, class: 'form-control', :label => "User's Name"  %>
                    </div>
                    <%= f.input :merchant_id, :as => :hidden, :input_html => { :value => "#{current_user.id}" } %>

                    <div class="form-group">
<!--                      <label>Phone Number </label>-->
                      <%=f.input :phone_number , required:true, class: 'form-control', :label => 'Phone Number' , maxlength:"13"%>
                      <input type="hidden" id="user_phone_code" name="phone_code">
                      <span class="phone-error red-color" id="phone-error"></span>
                      <span id="error_phone"></span>
                    </div>
                    <div class="form-group">
                      <%= f.label :email, id:'email_label_field' %><br />
                      <%=f.input :email, :input_html => { autocomplete: 'new-password'},required: true,  class: 'form-control activ', :label =>  false, readonly:true %>
                      <span id="error_email" class="red-color"></span>
                    </div>
                    <div class="form-group">
                      <%=	f.input :password,:input_html => { autocomplete: 'new-password'},required: true, class: 'form-control', :label =>  'Password',readonly:true %>
                    </div>
                    <div class="strength d_none">
                      <div class="figure" id="strength_human"></div>
                    </div>
                    <div class="form-group">
                      <%= f.input :password_confirmation, :input_html => { autocomplete: 'new-password'}, required: true, class: 'form-control', :label => 'Confirm Password' %>
                    </div>
                    <p id="confiurm_error"></p>
                    <div class="form-group">
                      <div class="row">
                        <div class="col-md-6"><strong>User Types</strong></div>
                        <div class="col-md-6"><strong>Location Access</strong></div>
                      </div>
                    </div>
                    <div class="form-group">
                      <div class="row">
                        <%= render partial: 'select_modal',locals: { f: f, wallets: @wallets, user: user, permission: @permission } %>
                      </div>
                    </div>
                  </div>
                  <div class="card card-footer">
                    <div class="row">
                      <%= f.submit 'Submit' , class: 'btn btn-success btn-sm btn-block', id: 'add_user' %>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          <% end %>
        <% else %>
          <h4 class="modal-title"><i class="fa fa-edit"></i><span class="ml-2">Edit User</span></h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          </div>
          <%= simple_form_for user  , url: merchant_setting_path, html:{ class: "add_new_employee_form", data:{toggle: "validator" }} ,method: :put   do |f| %>
            <div class="row">
              <div class="col-md-12">
                <div class="card-header bordered">
                  <div class="card-body modal-body-height">
                    <input type="hidden" id="user_id" value="<%= user.id %>">
                    <div class="form-group">
                      <%=f.input :name, class: 'form-control', :label => "User's Name",  :input_html => { autocomplete: 'new-password'}  %>
                    </div>
                    <%= f.input :merchant_id, :as => :hidden, :input_html => { :value => "#{current_user.id}" } %>
                    <div class="form-group">
                      <label>Phone Number </label>
                      <%#=f.input :phone_number , class: 'form-control', :label => 'Phone Number'  %>
                      <%= text_field_tag "user[phone_number]", f.object.phone_number.present? ? "+#{f.object.phone_number}" : "", class: "form-control", required: true, maxlength:"13" %>
                      <input type="hidden" id="user_phone_code" name="phone_code">
                      <span class="phone-error red-color" id="phone-error"></span>
                      <span id="error_phone"></span>
                    </div>
                    <div class="form-group">
                      <%= f.label :email, id:'email_label_field' %><br />
                      <%=f.input :email , class: 'form-control', :label => false ,readonly:true %>
                      <span id="error_email" class="red-color"></span>
                    </div>
                    <div class="form-group">
                      <%=	f.input :password, class: 'form-control', :label =>  'Password',readonly:true %>
                    </div>
                    <div class="strength d_none">
                      <div class="figure" id="strength_human"></div>
                    </div>
                    <div class="form-group">
                      <%= f.input :password_confirmation, class: 'form-control', :label => 'Confirm Password' %>
                    </div>
                    <p id="confiurm_error"></p>
                    <div class="form-group">
                      <div class="row">
                        <div class="col-md-6"><strong>User Types</strong></div>
                        <div class="col-md-6"><strong>Location Access</strong></div>
                      </div>
                    </div>
                    <div class="form-group">
                      <div class="row">
                        <%= render partial: 'select_modal', locals: { f: f, wallets: @wallets, user: user, permission: @permission } %>
                      </div>
                    </div>
                  </div>
                  <div class="card card-footer">
                    <div class="row">
                      <%= f.submit 'Submit' , class: 'btn btn-success btn-sm btn-block', id: 'add_user' %>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          <% end %>
        <% end %>
        </div>
      </div>
  </div>
</div>
<section id="permissionSection"></section>
<%= javascript_include_tag 'merchant/business_setting/new_employee.js' %>