<div class="col-md-9 mt-3">
  <div class="row">
    <div class="col-md-4 mb-2">
      <h5>Verification</h5>
    </div>
    <%= render :partial => 'links', :locals => {:selected => 'verification'} %>
  </div>

  <div class="card">
    <div class="card-body">
      <div class="row">
        <div class="col-md-10">
          <h6 class="text-muted">Standard verification</h6>

          <p class="text-muted">Verification status is confirmed</p>
        </div>
        <div class="col-md-2">
          <h1 class="text-success mt-3 text-center"><i class="icon-check icons"></i></h1>
        </div>
      </div>
    </div>
  </div>

  <div class="card mt-3">
    <div class="card-body">
      <div class="row">
        <div class="col-md-10">
          <h6 class="text-muted">Extended verification</h6>
          <p class="text-muted">Verification status is confirmed</p>
        </div>
        <div class="col-md-2">
          <h1 class="text-success mt-3 text-center"><i class="icon-check icons"></i></h1>
        </div>
      </div>
    </div>
  </div>
</div>
