$('.spnr').fadeOut("slow");
$('#_current_edit_modal').html("");
$('#_current_edit_modal').html('<%= j render partial: 'merchant/settings/sub_merchant_modal' , locals: {user: @sub_merchant, wallets: @wallets}%>');
$('#new_sub_merchant').modal();