<!--$('.spnr').fadeOut("slow");-->
<!--$('#_current_edit_modal').html("");-->
<!--$('#_current_edit_modal').html('<%#= j render partial: 'merchant/settings/merchant_modal' , locals: {user: @merchant}%>');-->
<!--$('#new_admin_merchant').modal();-->