
      <div class="box">
        <div class="box-header with-border">
          <div class="col-md-12">
            <div class="row">
              <div class="col-md-6"><h3 class="box-title"><%= @heading %></h3></div>
              <div class="col-md-6 text-right">
                <% if @user_permission.admin? || @user_permission.try(:user_add) %>
                  <%= link_to '<button class="btn btn-success btn-sm pull-right add_new_employee"><i class="fa fa-plus"></i> Add new employee</button>'.html_safe, new_merchant_setting_path, data: {disable_with: "<i class='fa fa-spinner fa-spin'></i>"}, remote: true %>
                <% end %>
              </div>
            </div>
          </div>
        </div>
        <div class="row" id="margin_bot">
          <div class="col-sm-6 col-md-6">
            <div class="dataTables_length">
              <div class="col-md-6 top_30_form">
                <span id="show_text_css">Show</span>
                <span id="span_text_css">
                      <%= form_tag merchant_settings_path, method: :get , id: 'setting_filter'  do  %>
                         <%= select_tag "tx_filter", options_for_select(@filters.map{|v|[v]}, selected: params[:tx_filter].present? ? params[:tx_filter] : "10"),
                                        :prompt => false,
                                        :required => true,
                                        class: "form-control form-control-sm",
                                        data: {confirm: "Are you sure ?"}
                         %>
                      <% end %>
                    </span>
                <span id="entries_text">Entries</span>
              </div>
            </div>
          </div>
        </div>
        <div class="box-body">
        <div class="">
      <section id="message"></section>
      <div class="text-right"><%#= render :partial => "merchant/settings/links" %></div>

      <div class="table-responsive">
      <table id="sub_merchants" class="table table-stripped">
        <thead class="blue-grey lighten-4">
            <tr>
              <th>ID</th>
              <th>First Name</th>
              <th>Last Name</th>
              <th>User Type</th>
              <th>Email</th>
              <th>Contact</th>
              <% if @user_permission.try(:user_edit) %>
                <th>Actions</th>
              <% end %>
            </tr>
        </thead>
      <tbody>
      <% if @sub_merchants.count > 0 %>
      <% k =1 %>
          <% @sub_merchants.each do |s| %>
              <%=  render partial: 'merchant/settings/sub_merchants/sub_merchants', locals:{user: s} %>
              <% k =k+1 %>
              <% end %>
          <% else %>
          <tr><td colspan="12"><h3 id="no-entries-text">No Entries Yet!</h3></td>
          <% end %>
      </tbody>
    </table>
    </div>
      <div class="col-md-12">
        <div class="row">
          <div class="col-md-4">
            <span class="showing_left_span">Showing <%=@sub_merchants.try(:count)%> of <%=@sub_merchants.total_count %> records</span>
          </div>
          <div class="col-md-8">
            <div class="paginate_right">
              <%= paginate @sub_merchants, :theme => 'twitter-bootstrap-3', :pagination_class => "pagination-small pagination-centered pull-right padd"%>
            </div>
          </div>
        </div>
      </div>
      </div>
      </div>
      </div>
  <section id="_merchant"></section>
