$('#_current_edit_modal').html("");
$('#_merchant').html('<%= j render partial: 'merchant/settings/sub_merchant_modal' , locals: {user: nil , wallets: @wallets}%>')
$('#new_sub_merchant').modal();
$('.spnr').fadeOut("slow");
