
<% if @sub_merchant.errors.blank? %>
    $("#sub_merchants").append("<%= j render partial: 'merchant/settings/sub_merchants/sub_merchants', locals: {user: @sub_merchant} %>");
    $('#message').empty().append('<div class="alert alert-info"> <a href="#" data-dismiss="alert" class="close">×</a><strong>Successfully added new employee</strong></div>')
<% else %>
    $('#message').empty().append('<div class="alert alert-danger"> <a href="#" data-dismiss="alert" class="close">×</a><strong> <%=@sub_merchant.errors.full_messages.first %></strong></div>')
<% end %>

