<div class="col-md-12 theme-showcase" role="main">
  <div class="row">
    <div class="col-md-6 mt-4">
      <h3>Account settings</h3>
    </div>
    <div class="col-md-12">
      <hr>
    </div>
    <%= render :partial => 'shared/merchant_menu', :locals => {:selected => 'settings'} %>
    <%= render :partial => "#{params[:kind]}" %>
  </div>
</div>