
<%= stylesheet_link_tag asset_path("admins/disputes_details/disputes_details_styles"), media: 'all', 'data-turbolinks-track' => 'reload' %>
<div id="disputeCaseModal" class="modal fade right" role="dialog">
  <div class="modal-dialog display" id="dispute-dialog" >
    <!-- Modal content-->
    <div class="modal-content modal-con1">
      <div class="modal-header" id="dispute-header">
        <button type="button" class="close" data-dismiss="modal" id="close-btn2">&times;</button>
        <h4 class="modal-title capitalize text-center">Dispute Case</h4>
      </div>
      <div class="modal-body">
        <div class="">
          <%= nested_form_for @dispute_case,url:submit_dispute_case_admins_disputes_path, method: :post,multipart: true, html: {class: "form-inline",autocomplete:"off",id:"dispute_case_form"} do |form| %>
            <div class="row" id="form-row">

              <%= hidden_field_tag :requested_path, params[:requested_path], :value => "location_cbks"%>
              <%= form.hidden_field :transaction_id, :value => @transaction.id %>
              <%= form.hidden_field :user_id, :value => current_user.id %>
              <% merchant_wallet_id = @transaction.receiver_wallet_id || @transaction.try(:to).try(:to_i) %>
              <% user_wallet_id = @transaction.sender_wallet_id || @transaction.try(:from).try(:to_i) %>
              <%= form.hidden_field :merchant_wallet_id, :value => merchant_wallet_id %>
              <%= form.hidden_field :user_wallet_id, :value => user_wallet_id %>
              <%= form.hidden_field :gateway, value: @transaction.try(:payment_gateway_id) %>
              <%= form.hidden_field :card_number, :value => @transaction.last4 %>
              <%= form.hidden_field :usage_id, :value => @transaction.id %>

              <%= form.hidden_field :id %>
              <div class="">
              </div>
              <div class="row"  id="form-row1">
                <div class="col-md-12">
                  <div class="col-md-6" id="form-div">
                    <p class="table_header">Customer Information</p>
                    <div class="form-group col-md-12 padd_left">
                      <span class="font_weight">Name: </span><%= @transaction.try(:sender).present? ? @transaction.sender.name : @transaction.try(:receiver).try(:name)%>
                    </div>
                    <div class="form-group col-md-12 padd_left" >
                      <span class="font_weight">Phone Number: </span><%= @transaction.sender.present? ? number_to_phone(@transaction.sender.phone_number, area_code: true) : number_to_phone(@transaction.try(:receiver).try(:phone_number), area_code: true) %>
                    </div>
                    <div class="form-group col-md-12 padd_left" >
                      <span class="font_weight">Email: </span>
                      <a class="color-class" href="mailto:<%= @transaction.sender.present? ? @transaction.sender.email : @transaction.try(:receiver).email%>" target="_top"><%= @transaction.sender.present? ? @transaction.sender.email : @transaction.try(:receiver).email%></a>
                    </div>
                    <div class="form-group col-md-12 padd_left" >
                      <span class="font_weight">Wallet ID: </span>
                      <% from = @transaction.sender_wallet_id.present? ? @transaction.sender_wallet_id : @transaction.from.present? ? @transaction.from : "" %>
                      <% to = @transaction.receiver_wallet_id.present? ? @transaction.receiver_wallet_id : @transaction.to.present? ? @transaction.to : "" %>

                      <% if from.present? %>
                        <%= link_to from ,user_transactions_path(user_id: from.try(:to_i)),class: 'color-class'%>
                      <% elsif to.present? %>
                        <%= link_to to ,user_transactions_path(user_id: to.try(:to_i)),class: 'color-class'%>
                    <% end %>
                    </div>
                  </div>
                  <!--Merchant Details-->
                  <div class="col-md-6" id="dispute-div">
                    <p class="table_header padd_left">Merchant Information</p>
                    <div class="form-group col-md-12 padd_left">
                      <span class="font_weight">Name: </span><%= @merchant.present? ? @merchant.name : @transaction.try(:tags).try(:[],"merchant").try(:[],"name") %>
                    </div>
                    <div class="form-group col-md-12 padd_left">
                      <span class="font_weight" >Phone Number: </span>
                      <% merchant_email='' %>
                      <% merchant_owner= '' %>
                      <%= @merchant.present? ? number_to_phone(@merchant.phone_number, area_code: true) : number_to_phone(@transaction.try(:tags).try(:[],"merchant").try(:[],"phone_number"), area_code: true) %>
                      <%# if @merchant.present? %>
                        <%#= number_to_phone(@merchant.phone_number, area_code: true) if @merchant.phone_number.present? %>
                      <%# end %>
                    </div>
                    <div class="form-group col-md-12 padd_left">
                      <span class="font_weight">Email: </span><%= @merchant.present? ? @merchant.email : @transaction.try(:tags).try(:[],"merchant").try(:[],"email") %>
                    </div>
                    <div class="form-group col-md-12 padd_left">
                      <span class="font_weight">Owner's Name: </span><%= @merchant.present? ? @merchant.owner_name : @transaction.try(:tags).try(:[],"merchant").try(:[],"owner_name") %>
                    </div>
                    <div class="form-group col-md-12 padd_left">
                      <span class="font_weight">Wallet ID: </span>
                      <% to_mer = @transaction.receiver_wallet_id.present? ? @transaction.receiver_wallet_id : @transaction.to.present? ? @transaction.to : "" %>

                      <% if to_mer.present? %>
                        <%= link_to to_mer,user_transactions_path(user_id: to_mer.try(:to_i)),class: 'color-class'%>
                      <% end %>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="row" id="div_001">
              <div class="row margin_right" >
                <div class="col-md-12">
                  <!--  Transaction Details -->
                  <div class="col-md-6 pad_case_card" >
                    <p class="table_header">Transaction Detail</p>

                    <div class="form-group col-md-12 padd_left1" >
                      <span class="font_weight1">Total Amount: </span><%= number_to_currency(@transaction.total_amount) %>
                    </div>
                    <div class="form-group col-md-12 padd_left1" >
                      <span class="font_weight1">Tx Amount: </span><%= number_to_currency(number_with_precision(@transaction.amount, precision: 2)) %>
                    </div>
                    <div class="form-group col-md-12 padd_left1" >
                      <span class="font_weight1">Privacy Fee: </span>
                      <%= @transaction.privacy_fee.present? ?  number_to_currency(number_with_precision(@transaction.privacy_fee, precision: 2)) : "$0.00" %>
                    </div>
                    <div class="form-group col-md-12 padd_left1" >
                      <span class="font_weight1">Tip: </span><%= number_to_currency(number_with_precision(@transaction.tip, precision: 2)) %>
                    </div>
                    <div class="form-group col-md-12 padd_left1" >
                      <span class="font_weight1">Fee: </span>
                      <%= @transaction.try(:fee).present? ?  number_to_currency(number_with_precision(show_view_fee(@transaction.tags.try(:[],"fee_perc"),@transaction.try(:fee)), precision: 2)) : "$0.00" %>
                    </div>
                    <div class="form-group col-md-12 padd_left1" >
                      <span class="font_weight1">Net Fee: </span>
                      <%= @transaction[:fee].present? ? number_to_currency(number_with_precision(show_view_net_fee(@transaction.tags.try(:[],"fee_perc"), @transaction.try(:privacy_fee), @transaction.try(:fee)), precision: 2)) : "$0.00" %>
                      <%#= @transaction[:net_privacy_fee].present? ?  number_to_currency(number_with_precision(@transaction[:net_privacy_fee], precision: 2)) : "$0.00" %>
                      <%#= number_to_currency(number_with_precision(@transaction.net_fee.to_f, precision: 2)) %>
                    </div>
                    <div class="form-group col-md-12 padd_left1" >
                      <span class="font_weight1">Total Net: </span>
                      <%= @transaction[:total_amount].present? ?  number_to_currency(number_with_precision(show_view_total_net(@transaction.tags.try(:[],"fee_perc"), @transaction.try(:total_amount), @transaction.try(:tip), @transaction.try(:reserve_money), @transaction.try(:fee)), precision: 2)) : "$0.00" %>
                      <%#= @transaction[:net].present? ?  number_to_currency(number_with_precision(@transaction[:net], precision: 2)) : "$0.00" %>
                      <%#= @transaction.net_amount.present? ?  number_to_currency(number_with_precision(@transaction.net_amount, precision: 2)) : "$0.00" %>
                    </div>
                    <div class="form-group col-md-12 padd_left1" >
                      <span class="font_weight1">Reserve Money: </span>
                      <%#= @transaction[:fee_perc].present? ? @transaction[:fee_perc]["hold_money"].nil? && @transaction[:fee_perc]["reserve"].nil? ? "$0.00" : number_to_currency(@transaction[:fee_perc]["hold_money"] || @transaction[:fee_perc]["reserve"]["amount"]) : "$0.00" %>
                      <%= number_to_currency(number_with_precision(@transaction.reserve_money.to_f, precision: 2)) %>
                    </div>
                    <div class="form-group col-md-12 padd_left1" >
                      <span class="font_weight1">Discount: </span>
                      <%= number_with_precision(number_to_currency(@transaction.try(:discount).to_f), precision: 2) %>
                    </div>
                    <div class="form-group col-md-12 padd_left1" >
                      <span class="font_weight1">Transaction Date: </span><span class="timeUtcmodel"><%= @transaction.timestamp %></span>
                    </div>
                    <div class="form-group col-md-12 padd_left1" >
                      <span class="font_weight1">Location Name: </span>
                      <%# if Wallet.find(@transaction.try(:to).try(:to_i)).location.present? %>
                        <%#  transactionLocation = Wallet.find(@transaction.try(:to).try(:to_i)).location %>
                        <%#= transactionLocation.business_name %>
                      <%# end %>
                      <% if @transaction.receiver_wallet_id.present? %>
                              <%= @transaction.receiver_wallet.try(:location).try(:business_name) %>
                      <% elsif @transaction.to.present? %>
                          <%  transactionLocation = Wallet.find(@transaction.to.to_i).location %>
                          <%= transactionLocation.business_name %>
                      <% end %>
                    </div>
                    <div class="form-group col-md-12 padd_left1" >
                      <span class="font_weight1">Transaction Fees: </span>
                      <% if @transaction.tags.try(:[],"fee").present? %>
                        <% if @transaction.tags.try(:[],"fee_perc").present? %>
                          <%= @transaction.tags.try(:[],"fee_perc").try(:[],"hold_money").present? || @transaction.tags.try(:[],"fee_perc").try(:[],"reserve").present? ? number_to_currency(@transaction.tags.try(:[],"fee").to_f - @transaction.tags.try(:[],"fee_perc").try(:[],"hold_money").to_f || @transaction.tags.try(:[],"fee").to_f - @transaction.tags.try(:[],"fee_perc").try(:[],"reserve").try(:[],"amount").try(:to_f)) : '' %>
                        <% else %>
                          <%= @transaction.tags.try(:[],"fee").present? ? number_to_currency(@transaction.tags.try(:[],"fee").try(:to_f)) : '' %>
                        <% end %>
                      <% end %>
                      <%#= number_to_currency(@transaction.fee.to_f) %>
                    </div>
                    <div class="form-group col-md-12 padd_left1" >
                      <span class="font_weight">QC Risk Evaluation: </span><span id="qc_div"><strong>NORMAL</strong></span>
                    </div>
                  </div>
                  <!--Card Details-->
                  <div class="col-md-6 pad_case_card">
                    <p class="table_header">Credit Card Detail</p>
                    <div class="form-group col-md-12 padd_left1" >
                      <span class="font_weight">Gateway:</span><span class="dispute-style"><%= @transaction.tags.try(:[],"source").present? ? @transaction.tags.try(:[],"source") : '' %></span>
                    </div>
                    <div class="form-group col-md-12 padd_left1" >
                      <span class="font_weight">Card Number:</span><span class="dispute-style">*******<%= @transaction.last4 %></span>
                    </div>
                    <div class="form-group col-md-12 padd_left1" >
                      <span class="font_weight">Expiration Date:</span>
                      <% if @transaction.card.present? %>
                        <%= @transaction.card.exp_date %>
                      <% end %>
                    </div>
                    <div class="form-group col-md-12 padd_left1" >
                      <span class="font_weight">CVC Check:</span><span id="passed_span"><strong>Passed</strong></span>
                    </div>
                    <div class="form-group col-md-12 padd_left1" >
                      <span class="font_weight">Token:</span>
                      <% if @transaction.tags.try(:[],"previous_issue").present? %>
                          <span class="dispute-style"><%= @transaction.charge_id.present? ? @transaction.charge_id : @transaction.tags.try(:[],"previous_issue").try(:[],"transaction_id").present? ? @transaction.tags.try(:[],"previous_issue").try(:[],"transaction_id") : '' %></span>
                          <%#= @transaction.tags.try(:[],"previous_issue").try(:[],"transaction_id").present? ? @transaction.tags.try(:[],"previous_issue").try(:[],"transaction_id") : '' %>
                      <% end %>
                    </div>
                    <div class="form-group col-md-12 padd_left1" >
                      <span class="font_weight">Type: </span>
                      <% if @transaction.card.present? %>
                          <%= @transaction.card.brand %>
                      <% end %>
                    </div>
                  </div>
                    <!-- </div>
                  </div> -->
                </div>
              </div>
            </div>

            <div class="row" id="major_div" >
              <div class="col-md-12 margin_right">
                <div class="table_header_notification">
                  <h5 class="font_under_line">Dispute Notification</h5>
                </div>
                <div class="col-md-12">
                  <div class="col-md-6 disp_none">
                    <b>Merchant:</b>&nbsp&nbsp
                    <input value="<%= @merchant.present? ? @merchant.name : @transaction.tags.try(:[],"merchant").try(:[],"name") %>" class="form-control disabled_style" disabled>
                  </div>
                  <div class="col-md-6 disp_none">
                    <b>Gateway:</b>&nbsp&nbsp
                    <input value="<%= @transaction.tags.try(:[],"source") %>" class="form-control disabled_style" disabled>
                  </div>
                </div>
              </div>
              <div class="col-md-12" id="div_002" >
                <div class="form-group col-md-8" id="div_003">
                  <div class="col-md-12" id="div_004">
                    <div class="col-md-4 padd_left"><label id="label_001"><b>Dispute Case</b></label>
                    </div>
                    <div class="col-md-8">
                      <% if @dispute_case.id.nil? %>
                        <%= form.text_field :case_number,class: "form-control",id:"dispute_case_case_number" %>
                      <% else %>
                        <%= form.text_field :case_number,class: "form-control",id:"dispute_case_case_number",disabled: true %>
                      <% end %>
                    </div>
                  </div>
                  <p id="case_number_error">Dispute Case Number Has Already Been Taken</p>
                  <div class="col-md-12 div_005">
                    <div class="col-md-4 padd_left" >
                      <%= form.label :dispute_type, "Dispute Type",id: "dispute_type_label"%>
                    </div>
                    <div class="col-md-8">
                      <% if @dispute_case.id.nil? %>
                        <%= form.select :dispute_type,[["ChargeBack","charge_back"],["Retrievel","retrievel"]],{ :include_blank => "Select Dispute Type"},{ class: "form-control",id:"dispute_case_dispute_type_selection"}%>
                      <% else %>
                        <%= form.select :dispute_type,[["ChargeBack","charge_back"],["Retrievel","retrievel"]],{ :include_blank => "Select Dispute Type"},{ class: "form-control",id:"dispute_case_dispute_type_selection",:disabled => true}%>
                      <% end %>
                    </div>
                  </div>
                  <!--                       start of other data-->
                  <div class="col-md-12 div_005">
                    <div class="col-md-4 padd_left" >
                      <%= form.label :recieved_date, "Received Date",id: "recieve_label" %>
                    </div>
                    <div class="col-md-8" id="date_parent12">
                      <%= form.text_field :recieved_date,placeholder:"Received Date", :value => (form.object.recieved_date.strftime('%m/%d/%Y') if form.object.recieved_date), class: "form-control datepicker_disp recieved_date", id:"dispute_case_recieved_date_id", readonly: true%>
                    </div>
                  </div>

                  <div class="col-md-12 div_005">
                    <div class="col-md-4 padd_left" >
                      <%= form.label :due_date, "Due Date",id: "due_date_label"%>
                    </div>
                    <div class="col-md-8" id="date_parent12">
                      <%= form.text_field :due_date,placeholder:"Due Date",data:{days: (Time.now.to_date - form.object.created_at.to_date if form.object.present? && form.object.created_at.present? ).to_i},:value => (form.object.due_date.strftime('%m/%d/%Y') if form.object.due_date), class: "form-control datepicker_disp", id:"dispute_case_due_date_id", readonly: true%>
                    </div>
                  </div>
                  <div class="col-md-12 div_005">
                    <div class="col-md-4 padd_left" >
                      <%= form.label :reason_id, "Reason",id: "reason_label"%>
                    </div>
                    <div class="col-md-7" id="div_005">
                      <%= form.select :reason_id,options_from_collection_for_select(Reason.where(reason_type:"dispute"),:id,:title,@dispute_case.reason_id),{:include_blank => "Select Reason"},{class: "form-control",id:"table_text_field_transaction_dispute"}%>
                    </div>
                    <div class="col-md-1">
                      <%= link_to '<i class="fa fa-plus show-cover-spin" id="link_tag" ></i>'.html_safe,dispute_notification_reasons_admins_disputes_path,remote: true%>
                    </div>
                  </div>
                  <div class="col-md-12 div_005">
                    <div class="col-md-4 padd_left" >
                      <%= form.label :amount, "Amount",id: "amount_label" %>
                    </div>
                    <div class="col-md-8">

                      <% if @dispute_case.id.nil? %>
                        <%= form.text_field :amount, placeholder:"0.00", class: "form-control amount_field", id: "dispute_detail_amount", min: 0%>
                      <% else %>
                        <%= form.number_field :amount,placeholder:"0.00", class: "form-control amount_field", id: "dispute_detail_amount", :readonly => true,min: 0%>
                      <% end %>
                    </div>
                  </div>
                  <div class="col-md-12" id="div_007" >
                    <div class="col-md-4 padd_left" >
                      <%= form.label :card_type, "Card Type",id: 'card_type_label'%>
                    </div>
                    <div class="col-md-8">
                      <%= form.select :card_type,[["mastercard","mastercard"],["visa","visa"],["amex","amex"],["discover","discover"]],{:include_blank => "Select Card Type"},{class: "form-control amount_field"}%>
                    </div>
                  </div>
                  <div class="col-md-12 div_005">
                    <div class="col-md-4 padd_left" >
                      <%= form.label :Status, "Status",id: "style_label"%>
                    </div>
                    <div class="col-md-8">
                      <% if form.object.status == "won_reversed" or form.object.status == "lost" or form.object.status == "dispute_accepted" %>
                        <%= form.select :status,[["Won/Reversed","won_reversed"],["Lost","lost"],["Dispute Accepted","dispute_accepted"]],{:include_blank => "Select Status"},{class: "form-control amount_field",disabled:true,id:"status_selected_dispute_case"} %>
                      <% elsif form.object.status == "under_review"%>
                        <%= form.select :status,[["Won/Reversed","won_reversed"],["Lost","lost"],["Dispute Accepted","dispute_accepted"],["Under Review","under_review"]],{:include_blank => "Select Status"},{class: "form-control amount_field",id:"status_selected_dispute_case"}%>
                      <% else %>
                        <%= form.select :status,[["Sent/Pending","sent_pending"],["Won/Reversed","won_reversed"],["Lost","lost"],["Dispute Accepted","dispute_accepted"]],{:include_blank => "Select Status"},{class: "form-control amount_field",id:"status_selected_dispute_case"}%>
                      <% end %>
                    </div>
                  </div>
                  <%# end %>
                  <br><br>
                  <div class="col-md-12">
                    <div class="col-md-4 padd_left" ><label id="label_002">Notes: </label>
                    </div>
                    <div class="col-md-8">
                      <%= link_to "New note",dispute_notification_notes_admins_disputes_path(transaction_id:@transaction.id,note_count:Transaction.find(@transaction.id).notes.count),remote: true,class: "btn btn-default btn-sm show-cover-spin",id: "new_note"%>
                    </div>
                  </div>
                  <div class="col-md-12">
                    <div class="col-md-4"></div>
                    <div class="col-md-8">
                      <div class="note_notification_add" id="notifications_section">
                        <% @transaction.notes.each_with_index do |note,index| %>
                          <div class="row" id="transaction_note<%=note.id%>">
                            <div class="col-md-12" id="div_006">
                              <p id="p_001"><span class="timeUtcmodel1 float-left" ><%= note.created_at %></span>&nbsp&nbsp&nbsp&nbsp<%= link_to "#{note.title}",dispute_notification_notes_admins_disputes_path(note_id:note.id,index_id:index),remote: true, class:"show-cover-spin"%>
                              </p>
                              <!--                                    <input type="hidden" class="note_id" value="<%#=index%>">-->
                              <input type="hidden" class="index_value" value="<%=note.id%>">
                              <% if note.id.present? %>
                                <button type="button" id="store_btn" class="btn btn-sm delete_notification " ><i class="fa fa-trash"></i></button>
                                <!--                                    onclick="delete_notification_note(<%#=index%>,<%#=note.id%>)"-->
                              <% end %>
                            </div>
                          </div>
                        <% end %>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-md-4" >
                  <div class="row" id="div-margin">
                    <label class="switch float-left" >
                      <% if @dispute_case.id.nil?  %>
                        <%= form.check_box :charge_fee %>
                      <% else %>
                        <%= form.check_box :charge_fee, disabled: true %>
                      <% end %>

                      <span class="slider round">
                        <div class="pull-left" id="on_div">
                          ON
                        </div>
                        <div class="pull-right" id="off_div">
                          OFF
                        </div>
                      </span>
                      <!-- </span> -->
                    </label>
                    <!--                          </div>-->
                    <%= form.label :charge_fee, "Chargeback Fee",id: "charge_fee"%>
                  </div>
                  <div class="row" >
                    <div class="col-md-12" id="div_attach">
                      <label id="attach_label">Attachment:
                      </label>
                      <span id="span_1" >
                        <%= form.link_to_add '<i class="fa fa-plus"></i>'.html_safe, :attachments, :data => {:target => "#dispute_attachments"} %>
                      </span>
                      <div id="dispute_attachments">
                        <%= form.fields_for :attachments, :wrapper => false do |img| %>
                          <div class="fields">
                            <div class="row">
                              <div class="col-md-12">
                                <%= img.hidden_field :usage_id, :value => @transaction.id %>
                                <%= img.file_field :add_image, class: 'dispute_case_file_field_jq cutome_file_field attachment_display', id: 'browse_field' %>
                                <span class="remove">
                                  <%= img.link_to_remove '<i class="fa fa-minus"></i>'.html_safe %>
                                </span>
                              </div>
                            </div>

                          </div>
                        <% end %>
                      </div>
                    </div>
                    <div class="row" id="files_section"></div>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <div class="col-md-3">
                  <% unless current_user.support_mtrac? %>
                  <%= form.submit "Save",type:"button",class: "btn btn-success",id:"dispute_case_submit_button"%>
                  <% end %>
                </div>
              </div>
            </div>
          <% end %>

        </div>
          <!--            </div>-->
          <!--          </div>-->
        <!--          row ending-->
        <div class="row" id="save-div">
          <% unless current_user.support_mtrac? %>
          <div id="dispute_save_duplicate_btn"> <button id="duplicate-btn" class="btn btn-primary ">Save</button></div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
<section>
  <%=  render partial: 'admins/disputes/edit_without_save' %>
</section>
<section id="notification_note_modal"></section>
<section id="notification_reason_modal"></section>
<%= javascript_include_tag "admins/dispute_case_detail.js" %>
<% if @transaction.try(:attachments).present? %>
  <script nonce="<%= request.content_security_policy_nonce %>">
      // $('#dispute_case_file_field_jq').text(<%#=raw @dispute_case.attachments.to_json%>)
      $.each(<%=raw @transaction.attachments.map{|m| {image_url:m.add_image.url,image_name:m.add_image_file_name,id:m.id}}.to_json %>, function( key, value ) {
          $('#files_section').append('<div class="col-md-10" id=upload_file_list_'+key+'>'+value.image_name+'<div class="file-btns"><a class="download-btn" href="'+value.image_url+'" download="'+value.image_name+'" target="_blank" >Download</a><a class="file-del-btn" data-value='+ value.id +' data-key='+ key +'>Delete</a></div></div>');
      });
  </script>
<% end %>