<%= stylesheet_link_tag asset_path("admins/disputes_details/disputes_details_styles"), media: 'all', 'data-turbolinks-track' => 'reload' %>
<div id="EditWithoutSaveModal" class="modal notification_modal fade right" role="dialog">
  <div class="modal-dialog modal_dialog7">
    <div class="modal-content modal_content7">
      <div class="modal-header modal_header7">
        <button type="button" class="close" data-dismiss="modal" id="close_modal_button">&times;</button>
        <h4 class="modal-title capitalize table_data">Notes</h4>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-md-12">
            <div class="col-md-12">
              <div class="form-group">
                <label>Title</label>
                <input type="text" class="form-control" id="edit_dispute_note_form_title_field">
              </div>
              <div class="form-group">
                <label>Text</label>
                <input type="text" class="form-control" id="edit_dispute_note_form_text_field">
                <input type="hidden" id="index">
              </div>
              <div class="form-group">
                <button class="btn btn-success" id="edit_dispute_note_form_submit">Save</button>
              </div>
              <span id="edit_warning_showing_span"></span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
