<div id="notificationNoteModal" class="modal notification_modal fade right" role="dialog">
	<div class="modal-dialog modal_dialog7">
		<div class="modal-content modal_content7">
			<div class="modal-header modal_header7" >
				<button type="button" class="close" data-dismiss="modal" id="close_modal_button">&times;</button>
				<h4 class="modal-title capitalize table_data">Notes</h4>
			</div>
			<div class="modal-body">
				<div class="row">
					<%= form_for @note,url:dispute_notification_note_admins_disputes_path,method: :post,remote: true,html:{class: "form custom_form",id:"dispute_notification_form"} do |form|%>
						<div class="form-group">
							<%= form.label :title, "Title"%>
							<%= form.text_field :title,class: "form-control",id:"dispute_note_form_title_field" %>
						</div>
						<div class="form-group">
							<%= form.label :name, "Text"%>
							<%= form.text_area :name,class: "form-control",id:"dispute_note_form_text_field" %>
						</div>
            <div class="form-group">
						<%= form.submit "Add Note",type: "button",class: "btn btn-success",id:"dispute_note_form_submit"   %>
            </div>
						<span id="warning_showing_span"></span>
					<% end %>
				</div>
			</div>
		</div>
	</div>
</div>