<%= stylesheet_link_tag asset_path("admins/disputes_details/disputes_details_styles"), media: 'all', 'data-turbolinks-track' => 'reload' %>
<div id="notificationReasonModal" class="modal notification_modal fade" role="dialog">
	<div class="modal-dialog" id="dialog1">

		<div class="modal-content">
			<div class="modal-header modal_header7">
				<button type="button" class="close" data-dismiss="modal" id="close_modal_button">&times;</button>
				<h4 class="modal-title capitalize table_data">Reason</h4>
			</div>
			<div class="modal-body">
				<div class="row">
					<%= form_for @reason,url:dispute_notification_reason_admins_disputes_path,method: :post,remote: true,html:{class: "form custom_form",id:"dispute_reason_form"} do |form|%>
						<div class="form-group">
							<%= form.label :title, "Title"%>
							<%= form.text_field :title,class:"form-control",id:"dispute_reason_form_title_field" %>
						</div>
						<%= form.submit "Add Reason",type: "button",class: "btn btn-success",id:"dispute_reason_form_submit" %>
						<span id="warning_showing_span"></span>
					<% end %>
				</div>
			</div>
		</div>
	</div>
</div>