<%= stylesheet_link_tag asset_path("admins/disputes_details/disputes_details_styles"), media: 'all', 'data-turbolinks-track' => 'reload' %>
<script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />

<div class="title-block" id="case_1">
  <div class="col-md-9 zero-padding">
    <h1 class="title pull-left">Cases</h1>
  </div>
  <% unless current_user.support_mtrac? %>
  <div class="col-md-3 zero-padding">
    <div class="col-md-12 zero-padding">
      <label id="case_label" class="switch">
        <%= check_box_tag 'boolValue', true, @accept_disputes.boolValue %>
        <span class="slider round"></span>
      </label>
      <label id="case_label1" >Disputes Dashboard</label>
    </div>
  </div>
  <% end %>
</div>
<div class="container-fluid" id="case_2">
  <% unless current_user.support_mtrac? %>
    <%= link_to 'CBKs Lost', imported_for_lost_admins_disputes_path, class: 'btn btn-sm btn-danger pull-right marginleft' %>
    <%= link_to 'Import CBKs', imported_cbk_admins_disputes_path, class: 'btn btn-sm btn-warning pull-right marginleft' %>
  <% end %>
  <ul class="nav nav-tabs margin_top users_tabs pull-left">
    <% if @case.present? %>
      <% params[:case] = @case %>
    <% end %>
    <li class="<%= params[:case] == "all" || params[:case].nil? ? 'active' : ''%> all_dispute"><a href="#" id="case_anchor6">All Cases</a></li>
    <li class="<%= params[:case] == "sent_pending" ? 'active' : ''%>  sent_dispute"><a href="#" id="case_anchor1">Sent/Pending</a></li>
    <li class="<%= params[:case] == "won_reversed" ? 'active' : ''%> won_dispute"><a href="#"id="case_anchor5" >Won/Reversed</a></li>
    <li class="<%= params[:case] == "lost" ? 'active' : ''%> lost_dispute"><a href="#" id="case_anchor2">Lost</a></li>
    <li class="<%= params[:case] == "dispute_accepted" ? 'active' : ''%> dispute_accepted"><a href="#" id="case_anchor3">Dispute Accepted</a></li>
    <li class="<%= params[:case] == "under_review" ? 'active' : ''%> under_review"><a href="#" class="" id="case_anchor4">Under Review</a></li>
  </ul>

</div>
<div class="well well-sm">
  <div class="row cases_menu_carded">
    <div class="col-md-12">
      <div class="cases_blue_box text-center">
        <p class="cases_box_text_data">Sent/Pending</p>
        <p class="cases_box_text_data"><%= DisputeCase.sent_pending.count %></p>
      </div>
      <div class="text-center cases_green_box">
        <p class="cases_box_text_data">Won/Reversed</p>
        <p class="cases_box_text_data"><%= DisputeCase.won_reversed.count %></p>
      </div>
      <div class="text-center cases_red_box">
        <p class="cases_box_text_data">Lost</p>
        <p class="cases_box_text_data"><%= DisputeCase.lost.count %></p>
      </div>
      <div class="text-center cases_brown_box">
        <p class="cases_box_text_data">Dispute Accepted</p>
        <p class="cases_box_text_data"><%= DisputeCase.dispute_accepted.count %></p>
      </div>
      <div class="text-center cases_purple_box">
        <p class="cases_box_text_data">Total CBK</p>
        <p class="cases_box_text_data"><%= number_to_currency(number_with_precision(@dispute_types["charge_back"].to_f, precision: 2, delimiter: ',')) %></p>
      </div>
      <div class="text-center cases_gray_box">
        <p class="cases_box_text_data">Total Retrieved</p>
        <p class="cases_box_text_data"><%= number_to_currency(number_with_precision(@dispute_types["retrievel"].to_f, precision: 2, delimiter: ',')) %></p>
      </div>
    </div>
  </div>
  <div class="card" data-exclude="xs,sm,lg">
    <div class="card-header bordered" id="cases_div">
      <div class="header-block">
        <h3 class="title"> Transactions</h3>
      </div>
      <div class="header-block pull-right">
        <p hidden id="as" class="as" ><%= @next %></p>
        <% params.delete(:q) if params[:q].present? && params[:q].keys.count == 1 && params[:q].keys.first == "status_eq" %>
        <% unless current_user.support_mtrac? %>
          <% if params[:q].present? && params[:q].try(:[], "recieved_date").present? && params[:q].reject{|k,v| v.nil? || v == "" || v == {}}.present?%>
            <a data-toggle="modal" id="export_class" data-case="<%= params[:case].present? ? params[:case] : "all" %>" data-type="dispute" data-search-q="<%= params[:q].to_json %>" class="exportReport pull-right" href="#exportModalDialog">
              <button type="button" class="btn btn-sm blue_btn"><i class="fa fa-file"></i> Export</button>
            </a>
          <% else %>
            <a data-toggle="modal" id="export_class" data-case="<%= params[:case].present? ? params[:case] : "all" %>" data-type="dispute" data-search-q="<%= params[:q].to_json %>" class="exportModalDialog pull-right" href="#exportModalDialog">
              <button type="button" class="btn btn-sm blue_btn"><i class="fa fa-file"></i> Export</button>
            </a>
          <% end %>
        <% end %>
        <%#= link_to '<span class="btn btn-sm blue_btn"><i class="fa fa-file"></i> Exports</span>'.html_safe, cases_admins_disputes_path(q: params[:q].to_json, case: params[:case], format: "csv")%>
        <%#= link_to '<span class="btn btn-sm blue_btn"><i class="fa fa-file"></i> Export</span>'.html_safe, cases_admins_disputes_path(q: params[:q].to_json, case: params[:case], format: "csv")%>
        <a href="#search1" data-toggle="collapse" href="#search" aria-expanded="false" aria-controls="search" class="btn btn-outline-secondary btn-sm" ><i class="icon-magnifier icons"></i>Search</a>
      </div>
    </div>
  </div>
  <%= search_form_for @q, class:'search_disputes', url: cases_admins_disputes_path, html: { method: :get } do |f| %>
      <div class="col-sm-12" >
        <div class="col-sm-12">
          <div class="collapse mb-3" id="search1">
            <div class="card card-body">
              <div class="row " id="cases_row">
                <div class="col-md-12">
                  <h5>Search Dispute Cases</h5>
                </div>
                <div class="col-md-12 cases_div1">
                  <div class="form-group col-md-4">
                    <label for="id">DBA Name</label>
                    <%= f.text_field :merchant_wallet_location_business_name_cont, class:"form-control"%>
                  </div>
                  <div class="form-group col-md-4">
                    <label for="id">Case Number</label>
                    <%= f.text_field :case_number_cont, class:"form-control alphanumeric"%>
                  </div>
                  <div class="form-group col-md-4">
                    <label for="id">Dispute Type</label>
                    <%= f.select :dispute_type_eq, options_for_select(@types.map{|v|[v[:view],v[:value]]}, params[:q].present? ? params[:q][:dispute_type_eq] : "Select Dispute Type"), {include_blank: "Select Dispute Type"},class: "form-control" %>

                  </div>
                </div>
                <div class="col-md-12 cases_div1" >
                  <div class="form-group col-md-4">
                    <label for="id">Receive Date</label>
                    <input type="text" name="q[recieved_date]" id="date" class="form-control daterange" autocomplete="off" value="<%= params[:q].present? ? params[:q][:recieved_date] : "" %>"   />
                  </div>
                  <div class="form-group col-md-4">
                    <label for="id">Created At</label>
                    <input type="text" name="q[created_at]" class="form-control daterange" autocomplete="off"  value="<%= params[:q].present? ? params[:q][:created_at] : "" %>"   />
                  </div>
                  <div class="form-group col-md-4">
                    <label for="id">Due Date</label>
                    <input type="text" name="q[due_date]"  class="form-control daterange" autocomplete="off"  value="<%= params[:q].present? ? params[:q][:due_date] : "" %>"   />
                  </div>
                </div>
                <div class="col-md-12 cases_div1" >
                  <div class="form-group col-md-4">
                    <label for="id">CBK Amount</label>
                    <%= f.text_field :amount_eq, value: params.dig(:q, :amount_eq), class:"form-control number_field"%>
                  </div>
                  <div class="form-group col-md-4">
                    <label for="id">Original Txn Amount</label>
                    <%= f.text_field :charge_transaction_total_amount_eq,value: params.dig(:q, :charge_transaction_total_amount_eq),min:"0", step:"0.01", class:"form-control number_field"%>
                  </div>
                  <div class="form-group col-md-4">
                    <label for="id">Last 4</label>
                    <%= f.text_field :card_number_cont, class:"form-control last4",maxlength: 4%>
                    <input type="hidden" name="case" value="<%= params[:case] %>" >
                  </div>
                </div>
                <div class="col-md-11 text-right search-btn">
                  <%= f.submit "Search", class:"btn btn-success btn-sm search_button" %>
                </div>
                <input type="hidden" name="tx_filter" id="tx_filter" value="<%= params[:tx_filter].present? ? params[:tx_filter] : "" %>"  />
              </div>
            </div>
          </div>
        </div>
      </div>

  <% end  %>
  <section class="example" id="cases_data_table">
    <div class="top-30-px-shared">
      <%= form_tag cases_admins_disputes_path(trans: params["trans"]), method: :get ,id: "tx_form" do  %>
        <span class="padding-top-7-px-shared float-left-shared" >Show</span>
        <Span class="float-left-shared">
        <%= select_tag "tx_filter", options_for_select(@filters.map{|v|[v]}, selected: params[:tx_filter].present? ? params[:tx_filter] : "10"),
                       :prompt => false,
                       :required => true,
                       :onchange => 'this.form.submit();',
                       class: "form-control form-control-sm",
                       data: {confirm: "Are you sure ?"}
        %>
          <input type="hidden" name="case" value="<%= params[:case].present? ? params[:case] : "all" %>"  />
        </Span>
        <span class="float-left-shared padding-top-7-px-shared">Entries</span>
      <% end %>
    </div>
    <%= render 'admins/disputes/data_table'%>
  </section>
</div>

<section id="dispute_case_modals"></section>
<section id="dispute_case_delete_modal"></section>
<%= render partial: 'admins/shared/export_modal' %>
<input type="hidden" name="accept_disputes_id" id="accept_disputes_id" value="<%= @accept_disputes.id.present? ? @accept_disputes.id : "" %>"  />
<input type="hidden" name="accept_disputes_key" id="accept_disputes_key" value="<%= @accept_disputes.key.present? ? @accept_disputes.key : "" %>"  />

<%if params.present? &&  params[:q].present?%>
  <input type="hidden" name="params_q" id="params_q" value="<%= params[:q] %>" />
  <input type="hidden" name="receieved_date_hidden_val" id="receieved_date_case" value="<%= params[:q][:recieved_date].present? ?  params[:q][:recieved_date] : ""  %>"  />
  <input type="hidden" name="due_date_hidden_val" id="due_date" value="<%= params[:q][:due_date].present? ?  params[:q][:due_date] : ""  %>"  />
  <input type="hidden" name="created_at_hidden_val" id="created_at" value="<%= params[:q][:created_at].present? ?  params[:q][:created_at] : ""  %>"  />
<%end %>