$('#cover-spin').fadeOut();
$('#notification_reason_modal').html("<%= j render partial: 'notification_reasons' ,locals: {} %>")
$('#notificationReasonModal').modal();

$('#close_modal_button').click(function(){
    setTimeout(function(){
        $(document.body).addClass( 'modal-open' );
    }, 500);
});
$('#dispute_reason_form_title_field').keypress(function(){
    if(this.value=="" || this.value==null){
        $('#warning_showing_span').text("Fill Up Your Fields!");
    }else{
        $('#warning_showing_span').text("");
    }
});
$('#dispute_reason_form_submit').click(function(){
    $.ajax({
        url: "<%=dispute_notification_reason_admins_disputes_path%>",
        type: 'POST',
        data: {title:$('#dispute_reason_form_title_field').val()},
        success: function(result){
            if(result.message){
                $('#warning_showing_span').text(result.message);
            }else{
                $('#table_text_field_transaction_dispute').append($('<option></option>').attr('value',result.id).text(result.title));
                $('#notificationReasonModal').modal('toggle');
                setTimeout(function(){
                    $(document.body).addClass( 'modal-open' );
                }, 500);
            }
        }});
    // $('#dispute_reason_form')
    // $.each(selectValues, function(key, value) {
    //      $('#mySelect')
    //          .append($("<option></option>").attr("value",key).text(value));
});
