<%= stylesheet_link_tag asset_path("admins/disputes_details/disputes_details_styles"), media: 'all', 'data-turbolinks-track' => 'reload' %>
<div class="container" id="evidence_1">
  <div class="row form_body" id="evidence_2" >
    <%= form_for @evidence  ,url: @url , html:{id: 'image_upload', multipart: true,class: 'doc-form' } do |f| %>
        <div class="col-md-12 heading-doc">
          <div class="icon_ellipsis">
            <i class="fa fa-ellipsis-h"></i>
          </div>
          <h3 id="evidence_h">
            Documentation
          </h3>
          <% dispute=DisputeCase.where(id:f.object.dispute_id).first %>
          <% if dispute.present? && dispute.status!='under_review' %>
          <%= link_to('Accept Evidence',dispute_evidence_admins_disputes_path(dispute_id:f.object.dispute_id), class: 'btn btn-warning btn-sm',id:'accept_btn') %>
            <%end %>
        </div>
        <div class="col-md-12 form-inputs">
          <div class="form-group row">
            <label class="col-md-3 form-label">
              Product description:
            </label>
            <div class="col-md-9">
              <%= f.text_area :description,disabled: true,class:'form-control field-disable',rows: "5", required:true %>
            </div>
          </div>
          <hr>
          <div class="form-group row">
            <label class="col-md-3 form-label">
              Customer Name:
            </label>
            <div class="col-md-9">
              <% evidence={id:f.object.id} %>
              <%#= best_in_place_if @evidence.present?, @evidence, :name, :as => :input,url: merchant_dispute_path(evidence) %>
              <%= f.text_field :name,disabled: true,class:'form-control m-input name',value:f.object.name.present? ? f.object.name : @user.try(:[],'name').present? ? @user.name : '' %>
              <%= f.hidden_field :id, class: '', id: 'receiptd' %>

            </div>
          </div>
          <div class="form-group row">
            <label class="col-md-3 form-label">
              Customer Email:
            </label>
            <div class="col-md-9">
              <span id="email"><%= f.object.name.present? ? f.object.email : @user.try(:[],'email').present? ? @user.email : '' %></span>
              <%= f.text_field :email,class:'form-control m-input name',id:'email_field',value:f.object.name.present? ? f.object.email : @user.try(:[],'email').present? ? @user.email : '' %><i class="fa fa-pencil-square-o" id="edit_email" aria-hidden="true"></i>
            </div>
          </div>
          <div class="form-group row">
            <label class="col-md-3 form-label">
              Customer Signature:
            </label>
            <div class="col-md-9">
              <%#= f.file_field 'image[customer_signature]', class: 'file', id: 'customer_signature' %>
              <label class="evidence_label">+ Upload a file</label>
              <br>
              <% if @images.present? %>
                  <% @receipt= @images.select{|e| e.file_type == 'customer_signature'} %>
                  <% @receipt.each do |img| %>
                      <% file_name=' '+img.add_image_file_name.truncate(10) if img.add_image_file_name.present? %>
                      <% if ['image/jpeg','image/gif','image/png','image/jpg'].include?(img.add_image_content_type) %>
                          <%= link_to file_name, img.add_image.url, download: img.add_image ,class: 'fa fa-download' %>
                      <% else %>
                          <a href="<%= img.add_image.url %>" class="fa fa-download"><%= file_name %></a>
                      <% end %>
                      &nbsp;
                  <% end %>
              <% end %>
            </div>
          </div>
          <hr>
          <div class="form-group row">
            <label class="col-md-3 form-label">
              Billing address:
            </label>
            <div class="col-md-9">
              <%= f.text_area :billing_address,disabled: true,class:'form-control field-disable', required:true %>
              <!--<textarea class="form-control" value="" ></textarea>-->
            </div>
          </div>
          <div class="form-group row">
            <label class="col-md-3 form-label">
              Customer IP address:
            </label>
            <div class="col-md-9">
              <%= f.text_field :customer_ip ,disabled: true,class:'form-control m-input field-disable',value:f.object.customer_ip.present? ? f.object.customer_ip : @transaction.ip%>
            </div>
          </div>
          <hr>
          <div class="form-group row">
            <label class="col-md-3 form-label">
              Receipt:
            </label>
            <div class="col-md-9">
              <%#= f.file_field 'image[receipt]', class: 'file', id: 'receipt' %>
              <label class="evidence_label">+ Upload a file</label>
              <br>
              <% if @images.present? %>
                  <% @receipt= @images.select{|e| e.file_type == 'receipt'} %>
                  <% @receipt.each do |img| %>
                      <% file_name=' '+img.add_image_file_name.truncate(10) if img.add_image_file_name.present? %>
                      <% if ['image/jpeg','image/gif','image/png','image/jpg'].include?(img.add_image_content_type) %>
                          <%= link_to file_name, img.add_image.url, download: img.add_image ,class: 'fa fa-download' %>
                      <% else %>
                          <a href="<%= img.add_image.url %>" class="fa fa-download"><%= file_name%></a>
                      <% end %>
                      &nbsp;
                  <% end %>
              <% end %>
            </div>
          </div>
          <hr>
          <div class="form-group row">
            <label class="col-md-3 form-label">
              Customer communication:
            </label>
            <div class="col-md-9">
              <%#= f.file_field 'image[customer_communication]', class: 'file' %>
              <label class="evidence_label">+ Upload a file</label>
              <br>
              <% if @images.present? %>
                  <% @receipt= @images.select{|e| e.file_type == 'customer_communication'} %>
                  <% @receipt.each do |img| %>
                      <% file_name=' '+img.add_image_file_name.truncate(10) if img.add_image_file_name.present? %>
                      <% if ['image/jpeg','image/gif','image/png','image/jpg'].include?(img.add_image_content_type) %>
                          <%= link_to file_name, img.add_image.url, download: img.add_image ,class: 'fa fa-download' %>
                      <% else %>
                          <a href="<%= img.add_image.url %>" class="fa fa-download"><%= file_name%></a>
                      <% end %>
                      &nbsp;
                  <% end %>
              <% end %>
              <p class="evidence_note">Any communication with the customer that you feel is relevant to your case. Such as, an email providing proof that they received or used the product or service.</p>
            </div>
          </div>
        </div>
        <div class="col-md-12 heading-doc">
          <div class="icon_ellipsis">
            <i class="fa fa-ellipsis-h"></i>
          </div>
          <h3 id="evidence_heading" >
            Shipping Information
          </h3>
          <p id="note_123">Providing shipping information for any physical products you sent will help prove the customer did indeed receive the items they purchased</p>
        </div>
        <div class="col-md-12 form-inputs">
          <div class="form-group row">
            <label class="col-md-3 form-label">
              Package Carrier:
            </label>
            <div class="col-md-9">
              <%= f.text_field :package_carrier,disabled: true,class:'form-control m-input field-disable' %>
            </div>
          </div>
          <div class="form-group row">
            <label class="col-md-3 form-label">
              Tracking number:
            </label>
            <div class="col-md-9">
              <%= f.text_field :tracking_number,disabled: true,class:'form-control m-input field-disable' %>
            </div>
          </div>
          <div class="form-group row">
            <label class="col-md-3 form-label">
              Proof of shipping:
            </label>
            <div class="col-md-9">
              <%#= f.file_field 'image[shipping_proof]', class: 'file', id: 'receipt' %>
              <label class="evidence_label">+ Upload a file</label>
              <br>
              <% if @images.present? %>
                  <% @receipt= @images.select{|e| e.file_type == 'shipping_proof'} %>
                  <% @receipt.each do |img| %>
                      <% file_name=' '+img.add_image_file_name.truncate(10) if img.add_image_file_name.present? %>
                      <% if ['image/jpeg','image/gif','image/png','image/jpg'].include?(img.add_image_content_type) %>
                          <%= link_to file_name, img.add_image.url, download: img.add_image ,class: 'fa fa-download' %>
                      <% else %>
                          <a href="<%= img.add_image.url %>" class="fa fa-download"><%= file_name%></a>
                      <% end %>
                      &nbsp;

                  <% end %>
              <% end %>
              <p class="evidence_note">
                This document can include a shipping receipt,shipping label, or waybill. The document must confirm the full billing address and tracking number.
              </p>
              <%= f.hidden_field :dispute_id, class: '',value:params[:id].present? ? params[:id] :'', id: 'receiptd' %>
            </div>
          </div>
          <hr>
          <div class="form-group row">
            <label class="col-md-3 form-label">
              Date of shipping:
            </label>
            <div class="col-md-9">
              <%= f.text_field :shipping_date,disabled: true,class:'form-control datepicker form-control field-disable shipping_date' %>
            </div>
          </div>
          <div class="form-group row">
            <label class="col-md-3 form-label">
              Shipping address:
            </label>
            <div class="col-md-9">
              <%= f.text_field :shipping_address,disabled: true,class:'form-control form-control field-disable' %>
            </div>
          </div>
        </div>
        <div class="form-group row">
          <div class="col-md-11"></div>
          <div class="col-md-1">
            <%#= f.submit "submit", class: 'btn btn-primary', id: 'image_upload_btn'  %>
          </div>
        </div>
      <input type="hidden" id="evidence_id" value="<%= @evidence.present? ? @evidence.id : '' %>">
    <% end %>
  </div>
</div>