<%= stylesheet_link_tag asset_path("admins/disputes_details/disputes_details_styles"), media: 'all', 'data-turbolinks-track' => 'reload' %>
<div class="title-block">
      <h1 class="title">Dispute</h1>
    </div>
    <div class="well well-sm">
      <div class="row">
        <div class="col-md-6">
        <%= form_for @dispute_case,url:submit_dispute_case_admins_disputes_path, method: :post, html: { multipart: true } do |form| %>
          <%= form.hidden_field :transaction_id, :value => @transaction.id %>
          <%= form.hidden_field :user_id, :value => current_user.id %>
          <%= form.hidden_field :id %>
          Case Number: <%= form.text_field :case_number,class: "case_number_class" %>
        </div>
        <div class="col-md-6">
          <%= link_to '<span class="eye_class"><i class="fa fa-eye"></i></span>'.html_safe,"", class: "position_eye_class"%>
        </div>
      </div>
      <div class="row">
      <div class="inner_content col-md-12">
        <div class="inner_content_header">
          <h3>Case Details</h3>
        </div>
        <div class="inner_content_body">
          <div class="inner_content_body_left col-md-6">
          <div class="inner_content_body_table">
            <%#= form_for @sender do |f|%>
            <p class="table_header">Customer Information</p>
            <div class="form-group">
            <%= text_field_tag 'first_name',@transaction.sender.first_name,placeholder:"First Name", class: "form-control"%>
            <%= text_field_tag 'last_name',@transaction.sender.last_name,placeholder:"Last Name", class: "form-control"%>
          </div>
          <div class="form-group">
            <%= text_field_tag 'area_code',@transaction.sender.area_code,placeholder:"Area Code", class: "table_text_field table_text_field_area_code"%>
            - 
            <%= text_field_tag 'phone_number',@transaction.sender.phone_number,placeholder:"Phone Number", class: "table_text_field"%>
          </div>
          <div class="form-group">
            <%= text_field_tag 'email',@transaction.sender.email,placeholder:"Email",class: "table_text_field"%>
          </div>
          <%# end %>
          </div>
          <div class="inner_content_body_table_transaction">
            <%= form.fields_for :dispute_transaction,@dispute_case.dispute_transaction do |f|%>
            <p class="table_header">Transaction Details</p>
            <div class="form-group">
              <%= f.text_field :amount,placeholder:"Transaction Amount", class: "table_text_field_transaction"%>
            </div>
            <div class="form-group">
            <%= f.text_field :transaction_date,placeholder:"Transaction Date", class: "datepicker table_text_field_transaction timeUtc"%>
          </div>
            <div class="form-group">
            <%= f.text_field :card_number,placeholder:"Credit Card Number", class: "table_text_field_transaction"%>
          </div>
            <div class="form-group">
            <%= f.select :card_type,[["mastercard","mastercard"],["visa","visa"]],{:include_blank => "Select Card Type"},{class: "table_text_field_transaction"}%>
          </div>
            <div class="form-group">
            <%= f.text_field :wallet_id,placeholder:"Merchant Number/Wallet", class: "table_text_field_transaction"%>
          </div>
            <div class="form-group">
            <%= file_field_tag "file_upload[]", :multiple => true, class: 'file_field_jq'%>
          </div>
            <% end %>
          <div class="col-md-12" id="files_section"></div>
          </div>
        </div>
        <div class="inner_content_body_right  col-md-6">
          
          <div class="inner_content_body_table_transaction">
            <%= form.fields_for :dispute_notification,@dispute_case.dispute_notification do |f|%>
            <div class="table_header_notification">
              <h5 class="font_under_line">Dispute Notification</h5>
              <div class="table_header_notification_second_nest">
                <div class="merchant_name"><%= f.label :merchant_name%></div>
                <div class="gateway_name"><%= f.label :gateway_name %></div>
              </div>
              </div>
              <div class="form-group">
            <%= f.select :dispute_type,[["ChargeBack","ChargeBack"],["Retrievel","Retrievel"]],{ :include_blank => "Select Dispute Type"},{ class: "table_text_field_transaction"}%>
            </div>
            <div class="form-group">
            <%= f.text_field :recieved_date,placeholder:"Received Date", class: "table_text_field_transaction datepicker_dispute"%>
            </div>
            <div class="form-group">
            <%= f.text_field :due_date,placeholder:"Due Date", class: "table_text_field_transaction datepicker_dispute"%>
            </div>
            <div class="form-group">
              <div class="reason_selection col-md-10">
                <%= f.select :reason_id,options_from_collection_for_select(Reason.where(reason_type:"dispute"),:id,:title,@dispute_case.dispute_notification.reason_id),{:include_blank => "Select Reason"},{class: "table_text_field_transaction",id:"table_text_field_transaction_dispute"}%>
              </div>
              <div class="reason_selection_add col-md-2">
                <%= link_to '<i class="fa fa-plus"></i>'.html_safe,dispute_notification_reasons_admins_disputes_path,remote: true%>
              </div>
          </div>
            <div class="form-group">
              <%= f.number_field :amount,placeholder:"Amount", class: "table_text_field_transaction"%>
            </div>
            <div class="form-group">
            <%= f.select :card_type,options_for_select([["mastercard","mastercard"],["visa","visa"]],[]),{:include_blank => "Select Card Type"},{class: "table_text_field_transaction"}%>
            </div>
            <div class="form-group">
            <%= f.select :status,options_for_select([["Sent/Pending","Sent/Pending"],["Won/Reversed","Won/Reversed"],["Lost","Lost"]],[]),{:include_blank => "Select Status"},{class: "table_text_field_transaction"}%>
            </div>
            <% end %>
            <div class="col-md-10" id="notifications_section">
                <label>Notes: </label> <%= link_to "Notes",dispute_notification_notes_admins_disputes_path(transaction_id:@transaction.id),remote: true%>
                <% @transaction.notes.each do |note| %>
                <p id="note_dispute"><%= link_to "#{note.title}",dispute_notification_notes_admins_disputes_path(note_id:note.id),remote: true%></p>
                    <!-- <a href="<%#= dispute_notification_notes_admins_disputes_path(note_id:note.id) %>"><%#= note.name %></a> -->
                <% end %>
            </div>
            <div class="col-md-2">
              <%= form.submit "Save",class: "btn btn-success"%>
            </div>
            <% end %>
            
          </div>
        </div>
        </div>
      </div>
  </div>
  </div>
  <section id="notification_note_modal"></section>
<section id="notification_reason_modal"></section>
