<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css"/>
<%= stylesheet_link_tag asset_path("admins/disputes_details/disputes_details_styles"), media: 'all', 'data-turbolinks-track' => 'reload' %>
<div class="sidebar-overlay" id="sidebar-overlay"></div>
<section class="section">
  <div class="">
    <div class="col-md-12">
      <div class="card sameheight-item items" data-exclude="xs,sm,lg">
        <div class="card-header bordered">
          <div class="col-md-8 mb-2">
            <div class="header-block">
              <div class="primary">
                <h3 class="title text-capitalize">Imported CBKs For Lost</h3>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <% unless current_user.support_mtrac? %>
              <a href="#search1" data-toggle="collapse" href="#search" aria-expanded="false" aria-controls="search" class="btn btn-primary btn-sm pull-right" ><span class="fa fa-sign-in"> Import</span></a>
            <% end %>
          </div>
        </div>

        <% unless current_user.support_mtrac? %>
          <%= form_tag bulk_cbk_for_lost_admins_disputes_path, method: :POST, multipart: true do %>
            <div class="col-sm-12" id="imported_div">
              <div class="col-sm-12">
                <div class="collapse mb-3" id="search1">
                  <div class="card card-body">
                    <div class="row" id="row_import" >
                      <div class="col-md-12">
                        <h5>Import CBK For Lost</h5>
                      </div>
                      <div class="col-md-12 importForm">
                        <div class="col-md-8">
                          <div class="col-md-6">
                            <div class="col-12">
                              <div class="input-group">
                            <span class="input-group-btn">
                              <label class="btn btn-primary btn-file" for="multiple_input_group">
                                <div class="input required">
                                  <div id="file_field">
                                    <%= file_field_tag :file, id: "multiple_input_group", accept: '.csv', required: true %>
                                  </div>
                                </div>
                                Choose a File
                              </label>
                            </span>
                                <span class="file-input-label"></span>
                              </div>
                            </div>
                          </div>
<!--                          <div class="col-md-6">-->
                            <%#= select_tag :type, options_for_select([["Charge Id","charge_id"],["Card", "card"]]),class: "form-control",:include_blank => "Select method", required: true %>
<!--                          </div>-->
                        </div>
                        <div class="col-md-4">
                          <%= submit_tag "Import", id: 'submit_button', :class => "btn btn-success btn-sm text-right pull-left" %>
                        </div>
                      </div>
                      <div class="col-md-12" id="div420">
                        <p id="info_box"><span class="fa fa-spinner fa-spin"></span> Importing <span class="circulation"></span> disputes.</p>
                        <div id="report_body_4">
                          <p>Please click on below button to download your file</p>
                          <a href="#" class="btn btn-primary" id="download_link" >Download</a>
                        </div>
                        <div id="error_body" >
                          <p>Something Went Wrong.</p>
                          <p><b id="error_msg"></b></p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          <% end %>
        <% end %>
        <div class="card-body">
          <div class="div_import">
            <div id="col-md-12">
              <div class="">
                <div class="table-responsive">
                  <table id="datatable-keytable" class="table table-striped table-bordered" cellspacing="0" cellpadding="0">
                    <thead>
                    <tr>
                      <th>ID</th>
                      <th>Date</th>
                      <th>CBKs</th>
                      <th>Action</th>
                    </tr>
                    </thead>
                    <tbody>
                    <% @cbks.try(:each) do |c| %>
                                          <tr>
                                            <td><%= c.id %></td>
                                            <td class="timeUtc"><%= c.start_date.strftime("%m/%d/%Y") %></td>
                                            <td><%= c.info %></td>
                                            <td><a href="/admins/transactions/export_download?id=<%= c.id %>"><i class="fa fa-download"></i>
                                              Download</a></td>
                                          </tr>
                    <% end %>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  </div>
</section>