<div id="modal_id" class="modal fade show" role="dialog" >
  <div class="modal-dialog modal-lg">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header text-left bg-primary text-white">
        <h4 class="modal-title"><i class="fa fa-money"></i><span class="ml-2">Buy Giftcard</span></h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      <div class="modal-body">
        <div class="card">
          <div class="card-minbody">
            <div class="row">
              <div class="col-md-12">
                <div id="gc-wallet"></div>
              </div>
              <div class="col-md-6 text-center">
              <div class="col-md-12">
                <img src="<%= giftcard[:image_url] %>" alt="" width="200px" id="giftcard_img" >
              </div>
                <div class="col-md-12">
                <span id="giftcard_brand"><%= giftcard[:brand_name] %></span>
              </div>
              <div class="col-md-12">
                <span id="giftcard_description"><%= giftcard[:description].html_safe %></span>
              </div>
              </div>
              <div class="col-md-6">

                <section id="errormessage"></section>
                <%= form_tag buy_card_merchant_giftcards_path , method: :post, id: "gc-form", html:{data:{toggle: "validator" }} do |f| %>
                 <div class="form-group">
                   <label class="font-weight-bold">Select your wallet</label>
                   <% if @list.size != 1 %>
                       <select class="form-control wallet_id" id="wallet_id" name="wallet_id">
                         <option value="">Select your Wallet</option>
                         <%= @list.each do |w| %>
                             <option value="<%= w[:wallet_id] %>" data-balance="<%= w[:balance] %>" data-lstatus="<%= w[:location_status] %>" data-giftcard="<%= w[:block_giftcard] %>" ><%= w[:wallet_name] %></option>
                         <% end %>
                       </select>
                   <% else %>
                       <select class="form-control wallet_id" id="wallet_id" name="wallet_id">
                         <%= @list.each do |w| %>
                             <option value="<%= w[:wallet_id] %>" data-balance="<%= w[:balance] %>" data-lstatus="<%= w[:location_status] %>" data-giftcard="<%= w[:block_giftcard] %>"><%= w[:wallet_name] %></option>
                         <% end %>
                       </select>
                   <% end %>
                   <%#= select_tag 'wallet_id' ,options_from_collection_for_select(wallets, 'id', 'name'), class: 'form-control' , id: 'wallet' %>
                   <span class="font-weight-bold text-success pull-right" id="balance"><%= number_with_precision(@list.first[:balance], precision:2, :delimiter => ',')%></span>
                   <span class="pull-right mr-3">$</span>
                 </div>
                 <input type="hidden" name="image_url" value="<%= giftcard[:image_url]%>">
                 <input type="hidden" value="<%=giftcard[:gift_card].utid%>" name="utid">
                 <% if giftcard[:gift_card].min_value.to_f > 0 && giftcard[:gift_card].max_value.to_f > 0 %>
                 <label for="gft_amount" class="font-weight-bold">Enter your amount</label>
                    <div class="input-group">
                      <span class="input-group-addon">$</span>
                      <input id="gft_amount_input" type="text" name="amount" class="form-control" min="5" max="500" placeholder="0.00"/>
                    </div>
                      <p id='gft_amount_input_error'></p>
                    <div class="form-group" id="div_12">
                      <span id="errorTxt" class="font-weight-bold text-danger"></span>
                    </div>
                        <span class="font-weight-bold">Min.$ <i class="min_val" value="<%= number_with_precision(giftcard[:gift_card].min_value.to_f , precision: 2 )  %>"><%=number_with_precision(giftcard[:gift_card].min_value.to_f , precision: 2 )  %></i></span>
                        <span class="font-weight-bold pull-right">Max.$ <i class="max_val" value="<%=number_with_precision(giftcard[:gift_card].max_value.to_f , precision: 2 )%>"><%=number_with_precision(giftcard[:gift_card].max_value.to_f , precision: 2 )%></i></span>
                    <% else %>
                    <label for="gft_amount">Your amount is</label>
                     <div class="input-group">
                        <span class="input-group-addon">$</span>
                        <input id="gft_amount_input" type="number" name="amount" class="form-control" value="<%=giftcard[:gift_card].face_value%>" disabled/>
                     </div>
                  <% end %>
                    <div class="form-group mt-2" id="hello">
                    <span class="font-weight-bold">Buy card for</span>
                    </div>
                    <div class="input-group">
                      <span class="input-group-addon">@</span>
                      <input type="email" name="email" class="form-control email_field" required />
                    </div>
                    <%= submit_tag 'Buy Now', class: 'btn btn-success btn-block btn-sm mt-10 buy_button', id: 'buy_now'%>
                <% end  %>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
<%= javascript_include_tag 'merchant/withdraw/new_gift_card.js' %>
