<% sequence_down = AppConfig.try(:sequence_down).try(:first) %>
<% if (sequence_down.present? && sequence_down.boolValue == true) || (ENV['SEQUENCE_DOWN'].present? && ENV['SEQUENCE_DOWN'] == "true") %>
  <%= render 'shared/maintenance_modal', locals: {title: 'System Maintenance', body: 'We apologize for the inconvenience, however this feature is not available at this time as we are having issues with our Blockchain'} %>
<% else %>
<% if @user.block_giftcard %>
  <%= render 'shared/maintenance_modal', locals: {title: 'Disabled Withdraw', body: 'We apologize for the inconvenience, but this feature is currently  unavailable at this time. Please email Support@gareenboxpos.com for all your inquiries. Thank you!'} %>
<% else %>
  <%= render 'shared/maintenance_modal', locals: {title: 'System Maintenance', body: 'We apologize for the inconvenience, however this feature is not available at this time as we are having issues with our Blockchain'} %>
<% end %>
<% end %>

<!--       <div class="row">
        <div class="col-md-8 mb-2">
          <h5>Buy gift cards</h5>
        </div>
      </div> -->

      <div class="box">
            <div class="box-header with-border">
            <div class="col-md-12">
            <div class="row">
            <div class="col-md-6">
              <h3 class="box-title"><%= @heading %></h3>
              </div>
              <div class="col-md-6">
                </div> 
            </div>
            </div>
            </div>
            <br>
            <div class="container-fluid" id="container-fluid">
            <!--refund_transactions_admins_path-->
              <ul class="nav nav-tabs users_tabs">
                <li class=""><a href="<%=  merchant_orders_merchant_giftcards_path %>">My Gift Card</a></li>
                <li class="active"><a href='<%=  giftcard_catalogues_merchant_giftcards_path %>'>Buy Gift Card</a></li>
              </ul>
            </div>
            <br>
            <div class="box-body">
            <div class="">
      <div class="table-responsive">
        <table id="transaction-gift-card" class="table table-striped">
          <thead>
          <th id="img_1">Image</th>
          <th>Brand Name</th>
          <th>Amount</th>
          <th>Action</th>
          </thead>
          <tbody>
          <% if @giftcards.try(:count).to_i > 0 %>
          <% @giftcards.try(:each) do |giftcard|%>
              <% giftcard[:items].each do |item|%>
                  <tr>
                    <td><img src="<%= giftcard[:image_urls][:images]%>" alt="" width="83px"></td>
                    <td class="giftcard"><%= giftcard[:brand_name]%></td>
                    <td class="giftcard">
                      <%= number_to_currency(item.face_value) if item.face_value.present? %>
                      <% if item.max_value.present? && item.min_value.present? %>
                          <%= number_to_currency(item.min_value) %> ~ <%= number_to_currency(item.max_value)%>
                      <%end%>
                    </td>
                    <td>
                      <% if (sequence_down.present? && sequence_down.boolValue == true) || (ENV['SEQUENCE_DOWN'].present? && ENV['SEQUENCE_DOWN'] == "true") %>
                        <a id="transfer_new" class="btn btn-success" data-toggle="modal" data-target="#maintenance-modal">New Transfer</a>
                        <%= link_to '<button class="btn btn-primary btn-flat view_gift_card"><i class="fa fa-shopping-carsasdt"> Buy</i></button>'.html_safe, '#maintenance-modal',html: {class: "btn btn-outline-secondary btn-md"}, 'data-toggle' => 'modal'%>
                        <% else %>
                        <% if @user.block_giftcard %>
                       <%= link_to '<button class="btn btn-primary btn-flat view_gift_card"><i class="fa fa-shopping-carsasdt"> Buy</i></button>'.html_safe, '#maintenance-modal',html: {class: "btn btn-outline-secondary btn-md"}, 'data-toggle' => 'modal'%>
                      <% else %>
                        <%= link_to '<button class="btn btn-primary btn-flat view_gift_card"><i class="fa fa-shopping-carsasdt"> Buy</i></button>'.html_safe, merchant_giftcard_path(item.utid),html: {class: "btn btn-outline-secondary btn-md"},data: { disable_with: "<i class='fa fa-spinner fa-spin'></i>" }, remote: true %>
                      <% end %>
                      <% end %>

                    </td>
                  </tr>
              <% end %>
           <% end %>
          <% else %>
          <tr><td colspan="5"><h3 class="entries_34">No Enteries Yet !</h3></td></tr>
          <% end %>
          </tbody>
        </table>
      </div>
<!--         <div class="card-footer text-right">
          <div class="row">
            <div class="col-md-1 text-left">
              <small></small>
            </div>
            <div class="col-md-11 "><%#= will_paginate @giftcards, renderer: BootstrapPagination::Rails %></div>
          </div>
        </div> -->
</div>
</div>
</div>


<section id="custom_modal"></section>
