
<%= render 'shared/maintenance_modal', locals: {title: 'Merchant is Blocked', body: 'We apologize for the inconvenience, however this feature is not available at this time as Merchant is Inactive.'} %>
<% access = merchant_allowed %>
<div class="box">
            <div class="box-header with-border">
            <div class="col-md-12">
              <div class="row">
                <div class="col-md-6">
                  <h3 class="box-title"><%= @heading %></h3>
                </div>
                <div class="col-md-6">
                </div> 
              </div>
            </div>
            </div>
            <br>
            <div class="container-fluid" >
            <!--refund_transactions_admins_path-->
              <ul class="nav nav-tabs users_tabs" id="users_tabs">
                <li class="active"><a href="<%=  merchant_orders_merchant_giftcards_path %>">My Gift Card</a></li>
                <% if access[:giftcard] %>
                  <li class=""><a  data-toggle="modal" data-target="#maintenance-modal" class="hover_item">Buy Gift Card</a></li>
                <% else %>
                  <li class=""><a href='<%=  giftcard_catalogues_merchant_giftcards_path %>'>Buy Gift Card</a></li>
                <% end %>
              </ul>
            </div>
            <br>
            <div class="box-body">
            <div class="table-responsive">
                <table id="giftcard_data_datatable" class="table table-striped">
                  <thead>
                  <th>UTID</th>
                  <th>Name</th>
                  <!--<th>Sender</th>-->
                  <th>Receiver</th>
                  <th>Purchased Date</th>
                  <th>Amount</th>
                  <th>Currency</th>
                  <th>Status</th>
                  <th>Image</th>
                  </thead>
                  <tbody>
                  <% if !@tango_orders.try(:empty?) %>
                      <% @tango_orders.try(:each) do |t| %>
                            <tr>
                              <td><%= t["utid"] %></td>
                              <td><%= t["rewardName"] %></td>
                              <!--<td><%#= t["sender"]["email"] %></td>-->
                              <td><%= t["recipient"]["email"] %></td>
                              <td class="timeUtc"><%= t["createdAt"] %></td>
                              <td>$ <%= number_with_precision(t["amountCharged"]["total"], precision: 2, delimiter: ',') %></td>
                              <td><%= t["amountCharged"]["currencyCode"] %></td>
                              <%if t["status"] == 'COMPLETE' %>
                              <td><span class="badge badge-success"><%= t["status"] %></span></td>
                              <% else  %>
                              <td><span class=" badge badge-danger"><%= t["status"] %></span></td>
                              <% end  %>
                              <td><div class="col-md-12"><img src="<%= t[:catalog_image] %>" class="img img-responsive" width="100px"/></div></td>
                            </tr>
                       <% end  %>
                      <% else %>
                      <tr><td colspan="8"><h3 class="entries_34">No Entries Yet!</h3></td></tr>
                      <% end %>
                  </tbody>
                </table>
        <div class="card-footer text-right">
          <div class="row">
            <input type="hidden" id="query_input"  value="<%= params[:query].present? %>">
            <div class="col-md-1 text-left">
              <small></small>
            </div>
            <div class="col-md-11 "><%#= will_paginate @tango_orders, renderer: BootstrapPagination::Rails %></div>
          </div>
        </div>
</div>
</div>
</div>

<section id="custom_modal"></section>
