<div class="notifiations <%= 'unread' if notification.read_at == nil %>" , data-id = <%= notification.id %> >
    <div class="notification-details">
        <p class="notification-title"><%= notification.notifiable_type %></p>
        <p class="notification-description"><%= notification.text %></p>
        <p class="notification-time"><%= notification.created_at.strftime("%d/%m/%Y")%></p>
    </div>
</div>