@import "intlTelInput";
.intl-tel-input.allow-dropdown .selected-flag, .intl-tel-input.separate-dial-code .selected-flag {
  height: 3em !important;
}
.font14{
  font-size: 14px !important;
  font-weight: bold;
}
.List_items_decoration_decimal{
  list-style-type:decimal;
}
.new_class_ui{
  top: 105% !important;
  left: 39% !important;
}
.text-height{
  line-height: 1.88 !important;
}
.intl-tel-input.separate-dial-code .selected-dial-code{
  display: table-cell;
  padding-left: 30px;
  /*position: absolute;*/
  left: 40px;
  height: 100%;
  padding-top: 7%;
}
.intl-tel-input.selected-flag .iti-arrow{
  left: 30px;
}
.intl-tel-input.separate-dial-code .selected-flag {
  width: 43px;
}
.intl-tel-input {
  display: block;
}


.billing_information_box{
    height: 593px;
    border-radius: 4px;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
    background-color: #ffffff;
    padding:24px
}

.m-wizard.m-wizard--2 .m-wizard__head {
    position: relative;
    margin: 1rem 0 3rem 0;
    padding: 0 5rem;
}


.m-wizard__form{
    margin-top: -55px;
}

.width-49-percent{
    width:49.33% !important;
}

.width-100-percent{
    width: 100% !important;
}

.m-wizard.m-wizard--2 .m-wizard__head .m-wizard__progress .progress{
    height: 2px !important;
}

.b-input{
    height: 48px;
    border-radius: 25px;
    border: solid 2px #efefef;
    background-color: #ffffff;
    font-family: 'Open Sans',Sans-Serif;
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.36;
    letter-spacing: 0.22px;
    text-align: left;
    color: #777777;
}

.simple-16-bold-7070770{
    margin-left: 9px;
    font-family: 'Open Sans',Sans-Serif;
    font-size: 16px !important;
    font-weight: bold !important;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.38;
    letter-spacing: 0.26px;
    text-align: left;
    color: #777777;
}

.mt-25{
    margin-top: 25px;
}

.b_hr{
    height: 1px;
    border-top: solid 1px #cacaca;
    margin-bottom: 1.3rem;
}

.data-wizard-next-button{
    //margin-top: 90px;
    width: 123px;
    height: 48px;
    border-radius: 24px;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2) !important;
    background-color: #ffd95a !important;
    font-family: 'Open Sans',Sans-Serif;
    font-size: 16px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.88;
    letter-spacing: 0.26px;
    text-align: center;
    color: #4c4c4c;
    position: absolute !important;
    bottom: 10% !important;
    right: 5% !important;

}

.data-shipping-wizard-next-button{
    //margin-top: 140px;
    width: 123px;
    height: 48px;
    border-radius: 24px;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2) !important;
    background-color: #ffd95a !important;
    font-family: 'Open Sans',Sans-Serif;
    font-size: 16px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.88;
    letter-spacing: 0.26px;
    text-align: center;
    color: #4c4c4c;
  position: absolute !important;
  bottom: 10% !important;
  right: 5% !important;

}

.data-wizard-back-button{
    //margin-top: 140px;
    width: 123px;
    height: 48px;
    border-radius: 24px;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2) !important;
    border: solid 2px #ffd95a !important;
    background-color: #ffffff !important;
    font-family: 'Open Sans',Sans-Serif;
    font-size: 16px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.88;
    letter-spacing: 0.26px;
    text-align: center;
    color: #4c4c4c;
    position: absolute;
    bottom: 10% !important;
}

.simple-16-bold-text-4a4a4a{
    font-family: 'Open Sans',sans-serif;
    font-size: 16px;
    font-weight: bold !important;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.8 !important;
    letter-spacing: 0.26px;
    color: #4a4a4a;
}

.m-wizard.m-wizard--2.m-wizard--success .m-wizard__head .m-wizard__steps .m-wizard__step.m-wizard__step--current .m-wizard__step-number > span {
    background-color: #ffffff;
    border: none;
}
.m-wizard.m-wizard--2 .m-wizard__head .m-wizard__nav .m-wizard__steps .m-wizard__step .m-wizard__step-number > span > i {
    color: #eaeaea00;
}
.m-wizard.m-wizard--2.m-wizard--success .m-wizard__head .m-wizard__steps .m-wizard__step.m-wizard__step--done .m-wizard__step-number > span {
    background-color:#ffa701;
    border: none;
}
.m-wizard.m-wizard--2.m-wizard--success .m-wizard__head .m-wizard__progress .progress .progress-bar {
    background-color:#ffa701;
}

.m-wizard__progress{
    position: relative;
    bottom: 1.2em;
}

.m-wizard.m-wizard--2 .m-wizard__head .m-wizard__nav .m-wizard__steps .m-wizard__step .m-wizard__step-number > span{
    width: 24px;
    height: 24px;
    border: solid 2px #a5a5a5;

}
.m-wizard.m-wizard--2 .m-wizard__head .m-wizard__nav .m-wizard__steps .m-wizard__step .m-wizard__step-number > span > i{
    font-size: 0.8rem;
}

.wizard_dot{
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #ffa701;
    position: absolute;
}

.m-wizard__progress .progress{
    background-image: linear-gradient(to bottom, #f7f7f7, #e2e2e2);;
}

.m-wizard.m-wizard--2 .m-wizard__head .m-wizard__progress .progress{
    height: 4px;
}

.m-wizard.m-wizard--2.m-wizard--success .m-wizard__head .m-wizard__steps .m-wizard__step.m-wizard__step--current .m-wizard__step-number .wizard_dot{
    display: block;
}
.m-wizard.m-wizard--2.m-wizard--success .m-wizard__head .m-wizard__steps .m-wizard__step .m-wizard__step-number .wizard_dot{
    display: none;
}
.m_wizard_form_step_3 .m-wizard__step .m-wizard__step--current .m-wizard__step-number .wizard_dot{
    display: block;
}
.m_wizard_form_step_3  .m-wizard__step .m-wizard__step-number .wizard_dot{
    display: none;
}

.m-wizard.m-wizard--2 .m-wizard__head .m-wizard__nav .m-wizard__steps  .m-wizard__step--done .m-wizard__step-number > span:hover{
    background-color: #ffa701 !important;
}

.width-0-percent{
    width: 0.0%!important;
}

.width-42-percent{
    width: 42.6666%!important;
}

.width-66-percent{
    width: 66.6666% !important;
}

.border-none{
    border: none !important;
}

.background-fff{
    background: #fff !important;
}

.background-ffa701{
    background: #ffa701 !important;
}

.width-100-percent{
    width: 100% !important;
}

.m-wizard.m-wizard--2.m-wizard--success .m-wizard__head .m-wizard__steps .m-wizard__step.m-wizard__step--current .m-wizard__step-number > span:hover{
    background: #fff;
}
.invoice_checkout_logo{
    position: absolute;
    left: 41%;
    top: 2%;
}
.pop_term_service {
    font-family: 'Open Sans',sans-serif;
    font-size: 12px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    letter-spacing: normal;
    text-align: left;
    color: #4c4c4c;
}

.color-fff {
    color: #fff !important;
}

.simple-20-bold-text-dark {
    font-family: 'Open Sans',sans-serif;
    font-size: 20px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.35;
    letter-spacing: normal;
    color: #4c4c4c;
}

.cvv-icon{
    position: relative;
    bottom: 3px;
}

.card_box_1{
    width: 288px;
    height: 169px;
    object-fit: contain;
    border-radius: 12px;
    box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.3);
    background-image: linear-gradient(122deg, #040404 -2%, #414148 94%);
}

.cardSecretNumber {
    left: 5% !important;
}

.VALID-THRU{
    position: relative;
    top: 86%;
    right: 39%;
    font-family: 'SourceSansPro';
    font-size: 8px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 0.88;
    letter-spacing: normal;
    text-align: right;
    color: rgba(255, 255, 255, 0.85);
}
.cardExp1 {
    position: absolute;
    top: 75%;
    left: 55% !important;
    font-family: 'Source Sans Pro',sans-serif;
    font-size: 17px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.06;
    letter-spacing: normal;
    text-align: right;
    color: rgba(255, 255, 255, 0.85);
}

.top-margin-8{
    position: relative;
    top: 7px;
}

.background-ffa701 {
    background: #ffa701 !important;
}
.show{
    display: block !important;
}

.hide{
    display: none !important;
}
.progress-bar{
    height: 2px !important;
}
//.intl-tel-input.separate-dial-code .selected-flag {
//  background-color: transparent !important;
//}
/*.m-wizard.m-wizard--2.m-wizard--success .m-wizard__head .m-wizard__steps .m-wizard__step.m-wizard__step--done a.m-wizard__step-number:hover > span {*/
/*    background-color: transparent;*/
/*}*/

/*.m-wizard.m-wizard--2 .m-wizard__head .m-wizard__nav .m-wizard__steps .m-wizard__step a.m-wizard__step-number:hover > span {*/
/*    background-color: transparent;*/
/*}*/

/*.m-wizard.m-wizard--2.m-wizard--success .m-wizard__head .m-wizard__steps .m-wizard__step.m-wizard__step--current a.m-wizard__step-number:hover > span {*/
/*    background-color: transparent;*/
/*}*/



.intl-tel-input.allow-dropdown .flag-container:focus .selected-flag,
.intl-tel-input.allow-dropdown .flag-container:hover .selected-flag{
  border: 0px solid white !important;
}
.intl-tel-input.separate-dial-code .selected-flag{
  background-color: transparent !important;
}
.intl-tel-input .selected-flag .iti-flag{
  display: none;
}
.intl-tel-input.separate-dial-code .selected-dial-code {
  padding-left: 10% !important;
  padding-top: 5% !important;
}
.intl-tel-input .selected-flag .iti-arrow {
  position: absolute;
  top: 50%;
  margin-top: -2px;
  right: 8px !important;
  width: 13px !important;
  height: 8px !important;
  border-left: 6px solid transparent !important;
  border-right: 6px solid transparent !important;
  border-top: 8px solid #555 !important;
}
.intl-tel-input .country-list {
  position: absolute;
  z-index: 2;
  font-family: 'Open Sans',sans-serif;
  font-size: 14px !important;
  list-style: none;
  text-align: left;
  padding: 2px 10px !important;
  margin: 0 0 0 -1px;
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.2);
  background-color: white;
  border: 1px solid #CCC;
  white-space: nowrap;
  max-height: 200px;
  border-radius: 25px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.38;
  letter-spacing: 0.26px;
  color: #777777;
  width: 275px;
}
.intl-tel-input .country-list .country.highlight {
  background-color: #ffd95a !important;
  padding: 10px 15px !important;
  border-radius: 25px;
}
.intl-tel-input .country-list
{
  overflow: hidden !important;
}
.intl-tel-input .country-list:hover
{
  overflow-y: auto !important;
}
.intl-tel-input .country-list::-webkit-scrollbar-track
{
  margin-top: 20px;
  margin-bottom: 20px;
  border-radius: 8px;
}

.intl-tel-input .country-list::-webkit-scrollbar
{
  width: 8px;
  background-color: transparent;
}

.intl-tel-input .country-list::-webkit-scrollbar-thumb
{
  border-radius: 8px;
  background-color: #919191;
}
.intl-tel-input.allow-dropdown .flag-container, .intl-tel-input.separate-dial-code .flag-container {
  outline: 0;
  border: none;
  -moz-outline-style: none;
}
.intl-tel-input .country-list .flag-box, .intl-tel-input .country-list .country-name
{
  font-weight: bold;
  color: #777777;
  font-size: 12px;
}
.intl-tel-input .country-list .country .dial-code
{
  color: #777777;
  font-weight: bold;
  font-size: 12px;
}
.cvv-icon-img{
  display: none;
}

.new-data-wizard-next-button{
  margin-top: 95px !important;
}

.m-fee-dropdown .dropdown-toggle .filter-option-inner{
  font-family: "Open Sans",sans-serif;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.8;
  letter-spacing: 0.22px;
  text-align: left;
  color: #777777;
}
.m-bootstrap-select .dropdown-menu.inner {
  overflow-y: unset !important;
}
.hidden_overflow_y{
  overflow-y: hidden !important;
}

.inner{
  overflow-y: unset !important;
}
.error-modal-button{
  //margin-top: 90px;
  width: 123px;
  height: 48px;
  border-radius: 24px;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2) !important;
  background-color: #ffd95a !important;
  font-family: 'Open Sans',Sans-Serif;
  font-size: 16px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.88;
  letter-spacing: 0.26px;
  text-align: center;
  color: #4c4c4c;
}