span.amount_limit_error , div#location_id-error , div#description-error , div#bank_account_name-error , div#amount-error , div#amount_limit_error2{
    color: red;
    font-weight: 600;
}
.message {
    color: red;
}
#description {
    border-radius: 5px;
    height: 100px;
}
label {
    margin-bottom: .5rem !important;
}
.modal-header .close {
    padding: 1rem !important;
    padding-top: 2px !important;
}
.icon_inside_input_field > i {
    position: absolute !important;
    display: block !important;
    transform: translate(0, -50%) !important;
    top: 23px !important;
    pointer-events: none !important;
    width: 45px !important;
    text-align: center !important;
    font-weight: unset !important;
    font-size: 16px !important;
}
#newAchModal .form-group textarea {
    background-color: #ffffff;
}
.total_amount_div {
    display: none;
}
.after_message{
    display: none;
}
div#location_id-error , div#bank_account_name-error   {
    padding: 5px;
}
div#amount-error{
    padding: 5px;
    margin-left: 0px !important;
}
.in_progress{
        background-color: orange;
}


#AchConfirmModal .acc-description {
    word-wrap: break-word !important;
    width: auto !important;
    height: auto !important;
}
span#amount_span {
    padding-right: 15px;
    padding-top: 2px;
    float: left;
}

span#fee_span {
    padding-right: 15px;
    padding-top: 2px;
    float: left;
}

span.total {
    float: left;
}

div#fee_deduct {
    float: left;
}
div#tango_memo {
    display: inline-block;
    width: auto;
    word-break: break-all;
}
#newAchModal .alert-body{
    display: none;
    width: 760px;
    height: 80px;
    border-radius: 8px;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
    background-color: #ffffff;
    margin-left: 20px;
}
#newAchModal .account-information {
    width: 370px;
    height: 27px;
    font-family: 'Open Sans',sans-serif;
    font-size: 16px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.25;
    letter-spacing: 0.26px;
    text-align: left;
    color: rgba(0, 0, 0, 0.7);
    padding-left: 26px;
    margin-top: 16px;
}
/*#newAchModal .loader-svg{
    margin-left: 29px;
    margin-top: 10px;
}*/
#newAchModal .confirm-modal-btn{
    padding-bottom: 2em !important;
}
div#amount_limit_error2 , span.amount_limit_error  {
    float: left;
    width: 100%;
}
.charge_back_table{
    min-height: 320px;
}