.after_message{
    display: none;
}
.charge_back_table{
    min-height: 320px;
}
div#description_memo {
    word-wrap: break-word !important;
    width: auto !important;
    height: auto !important;
}