.email-modal {
  width: 100%;
  height: 100%;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 99;
  display: none;
}

.flex-wrap {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-box {
  width: 100%;
  max-width: 450px;
  padding: 40px 40px 20px 40px;
  box-sizing: border-box;
  background: #fff;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
  border-radius: 8px;
}

.new-email,
.confirm-email {
  width: 100%;
  max-width: 300px;
  margin: 0 auto;
}

.new-email {
  display: none;
}

.new-email p,
.confirm-email p {
  font-size: 16px;
  color: #4c4c4c;
  font-weight: 700;
  width: 100%;
  text-align: center;
}

.send-terms-email label {
  padding-left: 10px;
}

.new-email .nav-center,
.confirm-email .nav-center {
  margin-top: 20px;
}

.nav-center {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.other-email {
  width: 100%;
  margin-top: 20px;
  text-align: center;
  color: #777;
  font-size: 12px;
  text-decoration: underline;
  font-weight: 700;
  letter-spacing: 0.19px;
  cursor: pointer;
}

.alert-box {
  width: 100%;
  position: absolute;
  max-width: 650px;
  top: -100px;
  background: #fff;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
  box-sizing: border-box;
  padding: 24px 30px;
  border-radius: 8px;
  display: none;
  z-index: 10;
}

.alert-wrap {
  display: flex;
  align-items: center;
}

.close-alert {
  position: absolute;
  right: 16px;
  top: 16px;
  cursor: pointer;
}
.close-alert:hover {
  opacity: 0.7;
}

.icon-alert {
  margin-right: 20px;
}

.alert-msg {
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 0.26px;
  color: rgba(0, 0, 0, 0.7);
  margin: 0;
}

.welcome_steps {
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-bottom: 40px;
}

.steps-count {
  width: 100%;
  padding: 40px 0 90px 0;
  text-align: center;
}

.current-step {
  font-weight: 700;
  color: #ffa701;
}

.steps-timeline {
  width: 100%;
  display: flex;
  position: relative;
  max-width: 650px;
}
.steps-timeline2 {
  width: 100%;
  display: flex;
  position: relative;
  max-width: 222px;
  margin: 0 auto;
}

.step-point {
  width: 24px;
  height: 24px;
  border: 2px solid #a5a5a5;
  display: block;
  border-radius: 50%;
  position: absolute;
  z-index: 3;
  top: -11px;
}
.timeline-line {
  height: 2px;
  width: 44.8%;
  background: #a5a5a5;
  position: relative;
}
.timeline-line2 {
  height: 2px;
  width: 44.8%;
  background: #a5a5a5;
  position: relative;
}

.point1 {
  left: 0;
}
.point2 {
  left: 48%;
}
.point3 {
  left: 96%;
}
.point4 {
  right: 0;
}

.steps-timeline2 .point2 {
  right: 0;
  left: auto;
}

.current {
  background: #ffffff;
  border-color: #fff;
  box-shadow: 0px 2px 2px #00000033;
}
.current:after {
  content: "";
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: #ffa701;
  position: absolute;
  top: 5px;
  left: 5px;
}

.checked {
  background: #ffa701;
  border-color: #ffa701;
  display: flex;
  align-items: center;
  justify-content: center;
}

.checked:before {
  font-family: FontAwesome;
  content: "\f00c";
  display: inline-block;
  vertical-align: middle;
  color: #fff;
  padding-top: 1px;
  font-size: 12px;
}

.loading {
  width: 0;
  background: #ffa701;
  height: 2px;
  position: absolute;
  z-index: 2;
  left: 0;
  top: 0;
}

.line1 {
  margin-left: 23px;
}
.line2 {
  margin-left: 21px;
}
.line3 {
  margin-left: 21px;
}

.steps {
  margin-top: 52px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.step1 {
  width: 100%;
  padding-top: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.step1 p {
  width: 100%;
  text-align: center;
  margin-top: 34px;
  font-size: 24px;
  font-weight: 600;
  line-height: 44px;
  margin-bottom: 30px;
}

.step2 {
  width: 100%;
  display: none;
  position: relative;
}

#alert2 {
  left: 50%;
  transform: translateX(-50%);
}

.white-box {
  width: 100%;
  background: #fff;
  padding: 40px 48px;
  box-sizing: border-box;
  box-shadow: 0px 2px 2px #00000033;
  border-radius: 8px;
}

.white-box-header {
  width: 100%;
  padding-bottom: 30px;
  margin-bottom: 30px;
  border-bottom: 2px solid #f0f0f0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.orange-title {
  color: #ffa701;
  font-size: 32px;
  font-weight: 600;
  margin: 0;
}

.button-send-email {
  box-shadow: 0px 2px 2px #00000033;
  border: 2px solid #ffd95a;
  border-radius: 24px;
  height: 32px;
  width: 155px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: all 0.3s linear;
}
.button-send-email:hover {
  background: #fef9e2;
}

.button-send-email img {
  margin-right: 12px;
}

.button-send-email p {
  font-size: 14px;
  color: #4c4c4c;
  margin: 0 0 2px 0;
}

.white-box-subheader {
  width: 100%;
  margin-bottom: 40px;
}

.white-box-subheader h3 {
  font-size: 22px;
  color: #4c4c4c;
  font-weight: 700;
}

.white-box-subheader h4 {
  font-size: 14px;
  color: #ffa701;
  font-weight: 700;
}

.white-box-text {
  width: 100%;
}

.white-box-text p {
  font-size: 16px;
  color: #4c4c4c;
  font-weight: 400;
  margin-bottom: 10px;
}

.white-box-text p strong {
  font-size: 18px;
  color: #4c4c4c;
  font-weight: 700;
  margin-bottom: 10px;
}

.terms-check {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 30px;
}

.checkbox {
  width: 100%;
  text-align: center;
  margin-bottom: 24px;
}

.styled-checkbox {
  position: absolute;
  opacity: 0;
}
.styled-checkbox + label {
  position: relative;
  cursor: pointer;
  padding: 0;
  color: #4c4c4c;
  font-size: 16px;
  font-weight: 700;
}
.styled-checkbox + label:before {
  content: "";
  margin-right: 10px;
  display: inline-block;
  vertical-align: text-top;
  width: 20px;
  height: 20px;
  border: 2px solid #4c4c4c;
  border-radius: 5px;
}
.styled-checkbox:hover + label:before {
  border: 2px solid #ffda00;
}
.styled-checkbox:checked + label:before {
  background: #fff;
  border: 2px solid #ffda00;
}
.styled-checkbox:disabled + label {
  color: #4c4c4c;
  font-size: 16px;
  font-weight: 700;
}
.styled-checkbox:disabled + label:before {
  box-shadow: none;
  background: #ddd;
}
.styled-checkbox:checked + label:after {
  content: "";
  position: absolute;
  left: 4px;
  top: 10px;
  background: white;
  width: 2px;
  height: 2px;
  box-shadow: 2px 0 0 #dfa300, 4px 0 0 #dfa300, 4px -2px 0 #dfa300,
    4px -4px 0 #dfa300, 4px -6px 0 #dfa300, 4px -8px 0 #dfa300;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.form-subheader {
  width: 100%;
  padding-bottom: 24px;
  border-bottom: 1px solid #e8e8e8;
  margin-bottom: 24px;
}

.form-subheader p {
  font-size: 24px;
  font-weight: 700;
  letter-spacing: 0px;
  color: #000000b3;
  margin-bottom: 0;
}

.loading-msg {
  font-size: 36px;
  color: #4c4c4c;
  font-weight: 600;
  line-height: 40px;
  padding: 100px 0 60px 0;
  display: block;
}

.form-password {
  width: 100%;
  max-width: 650px;
  background: #fff;
  padding: 40px 36px;
  box-sizing: border-box;
  box-shadow: 0px 2px 2px #00000033;
  border-radius: 8px;
}

.form-password .orange-title {
  font-size: 40px;
  letter-spacing: 0.58px;
  margin-bottom: 24px;
}

.round-form {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 390px;
  margin: 0 auto;
}

.cols2-form {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.form-row {
  width: 100%;
  margin: 0 0 20px 0;
}

.form-col {
  width: 45%;
  margin-bottom: 24px;
}

@media (max-width: 640px) {
  .form-col {
    width: 100%;
    margin-bottom: 24px;
  }
}

#fileAttachment2-error,
#fileAttachment-error {
  position: absolute;
  top: 55px;
}

.form-col label,
.form-row label {
  width: 100%;
  font-size: 16px;
  font-weight: bold;
  color: #777;
  margin-bottom: 8px;
}

.form-col .round-field,
.form-row .round-field {
  width: 100%;
  height: 48px;
  font-size: 16px;
  font-weight: 400;
  color: #777;
  border: 2px solid #efefef;
  border-radius: 25px;
  display: flex;
  align-items: center;
  padding: 0 10px;
  transition: all 0.3s linear;
  margin-bottom: 5px;
}
.form-col .round-field:focus,
.form-row .round-field:focus {
  border-color: #ffd95a;
  outline: none;
}

.error {
  border-color: #d45858 !important;
  letter-spacing: 0.19px;
  color: #d45858 !important;
  font-size: 12px !important;
  padding-left: 10px;
  font-weight: 700;
}

.valid {
  border-color: #35bab6 !important;
}

.row-center {
  display: flex;
  width: 100%;
  justify-content: center;
  margin-top: 30px;
}

.orange-btn {
  box-shadow: 0px 2px 2px #00000033;
  border: 2px solid #ffd95a;
  border-radius: 24px;
  background: #ffd95a;
  max-width: 230px;
  min-width: 100px;
  padding: 0 15px;
  height: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
  letter-spacing: 0.26px;
  color: #4c4c4c;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.3s linear;
}
.orange-btn:disabled,
.orange-btn:disabled:hover {
  background: #e8e8e8;
  border-color: #e8e8e8;
  color: #adadad;
  cursor: default;
}

.orange-btn:hover {
  background: #ffca37;
  border-color: #ffca37;
}

.step3 {
  width: 100%;
  max-width: 650px;
  margin: 0 auto;
  display: none;
  position: relative;
}

.align-center {
  text-align: center;
}

.step3-form1 {
  width: 100%;
  display: none;
}

.step3-form2 {
  display: none;
}

.pass-check {
  position: relative;
}

.pass-strength {
  width: 100%;
  max-width: 250px;
  border-radius: 5px;
  top: 80px;
  display: none;
}

.pass-strength h4 {
  font-weight: 700;
  font-size: 12px;
  color: #4c4c4c;
  font-family: "Open Sans", sans-serif;
  margin: 0 0 10px 0;
}

.pass-strength ul {
  margin: 0;
  padding: 0;
}
.pass-strength ul li {
  font-size: 12px;
  padding-left: 20px;
  position: relative;
  font-weight: 400;
}

.pass-strength ul .valid:after,
.pass-strength ul .invalid:after {
  font-family: FontAwesome;
  position: absolute;
  width: 12px;
  height: 12px;
  left: 0;
  top: 3px;
  border-radius: 50%;
  font-size: 6px;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #dfdfdf;
}
.pass-strength ul .invalid:after {
  content: "\f00d";
  padding-top: 0px;
  background: #d45858;
}
.pass-strength ul .valid:after {
  padding-top: 1px;
  content: "\f00c";
  background: #00cc6e;
}

.arrow_box {
  position: absolute;
  background: #fff;
  border: 1px solid #dfdfdf;
  box-shadow: 0px 3px 6px #00000029;
  padding: 16px;
  box-sizing: border-box;
  z-index: 10;
}
.arrow_box:after,
.arrow_box:before {
  bottom: 100%;
  left: 50%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}

.arrow_box:after {
  border-color: rgba(255, 255, 255, 0);
  border-bottom-color: #fff;
  border-width: 10px;
  margin-left: -10px;
}
.arrow_box:before {
  border-color: rgba(223, 223, 223, 0);
  border-bottom-color: #dfdfdf;
  border-width: 11px;
  margin-left: -11px;
}

.custom-upload {
  width: 100%;
  display: flex;
  align-items: center;
  box-sizing: border-box;
}

.custom-upload .error {
  position: absolute;
  top: 55px;
}

.file-label {
  margin-left: 16px;
  letter-spacing: 0.19px;
  color: #777777;
  font-weight: 400;
  font-size: 12px;
}

.uploadRow {
  position: relative;
}

.file-upload {
  position: relative;
  overflow: hidden;
  width: 150px;
  height: 48px;
  box-shadow: 0px 2px 2px #00000033;
  border: 2px solid #ffd95a;
  border-radius: 24px;
  background: #fff;
  letter-spacing: 0.26px;
  color: #4c4c4c;
  font-weight: 600;
  display: flex;
  justify-content: center;
  align-items: center;
}
.uploadRow input.upload {
  position: absolute;
  height: 48px;
  top: 0;
  left: 0;
  margin: 0;
  padding: 0;
  font-size: 20px;
  cursor: pointer;
  opacity: 0;
  filter: alpha(opacity=0);
  z-index: 10;
}
#fileuploadurl {
  display: inline-block;
  border: none;
  vertical-align: middle;
  background: none;
  box-shadow: none;
  font-size: 11px;
  padding-left: 0;
  width: 220px;
  padding-right: 0;
}

.files-list {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 10px;
  display: none;
}

.file-added {
  width: 46%;
  height: 48px;
  background: #ffffff;
  box-shadow: 0px 2px 2px #00000033;
  border-radius: 4px;
  padding: 0 40px 0 10px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  position: relative;
}

.file-added p {
  letter-spacing: 0.26px;
  color: #4c4c4c;
  font-size: 16px;
  font-weight: 700;
  margin: 0 0 0 10px;
}

.remove-file {
  width: 32px;
  height: 32px;
  position: absolute;
  right: 10px;
  cursor: pointer;
  transition: all 0.3s linear;
  border-radius: 50%;
}
.remove-file:hover {
  background: #ffda00;
}

.step4 {
  width: 100%;
  max-width: 650px;
  display: none;
}

.step4 .white-box {
  padding: 24px;
}

.form-w9 p {
  letter-spacing: 0.26px;
  color: #777777;
  font-size: 16px;
  font-weight: 700;
}

.tooltip {
  background: #fff;
  bottom: 100%;
  display: block;
  left: -48px;
  margin-bottom: 15px;
  opacity: 0;
  border-radius: 5px;
  padding: 8px;
  pointer-events: none;
  position: absolute;
  width: 120px;
  transition: all 0.25s ease-out;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.15);
  border: 1px solid #e8e8e8;
  text-align: center;
  font-family: "Open Sans", sans-serif;
  box-sizing: border-box;
}

.tooltip span {
  color: #a5a5a5;
  font-size: 10px;
  font-weight: 700;
}

.tooltip p {
  color: #4c4c4c;
  font-size: 12px;
  font-weight: 700;
  margin: 0;
}

.tooltip:before {
  bottom: -20px;
  content: " ";
  display: block;
  height: 20px;
  left: 0;
  position: absolute;
  width: 100%;
}

.tooltip:after {
  border-left: solid transparent 10px;
  border-right: solid transparent 10px;
  border-top: solid #fff 10px;
  bottom: -10px;
  content: " ";
  height: 0;
  left: 50%;
  margin-left: -13px;
  position: absolute;
  width: 0;
}

.select-box {
  position: relative;
  display: block;
  width: 100%;
  margin: 0 auto;
}

.select-box__current {
  position: relative;
  cursor: pointer;
  outline: none;
}
.select-box__current:focus + .select-box__list {
  opacity: 1;
  -webkit-animation-name: none;
  animation-name: none;
}
.select-box__current:focus + .select-box__list .select-box__option {
  cursor: pointer;
}
.select-box__current:focus .select-box__icon {
  -webkit-transform: translateY(-50%) rotate(180deg);
  transform: translateY(-50%) rotate(180deg);
}
.select-box__icon {
  position: absolute;
  top: 50%;
  right: 15px;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  width: 12px;
  -webkit-transition: 0.2s ease;
  transition: 0.2s ease;
}
.select-box__value {
  display: -webkit-box;
  display: flex;
}
.select-box__input {
  display: none;
}
.select-box__input:checked + .select-box__input-text {
  display: block;
}
.select-box__input-text {
  display: none;
  width: 100%;
  margin: 0;
  border: 2px solid #efefef;
  border-radius: 25px;
  background: #fff;
  align-items: center;
  padding: 11px 16px;
  letter-spacing: 0.22px;
  color: #777777;
  font-size: 14px;
  font-weight: 400;
}
.select-box__list {
  position: absolute;
  width: 100%;
  padding: 7px;
  box-sizing: border-box;
  border-radius: 28px;
  box-shadow: 2px 2px 3px 0 rgba(0, 0, 0, 0.16);
  border: solid 2px #efefef;
  background-color: #ffffff;
  list-style: none;
  opacity: 0;
  -webkit-animation-name: HideList;
  animation-name: HideList;
  -webkit-animation-duration: 0.5s;
  animation-duration: 0.5s;
  -webkit-animation-delay: 0.5s;
  animation-delay: 0.5s;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-timing-function: step-start;
  animation-timing-function: step-start;
}
.select-box__option {
  display: block;
  padding: 5px 15px;
  color: #777777;
  font-size: 14px !important;
  letter-spacing: 0.22px;
  font-weight: 700;
  margin-bottom: 0 !important;
  transition: all 0.3s linear;
  border-radius: 24px;
}
.select-box__option:hover,
.select-box__option:focus {
  width: 100%;
  background-color: #ffd95a;
}

@-webkit-keyframes HideList {
  from {
    -webkit-transform: scaleY(1);
    transform: scaleY(1);
  }
  to {
    -webkit-transform: scaleY(0);
    transform: scaleY(0);
  }
}

@keyframes HideList {
  from {
    -webkit-transform: scaleY(1);
    transform: scaleY(1);
  }
  to {
    -webkit-transform: scaleY(0);
    transform: scaleY(0);
  }
}



/*custom css*/
.margin-17-40 {
    margin-top: 15px !important;
    margin-left: 20px !important;
}


.login-welcome-change-password-button-aff , .login-welcome-change-password-button-aff2 {
  width: 230px;
  height: 48px;
  border-radius: 24px;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2) !important;
  border: solid 2px #ffd95a;
  background-color: #ffd95a !important;
  font-family: 'Open Sans',sans-serif;
  font-size: 16px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.78;
  letter-spacing: 0.26px;
  text-align: center;
  color: #4c4c4c;
}

.form-control-feedback{
  border-color: #d45858 !important;
  letter-spacing: 0.19px;
  color: #d45858 !important;
  font-size: 12px !important;
  padding-left: 10px;
  font-weight: 700;
}

.partner-dropdown .dropdown-menu.show {
    display: block !important;
}

.steps2_line1{
  width: 78.8% !important;
}