<div class="container-fluid">
  <div class="box">
    <div class="box-header"></div>
    <div class="box-body">
      <table class="table table-striped">
        <tr class="table-header">
          <th>Order ID</th>
          <th>Case #</th>
          <th>Merchant Name</th>
          <th>Customer Name</th>
          <th>Amount Requested</th>
          <th>Creation Date</th>
          <th>Status</th>
          <th>Last4</th>
          <th>Order Details</th>
        </tr>

        <% @customer_disputes.each do |customer_dispute| %>
          <tr>
<!--          <tr data-url-path="<%#= admins_customer_dispute_path(customer_dispute.id) %>" class="detail_link show-dynamic-modal cursor_pointer" data-modal-selector="#customer-dispute-detail" data-modal-container-selector="#custom_modal" data-method="GET">-->
            <td><%= customer_dispute.dispute_transaction.order_id %></td>
            <td><%= customer_dispute.id %></td>
            <td><%= customer_dispute.merchant.name %></td>
            <td><%= customer_dispute.customer.name %></td>
            <td><%= number_to_currency(customer_dispute.amount) %></td>
            <td><span class="timeUtc-dispute"><%= customer_dispute.created_at %></span></td>
            <td><%= customer_dispute.status %></td>
            <td><%= customer_dispute.dispute_transaction.last4 %></td>

            <td>
              <div class="dropdown">
                <a href="#" class="dropdown-style" type="button" data-toggle="dropdown" >●●●
                </a>
                <ul class="dropdown-menu white-background">
                  <li><%= link_to("Details","#", remote: true, :class => "btn btn-sm show-dynamic-modal show-cover-spin", "data-toggle" => "modal", "data-modal_container_selector" => "#custom_modal", "data-modal_selector" => "#customer-dispute-detail",  "data-url" =>  admins_customer_dispute_path(customer_dispute.id) , "data-method" => "GET" ) %></li>
                </ul>
              </div>

            </td>
          </tr>
        <% end %>
      </table>
    </div>
  </div>
</div>
<div class="col-md-12 tx_pagination">
  <div class="row">
    <div class="col-md-4">
      <span>Showing <%=@customer_disputes.try(:size)%> of <%=@customer_disputes.total_count %> records</span>
    </div>
    <div class="col-md-8">
      <div class="text-align-right-ach" id="paginator">
        <% if @customer_disputes.present? %>
          <%= paginate @customer_disputes, :theme => 'twitter-bootstrap-3', :pagination_class => "pagination-small pagination-centered pull-right padd"%>
        <% end %>
      </div>
    </div>
  </div>
</div>
<section id="custom_modal"></section>