
<div class="in"></div>
<div class="sidebar-overlay" id="sidebar-overlay"></div>
<div class="title-block">
  <h1 class="title">
    Customer Portal                        </h1>
</div>
<div class="container-fluid ad-verifications-st-1">
  <ul class="nav nav-tabs dispute_tabs distinct ad-verifications-st-2">
      <li class="<%= params[:dispute_type] == 'refund' ? 'active' :  ''%>"><a href="<%= admins_customer_disputes_path(dispute_type: "refund") %>">Dispute</a></li>
      <li class="<%= params[:dispute_type] == "dispute_chat" ? 'active' : ''%>"><a href="<%= admins_messages_path(dispute_type: "dispute_chat") %>">Chats</a></li>
  </ul>
</div>
<section class="section">
  <div class="row">
    <div class="col-md-12">
      <div class="card sameheight-item items" data-exclude="xs,sm,lg">
        <div class="card-header bordered">
          <div class="header-block">
            <span id="show">Show</span>
            <span id="show_left">
              <%= form_tag admins_customer_disputes_path, method: :get , id: 'dispute'  do  %>
                 <%= select_tag "filter", options_for_select(@filters.map{|v|[v]}, selected: params[:filter].present? ? params[:filter] : "10"),
                                :prompt => false,
                                :required => true,
                                class: "form-control form-control-sm",
                                data: {confirm: "Are you sure ?"}
                 %>
              <% end %>
            </span>
            <span id="entries">Entries</span>
          </div>
          <div class="col-md-3 pull-right">
<!--            <input type="text" class="form-control pull-right search_input_field" value="<%#= params[:q]%>" placeholder=" &#xf002; Search&hellip;" name="search" id="srch-term">-->
          </div>
          <a href="#search_chat" data-toggle="collapse" aria-expanded="false" aria-controls="search_chat" class="btn btn-outline-secondary btn-sm"><i class="icon-magnifier icons"></i> Search</a>

        </div>

        <%=form_tag admins_customer_disputes_path, method: :get, class:'search_chat',  autocomplete: "off" do  %>
          <div class="col-sm-12 shipment-admin-form-shared">
            <div class="col-sm-12">
              <div class="collapse" id="search_chat">
                <div class="card card-body">
                  <div class="row margin-top-10-px-shared">
                    <div class="col-md-12 margin-top-15-px-shared">
                      <div class="form-group col-md-4">
                        <label for="id">Order ID</label>
                        <input type="number" name="query[order_id]" id="order_id" class="form-control" placeholder="Order ID"  value="<%= params[:query].present? ? params[:query]["order_id"] : "" %>" />
                      </div>
                      <div class="form-group col-md-4">
                        <label for="id">Transaction ID</label>
                        <input type="text" name="query[trans_id]" id="trans_id" class="form-control" placeholder="Transaction ID"  value="<%= params[:query].present? ? params[:query]["trans_id"] : "" %>"  />
                      </div>
                      <div class="form-group col-md-4">
                        <label for="id">Customer Name</label>
                        <input type="text" name="query[cust_name]" id="cust_name" class="form-control" placeholder="Customer Name" value="<%= params[:query].present? ? params[:query]["cust_name"] : "" %>"/>
                      </div>

                    </div>
                    <div class="col-md-12 margin-top-15-px-shared">
                      <div class="form-group col-md-4">
                        <label for="id">Merchant Name</label>
                        <input type="text" name="query[merchant_name]" id="merchant_name" class="form-control" placeholder="Merchant Name"  value="<%= params[:query].present? ? params[:query]["merchant_name"] : "" %>"  />
                      </div>
                      <div class="form-group col-md-4">
                        <label for="id">Refund Case #</label>
                        <input type="number" name="query[case_no]" id="case_no" class="form-control" placeholder="Refund Case #"  value="<%= params[:query].present? ? params[:query]["case_no"] : "" %>" />
                      </div>
                      <div class="form-group col-md-4">
                        <label for="id">Status</label>
                        <%=  select_tag 'query[status]', options_for_select(@status.map{|v|[v[:view],v[:value]]}, params[:query].present? ? params[:query]["status"] : ""),:include_blank => 'Status',class: "form-control",id: "status"  %>
                      </div>
                    </div>

                    <div class="col-md-12 margin-top-15-px-shared">
                      <div class="form-group col-md-4">
                        <label for="id">Card Last 4</label>
                        <input type="text" name="query[last4]" id="last4" class="form-control" placeholder="Card Last 4" value="<%= params[:query].present? ? params[:query]["last4"] : "" %>"/>
                      </div>
                      <div class="form-group col-md-4" id="creation_date">
                        <label for="dispute_date">Creation Date</label>
                        <input type="text" name="query[dispute_date]" id="dispute_date" class="form-control" placeholder="Creation Date"  value="<%= params[:query].present? ? params[:query]["dispute_date"] : "" %>" />
                        <input type="hidden" id="offset_new" name="offset" value="<%= params[:offset].present? ? params[:offset] : DateTime.now.zone %>"  />
                        </div>

                    </div>


                    <div class="col-md-12 text-right">
                      <input type="hidden" name="dispute_type" value="<%=params[:dispute_type].present? ? params[:dispute_type] : "" %>">
                      <button type="submit" id="search_btn" class="btn btn-success btn-sm search_button">Search</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        <% end %>


        <div class="row" >
          <div class="col-sm-6 col-md-6">
            <div class="dataTables_length">
              <div class="ad-verifications-st-3">
                <ul class="nav nav-tabs dispute_tabs distinct ad-verifications-st-2">
                  <li class="<%= params[:dispute_type] != "cancel" ? 'active' : ''%>"><a href="<%= admins_customer_disputes_path(dispute_type: "refund") %>">Refund</a></li>
                  <li class="<%= params[:dispute_type] == "cancel" ? 'active' : ''%>"><a href="<%= admins_customer_disputes_path(dispute_type: "cancel") %>">Cancel</a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="col-sm-6 col-md-6">
<!--            <div class="col-md-12">-->
<!--              <input type="text" class="form-control pull-right search_input_field" value="<%#= params[:q]%>" placeholder=" &#xf002; Search&hellip;" name="search" id="srch-term">-->
<!--            </div>-->
          </div>
        </div>
        <div class="tab_data_details">
          <%= render partial: 'admins/customer_disputes/disputes', :locals => {customer_disputes: @customer_disputes } %>
        </div>
      </div>
    </div>
  </div>
</section>
