<%= f.fields_for :profile do |profile| %>
    <div class="row">
      <div class="col-md-12">
        <div class="row">
          <div class="form-group col-md-6">
            <%= profile.label :company_name, "Company Name", class: 'control-label' %>
            <%= profile.text_field :company_name, class: "form-control input-lg", :size => "48",  placeholder: 'Company Name', value: @admin_user.present? ? @admin_user.profile.present? ? @admin_user.profile.company_name : '' : '' || @admin_user.company_name %>
            <div class="help-block with-errors"></div>
          </div>
          <div class="col-md-1"></div>
          <div class="form-group col-md-5">
            <%= profile.label :tax_id, "Tax ID", class: 'control-label' %>
            <%= profile.text_field :tax_id, id: 'tx', class: "form-control input-lg", :size => "48", placeholder: 'Tax ID', value: @admin_user.present? ? @admin_user.profile.present? ? @admin_user.profile.tax_id : '' : '' %>
            <div id='tx-error' class="help-block with-errors"></div>
            <div id="tx-error" class="has-error"></div>
          </div>
        </div>
      </div>
      <div class="col-md-12">
        <div class="row">
          <div class="form-group col-md-3 no-space-break">
			<%= f.label :year_business, "Years in Business", class: 'control-label' %>
            <%= select_tag 'user[years_in_business][year]', options_for_select((0..100), @admin_user.present? ? @admin_user.profile.present? ? @admin_user.profile.years_in_business.present? ?  @admin_user.profile.years_in_business.split("-").first : '' : '' : '') , include_blank: 'Years',class: 'form-control input-lg '%>
            </div>
            <div class="form-group col-md-3 no-space-break">
              <%= f.label :month_business, "Months in Business", class: 'control-label' %>
              <%= select_tag 'user[years_in_business][month]', options_for_select((0..12), @admin_user.present? ? @admin_user.profile.present? ? @admin_user.profile.years_in_business.present? ?  @admin_user.profile.years_in_business.split('-').last : '' : '' :'' ), include_blank: 'Month' , class: 'form-control input-lg ' %>
            </div> 
            <div class="help-block with-errors"></div>
          <div class="col-md-1"></div>
          <div class="form-group col-md-5 ssn-adjust">
            <%= profile.label :ein, "SSN", class: 'control-label' %>
            <%= profile.text_field :ein, id: 'ssn', class: "form-control input-lg", :size => "48", placeholder: 'SSN', value: @admin_user.present? ? @admin_user.profile.present? ? @admin_user.profile.ein : '' : '' %>
            <div class="help-block with-errors"></div>
          </div>
        </div>
      </div>
      <div class="col-md-12">
        <div class="row">
          <div class="form-group col-md-6">
            <%= profile.label :street_address, "Address", class: 'control-label' %>
            <%= profile.text_field :street_address, :size => "48", class: "form-control input-lg", placeholder: 'Address', value: @admin_user.present? ? @admin_user.profile.present? ? @admin_user.profile.street_address : '' : '' %>
            <div class="help-block with-errors"></div>
          </div>

          <div class="col-md-1"></div>
          <div class="form-group col-md-5">
            <%= profile.label :city, "City", class: 'control-label' %>
            <%= profile.text_field :city, :size => "48", class: "form-control input-lg",  placeholder: 'City', value: @admin_user.present? ? @admin_user.profile.present? ? @admin_user.profile.city : '' : '' %>
            <div class="help-block with-errors"></div>
          </div>
        </div>
      </div>
      <%
        if @admin_user.present? && @admin_user.profile.try(:country).present?
          if @admin_user.profile.country == ("United State") || @admin_user.profile.country== "US"
            @admin_user.profile.country = ("United States")
          else
            @admin_user.profile.country = @admin_user.profile.country
          end
          if @admin_user.profile.country == ("United States")
            country_code = "us"
          else
            country   = ISO3166::Country.find_country_by_name(@admin_user.profile.try(:country))
            country_code = country.alpha2
          end
          @states = CS.states(country_code)
        else
          country_code = "us"
          @states = CS.states(country_code)
        end
      %>
      <div class="col-md-12">
        <div class="row">
          <div class="form-group col-md-3">
            <%= f.label :country, "Country" %><br/>
            <%= select_tag 'user[profile_attributes][country]', options_for_select(COUNTRIES, :selected => @admin_user.try(:profile).try(:country).present? ? @admin_user.profile.country : "United States"), include_blank: 'Select Country', class: 'form-control input-lg admins_country_field', id: 'ACF', required: 'required' %>
          </div>
          <div class="form-group col-md-3">
            <%= f.label :state, "State" %><br />
            <%= select_tag 'user[profile_attributes][state]', options_for_select(@states, :selected => @admin_user.try(:profile).try(:state).present? ? @admin_user.profile.state : ""), include_blank: 'Select State' , class: 'form-control input-lg admins_states_field', required: 'required' %>
          </div>
          <div class="col-md-1"></div>
          <div class="form-group col-md-5">
            <%= f.label :zip_code, "Zip Code", class: 'control-label' %>
            <%= profile.text_field :zip_code, :size => "48", class: "form-control input-lg",  placeholder: 'Zip Code', value: @admin_user.present? ? @admin_user.profile.present? ? @admin_user.profile.zip_code : '' : '' %>
            <div class="help-block with-errors"></div>
          </div>
        </div>
      </div>
    <%end%>
  	<div class="col-md-12">
	    <div class="row">
	      <div class="form-group col-md-6">
	        <%= f.label :name, "Contact Name", class: 'control-label', id: 'full_name' %>
	        <%= f.text_field :name, :size => "48", class: "form-control input-lg", required: true, placeholder: 'Full Name', value: @admin_user.present? ? @admin_user.name.present? ? @admin_user.name : '' : '' %>
	        <div class="help-block with-errors"></div>
	      </div>
	      <div class="col-md-1"></div>
	      <div class="form-group col-md-5">
	        <%= f.label :phone_number, "Contact Phone Number", id: 'phone_number_label_field' %>
	        <%= f.text_field :phone_number, id: "phone_number",pattern: "^[0-9]{1,}$", :maxlength => 12, class: " form-control shadow-sm adjust-popup-fields icon-input txtOwner input-lg phone_width100 padding_lef_for_num autocomplete_off", value: @admin_user.present? ? @admin_user.phone_number.present? ? @admin_user.phone_number : '' : '' %>
	        <%= hidden_field_tag "phone_code" %>
	        <div id="phone_msg" class="with-errors"></div>
	      </div>
	    </div>
    </div>
    <div class="col-md-12">
        <div class="row">
          <div class="form-group col-md-6">
            <%= f.label :email, 'Contact Email Address', id: 'email_label_field' %>
            <%= f.email_field :email, class: "form-control input-lg", :size => "48", required: true, placeholder: 'Contact Email Address', value: @admin_user.present? ? @admin_user.email.present? ? @admin_user.email : '' : '' %>
            <div class="help-block with-errors"></div>
            
          </div>
      	</div>
    </div>
    <div class="col-md-12 mb-5">
     <%= f.submit 'Save User' , class: "btn butt-color pull-right button-radius btnSaves phone_class btnSave1"%>
    </div>
</div>