<%= render layout: 'new' do |f| %>
  <div class="buyrate-row">
    <h3 id="buyrate-info-heading" class="header-color">Admin User Information</h3><br>
    <div class="col-md-1"></div>
    <div class="col-md-10" id="buyrate-user-fields-container">
      <%=f.hidden_field :admin_user_id,id:'user_form_id',value: params[:admin_user_id] if params[:admin_user_id].present? %>
      <%= f.hidden_field :user_id , value: @admin_user.id if @admin_user.try(:id).present? %>
      <%=f.hidden_field :format,value: params[:format] if params[:format].present? %>
      <%=f.simple_fields_for :profile, Profile.new do |f| %>
        <div class="row">
          <div class="col-md-12">
            <div class="row">
              <div class="form-group col-md-5">
                <%= f.label :company_name, "Company Name", class: 'control-label' %>
                <%= f.text_field :company_name, class: "form-control input-lg", :size => "48", placeholder: 'Company Name', value:  @admin_user.try(:profile).present? ? @admin_user.profile.try(:company_name).present? ? @admin_user.profile.company_name : 'n/a' : ''  %>
                <div class="help-block with-errors"></div>
              </div>
              <div class="col-md-1"></div>
              <div class="form-group col-md-3 no-space-break">
                <%= f.label :year_business, "Years in Business", class: 'control-label' %>
                <%= select_tag 'user[years_in_business][year]', options_for_select((0..100), @admin_user.present? ? @admin_user.profile.present? ? @admin_user.profile.years_in_business.present? ?  @admin_user.profile.years_in_business.split("-").first : '' : '' : '') , include_blank: 'Years',class: 'form-control input-lg ', required: 'required' %>
              </div>
              <div class="form-group col-md-3 no-space-break">
                <%= f.label :month_business, "Months in Business", class: 'control-label' %>
                <%= select_tag 'user[years_in_business][month]', options_for_select((0..12), @admin_user.present? ? @admin_user.profile.present? ? @admin_user.profile.years_in_business.present? ?  @admin_user.profile.years_in_business.split('-').last : '' : '' :'' ), include_blank: 'Month' , class: 'form-control input-lg ', required: 'required' %>
              </div>
            </div>
          </div>
          <div class="col-md-12">
            <div class="row">
              <div class="form-group col-md-5">
                <%= f.label :tax_id, "Tax ID", class: 'control-label' %>
                <%= f.text_field :tax_id, id:'tx', class: "form-control input-lg", :size => "48", placeholder: 'Tax ID', value: @admin_user.present? ? @admin_user.profile.present? ? @admin_user.profile.tax_id : '' : '' %>
                <div class="help-block with-errors"></div>
                <div id="tx-error" class="has-error"></div>
              </div>
              <div class="col-md-1"></div>
              <div class="form-group col-md-6">
                <%= f.label :street_address, "Address", class: 'control-label' %>
                <%= f.text_field :street_address, :size => "48", class: "form-control input-lg",  placeholder: 'Address', value: @admin_user.present? ? @admin_user.profile.present? ? @admin_user.profile.street_address : '' : '' %>
                <div class="help-block with-errors"></div>
              </div>
            </div>
          </div>
          <div class="col-md-12">
            <div class="row">
              <div class="form-group col-md-5">
                <%= f.label :ein, "SSN", class: 'control-label' %>
                <%= f.text_field :ein, id:'ssn', class: "form-control input-lg", :size => "48", placeholder: 'SSN', value: @admin_user.present? ? @admin_user.profile.present? ? @admin_user.profile.ein : '' : '' %>
                <div class="help-block with-errors"></div>
              </div>
              <div class="col-md-1"></div>
              <div class="form-group col-md-6">
                <%= f.label :city, "City", class: 'control-label' %>
                <%= f.text_field :city, :size => "48", class: "form-control input-lg",  placeholder: 'City', value: @admin_user.present? ? @admin_user.profile.present? ? @admin_user.profile.city : '' : '' %>
                <div class="help-block with-errors"></div>
              </div>
            </div>
          </div>
          <%
            if @admin_user.present? && @admin_user.profile.try(:country).present?
              if @admin_user.profile.country == ("United State") || @admin_user.profile.country== "US"
                @admin_user.profile.country = ("United States")
              else
                @admin_user.profile.country = @admin_user.profile.country
              end
              if @admin_user.profile.country == ("United States")
                country_code = "us"
              else
                country   = ISO3166::Country.find_country_by_name(@admin_user.profile.try(:country))
                country_code = country.alpha2
              end
              @states = CS.states(country_code)
            else
              country_code = "us"
              @states = CS.states(country_code)
            end
          %>
          <div class="col-md-12">
            <div class="row">
              <div class="form-group col-md-3">
                <%= f.label :country, "Country", class: 'control-label' %>
                <%= select_tag 'user[profile_attributes][country]', options_for_select(COUNTRIES, :selected => @admin_user.try(:profile).try(:country).present? ? @admin_user.profile.country : "United States"), include_blank: 'Select Country', class: 'form-control input-lg admins_country_field', required: 'required' %>
                <div class="help-block with-errors"></div>
              </div>
              <div class="form-group col-md-2">
                <%= f.label :state, "State", class: 'control-label' %>
                <%= select_tag 'user[profile_attributes][state]', options_for_select(@states, :selected => @admin_user.try(:profile).try(:state).present? ? @admin_user.profile.state : ""), include_blank: 'Select State' , class: 'form-control input-lg  admins_states_field', required:'required' %>
                <div class="help-block with-errors"></div>
              </div>
              <div class="col-md-1"></div>
              <div class="form-group col-md-6">
                <%= f.label :zip_code, "Zip Code", class: 'control-label' %>
                <%= f.text_field :zip_code, :size => "48", class: "form-control input-lg",  placeholder: 'Zip Code', value: @admin_user.present? ? @admin_user.profile.present? ? @admin_user.profile.zip_code : '' : '' %>
                <div class="help-block with-errors"></div>
              </div>
            </div>
          </div>
      <% end %>
          <div class="col-md-12">
            <div class="row">
              <div class="form-group col-md-5">
                <%= f.label :name, "Contact Name", class: 'control-label', id: 'full_name' %>
                <%= f.text_field :name, :size => "48", class: "form-control input-lg", required: true, placeholder: 'Full Name', value: @admin_user.present? ? @admin_user.name.present? ? @admin_user.name : '' : '' %>
                <div class="help-block with-errors"></div>
              </div>
              <div class="col-md-1"></div>
              <div class="form-group col-md-6">
                <%= f.label :phone_number, "Contact Phone Number", id: 'phone_number_label_field' %>
                <%= f.text_field :phone_number, id: "phone_number" , pattern: "^[0-9]{1,}$", :maxlength => 12, class: "validate_form form-control shadow-sm adjust-popup-fields icon-input txtOwner input-lg width-100-affiliate autocomplete_off", value: @admin_user.present? ? @admin_user.phone_number.present? ?  '+' + @admin_user.phone_number : '' : '' %>
                <%= hidden_field_tag "phone_code" %>
                <div class="help-block with-errors" id="phone_msg"></div>
              </div>
            </div>
          </div>
          <div class="col-md-12">
            <div class="row">
              <div class="form-group col-md-5">
                <%= f.label :email, 'Contact Email Address', id: 'email_label_field' %>
                <%= f.email_field :email, class: "form-control input-lg", :size => "48", required: true, placeholder: 'Contact Email Address', value: @admin_user.present? ? @admin_user.email.present? ? @admin_user.email : '' : '' %>
              </div>
              <div class="help-block with-errors"></div>
            </div>
          </div>
       <!--  <%# if @admin_user.present? &&  !@admin_user.new_record? %>
          <div class="col-md-12">
            <div class="row">
              <div class="form-group col-md-5">
                <%# f.label :password, class: 'control-label', id: 'password_label_edit_field' %>
                <%# f.password_field :password, class: "form-control input-lg", :size => "48", autocomplete: "off" %>
                <div class="help-block with-errors"></div>
              </div>
              <div class="col-md-1"></div>
              <div class="form-group col-md-6">
                <%# f.label :password_confirmation, class: 'control-label', id: 'password_confirmation_label_edit_field' %>
                <%# f.password_field :password_confirmation, class: "form-control input-lg", :size => "48", autocomplete: "off", data: {match: "#password_edit_field", "match-error" => "Password Mismatch"} %>
                <div class="help-block with-errors" id="pass_error"></div>
              </div>
            </div>
          </div>
          <div class="col-md-12">
            <div class="row">
              <div class="col-md-5 strength display-none-affiliate">
                <div class="figure" id="strength_human"></div>
              </div>
            </div>
          </div>
        <%# end %> -->
        </div>
    </div>
  </div>
<% end %>