<%= stylesheet_link_tag asset_path("admins/profile_details/profile_styles"), media: 'all', 'data-turbolinks-track' => 'reload' %>
<section id="modal_section"></section>
<div class="row">
  <div class="col-md-12">
    <div class="col-md-12 margin_top_2_perc">
      <div class="col-md-4 height_405px bg_color_white">
        <div class="col-md-12 margin_top_20px padding_zero">
          <label><u>Admin User Information</u></label>
        </div>
        <div class="col-md-12 margin_top_18px">
          <div>
            <label class="font_size_12px">Company Name: </label>
            <% if @user.profile.present? %>
              <%= @user.profile.company_name.present? ? @user.profile.company_name : 'n/a'%>
            <% else %>
              <%= @user.company_name.present? ? @user.company_name : '--'%>
            <% end %>
            <%#=  @user.profile.present? ? @user.profile.company_name.try(:capitalize) : '' %>
          </div>
          <div>
            <label class="font_size_12px">Contact Name: </label> <%= @user.name.present? ? @user.name.try(:capitalize) : "#{@user.first_name.try(:capitalize)} #{@user.last_name.try(:capitalize)}" %>
          </div>
          <div>
            <label class="font_size_12px">Address: </label> <%= @user.profile.present? ? @user.profile.street_address : '' %>
          </div>
          <div>
            <label class="font_size_12px">Email: </label> <%= @user.email %>
          </div>
          <div>
            <label class="font_size_12px">Phone: </label> <%= number_to_phone(@user.phone_number, area_code: true)  %>
          </div>
          <div>
            <label class="font_size_12px">Tax ID: </label> <%= @user.profile.present? ? @user.profile.tax_id : '' %>
          </div>
          <div>
            <label class="font_size_12px">SSN: </label> <%= @user.profile.present? ? @user.profile.ein.try(:last, 4) : '' %>
          </div>
        </div>
        <div class="col-md-12 edit_label_div">
          <label class="pull-right"> <strong>Edit</strong>
            <% unless current_user.support_mtrac? %>
              <a href="/admins/<%= @user.role %>s/<%= @user.role %>_signup?<%= @user.role %>_id=<%= @user.try(:id) %>&count=2&format=<%= params[:format] %>" class="pull-right"><span class="fa fa-external-link fa-2x margin_left_5px"></span></a>
            <% else %>
              <a href="#" id="cursor-disable" class="pull-right"><span class="fa fa-external-link fa-2x margin_left_5px"></span></a>
            <% end %>
          </label>
        </div>
      </div>
      <div class="col-md-8">
        <div class="col-md-12 min_height_405px padding_zero bg_color_white">
          <div class="col-md-12 dba_location dba_location_div">
            <div class="col-md-12">
              <div class="col-md-10 padding_top_8px padding_zero">
                <div class="col-md-4 padding_zero">
                  <h5 class="float_left">Admin User</h5>
                </div>
              </div>
              <div class="padding_zero">
                <div class="col-md-12 margin_top_40px padding_left_zero">
                <div class="col-md-12 bank_account_main">
                  <div class="col-md-3">
                  		 <a href="/admins/<%= @user.role %>s/system_fee?<%= @user.role %>_id=<%= @user.try(:id) %>&count=2&format=<%= params[:format] %>">
                          <div class="col-md-12 button_info">
                            <p class="button_info_text">Fees</p>
                          </div>
                        </a>
                  </div>

                  <div class="col-md-3">
              		 <a href="/admins/users?admin_user=<%=@user.id%>&user=affiliate_programs">
                      <div class="col-md-12 button_info">
                        <p class="button_info_text">Affiliates</p>
                      </div>
                    </a>
                  </div>

           <!--         <div class="col-md-3">
                      <a href="/admins/isos/bank_account?user_id=<%# @user.try(:id) %>&format=<%# params[:format] %>">
                        <div class="col-md-12 button_info">
                          <p class="button_info_text">Bank Account</p>
                        </div>
                      </a>
                    </div>
 -->
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <input type="hidden" id="user_id" value="<%= @user.id %>">
    <input type="hidden" id="user_email" value="<%= @user.email %>">
    <div class="modal fade" id="myModal" role="dialog">
      <div class="modal-dialog modal-sm modal-dialog-centered">

        <!-- Modal content-->
        <div class="modal-content margin-right-25-percent margin-left-25-percent">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">Reset Password</h4>
          </div>
          <%= simple_form_for @user , url: iso_path(id: "iso_signup", from:"profile") , method: :put, html:{id: :isoform, onsubmit:"disableButton('isoform','submit_edit_button')"}  do |f| %>
            <div class="modal-body">
              <div class="col-md-12">
                <div class="col-md-12">

                  <%=f.hidden_field :iso_id,id:'user_form_id',value: @user.id %>
                  <%=f.hidden_field :format,value: params[:format] if params[:format].present? %>
                  <input type="hidden" name="user[id]" value="<%= @user.id %>>">
                  <%#=f.simple_fields_for :profile, Profile.new do |f| %>
                  <div class="form-group">
                    <%= f.label :password, class: 'control-label', id: 'password_label_edit_field' %><br/>
                    <%= f.password_field :password, class: "form-control" %>
                    <div class="help-block with-errors"></div>
                  </div>
                  <div class="col-md-12">
                    <div class="strength st_human">
                      <div class="figure" id="strength_human"></div>
                    </div>
                  </div>
                  <div class="form-group">
                    <%= f.label :password_confirmation, class: 'control-label', id: 'password_confirmation_label_edit_field' %>
                    <br/>
                    <%= f.password_field :password_confirmation, class: "form-control", data: {match: "#password_edit_field", "match-error" => "Password Mismatch"} %>
                    <div class="help-block with-errors"></div>
                  </div>
                    <%# end %>
                </div>
              </div>
            </div>
            <div class="modal-footer">
              <button type="Submit" class="btn btn-default">Save</button>
              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
          <% end %>
        </div>

      </div>
    </div>
  </div>
</div>
<section id="admin_verific">
  <%= render partial: 'admins/shared/profiles/admin_verification' %>
</section>
