<%=render layout: 'new' do %>
  <input type="hidden"  name="user[admin_user_id]"  value='<%=params[:admin_user_id] if params[:admin_user_id].present? %>'/>
  <input type="hidden"  name="user[format]"  value='<%= params[:format] if params[:format].present? %>'/>
  <!--  ------To Getting Form Work------>
  <% user=@admin_user %>
  <!--  ------end---------->
  <h3 class="header-color">Admin User Fees</h3><br>

  <div class="buyrate-tab-container col-md-10">
    <div class="col-md-12 zero-padding">
      <div class="form-group col-md-3">
        <label class="inline"><span class="bullet-label"></span>Gift Card fee</label>
      </div>
      <div class="form-group col-md-3">
        <div class="input-icon icon_inside_input_field">
          <i>$</i>
          <input placeholder="0.0" class="system_fee form-control buyrate_fields" type="text" id="system_fee_giftcard" name="user[system_fee][giftcard_fee]" data-validate="false" value='<%= user.system_fee['giftcard_fee'] %>'/>
        </div>
      </div>
    </div>

<!--     <hr class="hr hr_sys_doc"> -->

<!--     <div class="col-md-12 zero-padding">
      <div class="form-group col-md-3">
        <label class="inline"><span class="bullet-label"></span>Min Account Balance</label>
      </div>
      <div class="form-group col-md-3">
        <div class="input-icon icon_inside_input_field">
          <i>$</i>
          <input placeholder="0.0" class="system_fee form-control buyrate_fields check_withdraw_limit" onClick="SelectAll('check_withdraw_limit');" type="text" id="system_fee_check_withdraw_limit" name="user[system_fee][check_withdraw_limit]" data-validate="false" value='<%= user.system_fee.try(:[], 'check_withdraw_limit').present? ? user.system_fee.try(:[], 'check_withdraw_limit') : '100' %>'/>
        </div>
      </div>
    </div> -->

    <hr class="hr hr_sys_doc">

    <div class="col-md-12 zero-padding">
      <div class="form-group col-md-3">
        <label class="inline"><span class="bullet-label"></span>Send Check</label>
      </div>
      <div class="form-group col-md-3">
        <div class="input-icon icon_inside_input_field">
          <i>$</i>
          <input placeholder="0.0" class="system_fee form-control buyrate_fields" type="text" id="system_fee" name="user[system_fee][send_check]" data-validate="false" value='<%= user.system_fee['send_check'] %>'/>
        </div>
      </div>
      <div class="form-group col-md-3">
        <div class="input-icon icon_inside_input_field">
          <i>%</i>
          <input placeholder="0.0" class="system_fee form-control percentage_validation" type="text" id="system_fee_redeem_fee" name="user[system_fee][redeem_fee]" data-validate="false" value='<%= user.system_fee['redeem_fee'] %>'/>
        </div>
      </div>
    </div>

    <hr class="hr hr_sys_doc">

    <div class="col-md-12 zero-padding">
      <div class="form-group col-md-3">
        <label class="inline"><span class="bullet-label"></span>Failed Check Fee</label>
      </div>
      <div class="form-group col-md-3">
        <div class="input-icon icon_inside_input_field">
          <i>$</i>
          <input placeholder="0.0" class="system_fee form-control buyrate_fields check_withdraw_limit" type="text" id="system_fee_failed_check_fee" name="user[system_fee][failed_check_fee]" data-validate="false" value='<%= user.system_fee.try(:[], 'failed_check_fee').present? ? user.system_fee.try(:[], 'failed_check_fee') : '0.0' %>'/>
        </div>
      </div>
    </div>

    <hr class="hr hr_sys_doc">

    <div class="col-md-12 zero-padding">
      <div class="form-group col-md-3">
        <label class="inline"><span class="bullet-label"></span>Send Check limit</label>
      </div>
      <div class="form-group col-md-3">
        <div class="input-icon icon_inside_input_field">
          <%= select_tag 'user[system_fee][check_limit_type]', options_for_select(['Transaction', 'Day'], user.system_fee.try(:[], 'check_limit_type')), include_blank: "Choose", class: "form-control" %>
        </div>
      </div>
      <div class="form-group col-md-3">
        <div class="input-icon icon_inside_input_field">
          <i>$</i>
          <input placeholder="0.0" id="aff_check_limit" class="system_fee form-control buyrate_fields" type="text" name="user[system_fee][check_limit]" value='<%= user.system_fee.try(:[], 'check_limit') %>'/>
        </div>
      </div>
    </div>
    <div class="col-md-12"><span class="aff_check_limit_error col-md-offset-3 text-danger display-none">Please Choose Limit Type</span></div>

<hr class="hr hr_sys_doc">

<!--         <div class="col-md-12 zero-padding">
      <div class="form-group col-md-3">
        <label class="inline"><span class="bullet-label"></span>Add Money By Check</label>
      </div>
      <div class="form-group col-md-3">
        <div class="input-icon icon_inside_input_field">
          <i>$</i>
          <input placeholder="0.00" class="system_fee form-control buyrate_fields" type="text" id="system_fee" name="user[system_fee][add_money_dollar]" data-validate="false" value='<%# user.system_fee['add_money_dollar'] %>'/>
        </div>
      </div>
      <div class="form-group col-md-3">
        <div class="input-icon icon_inside_input_field">
          <i>%</i>
          <input placeholder="0.0" class="system_fee form-control percentage_validation" type="text" id="system_fee" name="user[system_fee][add_money_percent]" data-validate="false" value='<%# user.system_fee['add_money_percent'] %>'/>
        </div>
      </div>
    </div>
    <hr class="hr hr_sys_doc"> -->
    <div class="col-md-12 zero-padding">
      <div class="form-group col-md-3">
        <label class="inline"><span class="bullet-label"></span>Push to Card</label>
      </div>
      <div class="form-group col-md-3">
        <div class="input-icon icon_inside_input_field">
          <i>$</i>
          <input placeholder="0.00" class="system_fee form-control buyrate_fields" type="text" id="system_fee" name="user[system_fee][push_to_card_dollar]" data-validate="false" value='<%= user.system_fee['push_to_card_dollar'] %>'/>
        </div>
      </div>
      <div class="form-group col-md-3">
        <div class="input-icon icon_inside_input_field">
          <i>%</i>
          <input placeholder="0.0" class="system_fee form-control percentage_validation" type="text" id="system_fee_push_to_card_percent" name="user[system_fee][push_to_card_percent]" data-validate="false" value='<%= user.system_fee['push_to_card_percent'] %>'/>
        </div>
      </div>
    </div>
    <hr class="hr hr_sys_doc">

    <div class="col-md-12 zero-padding">
      <div class="form-group col-md-3">
        <label class="inline"><span class="bullet-label"></span>Failed Push to Card Fee</label>
      </div>
      <div class="form-group col-md-3">
        <div class="input-icon icon_inside_input_field">
          <i>$</i>
          <input placeholder="0.0" class="system_fee form-control buyrate_fields check_withdraw_limit" type="text" id="system_fee_failed_push_to_card_fee" name="user[system_fee][failed_push_to_card_fee]" data-validate="false" value='<%= user.system_fee.try(:[], 'failed_push_to_card_fee').present? ? user.system_fee.try(:[], 'failed_push_to_card_fee') : '0.0' %>'/>
        </div>
      </div>
    </div>

    <hr class="hr hr_sys_doc">

    <div class="col-md-12 zero-padding">
      <div class="form-group col-md-3">
        <label class="inline"><span class="bullet-label"></span>Push To Card Limit</label>
      </div>
      <div class="form-group col-md-3">
        <div class="input-icon icon_inside_input_field">
          <%= select_tag 'user[system_fee][push_to_card_limit_type]', options_for_select(['Transaction', 'Day'], user.system_fee.try(:[], 'push_to_card_limit_type').present? ? user.system_fee.try(:[], 'push_to_card_limit_type') : 'Transaction'), include_blank: "Choose", class: "form-control" %>
        </div>
      </div>
      <div class="form-group col-md-3">
        <div class="input-icon icon_inside_input_field">
          <i>$</i>
          <input placeholder="0.0" id="aff_p2c_limit" class="system_fee form-control buyrate_fields" type="text" name="user[system_fee][push_to_card_limit]" value='<%= user.system_fee.try(:[], 'push_to_card_limit').present? ? user.system_fee.try(:[], 'push_to_card_limit') : '2000' %>'/>
        </div>
      </div>
    </div>
    <div class="col-md-12"><span class="aff_p2c_limit_error col-md-offset-3 text-danger display-none">Please Choose Limit Type</span></div>

    <hr class="hr hr_sys_doc">

    <div class="col-md-12 zero-padding">
      <div class="form-group col-md-3">
        <label class="inline"><span class="bullet-label"></span>ACH Fee</label>
      </div>
      <div class="form-group col-md-3">
        <div class="input-icon icon_inside_input_field">
          <i>$</i>
          <input placeholder="0.00" class="system_fee form-control buyrate_fields" type="text" id="system_fee" name="user[system_fee][ach_dollar]" data-validate="false" value='<%= user.system_fee['ach_dollar'] %>'/>
        </div>
      </div>
      <div class="form-group col-md-3">
        <div class="input-icon icon_inside_input_field">
          <i>%</i>
          <input placeholder="0.0" class="system_fee form-control percentage_validation" type="text" id="system_fee_ach_percent" name="user[system_fee][ach_percent]" data-validate="false" value='<%= user.system_fee['ach_percent'] %>'/>
        </div>
      </div>
    </div>
    <hr class="hr hr_sys_doc">

    <div class="col-md-12 zero-padding">
      <div class="form-group col-md-3">
        <label class="inline"><span class="bullet-label"></span>Failed ACH Fee</label>
      </div>
      <div class="form-group col-md-3">
        <div class="input-icon icon_inside_input_field">
          <i>$</i>
          <input placeholder="0.0" class="system_fee form-control buyrate_fields check_withdraw_limit" type="text" id="system_fee_failed_ach_fee" name="user[system_fee][failed_ach_fee]" data-validate="false" value='<%= user.system_fee.try(:[], 'failed_ach_fee').present? ? user.system_fee.try(:[], 'failed_ach_fee') : '0.0' %>'/>
        </div>
      </div>
    </div>

    <hr class="hr hr_sys_doc">

    <div class="col-md-12 zero-padding">
      <div class="form-group col-md-3">
        <label class="inline"><span class="bullet-label"></span>ACH Limit</label>
      </div>
      <div class="form-group col-md-3">
        <div class="input-icon icon_inside_input_field">
          <%= select_tag 'user[system_fee][ach_limit_type]', options_for_select(['Transaction', 'Day'], user.system_fee.try(:[], 'ach_limit_type')), include_blank: "Choose", class: "form-control" %>
        </div>
      </div>
      <div class="form-group col-md-3">
        <div class="input-icon icon_inside_input_field">
          <i>$</i>
          <input placeholder="0.0" id="aff_ach_limit" class="system_fee form-control buyrate_fields" type="text" name="user[system_fee][ach_limit]" value='<%= user.system_fee.try(:[], 'ach_limit') %>'/>
        </div>
      </div>
    </div>
    <div class="col-md-12"><span class="aff_ach_limit_error col-md-offset-3 col-md-3 text-danger display-none">Please Choose Limit Type</span></div>
  </div>
<% end %>
<%= javascript_include_tag 'admins/affiliates.js' %>