

<div class="col-md-12 card">
  <% if params[:format].present? %>
     <%= link_to "x",  profile_isos_path(params[:format]), class: 'btn btn-sm c_btn'  %>
    <%else %>
     <%= link_to "x", users_path(user: "agents"), class: 'btn btn-sm c_btn'  %>
  <%end %>

  <%if params[:count].present? && params[:count].to_i==2
    else %>

    <h1 class="text-center blu-color margin-top-1-5-em-agent">Create New Agent</h1>

    <h3 class="margin-left-2-em-agent">Add Agent Info</h3>

    <div class="row">
      <div class="col-md-12">
        <div class="row">
          <div class="col-md-1"></div>
          <div class="col-md-10 margin-left-6-agent">
            <table width="100%">
              <thead>
              <tr>
                <th class="width-25-agent">
                  <a href="<%= wizard_path(:agent_signup,user_data_id: params[:user_data_id]) %>" class="fa-stack fa-lg margin-left-10-agent" id="a_1">
                    <i class="fa fa-circle fa-stack-2x blu-color"></i>
                    <i class="fa fa-stack-1x fa-inverse">1</i>
                  </a>
                  <hr>
                </th>
                <th class="width-25-agent">
                  <a href="<%= wizard_path(:agent_buyrate,user_data_id: params[:user_data_id]) %>" class="fa-stack fa-lg margin-left-9-agent" id="a_2">
                    <i class="fa fa-circle fa-stack-2x grey-color"></i>
                    <i class="fa fa-stack-1x fa-inverse">2</i>
                  </a>
                  <hr>
                </th>
                <th class="width-25-agent">
                  <a href="<%= wizard_path(:system_fee,user_data_id: params[:user_data_id]) %>" class="fa-stack fa-lg margin-left-5-agent" id="a_3">
                    <i class="fa fa-circle fa-stack-2x grey-color"></i>
                    <i class="fa fa-stack-1x fa-inverse">3</i>
                  </a>
                  <hr>
                </th>
                <th class="width-25-agent">
                  <a href="<%= wizard_path(:agent_documentation,user_data_id: params[:user_data_id]) %>" class="fa-stack fa-lg margin-left-10-agent" id="a_4">
                    <i class="fa fa-circle fa-stack-2x grey-color"></i>
                    <i class="fa fa-stack-1x fa-inverse">4</i>
                  </a>
                  <hr class="display-none-agent">
                </th>
              </tr>
              </thead>
              <tbody>
              <tr>
                <td><strong>Agent Information</strong></td>
                <td><strong>Agent Buy Rate</strong></td>
                <td><strong>Agent Fees</strong></td>
                <td><strong>Documentation</strong></td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  <% end %>
  <br/>
  <%=simple_form_for  @agent, url: wizard_path , method: :put, html:{id: :isoform, multipart: true} do |f| %>
    <div class="container-margin">
      <%if params[:count].to_i==2 %>
        <div class="margin-top-5-rem-agent"></div>
      <% end %>
      <input type="hidden" name="user_data_id" value="<%= params[:user_data_id] if params[:user_data_id].present? %>">
      <%= yield f %>
      <div class="col-md-12">
        <div class="bottom-padding margin-bottom-5-agent">
          <div class="col-md-12">
          <%if params[:agent_id].present? %>
            <%if params[:format].present? %>

              <%= link_to 'Back',profile_isos_path(params[:format],user_data_id: params[:user_data_id]),class: 'btn button-color pull-left button-radius show-cover-spin' %>
            <% else %>
              <%= link_to 'Back',users_path(user: "agents",user_data_id: params[:user_data_id]),class: 'btn button-color pull-left button-radius show-cover-spin' %>
            <% end %>
              <% unless current_user.support_mtrac? %>
                <%=f.submit 'Save',class: 'btn butt-color button-radius pull-right phone_class',id: 'submit_button'%>
              <% end %>
          <% else %>
            <%if @step==:agent_documentation || @step==:agent_signup %>
              <%= link_to 'Cancel',users_path(user: "agents"),class: 'btn button-color pull-left button-radius show-cover-spin'%>
            <%else%>
              <%= link_to 'Back', previous_wizard_path(user_data_id: params[:user_data_id]), class: 'btn button-color pull-left button-radius show-cover-spin' %>
            <% end %>
            <%if @step==:agent_documentation %>
              <%=f.submit 'Create Agent',class: 'btn butt-color pull-right button-radius agent-create'%>
            <%else%>
              <%=f.submit 'Next',class: 'btn butt-color pull-right button-radius phone_class agent-create',id: 'submit_button'%>
            <% end %>
          <% end %>
        </div>
        </div>
      </div>

<!--      <div class="col-md-12">-->
<!--        <div class="bottom-padding">-->
          <%#if params[:agent_id].present? %>
            <%#if params[:format].present? %>
              <%#= link_to 'Back',profile_isos_path(params[:format]),class: 'btn button-color button-radius show-cover-spin' %>
            <%# else %>
              <%#if @step==:agent_documentation || @step==:agent_signup %>
                <%#= link_to 'Cancel',users_path(user: "agents"),class: 'btn button-color button-radius show-cover-spin'%>
              <%#else%>
                <%#= link_to 'Back', previous_wizard_path,class: 'btn button-color button-radius show-cover-spin' %>
              <%# end %>
            <%# end %>
            <%#=f.submit 'Save',class: 'btn butt-color button-radius show-cover-spin',id: 'submit_button' %>
          <%# else %>


            <%#= link_to 'Cancel', users_path(user: "agents"),class: 'btn button-color button-radius show-cover-spin'%>
            <%#if @step==:agent_documentation %>
              <%#=f.submit 'Create Agent',class: 'btn butt-color button-radius show-cover-spin',id: 'submit_button'%>
            <%#else%>
              <%#=f.submit 'Next',class: 'btn butt-color button-radius show-cover-spin',id: 'submit_button' %>
            <%# end %>
          <%# end %>
<!--        </div>-->
<!--      </div>-->
    </div>
  <% end %>
</div>
<div id="cover-spin" ></div>
<%=render partial: 'admins/iso_agent_affiliate_style' %>