
<div class="title-block margin-bottom-1-px-agent" >
  <h1 class="title text-capitalize" id="buyrate-title">
    Edit Agent
  </h1>
</div>
<div class="padding-bottom-0-agent" >
</div>
<div class="row">
  <div class="col-md-12">
    <%= simple_form_for @agent , url: agent_path , method: :put,html:{id: :agentform,multipart: true, onsubmit:"disableButton('agentform','submit_edit_button')"}  do |f| %>
        <div class="row">
          <%= f.hidden_field 'form_id', :value => @agent.id %>
          <div class="col-md-12">
            <div class="col-md-12" id="buyrate-container">
              <h6 class="pull-right tos_acceptance_agent_h6">
                TOS Acceptance:
                <% if @agent.tos_acceptance_date.present? && @agent.tos_checking %>
                  <span class="fa fa-check color-green-agent"></span> <span class="timeUtc"><%= @agent.tos_acceptance_date.strftime("%Y-%m-%d %H:%M:%S %z") %></span>
                <% else %>
                  <span class="fa fa-times color-red-agent"></span> Pending
                <% end %>
              </h6>
              <h5 id="buyrate-info-heading">Agent Information</h5>
              <br>
              <div class="col-md-8" id="buyrate-user-fields-container">
                <div class="form-group">
                  * <%= f.label :first_name,class: 'control-label' %><br />
                  <%= f.text_field :first_name , class:"form-control",required: true%>
                  <div class="help-block with-errors"></div>
                </div>
                <div class="form-group">
                  * <%= f.label :last_name,class: 'control-label' %><br />
                  <%= f.text_field :last_name , class:"form-control",required: true%>
                  <div class="help-block with-errors"></div>
                </div>
                <div class="form-group">
                  * <%= f.label :email,class: 'control-label',id:'company_email_label_edit_field' %><br />
                  <%= f.email_field :email, class:"form-control", required: true, email: true %>
                  <div class="help-block with-errors"></div>
                </div>
                <div class="form-group">
                  * <%= f.label :phone_number,class: 'control-label',id:'phone_number_label_edit_field' %><br />
                  <%= f.text_field :phone_number,pattern: "^[0-9]{1,}$",class:"form-control", required: true %>
                  <div class="help-block with-errors"></div>
                </div>
                <% if !@agent.new_record? %>
                  <div class="form-group">
                    <%= f.label :password,class: 'control-label',id:'password_label_edit_field' %><br />
                    <%= f.password_field :password,class:"form-control" %>
                    <div class="help-block with-errors"></div>
                  </div>
                  <div class="strength display-none-agent">
                    <div class="figure" id="strength_human"></div>
                  </div>
                  <div class="form-group">
                    <%= f.label :password_confirmation,class: 'control-label',id:'password_confirmation_label_edit_field' %><br />
                    <%= f.password_field :password_confirmation,class:"form-control", data:{match: "#password_edit_field","match-error" => "Password Mismatch"} %>
                    <div class="help-block with-errors"></div>
                  </div>
                <% end %>

                <%= render partial: 'admins/shared/system_fee', :locals => {:f => f, system_fee_fields_title: "Agent Fee", user: @agent } %>
              </div>
              <div class="col-md-4"></div>
              <!-- Buy Rate Partial-->
              <div class="col-md-12" id="buyrate-fields-container">
                <%= render partial: 'agent_buyrate', :locals => {:f => f } %>
              </div>
              <div class="col-md-12" id="buyrate-save-btn-div">
                <%= f.submit "Save Agent", class:"btn btn-success", id:"submit_edit_button"%>
<!--                <button type="submit" class="btn btn-success" id="submit_edit_button">Save Agent</button>-->
              </div>
            </div>
          </div>
        </div>
    <% end %>
  </div>
</div>
<%= javascript_include_tag 'admins/agents.js' %>
