<div class="title-block margin-bottom-1-px-agent" >
  <h1 class="title text-capitalize" id="buyrate-title"  >
    New Agent
  </h1>
</div>
<div class="padding-bottom-0-agent">
</div>
<div class="row">
  <div class="col-md-12">
    <%= simple_form_for @agent , url: agents_path , method: :post, html:{id: :agentform, onsubmit:"disableButton('agentform','submit_edit_button')"}  do |f| %>
        <div class="row">
          <div class="col-md-12">
            <%= render partial: 'agent_signup', :locals => {:f => f } %>
          </div>
        </div>
    <% end %>
  </div>
</div>