

<div class="sidebar-overlay" id="sidebar-overlay"></div>


<div class="title-block margin-bottom-1-px-agent" >
  <h1 class="title">
    <%= @agent.name %> Wallets </h1>
</div>
<div class="padding-bottom-0-agent">
</div>
<section class="section">

  <div class="row">
    <div class="col-md-12">
      <div class="card sameheight-item items" data-exclude="xs,sm,lg">
        <div class="card-header bordered">
          <div class="header-block">
            <h3 class="title">All Wallets</h3>

          </div>
          <!--<div class="header-block pull-right">-->
          <!--<button type="button" data-toggle="modal" data-target="#search" class="btn btn-warning btn-sm"><i class="icon-magnifier icons"></i> Search</button>-->
          <!--</div>-->
          <%#= link_to 'All', user_all_transactions_path(@iso),class: 'btn btn-warning pull-right' %>
        </div>

        <section class="example">
          <div class="">
            <div class="table-responsive">
              <table id="datatable-iso" class="table table-striped table-bordered table-hover" cellspacing="0" cellpadding="0">

                <thead>
                <tr>
                  <th class="all">ID</th>
                  <th>Name</th>
                  <th class="all">Actions</th>
                </tr>
                </thead>

                <tbody>
                <% @wallets.each do |wallet| %>

                    <tr>
                      <td id="id"><%= wallet.id %></td>
                      <td><%= wallet.name %></td>


                      <td>
                        <%= link_to   user_transactions_path(wallet.slug) , class: 'btn btn-sm btn-success' do %>
                            Transactions
                        <% end %>

                      </td>

                    </tr>
                <%end%>

                </tbody>
              </table>
            </div>
          </div>
        </section>
      </div>
    </div>
  </div>
</section>


<script type="text/javascript">
//     $('#datatable-iso').DataTable({
// //        responsive: true,
//         "sScrollX": false,
//         "scrollX": false
//     });
</script>
<%= javascript_include_tag 'admins/agents.js' %>