<div class="row">
  <div class="col-md-12">
    <span id="show_4">Show</span>
      <span id="form_4">
        <%= form_tag merchant_invoices_path, method: :get, id: 'b2b_filter'  do  %>
           <%= select_tag "filter", options_for_select(@filters.map{|v|[v]}, selected: params[:filter].present? ? params[:filter] : "10"),
            :prompt => false,
            :required => true,
            class: "form-control form-control-sm",
            data: {confirm: "Are you sure ?"}
           %>
           <input type="hidden" name="req" value="<%= params[:req] %>">
        <% end %>
      </span>
      <span id="entries_4">Entries</span>
  </div>
  <div class="col-md-12"></div>
</div>
<input type="hidden" id="tab_name_input" value="<%= params[:tab] %>">
<div class="table-responsive">
<table class="table table-striped">
  <thead>
  <tr class="table-header">
    <th>ID</th>
    <th>Date</th>
    <th>Sender</th>
    <th>Reciever</th>
    <th id="amount_field">Amount</th>
    <th>Status</th>
    <th>View</th>
  </tr>
  </thead>
  <tbody>
  <% if invoices.size > 0 %>
      <% invoices.each do |i| %>
          <tr id="invoice_row_<%= i.id %>">
            <td><%=i.id %></td>
            <% if cookies[:timezone].present? %>
              <td ><%= i.created_at.in_time_zone(cookies[:timezone]).strftime("%Y-%m-%d %I:%M:%S %p")%></td>
            <%else %>
              <td class="timeUtc"><%= i.created_at.strftime("%Y-%m-%d %H:%M:%S %z") %></td>
            <% end %>
            <!--<td><%#=i.created_at.localtime.strftime("%m/%d/%Y %I:%M:%S %p") %></td>-->
            <td><%= User.where(id: i.sender_id).try(:first).iso? ? User.where(id: i.sender_id).try(:first).try(:company_name) : User.where(id: i.sender_id).try(:first).try(:name).truncate(24) || "---" %></td>
            <td><%=User.where(id: i.reciever_id).try(:first).iso? ? User.where(id: i.reciever_id).try(:first).try(:company_name) : User.where(id: i.reciever_id).try(:first).try(:name).truncate(24) || "---" %></td>
            <td id="td_01" >
              <p id="p_01" >
                <% if i.sender_id == current_user.id || i.sender_id == current_user.merchant_id %>
                  $<%= number_with_precision( i.amount , precision: 2, delimiter: ',') %>
                <% else %>
                  -$<%= number_with_precision( i.amount , precision: 2, delimiter: ',') %>
                <% end %>
              </p>
            </td>
            <td id="invoice_td">
              <%if i.status=='in_progress' %>
                  <span class="badge badge-info">In Progress</span>
              <%elsif i.status=='approved'  %>
                  <span class="badge badge-success">Approved</span>
              <%elsif i.status=='rejected'  %>
                  <span class="badge badge-danger">Rejected</span>
              <%elsif i.status=='cancel'  %>
                  <span class="badge badge-warning">Cancelled</span>
              <% end  %>
            </td>
            <td><%= link_to '<button class="btn btn-xs btn-default show-cover-spin view_request_money"><i class="fa fa-eye"></i></button>'.html_safe, merchant_invoice_detail_modal_path(i.id), remote: true  %></td>
          </tr>
      <% end %>
  <% else %>
      <tr>
        <td colspan="7"><h3 id="heading_05">No Entries Yet!</h3></td>
      </tr>
  <%end %>
  </tbody>
</table>
</div>

<div class="row">
  <div class="col-md-4 text-left">
    <span>Showing <%=invoices.try(:size)%> of <%=invoices.total_entries %> records</span>
  </div>
  <div class="col-md-8 ">
    <%= paginate invoices, :theme => 'twitter-bootstrap-3', :pagination_class => "pagination-small pagination-centered pull-right padd"%>
  </div>
</div>