<%= stylesheet_link_tag asset_path("merchant/invoices_details/invoices_details_styles"), media: 'all', 'data-turbolinks-track' => 'reload' %>

<nav>
  <div class="nav nav-tabs" id="nav-tab" role="tablist">
    <a class="nav-item nav-link text-center invoices_menu fit-content <%= (params[:req] == "all" || params[:req] == nil) ? 'active' : ''%>" id="nav-home-tab " href="<%= merchant_invoices_path(req: "all") %>" role="tab" aria-controls="nav-home" aria-selected="true"><span>All Requests</span></a>
    <a class="nav-item nav-link text-center invoices_menu fit-content <%= params[:req] == "approved" ? 'active' : ''%>"  id="nav-approved-tab" href="<%= merchant_invoices_path(req: "approved") %>" role="tab" aria-controls="nav-approved" aria-selected="false"><span>Approved</span></a>
    <a class="nav-item nav-link text-center invoices_menu fit-content <%= params[:req] == "pending" ? 'active' : ''%>"  id="nav-pending-tab" href="<%= merchant_invoices_path(req: "pending") %>" role="tab" aria-controls="nav-pending" aria-selected="false"><span>Pending</span></a>
    <a class="nav-item nav-link text-center invoices_menu fit-content <%= params[:req] == "rejected" ? 'active' : ''%>"  id="nav-rejected-tab"  href="<%= merchant_invoices_path(req: "rejected") %>" role="tab" aria-controls="nav-rejected" aria-selected="false"><span>Rejected</span></a>
    <!--<a class="nav-item nav-link text-center" id="nav-request-tab" onclick="display()" href="#nav-request" role="tab" aria-controls="nav-request" aria-selected="false"><span>Request Money</span></a>-->
  </div>
</nav>
