
<div id="detailInvoice" class="modal fade show myModal" role="dialog" >
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header bg-primary">
        <h4 class="modal-title text-white">Request</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      <div class="modal-body">
        <section id="errormessage"></section>
        <div class="row">
          <div class="col-md-7">
          <div class="form-group">
            <label class="font-weight-bold">Reciever </label>
            <p><%= request.reciever_id  %></p>
          </div>

          <div class="form-group">
            <label class="font-weight-bold">Sender </label>
            <p><%= request.sender_id  %></p>
          </div>

            <div class="form-group">
              <label class="font-weight-bold">Amount </label>
              <p>$ <%= number_with_precision( request.amount , precision: 2, delimiter: ',')  %></p>
            </div>

          <div class="form-group">
            <label class="font-weight-bold">Requested Date</label>
            <p id="timeUtc" class="timeUtc"><%= request.created_at%></p>
          </div>

          <div class="form-group">
            <label class="font-weight-bold">Description</label>
            <p><%= request.description  %></p>
          </div>
          <div class="form-group">
            <% if request.status == "in_progress"%>
              <label class="font-weight-bold">Change request</label><br>
            <% else %>
                <label class="font-weight-bold">Status</label><br>
          <% end %>
            <% if request.status =="in_progress" %>
                <%# if current_user.id == request.reciever_id || current_user.merchant_id == request.reciever_id %>
                    <% sequence_down = AppConfig.try(:sequence_down).try(:first) %>
                    <% if (sequence_down.present? && sequence_down.boolValue == true) || (ENV['SEQUENCE_DOWN'].present? && ENV['SEQUENCE_DOWN'] == "true") %>
                      <button  class="btn btn-primary" data-toggle="collapse" href="#maintenance_message" aria-expanded="false" aria-controls="maintenance_message" id="accept_reject_btn"><i class="fa fa-edit"></i> Accept/Reject</button>
                    <% else %>
                <% if current_user.id == request.sender_id %>
                  <%=	 form_tag merchant_invoice_update_invoice_status_path(@invoice.id)  do  %>
                    <%= text_field_tag 'status',"2", class: "form-control hidden"%>
                    <%=	 submit_tag "Cancel" ,class: "btn btn-primary" %>
                  <% end %>
                <% else %>
                  <button  class="btn btn-primary" data-toggle="collapse" href="#search" aria-expanded="false" aria-controls="search" id="accept_reject_btn"><i class="fa fa-edit"></i> Accept/Reject</button>
                <% end %>
                    <% end %>
                    <%#= link_to '<button  class="btn btn-primary" data-toggle="collapse" href="#search" aria-expanded="false" aria-controls="search"><i class="fa fa-edit"></i> Accept/Reject</button>'.html_safe, merchant_invoice_status_modal_path(request.id),class: "pull-left", id: 'modal_to_hide_bd', style: "color:blue;text-decoration:underline", remote: true %>
                <%# else %>
                    <%#= form_tag merchant_invoice_update_invoice_status_path(request.id), method: :post  do  %>
                        <%#=  select_tag('status', options_for_select([["Cancel", "1"]]),
                                        include_blank: "Change status",
                                        :prompt => false,
                                        :required => true,
                                        id: 'status',
                                        :onchange => 'this.form.submit();',
                                        class: "form-control form-control-sm")
                        %>
                    <%# end %>

                <%# end %>

            <% else %>
                <%if request.status=='approved'  %>
                    <span class="badge badge-success">Approved</span>
                <%elsif request.status=='rejected'  %>
                    <span class="badge badge-danger">Rejected</span>
                <%elsif request.status=='cancel'  %>
                    <span class="badge badge-warning">Cancelled</span>
                <% end  %>
            <% end %>
          </div>
            <%=	 form_tag merchant_invoice_update_invoice_status_path(@invoice.id)  do  %>
                <div class="collapse mb-3" id="search">
                  <div class="card card-body">
                <div class="row">
                  <div class="col-md-2"></div>
                  <div class="col-md-6">
                    <div class="form-group">
                      <%= select_tag('status', options_for_select([["Reject", "2"], ["Approve", "3"]]), include_blank: "Change status", class: 'form-control', id: 'status') %>
                    </div>
                  </div>
                  <div class="col-md-4"></div>
                  <div class="col-md-2"></div>
                  <div class="col-md-6">
                    <div class="form-group">
                      <% if @list.size != 1 %>
                          <select class="form-control from_wallet" id="from_wallet" name="from_wallet">
                            <option value="">Select your Wallet</option>
                            <%= @list.each do |w| %>
                                <option value="<%= w[:wallet_id] %>" data-balance="<%= number_with_precision( w[:balance] , precision: 2, delimiter: ',') %>" data-lstatus="<%= w[:location_status] %>"><%= w[:wallet_name] %></option>
                            <% end %>
                          </select>
                          <%#=select_tag 'to_id', options_from_collection_for_select(@wallets, 'id', 'name'), {class: 'form-control select_change' ,include_blank: 'Select Wallet' ,id: 'to_id', onchange: "changeDetected()"} %>
                      <% else %>
                          <select class="form-control from_wallet" id="from_wallet" name="from_wallet">
                            <%= @list.each do |w| %>
                                <option value="<%= w[:wallet_id] %>" data-balance="<%= number_with_precision( w[:balance] , precision: 2, delimiter: ',') %>" data-lstatus="<%= w[:location_status] %>" id="one_wallet"><%= w[:wallet_name] %></option>
                            <% end %>
                          </select>
                          <%#=select_tag 'to_id', options_from_collection_for_select(@wallets, 'id', 'name'), {class: 'form-control select_change',id: 'to_id', onchange: "changeDetected()"} %>
                      <% end %>
                      <%#= select_tag('from_wallet', options_for_select(@wallets.map{|v|[v.name,v.id]}), include_blank: "From Wallet", class: 'form-control', id: 'from_wallet') %>
                    </div>
                  </div>
                  <div class="col-md-4"><div class="form-group">
                    <% if current_user.role != "merchant"%>
                      <% balance = current_user.show_balance(current_user.wallet_id) %>
                    <div class="row wallet_balance"><b>Balance:&nbsp;$ </b>&nbsp;<b><p id="balance"><%= number_with_precision(balance ,precision: 2, delimiter: ',' ) %></p></b></div>
                    <% else %>
                    <div class="row wallet_balance"><b>Balance:&nbsp;$ </b>&nbsp;<b><p id="balance"></p></b></div>
                    <%end %>
                  </div>
                  </div>
                  <div class="col-md-2"></div>
                  <div class="col-md-6">
                    <%=	 submit_tag "submit" ,class: "btn btn-primary btn-sm btn-block accept_reject_btn" %>
                  </div>
                  <div class="col-md-4"></div>
                </div>
                  </div>
                </div>
            <% end  %>
            <div class="collapse mb-3" id="maintenance_message">
              <div class="card card-body">
                <p id="note_6">
                  We apologize for the inconvenience, however this feature is not available at this time as we are having issues with our Blockchain.
                </p>
              </div>
            </div>

        </div>
          <% if request.images.size > 0 %>
          <div class="col-md-5">
            <div class="form-group"> <label>Attachments</label></div>
            <% request.images.each do |doc| %>
              <div class="doc_view file_section_row" ><%= doc.add_image_file_name %> <p class="m-0"> <a href="https:<%= doc.add_image.url %>" download target="_blank">Download</a></p></div>
            <% end  %>
          </div>
          <% else %>
          <% end %>
        </div>
      </div>
      <div class="modal-footer">
        <!--<button class="btn btn-xs close"  data-dismiss="modal">close</button>-->
      </div>
    </div>
  </div>
</div>

