<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.form/4.2.2/jquery.form.min.js" integrity="sha384-FzT3vTVGXqf7wRfy8k4BiyzvbNfeYjK+frTVqZeNDFl8woCbF0CYG6g2fMEFFo/i" crossorigin="anonymous"></script>



<!-- Modal -->
<div id="myModal" class="modal fade in show" role="dialog">
  <div class="modal-dialog modal-lg" id="modal_123">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header text-white" id="modal-header12">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      <div class="modal-body">
        <div class="row">
          <p id="note_7">
            Currently this function is Inactivated for your account. Please contact Administrator. 
          </p>
        </div>
      </div>
      <div class="modal-footer">
        <!--<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>-->
      </div>
    </div>

  </div>
</div>
