<!--
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.form/4.2.2/jquery.form.min.js" integrity="sha384-FzT3vTVGXqf7wRfy8k4BiyzvbNfeYjK+frTVqZeNDFl8woCbF0CYG6g2fMEFFo/i" crossorigin="anonymous"></script>
-->

<!-- Modal -->
<div id="myModal" class="modal fade in show" role="dialog">
  <div class="modal-dialog modal-lg">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">New Request</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      <div class="modal-body">
        <section id="errormessage"></section>
          <%=form_for @request,url:{action: 'create', controller: 'invoices'}  ,html:{id: 'transfer_form', onsubmit:"disableButton('transfer_form','send_money_btn')",multipart: true}   do |f| %>
              <!-- <div class="card"> -->
              <!-- <div class="card-body"> -->
              <div class="row">
                <div class="form-group col-md-4">
                  <label for="title">Amount transfer</label>
                  <div class="form-group col-md-12 input-group mb-3 amount_transfer">
                    <span class="input-group-addon">$</span>
                    <input type="number" class="form-control amount" min="0.01" step="0.01" name="amount" placeholder="0.00" required>
                  </div>
                </div>
                <div class="form-group col-md-4">
                  <label>To wallet</label>
                  <% if @list.size != 1 %>
                      <select class="form-control wallet_change wallet_id" id="wallet_id" name="wallet_id">
                        <option value="">Select your Wallet</option>
                        <%= @list.each do |w| %>
                            <option value="<%= w[:wallet_id] %>"  data-lstatus="<%= w[:location_status] %>"><%= w[:wallet_name] %></option>
                        <% end %>
                      </select>
                      <%#=select_tag 'to_id', options_from_collection_for_select(@wallets, 'id', 'name'), {class: 'form-control select_change' ,include_blank: 'Select Wallet' ,id: 'to_id', onchange: "changeDetected()"} %>
                  <% else %>
                      <select class="form-control wallet_change wallet_id" id="wallet_id" name="wallet_id">
                        <%= @list.each do |w| %>
                            <option value="<%= w[:wallet_id] %>" data-lstatus="<%= w[:location_status] %>" id="one_wallet"><%= w[:wallet_name] %></option>
                        <% end %>
                      </select>
                      <%#=select_tag 'to_id', options_from_collection_for_select(@wallets, 'id', 'name'), {class: 'form-control select_change',id: 'to_id', onchange: "changeDetected()"} %>
                  <% end %>
                  <%#=select_tag 'wallet_id', options_from_collection_for_select(@wallets, 'id', 'name'), {include_blank:'Select Wallet' , class: 'form-control wallet_change' ,id: 'wallet_id'} %>
                  <p id="wrong_wallet"></p>
                </div>
                <% if @list.size != 1 %>
                <div class="col-md-4">
                  <div class="row row_01"><b>Balance: $</b>&nbsp;<b><i class='fa fa-spinner fa-spin' id="spiner"></i>
                    <p id="balance"></p></b></div>
                </div>
                  <% else %>
                  <div class="col-md-4">
                    <div class="row row_01"><b>Balance: $ <%=@list.first[:balance] %></b>&nbsp;<b><i class='fa fa-spinner fa-spin' id="spiner"></i>
                      <p id="balance1"></p></b></div>
                  </div>
                  <% end %>
                <input type="hidden" name="to_id" id="to_id" value="">
                <div class="col-md-12"><label>Verify with Phone Number/Reference ID
                </label> <div class="tooltip">  <i class='fa fa-info-circle'aria-hidden='true' ></i>
                  <span class="tooltiptext p2c_name">M-xxxx, ISO-xxxx, A-xxxx, AF-xxxx</span>
                </div></div>
                <div class="form-group col-md-4 input-group mb-3">
                  <!--  <span class="input-group-addon">+1</span>        -->
                  <input type="text" id="receiver_phone" name="receiver" class="form-control" placeholder="Recipient's Phone" aria-label="Recipient's username" aria-describedby="basic-addon2" required>
                </div>
                <div class="form-group col-md-4 input-group mb-3">
                  <input type="text" id="ref_no" name="ref_no" class="form-control" placeholder="Reference ID" aria-label="Recipient's Merchant number" aria-describedby="basic-addon2" required>
                </div>
                <div class="form-group col-md-4">
                  <div class="row"><b><span id="from_user"></span></b></div>
                </div>
                <div class="form-group col-md-8">
                  <label for="description">Description</label>
                  <textarea id="description" class="form-control" rows="5" name="description"></textarea>
                  <i class="fa fa-paperclip fa-attachment pull-right"  title="Max size 4MB" id="new_field" ></i>
                </div>
                <div id="files_section" class="col-md-4">
<!--                  <input type="hidden" id="docs" name="attachments[]">-->
                  <div id="thumbnail"></div>

                </div>
                <div class="col-md-12">
                  <%#= f.fields_for :images , Image.new do |i| %>
                  <%# end  %>
                  <%= file_field_tag 'images', id: 'browse_field', class:"file_field_jq cutome_file_field",
                                      accept:"image/x-png,image/gif,image/jpeg,image/bmp,application/pdf",
                                      data: { max_file_size: 10.megabytes} %>
                </div>
                <div class="col-md-8 text-right">
                  <%= submit_tag "Request Money", :class => 'btn btn-success verifyUser request_money_button', id: 'send_money_btn'%>
                </div>
              </div>
              <!-- </div> -->

              <!-- </div> -->
          <% end %>
          <div>
            <%#= form_for Image.new  ,url: upload_docs_images_path , html:{id: 'image_upload', multipart: true } do |img| %>
                <%#= img.file_field :add_image, class: 'file_field_jq cutome_file_field', id: 'browse_field' %>
            <%# end %>
          </div>
          <section id="file_upload_section">
          </section>

      </div>
      <div class="modal-footer">
        <!--<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>-->
      </div>
    </div>

  </div>
</div>
<%= javascript_include_tag 'merchant/pos/b2b_new_request.js' %>
