$('#detail_invoice_section').html('').html('<%= j render partial: 'invoice_detail', locals: {current_user: @user, request: @request}%>');
$('#detailInvoice').modal();
$('.spnr').fadeOut("slow");
$("#cover-spin").fadeOut();

<% if @notifications_count > 0 %>

$('#request-count').text("");
$('#request-count').text("<%= @notifications_count %>");

<% else %>

$("#request-count-2").text("");

<% end %>

$("#from_wallet").on("change", function () {
    wallet_balance=$(this).children(":selected").data().balance;
    requested_amount = <%= @request.amount.to_f %>
        status = $(this).children(":selected").data().lstatus;
    $("#balance").text(wallet_balance);
    if(status == "true"){
        $("#errormessage").css("display","block").html("").html('<div class="alert alert-danger" role="alert"><a href="#" data-dismiss="alert" class="close">×</a> <strong>$[BLOCKED_LOCATION]</strong></div>');
        $(".accept_reject_btn").attr("disabled",true);
    }else if( requested_amount > wallet_balance ){
        $("#errormessage").css("display","block").html("").html('<div class="alert alert-danger" role="alert"><a href="#" data-dismiss="alert" class="close">×</a> <strong>Insufficient Funds for this Request</strong></div>');
        $(".accept_reject_btn").attr("disabled",true);
    }else{
        $("#errormessage").css('display','none').html('');
        $(".accept_reject_btn").attr("disabled",false);
    }
});
var gmtDateTime = moment.utc($('#timeUtc').text(),'YYYY-MM-DD HH:mm:ss');
var local = moment(gmtDateTime).local().format('MM-DD-YYYY hh:mm:ss A');
$('#timeUtc').text(local);




