
<% sequence_down = AppConfig.try(:sequence_down).try(:first) %>
<% if (sequence_down.present? && sequence_down.boolValue == true) || (ENV['SEQUENCE_DOWN'].present? && ENV['SEQUENCE_DOWN'] == "true") %>
  <%= render 'shared/maintenance_modal', locals: {title: 'System Maintenance', body: 'We apologize for the inconvenience, however this feature is not available at this time as we are having issues with our Blockchain'} %>
<% end %>
<div class="box">
  <div class="box-header with-border">
    <div class="col-md-12">
      <div class="row">
        <div class="col-md-6">
          <h3 class="box-title"><%= @heading %></h3>
        </div>
        <div class="col-md-6">
          <% if (sequence_down.present? && sequence_down.boolValue == true) || (ENV['SEQUENCE_DOWN'].present? && ENV['SEQUENCE_DOWN'] == "true") %>
            <button type="button" data-toggle="modal" data-target="#maintenance-modal" id="btn_13"  class=" modal-padding btn btn-success btn-sm text-right">New Request</button>
          <% else %>
            <%= link_to 'New Request',"javascript;", id:"newRequest",class:'btn btn-success show_cover_new btn-sm pull-right new_request_btn show-dynamic-modal',data: { disable_with: "<i class='fa fa-spinner fa-spin'></i>" , "modal_selector" => "#myModal", "modal_container_selector" => "#statusModal", method: "GET", "url_path" =>  new_merchant_invoice_path} %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
  <div class="box-body">
    <div class="">
      <div class="row">
        <section id="detail_invoice_section"></section>
        <div class="col-md-10" id="main_div1" >
          <%= render :partial=> 'merchant/invoices/invoices_menue'  %>
        </div>
<!--        <div class="col-md-2" style="padding-right: 39px;     margin-top: 31px;">-->
<!--          <a data-toggle="modal" data-type="request_money" class="exportModalDialog pull-right" href="#exportModalDialog"><button type="button" class="btn btn-sm btn-success"><i class="fa fa-file"></i> Export</button></a>-->

<!--        </div>-->

        <!-- <div class="container-fluid" style="padding-left: 0px">
          <ul class="nav nav-tabs users_tabs" style="font-weight: bold; font-size: 20px;text-align: center">
            <li class="<%#= params[:req] == "all" ? 'active' : ''%>"><a href="<%#= merchant_invoices_path(req: "all") %>">All</a></li>
            <li class="<%#= params[:req] == "pending" ? 'active' : ''%>"><a href="<%#= merchant_invoices_path(req: "pending") %>">Pending</a></li>
            <li class="<%#= params[:req] == "approved" ? 'active' : ''%>"><a href="<%#= merchant_invoices_path(req: "approved") %>">Approved</a></li>
            <li class="<%#= params[:req] == "rejected" ? 'active' : ''%>"><a href="<%#= merchant_invoices_path(req: "rejected") %>">Rejected</a></li>
          </ul>
        </div> -->
        <div class="col-md-12">
          <%= render partial: 'data_table', locals: {invoices: @invoices, tab: 'all'} %>

          <!-- <div class="tab-content" id="nav-tabContent">
            <div id="nav-home" class="tab-pane show fade active" role="tabpanel" aria-labelledby="nav-home-tab">
              <%#= render partial: 'data_table', locals: {invoices: @invoices, tab: 'all'} %>
            </div>
            <div id="nav-approved" class="tab-pane fade" role="tabpanel" aria-labelledby="nav-approved-tab">
              <%#= render partial: 'data_table', locals: {invoices: @approved_invoices, tab: 'approved'} %>
            </div>
            <div id="nav-pending" class="tab-pane fade" role="tabpanel"  aria-labelledby="nav-pending-tab">
              <%#= render partial: 'data_table', locals: {invoices: @pending_invoices, tab: 'pending'} %>
            </div>
            <div id="nav-rejected" class="tab-pane fade" role="tabpanel" aria-labelledby="nav-rejected-tab">
              <%#= render partial: 'data_table', locals: {invoices: @rejected_invoices, tab: 'rejected'} %>
            </div>
          </div> -->
        </div>

      </div>
    </div>
  </div>
</div>
<!-- The export Modal starts -->
<%= render partial: 'merchant/transactions/export_modal' %>
<!-- The export Modal ends -->
<section id="statusModal"></section>
<div id="cover-spin"></div>