<section id="message"></section>
<div class="col-md-12 theme-showcase" role="main">
  <div class="row">
    <div class="col-md-6 mt-4">
      <h3>Invoices</h3>
    </div>
    <div class="col-md-12">
      <hr>
    </div>
    <%= render :partial => 'shared/merchant_menu', :locals => {:selected => 'invoices', :balance => @balance} %>
    <div class="col-md-9 mt-3">
      <div class="row">
        <div class="col-md-4 mb-2">
          <h5>Create invoice</h5>
        </div>
        <div class="col-md-8 mb-2 text-right">
          <%= render :partial=> 'merchant/invoices/invoices_menue'  %>
        </div>
      </div>
      <%=form_tag merchant_invoices_path , method: :post ,id: 'transfer_form'  do %>
          <div class="card">
            <div class="card-body">
              <div class="row">
                <div class="form-group col-md-4">
                  <label for="title">Amount transfer</label>
                  <input type="text" class="form-control " name="amount"  placeholder="0.00" required>
                </div>
                <div class="form-group col-md-4">
                  <label>To wallet</label>
                  <%=select_tag 'wallet_id', options_from_collection_for_select(current_user.wallets.where(wallet_type: 'primary'), 'id', 'name'), { class: 'form-control wallet_change' ,id: 'wallet_id'} %>
                </div>
                <div class="col-md-4">
                  <div class="row"><b>Balance: &nbsp;</b><p id="balance"><%=@balance%></p><b>&nbsp;$</b></div>
                </div>
                <input type="hidden" name="auth_token" value="<%=current_user.authentication_token %>">
                <input type="hidden" name="to_id" id="to_id" value="">
                <div class="form-group col-md-12 input-group mb-3">
                  <input type="text" id="receiver" name="receiver" class="form-control" placeholder="Recipient's Phone" aria-label="Recipient's username" aria-describedby="basic-addon2" required>
                  <div class="input-group-append">
                    <button class="btn btn-outline-secondary verifyUser" id="" type="button">Verify</button>
                  </div>
                </div>
                <div class="form-group col-md-12">
                  <label>Description</label>
                  <textarea class="form-control" rows="5" name="message"></textarea>
                </div>

                <div class="col-md-12 text-right">
                  <%= submit_tag "Create Invoice", :class => 'btn btn-success verifyUser' %>
                </div>
              </div>
            </div>

          </div>
      <% end %>
    </div>
  </div>
</div>
