

$('#wallet_id').on('change',function () {
	$.ajax({
		url: '/merchant/base/show_wallet_balance',
		type: 'GET',
		data: {wallet_id: $(this).val()},
		success: function (data) {
			$("#balance").text(data.balance);
		},
		error: function (data) {
		}
	})
})

var form_submit=false;
$('#transfer_form').submit( function (event) {
	if(!form_submit){
		event.preventDefault();
		return false;
	}});

$('.verifyUser').click(function(e)
{
	if($('#balance').text() < 1)
	{
		$("#message").html("").append('<div class="alert alert-warning" role="alert"><a href="#" data-dismiss="alert" class="close">×</a> <strong>Insufficient balance to transfer !</strong></div>');
		e.preventDefault();
		return false;

	}else {
		var phone = $("#receiver").val();
		$.ajax({
			url: '/merchant/base/verify_user',
			type: 'GET',
			data: {user_phone: phone},
			success: function (data) {
				form_submit=true;
				$("#message").html("").html('<div class="alert alert-success" role="alert"><a href="#" data-dismiss="alert" class="close">×</a> <strong>Verified!</strong></div>');
				$("#to_id").val(data.user.id);

				setTimeout(2000 , function () {
					$('#transfer_form').submit();
				})

			},
			error: function (data) {
				$("#message").html("").empty().append('<div class="alert alert-danger" role="alert"><a href="#" data-dismiss="alert" class="close">×</a> <strong>Not Verified!</strong></div>');
				form_submit=false;
			}
		});

	}
});
