<div class="col-md-12 theme-showcase" role="main">
  <div class="row">
    <div class="col-md-6 mt-4">
      <h3>Invoices</h3>
    </div>
    <div class="col-md-12">
      <hr>
    </div>
    <%= render :partial => 'shared/merchant_menu', :locals => {:selected => 'transactions', :balance => @balance} %>
    <div class="col-md-9 mt-3">
  <div class="row">
    <div class="col-md-4 mb-2">
      <h5>Sent invoices 0</h5>
    </div>
    <div class="col-md-8 mb-2 text-right">
      <%= render :partial=> 'merchant/invoices/invoices_menue'  %>
    </div>
  </div>

  <div class="card">
    <div class="card-body">
      <div class="row">
        <div class="col-md-12">
          <form action="http://192.168.100.18/rj/canyon-latest/justwallet/account/invoices/sent?sort=id&amp;dir=desc&amp;limit=10&amp;offset=0" role="form" id="filters" method="post" accept-charset="utf-8">
            <input type="hidden" name="csrf_token" value="e12bc68d0a9e9a02bbae29b8cc117762">
            <div class="collapse mb-3" id="search">
              <div class="card card-body">
                <div class="row">
                  <div class="col-md-12">
                    <h5>Search</h5>
                  </div>
                  <div class="form-group col-md-6">
                    <label for="id">ID</label>
                    <input type="text" name="id" value="" id="id" class="form-control" placeholder="84848">
                  </div>
                  <div class="form-group col-md-6">
                    <label for="id">Name</label>
                    <input type="text" name="name" value="" id="name" class="form-control" placeholder="Main task">
                  </div>
                  <div class="form-group col-md-6">
                    <label for="id">Sender</label>
                    <input type="text" name="sender" value="" id="sender" class="form-control" placeholder="Username">
                  </div>
                  <div class="form-group col-md-6">
                    <label for="id">Receiver</label>
                    <input type="text" name="receiver" value="" id="receiver" class="form-control" placeholder="Username">
                  </div>
                  <div class="form-group col-md-6">
                    <label for="id">Amount</label>
                    <input type="text" name="amount" value="" id="amount" class="form-control" placeholder="1500.75">
                  </div>
                  <div class="form-group col-md-6">
                    <label for="id">Date</label>
                    <input type="text" name="date" value="" id="date" class="form-control datepicker-here" placeholder="YYYY-MM-DD">
                  </div>
                  <div class="col-md-12 text-right">
                    <button type="submit" class="btn btn-success btn-sm">Search</button>
                  </div>
                </div>
              </div>
            </div>
          </form>        <table class="table table-hover table-responsive-lg">
          <thead>
          <tr><th>ID</th>
            <th>Date</th>
            <th>Name</th>
            <th>Amount</th>
            <th>Status</th>
            <th></th>
          </tr></thead>
          <tbody>
          <tr>
            <td colspan="6">
              No results found!                        </td>
          </tr>
          </tbody>
        </table>
        </div>
      </div>
    </div>
    <div class="card-footer text-right">
      <div class="row">
        <div class="col-md-3 text-left">
          <small>Total invoices 0</small>
        </div>
        <div class="col-md-9">
        </div>
      </div>
    </div>
  </div>				</div>
  </div>
</div>