$("#statusModal").html('').html("<%= j render partial: '/merchant/invoices/change_status', locals: {:i => @invoice, wallets: @wallets} %>");
$("#modal_id").modal();
$('#status').on('change', function () {
    if($(this).val()==2){
        $('#from_wallet').hide();
    }else{
        $('#from_wallet').show();
    }
})