$("#modal_id").modal('hide');
<% if @request.errors.full_messages.blank? && @errors.blank? %>
$('#message').html('').html(<div class='alert alert-success'><a href='#' data-dismiss='alert' class='close'>×</a><%= @success.first %></div>)
    <% if @request.status == 'cancel'%>
      $("#invoice_row_<%= @request.id%>").find('span').attr('class', 'badge badge-warning').text('Cancelled');
        <% elsif @request.status == 'approved'%>
          $("#invoice_row_<%= @request.id%>").find('span').attr('class', 'badge badge-success').text('Approved');
        <% elsif @request.status == 'rejected'%>
          $("#invoice_row_<%= @request.id%>").find('span').attr('class', 'badge badge-danger').text('Rejected');
    <% end %>
  location.reload();
<% else %>
      <% if !@errors.blank? %>
      $("#message").html('').html("<div class='alert alert-info'><a href='#' data-dismiss='alert' class='close'>×</a><%= @errors.first %></div>");
      <% else %>
      $("#message").html('').html("<div class='alert alert-info'><a href='#' data-dismiss='alert' class='close'>×</a><%= @request.errors.full_messages.first %></div>");
      <% end %>
<% end  %>


