<%= stylesheet_link_tag 'v2/merchant/login_base' %>
<%= stylesheet_link_tag 'v2/merchant/login' %>
<%#= stylesheet_link_tag 'v2/merchant/custom1' %>
<%= javascript_include_tag 'v2/merchant/vendors_bundle', 'data-turbolinks-track': 'reload' %>
<div  class="m--skin- m-header--fixed m-header--fixed-mobile m-aside-left--enabled m-aside-left--skin-dark m-aside-left--offcanvas m-footer--push m-aside--offcanvas-default"  >
  <!-- begin:: Page -->
  <div class="background_image">
    <div class="container-fluid hieght-100" id="remove--hieght">
      <div class="row">
        <div class="right-side-ipad col-md-6 pull-left">
          <div class="m-grid m-grid--hor m-grid--root m-page">
            <div class="m-login m-login--signin" >
              <div class="m-login__wrapper-1 m-portlet-full-height">
                <div class="m-login__wrapper-1-1">
                  <div class="m-login__contanier">
                    <div class="m-login__content">
                      <div class="m-login__logo">
                        <center>
                          <%= image_tag "v2/login/login_new_logo.svg" , class: "new_logo_design" %>
                          <%#= image_tag "v2/login/Qc_logo" , class: "z_cart_logo" %>
                        </center>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <%= render "/shared/flash" %>
        <div class="left-side-ipad col-md-6 pull-right pr-0 hieght-100" id="remove--hieght-1">
          <div class="m-grid m-grid--hor m-grid--root m-page">
            <div class="m-grid__item m-grid__item--fluid m-grid m-grid--hor m-login m-login--signin m-login--2 m-login-2--skin-1" id="m_login">
              <div class="row mr-0 ml-0">
                <div class="col-xl-2 col-lg-2 col-md-2 col-sm-12 col-xs-12"></div>
                <div class="col-xl-9 col-lg-9 col-md-9 col-sm-12 col-xs-12">
                  <div class="m-grid__item m-grid__item--fluid m-login__wrapper pb-0 mb-0">
                    <div class="m-login__container hieght-75">
                      <div class="m-login__logo">
                        <center>
                          <p class="welcome_text rest_password_welcome display_none">Welcome to</p>
                          <%= image_tag "v2/login/new_qc_logo_login.svg" , class: "desktop_logo" %>
                          <%#= image_tag "v2/login/quickcard_Logo.svg" , class: "desktop_logo" %>
                          <p class="welcom_text help_us_text">
                            Help us to protect your account access <br>with our two-step verification.
                          </p>
                          <p class="welcom_text help_us_text mb-0">
                            How would you like to get your code?
                          </p>
                          <p class="welcom_text verification_code display_none mb-0">
                            Enter verification code
                          </p>
                          <p class="welcom_text new_password_text forgot_pwd_text display_none mb-0">
                            Please enter and confirm your new<br>password.
                          </p>
                        </center>
                      </div>
                      <div class="m-login__signin" id="forgot_password_div1">
                        <center>
                          <div class="form-group m-form__group">
                            <select class="form-control width87 mrgn25 send_code_option m-time-bootstrap-select m-bootstrap-select m-bootstrap-select--pill  m_selectpicker "   title="Select an Option">
                              <option value="text">
                              Text  (***) ***-**<%= @user.try(:phone_number).last(2) %>
                              </option>
                              <option value="email">
                              Email   ********@<%= @user.email.partition('@').last %>
                              </option>
                            </select>
                          </div>
                          <input type="hidden" id="send_code_type" value="text">
                          <input type="hidden" id="user_id" value="<%= @user.id %>">
                          <button type="button" class="btn btn_send_code" data-from_reset="true">Send Code</button>
                          <div class="text-center link_snd mb-3 mt-3">
                            <a href="" class="resend_code" data-toggle="modal" data-target="#buyGiftCardModal1">Need Help?</a>                          </div>
                        </center>
                      </div>

<!--                      Send Code div-->
                      <div class="m-login__signin display_none" id="send_code">
                        <center>
                          <div class="form-group m-form__group text-left">
                            <label class="Verification_Code_label" for="permission_name">
                              Verification Code
                            </label>
                            <input type="text" class="form-control create_permission_search_input m-input" id="verification_code">
                            <span class="login-error" id="verification_code_error"></span>
                          </div>
                          <button type="button" class="btn btn_send_code_verfiy">Create New Password</button>
                          <div class="text-center link_snd mb-3 mt-3">
                            <button id="resend_btn" class="resend_code">Resend Code</button>
                            <div>
                              <span class="resend_confirmation_color " id="resend_confirmation"></span>
                            </div>
                          </div>
                        </center>
                      </div>

<!--                      Reset Password div-->
                      <div class="m-login__signin display_none" id="reset_password">
                        <center>
                          <%#= form_for(@user , validate: true,  url: user_password_path, html: { method: :put, id: 'password_form' , class:"m-login__form m-form"}) do |f| %>
                            <%= form_tag(send_2factor_code_path, id:"pass-form", html: { method: :post, id: 'password_form' , class:"m-login__form m-form"}) do %>
                            <input type="hidden" id="role" name="role" value="merchant">
                            <input type="hidden" id="user_id" name="user_id" value="<%= @user.id %>">
                            <div class="form-group m-form__group">
                              <label class="label_text pull-left">New Password</label>
                              <div class="m-input-icon m-input-icon--right">
                                <input type="password" class="form-control m-input m-password-input m-login-password m-login__form-input--last pass new_password" id="new_password" name="password">
                                <div id='tooltips'>
                                  <div class="tip"></div>
                                  <p class="pwd-suggestion-title ">Your password must have at least:</p>
                                  <div class="password-suggesstions">
                                    <div class="invalid"><i class="fa fa-times password_tooltips_icon" aria-hidden="true" id="8_characters"></i></div>
                                    <span class="pwd-suggestion-message password_sugg">8 Characters</span>
                                  </div>

                                  <div class="password-suggesstions">
                                    <div class="invalid"><i class="fa fa-times password_tooltips_icon" aria-hidden="true" id="1_number"></i></div>
                                    <span class="pwd-suggestion-message password_sugg">1 Number</span>
                                  </div>
                                  <div class="password-suggesstions">
                                    <div class="invalid"><i class="fa fa-times password_tooltips_icon" aria-hidden="true" id="upcase"></i></div>
                                    <span class="pwd-suggestion-message password_sugg">1 Uppercase Letter (A-Z)</span>
                                  </div>

                                  <div class="password-suggesstions">
                                    <div class="invalid"><i class="fa fa-times password_tooltips_icon" aria-hidden="true" id="downcase"></i></div>
                                    <span class="pwd-suggestion-message password_sugg">1 Lowerrcase Letter (a-z)</span>
                                  </div>

                                </div>
                                <%#= f.password_field :password, class:'form-control m-input m-password-input m-login-password m-login__form-input--last pass',id:'new_password' %>
                                <span class="m-input-icon__icon m-input-icon__icon--right rest_pssowrd_span">
                                    <span>
                                      <i class="la">
                                        <%= image_tag "v2/login/login-eye.svg",class: 'show_image new_password_show' , id: 'new_password_show' %>
                                        <%= image_tag "v2/login/login-open-eye.svg", class: 'hide_image password_show ml-3 new_password_show', id: 'new_password_show' %>
                                      </i>
                                    </span>
                                  </span>
                                <span id="password_error" class="pull-left email_error"></span>
                              </div>
                            </div>
                            <div class="form-group m-form__group">
                              <label class="label_text pull-left">
                                Confirm Password
                              </label>
                              <div class="m-input-icon m-input-icon--right">
                                <input type="password" class="form-control m-input m-password-input m-login-password m-login__form-input--last pass" id="confirm_password" name="confirm_pwd">
                                <span class="m-input-icon__icon m-input-icon__icon--right rest_pssowrd_span">
                                    <span>
                                      <i class="la">
                                        <%= image_tag "v2/login/login-eye.svg",class: "show_confirm_image confrim_password_show" , id: 'confrim_password_show' %>
                                        <%= image_tag "v2/login/login-open-eye.svg", class: 'hide_confirm_image password_show ml-3 confrim_password_show', id: 'confrim_password_show' %>
                                      </i>
                                    </span>
                                  </span>
                                <span id="password_error" class="pull-left email_error confirm-pass-error"></span>
                              </div>
                            </div>
                            <div class="form-group m-form__group">
                              <%#= recaptcha_tags %>
                            </div>
                            <div class="m-login__form-action">
                              <button type="submit" class="btn  m-btn--pill verify_credentials mb-5 password_submit">Create New Password</button>
                            </div>
                          <%end%>
                        </center>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-xl-1 col-lg-1 col-md-1 col-sm-12 col-xs-12"></div>
              </div>
            </div>
          </div>
          <center>
            <div class="term-div">
              <p class="powerd_by">Powered by <%= image_tag "v2/green_box_logo.svg" %></p>
              <p class="version-number">QuickCard <%= QuickCard::APP_VERSION %></p>
            </div>
          </center>
        </div>
      </div>
    </div>
  </div>

  <!--Terms And Services-->

</div>
<%= render partial: 'users/sessions/merchants/get_help'%>

<%= javascript_include_tag 'v2/merchant/login.js' %>
<%= javascript_include_tag 'v2/merchant/bootstrap-select', 'data-turbolinks-track': 'reload' %>