<%= stylesheet_link_tag 'v2/merchant/login_base' %>
<%= stylesheet_link_tag 'v2/merchant/login' %>
<%#= stylesheet_link_tag 'v2/merchant/custom1' %>
<%= javascript_include_tag 'v2/merchant/vendors_bundle', 'data-turbolinks-track': 'reload' %>
<div  class="m--skin- m-header--fixed m-header--fixed-mobile m-aside-left--enabled m-aside-left--skin-dark m-aside-left--offcanvas m-footer--push m-aside--offcanvas-default"  >
  <!-- begin:: Page -->
  <div class="background_image">
    <div class="container-fluid hieght-100" id="remove--hieght">
      <div class="row">
        <div class="right-side-ipad col-md-6 pull-left">
          <div class="m-grid m-grid--hor m-grid--root m-page">
            <div class="m-login m-login--signin" >
              <div class="m-login__wrapper-1 m-portlet-full-height">
                <div class="m-login__wrapper-1-1">
                  <div class="m-login__contanier">
                    <div class="m-login__content">
                      <div class="m-login__logo">
                        <center>
                          <%= image_tag "v2/login/login_new_logo.svg" , class: "new_logo_design" %>
                        </center>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="left-side-ipad col-md-6 pull-right pr-0 hieght-100" id="remove--hieght-1">
          <div class="m-grid m-grid--hor m-grid--root m-page">
            <div class="m-grid__item m-grid__item--fluid m-grid m-grid--hor m-login m-login--signin m-login--2 m-login-2--skin-1" id="m_login">
              <div class="row mr-0 ml-0">
                <div class="col-xl-2 col-lg-2 col-md-2 col-sm-12 col-xs-12"></div>
                <div class="col-xl-9 col-lg-9 col-md-9 col-sm-12 col-xs-12">
                  <div class="m-grid__item m-grid__item--fluid m-login__wrapper pb-0 mb-0">
                    <div class="m-login__container hieght-75">
                      <div class="m-login__logo">
                        <center>
                          <%= image_tag "v2/login/new_qc_logo_login.svg" , class: "desktop_logo" %>
                        </center>
                      </div>
                      <div class="m-login__signin" id="verification_code_support">
                        <center>
                          <div class="verification_code_text">
                            <p>
                              Sorry, but looks like
                              <br>
                              something went wrong.
                              <br>
                              <br>
                              Please contact
                              <br>
                              support@quickcard.me
                            </p>
                          </div>
                        </center>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-xl-1 col-lg-1 col-md-1 col-sm-12 col-xs-12"></div>
              </div>
            </div>
          </div>
          <center>
            <div class="term-div">
              <p class="powerd_by">Powered by <%= image_tag "v2/green_box_logo.svg" %></p>
            </div>
          </center>
        </div>
      </div>
    </div>
  </div>
</div>

<%= javascript_include_tag 'v2/merchant/login.js' %>
<%= javascript_include_tag 'v2/merchant/bootstrap-select', 'data-turbolinks-track': 'reload' %>