
<div class="col-md-12">
  <h5 class="margin_bottom_15px"><u>Card Selection</u></h5>
  <label class="container">Visa Credit
    <input type="checkbox" name="card_selection[visa_credit]" <%= 'checked=checked' if @payment_gateway.card_selection["visa_credit"] == "on" %>>
    <span class="checkmark"></span>
  </label>
  <label class="container">Visa Debit
    <input type="checkbox" name="card_selection[visa_debit]"  <%= 'checked=checked' if @payment_gateway.card_selection["visa_debit"] == "on" %>>
    <span class="checkmark"></span>
  </label>
  <label class="container">MC Credit
    <input type="checkbox" name="card_selection[mastercard_credit]" <%= 'checked=checked' if @payment_gateway.card_selection["mastercard_credit"] == "on" %>>
    <span class="checkmark"></span>
  </label>
  <label class="container">MC Debit
    <input type="checkbox" name="card_selection[mastercard_debit]" <%= 'checked=checked' if @payment_gateway.card_selection["mastercard_debit"] == "on" %>>
    <span class="checkmark"></span>
  </label>
  <label class="container">AMEX
    <input type="checkbox" name="card_selection[amex_credit]" <%= 'checked=checked' if @payment_gateway.card_selection["amex_credit"] == "on" %>>
    <span class="checkmark"></span>
  </label>
  <label class="container">Discover
    <input type="checkbox" name="card_selection[discover_credit]" <%= 'checked=checked' if @payment_gateway.card_selection["discover_credit"] == "on" %>>
    <span class="checkmark"></span>
  </label>
  <label class="container">JCB
    <input type="checkbox" name="card_selection[jcb_credit]" <%= 'checked=checked' if @payment_gateway.card_selection["jcb_credit"] == "on" %>>
    <span class="checkmark"></span>
  </label>
</div>