
<!-- Edit -->
<div class="modal fade editModal" role="dialog">
  <div class="modal-dialog form-group">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Edit Gateway</h4>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="card-header bordered">
            <div class="header-block">
              <%= simple_form_for(@payment_gateway, url: admins_slot_gateway_path) do |f| %>

                  <div class="form-inputs">
                    <%= f.label :type, "Bank" %>
                    <input type="text" value="<%= @payment_gateway.type %>" class="form-control" disabled>
                    <%= f.label :key, "Gateway" %>
                    <input type="text" value="<%= @payment_gateway.key %>" class="form-control" disabled>
                    <%= f.input :name, label: "Descriptor" %>
                    <% if @payment_gateway.slot? %>
                      <%= f.input :slot_name, label: "Slot Number (format: slot_1)", disabled: true %>
                    <% end %>
                    <label class="container margin_left_zero" >Allow Rounding Up
                      <input type="checkbox" name="payment_gateway[allow_decimal]" <%= 'checked=checked' if @payment_gateway.allow_decimal %>>
                      <span class="checkmark"></span>
                    </label>

                    <h3 class="margin_bottom_20px"><u>Bank Fee</u></h3>

                    <div class="row">
                      <div class="col-md-9">
                        <div class="row">
                          <div class="col-md-4">
                            <%= f.input :account_processing_limit, wrapper: :vertical_input_group , hint: "" do %>
                                <span class="input-group-addon"><i>$</i></span>
                                <%= f.input_field  :account_processing_limit ,value: number_with_precision(f.object.account_processing_limit, precision: 2), class: "form-control fee_fields"%>
                            <% end %>
                          </div>
                          <div class="col-md-4">
                            <%= f.input :transaction_fee, wrapper: :vertical_input_group , hint: "" do %>
                                <span class="input-group-addon"><i>$</i></span>
                                <%= f.input_field  :transaction_fee , value: number_with_precision(f.object.transaction_fee, precision: 2), class: "form-control fee_fields"%>
                            <% end %>
                          </div>
                          <div class="col-md-4">
                            <%= f.input :charge_back_fee, wrapper: :vertical_input_group , hint: "" do %>
                                <span class="input-group-addon"><i>$</i></span>
                                <%= f.input_field  :charge_back_fee , value: number_with_precision(f.object.charge_back_fee, precision: 2), class: "form-control fee_fields"%>
                            <% end %>
                          </div>
                        </div>

                        <div class="row">
                          <div class="col-md-4">
                            <%= f.input :retrieval_fee, wrapper: :vertical_input_group , hint: "" do %>
                                <span class="input-group-addon"><i>$</i></span>
                                <%= f.input_field  :retrieval_fee , value: number_with_precision(f.object.retrieval_fee, precision: 2), class: "form-control fee_fields"%>
                            <% end %>
                          </div>
                          <div class="col-md-4">
                            <%= f.input :monthly_service_fee, wrapper: :vertical_input_group , hint: "" do %>
                                <span class="input-group-addon"><i>$</i></span>
                                <%= f.input_field  :monthly_service_fee , value: number_with_precision(f.object.monthly_service_fee, precision: 2), class: "form-control fee_fields"%>
                            <% end %>
                          </div>
                          <div class="col-md-4">
                            <%= f.input :per_transaction_fee, wrapper: :vertical_input_group , hint: "" do %>
                                <span class="input-group-addon"><i>%</i></span>
                                <%= f.input_field  :per_transaction_fee , class: "form-control fee_fields"%>
                            <% end %>
                          </div>
                        </div>

                        <div class="row">
                          <div class="col-md-4">
                            <%= f.input :reserve_money, wrapper: :vertical_input_group , hint: "" do %>
                                <span class="input-group-addon"><i>%</i></span>
                                <%= f.input_field  :reserve_money , class: "form-control fee_fields"%>
                            <% end %>
                          </div>
                          <div class="col-md-4">
                            <%= f.input :reserve_money_days, wrapper: :vertical_input_group , hint: "" do %>
                                <span class="input-group-addon"><i>days</i></span>
                                <%= f.input_field  :reserve_money_days , class: "form-control fee_fields"%>
                            <% end %>
                          </div>
                          <div class="col-md-4">
                            <div class="row">
                              <div class="col-md-6">
                                <%= f.input :misc_fee, wrapper: :vertical_input_group , hint: "" do %>
                                    <span class="input-group-addon"><i>%</i></span>
                                    <%= f.input_field  :misc_fee , class: "form-control fee_fields"%>
                                <% end %>
                              </div>

                              <div class="col-md-6 margin_top_25px">
                                <div class="input-group">
                                  <span class="input-group-addon"><i>$</i></span>
                                  <%= f.input_field  :misc_fee_dollars,:size=>1 , value: number_with_precision(f.object.misc_fee_dollars, precision: 2),class: "form-control fee_fields"%>
                                </div>
                              </div>
                            </div>

                          </div>
                        </div>

                        <div class="row">
                          <div class="col-md-4">
                            <%= f.input :vertical_type_id, wrapper: :vertical_input_group , hint: "" do %>
                                <span class="input-group-addon"><%= link_to '<i class="fa fa-plus" id= "plus_id"></i>'.html_safe,getverticaltype_admins_payment_gateways_path(@payment_gateway.id),remote: true,class: "payment_gateway_id_padding"%></span>
                                <%= f.select :vertical_type_id,options_from_collection_for_select(VerticalType.all,:id,:title,@payment_gateway.vertical_type_id),{:include_blank => "Select Vertical Type"},{class: "form-control width_186px",id:"table_text_field_transaction_dispute_edit"}%>
                            <% end %>
                          </div>
                        </div>
                      </div>
                      <div class="col-md-3">
                        <%= render partial: 'admins/payment_gateways/card_selection', locals: {f: f} %>
                      </div>
                    </div>

                    <div class="row">
                      <div class="col-md-12">
                        <div class="form-actions pull-right margin-top: 20px;">
                          <%= f.button :submit %>
                        </div>
                      </div>
                    </div>
                  </div>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<section id="ajamahimere">

</section>