<%= simple_form_for(f, url: url) do |f| %>

  <div class="form-inputs">
    <%= f.label :type, "Bank" %>
    <input type="text" value="Slot" name="payment_gateway[type]" value="slot" class="form-control" disabled>
    <%= f.input :key, label: "Gateway" %>
    <%= f.input :name, label: "Descriptor" %>
    <%= f.input :slot_name, label: "Slot Number (format: slot_1)" %>
    <span class="color_red" id="error_span" ></span>

    <label class="container margin_left_zero">Allow Rounding Up
      <input type="checkbox" name="payment_gateway[allow_decimal]" <%= 'checked=checked' if @payment_gateway.allow_decimal %>>
      <span class="checkmark"></span>
    </label>
    <h3 class="margin_bottom_20px"><u>Bank Fee</u></h3>

    <div class="row">
      <div class="col-md-9">
        <div class="row">
          <div class="col-md-4">
            <%= f.input :account_processing_limit, wrapper: :vertical_input_group , hint: "" do %>
                <span class="input-group-addon"><i>$</i></span>
                <%= f.input_field  :account_processing_limit , class: "form-control fee_fields"%>
            <% end %>
          </div>
          <div class="col-md-4">
            <%= f.input :transaction_fee, wrapper: :vertical_input_group , hint: "" do %>
                <span class="input-group-addon"><i>$</i></span>
                <%= f.input_field  :transaction_fee , value: number_with_precision(f.object.transaction_fee, precision: 2), class: "form-control fee_fields"%>
            <% end %>
          </div>
          <div class="col-md-4">
            <%= f.input :charge_back_fee, wrapper: :vertical_input_group , hint: "" do %>
                <span class="input-group-addon"><i>$</i></span>
                <%= f.input_field  :charge_back_fee , value: number_with_precision(f.object.charge_back_fee, precision: 2), class: "form-control fee_fields"%>
            <% end %>
          </div>
        </div>

        <div class="row">
          <div class="col-md-4">
            <%= f.input :retrieval_fee, wrapper: :vertical_input_group , hint: "" do %>
                <span class="input-group-addon"><i>$</i></span>
                <%= f.input_field  :retrieval_fee , value: number_with_precision(f.object.retrieval_fee, precision: 2), class: "form-control fee_fields"%>
            <% end %>
          </div>
          <div class="col-md-4">
            <%= f.input :monthly_service_fee, wrapper: :vertical_input_group , hint: "" do %>
                <span class="input-group-addon"><i>$</i></span>
                <%= f.input_field  :monthly_service_fee , value: number_with_precision(f.object.monthly_service_fee, precision: 2), class: "form-control fee_fields"%>
            <% end %>
          </div>
          <div class="col-md-4">
            <%= f.input :per_transaction_fee, wrapper: :vertical_input_group , hint: "" do %>
                <span class="input-group-addon"><i>%</i></span>
                <%= f.input_field  :per_transaction_fee , class: "form-control fee_fields"%>
            <% end %>
          </div>
        </div>

        <div class="row">
          <div class="col-md-4">
            <%= f.input :reserve_money, wrapper: :vertical_input_group , hint: "" do %>
                <span class="input-group-addon"><i>%</i></span>
                <%= f.input_field  :reserve_money , class: "form-control fee_fields"%>
            <% end %>
          </div>
          <div class="col-md-4">
            <%= f.input :reserve_money_days, wrapper: :vertical_input_group , hint: "" do %>
                <span class="input-group-addon"><i>days</i></span>
                <%= f.input_field  :reserve_money_days , class: "form-control fee_fields"%>
            <% end %>
          </div>
          <div class="col-md-4">
            <div class="row">
              <div class="col-md-6">
                <%= f.input :misc_fee, wrapper: :vertical_input_group , hint: "" do %>
                    <span class="input-group-addon"><i>%</i></span>
                    <%= f.input_field  :misc_fee , class: "form-control fee_fields" %>
                <% end %>
              </div>

              <div class="col-md-6 margin_top_25px">
                <div class="input-group">
                  <span class="input-group-addon"><i>$</i></span>
                  <%= f.input_field  :misc_fee_dollars,:size=>1 , value: number_with_precision(f.object.misc_fee_dollars, precision: 2), class: "form-control fee_fields"%>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-4">
            <%= f.input :vertical_type_id, wrapper: :vertical_input_group , hint: "" do %>
                <span class="input-group-addon"><%= link_to '<i class="fa fa-plus"  ></i>'.html_safe,getverticaltypenew_admins_payment_gateways_path,remote: true,class: "payment_gateway_id_padding"%></span>
                <%= f.select :vertical_type_id,options_from_collection_for_select(VerticalType.all,:id,:title),{:include_blank => "Select Vertical Type"},{class: "form-control width_186px",id:"table_text_field_transaction_dispute"}%>
            <% end %>
            <!--<div class="form-group col-md-6 vertical_type_label">-->
            <!--<%#= f.label :vertical_type_id, "Vertical Type"%>-->
            <!--<%#= f.select :vertical_type_id,options_from_collection_for_select(VerticalType.all,:id,:title),{:include_blank => "Select Vertical Type"},{class: "form-control width_186px",id:"table_text_field_transaction_dispute"}%>-->
            <!--</div>-->
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <%= render partial: 'admins/payment_gateways/card_selection', :locals => {f: f}  %>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <div class="form-actions pull-right margin_top_20px">
          <%= f.button :submit, id: "submit_btn"%>
        </div>
      </div>
    </div>

  </div>
<% end %>
<section id="ajamahimere2">

</section>
