
<div id="notificationReasonModal" class="modal notification_modal fade" role="dialog">
	<div class="modal-dialog width_90_percent">

		<div class="modal-content">
			<div class="modal-header modal_header_notification">
				<button type="button" class="close close_button_notification" data-dismiss="modal" id="close_modal_button">&times;</button>
				<h4 class="modal-title capitalize align_center">Vertical Type</h4>
			</div>
			<input type="hidden" id="foramt_input" value="<%= params["format"].to_i %>">
			<div class="modal-body">
				<div class="row">
					<%= form_for VerticalType.new,url:postverticaltype_admins_payment_gateways_path,method: :post,remote: true,html:{class: "form custom_form",id:"dispute_reason_form"} do |form|%>
						<div class="form-group">
							<%= form.label :title, "Title"%>
							<%= form.text_field :title,class:"form-control",id:"dispute_reason_form_title_field" %>
						</div>
						<%= form.submit "Add Type",type: "button",class: "btn btn-success",id:"dispute_reason_form_submit" %>
						<span id="warning_showing_span"></span>
					<% end %>
				</div>
			</div>
		</div>
	</div>
</div>