$("#edit_modal").html("<%= j render(partial: 'edit') %>");
$(".editModal").modal();

$('.form-control.fee_fields').on('keyup',function (e) {
    var input =$(this).parent().find('span.input-group-addon i').text();
    if (input==='$'){
        var id=$(this).attr('id');
        if($(this).val().split('.')[1].length>2){
            e.preventDefault();
            var text_value = $(this).val();
            text_value = parseFloat(text_value).toFixed(2);
            $(this).val(text_value);
        }
    }
});
$('#cover-spin').fadeOut("slow");
var fewSeconds = 2;
$('#plus_id').click(function(){
    // Ajax request
    var btn = $(this);
    btn.prop('disabled', true);
    setTimeout(function(){
        btn.prop('disabled', false);
    }, fewSeconds*1000);
});
$('.fee_fields').bind('keyup change', function(){
    this.value = this.value.replace(/[^0-9\.]/g,'');
});
$("#payment_gateway_slot_name").inputmask({"mask": "aaaa_9"});
$("#payment_gateway_slot_name").on("blur", function () {
    var value = $("#payment_gateway_slot_name").val()
    $.ajax({
        url: "<%= validate_slot_admins_slot_gateways_path %>",
        type: 'GET',
        data: {slot_name: value},
        success: function (data) {
            console.log('yess')
            $('#submit_btn').removeAttr('disabled');
        },
        error: function (data) {
            console.log('nooo')
            $('#error_span').text('Slot Already Exit, Please try with new slot!');
            $('#submit_btn').attr('disabled', 'disabled');
        }
    });
});