
<section class="in"></section>
<div class="sidebar-overlay" id="sidebar-overlay"></div>

<section class="section">
  <div class="row">
    <div class="col-md-12">
      <div class="card sameheight-item items" data-exclude="xs,sm,lg">
        <div class="card-header bordered borderedBottom" >
          <div class="col-md-8 mb-2 padding_zero">
            <div class="header-block">
              <h3 class="title">Slot Gateways Setting</h3>
            </div>
          </div>
          <div class="col-md-4">
            <%= link_to "<button class='btn btn-primary btn-sm pull-right'><span class='fa fa-refresh'></span> Reset Attempts</button>".html_safe, reset_slot_setting_admins_slot_gateways_path(key: "all",attempt: "all"), data: { confirm: 'Are you sure?' } %>
          </div>
        </div>
        <%= form_tag post_slot_management_admins_slot_gateways_path,method: :post, class:'search_transactions' do  %>
        <section class="example">
            <div class="row">
              <div class="col-md-12 margin_top_3perc">
                <div class="col-md-2">
                  <label class="margin_top_15perc">
                    <input type="hidden" name="gateway_size_val11" id="slot_gateway_size_val11" value="<%= size = @payment_gateway.count>0?  100 / @payment_gateway.count : 0 %>">
                    Attempt 1 <%= link_to "<span class='fa fa-refresh'></span>".html_safe, reset_slot_setting_admins_slot_gateways_path(key: AppConfig.keys["slot_over"],attempt: "1") , id: 'attempt11',data: { confirm: 'Are you sure?' }, title: "Reset Attempts" %>
                  </label>
                </div>
                <div class="col-md-10">
                  <div class="row">
                    <% @payment_gateway.each_with_index do |p, i| %>
                      <% slotover1 = {} %>
                      <% slotover1 = @slot_over["#{p.id}"] if @slot_over.present? %>
                      <div class="slot_management_size11 float-left">
                        <div class="col-md-12">
                          <div class="m-input-icon m-input-icon--left">
                            <label><%= p.slot_name %>  <span class="title_span" title="Slot Attempts">(<%= slotover1.present? ? slotover1.try(:[], "total_count1") : 0 %>)</span></label>
                            <input type="hidden" value="<%= slotover1.present? ? slotover1.try(:[], "count1").present? ? slotover1.try(:[], "count1") : 0 : 0 %>" name="query[over][<%= i %>][<%= p.id %>][count1]">
                            <input type="hidden" value="<%= slotover1.present? ? slotover1.try(:[], "total_count1").present? ? slotover1.try(:[], "total_count1") : 0 : 0 %>" name="query[over][<%= i %>][<%= p.id %>][total_count1]">
                            <input type="number" value="<%= slotover1.present? ? slotover1.try(:[], "value1") : 0 %>" class="form-control perc_attempt1_over percent1_over  m-input" id="attempt1_over_<%= i %>" name="query[over][<%= i %>][<%= p.id %>][value1]">
                            <span class="m-input-icon__icon m-input-icon__icon--left">
                						<span><i class="fa fa-percent"></i></span></span>
                          </div>
                        </div>
                      </div>
                    <% end %>
                  </div>
                </div>
              </div>
              <div class="col-md-12 margin_top_1perc">
                <div class="col-md-2">
                  <label class="margin_top_15perc">
                    <input type="hidden" name="gateway_size_val12" id="slot_gateway_size_val12" value="<%= size = @payment_gateway.count>0?  100 / @payment_gateway.count : 0 %>">
                    Attempt 2 <%= link_to "<span class='fa fa-refresh'></span>".html_safe, reset_slot_setting_admins_slot_gateways_path(key: AppConfig.keys["slot_over"],attempt: "2"), id:"attempt12",data: { confirm: 'Are you sure?' }, title: "Reset Attempts" %>
                  </label>
                </div>
                <div class="col-md-10">
                  <div class="row">
                    <% size = @payment_gateway.count>0?  100 / @payment_gateway.count : 0 %>
                    <% @payment_gateway.each_with_index do |p, i| %>
                      <% slotover2 = {} %>
                      <% slotover2 = @slot_over["#{p.id}"] if @slot_over.present? %>
                      <div class="slot_management_size12 float-left">
                        <div class="col-md-12">
                          <div class="m-input-icon m-input-icon--left">
                            <label><%= p.slot_name %>  <spanv title="Slot Attempts">(<%= slotover2.present? ? slotover2.try(:[], "total_count2") : 0 %>)</spanv></label>
                            <input type="hidden" value="<%= slotover2.present? ? slotover2.try(:[], "count2").present? ? slotover2.try(:[], "count2") : 0 : 0 %>" name="query[over][<%= i %>][<%= p.id %>][count2]">
                            <input type="hidden" value="<%= slotover2.present? ? slotover2.try(:[], "total_count2").present? ? slotover2.try(:[], "total_count2") : 0 : 0 %>" name="query[over][<%= i %>][<%= p.id %>][total_count2]">
                            <input type="number" value="<%= slotover2.present? ? slotover2.try(:[], "value2") : 0 %>" class="form-control perc_attempt2_over perc_over2" id="attempt2_over_<%= i %>" name="query[over][<%= i %>][<%= p.id %>][value2]" >
                            <span class="m-input-icon__icon m-input-icon__icon--left">
                            <span><i class="fa fa-percent"></i></span></span>
                          </div>
                        </div>
                      </div>
                    <% end %>
                  </div>
                </div>
              </div>

              <div class="col-md-12 margin_top_3perc">
                <div class="col-md-2 col-md-offset-5">
                  <p class="over_message_slot_management" title="Over setting will execute if Amount is greater!">Over  <span class="fa fa-arrow-up margin_left_4px"></span></p>
                  <input type="text" class="form-control align_center" value="<%= @slot_amount.present? ? @slot_amount : 0 %>" name="query[amount]" id="attemptamount" title="Amonut">
                  <p class="under_message_slot_management" title="Under setting will execute if Amount is less!">Under  <span class="fa fa-arrow-down margin_left_4px"></span></p>
                </div>
              </div>

              <div class="col-md-12 margin_top_3perc">
                <div class="col-md-2">
                  <label class="margin_top_15perc">
                    <input type="hidden" name="gateway_size_val21" id="slot_gateway_size_val21" value="<%= size = @payment_gateway.count>0?  100 / @payment_gateway.count : 0 %>">
                    Attempt 1 <%= link_to "<span class='fa fa-refresh'></span>".html_safe, reset_slot_setting_admins_slot_gateways_path(key: AppConfig.keys["slot_under"],attempt: "1"), id:"attempt21" , data: { confirm: 'Are you sure?' }, title: "Reset Attempts" %>
                  </label>
                </div>
                <div class="col-md-10">
                  <div class="row">
                    <input type="hidden" name="gateway_size_val" id="slot_gateway_size_val" value="<%= size = @payment_gateway.count>0?  100 / @payment_gateway.count : 0 %>">
                    <% size = @payment_gateway.count>0?  100 / @payment_gateway.count : 0 %>
                    <% @payment_gateway.each_with_index do |p, i| %>
                      <% slotunder1 = {} %>
                      <% slotunder1 = @slot_under["#{p.id}"] if @slot_under.present? %>
                      <div class="slot_management_size21 float-left">
                        <div class="col-md-12">
                          <div class="m-input-icon m-input-icon--left">
                            <label><%= p.slot_name %>  <span class="title_span" title="Slot Attempts">(<%= slotunder1.present? ? slotunder1.try(:[], "total_count1") : 0 %>)</span></label>
                            <input type="hidden" value="<%= slotunder1.present? ? slotunder1.try(:[], "count1").present? ? slotunder1.try(:[], "count1") : 0 : 0 %>" name="query[under][<%= i %>][<%= p.id %>][count1]">
                            <input type="hidden" value="<%= slotunder1.present? ? slotunder1.try(:[], "total_count1").present? ? slotunder1.try(:[], "total_count1") : 0 : 0 %>" name="query[under][<%= i %>][<%= p.id %>][total_count1]">
                            <input type="number" value="<%= slotunder1.present? ? slotunder1.try(:[], "value1") : 0 %>" class="form-control perc_attempt1_under perc_under1" id="attempt1_under_<%= i %>" name="query[under][<%= i %>][<%= p.id %>][value1]" >
                            <span class="m-input-icon__icon m-input-icon__icon--left">
                            <span><i class="fa fa-percent"></i></span></span>
                          </div>
                        </div>
                      </div>
                    <% end %>
                  </div>
                </div>
              </div>
              <div class="col-md-12 margin_top_1perc">
                <div class="col-md-2">
                  <label class="margin_top_15perc">
                    <input type="hidden" name="gateway_size_val22" id="slot_gateway_size_val22" value="<%= size = @payment_gateway.count>0?  100 / @payment_gateway.count : 0 %>">
                    Attempt 2 <%= link_to "<span class='fa fa-refresh'></span>".html_safe, reset_slot_setting_admins_slot_gateways_path(key: AppConfig.keys["slot_under"],attempt: "2"), id:"attempt22" , data: { confirm: 'Are you sure?' }, title: "Reset Attempts" %>
                  </label>
                </div>
                <div class="col-md-10">
                  <div class="row">
                    <% size = @payment_gateway.count>0?  100 / @payment_gateway.count : 0 %>
                    <% @payment_gateway.each_with_index do |p, i| %>
                      <% slotunder2 = {} %>
                      <% slotunder2 = @slot_under["#{p.id}"] if @slot_under.present? %>
                      <div class="slot_management_size22 float-left">
                        <div class="col-md-12">
                          <div class="m-input-icon m-input-icon--left">
                            <label><%= p.slot_name %>  <span class="title_span" title="Slot Attempts">(<%= slotunder2.present? ? slotunder2.try(:[], "total_count2") : 0 %>)</span></label>
                            <input type="hidden" value="<%= slotunder2.present? ? slotunder2.try(:[], "count2").present? ? slotunder2.try(:[], "count2") : 0 : 0 %>" name="query[under][<%= i %>][<%= p.id %>][count2]">
                            <input type="hidden" value="<%= slotunder2.present? ? slotunder2.try(:[], "total_count2").present? ? slotunder2.try(:[], "total_count2") : 0 : 0 %>" name="query[under][<%= i %>][<%= p.id %>][total_count2]">
                            <input type="number" value="<%= slotunder2.present? ? slotunder2.try(:[], "value2") : 0 %>" class="form-control perc_attempt2_under perc_under2" id="attempt2_under_<%= i %>" name="query[under][<%= i %>][<%= p.id %>][value2]" >
                            <span class="m-input-icon__icon m-input-icon__icon--left">
                            <span><i class="fa fa-percent"></i></span></span>
                          </div>
                        </div>
                      </div>
                    <% end %>
                  </div>
                </div>
              </div>
              <div class="col-md-12 submit_slot_management">
                <button type="submit" class="btn btn-success width_150px">Save</button>
              </div>
            </div>
        </section>
        <% end %>
      </div>
    </div>
  </div>
</section>
<section id="edit_modal"></section>
<div id="cover-spin"></div>
