<%= stylesheet_link_tag asset_path("admins/plugin_details/plugin_details_styles"), media: 'all', 'data-turbolinks-track' => 'reload' %>
<div class="card">
  <div class="row">
    <div class="col-md-12">
      <%if perform_action.eql?("new") %>
        <%= form_for @asset, multipart: true, url: {action: "create"} do |f| %>
          <div class="file-field" >
            <div class="col-md-1">
              <%= f.label "Plugin Name:", class: "field_label" %>
              <%= f.label "Plugin Version:", class: "field_label" %>
            </div>
            <div class="col-md-11">
              <div class="col-md-5">
                <%= f.text_field :name, class: "input form-control margin_10px", :required => true%>
                <%= f.text_field :version, class: "input form-control margin_10px",placeholder: "1.0.0", :required => true%>
                <%= f.file_field :file, class: "input form-control margin_10px", :required => true%>
                <%= button_tag type: 'submit', class: "btn btn-primary margin_left_8px" do%>
                  <i class="fa fa-upload" aria-hidden="true"></i> Upload
                <% end %>
              </div>
            </div>
          </div>
        <% end %>
      <%elsif perform_action.eql?("edit") %>
        <%= form_for @asset, multipart: true, url: {action: "update"} do |f| %>
          <div class="file-field" >
            <div class="col-md-1">
              <%= f.label "Plugin Name:", class: "field_label" %>
              <%= f.label "Plugin Version:", class: "field_label" %>
            </div>
            <div class="col-md-11">
              <div class="col-md-5">
                <%= f.text_field :name, class: "input form-control margin_10px", :required => true%>
                <%= f.text_field :version, class: "input form-control margin_10px",placeholder: "1.0.0", :required => true%>
                <%= f.file_field :file, class: "input form-control margin_10px"%>

                <%= link_to admins_plugin_index_path, class: "btn btn-secondary btn_back" do %>
                  <i class="fa fa-caret-left" aria-hidden="true"></i> Back
                <% end %>
                <%= button_tag type: 'submit', class: "btn btn-primary pull-right margin_left_8px" do%>
                  <i class="fa fa-upload" aria-hidden="true"></i> Upload
                <% end %>
              </div>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
