<%= stylesheet_link_tag asset_path("admins/plugin_details/plugin_details_styles"), media: 'all', 'data-turbolinks-track' => 'reload' %>
<div class="card">
  <div class="row">
    <div class="col-md-12">
      <div class="field">
        <label  class="col-md-1 field_label"><%="Plugin name:" %></label>
        <div class="col-md-11">
          <div class="col-md-6">
            <label  class="field_label"><%=plugin.try(:name).humanize if plugin.try(:name).present? %></label>
          </div>
          <div class="row">
            <div class="col-md-6 padding_left_25px">
              <div class="file_name col-md-5">
                <%= link_to plugin.file.url, class:"btn btn-success pull-right margin_top_7px" do%>
                  <i class="fa fa-download"></i> Download File
                <% end %>
              </div>
              <div class="file_actions col-md-3">
                <%= link_to edit_admins_plugin_path(plugin),  class: "btn btn-primary margin_top_7px" do%>
                  <i class="fa fa-edit  "></i> Edit
                <%end %>
              </div>
              <div class="file_actions col-md-4">
                <%= link_to admins_plugin_path(plugin), method: :delete, data: { confirm: 'Are you sure?' },  class: "btn btn-danger margin_top_7px" do%>
                  <i class="fa fa-trash"></i> Delete
                <%end %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>