
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />

<section>
  <div class="title-block">
    <h2 class="title">Edit Plugin</h2>
  </div>
  <%= render partial: 'admins/plugin/new_plugin', :locals => {:perform_action => "edit"}  %>
</section>