

<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />

<div class="title-block">
  <h1 class="title">Plugins</h1>
</div>

<section class="section">
    <%@plugins.each do |plugin|  %>
      <%= render partial: 'admins/plugin/plugin' , :locals => {:plugin => plugin} %>
    <% end %>
</section>

<section>
  <div class="title-block">
    <h2 class="title">Add new Plugin</h2>
  </div>
    <%= render partial: 'admins/plugin/new_plugin', :locals => {:perform_action => "new"} %>
</section>