.dropdown-menu{
    left: -50%;
}
@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px)
and (orientation : landscape) {
    .dropdown-menu{
        left: -107px;
    }
}
@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px)
and (orientation : portrait) {
    .dropdown-menu{
        left: -107px;
    }
}
.dropdown-menu > li > a {
    background-color: whitesmoke;
    color: #000000 !important;
    background-image: none;
}
.dropdown-menu > li > a:hover {
    background-color: #7867a7;
    background-image: none;
}
#cover-spin {
    position:fixed;
    width:100%;
    left:0;right:0;top:0;bottom:0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index:9999;
    display:none;
}
@-webkit-keyframes spin {
    from {-webkit-transform:rotate(0deg);}
    to {-webkit-transform:rotate(360deg);}
}
@keyframes spin {
    from {transform:rotate(0deg);}
    to {transform:rotate(360deg);}
}
#cover-spin::after {
    content:'';
    display:block;
    position:absolute;
    left:48%;top:40%;
    width:40px;height:40px;
    border-style:solid;
    border-color:black;
    border-top-color:transparent;
    border-width: 4px;
    border-radius:50%;
    -webkit-animation: spin .8s linear infinite;
    animation: spin .8s linear infinite;
}

.kisok_title{
    float: left;
    margin-right: 20px;
}
.total_kisok_text{
    padding: 4px;
    background-color: blue !important;
    padding-top: 8px;
    padding-bottom: 8px;
    text-align: center;
}
.total_amount_text{
    padding: 4px;
    padding-top: 8px;
    padding-bottom: 8px;
    text-align: center;
}
.disp_none{
    display: none;
}
.padding_bottom_zero{
    padding-bottom: 0px;
}
.padding_left_15px{
    padding-left: 15px;
}
.bill_title{
    padding: 4px;
    padding-top: 8px;
    padding-bottom: 8px;
    text-align: center;
}
.transaction_title_span{
    float: right;
    color: white !important;
}
.balck_quotes{
    border-left: 5px solid #4a90e2;
    background: white;
}
.total_kisok_show{
    padding: 4px;
    padding-top: 8px;
    padding-bottom: 8px;
    text-align: center;
}
.atm_main_div_show{
    background-color: gainsboro;
    margin-bottom: 1px;
}