<%= stylesheet_link_tag asset_path("main-shared-custom"), media: 'all', 'data-turbolinks-track' => 'reload' %>
<aside class="sidebar overflow-x-scroll-shared">
  <div class="sidebar-container">
    <div class="sidebar-header">
      <div class="brand">
        <div class="logo">
          <a href="#" id="transactions" data-url="<%= transactions_admins_path %>"><img width="180px" src="<%= asset_path('logo_3x.ico')%>" alt="Quick Card"></a>
        </div>
      </div>
      <nav class="menu">
        <ul class="nav metismenu" id="sidebar-menu">
<!--          <li class="<%#= active_class(admins_path) %>">-->
<!--            <a href="<%#= admins_path %>"> <i class="icon-home icons"></i> Dashboard </a>-->
<!--          </li>-->
          <li class="<%= (current_page?(transactions_admins_path)) ? 'active open' : ''  %>">
            <a href="#" id="transactions" data-url="<%= transactions_admins_path %>"> <i class="icon-directions icons"></i> Transactions </a>
          </li>
          <% if current_user.admin? %>
            <li class="<%= (current_page?(users_path) and params[:user] == "greenbox_user") ? 'active open' : ''  %>">
              <a href="<%=users_path(user: "greenbox_user") %>"> <i class="icon-people icons"></i> GreenBox Users </a>
            </li>
          <% end %>
          <li class="<%= (current_page?(users_path) or current_page?(archived_users_users_path) and controller_name == "users" and params[:user] != "greenbox_user" and params[:user] != "admin_users" and params[:user] != "affiliate_programs") ? 'active open' : ''  %>">
            <a href="<%=users_path(user: "customer") %>"> <i class="icon-people icons"></i> Users </a>
          </li>

          <li class="<%= (current_page?(users_path) and ( params[:user] == "admin_users") || params[:user] == "affiliate_programs")? 'active open' : ''  %>">
            <a href="<%=users_path(user: "admin_users") %>"> <i class="icon-people icons"></i> Affiliate Programs  </a>
          </li>

          <li class="<%= current_page?(merchants_path) || current_page?(locations_path) ? 'active open' : ''  %>">
            <a href="<%= merchants_path %>"> <i class="icon-directions icons"></i> Merchants </a>
          </li>
<!--          <li class="<%#= current_page?(admins_customer_disputes_path) ? 'active open' : ''  %>">-->
<!--            <a href="<%#= admins_customer_disputes_path(dispute_type: "refund") %>"> <i class="icon-directions icons"></i> Customer Portal </a>-->
<!--          </li>-->
          <li class="atms <%= current_page?(user_request_verification_admins_path) ? 'active open' : ''  %>">
            <a href="<%= user_request_verification_admins_path(req: "all") %>">
              <i class="icon-directions icons"></i> Verification <i class="fa arrow"></i> </a>
            <ul>
              <%if params[:req].present? %>
                <%if params[:req] == 'all' %>
                  <li class="<%= active_class(user_request_verification_admins_path(req: "all")) %>">
                    <a href="<%=user_request_verification_admins_path(req: "all") %>"> Merchant Verification </a>
                <%elsif params[:req] == 'pending'%>
                  <li class="<%= active_class(user_request_verification_admins_path(req: "pending")) %>">
                    <a href="<%=user_request_verification_admins_path(req: "pending") %>"> Merchant Verification </a>
                <%elsif params[:req] == 'approved'%>
                  <li class="<%= active_class(user_request_verification_admins_path(req: "approved")) %>">
                    <a href="<%=user_request_verification_admins_path(req: "approved") %>"> Merchant Verification </a>
                <%else %>
                  <li class="<%= active_class(user_request_verification_admins_path(req: "all")) %>">
                    <a href="<%=user_request_verification_admins_path(req: "all") %>"> Merchant Verification </a>
                <%end %>
              <%else %>
                <li class="<%= active_class(user_request_verification_admins_path(req: "all")) %>">
                  <a href="<%=user_request_verification_admins_path(req: "all") %>"> Merchant Verification </a>
              <%end %>
              <li class="<%= params[:req] == 'banks' ? 'active'  : '' %>">
                <a href="<%= user_request_verification_admins_path(others: "all",req: "banks") %>"> Bank Verification</a>
              </li>
            </ul>
          </li>
          <li class="<%= current_page?(cases_admins_disputes_path) ? 'active open' : ''  %>">
            <a href="#" id="dispute_cases" data-url="<%= cases_admins_disputes_path %>"> <i class="icon-directions icons"></i> Dispute Cases </a>
          </li>
          <li class="<%= current_page?(tickets_path) ? 'active open' : ''  %>">
            <% ticket_count = Ticket.where(get_attention: true, device_type: nil ).count %>
            <a href="<%= tickets_path %>"> <i class="icon-directions icons"></i> Tickets
              <% if ticket_count > 0%>
                  <span class="fa-stack" id='ticket_notifications_block1'>
                    <!-- The icon that will wrap the number -->
                    <span class="fa fa-comment fa-stack-1x text-primary font-size-25-px-shared"></span>
                    <!-- a strong element with the custom content, in this case a number -->
                    <strong class="fa-stack-1x notification-count1-shared" id='notifications_count1'>
                      <%= ticket_count %>
                    </strong>
                  </span>
              <% end %></a>
          </li>

          <li class="minfraud-maxmind <%= (current_page?(admins_maxmind_index_path) or current_page?(edit_admins_maxmind_index_path) ) ? 'active open' : ''  %>">
            <a href="<%= admins_maxmind_index_path %>">
              <i class="icon-directions icons"></i> MinFraud Maxmind <i class="fa arrow"></i> </a>
            <ul>
              <li class="<%= active_class(edit_admins_maxmind_index_path) %>">
                <a href="<%=edit_admins_maxmind_index_path %>"> Risk Configuration </a>
              </li>
            </ul>
          </li>
<!--          <li class="<%#= current_page?(admins_mechant_bank_apis_index_path) ? 'active open' : '' %>">-->
<!--            <a href="<%#= admins_mechant_bank_apis_index_path %>"> <i class="icon-directions icons"></i>-->
<!--              Trip Merchants </a>-->
<!--          </li>-->

          <li class="atms <%= (current_page?(admins_transfers_index_path) or current_page?(admins_total_funds_path) or current_page?(admins_invoices_path) ) ? 'active open' : ''  %>">
            <a href="<%= admins_transfers_index_path %>">
              <i class="icon-directions icons"></i> Accounting <i class="fa arrow"></i> </a>
            <ul>
              <li class="<%= active_class(admins_transfers_index_path) %>">
                <a href="<%=admins_transfers_index_path %>"> Account Transfer </a>
              </li>
              <li class="<%= active_class(admins_total_funds_path) %>">
                <a href="<%=admins_total_funds_path %>"> Total Withdraw Funds </a>
              </li>
              <li class="<%= controller_name == "hold_money" ? 'active' : '' %>">
                <a href="<%=admins_merchant_circle_path %>"> Merchant Cycle </a>
              </li>
<!--              <li class="<%#= active_class(admins_sales_index_path) %>">-->
<!--                <a href="<%#=admins_sales_index_path %>"> Sale Requests </a>-->
<!--              </li>-->
<!--              <li class="<%#= active_class(admins_sales_qr_refund_path) %>">-->
<!--                <a href="<%#=admins_sales_qr_refund_path %>"> QR Pending Refunds </a>-->
<!--              </li>-->
              <li class="<%= active_class(admins_invoices_path) %>">
                <a href="<%= admins_invoices_path %>">
                  Invoices
                  <% if @admin_notifications.present? %>
                    <% if @admin_notifications.where(action: "invoice").count > 0%>
                    <span class="fa-stack" id='ticket_notifications_block'>
                      <!-- The icon that will wrap the number -->
                      <span class="fa fa-comment fa-stack-1x text-primary font-size-25-px-shared"></span>
                      <!-- a strong element with the custom content, in this case a number -->
                      <strong class="fa-stack-1x notification-count1-shared" id='notifications_count'>
                        <%= @admin_notifications.where(action: "invoice").count %>
                      </strong>
                    </span>
                    <% end %>
                  <% end %>
                </a>
              </li>
            </ul>
          </li>

          <li class="atms <%= (current_page?(admins_payment_gateways_path) or current_page?(cards_admins_blocked_cards_path) or current_page?(check_admins_ach_gateways_path) or current_page?(admins_slot_gateways_path) or current_page?(push_to_card_admins_ach_gateways_path) or current_page?(admins_ach_gateways_path) or current_page?(app_configs_path) or current_page?(merchant_app_configs_app_configs_path) or current_page?(atm_config_app_configs_path)) ? 'active open' : ''  %>">
            <a href="<%= admins_payment_gateways_path %>">
              <i class="icon-directions icons"></i> Bank Settings <i class="fa arrow"></i> </a>
            <ul>
              <li class="<%= active_class(admins_payment_gateways_path) %>">
                <a href="<%= admins_payment_gateways_path %>"> Payment Gateways </a>
              </li>
              <li class="<%= active_class(admins_load_balancers_path) %>">
                <a href="<%= admins_load_balancers_path %>"> Load Balancer</a>
              </li>
              <li class="<%= active_class(merchant_app_configs_app_configs_path) %>">
                <a id="merchant_configs_path" data-url="<%= merchant_app_configs_app_configs_path %>">Merchant Configs</a>
              </li>
              <li class="<%= active_class(load_balancer_configs_app_configs_path) %>">
                <a id="merchant_configs_path" data-url="<%= load_balancer_configs_app_configs_path %>">Load Balancer Configs</a>
              </li>
              <li class="<%= active_class(admins_ach_gateways_path) %>">
                <a href="<%= admins_ach_gateways_path %>"> ACH Gateways </a>
              </li>
              <li class="<%= active_class(check_admins_ach_gateways_path) %>">
                <a href="<%= check_admins_ach_gateways_path %>"> Check Gateways </a>
              </li>
              <li class="<%= active_class(push_to_card_admins_ach_gateways_path) %>">
                <a href="<%= push_to_card_admins_ach_gateways_path %>"> Push to Card Gateways </a>
              </li>
              <li class="<%= active_class(admins_slot_gateways_path) %>">
                <a href="<%= admins_slot_gateways_path %>"> Slot Gateways </a>
              </li>
              <li class="<%= active_class(cards_admins_blocked_cards_path(card: "blocked")) %>">
                <a href="<%= cards_admins_blocked_cards_path(card: "blocked") %>"> Blacklist Cards </a>
              </li>
              <li class="<%= active_class(cards_admins_blocked_cards_path(card: "vip")) %>">
                <a href="<%= cards_admins_blocked_cards_path(card: "vip") %>"> Vip Cards </a>
              </li>
            </ul>
          </li>
          <li class="<%= current_page?(exported_files_transactions_path) ? 'active open' : ''  %>">
            <a href="<%= exported_files_transactions_path %>" > <i class="icon-directions icons"></i> Exported Files
              <% reports = Report.where(read: false, user_id: current_user.id,status: ["completed","pending"]).count %>
              <% if reports > 0 %>
                  <span class="fa-stack" id='report_notifications_block1'>
                    <span class="fa fa-bell fa-stack-1x text-primary font-size-25-px-shared"></span>
                    <strong class="fa-stack-1x notification-count1-shared" id='notifications_count1'>
                      <span id="reports_read_count"><%= reports %></span>
                    </strong>
                  </span>
              <% else %>
                  <span class="fa-stack display-none-shared" id='report_notifications_block2'>
                    <span class="fa fa-bell fa-stack-1x text-primary font-size-25-px-shared"></span>
                    <strong class="fa-stack-1x notification-count1-shared" id='notifications_count1'>
                      <span id="reports_read_count">0</span>
                    </strong>
                  </span>
              <% end %>
            </a>
          </li>
          <li class="atms <%= (current_page?('/admins/reports/index/audit')  or current_page?('/admins/reports/index/cbk_detail') or current_page?('/admins/reports/index/chargeback') or current_page?('/admins/reports/index/terminal_id') or current_page?('/admins/reports/index/iso_profit_split') or current_page?('/admins/reports/index/withdrawal') or current_page?('/admins/reports/index/fee_detail') or current_page?('/admins/reports/index/audit_gateway') or current_page?('/admins/reports/index/sale') or current_page?('/admins/reports/index/fee_summary') or current_page?('/admins/reports/index/refund') or current_page?('/admins/reports/index/gateway') or current_page?('/admins/reports/index/wallet') or current_page?('/admins/reports/index/iso_summary') or current_page?('/admins/reports/index/merchant')  or current_page?(admins_merchant_circle_path) or current_page?(export_accounts_path) or current_page?(admins_order_banks_path) ) ? 'active open' : ''  %>">
            <a href="<%=admins_order_banks_path %>" id="all_reports" >
              <i class="icon-directions icons"></i> Reports <i class="fa arrow"></i> </a>
            <ul>
              <li class="<%= current_page?(admins_order_banks_path) ? 'active open' : ''  %>">
                <a href="#" id="cc_reports" data-url = "<%= admins_order_banks_path %>"> Processing Reports </a>
              </li>
              <li class="<%= active_class('/admins/reports/index/chargeback') %>">
                <a href="/admins/reports/index/chargeback">
                  Chargeback Report
                </a>
              </li>
              <li class="<%= active_class('/admins/reports/index/cbk_detail') %>">
                <a href="/admins/reports/index/cbk_detail">
                  CBK Detail Report
                </a>
              </li>
              <li class="<%= active_class('/admins/reports/index/sale') %>">
                <a href="/admins/reports/index/sale">
                  Sale Report
                </a>
              </li>
              <li class="<%= active_class('/admins/reports/index/gateway') %>">
                <a href="/admins/reports/index/gateway">
                  Gateway Summary Report
                </a>
              </li>
              <li class="<%= active_class('/admins/reports/index/merchant') %>">
                <a href="/admins/reports/index/merchant">
                  Merchant Report
                </a>
              </li>
              <li class="<%= active_class('/admins/reports/index/wallet') %>">
                <a href="/admins/reports/index/wallet">
                  Wallet Report
                </a>
              </li>
              <li class="<%= active_class('/admins/reports/index/withdrawal') %>">
                <a href="/admins/reports/index/withdrawal">
                  Withdrawal Report
                </a>
              </li>
              <li class="<%= active_class('/admins/reports/index/terminal_id') %>">
                <a href="/admins/reports/index/terminal_id">
                  Terminal ID Report
                </a>
              </li>
              <li class="<%= active_class('/admins/reports/index/affiliate_program') %>">
                <a href="/admins/reports/index/affiliate_program">
                  Affiliate Program Report
                </a>
              </li>
            </ul>
          </li>

          <li class="atms <%= (current_page?(admins_emails_path) or current_page?(admins_emails_path) or current_page?(admins_emails_path) or controller_name == "emails") ? 'active open' : '' %>">
            <a href="<%= admins_emails_path %>">
              <i class="icon-directions icons"></i> Notifications <i class="fa arrow"></i> </a>
            <ul>
              <li class="<%= active_class(admins_emails_path) %>">
                <a href="<%= admins_emails_path %>">
                  External Email
                </a>
              </li>
            </ul>
          </li>

          <li class="<%= (current_page?(admins_activity_logs_path) or current_page?(version_admins_activity_logs_path) or current_page?(server_error_admins_activity_logs_path) or current_page?(email_track_admins_activity_logs_path) or current_page?(system_admins_activity_logs_path) or current_page?(not_found_admins_activity_logs_path) or current_page?(bad_request_admins_activity_logs_path) or current_page?(un_authorized_admins_activity_logs_path) or (controller_name === 'activity_logs' and !current_page?(api_setting_admins_activity_logs_path) && !current_page?(graph_setting_admins_activity_logs_path) && !current_page?(accounting_setting_admins_activity_logs_path))) ? 'active open' : ''  %>">
            <a href="<%= admins_activity_logs_path %>">
              <i class="icon-directions icons"></i>  Activity Logs <i class="fa arrow"></i> </a>
            <ul>
              <li class="<%= active_class(admins_activity_logs_path) %>">
                <a href="<%= admins_activity_logs_path %>">
                  All Logs
                </a>
              </li>
              <li class="<%= active_class(affiliate_logs_admins_activity_logs_path) %>">
                <a href="<%= affiliate_logs_admins_activity_logs_path %>">
                  Affiliate Program Logs
                </a>
              </li>
              <li class="<%= active_class(un_authorized_admins_activity_logs_path) %>">
                <a href="<%= un_authorized_admins_activity_logs_path %>">
                  Unauthorized access
                </a>
              </li>
              <li class="<%= active_class(bad_request_admins_activity_logs_path) %>">
                <a href="<%= bad_request_admins_activity_logs_path %>">
                  Bad Request
                </a>
              </li>
              <li class="<%= active_class(server_error_admins_activity_logs_path) %>">
                <a href="<%= server_error_admins_activity_logs_path %>">
                  Internal Server Errors
                </a>
              </li>
              <li class="<%= active_class(not_found_admins_activity_logs_path) %>">
                <a href="<%= not_found_admins_activity_logs_path %>">
                  Not Found
                </a>
              </li>
              <li class="<%= active_class(system_admins_activity_logs_path) %>">
                <a href="<%= system_admins_activity_logs_path %>">
                  System SMS
                </a>
              </li>
              <li class="<%= active_class(email_track_admins_activity_logs_path) %>">
                <a href="<%= email_track_admins_activity_logs_path %>">
                  Email Track
                </a>
              </li>
              <li class="<%= active_class(version_admins_activity_logs_path) %>">
                <a href="<%= version_admins_activity_logs_path %>">
                  Version Number
                </a>
              </li>
            </ul>
          </li>

          <li class="<%= (current_page?(admins_plugin_index_path) or current_page?(api_setting_admins_activity_logs_path)or current_page?(graph_setting_admins_activity_logs_path) or current_page?(accounting_setting_admins_activity_logs_path)) ? 'active open mb-15' : ''  %>">
            <a href="/admins/app_configs/fee/user">
              <i class="icon-directions icons"></i> System Settings <i class="fa arrow"></i> </a>
            <ul>
              <li class="<%= (controller_name == "plugin" and action_name == "index") ? 'active' : '' %>">
                <a href="<%= admins_plugin_index_path %>">
                  <i class="icon-directions icons"></i>  Upload Plugins </a>
              </li>
              <li class="<%= active_class(api_setting_admins_activity_logs_path) %>">
                <a href="<%= api_setting_admins_activity_logs_path %>">
                  <i class="icon-directions icons"></i> API Settings
                </a>
              </li>
              <li class="<%= active_class(graph_setting_admins_activity_logs_path) %>">
                <a href="<%= graph_setting_admins_activity_logs_path %>">
                  <i class="icon-directions icons"></i> Graph Settings
                </a>
              </li>
              <li class="<%= active_class(accounting_setting_admins_activity_logs_path) %>">
                <a href="<%= accounting_setting_admins_activity_logs_path %>">
                  <i class="icon-directions icons"></i> Accounting Settings
                </a>
              </li>
            </ul>

          </li>

          <li class="<%= (current_page?(error_message_index_path)) ? 'active open' : ''  %>">
            <a href="#" id="transactions" data-url="<%= error_message_index_path %>"> <i class="icon-directions icons"></i> Error Codes </a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</aside>

