<header class="header">
  <div class="header-block header-block-collapse hidden-lg-up">
    <button class="collapse-btn" id="sidebar-collapse-btn">
      <i class="fa fa-bars"></i>
    </button>
  </div>
  <% path_segments = request.original_url.split("/") %>
  <% if path_segments[-1] == "edit" && path_segments[-3] == "tickets" && path_segments[-4] == "admins"%>
      <div>
<!--        <a type="button" class="btn btn-primary" href="/admins/tickets" style="margin-left: 10px;"><span class="fa fa-chevron-left"></span><b> Back</b></a>-->

      </div>
  <% end %>

  <div class="header-block header-block-nav">
    <ul class="nav navbar-nav navbar-right">
      <li class="">
        <a href="#"  aria-haspopup="true" aria-expanded="false"><i class="fa fa-bell"></i> (<b><%= @admin_notifications.try(:count) %></b>)</a>
<!--        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><i class="fa fa-bell"></i> (<b>0</b>)</a>-->
        <ul class="dropdown-menu">
          <div class="drop-content">
            <li>
              <div class="row">
              <!--<div class="col-md-3 col-sm-3 col-xs-3"><div class="notify-img"><img src="http://placehold.it/45x45" alt=""></div></div>-->
              <!--<div class="col-md-9 col-sm-9 col-xs-9"><a href="">Ahmet</a> yorumladı. <a href="">Çicek bahçeleri...</a> <a href="" class="rIcon"><i class="fa fa-dot-circle-o"></i></a>-->
                <!--&lt;!&ndash;<hr>&ndash;&gt;-->
                <!--&lt;!&ndash;<p class="time">Şimdi</p>&ndash;&gt;-->
              <!--</div>-->
              </div>
            </li>
          </div>
        </ul>
      </li>

      <li class="notifications new">
        <% if current_user %>
            <%= link_to destroy_user_session_path, :method => :delete,:data => { :confirm => 'Logout?'} do  %>
                <i class='fa fa-sign-out'></i><sup></sup>
            <% end %>
        <% end %>
      </li>
    </ul>
  </div>
</header>
