<%= stylesheet_link_tag asset_path("main-shared-custom"), media: 'all', 'data-turbolinks-track' => 'reload' %>


<div class="modal fade " id="modal-69" class="modala" tabindex="-1" role="dialog" aria-labelledby="modal-label-69" aria-hidden="true">

  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h6 id="modal-label-69">Identity Card Verification</h6>
      </div>
      <div class="modal-body">

        <div class="">
          <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12">
              <div class="">

                <div class="row">
                  <div class="col-sm-12 col-md-12">
                    <h4><%= user.name %></h4>
                    <large><cite title="Phone Number"><%= user.phone_number %>   <i class="fa fa-phone" aria-hidden="true">
                    </i></cite></large>
                    <p>
                      <!--<i  class="fa fa-envelope-o" aria-hidden="true"></i>-->
                      <%#= user.email %>
                      <!--<br />-->
                      <i  class="fa fa-tasks" aria-hidden="true"></i>
                      <% if user.is_block == false %>
                          <span class="label label-danger">Active</span>
                      <% else %>
                          <span class="label label-primary">Inactive</span>
                      <% end %>
                      <br />
                      <i class="fa fa-map-marker" aria-hidden="true">  <%= user.postal_address ? user.postal_address : 'N/A' %></i>
                      <br />
                      <i class="fa fa-calendar" aria-hidden="true">  <%= user.created_at.strftime('%D') %></i>
                      <br />
                      </p>
                    <strong>Token</strong><p id="auth-generator-text"><%= user.authentication_token %></p>
                    <a  href="#"  data-id="<%= user.id %>" class="btn btn-down btn-primary generator">Refresh Token</a>

                  </div>

                </div>
              </div>
            </div>
          </div>
        </div>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary btn-sm" data-dismiss="modal">Cancel</button>
        <div class="btn-group dropup float-right-shared">
          <button type="button" class="btn btn-primary btn-sm dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Action</button>
          <div class="dropdown-menu float-right-shared">
            <%= link_to 'Approve' ,approve_status_admins_path(user.id), remote: true, class:"dropdown-item"  %>
            <div class="dropdown-divider"></div>
            <%= link_to 'Reject' ,reject_status_admins_path(user.id),  remote: true, class:"dropdown-item"  %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
    $('.generator').click(function(){
        tabDetailds($(this).data("ids"));

    });

    function tabDetailds(id) {
        $.ajax({
            url: '/admins/atms/:atm_id/auth_generator',
            type: 'GET',
            data: {user_id: id},
            success: function(data) {

            },
            error: function(data){
            }
        });

    }
</script>