<%= stylesheet_link_tag asset_path("main-shared-custom"), media: 'all', 'data-turbolinks-track' => 'reload' %>

<div id="modal-69" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            <h1 id="myModalLabel" class="text-center">GIFT CARD</h1>
        </div>
        <div class="modal-body text-align-center-shared">
          <div class="container-fluid">
            <div class="row">
              <div class="col-sm-10 col-sm-offset-1">

              <h4>Token: <%= gc.token %></h4>
                    <p>
                      <h4> Balance: $<%= balance %></h4>
                    </p>
              </div>
              <div class="col-md-1"></div>
            </div><!--/row-->
          </div><!--/container-->
        </div>

    </div>
    </div>
  </div><!--/modal-->
