<%= stylesheet_link_tag asset_path("main-shared-custom"), media: 'all', 'data-turbolinks-track' => 'reload' %>
<% if current_user.blank? %>
  <% if flash.present? %>
    <% flash.each do |key, value| %>
      <% if value != true %>
        <div class="m-alert m-alert--icon m-alert--air m-alert--square alert alert-dismissible email_alert" role="alert" id="alert-message-top">
          <div class="m-alert__icon">
            <% if value.include? "Unverified Recaptcha" %>
              <%= image_tag "customers/images/receptcha_alert.svg" %>
            <% else %>
              <%= image_tag "customers/images/email.svg" %>
            <% end %>
          </div>
          <div class="m-alert__text">
            <%= value %>
          </div>
          <div class="m-alert__close">
            <button class="close" data-dismiss="alert" aria-label="Close">
              <%= image_tag "customers/images/close-btn.svg" %>
            </button>
          </div>
        </div>
      <% end %>
    <%end%>
  <% end %>
<%else%>
  <div id="alert-message-top">
    <% flash.each do |key, value| %>
      <% if key != 'timedout' && key != 'notification_msg'%>
        <% if value.present? && (value == 'Invalid Email or password.' || value =='You have one more attempt before your account is locked.' || value =='Your account is locked. Please Check Your Email' || value.include?('Passcode'))%>
        <!--        <div class="container-fluid alert-<%#= key %> text-center">-->
                  <%# if key != "remaining"%>
        <!--            <div class=""  style="border:1px solid red; border-radius: 5px; ">-->
        <!--              <a href="#" data-dismiss="alert" class="close">×</a>-->
        <!--              <div class=""></div>-->
        <!--              <table>-->
        <!--                <tr>-->
        <!--                  <td style="width:100px;" class="alert-warning"><span class="warn warning"></span></td>-->
        <!--                  <td ></td>-->

        <!--                  <td class="text-center" > <span ><%#= value %></span></td>-->

                          <%# if value=='You have one more attempt before your account is locked.' %>
        <!--                    <td> <span>-->
        <!--              Please Try again or <%#= link_to 'Forgot Password?', new_user_password_path , class: 'forgot_password', id: 'login_forgot_password' %>-->
        <!-- </span></td>-->
                          <%# end %>
        <!--                </tr>-->
        <!--              </table>-->
        <!--            </div>-->
                  <%# end %>
        <!--        </div>-->
        <% else %>
          <% if key=='successss' %>
            <div class="alert1 alert-<%= key %> text-center background-green-shared">
              <a href="#" data-dismiss="alert" class="close">×</a>
              <ul>
                <h5><%= value %></h5>
              </ul>
            </div>
          <% else %>
            <div class="alert alert-<%= key %> text-center bg-primary" >
              <a href="#" data-dismiss="alert" class="close">×</a>
              <ul>
                <h5><%= value %></h5>
              </ul>
            </div>
          <% end %>
        <% end %>
      <% end %>
    <% end %>
  </div>
<%end%>
