<%= stylesheet_link_tag asset_path("main-shared-custom"), media: 'all', 'data-turbolinks-track' => 'reload' %>

<% if user_signed_in? %>
  <% if current_user.MERCHANT? && current_user.merchant_id.present? && current_user.try(:permission).regular? %>
    <footer class="footer footer-shared">
      <div class="container">
        <div class="row">
          <div class="col-md-9">
            <ul class="list-inline">
              <li class="list-inline-item mr-4"><a href="/agreements/tos" target="_blank">Terms of agreement</a></li>
              <li class="list-inline-item mr-4"><a href="/agreements/legal" target="_blank">Privacy policy</a></li>
            </ul>
          </div>
        </div>
      </div>
    </footer>
  <% else %>
    <footer class="footer">
      <div class="container">
        <div class="row">
          <div class="col-md-9">
            <ul class="list-inline">
              <li class="list-inline-item mr-4"><a href="/agreements/tos" target="_blank">Terms of agreement</a></li>
              <li class="list-inline-item mr-4"><a href="/agreements/legal" target="_blank">Privacy policy</a></li>
            </ul>
          </div>
        </div>
      </div>
    </footer>
  <% end %>
<% else %>
<!--  <footer class="footer">-->
<!--    <div class="container">-->
<!--      <div class="row">-->
<!--        <div class="col-md-9">-->
<!--          <ul class="list-inline">-->
<!--            <li class="list-inline-item mr-4"><a href="/agreements/tos" target="_blank">Terms of agreement</a></li>-->
<!--            <li class="list-inline-item mr-4"><a href="/agreements/legal" target="_blank">Privacy policy</a></li>-->
<!--          </ul>-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->
<!--  </footer>-->
<% end %>
