<%= stylesheet_link_tag asset_path("main-shared-custom"), media: 'all', 'data-turbolinks-track' => 'reload' %>

<div id="alert-message">
  <% flash.each do |key, value| %>
    <% if key != 'timedout' && key != 'notification_msg'%>
      <% if value.present? && (value == 'Invalid Email or password.' || value =='You have one more attempt before your account is locked.' || value =='Your account is locked. Please Check Your Email' || value == 'Invalid Phone and Password.' || value == 'Email not found' || value == 'Email has been sent' || value == 'Invalid Password' || value.include?('Passcode'))%>
        <div class="container-fluid alert-<%= key %> text-center" id="error">
          <% if key != "remaining"%>
            <div class="remaining-login-flash-shared">

              <div  class="warn warning"></div>
              <div ><strong><%= value %></strong></div>

              <!--              <table>-->
              <!--                <tr>-->
              <!--                  <td style="width:100px;" class=""><span class="warn warning"></span></td>-->
              <!--                  <td ></td>-->

              <!--                  <td class="text-center" > <span ><strong><%#= value %></strong></span></td>-->

              <!--                </tr>-->
              <!--              </table>-->
            </div>
          <% end %>
        </div>
      <% end %>
    <% end %>
  <% end %>
</div>

