<%= stylesheet_link_tag asset_path("main-shared-custom"), media: 'all', 'data-turbolinks-track' => 'reload' %>

<aside class="main-sidebar">
  <section class="sidebar">
    <% if current_user.ISO? || current_user.PARTNER? || current_user.AGENT? || current_user.AFFILIATE? || current_user.qc? %>
      <%= render partial: 'shared/iso_agent_menue' %>
    <% else %>
      <ul class="sidebar-menu sidebar-menu-merchant-shared" data-widget="tree">
        <% if current_user.MERCHANT? && @user_permission.regular? %>
          <li class="treeview <%= ['merchant/sales'].include?(params[:controller]) and ['transactions', 'batch'].include?(params[:action]) ? 'active' : '' %>">
            <a href="<%= transactions_merchant_sales_path %>" class="list-group-item d-flex justify-content-between align-items-center list-group-item-action  <%= ['merchant/sales'].include?(params[:controller]) and ['transactions','batch'].include?(params[:action]) ? 'active' : '' %>">
              Sales
              <span class="text-right"><i class="fa fa-shopping-cart"></i></span>
            </a>
            <ul class="treeview-menu <%= ['merchant/sales'].include?(params[:controller]) and ['transactions', 'batch'].include?(params[:action]) ? 'active' : '' %>">
              <li class="<%= ['merchant/sales'].include?(params[:controller]) and ['transactions'].include?(params[:action]) ? 'active' : '' %> treeview-submenu">
              </li>
              <li class="<%= ['merchant/sales'].include?(params[:controller]) and ['virtual_terminal'].include?(params[:action]) ? 'active' : '' %> treeview-submenu">
                <a href="<%= virtual_terminal_merchant_sales_path %>" class="list-group-sub-item d-flex justify-content-between align-items-center list-group-item-action sidebar_a_tag <%= ['merchant/sales'].include?(params[:controller]) and ['virtual_terminal'].include?(params[:action])? 'active' : '' %>">
                  Virtual Terminal<span class="text-right"></span>
                </a>
              </li>
            </ul>
          </li>
        <% end %>

        <% if current_user.MERCHANT? && ( @user_permission.admin? || @user_permission.custom? ) %>
          <!-- Merchant Refunds END-->
            <% if  @user_permission.admin? || (@user_permission.custom? && @user_permission.try(:wallet) || @user_permission.try(:transfer)) %>
            <li class="treeview <%= ['merchant/locations'].include?(params[:controller]) and ['index', 'transfers', 'transactions'].include?(params[:action]) ? 'active' : '' %>">
              <a href="<%= merchant_locations_path %>" class="list-group-item d-flex justify-content-between align-items-center list-group-item-action <%= ['merchant/locations'].include?(params[:controller]) and ['index', 'transfers', 'transactions'].include?(params[:action]) ? 'active' : '' %>">
                Accounts
                <span class="text-right"><i class="icon-basket icons"></i></span>
              </a>
              <ul class="treeview-menu <%= ['merchant/locations'].include?(params[:controller]) and ['index', 'transfers'].include?(params[:action]) ? 'active' : '' %>">
                <% if @user_permission.try(:wallet) %>
                  <li class="<%= ['merchant/locations'].include?(params[:controller]) and ['index'].include?(params[:action]) ? 'active' : '' %> treeview-submenu">
                    <a href="<%= merchant_locations_path %>" class="list-group-sub-item d-flex justify-content-between align-items-center list-group-item-action sidebar_a_tag <%= ['merchant/locations'].include?(params[:controller]) and ['index', 'transactions'].include?(params[:action]) ? 'active' : '' %>">
                      Wallets<span class="text-right"></span>
                    </a>
                  </li>
                <% end %>
                <% if @user_permission.try(:transfer) %>
                  <li class="<%= ['merchant/locations'].include?(params[:controller]) and ['transfers'].include?(params[:action]) ? 'active' : '' %> treeview-submenu">
                    <a href="<%= transfers_merchant_locations_path %>" class="list-group-sub-item d-flex justify-content-between align-items-center list-group-item-action sidebar_a_tag <%= ['merchant/locations'].include?(params[:controller]) and ['transfers'].include?(params[:action]) ? 'active' : '' %>">
                      Transfers<span class="text-right"></span>
                    </a>
                  </li>
                <% end %>
              </ul>
            </li>
          <% end %>
          <!--------------------POS START----------------------->
          <% if  @user_permission.admin? || @user_permission.custom? %>
            <li class="treeview <%= ['merchant/sales','merchant/invoices','merchant/sale_requests'].include?(params[:controller]) and ['index', 'virtual_terminal','sale_requests'].include?(params[:action]) ? 'active' : '' %>">
              <% if @user_permission.try(:b2b) || @user_permission.try(:virtual_terminal) %>
                <a href="<%= merchant_invoices_path %>" class="list-group-item d-flex justify-content-between align-items-center list-group-item-action <%= ['merchant/sales','merchant/invoices'].include?(params[:controller]) and ['index', 'virtual_terminal'].include?(params[:action]) ? 'active' : '' %>">
                  POS
                  <% if @notifications.present? && @notifications.where(read_at: nil).count > 0 %>
                <span class="text-right">
                  <span class="fa-stack" id='request-count-2'>
                <span class="fa fa-bell fa-stack-1x text-success font-size-25-px-shared"></span>
                <strong class="fa-stack-1x notification-count1-shared" id='request-count'>
                  <%= @notifications.where(read_at: nil).count %>
                </strong>
                </span>
                  <i class="fa fa-money"></i>
                </span>
                  <% else %>
                    <span class="text-right"><i class="fa fa-money"></i> </span>
                  <% end %>
                </a>
              <% end %>
              <ul class="treeview-menu <%= ['merchant/sales','merchant/invoices','merchant/sale_requests'].include?(params[:controller]) and ['index', 'virtual_terminal','sale_requests'].include?(params[:action]) ? 'active' : '' %>">
              <!-------------Request money Start------------------->
                <% if @user_permission.try(:b2b) %>
                  <li class="<%= ['merchant/invoices'].include?(params[:controller]) and ['index'].include?(params[:action]) ? 'active' : '' %> treeview-submenu">
                    <a href="<%= merchant_invoices_path %>" class="list-group-sub-item d-flex justify-content-between align-items-center list-group-item-action sidebar_a_tag <%= ['merchant/invoices'].include?(params[:controller]) and ['index'].include?(params[:action])? 'active' : '' %> ">
                      B2B
                      <%= "✱" if  @notifications.present? && @notifications.where(read_at: nil).count > 0 %>

                      <span class="text-right"><i class="icon-credit-card icons"></i></span>
                    </a>
                  </li>
                <% end %>
                <!---------------Request Money End--------------------->
                <!--------------Virtual Terminal Start------------------->
                <% access = merchant_allowed %>
                <% if @user_permission.try(:virtual_terminal) %>
                  <% if access[:sales] && access[:virtual_terminal] && access[:close_batch] %>
                    <li class="<%=  ['merchant/sales'].include?(params[:controller]) and ['virtual_terminal'].include?(params[:action]) ? 'active' : '' %> treeview-submenu">
                      <a  data-toggle="modal" data-target="#alert_modal" class="list-group-sub-item d-flex justify-content-between align-items-center list-group-item-action <%= ['merchant/sales'].include?(params[:controller]) and ['virtual_terminal'].include?(params[:action]) ? 'active' : '' %>">
                        Virtual Terminal<span class="text-right"><i class="fa fa-shopping-cart"></i></span>
                      </a>
                    </li>
                  <% else %>
                    <li class="<%= ['merchant/sales'].include?(params[:controller]) and ['virtual_terminal'].include?(params[:action]) ? 'active' : '' %> treeview-submenu">
                      <a href="<%= virtual_terminal_merchant_sales_path %>" class="list-group-sub-item d-flex justify-content-between align-items-center list-group-item-action sidebar_a_tag <%= ['merchant/sales'].include?(params[:controller]) and ['virtual_terminal'].include?(params[:action]) ? 'active' : '' %>">
                        Virtual Terminal<span class="text-right"><i class="fa fa-shopping-cart"></i></span>
                      </a>
                    </li>
                  <% end %>
                <% end %>
                <%# if @user_permission.try(:qr_scan) ||@user_permission.try(:qr_view_only) ||@user_permission.try(:qr_redeem) %>
                <!--              <li class="<%#= ['merchant/sales'].include?(params[:controller]) and ['index'].include?(params[:action]) ? 'active' : '' %> treeview-submenu">-->
                <!--                <a href="<%#= sale_requests_merchant_sales_path %>" class="list-group-sub-item d-flex justify-content-between align-items-center list-group-item-action sidebar_a_tag <%#= ['merchant/sales'].include?(params[:controller]) and ['index'].include?(params[:action])? 'active' : '' %> ">-->
                <!--                  Redeem QR Code-->
                <!--                  <span class="text-right"><i class="icon-credit-card icons"></i></span>-->
                <!--                </a>-->
                <!--              </li>-->
                <%# end %>

                <!--------------Virtual Terminal End------------------->
              </ul>
            </li>
          <% end %>
          <!--------------------POS END----------------------->

          <!----------------RISK Analysis Start---------------------->

          <%# if  @user_permission.admin? || @user_permission.custom? %>
          <li class="treeview <%= ['merchant/maxmind'].include?(params[:controller]) and ['index'].include?(params[:action]) ? 'active' : '' %>">
            <%# if @user_permission.try(:b2b) || @user_permission.try(:virtual_terminal) %>
              <a href="<%= merchant_maxmind_index_path %>" class="list-group-item d-flex justify-content-between align-items-center list-group-item-action <%= ['merchant/maxmind'].include?(params[:controller]) and ['index'].include?(params[:action]) ? 'active' : '' %>">
                Risk Analysis
              </a>
            <%# end %>
            <ul class="treeview-menu <%= ['merchant/maxmind'].include?(params[:controller]) and ['transactions'].include?(params[:action]) ? 'active' : '' %>">
              <!--------------Manual Review Transactions------------------->
              <li class="<%=  ['merchant/maxmind'].include?(params[:controller]) and ['index'].include?(params[:action]) ? 'active' : '' %> treeview-submenu">
                    <a href="<%= merchant_maxmind_index_path %>" class="list-group-sub-item d-flex justify-content-between align-items-center list-group-item-action <%= ['merchant/maxmind'].include?(params[:controller]) and ['index'].include?(params[:action]) ? 'active' : '' %>">
                      Manual Review Transactions<span class="text-right"></span>
                    </a>
              </li>

              <!--------------Manual Review Transactions End------------------->
            </ul>
          </li>
          <%# end %>
          <!----------------RISK Analysis END------------------------>
          <!--------------------Shipment Status Start----------------------->
          <% if  @user_permission.admin? || @user_permission.custom? %>
            <li class="treeview <%= ['merchant/orders'].include?(params[:controller]) and ['index','warehouse','add_carrier_key'].include?(params[:action]) ? 'active' : '' %>">
              <a href="<%= merchant_orders_path %>" class="list-group-item d-flex justify-content-between align-items-center list-group-item-action <%= ['merchant/orders'].include?(params[:controller]) and ['index','warehouse','add_carrier_key'].include?(params[:action]) ? 'active' : '' %>">
                Shipment
                <span class="text-right"><i class="icon-credit-card icons"></i></span>
              </a>
              <ul class="treeview-menu <%= ['merchant/orders'].include?(params[:controller]) and ['index'].include?(params[:action]) ? 'active' : '' %>">
                <li class="<%= ['merchant/maxmind'].include?(params[:controller]) and ['index'].include?(params[:action]) ? 'active' : '' %> treeview-submenu">
                  <a href="<%= merchant_orders_path %>" class="list-group-item d-flex justify-content-between align-items-center list-group-item-action sidebar_a_tag <%= params[:controller] == 'merchant/orders' and params[:action] == 'index' ? 'active' : '' %> ">
                    Shipment Status
                  </a>
                </li>
                <li class="<%= ['merchant/orders'].include?(params[:controller]) and ['warehouse'].include?(params[:action]) ? 'active' : '' %> treeview-submenu">
                  <a href="<%= warehouse_merchant_orders_path %>" class="list-group-item d-flex justify-content-between align-items-center list-group-item-action sidebar_a_tag <%= params[:controller] == 'merchant/orders' and params[:action] == 'warehouse' ? 'active' : '' %> ">
                    Warehouse
                  </a>
                </li>
                <li class="<%= ['merchant/orders'].include?(params[:controller]) and ['add_carrier_key'].include?(params[:action]) ? 'active' : '' %> treeview-submenu">
                  <a href="<%= add_carrier_key_merchant_orders_path %>" class="list-group-item d-flex justify-content-between align-items-center list-group-item-action sidebar_a_tag <%= params[:controller] == 'merchant/orders' and params[:action] == 'add_carrier_key' ? 'active' : '' %> ">
                    Carriers
                  </a>
                </li>
              </ul>
            </li>
          <% end %>

            <!--------------------Shipment Status END----------------------->
          <!--------------------Chat Start----------------------->
          <% if  @user_permission.admin? || @user_permission.custom? %>
            <li class="<%= ['merchant/messages'].include?(params[:controller]) and ['index'].include?(params[:action]) ? 'active' : '' %>">
              <a href="<%= merchant_messages_path %>" class="list-group-item d-flex justify-content-between align-items-center list-group-item-action <%= params[:controller] == 'merchant/messages' && params[:action]== 'index' ? 'active' : '' %>">
                Messages
                                 <span class="fa-stack <%= @chat_notification.present? && @chat_notification > 0 ? "display-block" : "display-none"  %>" id='chat_notification'>

                                  <span class="fa fa-bell fa-stack-1x text-success font-size-25-px-shared"></span>
                                  <strong class="fa-stack-1x notification-count1-shared" id='notifications_count1'>
                                    <span id="chat_read_count"><%= @chat_notification %></span>
                                  </strong>
                                </span>
                <span class="text-right"><i class="icon-envelope icons"></i></span>
              </a>
            </li>
          <% end %>

          <!-------------------- Chat END----------------------->


          <% @accept_disputes = AppConfig.where(key: AppConfig::Key::IssueDisputeConfig).first
             @accept_disputes = AppConfig.new(key: AppConfig::Key::IssueDisputeConfig) unless @accept_disputes.present? %>
          <% if @accept_disputes.boolValue %>
            <% if @user_permission.admin? || ( @user_permission.custom? && ( @user_permission.try(:dispute_view_only) || @user_permission.try(:dispute_submit_evidence) || @user_permission.try(:accept_dispute))) %>
              <!--            <li class="<%#= params[:controller]=='merchant/disputes' and params[:action]=='index' ? 'active' : '' %>">-->
              <!--              <a href="<%#= merchant_disputes_path %>" class="list-group-item d-flex justify-content-between align-items-center list-group-item-action sidebar_a_tag <%#= params[:controller]=='merchant/disputes' and ( params[:action]=='index') ? 'active' : '' %> ">-->
              <!--                Disputes-->
              <%# wallet_ids = current_user.wallets.primary.pluck(:id) if current_user.merchant? %>
              <%# dispute_count = DisputeCase.where(merchant_wallet_id:wallet_ids, read_at: nil).where('dispute_cases.created_at > ?','01/08/2019'.to_datetime).count %>
              <%# if dispute_count > 0 %>
              <!--                <span class="fa-stack" id='ticket_notifications_block'>-->
              <!--                  <span class="fa fa-bell fa-stack-1x text-success font-size-25-px-shared"></span>-->
              <!--                  <strong class="fa-stack-1x notification-count1-shared" id='notifications_count'>-->
              <%#= dispute_count %>
              <!--                  </strong>-->
              <!--                </span>-->
              <%# end %>
              <!--                <span class="text-right"><i class="icon-credit-card icons"></i></span>-->
              <!--              </a>-->
              <!--            </li>-->
            <% end %>
          <% end %>
          <% if @user_permission.admin? || ( @user_permission.custom? && @user_permission.try(:funding_schedule)) %>
            <li class="<%= ['merchant/hold_money'].include?(params[:controller]) and ['index'].include?(params[:action]) ? 'active' : '' %>">
              <a href="<%= merchant_deposites_path %>" class="list-group-item d-flex justify-content-between align-items-center list-group-item-action sidebar_a_tag <%= params[:controller]=='merchant/hold_money' and ( params[:action]=='index'|| params[:action]=='transactions') ? 'active' : '' %> ">
                Funding Schedule
                <span class="text-right"><i class="icon-credit-card icons"></i></span>
              </a>
            </li>
          <% end %>
          <li class="<%= ['merchant/customer_disputes'].include?(params[:controller]) and ['index'].include?(params[:action]) ? 'active' : '' %>">
            <a href="<%= merchant_customer_disputes_path %>" class="list-group-item d-flex justify-content-between align-items-center list-group-item-action sidebar_a_tag <%= params[:controller] == 'merchant/customer_disputes' && params[:action]== 'index' ? 'active' : '' %> ">
              Customer Disputes
              <span class="text-right"><i class="icon-credit-card icons"></i></span>
            </a>
          </li>
          <% if @user_permission.admin? || @user_permission.custom? && (@user_permission.try(:check) || @user_permission.try(:push_to_card) || @user_permission.try(:ach) || @user_permission.try(:gift_card))%>
            <li class="treeview <%= (['mercahnt/ach', 'merchant/instant_ach', 'merchant/checks', 'merchant/giftcards'].include?(params[:controller]) and ['index', 'debit_card_deposit', 'invoices', 'all_bulk_checks', 'giftcard_catalogues', 'merchant_orders'].include?(params[:action])) ? 'active' : '' %>">
              <a href="<%= merchant_checks_path %>" class="list-group-item d-flex justify-content-between align-items-center list-group-item-action <%= (['mercahnt/ach', 'merchant/instant_ach', 'merchant/checks', 'merchant/giftcards'].include?(params[:controller]) and ['index', 'invoices', 'debit_card_deposit', 'all_bulk_checks', 'merchant_orders', 'giftcard_catalogues'].include?(params[:action])) ? 'active' : '' %>">
                Withdraw
                <span class="text-right"><i class="fa fa-money"></i> </span>
              </a>
              <ul class="treeview-menu <%= (['mercahnt/ach', 'merchant/instant_ach', 'merchant/checks', 'merchant/giftcards'].include?(params[:controller]) and ['index', 'invoices', 'debit_card_deposit', 'all_bulk_checks', 'merchant_orders', 'giftcard_catalogues'].include?(params[:action])) ? 'active' : '' %>">
                <% if @user_permission.try(:check) %>
                  <li class="<%= ['merchant/checks'].include?(params[:controller]) and ['index'].include?(params[:action]) ? 'active' : '' %> treeview-submenu">
                    <a href="<%= merchant_checks_path %>" class="list-group-sub-item d-flex justify-content-between align-items-center list-group-item-action sidebar_a_tag <%= ['merchant/checks'].include?(params[:controller]) and ['index','all_bulk_checks'].include?(params[:action]) ? 'active' : '' %>">
                      E-Checks<span class="text-right"></span> <!-- <i class="fa fa-money"></i> -->
                    </a>
                  </li>
                <% end %>
                <% if @user_permission.try(:push_to_card) %>
                  <li class="<%= ['merchant/checks'].include?(params[:controller]) and ['debit_card_deposit'].include?(params[:action]) ? 'active' : '' %> treeview-submenu">
                    <a href="<%= debit_card_deposit_merchant_checks_path %>" class="list-group-sub-item d-flex justify-content-between align-items-center list-group-item-action sidebar_a_tag <%= ['merchant/checks'].include?(params[:controller]) and ['debit_card_deposit'].include?(params[:action]) ? 'active' : '' %>">
                      Push to Card <span class="text-right"></span>
                    </a>
                  </li>
                <% end %>
                <% if @user_permission.try(:ach) %>
                  <li class="treeview-submenu <%= ['merchant/instant_ach'].include?(params[:controller]) and ['index'].include?(params[:action]) ? 'active' : '' %>">
                    <a href="<%= merchant_instant_ach_index_path %>" class="list-group-sub-item d-flex justify-content-between align-items-center list-group-item-action sidebar_a_tag <%= ['merchant/instant_ach'].include?(params[:controller]) and ['index'].include?(params[:action]) ? 'active' : '' %> ">
                      ACH
                      <span class="text-right"><i class="icon-credit-card icons"></i></span>
                    </a>
                  </li>
                <% end %>

                <% if @user_permission.try(:gift_card) %>
                  <li class="treeview-submenu <%= ['merchant/giftcards'].include?(params[:controller]) and ['merchant_orders','giftcard_catalogues'].include?(params[:action]) ? 'active' : '' %>">
                    <a href="<%= merchant_orders_merchant_giftcards_path %>" class="list-group-sub-item d-flex justify-content-between align-items-center list-group-item-action <%= ['merchant/giftcards'].include?(params[:controller]) and ['merchant_orders','giftcard_catalogues'].include?(params[:action]) ? 'active' : '' %>">
                      E-Gift cards
                      <span class="text-right"><i class="fa fa-gift"></i></span>
                    </a>
                  </li>
                <% end %>
              </ul>
            </li>
          <% end %>


          <li class="<%= ['merchant/transactions'].include?(params[:controller]) and ['exported_files'].include?(params[:action]) ? 'active' : '' %>">
            <a href="<%= exported_files_merchant_transactions_path %>" class="list-group-item d-flex justify-content-between align-items-center list-group-item-action sidebar_a_tag <%= params[:controller] == 'merchant/transactions' and params[:action] == 'exported_files'  ? 'active' : '' %> ">
              Exports
              <% user_id = @user.merchant_id.present? ? @user.merchant_id : @user.id %>
              <% reports = Report.where(read: false, user_id: user_id,status: ["completed","pending"]).count %>
              <% if reports > 0 %>
                                <span class="fa-stack" id='report_notifications_block1'>
                                  <span class="fa fa-bell fa-stack-1x text-success font-size-25-px-shared"></span>
                                  <strong class="fa-stack-1x notification-count1-shared" id='notifications_count1'>
                                    <span id="reports_read_count"><%= reports %></span>
                                  </strong>
                                </span>
              <% else %>
                                <span class="fa-stack display-none-shared" id='report_notifications_block2'>
                                  <span class="fa fa-bell fa-stack-1x text-success font-size-25-px-shared"></span>
                                  <strong class="fa-stack-1x notification-count1-shared" id='notifications_count1'>
                                    <span id="reports_read_count">0</span>
                                  </strong>
                                </span>
              <% end %>
              <span class="text-right"><i class="icon-credit-card icons"></i></span>
            </a>
          </li>

          <% unless @user_permission.admin? || @user_permission.custom? %>
            <% if @user_permission.try(:sales_report) || @user_permission.try(:checks_report) || @user_permission.try(:gift_card_report) %>
              <li class="treeview <%= ['merchant/reports'].include?(params[:controller]) and ['index','checks_report','send_money_report','close_batch_report','gift_cards_report','my_reports'].include?(params[:action]) ? 'active' : '' %>">
                <a href="<%= merchant_reports_path %>" class="list-group-item d-flex justify-content-between align-items-center list-group-item-action <%= ['merchant/reports'].include?(params[:controller]) and ['index','checks_report','send_money_report','close_batch_report','gift_cards_report','my_reports'].include?(params[:action]) ? 'active' : '' %>">
                  Reports
                  <span class="text-right"><i class="icon-hourglass icons"></i></span>
                </a>
                <ul class="treeview-menu <%= ['merchant/reports'].include?(params[:controller]) and ['index','checks_report','send_money_report','close_batch_report','gift_cards_report'].include?(params[:action]) ? 'active' : '' %>">
                  <% if @user_permission.try(:sales_report) %>
                    <li class="<%= ['merchant/reports'].include?(params[:controller]) and ['index'].include?(params[:action]) ? 'active' : '' %> treeview-submenu">
                      <a href="<%= merchant_reports_path %>" class="list-group-sub-item d-flex justify-content-between align-items-center list-group-item-action sidebar_a_tag <%= ['merchant/reports'].include?(params[:controller]) and ['index'].include?(params[:action]) ? 'active' : '' %>">
                        Sales Report<span class="text-right"></span>
                        <!-- <i class="fa fa-book"></i> -->
                      </a>
                    </li>
                  <% end %>
                  <% if @user_permission.try(:checks_report) %>
                    <li class="<%= ['merchant/reports'].include?(params[:controller]) and ['checks_report'].include?(params[:action]) ? 'active' : '' %> treeview-submenu">
                      <a href="<%= checks_report_merchant_reports_path %>" class="list-group-sub-item d-flex justify-content-between align-items-center list-group-item-action sidebar_a_tag <%= ['merchant/reports'].include?(params[:controller]) and ['checks_report'].include?(params[:action]) ? 'active' : '' %>">
                        Checks Report<span class="text-right"></span>
                      </a>
                    </li>
                  <% end %>
                  <% if @user_permission.try(:gift_card_report) %>
                    <li class="<%= ['merchant/reports'].include?(params[:controller]) and ['gift_cards_report'].include?(params[:action]) ? 'active' : '' %> treeview-submenu">
                      <a href="<%= gift_cards_report_merchant_reports_path %>" class="list-group-sub-item d-flex justify-content-between align-items-center list-group-item-action sidebar_a_tag <%= ['merchant/reports'].include?(params[:controller]) and ['gift_cards_report'].include?(params[:action]) ? 'active' : '' %>">
                        Gift Cards Report<span class="text-right"></span>
                      </a>
                    </li>
                  <% end %>
                </ul>
              </li>
            <% end %>
          <% end %>

          <% if @user_permission.admin? || @user_permission.custom? && (@user_permission.try(:developer_app) || @user_permission.try(:user_view_only) || @user_permission.try(:user_edit) || @user_permission.try(:user_add)) %>
            <li class="treeview <%= ['merchant/supports','merchant/settings','merchant/apps','merchant/plugins','merchant/permission'].include?(params[:controller]) and ['index'].include?(params[:action]) ? 'active' : '' %>">
              <a href="<%= merchant_checks_path %>" class="list-group-item d-flex justify-content-between align-items-center list-group-item-action <%= ['merchant/supports','merchant/settings','merchant/apps','merchant/plugins','merchant/permission'].include?(params[:controller]) and ['index'].include?(params[:action]) ? 'active' : '' %>">
                Business Settings
                <% ticket_count = Ticket.where(user_id: current_user.id, merchant_attention: true, device_type: nil).count %>
                <% if ticket_count > 0 %>
                <span class="fa-stack" id='ticket_notifications_block'>
                  <span class="fa fa-bell fa-stack-1x text-success font-size-25-px-shared"></span>
                  <strong class="fa-stack-1x notification-count1-shared" id='notifications_count'>
                    <%= ticket_count %>
                  </strong>
                </span>
                <% end %>
                <span class="text-right"><i class="fa fa-cog" aria-hidden="true"></i></span>
              </a>
              <ul class="treeview-menu <%= ['merchant/supports','merchant/settings','merchant/apps'].include?(params[:controller]) and ['index'].include?(params[:action]) ? 'active' : '' %>">
                <% if @user_permission.admin? %>
                  <li class="<%= params[:controller]=='merchant/supports' and params[:action]=='index' ? 'active' : '' %> treeview-submenu">
                    <a href="<%= merchant_supports_path %>" class="list-group-sub-item d-flex justify-content-between align-items-center list-group-item-action sidebar_a_tag <%= ['merchant/supports'].include?(params[:controller]) and ['index'].include?(params[:action]) ? 'active' : '' %>">
                      Support
                      <%= "✱" if ticket_count > 0 %>
                      <span class="text-right"><i class="icon-support icons"></i></span>
                    </a>
                  </li>
                <% end %>
                <% if @user_permission.admin? || (@user_permission.custom? && (@user_permission.user_add || @user_permission.user_edit || @user_permission.user_view_only) ) %>
                  <li class="<%= ['merchant/settings', 'merchant/permission'].include?(params[:controller]) and ['index'].include?(params[:action]) ? 'active' : '' %> treeview">
                    <a href="<%= merchant_settings_path %>" class="list-group-sub-item d-flex justify-content-between align-items-center list-group-item-action sidebar_a_tag <%= ['merchant/settings', 'merchant/permission'].include?(params[:controller]) and ['index'].include?(params[:action]) ? 'active' : '' %>">
                      Employees
                      <span class="text-right"><i class="fa fa-users"></i></span>
                    </a>
                    <ul class="treeview-menu <%= ['merchant/settings', 'merchant/permission'].include?(params[:controller]) and ['index'].include?(params[:action]) ? 'active' : '' %>">
                      <%# if @user_permission.try(:user_view_only) %>
                      <li class="<%= ['merchant/settings'].include?(params[:controller]) and ['index'].include?(params[:action]) ? 'active' : '' %> treeview-submenu">
                        <a href="<%= merchant_settings_path %>" class="list-group-sub-item d-flex justify-content-between align-items-center list-group-item-action sidebar_a_tag <%= ['merchant/settings'].include?(params[:controller]) and ['index'].include?(params[:action]) ? 'active' : '' %>">
                          Employee List
                        </a>
                      </li>
                <% end %>
                <% if @user_permission.admin? %>
                  <li class="<%= ['merchant/permission'].include?(params[:controller]) and ['index'].include?(params[:action]) ? 'active' : '' %> treeview-submenu">
                    <a href="<%= merchant_permission_index_path %>" class="list-group-sub-item d-flex justify-content-between align-items-center list-group-item-action sidebar_a_tag <%= ['merchant/permission'].include?(params[:controller]) and ['index'].include?(params[:action]) ? 'active' : '' %>">
                      Permission List
                    </a>
                  </li>
                <% end %>
                </ul>
                </li>
                <% if @user_permission.admin? %>
                  <li class="<%= ['merchant/plugins'].include?(params[:controller]) and ['index'].include?(params[:action]) ? 'active' : '' %> treeview-submenu">
                    <a href="<%= merchant_plugins_path %>" class="list-group-sub-item d-flex justify-content-between align-items-center list-group-item-action sidebar_a_tag <%= ['merchant/plugins'].include?(params[:controller]) and ['index'].include?(params[:action]) ? 'active' : ''  %> ">
                      Plugins
                      <span class="text-right"><i class="icon-credit-card icons"></i></span>
                    </a>
                  </li>
                <% end %>
                <% if @user_permission.try(:developer_app) %>
                  <li class="<%= ['merchant/apps'].include?(params[:controller]) and ['index'].include?(params[:action]) ? 'active' : '' %> treeview-submenu">
                    <a href="<%= merchant_apps_path %>" class="list-group-sub-item d-flex justify-content-between align-items-center list-group-item-action sidebar_a_tag <%= ['merchant/apps'].include?(params[:controller]) and ['index'].include?(params[:action]) ? 'active' : '' %>">
                      API Keys
                      <span class="text-right"><i class="icon-refresh icons"></i></span>
                    </a>
                  </li>
                <% end %>
              </ul>
            </li>
          <% end %>
        <% end %>
      </ul>
    <% end %>
  </section>
</aside>

