<footer>
  <div class="main-footer">
    <!-- <div class="container"> -->
      <div class="row">
        <div class="col-md-9">
          <ul class="list-inline">
            <li class="list-inline-item mr-4"><a href="/agreements/tos" target="_blank">Terms of agreement</a></li>
            <li class="list-inline-item mr-4"><a href="/agreements/legal" target="_blank">Privacy policy</a></li>
          </ul>
        </div>
        <div class="col-md-3">
          <div class="dropdown dropup text-right">
            <button id="session-language" class="btn btn-light dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Language								</button>
            <div id="session-language-dropdown" class="dropdown-menu" aria-labelledby="session-language">
              <a class="dropdown-item" href="#" rel="english">
                <i class="icon-arrow-right icons"></i>
                English									</a>
            </div>

          </div>
        </div>
      </div>
    <!-- </div> -->
  </div>
</footer>