<%= stylesheet_link_tag asset_path("main-shared-custom"), media: 'all', 'data-turbolinks-track' => 'reload' %>

<nav class="navbar navbar-expand-md navbar-dark"  id="myStickHeader">
  <div class="collapse navbar-collapse" id="navbarsExampleDefault">
    <ul class="navbar-nav mr-auto">
      <% if current_user.iso? || current_user.affiliate? || current_user.agent? || current_user.qc?  %>
        <li class="nav-item text-align-center-shared">
          <small class="color-white-font-size-23-shared">Total Balance:</small>
             <span class="color-white-font-size-23-shared"> $<%=number_with_precision(@balance, precision: 2, delimiter: ',')%></span>


        </li>
      <% end %>
      <%# if @reserve_balance > 0 && (!(current_user.MERCHANT? && current_user.merchant_id.present?) || (current_user.MERCHANT? && current_user.merchant_id.present? && current_user.try(:permission).admin?)) %>
      <!--          <li class="nav-item" style="margin-left: 50px;text-align: center;">-->
      <!--            <small style="color:white;">Total Reserve Balance</small>-->
      <!--            <div class="dropdown">-->
      <!--              <button class="btn-ballance btn-link btn-block-head focus-shaddow" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="faalse">-->
      <!--                $ <%#=number_with_precision(@reserve_balance, precision: 2, delimiter: ',')%>-->
      <!--              </button>-->
      <!--            </div>-->
      <!--          </li>-->
      <%# end %>
    </ul>
    <div class="dropdown">
      <button class="btn dropdown-toggle dd_name focus-shaddow" type="button" data-toggle="dropdown"><%= current_user.try(:profile).try(:company_name?) && current_user.try(:profile).try(:company_name) != "n/a" ? "#{current_user.try(:profile).try(:company_name).try(:camelize)} " : " #{current_user.try(:name).truncate(23)} " %>
        <span class="caret"></span></button>
      <ul class="dropdown-menu padding-10-m-l-53-shared">
        <!--<li><a href="#">HTML</a></li>-->
        <li role="separator" class="divider"></li>
        <li> <%= link_to '<i class="fa fa-user"></i>Profile'.html_safe, "#" ,class: 'profile_drop show-dynamic-modal',data: { :"modal_selector" => "#new_admin_merchant", "modal_container_selector" => "#_current_edit_modal", method: "GET", "url_path" =>  edit_user_merchant_settings_path(id:current_user.id) }, remote: true %>
          <%#= link_to '<i class="fa fa-user"></i>Profile'.html_safe, edit_user_merchant_settings_path(id:current_user.id), remote: true, class: 'profile_drop' %>
        </li>
        <li>
          <% if user_signed_in? %>
            <%= link_to '<i class="fa fa-sign-out"></i>Logout'.html_safe ,  destroy_user_session_path, method: :delete, data:{ :confirm => "Are you sure?"}, class: 'profile_drop'  %>
          <% else %>
            <%= link_to '<i class="icon-user icons"></i>Login'.html_safe,  new_user_session_path %>
          <% end %>
        </li>
      </ul>
    </div>
  </div>
</nav>
<div class="header-st" >
</div>