<div class="modal fade" id="RefundNoticeModal" class="confirmuserpermissionModal" tabindex="-1" role="dialog" aria-labelledby="orderModelLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header" >
        <p class="modal-header-text text-center ">Manual Review Transaction
          <button type="button" class="close" id="close_btn" data-dismiss="modal">&times;</button>
        </p>
      </div>
      <div class="modal-body">
        Refund is not available for transaction that is under MR status. Please try again later
      </div>
    </div>
  </div>
</div>
