<%= stylesheet_link_tag asset_path("main-shared-custom"), media: 'all', 'data-turbolinks-track' => 'reload' %>

<div class="row">
  <div class="col-md-12">
    <div class="card sameheight-item items" data-exclude="xs,sm,lg">
      <div class="card-header bordered">
        <div class="header-block">
          <h3 class="title float-left-shared">All Transactions</h3>
        </div>
        <div class="header-block pull-right">
          <h3>
            <% if @wallet.users.first.atm? %>
                Current  balance : <%= number_to_currency(@balance) %>
            <% end %>
          </h3>
        </div>
      </div>

      <section class="example">
        <div class="">
          <div class="table-responsive">
            <table id="datatable-keytable" class="table table-striped table-bordered table-hover" cellspacing="0" cellpadding="0">
              <thead>
              <tr>
                <th>ID</th>
                <th>Amount</th>
                <th>Type</th>
                <!--<th>Remarks</th>-->
                <th>Source</th>
                <th>Destination</th>
                <th>Card Last4</th>
                <th>Created At</th>
              </tr>
              </thead>

              <tbody>
              <% @transactions.each do |transaction| %>
                      <tr>
                        <td id="id"><%= transaction[:id].first(5) %></td>
                        <td><%= transaction[:amount] %></td>
                        <!--<td><%#= transaction[:type] %></td>-->
                        <td><%= transaction[:reference]["type"].split('_').map{|m| m.capitalize}.join(' ') %></td>
                        <td><%= transaction[:source] %></td>
                        <td><%= transaction[:destination]%></td>
                        <td><%= transaction[:reference]["last4"]%></td>
                        <td><%= transaction[:timestamp].localtime.strftime("%m-%d-%Y %I:%M:%S %p") %></td>
                      </tr>

              <%end%>

              </tbody>
            </table>
          </div>
        </div>
      </section>
    </div>
  </div>
</div>
