<%= stylesheet_link_tag asset_path("main-shared-custom"), media: 'all', 'data-turbolinks-track' => 'reload' %>

<ul class="sidebar-menu sidebar-menu-merchant-shared" data-widget="tree">
  	<li class="treeview <%= params[:controller]=='merchant/sales' and (params[:action]=='transactions' or params[:action]=='batch') ? 'active' : ''%>">
  		<a href="<%= transactions_merchant_sales_path %>" class="list-group-item d-flex justify-content-between align-items-center list-group-item-action <%= params[:controller]=='merchant/sales' and (params[:action]=='transactions' or params[:action]=='batch') ? 'active' : ''%>">
  			Sales
  			<span class="text-right"><i class="fa fa-shopping-cart"></i></span>
  		</a>
  		<ul class="treeview-menu <%= params[:controller]=='merchant/sales' and (params[:action]=='transactions' or params[:action]=='batch') ? 'active' : ''%>">
  			<li class="<%= params[:controller]=='merchant/sales' and params[:action]=='transactions' ? 'active' : ''%> treeview-submenu">
  				<a href="<%= transactions_merchant_sales_path %>" class="list-group-sub-item d-flex justify-content-between align-items-center list-group-item-action sidebar_a_tag <%= params[:controller]=='merchant/sales' and params[:action]=='transactions' ? 'active' : ''%>">
  					New Sale<span class="text-right"></span>
            <!-- <i class="fa fa-money"></i> -->
            </a>
  			</li>
  			<!--- <li class="<%#= params[:controller]=='merchant/sales' and params[:action]=='batch' ? 'active' : ''%> treeview-submenu">
  				<a href="<%#= batch_merchant_sales_path %>" class="list-group-sub-item d-flex justify-content-between align-items-center list-group-item-action sidebar_a_tag <%#= params[:controller]=='merchant/sales' and params[:action]=='batch' ? 'active' : ''%>">
  					Close Batch<span class="text-right"></span>
  				</a>
  			</li> -->
  		</ul>
  	</li>
  </ul>