<%= stylesheet_link_tag "main-shared-custom", media: 'all', 'data-turbolinks-track' => 'reload' %>
<!--style in sheet in main-shared-custom-->
<div class="modal fade" id="tracking_detail_modal_id" tabindex="-1" role="dialog" aria-labelledby="modal-label-69" aria-hidden="true">
  <div class="modal-dialog add_dialog merchant_modal_wizard">
    <div class="modal-content">
      <div class="modal-header t_header">
        <h6 id="modal-label-69" class="header_heading pull-left">Tracking Details</h6>
        <button type="button" class="pull-right close" data-dismiss="modal" aria-hidden="true">&times;</button>
      </div>
      <div class="col-md-12">
        <input hidden id="tracker_status" value="<%=@order_status%>">
        <div class="row bs-wizard" >
          <div class="col-md-3 bs-wizard-step" id="pre_transit">
            <div class="text-center bs-wizard-stepnum">&nbsp;</div>
            <div class="progress">
              <div class="progress-bar"></div>
            </div>
            <a href="#" class="bs-wizard-dot"><i class="fa fa-check checklist"></i>
            </a>
            <div class="bs-wizard-info text-center">Pre Transit</div>
          </div>
          <div class="col-md-3 bs-wizard-step" id="in_transit">
            <!-- complete -->
            <div class="text-center bs-wizard-stepnum">&nbsp;</div>
            <div class="progress">
              <div class="progress-bar"></div>
            </div>
            <a href="#" class="bs-wizard-dot"><i class="fa fa-check checklist"></i></a>
            <div class="bs-wizard-info text-center">In Transit</div>
          </div>
          <div class="col-md-3 bs-wizard-step" id="out_for_delivery">
            <!-- complete -->
            <div class="text-center bs-wizard-stepnum">&nbsp;</div>
            <div class="progress">
              <div class="progress-bar"></div>
            </div>
            <a href="#" class="bs-wizard-dot"><i class="fa fa-check checklist"></i></a>
            <div class="bs-wizard-info text-center">Out For Delivery</div>
          </div>
          <div class="col-md-3 bs-wizard-step" id="delivered">
            <!-- active -->
            <div class="text-center bs-wizard-stepnum">&nbsp;</div>
            <div class="progress">
              <div class="progress-bar"></div>
            </div>
            <a href="#" class="bs-wizard-dot"><i class="fa fa-check checklist"></i></a>
            <div class="bs-wizard-info text-center"> Delivered</div>
          </div>
        </div>
      </div>

      <div class="row table-row">
        <div class="col-md-4">
          <span>Estimate Delivery Date</span>
          <h4><%= @tracker.est_delivery_date.try(:strftime,"%A %b, %Y") %></h4>
        </div>
      </div>
      <div class="row table-row">
        <table>
          <% pre_row = nil %>
          <% @tracker.tracking_details.try(:each_with_index) do |row,i| %>
            <% h_date = row["datetime"].try(:to_datetime).try(:strftime,"%B %e, %Y")%>
            <% if i == 0 || pre_row != h_date %>
              <tr>
                <td colspan="2" class="row-strong">
                    <strong><%= h_date %></strong>
                </td>
              </tr>
            <% end %>
            <tr>
              <td class="row-normal"><%= row["datetime"].try(:to_datetime).try(:strftime,"%I:%M %P") %></td>
              <td class="row-normal"><%= row["message"]%></td>
            </tr>
            <% pre_row = h_date %>
          <% end %>
        </table>
      </div>
    <div class="modal-footer">
          <button type="button" class="btn btn-secondary btn-sm pull-left" data-dismiss="modal">Close</button>
        </div>

    </div>
  </div>
</div>

<%= javascript_include_tag "tracker/detail" %>