<div class="row">
    <div class="col-md-12">
	   <div class="custom_hr mb-3"></div>
	    <div class="col-md-12">
	        <p class="One-Time-Counteroffer">
	            One Time Counteroffer
	        </p>
	        <p class="One-Time-Counteroffer_para">
	            Use this option if you do not accept the merchants offer for your refund request but wish to propose a counteroffer that you feel is fair.
	        </p>
	    </div>
	  <%= form_tag customers_dispute_dispute_requests_path(@dispute.id), method: :post  ,id: "counter_offer_form" do %>
	    <div class="col-md-12">
	        <p class="refund_offer_amount">
	            Amount
	        </p>
	        <input name="amount" type="text" class="form-control Rectangle-1784" required >
	        <button type="button" class="btn btn-accepted ml-4" data-toggle="modal" data-target="#counterOffer">Send Offer</button>
	        <%= render 'counter_offer_modal'  %>
	    </div>
	  <% end %>
	</div>
</div>