<div class="row">
    <div class="col-xl-1 col-lg-1 col-md-1 col-sm-2 col-xs-2">
         <%= image_tag "customers/images/refund/thumbs_up.svg",class: "refund_icon_images pull-right" %>
     
        <div class="vl pull-right"></div>
    </div>
    <div class="col-xl-11 col-lg-8  col-md-8 col-sm-10 col-xs-10">
        <div class="row">
            <div class="col-md-12 case__opened">
                <div class="row">
                    <div class="col-md-10">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="row">
                                    <div class="col-md-12">
                                        <p class="case_accepted">
                                              <%= @user.name %> Accepted
                                        </p>
                                    </div>
                                    <div class="col-sm-8 col-md-4">
                                        <p class="case_open_date">
                                           <%= "#{offer.updated_at.strftime("%d/%m/%Y at %I:%M%p")}"%>
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <p class="refund_heading">
                                    Amount accepted
                                </p>
                                <p class="refund_body_new">
                                  $<%= number_with_precision(offer.amount,precision: 2)%>
                                </p>
                            </div>
                            <div class="col-md-12">
                                <p class="refund_heading">
                                    Description
                                </p>
                                <p class="refund_body_new">
                                    You accepted the merchant’s refund offer
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<% if @dispute.status == "pending" %>
  <div class="row">
    <div class="col-xl-1 col-lg-1 col-md-1 col-sm-2 col-xs-2">
      <%= image_tag "customers/images/refund/waiting_feather-clock.svg",class: "refund_icon_images pull-right" %>
      <!-- <div class="vl pull-right"></div> -->
    </div>
    <div class="col-xl-11 col-lg-8  col-md-8 col-sm-10 col-xs-10">
        <div class="row">
            <div class="col-md-12 case__opened">
                <div class="row">
                    <div class="col-md-10">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="row">
                                    <div class="col-md-12">
                                        <p class="case_heading mb-2">
                                            <%= I18n.t('customers.request.merchant_response') %>
                                        </p>
                                    </div>
                                    <div class="col-sm-8 col-md-4">
                                        <p class="case_open_date">
                                          <%= "#{offer.updated_at.strftime("%d/%m/%Y at %I:%M%p")}"%>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="margin-for-reason"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </div>
<%else%>
  <div class="row">
    <div class="col-xl-1 col-lg-1 col-md-1 col-sm-2 col-xs-2">
      <%= image_tag "customers/images/refund/menu_refunds.svg",class: "refund_icon_images pull-right" %>
      <div class="vl pull-right"></div>
    </div>
    <div class="col-xl-11 col-lg-8  col-md-8 col-sm-10 col-xs-10">
        <div class="row">
            <div class="col-md-12 case__opened">
                <div class="row">
                    <div class="col-md-10">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="row">
                                    <div class="col-md-12">
                                        <p class="case_heading mb-2">
                                            Refunded
                                        </p>
                                    </div>
                                    <div class="col-sm-8 col-md-4">
                                        <p class="case_open_date">
                                             <%= "#{offer.updated_at.strftime("%d/%m/%Y at %I:%M%p")}"%>
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="row">
                                    <div class="col-sm-12 col-md-12">
                                        <p class="refund_heading">
                                            Amount Refunded


                                        </p>
                                        <p class="refund_body">
                                          $<%= number_with_precision(offer.amount,precision: 2)%>
                                        </p>
                                    </div>
                                    <div class="col-sm-12 col-md-12">
                                        <p class="refund_heading">
                                            Description*
                                        </p>
                                        <p class="refund_body_new">
                                           <%= I18n.t('customers.request.refund_statement') %>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </div>
  <%= render 'case_close' %>
<%end%>