<div class="row">
  <div class="col-xl-1 col-lg-1 col-md-1 col-sm-2 col-xs-2">
    <%= image_tag "customers/images/refund/thumbs_down.svg",class: "refund_icon_images pull-right" %>
    <% if @dispute.status != "declined" %>
      <div class="vl pull-right"></div>
    <%end%>
  </div>
  <div class="col-xl-11 col-lg-8  col-md-8 col-sm-10 col-xs-10">
      <div class="row">
          <div class="col-md-12 case__opened">
              <div class="row">
                  <div class="col-md-10">
                      <div class="row">
                          <div class="col-md-12">
                              <div class="row">
                                  <div class="col-md-12">
                                      <p class="declined_store">
                                           Declined by the Store
                                      </p>
                                  </div>
                                  <div class="col-sm-8 col-md-4">
                                      <p class="case_open_date">
                                           <%= "#{request.updated_at.strftime("%d/%m/%Y at %I:%M%p")}"%>
                                      </p>
                                  </div>
                              </div>
                          </div>
                          <div class="col-md-12 margin-for-reason">
                              <p class="refund_heading">
                                  Merchant’s response
                              </p>
                              <p class="refund_body_new">
                                We’re sorry to inform that your refund request for order <%= @dispute.transaction_id %> was declined.
                                          For more details, please contact our customer support.
                              </p>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>