  <div class="row">
	<div class="col-xl-1 col-lg-1 col-md-1 col-sm-2 col-xs-2">
	      <%= image_tag "customers/images/refund/box.svg",class: "refund_icon_images pull-right" %>
	    <%if offer.status != "pending" %>
	      <div class="vl pull-right"></div>
	    <%end%>
	</div>
	<div class="col-xl-11 col-lg-8  col-md-8 col-sm-10 col-xs-10">
	    <div class="row">
	        <div class="col-md-12 case__opened">
	            <div class="row">
	                <div class="col-md-10">
	                    <div class="row">
	                        <div class="col-md-12">
	                            <div class="row">
	                                <div class="col-md-12">
	                                    <p class="case_heading mb-2">
	                                        <%= final == true ? "Merchant’s Final Offer" : "Merchant’s Offer" %>
	                                    </p>
	                                </div>
	                                <div class="col-sm-8 col-md-4">
	                                    <p class="case_open_date">
	                                        <%= "#{offer.created_at.strftime("%d/%m/%Y at %I:%M%p")}"%>
	                                    </p>
	                                </div>
	                            </div>
	                        </div>
	                        <div class="col-md-12">
	                            <p class="refund_heading">
	                                Amount offered
	                            </p>
	                            <p class="refund_body_new">
	                               $<%= number_with_precision(offer.amount,precision: 2)%>
	                            </p>
	                        </div>
	                        <div class="col-md-12">
	                            <p class="refund_heading">
	                                Merchant’s response
	                            </p>
	                            <p class="refund_body_new">
	                                <%= offer.message %>
	                            </p>
	                        </div>
	                        <% if offer.status == "pending" %>
	                             <div class="col-md-12 col-xs-12 mb-4">
	                                <div class="row">
	                                    <a href="" class="btn btn-accepted" data-toggle="modal" data-target="#offerAcceptModel">
	                                        Accept
	                                    </a>
	                                    <a href="" class="btn btn-decline ml-4"  data-toggle="modal" data-target="#offerDeclineModel">
	                                        Decline
	                                    </a>
	                                </div>
	                            </div>
	         
	                        <%end%>
	                        
	                    </div>
	                </div>
	            </div>
	        </div>
	    </div>
	</div>
</div>