<div class="row order_review_box mr-3">
    <div class="col-md-12">
        <div class="row responsive_order_id">
            <div class="col-lg-6 col-md-6 col-xs-6">
                <p class="date_heading">Order ID</p>
            </div>
            <div class="col-lg-6 col-xs-6">
                <p class="date_value data_value_id">7b8319</p>
            </div>
        </div>
        <p class="order_review_box_heading">
            Order review
        </p>
        <div class="custom_hr"></div>
    </div>
    <div class="col-md-12">
        <div class="row">
            <div class="col-md-8">
                <p class="date_heading">
                    Date
                </p>
                <p class="date_value">
                   <%= @tracker.created_at.strftime("%d/%m/%Y") %>
                </p>
            </div>
            <div class="col-md-4 dasktop_order_id">
                <p class="date_heading">
                    Order ID
                </p>
                <p class="date_value">
                    <%= order.order_id %>
                </p>
            </div>
            <div class="col-md-12">
                <p class="date_heading">
                    Shipping Status
                </p>
                <p class="date_value">
                     <%= @tracker.status %>
                </p>
                <div class="custom_hr"></div>
            </div>
            <div class="col-md-12">
                <p class="date_heading">
                    Shipping Address
                </p>
                <p class="date_value">
                   <%= order.shipping_address.country %>,<%= order.shipping_address.city %>,<%= order.shipping_address.state %>
                </p>
            </div>
            <div class="col-md-12">
                <p class="date_heading">
                    Billing Address
                </p>
                <p class="date_value">
                   <%= order.billing_address.country %>,<%= order.billing_address.city %>,<%= order.billing_address.state %>
                </p>
                <div class="custom_hr"></div>
            </div>
            <div class="col-md-12">
                <p class="date_heading">
                    Transaction ID
                </p>
                <p class="date_value">
                   <%= truncate(order.seq_transaction_id,length: 27) %>
                </p>
            </div>
            <div class="col-md-12">
                <p class="date_heading">
                    Payment Method
                </p>
                <p class="date_value">
                     <%= image_tag "customers/images/pre_transit/mastercard.svg" %> •••• <%= order.last4 %>
                </p>
                <div class="custom_hr"></div>
            </div>
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-6 col-lg-6 col-xs-6">
                        <p class="grand_total">
                            Grand Total
                        </p>
                    </div>
                    <div class="col-md-6 col-lg-6 col-xs-6">
                        <p class="grand_total_value">
                            <span>$</span> <%= number_with_precision(order.total_amount, precision: 2) %>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>