<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<div class="m-subheader">
    <div class="d-flex align-items-center">
        <div class="mr-auto">
            <ul class="m-subheader__breadcrumbs m-nav m-nav--inline">
                <li class="m-nav__item">
                    <a  class="m-nav__link" href=<%= customers_orders_path %>>
                        <span class="my-order-nav">
                            My Orders
                        </span>
                    </a>
                </li>
                <li class="m-nav__separator">
                    <%= image_tag "customers/images/pre_transit/chevron.svg" %>
                </li>
                <li class="m-nav__item">
                    <a  class="m-nav__link" href=<%= customers_order_path(@order.id) %>>
                        <span class="my-order-nav">
                            Order Details
                        </span>
                    </a>
                </li>
                <li class="m-nav__separator">
                    <%= image_tag "customers/images/pre_transit/chevron.svg" %>
                </li>
                <li class="m-nav__item">
                    <a href="#" class="m-nav__link">
                        <span class="order-active">
                            <%=  @status == "refund" ? "Request a Refund" : "Cancel Order" %>
                        </span>
                    </a>
                </li>
            </ul>

            <h3 class="m-subheader__title">
            <%=  @status == "refund" ? "Request a Refund" : "Cancel Order" %>
            </h3>
            <div class="order-review">
                <p class="order-id-text">Order ID <%= @order.id %></p>
                <a href="#" class="review-order-link review-order-on-right"><p class="review-order-text">Review order</p>
                    <i class="la la-angle-right"></i>
                </a>
            </div>
            <p class="order-review-para-text">Order review</p>
        </div>
    </div>
</div>
    <!-- END: Subheader -->
<div class="m-content">
    <div class="row">
        <div class="col-lg-12">
            <!--begin::Portlet-->
            <div class="m-portlet product_lists">
                <div class="m-portlet__body">
                    <div class="tab-content cancel_refund_tab_content">
                        <div class="row">
                            <div class="col-lg-9 contact-info">
                                <div class="order-details"  id="order_details">
                                    <div class="row">
                                    	
                                            <% if @status == "refund" %>
                                                <%= form_for @customer_dispute , url: customers_disputes_path , html: {multipart: true} do |f|%>
                                                    <%= f.hidden_field :transaction_id , value: @order.id %>
                                                    <div class="product_lists_cancel">
                                                        <div class="row">
                                                            <div class="col-md-6">
                                                                <label class="m-checkbox m-r-checkbox all-products">
                                                                    <input id="all-products" type="checkbox" value="checked">
                                                                    All products
                                                                    <span></span>
                                                                </label>
                                                            </div>
                                                        </div>
                                                    
                                                        <% @order.products.each do |product| %>
                                                            <hr class="hr_cancel_order">
                                                            <div class="row">
                                                                <div class="col-md-8">
                                                                    <div class="row">
                                                                        <div class="col-md-3 col-xs-5">
                                                                          <div class="row">
                                                                            <div class="col-md-4 col-xs-2">
                                                                              <label class="m-checkbox m-r-checkbox mt-4">
                                                                                  <%= check_box_tag "products[][checked]" , 'checked' , false %>
                                                                                  <%= hidden_field_tag "products[][id]" , product.id %>

                                                                                  <span></span>
                                                                              </label>
                                                                            </div>
                                                                            <div class="col-md-8 col-xs-6">
                                                                              <div class="col-md-12">
                                                                                <%= image_tag "customers/images/arrow-up.svg" , class: "arrow-up" ,  :data => { max: product.quantity} %>
                                                                              </div>
                                                                              <div class="col-md-12">
                                                                                <%= number_field_tag "products[][refund_count]" , product.quantity , {max: product.quantity , min: 1 , class: "total_products"} %>
                                                                              </div>
                                                                              <div class  ="col-md-12">
                                                                                <%= image_tag "customers/images/arrow-down.svg" , class: "arrow-down" %>
                                                                              </div>
                                                                          </div>
                                                                        </div>

                                                                        </div>
                                                                        <div class="col-md-9 col-xs-7">
                                                                            <p class="product-name product-short-name mt-4"><%= product.name %></p>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="col-md-4">
                                                                    <p class="amount-transit amount-transit-responsive mt-4">
                                                                        $<%= product.amount %> /ea
                                                                    </p>
                                                                </div>
                                                            </div>
                                                        <%end%>
                                                        <div class="cancel_reason canm">
                                                            <div class="form-group m-form__group form-group-refund-width">
                                                                <div class="row">
                                                                    <div class="col-md-6">
                                                                        <label for="message" class="select-refund-reason r-select-refund-reason">
                                                                          Select refund reason
                                                                        </label>
                                                                        <%= f.select(:reason, options_for_select(CustomerDispute.reasons.map {|k, v| [v.humanize.capitalize, k]}) ,{}, {title: "Select" ,class: "form-control m-bootstrap-select m-bootstrap-select--pill m_selectpicker reason-dd-2"} )%>
                                                                    </div>
                                                                    <div class="col-md-6">
                                                                        <div id="other_details">
                                                                          <label for="message" class="select-refund-reason">
                                                                            Reason:
                                                                          </label>
                                                                              <%= f.text_field :reason_detail,class:'form-control m-input reason-tb ',placeholder:'Please add more details' %>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            
                                                            <hr class="hr_after_select hr_after_response_select">
                                                            </div>
                                                            <div class="form-group m-form__group">
                                                                <label for="message" class="select-refund-reason">
                                                                    Aditional Comments:
                                                                </label>
                                                                <%= f.text_area :description , class: "form-control refund-description" , id: "message" , placeholder: "Please add more details about your request." %>
                                                            </div>
                                                                <hr class="hr_cancel_order">
                                                                <div class="form-group m-form__group">
                                                                    <p class="all-products">Attatchments:</p>
                                                                    <%= f.fields_for :evidences do |evidence| %>
                                                                        <div id='filename'></div>
                                                                        <div id="drop-zone">
                                                                            <div id="upload_icon" class= "btn btn-default btn-track-order">Upload files</div>
                                                                            <%= evidence.file_field :document, multiple: true ,name: "evidences_attributes[document][]" ,accept:".doc,.rtf,.xlsx,.docx,application/msword,image/x-png,image/gif,image/jpeg,application/pdf" %>
                                                                        </div>
                                                                    <%end%>
                                                                </div>
                                                                <hr class="hr_after_attatchment">
                                                                <div class="form-group m-form__group buttons-request">
                                                                    <a href="#" class="btn  btn__cancel-refund">
                                                                        <span class="btn-cancer-text">Cancel</span>
                                                                    </a>
                                                                    <%= f.submit "Submit" , class: "btn btn-submit-order  btn-submit-refund" %>
                                                                </div>
                                                        </div>
                                                    </div>
                                                <%end%>
                                            <%else%>
	                                        	<%= form_for @customer_dispute , url: customers_disputes_path do |f|%>
		                                        	<%= f.hidden_field :transaction_id , value: @order.id %>
		                                            <div class="product_lists_cancel">
		                                                <% @order.products.each do |product| %>
                                                            <div class="row">
                                                                <div class="col-md-9 col-xs-12">
                                                                    <div class="row">
                                                                        <div class="col-md-1 col-xs-3">
                                                                            <p class="Rectangle-1811">
                                                                                <span><%=product.quantity%>x</span>
                                                                            </p>
                                                                        </div>
                                                                        <div class="col-md-11 col-xs-9">
                                                                            <span class="long_product long-product-cancel"> <%=product.name%></span>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="col-md-3 col-xs-12">
                                                                    <p class="amount-transit cancel_order_transit_amount">
                                                                         $<%= number_with_precision(product.amount, precision: 2) %> /ea
                                                                    </p>
                                                                </div>
                                                            </div>
		                                                    <hr class="hr_cancel_order">
		                                                <%end%>
                                                        <div class="row">
                                                            <div class="col-md-6">
                                                                <label for="message" class="select-refund-reason r-select-refund-reason">
                                                                  Select refund reason
                                                                </label>
                                                                <%= f.select(:reason, options_for_select(CustomerDispute.reasons.map {|k, v| [v.humanize.capitalize, k]}) ,{}, {title: "Select" ,class: "form-control m-bootstrap-select m-bootstrap-select--pill m_selectpicker reason-dd-2"} )%>
                                                            </div>
                                                            <div class="col-md-6">
                                                                <div id="other_details">
                                                                  <label for="message" class="select-refund-reason">
                                                                    Reason:
                                                                  </label>
                                                                      <%= f.text_field :reason_detail,class:'form-control m-input reason-tb ',placeholder:'Please add more details' %>
                                                                </div>
                                                            </div>
                                                        </div>
		                                            </div>
		                                            <div class="cancel_order_buttons">
		                                                <div class="row">
		                                                    <div class="col-md-12 mt-3">
		                                                        <a href="#" class="btn btn__cancel-order" data-toggle="modal" data-target="#orderModel">
		                                                            Cancel
		                                                        </a>
		                                                        <%= f.submit "Submit" , class: "btn   btn-submit-order btn-default" %>
		                                                       
		                                                    </div>
		                                                </div>
		                                            </div>
	                                            <%end%>
                                            <%end%>
                                         
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3">
                                <%= render partial: 'order_review' , locals: {order: @order} %>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>