<div class="m-subheader">
  <div class="d-flex align-items-center">
    <div class="mr-auto">
      <ul class="m-subheader__breadcrumbs m-nav m-nav--inline">
        <li class="m-nav__item">
          <span class="my-order-nav">
            <%=link_to "Refunds", customers_disputes_path,class: "m-nav__link my-order-nav" %>
          </span>
        </li>
        <li class="m-nav__separator">
          <%= image_tag "customers/images/pre_transit/chevron.svg" %>
        </li>
        <li class="m-nav__item">
          <a href="#" class="m-nav__link">
            <span class="order-active">
                Case# <%=@dispute.id %>
            </span>
          </a>
        </li>
      </ul>
      <h3 class="m-subheader__title">
        Case# <%=@dispute.id %>
      </h3>
      <div class="order-review">
          <a href="#" class="review-order-link"><p class="review-order-text">Review order</p>
          <i class="la la-angle-right"></i>
          </a>
      </div>
      <p class="order-review-para-text">Order review</p>
    </div>
  </div>
</div>
<div class="m-content">
  <div class="row">
    <div class="col-lg-12">
      <div class="m-portlet product_lists">
        <div class="m-portlet__body">
          <div class="tab-content">
            <div class="order-details-no-padding">
                  <div class="row">
                    <div class="col-md-9">
                          <div class="row">
                            <div class="col-xl-1 col-lg-1 col-md-1 col-sm-2 col-xs-2">
                              <%= image_tag "customers/images/refund/folder.svg",class: "refund_icon_images pull-right" %>
                                <div class="vl pull-right"></div>
                            </div>
                            <div class="col-xl-11 col-lg-8  col-md-8 col-sm-10 col-xs-10">
                                <div class="row">
                                    <div class="col-md-12 case__opened">
                                        <div class="row">
                                            <div class="col-md-10">
                                                <div class="row">
                                                    <div class="col-md-12">
                                                        <div class="row">
                                                            <div class="col-md-12">
                                                                <p class="case_heading mb-2">
                                                                    Case opened
                                                                </p>
                                                            </div>
                                                            <div class="col-sm-8 col-md-4">
                                                                <p class="case_open_date">
                                                                    <%= "#{@dispute.created_at.strftime("%d/%m/%Y at %I:%M%p")}"%>
                                                                </p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-12">
                                                        <div class="row">
                                                            <div class="col-sm-8 col-md-3">
                                                                <p class="refund_heading">
                                                                    Order ID
                                                                </p>
                                                                <p class="refund_body">
                                                                    <%= @transaction.order_id %>
                                                                </p>
                                                            </div>
                                                            <div class="col-sm-8 col-md-3">
                                                                <p class="refund_heading">
                                                                  <%= @status == "refund" ? "Amount Requested" : "Cancel Amount" %>
                                                                </p>
                                                                <p class="refund_body">
                                                                    <%= number_to_currency(@dispute.amount) %>
                                                                </p>
                                                            </div>
                                                            <div class="col-sm-8 col-md-3">
                                                                <p class="refund_heading">
                                                                  <%= @status == "refund" ? "Description" : "Reason" %>
                                                                </p>
                                                                <p class="refund_body">
                                                                     <%= CustomerDispute.reasons[@dispute.reason] %>
                                                                </p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-12 margin-for-reason">
                                                          <%= image_tag "customers/images/refund/comma_upper.svg" %>
                                                        <p class="liketext">
                                                           <%= @dispute.description %>
                                                        </p>
                                                        <%= image_tag "customers/images/refund/comma_down.svg",class: "pull-right" %>
                                                    </div>
                                                    <% if @dispute.evidences.present? %>
                                                      <div class="col-md-12">
                                                        <p class="attachment_heading">
                                                            Attachments
                                                        </p>
                                                        <% @dispute.evidences.each do |evidence| %>
                                                          <div class="attment_doc_box mb-2">
                                                              <%= image_tag "customers/images/refund/doc-file.svg" %>
                                                              <span class="Filedocdocx"><%= link_to evidence.document_file_name ,  evidence.document.url , target: "_blank"%></span>
                                                          </div>
                                                        <%end%>
                                                      </div>
                                                    <%end%>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12">
                              <% if @dispute_request.status == "pending" %>
                               <%= render "waiting" %>
                              <% elsif @dispute_request.status == "full_refund" %>
                                <%= render partial: "refunded_amount" , locals: {request: @dispute_request , refund: true} %>
                                <%= render 'case_close' %>
                              <% elsif @dispute_request.status == "partial_send_order" %>
                                <div class="row">
                                  <div class="col-xl-1 col-lg-1 col-md-1 col-sm-2 col-xs-2">
                                    <%= image_tag "customers/images/refund/menu_refunds.svg",class: "refund_icon_images pull-right" %>
                                      <div class="vl pull-right"></div>
                                  </div>
                                  <div class="col-xl-11 col-lg-8  col-md-8 col-sm-10 col-xs-10">
                                      <div class="row">
                                          <div class="col-md-12 case__opened">
                                              <div class="row">
                                                  <div class="col-md-10">
                                                      <div class="row">
                                                          <div class="col-md-12">
                                                              <div class="row">
                                                                  <div class="col-md-12">
                                                                      <p class="case_heading mb-2">
                                                                          Partial Refund
                                                                      </p>
                                                                      <p class="product_shipped mb-1">
                                                                          (product will be shipped)
                                                                      </p>
                                                                  </div>
                                                                  <div class="col-sm-8 col-md-4">
                                                                      <p class="case_open_date">
                                                                        <%= "#{@dispute_request.updated_at.strftime("%d/%m/%Y at %I:%M%p")}"%>
                                                                      </p>
                                                                  </div>
                                                              </div>
                                                          </div>
                                                          <div class="col-md-12">
                                                              <div class="row">
                                                                  <div class="col-sm-12 col-md-12">
                                                                      <p class="refund_heading">
                                                                          Amount Refunded
                                                                      </p>
                                                                      <p class="refund_body">
                                                                         <%= number_to_currency(@dispute.refund_amount) %>
                                                                      </p>
                                                                  </div>
                                                                  <div class="col-sm-12 col-md-12">
                                                                      <p class="refund_heading">
                                                                          Description*
                                                                      </p>
                                                                      <p class="refund_body_new">
                                                                           This is confirmation that the merchant has agreed to refund <% number_to_currency(@dispute_request.amount) %> and still fulfilled your order.Please allow 2-5 business days for the refund to reflect on your card statement.
                                                                      </p>
                                                                  </div>
                                                              </div>
                                                          </div>
                                                      </div>
                                                  </div>
                                              </div>
                                          </div>
                                      </div>
                                  </div>
                                </div>
                                <%= render 'case_close' %>
                              <% elsif @dispute_request.status == "partial_cancel_order" %>
                                <div class="row">
                                  <div class="col-xl-1 col-lg-1 col-md-1 col-sm-2 col-xs-2">
                                    <%= image_tag "customers/images/refund/menu_refunds.svg",class: "refund_icon_images pull-right" %>
                                    <div class="vl pull-right"></div>
                                  </div>
                                  <div class="col-xl-11 col-lg-8  col-md-8 col-sm-10 col-xs-10">
                                      <div class="row">
                                          <div class="col-md-12 case__opened">
                                              <div class="row">
                                                  <div class="col-md-10">
                                                      <div class="row">
                                                          <div class="col-md-12">
                                                            <div class="row">
                                                              <div class="col-md-12">
                                                                <p class="case_heading mb-2">
                                                                     <%= I18n.t('customers.request.partial_refund_cancel') %>
                                                                </p>
                                                                <p class="product_shipped mb-1">(order has been cancelled)</p>
                                                              </div>
                                                              <div class="col-sm-8 col-md-4">
                                                                <p class="case_open_date">
                                                                  <%= "#{@dispute_request.updated_at.strftime("%d/%m/%Y at %I:%M%p")}"%>
                                                                </p>
                                                              </div>
                                                            </div>
                                                          </div>
                                                           <div class="col-md-12">
                                                              <div class="row">
                                                                  <div class="col-sm-12 col-md-12">
                                                                      <p class="refund_heading">
                                                                          Amount Refunded
                                                                      </p>
                                                                      <p class="refund_body">
                                                                        <%= number_to_currency(@dispute.refund_amount) %>
                                                                      </p>
                                                                  </div>
                                                                  <div class="col-sm-12 col-md-12">
                                                                      <p class="refund_heading">
                                                                          Description*
                                                                      </p>
                                                                      <p class="refund_body_new">
                                                                         This is confirmation that the merchant has agreed to refund <%= number_to_currency(@dispute.refund_amount) %> and still fulfilled your order.Please allow 2-5 business days for the refund to reflect on your card statement.
                                                                      </p>
                                                                  </div>
                                                              </div>
                                                          </div>
                                                      </div>
                                                  </div>
                                              </div>
                                          </div>
                                      </div>
                                  </div>
                                </div>
                                <%= render 'case_close' %>
                              <% elsif @dispute_request.status == "mutual_agreement" %>
                                <div class="row">
                                  <div class="col-xl-1 col-lg-1 col-md-1 col-sm-2 col-xs-2">
                                      <%= image_tag "customers/images/refund/menu_refunds.svg",class: "refund_icon_images pull-right" %>
                                      <div class="vl pull-right"></div>
                                  </div>
                                  <div class="col-xl-11 col-lg-8  col-md-8 col-sm-10 col-xs-10">
                                      <div class="row">
                                          <div class="col-md-12 case__opened">
                                              <div class="row">
                                                  <div class="col-md-10">
                                                      <div class="row">
                                                          <div class="col-md-12">
                                                              <div class="row">
                                                                  <div class="col-md-12">
                                                                      <p class="case_heading mb-2">
                                                                         <%= I18n.t('customers.request.agreement') %>
                                                                      </p>
                                                                  </div>
                                                                  <div class="col-sm-8 col-md-4">
                                                                      <p class="case_open_date">
                                                                           <%= "#{@dispute_request.updated_at.strftime("%d/%m/%Y at %I:%M%p")}"%>
                                                                      </p>
                                                                  </div>
                                                              </div>
                                                          </div>
                                                          <div class="col-md-12">
                                                              <div class="row">
                                                                  <div class="col-sm-12 col-md-12">
                                                                      <p class="refund_heading">
                                                                          Description*
                                                                      </p>
                                                                      <p class="refund_body_new">
                                                                          [Merchant’s Description]
                                                                      </p>
                                                                  </div>
                                                              </div>
                                                          </div>
                                                      </div>
                                                  </div>
                                              </div>
                                          </div>
                                      </div>
                                  </div>
                                </div>
                                <%= render 'case_close' %>
                              <% elsif @dispute_request.status == "refunded" %>
                                <%= render partial: "accepted_by_store" , locals: {request: @dispute_request}%>
                                <%= render partial: "refunded_amount" , locals: {request: @dispute_request , cancel: true} %>
                                <%= render 'case_close' %>
                              <% elsif  @dispute_request.status == "declined" && ( @dispute.status == "pending" ||  @dispute.status == "approved" || (@dispute.status == "declined" && @merchant_offer.present? ))%>
                                <% if @merchant_offer.present? %>
                                  <%= render partial: "merchant_offer" , locals: {offer: @merchant_offer , final: false} %>
                                  <%if @merchant_offer.status == "approved" %>
                                    <%= render partial: "customer_approved" , locals: {offer: @merchant_offer} %>
                                  <%elsif @merchant_offer.status == "declined"%>
                                    <%= render partial: "customer_declined" %>
                                  <%end%>
                                <%end%>
                                <% if @customer_offer.present? %>
                                  <div class="row">
                                    <div class="col-xl-1 col-lg-1 col-md-1 col-sm-2 col-xs-2">

                                        <%= image_tag "customers/images/refund/counter-offer.svg",class: "refund_icon_images pull-right" %>
                                        <div class="vl pull-right"></div>
                                    </div>
                                    <div class="col-xl-11 col-lg-8  col-md-8 col-sm-10 col-xs-10">
                                        <div class="row">
                                            <div class="col-md-12 case__opened">
                                                <div class="row">
                                                    <div class="col-md-10">
                                                        <div class="row">
                                                            <div class="col-md-12">
                                                                <div class="row">
                                                                    <div class="col-md-12">
                                                                        <p class="case_heading mb-2">
                                                                             <%= @customer_offer.title %>
                                                                        </p>
                                                                    </div>
                                                                    <div class="col-sm-8 col-md-4">
                                                                        <p class="case_open_date">
                                                                           <%= "#{@customer_offer.created_at.strftime("%d/%m/%Y at %I:%M%p")}"%>
                                                                        </p>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="col-md-12">
                                                                <p class="refund_heading">
                                                                    Amount offered
                                                                </p>
                                                                <p class="refund_body_new">
                                                                    $<%= number_with_precision(@customer_offer.amount,precision: 2)%>
                                                                </p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                  </div>
                                  <% if @customer_offer.status == "pending" %>
                                    <%= render 'waiting' %>
                                  <% elsif @customer_offer.status == "approved" %>

                                    <%= render partial: "accepted_by_store" , locals: {request: @customer_offer}%>
                                    <%= render partial: "refunded_amount" , locals: {request: @customer_offer , refund: true} %>
                                    <%= render 'case_close' %>
                                  <% elsif @customer_offer.status == "declined" %>
                                    <%= render partial: 'declined_by_store' , locals: {request: @customer_offer} %>
                                  <%end%>
                                <%end%>
                                <% if @final_merchant_offer.present? %>
                                  
                                  <%= render partial: "merchant_offer" , locals: {offer: @final_merchant_offer , final: true} %>
                       
                                  <%if @final_merchant_offer.status == "approved"%>
                                    <%= render partial: "customer_approved" , locals: {offer: @final_merchant_offer} %>
                                  <%elsif @final_merchant_offer.status == "declined"%>
                                    <%= render partial: "customer_final_declined" %>
                                  <%end%>
                                <%end%>
                                <% if @return_to_sender.present? %>
                                  <div class="row">
                                    <div class="col-xl-1 col-lg-1 col-md-1 col-sm-2 col-xs-2">
                                      <%= image_tag "customers/images/refund/retuen_to_send.svg",class: "refund_icon_images pull-right" %>
                                       <% if @return_to_sender.status != "pending" %>
                                            <div class="vl pull-right"></div>
                                          <%end%>
                                    </div>
                                    <div class="col-xl-11 col-lg-8  col-md-8 col-sm-10 col-xs-10">
                                        <div class="row">
                                            <div class="col-md-12 case__opened">
                                                <div class="row">
                                                    <div class="col-md-10">
                                                        <div class="row">
                                                            <div class="col-md-12">
                                                                <div class="row">
                                                                    <div class="col-md-12">
                                                                        <p class="case_heading mb-2">
                                                                            Return to sender
                                                                        </p>
                                                                    </div>
                                                                    <div class="col-sm-8 col-md-4">
                                                                        <p class="case_open_date">
                                                                             <%= "#{@return_to_sender.created_at.strftime("%d/%m/%Y at %I:%M%p")}"%>
                                                                        </p>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="col-md-12">
                                                                <div class="row">
                                                                    <div class="col-sm-12 col-md-12">
                                                                        <p class="refund_heading">
                                                                            Description*
                                                                        </p>
                                                                        <p class="refund_body_new">
                                                                            [Merchant’s explanation]
                                                                        </p>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="col-md-12 col-xs-12">
                                                                <div class="row">

                                                                     <%= link_to "Print label" ,update_tracker_customers_disputes_path(tracker_id: @tracker.id,request_id: @return_to_sender), id: "print_label" , class: "btn btn-accepted mb-4" , remote: true%>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                  </div>
                                  <% if @return_to_sender.status == "approved" %>
                                    <div class="row">
                                      <div class="col-xl-1 col-lg-1 col-md-1 col-sm-2 col-xs-2">
                                        <%= image_tag "customers/images/refund/arrange_for_pickup.svg",class: "refund_icon_images pull-right" %>
                                        <div class="vl pull-right"></div>
                                      </div>
                                      <div class="col-xl-11 col-lg-8  col-md-8 col-sm-10 col-xs-10">
                                          <div class="row">
                                              <div class="col-md-12 case__opened">
                                                  <div class="row">
                                                      <div class="col-md-10">
                                                          <div class="row">
                                                              <div class="col-md-12">
                                                                  <div class="row">
                                                                      <div class="col-md-12">
                                                                          <p class="case_accepted mb-2">
                                                                              Arrange for package pick up / drop off
                                                                          </p>
                                                                      </div>
                                                                      <div class="col-sm-8 col-md-4">
                                                                          <p class="case_open_date">
                                                                              <%= "#{@return_to_sender.updated_at.strftime("%d/%m/%Y at %I:%M%p")}"%>
                                                                          </p>
                                                                      </div>
                                                                  </div>
                                                              </div>
                                                              <div class="col-md-12">
                                                                  <div class="row">
                                                                      <div class="col-sm-12 col-md-12">
                                                                          <p class="refund_heading">
                                                                              Order Status
                                                                          </p>
                                                                          <p class="refund_body_new">
                                                                                <%= @tracker.return_status %>
                                                                          </p>
                                                                      </div>
                                                                  </div>
                                                              </div>
                                                          </div>
                                                      </div>
                                                  </div>
                                              </div>
                                          </div>
                                      </div>
                                    </div>
                                    <% if @dispute.status == "approved" %>
                                      <%= render partial: "refunded_amount" , locals: {request: @dispute,refund: true} %>
                                      <%= render 'case_close' %>
                                    <%end%>
                                  <%end%>


                                <%end%>
                              <%else%>
                                <%= render partial: 'declined_by_store' , locals: {request: @dispute_request} %>
                              <% end %>
                            </div>
                          </div>
                        <div class="col-md-2"></div>
                    </div>
                    <div class="col-md-3">
                      <%= render partial: 'order_review' , locals: {order: @transaction} %>
                    </div>
                  </div>
              <% if @merchant_offer.try(:status) == "pending" %>
                <%= render "counter_offer" %>
              <%end%>
              <%= render "merchant_contact_info" %>    
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<% if @pending_merchant_offer.present? %>
  <div class="modal fade" id="offerAcceptModel" tabindex="-1" role="dialog" aria-labelledby="orderModelLabel" aria-hidden="true">
      <div class="modal-dialog modal-lg" role="document">
          <div class="modal-content">
              <div class="modal-header" >
                <%= image_tag "customers/images/refund/box_success.svg" , class: "order_icon_success" %>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                  </button>
              </div>
              <div class="modal-body">
                  <h2 class="cancel_order">
                      Are you sure you want to
                      <br>
                      accept this merchant’s offer?
                  </h2>
              </div>
              <div class="modal-footer">
                  <a href="" class="btn  btn-cancel-upload" data-dismiss="modal">
                      No
                  </a>
                  <%= form_tag customers_dispute_dispute_request_path(@dispute.id,@pending_merchant_offer.id), method: :put do %>
                    <input type='hidden' name="status" value="approved" />
                    <button type="submit" class="btn  btn-cancel-yes-upload"><span class="cancer-yes-text">Yes</span></button>
                  <% end %>
              </div>
          </div>
      </div>
  </div>
  <div class="modal fade" id="offerDeclineModel" tabindex="-1" role="dialog" aria-labelledby="orderModelLabel" aria-hidden="true">
      <div class="modal-dialog modal-lg" role="document">
          <div class="modal-content">
              <div class="modal-header" >
                <%= image_tag "customers/images/refund/box_declined.svg" , class: "order_icon_success" %>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                  </button>
              </div>
              <div class="modal-body">
                  <h2 class="cancel_order">
                      Are you sure you want to
                      <br>
                      decline this merchant’s offer?
                  </h2>
              </div>
              <div class="modal-footer">
                  <a href="" class="btn  btn-cancel-upload" data-dismiss="modal">
                      No
                  </a>
                  <%= form_tag customers_dispute_dispute_request_path(@dispute.id,@pending_merchant_offer.id), method: :put do %>
                    <input type='hidden' name="status" value="declined" />
                    <button type="submit" class="btn  btn-cancel-yes-upload"><span class="cancer-yes-text">Yes</span></button>
                  <% end %>
              </div>
          </div>
      </div>
  </div>
<%end%>

<div id="my_modal_content"></div>

<% if @return_to_sender.present? %>
  <div class="modal fade" id="return_to_sender" tabindex="-1" role="dialog" aria-labelledby="orderModelLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header" >
                <%= image_tag "customers/images/refund/return_to_sender_modal.svg",class: "order_icon_success" %>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <h2 class="cancel_order mb-3">
                    Return to sender instructions
                </h2>
                <p class="return_para">
                    Before you send your product back, please do the following steps:
                </p>
                <div class="row">
                    <div class="col-lg-1"></div>
                    <div class="col-lg-10">
                        <hr class="print-label-hr">
                    </div>

                </div>
                <div class="row">
                    <div class="col-lg-3 col-md-3">
                    </div>
                    <div class="col-lg-9 col-md-9">
                        <div class="row">
                            <div class="col-lg-1 col-2">
                                <div class="sender-instructions">
                                    <p class="ins_number">1</p>
                                </div>

                            </div>
                            <div class="col-lg-2 col-3">
                              <%= image_tag "customers/images/refund/box.svg",class: "box-temp" %>
                            </div>
                            <div class="col-lg-4 col-md-4 col-6">
                              <p>Gather all pieces
                                of the product.</p>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="row">
                    <div class="col-lg-3 col-md-3">
                    </div>
                    <div class="col-lg-9 col-md-9">
                        <div class="row">
                            <div class="col-lg-1 col-2">
                                <div class="sender-instructions">
                                    <p class="ins_number">2</p>
                                </div>

                            </div>
                            <div class="col-lg-2 col-3">
                                <!-- <img src="assets/img/refund/box.svg" class="box-temp" alt="box"> -->
                                  <%= image_tag "customers/images/refund/box.svg",class: "box-temp" %>
                            </div>
                            <div class="col-lg-4 col-md-4 col-6">
                                <p>Print this label.</p>
                            </div>
                        </div>
                    </div>

                </div>
                <br>
                <div class="row">
                    <div class="col-lg-4 col-md-4">
                    </div>
                    <div class="col-lg-8 col-md-8">
                        <div class="row">
                            <a  class="btn btn-open" target="_blank" href=<%= @tracker.return_label_url %> >
                                Open
                            </a>
                            <a  class="btn send-email-btn" href=<%= mail_generate_label_customers_disputes_path(tracker_id: @tracker.id) %>>
                                Send to my email
                            </a>

                        </div>
                    </div>

                </div>
                <br>
                <div class="row">
                    <div class="col-lg-3 col-md-3">
                    </div>
                    <div class="col-lg-9 col-md-9">
                        <div class="row">
                            <div class="col-lg-1 col-2">
                                <div class="sender-instructions">
                                    <p class="ins_number">3</p>
                                </div>

                            </div>
                            <div class="col-lg-2 col-3">
                              <%= image_tag "customers/images/refund/box.svg",class: "box-temp" %>
                            </div>
                            <div class="col-lg-4 col-md-4 col-6">
                              <p>Put the product in a package
                                and attach the shipping label.</p>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="row">
                    <div class="col-lg-3 col-md-3 ">
                    </div>
                    <div class="col-lg-9 col-md-9">
                        <div class="row">
                            <div class="col-lg-1 col-2">
                                <div class="sender-instructions">
                                    <p class="ins_number">4</p>
                                </div>

                            </div>
                            <div class="col-lg-2 col-3">
                              <%= image_tag "customers/images/refund/box.svg",class: "box-temp" %>
                            </div>
                            <div class="col-lg-4 col-md-4 col-6">
                              <p>Post the package on the
                                nearest USPS unit available.</p>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="row">
                    <div class="col-lg-1"></div>
                    <div class="col-lg-10">
                        <hr class="print-label-hr">
                    </div>

                </div>
            </div>
            <div class="modal-footer print-label-modal-footer">
                <a href="" class="btn btn-close" >
                    Close
                </a>
            </div>
        </div>
    </div>
</div>
<%end%>