<div class="m-subheader">
    <div class="d-flex align-items-center">
        <div class="mr-auto">
            <ul class="m-subheader__breadcrumbs m-nav m-nav--inline">
                <li class="m-nav__item">
                    <a class="m-nav__link" href=<%= customers_orders_path %>>
                        <span class="my-order-nav">
                            My Orders
                        </span>
                    </a>
                </li>
                <li class="m-nav__separator">
                    <%= image_tag "customers/images/pre_transit/chevron.svg" %>
                </li>
                <li class="m-nav__item">
                    <a  class="m-nav__link" href=<%= customers_order_path(@order.id) %> >
                        <span class="my-order-nav">
                            Order Details
                        </span>
                    </a>
                </li>
                <li class="m-nav__separator">
                    <%= image_tag "customers/images/pre_transit/chevron.svg" %>
                </li>
                <li class="m-nav__item">
                    <a href="#" class="m-nav__link">
                        <span class="order-active">
                            <%=  @status == "refund" ? "Refund Order" : "Cancel Order" %>
                        </span>
                    </a>
                </li>
            </ul>
            <h3 class="m-subheader__title">
                <%=  @status == "refund" ? "Refund Order" : "Cancel Order" %>
            </h3>
        </div>
    </div>
</div>
<div class="m-content">
    <div class="row">
        <div class="col-lg-12">
            <div class="m-portlet product_lists">
                <div class="submission-tab">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="order-details text-center">
                                <%= image_tag "customers/images/dollar-image.svg" %>
                                <p class="thank-you-message">Thank you for</p>
                                <p class="thank-you-message">your submission!</p>
                                <p class="request-number-title">Your request number is</p>
                                <h2 class="request-number"><%= dispute_id %></h2>
                                <p class="request-success-msg">
                                    Your request has been successfully submitted and it will be reviewed by [<%= merchant_name %>].
                                </p>
                                <p class="request-success-msg">
                                    You will receive an e-mail update of the  finding and resolution within 2 business days.
                                </p>
                                <a class="btn request-continue-btn btn-track-order" href=<%= customers_disputes_path %> >Continue</a>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>