<% dba_name = @messages.first.try(:message_transaction).present? ? @messages.first.message_transaction.receiver_wallet.location.business_name : "" %>
<div class="col-lg-12 col-md-12" id="inbox-body">
  <% if @chat.empty? %>
    <div class="row">
      <div class="col-lg-12 col-md-12 chat-header">
        <div class="heading-style">No Chat Exists!</div>
      </div>
    </div>
  <% else %>
    <div class="row">
      <div class="col-lg-12 col-md-12 inbox-header">
        <div class="row">
          <div class="col-lg-6 col-md-6">
            <div class="row">
              <div class="col-lg-2 col-md-2">
                <div class="user_profile_image">
                  <p class="user_slug"><%= dba_name.try(:initial) %></p>
                </div>
              </div>
              <div class="col-lg-10 col-md-10">
                <p class="company_name">
                  <input type="hidden" id="t_id" value="<%= @messages.first.message_transaction.id %>">
                  <input type="hidden" id="merchant_id" value="<%= @messages.last.recipient.role == "merchant" ? @messages.last.recipient_id : @messages.last.actor_id  %>">
                  <%= hidden_field_tag "last_msg_id", @messages.first.id %>
                  <%= hidden_field_tag "current_user_id",current_user.id %>
                  <%= dba_name %>
                </p>
              </div>
            </div>
          </div>
          <div class="col-lg-6 col-md-6">
            <p class="order-id">Order ID <%= @messages.first.try(:message_transaction).try(:order_id) %></p>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12 inbox-messages temp_<%=@chat.keys.first%>" id="inbox-messages">
        <div class="row">
<!--          <div class="col-lg-12 col-sm-12 col-md-12">-->
<!--            <p class="available-time">Available from 8am to 5pm</p>-->
<!--          </div>-->

          <% @messages.each do |msg| %>
            <% unless msg.text.present? %>
              <div class="col-lg-12 col-sm-12 col-md-12">
                <p class="available-time no-more">No more messages</p>
              </div>
            <% end %>
            <% if msg.text.present? %>
              <% if msg.actor_id == current_user.id %>
                <div class="col-lg-12 col-sm-12 col-md-12">
                  <div class="row margin-15" >
                    <div class="col-lg-6 col-sm-6 col-md-6"></div>
                    <div class="col-lg-6 col-sm-6 col-md-6">
                      <div class="chat-respond-messages pull-right">
                        <div class="respond-chat-container">
                          <div class="chat-respond msg">
                            <div class="flippd">
                              <div class="chatmsg">
                                <%= msg.text %>
                              </div>
                            </div>
                          </div>
                        </div>
                        <% if msg.read_at.present? %>
                          <p class="status pull-right">Read</p>
                        <% end %>
                      </div>
                    </div>
                  </div>
                </div>
              <% else %>

                <div class="col-lg-12 col-sm-12 col-xs-10 col-md-12">
                  <div class="row chatbox_responsive_row margin-15">
                    <div class="col-lg-6 col-sm-6 col-md-6">
                      <div class="chat-sender-messages">
                        <div class="chat-container">
                          <div class="chat-sender msg">
                            <div class="chatmsg">
                              <%= msg.text %>

                            </div>
                          </div>

                        </div>
                      </div>
                      <p class="sending-date pull-right"><%= msg.created_at.strftime("%A %I:%M %p") %></p>
                    </div>
                    <div class="col-lg-6 col-sm-6 col-md-6"></div>
                  </div>
                </div>


              <% end %>
            <% end %>
            <% if msg.attachments.present? %>
              <% if msg.actor_id == current_user.id %>
                <% msg.attachments.each do |attach| %>
                  <div class="col-lg-12 col-sm-12 col-md-12">
                    <div class="row margin-15" >
                      <div class="col-lg-6 col-sm-6 col-md-6"></div>
                      <div class="col-lg-6 col-sm-6 col-md-6">
                        <div class="chat-respond-messages pull-right">
                          <div class="respond-chat-container">
                            <div class="chat-respond msg">
                              <div class="flippd">
                                <div class="chatmsg">
                                  <a href="<%= attach.document.url %>" target="_blank"><%= attach.document_file_name %></a>
                                </div>
                              </div>
                            </div>
                          </div>
                          <% if msg.read_at.present? %>
                            <p class="status pull-right">Read</p>
                          <% end %>
                        </div>
                      </div>
                    </div>
                  </div>

                <% end %>

              <% else %>
                <% msg.attachments.each do |attach| %>

                  <div class="col-lg-12 col-sm-12 col-xs-10 col-md-12">
                    <div class="row chatbox_responsive_row margin-15">
                      <div class="col-lg-6 col-sm-6 col-md-6">
                        <div class="chat-sender-messages">
                          <div class="chat-container">
                            <div class="chat-sender msg">
                              <div class="chatmsg">
                                <a href="<%= attach.document.url %>" target="_blank"><%= attach.document_file_name %></a>

                              </div>
                            </div>

                          </div>
                        </div>
                        <p class="sending-date pull-right"><%= msg.created_at.strftime("%A %I:%M %p") %></p>
                      </div>
                      <div class="col-lg-6 col-sm-6 col-md-6"></div>
                    </div>
                  </div>

                <% end %>

              <% end %>
            <% end %>

          <% end %>

        </div>
        <div class="row background-white">
          <div class="col-lg-12 col-md-12">
            <div id='filename'></div>
          </div>
        </div>
        <div id="lastmessage"></div>
      </div>

    </div>

    <div class="row">
      <div class="col-lg-12 col-md-12 inbox-footer">
        <%= form_tag save_chat_merchant_messages_path(transaction_id:@chat.keys.first), remote: true , id: 'chat_form',class: 'chat_form',:multipart => true do %>

          <div class="row">
            <div class="col-lg-11 col-md-11">
              <div class="footer-searchbar">
                <input type="textarea" name="message" placeholder="Type a message" id="footer-searchbar">
                <%= fields_for :attachments do |attachment| %>
                  <div id="drop-zone1">
                    <label class="pull-right" for="attachments_document">
                      <%= image_tag "customers/images/messages/attach.svg" , class: "find-attatch" ,alt: "attatchment" %>
                    </label>
                    <%= attachment.file_field :document, multiple: true ,name: "attachments[document][]"  %>
                  </div>
                <%end%>
              </div>
            </div>
            <div class="col-lg-1 col-md-1">
              <input type="hidden" name="transaction_id" id="transaction_id" value="<%= @chat.keys.first%>">
              <input type="hidden" name="recipient_id" id="recipient_id" value="<%= @messages.pluck(:actor_id,:recipient_id).uniq.try(:flatten).reject{|u| u == current_user.id }.first%>">
              <%= submit_tag "Send", :type => :image, :src => image_path("customers/images/messages/send.svg"),class: "send-btn" ,alt: "send image",id:'send-btn' %>
            </div>
          </div>
        <% end %>
      </div>
    </div>

  <% end %>
</div>
