
<div class="m-grid__item m-grid__item--fluid m-wrapper content_boday r_content_body">
  <!-- BEGIN: Subheader -->
  <div class="m-subheader ">
    <div class="d-flex align-items-center">
      <div class="mr-auto">
        <h3 class="m-subheader__title ">
          Messages
        </h3>
      </div>
    </div>
  </div>
  <!-- END: Subheader -->
  <div class="m-content r-m-content">
    <div class="row">
      <div class="col-lg-12 col-md-12">
        <div class="row">
          <div class=" col-lg-4 col-md-4" id="inbox-sidebar">
            <div class="row">
              <div class="col-lg-12 col-md-12">
                <div class="row">
                  <div class="col-lg-12 col-xs-11 col-md-12">
                    <form class="m-form message_searchbox">
                      <div class="m-portlet__body">
                        <div class="form-group m-form__group">
                          <div class="m-input-icon m-input-icon--left">
                            <input type="text" class="form-control m-input search_input" placeholder="Search for a merchant">
                            <span class="m-input-icon__icon m-input-icon__icon--left">
                                                                        <span>
                                                                            <i class="fa ">
                                                                              <%= image_tag "customers/images/magnifing_glass.svg" %>
                                                                            </i>
                                                                        </span>
                                                                    </span>
                          </div>
                        </div>
                      </div>
                    </form>

                    <input type="hidden" id="transaction_count" value="<%= @chats.count%>">
                    <input type="hidden" id="new_message_count" value="<%= @count%>">
                  </div>
                </div>
              </div>
            </div>

            <div class="row">
              <% @chats.each do |transaction,messages| %>
                <% dba_name=messages.first.message_transaction.receiver_wallet.location.business_name %>
                <div class="col-lg-12 col-md-12 chat-box-title">
                  <%= link_to "#",id: "chat_click",data: { method: "GET", "url_path" =>  merchant_message_path(messages.first.transaction_id),transaction_id: messages.first.transaction_id },:remote => true do %>
                    <div class="row active-users" id="active-status-1">
                      <div class="col-lg-2 col-xs-2 col-md-2">
                        <div class="user_profile_image">
                          <p class="user_slug"><%= dba_name.initial %></p>
                        </div>
                        <div class="active">
                        </div>
                      </div>
                      <div class="col-lg-9 col-md-9 r-sidebar-detail">
                        <p class="company_name">
                          <%= dba_name %>
                          <span class="text-time"><%= messages.last.created_at.strftime("%H:%M") if messages.present? %></span>
                        </p>
                        <p class="order-id">
                          Order ID <%= messages.first.message_transaction.order_id %>
                        </p>
                        <p class="mess_description">
                          <% if messages.last.actor_id == current_user.id %>
                            You:
                          <% else %>
                            Merchant:
                          <% end %>
                          <% count=messages.select{|a| a.read_at.nil? && a.recipient_id==current_user.id}.count %>
                          <span class="bold-mess-description"><%= messages.last.text %></span><span class="badge badge-pill badge-warning_<%=transaction%>"><%= count %></span>
                        </p>
                      </div>
                    </div>
                  <% end %>
                </div>
              <% end %>

            </div>
          </div>
          <div class="col-lg-8 col-md-8" id="chat_body">
            <%= render partial: 'show' %>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
<%= javascript_include_tag "merchant/chat.js"  %>

