<%= stylesheet_link_tag 'v2/merchant/login_base' %>
<%= stylesheet_link_tag 'v2/merchant/login' %>
<%#= stylesheet_link_tag 'v2/merchant/custom1' %>
<%= javascript_include_tag 'v2/merchant/vendors_bundle', 'data-turbolinks-track': 'reload' %>
<div  class="m--skin- m-header--fixed m-header--fixed-mobile m-aside-left--enabled m-aside-left--skin-dark m-aside-left--offcanvas m-footer--push m-aside--offcanvas-default"  >
  <!-- begin:: Page -->
  <div class="background_image">
    <div class="container-fluid hieght-100" id="remove--hieght">
      <div class="row">
        <div class="right-side-ipad col-md-6 pull-left">
          <div class="m-grid m-grid--hor m-grid--root m-page">
            <div class="m-login m-login--signin" >
              <div class="m-login__wrapper-1 m-portlet-full-height">
                <div class="m-login__wrapper-1-1">
                  <div class="m-login__contanier">
                    <div class="m-login__content">
                      <div class="m-login__logo">
                        <center>
                          <%= image_tag "v2/login/login_new_logo.svg" , class: "new_logo_design" %>
                          <%#= image_tag "v2/login/Qc_logo" , class: "z_cart_logo" %>
                        </center>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="left-side-ipad col-md-6 pull-right pr-0 hieght-100" id="remove--hieght-1">
          <div class="m-grid m-grid--hor m-grid--root m-page">
            <div class="m-grid__item m-grid__item--fluid m-grid m-grid--hor m-login m-login--signin m-login--2 m-login-2--skin-1" id="m_login">
              <div class="row mr-0 ml-0">
                <div class="col-xl-2 col-lg-2 col-md-2 col-sm-12 col-xs-12"></div>
                <div class="col-xl-9 col-lg-9 col-md-9 col-sm-12 col-xs-12">
                  <div class="m-grid__item m-grid__item--fluid m-login__wrapper pb-0 mb-0">
                    <div class="m-login__container hieght-75">
                      <div class="m-login__logo">
                        <center>
                          <p class="welcome_text rest_password_welcome display_none">Welcome to</p>
                          <%= image_tag "v2/login/new_qc_logo_login.svg" , class: "desktop_logo mb-5" %>
                          <%#= image_tag "v2/login/quickcard_Logo.svg" , class: "desktop_logo" %>
                          <p class="welcom_text help_us_text">
                            Help us to protect your account access <br>with our two-step verification.
                          </p>
                          <p class="welcom_text help_us_text mb-0">
                            How would you like to get your code?
                          </p>
                          <p id="verify_display" class="welcom_text verification_code display_none mb-0">
                            Enter verification code
                          </p>
                          <p class="welcom_text new_password_text forgot_pwd_text display_none mb-0">
                            Please enter and confirm your new<br>password.
                          </p>
                          <p class="two_step_verification_text display_none">
                            We sent a verification code to
                            <br>
                            <span id="device_phone">(xxx) xxx-<%= current_user.phone_number.try(:last,4) %></span>
                            <span id="show_email">Email   ********<%= @user.email.partition('@').last %></span>
                            Please enter the code below.
                          </p>
                        </center>
                      </div>
                      <div class="m-login__signin" id="forgot_password_div1">
                        <center>
                          <div class="form-group m-form__group">
                            <select class="form-control send_code_option m-time-bootstrap-select m-bootstrap-select m-bootstrap-select--pill  m_selectpicker "   title="Text  (***) ***-**<%= @user.try(:phone_number).try(:last,2) %>">
                              <option value="text">
                                Text  (***) ***-**<%= @user.try(:phone_number).try(:last,2) %>
                              </option>
                              <option value="email">
                                Email   ********<%= @user.email.partition('@').last %>
                              </option>
                            </select>
                          </div>
                          <input type="hidden" id="send_code_type" value="text">
                          <input type="hidden" id="user_id" value="<%= @user.id %>">
                          <input type="hidden" id="user_type" value="partner">
                          <button type="button" class="btn btn_send_code">Send Code</button>
                          <div class="text-center link_snd mb-3 mt-3">
                            <a href="" class="resend_code" data-toggle="modal" data-target="#buyGiftCardModal1">Need Help?</a>    
                          </div>
                        </center>
                      </div>

                      <!--                      Send Code div-->
                      <div class="m-login__signin display_none" id="send_code">
                        <center>
                          <%= form_tag([resource_name, :two_factor_authentication], :method => :put, id: 'two_step_form') do %>
                            <div class="form-group two-step-field">
                              <label class="label_text pull-left">Your Verification Code</label>
                              <!--                              <label class="label_text pull-right true cursor-pointer" id="try_again">Resend code</label>-->
                              <input type="text" class="user form-control m-input email-input" id="token" autofocus name="token"  maxLength="6" min="6" max="6" pattern="[0-9]{6}" required>
                              <input type="hidden" class="" id="role" name="role" value="<%= @params.try(:[],"role") %>">
                              <input type="hidden" id="user_id" name="current_user_id" value="<%= current_user.id %>">
                              <span id="opt_error" class="pull-left email_error"></span>
                              <span class="login-error" id="verification_code_error"></span>
                            </div>
                            <input type="hidden" id="attempts" value="1">
                            <div class="m-login__form-action">
                              <button type="button" class="btn btn-login btn-focus m-btn m-btn--pill m-btn--custom m-btn--air  m-login__btn m-login__btn--primary verify_opt" id="m_login_two_step_submit">Login</button>
                              <%#= submit_tag "Login" , class: "btn btn-login btn-focus m-btn m-btn--pill m-btn--custom m-btn--air  m-login__btn m-login__btn--primary original_btn", id:'m_login_two_step_submit'%>
                            </div>
                          <% end %>

                          <div class="resend_code_div">
                            <input type="hidden" id="partner" name="partner" value="partner">
                            <button id="resend_btn" class="resend_code">Resend Code</button>
                            <button id="resend_btn_email" class="send_email_code resend_code_email">Resend Code</button>
                          </div>
                          <span class="resend_confirmation_color " id="resend_confirmation"></span>
                          <div class="resend_code_div">
                            <span>Didn't get a code?</span>
                            <br>
                            Try using
                            <input type="hidden" class="email_type" value="email">
                            <input type="hidden" class="text_type" value="text">
                            <a href="#" class="device_phone send_text_code replace_phone" value="(xxx) xxx-<%= current_user.phone_number.try(:last,4) %>">(xxx) xxx-<%= current_user.phone_number.try(:last,4) %></a>
                            <a href="#" id="replace_email" class="show_email send_email_code replace_email" value="Email   ********<%= @current_user.email.partition('@').last %>">Email   ********<%= @current_user.email.partition('@').last %></a>
                          </div>
                        </center>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-xl-1 col-lg-1 col-md-1 col-sm-12 col-xs-12"></div>
              </div>
            </div>
          </div>
          <center>
            <div class="term-div">
              <p class="powerd_by">Powered by <%= image_tag "v2/green_box_logo.svg" %></p>
            </div>
          </center>
        </div>
      </div>
    </div>
  </div>

  <!--Terms And Services-->

</div>
<%= render partial: 'users/sessions/merchants/get_help'%>


<%= javascript_include_tag 'v2/merchant/login.js' %>
<%= javascript_include_tag 'v2/merchant/bootstrap-select', 'data-turbolinks-track': 'reload' %>