<%= stylesheet_link_tag 'v2/merchant/login_base' %>
<%= stylesheet_link_tag 'v2/merchant/login' %>
<%#= render :partial => 'shared/flash' %>
<div  class="m--skin- m-header--fixed m-header--fixed-mobile m-aside-left--enabled m-aside-left--skin-dark m-aside-left--offcanvas m-footer--push m-aside--offcanvas-default"  >
  <!-- begin:: Page -->
  <div class="background_image">
    <div class="container-fluid full-height">
      <div class="row">
        <div class="right-side-ipad col-md-6 pull-left">
          <div class="m-grid m-grid--hor m-grid--root m-page">
            <div class="m-login m-login--signin" >
              <div class="m-login__wrapper-1 m-portlet-full-height">
                <div class="m-login__wrapper-1-1">
                  <div class="m-login__contanier">
                    <div class="m-login__content">
                      <div class="m-login__logo">
                        <center>
                          <%= image_tag "v2/login/login_new_logo.svg" , class: "new_logo_design new_logo_verification" %>
                        </center>

                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="left-side-ipad-forgot col-md-6 pull-right pr-0 hieght-100" id="remove--hieght-1">
          <div class="m-grid m-grid--hor m-grid--root m-page">
            <div class="m-grid__item m-grid__item--fluid m-grid m-grid--hor m-login m-login--signin m-login--2 m-login-2--skin-1" id="m_login">
              <div class="row mr-0 ml-0">
                <div class="col-xl-2 col-lg-2 col-md-2 col-sm-12 col-xs-12"></div>
                <div class="col-xl-9 col-lg-9 col-md-9 col-sm-12 col-xs-12">
                  <div class="m-grid__item m-grid__item--fluid m-login__wrapper">
                    <div class="m-login__container">
                      <div class="m-login__logo">
                        <center>
                          <%= image_tag "v2/login/new_qc_logo_login.svg" , class: "desktop_logo" %>
                        </center>
                      </div>
                      <div class="m-login__signin">
                        <div class="m-login__head">
                          <p class="two_step_verification_text">
                            We sent a verification code to
                            <br>
                            <span>(xxx) xxx-<%= current_user.phone_number.last(4) %></span>
                            <br>
                            Please enter the code below.
                          </p>
<!--                          <p class="m-login__title">-->
<!--                            <span>2-Step verification</span>-->
<!--                            <br>-->
<!--                            <br class="br1">-->
<!--                            Enter the code we texted-->
<!--                            <br class="br1">-->
<!--                            to -->
<!--                          </p>-->
                        </div>
                        <center>
                          <%= form_tag([resource_name, :two_factor_authentication], :method => :put, id: 'two_step_form') do %>
                            <div class="form-group two-step-field">
                              <label class="label_text pull-left">Your Verification Code</label>
<!--                              <label class="label_text pull-right true cursor-pointer" id="try_again">Resend code</label>-->
                              <input type="text" class="user form-control m-input email-input" id="token" autofocus name="token"  maxLength="6" min="6" max="6" pattern="[0-9]{6}" required>
                              <input type="hidden" class="" id="role" name="role" value="<%= @params.try(:[],"role") %>">
                              <span id="opt_error" class="pull-left email_error"></span>
                            </div>
                            <input type="hidden" id="attempts" value="1">
                            <div class="m-login__form-action">
                              <button type="button" class="btn btn-login btn-focus m-btn m-btn--pill m-btn--custom m-btn--air  m-login__btn m-login__btn--primary verify_opt" id="m_login_two_step_submit">Login</button>
                              <%=submit_tag "Login" , class: "btn btn-login btn-focus m-btn m-btn--pill m-btn--custom m-btn--air  m-login__btn m-login__btn--primary original_btn", id:'m_login_two_step_submit'%>
                            </div>
                          <% end %>

                          <div class="resend_code_div">
                            <a href="#">Resend Code</a>
                          </div>
                          <div class="resend_code_div mb-4">
                            <span>Didn't get a code?</span>
                            <br>
                            <a href="#">
                              Try using (xxx) xxx-<%= current_user.phone_number.last(4) %>
                            </a>
                          </div>
<!--                          <input type="hidden" id="current_user_id" value="<%#= current_user.id %>">-->
<!--                            <div class="row m-login__form-sub margin-top-5">-->
<!--                              <div class="col m--align-right m-login__form-right">-->
<!--                                <a class="m-link forgot_password true abc two_factor_code cursor-pointer link-font-size " id="try_again1" %>-->
<!--                                  Send code via email-->
<!--                                </a>-->
<!--                              </div>-->
<!--                            </div>-->
<!--                            <div class="row m-login__form-sub margin-top-5">-->
<!--                              <div class="col m--align-right m-login__form-right">-->
<!--                                <a class='link-font-size m-link forgot_password try-another-acc' id='login_forgot_password' data-method="delete" href="/users/sign_out?role=merchant">Try with another account?</a>-->
<!--                              </div>-->
<!--                            </div>-->
                          <input type="hidden" id="current_user_id" value="<%= current_user.id %>">
                            <div class="row m-login__form-sub margin-top-5">
                              <div class="col m--align-right m-login__form-right">
                                <a class="m-link forgot_password true abc two_factor_code cursor-pointer link-font-size " id="try_again2" %>
                                  Send code via email
                                </a>
                              </div>
                            </div>
                            <div class="row m-login__form-sub margin-top-5">
                              <div class="col m--align-right m-login__form-right">
                                <a class='link-font-size m-link forgot_password try-another-acc' id='login_forgot_password' data-method="delete" href="/users/sign_out?role=merchant">Try with another account?</a>
                              </div>
                            </div>
                        </center>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-xl-1 col-lg-1 col-md-1 col-sm-12 col-xs-12"></div>
              </div>
            </div>
          </div>
          <center>
            <div class="term-div">
              <p class="powerd_by">Powered by <%= image_tag "v2/green_box_logo.svg" %></p>
            </div>
          </center>
        </div>
      </div>
    </div>
  </div>

  <!--Terms And Services-->
  <%#= render 'v2/merchant/shared/terms_and_services' %>
</div>



<%= javascript_include_tag 'v2/merchant/login.js' %>
<%= javascript_include_tag "users/two_factor_auth" %>