<%= javascript_include_tag "v2/merchant/oauth_app" %>
<%= stylesheet_link_tag "v2/merchant/apps" %>
<div class="m-subheader">
  <div class="d-flex align-items-center">
    <div class="mr-auto">
      <ul class="m-subheader__breadcrumbs m-nav m-nav--inline set-path">
        <li class="m-nav__item">
          <a href="#" class="m-nav__link">
            <span class="my-order-nav">
                Business Settings
            </span>
          </a>
        </li>
        <li class="m-nav__separator">
          <%= image_tag "v2/merchant/icons/angle.svg"%>
        </li>
        <li class="m-nav__item">
          <a href="<%= v2_merchant_apps_path %>" class="m-nav__link">
              <span class="order-active">
                API keys
              </span>
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>
<div class="m-content">
  <div class="page-title">
    	API Keys
  	</div>
  <div class="business_settings_section mt-4">
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12">
        <div class="text-left standard_key_text">
          <p>Standard Keys</p>
        </div>

      </div>
      <hr class="h-line ml-3 ">
      <% @apps.each do |app| %>
      <div class="col-lg-12 col-md-12 col-sm-12">
          <div class="row">
            <div class="col-lg-10">
              <div class="row">
                <div class="col-lg-3">
                  <div class="text-left custom-text pl-3">
                    <p>Type</p>
                  </div>
                </div>
                <div class="col-lg-6">
                  <div class="custom-text pl-3">
                    <p>Key</p>
                  </div>
                </div>
              </div>

            </div>
            <div class="col-lg-2">
              <div class="text-right custom-text pr-20">
<!--              <div class="text-right custom-text">-->
                <p>Created on</p>
              </div>
            </div>
          </div>
      </div>
      <div class="col-lg-12 col-md-12 col-sm-12 public-keys">
        <div class="">
          <div class="row">
            <div class="col-lg-10">
              <div class="row">
                <div class="col-lg-3">
                  <div class="text-left pl-3 normal-custom-text">
<!--                  <div class="text-left normal-custom-text mt-3 pl-3">-->
                    <p>Public Key</p>
                  </div>
                </div>
                <div class="row-key pl-24">
<!--                <div class="col-lg-7">-->
                <div class="key_width">
                  <div class="normal-custom-text pl-2 pull-left">
<!--                  <div class="normal-custom-text mt-3 pl-2 pull-left">-->
                    <p class="app_key_text"><%= app.key %></p>
                  </div>
                </div>
<!--                  <div class="mt-2 pl-3">-->
<!--                    <a href="#" data-skin="dark" data-toggle="m-tooltip" data-placement="top" title="" data-original-title="Click to Copy" class="cutom_tootltip1 copy_api_key_1 fixing_image_copy"><%#= image_tag "v2/merchant/icons/component.svg" , class: "app_key"  %></a>-->
<!--                  </div>-->
                  <a  data-skin="dark" data-toggle="m-tooltip" data-placement="top" title="" data-original-title="Click to Copy" class="cutom_tootltip1 copy_api_key_1"><%= image_tag "v2/merchant/icons/component.svg" , class: "app_key"  %></a>
                </div>
              </div>
            </div>
            <div class="col-lg-2">
              <div class="normal-custom-text pr-20 flex-end">
<!--              <div class="text-right mt-3 normal-custom-text">-->
                <% if cookies[:timezone].present? %>
                    <td ><%= app.created_at.in_time_zone(cookies[:timezone]).strftime("%m-%d-%Y at %I:%M:%S %p")%></td>
                <%else %>
                  <span class="timeUtc"><%= app.created_at.strftime("%m-%d-%Y at %I:%M:%S %p")%></span>
                <% end %>
               <!--  <p class="timeUtc"><%= app.created_at.strftime("%m/%d/%Y at %I:%M%p")%></p> -->
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-12 col-md-12 col-sm-12">
        <div class="row">
          <div class="col-lg-10">
            <div class="row">
              <div class="col-lg-3">
                <div class="text-left normal-custom-text pl-3">
<!--                <div class="text-left normal-custom-text mt-4 pl-3">-->
                  <p>Secret Key</p>
                </div>
              </div>
              <div class="col-lg-9">
                <div class="row flex-a-center pl-24">
<!--                <div class="row">-->
                  <div class="key_width">
<!--                  <div class="key_width pr-0 mr-0">-->
                    <div class="custom-text mt-4 pl-2 blur-text">
<!--                    <div class="custom-text mt-4 pl-3 blur-text">-->
                      <p class="app_secret_text"><%= app.secret %></p>
                    </div>
                    <div class="row">
<!--                      <div class="col-lg-1"></div>-->
                      <div class="col-lg-10">
                        <a id="revealed_key" class="btn btn-default reveal_key_button btn-invoice-cancel ml-2" data-id="<%= app.id%>">Reveal Live Key Token</a>
                      </div>
                    </div>
                  </div>
                  <div class="mr-4">
                    <% if app.revealed_date.present? && cookies[:timezone].present? %>
                      <% reveal_date = app.revealed_date.in_time_zone(cookies[:timezone]).strftime("%m-%d-%Y %I:%M:%S %p") %>
                      <input type="hidden" id = "reveal_timezone_date" name="reveal_timezone_date" value="<%= reveal_date %>">
                    <%else %>
                      <% reveal_date = app.try(:revealed_date).try(:strftime,("%m-%d-%Y %I:%M:%S %p"))%>
                      <input type="hidden" id = "reveal_date" name="reveal_date" value="<%= reveal_date %>">
                    <% end %>
                    <div class="row">
                    <div class="mt-3 cutom_tootltip component_image" data-skin="dark" data-toggle="m-tooltip" data-placement="top" title="Revealed by <%= app.revealed_by %> . ">
                      <%= image_tag "v2/merchant/icons/component_1.svg"%>
                    </div>
<!--                    <div class="mt-2 copy_image ml-2">-->
<!--                      <a href="#" data-skin="dark" data-toggle="m-tooltip" data-placement="top" title="" data-original-title="Click to Copy" class="cutom_tootltip1 copy_api_key_1 pl-2"><%#= image_tag "v2/merchant/icons/component.svg" , class: "app_secret"  %></a>-->
<!--                    </div>-->
                      <a data-skin="dark" data-toggle="m-tooltip" data-placement="top" title="" data-original-title="Click to Copy" class="cutom_tootltip1 copy_api_key_1 ml-9 pl-2 copy_image"><%= image_tag "v2/merchant/icons/component.svg" , class: "app_secret"  %></a>
                    </div>
                  </div>
<!--                    <div class="mt-3">-->
<!--                      <a class="btn btn-default hide_key_button  btn-invoice-cancel">Hide Key</a>-->

<!--                    </div>-->
                  <a class="btn btn-default hide_key_button  btn-invoice-cancel">Hide Key</a>
                </div>
              </div>
            </div>

          </div>
          <div class="col-lg-2">
            <div class="text-right normal-custom-text pr-20 flex-end">
<!--            <div class="text-right mt-4 normal-custom-text">-->
              <% if cookies[:timezone].present? %>
                  <td ><%= app.created_at.in_time_zone(cookies[:timezone]).strftime("%m-%d-%Y at %I:%M:%S %p")%></td>
              <%else %>
                <span class="timeUtc"><%= app.created_at.strftime("%m-%d-%Y  at %I:%M:%S %p")%></span>
              <% end %>
              <!-- <p class="timeUtc"><%= app.created_at.strftime("%m/%d/%Y at %I:%M%p")%></p> -->
            </div>
          </div>
        </div>
      </div>
      <%end%>
    </div>

  </div>
  <div class="business_settings_section mt-4">
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12">
        <div class="text-left standard_key_text">
          <p>Location Keys</p>
        </div>

      </div>
      <hr class="h-line ml-3 ">

      <div class="col-lg-12 col-md-12 col-sm-12">
        <div class="row">
          <div class="col-lg-10">
            <div class="row">
              <div class="col-lg-3">
                <div class="text-left custom-text pl-3">
                  <p>Location Name</p>
                </div>
              </div>
              <div class="col-lg-6">
                <div class="custom-text pl-3">
                  <p>Location Key</p>
                </div>
              </div>
            </div>

          </div>
          <div class="col-lg-2">
            <div class="text-right custom-text pr-20">
<!--            <div class="text-right custom-text">-->
              <p>Last used</p>
            </div>
          </div>
        </div>
      </div>

      <% @location_apps.each_with_index do |location_app,index| %>

      <% class_name = index.even? ? "public-keys" : "" %>

      <div class="col-lg-12 col-md-12 col-sm-12 <%= class_name %>">
        <div class="">
          <div class="row">
            <div class="col-lg-10">
              <div class="row">
                <div class="col-lg-3">
                  <div class="text-left normal-custom-text pl-3">
<!--                  <div class="text-left normal-custom-text mt-4 pl-3">-->
                    <p><%= location_app.business_name %></p>
                  </div>
                </div>
                <div class="col-lg-6">
                  <div class="row">
                    <div class="col-lg-4">
                      <div class="normal-custom-text  pl-3">
<!--                      <div class="normal-custom-text mt-4 pl-3">-->
                        <p class="seq_id-<%=location_app.id %>"><%= location_app.location_secure_token %></p>
                      </div>
                    </div>
                    <div class="col-lg-2">
                      <div class="mt-2">
                        <a data-skin="dark" data-toggle="m-tooltip" data-placement="top" title="" data-original-title="Click to Copy" class="cutom_tootltip1 copy_api_key_1"><%= image_tag "v2/merchant/icons/component.svg" , id:"seq_id-#{location_app.id}", class: "seq_id"  %></a>
                      </div>
                    </div>
                  </div>

                </div>
              </div>

            </div>
            <div class="col-lg-2">
              <div class="text-right normal-custom-text">
<!--              <div class="text-right mt-3 normal-custom-text">-->
              	<%# transaction = Transaction.where('sender_wallet_id =? OR receiver_wallet_id =?', location_app.wallets.primary.ids,location_app.wallets.primary.ids).where(status: ["approved", "refunded", "complete","CBK Won", "Chargeback", "cbk_fee"]).last
  			        %>
                <% transaction = BlockTransaction.where('sender_wallet_id =? OR receiver_wallet_id =?', location_app.wallets.primary.ids,location_app.wallets.primary.ids).where(status: ["approved"]).last
                %>
  			        <% if transaction.present? %>
                  <p><%= transaction.merchant_name %><br>
                    <% if cookies[:timezone].present? %>
                        <td ><%= transaction.created_at.in_time_zone(cookies[:timezone]).strftime("%m-%d-%Y %I:%M:%S %p")%></td>
                    <%else %>
                      <span class="timeUtc"><%= transaction.created_at.strftime("%m-%d-%Y %I:%M:%S %p")%></span>
                    <% end %>
                    <!-- <span class="timeUtc"><%= transaction.created_at.strftime("%m/%d/%Y at %I:%M%p")%></span></p> -->
                <%end%>
              </div>
            </div>
          </div>
        </div>
      </div>
      <%end%>
    </div>

  </div>
</div>