<% if reports.present? && reports.size > 0 %>
  <% reports.each do |t| %>
    <tr>
      <% if primary_wallet %>
        <td class="timeUtc"> <%= t.created_at.strftime("%Y-%m-%d %H:%M:%S %z") %></td>
      <% else %>
        <td class="timeUtc"> <%= t.timestamp.strftime("%Y-%m-%d %H:%M:%S %z") %></td>
      <% end %>
      <!--<td class="onlyTime"> <%#= t[:timestamp].strftime("%H:%M:%S %z") %></td>-->
      <td><%= t.main_type %></td>
      <% if t.main_type == "Giftcard" %>
        <% if t.sender_wallet_id.present? %>
          <td>***<%= t.sender_wallet_id[-4..-1] %></td>
        <%end%>
      <%else%>
        <td><%= t.sender_wallet_id.nil? ? "N/A" : get_report_source(t) %></td>
      <%end%>
      <td>
        <%= t.receiver_wallet_id %>
      </td>
      <td>
        <%= t.last4 %>
      </td>
      <td>
        <%= t.tags.try(:[], "sales_info").try(:[], "terminal_id") || "---" %>
      </td>
      <td><%= t.try(:card).try(:card_type).try(:capitalize) %></td>
      <td><%= t.try(:card).try(:brand).try(:capitalize) %></td>
      <% if primary_wallet %>
        <td>$<%= number_with_precision(t.total_amount.to_f, precision: 2, delimiter: ',')  %></td>
        <td>$<%= number_with_precision(t.amount.to_f, precision: 2, delimiter: ',')  %></td>
        <td>$<%= number_with_precision(t.privacy_fee.to_f, precision: 2, delimiter: ',')  %></td>
        <td>$<%= number_with_precision(t.tip.to_f, precision: 2, delimiter: ',')  %></td>
        <td>$<%= number_with_precision(t.fee.to_f, precision: 2, delimiter: ',')   %></td>
        <td>$<%= number_with_precision(t.net_fee.to_f, precision: 2, delimiter: ',')   %></td>
        <td>$<%= number_with_precision(t.total_amount.to_f - t.tip.to_f - t.fee.to_f, precision: 2, delimiter: ',')  %></td>
        <td>$<%= number_with_precision(t.reserve_money.to_f, precision: 2, delimiter: ',')  %></td>
      <% else %>
        <td>$<%= number_with_precision(SequenceLib.dollars(t.parent_amount), precision: 2, delimiter: ',')  %></td>
        <td>$<%= number_with_precision(SequenceLib.dollars(t.amount_in_cents), precision: 2, delimiter: ',')  %></td>
      <% end %>
    </tr>
  <% end %>
<% end %>
<script>
  var lt= $('.timeUtc').each(function (i,v) {
  var gmtDateTime = moment.utc(v.innerText,'YYYY-MM-DD HH:mm:ss');
  var local = moment(gmtDateTime).local().format('MM/DD/YYYY hh:mm:ss A');
  v.innerText = local
  });
</script>