<div class="modal fade" id="maintenanceModal">
  <div class="modal-dialog maintenence_width" >
    <div class="modal-content maintenence_width">
      <div class="modal-header text-left bg-primary text-white">
        <h4 class="modal-title"><i class="fa fa-money"></i><span class="ml-2">System Maintenance</span></h4>
        <button type="button" data-dismiss = "modal" class="close">&times;</button>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="card-header bordered">
            <div class="card-body">
              <p><strong class="maintenance_span_size"><i>*** Due to system maintenance, the Run Report function is not available at this time. As an alternative, please use Export function to view your reports. ***</i></strong></p>
              <p id="border_top"><strong><hr/></strong></p>
              <p id="font_large"><u> Instructions for Export: </u></p>
              <p>
                1. Select Wallet <br/>
                2. Select Date Range <br/>
                3. Click "Export" Button <br/>
                (Optional) <br/>
                4. Click on the email button to be notified when the file is ready to be downloaded. <br/>
                5. Open your email and click on 'Click here to download file' and the report should automatically download to your computer.<br/>
              </p>
              <p class="pull-right"><strong class="maintenance_span_size"> - Sorry for the inconvenience, Greenbox Support. <br/></strong></p>
            </div>
          </div>
        </div>
      </div>
    </div>
</div>
</div>