<% if reports.present? && reports.size > 0 %>
  <% reports.each do |t| %>
    <tr>
      <td class="timeUtc"> <%= t[:timestamp].strftime("%Y-%m-%d %H:%M:%S %z") %></td>
      <!--<td class="onlyTime"> <%#= t[:timestamp].strftime("%H:%M:%S %z") %></td>-->
      <% if t[:reference]["type"] == "Giftcard" %>
        <% if t[:source].present? %>
          <td>***<%= t[:source][-4..-1] %></td>
        <%end%>
      <%else%>
        <td><%= t[:source].nil? ? "N/A":t[:source] %></td>
      <%end%>
      <td>
        <% if t[:reference]["type"] == "Giftcard" %>
          Giftcard
        <% else %>
          <%= wallet_name(t[:source]) %>
        <% end %>
      </td>
      <td>
        <% if t[:reference]["type"] == "Giftcard" %>
          N/A
        <%	else  %>
          <%= wallet_phone_number(t[:source]) %>
        <% end %>
      </td>
      <% if primary_wallet %>
        <td>$<%= number_with_precision(t[:amount_updated], precision: 2, delimiter: ',')  %></td>
        <td>$<%= number_with_precision(t[:fee_without_hold_money], precision: 2, delimiter: ',')   %></td>
        <td>$<%= number_with_precision(t[:privacy_fee], precision: 2, delimiter: ',')  %></td>
        <td>$<%= number_with_precision(t[:hold_money], precision: 2, delimiter: ',')  %></td>
        <td>$<%= number_with_precision(t[:net], precision: 2, delimiter: ',')  %>
        <td>$<%= number_with_precision(t[:tip], precision: 2, delimiter: ',')  %></td>
      <% else %>
        <td>$<%= number_with_precision(t[:merchant_amount], precision: 2, delimiter: ',')  %></td>
        <td>$<%= number_with_precision(t[:amount_updated], precision: 2, delimiter: ',')  %></td>
      <% end %>
      </td>
    </tr>
  <% end %>
<% end %>