<%= render partial: 'merchant/shared/disable_modal' %>
      <div class="box">
            <div class="box-header with-border">
            <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="row">
            <div class="col-md-6 col-sm-6 col-xs-6">
              <h3 class="box-title"><%= @heading %></h3>
              </div>
              <div class="col-md-6 col-sm-6 col-xs-6 text-right">
<!--           <a href="#reports" data-toggle="collapse" aria-expanded="false" aria-controls="reports" class="btn btn-outline-secondary btn-sm"><i class="icon-magnifier icons"></i> Summary Report</a> -->
                </div> 
            </div>
            </div>
            </div>
     <div class="box-body">
      <div class="">
       <div class="">
        <div class="">
          <div class="">
            <div class="">
              <%= form_tag checks_report_merchant_reports_path, method: :get  do  %>
                  <div class="mb-3" id="reports">
                    <div class="">
                      <div class="row">
                        <div class="form-group col-md-3">
                          <label for="id">Wallet</label>
                          <% if @wallet.size != 1 %>
                            <%=	select_tag 'wallet_id', options_for_select(@wallet.map{|v|[v.name,v.id]}, @wallet.select{|c| c.id == params[:wallet_id].to_i}.map{|v| [v.name,v.id]}.first), include_blank: "Select Your Wallet",class: "form-control" %>
                          <% else %>
                            <%=	select_tag 'wallet_id', options_for_select(@wallet.map{|v|[v.name,v.id]}, @wallet.select{|c| c.id == params[:wallet_id].to_i}.map{|v| [v.name,v.id]}.first),class: "form-control" %>
                          <% end %>
                        </div>
                        <div class="form-group col-md-3">
                          <label for="id">Date</label>
                          <input type='text' name="query[date]"  id="date-value" class="form-control" autocomplete="off" value="<%= params[:query]["date"] if params[:query].present? %>" />
                        </div>
                        <div class="form-group col-md-3">
                          <label for="id">Send Via</label>
                          <select name="query[send_via]" class="form-control">
                            <% if params[:query].present? && params[:query][:send_via] == "all" %>
                                <option value="all" selected>All</option>
                            <% else %>
                                <option value="all">All</option>
                            <% end %>
                            <% if params[:query].present? && params[:query][:send_via] == "direct_deposit" %>
                                <option value="direct_deposit" selected>Direct Deposit</option>
                            <% else %>
                                <option value="direct_deposit">Direct Deposit</option>
                            <% end %>
                            <% if params[:query].present? && params[:query][:send_via] == "email" %>
                                <option value="email" selected>Email</option>
                            <% else %>
                                <option value="email">Email</option>
                            <% end %>
                          </select>
                        </div>
                        <div class="col-md-3">
                          <% if ENV['DISABLE_REPORT'].present? && ENV['DISABLE_REPORT'] == "true" %>
                            <button type="button" class="btn btn-success btn-sm run_report_margin" data-toggle="modal" data-target="#disabled_modal" >Run
                              Report
                            </button>
                          <% else %>
                            <%= submit_tag "Run Report", class: "btn btn-success btn-sm", id: "rep-12", style: "margin-top:35px;" %>
                          <% end %>

<!--                          <button id="rep-12" type="submit" class="btn btn-success btn-sm run_report" style="margin-top:35px;">Run Report</button>-->
<!--                          <a data-toggle="modal" id="exportClass" data-wallet="<%#= params[:wallet_ids] %>" data-date="<%#= params[:query].try(:[], :date) %>" data-type="retire" class="exportReport" href="#exportModalDialog"><button type="button" class="btn btn-sm btn-success" style="margin-top:35px"><i class="fa fa-file"></i> Export</button></a>-->
                        </div>
                      </div>
                    </div>
                  </div>
              <% end  %>
              <div class="well well-sum hide_default" style="display: none;">
                <div class="row">
                  <div class="col-md-3">
                    <div class="card card-widget-info text-center">
                      <div class="card-block">
                        <div class="widget-title">Total Checks</div>
                        <div class="result"><%= @count.nil? ? 0:@count.count %></div>
                        <!--<div class="widget-link"><a href="#">Go to management</a></div>-->
                      </div>
                    </div>
                  </div>
                  <div class="col-md-3">
                    <div class="card card-widget-warning text-center">
                      <div class="card-block">
                        <div class="widget-title">Total Send</div>
                        <div class="result"><%= number_with_precision(number_to_currency(@total_after_fee.to_f), precision: 2, delimiter: ',') %></div>
                        <!--<div class="widget-link"><a href="#">Go to management</a></div>-->
                      </div>
                    </div>
                  </div>
                  <div class="col-md-3">
                    <div class="card card-widget-success text-center">
                      <div class="card-block">
                        <div class="widget-title">Total Fee</div>
                        <div class="result"><%= number_with_precision(number_to_currency(@total_fee.to_f), precision: 2, delimiter: ',') %></div>
                        <!--<div class="widget-link"><a href="#">Go to management</a></div>-->
                      </div>
                    </div>
                  </div>
                  <div class="col-md-3">
                    <div class="card card-widget-success text-center">
                      <div class="card-block">
                        <div class="widget-title">Total With Fee</div>
                          <div class="result"><%= number_with_precision(number_to_currency(@total_amount.to_f), precision: 2, delimiter: ',') %></div>
                        <!--<div class="widget-link"><a href="#">Go to management</a></div>-->
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="hide_default" style="display: none;">
                <%	if @user_wallet.present? %>
                  <div class="bold-font wallet">
                    <span style="font-size:20px">Wallet: <%= @user_wallet.name %></span>
                  </div>
                <% end %>

                <div>
                <div class="table-responsive">
                  <table id="transaction" class="table table-striped">
                    <thead>
                    <th>Date/Time</th>
                    <th>Send Via</th>
                    <th>Name</th>
                    <th>Email</th>
                    <th>A/C Last 4</th>
                    <th>Total Send</th>
                    <th>Fee</th>
                    <th>Total With Fee</th>
                    </thead>
                    <% if @total_amount.present? || @total_after_fee.present? || @total_fee_amount.present? %>
                        <tfoot>
                        <tr>
                          <td class="bold-font">Totals</td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td class="bold-font"><%= number_with_precision(number_to_currency(@total_after_fee), precision: 2, delimiter: ',') if @total_after_fee.present? %></td>
                          <td class="bold-font"><%= number_with_precision(number_to_currency(@total_fee), precision: 2, delimiter: ',') if @total_fee.present? %></td>
                          <td class="bold-font"><%= number_with_precision(@total_amount, precision: 2, delimiter: ',')  if @total_amount.present? %></td>
                        </tr>
                        </tfoot>
                    <% end %>
                    <tbody>
                      <%= render partial: "merchant/reports/local_checks_report", locals: {reports: @reports} %>
                    </tbody>
                  </table>
                </div>
                </div>
              </div>


            </div>
          </div>
        </div>
        <!--<div class="card-footer text-right">-->
          <!--<div class="row">-->
            <!--<div class="col-md-11 "><%#= will_paginate @reports, renderer: BootstrapPagination::Rails if @reports.present? %></div>-->
          <!--</div>-->
        <!--</div>-->
      </div>
</div>
</div>
</div>
      <!-- The export Modal starts -->
      <%= render partial: 'merchant/transactions/export_modal' %>
      <!-- The export Modal ends -->
<section id="custom_modal"></section>
<script>

    $(document).ready(function () {
        // $('.run_report').click(function () {
        //     $('.spnr').fadeIn();
        // });
        // $('.export_btn').click(function () {
        //     $('.spnr').fadeIn(2000).fadeOut("slow");
        // });
        $('.pagination').find('li').find('a').click(function () {
            $('.spnr').fadeIn();
        });

        var verify = '<%= params[:query].present?%>';
        if(verify == "false"){
            $('.hide_default').css('display', 'none');
        }else{
            $('.hide_default').css('display', 'block');
        }
        $('#transaction').DataTable({
//           responsive: true,
            language : {
                sLengthMenu: "Show _MENU_"
            }
        });
        $('.form-inline').css('display','inherit');
        var nowDate = new Date();
        var newdate = (nowDate.setDate(nowDate.getDate() - 1));
        var nd = new Date(newdate);
        <% if params[:query].try(:[], "date").present? %>
          $('input[name="query[date]"]').daterangepicker({
              "maxSpan": {"month": 1}
          });
        <% else %>
          $('input[name="query[date]"]').daterangepicker({
              "maxSpan": {"month": 1},
              "startDate": nd,
              "maxDate": nd
          });
        <% end %>
        $('select[name=transaction_length]').addClass('ml-2');
        $('.datepicker').datepicker({
            format: 'mm-dd-yyyy'
        });

        if($("#wallet_id").val() == ""){
            $("#rep-12").prop("disabled", true);
            $(".exportReport button").prop("disabled", true);
        }

    });

    var lt= $('.timeUtc').each(function (i,v) {
        var gmtDateTime = moment.utc(v.innerText,'YYYY-MM-DD HH:mm:ss');
        var local = moment(gmtDateTime).local().format('MM/DD/YYYY hh:mm:ss A');
        v.innerText = local
    });

    // set values in export button start
    $(".exportReport").data('wallet', $("#wallet_id").val());
    <% if params[:query].try(:[], :date).blank? %>
      $(".exportReport").data('date', $("#date-value").val());
    <% end %>
    // set values in export button end

    $("#wallet_id").on("change", function () {
        $(".exportReport").data('wallet', $("#wallet_id").val());
        if($("#wallet_id").val() == ""){
            $("#rep-12").prop("disabled", true);
            $(".exportReport button").prop("disabled", true);
        }
        else{
            $(".exportReport button").prop("disabled", false);
            $("#rep-12").prop("disabled", false);
        }
    });

    $("#date-value").on('change', function () {
        <% if params[:query].try(:[], :date).blank? %>
          $(".exportReport").data('date', $("#date-value").val());
        <% end %>
    })


</script>