<div class="box">
            <div class="box-header with-border">
            <div class="col-md-12">
            <div class="row">
            <div class="col-md-6">
              <h3 class="box-title"><%= @heading %></h3>
              </div>
              <div class="col-md-6">
                </div> 
            </div>
            </div>
            </div>
            <div class="box-body">
            <div class="">
              <%= form_tag close_batch_report_merchant_reports_path, method: :get  do  %>
                  <div class="mb-3" id="reports">
                    <div class="">
                      <div class="row">
                        <!-- <div class="col-md-12"> -->
                          <!-- <h5>Generate Report</h5> -->
                        <!-- </div> -->
                        <div class="form-group col-md-3">
                          <label for="id">Wallet</label>
                          <% if @wallet.size != 1 %>
                              <%=	select_tag 'wallet_id', options_for_select(@wallet.map{|v|[v.name,v.id]}, @wallet.select{|c| c.id == params[:wallet_id].to_i}.map{|v| [v.name,v.id]}.first), include_blank: "Select Your Wallet",class: "form-control" %>
                          <% else %>
                              <%=	select_tag 'wallet_id', options_for_select(@wallet.map{|v|[v.name,v.id]}, @wallet.select{|c| c.id == params[:wallet_id].to_i}.map{|v| [v.name,v.id]}.first),class: "form-control" %>
                          <% end %>
                              <!--<input type="text" name="query[wallet]" value="" id="sender" class="form-control" placeholder="Wallet"  />-->
                        </div>
                        <div class="form-group col-md-3">
                          <label for="id">Date</label>
                          <input type='text' name="query[date]"  id="id" class="form-control" value="<%= params[:query][:date] if params[:query].present? %>" />
                        </div>
                        <div class="col-md-3">
                          <button id="rep-12" type="submit" class="btn btn-success btn-sm run_report_margin">Run Report</button>
                        </div>
                      </div>
                    </div>
                  </div>
              <% end  %>
              <div class="hide_default">
                <%	if @user_wallet.present? %>
                    <div class="bold-font wallet">
                      <span class="wallet_name">Wallet: <%= @user_wallet.name %></span>
                      <span class="pull-right">
                        <%=	 link_to "Export to excel", export_close_batch_report_merchant_reports_path(format: "xlsx", wallet: params[:wallet_id] ,date: params[:query][:date]), class: "btn btn-sm btn-primary" %>
                      </span>
                    </div>
                <% end %>
                <div>
                <div class="table-responsive">
                  <table id="transaction" class="table table-striped ">
                    <thead>
                    <th>Date</th>
                    <th>Close Time</th>
                    <th>Total Transactions</th>
                    <th>Total Sales(after fee)</th>
                    </thead>
                    <% if @total_sales.present? || @total_transactions.present? %>
                        <tfoot>
                        <tr>
                          <td class="bold-font">Totals</td>
                          <td></td>
                          <td class="bold-font"><%= @total_transactions if @total_transactions.present? %></td>
                          <td class="bold-font"><%= number_with_precision(number_to_currency(@total_sales), precision: 2) if @total_sales.present? %></td>
                        </tr>
                        </tfoot>
                    <% end %>
                    <tbody>

                    <% if @close_batch.present? && @close_batch.size > 0 %>
                        <% @close_batch.each do |t| %>
                            <tr>
                              <td><%= t.close_date.strftime("%m/%d/%Y") if t.close_date.present? %></td>
                              <td class="timeUtc"><%= t.close_time.strftime("%H:%M %z") if t.close_time.present? %></td>
                              <td>
                                <%= t.total_transactions %>
                              </td>
                              <td>
                                <%= number_to_currency(t.total_sales) %>
                              </td>
                            </tr>
                        <% end %>
                    <% end %>

                    </tbody>
                  </table>
                  </div>
                </div>
              </div>
              </div>
              </div>
              </div>


<section id="custom_modal"></section>
<script>

    $(document).ready(function () {
        var verify = '<%= params[:query].present?%>';
        if(verify == "false"){
            $('.hide_default').css('display', 'none');
        }else{
            $('.hide_default').css('display', 'block');
        }
        $('#transaction').DataTable({
//           responsive: true,
            language : {
                sLengthMenu: "Show _MENU_"
            }
        });
        $('.form-inline').css('display','inherit');
        $('input[name="query[date]"]').daterangepicker({"maxSpan": {"month": 1}});
        $('select[name=transaction_length]').addClass('ml-2');
        $('.datepicker').datepicker({
            format: 'mm-dd-yyyy'
        });

        var lt= $('.timeUtc').each(function (i,v) {
            var gmtDateTime = moment.utc(v.innerText,'HH:mm A');
            var local = moment(gmtDateTime).local().format('hh:mm A');
            v.innerText = local

        });

//        jQuery(function() {
//            var tz = jstz.determine();
//            document.cookie = "timezone="+tz.name();
//        });
        if($("#wallet_id").val() == ""){
            $("#rep-12").prop("disabled", true);
        }

    });

    $("#wallet_id").on("change", function () {
        if($("#wallet_id").val() == ""){
            $("#rep-12").prop("disabled", true);
        }
        else{
            $("#rep-12").prop("disabled", false);
        }
    });

</script>