<%= render partial: 'merchant/shared/disable_modal' %>
<div class="box">
  <div class="box-header with-border">
    <div class="col-md-12">
      <div class="row">
        <div class="col-md-6">
          <h3 class="box-title"><%= @heading %></h3>
        </div>
        <div class="col-md-6">
        </div>
      </div>
    </div>
  </div>
  <div class="box-body">
    <div class="">
      <%= form_tag gift_cards_report_merchant_reports_path, method: :get  do  %>
        <div class="mb-3" id="reports">
          <div class="">
            <div class="row">
              <div class="form-group col-md-3">
                <label for="id">Wallet</label>
                <% if @wallet.size != 1 %>
                  <%=	select_tag 'wallet_id', options_for_select(@wallet.map{|v|[v.name,v.id]}, @wallet.select{|c| c.id == params[:wallet_id].to_i}.map{|v| [v.name,v.id]}.first), include_blank: "Select Your Wallet", class: "form-control" %>
                <% else %>
                  <%=	select_tag 'wallet_id', options_for_select(@wallet.map{|v|[v.name,v.id]}, @wallet.select{|c| c.id == params[:wallet_id].to_i}.map{|v| [v.name,v.id]}.first),class: "form-control" %>
                <% end %>
              </div>
              <div class="form-group col-md-3">
                <label for="id">Date</label>
                <input type='text' name="query[date]" autocomplete="off"  id="date-value" class="form-control" value="<%= params[:query][:date] if params[:query].present? %>" />
              </div>
              <div class="col-md-3">
                <% if ENV['DISABLE_REPORT'].present? && ENV['DISABLE_REPORT'] == "true" %>
                  <button type="button" class="btn btn-success btn-sm run_report_margin" data-toggle="modal" data-target="#disabled_modal">Run
                    Report
                  </button>
                <% else %>
                  <button id="rep-12" type="submit" class="btn btn-success btn-sm run_report run_report_margin">Run Report</button>
                <% end %>
<!--                <a data-toggle="modal" id="exportClass" data-wallet="<%#= params[:wallet_ids] %>" data-date="<%#= params[:query].try(:[], :date) %>" data-type="giftcard" class="exportReport" href="#exportModalDialog"><button type="button" class="btn btn-sm btn-success" style="margin-top:35px"><i class="fa fa-file"></i> Export</button></a>-->
              </div>
            </div>
          </div>
        </div>
      <% end  %>
      <div class="well well-sum hide_default well_display">
        <div class="row">
          <div class="col-md-3">
            <div class="card card-widget-info text-center">
              <div class="card-block">
                <div class="widget-title">Total Gift Cards</div>
                <div class="result"><%= @giftcards.nil? ? 0:@giftcards.count %></div>
                <!--<div class="widget-link"><a href="#">Go to management</a></div>-->
              </div>
            </div>
          </div>
          <div class="col-md-3">
            <div class="card card-widget-warning text-center">
              <div class="card-block">
                <div class="widget-title">Total Send</div>
                <div class="result"><%= number_to_currency(@total_amount.to_f) %></div>
              </div>
            </div>
          </div>
          <div class="col-md-3">
            <div class="card card-widget-success text-center">
              <div class="card-block">
                <div class="widget-title">Total Fee</div>
                <div class="result"><%= number_to_currency(@total_fee.to_f) %></div>
                <!--<div class="widget-link"><a href="#">Go to management</a></div>-->
              </div>
            </div>
          </div>
          <div class="col-md-3">
            <div class="card card-widget-success text-center">
              <div class="card-block">
                <div class="widget-title">Total With Fee</div>
                <div class="result"><%= number_to_currency(@total_amount.to_f  + @total_fee.to_f) %></div>
                <!--<div class="widget-link"><a href="#">Go to management</a></div>-->
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="hide_default" id="display_none">
        <%	if @user_wallet.present? %>
          <div class="bold-font wallet">
            <span id="wallet_font_size">Wallet: <%= @user_wallet.name %></span>
          </div>
        <% end %>

        <div class="table-responsive">
          <table id="transaction" class="table table-striped">
            <thead>
            <th>Date/Time</th>
            <th>Gift Card Name</th>
            <th>Send to</th>
            <th>UTID</th>
            <th>Total Send</th>
            <th>Fee</th>
            <th>Total With Fee</th>
            </thead>
            <% if @total_amount.present? || @total_with_fee.present? || @total_fee.present? %>
              <tfoot>
              <tr>
                <td class="bold-font">Totals</td>
                <td></td>
                <td></td>
                <td></td>
                <td class="bold-font"><%= number_with_precision(number_to_currency(@total_amount), precision: 2) if @total_amount.present? %></td>
                <td class="bold-font"><%= number_with_precision(number_to_currency(@total_fee), precision: 2) if @total_fee.present? %></td>
                <td class="bold-font"><%= number_with_precision(number_to_currency(@total_with_fee), precision: 2) if @total_with_fee.present? %></td>
              </tr>
              </tfoot>
            <% end %>
            <tbody>
            <% if @giftcards.present? && @giftcards.size > 0 %>
              <% k =1 %>
              <% @giftcards.each do |t| %>
                <tr>
                  <td class="timeUtc"> <%= t.created_at.strftime("%Y-%m-%d %H:%M:%S %z") %></td>
                  <td><%= t.name %></td>
                  <td>
                    <%= t.recipient %>
                  </td>
                  <td>
                    <%= t.utid %>
                  </td>
                  <td><%= number_to_currency(t.amount) %></td>
                  <td>
                    <%= number_to_currency(t.gift_card_fee) %>
                  </td>
                  <td>
                    <%= number_to_currency(t.amount.to_f + t.gift_card_fee.to_f) %>
                  </td>
                </tr>
                <% k =k+1 %>
              <% end %>
            <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- The export Modal starts -->
<%= render partial: 'merchant/transactions/export_modal' %>
<!-- The export Modal ends -->
<section id="custom_modal"></section>
<script>

    $(document).ready(function () {
        $('.run_report').click(function () {
            $('.spnr').fadeIn();
        });
        $('.export_btn').click(function () {
            $('.spnr').fadeIn(2000).fadeOut("slow");
        });
        $('.pagination').find('li').find('a').click(function () {
            $('.spnr').fadeIn();
        });

        var verify = '<%= params[:query].present?%>';
        if(verify == "false"){
            $('.hide_default').css('display', 'none');
        }else{
            $('.hide_default').css('display', 'block');
        }
        $('#transaction').DataTable({
//           responsive: true,
            language : {
                sLengthMenu: "Show _MENU_"
            }
        });
        $('.form-inline').css('display','inherit');
        var nowDate = new Date();
        var newdate = (nowDate.setDate(nowDate.getDate() - 1));
        var nd = new Date(newdate);
        $('input[name="query[date]"]').daterangepicker({
            "maxSpan": {"days": 31},
            "startDate": nd,
            "maxDate": nd
        });
        $('select[name=transaction_length]').addClass('ml-2');
        $('.datepicker').datepicker({
            format: 'mm-dd-yyyy'
        });

        if($("#wallet_id").val() == ""){
            $("#rep-12").prop("disabled", true);
            $(".exportReport button").prop("disabled", true);
        }

    });

    var lt= $('.timeUtc').each(function (i,v) {
        var gmtDateTime = moment.utc(v.innerText,'YYYY-MM-DD HH:mm:ss');
        var local = moment(gmtDateTime).local().format('MM/DD/YYYY hh:mm:ss A');
        v.innerText = local
    });

    // set values in export button start
    $(".exportReport").data('wallet', $("#wallet_id").val());
    $(".exportReport").data('date', $("#date-value").val());
    // set values in export button end

    $("#wallet_id").on("change", function () {
        $(".exportReport").data('wallet', $("#wallet_id").val());
        if($("#wallet_id").val() == ""){
            $("#rep-12").prop("disabled", true);
            $(".exportReport button").prop("disabled", true);
        }
        else{
            $(".exportReport button").prop("disabled", false);
            $("#rep-12").prop("disabled", false);
        }
    });

    $("#date-value").on('change', function () {
        $(".exportReport").data('date', $("#date-value").val());
    })


</script>