<%= render partial: 'merchant/shared/disable_modal' %>
<div class="box">
  <div class="box-header with-border">
    <div class="col-md-12">
      <div class="row">
        <div class="col-md-6">
          <h3 class="box-title"><%= @heading %></h3>
        </div>
        <div class="col-md-6 text-right"></div>
      </div>
    </div>
  </div>
  <div class="box-body">
    <div class="">
      <div class="">
        <div class="">
          <div class="">
            <div class="">
              <%= form_tag merchant_reports_path, method: :get  do  %>
                <div class="mb-3" id="reports">
                  <div class="">
                    <div class="row">
                      <!-- <div class="col-md-12"> -->
                      <!-- <h5>Generate Report</h5> -->
                      <!-- </div -->
                      <div class="form-group col-md-2">
                        <label for="id">Location</label>
                        <%= select_tag 'location', options_for_select(@locations.map{|v| [v.business_name,v.id]}, selected: @locations.select{|c| c.id == params[:location].to_i}.map{|v| [v.business_name,v.id]}.first), include_blank: "Select your location", class: "form-control" %>
                      </div>
                      <div class="form-group col-md-2">
                        <label for="id">Wallet</label>
                        <%# if params[:location].present? %>
                        <%#=	select_tag 'wallet_id', options_for_select(@wallet.map{|v| v.wallet_type == 'tip'? [v.name+" - "+v.location.business_name,v.id]:[v.name,v.id]}, @wallet.select{|c| c.id == params[:wallet_id].to_i}.map{|v| [v.name,v.id]}.first),disabled: false, include_blank: "Select Your Wallet",class: "form-control" %>
                        <%# else %>
                        <% if params[:wallet_id].present? %>
                          <% wallet_id = Wallet.find(params[:wallet_id]) %>
                          <% @wallet = wallet_id.location.wallets %>
                          <%=	select_tag 'wallet_id', options_for_select(@wallet.map{|v| v.wallet_type == 'tip'? [v.name+" - "+v.location.business_name,v.id]:[v.name,v.id]}, @wallet.select{|c| c.id == params[:wallet_id].to_i}.map{|v| [v.name,v.id]}.first), include_blank: "Select Your Wallet",class: "form-control" %>
                        <% elsif @wallet.size != 1 %>
                          <%=	select_tag 'wallet_id', options_for_select(@wallet.map{|v| v.wallet_type == 'tip'? [v.name+" - "+v.location.business_name,v.id]:[v.name,v.id]}, @wallet.select{|c| c.id == params[:wallet_id].to_i}.map{|v| [v.name,v.id]}.first),disabled: true, include_blank: "Select Your Wallet",class: "form-control" %>
                        <% else %>
                          <%=	select_tag 'wallet_id', options_for_select(@wallet.map{|v| v.wallet_type == 'tip'? [v.name+" - "+v.location.business_name,v.id]:[v.name,v.id]}, @wallet.select{|c| c.id == params[:wallet_id].to_i}.map{|v| [v.name,v.id]}.first),disabled: true,class: "form-control" %>
                        <% end %>
                        <%# end %>
                      </div>
                      <div class="form-group col-md-2">
                        <label for="type">Status</label>
                        <%= select_tag 'status', options_for_select(["Approved", "Decline"], params[:status]), include_blank: "Select Status", class: "form-control", id: "status_value" %>
                      </div>
                      <div class="form-group col-md-2">
                        <label for="id">Date</label>
                        <input type='text' name="query[date]"  id="date-value" class="form-control" autocomplete="off" value="<%= params[:query][:date] if params[:query].present? %>" />
                      </div>
                      <div class="form-group col-md-2">
                        <!-- ## The button below is the actual functionality for Run Reports-->
                        <% if ENV['DISABLE_REPORT'].present? && ENV['DISABLE_REPORT'] == "true" %>
                          <button id="rep-12" type="button" class="btn btn-success btn-sm run_report_margin"  data-toggle="modal" data-target="#disabled_modal">Run Report</button>
                        <% else %>
                          <button id="rep-12" type="submit" class="btn btn-success btn-sm run_report run_report_margin">Run Report</button>
                        <% end %>


                        <!-- ## anchor used below just shows the modal for the maintenance message.-->
                        <!--                          <a data-toggle="modal" href="#maintenanceModal"><button type="button" class="btn btn-sm btn-success run_report_margin"> Run Report</button></a>-->
                        <!--                        <a data-toggle="modal" data-wallet="<%#= params[:wallet_id] %>" data-date="<%#= params[:query][:date] if params[:query].present? %>" data-status="<%#= params[:status] %>" data-type="transfer" class="exportReport" id="export_atag_button" href="#exportModalDialog"><button type="button" class="btn btn-sm btn-success run_report_margin"><i class="fa fa-file"></i> Export</button></a>-->
                      </div>
                    </div>
                  </div>
                </div>
              <% end  %>
              <div class="well well-sum hide_default" id="display_none">
                <div class="row">
                  <div class="col-md-3">
                    <div class="card card-widget-info text-center">
                      <div class="card-block">
                        <div class="widget-title">Total transactions</div>
                        <div class="result"><%= @count || 0 %></div>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-3">
                    <div class="card card-widget-warning text-center">
                      <div class="card-block">
                        <% if @primary_wallet %>
                          <div class="widget-title">Total Sales</div>
                          <div class="result"><%= number_with_precision(number_to_currency(@totals.present? ? @totals.first[0].to_f : 0), precision: 2, delimiter: ',') %></div>
                        <% end %>
                        <% if @reserve_wallet || @tip_wallet %>
                          <div class="widget-title">Total Sales</div>
                          <div class="result"><%= number_with_precision(number_to_currency(@total_merchant_amount.to_f), precision: 2, delimiter: ',') %></div>
                        <% end %>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-3">
                    <div class="card card-widget-success text-center">
                      <div class="card-block">
                        <% if @primary_wallet %>
                          <div class="widget-title">Total Fee</div>
                          <div class="result"><%= number_with_precision(number_to_currency(@totals.present? ?  @totals.first[4].to_f : 0), precision: 2, delimiter: ',') %></div>
                        <% end %>
                        <% if @reserve_wallet %>
                          <div class="widget-title">Total Reserve</div>
                          <% unless @primary_wallet %>
                            <div class="result"><%= number_with_precision(number_to_currency(@totals.present? ? @totals.first[0].to_f/100 : 0), precision: 2, delimiter: ',') %></div>
                          <% else %>
                            <div class="result"><%= number_with_precision(number_to_currency(@totals.present? ? @totals.first[0].to_f : 0), precision: 2, delimiter: ',') %></div>
                          <% end %>
                        <% end %>
                        <% if @tip_wallet %>
                          <div class="widget-title">Total Tip</div>
                          <div class="result"><%= number_with_precision(number_to_currency(@totals.present? ? @totals.first[0].to_f : 0), precision: 2, delimiter: ',') %></div>
                        <% end %>
                      </div>
                    </div>
                  </div>
                  <% if @primary_wallet %>
                    <div class="col-md-3">
                      <div class="card card-widget-success text-center">
                        <div class="card-block">
                          <div class="widget-title">Total After Fee</div>
                          <%total_amount_tx = @totals.try(:first[0]).to_f - @totals.try(:first[3]).to_f - @totals.try(:first[4]).to_f %>
                          <div class="result"><%= number_with_precision(number_to_currency(@totals.present? ? total_amount_tx.to_f : 0), precision: 2, delimiter: ',')  %></div>
                        </div>
                      </div>
                    </div>
                  <% end %>
                </div>
              </div>
              <div class="hide_default" id="display_none">
                <%	if @user_wallet.present? %>
                  <div class="bold-font wallet">
                    <span class="wallet_name">Wallet: <%= @user_wallet %></span>
                    <div class="form-inline">
                      <input type="text" class="pull-right form-control m-input name search_in_text" autocomplete="false" readonly value="<%= params[:q] %>" placeholder="Search" name="search" id="search_field">
                    </div>
                  </div>
                <% end %>
                <div>
                  <div class="table-responsive">
                    <table id="transaction" class="table table-striped">
                      <thead>
                      <th>Date/Time</th>
                      <th>Type</th>
                      <!--<th>Time</th>-->
                      <th>Sender</th>
                      <th>Receiver</th>
                      <th>Last4</th>
                      <th>Terminal Id</th>
                      <th>Card Type</th>
                      <th>Card Brand</th>
                      <th>Total Amount</th>
                      <% if @primary_wallet %>
                        <th>Tx Amount</th>
                        <th>Privacy Fee</th>
                      <% end %>
                      <% if @primary_wallet || @tip_wallet %>
                        <th>Tip</th>
                        <% if @primary_wallet %>
                          <th>Fee</th>
                          <th>Net Fee</th>
                          <th>Total Net</th>
                        <% end %>
                      <% end %>
                      <% if @primary_wallet || @reserve_wallet %>
                        <th>Reserve</th>
                      <% end %>
                      </thead>
                      <% if @totals.present? %>
                        <tfoot>
                        <tr>
                          <td class="bold-font">Totals</td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <% if @primary_wallet %>
                            <%total_amount_tx = @totals.try(:first[0]).to_f - @totals.try(:first[3]).to_f - @totals.try(:first[4]).to_f %>
                            <td class="bold-font"><%= number_with_precision(number_to_currency(@totals.first[0].to_f), precision: 2, delimiter: ',') %></td>
                            <td class="bold-font"><%= number_with_precision(number_to_currency(@totals.first[1].to_f), precision: 2, delimiter: ',') %></td>
                            <td class="bold-font"><%= number_with_precision(number_to_currency(@totals.first[2].to_f), precision: 2, delimiter: ',')  %></td>
                            <td class="bold-font"><%= number_with_precision(number_to_currency(@totals.first[3].to_f), precision: 2, delimiter: ',') %></td>
                            <td class="bold-font"><%= number_with_precision(number_to_currency(@totals.first[4].to_f), precision: 2, delimiter: ',')  %></td>
                            <td class="bold-font"><%= number_with_precision(number_to_currency(@totals.first[5].to_f), precision: 2, delimiter: ',')  %></td>
                            <td class="bold-font"><%= number_with_precision(number_to_currency(total_amount_tx), precision: 2, delimiter: ',')  %></td>
                            <td class="bold-font"><%= number_with_precision(number_to_currency(@totals.first[7].to_f), precision: 2, delimiter: ',')  %></td>
                          <% end %>
                          <% if @reserve_wallet || @tip_wallet %>
                            <td class="bold-font"><%= number_with_precision(number_to_currency(@total_merchant_amount.to_f), precision: 2, delimiter: ',')  %></td>
                            <td class="bold-font"><%= number_with_precision(number_to_currency(@totals.first[0].to_f/100), precision: 2, delimiter: ',') %></td>
                          <% end %>
                        </tr>
                        </tfoot>
                      <% end %>
                      <tbody id="table-body">
                      <%= render partial: "merchant/reports/local_sales_report", locals: {reports: @reports, primary_wallet: @primary_wallet} %>
                      </tbody>
                    </table>
                    <div id="paginator">
                      <% if @reports.present? %>
                        <span id="showing_left">Showing <%=@reports.try(:count)%> of <%=@reports.try(:total_count) if @reports.present? %> records</span>
                        <%= paginate @reports, :theme => 'twitter-bootstrap-3', remote: true, :pagination_class => "pagination-small pagination-centered pull-right padd" %>
                      <% end %>
                    </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<%= render partial: 'merchant/transactions/export_modal' %>
<!-- The export Modal ends -->
<section id="custom_modal"></section>

<script>
    $('#search_field').focusin(function () {
        $(this).removeAttr('readonly');
    })
    $(document).ready(function () {
        var globalTimeout = null;
        $('#search_field').on('keyup change',function () {
            if (globalTimeout != null) {
                clearTimeout(globalTimeout);
            }
            globalTimeout = setTimeout(function() {
                globalTimeout = null;
                data = $('#search_field').val();
                loc_id = $('#location').val();
                date = $('#date-value').val();
                wallet_id = $('#wallet_id').val();
                status_value = $('#status_value').val();
                $.ajax({
                    type: 'GET',
                    url: "/merchant/reports",
                    data: {q: data, query: date, location: loc_id, wallet_id: wallet_id, status: status_value}
                });
            }, 1000);
        });

        $('.run_report').click(function () {
            $('.spnr').fadeIn();
        });
        $('.export_btn').click(function () {
            $('.spnr').fadeIn(2000).fadeOut("slow");
        });

        var verify = '<%= params[:query].present?%>';
        if(verify == "false"){
            $('.hide_default').css('display', 'none');
        }else{
            $('.hide_default').css('display', 'block');
        }

        $('#transaction').DataTable({
//           responsive: true,
            paginate: false,
            searching: false,
            bInfo: false,
            language : {
                sLengthMenu: "Show _MENU_"
            },
            "order": [[ 0, "desc" ]],
            "buttons": ['copy', 'csv', 'excel', 'pdf', 'print'],
        });
        $('.form-inline').css('display','inherit');
        var nowDate = new Date();
        var newdate = (nowDate.setDate(nowDate.getDate() - 1));
        var nd = new Date(newdate);
        <% if params[:query].try(:[], :date).present? %>
        $('input[name="query[date]"]').daterangepicker({
            "maxSpan": {"month": 1}
        });
        <% else %>
        $('input[name="query[date]"]').daterangepicker({
            "maxSpan": {"month": 1},
            "startDate": nd,
            "maxDate": nd
        });
        <% end %>
        $('select[name=transaction_length]').addClass('ml-2');

        if($("#wallet_id").val() == ""){
            $(".exportReport button").prop("disabled", true);
            $("#rep-12").prop("disabled", true);
        }
        <% if params[:wallet_id].present? %>
        $(".exportReport button").prop("disabled", false);
        <% end %>

        var val = $('#location').val();

    });
    $("#location").change(function () {
        $('.spnr').fadeIn();
        var val = $('#location').val();
        jQuery.getJSON('/merchant/reports/get_wallets?id='+val,function (data) {
            if (data != null) {
                $("#wallet_id").prop("disabled", false);
                $('#wallet_id option').remove();
                data.forEach(function (index) {
                    $('#wallet_id').append('<option value=' + '"' + index.id + '"' + '>' + index.name + '</option>');
                });
                $('#wallet_id option:first').attr('selected', 'selected');
                $(".exportReport button").prop("disabled", false);
                $("#rep-12").prop("disabled", false);
                $(".exportReport").data('wallet', data[0].id);
            } else {
                $("#wallet_id").prop("disabled", true);
                $('#wallet_id option').remove();
                $('#wallet_id').append('<option value="">Select Your Wallet</option>');
                $(".exportReport button").prop("disabled", true);
                $("#rep-12").prop("disabled", true);
            }
        }).done(function() {
            $('.spnr').fadeOut("slow");
        });

    });


    // set values in export button start
    $(".exportReport").data('wallet', $("#wallet_id").val());
    <% if params[:query].try(:[], :date).blank? %>
    $(".exportReport").data('date', $("#date-value").val());
    <% end %>
    // set values in export button end

    $("#wallet_id").on("change", function () {
        $(".exportReport").data('wallet', $("#wallet_id").val());
        if($("#wallet_id").val() == ""){
            $("#rep-12").prop("disabled", true);
            $(".exportReport button").prop("disabled", true);
        }
        else{
            $(".exportReport button").prop("disabled", false);
            $("#rep-12").prop("disabled", false);
        }
    });

    $("#date-value").on('change', function () {
        <% if params[:query].try(:[], :date).blank? %>
        $(".exportReport").data('date', $("#date-value").val());
        <% end %>
    })

    $("#status_value").on('change', function () {
        $(".exportReport").data('status', $(this).val());
    })

</script>