//$('#transaction').html("#{escape_javascript(render 'local_sales_report')}");
$('#table-body').html('').html('<%= j render partial: 'local_sales_report', locals:{reports: @reports , primary_wallet: @primary_wallet,totals: @totals, reserve_wallet: @reserve_wallet, tip_wallet: @tip_wallet }%>')
$('#paginator').html('<span style="float: left">Showing <%=@reports.try(:count)%> of <%=@reports.try(:total_count) if @reports.present? %> records</span> <%= escape_javascript(paginate(@reports, :theme => 'twitter-bootstrap-3', remote: true, :pagination_class => "pagination-small pagination-centered pull-right padd").to_s) %>');