<%= render partial: 'merchant/shared/disable_modal' %>
<div class="box">
  <div class="box-header with-border">
    <div class="col-md-12 col-sm-12 col-xs-12">
      <div class="row">
        <div class="col-md-6 col-sm-6 col-xs-6">
          <h3 class="box-title">Sales Report</h3>
        </div>
        <div class="col-md-6 col-sm-6 col-xs-6 text-right">
          <!--           <a href="#reports" data-toggle="collapse" aria-expanded="false" aria-controls="reports" class="btn btn-outline-secondary btn-sm"><i class="icon-magnifier icons"></i> Summary Report</a> -->
        </div>
      </div>
    </div>
  </div>
  <div class="box-body">
    <div class="row">
      <div class="col-md-12 mt-3">
        <%= form_tag my_reports_merchant_reports_path, method: :get  do  %>
          <div class="mb-3" id="reports">
            <div class="">
              <div class="row">
                <div class="form-group col-md-3">
                  <label for="id">Merchants</label>
                  <%=	select_tag 'wallet_ids[]', options_for_select(@merchants.map{|v|[v.name,v.id]}),class: "form-control" ,selected: @merchants.map{|v|[v.name,v.id]}, multiple: true   %>
                  <label for="select_all" class="mt-2">Select all merchants</label>
                  <input type="checkbox" name="select_all" id="select_all" />
                </div>
                <div class="form-group col-md-3">
                  <label for="id">Date</label>
                  <input type='text' name="query[date]"  id="date-value" autocomplete="off" class="form-control" value="<%= params[:query][:date] if params[:query].present? %>" />
                  <!--<label for="zero" class="mt-2">exclude zero</label>-->
                  <!--<input type='checkbox' name="query[zero]" value="true" />-->
                </div>
                <div class="col-md-3">
                  <% if ENV['DISABLE_REPORT'].present? && ENV['DISABLE_REPORT'] == "true" %>
                    <button type="button" class="btn btn-success btn-sm run_report run_report_margin" data-toggle="modal" data-target="#disabled_modal">Run Report</button>
                  <%else%>
                    <button type="submit" class="btn btn-success btn-sm run_report run_report_margin">Run Report</button>
                  <%end%>
<!--                  <a data-toggle="modal"  href="#isoModal"><button type="button" class="btn btn-sm btn-success run_report_margin"><i class="fa fa-file"></i> Export</button></a>-->
<!--                  <a data-toggle="modal" id="exportClass" data-wallet="<%#= params[:wallet_ids] %>" data-date="<%#= params[:query].try(:[], :date) %>" data-type="transfer" class="exportReport" href="#exportModalDialog"><button type="button" class="btn btn-sm btn-success run_report_margin"><i class="fa fa-file"></i> Export</button></a>-->
                </div>
              </div>
            </div>
          </div>
        <% end  %>
        <div class="hide_default">
          <div>
            <table id="transaction" class="table ">
              <thead>
              <tr>
                <th>Merchant</th>
                <th>Total Transactions</th>
                <th>Total Processed Amount</th>
                <th>Total Profit</th>
              </tr>
              </thead>
              <% if (@total_processed_amount.present? || @total_amount.present? || @total_after_fee.present? || @total_fee_amount.present?) && @new.count > 0 %>
                <tfoot>
                <tr>
                  <td class="bold-font">Totals</td>
                  <td class="bold-font"><%=@total_trx %></td>
                  <td class="bold-font"><span>$</span><%=number_with_precision(@total_processed_amount, precision: 2,delimiter:',')  %></td>
                  <td class="bold-font"><span>$</span><%= number_with_precision(@total_amount, precision: 2,delimiter:',') if @total_amount.present? %></td>
                </tr>
                </tfoot>
              <% end %>
              <tbody>
                <% if @new.present? && @new.size > 0 %>
                  <% @new.each do |key, val| %>
                    <tr>
                      <td><%= key %></td>
                      <td><%= val.first[:total_transactions] %></td>
                      <td>$<%= number_with_precision(val.first[:total_processed_amount] , precision: 2,delimiter:',')%></td>
                      <td><span class="pull-left">$</span><span class="pull-left"><%= number_with_precision(val.first[:total_recieved], precision: 2,delimiter:',')%></span></td>
                    </tr>
                  <% end %>
                <% else %>
                  <tr>
                    <td>No record found</td>
                    <td></td>
                    <td></td>
                    <td></td>
                  </tr>
                <% end %>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- The export Modal starts -->
<%#= render partial: 'merchant/transactions/export_modal' %>
<%= render partial: 'shared/iso_export_modal' %>
<!-- The export Modal ends -->
<section id="custom_modal"></section>
<script>
    $(document).ready(function () {
        $( "#wallet_ids_" ).select2({
//            theme: "bootstrap"
        });

        $("#select_all").click(function(){
            if($("#select_all").is(':checked') ){
                $("#wallet_ids_ > option").prop("selected","selected");
                $("#wallet_ids_").trigger("change");
            }else{
                $("#wallet_ids_ > option").removeAttr("selected");
                $("#wallet_ids_").trigger("change");
            }
        });

        // set values in export button start
        $(".exportReport").data('wallet', $("#wallet_id").val());
        $(".exportReport").data('date', $("#date-value").val());
        // set values in export button end

        $("#wallet_ids_").on("change", function () {
            var count = $("#wallet_ids_ :selected").length;
            var options = $("#wallet_ids_ option").length;
            $(".exportReport").data('wallet', $("#wallet_ids_").val());
            if (count == 0 || count < options ){
                $("#select_all").prop('checked', false);
            }else if(options == count){
                $("#select_all").prop('checked', true);
            }
        });

        $("#date-value").on('change', function () {
            $(".exportReport").data('date', $("#date-value").val());
        });

        $('.run_report').click(function () {
            $('.spnr').fadeIn();
        });
        $('.export_btn').click(function () {
            $('.spnr').fadeIn(2000).fadeOut("slow");
        });
        $('.pagination').find('li').find('a').click(function () {
            $('.spnr').fadeIn();
        });

        var verify = '<%= params[:query].present?%>';
        if(verify == "false"){
            $('.hide_default').css('display', 'none');
        }else{
            $('.hide_default').css('display', 'block');
        }
        $('#transaction').DataTable({
//           responsive: true,
            language : {
                sLengthMenu: "Show _MENU_"
            },

        });
        $('.form-inline').css('display','inherit');
        var nowDate = new Date();
        var newdate = (nowDate.setDate(nowDate.getDate() - 1));
        var nd = new Date(newdate);
        $('input[name="query[date]"]').daterangepicker({
            "maxSpan": {"month": 1},
            "startDate": nd,
            "maxDate": nd
        });
        $('select[name=transaction_length]').addClass('ml-2');
        $('.datepicker').datepicker({
            format: 'mm-dd-yyyy'
        });

        var lt= $('.timeUtc').each(function (i,v) {
            var gmtDateTime = moment.utc(v.innerText,'MM-DD-YYYY HH:mm:ss');
            var local = moment(gmtDateTime).local().format('MM-DD-YYYY HH:mm:ss A');
            v.innerText = local

        });

    });

</script>