      <div class="box">
            <div class="box-header with-border">
            <div class="col-md-12">
            <div class="row">
            <div class="col-md-6">
              <h3 class="box-title"><%= @heading %></h3>
              </div>
              <div class="col-md-6 text-right">
          <!-- <a href="#reports" data-toggle="collapse" aria-expanded="false" aria-controls="reports" class="btn btn-outline-secondary btn-sm"><i class="icon-magnifier icons"></i> Summary Report</a> -->
                </div> 
            </div>
            </div>
            </div>
            <div class="box-body">
            <div class="">
      <!-- <div class="row"> -->
        <!-- <div class="col-md-8 "> -->
          <!--<h5>Generate Report</h5>-->
        <!-- </div> -->
        <!-- <div class="col-md-4 mb-2 text-right"> -->
        <!-- </div> -->
        <!--<div class="col-md-2 mb-2 text-right">-->
          <!--<a href="#reports" data-toggle="collapse" aria-expanded="false" aria-controls="reports" class="btn btn-outline-secondary btn-sm"><i class="icon-magnifier icons"></i> Summary Report</a>-->
        <!--</div>-->
      <!-- </div> -->

      <div class="">
        <div class="">
          <div class="">
            <div class="">
              <%= form_tag send_money_report_merchant_reports_path, method: :get  do  %>
                  <div class="mb-3" id="reports">
                    <div class="">
                      <div class="row">
                        <!-- <div class="col-md-12"> -->
                          <!-- <h5>Generate Report</h5> -->
                        <!-- </div> -->
                        <div class="form-group col-md-3">
                          <label for="id">Wallet</label>
                          <%=	select_tag 'wallet_id', options_for_select(@wallet.map{|v|[v.name,v.id]}, @wallet.select{|c| c.id == params[:wallet_id].to_i}.map{|v| [v.name,v.id]}.first),class: "form-control" %>
                          <!--<input type="text" name="query[wallet]" value="" id="sender" class="form-control" placeholder="Wallet"  />-->
                        </div>
                        <div class="form-group col-md-3">
                          <label for="id">Date</label>
                          <input type='text' name="query[date]"  id="id" class="form-control" value="<%= params[:query][:date] if params[:query].present? %>" />
                        </div>
                        <div class="col-md-3">
                          <button type="submit" class="btn btn-success btn-sm run_report run_report_margin">Run Report</button>
                        </div>
                      </div>
                    </div>
                  </div>
              <% end  %>
              <div class="well well-sum hide_default">
                <div class="row">
                  <div class="col-md-3">
                    <div class="card card-widget-info text-center">
                      <div class="card-block">
                        <div class="widget-title">Total Transactions</div>
                        <div class="result"><%= @count.nil? ? 0:@count.count %></div>
                        <!--<div class="widget-link"><a href="#">Go to management</a></div>-->
                      </div>
                    </div>
                  </div>
                  <div class="col-md-3">
                    <div class="card card-widget-warning text-center">
                      <div class="card-block">
                        <div class="widget-title">Total Send</div>
                        <div class="result"><%= number_with_precision(number_to_currency(@total_amount.to_f), precision: 2, delimiter: ',')  %></div>
                        <!--<div class="widget-link"><a href="#">Go to management</a></div>-->
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="hide_default">
                <%	if @user_wallet.present? %>
                    <div class="bold-font wallet">
                      <span style="font-size:20px">Wallet: <%= @user_wallet.name %></span>
                      <span class="pull-right">
                        <% type = 'p2p_payment' %>
                        <%=	 link_to "Export to excel", export_send_money_report_merchant_reports_path(format: "xlsx", wallet: params[:wallet_id], date: params[:query][:date], :type => type), class: "btn btn-sm btn-primary export_btn" %>
                      </span>
                    </div>
                <% end %>
                <div>
                <div class="table-responsive">
                  <table id="transaction" class="table table-striped">
                    <thead>
                    <th>Date/Time</th>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Receiver ID</th>
                    <th>Phone Number</th>
                    <th>Total Send</th>
                    </thead>
                    <% if @total_amount.present?%>
                        <tfoot>
                        <tr>
                          <td class="bold-font">Totals</td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td class="bold-font"><%= number_with_precision(number_to_currency(@total_amount), precision: 2, delimiter: ',') if @total_amount.present? %></td>
                        </tr>
                        </tfoot>
                    <% end %>
                    <tbody>

                    <% if @reports.present? && @reports.size > 0 %>
                        <% k =1 %>
                        <% @reports.each do |t| %>
                            <tr>
                              <td class="timeUtc"> <%= t[:timestamp].strftime("%Y-%m-%d %H:%M:%S %z") %></td>
                              <td>
                                <%= wallet_name(t[:destination]) %>
                              </td>
                              <td>
                                <%= wallet_last_name(t[:destination]) %>
                              </td>
                              <td><%= t[:destination] %></td>
                              <td><%= wallet_phone_number(t[:destination]) %></td>
                              <td>
                                <% if t[:new_type] != "Fee" %>
                                  <%= number_with_precision(number_to_currency(t[:amount]), precision: 2, delimiter: ',') %>
                                <% else %>
                                  $0.00
                                <% end %>
                              </td>
                            </tr>
                            <% k =k+1 %>
                        <% end %>
                    <% end %>

                    </tbody>
                  </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!--<div class="card-footer text-right">-->
          <!--<div class="row">-->
            <!--<div class="col-md-11 "><%#= will_paginate @reports, renderer: BootstrapPagination::Rails if @reports.present? %></div>-->
          <!--</div>-->
        <!--</div>-->
      </div>
      </div>
      </div>
      </div>

<section id="custom_modal"></section>
<script>

    $(document).ready(function () {
        $('.run_report').click(function () {
            $('.spnr').fadeIn();
        });
        $('.export_btn').click(function () {
            $('.spnr').fadeIn(2000).fadeOut("slow");
        });
        $('.pagination').find('li').find('a').click(function () {
            $('.spnr').fadeIn();
        });

        var verify = '<%= params[:query].present?%>';
        if(verify == "false"){
            $('.hide_default').css('display', 'none');
        }else{
            $('.hide_default').css('display', 'block');
        }
        $('#transaction').DataTable({
//           responsive: true,
            language : {
                sLengthMenu: "Show _MENU_"
            }
        });
        $('.form-inline').css('display','inherit');
        $('input[name="query[date]"]').daterangepicker({"maxSpan": {"month": 1}});
        $('select[name=transaction_length]').addClass('ml-2');
        $('.datepicker').datepicker({
            format: 'mm-dd-yyyy'
        });


    });
    var lt= $('.timeUtc').each(function (i,v) {
        var gmtDateTime = moment.utc(v.innerText,'YYYY-MM-DD HH:mm:ss');
        var local = moment(gmtDateTime).local().format('MM/DD/YYYY hh:mm:ss A');
        v.innerText = local
    });

</script>