<div class="modal fade" id="modal-69" tabindex="-1" role="dialog" aria-labelledby="modal-label-69" aria-hidden="true">
<div class="modal-dialog modal-sm">
  <%= form_tag(user_update_role_path(user_id: params[:id]),{:method => :put, :class => "form form-group"}) do %>
<div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h6 id="modal-label-69">Change Role</h6>
      </div>
      <div class="modal-body">

        <div>
          <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12">
              <div>

                <div class="row">
                  <div class="col-sm-12 col-md-12">
                    <h4><%= user.name %> <small>(<%= (user.role).capitalize %>)</small></h4>
                  </div>
                </div>
                <div class="row">
                  <div class="col-sm-12 col-md-12">
                      <p><label >Roles</label>:
                        <%= select_tag "role", options_from_collection_for_select(role, "id", "title", selected: user.role),class: 'form-control' %></p>
                  </div>
                </div>

              </div>
            </div>
          </div>
        </div>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary btn-sm pull-left" data-dismiss="modal">Cancel</button>
        <%= submit_tag "Change", class:'btn btn-primary btn-sm pull-right' %>
      </div>
    </div>
  <% end -%>
  </div>
</div>