
<section class="example">
  <div class="">
    <div class="table-responsive" id="table-overflow">
      <table id="<%=params[:user]%>-datatable" class="table table-striped table-bordered" cellspacing="0" cellpadding="0">
        <thead>
        <tr>
          <th class="all">Company ID</th>
          <th >Contact Name</th>
          <th >Phone Number</th>
          <th >Category</th>
          <th >Action</th>
        </tr>
        </thead>
        <tbody>
        <% if companies.present? %>
            <% companies.each do |user| %>
                <tr>
                  <td>
                      <%= user.ref_no.present? ? user.ref_no : "CO-#{user.id}"  %>
                  </td>
                  <td><%= user.name %></td>
                  <td><%= user.phone_number %></td>
                  <td><%= user.try(:category).present? ? user.category : '' %></td>
                  <td>
                    <div class="dropdown">
                      <a href="#" class="dropdown-style" type="button" data-toggle="dropdown">●●●
                      </a>
                      <ul class="dropdown-menu white-background">
                        <% company_user = user.users.where(email: user.company_email).try(:first) if user.try(:users).present?%>
                        <% if company_user.present? %>
                          <li class="show-cover-spin"><%= link_to('Wallet',user_transactions_path(company_user.try(:wallets).try(:primary).try(:first).try(:slug)), class: 'btn btn-sm') %></li>
                        <% end %>
                        <li class="show-cover-spin"><%= link_to("Edit", edit_admins_company_path(user.slug),:remote => true  ,:class => "btn btn-sm editModel", "data-toggle" => "modal" ) %></li>
                        <li class="show-cover-spin"><%= link_to("Merchant", admins_company_path(user.slug),:class => "btn btn-sm") %></li>
                      </ul>
                    </div>
                  </td>
                </tr>
            <% end %>
        <% end %>
        </tbody>
      </table>
      <% if @companies.present? %>
        <span  class="margin_16px">Showing <%=@companies.try(:count)%> of <%=@companies.try(:count) %> records</span>
        <%= paginate @companies, :theme => 'twitter-bootstrap-3', :pagination_class => "pagination-small pagination-centered pull-right pagination_margin padd" %>
      <% end %>
    </div>
  </div>
</section>
<section>
  <div class="modal fade myModal" role="dialog">
    <div class="modal-dialog form-group">
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">New Company</h4>
        </div>
        <%= simple_form_for @company , url: admins_companies_path, method: :post,html: {id: 'companyform'}  do |f| %>
            <div class="row">
              <div class="col-md-12">
                <div class="card-header bordered">
                  <div class="header-block width-max">
                    <%= render partial: 'admins/companies/company', :locals => {:f => f } %>
                  </div>
                </div>
              </div>
            </div>
        <% end %>
      </div>
    </div>
  </div>
</section>

<section id="editCompany"></section>
