<div class="modal fade" id="greenbox_user" tabindex="-1" role="dialog" aria-labelledby="modal-label-69" aria-hidden="true">
  <div class="modal-dialog modal-sm">

    <div class="modal-content greenbox_user-content">
      <%= form_tag(users_path,{:method => :post, :class => "form form-group", :id => "greenbox_user_form", autocomplete: "false"}) do %>
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h6 id="modal-label-69"><%= @greenbox_user.present? ? "Edit" : "Add" %> User</h6>
          <input type="hidden" name="user[id]" value="<%= @greenbox_user.present? ? @greenbox_user.id : "" %>">
          <input type="hidden" name="user[is_block]" value="false">
          <input type="hidden" id="role" value="greenbox_user">
        </div>
        <div class="modal-body">

          <div class="col-md-12">
            <div class="row">
              <div class="col-md-12">
                <div class="row">
                  <div class="col-md-6">
                    <div class="form-group">
                      <label for="first_name">First Name:</label>
                      <input type="text" class="form-control input-lg auto_off" id="first_name" name="user[first_name]" value="<%= @greenbox_user.present? ? @greenbox_user.first_name : "" %>" >
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group">
                      <label for="last_name">Last Name:</label>
                      <input type="text" class="form-control input-lg auto_off" id="last_name" name="user[last_name]" value="<%= @greenbox_user.present? ? @greenbox_user.last_name : "" %>" >
                    </div>
                  </div>
                </div>
              </div>

              <div class="col-md-12">
                <div class="row">
                  <div class="col-md-6">
                    <div class="form-group">
                      <label for="pwd">Email:</label>
                      <input type="email" class="form-control input-lg auto_off" id="greenbox_user_email" name="user[email]" value="<%= @greenbox_user.present? ? @greenbox_user.email : "" %>" >
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group">
                      <input type="hidden" id="user_form_id" value="<%= @greenbox_user.present? ? @greenbox_user.id : "" %>">
                      <label for="pwd">Phone number:</label>
                      <input type="text" maxlength="14" name="user[phone_number]" id="phone_number_cor" class="form-control input-lg auto_off" value="<%= @greenbox_user.present? ? "+#{@greenbox_user.phone_number}" : '' %>"  >
                      <input type="hidden" name="user[phone_code]" id="phone_code_cor">
                      <span class="phone-error red-color"></span>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-12">
                <div class="row">
                  <div class="col-md-6">
                    <div class="form-group">
                      <label for="last_name">Password:</label>
                      <input type="password" class="form-control input-lg auto_off" id="user_password" name="user[password]" value="" <%= "required" if @greenbox_user.blank? %> >
                      <div class="strength display-none">
                        <div class="figure" id="strength_human"></div>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group">
                      <label for="pwd">Confirm Password:</label>
                      <input type="password" class="form-control input-lg auto_off" name="user[password_confirmation]" value="">
                    </div>
                  </div>
                </div>
              </div>

              <div class="col-md-12">
                <div class="row">
                  <div class="col-md-6">
                    <div class="form-group">
                      <label for="last_name">Role:</label>
                      <%= select("user", "role", [[ "Admin", "admin" ],[ "Mtrac Support", "support_mtrac" ],[ "Employee", "employee" ],["Customer Support","support_customer"]], {:selected => @greenbox_user.present? ? @greenbox_user.role : ""}, {:class => "form-control  input-lg"} ) %>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary btn-sm pull-left" data-dismiss="modal">Cancel</button>
          <%= submit_tag "Save", class:'btn btn-primary btn-sm pull-right submit_button' %>
        </div>
      <% end %>
    </div>
  </div>
</div>