<div class="modal fade margin0" id="modal-69" tabindex="-1" role="dialog" aria-labelledby="modal-label-69" aria-hidden="true">
  <div class="modal-dialog modal-sm">
    <%= form_tag(wallet_retire_wallet_path(@wallet.id) ,{:method => :post, :class => "form form-group", :id => "retireWallet_form", data:{confirm: 'Are you sure you want to Retire?'}}) do %>
        <div class="modal-content margin-18px">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h6 id="modal-label-69">Wallet: <%= @wallet.name %></h6>
          </div>
          <div class="pad15">
            <div>
              <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12">
                    <div class="col-md-12">
                      <h4>Available Balance is: $<%= number_with_precision(@balance.to_f, precision: 2, delimiter: ',') %></h4>
                      <input type="hidden" id="blnc" value="<%= number_with_precision(@balance.to_f, precision: 2) %>">
                    </div>
                    <hr>

                    <div class="row">
                      <div class="col-sm-12 col-md-12 mt30">
                        <div  class="col-sm-12 col-md-12">
                        <label >Amount to Retire</label>:
                            <div class="form-group col-md-12 input-group mb-3 zero-padding-retire-balance">
                              <span class="input-group-addon">$</span>
                              <%= text_field_tag 'amount', "", class: "form-control balance_field", id:"balanceField_id",autocomplete: 'new-password', required: true, placeholder: "0.00"%>
                            </div>
                          <span id="amount_limit_error" ></span>
                          <div class="form-group col-md-12 input-group mb-3 zero-padding-retire-balance" >
                              <label >Notes</label>:
                              <textarea name="notes" id="notes" cols="30" rows="5" class="form-control" ></textarea>
                          </div>
                          <!--<input type="number" class="form-control balance_field" id="balance_field" step="0.01">-->
                          <%#= number_field_tag 'amount', "", class: "form-control balance_field", step: 0.01, required: :true %>
                      </div>
                      </div>
                    </div>
                  <div class="row">
                    <div class="col-sm-12 col-md-12 mt5-mb20">
                      <div  class="col-sm-12 col-md-12 retire-all">
                          <input type="checkbox" id="checkbox" name="all" class="retire-all-check"> Retire all
                      </div>
                    </div>
                  </div>
                </div>

                  <div class="col-md-12 padding_zero" id="verification_box">
                    <br>
                    <div class="col-md-offset-3 col-md-6 email_transfer_style">
                      <div class="col-md-12">
                        <div class="form-group">
                          <label class="control-label margin_top_10px"><span>Email</span></label>
                          <input type="email" value="<%= current_user.email %>" class="form-control" disabled>
                        </div>
                      </div>
                      <div class="col-md-12">
                        <div class="form-group">
                          <label class="control-label"><span>Password</span></label>
                          <input type="password" value="" id="password" class="form-control">
                        </div>
                      </div>
                      <div class="col-md-12">
                        <div class="form-group">
                          <a class="btn btn-primary btn-sm width_max" id="password_btn1">Verify</a>
                        </div>
                      </div>
                      <span class="align_center" id="info-text">Please verify yourself!</span>
                    </div>
                  </div>
              </div>
            </div>

          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary btn-sm pull-left" data-dismiss="modal">Cancel</button>
            <a class="btn btn-primary btn-sm pull-right btn_retire" id="verification_btn">Retire</a>
            <%= submit_tag "Retire", class:'btn btn-primary btn-sm pull-right btn_retire',id: "submit_transfer_btn" %>
          </div>
        </div>
    <% end %>
  </div>
</div>
