
<section class="example">
  <div class="">
    <div class="">
      <div class="table-responsive" id="table-overflow">
        <table id="<%=params[:user]%>-datatable" class="table table-striped table-bordered table-hover" >
          <thead>
          <tr>
            <th>ID</th>
            <% if ["affiliate_programs"].include? (params[:user]) %>
              <th>Company Name</th>
            <% end %>
            <th>Contact Name</th>
            <% if ["isos", "agents", "affiliate" ].include? (params[:user]) %>
              <th>Company Name</th>
            <% end %>
            <th>Email</th>
            <th>Phone</th>
            <% if ["affiliate_programs"].include? (params[:user]) %>
              <th>Status</th>
            <% end %>
            <% if params[:user] == "admin_users" %>
              <th>Affiliates</th>
            <%end%>

            <% if params[:user] == "greenbox_users" %>
              <th>Status</th>
              <th>Role</th>
            <% end %>
            <% if params[:user] == "customer" %>
              <th>Source</th>
            <% end %>
            <th>Actions</th>
          </tr>
          </thead>
          <tbody>
          <% if users.present? %>
              <% users.each do |user| %>
                  <tr>
                    <td><%= user.alias %></td>
                    <% if ["affiliate_programs"].include? (params[:user]) %>
                      <% if user.profile.present? %>
                        <td><%= user.profile.company_name.present? ? user.profile.company_name : 'n/a' %></td>
                      <% else %>
                        <td><%= user.company_name.present? ? user.company_name : 'n/a' %></td>
                      <% end %>
                    <%end%>
                    <td><%= user.name || "#{user.first_name} #{user.last_name}" %></td>
                    <% if ["isos", "agents", "affiliate"].include? (params[:user]) %>
                      <% if user.profile.present? %>
                        <td><%= user.profile.company_name.present? ? user.profile.company_name : 'n/a' %></td>
                      <% else %>
                        <td><%= user.company_name.present? ? user.company_name : 'n/a' %></td>
                      <% end %>
                    <% end %>
                    <td><%= user.email %></td>
                    <td><%= user.phone_number %></td>
                    <% if ["affiliate_programs"].include? (params[:user]) %>
                      <td>
                        <% if user.oauth_apps.first.present? %>
                          <div class="m-index-st-13">
                            <% status = user.oauth_apps.first.is_block ? 'Inactive' : 'Active' %>
                            <% if status == "Inactive" %>
                              <% if current_user.support_mtrac? %>
                                <button class="btn btn-primary btn-sm m-index-st-14" disabled>Inactive</button>
                              <% else %>
                                <%= link_to status, update_status_isos_path(user_id: user.id, is_block: false), class: "btn btn-primary btn-sm m-index-st-20", data: {confirm: 'Are you sure you want to Active?', disable_with: "<i class='fa fa-refresh fa-spin'> </i> Loading..."} %>
                              <% end %>
                            <% else %>
                              <% if current_user.support_mtrac? %>
                                <button class="btn btn-primary btn-sm m-index-st-15" disabled>Active</button>
                              <% else %>
                                <%= link_to status, update_status_isos_path(user_id: user.id, is_block: true), class: "btn btn-primary btn-sm m-index-st-21", data: {confirm: 'Are you sure you want to Inactive?', disable_with: "<i class='fa fa-refresh fa-spin'> </i> Loading..."} %>
                              <% end %>
                            <% end %>
                          </div>
                        <%end%>
                      </td>
                    <% end %>
                    <% if params[:user] == "admin_users" %>
                      <td><a href="<%=users_path(user: "affiliate_programs",admin_user: user.id) %>"><%= user.affiliate_programs.unarchived_users.count %> </a></td>
                    <%end%>
                    <% if params[:user] == "customer" %>
                      <td><%= user.source %></td>
                    <% end %>
                    <% if params[:user] == "greenbox_users" %>
                      <td>
                        <div class="m-index-st-13">
                          <% status = user.archived? ? 'Inactive' : 'Active' %>
                          <% if status == "Inactive" %>
                            <%= link_to status, user_path(id: user.id, greenbox_users: "true"), :method => :delete, class: "btn btn-primary btn-sm m-index-st-20", data: {confirm: 'Are you sure you want to Active?', disable_with: "<i class='fa fa-refresh fa-spin'> </i> Loading..."} %>
                          <% else %>
                            <%= link_to status, user_path(id: user.id, greenbox_users: "true"), :method => :delete, class: "btn btn-primary btn-sm m-index-st-21", data: {confirm: 'Are you sure you want to Inactive?', disable_with: "<i class='fa fa-refresh fa-spin'> </i> Loading..."} %>
                          <% end %>
                        </div>
                      </td>
                      <td><%= user.role %></td>
                    <% end %>
                    <td>
                      <div class="dropdown">
                        <a href="#" class="dropdown-style" type="button" data-toggle="dropdown" >●●●
                        </a>
                        <ul class="dropdown-menu white-background">
                          <%= render :partial => 'users_actions_button', locals: {user: user}  %>
                        </ul>
                      </div>
                    </td>
                  </tr>
              <% end %>
          <% end %>
          </tbody>
        </table>
        <% if @users.present? %>
          <span class="margin_16px">Showing <%=@users.try(:size)%> of <%=@users.total_count  %> records</span>
          <%= paginate @users, :theme => 'twitter-bootstrap-3', :pagination_class => "pagination-small pagination-centered pull-right padd" %>
        <% end %>
      </div>
    </div>
  </div>
</section>
<div id="cover-spin"></div>
