
<div class="sidebar-overlay" id="sidebar-overlay"></div>
  <div class="title-block">
    <h1 class="title">
      Users                        </h1>
  </div>
  <section class="section">
<%#= will_paginate @users %>
    <div class="row">
      <div class="col-md-12">
        <div class="card sameheight-item items" data-exclude="xs,sm,lg">
          <div class="card-header bordered">
            <div class="header-block">
              <h3 class="title">All Users</h3>
            </div>
            <!--<div class="header-block pull-right">-->
            <!--<button type="button" data-toggle="modal" data-target="#search" class="btn btn-warning btn-sm"><i class="icon-magnifier icons"></i> Search</button>-->
            <!--</div>-->
          </div>

          <section class="example">
            <div class="">
              <div class="table-responsive">
                <table id="datatable-keytable" class="table table-striped table-bordered table-hover" data-source="<%= all_users_users_url(format: "json") %>" cellspacing="0" cellpadding="0">

                  <thead>
                  <tr>
                    <th class="all">ID</th>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Phone</th>
                    <th class="all">Status</th>
                    <th class="none">Profile</th>
                    <th class="none">Front</th>
                    <th class="none">Back</th>
                    <th class="none">Postal</th>
                    <th class="all">Actions</th>
                  </tr>
                  </thead>

                  <tbody>
                  <%# @users.each do |user| %>

                      <tr>
                      

                      </tr>
                  <%#end%>

                  </tbody>
                </table>
              </div>
            </div>
          </section>
        </div>
      </div>
    </div>
  </section>
