
<div class="sidebar-overlay" id="sidebar-overlay"></div>
  <div class="title-block">
    <h1 class="title text-capitalize">
      <%#= @wallet.name.upcase %> Transactions</h1>
  </div>
  <section class="section">

    <div class="row">
      <div class="col-md-12">
        <div class="card sameheight-item items" data-exclude="xs,sm,lg">
          <div class="card-header bordered">
            <div class="header-block">
              <h3 class="title">All Transactions</h3>
            </div>
            <div class="header-block pull-right">
              <!--<button type="button" data-toggle="modal" data-target="#search" class="btn btn-warning btn-sm"><i class="icon-magnifier icons"></i> Search</button>-->
            </div>
          </div>

          <section class="example">
            <div class="">
              <div class="table-responsive">
                <table id="datatable-keytable" class="table table-striped table-bordered table-hover" cellspacing="0" cellpadding="0">

                  <thead>
                  <tr>
                    <th>ID</th>
                    <th>Amount</th>


                    <th>Source</th>
                    <th>Type</th>
                    <th>Destination</th>
                    <th>Created At</th>

                  </tr>
                  </thead>

                  <tbody>
                  <% @transactions.each do |transaction| %>

                      <tr>
                        <td id="id"><%= transaction.id.first(5) %></td>
                        <td><%= cents_to_dollars(transaction.actions.first.amount).to_s[0..2].to_f %>$</td>
                        <td><%= transaction.actions.first.source_account_alias%></td>

                        <% if transaction.actions.first.type == 'transfer' %>
                            <% if @wallet.id == transaction.actions.first.source_account_alias.to_i %>
                                <td>Transfer</td>
                            <% else %>
                                <td>Deposit</td>
                            <% end %>
                        <% else %>
                            <td> <%= transaction.actions.first.type %> </td>
                        <% end %>

                        <td><%= transaction.actions.first.destination_account_alias%></td>
                        <td><%= (transaction.timestamp).localtime.strftime("%m/%d/%Y %I:%M:%S %p") %></td>
                      </tr>
                  <%end%>

                  </tbody>
                </table>
              </div>
            </div>
          </section>
        </div>
      </div>
    </div>
  </section>
