
<section class="in"></section>

<div class="sidebar-overlay" id="sidebar-overlay"></div>
<div class="title-block">
  <div class="row">
    <div class="col-md-6">
      <h1 class="title">
        <%= params[:user] == "admin_users" || params[:user] == "affiliate_programs" ? "Affiliate Programs" : "Users" %>
      </h1>
    </div>
    <div class="col-md-6">
      <%#= link_to("Active Users", users_path(user: "customer"), :class => "btn btn-success btn-sm pull-right") %>
    </div>
  </div>
</div>
<div class="padding-left-zero container-fluid">
  <ul class="nav nav-tabs users_tabs active-style">
    <% if params[:user] != "greenbox_user" && params[:user] != "admin_users" &&  params[:user] != "affiliate_programs" %>
    <li class="<%= params[:user] == "customer" ? 'active' : ''%>">
<!--      <a href="<%#= archived_users_users_path(user: "customer") %>">Customer</a>-->

    <% if params[:archive_user]=='customer' %>
      <a href="<%= archived_users_users_path(user: "customer",active_user:'customer') %>">Customer</a>
    <% else %>
      <a href="<%= archived_users_users_path(user: "customer",active_user:'customer') %>">Customer</a>
    <% end %>
    </li>
    <!--<li class="<%#= params[:user] == "companies" ? 'active' : ''%>"><a href="<%#= users_path(user: "companies") %>">Company</a></li>-->
    <li class="<%= params[:user] == "isos" ? 'active' : ''%>">
      <% if params[:archive_user]=='isos' %>
      <a href="<%= archived_users_users_path(user: "isos",active_user:'isos') %>">ISO</a>
        <% else %>
        <a href="<%= archived_users_users_path(user: "isos",active_user:'isos') %>">ISO</a>
        <% end %>
    </li>
    <li class="<%= params[:user] == "agents" ? 'active' : ''%>">
      <% if params[:archive_user]=='agents' %>
        <a href="<%= archived_users_users_path(user: "agents",active_user:'agents') %>">Agent</a>
      <% else %>
        <a href="<%= archived_users_users_path(user: "agents",active_user:'agents') %>">Agent</a>
      <% end %>
    </li>
    <li class="<%= params[:user] == "affiliates" ? 'active' : ''%>">
<!--      <a href="<%#= archived_users_users_path(user: "affiliates") %>">Affiliate</a>-->
      <% if params[:archive_user]=='affiliates' %>
        <a href="<%= archived_users_users_path(user: "affiliates",active_user:'affiliates') %>">Affiliate</a>
      <% else %>
        <a href="<%= archived_users_users_path(user: "affiliates",active_user:'affiliates') %>">Affiliate</a>
      <% end %>
    </li>
<!--     <li class="<%# params[:user] == "admin_users" ? 'active' : ''%> width-185px">
        <a href="<%# archived_users_users_path(user: "admin_users",active_user:'admin_users') %>">Admin User</a>
    </li>
    <li class="<%# params[:user] == "affiliate_programs" ? 'active' : ''%> width-185px">
        <a href="<%# archived_users_users_path(user: "affiliate_programs",active_user:'affiliate_programs') %>">Affiliate Program</a>
    </li> -->

  </ul>
      <% end %>
</div>

<section class="section">
  <div class="row">
    <div class="col-md-12">
      <div class="card sameheight-item items" data-exclude="xs,sm,lg">
        <div class="card-header bordered">
          <div class="col-md-8 mb-2">
            <div class="header-block">
              <% if params[:user] == "customer" %>
                  <h3 class="title">All Customers</h3>
                <% user='customer' %>
              <% elsif params[:user] == "isos" %>
                  <h3 class="title">All ISOs</h3>
                  <% user='isos' %>
              <% elsif params[:user] == "agents" %>
                  <h3 class="title">All Agents</h3>
                <% user='agents' %>
              <% elsif params[:user] == "affiliates" %>
                  <h3 class="title">All Affiliates</h3>
                <% user='affiliates' %>
              <% elsif params[:user] == "admin_users" %>
                <h3 class="title">All Admin Users</h3>
                <% user='admin_users' %>
              <% elsif params[:user] == "affiliate_programs" %>
                <h3 class="title">All Affiliates</h3>
                <% user='affiliate_programs' %>
              <% elsif params[:user] == "companies" %>
                  <h3 class="title">All Companies</h3>
              <% elsif params[:user] == "greenbox_user" %>
                  <h3 class="title">All Greenbox Users</h3>
              <% else %>
                  <h3 class="title">All Customers</h3>
                <% user='customer' %>
              <% end %>
            </div>
          </div>
          <div class="col-md-4 mb-2 text-right">
            <% if params[:user] != "greenbox_user" %>
            <% if params[:action] == "index" && params[:user] == "companies" %>
                <button type="button" class="btn btn-primary pull-right addcompany" data-toggle="modal" data-target=".myModal text-capitalize">New Company</button>
            <% elsif params[:action] == "index" && params[:user] == "isos" %>
              <a href="<%= users_path(user: "isos",active_user:'isos') %>">ISO</a>
                <%= link_to 'New ISO', new_iso_path, class:'btn btn-primary' %>
            <% elsif params[:action] == "index" && params[:user] == "agents" %>
                <%= link_to 'New Agent', new_agent_path, class: 'btn btn-primary pull-right'%>
            <% elsif params[:action] == "index" %>
                <%= link_to 'New Affiliate', new_affiliate_path, class: 'btn btn-primary pull-right'%>
            <% end %>
            <%= link_to("Active Users", users_path(user: user,active_user:user,admin_user: params[:admin_user]), :class => "btn btn-success btn-sm pull-right") %>
            <% else %>
              <%= link_to("Active Users", users_path(user: params[:user],active_user: params[:user]), :class => "btn btn-success btn-sm pull-right") %>
            <% end %>
          </div>
        </div>
        <% url = params[:action] == "index" ? users_path(user: "customer") : archived_users_users_path(user: "customer") %>
        <%=form_tag url,method: :get, class:'search_transactions' do  %>
            <input type="hidden" name="user" value="<%= params[:user]%>">
            <div class="col-sm-12 border-archived-users">
              <div class="col-sm-12">
                <div class="collapsed display-none" id="search">
                  <div class="card card-body">
                    <div class="row">
                      <div class="col-md-12">
                      </div>
                      <div class="col-md-12 margin-top-15px">
                        <div class="form-group col-md-4">
                          <label for="id">Name</label>
                          <input type="text" name="query[name]"  id="name" class="form-control" value="<%= params[:query].present? ? params[:query]["name"] : "" %>"  />
                        </div>
                        <div class="form-group col-md-4">
                          <label for="id">Email</label>
                          <input type="email" name="query[email]" id="email" class="form-control" value="<%= params[:query].present? ? params[:query]["email"] : ""%>"  />
                        </div>
                        <div class="form-group col-md-4">
                          <label for="id">Phone Number</label>
                          <input type="number" name="query[phone_number]" id="phone_number" class="form-control" value="<%= params[:query].present? ? params[:query]["phone_number"] : "" %>"  />
                        </div>
                      </div>
                      <div class="col-md-12 margin-top-15px">
                        <div class="form-group col-md-4">
                          <label for="id">Reference No</label>
                          <input type="text" name="query[ref_no]"  id="ref_no" class="form-control" value="<%= params[:query].present? ? params[:query]["ref_no"] : ""  %>" />
                        </div>
                        <div class="form-group col-md-4">
                          <label for="id">Wallet ID</label>
                          <input type="Number" name="query[wallet_id]"  id="wallet_id" class="form-control" value="<%= params[:query].present? ? params[:query]["wallet_id"] : ""  %>"  />
                        </div>
                        <div class="form-group col-md-4">
                          <label for="id">Last4</label>
                          <input type="number" name="query[last4]" id="last4" class="form-control" value="<%= params[:query].present? ? params[:query]["last4"] : ""  %>" />
                        </div>
                      </div>

                      <div class="col-md-12 text-right">
                        <button type="submit" class="btn btn-success btn-sm search_button">Search</button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
        <% end  %>

        <div class="row" >
          <div class="col-sm-6 col-md-6">
            <div class="dataTables_length">
              <div class="col-md-6 margin-top-30px">
                <span class="archived-user-show">Show</span>
                <span class="float-left">
                      <%= form_tag archived_users_users_path(user: params[:user].present? ? params[:user] : "customer"), method: :get, id: 'user1_form'  do  %>
                         <%= select_tag "filter", options_for_select(@filters.map{|v|[v]}, selected: params[:filter].present? ? params[:filter] : "10"),
                                        :prompt => false,
                                        :required => true,
                                        :onchange => 'this.form.submit();',
                                        class: "form-control form-control-sm",
                                        data: {confirm: "Are you sure ?"}
                         %>
                      <input type="hidden" name="user" value="<%= params[:user].present? ? params[:user] : "customer" %>"  />
                      <input type="hidden" name="q" id="q" value="<%= params[:q].present? ? params[:q] : "" %>"  />
                      <input type="hidden" name="user_data" id="user_data" value="<%= params[:user_data].present? ? params[:user_data] : "" %>"  />
                      <input type="hidden" name="search_input" value="search_input"  />
                      <input type="hidden" name="archived" value="true"  />
                  <% end %>
                    </span>
                <span class="archived-user-entries">Entries</span>
              </div>
            </div>
          </div>
          <div class="col-sm-6 col-md-6">
            <div class="col-md-12 margin-top-15px">
              <div class="input-group add-on">
                <input type="hidden" name="archived" value="true" id="archived-user-value" />
                <input type="text" class="form-control pull-right search_input_field"  value="<%= params[:q]%>" placeholder=" &#xf002; Search&hellip;" name="search" id="srch-term">
                <div class="input-group-btn">
                  <a href="#search" data-toggle="collapse" aria-expanded="false" aria-controls="search" class="btn btn-default archive-user-advance">Advance</a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="tab_data_details">
          <% if params[:user] == "companies" %>
              <%= render partial: 'admins/users/companies', :locals => {companies: @companies } %>
          <% else %>
              <%= render partial: 'admins/users/users', :locals => {users: @users } %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</section>


