<% if ["all","pending","approved"].include? (params[:req]) %>
  $(".tab_data_details").html("").append("<%= j render partial: 'admins/verification_table', :locals => {reqs: @reqs }%>");
<% elsif params[:user] == "companies" %>
  $(".tab_data_details").html("").append("<%= j render partial: 'admins/users/companies', :locals => {companies: @companies } %>");
<% else %>
  $(".tab_data_details").html("").append("<%= j render partial: 'admins/users/users', :locals => {users: @users }%>");
<% end %>

<% if params[:user].present? %>
$(".padd").css("margin","-15px 20px 20px 0px");
$('#<%=params[:user]%>-datatable').DataTable({
    "responsive": true,
    "sScrollX": false,
    "sSearch": false,
    "ordering": false,
    "searching": false,
    "bLengthChange": false,
    "bPaginate": false,
    "bInfo": false
});
<% end %>