
<div class="sidebar-overlay" id="sidebar-overlay"></div>


  <div class="title-block margin-bottom-1px-imp">
    <h1 class="title">
      <%= @user.name.capitalize %> Wallets </h1>
  </div>
  <section class="section">

    <div class="row">
      <div class="col-md-12">
        <div class="card sameheight-item items" data-exclude="xs,sm,lg">
          <div class="card-header bordered">
            <div class="header-block">
              <h3 class="title">All Wallets</h3>

            </div>
            <!--<div class="header-block pull-right">-->
            <!--<button type="button" data-toggle="modal" data-target="#search" class="btn btn-warning btn-sm"><i class="icon-magnifier icons"></i> Search</button>-->
            <!--</div>-->
            <!--<%#= link_to 'All', user_all_transactions_path(@user),class: 'btn btn-warning pull-right' %>-->
          </div>

          <section class="example">
            <div class="">
              <div class="table-responsive">
                <table id="datatable-keytable" class="table table-striped table-bordered table-hover" cellspacing="0" cellpadding="0">

                  <thead>
                  <tr>
                    <th class="all">ID</th>
                    <th>Name</th>
                    <th class="all">Actions</th>
                  </tr>
                  </thead>

                  <tbody>
                  <% @wallets.each do |wallet| %>
                      <% if wallet.name != 'ChargeBack' %>
                      <tr>
                        <td id="id"><%= wallet.id %></td>
                        <td><%= wallet.name %></td>
                        <td>
                          <%= link_to   user_transactions_path(wallet.slug) , class: 'btn btn-sm btn-success' do %>
                              View
                          <% end %>
                          <%= link_to wallet_details_users_path(wallet_id: wallet.slug), remote: :true, class: 'btn btn-sm btn-warning btn_wallet_details'   do %>
                           Retire
                          <% end %>
                          <%#= link_to block_transactions_location_path(wallet.slug), class: 'btn btn-sm btn-primary' do %>
<!--                            Block Transactions-->
                          <%# end %>
                        </td>
                        <!--wallet_retire_wallet_path(wallet.slug),data:{confirm: 'Are you sure you want to Retire?'},method: :post-->
                      </tr>
                  <% end %>
                  <%end%>

                  </tbody>
                </table>
              </div>
            </div>
          </section>
        </div>
      </div>
    </div>
  </section>
<section class="in"></section>
