$(".in").html("<%= j  render(partial: '/admins/users/retire_balance', locals: { wallet: @wallet, balance: @balance }) %>")
$('#verification_box').hide();
 $('#submit_transfer_btn').hide();
$(".balance_field").inputmask('Regex', {regex: "^\\d+\\.\\d{0,2}$"});