
/*============================*/
/*moving inline styles start*/
/*============================*/
.margin_10px{
    margin: 10px;
}
.margin_left_8px{
    margin-left: 8px;
}
.padding_left_25px{
    padding-left: 25px;
}
.margin_top_7px{
    margin-top: 7px;
}
/*============================*/
/*moving inline styles end*/
/*============================*/
