<%= stylesheet_link_tag 'v2/merchant/funding.css'  %>

<div class="m-subheader">
  <div class="d-flex align-items-center">
    <div class="mr-auto">
      <ul class="m-subheader__breadcrumbs m-nav m-nav--inline set-path">
        <li class="m-nav__item">
          <a href="#" class="m-nav__link">
            <span class="my-order-nav">
                Schedule Details
            </span>
          </a>
        </li>
        <li class="m-nav__separator">
          <%= image_tag "v2/merchant/icons/angle.svg"%>
        </li>
        <li class="m-nav__item">
          <a href="#" class="m-nav__link">
              <span class="order-active">
                Reserve Schedule Release
              </span>
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>

<div class="m-content hold-custom-3">
  <div class="row">
    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
      <div class="page-title mb-4">
        Reserve Schedule Release
      </div>
    </div>
  </div>
  <div class="m-portlet m-portlet--mobile m-portal_datatable">
    <div class="m-portlet__body">
      <ul class="nav nav-tabs  m-tabs-line" role="tablist">
        <li class="nav-item m-tabs__item">
          <a class="nav-link m-tabs__link" href="/v2/merchant/hold_money" aria-selected="false">
            Hold In Arrear Release
          </a>
        </li>
        <li class="nav-item m-tabs__item">
          <a class="nav-link m-tabs__link active show" href="/v2/merchant/hold_money/reserve_money" aria-selected="true">
            Reserve Schedule Release
          </a>
        </li>
      </ul>
      <div class="tab-content">
        <%= form_tag(reserve_money_v2_merchant_hold_money_index_path, method: "get") do %>
            <div class="row mb-4 mx-0">
              <div class="label_funding">
                Choose a Date
              </div>
              <div class="m-input-icon m-input-icon--left mr-3 ml-3">
                <div class="input-group" id="m_daterangepicker_2">
                  <input type='hidden' value="date" id="detail-value"/>
                  <input type='text' name="query[date]" class="form-control m-input" value="<%= params[:query].present? ? params[:query]["date"] : "" %>"  placeholder="MM-DD-YYYY"/>
                  <div class="input-group-append">
                                <span class="calender-img">
                                  <%= image_tag "v2/merchant/icons/Funding-Schedule-b.svg", class:'rotate'%>
                                </span>
                  </div>
                  <div class="input-group-append">
                                <span class="input-group-text">
                                  <%= image_tag "v2/merchant/icons/down-b.svg", class:'rotate',id:'img--remove'%>
                                </span>
                  </div>
                </div>
              </div>

              <div class="">
                <div class="label_funding">
                  Select Account
                </div>
              </div>
              <div class="mx-3">
                <input type="hidden" name="filter" value="<%= params[:filter]%>">
                <%= select_tag 'location', options_for_select(@locations.map{|v| [v.business_name,v.id]}, selected: @locations.select{|c| c.id == params[:location].to_i}.map{|v| [v.business_name,v.id]}.first), class: "form-control  m-funding-bootstrap-select  m-time-bootstrap-select m-bootstrap-select m-bootstrap-select--pill  m_selectpicker reason-dd-1",title:'Select Account' %>
              </div>
              <div class="">
                <div >
                  <%= submit_tag 'Search', class: 'btn btn-default funding-search-btn' %>
                  <!--<a href="#" class="btn btn-default funding-search-btn">Search</a>-->
                </div>
              </div>
            </div>
        <% end %>

        <%= render partial: "v2/merchant/shared/reserve_schedule_datatable" %>
      </div>
    </div>
  </div>
</div>
<%if params.present? &&  params[:query].present?%>
    <input type="hidden" name="params_q" id="params_q" value="<%= params[:query] %>" />
    <input type="hidden" name="query_date" id="query_date" value="<%= params[:query][:date].present? ?  params[:query][:date] : ""  %>"  />
<% end %>
<%= javascript_include_tag 'v2/merchant/hold_money'  %>