<%#= render partial: 'v2/merchant/shared/subheader',locals:{main_head:'Reserve Schedule Release',sub_head:"Reserve Schedule Release Transactions",sub_head1:''} %>
<div class="m-subheader">
  <div class="d-flex align-items-center">
    <div class="mr-auto">
      <ul class="m-subheader__breadcrumbs m-nav m-nav--inline set-path">
        <li class="m-nav__item">
          <a href="/v2/merchant/hold_money/reserve_money" class="m-nav__link">
            <span class="my-order-nav">
                Funding Schedule Release
            </span>
          </a>
        </li>
        <li class="m-nav__separator">
          <%= image_tag "v2/merchant/icons/angle.svg"%>
        </li>
        <li class="m-nav__item">
          <a href="#" class="m-nav__link">
              <span class="order-active">
                Reserve Release Transactions
              </span>
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>

<div class="m-content">
  <div class="row">
    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
      <div class="page-title mb-4">
        Reserve Release Transactions [<%= @hold_in_rear.created_at.strftime("%m/%d/%Y") %>]
      </div>
    </div>
  </div>
  <div class="m-portlet m-portlet--mobile m-portal_datatable">
    <div class="m-portlet__body">
      <!--begin: Datatable -->
      <%= render partial: "v2/merchant/shared/funding_show_datatable",locals: {filter_path:reserve_transactions_v2_merchant_hold_money_index_path, type: "reserve"} %>
    </div>
  </div>
</div>
<%= render partial: 'v2/merchant/shared/export_modal', locals: {title: "Export Reserve Release", type: TypesEnumLib::WorkerType::RserveReleaseExport} %>
<%= javascript_include_tag 'v2/merchant/bootstrap-daterangepicker' %>