    <header id="m_header" class="m-grid__item    m-header " m-minimize-offset="200" m-minimize-mobile-offset="200">
        <div class="m-container m-container--fluid m-container--full-height">
            <div class="m-stack m-stack--ver m-stack--desktop">
                <!-- BEGIN: Brand -->
                <div class="m-stack__item m-brand logo_section">
                    <div class="m-stack m-stack--ver m-stack--general">
                        <div class="m-stack__item m-stack__item--middle m-brand__logo m-brand__cartlogo">
                            <!-- <a id="close__leftsidebar">
                                <i class="la la-close pull-right side_close_button" id="close__leftsidebar"></i>
                            </a> -->
                        </div>
                    </div>
                </div>
                <!-- END: Brand -->
                <div class="m-stack__item m-stack__item--fluid m-header-head" id="m_header_nav">
                    <!-- BEGIN: Horizontal Menu -->
                    <button class="m-aside-header-menu-mobile-close  m-aside-header-menu-mobile-close--skin-dark "
                            id="m_aside_header_menu_mobile_close_btn">
                        <i class="la la-close"></i>
                    </button>
                    <div id="m_header_menu"
                         class="m-header-menu m-aside-header-menu-mobile m-aside-header-menu-mobile--offcanvas  m-header-menu--skin-light m-header-menu--submenu-skin-light m-aside-header-menu-mobile--skin-dark m-aside-header-menu-mobile--submenu-skin-dark ">
                        <ul class="m-menu__nav  m-menu__nav--submenu-arrow ">
                            <li class="m-menu__item  m-menu__item--submenu m-menu__item--rel"
                                m-menu-submenu-toggle="click" m-menu-link-redirect="1" aria-haspopup="true">
                                <div class="m-stack__item m-brand  m-brand--skin-dark menue_bar">
                                    <div class="m-stack m-stack--ver m-stack--general">
                                        <div class="m-stack__item m-stack__item--middle m-brand__tools">
                                            <!-- BEGIN: Left Aside Minimize Toggle -->
                                            <a  id="m_aside_left_minimize_toggle"
                                               class="close">

                                                <div id="open_sidebar"   class="open ">
                                                    <span></span>
                                                    <span class="small_right_sidebar"></span>
                                                    <span></span>
                                                </div>
                                            </a>
                                            <!-- END -->
                                            <a id="m_aside_header_menu_mobile_toggle" href="javascript:;"
                                               class="m-brand__icon m-brand__toggler m--visible-tablet-and-mobile-inline-block">
                                                <span></span>
                                            </a>
                                            <!-- END -->
                                            <!-- BEGIN: Topbar Toggler -->
                                            <a id="m_aside_header_topbar_mobile_toggle" href="javascript:;"
                                               class="m-brand__icon m--visible-tablet-and-mobile-inline-block">
                                                <i class="flaticon-more"></i>
                                            </a>
                                            <!-- BEGIN: Topbar Toggler -->
                                        </div>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <i class="fa top-searchbar" id="searchfilter">
                        <%= image_tag "customers/images/magnifing_glass.svg" %>
                    </i>
                    <!-- <input type="text" class="m-search"  placeholder="Search"> -->
                    <!-- END: Horizontal Menu -->                                <!-- BEGIN: Topbar -->
                    <div id="m_header_topbar" class="m-topbar  m-stack m-stack--ver m-stack--general">
                        <div class="m-stack__item m-topbar__nav-wrapper">
                            <ul class="m-topbar__nav m-nav m-nav--inline">

                                <li class="m-nav__item m-nav__item--accent m-dropdown m-dropdown--large m-dropdown--arrow m-dropdown--align-center  m-dropdown--mobile-full-width"  m-dropdown-persistent="1" >
                                    <a href="#" class="m-nav__link m-dropdown__toggle" id="m_topbar_notification_icon">
                                        <span class="m-nav__link-badge"></span>
                                        <span class="">
                                            <span class="m-nav__link-icon-wrapper">
                                                <%= image_tag "customers/images/notification/bell_no_notification.svg" , class: "notification_bell" %>
                                                <span class="alert_message notification_numbers"><%= Notification.where(recipient_id: current_user.id,read_at: nil).where.not(text: nil).count  %></span></span>
                                        </span>
                                    </a>

                                    <!---   Today Task ---->

                                    <div class="w3-sidebar w3-bar-block w3-card w3-animate-right" id="rightMenu">
                                         <div class="notification-main-bar">
                                             <%= image_tag "customers/images/notification/notification-color-bell.svg" %>

                                            <p class="notification-class">Notifications</p>

                                        </div>
                                        <button id="today-notification" data-id="span1"  class="accordion today-notification">Today
                                            <span class="show-more show-more-text" id="span1">Show more</span>
                                        </button>

                                        <div id="notifications" class="panel">
                                            <% Notification.where(recipient_id: current_user.id).where("Date(created_at) = ? ",Date.today).where.not(text: nil).order("created_at DESC").each do |noti| %>
                                                <%= render partial: 'notifications/notification' , locals: {notification: noti} %>
                                            <%end%>
                                        </div>


                                        <button id="yesterday-notification" data-id="span1"  class="accordion yesterday-notification">Yesterday
                                            <span class="show-more show-more-text" id="span1">Show more</span>
                                        </button>

                                        <div id= "yesterday-notifications" class="panel">
                                            <% Notification.where(recipient_id: current_user.id).where("Date(created_at) = ? ",Date.today - 1).where.not(text: nil).order("created_at DESC").each do |noti| %>
                                                <%= render partial: 'notifications/notification' , locals: {notification: noti} %>
                                            <%end%>
                                        </div>

                                        <button id="older-notification" data-id="span1"  class="accordion older-notification">Older
                                            <span class="show-more show-more-text" id="span1">Show more</span>
                                        </button>

                                        <div id="older-notifications" class="panel">
                                            <% Notification.where(recipient_id: current_user.id).where("Date(created_at) < ? ",Date.today - 1).where.not(text: nil).order("created_at DESC").each do |noti| %>
                                                <%= render partial: 'notifications/notification' , locals: {notification: noti} %>
                                            <%end%>
                                        </div>
                                    </div>

                                    <!------- End Today Task------->
                                </li>
                                <li id="m_quick_sidebar_toggle" class="m-nav__item m-nav__item--info m-nav__item--qs">
                                    <a href="#" class="m-nav__link m-dropdown__toggle">
                                                <span class="m-nav__link-icon m-nav__link-icon-alt">
                                                    <span class="m-nav__link-icon-wrapper">
                                                        <span class="m-topbar__userpic m-card-profile__pic-wrapper">
                                                            <%= image_tag @user.profile_image.present? ?  @user.profile_image.document.url(:thumb) : "customers/images/profile/edit-profile.svg" , class: "m--img-rounded m--marginless m--img-centered"  %>
                                                        </span>
                                                    </span>
                                                </span>
                                    </a>
                                </li>
                                <li class="m-nav__item m-nav__item--info m-nav__item--qs">
                                    <% if params[:action] == "index" || params[:controller].include?("profile") %>
                                        <a id="r_m_aside_left_minimize_toggle" class="close r_aside_left_minimize_toggle">

                                            <div  class="open ">
                                                <span></span>
                                                <span class="small_responsive_sidebar"></span>
                                                <span></span>
                                            </div>
                                        </a>
                                    <%else%>
                                        <%  if params[:controller].include?"orders" %>
                                            <div class="go-back">
                                                <a href=<%=customers_orders_path %>>
                                                    <i class="la la-arrow-left"></i>
                                                </a>
                                                <p class="back_to_my_order_text">Back to my orders</p>
                                            </div>
                                        <%else%>
                                            <div class="go-back">
                                                <a href=<%=customers_disputes_path %>>
                                                    <i class="la la-arrow-left"></i>
                                                </a>
                                                <p class="back_to_my_order_text">Back to refunds</p>
                                            </div>
                                        <%end%>
                                    <%end%>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <!-- END: Topbar -->
                </div>
            </div>
        </div>
    </header>