<!-- <div class="m-subheader "> -->
    <div class="filter-form">
        <%= form_tag( '/customers/orders', :method => :get ) do %>
            <div class="row">
                <div class="col-lg-4">
                    <div class="form-group m-form__group">
                        <label class="cancel_text" for="exampleInputEmail1">
                            Order ID
                        </label>
                        <%= text_field_tag 'order_id' , params[:order_id] , class: "form-control m-input m-input--square" , id: "exampleInputEmail1" , placeholder: "00000"%>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="form-group m-form__group">
                        <label class="cancel_text" for="transactionID">
                            Transaction ID
                        </label>
                         <%= text_field_tag 'transaction_id' , params[:transaction_id] , class: "form-control m-input m-input--square" , id: "transactionID" , placeholder: "00000"%>
                    </div>
                </div>
                <div class="col-lg-4" id="m_filter_dd">
                    <div class="form-group m-form__group">
                        <label class="cancel_text" for="orderStatus">
                            Order Status
                        </label>

                        <%= select_tag(:order_status, options_for_select(Tracker.statuses.map {|k, v| [v.humanize.capitalize, k]} , params[:order_status]) ,  :include_blank => true , :class => 'form-control m-bootstrap-select m-bootstrap-select--pill  m_selectpicker reason-dd-1' ) %>
                    </div>
                </div>
            </div>



            <div class="row">
                <div class="col-lg-4">
                    <div class="form-group m-form__group">
                        <label class="cancel_text" for="OrderDate">
                            Order Date
                        </label>
                        <%= text_field_tag 'order_date', params[:order_date] , class: "form-control m-input m-input--square"  %>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="form-group m-form__group">
                        <label class="cancel_text" for="DeliveryDate">
                            Delivery Date
                        </label>
                        <%= text_field_tag 'deliver_date' , params[:deliver_date] , class: "form-control m-input m-input--square" %>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="form-group m-form__group">
                        <label class="cancel_text" for="MerchantName">
                            Merchant Name
                        </label>
                        <%= text_field_tag 'merchant_name' , params[:merchant_name] , class: "form-control m-input m-input--square" %>
                    </div>
                </div>
            </div>



            <div class="row">
                <div class="col-lg-4">
                    <div class="form-group m-form__group">
                        <label class="cancel_text" for="RefundCase">
                            Refund Case #
                        </label>
                         <%= text_field_tag 'refund_no' , params[:refund_no] , class: "form-control m-input m-input--square" , placeholder: "00000"%>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="form-group m-form__group">
                        <label class="cancel_text" for="CancelOrderCase">
                            Cancel Order Case #
                        </label>
                        <%= text_field_tag 'cancel_no' , params[:cancel_no] , class: "form-control m-input m-input--square" , placeholder: "00000"%>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4"></div>
                <div class="col-lg-4"></div>
                <div class="col-lg-4">
                    <div class="row">
                        <div class="col-lg-1"></div>
                        <div class="col-lg-5 col-md-4 col-xs-12">
                            <a href="#" class="btn  btn-cancel-search">
                                Cancel
                            </a>
                        </div>
                        <div class="col-lg-5 col-md-4 col-xs-12">

                            <%= button_tag(type: "submit", class: "btn  btn-search") do %>
                                <span>
                                    <span>
                                       Search
                                    </span>
                                    <i class="fa fa-search"></i>
                                </span>
                            <% end %>
                        </div>
                    </div>
                </div>
            </div>
        <%end%>
    </div>

    <%= form_tag( '/customers/orders', :method => :get  , class: "m-form serach_responsive") do %>
        <!-- <form class="m-form serach_responsive"> -->
        <div class="m-portlet__body">
            <div class="form-group m-form__group">
                <div class="m-input-icon m-input-icon--left">
                    <%= text_field_tag "order_search" , params[:order_search] , class: "form-control m-input search_input" , placeholder: "Search for an order" %>
                    <span class="m-input-icon__icon m-input-icon__icon--left">
                        <span>
                            <i class="fa">
                                <%= image_tag "customers/images/magnifing_glass.svg" %>
                            </i>
                        </span>
                    </span>
                          <%= button_tag(type: "submit", class: "btn  btn-search-responsive") do %>
                    <span>
                        <span>
                           Search
                        </span>
                    </span>
                <% end %>
                </div>
          
            </div>
        </div>
    <%end%>