<div id="m_quick_sidebar" class="m-quick-sidebar m-quick-sidebar--tabbed m-quick-sidebar--skin-light">
    <div class="m-quick-sidebar__content m--hide" id="shop_mobile">
        <div class="tab-content-profile">
            <div class="tab-content-box" >
            </div>
            <div class="user-profile">
                <div class="user-profile-info">
                    <span class="m-topbar__userpic">
                        <a href=<%= edit_customers_profile_path(@user.id) %> >
                          <%= image_tag @user.profile_image.present? ?  @user.profile_image.document.url(:thumb) : "customers/images/profile/edit-profile.svg" , class: "m--img-rounded m--marginless m--img-centered"  %>
                        </a>
                    </span>
                    <h4 class="user-name"><%= @user.name %></h4>
                    <p class="user-email"><%= @user.email %></p>
                    <a href=<%= edit_customers_profile_path(@user.id) %> >
                        <%= image_tag "customers/images/my_profile.svg" %>
                        <span class="my-profile">My Profile</span>
                    </a>
                </div>
                <div class="profile-botton-section">
                    <hr>
                    <ul class="help">
                        <li><a href="#">About us</a></li>
                        <li><a href="#l">FAQ</a></li>
                        <li><a href="#">Privacy policy</a></li>
                        <li><a href="#">Terms of services</a></li>
                    </ul>
                    <hr>
                    <%= image_tag "customers/images/log_out.svg" %>
                    <% if user_signed_in? %>
                        <%= link_to 'Logout' ,  destroy_user_session_path(role: "customer"), method: :delete, data:{ :confirm => "Are you sure?" }, class:'btn btn-sml' %>
                    <% end %>
                </div>
            </div>

        </div>
    </div>
</div>