<div class="col-md-12 card">
  <h4 class="margin-top-20-px-auto-hold-money">Release Fund Transactions</h4>
  <div id="transaction_table">
    <div class="table-responsive">
      <table id="transaction" class="table table-striped table-bordered">
        <thead>


        <th>Txn ID</th>
        <th>Date/Time</th>
        <th>Sender Name</th>
        <th>Receiver Name</th>
        <th>Type</th>
        <th>Status</th>
        <th>Descriptor</th>
        <th>CC#</th>
        <th>Total Tx Amount</th>
<!--        <th>View Details</th>-->

        </thead>
        <tbody>
        <% if @transactions.size > 0  %>
          <% @transactions.each do |t| %>
            <tr data-url= "<%= local_transaction_details_transactions_path(transaction: t.id) %>"  class="cursor-pointer-hold-money show-dynamic-modal hold_click" data-modal_selector="#modal_id" data-modal_container_selector="#custom_modal" data-method = "POST">
              <td><%= t.id %></td>
              <td class="timeUtc">
                <%= t.timestamp.present? ? t.timestamp : t.created_at.strftime("%Y-%m-%d %H:%M:%S %z") %>
              </td>
              <% if t.from.present? && (t.from == "Debit" || t.from=='Credit')  %>
                  <td><% t.from %></td>
                <% else %>
                 <td>
                <%= t.from.present? ? Wallet.find_by(id:t.from).try(:[],'name') : '--' %>
                  </td>
                <% end %>
              <td><%= t.to.present? ? Wallet.find_by(id:t.to).try(:[],'name') : '--' %> </td>
              <td><%= t.main_type.try(:capitalize) %></td>
              <td>
                <% res=refund_status_check_loc(t) %>
                <% if res =='partial refunded'%>
                  <button type="button" class="btn btn-sm partial-refunded-hold-money" disabled><%= res %></button>
                <% elsif res=='refunded' %>
                  <button type="button" class="btn btn-sm refunded-hold-money"  disabled><%= res %></button>
                <% else %>
                  <button type="button" class="btn btn-sm btn-success success-hold-money" disabled><%= res %></button>
                <% end %>
              </td>
              <td>
                <%= t.payment_gateway.try(:name).present? ? t.payment_gateway.try(:name) : t[:tags].try(:[],'descriptor').present? ? t[:tags].try(:[],'descriptor').try(:humanize) : '--' %>
              </td>
              <td><%= t.card.try(:first6) %>******<%= t.card.try(:last4) %></td>
              <td class="width-10-hold-money">
                <!--------------------------Transfer Logic----------------->
                <%= number_with_precision(number_to_currency(t.amount.to_f - t.privacy_fee.to_f)) %>
              </td>
<!--              <td>-->
                <%#= number_with_precision(number_to_currency(t.amount.to_f), precision: 2, delimiter: ',') %>
<!--              </td>-->
<!--              <td">-->
                <%#= number_with_precision(number_to_currency(t.amount.to_f - t.privacy_fee.to_f)) %>
<!--              </td>-->
<!--              <td>-->
                <%#= number_with_precision(number_to_currency(t.privacy_fee.to_f), precision: 2) %>
<!--              </td>-->
<!--              <td>-->
                <%#= number_with_precision(number_to_currency(t.tip.to_f), precision: 2) %>
<!--              </td>-->
<!--              <td>-->
                <%#= number_with_precision(number_to_currency(t.fee.to_f), precision: 2) %>
                <%#= show_fee(t, @user) %>
<!--              </td>-->
<!--              <td>-->
                <%#= number_with_precision(number_to_currency(t.fee.to_f - t.privacy_fee.to_f), precision: 2) %>
<!--              </td>-->
<!--              <td>-->
                <%#= number_with_precision(number_to_currency(t.amount.to_f - t.fee.to_f - t.reserve_money.to_f), precision: 2) %>
<!--              </td>-->
<!--              <td>-->
                <%#= number_with_precision(number_to_currency(t.reserve_money.to_f), precision: 2) %>
<!--              </td>-->
              <!--<td"><span class="text-success">$ <%#=number_with_precision(t[:actualAmount].to_f, :precision => 2)  %></span></td>-->
<!--              <td>-->
                <%#= link_to '<button class="btn btn-sm btn-primary"><i class="fa fa-eye"></i></button>'.html_safe, transaction_details_admins_path(transaction: t.seq_transaction_id), method: :post ,remote: true %>
                <%# res=refund_status_check_loc(t) %>
<!--                <br>-->
                <%# if res =='partial refunded'%>
<!--                <button type="button" class="btn btn-sm"  ="background-color: red; color: white; " disabled><%#= res %></button>-->
                <%# elsif res=='refunded' %>
<!--                  <button type="button" class="btn btn-sm" ="width: 87px; background-color: red; color: white; " disabled><%#= res %></button>-->
                <%# else %>
<!--                  <button type="button" class="btn btn-sm btn-success" ="width: 87px;" disabled><%#= res %></button>-->
                <%# end %>
<!--                  </td>-->
            </tr>
          <% end %>
        <% else %>
          <tr><td colspan="16"><h3 class="no-entries-hold-money">No Entries Yet!</h3></td></tr>
        <% end %>
        </tbody>
      </table>
      <% if @transactions.present? %>
        <div class="col-md-12 padding-bottom-50-px-hold-money">
          <%= paginate @transactions, :theme => 'twitter-bootstrap-3', :pagination_class => "pagination-small pagination-centered pull-right padd"%>
        </div>
      <% end %>
      <br/>
      <br/>
    </div>
  </div>
</div>

<section id="transaction_modal"></section>
<section id="custom_modal"></section>
<section id="dispute_case_modals"></section>
