<%#= stylesheet_link_tag asset_path("admins/profile_details/profile_styles"), media: 'all', 'data-turbolinks-track' => 'reload' %>
<div class="modal fade" id="unlock1" tabindex="-1" role="dialog" aria-labelledby="modal-label-69" aria-hidden="true">
  <div class="modal-dialog modal-sm">
    <div class="modal-content modal_content_unlock">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h6 id="modal-label-69">Unlock Wallet<%#= params[:type].titleize %></h6>
      </div>
          <div class="modal-body">
            <div class="phone_number_div">
              <div class="row">
                <div class="col-md-12">
                  <div class="col-md-12">
                    <div class="card">
                      <div class="col-md-2"></div>
                      <div class="col-md-8">
                        <div class="form-group">
                          <label class="control-label margin_top_10px"><span>Email</span></label>
                          <input type="email" value="<%= current_user.email %>" class="form-control" id="email" disabled>
                        </div>
                        <div class="form-group">
                          <label class="control-label"><span>Password</span></label>
                          <input type="password" value=""  id="admin_password" class="form-control" autocomplete="off">
                        </div>
                        <span class="col-md-6" id="info-text1"> Please try again!</span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

          </div>

          <div class="modal-footer">
            <button type="button" class="btn btn-secondary btn-sm pull-left" data-dismiss="modal">Close</button>
            <a class="btn btn-primary btn-sm btn-width" id="password_btn_verify" >Verify</a>
          </div>
    </div>
  </div>
</div>