<%= stylesheet_link_tag asset_path("admins/profile_details/profile_styles"), media: 'all', 'data-turbolinks-track' => 'reload' %>
<section class="example">
  <div class="">
    <div class="table-responsive">
      <table id="datatable-keytable-merchants" class="table table-striped table-bordered table-hover" cellspacing="0" cellpadding="0">
        <thead>
        <tr>
          <th>Merchant ID</th>
          <th>Merchant Name</th>
          <th>DBA Name</th>
          <th>Owner's Name</th>
          <th>Merchant Number</th>
          <th>Category</th>
          <th>Status</th>
          <th>Action</th>
        </tr>
        </thead>
        <tbody>
        <% if @merchantss.present? %>
            <% @merchantss.each do |l| %>
                <tr>
                  <td>M-<%= l[:id] %></td>
                  <td><%= l[:name] %></td>
                  <td><%= l[:dba] %></td>
                  <td><%= l[:ownerName]%></td>
                  <td><%= l[:merchant_number] %></td>
                  <td><%= l[:category].present? ? l[:category][:name].present? ? l[:category][:name] : '' : '--' %></td>
                  <td>
                    <% if l[:archived] == false && l[:block] == false  %>
                        <button class="btn btn-success btn-sm verify_status background_clolor_active_button"> Active</button>
                    <% elsif l[:block] == true && l[:archived] == false %>
                      <button class="btn btn-default btn-sm verify_status color_for_pending_btn"> Pending</button>
                    <% elsif l[:archived] == true  %>
                      <button class="btn btn-default btn-sm verify_status color_for_inactive"> Inactive</button>
                    <% end %>
                  </td>
                  <!--profile_isos_path(l[:slug])-->
                  <td><%= link_to("View",merchant_id_locations_path(l[:slug]),class: 'btn btn-default color_for_view_btn') %></td>
                </tr>
            <% end %>
        <% end %>
        </tbody>
      </table>
    </div>
  </div>
</section>