<%= stylesheet_link_tag asset_path("admins/profile_details/profile_styles"), media: 'all', 'data-turbolinks-track' => 'reload' %>
<div class="modal fade"  tabindex="-1"  role="dialog" id="transfer_money">
  <div class="modal-dialog modal-lg form-group">
    <div class="modal-content">
      <div class="modal-header text-white modal_header_text">
        <div class="width_max">
          <span class="modal-title modal_title_text" ><i class="fa fa-money"></i><span> Account Transfer</span></span>
          <button type="button" class="close margin_top_2px_imp" data-dismiss="modal">&times;</button>
        </div>
      </div>
      <%= simple_form_for transfer, url: admins_transfers_transfer_post_path, method: :post do |f|%>
          <div class="row" id="transafer_class">
            <div class="col-md-12">
              <div class="card-header bordered">
                <div class="card-body">

                  <input id="transfer_id" class="form-control" type="hidden" value="0.0" name="transfer_id">
                  <div class="row">
                    <div class="col-md-6">
                      <div class="form-group">
                        <span  class="float_right">Available Balance: $ <%= @balance.present? ? number_with_precision(@balance, :precision => 2) : '' %>  <span id="source_available_amount"></span></span>
                        <input type="hidden" id='source_available_amount_check' value="<%= @balance.present? ? number_with_precision(@balance, :precision => 2) : '' %>">
                        <%= f.label :transfer_from,class: 'control-label' %><br/>
                        <!---------------Select Company Box----------->
                        <%= text_field_tag :fromInput, @wallet.name, class: 'form-control', data: { autocomplete: autocomplete_user_name_admins_transfers_path,type: 'from'}, disabled: true %>
                        <input type="hidden" name="transfer[from_wallet]" value="<%= @wallet.id %>">
                        <input type="hidden" id="transferFrom" value="<%= @wallet.user_id %>">
                        <input type="hidden" id="usertransferFrom" value="<%= @wallet.users.first.id %>">
                        <!--<input type="text" class="form-control userInput" data-type="from" id="fromInput" autocomplete="off" required>-->
                        <!--<input type="hidden" id="fromInputHidden">-->
                        <!--<p id="from_wallet_error" class="wallet_error_color"></p>-->
                        <!--<div id="fromMainDiv" class="display_none">-->
                        <!--<div class="col-md-6" class="padding_zero margin_top_10px" id="location_from_main_div">-->
                        <!--<select id="fromLocation" class="form-control transferLocation width_97_perc" data-type="from" ></select>-->
                        <!--</div>-->
                        <!--<div class="col-md-6" class="padding_zero margin_top_10px" id="wallet_from_main_div">-->
                        <!--<select id="fromWallet" class="form-control transferWallet width_97_perc" data-type="from"></select>-->
                        <!--</div>-->
                        <!--</div>-->
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="form-group">
                        <span class="float_right">Available Balance: $ <span id="destination_available_amount"></span></span>
                        <%= f.label :transfer_to,class: 'control-label' %><br/>
                        <!---------------Search User Box----------->
                        <%= text_field_tag :toInput, params[:toInput], class: 'form-control', required:true, data: { autocomplete: autocomplete_user_name_admins_transfers_path,type: 'to'}  %>
                        <!--<input type="text" class="form-control userInput" data-type="to" id="toInput" autocomplete="off" required>-->
                        <p id="wallet-error" class="open-error" ></p>
                        <input type="hidden" id="toInputHidden">
<!--                        <p id="to_wallet_error" class="wallet_error_color"></p>-->
                        <div id="toMainDiv" class="display_none">
                          <div class="col-md-6 padding_zero margin_top_10px" id="location_to_main_div">
                            <select id="toLocation" class="form-control transferLocation width_97_perc" data-type="to"></select>
                          </div>
                          <div class="col-md-6 padding_zero margin_top_10px" id="location_to_main_div">
                            <select id="toWallet" class="form-control transferWallet width_97_perc" data-type="to"></select>
                            <br>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="form-group">
                        <%= f.label :amount,class: 'control-label' %><br/>
                        <div class="input-icon icon_inside_input_field">
                          <i>$</i>
                          <%= f.text_field :amount, { id: "amount", value:"", class: 'form-control', required: true, placeholder: "0.00"}%>
                          <p id="amount-error" class="open-error" ></p>
                        </div>
                      </div>
                    </div>
                    <br>
                    <div class="col-md-6">
                      <div class="form-group">
                        <%= f.label :transfer_date,class: 'control-label' %><br/>
                        <%= f.text_field :transfer_date, { id: "transfer_date", class: 'form-control', required: true}%>
                      </div>
                    </div>
                    <br>
                    <div class="col-md-12 padding_zero">
                      <br>
                      <div class="col-md-6">
                        <div class="form-group">
                          <label class="control-label"><span>Memo (optional)</span></label>
                          <%= f.text_field :memo, id:"memo", class:"form-control",maxlength: '32'%>
                          <span>Use letters & numbers only (upto 32 characters).</span>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-12 padding_zero" id="verification_box">
                      <br>
                      <div class="col-md-offset-4 col-md-4 email_label">
                        <div class="col-md-12">
                          <div class="form-group">
                            <label class="control-label margin_top_10px"><span>Email</span></label>
                            <input type="email" value="<%= current_user.email %>" class="form-control" disabled>
                          </div>
                        </div>
                        <div class="col-md-12">
                          <div class="form-group">
                            <label class="control-label"><span>Password</span></label>
                            <input type="password" value="" id="password" class="form-control">
                          </div>
                        </div>
                        <div class="col-md-12">
                          <div class="form-group">
                            <a class="btn btn-primary btn-sm width_max" id="password_btn">Verify</a>
                          </div>
                        </div>
                        <span class="align_center" id="info-text">Please verify yourself!</span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <div class="col-md-12 align_center">
              <a class="btn btn-info" id="verification_btn">Transfer Money</a>
              <%= f.submit "Transfer Money", class:"btn btn-info ", id:"submit_transfer_btn" %>
            </div>
          </div>
      <% end %>
    </div>
  </div>
</div>

<%= javascript_include_tag 'admins/isos/transfer_money.js' %>