<%= stylesheet_link_tag asset_path("admins/profile_details/profile_styles"), media: 'all', 'data-turbolinks-track' => 'reload' %>
<div class="modal fade <%= params[:trans].present? ? 'right' : '' %>" id="unlock" tabindex="-1" role="dialog" aria-labelledby="modal-label-69" aria-hidden="true">
  <div class="modal-dialog modal-sm">
    <div class="modal-content modal_content_unlock">
      <div class="modal-header">
        <button type="button" class="close close_unlock" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h6 id="modal-label-69">Unlock <%= params[:type].try(:titleize) %></h6>
      </div>
      <%= form_tag(unlock_post_isos_path, method: :post, data:{confirm: "Are you sure ?"}) do %>
          <div class="modal-body">
            <div class="phone_number_div">
              <div class="row">
                <div class="col-md-12">
                  <div class="col-md-12">
                    <div class="card">
                      <div class="col-md-2"></div>
                      <div class="col-md-8">
                        <div class="form-group">
                          <label class="control-label margin_top_10px"><span>Email</span></label>
                          <input type="email" value="<%= current_user.email %>" class="form-control" disabled>
                        </div>
                        <div class="form-group">
                          <label class="control-label"><span>Password</span></label>
                          <input type="password" value="" onkeypress="return event.keyCode != 13;"  id="password" class="form-control">
                        </div>
                        <input type="hidden" class="form-control" name="wallet_id" value="<%= @wallet.try(:id) %>" id="wallet_id"/>
                        <input type="hidden" class="form-control" name="fee_id" value="<%= @fee.try(:id) %>" id="fee_id"/>
                        <input type="hidden" class="form-control" name="location_id" value="<%= @location.try(:id) %>" id="location_id"/>
                        <input type="button" class="btn btn-primary btn-sm btn-block"  id="password_btn" value="Submit"/>
                        <div class="col-md-6" id="info-text"> </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

          </div>

          <div class="modal-footer">
            <button type="button" class="btn btn-secondary btn-sm pull-left unlock_close" data-dismiss="modal">Close</button>
            <% unless params[:trans].present? || params[:card].present? %>
            <%= submit_tag("Unlock" ,class: "btn btn-secondary btn-sm pull-right void_submit_button") %>
              <% end %>
          </div>
      <% end %>
    </div>
  </div>
</div>