<%= stylesheet_link_tag asset_path("admins/profile_details/profile_styles"), media: 'all', 'data-turbolinks-track' => 'reload' %>
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<div class="col-md-12">
  <div class="col-md-2 margin_top_30px">
    <% if @user.agent? %>
      <h3>Affiliates</h3>
    <% else %>
        <h3>Agents & Affiliates</h3>
    <% end %>
  </div>
  <div class="col-md-9">
    <div class="col-md-12 user_count">
      <div class="col-md-4">
        <div class="col-md-12 agent_count <% if @user.agent? %> display_none<% end %>">
          <div class="col-md-12">
            <h5 class="count_text_tag"><%= @agents_count %></h5>
          </div>
          <div class="col-md-12">
            <p class="total_agent_text">Total Agents</p>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="col-md-12 affiliate_count">
          <div class="col-md-12">
            <h5 class="total_affilate_text"><%= @aff_count %></h5>
          </div>
          <div class="col-md-12">
            <p class="total_agent_text">Total Affiliates</p>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="col-md-12 active_user">
          <div class="col-md-12">
            <h5 class="total_affilate_text"><%= @active_users %></h5>
          </div>
          <div class="col-md-12">
            <p class="total_agent_text">Total Active</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="col-md-12 w3-card agent_affiliate_table_top_div">
  <div class="in"></div>
  <div class="sidebar-overlay" id="sidebar-overlay"></div>
  <section class="section">
    <div class="row">
      <div class="col-md-12">
        <div class="card sameheight-item items" data-exclude="xs,sm,lg">
          <div class="card-header bordered border_bottom_none_imp">
            <nav class="nav_bar_aggent_aff">
              <div class="nav nav-tabs nav-fill" id="nav-tab" role="tablist">
                <% if !@user.agent? %>
                <a href="<%= agent_affiliates_isos_path(type: "all",format: params[:format]) %>" class="nav-item nav-link <%= params[:type].nil? || params[:type] == "all" ? 'active' : ''%>" id="nav-home-tab" onclick="$('#cover-spin').show(0)">All</a>
                <a href="<%= agent_affiliates_isos_path(type: "agents",format: params[:format]) %>" class="nav-item nav-link <%= params[:type] == "agents" ? 'active' : ''%>" id="nav-profile-tab" onclick="$('#cover-spin').show(0)">Agents</a>
                <% end %>
                <a href="<%= agent_affiliates_isos_path(type: "affiliates",format: params[:format]) %>" class="nav-item nav-link <%=params[:type] == "affiliates" ? 'active' : ''%>" id="nav-profile-tab" onclick="$('#cover-spin').show(0)">Affiliates</a>
              </div>
            </nav>
          </div>
          <div class="tab_data_details">
            <section class="example">
              <div class="">
                <div class="table-responsive">
                  <table id="datatable-keytable-agen_aff" class="table table-striped table-bordered table-hover" cellspacing="0" cellpadding="0">
                    <thead>
                    <tr>
                      <th>ID</th>
                      <th>DBA Name</th>
                      <th>Full Name</th>
                      <% if params[:type] == "all" or params[:type].blank? %>
                        <th>Type</th>
                      <% end %>
                      <th>Phone Number</th>
                      <th>Status</th>
                      <th>Action</th>

                    </tr>
                    </thead>
                    <tbody>
                    <% if @users.present? %>
                        <% @users.each do |u| %>
                            <tr>
                              <td>
                                <% if u[:role] == "agent" %>
                                  A-<%= u[:id] %>
                                <% elsif u[:role] == "affiliate" %>
                                  AF-<%= u[:id] %>
                                <% end %>
                              </td>
                              <td><%= u[:dba] %></td>
                              <td><%= u[:name] %></td>
                              <% if params[:type] == "all" or params[:type].blank? %>
                                <td><%= u[:role].try(:titleize)%></td>
                              <% end %>
                              <td><%= u[:phone_number] %></td>
                              <td>
                                <% if u[:archived] == false && u[:block] == false  %>
                                    <button class="btn btn-success btn-sm verify_status background_clolor_active_button"> Active</button>
                                <% elsif u[:block] == true or u[:archived] == true %>
                                    <button class="btn btn-default btn-sm verify_status color_for_inactive_aggent"> Inactive</button>
                                <% end %>
                              </td>
                              <td><%= link_to("View",profile_isos_path(u[:slug]),class: 'btn btn-default color_for_view_btn') %></td>
                            </tr>
                        <% end %>
                    <% end %>
                    </tbody>
                  </table>
                </div>
              </div>
            </section>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
