<%= stylesheet_link_tag asset_path("admins/profile_details/profile_styles"), media: 'all', 'data-turbolinks-track' => 'reload' %>
<%=simple_form_for Image.new, url: save_bank_account_isos_path(format: params[:format]),:html => {:multipart => :true} do  |f|%>
  <div class="col-md-12 card">
    <div class="container">
      <h1 class="text-center">Bank Account</h1>
      <% if @user.wallets.present? || @user.admin_user? %>
        <div class="row">
          <div class="col-md-12">
            <div class="row">
              <div class="form-group col-md-6">
                <label>Bank Account Type</label>
                <%= select_tag 'user[system_fee][bank_account_type]', options_for_select(Location.bank_account_types.keys.map {|a| [a.humanize, a]}, @user.system_fee.try(:[], 'bank_account_type')), include_blank: "Choose", class: "form-control input-lg" %>
              </div>
            </div>
          </div>
          <% if @user.wallets.present? %>
            <% wallet_id = @user.wallets.primary.first.id if @user.wallets.present? %>
            <% img_url=Image.where(location_id: wallet_id).first if wallet_id .present? %>
            <div class="col-md-12">
                <div class="row">
                  <% if img_url.present? %>
                    <div class="form-group col-md-6 <%=img_url.present? ? '': "display_none" %>" id="img_up">
                      <label class="width_max" for="email">Void Check</label>
                      <div class="col-md-3 img-margin">
                        <%= image_tag img_url.add_image.url, :alt => 'product_image' %>
                      </div>
                      <div class="col-md-3 button-margin">
                        <div class="col-md-12">
                          <%= link_to '', img_url.add_image.url, download: img_url.add_image,target: '_blank', class: 'fa fa-download' %>
                        </div>
                        <div class="col-md-12">
                          <%= link_to '','#',id: 'delete_image_button',data:{ image_id: @user.wallets.primary.first.id },class: 'fa fa-close' %>
                        </div>
                      </div>
                    </div>
                  <% end %>
                  <div class="form-group col-md-6 <%=img_url.present? ? "display_none" : '' %>" id="choose_img" >
                    <label class="width_max margin_top_10px" for="email">Void Check</label>
                      <input type="hidden" name="image[usage_id]" value="<%= @user.wallets.primary.first.id %>">
                      <input type="hidden" name="image[location_id]" value="<%= @user.wallets.primary.first.id %>">
                    <input type="file" name="image[add_image]" class="choose_img width_35per_imp" id="image_store">
                    <div class="col-md-3"></div>
                  </div>
                </div>
              </div>
          <%end%>
          <div class="col-md-12">
            <div class="row">
              <div class="form-group col-md-6">
                <div class="input-icon icon_inside_input_field">
                  <label>Name on Bank Account</label>
                  <input class="system_fee form-control input-lg" type="text" name="user[system_fee][bank_account_name]" value='<%= @user.system_fee.try(:[], 'bank_account_name') %>'/>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-12">
            <div class="row">
              <div class="form-group col-md-6">
                <div class="input-icon icon_inside_input_field">
                  <label>Bank Routing#</label>
                  <input class="system_fee form-control buyrate_fields input-lg" type="text" id='' name="user[system_fee][bank_routing]" minlength="9" maxlength="9" data-validate="false" value="<%= @user.system_fee.try(:[], 'bank_routing').present? ? @user.system_fee.try(:[], 'bank_routing') : '' %>"/>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-12">
            <div class="row">
              <div class="form-group col-md-6">
                <div class="input-icon icon_inside_input_field">
                  <label>Bank Account#</label>
                  <input class="form-control buyrate_fields input-lg" type="password" id="password-field" name="user[system_fee][bank_account]" minlength="3" maxlength="24" value='<%= @user.system_fee.try(:[], 'bank_account') %>'/>
                  <!--<a id="transfer_new" class="btn btn-success color_white" data-toggle="modal" data-target="#transfer_money">New Transfer</a>-->
                  <span toggle="#password-field" class="fa fa-fw fa-eye field-icon my-password"></span>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-12">
            <div class="bottom-padding">
              <% if @user.admin_user? %>
                <%= link_to 'Back', profile_admins_admin_users_path(params[:format]), class: 'btn button-color button-radius show-cover-spin' %>
              <%else%>
                <%= link_to 'Back', profile_isos_path(params[:format]), class: 'btn button-color button-radius show-cover-spin' %>
              <%end%>
              <%=f.submit 'Save',id: 'save_button' ,class: 'btn butt-color button-radius'%>
            </div>
          </div>
        </div>
    <% end %>
   </div>
  </div>
  <div class="modal fade" id="admin_confirm">
  <div class="modal-dialog modal-sm width_500px_imp">
    <div class="modal-content width_500px_imp">
      <!-- Modal Header -->
      <div class="modal-header text-left verify_header_tag">
        <h4 class="modal-title float-left float_left"><span class="ml-2">Verify</span></h4>
        <button type="button" class="close" data-dismiss="modal">×</button>
      </div>
      <!-- Modal body -->
      <div class="modal-body bg_color_whitesmoke">
        <div class="bg_color_whitesmoke">
          <div class="card-body">
            <div class="row">
              <div class="form-group col-md-offset-2 col-md-8">
                <label class="font_size_16px" for="reason">Email</label>
                <br>
                <input type="email" value="<%= current_user.email %>" class="form-control" disabled>
              </div>
              <div class="form-group col-md-offset-2 col-md-8">
                <label class="font_size_16px" for="reason">Password</label>
                <br>
                <input type="password" value="" id="password" class="form-control">
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer bg_color_whitesmoke" id="">
        <div class=" col-md-offset-2 col-md-8">
          <div class="form-group">
            <a class="btn btn-primary btn-sm width_max" id="password_btn">Verify</a>
            <br>
            <span class="verify_yourself" id="info-text" >Please verify yourself!</span>
          </div>
        </div>
        <br>
      </div>
    </div>
  </div>
</div>
<% end %>