<%= stylesheet_link_tag asset_path("admins/profile_details/profile_styles"), media: 'all', 'data-turbolinks-track' => 'reload' %>
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<div class="col-md-12">
  <div class="col-md-2 margin_top_30px">
    <h3>Merchants</h3>
  </div>
  <div class="col-md-9">
    <div class="col-md-12 user_count">
      <div class="col-md-4">
        <div class="col-md-12 active_user">
          <div class="col-md-12">
            <h5 class="total_affilate_text"><%= @active %></h5>
          </div>
          <div class="col-md-12">
            <p class="total_agent_text">Total Active</p>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="col-md-12 pending_merchant">
          <div class="col-md-12">
            <h5 class="total_affilate_text"><%= @pending %></h5>
          </div>
          <div class="col-md-12">
            <p class="total_agent_text">Total Pending</p>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="col-md-12 merchant_inactive_users">
          <div class="col-md-12">
            <h5 class="total_affilate_text"><%= @inactive %></h5>
          </div>
          <div class="col-md-12">
            <p class="total_agent_text">Total Inactive</p>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>

<div class="col-md-12 w3-card agent_affiliate_table_top_div">
  <div class="in"></div>
  <div class="sidebar-overlay" id="sidebar-overlay"></div>
  <section class="section">
    <div class="row">
      <div class="col-md-12">
        <div class="card sameheight-item items" data-exclude="xs,sm,lg">
          <div class="card-header bordered border_bottom_none_imp">
            <nav class="nav_bar_aggent_aff">
              <div class="nav nav-tabs nav-fill" id="nav-tab" role="tablist">
                <a href="<%= merchants_isos_path(type: "all",format: params[:format]) %>" class="nav-item nav-link <%= params[:type].nil? || params[:type] == "all" ? 'active' : ''%>" id="nav-home-tab"  onclick="$('#cover-spin').show(0)">All</a>
                <a href="<%= merchants_isos_path(type: "active",format: params[:format]) %>" class="nav-item nav-link <%= params[:type] == "active" ? 'active' : ''%>" id="nav-profile-tab" onclick="$('#cover-spin').show(0)">Active</a>
                <a href="<%= merchants_isos_path(type: "pending",format: params[:format]) %>" class="nav-item nav-link <%= params[:type] == "pending" ? 'active' : ''%>" id="nav-profile-tab" onclick="$('#cover-spin').show(0)">Pending</a>
                <a href="<%= merchants_isos_path(type: "inactive",format: params[:format]) %>" class="nav-item nav-link <%= params[:type] == "inactive" ? 'active' : ''%>" id="nav-profile-tab" onclick="$('#cover-spin').show(0)">Inactive</a>
              </div>
            </nav>
          </div>
          <div class="tab_data_details">
            <%= render partial: 'admins/shared/profiles/merchants_table', :locals => {merchants: @merchants } %>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>