<%= stylesheet_link_tag asset_path("admins/profile_details/profile_styles"), media: 'all', 'data-turbolinks-track' => 'reload' %>
<!--<script type="text/javascript" src="https://cdn.jsdelivr.net/jquery/latest/jquery.min.js"></script>-->
<script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />

<div class="title-block">
  <div class="row">
    <div class="col-md-6">
      <h1 class="title">
        <%= @wallet.name.present? ? "#{@wallet.name.titleize}'s" : '' %> Transactions
      </h1>
    </div>
    <div class="col-md-6">
      <!-- right side button add here-->
    </div>
  </div>
</div>

<% url = @iso_agent_aff.present? ? specfic_transactions_isos_path : admins_merchants_specfic_decline_transactions_path %>
<% if !@wallet.reserve? %>
<div class="container-fluid padding_left_zero">
  <!--refund_transactions_admins_path-->
  <ul class="nav nav-tabs users_tabs m-name font_weight_bold">
    <% if !@iso_agent_aff  %>
      <li class="<%= params[:trans] == "success" || params[:trans].blank? ? 'active' : '' %>"><a href="#" onclick="show_transaction('<%= admins_merchants_specfic_transactions_path %>','success','<%= @wallet.id %>')">Successful</a></li>
      <li class="<%= params[:trans] == "decline" ? 'active' : ''%>"><a href="#" onclick="show_transaction('<%= admins_merchants_specfic_decline_transactions_path %>','decline','<%= @wallet.id %>')">Declines</a></li>
      <li class="<%= params[:trans] == "refund" ? 'active' : ''%>"><a href="#" onclick="show_transaction('<%= admins_merchants_specfic_transactions_path %>','refund','<%= @wallet.id %>')">Refunds</a></li>
      <li class="<%= params[:trans] == "checks" ? 'active' : ''%>"><a href="#" onclick="show_transaction('<%= admins_merchants_specfic_transactions_path %>','checks','<%= @wallet.id %>')">Checks</a></li>
      <li class="<%= params[:trans] == "b2b" ? 'active' : ''%>"><a href="#" onclick="show_transaction('<%= admins_merchants_specfic_transactions_path %>','b2b','<%= @wallet.id %>')">B2B</a></li>
    <% else %>
      <li class="active"><a href="#">Successful</a></li>
    <% end %>
  </ul>
</div>
<% end %>
<section class="section">
  <div class="row">
    <%# if params[:query].present? %>
<!--      <div class= "padding_left_17px">-->
      <%#= render :partial => 'previous_button', :locals => {url:@back_url} %>
<!--      </div>-->
    <%# end %>
    <div class="col-md-12">
      <div class="card sameheight-item items" data-exclude="xs,sm,lg">
        <div class="card-header bordered">
          <div class="header-block">
            <% heading = params[:trans].present? ? params[:trans] == "refund" ? "Refund" : params[:trans] == "checks" ? 'checks' : params[:trans] == "b2b" ? "B2B" : "Successful" : 'Successful'%>
            <% heading = 'Reserve' if @wallet.reserve? %>
            <h3 class="title"><%= heading %> Transactions</h3>
          </div>

          <div class="header-block pull-right">
            <% if params[:query].present? && params[:query].reject{|k,v| v.nil? || v == "" || v == {}}.present? && !@iso_agent_aff %>
              <% if params[:trans].present? && params[:trans]=='refund'%>
                <% types=['refund','refund_bank'] %>
                <% elsif params[:trans].present? && params[:trans]=='checks'%>
                <% types= params[:query]['type'].present? ? params[:query]['type'] : ['send_check','Void_Check','bulk_check'] %>
              <% elsif params[:trans].present? && params[:trans]=='b2b'%>
                <% types=['b2b_transfer'] %>
                <% else %>
                <% types=params[:query][:type] %>
                <% end %>
              <a data-toggle="modal" data-type="admin" data-page-size="<%= params[:tx_filter].present? ? params[:tx_filter] : nil %>" data-wallet="<%= Wallet.qc_support.first.id %>"  data-search-wallet_id="<%= @wallet.id %>" data-search-gateway="<%= params[:query][:gateway] %>" data-search-trans-type="<%= types %>" data-search-date="<%= params[:query][:date] || params[:query][:datie] %>" data-search-last4="<%= params[:query][:last4] %>" data-search-sender="<%= params[:query][:sender] %>" data-search-receiver="<%= params[:query][:receiver] %>" data-search-state="<%= params[:query][:state] %>" data-search-city="<%= params[:query][:city] %>" data-search-time1="<%= params[:query][:time1] %>" data-search-time2="<%= params[:query][:time2] %>"  data-search-price="<%= params[:query][:amount] %>" class="exportReport pull-right" href="#exportModalDialog"><button type="button" class="btn btn-sm blue_btn"><i class="fa fa-file"></i> Export</button></a>
            <% else %>
              <% if params[:trans].present? && params[:trans]=='refund'%>
                <% type='refund' %>
              <% elsif params[:trans].present? && params[:trans]=='checks' %>
                <% type='checks' %>
              <% elsif params[:trans].present? && params[:trans]=='b2b' %>
                <% type='b2b' %>
              <% else %>
                <% type='' %>
              <% end %>
              <input type="hidden" id="refund_type" value="<%= type %>">
              <input type="hidden" id="specific_wallet_id" value="<%= @wallet.id %>">
              <%# if !params[:trans].present? && params[:trans]=='reserve'%>
<!--                <a data-toggle="modal" data-find-type="<%#= 'adeel' %>" data-type="admin" data-wallet="<%#= Wallet.qc_support.first.try(:id) %>" class="exportModalDialog pull-right" href="#exportModalDialog"><button type="button" class="btn btn-sm blue_btn"><i class="fa fa-file"></i> Export</button></a>-->
              <%# elsif params[:trans].present? && params[:trans] == "reserve" %>
<!--                <a data-toggle="modal" data-type="admin_users" data-wallet="<%#= @wallet.id %>" class="exportModalDialog pull-right" href="#exportModalDialog"><button type="button" class="btn btn-sm blue_btn"><i class="fa fa-file"></i> Export</button></a>-->
              <%# end %>
            <% end %>
            <% if !@wallet.reserve? && !@iso_agent_aff %>
              <a href="#search" data-toggle="collapse" href="#search" aria-expanded="false" aria-controls="search" class="btn btn-outline-secondary btn-sm"><i class="icon-magnifier icons"></i> Search</a>
            <% elsif @iso_agent_aff %>
              <a href="#search" data-toggle="collapse" href="#search" aria-expanded="false" aria-controls="search" class="btn btn-outline-secondary btn-sm"><i class="icon-magnifier icons"></i> Search</a>
            <% else %>
            <% end %>
            <% unless current_user.support_mtrac? %>
              <div class="header-block pull-right padding_top_zero">
                <a data-toggle="modal" data-type="admin_users" data-send_via="<%= @user.role %>" data-wallet="<%= @wallet.id %>" data-admin_user_id="<%= params[:user_id] %>" class="exportModalDialog pull-right" href="#exportModalDialog"><button type="button" class="btn btn-sm blue_btn"><i class="fa fa-file"></i> Export</button></a>
              </div>
            <% end %>

          </div>
        </div>
        <% if !@wallet.reserve? && !@iso_agent_aff  %>
          <%=form_tag @url,method: :get, class:'search_transactions',  autocomplete: "off" do  %>
          <div class="col-sm-12 border_lightgray">
            <div class="col-sm-12">
              <div class="collapse mb-3" id="search">
                <div class="card card-body">
                  <div class="row margin_top_10px">
                    <div class="col-md-12 margin_top_15px">
                      <input type="hidden" name="wallet_id" value="<%= @wallet.id %>"  />
                      <% if params[:trans].present? && params[:trans]!='b2b' %>
                      <div class="form-group col-md-4">
                        <label for="id">Type</label>
                        <%=	select_tag 'query[type][]', options_for_select(@types.map{|v|[v[:view],v[:value]]}, params[:query].present? ? params[:query]["type"] : ""),class: "form-control", multiple: true  %>
                      </div>
                        <% end %>
                      <div class="form-group col-md-4">
                        <label for="id">Sender Wallet ID</label>
                        <input type="number" name="query[sender]" id="sender" class="form-control" placeholder="Sender"  value="<%= params[:query].present? ? params[:query]["sender"] : "" %>"   />
                      </div>
                      <div class="form-group col-md-4">
                        <label for="id">Receiver Wallet ID</label>
                        <input type="number" name="query[receiver]" id="receive" class="form-control" placeholder="Receiver"  value="<%= params[:query].present? ? params[:query]["receiver"] : "" %>"  />
                      </div>
                      <% if params[:trans].present? && params[:trans]=='b2b' %>
                        <div class="form-group col-md-4">
                          <label for="id">First 6</label>
                          <input type="number" name="query[first6]" min="0" id="first6" class="form-control" placeholder="First 6"  value="<%= params[:query].present? ? params[:query]["first6"] : "" %>"  />
                        </div>
                      <% end %>
                    </div>
                    <div class="col-md-12 margin_top_15px">
                      <div class="form-group col-md-4">
                        <label for="id">Amount</label>
                        <input type="number" name="query[amount]"  id="amount" class="form-control" placeholder="Amount" min="0" step="0.01" value="<%= params[:query].present? ? params[:query]["amount"] : "" %>"  />
                      </div>
                      <div class="form-group col-md-4">
                        <label for="id">Date</label>
                        <input type="text" name="query[date]" id="date" class="form-control"  value="<%= params[:query].present? ? params[:query]["date"] : "" %>"   />
                      </div>
                      <div class="form-group col-md-4">
                        <label for="id">Last 4</label>
                        <input type="text" name="query[last4]" id="last4" class="form-control" placeholder="Last4"  value="<%= params[:query].present? ? params[:query]["last4"] : "" %>"  />
                      </div>
                    </div>
                    <div class="col-md-12 margin_top_15px">
                      <div class="form-group col-md-4">
                        <label for="id">Descriptor</label>
                        <%=	select_tag 'query[gateway][]', options_for_select(@gateways.map{|v|[v[:view],v[:value]]}, params[:query].present? ? params[:query]["gateway"] : ""),class: "form-control", multiple: true   %>
                      </div>
                      <div class="form-group col-md-4">
                        <label for="id">Time</label>
                        <div class="row">
                          <div class="col-md-6">
                            <%=	select_tag 'query[time1]', options_for_select(@time_option.map{|v| [ v[:view], v[:value] ]}, selected: params[:query].present? ? params[:query]["time1"] : ""), include_blank: "Start Time",class: "form-control"  %>
                          </div>
                          <div class="col-md-6">
                            <%=	select_tag 'query[time2]', options_for_select(@time_option.map{|v| [ v[:view], v[:value] ]}, selected: params[:query].present? ? params[:query]["time2"] : ""), include_blank: "End Time",class: "form-control"  %>
                          </div>
                        </div>
                      </div>
                      <div class="form-group col-md-4">
                        <label for="id">Block ID</label>
                        <input type="text" name="query[block_id]" id="block_id" class="form-control" placeholder="Block ID" value="<%= params[:query].present? ? params[:query]["block_id"] : "" %>"  />
                      </div>
                    </div>
                    <div class="col-md-12 margin_top_15px">
                      <div class="form-group col-md-4">
                        <label for="id">Location City</label>
                        <input type="text" name="query[city]" id="city" class="form-control" placeholder="Location city"  value="<%= params[:query].present? ? params[:query]["city"] : "" %>"  />
                      </div>
                      <div class="form-group col-md-4">
                        <label for="id">Location State</label>
                        <input type="text" name="query[state]" id="status" class="form-control" placeholder="Location state"  value="<%= params[:query].present? ? params[:query]["state"] : "" %>"  />
                      </div>
                      <% if params[:trans].present? && params[:trans]!='b2b' %>
                      <div class="form-group col-md-4">
                        <label for="id">First 6</label>
                        <input type="number" name="query[first6]" min="0" id="first6" class="form-control" placeholder="First 6"  value="<%= params[:query].present? ? params[:query]["first6"] : "" %>"  />
                      </div>
                        <% end %>
                    </div>

                    <div class="col-md-12 text-right">
                      <input type="hidden" name="trans" value="<%= params[:trans]  if  params[:trans].present? %>"  />
                      <button type="submit" class="btn btn-success btn-sm search_button">Search</button>
                      <input type="hidden" name="tx_filter" id="tx_filter" value="<%= params[:tx_filter].present? ? params[:tx_filter] : "" %>"  />
                      <input type="hidden" name="offset" value="<%=params[:offset].present? ? params[:offset] : Time.now.in_time_zone(cookies[:timezone]).strftime("%z")%>"  />
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        <% end  %>
        <% elsif @iso_agent_aff %>
          <%=form_tag @url, method: :get, class:'search_transactions',  autocomplete: "off" do  %>
            <div class="col-sm-12 border_lightgray">
              <div class="col-sm-12">
                <div class="collapse mb-3" id="search">
                  <div class="card card-body">
                    <div class="row margin_top_10px">
                      <div class="col-md-12 margin_top_15px">
                        <input type="hidden" name="wallet_id" value="<%= @wallet.try(:id) %>">
                        <div class="form-group col-md-4">
                          <label for="id">Txn ID</label>
                          <input type="text" name="query[id]" id="txn_id" class="form-control" placeholder="Id"  value="<%= params[:query].present? ? params[:query]["id"] : "" %>" />
                        </div>
                        <div class="form-group col-md-4" id="date_parent">
                          <label for="id">Date</label>
                          <input type="text" name="query[timestamp]" id="timestamp" class="datepicker form-control date" placeholder=" Date"  value="<%= params[:query].present? ? params[:query]["timestamp"] : "" %>" />
                        </div>
                        <div class="form-group col-md-4">
                          <label for="id">Transaction Type</label>
                          <%=	select_tag 'query[type][]', options_for_select(@types.map{|v|[v[:view].camelcase,v[:value]]}.sort, params[:query].present? ? params[:query]["type"] : ""),class: "form-control", multiple: true  %>
<!--                          <input type="text" name="query[main_type]" id="receive" class="form-control" placeholder="Type"  value="<%#= params[:query].present? ? params[:query]["main_type"] : "" %>"  />-->
                        </div>
                      </div>
                      <div class="col-md-12 margin_top_15px">
                        <div class="form-group col-md-4">
                          <label for="id">Merchant Name</label>
                          <input type="text" name="query[merchant_name]" id="merchant_name" class="form-control" placeholder="Merchant Name" value="<%= params[:query].present? ? params[:query]["merchant_name"] : "" %>"/>
                        </div>
                        <div class="form-group col-md-4">
                          <label for="id">DBA Name</label>
                          <input type="text" name="query[business_name]"  id="business_name" class="form-control" placeholder="DBA Name" value="<%= params[:query].present? ? params[:query]["business_name"] : "" %>"  />
                        </div>
                        <div class="form-group col-md-4">
                          <label for="id">Amount</label>
                          <input type="text" name="query[amount]"  id="amount" class="form-control" min="0" step="0.01" ONCLICK="this.select();" placeholder="Amount" value="<%= params[:query].present? ? params[:query]["amount"] : "" %>"  />
                        </div>
                      </div>
                      <div class="col-md-12 margin_top_15px">
                        <div class="form-group col-md-4">
                          <label for="id">Merchant Txn Type</label>
                          <%=	select_tag 'query[merchant_txn_type][]', options_for_select(@merchant_txn_types.map{|v|[v[:view],v[:value]]}, params[:query].present? ? params[:query]["merchant_txn_type"] : ""),class: "form-control", multiple: true  %>
                        </div>
                        <div class="form-group col-md-4">
                          <label for="id">Receiver</label>
                          <input type="text" name="query[receiver_name]"  id="receiver" class="form-control" placeholder="Receiver" value="<%= params[:query].present? ? params[:query]["receiver_name"] : "" %>"  />
                        </div>
                      </div>
                      <div class="col-md-12 text-right">
                        <input type="hidden" name="trans" value="<%= params[:trans]  if  params[:trans].present? %>"  />
                        <!--                      <input type="hidden" name="tab" value="<%#= params[:tab]  if  params[:tab].present? %>"  />-->
                        <input type="hidden" name="offset" value="<%= params[:offset].present? ? params[:offset] : Time.now.in_time_zone(cookies[:timezone]).strftime("%:z")%>"  />
                        <button type="submit" class="btn btn-success btn-sm search_button margin_top_14px">Search</button>
                        <input type="hidden" name="tx_filter" id="tx_filter" value="<%= params[:tx_filter].present? ? params[:tx_filter] : "" %>"  />
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          <% end  %>
        <% end %>

<!--        <p hidden id="as" class="as" ><%#= @next %></p>-->
        <section class="example">

          <div class="">
            <div class="row margin_top_15px margin_left_3px">
              <div class="col-sm-6 col-md-6">
                <div class="dataTables_length">
                  <div class="col-md-6 top_30px">
                    <span class="padding_top_7px float_left">Show</span>
                    <span class="float_left">
                      <%= form_tag url, method: :get, id: 'specfic_transaction_filter' do  %>
                         <%= select_tag "tx_filter", options_for_select(@filters.map{|v|[v]}, selected: params[:tx_filter].present? ? params[:tx_filter] : "10"),
                                        :prompt => false,
                                        :required => true,
                                        class: "form-control form-control-sm",
                                        data: {confirm: "Are you sure ?"}
                         %>
                          <input type="hidden" name="trans" value="<%= params[:trans].present? ? params[:trans] : "success" %>"  />
                          <input type="hidden" name="wallet_id" value="<%= @wallet.id %>"  />
                        <% if params[:query].present? && !@iso_agent_aff%>
                            <input type="hidden" name="query[amount]" value="<%= params[:query][:amount] if  params[:query][:amount].present? %>"  />
                            <input type="hidden" name="query[datie]" value="<%= params[:query][:date]  if  params[:query][:date].present? %><%= params[:query][:datie]  if  params[:query][:datie].present? %>"  />
                            <input type="hidden" name="query[last4]" value="<%= params[:query][:last4]  if  params[:query][:last4].present?%>"  />
                            <input type="hidden" name="query[sender]" value="<%= params[:query][:sender]  if  params[:query][:sender].present?%>"  />
                            <input type="hidden" name="query[receiver]" value="<%= params[:query][:receiver]  if  params[:query][:receiver].present?%>"  />
                            <input type="hidden" name="query[type]" value="<%= params[:query][:type]  if  params[:query][:type].present?%>"  />
                            <input type="hidden" name="query[gateway]" value="<%= params[:query][:gateway]  if  params[:query][:gateway].present?%>"  />
                            <input type="hidden" name="query[time1]" value="<%= params[:query][:time1]  if  params[:query][:time1].present?%>"  />
                            <input type="hidden" name="query[time2]" value="<%= params[:query][:time2]  if  params[:query][:time2].present?%>"  />
                            <input type="hidden" name="query[block_id]" value="<%= params[:query][:block_id]  if  params[:query][:block_id].present?%>"  />
                            <input type="hidden" name="query[city]" value="<%= params[:query][:city]  if  params[:query][:city].present?%>"  />
                            <input type="hidden" name="query[state]" value="<%= params[:query][:state]  if  params[:query][:state].present?%>"  />
                            <input type="hidden" name="query[first6]" value="<%= params[:query][:first6]  if  params[:query][:first6].present?%>"  />
                            <input type="hidden" name="offset" value="<%= params[:offset]  if  params[:offset].present?%>"  />
                          <% elsif params[:query].present? && @iso_agent_aff%>
                            <input type="hidden" name="query[id]" value="<%= params[:query][:"id"] if  params[:query]["id"].present? %>"  />
                            <input type="hidden" name="query[timestamp]" value="<%= params[:query]["timestamp"]  if  params[:query]["timestamp"].present? %>"  />
                            <input type="hidden" name="query[type]" value="<%= params[:query]["type"]  if  params[:query]["type"].present?%>"  />
                            <input type="hidden" name="query[merchant_name]" value="<%= params[:query]["merchant_name"]  if  params[:query]["merchant_name"].present?%>"  />
                            <input type="hidden" name="query[business_name]" value="<%= params[:query]["business_name"]  if  params[:query]["business_name"].present?%>"  />
                            <input type="hidden" name="query[amount]" value="<%= params[:query]["amount"]  if  params[:query]["amount"].present?%>"  />
                            <input type="hidden" name="query[merchant_txn_type]" value="<%= params[:query]["merchant_txn_type"]  if  params[:query]["merchant_txn_type"].present?%>"  />
                            <input type="hidden" name="offset" value="<%= params[:offset]  if  params[:offset].present?%>"  />
                            <input type="hidden" name="from_filter" value="true">
                        <% end %>
                      <% end %>
                    </span>
                    <span class="float_left padding_top_7px">Entries</span>
                  </div>
                </div>
              </div>
              <div class="col-sm-6 col-md-6">
               <div class="col-md-12 margin_top_15px">
                 

                  <%# if params[:tx_filter].present? || params[:query].present? %>
                  <%#= link_to('Clear Search', transactions_admins_path, html_options = {class: "btn btn-primary pull-right"}) %>
                  <%# end %>
                </div>
              </div>

            </div>
            <div class="table-responsive" id="admin_table">
              <%= render partial: 'admins/local_user_transactions_table' ,:locals =>  {:transactions => @transactions} %>
            </div>
            <div class="modal fade right main_modal_refund_payment" id="refundModalDialog">
              <div class="modal-dialog modal-sm width_500px_imp">
                <div class="modal-content modal_content_refund_paymnet">
                  <!-- Modal Header -->
                  <div class="modal-header text-left verify_header_tag">
                    <h4 class="modal-title float_left"><span class="ml-2">Refund payment</span></h4>
                    <button type="button" class="close" data-dismiss="modal">×</button>
                  </div>
                  <!-- Modal body -->
                  <div class="modal-body modal_body_specific_wallet">
                    <div class="card bg_color_whitesmoke">
                      <div class="card-body">
                        <div class="row margin_bottom_neg_16px">
                          <div class="form-group col-md-8">
                            <label class="font_size_16px" for="partialamount" >Amount <i class="fa fa-info-circle" aria-hidden="true" title='The amount showing reflects the total transaction amount. For "Partial Refund" please adjust the amount to the amount you would like to refund.'>
                            </i></label>
                            <div class="input-group">
                              <span class="input-group-addon"><b>$</b></span>
                              <input type="text" id="partialamount" class="form-control number" placeholder="0.00" %>
                            </div>
                            <div class="pull-right">
                              <span>Amount + Fee + Tip = $ </span> <span  class="refund_fee"></span>
                            </div>
                            <div class="row col-md-12">
                              <span class="alert-danger partial_error_span" id="partial_error"></span>
                            </div>
                          </div>
                          <div class="form-group col-md-8">
                            <label class="font_size_16px" for="reason">Reason</label>
                            <select class="form-control" id="reason_select">
                              <option value="0">Select a reason</option>
                              <option value="1">Duplicate</option>
                              <option value="2">Fraudulent</option>
                              <option value="3">Requested by customer</option>
                              <option value="4">Other</option>
                            </select>
                            <br>
                            <textarea placeholder="Add a reason for this refund..." id="reason_detail" class="form-control display_none font_size_14px" rows="5"></textarea>
                          </div>
                        </div>
                        <div class="col-md-12 margin_top_5px bg_color_whitesmoke">
                          <p class="align_center font_weight_bold font_size_13px" ><b><i class="fa fa-info-circle"></i> Refunds take 1-5 days to appear on a customer's statement.</b></p>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="modal-footer bg_color_whitesmoke" id="refundModalFooter">
                    <button class="btn btn-default" data-dismiss="modal">Cancel</button>
                    <a data-toggle="modal" class="refundConfirmationDialog" href="#refundConfirmationDialog"><button class="btn refund_btn color_white bg_color_red" disabled>Refund</button></a>
                  </div>
                </div>
              </div>
            </div>
            <!--Confirmation Refund Modal-->
            <div class="modal fade right z_index" id="refundConfirmationDialog">
              <div class="modal-dialog width_500px_imp">
                <div class="modal-content modal_content_specific_wallet">
                  <!-- Modal Header -->
                  <div class="modal-header text-left text-white">
                    <h4 class="modal-title float_left"><span class="ml-2">Are you sure?</span></h4>
                    <button type="button" class="close" data-dismiss="modal">×</button>
                  </div>
                  <!-- Modal body -->
                  <div class="modal-body modal_body_specific_wallet">
                    <div class="card bg_color_whitesmoke">
                      <div class="card-body">
                        <div class="row margin_bottom_neg_16px">
                          <div class="col-md-12">Are you sure you want to refund $ <span id="confirm_refund_amount"></span> to <span id="refund_user"></span>?</div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="modal-footer bg_color_whitesmoke" id="refundModalFooter">
                    <button class="btn btn-default" data-dismiss="modal">Cancel</button>
                    <a id="footerConfirmLink" class="btn btn-info confirm-refund" href="">Confirm & Send</a>
                  </div>
                </div>
              </div>
            </div>
            <div class="card-footer text-right margin_bottom_30px">
              <div class="row">
                <div class="col-md-12">
                  <p class="pull-left margin_top_5px" id="total_entries">Showing <%= @transactions.present? ? @transactions_count : 0 %> of <%= @transactions.try(:total_count) %></p>
                  <p class="margin_right_139px align_center margin_top_5px" id="page-count">Page <%= @page_no %></p>
                  <% if @transactions.present? %>
                    <%= paginate @transactions, :theme => 'twitter-bootstrap-3', :pagination_class => "pagination-small pagination-centered pull-right padd" %>
                  <% end %>
                </div>
                <div class="col-md-1 text-left">
                  <small><%# @transactions.try(:count) %></small>
                </div>
              </div>
            </div>
          </div>
        </section>
      </div>
    </div>
  </div>
</section>
<!-- The export Modal starts -->
<%= render partial: 'admins/shared/export_modal' %>
<!-- The export Modal ends -->
<section id="custom_modal"></section>
<section id="transaction_modal"></section>
<section id="dispute_case_modals"></section>





