<% if params["type"].blank? %>
$("#modal_section").html('').html("<%= j  render(partial: 'admins/users/retire_balance', locals: { wallet: @wallet, balance: @balance }) %>").after( $("#modal-69").modal());
<% else %>
$("#modal_section").html('').html("<%= j  render(partial: 'admins/shared/profiles/unlock') %>").after( $("#unlock").modal());
<% end %>
$('#cover-spin').fadeOut();
$(".phone_number_div").show();
$(".pincode_div").hide();
$(".error-phone").hide();
$(".error-pincode").hide();
$('.void_submit_button').hide();


$('#pincode').on('keyup keypress', function(e) {
    var keyCode = e.keyCode || e.which;
    if (keyCode === 13) {
        e.preventDefault();

    }
});


$("#phone_number_button").on('click', function () {
    var phone_number=$('#phone_number').val();
    var wallet_id=$('#wallet_id').val();
    var location_id=$('#location_id').val();
    var fee_id=$('#fee_id').val();
    if(phone_number.length > 0) {
        $.ajax({
            url: "<%=verify_phone_number_admins_invoices_path %>",
            method: 'get',
            data: {phone_number: phone_number, wallet_id: wallet_id, fee_id: fee_id,location_id: location_id, unlock: true},
            success: function () {
                $('#phone_number_button').html('Verified').removeClass('btn-primary').addClass('btn-success');
                setTimeout(function () {
                    $('#phone_number').css('display', 'none').fadeOut("slow");
                    $('.phone_number_div').hide();
                    $('.pincode_div').show();
                    $("#modal-label-69").html('').html('Enter Pin Code You Recieved');
                }, 1000);
            }, error: function (result) {
                $('#phone_number_button').html('UnAuthorized').removeClass('btn-primary').addClass('btn-danger');
                setTimeout(function () {
                    $('#phone_number_button').html('Submit').removeClass('btn-danger').addClass('btn-primary');
                }, 1500);
                $(".error-phone").show();
            }
        });
    }else{
    }
});


$("#pincode_button").on('click', function () {
    var pincode=$('#pincode').val();
    var wallet_id=$('#wallet_id').val();
    var fee_id=$('#fee_id').val();
    var location_id=$('#location_id').val();
    if(pincode.length > 0) {
        $.ajax({
            url: "<%= verify_phone_number_admins_invoices_path %>",
            method: 'get',
            data: {pincode: pincode, wallet_id: wallet_id, fee_id: fee_id,location_id: location_id,unlock: true},
            success: function () {
                setTimeout(function () {
                    $('#pincode_button').val('Verified').removeClass('btn-primary').addClass('btn-success');
                    $('.void_submit_button').show();
                }, 1000);
            }, error: function (result) {
                $('#pincode_button').html('UnAuthorized').removeClass('btn-primary').addClass('btn-danger');
                setTimeout(function () {
                    $('#pincode_button').html('Submit').removeClass('btn-danger').addClass('btn-primary');
                }, 1500);
                $(".error-pincode").show();
            }
        });
    }

});

function submitpincode(){
    document.getElementById("pincode_button").disabled = true;
}
$('#password_btn').on('click',function () {
    var password = $('#password').val();
    var wallet_id=$('#wallet_id').val();
    var fee_id=$('#fee_id').val();
    var location_id=$('#location_id').val();
    if(password.length > 0) {
        $.ajax({
            url: "<%= verify_admin_password_admins_buy_rate_index_path %>",
            method: 'get',
            data: {password: password,wallet_id: wallet_id, fee_id: fee_id,location_id: location_id,unlock: true},
            success: function (data) {
                var wallet_id=$('#wallet_id').val();
                var format=$('#format').val();
                var user_id=$('#user_id').val();
                var role=$('#role').val();
                var type='<%= params[:type]%>'
                var system_fee='<%= params[:system_fee]%>'
                $('#cover-spin').show(0)

                if (type=='wallet'){
                    window.location.href = "/admins/isos/profile_wallet_details?wallet_id="+wallet_id+"&format="+format;
                }
                else if(type=='fee' && system_fee==''){
                    window.location.href = "/admins/"+role+"s/"+role+"_buyrate?"+role+"_id="+user_id+"&count=2&format="+format;
                }
                else if(type=='fee' && system_fee=='true'){
                    window.location.href = "/admins/"+role+"s/system_fee?"+role+"_id="+user_id+"&count=2&format="+format;

                }
                $("#password_btn").css("background", "green").text('').text("Verified");
                $("#info-text").text('');
                setTimeout(function () {
                    $('#password').attr("disabled", "disabled");
                    $('#verification_box').fadeOut("slow");
                    $('#verification_btn').hide();
//                        $('.void_submit_button').show();
                }, 1000);
            },
            error: function (data) {
                $("#password_btn").css("border", "1px solid red");
                $("#info-text").text('').css("color", "red").text('Please try again!');
            }
        });
    }
});
$(document).ready(function(){
    $(".balance_field").inputmask('Regex', {regex: "^\\d+\\.\\d{0,2}$"});
    $('#submit_transfer_btn').show();
    $('#verification_btn').hide();
    $("#submit_transfer_btn").prop("disabled", true);
// $('#verification_btn').show();
});
$('#verification_box').hide();
$('#verification_btn').hide();
$('#balanceField_id').focusin(function () {
    $(this).removeAttr('readonly');
});