<%= stylesheet_link_tag asset_path("admins/profile_details/profile_styles"), media: 'all', 'data-turbolinks-track' => 'reload' %>
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<section id="modal_section"></section>
<!--<h3>DBA: <%#= @location.business_name.try(:titleize) %></h3>-->
<div class="col-md-12 w3-card bussiness_location_name">
  <table class="table table-borderless">
    <tbody>
    <tr id="first_row">
      <td>
<!--        <p class="font_size_12px font_weight_600">Main Account</p>-->
<!--        <p class="font_size_12px" >Account Number: <%#=@location.present? ? @location.bank_account.last(4) : 'xxxx' %></p>-->
      </td>
      <td class="text-center">
        <p class="font_size_x_large maxc" ><strong>Total Funds In Account</strong> <br>
        <% primary_wallet_balance = SequenceLib.balance(@primary_wallet.try(:id))%>
        <% hold_primary_wallet_balance = HoldInRear.calculate_pending(@primary_wallet.try(:id)) %>
        <strong>$<%= number_with_precision(primary_wallet_balance, :precision => 2, :delimiter => ',') %></strong></p>
      </td>
      <td>
<!--        <p class="font_size_12px font_weight_600 align_center">On Hold Pending Release</p>-->
<!--        <p class="font_size_12px align_center"><strong>$ <%#= number_with_precision(hold_primary_wallet_balance, :precision => 2, :delimiter => ',') %></strong></p>-->
      </td>
      <td>
<!--        <p class="font_size_12px font_weight_600 align_center">Available Funds to Withdraw</p>-->
<!--        <p class="font_size_12px align_center"><strong>$ <%#= number_with_precision(primary_wallet_balance.to_f - hold_primary_wallet_balance.to_f, precision: 2, delimiter: ',')  %></strong></p>-->
      </td>
      <td>
        <input type="hidden" id="wallet_id" name="primary_wallet_id" value="<%=@primary_wallet.id if @primary_wallet.id.present? %>">
        <button type="button" class="wallets_btn btn btn-lg btn-default pull-right show_click">Transactions</button>
        <% unless current_user.support_mtrac? %><%= link_to '<button type="button" class="wallets_btn btn btn-lg btn-default pull-right margin_right_5px" >Transfer</button>'.html_safe,transfer_money_isos_path(wallet_id: @primary_wallet.id), onclick: "$('#cover-spin').show(0)", remote: true %><% end %>
      </td>
    </tr>
    </tbody>
  </table>
</div>

<div class="col-md-12 margin_top_25px padding_zero ">
  <div class="col-md-6 padding_left_zero">
    <h4>Checks</h4>
    <div class="col-md-12 w3-card box-style table-responsive">
      <p class="margin_top_15px"><strong>Transactions</strong></p>
      <table class="table transaction_table">
        <thead>
        <tr>
          <th>Date</th>
          <th>Description</th>
          <th>Type</th>
<!--          <th>Status</th>-->
          <th>Amount</th>
        </tr>
        </thead>
        <tbody>
        <% if @checks.present? %>
            <% @checks.each do |c| %>
                <tr>
                  <td><%= c.created_at.to_date.strftime("%m/%d/%Y") %></td>
                  <td class="ui-tooltip" data-toggle="tooltip" data-placement="right" title="<%= c.description.present? ? c.description : "--" %>"><%= c.description.present? ? (c.description).truncate(12) : "--" %></td>
                  <td>Check</td>
<!--                  <td><span class="fa fa-check-circle-o"></span></td>-->
                  <td>$ <%= number_with_precision(c.actual_amount, :precision => 2, :delimiter => ',') %></td>
                </tr>
            <% end %>
        <% else %>
            <tr>
              <td colspan="5">
                <%= image_tag('empty.png', class: "img-responsive image_folder") %>
              </td>
            </tr>
        <% end %>
        </tbody>
        <tfoot>
        <tr>
          <% if @checks.present? %>
            <td colspan="5"><div class="col-md-9">
            </div>
            <div class="col-md-3">
              <%= link_to 'View More',profile_wallet_details_isos_path(format: params[:format],type: "checks") ,class: 'pull-right' %>
            </div></td>
          <% end %>
        </tr>
        </tfoot>
      </table>
    </div>
  </div>
  <div class="col-md-6 padding_right_zero">
    <h4>Gift Card/Pre-paid Card</h4>
    <div class="col-md-12 w3-card box-style table-responsive">
      <p class="margin_top_15px"><strong>Transactions</strong></p>
      <table class="table transaction_table">
        <thead>
        <tr>
          <th>Date</th>
          <th>Description</th>
          <th>Type</th>
<!--          <th>Status</th>-->
          <th>Amount</th>
        </tr>
        </thead>
        <tbody>
        <% if @giftcards.present? %>
            <% @giftcards.each do |c| %>
                <tr>
                  <td><%= c.created_at.to_date.strftime("%m/%d/%Y") %></td>
                  <td class="ui-tooltip" data-toggle="tooltip" data-placement="right" title="<%= c.description.present? ? c.description : "--" %>"><%= c.description.present? ? (c.description).truncate(12) : "--" %></td>
                  <td>Check</td>
<!--                  <td><span class="fa fa-check-circle-o"></span></td>-->
                  <td>$ <%= number_with_precision(c.amount, :precision => 2, :delimiter => ',') %></td>
                </tr>
            <% end %>
        <% else %>
            <tr>
              <td colspan="5">
                <%= image_tag('empty.png', class: "img-responsive image_folder") %>
              </td>
            </tr>
        <% end %>
        </tbody>
        <tfoot>
        <tr>
          <% if @giftcards.present? %>
            <td colspan="5">
              <div class="col-md-9">
              </div>
              <div class="col-md-3">
                <%= link_to 'View More' , profile_wallet_details_isos_path(format: params[:format],type: "gift Card/pre-paid Card"),class: 'pull-right'%>
              </div>
            </td>
          <% end %>
        </tr>
        </tfoot>
      </table>
    </div>
  </div>
</div>

<div class="col-md-12 margin_top_15px padding_zero">
  <div class="col-md-6 padding_left_zero">
    <h4>ACH</h4>
    <div class="col-md-12 w3-card box-style table-responsive">
      <p class="margin_top_15px"><strong>Transactions</strong></p>
      <table class="table transaction_table">
        <thead>
        <tr>
          <th>Date</th>
          <th>Description</th>
          <th>Type</th>
          <th>Amount</th>
        </tr>
        </thead>
        <tbody>
        <% if @achs.present? %>
            <% @achs.each do |c| %>
                <tr>
                  <td><%= c.created_at.to_date.strftime("%m/%d/%Y") %></td>
                  <td class="ui-tooltip" data-toggle="tooltip" data-placement="right" title="<%= c.description.present? ? c.description : "--" %>"><%= c.description.present? ? (c.description).truncate(12) : "--" %></td>
                  <td>Check</td>
                  <td>$ <%= number_with_precision(c.actual_amount, :precision => 2, :delimiter => ',') %></td>
                </tr>
            <% end %>
        <% else %>
            <tr>
              <td colspan="5">
                <%= image_tag('empty.png', class: "img-responsive image_folder") %>
              </td>
            </tr>
        <% end %>
        </tbody>
        <tfoot>
        <tr>
          <% if @achs.present? %>
            <td colspan="5">
              <div class="col-md-9">
              </div>
              <div class="col-md-3">
                <%= link_to 'View More',profile_wallet_details_isos_path(format: params[:format],type: "achs") ,class: 'pull-right'%>
              </div></td>
          <% end %>
        </tr>
        </tfoot>
      </table>
    </div>
  </div>
  <div class="col-md-6 padding_right_zero">
    <h4>B2B(In the system)</h4>
    <div class="col-md-12 w3-card box-style table-responsive" >
      <p class="margin_top_15px"><strong>Transactions</strong></p>
      <table class="table transaction_table">
        <thead>
        <tr>
          <th>Date</th>
          <th>Description</th>
          <th>Type</th>
          <th>Amount</th>
        </tr>
        </thead>
        <tbody>
        <% if @requests.present? %>
            <% @requests.each do |r| %>
                <tr>
                  <td><%= r.created_at.to_date.strftime("%m/%d/%Y") %></td>
                  <!--<td href="#" title="Description" class="color_black_imp" data-toggle="popover" data-placement="top"  data-content="<%#= r.description %>"><%#= r.description.present? ? truncate(r.description, :length => 50, :omission => '... (continued)') : "&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;" %></td>-->
                  <td class="ui-tooltip" data-toggle="tooltip" data-placement="right" title="<%= r.description.present? ? r.description : "--" %>"><%= r.description.present? ? (r.description).truncate(12) : "--" %></td>
                  <td>Check</td>
                  <td>$ <%= number_with_precision(r.amount, :precision => 2, :delimiter => ',') %></td>
                </tr>
            <% end %>
        <% else %>
            <tr>
              <td colspan="5">
                <%= image_tag('empty.png', class: "img-responsive image_folder") %>
              </td>
            </tr>
        <% end %>
        </tbody>
        <tfoot>
          <tr>
            <% if @requests.present? %>
              <td colspan="5">
                <div class="col-md-9">
                </div>
                <div class="col-md-3">
                  <%=link_to 'View More',profile_wallet_details_isos_path(format: params[:format],type: "B2B (In the system)"),class: 'pull-right' %>
                </div>
              </td>
            <% end %>
          </tr>
        </tfoot>
      </table>
    </div>
  </div>
</div>
<div class="col-md-12 margin_100px_zero" >
  <%#= link_to '<button class="btn btn-primary btn-sm back_button_wallet"> Back</button>'.html_safe,admins_merchants_profile_path(@merchant) %>
</div>
