<div class="m-subheader">
  <div class="d-flex align-items-center">
    <div class="mr-auto">
      <ul class="m-subheader__breadcrumbs m-nav m-nav--inline set-path">
        <li class="m-nav__item">
          <a href="<%= clients_v2_merchant_invoices_path %>" class="m-nav__link">
            <span class="my-order-nav">
                Customer
            </span>
          </a>
        </li>
        <li class="m-nav__separator">
          <%= image_tag "v2/merchant/icons/angle.svg"%>
        </li>
        <li class="m-nav__item">
          <a href="#" class="m-nav__link">
              <span class="order-active">
                Customer Details
              </span>
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>

<input type="hidden" name="search_val" id="search_val">
<input type="hidden" name="checkboxes" id="checkboxes">
<input type="hidden" name="client_id" id="client_id" value="<%= params[:id] %>">
<div class="m-content">
  <div class="row mb-3">
    <div class="col-lg-12">
      <div class="row">
        <div class="col-lg-6">
          <div class="pull-left simple-36-normal-text">
            <p>Customer Details</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row mb-3">
    <div class="col-lg-12">
      <div class="row">
        <div class="col-lg-7">
          <div class="customer-information">
            <div class="row">
              <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="pull-left">
                  <p class="simple-24-bold-text-dark">Customer Information</p>
                </div>
              </div>
            </div>
            <hr class="c-line">
            <div class="row">
              <div class="col-lg-6">
                <div class="pull-left">
                  <p class="simple-14-normal-text dispute-customer-name">Customer Name</p>
                  <p class="simple-24-bold-text"><%= @customer.name %></p>
                </div>
              </div>
              <div class="col-lg-6">
                <div class="pull-left">
                  <p class="simple-14-normal-text dispute-customer-name">Phone#</p>
                  <p class="simple-24-bold-text"><%= number_to_phone(@customer.phone_number, area_code: true) %></p>
                </div>
              </div>
            </div>
            <hr class="c-line">
            <div class="row">
              <div class="col-lg-6">
                <div class="pull-left">
                  <p class="simple-14-normal-text">Email
                    <span class="simple-14-bold-text-dark pl-3"><%= number_to_phone(@customer.email, area_code: true) %></span></p>
                  <p class="simple-14-normal-text">Wallet ID <span class="simple-14-bold-text-dark pl-3"><%= @customer_wallet_id %></span></p>
                </div>
              </div>
              <div class="col-lg-6">
                <div class="pull-left">
                  <p class="simple-14-normal-text dispute-customer-name">Created at</p>
                  <p class="simple-24-bold-text"><%= @client.created_at.strftime("%m/%d/%Y") %></p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-5">
          <div class="disputes-spending">
            <div class="row">
              <div class="col-lg-12">
                <div class="row">
                  <div class="col-lg-6"></div>
                  <div class="col-lg-6">
                    <select class="form-control pl-4  m-time-bootstrap-select m-bootstrap-select m-bootstrap-select--pill  m_selectpicker reason-dd-1 " id="orderStatus" title="Today">
                      <option>Today</option>
                      <option>Month-to-Date</option>
                      <option>Last 6 Days</option>
                      <option>Previous Month</option>
                      <option>Custom</option>
                    </select>
                    <div class="m--space-10"></div>
                  </div>
                </div>

              </div>
              <div class="col-lg-12">
                <div class="row">
                  <div class="col-lg-6">
                    <div class="row">
                      <div class="col-lg-3">
                        <div class="chargeback-icons mt-2">
                          <%= image_tag "v2/merchant/icons/earnings.svg", class: '' %>
                        </div>
                      </div>
                      <div class="col-lg-9 ">
                        <div class="total_spending mt-2">
                          <div class="total-spending-text">
                            <p class="total-spending-text pl-2">Total Spending</p>
                          </div>
                          <div class="total-spending-price pl-2">
                            <p>$<%= number_with_precision(@all_transactions.select{|t| t.main_type != "refund"}.sum(&:total_amount), precision: 2 ) %></p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-6">
                    <div class="row">
                      <div class="col-lg-3">
                        <div class="menu-refunds-icons mt-2">
                          <%= image_tag "v2/merchant/icons/menu_refunds.svg", class: '' %>
                        </div>
                      </div>
                      <div class="col-lg-8 ">
                        <div class="total_spending mt-2">
                          <div class="total-spending-text">
                            <p class="total-spending-text pl-2">Chargebacks</p>
                          </div>
                          <div class="total-spending-price pl-2">
                            <p>$<%= number_with_precision(@chargebacks_amount, precision: 2 ) %></p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-lg-12">
                <div class="row">
                  <div class="col-lg-6">
                    <div class="row">
                      <div class="col-lg-3">
                        <div class="chargeback-icons ">
                          <%= image_tag "v2/merchant/icons/analysis.svg", class: '' %>
                        </div>
                      </div>
                      <div class="col-lg-8 ">
                        <div class="total_spending ">
                          <div class="total-spending-text">
                            <p class="total-spending-text pl-2">Total Invoices</p>
                          </div>
                          <div class="total-spending-price pl-2">
                            <p>$<%= number_with_precision(@invoices_amount, precision: 2 ) %></p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-6">
                    <div class="row">
                      <div class="col-lg-3">
                        <div class="chargeback-icons ">
                          <%= image_tag "v2/merchant/icons/refund.svg", class: '' %>
                        </div>
                      </div>
                      <div class="col-lg-8">
                        <div class="total_spending">
                          <div class="total-spending-text">
                            <p class="total-spending-text pl-2">Refunds</p>
                          </div>
                          <div class="total-spending-price pl-2">
                            <p>$<%= number_with_precision(@all_transactions.select{|t| t.main_type == "refund"}.sum(&:total_amount), precision: 2 ) %></p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="m-portlet m-portlet--mobile m-portal_datatable">
    <div class="m-portlet__body">
      <ul class="nav nav-tabs  m-tabs-line" role="tablist">
        <li class="nav-item m-tabs__item">
          <a class="nav-link m-tabs__link <%= "active show" if params[:type] != 'chargeback' %>" data-toggle="tab" href="#m_tabs_6_1" role="tab" aria-selected="true">
            Transactions
          </a>
        </li>
        <li class="nav-item m-tabs__item">
          <a class="nav-link m-tabs__link <%= "active show" if params[:type] == 'chargeback' %>" data-toggle="tab" href="#m_tabs_6_2" role="tab" aria-selected="false">
            Chargebacks
          </a>
        </li>
      </ul>
      <div class="tab-content">
        <div class="tab-pane <%= "active show" if params[:type] != 'chargeback' %>" id="m_tabs_6_1" role="tabpanel">
          <%= render partial: "v2/partner/shared/transaction_datatable", locals: {transactions: @transactions} %>
        </div>
        <div class="tab-pane <%= "active show" if params[:type] == 'chargeback' %>" id="m_tabs_6_2" role="tabpanel">
          <div class="chargeback_datatable">
            <%= render partial: "v2/partner/shared/chargebacks_datatable", locals: {chargebacks: @chargebacks, filter_path: request.path, search_id: "chargeback_search", id: params[:id]} %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<%= javascript_include_tag 'v2/partner/invoices' %>