<%= stylesheet_link_tag "#{params[:controller]}" %>
<div class="m-subheader">
  <div class="d-flex align-items-center">
    <div class="mr-auto">
      <ul class="m-subheader__breadcrumbs m-nav m-nav--inline set-path">
        <li class="m-nav__item">
          <a href="#" class="m-nav__link">
            <span class="my-order-nav">
                Invoices
            </span>
          </a>
        </li>
        <li class="m-nav__separator">
          <%= image_tag "v2/merchant/icons/angle.svg"%>
        </li>
        <li class="m-nav__item">
          <a href="#" class="m-nav__link">
              <span class="order-active active-bold">
                Invoice List
              </span>
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>

<!--<a class="btn btn-default btn-preview-invoice btn__preview " data-dismiss="modal" aria-label="Close" data-toggle='modal' data-target='#ResetPasswordPopModel' >Reset Password pop</a>-->
<%#=  render partial: "v2/merchant/shared/reset_password_modal" %>

<div class="m-content">
  <div class="row">
    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-xs-12">
      <div class="page-title mb-4">
        Invoice List
      </div>
    </div>

    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-xs-12">
      <div class="mb-4 pull-right">
        <a href="#" class="btn activity_log_btn text-center  pull-right m-btn m-btn--icon pull-left mr-3 slide-toggle slide-toggle-open" id="activity_logs" data-type="invoices">
          <span class="pl-3 activity_log_text">
            <span>
              Activity Log
            </span>
            <i class="fa fa_activity_log">
              <%= image_tag "v2/merchant/permission/activity_log.svg" %>
            </i>
          </span>
        </a>
        <%= link_to 'New Invoice', recurring_billing_v2_partner_invoices_path  , class: 'btn btn-default btn-preview-invoice ml-3 th-bold' %>
      </div>
    </div>
  </div>
  <div class="m-portlet m-portlet--mobile m-portal_datatable">
    <div class="m-portlet__body">
      <input type="hidden" name="qe" id="q">
      <input type="hidden" name="query" id="query">
      <%= render partial: "v2/partner/shared/datatable_search", locals: {filter_path: payee_v2_partner_invoices_path, search_id: "srch-term"} %>
      <div class="payee_datatable">
        <%= render partial: "v2/partner/invoices/partials/datatable", locals: {requests: @requests} %>
      </div>
    </div>
  </div>
</div>
<%= javascript_include_tag 'v2/partner/invoices' %>