<div class="modal fade" id="disabled_modal">
  <div class="modal-dialog width-600" >
    <div class="modal-content width-600">
      <!-- Modal Header -->
      <div class="modal-header text-left bg-primary text-white">
        <h4 class="modal-title f_left"> <span class="ml-2" id="transaction_heading">Alert!</span></h4>
        <button type="button" class="close" data-dismiss="modal" id="export_close1">×</button>
      </div>
      <!-- Modal body -->
      <div class="modal-body whitesmoke-background margin_bott">
        <div class="card whitesmoke-background">
          <div class="card-body">
          <h4>Sorry for inconvenience, Reports are currently unavailable!</h4>
          </div>
        </div>
      </div>
      <div class="modal-footer whitesmoke-background" id="exportModalFooter" >
      </div>
    </div>
  </div>
</div>

