
  <div class="modal fade show in over" id="modalsetnewpasswordForm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content margin">
        <div class="modal-header text-center">
          <h4 class="modal-title w-100 font-weight-bold">New User Login</h4>
<!--          <button type="button" class="close" data-dismiss="modal" aria-label="Close">-->
<!--            <span aria-hidden="true">&times;</span>-->
<!--          </button>-->
        </div>
        <div class="modal-body mx-3">

          <%= form_for(@user , validate: true,  url: update_user_merchant_settings_path(id: @user.id), html: { method: :put, id: 'password_form' }) do |f| %>
            <%= f.hidden_field :id , as: :hidden %>
            <%= f.hidden_field :email , as: :hidden %>
            <%= f.hidden_field :two_step_verification , as: :hidden %>
            <p>As a new user, you will need to create your own unique password.</p>
            <hr>
            <div class="form-group">
              <%= f.label :password , 'Password' %>
              <div class="input-group block login-input-group">
                <input type="hidden" name="password_only" value="true">
                <%= f.password_field :password, autofocus: true , id:"user_password" ,class:"form-control width password", placeholder: ' New Password' %>
              </div>
            </div>
            <div class="figure" id="strength_human"></div>
            <div class="form-group">
              <%= f.label :password_confirmation , 'Confirm Password' %>
              <div class="input-group block login-input-group">
                <%= f.password_field :password_confirmation, id:"user_password_confirmation" ,class:"form-control width password_confirmation", placeholder: 'Confirm Password'%>
              </div>
            </div>

            <div class="modal-footer d-flex justify-content-center">
              <%= f.submit "Submit" , class:"btn btn-success ", id:'password_submit'%>
            </div>
          <% end %>
        </div>

      </div>
    </div>
  </div>
