.tooltip-inner {
    max-width: 1000px !important; 
    font-size: 16px !important;
    line-height: 1.35 !important;
}
.copy_image{
    display: none;
}
img.seq_id , img.app_key , img.app_secret {
    cursor: pointer;
}