/*.display_class{*/
    /*display: block;*/
/*}*/
/*.display_none{*/
    /*display: none;*/
/*}*/
/*.width_100{*/
    /*width: 100%;*/
/*}*/
.case-lost-text{
    color: red !important;
}
.timeutc{
    font-weight: bold!important;
}
.clickable-row{
    cursor: pointer;
}
.padding_left_5{
    padding-left: 4.5px!important;
}
.chargeback-submit-btns{
    width: 160px;
    height: 48px;
    border-radius: 24px;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2) !important;
    background-color: #ffd95a !important;
    font-family: 'Open Sans',sans-serif;
    font-size: 16px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.92;
    letter-spacing: 0.26px;
    text-align: center;
    color: rgba(0, 0, 0, 0.7) !important;

}
.loader_1 {
    position: fixed;
    /*width: 100%;*/
    left: 516px;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 9999;
}
.attachment_display{
    display: inherit !important;
}
.uploadFiles{
    display: none;
}
alert .file-close {
    font-size: 1.5em;
    color: #ffd95a !important;
    padding-top: 0.65rem;
}



.alert .close {
    font-family: LineAwesome;
    text-decoration: inherit;
    text-rendering: optimizeLegibility;
    text-transform: none;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    font-smoothing: antialiased;
    font-size: 1.2rem;
    outline: 0 !important;
    text-shadow: none;
    padding-top: 1.3rem;;
    padding-bottom: 0;
    cursor: pointer;
}
.margin_class{
    margin-top: 10px;
}
#progressBar{
    display: none;
}
.copy-pad{
    padding-left: 10px;
    margin-bottom: 20px;
}
.dots-limit{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 7ch;
}
.display-fl{
    display: flex;
}
.trans-id-limit{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 22ch;
}
.copy-pad-1{
    padding-left: 10px;
}
.pointer{
    cursor: pointer;
}
progress::-webkit-progress-value { background: #ffd95a !important; }
progress{
    background: #ffd95a !important;
    width: 300px;
}
.progress{
    height: 5px !important;
}
.del-btn{
    display: none;
}
.file-alert {
    padding: 1rem 1rem !important;
}
.del-btn{
    position: absolute;
    right: 0px;
    top: 15px;
    cursor: pointer;
}
.del-img-div, .file-icon-div{
    display: none;
}
#my_file0{
    display: none;
}