#WithdrawModal .modal-width

/*#tipAccountModal,ConfirmAccountTransferModal{*/
/*    background-color: rgba(0, 0, 0, 0.7);*/
/*}*/
/*#tipAccountModal .modal-header-text{*/
/*    font-family: 'Open Sans',sans-serif;*/
/*    font-size: 36px;*/
/*    font-weight: 600;*/
/*    font-stretch: normal;*/
/*    font-style: normal;*/
/*    line-height: 1.11;*/
/*    letter-spacing: normal;*/
/*    text-align: left;*/
/*    color: #4c4c4c;*/
/*    position: relative;*/
/*    right: 14px;*/
/*}*/
/*#tipAccountModal,ConfirmAccountTransferModal .modal-content{*/
#WithdrawModal .modal-width #tipAccountModal,
ConfirmAccountTransferModal {
    background-color: rgba(0, 0, 0, 0.7);
}
#tipAccountModal .modal-header-text {
    font-family: "Open Sans", sans-serif;
    font-size: 36px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.11;
    letter-spacing: normal;
    text-align: left;
    color: #4c4c4c;
    position: relative;
    right: 14px;
}
#tipAccountModal,
ConfirmAccountTransferModal .modal-content {

    border-radius: 8px;
}
#tipAccountModal .modal-header {
/*    border-bottom: 1px solid #e9ecef !important;*/
/*    background-image: linear-gradient(to bottom, #ffe800, #ffda00);*/
/*    border-top-radius: 8px !important;*/
/*}*/
/*#tipAccountModal .modal-header .close{*/
/*    margin-top: 2px;*/
/*}*/
/*#tipAccountModal .modal-body*/
/*{*/
/*    padding: 2rem;*/
/*    background-color: #f3f3f3 !important;*/
/*}*/
/*#tipAccountModal .label--account*/
/*{*/
/*    font-size: 16px;*/
/*    font-weight: bold;*/
/*    font-stretch: normal;*/
/*    font-style: normal;*/
/*    line-height: 1.25;*/
/*    letter-spacing: normal;*/
/*    font-family: 'Open Sans',sans-serif;*/
/*    text-align: left;*/
/*    color: #777777;*/
/*    padding: 0px 10px;*/

    border-bottom: 1px solid #e9ecef !important;
    background-image: linear-gradient(to bottom, #ffe800, #ffda00);
    border-top-radius: 8px !important;
}
#tipAccountModal .modal-header .close {
    margin-top: 2px;
}
#tipAccountModal .modal-body {
    padding: 2rem;
    background-color: #f3f3f3 !important;
}
#tipAccountModal .label--account {
    font-size: 16px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.25;
    letter-spacing: normal;
    font-family: "Open Sans", sans-serif;
    text-align: left;
    color: #777777;
    padding: 0px 10px;
}
#tipAccountModal .btn--transfer {
    width: 173px;
    height: 48px;
    border-radius: 24px;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
    border: solid 2px #ffd95a;
    background-color: #ffd95a;
}
#tipAccountModal .transfer-money {
   /* width: 173px;
    font-family: 'Open Sans',sans-serif;
    font-size: 16px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.38;
    letter-spacing: 0.26px;
    text-align: center;
    color: #4c4c4c;*/
    width: 173px;
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.38;
    letter-spacing: 0.26px;
    text-align: center;
    color: #4c4c4c;
}
#ConfirmAccountTransferModal .blc-border {
    border-right: 6px solid #35bab6;
}

#WithdrawModal .input--box{
    height: 100px;
    border-radius: 0rem;
}
#WithdrawModal .list--items{
    width: 20%;
}
#WithdrawModal .text--set{
    text-align: center;
}
#WithdrawModal .modal-header {
    border-bottom: 1px solid #e9ecef !important;
    background-image: linear-gradient(to bottom, #ffe800, #ffda00);
    border-top-radius: 8px !important;
}
#WithdrawModal .modal-header-text{
    /*font-family: 'Open Sans',sans-serif;*/
    font-family: "Open Sans",sans-serif;
    font-size: 36px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.11;
    letter-spacing: normal;
    text-align: left;
    color: #4c4c4c;
}
#WithdrawModal .modal--set{
    padding: 2rem 1.4rem;
    font-family: "Open Sans",sans-serif;
    border-radius: 8px;

    padding: 0rem 0rem;



    font-family: "Open Sans",sans-serif;
    font-size: 1.3em;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    letter-spacing: normal;
    text-align: left;
    font-family: 'Open Sans',sans-serif;
    color: #4c4c4c;
}
#WithdrawModal .btn--redius {
    width: 104px;
    height: 48px;
    border-radius: 24px;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
    border: solid 2px #ffd95a;
    background-color: #ffd95a;
}
#WithdrawModal .Add-New-Debit-Card {
    width: 194px;
    height: 27px;
    /*font-family: 'Open Sans',sans-serif;*/
    font-family: "Open Sans",sans-serif;
    font-size: 20px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.35;
    letter-spacing: normal;
    text-align: left;
    color: #4c4c4c;
}
#WithdrawModal .chk-box{
    width: 24px;
    height: 24px;
    border: solid 2px #4c4c4c;
}
#WithdrawModal .check-btn{
    width: 211px;
    height: 48px;
    border-radius: 24px;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
    border: solid 2px #ffd95a;
    background-color: #ffd95a;
}
#WithdrawModal .btn-text{
    width: 211px;
    /*font-family: 'Open Sans',sans-serif;*/
    font-family: "Open Sans",sans-serif;
    font-size: 16px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.38;
    letter-spacing: 0.26px;
    text-align: center;
    color: #4c4c4c;
}
#WithdrawModal .alert-box {

    height: 85px;
    border-radius: 8px;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
    background-color: #ffffff;
}
#WithdrawModal .box-shade {
    border-left: 8px solid #d45858;

}
#WithdrawModal .alert--icon {
    width: 24px;
    height: 24px;
    object-fit: contain;
}
#WithdrawModal .important-note {

    height: 42px;
    /*font-family: 'Open Sans',sans-serif;*/
    font-family: "Open Sans",sans-serif;
    font-size: 16px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.25;
    letter-spacing: normal;
    text-align: left;
    color: #d45858;

}
#WithdrawModal .box-pad{
    padding: 21px;
    padding-bottom: 68px;
}
#WithdrawModal .dis-flex{
    display: flex;
}
#WithdrawModal .sec-text{
    display: inline;
}
#WithdrawModal .text-pad{
    padding: 6px;
}
#WithdrawModal .box-memo{
    border-radius: 8px;
}
#WithdrawModal .card-logo{
    float: right;
}
#WithdrawModal .table-width{
    width: 100%;
}
#WithdrawModal .btn-width{
    width: 94px;
}
#WithdrawModal .brand-name {
    width: 150px;
    height: 112px;
    /*font-family: 'Open Sans',sans-serif;*/
    font-family: "Open Sans",sans-serif;
    font-size: 16px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.38;
    letter-spacing: normal;
    text-align: left;
    color: rgba(0, 0, 0, 0.5);
}
#WithdrawModal .amount-card {
    width: 62px;
    height: 22px;
    /*font-family: 'Open Sans',sans-serif;*/
    font-family: "Open Sans",sans-serif;
    font-size: 16px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.13;
    letter-spacing: normal;
    text-align: left;
    color: rgba(0, 0, 0, 0.5);
}
#WithdrawModal .brand-icon{
    width: 250px;
    padding-left: 20px;
}
#WithdrawModal .tr-shade {
    width: 845px;
    height: 112px;
    border-radius: 5px;
    background-color: #eaeaea;
}
.No-data-available {
    width: 222px;
    height: 23px;
    /*font-family: 'Open Sans',sans-serif;*/
    font-family: "Open Sans",sans-serif;
    font-size: 18px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.33;
    letter-spacing: 0.18px;
    text-align: center;
    color: #777777;
}
.no-data{
    width: 251px;
    object-fit: contain;
    margin-top: 7%;
}
#WithdrawModal .Showing-state {
    width: 266px;
    height: 19px;
    font-family: "Open Sans",sans-serif;font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 2.36;
    letter-spacing: 0.22px;
    text-align: left;
    color: rgba(0, 0, 0, 0.5);
}
#WithdrawModal .jump-to {
    width: 69px;
    height: 22px;
    /*
    font-family: 'Open Sans',sans-serif;
    */
    font-family: "Open Sans",sans-serif;
    font-size: 16px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 2.5;
    letter-spacing: 0.26px;
    text-align: left;
    color: rgba(0, 0, 0, 0.5);
}
#WithdrawModal .btn-inside{
    width: 150px;
}
#AchConfirm .modal-header {
    border-bottom: 1px solid #e9ecef !important;
    background-image: linear-gradient(to bottom, #ffe800, #ffda00);
    border-top-radius: 8px !important;
}
#AchConfirm .modal-header-text{
    /*font-family: "Open Sans",sans-serif;*/
    font-family: 'Open Sans',sans-serif;
    font-size: 36px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.11;
    letter-spacing: normal;
    text-align: left;
    color: #4c4c4c;
}
#P2cConfirmModal .modal-header {
    border-bottom: 1px solid #e9ecef !important;
    background-image: linear-gradient(to bottom, #ffe800, #ffda00);
    border-top-radius: 8px !important;
}
#P2cConfirmModal .modal-header-text{
    font-family: "Open Sans",sans-serif;
    font-size: 36px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.11;
    letter-spacing: normal;
    text-align: left;
    color: #4c4c4c;
}
#EcheckConfirmModal .modal-header {
    border-bottom: 1px solid #e9ecef !important;
    background-image: linear-gradient(to bottom, #ffe800, #ffda00);
    border-top-radius: 8px !important;
}
#EcheckConfirmModal .modal-header-text{
    font-family: 'Open Sans',sans-serif;
    font-size: 36px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.11;
    letter-spacing: normal;
    text-align: left;
    color: #4c4c4c;
}
#GiftCardBuyModal .modal-header {
    border-bottom: 1px solid #e9ecef !important;
    background-image: linear-gradient(to bottom, #ffe800, #ffda00);
    border-top-radius: 8px !important;
}
#GiftCardBuyModal .modal-header-text{
    font-family: 'Open Sans',sans-serif;
    font-size: 36px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.11;
    letter-spacing: normal;
    text-align: left;
    color: #4c4c4c;
}
#giftCardConfirm .modal-header {
    border-bottom: 1px solid #e9ecef !important;
    background-image: linear-gradient(to bottom, #ffe800, #ffda00);
    border-top-radius: 8px !important;
}
#giftCardConfirm .modal-header-text{
    font-family: 'Open Sans',sans-serif;
    font-size: 36px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.11;
    letter-spacing: normal;
    text-align: left;
    color: #4c4c4c;
}
#TransactionAccept .modal-header {
    border-bottom: 1px solid #e9ecef !important;
    background-image: linear-gradient(to bottom, #ffe800, #ffda00);
    border-top-radius: 8px !important;
}
#TransactionAccept .modal-header-text{
    font-family: 'Open Sans',sans-serif;
    font-size: 36px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.11;
    letter-spacing: normal;
    text-align: left;
    color: #4c4c4c;
}
#TransactionAccept .accept-this-order {
    width: 398px;
    height: 89px;
    font-family: 'Open Sans',sans-serif;
    font-size: 36px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.11;
    letter-spacing: normal;
    text-align: center;
    color: #4c4c4c;
}
#TransactionAccept .set-text{
    padding-top: 102px;
    padding-bottom: 82px;
    margin: auto;
}
#TransactionDecline .modal-header {
    border-bottom: 1px solid #e9ecef !important;
    background-image: linear-gradient(to bottom, #ffe800, #ffda00);
    border-top-radius: 8px !important;
}
#TransactionDecline .modal-header-text{
    font-family: 'Open Sans',sans-serif;
    font-size: 36px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.11;
    letter-spacing: normal;
    text-align: left;
    color: #4c4c4c;
}
#TransactionDecline .accept-this-order {
    width: 398px;
    height: 89px;
    font-family: 'Open Sans',sans-serif;
    font-size: 36px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.11;
    letter-spacing: normal;
    text-align: center;
    color: #4c4c4c;
}
#TransactionDecline .set-text{
    padding-top: 102px;
    padding-bottom: 82px;
    margin: auto;
}
#TransactionAccept .set-hr{
    padding-left: 460px;
}
#TransactionDecline .set-hr{
    padding-left: 460px;
}
#PayCardConfirm .modal-header {
    border-bottom: 1px solid #e9ecef !important;
    background-image: linear-gradient(to bottom, #ffe800, #ffda00);
    border-top-radius: 8px !important;
}
#PayCardConfirm .modal-header-text{
    font-family: 'Open Sans',sans-serif;
    font-size: 36px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.11;
    letter-spacing: normal;
    text-align: left;
    color: #4c4c4c;
}
#TipConfirmAccountTransferModal .blc-border{
    border-right: 6px solid #35bab6;
}
#WithdrawModal .alert-set{
    width: 768px;
    height: 42px;
    font-family: 'Open Sans',sans-serif;
    font-size: 16px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.25;
    letter-spacing: normal;
    text-align: left;
    color: #d45858;
}
#WithdrawModal .image-set{
    width: 97px;
    height: 22px;
    font-family: 'Open Sans',sans-serif;
    font-size: 16px;
    font-weight: 600;
    padding-left: 48px;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.38;
    letter-spacing: normal;
    text-align: left;
    color: rgba(0, 0, 0, 0.5);
}
#WithdrawModal .action-set {
    width: 97px;
    height: 22px;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    font-weight: 600;
    padding-left: 67px;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.38;
    letter-spacing: normal;
    text-align: left;
    color: rgba(0, 0, 0, 0.5);
}
#verifyPasswordModel .six-text {
    font-family: 'Open Sans',sans-serif;
    font-size: 20px;
    padding-top: 28px;
    padding-bottom: 35px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
    color: #4c4c4c;
}
#newAchModal .style-1 {
    font-size: 16px;
    font-weight: 600;
    color: #35bab6;

}
#newAchModal  .zero-doller{
    width: 73px;
    height: 19px;
    font-family: 'Open Sans',sans-serif;
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.36;
    letter-spacing: 0.22px;
    text-align: left;
    color: #777777;
}
#newAchModal .margin-top-1{
    margin-top: -0.5rem;
    padding-left: 30px;
}
#AchConfirmModal  .acc-encrypt{
    width: 90px;
    height: 22px;
    font-family: 'Open Sans',sans-serif;
    font-size: 16px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.38;
    letter-spacing: 0.26px;
    text-align: left;
    color: rgba(0, 0, 0, 0.5);
}
#AchConfirmModal .acc-dec{
    width: 381px;
    height: 106px;
    font-family: 'Open Sans',sans-serif;
    font-size: 20px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
    text-align: left;
    color: #707070;
}
#SuccessAccountTransferModal .num-size{
    font-size: 24px;
}
#ConfimP2cModal .user--name {
    height: 27px;
    font-family: 'Open Sans',sans-serif;
    font-size: 20px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 2;
    letter-spacing: normal;
    text-align: right;
    color: #707070;
}
#newP2CModal .style-1 {
    font-size: 16px;
    font-weight: 600;
    color: #35bab6;

}
#newP2CModal .mini-space{
    font-family: "Open Sans",Sans-Serif;
    padding-left: 5%;
}
#newP2CModal .mini-padding{
    padding-top: 12px;
}
#ConfimP2cModal .user--name {
    height: 27px;
    font-family: 'Open Sans',sans-serif;
    font-size: 20px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 2;
    letter-spacing: normal;
    text-align: right;
    color: #707070;
}
#ConfimP2cModal .code-set{
    font-size: 16px;
}
#newP2CModal .font-style{
    font-family: 'Open Sans',sans-serif;
}
.Product-Info {
    height: 33px;
    font-family: 'Open Sans',sans-serif;
    font-size: 24px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 0.83;
    letter-spacing: normal;
    text-align: left;
    color: #4c4c4c;
    padding-left: 15px;
    /*padding-left: 23px;*/
    padding-top: 7px;
}
#achConfrim{
    display: none;
}
#achConfrim .label-ach{
    height: 32px;
    border-radius: 15px;
    font-family: 'Open Sans',sans-serif;
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 2.14;
    letter-spacing: normal;
    text-align: left;
    color: rgba(0, 0, 0, 0.5);
}
#achConfrim .label-blnc{
    height: 32px;
    border-radius: 15px;
    font-family: 'Open Sans',sans-serif;
    font-size: 16px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    letter-spacing: 0.26px;
    text-align: left;
    color: rgba(0, 0, 0, 0.5);
}
#p2cConfirm{
    display: none;
}
#p2cConfirm .label-p2c{
    height: 32px;
    border-radius: 15px;
    font-family: 'Open Sans',sans-serif;
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 2.14;
    letter-spacing: normal;
    text-align: left;
    color: rgba(0, 0, 0, 0.5);
}
#p2cConfrim .label-blnc{
    height: 32px;
    border-radius: 15px;
    font-family: 'Open Sans',sans-serif;
    font-size: 16px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    letter-spacing: 0.26px;
    text-align: left;
    color: rgba(0, 0, 0, 0.5);
}
#echeckConfrim{
    display: none;
}
#echeckConfrim .label-echeck{
    height: 32px;
    border-radius: 15px;
    font-family: 'Open Sans',sans-serif;
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 2.14;
    letter-spacing: normal;
    text-align: left;
    color: rgba(0, 0, 0, 0.5);
}
#echeckConfrim .label-blnc{
    height: 32px;
    border-radius: 15px;
    font-family: 'Open Sans',sans-serif;
    font-size: 16px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    letter-spacing: 0.26px;
    text-align: left;
    color: rgba(0, 0, 0, 0.5);
}
/* giftcard confirm css */
#giftConfirm .modal-header-text{
    font-family: 'Open Sans',sans-serif;
    font-size:36px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.11;
    letter-spacing: normal;
    text-align: left;
    color: #4c4c4c;
}
#giftConfirm .modal-content{
    border-radius: 8px;
    width: 937px;
}
#giftConfirm .modal-header {
    border-bottom: 1px solid #e9ecef !important;
    background-image: linear-gradient(to bottom, #ffe800, #ffda00);
    border-top-radius: 8px !important;
}
#giftConfirm .modal-header .close{
    margin-top: 2px;
}

#giftConfirm .accounts{
    width: 410px;
    padding:5px 20px;
    background-color: rgba(216, 216, 216, 0.2);
}
#giftConfirm  .account-name-text{
    font-family: 'Open Sans',sans-serif;
    font-size: 20px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 2;
    letter-spacing: normal;
    color: #707070;
}
#giftConfirm  .account-text{
    font-family: 'Open Sans',sans-serif;
    font-size: 16px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.88;
    letter-spacing: normal;
    text-align: left;
    color: #707070;
}
#giftConfirm .giftcard-amount{
    padding: 5px 25px 30px 25px;
    border-radius: 8px;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
    background-color: #ffffff;
}

#giftConfirm .giftcard-paragraph-text{
    /*font-family: 'Open Sans',sans-serif;*/

    font-family: "Open Sans",sans-serif;
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 2.14;
    letter-spacing: normal;
    text-align: left;
    color: rgba(0, 0, 0, 0.5);

}

#giftConfirm .bg-amount{
    border-radius: 5px;
    background-color: rgba(216, 216, 216, 0.2);
}
#giftConfirm .bg-remaining{
    border-radius: 5px;
    background-color: rgba(216, 216, 216, 0.2);
    border-right: 6px solid #35bab6 !important;
}

#giftConfirm .giftcard-amount-price{
    font-family: 'Open Sans',sans-serif;
    font-size: 18px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.33;
    letter-spacing: 0.36px;
    text-align: right;
    color: #707070;
}

#giftConfirm .amount-text{
    font-family: 'Open Sans',sans-serif;
    font-size: 24px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.67;
    letter-spacing: normal;
    text-align: left;
    color: #707070;
}

#giftConfirm .gift-card-back-btn{
    width: 111px;
    height: 48px;
    border-radius: 24px;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2)!important;
    border: solid 2px #ffd95a;
    background-color: #ffffff;
    /*font-family: 'Open Sans',sans-serif;*/
    font-family: "Open Sans",sans-serif;
    font-size: 16px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.68;
    letter-spacing: 0.26px;
    color: #4c4c4c;
}

#giftConfirm .giftcard-confirm-btn{
    width: 111px;
    height: 48px;
    border-radius: 24px;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2) !important;
    border: solid 2px #ffd95a;
    background-color: #ffd95a !important;
    font-family: "Open Sans",sans-serif;
    /*font-family: 'Open Sans',sans-serif;*/
    font-size: 16px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.68;
    letter-spacing: 0.26px;
    color: #4c4c4c;

}
#giftConfirm .account-gift{
    padding: 5px 20px;
    background-color: rgba(216, 216, 216, 0.2);
}
#giftConfirm .margin-32{
    margin-top: -12px;
}
.export-per-btn {
    width: 126px;
    font-family: 'Open Sans',sans-serif;
    font-size: 16px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.38;
    letter-spacing: 0.26px;
    text-align: center;
    color: #4c4c4c;
    margin-right: 20px;
}
#verifyPasswordModel .heihgt-modal{
    padding-bottom: 30px;
}
#profileModel .modal-body1{
    padding-top: 48px !important;
}
#profileModel .modal-height{
    padding-bottom: 40px;
}
#confirmProfileModal .confirm-text1{
    font-family: 'Open Sans',sans-serif;
    font-size: 32px;
    margin-bottom: 40px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.11;
    letter-spacing: normal;
    color: #4c4c4c;
}
#confirmProfileModal .key-size{
    width: 80px;
    height: 80px;
    object-fit: contain;
}
#confirmProfileModal .heihgt-modal-1{
    margin-top: 2em;
    padding-bottom: 30px;
}
.width-0{
    border-radius: 24px;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
    border: solid 2px #ffd95a;
    background-color: #ffffff;
}
#giftConfirm .modal-bodyg{
    position: relative;
    flex: 1 1 auto;
}
#giftBuy .modal-bodyg{
    position: relative;
    flex: 1 1 auto;
}
#WithdrawModal .modal-width{
    width: 937px;
    /*width: 937px !important;*/
}
#echeckConfrim .user-echeck {
    width: 215px;
    height: 27px;
    font-family: 'Open Sans',sans-serif;
    font-size: 20px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 2;
    letter-spacing: normal;
    text-align: right;
    color: #707070;
}
#echeckConfrim .echk-margin{
    margin-top: -55px;
}
#p2cConfirm .zip-code{
    padding-right: 53px;
    height: 27px;
    font-family: 'Open Sans',sans-serif;
    font-size: 20px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 2;
    letter-spacing: normal;
    text-align: right;
    color: #707070;
}
#p2cConfirm .pas-code{
    /*width: 139px;*/
    /*height: 22px;*/
    font-family: 'Open Sans',sans-serif;
    font-size: 16px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.38;
    letter-spacing: 0.26px;
    text-align: left;
    color: rgba(0, 0, 0, 0.5);
}
#p2cConfirm .user-echeck {
    height: 27px;
    font-family: 'Open Sans',sans-serif;
    font-size: 20px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 2;
    letter-spacing: normal;
    text-align: right;
    color: #707070;
}
#p2cConfirm .echk-margin{
    margin-top: -55px;
}
#achConfrim .echk-margin{
    margin-top: -37px;
}
.outPopUp {
    position: absolute;
    width: 300px;
    height: 200px;
    z-index: 15;
    top: 55%;
    left: 48%;
    margin: -100px 0 0 -100px;
}
.get-started {
    width: 424px;
    font-family: 'Open Sans',sans-serif;
    font-size: 24px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.92;
    letter-spacing: normal;
    text-align: center;
    color: rgba(0, 0, 0, 0.7);
    margin-left: -57px;
}
.btn-ok{
    width: 126px;
    height: 48px;
    border-radius: 24px;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
    border: solid 2px #ffd95a;
    background-color: #ffd95a;
}
.OK {
    width: 126px;
    font-family: 'Open Sans',sans-serif;
    font-size: 16px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.38;
    letter-spacing: 0.26px;
    text-align: center;
    color: #4c4c4c;
}
.step3-body {
    width: 808px;
    min-height: 749px;
    border-radius: 8px;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
    background-color: #ffffff;
}
.Please-read {
    height: 33px;
    font-family: 'Open Sans',sans-serif;
    font-size: 24px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 0.83;
    letter-spacing: normal;
    text-align: left;
    color: rgba(0, 0, 0, 0.7);
    padding-left: 17px;
    padding-top: 28px;
}
.top-height{
    top: 173px;
    padding-left: 287px;
}
.hr-welcome{
    width: 752px;
    height: 0;
    border: solid 1px #e8e8e8;
    margin-right: 17px;
    margin-top: 24px;
}
.pro-spc{
    padding-top: 15px;
}
#confirmProfileModal .confirm-text1 {
    font-family: 'Open Sans',sans-serif;
    font-size: 32px;
    margin-bottom: 40px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.11;
    letter-spacing: normal;
    color: #4c4c4c;
}
#errormessage .close{
    padding-top: 0.5%
}
.margin-top-43px{
    margin-top: 25px;
    /*margin-left: 2rem;*/
}
.margin-24{
    margin-top: 24px;
}
.padding-16{
    padding-top: 16px;
}
.padding--20 {
    padding-left: 20px;
}
.error-pincode{
    margin: 0px 24%;
}
.active-bold{
    font-weight: bold;
}
.th-bold{
    font-weight: bold !important;
}
.drop-line{
    line-height: 1.35 !important;
}
.add-link{
    margin-left: -15px;
}
.right-set{
    padding-right: 65px;
}
.grand-total-font{
    font-size: 24px !important;
}
.cursor-pointer{
    cursor: pointer;
    display: inline-block;
}
.pointer-none
{
    pointer-events: none !important;
}