.color-ffd95a{
    background-color: #ffd95a;
}
.f-color-777777{
    color: #777777;
}
.timer-width-18{
    width:18%;
}
.font-p-8-rem{
    font-size: 0.8rem;
}

/*new modal styles*/

#newAchModal .modal-header{
    border-bottom: 1px solid #e9ecef !important;
    background-image: linear-gradient(to bottom, #ffe800, #ffda00);
    /*border-radius: 8px !important;*/
}

#newAchModal .modal-header {
    padding: 15px;
}

#newAchModal{
    background-color: rgba(0, 0, 0, 0.4);
}
#newAchModal .modal-content{
    border-radius: 8px;
}

#newAchModal .modal-body {
    padding: 1em 0 !important;
}
#newAchModal .form-group input{
    border-radius: 25px;
    border: solid 2px #efefef;
    background-color: #ffffff;
}
#newAchModal .m-input-icon{
    max-width: 392px;
}

#newAchModal .modal-header{
    padding: 15px;
}
#newAchModal .modal-header .close{
    margin-top: 2px;
}
#newAchModal .modal_btn{
    margin-top: 3em;
}

#newAchModal label{
    color: #777777;
    margin-left: 0.5rem;
    font-weight: bold;
}

.account-balance{
    border-radius: 4px;
    padding: 2% 3%;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
    background-color: #f7f7f7;
    border-right:6px solid #35bab6;
}
.my-modal-header{
    font-family: 'Open Sans',sans-serif;
    font-size: 2em;
    margin: 2px 0;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.11;
    letter-spacing: 0.58px;
    text-align: left;
    color: rgba(0, 0, 0, 0.7);
    z-index: 1053;
}
#newAchModal .confirm-modal-btn{
    margin-top: 3em;
    padding-bottom: 4em;
}

.ach-heading-custom{
    min-height:45px;
}

.ach-total-amount-custom{
    color:#35bab6;
}

/*new ach submission modal*/

.ach_form_submission_div{
    background-color: rgba(216, 216, 216, 0.2);
}
.bg-white{
    background-color: #ffffff;
}

body{
    font-family: 'Open Sans',sans-serif !important;
}

.btn{
    font-family: 'Open Sans',sans-serif !important;
}
/*______________________________*/
/*accounts page special styles start*/
/*______________________________*/
@media screen and (max-width: 3000px) and (min-width: 1200px){
.accounts-page .page-title{
    font-size: 2.500vw !important;
}

.accounts-page .small-title{
    font-size: 1.667vw !important;
}

.accounts-page .select_number{
    font-size: 1.111vw !important;
}

.accounts-page .mt-3{
    margin-top: 1.111vw !important;
}

.accounts-page .mr-2{
    margin-right: 0.556vw !important;
}

.accounts-page .ml-2{
    margin-left: 0.556vw !important;
}

.accounts-page .pagination_dropdown{
    width: 6.528vw !important;
    height: 3.333vw !important;
}

.accounts-page select.form-control:not([size]):not([multiple]){
    height: calc(2.833vw + 0.139vw) !important;
    border-radius: 1.736vw;
}

.accounts-page .m-bootstrap-select.bootstrap-select.m-bootstrap-select--pill > .dropdown-toggle{
    max-width: 29.167vw ;
    height: 3.333vw !important;
    border-radius: 1.736vw !important;
}
.accounts-page .bootstrap-select > .dropdown-toggle{
    padding: 0.722vw 1.111vw;
    padding-right: 2.056vw;
}

.accounts-page .filter-option-inner{
    font-size: 0.972vw !important;
}

.accounts-page .bootstrap-select .dropdown-toggle .caret{
    right: 0.833vw !important;
    margin-top: -0.139vw !important;
}
.accounts-page .bootstrap-select > .dropdown-toggle:after{
    /*top: 40% !important;*/
    right: 1.667vw !important;
    font-size: 1.319vw;

}

.accounts-page .search_input_datatable{
    width: 19.444vw;
    height: 3.333vw;
    border-radius: 1.944vw;
}

.accounts-page .m-input-icon.m-input-icon--left .form-control{
    padding-left: 3.111vw;
}
.accounts-page .form-control{
    font-size: 1.111vw;
}
.accounts-page .m-input-icon > .m-input-icon__icon{
    width: 3.556vw;
}
.accounts-page .dataTables_info{
    font-size: 1.111vw;
}

.accounts-page .pagination{
    border-radius: 0.278vw;
}

.accounts-page .dataTables_paginate{
    font-size: 1.111vw;
}
.accounts-page ul{
    margin-bottom: 1.111vw;
}

.accounts-page .first_last{
    min-width: 74px;
    width: 5.49vw;
    height: 2.222vw;
    font-size: 1.111vw;
}

.accounts-page .page-link{
    font-size: 1.111vw;
}
.accounts-page .mr-1{
    margin-right: 0.278vw !important;
}

.accounts-page .page-item.active .page-link{
    width: 2.222vw;
    border-radius: 0.278vw;
    font-size: 1.111vw;
}

.accounts-page .jump_to{
    font-size: 1.111vw;
}
}
/*______________________________*/
/*accounts page special styles end*/
/*______________________________*/

/*=========================*/
/*hold search special issue start*/
/*=========================*/
.hold-custom-3 .m-input-icon{
    width: inherit !important;
}

/*=========================*/
/*hold search special issue end*/
/*=========================*/

.send-code-again{
    /*width: 113px;*/
    /*height: 19px;*/
    /*font-family: "Open Sans";*/
    font-size: 14px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.36;
    letter-spacing: normal;
    text-align: center;
    text-decoration: underline;
    color: #35bab6;
}

.charge_back_table table{
    width:100%;
}


.amount-td,.amount-th{
    text-align: right !important;
}

.invoices .amount-td, .invoices .amount-th{
    padding-right: 1rem !important;
}
/*.amount-td{*/
/*    text-align: right !important;*/
/*}*/

#total_ach, #push_to_card , #e-checks,#bulk--checks{
    width:200px !important;
}

.ach_text {
    position: relative;
    right: 27px;
}
.p2c_text {
    position: relative;
    right: 30px;
}
.total_amount_text {
    position: relative;
    right: 23px;
}
.bulk_checks_text {
    position: relative;
    right: 8px;
}
.creation_date_bulk{
    padding-left: 5rem !important;
}


.bulkChecks .amount-th , .bulkChecks .amount-td{
    padding-right:5rem!important;
}

.total_checks_in_bulk{
    padding-right:5rem !important;
}

.bulkChecks th{
    font-size: 14px;
}

/*------------------------*/
/*working directly on BE code*/
/*------------------------*/

/*==============*/
/*invoices new start*/
/*==============*/
.m-grandtotal-input{
    max-width:200px !important;
}
.invoice-c-3 .input-group{
    max-width:420px !important;
}
.chr-limit-custom-3{
    margin-top: -25px;
    margin-right: 6px;
    opacity: 0.5;
    /*font-family: OpenSans;*/
    font-size: 14px;
    /*font-weight: normal;*/
    /*font-stretch: normal;*/
    /*font-style: normal;*/
    /*line-height: 1.36;*/
    /*letter-spacing: 0.22px;*/
    /*text-align: left;*/
    color: #777777;
}
/*==============*/
/*invoices new end*/
/*==============*/

/*==============*/
/*ach start*/
/*==============*/

.last4_text{
    position: relative;
    right: 17px;
}
.account-th{

}

.account-td{
    text-align:right;
}

.form-control{
    font-family: 'Open Sans',sans-serif !important;
}

/*.btn_status:active{*/
/*    background: yellow;*/
/*}*/
/*==============*/
/*ach end*/
/*==============*/

/*==============*/
/*funding start*/
/*==============*/
.funding-c-3 .btn-status:focus{
    background-color:white !important;
}
/*==============*/
/*funding end*/
/*==============*/

/*==============*/
/*tabs start*/
/*==============*/

.m-tabs-line .m-tabs__item{
    margin-right:0px !important;
}
.m-tabs-line .m-tabs__item a {
    padding-right: 1.25rem !important;
    padding-left: 1.25rem !important;
}

/*==============*/
/*tabs end*/
/*==============*/

/*==============*/
/*plugins start*/
/*==============*/

.plugin-download{
    max-width:148px !important;
}

/*==============*/
/*Plugins end*/
/*==============*/
/*==============*/
/*P2c start*/
/*==============*/

.trash_icon{
    float: right;
    position: relative;
    bottom: 3px;
}

/*==============*/
/*P2c end*/
/*==============*/

#WithdrawModal{
    overflow:auto;
}

#scrollbar--side:hover {
    overflow-x:hidden;
    overflow-y:auto;
}

.m-aside-menu.m-aside-menu--skin-dark .m-menu__nav>.m-menu__item .m-menu__submenu .m-menu__item.m-menu__item--active>.m-menu__heading .m-menu__link-text, .m-aside-menu.m-aside-menu--skin-dark .m-menu__nav>.m-menu__item .m-menu__submenu .m-menu__item.m-menu__item--active>.m-menu__link .m-menu__link-text{
    background-color: #ffc703 !important;
}

#scrollbar--side .m-menu__submenu .m-menu__link-text{
    padding-left: 8px;
    height: 38px;
    padding: 10px;
}
#scrollbar--side .m-menu__submenu .m-menu__link-text:hover{
    background-color: #ffe33e;
    width: 158px;
    height: 38px;
    border-radius: 4px 1em 1em 4px;
}

.giftcard-show-image{
    width:90%;
}