/*.daterangepicker{*/
    /*height: 46%!important;*/
/*}*/
.range_inputs{
    display: none;
}
/*.applyBtn{*/
    /*display: block;*/
    /*float: left;*/
/*}*/
/*.cancelBtn{*/
    /*display: block;*/
    /*line-height: 1.7!important;*/
    /*margin-top: 20px;*/
    /*height: 50%;*/
/*}*/
.chargeback_datatable tr td{
    pointer-events: none;
}
.detail-btn{
    pointer-events: auto !important;
}