
.modal {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1050;
    display: none;
    overflow: hidden;
    outline: 0
}
.fade {
    transition: opacity .15s linear
}

@media screen and (prefers-reduced-motion: reduce) {
    .fade {
        transition: none
    }
}

/*.modal.fade .modal-dialog {
    transition: transform .3s ease-out;
    transform: translate(0, -25%)
}

@media screen and (prefers-reduced-motion: reduce) {
    .modal.fade .modal-dialog {
        transition: none
    }
}*/
.modal-backdrop.fade {
    opacity: 0
}

.modal-backdrop.show {
    opacity: .5
}
/*.modal-dialog {
    position: relative;
    width: auto;
    margin: .5rem;
    pointer-events: none
}
.modal .modal-content {
    border: 0;
    border-radius: 0;
    border-radius: 4px
}*/

.modal .modal-content .modal-header {
    padding: 20px 32px 11px 44px !important;
    height: 80px !important;
    margin-bottom: 0rem !important;
}

.modal .modal-content .modal-header .modal-title {
    font-weight: 400;
    font-size: 1.2rem
}

.modal .modal-content .modal-header .close {
    line-height: 0;
    font-family: LineAwesome;
    text-decoration: inherit;
    text-rendering: optimizeLegibility;
    text-transform: none;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    font-smoothing: antialiased;
    font-size: 0;
    outline: 0 !important
}

.modal .modal-content .modal-header .close:before {
    content: ""
}

.modal .modal-content .modal-header .close:before {
    font-size: 1.2rem
}

.modal .modal-content .modal-header .close span {
    display: none
}

.modal .modal-content .modal-body {
    padding: 25px
}

.modal .modal-content .modal-footer {
    padding: 25px
}
.modal-content {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    pointer-events: auto;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(0, 0, 0, .2);
    border-radius: .3rem;
    outline: 0
}
@media (min-width: 992px) {
    .modal-lg {
        max-width: 800px
    }
}
.change-password-modal-text{
    font-family: 'Open Sans',sans-serif;
    font-size: 32px;
    margin: 2px 0;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.11;
    letter-spacing: 0.58px;
    text-align: left;
    color: rgba(0, 0, 0, 0.7);
    z-index: 1053;
}

.close {
    float: right;
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 1;
    color: #000;
    text-shadow: 0 1px 0 #fff;
    opacity: .5
}

.close:focus, .close:hover {
    color: #000;
    text-decoration: none;
    opacity: .75
}

.close:not(:disabled):not(.disabled) {
    cursor: pointer
}

button.close {
    padding: 0;
    background-color: transparent;
    border: 0;
    -webkit-appearance: none
}
.modal .modal-content .modal-header .close {
    line-height: 0;
    font-family: LineAwesome;
    text-decoration: inherit;
    text-rendering: optimizeLegibility;
    text-transform: none;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    font-smoothing: antialiased;
    font-size: 0;
    outline: 0 !important
}

.modal .modal-content .modal-header .close:before {
    content: ""
}

.modal .modal-content .modal-header .close:before {
    font-size: 1.2rem
}

.modal .modal-content .modal-header .close span {
    display: none
}
.mt-5, .my-5 {
    margin-top: 3rem !important
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}
.m-input-icon {
    position: relative;
    padding: 0;
    width: 100%;
}
.m-input-icon.m-input-icon--right .form-control {
    padding-right: 2.8rem;
}
.form-control {
    font-family: 'Open Sans',sans-serif !important;
}
.form-control, .form-control[readonly] {
    border-color: #ebedf2;
    color: #575962;
}
.form-control {
    display: block;
    width: 100%;
    padding: .65rem 1rem;
    /*font-size: 1rem;*/
    line-height: 1.25;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 2.25rem;
    height: 48px;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}
.m-input-icon > .m-input-icon__icon.m-input-icon__icon--right {
    right: 0;
}
.m-input-icon > .m-input-icon__icon {
    position: absolute;
    height: 100%;
    display: inline-block;
    text-align: center;
    top: 16px;
    width: 4.2rem;
}
a{
    color: inherit;
}
.m-form .m-form__group {
    margin-bottom: 0;
    padding-top: 15px;
    padding-bottom: 15px;
}
.form-group {
    width: 100%;
}
.text-left {
    text-align: left !important;
}
.ml-3, .mx-3 {
    margin-left: 1rem !important;
}
#tooltips {
    position: absolute;
    width: 280px;
    z-index: 1111;
    margin: 5px 24px;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
    border: solid 1px #dfdfdf;
    background-color: #ffffff;
    display: none;
    padding: 10px;
}

#tooltips .pwd-suggestion-title {
    font-family: 'OpenSans',sans-serif;
    font-size: 0.75em !important;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.67;
    letter-spacing: normal;
    text-align: left;
    color: var(--black-70);
}
.password-suggesstions {
    display: flex;
    margin-bottom: 5px;
}
#tooltips .valid {
    width: 18px;
    height: 18px;
    border-radius: 50%;
    background-color: green;
    border: solid 1px #dfdfdf;
}
#tooltips .pwd-suggestion-message {
    position: relative;
    bottom: 0.3em;
    left: 1em;
    font-family: 'OpenSans',sans-serif;
    font-size: 0.75em !important;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.67;
    letter-spacing: normal;
    text-align: left;
    color: var(--black-70);
}
.valid .fa-check {
    color: #fff;
    position: relative;
    font-size: 10px;
    bottom: 4.6px;
    left: 0.3em;
}
.m-input-icon.m-input-icon--right .form-control {
    padding-right: 2.8rem;
}
.text--center {
    text-align: -webkit-center !important;
}
.change-btn-pass {
    width: 204px;
    height: 48px;
    border-radius: 120px;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
    background-color: #d6d6d6 !important;
    font-family: 'Open Sans',sans-serif;
    font-size: 16px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.38;
    letter-spacing: 0.26px;
    text-align: center;
    color: rgba(0, 0, 0, 0.5);
    border-color: #d6d6d6 !important;
}
.btn {
    font-family: 'Open Sans',sans-serif !important;
}
.login-welcome-change-password-button {
    width: 230px;
    height: 48px;
    border-radius: 24px;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2) !important;
    border: solid 2px #ffd95a;
    background-color: #ffd95a !important;
    font-family: 'Open Sans',sans-serif;
    font-size: 16px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.78;
    letter-spacing: 0.26px;
    text-align: center;
    color: #4c4c4c;
}
.mr-5, .mx-5 {
    margin-right: 3rem !important;
}

.mb-4, .my-4 {
    margin-bottom: 1.5rem !important;
}
.mt-2, .my-2 {
    margin-top: .5rem !important;
}
.pull-right {
    float: right;
}

#ResetPasswordModel .diff-pass{
    width: 369px;
    height: 17px;
    font-family: 'Open Sans',sans-serif;
    font-size: 12px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.42;
    letter-spacing: 0.19px;
    text-align: left;
    color: #d45858;
}
#ResetPasswordModel .password-mismatch {
    width: 123px;
    height: 17px;
    font-family: 'Open Sans',sans-serif;
    font-size: 12px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.42;
    letter-spacing: 0.19px;
    text-align: left;
    color: #d45858;
}
#ResetPasswordModel .Current-Password {
    font-family: 'Open Sans',sans-serif;
    font-size: 16px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.38;
    letter-spacing: 0.26px;
    padding-left: 12px;
    color: #4a4a4a;
}
#ResetPasswordModel{
    background-color: rgba(0, 0, 0, 0.4);
}
#ResetPasswordModel .modal-content{
    border-radius: 8px;
}
#ResetPasswordModel .modal-header {
    border-bottom: 1px solid #e9ecef !important;
    background-image: linear-gradient(to bottom, #ffe800, #ffda00);
    border-top-radius: 8px !important;
}
#ResetPasswordModel .modal-body {
    padding: 6em 0 !important;
}
#ResetPasswordModel .form-group input{
    max-width: 392px;
    height: 48px;
    border-radius: 25px;
    border: solid 2px #efefef;
    background-color: #ffffff;
}
#ResetPasswordModel .m-input-icon{
    max-width: 392px;
}
#ResetPasswordModel .modal-header{
    padding: 15px;
}
#ResetPasswordModel .modal-header .close{
    margin-top: 2px;
}
#ResetPasswordModel .modal_btn{
    margin-top: 3em;
}
#ResetPasswordModel .modal-body1{
    padding-top: 48px !important;
}
#ResetPasswordModel .modal-height{
    padding-bottom: 40px;
}
#ResetPasswordModel .sixty-days{
    width: 622px;
    height: 46px;
    font-family: 'Open Sans',sans-serif;
    font-size: 16px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: 0.26px;
    text-align: center;
    color: #4c4c4c;
}
#ResetPasswordModel .btn-width-reset{
    width: 232px !important;
}
#ResetPasswordModel unseen-eye{
    width: 16px;
    height: 13px;
    object-fit: contain;
}
#ResetPasswordModel .error-hr{
    width: 730px;
    height: 0;
    border: solid 1px #adadad;
    margin-top: 24px;
}
#ResetPasswordModel.log_out_maint{
    font-size: 20px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1;
    letter-spacing: normal;
    text-align: left;
    color: rgba(0, 0, 0, 0.7);
}
.fa{
    font: normal normal normal 14px/1 FontAwesome;
}
.display_none{
    display: none;
}
.message{
    color: #d45858;
}
.valid .fa-check {
    color: #fff;
    position: relative;
    font-size: 10px ;
    bottom: 3px !important;
    left: 0 !important;
}
.invalid .fa-times {
    color: #fff;
    position: relative;
    font-size: 10px;
    bottom: 3px !important;
}