button.show-dynamic-modal {
    background: none;
    border: none;
    cursor: pointer;
}
label {
    margin-bottom: .5rem !important;
}
#m_daterangepicker_6{
    display: none !important;
}
.width-modal{
    width: 680px !important;
}

.width-modal-permission{
    width: 1080px !important;
}
.permission_modal_width{
    width: 688px !important;
    height: 482px;
}

/*@media (min-width: 992px) {*/
/*    .modal-lg {*/
/*        max-width: 1080px !important;*/
/*    }*/
/*}*/
div#error_message {
    display: none;
    color: red;
}

.modal-lg {
    max-width: 860px;
}
.l_shape_4_show {
    border-left: 3px solid #dedede;
    border-bottom: 3px solid #dedede;
    width: 24px;
    height: 24px;
    position: absolute;
    top: 19.5%;
    left: 57px;
}
.l_shape_5_show {
    border-left: 3px solid #dedede;
    border-bottom: 3px solid #dedede;
    width: 24px;
    height: 24px;
    position: absolute;
    top: 37.5%;
    left: 57px;
}

.active_permission{
    width: 195px;
    height: 48px;
    border-radius: 24px;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2) !important;
    border: solid 2px #ffd95a;
    background-color: #ffd95a;
    font-size: 16px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.38;
    letter-spacing: 0.26px;
    text-align: center;
    color: #4c4c4c;
}

.create_permission_loader{
    width: 210px !important;
    height: 48px;
    border-radius: 24px;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2) !important;
    border: solid 2px #ffd95a;
    background-color: #ffd95a;
    font-size: 16px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.38;
    letter-spacing: 0.26px;
    text-align: center;
    color: #4c4c4c;
}
.update_Permission_loader{
    width: 255px;
    height: 48px;
    border-radius: 24px;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2) !important;
    border: solid 2px #ffd95a;
    background-color: #ffd95a;
    font-size: 16px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.38;
    letter-spacing: 0.26px;
    text-align: center;
    color: #4c4c4c;
}

.disable-for-show-all{
    border: solid 2px #adadad;
    background-color: #e8e8e8 !important;
}

.new_class{
    color: #adadad !important;
    /*background-color: #e8e8e8 !important;*/
}
.back-permission-btn{
    background: #ffd95a;
}

/*Show Css*/
.btn_back_permission{
    width: 250px;
    height: 48px;
    border-radius: 24px;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
    border: solid 2px #ffd95a !important;
    background-color: #ffd95a !important;
    font-family: 'Open Sans',Sans-Serif;
    font-size: 16px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.8;
    letter-spacing: 0.26px;
    text-align: center;
    color: #4c4c4c;
    margin-left: 37%;
    margin-bottom: 35px;
}

.Update_Permission{
    line-height: 1.8 !important;
}

.back_to_permission_list{
    line-height: 1.8 !important;
}

.view_user_permission .m-checkbox.m-checkbox--state-brand > span{
    width: 20px;
    height: 20px;
    border: solid 2px #adadad !important;
    background-color: #e8e8e8;
}

.checkbox_check{
    font-family: 'Open Sans',Sans-Serif;
    font-size: 16px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.38;
    letter-spacing: normal;
    text-align: left;
    color: #4c4c4c;
}

.simple_checks_box{
    font-family: 'Open Sans',Sans-Serif;
    font-size: 16px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.38;
    letter-spacing: normal;
    text-align: left;
    color: #adadad;
}

.grash_checkbox{
    font-family: 'Open Sans',Sans-Serif;
    font-size: 16px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.38;
    letter-spacing: normal;
    text-align: left;
    color: #adadad;
}
.checkbox_4c4c4c{
    font-family: 'Open Sans',Sans-Serif;
    font-size: 16px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.38;
    letter-spacing: normal;
    text-align: left;
    color: #4c4c4c;
}
/*Show Css*/

.cbx-white{
    background-color: white !important;
}

#already-exist{
    display: none;
}
.show-exist{
    display: block !important;
    color: red;
}