div#rightMenu {
    display: none;
}

.new_order{
    width: 15%;
}
.pre_transit {
    width: 25%;
}

.in_transit {
    width: 50%;
}

.out_for_delivery{
    width: 75%;
}
.delivered{
    width: 100%;
    border-bottom: 5px solid #49bd73 !important;
    border-radius: 5px; 
}

.row.return_to_sender {
    width: 100%;
}

#editProfile{
    height:112px;
    width:112px;
}

#user_profile_image_attributes_document{
    display:none;
}

.message_error{
    display:none
}
#eye-icon{
    display:none;
}
#eye-slash{
    display:none;
}

.alert.bg-primary {
    background: #f5b81e !important;
}
.alert.alert-error.bg-primary {
    background: red !important;
}
.has-error {
    color: red;
}

div#resetpassword {
    margin-bottom: 20px;
}
.intl-tel-input.allow-dropdown {
    width: 100%;
}
#alert-message-top{
    position: absolute;
    width: 100%;
}
.success_border{
    border-bottom: 5px solid #49bd73 !important;
    border-radius: 5px;
    width: 96%;
}
.submission-tab{
    display: block;
}

.closeBtn{
    padding-top: 10px;
    float: right;
    cursor: pointer;
    color: orange;
    font-size: 25px;
}
.file_div {
    background: white;
    width: 300px;
    padding: 10px;
    margin: 10px 0px;
}
#customer_dispute_evidences_attributes_0_document{
    opacity: 0;
    width: 0px;
}

.attment_doc_box {
    white-space: nowrap !important;
    overflow: hidden !important;
    text-overflow: ellipsis !important;
}

.vl_half{
    border-left: 2px dashed #e2e2e2;
    height: 250px;
}

.response{
    margin-top: 4%;
}
.unread {
    margin: 2px;
    border: 6px solid #f7ab2a;
}
.alert[data-notify][data-notify-position=bottom-center], .alert[data-notify][data-notify-position=top-center]{
    width: 629px;
    height: 80px;
}
.alert{
    padding: 1.5rem;
}
.alert_image{
    position: relative;
    top:-24px;
    left: -24px;
}
.alert-text{
    /*position: relative;*/
    /*top:27px;*/
    font-family: 'Open Sans',sans-serif;
    font-size: 1em !important;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.38;
    letter-spacing: 0.26px;
    text-align: left;
    color: var(--black-70);
}

.row.refunded {
    width: 100%;
}

/*//zair*/
.intl-tel-input .selected-flag{
    height:50px !important;
}
.display_no{
    display: none;
}
#tooltips{
    position: absolute;
    /*top: 35%;*/
    width: 243px;
    z-index: 1111;
    /*margin: 5px 24px;*/
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
    border: solid 1px #dfdfdf;
    background-color: #ffffff;
    display: none;
    padding: 10px;
}

.password-suggesstions{
    display: flex;
    margin-bottom: 5px;
}


#tooltips .invalid{
    width: 18px;
    height: 18px;
    border-radius: 50%;
    background-color: red;
    border: solid 1px #dfdfdf;
    /*background-color:#ffffff;*/
}

#tooltips .valid{
    width: 18px;
    height: 18px;
    border-radius: 50%;
    background-color:green;
    border: solid 1px #dfdfdf;
}

#tooltips .require-format{
    width: 18px;
    height: 18px;
    border-radius: 50%;
    border: solid 1px #dfdfdf;
}
.arrow-down,.arrow-up{
    margin-left: 10%;
}
#user_phone_number-error ,#user_password_confirmation-error{
    font-size: 0.75em !important;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.42;
    letter-spacing: 0.19px;
    text-align: left;
    color: #e88a8a;
    margin-left: 2%;
    position: absolute;
}

input#delete_profile_image {
    display: none;
}
i.la.la-close.delete_class {
    display: none;
}
.delete_profile{
    font-weight: bold !important;
    font-size: 1.3rem !important;
}
form#new_customer_dispute{
    width: 100%;
}
button.btn.btn-search-responsive {
    position: absolute;
    right: 0px;
    background: transparent;
    top: 8px;
    font-weight: bold;
    color: #fbcf81;
}