@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i&display=swap');

:root{
    --black-70:rgba(0,0,0,0.7);
    --brown-grey: #adadad;
    --white-two: #ffffff;
    --black-50: rgba(0, 0, 0, 0.5);
    --tealish: #35bab6;
}
.background_image{
    background-image: url("/assets/customers/images/FullBG.svg");
    background-repeat: no-repeat;
    background-size: cover;
}
.mobile_logo{
    display: none;
}
.desktop_logo{
    display: block;
}
.m-login__title{
    font-family: 'Open Sans',sans-serif;
    font-size: 1rem !important;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.25;
    letter-spacing: 0.8px;
    text-align: center !important;
    color: var(--black-70) !important;
}

.m-login__title span{
    font-weight: bold;
}
.m-login.m-login--2.m-login-2--skin-1 .m-login__container .m-login__form .form-control{
    background: var(--white-two) !important;
    color: var(--black-70) !important;
}

.m-login.m-login--2.m-login-2--skin-1 .m-login__container .m-login__form .form-control::placeholder{
    background-color: var(--white-two) !important;
    color: #000000 !important;
    opacity: 0.2;

}
.z_cart_logo{
    margin-top: 25%;
}
.m-login.m-login--2 .m-login__wrapper{
    padding: 10rem 2rem 1rem 2rem !important;
}
.m-login.m-login--2 .m-login__wrapper .m-login__container .m-login__form .m-form__group .form-control{
    margin-top: 0;
    /*padding: 1.1rem 1.5rem !important;*/
    width: 100%;
    height: 48px;
    /*width: 21.669106881405565vw;*/
    /*height: 7.68vh;*/
}
.label_text{
    font-family: 'Open Sans',sans-serif;
    font-size: 1em !important;
    font-weight: bold !important;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.38;
    letter-spacing: 0.26px;
    text-align: left;
    color: var(--black-50);
    margin-left: 3%;
}
.m-form__group{
    margin-bottom: 10% !important;
    max-width: 360px;
}
.m-login.m-login--2.m-login-2--skin-1 .m-login__container .m-login__form .m-login__form-action .m-login__btn.m-login__btn--primary{
    background-color: #35bab6 !important;
    font-family: 'Open Sans',sans-serif;
    font-size: 1em !important;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.38;
    letter-spacing: 0.26px;
    text-align: center;
    color: var(--white-two);
    border-color: #35bab6 !important;
}
.m-login.m-login--2 .m-login__wrapper .m-login__container .m-login__form .m-login__form-action .m-login__btn{
    padding: 0 !important;
}
.m--align-right{
    text-align: center;
}
.m-link{
    font-family: 'Open Sans',sans-serif;
    font-size: 0.750em !important;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.42;
    letter-spacing: 0.19px;
    color: var(--black-50) !important;
    text-decoration: underline;
}
.term_service a{
    font-family: 'Open Sans',sans-serif;
    font-size: 0.875em !important;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.36;
    letter-spacing: 0.22px;
    color: rgba(40, 40, 40, 0.5) !important;
    text-decoration: underline;
}
.term_service{
    text-align: center;
}
.powerd_by{
    font-family: 'SourceSansPro',sans-serif;
    font-size: 1em !important;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.88;
    letter-spacing: normal;
    text-align: center;
    color: var(--black-50);
    /*margin-top: 15%;*/
}
.term-div{
    position: relative;
    bottom: 0;
}
.term_service_text{
    width: 68vw;
    padding-left: 10%;
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #ffffff;
    clip-path: polygon(92% 0%, 0% 0%, 0% 692%);
    z-index: 11;
    opacity: 0.9;
}

.term_service_heading{
    margin: 1.5em 0;
    font-family: 'Open Sans',sans-serif;
    font-size: 2em !important;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.25;
    letter-spacing: normal;
    text-align: left;
    color: var(--black-70);

}
.term_service_body{
    font-family: 'Open Sans',sans-serif;
    font-size: 1em !important;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
    text-align: left;
    color: var(--black-70);
    min-height: 250px;
    max-height: 600px;
    overflow: auto;
    padding-right: 2%;
}
.term_service_body::-webkit-scrollbar{
    width: 10px;
}
/* Handle */
.term_service_body::-webkit-scrollbar-thumb{
    background: #BBBBBB;
    border-radius: 5px;
    opacity: .8;

}

/* Handle on hover */
.term_service_body::-webkit-scrollbar-thumb{
    background: #BBBBBB;
    opacity:1;
    cursor: pointer;
}

#alert-message{
    width: 100%;
    border-radius: 8px;
    border: 2px solid #d45858;
    background-color: #ffffff;
    display: none;
    justify-content: flex-start;
}
.alert-text{
    color: #d45858;
    font-family: 'Open Sans',sans-serif;
    font-size: 15px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.25;
    letter-spacing: normal;
    margin-top: 1rem;
    text-align: center;
}

#alert-message.show {
    display: flex;
}

/*#close-alert-message{*/
    /*position: relative;*/
    /*left: 40rem;*/
    /*bottom: 2rem;*/
/*}*/
.email_alert{
    width: 629px;
    height: 80px;
    position: absolute;
    border-radius: 8px !important;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2) !important;
    left: 35%;
    top:10%;
    z-index: 111;

}
/*.alert.m-alert--icon .m-alert__icon{*/
    /*padding: 0 1% 0 2%;*/
/*}*/
.m-alert__text{
    font-family: 'Open Sans',sans-serif;
    font-size: 1em !important;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.38;
    letter-spacing: 0.26px;
    text-align: left;
    color: var(--black-70);
}
.alert .close{
    color: transparent !important;
}

.login-error{
    font-family: 'OpenSans',sans-serif;
    padding-left: 1em;
    font-size: 0.75em !important;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.42;
    letter-spacing: 0.19px;
    text-align: left;
    color: #d45858;
    position: absolute;
}

.email-login-error{
    display:none;
}

.password-login-error{
    display: none;
}
.password-confirm-error{
    display: none;
}

.login-eye{
    float: right!important;
    position: relative;
    bottom: 2.5em!important;
    right: 1em!important;
}

.login-confirm-eye{
    float: right!important;
    position: relative;
    bottom: 2.5em!important;
    right: 1em!important;
}

.login-confirm-open-eye{
    float: right!important;
    position: relative;
    bottom: 2.5em!important;
    right: 1em!important;
    display: none;
}

.login-open-eye{
    float: right!important;
    position: relative;
    bottom: 2.5em!important;
    right: 1em!important;
    display: none;
}
.btn-login{
    width: 180px;
    height: 48px;
}
.m-login__form.m-form{
    width: 70% ;
}
.form-control-feedback{
    display: none !important;
}
.btn-forgot{
    width: 230px;
    height: 48px;
}
.btn-access{
    width: 224px;
    height: 48px;
}
.input-group-append{
    position: absolute;
    right: 0;
    top: 6px;
}
.input-group-text{
    background-color: transparent !important;
    border-color: transparent !important;
}
.accepted_term{
    font-family: 'Open Sans',sans-serif;
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.36;
    letter-spacing: 0.22px;
    text-align: left;
    color: #282828;
}
.accepted_term span a{
    font-weight: bold;
    text-decoration: underline;
    color: #282828;
}
.m-checkbox.m-checkbox--success > span{
    border-radius: 4px ;
    border: solid 2px #707070;
}
.m-checkbox.m-checkbox--success > input:checked ~ span{
    border: solid 2px var(--tealish);
}
.m-checkbox-list{
    margin-left: 5%;
}

#m_login_signin_submit{
    border-radius: 120px;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2) !important;
    background-color: #d6d6d6;
    font-family: 'Open Sans',sans-serif;
    font-size: 1em !important;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.38;
    letter-spacing: 0.26px;
    text-align: center;
    color: var(--white-two);
    border: none;
}

#tooltips{
    position: absolute;
    top: 57%;
    width: 243px;
    z-index: 1111;
    margin: 5px 14px;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
    border: solid 1px #dfdfdf;
    background-color: #ffffff;
    display: none;
    padding: 10px;
}
.display_no{
  display: none;
}
.password-suggesstions{
    display: flex;
    margin-bottom: 5px;
}


#tooltips .invalid{
    width: 18px;
    height: 18px;
    border-radius: 50%;
    background-color: red;
    border: solid 1px #dfdfdf;
    /*background-color:#ffffff;*/
}

#tooltips .valid{
    width: 18px;
    height: 18px;
    border-radius: 50%;
    background-color:green;
    border: solid 1px #dfdfdf;
}

#tooltips .require-format{
    width: 18px;
    height: 18px;
    border-radius: 50%;
    border: solid 1px #dfdfdf;
}


#tooltips .pwd-suggestion-message{
    position: relative;
    bottom: 0.3em;
    left: 1em;
    font-family: 'OpenSans',sans-serif;
    font-size: 0.75em !important;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.67;
    letter-spacing: normal;
    text-align: left;
    color: var(--black-70);
}

#tooltips .pwd-suggestion-title{
    font-family: 'OpenSans',sans-serif;
    font-size: 0.75em !important;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.67;
    letter-spacing: normal;
    text-align:left;
    color: var(--black-70);
}

.invalid .fa-times{
    color: #fff;
    position: relative;
    font-size: 10px;
    bottom: 3.8px;
    left: 0.4em;
}

.valid .fa-check{
    color: #fff;
    position: relative;
    font-size: 10px;
    bottom: 3.8px;
    left: 0.3em;
}

.password-suggesstions .empty{
    height: 18px;
    width: 18px;
    border-radius: 50%;
    border:solid 1px #dfdfdf;
    background-color: var(--white-two);
}

.email-input{

    font-family: 'OpenSans',sans-serif;
    font-size: 1em !important;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.38;
    letter-spacing: 0.26px;
    text-align: left;
    color: #000000 !important;
}

.m-login-password{

    font-family: 'OpenSans',sans-serif;
    font-size: 1.5em !important;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.38;
    letter-spacing: 0.26px;
    text-align: left;
    color: #000000 !important;
}

.m-confirm-password-input{
    font-family: 'OpenSans',sans-serif;
    font-size: 1.5em !important;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.38;
    letter-spacing: 0.26px;
    text-align: left;
    color: #000000 !important;
}

.tip:after{
    content: "";
    position: absolute;
    display: block;
    width: 0;
    height: 0;
    border-color: transparent;
    border-bottom-color: #ffffff;
    border-style: solid;
    border-width: 10px;
    top:-20px;
    left:45%;
}
#email_toast{
    display: none;
}

.close_terms_services{
    margin-right: 2em;
}

.btn-reset-pass{
    width: 230px;
    height: 48px;
    border-radius: 120px;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
    background-color: var(--tealish);
}

.term_service_text{
    position: fixed;
    top: 0px;
    left: 0px;
    margin: 0px;
    height: 100% !important;
}


.m-login.m-login--2 .m-login__wrapper .m-login__container .m-login__form .m-form__group .form-control {
    border-radius: 40px !important;
}
a#terms_and_services {
    cursor: pointer;
}

.intl-tel-input.separate-dial-code .selected-flag{
    background-color: transparent;
}
.flag-container:hover,.flag-container:focus{
    background-color: none !important;
}

.intl-tel-input .selected-flag .iti-arrow{
    right: 0 ;
}
input#login-form-submit {
    border-radius: 120px !important;
}
.intl-tel-input.allow-dropdown.separate-dial-code.iti-sdc-2 {
    width: 100%;
}
.intl-tel-input.allow-dropdown.separate-dial-code.iti-sdc-3 {
    width: 100%;
}
a.pull-right.pt-3.close_terms_services {
    cursor: pointer;
}
input#password , input#username {
    border-radius: 40px !important;
}
div#user_email-error {
    font-family: 'Open Sans',sans-serif;
    font-size: 0.75em !important;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.42;
    letter-spacing: 0.19px;
    text-align: left;
    color: #e88a8a;
    margin-left: 2%;
    position: absolute;
}
label.message {
    font-family: 'Open Sans',sans-serif;
    font-size: 0.75em !important;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.42;
    letter-spacing: 0.19px;
    color: #e88a8a;
}
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}