
a:hover{
    text-decoration: none;
}

#inbox-sidebar{
    max-height: 532px;
    min-height: 532px;
    z-index: 11;
    overflow:auto;
    padding-right: 1%;
    overflow-x: hidden;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
    background-color: #f7f7f7;
}

#search-bar{
    padding: .8rem;
    width: 95%;
    margin: 1rem 0;
    border-radius: 28px;
    font-family: 'Open Sans','sans-serif',Fontawesome;
    font-size: 20px;
    font-weight: normal;
    border: none!important;
    position: relative;
    left: 0.5rem;
    font-stretch: normal;
    font-style: normal;
    line-height: 1;
    letter-spacing: normal;
    text-align: left;
    color: rgba(0, 0, 0, 0.3);
    background-color: #ffffff;
}
#search-bar:focus{
    outline: none;
}
.active-users{
    position: relative;
    box-shadow: -2px 2px 2px 0 rgba(0, 0, 0, 0.05);
    border: solid 1px rgba(0, 0, 0, 0.1);
    background-color: #ffffff;
}
.inactive-users{
    position: relative;
    box-shadow: -2px 2px 2px 0 rgba(0, 0, 0, 0.05);
    border: solid 1px rgba(0, 0, 0, 0.1);
    background-color: #f7f7f7;
}

.user_profile_image{
    width: 40px;
    height: 40px;
    position: absolute;
    top:17px;
    left:28px;
    border-radius: 50%;
    background-color: #ffd95a;
}
.user_slug{
    font-family: 'Open Sans','sans-serif';
    font-size: 1em !important;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.38;
    letter-spacing: normal;
    text-align: center;
    color: #ffa701;
    margin-top: 20%;
}

.active-users .company_name{
    position: relative;
    top: 15px;
    font-family:'Open Sans','sans-serif';
    font-size: 1em !important;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.38;
    letter-spacing: normal;
    text-align: left;
    color: #ffa701;
}

.company_name .time{
    position: absolute;
    right:1.5em;
    font-family:'Open Sans','sans-serif';
    font-size: 1em !important;
    /*font-size: 14px;*/
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.43;
    letter-spacing: normal;
    text-align: left;
    color: rgba(0, 0, 0, 0.3);
}
.active-users .order-id{
    position: relative;
    top: 7px;
    font-family:'Open Sans','sans-serif';
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.43;
    letter-spacing: normal;
    text-align: left;
    color: rgba(0, 0, 0, 0.3);
}

.active-users .mess_description{
    font-family:'Open Sans','sans-serif';
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 2.14;
    letter-spacing: normal;
    text-align: left;
    color: rgba(0, 0, 0, 0.3);
}

.inactive-users .company_name{
    position: relative;
    top: 15px;
    font-family:'Open Sans','sans-serif';
    font-size: 1em !important;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.38;
    letter-spacing: normal;
    text-align: left;
    color: rgba(0, 0, 0, 0.3);
}

.inactive-users .order-id{
    position: relative;
    top: 7px;
    font-family:'Open Sans','sans-serif';
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.43;
    letter-spacing: normal;
    text-align: left;
    color: rgba(0, 0, 0, 0.3);
}

.inactive-users .mess_description{
    font-family:'Open Sans','sans-serif';
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 2.14;
    letter-spacing: normal;
    text-align: left;
    color: rgba(0, 0, 0, 0.3);
}

.user-photo{
    position: relative;
    top:1.2em;
    height: 50px;
    width: 50px;
    border-radius: 50%;
}

.search {
    position: relative;
    margin: 0 auto ;
    text-align: center;
}
.search input {
    text-indent: 30px;
    font-family:  FontAwesome, sans-serif;
}

.inbox-header{
    min-height: 70px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    box-shadow: -2px 2px 2px 0 rgba(0, 0, 0, 0.05);
    background-color: #ffffff;
}

.company_name{
    position: relative;
    top: 25px;
    font-family:'Open Sans','sans-serif';
    font-size: 1em !important;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.38;
    letter-spacing: normal;
    text-align: left;
    color: #ffa701;
}

.inbox-header .order-id{
    font-family:'Open Sans','sans-serif';
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.43;
    letter-spacing: normal;
    text-align: right!important;
    color: rgba(0, 0, 0, 0.3);
    position: relative;
    top: 27px;
}

.inbox-messages{
    max-height: 367px;
    min-height: 367px;
    margin-top: 2px;
    background-color:#f7f7f7;
    overflow-y: auto;
}
.available-time{
    font-family:'Open Sans','sans-serif';
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.43;
    letter-spacing: normal;
    text-align: center;
    color: rgba(0, 0, 0, 0.3);
    margin: 0.625em 0;
}
.inbox-footer{
    min-height: 88px;
    border-bottom-right-radius: 8px;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
    background-color:#ffffff;
    position: relative;
    bottom: 6px;
}

#footer-searchbar{
    padding: .8rem;
    width: 100%;
    border-radius: 24px;
    border: solid 2px #efefef;
    background-color:#ffffff;
    position: relative;
    top: 1.4rem;
}

#footer-searchbar:focus{
    outline: none;
}

.inbox-footer .send-btn{
    position: relative;
    top: 1.4rem;
    right: 1rem;
}

.inbox-footer ::placeholder {
    font-family:'Open Sans','sans-serif';
    font-size: 1em !important;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.38;
    padding-left: 1em;
    letter-spacing: 0.26px;
    text-align: left;
    color: rgba(0, 0, 0, 0.3);
}
.inbox-footer .find-attatch{
    float: right;
    position: relative;
    bottom: 1.8em;
}

.chatboxin {
    box-sizing: border-box;
    border: 1px solid rgba(208, 208, 208, 1);
    border-radius: 5px;
    padding: 5px 15px;
}

.chat-sender.msg {
    --webkit-clip-path: polygon(12px 0, 100% 0, 100% 100%, 0 100%, 12px 70%);
    clip-path: polygon(12px 0, 100% 0, 100% 100%, 0 100%, 12px 70%);
    padding: 9px 9px;
    padding-left: 21px;
    width: 100%;
    background-color: #fffdf0;
    box-sizing: border-box;
    font-family:'Open Sans','sans-serif';
    font-size: 1em !important;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.25;
    letter-spacing: normal;
    text-align: left;
    color: #454545;
}

.chatmsg {
    margin-top: 5px;
}

.chat-sender {
    display: inline-block;
    vertical-align: top;
}

.chat-container {
    margin-top: 15px;
    margin-left: 8px;
    animation: fadein 2s;
    -moz-animation: fadein 2s;
    /* Firefox */
    -webkit-animation: fadein 2s;
    /* Safari and Chrome */
    -o-animation: fadein 2s;
    /* Opera */
}

.respond-chat-container {
    text-align: center;
    animation: fadein 2s;
    -moz-animation: fadein 2s;
    /* Firefox */
    -webkit-animation: fadein 2s;
    /* Safari and Chrome */
    -o-animation: fadein 2s;
    /* Opera */
}

.chat-respond.msg {
    --webkit-clip-path: polygon(12px 0, 100% 0, 100% 100%, 0 100%, 12px 70%);
    clip-path: polygon(12px 0, 100% 0, 100% 100%, 0 100%, 12px 70%);
    padding: 9px 9px;
    padding-left: 21px;
    background-color: #ffffff;
    box-sizing: border-box;
    /* width: calc(100% - 53px);*/
    margin-right: -9px;
    transform: scale(-1, 1);
    -moz-transform: scale(-1, 1);
    -webkit-transform: scale(-1, 1);
    -o-transform: scale(-1, 1);
    -ms-transform: scale(-1, 1);

    font-family:'Open Sans','sans-serif';
    font-size: 1em !important;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.25;
    letter-spacing: normal;
    text-align: left;
    color: #454545;
}

.chat-respond.msg strong {
    color: #F48806;
}

.chat-respond {
    display: inline-block;
    vertical-align: top;
}

.flippd {
    width: 100%;
    transform: scale(-1, 1);
    -moz-transform: scale(-1, 1);
    -webkit-transform: scale(-1, 1);
    -o-transform: scale(-1, 1);
    -ms-transform: scale(-1, 1);
}

.inbox-messages .chat-sender-messages{
    width: 100%;
    float: left;
}



.chat-respond-messages .status{
    font-family:'Open Sans','sans-serif';
    font-size: 0.75em !important;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 2.5;
    letter-spacing: normal;
    color: #969696;
    margin-right: 5%;

}
.margin-15{
    margin-bottom: 1em;
}
.sending-date{
    font-family: 'SourceSansPro',sans-serif;
    font-size: 0.75em !important;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 2.5;
    letter-spacing: normal;
    color: #959595;
}

.chat-respond{
    float: right;
    position: relative;
    right: 18px;
}
.badge-pill{
    padding:4px 7px !important;
    font-family: 'Open Sans','sans-serif';
    font-size: 14px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    letter-spacing: normal;
    text-align: left;
    color:#ffa701;
}

.badge-warning{
    background-color: #ffd95a!important;
}

.active{
    padding: 0.2rem;
    position: absolute;
    top: 1.1rem;
    left: 4.0rem;
    background-color: #35bab6;
    border-radius: 50%;
}

.mess_description .bold-mess-description{
    font-family: 'Open Sans','sans-serif';
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 2.14;
    letter-spacing: normal;
    text-align: left;
    color: #454545;
}

#inbox-sidebar::-webkit-scrollbar{
    width: 10px;
}

/* Handle */
#inbox-sidebar::-webkit-scrollbar-thumb{
    background: #BBBBBB;
    border-radius: 5px;
    opacity: .8;
    height: 120px;
}
#inbox-messages::-webkit-scrollbar{
    width: 10px;
}

/* Handle */
#inbox-messages::-webkit-scrollbar-thumb{
    background: #BBBBBB;
    border-radius: 5px;
    opacity: .8;
    height: 120px;
}

.r_aside_left_minimize_toggle{
    display: none!important;
}
label{
    margin-bottom: 0px !important;
}
#drop-zone1 > input
{
    display: none;
}
.file_div
{
    width: auto;
     padding: 0px;
     margin: 0px;
}
.background-white{
    background-color: #fff;
}
.chat-header{
    text-align: center;
    min-height: 532px;
    border-radius: 8px;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
    background-color: #f7f7f7;
}
.heading-style{
    display: inline-block;
    padding: 7px 25px 7px 0;
    font-family: 'Open Sans','sans-serif';
    font-size: 2rem !important;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.11;
    letter-spacing: normal;
    color: var(--black-70);
    top: 40%;
    position: inherit;
}
.closeBtn1{
    padding-top: 10px;
    float: right;
    cursor: pointer;
    color: orange;
    font-size: 25px;
}