
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />
<div class="modal fade" id="detailEmail" tabindex="-1" role="dialog" aria-labelledby="myModal3Label" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" onclick="close_master_modal('myModal3')" aria-hidden="true">&times;</button>
        <h4 class="modal-title pull-left" id="myModal3Label">Email Details</h4>
        <% if @email_notification.status=='processed' %>
          <h4 id="modal-1" class="modal-title pull-right"><%= link_to("<i class='fa fa-download'> Export</i>".html_safe, export_admins_emails_path(id: @email_notification.id), class: 'btn btn-primary btn-sm',id:'notify_field') %></h4>
        <% elsif @email_notification.status=='pending'  %>
          <h6 id="schedule_date" class="modal-title pull-right timeUtc">Schedule Date:<%= @email_notification.schedule_date.strftime("%Y-%m-%d %H:%M:%S ") %></h6>
        <% end %>
      </div>
      <div class="modal-body">

        <div class="jumbotron" id="email_div">
          <div class="row w-100">
            <div class="col-md-2 col-md-offset-1">
              <div class="col-md-12" id="shadow">
                <div class="card border-info mx-sm-1 p-3">
                  <div class="card border-info shadow p-3 my-card">
                    <span class="fa fa-send fa-2x" aria-hidden="true"></span></div>
                  <div class="text-center"><h6 class="processed" >Processed</h6></div>
                  <div class="text-center"><h6><%= @email_messages_count.try(:[],"processed").present? ? @email_messages_count.try(:[],"processed") : 0 %></h6></div>
                </div>
              </div>
            </div>
            <div class="col-md-2">
              <div class="col-md-12" id="shadow">
                <div class="card border-info mx-sm-1 p-3">
                  <div class="card border-info shadow p-3 my-card">
                    <span class="fa fa-exclamation-triangle fa-2x" aria-hidden="true"></span></div>
                  <div class="text-center"><h6 class="processed">Dropped</h6></div>
                  <div class="text-center"><h6><%= @email_messages_count.try(:[],"dropped").present? ? @email_messages_count.try(:[],"dropped") : 0 %></h6></div>
                </div>
              </div>
            </div>
            <div class="col-md-2">
              <div class="col-md-12" id="shadow">
                <div class="card border-info mx-sm-1 p-3">
                  <div class="card border-info shadow p-3 my-card">
                    <span class="fa fa-clock-o fa-2x" aria-hidden="true"></span></div>
                  <div class="text-center"><h6 class="processed">Deferred</h6></div>
                  <div class="text-center"><h6><%= @email_messages_count.try(:[],"deferred").present? ? @email_messages_count.try(:[],"deferred") : 0 %></h6></div>
                </div>
              </div>
            </div>
            <div class="col-md-2">
              <div class="col-md-12" id="shadow">
                <div class="card border-info mx-sm-1 p-3">
                  <div class="card border-info shadow p-3 my-card">
                    <span class="fa fa-check fa-2x" aria-hidden="true"></span></div>
                  <div class="text-center"><h6 class="processed">Delivered</h6></div>
                  <div class="text-center"><h6><%= @email_messages_count.try(:[],"delivered").present? ? @email_messages_count.try(:[],"delivered") : 0 %></h6></div>
                </div>
              </div>
            </div>
            <div class="col-md-2">
              <div class="col-md-12" id="shadow">
                <div class="card border-info mx-sm-1 p-3">
                  <div class="card border-info shadow p-3 my-card">
                    <span class="fa fa-repeat fa-2x" aria-hidden="true"></span></div>
                  <div class="text-center"><h6 class="processed">Bounce</h6></div>
                  <div class="text-center"><h6><%= @email_messages_count.try(:[],"bounce").present? ? @email_messages_count.try(:[],"bounce") : 0 %></h6></div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <%= form_tag resend_admins_emails_path, method: :POST,id: 'new_form', multipart: true do %>
          <div class="row">
            <div class="col-md-8 col-sm-12">
              <div class="form-group row">
                <div class="col-md-3">
                  <label class="control-lable">To:</label>
                </div>
                <div class="col-md-9">
                  <%= select_tag :users, options_for_select([['Customer', 'user'], ['ISO', 'iso'], ['Agent', 'agent'], ['Affiliate', 'affiliate'], ['Partner', 'partner'], ['Merchant', 'merchant']], @email_notification.search_option), :required => true, :class => "form-control",disabled: true %>
                  <input type="hidden" name="users" value="<%= @email_notification.search_option %>">
                  <input type="hidden" name="schedule_date"  id="schedule_date1">
                  <input type="hidden" name="from_suggestion" value='' id="from_suggestion">
                </div>
              </div>
            </div>
          </div>
          <div class="row category">
            <div class="col-md-8 col-sm-12">
              <div class="form-group row">
                <div class="col-md-3">
                  <label class="control-lable">Category:</label>
                </div>
                <div class="col-md-9">
                  <%= select_tag :category, options_for_select(@category.map {|c| [c["name"], c["id"]]}, @email_notification.category_id.to_i), include_blank: "Select Category", :class => "form-control" %>
                </div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-8 col-sm-12">
              <div class="form-group row">
                <div class="col-md-3">
                  <label class="control-lable">From:</label>
                </div>
                <div class="col-md-9">
                  <%= select_tag :sender, options_for_select(@from_sig.map{|k,v| [v[:email],k] },@email_notification.sender.to_sym), :required => true, :class => "form-control" %>
                </div>
              </div>
            </div>

          </div>
          <div class="row">
            <div class="col-md-8 col-sm-12">
              <div class="form-group row">
                <div class="col-md-3">
                  <label class="control-lable">Subject:</label>
                </div>
                <div class="col-md-9">
                  <input name="subject" placeholder="Subject" id="subject" class="form-control" value="<%= @email_notification.subject %>" type="text" required>
                </div>
              </div>
            </div>
            <div class="col-md-12 col-sm-12">
              <div class="form-group">
                <label class="control-lable">Message</label>
                <%= text_area_tag :body %>
                <!-- <textarea name="body"></textarea> -->
              </div>
            </div>
            <div class="col-md-8 col-sm-12">
              <div class="form-group row">
                <div class="col-md-3">
                  <label class="control-lable">Signature:</label>
                </div>
                <div class="col-md-9">
                  <%= select_tag :signature, options_for_select(@from_sig.map{|k,v| [v[:signature],k]},@email_notification.sender.to_sym), :required => true, :class => "form-control" %>
                </div>
              </div>
            </div>
            <div class="col-md-12">
              <div class="col-md-12" id="email_div1">
                <% @images.each_with_index do |a, i| %>
                  <p id="email_p"><span id="to_span">
                    <%= link_to a.add_image_file_name, a.add_image.url, target: :_blank %>
<!--                    <a href="<%#= a.add_image.url %>" ><%#= a.add_image_file_name %></a>-->
                  <span class="cross_span" id="cross_span_image_<%= a.id %>" onclick="cross_image('<%=a.id %>')">&times;</span></span>
                  </p>
                <% end %>
              </div>
              <p>
                <span id="images-list"> </span>
              </p>
            </div>
          </div>
          <hr>
          <% if @email_notification.status=='processed' %>
            <div class="row">
              <div class="col-md-12 col-sm-12">
                <%= submit_tag "Resend", :class => "btn btn-success resend" %>
                <div class="fileupload fileupload-new" data-provides="fileupload">
                <span class="btn btn-file">
                    <span class="fileupload-new"><i class="fa fa-paperclip fa-2x" id="file_upload1"></i></span>
                    <span class="fileupload-exists">Change</span>
                  <%= file_field_tag 'attachments[]', accept: 'image/png,image/gif,image/jpeg',id: 'images', multiple: true %>
                  <input type="hidden" name="old_images" id="old_images">
                </span>
                  <span class="fileupload-preview"></span>
                  <a href="#" class="close fileupload-exists" data-dismiss="fileupload" id="email_anchor">×</a>
                </div>
              </div>
            </div>
          <% elsif @email_notification.status=='pending'%>
            <div class="row">
              <div class="col-md-12">
                <div class="btn-group dropup">
                  <input type="hidden" name="reschedule_form" value="true">
                  <input type="hidden" name="notification_id" value="<%= @email_notification.present? ? @email_notification.id : ''  %>">
                  <%= submit_tag "Send Now", :class => "btn btn-success",id: 'send_now' %>
                  <div class="btn-group">
                    <button type="submit" class="btn btn-success dropdown-toggle" data-toggle="dropdown" id="btn_submit"></button>
                    <ul class="dropdown-menu" role="menu" id="drop_menu">
                      <li id="drop_li">
                        <a href="" data-toggle="modal" data-target="#schedule" id="schedule_btn">
                          <i class="fa fa-clock-o" id="reschedule" ></i>Re-schedule
                        </a>
                      </li>
                    </ul>
                  </div>
                </div>
                <%= link_to("<i class='fa fa-trash'> Delete</i>".html_safe, delete_schedule_admins_emails_path(id: @email_notification.id), class: 'btn btn-danger resend', data: {confirm: "Are you sure?"}) %>
              </div>
            </div>
          <% end %>

        <% end %>
      </div>
    </div>
  </div>
</div>
<%= render partial: 'admins/emails/schedule_modal' %>
<%= javascript_include_tag "admins/email_multiple_select" %>
<script src="https://cdn.ckeditor.com/4.13.1/standard/ckeditor.js" nonce="<%= content_security_policy_nonce %>"></script>
