<div class="email_details_table">
  <div class="table-responsive">
    <table id="email_table" class="table table-striped table-bordered center-text" cellspacing="0" cellpadding="0">
      <thead>
      <tr class="header-row text-center">
        <th>Date/Time</th>
        <th>Notification Subject</th>
        <th>Sender</th>
        <th>Receiver</th>
        <th>Status</th>
        <th>Action</th>
      </tr>
      </thead>
      <tbody>
      <% @emails.each do |e| %>
        <tr>
          <td class="timeUtc"><%= e.updated_at %></td>
          <td ><%= e.subject %></td>
          <td><%= get_sender_email(e.sender) %></td>
          <td><%= e.search_option.present? ?  e.search_option=='user' ? 'Customer' : e.search_option.try(:capitalize) :'' %></td>
          <td><%= e.status.present? ? e.status.try(:capitalize) : "Processed" %></td>
          <td>
            <div class="dropdown" id="dropdownid">
              <a href="#" class="" type="button" data-toggle="dropdown" id="table_anchor" >●●●
              </a>
              <ul class="dropdown-menu" id="ul_dropdown">
                <li class="email_click"><%= link_to("View", edit_admins_email_path(e), :remote => true, :class => "btn btn-sm editModel", "data-toggle" => "modal") %></li>
                <% if e.status=='processed' %>
                  <li><%= link_to('Resend', resend_email_admins_emails_path(id: e.id), class: 'btn btn-sm', data: {confirm: "Are you sure?"}) %></li>
                  <li><%= link_to('Export', export_admins_emails_path(id: e.id), class: 'btn btn-sm') %></li>
                <% end%>
              </ul>
            </div>
          </td>
        </tr>
      <% end %>
      </tbody>
    </table>

    <div class="col-md-12">
      <div class="row">
        <div class="col-md-4">
          <span>Showing <%= @emails.try(:size) %> of <%= @emails.total_count %> records</span>
        </div>
        <div class="col-md-8">
          <div class="" id="paginator text-right">
            <%= paginate @emails,  :theme => 'twitter-bootstrap-3', :pagination_class => "pagination-small pagination-centered pull-right padd"  %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
