
<!--<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/multiple-select/1.2.0/multiple-select.css">-->
<!--<script src="https://cdnjs.cloudflare.com/ajax/libs/multiple-select/1.2.0/multiple-select.js"></script>-->

<div class="row card-box">
  <div class="box-header">
    <div class="row" id="row_index">
    </div>
    <div class="col-md-12"></div>
    <p id="notifications_p">Email Notifications</p>
    <div id="link_div" class="pull-right">
      <%= link_to("New", new_admins_email_path(), remote:true,id: 'new_btn', :class => "pull-right btn btn-primary") %>
    </div>
  </div>
  <div class="card-box-internal">
  <div class="card sameheight-item items" data-exclude="xs,sm,lg">
    <section class="example">
      <div class="">
        <div class="row">
          <div class="col-sm-6 col-md-6">
            <div class="dataTables_length">
              <div class="col-md-6 " id="div_data">
                <span id="show_8">Show</span>
                <span class="float-left-email">
                              <%= form_tag admins_emails_path(), method: :get do %>
                                 <%= select_tag "filter", options_for_select(@filters.map {|v| [v]}, selected: params[:filter].present? ? params[:filter] : "10"),
                                                :prompt => false,
                                                :required => true,
                                                class: "form-control form-control-sm",
                                                data: {confirm: "Are you sure ?"}
                                 %>
                                <input type="hidden" name="q" id="q" value="<%= params[:q].present? ? params[:q] : "" %>"/>
                                <input type="hidden" name="user_data" id="user_data" value="<%= params[:user_data].present? ? params[:user_data] : "" %>"/>
                                <input type="hidden"  id="filter_input" value="<%= params[:filter]%>"/>
                              <% end %>
                            </span>
                <span id="entries_8">Entries</span>
              </div>
            </div>
          </div>
          <div class="col-sm-6 col-md-6">
            <div class="col-md-12" id="div_top">
              <input type="text" class="form-control pull-right" value="<%= params[:q] %>" placeholder="Search..." name="search" id="srch-term">
            </div>
          </div>
        </div>
        <div class="table_details">
            <%= render partial: 'admins/emails/table_data', :locals => {emails: @emails } %>
        </div>
      </div>
    </section>
  </div>
</div>
</div>

<div class="modal_div"></div>
