
<script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />

<div class="title-block">
  <h1 class="title pull-left" ><%= @header %></h1>
  <%= form_tag destroy_multiple_block_cards_admins_blocked_cards_path,data: {confirm: "Are you sure?"}, method: :delete, id: "report_form" do %>
    <%= hidden_field_tag "block_card_arr", "", id: "block_card_arr" %>
    <input type="hidden" name="card" value="<%= params[:card] %>">
    <%= submit_tag 'Remove', class: "btn btn-sm margin_right_remove import_right margin-left-5-px-blocked-cards remove_btn_blocked" , :disabled => true%>
  <% end %>
  <div class="dropdown margin_left_dropdown import_right margin-top-35px">
    <button class="btn btn-sm btn-primary dropdown-toggle import_button" type="button" data-toggle="dropdown">
      Import Cards
    </button>
    <ul class="dropdown-menu drop_menu_block" id="cc_report">
      <button class="btn btn-sm btn-default import_card_button margin-left-5-px-blocked-cards" id="import_btn_modal">Import</button>
      <br>
      <%= link_to 'Imported Cards', import_cards_admins_blocked_cards_path(card: params[:card]) , id: "sample_download_btn", class: 'btn btn-sm btn-default padding_left_imported' %>
    </ul>
  </div>
</div>
<div class="well well-sm">
  <div class="card" data-exclude="xs,sm,lg">
    <div class="card-header bordered border-bottom-0-blocked-cards">
      <div class="header-block">
        <h3 class="title"> Cards </h3>
      </div>
      <div class="header-block pull-right">
        <p hidden id="as" class="as" ><%= @next %></p>
        <%#= link_to '<span class="btn btn-sm blue_btn"><i class="fa fa-file"></i> Export</span>'.html_safe, cases_admins_disputes_path(q: params[:q].to_json, case: params[:case], format: "csv")%>
        <%#= link_to '<span class="btn btn-sm blue_btn"><i class="fa fa-file"></i> Export</span>'.html_safe, cases_admins_disputes_path(q: params[:q].to_json, case: params[:case], format: "csv")%>
        <a href="#search1" data-toggle="collapse" href="#search" aria-expanded="false" aria-controls="search" class="btn btn-outline-secondary btn-sm" ><i class="icon-magnifier icons"></i>Search</a>
        <a class="btn btn-sm btn-primary" id="export_modal_button"><i class="icon-file icons"></i>Export</a>
        <input type="hidden" name="card_type" id="card_type" value="<%= params[:card] %>">
        <input type="hidden"  id="card_id">
      </div>
    </div>
  </div>
  <%= search_form_for @q, class:'search_disputes', url: cards_admins_blocked_cards_path, html: { method: :get } do |f| %>
    <div class="col-sm-12" >
      <div class="col-sm-12">
        <div class="collapse mb-3" id="search1">
          <div class="card card-body">
            <div class="row margin-top-10-px-blocked-cards">
              <div class="col-md-12">
                <h5>Search <%= @header %></h5>
              </div>
              <div class="col-md-12 margin-top-15-px-blocked-cards">
                <div class="form-group col-md-4">
                  <label for="id">Card ID</label>
                  <input type="hidden" name="card" value="<%= params[:card]%>">
                  <%= f.search_field :id_eq, class:"form-control", placeholder:"Card ID"%>
                </div>

                <div class="form-group col-md-4">
                  <label for="id">First 6</label>
                  <%= f.search_field :first6_eq, class: "form-control", placeholder: "First6" %>
                </div>

                <div class="form-group col-md-4">
                  <label for="id">Last 4</label>
                  <%= f.search_field :last4_cont, class:"form-control", placeholder:"Last4"%>
                </div>
              </div>

              <div class="col-md-12 margin-top-15-px-blocked-cards">
                <div class="form-group col-md-4">
                  <label for="id">Expiry Date</label>
                  <%= f.search_field :exp_date_eq, class:"form-control", placeholder:"Expiry"%>
                </div>
                  <div class="form-group col-md-4">
                    <label for="id">Cardholder Name</label>
                    <%= f.search_field :name_cont, class: "form-control", placeholder: "Name" %>
                  </div>
              </div>


              <div class="col-md-11 text-right search-btn">
                <%= f.submit "Search", class:"btn btn-success btn-sm search_button" %>
              </div>


            </div>
          </div>
        </div>
      </div>
    </div>
  <% end  %>
  <div class="col-sm-6 col-md-12 block_card_margin_bot">
    <div class="dataTables_length">
      <div class="col-md-6 block_card_margin_top">
        <span class="padding-top-7-px-block_card float-left-block_card">Show</span>
        <span class="float-left-block_card">
          <%= form_tag cards_admins_blocked_cards_path, method: :get, id: 'blocked_card_filter'  do  %>
                 <%= select_tag "tx_filter", options_for_select(@filters.map{|v|[v]}, selected: params[:tx_filter].present? ? params[:tx_filter] : "10"),
                                :prompt => false,
                                :required => true,
                                class: "form-control form-control-sm merchant-report-filter",
                                data: {confirm: "Are you sure ?"}
                 %>
            <input type="hidden" value="<%= params[:card].present? ? params[:card] : "" %>" name="card" id="params_value">
        <% end %>
      </span>
        <span class="float-left-block_card padding-top-7-px-block_card">Entries</span>
      </div>
    </div>
  </div>
  <section class="example cases_data_table_blocked_cards" id="cases_data_table">
    <%= render 'admins/blocked_cards/data_table'%>
  </section>
</div>
<div class="modal fade" tabindex="-1" role="dialog" id="import_modal">
  <div class="modal-dialog modal-lg form-group" id="div_import">
    <div class="modal-content">
      <div class="modal-header text-white" id="div_14" >
        <button type="button" class="close clos_btn" data-dismiss="modal">&times;</button>
        <div id="import_modal_header">Import <%= @header %> list</div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="card-header bordered import_card_modal">
            <div class="card-body">
              <div class="row">
                <%= form_tag bulk_cards_admins_blocked_cards_path, remote: true, method: :POST, multipart: true do %>
                  <div class="col-md-12 importForm margin-top-20-px-blocked-cards">
                    <div class="col-md-6">
                      <div id="file_field" class="choose_file_modal">
                        <%= file_field_tag :file, accept: '.csv', required: true %>
                        <input type="hidden" name="card" value="<%= params[:card] %>">
                      </div>
                    </div>
                    <div class="col-md-2 text-align-center-blocked-cards" id="progress_div" ><span class="fa fa-spin fa-2x fa-spinner"></span> <span class="font-size-20-blocked-cards" id="progress1">fafa</span></div>
                    <div class="col-md-4">
                      <% if params[:card].present? && params[:card] == "vip" %>
                        <a type="button" id="sample_download_btn_modal" class="btn btn-primary" href="<%= ENV['VIP_CARD_SAMPLE']%>" download="<%= "#{@header.downcase.gsub(' ','_')}_sample" %>"><span class="fa fa-download"></span> Download Sample File</a>
                      <% else %>
                        <a type="button" id="sample_download_btn_modal" class="btn btn-primary" href="<%= ENV['BLOCKED_CARDS_SAMPLE']%>" download="<%= "#{@header.downcase.gsub(' ','_')}_sample" %>"><span class="fa fa-download"></span> Download Sample File</a>
                      <% end %>
                    </div>
                  </div>
                  </div>
                  </div>
                  </div>
                  </div>
                  </div>
                  <div class="modal-footer">
                    <div class="col-md-12" id="expire_footer">
                      <center>
                        <%= submit_tag "Import", id: 'submit_button', :class => "btn btn-success btn-md import_btn_modal" %>
                      </center>
                    </div>
                  </div>
                <% end %>
                </div>
  </div>
</div>
<div class="modal fade" tabindex="-1" role="dialog" id="export_modal">
  <div class="modal-dialog modal-lg form-group" id="div_import">
    <div class="modal-content">
      <div class="modal-header text-white" id="div_14" >
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <div id="import_modal_header">Export <%= @header %></div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="card-header bordered import_card_modal">
            <div class="card-body">
              <div class="row">
                <p id="before_download_note">
                  <span class="fa fa-spin fa-spinner"></span>&nbsp;&nbsp;Please Wait! Your file is exporting.
                </p>
                <p id="after_download_note">
                  &nbsp;&nbsp;Your export is ready to download. Please go to Exported Files tab.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <div class="col-md-12" id="expire_footer">
          <button type="button" class="btn btn-default" id="expired_msg_ok" data-dismiss="modal">Close</button>
        </div>
        </div>
      </div>
    </div>
  </div>
</div>
<section id="dispute_case_modals"></section>
<section id="dispute_case_delete_modal"></section>
<%= render partial: 'admins/shared/profiles/unlock', locals: { t: '', dispute: '' } %>
<%#= javascript_include_tag asset_path('admins/cards'), 'data-turbolinks-track' => 'reload' %>