$('#cover-spin').fadeOut("slow");
$("#cases_data_table").html("").html("<%= j render('admins/blocked_cards/data_table', locals: { blockedCards: @blockedCards}) %>")
$("#paginator").html("").html('<%= escape_javascript(paginate(@blockedCards, :theme => 'twitter-bootstrap-3', remote: true, :pagination_class => "pagination-small pagination-centered pull-right padd pagination_btn").to_s) %>');
$(document).ready(function () {
    if (is_all_checked){
        $("#all_blocked_card").prop('checked',true);
    }
    var check_id = "block_card_checkbox_";
    for (var i=0; i < card_array.length; ++i){
        var every_check_id = check_id+card_array[i];
        $("#"+every_check_id).prop('checked',true);
    }
})
