

<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css"/>

<div class="sidebar-overlay" id="sidebar-overlay"></div>
<section class="section">
  <div class="">
    <div class="col-md-12">
      <div class="card sameheight-item items" data-exclude="xs,sm,lg">
        <div class="card-header bordered">
          <div class="col-md-8 mb-2">
            <div class="header-block">
              <div class="primary">
                <h3 class="title text-capitalize">Imported Cards</h3>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <button class="btn btn-sm btn-primary import_card_button margin-left-5-px-blocked-cards pull-right" id="import_btn_modal">Import</button>
          </div>
        </div>

        <%= form_tag bulk_cards_admins_blocked_cards_path, method: :POST, multipart: true do %>
            <div class="col-sm-12 cases_data_table_blocked_cards">
              <div class="col-sm-12">
                <div class="collapse mb-3" id="search1">
                  <div class="card card-body">
                    <div class="row margin-top-10-px-blocked-cards">
                      <div class="col-md-12">
                        <h5 id="cards_blocked_ui">Import<%= " Vip" if params[:card]&.=="vip"  %> Cards</h5>
                      </div>
                      <div class="col-md-12 importForm margin-top-20-px-blocked-cards">
                        <div class="col-md-4">
                          <div id="file_field">
                            <%= file_field_tag :file, accept: '.csv', required: true %>
                            <input type="hidden" name="card" value="<%= params[:card] %>">
                          </div>
                        </div>
                        <div class="col-md-4">
                          <%= submit_tag "Import", id: 'submit_button', :class => "btn btn-success btn-sm text-right pull-left" %>
                        </div>
                      </div>
                      <div class="col-md-12 margin-top-20-px-blocked-cards">
                        <p id="info_box" class="display-none-blocked-cards"><span class="fa fa-spinner fa-spin"></span> Importing <span class="circulation"></span> blocked cards.</p>
                        <div id="report_body_4" class="display-none-blocked-cards">
                          <p>Please click on below button to download your file</p>
                          <a href="#" class="btn btn-primary margin-left-175-px-blocked-cards" id="download_link">Download</a>
                        </div>
                        <div id="error_body" class="display-none-blocked-cards">
                          <p>Something Went Wrong.</p>
                          <p><b id="error_msg"></b></p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
        <% end %>
        <div class="card-body">
          <div class="import-card-body-blocked-cards" >
            <div id="col-md-12">
              <div class="">
                <div class="table-responsive">
                  <table id="datatable-keytable_import" class="table table-striped table-bordered" cellspacing="0" cellpadding="0">
                    <thead>
                    <tr>
                      <th>File ID</th>
                      <th>Date</th>
                      <th># of Cards</th>
                      <th>Action(s)</th>
                    </tr>
                    </thead>
                    <tbody>
                    <% @cbks.try(:each) do |c| %>
                        <tr>
                          <td><%= c.id %></td>
                          <td class="timeUtc"><%= c.start_date.strftime("%m/%d/%Y") %></td>
                          <td><%= c.info %></td>
                          <td><a href="/admins/blocked_cards/export_download?id=<%= c.id %>"><i class="fa fa-download"></i>
                            Download</a></td>
                        </tr>
                    <% end %>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  </div>
</section>
<div class="modal fade" tabindex="-1" role="dialog" id="import_modal">
  <div class="modal-dialog modal-lg form-group" id="div_import">
    <div class="modal-content">
      <div class="modal-header text-white" id="div_14" >
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <div id="import_modal_header">Import <%= @header %> list</div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="card-header bordered import_card_modal">
            <div class="card-body">
              <div class="row">
                <%= form_tag bulk_cards_admins_blocked_cards_path, remote: true, method: :POST, multipart: true do %>
                  <div class="col-md-12 importForm margin-top-20-px-blocked-cards">
                    <div class="col-md-6">
                      <div id="file_field" class="choose_file_modal">
                        <%= file_field_tag :file, accept: '.csv', required: true %>
                        <input type="hidden" name="card" value="<%= params[:card] %>">
                      </div>
                    </div>
                    <div class="col-md-2 text-align-center-blocked-cards" id="progress_div" ><span class="fa fa-spin fa-2x fa-spinner"></span> <span class="font-size-20-blocked-cards" id="progress1"></span></div>
                    <div class="col-md-4">
                      <% if params[:card].present? && params[:card] == "vip" %>
                        <a type="button" id="sample_download_btn_modal" class="btn btn-primary" href="<%= ENV['VIP_CARD_SAMPLE']%>" download="<%= "#{@header.downcase.gsub(' ','_')}_sample" %>"><span class="fa fa-download"></span> Download Sample File</a>
                      <% else %>
                        <a type="button" id="sample_download_btn_modal" class="btn btn-primary" href="<%= ENV['BLOCKED_CARDS_SAMPLE']%>" download="<%= "#{@header.downcase.gsub(' ','_')}_sample" %>"><span class="fa fa-download"></span> Download Sample File</a>
                      <% end %>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <div class="col-md-12" id="expire_footer">
            <center>
              <%= submit_tag "Import", id: 'submit_button', :class => "btn btn-success btn-md import_btn_modal" %>
            </center>
          </div>
        </div>
        <% end %>
      </div>
  </div>
</div>
<section class="section" id="detailSection"></section>
<section id="achSection"></section>
