<div class="<%#= tab %>">
	<div class="table-responsive">
		<h5>API: https://quickcard.herokuapp.com/api/wallets/approve_request_code</h5>
		<%= form_tag submit_api_admins_merchant_apis_path(tab:params[:tab]), class: "form" do |form|%>
		<%= hidden_field_tag 'api','https://quickcard.herokuapp.com/api/wallets/approve_request_code'%>
		<!-- <div class="form-group"> -->
			<%#= label_tag 'Auth Token',"Auth Token", for: "auth_token_field" %>
			<%#= hidden_field_tag 'auth_token',"", class: "form-control",id: "approve_auth_token_field"%>
		<!-- </div> -->
		<div class="form-group">
			<%= label_tag 'Request ID',"Request ID", for: "request_id_field" %>
			<%= text_field_tag 'request_id',"", class: "form-control",id: "request_id_field"%>
		</div>
		<div class="form-group">
			<%= label_tag 'Pin Code',"Pin Code", for: "pin_code_field" %>
			<%= text_field_tag 'pin_code',"", class: "form-control",id: "pin_code_field"%>
		</div>
		<div class="form-group">
			<%= submit_tag 'Submit', class: "btn btn-default"%>
		</div>
		<% end %>
		<br>
		<% if params[:auth_token].present? and params[:request_id].present? and params[:pin_code].present? %>
		<hr>
		<h5>Your Requested Parameters:</h5>
		<p>Auth Token: <%=params[:auth_token]%></p>
		<p>Request ID:<%=params[:request_id]%></p>
		<p>Pin Code: <%=params[:pin_code]%></p>
		<% end %>
		<br>
		<hr>
		<h5>Your Response</h5>
		<% if params[:response_data].present? %>
			<p><%= params[:response_data] %></p>
		<% end %>
	</div>
</div>