<div class="<%#= tab %>">
	<div class="table-responsive">
		<!-- <h5>API: https://quickcard.herokuapp.com/api/registrations/reload_user</h5> -->
		<%= form_tag submit_api_admins_merchant_apis_path(tab:params[:tab]), class: "form" do |form|%>
		<%#= hidden_field_tag 'api','https://quickcard.herokuapp.com/api/registrations/reload_user'%>
		<!-- <div class="form-group"> -->
			<%#= label_tag 'Auth Token',"Auth Token", for: "auth_token_field" %>
			<%#= hidden_field_tag 'auth_token',"", class: "form-control",id: "fund_auth_token_field"%>
		<!-- </div> -->
		<div class="form-group">
			<%= label_tag 'Transaction ID',"Transaction ID", for: "first_name_fluid_transaction_field" %>
			<%= text_field_tag 'transaction_id',"", class: "form-control",id: "first_name_fluid_transaction_field"%>
		</div>
		<div class="form-group">
			<%= label_tag 'Amount',"Amount", for: "last_name_fluid_transaction_field" %>
			<%= text_field_tag 'amount',"", class: "form-control",id: "last_name_fluid_transaction_field"%>
		</div>
		<div class="form-group">
			<%= submit_tag 'Submit', class: "btn btn-default"%>
		</div>
		<% end %>
		<br>
		<% if params[:transaction_id].present? and params[:amount].present? %>
		<hr>
		<h5>Your Requested Parameters:</h5>
			<p>Transaction ID: <%= params[:transaction_id] %></p>
			<p>Amount: <%= params[:amount] %></p>
		<% end %>
		<br>
		<hr>
		<h5>Your Response</h5>
		<% if params[:response_data].present? %>
			<p><%= params[:response_data] %></p>
		<% end %>
	</div>
</div>