<div class="<%#= tab %>">
	<div class="table-responsive">
		<h5>API: https://quickcard.herokuapp.com/api/registrations/sign_up</h5>
		<%= form_tag submit_api_admins_merchant_apis_path(tab:params[:tab]), class: "form" do |form|%>
		<%= hidden_field_tag 'api','https://quickcard.herokuapp.com/api/registrations/sign_up'%>
		<!-- <div class="form-group"> -->
			<%#= label_tag 'Auth Token',"Auth Token", for: "auth_token_field" %>
			<%#= hidden_field_tag 'auth_token',"", class: "form-control",id: "sign_up_auth_token_field"%>
		<!-- </div> -->
		<div class="form-group">
			<%= label_tag 'Card Number',"Card Number", for: "card_number_field" %>
			<%= text_field_tag 'card_number',"", class: "form-control",id: "card_number_field"%>
		</div>
		<div class="form-group">
			<%= label_tag 'Exp Date',"Exp Date", for: "exp_date_field" %>
			<%= text_field_tag 'exp_date',"", class: "form-control",id: "exp_date_field"%>
		</div>
		<div class="form-group">
			<%= label_tag 'CVV',"CVV", for: "cvv_field" %>
			<%= text_field_tag 'cvv',"", class: "form-control",id: "cvv_field"%>
		</div>
		<div class="form-group">
			<%= label_tag 'Email',"Email", for: "email_field" %>
			<%= text_field_tag 'email',"", class: "form-control",id: "email_field"%>
		</div>
		<div class="form-group">
			<%= label_tag 'Zip Code',"Zip Code", for: "zip_code_field" %>
			<%= text_field_tag 'zip_code',"", class: "form-control",id: "zip_code_field"%>
		</div>
		<div class="form-group">
			<%= label_tag 'Phone Number',"Phone Number", for: "phone_number_field" %>
			<%= text_field_tag 'phone_number',"", class: "form-control",id: "phone_number_field"%>
		</div>
		<div class="form-group">
			<%= label_tag 'First Name',"First Name", for: "first_name_field" %>
			<%= text_field_tag 'first_name',"", class: "form-control",id: "first_name_field"%>
		</div>
		<div class="form-group">
			<%= label_tag 'Last Name',"Last Name", for: "last_name_field" %>
			<%= text_field_tag 'last_name',"", class: "form-control",id: "last_name_field"%>
		</div>
		<div class="form-group">
			<%= label_tag 'Postal Address',"Postal Address", for: "postal_address_field" %>
			<%= text_field_tag 'postal_address',"", class: "form-control",id: "postal_address_field"%>
		</div>
		<div class="form-group">
			<%= label_tag 'Name',"Name", for: "name_field" %>
			<%= text_field_tag 'name',"", class: "form-control",id: "name_field"%>
		</div>
		<div class="form-group">
			<%= submit_tag 'Submit', class: "btn btn-default"%>
		</div>
		<% end %>
		<br>
		<% if params[:auth_token].present? and params[:card_number].present? and params[:exp_date].present? and params[:cvv].present? and params[:email].present? and params[:zip_code].present? and params[:phone_number].present? and params[:first_name].present? and params[:last_name].present? and params[:postal_address].present? and params[:name].present? %>
		<hr>
		<h5>Your Requested Parameters:</h5>
		<p>Auth Token: <%= params[:auth_token] %> </p> 
		<p>Card Number: <%= params[:card_number] %> </p> 
		<p>Exp Date: <%= params[:exp_date] %> </p> 
		<p>CVV: <%= params[:cvv] %> </p> 
		<p>Email: <%= params[:email] %> </p> 
		<p>Zip Code: <%= params[:zip_code] %> </p> 
		<p>Phone Number: <%= params[:phone_number] %> </p> 
		<p>First Name: <%= params[:first_name] %> </p> 
		<p>Last Name: <%= params[:last_name] %> </p> 
		<p>Postal Address: <%= params[:postal_address] %> </p> 
		<p>Name: <%= params[:name] %> </p> 
		<% end %>
		<br>
		<hr>
		<h5>Your Response</h5>
		<% if params[:response_data].present? %>
			<p><%= params[:response_data] %></p>
		<% end %>
	</div>
</div>