<%= stylesheet_link_tag asset_path("admins/detail_modals/detail_modals_styles"), media: 'all', 'data-turbolinks-track' => 'reload' %>


<% unless t.tags.try(:[], "type") =='payed_tip' %>
    <div class="margin-top-15-px-details-modal">
      <div class="form-group col-md-12">
        <div class="row">
          <div class="col-lg-6">
              <span class="bold font">GBox:
                <%= number_with_precision(number_to_currency(t.try(:fee).present? ? t.try(:fee) : t.tags["fee"] ), precision: 2) %>
              </span>
          </div>
          <div class="col-lg-6">
            <%= link_to 'wallet', user_transactions_path("qc-support"), class: 'blue-color' %>
          </div>
        </div>
      </div>
    </div>
<% end %>


