<%= stylesheet_link_tag asset_path("admins/detail_modals/detail_modals_styles"), media: 'all', 'data-turbolinks-track' => 'reload' %>

<% if t.main_type == 'cbk_hold' || t.main_type == 'cbk_won' || t.main_type=='retrieval_fee' || t.main_type=='cbk_lost' || t.main_type=='CBK Lost Retire' || t.main_type=='cbk_fee'|| t.main_type=='cbk_dispute_accepted' || t.try(:main_type)=='CBK Lost' || t.try(:main_type)=='CBK Hold' || t.try(:main_type)=='Dispute Accepted' %>
  <% transaction = dispute.try(:charge_transaction) %>
<% end %>
<% if transaction.present? %>
  <% t_tags = transaction.tags  %>
<% else %>
  <% t_tags = t.tags  %>
<% end  %>
<% if t_tags.present? %>
  <div class="row padding-top-11-px-details-modal">
    <% if t_tags["source"].present? && t_tags["source"] == "Checkbox.io" %>
      <div class="col-lg-12"><span class="bold font">Gateway Type: </span>Checkbook io</div>
    <% elsif t.try(:payment_gateway).present? %>
      <div class="col-lg-12"><span class="bold font">Descriptor: </span><%= t.payment_gateway.try(:knox_payments?) || t.payment_gateway.try(:payment_technologies?) || t.payment_gateway.try(:total_pay?) ? t.tags.try(:[],"source") : t.payment_gateway.try(:[], 'name') %>
      </div>
    <% end %>
  </div>
  <% if t.card.present? || t.main_type == "Refund Failed"%>
    <% if t.main_type == "Refund Failed" && t_tags.try(:[], 'refund_failed_details').try(:[], 'parent_transaction_id').present?  %>
      <% parent_refund_transaction = Transaction.refund_parent_failed_transaction(t) %>   
      <% card = parent_refund_transaction.try(:card) %> 
    <%else%>
      <% card = t.card %>
    <%end%>
    <div class="row">
      <div class="col-lg-12"><span class="bold font">Card Holder Name: </span><%= card.try(:name) %></div>
    </div>
    <div class="row">
      <div class="col-lg-12"><span class="bold font">Card Number: </span><%= card.try(:first6) %>
        *****<%= card.try(:last4) %>
        <% if card.try(:[], 'brand').try(:downcase) == 'visa' %>
          <%= image_tag("Visa1.png", :alt => "rss feed", class: 'width-30-height-17-px-details-modal') %>
        <% elsif card.try(:[], 'brand').try(:downcase) == 'mastercard' %>
          <%= image_tag("mastercard1.png", :alt => "rss feed", class: 'width-30-height-18-px-details-modal') %>
        <% elsif card.try(:[], 'brand').try(:downcase) == 'amex' %>
          <%= image_tag("american_expres1.png", :alt => "rss feed", class: 'width-27-height-17-px-details-modal') %>
        <% elsif card.try(:[], 'brand').try(:downcase) == 'discover' %>
          <%= image_tag("discover.jpg", :alt => "rss feed", class: 'width-30-height-20-px-details-modal') %>
        <% end %>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12"><span class="bold font">Bank: </span><%= card.try(:bank).present? ? card.try(:bank) : "N/A" %></div>
    </div>
    <% if card.try(:brand).present? %>
      <div class="row">
        <div class="col-lg-12"><span class="bold font">Brand: </span><%= card.try(:brand).capitalize %></div>
      </div>
    <% end %>
    <% if card.try(:exp_date) %>
      <div class="row">
        <div class="col-lg-12"><span class="bold font">Expiration Date: </span><%= card.try(:exp_date) %></div>
      </div>
    <% end %>
    <% if t.main_type == "Refund Failed" && t_tags.try(:[], 'refund_failed_details').try(:[], 'parent_refund_transaction_id').present?  %> 
      <% card_details = Transaction.refund_parent_failed_transaction(t) %>      
    <%elsif t_tags.try(:[], 'refund_details').try(:[], 'parent_transaction_id').present? %>
      <% card_details = Transaction.parent_refund_transaction(t) %>
    <%end%>
    <% if card_details.present? && card_details.tags.try(:[], 'previous_issue').try(:[], 'country').try(:[], 'name').present? %>
      <div class="row">
        <div class="col-lg-12">
          <span class="bold font">Country: </span><%= card_details.tags.try(:[], 'previous_issue').try(:[], 'country').try(:[], 'name') %>
        </div>
      </div>
    <% elsif t_tags["previous_issue"].present? %>
      <div class="row">
        <div class="col-lg-12">
          <span class="bold font">Country: </span><%= t_tags.try(:[], "previous_issue").try(:[], 'country').try(:[], 'name') %>
        </div>
      </div>
    <% end %>
    <div class="row">
      <div class="col-lg-12"><span class="bold font">CVC Check: </span>| Passed <i class="fa fa-check-circle"></i></div>
    </div>
  <% elsif t_tags["previous_issue"].present? || t_tags["card"].present? %>
    <% if t_tags["previous_issue"].try(:[], "tags").try(:[], "card").try(:[], "name").present? %>
      <div class="row">
        <div class="col-lg-12">
          <span class="bold font">Card Holder Name: </span><%= t_tags["previous_issue"].try(:[], "tags").try(:[], "card").try(:[], "name") %>
        </div>
      </div>
    <% elsif t_tags.try(:[], "card").present? %>
      <div class="row">
        <div class="col-lg-12">
          <span class="bold font">Card Holder Name: </span><%= t_tags.try(:[], "card").try(:[], "name") %></div>
      </div>
    <% end %>

    <% if t_tags.try(:[], 'previous_issue').try(:[], 'first6').present? && t_tags.try(:[], 'previous_issue').try(:[], 'last4').present? %>
      <div class="row">
        <div class="col-lg-12"><span class="bold font">Card Number: </span><%= t_tags["previous_issue"]["first6"] %>
          *****<%= t_tags["previous_issue"]["last4"] %>
          <% if t.card.present? && t.card.try(:[], 'brand').try(:downcase) == 'visa' %>
            <%= image_tag("Visa1.png", :alt => "rss feed", class: 'width-30-height-17-px-details-modal') %>
          <% elsif t.card.present? && t.card.try(:[], 'brand').try(:downcase) == 'mastercard' %>
            <%= image_tag("mastercard1.png", :alt => "rss feed", class: 'width-30-height-18-px-details-modal') %>
          <% elsif t.card.present? && t.card.try(:[], 'brand').try(:downcase) == 'amex' %>
            <%= image_tag("american_expres1.png", :alt => "rss feed", class: 'width-27-height-17-px-details-modal') %>
          <% elsif t.card.present? && t.card.try(:[], 'brand').try(:downcase) == 'discover' %>
            <%= image_tag("discover.jpg", :alt => "rss feed", class: 'width-30-height-20-px-details-modal') %>
          <% end %>
        </div>
      </div>
    <% elsif t_tags.try(:[], 'card').try(:[], 'first6').present? && t_tags.try(:[], 'card').try(:[], 'last4').present? %>
      <div class="row">
        <div class="col-lg-12">
          <span class="bold font">Card Number: </span><%= t_tags.try(:[], 'card').try(:[], 'first6') %>
          *****<%= t_tags.try(:[], 'card').try(:[], 'last4') %>
          <% brand = t_tags["card"]["brand"].try(:downcase) %>
          <% if brand.present? %>
            <% if brand == 'visa' %>
              <%= image_tag("Visa1.png", :alt => "rss feed", class: 'width-30-height-17-px-details-modal') %>
            <% elsif brand == 'mastercard' %>
              <%= image_tag("mastercard1.png", :alt => "rss feed", class: 'width-30-height-18-px-details-modal') %>
            <% elsif brand == 'amex' %>
              <%= image_tag("american_expres1.png", :alt => "rss feed", class: 'width-27-height-17-px-details-modal') %>
            <% elsif brand == 'discover' %>
              <%= image_tag("discover.jpg", :alt => "rss feed", class: 'width-30-height-20-px-details-modal') %>
            <% end %>
          <% end %>
        </div>
      </div>
    <% end %>

    <% if card.try(:bank).present? %>
      <div class="row">
        <div class="col-lg-12"><span class="bold font">Bank: </span><%= card.try(:bank) %></div>
      </div>
    <% end %>

    <% if t_tags["previous_issue"].try(:[], "tags").try(:[], "card").try(:[], "exp_date").present? %>
      <div class="row">
        <div class="col-lg-12">
          <span class="bold font">Expiration Date: </span><%= t_tags["previous_issue"].try(:[], "tags").try(:[], "card").try(:[], "exp_date") %>
        </div>
      </div>
    <% elsif t_tags.try(:[], "card").present? %>
      <div class="row">
        <div class="col-lg-12">
          <span class="bold font">Expiration Date: </span><%= t_tags.try(:[], "card").try(:[], "exp_date") %></div>
      </div>
    <% end %>

    <% if t_tags.try(:[], "card").present? %>
      <div class="row">
        <div class="col-lg-12"><span class="bold font">Bank: </span><%= t_tags["card"].try(:[], "bank") %></div>
      </div>
    <% end %>

    <div class="row">
      <div class="col-lg-12"><span class="bold font">CVC Check: </span>| Passed <i class="fa fa-check-circle"></i></div>
    </div>
    <% if t_tags.try(:[], 'previous_issue').try(:[], 'type').present? %>
      <div class="row">
        <div class="col-lg-12">
          <span class="bold font">Type: </span><%= t_tags["previous_issue"]["scheme"].present? ? "#{t_tags["previous_issue"]["scheme"].capitalize } " : '' + "#{t_tags["previous_issue"]["type"].capitalize}" %>
        </div>
      </div>
    <% end %>
    <% if t_tags.try(:[], 'previous_issue').try(:[], 'country').present? %>
      <div class="row">
        <div class="col-lg-12">
          <span class="bold font">Origin:</span><%= t_tags["previous_issue"]["country"]["name"] %> <%= t_tags["previous_issue"]["country"]["emoji"] %>
        </div>
      </div>
    <% end %>
    <% if t_tags.try(:[], 'previous_issue').try(:[], 'transaction_id').present? %>
      <div class="row">
        <div class="col-lg-12"><span class="bold font">ID:</span><%= t_tags["previous_issue"]["transaction_id"].try(:[],"response").present? ? t_tags["previous_issue"]["transaction_id"].try(:[],"response") : t_tags["previous_issue"]["transaction_id"] %></div>
      </div>
    <% end %>
  <% else %>
    <% card_details = Transaction.find_by(seq_transaction_id: t_tags.try(:[], 'refund_details').try(:[], 'parent_transaction_id')) if t_tags.try(:[], 'refund_details').try(:[], 'parent_transaction_id').present? %>
    <% if card_details.present? %>
      <% if card_details.try(:tags).try(:[], 'previous_issue').try(:[], 'tags').try(:[], 'card').try(:[], 'name').present? %>
        <div>
          <div class="row">
            <div class="col-lg-12">
              <span class="bold font">Card Holder Name: </span><%= card_details.tags.try(:[], 'previous_issue').try(:[], 'tags').try(:[], 'card').try(:[], 'name') %>
            </div>
          </div>
      <% end %>
      <% if card_details.tags.try(:[], 'previous_issue').try(:[], 'tags').try(:[], 'card').try(:[], 'first6').present? && card_details.tags.try(:[], 'previous_issue').try(:[], 'tags').try(:[], 'card').try(:[], 'last4').present? %>
        <div class="row">
          <div class="col-lg-12">
            <span class="bold font">Card Number: </span><%= card_details.tags.try(:[], 'previous_issue').try(:[], 'tags').try(:[], 'card').try(:[], 'first6') %>
            *****<%= card_details.tags.try(:[], 'previous_issue').try(:[], 'tags').try(:[], 'card').try(:[], 'last4') %>
            <% if card_details.card.present? && card_details.card.try(:[], 'brand').try(:downcase) == 'visa' %>
              <%= image_tag("Visa1.png", :alt => "rss feed", class: 'width-30-height-17-px-details-modal') %>
            <% elsif card_details.card.present? && card_details.card.try(:[], 'brand').try(:downcase) == 'mastercard' %>
              <%= image_tag("mastercard1.png", :alt => "rss feed", class: 'width-30-height-18-px-details-modal') %>
            <% elsif card_details.card.present? && card_details.card.try(:[], 'brand').try(:downcase) == 'amex' %>
              <%= image_tag("american_expres1.png", :alt => "rss feed", class: 'width-27-height-17-px-details-modal') %>
            <% elsif card_details.card.present? && card_details.card.try(:[], 'brand').try(:downcase) == 'discover' %>
              <%= image_tag("discover.jpg", :alt => "rss feed", class: 'width-30-height-20-px-details-modal') %>
            <% end %>
          </div>
        </div>
      <% end %>
      <% if card_details.tags.try(:[], 'previous_issue').try(:[], 'tags').try(:[], 'card').try(:[], 'brand') %>
        <div class="row">
          <div class="col-lg-12">
            <span class="bold font">Brand: </span><%= card_details.tags.try(:[], 'previous_issue').try(:[], 'tags').try(:[], 'card').try(:[], 'brand').capitalize %>
          </div>
        </div>
        <% if card_details.tags.try(:[], 'previous_issue').try(:[], 'tags').try(:[], 'card').try(:[], 'exp_date') %>
          <div class="row">
            <div class="col-lg-12">
              <span class="bold font">Expiration Date: </span><%= card_details.tags.try(:[], 'previous_issue').try(:[], 'tags').try(:[], 'card').try(:[], 'exp_date') %>
            </div>
          </div>
        <% end %>
        <% if card_details.tags.try(:[], 'previous_issue').try(:[], 'country').try(:[], 'name').present? %>
          <div class="row">
            <div class="col-lg-12">
              <span class="bold font">Country: </span><%= card_details.tags.try(:[], 'previous_issue').try(:[], 'country').try(:[], 'name') %>
            </div>
          </div>
        <% end %>
        <div class="row">
          <div class="col-lg-12"><span class="bold font">CVC Check: </span>| Passed <i class="fa fa-check-circle"></i>
          </div>
        </div>
        </div>
      <% end %>
    <% end %>
  <% end %>
<% end %>
