<%= stylesheet_link_tag asset_path("admins/detail_modals/detail_modals_styles"), media: 'all', 'data-turbolinks-track' => 'reload' %>

<% unless t.tags.present? && t.tags["type"]=='payed_tip' %>
  <% txn = block_txn_parent_transaction_info(t.sequence_id) if t.class.to_s == "BlockTransaction" %>
  <% t = txn[:t] if t.class.to_s == "BlockTransaction" && txn.present?  %>
    <div class="margin-top-15-px-details-modal">
      <div class="form-group col-md-6">
        <div class="row">
          <div class="col-lg-6">
            <span class="bold font">Gbox:
                <%= number_with_precision(number_to_currency(getting_fee_from_local_trans(t,"gbox")), precision: 2) %>
            </span>
          </div>
          <div class="col-lg-6">
            <%= getting_fee_wallet_from_local_trans(t,"gbox").present? ? getting_fee_wallet_from_local_trans(t,"gbox").html_safe : "" %>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-6">
              <span class="bold font">ISO:
                <%= t.tags.try(:[], "fee_perc").try(:[], "iso").try(:[], "iso_buyrate").present? ? "-" : "" %><%= number_with_precision(number_to_currency(getting_fee_from_local_trans(t,"iso")), precision: 2) %>
              </span>
          </div>
          <div class="col-lg-6">
            <%= getting_fee_wallet_from_local_trans(t,"iso").present? ? getting_fee_wallet_from_local_trans(t,"iso").html_safe : "" %>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-6">
            <span class="bold font">Agent:
              <%= number_with_precision(number_to_currency(getting_fee_from_local_trans(t,"agent")), precision: 2) %>
            </span>
          </div>
          <div class="col-lg-6">
            <%= getting_fee_wallet_from_local_trans(t,"agent").present? ? getting_fee_wallet_from_local_trans(t,"agent").html_safe : "" %>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-6">
            <span class="bold font"> Affiliate:
              <%= number_with_precision(number_to_currency(getting_fee_from_local_trans(t,"affiliate")), precision: 2) %>
            </span>
          </div>
          <div class="col-lg-6">
            <%= getting_fee_wallet_from_local_trans(t,"affiliate").present? ? getting_fee_wallet_from_local_trans(t,"affiliate").html_safe : ""%>
          </div>
        </div>
      </div>
    </div>
<% end %>
<% if t.main_type=='Virtual Terminal' || (t.tags.present? && t.tags["type"]=='eCommerce') || t.main_type=='"Credit Card' || (t.tags.present? && t.tags["type"]=='sale') || t.main_type == 'eCommerce' || t.main_type == 'QCP Secure' || t.main_type == 'QC Secure' || t.main_type == 'Invoice - Debit Card' || t.main_type == 'Invoice - Credit Card' || t.main_type == 'Invoice - RTP' || t.main_type == 'RTP' %>
    <% if t.tags.try(:[],'fee_perc').try(:[],'super_users_details').present? %>
        <div class="col-lg-6">
          <span class="transaction-detail-details-modal">Baked Fees:</span>
          <div class="col-lg-12 margin-top-8-px-details-modal" >
            <% if t.tags["fee_perc"].try(:[],'super_users_details').present? %>
            <% t.tags["fee_perc"]['super_users_details'].each do |tran| %>
                <div class="row">
                  <div class="col-lg-6">
                      <span class="bold font">
                        <%#= get_iso_fee_view(t) %>
                        <% if tran['user_1_details'].try(:[],'dollar').present? && (tran['user_1_details'].try(:[],'dollar').to_f > 0) %>
                           <% wallet_id=tran['user_1_details']['wallet'] %>
                            <% role_name = Wallet.find(wallet_id.to_i).try(:users).try(:first).try(:role) if wallet_id.present? %>
                            <% total =  tran['user_1_details']['dollar'].to_f %>
                          <%if role_name.present? && role_name =="iso"  %>
                            <%= 'ISO' %>:
                          <%else %>
                            <%= role_name.present? ? role_name.try(:capitalize) : '-' %>:
                          <%end %>
                            <%=number_to_currency(number_with_precision(total, precision: 2))  %>
                        <% end %>
                      </span>
                  </div>
                  <% if total.present? && total > 0 %>
                      <div class="col-lg-6">
                        <% if role_name == "iso" || role_name == "agent" || role_name == "affiliate" %>
                          <% user_wallet = Wallet.find(wallet_id.to_i) %>
                          <% actual_user = user_wallet.users.first %>
                          <%= link_to 'wallet',wallet_id.present? ? profile_isos_path(format: actual_user.try(:slug),iso_id: actual_user.try(:id)) : '-', class: "blue-color" %>
                        <% else %>
                          <%= link_to 'wallet',wallet_id.present? ? user_transactions_path(Wallet.find(wallet_id.to_i).slug) : '-', class: "blue-color" %>
                        <% end %>
                      </div>
                  <% end %>
                </div>
                <div class="row">
                  <div class="col-lg-6">
                      <span class="bold font">
                        <%#= get_iso_fee_view(t) %>
                        <% if tran['user_2_details'].try(:[],'dollar').present? && (tran['user_2_details'].try(:[],'dollar').to_f > 0) %>
                                        <% wallet_id1=tran['user_2_details']['wallet'] %>
                            <% role_name = Wallet.find(wallet_id1.to_i).try(:users).try(:first).try(:role) if wallet_id1.present? %>
                            <% total1 =  tran['user_2_details']['dollar'].to_f %>
                            <%if role_name.present? && role_name =="iso"  %>
                              <%= 'ISO' %>:
                            <%else %>
                              <%= role_name.present? ? role_name.try(:capitalize) : '-' %>:
                            <%end %>
                            <%=number_to_currency(number_with_precision(total1, precision: 2))  %>
                        <% end %>
                      </span>
                  </div>
                  <% if total1.present? && total1 > 0 %>
                      <div class="col-lg-6">
                        <% if role_name == "iso" || role_name == "agent" || role_name == "affiliate" %>
                          <% user_wallet = Wallet.find(wallet_id1.to_i) %>
                          <% actual_user = user_wallet.users.first %>
                          <%= link_to 'wallet',wallet_id1.present? ? profile_isos_path(format: actual_user.try(:slug),iso_id: actual_user.try(:id)) : '-', class: "blue-color" %>
                        <% else %>
                          <%= link_to 'wallet',wallet_id1.present? ? user_transactions_path(Wallet.find(wallet_id1.to_i).slug) : '-', class: "blue-color" %>
                        <% end %>
                      </div>
                  <% end %>
                </div>
                <div class="row">
                  <div class="col-lg-6">
                      <span class="bold font">
                        <%#= get_iso_fee_view(t) %>
                        <% if tran['user_3_details'].try(:[],'dollar').present? && (tran['user_3_details'].try(:[],'dollar').to_f > 0) %>
                                        <% wallet_id2=tran['user_3_details']['wallet'] %>
                            <% role_name = Wallet.find(wallet_id2.to_i).try(:users).try(:first).try(:role) if wallet_id1.present? %>
                            <% total2 =  tran['user_3_details']['dollar'].to_f %>
                            <%if role_name.present? && role_name =="iso"  %>
                              <%= 'ISO' %>:
                            <%else %>
                              <%= role_name.present? ? role_name.try(:capitalize) : '-' %>:
                            <%end %>
                            <%=number_to_currency(number_with_precision(total2, precision: 2))  %>
                        <% end %>
                          </span>
                  </div>
                  <% if total2.present? && total2 > 0 %>
                      <div class="col-lg-6">
                        <% if role_name == "iso" || role_name == "agent" || role_name == "affiliate" %>
                          <% user_wallet = Wallet.find(wallet_id2.to_i) %>
                          <% actual_user = user_wallet.users.first %>
                          <%= link_to 'wallet',wallet_id2.present? ? profile_isos_path(format: actual_user.try(:slug),iso_id: actual_user.try(:id)) : '-', class: "blue-color" %>
                        <% else %>
                          <%= link_to 'wallet',wallet_id2.present? ? user_transactions_path(Wallet.find(wallet_id2.to_i).slug) : '-', class: "blue-color" %>
                        <% end %>
                      </div>
                  <% end %>
                </div>
            <% end %>
            <% end %>

          </div>
        </div>
    <% end %>
    <% if t.tags.try(:[],'fee_perc').try(:[],'super_company').present? %>
        <div class="col-lg-6 margin-top-8-px-details-modal">
          <span class="transaction-detail-details-modal">Profit Fees:</span>
          <div class="col-lg-12 margin-top-8-px-details-modal" >
            <% if t.tags["fee_perc"].try(:[],'super_company').present? %>
                <div class="row">
                  <div class="col-lg-6">
                      <span class="bold font">
                        <%#= get_iso_fee_view(t) %>
                        <% total_company = t.tags.try(:[],'fee_perc').try(:[],'super_company').try(:[],"0").try(:[],"amount").to_f %>
                        <% company_role = t.tags.try(:[],'fee_perc').try(:[],'super_company').try(:[],"0").try(:[],"role") %>
                        <% wallet_id = t.tags.try(:[],'fee_perc').try(:[],'super_company').try(:[],"0").try(:[],"wallet").to_i %>
                        <%if company_role.present? && company_role =="iso"  %>
                <%= 'ISO' %>:
              <%else %>
                <%= company_role.present? ? company_role.try(:capitalize) : '-' %>:
              <%end %>
                        <%=number_to_currency(number_with_precision(total_company, precision: 2))  %>

                      </span>
                  </div>
                  <% if total_company.present? && total_company > 0 %>
                      <div class="col-lg-6">
                        <% if company_role == "iso" || company_role == "agent" || company_role == "affiliate" %>
                          <% user_wallet = Wallet.find(wallet_id.to_i) %>
                          <% actual_user = user_wallet.users.first %>
                          <%= link_to 'wallet',wallet_id.present? ? profile_isos_path(format: actual_user.try(:slug),iso_id: actual_user.try(:id)) : '-', class: "blue-color" %>
                        <% else %>
                          <%= link_to 'wallet',wallet_id.present? ? user_transactions_path(Wallet.find(wallet_id.to_i).slug) : '-', class: "blue-color" %>
                        <% end %>
                      </div>
                  <% end %>
                </div>
            <% end %>
            <% end %>

          </div>
        </div>
    <% end %>
<%# end %>
