<%= stylesheet_link_tag asset_path("admins/detail_modals/detail_modals_styles"), media: 'all', 'data-turbolinks-track' => 'reload' %>

<% if t.tags["type"]!='refund' %>
    <figure>
      <% if t.sub_type != 'sale_giftcard' && t.tags["type"] != 'b2b_transfer' %>

      <% elsif t.sub_type == 'sale_giftcard' %>
        <span class="transaction-detail-details-modal"> Customer Information</span>
      <% elsif t.tags["type"] == 'b2b_transfer' %>
<!--        <span style="text-decoration: underline; font-weight: bold; color:black; padding-left: 14px;"> Merchant Information - Sender</span>-->
      <% end %>
    </figure>
      <%# user=t.receiver %>
      <%# users = return_user(users, t[:old_type],t) %>
      <%# if users[:users].nil? %>
        <%# users[:users]=user %>
      <%# end %>
      <div class="row">
        <div class="col-lg-12"><span class="bold font"> Name:</span>
          <span  class="ui-tooltip space_remove" data-toggle="tooltip" data-placement="right" title="<%= t.try(:sender).try(:name).present? ? t.try(:sender).try(:name) : t.try(:receiver).try(:name)%>">
          <%= t.try(:sender).try(:name).present? ? t.try(:sender).try(:name).truncate(28) : t.try(:receiver).try(:name).try(:truncate, 28)   %>
        </span>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-12"><span class="bold font">Phone Number: </span><%= t.try(:sender).try(:phone_number).present? ? t.try(:sender).try(:phone_number) : t.try(:receiver).try(:phone_number) %></div>
      </div>
      <div class="row">
        <div class="col-lg-12"><span class="bold font"> Email: </span><%= t.try(:sender).try(:email).present? ? t.try(:sender).try(:email) : t.try(:receiver).try(:email) %></div>
      </div>
      <% if t.tags["type"]=='b2b_transfer' %>
        <% location=Wallet.find_by(id:t.sender_wallet_id).try('location') if t.sender_wallet_id.present? %>
        <div class="row">
          <div class="col-lg-12"><span class="bold font"> Web Site: </span><u><%= location.try("web_site").present? ? JSON.parse(location.try("web_site")).try(:first) : '--'  %></u></div>
        </div>
      <% end %>
      <div class="row">
        <div class="col-lg-12"><span class="bold font"> Wallet ID: </span>
          <% if (t.sender_wallet_id.present? && t.sender_wallet_id.to_i != 0) %>
            <u><%= t.sender_wallet_id.present? ? link_to("#{t.sender_wallet_id}", user_transactions_path(t.sender_wallet_id), class: "blue-color") : ''  %></u>
         <% elsif  (t.receiver_wallet_id.present? && t.receiver_wallet_id.to_i != 0) %>
            <u><%=  t.receiver_wallet_id.present? ? link_to("#{t.receiver_wallet_id}", user_transactions_path(t.receiver_wallet_id), class: "blue-color") : ''  %></u>
        <% else %>
            <u><%= "N/A" %></u>
          <% end %>
        </div>
      </div>
  <% else %>
<!--    <span style="text-decoration: underline; font-weight: bold; color:black; padding-left: 14px;"> Customer Information</span>-->
    <div class="margin-top-15-px-details-modal">
      <div class="row">
        <div class="col-lg-12"><span class="bold font">Name: </span>
          <span class="ui-tooltip" data-toggle="tooltip" data-placement="right" title="<%= t.receiver.present? ? t.receiver.name : "---" %>">
          <%= t.receiver.present? ? t.receiver.name : "---" %>
        </span>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-12"><span class="bold font">Phone Number: </span><%= t.receiver.present? ? t.receiver.phone_number : "---" %> </div>
      </div>
      <div class="row">
        <div class="col-lg-12"><span class="bold font">Email: </span><%= t.receiver.present? ? t.receiver.email : "---" %></div>
      </div>
      <div class="row">
        <div class="col-lg-12"><span class="bold font">Wallet Id: </span>
          <% if (t.sender_wallet_id.present? && t.sender_wallet_id.to_i != 0) %>
            <u><%= t.sender_wallet_id.present? ? link_to("#{t.sender_wallet_id}", user_transactions_path(t.sender_wallet_id), class: "blue-color") : ''  %></u>
          <% elsif  (t.receiver_wallet_id.present? && t.receiver_wallet_id.to_i != 0) %>
            <u><%=  t.receiver_wallet_id.present? ? link_to("#{t.receiver_wallet_id}", user_transactions_path(t.receiver_wallet_id), class: "blue-color") : ''  %></u>
          <% else %>
            <u><%= "N/A" %></u>
          <% end %>
        </div>
      </div>
    </div>
  <% end %>
