<%= stylesheet_link_tag asset_path("admins/detail_modals/detail_modals_styles"), media: 'all', 'data-turbolinks-track' => 'reload' %>


<% if t.main_type=='cbk_hold' || t.main_type=='cbk_won' || t.main_type=='retrievel_fee' || t.main_type=='cbk_lost' || t.main_type=='CBK Lost Retire' || t.main_type=='cbk_fee'|| t.main_type=='cbk_dispute_accepted' || t.try(:main_type)=='CBK Lost' || t.try(:main_type)=='CBK Hold' || t.try(:main_type)=='Dispute Accepted'  %>
  <% if dispute.present? %>
    <div class="row">
      <span class="transaction-detail-details-modal"> Dispute Information</span>
      <div class="col-lg-12" class="margin-top-15-px-details-modal">
        <div class="row">
          <% status = dispute.try(:status).try(:gsub, '_',' ')%>
          <% if t.main_type == 'cbk_hold' || t.main_type=='cbk_lost' || t.main_type == "cbk_fee" || t.main_type=='cbk_dispute_accepted' || t.try(:main_type)=='Dispute Accepted'%>
            <div class="col-lg-12"><span class="bold font">Status: </span><%= "<span class='color-maroon-details-modal'><b> CBK #{status.try(:titleize)}</b></span>".html_safe %></div>
          <% elsif t.main_type == 'cbk_won' %>
              <div class="col-lg-12"><span class="bold font">Status: </span><%= "<span class='color-green-details-modal'><b>CBK WON</b></span>".html_safe %></div>
          <% elsif t.main_type=='retrievel_fee' %>
              <div class="col-lg-12"><span class="bold font">Status: </span><%= "<span class='color-green-details-modal'><b>#{status.try(:titleize)}</b></span>".html_safe %></div>
          <% end %>
        </div>
        <div class="row">
          <div class="col-lg-12"><span class="bold font">Dispute Case: </span><%= dispute.case_number %> </div>
        </div>
        <div class="row">
          <div class="col-lg-12"><span class="bold font">Reason: </span><%= dispute.reason.try(:title) %></div>
        </div>
        <div class="row">
          <div class="col-lg-12"><span class="bold font">Dispute Type: </span><%= dispute.dispute_type.try(:humanize) %></div>
        </div>
        <div class="row">
          <div class="col-lg-12"><span class="bold font">Received Date: </span><%= dispute.recieved_date.strftime("%m/%d/%Y") %></div>
        </div>
        <div class="row">
          <div class="col-lg-12"><span class="bold font">Due Date: </span><%= dispute.due_date.strftime("%m/%d/%Y") %></div>
        </div>
        <div class="row">
          <div class="col-lg-12"><span class="bold font">Amount: </span>$<%= number_with_precision(dispute.amount, :precision => 2, :delimiter => ',')  %></div>
        </div>
        <% if t.main_type == 'cbk_hold' || t.main_type == 'cbk_fee' || t.main_type.humanize.titleize == 'retrievel_fee' || t.main_type == 'cbk_lost' || t.main_type == 'cbk_won' || t.main_type == 'cbk_dispute_accepted' %>
          <div class="row">
            <div class="col-lg-12"><span class="bold font">Chargeback Fee?: </span><%= dispute.charge_fee ? "<span class='color-green-details-modal'><b>Yes</b></span>".html_safe : "<span class='color-red-details-modal'><b>No</b></span>".html_safe %></div>
          </div>
          <div class="row">
            <%  if t.main_type == "cbk_hold" %>
              <div class="col-lg-12"><span class="bold font">Chargeback Fee Amount: </span>$<%= number_with_precision(t.fee.present? && t.fee.to_f > 0 ? t.fee : t.total_amount.to_f - t.amount.to_f, :precision => 2, :delimiter => ',')  %></div>
            <% elsif t.main_type == "cbk_lost" %>
              <% charge_back_fee = dispute.try(:charge_back_transaction).try(:fee) %>
              <div class="col-lg-12"><span class="bold font">Chargeback Fee Amount: </span>$<%= number_with_precision(charge_back_fee.to_f, :precision => 2, :delimiter => ',')  %></div>
            <% elsif t.main_type == "cbk_won" %>
              <% charge_back_fee = dispute.try(:charge_back_transaction).try(:fee) %>
              <div class="col-lg-12"><span class="bold font">Chargeback Fee Amount: </span>$<%= number_with_precision(charge_back_fee.to_f, :precision => 2, :delimiter => ',')  %></div>
            <% elsif t.main_type == "cbk_dispute_accepted" %>
              <% charge_back_fee = dispute.try(:charge_back_transaction).try(:fee) %>
              <div class="col-lg-12"><span class="bold font">Chargeback Fee Amount: </span>$<%= number_with_precision(charge_back_fee.to_f, :precision => 2, :delimiter => ',')  %></div>
            <% elsif t.main_type == "cbk_fee" || t.main_type == "retrievel_fee" %>
              <div class="col-lg-12"><span class="bold font">Chargeback Fee Amount: </span>$<%= number_with_precision(t.total_amount.to_f, :precision => 2, :delimiter => ',')  %></div>
            <% end %>
          </div>
        <% end %>
      </div>
    </div>
  <% end %>
<% end %>