<%= stylesheet_link_tag asset_path("admins/detail_modals/detail_modals_styles"), media: 'all', 'data-turbolinks-track' => 'reload' %>


<% if t.tags["type"]=='reserve_money_return' %>
  <span class="transaction-detail-details-modal"> Merchant Information</span>
<% end %>
<% if t.tags["type"]=='b2b_transfer' || t.try(:main_type).try(:downcase) == "invoice qc" %>
  <span class="transaction-gift-details-modal"> Merchant Information - Receiver</span>
  <div class="margin-top-15-px-details-modal">
    <div class="row">
      <div class="col-lg-12">  <span class="bold font"> Name: </span>
        <span class="ui-tooltip" data-toggle="tooltip" data-placement="right" title="<%= t.receiver.name.present? ? t.receiver.name : "N/A" %>">
        <%= t.receiver.name.present? ? t.receiver.name.truncate(28) : "N/A" %>
        </span>
      </div>
    </div>
    <% location=Wallet.find_by(id:t.receiver_wallet).try('location') if t.receiver_wallet.present? %>
    <div class="row">
      <div class="col-lg-12"><span class="bold font">Phone Number: </span><%= location.present? ? location.try('cs_number') : t.receiver.phone_number.present? ? t.receiver.phone_number : '--' %></div>
    </div>
    <div class="row">
      <div class="col-lg-12"><span class="bold font"> Email: </span><%= t.receiver.email.present? ? t.receiver.email : "N/A" %></div>
    </div>
    <div class="row">
      <div class="col-lg-12"><span class="bold font"> Web Site: </span><%= location.try("web_site").present? ? JSON.parse(location.try("web_site")).try("first") : '--' %></div>
    </div>
    <div class="row">
      <div class="col-lg-12"><span class="bold font"> Wallet ID: </span><u><%= !t.receiver_wallet_id.present? ? "N/A": link_to("#{t.receiver_wallet_id}", user_transactions_path(t.receiver_wallet_id), class: "blue-color") %></u></div>
    </div>
  </div>
<% else %>
  <div class="col-lg-12">
    <div class="row">

      <div class="col-lg-12">  <span class="bold font"> Name: </span>
        <span class="tooltip" data-toggle="tooltip" data-placement=" right" title="<%= t.sender.name.present? ? t.sender.name : "N/A" %>">
        <%= t.sender.name.present? ? t.sender.name.truncate(28) : "N/A" %>
        </span>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12"><span class="bold font">Phone Number: </span><%= t.sender.phone_number.present? ? t.sender.phone_number : "N/A" %></div>
    </div>
    <div class="row">
      <div class="col-lg-12"><span class="bold font"> Email: </span><%= t.sender.email.present? ? t.sender.email : "N/A" %></div>
    </div>
    <div class="row">
      <div class="col-lg-12"><span class="bold font"> Wallet ID: </span><u><%= !t.sender_wallet_id.present? ? "N/A": link_to("#{t.sender_wallet_id}", user_transactions_path(t.sender_wallet_id), class: "blue-color") %></u></div>
    </div>
  </div>
<% end %>
