<%= stylesheet_link_tag asset_path("admins/detail_modals/detail_modals_styles"), media: 'all', 'data-turbolinks-track' => 'reload' %>
<% if (t.tags.present? && t.tags["type"] != 'b2b_transfer' && t.tags["type"] != 'refund' && t.main_type != TypesEnumLib::TransactionType::Issue3DS) || (t.main_type != 'B2B Transfer' && t.main_type != 'refund') %>
    <% if (t.tags.present? && t.tags["merchant"].present?) || t.main_type=="Reserve_Money_Return" ||  t.try(:main_type)=='payed_tip' %>
        <div class="form-group col-md-6">
          <div class="row">
            <div class="col-lg-12 margin-top-15-px-details-modal">
              <div class="row">
                <div class="col-lg-12">
                  <span class="bold font has-popover"><%= t.main_type == 'Giftcard Purchase' ? 'Merchant Name:' : 'Name:' %></span>
                  <span class=" ui-tooltip space_remove" data-toggle="tooltip" data-placement="right"  title= "<%= t.tags["merchant"].try(:[], "name").present? ? (t.tags["merchant"].try(:[], "name")).truncate(24) : t.receiver.present? ? t.receiver.name.truncate(24) : '--' %>" >
                  <%= t.tags["merchant"].try(:[], "name").present? ? (t.tags["merchant"].try(:[], "name")).truncate(24) : t.receiver.present? ? t.receiver.name.truncate(24) : '--'%>
                  </span>
                </div>
              </div>
              <div class="row">
                <% if t.main_type == 'Send Check' || t.main_type == 'send_check' || t.main_type == 'ACH Deposit' || t.main_type == 'Giftcard Purchase' || t.withdrawl? || t.main_type=='Subscription Fee' || t.main_type=='Subscription Fee'|| t.sub_type=="Service Fee"|| t.main_type=="Misc Fee" || t.main_type=="instant_pay" || t.main_type == "Void_Ach" || t.main_type == "ACH_deposit" || t.main_type == "Manual Retire" %>
                    <div class="col-lg-12">
                      <% if [I18n.t('types.withdrawl.failed_push_to_card'), I18n.t('types.withdrawl.failed_check'), I18n.t('types.withdrawl.failed_ach')].include?(t.main_type.downcase) %>
                        <span class="bold font">Wallet Id: </span><%= t.receiver_wallet.present? ? link_to("#{t.receiver_wallet.try(:id)}", user_transactions_path(t.receiver_wallet.try("slug")), class: "blue-color") : "---" %>
                      <% else %>
                        <% if (t.try(:user).try(:role) == 'iso' || t.try(:user).try(:role) == 'agent' || t.try(:user).try(:role) == 'affiliate') %>
                          <span class="bold font">Wallet Id: </span><%= t.sender_wallet.present? ? link_to("#{t.sender_wallet.try(:id)}", profile_isos_path(t.sender.try("slug")) , class: "blue-color") : "---" %>
                        <%else %>
                          <span class="bold font">Wallet Id: </span><%= t.sender_wallet.present? ? link_to("#{t.sender_wallet.try(:id)}", user_transactions_path(t.sender_wallet.try("slug")) , class: "blue-color") : "---" %>
                        <%end %>
                      <% end %>
                    </div>
                <% else %>
                    <div class="col-lg-12">
                      <span class="bold font">Wallet Id: </span><%= t.receiver_wallet.present? ? link_to("#{t.receiver_wallet.try(:id)}", user_transactions_path(t.receiver_wallet.try("slug")), class: "blue-color") : "---" %>
                    </div>
                <% end %>
              </div>
              <div class="row">
                <% if t.main_type == 'Giftcard Purchase' || t.try(:main_type)=='payed_tip' %>
                    <div class="col-lg-12">
                      <span class="bold font">DBA Name: </span><u ><%=t.sender_wallet.try(:id).present? ? t.tags.try(:[],'location').try(:[],'business_name').nil? ? "N/A": link_to("#{t.tags.try(:[],'location').try(:[],'business_name')}", user_transactions_path(t.sender_wallet.try(:id).to_i), class: "blue-color") : "---" %></u>
                    </div>
                <% end %>
              </div>
              <div class="row">
                <% if t.withdrawl? %>
                  <% id = t.sender_wallet_id.present? ? t.sender_wallet_id : t.receiver_wallet_id %>
                <% else %>
                  <% id = t.receiver_wallet_id.present? ? t.receiver_wallet_id : t.sender_wallet_id %>
                <% end %>
                <% if t.main_type=='Subscription Fee' || t.main_type== "monthly Fee" || t.main_type=="Misc Fee" %>
                    <% id = t.sender_wallet_id.present? ? t.sender_wallet_id : t.receiver_wallet_id  %>
                <% end %>
                <% location = Wallet.find_by(id: id).try('location') if id.present? %>
                <% location1 = Location.find_by(id: t.tags["location"].try(:[], "id")) if t.tags["location"].present? %>
                <!--            t.tags["merchant"].try(:[], "phone_number").present? ? t.tags["merchant"].try(:[], "phone_number")-->
                <div class="col-lg-12">
                  <span class="bold font">Phone Number: </span><%= location.present? ? location.try('cs_number') : location1.present? ? location1.try('cs_number') : '--' %>
                </div>
              </div>
              <div class="row">
                <div class="col-lg-12">
                  <span class="bold font">Email: </span><%= t.tags["merchant"].try(:[], "email").present? ? t.tags["merchant"].try(:[], "email") : t.receiver.present? ? t.receiver.email : '--' %>
                </div>
              </div>
              <% unless t.main_type == 'Giftcard Purchase' %>
                  <div class="row">
                    <div class="col-lg-12">
                      <span class="bold font">Web Site: </span><%= location.try("web_site").present? ? JSON.parse(location.try("web_site")).try("first") : location1.try("web_site").present? ? JSON.parse(location1.try("web_site")).try("first") : '--' %>
                    </div>
                  </div>
                <% if t.main_type == "ACH_deposit" || t.withdrawl? %>
                  <% merchant_owner_name = t.try(:user).try(:merchant?) ? t.try(:user).try(:owners).first.try(:name) : "" %>
                  <div class="row">
                    <div class="col-lg-12">
                      <span class="bold font">Owner's Name: </span><%= t.tags["merchant"].try(:[], "owner_name").present? ? t.tags["merchant"].try(:[], "owner_name") : t.receiver.try(:owner_name).present? ? t.receiver.owner_name : merchant_owner_name.present? ? merchant_owner_name : '--' %>
                    </div>
                  </div>
                <% else %>
                  <div class="row">
                    <div class="col-lg-12">
                      <span class="bold font">Owner's Name: </span><%= t.tags["merchant"].try(:[], "owner_name").present? ? t.tags["merchant"].try(:[], "owner_name"): t.receiver.present? ? t.receiver.owner_name : '--' %>
                    </div>
                  </div>
                <% end %>
              <% end %>
              <div class="row">
                <% if t.try(:tags).present? && t.tags.try(:[], 'location').try(:[], 'id').present? %>
                    <% id = t.tags.try(:[], 'location').try(:[], 'id') %>
                    <% location = Location.find(id) %>
                    <% if !location.try(:category).try(:[], 'name').nil? %>
                        <div class="col-lg-12">
                          <span class="bold font">Category: </span><%= location.try(:category).try(:[], 'name') %>
                        </div>
                    <% else %>
                        <div class="col-lg-12"></div>
                    <% end %>
                <% end %>
              </div>
            </div>
          </div>
        </div>
    <%elsif  t.sender.try(:role).present? && t.sender.try(:role)!='merchant' %>
        <%= render partial: 'admins/detail_partials/giftcard_user_detail', locals: {t: t} %>
    <% end %>
<% end %>
<% if t.tags.present? && (t.tags["merchant"].present? && t.main_type != TypesEnumLib::TransactionType::Issue3DS || t.tags["type"] == 'giftcard_purchase' || t.tags["type"] == 'giftcard') || ((t.try(:user).try(:role) == "iso" || t.try(:user).try(:role) == "affiliate" || t.try(:user).try(:role) == "agent") && (t.main_type == "Send Check" || t.tags["type"].try(:humanize).try(:down_case) == 'send check')) %>
    <% if t.tags["type"] == 'ACH_deposit' || t.tags["type"].try(:humanize).try(:downcase) == 'send check' || t.tags["type"] == 'Void_Check' || t.tags["type"] == 'giftcard_purchase' || t.tags["type"] == 'giftcard' || t.tags["type"] == "bulk_check" || t.withdrawl? || t.main_type == "Void Push To Card" || t.main_type=="instant_pay" || t.main_type=='void_push_to_card' || t.main_type == "Void_Ach" || t.main_type == "ACH_deposit" || t.try(:main_type)=='Void Push To Card'|| t.try(:main_type)=='Void Check' %>
        <div class="form-group col-md-6 margin-top-n-16-px-details-modal">
          <% if t.tags["type"] == 'giftcard_purchase' || t.tags["type"] == 'giftcard'%>
              <span class="transaction-gift-details-modal"> Gift Card Information</span>
          <% else %>
              <span class="transaction-gift-details-modal"> Check Details</span>
          <% end %>
          <div class="margin-top-12-px-details-modal">
            <% unless t.main_type == "Giftcard Purchase" || t.tags["type"] == 'giftcard' %>
                <div class="row">
                  <div class="col-lg-12">
                    <span class="bold font">Created By: </span>
                    <span class="" data-toggle="tooltip" data-placement="right" title="  <%= t.sender.try("name") || t.receiver.try("name") %>">
                      <%= t.sender.try("name").try(:truncate, 28) || t.receiver.try("name").try(:truncate, 28) %>
                    </span>
                  </div>
                </div>
            <% end %>
            <% if t.tags["type"].present? && (t.tags["type"] == 'giftcard_purchase' || t.tags["type"] == 'giftcard')  %>
                <% if t.tags["fee_perc"].present? %>
                    <div class="row">
                      <div class="col-lg-12">
                        <span class="bold font">Gateway Type: </span><%= t.main_type.present? ? t.main_type : 'N/A' %></div>
                    </div>
                    <div class="row">
                      <div class="col-lg-12">
                        <span class="bold font">Gift Card Brand: </span><%= t.tags["fee_perc"]['brand_name'].present? ? t.tags["fee_perc"]['brand_name'] : 'N/A' %>
                      </div>
                    </div>
                <% end %>
            <% end %>
            <% if t.tags["type"] == 'ACH_deposit' || t.tags["type"].try(:humanize).try(:downcase) == 'send check' || t.tags["type"] == 'Void_Check' || t.withdrawl? || t.main_type == "Void Push To Card" || t.main_type=="instant_pay" || t.try(:main_type)=='void_push_to_card' || t.main_type == "Void_Ach" || t.main_type == "ACH_deposit" || t.main_type == "Void Check" %>
                <div class="row">
                  <div class="col-lg-12">
                    <% tango = t.tags["send_check_user_info"].try(:[], "check_id").present? ? TangoOrder.find_by(checkId: t.tags["send_check_user_info"].try(:[], "check_id")) : '' %>
                    <% check_id = tango.try(:id) if tango.present? %>
                    <% blockTxn_tango = get_tango_order_for_block_transaction(t.sequence_id)  if t.class.to_s == "BlockTransaction" %>
                    <span class="bold font">Check#: </span><%= t.try(:tango_order).present? ? t.try(:tango_order).try(:id) : check_id.present? ? check_id : ( blockTxn_tango.present? && blockTxn_tango[:id].present? ) ? blockTxn_tango[:id] : t.tags["send_check_user_info"].try(:[], "check_number") %>
                  </div>
                </div>
                <div class="row">
                  <div class="col-lg-12">
                    <span class="bold font">Check Amount: </span><%= t.try(:amount).present? ? number_to_currency(number_with_precision(t.try(:amount), precision: 2)) : blockTxn_tango.present? ? number_to_currency(number_with_precision(blockTxn_tango[:amount], precision: 2)) : t.try(:amount_in_cents).present? ? number_to_currency(number_with_precision(t.try(:amount_in_cents).to_f / 100, precision: 2)) : "N/A" %>
                  </div>
                </div>
                <div class="row">
                  <div class="col-lg-12">
                    <span class="bold font"> Name on Account: </span><%= t.try(:tango_order).present? ? t.try(:tango_order).try(:name) : (blockTxn_tango.present? && blockTxn_tango[:name].present? ) ? blockTxn_tango[:name] : t.tags["send_check_user_info"].try(:[], "name").present? ? t.tags["send_check_user_info"].try(:[], "name") : t.tags["location"]["name"] %>
                  </div>
                </div>
                <div class="row">
                  <div class="col-lg-12">
                    <span class="bold font">Recipient's Email: </span><%= t.try(:tango_order).present? ? t.try(:tango_order).try(:recipient) : (blockTxn_tango.present? && blockTxn_tango[:recipient].present? ) ? blockTxn_tango[:recipient]  : t.tags["send_check_user_info"].try(:[], "check_email").present? ? t.tags["send_check_user_info"].try(:[], "check_email") : t.tags["location"]["email"] %>
                  </div>
                </div>
                <% if t.tags["send_via"].present? && t.tags["send_via"] == "direct_deposit" %>
                    <div class="row">
                      <div class="col-lg-12"><span class="bold font">Account Last 4: </span><%= t.last4 %></div>
                    </div>
                <% end %>
                <div class="row">
                  <div class="col-lg-12">
                    <span class="bold font">Description: </span><%= t.try(:tango_order).present? ? t.try(:tango_order).try(:description) : tango.present? ? tango.try(:description) : (blockTxn_tango.present?  && blockTxn_tango[:description].present?) ? blockTxn_tango[:description] : t.tags["type"] == "bulk_check" ? "Bulk Check" : "Single Check" %>
                  </div>
                </div>
                <% if t.tags["send_check_user_info"].try(:[], "notes").present? %>
                    <% if t.main_type=='Void ACH' || t.main_type=='Void_Ach' || t.main_type=='Void Push To Card' || t.main_type=='Void Check' || t.main_type=='Void_Check' || t.main_type=='void_push_to_card'|| t.main_type=='Failed Push To Card' %>
                        <div class="row">
                          <div class="col-lg-12">
                            <span class="bold font">Remarks (Note to Customer): </span>
                            <%= t.tags["send_check_user_info"].try(:[], "notes").try(:[],'customer_note') || "---" %>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-lg-12">
                            <span class="bold font">Internal Note: </span>
                            <%= t.tags["send_check_user_info"].try(:[], "notes").try(:[],'internal_note') || "---" %>
                          </div>
                        </div>
                    <% else %>
                        <div class="row">
                          <div class="col-lg-12">
                            <span class="bold font">Note: </span>
                            <%= t.tags["send_check_user_info"].try(:[], "notes") || "---" %>
                          </div>
                        </div>
                    <% end %>
                <% end %>
            <% elsif t.tags["type"] == "bulk_check" %>
                <div class="row">
                  <div class="col-lg-12">
                    <span class="bold font">Check#: </span><%= bulk_checks_number(t.tags["send_check_user_info"]) || "---" %>
                  </div>
                </div>
                <div class="row">
                  <div class="col-lg-12">
                    <span class="bold font">Total Amount of Checks: </span><%= number_to_currency(number_with_precision(t.amount, precision: 2)) %>
                  </div>
                </div>
                <div class="row">
                  <div class="col-lg-12">
                    <span class="bold font">Total Checks: </span><%= bulk_total_checks(t.tags["send_check_user_info"]) || "---" %>
                  </div>
                </div>
                <div class="row">
                  <div class="col-lg-12">
                    <span class="bold font">Description: </span><%= t.tags["type"] == "bulk_check" ? "Bulk Check" : "Single Check" %>
                  </div>
                </div>
                <div class="row">
                  <div class="col-lg-12">
                    <span class="bold font">Total Via Email: </span><%= bulk_via_email(t.tags["send_check_user_info"]) || "---" %>
                  </div>
                </div>
                <div class="row">
                  <div class="col-lg-12">
                    <span class="bold font">Total Via Direct Deposit: </span><%= bulk_via_deposit(t.tags["send_check_user_info"]) || "---" %>
                  </div>
                </div>
                <div class="row">
                  <div class="col-lg-12"><span class="bold font">Status: </span><span class="color-0a9e4b-details-modal">Complete</span>
                  </div>
                </div>
            <% end %>
          </div>
        </div>
    <% end %>
<% end %>
<% if t.tags.present? && (t.tags["type"] == 'refund' || (t.tags["type"] == 'account_transfer' && (t.tags["merchant"].present? || t.try(:sender).try(:role) == "merchant" ))) %>
    <div class="form-group col-md-6">
      <div class="margin-top-15-px-details-modal">
        <div class="row">
          <div class="col-lg-12"><span class="bold font"> DBA Name: </span>
            <span  class="ui-tooltip space_remove" data-toggle="tooltip" data-placement="right" title="<%= t.try(:sender_wallet).try(:location).try(:business_name) || "---" %>">
            <%= t.try(:sender_wallet).try(:location).try(:business_name).truncate(28) || "---" %>
          </span>
          </div>
        </div>
        <div class="row">
          <%# cs_number=Wallet.find(t.sender_wallet).location.cs_number if t.sender_wallet_id.present?  %>
          <div class="col-lg-12"><span class="bold font">Phone Number: </span><%= t.try(:sender_wallet).try(:location).try(:phone_number) || "---" %> </div>
        </div>
        <div class="row">
          <div class="col-lg-12"><span class="bold font">Email: </span><%= t.sender.try(:email)  || t.tags.try(:[], "merchant").try(:[],"email") || "---" %></div>
        </div>
        <div class="row">
          <div class="col-lg-12"><span class="bold font">Merchant Name: </span>
            <span  class="ui-tooltip space_remove" data-toggle="tooltip" data-placement="right" title=" <%= t.sender.try(:name) || "---" %>">
            <%= t.sender.try(:name).truncate(28) || "---" %>
            </span>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-12"><span class="bold font">Wallet Id: </span><%= t.sender_wallet.present? ? link_to("#{t.sender_wallet.try(:id)}", user_transactions_path(t.sender_wallet.try("slug")), class: "blue-color") : "---" %></div>
        </div>
      </div>
    </div>
<% end %>
