<%= stylesheet_link_tag asset_path("admins/detail_modals/detail_modals_styles"), media: 'all', 'data-turbolinks-track' => 'reload' %>

<%
  if dispute.present?
    transaction = dispute.try(:charge_transaction)
    t = transaction if transaction
    customer = t.sender
    merchant = t.receiver
  end
%>
<div class="row">
  <div class="col-lg-6">
    <span class="transaction-detail-details-modal"> Merchant Information</span>
    <% if merchant.present?%>
        <div class="col-lg-12 margin-top-15-px-details-modal">
          <div class="row">
            <div class="col-lg-12"><span class="bold font">Name: </span><%= merchant.name || "---" %></div>
          </div>
          <% location=Wallet.find_by(id: t.receiver_wallet_id).try('location') if t.receiver_wallet_id.present? %>
          <div class="row">
            <div class="col-lg-12"><span class="bold font">Phone Number: </span><%= location.present? ? location.try(:cs_number) : '--'%> </div>
          </div>
          <div class="row">
            <div class="col-lg-12"><span class="bold font">Email: </span><%=  merchant.email || "---" %></div>
          </div>
          <div class="row">
            <div class="col-lg-12"><span class="bold font">Web Site: </span><%= location.present? ? JSON.parse(location.try(:web_site)).try(:first) : '--'%></div>
          </div>
          <div class="row">
            <div class="col-lg-12"><span class="bold font">Owner's Name:</span><%= merchant.present? ? merchant.owner_name : '--' %></div>
          </div>
          <div class="row">
            <div class="col-lg-12"><span class="bold font">Wallet Id: </span><%= t.receiver_wallet_id || "---" %></div>
          </div>
        </div>
    <%end%>
  </div>
  <div class="col-lg-6">
    <span class="transaction-detail-details-modal">Customer Information</span>
    <% if customer.present? %>
        <div class="col-lg-12 margin-top-15-px-details-modal">
          <div class="row">
            <div class="col-lg-12"><span class="bold font">Name: </span><%= customer.name || "---" %></div>
          </div>
          <div class="row">
            <div class="col-lg-12"><span class="bold font">Phone Number: </span><%= customer.phone_number || "---" %> </div>
          </div>
          <div class="row">
            <div class="col-lg-12"><span class="bold font">Email: </span><%=  customer.email || "---" %></div>
          </div>
          <div class="row">
            <div class="col-lg-12"><span class="bold font">Wallet Id: </span><%= t.sender_wallet_id || "---" %></div>
          </div>
        </div>
    <% end %>
  </div>

</div>

