<%#= javascript_include_tag 'merchant/modal_date_time.js' %>


<div class="form-group col-md-6">
<% if t.tags.try(:[],"type").try(:humanize).try(:downcase)=='send check' || t.tags.try(:[],"type")=='Void_Check' || t.tags.try(:[],"type")=='bulk_check' || t.main_type=='ACH Deposit' || t.main_type=='ACH_deposit' || t.try(:main_type)=='Void Push To Card' || t.try(:main_type)=='void_push_to_card' || t.try(:main_type)=='Instant Pay' || t.try(:main_type)=='instant_pay' || t.main_type == "Void_Ach" || t.main_type == "ACH_deposit" || t.main_type == "Void Check" || t.withdrawl? || t.main_type == "Failed_Ach_Fee" || t.main_type == TypesEnumLib::TransactionViewTypes::GiftCardPurchase %>
    <div class="margin-left-15-px-details-modal margin-top-15-px-details-modal">
      <div class="row">
        <div class="col-lg-12"><span class="bold font">Total Amount: </span>
          <%txn_info_block = block_txn_parent_transaction_info(t.sequence_id)  if t.class.to_s == "BlockTransaction" %>
          <% if @curr_user.try(:wallets).try(:first).try(:wallet_type) == "check_escrow" && ( t.try(:main_type) == "ACH Deposit" || t.try(:main_type) == "Instant Pay" || t.withdrawl? ) %>
            <% if [I18n.t('withdraw.p2c').humanize.downcase, I18n.t('withdraw.failed_push_to_card').humanize.downcase,I18n.t('withdraw.ACH').humanize.downcase, I18n.t('withdraw.failed_ach').humanize.downcase,I18n.t('withdraw.send_check').humanize.downcase, I18n.t('withdraw.failed_check').humanize.downcase].include? t.try(:main_type).try(:downcase) %>
              <%= number_to_currency(number_with_precision(t.try(:amount_in_cents).to_f / 100, precision: 2)) %>
            <% else %>
              <%= number_to_currency(number_with_precision(t.try(:amount_in_cents).to_f / 100 + t.try(:fee_in_cents).to_f / 100, precision: 2)) %>
            <% end %>
          <% elsif @curr_user.try(:wallets).try(:first).try(:wallet_type) == "check_escrow" && ( t.withdrawl? || t.main_type == 'Void_ach') %>
            <%= number_to_currency(number_with_precision(t.try(:total_amount).present? ? t.try(:total_amount) : txn_info_block.present? ? txn_info_block[:total_amount] : t.try(:amount_in_cents).present? ? t.try(:amount_in_cents).to_f/100 : 0, precision: 2)) %>
          <% elsif t.main_type=='Void Check' || t.main_type=='Void_Check' || t.main_type=='Void Push To Card' || t.main_type=='void_push_to_card' || t.main_type=='Void_Ach' || t.main_type=='Void ACH' %>
             <%= number_to_currency(number_with_precision(t.try(:total_amount).present? ? t.try(:total_amount) : txn_info_block.present? ? txn_info_block[:total_amount] : t.try(:amount_in_cents).present? ? t.try(:amount_in_cents).to_f/100 : 0, precision: 2)) %>
          <% else %>
              <%= t.action.present? && (t.action=='retire' || t.action=='withdraw') ? '-' : '' %><%= number_to_currency(number_with_precision(t.try(:total_amount).present? ? t.try(:total_amount) : txn_info_block.present? ? txn_info_block[:total_amount]  : t.try(:amount_in_cents).present? ? t.try(:amount_in_cents).to_f/100 : 0, precision: 2)) %>
          <% end %>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-12"><span class="bold font"><%= t.main_type == TypesEnumLib::TransactionViewTypes::GiftCardPurchase ? "Gift Card" : "Check" %> Amount: </span>
          <% if @curr_user.try(:wallets).try(:first).try(:check_escrow?) %>
            <% if t.try(:main_type) == "Send Check" %>
              <%= number_to_currency(number_with_precision(t.try(:amount_in_cents).to_f/100 - t.try(:fee_in_cents).to_f/100, precision: 2)) %>
            <% else %>
              <%= number_to_currency(number_with_precision(t.try(:amount).present? ? t.try(:amount) : txn_info_block.present? ? txn_info_block[:amount] : t.try(:amount_in_cents).present? ? t.try(:amount_in_cents).to_f/100 : 0, precision: 2)) %>
            <% end %>
          <% else %>
            <% if [I18n.t('types.withdrawl.failed_push_to_card'), I18n.t('types.withdrawl.failed_check'), I18n.t('types.withdrawl.failed_ach')].include?(t.main_type.downcase) %>
              <%= number_to_currency(number_with_precision(t.try(:amount).present? ? t.try(:amount) : txn_info_block.present? ? txn_info_block[:amount] : t.try(:amount_in_cents).present? ? t.try(:amount_in_cents).to_f/100 : 0, precision: 2)) %>
            <% else %>
              <%= number_to_currency(number_with_precision(t.try(:amount).present? ? t.try(:amount) : t.try(:amount_in_cents).present? ? t.try(:amount_in_cents).to_f/100 : 0, precision: 2)) %>
            <% end %>
          <% end %>
        </div>
      </div>
      <div class="row">
        <% if [I18n.t('withdraw.failed_push_to_card').humanize.downcase, I18n.t('withdraw.failed_ach_fee').downcase, I18n.t('withdraw.failed_check').humanize.downcase].include? t.try(:main_type).try(:downcase) %>
          <div class="col-lg-12"><span class="bold font">Failed Fee: </span><%= t.try(:fee).present? ?  number_to_currency(number_with_precision(show_view_fee(t.tags.try(:[],"fee_perc"),t.try(:fee)), precision: 2)) : txn_info_block.present? ? number_to_currency(txn_info_block[:fee]) : t.try(:fee_in_cents).present? ? number_to_currency(number_with_precision(t.fee_in_cents.to_f/100), precision: 2) : SequenceLib.cents_to_dollars(t.try(:fee_in_cents).present? ? number_to_currency(number_with_precision(show_view_fee(t.tags.try(:[],"fee_perc"),t.try(:fee_in_cents)), precision: 2)) : "$0.00") %></div>
        <% else %>
          <% unless I18n.t('withdraw.failed_ach').humanize.downcase == t.main_type.downcase %>
            <div class="col-lg-12"><span class="bold font">Transaction Fees: </span><%= t.try(:fee).present? ?  number_to_currency(number_with_precision(show_view_fee(t.tags.try(:[],"fee_perc"),t.try(:fee)), precision: 2)) : txn_info_block.present? ? number_to_currency(txn_info_block[:fee]) : t.try(:fee_in_cents).present? ? number_to_currency(number_with_precision(t.fee_in_cents.to_f/100), precision: 2) : SequenceLib.cents_to_dollars(t.try(:fee_in_cents).present? ? number_to_currency(number_with_precision(show_view_fee(t.tags.try(:[],"fee_perc"),t.try(:fee_in_cents)), precision: 2)) : "$0.00") %></div>
          <% end %>
        <% end %>
      </div>
      <% unless t.main_type == TypesEnumLib::TransactionViewTypes::GiftCardPurchase %>
        <div class="row">
          <div class="col-lg-12"><span class="bold font">Net: </span>
            <% if @curr_user.try(:wallets).try(:first).try(:wallet_type) == "check_escrow" &&  (t.main_type=='Void Check' || t.withdrawl? ) && (t.action!='retire') %>
                <%= number_to_currency(number_with_precision(t.try(:amount).present? ? t.try(:amount) : txn_info_block.present? ? txn_info_block[:net_amount] : t.try(:net_amount).present? ? t.try(:net_amount) : 0 , precision: 2)) %>
            <% elsif (t.main_type=='Void Check' || t.withdrawl? ) && (t.action!='retire') %>
              <% if [I18n.t('types.withdrawl.failed_push_to_card'), I18n.t('types.withdrawl.failed_check'), I18n.t('types.withdrawl.failed_ach')].include?(t.main_type.downcase) %>
                <%= number_to_currency(number_with_precision(t.try(:net_amount).present? ? t.try(:net_amount) : t.try(:amount).present? ? t.try(:amount) : txn_info_block.present? ? txn_info_block[:net_amount] : t.try(:net_amount).present? ? t.try(:net_amount) : 0 , precision: 2)) %>
              <% else %>
                +<%= number_to_currency(number_with_precision(t.try(:amount).present? ? t.try(:amount) : txn_info_block.present? ? txn_info_block[:net_amount] : t.try(:net_amount).present? ? t.try(:net_amount) : 0 , precision: 2)) %>
              <% end %>
            <% else %>
                <%= t.action.present? && (t.action=='retire' || t.action=='withdraw') ? '-' : '' %><%= number_to_currency(number_with_precision(t.try(:amount).present? ? t.try(:amount) : t.try(:net_amount).present? ? t.try(:net_amount) : t.try(:tx_amount).present? ? t.try(:tx_amount)/100 : 0 , precision: 2)) %>
            <% end %>
          </div>
        </div>
      <% end %>
      <% if @curr_user.try(:wallets).try(:first).try(:wallet_type) == "check_escrow" && t.tags.try(:[],"check_escrow").present? %>

        <div class="row">
          <div class="col-lg-12"><span class="bold font">Status: </span>
            <% if t.tags.try(:[],"check_escrow") == "add" %>
            Pending
            <% elsif t.tags.try(:[],"check_escrow") == "sub" %>
              <%= t.tags.try(:[],"check_escrow_status").try(:humanize)  %>
            <% end %>
          </div>
        </div>
      <% end %>
    </div>
<% end %>
<% if t.tags.try(:[],"type")=='Payed Tip' %>
<% end %>
<% if t.tags.try(:[],"type")=='Payed Tip' %>
  <div class="row">
    <div class="col-lg-12">
      <span class="bold font">Tx Amount: </span><%= t.action.present? && (t.action=='retire' || t.action=='withdraw') ? '-' : '' %> <%= t.try(:amount).present? ? t.try(:amount) : t.try(:amount_in_cents).present? ? t.try(:amount_in_cents).to_f/100 : 0   %>
    </div>
  </div>
<% end %>
<!-- </div> -->
</div>
<div class="form-group col-md-6">
    <div class="row">
      <div class="col-lg-12">
        <% if t.main_type=='Send Check' || t.main_type=='Void Check' || t.main_type=='Bulk Check'  %>
          <span class="bold font">Gateway:</span>Checkbox.io
        <% elsif t.withdrawl? || t.main_type == 'Void_Ach'%>
          <span class="bold font">Gateway:</span> Quickcard
        <% elsif t.main_type == 'ACH_deposit' || t.main_type =='ACH Deposit' %>
            <%if t.try(:ach_gateway_id).present? %>
              <span class="bold font">Gateway:</span> <%= getGateway_name(t.try(:ach_gateway_id)) %>
            <%else %>
              <span class="bold font">Gateway:</span> Quickcard
            <%end %>
        <%else %>
          <span class="bold font">Gateway:</span> <%= t.tags.try(:[],"source") %>
          <%end %>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12">
        <span class="bold font">Tx ID: </span>
        <!--                    <a href="#" title="Tx Id" data-toggle="popover" data-placement="top"  data-content="<%#= t[:id]  %>"><%#= t[:id].first(30)  %>...</a>-->
        <a href="#" id="tx_idd"  ><%= t.try(:seq_transaction_id).present? ? t.try(:seq_transaction_id).first(30) : t.try(:sequence_id).present? ? t.try(:sequence_id).first(30) : ""  %>...</a>
        <!--                    <button type="button" id="check">Click</button>-->
        <div class="display-none-details-modal" id="tx_id">
          <div class="transaction-id-details-modal">Tx Id</div>
          <div class="transaction-id-1-details-modal">
            <%= t.try(:seq_transaction_id).present? ? t.try(:seq_transaction_id) : t.try(:sequence_id).present? ? t.try(:sequence_id) : "" %>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12">
        <span class="bold font"> Tx Date/Time: </span> <span class="modalTimeUtc">
        <%= t.try(:timestamp).present? ? t.timestamp  : t.try(:created_at ) %></span>
        <!--        <%#= t.created_at.present? ? t.created_at : t.try(:timestamp).present? ? t.try(:timestampe) : t.tags.try(:[],'previous_issue').try(:[],'timestamp').present? ? t.tags.try(:[],'previous_issue').try(:[],'timestamp') : '--'  %></span>-->
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12"><span class="bold font width-140-px-details-modal" >QC risk evaluation: </span><span class="color-0a9e4b-details-modal">Normal</span></div>
    </div>
    <div class="row">
      <div class="col-lg-12"><span class="bold font">Transaction IP: </span>  <%= t.ip %></div>
    </div>
    <% if t.tags.try(:[],"type")=='Payed Tip' %>
      <div class="row">
        <div class="col-lg-12"><span class="bold font width-140-px-details-modal">DBA Name: </span><u class="blue-color"><%= Wallet.find(t.sender.id).location.business_name %></u></div>
      </div>
    <% end %>
    <% if t.tags.try(:[],"location").present? %>
    <% location_id = t.tags.try(:[], 'location').try(:[], 'id') %>
    <% dba_name = t.tags.try(:[], 'location').try(:[], 'business_name') %>
    <span class="bold font width-140-px-details-modal">DBA Name: </span>
    <u>
      <% if dba_name.present? %>
        <%= link_to("#{t.tags.try(:[], 'location').try(:[], 'business_name')}", wallet_transactions_locations_path((location_id && t.get_location_wallets(location_id) || Wallet.find_by(id: wallet_id))), class: "blue-color") %>
      <% else %>
        <%= "N/A" %>
      <% end %>
    </u>
    <% end %>
</div>