<%= stylesheet_link_tag asset_path("admins/detail_modals/detail_modals_styles"), media: 'all', 'data-turbolinks-track' => 'reload' %>
<% if  t.tags["type"] == 'account_transfer' && t.try(:sender).try(:role) == "merchant"  %>
  <div class="form-group col-md-6">
    <div class="margin-top-15-px-details-modal">
      <div class="row">
        <div class="col-lg-12"><span class="bold font "> DBA Name: </span>
          <span class="ui-tooltip" data-toggle="tooltip" data-placement="right" title="<%= t.try(:sender_wallet).try(:location).try(:business_name) || "---" %>">
            <%= t.try(:sender_wallet).try(:location).try(:business_name).truncate(28) || "---" %>
          </span>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-12"><span class="bold font ">Merchant Name: </span>
          <span class="ui-tooltip" data-toggle="tooltip" data-placement="right" title="<%= t.sender.try(:name) || "---" %>">
            <%= t.sender.try(:name).truncate(28) || "---" %>
          </span>
        </div>
      </div>
      <div class="row">
        <%# cs_number=Wallet.find(t.sender_wallet).location.cs_number if t.sender_wallet_id.present?  %>
        <div class="col-lg-12"><span class="bold font">Phone Number: </span><%= t.try(:sender_wallet).try(:location).try(:phone_number) || "---" %> </div>
      </div>
      <div class="row">
        <div class="col-lg-12"><span class="bold font">Email: </span><%= t.sender.try(:email) || "---" %></div>
      </div>
      <div class="row">
        <div class="col-lg-12"><span class="bold font">Wallet Id: </span><%= t.sender_wallet.present? ? link_to("#{t.sender_wallet.try(:id)}", user_transactions_path(t.sender_wallet.try("slug")), class: "blue-color") : "---" %></div>
      </div>
    </div>
  </div>
<% elsif  t.tags["type"] == 'account_transfer' &&  (t.sender.try(:role) == "iso" || t.sender.try(:role) == "agent" || t.sender.try(:role) == "affiliate" ) %>
  <div class="form-group col-md-6">
    <div class="margin-top-15-px-details-modal">
      <div class="row">
        <div class="col-lg-12"><span class="bold font"> Company Name: </span>
          <span class="ui-tooltip" data-toggle="tooltip" data-placement="right" title="<%= t.try(:sender).try(:company_name).present? ? t.try(:sender).try(:company_name) : '--'  %>">
            <%= t.try(:sender).try(:company_name).present? ? t.try(:sender).try(:company_name).truncate(28) : '--'  %>
          </span>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-12"><span class="bold font"> Contact Name: </span>
          <span class="ui-tooltip" data-toggle="tooltip" data-placement="right" title="<%= t.sender.try(:name).present? ? t.sender.try(:name) : '--'  %>">
            <%= t.sender.try(:name).present? ? t.sender.try(:name).truncate(28) : '--'  %>
          </span>
        </div>
      </div>
      <div class="row">
        <%# cs_number=Wallet.find(t.sender_wallet).location.cs_number if t.sender_wallet_id.present?  %>
        <div class="col-lg-12"><span class="bold font">Phone Number: </span><%= t.try(:sender).try(:phone_number) || "---" %> </div>
      </div>
      <div class="row">
        <div class="col-lg-12"><span class="bold font">Email: </span><%= t.sender.try(:email) || "---" %></div>
      </div>
      <div class="row">
        <div class="col-lg-12"><span class="bold font">Wallet Id: </span><%= t.sender_wallet.present? ? link_to("#{t.sender_wallet.try(:id)}", user_transactions_path(t.sender_wallet.try("slug")), class: "blue-color") : "---" %></div>
      </div>
    </div>
  </div>
<% end %>
