  <div class="col-md-12" style="margin-top: 15px">
    <div class="form-group">
      <div class="row">
        <div class="col-lg-3">
          <% qr_request = Request.find_by(id: t.tags.try(:[],"refund_details").try(:[],"request_id")) %>
            <span class="bold font">Value Code:</span>
        </div>
        <div class="col-lg-9">
          <%= qr_request.try(:qr_card).try(:token) %>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-3">
            <span class="bold font">Created Date:</span>
        </div>
        <div class="col-lg-9">
          <span class="modalTime"><%= qr_request.created_at %></span>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-3">
            <span class="bold font">Token:</span>
        </div>
        <div class="col-lg-9">
          <a href="<%="https:#{qr_request.try(:qr_card).try(:image).try(:url)}" %>" target="_blank"><%="https:#{qr_request.try(:qr_card).try(:image).try(:url).truncate(20)}" %></a>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-3">
            <span class="bold font"> Card Type:</span>
        </div>
        <div class="col-lg-9">
          <% subType = qr_request.try(:qr_card).try(:card_transaction).try(:sub_type) %>
          <% if subType == "qr_credit_card" %>
          Credit
          <% elsif subType == "qr_debit_card" %>
          Debit
          <% else  %>
          --
          <% end  %>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-3">
          <span class="bold font"> Gateway/Descriptor:</span>
        </div>
        <div class="col-lg-9">
          <%= t.try(:payment_gateway).try(:[], 'name') %>
        </div>
      </div>
    </div>
</div>