/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_self
 *= require dataTables/bootstrap/3/jquery.dataTables.bootstrap
 *= require app-loader
 *= require select2
 *= require bootstrap-datepicker3
 *= require merchant/reports
 *= require lightbox-bootstrap
 *= require merchant/jquery.multiselect
 *= require merchant/bootstrap
 *= require merchant/countrySelect
 *= require merchant/escrow
 *= require merchant/dataTables.bootstrap
 *= require merchant/custom
 */
@import "intlTelInput";

#files_section{
  max-height: 200px;
  overflow-y: auto;
}
.file_section_row{
  background: rgb(248, 249, 250);
  border-bottom: 1px solid #ced4da
}
.padding-zero{padding: 0px}
.doc_view{
  padding: 0px;
  padding-top: 2px;
  font-size: 14px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.icon_inside_input_field {
   position: relative;
 }
.icon_inside_input_field > i {
  position: absolute;
  display: block;
  transform: translate(0, -50%);
  top: 50%;
  pointer-events: none;
  width: 25px;
  text-align: center;
  font-weight: bold;
  font-size: 16px;
}
.icon_inside_input_field > input {
  padding-left: 25px;
  padding-right: 0;
}

.paid_status {
  background-color: green !important;
  padding: 10px !important;
}

.unpaid_status {
  background-color: lightcoral !important;
  padding: 10px !important;
}

.void_status {
  padding: 10px !important;
  background-color: red !important;
}

.paid_wire_status {
  padding: 10px !important;
  background-color: blue !important;
}

.in_process_status {
  padding: 10px !important;
}

.in_progress_status {
  padding: 10px !important;
}

.in_process_show_status {
  padding: 10px !important;
  background-color: #f39c12 !important;
}

.in_progress_show_status {
  padding: 10px !important;
  background-color: #FFA500 !important;
}

.canceled_status {
  background-color: lightgray !important;
  padding: 10px !important;
}

.pending_status {
  padding: 10px !important;
  background-color: #17a2b8 !important;
}

.failed_status {
  padding: 10px !important;
  background-color: red !important;
}

.else_status {
  padding: 10px !important;
  background-color: grey !important;
}

.else_show_status {
  padding: 10px !important;
}
#user_phone_number{
  padding-left: 70px !important;
}