.nav-tabs .nav-link{

    width: 14% !important;
    background-color: lightgrey;
    border-top-left-radius: 10px !important;
    border-top-right-radius: 10px !important;

}
.box-title {
    font-size: 30px !important;
}
#block {
    cursor:  not-allowed;
}
.modal-header{
    background-color: #7866a7;
    color: white;
    border-top-left-radius: 0rem;
    border-top-right-radius: 0rem;
    padding-left: 40%;
}
#block {
    cursor:  not-allowed;
}

.detail-btn{
    margin-right: 2%;
}
a:focus{
    color: #ffffff;
}

.modal-padding{
    float: right;
}
.loaded{
    padding-right: 0px !important;
}
.confirm {
    max-width: 800px !important;
}
.modal-title {
    padding: 13px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    /*margin-right: 92px;*/
    /*margin: 0 auto;*/
    /*margin: 0% 28%;*/
}
.modal-header {
    /*border-bottom-color:rgba(0, 0, 0, 0.03);*/
    /*background-color: rgba(0, 0, 0, 0.03);*/
    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 0 !important;
    /*padding-right: 116px;*/

}
.modal-header .close{
    margin:0px !important;
}

#cover-spin {
    position:fixed;
    width:100%;
    left:0;right:0;top:0;bottom:0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index:9999;
    display:none;
}
@-webkit-keyframes spin {
    from {-webkit-transform:rotate(0deg);}
    to {-webkit-transform:rotate(360deg);}
}
@keyframes spin {
    from {transform:rotate(0deg);}
    to {transform:rotate(360deg);}
}
#cover-spin::after {
    content:'';
    display:block;
    position:absolute;
    left:48%;top:40%;
    width:40px;height:40px;
    border-style:solid;
    border-color:black;
    border-top-color:transparent;
    border-width: 4px;
    border-radius:50%;
    -webkit-animation: spin .8s linear infinite;
    animation: spin .8s linear infinite;
}
.closen{
    background: transparent;
    border: none;
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 1;
    color: #000;
    text-shadow: 0 1px 0 #fff;
    opacity: .5;
}
span.has-error{
    color: red;
}
.confirm-message{
    margin-left: 28%;
}
#close_btn{
    margin-top: 2.5%;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
input[type="number"] {
    -moz-appearance: textfield;
}
#check_name-error, #check_recipient-error, #check_amount-error{
    /*margin-top: 11%;*/
    position: absolute;
    /*line-height: 20px;*/
    /*top: 38px;*/
    /*left: 0;*/
}
abbr{
    float: right;
    padding-left: 5px;
    color: red;
}
.delete_bt{
    position: absolute;
    left: 103%;
    top: 46%;
}
#fee_deduct{
    font-size: 12px!important;
}
#cover-spin {
    position:fixed;
    width:100%;
    left:0;right:0;top:0;bottom:0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index:9999;
    display:none;
}
@-webkit-keyframes spin {
    from {-webkit-transform:rotate(0deg);}
    to {-webkit-transform:rotate(360deg);}
}
@keyframes spin {
    from {transform:rotate(0deg);}
    to {transform:rotate(360deg);}
}
#cover-spin::after {
    content:'';
    display:block;
    position:absolute;
    left:48%;top:40%;
    width:40px;height:40px;
    border-style:solid;
    border-color:black;
    border-top-color:transparent;
    border-width: 4px;
    border-radius:50%;
    -webkit-animation: spin .8s linear infinite;
    animation: spin .8s linear infinite;
}

.field-icon {
    float: right;
    margin-left: -25px;
    margin-top: -25px;
    position: relative;
    z-index: 2;
}
.del_color{
    background-color: lightgrey ;
}
#cover-spin {
    position:fixed;
    width:100%;
    left:0;right:0;top:0;bottom:0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index:9999;
    display:none;
}
@-webkit-keyframes spin {
    from {-webkit-transform:rotate(0deg);}
    to {-webkit-transform:rotate(360deg);}
}
@keyframes spin {
    from {transform:rotate(0deg);}
    to {transform:rotate(360deg);}
}
#cover-spin::after {
    content:'';
    display:block;
    position:absolute;
    left:48%;top:40%;
    width:40px;height:40px;
    border-style:solid;
    border-color:black;
    border-top-color:transparent;
    border-width: 4px;
    border-radius:50%;
    -webkit-animation: spin .8s linear infinite;
    animation: spin .8s linear infinite;
}
.tooltip {
    position: relative;
    display: inline-block;
    opacity: unset !important;
    z-index: 3 !important;
}
.tooltip .tooltiptext {
    visibility: hidden;
    width: 270px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    /* Position the tooltip */
    position: absolute;
    z-index: 1;
    bottom: 100%;
    left: 50%;
    margin-left: -60px;
}
.tooltip:hover .tooltiptext {
    visibility: visible;
}
#notify{
    color: red;
    font-style: italic;
}
.modal.confirm_send_modal.in{
    z-index: 9999;
}
/* Animation */
@-webkit-keyframes loading {
    to { -webkit-transform: rotate(360deg); }
}
@-moz-keyframes loading {
    to { -moz-transform: rotate(360deg); }
}
@-ms-keyframes loading {
    to { -ms-transform: rotate(360deg); }
}
@keyframes loading {
    to { transform: rotate(360deg); }
}
/* Loader (*/
#loading {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: transparent;
    border-top: 4px solid #fff;
    border-right: 4px solid #fff;
    border-bottom: 4px solid #777;
    border-left: 4px solid #777;
    -webkit-animation: loading 1.2s infinite linear;
    -moz-animation: loading 1.2s infinite linear;
    -ms-animation: loading 1.2s infinite linear;
    animation: loading 1.2s infinite linear;
}

.tooltiptext.p2c_name{
    width: 226px !important;
    margin-bottom: 35px;
    margin-left: 71px;
}
.check_amount{
    margin-bottom: 0 !important;
}
.form-group.success{
    border-color: black !important;
}

#check_description-error{
    position: absolute;
    top: 100%;
}
#new_check{
    /*overflow-y:scroll;*/
}
.detail-btn{
    margin-right: 2%;

}
.modal-header{
    background-color: #7866a7;
    color: white;
    border-top-left-radius: 0rem;
    border-top-right-radius: 0rem;
    padding-left: 40%;
}
a:hover, a:active, a:focus{
    color: #ffffff;
}

.nav-tabs .nav-link{

    width: 14% !important;
    background-color: lightgrey;
    border-top-left-radius: 10px !important;
    border-top-right-radius: 10px !important;

}

.box-title {
    font-size: 30px !important;
}
.modal-title{
    line-height: 1;
}

.status_style {
    padding: 9px !important;
}

.loaded{
    padding-right: 0px !important;
}
.box-title {
    font-size: 30px !important;
}
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
input[type="number"] {
    -moz-appearance: textfield;
}
#check_name-error, #check_recipient-error, #check_amount-error{
    position: absolute;
    line-height: 20px;
    top: 38px;
    left: 0;
}
abbr{
    float: right;
    padding-left: 5px;
    color: red;
}
#fee_deduct{
    font-size: 12px!important;
}
#cover-spin {
    position:fixed;
    width:100%;
    left:0;right:0;top:0;bottom:0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index:9999;
    display:none;
}
.modal-content.content-abs.new_design{
    position: relative;
    top: 100px;
}
@-webkit-keyframes spin {
    from {-webkit-transform:rotate(0deg);}
    to {-webkit-transform:rotate(360deg);}
}
@keyframes spin {
    from {transform:rotate(0deg);}
    to {transform:rotate(360deg);}
}
#cover-spin::after {
    content:'';
    display:block;
    position:absolute;
    left:48%;top:40%;
    width:40px;height:40px;
    border-style:solid;
    border-color:black;
    border-top-color:transparent;
    border-width: 4px;
    border-radius:50%;
    -webkit-animation: spin .8s linear infinite;
    animation: spin .8s linear infinite;
}
.confirm {
    max-width: 800px !important;
}
.modal-title {
    padding: 13px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    /*margin: 0 auto;*/
    /*margin: 0% 28%;*/
}
.modal-header {
    /*border-bottom-color:rgba(0, 0, 0, 0.03);*/
    /*background-color: rgba(0, 0, 0, 0.03);*/
    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 0 !important;
}
.modal-header .close{
    margin:0px !important;
}

#close-btn1{
    margin: 0 auto;
    display: table;
    /*margin-left: 300px;
    margin-right: 275px;*/
}
.card-footer{
    height: 50px;
}
.check-btn_cnl{
    margin-top: -8px;
}

#check_name-error,#check_recipient-error,#check_amount-error,#check_description-error{
    display: block;
    position: absolute;
    top: 100%;
    color: red;

}
.control-label{
    margin-top: 2%;
    color:black!important;
}
#fee_deduct{
    font-size: 80%;
}
/*.modal-content{*/
/*  width: 115%;*/
/*}*/
#cover-spin {
    position:fixed;
    width:100%;
    left:0;right:0;top:0;bottom:0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index:9999;
    display:none;
}
@-webkit-keyframes spin {
    from {-webkit-transform:rotate(0deg);}
    to {-webkit-transform:rotate(360deg);}
}
@keyframes spin {
    from {transform:rotate(0deg);}
    to {transform:rotate(360deg);}
}

#cover-spin::after {
    content:'';
    display:block;
    position:absolute;
    left:48%;top:40%;
    width:40px;height:40px;
    border-style:solid;
    border-color:black;
    border-top-color:transparent;
    border-width: 4px;
    border-radius:50%;
    -webkit-animation: spin .8s linear infinite;
    animation: spin .8s linear infinite;
}
#cover-spin {
    position:fixed;
    width:100%;
    left:0;right:0;top:0;bottom:0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index:9999;
    display:none;
}
#cover-spin::after {
    content:'';
    display:block;
    position:absolute;
    left:48%;top:40%;
    width:40px;height:40px;
    border-style:solid;
    border-color:black;
    border-top-color:transparent;
    border-width: 4px;
    border-radius:50%;
    -webkit-animation: spin .8s linear infinite;
    animation: spin .8s linear infinite;
}
.for_margin{
    margin-top: 15px;
}
#cards_field{
    margin-top: 5%;
}
.filter_container{
    padding: 10px 10px 10px 10px;
}
#bulks_empty{
    text-align: center;
    background-color: #2b542c;
    padding-bottom: 5px;
    padding-top: 5px;
    color: white;
}
#check_details1{
    color: white;
}
#check_paid{
    padding: 10px;
    background-color: green;
    color: white;
}
#check_void{
    /*padding: 10px;*/
    background-color: red;
    color: white;
}
#paid_wire{
    padding: 10px;
    background-color: blue;
    color: white;
}
#in_process{
    padding: 10px;
}
#pending_c{
    padding: 10px;
    background-color: #17a2b8;
    color: white;
}
#check_failed{
    padding: 10px;
    background-color: red;
    color: white;
}
#els_failed{
    padding: 10px;
    background-color: grey;
    color: white;
}
#max_wid{
    max-width: 500px !important;
}
#txt_white{
    background-color: #CA001A;
    height:65px;
}
#align_c{
    text-align: center;
}
#btn_x{
    padding: 0px !important;
    padding-top: 15px !important;
}
#header_txt_wht{
    background-color: rgba(0, 0, 0, 0.03);
}
#h_4{
    text-align: center;
}
#push_to_card{
    position: relative;
    top: 12px;
}
#p2c_x{
    padding: 0px !important;
    padding-top: 15px !important;
    color: black;
}
#info_circle{
    font-size: 24px;
    top: -20px;
    position: absolute;
}
#tip_txt{
    margin-bottom: 24px;
    margin-left: -124px;
}
#error_bdy{
    display: none;
}
#tool_tip{
    font-size: 24px;
    margin-left:122px;
    top: -32px;
    position: absolute;
}
#b_div, .banks-div-style{
    padding: 0px;
}
#othr_crd{
    margin-top: 10px;
}
#append_fields{
    padding: 0px;
}
.other-card-div{
    display: none;
}
#card_nmbr{
    margin-left: 10px;
}
#info_circle1{
    font-size: 24px;
    padding-left: 2%;
}
#load_ing{
    display: none;
}
#cv_v{
    margin-left: 12px;
}
#fa_info{
    font-size: 24px;
    padding-left: 2%;
}
#card_nmbr1{
    margin-left: 10px;
}
#fa_info1{
    font-size: 24px;
    padding-left: 2%;
}
#load_ing1{
    display: none;
}
#tol_tp{
margin-left: 12px;
}
#fa_info2{
    font-size: 24px;
    padding-left: 2%;
}
#deposit_btn{
    display: none;
}
#role_m1{
    margin-top: 30%;
}

#role_m2{
    margin-top: 30%;
}
#r_b{
    display: none;
}
#open_error{
    color: darkred;
    display: none
}
#acct_nmbr{
    padding-left:0px ;
}
#max_wid2{
    max-width: 500px !important;
}
#md_white{
    background-color: #CA001A;
    height:65px;
}
#txt_cntr{
    text-align: center;
}
#btn_x1{
    padding: 0px !important;
    padding-top: 15px !important;
}
#modal_hd{
    background-color: rgba(0, 0, 0, 0.03);
}
#h4_2{
    text-align: center;
}
#bg_primary{
    position: relative;
    top: 12px;
}
#btn_x2{
    padding: 0px !important;
    padding-top: 15px !important;
    color: #3d3d3d;
}
.fee_deduct_style{
    padding-left: 8px;
    padding-right: 8px;
}
#error_body1{
    display: none;
}
#note_check1{
    color: red;
    margin-top: 5%;
}
#modal_title1{
    margin: 0 auto;
}
#check_details_x{
    color: white;
}
#paid1{
    background-color: green;
}
#status{
    background-color: blue;
    padding: 10px;
}
#status_pending{
    padding: 10px;
    background-color: #17a2b8;
}
#status_failed{
    padding: 10px;
    background-color: red;
}
#check_in_fo{
    float: left;
    margin-right: 5px;
}
#account_number{
    margin-top: 10px;
}
#under_review{
    margin-top: 135px;
}
#modal_dialogue{
    max-width: 500px !important;
    margin: 30px auto !important;
}
#modal_header1{
    background-color: #7866a7 !important;
    color: white !important;
    border-top-left-radius: 0rem !important;
    border-top-right-radius: 0rem !important;
    padding-left: 116px !important;
}
#void_data{
    margin-right: 0px !important;
}
#check_process{
    background-color: rgba(120, 103, 167,0.3);
    margin-bottom: 5px;
}
#class_row{
    margin-top: 20px;
    padding-top: 10px;
}
#co_style{
    margin-left: 20px;
}
#co_md{
    text-align: right;
}
#modal_md{
    top: 30%;
}
#export{
    margin-right: 5px;
}
#show{
    float: left;
        padding-top: 7px;
    padding-right: 5px;

}
#show_left{
    float: left;
}
#entries{
    float: left;
    padding-top: 7px;
    padding-left: 5px;
}
#over{
    overflow-x: scroll
}
#tr{
    background-color: white;
}
#h3_1{
    text-align: center;
    background-color: #2b542c;
    padding-bottom: 5px;
    padding-top: 5px;
    color: white;
}
#showing{
    margin-left: 16px;
}
#float_new_check{
    float: right;
}
#modal_fade{
    background-color: #cc0000 !important; padding-left: 100px !important;
}
#invoice_selection1{
    padding: 10px 10px 0px 10px;
}
#new_invoices{
    margin-right: 9px;
    float: right;
}
#export_file_btn{
    padding: 10px 25px;
}
#all_bulk{
    overflow-x: scroll;
}
#debit_p{
    text-align: center;
    margin: auto;
}
#routing_no{
    padding-left: 0px;
}
#check-img{
    position:relative;
    bottom:30px;
    float:right;
    right:10px;
    display:none;
}
#success-div{
    margin-top: 5px !important;
    background-color: #dff0d8 !important;
    border-color: #d0e9c6 !important;
    color: #3c763d !important;
    display: none;
}
#a_btn{
    margin-bottom: 20px;
    background-color: #7867a7;
}
#bulk_check{
    float: right;
}
#detail_invoice{
    padding: 10px 10px 0px 10px;
}
#div_index{
    padding: 0px;
}
.margin-right-st{
    margin-right: 7px;
}
#fee_deduct_data{
    padding-left: 8px;
    padding-right: 8px;
}
.bottomPadding
{
    padding-bottom: 30px;
}
#close-btn2
{
    margin: 0 auto;
    display: table;
    margin-left: 300px;
    margin-right: 275px;
}
#note, #amount_error1, #amount_limit_error, #amount_limit_error1, #amount_limit_error2, #amount_error, #errorss_new, #errorss, #expiry_error{
    color: white;
    background: red;
}
.pointer-none{
    pointer-events: none;
}
.div_margin_8{
    margin-top: -8px;
}
.required{
color:black!important;
}
.form-group.has-error .form-control, .form-group.has-error .input-group-addon {
    border-color: #d2d6de !important;
}
.input-group-addon,.form-control:focus {
    border-color: #d2d6de !important;
}
.color-green{
    color: green;
}
.color-blue{
    color: blue;
}
.color-red{
    color: red;
}
.color-orange{
    color: orange;
}
.margin-left-3px{
    margin-left: 3px;
}
.align_center{
    text-align: center;
}
.remove_btn{
    margin-left: 4%;
}
.go-to-bulk{
    margin-left: 34%;
}

.container {
    display: block;
    /*position: relative;*/
    cursor: pointer;
    font-size: 18px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Hide the browser's default checkbox */
.container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

/* Create a custom checkbox */
.checkmark {
    position: absolute;
    top: 0;
    left: 2%;
    height: 25px;
    width: 25px;
    background-color: #eee;
    border: 1px solid #c5c2c2;
}

/* On mouse-over, add a grey background color */
.container:hover input ~ .checkmark {
    background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.container input:checked ~ .checkmark {
    background-color: #2196F3;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the checkmark when checked */
.container input:checked ~ .checkmark:after {
    display: block;
}

/* Style the checkmark/indicator */
.container .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}
.modal-header1{
    padding-left: 2%;
}



.export-modal{
    width: 600px !important;
}
.export-modal-content{
    width: 600px !important;
}
.float-left{
    float: left;
}
.display-none{
    display: none;
}
.export-modal-body{
    background-color: whitesmoke;
    margin-bottom: -16px;
}
.bg-whitesmoke{
    background-color: whitesmoke;
}
.margin-bottom-neg16{
    margin-bottom: -16px;
}
.font-16{
    font-size: 16px;
}
.note-div{
    background-color: whitesmoke;
    margin-bottom: -25px;
    margin-top: 5px;
    padding-left:0;
}
.note-text{
    color: red;
    text-align: left;
    font-size: 13px;
    font-weight: bold;
}

.export-print{
    color: red;
    text-align: center;
    font-weight: 700;
}
.export-heading-text{
    color: red;
    text-align: center;
    font-weight: bold;
}
.send_merchant_email{
    margin-left: 90px;
    margin-top: 17px;
    background-color: #ffffff;
    border-radius: 8px;
}
.download_link{
    margin-left:175px;
}
.calculate-total{
    text-align: left;font-size: 15px;color: red;
}
.modal-overflow{
    overflow-x: hidden;
    overflow-y: auto;
}
