.chart{
  border-bottom: 1px solid gainsboro;
  border-top: 1px solid gainsboro;
  text-align: center;
}
.chart_data{
  margin-bottom: 0rem !important;
}
.dropdown-menu > li > a {
  color: inherit;
}

.wrap-content{
  border-right: 1px solid gainsboro;
}

.small_content{
  max-width: 10%;
}

.big_content{
  max-width: 11%;
}
.export_btn{
  color: white;
  background-color: #7b67a6;
  margin-bottom: 10px;
  margin-left: 10px;
}
.badge{
  width:75%;
}

.search_form{
  display: inline-block;
  float: right;
}

.highcharts-color-0{
  fill: #97b2e0;
}

.highcharts-color-0:nth-child(2) {
  fill: #569b3c;
}
.highcharts-color-0:nth-child(3) {
  fill: red;
}
.highcharts-color-0:nth-child(4) {
  fill: #ffa425;
}

.highcharts-color-0:nth-child(4) {
  fill: #80000d;
}
.form_body{
  border: 1px solid #cccccc;
}
.heading-doc{
  border-bottom: 1px solid #cccccc;
  border-top: 1px solid #cccccc;
}
.form-inputs{
  margin-top: 2%;
}
.form-label{
  text-align: right;
}
hr{
  border-bottom: 1px solid #cccccc;
  width: 100%;
  margin-top: 2%;
  margin-bottom: 2%;
}

[type=file] {
  position: absolute;
  filter: alpha(opacity=0);
  opacity: 0;
  cursor: pointer;
}
input,
[type=file] + label {
  border: 1px solid #CCC;
  border-radius: 3px;
  text-align: left;
  margin: 0;
  left: 0;
  position: relative;
}
[type=file] + label {
  left: -1em;
  top: 0em;
  /* Decorative */
  color: #fff;
  border: none;
  cursor: pointer;
}
.icon_ellipsis{
  width: 3%;
  text-align: center;
  background: lightgray;
}
[type=file] + label:hover {


}

.icon_ellipsis{
  width: 2%;
  text-align: center;
  background: lightgray;
  border-radius: 50%;
  float: left;
  margin-top: .5%;
  margin-right: 1%;
  color:white;
}
label {
  display: inline-block;
  width: 5em;
  padding: 0 1em;
  text-align: right;
}
.file{
  z-index: 10;
  opacity: 0;
}
.clear{
  width: 150%!important;
  position: relative;
  left: 185%!important;

}
.clear:hover{

  width: 100%;
}
#due_date{
  position: relative;
  left: 0.4%;
}
#status_id{
  position: relative;
  left:  2.8%;
}
#NA{
  position: relative;
  margin-left: 7%;
}
#none1{
  display: none;
}
#dispute_won{
  background: #6a9e3b;padding-top: 5px;padding-bottom: 5px;
}
#dispute_pending{
  background:#6d85fb;padding-top: 5px;padding-bottom: 5px;
}
#dispute_lost{
  background:red;padding-top: 5px;padding-bottom: 5px;
}
#dispute_accept{
  background:firebrick;padding-top: 5px;margin-right: 10px;
}
#dispute_under_review{
  background:#ffa425;padding-top: 5px;padding-bottom: 5px;
}
#dispute_dropdown{
  color: darkgray;margin-left: 10px;display: block;
}
#dispute_dropdown_menu{
  background: white;background-color: darkblue;color:white;
}
#dispute_width{
  width: 100%;
}
#show_ing{
  margin-left: 16px;
}
#date_top{
  margin-top: -5px;
}
#dispute_search{
  margin-top: 26px;
}
#max_width{
  max-width: 10%;
}
#max_width11{
  max-width: 11%;
}
#width_lost{
  border-right: 0px;max-width: 12%;
}
.btn-sm{
  width: 100%;
}
#chargeback{
  margin-top: 8px;
  font-weight: bold;
}
#spn{
  float: right;
}
#main_div{
  display: inline-block;
  width: 100%;
}
#show_1{
  float: left;padding-top: 9px;margin-right: 5px;
}
#elements{
  float: left;
}
#entries_1{
  float: left;padding-top: 7px;margin-left: 5px;
}
#search_field{
  width: 15%;margin-right: 10px; background-color: transparent;
}
#confirm{
  display: none;
}
#modal-dialog{
  margin-top: 5px;
}
#modal-header{
  background-color: #7866a7;
}
#modal-title{
  color:white;
}
#btn_12{
  color:white;
}
#verify_modal_dialog{
  width: 500px !important;margin-top: 5px;
}
#verify_modal_content{
  width: 500px !important;
}
#title{
  float: left;
}
#m_body{
  background-color: whitesmoke;margin-bottom: -16px;
}
#card{
  background-color: whitesmoke;
}
#row_1{
  margin-bottom: -16px;
}
#qwerty{
  border: 1px solid lightgrey;border-radius: 10px;
}
#label_1{
  margin-top: 10px;
}
#password_btn{
  width: 100%;
}
#send{
  display:none;width:100%;
}
#info-text{
  text-align: center;
}
#modal_footer{
  background-color: whitesmoke;
}
#container{
  color:grey;
}
#documentation{
  color:black;
}
#email_field{
  display: none;
}
#customer_signature{
  width: 29%;
}
#upload_file{
  color:blue; cursor: pointer; width: 30%;
}
#upload_file1{
  color:blue; cursor: pointer; width: 30%;
}
#upload_file2{
  color:blue; cursor: pointer; width: 30%;
}
#del_sign{
  cursor: pointer;display: none;
}
#del_customer{
  cursor: pointer;display: none;
}
#del_receipt{
  cursor: pointer;display: none;
}
#close_123{
  cursor: pointer;
}
#close_1234{
  cursor: pointer;
}
#close_12345{
  cursor: pointer;
}
#close_123456{
  cursor: pointer;
}
#receipt{
  width: 29%;
}
#customer_communication{
  width: 29%;
}
#note_1{
  font-size: 13px;
}
#shipping{
  color:black;
}
#note_2{
  font-size: 13px;margin-left: 53px;
}
.file{
  width: 29%;
}
.upload_file{
  color:blue; cursor: pointer; width: 30%
}
#del_shipping{
  cursor: pointer;display: none;

}
#image_upload_btn{
  float:right;margin-right:9%;
}
#shipping_date{
  width: 27%;
}