.notfound{
  display: none;
}
.nav-tabs {
  border-bottom: 1px solid #ddd;
}
.nav-tabs > li > a {
  margin-right: 2px;
  line-height: 1.42857143;
  border-radius: 4px 4px 0 0;
}
.nav {
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}
.nav > li {
  position: relative;
  display: block;
}
.nav-tabs > li {
  float: left;
  margin-bottom: 8px;
}
.users_tabs > li > a {
  border: none;
  outline: none;
  padding: 10px 16px;
  background-color: lightgrey;
  color: grey;
  cursor: pointer;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.users_tabs > li > a:hover {
  background-color: #8171ae;
  color: white ;
}
.nav-tabs > li.active > a, .nav-tabs > li.active > a:focus {
  color: #555555;
  background-color: #ffffff;
  border: 1px solid #dddddd;
  border-bottom-color: transparent;
  cursor: default;
}
.users_tabs > li.active > a, .users_tabs > li.active > a:focus {
  background: #1c165c ;
  color: white ;
}
.users_tabs > li.active > a:hover {
  background-color: white;
  color: #555555 ;
}
.loaded{
  padding-right: 0px !important;
}
.hover_item{
  color: grey !important;
}
.hover_item:hover{
  color: white!important;
}
.close{
  color: white;
}
#giftcard_img{
  margin:22px;
  width: 200px;
}
#giftcard_brand{
  font-size:10px;font-weight: 600;
}
#giftcard_description{
  font-size:10px;text-align: center;
}
#errormessage{
  margin-top: 10px;
}
#gc-form{
  margin:22px 22px 0px 22px;
}
#gft_amount_input_error{
  color: red;
}
#div_12{
  margin: 0px;
}
#hello{
  margin-bottom: 0px;
}
#buy_now{
  margin-top: 20px;margin-bottom:10px;
}
.container-fluid{
  padding-left: 5px;
}
.users_tabs{
  font-weight: bold; font-size: 20px;
}
#img_1{
  width: 12%;
}
.giftcard{
  font-size: 20px;font-weight: 100;
}
#transfer_new{
  color: white;
}
.entries_34{
  text-align: center; background-color: #2b542c; padding-bottom: 5px; padding-top: 5px; color: white;
}
#users_tabs{
  font-weight: bold; font-size: 20px;margin-bottom:-12px
}