#cover-spin {
  position:fixed;
  width:100%;
  left:0;right:0;top:0;bottom:0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index:9999;
  display:none;
}
@-webkit-keyframes spin {
  from {-webkit-transform:rotate(0deg);}
  to {-webkit-transform:rotate(360deg);}
}
@keyframes spin {
  from {transform:rotate(0deg);}
  to {transform:rotate(360deg);}
}
#cover-spin::after {
  content:'';
  display:block;
  position:absolute;
  left:48%;top:40%;
  width:40px;height:40px;
  border-style:solid;
  border-color:black;
  border-top-color:transparent;
  border-width: 4px;
  border-radius:50%;
  -webkit-animation: spin .8s linear infinite;
  animation: spin .8s linear infinite;
}
#tx_id{
  display: none;
}
#row_2{
  padding: 2% 4%;
}
.show_2{
  float: left;padding-top: 7px;padding-right: 5px;
}
.form_tag{
  float: left;
}
.form-width{
  //width: 4%;
}
.entries_2{
  float: left; padding-top: 7px;padding-left: 5px
}
.heading_align{
  text-align: center;
}
#no_data{
  text-align: center; font-weight: bold; color: green;
}
#div_20{
  margin-top: 19px;
}
#release-funds{
  margin: 20px auto;
}
#box_1{
  background-color: #d6d6d6;border: 3px solid #C0C0C0;
}
#note_3{
  margin-left: 5px;
}
#date_time{
  padding-right: 3%;
}
#table_row{
  cursor: pointer;
}
#approved{
  background-color: #6ac36a;padding: 9px;width: 71px;
}
.card_15{
  margin-left: 15%;
}
.card_16{
  margin-left: 25%;
}
#no_entries{
  text-align: center; background-color: #2b542c; padding-bottom: 5px; padding-top: 5px; color: white;
}
#div_10{
  padding-bottom:20px;
}
.fade{
  opacity: 1;
}
.trans_modal {
  margin-right: 4px;
  margin-top: 205px;
}
.modal.fade:not(.in).right .trans_modal {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
.modal-body {
  //.overflow: hidden;
}
.modal.right.fade .trans_modal {
  right: -320px;
  -webkit-transition: opacity 0.3s linear, right 0.3s ease-out;
  -moz-transition: opacity 0.3s linear, right 0.3s ease-out;
  -o-transition: opacity 0.3s linear, right 0.3s ease-out;
  transition: opacity 0.3s linear, right 0.3s ease-out;
}
.modal.fade .trans_modal {
  -webkit-transform: translate(0, -25%);
  -ms-transform: translate(0, -25%);
  -o-transform: translate(0, -25%);
  transform: translate(0, -25%);
  -webkit-transition: -webkit-transform 0.3s ease-out;
  -o-transition: -o-transform 0.3s ease-out;
  transition: transform 0.3s ease-out;
}
.modal.in .trans_modal {
  -webkit-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  -o-transform: translate(0, 0);
  transform: translate(0, 0);
}
.modal.left .trans_modal, .modal.right .trans_modal {
  position: fixed;
  margin: auto;
  width: 450px;
  height: 100%;
  -webkit-transform: translate3d(0%, 0, 0);
  -ms-transform: translate3d(0%, 0, 0);
  -o-transform: translate3d(0%, 0, 0);
  transform: translate3d(0%, 0, 0);
}
.fade.in {
  -webkit-transition: opacity 0.50s linear !important;
  -o-transition: opacity 0.50s linear !important;
  -webkit-transition: opacity 0.50s linear !important;
  -o-transition: opacity 0.50s linear !important;
}
.fade {
  -webkit-transition: opacity 0.15s linear;
  -o-transition: opacity 0.15s linear;
  transition: opacity 0.15s linear;
}
.modal.right .trans_modal {
  /*position: fixed;*/
  margin: auto;
  width: 320px;
  height: 100%;
  -webkit-transform: translate3d(0%, 0, 0);
  -ms-transform: translate3d(0%, 0, 0);
  -o-transform: translate3d(0%, 0, 0);
  transform: translate3d(0%, 0, 0);
}
.modal.right.fade.in .trans_modal {
  right: 0;
}
#modal_lg{
  width: 50% !important;
  margin-right: 0 !important;
  margin-top: 0 !important;
}
#modal-id{
  overflow-y: scroll; overflow-x: hidden;
}
#modal_height{
  height: 100%;
}
.hold_money{
  display: none;
}