.field-icon {
  float: right;
  margin-left: -25px;
  margin-top: -25px;
  position: relative;
  z-index: 2;
}
#amount-error, #description-error{
  position: absolute;
  top: 100%;
}
.modal-header{
  background-color: #7866a7;
  color: white;
  border-top-left-radius: 0rem;
  border-top-right-radius: 0rem;
  padding-left: 40%;
}
.location_css{
  font-size: 16px;
  text-align: center;
}
.detail-btn{
  margin-right: 2%;

}
a:focus{
  color: #ffffff;
}
.loaded{
  padding-right: 0px !important;
}
.has-error{
  color: red;
}
.form-group .form-control{
  border-color: #d2d6de !important;
}
.confirm {
  max-width: 100% !important;
}
#bol{
  width: 20%;
  padding-left: 10px;
}

.modal-title {
  padding: 13px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}

.modal-header {
  /*background-color: rgba(0, 0, 0, 0.03);*/
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0 !important;
}

.modal-header .close {
  margin: 0px !important;
}
.custom-file-upload {
  border: 1px solid #ccc;
  display: inline-block;
  padding: 6px 12px;
  cursor: pointer;
}
.form-group label{
  color: black !important;
}

.has-error > label{
  color: black !important;
}
#cover-spin {
  position:fixed;
  width:100%;
  left:0;right:0;top:0;bottom:0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index:9999;
  display:none;
}
@-webkit-keyframes spin {
  from {-webkit-transform:rotate(0deg);}
  to {-webkit-transform:rotate(360deg);}
}
@keyframes spin {
  from {transform:rotate(0deg);}
  to {transform:rotate(360deg);}
}
#cover-spin::after {
  content:'';
  display:block;
  position:absolute;
  left:48%;top:40%;
  width:40px;height:40px;
  border-style:solid;
  border-color:black;
  border-top-color:transparent;
  border-width: 4px;
  border-radius:50%;
  -webkit-animation: spin .8s linear infinite;
  animation: spin .8s linear infinite;

}
#cover-spin {
  position:fixed;
  width:100%;
  left:0;right:0;top:0;bottom:0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index:9999;
  display:none;
}
@-webkit-keyframes spin {
  from {-webkit-transform:rotate(0deg);}
  to {-webkit-transform:rotate(360deg);}
}
@keyframes spin {
  from {transform:rotate(0deg);}
  to {transform:rotate(360deg);}
}
#cover-spin::after {
  content:'';
  display:block;
  position:absolute;
  left:48%;top:40%;
  width:40px;height:40px;
  border-style:solid;
  border-color:black;
  border-top-color:transparent;
  border-width: 4px;
  border-radius:50%;
  -webkit-animation: spin .8s linear infinite;
  animation: spin .8s linear infinite;
}
.closen{
  background: transparent;
  border: none;
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1;
  color: #000;
  text-shadow: 0 1px 0 #fff;
  opacity: .5;
}
.form-group .form-control{
  border-color: #d2d6de !important;
}
#label{
  font-size: 14px;
}
.account_fields{
  color: darkred;
}
.account_fields1{
  color: darkred;
  display: none;
}
#routing-error{
  color: darkred;
  display: none;
}
#success-div{
  margin-top: 5px !important;background-color: #dff0d8 !important;border-color: #d0e9c6 !important;color: #3c763d !important;display: none;
}
#modal-dialog1{
  max-width: 40%
}
#modal-header1{
  background-color: rgba(0, 0, 0, 0.03);
}
#modal-title1{
  position: relative; top: 10px;padding-left: 6%;padding-right: 6%;
}
#heading4{
  text-align: center
}
#heading5{
  text-align: center
}
#close_2{
  padding: 0px !important;padding-top: 15px !important;
}
.close{
  padding: 0px !important;padding-top: 15px !important;

}
#card_header1{
  border-bottom: 0px;
}
#card_header2{
  border-bottom: 0px;
}
.send_from{
  color: black;
}
#spiner{
  display: none;
}
.amount_limit_error{
  color: red;
}
#description-error{
  color: darkred;
  display: none;
}
.content-abs{
  margin-top: 25%;
}
#submit_button{
  text-align: center;width: 20%;
}
#card_footer{
  text-align: center; margin-top: 20px;
}
#modal2{
  margin-left: 38%;margin-top: 7%;
}
#div_01{
  background-color: #cc0000 !important;
}
#div_02{
  max-width: 70% !important;
}
#modal-title3{
  position: relative; top: 10px;
}
#note_4{
  color:red; font-size: 13px; text-align: center;
}
#div_03{
  padding: 0px; margin-top: 20px; margin-left: -7px;
}
.request_fields{
  color:red; font-size: 12px;
}
.img_store{
  width: 100% !important; padding: 4px;
}
#ach_req_form{
  text-align: center;width: 20%; display: none;
}
#card_footer4{
  text-align: center; margin-top: 20px;
}
#test_submit{
  text-align: center;width: 20%;
}
.new_ach{
  float: right;
}
.send_check{
 float:right;
  margin-right: 22px;
}
#export_class{
  margin-right: 5px;
}
#div_05{
  background-color: #cc0000 !important; padding-left: 100px !important;
}
#show_3{
  float: left;padding-top: 7px;padding-right: 5px;
}
#form_3{
  float: left;
}
#entries_3{
  float: left; padding-top: 7px;;padding-left: 5px;
}
#hello{
  overflow-x: scroll;
}
#status_ach{
  color: white;
}
#div_06{
  padding: 0px;
}
#anchor{
  color: white;
}
#table_row1{
  background-color: white;
}
#heading_03{
  text-align: center; background-color: #2b542c; padding-bottom: 5px; padding-top: 5px; color: white;
}
#showing_01{
  margin-left: 16px;
}