.loaded{
  padding-right: 0px !important;
}
.file_section_row{
  background: rgb(248, 249, 250);
  border-bottom: 1px solid #ced4da
}
.doc_view{
  padding: 0px;
  padding-top: 2px;
  font-size: 14px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.nav-tabs .nav-link{
  width:14%;
  background-color: lightgrey;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.nav-tabs .nav-link.active, .nav-tabs .nav-item.show .nav-link {
  width:14%;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.custom_input_grp {

  text-align: center !important;
  background-color: white !important;
  border: 1px solid transparent !important;
}
.cutome_file_field{
  font-family: none !important;
  font-size: 13px !important;
  line-height:  normal !important;
}
#files_section{
  max-height: 200px;
  overflow-y: auto;
}
.file_section_row{
  background: rgb(248, 249, 250);
  border-bottom: 1px solid #ced4da
}
.doc_view{
  padding: 0px;
  padding-top: 2px;
  font-size: 14px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
body::-webkit-scrollbar {
  width: 1em;
}
.fa-attachment{
  margin-top: -28px;
  margin-right: 9px;
  font-size: 22px;
  -ms-transform: rotate(-100deg);
  -webkit-transform: rotate(-100deg);
  transform: rotate(-135deg);
  color: #4bcf7a;
}
.tooltip {
  position: relative;
  display: inline-block;
  opacity: unset !important;
  z-index: 3 !important;
}
.tooltip .tooltiptext {
  visibility: hidden;
  width: 270px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  /* Position the tooltip */
  position: absolute;
  z-index: 1;
  bottom: 100%;
  left: 50%;
  margin-left: -60px;
}
.tooltip:hover .tooltiptext {
  visibility: visible;
}
.custom_input_grp {

  text-align: center !important;
  background-color: white !important;
  border: 1px solid transparent !important;
}
.cutome_file_field{
  font-family: none !important;
  font-size: 13px !important;
  line-height:  normal !important;
}
#files_section{
  max-height: 200px;
  overflow-y: auto;
}
.file_section_row{
  background: rgb(248, 249, 250);
  border-bottom: 1px solid #ced4da
}
.doc_view{
  padding: 0px;
  padding-top: 2px;
  font-size: 14px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
body::-webkit-scrollbar {
  width: 1em;
}
.fa-attachment{
  margin-top: -28px;
  margin-right: 9px;
  font-size: 22px;
  -ms-transform: rotate(-100deg);
  -webkit-transform: rotate(-100deg);
  transform: rotate(-135deg);
  color: #4bcf7a;
}
#show_4{
  float: left;padding-top: 7px;padding-right: 5px;
}
#form_4{
  float: left;
}
#entries_4{
  float: left; padding-top: 7px;;padding-left: 5px;
}
#amount_field{
  width: 15%; padding-left: 4%;
}
#td_01{
  width: 15%;text-align: right!important;
}
#p_01{
  margin-right: 42%;
}
#progress{
  background-color: #f0ad4e!important;
}
#heading_05{
  text-align: center; background-color: #2b542c; padding-bottom: 5px; padding-top: 5px; color: white;
}
.close{
  color: white;
}
#search{
  width: 515px;
}
#maintenance_message{
  width: 515px;
}
#note_6{
  margin-left: 5px;
}
#invoices_menu{
  padding: 13px 0px;
}
.amount_transfer{
  padding: 0px !important;
}
.row_01{
  margin-top: 38px;
}
#spiner{
  display:none;
}
#files_section{
  margin-top: 30px;
}
#i_tag{
  color:#199b3e;padding-top: 6px;
}
.doc_view{
  padding-left: 4px;
}
#i_tag1{
  color:#9167a7;padding-top: 15px;
}
#modal_123{
  max-width: 500px;
}
#modal-header12{
  background-color: #CA001A;height:65px;
}
#note_7{
  text-align: center;margin: auto;
}
#btn_13{
  float: right;
}
#newRequest{
  margin-right: 9px;float:right;
}
#main_div1{
  padding: 10px 10px;
}
.modal-title{
  color: #0b1115;
}
.modal-header{
  background-color: white;
}
.imgThumbnail {
  width: 20% !important;
  height: 20% !important;
  //float: left;
  height: 100px;
  width: 100px;
  position:relative;
}
.closeDiv {
  //position: absolute;
  width: 20px;
  height: 21px;
  background-color: rgb(35, 179, 119);
  float: right;
  cursor: pointer;
  color: white;
  box-shadow: 2px 2px 7px rgb(74, 72, 72);
  text-align: center;
  margin: 5px;
  position: relative;
  right: 55%;
}
.pDiv {
  float:left;
  width:100%
}
.divThumbnail {
  position: relative;
  display: block;
  margin: 5px;
}
#cover-spin {
  position:fixed;
  width:100%;
  left:0;right:0;top:0;bottom:0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index:9999;
  display:none;
}

@-webkit-keyframes spin {
  from {-webkit-transform:rotate(0deg);}
  to {-webkit-transform:rotate(360deg);}
}

@keyframes spin {
  from {transform:rotate(0deg);}
  to {transform:rotate(360deg);}
}

#cover-spin::after {
  content:'';
  display:block;
  position:absolute;
  left:48%;top:40%;
  width:40px;height:40px;
  border-style:solid;
  border-color:black;
  border-top-color:transparent;
  border-width: 4px;
  border-radius:50%;
  -webkit-animation: spin .8s linear infinite;
  animation: spin .8s linear infinite;
}