// Place all the styles related to the merchant/Locations controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.highcharts-yaxis-labels{
  display: none !important;
}
.highcharts-axis-title, .highcharts-title, .highcharts-credits, .highcharts-legend-item{
  display: none !important;
}
.ul-placer{
  max-height: 500px;
  width: 100%;
  overflow-y: scroll;
}
#cover-spin {
  position: fixed;
  width: 100%;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 9999;
  display: none;
}
.none{
  display: none;
}
@-webkit-keyframes spin {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#cover-spin::after {
  content: '';
  display: block;
  position: absolute;
  left: 48%;
  top: 40%;
  width: 40px;
  height: 40px;
  border-style: solid;
  border-color: black;
  border-top-color: transparent;
  border-width: 4px;
  border-radius: 50%;
  -webkit-animation: spin .8s linear infinite;
  animation: spin .8s linear infinite;
}
.wallet_info {
  padding: 0 20px 0 20px;
  border-radius: 10px;
  width: 100%;
  background: #7867a7;
}

.wallet_info:hover {
  padding: 0 20px 0 20px;
  border-radius: 7px;
  width: 100%;
  background: #7867a7;
}

.sp_text {
  font-size: 12px;
  margin: 0px;
  text-align: center;
}

.wallet_row {
  margin-right: 15%;
}

.list-group-item {
  list-style-type: none;
}

#card_header {
  border-bottom: 1px solid gray;
}

.top-fix {
  margin-top: 30px;
}

.id-size {
  font-size: 12px;
  font-style: italic;
}

.p_size {
  font-size: 15px;
  color: #242167;
}

hr {
  border-color: black;
}

/*#dots {*/
/*width: 5px;*/
/*height: 5px;*/
/*border-radius: 50%;*/
/*background-color: black;*/
/*box-shadow: 0px 11px 0px black, 0px 22px 0px black;*/
/*}*/

#modal_size{
  max-width: max-content  ;
  margin: auto !important;
  pointer-events: all !important;
}
#overflows_handling{
  overflow-y: scroll;
  max-height: 690px;
}
#pos{
  width: 230px;
}
.sequence_block_heading{
  text-decoration: underline;
  font-weight: bold;
  color: black;
}
/*.show-calendar{
  top: 93px !important;
  left: 15px !important;
}*/
.lis{
  padding: 13px 0px;
}
.lis:hover{
  cursor: pointer;
  color: white;
}
.nav-tabs .nav-link{
  width:14%;
  background-color: lightgrey;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.nav-tabs .nav-link.active, .nav-tabs .nav-item.show .nav-link {
  width:14%;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.form-control {
  display: block;
  width: 100%;
  padding: .375rem .75rem;
  font-size: 0.8rem;
  line-height: 1.5;
  color: #55595c;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: .25rem;
}
.btn:disabled {
  opacity: .65;
  cursor: not-allowed;
}
.dropdown-menu > li > a {
  background-color: whitesmoke;
  color: #000000 !important;
background-image: none;
}
.dropdown-menu > li > a:hover {
  background-color: #7867a7;
  background-image: none;
}
.ms-choice{
  border: 0 !important;
  outline: none !important;
}
/*.show-calendar{
  top: 93px !important;
  left: 15px !important;
}*/

.loaded{
  padding-right: 0px !important;
}
.lis{
  padding: 13px 0px;
}
.lis:hover{
  cursor: pointer;
  color: white;
}
.nav-tabs .nav-link{
  width:14%;
  background-color: lightgrey;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.nav-tabs .nav-link.active, .nav-tabs .nav-item.show .nav-link {
  width:14%;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.form-control {
  display: block;
  width: 100%;
  padding: .375rem .75rem;
  font-size: 0.8rem;
  line-height: 1.5;
  color: #55595c;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: .25rem;
}
.btn:disabled {
  opacity: .65;
  cursor: not-allowed;
}
.ms-parent {
  display: inline-block;
  position: relative;
  vertical-align: middle;
}
.form-control {
  display: block;
  width: 100%;
  padding: .375rem .75rem;
  font-size: 0.8rem;
  line-height: 1.5;
  color: #55595c;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  /* border-radius: .25rem; */
}
.form-control {
  display: block;
  width: 100%;
  height: 34px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555555;
  background-color: #ffffff;
  background-image: none;
  border: 1px solid #cccccc;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
  -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}
.ms-choice {
  display: block;
  width: 100%;
  height: 26px;
  padding: 0;
  overflow: hidden;
  cursor: pointer;
  border: 1px solid #aaa;
  text-align: left;
  white-space: nowrap;
  line-height: 26px;
  color: #444;
  text-decoration: none;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  background-color: #fff;
}
.ms-choice {
  border: 0 !important;
  outline: none !important;
}
.ms-choice > span.placeholder {
  color: #999;
}
.ms-choice > span {
  position: absolute;
  top: 0;
  left: 0;
  right: 20px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: block;
  padding-left: 8px;
}
select[multiple], select[size] {
  height: auto;
}

.form-control {
  display: block;
  width: 100%;
  padding: .375rem .75rem;
  font-size: 0.8rem;
  line-height: 1.5;
  color: #55595c;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: .25rem;
}


.font{
  font-size: 14px;
}
.bold {
  font-weight: 600;
}
#tx_id{
  position: absolute;
  top: -40px;
  /*background-color: gray;*/
  color: rgb(255, 255, 255);
  padding-top: 0px;
  padding-bottom: 22px;
  text-align: justify;
  font-size: 12px;
  padding-left: 10px !important;
  padding-right: 10px !important;
  display: block;
  z-index: 23;
  margin-left: -74px;
  width: 118%;
  height: 35%;
  /*background-color: rgba(214, 193, 193, 0.5);*/
  /* opacity: 1; */
  visibility: visible;
  transform: scale(1.1);
  transition: visibility 0s linear 0.25s, opacity 0.25s 0s, transform 0.25s;
}
#tx_id{
  display: none;
}
.tx_id_r{
  display: none;
}
#tx_id1{
  width: 100%;background-color: #f7f7f7;color: black;font-weight: bold; padding-left: 6px;
}
#sequence_id{
  width: 100%; background-color: white; color: black;border: 1px solid #ebebeb; padding-left: 3px;
}
.none{
  display: none;
}
#tx_id6{
  width: 100%;background-color: #f7f7f7;color: black;font-weight: bold; padding-left: 6px;
}
#sequence_id1{
  width: 100%; background-color: white; color: black;border: 1px solid #ebebeb; padding-left: 3px;
}
.reserve_pointer{
  cursor: pointer;
}
.card
{
  box-shadow: none;
}
.activi {
  text-align: center;
  background-color: #e3e3e3;
  padding: 14px;
  padding-left: 10%;
  padding-right: 10%;
  border-radius: 40px;
  margin-bottom: 5px;
}
.fade{
  opacity: 1;
}
.trans_modal {
  margin-right: 4px;
  margin-top: 205px;
}
.modal.fade:not(.in).right .trans_modal {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
.modal-body{
  overflow: hidden;
}
.modal.right.fade .trans_modal {
  right: -320px;
  -webkit-transition: opacity 0.3s linear, right 0.3s ease-out;
  -moz-transition: opacity 0.3s linear, right 0.3s ease-out;
  -o-transition: opacity 0.3s linear, right 0.3s ease-out;
  transition: opacity 0.3s linear, right 0.3s ease-out;
}
.modal.fade .trans_modal {
  -webkit-transform: translate(0, -25%);
  -ms-transform: translate(0, -25%);
  -o-transform: translate(0, -25%);
  transform: translate(0, -25%);
  -webkit-transition: -webkit-transform 0.3s ease-out;
  -o-transition: -o-transform 0.3s ease-out;
  transition: transform 0.3s ease-out;
}
.modal.in .trans_modal {
  -webkit-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  -o-transform: translate(0, 0);
  transform: translate(0, 0);
}
.modal.left .trans_modal, .modal.right .trans_modal {
  position: fixed;
  margin: auto;
  width: 450px;
  height: 100%;
  -webkit-transform: translate3d(0%, 0, 0);
  -ms-transform: translate3d(0%, 0, 0);
  -o-transform: translate3d(0%, 0, 0);
  transform: translate3d(0%, 0, 0);
}
.fade.in {
  -webkit-transition: opacity 0.50s linear !important;
  -o-transition: opacity 0.50s linear !important;
  -webkit-transition: opacity 0.50s linear !important;
  -o-transition: opacity 0.50s linear !important;
}
.fade {
  -webkit-transition: opacity 0.15s linear;
  -o-transition: opacity 0.15s linear;
  transition: opacity 0.15s linear;
}
.modal.right .trans_modal {
  /*position: fixed;*/
  margin: auto;
  width: 320px;
  height: 100%;
  -webkit-transform: translate3d(0%, 0, 0);
  -ms-transform: translate3d(0%, 0, 0);
  -o-transform: translate3d(0%, 0, 0);
  transform: translate3d(0%, 0, 0);
}
.modal.right.fade.in .trans_modal {
  right: 0;
}
.dispute_btn{
  font-size: 13px;
  color: #000;
  padding: 1%;
  margin-top: 2%;
  margin-bottom: 3%;
  background-color: white;
  padding-left: 8px;
}
/* Important part */
.modal-dialog{
  overflow-y: initial !important
}
.modal-body{
  overflow-y: auto;
}

#tip {
  position: absolute !important;
  /*transform: translate3d(-100px, -84px, 0px) !important;*/
  top: 0px !important;
  left: -60px !important;
  will-change: transform;
}
.space{
  float: right;
}
#transfer_money{
  text-align: center;
}
#step2{
  display:none;
}
#transfer_error{
  color: red;
}
#transfer_now{
  margin-top:15px;
}
#step3{
  display: none;
}
#split_event{
  display: none;
}
#pay_now{
  margin-top:15px;
}
#span-1{
  font-weight: bold;
}
#td_02{
  width: 10%;
}
#heading_7{
  text-align: center; background-color: #2b542c; padding-bottom: 5px; padding-top: 5px; color: white;
}
#box_2{
  background-color: #d6d6d6;border: 3px solid #C0C0C0;
}
#note_8{
  margin-left: 5px;
}
#modal-dialog_1{
  top: 30%;
}
#modal-title_1{
  color: white;
}
.note5{
  text-align: center;
}
#heading_8{
  text-align: center; color: limegreen;
}
#heading_9{
  text-align: center; color: red;
}
.bars{
  font-family: FontAwesome; font-style: normal ; font-size: 28px ; color: #484848;
}
#anchor_1{
  color: black;width: 100%;
}
#div_04{
  text-align: center;
}
#div_07{
  width: 100%;
}
#heading_10{
  margin: auto;
}
#div_11{
  text-align: center;
}
#div_13{
  max-width: 500px !important;
}
#div_14{
  text-align: center;background-color: #CA001A;height:65px;
}
#div_15{
  width: 100%;
}
#note_9{
  text-align: center;margin:auto;
}
#div_16{
  margin: 1% 0;text-align: center;
}
#div_17{
  height: 685px;
}
#note_10{
  text-align: center; text-decoration: underline;
}
#note_11{
  color: red; font-weight: 600;
}
#anchor_search{
  float: right;margin-right: 2%;
}
#row_3{
  margin-top: 15px; margin-left: -15px;
}
#div_18{
  top: 0px;
}
#show_5{
  float: left;padding-top: 5px; padding-right: 5px;
}
#form_5{
  float: left;
}
#entries_5{
  float: left; padding-top: 5px; padding-left: 5px;
}
#refundModalDialog{
  margin-top: -150px;
}
#div1{
  width: 500px !important; top: 0px;
}
#div2{
  width: 500px !important;
}
#heading_11{
  float: left;
}
#div3{
  background-color: whitesmoke;margin-bottom: -16px;
}
#div4{
  background-color: whitesmoke;
}
#div5{
  margin-bottom: -16px;
}
#label_2{
  font-size: 16px;
}
#partial_error{
  padding-left: 10px;padding-right: 10px;display: none;
}
#label_3{
  font-size: 16px;
}
#reason_detail{
  display: none;font-size: 14px;
}
#div6{
  background-color: whitesmoke;margin-bottom: -25px; margin-top: 5px;
}
#note_12{
  text-align: center;font-size: 13px;text-align: center;font-weight: bold;
}
#refundModalFooter{
  background-color: whitesmoke;
}
#footerLink{
  display: none;
}
#verifymodal{
  margin-top: -157px;
}
#div7{
  width: 500px !important; top: 0px;
}
#div8{
  width: 500px !important;
}
#heading_12{
  float: left;
}
#div9{
  background-color: whitesmoke;margin-bottom: -16px;
}
#div10{
  background-color: whitesmoke;
}
#div11{
  margin-bottom: -16px;
}
#div12{
  border: 1px solid lightgrey;border-radius: 10px;
}
#div13{
  margin-top: 10px;
}
#password_btn{
  width: 100%;
}
#div14{
  background-color: whitesmoke;
}
#div15{
  margin-bottom: 30px;
}
#show_6{
  float: left;
}
#info-text{
  text-align: center;
}
#transfer_new{
  color: white;
}
#show_7{
  float: left;padding-top: 7px;padding-right: 5px;
}
#form_7{
  float: left;
}
#entries_7{
  float: left; padding-top: 7px;padding-left: 5px;
}
#div16{
  background-color: grey;
}
#btn-1{
  background-color: transparent;color: black;
}
#dropdown_menu1{
  text-align: center;min-width: 100px !important;
}
#transfer_details{
  width: 100%;
}
.transfer_edit{
  width: 100%
}
#cancelModal{
  color: black;width: 100%;
}
#heading6{
  text-align: center; background-color: #2b542c; padding-bottom: 5px; padding-top: 5px; color: white;
}
#pagination{
  text-align: right;
}
#div17{
  top: 30%;
}
#heading7{
  color: white;
}
#para{
  text-align: center;
}
#flash_msg{
  text-align: center; color: limegreen;
}
#flash_msg1{
  text-align: center;color: red;
}
#div18{
  background: white;
}
#div19{
  text-align: center;
}
#div20{
  width: 100%;
}
#heading9{
  margin: auto;
}
#note_13{
  padding-left: 10px;font-size: 19px;padding-top: 10px;
}
#div21{
  background: rgba(0, 0, 0, 0.03);
}
#cancel_btn{
  margin: 10px;
}
#delete_transaction_btn{
  margin: 10px;
}
#div22{
  text-align: center;
}
#div23{
  width: 100%;
}
#heading10{
  margin: auto;
}
#div24{
  text-align: center;
}
#div25{
  width: 100%;
}
#div26{
  height: 50px;
}
#note_14{
  text-align: center;margin: auto;
}
.text-white{
  text-align: center;
}
.div27{
  width: 100%;
}
#heading11{
  margin: auto;
}
#search3{
  float: right;margin-right: 2%;
}
#div28{
  margin-top: 15px; margin-left: -15px;
}
#div29{
  top: 0px;
}
#span-2{
  float: left;padding-top: 5px; padding-right: 5px;
}
#span-3{
  float: left;
}
#span-4{
  float: left; padding-top: 5px; padding-left: 5px;
}
#date_id{
  background-color: white;
}
.modal_style{
  width: 500px !important;
}
#heading_13{
  float: left;
}
.div-body{
  background-color: whitesmoke;margin-bottom: -16px;
}
.card_style{
  background-color: whitesmoke;
}
.row_style{
  margin-bottom: -16px;
}
#partial_label{
  font-size: 16px;
}
#partial_error{
  padding-left: 10px;padding-right: 10px;display: none;
}
#reason_detail{
  display: none;font-size: 14px;
}
#div30{
  background-color: whitesmoke;margin-bottom: -25px; margin-top: 5px;
}
#note_15{
  text-align: center;font-size: 13px;text-align: center;font-weight: bold;
}
#refundModalFooter{
  background-color: whitesmoke
}
#footerLink{
  display: none;
}
#heading_14{
  float: left;
}
#div31{
  border: 1px solid lightgrey;border-radius: 10px;
}
#email_label{
  margin-top: 10px;
}
#password_btn{
  width: 100%;
}
#info-text{
  text-align: center;
}
#div32{
  margin-bottom: 30px;
}
#span-5{
  float: left;
}
#div33{
  top: 30%;
}
#heading_15{
  color: white;
}
#info_success{
  text-align: center;
}
#flash_msg2{
  text-align: center; color: limegreen;
}
#flash_msg3{
  text-align: center;color: red;
}
.width_100{
  width: 100%;
}
#heading_16{
  margin: auto;
}

.memo_style
{
  float: left;
}
.over{
  overflow-x: hidden;
  overflow-y: auto;
}




/*=========================*/
/*minfraud_risk_column start*/
/*=========================*/

.cr-red{
  color:white;
  background-color: red;
  border: 1px solid red;
}

.cr-green{
  color:white;
  background-color: lawngreen;
  border: 1px solid lawngreen;
}

.mr-red{
  color:white;
  background-color: red;
  border: 1px solid red;
}

.mr-green{
  color:white;
  margin-left: 34%;
  background-color: lawngreen;
  border: 1px solid lawngreen;
}

.risk-evaluation{
  border-radius: 4px;
  padding:6px;
  font-weight:800;
  margin: 0px 35px;
}

.a-green{
  color:white;
  background-color: lawngreen;
  padding: 5px 9px;
  border: 1px solid lawngreen;
}

.r-red{
  color:white;
  background-color: red;
  padding: 5px 9px;
  border: 1px solid red;
}

.no-disposition{
  position: relative;
  padding: 5px 12px;
  border: 2px solid #abb2b6;
}

.no-disposition:before {
  border-bottom: 3px solid #abb2b6;
  content: '';
  left: -4px;
  position: absolute;
  top: 12px;
  transform: rotate(135deg);
  width: 36px;
}

.cr-p-manual-review{
  color: #4f5f6f;
  background-color: white;
  border: 2px solid #4f5f6f;
}

.cr-expired-review{
  background-color: grey;
  color: white;
  border: 2px solid grey;
}
/*=========================*/
/*minfraud_risk_column end*/
/*=========================*/

.mt10{
  margin-top: 10px;
}

.mt-left{
  //margin-left: 34%;
}
