/*======================
Check Boxes Styles                  :: WARNING please check classess are use elsewhere too
========================*/
input[type='checkbox'] {
  opacity: 0;
  z-index: -1;
}

input[type='checkbox'] + label {
  width: 12px;
  height: 12px;
  position: relative;
  margin: auto;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  border: 1px solid #fff;
  cursor: pointer;
}

/*-------------------
#checkbox-u style
------------------*/
input[type='checkbox'].checkbox-u + label {
  border: 1px solid black;
  background: transparent;
}

input[type='checkbox'].checkbox-u + label:before,
input[type='checkbox'].checkbox-u + label:after {
  content: '';
  width: 12px;
  height: 1px;
  top: 0;
  left: -1px;
  bottom: 0;
  right: 0;
  position: absolute;
  margin: auto;
  background: transparent;
  transition: 0.2s ease all;
  -moz-transition: 0.2s ease all;
  -webkit-transition: 0.2s ease all;
}

input[type='checkbox'].checkbox-u:checked + label:before,
input[type='checkbox'].checkbox-u:checked + label:after {
  transition: 0.4s ease all;
  -moz-transition: 0.4s ease all;
  -webkit-transition: 0.4s ease all;
  background: black;
}

input[type='checkbox'].checkbox-u:checked + label:before {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

input[type='checkbox'].checkbox-u:checked + label:after {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

.heading_span{
  font-size: 14px;
  font-weight: bold;
}

hr {
  width: 100%;
  margin-top: 1px;
  margin-bottom: 1px;
  border: 1px solid #eee;
}
.modal-dialog{
  border: 2px solid black;
}

.custom {
  border: solid black;
  border-left: 2px;
  border-right: 2px;
}
.has-error{
  color: red;
}
.modal-body-height{
  /*height: 440px;*/
  /*max-height: calc(100vh - 200px) !important;"*/
  /*overflow-y: auto;*/
}
.btn-cancel{
  background-color: black;
  color: white;
}
#cover-spin {
  position:fixed;
  width:100%;
  left:0;right:0;top:0;bottom:0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index:9999;
  display:none;
}
@-webkit-keyframes spin {
  from {-webkit-transform:rotate(0deg);}
  to {-webkit-transform:rotate(360deg);}
}
@keyframes spin {
  from {transform:rotate(0deg);}
  to {transform:rotate(360deg);}
}
#cover-spin::after {
  content:'';
  display:block;
  position:absolute;
  left:48%;top:40%;
  width:40px;height:40px;
  border-style:solid;
  border-color:black;
  border-top-color:transparent;
  border-width: 4px;
  border-radius:50%;
  -webkit-animation: spin .8s linear infinite;
  animation: spin .8s linear infinite;
}
.closen{
  background: transparent;
  border: none;
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1;
  color: #000;
  text-shadow: 0 1px 0 #fff;
  opacity: .5;
}
/*======================
Check Boxes Styles
========================*/
#permission_modal_show input[type='checkbox'] {
  opacity: 0;
  z-index: -1;
}

#permission_modal_show input[type='checkbox'] + label {
  width: 12px;
  height: 12px;
  position: relative;
  margin: auto;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  border: 1px solid #fff;
  cursor: pointer;
}

/*-------------------
#checkbox-u style
------------------*/
#permission_modal_show input[type='checkbox'].checkbox-u + label {
  border: 1px solid black;
  background: transparent;
}

#permission_modal_show input[type='checkbox'].checkbox-u + label:before,
#permission_modal_show input[type='checkbox'].checkbox-u + label:after {
  content: '';
  width: 12px;
  height: 1px;
  top: 0;
  left: -1px;
  bottom: 0;
  right: 0;
  position: absolute;
  margin: auto;
  background: transparent;
  transition: 0.2s ease all;
  -moz-transition: 0.2s ease all;
  -webkit-transition: 0.2s ease all;
}

#permission_modal_show input[type='checkbox'].checkbox-u:checked + label:before,
#permission_modal_show input[type='checkbox'].checkbox-u:checked + label:after {
  transition: 0.4s ease all;
  -moz-transition: 0.4s ease all;
  -webkit-transition: 0.4s ease all;
  background: black;
}

#permission_modal_show input[type='checkbox'].checkbox-u:checked + label:before {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

#permission_modal_show input[type='checkbox'].checkbox-u:checked + label:after {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

.header_span {
  font-size: 14px;
  font-weight: bold;
}

#permission_modal_show hr {
  width: 100%;
  margin-top: 1px;
  margin-bottom: 1px;
  border: 1px solid #eee;
}
#permission_modal_show .modal-dialog{
  border: 2px solid black;
}

#permission_modal_show .custom {
  border: solid black;
  border-left: 2px;
  border-right: 2px;
}
#permission_modal_show .has-error{
  color: red;
}
.add_new_employee{
  margin-bottom: 5px;
}
/*-------------------
#inline css _new.html.erb
------------------*/
#cross{
  padding: 0px !important;
  padding-top: 4px !important;
}

.bgcolor{
  background-color: #cccccc;
}
#custom_modal{
  border-bottom: 0px;
}
#permission_name{
  padding: 0px;
}
#headerbg{
  background-color: #808080
}
.myModal3Label{
  color: white;
  text-align: center;
  overflow-wrap: break-word;
}
#btnclose{
  padding: 0px !important;
  margin:-26px;
}
#modalper{
  padding: 0px !important;
  margin:-26px;
}

#modalsetWidth{
  width: content-box;
}/*-------------------
#inline css _show.html.erb
------------------*/
#modalpershow{
  padding: 0px !important;
  margin:-26px;
}
#per-modal-body{
  overflow-y: auto !important;
  max-height: calc(110vh - 340px) !important;
}
/*-------------------
#inline css index.html.erb
------------------*/
#entries{
  float: left;
  padding-top: 7px;
  margin-left:7px;
}
#no-entries{
  text-align: center;
  background-color: #2b542c;
  padding-bottom: 5px;
  padding-top: 5px;
  color: white;
}
#text-right{
  text-align: right;
}
#float-left{
  text-align: right;
}
#row-margin{
  margin-bottom:35px;
}
#row-top{
  margin-bottom:35px;
}
#show-span{
  float: left;
  padding-top: 7px;
  margin-right:7px;
}
#form-span{
  float: left;
  margin-top: 5px;
}