.field_label{
  font-family: "Times New Roman", Times, serif;
  padding-top: 8px;
}
.actions{
  padding-top: 2px;
  padding-right: 13px;
}
#card_margin{
  margin: 5px;
}
#label_padding{
  padding-left: 10px;
}
#download_file{
  float: right;
  padding-right: 75px
}
#link_right{
  padding-right: 15px;
}