
.card {
  background-color: #fff;
  box-shadow: 1px 1px 5px rgba(126, 142, 159, 0.1);
  margin-bottom: 10px;
  border-radius: 0;
  border: none; }
.card .card {
  box-shadow: none; }
.card .card-shadow {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); }
.card .card-header {
  background-image: none;
  background-color: #ffffff;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  padding: 0;
  border-radius: 0;
  min-height: 50px;
  border: none; }
.card .card-header::after {
  content: "";
  display: table;
  clear: both; }
.card .card-header.bordered {
  border-bottom: 1px solid #d7dde4; }
.card .card-header.card-header-sm {
  min-height: 40px; }
.card .card-header > span {
  vertical-align: middle; }
.card .card-header .pull-right {
  margin-left: auto; }
.card .card-header .header-block {
  padding: 0.5rem 15px; }
@media (min-width: 1200px) {
  .card .card-header .header-block {
    padding: 0.5rem 20px; } }
@media (max-width: 767px) {
  .card .card-header .header-block {
    padding: 0.5rem 10px; } }
.card .card-header .title {
  color: #283142;
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex; }
.card .card-primary .card-header .title {
  color: #fff;
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex; }
.card .card-header .btn {
  margin: 0; }
.card .card-header .nav-tabs {
  border-color: transparent;
  -webkit-align-self: stretch;
  -ms-flex-item-align: stretch;
  align-self: stretch;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  top: 1px; }
.card .card-header .nav-tabs .nav-item {
  margin-left: 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-self: stretch;
  -ms-flex-item-align: stretch;
  align-self: stretch; }
.card .card-header .nav-tabs .nav-item .nav-link {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-self: stretch;
  -ms-flex-item-align: stretch;
  align-self: stretch;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  color: #4f5f6f;
  opacity: 0.7;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 0;
  font-size: 14px;
  border-top-width: 2px;
  border-bottom: 1px solid #d7dde4;
  text-decoration: none; }
.card .card-header .nav-tabs .nav-item .nav-link.active {
  border-top-color: #7867a7;
  border-bottom-color: transparent;
  opacity: 1; }
.card .card-header .nav-tabs .nav-item .nav-link.active:hover, .card .card-header .nav-tabs .nav-item .nav-link.active:focus {
  opacity: 1;
  background-color: #ffffff;
  border-color: #d7dde4 #d7dde4 transparent;
  border-top-color: #7867a7; }
.card .card-header .nav-tabs .nav-item .nav-link:hover, .card .card-header .nav-tabs .nav-item .nav-link:focus {
  opacity: 1;
  background-color: transparent;
  border-color: transparent; }
.card.card-default > .card-header {
  background-color: #efefef;
  color: inherit; }
.card.card-widget-success {
  background-color: #4caf50; }
.card.card-widget-success .widget-title {
  display: inline-block;
  font-size: 12px;
  color: #fff;
  text-transform: uppercase;}
.card.card-widget-success .icons {
  color: #fff;
  font-size: 50px;
  opacity: 0.3;
  position: absolute;
  right: 13px;
  top: 13px;}
.card.card-widget-success .result {
  font-size: 28px;
  font-weight: lighter;
  color: #fff;}
.card.card-widget-success .widget-link {
  border-top: 1px solid rgba(255, 255, 255, 0.3);
  font-size: 12px;
  margin-top: 20px;
  color: #fff;
  padding: 10px 0 0;}
.card.card-widget-success .widget-link a {
  color: #fff;}
.card.card-widget-warning {
  background-color: #f2a654; }
.card.card-widget-warning .widget-title {
  display: inline-block;
  font-size: 12px;
  color: #fff;
  text-transform: uppercase;}
.card.card-widget-warning .icons {
  color: #fff;
  font-size: 50px;
  opacity: 0.3;
  position: absolute;
  right: 13px;
  top: 13px;}
.card.card-widget-warning .result {
  font-size: 28px;
  font-weight: lighter;
  color: #fff;}
.card.card-widget-warning .widget-link {
  border-top: 1px solid rgba(255, 255, 255, 0.3);
  font-size: 12px;
  margin-top: 20px;
  color: #fff;
  padding: 10px 0 0;}
.card.card-widget-warning .widget-link a {
  color: #fff;}
.card.card-widget-info {
  background-color: #2196F3; }
.card.card-widget-info .widget-title {
  display: inline-block;
  font-size: 12px;
  color: #fff;
  text-transform: uppercase;}
.card.card-widget-info .icons {
  color: #fff;
  font-size: 50px;
  opacity: 0.3;
  position: absolute;
  right: 13px;
  top: 13px;}
.card.card-widget-info .result {
  font-size: 28px;
  font-weight: lighter;
  color: #fff;}
.card.card-widget-info .widget-link {
  border-top: 1px solid rgba(255, 255, 255, 0.3);
  font-size: 12px;
  margin-top: 20px;
  color: #fff;
  padding: 10px 0 0;}
.card.card-widget-info .widget-link a {
  color: #fff;}
.card.card-primary {
  border-color: #85CE36; }
.card.card-primary > .card-header {
  background-color: #7867a7;
  border-color: #7867a7;
  color: #fff;}
.card.card-success > .card-header {
  background-color: #4bcf99; }
.card.card-info > .card-header {
  background-color: #76D4F5; }
.card.card-warning > .card-header {
  background-color: #fe974b; }
.card.card-danger > .card-header {
  background-color: #FF4444; }
.card.card-inverse > .card-header {
  background-color: #131e26; }
.card .title-block,
.card .card-title-block {
  padding-bottom: 0;
  margin-bottom: 20px;
  border: none; }
.card .title-block::after,
.card .card-title-block::after {
  content: "";
  display: table;
  clear: both; }
.card .section {
  margin-bottom: 20px; }
.card .example,
.card .section.demo {
  margin-bottom: 20px; }

.card-1 {
  box-shadow:0 1px 3px rgba(0, 0, 0, 0), 0 1px 2px rgba(0, 0, 0, 0.08);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.card-1:hover {
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.card-block {
  padding: 15px; }
.card-block .tab-content {
  padding: 0;
  border-color: transparent; }
@media (min-width: 1200px) {
  .card-block {
    padding: 20px; } }
@media (max-width: 767px) {
  .card-block {
    padding: 10px; } }

.card-footer {
  background-color: #fafafa; }
.bold-font{
  font-weight: bold;
}
.wallet{
  margin-top: 2%;
  margin-bottom: 3%;
}
table.dataTable thead .sorting::after, table.dataTable thead .sorting_asc::after, table.dataTable thead .sorting_desc::after{
  display:none !important;
}
table.dataTable thead .sorting {
  background: image-url("sort_both.png") no-repeat center right !important;
}
table.dataTable thead .sorting_asc {
  background: image-url("sort_asc.png") no-repeat center right !important;
}
table.dataTable thead .sorting_desc {
  background: image-url("sort_desc.png") no-repeat center right !important;
}
table.dataTable thead .sorting_asc_disabled {
  background: image-url("sort_asc_disabled.png") no-repeat center right !important;
}
table.dataTable thead .sorting_desc_disabled {
  background: image-url("sort_desc_disabled.png") no-repeat center right !important;
}
//reports inline css
.maintenence_width{
  width: 700px !important;
}
.maintenance_span_size{
  font-size: 19px;
}
#border_top{
  border-top-color: black;
}
#font_large{
  font-size: large;
}
.run_report_margin{
  //use other places too
  margin-top:  35px;
}
.wallet_name{
  font-size:20px;
}
.well_display{
  display: none;
}
#display_none{
  display: none;
}
#wallet_font_size{
  font-size:20px;
}
.search_in_text{
  width: 15%;margin-right: 10px; background-color: transparent;
}
#showing_left{
  float: left;
}