.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}
.modal-header{
  background-color: #7866a7;
  color: white;
  border-top-left-radius: 0rem;
  border-top-right-radius: 0rem;
}
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
#size{
  font-size: 22px;
}

.modal-header {
  padding-left: 15px !important;
}
#user_email,#user_password{
  display: block;
  width: 100%;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-image: none;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  cursor: auto;;
  transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
}
.error{
  color: red;
}
.padding-zero{
  padding: 0px;
}
.left-padding{
  padding-left: 10px;
}
.right-padding{
  padding-right: 10px;
}
.ms-options{
  left: auto!important;
}
.li-style{
  width: 95%!important;
  display: inline-flex;
}
a.link{
  padding-top: 6px!important;
  padding-left: 4px!important;
}
.error{
  color: red;
}
.modal-body-height{
  height: 700px;
  overflow: auto;
}
#user_email,#user_password{
  display: block;
  width: 100%;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-image: none;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  cursor: auto;;
  transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
}
.header_color{
  background-color: #7866a7;
}
.add_new_employee{
  margin-bottom: 5px;
}
#close_current_user{
  padding: 0px !important;
  padding-top: 15px !important;
  padding-right: 30px !important;
}
#message{
  position: absolute;
  margin-left: 140px;
}
.d_none{
  display: none;
}
.d_block{
  display: block;
}
.twosv{
    margin-top: -14px;
}
#margin_bot{
  margin-bottom:35px;
}
.top_30_form{
  top: 30px;
}
#show_text_css{
  float: left;
  padding-top: 7px;
  margin-right: 7px;
}
#span_text_css{
  float: left;margin-top: 5px;
}
#entries_text{
  float: left;
  padding-top: 7px;
  margin-left: 7px;
}
#no-entries-text{
  text-align: center;
  background-color: #2b542c;
  padding-bottom: 5px;
  padding-top: 5px;
  color: white;
}
.showing_left_span{
  float: left
}
.paginate_right{
  text-align: right;
}
#phone_number-error{
  position: absolute;
}
.intl-tel-input .selected-flag .iti-arrow{
  left: 30px;
}
.padding-left-21-perc{
  padding-left: 21% !important;
}
.intl-tel-input{width: 100% !important;}
.flag-container{height: 35px !important;}
.one_digit_code{padding-left: 3.5rem !important}
.two_digit_code{padding-left: 4.1rem !important}
.three_digit_code{padding-left: 4.7rem !important}
.digit_code{padding-left: 5.3rem !important}
#user_phone_number-error{display: none !important;}
.red-color{color: red}
.selected-dial-code{font-size: 15px}
.phone_number_field{font-size: 15px}

#user_password_confirmation{
  font-size: 1rem;
}