.fa-attachment{
  margin-top: -28px;
  margin-right: 9px;
  font-size: 22px;
  -ms-transform: rotate(-100deg);
  -webkit-transform: rotate(-100deg);
  transform: rotate(-135deg);
  color: #4bcf7a;
}
#right{
  text-align: right;
}
.box-header > .fa, .box-header > .glyphicon, .box-header > .ion, .box-header .box-title{
  font-size: 30px;
}


.btn-sm, .btn-group-sm > .btn{
  font-size: 16px;
}
box-header > .fa, .box-header > .glyphicon, .box-header > .ion, .box-header .box-title{
  font-size: 24px;
}
.text-right .build{
  top: -52px;
  text-align: right !important;
}
.card.card-primary > .card-header
{
  background-color: #efefef;
  color: #000;
}
.build {
  top: 52px;
}
h5, .h5 {
  font-size: 1.20rem;
}
#merchant_attention{
  background-color: #5cb85c;
}
#entries_sup{
  text-align: center;
  background-color: #2b542c;
  padding-bottom: 5px;
  padding-top: 5px;
  color: white;
}
#showing1{
  margin-left: 16px
}
#back{
  background-color: #7867a7;
  color: white;
  margin-left: 0px;
  padding-left: 5px;
}
#ticket_details{
  padding-top: 4px;
  position: absolute;
  left: 84px;
}
#ticket_close{
  margin-top: -52px;
}
#qc_support{
  background: rgb(120, 103, 167);color: white;
}