
<section class="example">
  <div class="table-responsive">
    <table id="logs" class="table table-striped table-bordered table-hover">
      <thead>
      <tr>
        <th>
          <a href="#">User ID</a>
        </th>
        <th>
          <a href="#">Performer</a>
        </th>
        <th>
          <a href="#">Date</a>
        </th>
        <th>
          <a href="#">IP address</a>
        </th>
        <th>
          <a href="#">Event</a>
        </th>
        <th>Type</th>
        <th>Actions</th>
      </tr>
      </thead>
      <tbody id="tbody">
      <% @logs.each do |l| %>
          <tr>
            <% if l.try(:respond_with).is_a?(Hash) %>
              <% response_json = l.respond_with %>
            <% else %>
              <% response_json = (valid_json?(l.respond_with.to_s) ? JSON.parse(l.respond_with.to_s) : {}) %>
          <% end %>
            <% success = response_json.is_a?(Hash) ? response_json["success"] : false %>
            <%  %>
            <td class="<%= success == false ? 'text-danger' : '' %>">
              <%= l.try(:user_id) %>
            </td>
            <td><a href="#" id="a_tag"><%= l.user.blank? ? 'System':l.user.name %></a></td>
            <td class="timeUtc"><%= l.created_at %></td>
            <td><%= l.ip_address %></td>
            <% if l.action == "destroy" && l.note == "merchant is Archived"%>
              <td><%= l.action = "Archived" %></td>
            <%elsif l.action == "destroy" && l.note == "merchant is Un-Archived" %>
              <td><%= l.action ="Un-Archived" %></td>
            <%elsif l.action == "destroy" && l.note == "ISO is Archived" %>
              <td><%= l.action ="Archived" %></td>
            <%elsif l.action == "destroy" && l.note == "ISO is Un-Archived" %>
              <td><%= l.action ="Un-Archived" %></td>
            <%elsif l.action == "destroy" && l.note == "agent is Archived" %>
              <td><%= l.action ="Archived" %></td>
            <%elsif l.action == "destroy" && l.note == "agent is Un-Archived" %>
              <td><%= l.action ="Un-Archived" %></td>
            <%elsif l.action == "destroy" && l.note == "affiliate is Archived" %>
              <td><%= l.action ="Archived" %></td>
            <%elsif l.action == "destroy" && l.note == "affiliate is Un-Archived" %>
              <td><%= l.action ="Un-Archived" %></td>
            <%elsif l.action == "update_valid" && l.note == "merchant is Inactivated" %>
              <td><%= l.action ="Inactivated" %></td>
            <%elsif l.action == "update_valid" && l.note == "merchant is Activated" %>
              <td><%= l.action ="Activated" %></td>
            <%elsif l.action == "update_status" && l.note == "ISO is Activated" %>
              <td><%= l.action ="Activated" %></td>
            <%elsif l.action == "update_status" && l.note == "ISO is Inactivated" %>
              <td><%= l.action ="Inactivated" %></td>
            <%elsif l.action == "update_status" && l.note == "agent is Activated" %>
              <td><%= l.action ="Activated" %></td>
            <%elsif l.action == "update_status" && l.note == "agent is Inactivated" %>
              <td><%= l.action ="Inactivated" %></td>
            <%elsif l.action == "update_status" && l.note == "affiliate is Activated" %>
              <td><%= l.action ="Activated" %></td>
            <%elsif l.action == "update_status" && l.note == "affiliate is Inactivated" %>
              <td><%= l.action ="Inactivated" %></td>
            <%else %>
              <td><%= l.action.titleize if l.action.present? %></td>
            <% end %>
            <td class="text-uppercase">
              <% if l.vt_error? %>
              <span class="label label-danger">
                  <%= l.activity_type %>
              </span>
              <% else %>
                  <% if l.api_error?  %>
                   <span class="label label-danger">
                  <%=  l.activity_type  %>
                   </span>
                  <% else %>
                  <span class="label <%= success == false ? 'label-danger' : 'label-success' %>">
                  <%= l.activity_type %>
                  </span>
                  <% end %>
              <% end %>
            </td>
            <td>
              <%= link_to '<button type="button" class="btn btn-secondary btn-sm" ><i class="icon-screen-desktop icons"></i> See Log</button>'.html_safe,admins_activity_log_path(l.id) , remote: true   %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
  <div class="col-md-12 background-white-activity-log">
    <span class="m-index-st-19">Showing <%=@logs.try(:count)%> of <%=@logs.total_count %> records</span>
    <%= paginate @logs, :theme => 'twitter-bootstrap-3', :pagination_class => "pagination-small pagination-centered pull-right padd"%>
  </div>
</section>

