<div class="title-block">
  <h1 class="title">Enable/Disable Withdraws Throughout the System</h1>
</div>
<section class="section">
  <div class="container-fluid merchant-app-config-container-fluid">
    <h5 class="enable-disable-h5-app-config"></h5>
    <div class="row">
      <div class="col-xs-12 col-md-3">
        <p class="font-size-14-px-app-config"><strong>ACH</strong></p>
        <label class="switch">
          <% ach = AppConfig.where(key:'ach').try(:first) %>
          <%= check_box_tag ach, ach.boolValue, ach.boolValue, class: 'update_seq_down_inputt',  data: { 'graph_value' => ach.boolValue,'id' => ach.id}  %>
          <span class="slider round">
              <div class="pull-left slider-round-on-app-config" >
                ON
              </div>
              <div class="pull-right slider-round-off-app-config">
                OFF
              </div>
            </span>
        </label>
      </div>
      <div class="col-xs-12 col-md-3">
        <p class="font-size-14-px-app-config"><strong>E-Checks</strong></p>
        <label class="switch">
          <% checks = AppConfig.where(key:'checks').try(:first) %>
          <%= check_box_tag checks, checks.boolValue, checks.boolValue, class: 'update_seq_down_inputt',  data: { 'graph_value' => checks.boolValue,'id' => checks.id}  %>
          <span class="slider round">
              <div class="pull-left slider-round-on-app-config" >
                ON
              </div>
              <div class="pull-right slider-round-off-app-config">
                OFF
              </div>
            </span>
        </label>
      </div>
      <div class="col-xs-12 col-md-3">
        <p class="font-size-14-px-app-config"><strong>P2C</strong></p>
        <label class="switch">
          <% p2c = AppConfig.where(key:'p2c').try(:first) %>
          <%= check_box_tag p2c, p2c.boolValue, p2c.boolValue, class: 'update_seq_down_inputt',  data: { 'graph_value' => p2c.boolValue,'id' => p2c.id}  %>
          <span class="slider round">
              <div class="pull-left slider-round-on-app-config" >
                ON
              </div>
              <div class="pull-right slider-round-off-app-config">
                OFF
              </div>
            </span>
        </label>
      </div>
      <div class="col-xs-12 col-md-3">
        <p class="font-size-14-px-app-config"><strong>Gift Card</strong></p>
        <label class="switch">
          <% giftcard=AppConfig.where(key:'giftcard').try(:first) %>
          <%= check_box_tag giftcard, giftcard.boolValue, giftcard.boolValue, class: 'update_seq_down_inputt',  data: { 'graph_value' => giftcard.boolValue,'id' => giftcard.id}  %>
          <span class="slider round">
              <div class="pull-left slider-round-on-app-config" >
                ON
              </div>
              <div class="pull-right slider-round-off-app-config">
                OFF
              </div>
            </span>
        </label>
      </div>
    </div>
  </div>
</section>
<%= javascript_include_tag 'admins/accounting_setting' %>
