<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />
<div class="title-block">
  <h1 class="title">Email Tracking</h1>
</div>
<section class="section">
  <div class="row">
    <div class="col-md-12">
      <div class="card sameheight-item items" data-exclude="xs,sm,lg">
        <div class="card-header bordered">
          <div class="col-md-8 mb-2">
            <div class="header-block">
              <h3 class="title">All Emails</h3>
            </div>
          </div>
          <div class="col-md-4 mb-2 text-right">
            <a href="#search" data-toggle="collapse" href="#search" aria-expanded="false" aria-controls="search" class="btn btn-outline-secondary btn-sm"><i class="icon-magnifier icons"></i> Search</a>
          </div>
        </div>
        <%#= search_form_for @q, url: email_track_admins_activity_logs_path,
                            html: { method: :post } do |f| %>
            <%# end %>
        <%= search_form_for @q, url: email_track_admins_activity_logs_path,
                            html: { method: :get } do |f|   %>
            <div class="col-sm-12 email_track_search_form_div_1">
              <div class="col-sm-12">
                <div class="" id="search">
                  <div class="card card-body">
                    <div class="row margin-top-10px-email-track">
                      <div class="col-md-12 margin-top-15px-email-track">
                        <div class="form-group col-md-4">
                          <label for="id">User ID</label>
                          <%= f.search_field :user_id_eq,class:'form-control',placeholder:'User id' %>
                        </div>
                        <div class="form-group col-md-4">
                          <label for="id">Mailer</label>
                          <%#= f.search_field :mailer_cont,class:'form-control',placeholder:'mailer' %>
                          <%= f.select :mailer_cont, options_for_select(@mailer_option.map{|v| [ v[:view], v[:value] ]}, selected: params[:q].present? ? params[:q]["mailer_cont"] : ""), {include_blank: 'Select Type' }, { class: 'form-control'} %>
                          <input type="hidden" name="filter" value="<%= params[:filter] %>"  />

                        </div>
                        <div class="form-group col-md-4">
                          <label for="id">Date</label>
                          <%= f.text_field :sent_at_eq,class:'form-control',placeholder:'',value:params[:q].present? ? params[:date] : '' %>


                        </div>
                      </div>
                      <div class="col-md-12 text-right">
                        <%= f.submit "Search",class:'btn btn-success btn-sm search_button' %>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
        <% end  %>
        <div class="card-body margin-top-20px-bad-request">
          <div class="col-sm-12 col-md-6 m-b-45">
            <div class="dataTables_length">
              <div class="col-md-6 ad-verifications-st-3">
                <span class="ad-verifications-st-4">Show</span>
                <span class="ad-verifications-st-5">

              <%= form_tag email_track_admins_activity_logs_path(:req => params[:req], :others => params[:others]), method: :get, id: 'merchant_filter'  do  %>
                         <%= select_tag "filter", options_for_select(@filters.map{|v|[v]}, selected: params[:filter].present? ? params[:filter] : "10"),
                                        :prompt => false,
                                        :required => true,
                                        class: "form-control form-control-sm merchant_filter",
                                        data: {confirm: "Are you sure ?"}
                         %>
                      <input type="hidden" name="query[status]" value="<%= params[:query].present? ? params[:query]["status"] : "" %>" />
                 <input type="hidden" name="query[event]" value="<%= params[:query].present? ? params[:query]["event"] : "" %>" />
                 <input type="hidden" name="query[date]" value="<%= params[:query].present? ? params[:query]["date"] : "" %>" />

                   <% end %>
                    </span>
                <span class="ad-verifications-st-6">Entries</span>
              </div>
            </div>


            <div class="dataTables_length">
              <div class="col-md-6 datatable_length_email_tracking">
              </div>
            </div>
          </div>
          <div class="table-responsive">
            <table id="logs" class="table table-striped table-bordered table-hover">
              <thead>
              <tr>
                <th>Email</th>
                <th>Mailer</th>
                <th>Subject</th>
                <th>Sent at</th>
              </tr>
              </thead>
              <tbody id="tbody">

              <% @email.each do |l| %>
                  <tr>
                    <td><%= l.to %></td>
                    <td ><%= l.mailer %></td>
                    <td><%= l.subject %></td>
                    <td class="timeUtc"><%= l.sent_at %></td>
                  </tr>
              <% end %>
              </tbody>
            </table>
          </div>
          <div class="col-md-12 background-white-activity-log">
            <span class="m-index-st-19">Showing <%=@email.try(:count)%> of <%=@email.total_count %> records</span>
            <%= paginate @email, :theme => 'twitter-bootstrap-3', :pagination_class => "pagination-small pagination-centered pull-right padd"%>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>