<div class="title-block">
  <h1 class="title">Enable/Disable Graphs throughout the system</h1>
</div>
<section class="section">
  <div class="container-fluid merchant-app-config-container-fluid">
    <h5 class="enable-disable-h5-app-config"></h5>
    <div class="row">
      <div class="col-xs-12 col-md-4">
        <p class="font-size-14-px-app-config"><strong>Merchant's Main Graph</strong></p>
        <label class="switch">
          <% merchant_graph=AppConfig.where(key:'merchant_graph').try(:first) %>
          <%= check_box_tag merchant_graph, merchant_graph.boolValue, merchant_graph.boolValue, class: 'update_seq_down_inputt',  data: { 'graph_value' => merchant_graph.boolValue,'id' => merchant_graph.id}  %>
          <span class="slider round">
              <div class="pull-left slider-round-on-app-config" >
                ON
              </div>
              <div class="pull-right slider-round-off-app-config">
                OFF
              </div>
            </span>
        </label>
      </div>
      <div class="col-xs-12 col-md-4">
        <p class="font-size-14-px-app-config"><strong>Iso's Merchant Performance Graph</strong></p>
        <label class="switch">
          <% iso_performance=AppConfig.where(key:'iso_performance').try(:first) %>
          <%= check_box_tag iso_performance, iso_performance.boolValue, iso_performance.boolValue, class: 'update_seq_down_inputt',  data: { 'graph_value' => iso_performance.boolValue,'id' => iso_performance.id}  %>
          <span class="slider round">
              <div class="pull-left slider-round-on-app-config" >
                ON
              </div>
              <div class="pull-right slider-round-off-app-config">
                OFF
              </div>
            </span>
        </label>
      </div>
      <div class="col-xs-12 col-md-4">
        <p class="font-size-14-px-app-config"><strong>Iso's Agent Performance Graph</strong></p>
        <label class="switch">
          <% iso_agent_performance=AppConfig.where(key:'iso_agent_performance').try(:first) %>
          <%= check_box_tag iso_agent_performance, iso_agent_performance.boolValue, iso_agent_performance.boolValue, class: 'update_seq_down_inputt',  data: { 'graph_value' => iso_agent_performance.boolValue,'id' => iso_agent_performance.id}  %>
          <span class="slider round">
              <div class="pull-left slider-round-on-app-config" >
                ON
              </div>
              <div class="pull-right slider-round-off-app-config">
                OFF
              </div>
            </span>
        </label>
      </div>
      <div class="col-xs-12 col-md-4">
      <p class="font-size-14-px-app-config"><strong>Agent's Merchant Performance Graph</strong></p>
      <label class="switch">
        <% agent_performance=AppConfig.where(key:'agent_performance').try(:first) %>
        <%= check_box_tag agent_performance, agent_performance.boolValue, agent_performance.boolValue, class: 'update_seq_down_inputt',  data: { 'graph_value' => agent_performance.boolValue,'id' => agent_performance.id}  %>
        <span class="slider round">
              <div class="pull-left slider-round-on-app-config" >
                ON
              </div>
              <div class="pull-right slider-round-off-app-config">
                OFF
              </div>
            </span>
      </label>
    </div>
      <div class="col-xs-12 col-md-4">
        <p class="font-size-14-px-app-config"><strong>Agent's Affiliate Performance Graph</strong></p>
        <label class="switch">
          <% agent_affiliate_performance=AppConfig.where(key:'agent_affiliate_performance').try(:first) %>
          <%= check_box_tag agent_affiliate_performance, agent_affiliate_performance.boolValue, agent_affiliate_performance.boolValue, class: 'update_seq_down_inputt',  data: { 'graph_value' => agent_affiliate_performance.boolValue,'id' => agent_affiliate_performance.id}  %>
          <span class="slider round">
              <div class="pull-left slider-round-on-app-config" >
                ON
              </div>
              <div class="pull-right slider-round-off-app-config">
                OFF
              </div>
            </span>
        </label>
      </div>

      <div class="col-xs-12 col-md-4">
        <p class="font-size-14-px-app-config"><strong>Affiliate's Merchant Performance Graph</strong></p>
        <label class="switch">
          <% affiliate_performance=AppConfig.where(key:'affiliate_performance').try(:first) %>
          <%= check_box_tag affiliate_performance, affiliate_performance.boolValue, affiliate_performance.boolValue, class: 'update_seq_down_inputt',  data: { 'graph_value' => affiliate_performance.boolValue,'id' => affiliate_performance.id}  %>
          <span class="slider round">
              <div class="pull-left slider-round-on-app-config" >
                ON
              </div>
              <div class="pull-right slider-round-off-app-config">
                OFF
              </div>
            </span>
        </label>
      </div>
    </div>
  </div>
</section>
<%= javascript_include_tag 'admins/graph_setting' %>
