<div class="title-block">
  <h1 class="title">Internal Server Errors Access Logs</h1>
</div>
<section class="section">
  <div class="row">
    <div class="col-md-12">
      <div class="card sameheight-item items" data-exclude="xs,sm,lg">
        <div class="card-header bordered">
          <div class="header-block">
            <h3 class="title">Internal Server Error Logs</h3>
          </div>
          <div class="header-block pull-right">
            <!--<a href="#" class="btn btn-danger btn-sm"><i class="icon-trash icons"></i> Clear Log</a>-->
          </div>
        </div>
        <div class="card-body margin-top-20px-bad-request">
          <%= render :partial => 'table' %>
        </div>
      </div>
    </div>
  </div>
</section>
<section id="log_display"></section>
