<div class="title-block">
  <h1 class="title">Server Error Logs</h1>
</div>
<section class="section">
  <div class="row">
    <div class="col-md-12">
      <div class="card sameheight-item items" data-exclude="xs,sm,lg">
        <div class="card-header bordered">
          <div class="header-block">
            <h3 class="title"> Server Error Logs</h3>
          </div>
          <div class="header-block pull-right">
            <!--<a href="#" class="btn btn-danger btn-sm"><i class="icon-trash icons"></i> Clear Log</a>-->
          </div>
        </div>
        <div class="card-body margin-top-20px-bad-request">
          <div class="col-md-6 ad-verifications-st-3">
            <span class="ad-verifications-st-4">Show</span>
            <span class="ad-verifications-st-5">

              <%= form_tag server_error_admins_activity_logs_path(:req => params[:req], :others => params[:others]), method: :get, id: 'merchant_filter'  do  %>
                         <%= select_tag "filter", options_for_select(@filters.map{|v|[v]}, selected: params[:filter].present? ? params[:filter] : "10"),
                                        :prompt => false,
                                        :required => true,
                                        class: "form-control form-control-sm merchant_filter",
                                        data: {confirm: "Are you sure ?"}
                         %>
                   <% end %>
                    </span>
            <span class="ad-verifications-st-6">Entries</span>
          </div>
          <%= render :partial => 'table' %>
        </div>
      </div>
    </div>
  </div>
</section>
<section id="log_display"></section>