<section class="section">
  <div class="row">
    <div class="col-md-12">
      <div class="card sameheight-item items" data-exclude="xs,sm,lg">
        <div class="card-header bordered">
          <div class="col-md-8 mb-2">
            <div class="header-block">
              <h3 class="title">Version Number</h3>
            </div>
          </div>
        </div>
        <%#= search_form_for @q, url: email_track_admins_activity_logs_path,
                            html: { method: :post } do |f| %>
        <%# end %>
        <%= form_tag post_version_admins_activity_logs_path, html: {method: :post} do |f| %>
          <div class="col-md-12 background-white-activity-log">
            <div class="col-md-12">
              <div class="" id="search">
                <div class="card card-body">
                  <div class="row margin-top-10px-email-track">
                    <div class="col-md-12 margin-top-15px-email-track" >
                      <div class="form-group col-md-4">
                        <label for="id">Version</label>
                        <input type="text" class="form-control" name="version" value="<%= @version_number %>">
                      </div>
                      <div class="col-md-2 margin-top-28px-activity-log">
                        <input type="submit" class="btn btn-success btn-sm search_button" value="Update">
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        <% end %>
        <div class="card-body card-body-activity-log">
        </div>
      </div>
    </div>
  </div>
</section>