<div class="modal fade" id="buyGiftCardModal1" class="createuserpermissionModal" tabindex="-1" role="dialog" aria-labelledby="orderModelLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header" >
        <p class="modal-header-text">Buy Gift Card</p>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">

        </button>
      </div>
      <div class="modal-body pl-5">
        <div class="row">
          <div class="col-lg-6 col-md-6 col-sm-6">
            <div>
              <%= image_tag "v2/merchant/giftcards/visa@3x.jpg", class: '' %>
            </div>
          </div>
          <div class="col-lg-6 col-md-6 col-sm-6">
            <div>
              <p class="simple-12-normal-text addidas-text">Visa</p>
              <p class="simple-12-normal-text">
                Our love for sport drives who we are and what we do. Every day. adidas has a clear mission: be the globally leading and most popular sporting goods brand. We are not just designing products for all kinds of sports. We are designing products for athletes. Athletes always strive for their personal best. Athletes find inspiration in sports no matter what they do. We help them to achieve their peak performance by making them faster, stronger, smarter and cooler. adidas gift cards can be redeemed in over 150 adidas Sport Performance, adidas Originals, or adidas Outlet stores in the US, as well as online at adidas.com.</p>
            </div>
          </div>
        </div>
        <div class="row mt-2">
          <div class="col-lg-6 col-md-6">
            <div class="form-group m-form__group">
              <label class="send_from_account-text" for="amount_0">Send from Account</label>
              <select class="form-control m-bootstrap-select m-bootstrap-giftcard-select  m-bootstrap-select--pill m_selectpicker">
                <option>
                  Pac & G
                </option>
                <option>
                 New test location
                </option>
                <option>
                  Another test location
                </option>
                <option>
                  New Location Name
                </option>
              </select>
            </div>
          </div>
          <div class="col-lg-6 col-md-6">
            <div class="form-group m-form__group">
              <label class="this_is_your_amount_text" for="amount_0">Enter Your Amount</label>
              <div class="input-icon icon_inside_input_field">
                <i class="dollar-addon addon-margin">$</i>
                <input type="number" id="amount_0" value="" name="product[0][amount]" class="with-90-percent form-control pull-left text-align-center product_amount1 m-input" placeholder="$10.00-$1000.00" required="">
              </div>
            </div>
          </div>
        </div>
        <div class="row mt-4">
          <div class="col-lg-6 col-md-6">
            <div class="form-group m-form__group">
              <label class="send_from_account-text" for="amount_0">Buy Card for</label>
              <input type="email" id="amount_0" value="" name="product[0][amount]" placeholder="bradpitt@email.com" class="with-90-percent form-control pull-left text-align-center product_amount m-input" required="">
            </div>
          </div>
          <div class="col-lg-6"></div>
        </div>
        <div class="text-center mt-5">
          <a href="#" class="btn btn-default giftcard-m-submit" data-dismiss="modal" data-toggle="modal" data-target="#giftCardConfirmation1">Submit</a>
        </div>
      </div>
    </div>
  </div>
</div>