<div class="modal fade" id="giftCardComfirmation" class="createuserpermissionModal" tabindex="-1" role="dialog" aria-labelledby="orderModelLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header" >
        <p class="modal-header-text">Buy Gift Card</p>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">

        </button>
      </div>
      <div class="modal-body pl-5">
        <div>
         <p class="simple-20-bold-text-dark">Confirm your information</p>
        </div>
        <div class="row mt-5">
          <div class="col-lg-6 col-md-6">
            <div class="row">
              <div class="col-lg-12">
                <div class="accounts">
                  <div>
                    <p class="account-text mb-0">Account</p>
                    <p id="account_name" class="account-name-text mb-0">Pac & G</p>
                  </div>
                </div>
              </div>
            </div>
            <div class="row mt-2">
              <div class="col-lg-12 col-md-12">
                <div>
                  <p class="account-text mb-0">Recipient email</p>
                  <p id="email_add" class="account-name-text mb-0">username@gmail.com</p>
                </div>
              </div>
            </div>
            <div class="row mt-2">
              <div class="col-lg-12 col-md-12">
                <div class="accounts">
                  <div>
                    <p class="account-text mb-0">Gift Card Type</p>
                    <p id="brand_name" class="account-name-text ">Adidas</p>
<!--                    <img id="confirm_img" src="v2/merchant/giftcards/adidas@2x.jpg" class="win-img" alt="giftcard Image" >-->
                    <%= image_tag "v2/merchant/giftcards/adidas@2x.jpg",id:"confirm_img",  class: 'win-img' %>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-6 col-md-6">
            <div class="row">
              <div class="col-lg-12">
                <div class="giftcard-amount">
                   <div>
                     <p class="amount-text">Amount</p>
                   </div>
                   <div class="row">
                     <div class="col-lg-6 col-md-6">
                       <div>
                         <p class="giftcard-paragraph-text">Available Balance</p>
                       </div>
                     </div>
                     <div class="col-lg-6 col-md-6">
                       <div class="pull-right">
                         <p id="available_balance" class="giftcard-amount-price">$00.00</p>
                       </div>
                     </div>
                   </div>
                   <hr class="invoice-h-line">
                  <div class="row bg-amount mt-2">
                    <div class="col-lg-6 col-md-6">
                      <div class="mt-3">
                        <p class="giftcard-paragraph-text">Gift Card Amount</p>
                      </div>
                    </div>
                    <div class="col-lg-6 col-md-6">
                      <div class="pull-right mt-3">
                        <p id="gift_card_amount" class="giftcard-amount-price">$00.00</p>
                      </div>
                    </div>
                  </div>
                  <div class="row mt-2">
                    <div class="col-lg-6 col-md-6">
                      <div>
                        <p class="giftcard-paragraph-text">Fee</p>
                      </div>
                    </div>
                    <div class="col-lg-6 col-md-6">
                      <div class="pull-right">
                        <p id="fee" class="giftcard-amount-price">$0.00</p>
                      </div>
                    </div>
                  </div>
                  <div class="row bg-amount mt-2">
                    <div class="col-lg-6 col-md-6">
                      <div class="mt-3">
                        <p class="giftcard-paragraph-text">Total Amount</p>
                      </div>
                    </div>
                    <div class="col-lg-6 col-md-6">
                      <div class="pull-right mt-3">
                        <p id="total_amount"  class="giftcard-amount-price">$00.00</p>
                      </div>
                    </div>
                  </div>
                  <hr class="h-line">
                  <div class="row bg-remaining mt-4">
                    <div class="col-lg-6 col-md-6">
                      <div class="mt-3">
                        <p class="giftcard-paragraph-text">Remaining Balance</p>
                      </div>
                    </div>
                    <div class="col-lg-6 col-md-6">
                      <div class="pull-right mt-3">
                        <p id="remain_balance" class="giftcard-amount-price">$00.00</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-lg-12 col-md-12">
            <div class="text-center mt-5">
              <a href="#" class="btn btn-default gift-card-back-btn mr-2" data-dismiss="modal" aria-label="Close" data-toggle='modal' data-target = '#buyGiftCardModal'>Back</a>
<!--              <a href="#" class="btn btn-default giftcard-confirm-btn succes--call" data-dismiss="modal" data-toggle="modal" data-target="#SuccessAccountTransferModal">Confirm</a>-->
             <!--  <a href="#" id="confirm_gift" class="btn btn-default btn-preview-invoice succes--call" data-dismiss="modal" aria-label="Close" data-toggle='modal' data-target = '#SuccessAccountTransferModal'>Confirm</a> -->

              <a href="#" id="confirm_gift" class="btn btn-default btn-preview-invoice" data-dismiss="modal">Confirm</a>
             <!--  <a href="#" id="confirm_gift" class="btn btn-default btn-preview-invoice succes--call" data-dismiss="modal" aria-label="Close" data-toggle='modal' data-target = '#SuccessGiftModal'>Confirm</a> -->

            </div>
          </div>

        </div>

      </div>
    </div>
  </div>
</div>
