<%= stylesheet_link_tag "v2/merchant/giftcards" %>
<div class="modal fade" id="buyGiftCardModal" class="createuserpermissionModal" tabindex="-1" role="dialog" aria-labelledby="orderModelLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header" >
        <p class="modal-header-text">Buy Gift Card</p>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">

        </button>
      </div>
      <section id="errormessage"></section>
      <%= form_tag buy_card_v2_merchant_giftcards_path , method: :post, id: "gc-form", html:{data:{toggle: "validator" }} do |f| %>
        <div class="modal-body pl-5">
        <div class="row">
         <div class="col-lg-6 col-md-6 col-sm-6">
           <div>
             <img id="brand_img" class="giftcard-show-image" src="<%= giftcard[:image_url] %>" alt="giftcard Image" >
           </div>
         </div>
         <div class="col-lg-6 col-md-6 col-sm-6">
           <div>
             <p id="brand_type" class="simple-12-normal-text addidas-text"><%= giftcard[:brand_name] %></p>
             <p class="simple-12-normal-text">
               <%= giftcard[:description].html_safe %>
           </div>
         </div>
       </div>
<%= render partial: "v2/merchant/shared/waiting_loader_withdraw" %>
        <div class="row mt-2">
          <div class="col-lg-6 col-md-6">
            <div class="form-group m-form__group">
              <label class="send_from_account-text" for="amount_0">Send from Account</label>
              <% if @list.size != 1 %>
                <select class="form-control   m-time-bootstrap-select m-bootstrap-select m-bootstrap-select--pill  m_selectpicker reason-dd-1 wallet_id" id="wallet_id" name="wallet_id">
                  <option value="">Select your Wallet</option>
                  <%= @list.each do |w| %>
                    <option value="<%= w[:wallet_id] %>" data-balance="<%= w[:balance] %>" data-fee="<%= w[:giftcard_fee] %>" data-lstatus="<%= w[:location_status] %>" data-giftcard="<%= w[:block_giftcard] %>" ><%= w[:wallet_name] %></option>
                  <% end %>
                </select>
              <% else %>
                <select class="form-control   m-time-bootstrap-select m-bootstrap-select m-bootstrap-select--pill  m_selectpicker reason-dd-1 wallet_id only-one-for" id="wallet_id" name="wallet_id">
                  <%= @list.each do |w| %>
                    <option value="<%= w[:wallet_id] %>" data-balance="<%= w[:balance] %>" data-fee="<%= w[:giftcard_fee] %>" data-lstatus="<%= w[:location_status] %>" data-giftcard="<%= w[:block_giftcard] %>"><%= w[:wallet_name] %></option>
                  <% end %>
                </select>
              <% end %>
              <span id="wallets_error" class="p_error text-danger"></span>
            </div>
            <span id="bal-error" class="font-weight-bold text-danger"></span>
          </div>
          <input type="hidden" name="image_url" value="<%= giftcard[:image_url]%>">
          <input type="hidden" value="<%=giftcard[:gift_card].utid%>" name="utid">

          <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-xs-12">
            <label class="send_from_account-text" for="">Account Balance</label>
            <div class="balance">
              Balance <span id="from_available_amount" class="price pull-right">$0.00
                </span>
            </div>
          </div>
        </div>
        <div class="row mt-4">
          <div class="col-lg-6 col-md-6">
            <div class="form-group m-form__group">
              <label class="send_from_account-text" for="amount_0">Send Card to</label>
                <input type="email" placeholder="email@gmail.com" id="check_recipient" name="email" class="form-control pull-left  product_amount m-input email_field gc_email_input" required="" disabled />
            </div>
            <span id="remail_error" class="p_error text-danger"></span>
          </div>
          <div class="col-lg-6 col-md-6">
            <div class="form-group m-form__group">
              <% if giftcard[:gift_card].min_value.to_f > 0 && giftcard[:gift_card].max_value.to_f > 0 %>
                <%# if giftcard[:gift_card][:min_value].to_f > 0 && giftcard[:gift_card][:max_value].to_f > 0 %>
                <label class="this_is_your_amount_text" for="amount_0">Gift Card Amount</label>
                <div class="input-icon icon_inside_input_field">
                  <i class="addon-margin">$</i>
                  <input id="gft_amount_input" type="text" <%= "disabled" if @list.size > 1 %> name="amount" class="with-90-percent form-control pull-left product_amount m-input two_decimal" required="" min="5" max="500" placeholder="0.00"/>
                </div>
                <p class="limit_margin">
                  <span class="font-weight-bold">Min.$ <i class="min_val" value="<%= number_with_precision(giftcard[:gift_card].min_value.to_f , precision: 2 )  %>"><%=number_with_precision(giftcard[:gift_card].min_value.to_f , precision: 2 )  %></i></span>
                  <span class="font-weight-bold pull-right">Max.$ <i class="max_val" value="<%=number_with_precision(giftcard[:gift_card].max_value.to_f , precision: 2 )%>"><%=number_with_precision(giftcard[:gift_card].max_value.to_f , precision: 2 )%></i></span>
                </p>

                <p id='gft_amount_input_error'></p>
                <span id="amount_error" class="font-weight-bold text-danger"></span>
                <span id="errorTxt" class="font-weight-bold text-danger"></span>
              <% else %>
                <label class="this_is_your_amount_text" for="amount_0">Gift Card Amount</label>
                <div class="input-icon icon_inside_input_field">
                  <i class="addon-margin">$</i>
                  <input id="gft_amount_input" type="number" name="amount" class="form-control fixed_amount_field" value="<%= number_with_precision(giftcard[:gift_card].face_value, :precision => 2, delimiter: ',') %>" readonly/>
                </div>
                <span id="amount_error" class="font-weight-bold text-danger"></span>
              <% end %>
              <div class="f-color-777777">
                <div class="simple-text" id="fee_div"><span id="amount">Amount: $00.00</span> &nbsp;&nbsp; <span id="fee2">Fee: $00.00</span> &nbsp;&nbsp;
                  <span class="total style-1" id="total">Total: $00.00</span></div>
              </div>
            </div>
          </div>
        </div>
        <div class="text-center mt-5">
          <a href="#" id="buy_submit" class="con btn btn-default giftcard-m-submit buy_button">Submit</a>
        </div>
      </div>
      <% end %>
    </div>
  </div>
</div>

