<div class="m-subheader">
  <div class="d-flex align-items-center">
    <div class="mr-auto">
      <ul class="m-subheader__breadcrumbs m-nav m-nav--inline set-path">
        <li class="m-nav__item">
          <a href="#" class="m-nav__link">
            <span class="my-order-nav">
                Withdraw
            </span>
          </a>
        </li>
        <li class="m-nav__separator">
          <%= image_tag "v2/merchant/icons/angle.svg"%>
        </li>
        <li class="m-nav__item">
          <a href="<%= v2_merchant_giftcards_path %>" class="m-nav__link">
              <span class="my-order-nav">
                  My Gift Card
              </span>

          </a>
        </li>
        <li class="m-nav__separator">
          <%= image_tag "v2/merchant/icons/angle.svg"%>
        </li>
        <li class="m-nav__item">
          <a href="<%= buy_giftcard_v2_merchant_giftcards_path %>" class="m-nav__link">
              <span class="order-active">
                  Buy Gift Card
              </span>
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>

<div class="m-content">
  <div class="row">
    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-xs-12">
      <div class="simple-36-normal-text mb-4">
        Buy Gift Card
      </div>
    </div>

  </div>
  <div class="m-portlet m-portlet--mobile m-portal_datatable">
    <div class="m-portlet__body">

      <%= render partial: "v2/merchant/shared/datatable_search",locals: {filter_path: buy_giftcard_v2_merchant_giftcards_path, search_id: "bg_search"} %>
      <!--begin: Datatable -->
      <%= render partial: "v2/merchant/shared/buy_giftcard_datatable" %>
    </div>
  </div>
</div>
<!-- END EXAMPLE TABLE PORTLET-->

<!--  buy gift card modal 2-->
<%#= render partial: "buy_giftcard_modal_1" %>

<!--  buy gift card confirmation-->
<%= render partial: "giftcard_confirmation" %>

<!--  buy gift card confirmation-->
<%#= render partial: "giftcard_confirmation1" %>

<!--  buy gift card success-->
<%= render partial: "giftcard_success" %>
<%= render 'v2/merchant/shared/error_modal' %>

<section id="buy_gift_section" class=""></section>
<%= javascript_include_tag "v2/merchant/giftcards" %>