<% giftcard = AppConfig.try(:giftcard).try(:first) %>
<% if (giftcard.present? && giftcard.boolValue == false)  %>
  <%= render 'shared/maintenance_modal', locals: {title: 'Giftcard is Blocked', body: 'We apologize for the inconvenience, however this feature is not available at this time as Giftcard is Inactive.'} %>
<% end %>
<div class="m-subheader">
  <div class="d-flex align-items-center">
    <div class="mr-auto">
      <ul class="m-subheader__breadcrumbs m-nav m-nav--inline set-path">
        <li class="m-nav__item">
          <a href="#" class="m-nav__link">
            <span class="my-order-nav">
                Withdraw
            </span>
          </a>
        </li>
        <li class="m-nav__separator">
          <%= image_tag "v2/merchant/icons/angle.svg"%>
        </li>
        <li class="m-nav__item">
          <a href="<%= v2_merchant_giftcards_path %>" class="m-nav__link">
              <span class="order-active">
                My Gift Card
              </span>
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>

<div class="m-content">
  <div class="m-portlet m-portlet--mobile m-portal_datatable">
    <h3 class="m-subheader__title ach-heading-custom flex-line flex-between mb-24">
        My Gift Cards
      <div class="actions-header">
        <button type="button" class="btn m-btn--pill btn-secondary activity_log__btn slide-toggle slide-toggle-open" data-type="giftcard">
          <span >Activity Log </span><%= image_tag "v2/activity_log/noun_clock_1698764.svg", class: "timer-width-18 " %>
        </button>
        <% if (giftcard.present? && giftcard.boolValue == false)  %>
          <a data-toggle="modal" data-target="#maintenance-modal" class="btn btn-default ml-3 btn-preview-invoice">Buy Gift Cards</a>
        <% elsif @user_permission.try(:gift_card_add) %>
          <a href="<%= buy_giftcard_v2_merchant_giftcards_path %>" class="btn btn-default ml-3 btn-preview-invoice">Buy Gift Cards</a>
        <% end %>
      </div>
    </h3>
    </div>
  <div class="m-portlet m-portlet--mobile m-portal_datatable">
    <div class="m-portlet__body">
      <!--begin: Datatable -->
      <% if @user_permission.try(:gift_card_view_only) %>
        <%= render partial: "v2/merchant/shared/datatable_search",locals: {filter_path: v2_merchant_giftcards_path,search_id: "client_search"} %>
      <% end %>
      <%= render partial: "v2/merchant/shared/giftcards_datatable" %>
    </div>
  </div>
</div>
<%= javascript_include_tag "v2/merchant/giftcards" %>
<!-- END EXAMPLE TABLE PORTLET-</div>