
<div class="box">
  <div class="box-header with-border">
    <div class="col-md-12">
      <div class="row">
        <div class="col-md-6">
          <h3 class="box-title">Order Shipment Details</h3>
        </div>
      </div>
    </div>
  </div>
  <div class="box-body">
    <div class="row filter_container">
      <div class="col-md-12">
        <span id="show">Show</span>
        <span id="show_left">
              <%= form_tag merchant_shipment_index_path, method: :get , id: 'shipment_filter'  do  %>
                 <%= select_tag "filter", options_for_select(@filters.map{|v|[v]}, selected: params[:filter].present? ? params[:filter] : "10"),
                                :prompt => false,
                                :required => true,
                                class: "form-control form-control-sm",
                                data: {confirm: "Are you sure ?"}
                 %>
              <% end %>
            </span>
        <span id="entries">Entries</span>
      </div>
      <div class="col-md-12"></div>
    </div>
    <table class="table table-striped">
      <thead>
      <tr class="table-header">
        <th >Risk Eval.</th>
        <th>Txn ID</th>
        <th>DBA Name</th>
        <th>Order Timestamp</th>
        <th>Shipment Timestamp</th>
        <th>Delivered Timestamp</th>
        <th>Carrier</th>
        <th>Tracking #</th>
        <th>Customer Name</th>
        <th>Status</th>
        <th>Last 4</th>
        <th>Total Txn Amount</th>
        <th>View / Edit</th>

      </tr>
      </thead>
        <tbody>
        <% if @txn.count > 0 %>
          <% @txn.each do |t| %>
            <tr>
              <td></td>
              <td ><%= t.id %></td>
              <td><%= t.tags["location"]["business_name"] %></td>
              <td><%= t.created_at %></td>
              <td><%= t.tracker.created_at %></td>
              <td><%= t.tracker.est_delivery_date %></td>
              <td><%= t.tracker.carrier %></td>
              <td><%= t.tracker.tracker_code %></td>
              <td><%= t.sender.name %></td>
              <td><%= t.tracker.status %></td>
              <td><%= t.last4 %></td>
              <td><%= number_to_currency(t.total_amount) %></td>
              <td>
                <div class="dropdown">
                  <a href="#" class="dropdown-style"  data-toggle="dropdown" >●●●
                  </a>
                  <ul class="dropdown-menu white-background">

                    <li><%= link_to "View Order","", class:"btn btn-sm show-dynamic-modal show-cover-spin", remote: true, data: { :"modal_selector" => "#modal_id", "modal_container_selector" => "#custom_modal", method: "GET", "url_path" =>  merchant_transaction_local_details_modal_path(t.id,trans: "3ds_tracker",wallet_id: @wallet_id) }  %></li>
                    <li><%= link_to "Add Tracking #","", class:"btn btn-sm show-dynamic-modal show-cover-spin", remote: true, data: { :"modal_selector" => "#add_tracker", "modal_container_selector" => "#tracker_modal", method: "GET", "url_path" =>  add_tracker_merchant_orders_path(t_id: t.id,wallet_id: @wallet_id) }  %></li>
                    <li><%= link_to "Generate Label","", class:"btn btn-sm show-dynamic-modal show-cover-spin", remote: true, data: { :"modal_selector" => "#add_tracker", "modal_container_selector" => "#tracker_modal", method: "GET", "url_path" =>  add_tracker_merchant_orders_path(t_id: t.id,wallet_id: @wallet_id) }  %></li>
                    <li><%= link_to "Cancel Order","", class:"btn btn-sm show-dynamic-modal show-cover-spin", remote: true, data: { :"modal_selector" => "#add_tracker", "modal_container_selector" => "#tracker_modal", method: "GET", "url_path" =>  add_tracker_merchant_orders_path(t_id: t.id,wallet_id: @wallet_id) }  %></li>
                    <li><%= link_to "Refund Order","", class:"btn btn-sm show-dynamic-modal show-cover-spin", remote: true, data: { :"modal_selector" => "#add_tracker", "modal_container_selector" => "#tracker_modal", method: "GET", "url_path" =>  add_tracker_merchant_orders_path(t_id: t.id,wallet_id: @wallet_id) }  %></li>

                  </ul>
                </div>

              </td>
            </tr>
          <% end %>
        <% else %>
          <tr>
            <td colspan="13" id="no_data">Data Not Found</td>
          </tr>
        <% end %>
        </tbody>
        </table>

      </div>
  <div id="tx_pagination">
    <span id="showing">Showing <%=@txn.try(:size)%> of <%=@txn.count %> records</span>
    <%#= paginate @txn, :theme => 'twitter-bootstrap-3', :pagination_class => "pagination-small pagination-centered pull-right padd" %>
  </div>
</div>
