
a {
    cursor: pointer;
}
#notifications_section{
    word-wrap: break-word
}

@media screen  and (min-width: 1220px){

    .margin_top{
        margin-top: 8px;
    }
    .marginleft{
        margin-left: 2% !important;
        margin-top: -29px;
    }
    .users_tabs{
        font-weight: bold; font-size: 20px!important;   text-align: center;
    }
    #case_anchor1 {
        width: 170px !important;
        margin-left: 1px;
    }

    #case_anchor2 {
        width: 70px !important;
        margin-left: 1px;
    }

    #case_anchor3 {
        width: 207px !important;
        margin-left: 1px;
    }

    #case_anchor4 {
        width: 171px !important;
        margin-left: 1px;
    }

    #case_anchor5 {
        width: 170px !important;
    }

    #case_anchor6 {
        width: 122px !important;
    }
}

.eye_class{
    border: 1px solid white;
    padding: 0px 10px;
    border-radius: 4px;
}
.case_number_class{
    width: 50%;
    color:black;
}
.position_eye_class{
    padding: 0px 46px;
    color: white !important;
}
.inner_content{
    padding: 0px;
    /* border: 1px solid black; */
    margin: 0px 5px;
    width: 100%;
}
.inner_content_header{
    /*background-color: grey;*/
    /*text-align: center;*/
    /*color: white;*/
    /*padding: 5px;*/
}
.dspute_case_after{
 border: 1px solid red;
    margin-left: 161px;
}
.inner_content_body{
}
.inner_content_body_left{
    width: 50%;
}
.inner_content_body_right{
    width: 50%;
}
.inner_content_body_table{
    padding: 10px;
    width: 100%;
}
.inner_content_body_table_transaction{
    /*padding: 10px;*/
    width: 100%;
}
.table_text_field_transaction{
    margin: 2px 0px;
    width: 100%;
    border: none;
    border-bottom: 1px solid grey;
}
.table_header{
    font-size: 17px;
    font-weight: 600;
    text-decoration: underline;
    color: black;
}
.table_header_notification{
    padding:0px 0px 10px 50px;
}
.table_text_field{
    border:1px solid black;
    width:49%;
}
.table_text_field_area_code{
    width: 18%
}
.font_under_line {
    padding:0% 0% 0% 35%;
    text-decoration: underline;
}
.merchant_name{
    float: left;
    width: 45%;
}
.gateway_name{
    float: left;
    width: 45%;
}
.reason_selection{
    padding: 0px;
}
.reason_selection_add{
    padding: 8px 18px;
    margin: 0px;
    width: 10%;
}
.note_notification_add{
    border: 1px solid #cccccc;
    border-radius: 5px;
    padding-left: 25px;
    padding-top:10px;
    width: 81%;
    min-height:31px;
}
.table_header_notification_second_nest{
    padding: 0% 0% 0% 20%;
}
::placeholder { /* Chrome/Opera/Safari */
    color: #55595c !important;
}
#dispute_case_submit_button{
    display: none;
}
.well{
    margin-bottom: 0px !important;
}
.modal-body{
    padding:5px !important;
}
.col-md-8{
    padding-left: 0px;
    padding-right: 0px;
}
.attachment_display{
    display: inherit !important;
    height: 35px !important;
}
.notification_modal{
    width: 35%;
    margin-left: 50%;
}
.custom_form{
    padding: 0px 30px !important;
}
#warning_showing_span{
    padding: 0px 31px;
    color: red;
}
#EditWithoutSaveModal{
    z-index: 20000 !important;
}
.custom_form{
    padding: 0px 30px !important;
}
#warning_showing_span{
    padding: 0px 31px;
    color: red;
}
#notificationNoteModal
{
    z-index: 20000 !important;
}
.dataTables_wrapper .dataTables_paginate {
    padding : 10px;
}
.dataTables_wrapper .dataTables_paginate .paginate_button {
    padding : 0px;
    margin-left: 0px;
    display: inline;
    border: 0px;
}
.dataTables_wrapper .dataTables_paginate .paginate_button:hover {
    border: 0px;
}
#datatable-keytable_info{
    display:none;
}
#datatable-keytable{
    width: 100% !important;
}
.users_tabs > li > a {
    border: none;
    outline: none;
    padding: 10px 16px;
    background-color: lightgrey;
    cursor: pointer;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.users_tabs > li > a:hover {
    background-color: #8171ae;
    color: white;
}
.users_tabs > li.active > a, .users_tabs > li.active > a:focus {
    background: #1c165c;
    color: white;
}
.search-export{
    padding-right: 5%;
    padding-left: 5%;
    padding-top: 2%;
}
.padd{
    margin: 15px 15px 20px 0px;
}
.search-btn{
    margin-left: 5%;
    margin-bottom: 1%;
}
.cases_blue_box{
    width: 13%;
}
#notifications_section{
    word-wrap: break-word
}
.eye_class{
    border: 1px solid black;
    padding: 0px 10px;
    border-radius: 4px;
}
.case_number_class{
    width: 80%;
}
.position_eye_class{
    float: right;
}
.inner_content{
    padding: 0px;
    border: 1px solid black;
    margin: 10px 20px;
    width: 96%;
}
.inner_content_header{
    background-color: grey;
    text-align: center;
    color: white;
    padding: 5px;
}
.inner_content_body{

}
.inner_content_body_left{
    width: 50%;
}
.inner_content_body_right{
    width: 50%;
}
.inner_content_body_table{
    padding: 10px;
    width: 100%;
}
.inner_content_body_table_transaction{
    padding: 10px;
    width: 100%;
}
.table_text_field_transaction{
    margin: 2px 0px;
    width: 100%;
    border: none;
    border-bottom: 1px solid grey;
}
.table_header{
    font-size: 17px;
    font-weight: 600;
}
.table_header_notification{
    padding:48px 0px 30px 125px;
}
.table_text_field{
    border:1px solid black;
    width:49%;
}
.table_text_field_area_code{
    width: 18%
}
.font_under_line {
    text-decoration: underline;
}
.merchant_name{
    float: left;
    width: 30%;
}
.gateway_name{
    float: left;
    width: 30%;
}
.reason_selection{
    padding: 0px;
}
.reason_selection_add{
    padding: 0px 13px;
    margin: 0px;
    width: 10%;
}
.form_body{
    border: 1px solid #cccccc;
}
.heading-doc{
    border-bottom: 1px solid #cccccc;
    border-top: 1px solid #cccccc;
}
.form-inputs{
    margin-top: 2%;
}
.form-label{
    text-align: right;
}
hr{
    border-bottom: 1px solid #cccccc;
    width: 100%;
    margin-top: 2%;
    margin-bottom: 2%;
}
[type=file] {
    position: absolute;
    filter: alpha(opacity=0);
    /*opacity: 0;*/
    cursor: pointer;
}
input,
[type=file] + label {
    border: 1px solid #CCC;
    border-radius: 3px;
    text-align: left;
    margin: 0;
    left: 0;
    position: relative;
}
[type=file] + label {
    left: -1em;
    top: 0em;
    /* Decorative */
    color: #fff;
    border: none;
    cursor: pointer;
}
.icon_ellipsis{
    width: 3%;
    text-align: center;
    background: lightgray;
}
[type=file] + label:hover {


}

.icon_ellipsis{
    width: 2%;
    text-align: center;
    background: lightgray;
    border-radius: 50%;
    float: left;
    margin-top: .5%;
    margin-right: 1%;
    color:white;
}
/*label {*/
/*  display: inline-block;*/
/*  width: 5em;*/
/*  padding: 0 1em;*/
/*  text-align: right;*/
/*}*/
.file{
    z-index: 10;
    opacity: 0;
}
/*table {*/
/*  margin: 0 auto;*/
/*  width: 100%;*/
/*  clear: both;*/
/*  border-collapse: collapse;*/
/*  table-layout: fixed;*/
/*  word-wrap: break-word;*/
/*}*/

.dataTables_wrapper .dataTables_paginate {
    padding: 10px;
}

.dataTables_wrapper .dataTables_paginate .paginate_button {
    padding: 0px;
    margin-left: 0px;
    display: inline;
    border: 0px;
}

.dataTables_wrapper .dataTables_paginate .paginate_button:hover {
    border: 0px;
}

div.table-responsive > div.dataTables_wrapper > div.row {
    margin: 0;
    margin-top: 20px;
    margin-bottom: 20px;
}

#cc_report li a {
    background-color: #fff;
    color: #000;
}

.btn-file {
    position: relative;
    overflow: hidden;
}
.btn-file input[type=file] {
    /*position: absolute;*/
    /*top: 0;*/
    /*right: 0;*/
    /*min-width: 100%;*/
    /*min-height: 100%;*/
    /*font-size: 100px;*/
    /*text-align: right;*/
    /*filter: alpha(opacity=0);*/
    opacity: 0;
    background: red;
    cursor: inherit;
    display: block;
}
.file-input-label {
    padding: 0px 10px;
    display: table-cell;
    vertical-align: middle;
    /*border: 1px solid #ddd;*/
    /*border-radius: 4px;*/
}
input[readonly] {
    background-color: white !important;
    cursor: text !important;
}
#table_head{
    display: none;
}
.table_data{
    text-align: center;
}
#success_badge{
    background: #6a9e3b;padding-top: 5px;padding-bottom: 5px;padding-left: 15px;padding-right: 15px;
}
.primary_badge{
    background:#6d85fb;padding-top: 5px;padding-bottom: 5px;padding-left: 15px;padding-right: 15px;
}
#danger_badge{
    background:red;padding-top: 5px;padding-bottom: 5px;padding-left: 43px;padding-right: 43px;
}
.danger_badge1{
    background:firebrick;padding-top: 5px;padding-bottom: 5px;padding-left: 43px;padding-right: 43px;
}
.danger_badge2{
    background:#ffa425;padding-top: 5px;padding-bottom: 5px;padding-left: 43px;padding-right: 43px;
}
#pagination_1{
    margin-left: 16px;
}
#close_modal_button{
    color: white; opacity: 1;
}
.modal_dialog7{
    width: 34% !important; height: 45%;
}
.modal_content7{
    overflow: hidden;
}
.modal_header7{
    background: #424242; color: white;
}
#dialog1{
    width: 90% !important; color:black;box-shadow: 1px 2px 219px 110px rgba(0,0,0,0.56);
}
#case_1{
    padding-right: 1px;
}
#case_label{
    float: right;
}
#case_label1{
    padding-top:7px;float: right;padding-right: 2%;font-size: larger;
}
#case_2{
    padding-left: 0px;padding-right: 1px;
}
#cases_div{
    border-bottom: 0px;
}
#cases_row{
    margin-top: 10px;
}
.cases_div1{
    margin-top: 15px;
}
#cases_data_table{
    border-top: 1px solid lightgrey;
}
#note_dispute{
    margin: 0px;
}
#evidence_1{
    color:grey;
}
#evidence_2{
    width: 95%; background: white;
}
#evidence_h{
    float: left;
}
#accept_btn{
    float:right;margin-top: 0.5%;
}
#email_field{
    display: none;
}
.evidence_label{
    color:blue; cursor: pointer; width: 16%;
}
.evidence_note{
    font-size: 13px;
}
#evidence_heading{
    color:black;
}
#note_123{
    font-size: 13px;margin-left: 53px;
}
.shipping_date{
    width: 27%;
}
#imported_div{
    border-bottom: 1px solid lightgray;
}
#row_import{
    margin-top: 10px;
}
.importForm{
    margin-top: 20px;
}
#info_box{
    display: none;
}
#report_body_4{
    display: none;
}
#error_body{
    display: none;
}
#div420{
    margin-top: 20px;
}
#download_link{
    margin-left:175px;
}
.div_import{
    margin-top: 20px; margin-bottom: 40px;
}
#disputeCaseModal{
    z-index: 10000;
}
#dispute-dialog{
    width: 48% !important; color:black;box-shadow: 1px 2px 219px 110px rgba(0,0,0,0.56);
}
#dispute-header{
    background: #424242; color: white;
}
#close-btn2{
    color: white; opacity: 1;
}
#form-row{
    padding-right: 0px; overflow-x: hidden; box-shadow: 0px 1px 3px 1px #dbdbdb;border-radius: 5px; padding: 20px; margin-left: 5px; margin-top: 10px;margin-right: -4px;
}
#form-row1{
    margin-right: 0px;
}
#form-div{
    padding: 10px;
}
.padd_left{
    padding-left: 0px;
    height: 27px !important;
}
.font_weight{
    font-weight: 600;
}
.font_weight1{
    font-weight: 600;
    color: black;
}
.padd_left1{
    padding-left: 0px;
    margin-bottom: 0px;
}
.color-class{
    color:#0275d8;
}
#dispute-div{
    padding: 10px;padding-left:0px;padding-bottom: 10%;
}
.dispute-style{
    font-weight: 500;padding-left:5px;
}
.disp_none{
    display: none;
}
#dispute_case_case_number{
    width: 80%;
}
.disabled_style{
    background-color: white; height: 24px;
}
#duplicate-btn{
    margin-bottom: -5px !important;
}
#dispute_case_submit_button{
    position:relative;left:-85%;bottom:-65px
}
#save-div{
    width: 200px; margin: 0 auto; padding: 10px;
}
#margin_top{
    margin-top: 10px;
}
.remove{
    position: relative;
    right: 15%;
}
#span_1{
    margin: 5px;
}
#attach_label{
    float: left;font-weight:bold;color:black;
    font-size: 12px !important;
    padding: 0px !important;
    width: 80.406px !important;
    height: 19px !important;

}
#div_attach{
    margin-top:20px;
    /*height: 52.125px !important;*/
}
#charge_fee{
    font-weight:bold;color:black;margin-top: 10px;margin-left: 20px;
    padding: 0px !important;
    width: 100.719px !important;
    height: 19px !important;
    font-size: 12px !important;
}
#on_div{
    margin-top: 10px;margin-left: 5px;color: white;font-size: 11px;
}
#off_div{
    margin-top: 10px;margin-right: 5px;font-size: 11px;
}
#div-margin{
    margin-top: 97px;
}
#store_btn{
    background-color: white;padding: 0px !important;color: #7867a7;
}
#div_001{
    padding-right: 0px; overflow-x: hidden;box-shadow: 0px 1px 3px 1px #dbdbdb;border-radius: 5px; padding: 20px; margin-left: 5px;margin-top: 10px;margin-right: -4px;
}
.margin_right{
    margin-right: 0px;
}
.padd{
    padding: 10px;
}
.pad_case_card{
    padding: 10px !important;
}
#qc_div{
    color: #00a65a;
}
#passed_span{
    color: #00a65a;padding-left:5px;
}
#major_div{
    padding-right: 0px; overflow-x: hidden;box-shadow: 0px 1px 3px 1px #dbdbdb;border-radius: 5px; padding: 20px; margin-left: 5px;padding-left: 0px;margin-top: 10px;margin-right: -4px;
}
#div_002{
    padding-left: 14px;
}
#div_003{
    padding-bottom: 10px;padding-top: 10px;
}
#div_004{
    padding-bottom: 10px;
}
#label_001{
    padding: 0px !important;
    padding-right: 3px !important;
    width: 82.5px !important;
    height: 19px !important;
    margin-bottom: 8px;
    color: black !important;
    font-size: 12px;
}
#case_number_error{
    color: darkred;
    display: none;
    margin-left:35%;
}
.div_005{
    padding-bottom: 10px;
}
#dispute_type_label{
    padding:0px 3px 0px 0px;
    font-weight:bold;
    font-size: 12px !important;
    color: black !important;
    width: 83.047px !important;
    height: 19px !important;
}
#dispute_case_dispute_type_selection{
    width: 80%;
}
#recieve_label{
    font-weight:bold !important;
    font-size: 12px !important;
    color:black !important;
    padding: 0px !important;
    width: 87.578px !important;
    height: 19px !important;
}
#due_date_label{
    padding: 0px;
    font-weight:bold !important;
    font-size: 12px !important;
    color:black !important;
    width: 59.094px !important;
    height: 19px !important;
    margin-bottom: 8px !important;
}
#reason_label{
    padding: 0px 31px 0px 0px;
    font-weight:bold !important;
    color:black !important;
    font-size: 12px !important;
}
#div_005{
    padding-right: 0px; margin-right: 0px !important; padding-left: 0px;
}
#amount_label{
    padding: 0px 29px 0px 0px;
    font-weight:bold !important;
    font-size: 12px !important;
    width: 16%;
    color:black !important;
    width:80%;
}
.amount_field{
    width: 80%;
}
#card_type_label{
    padding: 0px 27px 0px 0px;font-weight:bold;color:black;
}
#style_label{
    padding: 0px 50px 0px 0px;
    font-weight:bold !important;
    color:black !important;
    font-size: 12px !important;
}
#label_002{
    padding: 0px 29px 0px 0px;float: left;font-weight:bold;color:black;
    font-size: 12px !important;
}
#new_note{
    color:#545f73;font-size:12px;border-radius:4px;
}
#div_006{
    padding: 0px; margin-top: 7px;
}
#p_001{
    margin: 0px;float: left;width: 89%; border-bottom: 1px solid lightgray;
}
#table_text_field_transaction_dispute{
    width: 91%;
}
#div_007{
    padding-bottom: 10px; display:none;
}
#link_tag{
    margin-top: 10px;margin-left: -15px;
}
#dispute_case_recieved_date_id, #dispute_case_due_date_id, #dispute_detail_amount, #status_selected_dispute_case{
    width: 80%;
}
#notificationReasonModal{
    z-index: 10000;
}
.fields{
    margin-top: 5%;
}
.modal_content7{
    height: 320px !important;
    overflow-y: hidden !important;
}
/*
.modal-content{
    height: 0%;
    overflow-y: auto;
}
*/
#dispute_save_duplicate_btn{
    text-align: center
}
#cover-spin{
    z-index: 30000;
}
.file-btns{
    float:right;
}
.download-btn{
    color:black !important;
}
.file-del-btn{
    color:red;
    padding:0px 0px 0px 5px;
}
.note-1{
    padding: 0px; margin-top: 7px
}
.note-2{
    margin: 0px;float: left;width: 87%; border-bottom: 1px solid lightgray
}
.note-3{
    background-color: white;padding: 0px !important;padding-left: 5px !important;color: #7867a7
}
.delete-note-btn{
    background-color: white;padding: 0px !important; color: #7867a7
}
.del-1{
    margin: 0px;float:left
}
.del-a{
    color:black
}
#ui-datepicker-div {
    width: 14.6% !important;
}
.ui-datepicker table{
    width: 100% !important;
    table-layout: auto !important;
}
.notes-div{
    padding-left: 0px !important;
    padding-right: 0px !important;
}
.files_section
{
    height: 218.250px !important;
}
.col-md-10
{
    padding-top: 15px;
}