<div id="checks_table" class="col-lg-12 col-md-12 col-sm-12 table  charge_back_table mt-4">
  <table  class="pt-0 chargeback_datatable">
<!--<table class="table table-striped- table-bordered table-hover table-checkable listing_datatable" id="m_table_1">-->

  <thead>
    <tr>
    <th>
      Check ID
      <%# sort_link(@q, :id, "Check ID") %>
    </th>
    <th>
      Check <br/>Number
    </th>
    <th>
      Creation Date
      <%# sort_link(@q, :created_at, "Creation Date") %>  
    </th>
    <th>
      Account
      <%# sort_link(@q, :wallet_name, "Account") %> 
    </th>
    <th>
      Name on Check
      <%# sort_link(@q, :name, "Name on Card") %>
    </th>
    <th>
      Email
      <%# sort_link(@q, :recipient, "Email") %>
    </th>
    <th class="amount-th">
      Check <br/> 
      Amount
      <%# sort_link(@q, :actual_amount, "Amount") %>
    </th>
    <th class="amount-th">
      Fee
      <%# sort_link(@q, :total_fee, "Fee") %> 
    </th>
    <th class="amount-th">
      Total <br/> 
      Amount
      <%# sort_link(@q, :amount, "Amount") %>
    </th>

         <th>
          <center>
            <%= render partial: "v2/merchant/checks/check_status" %>
          </center>
        </th>
      </tr>
  </thead>
    <%   if !@checks.empty? && @user_permission.try(:check_view_only) %>
    <tbody>
      <%  @checks.each_with_index do |c,i|  %>
      <tr class="charge_back_hover <%= (i+1).odd? ? "odd" : "even"%> " data-id=<%= c.id %>>
        <td class="check_id_td"><%=c.id   %></td>
        <% if c.ach? %>
          <td><%= c.checkId.blank? ? "----" : ach_check_number(c.checkId) %></td>
        <% else %>
          <td><%= c.number.blank? ? "----" : c.number %></td>
        <% end %>
          <% if cookies[:timezone].present? %>
            <td ><%= c.created_at.in_time_zone(cookies[:timezone]).strftime("%m-%d-%Y %I:%M:%S %p")%></td>
          <%else %>
            <td class="timeUtc"><%= c.created_at.strftime("%m-%d-%Y %I:%M:%S %p")%></td>
          <% end %>
        <!--                      <td><%#= c.number.blank? ? "-" : c.number %></td>-->
        <% if current_user.merchant? %>
          <td> <%= Wallet.find_by_id(c.wallet_id).try(:name) %></td>
        <% end %>
        <td><%= c.name.truncate(23)  %></td>
        <td><%=c.recipient%></td>
        <td class="amount-td">$ <%= number_with_precision(c.actual_amount.to_f, :precision => 2, delimiter: ',') %></td>
        <td class="amount-td">$<%= get_total_fee(c.check_fee, c.fee_perc, c.actual_amount,c) %></td>
        <td class="amount-td">$ <%= number_with_precision(c.amount.to_f, :precision => 2, delimiter: ',') %></td>
    
        <td>
<!--                  <span class="badge badge-info"><%#= ach_status(c.status)  %></span>-->

        <center>
          <% if c.status == "PAID" %>
            <span class="badge paid"><%=  c.status %></span>
          <% elsif c.status == "UNPAID" %>
            <span class="badge canceled"><%=  c.status %></span>
          <% elsif c.status == "VOID" %>
            <span class="badge past_due"><%=  c.status %></span>
          <% elsif c.status == "IN_PROCESS" || c.status == "captured" %>
            <span class="badge in_progress"><%=  ach_status(c.status) %></span>
          <% elsif c.status == "IN_PROGRESS" %>
            <span class="badge in_progress"><%= ach_status(c.status) %></span>
          <% elsif c.status == "PAID_WIRE" %>
            <span class="badge paid">PAID BY WIRE</span>
          <% elsif c.status == "PENDING" || c.status == "pending"%>
            <span class="badge pending"><%= c.status  %></span>
          <% elsif c.status == "FAILED" %>
            <span class="badge canceled"><%= c.status  %></span>
          <% elsif c.status == "COMPLETE" %>
            <span class="badge paid"><%=  c.status  %></span>
          <% else %>
            <span class="badge badge-info status_style"><%= c.status  %></span>
          <% end %>
          </center>
        </td>
      </tr>
    <%   end  %>
    <% else %>
      <tr>
        <td colspan="10">
          <div class="col-xl-12 ">
            <center  class="m-5 p-5">
              <%= image_tag "v2/merchant/datatable/no_data.svg" %>
              <p class="No-data-available mt-4 mr-4">No data available</p>
            </center>
          </div>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>
<%   if  @user_permission.try(:check_view_only) %>
<%= render partial: "v2/merchant/shared/datatable_pagination" , locals: {variable: @checks} %>
  <% end %>
<div class="total_amount_div ">
  <div class="total_pending"><%= @total_pending %></div>
  <div class="total_failed"><%= @total_failed %></div>
  <div class="total_void"><%= @total_void %></div>
  <div class="total_paid"><%= @total_paid %></div>
  <div class="total_unpaid"><%= @total_unpaid %></div>
  <!-- <div class="total_in_process"><%= @total_in_process %></div> -->
  <div class="total_paid_wire"><%= @total_paid_wire %></div>
</div>