<div class="modal fade" id="ConfimP2cModal" class="confirm-p2c-modal" tabindex="-1" role="dialog" aria-labelledby="orderModelLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header" >
        <p class="my-modal-header">New E-Check</p>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">

        </button>
      </div>
      <div class="modal-body">
        <div class="account-transfer-confirm m-4">
          <div class="row">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
              <div class="text">
                Confirm Your Information
              </div>
            </div>
          </div>
          <form onsubmit="return false">
            <div class="row mt-4">
              <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-xs-12">
                <div class="brown">
                  <div class="small">
                    Account
                  </div>
                  <div class="name account_name" id="trans_from">
                    
                  </div>
                </div>
                <div class="simple">
                  <div class="small">
                    Recipient Email
                  </div>
                  <div class="name rec_email" id="trans_to">
                    
                  </div>
                </div>
                <div class="brown">
                  <div class="small">
                    Pay to the Order of
                  </div>
                  <div class="name" id="trans_date">
                    
                  </div>
                </div>
                <div class="simple">
                  <div class="small">
                    Description
                  </div>
                  <div class="name description_memo" id="trans_memo">
                    
                  </div>
                </div>
              </div>
              <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-xs-12">
                <div class="right-box">
                  <div class="title">
                    Amount
                  </div>
                  <hr class="hr mt-3">
                  <div class="simple">
                    <div class="label lab-side">
                      Available Balance
                      <span class="price pull-right available_balance" id="avail_balance">
                      $0.00
                    </span>
                    </div>
                  </div>
                  <div class="brown">
                    <div class="label lab-side">
                      Check Amount
                      <span class="price pull-right transfer_amount" id="trans_amount">
                      $0.00
                    </span>
                    </div>
                  </div>
                  <div class="simple">
                    <div class="label lab-side">
                      Fee
                      <span class="price pull-right fee">
                       $0.00
                      </span>
                    </div>
                  </div>
                  <div class="brown">
                    <div class="label lab-side">
                      Total amount
                      <span class="price pull-right total_amount" id="total_amount">
                      $0.00
                    </span>
                    </div>
                  </div>
                  <hr class="hr mt-3">
                  <div class="brown border-right">
                    <div class="label lab-side">
                      Remaining Balance
                      <span class="price pull-right remaining_balance" id="remain_balance">
                      $0.00
                    </span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="row mt-4">
              <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12 text--center">
                <div class="mt-4 text--center">
                  <a href="#" class="btn activity_log_btn text--center  m-btn m-btn--icon mr-3 back" data-dismiss="modal" aria-label="Close" data-toggle='modal' data-target = '#newcheckModal'>
                    Back
                  </a>
                 <!--  <a id="confirm-check" class="btn btn-default btn-preview-invoice succes--call" data-dismiss="modal" aria-label="Close">Confirm</a> -->
                  <!-- <a href="#" class="btn btn-default btn-preview-invoice succes--call" data-dismiss="modal" data-target="SuccessAccountTransferModal">Confirm</a> -->
                   <a href="#" id="confirm_check" class="btn btn-default btn-preview-invoice succes--call" data-dismiss="modal" aria-label="Close" data-toggle='modal' data-target = '#SuccessAccountTransferModal'>Confirm</a>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

<%= render partial: "check_success" %>