  <div class="m-subheader ">
    <div class="d-flex align-items-center">
      <div class="mr-auto">
        <h3 class="m-subheader__title ">
          My Profile
        </h3>
      </div>
    </div>
  </div>
  <!-- END: Subheader -->
  <div class="m-content">
    <div class="row profile_section">
      <div class="col-lg-12">
        <%= form_for @user , as: :user , url: customers_profile_path(@user),html: {class: "edit-profile-form" , multipart: true} do |f| %>
          <div class="row">
            <div class="col-lg-3 col-md-3 col-sm-3 profile">
              <div class="m-card-profile">
                <div class="m-card-profile__title m--hide">
                  Your Profile
                </div>
                <div class="m-card-profile__pic">
                  <div class="m-card-profile__pic-wrapper">
                    <div class="overlay" id="OpenImgUpload">
                      <%= f.fields_for :profile_image_attributes do |profile_image| %>
                      <div class="image-box">
                        <div  class="image-box__background"></div>
                        

                          <%= image_tag f.object.profile_image.present? ?  @user.profile_image.document.url(:thumb) : "customers/images/profile/edit-profile.svg" , id: "editProfile" %>
                          <%= profile_image.file_field :document, accept: 'image/png,image/gif,image/jpeg,image/jpg'  %>
                        
                          
                        
                        <div class="image-box__overlay"></div>
                      </div>
                      <%= profile_image.check_box :_destroy  , id: "delete_profile_image"%>
                      <%end%>
                    </div>
                    <% if f.object.profile_image.present? %>
                      <i class="la la-close delete_profile"></i>
                    <%else%>
                      <i class="la la-close delete_profile delete_class"></i>
                    <%end%>
                  </div>
                </div>
                <div class="m-card-profile__details">
                  <span class="m-card-profile__name">
                     <%= @user.name %>
                  </span>
                </div>
              </div>
            </div>
            <div class="col-lg-8 col-md-8 col-sm-9">
              <div class="row profile-row">
                <div class="col-lg-6 col-md-6 col-sm-8  col-xs-11 userprofile_section">
                  <form method="post" class="edit-profile-form" action="">
                    <div class="form-group profile-form-group mb-4">
                      <label for="phone_number" class="responsive-profiles-label">
                        Phone number
                      </label>
                      <%#= f.text_field :phone_number  , class: "form-control m-input" , value: "+#{@user.phone_number}"%>
                      <div class="m-input-icon m-input-icon--right">
                        <!--                                            <input class="form-control m-input m-profile-input"   type="text" placeholder="+55 4799188 3100" id="mobile_no">-->
                        <%# f.text_field :phone_number  , class: "form-control m-input m-profile-input" , value: "+#{@user.phone_number}"%>
                         <%= f.text_field :phone_number  , class: "form-control m-input m-profile-input" , value: "#{@user.phone_number}"%>
                        <span class="message_error"  id="mobile_phone_error">Phone number is required</span>
                        <span class="m-input-icon__icon m-input-icon__icon--right">
                            <span  id="mobile_pencil" class="profile_pencil">
                                <%= image_tag "customers/images/profile/edit-pencil.svg" %>
                            </span>
                        </span>
                      </div>

                    </div>

                    <div class="form-group profile-form-group mb-4">
                      <label  class="responsive-profiles-label">
                        E-mail
                      </label>
                      <div class="m-input-icon m-input-icon--right">
                        <!--                                            <input class="form-control m-input m-profile-input" id="user_email" placeholder="sarabryant@enterprise.com"  type="email" >-->
                        <%= f.text_field :email ,id: "user_email" , class: "form-control m-input m-profile-input"%>
                        <span class="message_error" id="email_error">Email is required</span>
                        <span class="m-input-icon__icon m-input-icon__icon--right">
                          <span id="email_pencil" class="profile_pencil">
                            <%= image_tag "customers/images/profile/edit-pencil.svg" %>
                          </span>
                        </span>
                      </div>
                    </div>


                    <div class="form-group profile-form-group mb-4">
                      <label  class="responsive-profiles-label">
                        Password
                      </label>
                      <div class="m-input-icon m-input-icon--right">
                        <%= f.password_field :password, class: "form-control m-input m-profile-input profilepass", id:"user_password", autocomplete: "new-password" %>
                         <input type="hidden" name="profilepass" class="profilehidpassw"/>
                         <div class="strength  setting-mer-st-25">
                          <div class="figure" id="tooltips"></div>
                        </div>


                      <span class="m-input-icon__icon m-input-icon__icon--right">
                          <span id="password_pencil" class="profile_pencil">
                              <%= image_tag "customers/images/profile/edit-pencil.svg" ,class: "pencel_icon" %>
                              <%= image_tag "customers/images/login/login-eye.svg" ,class: "login-eye" %>
                              <%= image_tag "customers/images/login/login-open-eye.svg" ,class: "login-open-eye"%>
                          </span>
                      </span>



                      </div>
                    </div>


                    <div class="form-group profile-form-group mb-4">
                      <label  class="responsive-profiles-label">
                        Confirm Password
                      </label>
                      <div class="m-input-icon m-input-icon--right">
                        <%= f.password_field :password_confirmation, class: "form-control m-input m-profile-input", id:"user_password_confirmation", autocomplete: "new-password" %>
                        <span class="m-input-icon__icon m-input-icon__icon--right">
                          <span id="email_pencil" class="profile_pencil">
                            <%= image_tag "customers/images/profile/edit-pencil.svg" %>
                          </span>
                        </span>
                      </div>
                    </div>



                    <div class="form-group mb-4">
                      <%= f.submit "Save Changes" , class: "btn btn-default pull-right save-btn"%>
                    </div>
                  </form>
                </div>
              </div>
            </div>
            <hr class="profile_hr">
          </div>
        <% end %>
      </div>
    </div>
  </div>