<style>
  table{
    margin: 0 auto;
    width: 100%;
    clear: both;
    border-collapse: collapse;
    table-layout: fixed;
    word-wrap:break-word;
  }
  .dataTables_wrapper .dataTables_paginate {
    padding : 10px;
  }
  .dataTables_wrapper .dataTables_paginate .paginate_button {
    padding : 0px;
    margin-left: 0px;
    display: inline;
    border: 0px;
  }
  .dataTables_wrapper .dataTables_paginate .paginate_button:hover {
    border: 0px;
  }
  div.table-responsive>div.dataTables_wrapper>div.row{
  margin: 0;
    margin-top: 20px;
    margin-bottom: 20px;
}
</style>

<div class="sidebar-overlay" id="sidebar-overlay"></div>
  <div class="title-block">
    <h1 class="title text-capitalize">
      POS MERCHANTS
    </h1>
  </div>
  <section class="section">

    <div class="row">
      <div class="col-md-12">
        <div class="card sameheight-item items" data-exclude="xs,sm,lg">
          <div class="card-header bordered">
            <div class="header-block">
              <h3 class="title text-capitalize">All MERCHANTS</h3>
            </div>
            <div class="header-block pull-right">
            </div>

          </div>

          <section class="example">
            <div class="">
              <div class="table-responsive">
                <table id="datatable-keytable" class="table table-striped table-bordered table-hover" cellspacing="0" cellpadding="0">

                  <thead>
                  <tr>
                    <th class="all">ID</th>
                    <th>Wallet ID</th>
                    <th class="all">Name</th>
                    <th>Location</th>
                    <th>Status</th>
                    <th class="all">Actions</th>
                  </tr>
                  </thead>

                  <tbody>
                  <% @pos.each do |pos| %>

                      <tr>
                        <td id="id"><%= (pos.ref_no.nil? ? pos.id : pos.ref_no ) %></td>
                        <td><%= pos.wallets.present? ? pos.wallets.first.id : '' %></td>
                        <td><%= pos.name %></td>
                        <td><%= pos.postal_address %></td>
                        <td>
                          <% if pos.is_block == false %>
                              <span class="label label-success">active</span>
                          <% else %>
                              <span class="label label-danger">Inactive</span>
                          <%end %>
                        </td>
                        <td >
                          <%= link_to pos, controller: "atms",:method => :delete, class: 'btn btn-sm btn-warning', :data => { :confirm => 'Are you sure you want to archive this pos?'} do %>
                             Unarchive
                          <% end %>
                        </td>
                      </tr>
                  <%end%>

                  </tbody>
                </table>
              </div>
            </div>
          </section>
        </div>
      </div>
    </div>
  </section>
<div class="in"></div>



<script type="text/javascript">
   
    $('#datatable-keytable').DataTable({
       responsive: true,
        "sScrollX": false,
        "scrollX": false,
        "columnDefs": [
            { "visible": true,"width": "1%", "targets": 0 },
            { "visible": true,"width": "1%", "targets": 1 },
            { "visible": true,"width": "2%", "targets": 2 },
            { "visible": true,"width": "2%", "targets": 3 },
            { "visible": true,"width": "1%", "targets": 4 },
            { "visible": true,"width": "2%", "targets": 5 }
        ]
    });
</script>