<div style="margin:50px; margin-top: 80px;">
        <%= simple_form_for @pos , url: pos_merchant_path(@pos) do |f| %>

        <div class="form-group">
            <%= f.input :name, label: 'Name',error: 'Username is mandatory, please specify one',input_html: {class: 'form-control'} %>
        </div>

        <div class="form-group">
            <%= f.input :postal_address, label: 'Location'%>
        </div>

        <div class="form-group">
            <%= f.input :phone_number, label: 'Contact' %>
        </div>
        <div class="form-group">
            <%= f.input :email, label: 'Email' %>
        </div>
        <div class="form-group">
            <%= f.input :is_block,collection: [['INACTIVE',true], ['ACTIVE',false]], label: 'Active' %>
        </div>
        <div class="modal-footer">
            <%= f.submit "UPDATE", class: 'btn btn-primary' %>
        </div>
      <% end %>
</div>
</div>