<style>
  table{
    margin: 0 auto;
    width: 100%;
    clear: both;
    border-collapse: collapse;
    table-layout: fixed;
    word-wrap:break-word;
  }
  .dataTables_wrapper .dataTables_paginate {
    padding : 10px;
  }
  .dataTables_wrapper .dataTables_paginate .paginate_button {
    padding : 0px;
    margin-left: 0px;
    display: inline;
    border: 0px;
  }
  .dataTables_wrapper .dataTables_paginate .paginate_button:hover {
    border: 0px;
  }
  div.table-responsive>div.dataTables_wrapper>div.row{
  margin: 0;
    margin-top: 20px;
    margin-bottom: 20px;
}
</style>

<div class="sidebar-overlay" id="sidebar-overlay"></div>
  <div class="title-block">
    <h1 class="title text-capitalize" style="float: left; margin-right: 20px;">
      POS MERCHANTS
    </h1>
  </div>
  
  <section class="section">
  <div class="row">
      <div class="col-md-12">
        <div class="card card-widget-success" style="padding: 4px; padding-top: 8px;padding-bottom: 8px; text-align: center;">
          <div class="card-block">
            <div class="widget-title">Total  MERCHANTS</div>
            <div class="result"><h6><%= @pos_count %></h6></div>
          </div>
        </div> 
      </div>
      </div>
    <div class="row">
      <div class="col-md-12">
        <div class="card sameheight-item items" data-exclude="xs,sm,lg">
          <div class="card-header bordered">
            <div class="header-block">
              <h3 class="title text-capitalize pull-left">All POS Merchants</h3>
            </div>
          </div>

          <section class="example">
            <div class="">
              <div class="table-responsive">
                <table id="datatable-keytable" class="table table-striped table-bordered table-hover" cellspacing="0" cellpadding="0">

                  <thead>
                  <tr>
                    <th class="all">ID</th>
                    <th >Wallet ID</th>
                    <th >Name</th>
                    <th >Location</th>
                    <th >Status</th>
                    <th class="all">Actions</th>
                  </tr>
                  </thead>

                  <tbody>
                  <% @poss.each do |pos| %>
                      <tr>
                        <td id="id"><%= (pos.ref_no.nil? ? pos.id : pos.ref_no ) %></td>
                        <td><%= pos.wallets.first.id %></td>
                        <td><%= pos.name %></td>
                        <td><%= pos.postal_address %></td>
                        <td>
                          <% if pos.is_block == false %>
                              <span class="label label-success">active</span>
                          <% else %>
                              <span class="label label-danger">Inactive</span>
                          <% end %>
                        </td>
                        <td>
                          <%= link_to pos, controller: "pos_merchants",:method => :delete, class: 'btn btn-sm btn-warning', :data => { :confirm => 'Are you sure you want to archive this pos?'} do %>
                              Archive
                          <% end %>
                          <%= link_to "Edit", edit_pos_merchant_path(pos), class: 'btn btn-sm btn-warning ma'  %>
                          <%= link_to   pos_merchant_transactions_path(pos) , class: 'btn btn-sm btn-success' do %>
                              Transactions
                          <% end %>
                        </td>
                      </tr>
                  <% end %>
                  </tbody>
                </table>
              </div>
            </div>
          </section>
        </div>
      </div>
    </div>
  </section>
<div class="in"></div>

<section>
  <!-- Modal -->
  <div class="modal fade myModal" role="dialog">
    <div class="modal-dialog form-group">

      <!-- Modal content-->
      <div class="modal-content">

        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">New POS</h4>
        </div>
        <%= simple_form_for @pos , url: pos_merchants_path do |f| %>

            <div class="row">
              <div class="col-md-12">
                <div class="card-header bordered">
                  <div class="header-block">

                    <div class="form-group">
                      <%= f.input :name, label: 'Name',error: 'Username is mandatory, please specify one',input_html: {class: 'form-control'} %>
                    </div>

                    <div class="form-group">
                      <%= f.input :postal_address, label: 'Location'%>
                    </div>

                    <div class="form-group">
                      <%= f.input :phone_number, label: 'Contact' %>
                    </div>
                    <div class="form-group">
                      <%= f.input :email, label: 'Email' %>
                    </div>
                    <div class="modal-footer">
                      <%= f.submit "Create Merchant", class: 'btn btn-primary'%>
        <% end %>
        </div>
        </div>
        </div>
        </div>
        </div>
      </div>
    </div>
  </div>
</section>

<script type="text/javascript">
$(document).ready(function() {
   $('.ma').click(function() {
     tabDetailds($(this).data("id"));
   });

   $('.modalwalabutton').click(function(){
       $('.myModal').modal();
   });

    $('#datatable-keytable').DataTable({
      responsive: true,
      "sScrollX": false
    });
});
</script>