<div id="checks_table" class="col-lg-12 col-md-12 col-sm-12 table table-responsive charge_back_table mt-4">
  <table  class="pt-0 chargeback_datatable">
    <% if @transactions.present?  %>
      <thead>
      <tr>
        <th class="risk_eval_heading">
          Txn ID
        </th>
        <th>
          Date / Time
        </th>
        <th>
          Partner
        </th>
        <th>
          Type
        </th>
        <th>
          <center>
            Transaction<br>
            Amount
          </center>
        </th>
      </tr>
      </thead>
      <tbody>
        <% @transactions.each_with_index do |t,i| %>
            <tr class="charge_back_hover <%= (i+1).odd? ? "odd" : "even"%>" class="local_user_transaction show-cover-spin show-dynamic-modal local-u-txn-st-4" data-modal_selector="#modal_id" data-modal_container_selector="#custom_modal"  >
            <td><%= t.try(:sequence_id).present? ? t.sequence_id[0..5] : t.id %></td>
            <td class="partner-td  timeUtc">
              <%=  t.timestamp.present? ? t.timestamp.strftime("%m-%d-%Y %H:%M:%S") : t.created_at.strftime("%m-%d-%Y %H:%M:%S") %>
            </td>
          	<% admin_user = User.admin_user.find_by_id(@user.admin_user_id) %>
          	<td class="partner-td">
            	<% if admin_user.try(:profile).present? %>
              		<%= admin_user.profile.company_name.present? ? admin_user.profile.company_name : 'n/a'%>
            	<% else %>
              		<%= admin_user.try(:company_name).present? ? admin_user.try(:company_name)  : '--'%>
            	<% end %>
          	</td>
            <td class="partner-td">
              <% if t.main_type == "Subscription fee" %>
                <%= main_type_format(t.main_type) %>
              <% elsif t.main_type == "Service Fee" %>
                Monthly Fee
              <% else %>
                <% txn_type = main_type_format(t.main_type) %>
                <%if txn_type == "Push to Card" %>
                  <%= t.action == "retire"? "Push To Card Deposit" : "Push To Card" %>
                <%elsif txn_type == "Send Check" %>
                  <%= t.action == "retire"? "Check Deposit" : "Send Check" %>
                <%else %>
                  <%= txn_type %>
                <% end %>
              <% end %>
            </td>
            <% if (t.main_amount.to_f.present? && t.net_fee.to_f.present? && t.sub_type == "ACH Deposit_fee") %>
              <% tx_amount = t.main_amount.to_f + t.net_fee.to_f %>
            <% else %>
              <% tx_amount = t.main_amount.to_f > 0 ? t.main_amount.to_f : cents_to_dollars(t.amount_in_cents) %>
            <% end %>
            <td class="partner-rg pr-5"><%= t.try(:sender_wallet) == @wallet  ? '-' : ''%><%= number_with_precision(number_to_currency(tx_amount.to_f), precision: 2) %></td>
      <% end %>
    </tbody>
    <%else%>
    <div class="col-xl-12 ">
      <center  class="m-5 p-5">
        <%= image_tag "v2/merchant/datatable/no_data.svg" %>
        <p class="No-data-available mt-4 mr-4">No data available</p>
      </center>
    </div>
    <% end %>
  </table>
</div>