<div id="checks_table" class="col-lg-12 col-md-12 col-sm-12 table table-responsive charge_back_table mt-4">
  <table  class="pt-0 chargeback_datatable">
    <% if @transactions.present?  %>
      <thead>
      <tr>
        <th class="risk_eval_heading">
          Txn ID
        </th>
        <th>
          Date / Time
        </th>
        <th>
          Sender
        </th>
        <th>
          Receiver
        </th>
        <th>
          Transaction Type
        </th>
        <th class="text-right">
          Total Amount
        </th>
      </tr>
      </thead>
      <tbody>
      <% @transactions.each_with_index do |t,i| %>
      <%if @user.affiliate_program? %>
        <tr class="charge_back_hover <%= (i+1).odd? ? "odd" : "even"%>" class="local_user_transaction show-cover-spin show-dynamic-modal local-u-txn-st-4" data-modal_selector="#modal_id" data-modal_container_selector="#custom_modal"  >
      <%else%>
        <tr class="charge_back_hover <%= (i+1).odd? ? "odd" : "even"%>" data-path= "<%= v2_partner_transaction_path(t.id) %>" class="local_user_transaction show-cover-spin show-dynamic-modal local-u-txn-st-4" data-modal_selector="#modal_id" data-modal_container_selector="#custom_modal"  >
      <%end%>
      <td class="personal_width"><%= t.try(:sequence_id).present? ? t.sequence_id[0..5] : t.id %></td>
      
        <td class="partner-td  timeUtc personal_width">
          <%=  t.timestamp.present? ? t.timestamp.strftime("%m-%d-%Y %H:%M:%S") : t.created_at.strftime("%m-%d-%Y %H:%M:%S") %>
        </td>
        <td class="partner-td personal_width">
          <%= change_wallets_name(t.sender_name.try(:truncate, 24) || t.try(:sender).try(:name).try(:truncate, 24) || "---" ) %>
        </td>
        <td class="partner-td personal_width">
          <%= change_wallets_name(t.receiver_name.try(:truncate, 24) || t.try(:receiver).try(:name).try(:truncate, 24) || "---" ) %>
        </td>
        <%# tx_type = main_type_format(show_iso_local_type(t) || "---") %>
        <td class="partner-td personal_width">
          <% if t.main_type == "Subscription fee" %>
            <%= show_iso_local_type(t) %>
          <% elsif t.main_type == "Service Fee" %>
            Monthly Fee
          <% else %>
            <% txn_type = main_type_format(t.main_type) %>
            <%if txn_type == "Push to Card" %>
              <%= t.action == "retire"? "Push To Card Deposit" : "Push To Card" %>
            <%elsif txn_type == "Send Check" %>
              <%= t.action == "retire"? "Check Deposit" : "Send Check" %>
            <%elsif txn_type == "B2B Transfer" %>
              Invoice - QC
            <%else %>
              <%# txn_type %>
              <%# sub_trans = Transaction.where("seq_transaction_id = ?", t.sequence_id).try(:first) %>
              <%= main_type_format(show_local_type(t)) %>
            <% end %>
          <% end %>
        </td>
        <td class="partner-rg personal_width">
          <% if t.main_type == "Ach" %>
            <%= t.try(:sender_wallet_id) == @wallet.id  ? '-' : ''%><%= number_with_precision(number_to_currency(SequenceLib.dollars(t.amount_in_cents.to_f) + SequenceLib.dollars(t.fee_in_cents.to_f)), precision: 2) %>
          <% else %>
            <%= t.try(:sender_wallet_id) == @wallet.id  ? '-' : ''%><%= number_with_precision(number_to_currency(SequenceLib.dollars(t.amount_in_cents.to_f)), precision: 2) %>
          <% end %>
          <%#= t.try(:sender_wallet) == @wallet  ? '-' : ''%><%#= number_with_precision(number_to_currency(SequenceLib.dollars(t.amount_in_cents.to_f) + t.try(:net_fee)), precision: 2) %>
        </td>
      <% end %>
      </tbody>
    <%else%>
      <div class="col-xl-12 ">
        <center  class="m-5 p-5">
          <%= image_tag "v2/merchant/datatable/no_data.svg" %>
          <p class="No-data-available mt-4 mr-4">No data available</p>
        </center>
      </div>
    <% end %>
  </table>
</div>
