      <div class="card">
          <div class="card-body">
            <div class="row">
              <div class="form-group col-md-4">
                <label for="date"><strong>Date</strong></label>
                <p class="form-control-static"><%=@location.created_at.strftime("%Y-%d-%m %H:%M:%S")%></p>
              </div>
              <div class="form-group col-md-4">
                <label for="date"><strong>Type</strong></label>
                <p class="form-control-static">    <%=@location.type%>                                                                                                                                                         </p>
              </div>
              <!--<div class="form-group col-md-4">-->
                <!--<label for="date"><strong>Status</strong></label>-->
                <!--<p class="form-control-static">-->
                  <!--<span class="badge badge-success">  </span>-->
                <!--</p>-->
              <!--</div>-->
              <div class="form-group col-md-4">
                <label for="date"><strong>Amount</strong></label>
                <p class="form-control-static">   <%=@location.balance%> USD </p>
              </div>
              <!--<div class="form-group col-md-4">-->
                <!--<label for="date"><strong>Fee</strong></label>-->
                <!--<p class="form-control-static">-->
                <!--</p>-->
              <!--</div>-->
              <!--<div class="form-group col-md-4">-->
                <!--<label for="date"><strong>IP address</strong></label>-->
                <!--<p class="form-control-static">109.173.218.51</p>-->
              <!--</div>-->
              <!--<div class="form-group col-md-4">-->
                <!--<label for="date"><strong>Sender</strong></label>-->
                <!--<p class="form-control-static"></p>-->
              <!--</div>-->
              <!--<div class="form-group col-md-4">-->
                <!--<label for="date"><strong>Receiver</strong></label>-->
                <!--<p class="form-control-static"></p>-->
              <!--</div>-->

              <!--<div class="form-group col-md-12">-->
                <!--<label for="date"><strong>Comment</strong></label>-->
                <!--<p class="form-control-static">Exchange transaction ID 833</p>-->
              <!--</div>-->
            </div>
          </div>
        </div>

        <!-- Modal -->
        <!--<div class="modal fade" id="refund" tabindex="-1" role="dialog" aria-labelledby="refund" aria-hidden="true">-->
          <!--<div class="modal-dialog" role="document">-->
            <!--<div class="modal-content">-->
              <!--<div class="modal-header">-->
                <!--<h5 class="modal-title" id="exampleModalLabel">Confirm action</h5>-->
                <!--<button type="button" class="close" data-dismiss="modal" aria-label="Close">-->
                  <!--<span aria-hidden="true">×</span>-->
                <!--</button>-->
              <!--</div>-->
              <!--<div class="modal-body">-->
                <!--Are you sure that you need to refund money? This action can not be undone!      </div>-->
              <!--<div class="modal-footer">-->
                <!--<button type="button" class="btn btn-light" data-dismiss="modal">Close</button>-->
                <!--<a href="http://wallet.justwallet.io/account/transactions/protect_refund/834" class="btn btn-success">Confirm</a>-->
              <!--</div>-->
            <!--</div>-->
          <!--</div>-->
        <!--</div>-->

        <!--&lt;!&ndash; Modal &ndash;&gt;-->
        <!--<div class="modal fade" id="dispute" tabindex="-1" role="dialog" aria-labelledby="dispute" aria-hidden="true">-->
          <!--<div class="modal-dialog modal-lg" role="document">-->
            <!--<div class="modal-content">-->
              <!--<div class="modal-header">-->
                <!--<h5 class="modal-title" id="exampleModalLabel">Opening dispute</h5>-->
                <!--<button type="button" class="close" data-dismiss="modal" aria-label="Close">-->
                  <!--<span aria-hidden="true">×</span>-->
                <!--</button>-->
              <!--</div>-->
              <!--<div class="modal-body">-->
                <!--<div class="row">-->
                  <!--<form action="http://wallet.justwallet.io/account/disputes/start_dispute" method="post" accept-charset="utf-8">-->
                  <!--<input name="csrf_token" value="f6e6783e585a3b4059439bd35f52e440" type="hidden">-->

                  <!--<input name="id" value="834" type="hidden">-->
                  <!--<div class="col-md-12">-->
                    <!--<div class="form-group">-->
                      <!--<label>Reason for opening a dispute</label>-->
                      <!--<select class="form-control" name="title">-->
                        <!--<option value="1">I have not received the goods</option>-->
                        <!--<option value="2">Product does not match the description</option>-->
                      <!--</select>-->
                    <!--</div>-->
                  <!--</div>-->
                  <!--<div class="col-md-12">-->
                    <!--<div class="form-group">-->
                      <!--<label>Describe the essence of the dispute</label>-->
                      <!--<textarea class="form-control" rows="10" name="message"></textarea>-->
                      <!--<span class="text-muted">Specify in the text box the reason why you open this dispute. As detailed as possible description of the problem and ask the seller of options for its solutions.</span>-->
                    <!--</div>-->
                  <!--</div>-->
                  <!--</form>-->
                <!--</div>-->
              <!--</div>-->
              <!--<div class="modal-footer">-->
                <!--<button type="button" class="btn btn-light" data-dismiss="modal">Close</button>-->
                <!--<button type="submit" name="submit" class="btn btn-success">Start dispute</button>-->
              <!--</div>-->

            <!--</div>-->
          <!--</div>-->
        <!--</div>				</div>-->

    </div>
  </div>
</div>



