<%= simple_form_for @transfer, url: transfer_post_merchant_locations_path, method: :post, html: {id:"newTransferForm", onsubmit:"disableButton('newTransferForm','submit_transfer_btn')"} do |f|%>
  <input id="transfer_id" class="form-control" type="hidden" value="0.0" name="transfer_id">
  <div class="row">
    <div class="col-md-6">
      <div class="form-group">
        <%= f.label :transfer_from ,class: 'control-label memo_style' %><br/>
        <%= f.select :from_wallet, @merchant_wallets.collect { |r| [r.name, r.id] }, {include_blank: 'Select From Wallet' }, { class: 'form-control', required: true} %>
        <%#= select_tag "transfer_from", options_for_select(@merchant_wallets.collect {|v| [v.name,v.id]}), {include_blank:'Select From Wallet', class: 'form-control', required: true} %>
        <span class="space">Available Balance: $<span id="source_available_amount"></span></span>
      </div>
    </div>
    <div class="col-md-6">
      <div class="form-group">
        <%= f.label :transfer_to,class: 'control-label memo_style' %><br/>
        <%= f.select :to_wallet, @merchant_wallets.collect { |r| [r.name, r.id] }, {include_blank:'Select To Wallet'}, { class: 'form-control', required: true} %>
        <span class="space">Available Balance: $<span id="destination_available_amount"></span></span>
      </div>
    </div>
    <div class="col-md-6">
      <br>
      <div class="form-group">
        <%= f.label :amount,class: 'control-label memo_style' %><br/>
        <div class="input-icon icon_inside_input_field">
          <i>$</i>
          <%= f.text_field :amount, { id: "amount", class: 'form-control', required: true, placeholder: "0.00"}%>
        </div>
      </div>
    </div>
    <br>
    <div class="col-md-6">
      <br>
      <div class="form-group" id="date_parent_for_transfer">
        <%= f.label :transfer_date,class: 'control-label memo_style' %><br/>
        <%= f.text_field :transfer_date, { id: "transfer_date1", class: 'form-control', required: true}%>
      </div>
    </div>
    <br>
    <div class="col-md-6">
      <div class="form-group ">
        <label class="control-label memo_style"><span>Memo (optional)</span></label>
        <%= f.text_field :memo, id:"memo", class:"form-control",maxlength: '32'%>
<!--        <span id="errmsg"></span>-->
        <span> Use numbers & letters only(upto 32 characters).</span>
      </div>
    </div>
    <div class="col-md-6"></div>
  </div>
  </div>
  </div>
  </div>
  </div>
  <div class="modal-footer">
    <div class="col-md-12" id="transfer_money">
      <%= f.submit "Transfer Money", class:"btn btn-info ", id:"submit_transfer_btn" %>
    </div>
  </div>
<% end %>