
        <div class="card">
          <div class="card-body">
            <div class="row">
              <div class="form-group col-md-4">
                <label for="date"><strong>Date</strong></label>
                <p class="form-control-static"><%=t[:timestamp].localtime.strftime("%m/%d/%Y %I:%M:%S %p") %></p>
              </div>
              <div class="form-group col-md-4">
                <label for="date"><strong>Type</strong></label>
                <p class="form-control-static"><%= t[:type]%>                                                                                                                                                         </p>
              </div>
              <div class="form-group col-md-4">
                <label for="date"><strong>Status</strong></label>
                <p class="form-control-static">
                  <span class="badge badge-success"> Approved </span>
                </p>
              </div>
              <div class="form-group col-md-4">
                <label for="date"><strong>Amount</strong></label>
                <p class="form-control-static"><%=t[:amount] %> USD                                                                                                                                                                 </p>
              </div>
              <div class="form-group col-md-4">
                <label for="date"><strong>Fee</strong></label>
                <p class="form-control-static">
                  <%= 0.0 %> USD
                </p>
              </div>
              <div class="form-group col-md-4">
                <label for="date"><strong>IP address</strong></label>
                <p class="form-control-static">109.173.218.51</p>
              </div>

              <div class="form-group col-md-4">
                <label for="date"><strong>Sender</strong></label>
                <p class="form-control-static">
                  <%= t[:source] %>
                  <!--< if !t.sender_id.nil?%>-->
                  <!--<= User.where(id: t.sender_id).first.present? ? User.where(id: t.sender_id).first.name : "" %>-->
                  <!--< else%>-->
                  <!--<= '' %>-->
                  <!--< end %>-->
                </p>
              </div>

              <div class="form-group col-md-4">
                <label for="date"><strong>Reciever</strong></label>
                <!--<p class="form-control-static"><= User.where(id: t.to).first.present? ? User.where(id: t.to).first.name : "" %></p>-->
                <p class="form-control-static"><%= t[:destination_name] %></p>
              </div>

              <!--<div class="form-group col-md-4">-->
              <!--<label for="date"><strong>Charge ID</strong></label>-->
              <!--<p class="form-control-static"></p>-->
              <!--</div>-->

              <!--<div class="form-group col-md-12">-->
              <!--<label for="date"><strong>Comment</strong></label>-->
              <!--<p class="form-control-static"><%= %></p>-->
              <!--</div>-->
            </div>
          </div>
        </div>


