
<div class="modal fade show in paytip"  tabindex="-1"  role="dialog" id="pay_tip">
  <div class="modal-dialog modal-lg form-group">
    <div class="modal-content">
      <div class="modal-header text-left bg-primary text-white">
        <h4 class="modal-title"><i class="fa fa-location-arrow"></i><span class="ml-2"><%=location.business_name%></span></h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="card-header bordered">
            <div class="card-body">

              <%= form_tag verify_user_merchant_base_index_path,method: :get ,remote: :true, class: 'pay_tip_login' do %>
                  <div id="step1">
                    <div class="form-group" id="email_tested">
                      <label for="mer_email">Email</label>
                      <input type="email" name="email" class="form-control" id="mer_email" value="<%= current_user.email %>" required disabled="disabled"/>
                    </div>
                    <div class="form-group" id="pwd_testd">
                      <label for="mer_pwd">Password</label>
                      <input type="password" name="password" class="form-control" id="mer_pwd" required/>
                    </div>
                    <input type="submit"class="btn btn-primary btn-sm btn-block" id="vf_mer" value="Submit"/>
                  </div>
              <% end %>

              <div id="step2">
                <%= form_tag pay_tip_merchant_transactions_path do %>
                  <div class="form-group">
                    <%= hidden_field_tag "from_wallet", @wallet.id%>
                    <span class="font-weight-bold ">Total Amount $</span>
                    <span class="font-weight-bold text-center text-success" id="total_amount"><%= number_with_precision(number_to_currency(show_balance(wallet.id)), precision: 2)%>
                    </span>
                  </div>
                  <div class="form-group">
                    <label for="employee_search">Transfer to Main Wallet</label>
                    <input type="text" id="transfer" min="0" step="0.01" onkeypress="return event.keyCode != 13;" name="amount" class="form-control transfer_amount"/>
                    <span id="transfer_error"></span>
                  </div>
                  <div id="sub_merchants_section">
                    <%= submit_tag "Submit", class: 'btn btn-success btn-sm btn-block', id: 'transfer_now', disabled:true %>
                  </div>
                <% end %>
              </div>


              <div id="step3">
                <%= form_tag pay_tip_merchant_transactions_path do  %>
                    <div class="form-group">
                      <span class="font-weight-bold ">Total Amount $</span> <span class="font-weight-bold text-center text-success" id="total_amount"><%=show_balance(wallet.id) %></span>
                    </div>
                    <div class="form-group">
                      <label for="employee_search">Search</label>
                      <input type="text" id="employee_search" class="form-control" />
                    </div>
                    <div id="sub_merchants_section">
                      <div class="row">
                        <div class="col-md-6">
                          <div class="form-group">
                            <input type="checkbox" id="all" name="merchant"/>
                            <label for="all">Select All</label>
                          </div>
                        </div>
                        <div class="col-md-6">
                          <button type="button" id="split_event" class="btn btn-primary btn-sm pull-right">Split even</button>
                        </div>
                      </div>
                      <div class="ul-placer">
                        <ul class="list-group" id="sub_merchants">
                          <% i =1%>
                          <%= hidden_field_tag "from_wallet", @wallet.id%>
                          <% merchants.each do |m| %>
                              <li class="list-group-item" id="item_<%=m.id%>">
                                <% if m.wallets.present? && m.wallets.first.wallet_type=='primary' && !m.phone_number.nil? %>
                                    <div class="row">
                                      <div class="col-md-4">
                                        <input type="checkbox" class="check_all" id="checked_<%=m.id%>"/>
                                        <i class="fa fa-user"></i> <%= m.name.to_s+" "+m.last_name.to_s%>
                                      </div>
                                      <div class="col-md-8">
                                        <div class="input-group">
                                          <span class="input-group-addon">$</span>
                                          <%= number_field_tag "merchant_tip[#{m.id}]",nil, step: '0.01', min: "0", class: "form-control mer_tip", id: "show_#{m.id}", placeholder: "0.00" %>
                                          <span class=" input-group-addon text-white bg-success text-center">verified</span>
                                        </div>
                                      </div>
                                    </div>
                                <% else %>
                                    <div class="row">
                                      <div class="col-md-4">
                                        <input type="checkbox" class="" id="checked_<%=m.id%>" disabled/>
                                        <i class="fa fa-user"></i> <%= m.name %>

                                      </div>
                                      <div class="col-md-6"><span id="verifyUser" class="font-weight-bold text-info">Phone number & wallet are required!</span></div>
                                      <div class="col-md-2"><span class="badge badge-danger pull-right">Not verified</span></div>
                                    </div>

                                <% end %>
                              </li>
                              <%i=i+1%>
                          <% end %>
                        </ul>
                      </div>

                      <%= submit_tag "Submit", class: 'btn btn-success btn-sm btn-block', id: 'pay_now' , disabled: true  %>
                    </div>
                <% end %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>