<table class="table table-striped">
  <thead>
  <th>ID</th>
  <th>Date/Time</th>
  <th>Type</th>
  <th>Sender</th>
  <th>Receiver</th>
  <th>Last 4</th>
  <th>Total Amount</th>
  <th>Tx Amount</th>
  <th>Privacy Fee</th>
  <% if @wallet.primary? %>
    <th>Tip</th>
  <% end %>
  <th>Fee</th>
  <th>Net Fee</th>
  <th>Reserve</th>
  <th>Total Net</th>
  <th>Action</th>
  </thead>
  <tbody>
  <% if @transactions.size > 0 %>
      <% k = @page_records + 1  %>
      <% @transactions.each do |t| %>
          <tr>
            <% if t[:id].nil? %>
                <% t = t.transform_keys!(&:to_sym) %>
            <% end %>
            <td><%= t[:id][0..5] %></td>
            <td class="timeUtc">
              <% if t[:timestamp].is_a?(String) %>
                <%= t[:timestamp].to_datetime.utc.strftime("%Y-%m-%d %H:%M:%S %z") %>
              <% else %>
                <%= t[:timestamp].strftime("%Y-%m-%d %H:%M:%S %z") %>
              <% end %>
            </td>
            <td>
              <%= show_type(t) %>
            </td>
            <td><%= show_source(t) %></td>
            <td><%= show_destination(t) %></td>
            <td><%= t[:last4] %></td>
            <td>
              <% amount_object = show_total_amount(t, @user) %>
              <span class="<%= amount_object[:css_class] %>">
                  <span id="span-1">
                      <%= amount_object[:css_class] == "text-danger" ? "-" : "+" %><%= amount_object[:amount] %>
                    </span>
                  </span>
            </td>
            <td id="td_02">
              <!--------------------------Transfer Logic----------------->
              <% amount_object = show_amount(t, @user) %>
              <%= amount_object[:amount] %>
            </td>
            <td><%= number_with_precision(number_to_currency(t[:privacy_fee].to_f), precision: 2) %></td>
            <% if @wallet.primary? %>
                <td>$<%= number_with_precision(t[:tip].to_f, :precision => 2, delimiter: ',') %></td>
            <% end %>
            <td>
              <%= show_fee(t, @user) %>
            </td>
            <td><%= number_with_precision(number_to_currency(t[:net_fee].to_f), precision: 2) %></td>
            <td><%= show_reserve(t, @user) %></td>
            <td><%= show_net(t, @user) %></td>
            <td>
              <%= link_to '<button type="button" class="btn btn-outline-secondary btn-sm details_modal" data-toggle="modal" data-target=".myModal"><i class="icon-eye icons"></i></button>'.html_safe, merchant_transaction_details_modal_path(transaction_id: t[:id], wallet_id: @wallet.id),html: {class: "btn btn-outline-secondary btn-md"}, remote: true %>
            </td>
          </tr>
          <% k = k+1 %>
      <% end %>
  <% else %>
      <tr><td colspan="14"><h3 id="heading_7">No Entries Yet!</h3></td></tr>
  <% end %>
  </tbody>
</table>
