<div id="cover-spin"></div>
<% sequence_down = AppConfig.sequence_down.first %>
<% if (sequence_down.present? && sequence_down.boolValue == true) || (ENV['SEQUENCE_DOWN'].present? && ENV['SEQUENCE_DOWN'] == "true") %>
  <div class="col-md-12">
    <div class="box" id="box_2" >
      <div class="box-header">
        <div class="col-md-12">
          <div class="row">
            <div class="col-md-6">
              <h6 class="sequence_block_heading">Account Temporarily Unavailable</h6>
            </div>
          </div>
        </div>
      </div>
      <div class="box-body">
        <p id="note_8">
          Your account is currently unavailable due to issues with our Blockchain and unfortunately, we are unable to process your wallet request at this time. We are working to restore all services as quickly as possible. Thank you for your patience!
        </p>
      </div>
    </div>
  </div>
<% else %>
  <% if verified_tos() %>
    <div class="box">
      <div class="box-header with-border">
      <div class="col-md-12">
        <div class="row">
          <div class="col-md-6">
            <h3 class="box-title"><%= @heading %></h3>
          </div>
        </div>
      </div>
    </div>
      <div class="box-body">
        <!-- Success Modal -->
        <% if flash[:notification_msg].present? %>
          <div id="modal_id" class="modal fade show" role="dialog">
            <div class="modal-dialog modal-md" id="modal-dialog_1">
              <!-- Modal content-->
              <div class="modal-content panel-success">
                <div class="modal-header bg-primary">
                  <h4 class="modal-title" id="modal-title_1">Transaction</h4>
                  <!--<button type="button" class="close" data-dismiss="modal" aria-label="Close">-->
                  <!--<span aria-hidden="true">&times;</span>-->
                  <!--</button>-->
                </div>
                <div class="modal-body">
                  <div class="card">
                    <div class="card-body">
                      <p class="text-success note5">
                        <% if flash[:notification_msg].present? %>
                          <% if flash[:notification_msg] == "Transfer is successfully processed!" %>
                          <h4 id="heading_8"><b><%= flash[:notification_msg] %></b></h4>
                        <% else %>
                          <h4 id="heading_9"><b><%= flash[:notification_msg] %></b></h4>
                        <% end %>
                      <% end %>
                      </p>
                    </div>
                    <button type="button" id="modal_close_btn" class="close btn btn-default" data-dismiss="modal" aria-hidden="true">
                      <div class="card-footer">
                        <center>OK</center>
                      </div>
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        <% end %>
        <div id="hold_money">
          <% @locationss.each do |t| %>
            <h5><%= t[:name] %></h5>
            <div class="row">
              <% unless t[:wallet_primary].nil? %>
                <% access = merchant_allowed %>
                <div class="col-md-4">
                  <div class="card">
                    <div class="card-body">
                      <div class="card-header" id="card_header">
                        <p class="pull-left">
                          <span class="text-muted id-size">ID-<%= t[:wallet_primary] %></span><br>
                          <span>Primary Account</span>
                        </p>
                        <p class="pull-right">
                          <!-- Default dropup button -->
                        <div class="btn-group dropup">
                          <a href="#" class="dropdown-toggle" id="dots" data-toggle="dropdown">
                            <!--                        ●●●-->
                            <i class="fas fa-bars bars"></i>
                          </a>
                          <div class="dropdown-menu">
                            <% if @user_permission.admin? || @user_permission.wallet  %>
                              <%= link_to transactions_merchant_locations_path(:wallet_id => t[:primary_slug]), class: "anchor_1" do %>
                                <button class="dropdown-item" type="button">Transactions</button>
                              <% end %>
<!--                            <a href="<%#= transactions_merchant_locations_path(:wallet_id => t[:wallet_primary]) %>" method="post" class="anchor_1">-->
<!--                              <button class="dropdown-item" type="button">Transactions</button>-->
<!--                            </a>-->
                            <% end %>
                            <% if @user_permission.admin? || @user_permission.transfer %>
                              <% unless t[:attached_location] %>
                                <% if access[:sales] && access[:virtual_terminal] && access[:close_batch] %>
                                  <a data-toggle="modal" data-target="#transfer_money_alert" class="anchor_1">
                                    <button class="dropdown-item" type="button">Transfer Money</button>
                                  </a>
                                <% else %>
                                  <a data-toggle="modal" data-target="#transfer_money" class="anchor_1">
                                    <button class="dropdown-item" type="button">Transfer Money</button>
                                  </a>
                                <% end %>
                              <% end %>
                              <% if @user_permission.admin? %>
                                <% unless t[:attached_location] %>
                                   <a data-toggle="modal" class="setting_btn" data-target="#setting" data-id="<%= t[:location_secret] %>">
                                <button class="dropdown-item" type="button">Settings</button>
                              </a>
                                <% end %>
                              <% end %>
                            <% end %>
                          </div>
                        </div>
                        </p>
                      </div>
                      <div class="card-body">
                        <div class="card_body_1">
                          <span class="text-muted id-size">Total Funds in Account: </span>
                          <% balance = show_balance(t[:wallet_primary]).to_f %>
                          <p class="p_size">$<%= number_with_precision(balance, precision: 2, delimiter: ',') %></p>
                        </div>
                        <% if t[:is_ecommerce] == true %>
                          <div class="card_body_3">
                            <span class="pull-left text-muted id-size">On Hold Pending Delivery: </span>
                            <a href="<%= merchant_orders_path(wallet_id: t[:wallet_primary]) %>" class="pull-right">view more</a><br/>
                            <p class="p_size">$<%= number_with_precision(t[:hold_in_rear_amount].to_f, precision: 2, delimiter: ',') %></p>
                          </div>
                        <% else %>
                          <div class="card_body_3">
                            <span class="pull-left text-muted id-size">On Hold Pending Release: </span><br>
                            <p class="p_size">$<%= number_with_precision(t[:hold_in_rear_amount].to_f, precision: 2, delimiter: ',') %></p>
                          </div>
                        <% end %>

                        <div class="card_body_2">
                          <span class="pull-left text-muted id-size">Available Funds to Withdraw: </span><br>
                          <!--                      <span class="pull-right p_size timeUtc"><%#= Time.now.strftime("%m/%d/%Y") %></span><br>-->
                          <p class="p_size">$<%= number_with_precision(balance - t[:hold_in_rear_amount].to_f, precision: 2, delimiter: ',') %></p>
                        </div>
                        <%# if t[:secondary_location] == false %>
                        <% if t[:is_ecommerce] == false %>
                          <hr/>
                          <div class="card_body_1">
                            <span class="pull-left text-muted id-size">Today's Funds Release: </span>
                            <% if @user_permission.admin? || @user_permission.funding_schedule  %>
                            <a href="<%= merchant_deposites_path(:wallet_id => t[:wallet_primary]) %>" class="pull-right">view more</a><br/>
                            <% end %>
                            <p class="p_size"><%= number_with_precision(number_to_currency(HoldInRear.calculate_released_on_date_custom(t[:id], Time.zone.now)), precision: 2, delimiter: ',') %></p>
                            <div class="card_body_2">
                              <span class="text-muted id-size">Tomorrow's Funds Release: </span>
                              <p class="p_size"><%= number_with_precision(number_to_currency(HoldInRear.calculate_released_on_date_custom(t[:id], Time.zone.now + 1.day)), precision: 2, delimiter: ',') %></p>

                            </div>
                          </div>
                        <% end %>
                        <%# end %>
                      </div>

                    </div>
                  </div>
                </div>
              <% end %>
              <div class="col-md-4">
                <div class="card">
                  <% unless t[:wallet_reserve].nil? %>
                    <div class="card-body">
                      <div class="card-header" id="card_header">
                        <p class="pull-left">
                          <span class="text-muted id-size">ID-<%= t[:wallet_reserve] %></span><br>
                          <span>Reserve Account</span>
                        </p>
                        <p class="pull-right">
                        <div class="btn-group dropup">
                          <a href="#" class="dropdown-toggle" id="dots" data-toggle="dropdown">
                            <i class="fas fa-bars bars" ></i>
                            <!--                    ●●●-->
                          </a>
                          <div class="dropdown-menu">
                            <button class="dropdown-item" type="button">
                              <%= link_to transactions_merchant_locations_path(:wallet_id => t[:reserve_slug]), class: "anchor_1" do %>
                                <button class="dropdown-item" type="button">Transactions</button>
                              <% end %>
                            </button>
                          </div>
                        </div>
                        </p>
                      </div>
                      <div class="card-body">
                        <div class="card_body_1">
                          <span class="text-muted id-size">Total In Reserve</span>
                          <p class="p_size">$<%= number_with_precision(show_balance(t[:wallet_reserve]), precision: 2, delimiter: ',') %></p>
                        </div>
                      </div>
                    </div>
                  <% end %>
                </div>
              </div>
              <%# if t[:secondary_location] == false %>
                <div class="col-md-4">
                  <div class="card">
                    <% unless t[:wallet_tip].nil? %>
                      <div class="card-body">
                        <div class="card-header" id="card_header">
                          <p class="pull-left">
                            <span class="text-muted id-size">ID-<%= t[:wallet_tip] %></span><br>
                            <span>Tip Account</span>
                          </p>
                          <p class="pull-right">
                          <div class="btn-group dropup">
                            <a href="#" class="dropdown-toggle" id="dots" data-toggle="dropdown">
                              <i class="fas fa-bars bars"></i>
                              <!--                    ●●●-->
                            </a>
                            <div class="dropdown-menu pull-left" id="tip" >
                              <%= link_to transactions_merchant_locations_path(:wallet_id => t[:tip_slug]), class: "anchor_1" do %>
                                <button class="dropdown-item" type="button">Transactions</button>
                              <% end %>
                              <% if @user_permission.admin? %>
                                <% unless t[:attached_location] %>
                                  <%= link_to '<button class="dropdown-item pay_tip" type="button">Transfer</button>'.html_safe, merchant_location_tip_modal_path(:wallet_id => t[:wallet_tip], location_id: t[:location_id].try(:[], "id")), remote: true, id: 'btn_pay_tip' %>
                                <% end %>
                              <% end %>
                            </div>
                          </div>
                          </p>
                        </div>
                        <div class="card-body">
                          <div class="card_body_1">
                            <span class="text-muted id-size">Total Balance</span>
                            <p class="p_size">$<%= number_with_precision(show_balance(t[:wallet_tip]), precision: 2, delimiter: ',') %></p>
                          </div>
                        </div>
                      </div>
                    <% end %>
                  </div>
                </div>
              <%# end %>
            </div>

          <% end %>
        </div>
        <div class="row">
        <div class="col-md-1 text-left">
          <small><% @locations.count %></small>
        </div>
        <div class="col-md-11 ">
          <%= paginate @locations, :theme => 'twitter-bootstrap-3', :pagination_class => "pagination-small pagination-centered pull-right padd" %>
        </div>
      </div>
      </div>
    </div>
    <section id="tipModal"></section>
    <div class="modal fade  " tabindex="-1" role="dialog" id="setting">
      <div class="modal-dialog form-group">
        <div class="modal-content">
          <div class="modal-header text-left bg-primary text-white">
            <h4 class="modal-title"><i class="fa fa-gear"></i><span class="ml-2">Location Details</span></h4>
            <button type="button" class="close" data-dismiss="modal">&times;</button>
          </div>
          <div class="row">
            <div class="col-md-12">
              <div class="card-header bordered">
                <div class="card-body">
                  <div class="">
                    <label>Location ID</label>
                    <p class="text-muted text_for_location"></p>
                    <p>Please use above LOCATION_ID to access the API's Parameter Name = LOCATION_ID</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--------------------Transfer Money Modal-------------------->
    <div class="modal fade" tabindex="-1" role="dialog" id="transfer_money">
      <div class="modal-dialog modal-lg form-group">
        <div class="modal-content">
          <div class="modal-header bg-primary text-white" id="div_04">
            <div id="div_07">
              <h4 class="modal-title" id="heading_10"><i class="fa fa-money"></i><span> Account Transfer</span>
              </h4>
            </div>
            <button type="button" class="close" data-dismiss="modal">&times;</button>
          </div>
          <div class="row">
            <div class="col-md-12">
              <div class="card-header bordered">
                <div class="card-body">
                  <%= simple_form_for @transfer, url: transfer_post_merchant_locations_path, method: :post do |f| %>
                    <div class="row">
                      <div class="col-md-6">
                        <div class="form-group">
                          <%= f.label :transfer_from, class: 'control-label' %><br/>
                          <%= f.select :from_wallet, @merchant_wallets.collect { |r| [r.name, r.id] }, {include_blank: 'Select From Wallet'}, {class: 'form-control transfer_wallet', required: true} %>
                          <%#= select_tag "transfer_from", options_for_select(@merchant_wallets.collect {|v| [v.name,v.id]}), {include_blank:'Select From Wallet', class: 'form-control', required: true} %>
                        </div>
                        <span>Available Balance: $<span id="from_available_amount"></span></span>
                      </div>
                      <div class="col-md-6">
                        <div class="form-group">
                          <%= f.label :transfer_to, class: 'control-label' %><br/>
                          <%= f.select :to_wallet, @merchant_wallets.collect { |r| [r.name, r.id] }, {include_blank: 'Select To Wallet'}, {class: 'form-control transfer_wallet', required: true} %>
                        </div>
                        <span>Available Balance: $<span id="to_available_amount"></span></span>
                      </div>
                      <div class="col-md-6">
                        <br>
                        <div class="form-group">
                          <%= f.label :amount, class: 'control-label' %><br/>
                          <div class="input-icon icon_inside_input_field">
                            <i>$</i>
                            <%= f.text_field :amount, {placeholder: "0.00", id: "amount", class: 'form-control', required: true} %>
                          </div>
                        </div>
                      </div>
                      <div class="col-md-6">
                        <br>
                        <div class="form-group" id="date_parent_for_transfer">
                          <%= f.label :transfer_date, class: 'control-label' %><br/>
                          <%= f.text_field :transfer_date, {id: "transfer_date", class: 'form-control', required: true} %>
                        </div>
                      </div>
                      <br>
                      <div class="col-md-6">
                        <div class="form-group">
                          <label class="control-label"><span>Memo (optional)</span></label>
                          <%= f.input :memo, id: "memo", class: "form-control ", maxlength: '32' %>
                          <span>Use letters & numbers only (upto 32 characters).</span>
                        </div>
                      </div>
                    </div>
                    <div class="modal-footer">
                      <div class="col-md-12" id="div_11">
                        <%= f.submit "Transfer Money", class: "btn btn-info ", id: "submit_transfer_btn" %>
                      </div>
                    </div>
                  <% end %>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--------------------Transfer Money Alert Modal-------------------->
    <div class="modal fade" tabindex="-1" role="dialog" id="transfer_money_alert">
      <div class="modal-dialog modal-lg form-group" id="div_13">
        <div class="modal-content">
          <div class="modal-header text-white" id="div_14" >
            <div id="div_15"></div>
            <button type="button" class="close" data-dismiss="modal">&times;</button>
          </div>
          <div class="row">
            <div class="col-md-12">
              <div class="card-header bordered">
                <div class="card-body">
                  <div class="row">
                    <p id="note_9">
                      This function is Inactivated for your account currently. Please contact Administrator.
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <% unless have_user_change_password() %>
      <%=render partial:  'merchant/shared/set_password' %>
    <% end %>
  <% elsif !verified_tos() && @user.try(:permission).try(:regular?) %>
    <div class="card">
      <div class="col-md-12">
        <div id="div_16"><%= image_tag ("QCLogo.png"), :id => "pos" %></div>
        <div class="col-md-12" id="modal_size">
          <div class="row">
            <div class="col-md-12" id="div_17">
              <div>
                <p id="note_10">Blockchain & Payment Services Agreement</p>
                <h6 id="note_11">Account is currently blocked while pending new TOS agreement acceptance. Please contact Merchant Owner to approve new TOS agreement in the Merchant Portal.</h6>
                <br>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  <% else %>
    <%=render partial:  'merchant/shared/tos' %>
  <%end %>
<% end %>

