$('.spnr').fadeOut();
$('#transaction_table').html("<%= j render(:partial => '/merchant/locations/transactions_table', :locals => {:transactions => @transactions})%>");

<% unless @last_page %>
  $('#next_button').html('').html('<%= form_tag(next_wallet_transactions_merchant_locations_path, method: :post, remote: :true) do%> <input type="hidden" name="cursor" value="<%= @cursor %>"> <input type="hidden" name="page_size" value="<%= @transactions_count %>"> <input type="hidden" name="wallet_id" value="<%= @wallet.id %>"> <input type="hidden" name="seq_transaction" value="<%= @seq_transaction.to_json %>"> <input type="submit" value="Next" class="btn btn-default pull-right next_transactions"><% end %><%= form_tag(previous_wallet_transactions_merchant_locations_path, method: :post, remote: :true) do%> <input type="hidden" name="seq_transaction" value="<%= @seq_transaction.to_json %>"> <input type="submit" value="Previous" class="btn btn-default pull-right previous_transactions"><% end %>');
<% else %>
  $('#next_button').html('').html('<button class="btn btn-default pull-right">End</button><%= form_tag(previous_wallet_transactions_merchant_locations_path, method: :post, remote: :true) do%> <input type="hidden" name="seq_transaction" value="<%= @seq_transaction.to_json %>"> <input type="submit" value="Previous" class="btn btn-default pull-right previous_transactions"><% end %>');
<% end %>

$('.next_transactions').click(function () {
    $('.spnr').fadeIn();
});
$('.previous_transactions').click(function () {
    $('.spnr').fadeIn();
});