<% sequence_down = AppConfig.try(:sequence_down).try(:first) %>
<% if (sequence_down.present? && sequence_down.boolValue == true) || (ENV['SEQUENCE_DOWN'].present? && ENV['SEQUENCE_DOWN'] == "true") %>
  <%= render 'shared/maintenance_modal', locals: {title: 'System Maintenance', body: 'We apologize for the inconvenience, however this feature is not available at this time as we are having issues with our Blockchain'} %>
<% end %>

<div class="box">
  <div class="box-header with-border">
    <div class="col-md-12">
      <div class="row">
        <div class="col-md-6">
          <h3 class="box-title"><%= @heading %></h3>
        </div>
        <div class="col-md-6 text-right">
          <% if (sequence_down.present? && sequence_down.boolValue == true) || (ENV['SEQUENCE_DOWN'].present? && ENV['SEQUENCE_DOWN'] == "true") %>
            <a id="transfer_new" class="btn btn-success" data-toggle="modal" data-target="#maintenance-modal">New Transfer</a>
          <% else %>
            <% access = merchant_allowed %>
            <% if access[:sales] && access[:virtual_terminal] && access[:close_batch] %>
              <a id="transfer_new" class="btn btn-success" data-toggle="modal" data-target="#transfer_money_alert">New Transfer</a>
            <% else %>
              <a id="transfer_new" class="btn btn-success" data-toggle="modal" data-target="#transfer_money">New Transfer</a>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
  <div class="box-body">
    <div class="row">
      <div class="col-md-12">
        <span id="show_7">Show</span>
          <span id="form_7">
            <%= form_tag transfers_merchant_locations_path, method: :get , id: 'transfer_filter'  do  %>
               <%= select_tag "filter", options_for_select(@filters.map{|v|[v]}, selected: params[:filter].present? ? params[:filter] : "10"),
                :prompt => false,
                :required => true,
                :onchange => 'this.form.submit();',
                class: "form-control form-control-sm",
                data: {confirm: "Are you sure ?"}
               %>
            <% end %>      
          </span>
          <span id="entries_7">Entries</span>
      </div>
      <div class="col-md-12"></div>
    </div>
    <div class="">
      <section id="message"></section>
      <div class="text-right"><%#= render :partial => "merchant/settings/links" %></div>
      <div class="table-responsive">
        <table id="transfers_table" class="table table-stripped">
          <thead class="blue-grey lighten-4">
          <tr>
            <th>Transfer ID</th>
            <th>Transfer Date</th>
            <th>Transfer From</th>
            <th>Transfer To</th>
            <th>Amount</th>
            <th>Status</th>
            <th>Action</th>
          </tr>
          </thead>
          <tbody>
          <% if @transfers.count > 0 %>
              <% @transfers.each do |transfer| %>
                  <tr>
                    <td><%= transfer.sequence_id.present? ? transfer.sequence_id[-7..-1] : "" %></td>
                    <td><%= transfer.transfer_date.strftime("%m/%d/%Y") %></td>
                    <td><%= get_location_name(transfer.from_wallet) %></td>
                    <td><%= get_location_name(transfer.to_wallet) %></td>
                    <td><%= number_to_currency(transfer.amount.to_f) %></td>
                    <td>
                      <% if transfer.status=="completed" %>
                          <span class="badge badge-success"><%=	transfer.status  %></span>
                      <% else %>
                          <span class="badge badge-danger" id="div16"><%=	transfer.status  %></span>
                      <% end %>
                    </td>
                    <td>
                      <div class="dropdown">
                        <button class="btn" id="btn-1"  type="button" data-toggle="dropdown">●●●</button>
                        <ul class="dropdown-menu" id="dropdown_menu1">
                          <li><a class="btn btn-sm btn-outline-secondary" id="transfer_details" data-toggle="modal" data-target="#transfer_details_modal"
                                 data-transaction_id="<%= transfer.sequence_id.present? ? transfer.sequence_id[-7..-1] : "" %>" data-date="<%= transfer.transfer_date.strftime("%m/%d/%Y") %>" data-from="<%= get_location_name(transfer.from_wallet) %>" data-to="<%= get_location_name(transfer.to_wallet) %>"
                                 data-amount="<%= transfer.amount %>" data-memo="<%= transfer.memo.present? ? transfer.memo : "" %>" data-status="<%= transfer.status %>">Detail</a></li>
                          <% if transfer.status!="completed" %>
                              <li>
                                <% if (sequence_down.present? && sequence_down.boolValue == true) || (ENV['SEQUENCE_DOWN'].present? && ENV['SEQUENCE_DOWN'] == "true") %>
                                  <a class="btn btn-sm btn-outline-secondary transfer_edit" data-toggle="modal" data-target="#maintenance-modal">Edit</a>
                                <% else %>
                                  <a class="btn btn-sm btn-outline-secondary transfer_edit" data-toggle="modal" data-target="#transfer_money" data-date="<%= transfer.transfer_date.strftime("%m/%d/%Y") %>" data-from="<%= transfer.from_wallet %>" data-to="<%= transfer.to_wallet %>"
                                       data-amount="<%= transfer.amount %>" data-memo="<%= transfer.memo %>" data-status="<%= transfer.status %>" data-transfer_id="<%=transfer.id%>">Edit</a>
                                <% end %>
                              </li>
                              <li>
                                <!--<a style="width: 100%" class="btn btn-sm btn-outline-secondary" data-confirm="Are you sure you want to cancel this transaction?">Cancel</a>-->
                                <a class="btn btn-sm btn-outline-secondary" id="cancelModal" data-toggle="modal" data-target="#closeModal" data-transfer_id="<%= transfer.id %>">Cancel</a>
                                <%#=	link_to "Cancel", transfer_delete_merchant_locations_path(id: transfer.id),{style:"color:black;width:100%" ,class: "btn btn-sm btn-outline-secondary", :data=>{confirm: "Are you sure you want to cancel this transaction?"}} %>
                              </li>
                          <% end %>
                        </ul>
                      </div>
                    </td>
                  </tr>
              <% end %>
          <% else %>
              <tr><td colspan="7"><h3 id="heading6">No Entries Yet!</h3></td>
          <% end %>
          </tbody>
        </table>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
        <span>Showing <%=@transfers.try(:size)%> of <%=@transfers.total_entries %> records</span>
      </div>
      <div class="col-md-8">
        <div class="" id="pagination"><%= will_paginate @transfers, renderer: BootstrapPagination::Rails %></div>
      </div>
    </div>
  </div>
</div>
<!-- Success Modal -->
<% if flash[:notification_msg].present? %>
    <div id="modal_id" class="modal fade show" role="dialog">
      <div class="modal-dialog modal-md" id="div17">
        <!-- Modal content-->
        <div class="modal-content panel-success">
          <div class="modal-header bg-primary">
            <h4 class="modal-title" id="heading7">Transaction</h4>
            <!--<button type="button" class="close" data-dismiss="modal" aria-label="Close">-->
            <!--<span aria-hidden="true">&times;</span>-->
            <!--</button>-->
          </div>
          <div class="modal-body">
            <div class="card">
              <div class="card-body">
                <p class="text-success" id="para">
                  <% if flash[:notification_msg].present? %>
                      <% if flash[:notification_msg] == "Transfer is successfully processed!" || flash[:notification_msg] == "Transfer Deleted Successfully" %>
                        <h4 id="flash_msg"><b><%= flash[:notification_msg] %></b></h4>
                    <% else %>
                        <h4 id="flash_msg1"><b><%= flash[:notification_msg] %></b></h4>
                    <% end %>
                <% end %>
                </p>
              </div>
              <button type="button" id="modal_close_btn" class="close btn btn-default" data-dismiss="modal" aria-hidden="true">
                <div class="card-footer">
                  <center>
                    OK
                  </center>
                </div>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
<% end %>
<!--------------------Close Modal-------------------->
<div class="modal fade"  tabindex="-1"  role="dialog" id="closeModal">
  <div class="modal-dialog modal-md form-group" id="div18">
    <div class="modal-content">
      <div class="modal-header bg-primary text-white" id="div19">
        <div id="div20">
          <h4 class="modal-title" id="heading9"><i class="fa fa-money"></i><span>Cancel Transfer</span></h4>
        </div>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="card-header bordered">
              <p id="note_13">Are You Sure You Want To Delete This Transfer?</p>
          </div>
        </div>
        <div class="col-md-12" id="div21">
            <button class="btn btn-danger pull-left" data-dismiss="modal" id="cancel_btn">Cancel</button>
            <button id="delete_transaction_btn" class="btn btn-success pull-right" >Yes</button>
        </div>
      </div>
    </div>
    <!--<div class="modal-body" style="padding: 0px !important">-->
      <!--<div class="modal-header text-white" style="text-align: center;background-color: #3a4651">-->
        <!--<span class="modal-title" style="margin: auto;font-size: 22px"><i class="fa fa-money"></i><span> Cancel Transaction </span></span>-->
        <!--<button type="button" class="close" style="margin-top: 2px !important;" data-dismiss="modal">&times;</button>-->
      <!--</div>-->
      <!--<div class="row">-->
        <!--<p style="padding-left: 30px;font-size: 19px;padding-top: 10px;">Are You Sure You Want To Delete This Transaction?</p>-->
      <!--</div>-->
    <!--</div>-->
    <!--<div class="modal-footer">-->
      <!--<button class="btn btn-danger pull-left" data-dismiss="modal">Cancel</button>-->
      <!--<button id="delete_transaction_btn" class="btn btn-success pull-right">Yes</button>-->
    <!--</div>-->
  </div>
</div>
<!--------------------Transfer Money Modal-------------------->
<div class="modal fade"  tabindex="-1"  role="dialog" id="transfer_money">
  <div class="modal-dialog modal-lg form-group">
    <div class="modal-content">
      <div class="modal-header bg-primary text-white" id="div22">
        <div id="div23">
          <h4 class="modal-title" id="heading10"><i class="fa fa-money"></i><span> Account Transfer</span></h4>
        </div>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="card-header bordered">
            <div class="card-body">
              <%= render partial: 'form_transfer' %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!--------------------Transfer Money Alert Modal-------------------->

<div class="modal fade"  tabindex="-1"  role="dialog" id="transfer_money_alert">
  <div class="modal-dialog modal-lg form-group">
    <div class="modal-content">
      <div class="modal-header bg-primary text-white" id="div24">
        <div id="div25">
        </div>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="card-header bordered">
            <div class="card-body">
              <div class="row" id="div26">
                 <p id="note_14">
                    This function is Inactivated for your account currently. Please contact Administrator. 
                  </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!--------------------Details Money Modal-------------------->
<div class="modal fade"  tabindex="-1"  role="dialog" id="transfer_details_modal">
  <div class="modal-dialog modal-lg form-group">
    <div class="modal-content">
      <div class="modal-header bg-primary text-white" >
        <div class="div27">
          <h4 class="modal-title" id="heading11"><i class="fa fa-money"></i><span> Account Transfer</span></h4>
        </div>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      <div class="card">
        <div class="card-body">
          <div class="row">
            <div class="form-group col-md-4">
              <label for="transaction_id"><strong>Transaction ID</strong></label>
              <p class="form-control-static" id="transaction_id"></p>
            </div>
            <div class="form-group col-md-4">
              <label for="date"><strong>Transfer Date</strong></label>
              <p class="form-control-static" id="transfer_datee"></p>
            </div>
            <div class="form-group col-md-4">
              <label for="date"><strong>Transfer From</strong></label>
              <p class="form-control-static" id="transfer_sender">
              </p>
            </div>

            <div class="form-group col-md-4">
              <label for="date"><strong>Transfer To</strong></label>
              <p class="form-control-static" id="transfer_receiver"></p>
            </div>
            <!--Memo Section-->
            <div class="form-group col-md-4">
              <label><strong>Memo</strong></label>
              <p class="form-control-static" id="transfer_memo"></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
