
<section id="custom_modal"></section>
<% if @wallet.primary? %>
  <nav>
    <div class="nav nav-tabs" id="nav-tab" role="tablist">
      <a class="lis nav-item nav-link text-center <%= params[:trans] == "success" || params[:trans].blank? ? 'active' : ''%> wallet_succes" data="<%=params[:wallet_id]%>" id="nav-home-tab" ><span>All Requests</span></a>
      <a class="lis nav-item nav-link text-center <%= params[:trans] == "refund" ? 'active' : ''%> wallets_refund" id="nav-approved-tab" data="<%=params[:wallet_id]%>" ><span>Approved</span></a>
      <a class="lis nav-item nav-link text-center <%= params[:trans] == "checks" ? 'active' : ''%> wallet_check" id="nav-pending-tab"  data="<%=params[:wallet_id]%>" ><span>Pending</span></a>
      <a class="lis nav-item nav-link text-center <%= params[:trans] == "b2b" ? 'active' : ''%> wallet_b2b" id="nav-rejected-tab"  data="<%=params[:wallet_id]%>" ><span>Rejected</span></a>
    </div>
  </nav>
<% end %>
<div class="box">
  <div class="box-header with-border">
    <div class="col-md-12">
      <div class="row">
        <div class="col-md-6">
          <h3 class="box-title"><%= @heading %> </h3>
        </div>
        <div class="col-md-6">
          <% if params[:query].present? && params[:query][:date].present? %>
            <a data-toggle="modal" data-type="transactions" id="export_class" data-wallet_id="<%= params[:wallet_id] %>" data-search-date="<%= params[:query][:date] %>" data-search-last4="<%= params[:query][:last4] %>" data-search-amount="<%= params[:query][:amount] %>" data-search-phone="<%= params[:query][:phone_number] %>" data-search-email="<%= params[:query][:email] %>" data-search-price="<%= params[:query][:price] %>" data-search-name="<%= params[:query][:name] %>" class="exportReport pull-right" href="#exportModalDialog"><button type="button" class="btn btn-sm btn-success"><i class="fa fa-file"></i> Export</button></a>
          <% else %>
            <a data-toggle="modal" id="export_class" data-type="transactions" class="exportModalDialog pull-right" href="#exportModalDialog"><button type="button" class="btn btn-sm btn-success"><i class="fa fa-file"></i> Export</button></a>
          <% end %>
          <a href="#search" data-toggle="collapse" id="search3" aria-expanded="false" aria-controls="search" class="btn btn-outline-secondary btn-sm"><i class="icon-magnifier icons"></i> Search</a>
        </div>
      </div>
    </div>
  </div>

  <div class="row" id="div28" >
    <div class="col-sm-6 col-md-6">
      <div class="dataTables_length">
        <div class="col-md-6" id="div29">
          <span id="span-2">Show </span>
          <span id="span-3" >
          <%= form_tag transactions_merchant_locations_path, method: :get, id: 'wallet_filter'  do  %>
            <%= select_tag "tx_filter", options_for_select(@filters.map{|v|[v]}, selected: params[:tx_filter].present? ? params[:tx_filter] : "10"),
              :prompt => false,
              :required => true,
              class: "form-control wallet_filter form-control-sm",
              data: {confirm: t('merchant.disputes.rusure')}
            %>
            <input type="hidden" name="wallet_id" value="<%= params["wallet_id"] %>">
            <% if params[:query].present? %>
              <input type="hidden" name="query[amount]" value="<%= params[:query][:amount] if  params[:query][:amount].present? %>"  />
              <input type="hidden" name="query[last4]" value="<%= params[:query][:last4]  if  params[:query][:last4].present?%>"  />
              <input type="hidden" name="query[first6]" value="<%= params[:query][:first6]  if  params[:query][:first6].present?%>"  />
              <input type="hidden" name="query[name]" value="<%= params[:query][:name]  if  params[:query][:name].present?%>"  />
              <input type="hidden" name="query[time1]" value="<%= params[:query][:time1]  if  params[:query][:time1].present?%>"  />
              <input type="hidden" name="query[time2]" value="<%= params[:query][:time2]  if  params[:query][:time2].present?%>"  />
              <input type="hidden" name="query[offset]" value="<%= params[:query][:offset].present? ? params[:query][:offset] : Time.now.in_time_zone(cookies[:timezone]).strftime("%z")%>"  />
              <input type="hidden" name="query[date]" value="<%= params[:query][:date]  if  params[:query][:date].present? %>"  />
              <input type="hidden" name="query[email]" value="<%= params[:query][:email]  if  params[:query][:email].present?%>"  />
              <input type="hidden" name="query[phone_number]" value="<%= params[:query][:phone_number]  if  params[:query][:phone_number].present?%>"  />
            <% end %>
          <% end %>
        </span>
        <span id="span-4"> Entries</span>
      </div>
    </div>
  </div>
  

  <div class="box-body">
    <div class="col-md-12">
      <%= form_tag transactions_merchant_locations_path, method: :get, class:'search_transactions', autocomplete: "off"  do  |f| %>
        <input type="hidden" name="wallet_id" value="<%= params["wallet_id"] %>">
        <div class="collapse mb-3" id="search">
          <div class="card card-body">
            <div class="row">
              <div class="col-md-12">
                <h5>Search</h5>
              </div>
              <!-- <div class="form-group col-md-4">
                <label for="id">Name</label>
                <input type="text" name="query[name]" value="<%#= params[:query].present? ? params[:query][:name] : ""  %>" id="name" class="form-control" placeholder="Name"  />
              </div>
              <div class="form-group col-md-4">
                <label for="id">Email</label>
                <input type="email" name="query[email]" value="<%#= params[:query].present? ? params[:query][:email] : ""  %>" id="email" class="form-control" placeholder="Email"  />
              </div>

              <div class="col-md-4">
                <label for="id">Phone Number</label>
                <div class="input-group">
                  <input type='tel' min="0" name="query[phone_number]"  value="<%#= params[:query].present? ? params[:query][:phone_number] : ""  %>" id="phone" class="form-control"  placeholder="Phone Number" aria-describedby="basic-addon1" />
                </div>
              </div> -->
              <div class="form-group col-md-4">
                <label for="id">Amount</label>
                <input type='text' name="query[amount]" value="<%= params[:query].present? ? params[:query][:amount] : ""  %>"  id="amount" class="form-control"  placeholder="Amount" step="0.01" />
              </div>
              <div class="form-group col-md-4">
                <label for="date_id">Date</label>
                <input type='text' name="query[date]"  id="date_id" class="datepicker form-control" autocomplete="off" value="<%= params[:query].present? ? params[:query][:date] : ""  %>" />
              </div>

              <div class="form-group col-md-4">
                <label for="id">Last4</label>
                <input name="query[last4]" onKeyPress="if(this.value.length==4) return false;"  maxlength="4"  value="<%= params[:query].present? ? params[:query][:last4] : ""  %>"  id="last4" class="form-control"  placeholder="Last4"  />
              </div>
              <div class="col-md-12 text-right">
                <button type="submit" class="btn btn-success btn-sm search_button">Search</button>
              </div>
            </div>
          </div>
        </div>
      <% end %>

      <div id="transaction_table">
        <%= render partial: 'merchant/transactions/transactions_table' ,:locals =>  {:transactions => @transactions}%>
      </div>



      <!-- The refund Modal stars -->
      <div class="modal fade" id="refundModalDialog" >
        <div class="modal-dialog modal_style">
          <div class="modal-content modal_style">
            <!-- Modal Header -->
            <div class="modal-header text-left bg-primary text-white">
              <h4 class="modal-title" id="heading_13"><span class="ml-2">Refund payment</span></h4>
              <button type="button" class="close" data-dismiss="modal">×</button>
            </div>
            <!-- Modal body -->
            <div class="modal-body div-body">
              <div class="card card_style">
                <div class="card-body">
                  <div class="row row_style">
                    <div class="form-group col-md-8">
                      <label for="partialamount" class="partial_label">Amount <i class="fa fa-info-circle" aria-hidden="true" title='The amount showing reflects the total transaction amount. For "Partial Refund" please adjust the amount to the amount you would like to refund.'>
                      </i>
                      </label>
                      <div class="input-group">
                        <span class="input-group-addon"><b>$</b></span>
                        <input type="text" id="partialamount" class="form-control number" placeholder="0.00" %>
                      </div>
                      <div class="pull-right">
                        <span>Amount + Fee = $ </span> <span  class="refund_fee"></span>
                      </div>
                      <div class="row col-md-12">
                        <span class="alert-danger" id="partial_error"></span>
                      </div>
                    </div>
                    <div class="form-group col-md-8">
                      <label for="reason" class="partial_label">Reason</label>
                      <select class="form-control" id="reason_select">
                        <option value="0">Select a reason</option>
                        <option value="1">Duplicate</option>
                        <option value="2">Fraudulent</option>
                        <option value="3">Requested by customer</option>
                        <option value="4">Other</option>
                      </select>
                      <br>
                      <textarea placeholder="Add a reason for this refund..." id="reason_detail" class="form-control" rows="5"></textarea>
                    </div>
                  </div>
                  <div class="col-md-12" id="div30">
                    <p id="note_15"><b><i class="fa fa-info-circle"></i> Refunds take 1-5 days to appear on a customer's statement.</b></p>
                  </div>
                </div>
              </div>
            </div>
            <div class="modal-footer" id="refundModalFooter" >
              <button class="btn btn-default" data-dismiss="modal">Cancel</button>
              <!--              <button class="btn btn-default" id="verification_btn">Verify</button>-->
              <a data-toggle="modal"  class="" href="#verifymodal" id="verify_btn"><button type="button" class="btn btn-sm btn-primary">Refund</button></a>
              <a id="footerLink" href="" ><button class="btn btn-primary refund_btn" disabled>Refund</button></a>
            </div>
          </div>
        </div>
      </div>

      <!--      Verification modal-->
      <div class="modal fade" id="verifymodal">
        <div class="modal-dialog modal_style">
          <div class="modal-content modal_style">
            <!-- Modal Header -->
            <div class="modal-header text-left bg-primary text-white">
              <h4 class="modal-title" id="heading_14" ><span class="ml-2">Refund payment</span></h4>
              <button type="button" class="close" data-dismiss="modal">×</button>
            </div>
            <!-- Modal body -->
            <div class="modal-body div-body">
              <div class="card card_style">
                <div class="card-body">
                  <div class="row row_style" >
                    <div class="col-md-12" id="div31">
                      <div class="col-md-12">
                        <div class="form-group">
                          <label class="control-label" id="email_label"><span>Email</span></label>
                          <input type="email" value="<%= current_user.email %>" class="form-control" disabled>
                        </div>
                      </div>
                      <div class="col-md-12">
                        <div class="form-group">
                          <label class="control-label"><span>Password</span></label>
                          <input type="password" value="" id="password" class="form-control">
                        </div>
                      </div>
                      <div class="col-md-12">
                        <div class="form-group">
                          <a class="btn btn-primary btn-sm" id="password_btn">Verify</a>
                        </div>
                      </div>
                      <span id="info-text">Please verify yourself!</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="modal-footer card_style" >
              <button class="btn btn-default" data-dismiss="modal">Cancel</button>
            </div>
          </div>
        </div>
      </div>
      <!-- The refund Modal ends -->
      <!-- The export Modal starts -->
      <%= render partial: 'merchant/transactions/export_modal' %>
      <!-- The export Modal ends -->
      <div class="card-footer text-right" id="div32">
        <div class="row">
          <div class="col-md-12">
            <div id="next_button">
             <span id="span-5">Showing <%=@transactions.try(:count)%> of <%=@transactions.total_count %> records</span>
              <%# if @transactions.present? && !@last_page %>
                <%#= paginate @transactions, :theme => 'twitter-bootstrap-3', :pagination_class => "pagination-small pagination-centered pull-right padd"%>
                <%#= form_tag(next_wallet_transactions_merchant_locations_path, method: :post, remote: :true) do%>
                  <!-- <input type="hidden" name="cursor" value="<%= @cursor %>">
                  <input type="hidden" name="page_size" value="<%= @transactions.count %>">
                  <input type="hidden" name="wallet_id" value="<%= @wallet.id %>">
                  <input type="hidden" name="seq_transaction" value="<%= @seq_transaction.to_json %>">
                  <input type="submit" value="Next" class="btn btn-default pull-right next_transactions"> -->
                <%# end %>
              <%# else %>
                <!-- <button class="btn btn-default pull-right">End</button> -->
              <%# end %>
            </div>
            <%= paginate @transactions, :theme => 'twitter-bootstrap-3', :pagination_class => "pagination-small pagination-centered pull-right padd"%>
          </div>
          <div class="col-md-1 text-left">
            <!-- <small><% @transactions.count %></small> -->
          </div>
        </div>
      </div>
      <!-- </div> -->
    </div>
  </div>
</div>
<!-- Success Modal -->
<% if flash[:notification_msg].present? %>
    <div id="notification_modal" class="modal fade show" role="dialog">
      <div class="modal-dialog modal-md" id="div33">
        <!-- Modal content-->
        <div class="modal-content panel-success">
          <div class="modal-header bg-primary">
            <h4 class="modal-title" id="heading_15">Transaction</h4>
            <!--<button type="button" class="close" data-dismiss="modal" aria-label="Close">-->
            <!--<span aria-hidden="true">&times;</span>-->
            <!--</button>-->
          </div>
          <div class="modal-body">
            <div class="card">
              <div class="card-body">
                <p class="text-success" id="info_success" >
                  <% if flash[:notification_msg].present? %>
                      <% if flash[:notification_msg] == "Transfer is successfully processed!" || flash[:notification_msg] == "Transfer Deleted Successfully" %>
                        <h4 id="flash_msg2" ><b><%= flash[:notification_msg] %></b></h4>
                    <% else %>
                        <h4 id="flash_msg3" ><b><%= flash[:notification_msg] %></b></h4>
                    <% end %>
                <% end %>
                </p>
              </div>
              <button type="button" id="modal_close_btn" class="close btn btn-default" data-dismiss="modal" aria-hidden="true">
                <div class="card-footer">
                  <center>
                    OK
                  </center>
                </div>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
<% end %>
<!--------------------Transfer Money Modal-------------------->
<div class="modal fade"  tabindex="-1"  role="dialog" id="transfer_money">
  <div class="modal-dialog modal-lg form-group">
    <div class="modal-content">
      <div class="modal-header bg-primary text-white">
        <div class="width_100" >
          <h4 class="modal-title" id="heading_16" ><i class="fa fa-money"></i><span> Tip Transfer</span></h4>
        </div>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="card-header bordered">
            <div class="card-body">
              <%= simple_form_for @transfer, url: transfer_post_merchant_locations_path, method: :post do |f|%>
                  <input id="transfer_id" class="form-control" type="hidden" value="0.0" name="transfer_id">
                  <div class="row">
                    <div class="col-md-6">
                      <div class="form-group">
                        <%= f.label :transfer_from,class: 'control-label' %><br/>
                        <select class="form-control" required="required" name="transfer[from_wallet]" id="transfer_from_wallet" disabled><option value="">Select From Wallet</option>
                          <option value="<%= @wallet.id %>"><%= @wallet.name %></option>
                        </select>
                        <input type="hidden" name="transfer[from_wallet]" value="<%= @wallet.try(:id) %>">
                        <span class="pull-right">Available Balance: $ <span id="from_available_amount"></span></span>
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="form-group">
                        <%= f.label :transfer_to,class: 'control-label' %><br/>
                        <select class="form-control" required="required" name="transfer[to_wallet]" id="transfer_to_wallet" disabled><option value="">Select To Wallet</option>
                          <option value="<%= @primary_wallet.present? ? @primary_wallet.id : '' %>"><%= @primary_wallet.present? ? @primary_wallet.name : "" %></option>
                        </select>
                        <input type="hidden" name="transfer[to_wallet]" value="<%= @primary_wallet.try(:id) %>">
                        <span class="pull-right">Available Balance: $ <span id="to_available_amount"></span></span>
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="form-group">
                        <%= f.label :amount,class: 'control-label' %><br/>
                        <div class="input-icon icon_inside_input_field">
                          <i>$</i>
                          <%= f.text_field :amount, {placeholder: "0.00", id: "trans_amount", class: 'form-control', required: true}%>
                        </div>
                      </div>
                    </div>
                    <br>
                    <div class="col-md-6">
                      <div class="form-group">
                        <%= f.label :transfer_date,class: 'control-label' %><br/>
                        <%= f.text_field :transfer_date, { value: Date.today.strftime("%m/%d/%Y"), readonly: true, class: 'form-control', required: true}%>
                      </div>
                    </div>
                    <br>
                    <div class="col-md-6">
                      <div class="form-group">
                        <label class="control-label"><span>Memo (optional)</span></label>
                        <%= f.input :memo, id:"memo", class:"form-control",maxlength: '32'%>
                        <span>Use letters & numbers only (upto 32 characters).</span>
                      </div>
                    </div>
                    <div class="col-md-6"></div>
                  </div>
                  </div>
                  </div>
                  </div>
                  </div>
                  <div class="modal-footer">
                    <div class="col-md-12 text-white">
                      <%= f.submit "Transfer Money", class:"btn btn-info ", id:"submit_transfer_btn" %>
                    </div>
                  </div>
              <% end %>
              </div>
  </div>
</div>
<section id="tipModal"></section>
<section id="custom_modal"></section>
</div>
<input type="hidden" class="flash_messsage" value="<%= flash[:notification_msg] %>">