<%= stylesheet_link_tag "merchant/orders", media: 'all', 'data-turbolinks-track' => 'reload' %>

<!--------------------Transfer Money Modal-------------------->
<div class="modal fade"  tabindex="-1"  role="dialog" id="add_warehouse_modal">
  <div class="modal-dialog modal-lg form-group">
    <div class="modal-content">
      <div class="modal-header bg-primary text-white" id="div22">
        <div id="div23">
          <h4 class="modal-title" id="heading10"><span> <%= @warehouse.id.present? ? "Edit Warehouse" : "Add Warehouse"  %> </span></h4>
        </div>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="card-header bordered">
            <div class="card-body">
              <%= form_tag post_warehouse_merchant_orders_path, method: :post do %>
                <div class="col-md-12">
                  <div class="box-body">
                    <div class="col-md-12">
                      <div class="row">
                        <div class="col-md-12">

                          <div class="row">
                            <div class="col-md-12">
                              <div class="row">
                                <div class="col-md-6">
                                  <div class="form-group">
                                    <label>First Name</label>
                                    <input type="hidden" name="address[id]" value="<%= @warehouse.id %>">
                                    <input type="hidden" name="address[address_type]" value="warehouse">
                                    <input type="text" class="form-control" id="from_first_name" name="address[first_name]" value="<%= @warehouse.first_name %>" required>
                                  </div>
                                </div>
                                <div class="col-md-6">
                                  <div class="form-group">
                                    <label>Last Name</label>
                                    <input type="text" class="form-control" id="from_last_name" name="address[last_name]" value="<%= @warehouse.last_name %>" required>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>

                          <div class="row">
                            <div class="col-md-12">
                              <div class="form-group">
                                <label>Company</label>
                                <input type="text" class="form-control" id="from_first_name" name="address[company]" value="<%= @warehouse.company %>" required>
                              </div>
                            </div>
                          </div>

                          <div class="row">
                            <div class="col-md-12">
                              <div class="form-group">
                                <label>Street Address</label>
                                <input type="text" class="form-control" id="from_address" name="address[street]" value="<%= @warehouse.street %>" required>
                              </div>
                            </div>
                          </div>

                          <div class="row">
                            <div class="col-md-12">
                              <div class="row">
                                <div class="col-md-6">
                                  <div class="form-group">
                                    <label>Suit/Apartment/Other</label>
                                    <input type="text" class="form-control" id="from_suit" name="address[suit]" value="">
                                  </div>
                                </div>
                                <div class="col-md-6">
                                  <div class="form-group">
                                    <label>City</label>
                                    <input type="text" class="form-control" id="from_city" name="address[city]" value="<%= @warehouse.city %>" required>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>

                          <div class="row">
                            <div class="col-md-12">
                              <div class="row">
                                <div class="col-md-6">
                                  <div class="form-group">
                                    <label>State</label>
                                    <input type="text" class="form-control" id="from_state" name="address[state]" value="<%= @warehouse.state %>" required>
                                  </div>
                                </div>
                                <div class="col-md-6">
                                  <div class="form-group">
                                    <label>Zipcode</label>
                                    <input type="text" class="form-control" id="from_zip" name="address[zip]" value="<%= @warehouse.zip %>" required>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>

                          <div class="row">
                            <div class="col-md-12">
                              <div class="row">
                                <div class="col-md-6">
                                  <div class="form-group">
                                    <label>Phone Number</label>
                                    <% phone_number = @warehouse.id.present? ? "+#{@warehouse.phone_number}" : ""  %>
                                    <%= text_field_tag "phone_number", phone_number, class: "validate_form form-control shadow-sm adjust-popup-fields icon-input txtOwner", required: true, :maxlength => 11 %>
                                    <%= hidden_field_tag "phone_code" %>
<!--                                    <input type="text" class="form-control" id="phone_number" name="from[phone_number]" value="<%#= @warehouse.phone_number %>" maxlength="11" required>-->
                                  </div>
                                </div>
                                <div class="col-md-6">
                                  <div class="form-group">
                                    <label>Email</label>
                                    <input type="email" class="form-control" id="from_email" name="address[email]" value="<%= @warehouse.email %>" required>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-12 text-center margin-top-15px">
                      <%= submit_tag "Save", id: 'submit_button', :class => "btn btn-success" %>
                    </div>
                  </div>
                </div>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<!--<div class="box">-->
<!--  <div class="box-header with-border">-->
<!--    <div class="col-md-12">-->
<!--      <div class="row">-->
<!--        <div class="col-md-6">-->
<!--          <h3 class="box-title"><%#= @warehouse.try(:id).present? ? "Edit Warehouse" : "Add Warehouse"   %></h3>-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->
<!--  <div class="box-body">-->
<!--    <div class="col-md-12">-->

<!--    </div>-->

<!--  </div>-->
<!--</div>-->