<div class="modal fade right" id="add-carrier-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalPreviewLabel" aria-hidden="true">
  <div class="modal-dialog momodel modal-fluid add-carrier-modal-dialog" role="document">
    <div class="modal-content add-carrier-modal-content">
      <div class=" modal-header text-center">
        <h5 class="modal-title w-100" id="add-carrier-modal-title">
          <% if params[:type] == "ups" %>
            Add Your UPS Account
          <% elsif params[:type] == "fedex" %>
            Add Your FedEx Account
          <% elsif params[:type] == "dhl" %>
            Add Your DHL eCommerce Account
          <% end %>
        </h5>
        <button  type="button" class="close " data-dismiss="modal" aria-label="Close">
          <span style="font-size: 1.3em;" aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="col-md-12 outer-modal-body">
          <div class="col-md-12 margin-top-15-px-shared">
            <%= render partial: "#{params[:type]}_account" %>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger btn-md btn-rounded" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary btn-md btn-rounded">Save changes</button>
      </div>
    </div>
  </div>
</div>