<div class="row">
  <div class="col-md-4">
    <div class="row col-md-12 padding-0px"><h4 class=" pull-left">EasyPost Details</h4></div>
    <div class="form-group">
      <label class="col-form-label pull-left">Reference <small class="text-muted">(Optional. Cannot be edited once set)</small></label>
      <input name="reference" type="text" class="form-control" value="">
    </div>
    <div class="form-group">
      <label class="col-form-label pull-left">Description <small class="text-muted">(Optional)</small></label>
      <input placeholder="Please enter a custom description" name="description" type="text" class="form-control" value="">
    </div>
  </div>
  <div class="col-md-4">
    <div class="row col-md-12 padding-0px"><h4 class="pull-left">Production Credentials</h4></div>
    <div class="form-group">
      <label class="col-form-label pull-left">DHL eCommerce Client Username</label>
      <input name="credentials.username" type="text" class="form-control" value="">
    </div>
    <div class="form-group">
      <label class="col-form-label pull-left"><span>DHL eCommerce Client Secret </span></label>
      <input name="credentials.password" type="password" class="form-control" value="">
    </div>
    <div class="form-group">
      <label class="col-form-label pull-left">DHL eCommerce Client ID</label>
      <input name="credentials.client_id" type="text" class="form-control" value="">
    </div>
    <div class="form-group">
      <label class="col-form-label pull-left">DHL eCommerce Pickup Number (53XXXXX)</label>
      <input name="credentials.pickup_account_id" type="text" class="form-control" value="">
    </div>
    <div class="form-group">
      <label class="col-form-label pull-left">DHL eCommerce Billing Reference (optional)</label>
      <input name="credentials.billing_ref_one" type="text" class="form-control" value="">
    </div>
    <div class="form-group">
      <label class="col-form-label pull-left">FTP User ID</label>
      <input name="credentials.ftp_username" type="text" class="form-control" value="">
    </div>
    <div class="form-group">
      <label class="col-form-label pull-left"><span>FTP Password </span></label>
      <input name="credentials.ftp_password" type="password" class="form-control" value="">
    </div>
    <div class="form-group">
      <label class="col-form-label pull-left">Facility Code for Default Distribution Center</label>
      <input name="credentials.facility_code" type="text" class="form-control" value="">
    </div>
    <div class="form-group">
      <label class="col-form-label pull-left">DHL eCommerce Merchant ID (optional)</label>
      <input name="credentials.merchant_id" type="text" class="form-control" value="">
    </div>
  </div>
  <div class="col-md-4">
    <div class="row col-md-12 padding-0px"><h4 class="pull-left">Test Credentials</h4></div>
    <div class="form-group">
      <label class="col-form-label pull-left">DHL eCommerce Test Customer Username</label>
      <input name="test_credentials.username" type="text" class="form-control" value="">
    </div>
    <div class="form-group">
      <label class="col-form-label pull-left"><span>DHL eCommerce Test Client Secret </span></label>
      <input name="test_credentials.password" type="password" class="form-control" value="">
    </div>
    <div class="form-group">
      <label class="col-form-label pull-left">DHL eCommerce Test Client ID</label>
      <input name="test_credentials.client_id" type="text" class="form-control" value="">
    </div>
    <div class="form-group">
      <label class="col-form-label pull-left">DHL eCommerce Test Pickup Number (53XXXXX)</label>
      <input name="test_credentials.pickup_account_id" type="text" class="form-control" value="">
    </div>
    <div class="form-group">
      <label class="col-form-label pull-left">DHL eCommerce Test Billing Reference (optional)</label>
      <input name="test_credentials.billing_ref_one" type="text" class="form-control" value="">
    </div>
    <div class="form-group">
      <label class="col-form-label pull-left">FTP User ID</label>
      <input name="test_credentials.ftp_username" type="text" class="form-control" value="">
    </div>
    <div class="form-group">
      <label class="col-form-label pull-left"><span>FTP Password </span></label>
      <input name="test_credentials.ftp_password" type="password" class="form-control" value="">
    </div>
    <div class="form-group">
      <label class="col-form-label pull-left">Facility Code for Default Distribution Center</label>
      <input name="test_credentials.facility_code" type="text" class="form-control" value="">
    </div>
    <div class="form-group">
      <label class="col-form-label pull-left">DHL eCommerce Test Merchant ID (optional)</label>
      <input name="test_credentials.merchant_id" type="text" class="form-control" value="">
    </div>
  </div>
</div>