<div class="row">
  <div class="col-md-3">
    <label><b>Enter a Shipping Date</b></label>
  </div>
  <div class="col-md-9">
    <div class="row">
      <div class="col-md-8">
        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              <label>Shipping Date</label>
              <input type="text" class="form-control" id="shipping_date" name="shipping[date]" required>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<hr>

<div class="row">
  <div class="col-md-3">
    <label><b>Enter Package Details</b></label>
  </div>
  <div class="col-md-9">
    <div class="row">
      <div class="col-md-8">
        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              <label>Length</label>
              <input type="number" min="0" class="form-control" id="shipping_length" name="shipping[length]" value="" required>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label>Width</label>
              <input type="number" min="0" class="form-control" id="shipping_width" name="shipping[width]" value="<%= %>" required>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-8">
        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              <label>Height</label>
              <input type="number" min="0" class="form-control" id="shipping_height" name="shipping[height]" value="" required>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label>Weight</label>
              <input type="number" min="0" class="form-control" id="shipping_weight" name="shipping[weight]" value="<%= %>" required>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-8">
        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              <label>Package Type</label>
              <select class="form-control" id="shipping_type" name="shipping[type]">
                <option>Select Type</option>
                <option>Test</option>
              </select>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label>Package Value</label>
              <input type="number" min="0" class="form-control" id="shipping_value" name="shipping[value]" value="<%= %>" required>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>
<hr>
<section class="display-none" id="carrier">
  <div class="row">
    <div class="col-md-3">
      <label><b>Choose your Carrier</b></label>
    </div>
    <div class="col-md-9">
      <div class="row">
        <div class="col-md-8">
          <div class="row">
            <div class="col-md-6">
              <div class="form-group" id="insert_carrier">
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</section>
<section class="display-none" id="service_type">
  <div class="row">
    <div class="col-md-9">
      <div class="row">
        <div class="col-md-8">
          <div class="row">
            <table class="table table-striped">
              <thead>
              <tr class="table-header">
                <th></th>
                <th>Package Type</th>
                <th>Expected Delivery</th>
                <th>Shipping Price</th>
              </tr>
              </thead>
              <tbody id="rates_body">
              </tbody>
            </table>
          </div>
        </div>
      </div>

    </div>
  </div>
</section>


<div class="row" >
  <div class="col-md-3"></div>
  <div class="col-md-9">
    <button type="button" class="btn btn-success text-right" id="get_rates">Get Rates</button>
    <%= submit_tag "Generate Label", id: 'submit_button', :class => "btn btn-success text-right pull-left display-none" %>
    <p id="error-span" class="red-color display-none">All Fields are required!</p>
  </div>
</div>
