<div class="box">
  <div class="box-header with-border">
    <div class="col-md-12">
      <div class="row">
        <div class="col-md-6">
          <h3 class="box-title">Carriers</h3>
        </div>
        <div class="col-md-6">
          <%#= link_to "My Carriers", "", class: "btn btn-sm btn-success show-cover-spin show-dynamic-modal pull-right", remote: true, data: {:"modal_selector" => "#add_warehouse_modal", "modal_container_selector" => "#add_modal", method: "GET", "url_path" => add_warehouse_merchant_orders_path} %>
        </div>
      </div>
    </div>
  </div>

  <div class="box-body">
    <div class="col-md-12">
      <div class="row">
        <div class="col-md-3">
          <div class="jumbotron">
            <h5><b>USPS</b></h5>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
            <div class="col-md-12">
              <button class="btn btn-sm btn-success width-100" disabled>Add Key</button>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="jumbotron">
            <h5><b>UPS</b></h5>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
            <div class="col-md-12">
              <%= link_to "Add Key", "", class: "btn btn-sm btn-success show-cover-spin show-dynamic-modal width-100", remote: true, data: {:"modal_selector" => "#add-carrier-modal", "modal_container_selector" => "#add_modal", method: "GET", "url_path" => carrier_key_merchant_orders_path(type: "ups")} %>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="jumbotron">
            <h5><b>FedEx</b></h5>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
            <div class="col-md-12">
              <%= link_to "Add Key", "", class: "btn btn-sm btn-success show-cover-spin show-dynamic-modal width-100", remote: true, data: {:"modal_selector" => "#add-carrier-modal", "modal_container_selector" => "#add_modal", method: "GET", "url_path" => carrier_key_merchant_orders_path(type: "fedex")} %>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="jumbotron">
            <h5><b>DHL eCommmerce</b></h5>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
            <div class="col-md-12">
              <%= link_to "Add Key", "", class: "btn btn-sm btn-success show-cover-spin show-dynamic-modal width-100", remote: true, data: {:"modal_selector" => "#add-carrier-modal", "modal_container_selector" => "#add_modal", method: "GET", "url_path" => carrier_key_merchant_orders_path(type: "dhl")} %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<section id="add_modal"></section>
<div id="cover-spin"></div>