<%= stylesheet_link_tag "merchant/transactions", media: 'all', 'data-turbolinks-track' => 'reload' %>

<div class="box">
  <div class="box-header with-border">
    <div class="col-md-12">
      <div class="row">
        <div class="col-md-6">
          <h3 class="box-title">Order Shipment Details</h3>
        </div>
      </div>
    </div>
  </div>
  <div class="box-body">
    <div class="col-md-12">
      <%= form_tag post_add_label_merchant_orders_path, method: :post  do  %>
        <input type="hidden" name="step" value="<%= params[:step] %>">
        <input type="hidden" name="tracker_id" value="<%= params[:tracker_id] %>">
        <input type="hidden" name="t_id" value="<%= params[:t_id] %>">
        <input type="hidden" id="from_address_id" name="from_address_id" value="<%= params[:from_address_id] %>">
        <input type="hidden" id="to_address_id" name="to_address_id" value="<%= params[:to_address_id] %>">
        <input type="hidden" id="parcel_id" name="parcel_id" value="">
        <input type="hidden" id="shipment_id" name="shipment_id" value="">
        <% if params[:step] == I18n.t('easypost.step.from_and_to') %>
          <%= render partial: 'from_and_to' %>
        <% elsif params[:step] == I18n.t('easypost.step.rate') %>
          <%= render partial: 'rate' %>
        <% elsif params[:step] == I18n.t('easypost.step.complete') %>
          <%= render partial: 'label_created' %>
        <% end %>
      <% end %>
    </div>

  </div>
</div>
<div id="cover-spin"></div>