<%= stylesheet_link_tag "merchant/transactions", media: 'all', 'data-turbolinks-track' => 'reload' %>

<div class="row menu_carded">
  <div class="col-md-6">
    <div class="row">
      <div class="col-md-5 text-center green_box">
        <p class="box_text_data">Total New Orders</p>
        <p class="box_text_data"><%= @totalNewTxnAmount.present? ? number_with_precision(number_to_currency(@totalNewTxnAmount), precision: 2) : "$0.00" %>/ <%= @totalNewTxnCount.present? ? @totalNewTxnCount : 0 %></p>
        <p class="green_box_base_line"></p>
      </div>
      <div class="col-md-5 text-center green_box">
        <p class="box_text_data">Total Orders in Transit</p>
        <p class="box_text_data"><%= @totalTxnAmount["pre_transit"].present? ? number_with_precision(number_to_currency(@totalTxnAmount["pre_transit"]), precision: 2) : "$0.00" %>/<%= @totalTxnCount["pre_transit"].present? ? @totalTxnCount["pre_transit"] : 0 %></p>
        <p class="green_box_base_line"></p>
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <div class="row">
      <div class="col-md-5 text-center blue_box">
        <p class="box_text_data">Total Orders Out for Delivery</p>
        <p class="box_text_data"><%= @totalTxnAmount["out_for_delivery"].present? ? number_with_precision(number_to_currency(@totalTxnAmount["out_for_delivery"]), precision: 2) : "$0.00" %>/<%= @totalTxnCount["out_for_delivery"].present? ? @totalTxnCount["out_for_delivery"] : 0 %></p>
        <p class="blue_box_base_line"></p>
      </div>
      <div class="col-md-5 text-center red_box">
        <p class="box_text_data">Total Overdue Shipments</p>
        <p class="box_text_data"><%= @totalOverDueTxnAmount.present? ? number_with_precision(number_to_currency(@totalOverDueTxnAmount), precision: 2) : "$0.00"%>/<%= @totalOverDueTxnCount.present? ? @totalOverDueTxnCount : 0 %></p>
        <p class="red_box_base_line"></p>
      </div>
    </div>
  </div>
</div>



<div class="box">
  <div class="box-header with-border">
    <div class="col-md-12">
      <div class="row">
        <div class="col-md-6">
          <h3 class="box-title">Order Shipment Details</h3>
        </div>
        <div class="col-md-6">
          <a href="#search_order" data-toggle="collapse" aria-expanded="false" aria-controls="search_order" class="btn btn-outline-secondary btn-sm pull-right"><i class="icon-magnifier icons"></i> Search</a>
        </div>
      </div>
    </div>
  </div>

  <%=form_tag merchant_orders_path, method: :get, class:'search_transactions',  autocomplete: "off" do  %>
    <div class="col-sm-12 shipment-admin-form-shared">
      <div class="col-sm-12">
        <div class="collapse" id="search_order">
          <div class="card card-body">
            <div class="row margin-top-10-px-shared">
                <div class="form-group col-md-3">
                  <label for="id">Txn ID</label>
                  <input type="number" name="query[trans_id]" id="trans_id" class="form-control" placeholder="Txn ID"  value="<%= params[:query].present? ? params[:query]["trans_id"] : "" %>" />
                </div>
                <div class="form-group col-md-3">
                  <label for="id">DBA Name</label>
                  <input type="text" name="query[dba_name]" id="dba_namee" class="form-control" placeholder="DBA Name"  value="<%= params[:query].present? ? params[:query]["dba_name"] : "" %>"  />
                </div>
                <div class="form-group col-md-3">
                  <label for="id">Customer Name</label>
                  <input type="text" name="query[cust_name]" id="cust_name" class="form-control" placeholder="Customer Name" value="<%= params[:query].present? ? params[:query]["cust_name"] : "" %>"/>
                </div>
                <div class="form-group col-md-3">
                  <label for="id">Total Txn Amount</label>
                  <input type="text" name="query[total_amount]" id="total_amount" class="form-control" placeholder="Total Txn Amount" value="<%= params[:query].present? ? params[:query]["total_amount"] : "" %>"/>
                </div>
                <div class="form-group col-md-3">
                  <label for="id">Carrier</label>
                  <input type="text" name="query[carrier]" id="carrier" class="form-control" placeholder="Carrier"  value="<%= params[:query].present? ? params[:query]["carrier"] : "" %>" />
                </div>
                <div class="form-group col-md-3">
                  <label for="id">Tracking #</label>
                  <input type="text" name="query[track]" id="track" class="form-control" placeholder="Tracking #"  value="<%= params[:query].present? ? params[:query]["track"] : "" %>"  />
                </div>
                <div class="form-group col-md-3">
                  <label for="id">Status</label>
                  <%= select_tag 'query[status]', options_for_select(Tracker.statuses.map {|k,v| [tracker_status_view(v), k]}, selected: params[:query].present? ? params[:query]["status"] : ""), include_blank: "Status", class: "form-control", id: "status" %>
<!--                  <input type="text" name="query[status]" id="status" class="form-control" placeholder="Status" value="<%#= params[:query].present? ? params[:query]["status"] : "" %>"/>-->
                </div>
                <div class="form-group col-md-3">
                  <label for="id">Last 4</label>
                  <input type="number" name="query[last4]" id="last4" class="form-control" placeholder="Last 4" value="<%= params[:query].present? ? params[:query]["last4"] : "" %>"/>
                </div>
                <div class="form-group col-md-3" id="order_date">
                  <label for="id">Order Date & Time</label>
                  <input type="text" name="query[order_date_time]" id="order_date_time" class="form-control" placeholder="Order Date & Time"  value="<%= params[:query].present? ? params[:query]["order_date_time"] : "" %>" />
                  <input type="hidden"  id="offset_new" name="offset" value="<%= params[:offset].present? ? params[:offset] : DateTime.now.zone %>"  />
                  <br>
                  <%= select_tag 'query[time1]', options_for_select(@time_option.map {|v| [v[:view], v[:value]]}, selected: params[:query].present? ? params[:query]["time1"] : ""), include_blank: "Start Time", class: "form-control" %>
                  <br>
                  <%= select_tag 'query[time2]', options_for_select(@time_option.map {|v| [v[:view], v[:value]]}, selected: params[:query].present? ? params[:query]["time2"] : ""), include_blank: "End Time", class: "form-control" %>
                </div>
                <div class="form-group col-md-3">
                  <label for="id">Shipment Date & Time</label>
                  <input type="text" name="query[shipment_date_time]" id="shipment_date_time" class="form-control" placeholder="Shipment Date & Time"  value="<%= params[:query].present? ? params[:query]["shipment_date_time"] : "" %>"  />
                  <br>
                  <%= select_tag 'query[time3]', options_for_select(@time_option.map {|v| [v[:view], v[:value]]}, selected: params[:query].present? ? params[:query]["time3"] : ""), include_blank: "Start Time", class: "form-control" %>
                  <br>
                  <%= select_tag 'query[time4]', options_for_select(@time_option.map {|v| [v[:view], v[:value]]}, selected: params[:query].present? ? params[:query]["time4"] : ""), include_blank: "End Time", class: "form-control" %>
                </div>
                <div class="form-group col-md-3">
                  <label for="id">Delivered Date & Time</label>
                  <input type="text" name="query[delivery_date_time]" id="delivery_date_time" class="form-control" placeholder="Delivered Date & Time" value="<%= params[:query].present? ? params[:query]["delivery_date_time"] : "" %>"/>
                  <br>
                  <%= select_tag 'query[time5]', options_for_select(@time_option.map {|v| [v[:view], v[:value]]}, selected: params[:query].present? ? params[:query]["time5"] : ""), include_blank: "Start Time", class: "form-control" %>
                  <br>
                  <%= select_tag 'query[time6]', options_for_select(@time_option.map {|v| [v[:view], v[:value]]}, selected: params[:query].present? ? params[:query]["time6"] : ""), include_blank: "End Time", class: "form-control" %>
                </div>
                <div class="form-group col-md-3">
                  <label for="id">Risk Evaluation</label>
                  <%=  select_tag 'query[risk_eval][]', options_for_select(@risk_evaluation_status.map{|v|[v[:view],v[:value]]}, params[:query].present? ? params[:query]["risk_eval"] : ""),class: "form-control", multiple: true  %>
                </div>



              <div class="col-md-12 text-right">
                <button type="submit" id="search_btn" class="btn btn-success btn-sm search_button">Search</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  <% end %>


  <div class="box-body">
    <div class="row filter_container">
      <div class="col-md-12">
        <span id="show">Show</span>
        <span id="show_left">
              <%= form_tag merchant_orders_path, method: :get , id: 'shipment_filter'  do  %>
                 <%= select_tag "filter", options_for_select(@filters.map{|v|[v]}, selected: params[:filter].present? ? params[:filter] : "10"),
                                :prompt => false,
                                :required => true,
                                class: "form-control form-control-sm",
                                data: {confirm: "Are you sure ?"}
                 %>
              <% end %>
            </span>
        <span id="entries">Entries</span>
      </div>
      <div class="col-md-12"></div>
    </div>
    <table class="table table-striped">
      <thead>
      <tr class="table-header">
        <th >Risk Eval.</th>
        <th>Txn ID</th>
        <th>DBA Name</th>
        <th>Order Timestamp</th>
        <th>Shipment Timestamp</th>
        <th>Delivered Timestamp</th>
        <th>Carrier</th>
        <th>Tracking #</th>
        <th>Customer Name</th>
        <th>Status</th>
        <th>Last 4</th>
        <th>Total Txn Amount</th>
        <th>View / Edit</th>

      </tr>
      </thead>
      <tbody>
      <% if @txn.count > 0 %>
        <% @txn.each do |t| %>
          <tr>
            <% if t.minfraud_result.present? %>
              <td class="status_btn"><%= maxmind_minfraud_detail_status(t.minfraud_result).html_safe %></td>
            <% else %>
              <td><span class="risk-evaluation no-disposition">&nbsp;</span></td>
            <% end %>
            <td ><%= t.id %></td>
            <td><%= t.tags.try(:[],"location").try(:[],"business_name") %></td>
            <td><span class="timeUtc"><%= t.timestamp %></span></td>

            <% if t.tracker.present? && t.tracker.shipment_date.present? %>
              <td class="timeUtc"><%= t.tracker.shipment_date %></td>
            <% else %>
              <td> -- </td>
            <% end %>
            <% if t.tracker.present? && t.tracker.delivered_date.present? %>
              <td class="timeUtc"><%= t.tracker.delivered_date %></td>
            <% else %>
              <td> -- </td>
            <% end %>
            
            <td><%= t.tracker.carrier %></td>
            <!--      <td><%#= "Next Day" %></td>-->
            <% if t.tracker.tracker_code.present? %>
              <td>
                <%= link_to t.tracker.tracker_code, "", class:"show-dynamic-modal show-cover-spin", remote: true, data: { :"modal_selector" => "#tracking_detail_modal_id", "modal_container_selector" => "#tracking_detail_modal", method: "GET", "url_path" =>  tracker_detail_merchant_orders_path(t.id,tracker_id: t.tracker.id,wallet_id: @wallet_id) }  %>
                <!--          <button class="btn btn-sm menu_butt show-dynamic-modal show-cover-spin" id="add_tracking" data-modal_container_selector="#tracking_detail_modal" data-modal_selector="#tracking_detail_modal_id" data-url="<%#= tracker_detail_merchant_orders_path(transaction: t.id,trans: "user",user_id: @user.id) %>" data-method="GET"><%#= t.tracker.tracker_code %></button>-->
              </td>
            <% else %>
              <td> -- </td>
            <% end %>
            <td><%= t.sender_name %></td>
            <td><%= tracker_status_view(t.tracker.status) %></td>
            <td><%= t.last4 %></td>
            <td><%= t.total_amount %></td>
            <td>
              <%# link_to "Edit", "", class:"show-dynamic-modal show-cover-spin", remote: true, data: { :"modal_selector" => "#modal_id1", "modal_container_selector" => "#custom_modal", method: "GET", "url_path" =>  merchant_transaction_local_details_modal_path(t.id,trans: "3ds_tracker",wallet_id: @wallet_id) }  %>

              <div class="dropdown">
                <a href="#" class="dropdown-style" type="button" data-toggle="dropdown" >●●●
                </a>
                <ul class="dropdown-menu white-background">
                  <li><%= link_to "View Order","", class:"btn btn-sm show-dynamic-modal show-cover-spin", remote: true, data: { :"modal_selector" => "#modal_id", "modal_container_selector" => "#tracker_modal", method: "GET", "url_path" =>  merchant_transaction_local_details_modal_path(t.id,trans: "3ds_tracker",wallet_id: @wallet_id) }  %></li>
                  <li><%= link_to "Add Tracking","", class:"btn btn-sm show-dynamic-modal show-cover-spin", remote: true, data: { :"modal_selector" => "#add_tracker", "modal_container_selector" => "#tracker_modal", method: "GET", "url_path" =>  add_tracker_merchant_orders_path(t_id: t.id,wallet_id: @wallet_id) }  %></li>
                  <li>
                    <% if t.tracker.try(:label_url).present? %>
                      <%= link_to 'View Label', t.tracker.label_url, download: t.tracker.label_url, target: '_blank', class: 'btn btn-sm' %>
                    <% else %>
                      <% if t.minfraud_result.try(:qc_action) == TypesEnumLib::RiskType::PendingReview  || (t.tracker.cancel? && t.tracker.status.present?) %>
                        <%= link_to "Generate Label","", class:"btn btn-sm show-dynamic-modal show-cover-spin", remote: true, data: { :"modal_selector" => "#add_tracker", "modal_container_selector" => "#tracker_modal", method: "GET", "url_path" =>  add_tracker_merchant_orders_path(t_id: t.id,wallet_id: @wallet_id) }  %>
                      <% else %>
                        <%= link_to "Generate Label",add_label_merchant_orders_path(t_id: t.id,tracker_id: t.tracker.id) , class:"btn btn-sm show-cover-spin"  %>
                      <% end %>
                    <% end %>
                  </li>
                  <% unless t.tracker.tracker_code.present? || t.tracker.cancel? %>
                    <li><%= link_to "Cancel Order",cancel_shipment_merchant_orders_path(t_id: t.id,tracker_id: t.tracker.id,wallet_id: @wallet_id) , class:"btn btn-sm show-cover-spin"  %></li>
                  <% end %>
                </ul>
              </div>

            </td>
          </tr>
        <% end %>
      <% else %>
        <tr>
          <td colspan="13" id="no_data">Data Not Found</td>
        </tr>
      <% end %>
      </tbody>
    </table>
  </div>
  <section id="tracker_modal"></section>
  <section id="tracking_detail_modal"></section>
  <div class="col-md-12 tx_pagination">
    <div class="row">
      <div class="col-md-4">
        <span>Showing <%=@txn.try(:size)%> of <%=@txn.total_count %> records</span>
      </div>
      <div class="col-md-8">
        <div class="text-align-right-ach" id="paginator">
          <% if @txn.present? %>
            <%= paginate @txn, :theme => 'twitter-bootstrap-3', :pagination_class => "pagination-small pagination-centered pull-right padd"%>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
<div id="cover-spin"></div>
