<%= stylesheet_link_tag "merchant/transactions", media: 'all', 'data-turbolinks-track' => 'reload' %>

<div class="box">
  <div class="box-header with-border">
    <div class="col-md-12">
      <div class="row">
        <div class="col-md-6">
          <h3 class="box-title">Warehouse</h3>
        </div>
        <div class="col-md-6">
          <%= link_to "Add Warehouse","", class:"btn btn-sm btn-success show-cover-spin show-dynamic-modal pull-right", remote: true, data: { :"phone-lib" => "true", :"modal_selector" => "#add_warehouse_modal", "modal_container_selector" => "#add_modal", method: "GET", "url_path" =>  add_warehouse_merchant_orders_path }  %>
        </div>
      </div>
    </div>
  </div>

  <div class="box-body">
    <div class="row filter_container">
      <div class="col-md-12">
        <span id="show">Show</span>
        <span id="show_left">
              <%= form_tag warehouse_merchant_orders_path, method: :get, id: 'shipment_filter' do %>
                 <%= select_tag "filter", options_for_select(@filters.map {|v| [v]}, selected: params[:filter].present? ? params[:filter] : "10"),
                                :prompt => false,
                                :required => true,
                                class: "form-control form-control-sm",
                                data: {confirm: "Are you sure ?"}
                 %>
              <% end %>
            </span>
        <span id="entries">Entries</span>
      </div>
      <div class="col-md-12"></div>
    </div>
    <table class="table table-striped">
      <thead>
      <tr class="table-header">
        <th>ID</th>
        <th>Name</th>
        <th>Company</th>
        <th>Email</th>
        <th>Phone Number</th>
        <th>Address</th>
        <th>Action</th>
      </tr>
      </thead>
      <tbody>
      <% if @warehouses.count > 0 %>
        <% @warehouses.each do |t| %>
          <tr>
            <td><%= t.id %></td>
            <td><%= t.name %></td>
            <td><%= t.company %></td>
            <td><%= t.email %></td>
            <td><%= number_to_phone(t.phone_number, area_code: true)  %></td>
            <td><%= "#{t.state}, #{t.city}, #{t.zip}"  %></td>

            <td>
              <div class="dropdown">
                <a href="#" class="dropdown-style" type="button" data-toggle="dropdown">●●●
                </a>
                <ul class="dropdown-menu white-background">
                  <li>
                    <%= link_to "Edit","", class:"btn btn-sm show-cover-spin show-dynamic-modal", remote: true, data: { :"phone-lib" => "true", :"modal_selector" => "#add_warehouse_modal", "modal_container_selector" => "#add_modal", method: "GET", "url_path" =>  add_warehouse_merchant_orders_path(id: t.id) }  %>
                  </li>
                </ul>
              </div>

            </td>
          </tr>
        <% end %>
      <% else %>
        <tr>
          <td colspan="7" id="no_data">Data Not Found</td>
        </tr>
      <% end %>
      </tbody>
    </table>
  </div>
  <section id="tracker_modal"></section>
  <section id="tracking_detail_modal"></section>
  <div class="col-md-12 tx_pagination">
    <div class="row">
      <div class="col-md-4">
        <span>Showing <%= @warehouses.try(:size) %> of <%= @warehouses.total_count %> records</span>
      </div>
      <div class="col-md-8">
        <div class="text-align-right-ach" id="paginator">
          <% if @warehouse.present? %>
            <%= paginate @warehouses, :theme => 'twitter-bootstrap-3', :pagination_class => "pagination-small pagination-centered pull-right padd" %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
<section id="add_modal"></section>
<div id="cover-spin"></div>
