<input type="hidden" id="batch_id" value="<%= params[:id] %>">
<input type="hidden" id="batch_type" value="<%= params[:type].present? ?  params[:type] : "credit" %>">
<div class="qr_batch_detail_table">
  <div class="table-responsive">
    <table id="transaction" class="table table-striped table-bordered batch_detail" cellspacing="0" cellpadding="0">
      <thead class="tableHead">
      <th>Date/Time</th>
      <th>Sender</th>
      <th>Receiver</th>
      <th>Amount</th>
      <th>Status</th>
      <th>QR Code</th>
      <th>Action</th>
      </thead>
      <tbody id="table-body">
      <% @requests.try(:each) do |request| %>
        <tr>
          <td class="timeUtc"><%= request.created_at.strftime("%Y-%m-%d %H:%M:%S %z") %></td>
          <td><%= request.sender.try(:name) %></td>
          <td><%= request.reciever.try(:name) %></td>
          <td><%= number_with_precision(number_to_currency(request.amount), precision: 2,delimiter: ',') %></td>
          <td><%= request.status.present? ? request.status == "in_progress" ? "Pending" : request.status == "approved" ? "Paid" : "Refunded" : "" %></td>
          <td><%= image_tag request.try(:qr_card).try(:image).try(:url) || "",class: "qr_image" %></td>
            <td>
              <% if request.status == "in_progress" %>
                <% if request.created_at > 2.minutes.ago %>
                  <button class="btn btn-sm btn-info" disabled="disabled" title="Can't Refund within 60 minutes">Refund</button>
                <% else %>
                  <%= link_to '<button class="btn btn-sm btn-info">Refund</button>'.html_safe, admins_sales_edit_path(id: request.id), remote: true, data: {disable_with: "<button class='btn btn-primary' disabled='disabled'><i class='fa fa-refresh fa-spin'> </i> Refund</button>"} %>
                  <% if request.activity_id.present? %>
                    <%= link_to '<button class="btn btn-sm btn-default">Log</button>'.html_safe, admins_activity_log_path(id: request.activity_id), remote: true, data: {disable_with: "<button class='btn btn-primary btn-sm' disabled='disabled'><i class='fa fa-refresh fa-spin'> </i> Log</button>"} %>
                  <% end %>
                <% end %>
              <% elsif request.status == "approved" %>
                <button class="btn btn-sm btn-success" disabled="disabled">Paid</button>
              <% elsif request.status == "refunded" %>
                <button class="btn btn-sm btn-primary" disabled="disabled">Refunded</button>
              <% end %>
            </td>
        </tr>
      <% end %>
      </tbody>
    </table>
    <div id="paginator">
      <% if @requests.present? %>
        <span class="pull-left">Showing <%=@requests.try(:count)%> of <%=@requests.try(:total_count) if @requests.present? %> records</span>
        <%= paginate @requests, :theme => 'twitter-bootstrap-3', :pagination_class => "pagination-small pagination-centered pull-right padd" %>
      <% end %>
    </div>
  </div>
</div>
<section id="log_display"></section>

