<section id="date_batch"></section>
<div class="modal fade" id="RefundModal" tabindex="-1" role="dialog" aria-labelledby="modal-label-69" aria-hidden="true">
  <div class="modal-dialog modal-sm">

    <div class="modal-content modal-content-refund">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h6 id="modal-label-69 pull-left"> Refund to Customer</h6>
        <h6 id="modal-label-69 pull-right margin-right-20px">$  <%= number_with_precision(request.amount.to_f, :precision => 2) %></h6>
      </div>
      <%= form_tag(admins_sales_update_path, method: :put, data: {confirm: "Are you sure ?"}) do %>
        <div class="modal-body">
          <div class="row">
            <div class="col-md-12">
              <div class="col-md-9 padding-zero">
                <input type="hidden" name="id" value="<%= @request.id %>">
                <div class="col-md-4">Customer:</div>
                <div class="col-md-8"><%= @request.sender.try(:name) %> ( C-<%= @request.sender.try(:id) %> )</div>
                <div class="col-md-4">wallet Wallet:</div>
                <div class="col-md-8"><%= @request.sender.try(:wallets).try(:first).try(:id) %></div>
                <div class="col-md-4">Merchant:</div>
                <div class="col-md-8"><%= @request.reciever.try(:name) %></div>

                <% wallet = Wallet.find_by(id: @request.wallet_id) %>
                <div class="col-md-4">Location:</div>
                <div class="col-md-8"><%= wallet.try(:location).try(:business_name) %></div>
                <div class="col-md-4">Wallet ID:</div>
                <div class="col-md-8"><%= wallet.try(:id)  %></div>
              </div>
              <div class="col-md-3">
                <%= image_tag @request.try(:qr_card).try(:image).try(:url) || "",class: "qr_image" %>
              </div>
            </div>

            <div class="col-md-12 margin-top-20px">
              <div class="col-md-4"><input type="checkbox" name="apply_fee" id="checkbox" checked="checked"> <span>Apply Fee</span></div>
              <div class="col-md-8"></div>
            </div>
        </div>
        </div>
        <div class="modal-footer text-center">
            <%= submit_tag("Refund" ,class: "btn btn-secondary btn-sm ") %>
        </div>
      <% end %>
    </div>
  </div>
</div>

