<section id="date_batch"></section>
<div class="modal fade" id="RefundAllModal" tabindex="-1" role="dialog" aria-labelledby="modal-label-69" aria-hidden="true">
  <div class="modal-dialog modal-sm">

    <div class="modal-content modal-content-refund">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h6 id="modal-label-69 text-align-left"> Refund All</h6>
        <h6 id="modal-label-69 text-align-right margin-right-20px">$  <%= number_with_precision(requests.sum("CAST(COALESCE(amount, '0') AS FLOAT)"), :precision => 2) %></h6>
      </div>
      <%= form_tag(admins_sales_update_path, method: :put, data: {confirm: "Are you sure ?"}) do %>
        <input type="hidden" name="refund_all" value="refund_all">
        <div class="modal-body">
          <div class="row">
            <div class="col-md-12">
              <div class="col-md-9 padding-zero">
                <div class="col-md-4"></div>
                <div class="col-md-8"></div>
              </div>
              <div class="col-md-3">
              </div>
              <h4><u><%= requests.count %> pending request available</u></h4>
              <h5 class="margin-top-20px">Refund $<%= number_with_precision(requests.sum("CAST(COALESCE(amount, '0') AS FLOAT)"), :precision => 2) %> to Customers.</h5>
            </div>

            <div class="col-md-12 margin-top-20px">
              <div class="col-md-4"><input type="checkbox" name="apply_fee" id="checkbox" checked="checked"> <span>Apply Fee</span></div>
              <div class="col-md-8"></div>
            </div>
          </div>
        </div>
        <div class="modal-footer text-center">
          <% if requests.count == 0 %>
            <button type="button" class="btn btn-secondary btn-sm" disabled="disabled">Refund All</button>
          <% else %>
            <%= submit_tag("Refund All", class: "btn btn-secondary btn-sm ") %>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
</div>