<script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />
<div class="row card-box">
  <div class="box-header">
    <div class="col-md-12"></div>
    <p class="p_qr_batch">QR Scan Batches</p>
  </div>
  <input type="hidden" id="q_params" value="<%=params[:q].present? ? params[:q][:batch_date] :"" %>">
  <div class="card-box-internal">
    <div class="card sameheight-item items" data-exclude="xs,sm,lg">
      <div class="col-md-12">
        <div class="row">
          <div class="col-md-12">
            <div class="padding-bottom-3percent">
              <%= form_tag admins_sales_index_path, method: :get, class:'search_ach_batches' do %>
                <div class="" id="search1">
                  <div class="row margin-top-10px">
                    <!--                <div class="col-md-12" >-->
                    <!--                  <h5>Search Total Funds</h5>-->
                    <!--                </div>-->
                    <div class="col-md-12  margin-top-15px">
                      <div class="col-md-3">
                        <label for="batch_date">Batch Date</label>
                        <input type="text" class="form-control datepicker" name="q[batch_date]" value="<%= params[:q][:batch_date] if params[:q].present?%>" id="batch_date" autocomplete="off">
                      </div>
                      <div class="col-md-3">
                        <button type="submit" class="btn btn-success btn-sm search_button"> Search </button>
                      </div>
                    </div>
                  </div>

                </div>
              <% end  %>
            </div>
          </div>
        </div>
        <div class="data_body">
          <%= render partial: 'batches_table', :locals => { :batches => @batches}  %>
        </div>
      </div>
    </div>
  </div>

</div>
