$('.card-body').html('').html('<%= escape_javascript render partial: 'admins/sales/batch_detail_table', locals: {:requests => @arequests} %>');
q_val = '<%= params[:q] %>';
$('#param_q').val(q_val);
$('#params_q').val(q_val);