<div class="row card-box">
  <div class="box-header">
    <div class="row padding_right_3percent padding_top_10px">
    </div>
    <div class="col-md-12"></div>
    <p class="qr_scan_requests">QR Scan Requests</p>
  </div>
  <div class="card-box-internal">
    <div class="card sameheight-item items" data-exclude="xs,sm,lg">
      <section class="example">
        <div class="batch-info">
          <div class="col-md-12 padding-zero">
            <div class="well col-md-6">
              <table>
                <tr>
                  <td colspan="0">
                    <h6 class="pull-left">Batch Date</h6>
                  </td>
                  <td>
                    <h6 id="batch_date pull-left" ><%= @batch_date %></h6>
                  </td>
                  <td colspan="1">
                    <h6 class="pull-left">Batch Status</h6>
                  </td>
                  <td colspan="2">
                    <h6 class="pull-left"><%= @type["in_progress"] > 0 ? "Pending" : "Completed" %></h6>
                  </td>
                </tr>
                <tr>
                  <td colspan="0">
                    <h6 class="pull-left">Batch Amount</h6>
                  </td>
                  <td>
                    <h6 class="pull-left">$<%=number_with_precision(@type["amount"].to_f, precision: 2, delimiter: ',') %></h6>
                  </td>
                  <td colspan="0">
                    <h6 class="pull-left">Pending Amount</h6>
                  </td>
                  <td>
                    <h6 class="pull-left">$<%=number_with_precision(@all_request["in_progress"].present? ? @all_request["in_progress"].pluck(:amount).sum(&:to_f) : 0, precision: 2, delimiter: ',')%></h6>
                  </td>
                </tr>
                <tr>
                  <td colspan="0">
                    <h6 class="pull-left">Approved Amount</h6>
                  </td>
                  <td>
                    <h6 class="pull-left">$<%=number_with_precision(@all_request["approved"].present? ? @all_request["approved"].pluck(:amount).sum(&:to_f) : 0, precision: 2, delimiter: ',') %></h6>
                  </td>
                  <td colspan="0">
                    <h6 class="pull-left">Refunded Amount</h6>
                  </td>
                  <td>
                    <h6 class="pull-left">$<%=number_with_precision(@all_request["refunded"].present? ? @all_request["refunded"].pluck(:amount).sum(&:to_f) : 0, precision: 2, delimiter: ',') %></h6>
                  </td>
                </tr>
              </table>
            </div>
            <div class="col-md-2">
            </div>
            <div class="col-md-4">
              <div id="export_btn_ach">
                <%= form_tag admins_sales_batch_detail_path(id: @batch.id, type: params[:type]), method: :get do %>
                  <input type="hidden" name="id" id="batch_id" value="<%= @batch.id %>">
                  <input type="hidden" name="type" id="batch_date" value="<%= params[:type] %>">
                  <input type="hidden" name="q" id="params_q" value="<%= params[:q].present? ? params[:q] : '' %>">
                  <input type="hidden" name="format" value="csv">
                  <%= submit_tag("Export", :class => "pull-right btn btn-default approve_btn export_btn") %>
                <% end %>
                <%= link_to '<button class="btn btn-primary pull-right refund_all_btn">Refund All</button>'.html_safe, admins_sales_refund_all_path(id: @batch.id, type: params[:type]), remote: true %>
              </div>
            </div>
          </div>
          <div class="col-md-12 padding-zero" >
            <div class="col-sm-6 col-md-6">
              <div class="dataTables_length">
                <div class="col-md-6 ">
                  <span class="pull-left padding-top-7px padding-right-5px">Show</span>
                  <span class="pull-left">
                      <%= form_tag admins_sales_batch_detail_path(id: @batch.id, type: params[:type]), method: :get  do  %>
                           <%= select_tag "filter", options_for_select(@filters.map{|v|[v]}, selected: params[:filter].present? ? params[:filter] : "10"),
                                          :prompt => false,
                                          :required => true,
                                          # data: {:remote => true},
                                          :onchange => 'this.form.submit();',
                                          class: "form-control form-control-sm"
                           %>
                          <span id="filter_input">
                            <input type="hidden" name="id" id="batch_id" value="<%= @batch.id %>">
                            <input type="hidden" name="type" id="batch_date" value="<%= params[:type] %>">
                            <input type="hidden" name="q" id="param_q" value="<%= params[:q].present?  ? params[:q] : '' %>">
                          </span>
                      <% end %>
	                </span>
                  <span class="pull-left padding-top-7px padding-right-5px">Entries</span>
                </div>
              </div>
            </div>
            <div class="col-sm-6 col-md-6">
              <div id="ach_table_filter" class="dataTables_filter">
                <label class="pull-right">
                  <input type="text" class="form-control pull-right qr_search_field" value="<%= params[:q].present? ? params[:q] :''  %>" id="search" placeholder="Search">
                </label>
              </div>
            </div>
          </div>


          <div class="card-body">
            <%= render partial: 'batch_detail_table', :locals => { :requests => @requests}  %>
          </div>
        </div>
      </section>
    </div>
  </div>
</div>
<div id="request_detail"></div>
<input type="hidden" id="create_at_sort_value">