<style>
  table{
    margin: 0 auto;
    width: 100%;
    clear: both;
    border-collapse: collapse;
    table-layout: fixed;
    word-wrap:break-word;
  }
  /*.dataTables_wrapper .dataTables_paginate {*/
  /*  padding : 10px;*/
  /*}*/
  /*.dataTables_wrapper .dataTables_paginate .paginate_button {*/
  /*  padding : 0px;*/
  /*  margin-left: 0px;*/
  /*  display: inline;*/
  /*  border: 0px;*/
  /*}*/
  /*.dataTables_wrapper .dataTables_paginate .paginate_button:hover {*/
  /*  border: 0px;*/
  /*}*/
  /*div.table-responsive>div.dataTables_wrapper>div.row{*/
  /*  margin: 0;*/
  /*  margin-top: 20px;*/
  /*  margin-bottom: 20px;*/
  /*}*/
  /*.taab{*/
  /*  width: 100%;*/
  /*  border: 1px solid lightgray;*/
  /*}*/
  /*.nav_title{*/
  /*  font-size: 18px;*/
  /*  font-weight: normal;*/
  /*}*/

  /*.hover_class>li>a:hover,*/
  /*.hover_class>li>a:focus {*/
  /*  background-color: #8171AE !important;*/
  /*  color: white;*/
  /*}*/
    .table td {
     vertical-align: middle;
     text-align: center;
   }

  .table th {
    text-align: center;
  }
</style>


<div class="">
  <div class="col-md-12">
    <div class="card sameheight-item items" data-exclude="xs,sm,lg">
      <div class="card-header bordered">

        <div class="col-md-6" style="padding: 0px">
          <div class="header-block">
            <div class="primary">
              <h3 class="title text-capitalize"><%= @header %></h3>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <%#= link_to '<button class="btn btn-primary pull-right">Refund All</button>'.html_safe, admins_sales_refund_all_path, remote: true %>
        </div>

      </div>
      <div class="card-body">
        <div class="col-md-12" style="background-color: #FFFFFF; margin-bottom: 50px">

          <div class="" style="margin-top: 20px; margin-bottom: 40px;">
            <div class="table-responsive">
              <table id="transaction" class="table table-striped table-bordered" cellspacing="0" cellpadding="0">
                <thead>
                <th>Date/Time</th>
                <th>Sender</th>
                <th>Receiver</th>
                <th>Amount</th>
                <th>Status</th>
                <th>QR Code</th>
<!--                  <th>Action</th>-->

                </thead>
                <tbody id="table-body">
                <% @requests.try(:each) do |request| %>
                  <tr>
                    <td class="timeUtc"><%= request.created_at.strftime("%Y-%m-%d %H:%M:%S %z") %></td>
                    <td><%= request.sender.try(:name) %></td>
                    <td><%= request.reciever.try(:name) %></td>
                    <td><%= number_with_precision(number_to_currency(request.amount), precision: 2,delimiter: ',') %></td>
                    <td><%= request.status.present? ? request.status == "in_progress" ? "Pending" : request.status == "approved" ? "Paid" : "Refunded" : "" %></td>
                    <td><%= image_tag request.try(:qr_card).try(:image).try(:url) || "",style: 'height:115px;width:auto;' %></td>
<!--                      <td>-->
                        <%#= link_to '<button class="btn btn-sm btn-info">Refund</button>'.html_safe, admins_sales_edit_path(id: request.id), remote: true %>
<!--                      </td>-->
                  </tr>
                <% end %>
                </tbody>
              </table>
              <div id="paginator">
                <% if @requests.present? %>
                  <span style="float: left">Showing <%=@requests.try(:count)%> of <%=@requests.try(:total_count) if @requests.present? %> records</span>
                  <%= paginate @requests, :theme => 'twitter-bootstrap-3', :pagination_class => "pagination-small pagination-centered pull-right padd" %>
                <% end %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div id="request_detail"></div>

<script>
    $(document).ready(function () {
        var lt = $('.timeUtc').each(function (i, v) {
            var gmtDateTime = moment.utc(v.innerText, 'YYYY-MM-DD HH:mm:ss');
            var local = moment(gmtDateTime).local().format('MM-DD-YYYY hh:mm:ss A');
            v.innerText = local
        });
    });
</script>


