

<div class="col-md-9">
  <div class="card sameheight-item items" data-exclude="xs,sm,lg">
    <div class="card-header bordered">
      <div class="header-block">
        <h3 class="title"><%= @ticket.title %></h3>
      </div>
    </div>
    <section class="example">
      <div class="card-block">
        <div class="row">
          <div class="col-md-12">
            <div class="card card-default comment_name">
              <div class="card-header">
                <div class="header-block">
                  <p class="title title_font">
                    <%= @ticket.user.name %>                    </p>
                </div>
                <div class="header-block pull-right">
                  <i class="icon-pin icons"></i>
                </div>
              </div>
              <div class="card-block">
                <div class="row">
                  <div class="col-md-8">
                    <p class="card-text"><%= simple_format(@ticket.message).gsub(URI.regexp, '<a class="msg" target="_blank" href="\0">\0</a>').html_safe %> </p>
                    <!--<p class="card-text timeUtc"><small class="text-muted timeUtc">-->
                    <!--<%#= @ticket.updated_at.strftime('%Y-%m-%d %H:%M:%S %z')%>-->
                    <!--</small></p>-->
                  </div>
                  <div class="col-md-4 atachment">
                    <% if @ticket.images.size > 0%>
                      <div class="row">
                        <span class="underlined ml-3">Attachments</span>
                      </div>
                      <div class="row">
                        <% @ticket.images.each do |img|%>
                          <div class="row file_section_row doc_view">
                                  <span class="text-primary " >
                                    <%=img.add_image_file_name[0..10]+".#{File.extname(img.add_image_file_name)}" %>
                                  </span> (<%=number_to_human_size(img.add_image_file_size) %>)
                            <span><a href="<%= img.add_image.url%>"><i class="fa fa-eye"></i></a></span>
                          </div>
                        <% end  %>
                      </div>

                    <% else %>
                    <% end  %>
                  </div>
                </div>
              </div>
              <div class="card-footer">
                <p class="timeUtc">
                  <i class="icon-clock icons"></i>
                  <%= @ticket.created_at.strftime("%Y-%m-%d %H:%M:%S %z") %>
                </p>
              </div>
            </div>
            <% @comments.each do |comment| %>
              <% if comment.user.admin? %>
                <div class="card card-primary bgborder">
                  <div class="card-header">
                    <div class="header-block">
                      <p class="title title_font">
                        Administration                    </p>
                    </div>
                    <div class="header-block pull-right">
                      <i class="icon-pin icons"></i>
                    </div>
                  </div>
                  <div class="card-block">
                    <div class="row">
                      <div class="col-md-8">
                        <p class="card-text"> <%= simple_format(comment.body).gsub(URI.regexp, '<a  class="msg" target="_blank" href="\0">\0</a>').html_safe %> </p>
                      </div>
                      <div class="col-md-4 atachment" >
                        <% if comment.images.size > 0%>
                          <div class="row">
                            <span class="underlined ml-3">Attachments</span>
                          </div>
                          <div class="row">
                            <% comment.images.each do |img|%>
                              <div class="row file_section_row doc_view">
                                  <span class="text-primary " >
                                    <%=img.add_image_file_name[0..10]+".#{File.extname(img.add_image_file_name)}" %>
                                  </span> (<%=number_to_human_size(img.add_image_file_size) %>)
                                <span><a href="<%= img.add_image.url%>"><i class="fa fa-eye"></i></a></span>
                              </div>
                            <% end  %>
                          </div>

                        <% else %>
                        <% end  %>
                      </div>
                    </div>
                  </div>
                  <div class="card-footer">
                    <p class="timeUtc">
                      <i class="icon-clock icons"></i>
                      <%= comment.created_at.strftime('%Y-%m-%d %H:%M:%S %z') %>
                    </p>
                  </div>
                </div>
              <% else %>
                <div class="card card-default bgborder">
                  <div class="card-header">
                    <div class="header-block">
                      <p class="title title_font">
                        <%= comment.user.name %>                    </p>
                    </div>
                    <div class="header-block pull-right">
                      <i class="icon-pin icons"></i>
                    </div>
                  </div>

                  <div class="card-block">
                    <div class="row">
                      <div class="col-md-8">
                        <p class="card-text"> <%= simple_format(comment.body).gsub(URI.regexp, '<a class="msg" target="_blank" href="\0">\0</a>').html_safe %> </p>
                      </div>
                      <div class="col-md-4 atachment">
                        <% if comment.images.size > 0%>
                          <div class="row">
                            <span class="underlined ml-3">Attachments</span>
                          </div>
                          <div class="row">
                            <% comment.images.each do |img|%>
                              <div class="row file_section_row doc_view">
                                  <span class="text-primary " >
                                    <%=img.add_image_file_name[0..10]+".#{File.extname(img.add_image_file_name)}" %>
                                  </span> (<%=number_to_human_size(img.add_image_file_size) %>)
                                <span><a href="<%= img.add_image.url%>"><i class="fa fa-eye"></i></a></span>
                              </div>
                            <% end  %>
                          </div>

                        <% else %>
                        <% end  %>
                      </div>
                    </div>
                  </div>
                  <div class="card-footer">
                    <p class="timeUtc">
                      <i class="icon-clock icons"></i><%= comment.created_at.strftime('%Y-%m-%d %H:%M:%S %z') %>
                    </p>
                  </div>
                </div>
              <% end %>
            <% end %>

          </div>

        </div>
      </div>
    </section>
</div>
