
<div class="">
  <div class="table-responsive">
    <table id="datatable-keytable-all" class="table table-striped table-bordered w-100 p-3">

      <thead>
      <tr>
        <th class="all">ID</th>
        <th >User ID</th>
        <th >Username</th>
        <th >Title</th>
        <th >Status</th>
        <th >Date/Time</th>
        <th >Action</th>
      </tr>
      </thead>

      <tbody>
      <% @tickets.each do |ticket| %>

        <tr>
          <td id="id"><%= ticket.id %></td>
          <td><%= ticket.user.id %></td>
          <td><%= ticket.user.name %></td>
          <td><%= ticket.title.truncate(25) %></td>
          <td>
            <% if ticket.status == "untreated" %>
              <span class="label label-primary">Untreated</span>
            <% elsif ticket.status == "closed" %>
              <span class="label label-danger">Closed</span>
            <% elsif ticket.status == "processed" %>
              <span class="label label-success">Processed</span>
            <%end %>
          </td>

          <td class="timeUtc"><%= ticket.updated_at.strftime("%Y-%m-%d %H:%M:%S %z") %></td>
          <td>
            <% if ticket.get_attention == true %>
              <%= link_to edit_ticket_path(ticket) , id: "attention-#{ticket.id}", class: 'btn btn-down btn-primary ma bgcolor' do %>
                <i class="icon-eye icons"></i>
              <% end %>
            <% else %>
              <%= link_to edit_ticket_path(ticket) , class: 'btn btn-down btn-primary ma custom_pad' do %>
                <i class="icon-eye icons"></i>
              <% end %>
            <% end %>

            <% if ticket.flag == "red"%>
              <div class="btn-group">
                <button type="button" class="btn btn-default dropdown-toggle flag-btn redcolor" id="flag_btn_<%= ticket.id %>" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <i class="fa fa-flag"></i>
                </button>
                <ul class="dropdown-menu bgwhite" >
<!--                  <li class="li-data" ><a href="#" data-flagvalue="blue" onclick="hello(<%#= ticket.id %>)" id="a_tag_<%#= ticket.id %>" ><i class="fa fa-flag"></i></a></li>-->
               <li> <%= link_to '<i class="fa fa-flag"></i>'.html_safe, change_flag_tickets_path( id: ticket.id, flag:"blue") ,data: {:confirm => "Are you sure?"},class: "bluecolor"  %></li>
                </ul>
              </div>
            <% elsif ticket.flag == "blue"%>
              <div class="btn-group">
                <button type="button" class="btn btn-default dropdown-toggle flag-btn colorblue" id="flag_btn_<%= ticket.id %>" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <i class="fa fa-flag"></i>
                </button>
                <ul class="dropdown-menu bgwhite">
<!--                  <li class="li-data bgwhite" ><a href="#" data-flagvalue="red" onclick="hello(<%#= ticket.id %>)" id="a_tag_<%#= ticket.id %>" style="color: red;font-size: 20px"><i class="fa fa-flag"></i></a></li>-->
                 <li> <%= link_to '<i class="fa fa-flag"></i>'.html_safe, change_flag_tickets_path( id: ticket.id, flag:"red") ,data: {:confirm => "Are you sure?"},class: "redcolor font-size"  %></li>
                </ul>
              </div>
            <% end%>
            <input type="hidden" class="tickets_id" value="#attention-<%= ticket.id %>">
          </td>

        </tr>
      <%end%>

      </tbody>
    </table>
    <span class="margin-class" >Showing <%= @tickets.try(:size)%> of <%=@tickets.total_count %> records</span>
    <%= paginate @tickets, :theme => 'twitter-bootstrap-3', :pagination_class => "pagination-small pagination-centered pull-right padd"%>
  </div>
</div>
