
<div class="title-block">
  <h1 class="title">
    Ticket details
  </h1>
</div>
<section class="section">

  <div class="row">
    <div class="col-md-3">
      <ul class="list-group">
        <li class="list-group-item"><strong class="text-primary">ID ticket:</strong> <span class="pull-right"><%= @ticket.id %></span></li>
        <li class="list-group-item"><strong class="text-primary">Date:</strong> <span class="pull-right timeUtc"><%= @ticket.created_at.strftime('%Y-%m-%d %H:%M:%S %z') %></span></li>
        <%if @ticket.user.role=='merchant'%>
        <li class="list-group-item"><strong class="text-primary">Username:</strong> <span class="pull-right"><a href="/admins/merchants/search?query%5Bref_no%5D=<%= @ticket.user.id%>&query%5Bname%5D=<%= @ticket.user.name %>&from_tickets=true"><%= @ticket.user.name %></a></span></li>

        <%elsif @ticket.user.role=='iso' || @ticket.user.role=='agent' || @ticket.user.role=='affiliate'%>

            <%if @ticket.user.role=='iso'%>
                <li class="list-group-item"><strong class="text-primary">Username:</strong> <span class="pull-right"><a href="/admins/users?user=isos&query%5Bref_no%5D=<%= @ticket.user.id%>  &query%5Bname%5D=<%= @ticket.user.name %>&from_tickets=true ">  <%= @ticket.user.name %></a></span></li>
            <%elsif @ticket.user.role=='agent'%>
                <li class="list-group-item"><strong class="text-primary">Username:</strong> <span class="pull-right"><a href="/admins/users?user=agents&query%5Bref_no%5D=<%= @ticket.user.id%>  &query%5Bname%5D=<%= @ticket.user.name %>&from_tickets=true ">  <%= @ticket.user.name %></a></span></li>
            <%elsif @ticket.user.role=='affiliate'%>
                <li class="list-group-item"><strong class="text-primary">Username:</strong> <span class="pull-right"><a href="/admins/users?user=affiliates&query%5Bref_no%5D=<%= @ticket.user.id%>  &query%5Bname%5D=<%= @ticket.user.name %>&from_tickets=true ">  <%= @ticket.user.name %></a></span></li>
            <% end %>

        <%end %>
          <li class="list-group-item"><strong class="text-primary">Status:</strong>
          <span class="pull-right">
          <% if @ticket.status == "untreated" %>
           <span class="label label-primary">Untreated</span>
          <% elsif @ticket.status == "processed" %>
           <span class="label label-success">Processed</span>
          <% elsif @ticket.status == "closed" %>
           <span class="label label-danger">Closed</span>
          <% end %>
         </span>
        </li>
        <li class="list-group-item pdbottom" >
          <strong class="text-primary">Assigned To:</strong>
          <span class="pull-right">
          <%= form_tag assign_to_tickets_path(id: @ticket.id), id: "assign_form" do %>
            <%= select_tag :assigned_to, options_for_select(Ticket.assigned_tos.map{ |key, value| [key.humanize.titleize, value]}, Ticket.assigned_tos[@ticket.assigned_to]),{include_blank: "Select Risk"}   %>
          <% end %>
        </span>
        </li>
        <li class="list-group-item pdbottom" >
          <strong class="text-primary">Flagged:</strong>
          <span class="pull-right">
          <% if @ticket.flag == "red"%>
                  <div class="btn-group abc bgboder_color" >
                    <button type="button" class="btn btn-default dropdown-toggle flag-btn redcolor"  data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      <i class="fa fa-flag"></i>&nbsp;<span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu dropdown-bg">
                      <li class="li-data bg-white">
                        <i class=""></i>
                        <%= link_to '<i class="fa fa-flag"></i>'.html_safe, change_flag_tickets_path(id: @ticket.id,flag:"blue",from_edit: "yes") ,data: {:confirm => "Are you sure?"},class:"bluecolor"  %>
                      </li>
                      <li class="li-data bg-white greyborder" >
                        <%= link_to '<i class="fa fa-flag"></i>'.html_safe, change_flag_tickets_path(id: @ticket.id,flag:"no_flag",from_edit: "yes") ,data: {:confirm => "Are you sure?"},class:"greycolor"%>
                      </li>
                    </ul>
                  </div>
              <% elsif @ticket.flag == "blue"%>
                  <div class="btn-group abc bgboder_color">
                    <button type="button" class="btn btn-default dropdown-toggle flag-btn bluefont"  data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      <i class="fa fa-flag"></i>&nbsp;<span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu dropdown-bg">
                      <li class="li-data bg-white">
                        <%= link_to '<i class="fa fa-flag"></i>'.html_safe, change_flag_tickets_path(id: @ticket.id,flag:"red",from_edit: "yes") ,data: {:confirm => "Are you sure?"}, class:"redcolor font-size" %>
                      </li>
                      <li class="li-data bg-white greyborder">
                        <%= link_to '<i class="fa fa-flag"></i>'.html_safe, change_flag_tickets_path(id: @ticket.id,flag:"no_flag",from_edit: "yes") ,data: {:confirm => "Are you sure?"},class: "greycolor" %>
                      </li>
                    </ul>
                  </div>
              <% else %>
                  <div class="btn-group abc bgboder_color" >
                    <button type="button" class="btn btn-default dropdown-toggle flag-btn"  data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      <i class="fa fa-flag"></i>&nbsp;<span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu dropdown-bg" >
                      <li class="li-data lidata">
                        <%= link_to '<i class="fa fa-flag"></i>'.html_safe, change_flag_tickets_path(id: @ticket.id,flag:"blue",from_edit: "yes") ,data: {:confirm => "Are you sure?"},class:"bluecolor" %>
                      </li>
                      <li class="li-data greyborder">
                        <%= link_to '<i class="fa fa-flag"></i>'.html_safe, change_flag_tickets_path(id: @ticket.id,flag:"red",from_edit: "yes") ,data: {:confirm => "Are you sure?"},class:"redcolor font-size"  %>
                      </li>
                    </ul>
                  </div>
              <% end%>

            <%#= select_tag :flag, options_for_select(Ticket.flags.map{ |key, value| [key, key]}, @ticket.flag),
                         :'data-remote' => 'true',
                         :'data-url' => url_for(change_flag_tickets_path(id: @ticket.id)),
                         :prompt => false,
                         :id => "selecttag",
                         :required => true,
                         class: "btn btn-default btn-sm dropdown-toggle",
                         data: {confirm: "Are you sure ?"}
            %>
        </span>
        </li>
      </ul>

    </div>
    <%= render 'comments' %>
    <% if @ticket.device_type == nil%>
      <%= render 'comment_form' %>
    <% end %>
  </div>
</section>
