
<div class="title-block">
  <h1 class="title text-capitalize pull-left" >
    TICKETS
  </h1>

</div>

<section class="section">
  <div class="row">
    <div class="card sameheight-item items" data-exclude="xs,sm,lg">
      <div class="card-header bordered">
        <div class="header-block">
          <h3 class="title text-capitalize pull-left">All Tickets</h3>

        </div>
      </div>

      <section class="example">
        <div class="card-body">
          <div class="col-md-12 bg-white" >
            <div class="col-md-12 custompad">
              <nav>
                <div id="nav-tab" role="tablist">
                  <ul class="nav nav-pills nav-justified hover_class">
                    <li><a href="/admins/tickets?ticket=all" class="nav-item nav-link brder-radius text-center all_tickets <%= 'active' if params[:ticket] == "all" || params[:ticket].nil? %> taab" ><span class='nav_title'>All Tickets</span></a></li>
                    <li><a href="/admins/tickets?ticket=processed" class="nav-item nav-link brder-radius text-center processed_tickets <%= 'active' if params[:ticket] == "processed" %> taab" ><span class='nav_title'>Processed</span></a></li>
                    <li><a href="/admins/tickets?ticket=flagged" class="nav-item nav-link brder-radius text-center flagged_tickets <%= 'active' if params[:ticket] == "flagged" %> taab" ><span class='nav_title'>Flagged</span></a></li>
                    <li><a href="/admins/tickets?ticket=untreated" class="nav-item nav-link brder-radius text-center untreated_tickets <%= 'active' if params[:ticket] == "untreated" %> taab" ><span class='nav_title'>Untreated</span></a></li>
                    <li><a href="/admins/tickets?ticket=closed" class="nav-item nav-link brder-radius text-center closed_tickets <%= 'active' if params[:ticket] == "closed" %> taab" id="nav-closed-tab" ><span class="nav_title">Closed</span></a></li>
                  </ul>
                </div>
              </nav>
            </div>
            <section class="example">
              <div class="row" >
                <div class="col-md-12 filter_pad" >
                  <div class="col-sm-6 col-md-6">
                    <div class="dataTables_length">
                      <div class="col-md-4">
                        <span class="filter_label">Show</span>
                        <span class="float-left">
                              <%= form_tag tickets_path(ticket: "all"), method: :get  do  %>
                                 <%= select_tag "filter", options_for_select(@filters.map{|v|[v]}, selected: params[:filter].present? ? params[:filter] : "10"),
                                                :prompt => false,
                                                :required => true,
                                                # data: {:remote => true},
                                                :onchange => 'this.form.submit();',
                                                class: "form-control form-control-sm"
                                 %>
                              <input type="hidden" name="ticket" value="<%= params[:ticket]%>">
                              <input type="hidden" name="q" value="" id="q_value">
                              <% end %>
	                          </span>
                        <span class="float-left enteries">Entries</span>
                      </div>

                      <% if params[:ticket] == "flagged" %>
                        <div class="col-md-8">
                          <span class="tech"><i class="fa fa-flag fa-2x redcolor"></i> - Tech Support</span> <span><i class="fa fa-flag fa-2x bluefont"></i> - Merchant Services</span>
                        </div>
                      <% end %>
                    </div>
                  </div>
                  <div class="col-sm-6 col-md-6">
                    <input type="text" class="form-control pull-right search_field" value="<%= params[:q_value] %>" id="search" >
                  </div>
                </div>
              </div>
            </section>
            <div class="col-md-12 tickets_tabl">
              <%= render partial: 'tickets_table' %>
            </div>
          </div>
        </div>
      </section>
    </div>
  </div>
</section>




