$('.tickets_tabl').empty();
$('.tickets_tabl').append("<%= j render(:partial => '/admins/tickets/tickets_table')%>");
$('#q_value').val('<%= params[:q_value] %>');

function delete_item(id) {
    var doc= id;
    $('.remove_'+id).remove();
    array_of_docs=  array_of_docs.filter(function (val) {
        return  val !== doc
    });
    $('input[name="attachments[]"]').val(array_of_docs);
    $.ajax({
        url: '<%= cancel_upload_doc_images_path %>' ,
        data:{document_id: doc},
        dataType: 'JSON',
        method: 'get',
        success: function () {
            $('#message').html('').html('<%= j render partial: 'layouts/flash', locals:{key: 'info', value:'Successfuly deleted'}%>')
        },
        error: function () {

        }

    })
}
var globalTimeout = null;
$('#search').on('keyup',function () {
    console.log($('#search').val())
    if (globalTimeout != null) {
        clearTimeout(globalTimeout);
    }
    globalTimeout = setTimeout(function() {
        globalTimeout = null;
        var search_value = $('#search').val();
        var filter = <%= params[:filter].present? ?  params[:filter] : 10 %>;
        var ticket = "<%= params[:ticket].present? ?  params[:ticket] : "all" %>";
        $.ajax({
            url: "/admins/tickets",
            type: "GET",
            data: {q: search_value,ticket: ticket,filter: filter}
        })
    }, 1500);
});
