
  <div class="title-block">
    <h1 class="title text-capitalize pull-left" >
      TICKETS
    </h1>

  </div>

  <section class="section">
    <div class="row">
        <div class="card sameheight-item items" data-exclude="xs,sm,lg">
          <div class="card-header bordered">
            <div class="header-block">
              <h3 class="title text-capitalize pull-left">All Tickets</h3>

            </div>
          </div>

          <section class="example">
            <div class="">
              <div class="table-responsive">
                <table id="datatable-keytable" class="table table-striped table-bordered" cellspacing="0" cellpadding="0">

                  <thead>
                  <tr>
                    <th class="all">ID</th>
                    <th >User ID</th>
                    <th >Username</th>
                    <th >Title</th>
                    <th >Status</th>
                    <th >Created At</th>
                    <th >Action</th>
                  </tr>
                  </thead>

                  <tbody>
                  <% @tickets.each do |ticket| %>

                      <tr>
                        <td id="id"><%= ticket.id %></td>
                        <td><%= ticket.user.id %></td>
                        <td><%= ticket.user.name %></td>
                        <td><%= ticket.title %></td>
                        <td>
                          <% if ticket.status == "untreated" %>
                              <span class="label label-primary">Untreated</span>
                          <% elsif ticket.status == "closed" %>
                              <span class="label label-danger">Closed</span>
                          <% elsif ticket.status == "processed" %>
                              <span class="label label-success">Processed</span>
                          <%end %>
                        </td>
                        <td><%= ticket.created_at.localtime.strftime("%Y-%m-%d %I:%M %p") %></td>
                        <td><%= link_to edit_ticket_path(ticket) , class: 'btn btn-down btn-primary ma' do %>
                            <i class="icon-eye icons"></i>
                          <% end %>
                        </td>

                      </tr>
                  <%end%>

                  </tbody>
                </table>
              </div>
            </div>
          </section>
        </div>
    </div>
  </section>


<script type="text/javascript">
$(document).ready(function(){
    $('#datatable-keytable').DataTable({
       responsive: true,
        "sScrollX": false,
        "sscrollX": false,
        "order": [[ 5, "desc" ]]

    });

});

</script>