<input type="hidden" id="batch_date_input" value="<%= params[:batch_date] %>">
<input type="hidden" id="batch_ach_id_input" value="<%= params[:batch_ach_id]%>">
<% if params[:batch_search_params].present? %>
  <% batch_search_params = params[:batch_search_params].class != String ? params[:batch_search_params].to_json : params[:batch_search_params] %>
<% end %>
<input type="hidden" id="batch_search_params" value="<%= batch_search_params.present? ? batch_search_params : "" %>">
<div class="table-responsive">
  <table id="ach_table" class="table table-striped table-bordered center-text" cellspacing="0" cellpadding="0">
    <thead>
    <tr class="header-row text-align-center-ach" >
      <th><a href="#" id="check_all"><input type="checkbox" id="all-check"></a></th>
      <th>ID</th>
      <th id="create_at_sort">Creation Date</th>
      <th>Corporate Name</th>
      <th class="width-7-ach">User ID</th>
      <% if @category != "AFP" %>
        <th>Location Name</th>
        <th>Category</th>
        <th>URL</th>
      <%end%>
      <th>Fees</th>
      <th>Total Amount</th>
      <th>Funding Amount</th>
      <th>Bank Name</th>
      <th>Status</th>
      <th width="100px">View Details</th>
    </tr>
    </thead>
    <tbody>
    <% @achs.each do |ach| %>
      <tr>
        <td>
          <input type="hidden" id="ach-value" value="<%= ach.status %>">
          <input type="hidden" id="page_number_input" value="<%= params[:page] %>">
          <input type="hidden" id="filter_input" value="<%= params[:filter] %>">
          <input id="checkbox_animated_<%= ach.id %>" class="all" type="checkbox" value="<%= ach.id %>" data-status="<%= ach.status %>" data-gateway_type = "<%= ach.ach_gateway.try(:ach_type) %>">
          <label for="checkbox_animated_<%= ach.id %>"> <span class="check"></span> <span class="box"></span>  </label>
        </td>
        <td><%= ach.id %></td>
        <td class="timeUtc"><%= ach.created_at %></td>
        <td> <%= ach.user.try(:merchant?) && ach.user.try(:merchant_id).present? ? ach.user.try(:parent_merchant).try(:name) : ach.user.name %></td>
        <td ><%= ach.user.merchant? ? ach.user.try(:merchant_id).present? ? "M-#{ach.user.merchant_id}" : "M-#{ach.user_id}" : ach.user.iso? ? "ISO-#{ach.user_id}" : ach.user.agent? ? "A-#{ach.user_id}" : ach.user.affiliate? ? "AF-#{ach.user_id}" : ach.user.affiliate_program? ? "AP-#{ach.user_id}" : ach.user_id %></td>
        <% wallet = ach.wallet  %>
        <% w_location = wallet.try(:location) %>
        <% categor = w_location.present? ? w_location.category.try(:name) : " - " %>
        <% dba_name = w_location.try(:business_name) if wallet.present? %>
        <% dba_url = w_location.try(:web_site) if wallet.present? %>
        <% if @category != "AFP" %>
          <td>
            <% if w_location.try(:ach_flag) %>
              <i class="fa fa-info-circle" id="ach_flag_info">
                <span id="ach_flag_info_text"><%= w_location.try(:ach_flag_text) %></span>
              </i>
            <% end %>
            <%= dba_name.present? ? dba_name : wallet.present? ? wallet.try(:[],'name') : '' %>
          </td>
          <td><%= categor %></td>
          <td> <%= dba_url.present? ? JSON.parse(dba_url).try(:first) : '' %> </td>
        <%end%>
        <% fee = ach.amount.to_f - ach.actual_amount.to_f %>
        <% fee = 0 if fee < 0 %>
        <td>$<%= number_with_precision(fee, :precision => 2, delimiter: ',') %></td>
        <td>$<%= number_with_precision(ach.amount.to_f, :precision => 2, delimiter: ',') %></td>
        <td>$<%= number_with_precision(ach.actual_amount.to_f, :precision => 2, delimiter: ',') %></td>
        <td><%= ach.ach_gateway.try(:descriptor) %></td>
        <% if ach_status(ach.status)=="PAID" || ach_status(ach.status)=="paid" %>
        <td><span class="badge badge-info padding-10-px-ach"><%= ach_status(ach.status) %></span></td>
        <td class="text-left width-100-px-ach padding-left-41-px-ach">
          <%=link_to '<button class="btn btn-sm btn-primary  view_check_details"><i class="fa fa-eye"></i></button>'.html_safe, admins_check_path(ach.id) ,remote: true,data: {disable_with: "<i class='fa fa-refresh fa-spin'> </i>" } %>
          <% elsif ach_status(ach.status)=="VOID" || ach_status(ach.status)== "void" %>
                <td><span class="badge badge-info_void padding-10-px-ach"><%= ach_status(ach.status) %></span></td>
                <td class="text-left width-100-px-ach padding-left-41-px-ach">
                  <%=link_to '<button class="btn btn-sm btn-primary  view_check_details" ><i class="fa fa-eye"></i></button>'.html_safe, admins_check_path(ach.id) ,remote: true,data: {disable_with: "<i class='fa fa-refresh fa-spin'> </i>" } %>
            <% elsif ach_status(ach.status)=="PAID_WIRE" ||ach_status(ach.status)=="paid_wire" %>
                <td><span  class="badge badge-info_paid_wire padding-10-px-ach"><%= ach_status(ach.status) %></span></td>
                <td class="text-left width-100-px-ach padding-left-41-px-ach" >
                  <%=link_to  '<button  class="btn btn-sm btn-primary  view_check_details" ><i class="fa fa-eye"></i></button>'.html_safe, admins_check_path(ach.id) ,remote: true,data: {disable_with: "<i class='fa fa-refresh fa-spin'> </i>" } %>
            <% elsif ach_status(ach.status)=="IN_PROCESS" %>
                <td><span  class="badge btn-warning padding-10-px-ach"><%= ach_status(ach.status) %></span></td>
                <td class="text-left width-100-px-ach padding-left-41-px-ach" >
                  <%=link_to  '<button  class="btn btn-sm btn-primary  view_check_details" ><i class="fa fa-eye"></i></button>'.html_safe, admins_check_path(ach.id) ,remote: true, data: {disable_with: "<i class='fa fa-refresh fa-spin'> </i>" } %>
            <% elsif ach_status(ach.status)=="PENDING" ||ach_status(ach.status)=="pending" %>
                <td><span  class="badge badge-info_pending padding-10-px-ach"><%= ach_status(ach.status) %></span></td>
                <td class="text-left width-100-px-ach padding-left-41-px-ach" >
                  <%=link_to  '<button  id="checks_button" class="btn btn-sm btn-primary  view_check_details" ><i class="fa fa-eye"></i></button>'.html_safe, admins_check_path(ach.id) ,remote: true ,data: {disable_with: "<i class='fa fa-refresh fa-spin'> </i>" }%>
            <% elsif ach_status(ach.status)=="FAILED" ||ach_status(ach.status)=="Failed" %>
                <td><span  class="badge badge-info_failed padding-10-px-ach"><%= ach_status(ach.status) %></span></td>
                <td class="text-left width-100-px-ach padding-left-41-px-ach" >
                  <%=link_to  '<button  class="btn btn-sm btn-primary  view_check_details" title="Detail" ><i class="fa fa-eye"></i></button>'.html_safe, admins_check_path(ach.id) ,remote: true,data: {disable_with: "<i class='fa fa-refresh fa-spin'> </i>" } %>

        <% end %>
          <% if ach.status == "PENDING" %>
            <span id="date_modal" class="date-modal-class"><i class="fa fa-calendar fa-calender-modal-ach" data-toggle="modal" data-target="#modelId<%=ach.id %>"></i></span>

            <!--                    modal for date    -->
            <div id="modelId<%=ach.id %>" class="modal fade modal-fade-ach" role="dialog" >
              <div class="modal-dialog modal-sm">
                <!-- Modal content-->
                <div class="modal-content">
                  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Select Date</h4>
                  </div>
                  <%=form_tag(admins_instant_ach_member_path(ach.id), id: "batch_date_form") do%>
                    <div class="modal-body">
                      <input type="hidden" name="ach_id" id="ach_id" value=<%=ach.id %>>
                      <div class="input-group date" data-provide="datepicker-inline" data-date-start-date="+1d" data-date-format="mm/dd/yyyy">
                        <input type="text" name="batch_date" id="batch_date" readonly class="datepicker form-control" required/>
                      </div>
                    </div>
                    <div class="modal-footer">
                      <%= submit_tag "Apply", class: 'btn btn-primary',:id=>'apply_button' %>
                      <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                    </div>
                  <% end %>
                </div>
              </div>
            </div>

            <!--                      end of modal for date-->

            <% end %>
          <%#= link_to("Edit", admins_edit_ach_path(ach.id),:remote => true  ,:class => "btn btn-sm achEditModal", "data-toggle" => "modal" ) %>
        </td>
      </tr>
    <% end %>
    </tbody>
  </table>

  <div class="col-md-12">
    <div class="row">
      <div class="col-md-4">
        <span>Showing <%=@achs.try(:size)%> of <%=@achs.total_count %> records</span>
      </div>
      <div class="col-md-8">
        <div class="text-align-right-ach" id="paginator">
          <%= paginate @achs, :remote => true, :theme => 'twitter-bootstrap-3', :pagination_class => "pagination-small pagination-centered pull-right padd"%>
        </div>
      </div>
    </div>
  </div>
</div>