<!--------------------Transfer Money Modal-------------------->

<div class="modal fade modal-width" tabindex="-1" role="dialog" id="edit_account_modal">
  <div class="modal-dialog modal-lg form-group">
    <div class="modal-content">
      <div class="modal-header text-white background-color-3a4651-ach text-align-center-ach" >
        <div class="width-100-ach">
          <span class="modal-title edit-account-ach" ><i class="fa fa-money"></i><span>Edit Account</span></span>
          <button type="button" class="close margin-top-2-px-ach" data-dismiss="modal">&times;</button>
        </div>
      </div>
      <%= simple_form_for @user, :url => admins_update_bank_details_path(@user.id),method: :post, :html => { :id => "update_bank_details" } do |form| %>
        <input type="hidden" class="form-control" value="<%= params[:wallet_id] %>" id="location_id" name="location_id"/>
        <div class="row">
          <div class="col-md-12">
            <div class="card-header bordered">
              <div class="card-body">
                <div class="col-md-6" >
                  <div class="form-group margin-top-4-ach">
                    <label class="no-padding"><span>Bank Account Type</span></label>
                    <%= select_tag 'user[system_fee][bank_account_type]', options_for_select(Location.bank_account_types.keys.map {|a| [a.humanize, a]}, @user.system_fee.try(:[], 'bank_account_type')), include_blank: "Choose", class: "form-control" %>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group margin-top-4-ach">
                    <label class="no-padding"><span>Name on Bank Account</span></label>
                    <input type="text" name="bank_name" class="form-control bank_name"  autocomplete="new-password" id="edit-bank-nmae" value="<%= user.system_fee['bank_account_name'].present? ? @user.system_fee['bank_account_name'] : ""  %>" , required>
                    <%#= form.text_field @user.system_fee['bank_account_name'], id: "edit-bank-nmae", class: "form-control", autocomplete: 'new-password' , required: true%>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <label class="no-padding cursor_default"><span>Bank Routing #</span></label>
                    <input type="text" name="bank_routing" class="form-control bank_number routng_number" maxlength="9" id="edit-bank-routing" autocomplete="new-password"  value="<%= user.system_fee["bank_routing"].present? ? @user.system_fee["bank_routing"] : ""  %>" required>
                    <%#= form.text_field @user.system_fee["bank_routing"], id: "edit-bank-routing", class: "form-control", autocomplete: 'off' , required: true%>
                    <p id="routng-error" class="open-error" ></p>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <label class="no-padding cursor_default"><span>Bank Account #</span></label>
                    <input type="password" name="bank_account" class="form-control bank_number account_number", maxlength="24", autocomplete="new-password" , id="edit-password-field" value="<%= user.system_fee["bank_account"].present? ? @user.system_fee["bank_account"] : ""  %>" required>
                    <%#= form.text_field @user.system_fee["bank_account"] ,type:"password", id:"edit-password-field", class:"form-control", autocomplete: 'new-password' , required: true%>
                    <span   class="fa fa-fw fa-eye my-password bank-account-eye-span-ach"></span>
                    <span id="accnt-error" class="open-error" ></span>
                  </div>
                </div>
                <% if @img.try(:add_image).try(:url) %>
                  <div id="img_up">
                    <div class="col-md-6 margin-top-bottom-20px-ach">
                      <% if @img.add_image_content_type == "application/pdf" %>
                        <p><%= @img.add_image_file_name %></p>
                        <i class="fa fa-file-pdf-o fa-5x margin-left-30-ach" aria-hidden="true"></i>
                      <% else %>
                        <%= image_tag @img.add_image.url, :class => 'product-image-ach', :alt => 'product_image' %>
                      <% end %>
                      <div class=" edit_icon" id="image_space">
                        <div class="col-md-12">
                          <span data-val="<%= @img.location_id %>" class="cursor-pointer-ach dell"><i class="fa fa-close fa-2x margin-left-30-ach"></i></span>
                        </div>
                        <div class="col-md-12">
                          <%= link_to '', img.add_image.url, download: img.add_image, class: 'fa fa-download fa-2x' ,target: "_blank" %>
                        </div>
                      </div>
                    </div>
                  </div>

                <% end %>
                <div class="col-md-12 margin-top-23-bottom-16-px-ach" id="img_form">
                  <div id="choose_img">
                    <%= form.file_field 'image', class: 'file width-29-ach', id: 'edit-customer_signature', accept:"image/x-png,image/gif,image/jpeg,image/bmp,application/pdf", data: { max_file_size: 10.megabytes}%>
                  </div>
                </div>

              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <div class="col-md-12 text-align-center-ach">
            <%= form.submit "Save", class: "btn btn-primary", id: "submit_bank_acc" %>
          </div>
        </div>

      <% end %>
    </div>
  </div>
</div>
<!--------------------Close Modal-------------------->
