<div class="modal fade achModal" role="dialog">
  <div class="modal-dialog modal-lg">
    <%= form_tag(admins_create_instant_ach_path) do %>
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="float-left-ach">ACH</h3>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      <div class="modal-body">
          <!-- Tab panes -->
          <div class="tab-content">
            <div class="tab-pane active" id="pushACH">
              <%= render partial: 'push_ach' %>
            </div>
          </div>
      </div>
      <div class="modal-footer">
        <div class="row text-align-center-ach">
          <div><%= submit_tag 'Submit', class:"btn btn-success" %></div>

        </div>
      </div>
    </div>
        <% end %>
  </div>
</div>

<script>

    $(document).ready(function () {
        $('input#myInput').bind('copy paste', function (e) {
            e.preventDefault();
        });

    });
</script>