<div class="row">
  <br>
<!--  <div class="col-md-12">-->
<!--    <div class="col-md-6">-->
      <%#= radio_button_tag 'ach_type', 'push', true %>
      <%#= label_tag 'push' %>

      <%#= radio_button_tag 'ach_type', 'pull'%>
      <%#= label_tag 'pull' %>
<!--    </div>-->
<!--  </div>-->
  <div class="col-md-12">
    <div class="col-md-6">
      <label for="merchant_id"><span class="color-darkred-ach">*</span> Choose <span class="color-purple-ach"><strong>Merchant</strong></span></label>
      <br/>
      <%= select_tag( "merchant_id",
                      options_for_select(@merchants.map{|user| [user.name, user.id]}),
                      class: "form-control",
                      include_blank: "Choose merchant"
          ) %>
      <br>
    </div>
    <div class="col-md-6">
      <label for="location_id"><span class="color-darkred-ach">*</span><span class="color-purple-ach"><strong> Choose Location</strong></span></label>
      <span class="font-weight-bold text-success pull-right">Balance:$ <span id="balance"><%= number_with_precision(0, precision:2, :delimiter => ',')%></span></span>
      <div id="locations">
        <%= render partial: 'location_dropdown' %>
      </div>
    </div>
  </div>
  <div class="col-md-12">
  </div>

  <!--<br>-->
  <div id="account_fields">
    <%= render partial: 'account_fields', locals: {bank_account_type: nil, bank_account: nil, bank_routing: nil, location_email: nil } %>
  </div>

</div>

<script>

    $("#merchant_id").select2({
        width: '100%'
    });
    $('#merchant_id').on("change", function(e) {
        $.ajax({
            'url' : '<%= admins_instant_ach_selected_locations_path %>',
            'type' : 'GET',
            'data-type': "js",
            'data' : {
                'merchant_id' : this.value
            },
            'success' : function(data) {
            },
            'error' : function(request,error){
            }
        });
    });
</script>