
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h3> <%= @user.name.try(:capitalize) %> (<%=@user.merchant? ? 'M' : @user.iso? ? 'ISO' : @user.agent? ? 'A' : 'AF' %>-<%= @user.id %>) </h3>
    </div>
    <% if @user.merchant_ach_status!='complete' %>
  <div class="top-box">
      <% if @user.merchant? %>
          <% @locations.each_with_index do |l,i| %>
              <div class="row">
                <div class="col-md-12">
                  <span class="heading-2"> <%= l.location.try(:business_name).present? ? l.location.try(:business_name) : "--"%>  </span>
                </div>
                <div class="col-md-3">
                  <span>Name On Bank Account</span>
                  <div class="dba-filds pull-left">
                    <p>
                      <%= l["bank_name"] %>
                    </p>
                  </div>
                </div>
                <div class="col-md-3">
                  <span>Account Number</span>
                  <div class="dba-filds pull-left">
                    <p>
                      <%= l["account_no"] %>
                    </p>
                  </div>
                </div>
                <div class="col-md-2">
                  <span>Routing Number</span>
                  <div class="dba-filds pull-left">
                    <p>
                      <%= l["routing_no"] %>
                    </p>
                  </div>
                </div>
                <div class="col-md-2">
                  <span>Bank Account Type</span>
                  <div class="dba-filds pull-left">
                    <p>
                      <%= l["bank_account_type"] %>
                    </p>
                  </div>
                </div>
                <div class="col-md-2">
<!--                  <span>Voided Check</span>-->
                  <div class="pull-left">
                    <span>
                      <%=  l.try(:image).try(:add_image_file_name) %>
                    </span>
                    <br>
                    <%= link_to "Edit", location_edit_bank_path(location_id:l[:location_id],format: l[:id],ach_approve:'true'), data: {toggle: "modal", target: "#new_account_modal"}, remote: true %>
                    <%if l.try(:image).try(:add_image).try(:url).present? %>
                      <%= link_to '<i class="fa fa-eye padding-0-4-px-ach"></i>'.html_safe, l.try(:image).try(:add_image).try(:url), target: "_blank",class: "blue-color" %>
                    <%end%>
                  </div>
                </div>
              </div>
          <%end%>
      <% else %>
              <div class="row margin-bottom-5-ach">
                <div class="col-md-12">
                  <span class="heading-2"> <%= @locations.name %> - (w-<%= @locations.id %>) </span>
                </div>
                <div class="col-md-3">
                  <span>Name On Bank Account</span>
                  <div class="dba-filds pull-left">
                    <p>
                      <%= @user.system_fee['bank_account_name'] %>
                    </p>
                  </div>
                </div>
                <div class="col-md-3">
                  <span>Account Number</span>
                  <div class="dba-filds pull-left">
                    <p>
                      <%= @user.system_fee["bank_account"] %>
                    </p>
                  </div>
                </div>
                <div class="col-md-2">
                  <span>Routing Number</span>
                  <div class="dba-filds pull-left">
                    <p>
                      <%= @user.system_fee["bank_routing"] %>
                    </p>
                  </div>
                </div>
                <div class="col-md-2">
                  <span>Bank Account Type</span>
                  <div class="dba-filds pull-left">
                    <p>
                      <%= @user.system_fee["bank_account_type"] %>
                    </p>
                  </div>
                </div>
                <div class="col-md-2" >
                  <span>Voided Check</span>
                  <br>
                  <div class="pull-left">
                    <span>
                      <%=  @img.try(:add_image_file_name) %>
                    </span>
                    <br>
                    <%= link_to "Edit", admins_edit_bank_details_path(wallet_id:@wallet,user_id:@user.id), data: {toggle: "modal", target: "#new_account_modal"}, remote: true %>
                    <%if @img.try(:add_image).try(:url).present? %>
                      <%= link_to '<i class="fa fa-eye padding-0-4-px-ach" ></i>'.html_safe, @img.try(:add_image).try(:url), target: "_blank",class: "blue-color" %>
                    <%end %>
                  </div>
                </div>
              </div>
      <% end %>
    </div>
    <div class="row bank_approve">
      <div class="col-md-6"></div>
      <div class="col-md-4">
        <%= link_to("Disapprove",admins_disapprove_ach_request_path(id: @user.id) ,:data => {:confirm => 'Are you sure you want to Disapprove this?'}, class: 'btn btn-danger pull-right disapprove_btn', onclick:"myFunction()") %>
      </div>
      <div class="col-md-2">
        <%= link_to 'Approve',admins_approve_request_path(id:@user.id),:class=>'btn approve_btn1 btn-primary'  %>
      </div>
    </div>
    <% end %>
  </div>
</div>
<div id="edit_bank"></div>
