
<div class="row card-box">
  <div class="box-header">
    <div class="row padding-right-3-top-10-px-ach">
      <%= link_to '<button type="button" class="btn btn-default pull-right" > New ACH</button>'.html_safe,admins_instant_ach_new_path , remote: true   %>
    </div>
    <div class="col-md-12"></div>
    <p class="ach-transaction-p-ach">ACH Transactions</p>
    <div class="pull-right date-div-ach">

    </div>
  </div>
  <br>
  <div class="container-fluid">
  <!--refund_transactions_admins_path-->
<!--    <ul class="nav nav-tabs users_tabs" >-->
<!--      <li class="<%#= params[:category].present? ? '' : 'active'%>"><a href="<%#=  admins_instant_ach_batches_path %>">CBD & Hemp</a></li>-->
<!--      <li class="<%#= params[:category] == 'dispensary'  ? 'active' : ''%>"><a href='<%#=  admins_instant_ach_batches_path(category:  "dispensary") %>'>Dispensary</a></li>-->
<!--      <li class="<%#= params[:category] == 'other' ? 'active' : ''%>"><a href='<%#=  admins_instant_ach_batches_path(category:  "other") %>'>Others</a></li>-->
<!--    </ul>-->
  </div>
  <div class="card-box-internal">
    <div class="card sameheight-item items" data-exclude="xs,sm,lg">
      <section class="example">
        <div class="">
          <div>
            <%= form_tag admins_instant_ach_batches_search_path, method: :get, class:'search_ach_batches' do %>
              <div class="collapse" id="search1">
                <div class="row margin-top-10-px-ach">
                  <div class="col-md-12">
                    <h5>Search ACH Batches</h5>
                  </div>

                  <div class="col-md-12 margin-top-15-px-ach">
                    <div class="form-group col-md-4">
                      <label for="id">Search</label>
                      <input type="text" name="query[find_by]" value="<%= params[:query]["find_by"] if params[:query].present? %>" id="token" class="form-control" placeholder=""  />
                    </div>
                    <div class="form-group col-md-4">
                      <label>Search By</label>
                      <% if params[:query].present? %>
                        <% query_option_custom = params[:query]['option'] %>
                      <% else %>
                        <% query_option_custom = "business_name" %>
                      <% end %>
                      <%= select_tag 'query[option]', options_for_select({"ACH Id" => "id", "DBA Name" => "business_name","Bank Name"=>"ach_gateway_descriptor","Name On Bank Account" => "name","Category" => "category","Funding Amount" => "actual_amount","Total Amount" => "amount" },query_option_custom ), class: "form-control" %>
                    </div>
                    <div class="col-md-2 margin-top-28-px-ach">
                      <%#= submit_tag "Search" %>
                      <button type="submit" class="btn btn-success btn-sm search_button"> Search </button>
                    </div>
                  </div>
                </div>
              </div>
            <% end  %>
          </div>
          <div class="margin-right-18-px-ach">
            <a href="#search" data-toggle="collapse"  aria-expanded="false" aria-controls="search1" data-target="#search1" class="btn btn-default btn-sm pull-right"><i class="icon-magnifier icons"></i> Advance Search</a>
          </div>
          <div class="table-responsive">
            <table id="batch_table" class="table table-striped table-bordered center-text" cellspacing="0" cellpadding="0">
              <thead>
              <tr class="header-row text-align-center-ach">
                <!--                <th><input type="checkbox" name="vehicle1" value="Bike"></th>-->
                <!--                <th>ID</th>-->
                <th>Date</th>
                <th>Batch ACH ID</th>
                <th>Total Req.</th>
                <th>Funding Amount</th>
                <th>Fees</th>
                <th>Total</th>
                <th>Status</th>
                <th width="130px"></th>
              </tr>
              </thead>
              <tbody>
              <% @ach_batches.each do |batch_key,batch_value| %>
                <tr>
                  <!--                <td><input type="checkbox" name="vehicle1" value="Bike"></td>-->
                  <td class="timeUtc"><%= batch_key.strftime("%m-%d-%Y")%></td>
                  <td><%= batch_ach_id = "#{batch_key.to_datetime.to_i}" %></td>
                  <td><%= batch_value.count %></td>
                  <% total_funding_amount = batch_value.map{|a| a.actual_amount if a.pending? }.compact.inject(0){|sum,x| sum + x } %>
                  <% total_funding_amount_for_fee = batch_value.map{|a| a.actual_amount }.compact.inject(0){|sum,x| sum + x } %>
                  <% total_amount = batch_value.map{|a| a.amount }.compact.inject(0){|sum,x| sum + x } %>
                  <% total_fee = total_amount - total_funding_amount_for_fee %>
                  <td>$ <%= number_with_precision(total_funding_amount.to_f, :precision => 2, delimiter: ',') %></td>
                  <td>$ <%= number_with_precision(total_fee, :precision => 2, delimiter: ',') %></td>

                  <td>$ <%= number_with_precision(total_amount.to_f, :precision => 2, delimiter: ',') %></td>
                  <td>
                    <% status= check_batch_status(batch_value) %>
                      <% if status=='Complete' %>
                    <span class="badge badge-info padding-10-px-ach background-color-lightgreen-ach"> <%= status %></span>
                      <% else %>
                      <span class="badge badge-info padding-10-px-ach"> <%= status %></span>
                      <% end %>
                  </td>
                  <td>
                    <% ids = batch_value.map {|a| a.id } %>
                    <%= link_to("View", admins_instant_ach_index_path(ach_ids: ids,batch_date: batch_key, batch_ach_id: batch_ach_id) , :class => "btn btn-default color-black-ach") %>
                  </td>
                </tr>
              <% end %>
              </tbody>
            </table>
          </div>
          <div class="col-md-12">
            <div class="row">
              <div class="col-md-4"></div>
              <div class="col-md-8">
                <div class="text-align-right-ach">
                  <%#= paginate @ach_batches , :theme => 'twitter-bootstrap-3', :pagination_class => "pagination-small pagination-centered pull-right padd"%>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>
  </div>
</div>
<section id="achSection"></section>

<script>
    $(document).ready(function () {

            $('#batch_table').DataTable( {
                // "bPaginate": true,
                order: [ [ 0, 'desc' ]],
                columnDefs: [ { orderable: false, targets: [2,1,3,4,5,6] } ],

            } );

    });


    var globalTimeout = null;
    $('#search').on('keyup',function () {
        if (globalTimeout != null) {
            clearTimeout(globalTimeout);
        }
        globalTimeout = setTimeout(function() {
            globalTimeout = null;
            var search_value = $('#search').val();
            var batch_date = "<%= params[:batch_date] %>"

            console.log(batch_date);
            // if(search_value === ""){
            //     search_value = "__"
            // }
            var filter = '<%= params[:filter].present? ?  params[:filter] : 10 %>';
            $.ajax({
                url: "/admins/instant_ach/ach_batches_search",
                type: "GET",
                data: {q: search_value,filter: filter, batch_date: batch_date}
            })
        }, 1500);
    });
</script>