
<div class="row card-box">
  <div class="box-header">
    <div class="row padding-right-3-top-10-px-ach">
    </div>
    <div class="col-md-12"></div>
    <p class="ach-transaction-p-ach">ACH Transactions</p>
    <div class="pull-right float-right-margin-diff-1-ach">
      <div class="width-150-px-ach">
        <label class="switch under-review-switch-ach"> Under Review
          <% a = @achs.pluck(:under_review).uniq %>
          <% val = a.count == 1 && a.try(:first) == true ? true : false %>
          <%= check_box_tag 'boolValue', val, val %>
          <span class="slider round slider-round-ach"></span>
          <input type="hidden" id="achs_ids" value="<%= params[:ach_ids].present? ? params[:ach_ids] : '' %>">
        </label>
      </div>
    </div>
  </div>
  <div class="card-box-internal">
    <div class="card sameheight-item items" data-exclude="xs,sm,lg">
      <section class="example">
        <div class="batch-info">
          <div class="well col-md-6">
            <table>
              <tr>
                <td colspan="0">
                  <h6 class="text-align-left-ach">Batch Release Date</h6>
                </td>
                <td>
                  <h6 id="batch_date" class="text-align-left-ach"><%= @batch_date %></h6>
                </td>
                <td colspan="1">
                  <h6 class="text-align-left-ach">Batch ACH ID</h6>
                </td>
                <td colspan="2">
                  <h6 class="text-align-left-ach"><%= @batch_ach_id %></h6>
                </td>
              </tr>
              <tr>
                <td colspan="0">
                  <h6 class="text-align-left-ach">Original Batch Amt</h6>
                </td>
                <td>
                  <h6 class="text-align-left-ach">$<%=number_with_precision(@total_withdraw, precision: 2, delimiter: ',') %></h6>
                </td>
                <td colspan="0">
                  <h6 class="text-align-left-ach">Total Requests</h6>
                </td>
                <td>
                  <h6 class="text-align-left-ach"><%= @achs.total_count %></h6>
                </td>
                <td colspan="0">
                  <h6 class="text-align-left-ach">Total Paid by Wire</h6>
                </td>
                <td>
                  <h6 class="text-align-left-ach"><%= @paid_by_wire_achs %></h6>
                </td>
              </tr>
              <tr>
                <td colspan="0">
                  <h6 class="text-align-left-ach">Total Pending Amt</h6>
                </td>
                <td>
                  <h6 class="text-align-left-ach">$<%=number_with_precision(@total_pending_amount, precision: 2, delimiter: ',') %></h6>
                </td>
                <td colspan="0">
                  <h6 class="text-align-left-ach">Total Pending</h6>
                </td>
                <td>
                  <h6 class="text-align-left-ach"><%= @pending_achs %></h6>
                </td>
                <td colspan="0">
                  <h6 class="text-align-left-ach">Total Failed</h6>
                </td>
                <td>
                  <h6 class="text-align-left-ach"><%= @failed_achs %></h6>
                </td>
              </tr>
              <tr>
                <td colspan="0">
                  <h6 class="text-align-left-ach">Total Processed Amt</h6>
                </td>
                <td>
                  <h6 class="text-align-left-ach">$<%=number_with_precision( @total_process_achs, precision: 2, delimiter: ',') %></h6>
                </td>
                <td colspan="0">
                  <h6 class="text-align-left-ach">Total Paid</h6>
                </td>
                <td>
                  <h6 class="text-align-left-ach"><%= @paid_achs %></h6>
                </td>
                <td colspan="0">
                  <h6 class="text-align-left-ach">Total Void(s)</h6>
                </td>
                <td>
                  <h6 class="text-align-left-ach"><%= @void_requests %></h6>
                </td>
              </tr>
            </table>
          </div>
          <div class="col-md-2">
            <%=	form_tag admins_instant_ach_bulk_status_change_path, method: :get, id:"bulk_status_form" do %>
                <label for="ach_gateway_id">Select ACH Bank</label>
                <%= select_tag( "ach_gateway_id",
                                options_for_select(AchGateway.ach.unarchived_gateways.not_ftp.map{|user| [user.bank_name, user.id]}),
                                class: "form-control",
                                include_blank: "Choose Bank"
                    ) %>

                <label for="ach_status" class="margin-top-10-px-ach">Status</label>
                <%= select_tag( "ach_status",
                                options_for_select([["Paid", "PAID"],["Paid by wire", "PAID_WIRE"],["Failed", "FAILED"],["Void", "VOID"],["In Process", "IN_PROCESS"]]),
                                class: "form-control",
                                include_blank: "Choose Status"
                    ) %>



              </div>
                <div class="col-md-1 pull-right">
                  <input type="hidden" name="ids" id="ach_ids">
                  <%= submit_tag "Submit", class: 'btn btn-success pull-right submit_btn margin-left-20-px-font-weight-600-ach', data: {ach_gateway_id: "ach_gateway_id", confirm: 'Your confirm message' },disabled:true %>

                </div>
            <% end %>
            <input type="hidden" id="ach_list" value="<%= @ach_ids %>">
            <input type="hidden" name="unchecked" id="unchecked_ach">
            <input type="hidden" name="all_check" id="all_check" value="">
            <input type="hidden" id="all_achs" value="<%= @ach_ids.to_json %>">
            <input type="hidden" id="ach_ids" value="<%= @ach_ids.to_json %>">
            <div class="col-md-3">
              <div id="export_btn_ach">
                <%= link_to("Export", admins_instant_ach_verification_path(ach_ids: @ach_ids,batch_date: @batch_date), remote:true, :class => "pull-right btn btn-default approve_btn export_btn") %>
                </div>
            </div>
            <div class="col-md-12 padding-0-px-ach" >
              <div class="col-sm-6 col-md-6">
                <div class="dataTables_length">
          <span class="float-left-ach">
              <a href="<%= admins_total_funds_path %>" class="btn btn-sm instant-ach-back-button-ach">Back</a>
            </span>
                  <div class="col-md-6 ">
                    <span class="instant-ach-show-button-ach">Show</span>
                    <span class="float-left-ach">
                              <%= form_tag admins_instant_ach_index_path, method: :get  do  %>
                                   <%= select_tag "filter",  options_for_select(@filters.map{|v|[v]}, selected: params[:filter].present? ? params[:filter] : "10"),
                                                  :prompt => false,
                                                  :required => true,
                                                  # data: {:remote => true},
                                                  class: "form-control form-control-sm withdraw-filter"
                                   %>
                        <span id="filter_input">
                                    <input type="hidden" name="batch_ach_id" id="batch_ach_id" value="<%= params[:batch_ach_id] %>">
                                    <input type="hidden" name="batch_date" id="batch_date" value="<%= params[:batch_date] %>">
                                    <input type="hidden" name="batch_search_params" value="<%= params[:batch_search_params].present?  ? params[:batch_search_params].to_json : '' %>">
                                    <input type="hidden" name="from_filter" value="true">

                        </span>
                              <% end %>
	                          </span>
                    <span class="entries-ach">Entries</span>
                  </div>
                </div>
              </div>
              <div class="col-sm-6 col-md-6">
                <div id="ach_table_filter" class="dataTables_filter">
                  <label class="pull-right">
                    <input type="text" class="form-control pull-right search-ach" value="<%= params[:q_value].present? ? params[:q_value] :''  %>" id="search" placeholder="Search">
                  </label>
                </div>
              </div>
            </div>

            <div class="ach_data_table">
              <%= render partial: 'admins/instant_ach/data_table', :locals => { :filters => @filters, :achs => @achs }%>
            </div>
            </div>
      </section>
    </div>
  </div>
</div>
<section id="achSection"></section>
<section id="checkSection"></section>
<input type="hidden" id="create_at_sort_value">
<div id="confirmationDialog" class="modal fade confirmationDialog" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="col-md-12">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Message</h4>
        </div>
        <div class="modal-body">
          <p class="notice-custom-ach">Your selection contains a mix of statuses to change.</p>
          <p class="notice-custom-ach" > Please modify your selection or click submit if this is acceptable.</p>
        </div>
        <div class="modal-footer">
          <button  type="button" class="btn btn-default width-15-ach" data-dismiss="modal">OK</button>
        </div>
      </div>
    </div>
  </div>
</div>
