
$('#cover-spin').fadeOut("slow");
$('.ach_data_table').html('').html('<%= escape_javascript render partial: 'admins/instant_ach/data_table', locals: {:achs => @achs, :filters => @filters} %>');
$('#paginator').html('').html('<%= escape_javascript(paginate(@achs, :remote => true, :theme => 'twitter-bootstrap-3', :pagination_class => "pagination-small pagination-centered pull-right padd").to_s) %>');
$(".padd").on("click", function () {
    $("#cover-spin").show();
})


// Ach Export Start
var checkedAch = [];
var unCheckedAch = [];
checkedAch = $("#ach_ids").val();
unCheckedAch = $("#unchecked_ach").val();
checkedAch = checkedAch.split(",");
unCheckedAch = unCheckedAch.split(",");
var page = "<%= params[:page] %>";
var isAllCheck = $('#all_check').val();
if(page > 1) {
    if (isAllCheck === "true") {
        $('#all-check').hide()
    }
}
if(isAllCheck === "true"){
    $('.all').prop("checked", true);
    $('#all-check').prop("checked", true)
    // $("input:checkbox:checked").each(function(){
    //     if($(this).val() !== "on"){
    //         checkedAch.push($(this).val());
    //     }
    // });
    // $("#ach_ids").val(checkedAch)
}else{
    $('.all').prop("checked", false);
}

$('.all').on('click', function () {
    var isChecked = $(this).prop("checked");
    var status = $(this).data("status")
    console.log(status)
    var targetValue = $(this).val();
    if(isChecked){
        checkedAch.push(targetValue)
        unCheckedAch = filterVal(checkedAch);
    }
    else{
        unCheckedAch.push(targetValue);
        checkedAch = filterVal(checkedAch);
    }
    if(checkedAch[0] === ""){
        checkedAch.shift();
    }
    if(unCheckedAch[0] === ""){
        unCheckedAch.shift();
    }
    $("#ach_ids").val(checkedAch);
    $("#unchecked_ach").val(unCheckedAch)
});
for(var i = 0; i < unCheckedAch.length; i++){
    $("#checkbox_animated_"+unCheckedAch[i]).prop("checked", false)
}
checkedAch = filterVal(checkedAch);
for(var i = 0; i < checkedAch.length; i++){
    $("#checkbox_animated_"+checkedAch[i]).prop("checked", true)
}
var lt= $('.timeUtc').each(function (i,v) {
    var gmtDateTime = moment.utc(v.innerText,'YYYY-MM-DD HH:mm:ss')
    var local = moment(gmtDateTime).local().format('MM/DD/YYYY hh:mm:ss A')
    v.innerText = local
});

function filterVal(val_array){
    checkedAch = []
    checkedAch = val_array.filter(function(elem, index, self) {
        return index === self.indexOf(elem);
    });
    return checkedAch;
}