$("#achSection").html("<%= j render(partial: 'void_verification') %>");
$(".achModal").modal();
$(document).ready(function () {

    $(".phone_number_div").show();
    $(".pincode_div").hide();
    $(".final_div").hide();
    $(".error-phone").hide();
    $(".error-pincode").hide();
    $('.void_submit_button').hide();
    $('#alert-now').hide();
    // $(".void_button").on("click", function () {
    //     $(".details").hide();
    // $(".phone_number_div").show();
    $(".void_button").hide();
    $("#modal-label-69").html('').html('Verify Phone Number');
    // });



//    $("#phone_number_button").on('click', function () {
//        var phone_number=$('#phone_number').val();
//        var invoice_id=$('#check_id').val();
//        if(phone_number.length > 0) {
//            $.ajax({
//                url: "<%#=admins_instant_ach_verify_phone_number_path %>",
//                method: 'get',
//                data: {phone_number: phone_number, invoice_id: invoice_id, identity: "i_am_check"},
//                success: function () {
//                    $('#phone_number_button').html('Verified').removeClass('btn-primary').addClass('btn-success');
//                    setTimeout(function () {
//                        $('#phone_number').css('display', 'none').fadeOut("slow");
//                        $('.phone_number_div').hide();
//                        $('.pincode_div').show();
//                        $("#modal-label-69").html('').html('Enter Pin Code You Recieved');
//                    }, 1000);
//                }, error: function (result) {
//                    $('#phone_number_button').html('UnAuthorized').removeClass('btn-primary').addClass('btn-danger');
//                    setTimeout(function () {
//                        $('#phone_number_button').html('Submit').removeClass('btn-danger').addClass('btn-primary');
//                    }, 1500);
//                    $(".error-phone").show();
//                }
//            });
//        }else{
//        }
//    });


//    $("#pincode_button").on('click', function () {
//        var pincode=$('#pincode').val();
//        var invoice_id=$('#check_id').val();
//        if(pincode.length > 0) {
//            $.ajax({
//                url: "<%#= admins_instant_ach_verify_phone_number_path %>",
//                method: 'get',
//                data: {pincode: pincode, invoice_id: invoice_id},
//                success: function () {
//                    setTimeout(function () {
//                        $('#pincode_button').val('Verified').removeClass('btn-primary').addClass('btn-success').attr("disabled",true);
//                        $('.void_submit_button').show();
//                        $('#alert-now').show();
//                    }, 1000);
//                }, error: function (result) {
//                    $('#pincode_button').html('UnAuthorized').removeClass('btn-primary').addClass('btn-danger');
//                    setTimeout(function () {
//                        $('#pincode_button').html('Submit').removeClass('btn-danger').addClass('btn-primary');
//                    }, 1500);
//                    $(".error-pincode").show();
//                }
//            });
//        }else{
//        }
//    });

    $(document).keypress(
        function(event){
            if (event.which == '13') {
                event.preventDefault();
            }
        });

    $(".void_submit_button").on('click',function(){
        $(".achModal").hide();
        $(".modal-backdrop").hide();
    });

    function submitpincode(){
        document.getElementById("pincode_button").disabled = true;
    }

})