<div class="modal fade" id="balanceModal">
  <div class="modal-dialog width-500-px-block-transaction">
    <div class="modal-content width-500-px-block-transaction">
      <!-- Modal Header -->
      <div class="modal-header text-left bg-primary text-white">
        <h4 class="modal-title float-left-block-transaction" ><span class="ml-2" id="balance_heading">Update Balances</span> </h4>
        <button type="button" class="close" data-dismiss="modal" id="balance_close1">×</button>
      </div>
      <!-- Modal body -->
        <div class="modal-body modal-body-block-transaction">
          <div class="card whitesmoke-background">
            <div class="card-body">
              <div id="balance_body_2">
                <div class="balance-status">Updating balances please wait!</div>
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer whitesmoke-background" id="balance_ModalFooter">
<!--          <button class="btn btn-default" id="balance_close2" data-dismiss="modal">Cancel</button>-->
          <button class="btn btn-success display-none-block-transaction" id="balance_done" data-dismiss="modal" >Done</button>
        </div>
    </div>
  </div>
</div>