
<script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />

<section class="section">
  <div class="row">
    <div class="col-md-12">
      <div class="card sameheight-item items" data-exclude="xs,sm,lg">
        <div class="card-header bordered">
          <div class="header-block">
            <h3 class="title">All Transactions</h3>
          </div>
          <div class="header-block pull-right">
            <a data-toggle="modal" data-type="admin" data-date="<%= params[:query].present? ? params[:query][:date] : '' %>" class="syncModal pull-right" href="#syncModal"><button type="button" class="btn btn-sm btn-success margin-right-12-px-block-transaction"><i class="fa fa-file"></i> Sync Transactions</button></a>
          </div>
        </div>

        <section class="example">

          <div class="">
            <div class="row all-transaction-index-block-transaction" >
              <div class="col-sm-6 col-md-6">
                <div class="dataTables_length">
                  <div class="col-md-6 top-30-px-block-transaction" >
                    <span class="span-1-index-block-transaction">Show</span>
                    <span class="float-left-block-transaction">
                    </span>
                    <span class="span-1-index-block-transaction">Entries</span>
                  </div>
                </div>
              </div>
              <div class="col-sm-6 col-md-6">
                <div class="col-md-12 margin-top-15-px-block-transaction">
                </div>
              </div>

            </div>
            <div class="table-responsive">

              <table id="datatable-keytable" class="table table-striped table-bordered table-hover" cellspacing="0" cellpadding="0">
                <thead>
                <tr>
                  <th>Txn ID</th>
                  <th>Sequence Parent Id</th>
                  <th>Date/Time</th>
                  <th>Type</th>
                  <th>Gateway</th>
                  <th>Sender Wallet ID</th>
                  <th>Receiver Wallet ID</th>
                  <th>Last4</th>
                  <th>Total Amount</th>
                  <th>Tx Amount</th>
                  <th>Privacy Fee</th>
                  <th>Tip</th>
                  <th>Fee</th>
                  <th>Net Fee</th>
                  <th>Total Net</th>
                  <th>Reserve</th>
                </tr>
                </thead>
                <tbody id="tbody">
                <% @transactions.each do |tx| %>
                  <tr>
                    <td class="sorted">
                      <%= tx.id %>
                    </td>
                    <td><%= tx.seq_parent_id %></td>
                    <td class="timeUtc"><%= tx.timestamp.try(:strftime, "%Y-%m-%d %H:%M:%S %z") %></td>
                    <td><%= tx.try(:main_type).try(:humanize) %></td>
                    <td><%= get_gateway(tx.gateway) %></td>
                    <td><%= get_sender(tx) %></td>
                    <td><%= tx.receiver_wallet_id %></td>
                    <td><%= tx.last4 %></td>
                    <td><%= number_with_precision(number_to_currency(SequenceLib.dollars(tx.amount_in_cents)), precision: 2) %></td>
                    <td><%= number_with_precision(number_to_currency(SequenceLib.dollars(tx.tx_amount)), precision: 2) %></td>
                    <td><%= number_with_precision(number_to_currency(tx.privacy_fee || 0.00), precision: 2) %></td>
                    <td><%= number_with_precision(number_to_currency(SequenceLib.dollars(tx.tip_cents)), precision: 2) %></td>
                    <td><%= number_with_precision(number_to_currency(SequenceLib.dollars(tx.fee_in_cents)), precision: 2) %></td>
                    <td><%= number_with_precision(number_to_currency(tx.net_fee), precision: 2) %></td>
                    <td><%= number_with_precision(number_to_currency(tx.total_net), precision: 2) %></td>
                    <td><%= number_with_precision(number_to_currency(SequenceLib.dollars(tx.hold_money_cents)), precision: 2)%></td>
                  </tr>
                <% end %>
                </tbody>
              </table>
              <div>
                <p class="pull-left margin-left-24-px-block-transaction" id="total_entries">Showing <%= @t_count %> of <%= $total_entries%></p>
                <p class="page-count-block-transaction" id="page-count">Page <%#= @page_no %></p>
                <nav aria-label="Page navigation example" class="page-navigation-example-block-tranaction">
                  <ul class="pagination">
                    <li class="page-item"><%= paginate @transactions, :theme => 'twitter-bootstrap-3', :pagination_class => "pagination-small pagination-centered pull-right padd"%></li>
                  </ul>
                </nav>
              </div>
            </div>
          </div>
        </section>
      </div>
    </div>
  </div>
</section>
<!-- The export Modal starts -->
<%= render partial: 'admins/block_transactions/sync_modal' %>
<!-- The export Modal ends -->
<script type="text/javascript">
    var table = $('#datatable-keytable').DataTable({
        responsive:false,
        "sScrollX": true,
        "searching": false,
        "bLengthChange": true,
        "bPaginate": false,
        "columnDefs": [
            { "orderable": false, "targets": 11 },
        ],
        "order": [[ 2, "desc" ]]
    });


    $(document).ready(function () {
        var lt= $('.timeUtc').each(function (i,v) {
            var gmtDateTime = moment.utc(v.innerText,'YYYY-MM-DD HH:mm:ss');
            var local = moment(gmtDateTime).local().format('MM-DD-YYYY hh:mm:ss A');
            v.innerText = local
        });
    });

</script>





