
<div class="row padding_10" id="baked_iso_on_section">
  <div class="col-md-12 padding_17">
    <div class="col-md-12">
      <div class="form-group col-md-4">
        <div class="row">
          <div class="col-md-1 padding_margin_baked show-cover-spin">
            <span><a id="add_baked_users" class='paddding_0 show-cover-spin'><i class="fa fa-plus fa-2x show-cover-spin"></i></a></span>
          </div>
          <div class="col-md-11 ui-front">
            <!--            <label class="no-padding cursor_default"><span>Select User 1</span></label>-->
            <input type="text" class="user_1 form-control input-field name_field first-user for_super_users"  value="" id="user_1" name="profit_splits[splits][0][user_1][name]" autocomplete="off" placeholder="User 1" data-count="0">
            <input type="hidden" id="user_1Hidden" value="" name="profit_splits[splits][0][user_1][wallet]" class="form-control">
            <div id="user_1_error"></div>
          </div>
        </div>
      </div>
      <div class="form-group col-md-4 ui-front">
        <!--        <label class="no-padding cursor_default"><span>Select User 2</span></label>-->
        <input type="text" class="form-control name_field input-field for_super_users" value="" id="user_2" name="profit_splits[splits][0][user_2][name]" autocomplete="off" placeholder="User 2">
        <input type="hidden" id="user_2Hidden" value="" name="profit_splits[splits][0][user_2][wallet]" class="form-control">
        <div id="user_2_error"></div>
      </div>
      <div class="form-group col-md-4 ui-front">
        <!--        <label class="no-padding cursor_default"><span>Select User 3</span></label>-->
        <input type="text" class="form-control input-field name_field for_super_users" value="" id="user_3" name="profit_splits[splits][0][user_3][name]" autocomplete="off" placeholder="User 3">
        <input type="hidden" id="user_3Hidden" value="" name="profit_splits[splits][0][user_3][wallet]" class="form-control">
        <div id="user_3_error"></div>
      </div>
    </div>
  </div>
  <div class="col-md-12 padding_left_22">
    <div class="col-md-12">
      <div class="col-md-4">
        <div class="row">
          <div class="col-md-1"></div>
          <div class="col-md-11 margin_left_7">
            <div class="col-md-6 form-group padding_left_0">
              <div class="input-icon icon_inside_input_field">
                <i>%</i>
                <input type="text" name="profit_splits[splits][0][user_1][percent]" class="form-control percentage_validation user_percent" id="user_1_percent" placeholder="0.0" step="any" data-count="0">
              </div>
              <div id="user_1_percent_error" class="percent_error"></div>
            </div>
            <div class="col-md-6 form-group padding_left_01">
              <div class="input-icon icon_inside_input_field">
                <i>$</i>
                <input type="text" name="profit_splits[splits][0][user_1][dollar]" class="form-control amount_field user_dollar user_percent" id="user_1_dollar" data-count="0" placeholder="0.00" step="any">
              </div>
            </div>
            <div class="split_error0 color-red"></div>
          </div>
        </div>
      </div>
      <div class="form-group col-md-2 sub-fields-1">
        <div class="input-icon icon_inside_input_field">
          <i>%</i>
          <input type="text" id="user_2_percent" name="profit_splits[splits][0][user_2][percent]" class="form-control percentage_validation user_percent" placeholder="0" step="any">
        </div>
        <div id="user_2_percent_error" class="percent_error user_2_dollar_error"></div>
      </div>
      <div class="form-group col-md-2 sub-fields-2">
        <div class="input-icon icon_inside_input_field">
          <i>$</i>
          <input type="text" name="profit_splits[splits][0][user_2][dollar]" class="form-control amount_field user_percent" id="user_2_dollar" placeholder="0.00" step="any">
        </div>
      </div>
      <div class="form-group col-md-2 sub-fields-3">
        <div class="input-icon icon_inside_input_field">
          <i>%</i>
          <input type="text" id="user_3_percent" name="profit_splits[splits][0][user_3][percent]" class="form-control percentage_validation user_percent" placeholder="0" step="any">
        </div>
        <div id="user_3_percent_error" class="percent_error user_3_dollar_error"></div>
      </div>
      <div class="form-group col-md-2 sub-fields-4">
        <div class="input-icon icon_inside_input_field">
          <i>$</i>
          <input type="text" name="profit_splits[splits][0][user_3][dollar]" class="form-control amount_field user_percent " id="user_3_dollar" placeholder="0.00" step="any">
        </div>
      </div>
    </div>
  </div>
</div>
