
<div class="modal fade" id="apis" tabindex="-1" role="dialog" aria-labelledby="modal-label-69" aria-hidden="true">
  <div class="modal-dialog modal-sm ">
    <div class="modal-content" >
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h6 id="modal-label-69">APIs</h6>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-xs-12 col-sm-12 col-md-12">
            <div class="col-md-12">
              <h6 class="api_h6">API Keys</h6>
            </div>
            <hr>
            <div class="row">
              <div class="col-md-12 owner_margin_top">
                <div class="form-group">
                  <div class="col-md-6">
                    <label>Owner</label>
                    <input type="text" value="<%= @merchant.name %>" class="form-control" disabled>
                  </div>
                  <div class="col-md-6">
                    <label>Owner ID</label>
                    <input type="text" value="M-<%= @merchant.id %>" class="form-control" disabled>
                  </div>
                </div>
              </div>
              <div class="col-md-12 margin_top_10">
                <div class="form-group">
                  <div class="col-md-6">
                    <label>Consumer Key(API Key)</label>
                    <input type="text" value="<%= @merchant.oauth_apps.first.try(:key) %>" class="form-control" disabled>
                  </div>
                  <div class="col-md-6">
                    <label>Consumer Secret(API Secret)</label>
                    <input type="text" value="M-<%= @merchant.oauth_apps.first.try(:secret) %>" class="form-control" disabled>
                  </div>
                </div>
              </div>

              <div class="col-md-12">
                <div class="col-md-12">
                  <h6 class="location_keys_css">Location Keys</h6>
                </div>
              </div>
              <div class="col-md-12 margin_top_bot">
                <div class="form-group">
                  <div class="col-md-6">
                    <label>Location Name</label>
                    <input type="text" value="<%= @location.business_name %>" class="form-control" disabled>
                  </div>
                  <div class="col-md-6">
                    <label>Location Key</label>
                      <div class="input-group">
                        <input type="text" class="form-control" id="token_field" value="<%= @location.location_secure_token %>" disabled>
                        <span class="input-group-addon padding_0"><button id="hide_btn" class="btn btn-default btn-sm reveal_btn_css"><i id="hide_text">Reveal</i> Key Token</button></span>
                      </div>
                    <!--<input type="text" value="<%#= @location.location_secure_token %>" class="form-control" disabled>-->
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary btn-sm pull-left" data-dismiss="modal">Cancel</button>
      </div>
    </div>
  </div>
</div>
