    <div id="duplicate owners<%= @count -1 %>" class="owners_form">
      <input type="hidden" class = "form_number" value="<%= @count %>">
      <h5 class="card-title m_2"><i class="fa fa-minus cancel_owner<%= @count-1%>"></i> Owner / Partner / Officer <span class="first-count"><%= @count %></span></h5>
    <div class="col-md-12">
      <input type="hidden" name="user[owner][<%= @count -1 %>][user_id]" value="<%= session[:merchant_id] %>">
      <div class="form-group col-md-5">
        <label>Owner's Name</label>
        <input type="text" class="form-control input-lg owner-field-validation" id="name<%= @count-1 %>" name="user[owner][<%= @count-1 %>][name]" placeholder="Owner's Name" required="required" multiple="true">
        <span id="owner-name-error"></span>
      </div>
      <div class="form-group col-md-5">
        <label>Title</label>
        <input type="text" class="form-control input-lg owner-field-validation" id="title<%= @count-1 %>" name="user[owner][<%= @count-1 %>][title]" placeholder="Title" required="true" multiple="true">
        <span id="title-error"></span>
      </div>
    </div>
    <div class="col-md-12">
      <div class="form-group col-md-5">
        <label>Home Address</label>
        <input type="text" class="form-control input-lg" id="address<%= @count-1 %> owner-field-validation" name="user[owner][<%= @count-1 %>][address]" placeholder="Home Address" required="true" multiple="true">
        <span id="address-error"></span>
      </div>
      <div class="form-group col-md-3">
        <label>Country</label>
        <%= select_tag "user[owner][#{@count - 1}][country]", options_for_select(COUNTRIES, :selected => "United States"), include_blank: 'Select Country', data: "#{@count - 1}", class: 'form-control input-lg admins_country_field owner-field-validation', required: true %>
        <!--        <input type="text" class="form-control input-lg" id="state" name="user[owner][<%#= @count-1 %>][state]" placeholder="State" required="true" multiple="true">-->
        <span id="state-error"></span>
      </div>
      <div class="form-group col-md-2">
        <label>State</label>
        <%= select_tag "user[owner][#{@count - 1}][state]", options_for_select(CS.states('us'), :selected => " "), include_blank: 'Select State', class: 'form-control input-lg owner-field-validation', required: true %>
        <!--        <input type="text" class="form-control input-lg" id="state" name="user[owner][<%#= @count-1 %>][state]" placeholder="State" required="true" multiple="true">-->
        <span id="state-error"></span>
      </div>
    </div>
    <div class="col-md-12">
      <div class="form-group col-md-5">
        <label>City</label>
        <input type="text" class="form-control input-lg owner-field-validation" id="city<%= @count - 1 %>" name="user[owner][<%= @count - 1 %>][city]" placeholder="City" required="true" multiple="true">
        <span id="city-error"></span>
      </div>
      <div class="form-group col-md-5">
        <label>Zip Code</label>
        <input type="text" class="form-control input-lg owner-field-validation" id="zip_code<%= @count-1 %>" name="user[owner][<%= @count-1 %>][zip_code]" placeholder="Zip Code" required="true" multiple="true">
        <span id="zip-error"></span>
      </div>
    </div>
    <div class="col-md-12">
      <div class="form-group col-md-5 phone-box">
        <label id="phone_heading<%= @count-1 %>" class="phone-heading">Owner’s Contact Number</label>
        <input type="text" maxlength="14" class="form-control input-lg phone-class owner-field-validation" id="phone_number<%= @count -1 %>" name="user[owner][<%= @count-1 %>][phone_number]" >
        <input type="hidden" name="user[owner][<%= @count-1 %>][phone_code]" id="phone_code<%= @count -1 %>">
        <span class="phone-error c_red" id="phone-error<%= @count -1 %>"></span>
      </div>
      <div class="form-group col-md-5">
        <label>Owner’s Contact Email</label>
        <input type="text" name="user[owner][<%= @count-1 %>][email]" id="email<%= @count -1 %>" class="form-control input-lg owner-field-validation" placeholder="Contact Email" required="true" email="true">
      </div>
    </div>
    <div class="col-md-12">
      <div class="form-group col-md-5">
        <label>Social Security</label>
        <input type="text" class="form-control input-lg ssn owner-field-validation" phone="ssn" name="user[owner][<%= @count-1 %>][ssn]" placeholder="Social Security" required autocomplete="off">
      </div>
      <div class="form-group col-md-5" id="date_parent">
        <label>Date Of Birth</label>
        <input type="text" name="user[owner][<%= @count-1 %>][date_of_birth]" id="date_of_birth_<%= @count-1 %>" class="form-control input-lg datepicker_owner datepicker1<%= @count-1 %> def_del<%= @count-1 %> datepicker3<%= @count-1 %> date_of_birth owner-field-validation" placeholder="Date Of Birth" required autocomplete="off" >
        <div  class="date_of_birth_error has-error"></div>
      </div>
    </div>
    <div class="col-md-12">
      <div class="form-group col-md-5">
        <label>Driver's License</label>
        <input type="text" name="user[owner][<%= @count-1 %>][dl]" id="dl<%= @count-1 %>" class="form-control input-lg owner-field-validation" placeholder="Driving License" required>
      </div>
      <div class="form-group col-md-5">
        <label>DL State Issued</label>
        <%= select_tag "user[owner][#{@count -1}][dl_state_issue]", options_for_select(CS.states(:us), :selected => " "), include_blank: 'Select State' , class: "form-control input-lg disable#{@count-1} owner-field-validation",required: true %>
        <!--        <input type="text" class="form-control input-lg" id="state" name="user[owner][<%#= @count-1 %>][state]" placeholder="State" required="true" multiple="true">-->
        <span id="state-error"></span>
      </div>
    </div>

    <div class="col-md-12">
      <div class="form-group col-md-5">
        <label>Ownership %</label>
        <input type="number" class="form-control input-lg ownership float_value  percent buyrate_fields duplicate_ownership_<%= @count - 1 %> owner-field-validation" id="ownership<%= @count-1 %>" name="user[owner][<%= @count-1 %>][ownership]" placeholder="Ownership %" required="true" multiple="true">
        <span id="ownership-error"></span>
      </div>
    </div>
  </div>

