
<% key = 0 %>
<% @bank_account.each do |bank| %>
  <section class="section section<%= key %> bank-section">
    <div class="row">
      <!--  high ticket to void check was in profile info -->
      <div class="col-md-6">
        <div class="form-group">
          <label class="no-padding"><span>Bank Account Type</span></label>
          <% if key == 0 %>
            <span class="add-bank-btn"><a id="add_bank" class='add-bank' data-count="<%= key %>>"><i class="fa fa-plus-circle fa-2x"></i></a></span>
          <% else %>
            <span class="remove-bank-btn"><a id="remove_bank" class='remove-bank' data-count="<%= key %>"><i class="fa fa-minus-circle fa-2x"></i></a></span>
          <% end %>
          <select name="user[location][bank][<%= key %>][bank_account_type]" class="form-control bank-account-type" id="bank_detail_bank_account_type<%= key %>" data-count="<%= key %>">
            <option value="">Choose</option>
            <% Location.bank_account_types.keys.each do |type| %>
              <option value=<%= type %> <%= bank.try(:bank_account_type) == type ? "selected" : "" %>><%= type.capitalize %></option>
            <% end %>
          </select>
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <label class="no-padding"><span>Name On Bank Account</span></label>
          <input name="user[location][bank][<%= key %>][bank_name]" id="bank-name<%= key %>" class="form-control" autocomplete="new-password" required="required" value="<%= bank.present? ? bank.try(:bank_name) : "" %>" type="text">
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <div class="form-group">
          <label class="no-padding cursor_default"><span>Bank Routing #</span></label>
          <input name="user[location][bank][<%= key %>][routing_no]" id="bank-routing<%= key %>" class="form-control" autocomplete="off" required="required" value="<%= bank.present? ? bank.try(:routing_no) : "" %>" type="text">
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <label class="no-padding cursor_default"><span>Bank Account #</span></label>
          <input name="user[location][bank][<%= key %>][account_no]" id="password-field<%= key %>" class="form-control" autocomplete="new-password" required="required" value="<%= bank.present? ? bank.try(:account_no) : "" %>" type="text">
          <span class="show_account" class="fa fa-fw fa-eye field-icon my-password<%= key %> div71"></span>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 div72">
        <% if @images.present? %>
          <% image = @images[bank["saved_image_id"].try(:to_i)].try(:first) %>
          <div id="choose_img">
            <label for="image"  class="div73">Void Check </label>
            <%= image_tag image.try(:add_image).try(:url), class:"img-style edit-image-tag#{key}" %>
            <input type="hidden" name="user[location][bank][<%= key %>][saved_image_id]" value="<%= image.try(:id) %>">
            <input name="user[location][bank][<%= key %>][image]" class="div74 hide-edit-img" id="customer_signature<%= key %>" accept="image/x-png,image/gif,image/png,image/jpeg,image/bmp,application/pdf ,.jpeg,.jpg,.pdf,.png" data-max-file-size="10485760" type="file">
            <span class="bank-img-preview"></span>
          </div>
          <div class="edit_icon" id="image_space<%= key %>">
            <div class="col-md-12 img-del-btn">
              <span id="edit_bank_del_img" data-img_id = "<%= image.try(:id) %>" data-count="<%= key %>" class="div34 edit_bank_del_img"><i class="fa fa-close fa-2x"  class="div35"></i></span>
            </div>
            <div class="col-md-12">
              <%= link_to '', image.try(:add_image).try(:url), download: image.try(:add_image),target: "_blank", class: 'fa fa-download fa-2x' %>
            </div>
          </div>
        <% else %>
          <label for="image"  class="div73">Void Check </label>
          <input name="user[location][bank][<%= key %>][image]" class="div74" id="customer_signature<%= key %>" accept="image/x-png,image/gif,image/png,image/jpeg,image/bmp,application/pdf ,.jpeg,.jpg,.pdf,.png" data-max-file-size="10485760" type="file" required="required">
          <span class="bank-img-preview"></span>
        <% end %>
      </div>

    </div>
  </section>
  <% key = key + 1 %>
<% end %>
<input type="hidden" name="deleted_img_ids" id="del_imgs_ids" value="">


