<%= stylesheet_link_tag asset_path("admins/profile_details/edit_merchant"), media: 'all', 'data-turbolinks-track' => 'reload' %>
<div class="modal fade" id="Edit_sub_merchant" tabindex="-1" role="dialog" aria-labelledby="modal-label-69" aria-hidden="true">
  <div class="modal-dialog modal-sm">
      <div class="modal-content greenbox_user-content"><% @user = @sub_merchant%>
        <%= simple_form_for @user , url: admins_merchants_update_sub_merchant_path , html:{ class: "add_new_employee_form", data:{toggle: "validator" }, method: :put}  do |f| %>
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h6 id="modal-label-69"> Edit User</h6>
            <input type="hidden" name="user[is_block]" value="false">
            <%= f.input :merchant_id, :as => :hidden, :input_html => { :value => "#{params[:id]}" } %>
            <%= f.input :user_id, :as => :hidden, id: 'user_id' ,  :input_html => { :value => "#{@user.id}" } %>
            <input type="hidden" value="<%= @user.id %>" id="merchant_user_id">

          </div>
          <div class="modal-body">
            <div class="row">
              <div class="col-md-12">
                <div class="col-md-6 padding-one-pec">
                  <div class="row">
                    <div class="form-group">
                      <label>Corprate Name</label>
                      <input class="form-control string required readonly color_grayed" value="<%= @merchant.name %>" readonly="readonly" required="required" aria-required="true" type="text" name="user[name]" id="user_name" >
                      <%= f.input :user_id, :as => :hidden, :input_html => { :value => "#{@user.id}" } %>
                      <%#=f.input :name , required: true, :input_html => { :value => "#{@merchant.name}"}, readonly:true, class: 'form-control  string required readonly color_grayed', :label => "Corprate Name"  %>
                    </div>
                  </div>
                  <div class="row">
                    <div class="form-group">
                      <%=f.input :name , required: true,  :input_html => { autocomplete: 'new-password'}, class: 'form-control', :label => "First Name"  %>
                    </div>
                  </div>
                  <div class="row">
                    <div class="form-group">
                      <%=f.input :last_name , required: true,  :input_html => { autocomplete: 'new-password'}, class: 'form-control', :label => "Last Name"  %>
                    </div>
                  </div>
                  <div class="row">
                    <div class="form-group phone-div">
                      <label>Phone Number</label>
                      <input class="form-control string tel optional valid" maxlength="13" type="tel" size="20" value="<%= "+#{@user.phone_number}" %>" name="user[phone_number]" id="user_phone_number" autocomplete="off" aria-required="true" aria-invalid="false">
                      <input type="hidden" id="user_phone_code" name="phone_code">
                      <span class="phone-error red-color" id="phone-error"></span>
                      <span id="error_phone"></span>
                    </div>
                  </div>
                  <div class="row">
                    <div class="form-group">
                      <%= f.label :email, id:'email_label_field' %><br />
                      <%=f.input :email, :input_html => { autocomplete: 'new-password'},required: true, readonly:true , class: 'form-control activ', :label =>  false %>
                      <span id="error_email" class="red-color"></span>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-6"><strong>User Types</strong></div>
                    <div class="col-md-6"><strong>Location Access</strong></div>
                  </div>
                  <div class="row">
                    <div class="col-md-6 padding-zero right-padding">
                      <%=	select_tag 'user[permission_id][]', options_for_select(@permission.map{|v|[v.name,v.id]}, @user.try(:permission_id).present? ?  @user.permission_id : ""),class: "form-control", multiple: false , required:true  %>
                    </div>
                    <div class="col-md-6 padding-zero left-padding">
                      <% locations = @user.wallets.pluck(:id) if @user.present? %>
                      <%=	select_tag 'user[wallets]', options_for_select(@wallets.map{|v| [v.business_name, v.id]  } , @wallets.map{|wallet| locations.include?(wallet.wallets.primary.first.try(:id)) ? wallet.id : nil}),class: "form-control" , multiple: true , required:true%>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-6 padding-zero right-padding">
                      <label id="permission-error" class="error" for="permission"></label>
                    </div>
                    <div class="col-md-6 padding-zero left-padding">
                      <label id="wallets-error" class="error" for="wallets"></label>
                    </div>
                  </div>
                </div>
                <div class="col-md-6 padding-one-pec">
                  <div class="row">
                    <div class="form-group ">
                      <%=	f.input :password,:input_html => { autocomplete: 'new-password'}, class: 'form-control', :label =>  'Password' %>
                    </div>
                    <div class="strength display-none">
                      <div class="figure" id="strength_human"></div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="form-group ">
                      <%= f.input :password_confirmation, :input_html => { autocomplete: 'new-password'}, class: 'form-control', :label => 'Confirm Password' %>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-12 setting-mer-st-7">
                      <div class="col-md-1"><b><i class="fa fa-history"></i></b></div>
                      <div class="col-md-10">
                        <% unless @user.support_mtrac? %>
                          <a href="#" id="reset"> <b>Reset password via email</b></a>
                        <% else %>
                          <a href="#" id="cursor-disable"> <b>Reset password via email</b></a>
                        <% end %>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-12 setting-mer-st-8">
                      <div class="col-md-1"><b><i class="fa fa-envelope-open-o"></i></b></div>
                      <div class="col-md-10">
                        <% unless @user.support_mtrac? %>
                          <input type="hidden" value="<%= @user.id %>" id="setting_merchant_id">
                          <input type="hidden" value="<%= @user.id %>" id="user_id">
                          <input type="hidden" value="<%= @user.email %>" id="user_email">
                          <a href="#" id="reset_unlock"> <b>Re-send Unlock Email</b></a>
                        <% else %>
                          <a href="#" id="cursor-disable"> <b>Re-send Unlock Email</b></a>
                        <% end %>
                        <input type="hidden" value="<%= @user.id %>" id="setting_merchant_id">
                        <input type="hidden" value="<%= @user.id %>" id="user_id">
                        <input type="hidden" value="<%= @user.email %>" id="user_email">
                        <input type="hidden" value="<%= @user.unlock_token %>" id="unlock_token">
                        <input type="hidden" value="<%= @user.locked_at %>" id="locked_at">
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-12 setting-mer-st-9">
                      <div class="setting-mer-st-10">
                        <label class="m-ida"> 2-Step Verification
                          <% if @user.two_step_verification? %>
                            <% unless @user.support_mtrac? %>
                              <button type="button" class="btn btn-default btn-sm two_step setting-mer-st-11">
                                <span class="two_step_text setting-mer-st-12">On</span><span class="fa fa-circle two_step_color setting-mer-st-13"></span>
                              </button>
                            <% else %>
                              <button type="button" class="btn btn-default btn-sm two_step setting-mer-st-14">
                                <span class="two_step_text setting-mer-st-15">On</span><span class="fa fa-circle two_step_color setting-mer-st-16"></span>
                              </button>
                            <% end %>
                          <% else %>
                            <% unless @user.support_mtrac? %>
                              <button type="button" class="btn btn-default btn-sm two_step setting-mer-st-17">
                                <span class="two_step_text setting-mer-st-18">Off</span><span class="fa fa-circle two_step_color setting-mer-st-19"></span>
                              </button>
                            <% else %>
                              <button type="button" class="btn btn-default btn-sm setting-mer-st-20">
                                <span class="two_step_text setting-mer-st-21">Off</span><span class="fa fa-circle two_step_color setting-mer-st-22"></span>
                              </button>
                            <% end %>
                          <% end %>
                        </label>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary btn-sm pull-left" data-dismiss="modal">Cancel</button>
            <%= submit_tag "Save", class:'btn btn-primary btn-sm pull-right submit_button' , id:'add_user' %>
          </div>
        <% end %>
      </div>
  </div>
</div>

<%= javascript_include_tag 'admins/merchant_users.js' %>
