
<input type="hidden" name="form_data" value="<%= params[:form_data].to_json %>">
<input type="hidden" name="format" value="<%= params[:format].present? ? params[:format] : '' %>">
<% if @images.present? %>
  <% @images.each do |image| %>
    <% @owner_id_card = @images.map{|v| v.image_type == Documentation.types[:owner_id_card]? v:nil}.compact %>
  <%end %>
  <% @images.each do |image| %>
    <% @w9 = @images.map{|v| v.image_type == Documentation.types[:w9]? v:nil}.compact %>
  <%end %>
  <% @images.each do |image| %>
    <% @ein = @images.map{|v| v.image_type == Documentation.types[:ein] || Documentation.types[:ss4]? v:nil}.compact %>
  <%end %>
  <%end %>
<hr class="profit-split-hr">
<div class="row">
  <div class="col-md-12">
    <div class="col-md-1 bullet-top">
      <span class="bullet-label"></span>
    </div>
    <div class="form-group col-md-1">
      <div class="row">
        <label class="h5">Owner's ID</label>
      </div>
    </div>
    <div class="col-md-2">
      <%=f.file_field(:owner_id_card, multiple: true,class: @owner_id_card.present? ? 'btn input-file image_have':'btn input-file',  accept:".doc,.rtf,.xlsx,.docx,application/msword,application/vnd.openxmlformats-officedocument.wordprocessingml.document,image/x-png,image/gif,image/jpeg,application/pdf,application/csv, .csv",  data: { max_file_size: 10.megabytes}) %>
    </div>
    <div class="col-md-8 user_documentation_owner_id_card img-preview">
          <% if @images.present? %>
            <% @images.each do |image| %>
              <% if image.image_type == Documentation.types[:owner_id_card] %>
                <div class="row selected-file">
                  <div class="col-md-12">
                <div class="col-sm-3"></div>
                <div class="col-sm-5 span-color">
                  <% if ['image/jpeg','image/jpg','image/png','image/gif'].include?(image.document_content_type) %>
                    <span class="<%=image.id %>"><%= image.document_file_name.present? ? image.document_file_name.truncate(25, :omission => "...#{image.document_file_name[-5,image.document_file_name.length]}") : '' %></span>
                  <% else %>
                    <a href="<%= image.document.url %>" class="<%=image.id %> span-color"><%= image.document_file_name.present? ? image.document_file_name.truncate(25, :omission => "...#{image.document_file_name[-5,image.document_file_name.length]}") : '' %></a>
                  <% end %>
                </div>
                <div class="col-sm-4 top-padding <%=image.id %>">
                  <%= link_to '','https:'+image.document.url,class: 'fa fa-download fa-2x panel-heading', download:image.document, target: '_blank' %>
                  <%= link_to '','',id: image.id,class: 'fa fa-close fa-2x panel-heading',onclick: "$('#cover-spin').show(0);"%>
                </div>
                </div>
                </div>
              <% end %>
            <% end %>
          <% end %>
    </div>
    <div class="help-block with-errors"></div>
  </div>
</div>
<hr class="profit-split-hr">
<div class="row">
  <div class="col-md-12">
    <div class="col-md-1 bullet-top">
      <span class="bullet-label"></span>
    </div>
    <div class="form-group col-md-1">
      <div class="row">
        <label class="h5">W-9</label>
      </div>
    </div>
    <div class="col-md-2">
      <%=f.file_field(:w9, multiple: true,class: @w9.present? ? 'btn input-file image_have':'btn input-file',  accept:".doc,.rtf,.xlsx,.docx,application/msword,application/vnd.openxmlformats-officedocument.wordprocessingml.document,image/x-png,image/gif,image/jpeg,application/pdf,application/csv, .csv", data: { max_file_size: 10.megabytes}) %>
    </div>
    <div class="col-md-8 user_documentation_w9 img-preview">
          <% if @images.present? %>
            <% @images.each do |image| %>
              <% if image.image_type == Documentation.types[:w9] %>
             <div class="row selected-file">
              <div class="col-md-12">
                <div class="col-sm-3"></div>
                <div class="col-sm-5 span-color">
                  <% if ['image/jpeg','image/jpg','image/png','image/gif'].include?(image.document_content_type) %>
                    <span class="<%=image.id %>"><%= image.document_file_name.present? ? image.document_file_name.truncate(25, :omission => "...#{image.document_file_name[-5,image.document_file_name.length]}") : '' %></span>
                  <% else %>
                    <a href="<%= image.document.url %>" class="<%=image.id %> span-color"><%= image.document_file_name.present? ? image.document_file_name.truncate(25, :omission => "...#{image.document_file_name[-5,image.document_file_name.length]}") : '' %></a>
                  <% end %>
                </div>
                <div class="col-sm-4 top-padding <%=image.id %>">
                  <%= link_to '','https:'+image.document.url,class: 'fa fa-download fa-2x panel-heading', download:image.document, target: '_blank' %>
                  <%= link_to '','',id: image.id,class: 'fa fa-close fa-2x panel-heading',onclick: "$('#cover-spin').show(0);"%>
                </div>
                </div>
                </div>
              <% end %>
            <% end %>
          <% end %>
    </div>
    <div class="help-block with-errors"></div>
  </div>
</div>
<hr class="profit-split-hr">
<div class="row">
  <div class="col-md-12">
    <div class="col-md-1 bullet-top">
      <span class="bullet-label "></span>
    </div>
    <div class="form-group col-md-1">
      <div class="row">
        <label class="h5">SS4/EIN</label>
      </div>
    </div>
    <div class="col-md-2">
      <%=f.file_field(:ein, multiple: true,class: @ein.present? ? 'btn input-file image_have':'btn input-file',  accept:".doc,.rtf,.xlsx,.docx,application/msword,application/vnd.openxmlformats-officedocument.wordprocessingml.document,image/x-png,image/gif,image/jpeg,application/pdf,application/csv, .csv",  onchange: "validateFiles(this);", data: { max_file_size: 10.megabytes}) %>
    </div>
    <div class="col-md-8 user_documentation_ein  img-preview">
          <% if @images.present? %>
            <% @images.each do |image| %>
              <% if image.image_type == Documentation.types[:ein] || image.image_type == Documentation.types[:ss4] %>
            <div class="row selected-file">
              <div class="col-md-12">
                <div class="col-sm-3"></div>
                <div class="col-sm-5 span-color">
                  <% if ['image/jpeg','image/jpg','image/png','image/gif'].include?(image.document_content_type) %>
                    <span class="<%=image.id %>"><%= image.document_file_name.present? ? image.document_file_name.truncate(25, :omission => "...#{image.document_file_name[-5,image.document_file_name.length]}") : '' %></span>
                  <% else %>
                    <span class="<%=image.id %>"><a href="<%= image.document.url %>" class="<%=image.id %> span-color"><%= image.document_file_name.present? ? image.document_file_name.truncate(25, :omission => "...#{image.document_file_name[-5,image.document_file_name.length]}") : '' %></a></span>
                  <% end %>
                </div>
                <div class="col-sm-4 top-padding <%= image.id %>">
                  <%= link_to '','https:'+image.document.url,class: 'fa fa-download fa-2x panel-heading', download:image.document, target: '_blank' %>
                  <%= link_to '','',id: image.id,class: 'fa fa-close fa-2x panel-heading',onclick: "$('#cover-spin').show(0);"%>
                </div>
              </div>
            </div>
              <% end %>
            <% end %>
          <% end %>
    </div>
    <div class="help-block with-errors"></div>
  </div>
</div>

