
<!-- Modal -->
<%= stylesheet_link_tag asset_path("admins/profile_details/edit_merchant"), media: 'all', 'data-turbolinks-track' => 'reload' %>
  <div class="modal fade editModal" role="dialog">
    <div class="modal-dialog">
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
<!--          <button type="button" class="close" data-dismiss="modal">&times;</button>-->
          <div class="row">
            <div class="col-md-6"><h4 class="modal-title">Edit Merchant</h4></div>
            <div class="col-md-6">
              <button type="button" class="close pull-right " data-dismiss="modal">&times;</button>
              <h6 class="pull-right cross-padding">
                TOS Acceptance:
                <% if @merchant.tos_acceptance_date.present? && @merchant.tos_checking %>
                  <span class="fa fa-check c_green"></span> <span class="modalTime"><%= @merchant.tos_acceptance_date %></span>
                <% else %>
                  <span class="fa fa-times c_red"></span> Pending
                <% end %>
              </h6>
              <% if @tos_accepted_by.present? %>
                <div class="col-md-12">
                  <h6 class="pull-right mr_14">
                      Accepted By: <span><%= "#{@tos_accepted_by.name}" %></span>
                  </h6>
                </div>
              <% end %>
            </div>
          </div>
        </div>
        <%= form_for @merchant, url: {controller: "admins/merchants", action: "update"}, html: {id: 'merchantform', onsubmit:"disableButton('merchantform','submit_edit_button1')"} do |f| %>
            <%= f.hidden_field 'form_id', :value => @merchant.id %>
            <input type="hidden" name="user_id" value="<%= @merchant.id %>">
            <input type="hidden" id="from_tab" value="">
            <input type="hidden" name="id" value="<%= @merchant.id %>">
            <ul class="nav nav-tabs users_tabs user_tab_css">
              <li class="active from-tabs" id="corporate_li"><a>Corporate Info</a></li>
              <li class="from-tabs" id="owner_li"><a>Owner Info</a></li>
              <li class="from-tabs" id="setting_li"><a>Settings</a></li>
              <li class="from-tabs" id="documentation_li"><a>Documents</a></li>
            </ul>
          <p id="error" class="error_msg_css"></p><br>
            <div id="corporate" class="row ">
              <div class="col-md-12">
                <h5 class="card-title m_2">Corporate Info</h5>
                <div class="col-md-12">
                  <div class="form-group col-md-6">
                    <%= f.label :name, "Corporate Legal Name" %><br />
                    <%= f.hidden_field :user_id, value:@merchant.present? ? @merchant.try(:id) : 'undefined', id:'user_form_id' %>
                    <%= f.hidden_field :merchant_id, value:@merchant.present? ? @merchant.try(:id) : '' %>
                    <%= f.text_field :name , id:"name3", class:"form-control input-lg corporate-field-validation", value:@merchant.present? ? @merchant.try(:name) : '', placeholder:"Corporate legal Name(use also headquarter's info)"%>
                  </div>
                  <div class="form-group col-md-6">
                    <%= f.label :email, "Login Email Address" %><br/>
                    <%= f.text_field :email, id: "email3", value: @merchant.present? ? @merchant.try(:email) : '', class: "form-control input-lg corporate-field-validation", placeholder: "Contact Email Address", autocomplete: 'off' %>
                    <span class="email-error"></span>
                  </div>
                  <!--      <div class="form-group col-md-5">-->
                  <!--        <%#= f.label "Corporate Billing Address" %><br />-->
                  <%#= f.text_field :postal_address   , id:"name", class:"form-control input-lg", placeholder:"Corporate Billing Address" %>
                  <!--      </div>-->
                </div>
                <%= f.fields_for :profile, Profile.new do |form| %>

              <input type="hidden" name="archive" value="<%=params[:archive] %>">
                <div class="col-md-12">
                  <div class="form-group col-md-6"><%= f.label :company %>
                    <%= f.select :company_id, options_for_select(Company.all.collect { |v| [v.name, v.id] }, @merchant.try(:company).try(:id).present? ? @merchant.company.id : @merchant.try(:company_id).present? ? @merchant.try(:company_id).try(:to_i) : ''), {include_blank: "Select Company Name"}, {autofocus: false, id: "companyname", class: "form-control input-lg corporate-field-validation", required: true} %>
                  </div>
                  <%#= f.fields_for :profile , Profile.new do |form| %>

                    <div class="form-group col-md-3">
                      <%= f.label :year_business, "Years in Business", class: 'control-label' %>
                      <%= select_tag 'user[years_in_business][year]', options_for_select((0..100),  @merchant.present? ? @merchant.profile.present? ? @merchant.profile.years_in_business.present? ?  @merchant.profile.years_in_business.split("-").first : '' : '' : '') , include_blank: 'Years',class: 'form-control input-lg error_text corporate-field-validation' , required:true%>
                      <div class="error_years has-error"></div>
                    </div>
                    <div class="form-group col-md-3">
                      <%= f.label :month_business, "Months in Business", class: 'control-label' %>
                      <%= select_tag 'user[years_in_business][month]', options_for_select((0..12), @merchant.present? ? @merchant.profile.present? ? @merchant.profile.years_in_business.present? ?  @merchant.profile.years_in_business.split('-').last : '' : '' :'' ), id:'user_years_in_business_month',include_blank: 'Month' , class: 'form-control input-lg error_text corporate-field-validation', required:true %>
                     </div>
                      </div>

                      <div class="">
                        <div class="col-md-12">
                            <div class="form-group col-md-6">
                              <%= form.hidden_field 'id', :value => form.object.id.present? ? form.object.id : @merchant.present? ? @merchant.profile.try(:id) : ''  %>
                              <%= f.label :address, "Address" %><br />
                              <%= f.text_field :address , id:"address", value:@merchant.present? ? @merchant.try(:address) : '', class:"form-control input-lg", placeholder:"Address" %>
                            </div>
                          <div class="form-group col-md-3">
                            <%= form.label :country, "Country" %><br/>
                            <%
                               if @merchant.present? && @merchant.profile.country.present?
                                 if @merchant.profile.country == ("United State") || @merchant.profile.country== "US"
                                   @merchant.profile.country = ("United States")
                                 else
                                   @merchant.profile.country = @merchant.profile.country
                                 end
                                 if @merchant.profile.country == ("United States")
                                   country_code = "us"
                                 else
                                   country   = ISO3166::Country.find_country_by_name(@merchant.profile.try(:country))
                                   country_code = country.present? ? country.try(:alpha2) : ""
                                 end
                                 @states = country_code.present? ? CS.states(country_code) : ""
                               else
                                 country_code = "us"
                                 @states = CS.states(country_code)
                               end
                            %>
                            <%= form.select :country, options_for_select(COUNTRIES, :selected => @merchant.profile.country.present? ? @merchant.profile.try(:country): "United States"),{:include_blank => 'Select Country'}, data: "#{@count}", class: "form-control input-lg admins_country_field_cor_edit corporate-field-validation", required: 'required', placeholder: "Country" %>
                          </div>

                          <div class="form-group col-md-3">
                            <%= form.label :state, "State" %><br />
                            <%= form.select :state ,options_for_select(@states,:selected => @merchant.profile.try(:state)),{:include_blank => 'Select State'}, id:"state", class:"form-control input-lg admins_states_field admins_states_field_cor_edit disable#{@count} corporate-field-validation", placeholder:"State" %>
                          </div>
                        </div>
                        <div class="col-md-12">
                          <div class="form-group col-md-6">
                            <%= form.label :city, "City" %><br/>
                            <%= form.text_field :city, id: "city", value: @merchant.present? ? @merchant.profile.try(:city) : '', class: "form-control input-lg", placeholder: "City" %>
                          </div>
                          <div class="form-group col-md-6">
                            <%= form.label :zip_code, "Zip Code" %><br />
                            <%= form.text_field :zip_code , id:"zip_code", value:@merchant.present? ? @merchant.profile.try(:zip_code) : '', class:"form-control input-lg", placeholder:"Zip Code" %>
                          </div>
                          <div class="form-group col-md-6">
                            <%= form.label :tax_id, "Tax Id" %><br />
                            <%= form.text_field :tax_id , id:"tax_id", value:@merchant.present? ? @merchant.profile.try(:tax_id) : '', class:"form-control input-lg", placeholder:"Tax Id" , maxlength: 11 %>
                          </div>
                          <div class="form-group col-md-6">
                            <%= f.label :phone_number, "Corporate Phone Number" %><br/>
                            <input type="text" maxlength="14" name="user[phone_number]" id="phone_number_cor" class="form-control input-lg pading" value="<%= @merchant.phone_number.present? ? "+#{@merchant.phone_number}" : '' %>">
                            <input type="hidden" name="user[phone_code]" id="phone_code_cor">
                            <span class="phone-error"></span>
                          </div>
                        </div>
                        <div class="col-md-12">
                          <div class="form-group col-md-6">
                          </div>
                          <div class="form-group col-md-6">
                            <%= form.label :business_type, "Business Type" %><br />
                            <%= form.select :business_type , options_for_select(Profile.business_types.map {|k, v| [k.humanize.capitalize, v]}, Profile.business_types[@merchant.try(:profile).try(:business_type)]),{}, {id:"username" ,class:"form-control input-lg"}%>
                            <%#= form.text_field :business_type , id:"business_type", value:@merchant.present? ? @merchant.profile.try(:years_in_business) : '' , class:"form-control input-lg", placeholder:"Years / Months in Business" %>
                          </div>
                  <% end %>
                  </div>
                  <!--      <div class="col-md-12">-->
                  <!--        <div class="form-group col-md-5 phone-div">-->
                  <!--          <%#= f.label :phone_number, "Contact Phone Number" %><br />-->
                  <%#= f.text_field :phone_number , id:"phone_number", value:@merchant.present? ? "+#{@merchant.try(:phone_number)}" : @corporate.present? ? "+#{@corporate[:phone_number]}" : '', class:"form-control input-lg"%>
                  <!--          <input type="hidden" name="user[phone_code]" id="phone_code">-->
                  <!--          <span class="phone-error"></span>-->
                  <!--        </div>-->

                  <!--      </div>-->
                  <% if @merchant.present? && params[:status] == "c1" %>
                      <div class="col-md-12">
                        <div class="form-group col-md-6">
                          <%= f.label :password, "Password" %><br />
                          <%= f.password_field :password , id:"user_password", class:"form-control input-lg", placeholder:"Password"%>
                        </div>
                        <div class="form-group col-md-6">
                          <%= f.label :confirm_password, "Confirm Password" %><br />
                          <%= f.password_field :password_confirmation , id:"user_password_confirmation", class:"form-control input-lg", placeholder:"Confirm Password"%>
                        </div>
                      </div>
                      <div class="col-md-12">
                        <div class="strength st_human">
                          <div class="figure" id="strength_human"></div>
                        </div>
                      </div>
                  <% end %>
                  </div>
                  </div>
            </div>
            <!--start of owner portion-->
            <% @count=1 %>
            <div id="owner" class="owners_form owner_css">
              <% if @merchant.owners.present? %>
                  <%= render partial: 'admins/merchants/edit_owners', locals:{from: "edit-merchant"} %>
              <% else %>
                  <div class="row">
                    <div class="col-md-12">
                      <h5 class="card-title m_2">Owner / Partner / Officer <span class="first-count"><%= @count %></span></h5>
                      <%= f.fields_for :owner, Owner.new do |f| %>
                          <div class="col-md-12">
                            <input type="hidden" name="user[owner][0][user_id]" value="<%= @merchant.present? ? @merchant.id : params[:merchant_id] %>">
                            <input type="hidden" name="user[user_id]" id="user_form_id" value="<%= @merchant.present? ? @merchant.id : params[:merchant_id] %>">
                            <input type="hidden" class = "form_number" value="<%= @count  %>">
                            <div class="form-group col-md-6">
                              <%= f.label :name, "Owner's Name" %><br />
                              <input type="text" name="user[owner][0][name]" id="name" class="form-control input-lg owner-field-validation" placeholder="Owner's Name">
                            </div>
                            <div class="form-group col-md-6">
                              <%= f.label :ownership, "Ownership %" %><br />
                              <input type="text" name="user[owner][0][ownership]" id="ownership" class="form-control input-lg ownership two_decimal percent buyrate_fields owner-field-validation" placeholder="Ownership %">
                            </div>
                          </div>
                          <div class="col-md-12">
                            <div class="form-group col-md-6">
                              <%= f.label :address, "Home Address" %><br />
                              <input type="text" name="user[owner][0][address]" id="address" class="form-control input-lg owner-field-validation" placeholder="Home Address">
                            </div>
                            <div class="form-group col-md-3">
                              <%= f.label :country, "Country" %><br/>
                              <%= select_tag "user[owner][0][country]", options_for_select(COUNTRIES, :selected => @merchant.profile.try(:country)), include_blank: 'Select Country', data: "#{@count}", class: "form-control input-lg admins_country_field owner-field-validation", required: true, placeholder: "Country" %>
                            </div>
                            <div class="form-group col-md-3">
                              <%= f.label :state, "State" %><br/>
                              <%= select_tag "user[owner][0][state]", options_for_select(CS.states(:us), :selected => @merchant.profile.try(:state)), include_blank: 'Select State', id: "state", class: "form-control input-lg admins_states_field disable#{@count} owner-field-validation", required: true, placeholder: "State" %>
                            </div>
                          </div>
                          <div class="col-md-12">
                            <div class="form-group col-md-6">
                              <%= f.label :city, "City" %><br/>
                              <input type="text" name="user[owner][0][city]" id="city" class="form-control input-lg owner-field-validation" placeholder="City">
                            </div>
                            <!--            <div class="form-group col-md-5">-->
                            <!--              <label for="message-text" class="col-form-label label-color">State</label>-->
                            <%#=  text_field_tag "state","", id: "state1", class: "validate_form form-control shadow-sm adjust-popup-fields  icon-input txtOwner"%>
                            <%#= select_tag "state", options_for_select(CS.states(:us), selected: ''), {:class => 'form-control'} %>
                            <!--            </div>-->
                            <!--            </div>-->
                            <div class="form-group col-md-6">
                              <%= f.label :zip_code, "Zip Code" %><br />
                              <input type="text" name="user[owner][0][zip_code]" id="zip_code" class="form-control input-lg owner-field-validation" placeholder="Zip Code">
                            </div>
                          </div>
                          <div class="col-md-12">
                            <div class="form-group col-md-6 phone-box">
                              <%= f.label :phone_number, "Owner’s Contact Number" %><br />
                              <input type="text" maxlength="14" name="user[owner][0][phone_number]" id="phone_numberr" class="form-control input-lg .phone-class owner-field-validation">
                              <input type="hidden"   name="user[owner][0][phone_code]" id="phone_coder">
                              <span id="phone_errorr" class="phone_error"></span>
                            </div>
                            <div class="form-group col-md-6">
                              <%= f.label :ssn, "Owner’s Contact Email" %><br />
                              <input type="text" name="user[owner][0][email]" id="ssn" class="form-control input-lg owner-field-validation" placeholder="Contact Email">
                            </div>
                          </div>
                          <div class="col-md-12">
                            <div class="form-group col-md-6">
                              <%= f.label :ssn, "Social Security" %><br />
                              <input type="text" name="user[owner][0][ssn]" id="ssn" class="form-control input-lg ssn owner-field-validation" placeholder="Social Security Number" autocomplete="off">
                            </div>
                            <div class="form-group col-md-6">
                              <%= f.label :date_of_birth, " Date Of Birth" %><br />
                              <input type="text" name="user[owner][0][date_of_birth]" id="date_of_birth" class="form-control input-lg datepicker1 owner-field-validation" placeholder="Date Of Birth" autocomplete="off">
                            </div>
                          </div>
                          <div class="col-md-12">
                            <div class="form-group col-md-6">
                              <%= f.label :dl, "Driver's License" %><br />
                              <input type="text" name="user[owner][0][dl]" id="dl" class="form-control input-lg owner-field-validation" placeholder="Driving License">
                            </div>
                            <div class="form-group col-md-6">
                              <%= f.label :dl_state_issue, "DL State Issued" %><br />
                              <%= select_tag 'user[owner][0][dl_state_issue]', options_for_select(CS.states(:us), :selected => " "), include_blank: 'Select State' , class: "form-control input-lg disable#{@count} owner-field-validation",required: true %>
                            </div>
                          </div>

                          <div class="duplicate_owner">

                          </div>

                          <div class="col-md-12">
                            <div class="form-group col-md-5">
                              <% @count = @count + 1 %>
                              <span class="duplicate-owner-button dup_btn_css" >+ Owner / Partner / Officer <span class="count"><%= @count %></span></span>
                            </div>
                          </div>
                      <% end %>
                    </div>
                  </div>
              <% end %>
            </div>
            <div  id="setting" class="hide-break">
              <%= render partial: 'admins/merchants/setting_merchant',:locals => {:f => f} %>
            </div>
            <div  id="documentation" class="hide-break">
              <h5 class="card-title row setting-mer-st-1">
                <span class="col-md-12 setting-mer-st-2">Documents</span>
              </h5>
              <%= f.fields_for :documentation, Documentation.new do |form| %>
              <%= render partial: 'admins/merchants/edit_documentation',:locals => {:f => form} %>
                <% end %>
            </div>
            <div class="t_center">
              <% unless current_user.support_mtrac? %>
                <%= f.submit "Save", class: "btn btn-success bg_color_btn submit_edit_button1", id: "submit_edit_button1", data: {active: "corporate"} %>
              <% else %>
                <button class="btn btn-success bg_color_btn" disabled="disabled" >Save</button>
              <% end %>
            </div>


      <% end %>
        </div>
      </div>
    </div>
<%= javascript_include_tag "admins/merchant/owner.js" %>
<%= javascript_include_tag "admins/merchant/merchant_edit_form.js" %>