<% if @location.profit_split_detail.present? %>
  <% all_splits =  JSON(@location.profit_split_detail) if @location.profit_split_detail.kind_of? String %>
  <% if all_splits["splits"]["ez_merchant"].present? %>
    <% all_splits["splits"]["ez_merchant"].each do|key,value| %>
      <% unless key.length > 2 %>
        <% if value.present? %>
            <div class="row">
              <div class="col-md-12 padding_17">
                <div class="col-md-12">
                  <div class="form-group col-md-12">
                    <div class="row">
                      <div class="col-md-12">
                        <div class="col-md-4 ui-front">
                          <input type="hidden" id="ez_location_id" value="<%= @location.try(:id) %>">
                          <input type="text" class="edit-ez-merchant form-control" value="<%= value["ez_merchant_1"].present? ? value["ez_merchant_1"]["name"].present? ? value["ez_merchant_1"]["name"] : '' : ''  %>" id="ez_merchant_<%=key%>" name="profit_splits[splits][ez_merchant][<%= key %>][ez_merchant_1][name]" autocomplete="off">
                          <input type="hidden" id="ez_merchant_<%=key%>Hidden" value="<%= value["ez_merchant_1"].present? ? value["ez_merchant_1"]["name"].present? ? value["ez_merchant_1"]["name"] : '' : ''  %>" name="profit_splits[splits][ez_merchant][<%= key%>][ez_merchant_1][name]" class="edit-ez-hidden form-control">
                          <div class="edit-ez-error" id=<%= 'ez_merchant_'+key+'_error'%> ></div>
                          <p id="ezspanError<%= key %>" class="ezspan_css"></p>
                        </div>
                        <div class="col-md-4" id="ezLocationDiv<%= key %>">
                          <select id="ezLocationText<%= key %>" class="form-control ezLocationText w_97">
                          </select>
                          <div id=<%= 'ezLocationText'+key+'_error'%> ></div>
                        </div>
                        <div class="col-md-1">
                          <label class="radio-label">
                            <% if value["ez_merchant_1"].present? && (value["ez_merchant_1"].try(:[], "attach").present? && value["ez_merchant_1"]["attach"] == "true" ) %>
                              <input type="checkbox" name="profit_splits[splits][ez_merchant][<%= key %>][ez_merchant_1][attach]" value="true" id="attach_radio" checked >
                            <% else %>
                              <input type="checkbox" name="profit_splits[splits][ez_merchant][<%= key %>][ez_merchant_1][attach]" value="true" id="attach_radio" >
                            <% end %>
                            <span class="checkmark"></span>
                          </label>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-12 padding_left_32">
                  <div class="col-md-4">
                    <div class="row">
                      <div class="col-md-12">
                        <div class="col-md-6 form-group padding_left_10">
                          <div class="input-icon icon_inside_input_field">
                            <i>%</i>
                            <input type="text" name="profit_splits[splits][ez_merchant][<%= key%>][ez_merchant_1][percent]" id="ez_percent" class="form-control percentage_validation" value="<%= value["ez_merchant_1"].present? ? value["ez_merchant_1"]["percent"].present? ? value["ez_merchant_1"]["percent"] : "" : ""  %>"  placeholder="0" required="true" step="any">
                          </div>
                          <div id="ez_percent_error" class="percent_error"></div>
                        </div>
                        <div class="col-md-6 form-group padding_right_0">
                          <div class="input-icon icon_inside_input_field">
                            <i>$</i>
                            <input type="number" name="profit_splits[splits][ez_merchant][<%= key%>][ez_merchant_1][dollar]" id="ez_dollar" class="form-control" value="<%= value["ez_merchant_1"].present? ? value["ez_merchant_1"]["dollar"].present? ? value["ez_merchant_1"]["dollar"] : 0 : 0  %>" step="any">
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
              </div>
            </div>

        <% end %>
      <% end %>
    <% end %>
  <% end %>
<% end %>
