
<% if @location.profit_split_detail.present? %>
<% @all_splits =  JSON(@location.profit_split_detail) if @location.profit_split_detail.kind_of? String %>
<% if @all_splits["splits"].present? %>
    <% @all_splits["splits"].each do|key,value| %>
      <% unless key.length > 2 %>
      <% if value.present? %>
        <div class="row padding_10" id="baked_iso_on_section">
        <div class="col-md-12 padding_17">
          <div class="col-md-12">
            <div class="form-group col-md-4">
              <div class="row">
                <div class="col-md-1 padding_margin_baked">
                  <% if key == "0" %>
                      <a id="add_baked_users" class=' padding_0'><i class="fa fa-plus fa-2x"></i></a>
                  <% else %>
                      <a id="remove_baked_users" class=" padding_0"><i class="fa fa-minus-circle fa-2x"></i></a>
                  <% end %>
                </div>
                <div class="col-md-11 ui-front">
<!--                  <label class="no-padding cursor_default"><span>Select User 1</span></label>-->
                  <input type="text" class="user-1 form-control input-field first-user for_super_users" data-key="<%= key %>" data-user_no="1" value="<%= value["user_1"].present? ? value["user_1"]["name"].present? ? value["user_1"]["name"] : '' : ''  %>" id="user_1<%=key%>" name="profit_splits[splits][<%= key %>][user_1][name]" autocomplete="off">
                  <input type="hidden" id="user_1<%=key%>Hidden" value="<%= value["user_1"].present? ? value["user_1"]["wallet"].present? ? value["user_1"]["wallet"] : '' : ''  %>" name="profit_splits[splits][<%= key%>][user_1][wallet]" class="form-control">
                  <div id="user_1<%= key %>_error"></div>
                </div>
              </div>
            </div>
            <div class="form-group col-md-4 ui-front">
<!--              <label class="no-padding cursor_default"><span>Select User 2</span></label>-->
              <input type="text" class="user-2 form-control input-field  for_super_users" data-key="<%= key %>" data-user_no="2" value="<%= value["user_2"].present? ? value["user_2"]["name"].present? ? value["user_2"]["name"] : '' : ''  %>" id="user_2<%=key%>" name="profit_splits[splits][<%= key%>][user_2][name]" autocomplete="off">
              <input type="hidden" id="user_2<%=key%>Hidden" value="<%= value["user_2"].present? ? value["user_2"]["wallet"].present? ? value["user_2"]["wallet"] : '' : ''  %>" name="profit_splits[splits][<%= key%>][user_2][wallet]" class="form-control">
              <div id="user_2<%= key %>_error"></div>
            </div>
            <div class="form-group col-md-4 ui-front">
<!--              <label class="no-padding cursor_default"><span>Select User 3</span></label>-->
              <input type="text" class="user-3 form-control input-field for_super_users" data-key="<%= key %>" data-user_no="3" value="<%= value["user_3"].present? ? value["user_3"]["name"].present? ? value["user_3"]["name"] : '' : ''  %>" id="user_3<%=key%>" name="profit_splits[splits][<%= key%>][user_3][name]" autocomplete="off">
              <input type="hidden" id="user_3<%=key%>Hidden" value="<%= value["user_3"].present? ? value["user_3"]["wallet"].present? ? value["user_3"]["wallet"] : '' : ''  %>" name="profit_splits[splits][<%= key%>][user_3][wallet]" class="form-control">
              <div id="user_3<%= key %>_error"></div>
            </div>
          </div>
        </div>
          <div class="col-md-12 padding_left_22">
            <div class="col-md-12">
              <div class="col-md-4">
                <div class="row">
                  <div class="col-md-1"></div>
                  <div class="col-md-11 margin_left_7">
                    <div class="col-md-6 form-group padding_left_0">
                      <div class="input-icon icon_inside_input_field">
                        <i>%</i>
                        <input type="number" id="user_1<%=key%>_percent" name="profit_splits[splits][<%= key%>][user_1][percent]" class="form-control user_percent user_1<%=key%>_percent" value="<%= value["user_1"].present? ? value["user_1"]["percent"].present? ? number_with_precision(value["user_1"]["percent"], :precision => 1) : '' : ''  %>" placeholder="0" step="any">
                      </div>
                    </div>
                    <div class="col-md-6 form-group padding_left_0">
                      <div class="input-icon icon_inside_input_field">
                        <i>$</i>
                        <input type="number" id="user_1<%=key%>_dollar" name="profit_splits[splits][<%= key%>][user_1][dollar]" class="form-control user_1<%=key%>_dollar" value="<%= value["user_1"].present? ? value["user_1"]["dollar"].present? ? number_with_precision(value["user_1"]["dollar"], :precision => 2) : "" : ""  %>" step="any" placeholder="0.00">
                      </div>
                    </div>
                    <div id="user_1<%=key%>_percent_error" class="percent_error"></div>
                  </div>
                </div>
              </div>
              <div class="form-group col-md-2">
                <div class="input-icon icon_inside_input_field">
                  <i>%</i>
                  <input type="number" id="user_2<%=key%>_percent" name="profit_splits[splits][<%= key%>][user_2][percent]" class="form-control user_percent user_2<%=key%>_percent" value="<%= value["user_2"].present? ? value["user_2"]["percent"].present? ? number_with_precision(value["user_2"]["percent"], :precision => 1) : "" : ""  %>" placeholder="0" step="any">
                </div>
                <div id="user_2<%= key %>_percent_error" class="percent_error"></div>
              </div>
              <div class="form-group col-md-2">
                <div class="input-icon icon_inside_input_field">
                  <i>$</i>
                  <input type="number" id="user_2<%=key%>_dollar" name="profit_splits[splits][<%= key%>][user_2][dollar]" class="form-control user_2<%=key%>_dollar" value="<%= value["user_2"].present? ? value["user_2"]["dollar"].present? ? number_with_precision(value["user_2"]["dollar"], :precision => 2) : "" : ""  %>" step="any" placeholder="0.00">
                </div>
              </div>
              <div class="form-group col-md-2">
                <div class="input-icon icon_inside_input_field">
                  <i>%</i>
                  <input type="number" id="user_3<%=key %>_percent" name="profit_splits[splits][<%= key%>][user_3][percent]" class="form-control user_percent user_3<%=key%>_percent" value="<%= value["user_3"].present? ? value["user_3"]["percent"].present? ? number_with_precision(value["user_3"]["percent"], :precision => 1) : "" : ""  %>" placeholder="0" step="any">
                </div>
                <div id="user_3<%= key %>_percent_error" class="percent_error"></div>
              </div>
              <div class="form-group col-md-2">
                <div class="input-icon icon_inside_input_field">
                  <i>$</i>
                  <input type="number" id="user_3<%=key%>_dollar" name="profit_splits[splits][<%= key%>][user_3][dollar]" class="form-control user_3<%=key%>_dollar" value="<%= value["user_3"].present? ? value["user_3"]["dollar"].present? ? number_with_precision(value["user_3"]["dollar"], :precision => 2) : "" : ""  %>" placeholder="0.00" step="any">
                </div>
              </div>
            </div>
          </div>

        </div>

<% end %>
<% end %>
<% end %>
<% end %>
<% end %>