
<div class="modal fade" id="profile_location" tabindex="-1" role="dialog" aria-labelledby="modal-label-69" aria-hidden="true">
  <div class="modal-dialog modal-sm ">
    <div class="modal-content mdl_margin">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <% header = @user.id.present? ? 'Edit Employee' : 'Add New Employee' %>
        <h6 id="modal-label-69"><%= header %></h6>
      </div>
      <%= simple_form_for @user, url: admins_merchants_post_employee_path , html:{ class: "add_new_employee_form", data:{toggle: "validator" }, method: :post}  do |f| %>
          <div class="row">
            <div class="col-md-12">
                <div class="modal-body">
                  <% if @user.id.present? %>
                    <input type="hidden" name="user_id" value="<%= @user.id %>">
                  <% end %>
                  <div class="form-group">
                    <%=f.input :name , required: true, class: 'form-control', :label => 'First Name'  %>
                  </div>
                  <%= f.input :merchant_id, :as => :hidden, :input_html => { :value => "#{@merchant.id}" } %>
                  <div class="form-group">
                    <%=f.input :last_name , required: true, class: 'form-control', :label => 'Last Name' , :place_holder => 'last_name' %>
                  </div>
                  <div class="form-group">
                    <%= f.label :email, id:'email_label_field' %><br />
                    <%=f.input :email , required: true, class: 'form-control', :label => false  %>
                    <span id="errorTxt"></span>
                  </div>
                  <div class="form-group">
                    <%=	f.input :password,id:'password',  class: 'form-control', :label =>  'Password' ,required: @user.id.blank? ? true : false%>
                  </div>
                  <div class="strength display-break">
                    <div class="figure" id="strength_human"></div>
                  </div>
                  <div class="form-group">
                    <%= f.input :password_confirmation, id:'conf_password', class: 'form-control', :label => 'Confirm Password',required: @user.id.blank? ? true : false %>
                  </div>
                  <p id="confiurm_error" class="color_darkred" ></p>
                  <div class="form-group">
                    <%=f.input :phone_number , required:true, class: 'form-control', :label => 'Phone Number'  %>
                    <span id="errorTxt1" class="color_darkred"></span>
                  </div>
                  <div class="text-md-left font-weight-bold underlined">Location Access</div>
                  <% if @user.id.blank? %>
                    <div class="row">
                          <div class="col-md-6">
                            <div class="form-group">
                              <input name="user[location_id]" type="checkbox" id="wallet_<%=@location.id%>" value="<%=@location.id%>" class="locations12" checked>
                              <label for="wallet_<%=@location.id%>"><%= @location.business_name %></label>
                            </div>
                          </div>
                    </div>
                    <div class="form-group">
                      <div class="text-md-left font-weight-bold underlined">User Permissions</div>
                      <input type="radio" name="user[submerchant_type]" value="admin_user" id="admin_user_check"/>
                      <label for="submerchant_type">Admin</label>&nbsp;<span  class="fa fa-info-circle" data-toggle="tooltip" data-html="true" title="User will have full access to any feature in the E-wallet"></span>&nbsp;&nbsp;
                      <input type="radio" name="user[submerchant_type]" value="regular_user" id="regular_user_check"/>
                      <label for="submerchant_type">Regular User</label>&nbsp;<span  class="fa fa-info-circle" data-toggle="tooltip" data-html="true" title="User will have access to create new sales only"></span>
                  </div>
                  <% else %>
                    <div class="row">
                          <div class="col-md-6">
                            <div class="form-group">
                              <% if @location.wallets.primary.first.try(:id) %>
                                  <input name="user[location_id]" type="checkbox" id="wallet_<%=@location.try(:id)%>" class="locations12" value="<%=@location.try(:id)%>" checked>
                                  <label for="wallet_<%=@location.id%>"><%= @location.business_name %></label>
                              <% end  %>
                            </div>
                          </div>
                    </div>
                    <div class="form-group">
                        <div class="text-md-left font-weight-bold underlined">User Permissions</div>
                        <% if @user.try(:permission).admin? %>
                            <input type="radio" name="user[submerchant_type]" id="admin_user_check" value="admin_user" checked/>
                        <% else %>
                            <input type="radio" name="user[submerchant_type]" value="admin_user" id="admin_user_check"/>
                        <% end %>
                        <label for="submerchant_type">Admin</label>&nbsp;<span  class="fa fa-info-circle" data-toggle="tooltip" data-html="true" title="User will have full access to any feature in the E-wallet"></span>&nbsp;&nbsp;
                        <% if @user.try(:permission).regular? %>
                            <input type="radio" name="user[submerchant_type]" id="regular_user_check" value="regular_user" checked/>
                        <% else %>
                            <input type="radio" name="user[submerchant_type]" id="regular_user_check" value="regular_user"/>
                        <% end %>
                        <label for="submerchant_type">Regular User</label>&nbsp;<span  class="fa fa-info-circle" data-toggle="tooltip" data-html="true" title="User will have access to create new sales only"></span>
                      </div>
                  <% end %>
                </div>
                <div class="modal-footer color_whitesmoke" >
                  <button type="button" class="btn btn-secondary btn-sm pull-left" data-dismiss="modal">Cancel</button>
                  <%= f.submit "Save", class:"btn btn-primary btn-sm pull-right w_100px", id: 'add_user' %>
                </div>
            </div>
          </div>
      <% end %>
    </div>
  </div>
</div>

<script>
  <% if @user.id.present? %>
  console.log('asdsad');
//  $('#conf_password').removeAttr('required');
//  $('#password').removeAttr('required');
  <% end %>
    $(".add_new_employee_form").validate({
        rules: {
            "user[name]": {
                required: true,
                minlength: 3
            },
            "user[last_name]": {
                required: true,
                minlength: 3
            },
            "user[email]": {
                required: true,
                email: true
            },
            "user[password]": {
                //required: true,
                maxlength: 20,
                minlength: 6
            },
            "user[password_confirmation]": {
                //required: true,
                equalTo: "#user_password"
            },
            "user[phone_number]": {
                required: true,
                number: true,
                minlength: 6
            },
        },
        messages: {
            "user[name]":{
                required: "First Name is required.",
                minlength: "Name must have 3 characters"
            },
            "user[last_name]":{
                required: "First Name is required.",
                minlength: "Name must have 3 characters"
            },
            "user[email]":{
                required: "Email is required",
                email: "Please enter a valid email address"
            },
            password: {
                required: "Password is required",
                minlength: "Password 6 characters long"
            },
            password_confirmation: {
                required: "Password confirmation is required",
                equalTo: "Password not Matched"
            },
            "user[phone_number]": {
                required: "Phone Number is required",
                number: "Valid Number",
                minlength: "Phone Number must have 6 digits"
            }
        },
        submitHandler: function(form) { // for demo
            $('.spnr').fadeIn();
            return true;
        }
    });

    $('#user_email').on('blur', function () {
        var email= $('#user_email').val();
        $.ajax({
            url: '<%= verify_user_merchant_base_index_path %>',
            method: 'get',
            dataType: 'json',
            data: {email: email },
            success: function (result) {
                $('#errorTxt').html('').html('<span class="text-danger">A user with this email already exists</span>')
                $('#user_email').addClass('is-invalid');
//               $('#add_user').prop('disabled','disabled');
            },
            error: function (result) {
                $('#user_email').removeClass('is-invalid').addClass('is-valid');
                $('#errorTxt').html('').html('<span class="text-success">Good</span>');
//               if($('#errorTxt1').text() !='Good'){
//
//                   $('#add_user').prop('disabled','disabled');
//               }else{
//                   $('#add_user').prop('disabled','');
//               }
//               $('#add_user').removeAttr('disabled');

            }
        })
    });

    $('#user_phone_number').on('blur', function () {
        var phone_number= $('#user_phone_number').val();
        $.ajax({
            url: '<%= verify_user_merchant_base_index_path %>',
            method: 'get',
            dataType: 'json',
            data: {user_phone: phone_number},
            success: function (result) {
                $('#user_phone_number').addClass('is-invalid');
//                    $('#add_user').prop('disabled','disabled');
                $('#errorTxt1').html('').html('<span class="text-danger">A user with this phone number already exists</span>')
            },
            error: function (result) {
                $('#user_phone_number').removeClass('is-invalid').addClass('is-valid');
                $('#errorTxt1').html('').html('<span class="text-success">Good</span>');
//                if($('#errorTxt').text() !='Good'){
//                    $('#add_user').prop('disabled','disabled');
//                }else{
//
//                    $('#add_user').prop('disabled','');
//                }
//                $('#add_user').removeAttr('disabled');
            }
        })
    });


    $("#user_password").focusin(function () {
        $('.strength').css('display', "block");
    });
    $("#user_password").focusout(function () {
        if ($('#length').prop("checked") == true && $('#one_number').prop("checked") == true && $('#upper_case').prop("checked") == true && $('#lower_case').prop("checked") == true){
            $('.strength').css('display', "none");
        }
    });
    $('#user_password ,#user_password_confirmation').on('keyup', function () {
        if ($('#user_password').val() == $('#user_password_confirmation').val() && $('#user_password').val() != "" && $('#user_password_confirmation').val() != "" && $('#length').prop("checked") == true && $('#one_number').prop("checked") == true && $('#upper_case').prop("checked") == true && $('#lower_case').prop("checked") == true) {
            $('#confirm_password_label_field').replaceWith("<label id='confirm_password_label_field' class='string optional'>Confirm Password</label>");
            if($('#email_label_field').text() == "Email") {
                $(':input[type="submit"]').prop('disabled', false);
            }
        } else {
            if ($("#user_password_confirmation").val() != ""){
                $('#confirm_password_label_field').replaceWith("<label id='confirm_password_label_field' class='string optional'>Confirm Password<span style='color:red;'> Passwords do not match. Try again.</span></label>");
            }
            $(':input[type="submit"]').prop('disabled', true);
        }
        if ($('#user_password').val() == "" && $('#user_password_confirmation').val() == ""){
            $('#message').html('');
            if($('#email_label_field').text() == "Email") {
                $(':input[type="submit"]').prop('disabled', false);
            }
        }
    });
    $("#user_password").on("keyup", function() {
        var password = $(this).val();
        $("#strength_human").html('').append('<li class="list-group-item"><input style="margin-right: 10px;" id="length" disabled="true" type="checkbox">8-20 characters long</li><li class="list-group-item"><input style="margin-right: 10px;" id="one_number"  disabled="true"  type="checkbox">one number</li><li class="list-group-item"><input style="margin-right: 10px;" id="upper_case" disabled="true" type="checkbox">one uppercase letter (A-Z)</li><li class="list-group-item"><input style="margin-right: 10px;" id="lower_case" disabled="true"  type="checkbox">one lowercase letter (a-z)</li>')
        if (password.length >= 8 && password.length <=20){
            $('#length').attr('checked',true);
        }else{
            $('#length').attr('checked',false);
        }
        if (/[0-9]/.test(password)){
            $('#one_number').attr('checked',true);
        }
        else{
            $('#one_number').attr('checked',false);
        }
        if (/[A-Z]/.test(password)){
            $('#upper_case').attr('checked',true);
        }
        else{
            $('#upper_case').attr('checked',false);
        }
        if (/[a-z]/.test(password)){
            $('#lower_case').attr('checked',true);
        }
        else{
            $('#lower_case').attr('checked',false);
        }
    });

</script>