<% if @sub_merchant_edit_data.present? %>
  <input type="hidden" id="sub_merchant_counter" value="<%= @sub_merchant_edit_data.length %>">
  <input type="hidden" id="merchant_id" value="<%= @merchant.id %>">
  <% @sub_merchant_edit_data.each_with_index do |ez_data, key| %>
  <div class="row remove_ez_merchant">
    <div class="col-md-12">
          <% if key == 0 %>
            <div class="col-md-1 sub_merchant_add_btn" id="div4">
                <span><a id="add_sub_merchant" class="col-md-12 div5"><i class="fa fa-plus-circle fa-2x"></i></a></span>
            </div>
          <% else %>
            <div class='col-md-1 sub_merchant_remove_btn' id='div4'>
              <span><a id='remove_sub_merchant' class='col-md-12 div5 remove_sub_merchant'><i class='fa fa-minus-circle fa-2x'></i></a></span>
            </div>
          <% end %>
      <div class="col-md-6 ui-front">
        <p class="cursor_default label-text-M">Merchant</p>
        <input type="text" class="form-control ez_merchant_class" data-count="<%=key%>" value="<%= ez_data.present? ? ez_data[:ez_merchant_name] : "" %>" id="ez_merchant_<%=key%>" name="profit_splits[splits][ez_merchant][<%=key%>][ez_merchant_1][name]" autocomplete="off" required="true">
        <input type="hidden" id="ez_merchant_<%=key%>Hidden" value="<%= ez_data.present? ? ez_data[:ez_location_id] : "" %>" name="profit_splits[splits][ez_merchant][<%=key%>][ez_merchant_1][wallet]" class="form-control">
        <div id="ez_merchant_<%=key%>_error" class="ez_merchant_error"></div>
        <p id="ezspanError<%=key%>" class="ezspan_css"></p>
      </div>
      <div class="col-md-5" id="ezLocationDiv<%=key%>">
        <p class="cursor_default label-text-L">Location</p>
        <select id="ezLocationText<%=key%>" data-count="<%=key%>" class="form-control ezLocationText w_97 ez_location_text_class">
          <% if ez_data.present? %>
            <% ez_data[:ez_merchant_locations].each do |ez_location| %>
              <% if ez_data[:ez_location_id] == ez_location.first %>
                <option value="<%= ez_location.first %>"  selected><%= ez_location.second %></option>
              <% else %>
                <% unless @assigned_location_ids.include?(ez_location.first) %>
                  <option value="<%= ez_location.first %>"><%= ez_location.second %></option>
                <% end %>
              <% end %>
            <% end %>
          <% else %>
            <option value="">Select Location</option>
          <% end %>

        </select>
        <div id='ezLocationText<%=key%>_error' class="location-errors"></div>
      </div>
    </div>
  </div>
  <% end %>
<% else %>
  <div class="row remove_ez_merchant">
    <div class="col-md-12">
      <div class="col-md-1 sub_merchant_add_btn" id="div4">
        <span><a id="add_sub_merchant" class="col-md-12 div5"><i class="fa fa-plus-circle fa-2x"></i></a></span>
        <input type="hidden" id="sub_merchant_counter" value="0">
      </div>
      <div class="col-md-6 ui-front">
        <p class="cursor_default label-text-M">Merchant</p>
        <input type="text" class="form-control ez_merchant_class" data-count="0" id="ez_merchant_0" name="profit_splits[splits][ez_merchant][0][ez_merchant_1][name]" autocomplete="off" required="required">
        <input type="hidden" id="ez_merchant_0Hidden" name="profit_splits[splits][ez_merchant][0][ez_merchant_1][wallet]" class="form-control">
        <div id="ez_merchant_0_error" class="ez_merchant_error"></div>
        <p id="ezspanError0" class="ezspan_css"></p>
      </div>
      <div class="col-md-5" id="ezLocationDiv0">
        <p class="cursor_default label-text-L">Location</p>
        <select id="ezLocationText0" data-count="0" class="form-control ezLocationText w_97 ez_location_text_class" required="required">
            <option value="">Select Location</option>
        </select>
        <div id='ezLocationText0_error' class="location-errors"></div>
      </div>
    </div>
  </div>

<% end %>
