
<%= f.fields_for :location, Location.new do |form| %>
<div class="row margin_left_5">
<div class="col-md-12" id="profit_splits_off_section">
  <div class="col-md-1">
    <span class="bullet-label"></span>
  </div>
  <div class="col-md-3 label-name">
    <label class="cursor_default label-text"><span>Select ISO</span></label>
  </div>
  <div class="col-md-4">
    <div class="form-group ui-front">
      <% iso_name = "(ISO-#{@iso.try(:id)}) - #{@iso.try(:company_name).try(:capitalize)}" %>
      <input type="hidden" name="form_data" value="<%= params[:form_data].to_json %>">
      <input type="text" class="form-control for_main_users" value="<%= @iso.nil? ? '' : iso_name %>" id="isos" name="iso" placeholder="Select ISO" required autocomplete="off">
      <input type="hidden" id="isosHidden" value="<%= @iso.nil? ? '' : @iso.id %>" name="user[ids][]" class="form-control">
      <div id="isos_error"></div>
    </div>

  </div>
</div>
  <div class="col-md-12 margin_bottom_2">
    <div class="col-md-1">
      <span class="bullet-label"></span>
    </div>
    <div class="col-md-3 label-name">
      <label class="cursor_default label-text"><span>Select Agent</span></label>
    </div>
    <div class="col-md-4 ">
      <div class="form-group ui-front">
        <%if @agent.try(:company_name).present?  %>
          <% agent_name = "(A-#{@agent.try(:id)}) - #{@agent.try(:company_name).try(:capitalize)}" %>
        <%else %>
          <% agent_name = "(A-#{@agent.try(:id)}) - #{@agent.try(:name).try(:capitalize)}" %>
        <%end %>
        <input type="text" class="form-control" value="<%= @agent.nil? ? '' : agent_name %>" id="agents" name="agent" placeholder="Select Agent" autocomplete="off">
        <input type="hidden" id="agentsHidden" value="<%= @agent.nil? ? '' : @agent.id %>" name="user[ids][]" class="form-control"  placeholder="Select ISO">
        <div id="agents_error"></div>
        <%#= select_tag "user[ids][]", options_for_select(User.agent.collect {|v| [v.name, v.id]}, selected: @agent.nil? ? 0 : @agent.id),{include_blank:'Select Agent', class: 'form-control'} %>
      </div>
    </div>
  </div>
  <div class="col-md-12">
    <div class="col-md-1">
      <span class="bullet-label"></span>
    </div>
    <div class="col-md-3 label-name">
      <label class="cursor_default label-text"><span>Select Affiliate</span></label>
    </div>
    <div class="col-md-4 ">
      <div class="form-group cursor_default ui-front">
        <%if @affiliate.try(:company_name).present? %>
          <% aff_name = "(AF-#{@affiliate.try(:id)}) - #{@affiliate.try(:company_name).try(:capitalize)}" %>
        <% else %>
          <% aff_name = "(AF-#{@affiliate.try(:id)}) - #{@affiliate.try(:name).try(:capitalize)}" %>
        <%end %>
        <input type="text" class="form-control" value="<%= @affiliate.nil? ? '' : aff_name %>" id="affiliates" name="affiliate" placeholder="Select Affiliate" autocomplete="off">
        <input type="hidden" id="affiliatesHidden" value="<%= @affiliate.nil? ? '' : @affiliate.id %>" name="user[ids][]" class="form-control">
        <div id="affiliates_error"></div>
        <%#= select_tag "user[ids][]", options_for_select(User.affiliate.collect {|v| [v.name, v.id]}, selected: @affiliate.nil? ? 0 : @affiliate.id),{include_blank:'Select Affiliate', class: 'form-control'} %>
      </div>

    </div>
  </div>
</div>
  <hr class="profit-split-hr">

  <div class="row">
    <div class="col-md-12 margin_top_3">
      <div class="col-md-1 profit-split-bullet">
        <span class="bullet-label"></span>
      </div>
      <div class="col-md-2 label-name">
        <label class="cursor_default label-text">Baked Profit Split</label>
        <%#= form.label "Baked Profit Split", class: 'cursor_default label-text' %>
      </div>
      <div class="col-md-6">
        <div class="col-md-4">
          <div class="form-group margin_left_15">
            <label class="switch">
              <%= form.check_box :baked_iso, { id: "baked_iso_switch"} %>
              <span class="slider round">
              <div class="pull-left switch_on_css">
                ON
              </div>
              <div class="pull-right switch_off_css">
                OFF
              </div>
            </span>
            </label>
          </div>
        </div>
        <div id="baked_profit_radio_section">
        <div class="col-md-8">
          <div class="col-md-3">
            <label class="radio-label">GBox
              <% if @profit_detail.present? && @profit_detail["share_split"] == "gbox" %>
                <input type="radio" name="profit_splits[share_split]" value="gbox" id="gbox_radio" class="baked_switch_checked" checked >
              <% else %>
                <input type="radio" name="profit_splits[share_split]" value="gbox" id="gbox_radio" class="baked_switch_checked">
              <% end %>
              <span class="checkmark"></span>
            </label>
          </div>
          <div class="col-md-1"></div>
          <div class="col-md-6">
            <label class="radio-label">ISO on File
              <% if @profit_detail.present? && @profit_detail["share_split"] == "iso" %>
                <input type="radio" name="profit_splits[share_split]" value="iso" id="iso_radio" class="baked_switch_checked" checked >
              <% else %>
                <input type="radio" name="profit_splits[share_split]" value="iso" id="iso_radio" class="baked_switch_checked">
              <% end %>
              <span class="checkmark"></span>
            </label>
          </div>
        </div>
      </div>
      </div>
    </div>

  </div>

  <div id="baked_section">
    <% if  @location.present? && @location.try(:baked_iso) == true %>
        <% if @location.profit_split_detail.present? %>
            <%=	 render partial: 'admins/merchants/edit_super_user_iso_and_agent' %>
        <% else %>
            <%=	 render partial: 'admins/merchants/add_super_user_iso_and_agent' %>
        <% end %>
    <% else  %>
       <%= render partial: 'admins/merchants/add_super_user_iso_and_agent' %>
    <% end %>
  </div>

  <hr class="profit-split-hr">
  <div class="row">
    <div class="col-md-12 margin_top_3">
      <div class="col-md-1 profit-split-bullet">
        <span class="bullet-label"></span>
      </div>
      <div class="col-md-2 label-name">
        <label class="cursor_default label-text">Profit Split </label>
      </div>
      <div class="col-md-6">
        <div class="col-md-4">
          <div class="form-group margin_left_15">
            <label class="switch">
              <%= form.check_box :profit_split, { id: "profit_split_switch"} %>
              <span class="slider round">
              <div class="pull-left switch_on_css" >
                ON
              </div>
              <div class="pull-right switch_off_css">
                OFF
              </div>
            </span>
            </label>
          </div>
        </div>
        <div id="profit_splits_radio_section">
        <div class="col-md-8">
          <div class="col-md-3">
            <label class="radio-label">GBox
              <input type="radio" name="profit_splits[splits][super_company][from]" value="gbox" id="gbox_company_radio" class="profit_split_gbox_checked"  >
              <span class="checkmark"></span>
            </label>
          </div>
          <div class="col-md-1"></div>
          <div class="col-md-4">
            <label class="radio-label">ISO on File
              <input type="radio" name="profit_splits[splits][super_company][from]" value="iso" id="iso_company_radio" class="profit_split_gbox_checked"  >
              <span class="checkmark"></span>
            </label>
          </div>
        </div>
        </div>
      </div>

    </div>
    <div class="col-md-6"></div>
  </div>

  <div class="row profit_split_css"  id="profit_splits_on_section">
    <div class="col-md-12 col_profit_split_css" >
      <!---------------Select Company Box----------->
      <div class="form-group col-md-3 ui-front">
        <input type="text" class="form-control" value="" id="companyInput" autocomplete="off" placeholder="Select Company" required="true">
        <input type="hidden" id="companyInputHidden" value="" name="profit_splits[splits][super_company][wallet]" class="form-control" required="true">
        <div id="companyInput_error"></div>
      </div>
      <div class="form-group col-md-2">
        <div class="input-icon icon_inside_input_field">
          <i>%</i>
          <input type="text" name="profit_splits[splits][super_company][percent]" id="super_company_percent" class="form-control percentage_validation" placeholder="0.0" value="" required="true" step="any">
          <div id="super_company_percent_error" class="percent_error"></div>
        </div>
      </div>
      <div class="form-group col-md-3">
        <div id="locationDiv vis_hidden">
<!--          <label class="no-padding cursor_default"><span>Select Location</span></label>-->
          <select id="locationText" class="form-control locationText"></select>
        </div>
        <div id='locationText_error'></div>
      </div>

  </div>
</div>
  <hr class="profit-split-hr">
  <%=	render partial: 'net_profit_split', :locals => {:f => form} %>
  <hr class="profit-split-hr">
<!--  <div class="row">-->
<!--    <div class="col-md-12 margin_top_3">-->
<!--      <div class="col-md-1 profit-split-bullet">-->
<!--        <span class="bullet-label"></span>-->
<!--      </div>-->
<!--      <div class="col-md-2 label-name">-->
<!--        <label class="cursor_default label-text">Assigned Location</label>-->
<!--        <div class="col-md-2 tooltip">-->
<!--          <i class='fa fa-info-circle' aria-hidden='true' id="tool_tip"></i>-->
<!--          <span class="tooltiptext assigned_location_name">Enabling this button will have functionality for Location to View, Refund, Transactions, and Exports of another Location!</span>-->
<!--        </div>-->
<!--      </div>-->
<!--      <div class="col-md-6">-->
<!--        <div class="col-md-4">-->
<!--          <div class="form-group margin_left_15">-->
<!--            <label class="switch">-->
              <%#= form.check_box :sub_merchant_split, { id: "sub_merchant_split_switch"} %>
<!--              <span class="slider round">-->
<!--              <div class="pull-left switch_on_css">-->
<!--                ON-->
<!--              </div>-->
<!--              <div class="pull-right switch_off_css">-->
<!--                OFF-->
<!--              </div>-->
<!--            </span>-->
<!--            </label>-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->

<!--    </div>-->
<!--    <div class="col-md-6"></div>-->
<!--  </div>-->
<!--  <div id="ez_section">-->
    <%# if @location.present? && @location.sub_merchant_split == true %>
      <%# if @location.profit_split_detail.present? %>
        <%#=	 render partial: 'admins/merchants/edit_ez_merchant' %>
      <%# else %>
        <%#=	 render partial: 'admins/merchants/ez_merchant' %>
      <%# end %>
    <%# else  %>
      <%#= render partial: 'admins/merchants/ez_merchant' %>
    <%# end %>
<!--  </div>-->
<% end %>
