    <div class="">
        <div class="col-xs-12">
          <!--<div class="col-md-12 ">-->
          <%	 if selected.nil? %>
              <div class="form-group"><%= f.label :company %><br />
                <%= f.select :company_id, options_for_select(Company.all.collect {|v| [v.name,v.id]}),{} , {autofocus: false, id:"username", class:"form-control" }%>
              </div>
          <% else %>
              <div class="form-group"><%= f.label :company %>
              <%= f.select :company_id, options_for_select(Company.all.collect {|v| [v.name,v.id]},selected: selected),{} , {autofocus: false, id:"username", class:"form-control" }%>
              <!--<input type="hidden"  name="user[company_id]" value="<=selected%>">-->
              </div>
          <% end %>

          <div class="form-group">
            <%= f.label :name, "Legal Name" %><br />
            <%= f.text_field :name , id:"name", class:"form-control"%>
          </div>
          <div class="form-group">
            <%= f.label :owner_name, "Owner's Name" %><br />
            <%= f.text_field :owner_name , id:"owner_name", class:"form-control"%>
          </div>

          <div class="form-group">
            <%= f.label :email, "Pers. Email", id: "email_label_field" %><br />
            <%= f.email_field :email, id:"email_field", class:"form-control", required: true, email: true,:onChange=>"validate_company_edit_email();" %>
          </div>

          <div class="form-group">
            <%= f.label :phone_number, "Phone Number", id: "phone_number_label_field" %><br />
            <%= f.number_field :phone_number, class:"form-control", required: true, id: "phone_number_field",:onChange=>"validate_phone_edit_number();" %>
          </div>

<!--          <div class="form-group"><%#= f.label :risk, "Risk" %><br />-->
            <%#= f.select :risk, options_for_select(User.risks.map { |key, value| [key.humanize, value] }, selected: User.risks[:high]),{include_blank: "Select Risk"} , {autofocus: false, id:"username", class:"form-control", required: true }%>
<!--          </div>-->

<!--          <div class="form-group"><%#= f.label :payment_gateway, "Bank Name" %><br />-->
            <%#= f.select :payment_gateway, options_for_select(User.payment_gateways.map { |key, value| [key == "stripe" ? "Stripe GBox":key.humanize, value] }),{include_blank: "Select Bank"} , {autofocus: false, id:"username", class:"form-control" }%>
<!--          </div>-->
<!--          <div class="form-group"><%#= f.label :secondary_payment_gateway, "Secondary Bank Name" %><br />-->
            <%#= f.select :secondary_payment_gateway, options_for_select(User.secondary_payment_gateways.map { |key, value| [key == "stripe" ? "Stripe GBox":key.humanize, value] }),{include_blank: "Select Secondary Bank"} , {autofocus: false, id:"username", class:"form-control" }%>
<!--          </div>-->
<!--          <div class="form-group"><%#= f.label :third_payment_gateway, "Third Bank Name" %><br />-->
            <%#= f.select :third_payment_gateway, options_for_select(User.third_payment_gateways.map { |key, value| [key == "stripe" ? "Stripe GBox":key.humanize, value] }),{include_blank: "Select Third Bank"} , {autofocus: false, id:"username", class:"form-control" }%>
<!--          </div>-->
        </div>
        <div class="col-xs-12">
          <div class="">
            <%= f.fields_for :profile , Profile.new do |f| %>
                <div class="form-group">
                  <%= f.label :business_type %><br />
                  <%= f.select :business_type , options_for_select(Profile.business_types.map {|k, v| [k.humanize.capitalize, v]}),{}, {id:"username" ,class:"form-control"}%>
                </div>
                <div class="form-group">
                  <%= f.label :ein, "SSN#" %><br />
                  <%= f.text_field :ein, id:"user qwname" ,class:"form-control" %>
                </div>

                <div class="form-group">
                  <%= f.label :tax_id, "Tax ID" %><br />
                  <%= f.text_field :tax_id, id:"tax_id" ,class:"form-control" %>
                </div>

                <div class="form-group">
                  <%= f.label :years_in_business, "Years in Business" %><br />
                  <%= f.text_field :years_in_business, id:"years_in_business" ,class:"form-control" %>
                </div>

                <div class="form-group">
                  <%= f.label :business_location, "Owner's Address" %><br />
                  <%= f.text_field :business_location, id:"user qwname" ,class:"form-control"%>
                </div>

                <div class="form-group">
                  <%= f.label :city %><br />
                  <%= f.text_field :city, id:"user qwname" ,class:"form-control"%>
                </div>

                <div class="form-group">
                  <%= f.label :state %><br />
                  <%= f.text_field :state, id:"user qwname" ,class:"form-control"%>
                </div>

                <div class="form-group">
                  <%= f.label :zip_code %><br />
                  <%= f.text_field :zip_code, id:"user qwname" ,class:"form-control"%>
                </div>

            <% end %>
          </div>
        </div>
      <div class="form-group">
        <%= f.label :issue_fee%>
        <%= f.check_box :issue_fee, :checked => false %>
      </div>
      <%= f.submit "Save Merchant", class:"btn btn-success " ,id: "submit_edit_button" %>
    </div>

    <script>
        var validate_company_edit_email = function() {
            $.ajax({
                url: "/admins/companies/form_validate?email_address="+($('#email_field').val()),
                type: 'GET',
                data: {user_id:$('#company_hidden_field').val() },
                success: function(data) {
                    $('#email_field').css('border','')
                    $('#email_label_field').replaceWith('<label id="email_label_field" class="string optional" for="Email">Pers. Email</label>');
                    if($("#phone_number_label_field").text() == "Phone Number"){
                        $('#submit_edit_button').removeAttr('disabled');
                    }
                    if($('#email_field')){
                        if(data['value'] == true){
                            $('#email_label_field').replaceWith("<label id='email_label_field' class='string optional' for='Email'>Pers. Email<span style='color:red;'> This email has already been registered. Try again.</span></label>");
                            $('#email_field').css('border','1px solid red');
                            $('#submit_edit_button').attr('disabled', true);
                        }
                    }
                },
                error: function(data){
                    console.log(data);
                }
            });
        }

        var validate_phone_edit_number = function() {
            $.ajax({
                url: "/admins/companies/form_validate?phone_number="+($('#phone_number_field').val()),
                type: 'GET',
                data: {user_id:$('#company_hidden_field').val() },
                success: function(data) {
                    $('#phone_number_field').css('border','');
                    $('#phone_number_label_field').replaceWith("<label id='phone_number_label_field' class='string optional' for='company_Phone number'>Phone Number</label>");
                    if($("#email_label_field").text() == "Pers. Email"){
                        $('#submit_edit_button').prop('disabled', false);
                    }
                    if($('#phone_number_field')){
                        if(data['value'] == true){
                            $('#phone_number_label_field').replaceWith("<label id='phone_number_label_field' class='string optional' for='company_Phone number'>Phone Number<span style='color:red'> This phone number has already been registered. Try again.</span></label>");
                            $('#phone_number_field').css('border','1px solid red');
                            $('#submit_edit_button').prop('disabled', true);
                        }
                    }
                },
                error: function(data){
                    console.log(data);
                }
            });
        }

    </script>

