
<div class="title-block">
  <% if params[:status] === "l1" %>
    <h1 class="title text-capitalize title_h1">New Location</h1>
  <% elsif params[:status] === "c1" %>
    <h1 class="title text-capitalize title_h1" >Edit Merchant</h1>
  <% else %>
    <h1 class="title text-capitalize title_h1">New Merchant</h1>
  <% end %>
</div>
    <div class="container">
      <div class="row">
        <div class="card bg_white">
          <div class="card-body padding_top_40">
            <%= link_to "x", merchants_path, class: 'btn btn-sm c_btn'  %>

            <% if params[:status] === "l1" %>
                <% if params[:loc].present? && params[:loc] == "duplicate" %>
                    <div class="col-md-2 pull-right">
                      <span class="btn btn-success pull-right duplicate-location dup_point_event">Duplicate Form</span>
                    </div>
                    <h1 align="center" class="padding_bott_40 margin_left_10">Duplicate Location</h1>
                <% elsif step === :location %>z
                    <div class="col-md-2 pull-right">
                      <span class="btn btn-success pull-right duplicate-location">Duplicate</span>
                    </div>
                    <h1 align="center" class="padding_bott_40">Add New Location</h1>
                <% else %>
                  <h1 align="center"class="padding_bott_40">Add New Location</h1>
                <% end %>
            <% elsif params[:status] === "c1" %>
              <h1 align="center" class="padding_bott_40">Edit Merchant</h1>
            <% else %>
              <h1 align="center" class="padding_bott_40">Create New Merchant</h1>
            <% end %>
            <div class="col-md-12 custom-stepwizard">
              <% i = 1 %>
              <div class="row" id="step_names">
              <% wizard_steps.each do |s| %>
                <% if step == s %>
                    <div class="col-md-1 step-body padding_right_12">
                      <a href="<%=wizard_path(s, {status:params[:status] != "new1" ? params[:status] : 'new', number: "true",  merchant_data_id: params[:merchant_data_id]})%>" type="button" id="current-active-step" data-value="<%= i %>" class="btn btn-primary step-btns step<%= i %>"><%= i %>
                        <% if s != wizard_steps.last %>
                          <hr>
                        <% end %>
                      </a>
                      <p id="step_text"><%= s == :fee ? "Fees":  s == :iso_agent ? "ISO&Agent" : s == :setting ? "Settings" : s== :bank_account ? "Bank Account" : s.capitalize %></p>
                    </div>
                <% else %>
                    <div class=" col-md-1 step-body padding_right_12">
                      <a href="<%=wizard_path(s, {status:params[:status] != "new1" ? params[:status] : 'new', number: "true", merchant_data_id: params[:merchant_data_id]})%>" type="button" id="current-step<%= i %>" data-value="<%= i %>" class="btn btn-primary step-btns step<%= i %>" disabled="disabled"><%= i %>
                        <% if s != wizard_steps.last %>
                          <hr>
                        <% end %>
                      </a>
                      <p id="step_text"><%= s == :fee ? "Fees": s == :iso_agent ? "ISO&Agent" : s == :setting ? "Settings" : s== :bank_account ? "Bank Account" : s.capitalize  %></p>
                    </div>
                <% end %>
                <div>
                </div>
                <% i = i + 1 %>
              <% end %>

              </div>
            </div>
            <div class="errors">
              <% if @merchant.present? %>
                <% if @merchant.try(:errors).present? %>
                  <% if @merchant.errors.any? %>
                    <ul>
                      <% @merchant.errors.full_messages.each do |msg| %>
                        <li class="text-danger"><%= msg %></li>
                      <% end %>
                    </ul>
                  <% end %>
                <% end %>
              <% end %>
            </div>
            <div>
            <%= simple_form_for User.new, url: wizard_path(step , status: params[:status]), :html => {:multipart => :true, autocomplete: "new-user" }, method: :put, class:'form-group', id: 'wizard-form' do |f| %>
              <input type="hidden" name="merchant_id" value="<%= params[:merchant_id] %>">
              <input type="hidden" name="merchant_data_id" value="<%= params[:merchant_data_id] %>">
              <input type="hidden" name="location_id" value="<%= params[:location_id] %>">
              <input type="hidden" name="old_location_id" value="<%= params[:old_location_id] %>">
              <input type="hidden" name="loc" value="<%= params[:loc] %>">
              <input type="hidden" name="duplicate" value="<%= params[:duplicate] %>">
                <div class="col-md-offset-1 form-content">
                <%= yield f %>
              </div>
              <div class="action-btns">
                  <% if step == :corporate %>
                    <%= link_to "Cancel", merchants_path, class:"btn btn-primary wizard-btn cancel-btn" %>
                  <% else %>
                  <%= link_to "Back", previous_wizard_path(status:params[:status] != "new1" ? params[:status] : 'new', number: "true",  merchant_data_id: params[:merchant_data_id]), class:"btn btn-primary wizard-btn cancel-btn" %>
                  <% end %>
                  <% if step == :owners && params[:status] == "c1"  %>
                  <%= f.submit "Save", id:'btnSave2', class:"btn btn-success wizard-btn wizard-submit-btn save-btn"%>
                <% elsif step == :documentation %>
                  <%= f.submit "Save", id:'btnSave1', class:"btn btn-success wizard-btn wizard-submit-btn save-btn show-cover-spin"%>
                <% else %>
                  <%#= link_to "Contineu", next_wizard_path, class:"btn btn-success wizard-btn wizard-submit-btn save-btn" %>

                  <%= f.submit  "Continue", id:'btnSave', class:"btn btn-success wizard-btn wizard-submit-btn btnSaves btnSave1 save-btn error_check_usser"%>
              <% end %>
              </div>

            <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
<div class="modal fade" id="duplicateLocationModal">
  <div class="modal-dialog w_600">
    <div class="modal-content w_600">
      <!-- Modal Header -->
      <div class="modal-header text-left text-white cross_color">
        <h4 class="modal-title col-md-11 duplicate_location_h4">
          <span class="ml-2" id="location_heading">Duplicate Location</span></h4>
        <button type="button" class="close col-md-1" data-dismiss="modal" id="export_close1">×</button>
      </div>
      <!-- Modal body -->
      <div class="modal-body body_css">
        <div class="card color_whitesmoke">
          <div class="col-md-12 m_top_5">
            <div class="col-md-offset-3 col-md-6">
              <span class="copy_location_css">Select Location to copy:</span>
            </div>
          </div>
          <div class="form-group col-md-12 margin_top_2per">
            <div class="col-md-offset-3 col-md-5">
              <%= select_tag "location_id", options_for_select(@locations.present? ? @locations.map{|location|[location.business_name, location.id]} : ''), include_blank: "Choose Location", class: "form-control form-control" %>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer color_whitesmoke" id="duplicateLocationModalFooter">
        <div class="col-md-offset-3 col-md-3">
          <%= link_to '<button class="btn btn-success" id="duplicate_btn">Duplicate</button>'.html_safe, next_wizard_path(:id => :location, :status => "l1", :loc => 'duplicate', :merchant_id => @merchant_id.present? ? @merchant_id : ''), data:{confirm: "Are you sure you want to duplicate?"}, class:'duplicate-submit-btn' %>
        </div>
      </div>
    </div>
  </div>
</div>

