<% count = 1 %>
<% @owners.each do |owner| %>
  <div class="col-md-12 more_owner" id="owner_<%=owner.id %>">
    <p style="font-weight: bold">Owner <%=count %> </p>
    <a href="#" class="remove_owner_function more_owner_remove">Remove</a>
    <input type="hidden" class="remove_owner_id" value="<%= owner.id %>">
    <input type="hidden" class="remove_merchant_id" value="<%= @merchant.id %>">
    <div>
      <label class="more_owner_size">Owner's Name: </label> <%= owner.name %>
    </div>
    <div>
      <label class="more_owner_size">Ownership %: </label> <%= owner.ownership %>
    </div>
    <div>
      <label class="more_owner_size">SSN #: </label> <%= owner.ssn %>
    </div>
    <div>
      <label class="more_owner_size">Phone: </label> <%= owner.phone_number %>
    </div>
    <!--        <div>-->
    <!--          <label>Email: </label><%#= owner.name %>-->
    <!--        </div>-->
    <div>
      <label class="more_owner_size">Address: </label> <%= owner.address %>
    </div>
  </div>
  <% count = count + 1 %>
<% end %>
