
<div class="row">
  <div class="col-md-12 margin_top_3">
    <div class="col-md-1 profit-split-bullet">
      <span class="bullet-label"></span>
    </div>
    <div class="col-md-2 label-name">
      <label class="cursor_default label-text">Net Profit Split</label>
    </div>
    <div class="col-md-6">
      <div class="col-md-5 md5_col_width" >
        <div class="form-group margin_left_15">
          <label class="switch">
<!--            <input type="checkbox" name="net_profit_split" id="net_profit_split_switch">-->
            <%= f.check_box :net_profit_split, {id: "net_profit_split_switch"} %>
            <span class="slider round">
            <div class="pull-left switch_on_css">
              ON
            </div>
            <div class="pull-right switch_off_css">
              OFF
            </div>
          </span>
          </label>
        </div>
      </div>
      <div id="net_profit_split_gbox">
      <div class="col-md-6">
        <div class="col-md-4">
          <label class="radio-label">GBox
            <input type="radio" class="net_gbox" name="profit_splits[splits][net][super_company][from]" value="gbox" id="net_gbox_company_radio" disabled >
            <span class="checkmark"></span>
          </label>
        </div>
      </div>
      </div>
    </div>
    <div class="col-md-4"></div>
  </div>
</div>
<div class="row padding_10" id="net_profit_splits_on_section">
  <div class="col-md-12 md12_css">
    <div class="form-group col-md-3 ui-front">
<!--      <label class="no-padding cursor_default"><span>Select Company</span></label>-->
      <input type="text" class="form-control" value="" id="netCompanyInput" autocomplete="off" placeholder="Select Company" name="profit_splits[splits][net][super_company][name]" required="true">
      <input type="hidden" id="netCompanyInputHidden" value="" name="profit_splits[splits][net][super_company][wallet]" class="form-control" required="true">
      <div id="netCompanyInput_error"></div>
      <p id="spanError" class="ezspan_css"></p>
    </div>
    <div class="col-md-2 padding_left_3">
      <div class="input-icon icon_inside_input_field">
        <i>%</i>
        <input type="text" name="profit_splits[splits][net][super_company][percent]" id="net_super_company_percent" class="form-control percentage_validation" placeholder="0.0"  step="any" required="true">
      </div>
      <div id="net_super_company_percent_error" class="percent_error"></div>
    </div>
    <div class="form-group col-md-3">
      <div id="netLocationDiv" class="visiblity_hidd">
<!--        <label class="no-padding cursor_default"><span>Select Location</span></label>-->
        <select id="netLocationText" class="form-control netLocationText select_net"></select>
      </div>
      <div id='netLocationText_error'></div>
    </div>
  </div>
  <!---------------Dynamic Fields----------------->
</div>