<!-- Modal -->
  <div class="modal fade editModal" role="dialog">
    <div class="modal-dialog form-group">
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">New Merchant</h4>
        </div>
        <%  selected = nil %>
        <%= simple_form_for User.merchant.new , url: merchants_path, html: {id: 'merchantform', onsubmit:"disableButton('merchantform','submit_edit_button')"}, method: :post  do |f| %>
          <div class="row">
                    <div class="col-md-12">
                      <div class="card-header bordered">
                        <div class="header-block">
                          <div class="col-xs-12">
                            <!--<div class="col-md-12 ">-->
                            <%	 if selected.nil? %>
                              <div class="form-group"><%= f.label :company %><br />
                                <%= f.select :company_id, options_for_select(Company.all.collect {|v| [v.name,v.id]}),{} , {autofocus: false, id:"username", class:"form-control" }%>
                              </div>
                            <% else %>
                              <div class="form-group"><%= f.label :company %>
                                <%= f.select :company_id, options_for_select(Company.all.collect {|v| [v.name,v.id]},selected: selected),{} , {autofocus: false, id:"username", class:"form-control" }%>
                                <!--<input type="hidden"  name="user[company_id]" value="<=selected%>">-->
                              </div>
                            <% end %>

                            <div class="form-group">
                              <%= f.label :name, "Legal Name" %><br />
                              <%= f.text_field :name , class:"form-control"%>
                            </div>
                            <div class="form-group">
                              <%= f.label :owner_name, "Owner's Name" %><br />
                              <%= f.text_field :owner_name, class:"form-control"%>
                            </div>

                            <div class="form-group">
                              <%= f.label :email, "Pers. Email", id: "email_label_field" %><br />
                              <%= f.email_field :email, id:"email_field", class:"form-control", required: true, email: true %>
                            </div>

                            <div class="form-group">
                              <%= f.label :phone_number, "Phone Number", id: "phone_number_label_field" %><br />
                              <%= f.number_field :phone_number, class:"form-control", required: true, id: "phone_number_field" %>
                            </div>

<!--                            <div class="form-group"><%#= f.label :risk, "Risk" %><br />-->
                              <%#= f.select :risk, options_for_select(User.risks.map { |key, value| [key.humanize, value.to_i] }, selected: User.risks[:high]),{include_blank: "Select Risk"} , {autofocus: false, class:"form-control", required: true }%>
<!--                            </div>-->

<!--                            <div class="form-group"><%#= f.label :primary_gateway_id, "Bank Name" %><br />-->
                              <%#= f.select :primary_gateway_id, options_for_select(PaymentGateway.active_gateways.order(:name).map{|pg| [pg.name, pg.id]},selected: @merchant.try(:primary_gateway_id)), {include_blank: "Select Primary Bank"}, {autofocus: false, class:"form-control" } %>
<!--                            </div>-->
<!--                            <div class="form-group"><%#= f.label :secondary_gateway_id, "Secondary Bank Name" %><br />-->
                              <%#= f.select :secondary_gateway_id, options_for_select(PaymentGateway.active_gateways.order(:name).map{|pg| [pg.name, pg.id]},selected: @merchant.try(:secondary_gateway_id)), {include_blank: "Select Secondary Bank"}, {autofocus: false, class:"form-control" } %>
<!--                            </div>-->
<!--                            <div class="form-group"><%#= f.label :ternary_gateway_id, "Third Bank Name" %><br />-->
                              <%#= f.select :ternary_gateway_id, options_for_select(PaymentGateway.active_gateways.order(:name).map{|pg| [pg.name, pg.id]},selected: @merchant.try(:ternary_gateway_id)), {include_blank: "Select Third Bank"}, {autofocus: false, class:"form-control" } %>
<!--                            </div>-->
                            <div class="form-group">
                              <%= f.label :two_step_verification, "Two Step Verification" %><br />

                              <select class="form-control is_block" id="two_step_verification" name="user[two_step_verification]">
                                <% if f.object.two_step_verification.nil? || f.object.two_step_verification == false %>
                                    <option value="false" selected>InActive</option>
                                    <option value="true">Active</option>
                                <% else %>
                                    <option value="false">InActive</option>
                                    <option value="true" selected>Active</option>
                                <% end %>
                              </select>
                            </div>
                          </div>
                          <div class="col-xs-12">
                            <div class="">
                              <%= f.fields_for :profile , Profile.new do |f| %>
                                <div class="form-group">
                                  <%= f.label :business_type %><br />
                                  <%= f.select :business_type , options_for_select(Profile.business_types.map {|k, v| [k.humanize.capitalize, v]}),{}, {class:"form-control"}%>
                                </div>
                                <div class="form-group">
                                  <%= f.label :ein, "SSN#" %><br />
                                  <%= f.text_field :ein, class:"form-control" %>
                                </div>

                                <div class="form-group">
                                  <%= f.label :tax_id, "Tax ID" %><br />
                                  <%= f.text_field :tax_id ,class:"form-control" %>
                                </div>

                                <div class="form-group">
                                  <%= f.label :years_in_business, "Years in Business" %><br />
                                  <%= f.text_field :years_in_business, class:"form-control" %>
                                </div>

                                <div class="form-group">
                                  <%= f.label :business_location, "Owner's Address" %><br />
                                  <%= f.text_field :business_location, class:"form-control"%>
                                </div>

                                <div class="form-group">
                                  <%= f.label :city %><br />
                                  <%= f.text_field :city, class:"form-control"%>
                                </div>

                                <div class="form-group">
                                  <%= f.label :state %><br />
                                  <%= f.text_field :state, class:"form-control"%>
                                </div>

                                <div class="form-group">
                                  <%= f.label :zip_code %><br />
                                  <%= f.text_field :zip_code, class:"form-control"%>
                                </div>

                              <% end %>
                            </div>
                          </div>
                          <div class="form-group">
                            <%= f.label :issue_fee%>
                            <%= f.check_box :issue_fee, :checked => false%>
                          </div>
                          <%= f.submit "Save Merchant", class:"btn btn-success " ,id: "submit_edit_button" %>
                        </div>
                      </div>
                    </div>
          </div>
        <% end %>
        </div>
      </div>
    </div>

<script>
  $(document).ready(function () {
    validateUserForm('merchant', "notuser");
  });

</script>
