
<div class="modal fade" id="profile_location" tabindex="-1" role="dialog" aria-labelledby="modal-label-69" aria-hidden="true">
  <div class="modal-dialog modal-sm ">
    <div class="modal-content" >
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h6 id="modal-label-69">Location Profile</h6>
      </div>
      <%= form_tag admins_merchants_post_profile_location_path, method: :post do %>
      <div class="modal-body">
        <div class="row">
          <div class="col-xs-12 col-sm-12 col-md-12">
            <div class="col-md-12">
              <h4>Basic Information</h4>
            </div>
            <%= hidden_field_tag 'location_id', @location.id %>
            <hr>
              <div class="row">
                <div class="col-sm-12 col-md-12 margin_top_20">
                  <div class="col-md-7">
                    <div class="form-group">
                      <%= label_tag 'business_name', "DBA Name" %>
                      <%= text_field_tag 'business_name', @location.business_name, :required => true, class: 'form-control location_profile_fields' %>
                    </div>
                    <div class="form-group">
                      <%= label_tag 'address', "Address" %>
                      <%= text_field_tag 'address', @location.try(:address) , class: 'form-control location_profile_fields' %>
                    </div>
                    <div class="form-group col-md-12 padding_0">
                      <div class="form-group col-md-6 padding_0">
                        <%= label_tag 'city', "City" %>
                        <%= text_field_tag 'city', @location.try(:city), class: 'form-control location_profile_fields' %>
                      </div>
                      <div class="form-group col-md-3 padding_right_0">
                        <%= label_tag 'state', "State" %>
                          <%= text_field_tag :state, @location.try(:state), class: 'form-control location_profile_fields' %>
                      </div>
                      <div class="form-group col-md-3 padding_right_0">
                        <%= label_tag 'zip', "Zip Code" %>
                        <%= text_field_tag :zip, @location.try(:zip), class: 'form-control location_profile_fields' %>
                      </div>
                    </div>
                    <div class="col-md-12 padding_0">
                      <div class="form-group col-md-6 padding_0">
                        <%= label_tag 'first_name', "Contact Name" %>
                        <%= text_field_tag 'first_name', @location.try(:first_name), class: 'form-control location_profile_fields' %>
                      </div>
                      <div class="form-group col-md-6 padding_right_0">
                        <%= label_tag 'phone_number', "Phone Number" %>
                        <%= text_field_tag 'phone_number',@location.try(:phone_number), :required => true, class: 'form-control location_profile_fields' %>
                      </div>
                    </div>
                    <div class="form-group">
                      <%= label_tag 'email', "Contact Email Address" %>
                      <%= text_field_tag :email, @location.try(:email) , :required => true, class: 'form-control location_profile_fields' %>
                    </div>
                  </div>
                  <div class="col-md-5">
                    <div class="col-md-12 padding_0">
                      <div class="form-group col-md-6 padding_0">
                        <%= label_tag 'years_in_business', "Yrs/Mo in business" %>
                        <%= text_field_tag 'years_in_business', @location.try(:years_in_business), class: 'form-control location_profile_fields' %>
                      </div>
                      <div class="form-group col-md-6 padding_right_0 ">
                        <%= label_tag 'tax_id', "Tax ID" %>
                        <%= text_field_tag :tax_id, @location.try(:tax_id), class: 'form-control location_profile_fields' %>
                      </div>
                    </div>
                    <div class="col-md-12 padding_0">
                      <div class="form-group col-md-6padding_0">
                        <%= label_tag 'cs_number', "C/S Phone Number" %>
                        <%= text_field_tag :cs_number, @location.try(:cs_number), :required => true, class: 'form-control location_profile_fields' %>
                      </div>
                      <div class="form-group col-md-6 padding_right_0 ">
                        <%= label_tag 'business_type', "Business Type" %>
                        <%= text_field_tag :business_type, @location.try(:business_type), class: 'form-control location_profile_fields' %>
                      </div>
                    </div>
                    <div class="col-md-12 padding_0">
                      <div class="form-group col-md-11 padding_0">
                            <%= label_tag 'category_id', "Category" %>
                            <% if @location.category_id.nil? %>
                              <%= select_tag "category_id", options_from_collection_for_select(@categories, "id", "name" , @location.category_id.present? ? @location.category_id : 'Select Category'), class: 'form-control location_profile_fields', include_blank: "Select Category" %>
                            <% else %>
                              <%= select_tag "category_id", options_from_collection_for_select(@categories, "id", "name" , @location.category_id.present? ? @location.category_id : 'Select Category'), class: 'form-control location_profile_fields', include_blank: "Select Category" %>
                            <% end %>
                      </div>
                      <div class="col-md-1 add_cat_link">
                        <%= link_to '<i class="fa fa-plus"></i>'.html_safe,location_add_category_locations_path,remote: true,style: "padding:0px 6px;"%>
                      </div>
                    </div>
                    <div class="col-md-12 padding_0">
                      <div class="form-group col-md-11 md11_css">
<!--                        <div id="platform-append">-->
                          <%= label_tag 'ecomm_platform_id', "E-Commerce Platform" %>
                          <% if @location.ecomm_platform_id.nil? || @location.ecomm_platform_id == "null" %>
                                <% if @location.ecomm_platform_id.nil? %>
                                  <%= select_tag "ecomm_platform_id", options_from_collection_for_select(@ecom_platforms, "id", "name" , @location.ecomm_platform_id.present? ? @location.ecomm_platform_id : 'Select E-comm Platform'), class: 'form-control location_profile_fields', include_blank: "Select E-comm Platform"%>
                                <% else %>
                                  <%= select_tag "ecomm_platform_id", options_from_collection_for_select(@ecom_platforms, "id", "name" , @location.ecomm_platform_id.present? ? @location.ecomm_platform_id : 'Select E-comm Platform'), class: 'form-control location_profile_fields', include_blank: "Select E-comm Platform" %>
                                <% end %>
                          <% else %>
                                <% if @location.ecomm_platform_id.nil? %>
                                  <%= select_tag "ecomm_platform_id", options_from_collection_for_select(@ecom_platforms, "id", "name" , @location.ecomm_platform_id.present? ? @location.ecomm_platform_id : 'Select E-comm Platform'), class: 'form-control location_profile_fields', include_blank: "Select E-comm Platform" %>
                                <% else %>
                                  <%= select_tag "ecomm_platform_id", options_from_collection_for_select(@ecom_platforms, "id", "name" , @location.ecomm_platform_id.present? ? @location.ecomm_platform_id : 'Select E-comm Platform'), class: 'form-control location_profile_fields', include_blank: "Select E-comm Platform" %>
                                <% end %>
                          <% end %>
<!--                        </div>-->
                      </div>
                      <div class="col-md-1"  style="margin-top: 8%;padding-left: 3%">
                        <%= link_to '<i class="fa fa-plus"></i>'.html_safe,location_add_ecom_platform_locations_path,remote: true,style: "padding:0px 6px;"%>
                      </div>
                    </div>

                  </div>
                </div>
              </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary btn-sm pull-left" data-dismiss="modal">Cancel</button>
        <%= submit_tag "Save", class:"btn btn-primary btn-sm pull-right", style: 'width: 100px' %>
      </div>
      <% end %>
    </div>
  </div>
</div>
<div id="add_new_category"></div>
<div id="add_new_ecomplatform"></div>
