
<div class="col-md-6 padding-zero right-padding">
  <select name="user[permission_id]" id="permission" required multiple >
    <% @permission.try(:each) do |permission| %>
      <option  value="<%=permission.id%>" <%= user.present? ? user.permission_id.present? && user.permission_id == permission.id ? "selected" : "" : "" %> ><%= permission.name == "Regular (VT Only)" ? "Regular (VT Only)" : permission.name.try(:titleize) %></option>
    <% end  %>
  </select>
</div>

<div class="col-md-6 padding-zero left-padding">
  <select name="user[wallets][]" id="wallets" required multiple >
    <% locations = user.wallets.pluck(:id) if user.present? %>
    <% @wallets.each do |wallet| %>
      <option  value="<%=wallet.id%>" <%= locations.present? ? locations.include?(wallet.wallets.primary.first.try(:id))? "selected" : "" : ""  %> ><%= wallet.business_name %></option>
    <% end  %>
  </select>
</div>
<div class="col-md-6 padding-zero right-padding">
  <label id="permission-error" class="error" for="permission"></label>
</div>
<div class="col-md-6 padding-zero left-padding">
  <label id="wallets-error" class="error" for="wallets"></label>
</div>