<%= f.fields_for :location, Location.new do |form| %>
  <h5 class="card-title row setting-mer-st-1">
    <span class="col-md-12 setting-mer-st-2">Settings</span>
  </h5>
  <div class="row">
    <div class="col-md-5">
      <h6 class="setting-mer-st-3"><u><b>Password Settings</b></u></h6>
      <div class="col-md-12 setting-mer-st-4">
        <div class="col-md-10 setting-mer-st-5">
          <div class="col-md-12 setting-mer-st-6">
            <div class="col-md-1"><b><i class="fa fa-history"></i></b></div>
            <div class="col-md-10">
              <% unless current_user.support_mtrac? %>
                <a href="#" id="reset"> <b>Reset password via email</b></a>
              <% else %>
                <a href="#" id="cursor-disable"> <b>Reset password via email</b></a>
              <% end %>
            </div>
          </div>
          <div class="col-md-12 setting-mer-st-7">
            <div class="col-md-1"><b><i class="fa fa-history"></i></b></div>
            <div class="col-md-10">
              <% unless current_user.support_mtrac? %>
                <a href="#resetpassword" data-toggle="collapse" aria-expanded="false" aria-controls="resetpassword"><b>Reset
                  password manually</b></a>
              <% else %>
                <a href="#" id="cursor-disable"> <b>Reset password manually</b></a>
              <% end %>
            </div>
          </div>
          <div class="col-md-12 setting-mer-st-8">
            <div class="col-md-1"><b><i class="fa fa-envelope-open-o"></i></b></div>
            <div class="col-md-10">
              <% unless current_user.support_mtrac? %>
                <input type="hidden" value="<%= @merchant.id %>" id="setting_merchant_id">
                <input type="hidden" value="<%= @merchant.id %>" id="user_id">
                <input type="hidden" value="<%= @merchant.email %>" id="user_email">
                <a href="#" id="reset_unlock"> <b>Re-send Unlock Email</b></a>
              <% else %>
                <a href="#" id="cursor-disable"> <b>Re-send Unlock Email</b></a>
              <% end %>
              <input type="hidden" value="<%= @merchant.id %>" id="setting_merchant_id">
              <input type="hidden" value="<%= @merchant.id %>" id="user_id">
              <input type="hidden" value="<%= @merchant.email %>" id="user_email">
              <input type="hidden" value="<%= @merchant.unlock_token %>" id="unlock_token">
              <input type="hidden" value="<%= @merchant.locked_at %>" id="locked_at">
            </div>
          </div>
          <div class="col-md-12 setting-mer-st-9">
            <div class="setting-mer-st-10">
              <label class="m-ida"> 2-Step Verification
                <% if @merchant.two_step_verification? %>
                  <% unless current_user.support_mtrac? %>
                    <button type="button" class="btn btn-default btn-sm two_step setting-mer-st-11">
                      <span class="two_step_text setting-mer-st-12">On</span><span class="fa fa-circle two_step_color setting-mer-st-13"></span>
                    </button>
                  <% else %>
                    <button type="button" class="btn btn-default btn-sm two_step setting-mer-st-14">
                      <span class="two_step_text setting-mer-st-15">On</span><span class="fa fa-circle two_step_color setting-mer-st-16"></span>
                    </button>
                  <% end %>
                <% else %>
                  <% unless current_user.support_mtrac? %>
                    <button type="button" class="btn btn-default btn-sm two_step setting-mer-st-17">
                      <span class="two_step_text setting-mer-st-18">Off</span><span class="fa fa-circle two_step_color setting-mer-st-19"></span>
                    </button>
                  <% else %>
                    <button type="button" class="btn btn-default btn-sm setting-mer-st-20">
                      <span class="two_step_text setting-mer-st-21">Off</span><span class="fa fa-circle two_step_color setting-mer-st-22"></span>
                    </button>
                  <% end %>
                <% end %>
              </label>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12 setting-mer-st-27">
          <h6 class="setting-mer-st-28"><u><b>Welcome Email</b></u></h6>
          <div class="col-md-12 setting-mer-st-29">
            <div class="col-md-12 setting-mer-st-30">
              <div class="col-md-1"><b><i class="fa fa-reply"></i></b></div>
              <div class="col-md-10">
                <% unless current_user.support_mtrac? %>
                  <a href="#" id="resend_welcome"> <b>Re-send Welcome Email</b></a>
                <% else %>
                  <a href="#" id="cursor-disable"> <b>Re-send Welcome Email</b></a>
                <% end %>
              </div>
            </div>
          </div>
          <div class="col-md-12 setting-mer-st-31">
            <div class="col-md-12 setting-mer-st-32">
              <div class="col-md-1"><b><i class="fa fa-envelope-open"></i></b></div>
              <div class="col-md-10">
                <%# if @merchant.profile.present? %>
                <%# updated_time=@merchant.updated_at > @merchant.profile.updated_at ? @merchant.updated_at : @merchant.profile.updated_at   %>
                <%# else %>
                <% updated_time=@merchant.welcome_user_date  %>
                <%# end %>
                <p>Last Updated: <span class="modalTime1"><%= updated_time %></span></p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-7">
      <div class="row">
        <h6 class="setting-al-st-3"><u><b>Assign Location</b></u></h6>
        <div class="col-md-12">
          <div class="col-md-12 sub-merchant-checkbox-div">
            <div class="form-group margin_left_15">
              <label class="switch">
                <%= f.check_box :assign_location, { id: "sub_merchant_split_switch"} %>
                <span class="slider round">
                  <div class="pull-left switch_on_css">
                    ON
                  </div>
                  <div class="pull-right switch_off_css">
                    OFF
                  </div>
                </span>
              </label>
              <span id="ez_label" class="cursor_default label-text ez-assigned-label">Assigned Location
              <div class="tooltip ez-tooltip">
                <i class='fa fa-info-circle' aria-hidden='true' id="ez_tool_tip"></i>
                <span class="tooltiptext ez_assigned_location_name">Enabling this button will have functionality for Location to View, Refund, Transactions, and Exports of another Location!</span>
              </div>
            </span>
            </div>
          </div>
          <!--    <div class="col-md-5 padding-left-0">-->
          <!--      <div class="col-md-12">-->
          <!--      </div>-->
          <!--    </div>-->
        </div>
        <div class="row" id="ez_merchant_on">
          <div class="col-md-12 padding_17">
            <div class="col-md-12">
              <div class="form-group col-md-12 new_sub_merchant scrollable-div">
                <%= render partial: "ez_merchant", locals:{sub_merchant_edit_data: @sub_merchant_edit_data} %>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12 manual-password-div">
          <div class="col-sm-7">
            <div class="col-sm-12">
              <div class="collapsed setting-mer-st-23" id="resetpassword">
                <div class="card card-body">
                  <div class="col-md-12 setting-mer-st-24">
                    <div class="form-group">
                      <%= f.label :password, "Password" %><br/>
                      <%= f.password_field :password,required: true , class: "form-control", id:"user_password", autocomplete: "new-password" %>
                    </div>
                    <div class="strength setting-mer-st-25">
                      <div class="figure" id="strength_human"></div>
                    </div>
                    <div class="form-group">
                      <%= f.label :password_confirmation, "Confirm Password" %><br/>
                      <%= f.password_field :password_confirmation, required: true ,id:"user_password_confirmation", class: "form-control" %>
                    </div>
                    <span class="setting-mer-st-26" id="pass_error"></span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
<%end %>