
<input type="hidden" name="form_data" value="<%= params[:form_data].to_json %>">
<input type="hidden" name="format" value="<%= params[:format].present? ? params[:format] : '' %>">
<div class="row m_left_1">
<!--    <div class="col-md-12">-->
<!--      <div class="col-md-1">-->
<!--        <span class="bullet-label"></span>-->
<!--      </div>-->
<!--        <div class="col-md-2 label-name">-->
<!--          <label class="cursor_default label-text"><span>Low Ticket</span></label>-->
<!--        </div>-->
<!--          <div class="form-group col-md-3">-->
<!--            <div class="input-icon icon_inside_input_field">-->
<!--              <i>$</i>-->
              <%#= form.number_field :low_ticket, class:'form-control', value:@location.present? ? @location.low_ticket.present? ? number_with_precision(@location.low_ticket, :precision => 2 ) : number_with_precision(0, :precision => 2) : @settings_data.present? ? number_with_precision(@settings_data[:low_ticket], :precision => 2 ) : number_with_precision(0, :precision => 2)%>
<!--            </div>-->
<!--          </div>-->
<!--    </div>-->
<!--    <hr>-->
    <div class="col-md-12">
      <div class="col-md-1">
        <span class="bullet-label"></span>
      </div>
      <div class="col-md-2 label-name">
        <label class="cursor_default label-text"><span>Avg Ticket</span></label>
      </div>
      <div class="form-group col-md-3">
        <div class="input-icon icon_inside_input_field">
          <i>$</i>
          <%= form.text_field :average_ticket, class:'form-control buyrate_fields select-field number_fields', value:@location.try(:average_ticket).present? ? number_with_precision(@location.average_ticket, :precision => 2 ) : number_with_precision(0, :precision => 2)  %>
        </div>
      </div>
    </div>
    <hr class="profit-split-hr">
    <div class="col-md-12">
      <div class="col-md-1">
        <span class="bullet-label"></span>
      </div>
      <div class="col-md-2 label-name">
        <label class="cursor_default label-text"><span>High Ticket</span></label>
      </div>
      <div class="form-group col-md-3">
        <div class="input-icon icon_inside_input_field">
          <i>$</i>
          <%= form.text_field :sale_limit, class:'form-control buyrate_fields select-field number_fields', value:@location.try(:sale_limit).present? ?  number_with_precision(@location.sale_limit, :precision => 2 ) : number_with_precision(0, :precision => 2) %>
        </div>
      </div>
      <div class="col-md-2">
        <label class="cursor_default label-text m_top_left">Over high</label>
      </div>
      <div class="form-group col-md-3">
        <div class="input-icon icon_inside_input_field">
          <i>%</i>
          <%= form.text_field :sale_limit_percentage, class:'form-control percentage_validation select-field', value:@location.try(:sale_limit_percentage).present? ? number_with_precision(@location.sale_limit_percentage, :precision => 1 ) : number_with_precision(0, :precision => 1)  %>
        </div>
      </div>

    </div>
    <hr class="profit-split-hr">
    <div class="col-md-12">
      <div class="col-md-1">
        <span class="bullet-label"></span>
      </div>
      <div class="col-md-2 label-name">
        <label class="cursor_default label-text"><span>Monthly Processing Volume</span></label>
      </div>
      <div class="form-group col-md-3">
        <div class="input-icon icon_inside_input_field">
          <i>$</i>
          <%= form.text_field :monthly_processing_volume, class:'form-control buyrate_fields select-field number_fields', value:@location.try(:monthly_processing_volume).present? ? number_with_precision(@location.monthly_processing_volume, :precision => 2 ) : number_with_precision(0, :precision => 2) %>
        </div>
      </div>
      <div class="col-md-2">
        <label class="cursor_default label-text m_top_left">Extra over</label>
      </div>
      <div class="form-group col-md-3">
        <div class="input-icon icon_inside_input_field">
          <i>%</i>
          <%= form.text_field :extra_over, class:'form-control percentage_validation select-field', value:@location.try(:extra_over).present? ? number_with_precision(@location.extra_over, :precision => 1 ) : number_with_precision(0, :precision => 1)  %>
        </div>
      </div>
    </div>
  <hr class="profit-split-hr">
  <div>
    <h6 class="acc-limit"><b>Account Limits</b></h6>
    <br>
    <div class="col-md-12">
      <div class="col-md-1">
        <span class="bullet-label"></span>
      </div>
      <div class="col-md-2 label-name">
        <label class="cursor_default label-text"><span>ACH</span></label>
      </div>
      <div class="form-group col-md-3">
        <div class="input-icon icon_inside_input_field">
          <i>$</i>
          <%#= f.input :ach_limit, label: false,:input_html => {value: number_with_precision(f.object.ach_limit, precision: 2) } , class: "form-control" %>
          <%= form.text_field :ach_limit, class:'form-control buyrate_fields select-field number_fields', value:@location.try(:ach_limit).present? ? number_with_precision(@location.ach_limit, :precision => 2 ) : number_with_precision(100000, :precision => 2) %>
        </div>
      </div>
      <div class="col-md-5">
        <%= form.select :ach_limit_type, options_for_select(['Transaction', 'Day'], @location.try(:ach_limit_type).present? ? @location.ach_limit_type : 'Transaction'), {:include_blank=> "Choose"}, { class:"form-control" }%>


      </div>
    </div>


    <div class="col-md-12">
      <div class="col-md-1">
        <span class="bullet-label"></span>
      </div>
      <div class="col-md-2 label-name">
        <label class="cursor_default label-text"><span>Push To Card</span></label>
      </div>
      <div class="form-group col-md-3">
        <div class="input-icon icon_inside_input_field">
          <i>$</i>
          <%#= f.input :push_to_card_limit, label: false, :input_html => {value: number_with_precision(f.object.push_to_card_limit, precision: 2) } %>
          <%= form.text_field :push_to_card_limit, class:'form-control buyrate_fields select-field number_fields', value:@location.try(:push_to_card_limit).present? ? number_with_precision(@location.push_to_card_limit,:precision => 2) : number_with_precision(2000, :precision => 2) %>
        </div>
      </div>
      <div class="col-md-5">
        <%= form.select :push_to_card_limit_type,  options_for_select(['Transaction', 'Day'], @location.try(:push_to_card_limit_type).present? ? @location.push_to_card_limit_type : 'Transaction'), {:include_blank=> "Choose"}, { class:"form-control" }%>
      </div>
    </div>

    <div class="col-md-12">
      <div class="col-md-1">
        <span class="bullet-label"></span>
      </div>
      <div class="col-md-2 label-name">
        <label class="cursor_default label-text"><span>Check</span></label>
      </div>
      <div class="form-group col-md-3">
        <div class="input-icon icon_inside_input_field">
          <i>$</i>
          <%#= f.input :check_limit, label: false, :input_html => {value: number_with_precision(f.object.check_limit, precision: 2) } %>
          <%= form.text_field :check_limit, class:'form-control buyrate_fields select-field number_fields', value:@location.try(:check_limit).present? ? number_with_precision(@location.check_limit, :precision => 2 ) : number_with_precision(0, :precision => 2) %>
        </div>
      </div>
      <div class="col-md-5">
        <%= form.select :check_limit_type,  options_for_select(['Transaction', 'Day'], @location.try(:check_limit_type).present? ? @location.check_limit_type : ''), {:include_blank=> "Choose"}, { class:"form-control" }%>
      </div>
    </div>
    </div>
    <hr class="profit-split-hr">
    <div class="col-md-12">
      <div class="col-md-1">
        <span class="bullet-label"></span>
      </div>
      <div class="col-md-2 label-name">
        <label class="cursor_default label-text"><span>Portal Options</span></label>
      </div>
<!--      <div class="row">-->
<!--        <div class="col-md-3">-->
<!--          <div class="col-md-12">-->
<!--            <div class="form-group">-->
<!--              <label for="processing_type" class="no-padding cursor_default" >Processing Type</label>-->
              <%#= form.select :processing_type, options_for_select(Location.processing_types.map { |key, value| [value, key] }, form.object.processing_type.present? ? form.object.processing_type : ""),{include_blank: "Select Processing Type"} ,{:required => true, autofocus: false, id:"p_type", class:"form-control"}%>
<!--            </div>-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->
<!--      <div class="col-md-12">-->
<!--        <div class="col-md-3"></div>-->
      <div class="col-md-3 margin-left-4-top-2">
        <div class="form-group">
          <span class="portal-option-label disable_css" >Disable Check</span>
          <label class="switch m_left_10_edit">
            <%= form.check_box :block_withdrawal, checked: @location.try(:block_withdrawal) == true || @location.try(:block_withdrawal) == "1" ? "checked" : "" %>
            <span class="slider round">
              <div class="pull-left switch_on_css">
                ON
              </div>
              <div class="pull-right switch_off_css">
                OFF
              </div>
            </span>
          </label>
        </div>
      </div>

      <div class="col-md-3 margin-top-2 disable-ach">
        <div class="form-group">
          <span class="portal-option-label disable_css" >Disable ACH</span>
          <label class="switch">
            <%= form.check_box :block_ach, checked: @location.try(:block_ach) == true || @location.try(:block_ach) == "1" ? "checked" : "" %>
            <span class="slider round">
              <div class="pull-left switch_on_css">
                ON
              </div>
              <div class="pull-right switch_off_css">
                OFF
              </div>
            </span>
          </label>
        </div>
      </div>

      <div class="col-md-3 margin-top-2 disable-p2c">
        <div class="form-group">
          <sapn class="portal-option-label disable_css">Disable P2C</sapn>
          <label class="switch">
            <%= form.check_box :push_to_card, checked: @location.try(:push_to_card) == true || @location.try(:push_to_card) == "1" ? "checked" : "" %>
            <span class="slider round">
              <div class="pull-left switch_on_css">
                ON
              </div>
              <div class="pull-right switch_off_css">
                OFF
              </div>
            </span>
          </label>
        </div>
      </div>


    </div>
    <div class="col-md-12">
      <div class="col-md-3"></div>
      <div class="col-md-6 md6_css">
        <div class="form-group col-md-3">
          <label class="portal-option-label">Disable Gift Card</label>
        </div>
        <div class="col-sm-4 padding_right_7">
          <div class="form-group margin_left_15">
            <label class="switch">
              <%= form.check_box :block_giftcard, checked: @location.try(:block_giftcard) == true || @location.try(:block_giftcard) == "1" ? "checked" : "" %>
              <span class="slider round">
              <div class="pull-left switch_on_css">
                ON
              </div>
              <div class="pull-right switch_off_css">
                OFF
              </div>
            </span>
            </label>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-12">
      <div class="col-md-3"></div>
      <div class="col-md-6 md6_css">
        <div class="form-group col-md-3">
          <label class="portal-option-label">Block IP</label>
        </div>
        <div class="col-sm-4 padding_right_7">
          <div class="form-group margin_left_15">
            <label class="switch">
              <%= form.check_box :block_ip, checked: @location.try(:block_ip) == true || @location.try(:block_ip) == "1" ? "checked" : ""%>
              <span class="slider round">
                <div class="pull-left switch_on_css">
                  ON
                </div>
                <div class="pull-right switch_off_css">
                  OFF
                </div>
              </span>
            </label>
          </div>
        </div>
      </div>
    </div>
<!--    <hr>-->


  <div class="col-md-12">
      <div class="col-md-3"></div>
      <div class="col-md-6 md6_css">
        <div class="form-group col-md-3">
          <label class="portal-option-label">Disable Sales Transactions</label>
        </div>
        <div class="col-sm-4 padding_right_7">
          <div class="form-group margin_left_15">
            <label class="switch">
              <%= form.check_box :disable_sales_transaction %>
              <span class="slider round">
                <div class="pull-left switch_on_css">
                  ON
                </div>
                <div class="pull-right switch_off_css">
                  OFF
                </div>
              </span>
            </label>
          </div>
        </div>
      </div>
    </div>
    <div id="salesButton">
      <div class="col-md-12 md12_css">
        <div class="row">
          <div class="col-md-2"></div>
          <div class="col-md-6">
            <div class="col-md-4">
            <label for="" class="pos_relative">Sale</label>
            </div>
            <div class="col-md-1">
            <%= form.check_box :sales, {  class: "ck_tranformation",id: "sales_id"} %>
            </div>
          </div>
        </div>
        <div class="row"  class="pos_relative">
          <div class="col-md-2"></div>
          <div class="col-md-6">
            <div class="col-md-4">
              <label for="" class="pos_relative">Virtual Terminal</label>
            </div>
            <div class="col-md-1">
              <%= form.check_box :virtual_terminal, { class: "ck_tranformation",id: "vt_id"} %>
            </div>
        </div>
        </div>
        <div class="row pos_relative">
          <div class="col-md-2"></div>
          <div class="col-md-6">
            <div class="col-md-4">
              <label for="" class="pos_relative">Close Batch</label>
            </div>
            <div class="col-md-1">
              <%= form.check_box :close_batch, {  class: "ck_tranformation",id: "batch_id"} %>
            </div>
        </div>
        </div>
      </div>
    </div>
  <div class="col-md-12">
    <div class="col-md-3"></div>
    <div class="col-md-6 md6_css">
      <div class="form-group col-md-3">
        <label class="portal-option-label">Disable API Transactions</label>
      </div>
      <div class="col-sm-4 padding_right_7">
        <div class="form-group margin_left_15">
          <label class="switch">
            <%= form.check_box :block_api %>
            <span class="slider round">
                <div class="pull-left switch_on_css">
                  ON
                </div>
                <div class="pull-right switch_off_css">
                  OFF
                </div>
              </span>
          </label>
        </div>
      </div>
    </div>
  </div>
  <div id="apiButton">
    <div class="col-md-12 md12_css">
      <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-6">
          <div class="col-md-4">
            <label for="" class="pos_relative">Virtual Transactions</label>
          </div>
          <div class="col-md-1">
            <%= form.check_box :virtual_transaction_api, {  class: "ck_tranformation",id: "vt_api"} %>
          </div>
        </div>
      </div>
      <div class="row"  class="pos_relative">
        <div class="col-md-2"></div>
        <div class="col-md-6">
          <div class="col-md-4">
            <label for="" class="pos_relative">Credit Api</label>
          </div>
          <div class="col-md-1">
            <%= form.check_box :virtual_terminal_transaction_api, {class: "ck_tranformation",id: "vtt_api"} %>
          </div>
        </div>
      </div>
      <div class="row"  class="pos_relative">
        <div class="col-md-2"></div>
        <div class="col-md-6">
          <div class="col-md-4">
            <label for="" class="pos_relative">Debit Api</label>
          </div>
          <div class="col-md-1">
            <%= form.check_box :virtual_debit_api, { class: "ck_tranformation",id: "vd_api"} %>
          </div>
        </div>
      </div>
    </div>
  </div>
    <div class="col-md-12">
      <div class="col-md-3"></div>
      <div class="col-md-6 md6_css">
        <div class="form-group col-md-3">
          <label class="portal-option-label">Email Receipts</label>
        </div>
        <div class="col-sm-4 padding_right_7">
          <div class="form-group margin_left_15">
            <label class="switch">
              <%= form.check_box :email_receipt, checked: @location.try(:email_receipt) == false || @location.try(:email_receipt) == "0" ? "" : "checked"  %>
              <span class="slider round">
                  <div class="pull-left switch_on_css">
                    ON
                  </div>
                  <div class="pull-right switch_off_css">
                    OFF
                  </div>
                </span>
            </label>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-12">
      <div class="col-md-3 md6_css"></div>
      <div class="col-md-6">
        <div class="form-group col-md-3">
          <label class="portal-option-label">Text Message Receipts</label>
        </div>
        <div class="col-sm-4 padding_right_7">
          <div class="form-group margin_left_15">
            <label class="switch">
              <%= form.check_box :sms_receipt, checked: @location.try(:sms_receipt) == false || @location.try(:sms_receipt) == "0" ? "" : "checked" %>
              <span class="slider round">
                  <div class="pull-left switch_on_css">
                    ON
                  </div>
                  <div class="pull-right switch_off_css">
                    OFF
                  </div>
                </span>
            </label>
          </div>
        </div>
      </div>
    </div>
  <div id="hold_in_arrear_custom">
    <div class="col-md-12">
      <div class="col-md-3"></div>
      <div class="col-md-6 md6_css hold_in_r">
        <div class="form-group col-md-3">
          <label class="portal-option-label">Hold In Arrear</label>
        </div>
        <div class="col-sm-4 padding_right_7">
          <div class="form-group margin_left_15">
            <label class="switch">
              <%= form.check_box :hold_in_rear %>
              <span class="slider round">
                    <div class="pull-left switch_on_css">
                      ON
                    </div>
                    <div class="pull-right switch_off_css">
                      OFF
                    </div>
                  </span>
            </label>
          </div>
        </div>
      </div>
    </div>
    <div id="hirDays">
      <div class="col-md-12 md12_css">
        <div class="row">
          <div class="col-md-2"></div>
          <div class="col-md-6">
            <div class="col-md-2">
              <label for="" class="days_css">Days</label>
            </div>
            <div class="col-md-3">
              <%= form.input :hold_in_rear_days, label: false, input_html: {class:"buyrate_fields form-control", value: @location.try(:hold_in_rear_days).present? ? @location.hold_in_rear_days : '0', step: :any} %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div id="hold_on_delivery_custom">
  <div class="col-md-12">
    <div class="col-md-3"></div>
    <div class="col-md-6 md6_css on_hold_pd">
      <div class="form-group col-md-3">
        <label class="portal-option-label">On Hold Pending Delivery</label>
      </div>
      <div class="col-sm-4 padding_right_7">
        <div class="form-group margin_left_15">
          <label class="switch">
            <%= form.check_box :on_hold_pending_delivery %>
            <span class="slider round">
                    <div class="pull-left switch_on_css">
                      ON
                    </div>
                    <div class="pull-right switch_off_css">
                      OFF
                    </div>
                  </span>
          </label>
        </div>
      </div>
    </div>
  </div>
  <div id="ohpdDays">
    <div class="col-md-12 md12_css">
      <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-6">
          <div class="col-md-2">
            <label for="" class="days_css">Days</label>
          </div>
          <div class="col-md-3">
            <%= form.input :on_hold_pending_delivery_days, label: false, input_html: {class:"buyrate_fields form-control", value: @location.try(:on_hold_pending_delivery).present? ? @location.on_hold_pending_delivery_days : '0', step: :any} %>
          </div>
        </div>
      </div>
    </div>
  </div>
  </div>
  <div class="col-md-12">
    <div class="col-md-3"></div>
    <div class="col-md-6 md6_css">
      <div class="form-group col-md-3">
        <label class="portal-option-label">Eaze Reporting</label>
      </div>
      <div class="col-sm-4 padding_right_7">
        <div class="form-group margin_left_15">
          <label class="switch">
            <%= form.check_box :eaze_reporting, checked: @location.try(:eaze_reporting) == true || @location.try(:eaze_reporting) == "1" ? "checked" : "" %>
            <span class="slider round">
                  <div class="pull-left switch_on_css">
                    ON
                  </div>
                  <div class="pull-right switch_off_css">
                    OFF
                  </div>
                </span>
          </label>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-12">
    <div class="col-md-3"></div>
    <div class="col-md-6 md6_css">
      <div class="form-group col-md-3">
        <label class="portal-option-label">Standalone Mode</label>
      </div>
      <div class="col-sm-4 padding_right_7">
        <div class="form-group margin_left_15">
          <label class="switch">
            <%= form.check_box :standalone, checked: @location.try(:standalone) == true || @location.try(:standalone) == "1" ? "checked" : ""%>
            <span class="slider round">
                  <div class="pull-left switch_on_css">
                    ON
                  </div>
                  <div class="pull-right switch_off_css">
                    OFF
                  </div>
                </span>
          </label>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-12">
    <div class="col-md-3"></div>
    <div class="col-md-6 md6_css">
      <div class="form-group col-md-3">
        <label class="portal-option-label">VIP Cards</label>
      </div>
      <div class="col-sm-4 padding_right_7">
        <div class="form-group margin_left_15">
          <label class="switch">
            <%= form.check_box :vip_card, checked: @location.try(:vip_card) == true ? "checked" : "" %>
            <span class="slider round">
                    <div class="pull-left switch_on_css">
                      ON
                    </div>
                    <div class="pull-right switch_off_css">
                      OFF
                    </div>
                  </span>
          </label>
        </div>
      </div>
    </div>
  </div>


  <div class="col-md-12">
    <div class="col-md-3"></div>
    <div class="col-md-6 md6_css">
      <div class="form-group col-md-3">
        <label class="portal-option-label">Load Balancer</label>
      </div>
      <div class="col-sm-4 padding_right_7">
        <div class="form-group margin_left_15">
          <label class="switch">
            <%= form.check_box :apply_load_balancer, checked: @location.try(:apply_load_balancer) == "1" ? "checked" : "" %>
            <span class="slider round">
            <div class="pull-left switch_on_css">
              ON
            </div>
            <div class="pull-right switch_off_css">
              OFF
            </div>
          </span>
          </label>
        </div>
      </div>
    </div>
    <div id="apply_load_balancer" class="row div15 <%= @location.try(:apply_load_balancer)  == "1" ? "display-block" : "display-none" %>">
      <div class="col-md-12">
        <div class="col-md-5"></div>
        <div class="col-md-3">
          <% if @location.present? && @location.apply_load_balancer == "1"%>
          <%= form.select :load_balancer_id, options_for_select(LoadBalancer.all.map{|l|[l.name, l.id]}, @location.load_balancer_id.present? ? @location.try(:load_balancer_id) : "" ), {:include_blank => false}, {class: "form-control"} %>
        <% else %>
            <%= form.select :load_balancer_id, LoadBalancer.all.map{|l|[l.name, l.id]}, {:include_blank => false}, {class: "form-control"} %>
        <% end %>
            </div>
        <div class="col-md-4"></div>
      </div>
    </div>
  </div>


    <div class="col-md-12">
    <div class="col-md-3"></div>
    <div class="col-md-6 md6_css">
      <div class="form-group col-md-3">
        <label class="portal-option-label">Transaction Amount Allowed</label>
      </div>
      <div class="col-sm-4 padding_right_7">
        <div class="form-group margin_left_15">
        <label class="switch">
          <%= form.check_box :transaction_limit,  checked: @location.try(:transaction_limit) == "1" ? "checked" : ""  %>
          <span class="slider round">
              <div class="pull-left switch_on_css">
                ON
              </div>
              <div class="pull-right switch_off_css">
                OFF
              </div>
            </span>
        </label>
      </div>
    </div>
    </div>
  </div>


  <div id="tran_amount_limit" class="form-group col-md-12" >

    <% if @location.try(:transaction_limit_offset).present? %>
      <% @location.try(:transaction_limit_offset).each_with_index do |tran_limit , i| %>
        <div class="col-md-12 amount_limit_div form-group" >
          <div class="col-md-3"></div>
          <span class="span_dollar_sign">$</span>
          <div class="col-md-3" >
            <%= form.text_field :transaction_limit_offset, class:"form-control two_decimal" , value:  number_with_precision(tran_limit,precision: 2) , name: "user[location][transaction_limit_offset][]" , required: true , min: 0.1 , step: :any%>
          </div>
          <% btn_class =  i == 0 ? "add_amount_btn" : "remove_amount_btn" %>
          <% i_btn_class =  i == 0 ? "fa-plus-circle" : "fa-minus-circle" %>
          <div class="col-md-1 ">
            <a class="col-md-12 div108 <%= btn_class %>" ><i class="fa <%= i_btn_class %> fa-2x"></i></a>
          </div>
        </div>
      <%end%>
    <%else%>
      <div class="col-md-12 amount_limit_div form-group" >
        <div class="col-md-3"></div>
        <span class="span_dollar_sign">$</span>
        <div class="col-md-3 " >
          <%= form.text_field :transaction_limit_offset, class:"form-control two_decimal" ,name: "user[location][transaction_limit_offset][]" , step: :any , required: true , min: 0.1 , value: 0.00 %>
        </div>
        <div class="col-md-1 ">
          <a class="col-md-12 div108 add_amount_btn" ><i class="fa fa-plus-circle fa-2x"></i></a>
        </div>
      </div>
    <%end%>
  </div>

</div>
<div class="row web-row m_left_1">
    <hr class="profit-split-hr">
  <% if @location.try(:web_site).nil? || @location.try(:web_site) == "null" %>
    <div class="col-md-12" >
      <div class="col-md-1">
        <span class="bullet-label"></span>
      </div>
      <div class="col-md-2 label-name">
        <label class="cursor_default label-text"><span>Website</span></label>
      </div>

      <div class="form-group col-md-3">
        <input type="url" name="user[location][web_site][]" pattern="https?://.+" value="<%= @location.try(:web_site).present? ? JSON(@location[:web_site]).first : '' %>" class="form-control" placeholder="https://www.google.com">
      </div>

      <div class="col-sm-2 padding_right_7 ">
        <span class="fa fa-plus add-web ">
        </span>
      </div>
    </div>
     <% else %>
        <% if @location.try(:web_site).class == String %>
          <% urls = valid_json?(@location.web_site) ? JSON.parse(@location.web_site) : [@location.web_site] %>
        <% else %>
          <% urls = @location.try(:web_site) %>
        <% end %>
        <% urls.each.with_index do |web,i| %>
        <div class="col-md-12">
          <div class="col-md-1">
            <span class="bullet-label"></span>
          </div>
          <div class="col-md-2 label-name">
            <label class="cursor_default label-text"><span>Website</span></label>
          </div>
          <div class="form-group col-md-3">
            <input type="url" name="user[location][web_site][]" pattern="https?://.+" value="<%= web %>" class="form-control" placeholder="https://www.google.com">
          </div>
          <% if i != 0 %>
            <div class="col-sm-2 padding_right_7">
              <span class="fa fa-minus remove-web"></span>
            </div>
          <% else %>
            <div class="col-sm-2 padding_right_7">
              <span class="fa fa-plus add-web"></span>
            </div>
          <% end %>
        </div>
     <% end %>
     <% end %>
</div>

<div class="row m_left_1">
    <hr class="profit-split-hr">
    <div class="col-md-12">
      <div class="col-md-3">
        <label class="labelf">Gateway Settings</label>
      </div>
    </div>
  <div class="margin_top_10">
    <div class="col-md-12" >
      <div class="col-md-1">
        <span class="bullet-label"></span>
      </div>
      <div class="col-md-2 label-name">
        <label class="cursor_default label-text"><span>Merchant Risk</span></label>
      </div>
      <div class="form-group col-md-1 m_left_1 margin_right_dispensary">
          <label class="radio-label">

            <input type="radio" name="user[location][risk]" value="1" id="low_merchant_risk_radio" >
            <span class="checkmark"></span>
            Dispensary
          </label>
      </div>
      <div class="form-group col-md-1 margin_left_5">
        <label class="radio-label">
          <input type="radio" name="user[location][risk]" value="0" id="high_merchant_risk_radio" >
          <span class="checkmark"></span>
          High
        </label>
      </div>
    </div>
    <div class="col-md-12" class="m_top_2">
      <div class="col-md-1">
        <span class="bullet-label"></span>
      </div>
      <div class="col-md-2 label-name">
        <label class="cursor_default label-text"><span>Gateway 1</span></label>
      </div>
      <div class="form-group col-md-3">
        <%= form.select :primary_gateway_id, options_for_select(PaymentGateway.eager_load(:descriptor).active_gateways.order(name: :asc).map{ |key| [key.descriptor.present? ? "(#{key.descriptor.name}) - #{key.name}" : key.name, key.id]}, @location.try(:primary_gateway_id).present? ? @location.primary_gateway_id : ''),{include_blank: "Select Bank"} , {autofocus: false, id:"primary_bank", class:"form-control"}%>
      </div>
    </div>

    <div class="col-md-12 m_top_2">
      <div class="col-md-1">
        <span class="bullet-label"></span>
      </div>
      <div class="col-md-2 label-name">
        <label class="cursor_default label-text"><span>Gateway 2</span></label>
      </div>
      <div class="form-group col-md-3">
        <%= form.select :secondary_gateway_id, options_for_select(PaymentGateway.eager_load(:descriptor).active_gateways.order(name: :asc).map{ |key| [key.descriptor.present? ? "(#{key.descriptor.name}) - #{key.name}" : key.name, key.id]}, @location.try(:secondary_gateway_id).present? ? @location.secondary_gateway_id : ''),{include_blank: "Select Bank"} , {autofocus: false, id:"secondary_bank", class:"form-control"}%>
      </div>
    </div>

    <div class="col-md-12" class="m_top_2">
      <div class="col-md-1">
        <span class="bullet-label"></span>
      </div>
      <div class="col-md-2 label-name">
        <label class="cursor_default label-text"><span>Gateway 3</span></label>
      </div>
      <div class="form-group col-md-3">
        <%= form.select :ternary_gateway_id, options_for_select(PaymentGateway.eager_load(:descriptor).active_gateways.order(name: :asc).map{ |key| [key.descriptor.present? ? "(#{key.descriptor.name}) - #{key.name}" : key.name, key.id]}, @location.try(:ternary_gateway_id).present? ? @location.ternary_gateway_id : ''),{include_blank: "Select Bank"} , {autofocus: false, id:"ternary_bank", class:"form-control"}%>
      </div>
    </div>
  </div>
</div>
<%=form.fields_for :fee, Fee.new do |fee|  %>
<div class="row m_left_1" >
    <hr class="profit-split-hr">
    <div class="col-md-12">
      <div class="col-md-6">
        <label class="labelf">Monthly Chargeback and Refund Data</label>
      </div>
    </div>
    <div class="margin_top_10">
      <div class="col-md-12" class="m_top_2">
        <div class="col-md-1">
          <span class="bullet-label"></span>
        </div>
        <div class="col-md-2 label-name">
          <label class="cursor_default label-text"><span>Chargeback %</span></label>
        </div>
        <div class="form-group col-md-2">
          <div class="input-icon icon_inside_input_field">
            <i>%</i>
            <%= fee.text_field :charge_back_percent, class:'form-control percentage_validation select-field', value: @fees.try(:charge_back_percent).present? ? number_with_precision(@fees.charge_back_percent, :precision => 1 ) : number_with_precision(0, :precision => 1) %>
          </div>
        </div>
      </div>
      <div class="col-md-12" class="m_top_2">
        <div class="col-md-1">
          <span class="bullet-label"></span>
        </div>
        <div class="col-md-2 label-name">
          <label class="cursor_default label-text"><span>Chargeback Count</span></label>
        </div>
        <div class="form-group col-md-2">
          <%= fee.text_field :charge_back_count, class:'form-control buyrate_fields_days select-field number_fields', value: @fees.try(:charge_back_count).present? ? @fees.charge_back_count : 0 %>
        </div>
      </div>
      <div class="col-md-12" class="m_top_2">
        <div class="col-md-1">
          <span class="bullet-label"></span>
        </div>
        <div class="col-md-2 label-name">
          <label class="cursor_default label-text"><span>Refund %</span></label>
        </div>
        <div class="form-group col-md-2">
          <div class="input-icon icon_inside_input_field">
            <i>%</i>
            <%= fee.text_field :refund_percent, class:'form-control percentage_validation select-field', value: @fees.try(:refund_percent).present? ? number_with_precision(@fees.refund_percent, :precision => 1) : number_with_precision(0, :precision => 1) %>
          </div>
        </div>
      </div>

      <div class="col-md-12" class="m_top_2">
        <div class="col-md-1">
          <span class="bullet-label"></span>
        </div>
        <div class="col-md-2 label-name">
          <label class="cursor_default label-text"><span>Refund Count</span></label>
        </div>
        <div class="form-group col-md-2">
          <%= fee.text_field :refund_count, class:'form-control buyrate_fields_days select-field number_fields' , value:@fees.try(:refund_count).present?  ? @fees.refund_count : 0 %>
        </div>
      </div>
    </div>
  </div>
<% end %>
