<div class="modal fade" id="unlock" tabindex="-1" role="dialog" aria-labelledby="modal-label-69" aria-hidden="true">
  <div class="modal-dialog modal-sm">
    <div class="modal-content unlock-st">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h6 id="modal-label-69">Unlock <%= params[:type].titleize %></h6>
      </div>
      <%= form_tag(admins_merchants_unlock_post_path, method: :post, data:{confirm: "Are you sure ?"}) do %>
          <div class="modal-body">

            <div class="phone_number_div">
              <div class="row">
                <div class="col-md-12">
                  <div class="col-md-12">
                    <div class="card">
                      <div class="col-md-2"></div>
                      <div class="col-md-8">
                        <div class="form-group" >
                          <label for="phone_number">Phone Number</label>
                          <input type="number" name="phone_number" class="form-control" id="phone_number" required/>
                          <p class="error-phone text-bold text-danger"><b>Wrong Phone Number</b></p>
                        </div>
                        <input type="hidden" class="form-control" name="wallet_id" value="<%= @wallet.try(:id) %>" id="wallet_id"/>
                        <input type="hidden" class="form-control" name="fee_id" value="<%= @fee.try(:id) %>" id="fee_id"/>
                        <input type="hidden" class="form-control" name="location_id" value="<%= @location.try(:id) %>" id="location_id"/>
                        <input type="hidden" class="form-control" name="location" value="<%= params[:location_id] %>"/>
                        <input type="hidden" class="form-control" name="merchant" value="<%= params[:merchant_id] %>"/>
                        <input type="button" class="btn btn-primary btn-sm btn-block" id="phone_number_button" value="Submit"/>
                      </div>
                      <div class="col-md-2"></div>
                    </div>
                  </div>
                </div>
              </div>
            </div>


            <div class="pincode_div">
              <div class="row">
                <div class="col-md-12">
                  <div class="col-md-12">
                    <div class="card">
                      <div class="col-md-2"></div>
                      <div class="col-md-8">
                        <div class="form-group" >
                          <label for="phone_number">Enter Pin Code</label>
                          <input type="text" name="pincode" class="form-control" id="pincode" required/>
                          <p class="error-pincode text-bold text-danger"><b>Wrong Pincode</b></p>
                        </div>
                        <input type="button" class="btn btn-primary btn-sm btn-block" id="pincode_button" onclick="submitpincode()" value="Submit"/>
                      </div>
                      <div class="col-md-2"></div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

          </div>

          <div class="modal-footer">
            <button type="button" class="btn btn-secondary btn-sm pull-left" data-dismiss="modal">Close</button>
            <%= submit_tag("Unlock" ,class: "btn btn-secondary btn-sm pull-right void_submit_button") %>
          </div>
      <% end %>
    </div>
  </div>
</div>

<script>
    $(".phone_number_div").show();
    $(".pincode_div").hide();
    $(".error-phone").hide();
    $(".error-pincode").hide();
    $('.void_submit_button').hide();


    $("#phone_number_button").on('click', function () {
        var phone_number=$('#phone_number').val();
        var wallet_id=$('#wallet_id').val();
        var location_id=$('#location_id').val();
        var fee_id=$('#fee_id').val();
        if(phone_number.length > 0) {
            $.ajax({
                url: "<%=verify_phone_number_admins_invoices_path %>",
                method: 'get',
                data: {phone_number: phone_number, wallet_id: wallet_id, fee_id: fee_id,location_id: location_id, unlock: true},
                success: function () {
                    $('#phone_number_button').html('Verified').removeClass('btn-primary').addClass('btn-success');
                    setTimeout(function () {
                        $('#phone_number').css('display', 'none').fadeOut("slow");
                        $('.phone_number_div').hide();
                        $('.pincode_div').show();
                        $("#modal-label-69").html('').html('Enter Pin Code You Recieved');
                    }, 1000);
                }, error: function (result) {
                    $('#phone_number_button').html('UnAuthorized').removeClass('btn-primary').addClass('btn-danger');
                    setTimeout(function () {
                        $('#phone_number_button').html('Submit').removeClass('btn-danger').addClass('btn-primary');
                    }, 1500);
                    $(".error-phone").show();
                }
            });
        }else{
        }
    });


    $("#pincode_button").on('click', function () {
        var pincode=$('#pincode').val();
        var wallet_id=$('#wallet_id').val();
        var fee_id=$('#fee_id').val();
        var location_id=$('#location_id').val();
        if(pincode.length > 0) {
            $.ajax({
                url: "<%= verify_phone_number_admins_invoices_path %>",
                method: 'get',
                data: {pincode: pincode, wallet_id: wallet_id, fee_id: fee_id,location_id: location_id,unlock: true},
                success: function () {
                    setTimeout(function () {
                        $('#pincode_button').val('Verified').removeClass('btn-primary').addClass('btn-success').attr("disabled",true);
                        $('.void_submit_button').show();
                    }, 1000);
                }, error: function (result) {
                    $('#pincode_button').html('UnAuthorized').removeClass('btn-primary').addClass('btn-danger');
                    setTimeout(function () {
                        $('#pincode_button').html('Submit').removeClass('btn-danger').addClass('btn-primary');
                    }, 1500);
                    $(".error-pincode").show();
                }
            });
        }else{
        }
    });

    function submitpincode(){
        document.getElementById("pincode_button").disabled = true;
    }

</script>