<%= render layout: 'merchant_profile' do |f| %>
  <div class="sidebar-overlay"></div>
<div class="title-block ">
  <div class="col-md-12 bank_account">
    <%= f.fields_for :location, Location.new do |loc| %>
      <%= loc.hidden_field :location_id, value:params[:location_id] %>
    <%# if (params[:action] == "new") || (params[:duplicated].present?) || @location.bank_details.count <1  %>
      <%= loc.simple_fields_for :bank do |form| %>
        <div id="new_bank1"></div>
        <div id="edit_bank"></div>
        <div class="banks">
          <% if @bank_account.present? %>
            <%= render :partial => 'edit_bank_account' %>
          <% else %>
            <section class="section bank-section">
            <div class="row">
              <!--  high ticket to void check was in profile info -->
              <div class="col-md-6">

                <div class="form-group">
                  <label class="no-padding"><span>Bank Account Type</span></label>
                  <span class="add-bank-btn"><a id="add_bank" class='add-bank' data-count="0"><i class="fa fa-plus-circle fa-2x"></i></a></span>
                  <%#= form.select :bank_account_type, options_for_select(Location.bank_account_types.keys.map { |a| [a.humanize, a] }, selected: @bank_account.present? ? @bank_account.try(:bank_account_type) : "Choose") , {:include_blank => "Choose"}, {class: "form-control", id: "bank_detail_bank_account_type1"} %>
                  <select name="user[location][bank][0][bank_account_type]" class="form-control bank-account-type" id="bank_detail_bank_account_type0" data-count="0">
                    <option value="">Choose</option>
                    <% Location.bank_account_types.keys.each do |type| %>
                      <option value=<%= type %> <%= @bank_account.try(:bank_account_type) == type ? "selected" : "" %>><%= type.capitalize %></option>
                    <% end %>
                  </select>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label class="no-padding"><span>Name On Bank Account</span></label>
                  <%#= form.text_field :bank_name, id: "bank-nmae1", class: "form-control", autocomplete: 'new-password' , required: true, value:@bank_account.present? ? @bank_account.try(:bank_name) : ""%>
                  <input name="user[location][bank][0][bank_name]" id="bank-name0" class="form-control" autocomplete="new-password" required="required" value="<%= @bank_account.present? ? @bank_account.try(:bank_name) : "" %>" type="text" disabled="disabled">
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <label class="no-padding cursor_default"><span>Bank Routing #</span></label>
                  <%#= form.text_field :routing_no, id: "bank-routing1", class: "form-control", autocomplete: 'off' , required: true, value:@bank_account.present? ? @bank_account.try(:routing_no) : "" %>
                  <input name="user[location][bank][0][routing_no]" id="bank-routing0" class="form-control" autocomplete="off" required="required" value="<%= @bank_account.present? ? @bank_account.try(:routing_no) : "" %>" type="text" disabled="disabled">
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label class="no-padding cursor_default"><span>Bank Account #</span></label>
                  <%#= form.text_field :account_no, id: "password-field1", class: "form-control", autocomplete: 'new-password' , required: true, value:@bank_account.present? ? @bank_account.try(:account_no) : "" %>
                  <input name="user[location][bank][0][account_no]" id="password-field0" class="form-control" autocomplete="new-password" required="required" value="<%= @bank_account.present? ? @bank_account.try(:account_no) : "" %>" type="text" disabled="disabled">
                  <span class="show_account" class="fa fa-fw fa-eye field-icon my-password0 div71"></span>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6 div72">
                <div id="choose_img">
                  <label for="image"  class="div73">Void Check</label>
                  <input name="user[location][bank][0][image]" class="div74" id="customer_signature" accept="image/x-png,image/gif,image/png,image/jpeg,image/bmp,application/pdf ,.jpeg,.jpg,.pdf,.png" data-max-file-size="10485760" value="<%= @bank_account.present? ? @bank_account.try(:image) : "" %>" type="file"  disabled="disabled" required="required">
                  <span class="bank-img-preview"></span>
                </div>
              </div>

            </div>
          </section>
          <% end %>
        </div>
<% end %>
<%end %>
  </div>
</div>
<% end %>
<div class="add-another-bank">
  <section class="section sectionXXXXX">
    <div class="row">
      <!--  high ticket to void check was in profile info -->
      <div class="col-md-6">

        <div class="form-group">
          <label class="no-padding"><span>Bank Account Type</span></label>
          <span class="remove-bank-btn"><a id="remove_bank" class='remove-bank' data-count="XXXXX"><i class="fa fa-minus-circle fa-2x"></i></a></span>
          <select name="user[location][bank][XXXXX][bank_account_type]" class="form-control bank-account-type" id="bank_detail_bank_account_typeXXXXX" data-count="XXXXX">
            <option value="">Choose</option>
            <% Location.bank_account_types.keys.each do |type| %>
              <option value=<%= type %> <%= @bank_account.try(:bank_account_type) == type ? "selected" : "" %>><%= type.capitalize %></option>
            <% end %>
          </select>
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <label class="no-padding"><span>Name On Bank Account</span></label>
          <input name="user[location][bank][XXXXX][bank_name]]" id="bank-nameXXXXX" class="form-control" autocomplete="new-password" required="required" value="<%= @bank_account.present? ? @bank_account.try(:bank_name) : "" %>" type="text" disabled="disabled">
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <div class="form-group">
          <label class="no-padding cursor_default"><span>Bank Routing #</span></label>
          <input name="user[location][bank][XXXXX][routing_no]" id="bank-routingXXXXX" class="form-control" autocomplete="off" required="required" value="<%= @bank_account.present? ? @bank_account.try(:routing_no) : "" %>" type="text" disabled="disabled">
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <label class="no-padding cursor_default"><span>Bank Account #</span></label>
          <input name="user[location][bank][XXXXX][account_no]" id="password-fieldXXXXX" class="form-control" autocomplete="new-password" required="required" value="<%= @bank_account.present? ? @bank_account.try(:account_no) : "" %>" type="text" disabled="disabled">
          <span class="show_account" class="fa fa-fw fa-eye field-icon my-passwordXXXXX div71"></span>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 div72">
        <div id="choose_img">
          <label for="image"  class="div73"></label>
          <input name="user[location][bank][XXXXX][image]" class="div74" id="customer_signatureXXXXX" accept="image/x-png,image/gif,image/png,image/jpeg,image/bmp,application/pdf ,.jpeg,.jpg,.pdf,.png" data-max-file-size="10485760" value="<%= @bank_account.present? ? @bank_account.try(:image) : "" %>" type="file" required="required">
          <span class="bank-img-preview"></span>
        </div>
      </div>

    </div>
  </section>
</div>
<%= javascript_include_tag 'admins/locations/location_wallets.js' %>
