<%= render :layout => 'merchant_profile' do |f| %>
  <h5 class="card-title m-doc-st">Documentation</h5>
  <%= f.fields_for :documentation, Documentation.new do |form| %>
    <div style=" margin-left:1%;">
      <%= render partial: 'admins/merchants/documentation', locals: {:f => form} %>
    </div>
<% end %>
<% end %>
<%= javascript_include_tag "admins/merchant/documentation.js" %>