$(".duplicate_owner").append("<%= j render(partial: 'duplicate_owner', :locals => {:count => @count}) %>");
$("#phone_number"+<%= @count - 1 %>).inputmask('Regex', {regex: "^[0-9+]+$"});
$("#phone_number"+<%= @count - 1 %>).intlTelInput({
    formatOnInit: true,
    separateDialCode: true,
    formatOnDisplay: false,
    customPlaceholder: function(selectedCountryPlaceholder, selectedCountryData) {
        country=selectedCountryPlaceholder;
        country=country.replace(/[^0-9\. ]/g,'').replace(/\W/gi,'');
        $('#phone_code'+<%= @count - 1 %>).val(Object.values(selectedCountryData)[2]);
        $("#phone_number"+<%= @count - 1 %>).val('');
        space_remove(Object.values(selectedCountryData)[2], "#phone_number"+<%= @count - 1 %>);
        if(selectedCountryData.iso2 == 'us')
        {
            country = "555-555-5555"
        }
        return  country;
    },
    excludeCountries: ['ba','cf','cd','cg','do','gq','pf', 'gw','mk','mg','nc','kp','mf','pm','vc','st','ae'],
    utilsScript: "<%= asset_path 'libphonenumber/utils.js' %>"
});
$('#cover-spin').hide()
function space_remove(code_number, id)
{
    if(code_number.length==1)
    {
        $(id).addClass("phone-length-1");
    }
    else if(code_number.length==2)
    {
        $(id).addClass("phone-length-2");
    }
    else if(code_number.length==3)
    {
        $(id).addClass("phone-length-3");
    }
    else
    {
        $(id).addClass("phone-length-4");
    }
}
$(".datepicker1<%= @count-1 %>").daterangepicker({
    autoUpdateInput:false,
    showDropdowns: true,
    singleDatePicker: true,
    minYear: 1901,
    format: 'mm/dd/yyyy',
    maxDate: moment().subtract(18, "years"),
    startDate: moment().subtract(18, 'years'),
    parentEl: $("#date_parent"),
    locale: { direction: 'datepicker_<%=@count-1 %>' }
})
$('.datepicker1<%= @count-1 %>').on('cancel.daterangepicker', function(ev, picker) {
    $(this).val('');
});
$('.datepicker1<%= @count-1 %>').on('apply.daterangepicker', function(ev, picker) {
    var startDate = picker.startDate;
    $(this).val(startDate.format('MM/DD/YYYY'));
});
$('.date_of_birth').on('focusin click',function () {
    var id = $(this).attr('id');
    id = id.split('_');
    count = id[3];
    $('.datepicker_'+count).show();
})

$('.cancel_owner<%= @count-1 %>').on('click', function () {
    $(this).parent().parent().remove();
    var count = $(".count").text();
    $(".first-count").each(function (key, index) {
        $(this).text('').text(key + 1)
    });
    $(".count").text(count-1)
    $('.wizard-submit-btn').prop('disabled', false);
})
var edit_from = $("#edit_from").val();
if(edit_from == "edit-merchant"){
    $(".duplicate_owner .col-md-5").addClass("col-md-6").removeClass("col-md-5")
}

$(document).on('click','.wizard-submit-btn', function () {
    var phone = $("#phone_number"+<%= @count - 1 %>).val();
    if(phone != undefined && phone.length < 1 ){
        if(!$(".new_user").valid()){
            $('.wizard-submit-btn').prop('disabled', 'disabled');
            $("#phone-error"+<%= @count - 1 %>).text('');
            $("#phone_number-error"+<%= @count - 1 %>).text('');
            $("#phone-error"+<%= @count - 1 %>).text('Please enter Phone Number');
            $("#phone_heading"+<%= @count - 1 %>).addClass("phone-valid");

        }
    }

})

$('body').on('keyup', '#phone_number'+<%= @count - 1 %>, function (e) {
    var phone = $(this).val();
    var phone_code = $(this).closest('div').find('.selected-dial-code').text();
    var reg = new RegExp('^[0-9]+$');
    phone_code = phone_code.substring(1);
    var phone_number = phone_code + phone;
    var phone_error_div = $(this).parent().nextAll('.phone-error').attr('id');
    var phone_id = $(this).attr("id");
    var submit_btn_id = "#"+$(this).closest('form').find(':submit').attr("id")
    if(phone.length > 0){
        if(reg.test(phone_number)){
            $("#"+phone_error_div).text('');
            $(submit_btn_id).prop( 'disabled', false);
            $.ajax({
                url: "/admins/companies/check_phone_format",
                type: 'GET',
                data: {phone_number: phone_number},
                success: function (result) {
                    if (!result) {
                        $("#phone_heading"+<%= @count - 1 %>).addClass("phone-valid");
                        $(submit_btn_id).prop('disabled', 'disabled');
                        $("#" + phone_error_div).text('Invalid Format!');
                    }
                    else{
                        $("#phone_heading"+<%= @count - 1 %>).removeClass("phone-valid");
                        $("#" + phone_error_div).text('')
                        $(submit_btn_id).prop('disabled', false);
                    }
                },
                error: function (error) {

                    console.log(error)
                }
            });
        }else{
            $(submit_btn_id).prop('disabled', 'disabled');
            $("#phone_heading"+<%= @count - 1 %>).removeClass("phone-valid");
            $("#"+phone_error_div).text('')
            $("#"+phone_error_div).text('Must be Number')
        }
    }else{
        $(submit_btn_id).prop('disabled', 'disabled');
        $("#"+phone_error_div).text('');
        $("#phone_heading"+<%= @count - 1 %>).addClass("phone-valid");
        $("#"+phone_error_div).text('Please enter Phone Number')
    }

});