
<div class="container">
<div class="row">
<div class="card">
<div class="card-body loc-doc-st-1">
  <%= simple_form_for User.new, url: admins_merchants_update_documentation_path do |f| %>
  <h3 class="loc-doc-st-2">Documentation</h3>
  <%= f.fields_for :documentation, Documentation.new do |form| %>
      <input type="hidden" name="location_id" value="<%= params[:location_id] %>">
      <div class="loc-doc-st-3">
        <%= render partial: 'admins/merchants/documentation', locals: {:f => form} %>
      </div>
      <hr>
      <div class="loc-doc-st-4">
        <a href="/admins/merchants/profile?location_id=<%=params[:location_id] %>&format=<%= params[:format] %>" class="cancel-btn btn btn-sm btn-default">Back</a>
        <%= f.submit "Save", class:'save-btn btn btn-sm btn-success'%>
      </div>
<% end %>
<% end %>
</div>
</div>
</div>
</div>
<script>
    $(".save-btn").click(function (e) {
        //
        // validateDocumentationForm("new_user")
        // if($(".new_user").valid()){
        //     $('#new_user').submit();
        // }
    })
</script>







