
<div class="container">
  <div class="row">
    <div class="card">
      <div class="card-body loc-fee-st-1">
        <div class="errors">
          <% if @merchant.present? %>
            <% if @merchant.errors.present? %>
              <% if @merchant.errors.any? %>
                <ul>
                  <% @merchant.errors.full_messages.each do |msg| %>
                    <li class="text-danger"><%= msg %></li>
                  <% end %>
                </ul>
              <% end %>
            <% end %>
          <% end %>
        </div>
        <%= simple_form_for User.new, url: admins_merchants_update_fee_path do |form| %>
          <%= form.simple_fields_for :location, Location.new do |f| %>
             <%= f.simple_fields_for :fee, Fee.new do |fee| %>
              <div>
                <input type="hidden" name="location_id" value="<%= params[:location_id].present? ? params[:location_id] : '' %>">
                <h3 class="loc-fee-st-2">Fees</h3>
                <%= render partial: 'admins/merchants/fee', locals: {:f => fee} %>
                <div class="loc-fee-st-3">
                  <a href="/admins/merchants/profile?location_id=<%=params[:location_id] %>&format=<%= params[:format] %>" class="cancel-btn btn btn-sm btn-default">Back</a>
                  <%= form.submit "Save", class:'save-btn btn btn-sm btn-success'%>
                </div>
              </div>
            <% end %>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>
<script>
    $(".save-btn").click(function (e) {
        validateLocationFeeForm("new_user")
    })
</script>







