
<section id="dispute_case_modals"></section>
<div class="title-block">
  <h1 class="title">
    Location Chargebacks
  </h1>
</div>
<section class="section">
  <div class="row">
    <div class="col-md-12">
      <div class="col-md-12 loc-cbks-st-1">
        <div class="row loc-cbks-st-2">
          <div class="col-md-9">
            <%= column_chart @dispute_case.group(:status).count.transform_keys{ |key| key.to_s.titleize }, width: "100%", height: "200px"  %>
          </div>
          <div class="col-md-3">
            <% DisputeCase.statuses.each do|d| %>
                <h6 class="loc-cbks-st-3"><strong><%= d.first.titleize %></strong></h6>
            <% end %>
          </div>
          <div class="col-md-12"></div>
        </div>
        <div class="col-md-12 loc-cbks-st-4">
          <div class="col-md-8 loc-cbks-st-5">
            <div class="col-md-3 col_md_3_cbk">
              <p class="cbk_text">CBK Per Day</p>
              <p class="cbk_value"><b><%= @dispute_case.where(created_at: Time.zone.now.beginning_of_day..Time.zone.now.end_of_day).count %></b></p>
            </div>
            <div class="col-md-3 col_md_3_cbk">
              <p class="cbk_text">CBK Per Month</p>
              <p class="cbk_value"><b><%= @dispute_case.where(created_at: Time.zone.now.beginning_of_month..Time.zone.now.end_of_month).count %></b></p>
            </div>
            <div class="col-md-3 col_md_3_cbk">
              <p class="cbk_text">CBK %</p>
              <p class="cbk_value"><b><%=  number_with_precision(@dispute_case.count.to_f * 100 / @transactions.count.to_f, :precision => 2) %></b></p>
            </div>
            <div class="col-md-3 col_md_3_cbk loc-cbks-st-6">
              <p class="cbk_text">CBK Volume</p>
              <p class="cbk_value"><b>$<%= number_with_precision(@dispute_case.where(created_at: Time.zone.now.beginning_of_month..Time.zone.now.end_of_month).where.not(status: "dispute_accepted").sum(:amount), :precision => 2, :delimiter => ',') %></b></p>
            </div>

          </div>
          <div class="col-md-4 loc-cbks-st-7">
            <div class="col-md-3 col_md_3_cbk_next">
              <p class="p_cbk_next"><b><%= @dispute_case.won_reversed.count %></b></p>
              <p class="p_cbk_next_val">Won</p>
            </div>
            <div class="col-md-5  col_md_3_cbk_next">
              <p class="p_cbk_next"><b><%= @dispute_case.sent_pending.count %></b></p>
              <p class="p_cbk_next_val">In-Progress</p>
            </div>
            <div class="col-md-3  col_md_3_cbk_next">
              <p class="p_cbk_next"><b><%= @dispute_case.lost.count %></b></p>
              <p class="p_cbk_next_val">Lost</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-12 loc-cbks-st-8">
      <div class="card sameheight-item items" data-exclude="xs,sm,lg">
        <div class="card-header bordered">
          <div class="col-md-6 loc-cbks-st-9">
            <div class="header-block">
              <h3 class="title pull-left">Chargebacks & Retrievals</h3>
            </div>
          </div>
          <div class="col-md-6">
            <%= link_to "Export",admins_merchants_export_location_cbks_path(location_id: @location.id,type: params[:type]), class:"btn btn-primary pull-right" %>
            <%= form_tag admins_merchants_location_cbks_path(), method: :get  do  %>
                <%= select_tag "type", options_for_select([['All Cases', 'all'],['Sent Pending', 'sent_pending'],['Won Reversed', 'won_reversed'],['Lost', 'lost'],['Dispute Accepted', 'dispute_accepted']], params["type"]),
                   :prompt => false,
                   :required => true,
                   :onchange => 'this.form.submit();',
                   class: "form-control form-control-sm pull-right loc-cbks-st-10"
                %>
                <input type="hidden" name="location_id" value="<%= @location.id %>">
            <% end %>
          </div>
        </div>
        <div class="tab_data_details">
          <section class="example">
            <div class="">
              <div class="table-responsive">
                <table id="datatable-keytable" class="table table-striped table-bordered table-hover" cellspacing="0" cellpadding="0">
                  <thead>
                  <tr>
                    <th>Case #</th>
                    <th>Dispute Type</th>
                    <th>Reason</th>
                    <th>Recieved Date</th>
                    <th>Due Date</th>
                    <th>Amount</th>
                    <th>Last4</th>
                    <th class="loc-cbks-st-11">Status</th>
                    <th>Action</th>
                  </tr>
                  </thead>
                  <tbody>
                  <% if @dispute_cases.present? %>
                      <% @dispute_cases.each do |cbk| %>
                          <tr>
                            <td><%= cbk.case_number %></td>
                            <td><%= cbk.try(:dispute_type).try(:humanize).try(:titleize) %></td>
                            <td><%= cbk.try(:reason).try(:title) %></td>
                            <td><%= cbk.recieved_date.present? ? cbk.recieved_date.strftime("%m-%d-%Y") : "NA" %></td>
                            <td><%= cbk.due_date.present? ? cbk.due_date.strftime("%m-%d-%Y") : "NA" %></td>
                            <td>$<%= number_with_precision(cbk.try(:amount),precision: 2) %></td>
                            <td><%= cbk.try(:card_number) %></td>
                            <td class="loc-cbks-st-12">
                              <% if cbk.try(:status)=='won_reversed' %>
                                  <span class="badge badge-success loc-cbks-st-13">Won/Reversed</span>
                              <% elsif cbk.try(:status)=='sent_pending' %>
                                  <span class="badge badge-primary loc-cbks-st-14">Sent/Pending</span>
                              <% elsif cbk.try(:status)=='lost' %>
                                  <span class="badge badge-danger loc-cbks-st-15">Lost</span>
                              <% elsif cbk.try(:status)=='dispute_accepted' %>
                                  <span class="badge badge-danger loc-cbks-st-16">Dispute Accepted</span>
                              <% end %>
                            </td>
                            <td>
                              <%= link_to '<span class="btn btn-primary btn-sm">Edit</span>'.html_safe, dispute_case_admins_disputes_path(transaction: cbk.charge_transaction.id, main_transaction_id: cbk.charge_transaction.seq_transaction_id, requested_path: 'location_cbks'),remote: true, data: { disable_with: "<span class='btn btn-primary btn-sm'><i class='fa fa-refresh fa-spin'> </i> Loading...</span>" } %>
                            </td>
                          </tr>
                      <% end %>
                  <% end %>
                  </tbody>
                </table>
              </div>
            </div>
          </section>
        </div>
      </div>
    </div>
  </div>
</section>


<script>
    $(".padd").css("margin","-15px 20px 20px 0px");
    var table = $('#datatable-keytable').DataTable({
        "responsive": true,
        "sScrollX": false
    });
</script>