
<%= render layout: 'merchant_profile' do |f| %>
  <div class="row">
    <div class="col-md-12">
      <h5 class="card-title loc-st-1">Location Info</h5>
      <%= f.fields_for :location, Location.new do |form| %>
        <%= form.hidden_field :merchant_id, value:params[:merchant_id].present? ? params[:merchant_id] : '' %>
        <%= form.hidden_field :location_id, value:@location.present? ? @location.id : ''%>
        <%= form.hidden_field :loc, value: params[:loc].present? ? params[:loc] : 'new' %>
        <div class="col-md-12">
        <div class="form-group col-md-5">
          <%= form.label :business_name, "DBA Name" %><br />
          <%= form.text_field :business_name , id:"business_name", value: @location.present? ? @location.try(:business_name) : '', class:"form-control input-lg", placeholder:"DBA Name"%>
        </div>
          <div class="form-group col-md-5">
            <%= form.label :tax_id, "Tax Id" %><br />
            <%= form.text_field :tax_id , id:"tax_id", value: @location.present? ? @location.try(:tax_id) : '', class:"form-control input-lg", placeholder:"Tax Id" %>
          </div>
      </div>
    <div class="col-md-12">
      <div class="form-group col-md-5">
        <%= form.label "Address" %><br />
        <%= form.text_field :address, id:"address", value: @location.present? ? @location.try(:address) : '', class:"form-control input-lg", placeholder:"Address" %>
      </div>
      <div class="form-group col-md-3">
        <%= form.label :country, "Country" %>
        <%= form.select :country, options_for_select(COUNTRIES, :selected => @location.present? ? @location.try(:country) : 'United States'), {:include_blank => 'Select Country'}, class: "form-control input-lg admins_country_field_location", required: 'required', placeholder: "Country" %>
      </div>
      <%
        if @location.present? && @location.country.present?
          if @location.country == ("United States")
        country_code = "us"
        else
        country   = ISO3166::Country.find_country_by_name(@location.try(:country))
        country_code = country.present? ? country.try(:alpha2) : ""
        end
          @states = country_code.present? ? CS.states(country_code) : ""
        else
          country_code = "us"
          @states = CS.states(country_code)
        end
      %>
      <div class="form-group col-md-2">
        <%= form.label :state, "State" %>
        <%= form.select :state, options_for_select(@states, :selected => @location.present? ? @location.try(:state) : ''), {:include_blank => 'Select State'}, class: "form-control input-lg admins_states_field_state", required: 'required', placeholder: "State" %>
        </div>

    </div>
        <div class="col-md-12">
         <!-- <div class="form-group col-md-5">
            <%#= form.label :state, "State" %><br />
            <%#= form.text_field :state , id:"state", value: @location.present? ? @location.try(:state) : '', class:"form-control input-lg", placeholder:"State" %>
          </div>-->
          <div class="form-group col-md-5">
            <%= form.label :city, "City" %><br/>
            <%= form.text_field :city, id: "city", value: @location.present? ? @location.try(:city) : '', class: "form-control input-lg", placeholder: "City" %>
          </div>
          <div class="form-group col-md-5">
            <%= form.label :zip, "Zip Code" %><br />
            <%= form.text_field :zip , id:"zip", value: @location.present? ? @location.try(:zip) : '', class:"form-control input-lg", placeholder:"Zip Code" %>
          </div>
        </div>

        <div class="col-md-12">
          <div class="form-group col-md-5">
            <%= form.label :business_type, "Business Type" %><br />
            <%= form.text_field :business_type , id:"business_type", value: @location.present? ? @location.try(:business_type) : '', class:"form-control input-lg", placeholder:"Business Type" %>
          </div>
          <div class="form-group col-md-5">
            <%= form.label :first_name, "Location Contact Name" %><br />
            <%= form.text_field :first_name , id:"first_name", value: @location.present? ? "#{@location.try(:first_name)}" : '', class:"form-control input-lg", placeholder:"Location Contact Name"%>
          </div>
        </div>
    <div class="col-md-12">
      <div class="form-group col-md-5">
        <%= form.label :phone_number, "Contact Phone Number", id: "phone_heading_second" %><br />
        <%= form.text_field :phone_number , id:"location_phone_number", maxlength: 14, value: @location.present? ? "+#{@location.try(:phone_number)}" : '', class:"form-control input-lg autocomplete_off"%>
        <input type="hidden" name="phone_code" id="location_phone_code">
        <span class="phone-error" id="cont_phone_error"></span>
      </div>
      <div class="form-group col-md-5">
        <%= form.label :email, "Customer Service Email" %><br />
        <%= form.text_field :email , id:"email", value: @location.present? ? @location.try(:email) : '', class:"form-control input-lg", placeholder:"Customer Service Email"%>
        <span class="email-error"></span>
      </div>
    </div>
        <div class="col-md-12">
          <div class="form-group col-md-5">
            <%= form.label :cs_number, "Customer Service Phone Number", id: "cspn_heading" %><br />
            <%= form.text_field :cs_number , id:"cs_number", maxlength: 14, value: @location.present? ? "+#{@location.try(:cs_number)}" : '', class:"form-control input-lg autocomplete_off"%>
            <input type="hidden" name="cs_number_code" id="cs_number_code">
            <span class="phone-error" id="cs_phone_error"></span>
          </div>
          <div class="form-group col-md-5">
            <div class="form-group col-md-11 loc-st-2">
              <%= label_tag 'category_id', "Category" %>
              <% if @location.present? %>
                <% if @location.category_id.nil? %>
                  <%= select_tag "user[location][category_id]",  options_from_collection_for_select(@categories, "id", "name" , 'Select Category'), id:'category_id', class: 'form-control input-lg', include_blank: "Select Category" %>
                <% else %>
                  <%= select_tag "user[location][category_id]", options_from_collection_for_select(@categories, "id", "name" , @location.category_id.present? ? @location.category_id : 'Select Category'), id:'category_id', class: 'form-control input-lg', include_blank: "Select Category" %>
                <% end %>
              <% else %>
                <%= select_tag "user[location][category_id]", options_from_collection_for_select(@categories, "id", "name" , 'Select Category'), id:'category_id', class: 'form-control input-lg category_id', include_blank: "Select Category" %>
              <% end %>
            </div>
            <div class="col-md-1 loc-st-3 show-cover-spin">
              <%= link_to '<i class="fa fa-plus show-cover-spin"></i>'.html_safe,location_add_category_locations_path,remote: true, class: "loc-st-4 show-cover-spin"%>
            </div>
          </div>
        </div>
        <div class="col-md-12">
          <div class="form-group col-md-5">
            <div class="form-group col-md-11 loc-st-5">
              <%= form.label :ecomm_platform_id, "E-Commerce Platform" %><br />
              <% if @location.present? %>
                <% if @location.ecomm_platform_id.nil? || @location.ecomm_platform_id == "null" %>
                  <%= select_tag "user[location][ecomm_platform_id]", options_from_collection_for_select(@ecom_platforms, "id", "name", 'Select E-comm Platform'), id:'ecomm_platform_id', class: 'form-control input-lg', include_blank: "Select E-comm Platform" %>
                <% else %>
                  <%= select_tag "user[location][ecomm_platform_id]", options_from_collection_for_select(@ecom_platforms, "id", "name" , @location.ecomm_platform_id.present? ? @location.ecomm_platform_id : 'Select E-comm Platform'), id:'ecomm_platform_id', class: 'form-control input-lg', include_blank: "Select E-comm Platform" %>
                <% end %>
              <% else %>
                <%= select_tag "user[location][ecomm_platform_id]", options_from_collection_for_select(@ecom_platforms, "id", "name" , 'Select E-comm Platform'), id:'ecomm_platform_id', class: 'form-control input-lg', include_blank: "Select E-comm Platform" %>
              <% end %>
            </div>
            <div class="col-md-1 loc-st-6 show-cover-spin">
              <%= link_to '<i class="fa fa-plus show-cover-spin"></i>'.html_safe,location_add_ecom_platform_locations_path,remote: true, class: "loc-st-18 show-cover-spin"%>
            </div>
          </div>
        </div>
<!--    <div class="col-md-12">-->
<!--      <div class="form-group col-md-5">-->
<!--        <%#= form.label :bank_account_type, "Bank Account Type" %><br />-->
        <%#= form.select :bank_account_type, options_for_select(Location.bank_account_types.keys.map {|a| [a.humanize, a] }, @location.present? ? @location.bank_account_type : @location_data.present? ? @location_data[:bank_account_type] : ''),{:include_blank=> "Choose"} , { class:"form-control input-lg" }%>

        <%#= form.text_field :bank_account_type , id:"bank_account_type", value: @location.present? ? @location.try(:bank_account_type) : @location_data.present? ? @location_data[:bank_account_type] : '', class:"form-control input-lg", placeholder:"Contact Email"%>
<!--        <span class="email-error"></span>-->
<!--      </div>-->
<!--    </div>-->
<!--    <div class="col-md-12">-->
<!--      <div class="form-group col-md-5">-->
<!--        <%#= form.label :email, "Bank Name" %><br />-->
        <%#= form.text_field :bank_account_name , id:"bank-name", value: @location.present? ? @location.try(:bank_account_name) : @location_data.present? ? @location_data[:bank_account_name] : '', autocomplete: 'off', class:"form-control input-lg", placeholder:"Bank Account Name"%>
<!--      </div>-->
<!--      <div class="form-group col-md-5">-->
<!--        <%#= form.label :bank_routing, "Bank Routing #" %><br />-->
        <%#= form.text_field :bank_routing , id:"bank-routing", value: @location.present? ? @location.try(:bank_routing) : @location_data.present? ? @location_data[:bank_routing] : '', autocomplete: 'off', class:"form-control input-lg", placeholder:"Bank Routing Number"%>
<!--        <span class="email-error"></span>-->
<!--      </div>-->
<!--    </div>-->
<!--    <div class="col-md-12">-->
<!--      <div class="form-group col-md-5">-->
<!--        <%#= form.label :bank_account, "Bank Account #" %><br />-->
        <%#= form.text_field :bank_account , type:"password", id:"password-field", value: @location.present? ? @location.try(:bank_account) : @location_data.present? ? @location_data[:bank_account] : '', autocomplete: 'off', class:"form-control input-lg", placeholder:"Bank Account Name"%>
<!--        <span  onclick="confirm_account_modal()" class="fa fa-fw fa-eye field-icon my-password"></span>-->

<!--      </div>-->
<!--    </div>-->
</div>
    <% end %>
      </div>
<% end %>
<div class="modal fade" id="admin_confirm">
  <div class="modal-dialog modal-sm loc-st-7">
    <div class="modal-content loc-st-8">
      <!-- Modal Header -->
      <div class="modal-header text-left loc-st-9">
        <h4 class="modal-title loc-st-10"><span class="ml-2">Verify</span></h4>
        <button type="button" class="close" data-dismiss="modal">×</button>
      </div>
      <!-- Modal body -->
      <div class="modal-body loc-st-11">
        <div class="loc-st-12">
          <div class="card-body confirm-popup">
            <div class="row">
              <div class="form-group col-md-offset-2 col-md-8">
                <span class="loc-st-13" for="reason">Email</span>
                <br>
                <input type="email" value="<%= current_user.email %>" class="form-control" disabled>
              </div>
              <div class="form-group col-md-offset-2 col-md-8">
                <span class="loc-st-14" for="reason">Password</span>
                <br>
                <input type="password" value="" id="password" class="form-control">
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer loc-st-15" id="">
        <div class=" col-md-offset-2 col-md-8">
          <div class="form-group">
            <a class="btn btn-primary btn-sm loc-st-16" id="password_btn">Verify</a>
            <br>
            <span class="loc-st-17" id="info-text" >Please verify yourself!</span>

          </div>
        </div>
        <br>
      </div>
    </div>
  </div>
</div>
<div id="add_new_category"></div>
<div id="add_new_ecomplatform"></div>
<%= javascript_include_tag 'admins/merchant/location.js' %>