
<div class="title-block">
  <h1 class="title">
    Location Users
  </h1>
</div>
<section class="modal"></section>
<section class="section">
  <div class="row">
    <div class="col-md-12">
      <div class="card sameheight-item items" data-exclude="xs,sm,lg">
        <div class="card-header bordered">
          <div class="col-md-6 lo-users-st">
            <div class="header-block"><h3 class="title pull-left">Users</h3></div>
          </div>
          <div class="col-md-6">
            <%= link_to("Add New Employee",admins_merchants_employee_path(location_id: @location.id,merchant_id: params[:format]) ,remote: true,class: 'btn btn-primary btn-sm pull-right merchant_cover_spin') %>
          </div>
        </div>
        <div class="tab_data_details">
          <section class="example">
            <div class="">
              <div class="table-responsive">
                <table id="datatable-keytable" class="table table-striped table-bordered table-hover" cellspacing="0" cellpadding="0">
                  <thead>
                  <tr>
                    <th>ID</th>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Email</th>
                    <th>Contact</th>
                    <th>Actions</th>
                  </tr>
                  </thead>
                  <tbody>
                  <% if @location_users.present? %>
                      <% @location_users.each do |user| %>
                          <tr>
                            <td><%= user.id %></td>
                            <td><%= user.first_name.present? ? user.first_name.try(:capitalize) : user.name.try(:capitalize) %></td>
                            <td><%= user.last_name %></td>
                            <td><%= user.email %></td>
                            <td><%= user.phone_number %></td>
                            <td>
                              <%= link_to("Edit",admins_merchants_employee_path(location_id: @location.id,merchant_id: params[:format],user_id: user.id) ,remote: true,class: 'btn btn-primary btn-sm merchant_cover_spin') %>
                              <%= link_to("Remove", admins_merchants_delete_users_path(user_id: user.id), class: 'btn btn-danger btn-sm' , :data => {confirm: "Are you sure you want to delete user?"}) %>
                            </td>
                          </tr>
                      <% end %>
                  <% end %>
                  </tbody>
                </table>
              </div>
            </div>
          </section>
        </div>
      </div>
    </div>
  </div>
</section>


<script>
    $(".padd").css("margin","-15px 20px 20px 0px");
    var table = $('#datatable-keytable').DataTable({
        "responsive": true,
        "sScrollX": false
    });
</script>