
<div class="container">
  <div class="row">
    <div class="card">
      <div class="card-body loc-bank-acc-st-1">
        <div class="errors">
          <% if @merchant.present? %>
            <% if @merchant.errors.present? %>
              <% if @merchant.errors.any? %>
                <ul>
                  <% @merchant.errors.full_messages.each do |msg| %>
                    <li class="text-danger"><%= msg %></li>
                  <% end %>
                </ul>
              <% end %>
            <% end %>
          <% end %>
        </div>

        <%= simple_form_for Location.new, :html => {:multipart => :true }, url: admins_merchants_update_location_bank_path do |f| %>
          <input type="hidden" name="location_id" value="<%= params[:location_id] %>">
          <input type="hidden" name="format" value="<%= params[:format] %>">
          <h3 class="loc-bank-acc-st-2">Bank Account</h3>
            <div class="row loc-bank-acc-st-3">
              <div class="col-md-12">
                <div class="col-md-1">
                  <span class="bullet-label"></span>
                </div>
                <div class="col-md-2 label-name">
                  <label class="cursor_default label-text"><span>Bank Account Type</span></label>
                </div>
                <div class="form-group col-md-3">
                  <%= f.select :bank_account_type, options_for_select(Location.bank_account_types.keys.map {|a| [a.humanize, a] }, @location.present? ? @location.bank_account_type : ''),{:include_blank=> "Choose"} , { class:"form-control" }%>
                </div>
              </div>
              <hr>
              <div class="col-md-12">
                <div class="col-md-1">
                  <span class="bullet-label"></span>
                </div>
                <div class="col-md-2 label-name">
                  <label class="cursor_default label-text"><span>Bank Name</span></label>
                </div>
                <div class="form-group col-md-3">
                  <%= f.text_field :bank_account_name , value:@location.present? ? @location.bank_account_name : '', id:"bank-name", class:"form-control" , autocomplete: 'off' %>
                </div>
              </div>
              <hr class="loc-bank-acc-st-4">
              <div class="col-md-12">
                <div class="col-md-1">
                  <span class="bullet-label"></span>
                </div>
                <div class="col-md-2 label-name">
                  <label class="cursor_default label-text"><span>Bank Routing #</span></label>
                </div>
                <div class="form-group col-md-3">
                  <%= f.text_field :bank_routing , value:@location.present? ? @location.bank_routing : '', id:"bank-routing", class:"form-control" , autocomplete: 'off' %>
                </div>
              </div>
              <hr class="loc-bank-acc-st-5">
              <div class="col-md-12">
                <div class="col-md-1">
                  <span class="bullet-label"></span>
                </div>
                <div class="col-md-2 label-name">
                  <label class="cursor_default label-text"><span>Bank Account #</span></label>
                </div>
                <div class="form-group col-md-3">
                  <%= f.text_field :bank_account ,type:"password", value:@location.present? ? @location.bank_account : '', id:"password-field", class:"form-control", autocomplete: 'off' %>
                  <span  onclick="confirm_account_modal()" class="fa fa-fw fa-eye field-icon my-password"></span>
                </div>
              </div>
              <hr class="loc-bank-acc-st-6">
              <div class="col-md-12 loc-bank-acc-st-24">
                <div class="col-md-1">
                  <span class="bullet-label"></span>
                </div>
                <div class="col-md-2 label-name">
                  <label class="cursor_default label-text"><span>Void Check</span></label>
                </div>
                <div class="col-md-3 file-btn image_form loc-bank-acc-st-7">
                  <input type="hidden" name="image[usage_id]" value="<%= @location.id%>">
                  <input type="hidden" name="image[location_id]" value="<%= @location.id%>">
                  <input type="file" name="image[add_image]"  class='file-btn-input' id="image_store" onchange="save_image()">

                  <%#= f.file_field(:voided_check, multiple: true, class: 'btn') %>
                </div>
                <div class="col-md-8 user_documentation_voided_check img-preview">
                  <div class="row img_up">
                    <% if @image.present? %>
                          <div class="col-md-3 loc-bank-acc-st-8">
                            <div class="doc_image loc-bank-acc-st-25">
                                <%= image_tag @image.add_image.url, :class => 'loc-bank-acc-st-26'%>
                            </div>
                          </div>
                          <div class="col-md-2 custom-style loc-bank-acc-st-9">
                            <div class="col-md-6 delete-btn">
                              <div class="row">
                                <span class="loc-bank-acc-st-10" onClick="delete_img('<%= @location.id %>');"><i class="fa fa-close"></i></span>
                              </div>
                            </div>
                            <br>
                            <br>
                              <div class="col-md-6 loc-bank-acc-st-11">
                                <%= link_to '', @image.add_image.url, download: @image.add_image ,class: 'fa fa-download' %>
                              </div>
                          </div>
                          <div class="image-preview"></div>
                    <% end %>
                  </div>
                </div>
                <div id="files_section"></div>
              </div>

              <div class="loc-bank-acc-st-12">
                <a href="/admins/merchants/profile?location_id=<%=params[:location_id] %>&format=<%= params[:format] %>" class="cancel-btn btn btn-sm btn-default">Back</a>
                <%= f.submit "Save", class:'save-btn btn btn-sm btn-success'%>
              </div>
            </div>
       <% end %>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="admin_confirm">
  <div class="modal-dialog modal-sm loc-bank-acc-st-13">
    <div class="modal-content loc-bank-acc-st-14">
      <!-- Modal Header -->
      <div class="modal-header text-left loc-bank-acc-st-15">
        <h4 class="modal-title loc-bank-acc-st-16"><span class="ml-2">Verify</span></h4>
        <button type="button" class="close" data-dismiss="modal">×</button>
      </div>
      <!-- Modal body -->
      <div class="modal-body loc-bank-acc-st-17">
        <div class="loc-bank-acc-st-18">
          <div class="card-body">
            <div class="row">
              <div class="form-group col-md-offset-2 col-md-8">
                <span class="loc-bank-acc-st-19" for="reason">Email</span>
                <br>
                <input type="email" value="<%= current_user.email %>" class="form-control" disabled>
              </div>
              <div class="form-group col-md-offset-2 col-md-8">
                <span class="loc-bank-acc-st-20" for="reason">Password</span>
                <br>
                <input type="password" value="" id="password" class="form-control">
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer loc-bank-acc-st-21" id="">
        <div class=" col-md-offset-2 col-md-8">
          <div class="form-group">
            <a class="btn btn-primary btn-sm loc-bank-acc-st-22" id="password_btn">Verify</a>
            <br>
            <span class="loc-bank-acc-st-23" id="info-text" >Please verify yourself!</span>

          </div>
        </div>
        <br>
      </div>
    </div>
  </div>
</div>
<!--

<script>
    function delete_img(a){
        var file = $('#image_store')[0];
        $.ajax({
            url:  "<%= admins_image_delete_path %>",
            type: 'GET',
            data: {id: a},
            success: function(data) {
                $('.img_up').hide();
                file.value = ''
            },
            error: function(data){
                console.log(data);
            }
        });

    }

    $(document).ready(function () {
        $(".my-password").click(function() {
            $(this).toggleClass("fa-eye fa-eye-slash");
            var input = $($(this).attr("toggle"));
            if (input.attr("type") == "password")
            {
                input.attr("type", "text");
            }
            else
            {
                input.attr("type", "password");
            }
        });

        if($('#location_bank_account_type').val()=='')
        {
            $('#bank-routing').attr('disabled',true);
            $('#password-field').attr('disabled',true);
            $('#bank-name').attr('disabled',true);
        }
        $('#location_bank_account_type').on('change',function () {
            if($(this).val()!='')
            {
                $('#bank-routing').attr('disabled',false);
                $('#password-field').attr('disabled',false);
                $('#bank-name').attr('disabled',false);
            }
            else
            {
                $('#bank-routing').attr('disabled',true);
                $('#password-field').attr('disabled',true);
                $('#bank-name').attr('disabled',true);

            }

        });

    });
    $('#password_btn').on('click',function () {
        var password = $('#password').val();
        $.ajax({
            url: "<%= verify_admin_password_admins_buy_rate_index_path %>",
            method: 'get',
            data: {password: password},
            success:function(data){
                $("#password_btn").css("background","green").text('').text("Verified");
                $("#info-text").text('');
                setTimeout(function(){
                    var x = $("#password-field")
                    if (x.attr('type') === "password") {
                        x.attr('type','text')
                    }
                    $('#admin_confirm').modal('hide')
                    $('#password').val("");
                    $("#password_btn").css("background","#7867a7").text('').text("Verify");
                }, 1000);
            },
            error: function(data){
                $("#password_btn").css("border","1px solid red");
                $("#info-text").text('').css("color","red").text('Please try again!');
            }
        });
    });
    function confirm_account_modal() {
        var x = $("#password-field")
        if (x.attr('type') === "password") {
            $('#admin_confirm').modal('show');
        } else {
            x.attr('type','password')
        }
    }

    function save_image(id){

        var file = $('#image_store')[0];
        if (file.value == "") {
            alert('Please select a file to upload')
            $("#test_submit").attr("disabled", true);
        } else {
//            $("#test_submit").attr("disabled", false);
            $('#image_upload').val(id);
            var form = $('#image_form_class2');
            var file_size = parseFloat((file.files[0].size / 1024) / 1024).toFixed(2);
            var ext = file.value.split('.').pop().toLowerCase();
            if ($.inArray(ext, ['png', 'jpg', 'jpeg']) == -1) {
                alert("Only 'Png', 'Jpeg', 'JPG' allowed");
            } else {
                if (file_size <= 4) {

                } else {
                    alert('Please select a file less than 4MB')
                }
            }
        }
    }
</script>







-->
