
<div class="container">
  <div class="row">
    <div class="card">
      <div class="card-body loc-setting-st-1">
        <div class="errors">
          <% if @merchant.present? %>
            <% if @merchant.errors.present? %>
              <% if @merchant.errors.any? %>
                <ul>
                  <% @merchant.errors.full_messages.each do |msg| %>
                    <li class="text-danger"><%= msg %></li>
                  <% end %>
                </ul>
              <% end %>
            <% end %>
          <% end %>
        </div>
        <%= simple_form_for User.new, url: admins_merchants_update_setting_path do |form| %>
          <%=form.fields_for :location, @location do |f|  %>
          <h3 class="loc-setting-st-2">Settings</h3>
          <div class="loc-setting-st-3">
            <input type="hidden" name="location_id" value="<%= params[:location_id] %>">
            <%= render partial: 'admins/merchants/setting', :locals => {:form => f} %>
            <hr>
            <div class="loc-setting-st-4">
              <a href="/admins/merchants/profile?location_id=<%=params[:location_id] %>&format=<%= params[:format] %>" class="cancel-btn btn btn-sm btn-default">Back</a>
              <%= form.submit "Save", class:'save-btn btn btn-sm btn-success'%>
            </div>
          </div>
        <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>

<script>
    $(".add-web").on("click", function(){
        $(".web-row").append("<div class='col-md-12 new-web'><div class='form-group col-md-3'><input type='url' name='user[location][web_site][]' pattern='https?://.+' class='form-control' placeholder='https://www.google.com'></div><div class='col-sm-2' style='padding-right: 7%;'><span class='fa fa-minus remove-web'></span></div></div>")
    })
    $(document).on('click','.remove-web',function(){ // remove baked user
        $(this).parent().parent().remove();
    });

    $(".save-btn").click(function (e) {
        validateSettingForm("new_user")
    })
</script>







