<%#= form_for User.merchant.new , :url => merchants_path , :html => { :multipart => true }, method: :post  do |f| %>
<div class="title-block">
  <h1 class="title text-capitalize new-st">
    New Merchant
  </h1>
</div>
<%#= form_for User.new, url: wizard_path(:id => :new) do |f| %>

  <%#= yield f %>

  <div class="actions">
    <%= link_to "Continue", next_wizard_path(:id => :corporate) %>
  </div>
<%# end %>
<%#= render 'admins/merchants/merchant_profile'%>
<%# end %>
