<% num = @count+1 %>
<% user_array = ["<div class='form-group col-md-4 main-fields-2'><div class='row'><div class='col-md-1 merchant_next_baked_user' ><span><a id='remove_baked_users'  class='col-md-12 minus-button '><i class='fa fa-minus-circle fa-2x new_div5'></i></a></span></div><div class='col-md-11 main-field ui-front'><input type='text' class='next-baked-users first-user form-control input-field XXXXXX' value='' id='XXXXXX' name='profit_splits[splits][OOOOOO][user_1][name]' autocomplete='off' placeholder='User 1'><input type='hidden' id='XXXXXXHidden' value='' name='profit_splits[splits][OOOOOO][user_1][wallet]' class='form-control' required='true'><div id='XXXXXX_error'></div></div></div></div>","<div class='form-group col-md-4 ui-front ui-front1'><input type='text' class='next-baked-users form-control input-field' value='' id='XXXXXX' name='profit_splits[splits][OOOOOO][user_2][name]' autocomplete='off' placeholder='User 2'><input type='hidden' id='XXXXXXHidden' value='' name='profit_splits[splits][OOOOOO][user_2][wallet]' class='form-control'><div id='XXXXXX_error'></div></div>","<div class='form-group col-md-4 ui-front ui-front2'><input type='text' class='next-baked-users form-control input-field' value='' id='XXXXXX' name='profit_splits[splits][OOOOOO][user_3][name]' autocomplete='off' placeholder='User 3'><input type='hidden' id='XXXXXXHidden' value='' name='profit_splits[splits][OOOOOO][user_3][wallet]' class='form-control'><div id='XXXXXX_error'></div></div>"] %>
<% user_array.each_with_index do |a,i|  %>
  <% co = i + num  %>
  <% b = a.gsub("XXXXXX","user_#{co}") %>
  <% b = b.gsub("OOOOOO","#{@count}")  %>
  <% user_array[i] = b %>
<% end %> // setting id for users
<% split_array = ["<div class='col-md-4 sub-fields'><div class='row'><div class='col-md-1'></div><div class='col-md-11 sub-fields1'><div class='col-md-6 form-group1' style='padding-left: 0px'><div class='input-icon icon_inside_input_field'><i>%</i><input type='text' name='profit_splits[splits][OOOOOO][user_1][percent]' id='XXXXXX_percent' class='form-control percentage_validation user_percent user-percentOOOOOO' data-count='OOOOOO' value='' placeholder='0' step='any'></div><div id='XXXXXX_percent_error' class='percent_error'></div></div><div class='col-md-6 form-group2'><div class='input-icon icon_inside_input_field'><i>$</i><input type='number' name='profit_splits[splits][OOOOOO][user_1][dollar]' class='form-control amount_field two_decimal user_percent user_dollar user-dollarOOOOOO' id='XXXXXX_dollar' data-count='OOOOOO' placeholder='0.00' step='any'></div></div><div class='split_errorOOOOOO color-red'></div></div></div></div>",
"<div class='form-group3 col-md-2'><div class='input-icon icon_inside_input_field'><i>%</i><input type='text' name='profit_splits[splits][OOOOOO][user_2][percent]' id='XXXXXX_percent' class='form-control percentage_validation user_percent' value='' placeholder='0' step='any'></div><div id='XXXXXX_percent_error' class='percent_error'></div></div><div class='form-group4 col-md-2'><div class='input-icon icon_inside_input_field'><i>$</i><input type='number' name='profit_splits[splits][OOOOOO][user_2][dollar]' class='form-control amount_field two_decimal user_percent' id='XXXXXX_dollar' placeholder='0.00' step='any'></div></div>","<div class='form-group5 col-md-2'><div class='input-icon icon_inside_input_field'><i>%</i><input type='text' name='profit_splits[splits][OOOOOO][user_3][percent]' id='XXXXXX_percent' class='form-control percentage_validation user_percent' value='' placeholder='0' step='any'></div><div id='XXXXXX_percent_error' class='percent_error'></div></div><div class='form-group6 col-md-2'><div class='input-icon icon_inside_input_field'><i>$</i><input type='number' name='profit_splits[splits][OOOOOO][user_3][dollar]' class='form-control amount_field two_decimal user_percent' id='XXXXXX_dollar' placeholder='0.00' step='any'></div></div>"] %>
<% split_array.each_with_index do |a,i|  %>
<% co = i + num  %>
<% b = a.gsub("XXXXXX","user_#{co}") %>
<% b = b.gsub("OOOOOO","#{@count}")  %>
<% split_array[i] = b %>
<% end %>
baked_section = '<div class="row field-style section<%= num %>" style="padding: 10px" id="baked_iso_on_section"><div class="col-md-12 new_div47"><div class="col-md-12">'+ htmlDecode('<%= user_array.first %>')+ '' + htmlDecode('<%= user_array.second %>') +''+ htmlDecode('<%= user_array.third %>')+'</div><div class="col-md-1"  style="margin-top: 2%;padding-left: 10px"></div>' +
    '<div class="col-md-12">'+ htmlDecode('<%= split_array.first %>') + '' + htmlDecode('<%= split_array.second %>') + '' + htmlDecode('<%= split_array.third %>') +'</div></div></div>';
$("#baked_section").append(baked_section);

function htmlDecode(input){ // transalating &lt to <
  var e = document.createElement('div');
  e.innerHTML = input;
  return e.childNodes[0].nodeValue;
}
$('#cover-spin').fadeOut();
$(".two_decimal").on('input', function() {
    this.value = this.value.match(/\d{0,12}(\.\d{0,2})?/)[0];
});
$(".percentage_validation").inputFilter(function (value) {
    return /^\d*(\.\d{0,2})?$/.test(value) && (value === "" || parseFloat(value) <= 100);
});