
<%= render layout: 'merchant_profile', remote: true do |f| %>
  <% if @owners.present? %>
    <%= render partial: 'admins/merchants/edit_owners', locals: {from: "edit-owners"} %>
  <% else %>
    <div class="row owners_form" id="owners<%= @count %>">
      <div class="col-md-12">
        <h5 class="card-title owners-st-1">Owner / Partner / Officer <span class="first-count"><%= @count %></span></h5>
        <input type="hidden" class = "form_number" value="<%= @count  %>">
        <%= f.fields_for :owner, Owner.new do |f| %>
          <div class="col-md-12">
            <input type="hidden" name="user[owner][0][user_id]" value="<%= params[:merchant_id] %>">
            <input type="hidden" name="user[user_id]" id="user_form_id" value="<%= params[:merchant_id] %>">
            <div class="form-group col-md-5">
              <%= f.label :name, "Owner's Name" %><br />
              <input type="text" name="user[owner][0][name]" id="name" class="form-control input-lg" placeholder="Owner's Name">
            </div>
            <div class="form-group col-md-5">
              <%= f.label :title, "Title" %><br />
              <input type="text" name="user[owner][0][title]" id="tilte" class="form-control input-lg"  step="number" placeholder="Title">
            </div>
          </div>
          <div class="col-md-12">
            <div class="form-group col-md-5">
              <%= f.label :address, "Home Address" %><br />
              <input type="text" name="user[owner][0][address]" id="address" class="form-control input-lg" placeholder="Home Address">
            </div>
            <div class="form-group col-md-3">
              <%= f.label :country, "Country" %><br/>
              <%= select_tag 'user[owner][0][country]', options_for_select(COUNTRIES, :selected => "United States"), include_blank: 'Select Country', data: "#{@count - 1}", class: 'form-control input-lg admins_country_field', required: 'required' %>
            </div>
            <div class="form-group col-md-2">
              <%= f.label :state, "State" %><br/>
              <%= select_tag 'user[owner][0][state]', options_for_select(CS.states('us'), :selected =>""), include_blank: 'Select State', class: "form-control input-lg admins_states_field disable#{@count - 1}", required: 'required' %>
            </div>
          </div>
          <div class="col-md-12">

            <div class="form-group col-md-5">
              <%= f.label :city, "City" %><br/>
              <input type="text" name="user[owner][0][city]" id="city" class="form-control input-lg" placeholder="City">
            </div>
<!--            <div class="form-group col-md-5">-->
<!--              <label for="message-text" class="col-form-label label-color">State</label>-->
              <%#=  text_field_tag "state","", id: "state1", class: "validate_form form-control shadow-sm adjust-popup-fields  icon-input txtOwner"%>
              <%#= select_tag "state", options_for_select(CS.states(:us), selected: ''), {:class => 'form-control'} %>
<!--            </div>-->
<!--            </div>-->
            <div class="form-group col-md-5">
              <%= f.label :zip_code, "Zip Code" %><br />
              <input type="text" name="user[owner][0][zip_code]" id="zip_code" class="form-control input-lg" placeholder="Zip Code">
            </div>
          </div>
          <div class="col-md-12">
            <div class="form-group col-md-5 phone-box">
              <%= f.label :phone_number,  "Owner’s Contact Number", id:"phone_heading_second", class:"phone-heading" %><br />
              <input type="text" maxlength="14" name="user[owner][0][phone_number]" id="phone_number" class="form-control input-lg autocomplete_off" >
              <input type="hidden"   name="user[owner][0][phone_code]" id="phone_code">
              <span class="phone-error" id="phone_error"></span>
            </div>
            <div class="form-group col-md-5">
              <%= f.label :ssn, "Owner’s Contact Email" %><br />
              <input type="text" name="user[owner][0][email]" id="email" class="form-control input-lg" placeholder="Contact Email">
            </div>
          </div>
          <div class="col-md-12">
            <div class="form-group col-md-5">
              <%= f.label :ssn, "Social Security" %><br />
              <input type="text" name="user[owner][0][ssn]" id="ssn" class="form-control input-lg ssn" placeholder="Social Security Number" >
            </div>
            <div class="form-group col-md-5" id="date_parent">
              <%= f.label :date_of_birth, " Date Of Birth" %><br />
              <input type="text" name="user[owner][0][date_of_birth]" id="date_of_birth" class="form-control input-lg re_default datepicker datepicker1 datepicker_owner date_of_birth autocomplete_off" placeholder="Date Of Birth"  >
              <div  class="date_of_birth_error has-error"></div>
            </div>
            </div>
          <div class="col-md-12">
            <div class="form-group col-md-5">
              <%= f.label :dl, "Driver's License" %><br />
              <input type="text" name="user[owner][0][dl]" id="dl" class="form-control input-lg" placeholder="Driving License">
            </div>
            <div class="form-group col-md-5">
              <%= f.label :dl_state_issue, "DL State Issued" %><br />
              <%= select_tag 'user[owner][0][dl_state_issue]', options_for_select(CS.states('us'), :selected => " "), include_blank: 'Select State' , class: "form-control input-lg disable#{@count-1}" , required: 'required' %>
            </div>
          </div>
          <div class="col-md-12">
            <div class="form-group col-md-5">
              <%= f.label :ownership, "Ownership %" %><br />
              <input type="number" name="user[owner][0][ownership]" id="ownership" class="form-control float_value input-lg ownership percent buyrate_fields"  step="number" placeholder="Ownership %">
            </div>
          </div>

          <div class="duplicate_owner owners">

          </div>

          <div class="col-md-12">
            <div class="form-group col-md-5">
              <% @count = @count + 1 %>
              <span class="duplicate-owner-button owners-st-2 show-cover-spin">+ Owner / Partner / Officer <span class="count"><%= @count %></span></span>
            </div>
          </div>
        <% end %>
      </div>

  <% end %>
  </div>
<% end %>
<%= javascript_include_tag "admins/merchant/owner.js" %>