<link href="https://gitcdn.github.io/bootstrap-toggle/2.2.2/css/bootstrap-toggle.min.css" rel="stylesheet">
<script src="https://gitcdn.github.io/bootstrap-toggle/2.2.2/js/bootstrap-toggle.min.js"></script>
<section id="modal_section"></section>
<div class="row">
  <div class="col-md-12">
    <div class="col-md-4 profile-st-1">
      <div class="profile-st-2">
        <label class="m-name"><%= @merchant.try(:name).try(:titleize)%></label>
      </div>
      <div>
        <label class="m-id">MID-<%= @merchant.id%></label>
      </div>
      <div class="m-ida">
        <span class="icon icon-globe fa-2x"></span><span class="fa fa-mobile fa-2x profile-st-3"></span>
      </div>
      <div class="profile-st-4">
        <label class="m-ida"><span class="fa fa-calendar-o"></span> Start Date: <%= @merchant.created_at.strftime('%m/%d/%Y')%></label>
      </div>
      <div class="profile-st-5">
        <label class="m-ida"><a href="#" id="reset"><span class='fa fa-history'></span> Reset Password</a></label>
      </div>
      <div class="profile-st-6">
        <label class="m-ida">
          <% if @merchant.is_block? %>
            <input type="checkbox" id="block" class="btn btn-default" data-toggle="toggle" data-on="Active" data-off="Inactive" data-onstyle="success" data-offstyle="danger">
          <% else %>
            <input type="checkbox" id="block" checked data-toggle="toggle" data-on="Active" data-off="Inactive" data-onstyle="success" data-offstyle="danger">
          <% end %>
        </label>
      </div>
      <div class="profile-st-7">
        <label class="m-ida pull-right"> 2-Step Verification
          <% if @merchant.two_step_verification? %>
            <button class="btn btn-default btn-sm two_step profile-st-8"><span class="two_step_text profile-st-9">On</span><span class="fa fa-circle two_step_color profile-st-10"></span></button>
        <% else %>
              <button class="btn btn-default btn-sm two_step profile-st-11"><span class="two_step_text profile-st-12">Off</span><span class="fa fa-circle two_step_color profile-st-13"></span></button>

        <% end %>
        </label>
      </div>
    </div>
    <div class="col-md-8" >
      <div class="col-md-10 cb-profile-st-1">
        <div>
          <label class="m-name">Chargebacks</label>
        </div>
        <div class="row">
          <div class="col-md-12">
            <%# @dispute_case.where(created_at: Time.zone.now.beginning_of_month..Time.zone.now.end_of_month).group_by &:status %>
            <%= column_chart @dispute_case.group(:status).count.transform_keys{ |key| key.to_s.titleize }, width: "100%", height: "20%"  %>
          </div>
<!--          <div class="col-md-3">-->
            <%# DisputeCase.statuses.each do|d| %>
            <%# end %>
<!--          </div>-->
          <div class="col-md-12">

          </div>
        </div>
        <div class="row cb-profile-st-2">
          <div class="col-md-1"></div>

          <div class="col-md-10 cbk-line cb-profile-st-3">
            <div class="col-md-8 cb-profile-st-4">
              <div class="col-md-3 col_md_3_cbk">
                <p class="cbk_text">CBK Per Day</p>
                <p class="cbk_value"><b><%= @dispute_case.where(created_at: Time.zone.now.beginning_of_day..Time.zone.now.end_of_day).count %></b></p>
              </div>
              <div class="col-md-3 col_md_3_cbk">
                <p class="cbk_text">CBK Per Month</p>
                <p class="cbk_value"><b><%= @dispute_case.where(created_at: Time.zone.now.beginning_of_month..Time.zone.now.end_of_month).count %></b></p>
              </div>
              <div class="col-md-3 col_md_3_cbk">
                <p class="cbk_text">CBK %</p>
                <p class="cbk_value"><b><%=  number_with_precision(@dispute_case.count.to_f * 100 / @merchant.transactions.count.to_f, :precision => 2) %></b></p>
              </div>
              <div class="col-md-3 col_md_3_cbk cb-profile-st-5">
                <p class="cbk_text">CBK Volume</p>
                <p class="cbk_value"><b>$<%= number_with_precision(@dispute_case.where(created_at: Time.zone.now.beginning_of_month..Time.zone.now.end_of_month).where.not(status: "dispute_accepted").sum(:amount), :precision => 2, :delimiter => ',') %></b></p>
              </div>

            </div>
            <div class="col-md-4 cb-profile-st-6">
              <div class="col-md-3 col_md_3_cbk_next">
                <p class="p_cbk_next"><b><%= @dispute_case.won_reversed.count %></b></p>
                <p class="p_cbk_next_val">Won</p>
              </div>
              <div class="col-md-5  col_md_3_cbk_next">
                <p class="p_cbk_next"><b><%= @dispute_case.sent_pending.count %></b></p>
                <p class="p_cbk_next_val">In-Progress</p>
              </div>
              <div class="col-md-3  col_md_3_cbk_next">
                <p class="p_cbk_next"><b><%= @dispute_case.lost.count %></b></p>
                <p class="p_cbk_next_val">Lost</p>
              </div>
            </div>
          </div>
          <div class="col-md-1"></div>
        </div>

      </div>
    </div>
  </div>
  <div class="col-md-12 ci-profile-st-1">
    <div class="col-md-4 ci-profile-st-2">
      <div class="col-md-12 ci-profile-st-3">
        <label><u>Company Information</u></label><span class="pull-right"><small><b>Tax ID: </b><%= @merchant.try(:profile).try(:tax_id) %></small></span>
      </div>
      <div class="col-md-12 ci-profile-st-4">
        <div>
          <label class="ci-profile-st-5">Legal Name: </label> <%= @merchant.try(:company).try(:name).try(:capitalize) %>
        </div>
        <div>
          <label class="ci-profile-st-6">Business Type: </label> <%= @merchant.try(:profile).try(:business_type).try(:capitalize) %>
        </div>
        <div>
          <label class="ci-profile-st-7">Years In Business: </label> <%= @merchant.try(:profile).try(:years_in_business) %>
        </div>
        <div>
          <label class="ci-profile-st-8">Email: </label> <%= @merchant.try(:company).try(:company_email) %>
        </div>
        <div>
          <label class="ci-profile-st-9">Phone: </label> <%= @merchant.try(:company).try(:phone_number) %>
        </div>
      </div>

      <div class="col-md-12 ci-profile-st-10">
        <label><u>Owner Information</u></label>
      </div>
      <div class="owners">
        <% count = 1 %>
        <% @owners.each do |owner| %>
        <div class="col-md-12 ci-profile-st-11" id="owner_<%=owner.id %>">
          <p class="ci-profile-st-12">Owner <%=count %> </p>
          <a href="#" onclick="remove_owner('<%= owner.id %>', '<%= @merchant.id %>')" class="ci-profile-st-13">Remove</a>
          <div>
            <label class="ci-profile-st-14">Owner's Name: </label> <%= owner.name %>
          </div>
          <div>
            <label class="ci-profile-st-15">Ownership %: </label> <%= owner.ownership %>
          </div>
          <div>
            <label class="ci-profile-st-16">SSN #: </label> <%= owner.ssn %>
          </div>
          <div>
            <label class="ci-profile-st-17">Phone: </label> <%= owner.phone_number %>
          </div>
          <div>
            <label class="ci-profile-st-18">Address: </label> <%= owner.address %>
          </div>
        </div>
          <% count = count + 1 %>
        <% end %>
      </div>
      <div class="col-md-12 ci-profile-st-19">
        <% if @ownersCount > 2 %>
        <a href="#" class="view-more ci-profile-st-20" onclick="more_owners(<%= @merchant.id %>)"><span class="ci-profile-st-21">View More</span></a>
        <% end %>
        <a href="<%= next_wizard_path(:id => :corporate, :merchant_id => @merchant.id, :status => :c1, :corporate => "1") %>" class="pull-right"><span class="fa fa-external-link fa-2x"></span></a>
      </div>
    </div>
    <div class="col-md-8">
      <div class="col-md-12 ci-more-profile-st-1">
        <% Location.where(merchant_id: @merchant.id).each_with_index do |l,i| %>
          <% if i == 0 %>
            <div class="col-md-12 dba_location ci-more-profile-st-2">
          <% else %>
            <div class="col-md-12 dba_location ci-more-profile-st-3">
          <% end %>
          <div class="col-md-12">
            <div class="col-md-10 ci-more-profile-st-4" data-toggle="collapse" data-target="#demo_<%= l.id %>">
              <div class="col-md-4 ci-more-profile-st-5">
                <h5 class="ci-more-profile-st-6" title="<%= l.business_name.try(:titleize) %>">DBA: <%= l.business_name.present? ? l.business_name.try(:titleize).truncate(13) : "Missing Name" %></h5>
              </div>
              <div class="col-md-8 ci-more-profile-st-7">
                <p class="tags ci-more-profile-st-8" title="CBD">CBD</p>
                <p class="tags ci-more-profile-st-9" title="<%= "#{l.risk.try(:capitalize)} Risk" %>"><%= "#{l.risk.try(:capitalize)} Risk" || "Risk" %></p>
                <p class="tags ci-more-profile-st-10" title="<%= l.business_type.try(:capitalize) %>"><%= l.business_type.present? ? l.business_type.try(:capitalize).truncate(9) : "Type" %></p>
                <p class="tags ci-more-profile-st-11" title="<%= l.category.present? ? l.category.class != String ? l.category.try(:name).try(:capitalize) : l.category.try(:capitalize) : "Category"  %>"><%= l.category.present? ? l.category.class != String ? l.category.try(:name).try(:capitalize).truncate(9) : l.category.try(:capitalize).truncate(9) : "Category"  %></p>
              </div>
            </div>
            <div class="col-md-2 ci-more-profile-st-12">
              <% if l.is_block? %>
                  <button class="btn btn-default btn-sm pull-right location_active_inactive location_block_<%= l.id %> ci-more-profile-st-13" data-value="false" onclick="location_block('<%= l.id %>')"><span class="ci-more-profile-st-14 location_block_text_<%= l.id %>">Inactive</span><span class="fa fa-circle location_block_color_<%= l.id %> ci-more-profile-st-15"></span></button>
              <% else %>
                  <button class="btn btn-default btn-sm pull-right location_active_inactive location_block_<%= l.id %> ci-more-profile-st-16" data-value="true" onclick="location_block('<%= l.id %>')"><span class="location_block_text_<%= l.id %> ci-more-profile-st-17">Active</span><span class="fa fa-circle location_block_color_<%= l.id %> ci-more-profile-st-18"></span></button>
              <% end %>
            </div>
            <div class="col-md-12 ci-more-profile-st-19" data-toggle="collapse" data-target="#demo_<%= l.id %>">
              <h6 class="ci-more-profile-st-20">Wallet ID: <%= l.wallets.try(:primary).try(:first).try(:id)  %></h6>
              <p class="tagsasd ci-more-profile-st-21">Web: <%= l.web_site.present? ? JSON(l.web_site).first : '' %></p>
            </div>
            <div id="demo_<%= l.id %>" class="col-md-12 collapse ci-mm-profile-st-1">
              <div class="col-md-12 ci-mm-profile-st-2">
                <div class="col-md-6 ci-mm-profile-st-3">
                  <% sale_limit = l.sale_limit.present? ? l.sale_limit : 0 %>
                  <% if l.sale_limit_percentage.present? %>
                    <% sale_limit = sale_limit + (sale_limit * l.sale_limit_percentage)/100 %>
                  <% end %>
                  <!-- transaction_issue for virtual terminal transaction -->
                  <%# transaction_issue = @merchant.transactions.where(created_at: Time.zone.now.beginning_of_month..Time.zone.now.end_of_month, action: "issue").select{|t| t.user_id == t.sender_id || t.sender_wallet_id == l.wallets.primary.first.id || t.receiver_wallet_id == l.wallets.primary.first.id}.pluck(:amount).sum(&:to_f) %>
                  <%# transaction_amount = @merchant.transactions.where(created_at: Time.zone.now.beginning_of_month..Time.zone.now.end_of_month, status: ["complete","approved"], main_type:["eCommerce","Virtual Terminal","Credit Card", "sale"]).select{|t| t.sender_wallet_id == l.wallets.primary.first.id || t.receiver_wallet_id == l.wallets.primary.first.id}.pluck(:amount).sum(&:to_f) %>
                  <% wallet_id = l.wallets.try(:primary).try(:first).try(:id) %>
                  <% transaction_amount = Transaction.where(created_at: Time.zone.now.beginning_of_month...Time.zone.now.end_of_month, to: wallet_id,main_type: ["eCommerce","Virtual Terminal","Credit Card", "sale","virtual_terminal_sale", "B2B Transfer"]).or(Transaction.where(created_at: Time.zone.now.beginning_of_month...Time.zone.now.end_of_month, from: wallet_id, main_type: ["eCommerce","Virtual Terminal","Credit Card", "sale","virtual_terminal_sale","B2B Transfer"])).pluck(:amount).sum(&:to_f) %>
                  <%# transaction_amount = transaction_issue + transaction_transfer  %>
                  <% if sale_limit > 0 %>
                    <% used_perc = transaction_amount * 100/sale_limit %>
                  <% else %>
                    <% used_perc = 0 %>
                  <% end %>
                  <div class="col-md-12 ci-mm-profile-st-4">
                    <h5 class="ci-mm-profile-st-5">$ <%= number_with_precision(transaction_amount, :precision => 2, :delimiter => ',')  %></h5><p class="ci-mm-profile-st-6"><%= used_perc.to_i %>%</p>
                  </div>
                  <div class="col-md-12 ci-mm-profile-st-7">
                    <h6 class="ci-mm-profile-st-8">Total Processed</h6><p class="ci-mm-profile-st-9">Monthly Limit $<%= number_with_precision(sale_limit, :precision => 2, :delimiter => ',')  %></p>
                  </div>
                </div>
                <div class="col-md-2 ci-mm-profile-st-10">
                  <div class="col-md-12 ci-mm-profile-st-11">
                    <div class="col-md-12 ci-mm-profile-st-12">
                      <h5 class="ci-mm-profile-st-13">10</h5>
                    </div>
                    <div class="col-md-12 ci-mm-profile-st-14">
                      <p class="ci-mm-profile-st-15">Risk Level</p>
                    </div>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="col-md-12 ci-mm-profile-st-16">
                    <div class="col-md-12 ci-mm-profile-st-17">
                      <h5 class="ci-mm-profile-st-18"><%= @merchant.tickets.count %></h5>
                    </div>
                    <div class="col-md-12 ci-mm-profile-st-19">
                      <p class="ci-mm-profile-st-20">Open Tickets</p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-12 ci-mm-profile-st-21">
                <div class="col-md-3">
                  <% if l.try(:wallets).try(:primary).try(:first).try(:is_locked) %>
                    <a href="/admins/merchants/unlock?location_id=<%= l.id %>&type=wallet&merchant_id=<%= params[:format]%>" data-remote="true" onclick="$('#cover-spin').show(0)">
                    <div class="col-md-12 button_info">
                      <p class="lock_btn"><span class="fa fa-lock fa-2x"></span></p>
                      <p class="button_info_text">Wallets</p>
                    </div>
                    </a>
                  <% else %>
                    <a href="/admins/merchants/wallet_detail?location_id=<%= l.id %>&format=<%= params[:format]%>" onclick="$('#cover-spin').show(0)">
                      <div class="col-md-12 button_info">
                        <p class="button_info_text">Wallets</p>
                      </div>
                    </a>
                  <% end %>
                </div>
                <a href="#" onclick="show_transaction('<%= admins_merchants_specfic_transactions_path %>','success','<%= l.try(:wallets).try(:primary).try(:first).try(:id) %>')">
                  <div class="col-md-3">
                    <div class="col-md-12 button_info">
                      <p class="button_info_text">Transactions</p>
                    </div>
                  </div>
                </a>
                <div class="col-md-3">
                <% if l.try(:fees).try(:buy_rate).try(:first).try(:is_locked) %>
                    <a href="/admins/merchants/unlock?location_id=<%= l.id %>&type=fee&merchant_id=<%= params[:format]%>" data-remote="true" onclick="$('#cover-spin').show(0)">
                      <div class="col-md-12 button_info">
                        <p class="lock_btn"><span class="fa fa-lock fa-2x"></span></p>
                        <p class="button_info_text">Fees</p>
                      </div>
                    </a>
                <% else %>
                    <a href="/admins/merchants/location_fee?location_id=<%= l.id %>&format=<%= params[:format]%>"  onclick="$('#cover-spin').show(0)">
                      <div class="col-md-12 button_info">
                        <p class="button_info_text">Fees</p>
                      </div>
                    </a>
                <% end %>
                </div>
                <div class="col-md-3 col_md_3_button_info">
                  <% if l.try(:is_locked) %>
                      <a href="/admins/merchants/unlock?location_id=<%= l.id %>&type=iso_agent" data-remote="true" onclick="$('#cover-spin').show(0)">
                        <div class="col-md-12 button_info">
                          <p class="lock_btn"><span class="fa fa-lock fa-2x"></span></p>
                          <p class="button_info_text">ISO/Agents</p>
                        </div>
                      </a>
                  <% else %>
                    <a href="/admins/merchants/location_iso_agents?location_id=<%= l.id %>&format=<%= params[:format]%>" onclick="$('#cover-spin').show(0)">
                      <div class="col-md-12 button_info">
                        <p class="button_info_text">ISO/Agents</p>
                      </div>
                    </a>
                  <% end %>
                </div>
              </div>
              <div class="col-md-12 ci-mm-profile-st-22">
                <div class="col-md-3">
                  <a href="/admins/merchants/location_cbks?location_id=<%= l.id %>&format=<%= params[:format]%>&type=all" onclick="$('#cover-spin').show(0)">
                    <div class="col-md-12 button_info">
                      <p class="button_info_text">CBK's</p>
                    </div>
                  </a>
                </div>
                <div class="col-md-3">
                  <a href="/admins/merchants/profile_location?location_id=<%= l.id %>" data-remote="true" onclick="$('#cover-spin').show(0)">
                    <div class="col-md-12 button_info">
                      <p class="button_info_text">Profile</p>
                    </div>
                  </a>
                </div>
                <div class="col-md-3">
                  <%= link_to "<div class='col-md-12 button_info'><p class='button_info_text'>APIs</p></div>".html_safe, admins_merchants_apis_keys_path(location_id: l.id, merchant: params[:format]), remote: true,onclick:"$('#cover-spin').show(0)" %>
                </div>
                <div class="col-md-3 col_md_3_button_info">
                  <a href="/admins/merchants/location_documentation?location_id=<%= l.id %>&format=<%= params[:format]%>">
                  <div class="col-md-12 button_info">
                    <p class="button_info_text">Documents</p>
                  </div>
                  </a>
                </div>
              </div>
              <div class="col-md-12 ci-mm-profile-st-23">
                <div class="col-md-3">
                  <a href="/admins/merchants/location_users?location_id=<%= l.id %>&format=<%= params[:format]%>" onclick="$('#cover-spin').show(0)">
                    <div class="col-md-12 button_info">
                      <p class="button_info_text">Users</p>
                    </div>
                  </a>
                </div>
                <div class="col-md-3">
                  <a href="/admins/merchants/location_bank_account?location_id=<%= l.id %>&format=<%= params[:format]%>" onclick="$('#cover-spin').show(0)">
                    <div class="col-md-12 button_info">
                      <p class="button_info_text">Bank Account</p>
                    </div>
                  </a>
                </div>
                <div class="col-md-3">
                  <a href="/admins/merchants/location_setting?location_id=<%= l.id %>&format=<%= params[:format] %>" onclick="$('#cover-spin').show(0)">
                    <div class="col-md-12 button_info">
                      <p class="button_info_text">Settings</p>
                    </div>
                  </a>
                </div>
                <div class="col-md-3 col_md_3_button_info">
                  <a href="/admins/merchants/unlock?wallet_id=<%= l.try(:wallets).try(:primary).try(:first).try(:slug) %>" data-remote="true" onclick="$('#cover-spin').show(0)">
                    <div class="col-md-12 button_info">
                      <p class="lock_btn"><span class="fa fa-lock fa-2x"></span></p>
                      <p class="button_info_text">Retire Wallet</p>
                    </div>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <% end %>
        <div class="col-md-12 ci-mm-profile-st-24">
            <%= link_to("<i class='fa fa-plus ci-mm-profile-st-25'><span class='ci-mm-profile-st-26'> Add Location</span></i>".html_safe, next_wizard_path(:id => :location, :status => "l1", :loc => "1", :merchant_id => @merchant.id ), onclick: "$('#cover-spin').show(0)") %>
        </div>
      </div>
    </div>
  </div>

</div>
</div>

<!--<script>
    $('#block').change(function () {
        swal({
            title: "Are you sure?",
            type: "warning",
            showCancelButton: true,
            closeOnConfirm: false,
            closeOnCancel: true
        }).then((isConfirm) => {
        if (isConfirm.value === true) {
            $.ajax({
                url: "<%= admins_merchants_update_status_path %>",
                type: 'get',
                data: { merchant_id: '<%= @merchant.id %>' },
                success: function(data) {
                    swal("Updated!", "User updated successfully", "success");
                },
                error: function(error){
                    swal("Cancelled", "An unexpected error occured :)", "error");
                    if($('#block').parent().hasClass('btn-danger')){
                        $('#block').parent().removeClass('btn-danger').removeClass('off');
                        $('#block').parent().addClass('btn-success');
                    }else if($('#block').parent().hasClass('btn-success')) {
                        $('#block').parent().removeClass('btn-success');
                        $('#block').parent().addClass('btn-danger').addClass('off');
                    }
                }
            });
        } else {
            if($('#block').parent().hasClass('btn-danger')){
                $('#block').parent().removeClass('btn-danger').removeClass('off');
                $('#block').parent().addClass('btn-success');
            }else if($('#block').parent().hasClass('btn-success')) {
                $('#block').parent().removeClass('btn-success');
                $('#block').parent().addClass('btn-danger').addClass('off');
            }
            $(this).prop("checked", !$(this).is(':checked'));
        }
    });
    });

    $('.two_step').click(function () {
        swal({
            title: "Are you sure?",
            type: "warning",
            showCancelButton: true,
            closeOnConfirm: false,
            closeOnCancel: true
        }).then((isConfirm) => {
        if (isConfirm.value === true) {
            $.ajax({
                url: "<%= admins_merchants_update_two_step_path %>",
                type: 'get',
                data: { merchant_id: '<%= @merchant.id %>' },
                success: function(data) {
                    if($('.two_step_text').text() == "On"){
                        $('.two_step_text').text('').text('Off');
                        $('.two_step_color').css('color','red');
                    }else if($('.two_step_text').text() == "Off"){
                        $('.two_step_text').text('').text('On');
                        $('.two_step_color').css('color','green');
                    }
                    swal("Updated!", "User updated successfully", "success");
                },
                error: function(error){
                    swal("Cancelled", "An unexpected error occured :)", "error");
                }
            });
        } else {
        }
    });
    });

    $('#reset').click(function () {
        swal({
            title: "Are you sure?",
            type: "warning",
            showCancelButton: true,
            closeOnConfirm: false,
            closeOnCancel: true
        }).then((isConfirm) => {
            if (isConfirm.value === true) {
            $.ajax({
                url: "<%= admins_merchant_reset_path(:user) %>",
                type: 'post',
                data: { user: {email: '<%= @merchant.email %>'},csrf_token: "c7058a2ee1eb40b3c06330cf2a7be92d",from_admin: true },
                success: function(data) {
                    swal("Reset!", "Reset instruction sent successfully", "success");
                },
                error: function(error){
                    swal("Cancelled", "An unexpected error occured :)", "error");
                }
            });
        } else {
        }
    });
    });

    function location_block(id) {
        var block = $('.location_block_'+id).data("value");
        swal({
            title: "Are you sure?",
            type: "warning",
            showCancelButton: true,
            closeOnConfirm: false,
            closeOnCancel: true
        }).then((isConfirm) => {
            if (isConfirm.value === true) {
            $.ajax({
                url: "<%= admins_merchants_update_location_block_path %>",
                type: 'get',
                data: { is_block: block,location_id: id },
                success: function(data) {
                    if($('.location_block_text_'+id).text() == "Active"){
                        $('.location_block_text_'+id).text('').text('Inactive');
                        $('.location_block_'+id).data("value","false");
                        $('.location_block_color_'+id).css('color','red');
                    }else if($('.location_block_text_'+id).text() == "Inactive"){
                        $('.location_block_text_'+id).text('').text('Active');
                        $('.location_block_'+id).data("value","true");
                        $('.location_block_color_'+id).css('color','green');
                    }
                    swal("Updated!", "User updated successfully", "success");
                },
                error: function(error){
                    swal("Cancelled", "An unexpected error occured :)", "error");
                }
            });
        } else {
        }
    });
    }


    function show_transaction(url,trans,wallet_id) {
        $('#cover-spin').show(0);
        window.location.href = url + "?trans="+ trans +"&wallet_id="+ wallet_id +"&offset=" + encodeURIComponent(moment().local().format('Z'))
    }
    
    function more_owners(merchant_id) {
        $.ajax({
            url: "/admins/merchants/more_owners",
            type: "GET",
            data: {merchant_id: merchant_id},
            success: function (data) {
                $('.view-more').hide();
                console.log(data)
            },
            error: function (data) {

            }
        });
    }
    function remove_owner(owner_id, merchant_id) {
        console.log(owner_id)
        console.log(merchant_id)
        swal({
            title: "Are you sure?",
            type: "warning",
            showCancelButton: true,
            closeOnConfirm: false,
            closeOnCancel: true
        }).then((isConfirm) => {
            if (isConfirm.value === true) {
                $.ajax({
                    url: "/admins/merchants/remove_owner",
                    type: "GET",
                    data: {owner_id: owner_id, merchant_id:merchant_id},
                    success: function (data) {
                        if (data.success === "true") {
                            console.log("fffffffffff")
                        } else {
                            console.log(data)
                        }
                        console.log(data)
                    },
                    error: function (data) {

                    }
                });
            }
        });
    }
    $(document).ready(function () {
        $('div.toggle.btn.btn-danger.off').removeAttr('style');
        $('div.toggle.btn.btn-success').removeAttr('style');
    });
    $('#block').change(function () {
        $('div.toggle.btn.btn-danger.off').removeAttr('style');
        $('div.toggle.btn.btn-success').removeAttr('style');
    })
</script>-->