<%= render :layout => 'merchant_profile' do |f| %>
  <%= f.fields_for :location, Location.new do |form| %>
    <%= f.hidden_field :location_id, value:params[:location_id] %>
  <h5 class="card-title setting-title-st">Settings</h5>
  <%= render partial: 'admins/merchants/setting', :locals => {:form => form} %>
  <% end %>
<% end %>
<%= javascript_include_tag "admins/merchant/setting.js" %>
