<div class="container-fluid">
  <div class="col-xs-12 col-sm-6 col-md-12">
    <div class="well well-sm">
      <div class="row">
        <div class="col-sm-6 col-md-3">
          <img src="http://placehold.it/200x200" alt="" class="img-rounded img-responsive" />
        </div>
        <div class="col-sm-6 col-md-8">
          <h4><%=	 @wallet.try(:name) %></h4>
          <!--<p>-->
            <!--<i class="fa fa-envelope"></i><=@wallet %>-->
            <!--<br />-->
            <!--<i class="fa fa-phone"></i><a><= @wallet.phone_number %></a>-->
            <!--<br />-->
            <!--<i class="fa fa-group"></i><=	@wallet.category %>-->
          <!--</p>-->
        </div>
      </div>
    </div>
    <blockquote class="blockquote-st-1">
      <p>Wallets</p>
      <!--<footer><=	 @wallet.name %></footer>-->
    </blockquote>
    <div class="table-responsive blockquote-st-2">
      <table id="datatable-wallets" class="table table-striped table-bordered" cellspacing="0" cellpadding="0">
        <thead>
        <tr>
          <th class="all">ID</th>
          <th >Name</th>
          <th >Action</th>
        </tr>
        </thead>
        <tbody>
        </tbody>
      </table>
    </div>
  </div>


</div>
<section id="editMerchant"></section>
<script>
    $(document).ready(function(){
        $('.modalwalabutton').click(function(){
            $('.myModal').modal();
        });

        $('#datatable-wallets').DataTable({
            responsive: true,
            "sScrollX": false,
            "scrollX": false,
            "sSearch": true,
            "ordering": true,
            "processing": true,
            "searching": true,
            "serverSide": true
        });

    });
</script>