<% if params["type"].blank? %>
  $("#modal_section").html('').html("<%= j  render(partial: 'admins/users/retire_balance', locals: { wallet: @wallet, balance: @balance }) %>").after( $("#modal-69").modal());
<% else %>
  $("#modal_section").html('').html("<%= j  render(partial: 'unlock') %>").after( $("#unlock").modal());
<% end %>
$('#cover-spin').fadeOut();