<% if @primary_wallet %>
  <div class="title-block title-wallet">
    <h1 class="title"><%= @primary_wallet.name %> Transactions</h1>
  </div>
<% end %>

<div class="card card-padding-2">
  <div class="col-md-12">
    <h4><%= params[:type].capitalize %> Transactions</h4>
    <div class="col-md-3 card-position-abs">
      <span class="span-style-float">Show</span>
      <span class="span-style-float-1">
      <%= form_tag admins_merchants_wallet_detail_transactions_path(format: params[:format]), method: :get do %>
        <%= select_tag "tx_filter", options_for_select(@filters.map {|v| [v]}, selected: params[:tx_filter].present? ? params[:tx_filter] : "10"),
                       :prompt => false,
                       :required => true,
                       :onchange => 'this.form.submit();',
                       class: "form-control form-control-sm",
                       data: {confirm: "Are you sure ?"}
        %>
          <input type="hidden" name="type" value="<%=params[:type] %>">
      <% end %>
      </span>
      <span class="span-style-float-2">Entries</span>
    </div>
  </div>
  <div class="card-body">
    <% if @requests.present? %>
      <%= render partial: 'wallet_detail_transactions_data_table', :locals => { request: @requests, checks: nil} %>
    <% else %>
      <%= render partial: 'wallet_detail_transactions_data_table', :locals => { checks: @checks || @giftcards || @achs, request: nil } %>
    <% end %>
  </div>
  <div class="card-footer">
    <% checks= @checks || @requests || @giftcards || @achs %>
    <span class="span-style-float-3">Showing <%= checks.try(:count) %> of <%= checks.total_count if checks.present? %> records</span>
    <% if checks.present? %>
      <%= paginate checks, :theme => 'twitter-bootstrap-3', :pagination_class => "pagination-small pagination-centered pull-right padd" %>
    <% end %>
  </div>
</div>