<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<section id="modal_section"></section>
<h3>DBA: <%= @location.business_name.try(:titleize) %></h3>
<div class="col-md-12 w3-card w3-card-border">
  <table class="table table-borderless">
    <tbody>
    <tr id="first_row">
      <td>
        <p class="p-wallet-detail-1">Main Account</p>
        <p class="p-wallet-detail-2">Wallet Id: <%=@primary_wallet.present? ? @primary_wallet.id : "" %></p>
      </td>
      <td>
        <p class="p-wallet-detail-3">Total Funds In Account</p>
        <% primary_wallet_balance = SequenceLib.balance(@primary_wallet.id) %>
        <% hold_primary_wallet_balance = HoldInRear.calculate_pending(@primary_wallet.try(:id)) %>
        <p class="p-wallet-detail-4"><strong>$ <%= number_with_precision(primary_wallet_balance, :precision => 2, :delimiter => ',') %></strong></p>
      </td>
      <td>
        <p class="p-wallet-detail-5">On Hold Pending Release</p>
        <p class="p-wallet-detail-6"><strong>$ <%= number_with_precision(hold_primary_wallet_balance, :precision => 2, :delimiter => ',') %></strong></p>
      </td>
      <td>
        <p class="p-wallet-detail-7">Available Funds to Withdraw</p>
        <p class="p-wallet-detail-8"><strong>$ <%= number_with_precision(primary_wallet_balance.to_f - hold_primary_wallet_balance.to_f, precision: 2, delimiter: ',')  %></strong></p>
      </td>
      <td>
        <button type="button" class="wallets_btn btn btn-sm btn-default pull-right" onclick="show_transaction('<%= admins_merchants_specfic_transactions_path %>','success','<%= @primary_wallet.id %>')">Detail</button>
        <%= link_to '<button type="button" class="wallets_btn btn btn-sm btn-default pull-right wallets_btn_margin">Transfer</button>'.html_safe,admins_merchants_transfer_money_path(wallet_id: @primary_wallet.id), onclick: "$('#cover-spin').show(0)", remote: true %>
      </td>
    </tr>
    <tr>
      <td>
        <p class="p-wallet-detail-9">Reserve Account</p>
      </td>
      <td>
        <% reserve_wallet_balance = SequenceLib.balance(@reserve_wallet.id) %>
        <p class="p-wallet-detail-10">Account Balance</p>
        <p class="p-wallet-detail-11"><strong>$ <%= number_with_precision(reserve_wallet_balance, :precision => 2, :delimiter => ',') %></strong></p>
      </td>
      <td>
        <p class="p-wallet-detail-12">Next Release Date</p>
        <% batch = @reserve_wallet.batches.where(is_closed: false).try(:first) %>
        <% if batch.present? %>
          <% release_date = batch.created_at.to_date + @location.try(:fees).try(:buy_rate).try(:first).try(:days).to_i %>
          <% release_date = release_date.strftime("%m/%d/%Y") %>
        <% else %>
          <% release_date = "No release exist" %>
        <% end %>
        <p class="p-wallet-detail-13"><strong><%= release_date %></strong></p>
      </td>
      <td>
        <p class="p-wallet-detail-14">Next Release Amount</p>
        <p class="p-wallet-detail-15"><strong>$ <%= number_with_precision(batch.try(:total_sales).present? ? batch.try(:total_sales) : 0, :precision => 2, :delimiter => ',') %></strong></p>
      </td>
      <td>
        <button type="button" class="wallets_btn btn btn-sm btn-default pull-right" onclick="show_transaction('<%= admins_merchants_specfic_transactions_path %>','reserve','<%= @reserve_wallet.id %>')">Detail</button>'
        <button type="button" class="wallets_btn btn btn-default btn-sm pull-right wallets_btn_margin-2" disabled>Transfer</button>
      </td>
    </tr>
    </tbody>
  </table>
</div>

<div class="col-md-12 wallet-checks-padding-1">
  <div class="col-md-6 wallet-checks-padding-2">
    <h4>Checks</h4>
    <div class="col-md-12 w3-card box-style wallet-checks-padding-3">
      <p class="wallet-checks-padding-4"><strong>Transactions</strong></p>
      <table class="table transaction_table">
        <thead>
        <tr>
          <th>Date</th>
          <th>Description</th>
          <th>Type</th>
          <th>Status</th>
          <th>Amount</th>
        </tr>
        </thead>
        <tbody>
        <% if @checks.present? %>
          <% @checks.each do |c| %>
            <tr>
              <td><%= c.created_at.to_date.strftime("%m/%d/%Y") %></td>
              <td title="<%= c.description %>"><%= c.description.present? ? c.description.truncate(9) : "------------" %></td>
              <td>Check</td>
              <td><span class="fa fa-check-circle-o"></span></td>
              <td>$ <%= number_with_precision(c.actual_amount, :precision => 2, :delimiter => ',') %></td>
            </tr>
          <% end %>
        <% else %>
        <tr>
          <td colspan="5">
            <%= image_tag('empty.png', class: "img-responsive image_folder") %>
          </td>
        </tr>
        <% end %>
        </tbody>
        <tfoot>
          <% if @checks.present? %>
          <div class="row">
            <div class="col-md-12">
              <%= link_to 'View More',admins_merchants_wallet_detail_transactions_path(format: params[:format], type: "checks"), class: "view-more-btn" %>
            </div>
          </div>
          <% end %>
        </tfoot>

      </table>

    </div>
  </div>
  <div class="col-md-6 wallet-gift-padding-1">
    <h4>Gift Card/Pre-paid Card</h4>
    <div class="col-md-12 w3-card box-style">
      <p class="wallet-gift-padding-2"><strong>Transactions</strong></p>
      <table class="table transaction_table">
        <thead>
        <tr>
          <th>Date</th>
          <th>Wallet</th>
          <th>Type</th>
          <th>Status</th>
          <th>Amount</th>
        </tr>
        </thead>
        <tbody>
        <% if @giftcards.present? %>
            <% @giftcards.each do |c| %>
                <tr>
                  <td><%= c.created_at.to_date.strftime("%m/%d/%Y") %></td>
                  <td><%= c.try(:wallet).try(:name) %></td>
                  <td>Giftcard purchase</td>
                  <td><span class="fa fa-check-circle-o"></span></td>
                  <td>$ <%= number_with_precision(c.amount, :precision => 2, :delimiter => ',') %></td>
                </tr>
            <% end %>
        <% else %>
            <tr>
              <td colspan="5">
                <%= image_tag('empty.png', class: "img-responsive image_folder") %>
              </td>
            </tr>
        <% end %>
        </tbody>
        <tfoot>
        <tr>
          <% if @giftcards.present? %>
            <div class="row">
              <div class="col-md-12">
                <%= link_to 'View More',admins_merchants_wallet_detail_transactions_path(format: params[:format], type: "giftcards"), class: "view-more-btn" %>
              </div>
            </div>
          <% end %>
        </tr>
        </tfoot>
      </table>
    </div>
  </div>
</div>

<div class="col-md-12 wallet-ach-st-1">
  <div class="col-md-6 wallet-ach-st-2">
    <h4>ACH</h4>
    <div class="col-md-12 w3-card box-style">
      <p class="wallet-ach-st-3"><strong>Transactions</strong></p>
      <table class="table transaction_table">
        <thead>
        <tr>
          <th>Date</th>
          <th>Description</th>
          <th>Type</th>
          <th>Status</th>
          <th>Amount</th>
        </tr>
        </thead>
        <tbody>
        <% if @achs.present? %>
            <% @achs.each do |c| %>
                <tr>
                  <td><%= c.created_at.to_date.strftime("%m/%d/%Y") %></td>
                  <td title="<%= c.description %>"><%= c.description.present? ? c.description.truncate(9) : "------------" %></td>
                  <td>Ach</td>
                  <td><span class="fa fa-check-circle-o"></span></td>
                  <td>$ <%= number_with_precision(c.actual_amount, :precision => 2, :delimiter => ',') %></td>
                </tr>
            <% end %>
        <% else %>
            <tr>
              <td colspan="5">
                <%= image_tag('empty.png', class: "img-responsive image_folder") %>
              </td>
            </tr>
        <% end %>
        </tbody>
        <tfoot>
        <tr>
          <% if @achs.present? %>
            <div class="row">
              <div class="col-md-12">
                <%= link_to 'View More',admins_merchants_wallet_detail_transactions_path(format: params[:format], type: "achs"), class: "view-more-btn" %>
              </div>
            </div>
          <% end %>
        </tr>
        </tfoot>
      </table>
    </div>
  </div>
  <div class="col-md-6 wallet-b2b-st-1">
    <h4>B2B(In the system)</h4>
    <div class="col-md-12 w3-card box-style">
      <p><strong>Transactions</strong></p>
      <table class="table transaction_table">
        <thead>
        <tr>
          <th>Date</th>
          <th>Description</th>
          <th>Type</th>
          <th>Status</th>
          <th>Amount</th>
        </tr>
        </thead>
        <tbody>
        <% if @requests.present? %>
            <% @requests.each do |r| %>
                <tr>
                  <td><%= r.created_at.to_date.strftime("%m/%d/%Y") %></td>
                  <td title="<%= r.description %>"><%= r.description.present? ? r.description.truncate(9) : "------------" %></td>
                  <td>Transfer</td>
                  <td><span class="fa fa-check-circle-o"></span></td>
                  <td>$ <%= number_with_precision(r.amount, :precision => 2, :delimiter => ',') %></td>
                </tr>
            <% end %>
        <% else %>
            <tr>
              <td colspan="5">
                <%= image_tag('empty.png', class: "img-responsive image_folder") %>
              </td>
            </tr>
        <% end %>
        </tbody>
        <tfoot>
        <tr>
          <% if @requests.present? %>
            <div class="row">
              <div class="col-md-12">
                <%= link_to 'View More',admins_merchants_wallet_detail_transactions_path(format: params[:format], type: "B2B (In the system)"), class: "view-more-btn"  %>
              </div>
            </div>
          <% end %>
        </tr>
        </tfoot>
      </table>
    </div>
  </div>
</div>
<div class="col-md-12 wallet-btn-div-1">
  <%= link_to '<button class="btn btn-primary btn-sm"> Back</button>'.html_safe,admins_merchants_profile_path(@merchant) %>
</div>

<!--<script>
    function show_transaction(url,trans,wallet_id) {
        $('#cover-spin').show(0);
        window.location.href = url + "?trans="+ trans +"&wallet_id="+ wallet_id +"&offset=" + encodeURIComponent(moment().local().format('Z'))
    }
</script>-->