
<!-- Modal -->
<div class="modal show fade modal-fixed-footer" id="permission_modal" tabindex="-1" role="dialog" aria-labelledby="permission_modalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      
      <%= simple_form_for @permission,url: url, html: {class: 'permission_form'} do |f| %>
        <% if !@permission.try(:name).present?  %>
          <div class="col-md-12 col-sm-12 custom" id="custom_modal">
            <h4 class="text-center"><strong>Custom User Permission Name</strong>
              <button type="button" id="cross" class="close" data-dismiss="modal">&times;</button>
            </h4>
          </div>
          <div class="col-md-12 col-sm-12 custom" id="permission_name">
            <%= f.text_field :name, class: "form-control", :size => "48", :maxlength=>"50" ,required: true, placeholder: 'Create New Permission Name' %>
            <span></span>
          </div>
        <% end %>
      <div class="modal-header" id="headerbg">
        <div class="col-md-12">
          <div class="col-md-10">
            <h4 class="modal-title myModal3Label" id="myModal3Label" ><%=@permission.try(:name).present? ? @permission.try(:name).try(:titleize) : 'Custom User Permissions'%>
            </h4>
          </div>
          <div class="col-md-2 pull-right">
            <% if @permission.try(:name).present?  %>
              <button type="button" class="close" id="btnclose" data-dismiss="modal">&times;</button>
            <% end %>
          </div>
        </div>
      </div>
      <div class="modal-body modal-body-height" id="modalper modalsetWidth" >
          <%=f.hidden_field :id, value: @permission.try(:id) if @permission.present? %>
          <div class="row">
            <div class="col-md-12 col-sm-12">
              <%= f.check_box :all, class: "checkbox-u",id: 'select_all',checked: @permission.admin? ? true : false, disabled: @permission.admin? || @permission.regular? %>
              <label for="select_all"></label>
              <span>Select All</span>
            </div>
            <div class="col-md-12 col-sm-12 bgcolor" >
              <span class="heading_span">
                Accounts
              </span>
            </div>
            <div class="col-md-12 col-sm-12">
              <%= f.check_box :wallet, class: "checkbox-u", checked: @permission.try(:wallet), disabled: @permission.admin? || @permission.regular? %>
              <label for="permission_wallet"></label>
              <span>Wallets (View Transactions)</span>
            </div>
            <hr>
            <div class="col-md-12 col-sm-12">
              <%= f.check_box :refund, class: "checkbox-u", checked: @permission.try(:refund), disabled: @permission.admin? || @permission.regular? %>
              <label for="permission_refund"></label>
              <span>Refunds</span>
            </div>
            <hr>
            <div class="col-md-12 col-sm-12">
              <%= f.check_box :transfer, class: "checkbox-u", checked: @permission.try(:transfer), disabled: @permission.admin? || @permission.regular? %>
              <label for="permission_transfer"></label>
              <span>Transfer</span>
            </div>
            <div class="col-md-12 col-sm-12 bgcolor">
              <span class="heading_span">
                POS
              </span>
            </div>
            <div class="col-md-12 col-sm-12">
              <%= f.check_box :b2b, class: "checkbox-u", checked: @permission.try(:b2b), disabled: @permission.admin? || @permission.regular? %>
              <label for="permission_b2b"></label>
              <span>B2B (Wallet to Wallet)</span>
            </div>
            <hr>
            <div class="col-md-12 col-sm-12">
              <%= f.check_box :virtual_terminal, class: "checkbox-u", checked: @permission.try(:virtual_terminal), disabled: @permission.admin? || @permission.regular? %>
              <label for="permission_virtual_terminal"></label>
              <span>Virtual Terminal</span>
            </div>
            <!-- Dispute permission view start -->
<!--            <div class="col-md-12 col-sm-12" style="background-color: #cccccc">-->
<!--              <span class="heading_span">-->
<!--                Disputes-->
<!--              </span>-->
<!--            </div>-->
<!--            <div class="col-md-12 col-sm-12">-->
              <%#= f.check_box :dispute_view_only, class: "checkbox-u", checked: @permission.try(:dispute_view_only), disabled: @permission.admin? || @permission.regular? %>
<!--              <label for="permission_dispute_view_only"></label>-->
<!--              <span>View Only</span>-->
<!--            </div>-->
<!--            <hr>-->
<!--            <div class="col-md-12 col-sm-12">-->
              <%#= f.check_box :dispute_submit_evidence, class:"checkbox-u", checked: @permission.try(:dispute_submit_evidence) , disabled: @permission.admin? || @permission.regular? %>
<!--              <label for="permission_dispute_submit_evidence"></label>-->
<!--              <span>Submit Evidence</span>-->
<!--            </div>-->
<!--            <hr>-->
<!--            <div class="col-md-12 col-sm-12">-->
              <%#= f.check_box :accept_dispute, class: "checkbox-u", checked: @permission.try(:accept_dispute), disabled: @permission.admin? || @permission.regular? %>
<!--              <label for="permission_accept_dispute"></label>-->
<!--              <span>Accept Dispute</span>-->
<!--            </div>-->
            <!-- Dispute permission view end -->
            <div class="col-md-12 col-sm-12 bgcolor">
              <span class="heading_span">
                Funding Schedule
              </span>
            </div>
            <div class="col-md-12 col-sm-12">
              <%= f.check_box :funding_schedule, class: "checkbox-u", checked: @permission.try(:funding_schedule), disabled: @permission.admin? || @permission.regular? %>
              <label for="permission_funding_schedule"></label>
              <span>Funding Schedule</span>
            </div>
            <div class="col-md-12 col-sm-12 bgcolor">
              <span class="heading_span">
                Withdrawal
              </span>
            </div>
            <div class="col-md-12 col-sm-12">
              <%= f.check_box :check, class: "checkbox-u", checked: @permission.try(:check), disabled: @permission.admin? || @permission.regular? %>
              <label for="permission_check"></label>
              <span>E-Checks</span>
            </div>
            <hr>
            <div class="col-md-12 col-sm-12">
              <%= f.check_box :push_to_card, class: "checkbox-u", checked: @permission.try(:push_to_card), disabled: @permission.admin? || @permission.regular? %>
              <label for="permission_push_to_card"></label>
              <span>Push To Card</span>
            </div>
            <hr>
            <div class="col-md-12 col-sm-12">
              <%= f.check_box :ach, class: "checkbox-u", checked: @permission.try(:ach), disabled: @permission.admin? || @permission.regular? %>
              <label for="permission_ach"></label>
              <span>ACH</span>
            </div>
            <hr>
            <div class="col-md-12 col-sm-12">
              <%= f.check_box :gift_card, class: "checkbox-u", checked: @permission.try(:gift_card), disabled: @permission.admin? || @permission.regular? %>
              <label for="permission_gift_card"></label>
              <span>E-Gift Cards</span>
            </div>
            <!-- <div class="col-md-12 col-sm-12" style="background-color: #cccccc">
              <span class="heading_span">
                Reports
              </span>
            </div> -->
            <!-- <div class="col-md-12 col-sm-12">
              <%#= f.check_box :sales_report, class: "checkbox-u", checked: @permission.try(:sales_report), disabled: @permission.admin? || @permission.regular? %>
              <label for="permission_sales_report"></label>
              <span>Sales Reports</span>
            </div> -->
            <!-- <hr> -->
            <!-- <div class="col-md-12 col-sm-12">
              <%#= f.check_box :checks_report, class: "checkbox-u", checked: @permission.try(:checks_report), disabled: @permission.admin? || @permission.regular? %>
              <label for="permission_checks_report"></label>
              <span>Checks Reports</span>
            </div> -->
            <!-- <hr> -->
            <!-- <div class="col-md-12 col-sm-12">
              <%#= f.check_box :gift_card_report, class: "checkbox-u", checked: @permission.try(:gift_card_report), disabled: @permission.admin? || @permission.regular? %>
              <label for="permission_gift_card_report"></label>
              <span>Gift Card Reports</span>
            </div> -->
            <div class="col-md-12 col-sm-12 bgcolor">
              <span class="heading_span">
                Users
              </span>
            </div>
            <div class="col-md-12 col-sm-12">
              <%= f.check_box :user_view_only, class: "checkbox-u", checked: @permission.try(:user_view_only), disabled: @permission.admin? || @permission.regular? %>
              <label for="permission_user_view_only"></label>
              <span>View Only</span>
            </div>
            <hr>
            <div class="col-md-12 col-sm-12">
              <%= f.check_box :user_edit, class: "checkbox-u", checked: @permission.try(:user_edit), disabled: @permission.admin? || @permission.regular? %>
              <label for="permission_user_edit"></label>
              <span>Edit</span>
            </div>
            <hr>
            <div class="col-md-12 col-sm-12">
              <%= f.check_box :user_add, class: "checkbox-u", checked: @permission.try(:user_add), disabled: @permission.admin? || @permission.regular? %>
              <label for="permission_user_add"></label>
              <span>Add New User</span>
            </div>
            <div class="col-md-12 col-sm-12 bgcolor">
              <span class="heading_span">
                Redeem QR Code
              </span>
            </div>
            <div class="col-md-12 col-sm-12">
              <%= f.check_box :qr_scan, class: "checkbox-u", checked: @permission.try(:qr_scan), disabled: @permission.admin? || @permission.regular? %>
              <label for="permission_qr_scan"></label>
              <span>Scan</span>
            </div>
            <hr>
            <div class="col-md-12 col-sm-12">
              <%= f.check_box :qr_view_only, class: "checkbox-u", checked: @permission.try(:qr_view_only), disabled: @permission.admin? || @permission.regular? %>
              <label for="permission_qr_view_only"></label>
              <span>View Only</span>
            </div>
            <hr>
            <div class="col-md-12 col-sm-12">
              <%= f.check_box :qr_redeem, class: "checkbox-u", checked: @permission.try(:qr_redeem), disabled: @permission.admin? || @permission.regular? %>
              <label for="permission_qr_redeem"></label>
              <span>Redeem</span>
            </div>
<!--            <div class="col-md-12 col-sm-12" style="background-color: #cccccc">-->
<!--              <span class="heading_span">-->
<!--                Developer Apps-->
<!--              </span>-->
<!--            </div>-->
<!--            <div class="col-md-12 col-sm-12">-->
              <%#= f.check_box :developer_app, class: "checkbox-u", checked: @permission.try(:developer_app), disabled: @permission.admin? || @permission.regular? %>
<!--              <label for="permission_developer_app"></label>-->
<!--              <span>API Keys</span>-->
<!--            </div>-->
            <%= f.check_box :select, id: 'select',checked: @permission.admin? ? true : false, disabled: @permission.admin? || @permission.regular? %>
          </div>
      </div>
      <hr>
      <div class="modal-footer text-center">
        <% if action.present? && action == "create" || action  == "update" %>
          <%= f.submit "#{action.try(:capitalize)} Permission",id: 'permission_button',class: 'btn btn-primary pull-left' %>
        <% end %>
      </div>
    <% end %>
    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>
<div id="cover-spin"></div>
<!-- /.modal -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.1/jquery.validate.min.js"></script>
<script type="application/javascript" src="<%= asset_path 'merchant/business_setting/employee_new_permission.js' %>"></script>
