
<div class="box">
  <div class="box-header with-border">
    <div class="col-md-12">
      <div class="row">
        <div class="col-md-6"><h3 class="box-title"><%= @heading %></h3></div>
        <div class="col-md-6 text-right">
          <%= link_to '<button class="btn btn-primary btn-sm pull-right add_new_employee"><i class="fa fa-plus"></i> Create User Permissions</button>'.html_safe , new_merchant_permission_path ,data: { disable_with: "<i class='fa fa-spinner fa-spin'></i>" }, remote:  true  %>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-6 col-md-6">
      <div class="dataTables_length">
        <div class="col-md-6 " id="row-top">
          <span id="show-span">Show</span>
          <span id="form-span">
                      <%= form_tag merchant_permission_index_path, method: :get, id: 'permission_filter'  do  %>
                         <%= select_tag "tx_filter", options_for_select(@filters.map{|v|[v]}, selected: params[:tx_filter].present? ? params[:tx_filter] : "10"),
                                        :prompt => false,
                                        :required => true,
                                        class: "form-control form-control-sm",
                                        data: {confirm: "Are you sure ?"}
                         %>
                      <% end %>
                    </span>
          <span id="entries">Entries</span>
        </div>
      </div>
    </div>
  </div>
  <div class="box-body">
    <div class="">
      <section id="message"></section>
      <div class="">
      <div class="table-responsive">
        <table class="table table-stripped">
          <thead class="blue-grey">
          <tr class="text-center">
            <th>ID</th>
            <th>Creation Date</th>
            <th>User Permissions Types</th>
            <th># of Users Assigned</th>
            <th>Actions</th>
          </tr>
          </thead>
          <tbody>
          <% if @permissions.present? %>
            <% @permissions.each do |p| %>
            <tr class="text-center">
              <td><%=p.id %></td>
              <td class="timeUtc"><%= p.created_at.strftime("%Y-%m-%d %H:%M:%S %z") %></td>
              <% user_id = current_user.merchant_id.present? ? current_user.merchant_id : current_user.id %>
              <td><%=p.name %></td>
              <td><%= p.merchant_id.present? ? p.merchant_users_count(p.merchant_id) : p.merchant_users_count(user_id) %></td>
              <td>
                <% if p.permission_type == "admin" || p.permission_type == "regular" %>
                  <%= link_to '<i class="icons icon-eye"></i>'.html_safe, merchant_permission_path(p.id), data: { disable_with: "<i class='fa fa-spinner fa-spin'></i>"}, remote: true%>
                <% else %>
                  <%= link_to '<i class="fa fa-edit edit_new_employee"></i>'.html_safe,  edit_merchant_permission_path(p.id), data: {disable_with: "<i class='fa fa-spinner fa-spin'></i>"}, remote: true %> &nbsp;
                  <%= link_to '<i class="fa fa-trash"></i>'.html_safe, merchant_permission_path(p.id), method: :delete, data: {confirm: 'Are you sure?'} %>
                <% end %>
              </td>
            </tr>
            <% end %>
          <% else %>
            <tr><td colspan="6"><h3 id="no-entries">No Entries Yet !</h3></td>
          <% end %>
          </tbody>
        </table>
      </div>
      <div class="col-md-12">
        <div class="row">
          <div class="col-md-4">
              <span id="float-left">Showing <%=@permissions.try(:count)%> of <%=@permissions.total_count %> records</span>
          </div>
          <div class="col-md-8">
            <div id="text-right">
              <%= paginate @permissions, :theme => 'twitter-bootstrap-3', :pagination_class => "pagination-small pagination-centered pull-right padd"%>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>

<!--#######################    Modal Code #############################-->
<section id="permissionSection"></section>
<!--#####################    end     ################################-->

