$(document).ready ->
  App.chat = App.cable.subscriptions.create "ChatChannel",
    connected: ->
# Called when the subscription is ready for use on the server

    disconnected: ->
# Called when the subscription has been terminated by the server
      $('#body_message').hide();
#    $('#body_done').show();
    received: (data) ->
# Called when there's incoming data on the websocket for this channel
      if data["action"] == "new_message"
        notify=0
        if($('.badge-warning_'+data['message'].transaction_id).text()!='')
          old_noti=parseInt($('.badge-warning_'+data['message'].transaction_id).text());
          notify=old_noti+1;
        else
          notify=notify+1;
        tab_notify=0
        if($('#chat_read_count').text()!='')
          old_noty=parseInt($('#chat_read_count').text());
          tab_notify=old_noty+1;
        else
          tab_notify=tab_notify+1;
        if !('Notification' of window)
          alert 'This browser does not support desktop notification'
        else if Notification.permission == 'granted'
          notification = new Notification('You Have A Message!')
        else if Notification.permission != 'denied'
          Notification.requestPermission (permission) ->
            if !('permission' of Notification)
              Notification.permission = permission
            # If the user is okay, let's create a notification
            if permission == 'granted'
              notification = new Notification('You Have A Message!')
        else
          console.log('Not Allowed');

        $('.badge-warning_'+data['message'].transaction_id).text(notify);
        $('#chat_read_count').text(tab_notify);
        $('#chat_notification').addClass('display-block');
        $('#chat_notification').removeClass('display-none');
        $('.temp_'+data['message'].transaction_id).append('<div class="col-lg-12 col-sm-12 col-xs-10 col-md-12">
          <div class="row chatbox_responsive_row margin-15">
            <div class="col-lg-6 col-sm-6 col-md-6">
              <div class="chat-sender-messages">
                <div class="chat-container">
                  <div class="chat-sender msg">
                    <div class="chatmsg">
                      '+data['message'].text+'
                    </div>
                  </div>
                </div>
              </div>
              <p class="sending-date pull-right">'+data['created_at']+'</p>
            </div>
            <div class="col-lg-6 col-sm-6 col-md-6"></div>
          </div>
        </div>');
        if data['attachments'].length > 0
          count = 0
          while count < data['attachments'].length
            if data['attachments'][count].is_image == true
              $('.temp_'+data['message'].transaction_id).append('<div class="col-lg-12 col-sm-12 col-xs-10 col-md-12">
                <div class="row chatbox_responsive_row margin-15">
                  <div class="col-lg-6 col-sm-6 col-md-6">
                    <div class="chat-sender-messages">
                      <div class="chat-container">
                        <div class="chat-sender msg">
                            <div class="chatmsg">
                              <img src="'+data['attachments'][count].url+'"  width="200" height="200">
                              <a href="'+data['attachments'][count].url+'" target="_blank">'+data['attachments'][count].name+'</a>
                            </div>
                        </div>
                      </div>
                    </div>
                          <p class="sending-date pull-right">'+data['created_at']+'</p>
                          </div>
                        <div class="col-lg-6 col-sm-6 col-md-6"></div>
                      </div>
                    </div>');
              count++;
            else
              $('.temp_'+data['message'].transaction_id).append('<div class="col-lg-12 col-sm-12 col-xs-10 col-md-12">
                  <div class="row chatbox_responsive_row margin-15">
                  <div class="col-lg-6 col-sm-6 col-md-6">
                  <div class="chat-sender-messages">
                  <div class="chat-container">
                  <div class="chat-sender msg">
                  <div class="chatmsg">
                    <a href="'+data['attachments'][count].url+'" target="_blank">'+data['attachments'][count].name+'</a>
                    </div>
                  </div>
                  </div>
                  </div>
                  <p class="sending-date pull-right">'+data['created_at']+'</p>
                  </div>
                  <div class="col-lg-6 col-sm-6 col-md-6"></div>
                  </div>
                  </div>');
              count++;
    speak: (message) ->
      @perform 'speak', message: message
