
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />

<div class="col-md-6">
  <h3 class="box-title">Plugins</h3>
</div>
<section class="section">
  <% @plugins.each do |plugin| %>
    <div class="card" id="card_margin">
      <div class="col-md-12">
        <div class="row">
          <div class="col-md-4" >
            <label  class="field_label"><%="Plugin name:" %></label>
            <label class="field_label" id="label_padding"><%=plugin.try(:name).humanize if plugin.try(:name).present? %> </label>
          </div>
            <div class="col-md-8 actions">
              <div id="download_file">
                <%= link_to plugin.file.url, class:"btn btn-success" , id:"link_right" do%>
                  <i class="fa fa-download"></i> Download File
                <% end %>
              </div>
            </div>
        </div>
      </div>
    </div>
  <% end %>
</section>