<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
  <div class="row">
    <div class="col-lg-5 col-md-5 col-xs-hidden"></div>
    <div class="col-lg-7 col-md-7 col-xs-12">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 add-link right-set">
        <div class="row">
          <div class="col-lg-6">
            <div class="pull-left mt-3 pl-0 subtotal-text">
              <p>Subtotal</p>
            </div>

          </div>
          <div class="col-lg-6">
            <div class="pull-right ">
              <div class="form-group m-form__group">
                <div class="input-icon icon_inside_input_field">
                  <span id="">$</span>
                  <input type="number" id="sub_total" value="<%= @request.present? ? number_with_precision(@request.amount, precision: 2) : "0.0" %>" name="sub_total" class="readonly_fields1 on_select invoice-price-input m-subtotal-input m-input" required>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row mb-3 bg-invoice-color">
          <% discount_method = @request.present? ? @request.discount_method == "percent" ? "percent" : "dollar" : "dollar" %>
          <div class="col-lg-4">
            <div class="pull-left mt-4 discount-text subtotal-text">
              <p>Discount</p>
            </div>
          </div>
          <div class="col-lg-4 pt-3 flex-div">
            <p class="mt-3 <%= "th-bold" if discount_method != "percent" %> p_dollar_discount">$</p>
            <span class="m-switch m-switch--icon m-switch--primary mt-2 pl-2">
              <label>
                <input type="checkbox" id="togBtn" class="dollar_percent_button" data-type="discount" <%= "checked" if discount_method == "percent"  %> <%= "disabled" if @view_only %>>
                <span></span>
              </label>
            </span>
            <p class="pl-2 mt-3 <%= "th-bold" if discount_method == "percent" %>  p_percent_discount">%</p>
          </div>
          <div class="col-lg-4">
            <div class="pull-right pt-3">
              <div class="form-group m-form__group">
                <div class="input-icon icon_inside_input_field">
                  <span id="discount_sign"><%= discount_method == "dollar" ? "$" : "%" %></span>
                  <input type="text" id="discount" name="discount" value="<%= @request.present? ? number_with_precision(@request.discount, precision: 2) : "0" %>" class="on_select invoice-price-input m-subtotal-input m-input calculation_grand_total ez_dollar " data-type="disccount" <%= "readonly" if params['view'].present? %>>
                  <input type="hidden" id="discount_method" name="discount_method" value="<%= @request.present? ? @request.discount_method : "dollar" %>">
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-6">
            <div class="pull-left mt-3 pl-0 subtotal-text">
              <p>Tax</p>
            </div>
          </div>
          <div class="col-lg-6">
            <div class="pull-right ">
              <div class="form-group m-form__group">
                <div class="input-icon icon_inside_input_field">
                  <span class="addon_left">%</span>
                  <input type="text" id="tax" name="tax" value="<%= @request.present? ? number_with_precision(@request.tax, precision: 2) : "0" %>" class="on_select invoice-price-input m-subtotal-input m-input calculation_grand_total valid_percent" data-type="tax" <%= "readonly" if params['view'].present? %>>
                  <input type="hidden" id="tax_method" name="tax_method" value="percent">
                </div>
              </div>
            </div>
          </div>
        </div>
<!--        <div class="row mb-3 bg-invoice-color">-->
<!--          <div class="col-lg-4">-->
            <%# fee_method = @request.present? ? @request.fee_method == "percent" ? "percent" : "dollar" : "dollar" %>
<!--            <div class="pull-left mt-4 discount-text subtotal-text">-->
<!--              <p>Fee</p>-->
<!--            </div>-->
<!--          </div>-->
<!--          <div class="col-lg-4 pt-3 flex-div">-->
<!--            <p class="mt-3 <%#= "th-bold" if fee_method != "percent" %> p_dollar_fee">$</p>-->
<!--            <span class="m-switch m-switch--icon m-switch--primary mt-2 pl-2">-->
<!--              <label>-->
<!--                <input type="checkbox" id="fee_togBtn" class="dollar_percent_button" data-type="fee" <%#= "checked" if fee_method == "percent"  %> <%#= "disabled" if @view_only %>>-->
<!--                <span></span>-->
<!--              </label>-->
<!--            </span>-->
<!--            <p class="pl-2 mt-3 <%#= "th-bold" if fee_method == "percent" %> p_percent_fee">%</p>-->
<!--          </div>-->
<!--          <div class="col-lg-4">-->
<!--            <div class="pull-right pt-3">-->
<!--              <div class="form-group m-form__group">-->
<!--                <div class="input-icon icon_inside_input_field">-->
<!--                  <span id="fee_sign"><%#= fee_method == "dollar" ? "$" : "%" %></span>-->
<!--                  <input type="text" id="fee" name="fee" value="<%#= @request.present? ? number_with_precision(@request.fee, precision: 2) : "0" %>" class="on_select invoice-price-input m-subtotal-input m-input calculation_grand_total ez_dollar" data-type="fee" <%#= "readonly" if params['view'].present? %> >-->
<!--                  <input type="hidden" id="fee_method" name="fee_method" value="<%#= @request.present? ? @request.fee_method : "dollar" %>">-->
<!--                </div>-->
<!--              </div>-->
<!--            </div>-->
<!--          </div>-->
<!--        </div>-->
        <div class="row mb-3 bg-invoice-color">
          <div class="col-lg-6">
            <div class="pull-left mt-3 pl-0 subtotal-text">
              <p>Shipping & Handling</p>
            </div>
          </div>
          <div class="col-lg-6">
            <div class="pull-right pt-3">
              <div class="form-group m-form__group">
                <div class="input-icon icon_inside_input_field">
                  <span class="fee_sign">$</span>
                  <input type="text" id="shipping_handling_fee" name="shipping_handling_fee" value="<%= @request.present? ? number_with_precision(@request.try(:shipping_handling_fee), precision: 2) : "0" %>" class="on_select invoice-price-input m-subtotal-input m-input calculation_grand_total ez_dollar" data-type="shipping_handling" <%= "readonly" if params['view'].present? %>>
                  <input type="hidden" id="shipping_handling_method" name="shipping_handling_method" value="dollar">
                </div>
              </div>
            </div>
          </div>
          <div class="form-group m-form__group">
            <label class="m-checkbox m-checkbox--state-brand ">
              <input type="checkbox" class="" name="apply_tax" id="apply_tax" <%= "disabled" if params['view'].present? %> <%= "checked" if @request.present? && @request.apply_tax == true %>>
              Apply tax to S&H cost
              <span class="verify_checkbox"></span>
            </label>
          </div>
        </div>
        <% if @request.present? && @request.past_due? && params[:type] == "resend" %>
        <div class="row">
          <div class="col-lg-4">
            <% late_fee_method = @request.present? ? @request.late_fee_method == "percent" ? "percent" : "dollar" : "dollar" %>
            <div class="pull-left mt-4 discount-text subtotal-text">
              <p>Late Fee</p>
            </div>
          </div>
          <div class="col-lg-4 pt-3 flex-div">
            <p class="mt-3 <%= "th-bold" if late_fee_method != "percent" %> p_dollar_late_fee">$</p>
            <span class="m-switch m-switch--icon m-switch--primary mt-2 pl-2">
              <label>
                <input type="checkbox" class="dollar_percent_button" id="late_fee_togBtn" data-type="late_fee" <%= "checked" if late_fee_method == "percent"  %> <%= "disabled" if @view_only %>>
                <span></span>
              </label>
            </span>
            <p class="pl-2 mt-3 <%= "th-bold" if late_fee_method == "percent" %> p_percent_late_fee">%</p>
          </div>
          <div class="col-lg-4">
            <div class="pull-right pt-3">
              <div class="form-group m-form__group">
                <div class="input-icon icon_inside_input_field">
                  <span id="late_fee_sign"><%= late_fee_method == "dollar" ? "$" : "%" %></span>
                  <input type="number" id="late_fee" name="late_fee" value="<%= @request.late_fee.present? ? number_with_precision(@request.late_fee, precision: 2) : "0" %>" class="on_select invoice-price-input m-subtotal-input m-input calculation_grand_total" data-type="late_fee" <%= "readonly" if params['view'].present? %>>
                  <input type="hidden" id="late_fee_method" name="late_fee_method" value="<%= @request.present? ? @request.late_fee_method : "dollar" %>">
                </div>
              </div>
            </div>
          </div>
        </div>
        <% end %>
        <div class="row">
          <div class="col-lg-6">
            <div class="pull-left mt-3 pl-0 subtotal-text">
              <p class="simple-24-bold-text-gray grand-total-font">Grand Total</p>
            </div>
          </div>
          <div class="col-lg-6">
            <div class="pull-right ">
              <div class="form-group m-form__group">
                <div class="input-icon icon_inside_input_field">
                  <span id="discount_sign">$</span>
                  <input type="number" id="grand_total" name="grand_total" min="0" value="<%= @request.present? ? number_with_precision(@request.total_amount, precision: 2) : "0.0" %>" class="readonly_fields1 on_select invoice-price-input m-grandtotal-input m-input">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>