<div class="modal fade cancelInvoiceModal" id="cancelInvoiceModal" tabindex="-1" role="dialog" aria-labelledby="orderModelLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header" >
        <p class="modal-header-text">Cancel Invoice</p>
<!--        <p class="modal-header-text">Cancel Invoice (<span id="inv_id"></span>)</p>-->
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        </button>
      </div>
      <div class="modal-body">
        <form method="post" action="">
          <div class="row">
            <div class="col-lg-12 text-center">
              <div class="permission_modal_body">
                <p class="confirm-text mt-4">Are you sure you want<br>
                  to cancel this invoice?</p>
              </div>
            </div>
            <div class="col-lg-1"></div>
            <div class="col-lg-10">
              <hr class="permission-h-line">
            </div>
            <div class="col-lg-1"></div>
            <div class="col-lg-12 text-center">
              <div class="confirm-modal-btn">
                <a href="" class="btn btn-default btn_cancel" data-dismiss="modal">No</a>
                <%= link_to  "Yes", "#", class: "btn btn-default btn_confirm ml-4 cancel_inv cancel_invs" %>
              </div>

            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>