<div class="modal fade" id="pdfPreviewModal" tabindex="-1" role="dialog" aria-labelledby="orderModelLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <div class="col-lg-12 col-md-12">
          <div class="row">
            <div class="col-lg-11 col-md-11">
            </div>
            <div class="col-lg-1 col-md-1">
              <button type="button" class="close mt-1" data-dismiss="modal" aria-label="Close"></button>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-body">
        <div class="pdf-preview-modal-body">
          <div class="pdf-modal-header ">
            <div class="pdf_bg_header mail-name-pad">
              <div class="row">
                <div class="col-lg-12 col-md-12">
                  <div class="text-center mb-3 mt-4">
                    <p class="modal-merchant-name-text mb-3"><span id="preview_merchant_name"><%=   %></span></p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-12 col-md-12">
            <p class="modal-welcome-text hello--merchant">Hello <span id="preview_name"></span></p>
            <p class="modal-welcome-text invoice-order-text">Here is your invoice number <br> <b><span id="preview_invoice_id"></span></b></p>
          </div>
          <div class="row">
            <div class="col-lg-12">
              <div class="text-center mb-3 mt-3">
                <p class="simple-24-bold-text">$<span id="preview_grand_total"></span> USD due <span id="preview_due_date"></span></p>
                <p class="email-pre-p mt-5">Please click on the desired payment method below</p>
              </div>
              <div class="text-center simple-16-normal-text">
                <p id="like_to_pay">Choose how you'd like to pay.</p>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-11">
              <div class="row options_3 display-none">
                <div class="col-lg-12 payment-part">
                  <div class="row">
                    <div class="col-lg-4">
                      <div class="row">
                        <div class="col-lg-12">
                          <div class="ach-logo text-center">
                            <div>
                              <%= image_tag "https://quickard.s3-us-west-2.amazonaws.com/QuickCard_logo_vertical.png", class: 'mb-4' %>
                            </div>
                            <div class="text-center ach-text">
                              <p>Pay with<br>Quickcard</p>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-lg-4">
                      <div class="row">
                        <div class="col-lg-12">
                          <div class="ach-logo text-center">
                            <div>
                              <%= image_tag "v2/merchant/icons/001-payment.svg", class: 'mb-4' %>
                            </div>
                            <div class="text-center ach-text">
                              <p >Pay with RTP</p>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-lg-4">
                      <div class="row">
                        <div class="col-lg-12">
                          <div class="credit-debit-logo text-center">
                            <div>
                              <%= image_tag "v2/merchant/icons/surface1.svg", class: 'mb-4' %>
                            </div>
                            <div class="text-center ach-text">
                              <p >Credit or debit<br>
                                Card</p>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row options_2">
                <div class="col-lg-12 payment-part">
                  <div class="row">
                    <div class="col-lg-2"></div>
                    <div class="col-lg-4">
                      <div class="row">
                        <div class="col-lg-12">
                          <div class="ach-logo text-center">
                            <div>
                              <%= image_tag "", class: 'mb-4 option_2_1_image' %>
                            </div>
                            <div class="text-center ach-text">
                              <p id="option_2_1_text"></p>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-lg-4">
                      <div class="row">
                        <div class="col-lg-12">
                          <div class="ach-logo text-center">
                            <div>
                              <%= image_tag "", class: 'mb-4 option_2_2_image' %>
                            </div>
                            <div class="text-center ach-text">
                              <p id="option_2_2_text">ACH</p>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row options_1">
                <div class="col-lg-12 payment-part">
                  <div class="row">
                    <div class="col-lg-4"></div>
                    <div class="col-lg-4">
                      <div class="row">
                        <div class="col-lg-12">
                          <div class="ach-logo text-center">
                            <div>
                              <%= image_tag "", class: 'mb-4 option_1_image' %>
                            </div>
                            <div class="text-center ach-text">
                              <p id="option_1_text"></p>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-12">
              <div class="invoice-part">
                <div class="row">
                  <div class="col-lg-12">
                    <div class="Billing-Info">
                      Billing Info
                    </div>
                  </div>
                </div>
                <hr class="invoice-title-line mb-2 mt-2">
                <div class="row mb-3">
                  <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                    <div class="Customer-Address">Customer Address</div>
                  </div>
                  <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                    <div class="Nowhere-Blvd" id="p_b_address"></div>
                  </div>
                  <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                    <div class="Customer-Address">Ste./Apt.</div>
                  </div>
                  <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                    <div class="Nowhere-Blvd" id="p_b_suit"></div>
                  </div>
                  <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                    <div class="Customer-Address">City</div>
                  </div>
                  <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                    <div class="Nowhere-Blvd" id="p_b_city"></div>
                  </div>
                  <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                    <div class="Customer-Address">State</div>
                  </div>
                  <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                    <div class="Nowhere-Blvd" id="p_b_state"></div>
                  </div>
                  <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                    <div class="Customer-Address">Zipcode</div>
                  </div>
                  <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                    <div class="Nowhere-Blvd" id="p_b_zip"></div>
                  </div>
                  <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                    <div class="Customer-Address">Country</div>
                  </div>
                  <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                    <div class="Nowhere-Blvd" id="p_b_country"></div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-lg-12">
                    <div class="Billing-Info">
                      Shipping Info
                    </div>
                  </div>
                </div>
                <hr class="invoice-title-line mb-2 mt-2">
                <div class="row mb-3">
                  <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                    <div class="Customer-Address">Customer Address</div>
                  </div>
                  <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                    <div class="Nowhere-Blvd" id="p_s_address"></div>
                  </div>
                  <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                    <div class="Customer-Address">Ste./Apt.</div>
                  </div>
                  <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                    <div class="Nowhere-Blvd" id="p_s_suit"></div>
                  </div>
                  <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                    <div class="Customer-Address">City</div>
                  </div>
                  <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                    <div class="Nowhere-Blvd" id="p_s_city"></div>
                  </div>
                  <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                    <div class="Customer-Address">State</div>
                  </div>
                  <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                    <div class="Nowhere-Blvd" id="p_s_state"></div>
                  </div>
                  <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                    <div class="Customer-Address">Zipcode</div>
                  </div>
                  <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                    <div class="Nowhere-Blvd" id="p_s_zip"></div>
                  </div>
                  <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                    <div class="Customer-Address">Country</div>
                  </div>
                  <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                    <div class="Nowhere-Blvd" id="p_s_country">United States of America</div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-lg-12">
                    <div class="Billing-Info">
                      MEMO
                    </div>
                  </div>
                </div>
                <hr class="invoice-title-line mb-2 mt-2">
                <div class="row mb-4">
                  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="Memo-text" id="p_memo"></div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-lg-12">
                    <div class="row">
                      <div class="col-lg-4">
                        <div class="pull-left simple-14-bold-text">
                          <p>DESCRIPTION</p>
                        </div>
                      </div>
                      <div class="col-lg-8">
                        <div class="row">
                          <div class="col-lg-1"></div>
                          <div class="col-lg-3">
                            <div class="pull-right simple-14-bold-text">
                              <p>QTY</p>
                            </div>
                          </div>
                          <div class="col-lg-4">
                            <div class="pull-right simple-14-bold-text">
                              <p>PRICE</p>
                            </div>
                          </div>
                          <div class="col-lg-4">
                            <div class="pull-right simple-14-bold-text">
                              <p>TOTAL</p>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <hr class="invoice-title-line">
                <div class="row" id="preview_main_product_0">
                  <div class="col-lg-12">
                    <div class="row">
                      <div class="col-lg-4">
                        <div class="pull-left simple-14-normal-text">
                          <p id="preview_description_0"> </p>
                        </div>
                      </div>
                      <div class="col-lg-8">
                        <div class="row">
                          <div class="col-lg-1"></div>
                          <div class="col-lg-3">
                            <div class="pull-right simple-14-normal-text">
                              <p id="preview_qty_0"></p>
                            </div>
                          </div>
                          <div class="col-lg-4">
                            <div class="pull-right simple-14-normal-text">
                              <p id="preview_unit_price_0"></p>
                            </div>
                          </div>
                          <div class="col-lg-4">
                            <div class="pull-right simple-14-normal-text">
                              <p id="preview_amount_0"></p>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <hr class="h-line">
                <div class="row">
                  <div class="col-lg-12">
                    <div class="row">
                      <div class="col-lg-4">
                        <div class="pull-left simple-14-normal-text">
                          <% if @view_only %>
                            <a href="<%= download_invoice_path(request_url: @download_invoice) %>" class="btn btn_pdf m-btn m-btn--icon" id="download_pdf_btn">
                                                                                  <span>
                                                                                    <i class="fa">
                                                                                      <%= image_tag "v2/merchant/icons/Caminho_4848.svg", class: 'pdf_small_btn' %>
                                                                                    </i>
                                                                                    <span class="pdf-text">
                                                                                     PDF
                                                                                    </span>
                                                                                  </span>
                            </a>
                          <% else %>
                            <button type="submit" class="btn btn_pdf m-btn m-btn--icon" id="download_pdf_btn" >
                            <span>
                              <i class="fa">
                                <%= image_tag "v2/merchant/icons/Caminho_4848.svg", class: 'pdf_small_btn' %>
                              </i>
                              <span class="pdf-text">
                               PDF
                              </span>
                            </span>
                            </button>
                          <% end %>
                        </div>
                      </div>
                      <div class="col-lg-8">
                        <div class="row">
                          <div class="col-lg-3"></div>
                          <div class="col-lg-5 mt-2">
                            <div class="pull-right simple-14-normal-text">
                              <p>Subtotal</p>
                            </div>
                            <div class="pull-right simple-14-normal-text">
                              <p>Discount (<span id="preview_discount"></span>)</p>
                            </div>
                            <div class="pull-right simple-14-normal-text">
                              <p>Tax (<span id="preview_tax"></span>)</p>
                            </div>
                            <!--                            <div class="pull-right simple-14-normal-text">-->
                            <!--                              <p>Fee (<span id="preview_fee"></span>)</p>-->
                            <!--                            </div>-->
                            <div class="pull-right simple-14-normal-text">
                              <p>Shipping & Handling </p>
                            </div>
                            <div class="pull-right simple-14-normal-text">
                              <p>Amount due</p>
                            </div>
                          </div>
                          <div class="col-lg-4 mt-2">
                            <div class="row">
                              <div class="col-lg-12">
                                <div class="pull-right simple-14-normal-text">
                                  <p id="preview_sub_total">$100.00</p>
                                </div>
                              </div>
                            </div>
                            <div class="row">
                              <div class="col-lg-12">
                                <div class="pull-right simple-14-normal-text">
                                  <p id="preview_discount_amount">$9.00</p>
                                </div>
                              </div>
                            </div>
                            <div class="row">
                              <div class="col-lg-12">
                                <div class="pull-right simple-14-normal-text">
                                  <p id="preview_tax_amount">$9.00</p>
                                </div>
                              </div>
                            </div>
                            <!--                            <div class="row">-->
                            <!--                              <div class="col-lg-12">-->
                            <!--                                <div class="pull-right simple-14-normal-text">-->
                            <!--                                  <p id="preview_fee_amount">$9.00</p>-->
                            <!--                                </div>-->
                            <!--                              </div>-->
                            <!--                            </div>-->
                            <div class="row">
                              <div class="col-lg-12">
                                <div class="pull-right simple-14-normal-text">
                                  <p id="preview_shipping_amount">$9.00</p>
                                </div>
                              </div>
                            </div>
                            <div class="row">
                              <div class="col-lg-12">
                                <div class="pull-right simple-14-normal-text">
                                  <p id="preview_grand_totall">$109.00</p>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <hr class="invoice-line">
                    <!--                    <div class="row">-->
                    <!--                      <div class="col-lg-12">-->
                    <!--                        <div class="text-center simple-14-normal-text">-->
                    <!--                          <p>If you have any questions, contact <span id="preview_email"></span> at<br>-->
                    <!--                            <span class="invoice-link-text" id="preview_dba_email">dbaname@email.com</span> or call-->
                    <!--                            <span class="invoice-link-text" id="preview_dba_phone">1 (123) 456-7890</span>.</p>-->
                    <!--                        </div>-->
                    <!--                      </div>-->
                    <!--                    </div>-->
                    <div>
                      <p colspan="2" style="display: block; margin: 0; padding: 10px 0; font-family: 'Open Sans', sans-serif;
                          font-size: 16px;
                          font-weight: 600;
                          font-stretch: normal;
                          font-style: normal;
                          line-height: 1.88;
                          letter-spacing: normal;
                          text-align: center;
                          color: #4c4c4c;
                          margin-top: 1rem !important;">
                        <span id="preview_dba_name">dbaname</span> Contact Info
                      </p>
                    </div>
                    <div>
                      <p style="color: #777777; margin: 0; text-align: center;
                          width: 100%;
                          font-family: 'Open Sans', sans-serif;
                          font-size: 16px;">
                        Contact Support
                      </p>
                      <div style="display: inline-block; text-align: center;
                          width: 100%;
                          font-family: 'Open Sans', sans-serif;
                          font-size: 16px;">
                        <img
                          src="https://quickard.s3-us-west-2.amazonaws.com/phone.png"
                          alt=""
                          style="width: 26px;"
                          />
                        <strong
                          style="
                          color: #4c4c4c;
                              padding-top: 3px;
                              display: inline-block;
                          "
                        ><span id="preview_dba_phone">dbaphone</span></strong
                        >
                      </div>
                    </div>
                    <div>
                      <p style="color: #777777; margin: 14px 0 0 0;  text-align: center;
                          width: 100%;
                          font-family: 'Open Sans', sans-serif;
                          font-size: 16px;">
                        Email Support
                      </p>
                      <div style="display: inline-block;  text-align: center;
                          width: 100%;
                          font-family: 'Open Sans', sans-serif;
                          font-size: 16px;">
                        <img
                          src="https://quickard.s3-us-west-2.amazonaws.com/email.png"
                          alt=""
                          style="width: 26px;"
                          />
                        <strong
                          style="
                          color: #4c4c4c;
                              padding-top: 1px;
                              display: inline-block;
                          "
                        >
                          <a
                            style="
                            color: #35bab6;
                                font-weight: 600;
                                white-space: nowrap;
                            "
                            href="mailto:support@quickcard.me"
                          ><span id="preview_dba_email">dbaemail</span></a
                          >
                        </strong>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-12">
              <div class="text-center invoice-powered-by-text">
                <p>Powered by  <%= image_tag "https://quickard.s3-us-west-2.amazonaws.com/QC_new_logo.png", class: 'ml-2' %></p>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-12">
            <div class="text-center mt-5 buttons_invoice">
              <% if @view_only && params[:type] != "resend" %>
              <% else %>
                <% if @request.nil? || (@request.present? && @request.status == "saved") %>
                  <%= submit_tag "Save Draft", :class => "btn btn-default invoice-pdf-cancel-btn invoice-pdf-btn",id: "save_draft" %>
                <% end %>
                <%= submit_tag "Send Invoice", :class => "btn btn-default btn-preview-invoice invoice-pdf-btn btn__preview ml-3",id: "send_invoice" %>
              <% end %>
              <!--              <a  class="btn btn-default btn-preview-invoice invoice-pdf-btn btn__preview ml-3">Send Invoice</a>-->
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
