<% requests.each.with_index do |request, index| %>
  <tr class="<%= index.odd? ? "odd" : "even" %>">
    <td><%= request.invoice_number %></td>
    <td><%= request.created_at.strftime("%m/%d/%Y") %></td>
    <td><%= request.due_date.strftime("%m/%d/%Y") %></td>
    <td><%= request.reciever_name %></td>
    <td><%= number_with_precision(number_to_currency(request.amount.to_f), precision: 2) %></td>
    <td>
      <center>
        <% if request.status == "past_due" %>
          <span class="badge past_due">Past Due</span>
        <% elsif request.status == "in_progress" %>
          <span class="badge pending">Pending</span>
        <% elsif request.status == "approved" %>
          <span class="badge paid">PAID</span>
        <% elsif request.status == "cancel" %>
          <span class="badge canceled">Cancelled</span>
        <% elsif request.status == "saved" %>
          <span class="badge draft">Draft</span>
        <% end %>
      </center>
    </td>
    <td>
      <center>
        <div class="m-dropdown m-dropdown--inline m-dropdown--arrow m-dropdown--align-right m-dropdown--align-push" m-dropdown-toggle="click" aria-expanded="true">
          <a href="#" class="m-portlet__nav-link m-dropdown__toggle btn m-btn m-btn--link">
            <%= image_tag "v2/merchant/datatable/dotted.svg" %>
          </a>
          <div class="m-dropdown__wrapper" >
            <span class="m-dropdown__arrow m-dropdown__arrow--right m-dropdown__arrow--adjust"></span>
            <div class="m-dropdown__inner">
              <div class="m-dropdown__body">
                <div class="m-dropdown__content">
                  <ul class="m-nav">

                    <li class="m-nav__item">
                      <%= link_to('<i class="m-nav__link-icon flaticon-share"></i>
                                     <span class="m-nav__link-text"> View</span>'.html_safe, view_invoice_v2_merchant_invoices_path(id: request.id), :class => "m-nav__link") %>
                    </li>

                    <% if @payor.present? %>
                      <li class="m-nav__item">
                        <%= link_to('<i class="m-nav__link-icon flaticon-chat-1"></i>
                                    <span class="m-nav__link-text"> Approve</span>'.html_safe, approve_invoice_v2_merchant_invoices_path(id: request.id), :class => "m-nav__link") %>
                      </li>
                    <% else %>
                      <% if ["saved", "past_due"].include? request.status %>
                        <li class="m-nav__item">
                          <%= link_to('<i class="m-nav__link-icon flaticon-chat-1"></i>
                                        <span class="m-nav__link-text"> Reopen</span>'.html_safe, reopen_v2_merchant_invoices_path(id: request.id, type: "reopen"), :class => "m-nav__link") %>
                        </li>
                      <% end %>
                      <% if ["in_progress", "past_due"].include? request.status %>
                        <li class="m-nav__item">
                          <%= link_to('<i class="m-nav__link-icon flaticon-info"></i>
                                        <span class="m-nav__link-text"> Resend</span>'.html_safe, reopen_v2_merchant_invoices_path(id: request.id, type: "resend"), :class => "m-nav__link") %>
                        </li>
                      <% end %>
                    <% end %>

                    <% unless ["approved", "cancel"].include? request.status %>
                      <li class="m-nav__item">
                        <%= link_to('<i class="m-nav__link-icon flaticon-lifebuoy"></i>
                                                              <span class="m-nav__link-text"> Cancel</span>'.html_safe, cancel_v2_merchant_invoices_path(id: request.id), :class => "m-nav__link", data: {confirm: "Are you sure?"}) %>
                      </li>
                    <% end %>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </center>
    </td>
  </tr>
<% end %>