<% if products.present? %>
  <% products.each_with_index do |product,index|  %>
    <% if index == 0  %>
      <div class="row main_product">
        <div class="col-lg-5 col-md-5 col-sm-12 col-xs-12">
          <div class="form-group mb-0 m-form__group">
            <label for="product_or_service_description">Product or Service Description</label>
          </div>
        </div>
        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
          <div class="form-group mb-0 m-form__group">
            <label for="qty">Qty</label>
          </div>
        </div>
        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
          <div class="form-group mb-0 m-form__group">
            <label for="unit_price">Unit Price</label>
          </div>
        </div>
        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
          <div class="form-group mb-0 m-form__group">
            <label for="unit_price">Amount</label>
          </div>
        </div>
      </div>
    <% end %>
    <div class="row main_product_<%= index %> <%= index == 0 ? "" : "more_than_one"  %>">
      <input type="hidden" name="product[<%= index %>][product_id]" value="<% product.id %>">
      <div class="col-lg-5 col-md-5 col-sm-12 col-xs-12">
        <div class="form-group m-form__group">
          <input type="text" value="<%= product.name %>" class="form-control invoice-input m-input" id="description_<%= index %>" name="product[<%= index %>][description]" placeholder="Product Name" autocomplete="new-password"  required <%= "readonly" if @view_only  %>>
        </div>
      </div>
      <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
        <div class="form-group m-form__group">
          <div class="input-icon icon_inside_input_field">
            <span id="">#</span>
            <input type="text" class="form-control invoice-price-input m-input calculate_amount quantity_reg" id="qty_<%= index %>" name="product[<%= index %>][qty]" value="<%= product.quantity %>" autocomplete="new-password" placeholder="#" data-id="<%= index %>" required <%= "readonly" if @view_only  %>>
          </div>
        </div>
      </div>
      <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
        <div class="form-group m-form__group">
          <div class="input-icon icon_inside_input_field">
            <span id="">$</span>
            <input type="text" class="form-control invoice-price-input m-input calculate_amount ez_dollar" id="unit_price_<%= index %>" value="<%= number_with_precision(product.amount, precision: 2) %>" name="product[<%= index %>][unit_price]" autocomplete="new-password" placeholder="$" data-id="<%= index %>" required <%= "readonly" if @view_only %>>
          </div>
        </div>
      </div>
      <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
        <div class="form-group m-form__group">
          <div class="input-icon icon_inside_input_field">
            <span id="">$</span>
            <input type="number" class="form-control invoice-price-input m-input product_amount" id="amount_<%= index %>" value="<%= number_with_precision(product.total_amount, precision: 2) %>" name="product[<%= index %>][amount]" placeholder="$" required <%= "readonly" if @view_only %>>
          </div>
        </div>
      </div>
      <div class="col-lg-1">
        <div class="col-lg-1">
          <% if @view_only %>
            <a class="cursor-not-allowed" data-id="<%= index %>"><%= image_tag "v2/merchant/invoice/clear_btn.svg",class:'clear_invoice_btn'%></a>
          <% else %>
            <a class="cursor-pointer delete_product" data-id="<%= index %>"><%= image_tag "v2/merchant/invoice/clear_btn.svg", class: 'clear_invoice_btn' %></a>
          <% end %>
      </div>
    </div>
  </div>
  <% end %>
  <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12" id="add_another_item_div">
    <div class="form-group m-form__group">
      <div class="add-another-item-text pl-3 cursor-pointer ">
        <a id="add_another_item<%= "12" if @view_only  %>" data-count="<%= products.size %>">+ Add another item</a>
      </div>
    </div>
  </div>
<% else %>
  <div class="row main_product">
    <div class="col-lg-5 col-md-5 col-sm-12 col-xs-12">
      <div class="form-group mb-0 m-form__group">
        <label for="product_or_service_description">Product or Service Description</label>
      </div>
    </div>
    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
      <div class="form-group mb-0 m-form__group">
        <label for="qty">Qty</label>
      </div>
    </div>
    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
      <div class="form-group mb-0 m-form__group">
        <label for="unit_price">Unit Price</label>
      </div>
    </div>
    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
      <div class="form-group mb-0 m-form__group">
        <label for="unit_price">Amount</label>
      </div>
    </div>
  </div>

  <div class="row main_product_0">
    <div class="col-lg-5 col-md-5 col-sm-12 col-xs-12">
      <div class="form-group m-form__group">
        <input type="text" id="description_0" name="product[0][description]" class="form-control invoice-input m-input"  placeholder="Product Name" required>
      </div>
    </div>
    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
      <div class="form-group m-form__group">
        <div class="input-icon icon_inside_input_field">
          <span>#</span>
          <input type="text" id="qty_0" name="product[0][qty]" min="1" class="form-control invoice-price-input m-input calculate_amount quantity_reg" placeholder="0" data-id="0" required>
        </div>
      </div>
    </div>
    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
      <div class="form-group m-form__group">
        <div class="input-icon icon_inside_input_field">
          <span id="">$</span>
          <input type="text" id="unit_price_0" name="product[0][unit_price]" class="form-control invoice-price-input m-input calculate_amount ez_dollar" placeholder="0.0" data-id="0" required>
        </div>
      </div>
    </div>
    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
      <div class="form-group m-form__group">
        <div class="input-icon icon_inside_input_field">
          <span id="">$</span>
          <input type="number" id="amount_0" value="0.0" name="product[0][amount]" class="readonly_fields1 form-control invoice-price-input m-input product_amount" placeholder="$" required>
        </div>
      </div>
    </div>
    <div class="col-lg-1">
      <a class="delete_product" data-id="<%= 0 %>"><%= image_tag "v2/merchant/invoice/clear_btn.svg", class: 'clear_invoice_btn' %></a>
    </div>
  </div>

  <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12" id="add_another_item_div">
    <div class="form-group m-form__group">
      <div class="add-another-item-text pl-3 cursor-pointer">
        <a class="add-link" id="add_another_item" data-count="1">+ Add another item</a>
      </div>
    </div>
  </div>
<% end %>