<%= stylesheet_link_tag 'v2/merchant/login_base' %>
<%= stylesheet_link_tag 'v2/merchant/login' %>
<%= stylesheet_link_tag 'v2/merchant/custom_2.css' %>
<div  class="m--skin- m-header--fixed m-header--fixed-mobile m-aside-left--enabled m-aside-left--skin-dark m-aside-left--offcanvas m-footer--push m-aside--offcanvas-default"  >
  <!-- begin:: Page -->
  <div class="background_image forget_pass_bg">
    <div class="container-fluid">
      <div class="row">
        <div class="right-side-ipad col-md-6 pull-left">
          <div class="m-grid m-grid--hor m-grid--root m-page">
            <div class="m-login m-login--signin" >
              <div class="m-login__wrapper-1 m-portlet-full-height">
                <div class="m-login__wrapper-1-1">
                  <div class="m-login__contanier">
                    <div class="m-login__content">
                      <div class="m-login__logo">
                        <center>
                          <%= image_tag "v2/login/login_new_logo.svg" , class: "new_logo_design" %>
                          <%#= image_tag "v2/login/Qc_logo" , class: "z_cart_logo" %>
                        </center>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="left-side-ipad-forgot col-md-6 pull-right pr-0">
          <div class="m-grid m-grid--hor m-grid--root m-page">
            <div class="m-grid__item m-grid__item--fluid m-grid m-grid--hor m-login m-login--signin m-login--2 m-login-2--skin-1" id="m_login">
              <div class="row mr-0 ml-0">
                <div class="col-xl-2 col-lg-2 col-md-2 col-sm-12 col-xs-12"></div>
                <div class="col-xl-9 col-lg-9 col-md-9 col-sm-12 col-xs-12">
                  <div class="m-grid__item m-grid__item--fluid m-login__wrapper">
                    <div class="m-login__container">
                      <div class="m-login__logo">
                        <center>
                          <p class="welcome_text">Welcome to</p>
                          <%= image_tag "v2/login/new_qc_logo_login.svg" , class: "desktop_logo" %>
                          <p class="welcom_text new_password_text mb-0">
                            Please enter password and confirm your new<br>password.
                          </p>
                        </center>
                      </div>
                      <div class="m-login__signin" id="reset_password_mail">
                        <!--                        <div class="m-login__head">-->
                        <!--                          <p class="m-login__title">-->
                        <!--                            <span>Welcome back!</span>-->
                        <!--                            <br>-->
                        <!--                            <br class="br1">-->
                        <!--                            Please enter your email and password-->
                        <!--                            <br class="br1">-->
                        <!--                            to access your Dashboard-->
                        <!--                          </p>-->
                        <!--                        </div>-->

                        <center>
                          <%= form_for(@user ,url: user_password_path, html: { method: :put, id: 'password_form' ,class: "m-login__form m-form", autocomplete: "false"}) do |f| %>

                            <% old_passwords_count = User.with_reset_password_token(params[:reset_password_token]).try(:old_passwords).try(:count) %>
                            <%= f.hidden_field :reset_password_token %>
                            <div id="alert-message"><%= render :partial => 'shared/login_flash' %></div>
                            <div class="form-group m-form__group margin-bot">
                              <label class="label_text pull-left">
                                <%= old_passwords_count == 0 ? "Create New Password" : "Reset Password" %>
                              </label>
                              <%= f.password_field :password, autofocus: true , id:"username" ,class:"form-control m-input m-login__form-input--last new_password auto_off", placeholder: 'Password'  %>
                            </div>
                            <!--                            <div class="strength setting-mer-st-25">-->
                            <!--                              <div class="figure" id="tooltips"></div>-->
                            <!--                            </div>-->
                            <div class="col-md-12">
                              <div id='tooltips'>
                                <div class="tip"></div>
                                <p class="pwd-suggestion-title">Your password must have at least:</p>
                                <div class="password-suggesstions">
                                  <div class="invalid"><i class="fa fa-times test-times" aria-hidden="true" id="8_characters"></i></div>
                                  <span class="pwd-suggestion-message">8 Characters</span>
                                </div>

                                <div class="password-suggesstions">
                                  <div class="invalid"><i class="fa fa-times test-times" aria-hidden="true" id="1_number"></i></div>
                                  <span class="pwd-suggestion-message">1 Number</span>
                                </div>
                                <div class="password-suggesstions">
                                  <div class="invalid"><i class="fa fa-times test-times" aria-hidden="true" id="upcase"></i></div>
                                  <span class="pwd-suggestion-message">1 Uppercase Letter (A-Z)</span>
                                </div>

                                <div class="password-suggesstions">
                                  <div class="invalid"><i class="fa fa-times test-times" aria-hidden="true" id="downcase"></i></div>
                                  <span class="pwd-suggestion-message">1 Lowerrcase Letter (a-z)</span>
                                </div>

                              </div>
                            </div>
                            <div class="form-group m-form__group margin_top_30">
                              <label class="label_text pull-left">
                                <%= old_passwords_count == 0 ? "Confirmed New Password" : "Confirmed Reset Password" %>
                              </label>
                              <%= f.password_field :password_confirmation, id:"password" ,class:"form-control m-input m-login__form-input--last confirm_password auto_off", placeholder: 'Repeat Password'%>
                            </div>
                            <div class="m-login__form-action">
                              <%= f.hidden_field :role , value: "merchant" , name: "role" %>
                              <%= f.submit old_passwords_count == 0 ? "Create Password" : "Reset Password", class:"btn btn-access btn-focus m-btn m-btn--pill m-btn--custom m-btn--air  m-login__btn m-login__btn--primary", id:'m_login_signin_submit'%>
                            </div>
                          <%end%>
                        </center>

                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-xl-1 col-lg-1 col-md-1 col-sm-12 col-xs-12"></div>
              </div>
            </div>
          </div>
          <center>
            <div class="term-div">
              <p class="powerd_by">Powered by <%= image_tag "v2/green_box_logo.svg" %></p>
            </div>
          </center>
          <!--          <div class="m-grid m-grid--hor m-grid--root m-page">-->
          <!--            <div>-->
          <!--              <div class="row col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12 bottom-power-by-gbox">-->
          <!--                <div class="col-xl-2 col-lg-2 col-md-2 col-sm-12 col-xs-12"></div>-->
          <!--                <div class="col-xl-9 col-lg-9 col-md-9 col-sm-12 col-xs-12">-->
          <!--                  <center>-->
          <!--                    <div class="term-div">-->

          <!--                      <p class="powerd_by">Powered by <%#= image_tag "v2/merchant/Greenbox_Logo.svg" %></p>-->
          <!--                    </div>-->
          <!--                  </center>-->
          <!--                </div>-->
          <!--                <div class="col-xl-1 col-lg-1 col-md-1 col-sm-12 col-xs-12"></div>-->
          <!--              </div>-->
          <!--            </div>-->
          <!--          </div>-->
        </div>
      </div>
    </div>
  </div>
  <!--Terms And Services-->
  <%#= render 'v2/merchant/shared/terms_and_services' %>
</div>
<%= javascript_include_tag 'v2/merchant/login.js' %>