.ui-autocomplete {
    position: sticky !important;
    top: 0;
    left: 0;
    cursor: default;
}
.phone-div .selected-dial-code{
    height: 50% !important;
    line-height: 30% !important;
    margin-top: 25% !important;
}
.phone-div .flag-container{
    margin-top: 0px !important;
}
/*.flag-container{*/
/*    margin-top: -1px !important;*/
/*}*/
/*.selected-dial-code{*/
/*    margin-top: 4px !important;*/
/*}*/
