
<div class="m-content mt-5">
  <div class="m-portlet m-portlet--mobile m-portal_datatable">
    <h3 class="m-subheader__title ach-heading-custom flex-line flex-between mb-24">
      Exported Files
    </h3>
    <div class="m-portlet__body" id="exports_list">
<!--      Exported Files-->
      <!--begin: Datatable -->
      <%= render partial: "v2/merchant/shared/exported_datatable" %>
    </div>
  </div>
  <!-- END EXAMPLE TABLE PORTLET-->
</div>

<%= javascript_include_tag "v2/merchant/exports" %>
