
<div class="modal fade detailModal" role="dialog" aria-labelledby="modal-label-69" aria-hidden="true">
  <div class="modal-dialog modal-sm form-group">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Trip Merchant Details</h4>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-md-12">
            <div class="col-md-12 margin-to-20-bottom-20-m-b-apis">
              <h5><u>Application Status</u></h5>
              <div class="col-md-12">
                <div class="col-md-12">
                  <div class="col-md-3 data_col"><label class="control-label font-weight-bold">Request Status:</label></div>
                  <div class="col-md-9 "> <%= @merchant.low_risk_details.try(:[], "status_message") %></div>
                </div>
                <% if @merchant.low_risk_status == "pending" %>
                  <% if @merchant.low_risk_details.try(:[], "error_message").present? %>
                    <div class="col-md-12">
                      <div class="col-md-3 data_col">
                        <label class="control-label font-weight-bold">Error Message:</label></div>
                      <div class="col-md-9 ">
                        <% messages =  @merchant.low_risk_details.try(:[], "error_message").split('. ') %>
                        <% messages.each do |m| %>
                          <p class="line-height-0-m-b-apis"><%= m %></p>
                        <% end %>
                      </div>
                    </div>
                  <% end %>
                <% end %>
                <div class="col-md-12">
                  <div class="col-md-3 data_col"><label class="control-label font-weight-bold">Merchant Application ID:</label></div>
                  <div class="col-md-9"> <%= @merchant.low_risk_details.try(:[], "merchant_application_id") %></div>
                </div>
                <div class="col-md-12">
                  <div class="col-md-3 data_col"><label class="control-label font-weight-bold">Infinicept Application ID:</label></div>
                  <div class="col-md-9 "> <%= @merchant.low_risk_details.try(:[], "infinicept_application_id") %></div>
                </div>
                <div class="col-md-12">
                  <div class="col-md-3 data_col"><label class="control-label font-weight-bold">Application Status:</label></div>
                  <div class="col-md-9 "> <%= @merchant.low_risk_details.try(:[], "application_status_label") %></div>
                </div>
                <% if @merchant.low_risk_details.try(:[], "under_writing_results").present? %>
                  <div class="col-md-12">
                    <div class="col-md-3 data_col"><label class="control-label font-weight-bold">Response Status:</label></div>
                    <div class="col-md-9 "> <%= @merchant.low_risk_details.try(:[], "under_writing_results").try(:first).try(:[], "StatusLabel") %></div>
                  </div>
                  <div class="col-md-12">
                    <div class="col-md-3 data_col"><label class="control-label font-weight-bold">Response CategoryLabel:</label></div>
                    <div class="col-md-9 "> <%= @merchant.low_risk_details.try(:[], "under_writing_results").try(:first).try(:[], "CategoryLabel") %></div>
                  </div>
                <% end %>
                <% if @merchant.low_risk_details.try(:[], "boarding_results").present? %>
                  <div class="col-md-12">
                    <div class="col-md-3 data_col"><label class="control-label font-weight-bold">Response Status:</label></div>
                    <div class="col-md-9 "> <%= @merchant.low_risk_details.try(:[], "boarding_results").try(:first).try(:[], "Status") %></div>
                  </div>
                  <div class="col-md-12">
                    <div class="col-md-3 data_col"><label class="control-label font-weight-bold">Response Category:</label></div>
                    <div class="col-md-9 "> <%= @merchant.low_risk_details.try(:[], "boarding_results").try(:first).try(:[], "BoardingReason") %></div>
                  </div>
                <% end %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>