<button type="button" onclick="getpaid();">Pay Now</button>
<script type="text/javascript" src="https://api-staging.boltpay.io/bp-inline.js"></script>
<script type="text/javascript">
    function getpaid(){
        const public_key = "pk_test_tGOVZcxKJ92YBgazI1Re5H7SsNjy40QCqEnDhouMkTmwvfFXULd6r8bi";
        var reference = "BP_PB_TRANSACTIONS_"+Math.random();

        boltpaySetup({
            bp_public_key: "pk_test_tGOVZcxKJ92YBgazI1Re5H7SsNjy40QCqEnDhouMkTmwvfFXULd6r8bi",
            txref: reference,
            customer_email: "bilal@techcreatix.com",
            customer_phone: "923030303796",
            customer_firstname: "Example",
            customer_lastname: "User",
            amount: 100, //amount in cents, ergo 100 equals 1 USD
            currency: "USD",
            callback: function(response){
                console.log(response)
                var transaction_reference = response.transaction_information.data.transaction_reference;
                var transaction_response_code = response.transaction_information.data.responsecode;
                if(transaction_response_code == "00"){
                    //Redirect to success page
                }else{
                    //Redirect to failure page
                }
            }
        });
    }
</script>