<!--<link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css'>-->

<div class="container">
  <div class="stepwizard">
    <div class="stepwizard-row setup-panel">
      <div class="stepwizard-step">
        <a href="#step-1" type="button" class="btn btn-primary btn-circle">1</a>
        <p>Company Profile</p>
      </div>
      <div class="stepwizard-step">
        <a href="#step-2" type="button" class="btn btn-default btn-circle disabled">2</a>
        <p>Owner Information</p>
      </div>
      <div class="stepwizard-step">
        <a href="#step-3" type="button" class="btn btn-default btn-circle disabled">3</a>
        <p>Banking Information</p>
      </div>
    </div>
  </div>
  <%= form_tag admins_mechant_bank_apis_create_path, method: :POST,data: {disable_with: "<i class='fa fa-refresh fa-spin'> </i>" } do %>
    <div class="row setup-content" id="step-1">
      <div class="col-xs-12">
        <div class="col-md-11">
          <h3> Step 1</h3>

          <hr>

          <div class="form-group row">
            <div class="col-md-3">
              <label>Legal Business Name<span id="star">*</span></label>
            </div>
            <div class="col-md-9">
              <input type="text" class="form-control" name="legal_name" value="<%= @merchant.try(:name) %>" placeholder="Name" required>
            </div>
          </div>

          <hr>

          <div class="form-group row">
            <div class="col-md-3">
              <label>DBA Name<span id="star">*</span></label>
            </div>
            <div class="col-md-9">
              <input type="text" class="form-control" name="dba_name" value="<%= @location.try(:business_name) %>" placeholder="DBA Name" required>
            </div>
          </div>

          <hr>


          <div class="form-group row">
            <div class="col-md-3">
              <label>
                Tax Identification Number (TIN)<span id="star">*</span>
              </label>
            </div>
            <div class="col-md-9">
              <input type="number" class="form-control key_9_number" name="tax_id"  value="<%= @location.try(:tax_id) %>" placeholder="Enter Number" required>
            </div>
          </div>

          <hr>

          <div class="form-group row">
            <div class="col-md-3">
              <label>
                Physical Address**
              </label>
            </div>
            <div class="col-md-9">
              <input type="text" class="form-control" name="country" value="<%= @merchant.try(:country) %>" placeholder="Country" required>
              <input type="text" class="form-control" name="street1" value="<%= @merchant.try(:street) %>" placeholder="Street Address" required>
              <input type="text" class="form-control" name="street2" value="" placeholder="Street Address 2">
              <div class="row">
                <div class="col-md-5">
                  <input type="text" class="form-control" name="city" value="<%= @merchant.try(:city) %>" placeholder="City" required>
                </div>
                <div class="col-md-4">
                  <input type="text" class="form-control" name="state" value="<%= @merchant.try(:state) %>" placeholder="State" required>
                </div>
                <div class="col-md-3">
                  <input type="number" class="form-control key_5_number" name="zip" value="<%= @merchant.try(:zip_code) %>"  placeholder="Postal Code" required>
                </div>
              </div>
            </div>
          </div>

          <hr>

          <div class="form-group row">
            <div class="col-md-3">
              <label>Ownership Type*</label>
            </div>
            <div class="col-md-9">
              <%= select_tag :ownershiptype, options_for_select([['Government', 'Government'],['Limited Liability Company', 'LLC'],['Non-Profit', 'NonProfit'],['Partnership', 'Partnership'],['Private Corporation', 'PrivateCorporation'],['Public Corporation', 'PublicCorporation'],['SoleProprietorship', 'SoleProprietorship']], @merchant.try(:owner_name)),class: "form-control" %>
<!--              <input type="text" class="form-control" name="ownershiptype" value="<%#= @merchant.try(:owner_name) %>" placeholder="Ownership Type" required>-->
            </div>
          </div>

          <hr>

          <div class="form-group row">
            <div class="col-md-3">
              <label>Business Type*</label>
            </div>
            <div class="col-md-9">
              <%= select_tag :businesstype, options_for_select([['AutoRental', 'AutoRental'],['ECommerce', 'ECommerce'],['Lodging', 'Lodging'],['MOTO', 'MOTO'],['Restaurant', 'Restaurant'],['Retail', 'Retail']], @location.try(:trip_business_type)),class: "form-control" %>
<!--              <input type="text" class="form-control" name="businesstype" value="<%#= @location.try(:trip_business_type) %>" placeholder="Business Type" required>-->
            </div>
          </div>

          <hr>

          <div class="form-group row">
            <div class="col-md-3">
              <label>What best describes your business?</label>
            </div>
            <div class="col-md-9">
              <input type="text" class="form-control" placeholder="Aquariums, Dolphinariums, Zoos and Seaquariums" >
            </div>
          </div>

          <hr>

          <div class="form-group row">
            <div class="col-md-3">
              <label>Date Established/Incorporated*</label>
            </div>
            <div class="col-md-9">
              <div class="row">
                <div class="col-md-4">
                  <input type="text" class="form-control datepicker" value="<%= @location.try(:years_in_business) %>" name="DateofIncorporation">
                </div>
              </div>
            </div>
          </div>

          <hr>

          <div class="form-group row">
            <div class="col-md-3">
              <label>
                Business Phone Number*
              </label>
            </div>
            <div class="col-md-9">
              <input type="number" class="form-control key_10_number" name="business_phone_number" value="<%= @merchant.try(:phone_number) %>"  placeholder="Enter Number" required>
            </div>
          </div>

          <hr>

          <div class="form-group row">
            <div class="col-md-3">
              <label>Business Email Address*</label>
            </div>
            <div class="col-md-9">
              <input type="email" class="form-control" name="email" value="<%= @merchant.try(:email) %>" placeholder="Email" required>
            </div>
          </div>

          <hr>

          <div class="form-group row">
            <div class="col-md-3">
              <label>Business Website*</label>
            </div>
            <div class="col-md-9">
              <input type="url" class="form-control" name="business_website" value="<%= JSON(@location.try(:web_site)).first %>" placeholder="Website URL" required>
            </div>
          </div>

          <hr>

          <div class="form-group row">
            <div class="col-md-3">
              <label>
                Do you anticipate to process more than $250,000 annually?*
              </label>
            </div>
            <div class="col-md-9">
              <input type="text" class="form-control" name="process_annually" value="<%= @location.try(:monthly_processing_volume) %>" required>
            </div>
          </div>

          <hr>

          <button class="btn btn-primary nextBtn pull-right" type="button">Next</button>
        </div>
      </div>
    </div>
    <div class="row setup-content" id="step-2">
      <div class="col-xs-12">
        <div class="col-md-11">
          <h3> Step 2</h3>

          <hr>

          <div class="form-group row">
            <div class="col-md-3">
              <label>
                Primary Contact's Title**
              </label>
            </div>
            <div class="col-md-9">
              <input type="text" class="form-control" name="contact_title" value="<%= @location.try(:first_name) %>" placeholder="Primary Contact's Title" required>
            </div>
          </div>

          <hr>

          <div class="form-group row">
            <div class="col-md-3">
              <label>
                Primary Contact's Name**
              </label>
            </div>
            <div class="col-md-9">
              <div class="row">
                <div class="col-md-4">
                  <input type="text" class="form-control" name="contact_name" value="<%= @location.try(:last_name) %>" placeholder="First Name" required>
                </div>
                <div class="col-md-4">
                  <input type="text" class="form-control" name="contact_middle_title" value="" placeholder="Middle Name" >
                </div>
                <div class="col-md-4">
                  <input type="text" class="form-control" name="contact_last_title" value="" placeholder="Last Name" >
                </div>
              </div>

            </div>
          </div>

          <hr>

          <div class="form-group row">
            <div class="col-md-3">
              <label>
                Primary Contact's Home Address
              </label>
            </div>
            <div class="col-md-9">
              <input type="text" class="form-control" name="contact_country" value="" placeholder="Country" required>
              <div class="row">
                <div class="col-md-5">
                  <input type="text" class="form-control" name="contact_city" value="<%= @location.try(:city) %>" placeholder="City" required>
                </div>
                <div class="col-md-4">
                  <input type="text" class="form-control" name="contact_state" value="<%= @location.try(:state) %>" placeholder="State" required>
                </div>
                <div class="col-md-3">
                  <input type="text" class="form-control key_5_number" name="contact_zip" value="<%= @location.try(:zip) %>" placeholder="Postal Code"  required>
                </div>
              </div>
            </div>
          </div>

          <hr>

          <div class="form-group row">
            <div class="col-md-3">
              <label>
                Primary Contact's Phone Number*
              </label>
            </div>
            <div class="col-md-9">
              <input type="number" class="form-control key_10_number" name="contact_number" value="<%= @location.try(:phone_number) %>" minlength="10"  placeholder="Enter Number" required>
            </div>
          </div>

          <hr>

          <div class="form-group row">
            <div class="col-md-3">
              <label>
                Primary Contact's Email*
              </label>
            </div>
            <div class="col-md-9">
              <input type="email" class="form-control" name="contact_email" value="<%= @location.try(:email) %>" placeholder="Email" required>
            </div>
          </div>

          <hr>

          <button class="btn btn-primary nextBtn pull-right" type="button" >Next</button>
        </div>
      </div>
    </div>
    <div class="row setup-content" id="step-3">
      <div class="col-xs-12">
        <div class="col-md-11">
          <h3> Step 3</h3>

          <hr>

          <div class="form-group row">
            <div class="col-md-3">
              <label>
                Bank Account DDA Type*
              </label>
            </div>
            <div class="col-md-9">
              <%= select_tag :bank_account_dda_type, options_for_select([['Checking', 'Checking'],['Savings', 'Savings']], @location.try(:dda_type)),class: "form-control" %>
<!--              <input type="text" class="form-control" name="bank_account_dda_type" value="<%#= @location.try(:dda_type) %>" placeholder="Bank Account DDA Type" required>-->
            </div>
          </div>

          <hr>

          <div class="form-group row">
            <div class="col-md-3">
              <label>
                Bank Account ACH Type*
              </label>
            </div>
            <div class="col-md-9">
              <%= select_tag :bank_account_ach_type, options_for_select([['Business Checking', 'CommercialChecking'],['Private Checking', 'PrivateChecking']], @location.try(:ach_type)),class: "form-control" %>
<!--              <input type="text" class="form-control" name="bank_account_ach_type" value="<%#= @location.try(:ach_type) %>" placeholder="Bank Account ACH Type" required>-->
            </div>
          </div>

          <hr>

          <div class="form-group row">
            <div class="col-md-3">
              <label>
                Routing Number*
              </label>
            </div>
            <div class="col-md-9">
              <input type="password" class="form-control key_9_number routing_number" name="routing_number" minlength="9" maxlength="9"  value="" placeholder="#########" required>
            </div>
          </div>

          <hr>

          <div class="form-group row">
            <div class="col-md-3">
              <label>
                Confirm Routing Number*
              </label>
            </div>
            <div class="col-md-9">
              <input type="password" class="form-control con_routing_number key_9_number" name="con_routing_number" value="" placeholder="#########" required>
              <span id="rou_error"></span>
            </div>
          </div>

          <hr>

          <div class="form-group row">
            <div class="col-md-3">
              <label>
                Account Number*
              </label>
            </div>
            <div class="col-md-9">
              <input type="password" class="form-control account_number key_17_number" name="account_number"  value="" placeholder="#################" required>
            </div>
          </div>

          <hr>

          <div class="form-group row">
            <div class="col-md-3">
              <label>
                Confirm Account Number*
              </label>
            </div>
            <div class="col-md-9">
              <input type="password" class="form-control con_account_number key_17_number" name="con_account_number"  value="" placeholder="#################" required>
              <span id="acc_error"></span>
            </div>
          </div>

          <hr>

          <button class="btn btn-success pull-right" type="submit" id="submit_btn">Submit</button>
        </div>
      </div>
    </div>
  <% end %>
</div>

<script src='https://cdnjs.cloudflare.com/ajax/libs/tooltipster/3.3.0/js/jquery.tooltipster.min.js'></script>
<script type="application/javascript" src="<%= asset_path 'admins/merchant_bank_apis/form.js' %>"></script>
