
<div class="title-block">
  <div class="col-md-6">
    <h1 class="title">Trip Merchants</h1>
  </div>
  <div class="col-md-6">
    <%= link_to 'New Merchant', admins_mechant_bank_apis_new_path, :class => "btn btn-primary pull-right text-capitalize" %>
  </div>
</div>
<div class="well well-sm">
  <div class="card" data-exclude="xs,sm,lg">
    <div class="card-header bordered">
      <div class="header-block">
        <h3 class="title text-capitalize pull-left">All Merchants</h3>
      </div>
    </div>
    <div class="card-body height-100-m-b-apis">
      <section class="example margin-top-30-px-m-b-apis">
        <div class="">
          <div class="">
            <table id="datatable-keytable1" class="table table-striped table-bordered" cellspacing="0" cellpadding="0">
              <thead>
              <tr>
                <th class="all">Merchant ID</th>
                <th>Merchant Name</th>
                <th>Owner's Name</th>
                <th>Phone Number</th>
                <th>Email</th>
                <th>Status</th>
                <th>Action</th>
              </tr>
              </thead>
              <tbody id="users">
              <% @merchants.each do |merchant| %>
                <tr>
                  <td><%= merchant.ref_no.present? ? merchant.ref_no : merchant.id %></td>
                  <td><%= merchant.name %></td>
                  <td><%= merchant.owner_name.present? ? merchant.owner_name : merchant.owners.first.try(:name) %></td>
                  <td><%= merchant.phone_number.present? ? merchant.phone_number : merchant.owners.first.try(:phone_number) %></td>
                  <td><%= merchant.email %></td>
                  <td><%= merchant.low_risk_status %></td>
                  <td>
                    <div class="dropdown" id="dropdownid">
                      <a href="#" class="dropdown-dots-m-b-apis" type="button" data-toggle="dropdown" >●●●
                      </a>
                      <ul class="dropdown-menu" ;>
                        <li class="merchant_bank_click"><%= link_to('Locations', merchant_id_locations_path(merchant), class: 'btn btn-sm') %></li>
                        <li class="merchant_bank_click"><%= link_to('Details', admins_mechant_bank_apis_show_path(id: merchant.id),remote: true, class: 'btn btn-sm') %></li>
                        <% if merchant.low_risk_status == "pending" %>
                          <li class="merchant_bank_click"><%= link_to('Edit', admins_mechant_bank_apis_edit_path(id: merchant.id), class: 'btn btn-sm') %></li>
                        <% end %>
                      </ul>
                    </div>
                  </td>
                </tr>
              <% end %>
              </tbody>
            </table>
            <span class="margin-left-16-px-m-b-apis">Showing <%= @merchants.try(:count) %> of <%= @merchants.total_count %>
              records</span>
            <%= paginate @merchants, :theme => 'twitter-bootstrap-3', :pagination_class => "pagination-small pagination-centered pull-right padd" %>
          </div>
        </div>
      </section>
    </div>
  </div>
</div>
<div id="cover-spin"></div>
<div id="detail_modal"></div>
