<div class="modal fade" id="AccountTransferModal" class="confirmuserpermissionModal" tabindex="-1" role="dialog" aria-labelledby="orderModelLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header" >
        <p class="modal-header-text">Account Transfer</p>
        <button type="button" id="transfer_close" class="close" data-dismiss="modal" aria-label="Close">
        </button>
      </div>
      <div class="modal-body">
        <div class="account-transfer">
          <%= simple_form_for @transfer, url: account_transfer_v2_merchant_accounts_path, method: :post,remote: true do |f| %>
            <div class="row">
              <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-xs-12">
                <div>
                  <label class="label--account">Transfer from</label>
                  <div class="rotation">
                    <%= f.select :from_wallet, @merchant_wallets.collect { |r| [r.name, r.id] },{selected: @wallet.id, include_blank: 'Select From Wallet'}, {class: 'form-control m-time-bootstrap-select m-bootstrap-select m-bootstrap-select--pill m_selectpicker reason-dd-1', required: true} %>
                    <div class="m--space-10"></div>
                  </div>
                </div>
              </div>
              <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-xs-12">
                <div>
                  <label class="label--account">Transfer to</label>
                  <%= f.select :to_wallet, @merchant_wallets.collect { |r| [r.name, r.id] }, {include_blank: 'Select To Wallet'}, {class: 'form-control m-time-bootstrap-select m-bootstrap-select m-bootstrap-select--pill m_selectpicker reason-dd-1', required: true} %>
                </div>
                <div id="wallet_error"></div>
              </div>
            </div>
            <div class="row mt-4">
              <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-xs-12">
                <div class="balance">
                  Balance <span id="from_available_amount" class="price pull-right">
                </span>
                </div>
              </div>
              <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-xs-12">
                <div class="balance">
                  Balance <span id="to_available_amount" class="price pull-right"></span>
                </div>
              </div>
            </div>
            <div class="row mt-4">
              <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-xs-12">
                <div class="form-group m-form__group">
                  <label class="label--account">Enter Amount</label>
                  <div class="input-icon icon_inside_input_field">
                    <span>$</span>
                    <%= f.text_field :amount, {placeholder: "10.00", id: "transfer_amount", class: 'form-control input--amount', required: true} %>
                  </div>
                </div>
              </div>
              <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-xs-12 middle">

              </div>
            </div>
            <div class="row mt-4">
              <div class="display_none">
                <label class="label--account">Transfer Date</label>
                <div class="input-group date">
                  <%= f.text_field :transfer_date, placeholder: "Select date",id: "transfer_date", class: 'form-control input--amount', required: true,value: Date.today().strftime("%m/%d/%Y"),readonly: true %>
                </div>
              </div>
              <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <label class="label--account">Enter Memo (Optional)</label>
                <%= f.text_area :memo, placeholder: "Memo for account transfer", id: "memo", class: "form-control m-input m-invoice-textarea ml-1", maxlength: '32' %>
              </div>
            </div>
            <div class="row mt-4">
              <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12 text--center">
                <%= f.submit "Transfer Money", class: "btn btn-default btn-preview-invoice succes--call", id: "submit_transfer_btn" %>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
<%= render partial: 'v2/merchant/accounts/account_transfer_confirm' %>

<%= javascript_include_tag "v2/merchant/transfer" %>