<div class="row">
  <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12 table-div-p2c">
<!--  <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12 table table-responsive">-->
    <table>
      <thead>
      <tr>
        <th>
          P2C ID
        </th>
        <th>
          Creation Date
        </th>
        <th>
          Account
        </th>
        <th>
          Name on Card
        </th>
        <th>
          Email
        </th>
        <th>
          Last 4
        </th>
        <th class="t-r">
          P2C Amount
        </th>
        <th class="t-r">
          Fee
        </th>
        <th class="t-r">
          Total Amount
        </th>
        <th>
          <center>
            <%= render partial: "v2/merchant/accounts/status_datatable", locals: {key: "p2c"} %>
          </center>
        </th>
      </tr>
      </thead>
      <% if  @user_permission.try(:push_to_card_view_only) %>
      <tbody id="p2c_body">

      </tbody>
        <% end %>
    </table>
  </div>
</div>
<div class="row">
  <div class="col-xl-8 col-lg-8 col-md-8 col-sm-12 col-xs-12"></div>
  <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6 col-xs-6 pull-right view-more-btn-p2c">
    <%= link_to 'View More', v2_merchant_push_to_card_index_path(wallet_id: @wallet.id), class: "view-more pull-right" %>
  </div>
</div>
<div class="no-data-div-p2c">
  <tr class="no-data-tr">
    <td colspan="8">
      <div class="col-xl-12 ">
        <center  class="m-5 p-5">
          <%= image_tag "v2/merchant/datatable/no_data.svg" %>
          <p class="No-data-available mt-4 mr-4">No data available</p>
        </center>
      </div>
    </td>
  </tr>
</div>