<div class="row">
  <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <table>
      <thead>
      <tr class="giftcard-headings">
        <th></th>
        <th>UTID</th>
        <th>Name</th>
        <th>Creation Date </th>
        <th>Name on Bank Account</th>
        <th>Currency</th>
        <th class="t-r">Amount</th>
        <th class="g-heading">
          <center>
            <button class="gift_btn-status text-center" >
              <span class="">Status</span>
            </button>
          </center>
        </th>
      </tr>
      </thead>
      <% if @user_permission.try(:gift_card_view_only) %>
      <tbody id="giftcard_body">
      </tbody>
        <% end %>
    </table>
  </div>
</div>
<div class="row">
  <div class="col-xl-8 col-lg-8 col-md-8 col-sm-12 col-xs-12"></div>
  <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6 col-xs-6 pull-right">
    <%= link_to 'View More', v2_merchant_giftcards_path, class: "view-more pull-right" %>
  </div>
</div>