<div class="modal fade" id="ConfirmAccountTransferModal" class="confirmuserpermissionModal" tabindex="-1" role="dialog" aria-labelledby="orderModelLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header" >
        <p class="modal-header-text">Account Transfer</p>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">

        </button>
      </div>
      <div class="modal-body">
        <div class="account-transfer-confirm">
          <div class="row">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
              <div class="text">
                Confirm your information
              </div>
            </div>
          </div>
          <form onsubmit="return false">
            <div class="row mt-4">
              <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-xs-12">
                <div class="brown">
                  <div class="small">
                    Transfer from
                  </div>
                  <div class="name" id="trans_from">
                    Pac & G
                  </div>
                </div>
                <div class="simple">
                  <div class="small">
                    Transfer to
                  </div>
                  <div class="name" id="transf_to">
                    New test location
                  </div>
                </div>
                <div class="brown">
                  <div class="small">
                    Transfer Date
                  </div>
                  <div class="name" id="trans_date">
                    02/10/2020
                  </div>
                </div>
                <div class="simple">
                  <div class="small">
                    Memo
                  </div>
                  <div class="name" id="trans_memo">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque id risus diam.
                  </div>
                </div>
              </div>

              <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-xs-12">
                <div class="right-box">
                  <div class="title">
                    Accounts
                  </div>
                  <hr class="hr mt-3">
                  <div class="simple">
                    <div class="label">
                      Available Balance
                      <span class="price pull-right" id="avail_balance">
                      $32,543.00
                    </span>
                    </div>
                  </div>
                  <div class="brown">
                    <div class="label">
                      Transfer Amount
                      <span class="price pull-right" id="trans_amount">
                      $32,543.00
                    </span>
                    </div>
                  </div>
                  <div class="simple">
                    <div class="label">
                      Fee
                      <span class="price pull-right">
                       $0.00
                      </span>
                    </div>
                  </div>
                  <div class="brown">
                    <div class="label">
                      Total Amount
                      <span class="price pull-right" id="total_amount">
                      $32,543.00
                    </span>
                    </div>
                  </div>
                  <hr class="hr mt-3">
                  <div class="brown">
                    <div class="label">
                      Remaining Balance
                      <span class="price pull-right" id="remain_balance">
                      $32,543.00
                    </span>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="row mt-4">
              <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12 text--center">
                <div class="mt-4 text--center">
                  <a href="#" class="btn activity_log_btn text--center  m-btn m-btn--icon mr-3 back" data-dismiss="modal" aria-label="Close" data-toggle='modal' data-target = '#AccountTransferModal'>
                         Back
                  </a>
                  <a href="#" id="form_submit" class="btn btn-default btn-preview-invoice succes--call" data-dismiss="modal" aria-label="Close" data-toggle='modal' data-target = '#SuccessAccountTransferModal'>Confirm</a>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>