<div class="modal fade" id="exportDateRange" class="createuserpermissionModal" tabindex="-1" role="dialog" aria-labelledby="orderModelLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header" >
        <p class="modal-header-text">Export Tip Transactions</p>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">

        </button>
      </div>
      <div class="modal-body pl-5">
        <div>
          <p class="simple-20-bold-text-dark pl-2">Select Export Date Range:</p>
        </div>

        <div class='input-group pull-right date-range-dd rotate--icon' id='daterangepicker_tip'>
          <input type='text' class="form-control m-input" readonly  placeholder="Select date range"/>
          <div class="input-group-append">
            <span class="input-group-text">
              <%= image_tag "v2/merchant/icons/down-b.svg", class:'rotate',id:'img--remove'%>
            </span>
          </div>
        </div>

        <div class="row">
          <div class="col-lg-12 col-md-12">
            <div class="text-center dataranger-buttons mt-5">
              <a href="#" class="btn btn-default gift-card-back-btn mr-2" data-dismiss="modal">Cancel</a>
              <a href="#" class="btn btn-default giftcard-confirm-btn" data-dismiss="modal" data-toggle="modal" data-target="#exportProcessingModal">Confirm</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

