<% if @achs.present? %>
  <% @achs.try(:each_with_index) do |ach, index| %>
    <% if ach.status == "VOID" %>
      <% css_class = "tr-void" %>
    <% elsif ach.status == "PENDING" %>
      <% css_class = "tr-pending" %>
    <% elsif ach.status == "IN_PROGRESS" || ach.status == "IN_PROCESS" %>
      <% css_class = "tr-in_process" %>
    <% elsif ach.status == "FAILED" %>
      <% css_class = "tr-failed" %>
    <% elsif ach.status == "UNPAID" %>
      <% css_class = "tr-unpaid" %>
    <% elsif ach.status == "PAID" %>
      <% css_class = "tr-paid" %>
    <% elsif ach.status == "PAID_WIRE" %>
      <% css_class = "tr-paid_by_wire" %>
    <% end %>
    <tr class="<%= index.odd? ? 'odd' : 'even' %> <%= css_class %> show-all">
      <td>
        <%= ach.id %>
      </td>
      <% if cookies[:timezone].present? %>
        <td ><%= ach.created_at.in_time_zone(cookies[:timezone]).strftime("%m-%d-%Y %I:%M:%S %p")%></td>
      <%else %>
        <td class="timeUtc"><%= ach.created_at.strftime("%m-%d-%Y %I:%M:%S %p")%></td>
      <% end %>
      <td>
        <%= ach.location.try(:business_name) %>
      </td>
      <td>
        <%= ach.name %>
      </td>
      <td>
        <%= ach.account_number %>
      </td>
      <td class="t-r">
        <%= number_with_precision(number_to_currency(ach.actual_amount),precision: 2, delimiter: ',') %>
      </td>
      <td class="t-r">
        <%= number_with_precision(number_to_currency(ach.amount.to_f - ach.actual_amount.to_f),precision: 2, delimiter: ',') %>
      </td>
      <td class="t-r">
        <%= number_with_precision(number_to_currency(ach.amount),precision: 2, delimiter: ',') %>
      </td>
      <td>
        <center>
          <% if ach.status == "PENDING" %>
            <span class="badge pending">PENDING</span>
          <% elsif ach.status == "VOID" %>
            <span class="badge past_due">VOID</span>
          <% elsif ach.status == "PAID" %>
            <span class="badge paid">PAID</span>
          <% elsif ach.status == "PAID_WIRE" %>
            <span class="badge paid">PAID BY WIRE</span>
          <% elsif ach.status == "IN_PROGRESS" || ach.status == "IN_PROCESS" %>
            <span class="badge in_progress">IN PROCESS</span>
          <% elsif ach.status == "UNPAID" %>
            <span class="badge canceled">UNPAID</span>
          <% elsif ach.status == "FAILED" %>
            <span class="badge canceled">FAILED</span>
          <% end %>
        </center>
      </td>
    </tr>
  <% end %>
<% else %>
<!-- <tr>
  <td  class="text-center" colspan="9">
    <%# image_tag "v2/merchant/datatable/no_data.svg" %>
    <div class="No-data-available text-center width-auto">No data available</div>
  </td>
</tr> -->
  <tr>
    <td colspan="9">
      <div class="col-xl-12 ">
        <center  class="m-5 p-5">
          <%= image_tag "v2/merchant/datatable/no_data.svg" %>
          <p class="No-data-available mt-4 mr-4">No data available</p>
        </center>
      </div>
    </td>
  </tr>

<% end %>