<% if @checks.present? %>
  <% @checks.try(:each_with_index) do |check, index| %>
    <% if check.status == "VOID" %>
      <% css_class = "check-tr-void" %>
    <% elsif check.status == "PENDING" %>
      <% css_class = "check-tr-pending" %>
    <% elsif check.status == "IN_PROGRESS" || check.status == "IN_PROCESS" %>
      <% css_class = "check-tr-in_process" %>
    <% elsif check.status == "FAILED" %>
      <% css_class = "check-tr-failed" %>
    <% elsif check.status == "UNPAID" %>
      <% css_class = "check-tr-unpaid" %>
    <% elsif check.status == "PAID" %>
      <% css_class = "check-tr-paid" %>
    <% elsif check.status == "PAID_WIRE" %>
      <% css_class = "check-paid_by_wire" %>
    <% end %>
    <tr class="<%= index.odd? ? 'tr-brown' : '' %> <%= css_class %> check-show-all">
      <td class="td-l"><%= check.id %></td>
      <td class="text-center"><%= check.number.present? ? check.number : "--" %></td>
      <% if cookies[:timezone].present? %>
        <td ><%= check.created_at.in_time_zone(cookies[:timezone]).strftime("%m-%d-%Y %I:%M:%S %p")%></td>
      <%else %>
        <td class="timeUtc"><%= check.created_at.strftime("%m-%d-%Y %I:%M:%S %p")%></td>
      <% end %>
      <td><%= check.wallet.location.try(:business_name) %></td>
      <td><%= check.name.truncate(23) %></td>
      <td><%= check.recipient %></td>
      <td class="t-r"><%= number_with_precision(number_to_currency(check.actual_amount),precision: 2, delimiter: ',') %></td>
      <td class="t-r"><%= number_with_precision(number_to_currency(check.amount.to_f - check.actual_amount.to_f),precision: 2, delimiter: ',') %></td>
      <td class="t-r"><%= number_with_precision(number_to_currency(check.amount),precision: 2, delimiter: ',') %></td>
      <td>
        <center>
          <% if check.status == "PENDING" %>
            <span class="badge pending">PENDING</span>
          <% elsif check.status == "VOID" %>
            <span class="badge past_due">VOID</span>
          <% elsif check.status == "UNPAID" %>
            <span class="badge past_due">UNPAID</span>
          <% elsif check.status == "PAID" %>
            <span class="badge paid">PAID</span>
          <% elsif check.status == "FAILED" %>
            <span class="badge canceled">FAILED</span>
          <% elsif check.status == "IN_PROGRESS" || check.status == "IN_PROCESS" %>
            <span class="badge in_progress">IN PROCESS</span>
          <% elsif check.status == "PAID_WIRE" %>
            <span class="badge paid">PAID BY WIRE</span>
          <% end %>
        </center>
      </td>
    </tr>
  <% end %>
<% else %>
  <tr>
    <td colspan="10">
      <div class="col-xl-12 ">
        <center  class="m-5 p-5">
          <%= image_tag "v2/merchant/datatable/no_data.svg" %>
          <p class="No-data-available mt-4 mr-4">No data available</p>
        </center>
      </div>
    </td>
  </tr>
<% end %>