<div class="modal-body pl-7">
  <div class="account-transfer-confirm m-4">
    <div class="row">
      <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="text echk-margin">
          Confirm your information
        </div>
      </div>
    </div>
<!--    <form onsubmit="return false">-->
      <div class="row mt-4">
        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-xs-12">
          <div class="brown">
            <div class="small">
              Account
            </div>
            <div class="name" id="check_account_name">
            </div>
          </div>
          <div class="simple">
            <div class="small">
              Recipient Email
            </div>
            <div class="name" id="check_email_confirm">
            </div>
          </div>
          <div class="brown">
            <div class="small">
              Pay to the Order of
            </div>
            <div class="name" id="check_name_confirm">
            </div>
          </div>
          <div class="simple">
            <div class="small">
              Description
            </div>
            <div class="name" id="check_memo_confirm">
            </div>
          </div>
        </div>
        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-xs-12">
          <div class="right-box">
            <div class="title">
              Amount
            </div>
            <hr class="hr mt-3">
            <div class="simple">
              <div class="label-echeck lab-side">
                Available Balance
                <span class="price pull-right" id="check_avail_balance">
                    </span>
              </div>
            </div>
            <div class="brown">
              <div class="label-echeck lab-side">
                Check Amount
                <span class="price pull-right" id="check_trans_amount">
                    </span>
              </div>
            </div>
            <div class="simple">
              <div class="label-echeck lab-side">
                Fee
                <span class="price pull-right" id="check_fee_confirm">
                      </span>
              </div>
            </div>
            <div class="brown">
              <div class="label-echeck lab-side">
                Total Amount
                <span class="price pull-right" id="check_total_confirm">
                    </span>
              </div>
            </div>
            <hr class="hr mt-3">
            <div class="brown border-right">
              <div class="label-blnc lab-side">
                Remaining Balance
                <span class="price pull-right" id="check_remain_balance">
                    </span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row mt-4">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12 text--center">
          <div class="mt-4 text--center">
            <a href="#" class="btn activity_log_btn text--center  m-btn m-btn--icon mr-3 back" id="check_back_btn">
              Back
            </a>
            <a href="#" id="check_form_confirm" class="btn btn-default btn-preview-invoice success-echeck-call" data-dismiss="modal" data-backdrop="static" aria-label="Close" data-toggle='modal' data-target = '#SuccessCheckModal'>Confirm</a>
          </div>
        </div>
      </div>
<!--    </form>-->
  </div>
</div>