<div class="m-dropdown__body">
  <div class="m-dropdown__content">
    <ul class="m-nav">
      <% @locationss.each do |location| %>
        <li class="m-nav__section m-nav__section--first">
          <a href="<%= v2_merchant_account_path(location[:primary_slug]) %>">
            <div class="row">
              <div  class="col-xl-2 col-lg-2 col-md-2 col-sm-4 col-xs-12">
                <%= image_tag "v2/merchant/icons/home.svg", class:'img-margin'%>
              </div>
              <div  class="col-xl-10 col-lg-10 col-md-10 col-sm-10 col-xs-12">
                <div class="title">
                  <%= location[:name] %>
                </div>
                <div class="balance">
                  <% balance = show_balance(location[:wallet_primary]).to_f %>
                  Balance: $<%= number_with_precision(balance, precision: 2, delimiter: ',') %>
                </div>
              </div>
              <div  class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="accounts_date">
                  Updated <%= location[:updated_at] %> day ago
                </div>
              </div>
            </div>
          </a>
        </li>
        <li class="m-nav__section">
          <hr class="hr">
        </li>
      <% end %>
    </ul>
  </div>
</div>