
<div class="modal-bodyg pl-7" id="giftcard-detail">
  <div class="row mt-2 display_none" id="giftcardmessage">
    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
      <div class="alert-body mb-3">
        <div class="row">
          <div class="col-lg-1 col-md-1 col-sm-1 pr-0 pl-0">
            <center>
              <%= image_tag "v2/merchant/icons/loader.svg" , class:'loader-svg' %>
            </center>
          </div>
          <div class="col-lg-11 col-md-11 col-sm-11 pl-0">
            <p class="account-information">
              Please wait, getting account information.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-6 col-md-6 col-sm-6">
      <div class="pull-left">
        <img src="<%= @giftcard[:image_url] %>" alt="" width="300px" id="gc_image">
      </div>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-6">
      <div>
        <p class="simple-12-normal-text addidas-text" id="gc_name"><%= @giftcard[:brand_name] %></p>
        <p class="simple-12-normal-text">
          <%= @giftcard[:description].html_safe %>
        </p>
      </div>
    </div>
  </div>
  <%= form_tag buy_card_v2_merchant_accounts_path , method: :post, id: "giftcard-form",remote: true do %>
    <input type="hidden" id="giftcard_fee" value="">
    <input type="hidden" id="account_balance" value="">
    <input type="hidden" name="image_url" value="<%= @giftcard[:image_url] %>">
    <input type="hidden" value="<%= @giftcard[:gift_card].utid %>" name="utid">
    <div class="row mt-2">
      <div class="col-lg-6 col-md-6">
        <div class="form-group m-form__group select_giftcard_drop">
          <label class="send_from_account-text" for="amount_0">Send from Account</label>
          <% if @list.count <=1 %>
            <%= select_tag( "wallet_id",
                            options_for_select(@list.map{|w| [w[:wallet_name], w[:wallet_id]]}),
                            class: "form-control m-time-bootstrap-select m-bootstrap-select m-bootstrap-select--pill  m_selectpicker reason-dd-1 only-one-for ",
                            id: "wallet_id",
                            required: true
                ) %>
          <% else %>
            <%= select_tag( "wallet_id",
                            options_for_select(@list.map{|w| [w[:wallet_name], w[:wallet_id]]}, selected: @wallet.id),
                            include_blank: false,
                            class: "form-control m-time-bootstrap-select m-bootstrap-select m-bootstrap-select--pill  m_selectpicker reason-dd-1 ",
                            id: "wallet_id",
                            required: true
                ) %>
          <% end %>

<!--          <select name="wallet_id" id="wallet_id" class="form-control m-time-bootstrap-select m-bootstrap-select m-bootstrap-select--pill  m_selectpicker reason-dd-1" title="Select an Account">-->
            <%#= @list.each do |w| %>
<!--              <option value="<%#= w[:wallet_id] %>" data-balance="<%#= w[:balance] %>" data-lstatus="<%#= w[:location_status] %>" data-giftcard="<%#= w[:block_giftcard] %>" ><%#= w[:wallet_name] %></option>-->
            <%# end %>
<!--          </select>-->
        </div>
        <span id="bal-error" class="font-weight-bold text-danger"></span>
      </div>
      <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-xs-12">
        <label class="send_from_account-text" for="">Account Balance</label>
        <div class="balance balance-account">
          Balance <span id="from_available_amount_gc" class="price pull-right">$0.00
                </span>
        </div>
      </div>
    </div>
    <div class="row mt-4">
      <div class="col-lg-6 col-md-6">
        <div class="form-group m-form__group">
          <label class="send_from_account-text" for="amount_0">Send Card to</label>
          <input type="email" id="gift_email" name="email" placeholder="email@example.com" class="with-90-percent form-control pull-left  product_amount m-input" required>
        </div>
      </div>
      <div class="col-lg-6 col-md-6">
        <div class="form-group m-form__group">
          <% if @giftcard[:gift_card].min_value.to_f > 0 && @giftcard[:gift_card].max_value.to_f > 0 %>
            <label class="this_is_your_amount_text" for="amount_0">Gift Card Amount</label>
            <div class="input-icon icon_inside_input_field">
              <i class="addon-margin">$</i>
              <input type="number" id="gc_amount" name="amount" min="<%= number_with_precision(@giftcard[:gift_card].min_value.to_f , precision: 2 )  %>" max="<%=number_with_precision(@giftcard[:gift_card].max_value.to_f , precision: 2 )%>" class=" form-control pull-left product_amount m-input two_decimal" required="">
            </div>
            <p class="limit_margin">
              <span class="font-weight-bold">Min.$ <i class="min_val" value="<%= number_with_precision(@giftcard[:gift_card].min_value.to_f , precision: 2 )  %>"><%=number_with_precision(@giftcard[:gift_card].min_value.to_f , precision: 2 )  %></i></span>
              <span class="font-weight-bold pull-right">Max.$ <i class="max_val" value="<%=number_with_precision(@giftcard[:gift_card].max_value.to_f , precision: 2 )%>"><%=number_with_precision(@giftcard[:gift_card].max_value.to_f , precision: 2 )%></i></span>
            </p>
            <p id='gft_amount_input_error'></p>
            <span id="amount_error" class="font-weight-bold text-danger"></span>
            <span id="errorTxt" class="font-weight-bold text-danger"></span>
          <% else %>
            <label class="this_is_your_amount_text" for="amount_0">Gift Card Amount</label>
            <div class="input-icon icon_inside_input_field">
              <i class="addon-margin">$</i>
              <input type="number" id="gc_amount" name="amount" class="with-90-percent form-control pull-left product_amount m-input fixed_amount_field" value="<%= number_with_precision(@giftcard[:gift_card].face_value.to_f ,  precision: 2) %>" readonly>
            </div>
            <span id="amount_error" class="font-weight-bold text-danger"></span>
          <% end %>
          <div class="f-color-777777">
            <div class="simple-text" id="fee_div">Amount: &nbsp;<span id="amount_gc">$00.00</span> &nbsp;Fee: &nbsp;<span id="fee_gc">$00.00</span> &nbsp;&nbsp;
              Total:&nbsp; <span class="total style-1" id="total_gc">$00.00</span></div>
          </div>
        </div>
      </div>
    </div>
    <div class="text-center mt-5">
      <a href="#" id="gc_back" class="btn gift_card_back mr-3">Back</a>
      <a href="#" class="btn btn-default giftcard-m-submit" id="giftConfirmbtn">Submit</a>
    </div>
  <% end %>
</div>

