<% if @giftcards.present? %>
  <% @giftcards.try(:each_with_index) do |giftcard, index| %>
    <tr class="<%= index.odd? ? 'tr-brown' : '' %>">
      <td class="giftcard-image"><img src="<%= giftcard.catalog_image %>" alt="<%= giftcard["rewardName"] %>" class="img img-responsive" width="100px"/></td>
      <td><%= giftcard.utid %></td>
      <td><%= giftcard.name %></td>
      <% if cookies[:timezone].present? %>
        <td><%= giftcard.created_at.in_time_zone(cookies[:timezone]).strftime("%m-%d-%Y %I:%M:%S %p") %></td>
      <% else %>
        <td class="timeUtc"><%= giftcard.created_at.strftime("%m-%d-%Y %I:%M:%S %p") %></td>
      <% end %>
      <td><%= giftcard.name %></td>
      <td>USD</td>
      <td class="giftcard-amount t-r">$ <%= number_with_precision(giftcard.amount, precision: 2, delimiter: ',') %></td>
      <td class="td-r text--center">
        <%if giftcard.status == 'COMPLETE' %>
          <center>
            <span class="badge paid">COMPLETED</span>
          </center>
        <% else %>
          <span class="badge pending"><%= giftcard.status %></span>
        <% end %>
      </td>
    </tr>
  <% end %>
<% else %>
  <tr>
    <td colspan="9">
      <div class="col-xl-12 ">
        <center  class="m-5 p-5">
          <%= image_tag "v2/merchant/datatable/no_data.svg" %>
          <p class="No-data-available mt-4 mr-4">No data available</p>
        </center>
      </div>
    </td>
  </tr>
<% end %>
