<div class="accounts_div">
  <div class="row">
    <% if @locationss.present? %>
      <% @locationss.each do |location| %>
      <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-xs-12 mt-3 mb-3">
<!--      <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6 col-xs-12 mt-3 mb-3">-->
        <a href="<%= v2_merchant_account_path(location[:primary_slug]) %>">
          <div class="account-box">
            <div class="header-text">
              <%= location[:name] %>
            </div>
            <hr class="hr">
            <div class="total-label padding-16">
              Total Balance
            </div>
            <div class="total-price">
              <% balance = show_balance(location[:wallet_primary]).to_f %>
              $<%= number_with_precision(balance, precision: 2, delimiter: ',') %>
            </div>
            <div class="padding-10"></div>
            <div class="total-label">
              Available to Withdraw
            </div>
            <div class="total-price">
              $<%= number_with_precision(balance - location[:hold_in_rear_amount].to_f, precision: 2, delimiter: ',') %>
            </div>
            <hr class="hr">
            <div class="margin-24"></div>
            <div class="view-detail">
              View Detail
            </div>
          </div>
        </a>
      </div>
    <% end %>
    <%else %>
      <div class="col-lg-12 col-md-12 col-sm-12 table table-responsive charge_back_table mt-4 ">
      <center class="m-5 p-5">
        <%= image_tag "v2/merchant/datatable/no_data.svg" , class:'no-data' %>
        <p class="No-data-available mt-4 mr-4">No data available</p>
      </center>
    </div>
    <% end %>
  </div>


  <%= render partial: 'v2/merchant/shared/datatable_pagination',locals: {variable: @locations} %>
</div>