<div class="modal fade" id="RefundsTransactionModal" class="confirmuserpermissionModal" tabindex="-1" role="dialog" aria-labelledby="orderModelLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header" >
        <p class="modal-header-text ">Refund Transaction</p>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true"><%= image_tag "v2/merchant/icons/close_modal.svg" %></span>
        </button>
      </div>
      <div class="modal-body">
        <div class="account-transfer">
          <%= form_tag refund_merchant_transaction_v2_merchant_accounts_path,id: 'refund_submit_form',  method: :post,remote: true do |f| %>
            <input type="hidden" name="transaction" value="<%= @transaction.id %>">
            <input type="hidden" id="reason_detail" name="reason_detail">
            <input type="hidden" id="refund_fee" name="refund" >

            <div class="row">
              <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-xs-12">
                <div>
                  <div class="form-group m-form__group">
                    <label for="transection_amount" class="label--account">Enter Amount</label>
                    <div class="input-icon icon_inside_input_field">
                      <span class="withdraw-addon-margin">$</span>
                      <%if @transaction.try(:refund_log).present? %>
                        <% amount= calculate_remaing_refund(@transaction.amount.to_f , @transaction.try(:refund_log))%>
                        <input type="number" id="refund_amount" placeholder="0.00" step="0.01" name="partial_amount" class="form-control ml-1 input--amount" value="<%= number_with_precision(amount ,precision: 2) %>" required>
                      <%else %>
                        <input type="number" id="refund_amount" placeholder="0.00" step="0.01" name="partial_amount" class="form-control ml-1 input--amount" value="<%= number_with_precision(@transaction.amount.to_f ,precision: 2) %>" required>
                      <%end %>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-xs-12 middle">
                <div class="simple-text mt-4"><span>Amount:$<span id="amount">  <%= number_with_precision(@transaction.amount.to_f ,precision: 2) %></span></span>   &nbsp;&nbsp;  Fee:$ <span id="fee"></span>   &nbsp;&nbsp;   <span class="total">Total:$ <span id="total"></span></span>  </div>
              </div>
            </div>
            <div class="row">
              <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-xs-12">
                <div>
                  <label class="label--account">Select Reason</label>
                  <select name="reason" class="form-control m-time-bootstrap-select m-bootstrap-select m-bootstrap-select--pill  m_selectpicker reason-dd-1" id="refund_reason"  title="Select a Reason">
                    <option value="0">Select a reason</option>
                    <option value="1">Duplicate</option>
                    <option value="2">Fraudulent</option>
                    <option value="3">Requested by customer</option>
                    <option value="4">Other</option>
                  </select>
                  <div class="m--space-10"></div>
                </div>
              </div>
            </div>
            <div class="row mt-4">
              <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12" id="refund_description">
                <label class="label--account">Enter Description</label>
                <textarea class="form-control m-input m-invoice-textarea ml-1" id="exampleTextarea" name="reason_detail" disabled></textarea>
              </div>
            </div>
            <div class="row mt-4">
              <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="echecks_modal">
                  <div class="row">
                    <div class="col-lg-1 col-md-1 col-sm-1 pr-0 pl-0">
                      <center>
                        <%= image_tag "v2/merchant/icons/denger_alert.svg"%>
                      </center>
                    </div>
                    <div class="col-lg-11 col-md-11 col-sm-11 pl-0">
                      <p class="important_note_echecks">
                                  <span>
                                    Important Note
                                  </span>
                        <br>
                        Please allow 2-5 business days for the refund to reflect on<br>
                        your customer's card statement.                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="row mt-4">
              <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12 text--center">
                <button class="btn close-reffunds transfer-money" data-dismiss="modal" aria-label="Close" type="button">Cancel</button>
                <button class="btn confirm--refunds Refund-dia-p ml-5" id="refund_btn" type="submit">Refund</button>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
