<div class="row">
  <div class="col-xl-2 col-lg-2 col-md-2 col-sm-6 col-xs-12 margin--top-10">
    <div class="row">
      <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 col-xs-3">
        <div class="icon-div">
          <%= image_tag "v2/merchant/icons/earnings.svg"%>
        </div>
      </div>
      <div class="col-xl-8 col-lg-8 position-12 col-md-8 col-sm-8 col-xs-8 padding-0-left">
        <div class="small">Gross Earnings</div>
        <div class="price" id="gross_earnings"><%= number_to_currency(number_with_precision(@batches.try(:pluck,:total_amount).try(:compact).try(:sum), precision: 2, delimiter: ',')) %></div>
      </div>
    </div>
  </div>
  <div class="col-xl-3 position-50 col-lg-3 col-md-3 col-sm-6 col-xs-12 margin--top-10">
    <div class="row">
      <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 col-xs-3">
        <div class="icon-div">
          <%= image_tag "v2/merchant/icons/processingfee.svg"%>
        </div>
      </div>
      <div class="col-xl-9 col-lg-9 col-md-9 col-sm-9 col-xs-9 padding-0-left">
        <div class="small">Processing Fee</div>
        <div class="price" id="processing_fee"><%= number_to_currency(number_with_precision(@batches.try(:pluck,:total_fee).try(:compact).try(:sum), precision: 2, delimiter: ',')) %></div>
      </div>
    </div>
  </div>
  <div class="col-xl-2  col-lg-2 col-md-2 col-sm-6 col-xs-12 margin--top-10">
    <div class="row">
      <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 col-xs-4">
        <div class="icon-div">
          <%= image_tag "v2/merchant/icons/expensis.svg"%>
        </div>
      </div>
      <div class="col-xl-8 col-lg-8 position-12 col-md-8 col-sm-8 col-xs-8 padding-0-left">
        <div class="small">Reserve</div>
        <div class="price" id="reserve"><%= number_to_currency(number_with_precision(@batches.try(:pluck,:reserve).try(:compact).try(:sum), precision: 2, delimiter: ',')) %></div>
      </div>
    </div>
  </div>
  <div class="col-xl-2 position-50 col-lg-2 col-md-2 col-sm-6 col-xs-12 margin--top-10">
    <div class="row">
      <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 col-xs-4">
        <div class="icon-div">
          <%= image_tag "v2/merchant/icons/expensis.svg"%>
        </div>
      </div>
      <div class="col-xl-8 col-lg-8 position-12 col-md-8 col-sm-8 col-xs-8 padding-0-left">
        <div class="small">Expenses</div>
        <div class="price" id="expenses"><%= number_to_currency(number_with_precision(@batches.try(:pluck,:expenses).try(:compact).try(:sum), precision: 2, delimiter: ',')) %></div>
      </div>
    </div>
  </div>
  <div class="col-xl-3 position-70  col-lg-3 col-md-3 col-sm-6 col-xs-12 margin--top-10">
    <div class="row">
      <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 col-xs-3">
        <div class="icon-div">
          <%= image_tag "v2/merchant/icons/netearning.svg"%>
        </div>
      </div>
      <div class="col-xl-9 col-lg-9 col-md-9 col-sm-9 col-xs-9 padding-0-left">
        <div class="small">Net Earnings</div>
        <div class="price" id="net_earnings"><%= number_to_currency(number_with_precision(@total_net.to_f, precision: 2, delimiter: ',')) %></div>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12 table table-responsive">
    <table class="table table-striped" id="m_table_1_daily">
      <thead>
      <tr>
        <th class="sort-table"><div>Date <%= image_tag "v2/merchant/icons/down-b.svg", class:'image-flip'%></div></th>
        <th class="t-r sort-table"><div >Starting Balance <%= image_tag "v2/merchant/icons/down-b.svg", class:'image-flip'%></div></th>
        <th class="sort-table"><div>Transactions <%= image_tag "v2/merchant/icons/down-b.svg", class:'image-flip'%></div></th>
        <th class="t-r sort-table"><div> Gross Earnings <%= image_tag "v2/merchant/icons/down-b.svg", class:'image-flip'%></div></th>
        <th class="t-r sort-table"><div>Processing Fees <%= image_tag "v2/merchant/icons/down-b.svg", class:'image-flip'%></div></th>
        <th class="t-r sort-table"><div>Reserve <%= image_tag "v2/merchant/icons/down-b.svg", class:'image-flip'%></div></th>
        <th class="t-r sort-table"><div>Expenses <%= image_tag "v2/merchant/icons/down-b.svg", class:'image-flip'%></div></th>
        <th class="t-r sort-table"><div> Net Earnings <%= image_tag "v2/merchant/icons/down-b.svg", class:'image-flip'%></div></th>
      </tr>
      </thead>
      <tbody id="table_id" class="table-striped">
      <% @batches.try(:each_with_index) do |batch,index| %>
        <% net_earnings = get_net_earnings(batch.total_net.to_f, batch.starting_balance.to_f) %>
        <% net_percent = percentage_calculate(batch.starting_balance.to_f, net_earnings.to_f) %>
        <% net_percent.to_f < 0 ? image = "up" : image = "down" %>
        <tr>
          <td class="td-l"><%= batch.batch_date.strftime("%m/%d/%Y") %></td>
          <td class="t-r"><%= batch.starting_balance.to_f >= 0 ? "+": "" %><%= number_to_currency(number_with_precision(batch.starting_balance.to_f,precision: 2, delimiter: ',')) %></td>
          <td class="text-center"><%= link_to batch.total_trxs.to_i, batch_transactions_v2_merchant_accounts_path(batch_id: batch.id, wallet_id: @wallet.slug), class: "transaction" %></td>
          <td class="t-r">+<%= number_to_currency(number_with_precision(batch.total_amount.to_f,precision: 2, delimiter: ',')) %></td>
          <td class="t-r">-<%= number_to_currency(number_with_precision(batch.total_fee.to_f,precision: 2, delimiter: ',')) %></td>
          <td class="t-r">-<%= number_to_currency(number_with_precision(batch.reserve.to_f,precision: 2, delimiter: ',')) %></td>
          <td class="t-r">-<%= number_to_currency(number_with_precision(batch.expenses.to_f,precision: 2, delimiter: ',')) %></td>
          <td class="td-r t-r"><%= net_earnings.to_f > 0 ? "+": "" %><%= number_to_currency(number_with_precision(net_earnings.to_f,precision: 2, delimiter: ',')) %> &nbsp; <%= image_tag "v2/merchant/icons/#{image}.svg", class: 'down-img'%> <%= net_percent %>%</td>
        </tr>
      <% end %>
      </tbody>
    </table>
    <% if @batches.present? && @batches.count == 9 %>
      <table>
        <tbody>
        <tr class="extra_tr">
          <td></td>
        </tr>
        </tbody>
      </table>
    <% elsif @batches.present? && @batches.count < 9 %>
      <table>
        <tbody>
        <tr class="extra_tr">
          <td></td>
        </tr>
        <tr class="tr-brown extra_tr">
          <td></td>
        </tr>
        </tbody>
      </table>
    <% end %>
  </div>
</div>
<% if @user_permission.try(:admin?) || @user_permission.try(:export_daily_batch) %>
  <div class="row">
    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
      <%#= link_to "Export", export_v2_merchant_accounts_path(ids: batches.pluck(:id), slug: slug), class: "btn btn-default btn-invoice-cancel" %>
      <a id="sales_batch_export" class="btn--wf btn btn-invoice-cancel export_bulk export-btn" data-toggle="modal" data-target="#echeckModal">Export</a>
      <span class="export">
      Download the CSV file for the daily batch chart and you can do your own calculations, graphing, etc.
    </span>
    </div>
  </div>
<% end %>
<div class="row">
  <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
  </div>
</div>
<%= javascript_include_tag 'v2/merchant/datatables_bundle' %>
<%= javascript_include_tag 'v2/merchant/table_filter' %>