<div class="modal fade" id="tipAccountModal" class="confirmuserpermissionModal" tabindex="-1" role="dialog" aria-labelledby="orderModelLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header" >
        <p class="modal-header-text">Tip Account Transfer</p>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" id="tip_close">

        </button>
      </div>
      <div class="modal-body">
        <div class="account-transfer">
          <%= simple_form_for Transfer.new, url: tip_transfer_v2_merchant_accounts_path, method: :post, html: { id: :tip_transfer } ,remote: true do |f| %>
            <input type="hidden" name="from_wallet" value="<%= @tip.id %>">
            <div class="row">
              <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-xs-12">
                <div>
                  <label class="label--account">Transfer from</label>
                  <input type="text" class="form-control input--amount" disabled placeholder="Tip Account" value="Tip Account">
                  <%= image_tag "v2/merchant/icons/lock-24px.png", class:"sidelock-icons"%>
                  <div class="m--space-10"></div>
                </div>
              </div>
              <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-xs-12">
                <div>
                  <label class="label--account">Transfer to</label>
                  <input type="text" class="form-control input--amount" disabled placeholder="Main Account" value="Main Account">
                  <%= image_tag "v2/merchant/icons/lock-24px.png", class:"sidelock-icons"%>
                  <div class="m--space-10"></div>
                </div>
              </div>
            </div>
            <div class="row mt-4">
              <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-xs-12">
                <div class="balance">
                  Balance
                  <span class="price pull-right">
                    <input type="hidden" id="available_balance" value="<%= tip_balance %>">
                    <%= number_to_currency(number_with_precision(tip_balance, precision: 2, delimiter: ',')) %>
                    </span>
                </div>
              </div>
              <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-xs-12">
                <div class="balance">
                  Balance
                  <span class="price pull-right">
                    <%# balance = SequenceLib.balance(@wallet.id) %>
                    <%= number_to_currency(number_with_precision(main_balance, precision: 2, delimiter: ',')) %>
                    </span>
                </div>
              </div>
            </div>
            <div class="row mt-4">
              <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-xs-12">
                <div>
                  <div class="form-group m-form__group">
                    <label class="label--account">Enter Amount</label>
                    <div class="input-icon icon_inside_input_field">
                      <span>$</span>
                      <input type="text" id="tip_amount" name="amount" class="form-control input--amount" placeholder="0.00" required>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="row mt-4">
              <div class="display_none">
                <label class="label--account">Transfer Date</label>
                <div class="input-group date">
                  <input type="text" class="form-control input--amount" id="tip_date" value="<%= Date.today().strftime("%m/%d/%Y") %>" readonly  placeholder="Select date"/>
                  <div class="input-group-append ">
                    <span class="input-group-text p-0">
                      <%= image_tag "v2/merchant/icons/Funding-Schedule-b.svg", class:"sidebar-icons"%>
                    </span>
                  </div>
                  <div class="input-group-append">
                    <span class="input-group-text">
                      <%= image_tag "v2/merchant/icons/down-b.svg"%>
                    </span>
                  </div>
                </div>
              </div>
              <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
                  <label class="label--account">Enter Memo (optional)</label>
                <textarea id="tip_memo" name="tip_memo" class="form-control m-input m-invoice-textarea ml-1" placeholder="" maxlength="32"></textarea>
              </div>
            </div>
            <div class="row mt-4">
              <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12 text--center">
                <button class="btn btn--transfer transfer-money" id="tip_transfer_btn" type="button" data-dismiss="modal" aria-label="Close" data-toggle='modal' data-target = '#TipConfirmAccountTransferModal'>Transfer Money</button>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
<%= render partial: 'v2/merchant/accounts/tip_account_transfer_confirm' %>
<%= javascript_include_tag "v2/merchant/tip_transfer" %>