<div class="modal fade" id="TipConfirmAccountTransferModal" class="confirmuserpermissionModal" tabindex="-1" role="dialog" aria-labelledby="orderModelLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header" >
        <p class="modal-header-text">Tip Account Transfer</p>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">

        </button>
      </div>
      <div class="modal-body">
        <div class="account-transfer-confirm">
          <div class="row mb-5">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
              <div class="text">
                Confirm your information
              </div>
            </div>
          </div>
          <form onsubmit="return false">
            <div class="row mt-4">
              <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-xs-12">
                <div class="brown">
                  <div class="small">
                    Transfer from
                  </div>
                  <div class="name">
                    Tip Account
                  </div>
                </div>
                <div class="simple">
                  <div class="small">
                    Transfer to
                  </div>
                  <div class="name">
                    Main Account
                  </div>
                </div>
                <div class="brown">
                  <div class="small">
                    Transfer Date
                  </div>
                  <div class="name" id="tip_transfer_date">
                    02/10/2020
                  </div>
                </div>
                <div class="simple">
                  <div class="small">
                    Memo
                  </div>
                  <div class="name" id="tip_confirm_memo">

                  </div>
                </div>
              </div>

              <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-xs-12">
                <div class="right-box">
                  <div class="title">
                    Accounts
                  </div>
                  <hr class="hr mt-3">
                  <div class="simple">
                    <div class="label">
                      Available Balance
                      <span class="price pull-right" id="tip_avail">
                        <%= number_to_currency(number_with_precision(SequenceLib.balance(@tip.id), precision: 2, delimiter: ',')) %>
                    </span>
                    </div>
                  </div>
                  <div class="brown">
                    <div class="label">
                      Transfer Amount
                      <span class="price pull-right" id="tip_confirm_amount">
                      $32,543.00
                    </span>
                    </div>
                  </div>
                  <div class="simple">
                    <div class="label">
                      Fee
                      <span class="price pull-right">
                       $0.00
                      </span>
                    </div>
                  </div>
                  <div class="brown">
                    <div class="label">
                      Total Amount
                      <span class="price pull-right" id="tip_total_amount">
                      $32,543.00
                    </span>
                    </div>
                  </div>
                  <hr class="hr mt-3">
                  <div class="brown blc-border">
                    <div class="label">
                      Remaining Balance
                      <span class="price pull-right" id="remain_tip_balance">
                      $32,543.00
                    </span>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="row mt-3 mb-4">
              <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12 text--center">
                <div class="mt-4 text--center">
                  <a href="#" class="btn activity_log_btn text--center  m-btn m-btn--icon mr-3 back" data-dismiss="modal" aria-label="Close" data-toggle='modal' data-target = '#tipAccountModal'>
                         Back
                  </a>
                  <a href="#" id="tip_transfer_submit" class="btn btn-default btn-preview-invoice succes--call" data-dismiss="modal" aria-label="Close" data-toggle='modal' data-target = '#SuccessAccountTransferModal'>Confirm</a>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
<%= render partial: 'v2/merchant/accounts/account_transfer_success' %>
