<div class="modal fade" id="TransactionDecline" class="confirmuserpermissionModal" tabindex="-1" role="dialog" aria-labelledby="orderModelLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header" >
        <p class="modal-header-text">Confirm Refund</p>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">

        </button>
      </div>
      <div class="modal-body">
        <div class="account-transfer-confirm">
          <div class="row mb-5">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
              <div class="text accept-this-order set-text">
                Are you sure you want to refund this order?
              </div>
            </div>
          </div>
          <form onsubmit="return false">


            <div class="row mt-3 mb-4">
              <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12 text--center">
                <hr class="set-hr">
                <div class="mt-4 text--center">
                  <a href="#" class="btn activity_log_btn text--center  m-btn m-btn--icon mr-3 back" data-dismiss="modal" aria-label="Close" data-toggle='modal' data-target = '#AccountTransferModal'>
                    No
                  </a>
                  <%= link_to "Yes" ,maxmind_update_v2_merchant_accounts_path(new_action: "refund",id: @minfraud_result.try(:id)),method: :post ,remote: true,class: "btn btn-default btn-preview-invoice succes--call refund-yes-btn" %>
<!--                  <a href="#" class="btn btn-default btn-preview-invoice succes--call" data-dismiss="modal" aria-label="Close" data-toggle='modal' data-target = '#SuccessAccountTransferModal'>Yes</a>-->
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
