<div class="modal-body pl-7">
  <div class="account-transfer-confirm m-4">
    <div class="row">
      <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="text echk-margin">
          Confirm your information
        </div>
      </div>
    </div>
    <form onsubmit="return false">
      <div class="row mt-4">
        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-xs-12">
          <div class="brown">
            <div class="small">
              Account
            </div>
            <div class="name" id="p2c_account_confirm">
            </div>
          </div>
          <div class="simple">
            <div class="small">
              Recipient Email
            </div>
            <div class="name" id="p2c_confirm_email">
            </div>
          </div>
          <div class="brown">
            <div class="small">
              Name on Card
            </div>
            <div class="name" id="p2c_confirm_name">
            </div>
          </div>
          <div class="simple">
            <div class="row">
              <div class="col-md-8">
                <div class="small">
                  Card
                </div>
                <div class="name mt-2 pas-code" id="p2c_card_confirm">
                </div>
              </div>
<!--              <div class="col-md-4">-->
<!--                <div class="small">-->
<!--                  Zip Code-->
<!--                </div>-->
<!--                <div class="name zip-code" id="p2c_zip_confirm">-->
<!--                </div>-->
<!--              </div>-->
            </div>
          </div>
          <div class="simple">
            <div class="small">
              Description
            </div>
            <div class="name" id="p2c_confirm_memo">
            </div>
          </div>
        </div>
        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-xs-12">
          <div class="right-box">
            <div class="title">
              Amount
            </div>
            <hr class="hr mt-3">
            <div class="simple">
              <div class="label-p2c lab-side">
                Available Balance
                <span class="price pull-right" id="p2c_avail_balance">

                                    </span>
              </div>
            </div>
            <div class="brown">
              <div class="label-p2c lab-side">
                P2C Amount
                <span class="price pull-right" id="p2c_confirm_amount">

                                    </span>
              </div>
            </div>
            <div class="simple">
              <div class="label-p2c lab-side">
                Fee
                <span class="price pull-right" id="p2c_confirm_fee">

                      </span>
              </div>
            </div>
            <div class="brown">
              <div class="label-p2c lab-side">
                Total Amount
                <span class="price pull-right" id="p2c_total_confirm">

                    </span>
              </div>
            </div>
            <hr class="hr mt-3">
            <div class="brown border-right">
              <div class="label-blnc lab-side">
                Remaining Balance
                <span class="price pull-right" id="p2c_remain_balance">

                    </span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row mt-4">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12 text--center">
          <div class="mt-4 text--center">
            <a href="#" class="btn activity_log_btn text--center  m-btn m-btn--icon mr-3 back" id = 'p2cbackbtn'>
              Back
            </a>
            <a href="#" id="p2c_form_confirm" class="btn btn-default btn-preview-invoice success-p2c-call p2c-confirm-btn" data-dismiss="modal" aria-label="Close" data-backdrop="static" data-toggle='modal' data-target = '#SuccessP2CModal'>Confirm</a>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>