<div class="modal fade" id="SuccessP2CModal" class="confirmuserpermissionModal" tabindex="-1" role="dialog" aria-labelledby="orderModelLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <div class="account-transfer-success">
          <div class="title title_p2c">
            Your P2C is being created..
          </div>
          <div class="small new_id_p2c">
            P2C ID: <span class="number"></span>
          </div>
          <div class="progress1 working" >
            <%= image_tag "v2/merchant/doller.svg", class:"doller"%>
            <svg class="progress-circle" width="143px" height="143px" xmlns="http://www.w3.org/2000/svg">

              <circle class="progress-circle-back" stroke-linecap="round"
                      cx="70.5" cy="71" r="69"></circle>
              <circle class="progress-circle-prog progress-circle-prog-p2c"
                      cx="71.5" cy="71" r="69" stroke-linecap="round"></circle>
            </svg>

          </div>
          <div class="success--image">
            <%= image_tag "v2/merchant/success.svg", class:""%>
            <div class="row mt-3 mb-4">
              <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12 text--center">
                <div class="mt-4 text--center">
<!--                  <a href="#" class="btn btn-default btn-preview-invoice ok--btn" data-dismiss="modal" aria-label="Close" >OK</a>-->
                  <%= link_to "OK", v2_merchant_account_path(@wallet.slug),class: "btn btn-default btn-preview-invoice ok--btn-2" %>
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>