
<div class="m-subheader">
  <div class="d-flex align-items-center">
    <div class="mr-auto">
      <ul class="m-subheader__breadcrumbs m-nav m-nav--inline set-path">
        <li class="m-nav__item">
          <a href="/v2/merchant/accounts" class="m-nav__link">
            <span class="my-order-nav">
             Accounts
            </span>
          </a>
        </li>
        <li class="m-nav__separator">
          <%= image_tag "v2/merchant/icons/angle.svg"%>
        </li>
        <li class="m-nav__item">
          <a href="<%= v2_merchant_account_path(@wallet.slug) %>" class="m-nav__link">
            <span class="my-order-nav">
             <%= @location.business_name %>
            </span>
          </a>
        </li>
        <li class="m-nav__separator">
          <%= image_tag "v2/merchant/icons/angle.svg"%>
        </li>
        <li class="m-nav__item">
          <a href="#" class="m-nav__link">
              <span class="order-active">
                Account Transactions
              </span>
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>

<div class="m-content">
  <div class="row">
    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-xs-12">
      <div class="page-title mb-4">
        Account Transactions
      </div>
    </div>
    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-xs-12">
      <div class="pull-right actions-header flex-end">
        <% if @user_permission.try(:admin?) || @user_permission.try(:export_account) %>
          <% if params[:query].present? && params[:query][:date].present? %>
            <a id="search_export" href="#exportProcessingModal" class="btn m-btn--pill btn-secondary ml-4 mr-4 export_bulk export-btn" data-toggle="modal" data-type="transactions" data-wallet_id="<%= @wallet.id %>" data-search-type="<%= params[:query].try(:[], "type") %>" data-subtype="<%= params[:type].present? ? params[:type] : "success" %>" data-search-transaction-id="<%= params[:query][:transaction_id] %>" data-search-date="<%= params[:query][:date] %>" data-search-first6="<%= params[:query][:first6] %>" data-search-last4="<%= params[:query][:last4] %>" data-search-phone="<%= params[:query][:phone_number] %>" data-search-time2="<%= params[:query][:time2] %>" data-search-time1="<%= params[:query][:time1] %>" data-search-email="<%= params[:query][:email] %>" data-search-amount="<%= params[:query][:amount] %>" data-search-name="<%= params[:query][:name] %>"><span class="btn-exported-text"><span>Export</span></span></a>
          <% else %>
            <a href="#echeckModal" class="btn m-btn--pill btn-secondary ml-4 mr-4 export_bulk export-btn" data-toggle="modal"><span class="btn-exported-text"><span>Export</span></span></a>
          <% end %>
        <% end %>
        <button type="button" class="btn m-btn--pill btn-secondary activity_log__btn  slide-toggle slide-toggle-open" data-type="accounts">
          <span class="activity-log-text">Activity Log </span> <%= image_tag "v2/activity_log/noun_clock_1698764.svg", class: "timer-width-18 activity-log-timer" %>
        </button>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12">

      <ul class="nav nav-tabs  m-tabs-line m-tabs-line--2x m-tabs-line--success" role="tablist">
        <li class="nav-item m-tabs__item list--items">
          <%= link_to "Successful",account_transactions_v2_merchant_accounts_path(wallet_id: params[:wallet_id],type: "success") ,class: "nav-link #{params["type"] == "success" ? "active show" : "" }  m-tabs__link text--set"  %>
        </li>
        <li class="nav-item m-tabs__item list--items">
          <%= link_to "Declines",account_transactions_v2_merchant_accounts_path(wallet_id: params[:wallet_id],type: "decline") ,class: "nav-link #{params["type"] == "decline" ? "active show" : "" } m-tabs__link text--set"  %>
        </li>
      </ul>
    </div>
  </div>
  <div class="m-portlet m-portlet--mobile m-portal_datatable">
    <div class="m-portlet__body" id="account_datatable">
      <%= render partial: "v2/merchant/shared/account_transactions_datatable" %>
    </div>
  </div>
</div>
<%= render partial: "v2/merchant/shared/export_modal",locals: {title: "Export Transactions",type: "transactions"} %>
<%= javascript_include_tag 'v2/merchant/transaction' %>
<!-- END EXAMPLE TABLE PORTLET-</div>
