<div class="m-content m-content_space">
  <div class="row">
    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
      <div class="page-title mb-4">
        Get Help
      </div>
    </div>
  </div>
  <div class="m-portlet m-portlet--mobile m-portal_datatable">
    <div class="m-portlet__body">
      <p class="contact_info">
        Contact Info
      </p>
      <div class="contact_info_box">
        <div class="row pt-3">
          <div class="col-lg-2 col-md-2 col-sm-4 ml-2 pr-0">
            <center>
              <%= image_tag "v2/merchant/gethelp/envelop.svg" %>
            </center>
          </div>
          <div class="col-lg-8 col-md-8 col-sm-8">
            <p class="email_detail">
              Email
            </p>
            <p class="contact_detail email">
              support@quickcard.me
              <a href="#" data-skin="dark" data-toggle="m-tooltip" data-placement="top" title="" data-original-title="Click to Copy" class="cutom_tootltip copy_help_email ml-3">
                <%= image_tag "v2/merchant/gethelp/copy.svg", class: 'email_copy'%>
              </a>
            </p>
          </div>
        </div>
        <div class="row pt-2">
          <div class="col-lg-2 col-md-2 col-sm-4 ml-2 pr-0">
            <center>
              <%= image_tag "v2/merchant/gethelp/landline.svg" %>
            </center>
          </div>
          <div class="col-lg-8 col-md-8 col-sm-8">
            <p class="email_detail">
              Customer Support
            </p>
            <p class="contact_detail phone">
              619-333-4227
              <a href="#" data-skin="dark" data-toggle="m-tooltip" data-placement="top" title="" data-original-title="Click to Copy" class="cutom_tootltip copy_customer_support_number ml-3">
                 <%= image_tag "v2/merchant/gethelp/copy.svg", class: 'phone_copy'%>
              </a>
            </p>
          </div>
        </div>
        <div class="row pt-2">
          <div class="col-lg-2 col-md-2 col-sm-4 ml-2 pr-0">
            <center>
              <%= image_tag "v2/merchant/gethelp/clock.svg" %>
            </center>
          </div>
          <div class="col-lg-8 col-md-8 col-sm-8">
            <p class="email_detail">
              Available from
            </p>
            <p class="contact_detail">
              9am - 5pm PST, Monday - Friday
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<%= javascript_include_tag 'v2/merchant/help'  %>


