<div class="m-content m-content_space accounts-page">
  <div class="row">
    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
      <div class="mb-13">
        <div class="page-title">
          Accounts
          <span class="small-title">(<%= @locations.count %>)</span>
        </div>
      </div>
    </div>
  </div>
  <%= render partial: 'v2/merchant/shared/datatable_search',locals: {filter_path: "#", search_id: "accounts_search"} %>
  <%= render partial: 'v2/merchant/accounts/index_accounts_div' %>

</div>
<%= javascript_include_tag 'v2/merchant/accounts' %>