
<% if request.referer.include?("reserve")%>
  <% wallet = "Reserve" %>
<% elsif request.referer.include?("tip")%>
  <% wallet = "Tip" %>
<% end %>

<div class="m-subheader">
  <div class="d-flex align-items-center">
    <div class="mr-auto">
      <ul class="m-subheader__breadcrumbs m-nav m-nav--inline set-path">
        <li class="m-nav__item">
          <a href="/v2/merchant/accounts" class="m-nav__link">
            <span class="my-order-nav">
                Accounts
            </span>
          </a>
        </li>
        <li class="m-nav__separator">
          <%= image_tag "v2/merchant/icons/angle.svg"%>
        </li>
        <li class="m-nav__item">
          <a href="<%= @wallet_path %>" class="m-nav__link">
              <span class="my-order-nav order-active">
                 <%= @wallet_name %>
              </span>
          </a>
        </li>
        <li class="m-nav__separator ">
          <%= image_tag "v2/merchant/icons/angle.svg"%>
        </li>
        <li class="m-nav__item">
          <a href="<%= URI(request.referer) %>" class="m-nav__link">
              <span class="order-active">
                <%="#{wallet} Transactions" %>
              </span>
          </a>
        </li>
        <li class="m-nav__separator ">
          <%= image_tag "v2/merchant/icons/angle.svg"%>
        </li>
        <li class="m-nav__item">
          <a href="#" class="m-nav__link">
              <span class="order-active" id="breadcrumb_text">
                Transaction Details
              </span>
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>


<div class="m-content">
  <div class="pull-right refund-events-buttons">
    <a href="" class="btn refund-button">Refund</a>
    <a href="" class="btn ml-3 events-button">Events</a>
  </div>
  <div class="row m--margin-top-50">
    <div class="col-lg-12">
      <ul class="nav nav-tabs   m-tabs-line m-tabs-line--2x m-tabs-line--success" role="tablist">
        <li class="nav-item m-tabs__item list--items">
          <a class="nav-link m-tabs__link active show text--set " id="show_transaction_detail"  role="tab" aria-selected="true">
            Transaction Details
          </a>
        </li>
        <% if @minfraud_result.present? %>
          <li class="nav-item m-tabs__item list--items">
            <a class="nav-link m-tabs__link text--set" id="show_risk_analysis"  role="tab" aria-selected="false">
              Risk Analysis
            </a>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
  <div class="m-portlet m-portlet--mobile m-portal_datatable" id="transaction_detail">
    <div class="m-portlet__body">
      <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
          <div class="transaction_detail_box">
            <div class="pull-left">
              <p class="simple-24-bold-text-dark">Transaction Details</p>
            </div>
            <div class="pull-right">
              <p class="simple-14-normal-text mb-0">TX Date / Time</p>
              <p class="simple-20-bold-77777"><%= @transaction.created_at.strftime("%m/%d/%Y")%><%= @transaction.created_at.strftime(" %I:%M:%S %p")%></p>
            </div>
            <hr class="b_hr">
            <% if @minfraud_result.present? && @minfraud_result.qc_action == TypesEnumLib::RiskType::PendingReview %>

              <div class="row">
                <div class="col-lg-12">
                  <div class="notice-div mb-4">
                    <div class="row">
                      <div class="col-lg-12">
                        <div class="display-flex">
                          <%= image_tag "v2/merchant/icons/alert_icon.svg", class: 'pl-3 pt-2' %>
                          <p class="notice-text pl-3 pt-4">Important note</p>
                        </div>
                        <div class="row">
                          <div class="col-lg-12">
                            <p class="pl-3 mb-1 important_notice">This transaction requires manual review! Our anti-fraud security system has detected unusual activity that
                            </p>
                            <p class="pl-3 mb-1 important_notice">needs your attention. You can either refund this transaction or accept it.</p>
                            <div class="pull-right">
                              <a id="goto_risk" class="btn  go_to_risk_analysis_text">Go to Risk Analysis</a>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            <% end %>
            <div>
              <p class="simple-18-bold-777777">Payment Information</p>
            </div>
            <div>
              <table class="table table-striped m-table transaction-table">
                <thead>
                <tr>
                  <th>
                    TXN Amount
                  </th>
                  <th>
                    Privacy Fee
                  </th>
                  <th>
                    Tip
                  </th>
                  <th>
                    Fee
                  </th>
                  <th>
                    Net Fee
                  </th>
                  <th>
                    Reserve Money
                  </th>
                  <th>
                    Total Net
                  </th>
                  <th>
                    Discount
                  </th>
                  <th>
                    Total Amount
                  </th>
                </tr>
                </thead>
                <tbody>
                <tr>
                  <td >
                    <%= number_with_precision(number_to_currency(@transaction.amount.to_f), precision: 2) %>
                  </td>
                  <td>
                    <%= number_with_precision(number_to_currency(@transaction.try(:privacy_fee).to_f), precision: 2) %>
                  </td>
                  <td>
                    <%= number_with_precision(number_to_currency(@transaction.try(:tip).to_f), precision: 2) %>
                  </td>
                  <td>
                    <% if @transaction.main_type == "Virtual Terminal" || @transaction.main_type == "eCommerce" || @transaction.main_type == "Credit Card" || @transaction.main_type == "Debit Card" %>
                      <%= @transaction.try(:fee).present? ? number_to_currency(number_with_precision(show_view_fee(@transaction.tags.try(:[], "fee_perc"), @transaction.try(:fee)), precision: 2)) : SequenceLib.cents_to_dollars(@transaction.try(:fee_in_cents).present? ? number_to_currency(number_with_precision(show_view_fee(@transaction.tags.try(:[], "fee_perc"), @transaction.try(:fee_in_cents)), precision: 2)) : "$0.00") %>
                    <% else %>
                      <%= number_with_precision(number_to_currency(@transaction.try(:fee).to_f), precision: 2) %>
                    <% end %>
                  </td>
                  <td>
                    <% if @transaction.main_type == "Virtual Terminal" || @transaction.main_type == "eCommerce" || @transaction.main_type == "Credit Card" || @transaction.main_type == "Debit Card"  %>
                      <% if @transaction.try(:privacy_fee).to_f > @transaction.try(:fee).to_f %>
                        <%= @transaction.try(:net_fee).present? ? number_to_currency(number_with_precision(show_view_net_fee(@transaction.tags.try(:[], "fee_perc"), @transaction.try(:privacy_fee), @transaction.try(:fee)), precision: 2)) : "$0.00" %>
                      <% else %>
                        -<%= @transaction.try(:net_fee).present? ? number_to_currency(number_with_precision(show_view_net_fee(@transaction.tags.try(:[], "fee_perc"), @transaction.try(:privacy_fee), @transaction.try(:fee)), precision: 2)) : "$0.00" %>
                      <% end %>
                    <% else %>
                      -<%= number_to_currency( number_with_precision(@transaction.net_fee.to_f), precision: 2) %>
                    <% end %>
                  </td>
                  <td>
                    <%= number_with_precision(number_to_currency(@transaction.try(:reserve_money).to_f), precision: 2) %>
                  </td>
                  <td>
                    <% if @transaction.main_type == "Virtual Terminal" || @transaction.main_type == "eCommerce" || @transaction.main_type == "Credit Card" || @transaction.main_type == "Debit Card" %>
                      <%= number_to_currency(number_with_precision(show_view_total_net(@transaction.tags.try(:[],"fee_perc"), @transaction.try(:total_amount) || SequenceLib.dollars(@transaction.try(:amount_in_cents)),@transaction.try(:tip) || SequenceLib.dollars(@transaction.try(:tip_cents)), @transaction.try(:reserve_money) || SequenceLib.dollars(@transaction.try(:hold_money_cents)), @transaction.try(:fee) || SequenceLib.dollars(@transaction.try(:fee_in_cents))) , precision: 2)) %>
                    <% else %>
                      <%= number_with_precision(number_to_currency(@transaction.net_amount.to_f), precision: 2) %>
                    <% end %>
                  </td>
                  <td>
                    <%= number_with_precision(number_to_currency(@transaction.try(:discount).to_f), precision: 2) %>
                  </td>
                  <td class="simple-20-bold-text-dark">
                    <%= number_with_precision(number_to_currency(@transaction.total_amount.to_f), precision: 2) %>
                  </td>
                </tr>
                </tbody>
              </table>
            </div>
            <hr class="t_hr">
            <div>
              <p class="simple-18-bold-777777">Credit Card Information</p>
            </div>
            <div>
              <table class="table table-striped m-table credit-card-table">
                <thead>
                <tr>
                  <th>
                    Descriptor
                  </th>
                  <th class="text-right">
                    Card Number
                  </th>
                  <th>
                    Card Holder Name
                  </th>
                  <th>
                    Expiration Date
                  </th>
                  <th class="text-right">
                    Type
                  </th>
                </tr>
                </thead>
                <tbody>
                <tr>
                  <td >
                    <%= show_descriptor(@transaction) %>
                  </td>
                  <td class="text-right">
                    <%= @transaction.last4.present? ? "•••• ••••#{@transaction.last4}" : "---"   %>
                  </td>
                  <td>
                    <%= @transaction.card.present? ? @transaction.card.try(:name) :  @transaction.tags["card"].present? ? @transaction.tags.try(:[],"card").try(:[], "name") : "---"   %>
                  </td>
                  <td>
                    <%= @transaction.card.present? ? @transaction.card.try(:exp_date) :  @transaction.tags["card"].present? ? @transaction.tags.try(:[],"card").try(:[], "exp_date") : "---" %>
                  </td>
                  <td class="text-right">
                    <% if @response.present? %>
                      <% if @response["scheme"] == "visa" %>
                        <%= image_tag "v2/merchant/icons/visa.svg" %>
                      <% elsif @response["scheme"] == "mastercard" %>
                        <%= image_tag "v2/merchant/icons/master.svg" %>
                      <% elsif @response["scheme"] == "discover" %>
                        <%= image_tag "v2/merchant/icons/discover.svg" %>
                      <% elsif @response["scheme"] == "jcb" %>
                        <%= image_tag "v2/merchant/icons/jcb.svg" %>
                      <% elsif @response["scheme"] == "express" %>
                        <%= image_tag "merchant/icons/express.svg" %>
                      <% end %>
                    <% else %>
                      ---
                    <% end %>
                  </td>
                </tr>
                </tbody>
              </table>
            </div>
            <hr class="t_hr">
            <div>
              <p class="simple-18-bold-777777">Gateway Information</p>
            </div>
            <div>
              <table class="table table-striped m-table gatway-info-table">
                <thead>
                <tr>
                  <th>
                    Transaction ID
                  </th>
                  <th>
                    URL Address
                  </th>
                  <th>
                    Transaction
                  </th>
                  <th>
                    Clerk ID
                  </th>
                  <th class="text-right">
                    Account
                  </th>
                </tr>
                </thead>
                <tbody>
                <tr>
                  <td >
                    <%= @transaction.seq_transaction_id[0..20]  %>
                  </td>
                  <td >
                    <%= @transaction.ip.present? ? @transaction.ip : "---"  %>
                  </td>
                  <td>
                    <%= @transaction.ip.present? ? @transaction.ip : "---"  %>
                  </td>
                  <td>
                    <%= @transaction.clerk_id.present? ? @transaction.clerk_id : "---"  %>
                  </td>
                  <td class="text-right">
                    <%= @transaction.try(:sender_wallet).try(:location).present? ? @transaction.sender_wallet.location.try(:business_name) : "---"  %>
                  </td>
                </tr>
                </tbody>
              </table>
            </div>
            <div class="mt-5">
              <p class="simple-18-bold-777777">Memo</p>
              <p class="simple-14-normal-text-4c4c4c">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer eget feugiat dolor, ultrices suscipit enim. Nullam hendrerit, lorem vitae placerat pretium, ligula purus.</p>
            </div>
          </div>
          <div class="customer_info_box">
            <div>
              <p class="simple-18-bold-text">Customer Info</p>
            </div>
            <hr class="t_hr">
            <div class="row">
              <div class="col-lg-2">
                <div>
                  <p class="simple-14-bold-77777 mb-0">Customer Name</p>
                  <p class="simple-20-bold-77777"><%= @transaction.sender.try(:name)  %></p>
                </div>
              </div>
              <div class="col-lg-2">
                <div class="pl-3">
                  <p class="simple-14-bold-77777 mb-0">Phone#</p>
                  <p class="simple-20-bold-77777"><%= @transaction.sender.try(:phone_number)  %></p>
                </div>
              </div>
              <div class="col-lg-3">
                <div class="pl-5">
                  <p class="simple-14-bold-77777 mb-0">Email</p>
                  <p class="simple-20-bold-77777"><%= @transaction.sender.try(:email)  %></p>
                </div>
              </div>
              <div class="col-lg-3">
                <div class="pl-5">
                  <p class="simple-14-bold-77777 mb-0">TX Date / Time</p>
                  <p class="simple-20-bold-77777"><%= @transaction.created_at.strftime("%m/%d/%Y")%><span><%= @transaction.created_at.strftime(" %I:%M:%S %p")%></span></p>
                </div>
              </div>
              <div class="col-lg-2">
                <div class="pull-right">
                  <p class="simple-14-bold-77777 mb-0">Wallet ID</p>
                  <p class="simple-20-bold-77777 text-right"><%= @transaction.sender_wallet_id  %></p>
                </div>
              </div>
            </div>
            <hr class="t_hr">
            <% if @transaction.billing_address.present? %>
              <% billing_address = @transaction.billing_address %>
              <div>
                <p class="simple-18-bold-text">Biling Info</p>
                <p class="simple-14-normal-text-4c4c4c">
                  <%= "#{billing_address.street.try(:strip)}, #{billing_address.suit.try(:strip)}, #{billing_address.city.try(:strip)}, #{billing_address.state.try(:strip)} #{billing_address.zip}, #{billing_address.country} "%>
                </p>
              </div>
              <hr class="t_hr">
            <% end %>
            <% if @transaction.shipping_address.present? %>
              <% shipping_address = @transaction.shipping_address %>
              <div>
                <p class="simple-18-bold-text">Shipping Info</p>
                <p class="simple-14-normal-text-4c4c4c">
                  <%= "#{shipping_address.street.try(:strip)}, #{shipping_address.suit.try(:strip)}, #{shipping_address.city.try(:strip)}, #{shipping_address.state.try(:strip)} #{shipping_address.zip}, #{shipping_address.country} "%>
                </p>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
  <% if @minfraud_result.present? %>
    <% insight_parsed = parsing_insight_for_detail(@minfraud_insight) %>
    <div class="m-portlet m-portlet--mobile m-portal_datatable" id="risk_analysis">
      <div class="m-portlet__body">
        <div class="row">
          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="row">
              <div class="col-lg-12">
                <div class="row">
                  <div class="col-lg-7">
                    <div class="customer_info_box">
                      <div>
                        <p class="simple-24-bold-text-dark">Risk Analysis</p>
                      </div>
                      <div class="row">
                        <div class="col-lg-12 col-md-12">
                          <div class="pull-left">
                            <p class="simple-18-bold-4c4c4c">Transaction Risk Score:<span class="pl-1 risk-score"><%= @minfraud_result.risk_score %></span></p>
                          </div>
                          <div class="pull-right position-2x">
                            <%= image_tag 'v2/merchant/icons/green_dot.svg' %> <span class="risk_dots_text">Accepted</span>
                            <%= image_tag 'v2/merchant/icons/orang_dot.svg' %> <span class="risk_dots_text">Manual Review</span>
                            <%= image_tag 'v2/merchant/icons/red_dot.svg' %> <span class="risk_dots_text">Refunded</span>
                          </div>
                        </div>
                      </div>
                      <div>
                        <p class="simple-12-bold-777777">Manual review</p>
                        <div class="progress risk_analysis_progress_bar mb-4">
                          <div class="progress-bar green-progress-bar" role="progressbar"  aria-valuenow="15" aria-valuemin="0" aria-valuemax="100"></div>
                          <div class="progress-bar orange-progress-bar" role="progressbar"  aria-valuenow="30" aria-valuemin="0" aria-valuemax="100"></div><%= image_tag 'v2/merchant/icons/progress_bar_toggle.svg',class:"progress_bar_toggle" %>
                          <div class="progress-bar pink-progress-bar" role="progressbar"  aria-valuenow="30" aria-valuemin="0" aria-valuemax="100"></div>
                          <div class="progress-bar dark-pink-progress-bar" role="progressbar"  aria-valuenow="20" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12">
                          <div class="">
                            <div class="ip">
                              <div class="row">
                                <div class="col-lg-12">
                                  <p class="ip_address pull-left">
                                    IP Address Checks
                                  </p>
                                  <p class="quickcard">
                                    <%= insight_parsed["ip_address_minfraud"] %>
                                  </p>
                                </div>
                              </div>

                            </div>
                            <div class="row">
                              <div class="col-lg-12">
                                <div class="even">
                                  <p class="gateway pull-left">
                                    High Risk Country
                                  </p>
                                  <p class="quickcard">
                                    <% if insight_parsed["high_risk_country"] %>
                                      YES <%= image_tag 'v2/merchant/icons/tick.svg' %>
                                    <% else %>
                                      NO <%= image_tag 'v2/merchant/icons/denger_alert.svg' %>
                                    <% end %>
                                  </p>
                                </div>
                              </div>
                            </div>

                            <div class="odd">
                              <p class="gateway pull-left">
                                Time Zone
                              </p>
                              <p class="quickcard">
                                <%= insight_parsed["time_zone"] %>
                              </p>
                            </div>
                            <div class="even">
                              <p class="gateway pull-left">
                                City
                              </p>
                              <p class="quickcard">
                                <%= insight_parsed["city"] %>
                              </p>
                            </div>
                            <div class="odd">
                              <p class="gateway pull-left">
                                Country
                              </p>
                              <p class="quickcard">
                                <%= insight_parsed["country"] %>
                              </p>
                            </div>
                            <div class="even">
                              <p class="gateway pull-left">
                                User Type
                              </p>
                              <p class="quickcard">
                                <%= insight_parsed["user_type"] %>
                              </p>
                            </div>
                            <div class="odd">
                              <p class="gateway pull-left">
                                Is Anonymous <%= image_tag 'v2/merchant/icons/info_transection.svg' %>
                              </p>
                              <p class="quickcard">
                                No
                              </p>
                            </div>
                          </div>
                        </div>
                      </div>
                      <hr class="transaction_hr">
                      <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12">
                          <div class="">
                            <div class="ip">
                              <p class="ip_address mb-2">
                                Financial Institution Checks
                              </p>
                            </div>
                            <div class="even">
                              <p class="gateway pull-left">
                                Name
                              </p>
                              <p class="quickcard">
                                <%= insight_parsed["credit_card_name"].present? ? insight_parsed["credit_card_name"] : "---"  %>
                              </p>
                            </div>
                            <div class="odd">
                              <p class="gateway pull-left">
                                Name Match
                              </p>
                              <p class="quickcard">
                                <% if insight_parsed["credit_card_name_matches"]== true %>
                                  YES <%= image_tag 'v2/merchant/icons/tick.svg' %>
                                <% else %>
                                  NO <%= image_tag 'v2/merchant/icons/denger_alert.svg' %>
                                <% end %>
                              </p>
                            </div>
                            <div class="even">
                              <p class="gateway pull-left">
                                Phone#
                              </p>
                              <p class="quickcard">
                                <%= insight_parsed["issuer_phone"] %>
                              </p>
                            </div>
                            <div class="odd">
                              <p class="gateway pull-left">
                                Phone Match
                              </p>
                              <p class="quickcard">
                                <% if insight_parsed["issuer_phone_matches"] == true %>
                                  YES <%= image_tag 'v2/merchant/icons/tick.svg' %>
                                <% else %>
                                  NO <%= image_tag 'v2/merchant/icons/denger_alert.svg' %>
                                <% end %>
                              </p>
                            </div>
                            <div class="even">
                              <p class="gateway pull-left">
                                Country
                              </p>
                              <p class="quickcard">
                                <%= insight_parsed["iin_country"] %>
                              </p>
                            </div>
                            <div class="odd">
                              <p class="gateway pull-left">
                                Country Match
                              </p>
                              <p class="quickcard">
                                <% if insight_parsed["iin_country_matches_billing_country"] %>
                                  YES <%= image_tag 'v2/merchant/icons/tick.svg' %>
                                <% else %>
                                  NO <%= image_tag 'v2/merchant/icons/denger_alert.svg' %>
                                <% end %>
                              </p>
                            </div>
                          </div>
                        </div>
                      </div>
                      <hr class="transaction_hr">
                      <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12">
                          <div class="ip">
                            <p class="ip_address">
                              Email Checks
                            </p>
                          </div>
                          <div class="odd">
                            <p class="gateway pull-left">
                              Free email
                            </p>
                            <p class="quickcard">
                              <% if insight_parsed["free_email"] %>
                                YES <%= image_tag 'v2/merchant/icons/tick.svg' %>
                              <% else %>
                                NO <%= image_tag 'v2/merchant/icons/denger_alert.svg' %>
                              <% end %>
                            </p>
                          </div>
                          <div class="even">
                            <p class="gateway pull-left">
                              Carder email
                            </p>
                            <p class="quickcard">
                              <% if insight_parsed["carder_email"] %>
                                YES <%= image_tag 'v2/merchant/icons/tick.svg' %>
                              <% else %>
                                NO <%= image_tag 'v2/merchant/icons/denger_alert.svg' %>
                              <% end %>
                            </p>
                          </div>
                          <div class="odd">
                            <p class="gateway pull-left">
                              Email first seen
                            </p>
                            <p class="quickcard">
                              <%= insight_parsed["email_first_seen"] %>
                            </p>
                          </div>
                        </div>
                      </div>
                      <hr class="transaction_hr">
                      <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12">
                          <div class="ip">
                            <p class="ip_address">
                              Billing Address Checks
                            </p>
                          </div>
                          <div class="even">
                            <p class="gateway pull-left">
                              Billing Postal Code is in the Billing City <%= image_tag 'v2/merchant/icons/info_transection.svg' %>
                            </p>
                            <p class="quickcard">
                              <% if insight_parsed["billing_postal_address_is_in_billing_city"] %>
                                YES <%= image_tag 'v2/merchant/icons/tick.svg' %>
                              <% else %>
                                NO <%= image_tag 'v2/merchant/icons/denger_alert.svg' %>
                              <% end %>
                            </p>
                          </div>
                          <div class="odd">
                            <p class="gateway pull-left">
                              Billing postal code to IP address distance <%= image_tag 'v2/merchant/icons/info_transection.svg' %>
                            </p>
                            <p class="quickcard">
                              <%= insight_parsed["billing_postal_code_to_IP_address_distance"] %>
                            </p>
                          </div>
                          <div class="even">
                            <p class="gateway pull-left">
                              Billing address is in IP country <%= image_tag 'v2/merchant/icons/info_transection.svg' %>
                            </p>
                            <p class="quickcard">
                              <% if insight_parsed["billing_address_is_in_IP_country"] %>
                                YES <%= image_tag 'v2/merchant/icons/tick.svg' %>
                              <% else %>
                                NO <%= image_tag 'v2/merchant/icons/denger_alert.svg' %>
                              <% end %>
                            </p>
                          </div>
                        </div>
                      </div>
                      <hr class="transaction_hr mt-0">
                      <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12">
                          <div class="ip">
                            <p class="ip_address">
                              Shipping Address Checks
                            </p>
                          </div>
                          <div class="even">
                            <p class="gateway pull-left">
                              Shipping postal code is in the shipping city
                            </p>
                            <p class="quickcard">
                              <% if insight_parsed["shipping_postal_code_is_in_the_shipping_city"] %>
                                YES <%= image_tag 'v2/merchant/icons/tick.svg' %>
                              <% else %>
                                NO <%= image_tag 'v2/merchant/icons/denger_alert.svg' %>
                              <% end %>
                            </p>
                          </div>
                          <div class="odd">
                            <p class="gateway pull-left">
                              Shipping postal code to IP address distance
                            </p>
                            <p class="quickcard">
                              <%= insight_parsed["shipping_postal_code_to_IP_address_distance"] %>
                            </p>
                          </div>
                          <div class="even">
                            <p class="gateway pull-left">
                              Shipping address is in IP country
                            </p>
                            <p class="quickcard">
                              <% if insight_parsed["shipping_address_is_in_IP_country"] %>
                                YES <%= image_tag 'v2/merchant/icons/tick.svg' %>
                              <% else %>
                                NO <%= image_tag 'v2/merchant/icons/denger_alert.svg' %>
                              <% end %>
                            </p>
                          </div>
                          <div class="odd">
                            <p class="gateway pull-left">
                              High risk shipping address
                            </p>
                            <p class="quickcard">
                              <%= insight_parsed["high_risk_shipping_address"] %>
                            </p>
                          </div>
                          <div class="even">
                            <p class="gateway pull-left">
                              Shipping Address to Billing Address Distance
                            </p>
                            <p class="quickcard">
                              <%= insight_parsed["shipping_address_distance_to_billing_address"] %>
                            </p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-5">
                    <div class="order-review-part mt-3 mb-3">
                      <div class="row">
                        <div class="col-lg-12">
                          <div class="text-center">
                            <p class="simple-20-bold-text-dark">Order Review</p>
                          </div>
                        </div>
                      </div>
                      <hr class="invoice-horizontal-line">
                      <div class="row">
                        <div class="col-lg-8">
                          <div class="pull-left">
                            <p class="simple-16-normal-dark-text">Date</p>
                            <p class="simple-16-bold-text-4a4a4a"><%= @transaction.created_at.strftime("%m/%d/%Y")%><span><%= @transaction.created_at.strftime(" %I:%M:%S %p")%></span>
                            </p>
                          </div>
                        </div>
                        <div class="col-lg-4">
                          <div class="pull-right">
                            <p class="simple-16-normal-dark-text">Order ID</p>
                            <p class="simple-16-bold-text-4a4a4a"><%= @transaction.try(:order_id) %></p>
                          </div>
                        </div>
                      </div>
                      <hr class="invoice-h-line">
                      <div class="row">
                        <div class="col-lg-12">
                          <div>
                            <p class="simple-16-normal-dark-text mb-1">Customer Name</p>
                            <p class="simple-16-bold-text-4a4a4a"><%= @transaction.sender.try(:name)  %></p>
                          </div>
                          <div>
                            <p class="simple-16-normal-dark-text mb-1">Email</p>
                            <p class="simple-16-bold-text-4a4a4a"><%= @transaction.sender.try(:email)  %></p>
                          </div>
                          <div>
                            <p class="simple-16-normal-dark-text mb-1">Phone #</p>
                            <p class="simple-16-bold-text-4a4a4a"><%= @transaction.sender.try(:phone_number)  %></p>
                          </div>
                        </div>
                      </div>
                      <hr class="line-1">
                      <div class="row">
                        <div class="col-lg-6">
                          <div>
                            <p class="simple-16-normal-dark-text mb-1">Payment Method</p>
                            <p class="simple-16-bold-text-4a4a4a"><%= image_tag "v2/merchant/chargeback/icon_simple-mastercard.svg" %><%= @transaction.last4.present? ? " ••••#{@transaction.last4}" : "---"   %>
                            </p>
                          </div>
                        </div>
                        <div class="col-lg-6">
                          <div>
                            <p class="simple-16-normal-dark-text mb-1">Transaction ID</p>
                            <p class="simple-16-bold-text-4a4a4a"><%= @transaction.seq_transaction_id[0..20]  %>…
                              <a href="#" data-skin="dark" data-toggle="m-tooltip" data-placement="top" title="" data-original-title="Click to Copy" class="cutom_tootltip copy_transection_id">
                                <%= image_tag 'v2/merchant/gethelp/copy.svg' %>
                              </a>
                            </p>
                          </div>
                        </div>
                      </div>
                    </div>
                    <% if @transaction.products.present? %>

                      <div class="product-review-part">
                        <div class="row">
                          <div class="col-lg-12">
                            <div class="text-center">
                              <p class="simple-20-bold-text-dark">Product Review</p>
                            </div>
                          </div>
                        </div>
                        <hr class="invoice-horizontal-line">
                        <div class="row">
                          <div class="col-lg-2 col-md-2 simple-14-bold-text-dark">Item #</div>
                          <div class="col-lg-1 col-md-1 simple-14-bold-text-dark">Qty.</div>
                          <div class="col-lg-5 col-md-5 position-22 simple-14-bold-text-dark">Description</div>
                          <div class="col-lg-4 col-md-4"></div>
                        </div>
                        <% @transaction.products.each_with_index do |p,i| %>
                          <% css_class = i.odd? ? 'risk-odd-product-details' : 'risk-product-details' %>
                          <div class="row">
                            <div class="col-lg-12 col-md-12 <%= css_class %>">
                              <div class="box-padding">
                                <div class="row">
                                  <div class="col-lg-2 col-md-2">1</div>
                                  <div class="col-lg-1 col-md-1 pl-0">
                                    <div class="product-numbers">
                                      <div>
                                        <p class="simple-16-bold-text p-product simple-14-normal-text-4c4c4c"><%= p.quantity %>x</p>
                                      </div>
                                    </div></div>
                                  <div class="col-lg-5 col-md-5 position-22 simple-14-normal-text-4c4c4c"><%= p.name %></div>
                                  <div class="col-lg-4 col-md-4 text-right simple-16-bold-text-4a4a4a"><%= number_with_precision(number_to_currency(p.amount.to_f), precision: 2) %> /ea.
                                  </div>
                                </div>
                              </div>
                            </div>

                          </div>
                        <% end %>
                        <hr class="chargeback-line">
                        <div class="row">
                          <div class="col-lg-12">
                            <div class="pull-left">
                              <p class="simple-16-normal-text-rgba">Subtotal</p>
                            </div>
                            <div class="pull-right">
                              <p class="simple-16-bold-text-rgba">$ <%= number_with_precision(@transaction.amount, precision: 2) %></p>
                            </div>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-lg-12">
                            <div class="pull-left">
                              <p class="simple-16-normal-text-rgba">Discount</p>
                            </div>
                            <div class="pull-right">
                              <p class="simple-16-bold-text-rgba">$ <%= number_with_precision(@transaction.discount.nil? ? 0 : @transaction.discount , precision: 2) %></p>
                            </div>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-lg-12">
                            <div class="pull-left">
                              <p class="simple-16-normal-text-rgba">Fee</p>
                            </div>
                            <div class="pull-right">
                              <p class="simple-16-bold-text-rgba"><%= number_with_precision(number_to_currency(@transaction.try(:fee).to_f), precision: 2) %>
                              </p>
                            </div>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-lg-12">
                            <div class="pull-left">
                              <p class="simple-16-normal-text-rgba">Shipping & Handling</p>
                            </div>
                            <div class="pull-right">
                              <p class="simple-16-bold-text-rgba">$ <%= number_with_precision(@transaction.try(:shipping_amount).present? ? @transaction.try(:shipping_amount) : 0 , precision: 2) %></p>
                            </div>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-lg-12">
                            <div class="pull-left">
                              <p class="simple-16-normal-text-rgba">Taxes</p>
                            </div>
                            <div class="pull-right">
                              <p class="simple-16-bold-text-rgba">$ <%= number_with_precision(@transaction.try(:tax), precision: 2) %></p>
                            </div>
                          </div>
                        </div>

                        <hr class="invoice-horizontal-line">
                        <div class="row">
                          <div class="col-lg-12">
                            <div class="pull-left">
                              <p class="chargeback-grand-total-text">Grand Total</p>
                            </div>
                            <div class="pull-right">
                              <p class="chargeback-grand-total-price"><span class="dollar-sign">$</span><%= number_with_precision(@transaction.total_amount, precision: 2) %></p>
                            </div>
                          </div>
                        </div>
                      </div>
                    <% end %>

                  </div>

                </div>
              </div>
            </div>
            <% if @minfraud_result.present? && @minfraud_result.qc_action == TypesEnumLib::RiskType::PendingReview %>
              <div class="pull-right">
                <a class="btn risk_refund_button" aria-label="Close" data-toggle='modal' data-target = '#TransactionDecline'>Refund</a>
                <a class="btn ml-4 risk_accept_button" aria-label="Close" data-toggle='modal' data-target = '#TransactionAccept'>Accept</a>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  <% end %>

</div>
<%= javascript_include_tag 'v2/merchant/transaction_detail' %>
<%= render partial: 'transaction_accept_modal' %>
<%= render partial: 'transaction_decline_modal' %>




