<div class="m-subheader">
  <div class="d-flex align-items-center">
    <div class="mr-auto">
      <ul class="m-subheader__breadcrumbs m-nav m-nav--inline set-path">
        <li class="m-nav__item">
          <a href="/v2/merchant/accounts" class="m-nav__link">
            <span class="my-order-nav">
                Accounts
            </span>
          </a>
        </li>
        <li class="m-nav__separator">
          <%= image_tag "v2/merchant/icons/angle.svg"%>
        </li>
        <li class="m-nav__item">
          <a href="<%= params[:txns_path] %>" class="m-nav__link">
            <span class="my-order-nav">
                Transactions
            </span>
          </a>
        </li>
        <li class="m-nav__separator">
          <%= image_tag "v2/merchant/icons/angle.svg"%>
        </li>
        <li class="m-nav__item">
          <a href="<%= @txn_detail_url %>" class="m-nav__link">
            <span class="my-order-nav">
                Transaction Details
            </span>
          </a>
        </li>
        <li class="m-nav__separator">
          <%= image_tag "v2/merchant/icons/angle.svg"%>
        </li>
        <li class="m-nav__item">
          <a href="#" class="m-nav__link">
              <span class="order-active">
                Events
              </span>
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>

<div class="row" >
  <div class="col-lg-12">
    <div class="row">
      <div class="col-lg-7">
        <div class="chargeback-open-cases mt-3 mb-2">
          <div class="row" >
            <div class="col-lg-12">
              <p class="simple-20-bold-text-dark mt-2 text-center">
                <%= main_type_format(show_local_type(@transaction)) %> Events
              </p>
            </div>
          </div>
          <% if @transaction_created.present? %>

            <div class="row">
              <div class="col-xl-1 col-lg-1 col-md-1 col-sm-2 col-xs-2 pr-0">
                <%= image_tag "v2/merchant/chargeback/folder.svg", class: 'refund_icon_images pull-right' %>
                <div class="cl_4 pull-right"></div>
              </div>
              <div class="col-lg-11">
                <div class="charback-accepted-case2">
                  <div class="row">
                    <div class="col-lg-12">
                      <div class="">
                        <p class="simple-20-bold-text-dark mt-2">Transaction Created</p>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-lg-3">
                      <p class="case_open_date timeUtc">
                        <%= @transaction.created_at.strftime("%m/%d/%Y")%> at <%= @transaction.created_at.strftime("%I:%M:%S %p")%>
                      </p>
                    </div>
                    <div class="col-lg-9"></div>
                  </div>
                  <div class="row">
                    <div class="col-lg-12">
                      <div class="mt-2">
                        <p class="simple-16-normal-dark-text mb-0">Customer Name</p>
                        <p class="simple-16-bold-text-4a4a4a"><%= @transaction.sender.try(:name)  %></p>
                      </div>
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-lg-12">
                      <div class="mt-2">
                        <p class="simple-16-normal-dark-text mb-0">Wallet ID</p>
                        <p class="simple-16-bold-text-4a4a4a"><%= @transaction.try(:sender_wallet_id)  %></p>
                      </div>
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-lg-12">
                      <div class="mt-2">
                        <p class="simple-16-normal-dark-text mb-0">Amount</p>
                        <p class="simple-16-bold-text-4a4a4a"><%= number_with_precision(number_to_currency(@transaction.total_amount.to_f), precision: 2) %>
                        </p>
                      </div>
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-lg-12">
                      <div class="mt-2">
                        <p class="simple-16-normal-dark-text mb-0">Transaction ID</p>
                        <p class="simple-16-bold-text-4a4a4a">
                          <%= @transaction.seq_transaction_id[0..10]  %>...
                          <span class="offscreen clipboard" id="original_txn_id"><%= @transaction.seq_transaction_id %></span>
                          <a href="#" data-skin="dark" data-toggle="m-tooltip" data-placement="top" title="" data-original-title="Click to Copy" data-clipboard-action="copy" data-clipboard-target="#original_txn_id" class="cutom_tootltip copy_transection_id">
                            <%= image_tag 'v2/merchant/gethelp/copy.svg',class:"pl-3" %>
                          </a>
                        </p>
                      </div>
                    </div>
                  </div>


                </div>
              </div>
            </div>
          <% end %>

          <% if @transaction_refunded.present? %>
            <div class="row">
              <div class="col-xl-1 col-lg-1 col-md-1 col-sm-2 col-xs-2 pr-0">
                <%= image_tag "v2/merchant/chargeback/folder.svg", class: 'refund_icon_images pull-right' %>
                <div class="cl_4 pull-right"></div>
              </div>
              <div class="col-lg-11">
                <div class="charback-accepted-case2">
                  <div class="row">
                    <div class="col-lg-12">
                      <div class="">
                        <p class="simple-20-bold-text-dark mt-2">Refunded</p>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-lg-3">
                      <p class="case_open_date timeUtc">
                        <%= @transaction_refunded.created_at.strftime("%m/%d/%Y")%> at <%= @transaction_refunded.created_at.strftime("%I:%M:%S %p")%>
                      </p>
                    </div>
                    <div class="col-lg-9"></div>
                  </div>

                  <div class="row">
                    <div class="col-lg-12">
                      <div class="mt-2">
                        <p class="simple-16-normal-dark-text mb-0">Transaction ID</p>
                        <p class="simple-16-bold-text-4a4a4a">
                          <%= @refund_transaction.seq_transaction_id[0..10]  %>...
                          <span class="offscreen clipboard" id="full_refund_id"><%= @refund_transaction.seq_transaction_id %></span>
                          <a href="#" data-skin="dark" data-toggle="m-tooltip" data-placement="top" title="" data-original-title="Click to Copy" data-clipboard-action="copy" data-clipboard-target="#full_refund_id" class="cutom_tootltip copy_transection_id">
                            <%= image_tag 'v2/merchant/gethelp/copy.svg',class:"pl-3" %>
                          </a>
                        </p>
                      </div>
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-lg-12">
                      <div class="mt-2">
                        <p class="simple-16-normal-dark-text mb-0">Amount Requested</p>
                        <p class="simple-16-bold-text-4a4a4a"><%= number_with_precision(number_to_currency(@transaction.total_amount.to_f), precision: 2) %></p>
                      </div>
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-lg-12">
                      <div class="mt-2">
                        <p class="simple-16-normal-dark-text mb-0">Reason</p>
                        <p class="simple-16-bold-text-4a4a4a"><%= @transaction.try(:refund_reason) %></p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          <% end %>

          <% if @partial_refunded.present? %>
            <div class="row">
              <div class="col-xl-1 col-lg-1 col-md-1 col-sm-2 col-xs-2 pr-0">
                <%= image_tag "v2/merchant/chargeback/folder.svg", class: 'refund_icon_images pull-right' %>
                <div class="cl_4 pull-right"></div>
              </div>
              <div class="col-lg-11">
                <div class="charback-accepted-case2">
                  <div class="row">
                    <div class="col-lg-12">
                      <div class="">
                        <p class="simple-20-bold-text-dark mt-2">Partial Refund</p>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-lg-3">
                      <p class="case_open_date timeUtc">
                        <%= @partial_refunded.created_at.strftime("%m/%d/%Y")%> at <%= @partial_refunded.created_at.strftime("%I:%M:%S %p")%>
                      </p>
                    </div>
                    <div class="col-lg-9"></div>
                  </div>

                  <div class="row">
                    <div class="col-lg-12">
                      <div class="mt-2">
                        <p class="simple-16-normal-dark-text mb-0">Original Transaction ID</p>
                        <p class="simple-16-bold-text-4a4a4a">
                          <%= @refund_transaction.seq_transaction_id[0..10]  %>...
                          <span class="offscreen clipboard" id="refund_id"><%= @refund_transaction.seq_transaction_id %></span>
                          <a href="#" data-skin="dark" data-toggle="m-tooltip" data-placement="top" title="" data-original-title="Click to Copy" data-clipboard-action="copy" data-clipboard-target="#refund_id" class="cutom_tootltip copy_transection_id">
                            <%= image_tag 'v2/merchant/gethelp/copy.svg',class:"pl-3" %>
                          </a>
                        </p>
                      </div>
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-lg-12">
                      <div class="mt-2">
                        <p class="simple-16-normal-dark-text mb-0">Remaining Balance</p>
                        <% partial_amount = JSON.parse(@transaction.refund_log) %>
                        <% partial_amount.kind_of?(Array) ? partial_amount = partial_amount.first : partial_amount %>
                        <p class="simple-16-bold-text-4a4a4a"><%= number_with_precision(number_to_currency(@transaction.amount.to_f - partial_amount["amount"].to_f), precision: 2) %></p>
                      </div>
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-lg-12">
                      <div class="mt-2">
                        <p class="simple-16-normal-dark-text mb-0">Reason</p>
                        <p class="simple-16-bold-text-4a4a4a"><%= @transaction.try(:refund_reason) %></p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          <% end %>
          <% if @chargeback_created.present? %>
            <div class="row">
              <div class="col-xl-1 col-lg-1 col-md-1 col-sm-2 col-xs-2 pr-0">
                <%= image_tag "v2/merchant/chargeback/folder.svg", class: 'refund_icon_images pull-right' %>
                <div class="cl_4 pull-right"></div>
              </div>
              <div class="col-lg-11">
                <div class="row">
                  <div class="col-lg-12">
                    <div class="simple-20-bold-text-dark mt-2">
                      <p >Chargeback Case Opened</p>
                    </div>
                  </div>
                </div>

                <div class="row">
                  <div class="col-lg-12">
                    <div class="mt-2">
                      <p class="simple-16-normal-dark-text mb-0">Transaction ID</p>
                      <p class="simple-16-bold-text-4a4a4a">
                        <%= @dispute_case.try(:charge_back_transaction).try(:seq_transaction_id)[0..10] %>...
                        <span class="offscreen clipboard" id="cbk_id"><%= @dispute_case.try(:charge_back_transaction).try(:seq_transaction_id) %></span>
                        <a href="#" data-skin="dark" data-toggle="m-tooltip" data-placement="top" title="" data-original-title="Click to Copy" data-clipboard-action="copy" data-clipboard-target="#cbk_id" class="cutom_tootltip copy_transection_id">
                          <%= image_tag 'v2/merchant/gethelp/copy.svg',class:"pl-3" %>
                        </a>
                      </p>
                    </div>
                  </div>
                </div>
                <hr class="invoice-horizontal-line hr-event">
                <div class="row">
                  <div class="col-lg-12">
                    <div class="row">

                      <div class="col-lg-4">
                        <div>
                          <p class="simple-14-normal-text-rgba">Status</p>
                          <p class="simple-16-bold-text">
                            <% if @dispute_case.status == "sent_pending" %>
                              Pending
                            <% elsif @dispute_case.status == "won_reversed"  %>
                              Won
                            <% elsif @dispute_case.status == "lost"  %>
                              Lost
                            <% elsif @dispute_case.status == "dispute_accepted"  %>
                              Dispute Accepted
                            <% end %>
                          </p>
                        </div>
                      </div>
                      <div class="col-lg-4">
                        <div>
                          <p class="simple-14-normal-text-rgba">Case Type</p>
                          <p class="simple-16-bold-text">
                            <% if @dispute_case.dispute_type == "charge_back" %>
                              Chargeback
                            <% end %>
                          </p>
                        </div>
                      </div>
                      <div class="col-lg-3">
                        <div>
                          <p class="simple-14-normal-text-rgba">Case ID</p>
                          <p class="simple-16-bold-text">
                            <%= @dispute_case.case_number %>
                          </p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <hr class="invoice-horizontal-line hr-event">
                <div class="row">
                  <div class="col-lg-12">
                    <div class="row">
                      <div class="col-lg-7">
                        <div>
                          <p class="simple-14-normal-text-rgba">Account</p>
                          <p class="simple-24-bold-text-dark mt-2"><%= @dispute_case.try(:merchant_wallet).try(:location).try(:business_name) %></p>
                        </div>
                      </div>
                      <div class="col-lg-5">
                        <div>
                          <p class="simple-14-normal-text-rgba">Chargeback Amount</p>
                          <p class="simple-24-bold-text-dark mt-2"><%= number_with_precision(number_to_currency(@dispute_case.amount.to_f), precision: 2) %>
                          </p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <hr class="invoice-h-line hr-event">
                <div class="row">
                  <div class="col-lg-12">
                    <div class="row">
                      <div class="col-lg-7">
                        <div>
                          <p class="simple-14-normal-text-rgba">Received Date</p>
                          <p class="simple-16-bold-text timeUtc"><%= @dispute_case.recieved_date.strftime("%m/%d/%Y")%><span><%= @dispute_case.recieved_date.strftime("%I:%M:%S %p")%></span></p>
                        </div>
                      </div>
                      <div class="col-lg-5">
                        <div>
                          <p class="simple-14-normal-text-rgba mb-0">Due Date</p>
                          <p class="simple-16-bold-text timeUtc"><%= @dispute_case.due_date.strftime("%m/%d/%Y")%><span><%= @dispute_case.due_date.strftime("%I:%M:%S %p")%></span></p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <hr class="line-1 hr-event">
                <div class="row">
                  <div class="col-lg-12">
                    <div>
                      <p class="simple-14-normal-text-rgba">Reason</p>
                      <p class="simple-16-bold-text"><%= @dispute_case.try(:reason).try(:title) %></p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          <% end %>
          <% if @chargeback_won.present? %>
            <div class="row">
              <div class="col-xl-1 col-lg-1 col-md-1 col-sm-2 col-xs-2 pr-0">
                <%= image_tag "v2/merchant/icons/chargeback-accept-icon.svg", class: 'refund_fcharge1_images1 pull-right' %>
                <div class="cl_4 pull-right"></div>
              </div>
              <div class="col-lg-11">
                <div class="case-won-section1">
                  <div class="row">
                    <div class="col-lg-12">
                      <div class="mt-3">
                        <p class="case-won-text">Chargeback Case Won</p>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-lg-3">
                      <p class="case_open_date mt-4 timeUtc">
                        <%= @chargeback_won.created_at.strftime("%m/%d/%Y")%> at <%= @chargeback_won.created_at.strftime("%I:%M:%S %p")%>
                      </p>
                    </div>
                    <div class="col-lg-9"></div>
                  </div>
                  <div class="row">
                    <div class="col-lg-12">
                      <div class="mt-2">
                        <p class="simple-16-normal-dark-text mb-0">Transaction ID</p>
                        <p class="simple-16-bold-text-4a4a4a">
                          <%= @dispute_case.try(:dispute_result_transaction).try(:seq_transaction_id)[0..10] %>...
                          <span class="offscreen clipboard" id="dispute_case_result_id"><%= @dispute_case.try(:dispute_result_transaction).try(:seq_transaction_id) %></span>
                          <a href="#" data-skin="dark" data-toggle="m-tooltip" data-placement="top" title="" data-original-title="Click to Copy" data-clipboard-action="copy" data-clipboard-target="#dispute_case_result_id" class="cutom_tootltip copy_transection_id">
                            <%= image_tag 'v2/merchant/gethelp/copy.svg',class:"pl-3" %>
                          </a>
                        </p>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-lg-12">
                      <div class="mt-4">
                        <p class="simple-16-normal-dark-text mb-0">Money Deposited back to Account</p>
                        <p class="simple-16-bold-text-rgba"><%= number_with_precision(number_to_currency(@dispute_case.amount.to_f), precision: 2) %></p>
                      </div>
                    </div>
                  </div>

                </div>
              </div>
            </div>
          <% end %>
          <div class="row">
            <div class="col-xl-1 col-lg-1 col-md-1 col-sm-2 col-xs-2 pr-0">
              <%= image_tag "v2/merchant/icons/group_5052.svg", class: 'refund_group_images pull-right' %>
            </div>
          </div>
        </div>
        <div class="col-lg-5">

        </div>

      </div>
    </div>
  </div>
</div>
<%= javascript_include_tag "v2/merchant/transaction_event" %>


