<%= stylesheet_link_tag "#{params[:controller]}" %>
  <div class="container">
    <p class="heading">Legal:</p>
    <p>This Terms of Use Agreement (the “Agreement”), effective as of June 1, 2018, states the terms and conditions that govern the contractual agreement between MTrac, Inc., as licensee of the GreenBox POS LLC, (the “Company”) and you (the “User”) who agrees to be bound by this Agreement in regard to the User’s access to the GreenBox POS mobile application, licensed by MTrac (the “Application”), which is owned and operated by the Company.</p>
    <p><b>1.THE MTRAC SERVICE.</b> Through the Application, the Company offers its Users a point of sale system for transactions (the “Service”). The User hereby acknowledges and agrees that the Service is exclusive property of the Company and the Company may offer access to such Service in any way it sees fit. By logging onto the Application and/or using the Service, the User agrees to these Terms of Use and associated Privacy Policy located elsewhere on the Application.</p>
    <p><b>2.ELIGIBILITY/GENERAL RESTRICTIONS</b>. The User’s limited license to access and make personal use of the Application is contingent on the following:</p>
    <div class="container">
      <p><b>2.1.</b> The User must be at least 18 years of age;</p>
      <p><b>2.2.</b> The User must provide information (personal and otherwise) that is truthful to the best of the User’s knowledge and in the event any such information changes, the User shall notify the Company of any such change within a reasonable amount of time;</p>
      <p><b>2.3.</b> The User shall not use any device, software or other instrumentality to interfere or attempt to interfere with the proper working of the Application. The User will not take any action that imposes an unreasonable or disproportionately large load on the Application’s infrastructure. The User agrees not to use any robot, spider, other automatic device, or manual process to monitor or copy any content from the Application without the prior express consent from an authorized Company representative, unless such use is by a search engine employed to direct Internet users to the Application;</p>
      <p><b>2.4.</b> The User shall not reproduce, duplicate, copy, sell, resell, or otherwise exploit for any commercial purpose without express written consent of the Company;</p>
      <p><b>2.5.</b> The User shall not use any of the Services for any unlawful or harmful purposes; and</p>
      <p><b>2.6.</b> Any unauthorized use automatically terminates the permission or license granted by the Company.</p>
    </div>
    <p><b>3.MODIFICATION.</b> The Company has the right at any time or from time to time to modify or amend this Agreement. Should the Company choose to modify this Agreement the Application will display such changes, which will be the User’s only notification of any such change. Any use of the Application or the Service by the User after such notification shall constitute the User’s acceptance of the modified or amended terms. No modification to this Agreement made by the User shall be binding upon the Company.</p>
    <div class="container">
      <p><b>4.INTELLECTUAL PROPERTY.</b> The Application holds certain content (the “Content”), which is the property of the Company or its content suppliers and protected by international copyright laws. The Application may contain or reference trademarks, patents, copyrighted materials, trade secrets, technologies, products, processes, or other proprietary rights belonging to Company and/or other parties. No license to or right in any such trademarks, patents, copyrighted materials, trade secrets, technologies, products, processes and other proprietary rights of Company and/or other parties is granted to or conferred upon the User and the user may not utilize such Content by any manner aside from viewing such Content according to the license granted herein. Prohibited uses of such content without the written consent of the Company include (but are not limited to):</p>
      <p><b>4.1.</b> Removing, altering, bypassing, avoiding, interfering with, or circumventing any copyright, trademark, or other proprietary notices marked on the Content or any digital rights management mechanism, device, or other content protection or access control measure associated with the Content including geo-filtering mechanisms;</p>
      <p><b>4.2.</b> Copying, downloading, stream capturing, reproducing, duplicating, archiving, distributing, uploading, publishing, modifying, translating, broadcasting, performing, displaying, selling, transmitting or retransmitting the Content; and</p>
      <p><b>4.3.</b> Creating, recreating, distributing or advertising an index of any significant portion of the Content.</p>
    </div>
  </div>
<p class="heading" align="center">GreenBox Privacy Notice :</p>
<p><b>Effective Date:</b> January 2, 2020</p>
<p>This <b>Privacy Notice</b> describes the types of personal information we collect through our payment platform, and various third parties in order to provide our blockchain payment processing platform that enable merchants to conduct their business.</p>
<p><b>GreenBox respects your privacy. We do not sell your personal information to marketers or unaffiliated third parties.</b> We share your personal information with our trusted partners, as discussed below.</p>
<p>This notice was written to comply with the California Consumer Privacy Act of 2018 (CCPA) and any terms defined in the CCPA have the same meaning when used in this notice. </p>
<p align="center"><b><u>Information We Collect</u></b> </p> <p>Our platform, through transactions you conduct with our merchants, collects information that identifies, relates to, describes, references, is capable of being associated with, or could reasonably be linked, directly or indirectly, with a particular consumer or device ("personal information or personal data"). We discuss the personal information collected by GreenBox's platform within the last twelve (12) months in more detail below. </p>
<div class="container">
  <p>The personal information we collect from you relates to an identified or identifiable individual (an “identifier”), and is typically collected because you supplied it us to complete a transaction or engage in a contractual relationship with us. These types of identifiers include:</p>
  <ul><li>Your name or alias, signature, Social Security number, address (postal and/or email), telephone number, driver's license or state identification card number, employment, bank account number, credit card number, debit card number, or any other financial information supplied to us by you or with your express written consent, IP address, account name, merchant ID, or other </li></ul>
  <p>Personal information does not include:</p>
  <ul>
    <li>Publicly available information from government records.</li>
    <li>Deidentified or aggregated consumer information.</li>
    <li>Information excluded from the CCPA's scope, like:</li>
    <li>health or medical information covered by the Health Insurance Portability and Accountability Act of 1996 (HIPAA) and the California Confidentiality of Medical Information Act (CMIA) or clinical trial data;</li>
    <li>personal information covered by certain sector-specific privacy laws, including the Fair Credit Reporting Act (FRCA), the Gramm-Leach-Bliley Act (GLBA) or California Financial Information Privacy Act (FIPA), and the Driver's Privacy Protection Act of 1994.</li>
  </ul>
  <p>GreenBox obtains the categories of personal information listed above from the following categories of sources:</p>
  <ul>
    <li><b> <u>Directly from you.</u></b> For example, from forms you complete or products and services you purchase.</li>
    <li><b><u>Indirectly from you.</u></b> For example, from your actions on our platform or when purchasing from a merchant that uses our services.</li>
  </ul>
  <p><b><u>Personal Information Collected Directly From You:</u></b></p>
  <p>The personal information we collect from you relates to an identified or identifiable individual, and is typically collected because you supplied it to complete a transaction. As discussed above, these types of identifiers include:</p>
  <ul><li>Information you’ve directly supplied to us (by way of an application to register for an account, or to submit an inquiry to our customer service), such as
    <ul style="list-style-type:circle;">
      <li>Your full name;</li>
      <li>Your email address or other online identifier, or account name.</li>
    </ul>
  </li></ul>
  <ul>
    <li>If you’ve applied for a merchant account with us, we also collect certain financial information about you, pursuant to the information and permissions supplied by way of your application and processing agreement. We also collected any other information you’ve supplied in your application packet, such as a birthdate, postal address, business address, social security number, tax ID or Employer Identification Number (EIN), phone number, signature, driver’s license or other state identification card information.</li>
    <li>When, as a customer, you conduct transactions through a merchant using our platform we collect information sufficient to complete the payment and detect and guard against fraudulent activity. Information needed to complete the transaction may include your name, purchase amount, tokenized card data (i.e., card number used, with certain information obscured through our proprietary security methods), time of purchase, date of purchase, the merchant you made a purchase from, and the type of card used. When we conduct certain fraud monitoring activities, we and our fraud prevention partners collect and assess this information to ensure the authenticity of transactions and detect and prevent against fraudulent identifiers. </li>
  </ul>
  <p><b><u>Personal Information Collected Indirectly From You:</u></b></p>
  <p>We collect certain information using cookies and other technology to ensure proper functionality and reduce fraud. This data includes:</p>
  <ul><li>Browser and device data such as IP address, browser and operating system information. </li>
    <li>Usage data.</li></ul>
</div>
<p align="center"><b><u>Use of Personal Information</u></b></p>
<div class="container">
  <p>We may use, or disclose the personal information we collect for one or more of the following purposes:</p>
  <ul>
    <li>To fulfill or meet the reason you provided the information. For example, if you share your name and contact information to request that we contact you about a certain issue, we will use that personal information to respond to your inquiry. If you provide your personal information to purchase a product or service, we will use that information to process your payment and facilitate your transaction with a merchant. </li>
    <li>To provide support, and improve / develop our products and services.</li>
    <li>To create, maintain, customize, and secure your account with us.</li>
    <li>To process your requests, purchases, transactions, and payments and prevent transactional fraud.</li>
    <li>To provide you with support and to respond to your inquiries, including to investigate and address your concerns and monitor and improve our responses.</li>
    <li>To help maintain the safety, security, and integrity of our products and services, databases and other technology assets, and business.</li>
    <li>To respond to law enforcement requests and as required by applicable law, court order, or governmental regulations.</li>
    <li>As described to you when collecting your personal information or as otherwise set forth in the CCPA.</li>
  </ul>
  <p><b>GreenBox will not collect additional categories of personal information or use the personal information we collected for materially different, unrelated, or incompatible purposes without providing you advance notice.</b></p>
</div>
<p align="center"><b><u>Sharing Personal Information</u></b></p>
<div class="container">
  <p>GreenBox may disclose your personal information to a third party for a business purpose, such as fraud monitoring or completing a transaction. When we disclose personal information for a business purpose, we enter a contract that describes the purpose and requires the recipient to both keep that personal information confidential and not use it for any purpose except performing the contract. We do not sell your personal information and we require that the third parties and vendors we engage with do the same. </p>
  <p>We share your personal information with the following categories of third parties:</p>
  <ul>
    <Li>Service providers.</Li>
    <li>Data aggregators – such as fraud monitoring services and companies that use this information to verify the authenticity and security of your transactions and personal data.</li></ul>
  <p><b>Disclosures of Personal Information for a Business Purpose</b></p>
  <p>In the preceding twelve (12) months, Company has disclosed the following personal information for a business purpose (terms used below are as defined in the CCPA):</p>
  <ul><li>Identifiers, Personal information categories listed in the California Customer Records statute (Cal. Civ. Code § 1798.80(e)), Commercial information, Internet or other similar network activity, Geolocation data, Professional or employment-related information, Inferences drawn from other personal information (used for fraud monitoring and prevent activities)</li></ul>
  <p>We disclose your personal information for a business purpose to the following categories of third parties: </p>
  <ul><li>Service providers.</li></ul>
</div>
<p align="center"><b><u>Your Rights and Choices</u></b></p>
<div class="container">
  <p>The CCPA provides consumers (California residents) with specific rights regarding their personal information. This section describes your CCPA rights and explains how to exercise those rights.</p>
  <p><b>Access to Specific Information and Data Portability Rights</b></p>
  <p>You have the right to request that GreenBox disclose certain information to you about our collection and use of your personal information over the past 12 months. Once we receive and confirm your verifiable consumer request, we will disclose to you:</p>
  <ul>
    <li>The nature and purpose of such disclosure (i.e., for a business purpose).</li>
    <li>The categories of personal information we collected about you.</li>
    <li>The categories of sources for the personal information we collected about you.</li>
    <li>Our business or commercial purpose for collecting or selling that personal information.</li>
    <li>The categories of third parties with whom we share that personal information.</li>
    <li>The specific pieces of personal information we collected about you (also called a data portability request).</li>
  </ul>
  <p>You have the right to request that GreenBox delete any of your personal information that we collected from you and retained, subject to certain exceptions. Once we receive and confirm your verifiable consumer request, we will delete (and direct our service providers to delete) your personal information from our records, unless an exception applies. </p>
  <p>We may deny your deletion request if retaining the information is necessary for us or our service provider(s) to: </p>
  <ol><li>Complete the transaction for which we collected the personal information, provide a good or service that you requested, take actions reasonably anticipated within the context of our ongoing business relationship with you, or otherwise perform our contract with you.</li>
    <<li>Detect security incidents, protect against malicious, deceptive, fraudulent, or illegal activity, or prosecute those responsible for such activities.</li>
    <li>Debug products to identify and repair errors that impair existing intended functionality.</li>
    <li>Exercise free speech, ensure the right of another consumer to exercise their free speech rights, or exercise another right provided for by law.</li>
    <li>Comply with the California Electronic Communications Privacy Act (Cal. Penal Code § 1546 et. seq.).</li>
    <li>Engage in public or peer-reviewed scientific, historical, or statistical research in the public interest that adheres to all other applicable ethics and privacy laws, when the information's deletion may likely render impossible or seriously impair the research's achievement, if you previously provided informed consent.</li>
    <li>Enable solely internal uses that are reasonably aligned with consumer expectations based on your relationship with us.</li>
    <li>Comply with a legal obligation.</li>
    <li>Make other internal and lawful uses of that information that are compatible with the context in which you provided it.</li></ol>
  <p><b>Exercising Access, Data Portability, and Deletion Rights</b></p>
  <p>To exercise the access, data portability, and deletion rights described above, please submit a verifiable consumer request to us by either:</p>
  <ul><li>Submitting a request to privacy@greenboxpos.com</li></ul>
  <p>Only you, or someone legally authorized to act on your behalf, may make a verifiable consumer request related to your personal information. You may also make a verifiable consumer request on behalf of your minor child. </p>
  <p>You may only make a verifiable consumer request for access or data portability twice within a 12-month period. The verifiable consumer request must:</p>
  <ul>
    <li>Provide sufficient information that allows us to reasonably verify you are the person about whom we collected personal information or an authorized representative.</li>
    <li>Describe your request with sufficient detail that allows us to properly understand, evaluate, and respond to it.</li>
  </ul>
  <p>We cannot respond to your request or provide you with personal information if we cannot verify your identity or authority to make the request and confirm the personal information relates to you. </p>
  <p>Making a verifiable consumer request does not require you to create an account with us. However, we do consider requests made through your password protected account sufficiently verified when the request relates to personal information associated with that specific account. We will only use personal information provided in a verifiable consumer request to verify the requestor's identity or authority to make the request. </p>
  <p><b>Response Timing and Format</b></p>
  <p>We will work hard to respond to a verifiable consumer request within thirty (30) days of its receipt and verification. If we require more time (up to 60 days), we will inform you of the reason and extension period in writing.</p>
  <p>If you have an account with us, we will deliver our written response to that account. If you do not have an account with us, we will deliver our written response by mail or electronically, at your option. </p>
  <p>Any disclosures we provide will only cover the 12-month period preceding the verifiable consumer request's receipt. The response we provide will also explain the reasons we cannot comply with a request, if applicable. For data portability requests, we will select a format to provide your personal information that is readily useable and should allow you to transmit the information from one entity to another entity without hindrance, as the particular case may require. </p>
  <p>We do not charge a fee to process or respond to your verifiable consumer request unless it is excessive, repetitive, or manifestly unfounded. If we determine that the request warrants a fee, we will tell you why we made that decision and provide you with a cost estimate before completing your request and incurring charges.</p>
</div>
<p align="center"><b><u>Non-Discrimination</u></b></p>
<div class="container">
  <p>We will not discriminate against you for exercising any of your CCPA rights. Unless permitted by the CCPA, we will not:</p>
  <ul>
    <li>Deny you goods or services.</li>
    <li>Charge you different prices or rates for goods or services, including through granting discounts or other benefits, or imposing penalties.</li>
    <li>Provide you a different level or quality of goods or services.</li>
    <li>Suggest that you may receive a different price or rate for goods or services or a different level or quality of goods or services.</li>
  </ul>
  <p align="center"><b><u> Other California Privacy Rights</u></b></p>
  <p>California's "Shine the Light" law (Civil Code Section § 1798.83) permits users of our Website that are California residents to request certain information regarding our disclosure of personal information to third parties for their direct marketing purposes. To make such a request, please send an email to privacy@greenboxpos.com or write us at: </p>
  <ul>
    <p>GreenBox POS</p>
    <p>8880 Rio San Diego Drive, Suite 102</p>
    <p>San Diego, California 92108</p>
  </ul>
  <p align="center"><b><u> Changes to Our Privacy Notice</u></b></p>
  <p>GreenBox reserves the right to amend this privacy notice at our discretion and at any time. When we make changes to this privacy notice, we will post the updated notice on the Website and update the notice's effective date. <b>Your continued use of our services or website following the posting of changes constitutes your acceptance of such changes.</b></p>
  <p align="center"><b><u> Contact Information</u></b></p>
  <p>If you have any questions or comments about this notice, the ways in which GreenBox collects and uses your information described herein, your choices and rights regarding such use, or wish to exercise your rights under California law, please do not hesitate to contact us at:</p>
  <ul>
    <p><b>Email:</b> privacy@greenboxpos.com</p>
    <p><b>Postal Address:</b></p>
    <p>GreenBox POS</p>
    <p>8880 Rio San Diego Drive, Suite 102</p>
    <p>San Diego, California 92108</p>
    
  </ul>
  <p>Our services are not directed to individuals under the age of thirteen (13), and we request that they not provide any personal data or information through our website, platform or services.</p>
</div>
