<%= stylesheet_link_tag asset_path("admins/shared_css"), media: 'all', 'data-turbolinks-track' => 'reload' %>
<table id="datatable-keytable-transactions" class="table table-striped table-bordered table-hover" cellspacing="0" cellpadding="0">
  <thead class="tr-head">
  <tr class="tr-head">
    <th>Risk Evalutation</th>

    <th>Txn ID</th>
    <th class="total_other_header">Date/Time</th>
    <th class="total_name_header">Sender Name</th>
    <th class="total_name_header">Receiver Name</th>
    <th>Type</th>
    <th class="total_other_header">Status</th>
    <th class="total_other_header">Descriptor</th>
    <th>CC#</th>
    <th class="total_amount_header">Total Tx Amount</th>
  </tr>
  </thead>
  <tbody id="tbody">
  <%	if transactions.present? %>
    <% transactions.each do |tx| %>

      <% @parent_transaction = nil %>
      <% if @wallet.present?  %>
        <% if @wallet.tip? || @wallet.reserve?   %>
          <% @parent_transaction = BlockTransaction.find_by(id: tx.parent_id) %>
          <% params[:trans] = "iso_agent_aff" %>
        <% end %>
      <% end %>
      <tr data-url= "<%= local_transaction_details_transactions_path(transaction: tx.id,trans: params[:trans]) %>"  id="txn-tr" class="cursor_point show-dynamic-modal show-cover-spin"  data-modal_selector="<%= params[:trans] == "decline" ? "#DetailDeclineModal" : "#modal_id" %>" data-modal_container_selector="#custom_modal" data-method = "POST">
        <% if tx.try(:minfraud_result).present? %>
          <td class="show-dynamic-modal" data-modal_container_selector="#custom_modal" data-modal_selector=".maxmind-detail" data-url="<%= admins_maxmind_path(tx.minfraud_result) %>" data-method ="GET" >
            <%= maxmind_minfraud_status(tx.minfraud_result).html_safe %>
          </td>
        <% else %>
          <td>
            <span class="risk-evaluation no-disposition">&nbsp;</span>
          </td>
        <% end %>
        <td class="sorted">
          <% if params[:trans] == "decline" || params[:trans] == "reserve" %>
            <%= tx.id %>
          <% else %>
            <%= tx.try(:seq_transaction_id).present? ? tx.seq_transaction_id.first(6) : tx.try(:sequence_id).present? ? tx.sequence_id.first(6) : tx.id %>
          <% end %>
        </td>

        <td class="timeUtc">
          <%= tx.timestamp.present? ? tx.timestamp.strftime("%Y-%m-%d %H:%M:%S %z") : tx.created_at.strftime("%Y-%m-%d %H:%M:%S %z") %>
        </td>
        <% if @parent_transaction.present? %>
          <td><%= @parent_transaction.sender_name.present? ? @parent_transaction.sender_name : '--' %></td>
          <td><%= @parent_transaction.receiver_name.present? ? @parent_transaction.receiver_name : '--' %></td>
        <% else %>
          <td>
            <% if tx.try(:from).present? && tx.try(:from) == "Credit" %>
              Credit
            <% elsif (tx.try(:from).nil? && tx.try(:tag).try(:[],"api_type") == "debit") || (tx.try(:from).present? && tx.try(:from) == "Debit") %>
              Debit
            <% elsif tx.try(:main_type) == "Sale Issue" || tx.try(:main_type) == TypesEnumLib::TransactionType::Issue3DS || tx.try(:tag).try(:[],"sub_type") == "sale_issue" || tx.try(:tag).try(:[],"sub_type") == "sale_issue_api" %>
              --
            <%elsif tx.try(:main_type) == "Service Fee" ||tx.try(:main_type) == "Subscription Fee" || tx.try(:main_type) == "Misc Fee" || tx.try(:main_type) == "Void Check"   %>
              <% if tx.sender_name.present? %>
                <%= change_wallet_name(tx.sender_name)  %>
              <% else %>
                <%= change_wallet_name(Wallet.find_by(id: tx.try(:from).try(:to_i)).try(:[],'name').present? ?  Wallet.find_by(id: tx.try(:from).try(:to_i)).try(:[],'name') : '--') %>
              <%end %>
            <%elsif tx.try(:main_type) == "monthly Fee"  %>
                <%= change_wallet_name(Wallet.find_by(id: tx.try(:from).try(:to_i)).try(:[],'name').present? ?  Wallet.find_by(id: tx.try(:from).try(:to_i)).try(:[],'name') : '--') %>
            <% elsif tx.try(:main_type) == "PIN Debit" %>
              <% if tx.sender_name.present? %>
                <%= change_wallet_name((tx.sender_name).truncate(24) || '---')  %>
              <% else %>
                --
                <%#= change_wallet_name(Wallet.find_by(id: tx.try(:from).try(:to_i)).try(:[],'name').present? ?  Wallet.find_by(id: tx.try(:from).try(:to_i)).try(:[],'name') : '--') %>
              <%end %>
            <% elsif tx.try(:main_type) == "Send Check" || tx.try(:main_type) == "ACH" || tx.try(:main_type)=="ACH Deposit" || tx.try(:main_type) == "instant_pay"   %>
              <% if tx.sender_name.present? %>
                <%= change_wallet_name((tx.sender_name).truncate(24)|| '---')  %>
              <% else %>
                --
                <%#= change_wallet_name(tx.sender.present? ? tx.sender.try(:name): "") %>
              <% end %>
            <% else %>
              <%# if tx.sender.present? && tx.sender.role == "user" %>
                <%#= tx.sender.name %>
              <% if tx.sender_name.present? %>
                <%= change_wallet_name((tx.sender_name).truncate(24) || '---')  %>
              <% else %>
                --
                <%#= change_wallet_name(tx.sender.present? ? tx.sender.try(:name) : tx.try(:from).present? ? Wallet.find_by(id: tx.try(:from).try(:to_i)).try(:[],'name') : '--') %>
              <%end %>
            <% end %>
          </td>
          <td>
            <% if tx.try(:main_type) == "Send Check" || tx.try(:main_type)=="ACH" || tx.try(:main_type)=="ACH Deposit" %>
              <% if tx.try(:action) == "transfer" && tx.try(:receiver_wallet_id).present? %>
                <% if tx.receiver_name.present? %>
                  <%= change_wallet_name((tx.receiver_name).truncate(24) || '---')  %>
                <% else %>
                  --
                  <%#= change_wallet_name(tx.receiver.present? ? tx.receiver.try(:name) : tx.to.present? ? Wallet.find_by(id: tx.try(:to).try(:to_i)).try(:[],'name') : '--') %>
                <% end %>
              <% else %>
                --
              <% end %>
            <%elsif tx.try(:main_type) == "Service Fee" ||tx.try(:main_type) == "Subscription Fee" || tx.try(:main_type) == "Misc Fee" || tx.try(:main_type) == "Void Check"   %>
              <% if tx.receiver_name.present? %>
                <%= change_wallet_name((tx.receiver_name).truncate(24) || '---')  %>
              <% else %>
                <%= change_wallet_name(Wallet.find_by(id: tx.try(:to).try(:to_i)).try(:[],'name').present? ?  Wallet.find_by(id: tx.try(:to).try(:to_i)).try(:[],'name') : '--') %>
              <% end %>
            <%elsif tx.try(:main_type) == "monthly Fee"  %>
              <%= change_wallet_name(Wallet.find_by(id: tx.try(:from).try(:to_i)).try(:[],'name').present? ?  Wallet.find_by(id: tx.try(:from).try(:to_i)).try(:[],'name') : '--') %>
            <%elsif tx.try(:main_type) == "PIN Debit"  %>
              <% if tx.receiver_name.present? %>
                <%= change_wallet_name(tx.receiver_name) %>
              <% else %>
                --
                <%#= change_wallet_name(Wallet.find_by(id: tx.try(:to).try(:to_i)).try(:[],'name').present? ?  Wallet.find_by(id: tx.try(:to).try(:to_i)).try(:[],'name') : '--') %>
              <% end %>
            <% elsif tx.try(:main_type) == "cbk_fee" %>
              <% if tx.receiver_name.present? %>
                <%= change_cbk_rec_name((tx.receiver_name).truncate(24) || '---') %>
              <% else %>
                --
              <% end %>
            <% elsif tx.try(:main_type) == "cbk_lost" %>
              <%= "--" %>
            <% elsif tx.try(:main_type) == TypesEnumLib::TransactionType::RefundFailed %>
              <%= tx.receiver_wallet_id.present? ? Wallet.find_by(id: tx.receiver_wallet_id).try(:name) : "--" %>
            <% else %>
              <%# if tx.receiver.present? && tx.receiver.role == "user" %>
                <%#= tx.receiver.name %>
              <% if tx.receiver_name.present? %>
                <%= change_wallet_name((tx.receiver_name).truncate(24) || '---')  %>
              <% else %>
                --
                <%#= change_wallet_name(tx.receiver.present? ? tx.receiver.try(:name).truncate(24) : tx.try(:to).present? ? Wallet.find_by(id: tx.try(:to).try(:to_i)).try(:[],'name') : '--') %>
              <% end %>
            <% end %>
          </td>
        <% end %>
        <td>
          <% txn_type = main_type_format(show_local_type(tx)? show_local_type(tx) : show_local_type_for_decline(tx)) %>
          <% if txn_type=="Ach Deposit" %>
            ACH Deposit
          <%elsif txn_type == "Push to Card" %>
            <%= tx.action == "retire"? "Push To Card Deposit" : "Push To Card" %>
          <% elsif txn_type == "Send Check" %>
            <%= (tx.action == "retire" )? "Check Deposit" : "Send Check" %>
          <%elsif txn_type == "Service Fee" %>
            Monthly Fee
          <%else %>
            <%= txn_type %>
          <% end %>
        </td>
        <td>
          <% if params[:trans] == "decline" %>
            <span class="badge badge-info decline_span" >Declined</span>
          <% else %>
            <span class="badge badge-info approved_span">Approved</span>
          <% end %>
        </td>

        <td>
          <% if params[:trans] == "decline" %>
            <%= tx.try(:tags).try(:[],"descriptor").present? ? tx.try(:tags).try(:[],"descriptor") : "--" %>
          <% elsif @wallet.present? %>
            <% unless @wallet.primary? %>
              <%= tx.try(:tags).try(:[],"descriptor").present? ? tx.try(:tags).try(:[],"descriptor") : tx.try(:tags).try(:[],"source").present? ? tx.try(:tags).try(:[],"source") : "Quickcard" %>
            <% else %>
              <%= tx.try(:tags).try(:[],"descriptor").present? ? tx.try(:tags).try(:[],"descriptor") : "Quickcard" %>
            <% end %>
          <% else %>
            <%if (tx.main_type == 'ACH_deposit' || tx.main_type == 'ACH Deposit') && tx.ach_gateway_id.present? %>
              <%= getGateway_name(tx.ach_gateway_id) %>
            <%else %>
                  <% if tx.main_type == "Reserve money deposit"  %>
                     Quickcard
                  <% else %>
                      <%= tx.try(:tags).try(:[],"descriptor").present? ? tx.try(:tags).try(:[],"descriptor") : tx.try(:tags).try(:[],"source").present? ? tx.try(:tags).try(:[],"source") : "Quickcard" %>
                  <% end %>
            <%end %>
          <% end %>
        </td>
        <% if tx.first6.present? || tx.last4.present? %>
          <td> <%= "#{tx.first6}****#{tx.last4}" %>
            <% if tx.main_type == "instant_pay" || tx.main_type == "Instant Pay" %>
              <% if tx.tags.present? && tx.tags["card"].present? && tx.tags["card"]["brand"].present? %>
                <% card_brand = tx.tags["card"]["brand"].try(:downcase) %>
                <% if card_brand == "visa" %>
                  <%= image_tag("Visa1.png", :alt => "rss feed", class: 'visa1') %>
                <% elsif card_brand == "mastercard" %>
                  <%= image_tag("mastercard1.png", :alt => "rss feed", class: 'mastercardpic') %>
                <% elsif card_brand == "amex" %>
                  <%= image_tag("american_expres1.png", :alt => "rss feed", class: 'americancard') %>
                <% elsif card_brand == "discover" %>
                  <%= image_tag("discover.jpg", :alt => "rss feed", class: 'discovercard') %>
                <% end %>
              <% else %>
                <% if tx.first6.present? %>
                  <% card_info = get_card_info(tx.first6) %>
                  <% if card_info["scheme"] == "visa" %>
                    <%= image_tag("Visa1.png", :alt => "rss feed", class: 'visa1') %>
                  <% elsif card_info["scheme"] == "mastercard" %>
                    <%= image_tag("mastercard1.png", :alt => "rss feed", class: 'mastercardpic') %>
                  <% elsif card_info["scheme"] == "amex" %>
                    <%= image_tag("american_expres1.png", :alt => "rss feed", class: 'americancard') %>
                  <% elsif card_info["scheme"] == "discover" %>
                    <%= image_tag("discover.jpg", :alt => "rss feed", class: 'discovercard') %>
                  <% end %>
                <% end %>
              <% end %>
            <% else %>
              <% if tx.tags.present? && tx.tags["card"].present? && tx.tags["card"]["brand"].present? %>
                <% brand =  tx.tags["card"]["brand"].downcase %>
              <% elsif tx.tags.try(:[],'previous_issue').present? && tx.tags.try(:[], 'previous_issue').try(:[], 'tags').try(:[], 'card').try(:[],'brand').present? %>
                <% brand = tx.tags.try(:[], 'previous_issue').try(:[], 'tags').try(:[], 'card').try(:[],'brand').try(:downcase) %>
              <% elsif tx.card.present? %>
                <% brand = tx.card.try(:[], 'brand').try(:downcase) %>
              <% end %>
              <% if brand.present? %>
                <% if brand == 'visa' %>
                  <%= image_tag("Visa1.png", :alt => "rss feed", class: 'visa1') %>
                <% elsif brand == 'mastercard' %>
                  <%= image_tag("mastercard1.png", :alt => "rss feed", class: 'mastercardpic') %>
                <% elsif brand == 'jcb' %>
                  <%= image_tag("JCB.png", :alt => "rss feed", class: 'mastercardpic') %>
                <% elsif brand == 'amex' %>
                  <%= image_tag("american_expres1.png", :alt => "rss feed", class: 'americancard') %>
                <% elsif brand == 'discover' %>
                  <%= image_tag("discover.jpg", :alt => "rss feed", class: 'discovercard') %>
                <% end %>
              <% end %>
            <% end %>
          </td>
        <% elsif tx.main_type=='refund' || tx.main_type=='refund_bank'  %>
          <% card = tx.card %>
          <% card_details = Transaction.find_by(seq_transaction_id: tx.tags.try(:[],'refund_details').try(:[],'parent_transaction_id')) if tx.tags.try(:[],'refund_details').try(:[],'parent_transaction_id').present? && card.blank? %>
          <% if card.present? %>
            <td> <%= card.try(:first6)%>****
              <%= card.try(:last4)%>
              <% if card.present? && card.try(:brand).try(:downcase) == 'visa' %>
                <%= image_tag("Visa1.png", :alt => "rss feed",class: 'visa1')%>
              <% elsif card.present? && card.try(:brand).try(:downcase) == 'mastercard' %>
                <%= image_tag("mastercard1.png", :alt => "rss feed",class: 'mastercardpic')%>
              <% elsif card.present? && card.try(:brand).try(:downcase) == 'amex' %>
                <%= image_tag("american_expres1.png", :alt => "rss feed",class: 'americancard')%>
              <% elsif card.present? && card.try(:brand).try(:downcase) == 'discover' %>
                <%= image_tag("discover.jpg", :alt => "rss feed",class:'discovercard')%>
              <% end %>
            </td>
          <% elsif card_details.present? %>
            <td> <%= card_details[:tags].try(:[],'previous_issue').try(:[],'tags').try(:[],'card').try(:[],'first6')%>****
              <%= card_details[:tags].try(:[],'previous_issue').try(:[],'tags').try(:[],'card').try(:[],'last4')%>
              <% if card_details[:tags].try(:[], 'previous_issue').try(:[], 'tags').try(:[], 'card').try(:[],'brand').try(:downcase)=='visa' %>
                <%= image_tag("Visa1.png", :alt => "rss feed",class: 'visa1')%>
              <% elsif card_details[:tags].try(:[], 'previous_issue').try(:[], 'tags').try(:[], 'card').try(:[], 'brand').try(:downcase)=='mastercard' %>
                <%= image_tag("mastercard1.png", :alt => "rss feed",class: 'mastercardpic')%>
              <% elsif card_details[:tags].try(:[], 'previous_issue').try(:[], 'tags').try(:[], 'card').try(:[], 'brand').try(:downcase)=='amex' %>
                <%= image_tag("american_expres1.png", :alt => "rss feed",class: 'americancard')%>
              <% elsif card_details[:tags].try(:[], 'previous_issue').try(:[], 'tags').try(:[], 'card').try(:[], 'brand').try(:downcase)=='discover' %>
                <%= image_tag("discover.jpg", :alt => "rss feed",class:'discovercard')%>
              <% end %>
            </td>
          <% else %>
            <td>---</td>
          <% end %>
        <% else %>
          <td>---</td>
        <% end %>
        <td>
          <% if tx.main_type=='cbk_hold' || tx.main_type=='cbk_won' || tx.main_type=='retrievel_fee' || tx.main_type=='cbk_lost' || tx.main_type=='CBK Lost Retire' || tx.main_type=='cbk_fee' || tx.main_type=='cbk_dispute_accepted' %>
            <%= tx.action.present? && (tx.action=='retire' || tx.action=='withdraw') ? '-' : '' %>  <%= number_with_precision(number_to_currency(tx.try(:amount).present? ? tx.try(:amount).try(:to_f) : tx.try(:amount_in_cents).try(:to_f)/100 ), precision: 2) %>
          <%else%>
            <% if tx.main_type=='Void Check' || tx.main_type=='Void_Check' || tx.main_type=='Void Push To Card' || tx.main_type=='void_push_to_card' || tx.main_type=='Void_Ach' || tx.main_type=='Void ACH'   %>
              <%= number_with_precision(number_to_currency(tx.try(:total_amount).present? ? tx.try(:total_amount).try(:to_f) : tx.try(:amount_in_cents).try(:to_f)/100), precision: 2) %>
            <% elsif tx.main_type=='Failed ACH' || tx.main_type == "Failed_Ach_Fee" %>
              <%= number_with_precision(number_to_currency(tx.try(:amount).present? ? tx.try(:amount).try(:to_f) : (tx.try(:amount_in_cents).to_f)/100), precision: 2) %>
            <% else %>
              <%= tx.action.present? && (tx.action=='retire' || tx.action=='withdraw') ? '-' : '' %> <%= number_with_precision(number_to_currency(tx.try(:total_amount).present? ? tx.try(:total_amount).try(:to_f) : (tx.try(:amount_in_cents).to_f)/100), precision: 2) %>
        <% end %>
          <%end%>
        </td>
      </tr>
    <% end %>
  <% end %>
  </tbody>
</table>

<div id="cover-spin"></div>