<%= stylesheet_link_tag asset_path("admins/shared_css"), media: 'all', 'data-turbolinks-track' => 'reload' %>
<div class="row">
  <div class="col-sm-6 col-lg-6 card_information" >
    <h5 class="bold font">CARD INFORMATION</h5>
  </div>
  <div class="col-sm-6 col-lg-6">
    <% if card.brand == 'visa' %>
      <%= image_tag('partner/visa.png', class: "img-responsive pull-right width_65px") %>
    <% elsif card.brand == 'master' %>
        <%= image_tag('partner/mc.png', class: "img-responsive pull-right width_65px") %>
    <% end %>
    <!--<img src="visa.png" class="img-responsive pull-right">-->
  </div>
</div>
<div class="row">
  <div class="col-lg-6">
    <table class="table-condensed">
      <!--<tr>-->
      <!--<td class="  font">ID</td>-->
      <!--<td class="bold font">39ee58</td>-->
      <!--</tr>-->
      <tr>
        <td class="  font">Name</td>
        <td class="bold font"><%= card.name if card.present? %></td>
      </tr>
      <tr class="display_none">
        <td class="  font">Number</td>
        <td class="bold font">******<%= card.last4 if card.present? %></td>
      </tr>
      <tr>
        <td class="  font">Expires</td>
        <td class="bold font"><%= card.exp_date if card.present? %></td>
      </tr>
      <tr>
        <td class="  font">Type</td>
        <td class="bold font"><%= card.brand if card.present? %></td>
      </tr>
    </table>
  </div>
  <div class="col-lg-6">
    <table class="table-condensed">
      <!--<tr>-->
        <!--<td>Billing Address</td>-->
      <!--</tr>-->
      <!--<tr>-->
        <!--<td class="  font">Origin</td>-->
        <!--<td class="bold font">United States</td>-->
      <!--</tr>-->
      <tr>
        <td class="font">Token</td>
        <td class="bold font">
          <span>
            <% if source == "payeezy" || source == "Payeezy" %>
              <%= card.payeezy if card.present? %>
            <% elsif source == "stripe" || source == "Stripe" %>
              <%= card.stripe if card.present? %>
            <% elsif source == "bridge_pay" || source == "Bridge Pay" %>
                <%= card.bridge_pay if card.present? %>
            <% elsif source == TypesEnumLib::GatewayType::ICanPay || source == TypesEnumLib::GatewayType::ICanPay.humanize %>
                <%= card.i_can_pay if card.present? %>
            <% elsif source == "converge" || source == "Elavon" || source == "Converge" || source == "elavon" %>
                <%= card.elavon if card.present? %>
            <% end %>
          </span>
        </td>
      </tr>
      <tr>
        <td class="font">CVC check</td>
        <td class="bold font">Passed <i class="fa fa-check-circle"></i></td>
      </tr>
      <!--<tr>-->
        <!--<td class="font">Auth code</td>-->
        <!--<td class="bold font">A4Hg3</td>-->
      <!--</tr>-->
    </table>
  </div>
</div>