<%= stylesheet_link_tag asset_path("admins/shared_css"), media: 'all', 'data-turbolinks-track' => 'reload' %>
<head>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js" integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU="crossorigin="anonymous"></script>
</head>
<% transaction_info = @transaction_info %>
<% l = @l %>
<% m = @m %>
<% u = @u %>
<div id="DetailDeclineModal" class="modal fade right" role="dialog">
  <div class="modal-dialog width50per">
    <!-- Modal content-->
    <% transaction_info = @transaction_info %>
    
    <div class="modal-content">
      <div class="modal-header decline_header">
<!--        <button type="button" class="close" data-dismiss="modal" >&times;</button>-->
        <h5 class="modal-title capitalize text-left f_left" >Transaction Detail</h5>
        <h5 class="h5_tamount">Total Amount: <%= transaction_info.try(:[],"amount").present? ? number_with_precision(number_to_currency(transaction_info.try(:[],"amount").to_f), precision: 2) : "$0.00" %></h5>
      </div>
      <div class="modal-body">
        <div class="">
          <div class="row">
            <div class="col-md-6">
            </div>
            <div class="col-md-6">
            </div>
          </div>
          <div class="row">
            <div class="col-md-12 dec1">
              <div class="col-xs-12 col-lg-12 dec2">
                <div class="col-sm-6 col-lg-6 dec3">
                  Declined
                </div>
              </div>
            </div>
                <div class="col-md-12 md12s" >
                  <div class="row rowsh" >
                    <div class="col-md-12">
                      <% d = @d %>
                      <% if d.sender.present? %>
                      <div class="col-md-6 padding_10">
                        <span class="cust_info"> Customer Information</span></a>
                        <div class="form-group col-md-12 margin">
                          <span class="fw_cblack">Name: </span><%= d.sender.present? ? "#{d.sender.first_name} #{d.sender.last_name}" : "" %>
                        </div>
                        <div class="form-group col-md-12 margin">
                          <span class="fw_cblack">Phone Number: </span><%= d.sender.present? ? number_to_phone(d.sender.phone_number, area_code: true) : "" %>
                        </div>
                        <div class="form-group col-md-12 margin">
                          <span class="fw_cblack">Email: </span>
                          <a class="link_color" href="mailto:<%= d.sender.present? ? d.sender.email : "" %>" target="_top"><%= d.sender.present? ? d.sender.email : "" %></a>
                        </div>
                        <div class="form-group col-md-12 margin">
                          <span class="fw_cblack">Wallet ID: </span>
                          <% sender_wall_id = d.try(:sender_wallet_id).present? ? d.sender_wallet_id : "" %>
                          <% unless sender_wall_id.to_s.downcase == "credit" %>
                            <% unless sender_wall_id.blank? %>
                              <%= link_to( sender_wall_id, user_transactions_path(Wallet.find(sender_wall_id).slug), class: "wallet_link") %>
                            <% end %>
                          <% else %>
                            Credit
                          <% end %>
                        </div>
                      </div>
                          <% end %>
                      <!--Card Details-->
                      <div class="col-md-6 padding_10">
                        <span class="cust_info"> Card Details</span></a>
                        <% card = d.try(:card) %>

                        <div class="form-group col-md-12 margin">
                          <span class="fw_cblack">Gateway: </span>
                          <%= d.try(:payment_gateway).try(:name).present? ? d.try(:payment_gateway).try(:name).try(:humanize) : "" %>
                        </div>
                        <div class="form-group col-md-12 margin">
                          <span class="fw_cblack">Card Number: </span>
                          <% if d.last4.present? && d.first6.present?  %>
                            <%= d.first6 %>*****<%= d.last4 %>
                          <% end %>
                        </div>
                        <div class="form-group col-md-12 margin">
                          <span class="fw_cblack">Expire Date: </span><%= card.present? ? card.exp_date : ""  %>
                        </div>
                        <div class="form-group col-md-12 margin">
                          <span class="fw_cblack">Type: </span><%= card.present? ? card.brand : ""  %>
                        </div>
                        <div class="form-group col-md-12 margin">
                          <span class="fw_cblack">CVC Check <small><b>passed</b>:</small> </span><span class="fa fa-check-circle" ></span>
                        </div>
                        <div class="form-group col-md-12 margin">
                          <span class="fw_cblack">Origin: </span>
                          <% if d.first6.present? %>
                            <% card_info = get_card_info(d.first6.to_i) %>
                              <% if card_info["country"].present? %>
                              <%= card_info["country"]["name"].present? ? card_info["country"]["name"] : "" %>
                              <%= card_info["country"]["emoji"].present? ? card_info["country"]["emoji"] : "" %>
                              <% end %>
                          <% end %>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
            <!--  Customer Details -->
                  <div class="col-md-12 md12shi mt10">
                    <div class="row row rowsh">
                      <div class="col-md-12">
                      <div class="col-md-6 padding_10">
                        <span class="cust_info"> Transaction Detail</span></a>
                        <% l = OpenStruct.new(l) %>
                        <% m = OpenStruct.new(m) %>
                        <% location = Location.find_by(id: l.id) if l.try(:[], "id").present? %>
                        <% location = Location.find_by(email: l.email) if location.blank? && l.email.present? %>
                        <% wallet = location.try(:wallets).try(:primary).try(:first) if location.present? %>
                        <div class="form-group col-md-12 margin">
                          <span class="fw_cblack">Location Name: </span> <%= l.present? ? l.business_name : ""	 %>
                        </div>
                        <div class="form-group col-md-12 margin">
                          <span class="fw_cblack">Amount: </span> <%= d.amount.present? ? number_with_precision(number_to_currency(d.amount.to_f), precision: 2) : "$0.00" %>
                        </div>
                        <div class="form-group col-md-12 margin">
                          <span class="fw_cblack">Fee: </span> <%=	d.fee.present? ?  number_with_precision(number_to_currency(d.fee.to_f), precision: 2) : "$0.00" %>
                        </div>
                        <div class="form-group col-md-12 margin">
                          <span class="fw_cblack">Reserve: </span> <%=	d.reserve_money.present? ?  number_with_precision(number_to_currency(d.reserve_money.to_f), precision: 2) : "$0.00" %>
                        </div>
                        <div class="form-group col-md-12 margin">
                          <span class="fw_cblack">Net: </span><%=	d.net_amount.present? ?  number_with_precision(number_to_currency(d.net_amount.to_f), precision: 2) : "$0.00" %>
                        </div>
                      </div>
                        <div class="col-md-6 padding_10" >
                          <div class="form-group col-md-12 margin">
                            <span class="fw_cblack">URL Address: </span><%= transaction_info["request_url"].present? ? transaction_info["request_url"] : "" %>
                          </div>
                          <div class="form-group col-md-12 margin">
                            <span class="fw_cblack">QC Risk evaluation: </span><span class="normalcssqc">Normal</span>
                          </div>
                          <div class="form-group col-md-12 margin">
                            <span class="fw_cblack">Transaction IP: </span><%= transaction_info["ip"].present? ? transaction_info["ip"] : ""%>
                          </div>
                        </div>



                      </div>
                    </div>
                  </div>

            <div class="col-md-12 md12shi">
              <div class="row row2">
                <div class="col-md-12">
                  <!--Merchant Details-->
                  <div class="col-md-6 padding_10">
                    <span class="cust_info"> Merchant Information</span></a>
                    <% merchant = User.find_by(id: m.id) if m.try(:[], "id").present? %>
                    <% merchant = User.find_by(phone_number: m.phone_number) if merchant.blank? && m.phone_number.present? %>

                    <div class="form-group col-md-12 margin">
                      <span class="fw_cblack">Name: </span><%= m.present? ? m.name : "" %>
                    </div>
                    <div class="form-group col-md-12  margin">
                      <span class="fw_cblack">Phone Number: </span><%= m.present? ?  number_to_phone(m.phone_number, area_code: true) : "" %>
                    </div>
                    <div class="form-group col-md-12 margin">
                      <span class="fw_cblack">Email: </span>
                      <a class="link_color" href="mailto:<%= m.present? ? m.email : "" %>" target="_top"><%= m.present? ? m.email : "" %></a>
                    </div>
                    <div class="form-group col-md-12 margin">
                      <span class="fw_cblack">Owner's Name: </span><%= m.present? ? m.owner_name : "" %>
                    </div>
                    <div class="form-group col-md-12 margin">
                      <span class="fw_cblack">Wallet ID: </span>
                      <% unless wallet.blank? %>
                        <%= link_to( wallet.id, user_transactions_path(wallet.slug), class: "wallet_link") %>
                      <% end %>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <% if !current_user.support_mtrac? && !current_user.support_customer? %>
            <div class="col-md-12 md12shi">
              <div class="row rowsh1">
                <% if transaction_info['fee_perc'].present? %>
                <div class="col-md-12">
                  <div class="col-md-6 padding_10">
                    <span class="cust_info"> Fee Splits</span></a>
                    <div class="form-group col-md-12 margin">
                      <div class="row">
                      <div class="form-group col-md-6 margin padding_left_8">
                      <span class="fw_cblack">Gbox: </span>$<%= transaction_info['fee_perc']['gbox']['amount'].present? ? number_with_precision(transaction_info['fee_perc']['gbox']['amount'], :precision => 2, delimiter: ',') : "$0.00" %>
                      </div>
                      <% unless transaction_info['fee_perc']['gbox']['amount']== 0 %>
                      <div class="form-group col-md-6 margin">
                        <%= link_to 'wallet',user_transactions_path(Wallet.find(transaction_info['fee_perc']['gbox']['wallet']).slug) , class: "blue-color" %>
                      </div>
                        <% end %>
                      </div>
                    <div class="row">
                      <div class="form-group col-md-6 margin padding_left_8">
                      <span class="fw_cblack">ISO: </span>$<%= transaction_info['fee_perc']['iso']['amount'].present? ?  number_with_precision(transaction_info['fee_perc']['iso']['amount'], :precision => 2, delimiter: ',') : "$0.00" %>
                      </div>
                      <% unless transaction_info['fee_perc']['iso']['amount']== 0 %>
                        <div class="form-group col-md-6 margin">
                          <% user_wallet = Wallet.find(transaction_info['fee_perc']['iso']['wallet']) %>
                          <%  if user_wallet.present?
                                  actual_user = user_wallet.users.first %>
                              <%= link_to 'wallet',profile_isos_path(format: actual_user.try(:slug),iso_id: actual_user.try(:id)), class: 'blue-color' %>
                                 <%  end %>
                        </div>
                      <% end %>
                    </div>
                    <div class="row">
                      <div class="form-group col-md-6 margin padding_left_8">
                      <span class="fw_cblack">Agent: </span>$<%= transaction_info['fee_perc']['agent']['amount'].present? ?  number_with_precision(transaction_info['fee_perc']['agent']['amount'], :precision => 2, delimiter: ',') : "$0.00" %>
                      </div>
                      <% unless transaction_info['fee_perc']['agent']['amount']== 0 %>
                        <div class="form-group col-md-6 margin">
                          <% user_wallet = Wallet.find(transaction_info['fee_perc']['agent']['wallet']) %>
                          <%  if user_wallet.present?
                                actual_user = user_wallet.users.first %>
                            <%= link_to 'wallet',profile_isos_path(format: actual_user.try(:slug),iso_id: actual_user.try(:id)), class: 'blue-color' %>
                          <%  end %>
                        </div>
                      <% end %>
                    </div>
                    <div class="row">
                      <div class="form-group col-md-6 margin padding_left_8">
                      <span class="fw_cblack">Affliliate: </span>$<%= transaction_info['fee_perc']['affiliate']['amount'].present? ?  number_with_precision(transaction_info['fee_perc']['affiliate']['amount'], :precision => 2, delimiter: ',') : "$0.00" %>
                      </div>
                      <% unless transaction_info['fee_perc']['affiliate']['amount']== 0 %>
                        <div class="form-group col-md-6 margin">
                          <% if transaction_info['fee_perc']['affiliate']['wallet'].present? %>
                            <% user_wallet = Wallet.find(transaction_info['fee_perc']['affiliate']['wallet']) %>
                            <%  if user_wallet.present?
                                  actual_user = user_wallet.users.first %>
                              <%= link_to 'wallet',profile_isos_path(format: actual_user.try(:slug),iso_id: actual_user.try(:id)), class: 'blue-color' %>
                            <%  end %>
                          <% end %>
                        </div>
                      <% end %>
                    </div>
                  </div>
                </div>
              </div>
                  <% else %>
                  <div class="col-md-12">
                    <div class="col-md-6">
                      <span class="cust_info"> Fee Splits</span></a>

                      <div class="form-group col-md-12 margin padding_left0" >
                        <div class="form-group col-md-6 margin" >
                          <span class="fw_cblack">Gbox: </span>$0.00
                        </div>
                        <div class="col-lg-6">
                          <!--                        <%#= link_to 'wallet',qc_wallet.present? ? user_transactions_path(qc_wallet.slug) : '', class: "blue-color" %></div>-->
                        </div>
                        <div class="form-group col-md-12  margin">
                          <span class="fw_cblack">ISO: </span>$0.00
                        </div>
                        <div class="form-group col-md-12  margin">
                          <span class="fw_cblack">ISO: </span>$0.00
                        </div>
                        <div class="form-group col-md-12  margin">
                          <span class="fw_cblack">Affliliate: </span>$0.00
                        </div>
                      </div>
                    </div>
                  </div>
                  <% end %>
            </div>
            </div>
            <% end %>

            <div class="col-md-12 md12shi">
              <div class="row row_css">
                <div class="col-md-12">
                        <span class="dec_reason"> Decline Reason</span></a>

                        <div class="form-group col-md-12 margin padding_left24">
                          <span class="color_red" class="fa fa-bank">
                            <span class="color_grey">
                           <% if transaction_info.present? %>
                            <% if transaction_info["message"].present? %>
                             <%= transaction_info["message"] %>
                            <% elsif @activity.try(:[],'respond_with').present? %>
                             <% decline_reason=@activity.respond_with.class == String ? JSON.parse(@activity.respond_with) : @activity.respond_with %>
                             <%= decline_reason.try(:[],'message').present? ? decline_reason.try(:[],'message') : 'Decline From Bank'  %>
                            <% else %>
                              Decline from Bank
                            <% end %>
                           <% end %>
                          </span>
                          </span>
                        </div>
                      </div>
                    </div>
                  </div>


        </div>
      </div>
    </div>
  </div>
</div>
</div>