<%= stylesheet_link_tag asset_path("admins/shared_css"), media: 'all', 'data-turbolinks-track' => 'reload' %>
<div id="disputeCaseModalAdmin" class="modal fade" role="dialog2">
  <div class="modal-dialog2 width90per">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header mdl_header">
        <button type="button" class="close" data-dismiss="modal crs_btn">&times;</button>
        <h4 class="modal-title capitalize dispute-case-st-1"><%#= t["type"] %> <%#= t["ip_address"] %></h4>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-xs-12 col-lg-4 div400">
            <div class="text-center">
              <figure class="margin_top_20">
                <%# if t["source"].present? %>
                  <%# if t["inner_type"].downcase != 'sales_giftcard' %>
                    <!--<a href="<%#= user_transactions_path(Wallet.find(t["source"]).id) %>">-->
                      <%#= image_tag("person.png", class: "img-circle img-responsive", style: "display: block; margin: auto; max-width: 17%;")%>
                    <!--</a>-->
                    <%# elsif t["inner_type"].downcase == 'sales_giftcard' %>
                        <%#= image_tag("person.png", class: "img-circle img-responsive", style: "display: block; margin: auto; max-width: 17%;")%>
                    <%# end %>
                <%# elsif t["destination"].present? %>
                    <%# if t["inner_type"].downcase != 'sales_giftcard' %>
                        <!--<a href="<%#= user_transactions_path(Wallet.find(t["destination"]).id) %>">-->
                          <%#= image_tag("person.png", class: "img-circle img-responsive", style: "display: block; margin: auto; max-width: 17%;")%>
                        <!--</a>-->
                    <%# elsif t["inner_type"].downcase == 'sales_giftcard' %>
                        <%#= image_tag("person.png", class: "img-circle img-responsive", style: "display: block; margin: auto; max-width: 17%;")%>
                    <%# end %>
                <%# end %>
              </figure>
              <%# if t["type"] == "DEPOSIT" || t["type"] == "FEE" %>
                  <!--<h5 class="bold size capitalize"><%#= users[:destination].nil? ? "N/A":users[:destination].name %></h5>-->
                  <!--<p><%#= users[:destination].nil? ? "N/A":users[:destination].phone_number %></p>-->
                  <!--<u><%#= users[:destination].nil? ? "N/A":users[:destination].email %></u>-->
              <%# elsif t["type"] == 'RETIRE' || t["type"] == "TRANSFER" %>
                  <!--<h5 class="bold size capitalize"><%#= users[:source].nil? ? "N/A":users[:source].name %></h5>-->
                  <!--<p><%#= users[:source].nil? ? "N/A":users[:source].phone_number %></p>-->
                  <!--<u><%#= users[:source].nil? ? "N/A":users[:source].email %></u>-->
              <%# end %>
              <br>
              <br>
              <br>
            </div>
            <hr>
            <br>
            <div class="text-left">
              <h5 class="size">Gateway Type: <span class="capitalize"><%#= t["reference"]["source"] if t["reference"]["source"].present? %></span></h5>
              <h5 class="size">Partner Name: <span class="capitalize"><%#= t["fee_perc"]["partner_name"] if t["fee_perc"].present? %></span></h5>
              <h5 class="size">Location Name: <span class="capitalize"><%#= t["location"]["business_name"] if t["location"].present? %> </span></h5>
              <h5 class="size">Merchant Name: <span class="capitalize"><%#= t["merchant"]["name"] if t["merchant"].present? %></span></h5>
              <br>
              <br>
              <strong>FEES:</strong>
              <span  class="font block_margin">Gbox: <%#= number_to_currency(calculate_fees(t["reference"]["fee"],t["fee_perc"])) if t["reference"].present? && t["reference"]["fee"].to_f > 0 and t["fee_perc"].present? %>
                <%# if  t["reference"]["fee"].present? && t["reference"]["fee"].to_f > 0 %>
                    <span class="pull-right"><%#= link_to 'wallet',qc_wallet.present? ? user_transactions_path(qc_wallet.slug) : '', class: "blue-color" %></span>
                <%# end %>
              </span>
              <hr>
              <span id="fees" class="font">
                Partner: <%#= number_to_currency(t["partner_fee"].to_f) if  t["partner_fee"].present? %>
                <%# if  t["fee_perc"].present? && (t["partner_fee"].present? || t["fee_perc"]["partner_email"].present?) %>
                  <span class="pull-right"><%#= link_to 'wallet',users[:partner].present? ? user_transactions_path(users[:partner].slug) : '', class: "blue-color" %></span>
                <%# end %>
              </span>
              <hr>
              <span id="fees" class="font">
                ISO: <span class="capitalize"><%#= t["fee_perc"]["iso_name"] if  t["fee_perc"].present? %></span>: <%#= number_to_currency(t["iso_fee"].to_f) if  t["iso_fee"].present? %>
                <%# if  t["fee_perc"].present? && (t["iso_fee"].present? || t["fee_perc"]["iso_email"].present?) %>
                  <span class="pull-right"><%#= link_to 'wallet',users[:iso].present? ? user_transactions_path(users[:iso].slug) : '', class: "blue-color" %></span>
                <%# end %>
              </span>
              <hr>
              <span class="font lg4k block_margin">
                Agent: <span class="capitalize"><%#= t["fee_perc"]["agent_name"] if  t["fee_perc"].present? %></span>: <%#= number_to_currency(t["agent_fee"].to_f) if  t["agent_fee"].present? %>
                <%# if  t["fee_perc"].present? && (t["agent_fee"].present? || t["fee_perc"]["agent_email"].present?) %>
                  <span class="pull-right"><%#= link_to 'wallet',users[:agent].present? ? user_transactions_path(users[:agent].slug) : '', class: "blue-color" %></span>
                <%# end %>
              </span>
              <hr>
              <br>
            </div>
          </div>
                <div class="col-xs-12 col-lg-7 xs hidden-xs div401"  >
                  <div class="row dispute-case-st-2">
                    <div class="col-sm-6 col-lg-6">
                      <h3 class="text-left" id="fee_left"><%#= number_with_precision(number_to_currency(t["amount"]), precision: 2) %></h3>
                    </div>
                    <div class="col-sm-6 col-lg-6">
                      <%#= link_to transaction_details_pdf_admins_path(transaction: t), :style => "color: white;", target: :_blank do %>
                        <span class="pull-right custm-icon"><i class="fa fa-print"></i> </span>
                      <%# end %>
                  </div>
                  </div>
                  <div class="row">
                    <div class="col-sm-6 col-lg-4">
                      <h5 class="bold details" id="bolddetails">Details</h5>
                    </div>
                  <!--    <div class="col-sm-6 col-lg-8" style="text-align: right;margin-top: 14px;">
                <span class="ok-circle" style=" color: #50ae55;">
                  <span style=" color: black;">
                  <i class="fa fa-check-circle"></i>Payment Succeeded <span class="modalTime"><%#= t["timestamp"]  %></span>
                  </span>
                </span>
              </div> -->
                    <div class="col-sm-6 col-lg-8" id="col68">
                      <span class="ok-circle" id="okcircle">
                        <i class="fa fa-check-circle"></i>Payment Succeeded <span class="modalTime"><%#= t["timestamp"]  %></span>
                    </span>
                  </div>
                  </div>
                  <hr class="hd">
                  <div class="row">
                    <div class="col-lg-6">
                <table class="table-condensed">
                  <div class="col-lg-6" id="col6">
                    <h5 class="text-uppercase bold font" id="black">Payment detail</h5>
                  </div>
                  <tr>
                    <td class="font">Wallet ID</td>
                    <%# if t["type"].downcase == 'transfer' or t["type"].downcase == 'deposit'%>
                        <td class="bold font"><%#= t['destination'].present? ? t['destination'] : '' %></td>
                    <%# else %>
                        <td class="bold font"><%#= t['source_id'].present? ? t['source_id'] : '' %></td>
                    <%# end %>
                  </tr>
                  <tr>
                    <td class="  font">Amount</td>
                    <td class="bold font"><%#= number_to_currency(number_with_precision(t["amount_updated"], precision: 2)) %>
                    </td>
                  </tr>
                  <tr>
                    <td class="  font">Fee</td>
                    <td class="bold font"><%#= number_to_currency(number_with_precision(t["fee"], precision: 2)) %></td>
                  </tr>
                  <tr>
                    <td class="  font">Reserve Money</td>
                    <td class="bold font"><%#= t["fee_perc"].present? ? t["fee_perc"]["hold_money"].nil? ? "$0.00" : number_to_currency(t["fee_perc"]["hold_money"]) : "$0.00" %></td>
                  </tr>
                  <tr>
                    <td class="  font">Net</td>
                    <td class="bold font"><%#= number_to_currency(number_with_precision(t["net"], precision: 2)) %></td>
                  </tr>
                </table>
                    </div>
                    <div class="col-lg-6">
                      <table class="table-condensed">
<!--                         <caption class="text-uppercase" style=" visibility: hidden">
                        payment detail
                        </caption>
 -->                        <!-- <tr>
                          <td class="font">Created</td>
                        </tr>
                        <tr>
                          <td class="font">Email</td>
                        </tr> -->
                        <tr>
                    <td class="font">QC risk evaluation: &nbsp; <span class="bold">Normal</span></td>
                  </tr>
                       <!--  <tr>
                          <td class="font">QC risk evaluation:</td>
                          <td style="padding-left: 40px;" class="bold font">Normal</td>
                        </tr> -->
                      </table>
                    </div>
                  </div>
                  <!--card info goes here-->
                  <%# if t["last4"].present? && card.present? %>
                  <hr class="hd">
                    <%#= render partial: 'admins/shared/card_info', locals: {card: card, source: t["reference"]["source"]} %>
                  <%# end %>
                  <%# if @activity.present? and not @activity.nil?%>
              <%# if @type.present? and not @type.nil? and @type == 'approve_request' %>
                  <hr class="hr">
                    <div class="row">
                      <div class="col-lg-12">
                        <h5 class="bold font">Events</h5>
                        <div class="">
                          <div class="col-lg-12">
                            <div class="" >
                              <!--<div class="col-sm-3 col-lg-2 bg"> <span class="bold font"><%##=@activity.note %></span> </div>-->
                              <div class="col-sm-8 col-lg-8 "><span class="bold font">Card added successfully</span> </div>
                            </div>
                          </div>
                          <div class="col-lg-12">
                            <div class="" >
                              <div class="col-sm-3 col-lg-5 "> <span class="bold font">Amount Desposited</span> </div>
                              <div class="col-sm-8 col-lg-7 "> <span class="bold font">$ <%#=@amount.nil? ? 'N/A' : @amount %></span> </div>
                            </div>
                          </div>
                          <div class="col-lg-12">
                            <div class="" >
                              <div class="col-sm-3 col-lg-5 "> <span class="bold font">Time</span> </div>
                              <div class="col-sm-8 col-lg-7 "> <span class="bold font">$ <%#=@timestamp.nil? ? 'N/A' : @timestamp %></span> </div>
                            </div>
                          </div>
                          <div class="col-lg-12">
                            <div class="" >
                              <div class="col-sm-3 col-lg-5 "> <span class="bold font">Merchant</span> </div>
                              <div class="col-sm-8 col-lg-7 "> <span class="bold font"><%#=@merchant.nil? ? 'N/A' : @merchant %></span> </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
               <%# else %>
                <hr class="hr">
                  <div class="row">
                    <div class="col-lg-12">
                      <h5 class="bold font">Events</h5>

                            <div class="col-md-12">
                              <!--<div class="col-lg-12">-->
                                <!--<div class="col-md-12" >-->
                                  <div class="col-sm-12 col-lg-12 bg" id="colbg12"> <span class="bold font"><%#=@activity.note %> <span class="modalTime"><%#= t["timestamp"]  %></span></span> </div>
                                  <!--<div class="col-sm-3 col-lg-2 bg2"> <span class="bold font">2018/07/30</span> </div>-->
                                <!--</div>-->
                              <!--</div>-->
                            </div>

                    </div>
                </div>
               <%# end %>
            <%# end %>
                  <!-- <hr> -->
                  <div class="row">
                    <div class="col-sm-6 col-lg-6">
                      <!-- <button type="button" class="btn btn-success" style="    padding: 8px 21px;margin-bottom: 20px; border-radius: 5px;">Send receipt</button> -->
                    </div>
                    <div class="col-sm-6 col-lg-6">
                      <%= link_to "Dispute", dispute_case_admins_disputes_path(transaction: nil),remote: true, class: "btn btn-danger pull-right lg-pad", id: "dispute"%>
                    </div>
                  </div>
                </div>
            <!--<div class="row">-->
              <!--<div class="col-lg-12">-->
                <!--<h5 class="bold font">Events</h5>-->
                <!--<br>-->
                <!--<div class="row">-->
                  <!--<div class="col-lg-12">-->
                    <!--<div class="row" >-->
                      <!--<div class="col-sm-6 col-lg-7 bg"> <span class="bold font">jorden.haynes@csu.fullerton.edu was changed $100.00 USD</span> </div>-->
                      <!--<div class="col-sm-3 col-lg-2 bg2"> <span class="bold font">2018/07/30</span> </div>-->
                    <!--</div>-->
                  <!--</div>-->
                  <!--<br>-->
                  <!--<br>-->
                  <!--<br>-->
                  <!--<div class="col-lg-12">-->
                    <!--<div class="row">-->
                      <!--<div class="col-sm-6 col-lg-7 bg"> <span class="bold font">jorden.haynes@csu.fullerton.edu was changed $100.00 USD</span> </div>-->
                      <!--<div class="col-sm-3 col-lg-2 bg2"> <span class="bold font">2018/07/30</span> </div>-->
                    <!--</div>-->
                  <!--</div>-->
                  <!--<br>-->
                  <!--<br>-->
                  <!--<br>-->
                  <!--<div class="col-lg-12">-->
                    <!--<div class="row" >-->
                      <!--<div class="col-sm-6 col-lg-7 bg"> <span class="bold font">jorden.haynes@csu.fullerton.edu was changed $100.00 USD</span> </div>-->
                      <!--<div class="col-sm-3 col-lg-2 bg2"> <span class="bold font">2018/07/30</span> </div>-->
                    <!--</div>-->
                  <!--</div>-->
                  <!--<br>-->
                  <!--<br>-->
                  <!--<br>-->
                <!--</div>-->
              <!--</div>-->
            <!--</div>-->
          </div>
          <!-- For mobile -->
          <!--<div class="col-xs-12 visible-xs"  style="box-shadow: 0px 1px 3px 1px #dbdbdb;border-radius: 5px;">-->
            <!--<div class="row" style="background-color: #50ae55; color: white">-->
              <!--<div class="col-xs-6 col-lg-6">-->
                <!--<h3 class="text-left" style="margin-bottom: 20px;">$100</h3>-->
              <!--</div>-->
              <!--<div class=" col-xs-6 col-lg-6"> <span class="glyphicon glyphicon-print pull-right custm-icon" ></span></div>-->
            <!--</div>-->
            <!--<div class="row">-->
              <!--<div class="col-xs-12 col-lg-4">-->
                <!--<h5 class="bold" style="margin-top: 15px; margin-bottom: 15px;">Details</h5>-->
              <!--</div>-->
              <!--<div class="col-xs-12 col-lg-8"><span class="glyphicon glyphicon-ok-circle" style=" color: #50ae55;"> <span style=" color: black;">Payment Succeeded Jul 30, 4:39PM</span></span></div>-->
            <!--</div>-->
            <!--<hr style="margin: 0px;">-->
            <!--<div class="row">-->
              <!--<div class="col-lg-6">-->
                <!--<table class="table-condensed">-->
                  <!--<caption class="text-uppercase bold font" style="color: black">-->
                    <!--payment detail-->
                  <!--</caption>-->
                  <!--<tr>-->
                    <!--<td class="  font">Wallet ID</td>-->
                  <!--</tr>-->
                  <!--<tr>-->
                    <!--<td class="  font">Amount</td>-->
                    <!--<td class="bold font">$103.00</td>-->
                  <!--</tr>-->
                  <!--<tr>-->
                    <!--<td class="  font">Fee</td>-->
                    <!--<td class="bold font">$103.00</td>-->
                  <!--</tr>-->
                  <!--<tr>-->
                    <!--<td class="  font">Net</td>-->
                    <!--<td class="bold font">$103.00</td>-->
                  <!--</tr>-->
                <!--</table>-->
              <!--</div>-->
              <!--<div class="col-lg-6">-->
                <!--<table class="table-condensed">-->
                  <!--<caption class="text-uppercase" style=" visibility: hidden">-->
                    <!--payment detail-->
                  <!--</caption>-->
                  <!--<tr>-->
                    <!--<td class="font">Created</td>-->
                  <!--</tr>-->
                  <!--<tr>-->
                    <!--<td class="font">Email</td>-->
                  <!--</tr>-->
                  <!--<tr>-->
                    <!--<td class="font">QC risk evaluation:</td>-->
                    <!--<td style="padding-left: 40px;" class="bold font">Normal</td>-->
                  <!--</tr>-->
                <!--</table>-->
              <!--</div>-->
            <!--</div>-->
            <!--<hr style="margin: 0px;">-->
            <!--<div class="row">-->
              <!--<div class="col-xs-6 col-lg-6">-->
                <!--<h5 class="bold font">CARD INFORMATION</h5>-->
              <!--</div>-->
              <!--<div class="col-xs-6 col-lg-6"> <img src="visa.png" class="img-responsive pull-right"> </div>-->
            <!--</div>-->
            <!--<div class="row">-->
              <!--<div class="col-lg-6">-->
                <!--<table class="table-condensed">-->
                  <!--<tr>-->
                    <!--<td class="  font">ID</td>-->
                    <!--<td class="bold font">39ee58</td>-->
                  <!--</tr>-->
                  <!--<tr>-->
                    <!--<td class="  font">Name</td>-->
                    <!--<td class="bold font">John Smith</td>-->
                  <!--</tr>-->
                  <!--<tr>-->
                    <!--<td class="  font">Number</td>-->
                    <!--<td class="bold font">XXXX123</td>-->
                  <!--</tr>-->
                  <!--<tr>-->
                    <!--<td class="  font">Expires</td>-->
                    <!--<td class="bold font">12/12</td>-->
                  <!--</tr>-->
                  <!--<tr>-->
                    <!--<td class="  font">Type</td>-->
                    <!--<td class="bold font">Visa debit card</td>-->
                  <!--</tr>-->
                <!--</table>-->
              <!--</div>-->
              <!--<div class="col-lg-6">-->
                <!--<table class="table-condensed">-->
                  <!--<tr>-->
                    <!--<td>Billing Address</td>-->
                  <!--</tr>-->
                  <!--<tr>-->
                    <!--<td class="  font">Origin</td>-->
                    <!--<td class="bold font">United States</td>-->
                  <!--</tr>-->
                  <!--<tr>-->
                    <!--<td class="  font">Token</td>-->
                    <!--<td class="bold font"><span>1C1CHBF_enPK807PK807&oq</span></td>-->
                  <!--</tr>-->
                  <!--<tr>-->
                    <!--<td class="font">CVC check</td>-->
                    <!--<td class="bold font">Passed <span class="glyphicon glyphicon-ok-circle" style="padding: 0px ;color: #50ae55;"></span></td>-->
                  <!--</tr>-->
                  <!--<tr>-->
                    <!--<td class="font">Auth code</td>-->
                    <!--<td class="bold font">A4Hg3</td>-->
                  <!--</tr>-->
                <!--</table>-->
              <!--</div>-->
            <!--</div>-->
            <!--<hr style="margin-top: 0px;">-->
            <!--<div class="row">-->
              <!--<div class="col-lg-12">-->
                <!--<h5 class="bold font">Events</h5>-->
                <!--<br>-->
                <!--<div class="row">-->
                  <!--<div class="col-lg-12">-->
                    <!--<div class="row" >-->
                      <!--<div class="col-xs-12 col-lg-7 bg"> <span class="bold font">jorden.haynes@csu.fullerton.edu was changed $100.00 USD</span> </div>-->
                      <!--<div class="col-xs-12 col-lg-2 bg2"> <span class="bold font">2018/07/30</span> </div>-->
                    <!--</div>-->
                  <!--</div>-->
                  <!--<br>-->
                  <!--<br>-->
                  <!--<br>-->
                  <!--<div class="col-lg-12">-->
                    <!--<div class="row">-->
                      <!--<div class="col-lg-7 bg"> <span class="bold font">jorden.haynes@csu.fullerton.edu was changed $100.00 USD</span> </div>-->
                      <!--<div class="col-lg-2 bg2"> <span class="bold font">2018/07/30</span> </div>-->
                    <!--</div>-->
                  <!--</div>-->
                  <!--<br>-->
                  <!--<br>-->
                  <!--<br>-->
                  <!--<div class="col-lg-12">-->
                    <!--<div class="row" >-->
                      <!--<div class="col-lg-7 bg"> <span class="bold font">jorden.haynes@csu.fullerton.edu was changed $100.00 USD</span> </div>-->
                      <!--<div class="col-lg-2 bg2"> <span class="bold font">2018/07/30</span> </div>-->
                    <!--</div>-->
                  <!--</div>-->
                  <!--<br>-->
                  <!--<br>-->
                  <!--<br>-->
                <!--</div>-->
              <!--</div>-->
            <!--</div>-->
            <!--<hr>-->
            <!--<div class="row">-->
              <!--<div class="col-xs-6 col-lg-6">-->
                <!--<button type="button" class="btn btn-success" style="    padding: 8px 21px;margin-bottom: 20px; border-radius: 0px;">Send receipt</button>-->
              <!--</div>-->
              <!--<div class="col-xs-6 col-lg-6">-->
                <!--<button type="button" class="btn btn-danger pull-right" style="    padding: 8px 21px;margin-bottom: 20px;border-radius: 0px;">Dispute</button>-->
              <!--</div>-->
              <!--<br>-->
              <!--<br>-->
            <!--</div>-->
          <!--</div>-->
        </div>
      </div>
    </div>
  </div>
</div>
<script>
  $('.modalTime').each(function (i,v) {
      var gmtDateTime = moment.utc(v.innerText, 'YYYY-MM-DD HH:mm:ss');
      var local = moment(gmtDateTime).local().format('MM-DD-YYYY hh:mm:ss A');
      v.innerText = local;
  });

</script>
