<%= stylesheet_link_tag asset_path("admins/shared/export_modal"), media: 'all', 'data-turbolinks-track' => 'reload' %>

<div class="modal fade" id="exportModalDialog">
  <div class="modal-dialog width-500-px-admin-export-modal">
    <div class="modal-content width-500-px-admin-export-modal">
      <!-- Modal Header -->
      <div class="modal-header text-left bg-primary1 text-white">
        <% if @merchant_export %>
          <h4 class="modal-title float-left-admin-export-modal"><span class="ml-2" id="transaction_heading_2">Export Merchant</span></h4>
        <% elsif @location_export %>
          <h4 class="modal-title float-left-admin-export-modal"><span class="ml-2" id="transaction_heading_2">Export Location</span></h4>
        <% else %>
          <h4 class="modal-title float-left-admin-export-modal"><span class="ml-2 display-none-admin-export-modal" id="transaction_heading_2" >Export</span> <span class="ml-2" id="transaction_heading">Export Transactions</span></h4>
        <% end %>
        <button type="button" class="close" data-dismiss="modal" id="export_close1">×</button>
      </div>
      <!-- Modal body -->
      <div class="modal-body admin-styles-export_modal background-whitesmoke-admin-export-modal margin-bottom-n-16-px-admin-export-modal">
        <div class="card margin-bottom-n-16-px-admin-export-modal">
          <div class="card-body">
            <div class="background-whitesmoke-admin-export-modal" id="body_1">
              <div class="row margin-bottom-n-16-px-admin-export-modal">
                <div class="form-group col-md-8">
                  <label for="daterange" class="font-size-16-admin-export-modal">Date range</label>
                  <input type='text' name="query[date]" id="exportDate" class="form-control expot"  autocomplete="off"/>
                  <input type="hidden" name="query[type]" value="" id="hidden_id">
                  <input type="hidden" name="query[subtype]" value="" id="subtype">
                  <input type="hidden" name="query[wallet]" value="" id="hidden_wallet_id">
                  <input type="hidden" name="query[send_via]" value="" id="hidden_send_via">
                  <input type="hidden" name="qc_file" value="" id="hidden_qc_file">
                  <input type="hidden" name="job_id" value="" id="hidden_job_id">
                  <input type="hidden" name="kill_job" value="true" id="hidden_kill_job">
                  <input type="hidden" name="admin_user_id" value="" id="admin_user_id">
                  <input type="hidden" name="specific_wallet_id" value="" id="specific_wallet_id">
                  <input type="hidden" name="hidden_offset" value="" id="hidden_offset">
                  <input type="hidden" name="cron_job" value="" id="hidden_cron_job">
                  <input type="hidden" name="case" value="" id="case">
                  <input type="hidden" name="search_query" value="" id="search_query">
                </div>
              </div>
              <div class="col-md-12 background-whitesmoke-admin-export-modal" >
                <p class="fa-info-circle-p-admin-export-modal">
                  <b>
                    <i class="fa fa-info-circle"></i> <u>Note:</u> The export function is limited to 90-days of information per export transaction.
                    <br>Please process an additional export transaction should you require more than 90-days of information.
                  </b>
                </p>
              </div>
            </div>
            <div id="body_2" class="display-none-admin-export-modal">
              <input type='hidden' id="exportDateHidden" value="<%= params.try(:[], "q").try(:[], "recieved_date").present? ? params["q"]["recieved_date"] : params.try(:[], "search_query").try(:[], "q").try(:[], "recieved_date")%>" class="form-control"  autocomplete="off"/>
              <input type='hidden' id="fromExportHidden" value="true" class="form-control"  autocomplete="off"/>
              <% if (params["controller"] == "admins/merchants" || params["controller"] == "admins/locations")  &&  params["action"] == "index" %>
                <div><p class="export-print" id="abcccccc"><i class='fa fa-spinner fa-spin'></i>&nbsp; Please wait! Exporting your file. </p></div>
              <%else %>
                <div><p class="export-print export-print-admin-export-modal" id="abcccccc" >
                  Processing data for report export.<br>
                  You will be notified via email once the report is ready.<br>
                  The Report will be available for download in your QuickCard
                  account portal under the "Exported Files" tab.
                </p></div>
              <%end %>



              <%# if @merchant_export %>
<!--                <div><p class="export-print" id="abcccccc"><i class='fa fa-spinner fa-spin'></i>&nbsp;Calculating total Merchants please wait...</p></div>-->
              <%# elsif @location_export %>
<!--                <div><p class="export-print" id="abcccccc"><i class='fa fa-spinner fa-spin'></i>&nbsp;Calculating total Locations please wait...</p></div>-->
              <%# else %>
<!--                <div><p class="export-print" id="abcccccc"><i class='fa fa-spinner fa-spin'></i>&nbsp;Calculating total transactions please wait...</p></div>-->
              <%# end %>
              <div><p class="export-heading font-size-13-admin-export-modal fa-info-circle-p-admin-export-modal"></p></div>
              <div><p class="export-status color-red-admin-export-modal" ></p></div>
            </div>
            <div id="body_3" class="display-none-admin-export-modal">
              <p>We will send an email to <b><%= current_user.email %></b> as soon as your export is ready to download.</p>
            </div>
            <div id="body_message" class="display-none-admin-export-modal">
              <div><p class="export-status"></p></div>
              <div class="col-md-12">
                <h5 id="message_h5">Please Wait!</h5>
                <p id="message_p"><span class="fa fa-spinner fa-pulse"></span> Downloading in process.</p>
                <p id="printcount"></p>
              </div>
            </div>
            <div id="body_done" class="display-none-admin-export-modal">
              <div><p class="export-status"></p></div>
              <div class="col-md-12">
                <h5>Download Completed!</h5>
              </div>
            </div>
            <div id="no_tx" class="display-none-admin-export-modal">
              <div><p class="export-status color-red-admin-export-modal"></p></div>
              <div class="col-md-12">
                <h6>No Transactions Found!</h6>
              </div>
            </div>
            <div id="body_4" class="display-none-admin-export-modal msg-color">
              <p>Your export is ready to download. Please go to Exported Files tab.</p>
<!--              <a href="#" class="btn btn-primary" id="download_link" style="margin-left:175px;">Download</a>-->
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer admin-styles-export_modal background-whitesmoke-admin-export-modal" id="exportModalFooter">
        <button class="btn btn-default close-pading" id="export_close2" data-dismiss="modal">Close</button>
        <button class="btn btn-success display-none-admin-export-modal" id="export_done_btn" data-dismiss="modal" >Done</button>
        <% if params[:query].present? %>
          <a data-toggle="modal" data-trans="<%= params[:trans].present? ? params[:trans] : "success" %>" data-type="admin" data-search-types="<%= params[:query][:type].present? ? params[:query][:type] : nil %>"  data-search-block_id="<%= params[:query][:block_id].present? ? params[:query][:block_id] : nil %>" data-search-firstsix="<%= params[:query][:first6].present? ? params[:query][:first6] : nil %>" data-wallet="<%= Wallet.qc_support.first.try(:id) %>" data-search-gateway="<%= params[:query][:gateway] %>" data-search-date="<%= params[:query][:date] || params[:query][:datie] %>" data-search-last4="<%= params[:query][:last4] %>" data-search-sender="<%= params[:query][:sender] %>" data-search-receiver="<%= params[:query][:receiver] %>" data-search-state="<%= params[:query][:state] %>" data-search-city="<%= params[:query][:city] %>" data-search-time1="<%= params[:query][:time1] %>" data-search-time2="<%= params[:query][:time2] %>"  data-search-price="<%= params[:query][:amount] %>" class="exportReport pull-right" href=""><button type="button" id="admin_export_button" class="btn blue_btn"><i class=""></i> Export</button></a>
        <% else %>
          <button class="btn blue_btn" id="export_btn">Export</button>
        <% end %>
      </div>
    </div>
  </div>
</div>