<div class="modal fade" id="modal-69" tabindex="-1" role="dialog" aria-labelledby="modal-label-69" aria-hidden="true">

  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h6 id="modal-label-69">Identity Card Verification</h6>
      </div>
      <div class="modal-body">

        <div>
          <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12">
              <div>

                <div class="row">
                  <div class="col-sm-12 col-md-12">
                    <h4><%= user.name %></h4>
                    <large><i class="fa fa-phone" aria-hidden="true">
                    </i> <cite title="Phone Number"><%= user.phone_number %></cite></large>
                    <p>
                      <i  class="fa fa-envelope-o" aria-hidden="true"></i>  <%= user.email %>
                      <br />
                      <i  class="fa fa-tasks" aria-hidden="true"></i>
                      <% if user.active_flag == true %>
                          <span class="label label-primary">Active</span>
                      <% else %>
                          <span class="label label-danger">Inactive</span>
                      <% end %>
                      <br />
                      <i class="fa fa-map-marker" aria-hidden="true">  <%= user.postal_address ? user.postal_address : 'N/A' %></i>
                      <br />
                      <i class="fa fa-calendar" aria-hidden="true">  <%= user.created_at.strftime('%D') %></i></p>
                  </div>
                </div>

                <!--<div class="row">-->
                  <!--<div class="col-sm-6 col-md-6 front-img" style="padding-right: 5px">-->
                    <!--<div class="card">-->
                      <!--<div class="card-header">-->
                        <!--<strong>Front Card</strong>-->
                      <!--</div>-->
                      <!--<%#= image_tag 'ava_p.jpg', class: ' img-thumbnail img-responsive' %>-->
                      <!--<img class="img-thumbnail img-responsive" src="<%#= user.front_card_image.url(:medium) %>">-->
                    <!--</div>-->
                  <!--</div>-->

                  <!--<div class="col-sm-6 col-md-6 back-img" style="padding-left: 5px">-->
                    <!--<div class="card">-->
                      <!--<div class="card-header">-->
                        <!--<strong>Back Card</strong>-->
                      <!--</div>-->
                      <!--<%#= image_tag 'dog.png', class: ' img-thumbnail img-responsive' %>-->
                      <!--<img class="img-thumbnail img-responsive" src="<%#= user.back_card_image.url(:medium) %>">-->
                    <!--</div>-->
                  <!--</div>-->
                <!--</div>-->

              </div>
            </div>
          </div>
        </div>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary btn-sm pull-left" data-dismiss="modal">Cancel</button>
        <div class="btn-group dropup" id="float_right">
          <button type="button" class="btn btn-primary btn-sm dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Action</button>
          <div class="dropdown-menu" id="float_right">
            <%= link_to '<i class="fa fa-check"> Active</i>'.html_safe ,active_admins_path(user.id),class:"dropdown-item"  %>
            <div class="dropdown-divider"></div>
            <%= link_to '<i class="fa fa-times"> Inactive</i>'.html_safe ,inactive_admins_path(user.id), class:"dropdown-item" , :data => { :confirm => 'Are you sure you want to Inactive User?'} %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>