
<% if user.wallets.present? %>
<div class="buyrate-tab-container">
  <div class="col-md-12 zero-padding" id="buyrate-labels-container">
    <div class="col-md-12 zero-padding">
      <div class="form-group col-md-6">
        <div class="input-icon icon_inside_input_field">
          <label>Bank Account Type</label>
          <%=	select_tag 'user[system_fee][bank_account_type]', options_for_select(Location.bank_account_types.keys.map {|a| [a.humanize, a] }, user.system_fee.try(:[],'bank_account_type')), include_blank: "Choose",class: "form-control" %>
          <% wallet_id=user.wallets.primary.first.id  if user.wallets.present?%>
          <% img_url=Image.where(location_id: wallet_id).first if wallet_id .present? %>
          <% if img_url.present? %>
      <div class="row" id="img_up">
        <label for="email" class="void-check">Void Check</label>
        <div class="col-md-4" id="col-md-4">
              <%= image_tag img_url.add_image.url,:class=>'product_image', :alt => 'product_image' %>
        </div>
        <div class="col-md-4" id="colmd4">
          <div class="row">
              <span onClick="delete_img('<%= user.wallets.primary.first.id %>');" class="cursor1"><i class="fa fa-close"></i></span>
          </div>
          <div class="row">
            <%= link_to '', img_url.add_image.url, download: img_url.add_image ,class: 'fa fa-download' %>
          </div>
          </div>
        </div>
        <% elsif user.wallets.present? %>
              <div id="choose_img" >
              <label for="email" class="voidcheck">Void Check</label>
                <input type="hidden" name="image[usage_id]" value="<%= user.wallets.primary.first.id %>">
                <input type="hidden" name="image[location_id]" value="<%= user.wallets.primary.first.id %>">
                <input type="file" name="image[add_image]"  class='form-control'  id="image_store file1" onchange="save_image()">
              </div>
          <% end %>
        </div>
      </div>
      <div class="form-group col-md-6">
        <div class="input-icon icon_inside_input_field">
          <label>Bank Name</label>
          <input  class="system_fee form-control"  type="text"  name="user[system_fee][bank_account_name]"  value='<%= user.system_fee.try(:[],'bank_account_name') %>'/>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-12 zero-padding none" id="img_form" >
    <div class="col-md-12 zero-padding">
      <div class="form-group col-md-6">
        <label for="email" id="void-100">Void Check</label>
        <input type="hidden" name="image[usage_id]" value="<%= user.wallets.primary.first.id %>">
        <input type="hidden" name="image[location_id]" value="<%= user.wallets.primary.first.id %>">
        <input type="file" name="image[add_image]"  class='form-control'  id="image_store file1" onchange="save_image()">
      </div>
    </div>
  </div>
  <div class="col-md-12 zero-padding" id="buyrate-labels-container void-padding" >
    <div class="col-md-12 zero-padding">
      <div class="form-group col-md-6">
        <div class="input-icon icon_inside_input_field">
          <label>Bank Routing#</label>
          <input  class="system_fee form-control buyrate_fields"  type="text" id='' name="user[system_fee][bank_routing]" minlength="9" maxlength="9"  data-validate="false" value="<%= user.system_fee.try(:[],'bank_routing').present? ? user.system_fee.try(:[],'bank_routing') : ''  %>"/>
        </div>
      </div>
      <div class="form-group col-md-6">
        <div class="input-icon icon_inside_input_field">
          <label>Bank Account#</label>
          <input   class="form-control buyrate_fields"  type="password" id="password-field" name="user[system_fee][bank_account]" minlength="3" maxlength="24" autocomplete="new-password" value='<%= user.system_fee.try(:[],'bank_account') %>'/>
          <!--<a id="transfer_new" class="btn btn-success" data-toggle="modal" data-target="#transfer_money" style="color: white">New Transfer</a>-->
          <span toggle="#password-field" class="fa fa-fw fa-eye field-icon my-password" onclick="myFunction()"></span></div>
      </div>
    </div>
  </div>
</div>
<% end %>

<h5 id="buyrate-text"><%= system_fee_fields_title %></h5>
<br>
<div class="buyrate-tab-container">
  <div class="col-md-12 zero-padding" id="buyrate-labels-container">
    <div class="col-md-12 zero-padding">
      <div class="form-group col-md-4">
        <label>Gift Card fee</label>
      </div>
      <div class="form-group col-md-4">
        <div class="input-icon icon_inside_input_field">
          <i>$</i>
          <input  placeholder="0.0" class="system_fee form-control buyrate_fields giftcard_fee" onClick="SelectAll('giftcard_fee');" type="number" id="system_fee_giftcard" name="user[system_fee][giftcard_fee]" data-validate="false" value='<%= user.system_fee['giftcard_fee'] %>'/>
        </div>
      </div>

    </div>
    <div class="col-md-12 zero-padding">
      <div class="form-group col-md-4">
        <label>Check Withdraw Limit</label>
      </div>
      <div class="form-group col-md-4">
        <div class="input-icon icon_inside_input_field">
          <i>$</i>
          <input  placeholder="0.0" class="system_fee form-control buyrate_fields check_withdraw_limit" onClick="SelectAll('check_withdraw_limit');" type="number" id="system_fee_check_withdraw_limit" name="user[system_fee][check_withdraw_limit]" data-validate="false" value='<%= user.system_fee.try(:[],'check_withdraw_limit').present? ? user.system_fee.try(:[],'check_withdraw_limit') : '100' %>'/>
        </div>
      </div>

    </div>
    <div class="col-md-12 zero-padding">
      <div class="form-group col-md-4">
        <label>Send Check</label>
      </div>
      <div class="form-group col-md-4">
        <div class="input-icon icon_inside_input_field">
          <i>%</i>
          <input  placeholder="0.0" class="system_fee form-control buyrate_fields redeem_fee" onClick="SelectAll('redeem_fee');" type="number" id="system_fee_redeem_fee" name="user[system_fee][redeem_fee]" data-validate="false" value='<%= user.system_fee['redeem_fee'] %>'/>
        </div>
      </div>
      <div class="form-group col-md-4">
        <div class="input-icon icon_inside_input_field">
          <i>$</i>
          <input  placeholder="0.0" class="system_fee form-control buyrate_fields send_check" onClick="SelectAll('send_check');" type="number" id="system_fee" name="user[system_fee][send_check]" data-validate="false" value='<%= user.system_fee['send_check'] %>'/>
        </div>
      </div>
    </div>
    <div class="col-md-12 zero-padding" >
      <div class="form-group col-md-4">
        <label >Send Check limit</label>
      </div>
      <div class="form-group col-md-4">
        <div class="input-icon icon_inside_input_field">
          <%=	select_tag 'user[system_fee][check_limit_type]', options_for_select(['Transaction', 'Day'],user.system_fee.try(:[],'check_limit_type')), include_blank: "Choose",class: "form-control" %>
        </div>
      </div>
      <div class="form-group col-md-4">
        <div class="input-icon icon_inside_input_field">
          <i>$</i>
          <input  placeholder="0.0" class="system_fee form-control"  type="number"  name="user[system_fee][check_limit]"  value='<%= user.system_fee.try(:[],'check_limit') %>'/>
        </div>
      </div>
    </div>

    <div class="col-md-12 zero-padding">
      <div class="form-group col-md-4">
        <label>ACH</label>
      </div>

      <div class="form-group col-md-4">
        <div class="input-icon icon_inside_input_field">
          <i>%</i>
          <input  placeholder="0.0" class="system_fee form-control buyrate_fields ach_percent" onClick="SelectAll('ach_percent');" type="number" id="system_fee" name="user[system_fee][ach_percent]" data-validate="false" value='<%= user.system_fee['ach_percent'] %>'/>
        </div>
      </div>
      <div class="form-group col-md-4">
        <div class="input-icon icon_inside_input_field">
          <i>$</i>
          <input  placeholder="0.0" class="system_fee form-control buyrate_fields addch_dollar" onClick="SelectAll('ach_dollar');" type="number" id="system_fee" name="user[system_fee][ach_dollar]" data-validate="false" value='<%= user.system_fee['ach_dollar'] %>'/>
        </div>
      </div>

    </div>
    <div class="col-md-12 zero-padding">
      <div class="form-group col-md-4">
        <label>ACH Limit</label>
      </div>

      <div class="form-group col-md-4">
        <div class="input-icon icon_inside_input_field">
          <%=	select_tag 'user[system_fee][ach_limit_type]', options_for_select(['Transaction', 'Day'],user.system_fee.try(:[],'ach_limit_type')), include_blank: "Choose",class: "form-control" %>
        </div>
      </div>
      <div class="form-group col-md-4">
        <div class="input-icon icon_inside_input_field">
          <i>$</i>
          <input  placeholder="0.0" class="system_fee form-control"  type="number"  name="user[system_fee][ach_limit]"  value='<%= user.system_fee.try(:[],'ach_limit') %>'/>
        </div>
      </div>

    </div>
    <div class="col-md-12 zero-padding">
      <div class="form-group col-md-4">
        <label>Push to Card</label>
      </div>
      <div class="form-group col-md-4">
        <div class="input-icon icon_inside_input_field">
          <i>%</i>
          <input  placeholder="0.0" class="system_fee form-control buyrate_fields push_to_card_percent" onClick="SelectAll('push_to_card_percent');" type="number" id="system_fee" name="user[system_fee][push_to_card_percent]" data-validate="false" value='<%= user.system_fee['push_to_card_percent'] %>'/>
        </div>
      </div>
      <div class="form-group col-md-4">
        <div class="input-icon icon_inside_input_field">
          <i>$</i>
          <input  placeholder="0.0" class="system_fee form-control buyrate_fields push_to_card_dollar" onClick="SelectAll('push_to_card_dollar');" type="number" id="system_fee" name="user[system_fee][push_to_card_dollar]" data-validate="false" value='<%= user.system_fee['push_to_card_dollar'] %>'/>
        </div>
      </div>
    </div>
    <div class="col-md-12 zero-padding">
      <div class="form-group col-md-4">
        <label>Push To Card Limit</label>
      </div>
      <div class="form-group col-md-4">
        <div class="input-icon icon_inside_input_field">
          <%=	select_tag 'user[system_fee][push_to_card_limit_type]', options_for_select(['Transaction', 'Day'],user.system_fee.try(:[],'push_to_card_limit_type').present? ? user.system_fee.try(:[],'push_to_card_limit_type') : 'Day'), include_blank: "Choose",class: "form-control" %>
        </div>
      </div>
      <div class="form-group col-md-4">
        <div class="input-icon icon_inside_input_field">
          <i>$</i>
          <input  placeholder="0.0" class="system_fee form-control"  type="number"  name="user[system_fee][push_to_card_limit]"  value='<%= user.system_fee.try(:[],'push_to_card_limit').present? ? user.system_fee.try(:[],'push_to_card_limit') : '2000' %>'/>
        </div>
      </div>
    </div>

    <div class="col-md-12 zero-padding">
      <div class="form-group col-md-4">
        <label>Add Money By Check</label>
      </div>
      <div class="form-group col-md-4">
        <div class="input-icon icon_inside_input_field">
          <i>%</i>
          <input  placeholder="0.0" class="system_fee form-control buyrate_fields add_money_percent" onClick="SelectAll('add_money_percent');" type="number" id="system_fee" name="user[system_fee][add_money_percent]" data-validate="false" value='<%= user.system_fee['add_money_percent'] %>'/>
        </div>
      </div>
      <div class="form-group col-md-4">
        <div class="input-icon icon_inside_input_field">
          <i>$</i>
          <input  placeholder="0.0" class="system_fee form-control buyrate_fields add_money_dollar" onClick="SelectAll('add_money_dollar');" type="number" id="system_fee" name="user[system_fee][add_money_dollar]" data-validate="false" value='<%= user.system_fee['add_money_dollar'] %>'/>
        </div>
      </div>
    </div>
    <div class="col-md-12 zero-padding">
      <div class="form-group col-md-4">
        <label>B2B(within system)</label>
      </div>
      <div class="form-group col-md-4">
        <div class="input-icon icon_inside_input_field">
          <i>%</i>
          <input  placeholder="0.0" class="system_fee form-control buyrate_fields b2b_percent" onClick="SelectAll('b2b_percent');" type="number" id="system_fee" name="user[system_fee][b2b_percent]" data-validate="false" value='<%= user.system_fee['b2b_percent'] %>'/>
        </div>
      </div>
      <div class="form-group col-md-4">
        <div class="input-icon icon_inside_input_field">
          <i>$</i>
          <input  placeholder="0.0" class="system_fee form-control buyrate_fields b2b_dollar" onClick="SelectAll('b2b_dollar');" type="number" id="system_fee" name="user[system_fee][b2b_dollar]" data-validate="false" value='<%= user.system_fee['b2b_dollar'] %>'/>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="admin_confirm">
  <div id="modaldialog_a" class="modal-dialog modal-sm">
    <div class="modal-content" id="modaldialog_a">
      <!-- Modal Header -->
      <div class="modal-header text-left" id="modaltext">
        <h4 class="modal-title" id="modal_title"><span class="ml-2">Verify</span></h4>
        <button type="button" class="close" data-dismiss="modal">×</button>
      </div>
      <!-- Modal body -->
      <div class="modal-body" id="card_1">
        <div class="" id="card_1">
          <div class="card-body">
            <div class="row">
              <div class="form-group col-md-offset-2 col-md-8">
                <label for="reason" class="daterange1">Email</label>
                <br>
                <input type="email" value="<%= current_user.email %>" class="form-control" disabled>
              </div>
              <div class="form-group col-md-offset-2 col-md-8">
              <label for="reason" class="daterange1">Password</label>
              <br>
                <input type="password" value="" id="password" class="form-control">
            </div>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer" id="card_1" >
        <div class=" col-md-offset-2 col-md-8">
          <div class="form-group">
            <a class="btn btn-primary btn-sm" id="password_btn void-100" >Verify</a>
            <br>
            <span class="verify" id="info-text" >Please verify yourself!</span>

          </div>
        </div>
        <br>
      </div>
    </div>
  </div>
</div>
<script src="http://malsup.github.com/jquery.form.js"></script>
<script>
    function delete_img(a){
        $.ajax({
            url:  "<%= admins_image_delete_path %>",
            type: 'GET',
            data: {id: a},
            success: function(data) {
                $('#img_up').hide();
                $('#img_form').show();
            },
            error: function(data){
                console.log(data);
            }
        });

    }
    function save_image(id){

        var file = $('#image_store')[0];
        if (file.value == "") {
            alert('Please select a file to upload')
            $("#test_submit").attr("disabled", true);
        } else {
//            $("#test_submit").attr("disabled", false);
            $('#image_upload').val(id);
            var form = $('#image_form_class2');
            var file_size = parseFloat((file.files[0].size / 1024) / 1024).toFixed(2);
            var ext = file.value.split('.').pop().toLowerCase();
            if ($.inArray(ext, ['png', 'jpg', 'jpeg']) == -1) {
                alert("Only 'Png', 'Jpeg', 'JPG' allowed");
            } else {
                if (file_size <= 4) {

                } else {
                    alert('Please select a file less than 4MB')
                }
            }
        }
    }




    function SelectAll(id) {
        $('.'+id).focus();
        $('.'+id).select();
    }
    function myFunction() {
        var x = $("#password-field")
        if (x.attr('type') === "password") {
            $('#admin_confirm').modal('show');
        } else {
            x.attr('type','password')
        }
    }
    $('#password_btn').on('click',function () {
        var password = $('#password').val();
        $.ajax({
            url: "<%= verify_admin_password_admins_buy_rate_index_path %>",
            method: 'get',
            data: {password: password},
            success:function(data){
                $("#password_btn").css("background","green").text('').text("Verified");
                $("#info-text").text('');
                setTimeout(function(){
                    var x = $("#password-field")
                    if (x.attr('type') === "password") {
                               x.attr('type','text')
                              }
//                    $('#password').attr("disabled","disabled");
                    $('#admin_confirm').modal('hide')
//                    $('#admin_confirm').removeClass('show').removeClass('in').attr('style','display:none')
//                    $('#verification_btn').hide();
//                    $('#submit_transfer_btn').show();
                    $('#password').val("");
                    $("#password_btn").css("background","#7867a7").text('').text("Verify");
                }, 1000);
            },
            error: function(data){
                $("#password_btn").css("border","1px solid red");
                $("#info-text").text('').css("color","red").text('Please try again!');
            }
        });
    });

</script>
