<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.form/4.2.2/jquery.form.min.js" integrity="sha384-FzT3vTVGXqf7wRfy8k4BiyzvbNfeYjK+frTVqZeNDFl8woCbF0CYG6g2fMEFFo/i" crossorigin="anonymous"></script>

<%= simple_form_for ticket.comments.build , url: ticket_comments_path(ticket), remote: true do |f| %>
<div class="card card-default">

  <div class="card-block">
    <div class="row">
      <div class="col-md-8">
        <label for="transaction" class="control-label">New comment</label>
        <%= f.input :body, label: false ,input_html: {class: 'form-control underlined'},placeholder: "Your response to a user message" %>
        <i class="fa fa-paperclip fa-attachment pull-right"  title="Max size 4MB" id="new_field" ></i>
      </div>
      <input type="hidden" id="docs" name="attachments[]">
      <div class="col-md-4" id="files_section"></div>
    </div>

  </div>

  <div class="card-footer" id="right">
    <%= link_to 'Close ticket', ticket_close_ticket_path(ticket,redirect_to:{make:params[:path_to],user_id:params[:user_id]}) ,data:{confirm: 'Are you sure you want to close ?'} , class: 'btn btn-danger btn-sm'   %>

  <%= f.submit "Reply to ticket", class: 'btn btn-primary btn-sm' %>
  </div>
</div>
<% end %>
<%= form_for Image.new  ,url: upload_docs_images_path , html:{id: 'image_upload', multipart: true } do |img| %>
    <%= img.file_field :add_image, class: 'file_field_jq cutome_file_field', id: 'browse_field' %>
    <%#= img.submit "", class: '', id: 'image_upload_btn' , style: 'display:none' %>
<% end %>
