<div class="col-md-9">
    <div class="card sameheight-item items" data-exclude="xs,sm,lg">
      <div class="card-header bordered">
        <div class="header-block">
          <h3 class="title"><%= ticket.title %></h3>
        </div>
      </div>
      <section class="example">
        <div class="card-block">
          <div class="row">
            <div class="col-md-12">
              <div class="card card-default" id="carddefault">
                <div class="card-header">
                  <div class="header-block">
                    <p class="title" id="title1">
                      <%= ticket.user.name %>                    </p>
                  </div>
                  <div class="header-block pull-right">
                    <i class="icon-pin icons"></i>
                  </div>
                </div>
                <div class="card-block">
                  <div class="row">
                    <div class="col-md-8">
                      <p class="card-text"><%= ticket.message %> </p>
                      <p class="card-text"><small class="text-muted "><%= ticket.updated_at.localtime.strftime('%m/%d/%Y %H:%M:%S %I:%M %p')%></small></p>
                    </div>
                    <div class="col-md-4" >
                      <% if ticket.images.size > 0%>
                          <div class="row">
                            <span class="underlined ml-3">Attachments</span>
                          </div>
                          <div class="row">
                            <% ticket.images.each do |img|%>
                                <div class="row file_section_row doc_view">
                                  <span class="text-primary " >
                                    <%=img.add_image_file_name[0..10]+".#{File.extname(img.add_image_file_name)}" %>
                                  </span> (<%=number_to_human_size(img.add_image_file_size) %>)
                                  <span><a href="<%= img.add_image.url%>"><i class="fa fa-eye"></i></a></span>
                                </div>
                            <% end  %>
                          </div>

                      <% else %>
                      <% end  %>
                    </div>
                  </div>
                </div>
                <div class="card-footer">
                  <p>
                    <i class="icon-clock icons"></i><span class="timeUtc"><%= ticket.created_at %></span>
                  </p>
                </div>
              </div>

              <% ticket.comments.each do |comment| %>
                <% if comment.user.admin? %>
                    <div class="card card-primary" id="carddefault">
                    <div class="card-header">
                      <div class="header-block">
                        <p class="title" id="title1">
                          Administration                    </p>
                      </div>
                      <div class="header-block pull-right">
                        <i class="icon-pin icons"></i>
                      </div>
                    </div>
                    <div class="card-block">
                      <div class="row">
                        <div class="col-md-8">
                          <p class="card-text"> <%= comment.body %> </p>
                        </div>
                        <div class="col-md-4" >
                          <% if comment.images.size > 0%>
                              <div class="row">
                                <span class="underlined ml-3">Attachments</span>
                              </div>
                              <div class="row">
                                <% comment.images.each do |img|%>
                                    <div class="row file_section_row doc_view">
                                  <span class="text-primary " >
                                    <%=img.add_image_file_name[0..10]+".#{File.extname(img.add_image_file_name)}" %>
                                  </span> (<%=number_to_human_size(img.add_image_file_size) %>)
                                      <span><a href="<%= img.add_image.url%>"><i class="fa fa-eye"></i></a></span>
                                    </div>
                                <% end  %>
                              </div>

                          <% else %>
                          <% end  %>
                        </div>
                      </div>
                    </div>
                    <div class="card-footer">
                      <p>
                        <i class="icon-clock icons"></i> <span class="timeUtc"><%= comment.created_at %></span>
                      </p>
                    </div>
                  </div>
                <% else %>
                   <div class="card card-default" id="carddefault">
                    <div class="card-header">
                      <div class="header-block">
                        <p class="title" id="title1">
                          <%= comment.user.name %>
                        </p>
                      </div>
                      <div class="header-block pull-right">
                        <i class="icon-pin icons"></i>
                      </div>
                    </div>
                    <div class="card-block">
                      <p>
                      <%= comment.body %>
                              </p>
                    </div>
                    <div class="card-footer">
                      <p>
                        <i class="icon-clock icons"></i><%= comment.created_at %>
                      </p>
                    </div>
                  </div>
                <% end %>
              <% end %>

             </div>

          </div>
        </div>
      </section>

</div>
</div>