<%= stylesheet_link_tag asset_path("admins/shared_css"), media: 'all', 'data-turbolinks-track' => 'reload' %>
<div id="ticketModal" class="modal fade" role="dialog">
  <div class="modal-dialog ad-ticket-de-st-1">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header ad-ticket-de-st-2">
        <button type="button" class="close ad-ticket-de-st-3" data-dismiss="modal">&times;</button>
        <h4 class="modal-title capitalize ad-ticket-de-st-4">Ticket details</h4>
      </div>
      <div class="modal-body">

<!-- <section class="section"> -->
<div class="row">
  <div class="col-md-3">
    <ul class="list-group">
       <li class="list-group-item"><strong class="text-primary">ID ticket:</strong> <span class="pull-right"><%= ticket.id %></span></li>
      <li class="list-group-item"><strong class="text-primary">Date:</strong> <span class="timeUtc ad-ticket-de-st-5"><%= ticket.created_at %></span></li>
       <li class="list-group-item"><strong class="text-primary">Username:</strong> <span class="pull-right"><%= ticket.user.name %></span></li>
       <li class="list-group-item"><strong class="text-primary">Status:</strong> 
         <span class="pull-right">
          <% if ticket.status == "untreated" %>
           <span class="label label-primary">Untreated</span>
          <% elsif ticket.status == "processed" %>
           <span class="label label-success">Processed</span>
          <% elsif ticket.status == "closed" %>
           <span class="label label-danger">Closed</span>
          <% end %>
         </span>
      </li>
    </ul>
  </div>
  <%= render partial: '/admins/shared/ticket_comment', locals:{ :ticket=> ticket, :user => user,:path_to => params[:path_to] } %>
  <% if ticket.device_type == nil%>
  <%= render partial: '/admins/shared/ticket_comment_form', locals:{ :ticket=> ticket, :user => user,:path_to => params[:path_to] } %>
   <% end %>
</div>
<!-- </section> -->
      </div>
  </div>
</div>
</div>
<script>
    var lt= $('.timeUtc').each(function (i,v) {
        var gmtDateTime = moment.utc(v.innerText,'YYYY-MM-DD HH:mm:ss');
//           var gmtDateTime = moment.utc(v.innerText).toDate();
        var local = moment(gmtDateTime).local().format('MM/DD/YYYY hh:mm:ss A');
        v.innerText = local
    });
</script>