<%= stylesheet_link_tag asset_path("admins/shared/admin_transactions"), media: 'all', 'data-turbolinks-track' => 'reload' %>

<div class="title-block">
  <div class="row">
    <div class="col-md-6">
      <h1 class="title">
        Transactions
      </h1>
    </div>
    <div class="col-md-6">
      <!-- right side button add here-->
    </div>
  </div>
</div>
<div class="container-fluid padding-left-0-px-shared">
  <!--refund_transactions_admins_path-->
  <ul class="nav nav-tabs users_tabs font-weight-bold-shared font-size-20-px-shared">
    <li class="<%= params[:trans] == "success" || params[:trans] == "undefined" || params[:trans].blank? ? 'active' : ''%>"><a href="#" id="successful_txn" data-url="<%= transactions_admins_path %>">Successful</a></li>
    <li class="<%= params[:trans] == "decline" ? 'active' : ''%>"><a href="#" id="decline_txn" data-url="<%= transactions_admins_path %>">Declines</a></li>
    <li class="<%= params[:trans] == "refund" ? 'active' : ''%>"><a href="#" id="refund_txn" data-url="<%= transactions_admins_path %>">Refunds</a></li>
    <li class="<%= params[:trans] == "checks" ? 'active' : ''%>"><a href="#" id="checks_txn" data-url="<%= transactions_admins_path %>">Checks</a></li>
    <li class="<%= params[:trans] == "push_to_card" ? 'active' : ''%>"><a href="#" id="p2c_txn" data-url="<%= transactions_admins_path %>">P2C</a></li>
    <li class="<%= params[:trans] == "ach" ? 'active' : ''%>"><a href="#" id="ach_txn" data-url="<%= transactions_admins_path %>">ACH</a></li>
    <li class="<%= params[:trans] == "b2b" ? 'active' : ''%>"><a href="#" id="b2b_txn" data-url="<%= transactions_admins_path %>">B2B</a></li>
  </ul>
</div>
<section class="section">
  <div class="row">
    <%# if params[:query].present? %>
     <%#= render :partial => 'previous_button', :locals => {url:@back_url} %>
<!--      </div>-->
    <%# end %>
    <div class="col-md-12">
      <div class="card sameheight-item items" data-exclude="xs,sm,lg">
        <div class="card-header bordered">
          <div class="header-block">
            <% heading = params[:trans].present? ? params[:trans] == 'success' ? 'Successful' : params[:trans] == 'b2b' ? 'B2B' : params[:trans] == 'decline' ? 'Declined' : params[:trans] == 'checks' ? 'Check' : params[:trans].humanize.titleize : 'Successful' %>
           <% heading = heading == "Ach" ? "ACH" : heading %>
              <h3 class="title"><%= heading %> Transactions</h3>
          </div>
          <div class="header-block pull-right">
            <% unless current_user.support_customer? %>
            <% if params[:query].present? && params[:query]["date"].present? && params[:query].reject{|k,v| v.nil? || v == "" || v == {}}.present? %>
              <a data-toggle="modal" id="export_class" data-offset="<%= params[:offset].present? ? params[:offset] : Time.now.in_time_zone(cookies[:timezone]).strftime("%:z")%>" data-trans="<%= params[:trans].present? ? params[:trans] : "success" %>" data-type="admin" data-search-types="<%= params[:query][:type].present? ? params[:query][:type] : nil %>"  data-search-block_id="<%= params[:query][:block_id].present? ? params[:query][:block_id] : nil %>" data-search-firstsix="<%= params[:query][:first6].present? ? params[:query][:first6] : nil %>" data-wallet="<%= Wallet.qc_support.first.try(:id) %>" data-search-gateway="<%= params[:query][:gateway] %>" data-search-date="<%= params[:query][:date] || params[:query][:datie] %>" data-search-last4="<%= params[:query][:last4] %>" data-search-sender="<%= params[:query][:sender] %>" data-search-receiver="<%= params[:query][:receiver] %>" data-search-state="<%= params[:query][:state] %>" data-search-city="<%= params[:query][:city] %>" data-search-time1="<%= params[:query][:time1] %>" data-search-time2="<%= params[:query][:time2] %>"  data-total-count="1" data-search-price="<%= params[:query][:amount] %>" class="exportReport pull-right" href="#exportModalDialog"><button type="button" class="btn btn-sm blue_btn"><i class="fa fa-file"></i> Export</button></a>
            <% else %>
              <a data-toggle="modal" id="export_class" data-offset="<%= params[:offset].present? ? params[:offset] : Time.now.in_time_zone(cookies[:timezone]).strftime("%:z")%>" data-trans="<%= params[:trans].present? ? params[:trans] : "success" %>" data-type="admin" data-wallet="<%= Wallet.qc_support.first.try(:id) %>" data-total-count="1" class="exportModalDialog pull-right" href="#exportModalDialog"><button type="button" class="btn btn-sm blue_btn"><i class="fa fa-file"></i> Export</button></a>
            <% end %>
            <% end %>
            <a href="#search" data-toggle="collapse" href="#search" aria-expanded="false" aria-controls="search" class="btn btn-outline-secondary btn-sm"><i class="icon-magnifier icons"></i> Search</a>
          </div>
        </div>
        <%# unless params[:trans] == "refund" %>
          <%=form_tag transactions_admins_path, method: :get, class:'search_transactions',  autocomplete: "off" do  %>
          <div class="col-sm-12 transaction-admin-form-shared">
            <div class="col-sm-12">
              <div class="collapse mb-3" id="search">
                <div class="card card-body">
                  <div class="row margin-top-10-px-shared">
                    <div class="col-md-12 margin-top-15-px-shared">
                      <% if params[:trans].present? && params[:trans]!='b2b' %>
                      <div class="form-group col-md-4">
                        <label for="id">Type</label>
                        <%=	select_tag 'query[type][]', options_for_select(@types.map{|v|[v[:view],v[:value]]}.sort_by{|view,value| view.downcase}, params[:query].present? ? params[:query]["type"] : ""),class: "form-control", multiple: true  %>
                      </div>
                      <% end %>
                      <div class="form-group col-md-4">
                        <label for="id">Sender Name</label>
                        <input type="text" name="query[sender]" id="sender" class="form-control" placeholder="Sender Name"  value="<%= params[:query].present? ? params[:query]["sender"] : "" %>" />
                      </div>
                      <div class="form-group col-md-4">
                        <label for="id">Receiver Name</label>
                        <input type="text" name="query[receiver]" id="receive" class="form-control" placeholder="Receiver Name"  value="<%= params[:query].present? ? params[:query]["receiver"] : "" %>"  />
                      </div>
                      <% if params[:trans].present? && params[:trans]=='b2b' %>
                        <div class="form-group col-md-4">
                          <label for="id">Block ID</label>
                          <input type="text" name="query[block_id]" id="block_id" class="form-control" placeholder="Block ID" value="<%= params[:query].present? ? params[:query]["block_id"] : "" %>"/>
                        </div>
                      <% end %>
                    </div>
                    <div class="col-md-12 margin-top-15-px-shared">
                      <div class="form-group col-md-4">
                        <label for="id">Amount</label>
                        <input type="text" name="query[amount]"  id="amount" class="form-control" placeholder="Amount" min="0" step="0.01" value="<%= params[:query].present? ? params[:query]["amount"] : "" %>"  />
                      </div>
                      <div class="form-group col-md-4" id="date_parent">
                        <label for="id">Date</label>
                        <input type="text" name="query[date]" id="date" class="form-control" value="<%= params[:query].present? ? params[:query]["date"] : "" %>"   />
                        <input type="hidden" name="offset" value="<%=params[:offset].present? ? params[:offset] : Time.now.in_time_zone(cookies[:timezone]).strftime("%z")%>"  />
                      </div>
                      <% if params[:trans].present? && params[:trans]=='b2b' %>
                      <div class="form-group col-md-4">
                        <label for="id">Time</label>
                        <div class="row">
                          <div class="col-md-6">
                            <%= select_tag 'query[time1]', options_for_select(@time_option.map {|v| [v[:view], v[:value]]}, selected: params[:query].present? ? params[:query]["time1"] : ""), include_blank: "Start Time", class: "form-control" %>
                          </div>
                          <div class="col-md-6">
                            <%= select_tag 'query[time2]', options_for_select(@time_option.map {|v| [v[:view], v[:value]]}, selected: params[:query].present? ? params[:query]["time2"] : ""), include_blank: "End Time", class: "form-control" %>
                          </div>
                        </div>
                      </div>
                      <% else %>
                      <div class="form-group col-md-4">
                        <label for="id">Block/QuickCard ID</label>
                        <input type="text" name="query[block_id]" id="block_id" class="form-control" placeholder="Block ID" value="<%= params[:query].present? ? params[:query]["block_id"] : "" %>"/>
                      </div>
                      <% end %>
                    </div>
                    <div class="col-md-12 margin-top-15-px-shared">
                      <% if params[:trans].present? && ( params[:trans] != 'b2b' && params[:trans] != 'checks' ) %>
                        <div class="form-group col-md-4">
                          <label for="id">Descriptor</label>
                          <%= select_tag 'query[gateway][]', options_for_select(@gateways.map {|v| [v[:view].camelcase, v[:value]]}.sort, params[:query].present? ? params[:query]["gateway"] : ""), class: "form-control", multiple: true %>
                        </div>
                      <% end %>
                      <% if params[:trans].present? &&  params[:trans] != 'b2b'  %>
                      <div class="form-group col-md-4">
                        <label for="id">Time</label>
                        <div class="row">
                          <div class="col-md-6">
                            <%=	select_tag 'query[time1]', options_for_select(@time_option.map{|v| [ v[:view], v[:value] ]}, selected: params[:query].present? ? params[:query]["time1"] : ""), include_blank: "Start Time",class: "form-control"  %>
                          </div>
                          <div class="col-md-6">
                            <%=	select_tag 'query[time2]', options_for_select(@time_option.map{|v| [ v[:view], v[:value] ]}, selected: params[:query].present? ? params[:query]["time2"] : ""), include_blank: "End Time",class: "form-control"  %>
                          </div>
                        </div>
                      </div>
                      <% end %>
                      <% if params[:trans].present? && params[:trans] != 'b2b' %>
                        <div class="form-group col-md-4">
                          <label for="id">Last 4</label>
                          <input type="text" name="query[last4]" maxlength="4" id="last4" class="form-control" placeholder="Last4" value="<%= params[:query].present? ? params[:query]["last4"] : "" %>"/>
                        </div>
                      <% end %>
                      <% if params[:trans].present? && params[:trans] != 'b2b' && params[:trans] == 'checks' %>
                        <div class="form-group col-md-4">
                          <label for="id">First 6</label>
                          <input type="text" name="query[first6]" min="0" maxlength="6" id="first6" class="form-control" placeholder="First 6" value="<%= params[:query].present? ? params[:query]["first6"] : "" %>"/>
                        </div>
                      <% end %>
                    </div>
                    <div class="col-md-12 margin-top-15-px-shared">
                      <% if params[:trans].present? && params[:trans]!='b2b' && params[:trans]!='checks' %>
                        <div class="form-group col-md-4">
                          <label for="id">Sender Wallet ID</label>
                          <input type="number" name="query[sender_id]" id="sender" class="form-control" placeholder="Sender Wallet ID"  value="<%= params[:query].present? ? params[:query]["sender_id"] : "" %>" />
                        </div>
                        <div class="form-group col-md-4">
                          <label for="id">Receiver Wallet ID</label>
                          <input type="number" name="query[receiver_id]" id="receive" class="form-control" placeholder="Receiver Wallet ID"  value="<%= params[:query].present? ? params[:query]["receiver_id"] : "" %>"  />
                        </div>
                        <div class="form-group col-md-4">
                          <label for="id">First 6</label>
                          <input type="text" name="query[first6]" min="0" maxlength="6" id="first6" class="form-control" placeholder="First 6"  value="<%= params[:query].present? ? params[:query]["first6"] : "" %>"  />
                        </div>
                      <% end %>
                    </div>
                    <div class="col-md-12 ">
                      <div class="form-group col-md-4 margin-top-15-px-shared">
                        <label for="id">Risk Evaluation </label>
                        <%=  select_tag 'query[risk_eval][]', options_for_select(@risk_evaluation_status.map{|v|[v[:view],v[:value]]}, params[:query].present? ? params[:query]["risk_eval"] : ""),class: "form-control", multiple: true  %>
                      </div>
                    </div>

                    <div class="col-md-12 text-right">
                      <input type="hidden" name="trans" value="<%= params[:trans]  if  params[:trans].present? %>"  />
                      <button type="submit" class="btn btn-success btn-sm search_button">Search</button>
                      <input type="hidden" name="tx_filter" id="tx_filter" value="<%= params[:tx_filter].present? ? params[:tx_filter] : "" %>"  />
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        <% end  %>
        <%# end %>

<!--        <p hidden id="as" class="as" ><%#= @next %></p>-->
        <section class="example">

          <div class="">
            <div class="row margin-top-15-px-shared margin-left-3-px-shared">
              <div class="col-sm-6 col-md-6">
                <div class="dataTables_length">
                  <div class="col-md-6 top-30-px-shared">
                    <span class="padding-top-7-px-shared float-left-shared">Show</span>
                    <span class="float-left-shared">
                      <%= form_tag transactions_admins_path(trans: params["trans"]), method: :get, id: "tx_form"  do  %>
                         <%= select_tag "tx_filter", options_for_select(@filters.map{|v|[v]}, selected: params[:tx_filter].present? ? params[:tx_filter] : "10"),
                                        :prompt => false,
                                        :required => true,
                                        class: "form-control form-control-sm",
                                        data: {confirm: "Are you sure ?"}
                         %>
                          <input type="hidden" name="trans" value="<%= params[:trans].present? ? params[:trans] : "success" %>"  />
                        <% if params[:query].present? %>
                            <input type="hidden" name="query[amount]" value="<%= params[:query][:amount] if  params[:query][:amount].present? %>"  />
                            <input type="hidden" name="query[datie]" value="<%= params[:query][:date]  if  params[:query][:date].present? %><%= params[:query][:datie]  if  params[:query][:datie].present? %>"  />
                            <input type="hidden" name="query[last4]" value="<%= params[:query][:last4]  if  params[:query][:last4].present?%>"  />
                            <input type="hidden" name="query[sender]" value="<%= params[:query][:sender]  if  params[:query][:sender].present?%>"  />
                            <input type="hidden" name="query[sender_id]" value="<%= params[:query][:sender_id]  if  params[:query][:sender_id].present?%>"  />
                            <input type="hidden" name="query[receiver]" value="<%= params[:query][:receiver]  if  params[:query][:receiver].present?%>"  />
                            <input type="hidden" name="query[receiver_id]" value="<%= params[:query][:receiver_id]  if  params[:query][:receiver_id].present?%>"  />
                            <input type="hidden" name="query[type]" value="<%= params[:query][:type]  if  params[:query][:type].present?%>"  />
                            <input type="hidden" name="query[gateway]" value="<%= params[:query][:gateway]  if  params[:query][:gateway].present?%>"  />
                            <input type="hidden" name="query[time1]" value="<%= params[:query][:time1]  if  params[:query][:time1].present?%>"  />
                            <input type="hidden" name="query[time2]" value="<%= params[:query][:time2]  if  params[:query][:time2].present?%>"  />
                            <input type="hidden" name="query[block_id]" value="<%= params[:query][:block_id]  if  params[:query][:block_id].present?%>"  />
                            <input type="hidden" name="query[city]" value="<%= params[:query][:city]  if  params[:query][:city].present?%>"  />
                            <input type="hidden" name="query[state]" value="<%= params[:query][:state]  if  params[:query][:state].present?%>"  />
                            <input type="hidden" name="query[first6]" value="<%= params[:query][:first6]  if  params[:query][:first6].present?%>"  />
                            <input type="hidden" name="offset" value="<%= params[:offset].present? ? params[:offset] : Time.now.in_time_zone(cookies[:timezone]).strftime("%z")%>"  />
                            <input type="hidden" name="query[risk_eval]" value="<%= params[:query]["risk_eval"] if  params[:query]["risk_eval"].present?%>"  />
                        <% end %>
                      <% end %>
                    </span>
                    <span class="float-left-shared padding-top-7-px-shared">Entries</span>
                  </div>
                </div>
              </div>
              <div class="col-sm-6 col-md-6">
                <div class="col-md-12 margin-top-15-px-shared">
                  <%# if params[:tx_filter].present? || params[:query].present? %>
                  <%#= link_to('Clear Search', transactions_admins_path, html_options = {class: "btn btn-primary pull-right"}) %>
                  <%# end %>
                </div>
              </div>

            </div>


            <div class="table-responsive" id="admin_table">
              <% search_from='refund' if @query_from=='refund' %>
                <%= render partial: 'admins/shared/admin_transactions_table' ,:locals =>  {:transactions => @transactions,:query_from => search_from} %>
            </div>

            <div class="modal fade right ad-m-user-txn-st-7" id="refundModalDialog">
              <div class="modal-dialog modal-sm ad-m-txn-st-9">
                <div class="modal-content1 refund-modal-content-shared">
                  <!-- Modal
                   Header -->
                  <div class="modal-header text-left background-color-424242-shared color-ffffff-shared New_Modal_Header">
                    <h4 class="modal-title float-left-shared"><span class="ml-2">Refund payment</span></h4>
                    <button type="button" class="close" data-dismiss="modal">×</button>
                  </div>
                  <!-- Modal body -->
                  <div class="modal-body refund-modal-body-shared" >
                    <div class="card background-color-whitesmoke-shared">
                      <div class="card-body">
                        <div class="row margin-bottom-n-16-px-shared">
                          <div class="form-group col-md-8 topMargn">
                            <label for="partialamount" class="font-size-16-px-shared">Amount <i class="fa fa-info-circle" aria-hidden="true" title='The amount showing reflects the total transaction amount. For "Partial Refund" please adjust the amount to the amount you would like to refund.'>
                            </i></label>
                            <div class="input-group">
                              <span class="input-group-addon"><b>$</b></span>
                              <input type="text" id="partialamount" class="form-control number" placeholder="0.00" %>
                            </div>
                            <div class="pull-right">
                              <span>Amount + Fee + Tip = $ </span> <span  class="refund_fee"></span>
                            </div>
                            <div class="row col-md-12">
                              <span class="alert-danger partial-error-shared" id="partial_error"></span>
                            </div>
                          </div>
                          <div class="form-group col-md-8">
                            <label for="reason" class="font-size-16-px-shared">Reason</label>
                            <select class="form-control" id="reason_select">
                              <option value="0">Select a reason</option>
                              <option value="1">Duplicate</option>
                              <option value="2">Fraudulent</option>
                              <option value="3">Requested by customer</option>
                              <option value="4">Other</option>
                            </select>
                            <br>
                            <textarea placeholder="Add a reason for this refund..." id="reason_detail" class="form-control refund-text-area-shared" rows="5"></textarea>
                          </div>
                        </div>
                        <div class="col-md-12 background-color-whitesmoke-shared margin-top-5-px-shared">
                          <p class="fa-info-circle-shared"><b><i class="fa fa-info-circle"></i> Refunds take 1-5 days to appear on a customer's statement.</b></p>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="modal-footer background-color-whitesmoke-shared" id="refundModalFooter">
                    <button class="btn btn-default" data-dismiss="modal">Cancel</button>
                    <a data-toggle="modal" class="refundConfirmationDialog" href="#refundConfirmationDialog"><button class="btn refund_btn color-ffffff-shared background-color-red-shared" disabled>Refund</button></a>
                  </div>
                </div>
              </div>
            </div>

            <!-- Refund Failed Modal -->

            <div class="modal fade right ad-m-user-txn-st-7" id="refundFailedModalDialog">
              <div class="modal-dialog modal-sm ad-m-txn-st-9">
                <div class="modal-content1 refund-modal-content-shared">
                  <!-- Modal
                   Header -->
                  <div class="modal-header text-left background-color-424242-shared color-ffffff-shared New_Modal_Header">
                    <h4 class="modal-title float-left-shared"><span class="ml-2">Refund Failed payment</span></h4>
                    <button type="button" class="close" data-dismiss="modal">×</button>
                  </div>
                  <!-- Modal body -->
                  <div class="modal-body refund-modal-body-shared" >
                    <div class="card background-color-whitesmoke-shared">
                      <div class="card-body">
                        <div class="row margin-bottom-n-16-px-shared">
                          <div class="form-group col-md-8 topMargn">
                            <label for="partialfailedamount" class="font-size-16-px-shared">Amount <i class="fa fa-info-circle" aria-hidden="true" title='The amount showing reflects the total transaction amount. For "Partial Refund" please adjust the amount to the amount you would like to refund.'>
                            </i></label>
                            <div class="input-group">
                              <span class="input-group-addon"><b>$</b></span>
                              <input type="text" id="partialfailedamount" class="form-control number" placeholder="0.00" readonly="true" %>
                            </div>
                            <div class="row col-md-12">
                              <span class="alert-danger partial-error-shared" id="partial_error"></span>
                            </div>
                          </div>
                          <div class="form-group col-md-8">
                            <label for="reason" class="font-size-16-px-shared">Reason</label>
                            <br>
                            <textarea placeholder="Add a reason for this refund failed..." id="reason_failed_detail" class="form-control" rows="5"></textarea>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="modal-footer background-color-whitesmoke-shared" id="refundModalFooter">
                    <button class="btn btn-default" data-dismiss="modal">Cancel</button>
                    <a data-toggle="modal" class="refundFailedConfirmationDialog" href="#refundFailedConfirmationDialog"><button class="btn refund_btn color-ffffff-shared background-color-red-shared">Refund Failed</button></a>
                  </div>
                </div>
              </div>
            </div>


            <!--Confirmation Refund Modal-->
            <div class="modal fade right refund-confirmation-dialog-shared" id="refundConfirmationDialog">
              <div class="modal-dialog width-500-px-shared">
                <div class="modal-content width-500-px-shared height-overflow-x-shared" >
                  <!-- Modal Header -->
                  <div class="modal-header text-left text-white color-ffffff-shared background-color-424242-shared">
                    <h4 class="modal-title float-left-shared"><span class="ml-2">Are you sure?</span></h4>
                    <button type="button" class="close" data-dismiss="modal">×</button>
                  </div>
                  <!-- Modal body -->
                  <div class="modal-body refund-modal-body-shared">
                    <div class="card background-color-whitesmoke-shared">
                      <div class="card-body">
                        <div class="row margin-bottom-n-16-px-shared">
                          <div class="col-md-12">Are you sure you want to refund $ <span id="confirm_refund_amount"></span> to <span id="refund_user"></span>?</div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="modal-footer background-color-whitesmoke-shared" id="refundModalFooter">
                    <button class="btn btn-default" data-dismiss="modal">Cancel</button>
                    <%= link_to 'Confirm & Send',"",class: "btn btn-info confirm-refund", id:"footerConfirmLink", data: { disable_with: "<i class='fa fa-spinner fa-spin'></i>" } %>
                  </div>
                </div>
              </div>
            </div>


            <!--Confirmation Refund Failed Modal-->
            <div class="modal fade right refund-confirmation-dialog-shared" id="refundFailedConfirmationDialog">
              <div class="modal-dialog width-500-px-shared">
                <div class="modal-content width-500-px-shared height-overflow-x-shared" >
                  <!-- Modal Header -->
                  <div class="modal-header text-left text-white color-ffffff-shared background-color-424242-shared">
                    <h4 class="modal-title float-left-shared"><span class="ml-2">Are you sure?</span></h4>
                    <button type="button" class="close" data-dismiss="modal">×</button>
                  </div>
                  <!-- Modal body -->
                  <div class="modal-body refund-modal-body-shared">
                    <div class="card background-color-whitesmoke-shared">
                      <div class="card-body">
                        <div class="row margin-bottom-n-16-px-shared">
                          <div class="col-md-12">Are you sure you want to refund failed $ <span id="confirm_refund_failed_amount"></span>?</div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="modal-footer background-color-whitesmoke-shared" id="refundModalFooter">
                    <button class="btn btn-default" data-dismiss="modal">Cancel</button>
                    <%= link_to 'Confirm & Send',"",class: "btn btn-info confirm-refund", id:"footerFailedConfirmLink", data: { disable_with: "<i class='fa fa-spinner fa-spin'></i>" } %>
                  </div>
                </div>
              </div>
            </div>



            <div class="card-footer text-right margin-bottom-30-px-shared">
              <div class="row">
                <div class="col-md-12">
                  <span class="float-left-shared">Showing <%=@transactions.try(:count)%> of <%=@transactions.total_count %> records</span>
                  <%= paginate @transactions, :theme => 'twitter-bootstrap-3', :pagination_class => "pagination-small pagination-centered pull-right" %>
                </div>
              </div>
            </div>
          </div>
        </section>
      </div>
    </div>
  </div>
</section>
<!-- The export Modal starts -->
<%= render partial: 'admins/shared/export_modal' %>
<!-- The export Modal ends -->
<section id="transaction_modal"></section>
<section id="custom_modal"></section>
<section id="dispute_case_modals"></section>
