
<style>
body {
  box-sizing: border-box;
}
.modal.fade .modal-dialog {
  width: 85%;
}
.modal-body {
  position: relative;
  /*padding: 15px;*/
  /*margin: 0px 15px 0px 15px !important;*/
}
/*.modal-body .custm-icon {*/
  /*position: relative;*/
  /*top: 22.5px;*/
  /*display: inline-block;*/
  /*!*font-family: 'Glyphicons Halflings';*!*/
  /*font-style: normal;*/
  /*font-weight: 400;*/
  /*font-size: 20px;*/
  /*line-height: 1;*/
  /*-webkit-font-smoothing: antialiased;*/
  /*-moz-osx-font-smoothing: grayscale;*/
/*}*/
.bold {
  font-weight: 600;
}
.font {
  font-size: 12px;
}
.capitalize{
  text-transform: capitalize;
}
.size{
  font-size: 14px;
}
.ok-circle {
  font-size: 14px;
}
.fa-check-circle{
  color: #50ae54;
}
.bg {
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  border-top-left-radius: 40px;
  border-bottom-left-radius: 40px;
  margin-left: 16px;
  background: #e3e3e3;
  padding: 10px;
}
.xs {
  margin-left: 38px;
  width: 63%;
}

.details{
  font-size: 14px;
  color: black;
}
.img-circle {
  border-radius: 50%;
}

/*@media (min-width: 320px) and (max-width: 425px) {*/
/*.bg {*/
  /*border-top-right-radius: 40px;*/
  /*border-bottom-right-radius: 40px;*/
  /*border-top-left-radius: 40px;*/
  /*border-bottom-left-radius: 40px;*/
  /*margin: 0px 10%;*/
  /*background: #e3e3e3;*/
  /*padding: 10px;*/
  /*max-width: 80%;*/
/*}*/
/*.modal.fade .modal-dialog {*/
  /*width: 95%;*/
/*}*/
/*}*/

/*@media (min-width: 768px) and (max-width: 1024px) {*/
/*.xs {*/
  /*margin-left: 0px;*/
  /*width: 100%;*/
/*}*/
/*}*/

/*@media (min-width: 1440px) {*/

/*.modal-body {*/
  /*position: relative;*/
  /*margin: 0px 15px 0px 17px;*/
/*}*/
/*}*/

/*@media (min-width: 2048px) {*/
/*.lg4k {*/
  /*margin: 10px 0px 83px !important;*/
/*}*/
/*.modal-body {*/
  /*position: relative;*/
  /*margin: 0px 0px 0px 35px;*/
/*}*/
/*}*/
</style>
<%= wicked_pdf_stylesheet_link_tag "/pdf_bootstrap/bootstrap" -%>
<%= wicked_pdf_javascript_include_tag "/pdf_bootstrap_js/bootstrap" -%>
<%= wicked_pdf_javascript_include_tag "/pdf_bootstrap_js/npm" -%>
<!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">-->
<!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">-->
<!--<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/multiple-select/1.2.0/multiple-select.css">-->
<!--<script src="https://cdnjs.cloudflare.com/ajax/libs/multiple-select/1.2.0/multiple-select.js"></script>-->
<!--<script type="text/javascript" src="https://cdn.jsdelivr.net/jquery/latest/jquery.min.js"></script>-->
<!--<script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>-->
<!--<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>-->
<!--<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />-->


<div id="adminModal" class="modal fade" role="dialog">
  <div class="modal-dialog" >
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header" style="background: #424242; color: white; padding: 12px;">
<!--        <button type="button" class="close" data-dismiss="modal" style="color: white; opacity: 1;">&times;</button>-->
        <h4 class="modal-title capitalize" style="text-align: center;"><%= t[:type] %> <%= t[:ip_address] %></h4>
      </div>
      <div class="modal-body">
        <div class="row" id="no-error">
          <div class="col-xs-6 col-lg-4" style="box-shadow: 0px 1px 3px 1px #dbdbdb;border-radius: 5px; margin-top: -18px; width: 100% !important;">
            <div class="text-center">
              <figure style="margin-top: 30px;">
                <a href="<%= user_transactions_path(Wallet.find_by_id(get_wallet(t)).try(:id)) %>">
                  <%= wicked_pdf_image_tag 'person.png', class: "img-circle img-responsive", style: "display: block; margin: auto; max-width: 17%;" %>
                  <%#= image_tag("person.png", class: "img-circle img-responsive", style: "display: block; margin: auto; max-width: 17%;")%>
                </a>
              </figure>
              <% if t[:old_type] == "DEPOSIT" || t[:old_type] == "FEE" %>
                <h5 class="bold size capitalize" style="text-align: center"><%= users[:destination].nil? ? "N/A" : users[:destination].name %></h5>
                <p style="text-align: center !important;"><%= users[:destination].nil? ? "N/A" : users[:destination].phone_number %></p>
                <p style="text-align: center !important;"><u style="text-align: center !important;"><%= users[:destination].nil? ? "N/A" : users[:destination].email %></u></p>
              <% elsif t[:old_type] == 'RETIRE' || t[:old_type] == "TRANSFER" %>
                <h5 class="bold size capitalize" style="text-align: center"><%= users[:source].nil? ? "N/A" : users[:source].name %></h5>
                <p style="text-align: center !important;"><%= users[:source].nil? ? "N/A" : users[:source].phone_number %></p>
                <p style="text-align: center !important;"><u><%= users[:source].nil? ? "N/A" : users[:source].email %></u></p>
              <% end %>
              <br>
              <br>
              <br>
            </div>
            <hr>
            <br>
            <div class="text-left" style="padding-left: 15px !important;">
              <%if t[:reference]["source"].present? && t[:reference]["source"] == "Checkbox.io" %>
                <h5 class="size">Gateway Type: <span>Checkbook io</span></h5>
              <%else%>
                <h5 class="size">Gateway Type: <span class="capitalize"><%= t[:reference]["source"] if t[:reference]["source"].present? %></span></h5>
              <%end%>
              <h5 class="size">Partner Name: <span class="capitalize"><%= t[:fee_perc]["partner_name"] if t[:fee_perc].present? %><%= t[:fee_perc]["company"]["name"] if t[:fee_perc].present? &&  t[:fee_perc]["company"].present? %></span></h5>
              <h5 class="size">Location Name: <span class="capitalize"><%= t[:location]["business_name"] if t[:location].present? %> </span></h5>
              <h5 class="size">Merchant Name: <span class="capitalize"><%= t[:merchant]["name"] if t[:merchant].present? %></span></h5>
              <br>
              <br>
              <strong>FEES:</strong>
              <span style="display: block; margin: 10px 0px;" class="font">Gbox: <%= t[:reference].present? && t[:fee_perc].present? ? number_to_currency(calculate_fees(t[:reference]["fee"],t[:fee_perc], t[:reference])) : number_to_currency(t[:reference]["fee"]) %>
                <% if  t[:reference]["fee"].present? && t[:reference]["fee"].to_f > 0 %>
                    <span class="pull-right"><%= link_to 'wallet',qc_wallet.present? ? user_transactions_path(qc_wallet.slug) : '', class: "blue-color" %></span>
              <% end %>
            </span>
              <hr>
              <span style="display: block;margin: 10px 0px;" class="font">
                ISO: <span class="capitalize"><%= t[:fee_perc]["iso_name"] if  t[:fee_perc].present? %><%= t[:fee_perc]["iso"]["name"] if t[:fee_perc].present? && t[:fee_perc]["iso"].present? %></span>: <%= t[:iso_fee].present? ? number_to_currency(t[:iso_fee].to_f) : "$0.00"   %>
                <% if  t[:fee_perc].present? && (t[:iso_fee].present? || t[:fee_perc]["iso_email"].present? || (t[:fee_perc]["iso"] && t[:fee_perc]["iso"]["email"])) %>
                  <span class="pull-right"><%= link_to 'wallet',users[:iso].present? ? user_transactions_path(users[:iso].slug) : '', class: "blue-color" %></span>
                <% end %>
              </span>
              <hr>
              <span style="display: block; margin: 10px 0px;" class="font lg4k">
                Agent: <span class="capitalize"><%= t[:fee_perc]["agent_name"] if  t[:fee_perc].present? %><%= t[:fee_perc]["agent"]["name"] if t[:fee_perc].present? &&  t[:fee_perc]["agent"].present? %></span>: <%=  t[:agent_fee].present? ?  number_to_currency(t[:agent_fee].to_f) : "$0.00" %>
                <% if  t[:fee_perc].present? && (t[:agent_fee].present? || t[:fee_perc]["agent_email"].present? || (t[:fee_perc]["agent"].present? && t[:fee_perc]["agent"]["email"])) %>
                  <span class="pull-right"><%= link_to 'wallet',users[:agent].present? ? user_transactions_path(users[:agent].slug) : '', class: "blue-color" %></span>
                <% end %>
            </span>
              <hr>
              <span style="display: block;margin: 10px 0px;" class="font">
                Affiliate: <span class="capitalize"><%= t[:fee_perc]["affiliate"]["name"] if t[:fee_perc].present? && t[:fee_perc]["affiliate"].present? %></span>: <%= t[:affiliate_fee].present? ? number_to_currency(t[:affiliate_fee].to_f) : "$0.00"  %>
                <% if  t[:fee_perc].present? && (t[:affiliate_fee].present? && (t[:fee_perc]["affiliate"] && t[:fee_perc]["affiliate"]["wallet"])) %>
                  <span class="pull-right"><%= link_to 'wallet',users[:affiliate].present? ? user_transactions_path(users[:affiliate].slug) : '', class: "blue-color" %></span>
                <% end %>
              </span>
              <hr>
              <br>
            </div>
          </div>
          <div class="col-xs-6 col-lg-7 hidden-xs"  style="box-shadow: 0px 1px 3px 1px #dbdbdb;border-radius: 5px; width: 100% !important; margin-top: 15px;">
            <div class="row" style="background-color: #50ae55; color: white">
              <div class="col-sm-6 col-lg-6" style="padding: 15px;">
                <h3 class="text-left" style="margin: 15px 0px;"><%= number_to_currency(number_with_precision(t[:net], precision: 2)) %></h3>
              </div>
<!--              <div class="col-sm-6 col-lg-6">-->
                <%#= link_to transaction_details_pdf_admins_path(transaction: t), :style => "color: white;", target: :_blank do %>
                <!--                    <span class="pull-right custm-icon"><i class="fa fa-print"></i> </span>-->
                <%# end %>
<!--              </div>-->
            </div>
            <div class="row" style="padding: 10px">
              <div class="col-sm-6 col-lg-4">
                <h5 class="bold details">Details</h5>
              </div>
              <div class="col-sm-6 col-lg-8" style="text-align: right; margin-top: -35px;">
                <span class="ok-circle" style=" color: #50ae55;color: black;">
                  <i class="fa fa-check-circle"></i>Payment Succeeded <span class="modalTime"><%= t[:timestamp]  %></span>
                </span>
              </div>
            </div>
            <hr style="margin: 0px;">
            <div class="row" style="padding: 10px">
              <div class="col-lg-6">
                <p style="font-weight: bold; padding-top: 5px;">Transaction Details</p>
              </div>
              <div class="col-lg-6">
                <p style="font-weight: bold; padding-top: 5px;">Payment Details</p>
              </div>
            </div>

            <div class="row" style="padding: 10px">
              <div class="col-lg-4">
                <table class="table-condensed">
                  <tr>
                    <td class="font bold">Wallet ID:</td>
                    <% if t[:type].downcase == 'transfer' or t[:type].downcase == 'deposit'%>
                      <td class=""><%= t[:destination].present? ? t[:destination] : '' %></td>
                    <% else %>
                      <td class="bold font"><%= t[:source_id].present? ? t[:source_id] : '' %></td>
                    <% end %>
                  </tr>
                  <tr>
                    <td class="bold font">Amount:</td>
                    <td class=""><%= number_to_currency(number_with_precision(t[:amount_updated], precision: 2)) %>
                    </td>
                  </tr>
                  <tr>
                    <td class="bold font">Tip:</td>
                    <td class=""><%= number_to_currency(number_with_precision(t[:tip], precision: 2)) %>
                    </td>
                  </tr>
                  <tr>
                    <td class="bold font">Fee:</td>
                    <td class=""><%= t[:fee].present? ?  number_to_currency(number_with_precision(t[:fee], precision: 2)) : "$0.00" %></td>
                  </tr>
                  <tr>
                    <td class="bold font">Reserve Money:</td>
                    <td class=""><%= t[:fee_perc].present? ? t[:fee_perc]["hold_money"].nil? && t[:fee_perc]["reserve"].nil? ? "$0.00" : number_to_currency(t[:fee_perc]["hold_money"] || t[:fee_perc]["reserve"]["amount"]) : "$0.00" %></td>
                  </tr>
                  <tr>
                    <td class="bold font">Net</td>
                    <td class=""><%= number_to_currency(number_with_precision(t[:net], precision: 2)) %></td>
                  </tr>
                  <% if t[:reference]['transfer_details'].present? %>
                    <% if t[:reference]['transfer_details']['memo'].present? %>
                      <tr>
                        <td class="bold font">Memo</td>
                        <td class=""><%= t[:reference]['transfer_details']['memo'] %></td>
                      </tr>
                    <% end %>
                  <% end %>
                </table>
              </div>
              <% unless list.empty? %>
                <div class="col-lg-4">
                  <table class="table-condensed">
                    <tr>
                      <td class="bold font" style="width:140px">QC risk evaluation:</td>
                      <td class="">Normal</td>
                    </tr>
                    <% if list[:reference].present? %>
                      <% if list[:reference]["previous_issue"].present? %>
                        <% if list[:reference]["previous_issue"]["type"].present? %>
                          <tr>
                            <td class="bold font">Card Type:</td>
                            <td class=""><%= list[:reference]["previous_issue"]["type"] %></span></td>
                          </tr>
                        <% end %>
                        <% if list[:reference]["previous_issue"]["brand"].present? %>
                          <tr>
                            <td class="bold font">Brand:</td>
                            <td class=""><%= list[:reference]["previous_issue"]["brand"].upcase %></td>
                          </tr>
                        <% end %>
                        <% if list[:reference]["previous_issue"]["country"].present? %>
                          <tr>
                            <td class="bold font">Country:</td>
                            <td class=""><%= list[:reference]["previous_issue"]["country"]["emoji"] %><%= list[:reference]["previous_issue"]["country"]["name"] %></td>
                          </tr>
                        <% end %>
                        <% if list[:reference]["previous_issue"]["first6"].present? && list[:reference]["previous_issue"]["last4"].present?  %>
                          <tr>
                            <td class="bold font">Card:</td>
                            <td class=""><%= list[:reference]["previous_issue"]["first6"] %>*****<%= list[:reference]["previous_issue"]["last4"] %></td>
                          </tr>
                        <% end %>
                      <% end %>
                    <% end %>
                  </table>
                </div>
              <% else %>
                <div class="col-lg-4">
                  <table class="table-condensed">
                    <tr>
                      <td class="bold font" style="width:140px">QC risk evaluation:</td>
                      <td class="">Normal</td>
                    </tr>
                    <% if t[:reference].present? %>
                      <% if t[:reference]["previous_issue"].present? %>
                        <% if t[:reference]["previous_issue"]["type"].present? %>
                          <tr>
                            <td class="bold font">Card Type:</td>
                            <td class=""><%= t[:reference]["previous_issue"]["type"] %></span></td>
                          </tr>
                        <% end %>
                        <% if t[:reference]["previous_issue"]["brand"].present? %>
                          <tr>
                            <td class="bold font">Brand:</td>
                            <td class=""><%= t[:reference]["previous_issue"]["brand"].upcase %></td>
                          </tr>
                        <% end %>
                        <% if t[:reference]["previous_issue"]["country"].present? %>
                          <tr>
                            <td class="bold font">Country:</td>
                            <td class=""><%= t[:reference]["previous_issue"]["country"]["emoji"] %><%= t[:reference]["previous_issue"]["country"]["name"] %></td>
                          </tr>
                        <% end %>
                        <% if t[:reference]["previous_issue"]["first6"].present? && t[:reference]["previous_issue"]["last4"].present?  %>
                          <tr>
                            <td class="bold font">Card:</td>
                            <td class=""><%= t[:reference]["previous_issue"]["first6"] %>*****<%= t[:reference]["previous_issue"]["last4"] %></td>
                          </tr>
                        <% end %>
                      <% end %>
                    <% end %>
                  </table>
                </div>
              <% end %>

              <% unless list.empty? %>
                <div class="col-lg-4">
                  <table class="table-condensed">
                    <% if list[:reference].present? %>
                      <% if list[:reference]["previous_issue"].present? %>
                        <% if list[:reference]["previous_issue"]["country"].present? %>
                        <% end %>
                        <% if list[:reference]["previous_issue"]["bank"].present? %>
                          <tr>
                            <td class="bold font">Bank:</td>
                          </tr>
                        <% end %>
                        <% if list[:reference]["previous_issue"]["bank"].present? %>
                          <tr>
                            <td class=""><%= list[:reference]["previous_issue"]["bank"]["name"].upcase %></td>
                          </tr>
                        <% end %>
                        <% if list[:reference]["previous_issue"]["bank"].present? %>
                          <tr>
                            <td class=""><a style="color: #0275d8; text-decoration: underline" href="https://<%= list[:reference]["previous_issue"]["bank"]["url"] %>" target="_blank"><%= list[:reference]["previous_issue"]["bank"]["url"] %></a></td>
                          </tr>
                        <% end %>
                        <% if list[:reference]["previous_issue"]["bank"].present? %>
                          <tr>
                            <td class=""><%= list[:reference]["previous_issue"]["bank"]["phone"] %></td>
                          </tr>
                        <% end %>

                      <% end %>
                    <% end %>
                  </table>
                </div>
              <% else %>
                <div class="col-lg-4">
                  <table class="table-condensed">
                    <% if t[:reference].present? %>
                      <% if t[:reference]["previous_issue"].present? %>
                        <% if t[:reference]["previous_issue"]["country"].present? %>
                        <% end %>
                        <% if t[:reference]["previous_issue"]["bank"].present? %>
                          <tr>
                            <td class="bold font">Bank:</td>
                          </tr>
                        <% end %>
                        <% if t[:reference]["previous_issue"]["bank"].present? %>
                          <tr>
                            <td class=""><%= t[:reference]["previous_issue"]["bank"]["name"].upcase %></td>
                          </tr>
                        <% end %>
                        <% if t[:reference]["previous_issue"]["bank"].present? %>
                          <tr>
                            <td class=""><a style="color: #0275d8; text-decoration: underline" href="https://<%= t[:reference]["previous_issue"]["bank"]["url"] %>" target="_blank"><%= t[:reference]["previous_issue"]["bank"]["url"] %></a></td>
                          </tr>
                        <% end %>
                        <% if t[:reference]["previous_issue"]["bank"].present? %>
                          <tr>
                            <td class=""><%= t[:reference]["previous_issue"]["bank"]["phone"] %></td>
                          </tr>
                        <% end %>

                      <% end %>
                    <% end %>
                  </table>
                </div>
              <% end %>
            </div>
            <!--card info goes here-->
            <% if t[:last4].present? && card.present? %>
              <hr style="margin: 0px;">
            <% end %>
            <% if type.present? and not type.nil? and type == 'approve_request' %>
              <hr style="margin-top: 0px;">
              <div class="row">
                <div class="col-lg-12">
                  <h5 class="bold font">Events</h5>
                  <div class="">
                    <div class="col-lg-12">
                      <div class="" >
                        <div class="col-sm-8 col-lg-8 "><span class="bold font">Card added successfully</span> </div>
                      </div>
                    </div>
                    <div class="col-lg-12">
                      <div class="" >
                        <div class="col-sm-3 col-lg-5 "> <span class="bold font">Amount Desposited</span> </div>
                        <div class="col-sm-8 col-lg-7 "> <span class="bold font">$ <%=amount.nil? ? 'N/A' : amount %></span> </div>
                      </div>
                    </div>
                    <div class="col-lg-12">
                      <div class="" >
                        <div class="col-sm-3 col-lg-5 "> <span class="bold font">Time</span> </div>
                        <div class="col-sm-8 col-lg-7 "> <span class="bold font">$ <%=timestamp.nil? ? 'N/A' : timestamp %></span> </div>
                      </div>
                    </div>
                    <div class="col-lg-12">
                      <div class="" >
                        <div class="col-sm-3 col-lg-5 "> <span class="bold font">Merchant</span> </div>
                        <div class="col-sm-8 col-lg-7 "> <span class="bold font"><%=merchant.nil? ? 'N/A' : merchant %></span> </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            <% elsif t[:reference]["refund_details"].present? %>
              <hr style="margin-top: 0px;">
              <div class="row">
                <div class="col-lg-12">
                  <h5 class="bold font">Events:</h5>
                  <div class="col-md-12">
                    <% if t[:type] == "Refund" %>
                      <div class="col-sm-12 col-lg-12 bg" style="border-radius: 40px; margin-bottom: 30px">
                          <span class="bold font">
                            <%= users[:destination].nil? ? " " : users[:destination].name %> made a transaction of $<%= list[:reference].nil? ? amount : list[:reference]["previous_issue"]["issue_amount"]%> at:
                            <span class="modalTime"><%= list[:reference]["previous_issue"]["timestamp"]  %></span>
                          </span>
                      </div>
                      <div class="col-sm-12 col-lg-12 bg" style="border-radius: 40px; margin-bottom: 30px">
                      <span class="bold font">
                          $<%= t[:amount] %> was refunded to <%= users[:destination].nil? ? " " : users[:destination].name %> at:
                        <span class="modalTime"><%= t[:timestamp]  %></span>
                      </span>
                      </div>
                    <% elsif t[:type] == "Refund Bank" %>
                      <div class="col-sm-12 col-lg-12 bg" style="border-radius: 40px; margin-bottom: 30px">
                          <span class="bold font">
                            <%= users[:source].nil? ? " " : users[:source].name %> made a transaction of $<%= list[:reference].nil? ? amount : list[:reference]["previous_issue"]["issue_amount"] %> at:
                            <span class="modalTime"><%= list[:reference]["previous_issue"]["timestamp"] if list.present?  %></span>
                          </span>
                      </div>
                      <div class="col-sm-12 col-lg-12 bg" style="border-radius: 40px; margin-bottom: 30px">
                      <span class="bold font">
                          $<%= t[:amount] %> was wihtdrawn from <%= users[:source].nil? ? " " : users[:source].name %> at:
                        <span class="modalTime"><%= t[:timestamp]  %></span>
                      </span>
                      </div>
                    <% end %>
                  </div>
                </div>
            <% else %>
              <% if (activity_log.present? and not activity_log.nil?) || (trx.present? && trx.refund_log.present?) %>
                <hr style="margin-top: 0px;">
                <div class="row">
                  <div class="col-lg-12">
                    <h5 class="bold font">Events:</h5>
                    <div class="col-md-12">

                      <div class="col-sm-12 col-lg-12 bg" style="border-radius: 40px; margin-bottom: 30px"> <span class="bold font"> <%= users[:source].nil? ? "" : users[:source].name %> made a transaction of $<%= amount %> at: <span class="modalTime"><%= t[:timestamp]  %></span> </span> </div>
                      <!--<div class="col-sm-12 col-lg-12 bg" style="border-radius: 40px; margin-bottom: 30px"> <span class="bold font">  ytdryrdtuydtr <%#= activity_log.note if activity_log.present?  %> <span class="modalTime"><%= t[:timestamp]  %></span></span> </div>-->
                    </div>
                    <% if trx.present? && trx.refund_log.present? %>
                      <h5 class="bold font">Refunds:</h5>
                      <div class="col-md-12">
                        <% refund_detail = JSON.parse(trx.refund_log) %>
                        <% amount = 0 %>
                        <% if refund_detail.kind_of?(Array) %>
                          <% refund_detail.each do |refund| %>
                            <div class="col-sm-12 col-lg-12 bg" style="border-radius: 40px; margin-bottom: 30px">
                                    <span class="bold font">
                                      <% if amount > 0 %>
                                        <%= number_to_currency(number_with_precision((amount.to_f - refund["amount"]), precision: 2))  %> has been refunded at <span class="modalTime"><%= DateTime.parse(refund["date"]).strftime("%Y-%m-%d %H:%M:%S") %> </span> with id: <%= refund["sequence_id"]  %>
                                      <% else %>
                                        <%= number_to_currency(number_with_precision((amount.to_f - refund["amount"] ), precision: 2)) %> has been refunded at <span class="modalTime"><%= DateTime.parse(refund["date"]).strftime("%Y-%m-%d %H:%M:%S") %> </span> with id: <%= refund["sequence_id"]  %>
                                      <% end %>
                                    </span>
                            </div>
                            <% amount = refund["amount"] %>
                          <% end %>
                        <% else %>
                          <div class="col-sm-12 col-lg-12 bg" style="border-radius: 40px; margin-bottom: 30px">
                                <span class="bold font">
                                  <%= number_to_currency(number_with_precision((amount.to_f - refund_detail["amount"]), precision: 2))  %> has been refunded at <span class="modalTime"><%= DateTime.parse(refund_detail["date"]).strftime("%Y-%m-%d %H:%M:%S") %> </span> with id: <%= refund_detail["sequence_id"]  %>
                                </span>
                          </div>
                        <% end %>
                      </div>
                    <% end %>
                  </div>
                </div>
              <% end %>
            <% end %>
            <div class="row">
              <div class="col-sm-6 col-lg-6">
              </div>
              <div class="col-sm-6 col-lg-6">
                <%# if t["main_type"].downcase == "sale"%>
                <%#= link_to "Dispute", dispute_case_admins_disputes_path(transaction: t["id"],requested_path:"admin_transactions"),remote: true, class: "btn btn-danger pull-right lg-pad", style: "padding: 8px 21px;margin-bottom: 20px;border-radius: 5px;"%>
                <%# end %>
              </div>
            </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
    <%# if error_count == 0 %>
    // <!--      $('#error').hide()-->
    <!--      $('#no-error').show()-->
    <%# else %>
    <!--      $('#adminModal').css('width','700px')-->
    <!--      $('#adminModal').css('margin','auto')-->
    <!--      $('#error').show()-->
    <!--      $('#no-error').hide()-->
    <%# end %>
    $('.modalTime').each(function (i,v) {
        var gmtDateTime = moment.utc(v.innerText, 'YYYY-MM-DD HH:mm:ss');
        var local = moment(gmtDateTime).local().format('MM-DD-YYYY hh:mm:ss A');
        v.innerText = local;
    });
</script>