<table id="datatable-dispute-cases" class="table table-striped " cellspacing="0" cellpadding="0">
  <thead>
  <tr>
    <th>DBA Name</th>
    <th>Case Number</th>
    <th>Dispute Type</th>
    <th>Received Date</th>
    <th id="due_date">Due Date</th>
    <th>Amount</th>
    <th>Last 4</th>
    <th id="status_id">Status</th>
    <th id="none1">Date</th>
    <th>Action</th>
  </tr>
  </thead>
  <tbody id="tbody">
  <% @dispute_case.each do |dispute_case| %>

      <tr>
      <td><%= dispute_case.merchant_wallet.location.business_name %></td>
      <td><%= dispute_case.try(:case_number) %></td>
      <td><%= dispute_case.try(:dispute_type)=='charge_back' ? 'Chargeback' : dispute_case.try(:dispute_type).try(:humanize).try(:titleize) %></td>
      <% if dispute_case.recieved_date.nil? %>
        <td>NA</td>
      <% else %>
        <td class="timeUtc" >
          <span id="NA"><%= dispute_case[:recieved_date].strftime("%m-%d-%Y") %>
        </span>
        </td>
      <% end %>
      <% if dispute_case.due_date.nil? %>
        <td>NA</td>
      <% else %>
        <td class="timeUtc" >
          <%= dispute_case[:due_date].strftime("%m-%d-%Y") %></td>
      <% end %>
      <td>$<%= number_with_precision(dispute_case.try(:amount),precision: 2) %></td>
      <td><%= dispute_case.try(:card_number) %></td>
      <td >
        <% if dispute_case.try(:status)=='won_reversed' %>
          <span class="badge badge-success" id="dispute_won">Won/Reversed</span>
        <% elsif dispute_case.try(:status)=='sent_pending' %>
          <span class="badge badge-primary" id="dispute_pending">Sent/Pending</span>
        <% elsif dispute_case.try(:status)=='lost' %>
          <span class="badge badge-danger" id="dispute_lost">Lost</span>
        <% elsif dispute_case.try(:status)=='dispute_accepted' %>
          <span class="badge badge-danger" id="dispute_accept">Dispute Accepted</span>
        <% elsif dispute_case.try(:status)=='under_review' %>
          <span class="badge badge-danger" id="dispute_under_review">Under Review</span>
        <% end %>
      </td>
      <td id="none1"><% dispute_case.try(:created_at) %>
        <input type="hidden" id="dispute_id">
      </td>
      <td>
        <div class="dropdown" >
          <a href="#" class="dispute_function" id="dispute_dropdown" data="<%= dispute_case.try(:id) %>" data-toggle="dropdown">●●●
          </a>
          <ul class="dropdown-menu" id="dispute_dropdown_menu">
            <% if dispute_case.evidence.present? %>
              <li class="dispute_cover_spiner" ><%= link_to('Transaction Detail',merchant_transaction_local_details_modal_path(transaction_id:dispute_case.try(:transaction_id),from_cbk:'true'), :remote => true, class: 'btn btn-sm',style:'width: 100%;') %></li>
              <% if dispute_case.sent_pending? || dispute_case.dispute_accepted?  %>
                <% if dispute_case.sent_pending?  %>
                  <% if @user_permission.admin? || @user_permission.accept_dispute %>
                  <li data-toggle="modal" data-target="#confirm" ><a  class="btn btn-sm" id="dispute_width">Accept Dispute</a></li>
                  <% end %>
                <% end %>
                <% if @user_permission.admin? || @user_permission.dispute_submit_evidence %>
                <li class="dispute_cover_spiner"><%= link_to('View/Add Evidence',upload_evidence_merchant_disputes_path(id:dispute_case.try(:id),trans_id:dispute_case.try(:[],'transaction_id')), class: 'btn btn-sm',style:'width: 100%;') %></li>
                <% end %>
              <% end %>
            <% else %>

              <li class="dispute_cover_spiner"><%= link_to('Transaction Detail',merchant_transaction_local_details_modal_path(transaction_id:dispute_case.try(:transaction_id),from_cbk:'true'), :remote => true, class: 'btn btn-sm',style:'width: 100%;') %></li>
              <% if dispute_case.sent_pending? %>
                <% if @user_permission.admin? || @user_permission.accept_dispute %>
                  <li data-toggle="modal" data-target="#confirm" ><a  class="btn btn-sm" id="dispute_width">Accept Dispute</a></li>
                <% end %>
                <% if @user_permission.admin? || @user_permission.dispute_submit_evidence %>
                <li class="dispute_cover_spiner"><%= link_to('Upload Evidence',upload_evidence_merchant_disputes_path(id:dispute_case.try(:id),trans_id:dispute_case.try(:[],'transaction_id')), class: 'btn btn-sm',style:'width: 100%;') %></li>
                <% end %>
              <% end %>
            <% end %>
          </ul>
        </div>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>
<span id="show_ing">Showing <%=@dispute_case.try(:count)%> into <%=@dispute_case.total_count %> records</span>
<%= paginate @dispute_case, :theme => 'twitter-bootstrap-3', :pagination_class => "pagination-small pagination-centered pull-right padd" %>