/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_self
 *= require bootstrap.css
 *= require tether
 *= require vendor
 *= require app-green.css
 *= require app-loader
 *= require admins/custom_style
 *= require bootstrap-datepicker
 *= require admins/merchant_config
 *= require select2
 *= require select2-bootstrap
 *= require merchant/countrySelect
 */
@import "intlTelInput";


#cover-spin {
    position:fixed;
    width:100%;
    left:0;right:0;top:0;bottom:0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index:9999;
    display:none;
}
.daterangepicker{
  color: black !important;
  //min-width:500px;
}
@-webkit-keyframes spin {
    from {-webkit-transform:rotate(0deg);}
    to {-webkit-transform:rotate(360deg);}
}

@keyframes spin {
    from {transform:rotate(0deg);}
    to {transform:rotate(360deg);}
}

#cover-spin::after {
    content:'';
    display:block;
    position:absolute;
    left:48%;top:40%;
    width:40px;height:40px;
    border-style:solid;
    border-color:black;
    border-top-color:transparent;
    border-width: 4px;
    border-radius:50%;
    -webkit-animation: spin .8s linear infinite;
    animation: spin .8s linear infinite;
}

.location_label{
    width: 11.0% !important;
    font-weight: 700;
    font-size: 11px;
    display: block;
    float: left;
    //width: 20%;
    padding: 1.5em;
    color: #757575;
    cursor: pointer;
    text-decoration: none;
  margin-bottom: 2%;

}
 .p30 {
   padding: 30px !important;
 }

.p30 {
    padding: 30px !important;
}

.mt15 {
    margin-top: 15px !important;
}

.mb15 {
    margin-bottom: 15px !important;
}

.sidebar-header .brand {
    background: #fff !important;
}

.bank-opt > form > span > label {
    width: 100px;
    font-size: 15px;
}

.bank-opt > form > span > label > input {
    margin-right: 10px;
}

.dtr-data > img {
    max-height: 150px !important;
}

.table-responsive {
    margin-top: 10px;
}
/* Cosmetic only */
#easyPaginate {width:300px;}
.easyPaginateNav a {padding:5px;}
.easyPaginateNav a.current {font-weight:bold;text-decoration:underline;}

.cases_table{
    margin: 0 auto;
    width: 100%;
    clear: both;
    border-collapse: collapse;
    table-layout: fixed;
    word-wrap:break-word;
}
.cases_box_text_data{
    font-size: 20px;
    color: white;
    margin: 0px;
}
.cases_green_box_base_line{
    width: 88%;
    height: 1px;
    background-color: green;
    margin:0px 17px;
}
.cases_green_box{
    background-color: #7fbb49;
    border-radius: 10px;
    padding:10px 0px;
    margin:0px 0px 0px 10px;
    width: 16%;
    float: left;
}
.cases_blue_box{
    background-color: #6d85fb;
    border-radius: 10px;
    padding:10px 0px;
    margin:0px 0px 0px 8px;
    width: 16%;
    float: left;
}
.cases_red_box{
    background-color:red;
    border-radius: 10px;
    padding:10px 0px;
    margin:0px 0px 0px 10px;
    width: 16%;
    float: left;
}
.cases_purple_box{
    background-color:#b045a5;
    border-radius: 10px;
    padding:10px 0px;
    margin:0px 0px 0px 10px;
    width: 16%;
    float: left;
}
.cases_gray_box{
    background-color:darkgray;
    border-radius: 10px;
    padding:10px 0px;
    margin:0px 0px 0px 10px;
    width: 16%;
    float: left;
}
.cases_brown_box{
    background-color:firebrick;
    border-radius: 10px;
    padding:10px 0px;
    margin:0px 0px 0px 10px;
    width: 16%;
    float: left;
}
.cases_blue_box_base_line{
    width: 88%;
    height: 1px;
    background-color: blue;
    margin:0px 17px;
}
.cases_red_box_base_line{
    width: 88%;
    height: 1px;
    background-color: red;
    margin:0px 17px;
}
.cases_merchant_box{
    background-color:blue;
    border-radius: 10px;
    padding:10px 0px;
    margin:0px 0px 0px 10px;
    width: 49%;
    float: left;
}
.cases_menu_carded{
    padding: 20px 0px 10px 0px;
}
.cases_check_box_filters_label {
    padding:0px 5px;
    color:black;
}
/*for adding icon in input fields*/
.icon_inside_input_field {
    position: relative;
}
.icon_inside_input_field > i {
    position: absolute;
    display: block;
    transform: translate(0, -50%);
    top: 18px;
    pointer-events: none;
    width: 25px;
    text-align: center;
    font-weight: bold;
    font-size: 16px;
}
.icon_inside_input_field > input {
    padding-left: 25px;
    padding-right: 0;
}

/* BuyRate CSS*/
#buyrate-container{
    background-color: white;
    padding: 10px
}
#buyrate-title{
    float: left;
    margin-right: 20px;
}
#buyrate-info-heading{
    padding-left: 10px;
}
#buyrate-user-fields-container{
    padding-left: 10px;
}
#buyrate-fields-container{
    padding: 10px
}
#buyrate-text{
    padding-left: 10px;
}
#buyrate-labels-container{
    padding: 12px;
}
#buyrate-fields-div{
    padding: 10px;
}
#buyrate-save-btn-div{
    padding:0px;
}
.buyrate-row{
    padding: 15px;
}
#buy-rate-full-partial{
    padding: 0px;
}
.buyrate_fields{
    padding-left: 25px !important;
}
.blue_btn{
    color: white;
    background-color: blue;

}
.percentage_validation
{
  padding-left: 25px !important;
}
/* BuyRate CSS END*/
/*end */


/*=========================*/
/*minfraud_risk_column start*/
/*=========================*/

.cr-red{
  color:white;
  background-color: red;
  border: 1px solid red;
}

.cr-green{
  color:white;
  background-color: lawngreen;
  border: 1px solid lawngreen;
}

.mr-red{
  color:white;
  background-color: red;
  border: 1px solid red;
}

.mr-green{
  color:white;
  background-color: lawngreen;
  border: 1px solid lawngreen;
}

.risk-evaluation{
  border-radius: 4px;
  padding:6px;
  font-weight:800;
}

.a-green{
  color:white;
  background-color: lawngreen;
  padding: 5px 9px;
  border: 1px solid lawngreen;
}

.r-red{
  color:white;
  background-color: red;
  padding: 5px 9px;
  border: 1px solid red;
}

.no-disposition{
  position: relative;
  padding: 5px 12px;
  border: 2px solid #abb2b6;
}

.no-disposition:before {
  border-bottom: 3px solid #abb2b6;
  content: '';
  left: -4px;
  position: absolute;
  top: 12px;
  transform: rotate(135deg);
  width: 36px;
}

.cr-p-manual-review{
  color: #4f5f6f;
  background-color: white;
  border: 2px solid #4f5f6f;
}

.cr-expired-review{
  background-color: grey;
  color: white;
  border: 2px solid grey;
}
/*=========================*/
/*minfraud_risk_column end*/
/*=========================*/