.heading{
  font-weight: bold;
  font-size: 18px;
}
mark {
  background-color: #ff0;
}
.text-center{
  text-align: center;
}
.main {
  padding: 10px 50px;
}
img {
  width: 220px;
}
.logo {
  width: 100%;
  text-align: center;
}