.header-bg {
    background: turquoise !important;
    height: 20px !important;
    padding: 0px !important;
    margin-bottom: 5px !important;
}

.p30 {
    padding: 30px !important;
}

.mt15 {
    margin-top: 15px !important;
}

.mt30 {
    margin-top: 30px !important;
}

.mb15 {
    margin-bottom: 15px !important;
}

.ptb20 {
    padding: 20px 0px !important;
}

.p10 {
    padding: 10px !important;
}

.app-heading {
    padding: 0px !important;
    margin: 0px !important;
}

.bg-grey {
    background: #f8f8f8;
}

.heading {
    font-size: 15px !important;
    font-weight: normal;
}

.br-b-grey {
    border-bottom: 1px solid lightgrey;
}