#session-language {
    margin: 05px 15px 0 10px;
}

#session-language-dropdown {
    margin: 13px 15px 0 0;
}

#session-language-dropdown li {
    position: relative;
}

.selected-session-language {
    position: absolute;
    top: 6px;
    left: 4px;
}

#captcha {
    width: 100px !important;
    display: inline-block !important;
}

/*@media (max-width:767px) {*/
/*    #session-language {*/
/*        margin: 12px 0 0 15px;*/
/*    }*/
/*}*/
/*merchant styles start*/
.header-bg-m{
    height: 200px;
    background: #7867a7;
    padding-top: 60px;
    padding-bottom: 40px;
    color: #fff;
}
.header-bg-m h4{
  margin-bottom: 5px;
}
.header-bg-m h1{
  margin-top: 0;
}

.header-bg-m .btn-group{
  margin-top: 20px;
}

.header-bg-m .btn-line{
  min-width: 120px;
}
.header-bg-m a {
  color: #fff;
}
/*merchant styles end*/
.header-bg {
  height: 100px;
  background: #7867a7;
  padding-top: 20px;
  padding-bottom: 40px;
  color: #fff;
  margin-bottom: 50px;
}

.header-bg h4{
  margin-bottom: 5px;
}
.header-bg h1{
  margin-top: 0;
}

.header-bg .btn-group{
  margin-top: 20px;
}

.header-bg .btn-line{
  min-width: 120px;
}
.header-bg a {
  color: #fff;
}

.list-group-item i {
  line-height: 1.4;
  font-size: 16px;
}

.alert-icon i {
  font-size: 50px;
  line-height: 1.35;
}
.alert-timedout {
    display: none;
}
.payment-icon i {
  font-size: 60px;
  line-height: 1.35;
}

.title {
  padding: 0px 0px 15px;
}

.margin-left-10 {
  margin-left: 10px;
}

.margin-top-10 {
  margin-top: 15px;
}

.margin-top-35 {
  margin-top: 35px;
}

#nav.affix {
    position: fixed;
    top: 0;
    width: 100%
}

#nav-wrapper.affix {
    top: 0;
    width: 100%;
    z-index: 999999;
}
.text-white {
    color: #fff;
}
.footer {
    color: #828282;
    background-color: #2c2b29;
    margin-top: 50px;
}
.footer a {
  color: #828282;
}
.footer hr {
  border-top: 1px solid #383838;
  margin-top: 10px;
}
.footer .list-group {
    margin-top: 15px;
}
.footer .list-group-item {
    background-color: #2c2b29;
    border: none;
}
.footer .form-control {
  display: block;
  width: 100%;
  height: 34px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #fff;
  background-color: #2c2b29;
  background-image: none;
  border: 1px solid #fff;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
  -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
 }
.footer .form-control:focus {
  border-color: #7867a7;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, 0.6);
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, 0.6);
 }
.form-icon {
    line-height: 6.5;
}

/* --- pay-method --- */

.plan-card-group {
  display: block;
  margin: auto;
  width: 100%;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
}

.radio-card {
  width: 100%;
  margin-bottom: 30px;
}
.radio-card label {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  height: 140px;
  background: #f9f9f9;
  border: 1px solid #e4e4e4;
  color: #003d2e;
  border-radius: 5px;
  transition: all 0.2s ease-in-out;
}
.radio-card label:hover {
  cursor: pointer;
  background: #ececec;
}
.radio-card label:active {
  background: #ececec;
  color: #ccf5eb;
}
.radio-card input[type="radio"]:checked ~ label {
  background: rgba(127, 103, 170, 0.2);
  color: white;
  border: 1px solid #cac8c8;
}

.card-title {
  display: block;
  font-size: 20px;
  width: 100%;
}

.planes-radio {
  display: none;
}

#plan-finalizar {
  display: block;
  margin: auto;
  padding: 15px 25px;
  border: none;
  border-radius: 5px;
  background: rgba(79, 179, 110, 0.35);
  color: white;
  font-size: 16px;
  transition: all 0.5s;
}
#plan-finalizar:hover {
  cursor: pointer;
  background: #00c291;
  color: white;
}
#plan-finalizar:focus, #plan-finalizar:active {
  outline: none;
  background: rgba(79, 179, 110, 0.35);
}
#plan-finalizar:disabled {
  background: #ddd;
  cursor: default;
}

fieldset {
  border: none;
}

legend {
  padding: 10px;
  font-size: 24px;
  font-weight: 300;
}

.padding-10 {
  padding: 10px;
}

.padding-20 {
  padding: 20px;
}

.padding-35 {
  padding: 35px;
}

.radio-card .fee { background: #7f67aa none repeat scroll 0 0;
  color: #fff;
  font-size: 12px;
  font-weight: bold;
  letter-spacing: 1px;
  padding: 0px 10px;
  position: absolute;
  right: 15px;
  top: 0;
  z-index: 4;
  line-height: 25px;
}

/* --- pay-method --- */

.card-price {
  border: 1px solid #dddddd;
  border-radius: 4px;
  -webkit-box-shadow: 0 3px 0px 0 rgba(0, 0, 0, 0.08);
  box-shadow: 0 3px 0px 0 rgba(0, 0, 0, 0.08);
  transition: all .3s ease-in-out;
  padding: 2.25rem 0;
  position: relative;
  will-change: transform;
}
.card-price:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 0%;
  height: 5px;
  background-color: #8171AE;
  transition: 0.5s;
}
.card-price:hover {
  transform: scale(1.05);
  -webkit-box-shadow: 0 20px 35px 0 rgba(0, 0, 0, 0.08);
  box-shadow: 0 20px 35px 0 rgba(0, 0, 0, 0.08);
}
.card-price:hover:after {
  width: 100%;
}
.card-price .card-header {
  background-color: white;
  padding-left: 2rem;
  border-bottom: 0px;
}
.card-price .card-title {
  margin-bottom: 1rem;
}
.card-price .card-block {
  padding-top: 0;
}
.card-price .list-group-item {
  border: 0px;
  padding: .25rem;
  color: #808080;
  font-weight: 300;
}

.display-2 {
  font-size: 7rem;
  letter-spacing: -.5rem;
}
.display-2 .currency {
  font-size: 2.75rem;
  position: relative;
  font-weight: 400;
  top: -45px;
  letter-spacing: 0px;
}
.display-2 .period {
  font-size: 1rem;
  color: #b3b3b3;
  letter-spacing: 0px;
}
.main-title {
  background: #ececec;
}
.main-title h4 {
  margin-bottom: 20px;
}
.landing {
  height: 480px;
  background: url('img/main3.jpg');
  background-repeat: no-repeat;
  background-position: 100% 100%;
  background-size: cover;
  padding-top: 70px;
  padding-bottom: 40px;
  color: #fff;
}
.partner {
  height: 360px;
  background: #7867a7;/* url(/assets/img/map.jpg);*/
  background-repeat: no-repeat;
  background-position: 100% 100%;
  background-size: cover;
  padding-top: 35px;
  margin-top: 35px;
  padding-bottom: 40px;
  color: #fff;
}
.landing .btn-success{
  min-width: 170px;
  margin-right: 10px;
}
.landing .btn-line{
  min-width: 170px;
  margin-left: 10px;
}
.bs-callout {
  margin: 20px 0;
  padding: 10px 20px;
  border-left: 3px solid #4CAF50;
  background-color: #f1fff1;
}
.bs-callout h4{
  color: #4CAF50;
}
.bs-callout-warning {
  margin: 20px 0;
  padding: 10px 20px;
  border-left: 3px solid #FFC107;
  background-color: #fff7df;
}
.payres{
  color: #FFFFFF;
  background: #7867a7;
  padding: 0.2em 0.4em;
  font-size: 3em;
  }
.circle{
  border-radius: 60%;
  margin: 0.15em;
  font-size: 3em;
}
.cmn-t-pulse {
  animation: pulse 1s ease infinite;
  /* transition: transform 0.2s; */
}
.box-shadow {
  box-shadow: 0 5px 34px 0 rgba(35, 35, 58, 0.22);
}

/*@keyframes pulse {*/
/*  0% {*/
/*    transform: scale(1);*/
/*  }*/

/*  50% {*/
/*    transform: scale(1.1);*/
/*  }*/

/*  100% {*/
/*    transform: scale(1);*/
/*  }*/
/*}*/




