.login-input-group.input-group-focus {
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6) !important;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6) !important;
}
.input-group-focus input:focus {
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
}
.input-group-focus .input-group-addon {
    border-color: #66afe9 !important;
}
#login-form-qc{
    border: 1px solid lightgray;
    padding: 23px 40px 10px 45px;
    background: white;
    margin-top: 1.5%;
    margin-bottom: 3%;
    -webkit-box-shadow: 2px 0px 17px -1px rgba(36,32,36,1);
    -moz-box-shadow: 2px 0px 17px -1px rgba(36,32,36,1);
    box-shadow: 2px 0px 17px -1px rgba(36,32,36,1);
}

#input-group-addon-login-qc {
    border-radius: 0px;
    background: transparent;
    border-right: none;
}
#input-group-addon-login-qc-eye {
    border-radius: 0px;
    background: transparent;
}
input#username, input#password{
    border-radius: 0px;
    border-left: none;
}
#login-image-qc{
    height: 100px;
    width: 100px;
    font-weight: lighter;
    display:block;
    margin-left: auto;
    margin-right: auto;
}
#login-form-submit{
    border-radius: 0px;
}
#login-form-h2{
    font-family: "Lucida Console", Monaco, monospace;
    text-align: center;
    font-weight: lighter;
    line-height: 0px;
}
#login_forgot_password{
    font-weight: bold;
}
.outer-login-qc {
    display: table;
    position: absolute;
    height: 100%;
    width: 100%;
}

.middle-login-qc {
    display: table-cell;
    vertical-align: middle;
}
.inner-login-qc{
    margin-left: auto;
    margin-right: auto;
}
#row_login_reset_password{
    margin-top: 60px;
    padding: 0px 10px;
    text-align: center;
}
.version{
    text-align: center;
    margin-top: 28px;
    color: gray;
    font-size: 12px;
}
#forgot{
    margin-top: 60px;
    padding: 0px 10px;
    text-align: center;
}
#length, #one_number, #upper_case, #lower_case{
    margin-right: 10px;
}
.figure {
    display: inline-block;
}
.has-error{
    color: red;
}
.redError{
    color: red;
}
.plzhide {
    display: none !important;
}
.bg-white
{
    background-color: white;
}
.msg_60{
    text-align: center;
    color: red;
    font-weight: bold;
}
.two_factor_code{
    cursor: pointer;
}