/*_admin_sidebar.html.erb*/

.overflow-x-scroll-shared{
    overflow-x: scroll;
}

.font-size-25-px-shared{
    font-size: 25px;
}

.notification-count1-shared{
    font-size: 10px;color: white;
}

.display-none-shared{
    display:none;
}

/*_atm_modal.html.erb*/

.float-right-shared{
    float: right;
}

.float-left-shared{
    float: left;
}

.text-align-center-shared{
    text-align:center !important;
}

/*_flash.html.erb*/

.background-green-shared{
    background-color: green;
}


.warn,
.warn::before,
.warn::after
{
    position: relative;
    padding: 0;
    margin: 0;
}
.warn {
    font-size: 36px;
    color: transparent;
}
.warn.warning {
    display: inline-block;
    top: 0.225em;
    width: 1.15em;
    height: 1.15em;
    overflow: hidden;
    border: none;
    background-color: transparent;
    border-radius: 0.625em;
}
.warn.warning::before {
    content: "";
    display: block;
    top: -0.08em;
    left: 0.0em;
    position: absolute;
    border: transparent 0.6em solid;
    border-bottom-color: red;
    border-bottom-width: 1em;
    border-top-width: 0;
    box-shadow: #999 0 1px 1px;
}
.warn.warning::after {
    display: block;
    position: absolute;
    top: 0.1em;
    left: 0;
    width: 100%;
    padding: 0 1px;
    text-align: center;
    font-family: "Garamond";
    content: "!";
    font-size: 0.65em;
    font-weight: bold;
    color: white;
}

/*_footer.html.erb*/

.footer-shared{
    position: fixed;
    bottom: 0;
    margin-bottom: 0;
    width: 100%;
}

/*_header.html.erb*/

.margin-right-5-px-shared{
    margin-right:5px !important;
}


.margin-left-72-px-shared{
    margin-left:72px !important;
}

/*_iso_agent_menue.html.erb*/

.sidebar-menu-merchant-shared {
    overflow: auto;height:100px;border: 1px solid #d8d8d8;border-radius: 5px;padding:0px;margin:5px;
}
.sidebar-menu-merchant-shared{
    overflow-y:hidden !important;overflow: auto;height:auto; min-height:50px;border: 1px solid #d8d8d8;border-radius: 5px;padding:0px;margin:5px;
}

.sidebar-menu-iso-shared{
    overflow: auto;border: 1px solid #d8d8d8;border-radius: 5px;padding:0px;margin:5px;
}

/*_export_modal.html.erb*/

.width-600-px-shared{
    width:600px !important;
}

.background-smoke-m-b-16-shared{
    background-color: whitesmoke;margin-bottom: -16px;
}

.background-whitesmoke-shared{
    background-color: whitesmoke;
}

.remaining-login-flash-shared{
    border:0px solid red; border-radius: 2px;
}
.modal-header-shared{
    background-color: #cc0000 !important; padding-left: 100px !important;
}

/*_merchant-header*/

.dd_name{
    background: transparent !important;
    color: white !important;
    font-size: 15px !important;

}
.btn:focus, .btn.focus{
    outline: none;
    box-shadow: none !important;
}
.verticalLine {
    border-left: thick solid #ff0000;
}
.profile_drop {
    background-color: transparent !important;
    color: #777 !important;
}

.profile_drop:hover {
    /*background-color: transparent;*/
    background-color: #e1e3e9 !important;
    color: #333 !important;
}


.color-white-font-size-23-shared{
    color:white; font-size:23px;
}

.padding-10-m-l-53-shared{
    padding: 10px;margin-left: -53px;
}

.padding-right-5-px-shared{
    padding-right: 5px;
}

.padding-left-5-px-shared{
    padding-left: 5px;
}
/* Tracking detail modal  start*/
:root {
    --breadcrumb-title-color-active: #0c0c0c;
    --breadcrumb-title-color-nonactive: #595959;
    --breadcrumb-dot-color-active: #27ab27;
    --breadcrumb-dot-color-nonactive: #dbdbdb;
}
.bs-wizard {
    /*margin-top: 40px;*/
}
/*Form Wizard*/
.bs-wizard {
    /*border-bottom: solid 1px #e0e0e0;*/
    padding: 0 0 10px 0;
    width: 900px;
}
.bs-wizard > .bs-wizard-step {
    padding: 0;
    position: relative;
}
.bs-wizard > .bs-wizard-step + .bs-wizard-step {
}
.bs-wizard > .bs-wizard-step .bs-wizard-stepnum {
    color: #595959;
    font-size: 16px;
    margin-bottom: 5px;
}
.bs-wizard > .bs-wizard-step .bs-wizard-info {
    font-size: 14px;
    font-weight: 700;
    margin-top: 32px;
}
.bs-wizard > .bs-wizard-step.complete .bs-wizard-info {
    color: var(--breadcrumb-title-color-active);
}
.bs-wizard > .bs-wizard-step.active .bs-wizard-info {
    color: var(--breadcrumb-title-color-active);
}
.bs-wizard > .bs-wizard-step.disabled .bs-wizard-info {
    color: var(--breadcrumb-title-color-nonactive);
}
.bs-wizard > .bs-wizard-step > .bs-wizard-dot {
    position: absolute;
    width: 30px;
    height: 30px;
    display: block;
    background: var(--breadcrumb-dot-color-active);
    top: 45px;
    left: 50%;
    margin-top: -15px;
    margin-left: -15px;
    border-radius: 50%;
}
.bs-wizard > .bs-wizard-step > .bs-wizard-dot:after {
    content: " ";
    width: 22px;
    height: 22px;
    background: var(--breadcrumb-dot-color-active);
    border-radius: 50px;
    position: absolute;
    top: 4px;
    left: 4px;
}
.bs-wizard > .bs-wizard-step > .progress {
    background-color: var(--breadcrumb-dot-color-nonactive);
    position: relative;
    border-radius: 0px;
    height: 4px;
    box-shadow: none;
    margin: 21px 0;
}
.bs-wizard > .bs-wizard-step > .progress > .progress-bar {
    width: 0px;
    box-shadow: none;
    background: var(--breadcrumb-dot-color-active);
}
.bs-wizard > .bs-wizard-step.complete > .progress > .progress-bar {
    width: 100%;
}
.bs-wizard > .bs-wizard-step.active > .progress > .progress-bar {
    width: 50%;
}
.bs-wizard > .bs-wizard-step:first-child.active > .progress > .progress-bar {
    width: 0%;
}
.bs-wizard > .bs-wizard-step:last-child.active > .progress > .progress-bar {
    width: 100%;
}
.bs-wizard > .bs-wizard-step.disabled > .bs-wizard-dot {
    background-color: var(--breadcrumb-dot-color-nonactive);
}
.bs-wizard > .bs-wizard-step.disabled > .bs-wizard-dot:after {
    opacity: 0;
}
.bs-wizard > .bs-wizard-step:first-child > .progress {
    left: 50%;
    width: 50%;
}
.bs-wizard > .bs-wizard-step:last-child > .progress {
    width: 50%;
}
.bs-wizard > .bs-wizard-step.disabled a.bs-wizard-dot {
    pointer-events: none;
}
i.checklist {
    color: #fff;
    position: relative;
    top: 5px;
    left: 7.8px;
    z-index: 1;
}
.bs-wizard-step.active > .bs-wizard-dot:after {
    background-color: #fff;
}
.bs-wizard > .bs-wizard-step.disabled > .bs-wizard-dot > i {
    color: var(--breadcrumb-dot-color-nonactive);
}
.table-row{
    margin: 10px;
}
.row-strong{
    background-color: #e2e2e2;
    padding: 7px;
}
.merchant_modal_wizard{
    max-width: 80%;
}
.row-normal{
    padding: 0px 10px;
}
table{
    width: 100%;
}
/* Tracking detail modal  end*/

/* modal
left: -25%;

modal-content
width: 100%
*/
.div33{
    max-width: 100px;
    max-height: 100px;
}
.mb-15{
    margin-bottom: 15rem !important;
}