/* width */
::-webkit-scrollbar {
    width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}
.notice-body {
    margin: 100px auto;
    background-color: #eaeaea;
    width: 450px;
}
.warn-head {
    margin: 0;
    color: #CC3601;
    font-size: 26pt;
    border-bottom: solid 4px #666;
}
.notice-msg {
    padding: 15px;
    color: #000;
}

.body-padding-bottom{
    padding-bottom: 100px !important;
}

.body-padding-bottom{
    padding-right: 0px !important;
}

.display-none-m-layout{
    display:none;
}

.custom-centered-m-layout{
    margin: 0 auto;display: table;
}

.max-width-500-px-m-layout{
    max-width:500px !important;
}

.modal-header-text-white-m-layout{
    background-color: #CA001A;height:65px;
}

.height-50-margin-top-30-m-layout{
    height: 50px;margin-top: 30px;
}

.text-center-margin-auto-m-layout{
    text-align: center;margin:auto;
}

.footer-m-layout{
    position: fixed;
    bottom: 0;
    margin-bottom: 0;
    width: 100%;
}

.footer-2-m-layout{
    position: fixed; bottom: 0; width: 100%; z-index: 910;
}
.display-block{
    display:block;
}

.display-none{
    display:none;
}
