
<div id="num-pad">
<div class="btn-group btn-group-qc">
  <button type="button" class="number button_pad btn btn-default" value="1">
    <span class="text-view">
      <span>1</span><br>
      <span>START</span>
    </span>
  </button>
  <button type="button" class=" number button_pad btn btn-default" value="2">
    <span class="text-view">
    <span>2</span><br>
    <span>ABC</span>
    </span>
  </button>
  <button type="button" class="number button_pad btn btn-default btn-md" value="3">
    <span class="text-view">
    <span>3</span><br>
    <span>DEF</span>
    </span>
  </button>
</div>
<br>
<div class="btn-group btn-group-qc">
  <button type="button" class="number button_pad btn btn-default btn-md" value="4">
    <span class="text-view">
    <span>4</span><br>
    <span>GHI</span>
    </span>
  </button>
  <button type="button" class=" number button_pad btn btn-default btn-md" value="5">
    <span class="text-view">
    <span>5</span><br>
    <span>JKL</span>
    </span>
  </button>
  <button type="button" class="number button_pad btn btn-default btn-md" value="6">
    <span class="text-view">
    <span>6</span><br>
    <span>MNO</span>
    </span>
  </button>
</div>
<br>
<div class="btn-group btn-group-qc">
  <button type="button" class="number button_pad btn btn-default btn-md" value="7">
    <span class="text-view">
    <span>7</span><br>
    <span>PQRS</span>
    </span>
  </button>
  <button type="button" class=" number button_pad btn btn-default btn-md" value="8">
    <span class="text-view">
    <span>8</span><br>
    <span>TUV</span>
    </span>
  </button>
  <button type="button" class="number button_pad btn btn-default btn-md" value="9">
    <span class="text-view">
    <span>9</span><br>
    <span>WXYZ</span>
    </span>
  </button>
</div>

<br>
<div class="btn-group btn-group-qc">
  <button type="button" class="number button_pad btn btn-md  btn-default btn_bg_color" value=".">
    <div class="mar">.</div>
  </button>
  <button type="button" class="number button_pad btn btn-md  btn-default " value="0">
    <div class="mar">0</div>
  </button>
  <button type="button" id="del" class=" number button_pad btn btn-default btn_bg_color" value=""><i class=" fa fa-long-arrow-left dig" aria-hidden="true"></i> </button>
</div>

</div>