<div class="modal fade show in paytip"  tabindex="-1"  role="dialog" id="pay_tip">
  <div class="modal-dialog modal-lg form-group width-30-percent">
    <div class="modal-content">
      <div class="modal-header text-left bg-primary text-white">
        <h4 class="modal-title"><i class="fa fa-location-arrow"></i><span class="ml-2">Redeem QR Code</span></h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="card-header bordered">
            <div class="card-body">
              <% if status == true || qr_codes.present? %>
                <div id="step1">
                  <div class="form-group" id="email_tested">
                    <label for="mer_email">Email</label>
                    <input type="email" name="email" class="form-control" id="mer_email" required/>
                  </div>
                  <div class="form-group" id="pwd_testd">
                    <label for="mer_pwd">Password</label>
                    <input type="password" name="password" class="form-control" id="mer_pwd" required/>
                  </div>
                  <input type="hidden" id="qr_codes_hidden" name="qr_codes" value="<%= qr_codes %>">
                  <input type="submit"class="btn btn-primary btn-sm btn-block" id="vf_mer" data-id="<%= current_user.id %>" value="Submit"/>
                </div>
              <% elsif request_status == "refunded" %>
                QR Code Refunded
              <% else %>
                <div>
                  QR Code Already Used!
                </div>
              <% end %>
              <div class="display-none" id="step2">
                <%= form_tag scanner_sale_merchant_sales_path, method: :post do %>
                  <%= hidden_field_tag :qr_token, token %>
                  <div class="text-center">
                    <%= submit_tag "Redeem", class: "btn btn-primary",  data: { disable_with: "Please wait..." } %>
                  </div>
                <% end %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>