
<% if batch.present? && batch.is_closed %>
    <div class="col-md-3"><label class="font-weight-bold">Total Transactions</label></div>
    <div class="col-md-8"><span class="font-weight-bold text-success"><%= 0 %></span></div>

    <% if wallet.wallet_type=='tip' %>
        <div class="col-md-3"><label class="font-weight-bold">Total Tips</label></div>
        <div class="col-md-8"><span class="font-weight-bold text-success">$ <%= number_with_precision( 0 , precision: 2) %></span></div>
    <% else %>
        <div class="col-md-3"><label class="font-weight-bold">Total Sales</label></div>
        <div class="col-md-8"><span class="font-weight-bold text-success">$ <%=number_with_precision( 0, precision: 2) %></span></div>
    <% end %>
<% else %>
    <div class="col-md-3"><label class="font-weight-bold">Total Transactions</label></div>
    <div class="col-md-8"><span class="font-weight-bold text-success"><%= batch.nil? ? 0 : batch.total_transactions.to_i%></span></div>

    <% if wallet.wallet_type=='tip' %>
      <div class="col-md-3"><label class="font-weight-bold">Total Tips</label></div>
      <div class="col-md-8"><span class="font-weight-bold text-success">$ <%= number_with_precision( batch.nil? ? 0 : batch.total_sales.to_f , precision: 2) %></span></div>
    <% else %>
        <div class="col-md-3"><label class="font-weight-bold">Total Sales</label></div>
        <div class="col-md-8"><span class="font-weight-bold text-success">$ <%=number_with_precision( batch.nil? ? 0 : batch.total_sales.to_f, precision: 2) %></span></div>
    <% end %>
<% end %>