<div class="box">
            <div class="box-header with-border">
            <div class="col-md-12">
            <div class="row">
            <div class="col-md-6">
              <h3 class="box-title"><%= @heading %></h3>
              </div>
              <div class="col-md-6">
                </div> 
            </div>
            </div>
            </div>
            <div class="box-body">
            <div class="">
      <div class="row">
        <div class="col-md-5 mb-2">
          <h5><%=Time.now.strftime('%m-%d-%Y %I:%M:%S %p') %></h5>
        </div>
        <div class="col-md-7 mb-2 text-right">
          <div class="form-group">
          <%=	 form_tag close_batch_merchant_sales_path , class:'close_batch', remote: true  do    %>
              <%= select_tag('wallet_id', options_from_collection_for_select(@wallets, 'id', 'name'),{include_blank: "Select your wallet",required: true, class: 'form-control', id: 'wallet' ,data: {remote: true, url: "#{wallet_details_merchant_sales_path}", method: 'post'}}) %>
            </div>
              <button type="submit" class="btn btn-danger btn-sm" ><i class="fa fa-close"></i> Close batch</button>
          <% end  %>
        </div>
      </div>
      <div class="card">
        <div class="card-body">
          <div class="row">
            <div class="col-md-12">
              <div id="walletDetails"></div>
            </div>
          </div>
        </div>
      </div>
      </div>
      </div>
      </div>

<script>
  $(document).ready(function () {
//       var v=$('#time').text();
// //      var gmtDateTime = moment.utc(v,'YYYY-MM-DD HH:mm:ss');
//       var gmtDateTime = moment.utc(v,'MM-DD-YYYY HH:mm:ss');
//       var local = moment(gmtDateTime).local().format('MM-DD-YYYY HH:mm:ss A');
//       $('#time').text(local);
  })
</script>

<script>
  $('.close_batch').submit(function () {
     $(".spnr").fadeIn();
  });
</script>