<% if @error.blank?%>
$(".spnr").fadeOut("slow");
$("#message").html("").append('<div class="alert alert-success" role="alert"><a href="#" data-dismiss="alert" class="close">×</a> <strong>Successfully closed the batch</strong></div>')
$("#walletDetails").html("").append("<%= j render partial: "merchant/sales/wallet_details",locals: {wallet: @update_wallet, batch: @update_batch }%>");
<% else%>
$(".spnr").fadeOut("slow");
$("#message").html("").append('<div class="alert alert-success" role="alert"><a href="#" data-dismiss="alert" class="close">×</a> <strong><%= @error %></strong></div>');
<%	 end  %>