
<section id="message"></section>
<div class="box">
            <div class="box-header with-border">
            <div class="col-md-12">
            <div class="row">
            <div class="col-md-6">
              <h3 class="box-title"><%= @heading %></h3>
              </div>
              <div class="col-md-6">
                </div> 
            </div>
            </div>
            </div>
            <div class="box-body">
            <div class="">
  <div class="row">
      <div class="col-md-6">
        <%= form_tag scanner_merchant_sales_path ,method: :post , remote: :true , format: :js ,id: "new_charge" do   	  %>
        <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
     <div class="col-md-12">
      <div class="">
        <div class="">
          <div class="form-group">
            <label>To wallet</label>
            <% if @list.size != 1 %>
                <select class="form-control to_id" id="to_id" name="to_id">
                  <option value="">Select your Wallet</option>
                  <%= @list.each do |w| %>
                  <option value="<%= w[:wallet_id] %>" data-balance="<%= w[:balance] %>" data-lstatus="<%= w[:location_status] %>"><%= w[:wallet_name] %></option>
                  <% end %>
                </select>
                <%#=select_tag 'to_id', options_from_collection_for_select(@wallets, 'id', 'name'), {class: 'form-control select_change' ,include_blank: 'Select Wallet' ,id: 'to_id', onchange: "changeDetected()"} %>
            <% else %>
                <select class="form-control to_id" id="to_id" name="to_id">
                  <%= @list.each do |w| %>
                      <option value="<%= w[:wallet_id] %>" data-balance="<%= w[:balance] %>" data-lstatus="<%= w[:location_status] %>" id="one_wallet"><%= w[:wallet_name] %></option>
                  <% end %>
                </select>
                <%#=select_tag 'to_id', options_from_collection_for_select(@wallets, 'id', 'name'), {class: 'form-control select_change',id: 'to_id', onchange: "changeDetected()"} %>
          <% end %>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card-body">
          <div class="row">
            <div id="error-body" class="error_card">

            </div>
            <div class="col-lg-1"></div>
              <div class="col-lg-10 padding-10">
                <div id="loading" ></div>
                  <div class="input-group custome_input_group">
                      <span class="input-group-addon custome_input_group_addon">$</span>
                      <input type="hidden" name="auth_token" value="<%= current_user.authentication_token %>">
                      <input name="amount" type="text" min="0" class="form-control charge_field" id="amount" placeholder="0.00" />
                    </div>

                    <input name="qr_token" type="hidden" class="form-control" id="quick_card_no_">
                    <%= submit_tag 'Charge', class: "btn btn-primary btn-lg text-white font-weight-bold btn-block btn_loader save_button margin_top_20", disabled:"disabled"%>

              </div>
          </div>
        </div>
      </div>
    </div>
    <% end %>
      </div>
    <div class="col-md-3  mt-5" >
      <%= render partial: 'merchant/sales/num_pad' %>
    </div>
    </div>
    </div>
    </div>
    </div>
<div id="modal_id" class="modal fade show" role="dialog" >
  <div class="modal-dialog modal-md" id="margin_top_30">
    <!-- Modal content-->
    <div class="modal-content panel-success">
      <div class="modal-header bg-primary">
        <h4 class="modal-title" id="transaction_color">Transaction</h4>
        <!--<button type="button" class="close" data-dismiss="modal" aria-label="Close">-->
          <!--<span aria-hidden="true">&times;</span>-->
        <!--</button>-->
      </div>
      <div class="modal-body">
        <div class="card">
          <div class="card-body">
            <p class="text-success success_center">
              Successfully Transferred!
            </p>
          </div>
          <div class="card-footer">
            <center><a href="<%= transactions_merchant_sales_path %>" class="btn btn-success btn-sm">Create new sale</a></center>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
    $('.save_button').attr('disabled', 'disabled');

    var limit;

  $("#to_id").on("change", function () {

      limit=$(this).children(":selected").data().balance;

//      if(this.value.length != 0){
//         $.ajax({
//             url:'<%#=  verify_sale_limit_merchant_sales_path %>' ,
//             data:{wallet_id: this.value} ,
//             method:'get',
//             success: function (result) {
//                 limit = result.limit;
//                 $('#amount').attr('disabled', 'disabled');
//
//             },
//             error: function (result) {
//                 limit = 0;
//                 $('#amount').attr('disabled', 'disabled');
//             }
//         });
//     }else{
//     }
  });
    $(document).ready(function () {

        if($('.to_id > option').length == 1){
            status = $("#one_wallet").attr("data-lstatus");
            if(status == "true"){
                $("#error-body").css('display','block').html('').html("<div class='alert alert-danger' style='height: 31%;'><a href='#' data-dismiss='alert' class='close'></a><p style='margin-top: 42px; font-size: 20px; text-align: center;'> $[BLOCKED_LOCATION]</p></div>");
                $("#amount").val('');
                $(".button_pad").attr('disabled', 'disabled');
            }else{
                $("#error-body").css('display','none').html('');
                $(".button_pad").removeAttr('disabled');
            }
        }
    });
  $("#amount").on("keyup", function () {
      if($("#to_id").val().length === 0){
          $("#error-body").css('display','block').html('').html("<div class='alert alert-danger' style='height: 31%;'><a href='#' data-dismiss='alert' class='close'>×</a><p style='margin-top: 42px; font-size: 20px; text-align: center;'> Please select a wallet</p></div>");
          $("#amount").val('');
      }else{
          total_amount = $("#amount").val();
          if(limit == 0){
          }else {
              if (total_amount > parseInt(limit)) {
                  $("#error-body").css('display','block').html('').html("<div class='alert alert-warning' style='height: 31%;'><a href='#' data-dismiss='alert' class='close'>×</a><p style='margin-top: 42px; font-size: 20px; text-align: center;'> You Can not Exceed your Transaction Limit</p></div>");
                  $("#amount").val('');
                  deleteAll();
                  $("#del").click();
              } else {
              }
          }
      }
  });
  $("#num-pad").on('click',function () {
      if($("#to_id").val().length === 0){
          $("#error-body").css('display','block').html('').html("<div class='alert alert-danger' style='height: 31%;'><a href='#' data-dismiss='alert' class='close'>×</a><p style='margin-top: 42px; font-size: 20px; text-align: center;'> Please select a wallet</p></div>");
          $("#amount").val('');
      }else{
          total_amount = $("#amount").val();
          if(limit == 0){
          }else {
              if (total_amount > parseInt(limit)) {
                  $("#error-body").css('display','block').html('').html("<div class='alert alert-warning' style='height: 31%;'><a href='#' data-dismiss='alert' class='close'>×</a><p style='margin-top: 42px; font-size: 20px; text-align: center;'> You Can not Exceed your Transaction Limit</p></div>");
                  $("#amount").val('');
                  deleteAll();
                  $("#del").click();
              } else {
              }
          }
      }
  });




    function changeDetected(){
//        if($('#to_id').val() != ""){
            var SeatProgramLevel = $('.select_change').val();
            $.ajax({
                url:'<%=  valid_location_merchant_base_index_path %>' ,
                data:{wallet_id: SeatProgramLevel} ,
                method:'get' ,
                dataType:'json' ,
                success: function (result) {
                    if (result.location.is_block == true ){
                        $("#message").html("").append('<div class="alert alert-warning" role="alert"><a href="#" data-dismiss="alert" class="close">×</a> <strong>Location is blocked you can not access!</strong></div>');
                        $('#amount').val('').prop('disabled', true);
                        $('#num-pad :button').prop('disabled', true );
                        $('.save_button').prop('disabled', true );
//                  is_block = true ;
                    }else{
                        $("#message").html("");
                        $('#amount').removeAttr('disabled');
                        $('#num-pad :button').prop('disabled', false );
//                  is_block =false;

                    }
                },
                error: function (result) {
                }
            });
//        }

    }
$(document).ready(function(){
    $('#amount').keyup(function () {
        if ($('#amount').val().length != 0) {
            $('.save_button').removeAttr('disabled');
        }else{
            $('.save_button').attr('disabled', 'disabled');
        }
    });
});

    $("#new_charge").submit( function (e) {
        if (parseFloat($("#amount").val()) == 0) {
            $("#error-body").css('display', 'block').html('').html("<div class='alert alert-danger' style='height: 31%;'><a href='#' data-dismiss='alert' class='close'>×</a><p style='margin-top: 42px; font-size: 20px; text-align: center;'> Amount must be greater then 0 </p></div>");
            e.preventDefault();
            return false;
        } else {
            if ($('#to_id').val() == "") {
                $("#error-body").css('display', 'block').html('').html("<div class='alert alert-danger' style='height: 31%;'><a href='#' data-dismiss='alert' class='close'>×</a><p style='margin-top: 42px; font-size: 20px; text-align: center;'> Please select a wallet</p></div>");
                e.preventDefault();
                return false;
            } else {
                $('#message').html('');
                if ($("#quick_card_no_").val() != '') {
                    if ($('#amount').val() != '') {
                        $('.btn_loader').attr('disabled', 'disabled');
                        $('.app-loader').show();
                        $('.ad').show();
                        $('.warn-text').text('Please Scan QR Code Now!');
                    }
                    return true;
                } else {
                    $('.btn_loader').attr('disabled', 'disabled');
                    $('.app-loader').show();
                    $('.warn-text').text('Please Scan QR Code Now!');
                    e.preventDefault();
                    return false;
                }
            }
        }

    });

    $(".ad").click( function (e) {
        $('.btn_loader').attr('disabled','disabled');
        $('.app_loader').hide();
        $('.app-loader').hide();
        $('.save_button').removeAttr('disabled');

    });

    $(document).on('click','.close', function(){
        $('#error-body').css("display", "none");
    });




//    $(document).addEventListener('keydown', function(event) {
//        console.log('event', event);
//        alert(event.keyCode);
//        if( event.keyCode == 13 || event.keyCode == 16  || event.keyCode == 17  || event.keyCode == 18  || event.keyCode == 73 || event.keyCode == 74 )
//            event.preventDefault();
//    });

//    $('.save_button').click(function (event) {
//       event.preventDefault();
//    });
    var chars=[];
    var pressed = false;
    $(document).on('keypress', function(e) {
        chars.push(String.fromCharCode(e.which));
        if (pressed == false) {
            setTimeout(function(){
                if (chars.length >= 5 && $('#to_id').val() != "") {
                    pressed = true;
//                    console.log("into chars", chars);
                    var barcode = chars.join("");
                    $('#quick_card_no_').val(qrToken(barcode));
//                    $('.app-loader').hide();
                    $('.warn-text').text('Processing Please Wait!');
                    $.post('<%= scanner_merchant_sales_path %>', $('#new_charge').serialize());
                }else{
                    chars = [];
                    return false;
                }
                chars = [];
                pressed = false;
            }, 2000);
        }
    });
    function qrToken(barcode) {
        var qrData = JSON.parse(barcode);
        var token = null;
        if (qrData.qr_token) {
            token = qrData.qr_token;
        } else {
            token = qrData;
        }
        return token;
    }

    var phoneScreen = $("#amount");
    var phoneNumber = phoneScreen.val();
    var delBtn = $("#del");
    var clrBtn = $("#clr");
    var numBtn = $(".number");

    numBtn.click(function() {
        var number = $(this).val();
        if($("#to_id").val().length === 0){
            $("#amount").val('');
        }else {
            updatePhoneNumber(number);
            printPhoneNumber();
        }
    });
    delBtn.click(function() {
        deleteNumber();
        if (phoneNumber == ""){
            $('.save_button').prop('disabled', 'disabled' );
            $('#amount').val('');
        }else{
            printPhoneNumber();
        }


    });
    clrBtn.click(function() {

        clearNumber();
        printPhoneNumber();
    });

    function updatePhoneNumber(newNumber) {
        phoneNumber = phoneNumber + newNumber;
    }
    function deleteNumber() {
        phoneNumber = phoneNumber.slice(0,-1);
    }
    function deleteAll() {
        phoneNumber = phoneNumber.slice(0,-6);
    }
    function clearNumber() {
        phoneNumber.val("");
    }

    function printPhoneNumber() {
        if(phoneNumber !=null ){
            $('.save_button').removeAttr('disabled');
        }else if (phoneNumber == ""){
            $('.save_button').prop('disabled', true );
        }
        phoneScreen.val(phoneNumber);
    }

</script>