    $("#loading").html("")
    $('.btn_loader').prop('disabled',false);
    <% if !@errors.blank? %>
    $("#error-body").show();
     $("#error-body").html('').html("<div class='alert alert-danger' style='height: 31%;'><a href='#' data-dismiss='alert' class='close'>×</a><p style='margin-top: 42px; font-size: 20px; text-align: center;'><%= @errors.first %></p></div>");
    // $("#message").append("<div class='alert alert-info'><a href='#' data-dismiss='alert' class='close'>×</a><%= @errors.first %></div>");
    $('.app-loader').hide();
    $('#quick_card_no_').val('');
//    $('.save_button').prop('disabled', true );
    $(".close").on('click', function(){
        $('#error-body').css("display", "none");
    });
    $("#charge_field").val('').empty().prop("disabled", false);
    <% end %>
    <% if !@success.blank? %>
    $("#modal_id").modal('show');
    $('.app-loader').hide();
    $('#quick_card_no_').val('');
//    $("#message").append("<div class='alert alert-info'><a href='#' data-dismiss='alert' class='close'>×</a>Successfully Transfered </div>");
    $("#charge_field").val('').empty();
    <% end  %>



