
<% sequence_down = AppConfig.sequence_down.first %>
<% if (sequence_down.present? && sequence_down.boolValue == true) || (ENV['SEQUENCE_DOWN'].present? && ENV['SEQUENCE_DOWN'] == "true") %>
  <div class="col-md-12">
    <div class="box">
      <div class="box-header with-border">
        <div class="col-md-12">
          <div class="row">
            <div class="col-md-6">
              <h3 class="box-title"><%= @heading %></h3>
            </div>
            <div class="col-md-6">
            </div>
          </div>
        </div>
      </div>
      <br>
      <div class="bg-border">
        <div class="box-header">
          <div class="col-md-12">
            <div class="row">
              <div class="col-md-6">
                <h6 class="sequence_block_heading">Account Temporarily Unavailable</h6>
              </div>
            </div>
          </div>
        </div>
        <div class="box-body">
          <p class="margin_5">
            Your account is currently unavailable due to issues with our Blockchain and unfortunately, we are unable to process your request to access the Virtual Terminal at this time. We are working to restore all services as quickly as possible. Thank you for your patience!
          </p>
        </div>
      </div>
    </div>
  </div>
<% else %>
  <% if !verified_tos() && @user.try(:permission).regular? %>
    <div class="card">
      <div class="col-md-12">
        <div id="logo_css"><%= image_tag ("QCLogo.png"), :id => "pos" ,width: '20%',height: '20%' %></div>
        <div class="col-md-12" id="modal_size">
          <div class="row">
            <div class="col-md-12 height_agree">
              <div>
                <p class="text_services">Blockchain & Payment Services Agreement</p>
                <h6 class="text-center text_services_msg">Account is currently blocked while pending new TOS agreement acceptance. Please contact Merchant Owner to approve new TOS agreement in the Merchant Portal.</h6>
                <br>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  <% else %>
    <section id="message"></section>
    <% if flash[:notification_msg].present? %>
    <div id="modal_id" class="modal fade show" role="dialog">
      <div class="modal-dialog modal-md t_modal_top">
        <!-- Modal content-->
        <div class="modal-content panel-success">
          <div class="modal-header bg-primary">
            <h4 class="modal-title color_white">Transaction</h4>
            <!--<button type="button" class="close" data-dismiss="modal" aria-label="Close">-->
            <!--<span aria-hidden="true">&times;</span>-->
            <!--</button>-->
          </div>
          <div class="modal-body">
            <div class="card">
              <div class="card-body">
                <p class="text-success success_center">
                  <% if flash[:notification_msg].present? %>
                    <% if flash[:notification_msg] == "Successfully Done!" %>
                      <h4 class="lime_text"><b><%= flash[:notification_msg] %></b></h4>
                    <% else %>
                      <h4 class="danger_text"><b><%= flash[:notification_msg] %></b></h4>
                    <% end %>
                  <% end %>
                </p>
              </div>
              <button type="button" class="close btn btn-default close-error" data-dismiss="modal" aria-hidden="true">
              <div class="card-footer">
                <center>
                  OK
                </center>
              </div>
                </button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <% end %>
    <div class="box">
      <div class="box-header with-border">
        <div class="col-md-12">
          <div class="row">
            <div class="col-md-6">
              <h3 class="box-title"><%= @heading %></h3>
            </div>
            <div class="col-md-6">
            </div>
          </div>
        </div>
      </div>
      <div id="error-wallet"></div>
      <div class="box-body">

        <%= form_tag submit_virtual_terminal_merchant_sales_path,method: :post, id: "vt-form", html: { class: "virtual_terminal", autocomplete: "off" } do |form|%>
          <%= hidden_field_tag 'verified_user_field',"", id: "verified_user_field" %>
          <div class="container-fluid">
            <div class="row" id="new_user">
              <div id="customerVerification" class="col-lg-12 col-md-12 row">
                <div class="col-lg-12 col-md-12 col-sm-12 mb-4 mt-4">
                 <strong>Verify Customer</strong>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-12" >
                  <div class="form-group form-inline">
                    <label for="message-text" class="col-form-label label-color">Phone Number</label>&nbsp;&nbsp;
                    <%= text_field_tag "phone_number","", class: "validate_form form-control shadow-sm adjust-popup-fields icon-input txtOwner",required: true, :maxlength => 11 %>
                    <%= hidden_field_tag "phone_code" %>
                    <%= hidden_field_tag "existing_user"  %>
                    <%= hidden_field_tag 'verified_user_id',"" %>
                    <label for="message-text" id="phone_msg" class="col-form-label label-color font-weight-bold"></label>
                  </div>
                </div>
      <!--                <label for="message-text" class="col-form-label label-color">&nbsp;&nbsp;</label>-->
      <!--                <span id="phone_msg"></span>-->
              </div>
              <div id="personalInformation" class="col-lg-12 col-md-12 row">
                <div class="col-lg-12 col-md-12 col-sm-12 mb-4 mt-4">
                  <div class="row">
                    <div class="col-md-6 pull-left">
                      <strong>Customer Information</strong>
                    </div>
                    <div class="col-md-6 edit_cutomer pull-right">
                      <a href="#" class="pull-right edit_customer_css" id="edit_customer">Edit Customer</a>
                    </div>
                  </div>
                </div>

    <!--            <div class="col-lg-4 col-md-4 col-sm-12 first_name">-->
    <!--              <div class="form-group">-->
    <!--                <label for="message-text" class="col-form-label label-color">Name</label>-->
                    <%#=  text_field_tag "name","", class: "validate_form form-control shadow-sm adjust-popup-fields  icon-input txtOwner", required: true%>
    <!--              </div>-->
    <!--            </div>-->
                <div class="col-lg-4 col-md-4 col-sm-12">
                  <div class="form-group">
                    <label for="message-text" class="col-form-label label-color">First name</label>
                    <%=  text_field_tag "first_name","", class: "validate_form form-control shadow-sm adjust-popup-fields  icon-input txtOwner" %>
                  </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-12">
                  <div class="form-group">
                    <label for="message-text" class="col-form-label label-color">Last name</label>
                    <%=  text_field_tag "last_name","", class: "validate_form form-control shadow-sm adjust-popup-fields  icon-input txtOwner" %>
                  </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-12">
                  <div class="form-group">
                    <label for="message-text" class="col-form-label label-color">Email</label>
                    <%=  email_field_tag "email","", class: "validate_form form-control shadow-sm adjust-popup-fields  icon-input txtOwner", required: true%>
                    <b><p class="notify_msg"></p></b>
                  </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-12">
                  <div class="form-group">
                    <label for="message-text" class="col-form-label label-color">Address</label>
                    <%=  text_field_tag "postal_address","", class: "validate_form form-control shadow-sm adjust-popup-fields  icon-input txtOwner", required: true%>
                  </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-12">
                  <div class="form-group">
                    <label for="message-text" class="col-form-label label-color">City</label>
                    <%=  text_field_tag "city","", class: "validate_form form-control shadow-sm adjust-popup-fields  icon-input txtOwner", required: true%>
                  </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-12">

                </div>
                    <div class="col-md-4">
                      <div class="form-group">
                        <label for="message-text" class="col-form-label label-color">Country</label>
                        <%=  text_field_tag "country","", id: "country1", class: "validate_form form-control shadow-sm adjust-popup-fields  icon-input txtOwner"%>
                        <%= country_select("country", {}, { include_blank: 'Select a country' }, {name: 'country', id: 'country', class: 'validate_form form-control shadow-sm adjust-popup-fields  icon-input txtOwner' })%>
                      </div>
                    </div>
                    <div class="col-md-2" id="edit_state">
                      <div class="form-group">
                        <label for="message-text" class="col-form-label label-color">State</label>
                        <%=  text_field_tag "state","", id: "state1", class: "validate_form form-control shadow-sm adjust-popup-fields  icon-input txtOwner"%>
                        <%= select_tag "state", options_for_select({}, selected: ''), {:class => 'form-control'} %>
                      </div>
                    </div>
                    <div class="col-md-2">
                      <div class="form-group">
                        <label for="message-text" class="col-form-label label-color">Zip Code</label>
                        <%=  text_field_tag "zip_code","", class: "validate_form form-control shadow-sm adjust-popup-fields  icon-input txtOwner", required: true%>
                      </div>
                    </div>
              </div>
              <div id="accountInformation" class="col-lg-12 col-md-12 row">
                <div class="col-lg-12 col-md-12 col-sm-12 mb-4 mt-4">
                  <strong>Payment Information</strong>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-12">
                  <div class="form-group">
                    <label for="message-text" class="col-form-label label-color">Account</label>
                    <% if @list.size != 1 %>
                      <select class="form-control wallet_id" id="wallet_id" name="wallet_id">
                        <option value="">Select your Wallet</option>
                        <%= @list.each do |w| %>
                          <option value="<%= w[:wallet_id] %>"  data-lstatus="<%= w[:location_status] %>"><%= w[:wallet_name] %></option>
                        <% end %>
                      </select>
                    <% else %>
                      <select class="form-control wallet_id" id="wallet_id" name="wallet_id">
                        <option value="">Select your Wallet</option>
                        <%= @list.each do |w| %>
                          <option value="<%= w[:wallet_id] %>"  data-lstatus="<%= w[:location_status] %>" id="one_wallet"><%= w[:wallet_name] %></option>
                        <% end %>
                      </select>
                    <% end %>
                  </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-12">
                  <div class="form-group">
                    <label for="message-text" class="col-form-label label-color">Amount</label>
                    <div class="input-group custome-span">
                      <div class="input-group-addon input-icon">$</div>
                      <%=  text_field_tag "amount","", class: "form-control", id:"amount_virtual_terminal", step: "0.01",autocomplete: "off", placeholder: "0.00" %>
                    </div>
                  </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-12">
                  <div class="form-group">
                    <label for="message-text" class="col-form-label label-color">Name on Card</label>
                    <label class="sr-only" for="inlineFormInputGroupUsername2">0.00</label>
                    <div class="input-group mb-2 mr-sm-2">
                      <div class="input-group-prepend shadow-sm">
                      </div>
                      <%=  text_field_tag "card_name","", class: "validate_form form-control shadow-sm adjust-popup-fields", required: :true%>
                    </div>
                  </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-12">
                  <div class="form-group">
                    <label for="message-text" class="col-form-label label-color">Card Number</label>
                    <%=  text_field_tag "card_number","", class: "validate_number validate_form form-control shadow-sm adjust-popup-fields  icon-input txtOwner",minlength: "13", maxlength: "20", size: "17", required: :true%>
                  </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-12">
                  <div class="form-group">
                    <label for="message-text" class="col-form-label label-color">Expiry Date</label>
                    <%=  text_field_tag "exp_date","", class: "validate_form form-control shadow-sm adjust-popup-fields  icon-input txtOwner",id:"exp_date_virtual_terminal2", required: :true%>
                  </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-12">
                  <div class="form-group">
                    <label for="message-text" class="col-form-label label-color">CVV</label>
                    <%=  text_field_tag "card_cvv","", class: "validate_form form-control shadow-sm adjust-popup-fields  icon-input txtOwner",id:"cvv_field_virtual_terminal", minlength: 3, maxlength: 4, required: :true%>
                  </div>
                </div>
              </div>
              <div class="col-lg-12 col-md-12 row" id="user_exist" >
                <div class="col-lg-12 col-md-12 col-sm-12">
                  <div class="form-group">
                    <button type="button" id="submitform1" data-disable-with="<i class='fa fa-refresh fa-spin'> </i> Loading..." class="btn btn-success adjust-btn-submit submit-btn" ><i class="fa fa-credit-card"></i> Submit Payment</button>
    <!--                <input type="submit" id="submitform1" class="btn btn-primary adjust-btn-submit" value="Submit" onclick="$('#spinner').fadeIn()">-->
                  </div>
                </div>
              </div>
            </div>

          </div>
        <% end %>
      </div>
    </div>
  <% end %>
<% end %>
<div id="cover-spin"></div>
<input type="hidden" class="tos_verify" value="<%= verified_tos() %>" >
