<% if @error.blank?%>
$("#walletDetails").html("").append("<%= j render partial: "merchant/sales/wallet_details",locals: {wallet: @wallet, batch: @batch }%>");
<% else%>
$("#walletDetails").html("").append('<p class="font-weight-bold text-danger"><%=@error %></p>');
<%	 end  %>