<div class="col-lg-12 col-md-12 col-sm-12 table charge_back_table mt-4">
 <table  class="pt-0 chargeback_datatable">
<!--<table class="table table-striped- table-bordered table-hover table-checkable listing_datatable" id="m_table_1">-->
   <thead>
      <tr>
      <th>Name</th>
      <th>Source</th>
      <th>Address</th>
      <th>City</th>
      <th>State</th>
      <th>Zip Code</th>
      <th>Phone #</th>
      <th>Email</th>
<!--      <th>Total Spent</th>-->
    </tr>
   </thead>
   <% if clients.present? %>
   <tbody id="">
        <% clients.each.with_index do |client, index| %>
      <tr data-href="<%= client_details_v2_merchant_invoices_path(id: client.id,type: "transaction") %>" class="<%= index.odd? ? "odd" : "even" %> charge_back_hover clickable-row mt-2">
        <% customer = client.merchant_customer %>
        <% location = client.location_customer %>
        <td><%= customer.name %></td>
        <td><%= location.business_name %></td>
        <td><%= customer.address %></td>
        <td><%= customer.city %></td>
        <td><%= customer.state %></td>
        <td><%= customer.zip_code %></td>
        <td><%= number_to_phone(customer.phone_number, area_code: true)  %></td>
        <td><%= customer.email %></td>
<!--        <td><%#=  link_to customer.email, client_details_v2_merchant_invoices_path(id: client.id, type: "transaction"), class: 'color-blue' %></td>-->
<!--        <td><%#= number_with_precision(number_to_currency(get_total_spending(customer.id, client.wallet_id)), precision: 2) %></td>-->
      </tr>
    <% end %>
   <% else %>
     <tr>
       <td colspan="8">
         <div class="col-xl-12 ">
           <center  class="m-5 p-5">
             <%= image_tag "v2/merchant/datatable/no_data.svg" %>
             <p class="No-data-available mt-4 mr-4">No data available</p>
           </center>
         </div>
       </td>
     </tr>
   <% end %>
 </tbody>
</table>
</div>
<div class="col-md-12 pagination_div">
  <%= render partial: 'v2/partner/shared/datatable_pagination',locals: {variable: clients} %>
</div>