<div class="col-lg-12 col-md-12 col-sm-12 table charge_back_table mt-4">
  <table  class="pt-0 chargeback_datatable">
    <!--<table class="table table-striped- table-bordered table-hover table-checkable listing_datatable" id="m_table_1">-->
    <thead>
    <tr>
      <th class="th-bold">Invoice #</th>
      <th class="th-bold">Account</th>
      <th class="th-bold">Invoice Date</th>
      <th class="th-bold">Due date</th>
      <th class="th-bold">Customer Name</th>
      <th class="amount-th th-bold">Amount</th>
      <th><center>
        <%= render partial: "v2/partner/invoices/partials/datatable_status" %>
      </center></th>
      <th class="th-bold"><center>Actions</center></th>
    </tr>
    </thead>
    <% if @requests.present? %>
      <tbody id="table_body">
      <% @requests.each.with_index do |request, index| %>
        <tr class="<%= index.odd? ? "odd" : "even" %> mt-2">
          <td><%= request.invoice_number %></td>
          <td><%= Wallet.find_by(id: request.wallet_id).try(:name) %></td>
          <td><%= request.created_at.strftime("%m/%d/%Y") %></td>
          <% if cookies[:timezone].present? %>
            <td><%= request.due_date.in_time_zone(cookies[:timezone]).strftime("%m/%d/%Y") %></td>
          <% else %>
            <td class="dateOnly"><%= request.due_date.strftime("%m-%d-%Y %H:%M:%S") %></td>
          <% end %>
          <td><%= request.reciever_name %></td>
          <td class="amount-td"><%= number_with_precision(number_to_currency(request.total_amount.to_f), precision: 2) %></td>
          <td>
            <center>
              <% if request.status == "past_due" %>
                <span class="badge past_due">Past Due</span>
              <% elsif request.status == "in_progress" %>
                <span class="badge pending">Pending</span>
              <% elsif request.status == "pending" %>
                <span class="badge pending">Pending</span>
              <% elsif request.status == "approved" %>
                <span class="badge paid">PAID</span>
              <% elsif request.status == "cancel" %>
                <span class="badge canceled">Cancelled</span>
              <% elsif request.status == "saved" %>
                <span class="badge draft">Draft</span>
              <% end %>
            </center>
          </td>
          <td>
            <center>
              <div class="m-dropdown m-dropdown--inline m-dropdown--arrow m-dropdown--align-right m-dropdown--align-push" m-dropdown-toggle="click" aria-expanded="true">
                <a href="#" class="m-portlet__nav-link m-dropdown__toggle btn m-btn m-btn--link pt-0 pl-0 pb-0 pr-0">
                  <%= image_tag "v2/merchant/datatable/dotted.svg" %>
                </a>
                <div class="m-dropdown__wrapper pt-0 action_dropdown" >
                  <span class="m-dropdown__arrow m-dropdown__arrow--right m-dropdown__arrow--adjust m-dropdown__arrow--adjust_icon"></span>
                  <div class="m-dropdown__inner invoices_dropdown">
                    <div class="m-dropdown__body">
                      <div class="m-dropdown__content">
                        <ul class="m-nav">

                            <li class="m-nav__item m-nav__item_hover_design">
                            </li>

                            <li class="m-nav__item m-nav__item_hover_design">
                              <% if request.status == "saved" %>
                                <%= link_to('<span class="m-nav__link-text"> Edit</span>'.html_safe, edit_v2_partner_invoices_path(id: request.id), :class => "m-nav__link") %>
                              <% else %>
                                <%= link_to('<span class="m-nav__link-text"> View</span>'.html_safe, view_invoice_v2_partner_invoices_path(id: request.id), :class => "m-nav__link") %>
                              <% end %>
                            </li>

                          <%# if request.status == "saved" || request.status == "pending" %>
<!--                            <li class="m-nav__item m-nav__item_hover_design">-->
                              <%#= link_to('<span class="m-nav__link-text"> Reopen</span>'.html_safe, reopen_v2_partner_invoices_path(id: request.id, type: "reopen"), :class => "m-nav__link") %>
<!--                            </li>-->
                          <%# end %>
                          <%# if request.status == "past_due" %>
<!--                            <li class="m-nav__item m-nav__item_hover_design">-->
                              <%#= link_to('<span class="m-nav__link-text"> Resend</span>'.html_safe, reopen_v2_partner_invoices_path(id: request.id, type: "resend"), :class => "m-nav__link") %>
<!--                            </li>-->
                          <%# end %>


                          <% unless ["approved", "cancel"].include? request.status %>
                              <li class="m-nav__item m-nav__item_hover_design">
                                <%#= link_to('<span class="m-nav__link-text"> Cancel</span>'.html_safe, "#", :class => "m-nav__link invoice-cancel-btn cancel_invoice", remote: true, data:{ toggle: "modal", target: "#cancelInvoiceModal", url: cancel_v2_partner_invoices_path(id: request.id) }) %>
                                <a class="m-nav__link-text cancel_invoice" data-id=<%= request.id %> data-number=<%= request.invoice_number %>>Cancel</a>
                              </li>
                            <!--                          <li class="m-nav__item m-nav__item_hover_design">-->
                            <!--                            <a class="m-nav__link cancel_invoice" data-id=<%#= request.id %> data-number=<%#= request.invoice_number %>><span class="m-nav__link-text"> Cancel</span></a>-->
                            <%#= link_to('<span class="m-nav__link-text"> Cancel</span>'.html_safe, cancel_v2_merchant_invoices_path(id: request.id), :class => "m-nav__link", data: {confirm: "Are you sure?"}) %>
                            <!--                          </li>-->
                          <% end %>
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </center>
          </td>
        </tr>
      <% end %>
    <% else %>
      <tr>
        <td colspan="8">
          <div class="col-xl-12 ">
            <center  class="m-5 p-5">
              <%= image_tag "v2/merchant/datatable/no_data.svg" %>
              <p class="No-data-available mt-4 mr-4">No data available</p>
            </center>
          </div>
        </td>
      </tr>
    <% end %>
    </tbody>
  </table>
</div>
<div class="col-md-12 pagination_div">
  <%= render partial: 'v2/partner/shared/datatable_pagination',locals: {variable: @requests} %>
</div>
<%= render partial: 'v2/partner/invoices/partials/cancel_invoice' %>