
.color-parrot-amount{
    color: chartreuse;
}
.mergin-left-10{
    margin-left: 10px;
}
.margin-right-10{
    margin-right: 10px;
}
.height-300{
    height: 300px;
    overflow: auto;
}
.padding-left-10-perc{
    padding-left: 10%;
}
.font_size_34px{
    font-size: 34px;
}
.color-light-black{
    color: grey;
}
.col-md-2 > .risk-evaluation{
    margin:0px;
    border-radius: 4px;
    /*padding:10px;*/
    font-size:15px;
    font-weight:800;
}

.a-green{
    color:white;
    background-color: lawngreen;
    /*padding: 5px 9px;*/
    border: 1px solid lawngreen;
}

.r-red{
    color:white;
    background-color: red;
    /*padding: 5px 9px;*/
    border: 1px solid red;
}
.status-text{
    padding: 5px 15px !important;
    text-align: center !important;
}

.no-disposition{
    position: relative;
    padding: 5px 12px;
    border: 2px solid #abb2b6;
}
.no-disposition:before {
    border-bottom: 3px solid #abb2b6;
    content: '';
    left: -4px;
    position: absolute;
    top: 12px;
    transform: rotate(135deg);
    width: 36px;
}

.cr-p-manual-review{
    color: #4f5f6f;
    background-color: white;
    border: 2px solid #4f5f6f;
}

.cr-expired-review{
    background-color: grey;
    color: white;
    border: 2px solid grey;
}
.status_btn{
    width: 4% !important;
    height: 4% !important;
}


/*========================*/
/*paneling styles start*/
/*========================*/
[data-toggle="collapse"] .fa:before {
    content: "\f139";
}

[data-toggle="collapse"].collapsed .fa:before {
    content: "\f13a";
}
.card-body{
    padding: 0;
    background: #f9f9f8;
}
.card .card-header{
    background: #c7c4be;
    min-height:35px;
}
.card-header:first-child{
    border-radius: 0px;
}

.width-40{
    width:50% !important;
}

.width-10{
    width:10% !important;
}

/*========================*/
/*paneling styles end*/
/*========================*/
.modal-dialog-minfraud{
    max-width: 90%;
    margin: 30px auto;
}
.transaction_section{
    border-radius:15px;
    background: #f9f9f8;
}

.fa-check-circle{
    font-size: 25px !important;
    color: rgb(126, 211, 33);
}

.fa-exclamation-triangle{
    color: #f59223;
    font-size: 25px !important;
}
.status_btn{
    width: 4% !important;
    height: 4% !important;
}
.margin-left-order-22{
    margin-left: 28%;
}
.margin-left-order-10{
    margin-left: 10%;
}
.margin-left-order-15{
    margin-left: 14%;
}
.order-detail-padding{
    padding-bottom: 2%;
}
.width-inherit{
    width: inherit;
}
.color-parrot-amount{
    color: chartreuse;
}

.m-index-st-17{
    /*color: darkgray;*/
    /*text-align: center;*/
    display: block;
}

.padding-t-b-20-px-minfraud{
    padding-top: 20px;
    padding-bottom: 20px;
}
.padding-l-r-4-minfraud{
    padding-left:4%;
    padding-right:4%;
}
.m-index-st-18{
    background: white;
}

.collapse > .table > tbody > tr > td {
    text-align:left !important;
}
.border-radius{
    border: 1px solid #ced4da !important;
    border-radius: 0.24rem !important;
}


#tx_id-maxmind{
    position: absolute;
    top: 70px;
    /*background-color: gray;*/
    color: rgb(255, 255, 255);
    padding-top: 0px;
    /*padding-bottom: 22px;*/
    text-align: justify;
    font-size: 12px;
    padding-left: 10px !important;
    padding-right: 10px !important;
    display: block;
    z-index: 23;
    margin-left: -74px;
    /*width: 118%;*/
    height: 3%;
    /*background-color: rgba(214, 193, 193, 0.5);*/
    /* opacity: 1; */
    visibility: visible;
    transform: scale(1.1);
    transition: visibility 0s linear 0.25s, opacity 0.25s 0s, transform 0.25s;
}

#tx_id-maxmind{
    display: none;
}
#tx_id6-maxmind {
    width: 100%;
    background-color: #f7f7f7;
    color: black;
    font-weight: bold;
    padding-left: 6px;
}
#sequence_id1-maxmind {
    width: 100%;
    background-color: white;
    color: black;
    border: 1px solid #ebebeb;
    padding-left: 3px;
}