<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.form/4.2.2/jquery.form.min.js" integrity="sha384-FzT3vTVGXqf7wRfy8k4BiyzvbNfeYjK+frTVqZeNDFl8woCbF0CYG6g2fMEFFo/i" crossorigin="anonymous"></script>

<%= form_tag comment_merchant_supports_path,:id => 'commentform', method: :post, :onsubmit=>"disableButton('commentform','btn_submit_comment')", class: 'comment_form'  do  %>
    <input type="hidden" name="auth_token" value="<%= current_user.authentication_token%>" />
    <input type="hidden" name="ticket_id" value="<%= ticket.id%>" />
    <div class="row">
      <% if ticket.status != 'closed'%>
        <div class="col-md-12">
          <label for="body">Comment to Ticket</label>
          <textarea class="form-control comment_field" id="body" name="body" rows="4"></textarea>
          <i class="fa fa-paperclip fa-attachment pull-right"  title="Max size 4MB" id="new_field" ></i>
        </div>
        <input type="hidden" id="docs" name="attachments[]">
        <div class="col-md-4" id="files_section"></div>

      <div class="form-group col-md-12">

      </div>
      <div class="col-md-12 text-right">
        <button type="submit" class="btn btn-success btn-sm button_comment" id="btn_submit_comment"  >Reply to ticket</button>
      </div>
       <% end %>
    </div>
<% end %>



<div>
  <%= form_for Image.new  ,url: upload_docs_images_path , html:{id: 'image_upload', multipart: true } do |img| %>
      <%= img.file_field :add_image, class: 'file_field_jq cutome_file_field', id: 'browse_field' %>
  <% end %>
</div>

