
      <input type="hidden" name="auth_token" value="<%= current_user.authentication_token%>" />
      <input type="hidden" name="ticket[user_id]" value="<%= current_user.id%>" />
      <div class="card">
        <div class="card-body">
          <div class="row">
            <div class="form-group col-md-12">
              <%= f.label :title %><br />
              <%= f.text_field :title , id:"title" ,class:"form-control title_field"%>
            </div>
            <div class="form-group col-md-12">
              <div class="form-group">
                <%= f.label :message %><br />
                <%= f.text_area :message , id:"last_name" ,class:"form-control message_field"%>
                <i class="fa fa-paperclip fa-attachment pull-right"  title="Max size 4MB" id="new_field" ></i>
              </div>
              <div id="files_section">
                <input type="hidden" id="imdocs" name="attachments[]">
              </div>
            </div>
            <div id="right" class="col-md-12" >
              <button type="submit" class="btn btn-success submit_button" id="btn_submit_ticket">Submit</button>
            </div>
          </div>
        </div>
      </div>

      <script type="application/javascript" src="<%= asset_path 'merchant/business_setting/support_new_tickets.js' %>"></script>

