
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.form/4.2.2/jquery.form.min.js" integrity="sha384-FzT3vTVGXqf7wRfy8k4BiyzvbNfeYjK+frTVqZeNDFl8woCbF0CYG6g2fMEFFo/i" crossorigin="anonymous"></script>
      <div class="box">
            <div class="box-header with-border">
            <div class="col-md-12">
            <div class="row">
            <div class="col-md-6">
              <h3 class="box-title"><%= @heading %></h3>
              </div>
              <div class="col-md-6 text-right">
                <button type="button" class="btn btn-success btn-sm" data-toggle="modal" data-target="#maintenance-modal">
                  New Ticket
                </button>
              </div>
            </div>
            </div>
            </div>
            <div class="box-body">
            <div class="">

      <div class="row">
        <div class="col-md-6 mb-2">
          <h5>All Tickets</h5>
        </div>
        <div class="col-md-6 mb-2 text-right">
        </div>
        <div class="modal fade  myModal" role="dialog" id="myModal">
          <div class="modal-dialog form-group">
            <!-- Modal content-->
            <div class="modal-content">
              <div class="modal-header text-left">
                <h4 class="modal-title">New Ticket</h4>



                <div class="col-md-2" id="files_del">
                  <button type="button" id="deldocs" class="close support_click" data-dismiss="modal">&times;</button>
                </div>



              </div>
              <%= simple_form_for @ticket , url: create_ticket_merchant_supports_path, html: { id: :ticketForm, onsubmit:"disableButton('ticketForm','btn_submit_ticket')",class:"support_form", data:{toggle: "validator" } }   do |f| %>
                  <div class="row">
                    <div class="col-md-12">
                      <div class="card-header bordered">
                        <div class="header-block">
                          <%= render partial: 'merchant/supports/new', :locals => {:f => f , :current_user => current_user} %>
                        </div>
                        <div>
                        </div>
                      </div>
                    </div>
                  </div>
              <% end %>
              <%= form_for Image.new  ,url: upload_docs_images_path , html:{id: 'image_upload', multipart: true } do |img| %>
                  <%= img.file_field :add_image, class: 'file_field_jq cutome_file_field', id: 'browse_field' %>
                  <%#= img.submit "", class: '', id: 'image_upload_btn' , style: 'display:none' %>
              <% end %>
            </div>
          </div>
        </div>
      </div>
      <!-- <div class="card"> -->
        <!-- <div class="card-body"> -->
          <div class="row">
            <div class="col-md-12">
            <div class="table-responsive">
              <table id="datatable-keytable-mticket" class="table table-hover">
                <thead>
                <th>Ticket #</th>
                <th>Date</th>
                <th>Title</th>
                <th>Status</th>
                <th>Action</th>
                </thead>
                <tbody>
                <% if @tickets.size > 0 %>
                <% @tickets.each do |t|%>
                <tr>
                  <td> <%=t.id %></td>
                  <td class="timeUtc"><%=t.created_at.strftime("%Y-%m-%d %H:%M:%S %z") %></td>
                  <td>
                    <% if t.status == "processed"%>
                      <span class=""><%=t.title %></span>
                    <% else %>
                      <span><%=t.title %></span>
                    <% end %>
                  </td>
                  <td>
                    <% if t.status == "untreated" %>
                        <span class="badge badge-primary">Pending</span>
                    <% elsif t.status == "closed" %>
                        <span class="badge badge-danger">Closed</span>
                    <% elsif t.status == "processed" %>
                        <span class="badge badge-success">Processed</span>
                    <%end %>

                  </td>
                  <td>
                    <% if t.merchant_attention == true %>
                      <a class="btn btn-outline-secondary btn-sm ticket_view" id="attention-#{t.id} merchant_attention"  href="<%= merchant_support_path(t.id) %>"><i class="icon-eye icons"></i></a>
                    <% else %>
                      <a class="btn btn-outline-secondary btn-sm ticket_view" href="<%= merchant_support_path(t.id) %>"><i class="icon-eye icons"></i></a>
                    <% end %>
                    <input type="hidden" id="ticked_id_input" value="<%= t.id %>>">
                  </td>
                 </tr>
                <% end %>
                <% else %>
                    <tr><td colspan="5"><h3 id="entries_sup">No Entries Yet!</h3></td></tr>
                <% end %>
                </tbody>
              </table>
              <span id="showing1">Showing <%=@tickets.try(:size)%> of <%=@tickets.total_count %> records</span>
              <%= paginate @tickets, :theme => 'twitter-bootstrap-3', :pagination_class => "pagination-small pagination-centered pull-right padd"%>
              </div>
            </div>
          </div>
        <!-- </div> -->
        <div class="card-footer text-right">
          <div class="row">
            <div class="col-md-3 text-left">
              <!--<small>Total transaction 444</small>-->
            </div>
            <div class="col-md-9">
              <!--<ul class="pagination">-->
              <!--<li class="active"><span>1</span></li>-->
              <!--<li><a href="#" data-ci-pagination-page="2">2</a></li>-->
              <!--<li><a href="#" data-ci-pagination-page="3">3</a></li>-->
              <!--<li><a href="#" data-ci-pagination-page="45"><i class="icon-arrow-right icons"></i></a></li>-->
              <!--</ul>-->
            </div>
          </div>
        </div>
      <!-- </div> -->
</div>
</div>
</div>

<section id="replyTicket"></section>
<%= render 'shared/maintenance_modal', locals: {title: 'System Maintenance', body: 'We apologize for any inconvenience, but this feature is currently unavailable at this time. Please email support@greenboxpos.com for all your inquiries. Thank you!'} %>


