
  <div class="box">
            <div class="box-header with-border">
              <div class="col-md-12">
                <div class="row">
                  <div class="col-md-1">
                    <a href="<%= merchant_supports_path %>" class="btn btn-sm" id="back"> < Back </a>
                  </div>
                  <h3 class="box-title" id="ticket_details">Ticket Details</h3>
                  <div class="col-md-6">
                  </div>
                </div>
              </div>
            </div>
            <div class="box-body">
            <div class="">
    <!-- <div class="col-md-9 mt-3"> -->
      <div class="row">
        <div class="col-md-8 mb-2">
          <h5>Ticket #<%= @ticket.id %></h5>
        </div>
        <div class="col-md-4 mb-2 text-right">
          <% if @ticket.status=='closed'%>
              <button  class="btn btn-success btn-sm ticket_open_close_button" data-toggle="modal" data-target="#maintenance-modal"> Open Ticket</button>
          <% else %>
            <div class="build" id="ticket_close">
              <a href="<%= close_ticket_merchant_supports_path(@ticket.id) %>" class="btn btn-danger btn-sm ticket_open_close_button" data-confirm="Are you sure?"> Close Ticket</a>
            </div>
          <% end  %>
        </div>
      </div>
          <div class="row">
            <div class="col-md-12">
              <div class="card card-primary" >
                <div class="card-header">
                  <span class="ml-2">ME</span>
                </div>
                <div class="card-body">
                  <div class="row">
                    <div class="col-md-8">
                      <p class="card-text"><%= simple_format(@ticket.message).gsub(URI.regexp, '<a target="_blank" href="\0">\0</a>').html_safe %> </p>
                    </div>
                    <div class="col-md-4" >
                      <% if @ticket.images.size > 0%>
                          <div class="row">
                            <div class="col-md-12">
                              <span class="underlined">Attachments</span>
                            </div>
                          </div>
                          <div class="row">
                            <% @ticket.images.each do |img|%>
                                  <div class="col-md-12 "><span class="text-primary " ><%=img.add_image_file_name[0..10]+".#{File.extname(img.add_image_file_name)}" %></span> (<%=number_to_human_size(img.add_image_file_size) %>)
                                    <span><a href="<%= img.add_image.url%>"><i class="fa fa-eye  ml-2"></i></a></span>
                                  </div>
                            <% end  %>
                          </div>

                      <% else %>
                      <% end  %>
                    </div>
                  </div>
                </div>
                <div class="card-footer">
                  <p class="card-text"><small class="text-muted timeUtc"><%= @ticket.created_at.strftime("%Y-%m-%d %H:%M:%S %z") %></small></p>
                </div>
              </div>
              <% @comments.each do |ticket| %>
                  <% if ticket.user_id != current_user.id %>
                      <div class="card card-success mt-3" >
                        <div class="card-header" id="qc_support">
                          <span class="ml-2">QC Support</span>
                        </div>
                        <div class="card-body">
                          <div class="row">
                            <div class="col-md-8">
                              <p class="card-text"> <%= simple_format(ticket.body).gsub(URI.regexp, '<a target="_blank" href="\0">\0</a>').html_safe %> </p>
                            </div>
                            <div class="col-md-4" >
                              <% if ticket.images.size > 0%>
                                  <div class="row">
                                    <span class="underlined ml-3">Attachments</span>
                                  </div>
                                  <div class="col-md-12">
                                    <% ticket.images.each do |img|%>
                                        <div class="row  ">
                                  <span class="text-primary " >
                                    <%=img.add_image_file_name[0..10]+".#{File.extname(img.add_image_file_name)}" %>
                                  </span> (<%=number_to_human_size(img.add_image_file_size) %>)
                                          <span><a href="<%= img.add_image.url%>"><i class="fa fa-eye  ml-2"></i></a></span>
                                        </div>
                                    <% end  %>
                                  </div>

                              <% else %>
                              <% end  %>
                            </div>
                          </div>
                        </div>
                        <div class="card-footer">
                          <p class="card-text"><small class="text-muted timeUtc"><%= ticket.created_at.strftime("%Y-%m-%d %H:%M:%S %z") %></small></p>
                        </div>
                      </div>
                      <% else %>

                      <div class="card card-primary mt-3">
                        <div class="card-header">
                          <span class="ml-2">ME</span>
                        </div>
                        <div class="card-body">
                          <div class="row">
                            <div class="col-md-8">
                              <p class="card-text"> <%= simple_format(ticket.body).gsub(URI.regexp, '<a target="_blank" href="\0">\0</a>').html_safe %> </p>
                            </div>
                            <div class="col-md-4" >
                              <% if ticket.images.size > 0%>
                                  <div class="row">
                                    <span class="underlined ml-3">Attachments</span>
                                  </div>
                                  <div class="col-md-12">
                                    <% ticket.images.each do |img|%>
                                        <div class="row ">
                                  <span class="text-primary " >
                                    <%=img.add_image_file_name[0..10]+".#{File.extname(img.add_image_file_name)}" %>
                                  </span> (<%=number_to_human_size(img.add_image_file_size) %>)

                                          <a class="load" href="<%= img.add_image.url%>" data-toggle="lightbox">
                                            <i class="fa fa-eye  ml-2"></i>
                                          </a>

                                        </div>
                                    <% end  %>
                                  </div>

                              <% else %>
                              <% end  %>
                            </div>
                          </div>
                        </div>
                        <div class="card-footer">
                          <p class="card-text"><small class="text-muted timeUtc"><%= ticket.created_at.strftime("%Y-%m-%d %H:%M:%S %z") %></small></p>
                        </div>
                      </div>
                  <% end %>
              <% end %>
            </div>
            <div class="col-md-12 mt-3">
              <%= render partial: 'merchant/supports/comment' , locals: {:ticket => @ticket} %>
            </div>
      </div>
    <!-- </div> -->
  </div>
</div>
</div>

<%= render 'shared/maintenance_modal', locals: {title: 'System Maintenance', body: 'We apologize for any inconvenience, but this feature is currently unavailable at this time. Please email support@greenboxpos.com for all your inquiries. Thank you!'} %>
