<div class="col-md-12 theme-showcase" role="main">
  <div class="row">
    <div class="col-md-6 mt-4">
      <h3>Money transfer</h3>
    </div>
    <div class="col-md-6 mt-4 text-right">
      <div class="btn-group" role="group" aria-label="Basic example">
        <a href="http://192.168.100.18/rj/canyon-latest/justwallet/account/orders" class="btn btn-light"><i class="icon-badge icons"></i> My orders</a>
        <a href="http://192.168.100.18/rj/canyon-latest/justwallet/account/cart" class="btn btn-light"><i class="icon-basket icons"></i> My cart <span class="badge badge-pill badge-danger">0</span></a>
      </div>
    </div>
    <div class="col-md-12">
      <hr>
    </div>
    <%= render :partial => 'shared/merchant_menu' %>
    <div class="col-md-9 mt-3">
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
      <script>
          (function($) {
              $(function() {
                  var argument = $('input[name="amount"]')
                      , result = $('input[name="sum"]')
                      , multiplier = 0.1;
                  argument.on('input', function() {
                      result.val($(this).val() * multiplier);
                  });
              });
          })(jQuery);;
      </script>
      <div class="row">
        <div class="col-md-12 mb-2">
          <h5>Form of money transfer</h5>
        </div>
      </div>
      <form action="" method="post" accept-charset="utf-8">
      <input type="hidden" name="csrf_token" value="bacb3f16b9550bb2c2a9e5c2d7097ad8">
      <div class="card">
        <div class="card-body">
          <div class="row">

            <div class="form-group col-md-5">
              <label for="title">Amount trasfer</label>
              <input type="text" class="form-control " name="amount" onkeyup="this.value = this.value.replace (/^\.|[^\d\.]/g, '')" placeholder="0.00">
            </div>
            <div class="form-group col-md-2">
              <label>Currency</label>
              <select class="form-control" name="currency">
                <option value="debit_base">
                  USD                    </option>
                <option value="debit_extra1">
                  RUB                    </option>
                <option value="debit_extra2">
                  EUR                    </option>
                <option value="debit_extra3">
                  UAH                    </option>
                <option value="debit_extra4">
                  CNY                    </option>
                <option value="debit_extra5">
                  GBP                    </option>
              </select>
            </div>
            <div class="form-group col-md-5">
              <label>Fee, 10%</label>
              <input type="text" class="form-control" name="sum" disabled="">
            </div>
            <div class="form-group col-md-10">
              <label>Username receiver</label>
              <input type="text" class="form-control" name="receiver">
            </div>
            <div class="form-group col-md-2">
              <button type="button" data-toggle="collapse" data-target="#protect" aria-expanded="false" aria-controls="protect" class="btn btn-outline-secondary btn-block margin-t-transfer">Protection</button>
            </div>
            <div class="collapse" id="protect">
              <div class="col-md-12">
                <div class="card text-white bg-danger card-body">
                  <label>Code protection</label>
                  <input type="text" class="form-control" name="code_protect" onkeyup="this.value = this.value.replace (/^\.|[^\d\.]/g, '')" placeholder="1234" maxlength="4">
                  <small class="form-text text-white">Transaction will be performed when the recipient enters the protection code. Send the protection code to the recipient when you make sure the deal is completed.</small>
                </div>
              </div>

            </div>

            <div class="form-group col-md-12">
              <label>Note for recipient</label>
              <textarea class="form-control" rows="5" name="note"></textarea>
            </div>

            <div class="col-md-12 text-right">
              <button type="submit" class="btn btn-success">Send money</button>
            </div>

          </div>
        </div>
      </div>
      </form>
    </div>
  </div>


</div>