

<section class="section">
<%#= will_paginate @users %>
  <div class="row">
    <div class="col-md-12">
      <div class="card sameheight-item items" data-exclude="xs,sm,lg">
        <div class="card-header bordered">
          <div class="header-block">
            <h3 class="title">Transaction Report</h3>
          </div>

        </div>

        <section class="example">
          <div class="">
            <div class="table-responsive">
              <table id="keytable" class="table table-striped table-bordered table-hover" >
                <thead>
                <tr>
                  <th>ID</th>
                  <th>Auditable type</th>
                  <th>Action</th>
                  <th>Created at</th>
                  <th>IP</th>
                  <th>Actions</th>
                </tr>
                </thead>

                <tbody>
                <% @audits.each do |u| %>

                    <tr>

                      <td><%= u.id %></td>
                      <td><%= u.auditable_type %></td>
                      <td><%= u.action %></td>
                      <td><%= u.created_at.localtime.strftime("%Y-%m-%d %I:%M %p") %></td>
                      <td><%= u.remote_address %></td>
                      <td>
                        <% if(u.action == "create") %>
                            <a href="#" title="Logs" data-placement="left" data-toggle="popover" data-trigger="hover" data-content="<%= u.auditable_type %> is <%= u.action %>d at <%= u.created_at.localtime.strftime("%Y-%m-%d %I:%M:%S %p") %> from <%= u.remote_address %>" class="btn btn-info btn-sm">Details</a>
                        <% elsif(u.action == "update") %>
                            <a href="#" title="Logs" data-placement="left" data-toggle="popover" data-trigger="hover" data-content="<%= u.auditable_type %> is <%= u.action %>d at <%= u.created_at.localtime.strftime("%Y-%m-%d %I:%M:%S %p") %> from <%= u.remote_address %>" class="btn btn-info btn-sm">Details</a>
                        <% else %>
                        <% end %>
                      </td>

                    </tr>
                <%end%>

                </tbody>
              </table>
            </div>
          </div>
        </section>
      </div>
    </div>
  </div>
</section>


<script type="text/javascript">
    $('#keytable').DataTable({
        "responsive": true,
        "sScrollX": false,
        "searching": true,
        "order": [[ 0, "desc" ]]
    });
    $(document).ready(function(){
        $('[data-toggle="popover"]').popover();
    });
</script>

