
<section class="section">
<%#= will_paginate @users %>
  <div class="row">
    <div class="col-md-12">
      <div class="card sameheight-item items" data-exclude="xs,sm,lg">
        <div class="card-header bordered">
          <div class="header-block">
            <h3 class="title">All Transactions</h3>
          </div>

        </div>

        <section class="example">
          <div class="">
            <div class="table-responsive">
              <table id="keytable" class="table table-striped table-bordered table-hover" >
                <thead>
                <tr>
                  <th>ID</th>
                  <th>Type</th>
                  <th>Source</th>
                  <th>Destination</th>
                  <th>Amount</th>
                  <th>Card Last4</th>
                  <th>Created At</th>
                  <th>Action</th>
                </tr>
                </thead>

                <tbody>
                <% @transactions.each do |t| %>

                    <tr>
                      <td class="sorted"><%= t[:id].first(6) %></td>
                      <td> <%= t[:type].upcase %></td>
                      <td><%= t[:source] %></td>
                      <td><%= t[:destination] %></td>
                      <td><%= t[:amount] %></td>
                      <td><%= t[:reference]["last4"] %></td>
                      <td><%= t[:timestamp].localtime.strftime("%m-%d-%Y %I:%M:%S %p") %></td>

                      <td><%=link_to("Reports", transaction_report_admins_audits_path(id: t[:id]), html_options = {class: "btn btn-sm btn-success"}) %></td>

                    </tr>
                <%end%>

                </tbody>
              </table>
            </div>
          </div>
        </section>
      </div>
    </div>
  </div>
</section>


<script type="text/javascript">
    $('#keytable').DataTable({
        "responsive": true,
        "sScrollX": false,
        "searching": true,
        "order": [[ 0, "desc" ]]
    });

    // $('.timeUtc').each(function (i,v) {
    //     var gmtDateTime = moment.utc(v.innerText, 'MM-DD-YYYY, hh:mm A');
    //     var local = moment(gmtDateTime).local().format('MM-DD-YYYY hh:mm A');
    //     v.innerText = local
    // });
    $(document).ready(function () {
    });

</script>

