
<section class="section">
<%#= will_paginate @users %>
  <div class="row">
    <div class="col-md-12">
      <div class="card sameheight-item items" data-exclude="xs,sm,lg">
        <div class="card-header bordered">
          <div class="header-block">
            <h3 class="title">Users Reports</h3>
          </div>
          <!--<div class="header-block pull-right">-->
          <!--<button type="button" data-toggle="modal" data-target="#search" class="btn btn-warning btn-sm"><i class="icon-magnifier icons"></i> Search</button>-->
          <!--</div>-->
        </div>

        <section class="example">
          <div class="">
            <div class="table-responsive">
              <table id="datatable-keytable" class="table table-striped table-bordered table-hover" data-source="<%= all_users_users_url(format: "json") %>" cellspacing="0" cellpadding="0">

                <thead>
                <tr>
                  <th class="all">ID</th>
                  <th>Name</th>
                  <th>Email</th>
                  <th>Phone</th>
                  <th class="all">Status</th>
                  <th class="none">Profile</th>
                  <th class="none">Front</th>
                  <th class="none">Back</th>
                  <th class="none">Postal</th>
                  <th class="all">Actions</th>
                </tr>
                </thead>

                <tbody>
                <%# @users.each do |user| %>

                <tr>


                </tr>
                <%#end%>

                </tbody>
              </table>
            </div>
          </div>
        </section>
      </div>
    </div>
  </div>
</section>


<script type="text/javascript">
    var table = $('#datatable-keytable').DataTable({
        "responsive": true,
        "sScrollX": false,
        "sSearch": true,
        "ordering": true,
        "processing": true,
        "searching": true,
        "serverSide": true,
        "order": [[ 1, "desc" ]],
//        "ajax": "/admins/users/all_users",
        "columnDefs": [
            // { "visible": true,"width": "1%", "targets": 0 },
            // { "visible": true,"width": "3%", "targets": 1 },
            // { "visible": true,"width": "2%", "targets": 2 },
            // { "visible": true,"width": "2%", "targets": 3 },
            // { "visible": true,"width": "2%", "targets": 4 },
            // { "type": "datetime-moment","visible": true,"width": "4%", "targets": 5 }
        ]
    });

    $('#click').click(function(){
        console.log('click');
        tabDetailds($(this).data("id"));

    });


    function tabDetailds(id) {
        $.ajax({
            url: '/admins/show_balance',
            type: 'GET',
            data: {user_id: id},
            success: function(data) {
                console.log(data);
                $(".in").append(data).after( $("#modal-68").modal());
                $("#modal-68").modal();

            },
            error: function(data){
                console.log(data);
            }
        });

    }

</script>

