<div class="modal fade modal-fixed-footer" id="customer-dispute-detail" tabindex="-1" role="dialog" aria-labelledby="permission_modalLabel">
  <div class="modal-dialog width-90">
    <div class="modal-header text-left bg-primary text-white">
      <h4 class="modal-title"><i class="fa fa-money"></i><span class="ml-2">Dispute Chat</span></h4>
      <button type="button" class="close" data-dismiss="modal" id="close_btn1">&times;</button>
    </div>
    <div class="modal-content container-fluid">
      <% dba_name = @messages.first.try(:message_transaction).present? ? @messages.first.message_transaction.receiver_wallet.location.business_name : "" %>
      <div class="col-lg-12 col-md-12" id="inbox-body">
        <% if @chat.empty? %>
          <div class="row">
            <div class="col-lg-12 col-md-12 chat-header">
              <div class="heading-style">No Chat Exists!</div>
            </div>
          </div>
        <% else %>
          <div class="row">
            <div class="col-lg-12 col-md-12 inbox-header">
              <div class="row">
                <div class="col-lg-6 col-md-6">
                  <div class="row">
<!--                    <div class="col-lg-2 col-md-2">-->
<!--                      <div class="user_profile_image">-->
<!--                        <p class="user_slug"><%#= dba_name.try(:initial) %></p>-->
<!--                      </div>-->
<!--                    </div>-->
                    <div class="col-lg-10 col-md-10">
                      <p class="company_name">
                        <input type="hidden" id="transaction_id" value="<%= @messages.first.message_transaction.id %>">
                        <input type="hidden" id="last_msg_id" value="<%= @messages.first.id %>">
                        <input type="hidden" id="merchant_id" value="<%= @messages.last.recipient.role == "merchant" ? @messages.last.recipient_id : @messages.last.actor_id  %>">
                        <%= dba_name %>
                      </p>
                    </div>
                  </div>
                </div>
                <div class="col-lg-6 col-md-6">
                  <p class="order-id">Order ID <%= @messages.first.try(:message_transaction).try(:order_id) %></p>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 inbox-messages temp_<%=@chat.keys.first%>" id="inbox-messages">
              <div class="row">
                <div class="col-lg-12 col-sm-12 col-md-12">
                  <p class="available-time">Available from 8am to 5pm</p>
                </div>
                <div id="msgs_rows">
                  <% @messages.each do |msg| %>
                  <% unless msg.text.present? %>
                      <div class="col-lg-12 col-sm-12 col-md-12">
                        <p class="available-time no-more">No more messages</p>
                      </div>

                  <% end %>
                  <% if msg.text.present? %>
                    <% if msg.recipient.role == "merchant" %>
                      <div class="col-lg-12 col-sm-12 col-md-12">
                        <div class="row margin-15" >
                          <div class="col-lg-6 col-sm-6 col-md-6"></div>
                          <div class="col-lg-6 col-sm-6 col-md-6">
                            <div class="chat-respond-messages pull-right">
                              <div class="respond-chat-container">
                                <div class="chat-respond msg">
                                  <div class="flippd">
                                    <div class="chatmsg">
                                      <%= msg.text %>
                                    </div>
                                  </div>
                                </div>
                              </div>
                              <% if msg.read_at.present? %>
                                <p class="status pull-right">Read</p>
                              <% end %>
                            </div>
                          </div>
                        </div>
                      </div>
                    <% else %>

                      <div class="col-lg-12 col-sm-12 col-xs-10 col-md-12">
                        <div class="row chatbox_responsive_row margin-15">
                          <div class="col-lg-6 col-sm-6 col-md-6">
                            <div class="chat-sender-messages">
                              <div class="chat-container">
                                <div class="chat-sender msg">
                                  <div class="chatmsg">
                                    <%= msg.text %>
                                  </div>
                                </div>
                              </div>
                            </div>
                            <p class="sending-date pull-right"><%= msg.created_at.strftime("%A %I:%M %p") %></p>
                          </div>
                          <div class="col-lg-6 col-sm-6 col-md-6"></div>
                        </div>
                      </div>


                    <% end %>
                  <% end %>
                  <% if msg.attachments.present? %>
                    <% if msg.recipient.role == "merchant" %>
                      <% msg.attachments.each do |attach| %>
                        <div class="col-lg-12 col-sm-12 col-md-12">
                          <div class="row margin-15" >
                            <div class="col-lg-6 col-sm-6 col-md-6"></div>
                            <div class="col-lg-6 col-sm-6 col-md-6">
                              <div class="chat-respond-messages pull-right">
                                <div class="respond-chat-container">
                                  <div class="chat-respond msg">
                                    <div class="flippd">
                                      <div class="chatmsg">
                                        <a href="<%= attach.document.url %>" target="_blank"><%= attach.document_file_name %></a>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                                <% if msg.read_at.present? %>
                                  <p class="status pull-right">Read</p>
                                <% end %>
                              </div>
                            </div>
                          </div>
                        </div>

                      <% end %>

                    <% else %>
                      <% msg.attachments.each do |attach| %>

                        <div class="col-lg-12 col-sm-12 col-xs-10 col-md-12">
                          <div class="row chatbox_responsive_row margin-15">
                            <div class="col-lg-6 col-sm-6 col-md-6">
                              <div class="chat-sender-messages">
                                <div class="chat-container">
                                  <div class="chat-sender msg">
                                    <div class="chatmsg">
                                      <a href="<%= attach.document.url %>" target="_blank"><%= attach.document_file_name %></a>
                                    </div>
                                  </div>
                                </div>
                              </div>
                              <p class="sending-date pull-right"><%= msg.created_at.strftime("%A %I:%M %p") %></p>
                            </div>
                            <div class="col-lg-6 col-sm-6 col-md-6"></div>
                          </div>
                        </div>

                      <% end %>

                    <% end %>
                  <% end %>

                <% end %>
                </div>
              </div>
              <div class="row background-white">
                <div class="col-lg-12 col-md-12">
                  <div id='filename'></div>
                </div>
              </div>
              <div id="lastmessage"></div>
            </div>

          </div>
          <div id="append_and_paginate">
            <%# will_paginate @messages %>
          </div>
      <% end %>
      </div>


    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>
<%= javascript_include_tag 'admins/messages' %>