
<div class="in"></div>
<div class="sidebar-overlay" id="sidebar-overlay"></div>
<div class="title-block">
  <h1 class="title">
    Customer Portal                        </h1>
</div>
<div class="container-fluid ad-verifications-st-1">
  <ul class="nav nav-tabs dispute_tabs distinct ad-verifications-st-2">
    <li class="<%= params[:dispute_type] == 'refund' ? 'active' : ''%>"><a href="<%= admins_customer_disputes_path(dispute_type: "refund") %>">Dispute</a></li>
    <li class="<%= params[:dispute_type] == "dispute_chat" ? 'active' : ''%>"><a href="<%= admins_messages_path(dispute_type: "dispute_chat") %>">Chats</a></li>
  </ul>
</div>
<section class="section">
  <div class="row">
    <div class="col-md-12">
      <div class="card sameheight-item items" data-exclude="xs,sm,lg">
        <div class="card-header bordered">
          <div class="header-block">
            <span id="show">Show</span>
            <span id="show_left">
              <%= form_tag admins_messages_path, method: :get , id: 'chat'  do  %>
                 <%= select_tag "filter", options_for_select(@filters.map{|v|[v]}, selected: params[:filter].present? ? params[:filter] : "10"),
                                :prompt => false,
                                :required => true,
                                class: "form-control form-control-sm",
                                data: {confirm: "Are you sure ?"}
                 %>
              <% end %>
            </span>
            <span id="entries">Entries</span>
          </div>
          <div class="col-md-3 pull-right">
            <!--            <input type="text" class="form-control pull-right search_input_field" value="<%#= params[:q]%>" placeholder=" &#xf002; Search&hellip;" name="search" id="srch-term">-->
          </div>
          <a href="#search_chat" data-toggle="collapse" aria-expanded="false" aria-controls="search_chat" class="btn btn-outline-secondary btn-sm"><i class="icon-magnifier icons"></i> Search</a>

        </div>

        <%=form_tag admins_messages_index_path, method: :get, class:'search_chat',  autocomplete: "off" do  %>
          <div class="col-sm-12 shipment-admin-form-shared">
            <div class="col-sm-12">
              <div class="collapse" id="search_chat">
                <div class="card card-body">
                  <div class="row margin-top-10-px-shared">
                    <div class="col-md-12 margin-top-15-px-shared">
                      <div class="form-group col-md-4">
                        <label for="id">Order ID</label>
                        <input type="number" name="query[order_id]" id="order_id" class="form-control" placeholder="Order ID"  value="<%= params[:query].present? ? params[:query]["order_id"] : "" %>" />
                      </div>
                      <div class="form-group col-md-4">
                        <label for="id">Merchant Name</label>
                        <input type="text" name="query[merchant_name]" id="merchant_name" class="form-control" placeholder="Merchant Name"  value="<%= params[:query].present? ? params[:query]["merchant_name"] : "" %>"  />
                      </div>
                      <div class="form-group col-md-4">
                        <label for="id">Customer Name</label>
                        <input type="text" name="query[cust_name]" id="cust_name" class="form-control" placeholder="Customer Name" value="<%= params[:query].present? ? params[:query]["cust_name"] : "" %>"/>
                      </div>

                    </div>
                    <div class="col-md-12 margin-top-15-px-shared">
                      <div class="form-group col-md-4">
                        <label for="id">Order Amount</label>
                        <input type="text" name="query[order_amount]" id="order_amount" class="form-control" placeholder="Order Amount" value="<%= params[:query].present? ? params[:query]["order_amount"] : "" %>"/>
                      </div>
                      <div class="form-group col-md-4" id="order_date">
                        <label for="id">Order Date & Time</label>
                        <input type="text" name="query[order_date_time]" id="order_date_time" class="form-control" placeholder="Order Date & Time"  value="<%= params[:query].present? ? params[:query]["order_date_time"] : "" %>" />
                        <input type="hidden" id="offset_new" name="offset" value="<%= params[:offset].present? ? params[:offset] : DateTime.now.zone %>"  />
                        <br>
                        <%#= select_tag 'query[time1]', options_for_select(@time_option.map {|v| [v[:view], v[:value]]}, selected: params[:query].present? ? params[:query]["time1"] : ""), include_blank: "Start Time", class: "form-control" %>
                        <br>
                        <%#= select_tag 'query[time2]', options_for_select(@time_option.map {|v| [v[:view], v[:value]]}, selected: params[:query].present? ? params[:query]["time2"] : ""), include_blank: "End Time", class: "form-control" %>
                      </div>

                    </div>


                    <div class="col-md-12 text-right">
                      <button type="submit" id="search_btn" class="btn btn-success btn-sm search_button">Search</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        <% end %>


        <!--       partial table  start --->
        <div class="container-fluid">
          <div class="box">
            <div class="box-header"></div>
            <div class="box-body">
              <table class="table table-striped">
                <tr class="table-header">
                  <th>Order ID</th>
                  <th>Merchant Name</th>
                  <th>Customer Name</th>
                  <th>Order Amount</th>
                  <th>Order Date</th>
                  <th>Chat Details</th>
                </tr>

                <% @orders.each do |order| %>
                  <tr>
<!--                  <tr data-url-path="<%#= admins_message_path(order.id) %>" class="detail_link show-dynamic-modal cursor_pointer" data-modal-selector="#customer-dispute-detail" data-modal-container-selector="#custom_modal" data-method="GET">-->
                    <td><%= order.order_id %></td>
                    <td><%= order.receiver_name %></td>
                    <td><%= order.sender_name %></td>
                    <td><%= number_to_currency(order.total_amount) %></td>
                    <td><span class="timeUtc-dispute"><%= order.created_at %></span></td>
                    <td>
                      <div class="dropdown">
                        <a href="#" class="dropdown-style" type="button" data-toggle="dropdown" >●●●
                        </a>
                        <ul class="dropdown-menu white-background">
                          <li><%= link_to("Details","#", remote: true, :class => "btn btn-sm show-dynamic-modal show-cover-spin", "data-modal_container_selector" => "#custom_modal", "data-modal_selector" => "#customer-dispute-detail",  "data-url" =>  admins_message_path(order.id) , "data-method" => "GET" ) %></li>
                        </ul>
                      </div>

                    </td>
                  </tr>
                <% end %>
              </table>
            </div>
          </div>
        </div>
        <div class="col-md-12 tx_pagination">
          <div class="row">
            <div class="col-md-4">
                    <span>Showing <%=@orders.try(:size)%> of <%=@orders.total_count %> records</span>
            </div>
            <div class="col-md-8">
              <div class="text-align-right-ach" id="paginator">
                <% if @orders.present? %>
                  <%= paginate @orders, :theme => 'twitter-bootstrap-3', :pagination_class => "pagination-small pagination-centered pull-right padd"%>
                <% end %>
              </div>
            </div>
          </div>
        </div>
        <section id="custom_modal"></section>
<!--        partial table end-->

      </div>
    </div>
  </div>
</section>

