<div class="modal fade" id="exportModalDialog1">
  <div class="modal-dialog width-500-px-order-bank">
    <div class="modal-content width-500-px-order-bank">
      <!-- Modal Header -->
      <div class="modal-header text-left bg-primary text-white">
        <h4 class="modal-title float-left-order-bank" ><span class="ml-2 display-none-order-bank" id="transaction_heading_2">Export</span> <span class="ml-2" id="transaction_heading">Export Transactions</span></h4>
        <button type="button" class="close" data-dismiss="modal" id="export_close1">×</button>
      </div>
      <!-- Modal body -->
      <div class="modal-body bg-smoke-margin-bottom-n-20">
        <div class="card bg-smoke-order-bank">
          <div class="card-body">
            <div id="body_31">
              <p>Please wait until your download is ready</p>
            </div>
            <div id="body_41" class="display-none-order-bank">
              <p>Please download the file from below</p>
              <a href="#" class="btn btn-primary margin-left-175-px-order-bank" id="download_link">Download</a>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer bg-smoke-order-bank" id="exportModalFooter">
      </div>
    </div>
  </div>
</div>
