$("#achSection").html("<%= j render(partial: 'export_modal')%>")
$("#exportModalDialog1").modal()

    $("#exportDate").daterangepicker({
        "maxSpan": {
            "days": 90
        }
    });
    $('#download_link').on("click", function () {
        $(this).addClass('disabled');
    });

function clickAndDisable(link) {
    // disable subsequent clicks
    link.onclick = function(event) {
        event.preventDefault();
    }
}
