
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />

<div class="sidebar-overlay" id="sidebar-overlay"></div>
<section class="section">
  <div class="">
    <div class="col-md-12">
      <div class="card sameheight-item items" data-exclude="xs,sm,lg">
        <div class="card-header bordered">
          <div class="col-md-8 mb-2">
            <div class="header-block">
              <div class="primary">
                <h3 class="title text-capitalize"><%= @header %></h3>
              </div>
            </div>
          </div>
        </div>

        <div class="col-sm-12 col-lg-12 section-border-order-bank">
          <div class="col-sm-12 col-lg-12">
            <div class="card card-body">
              <div class="row margin-top-10-px-order-bank">
                <div class="col-md-12">
                  <%= form_tag admins_order_banks_path, method: :get, class:'search_transactions' do  %>
                    <div class="form-group col-md-3">
                      <div class="row">
                        <h5>Select Gateway</h5>
                      </div>
                      <div class="row">
                        <select name="gateway[]" id="gateway" multiple>
                          <% if params[:gateway].present? && params[:gateway].include?("all") %>
                            <option value="all" selected>All Gateways</option>
                          <% elsif !params[:gateway].present? %>
                            <option value="all" selected>All Gateways</option>
                          <% end %>
                          <% PaymentGateway.main_gateways.eager_load(:descriptor).order(name: :asc).each do |gateway| %>
                            <% if params[:gateway].present? && params[:gateway].map(&:to_i).include?(gateway.id) && !params[:gateway].include?("all") %>
                              <option value="<%= gateway.id %>" selected><%= gateway.descriptor.present? ? "(#{gateway.descriptor.name}) - #{gateway.name}" : gateway.name %></option>
                            <% else %>
                              <option value="<%= gateway.id %>"><%= gateway.descriptor.present? ? "(#{gateway.descriptor.name}) - #{gateway.name}" : gateway.name %></option>
                            <% end %>
                          <% end %>
                        </select>
                        <%#= select_tag "gateway", options_for_select(PaymentGateway.all.order(name: :asc).map{|v| [v.name,v.key] }, selected: params["gateway"] ),include_blank: "All Gateways", class: 'form-control'%>
                      </div>
                    </div>
                    <div class="form-group col-md-3">
                      <div class="row">
                        <h5>Bank Status</h5>
                      </div>
                      <div class="row">
                        <%= select_tag "bank_status", options_for_select([['ACTIVE', false],['INACTIVE', true]], selected: params[:bank_status]) ,include_blank: "Bank Status", class: 'form-control'%>
                      </div>
                    </div>
                    <div class="form-group col-md-3">
                      <div class="row">
                        <h5>Select Date</h5>
                      </div>
                      <div class="row">
                        <input type='hidden' name="offset" value="<%= params[:offset] %>" />
                        <input type='text' name="query[date]" class="form-control dateRange" value="<%= params[:query][:date] if params[:query].present? %>" autocomplete="off"/>
                      </div>
                    </div>
                    <div class="form-group col-md-1">
                      <div class="row">
                        <h5> &nbsp;</h5>
                      </div>
                      <div class="row">
                        <button type="submit" class="btn btn-success btn-sm search_button">Search</button>
                      </div>
                    </div>
                  <% end  %>
                  <div class="form-group col-md-2">
                    <div class="row">
                      <h5> &nbsp;</h5>
                    </div>
                    <div class="row">
                      <div class="dropdown">
                        <button class="btn btn-sm btn-primary dropdown-toggle dropdown-toggle-order-bank" type="button" data-toggle="dropdown">Export Processing Report
                          </button>
                        <ul class="dropdown-menu" id="cc_report">
                          <li class="text-align-center-order-bank">
                        <%= form_tag "#{export_admins_order_banks_path}", method: :post,remote: true do  %>
                          <input type='hidden' name="gateway" value="<%= params[:gateway] %>" />
                          <input type='hidden' name="offset" value="<%= params[:offset] %>" />
                          <input type='hidden' name="bankstatus" value="<%= params[:bank_status] %>" />
                            <input type='hidden' name="query[date]" value="<%= params[:query].present? ? params[:query][:date].present? ? params[:query][:date] : '' : '' %>" />
<!--                          <input type='hidden' name="orders" value="<%#= @decline.to_json %>" />-->
                                <button type="submit" class="btn btn-link detailed-submit-button">Detailed</button>
                        <% end %>
                          </li>
                          <li class="text-align-center-order-bank">
                            <%= form_tag "#{export_summary_admins_order_banks_path}.csv", method: :post do  %>
                              <input type='hidden' name="gateway" value="<%= params[:gateway] %>" />
                              <input type='hidden' name="query[date]" value="<%= params[:query].present? ? params[:query][:date].present? ? params[:query][:date] : '' : '' %>" />
                              <input type='hidden' name="orders" value="<%= @list.to_json %>" />
                              <input type='hidden' name="total_amount" value="<%= number_with_precision(@total_amount,precision:2)%>" />
                              <input type='hidden' name="total_decline" value="<%= number_with_precision(@total_decline,precision:2) %>" />
                              <input type='hidden' name="total" value="<%= number_with_precision(@total, precision:2) %>" />
                              <input type='hidden' name="total_approved" value="<%= number_with_precision(@total_approved, precision:2) %>" />
                              <input type='hidden' name="total_order_declined" value="<%= number_with_precision(@total_order_declined, precision:2) %>" />
                              <button type="submit" class="btn btn-link detailed-submit-button">Summary</button>
                            <% end %>
                          </li>
                        </ul>
                      </div>
                    </div>
                  </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        <div class="card-body">
          <div class="margin-top-20-px-bttom-40-px" >
            <div id="col-md-12">
              <div class="">
                <div class="table-responsive">
                  <table id="datatable-keytable" class="table table-striped table-bordered" cellspacing="0" cellpadding="0">
                    <thead>
                    <tr>
                      <th>Card Type</th>
                      <th>Total Order Approved</th>
                      <th>Approved Amount</th>
                      <th>Total Order Declined</th>
                      <th>Decline Amount</th>
                      <th>Total Amount</th>
                      <th>Declines %</th>
                    </tr>
                    </thead>
                    <tbody>
                    <% if !@list.nil?%>
                      <% @list.each do |d| %>
                        <tr>
                          <td><%=d[:type]	  %></td>
                          <td><%= d[:total_order].try(:to_i)  %></td>
                          <td><%= number_to_currency(number_with_precision(d[:approved_amount],precision:2))	  %></td>
                          <td><%= d[:order_declined]  %></td>
                          <td><%= number_to_currency(number_with_precision(d[:decline_amount],precision:2))	  %></td>
                          <td><%= number_to_currency(number_with_precision(d[:total_amount],precision:2)) %></td>
                          <td><%=	number_with_precision(d[:decline],precision:2)  %></td>
                        </tr>
                      <% end %>
                    <% end %>
                    </tbody>
                    <tfoot>
                    <tr>
                      <th>Total</th>
                      <th><%= @total.try(:to_i) %></th>
                      <th><%= number_to_currency(number_with_precision(@total_approved,precision:2)) %></th>
                      <th><%= @total_order_declined %></th>
                      <th><%= number_to_currency(number_with_precision(@total_decline,precision:2)) %></th>
                      <th><%= number_to_currency(number_with_precision(@total_amount,precision:2))  %></th>
                      <th></th>
                    </tr>
                    </tfoot>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  </div>
</section>
<section class="section" id="detailSection"></section>
<section id="achSection"></section>
