<div  class="col-lg-12 col-md-12 col-sm-12 table  charge_back_table mt-4">
  <input type="hidden" id="bulk_check_instance" name="bulk_check_instance" value="<%= @bulk_check_instance.id %>">
<table class="pt-0 chargeback_datatable">
  <thead>
  <tr>
    <th>
      Name
    </th>
    <th>
      Last Name
    </th>
    <th>
      Phone #
    </th>
    <th>
      Email
    </th>
    <th class="text-right">
      Bank Account
    </th>
    <th class="amount-th">
      Check <br/>
      Amount
    </th>
    <th>
      <center>
           <div class="dropdown">
          <button class="btn-status text-center" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="flaticon-interface-2 icon_charge_back"></i>
            <span class="">Status</span>
          </button>
          <%= simple_form_for :search, url: '/v2/merchant/bulk_checks', method: "GET", html: { class: 'form-inline' , id: "befor_filter_form" }, data: {id: @bulk_check_instance.id} do |f| %>
          <div class="dropdown_before_send dropdown-menu status_drop_down_new" aria-labelledby="dropdownMenuButton">
            <p class="refund-dropdown-heading">Select Status</p>
            <div class="">
              <label class="m-checkbox m-r-checkbox mb-0 pl-3 m-checkbox_chargeback">
                <input type="checkbox" class="checkbox_2 payee_checkbox" id="search_all" name="search[all]" value="1" <%= "checked" if params["search"].try(:[],:all) == "1" ||  params["search"].try(:select) {|k,v| v=="1"}.try(:keys).try(:count) == 3 %>>
                <p class="status_text ml-3">All</p>
                <span></span>
              </label>
            </div>
            <div class="">
              <label class="m-checkbox m-r-checkbox mb-0 pl-3 m-checkbox_chargeback">
               <input type="checkbox" class="payee_checkbox" id="ready" name="search[ready]" value="1" <%= "checked" if  params["search"].try(:[],:ready) == "1" %>>
                <p class="status_text ml-3">Ready</p>
                <span></span>
              </label>
            </div>
            <div class="">
              <label class="m-checkbox m-r-checkbox mb-0 pl-3 m-checkbox_chargeback">
             <input type="checkbox" class="payee_checkbox" id="pending" name="search[pending]" value="1" <%= "checked" if  params["search"].try(:[],:pending)  == "1" %>>
                <p class="status_text ml-3">Pending</p>
                <span></span>
              </label>
            </div>
          </div>
          <%end%>
        </div>
      </center>
    </th>
    <th>

    </th>
  </tr>
  </thead>
  <% if @checks.size > 0 %>
  <tbody>

        <% @checks.each_with_index do |r,i|%>
            <tr id="row_<%= r.id%>" class="charge_back_hover <%= (i+1).odd? ? "odd" : "even"%>">
                <td> <div id="name_<%= r.id%>"><%= r.name %></div></td>
                <td> <div id="lname_<%= r.id%>"><%= r.last_name %></div></td>
                <td> <div id="phone_<%= r.id%>"><%= r.phone %></div></td>
                <td> <div id="email_<%= r.id%>"><%= r.email %></div></td>
                <td class="text-right bank-account-td"> <div id="acc_<%= r.id%>"><%= r.account_number %></div></td>
                <td class="amount-td"> <div id="amount_<%= r.id%>"><%= "$ "+number_with_precision(r.amount, precision: 2)%></div></td>
                <td>
                  <center>
                    <%if r.status == "Success"%>
                        <span class="badge pending" id="check-<%= r.id %>"><%= r.status %></span>
                    <%elsif r.status == "Ready"%>
                        <span class="badge paid" id="check-<%= r.id %>"><%= r.status %></span>
                    <% else %>
                        <span class="badge pending" id="check-<%= r.id %>"><%= r.status %></span>
                    <% end %>
                  </center>
                </td>
                <td>
                  <div class="row">
                    <% if r.status != "Success" && r.status != "Ready" %>
                        <%= link_to '<button class="btn btn-sm btn-primary  view_check_details detail_check"><i class="fa fa-eye"></i></button>'.html_safe, bulk_check_detail_merchant_check_path(r) ,remote: true, id: "detail_check" %>
                    <% elsif (!@inst.nil? && @inst.start_process == false) %>
                          <div id="check_info_<%= r.id%> check_in_fo" >
                            <button title="edit" class="show-dynamic-modal action_buttons"  data-modal_container_selector="#bulk_section" data-modal_selector="#editBulkModal" data-url= "<%= edit_v2_merchant_bulk_check_path(r.id) %>" data-method="GET"><%= image_tag("v2/merchant/datatable/create-24px.svg")%></button> 
                          </div>
                          <button title="delete" class="action_buttons"  id= "bulk_check_delete"data-modal_container_selector="#bulk_section" data-modal_selector="#deleteBulkModal" data-id=<%= r.id %>><%= image_tag("v2/merchant/datatable/delete-24px.svg")%></button>

                    <% elsif r.status != "PENDING" && r.status != "Success" %>
                        <a href="#" class="isDisabled1 delete1 remove_btn show_bulk_check_function" id='delete-<%= r.id%>',data="<%= r.id %>" >
                          <span class="btn btn-danger btn-sm">Remove</span>
                        </a>
                    <% end %>
                    <% if r.status == "Success" %>
                        <%= link_to '<button class="btn btn-sm btn-primary  view_check_details detail_check"><i class="fa fa-eye"></i></button>'.html_safe, bulk_check_detail_merchant_check_path(r) ,remote: true, id: "detail_check" %>
                    <% end %>
                      <% c = r.tango_order %>
                      <% if c.present? && (c.status == "UNPAID" || c.status == "PENDING" || c.status == "IN_PROCESS") %>
                        <%= form_tag merchant_check_path(c.id), method: :put, data:{confirm: t('merchant.checks.void_check_confrim')}  do  %>
                          <input type="hidden" name="status" value="VOID">
                          <input type="hidden" name="id" value="<%= c.id %>">
                          <%= submit_tag("Void" ,class: "btn btn-sm btn-danger margin-left-3px") %>
                      <% end %>
                    <%  end %>
                </div>
              </td>
            </tr>
        <% end %>
  <% else %>
    <tr>
      <td colspan="7">
        <div class="col-xl-12 ">
          <center  class="m-5 p-5">
            <%= image_tag "v2/merchant/datatable/no_data.svg" %>
            <p class="No-data-available mt-4 mr-4">No data available</p>
          </center>
        </div>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>
</div>
<%= render partial: "v2/merchant/bulk_checks/datatable_pagination" , locals: {variable: @checks} %> 



