<div id="bulk_check_show_table" class="col-lg-12 col-md-12 col-sm-12 table charge_back_table mt-4">
  <table  class="pt-0 chargeback_datatable">
<!--<table class="table table-striped- table-bordered table-hover table-checkable listing_datatable" id="m_table_1">-->
  <thead>
    <tr>
   <th>
    Check ID
     <%# sort_link(@q, :id, "Check ID") %>
   </th>
      <th>Check Number</th>
      <th>
        Creation Date
        <%# sort_link(@q, :created_at, "Creation Date") %>  
      </th>
      <% if current_user.merchant? %>
        <th>
          Account
           <%# sort_link(@q, :wallet_name, "Account") %> 
        </th>
      <% end %>
      <th>
        Name on Check
        <%# sort_link(@q, :name, "Name on Check") %>
      </th>
      <th>
        Email
        <%# sort_link(@q, :recipient, "Email") %>
      </th>
      <th class="text-right">Check <br>
        Amount
        <%# sort_link(@q, :actual_amount, "Amount") %>
      </th>
      <th class="amount-th">Fee</th>
      <th class="text-right">Total<br> 
        Amount
        <%# sort_link(@q, :amount, "Amount") %>
      </th>
      <th>
        <center>
          <div class="dropdown">
            <button class="btn-status text-center" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <i class="flaticon-interface-2 icon_charge_back"></i>
              <span class="">Status</span>
            </button>
                 <%= simple_form_for :search, url: "/v2/merchant/bulk_checks/#{@bulk_check.id}", method: "GET", html: { class: 'form-inline' , id: "filter_form"} , data: {id: @bulk_check.id} do |f| %>
            <div class="dropdown-menu status_drop_down_new" aria-labelledby="dropdownMenuButton">
              <p class="refund-dropdown-heading">Select Status</p>
              <div class="">
                <label class="m-checkbox m-r-checkbox mb-0 pl-3 m-checkbox_chargeback">
                  <input type="checkbox" class="checkbox_2 payee_checkbox" id="search_all" name="search[all]" value="1" <%=  params["search"].try(:[],:all) == "1" ||  params["search"].try(:select) {|k,v| v=="1"}.try(:keys).try(:count) == 6  ? "checked" : "" %>>
                  <p class="status_text ml-3">All</p>
                  <span></span>
                </label>
              </div>
              <div class="">
                <label class="m-checkbox m-r-checkbox mb-0 pl-3 m-checkbox_chargeback">
                 <input type="checkbox" class="payee_checkbox" id="paid" name="search[paid]" value="1" <%= "checked" if  params["search"].try(:[],:paid) == "1" %>>
                  <p class="status_text ml-3">Paid</p>
                  <span></span>
                </label>
              </div>
              <div class="">
                <label class="m-checkbox m-r-checkbox mb-0 pl-3 m-checkbox_chargeback">
               <input type="checkbox" class="payee_checkbox" id="pending" name="search[pending]" value="1" <%= "checked" if  params["search"].try(:[],:pending)  == "1" %>>
                  <p class="status_text ml-3">Pending</p>
                  <span></span>
                </label>
              </div>
              <div class="">
                <label class="m-checkbox m-r-checkbox mb-0 pl-3 m-checkbox_chargeback">
                 <input type="checkbox" class="payee_checkbox" id="failed" name="search[failed]" value="1" <%= "checked" if params["search"].try(:[],:failed)  == "1" %>>
                  <p class="status_text  ml-3">Failed</p>
                  <span></span>
                </label>
              </div>
              <div class="">
                <label class="m-checkbox m-r-checkbox mb-0 pl-3 m-checkbox_chargeback">
                 <input type="checkbox" class="payee_checkbox" id="search[void]"  name="search[void]" value="1" <%= "checked" if params["search"].try(:[],:void)  == "1" %>>
                  <p class="status_text ml-3">Void</p>
                  <span></span>
                </label>
              </div>
              <div class="">
                <label class="m-checkbox m-r-checkbox mb-0 pl-3 m-checkbox_chargeback">
                 <input type="checkbox" class="payee_checkbox" id="search[in_process]"  name="search[in_process]" value="1" <%= "checked" if params["search"].try(:[],:in_process)  == "1" %>>
                  <p class="status_text ml-3">In Process</p>
                  <span></span>
                </label>
              </div>
              <div class="">
                <label class="m-checkbox m-r-checkbox mb-0 pl-3 m-checkbox_chargeback">
                 <input type="checkbox" class="payee_checkbox" id="search[paid_wire]"  name="search[paid_wire]" value="1" <%= "checked" if params["search"].try(:[],:paid_wire)  == "1" %>>
                  <p class="status_text ml-3">Paid by Wire</p>
                  <span></span>
                </label>
              </div>
            </div>
            <%end%>
          </div>
        </center>
      </th>
    </tr>
  </thead>
    <% if !@tango_checks.empty? %>
  <tbody>
      <%  @tango_checks.each_with_index do |c,i|  %>
      <tr class="charge_back_hover  <%= (i+1).odd? ? "odd" : "even"%>" data-id=<%= c.id %> , data-bulk_id = <%= params[:id] %> >
        <td class="check_id_td"><%=c.id   %></td>
        <% if c.ach? %>
          <td><%= c.checkId.blank? ? "----" : ach_check_number(c.checkId) %></td>
        <% else %>
          <td><%= c.number.blank? ? "----" : c.number %></td>
        <% end %>
        <% if cookies[:timezone].present? %>
          <td ><%= c.created_at.in_time_zone(cookies[:timezone]).strftime("%m-%d-%Y %I:%M:%S %p")%></td>
        <%else %>
          <td class="timeUtc"><%= c.created_at.strftime("%m-%d-%Y %I:%M:%S %p")%></td>
        <% end %>
        <!--                      <td><%#= c.number.blank? ? "-" : c.number %></td>-->
         <% if current_user.merchant? %>
        <td> <%= Wallet.find_by_id(c.wallet_id).try(:name) %></td>
          <% end %>
        <td><%= c. name  %></td>
        <td><%=c.recipient%></td>
        <td class="account-td">$ <%= number_with_precision(c.actual_amount.to_f, :precision => 2, delimiter: ',') %></td>
        <td class="account-td">$<%= c.get_location_fee_for_bulk_checks(c.amount,@wallet, 1)%></td>
        <td class="account-td">$<%= number_with_precision(c.get_location_fee_for_bulk_checks(c.amount.to_f,@wallet, 1).to_f + c.amount.to_f, :precision => 2, :delimiter => ',') %>
        </td>
       
        <td>
<!--                  <span class="badge badge-info"><%#= ach_status(c.status)  %></span>-->

        <center>
          <% if c.status == "PAID" %>
            <span class="badge paid"><%=  c.status %></span>
          <% elsif c.status == "UNPAID" %>
            <span class="badge canceled"><%=  c.status %></span>
          <% elsif c.status == "VOID" %>
            <span class="badge past_due"><%=  c.status %></span>
          <% elsif c.status == "IN_PROCESS" || c.status == "captured" %>
            <span class="badge in_progress"><%=  ach_status(c.status) %></span>
          <% elsif c.status == "IN_PROGRESS" %>
            <span class="badge in_progress"><%= ach_status(c.status) %></span>
          <% elsif c.status == "PAID_WIRE" %>
            <span class="badge paid">PAID BY WIRE</span>
          <% elsif c.status == "PENDING" || c.status == "pending"%>
            <span class="badge pending"><%= c.status  %></span>
          <% elsif c.status == "FAILED" %>
            <span class="badge canceled"><%= c.status  %></span>
          <% elsif c.status == "COMPLETE" %>
            <span class="badge paid"><%=  c.status  %></span>
          <% else %>
            <span class="badge badge-info status_style"><%= c.status  %></span>
          <% end %>
          </center>
        </td>
      </tr>
    <%   end  %>
    <% else %>
      <tr>
        <td colspan="10">
          <div class="col-xl-12 ">
            <center  class="m-5 p-5">
              <%= image_tag "v2/merchant/datatable/no_data.svg" %>
              <p class="No-data-available mt-4 mr-4">No data available</p>
            </center>
          </div>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>




<%= render partial: "v2/merchant/shared/datatable_pagination" , locals: {variable: @tango_checks} %>
<div class="total_amount_div ">
  <div class="total_checks_count"><%= @total_checks_count %></div>
  <div class="total_checks_amount"><%= @total_checks_amount %></div>
  <div class="total_fee_amount"><%= @total_fee_amount %></div>
  <div class="total_amount"><%= @total_amount %></div>
</div>