<div class="modal fade" id="bulkcheck_void_modal" class="confirmProfileModal" tabindex="-1" role="dialog" aria-labelledby="orderModelLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header" >
        <p class="void-header-text">Void Check</p>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form method="post" action="">

          <div class="text-center mt-4 simple-36-bold-text">
            <p class="mb-0">Are you sure you want to
            </p>
            <p >void this Check</p>
          </div>
          <div class="text-center simple-24-normal-text">
            <p class="mb-0">You will not be able to reverse</p>
            <p>this transaction once you submit void.</p>
          </div>

          <div class="text-center mt-5">
            <a href="#" class="btn void-no-btn" data-dismiss="modal">No</a>
            <a id="yes_void" href="#" class="btn void-yes-btn ml-3 void-success-cal" data-dismiss="modal" data-toggle='modal' data-target = '#SuccessVoidAccountTransferModal'>Yes </a>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>