<div id="bulk_check_data_id" class="col-lg-12 col-md-12 col-sm-12 table charge_back_table mt-4">
  <table  class="pt-0 chargeback_datatable">
<!--<table class="table table-striped- table-bordered table-hover table-checkable listing_datatable detail_table" id="m_table_1">-->
  <thead>
  <tr>
    <th>
      Check ID
      <%# sort_link(@q, :id, "Check ID") %>
    </th>
    <th>
      Account
      <%# sort_link(@q, :user_wallet_name, "Account") %>
    </th>
    <th class="creation_date_bulk">
      Creation Date
      <%# sort_link(@q, :created_at, "Creation Date") %>
    </th>
    <th class="text-right total_checks_in_bulk">
      Total Checks
    </th>
    <th class="amount-th">
      <span class="bulk_checks_text">Checks</span><br>
      Amount
      <%# sort_link(@q, :total_amount, "Amount") %>
    </th>
    <th>
      <center>
        <div class="dropdown">
          <button class="btn-status text-center" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="flaticon-interface-2 icon_charge_back"></i>
            <span class="">Status</span>
          </button>
              <%= simple_form_for :search, url: '/v2/merchant/bulk_checks', method: "GET", html: { class: 'form-inline' , id: "filter_form"} do |f| %>
          <div class="dropdown-menu bulk_checks_drop_down status_drop_down_new" aria-labelledby="dropdownMenuButton">
            <p class="refund-dropdown-heading">Select Status</p>
            <div class="">
              <label class="m-checkbox m-r-checkbox mb-0 pl-3 m-checkbox_chargeback">
                <input type="checkbox" class="checkbox_2 payee_checkbox" id="search_all" name="search[all]" value="1" <%=  "checked" if params["search"].try(:[],:all) == "1" %>>
                <p class="status_text ml-3">All</p>
                <span></span>
              </label>
            </div>
            <div class="">
              <label class="m-checkbox m-r-checkbox mb-0 pl-3 m-checkbox_chargeback">
               <input type="checkbox" class="payee_checkbox" id="done" name="search[done]" value="1" <%= "checked" if  params["search"].try(:[],:done) == "1" %>>
                <p class="status_text ml-3">Done</p>
                <span></span>
              </label>
            </div>
            <div class="">
              <label class="m-checkbox m-r-checkbox mb-0 pl-3 m-checkbox_chargeback">
             <input type="checkbox" class="payee_checkbox" id="processing" name="search[processing]" value="1" <%= "checked" if  params["search"].try(:[],:processing)  == "1" %>>
                <p class="status_text ml-3">Processing</p>
                <span></span>
              </label>
            </div>
            <div class="">
              <label class="m-checkbox m-r-checkbox mb-0 pl-3 m-checkbox_chargeback">
               <input type="checkbox" class="payee_checkbox" id="incomplete" name="search[incomplete]" value="1" <%= "checked" if params["search"].try(:[],:incomplete)  == "1" %>>
                <p class="status_text  ml-3">Incomplete</p>
                <span></span>
              </label>
            </div>
          </div>
          <%end%>
        </div>
      </center>
    </th>
  </tr>
  </thead>
    <%if !@bulks.empty? && @user_permission.try(:check_view_only) %>
  <tbody>
      <%	@bulks.each_with_index do |c,i|  %>
        <!-- <a class="bulk_check_anchor" href=<%= v2_merchant_bulk_check_path(c.id) %>> -->
        <tr class="align_center charge_back_hover <%= (i+1).odd? ? "odd" : "even"%>" data-link = "<%= v2_merchant_bulk_check_path(c.id)%>">
          
          <td><%= c.id	%></td>
          <td>
            <%# show_bulk_wallet(c.try(:wallet)) %>
            <%= c.try(:user_wallet).try(:name) %>
          </td>
          <!-- <td class="creation_date_bulk"><%#	c.created_at.strftime("%d-%m-%Y %H:%M:%S") %> -->
            <%# c.created_at.in_time_zone(cookies[:timezone]).strftime("%m-%d-%Y %I:%M:%S %p")%>
            <% if cookies[:timezone].present? %>
              <td class="creation_date_bulk"><%= c.created_at.in_time_zone(cookies[:timezone]).strftime("%m-%d-%Y %I:%M:%S %p")%></td>
            <%else %>
              <td class="creation_date_bulk timeUtc"><%= c.created_at.strftime("%m-%d-%Y %I:%M:%S %p")%></td>
            <% end %>
          <td class="text-right total_checks_in_bulk"><%= c.bulk_checks.where(is_processed: true, status: ["Success","PENDING"]).count %>/<%= c.bulk_checks.count %></td>
          <td class="amount-td">$ <%= number_with_precision(c.total_amount, precision: 2) %></td>
          <td>
            <center>
              
              <%if get_bulk_status(c)=='Done' %>
                  <span class="badge badge-success">Done</span>
              <% elsif get_bulk_status(c)=='Processing'%>
                  <span class="badge badge-warning">Processing</span>
              <% else %>
                  <span class="badge badge-danger">Incomplete</span>
              <% end %>
            
            </center>
          </td>
        </tr>
      <!-- </a> -->
        
      <%end  %>
    <% else %>
      <tr>
        <td colspan="10">
          <div class="col-xl-12 ">
            <center  class="m-5 p-5">
              <%= image_tag "v2/merchant/datatable/no_data.svg" %>
              <p class="No-data-available mt-4 mr-4">No data available</p>
            </center>
          </div>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>
<% if @user_permission.try(:check_view_only) %>
<%= render partial: "v2/merchant/shared/datatable_pagination" , locals: {variable: @bulks} %>
<% end %>
<div class="total_amount_div ">
  <div class="total_pending"><%= @total_pending %></div>
  <div class="total_failed"><%= @total_failed %></div>
  <div class="total_void"><%= @total_void %></div>
  <div class="total_paid"><%= @total_paid %></div>
</div>