<div class="modal fade" id="deleteBulkModal" class="confirm-p2c-modal" tabindex="-1" role="dialog" aria-labelledby="orderModelLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header" >
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">

        </button>
      </div>
      <div class="modal-body text--center">
        <div class="account-transfer-confirm m-4">
          <div class="row">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
              <div class="text text-center center_bulk_heading">
                Are You sure you want to remove this check from the bulk?
              </div>
            </div>
          </div>
          <form onsubmit="return false">
            <div class="row mt-4">
              <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-xs-12 m-auto">
                <div class="text--center">
                  <div class="brown">
                    <div class="label lab-side">
                      Name
                      <span class="price name" id="avail_balance">
                      Babsim Bay
                    </span>
                    </div>
                  </div>
                  <div class="simple">
                    <div class="label lab-side">
                      Recipient Email
                      <span class="price email" id="trans_amount">
                      bay@gmail.com
                    </span>
                    </div>
                  </div>
                  <div class="brown">
                    <div class="label lab-side">
                      Phone
                      <span class="price phone">
                       963258741
                      </span>
                    </div>
                  </div>
                  <div class="simple">
                    <div class="label lab-side">
                      Bank Account
                      <span class="price account_number" id="total_amount">
                       •••• 1236
                    </span>
                    </div>
                  </div>
                  <div class="right-box">
                    <div class="label lab-side">
                      Remaining balance
                      <span class="price pull-right remain_balance" id="remain_balance">
                      $32,543.00
                    </span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="row mt-4">
              <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12 text--center">
                <div class="mt-4 text--center">
                  <a href="#" class="btn activity_log_btn text--center  m-btn m-btn--icon mr-3 back" data-dismiss="modal" aria-label="Close" data-toggle='modal' data-target = '#newP2CModal'>
                    Back
                  </a>
                  <a href="#" class="btn btn-default btn-preview-invoice succes--call remove_bulk_check" data-dismiss="modal" >Confirm</a>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>