<div class="modal fade" id="editBulkModal" class="confirm-p2c-modal" tabindex="-1" role="dialog" aria-labelledby="orderModelLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <p class="my-modal-header">Edit Check</p>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">

        </button>
      </div>
      <div class="modal-body">
        <div class="account-transfer-confirm m-4">
          <!-- <form class="edit_bulk" onsubmit="return false"> -->
            <%= form_tag(v2_merchant_bulk_checks_path(@check.id), method: :patch , id: "edit_check_form" , class: "edit_bulk") do%>
              <div class="row mt-3">
                <div class="col-lg-6">
                  <label for="enterAccount">
                    Name
                  </label>
                  <!-- <input type="text" class="form-control m-input m-input--air m-input--pill" placeholder="Kardashan"> -->
                   <%= text_field_tag "name", @check.name, class: "form-control", placeholder: "First Name", required: true , maxlength: "20" %>
                </div>
                <div class="col-lg-6">
                  <label for="enterAccount">
                    Last Name
                  </label>
                  <!-- <input type="text" class="form-control m-input m-input--air m-input--pill" placeholder="Bay"> -->
                  <%= text_field_tag "last_name", @check.last_name, class: "form-control", placeholder: "Last Name", required: true , maxlength: "20" %>
                </div>
              </div>
              <div class="row mt-3">
                <div class="col-lg-6">
                  <label for="enterAccount">
                    Phone #
                  </label>
                  <!-- <input type="text" class="form-control m-input m-input--air m-input--pill" placeholder="(365)365 3561"> -->
                  <%= text_field_tag "phone", @check.phone ,class: "form-control", placeholder: "Phone number", required: true , maxlength: "15"%>
                </div>
                <div class="col-lg-6">
                  <label for="enterAccount">
                    Email
                  </label>
                 <!--  <input type="text" class="form-control m-input m-input--air m-input--pill" placeholder="bay@email.com"> -->
                   <%= text_field_tag "email", @check.email, class: "form-control", email: :true, placeholder: "Recipient email", required: true , maxlength: "36" %>
                      <%= hidden_field_tag "wallet_id", id: "wallet_id", value: "", class: "form-control"%>
                </div>
              </div>
              <div class="row mt-3">
                <div class="col-lg-6">
                  <label for="enterAccount">
                    Bank Account
                  </label>
                  <!-- <input type="text" class="form-control m-input m-input--air m-input--pill" placeholder="•••• •••• •••• 1236"> -->
                     <%= text_field_tag "account_number", @check.account_number, class: "form-control account_number_field", placeholder: "Account number", maxlength: "24" , required: true%>
                </div>
                    <%= hidden_field_tag "routing_number", @check.routing_number, class: "form-control routing_number_field", placeholder: "Routing number", min:"0"%>
                     <%= hidden_field_tag "confirm_account_number", @check.account_number, class: "form-control confirm_account_number_field", placeholder: "Confirm account number", min:"0"%>
                <div class="col-lg-6">
                  <label for="enterAccount">
                    Check Amount
                  </label>
                  <!-- <input type="text" class="form-control m-input m-input--air m-input--pill" placeholder="$123.36"> -->
                   <%= number_field_tag "amount", number_with_precision(@check.amount,:precision => 2, :delimiter => ','), min:"0", step: "0.01", class: "form-control two_decimal", placeholder: "0.00", required: true , type: "text"%>
                   <span class="amount_limit_error"></span>
                </div>
              </div>

              <div class="row mt-4">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12 text--center">
                  <div class="mt-4 text--center">
                    <a href="#" class="btn activity_log_btn text--center  m-btn m-btn--icon mr-3 back" data-dismiss="modal" aria-label="Close" data-toggle='modal' data-target = '#newP2CModal'>
                      Back
                    </a>
                    <!-- <a href="#" class="btn btn-default btn-preview-invoice succes--call" data-dismiss="modal" aria-label="Close" data-toggle='modal' data-target = '#SuccessAccountTransferModal'>Confirm</a> -->
                    <a id="update_bulk_check" class="btn btn-default btn-preview-invoice succes--call"  data-id="<%= @check.id %>" aria-label="Close" >Confirm</a>
                  </div>
                </div>
              </div>
            <%end%>
        </div>
      </div>
    </div>
  </div>
</div>