<div class="modal fade" id="newcheckModal"  tabindex="-1" role="dialog" aria-labelledby="orderModelLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header" >
        <p class="my-modal-header">New Bulk Check</p>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <%= form_tag(import_checks_v2_merchant_bulk_checks_path, method: :POST, multipart: true , id: "new_bulk_check") do %>
          <div class="col-lg-12">

            <div class="form-group m-form__group">

              <div class="row">
                <div class="col-lg-6 side_note">
                  The first line in the downloaded CSV file should remain as it is in the Sample File. Please do not change the order of columns.
                </div>
                <div class="col-lg-6">
                  <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="box-pad dis-flex newbulkbox">
                      <!-- <div class="circle_icon"></div> -->
                      <div class="sec-text text-pad">
                        <p class="important-note-text">
                          <strong>
                            Download the sample file for reference
                          </strong>
                        </p>
                      </div>
                      <div class="col text-center">
                        <!-- <button type="button" class="btn m-btn--pill btn-secondary" href="<%= ENV['BULK_CHECK_SAMPLE']%>">
                          Download
                        </button> -->
                        <a  id="a_btn" class="btn m-btn--pill btn-secondary" href="<%= ENV['BULK_CHECK_SAMPLE']%>"></span> Download</a>
                      </div>
                    </div>
                  </div>
              </div>
            </div>
              <div class="row">
                <div class="col-lg-4">
                  <label for="enterAccount">
                    Select File from Computer
                  </label>
                    
<!--                    <div id='filename'></div>-->
                    <div id="drop-zone">
                      <div id="upload_icon" class= "btn btn-default btn-track-order">Upload files</div>
                      <%# evidence.file_field :document ,name: "evidences_attributes[document][]",id: "customer_dispute_evidences_attributes_0_document" ,accept:".doc,.rtf,.xlsx,.docx,application/msword,image/x-png,image/gif,image/jpeg,application/pdf" %>
                      <%= file_field_tag :file, accept: '.csv', required: true %>
                    </div>
                </div>
                <div id="file_portion" class="col-lg-6">
                  <br>
                  <div id='filename'></div>
                </div>
              </div>
          </div>

          </div>
          <div class="col-lg-12 text-center">
            <div class="confirm-modal-btn">
              <!-- <a class="btn btn-default bulk_btn_confirm">Import Checks</a> -->
                <%= submit_tag "Import Checks", id:'submit_button', :class => "btn btn-default bulk_btn_confirm"%>
            </div>
          </div>
      <%end%>
    </div>
  </div>
</div>
</div>
