<div class="row">
  <div class="col-md-12">
    <div class="table-responsive">
      <table id="datatable-keytable-mticket" class="table table-hover table-striped">
        <thead>
        <th>Name</th>
        <th>Last Name</th>
        <th>Phone</th>
        <th>Email</th>
        <% if @checks.size > 0 && @checks.first.tango_order.present? %>
            <!--<th>Routing Number</th>-->
            <th>Account</th>
        <% else %>
            <th>Routing Number</th>
            <th>Account</th>
        <% end %>
        <!--<th>Routing Number</th>-->
        <!--<th>Account</th>-->
        <th>Amount</th>
        <th>Status</th>
        <th>Action</th>
        </thead>
        <tbody>
        <% if @checks.size > 0 %>
            <% @checks.each do |r|%>
                <tr id="row_<%= r.id%>">

                  <td> <div id="name_<%= r.id%>"><%= r.name %></div></td>
                  <td> <div id="lname_<%= r.id%>"><%= r.last_name %></div></td>
                  <td> <div id="phone_<%= r.id%>"><%= r.phone %></div></td>
                  <td> <div id="email_<%= r.id%>"><%= r.email %></div></td>
                  <% if r.tango_order.present? %>
                      <td> <div id="acc_<%= r.id%>"><%= mask_account_number(r.account_number) %></div></td>
                      <% else %>
                      <td> <div id="rout_<%= r.id%>"><%= r.routing_number %></div></td>
                      <td> <div id="acc_<%= r.id%>"><%= r.account_number %></div></td>
                <% end %>
                  <td> <div id="amount_<%= r.id%>"><%= "$ "+number_with_precision(r.amount, precision: 2)%></div></td>
                  <td>
                    <% if r.tango_order.present? && r.tango_order.status.present? %>
                      <% status=ach_status(r.tango_order.status) %>
                      <% if status=="PAID" || status=="paid" %>
                        <span class="status"  id="check-<%= r.id %> paid1"><b class="badge badge-info"id="paid1"><%= ach_status(r.tango_order.status) %></b></span>
<!--                        <span class="badge badge-info" style="padding: 10px;background-color: green"><%#= status %></span>-->
                      <% elsif status=="VOID" || status== "void" %>
                        <span class="status"  id="check-<%= r.id %> amount_erorr1"><b class="badge badge-info" id="amount_error1"><%= ach_status(r.tango_order.status) %></b></span>
                      <% elsif status=="PAID_WIRE" || status=="paid_wire" %>
                        <span class="status"  id="check-<%= r.id %>"><b class="badge badge-info" id="status"><%= ach_status(r.tango_order.status) %></b></span>
                      <% elsif status=="IN_PROCESS" %>
                        <span class="status"  id="check-<%= r.id %>"><b class="badge badge-info btn-warning" ><%= ach_status(r.tango_order.status) %></b></span>
<!--                        <span  class="badge btn-warning" style="padding: 10px"><%#= status %></span>-->
                      <% elsif status=="PENDING" || status=="pending" %>
                        <span class="status"  id="check-<%= r.id %>"><b class="badge badge-info" id="status_pending"><%= ach_status(r.tango_order.status) %></b></span>
                      <% elsif status=="FAILED" || status=="failed" %>
                        <span class="status"  id="check-<%= r.id %>"><b class="badge badge-info" id="status_failed"><%= ach_status(r.tango_order.status) %></b></span>
                      <% else %>
                        <span class="status" id="check-<%= r.id %>"><b class="badge badge-info"><%= ach_status(r.tango_order.status) %></b></span>
                      <% end %>
                    <% else %>
                        <%if r.status == "Success"%>
                            <span class="status" id="check-<%= r.id %>"><b class="color-green"><%= r.status %></b></span>
                        <%elsif r.status == "Ready"%>
                            <span class="status" id="check-<%= r.id %>"><b class="color-blue"><%= r.status %></b></span>
                        <% else %>
                            <span class="status" id="check-<%= r.id %>"><b class="color-red"><%= r.status %></b></span>
                        <% end %>
                    <% end %>
                  </td>
                  <td>
                    <div class="row">
                    <% if r.status != "Success" && r.status != "Ready" %>
                        <!--<div id="check_id_<%#= r.id %>">-->
                          <!--<a data-toggle="modal"-->
                            <!--data-routing="<%#= r.routing_number %>"-->
                            <!--data-account="<%#= r.account_number %>"-->
                            <!--data-confirmacc="<%#= r.confirm_account %>"-->
                            <!--data-cid="<%#= r.id %>"-->
                            <!--data-target="#resendModalDialog"-->
                            <!--class="resendModalDialog">-->
                            <!--<button type="button" class="btn btn-primary btn-sm resend-button12">Resend</button>-->
                          <!--</a>-->
                        <!--</div>-->
                        <!--<div id="remove1_<%#= r.id%>">-->
                          <!--<%#=	link_to "Remove", merchant_check_path(id: r), method: :delete, class: "btn btn-danger btn-sm isDisabled delete", id: 'deleteresend-'+r.id.to_s, remote: true %>-->
                        <!--</div>-->
                        <%= link_to '<button class="btn btn-sm btn-primary  view_check_details detail_check"><i class="fa fa-eye"></i></button>'.html_safe, bulk_check_detail_merchant_check_path(r) ,remote: true, id: "detail_check" %>
                    <% elsif (!@inst.nil? && @inst.start_process == false) %>
                          <div id="check_info_<%= r.id%> check_in_fo" >
                          <!--<a data-toggle="modal"-->
                             <!--data-name="<%#= r.name %>"-->
                             <!--data-lname="<%#= r.last_name %>"-->
                             <!--data-phone="<%#= r.phone %>"-->
                             <!--data-email="<%#= r.email %>"-->
                             <!--data-amount="<%#= r.amount %>"-->
                             <!--data-routing="<%#= r.routing_number %>"-->
                             <!--data-account="<%#= r.account_number %>"-->
                             <!--data-confirmacc="<%#= r.confirm_account %>"-->
                             <!--data-cid="<%#= r.id %>"-->
                             <!--data-target="#updateModalDialog"-->
                             <!--class="updateModalDialog" id="updateModalDialog_<%#= r.id%>"><button type="button" class="btn btn-primary btn-sm update-button12">Edit</button></a>-->
                            <!--<a data-toggle="modal" data-id="<%#= r.id%>" data-target="#updateModalDialog" class="updateModalDialog" id="updateModalDialog_<%= r.id%>"><button type="button" class="btn btn-primary btn-sm update-button12">Edit</button></a>-->
                            <%= link_to 'Edit',update_check_form_merchant_checks_path(checid: r.id) ,class: 'btn btn-primary btn-sm updateModalDialog', remote: true , id: "updateModalDialog_#{r.id}" %>
                          </div>
                        <%#=	link_to '<span class="btn btn-danger btn-sm">Remove</span>'.html_safe, {controller: 'merchant/checks', action: 'destroy', id: r}, method: :delete, class: "isDisabled1 delete1", id: 'delete-'+r.id.to_s, remote: true %>
                        <%#=	a href="#"> "Remove", onclick => myFunction(r.id), class: "btn btn-danger btn-sm isDisabled1 delete1", id: 'delete-'+r.id.to_s%>
                      <a href="#" class="isDisabled1 delete1 remove_btn show_bulk_check_function" id='delete-<%= r.id%>', data="<%= r.id %>"  >
                        <span class="btn btn-danger btn-sm">Remove</span>
                      </a>
                    <% elsif r.status != "PENDING" && r.status != "Success" %>
                      <a href="#" class="isDisabled1 delete1 remove_btn show_bulk_check_function" id='delete-<%= r.id%>',data="<%= r.id %>" >
                        <span class="btn btn-danger btn-sm">Remove</span>
                      </a>
                    <% end %>
                    <% if r.status == "Success" %>
                        <%= link_to '<button class="btn btn-sm btn-primary  view_check_details detail_check"><i class="fa fa-eye"></i></button>'.html_safe, bulk_check_detail_merchant_check_path(r) ,remote: true, id: "detail_check" %>
                    <% end %>
                      <% c = r.tango_order %>
                      <% if c.present? && (c.status == "UNPAID" || c.status == "PENDING" || c.status == "IN_PROCESS") %>
                        <%= form_tag merchant_check_path(c.id), method: :put, data:{confirm: t('merchant.checks.void_check_confrim')}  do  %>
                          <input type="hidden" name="status" value="VOID">
                          <input type="hidden" name="id" value="<%= c.id %>">
                          <%= submit_tag("Void" ,class: "btn btn-sm btn-danger margin-left-3px") %>
                        <% end %>
                      <%  end %>
                    </div>
                  </td>
                </tr>
            <% end %>
        <% else %>
            <tr><td>Record not found !</td></tr>
        <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>

<section id="detailSection"></section>
<!-- The Modal -->
<div class="modal show fade" id="resendModalDialog" role="dialog">
  <div class="modal-dialog modal-md">
    <div class="modal-content">
      <!-- Modal Header -->
      <div class="modal-header text-left bg-primary text-white">
        <h4 class="modal-title"><i class="fa fa-money"></i><span class="ml-2">Resend Check</span></h4>
        <button type="button" class="close" data-dismiss="modal" id="close-12333">×</button>
      </div>

      <!-- Modal body -->
      <div class="modal-body">
        <div class="card">
          <div class="card-body">
            <div class="">
              <%= form_tag({controller: "/merchant/checks", action: "resend_check"}, :id => "form_1258", method: :post) do%>
                  <%= hidden_field_tag "check_id"%>
                  <div class="col-md-12">
                    <div class="col-md-12">
                      <label for="routing_number"><strong>Routing Number </strong></label>
                    </div>
                    <div class="col-md-12">
                      <%= text_field_tag "routing_number", ""%>
                    </div>
                  </div>
                  <div class="col-md-12" id="account_number">
                    <div class="col-md-12">
                      <label for="account_number"><strong>Account Number </strong></label>
                    </div>
                    <div class="col-md-12">
                      <%= text_field_tag "account_number", ""%>
                    </div>
                  </div>
                  <div class="col-md-12" id="account_number">
                    <div class="col-md-12">
                      <button id="close_modal" data-dismiss="modal" aria-hidden="true"></button>
                      <label for="confirm_account"><strong>Confirm Account Number </strong></label>
                    </div>
                    <div class="col-md-12">
                      <%= text_field_tag "confirm_account", ""%>
                    </div>
                  </div>
                  <div class="col-md-12" id="account_number">
                    <div class="col-md-12">
                      <%= button_tag "submit", {'class' => "button btn btn-primary btn-sm bulk_submit_function"}%>
                    </div>
                  </div>

              <% end %>

            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>

<section id="update_check_modal"></section>
