<%= stylesheet_link_tag "v2/merchant/bulk_checks" %>
<%= javascript_include_tag "v2/merchant/bulk_check" %>
<div class="m-subheader">
  <div class="d-flex align-items-center">
    <div class="mr-auto">
      <ul class="m-subheader__breadcrumbs m-nav m-nav--inline set-path">
        <li class="m-nav__item">
          <a href="#" class="m-nav__link">
            <span class="my-order-nav">
                Withdraw
            </span>
          </a>
        </li>
        <li class="m-nav__separator">
          <%= image_tag "v2/merchant/icons/angle.svg"%>
        </li>
        <li class="m-nav__item">
          <a  class="m-nav__link" href=<%= v2_merchant_bulk_checks_path %>>
              <span class="my-order-nav">
                  Checks
              </span>

          </a>
        </li>
        <li class="m-nav__separator">
          <%= image_tag "v2/merchant/icons/angle.svg"%>
        </li>
        <li class="m-nav__item">
          <a href="#" class="m-nav__link">
              <span class="order-active">
                  Bulk check details
              </span>
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>

<div class="m-content">
  <div class="m-portlet m-portlet--mobile m-portal_datatable">
    <h1 class="m-subheader__title col-lg-12 ach-heading-custom">
      Bulk Checks
    </h1>
    <div class="m-portlet m-portlet--mobile m-portal_datatable">
      <div class="m-portlet__body">

                <div class="row mb-4">
          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="bulk_check_box">
              <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                  <div class="bulk_check_heading">
                    Bulk Check ID #<%= @bulk_check.id %>
                  </div>
                </div>
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                  <hr class="bulk_check_hr">
                </div>
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                  <div class="row pt-2">
                    <div class="col-lg-5 col-md-5 col-sm-5">
                      <div class="row">
                        <div class="col-lg-5 col-sm-5 col-md-5">
                          <div class="account_detail_bulk">
                           Account: <%= @bulk_check_wallet_name %>
                          </div>
                        </div>
                        <div class="col-lg-7 col-sm-7 col-md-7">
                          <div class="balance_div">
                            <div class="balance_bulk pull-left">
                              Balance
                            </div>
                            <div class="amount_bulk pull-right">
                              <%# number_with_precision(@list.first[:balance],precision: 2)%>
                              $<%= @balance %>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-lg-7 col-md-7 col-sm-7">
                      <div class="row">
                        <div class="col-lg-4 col-md-4 col-sm-4">
                          <div class="row">
                            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 col-xs-5">
                              <div class="icon-div">
                                <%= image_tag "v2/merchant/icons/processingfee.svg"%>
                              </div>
                            </div>
                            <div class="col-xl-8 col-lg-8 col-md-8 col-sm-8 col-xs-8 padding-0-left">
                              <div class="small_chargeback">Total checks</div>
                              <div id= "total_checks_count" class="price_chargeback"><%= @total_checks_count %></div>
                            </div>
                          </div>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-4 pl-0">
                          <div class="row">
                            <div class="col-xl-8 col-lg-8 col-md-8 col-sm-8 col-xs-8">
                              <div class="small_chargeback">Checks amount</div>
                              <div id="total_checks_amount" class="price_chargeback">$<%= number_with_precision(@total_checks_amount, :precision => 2, :delimiter => ',') %></div>
                            </div>
                            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 col-xs-4">
                              <div class="small_chargeback">Fee</div>
                              <div id="total_fee_amount" class="price_chargeback">$<%=  number_with_precision(@total_fee_amount, :precision => 2, :delimiter => ',')  %></div>
                            </div>
                          </div>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-4">
                          <div class="row">
                            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 col-xs-4">
                              <div class="icon-div">
                                <%= image_tag "v2/merchant/icons/earnings.svg"%>
                              </div>
                            </div>
                            <div class="col-xl-8 col-lg-8 col-md-8 col-sm-8 col-xs-8 padding-0-left">
                              <div class="small_chargeback">Total amount</div>
                              <div id="total_amount" class="price_chargeback">$<%=  number_with_precision(@total_amount, :precision => 2, :delimiter => ',')  %></div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      
        <div class="row">
          <div class="col-md-6 col-sm-12">
            <div class="select_number mb-0">
              <div class="mt-3 mr-2">
                  Show
              </div>
              <div class="dropdown bootstrap-select form-control m-bootstrap-select m-bootstrap-select--pill m_ pagination_dropdown">
                <%=form_tag v2_merchant_bulk_check_path(@bulk_check.id), method: :get, id:'bulk_checks_filter' do  %>
                  <div id="show--entries">
                   <%= select_tag "filter", options_for_select(@filters.map{|v|[v]}, selected: params[:filter].present? ? params[:filter] : "10") ,
                    :prompt => false,
                    :required => true,
                    class: "form-control m-bootstrap-select m-bootstrap-select--pill m_selectpicker pagination_dropdown",
                    data: {confirm: "Are you sure ?"}
                   %>
                  </div>
                <% end %>
              </div>
              <div class="m--space-10"></div>
              <span class="mt-3 ml-2">
                Entries
              </span>
            </div>
          </div>
        <div class="col-md-6 col-sm-12">
          <%= form_for 'q' , url: "/v2/merchant/bulk_checks" do |f| %>
            <div class="m-form__group">
              <div class="m-input-icon m-input-icon--left m-input-icon_datatable">
                <%= f.search_field :id , class: "form-control m-input search_input_datatable show_datatable" , placeholder: "Search" , data: {id: @bulk_check.id}%>
                <span class="m-input-icon__icon m-input-icon__icon--left">
                  <span>
                    <%= image_tag "v2/merchant/datatable/search.svg", class: 'win-img' %>
                  </span>
                </span>

              </div>
            </div>            
          <% end %>
        </div>
      </div>   
      <div class="table-data">
        <%= render "bulk_check_show_datatable" %>
      </div>

      </div>
    </div>
  </div>
  </div>
</div>
<%= render partial: 'v2/merchant/bulk_checks/bulk_check_detail' %>
<%= render partial: 'v2/merchant/bulk_checks/bulk_check_void_modal' %>
<%= render partial: 'v2/merchant/bulk_checks/bulk_check_void_success' %>