<div class="activit-box-inner">
  <div class="row">
    <div class="col-md-12">
      <button type="button" class="close mt-1 slide-toggle pull-left slide-toggle-close">
        <span aria-hidden="true"><%= image_tag "v2/merchant/icons/close_modal.svg" %></span>
      </button>
    </div>
  </div>
  <div class="row" id="margin-top-42">
    <div class="col-md-12">
      <%= image_tag "v2/merchant/icons/timeclock.svg"%>
      <div class="title"> Activity Log </div>
    </div>

  </div>
  <div class="row" id="margin-top-32">
    <div class="col-md-12">
      <div class="m-dropdown m-dropdown--inline m-dropdown--arrow" m-dropdown-toggle="click">
        <a href="#" class="m-dropdown__toggle btn drop-button" id="filterLog">
          Filter Log
          <%= image_tag "v2/merchant/icons/top-e.svg" ,id:'bottom-e'%>
          <%= image_tag "v2/merchant/icons/bottom-e.svg" ,class:'hide--person',id:'top-e'%>
        </a>
        <div class="m-dropdown__wrapper" id="filter--log">
          <span class="m-dropdown__arrow m-dropdown__arrow--left left-85"></span>
          <div class="m-dropdown__inner filter-box">
            <div class="m-dropdown__body">
              <div class="box-title">
                Filter Log <span class="number"> (50) </span>
              </div>
              <hr class="hr">
              <div class="m-dropdown__content">
                <ul class="m-nav">
                  <input type="hidden" value="today_filter" id="current_selected_filter">
                  <input type="hidden" value="<%= params[:action_type] if params[:action_type].present? %>" id="activity_log_type">
                  <li class="m-nav__section filter_section active" id="today_filter">
                    Today <span class="count pull-right" id="today"> <%= @today %></span>
                  </li>

                  <li class="m-nav__section filter_section" id="yesterday_filter">
                    Yesterday <span class="count pull-right" id="yesterday"> <%= @yesterday > 1000 ? "1000+" : @yesterday %></span>
                  </li>
                  <li class="m-nav__section filter_section" id="week_filter">
                    This Week <span class="count pull-right" id="week"> <%= @week > 1000 ? "1000+" : @week %></span>
                  </li>
                  <li class="m-nav__section filter_section" id="month_filter">
                    This Month <span class="count pull-right" id="month"> <%= @month > 1000 ? "1000+" : @month %></span>
                  </li>
                  <li class="m-nav__section filter_section" id="year_filter">
                    Custom <span class="count pull-right" id="year"></span>
                  </li>
                  <input type="hidden" value="" id="detail-value">
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="m-dropdown m-dropdown--inline m-dropdown--arrow" m-dropdown-toggle="click" >
        <a href="#" class="m-dropdown__toggle btn user-hover" id="personeJs">
          <%= image_tag "v2/merchant/icons/users.svg" ,id:'b-img'%>
          <%= image_tag "v2/merchant/icons/users-w.svg",class:'hide--person',id:'w-img' %>
          <span class="hide--person person-text">Person</span>
        </a>
        <div class="m-dropdown__wrapper">
          <span class="m-dropdown__arrow m-dropdown__arrow--left"></span>
          <div class="m-dropdown__inner person-box">
            <div class="m-dropdown__body m-dropdown--body">
              <div class="m-dropdown__content">
                <div class="row list" >
                  <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12 padding-0-left">
                    <div class="m-form__group">
                      <div class="m-input-icon m-input-icon--left m-input-icon_datatable ">
                        <input type="text" class="form-control m-input search_input_datatable" id="search-input" placeholder="Search">
                        <span class="m-input-icon__icon m-input-icon--icon m-input-icon__icon--left">
                          <span>
                            <%= image_tag "v2/merchant/datatable/search.svg", class: 'win-img ' %>
                          </span>
                        </span>
                      </div>
                    </div>
                  </div>
                </div>
                <div id="system_update" class="row list active" >
                  <div class="col-xl-2 col-lg-2 col-md-2 col-sm-12 col-xs-12 padding-0-right">
                    <%= image_tag "v2/merchant/icons/settings.svg", class:'img-1 time' %>
                  </div>
                  <div class="col-xl-10 col-lg-10 col-md-10 col-sm-12 col-xs-12 padding-0-left">
                    <div class="time-1 time">All Users</div>
                  </div>
                </div>
                <input type="hidden" id="selected_person">
                <ul id="mylist">
                  <% if current_user.merchant_id.present? && @user_permission.admin? %>
                    <li data-id="<%= @main_merchant.id %>" >
                      <div class="row list" >
                        <div class="col-xl-2 col-lg-2 col-md-2 col-sm-12 col-xs-12 padding-0-right">
                          <div class="circle-1">
                            <div class="two_letters text-center"><%= first_letter_name_merchant(@main_merchant.try(:name)) %></div>
                          </div>
                        </div>
                        <div class="col-xl-10 col-lg-10 col-md-10 col-sm-12 col-xs-12 padding-0-left">
                          <div class="time-1 time select_person"><%= @main_merchant.try(:name) %></div>
                        </div>
                      </div>
                    </li>
                  <% else %>
                  <li data-id="<%= current_user.id %>" >
                    <div class="row list" >
                      <div class="col-xl-2 col-lg-2 col-md-2 col-sm-12 col-xs-12 padding-0-right">
                        <div class="circle-1">
                          <div class="two_letters text-center"><%= first_letter_name %></div>
                        </div>
                      </div>
                      <div class="col-xl-10 col-lg-10 col-md-10 col-sm-12 col-xs-12 padding-0-left">
                        <div class="time-1 time select_person"><%= current_user.name %></div>
                      </div>
                    </div>
                  </li>
                    <% end %>
                  <% if @users.present? %>
                    <% @users.each do|u| %>
                      <li data-id="<%= u.id %>">
                        <div class="row list" >
                          <div class="col-xl-2 col-lg-2 col-md-2 col-sm-12 col-xs-12 padding-0-right">
                            <div class="circle-1">
                              <% name = "#{u.name.try(:split, " ").try(:first)} #{u.last_name.try(:split, " ").try(:first)}" %>
                              <div class="two_letters text-center"><%= u.try(:have_admin_access?) ? "QA" : name.scan(/\b[a-z]/i).join.upcase %></div>
                            </div>
                          </div>
                          <div class="col-xl-10 col-lg-10 col-md-10 col-sm-12 col-xs-12 padding-0-left">
                            <div class="time-1 time select_person"><%= "#{u.name} #{u.last_name}" %></div>
                          </div>
                        </div>
                      </li>
                    <% end %>
                  <% end %>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row" id="margin-top-32">
    <div class="col-xl-2 col-lg-2 col-md-2 col-sm-12 col-xs-12 padding-0-right">
      <div class="head">
        Date/ Timestamp
      </div>
    </div>
    <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 col-xs-12">
      <div class="head pl--4">
        Login Name
      </div>
    </div>
    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-xs-12 padding-0-left">
      <div class="head">
        Description
      </div>
    </div>
  </div>
  <div id="activitylog">
  <% if @activity_logs.present? %>
    <% @activity_logs.each do |a| %>
      <div class="row list" >
        <div class="col-xl-2 col-lg-2 col-md-2 col-sm-12 col-xs-12">
          <div class="time">
            <% if cookies[:timezone].present? %>
              <%= a.created_at.in_time_zone(cookies[:timezone]).strftime("%m/%d/%Y") %> <br>
              at <%= a.created_at.in_time_zone(cookies[:timezone]).strftime("%I:%M %p") %>
            <%else %>
              <span class="timeUtc"><%= a.created_at.strftime("%m/%d/%Y %I:%M %p") %></span>
            <% end %>
          </div>
        </div>
        <div class="col-xl-1 col-lg-1 col-md-1 col-sm-12 col-xs-12 padding-0-right">
          <% initials_name = a["action_type"] == "employees" ? "#{a.user.name} #{a.user.last_name.try(:split, " ").try(:first)}" : a.user.name %>
          <% name = a["action_type"] == "employees" ? "#{a.user.name} #{a.user.last_name}" : a.user.name %>
          <div class="circle-1 pull-right"><%= a.user.try(:have_admin_access?) ? "QA" : initials_name.scan(/\b[a-z]/i).join.upcase[0..1] if initials_name.present? %></div>
        </div>
        <div class="col-xl-3 col-lg-3 col-md-3 col-sm-12 col-xs-12 padding-0-left">
          <div class="time-1 time"><%= a.user.try(:have_admin_access?) ? "Quickcard" : name.truncate(15) %></div>
        </div>
        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-xs-12">
          <div class="employee pl--2"><%= a.note %></div>
        </div>
      </div>
    <% end %>
  <% end %>
  </div>
  <div class="col-md-12">
    <a href="#" class="pull-right" data-last_id="<%= @activity_logs.try(:last).try(:id) %>" id="activity_log_show_more"><%= "Show more" if @activity_logs.present? && @activity_logs.count == 10  %></a>
  </div>
</div>
<%= javascript_include_tag 'v2/merchant/custom.js' %>