<div class="row">
  <div class="Product-Info">
    Billing Info
  </div>
  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <hr class="h-line">
  </div>
  <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
    <div class="form-group m-form__group">
      <label for="customer_address">
        Customer Address
      </label>
      <input type="hidden" name="billing[id]" value="<%= @billing.try(:id) %>" >
      <input type="text" name="billing[street]" value="<%= @billing.try(:street) %>" class="form-control invoice-input m-input" id="b_street" aria-describedby="emailHelp" placeholder="123, Nowhere USA" required <%= "readonly" if @view_only %>>
    </div>
  </div>
  <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
    <div class="form-group m-form__group">
      <label for="city">
        Suite/Apartment/Other(optional)
      </label>
      <input type="text" name="billing[suit]" value="<%= @billing.try(:suit) %>" class="form-control invoice-input m-input" id="b_suit" aria-describedby="emailHelp" placeholder="Suite 150" <%= "readonly" if @view_only %>>
    </div>
  </div>
  <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
    <div class="form-group m-form__group">
      <label for="city">
        City
      </label>
      <input type="text" name="billing[city]" value="<%= @billing.try(:city) %>" class="form-control invoice-input m-input" id="b_city" aria-describedby="emailHelp" placeholder="San Diego" required <%= "readonly" if @view_only %>>
    </div>
  </div>
  <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
    <div class="form-group m-form__group b_select_country">
      <label for="state">
        Country
      </label>
      <!--              <input type="text" name="billing[country]" value="<%#= @billing.try(:country) %>" class="form-control invoice-input m-input" id="" aria-describedby="emailHelp" placeholder="United States of America">-->
      <div class="disabled-hide">
        <% if @view_only %>
          <%= country_select("country", {}, { include_blank: 'Select a country', selected: @billing.try(:country),priority_countries: ["US"]}, {name: 'billing[country]', id: 'b_country', class: 'form-control display_block invoice-input m-time-bootstrap-select m-bootstrap-select m-bootstrap-select--pill m_selectpicker reason-dd-1', disabled: true })%>
          <input type="hidden" name="billing[country]" value="<%= @billing.try(:country) %>">
        <% else %>
          <%= country_select("country", {}, { include_blank: 'Select a country', selected: @billing.try(:country),priority_countries: ["US"] }, {name: 'billing[country]', id: 'b_country', class: 'form-control display_block invoice-input m-time-bootstrap-select m-bootstrap-select m-bootstrap-select--pill m_selectpicker reason-dd-1', required: true })%>
        <% end %>
      </div>
    </div>
  </div>
  <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
    <div class="form-group m-form__group b_select_state">
      <label for="state">
        State/Province/Region
      </label>
      <!--              <input type="text" name="billing[state]" value="<%#= @billing.try(:state) %>" class="form-control invoice-input m-input" id="state" aria-describedby="emailHelp" placeholder="California">-->
      <% if @view_only  %>
        <%= select_tag "billing[state]", options_for_select( @billing_states.present? ? @billing_states.map{|k,v| [v,k] } : {}, @billing.try(:state)), {:class => 'form-control display_block invoice-input m-time-bootstrap-select m-bootstrap-select m-bootstrap-select--pill m_selectpicker reason-dd-1',:id => 'b_state', disabled: true} %>
        <input type="hidden" name="billing[state]" value="<%= @billing.try(:state) %>">
      <% else %>
        <%= select_tag "billing[state]", options_for_select( @billing_states.present? ? @billing_states.map{|k,v| [v,k] } : {}, @billing.try(:state)), {:class => 'form-control display_block invoice-input m-time-bootstrap-select m-bootstrap-select m-bootstrap-select--pill m_selectpicker reason-dd-1',:id => 'b_state', required: true} %>
      <% end %>
    </div>
  </div>
  <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
    <div class="form-group m-form__group">
      <label for="zip_code">
        Zip Code
      </label>
      <input type="text" name="billing[zip]" value="<%= @billing.try(:zip) %>" class="form-control invoice-input m-input" id="b_zip" aria-describedby="emailHelp" placeholder="92108" required <%= "readonly" if @view_only %>>
    </div>
  </div>
  <div class="Product-Info">
    Shipping Info
  </div>
  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <hr class="hr_2">
  </div>
  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <div class="form-group m-form__group mt-3">
      <label class="m-checkbox m-checkbox--state-brand ">
        <input type="checkbox" class="" id="same_as_billing" name="checked_value_address" <%= "disabled" if params['view'].present? %>>
        Same as Billing Address
        <span class="verify_checkbox"></span>
      </label>
    </div>
  </div>
  <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
    <div class="form-group m-form__group">
      <label for="customer_address">
        Customer Address
      </label>
      <input type="hidden" name="shipping[id]" value="<%= @shipping.try(:id) %>">
      <input type="text" name="shipping[street]" value="<%= @shipping.try(:street) %>" class="form-control invoice-input m-input" id="s_street" aria-describedby="emailHelp" placeholder="123, Nowhere USA" required <%= "readonly" if @view_only %>>
    </div>
  </div>
  <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
    <div class="form-group m-form__group">
      <label for="city">
        Suite/Apartment/Other(optional)
      </label>
      <input type="text" name="shipping[suit]" value="<%= @shipping.try(:suit) %>" class="form-control invoice-input m-input" id="s_suit" aria-describedby="emailHelp" placeholder="Suite 150" <%= "readonly" if @view_only %>>
    </div>
  </div>
  <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
    <div class="form-group m-form__group">
      <label for="city">
        City
      </label>
      <input type="text" name="shipping[city]" value="<%= @shipping.try(:city) %>" class="form-control invoice-input m-input" id="s_city" aria-describedby="emailHelp" placeholder="San Diego" required <%= "readonly" if @view_only %>>
    </div>
  </div>
  <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
    <div class="form-group m-form__group s_select_country">
      <label for="state">
        Country
      </label>
      <!--              <input type="text" name="shipping[country]" value="<%#= @shipping.try(:country) %>" class="form-control invoice-input m-input" id="s_country" aria-describedby="emailHelp" placeholder="United States of America">-->
      <div class="disabled-hide">
        <% if @view_only %>
          <%= country_select("country", {}, {include_blank: 'Select a country', selected: @shipping.try(:country), priority_countries: ["US"]}, {name: 'shipping[country]', id: 's_country', class: 'form-control display_block invoice-input m-time-bootstrap-select m-bootstrap-select m-bootstrap-select--pill m_selectpicker reason-dd-1', disabled: true}) %>
          <input type="hidden" name="shipping[country]" value="<%= @shipping.try(:country) %>">
        <% else %>
          <%= country_select("country", {}, {include_blank: 'Select a country', selected: @shipping.try(:country), priority_countries: ["US"]}, {name: 'shipping[country]', id: 's_country', class: 'form-control display_block invoice-input m-time-bootstrap-select m-bootstrap-select m-bootstrap-select--pill m_selectpicker reason-dd-1', required: true}) %>
        <% end %>
      </div>
    </div>
  </div>
  <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
    <div class="form-group m-form__group s_select_state">
      <label for="state">
        State/Province/Region
      </label>
      <!--              <input type="text" name="shipping[state]" value="<%#= @shipping.try(:state) %>" class="form-control invoice-input m-input" id="s_state" aria-describedby="emailHelp" placeholder="California">-->
      <% if @view_only %>
        <%= select_tag "shipping[state]", options_for_select(@shipping_states.present? ? @shipping_states.map {|k, v| [v, k]} : {}, @shipping.try(:state)), {:class => 'form-control display_block invoice-input m-time-bootstrap-select m-bootstrap-select m-bootstrap-select--pill m_selectpicker reason-dd-1', :id => 's_state', disabled: true} %>
        <input type="hidden" name="shipping[state]" value="<%= @shipping.try(:state) %>">
      <% else %>
        <%= select_tag "shipping[state]", options_for_select(@shipping_states.present? ? @shipping_states.map {|k, v| [v, k]} : {}, @shipping.try(:state)), {:class => 'form-control display_block invoice-input m-time-bootstrap-select m-bootstrap-select m-bootstrap-select--pill m_selectpicker reason-dd-1', :id => 's_state', required: true} %>
      <% end %>

    </div>
  </div>
  <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
    <div class="form-group m-form__group">
      <label for="zip_code">
        Zip Code
      </label>
      <input type="text" name="shipping[zip]" value="<%= @shipping.try(:zip) %>" class="form-control invoice-input m-input" required id="s_zip" aria-describedby="emailHelp" placeholder="92108" <%= "readonly" if @view_only %>>
    </div>
  </div>
</div>