<div class="row">
  <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
    <div class="form-group m-form__group">
      <label for="customer_address">
        Customer Address
      </label>
      <input type="hidden" name="billing[id]" value="<%= @billing.try(:id) %>" >
      <input type="text" name="billing[street]" value="<%= @billing.try(:street) %>" class="<%= controller_name == "sales" ? "readonly_fields" : "" %> form-control invoice-input m-input" id="b_street" aria-describedby="emailHelp" placeholder="123, Nowhere USA" required <%= "readonly" if @view_only %>>
    </div>
  </div>
  <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
    <div class="form-group m-form__group">
      <label for="city">
        Suite/Apartment/Other(optional)
      </label>
      <input type="text" name="billing[suit]" value="<%= @billing.try(:suit) %>" class="<%= controller_name == "sales" ? "readonly_fields" : "" %> form-control invoice-input m-input" id="b_suit" aria-describedby="emailHelp" placeholder="Suite 150" <%= "readonly" if @view_only %>>
    </div>
  </div>
  <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
    <div class="form-group m-form__group">
      <label for="city">
        City
      </label>
      <input type="text" name="billing[city]" value="<%= @billing.try(:city) %>" class="<%= controller_name == "sales" ? "readonly_fields" : "" %> form-control invoice-input m-input" id="b_city" aria-describedby="emailHelp" placeholder="San Diego" required <%= "readonly" if @view_only %>>
    </div>
  </div>
  <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
    <div class="form-group m-form__group b_select_country">
      <label for="state">
        Country
      </label>
      <!--              <input type="text" name="billing[country]" value="<%#= @billing.try(:country) %>" class="form-control invoice-input m-input" id="" aria-describedby="emailHelp" placeholder="United States of America">-->
      <div class="disabled-hide">
        <% if @view_only %>
          <%= country_select("country", {}, { include_blank: 'Select a country', selected: @billing.try(:country),priority_countries: ["US"]}, {name: 'billing[country]', id: 'b_country', class: 'form-control display_block invoice-input m-time-bootstrap-select m-bootstrap-select m-bootstrap-select--pill m_selectpicker reason-dd-1', disabled: true })%>
          <input type="hidden" name="billing[country]" value="<%= @billing.try(:country) %>">
        <% else %>
          <%= country_select("country", {}, { include_blank: 'Select a country', selected: @billing.try(:country),priority_countries: ["US"] }, {name: 'billing[country]', id: 'b_country', class: 'form-control display_block invoice-input m-time-bootstrap-select m-bootstrap-select m-bootstrap-select--pill m_selectpicker reason-dd-1', required: true })%>
        <% end %>
      </div>
    </div>
  </div>
  <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
    <div class="form-group m-form__group b_select_state">
      <label for="state">
        State/Province/Region
      </label>
      <!--              <input type="text" name="billing[state]" value="<%#= @billing.try(:state) %>" class="form-control invoice-input m-input" id="state" aria-describedby="emailHelp" placeholder="California">-->
      <% if @view_only %>
        <%= select_tag "billing[state]", options_for_select( @billing_states.present? ? @billing_states.map{|k,v| [v,k] } : {}, @billing.try(:state)), {:class => 'form-control display_block invoice-input m-time-bootstrap-select m-bootstrap-select m-bootstrap-select--pill m_selectpicker reason-dd-1',:id => 'b_state', disabled: true} %>
        <input type="hidden" name="billing[state]" value="<%= @billing.try(:state) %>">
      <% else %>
        <%= select_tag "billing[state]", options_for_select( @billing_states.present? ? @billing_states.map{|k,v| [v,k] } : {}, @billing.try(:state)), {:class => 'form-control display_block invoice-input m-time-bootstrap-select m-bootstrap-select m-bootstrap-select--pill m_selectpicker reason-dd-1',:id => 'b_state', required: true,disabled:true} %>
      <% end %>
    </div>
  </div>
  <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
    <div class="form-group m-form__group">
      <label for="zip_code">
        Zip Code
      </label>
      <input type="text" name="billing[zip]" value="<%= @billing.try(:zip) %>" class="<%= controller_name == "sales" ? "readonly_fields" : "" %> form-control invoice-input m-input" id="b_zip" aria-describedby="emailHelp" placeholder="92108" required <%= "readonly" if @view_only %>>
    </div>
  </div>
</div>