
<div class="table-data">
  <% sequence_down = AppConfig.try(:sequence_down).try(:first) %>
  <% if (sequence_down.present? && sequence_down.boolValue == true) || (ENV['SEQUENCE_DOWN'].present? && ENV['SEQUENCE_DOWN'] == "true") %>
    <%= render 'shared/maintenance_modal', locals: {title: 'System Maintenance', body: 'We apologize for the inconvenience, however this feature is not available at this time as we are having issues with our Blockchain'} %>
  <% else %>
    <% if @user.block_giftcard %>
      <%= render 'shared/maintenance_modal', locals: {title: 'Disabled Withdraw', body: 'We apologize for the inconvenience, but this feature is currently  unavailable at this time. Please email Support@gareenboxpos.com for all your inquiries. Thank you!'} %>
    <% else %>
      <%= render 'shared/maintenance_modal', locals: {title: 'System Maintenance', body: 'We apologize for the inconvenience, however this feature is not available at this time as we are having issues with our Blockchain'} %>
    <% end %>
  <% end %>

  <div class="col-lg-12 col-md-12 col-sm-12 table table-responsive charge_back_table mt-4">
  <table  class="pt-0 chargeback_datatable gc_table_line_height">
<!--<table class="table table-striped- table-bordered table-hover table-checkable listing_datatable giftcard-table" id="m_table_1">-->
<% if @giftcards.try(:count).to_i > 0 %>
  <thead>
  <tr class="giftcard-headings">
    <th>
    </th>
    <th>
      Name
    </th>
    <th class="giftcard-buy-amount">
      Amount
    </th>
    <th>

    </th>
  </tr>
  </thead>
  <tbody>


    <% @giftcards.try(:each) do |giftcard|%>
      <% giftcard[:items].each do |item|%>
        <tr class="charge_back_hover">
          <td><img src="<%= giftcard[:image_urls][:images]%>" height="73" width="117"></td>
          <td class="giftcard"><%= giftcard[:brand_name]%></td>
          <td class="">
            <%= number_to_currency(item.face_value) if item.face_value.present? %>
            <% if item.max_value.present? && item.min_value.present? %>
              <%= number_to_currency(item.min_value) %> ~ <%= number_to_currency(item.max_value)%>
            <%end%>
          </td>
          <td>
            <% if (sequence_down.present? && sequence_down.boolValue == true) || (ENV['SEQUENCE_DOWN'].present? && ENV['SEQUENCE_DOWN'] == "true") %>
              <a id="transfer_new" class="btn btn-success" data-toggle="modal" data-target="#maintenance-modal">New Transfer</a>
              <%= link_to '<button class="btn btn-primary btn-flat view_gift_card"><i class="fa fa-shopping-carsasdt"> Buy</i></button>'.html_safe, '#maintenance-modal',html: {class: "btn btn-outline-secondary btn-md"}, 'data-toggle' => 'modal'%>
            <% else %>
              <% if @user.block_giftcard %>
                <%= link_to '<button class="btn btn-primary btn-flat view_gift_card"><i class="fa fa-shopping-carsasdt"> Buy</i></button>'.html_safe, '#maintenance-modal',html: {class: "btn btn-outline-secondary btn-md"}, 'data-toggle' => 'modal'%>
              <% else %>
<!--                <a href="#" class="btn btn-default pull-right giftcard-buy-button" data-toggle="modal" data-target="#buyGiftCardModal">Buy</a>-->
                <button class="btn btn-default pull-right giftcard-buy-button show-dynamic-modal show-cover-spin"  data-modal_container_selector="#buy_gift_section" data-modal_selector="#buyGiftCardModal" data-url= "<%= v2_merchant_giftcard_path(item.utid) %>" data-method="GET">Buy</button>
                <%#= link_to '<button class="btn btn-primary btn-flat view_gift_card"><i class="fa fa-shopping-carsasdt"> Buy</i></button>'.html_safe, merchant_giftcard_path(item.utid),html: {class: "btn btn-outline-secondary btn-md"},data: { disable_with: "<i class='fa fa-spinner fa-spin'></i>" }, remote: true %>
              <% end %>
            <% end %>

          </td>
        </tr>
      <% end %>
    <% end %>

  <%else %>
    <div class="col-xl-12 ">
      <center  class="m-5 p-5">
        <%= image_tag "v2/merchant/datatable/no_data.svg" %>
        <p class="No-data-available mt-4 mr-4">No data available</p>
      </center>
    </div>
  <%	 end  %>

  </tbody>
</table>
</div>
  <%= render partial: "v2/merchant/shared/datatable_pagination",locals: {variable: @giftcards} %>
</div>