<%= stylesheet_link_tag "v2/merchant/chargebacks.css", media: 'all', 'data-turbolinks-track' => 'reload' %>
<!--<div class="dropdown">-->
<!--  <button class="btn-status" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">-->
<!--    <i class="flaticon-interface-2 pl-2 icon_charge_back"></i>-->
<!--    <span class="">Status</span>-->
<!--  </button>-->
<!--  <div class="dropdown-menu status_drop_down_new" aria-labelledby="dropdownMenuButton">-->
<!--    <p class="refund-dropdown-heading">Select Status</p>-->
<!--    <div class="">-->
<!--      <label class="m-checkbox m-r-checkbox mb-0 pl-3 m-checkbox_chargeback">-->
<!--        <input type="checkbox" class="checkbox_2 accounts_checks payee_checkbox" id="all"  <%#= params[:all].blank? && params[:checkbox].present? ? "" : "" %>>-->
<!--        <p class="status_text ml-3">All</p>-->
<!--        <span></span>-->
<!--      </label>-->
<!--    </div>-->
<!--    <div class="">-->
<!--      <label class="m-checkbox m-r-checkbox mb-0 pl-3 m-checkbox_chargeback">-->
<!--        <input type="checkbox" class="payee_checkbox" id="sent_pending" <%#= "checked" if params[:checkbox].present? && params[:checkbox].include?("0") %>>-->
<!--        <p class="status_text ml-3 padding_left_5">Pending</p>-->
<!--        <span></span>-->
<!--      </label>-->
<!--    </div>-->
<!--    <div class="">-->
<!--      <label class="m-checkbox m-r-checkbox mb-0 pl-3 m-checkbox_chargeback">-->
<!--        <input type="checkbox" class="payee_checkbox" id="won_reversed" <%#= "checked" if params[:checkbox].present? && params[:checkbox].include?("1") %>>-->
<!--        <p class="status_text  ml-3">Won</p>-->
<!--        <span></span>-->
<!--      </label>-->
<!--    </div>-->
<!--    <div class="">-->
<!--      <label class="m-checkbox m-r-checkbox mb-0 pl-3 m-checkbox_chargeback">-->
<!--        <input type="checkbox" class="payee_checkbox" id="lost" <%#= "checked" if params[:checkbox].present? && params[:checkbox].include?("2") %>>-->
<!--        <p class="status_text ml-3">Lost</p>-->
<!--        <span></span>-->
<!--      </label>-->
<!--    </div>-->
<!--    <div class="">-->
<!--      <label class="m-checkbox m-r-checkbox mb-0 pl-3 m-checkbox_chargeback">-->
<!--        <input type="checkbox" class="payee_checkbox" id="dispute_accepted" <%#= "checked" if params[:checkbox].present? && params[:checkbox].include?("3") %>>-->
<!--        <p class="status_text ml-3 padding_left_5">Accepted</p>-->
<!--        <span></span>-->
<!--      </label>-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->

<!--begin: Dropdown-->
<div class="m-dropdown m-dropdown--inline m-dropdown--arrow m-dropdown--align-left m-dropdown--align-push" m-dropdown-toggle="click" aria-expanded="true">
  <button  class="btn-status text-center m-portlet__nav-link m-dropdown__toggle btn m-btn m-btn--link" id="dropdownMenuButton" type="button">
    <i class="flaticon-interface-2 icon_charge_back"></i>
    <span class="">Status</span>
  </button>
  <div class="m-dropdown__wrapper status_new_dropdown">
    <span class="m-dropdown__arrow m-dropdown__arrow--left m-dropdown__arrow--adjust"></span>
    <div class="m-dropdown__inner">
      <div class="m-dropdown__body">
        <div class="m-dropdown__content">
          <p class="refund-dropdown-heading">Select Status</p>
          <div class="">
            <label class="m-checkbox m-r-checkbox mb-0 pl-3 ">
              <input type="checkbox" class="checkbox_2 accounts_checks payee_checkbox" id="all"  <%= params[:all].blank? && params[:checkbox].present? ? "" : "" %>>
              <p class="status_text ml-3">All</p>
              <span class="datatable_status_filter"></span>
            </label>
          </div>
          <div class="">
            <label class="m-checkbox m-r-checkbox mb-0 pl-3 ">
              <input type="checkbox" class="payee_checkbox" id="sent_pending" <%= "checked" if params[:checkbox].present? && params[:checkbox].include?("0") %>>
              <p class="status_text ml-3">Pending</p>
              <span></span>
            </label>
          </div>
          <div class="">
            <label class="m-checkbox m-r-checkbox mb-0 pl-3">
              <input type="checkbox" class="payee_checkbox" id="won_reversed" <%= "checked" if params[:checkbox].present? && params[:checkbox].include?("1") %>>
              <p class="status_text ml-3">Won</p>
              <span></span>
            </label>
          </div>
          <div class="">
            <label class="m-checkbox m-r-checkbox mb-0 pl-3">
              <input type="checkbox" class="payee_checkbox" id="lost" <%= "checked" if params[:checkbox].present? && params[:checkbox].include?("2") %>>
              <p class="status_text ml-3">Lost</p>
              <span></span>
            </label>
          </div>
          <div class="">
            <label class="m-checkbox m-r-checkbox mb-0 pl-3 ">
              <input type="checkbox" class="payee_checkbox" id="dispute_accepted" <%= "checked" if params[:checkbox].present? && params[:checkbox].include?("3") %>>
              <p class="status_text  ml-3">Accepted</p>
              <span></span>
            </label>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!--end: Dropdown-->