<%#= render partial: "v2/merchant/shared/datatable_search",locals: {filter_path: request.path, search_id: 'chargeback_search', id:'id'} %>
<!--<div class="col-lg-12 col-md-12 col-sm-12 table table-responsive charge_back_table mt-4">-->
<div class="col-lg-12 col-md-12 col-sm-12 table charge_back_table mt-4">
  <table  class="pt-0 chargeback_datatable">
  <thead>
    <tr>
      <th class="case_th pb-4">Case ID</th>
      <th class="account_th pb-4">Account</th>
      <th class="pb-4">Reason</th>
      <th class="text-right">
        <span class="cbk_text">CBK</span><br>
        Amount
      </th>
      <th></th>
      <th class="pb-4">Received Date</th>
      <th class="pb-4">Due Date</th>
      <th>
        <center>
          <%= render partial: "v2/merchant/shared/chargeback_status" %>
        </center>
      </th>
    </tr>
    </thead>
    <% if @chargebacks.present? && @user_permission.try(:view_chargeback_cases) %>
    <tbody id="">
    <% @chargebacks.each_with_index do |dispute, i| %>
        <tr class='clickable-row <%= i.present? && i.even? ? 'odd' : 'even'%> odd charge_back_hover mt-2' data-href= "<%= show_details_v2_merchant_chargebacks_path(dispute_id:dispute.id) %>">
          <td>
            <%= dispute.case_number %>
          </td>
          <td>
            <%= dispute.try(:merchant_wallet).try(:location).try(:business_name) %>
          </td>
          <td>
            <%= dispute.try(:reason).try(:title) %>
          </td>
          <td class="amount-td">
            $<%= number_with_precision(dispute.amount.to_f, precision: 2, delimiter: ',') %>
          </td>
          <td></td>
          <td>
            <%= dispute.recieved_date.try(:strftime,"%m-%d-%Y") %>
          </td>
          <td>
            <%= dispute.due_date.try(:strftime,"%m-%d-%Y") %>
          </td>
          <td>
                <center>
                  <% if dispute.status == "sent_pending" %>
                      <span class="badge pending charge_back_badge">PENDING</span>
                  <% elsif  dispute.status == "won_reversed" %>
                      <span class="badge paid charge_back_badge">WON</span>
                  <% elsif  dispute.status == "lost" %>
                      <span class="badge past_due charge_back_badge">LOST</span>
                  <% elsif  dispute.status == "dispute_accepted" %>
                      <span class="badge charge_back_badge dispute">DISPUTE ACCEPTED</span>
                  <% elsif  dispute.status == "under_review" %>
                      <span class="badge pending charge_back_badge">PENDING</span>
                  <% end %>
                </center>
          </td>
        </tr>
    <% end %>
    <% else %>
      <tr>
        <td colspan="8">
          <div class="col-xl-12 ">
            <center  class="m-5 p-5">
              <%= image_tag "v2/merchant/datatable/no_data.svg" %>
              <p class="No-data-available mt-4 mr-4">No data available</p>
            </center>
          </div>
        </td>
      </tr>
    <% end %>
    </tbody>
  </table>

</div>
<% @type = "chargeback" %>
<% if  @user_permission.try(:view_chargeback_cases) %>
<%= render partial: "v2/merchant/shared/datatable_pagination",locals:{variable:@chargebacks} %>
  <% end %>
<%= javascript_include_tag 'v2/merchant/filter'%>
