<div class="modal fade z-index99999" id="ConfirmLogOutModel"  tabindex="-1" role="dialog" aria-labelledby="orderModelLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header" >
        <p class="change-password-modal-text">Confirm Logout</p>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body1">
        <center>
          <p class="leave-QuickCard">
            Are you sure you want<br>
            to leave QuickCard?
          </p>
        </center>
        <div class="m-wizard__form">
          <form class="m-form m-form--label-align-left- m-form--state-" id="m_form">
            <div class="m-portlet__body">
              <center>
                <div class="">
                  <form>
                    <hr class="hr-confirm">
                    <div class="form-group m-form__group ">
                      <div class="text--center">
                        <button data-dismiss="modal" class="btn btn-no1 btn-text1" data-wizard-action="next">
                          No
                        </button>
                        <% if user_signed_in? %>
                          <%= link_to 'Logout', destroy_user_session_path(role: "merchant"), method: :delete, class: 'btn btn-yes1 btn-text1' %>
                        <% end %>
                      </div>
                    </div>
                  </form>
                </div>
              </center>
            </div>
            <div class="m-portlet__foot m-portlet__foot--fit m--margin-top-40">
              <div class="m-form__actions">
                <div class="row">
                  <div class="col-lg-12">

                  </div>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>