
<%= render partial: "v2/merchant/shared/datatable_search" %>

<div class="col-lg-12 col-md-12 col-sm-12 table table-responsive charge_back_table mt-4">
  <table  class="pt-0 chargeback_datatable">
<!--<table class="table table-striped- table-bordered table-hover table-checkable listing_datatable" id="m_table_1">-->
  <thead>
  <tr>
    <th>
      Name
    </th>
    <th>
      Source
    </th>
    <th>
      Address
    </th>
    <th>
      City
    </th>
    <th>
      State
    </th>
    <th>
      Zip Code
    </th>
    <th>
      Phone #
    </th>
    <th>
      Email
    </th>
    <th>
      Total Spent
    </th>
  </tr>
  </thead>
  <tbody>
  <tr class="odd charge_back_hover">
    <td>
      Bob's Plumbing
    </td>
    <td>
      Account Name
    </td>
    <td>
      101 Main Street
    </td>
    <td>
      Los Angeles
    </td>
    <td>
      CA
    </td>
    <td>
      98233
    </td>
    <td>
      (874) 999-8855
    </td>
    <td>
      <a href="/customers/show_details" class="customer_link">bob@test.com</a>
      <%#= link_to ("show", customer_show_details(id:2) ,class: 'customer_link' %>
    </td>
    <td>
      $236,954.09
    </td>
  </tr>
  <tr class="even charge_back_hover">
    <td>
      Bob's Plumbing
    </td>
    <td>
      Account Name
    </td>
    <td>
      101 Main Street
    </td>
    <td>
      Los Angeles
    </td>
    <td>
      CA
    </td>
    <td>
      98233
    </td>
    <td>
      (874) 999-8855
    </td>
    <td>
      <a href="" class="customer_link">bob@test.com</a>
    </td>
    <td>
      $236,954.09
    </td>
  </tr>
  <tr class="odd charge_back_hover">
    <td>
      Bob's Plumbing
    </td>
    <td>
      Account Name
    </td>
    <td>
      101 Main Street
    </td>
    <td>
      Los Angeles
    </td>
    <td>
      CA
    </td>
    <td>
      98233
    </td>
    <td>
      (874) 999-8855
    </td>
    <td>
      <a href="" class="customer_link">bob@test.com</a>
    </td>
    <td>
      $236,954.09
    </td>
  </tr>
  </tbody>
</table>
</div>
<%= render partial: "v2/merchant/shared/datatable_pagination" %>