<!--<div class="m-dropdown m-dropdown--inline m-dropdown--arrow m-dropdown--align-right " m-dropdown-toggle="click" aria-expanded="true">-->
<!--  <a href="#" class="m-portlet__nav-link m-dropdown__toggle btn m-btn m-btn--link btn_status">-->
<!--    <i class="flaticon-interface-2"></i>-->
<!--    <span class="filter-text">Status</span>-->
<!--  </a>-->
<!--  <div class="m-dropdown__wrapper">-->
<!--    <span class="m-dropdown__arrow m-dropdown__arrow--right m-dropdown__arrow--adjust"></span>-->
<!--    <div class="m-dropdown__inner status_drop_down">-->
<!--      <div class="m-dropdown__body">-->
<!--        <div class="m-dropdown__content">-->
<!--          <ul class="m-nav">-->
<!--            <li class="m-nav__section m-nav__section--first">-->
<!--              <p class="refund-dropdown-heading">Select Status</p>-->
<!--            </li>-->
<!--            <li class="m-nav__item mb-2">-->
<!--              <label class="m-checkbox m-r-checkbox status_label">-->
<!--                <input type="checkbox" class="checkbox_2" checked="">-->
<!--                <p class="status_text">-->
<!--                  All-->
<!--                </p>-->
<!--                <span class="datatable_status_filter"></span>-->
<!--              </label>-->
<!--            </li>-->
<!--            <li class="m-nav__item mb-2">-->
<!--              <label class="m-checkbox m-r-checkbox status_label">-->
<!--                <input type="checkbox">-->
<!--                <p class="status_text">-->
<!--                  Paid-->
<!--                </p>-->
<!--                <span class="datatable_status_filter"></span>-->
<!--              </label>-->
<!--            </li>-->
<!--            <li class="m-nav__item mb-2">-->
<!--              <label class="m-checkbox m-r-checkbox status_label">-->
<!--                <input type="checkbox">-->
<!--                <p class="status_text">-->
<!--                  Pending-->
<!--                </p>-->
<!--                <span class="datatable_status_filter"></span>-->
<!--              </label>-->
<!--            </li>-->
<!--            <li class="m-nav__item mb-2">-->
<!--              <label class="m-checkbox m-r-checkbox status_label">-->
<!--                <input type="checkbox">-->
<!--                <p class="status_text">-->
<!--                  Draft-->
<!--                </p>-->
<!--                <span class="datatable_status_filter"></span>-->
<!--              </label>-->
<!--            </li>-->
<!--            <li class="m-nav__item mb-2">-->
<!--              <label class="m-checkbox m-r-checkbox status_label">-->
<!--                <input type="checkbox">-->
<!--                <p class="status_text">-->
<!--                  Past Due-->
<!--                </p>-->
<!--                <span class="datatable_status_filter"></span>-->
<!--              </label>-->
<!--            </li>-->
<!--            <li class="m-nav__item mb-2">-->
<!--              <label class="m-checkbox m-r-checkbox status_label">-->
<!--                <input type="checkbox">-->
<!--                <p class="status_text">-->
<!--                  Canceled-->
<!--                </p>-->
<!--                <span class="datatable_status_filter"></span>-->
<!--              </label>-->
<!--            </li>-->
<!--          </ul>-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->
<!--//////////////////////////////////////////////////////////-->
<!--<div class="dropdown">-->
<!--  <button class="btn-status text-center" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">-->
<!--    <i class="flaticon-interface-2 icon_charge_back"></i>-->
<!--    <span class="">Status</span>-->
<!--  </button>-->
  <%#= simple_form_for :search, url: '/v2/merchant/exports', method: "GET", html: { class: 'form-inline' , id: "filter_form"} do |f| %>
<!--    <div class="dropdown-menu status_drop_down_new" aria-labelledby="dropdownMenuButton">-->
<!--      <p class="refund-dropdown-heading">Select Status</p>-->
<!--      <div class="">-->
<!--        <label class="m-checkbox m-r-checkbox mb-0 pl-3 m-checkbox_chargeback">-->
          <%# all =  params["search"].try(:[],:all) == "1" ||  params["search"].try(:select) {|k,v| v=="1"}.try(:keys).try(:count) == 4 %>

          <%#= f.check_box :all ,class:"checkbox_2 payee_checkbox" , checked: all%>
          <%#= f.check_box :all ,class:"checkbox_2 payee_checkbox", checked: all %>
<!--          <p class="status_text ml-3">All</p>-->
<!--          <span></span>-->
<!--        </label>-->
<!--      </div>-->
<!--      <div class="">-->
<!--        <label class="m-checkbox m-r-checkbox mb-0 pl-3 m-checkbox_chargeback">-->
          <%# pending =  params["search"].try(:[],:pending)  == "1" %>
          <%#= f.check_box :pending ,class:"payee_checkbox", checked: pending %>
<!--          <p class="status_text ml-3">Pending</p>-->
<!--          <span></span>-->
<!--        </label>-->
<!--      </div>-->
<!--      <div class="">-->
<!--        <label class="m-checkbox m-r-checkbox mb-0 pl-3 m-checkbox_chargeback">-->
          <%# void =  params["search"].try(:[],:completed)  == "1" %>
          <%#= f.check_box :completed ,class:"payee_checkbox", checked: void %>
<!--          <p class="status_text ml-3">Completed</p>-->
<!--          <span></span>-->
<!--        </label>-->
<!--      </div>-->
<!--    </div>-->
  <%#end%>
<!--</div>-->

<!--begin: Dropdown-->
<div class="m-dropdown m-dropdown--inline m-dropdown--arrow m-dropdown--align-left m-dropdown--align-push" m-dropdown-toggle="click" aria-expanded="true">
  <button  class="btn-status text-center m-portlet__nav-link m-dropdown__toggle btn m-btn m-btn--link btn-status-export" id="dropdownMenuButton" type="button">
    <i class="flaticon-interface-2 icon_charge_back"></i>
    <span class="">Status</span>
  </button>
  <%= simple_form_for :search, url: '/v2/merchant/exports', method: "GET", html: { class: 'form-inline' , id: "filter_form"} do |f| %>
    <div class="m-dropdown__wrapper status_new_dropdown">
      <span class="m-dropdown__arrow m-dropdown__arrow--left m-dropdown__arrow--adjust"></span>
      <div class="m-dropdown__inner">
        <div class="m-dropdown__body">
          <div class="m-dropdown__content">
            <p class="refund-dropdown-heading">Select Status</p>
            <div class="">
              <label class="m-checkbox m-r-checkbox mb-0 pl-3 ml-0 mr-0 c-checkbox">
                <% all =  params["search"].try(:[],:all) == "1" ||  params["search"].try(:select) {|k,v| v=="1"}.try(:keys).try(:count) == 4 %>
                <%= f.check_box :all ,class:"checkbox_2 payee_checkbox" , checked: all%>
                <p class="status_text ml-3 mt-1">All</p>
                <span class="datatable_status_filter"></span>
              </label>
            </div>
            <div class="">
              <label class="m-checkbox m-r-checkbox mb-0 pl-3 ml-0 mr-0 c-checkbox">
                <% void =  params["search"].try(:[],:completed)  == "1" %>
                <%= f.check_box :completed ,class:"payee_checkbox", checked: void %>
                <p class="status_text ml-3 mt-1">Completed</p>
                <span></span>
              </label>
            </div>
            <div class="">
              <label class="m-checkbox m-r-checkbox mb-0 pl-3 ml-0 mr-0 c-checkbox">
                <% pending =  params["search"].try(:[],:pending)  == "1" %>
                <%= f.check_box :pending ,class:"payee_checkbox", checked: pending %>
                <p class="status_text ml-3 mt-1">In Progress</p>
                <span></span>
              </label>
            </div>
          </div>
        </div>
      </div>
    </div>
  <%end%>
</div>
<!--end: Dropdown-->
<!--++++++++++++++++++++++++++++++-->
<!--<div class="dropdown">-->
<!--  <button class="btn-status text-center" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">-->
<!--    <i class="flaticon-interface-2 icon_charge_back"></i>-->
<!--    <span class="">Status</span>-->
<!--  </button>-->
<!--  <div class="dropdown-menu status_drop_down_new" aria-labelledby="dropdownMenuButton">-->
<!--    <p class="refund-dropdown-heading">Select Status</p>-->
<!--    <div class="">-->
<!--      <label class="m-checkbox m-r-checkbox mb-0 pl-3 ">-->
<!--        <input type="checkbox" class="checkbox_2 payee_checkbox" id="all"  <%#= params[:all].blank? && params[:checkbox].present? ? "" : "" %>>-->
<!--        <p class="status_text ml-3">All</p>-->
<!--        <span></span>-->
<!--      </label>-->
<!--    </div>-->
<!--    <div class="">-->
<!--      <label class="m-checkbox m-r-checkbox mb-0 pl-3">-->
<!--        <input type="checkbox" class="payee_checkbox" id="sent_pending" <%#= "checked" if params[:checkbox].present? && params[:checkbox].include?("0") %>>-->
<!--        <p class="status_text ml-3">Pending</p>-->
<!--        <span></span>-->
<!--      </label>-->
<!--    </div>-->
<!--    <div class="">-->
<!--      <label class="m-checkbox m-r-checkbox mb-0 pl-3 ">-->
<!--        <input type="checkbox" class="payee_checkbox" id="won_reversed" <%#= "checked" if params[:checkbox].present? && params[:checkbox].include?("1") %>>-->
<!--        <p class="status_text  ml-3">Completed</p>-->
<!--        <span></span>-->
<!--      </label>-->
<!--    </div>-->
<!--    <div class="">-->
<!--      <label class="m-checkbox m-r-checkbox mb-0 pl-3 ">-->
<!--        <input type="checkbox" class="payee_checkbox" id="lost" <%#= "checked" if params[:checkbox].present? && params[:checkbox].include?("2") %>>-->
<!--        <p class="status_text ml-3">Lost</p>-->
<!--        <span></span>-->
<!--      </label>-->
<!--    </div>-->
<!--    <div class="">-->
<!--      <label class="m-checkbox m-r-checkbox mb-0 pl-3 ">-->
<!--        <input type="checkbox" class="payee_checkbox" id="dispute_accepted" <%#= "checked" if params[:checkbox].present? && params[:checkbox].include?("3") %>>-->
<!--        <p class="status_text ml-3">Accepted</p>-->
<!--        <span></span>-->
<!--      </label>-->
<!--    </div>-->
  </div>
</div>