<div class="row">
  <div class="col-lg-4 col-md-4 col-sm-12">
    <div class="dataTables_info mt-3" id="m_table_1_info" role="status" aria-live="polite">Showing <%= variable.try(:count) %> of <%= variable.try(:total_count) %> entries</div>
  </div>
  <div class="col-lg-8 col-md-8 col-sm-12">
    <%= paginate variable,theme: 'z_cart_pagination', :params => {:type => @type} %>

  </div>
</div>

