
<div class="row">
  <div class="col-md-6 col-sm-12">
    <div class="select_number mb-0">
      <span class="mt-3 mr-2">
        Show
      </span>
      <%= form_tag filter_path, method: :get do %>
        <div id="show--entries">
        <%= select_tag "filter", options_for_select(@filters.present? ? @filters.map {|v| [v]} : [10,25,50,100], selected: params[:filter].present? ? params[:filter] : "10"),
                       :prompt => false,
                       :required => true,
                       class: "form-control m-bootstrap-select m-bootstrap-select--pill m_selectpicker text-center pagination_dropdown",
                       data: {confirm: "Are you sure ?"}
        %>
        </div>
        <% if search_id.present? && search_id == "chargeback_search" %>
          <input type="hidden" name="type" value="chargeback">
          <input type="hidden" name="id" value="<%= id %>">
        <% elsif search_id.present? && search_id == "accounts_search" %>
          <input type="hidden" name="<%= search_id %>" value="<%= params[:accounts_search] %>">
        <% elsif search_id.present? && search_id == "bg_search" %>
          <input type="hidden" id="buy_giftcard" name="buy_giftcard" value="buy_giftcard">
        <% end %>
          <input type="hidden" name="wallet_id" value="<%= params[:wallet_id]%>">
      <% end %>



      <div class="m--space-10"></div>
      <span class="mt-3 ml-2">
        Entries
      </span>
    </div>
  </div>
  <div class="col-md-6 col-sm-12">
    <form id="search_form_shared">
      <div class="pull-right">
        <div class="m-input-icon m-input-icon--left">
          <input type="text" class="form-control ml-3 m-input search_input_datatable" id="<%= search_id %>" name="<%= search_id %>" value="" placeholder="Search">
          <span class="m-input-icon__icon m-input-icon__icon--left">
        <span>
          <%= image_tag "v2/merchant/datatable/search.svg", class: 'win-img ml-3' %>
          <!--<img class="win-img ml-3" src="/assets/v2/merchant/datatable/search-b1653ca1c4c472b22b1d2b0fc63972f84199820cac0e45c0ce3f12843e6872be.svg">-->
        </span>
      </span>
        </div>
      </div>
    </form>
  </div>
</div>
<%= javascript_include_tag "v2/merchant/filter" %>