
<%= render partial: "v2/merchant/shared/datatable_search" %>
<div class="col-lg-12 col-md-12 col-sm-12 table table-responsive charge_back_table mt-4">
  <table  class="pt-0 chargeback_datatable">
<!--<table class="table table-striped- table-bordered table-hover table-checkable listing_datatable" id="m_table_1">-->
  <thead>
  <tr>
    <th>Invoice#</th>
    <th>Invoice Date</th>
    <th>Due date</th>
    <th>Customer Name</th>
    <th>Amount</th>
    <th><center>
      <%= render partial: "v2/merchant/shared/datatable_status" %>
    </center></th>
    <th>Actions</th>
  </tr>
  </thead>
  <tbody>
  <% @requests.each.with_index do |request, index| %>
    <tr class="<%= index.odd? ? "odd" : "even" %> charge_back_hover">
      <td><%= request.invoice_number %></td>
      <td><%= request.created_at.strftime("%m/%d/%Y") %></td>
      <td><%= request.due_date.strftime("%m/%d/%Y") %></td>
      <td><%= request.reciever_name %></td>
      <td><%= request.amount.to_f %></td>
      <td>
        <center>
          <span class="badge paid">PAID</span>
        </center>
      </td>
      <td>
        <center>
          <div class="m-dropdown m-dropdown--inline m-dropdown--arrow m-dropdown--align-right m-dropdown--align-push" m-dropdown-toggle="click" aria-expanded="true">
            <a href="#" class="m-portlet__nav-link m-dropdown__toggle btn m-btn m-btn--link">
              <%= image_tag "v2/merchant/datatable/dotted.svg" %>
            </a>
            <div class="m-dropdown__wrapper" >
              <span class="m-dropdown__arrow m-dropdown__arrow--right m-dropdown__arrow--adjust"></span>
              <div class="m-dropdown__inner">
                <div class="m-dropdown__body">
                  <div class="m-dropdown__content">
                    <ul class="m-nav">
                      <li class="m-nav__item">
                        <a href="" class="m-nav__link">
                          <i class="m-nav__link-icon flaticon-share"></i>
                          <span class="m-nav__link-text">
                          Activity
                        </span>
                        </a>
                      </li>
                      <li class="m-nav__item">
                        <a href="" class="m-nav__link">
                          <i class="m-nav__link-icon flaticon-chat-1"></i>
                          <span class="m-nav__link-text">
                          Messages
                        </span>
                        </a>
                      </li>
                      <li class="m-nav__item">
                        <a href="" class="m-nav__link">
                          <i class="m-nav__link-icon flaticon-info"></i>
                          <span class="m-nav__link-text">
                          FAQ
                        </span>
                        </a>
                      </li>
                      <li class="m-nav__item">
                        <a href="" class="m-nav__link">
                          <i class="m-nav__link-icon flaticon-lifebuoy"></i>
                          <span class="m-nav__link-text">
                          Support
                        </span>
                        </a>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </center>
      </td>
    </tr>
  <% end %>

  </tbody>
</table>
</div>
<%= render partial: 'v2/merchant/shared/datatable_pagination',locals: {variable: @requests} %>