<% if flash.present? && flash.keys.present? && (flash.keys.first=='chargeback' || flash.keys.first=='successs') %>
<% elsif flash.present? && flash.keys.present? && current_user.present? && current_user.two_step_verification == false && (flash.keys.first == 'notice' && (flash.first.try(:[],1).present? && flash.first.try(:[],1) == "Two factor authentication successful.")) %>
<% elsif flash.present? && @flash_profile != true %>
  <% if params[:controller].present? && params[:controller] == "v2/merchant/accounts" && params[:action].present? && params[:action] == "index" %>
    <div class="profile-subheader">
      <div id="alert-message" class="margin-top-43px account_possition alert_messages">
        <div class="row">
          <div class="col-md-1 mt-1">
            <%= image_tag "v2/profile/key_icon.svg",class:'profile-key-icon-class'%>
          </div>
          <div class="col-md-10 offer-declined-responsive-text mt-1 ml-3">
            <% flash.each do |key, value| %>
              <p class="alert-text"><%= value %></p>
            <% end %>
          </div>
          <div>
            <%= image_tag "v2/close-btn.svg", class: 'counter_alert margin-top-15 pull-right cursor-pointer' , id: "close_flash"%>
          </div>

        </div>
      </div>
    </div>
  <% else %>
    <div class="profile-subheader">
      <div id="alert-message" class="margin-top-43px alert_messages">
        <div class="row">
          <div class="col-md-1">
            <%= image_tag "v2/profile/key_icon.svg",class:'profile-key-icon-class'%>
          </div>
          <div class="col-md-9 offer-declined-responsive-text ml-3">
            <% flash.each do |key, value| %>
              <p class="alert-text"><%= value %></p>
            <% end %>
          </div>
          <%= image_tag "v2/close-btn.svg", class: 'counter_alert pull-right cursor-pointer ml-5' , id: "close_flash"%>
        </div>
      </div>
    </div>
  <% end %>
<% end %>