
<div class="row">
  <div class="col-md-6 col-sm-12">
    <div class="select_number mb-0">
      <span class="mt-3 mr-2">
        Show
      </span>
      <%= form_tag filter_path, method: :get do %>
          <%= select_tag "filter", options_for_select(@filters.present? ? @filters.map {|v| [v]} : [10,25,50,100], selected: params[:filter].present? ? params[:filter] : "10"),
                         :prompt => false,
                         :required => true,
                         class: "form-control m-bootstrap-select m-bootstrap-select--pill m_selectpicker pagination_dropdown",
                         data: {confirm: "Are you sure ?"}
          %>
          <input type="hidden" name="hold_in_rear_id" value="<%= params[:hold_in_rear_id] %>">
      <% end %>
      <div class="m--space-10"></div>
      <span class="mt-3 ml-2">
        Entries
      </span>
    </div>
  </div>
  <% if @user_permission.try(:admin?) || @user_permission.try(:export_funding_schedule) %>
    <div class="col-md-6 col-sm-12">
      <button type="button" class="btn btn-default btn-invoice-cancel pull-right btn_transfer_fund export_bulk export-per-btn" data-toggle="modal" data-target="#echeckModal">
        Export
      </button>
    </div>
  <% end %>
</div>

<div class="col-lg-12 col-md-12 col-sm-12 table table-responsive charge_back_table mt-4">
  <table  class="pt-0 chargeback_datatable">
<!--<table class="table table-striped- table-bordered table-hover table-checkable funding_datatable listing_datatable" id="m_table_1">-->
  <thead>
  <tr>
    <th class="risk_eval_heading">
      Risk Eval.
    </th>
    <th>
      TXN ID
    </th>
    <th>
      Date / Time
    </th>
    <th>
      Receiver
      Name
    </th>
    <th>
      Sender
      Name
    </th>
    <th>
      Type
    </th>
    <th>
      Descriptor
    </th>
    <th>
      Card
      Number
    </th>
    <th class="amount-th">
      <%= type == "reserve" ? "Reserve Amount" : "Total Amount" %>
    </th>
    <th class="text-center funding-c-3">
      <button class="btn-status" type="">
        <i class="flaticon-interface-2 pl-2 icon_charge_back"></i>
        <span class="">Status</span>
      </button>
      <%#= render partial: "v2/merchant/shared/datatable_status" %>
    </th>
  </tr>
  </thead>
  <tbody class="table-striped">
  <% if @transactions.present? %>
  <% @transactions.each_with_index do |t,index| %>
      <tr class="clickable_row charge_back_hover <%= index.odd? ? "odd" : "even" %>" data-path= "<%= transaction_detail_v2_merchant_accounts_path(id: t.seq_transaction_id,wallet: @wallet.location.business_name,path: v2_merchant_account_path(@wallet.slug)) %>">
        <td>
          <% max = merch_maxmind_minfraud_status(t.minfraud_result) %>
          <a href="#" data-skin="dark" data-toggle="m-tooltip" data-placement="top" title="" data-toggle="modal" data-target="#deleteEmployeeModal" data-original-title="<%= max[:title] %>" class="badge <%= max[:class] %>">
            <%= max[:text] %>
          </a>
        </td>
        <td>
          <%= t.seq_transaction_id.present? ? t.seq_transaction_id[0..5] : nil %>
        </td>
        <td class="timeUtc">
          <%=  t.timestamp.present? ? t.timestamp.strftime("%m-%d-%Y %H:%M:%S") : t.created_at.strftime("%m-%d-%Y %H:%M:%S") %>
        </td>
        <td>
          <%= t.receiver_name.present? ? t.receiver_name : t.receiver.try(:name).present? ? t.receiver.try(:name) :  '' %>
        </td>
        <td>
          <%= t.sender_name.present? ? t.sender_name : t.sender.try(:name).present? ? t.sender.try(:name) :  ''  %>
        </td>
        <td>
          <%= main_type_format(show_local_type(t)) %>
        </td>
        <td>
          <%= show_descriptor(t) %>
        </td>
        <td>
          <%= t.last4.present? ? "•••• #{t.last4}" : "---" %>
        </td>
        <td class="amount-td">
          <% amount = type == "reserve" ? t.reserve_money.to_f : t.total_amount.to_f %>
          <%= number_with_precision(number_to_currency(amount), precision: 2) %>
        </td>
        
        <td class="text-center">
          <% if t.status == "complete" %>
            <div class="badge partial_refund">
              PARTIAL REFUND  <%= image_tag "v2/merchant/icons/Group i 5238.svg", class: "account_status_icon" %>
            </div>
          <% elsif t.status == "refunded" %>
            <div class="badge refund_badge">
              REFUNDED  <%= image_tag "v2/merchant/icons/Group_5310.svg", class: "account_status_icon" %>
            </div>
          <% else %>
            <div class="badge approved_badge_reserve">
              APPROVED
            </div>
          <% end %>

        </td>
      </tr>
  <% end %>
  <%else %>
      <tr class="odd">
        <td>No Data</td>
        <td>No Data</td>
        <td>No Data</td>
        <td>No Data</td>
        <td>No Data</td>
        <td>No Data</td>
        <td>No Data</td>
        <td>No Data</td>
        <td class="amount-td">$0.00</td>
        <td class="text-center">No Data</td>

      </tr>
      <%= render :partial => 'v2/merchant/shared/extra_tr', :locals => {tr: 2, td: 10} %>
  <% end %>
  <% if @transactions.present? && @transactions.count == 9 %>
      <%= render :partial => 'v2/merchant/shared/extra_tr', :locals => {tr: 1, td: 10} %>
  <% elsif @transactions.present? && @transactions.count < 9 %>
      <%= render :partial => 'v2/merchant/shared/extra_tr', :locals => {tr: 2, td: 10} %>
  <% end %>
  </tbody>
</table>
</div>

<%= render partial: "v2/merchant/shared/datatable_pagination",locals: {variable:@transactions} %>
<%= javascript_include_tag 'v2/merchant/hold_money'  %>
<%= javascript_include_tag 'v2/merchant/filter'  %>
