<div class="table-data">
  <div class="col-lg-12 col-md-12 col-sm-12 table table-responsive charge_back_table mt-4">
  <table  class="pt-0 chargeback_datatable gc_table_line_height">
<!--<table class="table table-striped- table-bordered table-hover table-checkable listing_datatable giftcard-table" id="m_table_1">-->
<% if !@tango_orders.try(:empty?) && @user_permission.try(:gift_card_view_only) %>
  <thead>
  <tr class="giftcard-headings">
    <th class="">

    </th>
    <th class="">
      UTID
    </th>
    <th class="">
      Name
    </th>
    <th class="">
      Creation date
    </th>
    <th class="">
      Name on Bank Account
    </th>
    <th class="">
      Currency
    </th>
    <th class="g-amount">
      Amount
    </th>
    <th class="">
      <center>
<!--        <button class="gift_btn-status text-center" >-->
<!--          <span class="">Status</span>-->
          Status
<!--        </button>-->
      </center>
    </th>
  </tr>
  </thead>
  <tbody>
    <% @tango_orders.try(:each) do |t| %>
      <tr class="charge_back_hover">
        <td class="giftcard-image">
          <img src="<%= t.catalog_image %>" class="img img-responsive"  height="50" width="80"/>
        </td>
        <td><%= t.utid %></td>
        <td><%= t.name %></td>
        <% if cookies[:timezone].present? %>
          <td><%= t.created_at.in_time_zone(cookies[:timezone]).strftime("%m-%d-%Y %I:%M:%S %p") %></td>
        <% else %>
          <td class="timeUtc"><%= t.created_at.strftime("%m-%d-%Y %I:%M:%S %p") %></td>
        <% end %>
        <td><%= t.name %></td>
        <td>
          USD
        </td>
        <td>$ <%= number_with_precision(t.amount, precision: 2, delimiter: ',') %></td>
        <td>
          <center>
            <%if t.status == 'COMPLETE' %>
              <span class="badge paid"><%= t.status %></span>
            <% else  %>
              <span class="badge paid"><%= t.status %></span>
            <% end  %>
          </center>
        </td>

      </tr>
    <% end  %>
  <%else %>
    <div class="col-xl-12 ">
      <center  class="m-5 p-5">
        <%= image_tag "v2/merchant/datatable/no_data.svg" %>
        <p class="No-data-available mt-4 mr-4">No data available</p>
      </center>
    </div>
  <%	 end  %>

  </tbody>
</table>
</div>
<% if @user_permission.try(:gift_card_view_only) %>
<%= render partial: "v2/merchant/shared/datatable_pagination",locals: {variable: @tango_orders} %>
<% end %>
</div>