<!-- BEGIN: Header -->
<header id="m_header" class="m-grid__item    m-header " m-minimize-offset="200" m-minimize-mobile-offset="200">
  <div class="m-container m-container--fluid m-container--full-height">
    <div class="m-stack m-stack--ver m-stack--desktop">
      <div class="m-stack__item m-stack__item--fluid m-header-head" id="m_header_nav">
        <div id="m_header_topbar" class="m-topbar  m-stack m-stack--ver m-stack--general">
          <div class="m-stack__item m-topbar__nav-wrapper">
            <ul class="m-topbar__nav m-nav m-nav--inline">
              <input type="hidden" value="merchant" id="user_type">
              <li class="m-nav__item m-nav__item--accent m-dropdown m-dropdown--large m-dropdown--arrow m-dropdown--align-center  m-dropdown--mobile-full-width"  m-dropdown-persistent="1" >
               <% if current_user.merchant_id.blank? && current_user.tos_checking == true %>
                <a href="#" class="m-nav__link m-dropdown__toggle padding-20" id="m_topbar_notification_icon">
                  <span class="m-nav__link-badge"></span>
                  <span class="">
                    <span class="m-nav__link-icon-wrapper noti_count">
                      <%= image_tag "v2/notfication/bell_no_notification.svg", class: 'notification_bell' %>
                      <!--                      <span class="alert_message">2</span>-->
                      <% notification_count =  Notification.where(recipient_id: current_user.id,read_at: nil).where(hide_at: nil).where.not(text: nil).count %>
                      <% if notification_count > 0 %>
                        <span class="alert_notification notification_numbers"><%= notification_count %></span></span> 
                      <%end%>
                    </span>
                  </span>
                </a>
                  <% elsif current_user.merchant? && current_user.merchant_id.present?  %>
                  <a href="#" class="m-nav__link m-dropdown__toggle padding-20" id="m_topbar_notification_icon">
                    <span class="m-nav__link-badge"></span>
                    <span class="">
                    <span class="m-nav__link-icon-wrapper noti_count">
                      <%= image_tag "v2/notfication/bell_no_notification.svg", class: 'notification_bell' %>
                      <!--                      <span class="alert_message">2</span>-->
                      <% notification_count =  Notification.where(recipient_id: current_user.id,read_at: nil).where(hide_at: nil).where.not(text: nil).count %>
                      <% if notification_count > 0 %>
                        <span class="alert_notification notification_numbers"><%= notification_count %></span></span>
                      <%end%>
                      </span>
                    </span>
                  </a>
                  <% end %>
                <div class="w3-sidebar qc-notification-sidebar w3-bar-block w3-card w3-animate-right"  id="rightMenu">
                  <div class="row">
                    <div class="col-lg-7">
                      <div class="pull-left">
                        <div class="notification-main-bar qc-notification-bar">
                          <%= image_tag "v2/notfication/qc_notification.svg", class: 'notification bell' %>
                          <span class="simple-24-bold-text-dark position-4x pl-2">Notifications</span>
                        </div>
                      </div>
                    </div>
                    <% notification_read_count =  Notification.where(recipient_id: current_user.id,hide_at: nil).where.not(text: nil).count %>
                    <% if notification_read_count > 0  %>

                      <div class="col-lg-5">
                        <div class="position-top-41">
                          <div class="row">
                            <div class="col-lg-2">
                              <div class="pull-right clear_all_noti">
                                <span class="show-more show-more-text" ><span class="clear-text clear-all-notification"><span class="clear-txt">Clear all</span></span><%= image_tag "v2/notfication/close_qc_notification.svg",class:"close_all_notification margin-top-4x"%></span>
                              </div>
                            </div>
                            <div class="col-lg-10">
                              <div class="pull-right read_all_noti">
                                <a href="#" class="btn mark-all-read-button margin-right-28">Mark all as read</a>
                              </div>

                            </div>
                          </div>
                        </div>

                      </div>
                    <%end%>
                  </div>



                  <%= render partial: "v2/merchant/shared/notification" %>
                </div>
              </li>
              <li id="m_quick_sidebar_toggle" class="m-nav__item m-nav__item--info m-nav__item--qs">
                <a href="#" class="m-nav__link m-dropdown__toggle">
                        <span class="m-nav__link-icon m-nav__link-icon-alt">
                          <span class="m-nav__link-icon-wrapper">
                            <span class="m-topbar__userpic m-card-profile__pic-wrapper">
                              <div class=""><%= first_letter_name %></div>
                            </span>
                          </span>
                        </span>
                </a>
              </li>
              <li class="m-nav__item m-nav__item--info m-nav__item--qs">
                <a href="javascript:;" id="r_m_aside_left_minimize_toggle" class="close r_aside_left_minimize_toggle" >

                  <div  class="open ">
                    <span></span>
                    <span class="small_responsive_sidebar"></span>
                    <span></span>
                  </div>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>