
<div class="col-lg-12 col-md-12 col-sm-12 table table-responsive charge_back_table mt-4">
  <table class="pt-0" id="mytable">
    <thead>
    <tr>
      <th class=" pb-4">
        Account
        <i class="fa fa-caret-down"></i>
      </th>
      <th class="pb-4">
        Cases Received
        <i class="fa fa-caret-down"></i>
      </th>
      <th class="pb-4">
        Cases Pending
        <i class="fa fa-caret-down"></i>
      </th>
      <th class="pb-4">
        Cases Won
        <i class="fa fa-caret-down"></i>
      </th>
      <th class="pb-4">
        Cases Lost
        <i class="fa fa-caret-down"></i>
      </th>
      <th class="pb-4">
        Draft Cases
        <i class="fa fa-caret-down"></i>
      </th>
      <th class="pb-4">
        Chargeback %
        <i class="fa fa-caret-down"></i>
      </th>
    </tr>
    </thead>
    <tbody id="myTable">
   <%# if @chargebacks.present? %>
   <% @wallets.each do |wallet| %>
      <% if params[:first_date].present? && params[:second_date].present? %>
      <%  @chargebacks_t=DisputeCase.where(merchant_wallet_id: wallet.id).where(created_at: @date[:first_date]..@date[:second_date]).where('dispute_cases.created_at > ?','01/01/2020'.to_datetime).group_by(&:merchant_wallet_id) %>
    <% else  %>
         <% @chargebacks_t=DisputeCase.where(merchant_wallet_id: wallet.id).where(created_at: Date.today.beginning_of_month..Date.today.end_of_day).where('dispute_cases.created_at > ?','01/01/2020'.to_datetime).group_by(&:merchant_wallet_id) %>
    <%end %>
      <% if @chargebacks_t.present? %>
        <% custom_filter = params[:first_date].present? ? {first_date: params[:first_date], second_date: params[:second_date]} : '' %>
        <% @chargebacks_t.each do |dispute| %>
        <tr class='clickable-row odd charge_back_hover mt-2' data-href= "<%= account_chargeback_v2_merchant_chargebacks_path(wallet_id: dispute.second.try(:first).try(:merchant_wallet).id, custom_filter: custom_filter.present? ? custom_filter.to_json : '', filter_day: params[:filter_day]) %>" >
      <td>
        <%= dispute.second.try(:first).try(:merchant_wallet).try(:location).try(:business_name) %>
      </td>
      <% case_received= dispute.try(:second).try(:count) %>
      <% sent_pending = dispute.try(:second).select{|i| i.status=='sent_pending'} %>
      <% won_case = dispute.try(:second).select{|i| i.status=='won_reversed'} %>
      <% lost = dispute.try(:second).select{|i| i.status=='lost'} %>
      <% draft = dispute.try(:second).select{|i| i.status=='draft'} %>
      <% draft = dispute.try(:second).select{|i| i.status=='draft'} %>
      <td>
        <%= case_received %>
      </td>
      <td class="">
        <%= sent_pending.try(:count) %>
      </td>
      <td>
        <%= won_case.try(:count) %>
      </td>
      <td>
        <%= lost.try(:count) %>
      </td>
      <td>
        <%= draft.try(:count) %>
      </td>
      <% total_transactions = Transaction.dispute_transaction_count(dispute.try(:first)) %>
      <% disputes_count = dispute.try(:second).count %>
      <% if disputes_count > 0 && total_transactions > 0 %>
          <% cbk_percentage=((disputes_count.to_f/total_transactions.to_f)*100).to_f %>
      <% else %>
          <%  cbk_percentage = "0.00" %>
      <% end %>
      <td>
        <%= number_with_precision(cbk_percentage,precision: 2) %>%
      </td>
    <tr>
          <% end %>
        <% else %>
        <% custom_filter = params[:first_date].present? ? {first_date: params[:first_date], second_date: params[:second_date]} : '' %>
        <tr class='clickable-row odd charge_back_hover mt-2' data-href= "<%= account_chargeback_v2_merchant_chargebacks_path(wallet_id: wallet.id , custom_filter: custom_filter.present? ? custom_filter.to_json : '', filter_day: params[:filter_day]) %>" >
        <td>
          <%= wallet.try(:location).try(:business_name) %>
        </td>
        <td>
          0
        </td>
        <td class="">
         0
        </td>
        <td>
          0
        </td>
        <td>
         0
        </td>
        <td>
         0
        </td>
        <td>
          0%
        </td>
        </tr>
        <% end %>
    <% end %>
    <%# end %>
    <%# else %>
<!--    <tr>-->
<!--      <td colspan="8">-->
<!--        <div class="col-xl-12 ">-->
<!--          <center  class="m-5 p-5">-->
            <%#= image_tag "v2/merchant/datatable/no_data.svg" %>
<!--            <p class="No-data-available mt-4 mr-4">No data available</p>-->
<!--          </center>-->
<!--        </div>-->
<!--      </td>-->
<!--    </tr>-->
    <%# end %>
    </tbody>
  </table>
</div>
