<% timezone = cookies[:timezone].present? ? cookies[:timezone] : TIMEZONE %>
<% today_notifications = Notification.where(recipient_id: current_user,hide_at: nil).where.not(text: nil).order("created_at DESC").today.limit(10) %>
  <% yesterday_notification = Notification.where(recipient_id: current_user,hide_at: nil).where.not(text: nil).where("Date(created_at AT TIME ZONE 'UTC' AT TIME ZONE ? ) = ? ",timezone , Date.today - 1).order("created_at DESC").limit(10) %>
  <% older_notifications = Notification.where(recipient_id: current_user,hide_at: nil).where.not(text: nil).where("Date(created_at AT TIME ZONE 'UTC' AT TIME ZONE ? ) < ? ",timezone, Date.today - 2).order("created_at DESC").limit(10) %>
  <% day_bed_yes_notifications = Notification.where(recipient_id: current_user,hide_at: nil).where.not(text: nil).where("Date(created_at AT TIME ZONE 'UTC' AT TIME ZONE ? ) = ? ",timezone , Date.today - 2).order("created_at DESC").limit(10) %>
  <% all_notfy_class = empty_notify_class = '' %>
  <% if today_notifications.present? || yesterday_notification.present?  || day_bed_yes_notifications.present? || older_notifications.present? %>
    <% empty_notify_class = 'hide' %>
  <%else%>
    <% all_notfy_class = 'hide' %>
  <%end%>
    <div id="all_notifications" class="all-notify  <%= all_notfy_class %>">
      <button id="today-notification" data-id="span1"  class="accordion today-notification qc-today-noti-section">
        <span id="today-notification-heading">Today</span>

         <% if today_notifications.present? %>
        <span class="show-more show-more-text  today-notification-btn" ><span class="clear-text clear-all-notification"><span class="clear-txt">Clear all</span></span><%= image_tag "v2/notfication/close_qc_notification.svg",class:"close_all_notification"%></span>
        <%end%>
      </button>
      <div id="today_panel" class="panels">

        <% if today_notifications.present? %>
          <% today_notifications.each do |noti| %>
            <%= render partial: 'v2/merchant/shared/notification_body' , locals: {noti: noti} %>
          <%end%>
          <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12">
              <center><button id="today_more"  class="see_more_noti">see more</button></center>
            </div>
          </div>
        <%else%>
          <div class="no-notify">
            <p>No notifications.</p>
          </div>
        <%end%>
      </div>
      <button id="yesterday-notification" data-id="span2" class="accordion yesterday-notification qc-yesterday-noti-section">
        <span id="yesterday-notification-heading">Yesterday</span>
        <% if yesterday_notification.present? %>
        <span class="show-more show-more-text yesterday-notification-btn " ><span class="clear-text clear-all-notification"><span class="clear-txt">Clear all</span></span><%= image_tag "v2/notfication/close_qc_notification.svg",class:"close_all_notification"%></span>
        <%end%>
      </button>
      <div id="yesterday_panel"  class="panels">
        <% if yesterday_notification.present? %>
          <%  yesterday_notification.each do |noti| %>
            <%= render partial: 'v2/merchant/shared/notification_body' , locals: {noti: noti} %>
          <%end%>
          <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12">
              <center><button id="yesterday_more" class="see_more_noti">see more</button></center>
            </div>
          </div>
        <%else%>
          <div class="no-notify">
            <p>No notifications.</p>
          </div>
        <%end%>
      </div>
      <button id="day-bef-notification" data-id="span2" class="accordion yesterday-notification qc-yesterday-noti-section">
        <span id="day_bef_yes_notifications_heading" >2 days ago</span>
        <%if day_bed_yes_notifications.present? %>
        <span class="show-more show-more-text day-bef-yes-btn " ><span class="clear-text clear-all-notification"><span class="clear-txt">Clear all</span></span><%= image_tag "v2/notfication/close_qc_notification.svg",class:"close_all_notification"%></span>
        <%end%>
      </button>
      <div id="day_bef_yes_panel"  class="panels">
        <%if day_bed_yes_notifications.present? %>
          <% day_bed_yes_notifications.each do |noti| %>
            <%= render partial: 'v2/merchant/shared/notification_body' , locals: {noti: noti} %>
          <%end%>
          <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12">
              <center><button id="before_more"  class="see_more_noti text-center">see more</button></center>
            </div>
          </div>
        <%else%>
          <div class="no-notify">
            <p>No notifications.</p>
          </div>
        <%end%>
      </div>
      <button id="older-notification" data-id="span2" class="accordion yesterday-notification qc-yesterday-noti-section">
        <span id="older-notification-heading">Older Notifications</span>
        <% if older_notifications.present? %>
        <span class="show-more show-more-text older-notification-btn " ><span class="clear-text clear-all-notification"><span class="clear-txt">Clear all</span></span><%= image_tag "v2/notfication/close_qc_notification.svg",class:"close_all_notification"%></span>
        <%end%>
      </button>
      <div id="older_panel"  class="panels">
        <% if older_notifications.present? %>
          <%  older_notifications.each do |noti| %>
            <%= render partial: 'v2/merchant/shared/notification_body' , locals: {noti: noti} %>
          <%end%>
          <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12">
              <center><button id="older_more" class="see_more_noti text-center">see more</button></center>
            </div>
          </div>
        <%else%>
          <div class="no-notify">
            <p>No notifications.</p>
          </div>
        <%end%>
      </div>
    </div>
    <div class="text--center margin-top-notification-alert empty_notification <%= empty_notify_class %>">
      <%= image_tag "v2/notfication/empty_notification_icon.svg"%>
      <p class="simple-18-normal-4c4c4c mt-4">Your Notifications Box is empty.</p>
    </div>