<div class="col-md-6 col-sm-12">
  <div class="select_number mb-0">
    <span class="mt-3 mr-2">
        Show
      </span>
    <%= form_tag filter_path, method: :get do %>
      <div id="show--entries">
      <%= select_tag "filter", options_for_select(@filters.present? ? @filters.map {|v| [v]} : [10,25,50,100], selected: params[:filter].present? ? params[:filter] : "10"),
                     :prompt => false,
                     :required => true,
                     class: "form-control m-bootstrap-select m-bootstrap-select--pill m_selectpicker pagination_dropdown",
                     data: {confirm: "Are you sure ?"}
      %>
      </div>
      <% if params["wallet_id"].present? %>
        <input type="hidden" name="wallet_id" value="<%= params["wallet_id"] %>">
      <% end %>
      <% if params["batch_id"].present? %>
        <input type="hidden" name="batch_id" value="<%= params["batch_id"] %>">
      <% end %>
      <% if params["type"].present? %>
        <input type="hidden" name="type" value="<%= params["type"] %>">
      <% end %>
      <% if params[:batch_date].present? %>
        <input type="hidden" name="batch_date" value="<%= params[:batch_date] %>">
      <% end %>
      <% if params[:query].present? %>
        <input type="hidden" name="query[amount]" value="<%= params[:query][:amount] if  params[:query][:amount].present? %>"  />
        <input type="hidden" name="query[last4]" value="<%= params[:query][:last4]  if  params[:query][:last4].present?%>"  />
        <input type="hidden" name="query[first6]" value="<%= params[:query][:first6]  if  params[:query][:first6].present?%>"  />
        <input type="hidden" name="query[name]" value="<%= params[:query][:name]  if  params[:query][:name].present?%>"  />
        <input type="hidden" name="query[time1]" value="<%= params[:query][:time1]  if  params[:query][:time1].present?%>"  />
        <input type="hidden" name="query[time2]" value="<%= params[:query][:time2]  if  params[:query][:time2].present?%>"  />
        <input type="hidden" name="query[offset]" value="<%= params[:query][:offset].present? ? params[:query][:offset] : Time.now.in_time_zone(cookies[:timezone]).strftime("%z")%>"  />
        <input type="hidden" name="query[date]" value="<%= params[:query][:date]  if  params[:query][:date].present? %>"  />
        <input type="hidden" name="query[email]" value="<%= params[:query][:email]  if  params[:query][:email].present?%>"  />
        <input type="hidden" name="query[phone_number]" value="<%= params[:query][:phone_number]  if  params[:query][:phone_number].present?%>"  />
        <input type="hidden" name="query[type]" value="<%= params[:query][:type]  if  params[:query][:type].present?%>"  />
        <input type="hidden" name="query[type1]" value="<%= params[:query][:type1]  if  params[:query][:type1].present?%>"  />
        <input type="hidden" name="query[dba_name]" value="<%= params[:query][:dba_name] if  params[:query][:dba_name].present? %>"  />
  <% end %>
      <% if params[:search].present? %>
        <input type="hidden" name="search[all]" value="<%=  params["search"].try(:[],:all) == "1" ||  params["search"].try(:select) {|k,v| v=="1"}.try(:keys).try(:count) == nil  ? "1" : "" %>"  />
        <input type="hidden" name="search[approved]" value="<%= "1" if  params["search"].try(:[],:approved) == "1" %>"  />
        <input type="hidden" name="search[refunded]" value="<%= "1" if  params["search"].try(:[],:refunded) == "1" %>"  />
        <input type="hidden" name="search[partial_refund]" value="<%= "1" if  params["search"].try(:[],:partial_refund) == "1" %>"  />

      <% end %>

    <% end %>
    <div class="m--space-10"></div>
    <span class="mt-3 ml-2">
        Entries
      </span>
  </div>
</div>
<%= javascript_include_tag "v2/merchant/filter" %>