
<%= render partial: "v2/merchant/shared/datatable_search" ,locals:{filter_path:v2_merchant_settings_path, search_id: ""} %>
<div class="col-lg-12 col-md-12 col-sm-12 table table-responsive charge_back_table mt-4">

  <table  class="pt-0 chargeback_datatable">
  <!--<table class="table table-striped- table-bordered table-hover table-checkable listing_datatable" id="m_table_1">-->
    <thead>
    <tr>
      <th>
        ID
      </th>
      <th>
        First Name
      </th>
      <th>
        Last Name
      </th>
      <th>
        Permission
      </th>
      <th>
        Email
      </th>
      <th>
        Phone #
      </th>
      <% if @user_permission.try(:user_edit) %>
        <th class="text-right">
          Actions
        </th>
      <% end %>
    </tr>
    </thead>
    <% if @sub_merchants.present? %>
    <tbody>
    <% @sub_merchants.each_with_index do |user,index| %>
      <tr class="mt-2 <%= index.even? ? "odd" : "even" %>">
        <td><%= user.id %></td>
        <td><%= user.name %></td>
        <td><%= user.last_name.nil? ? "N/A" : user.last_name %></td>
        <td><%= user.try(:permission).try(:name) %></td>
        <td><%= user.email %></td>
        <td><%= user.phone_number %></td>
        <%# if @user_permission.try(:user_edit) %>
        <td>
          <%# if @user_permission.admin? || @user_permission.user_edit %>
          <% if @user_permission.try(:user_edit) %>
            <a href="#" data-skin="dark" data-toggle="m-tooltip" data-placement="top" title="" data-toggle="modal" data-target="#deleteEmployeeModal" data-original-title="Delete" class="cutom_tootltip pull-right delete_employee" data-id="<%= user.id %>" >
              <%= image_tag "v2/merchant/datatable/delete-24px.svg", class: "pull-right","data-toggle"=>"modal","data-target"=>"#deleteEmployeeModal"%>
            </a>
          <span id="employee_<%= user.id %>" data-value="<%= user.id %>" data-skin="dark" data-toggle="m-tooltip" data-placement="top" title="" data-original-title="Edit" class="cutom_tootltip btn-custom pull-right show-dynamic-modal disable-edit" data-modal_container_selector=".new_employee" data-modal_selector="#addNewEmployeeModal" data-url="<%= edit_v2_merchant_setting_path(id:user.id) %>" data-method="GET">
            <%= image_tag "v2/merchant/datatable/create-24px.svg", class: "pull-right disable-edit"%>
          </span>
          <% end %>
        </td>
        <%# end %>
        <%# end %>
      </tr>
    <% end %>
    <% else %>
      <tr>
        <td colspan="7">
          <div class="col-xl-12 ">
            <center  class="m-5 p-5">
              <%= image_tag "v2/merchant/datatable/no_data.svg" %>
              <p class="No-data-available mt-4 mr-4">No data available</p>
            </center>
          </div>
        </td>
      </tr>
    <% end %>
    </tbody>
  </table>
</div>
<%= render partial: "v2/merchant/shared/datatable_pagination" ,locals: {variable:@sub_merchants} %>