
<%#= render partial: "v2/merchant/shared/datatable_search",locals:{filter_path:reserve_money_v2_merchant_hold_money_index_path,search_id:'',id:''} %>
<div class="row">
  <div class="col-md-6 col-sm-12">
    <div class="select_number mb-0">
      <span class="mt-3 mr-2">
        Show
      </span>
      <%= form_tag reserve_money_v2_merchant_hold_money_index_path, method: :get do %>
        <div id="show--entries">
        <%= select_tag "filter", options_for_select(@filters.present? ? @filters.map {|v| [v]} : [10,25,50,100], selected: params[:filter].present? ? params[:filter] : "10"),
                         :prompt => false,
                         :required => true,
                         class: "form-control m-bootstrap-select m-bootstrap-select--pill m_selectpicker pagination_dropdown",
                         data: {confirm: "Are you sure ?"}
          %>
          <input type="hidden" name="location" value="<%= params[:location]%>">
          <input type="hidden" name="query[date]" value="<%= params[:query].present? ? params[:query]['date'] : ''%>">
        </div>
      <% end %>



      <div class="m--space-10"></div>
      <span class="mt-3 ml-2">
        Entries
      </span>
    </div>
  </div>

</div>
<div class="col-lg-12 col-md-12 col-sm-12 table table-responsive charge_back_table mt-4">
  <table  class="pt-0 chargeback_datatable">
  <!--<table class="table table-striped- table-bordered table-hover table-checkable listing_datatable" id="m_table_2">-->
  <thead>
  <tr>
    <th>
      Batch ID
    </th>
    <th>
      Batch Date
    </th>
    <th>
      Release Date
    </th>
    <th class="width-20">
      Account
    </th>
    <th class="text--center">
      Transaction<br>
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Count
    </th>
    <th></th>
    <th class="amount-th">
      Amount
    </th>
    <th class="text-right">
      Details
    </th>
  </tr>
  </thead>
  <% if @hold_rear.present?%>
  <tbody>

    <% @hold_rear.each_with_index do |hold_in_rear,index|%>
      <tr class=" <%= index.odd? ? "odd" : "even" %>">
      <% created_at = hold_in_rear.created_at %>
      <% wallet = hold_in_rear.location.wallets.primary.last %>
      <td>
        <%= hold_in_rear.id%>
      </td>
        <td >
          <%= hold_in_rear.created_at.present? ? hold_in_rear.created_at.strftime("%m/%d/%Y") : '' %>
        </td>
      <td >
        <%= hold_in_rear.reserve_release.present? ? hold_in_rear.reserve_release.strftime("%m/%d/%Y") : '' %>
      </td>
      <td>
        <%= hold_in_rear.location.try(:business_name) %>
      </td>
      <td class="text--center">
        <% sale_transactions = BlockTransaction.where(created_at: HoldInRear.pst_beginning_of_day(created_at)..HoldInRear.pst_end_of_day(created_at), main_type:'Reserve Money Deposit',sender_wallet_id: wallet.id).distinct %>

        <% seq_parent_id=sale_transactions.pluck(:seq_parent_id) %>
        <% main_transaction=Transaction.where(seq_transaction_id:seq_parent_id) %>
        <%= main_transaction.select{|t| t.status=="approved" || t.status =='complete' || t.status=="refunded"}.count %>

        <% refunded_transaction=main_transaction.select{|t| t.status=="refunded"}.count %>

        <% partial_refunds = sale_transactions.select {|st| st.refund_log != nil}.count %>
      </td>
      <td></td>
      <td class="amount-td">
        <%= number_with_precision(number_to_currency(hold_in_rear.reserve_amount), precision: 2) %>
      </td>
      <td>
        <center>
          <%= link_to reserve_transactions_v2_merchant_hold_money_index_path(hold_in_rear_id: hold_in_rear.id) ,'data-toggle':'m-tooltip','data-placement':'top','data-original-title':'Detail', class: 'cutom_tootltip pull-right detail-btn' do %>
              <%= image_tag "v2/merchant/datatable/remove_red_eye-24px.svg",class:"right-12"%>

          <% end %>
          <!--<a href="/fundings/1" data-skin="dark" data-toggle="m-tooltip" data-placement="top" title="" data-original-title="Detail" class="cutom_tootltip pull-right">-->
        </center>
      </td>
    </tr>
    <% end %>
   <% else %>
      <tr>
        <td colspan="8">
          <div class="col-xl-12 ">
            <center  class="m-5 p-5">
              <%= image_tag "v2/merchant/datatable/no_data.svg" %>
              <p class="No-data-available mt-4 mr-4">No data available</p>
            </center>
          </div>
        </td>
      </tr>
   <% end %>
  </tbody>
  </table>
</div>

<%= render partial: "v2/merchant/shared/datatable_pagination",locals:{variable:@hold_rear} %>
<%= javascript_include_tag "v2/merchant/filter" %>