<% ach = AppConfig.try(:ach).try(:first) %>
<% p2c = AppConfig.try(:p2c).try(:first) %>
<% check = AppConfig.try(:checks).try(:first) %>
<% giftcard = AppConfig.try(:giftcard).try(:first) %>

<div id="m_aside_left" class="m-grid__item	m-aside-left  m-aside-left--skin-dark  side_bar_menue">
  <!-- BEGIN: Aside Menu -->
  <div id="m_ver_menu" class="m-aside-menu  m-aside-menu--skin-dark m-aside-menu--submenu-skin-dark "
       m-menu-vertical="1" m-menu-scrollable="0" m-menu-dropdown-timeout="500">
    <div class="fixed_side_bar">
      <div class="m-stack__item m-brand fixed_side mt-0">
        <div>
          <a href="/" class="m-menu__link p-0">
            <!--            <div class="logo" > <%#= image_tag "v2/merchant/Logo.svg" , class: "Logo"%> </div>-->
            <!--            <div class="logo-1" >  <%#= image_tag "v2/merchant/Logo-1.svg", class: "Logo-1"%> </div>-->
            <div class="logo" > <%= image_tag "v2/merchant/Logo.svg" , class: "Logo"%> </div>
            <div class="logo-1" >  <%= image_tag "v2/merchant/Logo_new.svg", class: "Logo-1"%> </div>
          </a>
        </div>
        <ul class="m-menu__nav  m-menu__nav--dropdown-submenu-arrow " id="scrollbar--side">
          <% if (current_user.SUBMERCHANT?) && (@user_permission.try(:admin?)) %>
            <!--          <li class="m-menu__item p-0" aria-haspopup="true">-->

            <!--          </li>-->

            <!--          start accounts tab -->
            <li class="m-menu__item single--li">
              <a href="/v2/merchant/accounts" class="m-menu__link">
                <i class="m-menu__link-icon">
                  <% img_ac = request.path.include?("/accounts") ? "y" : "b" %>
                  <%= image_tag "v2/merchant/icons/Accounts-#{img_ac}.svg", class:"sidebar-icons n-expand"%><!-- b for grey and y for  -->
                  <%= image_tag "v2/merchant/icons/Accounts-#{img_ac}-e.svg", class:"sidebar-icons expand"%>
                </i>
                <span class="m-menu__link-title">
                  <span class="m-menu__link-wrap">
                      <span class="m-menu__link-text">
                          Accounts
                      </span>
                  </span>
              </span>
              </a>
            </li>

            <!--          start withdraws tab -->
            <% if (ach.present? && ach.boolValue == false) && (p2c.present? && p2c.boolValue == false) && (check.present? && check.boolValue == false) && (giftcard.present? && giftcard.boolValue == false)  %>

            <% else %>
              <li class="m-menu__item m-menu__item--submenu <%= ["/instant_ach", "/push_to_card","/checks","/bulkcheck", "/giftcards"].any? {|h| request.path.include?(h) } ? "m-menu__item--active m-menu__item--open" : "" %>">
                <a href="javascript:;" class="m-menu__link m-menu__toggle">
                  <i class="m-menu__link-icon">
                    <% img_wi = ["/instant_ach", "/push_to_card","/checks","/bulk_checks", "/giftcards"].any? {|h| request.path.include?(h) } ? "y" : "b" %>
                    <%= image_tag "v2/merchant/icons/Withdraw-#{img_wi}.svg", class:"sidebar-icons n-expand"%>
                    <%= image_tag "v2/merchant/icons/Withdraw-#{img_wi}-e.svg", class:"sidebar-icons expand"%>
                  </i>
                  <span class="m-menu__link-text m-menu__link-title">
										Withdraw
									</span>
                  <i class="m-menu__ver-arrow la la-angle-right"></i>
                </a>
                <% if ["/instant_ach", "/push_to_card","/checks","/bulk_checks", "/giftcards"].any? {|h| request.path.include?(h) } %>
                  <div class="active-line"></div>
                <% end %>
                <div class="m-menu__submenu " m-hidden-height="160">
                  <span class="m-menu__arrow"></span>
                  <ul class="m-menu__subnav">
                    <% if (ach.present? && ach.boolValue == true)  %>
                      <li class="m-menu__item <%= request.path.include?("/instant_ach") ? "m-menu__item--active" : "" %>"  aria-haspopup="true">
                        <a href="<%= v2_merchant_instant_ach_index_path %>" class="m-menu__link">
                          <i class="m-menu__link-bullet m-menu__link-bullet--dot">
                            <span></span>
                          </i>
                          <span class="m-menu__link-text">
													ACH
												</span>
                        </a>
                      </li>
                    <% end %>
                    <% if (p2c.present? && p2c.boolValue == true)  %>

                      <li class="m-menu__item <%= request.path.include?("/v2/merchant/push_to_card") ? "m-menu__item--active" : "" %>" >
                        <a href="<%= v2_merchant_push_to_card_index_path  %>" class="m-menu__link ">
                          <i class="m-menu__link-bullet m-menu__link-bullet--dot">
                            <span></span>
                          </i>
                          <span class="m-menu__link-text">
													P2C
												</span>
                        </a>
                      </li>
                    <% end %>
                    <% if check.try(:boolValue) %>
                      <li class="m-menu__item <%= request.path.include?("/v2/merchant/checks") || request.path.include?("/v2/merchant/bulk_checks") ? "m-menu__item--active" : "" %>" aria-haspopup="true">
                        <a href="<%= v2_merchant_checks_path %>" class="m-menu__link ">
                          <i class="m-menu__link-bullet m-menu__link-bullet--dot">
                            <span></span>
                          </i>
                          <span class="m-menu__link-text">
													E-Checks
												</span>
                        </a>
                      </li>
                    <% end %>
                    <% if (giftcard.present? && giftcard.boolValue == true)  %>
                      <li class="m-menu__item <%= request.path.include?("/giftcards") ? "m-menu__item--active" : "" %>" aria-haspopup="true">
                        <a href="<%= v2_merchant_giftcards_path %>" class="m-menu__link ">
                          <i class="m-menu__link-bullet m-menu__link-bullet--dot">
                            <span></span>
                          </i>
                          <span class="m-menu__link-text">
													Gift Card
												</span>
                        </a>
                      </li>
                    <% end %>
                  </ul>
                </div>
              </li>
            <% end %>
            <!--          start chargebacks tab -->
            <li class="m-menu__item single--li">
              <a href="/v2/merchant/chargebacks" class="m-menu__link ">
                <i class="m-menu__link-icon">
                  <% img_cb = request.path.include?("/chargebacks") ? "y" : "b" %>
                  <%= image_tag "v2/merchant/icons/Chargebacks-#{img_cb}.svg", class:"sidebar-icons n-expand"%>
                  <%= image_tag "v2/merchant/icons/Chargebacks-#{img_cb}-e.svg", class:"sidebar-icons expand"%>
                </i>
                <span class="m-menu__link-title">
                  <span class="m-menu__link-wrap">
                      <span class="m-menu__link-text">
                          Chargebacks
                      </span>
                  </span>
              </span>
              </a>
            </li>

            <!--          start invoices tab -->
            <li class="m-menu__item single--li">
              <a href="/v2/merchant/invoices/payee" class="m-menu__link ">
                <i class="m-menu__link-icon">
                  <% img_inv = ["/payee", "/recurring_billing"].any? {|h| request.path.include?(h) } ? "y" : "b" %>
                  <%= image_tag "v2/merchant/icons/Invoice-#{img_inv}.svg", class:"sidebar-icons n-expand"%>
                  <%= image_tag "v2/merchant/icons/Invoice-#{img_inv}-e.svg", class:"sidebar-icons expand"%>
                </i>
                <span class="m-menu__link-title">
                  <span class="m-menu__link-wrap">
                      <span class="m-menu__link-text">
                          Invoices
                      </span>
                  </span>
              </span>
              </a>
            </li>
            <!--Virtual Terminal-->
            <li class="m-menu__item single--li">
              <a href="/v2/merchant/sales" class="m-menu__link ">
                <i class="m-menu__link-icon">
                  <% img_inv = ["/sales"].any? {|h| request.path.include?(h)} ? "y" : "b" %>
                  <%= image_tag "v2/merchant/icons/virtualTerminal-#{img_inv}.svg", class: "sidebar-icons n-expand" %>
                  <%= image_tag "v2/merchant/icons/virtualTerminal-#{img_inv}-e.svg", class: "sidebar-icons expand" %>
                </i>
                <span class="m-menu__link-title">
                  <span class="m-menu__link-wrap">
                    <span class="m-menu__link-text">
                      Virtual Terminal
                    </span>
                  </span>
                </span>
              </a>
            </li>
            <!--            Customer List-->
            <li class="m-menu__item single--li">
              <a href="/v2/merchant/invoices/clients" class="m-menu__link ">
                <i class="m-menu__link-icon">
                  <% img_inv = ["/clients"].any? {|h| request.path.include?(h) } ? "y" : "b" %>
                  <%= image_tag "v2/merchant/icons/customers-#{img_inv}.svg", class: "sidebar-icons n-expand" %>
                  <%= image_tag "v2/merchant/icons/customers-#{img_inv}-e.svg", class: "sidebar-icons expand" %>
                </i>
                <span class="m-menu__link-title">
                  <span class="m-menu__link-wrap">
                    <span class="m-menu__link-text">
                      Customer List
                    </span>
                  </span>
                </span>
              </a>
            </li>

            <!--          start funding schedule tab -->
            <li class="m-menu__item single--li">
              <a href="/v2/merchant/hold_money" class="m-menu__link ">
                <i class="m-menu__link-icon">
                  <% img_fund = request.path.include?("/hold_money") ? "y" : "b" %>
                  <%= image_tag "v2/merchant/icons/Funding-Schedule-#{img_fund}.svg", class:"sidebar-icons n-expand"%>
                  <%= image_tag "v2/merchant/icons/Funding-Schedule-#{img_fund}-e.svg", class:"sidebar-icons expand"%>
                </i>
                <span class="m-menu__link-title">
                  <span class="m-menu__link-wrap">
                      <span class="m-menu__link-text">
                         Funding Schedule
                      </span>
                  </span>
              </span>
              </a>
            </li>

            <!--          start exports tab -->
            <li class="m-menu__item single--li">
              <a href="/v2/merchant/exports" class="m-menu__link ">
                <i class="m-menu__link-icon">
                  <% img_exp = request.path.include?("/exports") ? "y" : "b" %>
                  <%= image_tag "v2/merchant/icons/Exports-#{img_exp}.svg", class:"sidebar-icons n-expand"%>
                  <%= image_tag "v2/merchant/icons/Exports-#{img_exp}-e.svg", class:"sidebar-icons expand"%>
                </i>
                <span class="m-menu__link-title">
                  <span class="m-menu__link-wrap">
                      <span class="m-menu__link-text">
                         Exports
                      </span>
                  </span>
              </span>
              </a>
            </li>

            <!--          start business setting tab -->
            <li class="m-menu__item m-menu__item--submenu  <%= ["/plugins","/apps","/settings","/employee_listing", "/permission", "/location_fees"].any? {|h| request.path.include?(h) } ? "m-menu__item--active m-menu__item--open" : "" %>">
              <a href="javascript:;" class="m-menu__link m-menu__toggle">
                <i class="m-menu__link-icon">
                  <% img_bus = ["/plugins","/settings","/employee_listing", "/apps", "/permission", "/location_fees"].any? {|h| request.path.include?(h) } ? "y" : "b" %>
                  <%= image_tag "v2/merchant/icons/Business-Settings-#{img_bus}.svg", class:"sidebar-icons n-expand"%>
                  <%= image_tag "v2/merchant/icons/Business-Settings-#{img_bus}-e.svg", class:"sidebar-icons expand"%>
                </i>
                <span class="m-menu__link-text m-menu__link-title">
										Business Settings
									</span>
                <i class="m-menu__ver-arrow la la-angle-right"></i>
              </a>
              <% if ["/plugins","/employee_listing","/settings","/apps" "/permission","/location_fees"].any? {|h| request.path.include?(h) } %>
                <div class="active-line"></div>
              <% end %>
              <div class="m-menu__submenu " m-hidden-height="160">
                <span class="m-menu__arrow"></span>
                <ul class="m-menu__subnav">
                  <li class="m-menu__item <%= request.path == "/v2/merchant/settings" ? "m-menu__item--active" : "" %>" aria-haspopup="true">
                    <a href="/v2/merchant/settings" class="m-menu__link ">
                      <i class="m-menu__link-bullet m-menu__link-bullet--dot">
                        <span></span>
                      </i>
                      <span class="m-menu__link-text">
													Employee List
												</span>
                    </a>
                  </li>
                  <li class="m-menu__item <%= request.path.include?("/permission") ? "m-menu__item--active" : "" %>" aria-haspopup="true">
                    <a href="<%= v2_merchant_permission_index_path %>"  class="m-menu__link ">
                      <i class="m-menu__link-bullet m-menu__link-bullet--dot">
                        <span></span>
                      </i>
                      <span class="m-menu__link-text">
													Permission List
												</span>
                    </a>
                  </li>
                  <li class="m-menu__item <%= request.path == "/v2/merchant/apps" ? "m-menu__item--active" : "" %>" aria-haspopup="true">
                    <a href="<%= v2_merchant_apps_path %>" class="m-menu__link ">
                      <i class="m-menu__link-bullet m-menu__link-bullet--dot">
                        <span></span>
                      </i>
                      <span class="m-menu__link-text">
                          Api Keys
                        </span>
                    </a>
                  </li>
                  <li class="m-menu__item <%= request.path == "/v2/merchant/plugins" ? "m-menu__item--active" : "" %>" aria-haspopup="true">
                    <a href="<%= v2_merchant_plugins_path %>" class="m-menu__link ">
                      <i class="m-menu__link-bullet m-menu__link-bullet--dot">
                        <span></span>
                      </i>
                      <span class="m-menu__link-text">
													Plugins
												</span>
                    </a>
                  </li>
                  <li class="m-menu__item <%= request.path == "/v2/merchant/location_fees" ? "m-menu__item--active" : "" %>" aria-haspopup="true">
                    <a href="/v2/merchant/location_fees" class="m-menu__link ">
                      <i class="m-menu__link-bullet m-menu__link-bullet--dot">
                        <span></span>
                      </i>
                      <span class="m-menu__link-text">
													Fee Structure
												</span>
                    </a>
                  </li>
                </ul>
              </div>
            </li>
            <li class="m-menu__item single--li margin--bottom" >
              <a href="/v2/merchant/accounts/get_help" class="m-menu__link ">
                <i class="m-menu__link-icon">
                  <% img_get = request.path.include?("/get_help") ? "y" : "b" %>
                  <%= image_tag "v2/merchant/icons/GetHelp-#{img_get}.svg", class:"sidebar-icons n-expand"%>
                  <%= image_tag "v2/merchant/icons/GetHelp-#{img_get}-e.svg", class:"sidebar-icons expand"%>
                </i>
                <span class="m-menu__link-title">
                  <span class="m-menu__link-wrap">
                      <span class="m-menu__link-text">
                         Get Help
                      </span>
                  </span>
              </span>
              </a>
            </li>
            <!--          <li class="m-menu__item last--li p-0" id="last--li" aria-haspopup="true">-->
            <!--            <a href="javascript:;" class="m-menu__link p-0">-->
            <!--              <div class="BotMenu" id="BotMenu1"><%#= image_tag "merchant/BotMenu.svg" %></div>-->
            <!--              <div class="BotMenu" id="BotMenu2"><%#= image_tag "merchant/BotMenu-1.svg" %></div>-->
            <!--            </a>-->
            <!--          </li>-->
          <% elsif (current_user.SUBMERCHANT?) && (@user_permission.try(:regular?)) %>
            <li class="m-menu__item single--li">
              <a href="/v2/merchant/sales" class="m-menu__link ">
                <i class="m-menu__link-icon">
                  <% img_inv = ["/sales"].any? {|h| request.path.include?(h)} ? "y" : "b" %>
                  <%= image_tag "v2/merchant/icons/virtualTerminal-#{img_inv}.svg", class: "sidebar-icons n-expand" %>
                  <%= image_tag "v2/merchant/icons/virtualTerminal-#{img_inv}-e.svg", class: "sidebar-icons expand" %>
                </i>
                <span class="m-menu__link-title">
                  <span class="m-menu__link-wrap">
                    <span class="m-menu__link-text">
                      Virtual Terminal
                    </span>
                  </span>
                </span>
              </a>
            </li>
            <!--<li class="m-menu__item single&#45;&#45;li">-->
            <!--<a href="/v2/merchant/hold_money" class="m-menu__link ">-->
            <!--<i class="m-menu__link-icon">-->
            <!--<%# img_fund = request.path.include?("/hold_money") ? "y" : "b" %>-->
            <!--<%#= image_tag "v2/merchant/icons/Funding-Schedule-#{img_fund}.svg", class:"sidebar-icons n-expand"%>-->
            <!--<%#= image_tag "v2/merchant/icons/Funding-Schedule-#{img_fund}-e.svg", class:"sidebar-icons expand"%>-->
            <!--</i>-->
            <!--<span class="m-menu__link-title">-->
            <!--<span class="m-menu__link-wrap">-->
            <!--<span class="m-menu__link-text">-->
            <!--Funding Schedule-->
            <!--</span>-->
            <!--</span>-->
            <!--</span>-->
            <!--</a>-->
            <!--</li>-->
          <% end %>

          <% if ((current_user.SUBMERCHANT?)) && (@user_permission.try(:custom?)) %>

            <% if (@user_permission.try(:view_accounts)) || (@user_permission.try(:account_transfer)) || (@user_permission.try(:tip_transfer)) || (@user_permission.try(:export_daily_batch)) || (@user_permission.try(:refund)) %>
              <li class="m-menu__item single--li">
                <a href="/v2/merchant/accounts" class="m-menu__link">
                  <i class="m-menu__link-icon">
                    <% img_ac = request.path.include?("/accounts") ? "y" : "b" %>
                    <%= image_tag "v2/merchant/icons/Accounts-#{img_ac}.svg", class:"sidebar-icons n-expand"%><!-- b for grey and y for  -->
                    <%= image_tag "v2/merchant/icons/Accounts-#{img_ac}-e.svg", class:"sidebar-icons expand"%>
                  </i>
                  <span class="m-menu__link-title">
                    <span class="m-menu__link-wrap">
                      <span class="m-menu__link-text">
                        Accounts
                      </span>
                    </span>
                  </span>
                </a>
              </li>
            <% end %>

            <% if @user_permission.try(:virtual_terminal) %>
              <li class="m-menu__item single--li">
                <a href="/v2/merchant/sales" class="m-menu__link ">
                  <i class="m-menu__link-icon">
                    <% img_inv = ["/sales"].any? {|h| request.path.include?(h)} ? "y" : "b" %>
                    <%= image_tag "v2/merchant/icons/virtualTerminal-#{img_inv}.svg", class: "sidebar-icons n-expand" %>
                    <%= image_tag "v2/merchant/icons/virtualTerminal-#{img_inv}-e.svg", class: "sidebar-icons expand" %>
                  </i>
                  <span class="m-menu__link-title">
                  <span class="m-menu__link-wrap">
                    <span class="m-menu__link-text">
                      Virtual Terminal
                    </span>
                  </span>
                </span>
                </a>
              </li>
            <% end %>


            <% @check = @user_permission.try(:e_checks) || @user_permission.try(:check_view_only) || @user_permission.try(:check_add) || @user_permission.try(:check_void) %>
            <% @ach = @user_permission.try(:achs) || @user_permission.try(:ach_view_only) || @user_permission.try(:ach_add)|| @user_permission.try(:ach_void) %>
            <% @p2c = @user_permission.try(:push_to_cards) || @user_permission.try(:push_to_card_view_only) || @user_permission.try(:push_to_card_add)|| @user_permission.try(:push_to_card_void) %>
            <% @giftcard = @user_permission.try(:giftcards) || @user_permission.try(:gift_card_view_only) || @user_permission.try(:gift_card_add) || @user_permission.try(:gift_card_void) %>
            <% if (ach.present? && ach.boolValue == false) && (p2c.present? && p2c.boolValue == false) && (check.present? && check.boolValue == false) && (giftcard.present? && giftcard.boolValue == false)  %>
            <% else %>
              <% if @check || @p2c ||  @ach || @giftcard  %>

                <li class="m-menu__item m-menu__item--submenu <%= ["/instant_ach", "/push_to_card","/checks","/bulkcheck", "/giftcards"].any? {|h| request.path.include?(h) } ? "m-menu__item--active m-menu__item--open" : "" %>">
                  <a href="javascript:;" class="m-menu__link m-menu__toggle">
                    <i class="m-menu__link-icon">
                      <% img_wi = ["/instant_ach", "/push_to_card","/checks","/bulk_checks", "/giftcards"].any? {|h| request.path.include?(h) } ? "y" : "b" %>
                      <%= image_tag "v2/merchant/icons/Withdraw-#{img_wi}.svg", class:"sidebar-icons n-expand"%>
                      <%= image_tag "v2/merchant/icons/Withdraw-#{img_wi}-e.svg", class:"sidebar-icons expand"%>
                    </i>
                    <span class="m-menu__link-text m-menu__link-title">
										Withdraw
									</span>
                    <i class="m-menu__ver-arrow la la-angle-right"></i>
                  </a>
                  <% if ["/instant_ach", "/push_to_card","/checks","/bulk_checks", "/giftcards"].any? {|h| request.path.include?(h) } %>
                    <div class="active-line"></div>
                  <% end %>
                  <div class="m-menu__submenu " m-hidden-height="160">
                    <span class="m-menu__arrow"></span>
                    <ul class="m-menu__subnav">
                      <% if  @ach && (ach.present? && ach.boolValue == true) %>
                        <li class="m-menu__item <%= request.path.include?("/instant_ach") ? "m-menu__item--active" : "" %>"  aria-haspopup="true">
                          <a href="<%= v2_merchant_instant_ach_index_path %>" class="m-menu__link">
                            <i class="m-menu__link-bullet m-menu__link-bullet--dot">
                              <span></span>
                            </i>
                            <span class="m-menu__link-text">
													ACH
												</span>
                          </a>
                        </li>
                      <%end %>
                      <% if @p2c && (p2c.present? && p2c.boolValue == true)  %>
                        <li class="m-menu__item <%= request.path.include?("/v2/merchant/push_to_card") ? "m-menu__item--active" : "" %>" >
                          <a href="<%= v2_merchant_push_to_card_index_path  %>" class="m-menu__link ">
                            <i class="m-menu__link-bullet m-menu__link-bullet--dot">
                              <span></span>
                            </i>
                            <span class="m-menu__link-text">
													P2C
												</span>
                          </a>
                        </li>
                      <% end %>
                      <% if @check && check.try(:boolValue) %>
                        <li class="m-menu__item <%= request.path.include?("/v2/merchant/checks") || request.path.include?("/v2/merchant/bulk_checks") ? "m-menu__item--active" : "" %>" aria-haspopup="true">
                          <a href="<%= v2_merchant_checks_path %>" class="m-menu__link ">
                            <i class="m-menu__link-bullet m-menu__link-bullet--dot">
                              <span></span>
                            </i>
                            <span class="m-menu__link-text">
													E-Checks
												</span>
                          </a>
                        </li>
                      <% end %>
                      <% if @giftcard &&  (giftcard.present? && giftcard.boolValue == true)  %>
                        <li class="m-menu__item <%= request.path.include?("/giftcards") ? "m-menu__item--active" : "" %>" aria-haspopup="true">
                          <a href="<%= v2_merchant_giftcards_path %>" class="m-menu__link ">
                            <i class="m-menu__link-bullet m-menu__link-bullet--dot">
                              <span></span>
                            </i>
                            <span class="m-menu__link-text">
													Gift Card
												</span>
                          </a>
                        </li>
                      <% end %>
                    </ul>
                  </div>
                </li>
              <% end %>
            <% end %>


            <% if  @user_permission.try(:funding_schedule) %>
                <li class="m-menu__item single--li">
                  <a href="/v2/merchant/hold_money" class="m-menu__link ">
                    <i class="m-menu__link-icon">
                      <% img_fund = request.path.include?("/hold_money") ? "y" : "b" %>
                      <%= image_tag "v2/merchant/icons/Funding-Schedule-#{img_fund}.svg", class:"sidebar-icons n-expand"%>
                      <%= image_tag "v2/merchant/icons/Funding-Schedule-#{img_fund}-e.svg", class:"sidebar-icons expand"%>
                    </i>
                    <span class="m-menu__link-title">
                  <span class="m-menu__link-wrap">
                      <span class="m-menu__link-text">
                         Funding Schedule
                      </span>
                  </span>
              </span>
                  </a>
                </li>
              <% end %>

              <% if  @user_permission.try(:chargebacks) || @user_permission.try(:view_chargeback_cases) || @user_permission.try(:fight_chargeback) || @user_permission.try(:accept_chargeback ) %>
                <li class="m-menu__item single--li">
                  <a href="/v2/merchant/chargebacks" class="m-menu__link ">
                    <i class="m-menu__link-icon">
                      <% img_cb = request.path.include?("/chargebacks") ? "y" : "b" %>
                      <%= image_tag "v2/merchant/icons/Chargebacks-#{img_cb}.svg", class:"sidebar-icons n-expand"%>
                      <%= image_tag "v2/merchant/icons/Chargebacks-#{img_cb}-e.svg", class:"sidebar-icons expand"%>
                    </i>
                    <span class="m-menu__link-title">
                  <span class="m-menu__link-wrap">
                      <span class="m-menu__link-text">
                          Chargebacks
                      </span>
                  </span>
              </span>
                  </a>
                </li>
              <% end %>

              <% if  @user_permission.try(:customer_list) %>
                <li class="m-menu__item single--li">
                  <a href="/v2/merchant/invoices/clients" class="m-menu__link ">
                    <i class="m-menu__link-icon">
                      <% img_inv = ["/clients"].any? {|h| request.path.include?(h) } ? "y" : "b" %>
                      <%= image_tag "v2/merchant/icons/customers-#{img_inv}.svg", class: "sidebar-icons n-expand" %>
                      <%= image_tag "v2/merchant/icons/customers-#{img_inv}-e.svg", class: "sidebar-icons expand" %>
                    </i>
                    <span class="m-menu__link-title">
                    <span class="m-menu__link-wrap">
                      <span class="m-menu__link-text">
                        Customer List
                      </span>
                    </span>
                  </span>
                  </a>
                </li>
              <% end %>

              <% if  @user_permission.try(:invoices) || @user_permission.try(:view_invoice) || @user_permission.try(:create_invoice) || @user_permission.try(:cancel_invoice) %>
                <li class="m-menu__item single--li">
                  <a href="/v2/merchant/invoices/payee" class="m-menu__link ">
                    <i class="m-menu__link-icon">
                      <% img_inv = ["/payee", "/recurring_billing"].any? {|h| request.path.include?(h) } ? "y" : "b" %>
                      <%= image_tag "v2/merchant/icons/Invoice-#{img_inv}.svg", class:"sidebar-icons n-expand"%>
                      <%= image_tag "v2/merchant/icons/Invoice-#{img_inv}-e.svg", class:"sidebar-icons expand"%>
                    </i>
                    <span class="m-menu__link-title">
                    <span class="m-menu__link-wrap">
                      <span class="m-menu__link-text">
                        Invoices
                      </span>
                    </span>
                  </span>
                  </a>
                </li>
              <% end %>

              <% if @user_permission.try(:user_add) || @user_permission.try(:user_edit) || @user_permission.try(:user_view_only) || @user_permission.try(:permission_view_only) || @user_permission.try(:permission_edit) || @user_permission.try(:permission_add) || @user_permission.try(:api_key) || @user_permission.try(:plugin) || @user_permission.try(:fee_structure) %>
                <li class="m-menu__item m-menu__item--submenu  <%= ["/plugins","/settings","/apps","/employee_listing", "/permission", "/location_fees"].any? {|h| request.path.include?(h) } ? "m-menu__item--active m-menu__item--open" : "" %>">
                  <a href="javascript:;" class="m-menu__link m-menu__toggle">
                    <i class="m-menu__link-icon">
                      <% img_bus = ["/plugins","/settings","/employee_listing", "/apps", "/permission", "/location_fees"].any? {|h| request.path.include?(h) } ? "y" : "b" %>
                      <%= image_tag "v2/merchant/icons/Business-Settings-#{img_bus}.svg", class:"sidebar-icons n-expand"%>
                      <%= image_tag "v2/merchant/icons/Business-Settings-#{img_bus}-e.svg", class:"sidebar-icons expand"%>
                    </i>
                    <span class="m-menu__link-text m-menu__link-title">
										Business Settings
									</span>
                    <i class="m-menu__ver-arrow la la-angle-right"></i>
                  </a>
                  <% if ["/plugins","/apps","/settings","/employee_listing","/business_settings", "/permission","/location_fees"].any? {|h| request.path.include?(h) } %>
                    <div class="active-line"></div>
                  <% end %>
                  <div class="m-menu__submenu " m-hidden-height="160">
                    <span class="m-menu__arrow"></span>
                    <ul class="m-menu__subnav">
                      <% if @user_permission.try(:user_add) || @user_permission.try(:user_edit) || @user_permission.try(:user_view_only) %>
                        <li class="m-menu__item <%= request.path == "/v2/merchant/settings" ? "m-menu__item--active" : "" %>" aria-haspopup="true">
                          <a href="/v2/merchant/settings" class="m-menu__link ">
                            <i class="m-menu__link-bullet m-menu__link-bullet--dot">
                              <span></span>
                            </i>
                            <span class="m-menu__link-text">
													Employee List
												</span>
                          </a>
                        </li>
                      <% end %>
                      <% if @user_permission.try(:permission_view_only) || @user_permission.try(:permission_edit) || @user_permission.try(:permission_add) %>
                        <li class="m-menu__item <%= request.path.include?("/permission") ? "m-menu__item--active" : "" %>" aria-haspopup="true">
                          <a href="<%= v2_merchant_permission_index_path %>"  class="m-menu__link ">
                            <i class="m-menu__link-bullet m-menu__link-bullet--dot">
                              <span></span>
                            </i>
                            <span class="m-menu__link-text">
													Permission List
												</span>
                          </a>
                        </li>
                      <% end %>
                      <% if @user_permission.try(:api_key) %>
                        <li class="m-menu__item <%= request.path == "/v2/merchant/apps" ? "m-menu__item--active" : "" %>" aria-haspopup="true">
                          <a href="<%= v2_merchant_apps_path %>" class="m-menu__link ">
                            <i class="m-menu__link-bullet m-menu__link-bullet--dot">
                              <span></span>
                            </i>
                            <span class="m-menu__link-text">
                          API Keys
                        </span>
                          </a>
                        </li>
                      <% end %>

                      <% if @user_permission.try(:plugin) %>
                        <li class="m-menu__item <%= request.path == "/v2/merchant/plugins" ? "m-menu__item--active" : "" %>" aria-haspopup="true">
                          <a href="<%= v2_merchant_plugins_path %>" class="m-menu__link ">
                            <i class="m-menu__link-bullet m-menu__link-bullet--dot">
                              <span></span>
                            </i>
                            <span class="m-menu__link-text">
													Plugins
												</span>
                          </a>
                      <% end %>

                      <% if @user_permission.try(:fee_structure) %>
                        <li class="m-menu__item <%= request.path == "/v2/merchant/location_fees" ? "m-menu__item--active" : "" %>" aria-haspopup="true">
                          <a href="/v2/merchant/location_fees" class="m-menu__link ">
                            <i class="m-menu__link-bullet m-menu__link-bullet--dot">
                              <span></span>
                            </i>
                            <span class="m-menu__link-text">
													Fee Structure
												</span>
                          </a>
                        </li>
                      <% end %>

                    </ul>
                  </div>
                </li>
              <% end %>

              <% if @user_permission.try(:help) %>
                <li class="m-menu__item single--li margin--bottom" >
                  <a href="/v2/merchant/accounts/get_help" class="m-menu__link ">
                    <i class="m-menu__link-icon">
                      <% img_get = request.path.include?("/get_help") ? "y" : "b" %>
                      <%= image_tag "v2/merchant/icons/GetHelp-#{img_get}.svg", class:"sidebar-icons n-expand"%>
                      <%= image_tag "v2/merchant/icons/GetHelp-#{img_get}-e.svg", class:"sidebar-icons expand"%>
                    </i>
                    <span class="m-menu__link-title">
                    <span class="m-menu__link-wrap">
                      <span class="m-menu__link-text">
                        Get Help
                      </span>
                    </span>
                  </span>
                  </a>
                </li>
              <% end %>
              <% elsif !current_user.SUBMERCHANT? %>
              <!--          <li class="m-menu__item p-0" aria-haspopup="true">-->

              <!--          </li>-->
              <!--          start accounts tab -->
              <li class="m-menu__item single--li">
                <a href="/v2/merchant/accounts" class="m-menu__link">
                  <i class="m-menu__link-icon">
                    <% img_ac = request.path.include?("/accounts") ? "y" : "b" %>
                    <%= image_tag "v2/merchant/icons/Accounts-#{img_ac}.svg", class:"sidebar-icons n-expand"%><!-- b for grey and y for  -->
                    <%= image_tag "v2/merchant/icons/Accounts-#{img_ac}-e.svg", class:"sidebar-icons expand"%>
                  </i>
                  <span class="m-menu__link-title">
                  <span class="m-menu__link-wrap">
                      <span class="m-menu__link-text">
                          Accounts
                      </span>
                  </span>
              </span>
                </a>
              </li>
              <!--          end accounts tab -->
              <!--          start withdraws tab -->
              <% if (ach.present? && ach.boolValue == false) && (p2c.present? && p2c.boolValue == false) && (check.present? && check.boolValue == false) && (giftcard.present? && giftcard.boolValue == false)  %>
              <% else %>

                <li class="m-menu__item m-menu__item--submenu <%= ["/instant_ach", "/push_to_card","/checks","/bulkcheck", "/giftcards"].any? {|h| request.path.include?(h) } ? "m-menu__item--active m-menu__item--open" : "" %>">
                  <a href="javascript:;" class="m-menu__link m-menu__toggle">
                    <i class="m-menu__link-icon">
                      <% img_wi = ["/instant_ach", "/push_to_card","/checks","/bulk_checks", "/giftcards"].any? {|h| request.path.include?(h) } ? "y" : "b" %>
                      <%= image_tag "v2/merchant/icons/Withdraw-#{img_wi}.svg", class:"sidebar-icons n-expand"%>
                      <%= image_tag "v2/merchant/icons/Withdraw-#{img_wi}-e.svg", class:"sidebar-icons expand"%>
                    </i>
                    <span class="m-menu__link-text m-menu__link-title">
										Withdraw
									</span>
                    <i class="m-menu__ver-arrow la la-angle-right"></i>
                  </a>
                  <% if ["/instant_ach", "/push_to_card","/checks","/bulk_checks", "/giftcards"].any? {|h| request.path.include?(h) } %>
                    <div class="active-line"></div>
                  <% end %>
                  <div class="m-menu__submenu " m-hidden-height="160">
                    <span class="m-menu__arrow"></span>
                    <ul class="m-menu__subnav">
                      <% if (ach.present? && ach.boolValue == true)  %>
                        <li class="m-menu__item <%= request.path.include?("/instant_ach") ? "m-menu__item--active" : "" %>"  aria-haspopup="true">
                          <a href="<%= v2_merchant_instant_ach_index_path %>" class="m-menu__link">
                            <i class="m-menu__link-bullet m-menu__link-bullet--dot">
                              <span></span>
                            </i>
                            <span class="m-menu__link-text">
													ACH
												</span>
                          </a>
                        </li>
                      <% end %>
                      <% if (p2c.present? && p2c.boolValue == true)  %>
                        <li class="m-menu__item <%= request.path.include?("/v2/merchant/push_to_card") ? "m-menu__item--active" : "" %>" >
                          <a href="<%= v2_merchant_push_to_card_index_path  %>" class="m-menu__link ">
                            <i class="m-menu__link-bullet m-menu__link-bullet--dot">
                              <span></span>
                            </i>
                            <span class="m-menu__link-text">
													P2C
												</span>
                          </a>
                        </li>
                      <% end %>
                      <% if check.try(:boolValue) %>
                        <li class="m-menu__item <%= request.path.include?("/v2/merchant/checks") || request.path.include?("/v2/merchant/bulk_checks") ? "m-menu__item--active" : "" %>" aria-haspopup="true">
                          <a href="<%= v2_merchant_checks_path %>" class="m-menu__link ">
                            <i class="m-menu__link-bullet m-menu__link-bullet--dot">
                              <span></span>
                            </i>
                            <span class="m-menu__link-text">
													E-Checks
												</span>
                          </a>
                        </li>
                      <% end %>
                      <% if (giftcard.present? && giftcard.boolValue == true)  %>

                        <li class="m-menu__item <%= request.path.include?("/giftcards") ? "m-menu__item--active" : "" %>" aria-haspopup="true">
                          <a href="<%= v2_merchant_giftcards_path %>" class="m-menu__link ">
                            <i class="m-menu__link-bullet m-menu__link-bullet--dot">
                              <span></span>
                            </i>
                            <span class="m-menu__link-text">
													Gift Card
												</span>
                          </a>
                        </li>
                      <% end %>

                    </ul>
                  </div>
                </li>
                <!--         end withdraws tab -->
              <% end %>
              <!--          start chargebacks tab -->
              <li class="m-menu__item single--li">
                <a href="/v2/merchant/chargebacks" class="m-menu__link ">
                  <i class="m-menu__link-icon">
                    <% img_cb = request.path.include?("/chargebacks") ? "y" : "b" %>
                    <%= image_tag "v2/merchant/icons/Chargebacks-#{img_cb}.svg", class:"sidebar-icons n-expand"%>
                    <%= image_tag "v2/merchant/icons/Chargebacks-#{img_cb}-e.svg", class:"sidebar-icons expand"%>
                  </i>
                  <span class="m-menu__link-title">
                  <span class="m-menu__link-wrap">
                      <span class="m-menu__link-text">
                          Chargebacks
                      </span>
                  </span>
              </span>
                </a>
              </li>
              <!--          end chargebacks tab -->
              <!--          start invoices tab -->
              <li class="m-menu__item single--li">
                <a href="/v2/merchant/invoices/payee" class="m-menu__link ">
                  <i class="m-menu__link-icon">
                    <% img_inv = ["/payee", "/recurring_billing"].any? {|h| request.path.include?(h) } ? "y" : "b" %>
                    <%= image_tag "v2/merchant/icons/Invoice-#{img_inv}.svg", class:"sidebar-icons n-expand"%>
                    <%= image_tag "v2/merchant/icons/Invoice-#{img_inv}-e.svg", class:"sidebar-icons expand"%>
                  </i>
                  <span class="m-menu__link-title">
                  <span class="m-menu__link-wrap">
                      <span class="m-menu__link-text">
                          Invoices
                      </span>
                  </span>
              </span>
                </a>
              </li>

              <li class="m-menu__item single--li">
                <a href="/v2/merchant/sales" class="m-menu__link ">
                  <i class="m-menu__link-icon">
                    <% img_inv = ["/sales"].any? {|h| request.path.include?(h)} ? "y" : "b" %>
                    <%= image_tag "v2/merchant/icons/virtualTerminal-#{img_inv}.svg", class: "sidebar-icons n-expand" %>
                    <%= image_tag "v2/merchant/icons/virtualTerminal-#{img_inv}-e.svg", class: "sidebar-icons expand" %>
                  </i>
                  <span class="m-menu__link-title">
                  <span class="m-menu__link-wrap">
                    <span class="m-menu__link-text">
                      Virtual Terminal
                    </span>
                  </span>
                </span>
                </a>
              </li>

              <li class="m-menu__item single--li">
                <a href="/v2/merchant/invoices/clients" class="m-menu__link ">
                  <i class="m-menu__link-icon">
                    <% img_inv = ["/clients"].any? {|h| request.path.include?(h) } ? "y" : "b" %>
                    <%= image_tag "v2/merchant/icons/customers-#{img_inv}.svg", class: "sidebar-icons n-expand" %>
                    <%= image_tag "v2/merchant/icons/customers-#{img_inv}-e.svg", class: "sidebar-icons expand" %>
                  </i>
                  <span class="m-menu__link-title">
                            <span class="m-menu__link-wrap">
                                <span class="m-menu__link-text">
                                    Customer List
                                </span>
                            </span>
                        </span>
                </a>
              </li>

              <!--          end invoices tab -->
              <!--          start funding schedule tab -->
              <li class="m-menu__item single--li">
                <a href="/v2/merchant/hold_money" class="m-menu__link ">
                  <i class="m-menu__link-icon">
                    <% img_fund = request.path.include?("/hold_money") ? "y" : "b" %>
                    <%= image_tag "v2/merchant/icons/Funding-Schedule-#{img_fund}.svg", class:"sidebar-icons n-expand"%>
                    <%= image_tag "v2/merchant/icons/Funding-Schedule-#{img_fund}-e.svg", class:"sidebar-icons expand"%>
                  </i>
                  <span class="m-menu__link-title">
                  <span class="m-menu__link-wrap">
                      <span class="m-menu__link-text">
                         Funding Schedule
                      </span>
                  </span>
              </span>
                </a>
              </li>
              <!--          end funding schedule tab -->
              <!--          start exports tab -->
              <li class="m-menu__item single--li">
                <a href="/v2/merchant/exports" class="m-menu__link ">
                  <i class="m-menu__link-icon">
                    <% img_exp = request.path.include?("/exports") ? "y" : "b" %>
                    <%= image_tag "v2/merchant/icons/Exports-#{img_exp}.svg", class:"sidebar-icons n-expand"%>
                    <%= image_tag "v2/merchant/icons/Exports-#{img_exp}-e.svg", class:"sidebar-icons expand"%>
                  </i>
                  <span class="m-menu__link-title">
                  <span class="m-menu__link-wrap">
                      <span class="m-menu__link-text">
                         Exports
                      </span>
                  </span>
              </span>
                </a>
              </li>
              <!--          end exports tab -->
              <!--          start business setting tab -->
              <li class="m-menu__item m-menu__item--submenu  <%= ["/plugins","/apps","/settings","/employee_listing", "/permission", "/location_fees"].any? {|h| request.path.include?(h) } ? "m-menu__item--active m-menu__item--open" : "" %>">
                <a href="javascript:;" class="m-menu__link m-menu__toggle">
                  <i class="m-menu__link-icon">
                    <% img_bus = ["/plugins","/settings","/employee_listing", "/permission", "/apps", "/location_fees"].any? {|h| request.path.include?(h) } ? "y" : "b" %>
                    <%= image_tag "v2/merchant/icons/Business-Settings-#{img_bus}.svg", class:"sidebar-icons n-expand"%>
                    <%= image_tag "v2/merchant/icons/Business-Settings-#{img_bus}-e.svg", class:"sidebar-icons expand"%>
                  </i>
                  <span class="m-menu__link-text m-menu__link-title">
										Business Settings
									</span>
                  <i class="m-menu__ver-arrow la la-angle-right"></i>
                </a>
                <% if ["/plugins","/apps","/employee_listing","/settings", "/permission","/location_fees"].any? {|h| request.path.include?(h) } %>
                  <div class="active-line"></div>
                <% end %>
                <div class="m-menu__submenu " m-hidden-height="160">
                  <span class="m-menu__arrow"></span>
                  <ul class="m-menu__subnav">
                    <li class="m-menu__item <%= request.path == "/v2/merchant/settings" ? "m-menu__item--active" : "" %>" aria-haspopup="true">
                      <a href="/v2/merchant/settings" class="m-menu__link ">
                        <i class="m-menu__link-bullet m-menu__link-bullet--dot">
                          <span></span>
                        </i>
                        <span class="m-menu__link-text">
													Employee List
												</span>
                      </a>
                    </li>
                    <li class="m-menu__item <%= request.path.include?("/permission") ? "m-menu__item--active" : "" %>" aria-haspopup="true">
                      <a href="<%= v2_merchant_permission_index_path %>"  class="m-menu__link ">
                        <i class="m-menu__link-bullet m-menu__link-bullet--dot">
                          <span></span>
                        </i>
                        <span class="m-menu__link-text">
													Permission List
												</span>
                      </a>
                    </li>
                    <li class="m-menu__item <%= request.path == "/v2/merchant/apps" ? "m-menu__item--active" : "" %>" aria-haspopup="true">
                      <a href="<%= v2_merchant_apps_path %>" class="m-menu__link ">
                        <i class="m-menu__link-bullet m-menu__link-bullet--dot">
                          <span></span>
                        </i>
                        <span class="m-menu__link-text">
                          API Keys
                        </span>
                      </a>
                    </li>
                    <li class="m-menu__item <%= request.path == "/v2/merchant/plugins" ? "m-menu__item--active" : "" %>" aria-haspopup="true">
                      <a href="<%= v2_merchant_plugins_path %>" class="m-menu__link ">
                        <i class="m-menu__link-bullet m-menu__link-bullet--dot">
                          <span></span>
                        </i>
                        <span class="m-menu__link-text">
													Plugins
												</span>
                      </a>
                    </li>
                    <li class="m-menu__item <%= request.path == "/v2/merchant/location_fees" ? "m-menu__item--active" : "" %>" aria-haspopup="true">
                      <a href="/v2/merchant/location_fees" class="m-menu__link ">
                        <i class="m-menu__link-bullet m-menu__link-bullet--dot">
                          <span></span>
                        </i>
                        <span class="m-menu__link-text">
													Fee Structure
												</span>
                      </a>
                    </li>
                  </ul>
                </div>
              </li>
              <li class="m-menu__item single--li margin--bottom" >
                <a href="/v2/merchant/accounts/get_help" class="m-menu__link ">
                  <i class="m-menu__link-icon">
                    <% img_get = request.path.include?("/get_help") ? "y" : "b" %>
                    <%= image_tag "v2/merchant/icons/GetHelp-#{img_get}.svg", class:"sidebar-icons n-expand"%>
                    <%= image_tag "v2/merchant/icons/GetHelp-#{img_get}-e.svg", class:"sidebar-icons expand"%>
                  </i>
                  <span class="m-menu__link-title">
                  <span class="m-menu__link-wrap">
                      <span class="m-menu__link-text">
                         Get Help
                      </span>
                  </span>
              </span>
                </a>
              </li>
              <!--          <li class="m-menu__item last--li p-0" id="last--li" aria-haspopup="true">-->
              <!--            <a href="javascript:;" class="m-menu__link p-0">-->
              <!--              <div class="BotMenu" id="BotMenu1"><%#= image_tag "merchant/BotMenu.svg" %></div>-->
              <!--              <div class="BotMenu" id="BotMenu2"><%#= image_tag "merchant/BotMenu-1.svg" %></div>-->
              <!--            </a>-->
              <!--          </li>-->

            <% end %>
            </ul>
            <div class="last--li" id="last--li">
              <a href="javascript:;" class="m-menu__link p-0">
                <div class="BotMenu" id="BotMenu1"><%= image_tag "v2/merchant/BotMenu.svg", class:"img_position_arrange" %></div>
                <div class="BotMenu" id="BotMenu2"><%= image_tag "v2/merchant/BotMenu-1.svg" %></div>
              </a>
            </div>
            </div>
            </div>
            </div>
            <!-- END: Aside Menu -->


            </div>
            <!-- END: Left Aside -->