<div class="m-subheader">
  <div class="d-flex align-items-center">
    <div class="mr-auto">
      <ul class="m-subheader__breadcrumbs m-nav m-nav--inline set-path">
        <li class="m-nav__item">
          <a href="#" class="m-nav__link">
            <span class="my-order-nav">
                <%= main_head %>
            </span>
          </a>
        </li>
        <li class="m-nav__separator">
          <%= image_tag "v2/merchant/icons/angle.svg"%>
        </li>
        <li class="m-nav__item">
          <a href="#" class="m-nav__link">
              <span class="my-order-nav order-active">
                 <%= sub_head %>
              </span>
          </a>
        </li>
        <% if sub_head1.present? %>
            <li class="m-nav__separator ">
              <%= image_tag "v2/merchant/icons/angle.svg"%>
            </li>
            <li class="m-nav__item">
              <a href="#" class="m-nav__link">
              <span class="order-active">
                  <%= sub_head1 %>
              </span>
              </a>
            </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>