<div class="term_service_text">
	    <div class="row">
	        <div class="col-lg-10 col-md-10 col-sm-10 close_tos">
	            <a  class="pull-right pt-3 close_terms_services">
	                <%= image_tag "v2/merchant/close-btn.svg" %>
	            </a>
	        </div>
	    </div>
	    <div class="row">
	        <div class="col-lg-8 col-md-8 col-sm-8">
	            <p class="term_service_heading">
	                Terms of Service
	            </p>
	            <p class="term_service_body">
	                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum consectetur odio scelerisque, pretium libero in, tincidunt ex. Sed gravida pulvinar sodales. Donec sed risus condimentum, porta ipsum sit amet, volutpat nunc. Cras non lacus consequat, scelerisque nunc sed, congue nunc. Donec et commodo leo, eget condimentum est. Quisque augue leo, placerat in lacus vitae, pulvinar ultrices mi. Nulla ultricies orci eu tellus vehicula cursus. Pellentesque rutrum nibh id placerat venenatis. Curabitur nec iaculis massa, volutpat porta eros. Nulla congue fringilla risus, at ullamcorper eros commodo non. Proin ut iaculis mauris, ac accumsan velit. Fusce tempus posuere porttitor.
	                <br>
	                <br>
	                Nunc vel condimentum est. Vestibulum bibendum cursus laoreet. Vestibulum a risus et quam euismod maximus. Interdum et malesuada fames ac ante ipsum primis in faucibus. Fusce pharetra mauris mauris, sit amet eleifend arcu blandit ut. Duis accumsan gravida elit, id accumsan dui posuere vitae. Suspendisse luctus, massa vitae dignissim viverra, augue sem pretium ligula, sed lobortis libero urna eget ligula. Integer varius mauris id iaculis scelerisque. Nullam pellentesque eu tortor a suscipit. Sed scelerisque iaculis odio, in cursus purus mollis eu. Suspendisse potenti. Morbi libero sem, vulputate vel gravida non, pulvinar dictum elit. Proin dapibus tellus a mi consectetur facilisis. Donec congue lacinia feugiat. Donec ullamcorper vestibulum leo, quis viverra nulla malesuada sed. Quisque nec maximus est.
	                <br>
	                <br>
	                Aenean nec ante condimentum, finibus arcu eu, aliquet erat. Praesent ultricies tristique erat, quis condimentum lectus efficitur eu. Nam cursus risus cursus nibh condimentum tempus. Proin volutpat fermentum eros, a vulputate enim pretium non. Maecenas non dignissim ante. Integer at pharetra neque, id tincidunt felis. Nunc nec mi aliquam, varius felis vestibulum, hendrerit sapien. Donec fringilla ante a augue commodo, ut accumsan metus condimentum. Nam sodales blandit tortor, vel ultrices purus rhoncus at. Fusce vestibulum in sem vel lobortis. Vivamus eleifend dictum ipsum, eget tincidunt nulla pretium id. Fusce vulputate pulvinar leo, porttitor feugiat sem tempus at.
	                <br>
	                <br>
	                Praesent pulvinar quam nec tortor tempor, sodales suscipit ligula ornare. Curabitur suscipit nisl vel lorem accumsan tincidunt in at velit. Integer vitae orci nec augue porta vestibulum. Donec ac quam quis eros mattis luctus. Morbi ac ex velit. Aliquam erat volutpat. Ut cursus, eros et feugiat posuere, sem dui cursus risus, vitae pretium arcu enim id tortor. Nullam gravida augue ut tortor vehicula vehicula. Phasellus elementum a tortor ut porta. In dictum ullamcorper tempus.
	                <br>
	                <br>
	                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum consectetur odio scelerisque, pretium libero in, tincidunt ex. Sed gravida pulvinar sodales. Donec sed risus condimentum, porta ipsum sit amet, volutpat nunc. Cras non lacus consequat, scelerisque nunc sed, congue nunc. Donec et commodo leo, eget condimentum est. Quisque augue leo, placerat in lacus vitae, pulvinar ultrices mi. Nulla ultricies orci eu tellus vehicula cursus. Pellentesque rutrum nibh id placerat venenatis. Curabitur nec iaculis massa, volutpat porta eros. Nulla congue fringilla risus, at ullamcorper eros commodo non. Proin ut iaculis mauris, ac accumsan velit. Fusce tempus posuere porttitor.
	                <br>
	                <br>
	                Nunc vel condimentum est. Vestibulum bibendum cursus laoreet. Vestibulum a risus et quam euismod maximus. Interdum et malesuada fames ac ante ipsum primis in faucibus. Fusce pharetra mauris mauris, sit amet eleifend arcu blandit ut. Duis accumsan gravida elit, id accumsan dui posuere vitae. Suspendisse luctus, massa vitae dignissim viverra, augue sem pretium ligula, sed lobortis libero urna eget ligula. Integer varius mauris id iaculis scelerisque. Nullam pellentesque eu tortor a suscipit. Sed scelerisque iaculis odio, in cursus purus mollis eu. Suspendisse potenti. Morbi libero sem, vulputate vel gravida non, pulvinar dictum elit. Proin dapibus tellus a mi consectetur facilisis. Donec congue lacinia feugiat. Donec ullamcorper vestibulum leo, quis viverra nulla malesuada sed. Quisque nec maximus est.
	                <br>
	                <br>
	                Aenean nec ante condimentum, finibus arcu eu, aliquet erat. Praesent ultricies tristique erat, quis condimentum lectus efficitur eu. Nam cursus risus cursus nibh condimentum tempus. Proin volutpat fermentum eros, a vulputate enim pretium non. Maecenas non dignissim ante. Integer at pharetra neque, id tincidunt felis. Nunc nec mi aliquam, varius felis vestibulum, hendrerit sapien. Donec fringilla ante a augue commodo, ut accumsan metus condimentum. Nam sodales blandit tortor, vel ultrices purus rhoncus at. Fusce vestibulum in sem vel lobortis. Vivamus eleifend dictum ipsum, eget tincidunt nulla pretium id. Fusce vulputate pulvinar leo, porttitor feugiat sem tempus at.
	                <br>
	                <br>
	                Praesent pulvinar quam nec tortor tempor, sodales suscipit ligula ornare. Curabitur suscipit nisl vel lorem accumsan tincidunt in at velit. Integer vitae orci nec augue porta vestibulum. Donec ac quam quis eros mattis luctus. Morbi ac ex velit. Aliquam erat volutpat. Ut cursus, eros et feugiat posuere, sem dui cursus risus, vitae pretium arcu enim id tortor. Nullam gravida augue ut tortor vehicula vehicula. Phasellus elementum a tortor ut porta. In dictum ullamcorper tempus.
	                <br>
	                <br>
	            </p>
	        </div>
	    </div>
	</div>