<div class="row">
  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <div class="filter-form">
      <%= form_tag tip_transactions_v2_merchant_accounts_path, method: :get, autocomplete: "off" do  %>
        <input type="hidden" name="wallet_id" value="<%= params["wallet_id"] %>">
        <a href="#" id="hide">
          <%= image_tag "v2/merchant/icons/close_small.svg", class: 'pull-right' %>
        </a>
        <div class="row">
          <div class="col-md-4 col-lg-4">
            <div class="form-group m-form__group">
              <label class="transaction_type" >
                Transaction Type
              </label>
              <select name="query[type]" class="form-control m-filter-bootstrap-select m-bootstrap-select--pill  m_selectpicker reason-dd-1 "  title="Select Transaction Type">
                <option >
                  Reserve Money Return
                </option>
                <option >
                  Reserve Money Deposit
                </option>
                <option>
                  Payed Tip
                </option>
                <option>
                  Account Transfer
                </option>
                <option>
                  Sale Tip
                </option>
                <option>
                  Tip transfer
                </option>
                <option>
                  Refunded
                </option>
              </select>
            </div>
          </div>
          <div class="col-lg-4">
            <div class="form-group m-form__group">
              <label class="transaction_type" >
                Transaction ID
              </label>
              <input type="text" name="query[transaction_id]" class="form-control m-input m-input--square"  placeholder="Transaction ID" value="<%= params[:query].present? ? params[:query]["transaction_id"] : "" %>">
            </div>
          </div>
          <div class="col-lg-4">
            <div class="form-group m-form__group">
              <label class="transaction_type" >
                Transaction Amount
              </label>
              <input type="number" name="query[amount]" class="form-control m-input m-input--square"  placeholder="Transaction Amount" value="<%= params[:query].present? ? params[:query]["amount"] : "" %>">
            </div>
          </div>
<!--          <div class="col-lg-4">-->
<!--            <div class="form-group m-form__group">-->
<!--              <label class="transaction_type" >-->
<!--                Sender Name-->
<!--              </label>-->
<!--              <input type="text" name="query[name]" class="form-control m-input m-input--square"  placeholder="Name" value="<%#= params[:query].present? ? params[:query]["name"] : "" %>">-->
<!--            </div>-->
<!--          </div>-->
<!--          <div class="col-lg-4">-->
<!--            <div class="form-group m-form__group">-->
<!--              <label class="transaction_type" >-->
<!--                Sender Email-->
<!--              </label>-->
<!--              <input type="email" name="query[email]" class="form-control m-input m-input--square"  placeholder="user@email.com" value="<%#= params[:query].present? ? params[:query]["email"] : "" %>">-->
<!--            </div>-->
<!--          </div>-->
<!--          <div class="col-lg-4">-->
<!--            <div class="form-group m-form__group">-->
<!--              <label class="transaction_type" >-->
<!--                Sender Phone Number-->
<!--              </label>-->
<!--              <input type="number" name="query[phone_number]" class="form-control m-input m-input--square"  placeholder="000 0000 0000" value="<%#= params[:query].present? ? params[:query]["phone_number"] : "" %>">-->
<!--            </div>-->
<!--          </div>-->
          <div class="col-lg-4">
            <div class="form-group m-form__group">
              <label class="transaction_type" for="exampleInputEmail1">
                Date
              </label>
              <div class="m-input-icon m-input-icon--left">
                <div class="input-group" id="m_daterangepicker_2_success">
                  <input type='hidden' value="date" id="detail-value"/>
                  <input type='text' name="query[date]" class="form-control m-input" value="<%= params[:query].present? ? params[:query]["date"] : "" %>"  placeholder="MM-DD-YYYY"/>
                  <input type="hidden" id="tip_offset" name="query[offset]" value="<%=params[:query].present? && params[:query]['offset'].present? ? params[:query]['offset'] : Time.now.in_time_zone(cookies[:timezone]).strftime("%z")%>"  />
                  <div class="input-group-append">
                                <span class="input-group-text">
                                  <%= image_tag "v2/merchant/icons/down-b.svg", class:'rotate',id:'img--remove'%>
                                </span>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-4">
            <div class="row">
              <div class="col-lg-6 col-md-6">
                <div class="form-group m-form__group">
                  <label class="transaction_type" >
                    Start Time
                  </label>
                  <%= select_tag 'query[time1]', options_for_select(@time_option.map {|v| [v[:view], v[:value]]}, selected: params[:query].present? ? params[:query]["time1"] : ""), include_blank: "Start Time", class: "form-control  m-time-bootstrap-select m-bootstrap-select m-bootstrap-select--pill  m_selectpicker reason-dd-1 " %>
                </div>
              </div>

              <div class="col-lg-6 col-md-6">
                <div class="form-group m-form__group">
                  <label class="transaction_type" >
                    End Time
                  </label>
                  <%= select_tag 'query[time2]', options_for_select(@time_option.map {|v| [v[:view], v[:value]]}, selected: params[:query].present? ? params[:query]["time2"] : ""), include_blank: "End Time", class: "form-control  m-time-bootstrap-select m-bootstrap-select m-bootstrap-select--pill  m_selectpicker reason-dd-1 " %>
                </div>
              </div>
            </div>
          </div>
<!--          <div class="col-lg-4">-->
<!--            <div class="row">-->
<!--              <div class="col-lg-6 col-md-6">-->
<!--                <div class="form-group m-form__group">-->
<!--                  <label class="transaction_type" for="exampleInputEmail1">-->
<!--                    Last 4-->
<!--                  </label>-->
<!--                  <input type="number" name="query[last4]" class="form-control m-input m-input--square"  placeholder="0000" value="<%#= params[:query].present? ? params[:query]["last4"] : "" %>">-->
<!--                </div>-->
<!--              </div>-->
<!--              <div class="col-lg-6 col-md-6">-->
<!--                <div class="form-group m-form__group">-->
<!--                  <label class="transaction_type" for="exampleInputEmail1">-->
<!--                    First 6-->
<!--                  </label>-->
<!--                  <input type="number" name="query[first6]" class="form-control m-input m-input--square"  placeholder="000000" value="<%#= params[:query].present? ? params[:query]["first6"] : "" %>">-->
<!--                </div>-->
<!--              </div>-->
<!--            </div>-->
<!--          </div>-->
        </div>
        <div class="row">
          <div class="col-lg-12 col-md-12 col-sm-12">

            <button type="submit" class="btn btn-search_table_head pull-right" id="tip_search">
              <span>
                <span>
                  Search
                </span>
                <%= image_tag "v2/merchant/datatable/search_icon.svg" %>
              </span>
            </button>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
<div class="row">
  <%= render partial: "v2/merchant/shared/page_filters",locals: {filter_path: tip_transactions_v2_merchant_accounts_path } %>
  <div class="col-md-6 col-sm-12">
    <a href="#" class="btn btn-search_table_head pull-right" id="searchfilter">
      <span>
        <span>
          Search
        </span>
        <%= image_tag "v2/merchant/datatable/search_icon.svg" %>
      </span>
    </a>
  </div>
</div>
<div class="col-lg-12 col-md-12 col-sm-12 table table-striped table-responsive charge_back_table mt-4">
  <table  class="pt-0 chargeback_datatable">
<!--<table class="table table-striped- table-bordered table-hover table-checkable listing_datatable" id="m_table_1">-->
    <thead>
  <tr>
    <th class="risk_eval_heading">
      Risk Eval.
    </th>
    <th>
      Trans ID
    </th>
    <th>
      Date / Time
    </th>
    <th>
      Sender
      Name
    </th>
    <th>
      Receiver
      Name
    </th>
    <th>
      Type
    </th>
    <th>
      Descriptor
    </th>
    <th>
      Card
      Number
    </th>
    <th class="t-r">
      Total
      Amount
    </th>
    <th class="text-center">
      Status
    </th>
  </tr>
  </thead>
    <tbody class="table-striped">
    <% if @transactions.present? %>
    <% @transactions.each do |t| %>
    <% if t.main_type == "Sale Tip" %>
  <tr class="clickable_row charge_back_hover" data-path= "<%= tip_reserve_transaction_detail_v2_merchant_accounts_path(id: t.seq_parent_id,wallet: @wallet.location.business_name,path: v2_merchant_account_path(@wallet.location.wallets.primary.first.slug)) %>">
    <% else %>
  <tr>
    <% end %>
      <td>
        <a href="#" data-skin="dark" data-toggle="m-tooltip" data-placement="top" title="" data-toggle="modal" data-target="#deleteEmployeeModal" data-original-title="Approved by " class="badge cr_approved">
          CR
        </a>
      </td>
      <td>
        <%= t.sequence_id.present? ? t.sequence_id[0..5] : nil %>
      </td>
      <td class="timeUtc">
        <%= t.timestamp.present? ? t.timestamp.strftime("%m-%d-%Y %H:%M:%S") : t.created_at.strftime("%m-%d-%Y %H:%M:%S") %>

      </td>
      <td>
        <%= t.sender_name.present? ? tip_sender_name(t.sender_name) : t.sender.try(:name).present? ? tip_sender_name(t.sender.try(:name)) :  ''  %>
      </td>
      <td>
        <%= t.receiver_name.present? ? t.receiver_name : t.receiver.try(:name).present? ? t.receiver.try(:name) :  '' %>
      </td>
      <td>
        <%= show_local_type(t) %>
      </td>
      <td>
        <%= show_other_descriptor(t) %>
      </td>
      <td>
        <%= "•••• #{t.last4}" %>
      </td>
      <td class="t-r">
        <%= number_with_precision(number_to_currency(t.total_net.to_f), precision: 2) %>
      </td>
      <td class="text-center">
        <div class="badge approved_badge_reserve">
          APPROVED
        </div>
      </td>
    </tr>
  <% end %>
    <% else %>
      <tr class="bg-color-white">
        <td colspan="10">
          <div class="col-xl-12 ">
            <center  class="m-5 p-5">
              <%= image_tag "v2/merchant/datatable/no_data.svg" %>
              <p class="No-data-available mt-4 mr-4">No data available</p>
            </center>
          </div>
        </td>
      </tr>
    <% end %>

  </tbody>
</table>
</div>
<%= render partial: "v2/merchant/shared/datatable_pagination",locals: {variable: @transactions} %>
<%= javascript_include_tag 'v2/merchant/bootstrap-daterangepicker' %>