<div class="col-lg-12 col-md-12 col-sm-12 table table-responsive charge_back_table mt-4">
  <table  class="pt-0 chargeback_datatable">
<!--<table class="table table-striped- table-bordered table-hover table-checkable listing_datatable" id="m_table_1">-->
  <thead>
  <tr>
    <th>Risk Eval.</th>
    <th>Trans ID</th>
    <th>Date / Time</th>
    <th>Sender Name</th>
    <th>Receiver Name</th>
    <th>Type</th>
    <th>Descriptor</th>
    <th>Card Number</th>
    <th>Total Amount</th>
    <th class="text-center">Status</th>
  </tr>
  </thead>
  <tbody>
  <% transactions.each.with_index do |tx, index| %>
    <tr class="<%= index.odd? ? "odd" : "even" %> clickable_row charge_back_hover" data-path= "<%= transaction_detail_v2_merchant_accounts_path(id: tx.seq_transaction_id, user_type: "customer", customer_id: params[:id]) %>">
      <td>
        <a href="#" data-skin="dark" data-toggle="m-tooltip" data-placement="top" title="" data-toggle="modal" data-target="#deleteEmployeeModal" data-original-title="Approved by manual review" class="badge cr_approved">CR</a>
      </td>
      <td><%= tx.seq_transaction_id.first(6) %></td>
      <td><%= tx.created_at.in_time_zone(cookies[:timezone]).strftime("%m-%d-%Y %I:%M:%S %p") %></td>
      <td><%= tx.sender_name.present? ? tx.sender_name : tx.sender.try(:name).present? ? tx.sender.try(:name) :  '' %></td>
      <td><%= tx.receiver_name.present? ? tx.receiver_name : tx.receiver.try(:name).present? ? tx.receiver.try(:name) :  '' %></td>
      <td><%= show_local_type(tx) %></td>
      <td><%= show_other_descriptor(tx) %></td>
      <td>•••• <%= tx.last4 %></td>
      <td>$<%= number_with_precision(tx.total_amount, precision: 2) %></td>
      <td>
        <% if tx.main_type == "refund" && tx.status == "approved" %>
          <div class="badge refund_badge">
            REFUNDED <%= image_tag "v2/merchant/datatable/refund_icon.svg" %>
          </div>
        <% elsif tx.main_type == "refund" && tx.status == "complete" %>
          <div class="badge partial_refund">
            PARTIAL REFUND <%= image_tag "v2/merchant/datatable/info_icon.svg" %>
          </div>
        <% else %>
          <div class="badge approved_badge_reserve">APPROVED</div>
        <% end %>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>
</div>
<div class="col-md-12 pagination_div">
  <% @type = "transaction" %>
  <%= render partial: 'v2/merchant/shared/datatable_pagination',locals: {variable: transactions} %>
</div>