<div class="row mt-2">
  <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <div class="alert-body mb-3">
      <div class="row">
        <div class="col-lg-1 col-md-1 col-sm-1 pr-0 pl-0">
          <center>
            <%= image_tag "v2/merchant/icons/loader.svg" , class:'loader-svg' %>
          </center>
        </div>
        <div class="col-lg-11 col-md-11 col-sm-11 pl-0">
          <p class="account-information">
            Please wait, getting account information.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>