.message{
  display: block;
  color: red;
  font-weight: normal;
  text-align: center;
}
.current_password_error{
  border-color: red !important;
}
.text_center{
  text-align: center;
}
.msg_60{
  text-align: center;
  color: red;
  font-weight: bold;
}
.margin_bottom_12{
  margin-bottom: 12px;
}