

.imageupload.imageupload-disabled {
    cursor: not-allowed;
    opacity: 0.60;
}
.imageupload.imageupload-disabled > * {
    pointer-events: none;
}
.imageupload .panel-title {
    margin-right: 15px;
    padding-top: 8px;
}
.imageupload .alert {
    margin-bottom: 10px;
}
.imageupload .btn-file {
    overflow: hidden;
    position: relative;
}
.imageupload .btn-file input[type="file"] {
    cursor: inherit;
    display: block;
    font-size: 100px;
    min-height: 100%;
    min-width: 100%;
    opacity: 0;
    position: absolute;
    right: 0;
    text-align: right;
    top: 0;
}
.imageupload .file-tab button {
    display: none;
}
.imageupload .file-tab .thumbnail {
    margin-bottom: 10px;
    width: 100% !important;
}
.imageupload .url-tab {
    display: none;
}
.imageupload .url-tab .thumbnail {
    margin: 10px 0;
}

.imageupload.imageupload-disabled {
    cursor: not-allowed;
    opacity: 0.60;
}
.imageupload-2.imageupload-disabled > * {
    pointer-events: none;
}
.imageupload-2 .panel-title {
    margin-right: 15px;
    padding-top: 8px;
}
.imageupload-2 .alert {
    margin-bottom: 10px;
}
.imageupload-2 .btn-file {
    overflow: hidden;
    position: relative;
}
.imageupload-2 .btn-file input[type="file"] {
    cursor: inherit;
    display: block;
    font-size: 100px;
    min-height: 100%;
    min-width: 100%;
    opacity: 0;
    position: absolute;
    right: 0;
    text-align: right;
    top: 0;
}
.imageupload-2 .file-tab button {
    display: none;
}
.imageupload-2 .file-tab .thumbnail {
    margin-bottom: 10px;
    width: 100% !important;

}
.imageupload-2 .url-tab {
    display: none;
}
.imageupload-2 .url-tab .thumbnail {
    margin: 10px 0;
}
#main{
    margin-top: 30px;
}
.div_edit_50{
    margin:50px;
}
