
.warn,
.warn::before,
.warn::after
{
    position: relative;
    padding: 0;
    margin: 0;
}
.warn {
    font-size: 36px;
    color: transparent;
}
.warn.warning {
    display: inline-block;
    top: 0.225em;
    width: 1.15em;
    height: 1.15em;
    overflow: hidden;
    border: none;
    background-color: transparent;
    border-radius: 0.625em;
}
.warn.warning::before {
    content: "";
    display: block;
    top: -0.08em;
    left: 0.0em;
    position: absolute;
    border: transparent 0.6em solid;
    border-bottom-color: red;
    border-bottom-width: 1em;
    border-top-width: 0;
    box-shadow: #999 0 1px 1px;
}
.warn.warning::after {
    display: block;
    position: absolute;
    top: 0.1em;
    left: 0;
    width: 100%;
    padding: 0 1px;
    text-align: center;
    font-family: "Garamond";
    content: "!";
    font-size: 0.65em;
    font-weight: bold;
    color: white;
}
.user{
    height:50px;
    padding-left: 0px;
    text-align: center;
    -webkit-text-security: none;
    -webkit-text-security: circle;
    -webkit-text-security: square;
    -webkit-text-security: disc;
}
.warn_border{
    border:1px solid red;
    border-radius: 5px;
}
.td_warn_span{
    width:100px;
}
text_cent{
    text-align: center;
}
.label_msg{
    text-align: center;
    margin-bottom: 20px;
}
.div_margin_20{
    margin-top: 10px;
}
.service_msg{
    margin-bottom: 10px;
    text-align: center
}
.re_link{
    text-align: center;
    margin-top: 15px
}