<div class="box">
  <div class="box-header with-border">
    <div class="col-md-12">
      <div class="row">
        <div class="col-md-6">
          <h3 class="box-title"><%= @heading %></h3>
        </div>
      </div>
    </div>
  </div>
  <div class="box-body">
      <%= form_tag(merchant_deposites_path, method: "get") do %>
    <div class="row" id="row_2">
      <div class="col-md-offset-3 col-md-3">
        <div class="form-group">
          <label for="id">Date</label>
          <input type='text' name="query[date]"  id="date-value" class="form-control" autocomplete="off" value="<%= params[:query][:date] if params[:query].present? %>" required/>
        </div>
      </div>
      <div class="col-md-3">
      <div class="form-group">
        <label for="id">Location</label>
        <%= select_tag 'location', options_for_select(@locations.map{|v| [v.business_name,v.id]}, selected: @locations.select{|c| c.id == params[:location].to_i}.map{|v| [v.business_name,v.id]}.first), include_blank: "Select your location", class: "form-control" %>
      </div>
      </div>
      <div class="col-md-2 col-md-offset-2">
        <div class="form-group">
          <label for="id">&nbsp;</label>
          <%= submit_tag 'Search', class: 'form-control btn btn-sm btn-primary' %>
        </div>
      </div>
    </div>
        <% end %>

    <div class="row">
      <div class="col-md-12">
        <span class="show_2">Show</span>
          <span class="form_tag">
            <%= form_tag merchant_deposites_path, method: :get , id: 'hold_money_filter'  do  %>
               <%= select_tag "filter", options_for_select(@filters.map{|v|[v]}, selected: params[:filter].present? ? params[:filter] : "10"),
                :prompt => false,
                :required => true,
                class: "form-control form-control-sm form-width",
                data: {confirm: "Are you sure ?"}
               %>
            <% end %>      
          </span>
          <span class="entries_2">Entries</span>
      </div>
      <div class="col-md-12"></div>
    </div>
    
    <table id="transaction-my-gift-card" class="table table-striped">
      <thead>
      <tr class="table-header">
        <th class="heading_align">DBA Name</th>
        <th class="heading_align">Hold Days</th>
        <th class="heading_align">Batch Date</th>
        <th class="heading_align">Release Date</th>
        <th class="heading_align">Approved TXN</th>
        <th class="heading_align">Refunded TXN</th>
        <th class="heading_align">Amount</th>
        <th class="heading_align">Detail</th>
      </tr>
      </thead>
      <%if @hold_rear.count > 0 %>
        <tbody>
      <% @hold_rear.each do |hold_in_rear|%>
        <% release_date = hold_in_rear.release_date %>
        <% created_at = hold_in_rear.created_at %>
        <% wallet = hold_in_rear.location.wallets.primary.last %>
        <tr>

          <td class="heading_align"><%= hold_in_rear.location.try(:business_name) %></td>

          <% hold_days = (release_date.to_date - created_at.to_date).to_i %>

          <% hold_days = hold_days - 1 if hold_days > 1 %>
          <td class="heading_align"><%= hold_days %></td>
          <td class="heading_align"><%= created_at.strftime("%m/%d/%Y") %></td>
          <td class="heading_align"><%= release_date.strftime("%m/%d/%Y") %></td>
          <td class="heading_align">
            <%# sale_transactions = Transaction.where(created_at: HoldInRear.pst_beginning_of_day(created_at)..HoldInRear.pst_end_of_day(created_at), refund_log: nil, status: ["complete"], main_type:["sale"],action: ["transfer"],to: wallet.id).or(Transaction.where(created_at: HoldInRear.pst_beginning_of_day(created_at)..HoldInRear.pst_end_of_day(created_at), refund_log: nil, status: ["complete"], main_type:["sale"],sub_type:["credit_card","debit_charge"],to: wallet.id)).distinct %>
            <%# sale_transactions = Transaction.where(created_at: HoldInRear.pst_beginning_of_day(created_at)..HoldInRear.pst_end_of_day(created_at), status: ["complete"], main_type:["sale"],action: ["transfer"],to: wallet.id).or(Transaction.where(created_at: HoldInRear.pst_beginning_of_day(created_at)..HoldInRear.pst_end_of_day(created_at), status: ["complete"], main_type:["sale"],sub_type:["credit_card","debit_charge"],to: wallet.id)).or(Transaction.where(created_at: HoldInRear.pst_beginning_of_day(created_at)..HoldInRear.pst_end_of_day(created_at), status: ["approved"], main_type:["sale"],sub_type:["debit_charge"],to: wallet.id)).or(Transaction.where(created_at: HoldInRear.pst_beginning_of_day(created_at)..HoldInRear.pst_end_of_day(created_at), status: ["complete","approved"], main_type:["eCommerce","Virtual Terminal","Credit Card"],to: wallet.id)).distinct %>
            <% sale_transactions = Transaction.where(created_at: HoldInRear.pst_beginning_of_day(created_at)..HoldInRear.pst_end_of_day(created_at), status: ["complete","approved"], main_type:["eCommerce","Virtual Terminal","Credit Card"],to: wallet.id).distinct %>
            <%= sale_transactions.select {|st| st.refund_log == nil}.count %>
            <% partial_refunds = sale_transactions.select {|st| st.refund_log != nil}.count %>
          </td>
          <td class="heading_align">

            <% refund_transactions_count = Transaction.where(created_at: HoldInRear.pst_beginning_of_day(created_at)..HoldInRear.pst_end_of_day(created_at), status: ["refunded"], to: wallet.id).distinct.count %>
            <%= refund_transactions_count + partial_refunds %>
          </td>
          <td class="heading_align">
              <%#amount = HoldInRear.by_location_ids(hold_in_rear.location_id).release_on_date_new(release_date).pluck(:amount).sum %>
            <%= number_with_precision(number_to_currency(hold_in_rear.amount), precision: 2) %>
          </td>
          <!--"02/19/2019 - 02/20/2019"-->
          <%# daterange = "#{created_at.strftime("%m/%d/%Y")} - #{created_at.strftime("%m/%d/%Y")}" %>
          <td class="heading_align"><%= link_to "Details", merchant_released_transactions_path(hold_in_rear_id: hold_in_rear.id) %></td>
<!--          <td style="text-align:center"><%#= link_to "Detail", merchant_released_transactions_path(:query => {:date => daterange,type: ["sale"]},:wallet_id => wallet.id, :from => "hold_money", :offset => "-07:00"), method: :post %></td>-->
        </tr>
      <% end %>
      </tbody>
    </table>
    <% else %>
        <tbody>
        <tr>
          <td colspan="9" id="no_data">Data Not Found</td>
        </tr>
        </tbody>
    <% end %>
    <div class="row">
      <div class="col-md-12">
        <div id="div_20">
          <span>Showing <%=@hold_rear.try(:size)%> of <%=@hold_rear.total_count %> records</span>
          <%= paginate @hold_rear, :theme => 'twitter-bootstrap-3', :pagination_class => "pagination-small pagination-centered pull-right padd"%>
        </div>
      </div>
    </div>
  </div>
</div>
