
<input type="hidden" id="hold_money" value="<%= params[:hold_in_rear_id]  %>">
<div class="col-md-12 card">
  <h4 id="release-funds">Release Funds Transactions</h4>
  <% sequence_down = AppConfig.sequence_down.first %>
  <% if (sequence_down.present? && sequence_down.boolValue == true) || (ENV['SEQUENCE_DOWN'].present? && ENV['SEQUENCE_DOWN'] == "true") %>
    <div class="box" id="box_1" >
      <div class="box-body">
        <p id="note_3">
          Your account is currently unavailable due to issues with our Blockchain and unfortunately, we are unable to access Release Funds Transaction at this time. We are working to restore all services as quickly as possible. Thank you for your patience!
        </p>
      </div>
    </div>
  <% else %>
    <div class="row">
      <div class="col-md-12">
        <span class="show_2">Show</span>
          <span class="form_tag">
            <%= form_tag merchant_released_transactions_path, method: :get , id: 'hold_money_transaction'   do  %>
               <%= select_tag "filter", options_for_select(@filters.map{|v|[v]}, selected: params[:filter].present? ? params[:filter] : "10"),
                :prompt => false,
                :required => true,
                class: "form-control filter form-control-sm",
                data: {confirm: "Are you sure ?"}
               %>
              <input type="hidden" name="hold_in_rear_id" value="<%= params[:hold_in_rear_id]  %>">
            <% end %>      
          </span>
          <span class="entries_2">Entries</span>
      </div>
      <div class="col-md-12"></div>
    </div>
    <div id="transaction_table">
      <div class="table-responsive">
        <table id="transaction" class="table table-striped">
          <thead>
            <th>Txn ID</th>
            <th class="text-center" id="date_time">Date/Time</th>
            <th>Sender Name</th>
            <th>Receiver Name</th>
            <th>Type</th>
            <th>Status</th>
            <th>Descriptor</th>
            <th>Credit Card#</th>
            <th>Total Tx Amount</th>
          </thead>
          <tbody>
            <% if @transactions.size > 0  %>
              <% @transactions.each do |t| %>
              <%  hold_id = params[:hold_in_rear_id]  %>
                <tr id="table_row" data-url-path= "<%=  merchant_transaction_local_details_modal_path(t.id,hold_id) %>" class="detail_link show-dynamic-modal" data-modal-selector="#modal_id" data-modal-container-selector="#custom_modal" data-method = "GET">
                  <td>
                    <%#= t.id %>
                    <%= t.seq_transaction_id.present? ? t.seq_transaction_id[0..5] : nil %></td>
                  <td class="timeUtc">
                    <%= t.timestamp.present? ? t.timestamp.strftime("%Y-%m-%d %H:%M:%S %z") : t.created_at.strftime("%Y-%m-%d %H:%M:%S %z") %>
                  </td>
                  <td>
                    <% if t.from.present? && t.from=='Credit' %>
                      Credit
                    <% elsif t.from.present? && t.from=='Debit' %>
                      Debit
                    <% else %>
                      <%= t.sender.try(:name).present? ? t.sender.try(:name) : t.from.present? && t.from.gsub(/[^0-9]/, '').present?  ? Wallet.find(t.from).try(:name) : ''  %>
                    <% end %>
                  </td>
                  <!--                t.from.gsub(/[^0-9]/, '').present?-->
                  <td><%= t.tags.try(:[],"send_check_user_info").try(:[],"name").present? ? t.tags["send_check_user_info"].try(:[],"name") : t.to.present? ? Wallet.find_by(id:t.to).try(:name)  : '' %></td>
                  <td><%= show_local_type(t) %> </td>
                  <td><span class="badge badge-info" id="approved">Approved</span></td>
                  <td>
                    <%= show_descriptor(t) %>
                  </td>
                  <% if t.first6.present? || t.last4 %>
                    <td>
                      <span class="card_15">
                        <%= "****#{t.last4}" %>
                      </span>
                    </td>
                  <% elsif t.main_type=='refund' %>
                    <% card_details=Transaction.find_by(seq_transaction_id: t.tags.try(:[],'refund_details').try(:[],'parent_transaction_id')) if t.tags.try(:[],'refund_details').try(:[],'parent_transaction_id').present? %>
                    <% if card_details.present? %>
                      <td>
                        <span class="card_15">
                          <!--                  <%#= card_details[:tags].try(:[],'previous_issue').try(:[],'tags').try(:[],'card').try(:[],'first6') %>******-->
                          ****<%=card_details[:tags].try(:[],'previous_issue').try(:[],'tags').try(:[],'card').try(:[],'last4') %>
                        </span>
                      </td>
                    <% else %>
                      <td><span class="card_16">---</span></td>
                    <% end %>
                  <% else %>
                    <td><span class="card_16">---</span></td>
                  <% end %>
                  <td>
                    <%= number_with_precision(number_to_currency(t.amount.to_f), precision: 2, delimiter: ',') %>
                  </td>
                  <!--<td style="width: 20%;"><span class="text-success">$ <%#=number_with_precision(t[:actualAmount].to_f, :precision => 2)  %></span></td>-->
                  <!--<td>-->
                    <%# if refund_status_check_loc(t) != "Success" %>
                      <!--<button type="button" class="btn btn-sm btn-success" disabled><%= refund_status_check_loc(t) %></button>-->
                    <!--<%# end %>-->
                  <!--</td>-->
                </tr>
              <% end %>
            <% else %>
              <tr><td colspan="16"><h3 id="no_entries">No Entries Yet!</h3></td></tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
    <% if @transactions.present? %>
      <div class="row">
        <div class="col-md-12" id="div_10">
          <span>Showing <%=@transactions.try(:size)%> of <%=@transactions.total_count %> records</span>
          <%= paginate @transactions, :theme => 'twitter-bootstrap-3', :pagination_class => "pagination-small pagination-centered pull-right padd"%>
        </div>
      </div>
    <% end %>
  <% end %>
</div>
<div id="cover-spin"></div>
<section id="custom_modal"></section>
