<h5 id="buyrate-text">Profit split with Agent</h5>
<br>
<%= f.simple_fields_for :fees do |fee_fields| %>
    <% if !@affiliate.new_record? %>
        <%= fee_fields.hidden_field :id, :id=>'id' %>
    <% end %>
  <!-- High Risk Tab-->
    <div class="buyrate-tab-container">
      <div class="col-md-7 zero-padding" id="buyrate-labels-container">
        <div class="col-md-12 zero-padding">
          <div class="form-group col-md-4">
            <label>Transaction Fee - Mobile App</label>
          </div>
          <div class="form-group col-md-4">
            <div class="input-icon icon_inside_input_field">
              <i>%</i>
              <%= fee_fields.input :transaction_fee_app ,label: false, input_html: {class:"form-control buyrate_fields percentage_validation" , id: "customer_fee", value: fee_fields.object.transaction_fee_app || 0.0, step: :any}%>
            </div>
          </div>
        </div>
        <div class="col-md-12 zero-padding">
          <div class="form-group col-md-4">
            <label>Transaction Fee - Debit Card</label>
          </div>
          <div class="form-group col-md-4">
            <div class="input-icon icon_inside_input_field">
              <i>%</i>
              <%= fee_fields.input :transaction_fee_dcard ,label: false, input_html: {class:"form-control buyrate_fields percentage_validation" , id: "customer_fee", value: fee_fields.object.transaction_fee_dcard || 0.0, step: :any}%>
            </div>
          </div>
        </div>
        <div class="col-md-12 zero-padding">
          <div class="form-group col-md-4">
            <label>Transaction Fee - Credit Card</label>
          </div>
          <div class="form-group col-md-4">
            <div class="input-icon icon_inside_input_field">
              <i>%</i>
              <%= fee_fields.input :transaction_fee_ccard ,label: false, input_html: {class:"form-control buyrate_fields percentage_validation" , id: "customer_fee", value: fee_fields.object.transaction_fee_ccard || 0.0, step: :any}%>
            </div>
          </div>
        </div>
        <div class="col-md-12 zero-padding">
          <div class="form-group col-md-4">
            <label>B2B (within network) buy rate</label>
          </div>
          <div class="form-group col-md-4">
            <div class="input-icon icon_inside_input_field">
              <i>%</i>
              <%= fee_fields.input :b2b_fee ,label: false, input_html: {class:"form-control buyrate_fields percentage_validation" , id: "b2b_fee", value: fee_fields.object.b2b_fee || 0.0, step: :any}%>
            </div>
          </div>
        </div>
        <div class="col-md-12 zero-padding">
          <div class="form-group col-md-4">
            <label>Gift Card fee buy rate</label>
          </div>
          <div class="form-group col-md-4">
            <div class="input-icon icon_inside_input_field">
              <i>%</i>
              <%= fee_fields.input :giftcard_fee ,label: false, input_html: {class:"form-control buyrate_fields percentage_validation" , id: "b2b_fee", value: fee_fields.object.giftcard_fee || 0.0, step: :any}%>
            </div>
          </div>
        </div>
        <div class="col-md-12 zero-padding">
          <div class="form-group col-md-4">
            <label>Send Check buy rate</label>
          </div>
          <div class="form-group col-md-4">
            <div class="input-icon icon_inside_input_field">
              <i>%</i>
              <%= fee_fields.input :redeem_fee ,label: false, input_html: {class:"form-control buyrate_fields percentage_validation" , id: "redeem_fee", value: fee_fields.object.redeem_fee || 0.0, step: :any}%>
            </div>
          </div>
        </div>

        <div class="col-md-12 zero-padding">
          <div class="form-group col-md-4">
            <label>Push to Card buy rate</label>
          </div>
          <div class="form-group col-md-4">
            <div class="input-icon icon_inside_input_field">
              <i>%</i>
              <%= fee_fields.input :dc_deposit_fee ,label: false, input_html: {class:"form-control buyrate_fields percentage_validation" , id: "redeem_fee", value: fee_fields.object.dc_deposit_fee || 0.0, step: :any}%>
            </div>
          </div>
        </div>

        <div class="col-md-12 zero-padding">
          <div class="form-group col-md-4">
            <label>ACH buy rate</label>
          </div>
          <div class="form-group col-md-4">
            <div class="input-icon icon_inside_input_field">
              <i>%</i>
              <%= fee_fields.input :ach_fee ,label: false, input_html: {class:"form-control buyrate_fields percentage_validation" , id: "ach_fee", value: fee_fields.object.ach_fee || 0.0, step: :any}%>
            </div>
          </div>
        </div>
<!--        <div class="col-md-12 zero-padding">-->
<!--          <div class="form-group col-md-4">-->
<!--            <label>PIN Debit Refund Fee</label>-->
<!--          </div>-->
<!--          <div class="form-group col-md-4">-->
<!--            <div class="input-icon icon_inside_input_field">-->
<!--              <i>%</i>-->
              <%#= fee_fields.input :qr_refund_percentage ,label: false, input_html: {class:"form-control buyrate_fields" , id: "qr_refund_fee", value: fee_fields.object.qr_refund_percentage || 0.0, step: :any}%>
<!--            </div>-->
<!--          </div>-->
<!--        </div>-->

        <div class="col-md-12 zero-padding">
          <div class="form-group col-md-4">
            <label>Add Money by check buy rate</label>
          </div>
          <div class="form-group col-md-4">
            <div class="input-icon icon_inside_input_field">
              <i>%</i>
              <%= fee_fields.input :redeem_check ,label: false, input_html: {class:"form-control buyrate_fields percentage_validation" , id: "redeem_check", value: fee_fields.object.redeem_check || 0.0, step: :any}%>
            </div>
          </div>
        </div>

        <div class="col-md-12 zero-padding">
          <div class="form-group col-md-4">
            <label>Chargeback Fee</label>
          </div>
          <div class="form-group col-md-4">
            <div class="input-icon icon_inside_input_field">
              <i>%</i>
              <%= fee_fields.input :charge_back_fee ,label: false, input_html: {class:"form-control buyrate_fields percentage_validation" , id: "b2b_fee", value: fee_fields.object.charge_back_fee || 0.0, step: :any}%>
            </div>
          </div>
        </div>

        <div class="col-md-12 zero-padding">
          <div class="form-group col-md-4">
            <label>Retrieval Fee</label>
          </div>
          <div class="form-group col-md-4">
            <div class="input-icon icon_inside_input_field">
              <i>%</i>
              <%= fee_fields.input :retrievel_fee ,label: false, input_html: {class:"form-control buyrate_fields percentage_validation" , id: "b2b_fee", value: fee_fields.object.retrievel_fee || 0.0, step: :any}%>
            </div>
          </div>
        </div>

        <div class="col-md-12 zero-padding">
          <div class="form-group col-md-4">
            <label>Refund Fee</label>
          </div>
          <div class="form-group col-md-4">
            <div class="input-icon icon_inside_input_field">
              <i>%</i>
              <%= fee_fields.input :refund_fee ,label: false, input_html: {class:"form-control buyrate_fields percentage_validation" , id: "refund_fee", value: fee_fields.object.refund_fee || 0.0, step: :any}%>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-5 zero-padding" id="buyrate-labels-container">
        <div class="col-md-12 zero-padding">
          <div class="form-group col-md-5">
            <label>Monthly Fee</label>
          </div>
          <div class="form-group col-md-6">
            <div class="input-icon icon_inside_input_field">
              <i>%</i>
              <%= fee_fields.input :service ,label: false, input_html: {class:"form-control buyrate_fields percentage_validation" ,  value: fee_fields.object.service || 0.0, step: :any}%>
            </div>
          </div>
        </div>
        <div class="col-md-12 zero-padding">
          <div class="form-group col-md-5">
            <label>Monthly Subscription Fee</label>
          </div>
          <div class="form-group col-md-6">
            <div class="input-icon icon_inside_input_field">
              <i>%</i>
              <%= fee_fields.input :statement ,label: false, input_html: {class:"form-control buyrate_fields percentage_validation" ,  value: fee_fields.object.statement || 0.0, step: :any}%>
            </div>
          </div>
        </div>
        <div class="col-md-12 zero-padding">
          <div class="form-group col-md-5">
            <label>Monthly Miscellaneous Fee</label>
          </div>
          <div class="form-group col-md-6">
            <div class="input-icon icon_inside_input_field">
              <i>%</i>
              <%= fee_fields.input :misc ,label: false, input_html: {class:"form-control buyrate_fields percentage_validation" ,  value: fee_fields.object.misc || 0.0, step: :any}%>
            </div>
          </div>
        </div>
      </div>
    </div>
<% end %>
<script>
    // $('.buyrate_fields').bind('keyup change', function(){
    //     this.value = this.value.replace(/[^0-9\.]/g,'');
    // });
    //###
</script>
<%= javascript_include_tag 'admins/affiliates.js' %>