<%=render layout: 'new' do |f| %>
  <h3 class="header-color">Profit split with Agent</h3><br>
  <%=f.hidden_field :affiliate_id,value:params[:affiliate_id] if params[:affiliate_id].present? %>
  <%=f.hidden_field :format,value:params[:format] if params[:format].present? %>

  <%=f.simple_fields_for :fees, @fees  do |fee_fields| %>
    <% if !@affiliate.new_record? && @affiliate.fees.present? %>
      <%= fee_fields.hidden_field :id , :id=>'abc'%>
    <% end %>
    <div class="buyrate-row">
      <div class="col-md-8" id="buyrate-labels-container">
        <div class="row">
          <div class="col-md-12 zero-padding">
            <div class="row">
              <div class="form-group col-md-4">
                <label class="inline"><span class="bullet-label"></span>Transaction Fee - Mobile App</label>
              </div>
              <div class="form-group col-md-3">
                <div class="input-icon icon_inside_input_field">
                  <i>%</i>
                  <%= fee_fields.input :transaction_fee_app ,label: false, input_html: {class:"form-control percent percentage_validation" ,  value: number_with_precision(fee_fields.object.transaction_fee_app.to_f || 0.00, :precision => 2), step: :any}%>
                </div>
              </div>
            </div>
          </div>

          <hr class="hr hr_sys">

          <div class="col-md-12 zero-padding">
            <div class="row">
              <div class="form-group col-md-4">
                <label class="inline"><span class="bullet-label"></span>Transaction Fee - Debit Card</label>
              </div>
              <div class="form-group col-md-3">
                <div class="input-icon icon_inside_input_field">
                  <i>%</i>
                  <%= fee_fields.input :transaction_fee_dcard ,label: false, input_html: {class:"form-control percent percentage_validation" ,  value: number_with_precision(fee_fields.object.transaction_fee_dcard.to_f || 0.00, :precision => 2), step: :any}%>
                </div>
              </div>
            </div>
          </div>

          <hr class="hr hr_sys">

          <div class="col-md-12 zero-padding">
            <div class="row">
              <div class="form-group col-md-4">
                <label class="inline"><span class="bullet-label"></span>Transaction Fee - Credit Card</label>
              </div>
              <div class="form-group col-md-3">
                <div class="input-icon icon_inside_input_field">
                  <i>%</i>
                  <%= fee_fields.input :transaction_fee_ccard ,label: false, input_html: {class:"form-control percent percentage_validation" , value: number_with_precision(fee_fields.object.transaction_fee_ccard.to_f || 0.00, :precision => 2), step: :any}%>
                </div>
              </div>
            </div>
          </div>

          <hr class="hr hr_sys">

          <div class="col-md-12 zero-padding">
            <div class="row">
              <div class="form-group col-md-4">
                <label class="inline"><span class="bullet-label"></span>Invoice - Credit Card</label>
              </div>
              <div class="form-group col-md-3">
                <div class="input-icon icon_inside_input_field">
                  <i>%</i>
                  <%= fee_fields.input :invoice_card_fee_perc ,label: false, input_html: {class:"form-control percent percentage_validation" , value: number_with_precision(fee_fields.object.invoice_card_fee_perc.to_f || 0.00, :precision => 2), step: :any}%>
                </div>
              </div>
            </div>
          </div>

          <hr class="hr hr_sys">

          <div class="col-md-12 zero-padding">
            <div class="row">
              <div class="form-group col-md-4">
                <label class="inline"><span class="bullet-label"></span>Invoice - Debit Card</label>
              </div>
              <div class="form-group col-md-3">
                <div class="input-icon icon_inside_input_field">
                  <i>%</i>
                  <%= fee_fields.input :invoice_debit_card_fee_perc ,label: false, input_html: {class:"form-control percent percentage_validation" , value: number_with_precision(fee_fields.object.invoice_debit_card_fee_perc.to_f || 0.00, :precision => 2), step: :any}%>
                </div>
              </div>
            </div>
          </div>

          <hr class="hr hr_sys">

          <div class="col-md-12 zero-padding">
            <div class="row">
              <div class="form-group col-md-4">
                <label class="inline"><span class="bullet-label"></span>Invoice - RTP</label>
              </div>
              <div class="form-group col-md-3">
                <div class="input-icon icon_inside_input_field">
                  <i>%</i>
                  <%= fee_fields.input :invoice_rtp_fee_perc ,label: false, input_html: {class:"form-control percent percentage_validation" , value: number_with_precision(fee_fields.object.invoice_rtp_fee_perc.to_f || 0.00, :precision => 2), step: :any}%>
                </div>
              </div>
            </div>
          </div>

          <hr class="hr hr_sys">

          <div class="col-md-12 zero-padding">
            <div class="row">
              <div class="form-group col-md-4">
                <label class="inline"><span class="bullet-label"></span>Invoice - QC</label>
              </div>
              <div class="form-group col-md-3">
                <div class="input-icon icon_inside_input_field">
                  <i>%</i>
                  <%= fee_fields.input :b2b_fee, label: false, input_html: {class:"form-control percent percentage_validation" , value: number_with_precision(fee_fields.object.b2b_fee.to_f || 0.00, :precision => 2), step: :any}%>
                </div>
              </div>
            </div>
          </div>

          <hr class="hr hr_sys">


          <div class="col-md-12 zero-padding">
            <div class="row">
              <div class="form-group col-md-4">
                <label class="inline"><span class="bullet-label"></span>RTP</label>
              </div>
              <div class="form-group col-md-3">
                <div class="input-icon icon_inside_input_field">
                  <i>%</i>
                  <%= fee_fields.input :rtp_fee_perc ,label: false, input_html: {class:"form-control percent percentage_validation" , value: number_with_precision(fee_fields.object.rtp_fee_perc.to_f || 0.00, :precision => 2), step: :any}%>
                </div>
              </div>
            </div>
          </div>

          <hr class="hr hr_sys">

          <div class="col-md-12 zero-padding">
            <div class="row">
              <div class="form-group col-md-4">
                <label class="inline"><span class="bullet-label"></span>Gift Card Fee</label>
              </div>
              <div class="form-group col-md-3">
                <div class="input-icon icon_inside_input_field">
                  <i>%</i>
                  <%= fee_fields.input :giftcard_fee ,label: false, input_html: {class:"form-control percent percentage_validation" , value: number_with_precision(fee_fields.object.giftcard_fee.to_f || 0.00, :precision => 2), step: :any}%>
                </div>
              </div>
            </div>
          </div>

          <hr class="hr hr_sys">

          <div class="col-md-12 zero-padding">
            <div class="row">
              <div class="form-group col-md-4">
                <label class="inline"><span class="bullet-label"></span>Send Checks</label>
              </div>
              <div class="form-group col-md-3">
                <div class="input-icon icon_inside_input_field">
                  <i>%</i>
                  <%= fee_fields.input :redeem_fee ,label: false, input_html: {class:"form-control percent percentage_validation" , value: number_with_precision(fee_fields.object.redeem_fee.to_f || 0.00, :precision => 2), step: :any}%>
                </div>
              </div>
            </div>
          </div>
          <hr class="hr hr_sys">

          <div class="col-md-12 zero-padding">
            <div class="row">
              <div class="form-group col-md-4">
                <label class="inline"><span class="bullet-label"></span>Failed Check Fee</label>
              </div>
              <div class="form-group col-md-3">
                <div class="input-icon icon_inside_input_field">
                  <i>%</i>
                  <%= fee_fields.input :failed_check_percent_fee ,label: false, input_html: {class:"form-control percent percentage_validation" , type:'text',value: number_with_precision(fee_fields.object.failed_check_percent_fee.to_f || 0.00, :precision => 2), step: :any}%>
                </div>
              </div>
            </div>
          </div>

          <hr class="hr hr_sys">

          <div class="col-md-12 zero-padding">
            <div class="row">
              <div class="form-group col-md-4">
                <label class="inline"><span class="bullet-label"></span>Add Money by check</label>
              </div>
              <div class="form-group col-md-3">
                <div class="input-icon icon_inside_input_field">
                  <i>%</i>
                  <%= fee_fields.input :redeem_check ,label: false, input_html: {class:"form-control percent percentage_validation" , value: number_with_precision(fee_fields.object.redeem_check.to_f || 0.00, :precision => 2), step: :any}%>
                </div>
              </div>
            </div>
          </div>

          <hr class="hr hr_sys">

          <div class="col-md-12 zero-padding">
            <div class="row">
              <div class="form-group col-md-4">
                <label class="inline"><span class="bullet-label"></span>Push to Card Buy Rate</label>
              </div>
<!--              <div class="form-group col-md-3">-->
<!--                <div class="input-icon icon_inside_input_field">-->
<!--                  <i>$</i>-->
                  <%#= fee_fields.input :dc_deposit_fee_dollar, label: false, input_html: {class: "form-control buyrate_fields", value: number_with_precision(fee_fields.object.dc_deposit_fee_dollar || 0.00, :precision => 2), step: :any} %>
<!--                </div>-->
<!--              </div>-->
              <div class="form-group col-md-3">
                <div class="input-icon icon_inside_input_field">
                  <i>%</i>
                  <%= fee_fields.input :dc_deposit_fee,as: :string, label: false, input_html: {class: "form-control percent percentage_validation", value: number_with_precision(fee_fields.object.dc_deposit_fee.to_f || 0.00, :precision => 2), step: :any} %>
                </div>
              </div>
            </div>
          </div>

<!--          <hr class="hr hr_sys">-->

<!--          <div class="col-md-12 zero-padding">-->
<!--            <div class="row">-->
<!--              <div class="form-group col-md-4">-->
<!--                <label class="inline"><span class="bullet-label"></span>Failed Push to Card Fee</label>-->
<!--              </div>-->
<!--              <div class="form-group col-md-3">-->
<!--                <div class="input-icon icon_inside_input_field">-->
<!--                  <i>%</i>-->
                  <%#= fee_fields.input :failed_push_to_card_percent_fee ,label: false, input_html: {class:"form-control percent percentage_validation" ,type:'text', value: number_with_precision(fee_fields.object.failed_push_to_card_percent_fee.to_f || 0.00, :precision => 2), step: :any}%>
<!--                </div>-->
<!--              </div>-->
<!--            </div>-->
<!--          </div>-->

          <hr class="hr hr_sys">

          <div class="col-md-12 zero-padding">
            <div class="row">
              <div class="form-group col-md-4">
                <label class="inline"><span class="bullet-label"></span>ACH Buy Rate</label>
              </div>
<!--              <div class="form-group col-md-3">-->
<!--                <div class="input-icon icon_inside_input_field">-->
<!--                  <i>$</i>-->
                  <%#= fee_fields.input :ach_fee_dollar, label: false, input_html: {class: "form-control buyrate_fields", value: number_with_precision(fee_fields.object.ach_fee_dollar || 0.00, :precision => 2), step: :any} %>
<!--                </div>-->
<!--              </div>-->
              <div class="form-group col-md-3">
                <div class="input-icon icon_inside_input_field">
                  <i>%</i>
                  <%= fee_fields.input :ach_fee,as: :string, label: false, input_html: {class: "form-control percent percentage_validation", value: number_with_precision(fee_fields.object.ach_fee.to_f || 0.00, :precision => 2), step: :any} %>
                </div>
              </div>
            </div>
          </div>

          <hr class="hr hr_sys">

          <div class="col-md-12 zero-padding">
            <div class="row">
              <div class="form-group col-md-4">
                <label class="inline"><span class="bullet-label"></span>Failed ACH Fee</label>
              </div>
              <div class="form-group col-md-3">
                <div class="input-icon icon_inside_input_field">
                  <i>%</i>
                  <%= fee_fields.input :failed_ach_percent_fee ,label: false, input_html: {class:"form-control percent percentage_validation" , type:'text',value: number_with_precision(fee_fields.object.failed_ach_percent_fee.to_f || 0.00, :precision => 2), step: :any}%>
                </div>
              </div>
            </div>
          </div>
          <hr class="hr hr_sys">

<!--          <div class="col-md-12 zero-padding">-->
<!--            <div class="row">-->
<!--              <div class="form-group col-md-4">-->
<!--                <label class="inline"><span class="bullet-label"></span>PIN Debit Refund Fee</label>-->
<!--              </div>-->
<!--              <div class="form-group col-md-3">-->
<!--                <div class="input-icon icon_inside_input_field">-->
<!--                  <i>%</i>-->
                  <%#= fee_fields.input :qr_refund_percentage, as: :string, label: false, input_html: {class: "form-control percent buyrate_fields", value: fee_fields.object.qr_refund_percentage || 0.0, step: :any} %>
<!--                </div>-->
<!--              </div>-->
<!--            </div>-->
<!--          </div>-->
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="row">
            <div class="col-md-12">
              <hr class="hr width-97-affiliate">

              <div class="col-md-12 zero-padding">
                <div class="row">
                  <div class="col-md-4 zero-padding">
                    <div class="form-group col-md-7">
                      <label class="inline"><span class="bullet-label"></span>Chargeback Fee</label>
                    </div>
                    <div class="form-group zero-padding col-md-5">
                      <div class="input-icon icon_inside_input_field">
                        <i>%</i>
                        <%= fee_fields.input :charge_back_fee ,as: :string,label: false, input_html: {class:"form-control percent  text-width percentage_validation", value: number_with_precision(fee_fields.object.charge_back_fee.to_f || 0.00, :precision => 2), step: :any}%>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-4 zero-padding">
                    <div class="form-group col-md-6">
                      <label>Retrieval Fee</label>
                    </div>
                    <div class="form-group col-md-6">
                      <div class="input-icon icon_inside_input_field">
                        <i>%</i>
                        <%= fee_fields.input :retrievel_fee ,as: :string,label: false, input_html: {class:"form-control percent  text-width percentage_validation", value: number_with_precision(fee_fields.object.retrievel_fee.to_f || 0.00, :precision => 2), step: :any}%>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-4">
                    <div class="form-group col-md-6">
                      <label>Refund Fee</label>
                    </div>
                    <div class="form-group col-md-6">
                      <div class="input-icon icon_inside_input_field">
                        <i>%</i>
                        <%= fee_fields.input :refund_fee ,as: :string, label: false, input_html: {class:"form-control percent text-width percentage_validation" , value: number_with_precision(fee_fields.object.refund_fee.to_f || 0.00, :precision => 2), step: :any}%>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <hr class="hr hr_split">

              <div class="col-md-12 zero-padding">
                <div class="row">
                  <div class="col-md-4 zero-padding">
                    <div class="form-group col-md-7">
                      <label class="inline"><span class="bullet-label"></span>Monthly Fee</label>
                    </div>
                    <div class="form-group zero-padding col-md-5">
                      <div class="input-icon icon_inside_input_field">
                        <i>%</i>
                        <%= fee_fields.input :service,as: :string,  label: false, input_html: {class: "form-control percent text-width percentage_validation", :onclick => 'this.select();', value: number_with_precision(fee_fields.object.service.to_f || 0.00, :precision => 2), step: :any} %>
                      </div>
                      </div>
                    </div>
                    <div class="col-md-4 zero-padding">
                      <div class="form-group col-md-6">
                        <label>Monthly Subscription Fee</label>
                      </div>
                      <div class="form-group col-md-6" >
                        <div class="input-icon icon_inside_input_field">
                          <i>%</i>
                          <%= fee_fields.input :statement ,as: :string, label: false, input_html: {class:"form-control percent text-width percentage_validation",   :onclick => 'this.select();',  value: number_with_precision(fee_fields.object.statement.to_f || 0.00, :precision => 2), step: :any}%>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-4">
                      <div class="form-group col-md-6">
                        <label>Monthly Miscellaneous Fee</label>
                      </div>
                      <div class="form-group col-md-6">
                        <div class="input-icon icon_inside_input_field">
                          <i>%</i>
                          <%= fee_fields.input :misc ,as: :string, label: false, input_html: {class:"form-control percent text-width percentage_validation" , :onclick => 'this.select();',  value: number_with_precision(fee_fields.object.misc.to_f || 0.00, :precision => 2), step: :any}%>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
  <% end %>
<% end %>
<script>

  // $(document).ready(function () {
  //   $('.buyrate_fields').bind('keyup change', function () {
  //       this.value = this.value.replace(/[^0-9\.]/g, '');
  //   });
  // });
  // (function($) {
  //     $.fn.inputFilter = function(inputFilter) {uyrate_fields
  //         return this.on("input keydown keyup mousedown mouseup select contextmenu drop", function() {
  //             if (inputFilter(this.value)) {
  //                 this.oldValue = this.value;
  //                 this.oldSelectionStart = this.selectionStart;
  //                 this.oldSelectionEnd = this.selectionEnd;
  //             } else if (this.hasOwnProperty("oldValue")) {
  //                 this.value = this.oldValue;
  //                 this.setSelectionRange(this.oldSelectionStart, this.oldSelectionEnd);
  //             }
  //         });
  //     };
  // }(jQuery));
  // $(".percent").inputFilter(function(value) {
  //     return /^\d*(\.\d{0,2})?$/.test(value) && (value === "" || parseFloat(value) <= 100); });
    //###
</script>
<%= javascript_include_tag 'admins/affiliates.js' %>
