<div class="sidebar-overlay" id="sidebar-overlay"></div>
<div class="title-block">
  <h1 class="title text-capitalize affiliate-title-h1">
    Affiliates
  </h1>
</div>

<section class="section">
  <div class="row">
    <div class="col-md-6">
      <div class="card card-widget-success section-card-widget-success-affiliate">
        <div class="card-block">
          <div class="widget-title">Total  Affiliates</div>
          <div class="result"><h6><%= @affiliates.count %></h6></div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="card sameheight-item items" data-exclude="xs,sm,lg">
      <div class="card-header bordered">
        <div class="header-block">
          <h3 class="title text-capitalize pull-left">All Affiliates</h3>
        </div>
        <div class="header-block pull-right">
          <%= link_to 'New Affiliate', new_affiliate_path, class: 'btn btn-primary pull-right'%>
        </div>
      </div>
      <section class="example">
        <div class="">
          <div class="table-responsive">
            <table id="affiliates-datatable" class="table table-striped table-bordered" data-source="<%= affiliates_url(format: "json") %>" cellspacing="0" cellpadding="0">
              <thead>
                <tr>
                  <th class="all">ID</th>
                  <th >Name</th>
                  <th >Phone Number</th>
                  <th >Action</th>
                </tr>
              </thead>
              <tbody>
              </tbody>
            </table>
          </div>
        </div>
      </section>
    </div>
  </div>
</section>

<script type="text/javascript">
// $(document).ready(function(){
//     $('#affiliates-datatable').DataTable({
//         "sScrollX": false,
//         "scrollX": false,
//         "sSearch": true,
//         "ordering": true,
//         "processing": true,
//         "searching": true,
//         "serverSide": true,
//         "ajax": $('#affiliates-datatable').data('source')
//     });
// });
</script>
<%= javascript_include_tag 'admins/affiliates.js' %>