
<!--  <div class="col-md-6">-->
  <div class="form-group col-md-6">
    <label for="email_address"><span class="account_fields">*</span><span>Email Address</span></label>
    <%= email_field_tag :email_address, nil, placeholder: "Enter Email Address", class: "form-control"%>
  </div>
  <div class="form-group col-md-6">
    <label for="amount"><span class="account_fields">*</span><span>Amount</span></label>
    <div class="input-group">
      <span class="input-group-addon"><b>$</b></span>
      <%= number_field_tag :amount,nil, placeholder: "Amount", class: "form-control", :step => 0.01 %>
    </div>
  </div>
  <!--  </div>-->
<!--<br/>-->
  <div class="form-group col-md-6">
    <label class="no-padding"><span>Account Type</span></label>
    <%= select_tag("bank_account_type",
                   options_for_select(Location.bank_account_types.keys.map {|a| [a.humanize, a]}, bank_account_type),
                   class:"form-control",
                   :include_blank=> "Choose"
        )%>
  </div>
  <div class="form-group col-md-6">
    <label for="bank_routing"><span class="account_fields">*</span><span>Routing Number</span></label>
    <%= text_field_tag :bank_routing,bank_routing, placeholder: "Enter Routing Number", class: "form-control"%>
    <p id="routing-error" class="open-error" ></p>
    <div id="success-div" class="alert alert-success" role="alert"> </div>
  </div>
  <div class="form-group col-md-6">
    <label for="bank_account"><span class="account_fields">*</span><span> Account Number</span></label>
    <%= text_field_tag :bank_account,bank_account, placeholder: "Enter Account Number",type:"password", class: "form-control password-field", id:"bank_account"%>
    <span toggle=".password-field" class="fa fa-fw fa-eye field-icon my-password"></span>
    <span id="account_number" class="account_fields1"></span>
  </div>
  <div class="form-group col-md-6">
    <label for="confirm_bank_account"><span class="account_fields">*</span><span>Confirm Account Number</span></label>
    <%= text_field_tag :confirm_bank_account,bank_account, placeholder: "Enter Account Number",id: "myInput",type:"password", class: "form-control password-field"%>
    <p id="account_p_c" class="account_fields1">Must be Same</p>
  </div>
<!--<br>-->
  <div class="form-group col-md-12">
    <label for="description"><span> Description</span><span class="account_fields"> *</span></label>
    <div class="input-group">
      <span class="input-group-addon"><i class="fa fa-info"></i></span>
      <%= text_area_tag :description, nil, placeholder: "Enter Description Here", class: "form-control"%>
    </div>
    <p id="description-error" class="account_fields1"></p>
  </div>

<script>

    $(document).ready(function () {
        $('#amount').keypress(function(event) {

            if ((event.which != 46 || $(this).val().indexOf('.') != -1)&&(event.which < 48 || event.which > 57)) {
                if((event.which != 46 || $(this).val().indexOf('.') != -1)){
                }
                event.preventDefault();
            }
            if(this.value.indexOf(".")>-1 && (this.value.split('.')[1].length > 1))		{
                event.preventDefault();
            }
        });

    });

    $('#bank_routing').blur(function(){

        var routing_number=$(this).val();
        get_bank_by_routing_number(routing_number, "<%= get_bank_by_routing_number_merchant_checks_path %>");
    });

    $(document).ready(function () {
        $('input#myInput').bind('copy paste', function (e) {
            e.preventDefault();
        });
 
        $(".my-password").click(function () {
            $(this).toggleClass("fa-eye fa-eye-slash");
            var input = $($(this).attr("toggle"));
            if (input.attr("type") == "password") {
                input.attr("type", "text");
            } else {
                input.attr("type", "password");
            }
        });
    });
    $("#amount").bind('keyup change', function () {
        var ach_limit = parseFloat($('#achlimit').val());
        var ach_limit_type = $('#achlimittype').val();
        var check_amount = parseFloat($('#amount').val());
        if (ach_limit_type && ach_limit != 0){
            if ( check_amount > ach_limit && ach_limit_type == "Transaction"){
                $('.amountlimit_error').html('').append('Exceeds Transaction Limit of $ '+ach_limit.toFixed(2))
                $('.ach-submit-btn').prop('disabled', true);
            }else{
                $('.amountlimit_error').html('').append('')
                $('.ach-submit-btn').prop('disabled', false);
            }
            if (ach_limit_type == "Day"){
                var ach_total = parseFloat($('#achtotalcount').val());
                total_sum = ach_total + check_amount;
                if (total_sum > ach_limit){
                    $('.amountlimit_error').html('').append('Exceeds Daily Limit of $ '+ach_limit.toFixed(2))
                    $('.ach-submit-btn').prop('disabled', true);
                }else{
                    $('.amountlimit_error').html('').append('')
                    $('.ach-submit-btn').prop('disabled', false);
                }
            }
        }
    });
    $("#bank_account").on("keypress keyup blur",function (event) {
        $(this).val($(this).val().replace(/[^\d].+/, ""));
        if ((event.which < 48 || event.which > 57)) {
            event.preventDefault();
        }
    });
    $("#myInput").on("keypress keyup blur",function (event) {
        $(this).val($(this).val().replace(/[^\d].+/, ""));
        if ((event.which < 48 || event.which > 57)) {
            event.preventDefault();
        }
    });
</script>