<div class="modal fade" id="AchConfirmModal" class="confirmuserpermissionModal" tabindex="-1" role="dialog" aria-labelledby="orderModelLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header" >
        <p class="modal-header-text">New ACH</p>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">

        </button>
      </div>
      <div class="modal-body">
        <div class="account-transfer-confirm">
          <div class="row">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
              <div class="text">
                Confirm Your Information
              </div>
            </div>
          </div>
          <form onsubmit="return false">
            <div class="row mt-4">
              <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-xs-12">
                <div class="brown no-radius">
                  <div class="small">
                    Account
                  </div>
                  <div id="account_name" class="name">
                    
                  </div>
                </div>
                <div class="simple no-radius">
                  <div class="small">
                    Bank Account
                  </div>
                  <div id="bank_account" class="name">
                    
                  </div>
                </div>
                <div class="brown no-radius">
                  <div class="small">
                    Description
                  </div>
                  <div id="description_memo" class="name acc-description">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque id risus diam.
                  </div>
                </div>
              </div>

              <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-xs-12">
                <div class="right-box">
                  <div class="title">
                    Accounts
                  </div>
                  <hr class="hr mt-3">
                  <div class="simple">
                    <div class="label">
                      Available Balance
                      <span id="available_balance" class="price pull-right">
                      
                    </span>
                    </div>
                  </div>
                  <div class="brown">
                    <div class="label">
                      ACH Amount
                      <span id="transfer_amount" class="price pull-right">
                      
                    </span>
                    </div>
                  </div>
                  <div class="simple">
                    <div class="label">
                      Fee
                      <span id="fee" class="price pull-right">
                       
                      </span>
                    </div>
                  </div>
                  <div class="brown">
                    <div class="label">
                      Total Amount
                      <span id="total_amount" class="price pull-right">
                      
                    </span>
                    </div>
                  </div>
                  <hr class="hr mt-3">
                  <div class="brown blc-border border-right">
                    <div class="label">
                      Remaining Balance
                      <span id="remaining_balance" class="price pull-right">
                      
                    </span>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="row mt-3 mb-4">
              <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12 text--center">
                <div class="mt-4 text--center">
                  <a href="#" class="btn activity_log_btn text--center  m-btn m-btn--icon mr-3 back" data-dismiss="modal" aria-label="Close" data-toggle='modal' data-target = '#newAchModal'>
                         Back
                  </a>
                <!--   <a href="#" id="confirm_ach" class="btn btn-default btn-preview-invoice succes--call" data-dismiss="modal" >Confirm</a> -->
                <a href="#" id="confirm_ach" class="btn btn-default btn-preview-invoice succes--call" data-dismiss="modal" aria-label="Close" data-toggle='modal' data-target = '#SuccessAchModal'>Confirm</a>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
<%= render "ach_success" %>
