<div id="ach_table" class="col-lg-12 col-md-12 col-sm-12 table  charge_back_table mt-4">
  <table  class="pt-0 chargeback_datatable table_line_height">
<!--<table class="table table-striped- table-bordered table-hover table-checkable listing_datatable" id="m_table_1">-->
  <thead>
    <tr>
      <th>
        ACH ID
        <%# sort_link(@q, :id, "ACH ID") %>
      </th>
      <th>
        Creation Date
         <%# sort_link(@q, :created_at, "Creation Date") %>
      </th>
      <th>
        Account
        <%# sort_link(@q, :wallet_location_business_name, "Account") %>
      </th>
      <th>
        Name on
        <br/>
        Bank Account
        <%# sort_link(@q, :name, "Bank Account") %>
      </th>
      <th class="text-right account-th">
        Account <br/>
        <span class="last4_text">Last 4</span>
        <span class="last4_text"> <%# sort_link(@q, :account_number, "Last 4") %></span>
      </th>
      <th class="text-right">
        <span class="ach_text">ACH</span><br>
        Amount
        <%# sort_link(@q, :actual_amount, "Amount") %>
      </th>
      <th class="amount-th">
        Fee
        <%# sort_link(@q, :total_fee, "Fee") %>
      </th>
      <th class="text-right">
        <span class="total_amount_text">Total</span><br>
        Amount
        <%# sort_link(@q, :amount, "Amount") %>
      </th>
      <th>
          <center>
            <%= render partial: "ach_status" %>
          </center>
      </th>
    </tr>
  </thead>
  <% if !@achs.empty? && @user_permission.try(:ach_view_only) %>
  <tbody>
      <% @achs.each_with_index do |ach,i| %>
        <tr class="charge_back_hover mt-2 <%= (i+1).odd? ? "odd" : "even"%>" data-id=<%=ach.id%>>
          <% if current_user.merchant? %>
          <% wallet = Wallet.find_by(id: ach.wallet_id)  %>
          <% dba_name = wallet.location.try(:business_name) if wallet.present? %>
            <% end %>
          <td><%= ach.id %></td>
          <% if cookies[:timezone].present? %>
              <td ><%= ach.created_at.in_time_zone(cookies[:timezone]).strftime("%m-%d-%Y %I:%M:%S %p")%></td>
          <%else %>
            <td class="timeUtc"><%= ach.created_at.strftime("%m-%d-%Y %I:%M:%S %p")%></td>
          <% end %>
            <% if current_user.merchant? %>
          <td><%= dba_name %></td>
          <% end %>
          <td><%= ach.try(:name) %></td>
          <td class="account-td">****<%= ach.account_number.present? ? ach.try(:account_number): "-"%></td>
          <td class="amount-td">$<%= number_with_precision(ach.actual_amount, precision: 2, delimiter: ',') %></td>
          <td class="amount-td">$<%= number_with_precision(ach.check_fee.to_f + ach.fee_perc.to_f, precision: 2, delimiter: ',') %></td>
          <td class="amount-td">$<%= number_with_precision(ach.amount, precision: 2, delimiter: ',') %></td>
          <td id="status_ach">
            <center>
           <% status=ach_status(ach.status) %>
            <% if status=="PAID" || status=="paid" %>
              <span class="badge paid"><%= status %></span>
            <% elsif status=="VOID" || status== "void" %>
              <span class="badge past_due"><%= status %></span>
            <% elsif status=="PAID_WIRE" || status=="paid_wire" %>
              <span  class="badge paid">PAID BY WIRE</span>
            <% elsif status=="IN_PROCESS" || status=="IN_PROGRESS" %>
              <span  class="badge in_progress"><%= status %></span>
            <% elsif status=="PENDING" || status=="pending" %>
              <span  class="badge pending"><%= status %></span>
            <% elsif status=="FAILED" || status=="failed" %>
              <span  class="badge canceled"><%= status %></span>
            <% elsif status=="UNPAID" || status=="unpaid" %>
              <span  class="badge canceled"><%= status %></span>
            <% else %>
              <span  class="badge badge-info_failed else_status"><%= status %></span>
            <% end %>
          </center>
          </td>
        </tr>
        <% end %>
  <% else %>
      <tr>
        <td colspan="9">
          <div class="col-xl-12 ">
            <center  class="m-5 p-5">
              <%= image_tag "v2/merchant/datatable/no_data.svg" %>
              <p class="No-data-available mt-4 mr-4">No data available</p>
            </center>
          </div>
        </td>
      </tr>
  <% end %>
  </tbody>
</table>
</div>
<% if  @user_permission.try(:ach_view_only) %>
<%= render partial: "v2/merchant/shared/datatable_pagination" , locals: {variable: @achs} %>
  <% end %>
<div class="total_amount_div ">
  <div class="total_pending"><%= @total_pending %></div>
  <div class="total_failed"><%= @total_failed %></div>
  <div class="total_void"><%= @total_void %></div>
  <div class="total_paid"><%= @total_paid %></div>
  <div class="total_in_process"><%= @total_in_process %></div>
  <div class="total_paid_wire"><%= @total_paid_wire %></div>
</div>
     