<% if @locations.present? && @user.merchant? %>
  <%= select_tag( "location_id",
                  options_for_select(@locations.map{|loc| [loc.business_name, loc.id]}, @locations.count == 1 ? @locations.first.try(:id) : nil),
                  class: "form-control m-bootstrap-select m-bootstrap-select--pill m_selectpicker",
                  data: {
                      # remote: true,
                      url: location_data_v2_merchant_instant_ach_index_path(type: "instant_ach"),
                      loc_count: @locations.count
                  },include_blank: "Choose Account",
                  :required => true
      ) %>
<% else %>
  <%= select_tag( "location_id",
                  options_for_select([[@user.try(:wallets).try(:first).try(:name), @user.try(:wallets).try(:first).try(:id)]]),
                  class: "form-control m-bootstrap-select m-bootstrap-select--pill m_selectpicker",
                  data: {
                      # remote: true,
                      url: location_data_v2_merchant_instant_ach_index_path(type: "instant_ach")
                  },include_blank: "Choose wallet",
                  :required => true
      ) %>
<% end %>
