<%= stylesheet_link_tag "v2/merchant/instant_ach" %>
<%= javascript_include_tag "v2/merchant/instant_ach" %>
<% sequence_down = AppConfig.try(:sequence_down).try(:first) %>
<% ach = AppConfig.try(:ach).try(:first) %>
<% if (sequence_down.present? && sequence_down.boolValue == true) || (ENV['SEQUENCE_DOWN'].present? && ENV['SEQUENCE_DOWN'] == "true") %>
  <%= render 'v2/merchant/shared/maintenance_modal', locals: {title: 'System Maintenance', body: 'We apologize for the inconvenience, however this feature is not available at this time as we are having issues with our Blockchain'} %>
<% elsif (ach.present? && ach.boolValue == false)  %>
  <%= render 'shared/maintenance_modal', locals: {title: 'ACH is Blocked', body: 'We apologize for the inconvenience, however this feature is not available at this time as ACH is Inactive.'} %>
<% elsif @user.block_ach %>
  <%= render 'v2/merchant/shared/maintenance_modal', locals: {title: 'Disabled Withdraw', body: 'We apologize for the inconvenience, but this feature is currently  unavailable at this time. Please email Support@gareenboxpos.com for all your inquiries. Thank you!'} %>
<% else %>
  <%= render 'v2/merchant/shared/maintenance_modal', locals: {title: 'Merchant is Blocked', body: 'We apologize for the inconvenience, however this feature is not available at this time as Merchant is Inactive.'} %>
<% end %>
<div class="m-subheader">
  <div class="d-flex align-items-center">
    <div class="mr-auto">
      <ul class="m-subheader__breadcrumbs m-nav m-nav--inline set-path">
        <li class="m-nav__item">
          <a href="#" class="m-nav__link">
            <span class="my-order-nav">
                Withdraw
            </span>
          </a>
        </li>
        <li class="m-nav__separator">
          <%= image_tag "v2/merchant/icons/angle.svg"%>
        </li>
        <li class="m-nav__item">
          <a href="<%= v2_merchant_instant_ach_index_path %>" class="m-nav__link">
              <span class="order-active">
                ACH
              </span>
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>
<div class="m-content">
  <div class="m-portlet m-portlet--mobile m-portal_datatable">
    <h3 class="m-subheader__title ach-heading-custom flex-line flex-between mb-24">
      ACH
      <div class="actions-header">
        <button type="button" class="btn m-btn--pill btn-secondary activity_log__btn slide-toggle slide-toggle-open <%= "mr-4" if @user_permission.try(:export_withdrawal) == false %>" data-type="ach">
          <span >Activity Log </span><%= image_tag "v2/activity_log/noun_clock_1698764.svg", class: "timer-width-18 " %>
        </button>
        <% if @user_permission.try(:export_withdrawal) %>
          <button type="button" class="btn m-btn--pill btn-secondary ml-4 mr-4 export_bulk export-btn" data-toggle="modal" data-target="#echeckModal">
            Export
          </button>
        <% end %>
        <% if @user_permission.try(:ach_add) %>
          <% if (sequence_down.present? && sequence_down.boolValue == true) || (ENV['SEQUENCE_DOWN'].present? && ENV['SEQUENCE_DOWN'] == "true") %>
            <button type="button" data-toggle="modal" data-target="#maintenance-modal"  class="prevent_halt btn m-btn--pill new-ach-button show-dynamic-modal color-ffd95" >New ACH</button>
          <% elsif (ach.present? && ach.boolValue == false) %>
            <button type="button" data-toggle="modal" data-target="#maintenance-modal"  class="prevent_halt btn m-btn--pill new-ach-button show-dynamic-modal color-ffd95" >New ACH</button>
      <% else %>
            <% if @achIssueEnabled && !@user.block_ach %>
              <button class="prevent_halt btn m-btn--pill new-ach-button show-dynamic-modal color-ffd95" id="view_detail" data-modal_container_selector="#ach_section" data-modal_selector="#newAchModal" data-url= "<%= new_v2_merchant_instant_ach_path %>" data-method="GET">New ACH</button>
            <% else %>
              <button type="button" data-toggle="modal" data-target="#maintenance-modal"  class="prevent_halt btn m-btn--pill new-ach-button show-dynamic-modal color-ffd95">New ACH</button>
            <% end %>
          <% end %>
        <% end %>
      </div>
    </h3>

    <div class="m-portlet m-portlet--mobile m-portal_datatable">
      <div class="m-portlet__body">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 charge_back_widget mb-4 ach_padding_24">
          <div class="row md">
            <div class="col-xl-11 col-lg-11 col-md-11 col-sm-12 col-xs-12">
              <%= render partial: "total_data" %>
            </div>
            <div class="col-xl-1 col-lg-1 col-md-1 col-sm-12 col-xs-12">
              <div class='input-group pull-right rotate--icon mt-3' id='total_ach'>
                <input type='text' class="form-control m-input day-btn" readonly  placeholder="Today"/>
                <input type='hidden' value="date" id="detail-value"/>
                <div class="input-group-append day-btn">
                          <span class="input-group-text">
                            <%= image_tag "v2/merchant/icons/down-b.svg", class:'rotate',id:'img--remove'%>
                          </span>
                </div>
              </div>
            </div>
          </div>
        </div>
        <% if  @user_permission.try(:ach_view_only) %>
        <div class="row">
          <div class="col-md-6 col-sm-12">
            <div class="select_number mb-0">
              <div class="mt-3 mr-2">
                Show
              </div>
              <div class="dropdown bootstrap-select form-control m-bootstrap-select m-bootstrap-select--pill m_ pagination_dropdown">
                <%= form_tag v2_merchant_instant_ach_index_path, method: :get, id:'instant_ach_filter' do  %>
                  <%#= select_tag "filter", options_for_select(@filters.map{|v|[v]}, selected: params[:filter].present? ? params[:filter] : "10") , :prompt => false, :required => true, class: "form-control m-bootstrap-select m-bootstrap-select--pill m_selectpicker pagination_dropdown", data: {confirm: "Are you sure ?"} %>
                  <%#= hidden_field_tag :wallet_id ,params[:wallet_id] %>
                  <div id="show--entries">
                    <%= select_tag "filter", options_for_select(@filters.map{|v|[v]}, selected: params[:filter].present? ? params[:filter] : "10") ,
                                   :prompt => false,
                                   :required => true,
                                   class: "form-control m-bootstrap-select m-bootstrap-select--pill m_selectpicker pagination_dropdown",
                                   data: {confirm: "Are you sure ?"}
                    %>
                    <%= hidden_field_tag :wallet_id ,params[:wallet_id] %>
                  </div>
                <% end %>
              </div>
              <div class="m--space-10"></div>
              <span class="mt-3 ml-2">
                      Entries
                    </span>
            </div>
          </div>
          <div class="col-md-6 col-sm-12">
            <%= form_for :q , url: "/v2/merchant/instant_ach" , html: {method: 'GET', id: "merchant_ach_table"} do |f| %>
              <div class="m-form__group">
                <div class="m-input-icon m-input-icon--left m-input-icon_datatable">
                  <%= f.search_field :name_cont , class: "form-control m-input search_input_datatable" , placeholder: "Search"%>
                  <%= hidden_field_tag :wallet_id ,params[:wallet_id] %>
                  <span class="m-input-icon__icon m-input-icon__icon--left">
                      <span>
                        <%= image_tag "v2/merchant/datatable/search.svg", class: 'win-img' %>
                      </span>
                    </span>

                </div>
              </div>

            <% end %>
          </div>
        </div>
          <% end %>
        <div class="table-data">
          <%= render partial: "ach_index_datatable" %>
        </div>
      </div>
    </div>

    <div class="m-portlet__body">
    </div>
  </div>

  <!--#######################    Modal Code #############################-->
  <section id="ach_section" class=""></section>
  <%= render 'v2/merchant/shared/ach_check_detail' %>
  <%= render 'v2/merchant/instant_ach/ach_void_modal' %>
  <%= render 'v2/merchant/instant_ach/ach_void_success' %>
  <%= render 'v2/merchant/shared/error_modal' %>
</div>
<%# render partial: 'v2/merchant/shared/export_modal', locals: {title: "Export E-Checks", type: TypesEnumLib::WorkerType::SendCheck} %>
<%# render partial: 'v2/merchant/shared/export_processing' %>
<!--#####################    end     ################################-->
<%= javascript_include_tag 'v2/merchant/bootstrap-daterangepicker' %>
<!--#####################    end     ################################-->
<%= render partial: 'v2/merchant/shared/export_modal', locals: {title: "Export ACH", type: TypesEnumLib::WorkerType::InstantACH} %>
