$("#balance").text("<%= j number_with_precision(@balance, precision:2, :delimiter => ',') %>");
<% if params[:type] == "check" %>
var fee_dollar = '<%= @fee_dollar%>'
var fee_perc = '<%= @fee_perc %>'
$('#fee_dollar1').val(fee_dollar)
$("#close-btn2").prop("disabled", false); 
$('#fee_perc1').val(fee_perc)
  <% if @location.present? %>
    <% if @location.try(:is_block) %>
      $("#check_name").prop("disabled", true);
      $("#check_recipient").prop("disabled", true);
      $("#check_amount").prop("disabled", true);
      $("#check_description").prop("disabled", true);
      $("#close-btn1").prop("disabled", true);
      $("#errormessage").css("display", "block").html("").html('<div class="alert alert-danger" role="alert"><a href="#" data-dismiss="alert" class="close"></a> <strong>$[BLOCKED_LOCATION]</strong></div>');
    <% elsif @location.try(:block_withdrawal) %>
      $("#check_name").prop("disabled", true);
      $("#check_recipient").prop("disabled", true);
      $("#check_amount").prop("disabled", true);
      $("#check_description").prop("disabled", true);
      $("#close-btn1").prop("disabled", true);
      $("#errormessage").css("display","block").html("").html('<div class="alert alert-danger" role="alert"><a href="#" data-dismiss="alert" class="close"></a> <strong>$[BLOCKED_CHECK_CONST]</strong></div>');
    <% else %>
if($("#location_id").children(":selected").val() != 0) {

    $("#check_name").prop("disabled", false);
    $("#check_recipient").prop("disabled", false);
    $("#check_amount").prop("disabled", false);
    $("#check_description").prop("disabled", false);
    $("#errormessage").css('display', 'none').html('');
    $("#close-btn1").prop("disabled", false);
}
    <% end %>

    <% if @location.check_limit_type == "Transaction" %>
    var check_limit = '<%= @check_limit%>'
    var check_limit_type = '<%= @check_limit_type %>'
    $('#checklimit').val(check_limit)
    $('#checklimittype').val(check_limit_type)
    var amount = $('#check_amount').val();
    if (amount != ''){
      if ( parseFloat(amount) > parseFloat(check_limit)){
        $('.amountlimit_error').html('').append('Exceeds Transaction Limit of $ '+parseFloat(check_limit).toFixed(2))
        if( ($('.recipient_field').val().length != 0 )  && ($('.decription_field').val().length != 0) && ($('.name_field').val().length != 0)  && ( $('.amountlimit_error').text() == '')){
          $('#close-btn1').attr('disabled', false);
        }else{
          $('#close-btn1').attr('disabled', true);
        }
      }else{
        $('.amountlimit_error').html('').append('')
        if( ($('.recipient_field').val().length != 0 )  && ($('.decription_field').val().length != 0) && ($('.name_field').val().length != 0)  && ( $('.amountlimit_error').text() == '')){
          $('#close-btn1').attr('disabled', false);
        }else{
          $('#close-btn1').attr('disabled', true);
        }
      }
    }
  <% elsif @location.check_limit_type == "Day" %>
    var check_limit = '<%= @check_limit%>'
    var check_limit_type = '<%= @check_limit_type %>'
    var total_count = '<%= @total_count %>'
    $('#checklimit').val(check_limit)
    $('#checktotalcount').val(total_count)
    $('#checklimittype').val(check_limit_type)
    var amount = $('#check_amount').val();
    if (amount != ''){
      var total_sum = parseFloat(amount)+ parseFloat(total_count)
      if ( total_sum > parseFloat(check_limit) ){
        $('.amountlimit_error').html('').append('Exceeds Daily Limit of $ '+parseFloat(check_limit).toFixed(2))
        if( ($('.recipient_field').val().length != 0 )  && ($('.decription_field').val().length != 0) && ($('.name_field').val().length != 0)  && ( $('.amountlimit_error').text() == '')){
          $('#close-btn1').attr('disabled', false);
        }else{
          $('#close-btn1').attr('disabled', true);
        }
      }else{
        $('.amountlimit_error').html('').append('')
        if( ($('.recipient_field').val().length != 0 )  && ($('.decription_field').val().length != 0) && ($('.name_field').val().length != 0) && ( $('.amountlimit_error').text() == '')){
          $('#close-btn1').attr('disabled', false);
        }else{
          $('#close-btn1').attr('disabled', true);
        }
      }
    }
  <% else %>
    var check_limit = '<%= @check_limit%>'
    var check_limit_type = '<%= @check_limit_type %>'
    var total_count = '<%= @total_count %>'
    $('#checklimit').val(check_limit)
    $('#checktotalcount').val(total_count)
    $('#checklimittype').val(check_limit_type)
    $('.amountlimit_error').html('').append('')
    if( ($('.recipient_field').val().length != 0 )  && ($('.decription_field').val().length != 0) && ($('.name_field').val().length != 0)  && ( $('.amountlimit_error').text() == '')){
      $('#close-btn1').attr('disabled', false);
    }
  <% end %>
<!--start of isos checks-->
  <% elsif @location.try(:block_withdrawal) %>
    $("#check_name").prop("disabled", true);
    $("#check_recipient").prop("disabled", true);
    $("#check_amount").prop("disabled", true);
    $("#check_description").prop("disabled", true);
    $("#close-btn1").prop("disabled", true);
    $("#errormessage").css("display", "block").html("").html('<div class="alert alert-danger" role="alert"><a href="#" data-dismiss="alert" class="close"></a> <strong>$[BLOCKED_CHECK_CONST]</strong></div>');
<% else %>
if($("#location_id").children(":selected").val() != 0) {
    <% if @balance == 0 %>
        $("#check_name").prop("disabled", true);
        $("#check_recipient").prop("disabled", true);
        $("#check_amount").prop("disabled", true);
        $("#check_description").prop("disabled", true);
        $("#close-btn1").prop("disabled", true);
        $("#errormessage").css("display","block").html("").html('<div class="alert alert-danger" role="alert"><a href="#" data-dismiss="alert" class="close"></a> <strong>Insufficient balance</strong></div>');
    <% else%>

    $("#check_name").prop("disabled", false);
    $("#close-btn2").prop("disabled", false);
        $("#check_recipient").prop("disabled", false);
        $("#check_amount").prop("disabled", false);
        $("#check_description").prop("disabled", false);
        $("#banks").prop("disabled", false);
        $("#zip_code").prop("disabled", false);
        $("#errormessage").css('display','none').html('');
//        $("#no-wallet-check").css('display','none');
    <%end %>
}else {
    $("#errormessage").css("display", "none")
}

<% if @user.system_fee.try(:[],'check_limit_type').present? && @user.system_fee.try(:[],'check_limit_type') == "Transaction" %>
var check_limit = '<%= @check_limit%>'
var check_limit_type = '<%= @check_limit_type %>'
$('#checklimit').val(check_limit)
$('#checklimittype').val(check_limit_type)
var amount = $('#check_amount').val();
if (amount != ''){
    if ( parseFloat(amount) > parseFloat(check_limit)){
        $('.amountlimit_error').html('').append('Exceeds Transaction Limit of $ '+parseFloat(check_limit).toFixed(2))
        if( ($('.recipient_field').val().length != 0 )  && ($('.decription_field').val().length != 0) && ($('.name_field').val().length != 0)  && ( $('.amountlimit_error').text() == '')){
            $('#close-btn1').attr('disabled', false);
        }else{
            $('#close-btn1').attr('disabled', true);
        }
    }else{
        $('.amountlimit_error').html('').append('')
        if( ($('.recipient_field').val().length != 0 )  && ($('.decription_field').val().length != 0) && ($('.name_field').val().length != 0)  && ( $('.amountlimit_error').text() == '')){
            $('#close-btn1').attr('disabled', false);
        }else{
            $('#close-btn1').attr('disabled', true);
        }
    }
}
<% elsif @user.system_fee.try(:[],'check_limit_type').present? && @user.system_fee.try(:[],'check_limit_type') == "Day" %>
var check_limit = '<%= @check_limit%>'
var check_limit_type = '<%= @check_limit_type %>'
var total_count = '<%= @total_count %>'
$('#checklimit').val(check_limit)
$('#checktotalcount').val(total_count)
$('#checklimittype').val(check_limit_type)
var amount = $('#check_amount').val();
if (amount != ''){
    var total_sum = parseFloat(amount)+ parseFloat(total_count)
    if ( total_sum > parseFloat(check_limit) ){
        $('.amountlimit_error').html('').append('Exceeds Daily Limit of $ '+parseFloat(check_limit).toFixed(2))
        if( ($('.recipient_field').val().length != 0 )  && ($('.decription_field').val().length != 0) && ($('.name_field').val().length != 0)  && ( $('.amountlimit_error').text() == '')){
            $('#close-btn1').attr('disabled', false);
        }else{
            $('#close-btn1').attr('disabled', true);
        }
    }else{
        $('.amountlimit_error').html('').append('')
        if( ($('.recipient_field').val().length != 0 )  && ($('.decription_field').val().length != 0) && ($('.name_field').val().length != 0) && ( $('.amountlimit_error').text() == '')){
            $('#close-btn1').attr('disabled', false);
        }else{
            $('#close-btn1').attr('disabled', true);
        }
    }
}
<% else %>
var check_limit = '<%= @check_limit%>'
var check_limit_type = '<%= @check_limit_type %>'
var total_count = '<%= @total_count %>'
$('#checklimit').val(check_limit)
$('#checktotalcount').val(total_count)
$('#checklimittype').val(check_limit_type)
$('.amountlimit_error').html('').append('')
if( ($('.recipient_field').val().length != 0 )  && ($('.decription_field').val().length != 0) && ($('.name_field').val().length != 0)  && ( $('.amountlimit_error').text() == '')){
    $('#close-btn1').attr('disabled', false);
}
<% end %>

  <% end %>
<% elsif params[:type] == "push_to_card" %>
  var fee_dollar = '<%= @fee_dollar%>'
  var fee_perc = '<%= @fee_perc %>'
  $('#fee_dollar').val(fee_dollar)
  $('#fee_perc').val(fee_perc)
 <% if @location.present? %>
    <% if @location.try(:is_block) %>
      $("#check_name").prop("disabled", true);
      $("#check_recipient").prop("disabled", true);
      $("#check_amount").prop("disabled", true);
      $("#check_description").prop("disabled", true);
      $("#banks").prop("disabled", true);
      $("#zip_code").prop("disabled", true);
      $("#close-btn1").prop("disabled", true);
      $("#errormessage").css("displayr", "block").html("").html('<div class="alert alert-danger" role="alert"><a href="#" data-dismiss="alert" class="close"></a> <strong>$[BLOCKED_LOCATION]</strong></div>');
    <% elsif @location.try(:push_to_card) %>
      $("#check_name").prop("disabled", true);
      $("#check_recipient").prop("disabled", true);
      $("#check_amount").prop("disabled", true);
      $("#check_description").prop("disabled", true);
      $("#banks").prop("disabled", true);
      $("#zip_code").prop("disabled", true);
      $("#close-btn1").prop("disabled", true);
      $("#errormessage").css("display","block").html("").html('<div class="alert alert-danger" role="alert"><a href="#" data-dismiss="alert" class="close"></a> <strong>$[BLOCKED_P2C_CONST]</strong></div>');
    <% else %>
      $("#check_name").prop("disabled", false);
      $("#check_recipient").prop("disabled", false);
      $("#check_amount").prop("disabled", false);
      $("#check_description").prop("disabled", false);
      $("#banks").prop("disabled", false);
      $("#zip_code").prop("disabled", false);
      $("#close-btn1").prop("disabled", false);
      $("#errormessage").css('display','none').html('');

      <% if @location.push_to_card_limit_type == "Day" %>
        var push_to_card_limit = '<%= @push_to_card_limit%>'
        var push_to_card_limit_type = '<%= @push_to_card_limit_type %>'
        var total_count = '<%= @total_count %>'
        $('#pushlimit').val(push_to_card_limit)
        $('#pushtotalcount').val(total_count)
        $('#pushlimittype').val(push_to_card_limit_type)
      <% else %>
        var push_to_card_limit = '<%= @push_to_card_limit%>'
        var push_to_card_limit_type = '<%= @push_to_card_limit_type %>'
        $('#pushlimit').val(push_to_card_limit)
        $('#pushlimittype').val(push_to_card_limit_type)
      <% end %>
    <% end %>
 <%elsif @user.push_to_card %>
    $("#check_name").prop("disabled", true);
    $("#check_recipient").prop("disabled", true);
    $("#check_amount").prop("disabled", true);
    $("#check_description").prop("disabled", true);
    $("#banks").prop("disabled", true);
    $("#zip_code").prop("disabled", true);
    $("#close-btn1").prop("disabled", true);
    $("#errormessage").css("display", "block").html("").html('<div class="alert alert-danger" role="alert"><a href="#" data-dismiss="alert" class="close"></a> <strong>$[BLOCKED_P2C_CONST]</strong></div>');
<% else %>
    $("#check_name").prop("disabled", false);
    $("#check_recipient").prop("disabled", false);
    $("#check_amount").prop("disabled", false);
    $("#check_description").prop("disabled", false);
    $("#banks").prop("disabled", false);
    $("#zip_code").prop("disabled", false);
    $("#close-btn1").prop("disabled", false);
    $("#errormessage").css('display','none').html('');
  <% if @user.system_fee.try(:[],'push_to_card_limit_type').present? && @user.system_fee.try(:[],'push_to_card_limit_type') == "Day" %>
    var push_to_card_limit = '<%= @push_to_card_limit%>'
    var push_to_card_limit_type = '<%= @push_to_card_limit_type %>'
    var total_count = '<%= @total_count %>'
    $('#pushlimit').val(push_to_card_limit)
    $('#pushtotalcount').val(total_count)
    $('#pushlimittype').val(push_to_card_limit_type)
  <% else %>
    var push_to_card_limit = '<%= @push_to_card_limit%>'
    var push_to_card_limit_type = '<%= @push_to_card_limit_type %>'
    $('#pushlimit').val(push_to_card_limit)
    $('#pushlimittype').val(push_to_card_limit_type)
  <% end %>
 <% end %>

<% else %>
var fee_dollar = '<%= @fee_dollar%>'
var fee_perc = '<%= @fee_perc %>'
$('#fee_dollar').val(fee_dollar)
$('#fee_perc').val(fee_perc)
<% if @banks.present? %>
  <% @banks = @banks.map { |loc| loc if loc.account_no.present?}.compact %>
<% end %>
<% if !@banks.present? && @user.merchant? %>
  $("#bank_account_name").html('<option value="" >No Bank Accounts</option>');
<% elsif @banks.present? && @banks.length == 1 %>
  <% d_account =  "****#{(AESCrypt.decrypt("#{@location.id}-#{ENV['ACCOUNT_ENCRYPTOR']}", @banks[0].account_no)).try(:last, 4)}" %>
  $("#bank_account_name").attr("disabled","disabled");
  $("#bank_account_name").html('<option value="<%= @banks[0].id %>" > <%= d_account %></option>');
  $("#bank_account_name").after("<input type='hidden' name='bank_account_name' value='<%= @banks[0].id %>'>");
<% else %>
  <% if @user.iso? || @user.agent? || @user.affiliate? %>
    if($("#location_id").val() === ""){
        $("#bank_account_name").html('')
        $("#bank_account_name").append('<option value="">Bank</option>')
    }else{
      <% if @user.try(:[],'system_fee').try(:[],'bank_account').present? %>
        <% begin %>
          <% d_account = AESCrypt.decrypt("#{@user.id}-#{ENV['ACCOUNT_ENCRYPTOR']}",@user['system_fee']['bank_account']) %>
          <% d_account = "****#{d_account.last(4)}" %>
          $("#bank_account_name").html('').append('<option value="<%= @user.try(:wallets).try(:first).try(:primary).try(:id) %>" > <%= d_account %></option>');
        <% rescue %>
        <% end %>
      <% end %>
    }
  <% else %>
  $("#bank_account_name").removeAttr("disabled");
  $("#bank_account_name").html('<option value="" >Select Bank Account</option>');
<% @banks.map do |loc| %>//this code below is use for ach transaction for populated list of banks , of a location
        <% if loc.account_no.present? %>
          <% d_account =  "****#{(AESCrypt.decrypt("#{@location.id}-#{ENV['ACCOUNT_ENCRYPTOR']}", loc.account_no)).last(4)}" %>
          $("#bank_account_name").append('<option value="<%= loc.id %>" > <%= d_account %></option>');
       <% end %>
    <% end %>
  <% end %>
<% end %>
<% if @location.present? %>
    <% if @location.try(:is_block) %>
    $("#amount").prop("disabled", true);
    $("#description").prop("disabled", true);
    $("#errormessage").css("display", "block").html("").html('<div class="alert alert-danger" role="alert"><a href="#" data-dismiss="alert" class="close"></a> <strong>$[BLOCKED_LOCATION]</strong></div>');
    $("#submit_button").attr('disabled','disabled');
    <% elsif @location.try(:block_ach) %>
    $("#amount").prop("disabled", true);
    $("#description").prop("disabled", true);
    $("#errormessage").css("display","block").html("").html('<div class="alert alert-danger" role="alert"><a href="#" data-dismiss="alert" class="close"></a> <strong>$[BLOCKED_ACH_CONST]</strong></div>');
    $("#submit_button").attr('disabled','disabled');
    <% elsif @location.bank_details.blank?  %>
    $("#amount").prop("disabled", true);
    $("#description").prop("disabled", true);
    if($("#location_id").children(":selected").val() != 0) {
    $("#errormessage").css("display", "block").html("").html('<div class="alert alert-danger" role="alert"><a href="#" data-dismiss="alert" class="close"></a><strong>$[BANK_NOT_ADDED]</strong></div>');
    }
    $("#submit_button").attr('disabled','disabled');
    <% else %>
    $("#amount").prop("disabled", false);
    $("#description").prop("disabled", false);
    $("#errormessage").css('display', 'none').html('');
    $("#submit_button").prop('disabled', false);
    <% end %>
    <% if @location.ach_limit_type == "Transaction" %>
    var ach_limit = '<%= @ach_limit%>'
    var ach_limit_type = '<%= @ach_limit_type %>'
    $('#achlimit').val(ach_limit)
    $('#achlimittype').val(ach_limit_type)

    <% elsif @location.ach_limit_type == "Day" %>
    var ach_limit = '<%= @ach_limit%>'
    var ach_limit_type = '<%= @ach_limit_type %>'
    var total_count = '<%= @total_count %>'
    $('#achlimit').val(ach_limit)
    $('#achtotalcount').val(total_count)
    $('#achlimittype').val(ach_limit_type)
    <% end %>
    $("#account_fields").html("").html("<%= j render(partial: 'account_fields', locals: {bank_account_type: @location.try(:bank_account_type), bank_account: @bank_account, bank_routing: @location.try(:bank_routing), location_email: @location.try(:email) }) %>");
    <% if @location.try(:is_block) %>
    $("#errormessage").css("display", "block").html("").html('<div class="alert alert-danger" role="alert"><a href="#" data-dismiss="alert" class="close"></a> <strong>$[BLOCKED_LOCATION]</strong></div>');
    $("#submit_button").attr('disabled','disabled');
    <% elsif @location.try(:block_ach) %>
    $("#errormessage").css("display","block").html("").html('<div class="alert alert-danger" role="alert"><a href="#" data-dismiss="alert" class="close"></a> <strong>$[BLOCKED_ACH_CONST]</strong></div>');
    $("#submit_button").attr('disabled','disabled');

<% elsif @location.bank_details.blank?  %>
    if($("#location_id").children(":selected").val() != 0) {
        $("#errormessage").css("display", "block").html("").html('<div class="alert alert-danger" role="alert"><a href="#" data-dismiss="alert" class="close"></a><strong>$[BANK_NOT_ADDED]</strong></div>');
    }
      $("#submit_button").attr('disabled','disabled');
    <% else %>
    $("#errormessage").css('display','none').html('');
    $("#submit_button").prop('disabled',false);
    <% end %>
  <%elsif @user.block_ach %>
    $("#check_name").prop("disabled", true);
    $("#check_recipient").prop("disabled", true);
    $("#check_amount").prop("disabled", true);
    $("#check_description").prop("disabled", true);
    $("#banks").prop("disabled", true);
    $("#zip_code").prop("disabled", true);
    $("#close-btn1").prop("disabled", true);
    $("#errormessage").css("display", "block").html("").html('<div class="alert alert-danger" role="alert"><a href="#" data-dismiss="alert" class="close"></a> <strong>$[BLOCKED_ACH_CONST]</strong></div>');

<% else %>
if($("#location_id").children(":selected").val() != 0) {
    $("#amount").prop("disabled", false);
    $("#description").prop("disabled", false);
    $("#errormessage").css('display', 'none').html('');
    $("#submit_button").prop('disabled', false);
}
<% if @user.system_fee.try(:[],'ach_limit_type').present? && @user.system_fee.try(:[],'ach_limit_type') == "Transaction" %>
    var ach_limit = '<%= @user.system_fee.try(:[],'ach_limit')%>'
    var ach_limit_type = '<%= @user.system_fee.try(:[],'ach_limit_type') %>'
    $('#achlimit').val(ach_limit)
    $('#achlimittype').val(ach_limit_type)

<% elsif @user.system_fee.try(:[],'ach_limit_type') == "Day" %>
    var ach_limit = '<%= @ach_limit%>'
    var ach_limit_type = '<%= @ach_limit_type %>'
    var total_count = '<%= @total_count %>'
    $('#achlimit').val(ach_limit)
    $('#achtotalcount').val(total_count)
    $('#achlimittype').val(ach_limit_type)

<% end %>
<% end %>
<% end %>
$('.spnr').fadeOut("slow")