<% giftcard = AppConfig.try(:giftcard).try(:first) %>
<% if (giftcard.present? && giftcard.boolValue == false)  %>
  <%= render 'shared/maintenance_modal', locals: {title: 'Giftcard is Blocked', body: 'We apologize for the inconvenience, however this feature is not available at this time as Giftcard is Inactive.'} %>
<% end %>
<div class="m-subheader">
  <div class="d-flex align-items-center">
    <div class="mr-auto">
      <ul class="m-subheader__breadcrumbs m-nav m-nav--inline set-path">
        <li class="m-nav__item">
          <a href="#" class="m-nav__link">
            <span class="my-order-nav">
                Withdraw
            </span>
          </a>
        </li>
        <li class="m-nav__separator">
          <%= image_tag "v2/merchant/icons/angle.svg"%>
        </li>
        <li class="m-nav__item">
          <a href="<%= v2_partner_giftcards_path %>" class="m-nav__link">
              <span class="order-active">
                My Gift Card
              </span>
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>

<div class="m-content">
  <div class="row">
    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-xs-12">
      <div class="simple-36-normal-text mb-4">
        My Gift Cards
      </div>
    </div>
    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-xs-12">
      <div class="mb-4 pull-right">
        <a href="#" class="btn activity_log_btn text-center  pull-right m-btn m-btn--icon pull-left mr-3 slide-toggle slide-toggle-open" data-type="giftcard">
              <span class="pl-3 activity_log_text">
                <span>
                  Activity Log
                </span>
                 <i class="fa fa_activity_log">
                  <%= image_tag "v2/merchant/permission/activity_log.svg" %>
                </i>
              </span>
        </a>
        <% if (giftcard.present? && giftcard.boolValue == false)  %>
          <a data-toggle="modal" data-target="#maintenance-modal" class="btn btn-default btn-preview-invoice">Buy Gift Cards</a>
        <% else %>
          <a href="<%= buy_giftcard_v2_partner_giftcards_path %>" class="btn btn-default btn-preview-invoice">Buy Gift Cards</a>
        <% end %>
      </div>
    </div>
  </div>
  <div class="m-portlet m-portlet--mobile m-portal_datatable">
    <div class="m-portlet__body">
      <!--begin: Datatable -->
      <%= render partial: "v2/partner/shared/datatable_search",locals: {filter_path: v2_partner_giftcards_path,search_id: "client_search"} %>
      <%= render partial: "v2/partner/giftcards/giftcards_datatable" %>
    </div>
  </div>
</div>
<%= javascript_include_tag "v2/partner/giftcards" %>
<!-- END EXAMPLE TABLE PORTLET-</div>