<%= select_tag( "location_id",
            options_for_select([[@locations.try(:name), @locations.try(:id)]], selected: @locations.id),
            class: "form-control m-bootstrap-select partner-dropdown m-bootstrap-select--pill m_selectpicker",
            data: {
                # remote: true,
                url: location_data_v2_partner_instant_ach_index_path(type: "instant_ach")
            },include_blank: "Choose Account",
            :required => true
) %>