
<style type="text/css">
 .container {
  float: left;
  position: relative;
  margin-top: 50px;
  width: 500px;
  height: 300px;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0);
  transition: background 0.5s ease;
}

.container:hover .overlay {
  display: block;
  background: rgba(0, 0, 0, .3);
}

.img {
  position: absolute;
  width: 500px;
  height: 300px;
  left: 0;
}

.title {
  position: absolute;
  width: 500px;
  left: 0;
  top: 120px;
  font-weight: 700;
  font-size: 30px;
  text-align: center;
  text-transform: uppercase;
  color: white;
  z-index: 1;
  transition: top .5s ease;
}

.container:hover .title {
  top: 90px;
}

.button {
  position: absolute;
  width: 500px;
  left:0;
  top: 180px;
  text-align: center;
  opacity: 0;
  transition: opacity .35s ease;
}

.button a {
  width: 200px;
  padding: 12px 48px;
  text-align: center;
  color: white;
  border: solid 2px white;
  z-index: 1;
}

.container:hover .button {
  opacity: 1;
}

</style> 
<div style="margin:50px; margin-top: 80px;">
<%=  simple_form_for(@image,url: add_images_path(params[:add_id]),html: { multipart: true }) do |f| %>
<span class="btn btn-default btn-file">
      <%= f.file_field :add_image, label: "Image" %>
      </span>

  <div class="form-group">
  <% f.submit "Upload", class: 'btn btn-primary' %>
  </div>
<% end %>
</div>

<article class="content">
  <% @images.each do |image| %>
    <div class="container">
    <img src="<%=image.add_image.url%>" alt="" class= "img" />
    <p class="title">DELETE</p>
    <div class="overlay"></div>
    <div class="button">
    <%= link_to  add_image_path(@add,image), method: :delete, data: { confirm: 'Are you sure?' } do %>
    &times;<% end %></div>
    </div>       
  <%end%> 
</article>

<script type="text/javascript">
    $('#datatable-keytable').DataTable({
    responsive: true,
        "sScrollX": false,
        "scrollX": false, 
        "columnDefs": [
            { "visible": true,"width": "1%", "targets": 0 },
            { "visible": true,"width": "3%", "targets": 1 },
            { "visible": true,"width": "3%", "targets": 2 }
        ]
    });
    $(document).ready(function (e) {
    $('#imageUploadForm').on('submit',(function(e) {
        e.preventDefault();
        var formData = new FormData(this);

        $.ajax({
            type:'POST',
            url: $(this).attr('action'),
            data:formData,
            cache:false,
            contentType: false,
            processData: false,
            success:function(data){
                console.log("success");
                console.log(data);
            },
            error: function(data){
                console.log("error");
                console.log(data);
            }
        });
    }));

    $("#ImageBrowse").on("change", function() {
        $("#imageUploadForm").submit();
    });


document.getElementById("image_add_image").onchange = function() {
    document.getElementById("new_image").submit();
};
});


</script>