<%= javascript_include_tag asset_path('score_meter/raphael.min.js'), 'data-turbolinks-track' => 'reload' %>
<%= javascript_include_tag asset_path('score_meter/kuma-gauge-jquery.min.js'), 'data-turbolinks-track' => 'reload' %>
<%= stylesheet_link_tag asset_path("merchant/maxmind/details"), media: 'all', 'data-turbolinks-track' => 'reload' %>

<% insight_parsed = parsing_insight_for_detail(@minfraud_insight) %>


<!-- Modal -->
<div class="modal show fade show-detail modal-fixed-footer" tabindex="-1" role="dialog" aria-labelledby="permission_modalLabel" aria-hidden="true">
  <div class="modal-dialog-minfraud">
    <div class="modal-header text-left bg-primary text-white">
      <h4 class="modal-title"><i class="fa fa-money"></i><span class="ml-2">Transaction Risk Details</span></h4>
      <button type="button" class="close" data-dismiss="modal" id="close_btn1">&times;</button>
    </div>
    <div class="modal-content container-fluid">

      <div class="row">
        <div class="col-md-8">
          <div class="padding-t-b-20-px-minfraud">
            <div class="col-md-12 transaction_section">
              <div class="risk-status-section">
                <div class="row padding-l-r-4-minfraud padding-t-b-20-px-minfraud">
                  <div class="text-center pt-3 col-md-2">
                    <%= maxmind_minfraud_detail_status(@minfraud_result).html_safe %>
                  </div>
                  <div class="col-md-6">
                    <%= maxmind_minfraud_description(@minfraud_result.qc_action) %>
                  </div>
                  <div class="col-md-2">
                    <div class="risk-score-section">
                      <div class="text-center pt-2 risk-score-ip-section">Risk Score</div>
                      <div class="js-gauge risk-score-guage gauge"></div>
                      <div id="ac-risk-score" class="text-center bold-minfraud"><%= @minfraud_result.risk_score %></div>
                    </div>
                  </div>
                  <div class="col-md-2">
                    <div class="risk-score-section">
                      <div class="text-center pt-2 risk-score-ip-section">Ip Risk Score</div>
                      <div class="js-gauge ip-risk-score-guage gauge"></div>
                      <div id="ip-risk-score" class="text-center bold-minfraud"><%= insight_parsed["ip_risk_score"] %></div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">

                <!--                <div class="col-md-6">-->
                <!--                  <span class="bold-minfraud">IP Address</span><br/>-->
                <!--                  -->
                <!--                </div>-->
              </div>
            </div>
          </div>
          <div class="row mb-5">
            <div class="col-md-12">
              <div class="" data-toggle="collapse" data-target="#demo3" aria-expanded="true" >
                <h3>minFraud Insights Outputs<!--<i class="fa" aria-hidden="true"></i> --></h3>
              </div>
            </div>
            <div class="col-md-12 collapse show" id="demo3">
              <div class="row">
                <div class="col-md-6">
                  <div class="card mb-2 rounded-0">
                    <div class="card-header">
                      <div class="col-md-12" data-toggle="collapse" data-target="#demo" aria-expanded="true" >
                        IP Address Checks<span class="pull-right"><%= insight_parsed["ip_address_minfraud"] %></span>
                        <!--                        <i class="fa pull-right" aria-hidden="true"></i>-->
                      </div>
                    </div>
                    <div class="card-body">
                      <div id="demo" class="collapse show">
                        <table class="table mb-0">
                          <tbody>
                          <tr>
                            <td>High Risk Country</td>
                            <% if insight_parsed["high_risk_country"] %>
                              <td class="width-10"><i class="fa fa-exclamation-triangle"></i></td>
                              <td>YES</td>
                            <% else %>
                              <td class="width-10"><i class="fa fa-check-circle"></i></td>
                              <td>NO</td>
                            <% end %>
                          </tr>
                          <tr>
                            <td>Time Zone</td>
                            <td></td>
                            <td><%= insight_parsed["time_zone"] %></td>
                          </tr>
                          <tr>
                            <td>City</td>
                            <td></td>
                            <td><%= insight_parsed["city"] %></td>
                          </tr>
                          <tr>
                            <td>Country</td>
                            <td></td>
                            <td><%= insight_parsed["country"] %></td>
                          </tr>
                          <tr>
                            <td>User type</td>
                            <td></td>
                            <td><%= insight_parsed["user_type"] %></td>
                          </tr>
                          <tr>
                            <td class="width-40">Local date/time of IP address</td>
                            <td></td>
                            <td class="timeutc" ><%=  insight_parsed["local_date_time"].to_datetime.strftime("%m/%d/%Y %H:%M %p ") %></td>
                          </tr>
                          </tbody>
                        </table>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="card rounded-0">
                    <div class="card-header">
                      <div class="col-md-12" data-toggle="collapse" data-target="#demo1" aria-expanded="true" >
                        Financial Institution Checks
                        <!--                        <i class="fa pull-right" aria-hidden="true"></i>-->
                      </div>
                    </div>
                    <div class="card-body">
                      <div id="demo1" class="collapse show">
                        <table class="table mb-0">
                          <tbody>
                          <tr>
                            <td class="width-40">Name</td>
                            <td class="width-10"></td>
                            <td><%= insight_parsed["credit_card_name"] %></td>
                          </tr>
                          <tr>
                            <td>Name match</td>
                            <td></td>
                            <td><%= insight_parsed["credit_card_name_matches"] %></td>
                          </tr>
                          <tr>
                            <td>Phone</td>
                            <td></td>
                            <td><%= insight_parsed["issuer_phone"] %></td>
                          </tr>
                          <tr>
                            <td>Phone match</td>
                            <td></td>
                            <td><%= insight_parsed["issuer_phone_matches"] %></td>
                          </tr>
                          <tr>
                            <td>IIN country</td>
                            <td></td>
                            <td><%= insight_parsed["iin_country"] %></td>
                          </tr>
                          <tr>
                            <td>IIN country matches billing country</td>
                            <% if insight_parsed["iin_country_matches_billing_country"] %>
                              <td><i class="fa fa-check-circle"></i></td>
                              <td> YES </td>
                            <% else %>
                              <td><i class="fa fa-exclamation-triangle"></i></td>
                              <td> NO </td>
                            <% end %>
                          </tr>
                          <tr>
                            <td>Is prepaid card</td>
                            <% if insight_parsed["is_prepaid_card"] %>
                              <td><i class="fa fa-exclamation-triangle"></i></td>
                              <td>YES</td>
                            <% else %>
                              <td><i class="fa fa-check-circle"></i></td>
                              <td>NO</td>
                            <% end %>

                          </tr>
                          <tr>
                            <td>Is virtual card</td>
                            <% if insight_parsed["is_virtual_card"] %>
                              <td><i class="fa fa-exclamation-triangle"></i></td>
                              <td>YES</td>
                            <% else %>
                              <td><i class="fa fa-check-circle"></i></td>
                              <td>NO</td>
                            <% end %>
                          </tr>
                          <tr>
                            <td>Credit card type</td>
                            <td></td>
                            <td><%= insight_parsed["credit_card_type"] %></td>
                          </tr>
                          <tr>
                            <td>Credit card brand</td>
                            <td></td>
                            <td><%= insight_parsed["credit_card_brand"] %></td>
                          </tr>
                          </tbody>
                        </table>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-md-6">
                  <div class="card rounded-0">
                    <div class="card-header">
                      <div class="col-md-12" data-toggle="collapse" data-target="#demo2" aria-expanded="true" >
                        Billing Address Checks
                        <!--                        <i class="fa pull-right" aria-hidden="true"></i>-->
                      </div>
                      <!--<button type="button" class="mb-0" data-toggle="collapse" data-target="#demo">Simple collapsible</button>-->
                    </div>
                    <div class="card-body">
                      <div id="demo2" class="collapse show">
                        <table class="table mb-0">
                          <tbody>
                          <tr>
                            <td class="width-40">Billing postal code is in the billing city</td>
                            <% if insight_parsed["billing_postal_address_is_in_billing_city"] %>
                              <td class="width-10"><i class="fa fa-check-circle"></i></td>
                              <td> YES </td>
                            <% else %>
                              <td class="width-10"><i class="fa fa-exclamation-triangle"></i></td>
                              <td> NO </td>
                            <% end %>
                          </tr>
                          <tr>
                            <td>Billing postal code latitude</td>
                            <td></td>
                            <td><%= insight_parsed["billing_postal_code_latitude"] %></td>
                          </tr>
                          <tr>
                            <td>Billing postal code longitude</td>
                            <td></td>
                            <td><%= insight_parsed["billing_postal_code_longitude"] %></td>
                          </tr>
                          <tr>
                            <td>Billing postal code to IP address distance</td>
                            <td></td>
                            <td><%= insight_parsed["billing_postal_code_to_IP_address_distance"] %></td>
                          </tr>
                          <tr>
                            <td>Billing address is in IP country</td>
                            <% if insight_parsed["billing_address_is_in_IP_country"] %>
                              <td><i class="fa fa-check-circle"></i></td>
                              <td>YES</td>
                            <% else %>
                              <td><i class="fa fa-exclamation-triangle"></i></td>
                              <td>NO</td>
                            <% end %>
                          </tr>
                          </tbody>
                        </table>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="card rounded-0">
                    <div class="card-header">
                      <div class="col-md-12" data-toggle="collapse" data-target="#demo21" aria-expanded="true" >
                        Shipping Address Checks
                        <!--                        <i class="fa pull-right" aria-hidden="true"></i>-->
                      </div>
                      <!--<button type="button" class="mb-0" data-toggle="collapse" data-target="#demo">Simple collapsible</button>-->
                    </div>
                    <div class="card-body">
                      <div id="demo21" class="collapse show">
                        <table class="table mb-0">
                          <tbody>
                          <tr>
                            <td class="width-40">Shipping postal code is in the shipping city</td>
                            <% if insight_parsed["shipping_postal_code_is_in_the_shipping_city"] %>
                              <td class="width-10"><i class="fa fa-check-circle"></i></td>
                              <td>YES</td>
                            <% else %>
                              <td class="width-10"><i class="fa fa-exclamation-triangle"></i></td>
                              <td>NO</td>
                            <% end %>
                          </tr>
                          <tr>
                            <td>Shipping postal code latitude</td>
                            <td></td>
                            <td><%= insight_parsed["shipping_postal_code_latitude"] %></td>
                          </tr>
                          <tr>
                            <td>Shipping postal code longitude</td>
                            <td></td>
                            <td><%= insight_parsed["shipping_postal_code_longitude"] %></td>
                          </tr>
                          <tr>
                            <td>Shipping postal code to IP address distance</td>
                            <td></td>
                            <td><%= insight_parsed["shipping_postal_code_to_IP_address_distance"] %></td>
                          </tr>
                          <tr>
                            <td>Shipping address is in IP country</td>

                            <% if insight_parsed["shipping_address_is_in_IP_country"] %>
                              <td class="width-10"><i class="fa fa-check-circle"></i></td>
                              <td>YES</td>
                            <% else %>
                              <td class="width-10"><i class="fa fa-exclamation-triangle"></i></td>
                              <td>NO</td>
                            <% end %>
                          </tr>
                          <tr>
                            <td>High risk shipping address</td>
                            <td></td>
                            <td><%= insight_parsed["high_risk_shipping_address"] %></td>
                          </tr>
                          <tr>
                            <td>Shipping address to billing address distance</td>
                            <td></td>
                            <td><%= insight_parsed["shipping_address_distance_to_billing_address"] %></td>
                          </tr>
                          </tbody>
                        </table>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6">
                  <div class="card rounded-0">
                    <div class="card-header">
                      <div class="col-md-12" data-toggle="collapse" data-target="#demo31" aria-expanded="true" >
                        Email Checks
                        <!--                        <i class="fa pull-right" aria-hidden="true"></i>-->
                      </div>
                      <!--<button type="button" class="mb-0" data-toggle="collapse" data-target="#demo">Simple collapsible</button>-->
                    </div>
                    <div class="card-body">
                      <div id="demo31" class="collapse show">
                        <table class="table mb-0">
                          <tbody>
                          <tr>
                            <td class="width-40">Free email</td>
                            <% if insight_parsed["free_email"] %>
                              <td class="width-10"><i class="fa fa-exclamation-triangle"></i></td>
                              <td>YES</td>
                            <% else %>
                              <td class="width-10"><i class="fa fa-check-circle"></i></td>
                              <td>NO</td>
                            <% end %>
                          </tr>
                          <tr>
                            <td>Carder email</td>
                            <% if insight_parsed["carder_email"] %>
                              <td><i class="fa fa-exclamation-triangle"></i></td>
                              <td>YES</td>
                            <% else %>
                              <td><i class="fa fa-check-circle"></i></td>
                              <td>NO</td>
                            <% end %>
                          </tr>
                          <tr>
                            <td>Email first seen</td>
                            <td></td>
                            <td><%= insight_parsed["email_first_seen"] %></td>
                          </tr>
                          </tbody>
                        </table>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-4 mt-5">
          <h4> Order Details</h4>

          <div class="mt-5">
            <div class="row mergin-left-10">
              <div class="colr-md-6 order-detail-padding "><i class="fa fa-cc-visa font_size_34px" aria-hidden="true"></i></div>
              <div class="colr-md-6 order-detail-padding margin-left-order-22">XXXX<%= @minfraud_result.main_transaction.last4 %> </div>
            </div>
            <div class="row mergin-left-10">
              <div class="colr-md-6 order-detail-padding"><b>Transaction ID</b></div>
              <div class="colr-md-6 order-detail-padding margin-left-order-15">
                <% txn_id = @minfraud_result.main_transaction.seq_transaction_id %>
                <a href="#" id="tx_idd-maxmind"  ><%= txn_id.first(30) %>...</a>
                <div class="none" id="tx_id-maxmind">
                  <div id="tx_id6-maxmind">Tx Id</div>
                  <div id="sequence_id1-maxmind">
                    <%= txn_id %>
                  </div>
                </div>
                <%#= @minfraud_result.main_transaction.seq_transaction_id.truncate(25)%>
              </div>
            </div>
            <div class="row mergin-left-10">
              <div class="colr-md-6 order-detail-padding"><b>Transaction Time</b></div>
              <div class="colr-md-6 order-detail-padding margin-left-order-10 modaltime"><%=  @minfraud_result.main_transaction.created_at %></div>
            </div>
          </div>

          <div class="row mt-5">
            <div class="col-md-12 height-300">
              <table class="width-inherit table border-bottom">
                <%if @minfraud_result.main_transaction.present? && @minfraud_result.main_transaction.products.present? %>
                  <%@minfraud_result.main_transaction.products.each do |p| %>
                      <tr>
                        <td class="width-40">
                          <p class="color-light-black">
                            #<%= @minfraud_result.main_transaction.order_id %>:<span><%= p.name%></span>
                          </p>
                          <b class="color-light-black">Today</b>
                        </td>
                        <% p_amount = p.quantity * p.amount %>
                        <td class="width-40"><h5><%=number_with_precision(number_to_currency(p_amount), precision: 2) %></h5></td>
                      </tr>
                  <% end %>
                <% end %>
              </table>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <div class="row">
                <div class="col-md-6">
                  <h6 class="color-light-black">Tax</h6>
                </div>
                <div class="col-md-6">
                  <h5 class="color-parrot-amount">
                    <%= number_with_precision(number_to_currency(@minfraud_result.main_transaction.tax), precision: 2) %></h5>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6">
                  <h4 class="color-light-black">Total</h4>
                </div>
                <div class="col-md-6">
                  <h3 class="color-parrot-amount">
                    <%= number_with_precision(number_to_currency(@minfraud_result.main_transaction.total_amount), precision: 2) %></h3>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <% if @minfraud_result.present? && @minfraud_result.qc_action == TypesEnumLib::RiskType::PendingReview %>
                <div class="row mt-5">
                  <div class="col-md-6">
                    <%= link_to('Refund',merchant_maxmind_path(@minfraud_result.id, new_action: "r"), method: :put, class: 'btn  btn-danger') %>
                  </div>
                  <div class="col-md-6 padding-left-10-perc">
                    <%= link_to('Accept',merchant_maxmind_path(@minfraud_result.id, new_action: "a"), method: :put, class: 'btn btn-success') %>
                  </div>
                </div>
              <%end %>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>
<%= javascript_include_tag asset_path('merchant/maxmind/risk_scores'), 'data-turbolinks-track' => 'reload' %>
<%= javascript_include_tag asset_path('merchant/datetime-modal'), 'data-turbolinks-track' => 'reload' %>
<!-- /.modal -->
