<div class="box">
  <div class="box-header with-border">
    <div class="row">
      <%=form_tag merchant_maxmind_index_path, method: :get, class:'search_transactions',  autocomplete: "off" do  %>
        <div class="col-md-12">
          <div class="row">
            <div class="col-md-6">
              <% @risk_evaluation_status.each do |box| %>
                <%
                    checked = false
                    if params[:risk_status].present? && params[:risk_status].include?(box[:value])
                      checked = true
                    end
                %>
                <div class="checkbox">
                  <%= check_box_tag 'risk_status[]', box[:value], checked -%>
                  <%= box[:view] -%>
                </div>
              <%end %>
            </div>
            <div class="col-md-6">
              <div class="row">

                <div class="col-md-12">
                  <div class="form-group" id="date_parent">
                    <label for="id">Date</label>
                    <input type='text' name="query[date]"  id="maxmind_date_range_picker" class="datepicker form-control" value="<%= params[:query].present? ? params[:query]["date"] : "" %>"  />
                    <!--                    <input type="hidden" name="offset" value="<%#= params[:offset]%>"  />-->
                    <input type="hidden" name="offset" value="<%=params[:query].present? && params[:query]['offset'].present? ? params[:query]['offset'] : Time.now.in_time_zone(cookies[:timezone]).strftime("%z")%>"  />
                  </div>
                </div>

              </div>
            </div>
          </div>
        </div>
        <div class="col-md-12 text-right">
          <input type="hidden" name="trans" value="<%= params[:trans]  if  params[:trans].present? %>"  />
          <button type="submit" class="btn btn-success btn-sm search_button">Search</button>
          <input type="hidden" name="tx_maxmind_filter" id="tx_maxmind_filter" value="<%= params[:tx_maxmind_filter].present? ? params[:tx_maxmind_filter] : "" %>"  />
        </div>
      <%end %>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="row">
          <div class="col-md-6">
            <h3 class="box-title"> Manual Review Transactions</h3>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="box-body">
    <div class="row filter_container">
      <div class="col-md-12">
        <span id="show">Show</span>
        <span id="show_left">
              <%= form_tag merchant_maxmind_index_path, method: :get , id: 'maxmind_filter'  do  %>
                 <%= select_tag "tx_maxmind_filter", options_for_select(@filters.map{|v|[v]}, selected: params[:tx_maxmind_filter].present? ? params[:tx_maxmind_filter] : "10"),
                                :prompt => false,
                                :required => true,
                                class: "form-control form-control-sm",
                                data: {confirm: "Are you sure ?"}
                 %>
            <% if params[:query].present? %>
                            <input type="hidden" name="query[date]" value="<%= params[:query][:date]  if  params[:query][:date].present? %>"  />
                            <input type="hidden" name="risk_status" value="<%= params[:risk_status] if  params["risk_status"].present? %>"  />
                        <% end %>
              <% end %>
            </span>
        <span id="entries">Entries</span>
      </div>
      <div class="col-md-12"></div>
    </div>
    <div class="col-md-12">
      <div id="manual_review_transaction_table">
        <table class="table table-striped">
          <thead>
          <th>Status</th>
          <th>WebSite</th>
          <th class="">Order ID</th>
          <th>Date</th>
          <th>Customer Name</th>
          <th>Amount</th>
          <th>
            RiskScore
            <div class="tooltip">
              <i class='fa fa-info-circle'aria-hidden='true' id="tool_tip"></i>
              <span class="tooltiptext riskscore"><%= I18n.t('maxmind.hover_text') %></span>
            </div>
            <%#= link_to "<i class='fa fa-exclamation-circle'></i>".html_safe, "#", :title => I18n.t('maxmind.hover_text') %>
          </th>
          <th></th>
          <th></th>
          </thead>
          <tbody>
          <% if @manual_review_transactions.count > 0 %>
            <% @manual_review_transactions.each do |t| %>
              <tr  id="on_click1" class="show-dynamic-modal" data-url-path= "<%= merchant_maxmind_path(t.minfraud_result.id) %>" data-modal-selector=".show-detail" data-modal-container-selector="#detail-transaction" data-method = "GET">
                <td class="status_btn"><%= maxmind_minfraud_detail_status(t.minfraud_result).html_safe %></td>
                <td><%= t.minfraud_result.present? ? maxmind_minfraud_website_url(t.minfraud_result) : "--" %></td>
                <!--              <td> <%#= t.seq_transaction_id.present? ? t.seq_transaction_id[0..5] : nil %></td>-->
                <!--              <td> <%#= t.receiver_name.present? ? t.receiver_name :  t.receiver.try(:name) %></td>-->
                <td> <%= t.minfraud_result.insight_detail["id"] %></td>
                <!--              <td><%#= "****#{t.last4}" %></td>-->
                <td class="timeUtc"> <%= t.created_at.strftime("%Y-%m-%d %H:%M:%S %z") %></td>
                <td> <%= t.sender_name.present? ? t.sender_name :  t.sender.try(:name) %></td>
                <td><%= number_with_precision(number_to_currency(t.total_amount), precision: 2) %></td>
                <td> <%= t.minfraud_result.try(:risk_score) %></td>
                <% if @minfraud_result.present? && @minfraud_result.qc_action == TypesEnumLib::RiskType::PendingReview %>
                  <td id="on_click1" class="hit-dynamic-href" data-url-path= "<%= merchant_maxmind_path(t.minfraud_result.id, new_action: "r") %>" data-modal-selector=".show-detail" data-modal-container-selector="#detail-transaction" data-method = "PUT" >
                    <i class="fa fa-reply"></i>
                    <%#= link_to('Reject',merchant_maxmind_path(t.minfraud_result.id, new_action: "r"), method: :post, class: 'btn btn-sm') %>
                  </td>
                  <td id="on_click1" class="hit-dynamic-href" data-url-path= "<%= merchant_maxmind_path(t.minfraud_result.id, new_action: "a") %>" data-modal-selector=".show-detail" data-modal-container-selector="#detail-transaction" data-method = "PUT" >
                    <i class="fa fa-check-circle"></i>
                  </td>
                <% else %>
                  <td></td>
                  <td></td>
                <% end %>
              </tr>
            <% end %>
          <% else %>
            <tr>
              <td colspan="9" id="no_data">Data Not Found</td>
            </tr>
          <% end %>
          </tbody>
        </table>
        <%#= paginate @manual_review_transactions, :theme => 'twitter-bootstrap-3', :pagination_class => "pagination-small pagination-centered pull-right"%>
      </div>
      <div class="col-md-12 tx_pagination">
        <div class="row">
          <div class="col-md-4">
            <span>Showing <%=@manual_review_transactions.try(:size)%> of <%= @manual_review_transactions.total_count %> records</span>
          </div>
          <div class="col-md-8">
            <div class="text-align-right-ach" id="paginator">
              <% if @manual_review_transactions.present? %>
                <%= paginate @manual_review_transactions, :theme => 'twitter-bootstrap-3', :pagination_class => "pagination-small pagination-centered pull-right padd"%>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<section id="detail-transaction"></section>