<%= simple_form_for @app , url: merchant_apps_path, html: { class: 'new_app_form' } do |f| %>
          <div class="form-group">
            <%= f.input :name, label: 'Name', required: true, error: t('merchant.apps.app_name'), input_html: {class: 'form-control'} %>
            <small class="form-text text-muted">Your application name. This is used to attribute in user-facing authorization screens. 20 characters max.</small>
          </div>
          <div class="form-group">
            <%= f.input :description, label: 'Description', required: true %>
            <small class="form-text text-muted">Your application description. This is used to attribute in user-facing authorization screens. Between 10 - 200 characters.</small>
          </div>
          <div class="form-group">
            <%= f.input :website, label: 'Website', required: true, as: :url %>
            <small class="form-text text-muted">Your application's publicly accessible home page, where users can go to download, make use of, or find out more information about your application.
              (If you don't have a URL yet, just put a placeholder here but remember to change it later.)</small>
          </div>
          <div class="form-group">
            <%= f.input :redirect_uri, label: 'Redirect URI', as: :url %>
            <small class="form-text text-muted">Where should we return after successfully authenticating?</small>
          </div>
          <div class="form-group">
            <%= f.submit 'Create App', class: 'btn btn-primary btn btn-block'%>
          </div>
<% end %>

<script>

  $(".new_app_form").validate({
      rules: {
          "oauth_app[name]": {
              required: true,
              minlength: 3,
              maxlength: 20,
          },
          "oauth_app[description]": {
              required: true,
              minlength: 10,
              maxlength: 200
          },
          "oauth_app[website]": {
              required: true,
              url: true
          },
          "oauth_app[redirect_uri]": {
          }
      },
          messages: {
              "oauth_app[name]":{
                  required: "Website Name is required.",
                  minlength: "Website Name Atleast 3 characters",
                  maxlength: "Website Name Atmost 20 characters"
              },
              "oauth_app[description]":{
                  required: "Website Decription is required.",
                  minlength: "Website Decription Atleast 10 characters",
                  maxlength: "Website Decription Atmost 200 characters"
              },
              "oauth_app[website]":{
                  required: "Email is required",
                  url: "Please enter a valid URL"
              },
              "oauth_app[redirect_uri]": {
              }
          },
      submitHandler: function(form) { // for demo
          $('.spnr').fadeIn();
          return true;
      }

  });
</script>
