      <!-- <div class="row"> -->
        <!-- <div class="col-md-4 mb-2"> -->
          <!-- <h5>Apps</h5> -->
        <!-- </div> -->
        <!-- <div class="col-md-8 Inbox invoices mb-2 text-right"> -->
<!--           <button id="close-button" data-toggle="modal" data-target="#new_app"  class="btn btn-success btn-sm text-right"><i class="fa fa-adn"></i> New App</button> -->
          <%#= render :partial=> 'merchant/invoices/invoices_menue'  %>
        <!-- </div> -->
      <!-- </div> -->

      <div class="box">
        <div class="box-header with-border">
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-6">
                      <p class="font-weight-bold">Keys & Secrets</p>
                    </div>
                    <div class="col-md-6 text-right">
                        <!--<button id="close-button" data-toggle="modal" data-target="#new_app"  class="btn btn-success btn-sm text-right"><i class="fa fa-adn"></i> New App</button>-->
                    </div>
                </div>
            </div>
        </div>

        <%	@apps.each do |app|  %>
          <div class="col-md-12">
            <div class="">
              <div class="row">
                <span class="col-md-4 heading">Consumer Key (API Key)</span>
                <span class="col-md-8" id="app_key"><%= app.key %></span>
              </div>
              <div class="row p10 br-b-grey">
                <span class="col-md-4 heading">Consumer Secret (API Secret)</span>
                <span class="col-md-8" id="app_secret"><%= app.secret %></span>
              </div>
              <div class="row p10 br-b-grey">
                <span class="col-md-4 heading">Owner</span>
                <span class="col-md-8"><%= app.user.name %></span>
              </div>
              <div class="row p10 br-b-grey">
                <span class="col-md-4 heading">Owner ID</span>
                <span class="col-md-8"><%= app.user.ref_no %></span>
              </div>
            </div>
            <!--<#%=	link_to 'Regenerate Keys' ,merchant_app_path(@app),class: 'btn btn-info btn-sm regenerate_key',method: :put, remote:  true   %>-->
            <hr>
          </div>
        <% end %>
      </div>
        <!--        <div class="box-body">-->
<!--            <div class="">-->
<!--                <div class=' table-responsive'>-->
<!--                    <table class="table table-striped table-responsive" >-->
<!--                        <thead>-->
<!--                            <tr>-->
<!--                              <th>Id</th>-->
<!--                              <th>Merchant ID</th>-->
<!--                                <th>Name</th>-->
<!--                                <th>Website</th>-->
<!--                              <th>Redirect URI</th>-->
<!--                              <th>Action</th>-->
<!--                            </tr>-->
<!--                        </thead>-->
<!--                        <tbody>-->
                            <%#	 if !@apps.nil? %>
                            <%#	@apps.each do |c|  %>
<!--                            <tr>-->
<!--                              <td><%#=c.id	  %></td>-->
<!--                              <td><%#=c.user.ref_no	  %></td>-->
<!--                                <td><%#=c.name	  %></td>-->
<!--                                <td><%#= c.website%></td>-->
<!--                                <td><%#=	c.redirect_uri  %></td>-->
<!--                                <td><%#= link_to '<button type="button" class="btn btn-outline-secondary btn-sm app_view_button" data-toggle="modal" data-target=".myModal"><i class="icon-eye icons"></i></button>'.html_safe, merchant_app_path(c.id),html: {class: "btn btn-outline-secondary btn-md"} %></td>-->
<!--                            </tr>-->
                            <%#	 end  %>
                            <%# else %>
<!--                            <tr><tr><td colspan="6"><h3 style="text-align: center; background-color: #2b542c; padding-bottom: 5px; padding-top: 5px; color: white;">No Entries Yet!</h3></td></tr>-->
                            <%#	 end  %>
<!--                        </tbody>-->
<!--                    </table>-->
<!--                </div>-->
<!--                <div class="card-footer text-right" id="new_request_footer">-->
<!--                    <div class="row">-->
<!--                        <div class="col-md-2 text-left">-->
<!--                            <small>Total <b><%#=@apps == nil ? 0 : @apps.count %></b></small>-->
<!--                        </div>-->
<!--                        <div class="col-md-10 ">-->
                          <%#= paginate @apps, :theme => 'twitter-bootstrap-3', :pagination_class => "pagination-small pagination-centered pull-right padd"%>
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->

<!--<section id="custom_modal"></section>-->


<!--<div class="modal fade  "  tabindex="-1"  role="dialog" id="new_app">-->
<!--  <div class="modal-dialog form-group">-->
<!--    <div class="modal-content">-->
<!--      <div class="modal-header text-left bg-primary text-white">-->
<!--        <h4 class="modal-title"><i class="fa fa-adn"></i><span class="ml-2">New App</span></h4>-->
<!--        <button type="button" class="close" data-dismiss="modal">&times;</button>-->
<!--      </div>-->
<!--      <div class="row">-->
<!--        <div class="col-md-12">-->
<!--          <div class="card-header bordered">-->
<!--            <div class="card-body">-->
              <%#= render partial: 'merchant/apps/new', locals:{user: current_user} %>
<!--            </div>-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->

<!--<script>-->
<!--  $('.app_view_button').click(function () {-->
<!--     $('.spnr').fadeIn();-->
<!--  });-->
<!--</script>-->