<!DOCTYPE html>
<html>

<head>

  <%= render 'layouts/meta' %>

  <%= action_cable_meta_tag %>
  <%= Gon::Base.render_data(init: true, :nonce => content_security_policy_script_nonce) %>
  <%#= include_gon(:nonce => content_security_policy_script_nonce) %>
  <%= favicon_link_tag asset_path('favicon.ico'), :rel => 'shortcut icon', :type => "image/x-icon" %>
  <%= favicon_link_tag asset_path('apple-touch-icon.png'), :rel => 'apple-touch-icon', :type => "image/png", :sizes => "180x180" %>
  <%= favicon_link_tag asset_path('favicon-32x32.png'), :rel => 'icon', :type => "image/png", :sizes => "32x32" %>
  <%= favicon_link_tag asset_path('favicon-16x16.png'), :rel => 'icon', :type => "image/png", :sizes => "16x16" %>
  <link rel="manifest" href="<%= asset_path('site.webmanifest') %>">
  <link rel="mask-icon" href="<%= asset_path('safari-pinned-tab.svg') %>" color="#5bbad5">
  <meta name="apple-mobile-web-app-title" content="QuickCard">
  <meta name="application-name" content="QuickCard">
  <meta name="msapplication-TileColor" content="#da532c">
  <meta name="theme-color" content="#ffffff">

  <%= stylesheet_link_tag 'admins_stylesheet', media: 'all', 'data-turbolinks-track' => 'reload' %>
  <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs4/jszip-2.5.0/dt-1.10.16/b-1.5.1/b-html5-1.5.1/r-2.2.1/datatables.min.css"/>
  <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/simple-line-icons/2.4.1/css/simple-line-icons.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />
  <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/multiple-select/1.2.0/multiple-select.css">
  <link href="https://gitcdn.github.io/bootstrap-toggle/2.2.2/css/bootstrap-toggle.min.css" rel="stylesheet">

  <script src="https://cdnjs.cloudflare.com/ajax/libs/validate.js/0.12.0/validate.min.js"></script>
  <script src="https://code.highcharts.com/highcharts.js"></script>
  <%= javascript_include_tag 'admins_js' %>
  <%= javascript_include_tag 'admins/companies' %>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.2/moment.js"></script>

  <script type="text/javascript" src="https://cdn.datatables.net/v/bs4/jszip-2.5.0/dt-1.10.16/b-1.5.1/b-html5-1.5.1/r-2.2.1/datatables.min.js"></script>
  <script src="https://cdn.ckeditor.com/4.6.2/standard/ckeditor.js"></script>
  <script src="https://cdn.ckeditor.com/ckeditor5/19.1.1/classic/ckeditor.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@7.32.4/dist/sweetalert2.all.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.15/jquery.mask.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/15.1.2/js/intlTelInput.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/15.1.2/js/intlTelInput-jquery.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/15.1.2/js/utils.js"></script>
  <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/multiple-select/1.2.0/multiple-select.js"></script>
  <script src="https://gitcdn.github.io/bootstrap-toggle/2.2.2/js/bootstrap-toggle.min.js"></script>
  <link href="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/7.21.1/sweetalert2.min.css" rel="stylesheet" />
  <script src="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/7.21.1/sweetalert2.min.js"></script>

  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js" integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU="crossorigin="anonymous"></script>

  <%= csrf_meta_tag %>
  <%= stylesheet_link_tag 'admins/admins_css', media: 'all', 'data-turbolinks-track' => 'reload' %>
  <%= stylesheet_link_tag "#{params[:controller]}" %>
  <%= javascript_include_tag params[:controller] if javascript_exists?(params[:controller])%>
</head>

<body>
  <%#= query_diet_widget(:bad_count => 5, :bad_time => 2500) if Rails.env.development? || ENV.any? {|x,_| x=~ /^HEROKU_APP/ } %>
  <div class="app-loader admin-display">
    <div class="cssload-thecube">
      <div class="cssload-cube cssload-c1"></div>
      <div class="cssload-cube cssload-c2"></div>
      <div class="cssload-cube cssload-c4"></div>
      <div class="cssload-cube cssload-c3"></div>
    </div>
  </div>
  <div class="main-wrapper">
    <div class="app" id="app">
      <%= render 'shared/admin_header' %>
      <% if current_user.admin? || current_user.employee? %>
        <%= render 'shared/admin_sidebar' %>
      <% elsif current_user.support_mtrac? || current_user.support_customer? %>
        <%= render 'shared/support_mtrac_sidebar' %>
      <% elsif current_user.support? %>
        <%= render 'shared/support_sidebar' %>
      <% end %>
      <div class="sidebar-overlay" id="sidebar-overlay"></div>
      <article class="content responsive-tables-page">
          <%= render 'shared/flash' %>
          <%= yield %>
      </article>
    </div>
  </div>
  <div id="cover-spin"></div>
  </body>
  <footer class="footer">
    <div class="footer-block buttons"></div>
    <div class="footer-block author">
      <ul>
<!--        <li>Quick Card <%#= ENV['version_tag'] %></li>-->
        <li>QuickCard <%= QuickCard::APP_VERSION %></li>
      </ul>
    </div>
  </footer>
<!--  <script>-->
<!--    $(document).ready(function () {-->
<!--      var tz = jstz.determine();-->
<!--      document.cookie = "timezone=" + tz.name();-->
<!--    });-->
<!--  </script>-->
</html>