<!DOCTYPE html>
<html>
<head>
  <%= stylesheet_link_tag 'admins/checkout/documentation2.css' %>
  <%= stylesheet_link_tag 'admins/checkout/documentation1.css' %>


</head>

<body class="index"  data-languages="[&quot;shell&quot;,&quot;ruby&quot;,&quot;python&quot;,&quot;javascript&quot;]">
<%= yield %>
</body>

<%= javascript_include_tag 'admins/checkout/doc.js' %>
</html>
