<!DOCTYPE html>
<html lang="en"
      class="wf-poppins-n4-active wf-poppins-n5-active wf-roboto-n5-active wf-poppins-n6-active wf-poppins-n3-active wf-roboto-n3-active wf-roboto-n4-active wf-roboto-n6-active wf-roboto-n7-active wf-poppins-n7-active wf-active">
<!-- begin::Head -->
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>
    QuickCard
  </title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

  <%= stylesheet_link_tag 'v2/merchant/vendors_bundle', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= stylesheet_link_tag 'v2/merchant/style_bundle', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= stylesheet_link_tag 'v2/checkout/checkout', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= stylesheet_link_tag 'v2/merchant/custom_2', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'v2/merchant/vendors_bundle', 'data-turbolinks-track': 'reload' %>

  <script src="https://ajax.aspnetcdn.com/ajax/jquery.validate/1.11.1/jquery.validate.min.js"></script>
  
</head>

<body id="body--aa" class="order_class m-page--fluid m--skin- m-header--fixed m-header--fixed-mobile m-aside-left--enabled m-aside-left--skin-dark m-aside-left--offcanvas m-footer--push m-aside--offcanvas-default m-aside-left--minimize m-brand--minimize <%= params[:action] == "rtp_payment" || params[:action] == "rtp_payment1" ? "background-rgba-7" : "m-content--skin-light2" %>">
<div class="m-grid m-grid--hor m-grid--root m-page">
  <!--must be here -->
  <%= yield %>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<%= javascript_include_tag 'v2/checkout/base', 'data-turbolinks-track': 'reload' %>
<%= javascript_include_tag 'v2/merchant/scripts_bundle', 'data-turbolinks-track': 'reload' %>
<%= javascript_include_tag 'v2/checkout/checkout', 'data-turbolinks-track': 'reload' %>
</body>
</html>
