<!DOCTYPE html>
<html>
<head>
  <title>QuickCard+ Customer Orders</title>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="keywords" content="payment quickcard blockchain wallet online creditcard merchants">
  <meta name="description" content="Quickcard">
  <meta name="ROBOTS" content="NOODP" />
  <meta name="robots" content="noindex, nofollow">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <%= favicon_link_tag asset_path('favicon.ico'), :rel => 'shortcut icon', :type => "image/x-icon" %>
  <%= favicon_link_tag asset_path('apple-touch-icon.png'), :rel => 'apple-touch-icon', :type => "image/png", :sizes => "180x180" %>
  <%= favicon_link_tag asset_path('favicon-32x32.png'), :rel => 'icon', :type => "image/png", :sizes => "32x32" %>
  <%= favicon_link_tag asset_path('favicon-16x16.png'), :rel => 'icon', :type => "image/png", :sizes => "16x16" %>
  <link rel="manifest" href="<%= asset_path('site.webmanifest') %>">
  <link rel="mask-icon" href="<%= asset_path('safari-pinned-tab.svg') %>" color="#5bbad5">
  <meta name="apple-mobile-web-app-title" content="Quickcard">
  <meta name="application-name" content="Quickcard">
  <meta name="msapplication-TileColor" content="#da532c">
  <meta name="theme-color" content="#ffffff">
  <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700,900&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Roboto:400,500,700,900|Source+Sans+Pro:400,600,700,900&display=swap" rel="stylesheet">

  <%= stylesheet_link_tag 'customers/base' %>
  <%= Gon::Base.render_data(:nonce => content_security_policy_script_nonce) %>
  <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">

  <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script> -->
  <%# javascript_include_tag "checkout", 'data-turbolinks-track' => 'reload' %>
  <!-- <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script> -->

</head>

<body id="bgimg" class="m-page--fluid m--skin- m-content--skin-light2 m-header--fixed m-header--fixed-mobile m-aside-left--enabled m-aside-left--skin-dark m-aside-left--offcanvas m-footer--push m-aside--offcanvas-default m-aside-left--minimize m-brand--minimize">
	<div class="m-grid m-grid--hor m-grid--root m-page">
      
			<%= render '/customers/header' %>

			<div class="m-grid__item m-grid__item--fluid m-grid m-grid--ver-desktop m-grid--desktop m-body">
        
        		<button class="m-aside-left-close  m-aside-left-close--skin-dark " id="m_aside_left_close_btn">
            		<i class="la la-close"></i>
        		</button>
				<%= render 'customers/side_bar' %>
        <div class="m-grid__item m-grid__item--fluid m-wrapper content_boday">
          <%= render 'customers/order_search' %>
          <%= render 'shared/customer_dashboard_flash' %>
				<%= yield %>
        </div>
        
			</div>
      <%= render 'customers/footer' %>
	</div>
	<%= render 'customers/profile_bar' %>
</body>
<%= javascript_include_tag 'customers/base.js' %>
</html>