<!DOCTYPE html>
<html>
<head>
  <%= render 'layouts/meta' %>


  <%= favicon_link_tag asset_path('favicon.ico'), :rel => 'shortcut icon', :type => "image/x-icon" %>
  <%= favicon_link_tag asset_path('apple-touch-icon.png'), :rel => 'apple-touch-icon', :type => "image/png", :sizes => "180x180" %>
  <%= favicon_link_tag asset_path('favicon-32x32.png'), :rel => 'icon', :type => "image/png", :sizes => "32x32" %>
  <%= favicon_link_tag asset_path('favicon-16x16.png'), :rel => 'icon', :type => "image/png", :sizes => "16x16" %>
  <link rel="manifest" href="<%= asset_path('site.webmanifest') %>">
  <link rel="mask-icon" href="<%= asset_path('safari-pinned-tab.svg') %>" color="#5bbad5">
  <meta name="apple-mobile-web-app-title" content="Quickcard">
  <meta name="application-name" content="Quickcard">
  <meta name="msapplication-TileColor" content="#da532c">
  <meta name="theme-color" content="#ffffff">

  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => 'reload' %>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/simple-line-icons/2.4.1/css/simple-line-icons.css">
  <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />

  <script src="https://cdn.ckeditor.com/4.6.2/standard/ckeditor.js"></script>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => 'reload' %>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.2/moment.js"></script>
  <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
  <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@7.32.4/dist/sweetalert2.all.min.js"></script>
  <script src='https://www.google.com/recaptcha/api.js'></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.15/jquery.mask.min.js"></script>
  <script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
  <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
</head>

<body class="m--skin- m-header--fixed m-header--fixed-mobile m-aside-left--enabled m-aside-left--skin-dark m-aside-left--offcanvas m-footer--push m-aside--offcanvas-default">
  <%#= query_diet_widget(:bad_count => 5, :bad_time => 2500) if Rails.env.development? || ENV.any? {|x,_| x=~ /^HEROKU_APP/ } %>


  <%= render 'shared/header' if user_signed_in? %>
  <%= render :partial => 'shared/flash' %>
  <%= yield %>
  <%= render 'shared/footer' %>
</body>
</html>
