<!DOCTYPE html>
<html>
<head>
  <%= render 'layouts/meta' %>

  <%= favicon_link_tag asset_path('favicon.ico'), :rel => 'shortcut icon', :type => "image/x-icon" %>
  <%= favicon_link_tag asset_path('apple-touch-icon.png'), :rel => 'apple-touch-icon', :type => "image/png", :sizes => "180x180" %>
  <%= favicon_link_tag asset_path('favicon-32x32.png'), :rel => 'icon', :type => "image/png", :sizes => "32x32" %>
  <%= favicon_link_tag asset_path('favicon-16x16.png'), :rel => 'icon', :type => "image/png", :sizes => "16x16" %>
  <link rel="manifest" href="<%= asset_path('site.webmanifest') %>">
  <link rel="mask-icon" href="<%= asset_path('safari-pinned-tab.svg') %>" color="#5bbad5">
  <meta name="apple-mobile-web-app-title" content="Quickcard">
  <meta name="application-name" content="Quickcard">
  <meta name="msapplication-TileColor" content="#da532c">
  <meta name="theme-color" content="#ffffff">

  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => 'reload' %>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/simple-line-icons/2.4.1/css/simple-line-icons.css">

  <script src="https://cdn.ckeditor.com/4.6.2/standard/ckeditor.js"></script>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => 'reload' %>
</head>

<body>
  <%= render :partial => 'shared/flash' %>
  <%= yield %>
</body>
</html>
