<!DOCTYPE html>
<html>

<head>
  <%= render 'layouts/meta' %>

  <%= action_cable_meta_tag %>

  <%= favicon_link_tag asset_path('favicon.ico'), :rel => 'shortcut icon', :type => "image/x-icon" %>
  <%= favicon_link_tag asset_path('apple-touch-icon.png'), :rel => 'apple-touch-icon', :type => "image/png", :sizes => "180x180" %>
  <%= favicon_link_tag asset_path('favicon-32x32.png'), :rel => 'icon', :type => "image/png", :sizes => "32x32" %>
  <%= favicon_link_tag asset_path('favicon-16x16.png'), :rel => 'icon', :type => "image/png", :sizes => "16x16" %>
  <link rel="manifest" href="<%= asset_path('site.webmanifest') %>">
  <link rel="mask-icon" href="<%= asset_path('safari-pinned-tab.svg') %>" color="#5bbad5">
  <meta name="apple-mobile-web-app-title" content="QuickCard">
  <meta name="application-name" content="QuickCard">
  <meta name="msapplication-TileColor" content="#da532c">
  <meta name="theme-color" content="#ffffff">

  <%= stylesheet_link_tag 'admin/base', media: 'all', 'data-turbolinks-track' => 'reload' %>
  <%# <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs4/jszip-2.5.0/dt-1.10.16/b-1.5.1/b-html5-1.5.1/r-2.2.1/datatables.min.css"/>
  <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/simple-line-icons/2.4.1/css/simple-line-icons.css"> %>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

  <%# <script src="//cdnjs.cloudflare.com/ajax/libs/validate.js/0.12.0/validate.min.js"></script> %>
  <%= javascript_include_tag 'admin/base' %>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.2/moment.js"></script>
  <%# <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.32/pdfmake.min.js"></script> %>
  <%# <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.32/vfs_fonts.js"></script> %>
  <%# <script type="text/javascript" src="https://cdn.datatables.net/v/bs4/jszip-2.5.0/dt-1.10.16/b-1.5.1/b-html5-1.5.1/r-2.2.1/datatables.min.js"></script> %>
  <%# <script src="https://cdn.ckeditor.com/4.6.2/standard/ckeditor.js"></script> %>

  <%= csrf_meta_tag %>
</head>

<body>
  <div class="app-loader" style="display: none;">
    <div class="cssload-thecube">
      <div class="cssload-cube cssload-c1"></div>
      <div class="cssload-cube cssload-c2"></div>
      <div class="cssload-cube cssload-c4"></div>
      <div class="cssload-cube cssload-c3"></div>
    </div>
  </div>
  <div class="main-wrapper">
    <div class="app" id="app">
      <%= render 'shared/admin_header' %>
      <%= render 'shared/admin_sidebar' %>
      <div class="sidebar-overlay" id="sidebar-overlay"></div>
      <article class="content responsive-tables-page">
        <%= render 'layouts/flash' %>
        <section class="in"></section>
        <div class="sidebar-overlay" id="sidebar-overlay"></div>
        <div class="title-block">
          <h1 class="title"><%= controller_name.capitalize! %></h1>
        </div>
        <%= yield %>
      </article>
    </div>
  </div>
  </body>
  <footer class="footer">
    <div class="footer-block buttons"></div>
    <div class="footer-block author">
      <ul>
        <li>Quick Card 1.9.8</li>
      </ul>
    </div>
  </footer>
  <script>
    $(document).ready(function () {
      var tz = jstz.determine();
      document.cookie = "timezone=" + tz.name();
    });
  </script>
</html>
