<%= stylesheet_link_tag asset_path("users/registrations"), media: 'all', 'data-turbolinks-track' => 'reload' %>
<div class="container theme-showcase" role="main" id="main">
  <div class="row">
    <div class="col-md-4 col-md-offset-4">
      <div class="panel panel-default">
        <div class="panel-body">
            <%= form_for(resource, as: resource_name, url: registration_path(resource_name),class:"form-signin", :html => { :multipart => true } ) do |f| %>
                <div class="">
                  <ul class="nav nav-pills nav-justified thumbnail setup-panel">
                    <li class="active">
                      <a href="#step-1">
                        <h4 class="list-group-item-heading">Basic Info</h4>
                      </a>
                    </li>
                    <li class="disabled">
                      <a href="#step-2">
                        <h4 class="list-group-item-heading">Cards</h4>
                      </a>
                    </li>
                  </ul>

                  <div class="row setup-content" id="step-1">
                    <div class="col-xs-12">
                      <div class="col-md-12 text-center">
                        <div class="form-group"><%= f.label :phone_number %><br />
                          <%= f.text_field :phone_number, autofocus: true  , id:"username" ,class:"form-control"%>
                        </div>

                        <div class="form-group">
                          <%= f.label :name %><br />
                          <%= f.text_field :name , id:"username" ,class:"form-control"%>
                        </div>

                        <div class="form-group">
                          <%= f.label :email %><br />
                          <%= f.text_field :email, id:"username" ,class:"form-control"%>
                        </div>
                        <%= f.hidden_field :role , value: 2 %>
                        <div class="form-group">
                          <%= f.label :password, "Password" %><br />
                          <%= f.password_field :password, id:"password" ,class:"form-control"%>
                        </div>

                        <div class="form-group">
                          <%= f.label :password_confirmation, "Confirm Password" %><br />
                          <%= f.password_field :password_confirmation, id:"password" ,class:"form-control"%>
                        </div>



                        <div class="pull-right">
                          <%= link_to 'Cancel', root_path, class:'btn btn-default' %>
                          <a id="activate-step-2" class="btn btn-primary" href="#" data-turbolinks="false">Next</a>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="row setup-content" id="step-2">
                    <div class="col-xs-12">
                      <div class="">

                        <div class="imageupload">
                          <div class="panel-heading clearfix">
                            <h3 class="panel-title pull-left">Front Card</h3>
                          </div>
                          <div class="file-tab panel-body">
                            <label class="btn btn-default btn-file">
                              <span>Browse</span>
                              <input type="file" name="user[front_card_image]" required>
                            </label>
                            <button type="button" class="btn btn-default">Remove</button>
                          </div>
                        </div>


                        <div class="imageupload-2">
                          <div class="panel-heading clearfix">
                            <h3 class="panel-title pull-left">Back Card</h3>
                          </div>
                          <div class="file-tab panel-body">
                            <label class="btn btn-default btn-file">
                              <span>Browse</span>
                              <input type="file" name="user[back_card_image]" required>
                            </label>
                            <button type="button" class="btn btn-default">Remove</button>
                          </div>
                        </div>

                        <div class="pull-right">
                          <a id="activate-step-1" class="btn btn-primary" href="#" data-turbolinks="false">Back</a>
                          <%= f.submit "Create Account", class:"btn btn-success " %>
                        </div>

                      </div>
                    </div>
                  </div>
                </div>
            <% end %>

          <section id="signUpform"></section>
        </div>
      </div>
    </div>
  </div>
  </div>
<script>


    document.addEventListener("turbolinks:load", function() {

        var navListItems = $('ul.setup-panel li a'),
            allWells = $('.setup-content');

        allWells.hide();

        navListItems.click(function(e)
        {
            e.preventDefault();
            var $target = $($(this).attr('href')),
                $item = $(this).closest('li');

            if (!$item.hasClass('disabled')) {
                navListItems.closest('li').removeClass('active');
                $item.addClass('active');
                allWells.hide();
                $target.show();
            }
        });

        $('ul.setup-panel li.active a').trigger('click');

        // DEMO ONLY //
        $('#activate-step-2').on('click', function(e) {
            $('ul.setup-panel li:eq(1)').removeClass('disabled');
            $('ul.setup-panel li a[href="#step-2"]').trigger('click');
//            $(this).remove();
        });

        $('#activate-step-1').on('click', function(e) {
            $('ul.setup-panel li:eq(1)').removeClass('disabled');
            $('ul.setup-panel li a[href="#step-1"]').trigger('click');
//            $(this).remove();
        });

        var $imageupload = $('.imageupload');
        $imageupload.imageupload();

        var $imageupload_2 = $('.imageupload-2');
        $imageupload_2.imageupload();

    });
</script>

