$("#signUpform").html("<%= j render(partial: 'user_signup') %>");
$("#user_signup").css('display','none');
$("#step-2").css('display','none');
setTimeout(function () {
    $('.signUpform').find('#step-2').hide();
}, 300);
