<%= stylesheet_link_tag "v2/merchant/password_expired" %>
<%= stylesheet_link_tag "v2/merchant/custom_2" %>
<%= stylesheet_link_tag "v2/merchant/vendors_bundle" %>
<%= stylesheet_link_tag "v2/merchant/profiles" %>
<%= stylesheet_link_tag "v2/merchant/custom" %>


<div class="modal fade" id="ResetPasswordModel"  tabindex="-1" role="dialog" aria-labelledby="orderModelLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header" >
        <p class="change-password-modal-text">Change Password</p>
<!--        <button type="button" class="close" data-dismiss="modal" aria-label="Close">-->
<!--          <span aria-hidden="true">&times;</span>-->
<!--        </button>-->
      </div>
      <div class="modal-body1">
        <center>
          <p class="sixty-days">
            QuickCard's security guidelines requires you to change your password<br>
            every 60 days. Please change your password to continue using the site.
          </p>
        </center>
        <div class="m-wizard__form">
          <%= form_for(resource, as: resource_name, url: [resource_name, :password_expired], html: { method: :put,class: "m-form m-form--label-align-left- m-form--state-" }) do |f| %>
<!--        <form class="m-form m-form--label-align-left- m-form--state-" id="m_form">-->
            <% if f.object.errors.present? %>
              <% reset_password_errors(f.object.errors.messages)%>
            <% end %>
            <div class="m-portlet__body">
              <center>

                <div class="mt-5">
                    <div class="row">
                      <div class="col-lg-3"></div>
                      <div class="col-lg-6">

                        <div class="form-group m-form__group text-left">
                          <label  for="corporate_name" class="Current-Password">
                            Current Password
                          </label>
                          <div class="m-input-icon m-input-icon--right">
                            <% if f.object.errors.messages[:current_password].present? %>
                              <%= f.password_field :current_password,class:"form-control m-old-welcome-password mp-input username current_password_error" %>
                            <% else %>
                              <%= f.password_field :current_password,class:"form-control m-old-welcome-password mp-input username" %>
                            <% end %>
<!--                            <input type="password" class="form-control m-old-welcome-password mp-input">-->

                            <span class="m-input-icon__icon m-input-icon__icon--right">
                                <span>
                                  <i class="la ">
                                    <%= image_tag "v2/login/login-eye.svg",class: 'show_image current_password_show' , id: 'current_password_close' %>
                                    <%= image_tag "v2/login/login-open-eye.svg", class: 'hide_image password_show current_password_show', id: 'current_password_open' %>
                                  </i>
                                </span>
											      	</span>
                          </div>
                        </div>

                        <div class="form-group m-form__group  text-left">
                          <label  for="corporate_name" class="Current-Password">
                            New Password
                          </label>
                          <div class="m-input-icon m-input-icon--right">
                            <%= f.password_field :password,class:"form-control m-new-welcome-password mp-input " %></p>

<!--                            <input type="password" class="form-control m-new-welcome-password mp-input ">-->

                            <span class="m-input-icon__icon m-input-icon__icon--right">
                                <span>
                                  <i class="la ">
                                    <%= image_tag "v2/login/login-eye.svg",class: 'show_image new_password_show' , id: 'new_password_close' %>
                                    <%= image_tag "v2/login/login-open-eye.svg", class: 'hide_image password_show new_password_show', id: 'new_password_open' %>
                                  </i>
                                </span>
											      	</span>
                          </div>
                          <!--
                                                      <input type="password" class="form-control m-new-welcome-password mp-input "  aria-describedby="emailHelp" >
                          -->
<!--                          <span class="diff-pass ml-3">The new password must be different from the previous one.</span>-->
                          <input type="hidden" name="m-new-welcome-password" class="hide_new_welcome_password"/>
                     <!--      <div id='tooltips'>
                            <div class="tip"></div>
                            <p class="pwd-suggestion-title">Your password must have at least:</p>
                            <div class="password-suggesstions">
                              <div class="valid"><i class="fa fa-check" aria-hidden="true"></i></div>
                              <span class="pwd-suggestion-message">8 Characters</span>
                            </div>

                            <div class="password-suggesstions">
                              <div class="valid"><i class="fa fa-check" aria-hidden="true"></i></div>
                              <span class="pwd-suggestion-message">1 Number</span>
                            </div>
                            <div class="password-suggesstions">
                              <div class="invalid"><i class="fa fa-times" aria-hidden="true"></i></div>
                              <span class="pwd-suggestion-message">1 Uppercase Letter (A-Z)</span>
                            </div>

                            <div class="password-suggesstions">
                              <div class="valid"><i class="fa fa-check" aria-hidden="true"></i></div>
                              <span class="pwd-suggestion-message">1 Lowerrcase Letter (a-z)</span>
                            </div>

                          </div> -->
                                              <div id='tooltips'>
                      <div class="tip"></div>
                      <p class="pwd-suggestion-title">Your password must have at least:</p>
                      <div class="password-suggesstions">
                        <div class="invalid"><i class="fa fa-times invalid-time" aria-hidden="true" id="8_characters"></i></div>
                        <span class="pwd-suggestion-message">8 Characters</span>
                      </div>

                      <div class="password-suggesstions">
                        <div class="invalid"><i class="fa fa-times invalid-time" aria-hidden="true" id="1_number"></i></div>
                        <span class="pwd-suggestion-message">1 Number</span>
                      </div>
                      <div class="password-suggesstions">
                        <div class="invalid"><i class="fa fa-times invalid-time" aria-hidden="true" id="upcase"></i></div>
                        <span class="pwd-suggestion-message">1 Uppercase Letter (A-Z)</span>
                      </div>

                      <div class="password-suggesstions">
                        <div class="invalid"><i class="fa fa-times invalid-time" aria-hidden="true" id="downcase"></i></div>
                        <span class="pwd-suggestion-message">1 Lowerrcase Letter (a-z)</span>
                      </div>

                    </div>
                        </div>
                        <div class="form-group m-form__group  text-left">
                          <label  for="corporate_name" class="Current-Password">
                            Confirm New Password
                          </label>
                          <div class="m-input-icon m-input-icon--right">
                            <%= f.password_field :password_confirmation,class:"form-control m-confirm-welcome-password mp-input" %></p>

<!--                            <input type="password" class="form-control m-confirm-welcome-password mp-input">-->

                            <span class="m-input-icon__icon m-input-icon__icon--right">
                                <span>
                                  <i class="la ">
                                    <%= image_tag "v2/login/login-eye.svg",class: "show_confirm_image confrim_password_show" , id: 'confrim_password_close' %>
                                    <%= image_tag "v2/login/login-open-eye.svg", class: 'hide_image password_show confrim_password_show', id: 'confrim_password_open' %>
                                  </i>
                                </span>
											      	</span>
                          </div>
                          <!--
                                                      <input type="password" class="form-control m-confirm-welcome-password mp-input " id="corporate_name" aria-describedby="emailHelp" >
                          -->
                          <span class="password-mismatch display_none ml-3">Password Mismatch</span>
                          <input type="hidden" name="m-confirm-welcome-password" class="hide_confirm_welcome_password"/>
                        </div>
                        <div class="form-group m-form__group ">
                          <div class="text--center">
                            <%= f.submit 'Change Password', class: "btn login-welcome-change-password-button change-btn-pass",id: "submit" %>

<!--                            <a href="#" class="btn login-welcome-change-password-button change-btn-pass" data-wizard-action="next">-->
<!--                              Change Password-->
<!--                            </a>-->
                          </div>
                        </div>

                      </div>
                      <div class="col-lg-3"></div>
                    </div>

          </div>

          <hr class="error-hr">
                <div class="log_out_maint pull-right mr-5 mb-4 mt-2">
<!--                  <a href="#">-->
                    <%= link_to  destroy_user_session_path, :method => :delete do  %>
                      <%= image_tag 'v2/merchant/icons/log_out.svg' %> Log out
                  <% end %>
<!--                  </a>-->
                </div>
              </center>
            </div>
          <% end %>

          <div class="m-portlet__foot m-portlet__foot--fit m--margin-top-40">
              <div class="m-form__actions">
                <div class="row">
                  <div class="col-lg-12">

                  </div>
                </div>
              </div>
            </div>
        </div>
      </div>
    </div>
  </div>
</div>
<%= javascript_include_tag "v2/merchant/password_expired" %>
<%#= javascript_include_tag "v2/merchant/custom_2" %>
